[2016-09-01 18:59] sridmad commented on #194
@Antranilan what is the version of the extension?

[2016-09-01 19:01] ghost commented on #194
0.9.0

[2016-09-01 19:12] sridmad commented on #164
We will look into releasing for Arm for the next version of the extension.

[2016-09-01 19:22] delmyers commented on #186
@pieandcakes, do you have a couple of minutes to look at this? I thought that we had fixed this with this release. Did we forget to fix it on the debugger side?

[2016-09-01 19:34] pieandcakes commented on #186
@delmyers We didn't remove the requirement in the package.json. We can have this fixed for the next release.

[2016-09-01 19:37] delmyers commented on #136
@bobo4629
Just for a little more clarification, are you seeing bad characters in your terminal output, or in the debug console?

[2016-09-01 21:04] TaQk commented on #182
Hi,
thank you for a good news. I will be waiting for new version.

Regards

[2016-09-01 21:04] #182 closed, assigned to nobody

[2016-09-01 21:59] #167 closed, assigned to nobody

[2016-09-01 22:00] rchiodo commented on #167
THis is a vscode issue. Not sure how to reopen issues.

[2016-09-01 22:25] rchiodo commented on #181
This should be fixed in our next release.

[2016-09-01 22:25] #181 closed, assigned to rchiodo

[2016-09-02 00:31] wpp2014 commented on #188
My machine has machine and disk space. I tried on different machine and I encountered the same problem.

[2016-09-02 00:41] mong87suk commented on #164
@sridmad
Thank you for your support.
Please let me know when you release for Arm for the version of the extension.

Best regards,
Felinus Jeong

[2016-09-02 05:08] ghost commented on #130
I completed reinstalled vscode, then reinstalled the package. Same issue. Tried it on windows, same issue
![vscodebug](https://cloud.githubusercontent.com/assets/17906086/18193243/4220678e-70f9-11e6-84c2-3984008cefc1.PNG)
Tried it on an altogether different machine(Running Ubuntu 14.04). Same error

[2016-09-02 06:26] NewProggie commented on #191
@delmyers This is my launch.json

[code]

And this is my tasks.json

[code]

If I start a new bash shell without loading any environment however, I can debug my executable sucessfully:

[code]

**Edit:** This is the error message I am getting. This is the same as if I would have tried to debug my executable without exporting the previously mentioned environment variables

[code]

[2016-09-02 09:32] bobo4629 commented on #136
in the terminal output

[2016-09-02 10:22] alexfh opened #196 "C_Cpp.clang_format_style=file works incorrectly"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:49:32.489Z)
- C/C++ for Visual Studio Code extension version: 0.9.0
- OS Version: Linux x64 3.13.0-92-generic

The extension doesn't seem to apply C_Cpp.clang_format_style=file correctly. My settings.json contents:

[code]

But files seem to be formatted using the "Visual Studio" style.

Steps to Reproduce:
1. In

[2016-09-02 12:25] harmishhk opened #197 ""C_Cpp.clang_format_path" option has no effect"
I have noticed that in update 0.9.0 of the C++ extension formatting related settings have been moved from .vscode/c_cpp_properties.json to user setting (settings.json), which was hard to find as it is not yet documented.

Anyway, in setting.json the intellisense suggest "C_Cpp.clang_format_path" option to set path to clang_format executable, which has no effect. Instead I need to set clang_format

[2016-09-02 14:50] chris-ray commented on #145
+1

[2016-09-02 15:43] sean-mcmanus commented on #197
Yeah, sorry about the lack of documentation on the breaking settings change.

I'm not able to repro the behavior you describe on Windows/Linux. Setting "C_Cpp.clang_format_path" works for me and the lowercase version doesn't work.

[2016-09-02 16:19] sean-mcmanus commented on #196
Yeah, it's a bug on Linux -- it isn't detecting the .clang-format file. It doesn't repro on Windows. We should have a fix in a future release. We haven't implemented -assume-filename support yet -- if you want that you could add a separate feature request. We support .clang-format style files (and _clang-format files will be supported in a future release).

[2016-09-02 16:42] AndrewBrianHall commented on #135
Added documentation at https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md

[2016-09-02 16:42] #135 closed, assigned to nobody

[2016-09-02 17:35] delmyers commented on #191
@edumunoz, can you take a look at this?

[2016-09-02 17:52] delmyers commented on #164
@sridmad, is this going to be officially on your backlog? If so, we will have to do something as well.
@mong87suk, Raspberry pi is not officially supported right now. We have gotten it to work previously, but after some investigation, the arm copy of mono is no longer working for our debugger. We will put this on the backlog, and talk about priority.

[2016-09-02 18:06] jgoshi commented on #187
Which version of cpptools are you using? If you update to the latest (version 0.9.0) this is fixed. Also note that if your Node.js project contains any cpp related files the browse database will be created. If after trying those things your problem still exists please reopen this issue.

[2016-09-02 18:06] #187 closed, assigned to jgoshi

[2016-09-02 18:08] jgoshi commented on #185
We currently are unable to detect this situation (understanding the different branches of #ifdef statements based on your environment macro definitions). As we continue to improve our intellisense we can address this issue.

[2016-09-02 18:32] JinnTonic opened #198 "auto completion outputs wrong results"
platform : macOS 10.12 beta, Visual Studio Code 1.4.0, extension C/C++ 0.9.0

1-Type in this code :

[code]

 2- test auto-complete by typing "myStructB." in the main function.
Every possible symbol gets displayed (only "myStructA" should be displayed) ; semantics is not taken into account.
As a comparison, the extension "C/C++ Clang" does a correct job ; it is also much much quicker to highlight

[2016-09-02 19:42] sridmad commented on #130
Not sure why this is happening. Will try to get a repro by trying ton different machines so we can narrow down the issue.

[2016-09-02 21:14] sridmad commented on #197
@sean-mcmanus let's document the changes in readme under what's changed section

[2016-09-02 21:16] sean-mcmanus opened #199 "Switch Header/Source doesn't work for newly created files"
Create a new .h and/or .cpp file with the same name and do the C/C++ Switch Header/Source command.

Bug: It doesn't work...until the user closes/reopens the folder.

[2016-09-02 22:03] weinand opened #200 "Debugger doesn't recognize `konsole` as a terminal on Kubuntu"
_From @nholthaus on September 2, 2016 13:0_
- VSCode Version: 1.4.0
- OS Version: Kubuntu 14.04

The debugger can't start due to the following error:

IMHO, it's not a good idea to mix KDE and gnome (especially low level things like terminals), so many KDE users wouldn't have one of those two installed. Instead, vscode should recognize `konsole` as a terminal application.

Interestingly, the integ

[2016-09-02 22:03] weinand commented on #200
_From @Tyriar on September 2, 2016 19:49_

There is a PR out for this from @nholthaus #11452.

@weinand are there any debug implications when adding this as a default terminal to `parts/execution`?

[2016-09-02 22:03] weinand commented on #200
Currently every debug extension is using their own implementation of extern terminal support (if any). So this issue is a problem of the C++ debugger and I will move the issue to their repository.

However, in the August milestone we've introduced new debug protocol API that helps debug extensions to use the integrated terminal of VS Code without having to deal with the complexity of supporting te

[2016-09-02 23:30] jacdavis commented on #200
@nholthaus, it is suppose to fallback to xterm if it can't find gnome_terminal. IIRC, konsole didn't support what we needed when we tried to implement it. @pieandcakes was the dev that looked at it.

In the near future, we plan to move to the new console support that was just added to vscode.

In the meantime, can you install xterm?

[2016-09-03 00:44] pieandcakes commented on #164
Hi @mong87suk,

I have a workaround to get the debugger working for you. You will need to download the mono runtime located at:
http://download.mono-project.com/repo/debian/pool/main/m/mono/

The file you are looking for is called:
[mono-runtime-sgen_4.2.3.4-0xamarin1_armhf.deb](http://download.mono-project.com/repo/debian/pool/main/m/mono/mono-runtime-sgen_4.2.3.4-0xamarin1_armhf.deb)

Extract th

[2016-09-03 02:54] mimorisuzuko commented on #187
Its version is the latest and my project contains cpp files. So the browse database is created, namely cannot prevent it? ok, thank you to your reply.

[2016-09-03 03:00] mimorisuzuko commented on #187
In the case of Node.js, any modules is in `node_modules`. So, it is possible that this extension ignores any cpp files in `node_modules`? If so, I can avoid this bug.

[2016-09-03 16:50] mong87suk commented on #164
Hello @pieandcakes
I've tried to run the debug tool of vs code while referring to the explanation you informed me.
It works well. Thank you for your support.
I have a question.
I want to debug as root.
so I've tried to run vs code following command.
`sudo .code.sh`
and then I've run debug but Debug adapter process has terminated unexpectedly.
Could you explain how to run debug as root?

Best regar

[2016-09-03 17:23] agauniyal opened #201 "show std::string as string during debugging"
Currently std::string variables are shown as STL containers, but it would be quite beneficial if we could see actual contents as well, either during hovering over that var or by putting it at watch.

[2016-09-03 19:41] asthana86 opened #202 "@Symbol doesn't map to correct location in source file"
**Steps to repro:**
1. Open C/C++ folder in Visual Studio Code
2. Let the indexing complete
3. Format C/C++ document
4. Bring up command-pallete, and list symbols
5. Not all symbols map or direct to correct file source locations.

[2016-09-03 20:46] harmishhk commented on #197
After digging a little deeper I found that, in fact, the `"C_Cpp.clang_format_path"` option works correctly, however only with `clang-format` version >=3.8.0. I was providing a path to `clang-format` executable version 3.6.0 (which is the default version for ubuntu 14.04). In my case, when I wrote `c_cpp` in lower case the extension was just ignoring this option and using the default value of `"C_

[2016-09-03 20:46] #197 closed, assigned to nobody

[2016-09-04 17:02] artagnon commented on #195
Hi @sridmad,

I have set up no include paths, and the codebase is proprietary: I cannot provide code samples from the repository. Also, the stack overflow is only _one_ of the stack traces: I've provided two more that aren't the same problem, and I have quite a few other stack traces I can provide. Not terribly helpful, but can we try to tackle the problem differently?

[2016-09-04 18:07] cantide5ga commented on #72
@sridmad, @jgoshi  Should we expect variable substitution to work in `c_cpp_properties.json`?

My project(s) root as convention contains user-defined header files in an include folder.  I'd like to generically include this path for implementations and tests instead of using a relative path in the `#include`.

[2016-09-07 07:16] trollcop opened #203 "Intellisense doesn't work at all"
1/ have folder open in code
2/ folder has lib\stuff\somefiles.h defining struct junk_t { bla bla };
3/ folder root has main.c
4/ int main(void) {
5/     junk_t bar;
6/    bar.| pressing dot shows a million completion options but nothing related to the contents of struct junk until I actually type most of the identifier at which point I might as well just finish typing it.

[2016-09-07 12:57] newbrain opened #204 "Feature Request: Custom user platforms"
**Background**
VSCode, with the cpptools and the native debug extensions, is a pleasant environment for embedded development. Unfortunately, no explicit support for platforms outside Mac, Windows and Linux is provided.
To have intellisense-like code assist, one of the predefined platforms has to be (ab)used with embedded specific settings. If more than one embedded target is in use, this is far fr

[2016-09-07 18:29] edumunoz commented on #191
Thanks for the bug report, @NewProggie!

I am able to repro it. We will be changing the way environment variables are set.

[2016-09-07 18:34] NewProggie commented on #191
@edumunoz Nice, thanks. Will you keep us updated here? Can we expect an update any time soon?

[2016-09-07 19:08] jgoshi commented on #183
If you close the file, then reopen does the green line (and the message) go away?

[2016-09-07 19:38] harry-cpp commented on #183
No.

[2016-09-07 19:45] jgoshi commented on #183
Can you send me the whole folder (I'm assuming this repros for you on a very simple sample right?)

[2016-09-07 19:49] harry-cpp commented on #183
The contents of the folder is fully visible in screenshot above... it just has the main.c and main.cpp files (plus the 2 hidden files vs code created).

I can still upload it if you want.

[2016-09-07 19:53] jgoshi commented on #183
Yes please. I'm wondering if there are things in your settings files or the browse database that can give me some insight since when I tried this I couldn't repro. Also after you send me those, could you try deleting the .vscode directory then open the root folder again? I wonder if somehow your browse database got messed up.

[2016-09-07 19:57] harry-cpp commented on #183
The project: https://drive.google.com/open?id=0BzRP0_lI8PyTdFltZnhMbEZqSmc

Tried it, doesn't work.

[2016-09-07 20:02] sean-mcmanus commented on #176
I fixed it, but it won't make it into the upcoming 0.9.1 release (should be in the next one).

[2016-09-07 20:05] sean-mcmanus commented on #184
The fix won't be in the upcoming 0.9.1 release, but it should be in the next one.

[2016-09-07 20:08] sean-mcmanus commented on #196
The fix should be in the upcoming 0.9.1 release (only supports ".clang-format" though). The release after that should support "_clang-format".

[2016-09-07 20:08] sean-mcmanus commented on #182
The fix should be in the upcoming 0.9.1 release.

[2016-09-07 20:09] jgoshi commented on #183
Where is your c_cpp_properties.json file located? It should be in the .vscode directory, but I don't see it there?

[2016-09-07 20:11] harry-cpp commented on #183
VS Code settings folder? I am using the default file.

[2016-09-07 20:13] harry-cpp commented on #183
Oh wait, creating a c_cpp file in current project removes the green underline.... close it if this was intended to be like this.

[2016-09-07 20:17] jgoshi commented on #183
Did you manually place it in the VS Code settings folder? If you clicked on the light bulb when the header wasn't found, it would (should) have created the file in the .vscode folder.

[2016-09-07 20:19] harry-cpp commented on #183
I placed it with the light bulb.

[2016-09-07 20:19] #183 closed, assigned to nobody

[2016-09-07 20:43] jgoshi commented on #109
If this is a class member function, it has just been fixed and will appear in the next release. If it still repros at that time (or if this is a different issue) please reopen with more details.

[2016-09-07 20:43] #109 closed, assigned to jgoshi

[2016-09-07 21:39] sean-mcmanus opened #205 "Warning/error messages don't update their line numbers after formatting"
Format the code below and the green line renders on the wrong line:

char__ = "'""/_";
# include <stdio.h>
# define m 21
# define o(l, k) for(l=0; l<k; l++)
# define n(k) o(T, k)

There are other cases where the green line renders wrong too. The message doesn't update after any edits, but the line doesn't get re-drawn. Maybe we can clear these warnings after an edit or update it with the correct l

[2016-09-07 22:29] ghost opened #206 "[Feature Request] Implement Assembly View/Disassembly View for Debugger"
Being able to view assembly and step through assembly instructions would be useful. Especially when debug information isn't available for a certain library. Right now it just displays a message saying unknown source, when it goes into one of these functions.  Being able to view values of registers in the GUI some way. Not entirely sure how that would work with VSCode, but being able to the registe

[2016-09-07 22:52] sean-mcmanus commented on #205
Also, things like "Go to definition" also don't update and can go to the wrong location.

[2016-09-07 23:10] sean-mcmanus commented on #202
Currently you have to save your changes after an edit (e.g. formatting) or "stuff" doesn't update.

[2016-09-07 23:25] sean-mcmanus opened #207 "Symbol search fails for a function definition if it uses a certain macro"
Type #main in the Command Palette with the code below and it will fail to find the symbol main.
# define assign(l, k) l = k;

int main()
{
    int i, t;
    assign(i, ((t & 3) - 3 ? 16 : 37))
    {
    }
}

[2016-09-08 00:06] sean-mcmanus commented on #207
Adding a ";" at the end of assign fixes it. It looks like the parser is not correctly applying the macro.

[2016-09-08 01:39] sean-mcmanus opened #208 "C/C++ extension can crash after changing the c_cpp_properties.json and switching configurations"
The bug is more likely to repro with a folder with many files.
1. Make an edit to the c_cpp_properties.json (e.g. adding an include path).
2. Change the configuration (e.g. via the bottom right area).

It can randomly cause the extension process to crash due to 2 threads calling into parse_folder at the same time.

[2016-09-08 02:59] xiaoyao11 opened #209 "Some lines of the Non-English file is copyed and pasted to the end line when press "Format Code" constantly."
OS version: win 10  1511
VS Code version: 1.4
Cpptools version: 0.9.0
1.Open a Non-English file as below screenshot:
![1](https://cloud.githubusercontent.com/assets/21498631/18335194/0ffec9ec-75b0-11e6-8c92-889061cb46d2.PNG)
2.Then right click and click Format Code, the code is formatted as below screenshot:
![2](https://cloud.githubusercontent.com/assets/21498631/18335536/8bfb9168-75b2-11e6-8609-

[2016-09-08 07:09] jhasse opened #210 "Unable to start debugger because of key "TEMP""
Debugging stoped working for me with 0.9.0 on Windows. I'm getting:

[code]

Sorry for the German, I already have VSCode set to English, but it seems this error message comes from Windows? This is how I would translate it:

[code]

This is my launch.json:

[code]

[2016-09-08 10:19] tonerdo opened #211 "CPP tools creates .browse.VC.db and .browse.VC.db-wal"
VSCode Version: 1.4
OS Version: OS X 10.11.5
CPP Tools Version: 0.90

Steps to Reproduce:

Open a new folder in VS Code that doesn't have `.vscode` folder.

Expected Behaviour:
Should leave the folder as is or give notification to setup additional tools e.g. .NET Core debugger

Actual Behaviour:
Creates a `.vscode` folder containing `.browse.VC.db` and `.browse.VC.db-wal` files even when folder co

[2016-09-08 14:55] mimorisuzuko commented on #211
I wrote the similar issue at #187 . The answer is as below.

[2016-09-08 15:03] tonerdo commented on #211
@mimorisuzuko From my comment I'm using the latest. Also these files are created in a Python project and even a .NET Core project.

[2016-09-08 18:27] edumunoz commented on #188
Hi @wpp2014

This error is coming from VSCode (not the C/C++ extension) and I assume when you said you can't launch on Ubuntu, you meant you can't open VSCode.

Here's some documentation on how to fix that problem
https://code.visualstudio.com/docs/setup/linux

(Ctrl+F for `ENOSPC`)

Let us know if that helps. If the problem is with the VSCode itself and not the extension, you can search for exist

[2016-09-08 19:49] jacdavis commented on #210
Thanks for reporting this. Unfortunately, I'm not able to repro this on mingw. Can you please enable engine logging and send the last section to us? To do so add this to launch.json:
"logging": {
                "engineLogging": true
            }

And then check the debug console after it repros.

[2016-09-08 20:48] nwgh opened #212 "Can't debug on OS X with LLDB"
VS Code Version: 1.5.0-insider (4fc690be310dd02e0ab6529c0b9bf348a8b26a19)
C/C++ Extension Version: 0.9.1
OS X Version: 10.11.6 (15G1004)

When trying to debug a process by starting it through the debug pane, I get  "Error while trying to enter break state." LLDB exits, and the debug console states my program exited. However, my program continues to run, and I can cmd-tab to it and interact with it

[2016-09-08 21:10] clangen opened #213 "No longer able to debug in OS X with LLDB"
Debugging used to work for me a couple versions ago (cpptools v0.8.x?), but now it doesn't. I see this in the debugger output window during app startup.

`Error while trying to enter break state. Debugging will now stop. Cannot access a disposed object.`

The failure exists in vscode 1.4.0 and 1.5.0 using cpptools 0.9.0 and 0.9.1. As an aside, I can see the cpptools plugin install LLDB 3.8.0 witho

[2016-09-08 22:27] clangen commented on #213
Also maybe worth noting: if I set `stopAtEntry` to `true`, the app will break at the entry point. But subsequent breakpoints still do NOT work.

[2016-09-08 22:55] joeskeen commented on #187
I agree with @mimorisuzuko. I frequently open node.js projects and the plugin always creates the files, even though there is a 0% chance that I will need to use any of the C++ tools in that project as the node_modules are upstream dependencies.  If there were a setting you could set in the settings.json that allowed you to ignore a folder, that would be awesome.

Something like this:

[code]

or

[2016-09-08 23:41] agauniyal commented on #206
@marktrz if you're on Linux, nemiver does it all and is quite a performer. I'm using it as an alternative to vs debugger on linux and so far it performs well. Now only if vscode could implement its features 🎐

[2016-09-08 23:44] agauniyal opened #214 "release notes"
would be helpful so we could check out what issues were fixed and of course the new features that were implemented.

[2016-09-08 23:46] jacdavis commented on #206
Thanks for the feedback. You can view disassembly in vscode using the -exec disassembly command in the debug console. Registers can be viewed the same way (-exec info registers).

[2016-09-09 00:38] jyavenard opened #215 "Can't get VS to work with LLDB on linux"
Tried with lldb 3.7, 3.8 and 3.9
When debugging is started,

"Unable to start debugging. Unable to establish a connection to LLDB. Debug output may contain more information." is shown

The console simply show the usage help:

[code]

[2016-09-09 00:41] jacdavis commented on #215
1)      When we debug with lldb, we have to use lldb-mi which is the mi front end. It appears you pointed it to lldb proper instead.

2)      That said… Lldb-mi has a number of bugs we had to fix in order to it working on mac. We’re working to push these into the mainline lldb, but this hasn’t happened yet. Unfortunately, that means that lldb will not work on linux until that happens.

From: Jean-

[2016-09-09 00:42] jyavenard commented on #215
that was super quick answer.. thank you...

[2016-09-09 00:57] ZCShou opened #216 "Failed at stage: getPlatformInfo"
VScode 1.50 insider
Win10

Updating C++ Debugger dependencies...
Failed at stage: getPlatformInfo
Error: Command failed: wmic os get osarchitecture
'wmic' is not recognized as an internal or external command,
operable program or batch file.

Finished
![2016-09-09_085637](https://cloud.githubusercontent.com/assets/8591065/18371982/593cc38c-766b-11e6-9819-0876f6f5b0a7.png)

[2016-09-09 01:06] jacdavis commented on #216
Thanks for reporting this. wmic is a utility that should be included in all versions of windows after windows vista. Have you changed your default path setting to remove system32 or anything like that? On my machine, it is located here: C:\Windows\System32\wbem\WMIC.exe

If you execute "where wmic" from a command prompt, is it able to find it?

[2016-09-09 04:19] ZCShou commented on #216
@jacdavis
Thanks for your help .I solved it！！

I need to run VScode as  administrator.

[2016-09-09 06:50] monzool opened #217 "cpptools generates file with special characters"
When launching vscode with the c/c++ plugin, it generates a file with special characters: `?{ER@?҂@`

To reproduce:

[code]

Not a big problem per say, if it was not so that it breaks svn :-(

[code]

rm also barf on the filename, so I have to delete by inode number

OS: Kubuntu 16.04.1 LTS (Xenial Xerus)

[code]

Code ver:

[code]

(same result with code ver 1.4)

[2016-09-09 07:46] jhasse commented on #210
I've just updated to VSCode 1.5 and now the error is gone. I'll reopen when it comes back :)

[2016-09-09 16:22] jacdavis commented on #216
Weird, afaik, admin shouldn't be required for that.

[2016-09-09 18:16] jgoshi commented on #152
Do you have any cpp files in those directories? We only parse extensions associated with c/c++. If you rename your file to end with cpp do you still have this problem? If so, please re-open this issue and attach a small code sample that repros the issue.

[2016-09-09 18:16] #152 closed, assigned to nobody

[2016-09-09 18:46] jgoshi commented on #195
I have a fix for the second crash (will be available with the next release, cpptools version 0.10.0). The first one is weird, thread was shutting down so something else must have gone wrong. For the stack overflow, is this one consistent?

[2016-09-10 00:03] RoscoP commented on #213
I'm also experiencing this.

[2016-09-10 06:12] aaiyer opened #218 "Linux Debugging (gdb) - Cannot see program output in debug console"
Trying to debug a simple C++ console app in Linux. When invoking the debugger, a DebugConsole xterm launches, and I am able to debug the program well, but the outputs from the console program are not being shown in the Debug Console. I have set logging.programOutput=true in my launch.json

Is there something I need to additionally for the program output to be shown correctly?

[2016-09-10 09:42] aaiyer opened #219 "Linux Debugging (gdb) - Cannot execute gdb command in debug console"
In the debug console, you are unable to do anything more than just print variables or expression. There need to be a way to execute arbitrary gdb commands.

[2016-09-10 09:46] aaiyer opened #220 "Linux Debugging (gdb) - Debug Console should reappear after prelaunch task output"
My launch.json has a preLaunchTask and the output of this task is shown, if it is successful, this output should be hidden and the Debug Console shown. Right now, the output is shown and you have to go and reopen the Debug Console

[2016-09-10 10:56] renkun-ken opened #221 "Not recognize C++11 lambda expression"
VSCode: 1.5.1
OS: Ubuntu 16.04
C/C++ Extension: 0.9.1

I'm writing C++ 11 code and use lambda in my code. The following code is a simple example:

[code]

The code compiles perfectly with `gcc` and `clang` but in VSCode it produces the following warnings and errors:
1. 'auto' type specifier is a C++11 extension [-Wc++11-extension](7, 11)
2. expected expression (7, 20)

Below is a screenshot of thi

[2016-09-11 01:10] wpp2014 commented on #188
I think the problem is with the VSCode itself and not the extension. Thank you.

[2016-09-11 03:52] HardSoft2023 commented on #218
I have the same problem. Anyone have any idea is welcome!

[2016-09-11 04:08] HardSoft2023 commented on #218
@aaiyer you can set `"externalConsole": false,` in launch.json . Then the output will appear in debug console. It works for me . you can try.

[2016-09-11 10:08] #214 closed, assigned to nobody

[2016-09-11 10:18] aaiyer commented on #218
@GuoLiuFang Tried that, still launches an xterm. What is your terminal.external.linuxExec configured to?

[2016-09-11 18:28] reporter123 opened #222 "Not all include files found on Ubuntu."
VSCode: 1.5.1
OS: Ubuntu 16.04
C/C++ Extension: 0.9.1

Basically Ubuntu has choosen to use 64bit and 32bit arch specific folders for most header files. I don't know why.
  64bit folder: "/usr/include/x86_64-linux-gnu"
 32bit folder: "/usr/include/i386-linux-gnu"

Theses folders need to be added to "includePath" for include files in these folders to be found by VSCode. clang/gcc give no errors but

[2016-09-11 18:34] reporter123 commented on #204
This would help me as well since my distro does something non-standard with header files.

[2016-09-12 12:51] deepkolos commented on #222
windows7 64bit +1

[2016-09-12 16:58] sean-mcmanus commented on #209
Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/176 .

[2016-09-12 16:58] #209 closed, assigned to nobody

[2016-09-12 18:05] jacdavis commented on #220
This issue was moved to Microsoft/vscode#11900

[2016-09-12 18:05] #220 closed, assigned to nobody

[2016-09-12 18:06] jacdavis commented on #220
Thanks for reporting this. I believe this is an issue with vscode, not with the extension. I've moved the issue over there.

[2016-09-12 18:07] jacdavis commented on #219
You can execute gdb commands by typing "-exec" before the gdb command in the debug console. For instance, to view registers, type "-exec info registers".

[2016-09-12 18:07] #219 closed, assigned to nobody

[2016-09-12 18:09] jacdavis commented on #218
Thanks for reporting this.

Unfortunately, on Linux we are forced to open the console regardless of externalConsole status. This is because of an issue with gdb where it would deadlock when sharing the same tty as vscode.

At some point, we hope to support the built in console vscode just added, but this hasn't been completed yet.

If your program output is not getting displayed in xterm, please r

[2016-09-12 18:09] #218 closed, assigned to nobody

[2016-09-12 18:12] #216 closed, assigned to nobody

[2016-09-12 18:12] #215 closed, assigned to nobody

[2016-09-12 21:02] edumunoz commented on #213
Thanks for the report, @clangen and @RoscoP. It seems like this issue has been reported here https://github.com/Microsoft/vscode-cpptools/issues/212 . Let's continue the conversation there.

[2016-09-12 21:02] #213 closed, assigned to nobody

[2016-09-12 22:39] pieandcakes commented on #212
@nwgh Can you confirm that you are compiling your debuggee with the -g flag?

[2016-09-12 22:47] pieandcakes commented on #217
@sean-mcmanus @sridmad Can one of you take a look and see if the language service is generating this file? I see it on my machine too but its before debugging.

[2016-09-12 22:51] pieandcakes commented on #212
Also, can you try it with a small "Hello World" style app and see if it works or not?

[2016-09-12 22:56] clangen commented on #212
My project has the `-g` flag and cannot debug. Here's an example:

[code]

[2016-09-12 23:00] sridmad commented on #204
You should be able to create a config with any name. We have to code to detect the platform that VSCode is running on and select it by default.

To select the config of your choice,
click on the config name on the status bar (bottom right corner) or Hit F1 (to drop down command windows) and type >C/Cpp: Select a Configuration to list the available configuration.
Select the required config.

[2016-09-12 23:03] sridmad commented on #205
Dupe of #202

[2016-09-12 23:03] #205 closed, assigned to jgoshi

[2016-09-12 23:06] nwgh commented on #212
@pieandcakes Yes, my compile flags include -g (I've updated the gist, as the compile flags for my projects are rather large).

I tried a simpler program (also in the updated gist), and that seemed to debug fine - I set a breakpoint at line 9, and it all worked.

This latest attempt was with code 1.6.0-insider (52bceb1207188ecfe8c5b1fbe841b60df512a08a) which still fails to debug a locally-built fir

[2016-09-12 23:47] pieandcakes commented on #212
Would either of you be willing to send me a repro project? You can email it to me at piel@microsoft.com

Also, can you attach an engine log for me? To enable engine logging, please follow these steps:
1. Locate your extension folder. For **VSCode** it is located at `~/.vscode/extensions/ms-vscode.cpptools-0.9.1`. For the insiders build, please replace `.vscode` in the path with `.vscode-insiders`

[2016-09-12 23:58] clangen commented on #212
@pieandcakes emailed the debug log, and also sample project information to your address listed above.

[2016-09-13 00:02] pieandcakes commented on #212
Thanks. Let me set it up and debug it and see whats wrong.

[2016-09-13 10:32] NewProggie commented on #191
@edumunoz Was your fix included in the recently released version 0.9.1 (https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools)?

[2016-09-13 10:46] artagnon commented on #195
@jgoshi That's great news! The second crash (the lambda thing) is the most common one in my logs: to satisfy my curiosity, could you point to the diff that fixes this? The first crash (std::thread destructor) seems to have only one instance, so it's relatively low-priority. However, there are atleast three instances of the third (stack overflow); I'd say it's consistent.

On that note, I've dug up

[2016-09-13 11:16] azynheira opened #223 "Not consistent C++ code highlighting"
VSCode Version: Version 1.5.2 Commit 66f37fd Date 2016-09-12T13:22:54.636Z Shell 0.37.6 Renderer 49.0.2623.75 Node 5.10.0
OS Version: 4.4.0-38-generic #57~14.04.1-Ubuntu SMP Tue Sep 6 17:20:43 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Steps to Reproduce:
Have cscode-cpptools installed and check the samples below.

See the slightly different code highlighting for the 2 identical code blocks:
1.
![sc

[2016-09-13 16:37] edumunoz commented on #191
No, sorry. I will comment on this issue once the fix is released.

[2016-09-13 17:21] jacdavis commented on #49
@99Minecrafter99, we added full windows debugging support in our last release. This is in addition to our Cygwin/mingw support that was added in June.

Thanks

[2016-09-13 17:21] #49 closed, assigned to nobody

[2016-09-13 17:24] jacdavis commented on #50
Full windows debugging support was added in our last release. This is in addition to our existing mingw/Cygwin windows debugging support. Please reactivate if this doesn't meet your needs.

[2016-09-13 17:24] #50 closed, assigned to nobody

[2016-09-13 17:35] ghost opened #224 "Stack overflow when parsing deeply nested file"
If you load a C++ file with too many levels of statement nesting into VS, then VS crashes with a stack overflow. We’ve fixed this for Win32 by wrapping the invocation of the “tag parser” in an SEH `__try`/`__catch` that detects and recovers from the stack overflow. The Win32-specific SEH code is wrapped in “`#ifdef _WIN32`”.

This needs to be fixed on Linux and Mac as well.

[2016-09-13 18:05] johncruise commented on #143
I know that this was closed but I still see this message pop up on version 0.9.1.

[2016-09-13 18:10] johncruise commented on #178
This problem still shows up on **0.9.1**.

Output window shows:

[code]

Could you help clear up what server it is trying to connect to?  If this is a local settings (which I couldn't find), could you point us to it?

Thanks

[2016-09-13 19:55] delmyers commented on #178
@pieandcakes, is this our debugger extension trying to download dependencies, or @sridmad is this the language server?

[2016-09-13 20:11] jgoshi commented on #222
In the next release of cpptools (version 0.10.0) we use a default include path of /usr/include which will solve your problem (we will use everything under /usr/include recursively). If you want to be more restrictive you can update your specific include path (as you did).

[2016-09-13 20:11] #222 closed, assigned to jgoshi

[2016-09-13 20:15] jgoshi commented on #24
In the next release of cpptools (version 0.10.0) we automatically look for headers under /usr/include (recursive search) as the default. If your system is different, you can still manually add the correct paths to your includePath.

[2016-09-13 20:15] #24 closed, assigned to jgoshi

[2016-09-13 20:18] jgoshi commented on #171
What OS are you on? Did the process (Microsoft.VSCode.CPP.Extension.exe for Windows, Microsoft.VSCode.CPP.Extension.Linux for Linux, Microsoft.VSCode.CPP.Extension.darwin for Mac) crash or is it still running? We are addressing issues that cause the process to crash, which can also result in parsing to never finish.

[2016-09-13 20:20] jgoshi commented on #97
In the next release of cpptools (version 0.10.0) the rename issue should be fixed. We don't currently support Go to Declaration, could you open an issue for that feature request? Regarding go to definition not working properly (going to a header file) this should also be fixed in version 0.10.0. If it still repros could you open a new issue with details (and a small sample if possible).

[2016-09-13 20:20] #97 closed, assigned to jgoshi

[2016-09-13 20:23] jgoshi commented on #195
The code for cpptools isn't on github so I can't provide a diff. But the root issue was a null check (we assumed there were always results in the db but that isn't necessarily the case). The stack overflow issue we are looking at but don't have a fix yet. I'll try looking into that last one you just posted about the std::vector destructor.

[2016-09-13 20:34] sean-mcmanus commented on #223
I'm not able to repro that. Can you provide a small repro?

[2016-09-13 20:44] sean-mcmanus commented on #217
I'm not able to repro this bug on Ubuntu 14.

[2016-09-13 20:51] pieandcakes commented on #178
@jgoshi @delmyers  @sridmad  This is from the download manager. I found this error message in the language client code.

[2016-09-13 20:53] jgoshi commented on #217
I'm not able to repro this either (Ubuntu 16).

[2016-09-13 21:00] delmyers commented on #50
@myhlivecom, VsCode is not a full IDE. It does not natively support build/deploy tasks. In order to build using the VC++ tools, you have to download the Windows SDK:

https://msdn.microsoft.com/en-us/library/ms717422(v=vs.110).aspx

Once you use the SDK to build your application, you can debug it using VsCode.

[2016-09-13 21:26] azynheira commented on #223
Try with the attached source code. And I get the snapshot attached. Put the source code in a separate directory.
[example.cpp.txt](https://github.com/Microsoft/vscode-cpptools/files/470835/example.cpp.txt)

![screenshot](https://cloud.githubusercontent.com/assets/346780/18492099/e4ff31ce-7a09-11e6-901b-1bad38b92fa8.png)

Tell me if it works.
Pedro

P.S. -  I think its the 'color' from the 'no refe

[2016-09-13 21:36] sean-mcmanus commented on #223
Yes it doesn't repro for me with just the C++ extension. What extension is generating the "no references found"? It looks like that other extension may be causing an issue or there's some sort of interaction with ours.

[2016-09-13 21:49] jgoshi commented on #195
The std::vector destructor crash looks like (from the call stack) that it happens when the program is exiting? Does that always happen when you close the program? Or is this crashing (with this stack) at other times?

[2016-09-13 21:58] azynheira commented on #223
Yes, the problem is with https://marketplace.visualstudio.com/items?itemName=kisstkondoros.typelens extension.  Close this issue mea culpa!

[2016-09-13 22:15] sean-mcmanus commented on #223
Ok.

[2016-09-13 22:15] #223 closed, assigned to nobody

[2016-09-13 22:53] sean-mcmanus commented on #178
The server is the Microsoft.VSCode.CPP.Extension.exe. It appears to be crashing. Sounds like we need more repro or crash details.

[2016-09-13 22:58] sean-mcmanus commented on #166
Are you still reproing this with the latest bits? We need more repro details.

[2016-09-13 23:00] sean-mcmanus commented on #151
The versions are too old...re-open if it's reproing with the latest bits.

[2016-09-13 23:00] #151 closed, assigned to nobody

[2016-09-13 23:06] sean-mcmanus commented on #136
Can you give more info? Is this when debugging? Where is the printf used?

[2016-09-13 23:20] zeeshan595 opened #225 "Tag Parser doesn't recognize symbols defined in Macros"
I recently started using vs code for c++ programming with vulkan API and came across an issue. When I type "VkInstance instance;" It never auto completes VkInstance but it auto completes vkCreateInstance(..) fine. I have my include path properly defined in c_cpp_properties.json. I also built and ran the application to make sure its working fine.

someone pointed out
"The Vulkan header wraps the ty

[2016-09-14 11:23] newbrain commented on #204
Thanks for your answer!
I appreciate the wonderful work that's being done with Code and this extension.

Yes, I can do that, but the support is only partial.
I have defined a "STM32F7" platform:
- The include paths are actually recognized
- I have a warning stating that this is not an accepted value. This is annoying.
- There's no way (that I found!) to have the build task options linked not (only

[2016-09-14 13:30] damienpontifex opened #226 "CMake include directories"
Is it possible to integrate/hook into CMake and CMakeLists.txt files to enable the `includePath` property of the json configuration to be populated with cmake `include_directories` function paths?

Currently I setup third party includes in my CMake configuration and it would be great if there was a way to get this automatically similar to the CMake generator for IDEs do. I have no idea how this wo

[2016-09-14 13:44] xaverh commented on #194
Does your project folder name have a special character in it? This problem occurred to me when I had a "#" sign in the folder name.

[2016-09-14 14:20] sean-mcmanus commented on #204
The warning about unaccepted values is already fixed (for our next release).

What are build task options?

[2016-09-14 14:49] newbrain commented on #204
Good to hear! Thanks for the information.

In the task.json file, one has the possibility to define different behaviors  according to the [build host operating system](http://code.visualstudio.com/docs/editor/tasks#_operating-system-specific-properties).

A nice feature would be to have also target specific options sets: it is quite common, for example, that I can write the same code for a ARM M1,

[2016-09-14 16:43] sean-mcmanus commented on #126
Our extension is not currently open sourced.

[2016-09-14 16:43] #126 closed, assigned to nobody

[2016-09-14 17:56] sean-mcmanus commented on #204
All the "Tasks: " commands are controlled by VS Code itself and our extensions doesn't have any way to modify that behavior currently. As a workaround, you could create target specific tasks with different names, e.g. "taskName": "build ARM M1".

[2016-09-14 18:07] newbrain commented on #204
Thanks for your answer and your time.
I think Microsoft's teams are doing an excellent work with VS Code, its extensions, and the attitude towards the users.

I will close the item, then, and decide whether to bring it to VS Code.

As for the workaround, that's exactly what I am doing!
So, all in all, it's just a minor annoyance.

[2016-09-14 18:07] #204 closed, assigned to nobody

[2016-09-14 19:57] pieandcakes commented on #188
@wpp2014 you can find VSCode's issue page at https://github.com/microsoft/vscode/issues. If the document that Ed mentioned above doesn't work, please file an issue there.

[2016-09-14 19:57] #188 closed, assigned to nobody

[2016-09-14 20:05] pieandcakes commented on #164
Notice that when the extension is installed it is installed in the user path. You will probably need to install the extension again after you run VSCode as root and then make the same changes into root's extension folder.

[2016-09-14 20:19] jgoshi commented on #29
We fixed the document symbol search so that is fast now (will appear with cpptools version 0.10.0). The workspace search (show all symbols) that you mentioned is also faster now with the latest version. If this is still a problem with the latest version please reopen this issue.

[2016-09-14 20:19] #29 closed, assigned to jgoshi

[2016-09-14 20:20] sridmad commented on #221
Do you have a different C++ extension for VSCode installed? VSCode-cpptools does not flag any error or warnings at this time other than for include files it cannot find.

[2016-09-14 20:23] sridmad commented on #217
What is the full path of the root folder? I suspect there may be a bug in handling some Unicode characters

[2016-09-14 20:27] #184 closed, assigned to nobody

[2016-09-14 20:28] #176 closed, assigned to nobody

[2016-09-14 20:29] #196 closed, assigned to nobody

[2016-09-14 20:32] sridmad commented on #52
#13  covers enabling accurate auto completion

[2016-09-14 20:32] #52 closed, assigned to nobody

[2016-09-14 20:33] sridmad commented on #76
#13  covers enabling accurate auto completion

[2016-09-14 20:33] #76 closed, assigned to nobody

[2016-09-14 20:34] sridmad commented on #81
#13   covers enabling accurate auto completion

[2016-09-14 20:34] #81 closed, assigned to nobody

[2016-09-14 20:34] sridmad commented on #95
#13  covers enabling accurate auto completion

[2016-09-14 20:34] #95 closed, assigned to nobody

[2016-09-14 20:34] sridmad commented on #112
#13  covers enabling accurate auto completion

[2016-09-14 20:34] #112 closed, assigned to nobody

[2016-09-14 21:24] pieandcakes commented on #186
This fix will be in the next release.

[2016-09-14 21:24] #186 closed, assigned to pieandcakes

[2016-09-14 21:36] pieandcakes commented on #43
@KingLebron I can't repro this with the latest version of the extension, version 0.9.1. If this is still an issue please reopen.

[2016-09-14 21:36] #43 closed, assigned to pieandcakes

[2016-09-14 22:55] sean-mcmanus commented on #199
Fix available in the "next" release.

[2016-09-14 22:55] #199 closed, assigned to nobody

[2016-09-14 23:41] #110 closed, assigned to nobody

[2016-09-15 00:16] artagnon commented on #195
I think it's crashing with this stack at other times, because I don't remember ever explicitly quitting vscode.

[2016-09-15 00:29] renkun-ken commented on #221
It looks like the warnings and errors are produced by `C/C++ Clang`. I'll file an issue there.

[2016-09-15 00:29] #221 closed, assigned to nobody

[2016-09-15 01:58] desimonk commented on #19
Symbol searches or go to definition does not work at all.  Language service is not working at all.  I am using Centos 7.2 and latest version of VS Code downloaded today.  Version of my glibc is 2.17 and I get same error as other user reported about glibc.  If anyone worked around this issues please post it.

[2016-09-15 02:06] desimonk commented on #19
I just saw that this issue is first opened on April 19, and there is no acknowledgement on this issue.  I.e. NO HOPE of being resolved anytime soon.  Will go back to eclipse.  It is really shame that this is not tested on Centos 7 given it is announced on their website.   This kind of false claims often wastes many people's time.

[2016-09-15 03:04] aoyulong opened #227 "Something wrong to use "Microsoft Visual C++ Build Tools 2015" when compiling and debugging the c/c++ files."
From the documentation, I can just find some statements about there are two debuggers supported by this extension on the windows platform. However,  which compiler we should use before debugging is not mentioned.  Here I choose to  install the "Microsoft Visual C++ Build Tools 2015". After that I use cl.exe to compiler  the source files with debug option and then try to use the vs debugger to debu

[2016-09-15 03:14] shizhx commented on #166
@sean-mcmanus I got same error just now.
both Ubuntu 16.04 x64 and Windows 7 x64.
VSCode 1.5.2

[2016-09-15 03:30] shizhx commented on #166
@sean-mcmanus @stevenxiao
I was conscious that I had made a mistake:
**MUST** open a **folder** not a file.

[2016-09-15 03:58] delmyers commented on #19
@desimonk
I'm sorry to hear that you find our responses to be too slow. Unfortunately, sometimes some issues slip through the cracks as we continue to try to improve the product. We do want to get our extension to work on as many platforms as we can, so thank you for bringing this issue back to our attention.

@sridmad, @greazer: it looks like users are having issues because the language service i

[2016-09-15 12:57] Aukstkalnis opened #228 "clang-format do not use c_cpp_properties.jason settings for formatting"
OS: windows 7 x86
clang-format version: 3.9 (3.8 did not worked for me)

I configure clang format like this in c_cpp_properties.json settings:
    "clang_format": {
        "style": "file",
        "fallback-style": "LLVM",
        "sort-includes": false,
        "TabWidth": 4,
        "UseTab": "ForIndentation",
        "SpacesBeforeTrailingComments": 1,
        "AlignAfterOpenBracket": "Align",

[2016-09-15 16:02] sean-mcmanus commented on #228
c_cpp_properties.json doesn't accept any clang_format settings. See the "C_Cpp.clang_format_" user/workspace settings.

[2016-09-15 16:02] #228 closed, assigned to nobody

[2016-09-15 17:22] sean-mcmanus commented on #166
Thanks for the feedback. A future release will give an informational message about needing to open a folder to work with configuration files, and the switch headers command will be made to work.

[2016-09-15 17:22] #166 closed, assigned to nobody

[2016-09-15 19:20] jgoshi commented on #160
We improved go to definition for class members and this will appear in the next release of cpptools (version 0.10.0). If you still have this issue at that time, please reopen the issue and attach a small code sample.

[2016-09-15 19:20] #160 closed, assigned to jgoshi

[2016-09-15 19:46] sean-mcmanus commented on #211
I'm not reproing this. I created a new folder with a .cs file and no .vscode folder got created, but it gets created if a .cpp file exists.

[2016-09-15 20:03] jstys opened #229 "Running on ubuntu 12.04"
On startup of vscode 1.5.2 in ubuntu 12.04 x64 with cpptools 1.5.2, I am receiving an error that seems to be indicating that the language server is failing for c++.  Below is the error message in the developer console that is coming from the cpptools extension

Additionally, I'm not sure if this is any indication of the problem, but running ~/.vscode/extensions/ms-vscode.cpptools-0.9.1/bin/Microso

[2016-09-15 22:19] jgoshi commented on #224
Checked in and the fix will appear in the next cpptools release (version 0.10.0)

[2016-09-15 22:19] #224 closed, assigned to jgoshi

[2016-09-15 22:21] jgoshi commented on #195
The stack overflow and populate_filename_cache crashes are fixed and will appear in the next release of cpptools (version 0.10.0). If this still repros at that time, could you open a new bug with the remaining crash call stacks you see?

[2016-09-15 22:21] #195 closed, assigned to jgoshi

[2016-09-15 22:23] jgoshi commented on #171
I fixed a few crashes and they will appear in the next release of cpptools (version 0.9.2). I'm going to close this for now. If you have a chance to try this out with the new version and it still happens please reopen the issue.

[2016-09-15 22:23] #171 closed, assigned to jgoshi

[2016-09-15 22:25] jgoshi commented on #195
Actually the upcoming version will be 0.9.2

[2016-09-16 00:59] laoshaw commented on #203
same here, no auto complete what-so-ever on ubuntu 16.04, could not even detect the default header files such as stdio.h etc. need wait and try cpptools later.

[2016-09-16 01:03] laoshaw commented on #87
0.9.1 I'm using on 16.04 ubuntu, all standard header files are showing "Include file not found in include directory" thus no auto-complete on those standard functions, e.g: #include <stdio.h> will have green-wave-icons underneath and when mouse-over it it says ""Include file not found in include directory"

[2016-09-16 03:53] be5invis opened #230 "Improve the colorizer (IntelliSense/Semantic-based)"
The current built-in colorizer for C/C++ does not support:
- color operators
- color type names separately

[2016-09-16 04:46] Shivamnema commented on #87
@jgoshi i'm using G++ 5.4.0.
@laoshaw Yeah. This is the same thing happening to me to.

[2016-09-16 05:55] djg opened #231 "Switch Source Header is very slow"
I'm using vscode + cpptools with a very large codebase. When switching from .cpp to .h and back, vscode is very slow to respond the first time when toggling between files, especially when switching from .h back to .cpp. It takes seconds to complete, which makes it feel like the feature isn't working.

Can we have fast switching, or a more prominent visual indicator that signals that the process of

[2016-09-16 06:04] jyavenard commented on #231
+1 vote here.

It takes sometimes over 30s to switch between a .cpp and its corresponding header. Even though both are currently opened.

Typically the 2nd alt-O will be faster, but still far from instantaneous.

[2016-09-16 06:04] mong87suk commented on #164
Hello @pieandcakes

It works well.
Thank you for your support.

Best regards
Felinus jeong

[2016-09-16 07:24] jhasse opened #232 "Includes of xpm files not recognized"
[code]

results in `Include file not found in include directory` even though the file is there.

[2016-09-16 07:26] jhasse commented on #231
I noticed that this happens only on Windows. On Linux with the same project (~400 source files) it switches instantly.

[2016-09-16 07:29] jyavenard commented on #231
Seeing this on both a mac (10.11.6) and Linux (ubuntu 16.04).
 This is working with a rather big project (151870 files)

[2016-09-16 07:29] jhasse commented on #201
Assuming you're using GDB, this is a duplicate of #69. Typing `-exec -enable-pretty-printing` in the debug console will show the content of strings, but it's disabled by default for performance reasons.

I haven't had any problems with it enabled though, maybe the default can be changed?

[2016-09-16 07:40] renkun-ken commented on #201
@jhasse, I tried `-exec -enable-pretty-printing` and it seems only to work with containers (e.g. `vector<T>`), a `std::string` is always shown as `<incomplete type>` in debugging.

![main cpp - cpptest - visual studio code_090](https://cloud.githubusercontent.com/assets/4662568/18578669/e63803b0-7c23-11e6-9dfd-fddb3d2ae5ad.png)

[2016-09-16 08:10] jhasse commented on #201
Hm ... works for me on Fedora Linux 24:

![gdb](https://cloud.githubusercontent.com/assets/80071/18579399/c0c3bdb4-7bf5-11e6-9de2-e28c001ee601.png)

[2016-09-16 08:21] sean-mcmanus commented on #231
Thanks for bringing this perf problem to our attention. I am able to repro it and I see the code that is taking a long time building a "file system tree", which doesn't scale well with lots of files. We'll investigate making this scenario faster in a future release.

[2016-09-16 08:31] lutianqi opened #233 "Updating C++ Debugger dependencies... Failed at stage: getPlatformInfo Error: Command failed: wmic os get osarchitecture 'wmic' �����ڲ����ⲿ���Ҳ���ǿ����еĳ��� ���������ļ���"
version 1.4.0
windows 7
After I enable the c/c++ extensions, then the following message appears. I don't know why.

Updating C++ Debugger dependencies...
Failed at stage: getPlatformInfo
Error: Command failed: wmic os get osarchitecture
'wmic' �����ڲ����ⲿ���Ҳ���ǿ����еĳ���
���������ļ���

[2016-09-16 12:03] djg commented on #231
In all the setups I've used, the alternate file in either in the same dir or separated include/file.h,src/file.cpp. Maybe it would be faster to first check for those, before creating a file system tree?

[2016-09-16 14:21] jacdavis commented on #233
We've gotten a few other reports of this.  I suspect some people have their machines locked down so that wmic isn't working. Can you please launch vscode elevated and try again?

[2016-09-16 15:09] salda opened #234 "VSCode “'fileName' file not found""
VSCode Version: 1.5.2
OS Version: 7

Steps to Reproduce:
1. Set up VSCode, C/C++ package, g++, Clang and GDB hopefully correctly.
2. Include some file.

See http://stackoverflow.com/questions/39512079/vscode-filename-not-found.
See https://github.com/Microsoft/vscode/issues/12151.
![image](https://cloud.githubusercontent.com/assets/3855627/18590734/3d077624-7c30-11e6-9ed3-352ee6b91284.png)

[2016-09-16 15:13] sean-mcmanus commented on #234
Did you set the includePath to your system headers in c_cpp_properties.json?

[2016-09-16 15:21] salda commented on #234
Yes,
![image](https://cloud.githubusercontent.com/assets/3855627/18591203/fb2f6034-7c31-11e6-8c7e-5d15622b2caf.png)
and it behaved differently before setting it, it was also needed to set the limitSymbolsToIncludedHeaders to false, because of the fact, that iostream and others don't have headers.

[2016-09-16 16:58] sean-mcmanus commented on #234
As far as I can tell, we do not show the "'fileName' file not found" error message with a red squiggle. Instead, we show a green squiggle with the text "Include file not found in include directory". Are you using a different extension? Also, can you get any other include path or header file to work this way? If there is a parse error in the c_cpp_properties.json, then our code may fail.

[2016-09-16 17:05] sridmad commented on #87
@laoshaw , @Shivamnema05 can you share the includePath settings you are using?

[2016-09-16 17:10] Shivamnema commented on #87
@sridmad How to get that setting ?

[2016-09-16 17:17] sridmad commented on #87
it should be in c_cpp_properties.json under /path/to/the/root/folder/.VSCode. If the file is not there, see the section "Specifying Additional Include Directories for Better Symbol Support" at https://code.visualstudio.com/docs/languages/cpp

[2016-09-16 17:58] pieandcakes commented on #212
@clangen @nwgh There was a bug that was fixed in mainline lldb. I have released an update to lldb, but it will require you to uninstall and reinstall the extension. Can you try that and see if it fixes this problem for you?

Thanks
Pierson

[2016-09-16 18:10] salda commented on #234
The green squiggle was shown before, but I fixed it, the red one is another story. I installed and enabled following extensions: C++ Intellisense, Shell, Terminal, C/C++ Snippets, C/C++ Clang, C/C++, Native Debug and Clang-Format. It is shown for any included file used as first one in the including file. I guess there isn't any parse error in c_cpp_properties.json.
![image](https://cloud.githubuse

[2016-09-16 18:10] #164 closed, assigned to nobody

[2016-09-16 18:11] pieandcakes commented on #229
This is probably because the language service is compiled with glibc version 2.18. @sridmad is there a workaround for this?

[2016-09-16 18:26] SE2Dev opened #235 "C / C++ Language Server Protocol"
Are there any plans to release the C++ implementation of the language server protocol that is used in this extension?

[2016-09-16 18:29] Shivamnema commented on #87
@sridmad

{
            "name": "Linux",
            "includePath": ["/usr/include"],
            "browse" : {
                "limitSymbolsToIncludedHeaders" : true,
                "databaseFilename" : ""
            }
        }

[2016-09-16 18:35] sean-mcmanus commented on #234
Via manually installing/uninstalling the various extensions you mentioned, I discovered that the C/C++ Clang extension is the cause of that error. Please visit their support site at https://github.com/mitaki28/vscode-clang/issues .

As far as I have seen, installing/uninstalling is safe to do with VS Code extensions, and whenever an extension is updated, it does an uninstall/install. The extension

[2016-09-16 18:35] #234 closed, assigned to nobody

[2016-09-16 18:54] nwgh commented on #212
@pieandcakes awesome! So far, pretty good. The only oddity was that I had to manually `kill -CONT` the program I was debugging (I sat there waiting for a good long while before realizing the process was probably suspended), but once I did that, things seem to be working great (hit my breakpoint, am able to inspect variables, etc). Thanks!

[2016-09-16 18:56] pieandcakes commented on #212
@nwgh is that every time or just once? Usually when you hit the stop button it should kill the debuggee too unless you are attaching.

[2016-09-16 19:08] nwgh commented on #212
@pieandcakes happened while the debuggee was starting up (no window had shown yet). I did the `kill -CONT <pid>` from the terminal, not from any buttons the code UI. Once I did that, things carried on great.

However, I just tried again, and things seem to have gone a bit farther off the rails (maybe I waited too long to CONT the process?)

This time, while waiting to see if I could just wait long

[2016-09-16 19:19] delmyers commented on #229
Looks like it si probably a duplicate of #19. @sridmad, @greazer, you might want to take a closer look at these issues as they are hitting more customers.

[2016-09-16 19:40] agauniyal commented on #226
Don't tie down to a build system please! Use `compile_commands.json` file(generated by almost all build systems) or either a plugin should do this.

[2016-09-16 19:52] sean-mcmanus commented on #235
Not currently. We're using proprietary code shared with VS that can't be open sourced. Removing that dependency would be non-trivial.

[2016-09-16 19:52] #235 closed, assigned to nobody

[2016-09-16 19:59] sridmad commented on #229
At this point we support Ubuntu 14.04 and later. Something we can look into for Oct update of the extension

[2016-09-16 20:00] sean-mcmanus commented on #232
I can't repro this bug. Can you give more repro details?

[2016-09-16 20:02] sridmad commented on #232
@jgoshi ,  We should look into not filtering files by known C++ file extension when limitSymbolsToIncludedHeaders == true

[2016-09-16 20:04] nwgh commented on #212
After rebooting my mac to get rid of the totally zombified debuggee, I have now tried a few more times, and every time (assuming I `kill -CONT <pid of debuggee>` from the cli at the right time), debugging works perfectly (modulo that suspended debuggee).

@pieandcakes - would you like me to get another log of what happens in the extension during that suspended debuggee process?

I'll also try dire

[2016-09-16 20:12] SE2Dev commented on #235
Ah yes, I was afraid that might be the case. Thanks anyway though.

[2016-09-16 20:45] pieandcakes commented on #212
@nwgh This seems different than the reported issue here. Can you file a new issue with repro steps and i'll see if i can duplicate that and send me an updated log (or attach it to the issue)? I would probably need to set it up on my machine to investigate what is happening.

[2016-09-16 20:55] clangen commented on #212
@pieandcakes this fixed the problem on my end. thank you!

[2016-09-16 20:57] nwgh commented on #212
@pieandcakes have to step out for the afternoon, but will do on Monday. And thanks for all your work here!

[2016-09-16 21:30] #212 closed, assigned to pieandcakes

[2016-09-16 22:01] sean-mcmanus commented on #232
Yes, you are correct that we should look for symbols in non-standard headers names, but it doesn't appear to be related to this bug repro.

[2016-09-16 23:50] sean-mcmanus commented on #233
Also, if that workaround doesn't work, we have a fix for a future release.

[2016-09-16 23:51] #233 closed, assigned to nobody

[2016-09-17 00:06] johncruise commented on #178
I'm not familiar where to get more logs or crash information for this extension but if anybody would point that to us here, I'd be more than happy to provide it.

Thanks for looking into this.

[2016-09-17 00:08] pieandcakes commented on #5
It seems this has gone stale. Please comment or reopen this issue if it is still occurring.

[2016-09-17 00:08] #5 closed, assigned to nobody

[2016-09-17 18:46] rkeithhill commented on #211
I'm running 0.9.1 and I'm SEEING THIS AGAIN. I've filed a bug on this before and the issue got fixed and then somehow regressed.  I'm opening a folder for a VSCode extension I'm working on. There are NO .cpp or .h files yet every time I open the folder I get the three files (used to be just two files) @tsolarin lists.

For a repro, clone this project https://github.com/PowerShell/vscode-powershell

[2016-09-18 05:17] Shivamnema commented on #87
I don't how. But my problem is fixed.

[2016-09-18 11:18] sunverwerth opened #236 "workspace/symbol search broken when no cpp files in workspace"
Referencing  https://github.com/Microsoft/vscode/issues/12188

Version: cpptools 0.9.1

With cpptools installed, if I bring up the workspace/symbol search in a project without any c/cpp files, the search will stop working after I enter 3 characters.
The problem is only resolved after restarting the editor.

If I add a single cpp file to a php project, for example, this bug does not occur.

My gues

[2016-09-18 18:45] artagnon opened #237 "Inaccurate tagline and license"
Neither "C++ sample applications used in blog posts and demos", nor MIT license applies to this repository.

[2016-09-19 01:44] salda commented on #234
Ok, thanks a lot!

[2016-09-19 09:14] theovosse opened #238 "C/C++ plugin crashes various operations in TypeScript (and Javascript) code"
[code]

Steps to Reproduce:

[code]

This resulted in a crash in Microsoft.VSCode.CPP.Extension.darwin here:

Removing the plugin restored normal functioning.

[2016-09-19 15:16] sean-mcmanus commented on #237
He's referring to the text shown at https://github.com/Microsoft/vscode-cpptools/ .

[2016-09-19 15:33] delmyers commented on #237
@artagnon, This repository was originally created for the stated purpose of having code for blog posts and demos, which were to be released by the MIT license. We don't have any samples yet available, though. Sorry for the confusion. I will talk to the person responsible for the sample code about this.

[2016-09-19 15:33] #237 closed, assigned to AndrewBrianHall

[2016-09-19 15:52] sean-mcmanus commented on #238
I am able to repro this. The crash happens the 1st time a folder is opened.

[2016-09-19 16:03] sean-mcmanus commented on #236
Our engine is crashing. It's the same bug as https://github.com/Microsoft/vscode-cpptools/issues/238 .

[2016-09-19 22:37] anthonyjclark opened #239 "Unable to launch debugger with fish shell as default system shell."
I am working on OS X (10.10.5). I prefer to have my login shell set to fish (/usr/local/bin/fish). However, this appears to break the method currently being used by the extension to launch external console commands.

Specifically, the terminal window that pops up (not a big deal, but it would be "nice" if the extension used the internal debugger settings--I prefer iTerm.app to terminal.app) is pre

[2016-09-19 22:48] jacdavis commented on #239
Thanks for reporting this. On mac, the actual launching of the terminal is a feature of lldb. I don't recall seeing anything in that code-path which would allow for this customization. However, we hope to move to the new internal terminal that was added to vscode in the near future.

There is, however, a shell script that is executed as we bring up the debug adapter (see ~/.vscode/extensions/ms-vs

[2016-09-20 00:01] ivomachado commented on #21
Any updates on this?

[2016-09-20 00:45] sean-mcmanus commented on #21
The Microsoft.VSCode.CPP.Extension.exe language service contains code shared with VS that we cannot open source due to license issues. Theoretically, the code could be re-written to allow open-sourcing but it would take a non-trivial amount of work. Feel free to let us know why you believe open sourcing would be valuable. Would people be interested in contributing bug fixes and features?

[2016-09-20 00:46] leira opened #240 "Support Xcode framework include path"
Xcode framework's include path is strange, when I say `#include <CoreFoundation/CFString.h>`, it actually means to include file:

[code]

I tried to put `/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS11.0.sdk/System/Library/Frameworks` in configurations.includePath and hope vscode-cpptools support it, but no luck. `/Applications/Xcode.app/Contents/De

[2016-09-20 00:54] sean-mcmanus commented on #238
This is the same as https://github.com/Microsoft/vscode-cpptools/issues/236 but they have different, important repro details, so keeping both open seems fine to me.

[2016-09-20 00:55] sean-mcmanus commented on #238
The bug repros on all OS's. And it only repros after entering the 3rd character (otherwise our symbol processing code is skipped).

[2016-09-20 03:50] outcoldman commented on #21
@sean-mcmanus why did you close this issue? it was not delivered

Yes, people are interested in contributing.

In case when gdb or lldb is used, I don't believe it should have such complicated layering.

[2016-09-20 03:57] sean-mcmanus opened #241 "#filename search only works in special cases"
ACTUAL: When I have files test.cpp and t.cpp, using "#t.cpp" brings up test.cpp as a result, but using "#test.cpp" gives no symbols found. Actually, it looks like the test.cpp result only appears after a new file is added (i.e. buggy).

EXPECTED: Either "#t.cpp" should give the result t.cpp and "#test" should give results for test\* or it should give no results...searching without # already does a

[2016-09-20 03:58] sean-mcmanus commented on #21
I thought we were closing issues we didn't intend to fix? Our extension has language service and debugger components, so the debugger team might be able to open source more of their code. I guess we can keep this open if you want.

[2016-09-20 06:48] chiefartificer opened #242 "Go to Declaration missing?"
I can't find the "Go to Declaration" feature anywhere! Has it been implemented?

[2016-09-20 10:43] hamaney commented on #40
I have the same issue on El Capitan(10.11.6) running VSC 1.5.2

[2016-09-20 13:53] anthonyjclark commented on #239
Thanks for the quick reply! FYI, when I switch the debugger from lldb to gdb (setting MIMode) it appears to have the same issue. You probably assumed this, but I thought the extra information may be of use.

[2016-09-20 14:27] mk3890 commented on #19
Same story here. Preventing me from really using on RHEL7.2

[2016-09-20 16:06] delmyers commented on #21
@outcoldman, This extension is made up of components, some of which are open, and some of which are not. For example, it uses the Mono runtime on Linux and Mac, which is open. The component that is used for debugging on Linux and Mac (minus a stub component used to launch the debugger and translate protocols) is also open (linked above). The debugger for Windows can't be open sourced, unfortunatel

[2016-09-20 16:06] #21 closed, assigned to nobody

[2016-09-20 16:13] outcoldman commented on #21
@delmyers what about the extension itself? The one which integrates into VS Code?

[2016-09-20 16:31] delmyers commented on #21
@outcoldman Most of the extension itself is just a composition of the components that I mentioned above, plus some configuration and launching scripts. I suppose we could consider open-sourcing the configuration file? Is that something that you would see as worth-while?

[2016-09-20 16:55] sean-mcmanus commented on #242
We support "Go to Definition" not "Go to Declaration". The ReadMe.md will be updated in the next release with the correct info.

[2016-09-20 16:55] #242 closed, assigned to nobody

[2016-09-20 17:36] jacdavis commented on #239
Alright, thanks for the extra info. Strangely, we actually launch the debuggee via bash. I suspect the option to override the shell is getting applied after the intial bash launch.

[2016-09-20 21:08] sean-mcmanus commented on #211
We haven't been able to repro this yet (seems like you're doing something special), but our next release will create the browse database file in a vscode temp location so this issue should theoretically be fixed.

[2016-09-20 22:46] greazer commented on #211
Just as an additional data point, I separately tried to repro based on your information and project and wasn't able to. I've tried opening C++ files while having the VSCode-powershell folder open, as well as closing and reopening VSCode with those C++ file open and I cannot get it to create a browse database.

As Sean indicated, the upcoming release of the extension will write these files to a loc

[2016-09-20 22:47] greazer commented on #211
Didn't mean to close just yet. Waiting to hear if rkeithhill possibly has more details about what repro steps might be missing.

[2016-09-20 23:27] sean-mcmanus commented on #238
This has been fixed. It'll be in a future release.

[2016-09-20 23:27] #238 closed, assigned to nobody

[2016-09-20 23:27] sean-mcmanus commented on #236
This has been fixed. It'll be in a future release.

[2016-09-20 23:27] #236 closed, assigned to nobody

[2016-09-21 00:01] jgoshi commented on #87
If you run into this again please reopen (or create a new issue).

[2016-09-21 00:01] #87 closed, assigned to jgoshi

[2016-09-21 00:02] jgoshi commented on #232
We currently do look for symbols in any file that is explicitly included like this (regardless of extension).

[2016-09-21 01:03] hak8or commented on #40
I had a similar issue to this on linux. I noticed that when I were to save the generated `c_cpp_properties.json` and restarted vscode, it started to work. So for all of you with issues, try the following to generate the json file as per the getting started guide [here](https://code.visualstudio.com/docs/languages/cpp#_getting-started).

Save the file via the ctrl-s shortcut, and then restart visua

[2016-09-21 02:35] rkeithhill commented on #211
I'm not sure what else is different.  Just opening that VSCode-powershell folder is enough to trigger creation of the VC db files.  This is what I see:

![cppextbug](https://cloud.githubusercontent.com/assets/5177512/18695839/bd3bc766-7f71-11e6-8d31-d7ea0e9ba271.gif)

[2016-09-21 04:33] outcoldman commented on #21
Yep,  launching scripts I guess will be useful as well.

[2016-09-21 05:41] vilicvane opened #243 "Add `cpptools.enable` option"
Most of my project has no C/C++ involved, so it would be convenient if I can globally disable this extension and enable it for only some projects.

[2016-09-21 09:06] sean-mcmanus commented on #243
This would be trivial for us to add, but it seems like our extension should be made to not impact non-C++ projects. Is there a particular scenario or bug that is causing you to want to disable the extension? You only want to disable the language service and not the debugger service, right?

[2016-09-21 09:14] vilicvane commented on #243
I just did a search against `.BROWSE.VC.DB`, it seems #211 addressed my issue.

[2016-09-21 09:18] vilicvane commented on #211
For me it might be related to package in `node_modules` that contains `.cpp` files.

[2016-09-21 09:19] vilicvane commented on #243
Is it listing all the files under project folder for C/C++ detecting? I think it might be a small problem for project with many npm packages installed as well.

[2016-09-21 12:23] ampatel21 commented on #19
For those that would like to run vscode-cpptools on CentOs/RHEL 7 while we wait for devs to address this issue.

1) Download Src/Build/Install glibc 2.18 onto your system.  I got a source rpm from Fedora 20 for glibc-2.18.  Make sure to change the install prefix for the library.  I picked '/opt/glibc-2.18'.  DO NOT FORGET TO CHANGE THE INSTALL PREFIX.

2) Create a bash script file called Microsoft

[2016-09-21 16:52] sean-mcmanus commented on #243
From what I have seen so far with large projects, the directory search for C++ files is "fast enough" and it occurs in our language server process so I'm not yet aware of any observable negative performance impact (other than some bugs).

[2016-09-21 16:57] vilicvane commented on #243
Anyway, it would still be good to have a related option to disable or ignore some directories (in my case node_modules, which contains packages with native code that I do not care about).

[2016-09-21 19:50] jgoshi commented on #207
Visual Studio has the same behavior. Go to definition works (same for VSCode). But go to symbol (VSCode) has the same behavior as Visual Studio Object Browser (which looks at symbols).

[2016-09-21 19:50] #207 closed, assigned to jgoshi

[2016-09-21 21:02] jgoshi commented on #232
I am also unable to repro. Can you provide a small repro sample by attaching everything in the root folder?

[2016-09-22 02:28] sean-mcmanus commented on #211
It's possible your project may have a "hidden", .c##/.h## files (e.g. part of files.excludes). We've switched to a "lazy" extension loading which should fix any other issues like this.

[2016-09-22 02:28] #211 closed, assigned to jgoshi

[2016-09-22 02:32] rkeithhill commented on #211
Yup, hidden file:

[code]

So cloning the vscode-powershell repo wasn't enough.  You'd have to build it to get the node_modules folder populated.

[2016-09-22 02:37] sean-mcmanus commented on #243
We decided to switch to "lazy activation" instead of an enable/disable option (for 0.9.2 or 0.9.3). This will cause our extension to not load until:
1. A C/C++ file is opened.
2. A C/C++ or debugger command is executed.
3. A workspace with a .vscode/c_cpp_properties.json is opened.

If you still want an enable/disable option, you could try asking the VS Code team to provide this ability for all ex

[2016-09-22 02:37] #243 closed, assigned to nobody

[2016-09-22 02:49] vilicvane commented on #243
It sounds even better to have the lazy activation feature. ;)

[2016-09-22 10:48] agauniyal opened #244 "lots of clang-format processes"
I checked the output of `htop` command after using vscode for a while and noticed numerous clang-format processes lying around. I'm not sure but somehow this plugin is spawning new clang-format processes and not exiting them properly.

[2016-09-22 14:24] pl-ca opened #245 "Red flame icon never going away, stdbool.h not found"
I am facing some issues with the extension where some header files are not found.

For example, `stdbool.h` is never found, even though I have added its path to the configurations.
![stdbool](https://cloud.githubusercontent.com/assets/9813472/18751736/10a8e342-80ae-11e6-94c6-0252773588c0.png)

I verified where it was on my system:

[code]

And made sure to add it to the configurations:

[code]

Fu

[2016-09-22 16:06] Ebiroll commented on #19
Yes ampatel21 tip works on centos7. I did the following:
wget http://ftp.gnu.org/gnu/glibc/glibc-2.18.tar.xz
tar xvf glibc-2.18.tar.xz
cd glibc-2.18;mkdir build;cd build
../configure --prefix=/opt/glibc-2.18/
make -j
su
make install
Then follow ampatel21:s step 2&3 in previous post.

Version 0.9.2 still have not fixed this issue but also works with step2 and the following contents..
  #!/bin/bash

[2016-09-22 16:11] pieandcakes commented on #244
@sean-mcmanus Have you noticed this at all?

[2016-09-22 16:22] sean-mcmanus commented on #244
I have not noticed that. It'd be great to have more repro details. I assume it's a Linux OS. Is the clang-format version 3.8? I assume 0.9.1 of the extension. I'll see if I can find a way to repro it.

[2016-09-22 16:24] agauniyal commented on #244
Yes linux system with `clang-format version 3.8.1 (tags/RELEASE_381/final)` and latest extension.

[2016-09-22 18:27] pl-ca commented on #245
It seem that it actually ignores the changes I do to `c_cpp_properties.json` file completely. I realised that it is able to find all header files that are in my project folder and subfolders. However, any file that is outside of that base folder will not be found. Except the ones contained in `/usr/include` (I assume because by default the config file include this line already).

I also try to cha

[2016-09-22 19:42] sean-mcmanus commented on #244
I seem to be reproing this, but the clang-format are being closed when VS Code exits. I'll investigate.

[2016-09-22 19:44] pl-ca commented on #245
One more update: I could sort of make it work by putting symbolic link in my project base folder to external include directories and then adding those symlink to the the `c_cpp_properties.json` file. I also had to use `"limitSymbolsToIncludedHeaders" : false,`. Now I all my errors and the red flame are gone... but navigating to definition is very slow.

[2016-09-22 22:43] sean-mcmanus commented on #243
Lazy activation didn't make 0.9.2 (should be in the next version). But the browse db should no longer appear in the .vscode directory.

[2016-09-22 22:44] sean-mcmanus commented on #238
The fix didn't make 0.9.2, but it should be in the next version.

[2016-09-22 23:36] andyneff commented on #78
@jacdavis, If I try what you said

## Simple example

[code]

[code]

I get this on the gdbserver side

[code]

and code errors out saying

[code]

Process 13467 did exist, but as soon as it connects to the gdbserver, it disconnects and stops the process

## Simple workaround

However, if I use the (partially undocumented) feature `processName`,

[code]

it does work. I'm able to set and use break

[2016-09-23 01:13] sean-mcmanus opened #246 "Extension may randomly not work after the initial download."
The 1st time the extension is started, the activation may randomly fail (i.e. "Format Code" won't appear when right-clicking). Opening a new folder fixes it. It will be fixed in the next release.

[2016-09-23 01:13] sean-mcmanus commented on #246
It will be fixed in the next release.

[2016-09-23 01:13] #246 closed, assigned to nobody

[2016-09-23 02:00] agauniyal commented on #244
I can confirm that they exit once VSCode is closed, but shouldn't they exit by the time they've done their formatting part?

[2016-09-23 02:10] sean-mcmanus commented on #244
Yes, the clang-format process should exit when it's done with its work. It does on Windows.

[2016-09-23 07:31] theovosse commented on #238
Thanks for the heads-up.

[2016-09-23 07:41] agauniyal opened #247 "Hide same text completion items"
If I've 10 vars named `temp` in 10 different files opened up in vscode, the next time I start typing `te..` it'll show all of them in the dropdown and hide the other relevant ones.

[2016-09-23 08:11] aoyulong opened #248 "Symbols are not found when using Visual Studio Windows Debugger."
I use  Visual Studio Windows Debugger after compiling my source code by using command `cl /Zi source.c /link /out:run.exe` .  It shows that some symbols are not found.  OS: win 10 64 bit and the VS code: 1.5.3.  However, the code can run correctly without debugging.
![qq 20160923153625](https://cloud.githubusercontent.com/assets/3069790/18778672/0c066d28-81a8-11e6-8ea9-791ef5707b00.jpg)

[2016-09-23 08:58] ZCShou opened #249 "Can not display cascade"
Using 0.9.2
When i write code in the process, sometimes Can not display cascade.

after I  saved  file , cascade display again!

this issue is not always exsit ！

![2016-09-23_165236](https://cloud.githubusercontent.com/assets/8591065/18780089/829e957c-81ae-11e6-8a6f-56483f4c31b0.png)

[2016-09-23 09:32] aoyulong opened #250 "how to view the printf output or input values for scanf when using Visual Studio Windows Bebugger?"
OS: win 10 64 bit and the VS code: 1.5.3.

For now, I can get the imperfect function by setting the "externalConsole": true in the launch.json. Howeveer,  the limitation is that I have to use mouth to switch between the vscode and the command prompt. Is there any other built-in features I ignore to implement this?

[2016-09-23 12:41] MeirionHughes commented on #40
Same issue here; the problem would appear to be case differences in the file names.

![example](https://cloud.githubusercontent.com/assets/3584509/18785951/4743e81c-8193-11e6-99f6-6aaaec81c0fc.png)

all the includes are lower-case, but the files themselves are a mix of cases. If you rename the files to all lower and restart vscode, they are found.

[2016-09-23 13:01] dmigliore opened #251 "Debugging C++ thread launched from python script"
I am under Linux and I installed the python extension for gdb.
I have a python script (based on boost.python) that allows me to lunch C++ thread.
There is a way to configure the Vscode wrapper of gdb?

[2016-09-23 13:15] dmigliore commented on #251
Ok solved :)
...
"request": "launch",
"program": "/usr/bin/python",
"args": ["your_script.py"],
...

[2016-09-23 13:15] #251 closed, assigned to nobody

[2016-09-23 15:12] sean-mcmanus commented on #244
It's been fixed for the next release -- we weren't handling Linux "zombie" child processes correctly. The "zombie" processes shouldn't use any system resources other than entries in the process table.

[2016-09-23 15:12] #244 closed, assigned to nobody

[2016-09-23 15:42] sean-mcmanus commented on #249
Hovering the mouse to the left of the brace should cause the foldering/outline node to appear. Does the bug happen without our extension or with the previous version? I can't repro the bug. As far as I know, our extension should not affect the folding scenario.

[2016-09-23 15:55] sean-mcmanus commented on #40
On Linux, the #include paths are case-sensitive. It looks like we treat #include paths as case-sensitive on Windows too, but they are not. This might be a different issue from what others are reporting.

[2016-09-23 16:36] jacdavis commented on #248
Thanks for reporting this. This is the way symbols work when debugging works on windows. System modules do not load symbols by-default as they constantly change. In order to obtain them, you can download them from the Microsoft public symbol server which is located here: https://msdl.microsoft.com/download/symbols

If you set the symbol search path to include the symbol server, they will download.

[2016-09-23 16:36] #248 closed, assigned to nobody

[2016-09-23 16:48] sean-mcmanus commented on #40
Actually, I was hitting a different bug in which duplicate missing #include are not marked. The case detection on Windows appears to be correct, so I'm not able to repro any casing problem on Windows. However, I'm seeing a problem in which certain workspaces don't recognize #include <string> even when the includePaths are identical.

[2016-09-23 16:59] pieandcakes commented on #250
@aoyulong We plan on integrating the console output into the VSCode debug console in the future. For now, please use `"externalConsole": "true"` in your launch.json and use the external terminal.

[2016-09-23 17:02] pieandcakes commented on #116
@jhasse we can take it into consideration. I feel like `"environment"` is very clear and since it is already there, it doesn't need to be typed :)

I have also updated the help example to include the array brackets.

[2016-09-23 17:06] pieandcakes commented on #191
@NewProggie This should be in our latest release `0.9.2`. If you download the extension and find that it is still an issue, please reopen this Issue with us.

[2016-09-23 17:06] #191 closed, assigned to edumunoz

[2016-09-23 17:08] pieandcakes commented on #60
@zethon Like @jacdavis said, we shipped a version of lldb for OS X with our extension. If you are looking for this for Linux, please comment at let me know. I am closing this issue for now.

[2016-09-23 17:08] #60 closed, assigned to nobody

[2016-09-23 17:10] pieandcakes commented on #53
@githelang please reopen this issue and provide additional information if this is still happening on extension version `0.9.2` or later.

@songwenshuai That issue should also be resolved as of `0.9.0`. please try the latest version of the extension and if it is still happening, please file a different issue.

[2016-09-23 17:10] #53 closed, assigned to nobody

[2016-09-23 17:11] pieandcakes commented on #250
This issue is being tracked on #35

[2016-09-23 17:11] #250 closed, assigned to pieandcakes

[2016-09-23 17:15] pieandcakes commented on #200
We will be addressing this by supporting VSCode's debug console instead of an external console. #35 is tracking this issue.

[2016-09-23 17:15] #200 closed, assigned to nobody

[2016-09-23 18:29] darsausalo opened #252 "'Format Code' not recognize main include"
When use option 'C_Cpp.clang_format_sortIncludes=true', clang-format not recognize 'main include'.

Source Host.cpp:

[code]

Expected:

[code]

Result:

[code]

first include always should be same as filename of current file, but in current (0.9.2) version of vscode-cpptools clang-format don't recognize it. I assume clang-format receive invalid filename from vscode-cpptools.

[2016-09-23 19:45] sean-mcmanus commented on #252
Oh, I see. Yeah, we pass in the text of the file to clang-format instead of the file itself. I'll investigate...

[2016-09-23 21:55] j-stephan commented on #36
Yes, the performance issue seems to be fixed. I'm using the default values for "c_cpp_properties.json" and everything works like a charm.

[2016-09-23 22:39] sean-mcmanus commented on #252
Thanks a lot for reporting this. The fix will be in the next update.

[2016-09-23 22:39] #252 closed, assigned to nobody

[2016-09-23 22:48] darsausalo commented on #252
Thanks a lot!

[2016-09-23 22:50] sean-mcmanus opened #253 "sort-includes in .clang-format isn't used by default"
The -sort-includes=false was being used even if the the .clang-format set it to true and the user didn't set the clang_format_sortIncludes setting. It'll be fixed in the next update.

[2016-09-23 22:50] sean-mcmanus commented on #253
It'll be fixed in the next update.

[2016-09-23 22:50] #253 closed, assigned to nobody

[2016-09-23 23:33] sean-mcmanus commented on #236
It didn't make 0.9.2, but it'll be in the next release.

[2016-09-23 23:36] sean-mcmanus commented on #233
This fix didn't make 0.9.2 but it should be in the next one.

[2016-09-23 23:40] sean-mcmanus commented on #222
Should be fixed in 0.9.2, but there is some other bug that can sometimes cause headers to not be found.

[2016-09-23 23:41] sean-mcmanus commented on #224
Fixed in 0.9.2.

[2016-09-23 23:44] sean-mcmanus commented on #211
0.9.2 should cause the browse db to go to the "workspace storage" location, and 0.9.3 will add lazy activation so non-C++ scenarios should no longer be impacted at all.

[2016-09-23 23:44] sean-mcmanus commented on #209
Fixed in 0.9.2.

[2016-09-23 23:48] sean-mcmanus commented on #204
With 0.9.2, extra platforms can be added without giving squiggles and it'll default to the last one if there are >3 platforms. Let us know if there are other problems.

[2016-09-23 23:49] sean-mcmanus commented on #196
Should be fixed in 0.9.2.

[2016-09-23 23:53] sean-mcmanus commented on #187
0.9.2 won't create the .vscode/browse db, and the next release will do a lazy activation, so our extension won't load at all in node.js scenarios where it's not needed.

[2016-09-23 23:53] sean-mcmanus commented on #184
Fixed in 0.9.2.

[2016-09-23 23:57] sean-mcmanus commented on #178
Can you re-open if it's not fixed in 0.9.2? There may be crash info in the Windows Event Viewer.

[2016-09-23 23:58] sean-mcmanus commented on #176
Fixed in 0.9.2.

[2016-09-24 00:00] sean-mcmanus commented on #159
I may have reproed this bug...but it's seemed random or had some unknown repro requirement. I'll try to investigate if I get another repro, but it seems like it would be a VS Code but and not our extension.

[2016-09-24 10:54] hamaney commented on #40
Update 👍
I found out that my issue was caused by opening my cpp files from the operation system file system, Finder for Mac as an example. The problem disappeared when I opened the project folder using "Open Folder" then I selected my .cpps from there.

I hope this will help :)

[2016-09-24 11:02] mukulChandYadav opened #254 "Please provide a way to perform input redirection from a file"
Please provide a way to perform input redirection from a file while debugging a C/C++ application, like ./a.out < testCase.txt.

PS Please mark it as a feature request.

[2016-09-24 12:35] Yienschwen commented on #254
@mukul-git You should try revising the `args` item your `.vscode/launch.json`.
For example:

<pre>
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "C++ Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceRoot}/a.exe",
            "args": ["&lt;testCase.txt"],
            "stopAtEntry": true,
            "cwd": "

[2016-09-24 15:06] pieandcakes commented on #254
@mukul-git Yes, @Yienschwen 's comment should resolve your issue. Please reopen/comment if it does not.

[2016-09-24 15:06] #254 closed, assigned to nobody

[2016-09-24 17:53] Jackels opened #255 "Go To Definition does not work for local variables or use semantic information"
I don't know how else to describe this issue.

In a function I have this code:

[code]

Now when I press f12 ( or select go to definition in the menu ) on the last instance of 'WorkSecondsElapsed ' nothing happens.

[2016-09-24 18:06] mukulChandYadav commented on #254
@Yienschwen Thanks. Actually i tried the same but now i see that I was putting a blank space in between the caret and filename, due to which it was not working. If it's not a bug then please mark it closed.

[2016-09-24 19:18] Jackels commented on #255
I made a video of it

http://i.imgur.com/iHZO8an.gif

[2016-09-26 06:50] FangLiangQiang opened #256 "go to definition does not work in ubuntu 12.04"
in my ubuntu12.04 ,go to definiton does not work,but in my win7 ,it can work .

[2016-09-26 07:46] NewProggie commented on #191
Debugging works fine now. Thanks a lot!

[2016-09-26 08:19] maixuanhan commented on #256
Same here on 14.04. I have lately updated both VS Code and CppTools ext. I don't know which causes the problem. Previous, everything is OK.

[2016-09-26 12:43] Yienschwen opened #257 "gdb(msys2) on windows cannot find source"
VSCode version: 1.5.3
OS: Windows 10 1607
Debugger: gdb, in MSYS 2

Source code is stored in the same location as it was compiled from, `gdb` runs normally, but debugger cannot find my source code. Source viewer outputs

<pre>
Source \home\Yienschwen\gdbTest\main.cc is not available.
</pre>

The path is actually the same path in MSYS2 environment. So is there a way to map the source code lookup pa

[2016-09-26 16:16] jacdavis commented on #257
Thanks for reporting this.

The issue is vscode sees the windows view of the file system. AFAIK, msys2 does not work with cygpath, but msys2 isn't one of currently tested platforms, so I'm not entirely sure. We can take this as a feature request to support msys2 on windows.

In the meantime, manual source mapping is on our backlog, but hasn't yet been shipped. This would allow someone to specify a

[2016-09-26 17:47] johncruise commented on #178
Hello Sean, thanks for checking back.

I've updated to 0.9.2 just now, I still see the same errors per previous output I included.  I checked Windows Event Viewer and didn't see anything that registers there after I relaunch VS and after the error message pops up.

If it helps, here's the other output under C/C++ dropdown option.

[code]

[2016-09-27 12:18] Jaxx4Fun opened #258 "Why VSC shows that my"
Updating C/C++ dependencies...
Failed at stage: getPlatformInfo
and the rest is unreadable code. I saw a similar question but I don't think there is a solution for me.
Plz tell my what to do      . T T.
![image](https://cloud.githubusercontent.com/assets/10000619/18872764/b188bfc8-84ee-11e6-85da-36e2d935f302.png)

[2016-09-27 12:43] Jaxx4Fun commented on #258
fine, i have already find the solution!
Just put （c:\Windows\System32\wbem）into PATH.
Thanks for this web:
http://qiita.com/unapuyo/items/fa3d09b459701543a63c

[2016-09-27 12:43] #258 closed, assigned to nobody

[2016-09-27 13:02] jhasse commented on #257
I'm using this extension since a few months with MSYS2 and it works fine. I can't test the current version because of #233, but I will try to reproduce your problem with >0.9.2 soon.

[2016-09-27 13:11] jhasse commented on #232
[xpm-bug.zip](https://github.com/Microsoft/vscode-cpptools/files/495542/xpm-bug.zip)

Okay the bug is actually hard to reproduce. I've created these two files and the bug appeared. But when I restarted VSCode it didn't anymore. So I don't really know what causes it :(

[2016-09-27 13:17] jhasse commented on #21
Does this also include the debugging part when using GDB on Windows?

[2016-09-27 13:19] jhasse commented on #190
@dahodge Try gdb installed via MSYS2. It works with pretty printing.

This would mean code duplication though, wouldn't it? Is there an issue here for this work item?

[2016-09-27 13:51] jhasse opened #259 "Change description of this repo"
The description on GitHub still says "C++ sample applications used in blog posts and demos". This should be changed to something like "Microsoft C/C++ extension for Visual Studio Code".

[2016-09-27 15:46] jacdavis commented on #227
Thanks for the post.

For the first question, If you are targeting the windows subsystem, use "Microsoft Visual C++ Build Tools 2015". If you are targeting posix, use the gcc that matches the posix you are running on (mingw or Cygwin).

Stack overflow seems to have answered your second question. Does that work around work for you?

Finally, The message "d:\th\minkernel\crts\ucrt\src\appcrt\heap\ma

[2016-09-27 16:19] sean-mcmanus commented on #259
I agree. Same as https://github.com/Microsoft/vscode-cpptools/issues/237 . Not sure what the status is.

[2016-09-27 16:34] sean-mcmanus commented on #258
The next release will skip the non-essential wmic call if it's not found. Maybe we could try other paths when trying to launch wmic?

[2016-09-27 20:02] felkar123 opened #260 "Go to definition issue and issue with autocomplete"
Go to definition in a function to a local variable does not work. In longer functions, it is necessarily to have reference to local variables.

Autocomplete should offer a list of variables that are in structure, on the top of list after typing a period "."

There is also a strange coloring in a .h file. If you type a bracket in a definition, then the text that follows will color in to blue. In a

[2016-09-27 20:30] sean-mcmanus commented on #260
Thanks for reporting this.
1. I'm reproing the "go to definition" issue with local variables. It doesn't appear to be a regression from 0.9.1. We'll investigate.
2. I don't understand what bug you're reporting about the auto-complete, but in general we are working on make the auto-complete on-par with the VS behavior. Can you explain what behavior you're expecting?
3. I'm not able to repro the col

[2016-09-27 21:10] sean-mcmanus opened #261 "Text from the C/C++ extension is not localized"
Switch VS Code languages and the UI/settings/output messages change, but the extension text doesn't.

How many users care about this?

[2016-09-27 21:42] sean-mcmanus opened #262 "Browse database doesn't clear when there's a configuration change"
If includePaths are removed or limitSymbolsToIncludeHeaders change to true, the database isn't being reset, so there's too much stuff in the autocomplete.

Changing the databaseFilename is a workaround (deleting the old db would be good too).

[2016-09-27 22:00] felkar123 commented on #260
1. Thank you, that would be nice
2. It's not a bug, but it's about user experience and it helps to write the code faster. When you type an instance of a structure and then type the period or an arrow "->" for pointers, auto-complete should offer you just the variables that are declared in that structure.
   Please refer to eclipse CDT extension. It has everything that an extension for C/C++ langua

[2016-09-27 22:05] sean-mcmanus commented on #260
Yes, our team is working on \# 2.

[2016-09-27 22:44] sean-mcmanus commented on #260
\# 1 is also currently "by design" (we currently don't parse inside functions), but we're working on implementing the feature.

[2016-09-27 23:55] jgoshi commented on #232
I tried with the files you attached and am unable to repro (I didn't need to restart). I'm going to close this for now. If this keeps happening for you or you find a more consistent repro please reopen the issue.

[2016-09-27 23:55] #232 closed, assigned to jgoshi

[2016-09-27 23:59] sean-mcmanus commented on #232
I have observed a bug in which our header finding suddenly fails to work when the root folder has "too much" stuff in it, so it's possible he's hitting that. If he has a repro with an extensions like .h then it's probably that issue and not related to the extension.

[2016-09-28 07:36] Com-Mean commented on #99
after upgrade this plugin，this issues come back again
无法读取文件 C:/Users/xxx/.vscode/extensions/ms-vscode.cpptools-0.8.1/package.json: ENOENT: no such file or directory, open 'C:\Users\xxx.vscode\extensions\ms-vscode.cpptools-0.8.1\package.json'。

[2016-09-28 07:46] thunderning opened #263 "“Format codes” is unusable"
I can't use "format codes" function both in Windows and Linux. You said this extension include clang-format, and I find it. BUT, no matter which path I add to the user setting, it couldn't work. Even I set a wrong path , it still nothing happened when I press "alt+shift+F".I only want an mistake message.
In addition, I can't use other format extension when I use this extension, I hope you can add

[2016-09-28 12:24] ctuu opened #264 ""&"warning: GDB: Failed to set controlling terminal " in ubuntu 16.04"
I use VScode to debug C code in Ubuntu on gnome-termial, that's mean I add

to my launch.json

The problem is when I debug on the terminal, there are some strange things display:

but my code run normally.

there are my launch.json

and my task.json

[2016-09-28 14:58] sean-mcmanus commented on #99
The new extension is 0.9.2, so it's expected that 0.8.1 wouldn't be found, but it shouldn't be looking it. Does this block you from using the extension?

[2016-09-28 15:02] sean-mcmanus commented on #263
You shouldn't need to set a path unless you want to a use different clang-format other than the one we download (3.9). In the future, we may add a clang_format_enabled setting that will allow you to disable our formatting and use another extension's formatting instead.

[2016-09-28 16:28] jacdavis commented on #264
The message "warning: GDB: Failed to set controlling terminal" is actually a long standing bug in gdb when the debuggee's output is redirected to a tty and is harmless. When using the terminal support, we attempt to remove this message by resetting the terminal as early as possible. GDB also has a number of bugs around the display of Unicode characters which can appear as a list of numbers as you

[2016-09-28 16:50] andyneff opened #265 "Can not attach to remote pid if pid does not exist locally"
I think this is new in Version 0.9.2.

I've been working on understanding #78 and found out that using `processId` in your `launch.json` does not work on remote debugging (using gdbserver) if the pid number you use does not exist on the local machine (even though it does exist on the remote machine).

For example:

[code]

Even though pid 13467 exist on myserver, it doesn't exist on my localhost,

[2016-09-28 16:59] jacdavis commented on #265
You are correct that there is a bug here. If the remote server is set, we shouldn't be doing any validation on the pid / processname.

The second issue (ptrace failing) is quite interesting. It sounds like we're actually trying to do an attach to that fake pid. The normal security policy on many distros is that attach is disallowed unless the debugger is running as root, or the target process is a

[2016-09-28 17:10] andyneff commented on #265
I came to the same guess/conclusion on the second issue

That's awesome about the docker plan. Currently I'm working on [this](https://github.com/andyneff/ms-vscode.cpptools/compare/master_0.9.2-1) No that  it's working yet, but just letting you know what ideas I'm working on, bascially writing wrappers for gdb that really run `docker exec -it {docker_name} gdb` But the important limitation to poi

[2016-09-28 18:15] jacdavis commented on #265
Assigning to myself to fix the attach to remote case.

[2016-09-28 19:03] andyneff commented on #265
@jacdavis Thanks!

Just found out that `processName` suffers from the same problem. Since `processName` is undocumented, so I'm not sure how you want to handle it, (I don't know if it's a feature being added or removed.)

But if the `processName` does not exist locally when trying to debug remotely, it will also check and fail, even though it exists remotely.

[2016-09-28 19:55] thetypingpuppy commented on #262
Where is the database stored?

[2016-09-28 19:58] sean-mcmanus commented on #262
On Windows, the default is C:/Users/< user >/AppData/Roaming/Code/User/workspaceStorage/< some GUID >/ms-vscode.cpptools/.BROWSE.VC.DB. You can rename the file via the configuration properties. On Linux...I'd have to check...somewhere similar.

[2016-09-28 23:30] andro78 commented on #128
I am using VSCode 1.5.3 and cpp extenion version 0.9.2, "The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted." message appear.

[2016-09-28 23:31] pieandcakes commented on #128
@jgoshi This looks like it is still an issue.

[2016-09-28 23:35] pieandcakes commented on #264
@ctuu It also looks like your launch.json is not in the format we expect. Can you delete the launch.json and recreate it from the Debug Configuration selector?

[2016-09-28 23:39] andro78 commented on #128
So I tried to install previous version of VSCODE(1.5.0), but same issue occurred.

[2016-09-28 23:53] sean-mcmanus commented on #128
More repro details would be great, since we can't repro this. Do you just open a folder? Any folder? One thing we could do in the future is to add more enable/disable settings so users can turn off functionality that is potentially crashing. Also, what is your OS? You may be using an unsupported OS.

[2016-09-29 00:27] jacdavis commented on #265
@andyneff, I am able to debug in this scenario without hitting this bug by using the "launch" configuration instead of the "attach" configuration. (once the miDebugServerAddress property is set, it doesn't really matter if this is a launch or attach, as it is going to do what gdbserver was told.) If you need a work around, here's what I did:

1) Launch my app on machine 1 (launched as pid 12206)
2

[2016-09-29 02:30] sg- opened #266 "[Help] Troubles configuring launch.json for remote debugger"
Linux 14.04
Version 1.5.3
Commit 5be4091987a98e3870d89d630eb87be6d9bafd27
Date 2016-09-22T08:40:08.699Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0
C/C++ 0.9.2

My remote gdb-server (pyocd) uses USB and requires sudo. I created a udev rule to allow sudo access to the server but when running from vscode it seems this permission isn't allowed. Is there a way to run the gdb-server as sudo or get a

[2016-09-29 05:04] arghasen opened #267 "No .browse.VS.code being created"
The tags file is not being created despite having C_cpp_properties.json
{
    "configurations": [
        {
            "name": "Linux",
            "includePath": ["/usr/include"],
            "browse" : {
                "limitSymbolsToIncludedHeaders" : true,
                "databaseFilename" : ""
            }
        }
    ]
}
OS- Centos7
VSCOde- 1.5.3
CppTools- 0.9.2

The project folder str

[2016-09-29 05:09] arghasen commented on #267
duplicate of issue #19

[2016-09-29 05:09] #267 closed, assigned to nobody

[2016-09-29 08:38] tapir opened #268 "Clang format ignores custom styles"
I'm on latest VS Code and C/C++ extension on Win7 64-bit.

I have this line on my settings:
`"C_Cpp.clang_format_style": "{ BasedOnStyle: LLVM, ConstructorInitializerIndentWidth: 4, ContinuationIndentWidth: 4, IndentWidth: 4, ObjCBlockIndentWidth: 4, TabWidth: 4 }"`

It's exactly the same as `C_Cpp.clang_format_style": LLVM`. I doesn't recognize the properties.

[2016-09-29 08:48] ctuu commented on #264
Oh,  I find the reason...
I had install a extension named [Native Debug](https://marketplace.visualstudio.com/items?itemName=webfreak.debug), then I use it to debug not instead of cpptool.
Now I have recreated the launch.json by choose "C++ Launch", and the  strange word disappeared!

@jacdavis Well, the setting "terminal" : "" is a vaild option in Native Debug...Sorry I mixed them. Thanks.
@piean

[2016-09-29 08:48] #264 closed, assigned to nobody

[2016-09-29 09:09] ioniall opened #269 "C++ language server crash on single file edits."
The C++ language server crashes when editing C++ code.

Steps to reproduce;
1. With 0.9.2 of the cpptools, VSCode 1.5.3, OS X 10.11.6.
2. Open VSCode
3. Paste some C++ code in a new file
4. Change the "language" (bottom right) from "Plain Text" to "C++"
5. Edit the file (I don't save the file)
6. Server crashes

I'll attach the crash dump and error message. Based on the content, it looks like the

[2016-09-29 09:59] monzool commented on #217
My home directory is `/home/skv` and I am running a US language Kubuntu with no directories using any unicode characters

[code]

My locale is mostly non-US though:

[code]

[code]

[2016-09-29 10:09] Cloudwu1 commented on #262
@sean-mcmanus Thank you. I thought it was missing. And now find it.

[2016-09-29 13:33] joewood commented on #256
Seeing this too. On Ubuntu 16.

[2016-09-29 13:35] jhasse commented on #261
I don't. I also think that forcing people to use English is a plus.

[2016-09-29 13:50] joewood commented on #59
Doesn't work on my Ubuntu 16.0.4 64-bit. Debugging works but language service doesn't. Can't see any meaningful errors in verbose model. Is this the `glibc` issue?

[2016-09-29 14:30] sean-mcmanus commented on #268
I'm reproing the bug. We'll investigate.

[2016-09-29 14:47] sean-mcmanus commented on #269
Thanks for reporting this. I'm reproing the bug on Windows too. It seems to only repro when the file is unsaved in a workspace. We should have it fixed in the next release.

[2016-09-29 15:04] sean-mcmanus commented on #256
We don't currently support Ubuntu 12 (although there are workarounds to get it to work), but I'm not reproing this on supported Linux platforms. Is the file saved as a C++ file? Do any other features like Format Code work? Is Microsoft.VSCode.CPP.Extensions.linux running?

[2016-09-29 15:20] joewood commented on #256
File is saved as .cpp file.  Yes the extension is running.

[2016-09-29 15:27] sean-mcmanus commented on #256
I'm observing Go to Definition failing in the non-"open folder" scenario on Ubuntu 14, but it starts to work after I open a folder. Is that what you see? Strangely, the open file scenario is working on my other Linux machine.

[2016-09-29 15:32] joewood commented on #256
Killing the process -9 and restarting vs code seems to have fixed the issue. Maybe I had a zombie hanging around.

[2016-09-29 16:50] Boddlnagg opened #270 "Allow other source languages (like Rust) in debugger"
I know that this extension is made for C/C++, but since what I'm describing below works in Visual Studio (without an extension), I wonder why it works only _partially_ with the Visual Studio Debugger from inside VS Code. I understand if that is out of scope for this extension, but I'd like it to be considered at least.

When I build an executable with the MSVC-based Rust compiler (which creates a

[2016-09-29 16:52] Boddlnagg commented on #270
I just noticed that this is probably a duplicate of #75

[2016-09-29 16:54] jacdavis commented on #270
VSCode extensions declare the files they support. If you modify ~/.vscode/extensions/ms-vscode.cpptools-0.9.2/package.json and edit this section to include rust files:
 "debuggers": [
      {
        "type": "cppdbg",
        "label": "C++ (GDB/LLDB)",
        "enableBreakpointsFor": {
          "languageIds": [
            "cpp",
            "c",
            ".h",
            ".cc",
            "

[2016-09-29 16:59] jacdavis commented on #270
Sorry, I just realized you're working on windows, not Linux, and are generating pdb symbols. Which debug configuration are you using? C++ Windows or C++ GDB/LLDB?

Since you mentioned you're using pdb symbols, you would need to use the C++ Windows configuration, and still enable the file extensions you are interested in inside the package.json for the extension (change the section I pointed you to

[2016-09-29 17:02] jacdavis commented on #75
VSCode debugger extensions have to declare what files they allow breakpoints to be set in. This exists in the package.json file for the extension. If you add file extensions for the languages you care about in this section of ~/.vscode/extensions/ms-vscode.cpptools-0.9.2/package.json:
 "debuggers": [
      {
        "type": "cppdbg",
        "label": "C++ (GDB/LLDB)",
        "enableBreakpointsFor

[2016-09-29 17:59] jacdavis commented on #265
Andy, I just checked in a fix for this. I will ship in our next release. I believe the work around I listed above will get you unblocked, so I'm closing the issue. Thanks a lot for reporting it.

[2016-09-29 17:59] #265 closed, assigned to jacdavis

[2016-09-29 19:44] d-xo commented on #156
Would love to see this, setting up include paths / compiler options (especially on large projects) is one of the (very few) pain points for c++ development in vs code.

[2016-09-29 20:09] Boddlnagg commented on #270
I am using C++ Windows, no GDB/LLDB involved. Adding`"rust"` to the list of `languageIds` for the `cppvsdbg` debugger type actually allows me to set breakpoints and step through the code, thanks! There are still no variables shown under "Locals", but the local variables _are_ evaluated on mouseover, so this is good enough for me.

Since I don't think that much can be done here to make this scenari

[2016-09-29 23:33] jacdavis commented on #270
Great, thanks for letting us know. I will go ahead and close the issue.

[2016-09-29 23:33] #270 closed, assigned to nobody

[2016-09-30 01:01] ZCShou commented on #249
![2](https://cloud.githubusercontent.com/assets/8591065/18977126/458a5fc2-86ea-11e6-8b2e-3b7110a32050.gif)

[2016-09-30 03:08] ashwin opened #271 "Need a Go to Declaration feature"
Visual Studio Code does not have a **Go to declaration** feature. While this may not be needed in many languages, it is important for C++ programmers. Could you add this feature?

[2016-09-30 05:57] MikaelSmith commented on #201
The `-exec -enable-pretty-printing` option seems unsupported in lldb.

[2016-09-30 11:55] jhasse commented on #257
Okay I've got the C++ extension working again under Windows and tested debugging with MSYS2: Everything works fine for me.

Maybe it's your build system which inserts the paths in the wrong format? Have you added `"miDebuggerPath": "C:\\msys64\\mingw64\\bin\\gdb.exe"` to `launch.json`?

[2016-09-30 14:23] sean-mcmanus commented on #249
Our C++ extension does not provide the outlining/folding feature. I believe it's a bug in VS Code itself. You appear to be using a pre-release version of VS Code.

[2016-09-30 16:26] jacdavis commented on #257
@jhasse, how are you compiling? Is gcc running such that it is seeing windows style paths or virtualized unix style paths? It seems the original poster is getting unix style paths compiled into symbols: "\home\Yienschwen\gdbTest\main.cc". VSCode expects windows paths. On Cygwin, we use cygpath to map from virtualized unix paths to windows paths, but we haven't investigated anything like that for m

[2016-09-30 20:23] dclarkNV opened #272 "Windows Debugger breaks on lowercase filename"
VSCode Version: 1.5.3
OS Version: Win10
Steps to Reproduce:

Create an .exe that uses mixed case filenames. i.e. Source.cpp
Add a breakpoint to Source.cpp
Debug and hit the breakpoint
The editor will open up source.cpp alongside Source.cpp. The arrow pointing to the current line is in source.cpp, the breakpoints are in Source.cpp. It's pretty confusing. Both files can have their own sets of breakp

[2016-10-01 07:40] yiwuzihui commented on #256
On 32 bit Ubuntu either 12 or 14, 'go to definition' feature doesn't work. It failed to create '.vscode' folder and '.BROWSE.VC.DB’ on my 32 bit Ubuntu virtual machine. But it does work on my friend's 64 bit Ubuntu system.

[2016-10-01 18:11] sean-mcmanus commented on #256
Our extension binaries for Linux are 64-bit, so they won't run on 32-bit Linux. The latest version won't create the .BROWSE.VC.DB in the .vscode folder, but it should launch a Microsoft.VSCode.CPP.Extension.linux process.

[2016-10-02 15:48] misuo commented on #201
Yes, confirmed @MikaelSmith. On Max OS X - using the LLDB - the debugger console outputs:

[code]

So it doesn't seem to be supported.

The VARIABLES window section do show content but it pretty much useless to use for complex Standard C++ library types, such as `std::string`. Right now I'm using old fashioned "print" (aka `std::cout`) for debugging.

[2016-10-02 22:52] agauniyal commented on #261
There are other tasks far more important than this is atm :)

[2016-10-03 03:54] reporter123 commented on #226
I would have considered writing a separate plug-in to do this if that was needed. However I would be inclined for simplicity to use the compile_commands.json file. Even if coding support was still needed. json files are well support by the existing code base. Which makes them easier to parse then "CMakeLists.txt" as much of the code needed is already written. Is compile_commands.json supported by

[2016-10-03 12:04] johnfredcee opened #273 "Go To Definition/Peek Definiton slow on large codebases"
I have tried to use Visual Studio Code CppTools with the Unreal Engine 4 codebase but find it unusable because it takes up to a minute to resolve a "Go To Definition". I can supply my config files if needed.

[2016-10-03 15:45] sean-mcmanus commented on #273
I got a repro: TEXT in UnrealEngine-release\Engine\Source\Runtime\VulkanRHI\Private\VulkanCommands.cpp . And other "blue" text in that file. It doesn't always repro though.

[2016-10-03 16:05] sean-mcmanus opened #274 "No feedback when "Go To Definition" doesn't work"
I do "Go To Definition" on VK_NULL_HANDLE in UnrealEngine-release\Engine\Source\Runtime\VulkanRHI\Private\VulkanDevice.h .

Bug: It silently fails (in other cases, it takes a long time to give results). It would be nice if gave some feedback as to what happened, e.g. "Couldn't be found", "Local variables aren't supported yet", "Processing...", "Unknown error", etc.

[2016-10-03 16:45] sean-mcmanus commented on #271
Yes, I believe we can add that. "Go To Definition" already does a "Go To Declaration" when the definition can't be found.

[2016-10-04 08:47] itorus commented on #178
Having this same issue too. Any solutions yet? Using v 0.9.2 . Really want to use VS code to code in C but these issues are really starting to deter me.

[2016-10-04 11:23] johnfredcee commented on #273
It seems pretty random: for example - TArray in LegacySlateFontInfoCache.cpp resolves instantly. FScopeLock takes much longer.

[2016-10-04 17:59] sean-mcmanus commented on #178
What are your repro steps? On VS Code startup? Are you making changes to an unsaved document like "Untitled-1"? Our extensions should work with C code just as well as C++ code. We have a known crash when an unsaved document is used as a C/C++ file.

[2016-10-04 18:06] itorus commented on #178
Well I just freshly installed VS Code. Installed the C/C++ 0.9.2 extension, enabled. Then when I type cmd+k, m and select C, then type a letter it gives me that error. Yes, it is on VS code startup and typing into unsaved Untitled-1 document. Is this why it doesn't work for Java either? Because it is an unsaved document? For Java it gives me error of "couldn't start client Language support". Sorry

[2016-10-04 18:10] sean-mcmanus commented on #178
Yes, we don't currently handle the unsaved file case correctly. If you save the file first (so it exists on disk somewhere), our tool should be usable.

[2016-10-04 18:31] itorus commented on #178
Ah okay great, that fixed it. No longer getting that error. Just out of curiosity, is VS code capable of automatically importing necessary header files? For example, if I type "pri", will it suggest "printf" and automatically import <stdio.h>? Or vice versa, if I've already imported <stdio.h>, will it suggest printf when I type "pri"? I'm just wondering if this feature is something you can only ge

[2016-10-04 19:33] sean-mcmanus commented on #178
We have some rudimentary auto-complete (which will get better later), but no auto-#include adding. Opening a folder gives best results.

[2016-10-05 00:43] kevinmoran opened #275 "stdio.h "Include file not found in include directory""
I've started having trouble including <stdio.h> in VSCode on Mac without getting this warning. I've added c_cpp_properties.json to my .vscode folder, with the include path "/usr/include" but the issue persists.

I have no idea why this isn't fixing the warning, here are two folders open side by side; one has the issue, the other doesn't:

<img width="1172" alt="screen shot 2016-10-05 at 10 36 59 a

[2016-10-05 06:37] patricksuo commented on #275
http://stackoverflow.com/questions/28362994/where-is-my-stdio-h-in-mac
http://stackoverflow.com/questions/38162836/how-do-i-install-xcode-8-command-line-tools

[2016-10-05 20:54] delmyers commented on #272
@dclarkNV, are you using mingw, Cygwin, or the Microsoft build tools?

[2016-10-05 20:56] dclarkNV commented on #272
Microsoft build tools (cppvsdbg)

[2016-10-05 20:59] delmyers commented on #272
@dclarkNV, then I have to ask a follow-up. Are you cloning a repository from git or something like that? It is normally difficult to get yourself into this situation on Windows because file names are not case sensitive. For example, if you attempt to create two files "source.cpp" and "Source.cpp" in the same location, Windows won't let you do that.

[2016-10-05 21:01] delmyers commented on #259
Fixed.

[2016-10-05 21:01] #259 closed, assigned to nobody

[2016-10-05 21:07] dclarkNV commented on #272
Let me clarify: There is no source.cpp, there is only Source.cpp.

However, when the debugger breaks on a line in Source.cpp, the editor opens up a new tab called "source.cpp". Now there are two tabs open, source.cpp and Source.cpp referring to the same file. They both appear to have their own separate set of breakpoints.

[2016-10-05 22:34] delmyers commented on #272
@weinand, it seems that this might be a bug in code, not in our debugger. Essentially, we are reporting to vscode that it should open a file, and vscode is not correctly discerning that the file is already opened.

[2016-10-05 23:12] kevinmoran commented on #275
Thanks sillyousu, installing Xcode command line tools and relaunching VScode fixed my problem.

[2016-10-05 23:12] #275 closed, assigned to nobody

[2016-10-05 23:20] dclarkNV commented on #272
Relevant closed bug in code https://github.com/Microsoft/vscode/issues/12922

[2016-10-07 04:54] Spongman opened #276 ""Connection to server is erroring. Shutting down server.""
- VSCode Version: code_1.5.3-1474534134_i386.deb
- OS Version: Linux 3.16.0-4-686-pae #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) i686 GNU/Linux

Steps to Reproduce:
1. install vscode-cpptools
2. open output window

output window contains 3x "Connection to server is erroring. Shutting down server."

broken: autocomplete, symbol search, goto/peek definition.

f12 shows script errors:

[code]

[2016-10-07 05:08] Spongman commented on #276
seriously? where's the 32-bit binary?

[2016-10-07 05:11] Spongman commented on #38
really? no support for 32-bit?

[2016-10-07 12:49] equinoxr commented on #98
Hello,
having the same probleme, im NOT able to install xterm. I have just installed Konsole.
Is there a way to change this in source code for myself? what do i have to build then?

greetz equinoxr

[2016-10-07 14:14] sean-mcmanus commented on #38
Yes. We only build 64-bit Linux binaries.

[2016-10-07 14:30] sean-mcmanus commented on #276
It's not built. We also don't support all Linux distributions (e.g. Ubuntu 12, CentOS7...I don't know which 64-bit Debian versions we work on). Seems like we could show a better error message at least.

[2016-10-07 17:11] delmyers commented on #98
@equinoxr

If you are interested in trying to get Konsole to work for yourself, you can clone http://www.github.com/Microsoft/miengine, and edit the file src/MICore/TerminalLauncher. You can compile it with mono, or on Windows using .NET Desktop, and patch your copy of the dll.

We might be willing to take a pull request for it, but we don't have any automated tests for the terminal launch code, s

[2016-10-07 18:10] delmyers commented on #227
@aoyulong

The cl compiler can depend on a lot of pre-configured environment variables that can make it difficult to figure out how to use. Normally the easiest way to get it working is to launch it from the "developer command prompt". Can you try to launch the "Developer Command Prompt" if it is available, and then execute code.exe from there? That might help you get past your issues.

[2016-10-07 18:12] delmyers commented on #137
@sczh01 Since you have not gotten back to us, I'm going to assume that you aren't having any problems anymore. Feel free to re-open the issue if you need more help.

[2016-10-07 18:12] #137 closed, assigned to nobody

[2016-10-07 18:13] #140 closed, assigned to nobody

[2016-10-07 18:20] delmyers commented on #272
I'm reopening Microsoft/vscode#12922. I don't think that this is an issue with the debugger. It seems more like an issue with the editor.

[2016-10-07 18:23] delmyers commented on #121
@LVier, @ampatel21, we are you still seeing this issue? We are unable to repro it, and your logs would be a great help.

[2016-10-07 18:33] delmyers commented on #266
@sg- Unfortunately, vscode does not pass security attributes to child processes, which makes it difficult for the debugger to get the permissions correct for all situations.

However, you may not need to launch using gdb server here. If you need to use GDB server on the "remote side", you might be able to launch your remote program, and use the "attach" configuration to attach to gdb server using

[2016-10-07 19:29] Spongman commented on #276
can you build the 32-bit version?

[2016-10-07 20:55] delmyers commented on #261
Is this the same as #7 ?

[2016-10-07 21:26] sean-mcmanus commented on #261
I don't think so. By support Chinese, I think they mean our tool should work with a Chinese language codebase, and it should now (previously, our tool didn't support UTF-8 correctly). #7 was filed before VS Code had any translated text. This bug is just about UI strings. So I think #7 can be closed.

[2016-10-07 22:01] edumunoz commented on #266
From my understanding, this doesn't necessarily have to be a permissions issue. Due to the udev rule, your user has permission to the USB device, so I assume the process that VSCode executes does too.

A possible issue has to do with the pattern that you have specified in `launch.json`. From looking at the code, I can see that the extension will wait until that pattern is received from the server

[2016-10-08 01:57] ghost commented on #196
FYI, it's still not working for me in 0.9.2

VS Code: 1.5.3, C/C++ Extension: 0.9.2, Ubuntu 15.10, 4.2.0-42-generic

[2016-10-09 12:50] natezhenghy commented on #128
OS: windows 10(14393.222)
No folder is opened. Just create a new file, set language to C++, type anything, then the issue would occur. I reinstall VSC, uninstall all other extensions, and reinstall C/C++ but it is still there.

[2016-10-10 03:42] kevinmoran opened #277 "Allow arrays allocated with malloc() to be expanded in Watch window"
Visual Studio has the syntax "_ptr_to_array, 10_" to show first 10 elements of a malloc-ed array in the watch window. This would be an extremely nice feature, inspecting dynamic memory is quite an irritating process in VsCode at the moment. Thanks.

[2016-10-10 11:12] LFishi commented on #121
@delmyers I am sorry I didn't response at all. My primal focus was the project which is over now but I will see these days if I can still reproduce the problem. Stay tuned

[2016-10-10 11:19] csholmq commented on #13
@sridmad Any status on this? Haven't heard much regarding auto-complete since April. Perhaps #180 is a suitable path to choose until the auto-complete feature is more finalized?

[2016-10-10 14:39] sean-mcmanus commented on #196
On Ubuntu 14 I'm not reproing the bug. Do you have another formatter extension installed? If you change the fallback-style does it change?

[2016-10-10 14:41] sean-mcmanus commented on #128
Yes, this is a known issue with using a newly created, unsaved file. You should save the new file to workaround this bug. Opening the folder the file is saved at would also be recommended.

[2016-10-10 16:10] jacdavis commented on #277
If you are using the windows debugger with vscode (not gdb, but the real windows debugger) this syntax is supported in the watch window. If you are using gdb or lldb, you'd need to use the syntax as supported by the expression evaluator for the debugger being used. Assuming you are using gdb, this documentation shows you how:
http://www.delorie.com/gnu/docs/gdb/gdb_54.html

Note that you'd need to

[2016-10-10 17:47] ghost commented on #196
Extensions:

[code]

On further testing, I think you are correct it is working but how it works can be confusing. Let me explain:

When I set `"C_Cpp.clang_format_fallbackStyle": "LLVM"` without a `.clang-format` file it worked as expected (2 space indents, etc.)

I reset `"C_Cpp.clang_format_fallbackStyle": "Visual Studio"`. Then I created a  `.clang-format` with the Linux Kernel style (http://cl

[2016-10-10 19:00] sg- commented on #266
I've tried with no pattern as well. What I found odd was that launching the gdbserver in a separate console, the gdb client found it and attached even though the pattern would have already been printed to the console. This is achieved by:

How does the launcher determine the server process has started? Read a string from stdout??

[2016-10-10 20:47] sean-mcmanus commented on #276
Unfortunately, we're not currently planning to, and it's not as trivial as changing a compiler flag. We also don't have easy access to 32-bit Linux machines (Azure VMs don't support 32-bit OS's). We expect most Linux users to be using a 64-bit version, so I would recommend upgrading to a 64-bit OS if possible or using another 64-bit Linux OS. Is there are reason you're using a 32-bit OS? Maybe thi

[2016-10-11 00:30] damienpontifex commented on #226
Thanks for the help. I wasn't aware of the `compile_commands.json` tooling file process, so I will look into it.

[2016-10-11 00:30] #226 closed, assigned to nobody

[2016-10-11 09:16] rsirefelt opened #278 "Building/debugging using cmd/msvc 14"
Hi 2 questions:

1: I've now spent almost 4 hours on trying to build/debug a helloWorld binary
using the cmd terminal and the msvc 14 compiler on windows without any success.
Does anyone know if this can be done in an easy way?
The problem I have is that I need to run vcvarsall.bat in cmd before being able to
find the compiler, and this seems hard to do in tasks.json.
(I would rather not add the v

[2016-10-11 15:13] delmyers commented on #278
@rsirefelt

When you installed the compiler tools from Microsoft, did it also install something called the "Developer Command Prompt"? If yes, then I would suggest launching Visual Studio Code from that command prompt. It should set up the path that you need to use the vc tools.

[2016-10-11 15:36] rsirefelt commented on #278
@delmyers

Ahh, this way of doing it did work.
Thanks!

I was trying to run VS Code from windows desktop but did not manage to set
the "Developer Command Prompt" as the "terminal.integrated.shell.windows" settings.
Do you know if this also can be done?
i.e. launch VS Code from windows explorer but still use the "Developer Command Prompt"
as the default VS Code terminal.

[2016-10-11 16:10] sean-mcmanus commented on #196
Okay, so the C++ extension is not buggy, right? It sounds like you were seeing a 4 space indent due to the VS Code "editor.tabSize": 4 setting. We only control what happens after a format operation and we also get the tabSize/insertSpaces results (e.g. if detectIndentation sets those). The editor.tabSize setting needs to match the .clang-format TabWidth or things will look off. The Visual Studio s

[2016-10-11 17:10] delmyers commented on #278
@rsirefelt
I got this to work, though it isn't fully tested. If you create a new shortcut, and set the "Location" of the shortcut to:

`"C:\Program Files (x86)\Microsoft Visual Studio\VS15Preview\Common7\Tools\VsDevCmd.bat" & "C:\Program Files (x86)\Microsoft VS Code\Code.exe"`

And the "start in" field to:

`"C:\Program Files (x86)\Microsoft VS Code"`

It looks as though the shortcut will launch

[2016-10-11 19:47] agauniyal commented on #201
Atleast provide a nice button or some config option to turn this on by default..

[2016-10-11 19:49] jhasse commented on #201
Please just turn it on by default, no button. Everyone who wants to turn this off, should be in the minority.

[2016-10-11 20:01] delmyers commented on #201
@jhasse we made the determination to turn this off by default because we were seeing some large performace problems due to pretty printing. We aren't in a place where we would want to risk perf in order to show this kind of data. Also, it only works on gdb for linux. LLDB, mingw, and Cygwin do not have support for pretty printing.  We are looking at other solutions that will work for both lldb and

[2016-10-11 21:42] jhasse commented on #201
When did you notice this? Maybe it's possible to fix this in GDB.

MinGW definitely has support for pretty printing!

[code]

![gdb](https://cloud.githubusercontent.com/assets/80071/19289539/85c000ae-900b-11e6-974d-40bbfa72cdf4.png)

I don't know much about LLDB, but if I understand it correctly, it also supports pretty printing, but names it differently: http://lldb.llvm.org/varformats.html

[2016-10-12 00:57] ghost commented on #196
Correct, the C/C++ extension works _as designed._ However, _as designed_ as a system VS Code + C/C++ extension + automatic clang formatting is confusing.

On all platforms, a hard tab is defined to occur every 8 spaces. Linux, BSD and OSX TTY drivers all follow this convention. So does Windows Command Prompt/Console and Windows Powershell. We can wish it was defined to be another size (like 4) but

[2016-10-12 01:22] ZCShou opened #279 "vscode-cpptools can not be used on the last updates"
- VSCode Version: Code - Insiders 1.7.0-insider (cf203e09145586b96497eab230253d686c2b2a2d, 2016-10-11T06:11:07.928Z)

Steps to Reproduce:
1.When VSCdoe opens last floder including some C/C++ file automatically, It will crash.
3.Only display on the last updates

[2016-10-12 03:56] Izikiel commented on #206
I have code in C which calls code in ASM and it would be very useful to debug the ASM code within vs code without calling specific gdb commands which only show part of the source.

[2016-10-12 06:05] sean-mcmanus commented on #196
All you have to do to get what you want is set "editor.tabSize": 8. Visual Studio and VS Code chose 4 as the default tabSize (and if you think they should change that you can post an Issue in the vscode forum); however, it looks like VS Code 1.6 enables some ability to set settings so maybe we could change that default to 8 for C/C++, but I'm not sure yet (VS Code has Vim/Emacs extensions so maybe

[2016-10-12 08:56] ghost commented on #196
This is two questions.

Q1. Why do I want hardTabSize of 8?

Because this is the *nix standard and because of this tools like cat, diff, git, vim, emacs, cut and pasting from the Terminal window, etc. all use this standard out of the box so I'd like to set it to 8 and forget about it and have things just work. This way I can open data files, Makefiles (that often contain hard tabs in them), etc. a

[2016-10-12 09:35] cschengshuo commented on #263
I had same problem
I tried to run clang-format directly
`./clang-format: error while loading shared libraries: libtinfo.so.5: cannot open shared object file: No such file or directory`
then solve the problem with
`sudo dnf install libtinfo.so.5`

[2016-10-12 11:17] DevSecTim commented on #201
+1 VSCode needs this support _urgently_, one of the main reasons I choose VS over Sublime etc is due to the debugging, which is currently rendered almost useless by this missing feature.

Cheers
Tim

[2016-10-12 13:30] DevSecTim commented on #201
Also, fair enough don't have it on by default, but certainly allow us to override it in launch.json/c_cpp_properties.json

[2016-10-12 13:50] DevSecTim commented on #201
`-exec p <whatever>` in the debug window uses your GDB pretty printers like normal as a work around I have just discovered

[2016-10-12 16:33] sean-mcmanus commented on #196
Okay, thanks for the explanation. I think I understand what you want now. VS Code itself controls most of the tabSize stuff (and detectIndentation behavior), so I'm not sure if there would be any unforseen issues with us adding our own softTabSize/IndentWidth setting (i.e. via modifying the text as it changes). And anything our extension adds would only work for C/C++ files, so to get that behavio

[2016-10-12 16:33] edumunoz commented on #279
Hi @ZCShou,

What version of the extension are you using?
What operating system are you using?

When you say "it will crash", do you mean VSCode crashes or some process in the extension? What error message do you see when this happens?

Edit: I tried the latest version for the extension (0.9.2) and VSCode Insiders (1889442ff090ef8170814a98698506300962dbba) and I didn't have any problems.

[2016-10-13 00:07] artagnon commented on #195
To close the loop, I have been using the new release for several weeks now, and all the crashes are gone. Good work!

[2016-10-13 00:24] artagnon opened #280 "Very poor Autocomplete; possibility of polyfill?"
Hi,

Autocomplete is basically not working. At first, I thought it was my include path; for LLVM, it's very simple: "${workspaceRoot}/include". It doesn't even complete "Basic" to "BasicBlock" (token seen a couple of lines below) here:
<img width="282" alt="screen shot 2016-10-12 at 8 16 04 pm" src="https://cloud.githubusercontent.com/assets/37226/19332310/d612d6e6-90b8-11e6-9130-e62504c45088.png"

[2016-10-13 00:28] artagnon opened #281 "Buggy autocomplete in comments: sometimes uses dictionary words; other times, classes"
The images should talk for themselves.

<img width="599" alt="screen shot 2016-10-12 at 8 26 16 pm" src="https://cloud.githubusercontent.com/assets/37226/19332475/53523ede-90ba-11e6-881c-a380a7e7be93.png">
<img width="600" alt="screen shot 2016-10-12 at 8 25 50 pm" src="https://cloud.githubusercontent.com/assets/37226/19332479/5c219e92-90ba-11e6-8157-d4ec5bff449e.png">

[2016-10-13 00:32] artagnon opened #282 "configurations.includePath doesn't seem to work"
I can set `configurations.includePath` to "~/src/llvm/include" or "${workspaceRoot}/include", and there are squiggly lines on everything. Notice that even `std` stuff isn't found! Did you not include an implicit includePath for Mac?

<img width="345" alt="screen shot 2016-10-12 at 8 31 41 pm" src="https://cloud.githubusercontent.com/assets/37226/19332539/070a2fcc-90bb-11e6-938f-39ee3af7b70f.png">

[2016-10-13 00:37] sean-mcmanus commented on #282
We don't have any implicit includePaths. There are just the defaults that you see in c_cpp_properties.json. If you're using xcode stuff, this might have a solution https://github.com/Microsoft/vscode-cpptools/issues/275 .

[2016-10-13 01:11] ZCShou commented on #279
VSCode Version: Code - Insiders 1.7.0-insider (cf203e09145586b96497eab230253d686c2b2a2d, 2016-10-11T06:11:07.928Z)
OS：Win10 14393
extension： (0.9.2)
@edumunoz  Maybe this issue is only for me. I create another folder, but this issue also can not display.
Maybe is it related to my SVN? I will have a try again. Thank you for your help.

![4](https://cloud.githubusercontent.com/assets/8591065/1933303

[2016-10-13 01:33] artagnon commented on #282
There seems to be a huge lag between me setting the includePath, and the squiggly lines going away, with no indication of progress. And "${workspaceRoot}" definitely seems to be broken.

Please consider making "/usr/include" and "/usr/include/c++" implicit on Linux and Mac. Nobody using cpptools is ever _not_ going to want that. I'd send a PR if the code were open source (as I've done for vscode).

[2016-10-13 09:59] sguillia commented on #170
Hello,

I updated vscode from 1.4.0 to 1.6.0 and now I'm having this issue.

cpptools has released 0.9.2 so I assume this bug has been fixed. I have the latest vscode version so I also assume I have the latest cpptools version (since the `about` section does not show that information).

Now retrograding to 1.4.0. Should I do something ?

[2016-10-13 13:27] amigo421 opened #283 "Downloading package 'Visual Studio Windows Debugger' Failed at stage: downloadPackages Error: unable to get local issuer certificate"
this
`
// Place your settings in this file to overwrite the default settings

{
    "http.proxyStrictSSL": false
}
`

works for vscode itself, but seems doesn't affect c++ tools extension

[2016-10-13 14:14] sean-mcmanus commented on #170
What version does it say for C/C++ in the extensions pane (bottom button on the left)? It should show 0.9.2. Otherwise you need to upgrade it (I don't think it updates extensions when you update VS Code itself). You shouldn't need to downgrade to 1.4.0 of VS Code.

[2016-10-13 14:30] agauniyal commented on #282
`/usr/include/c++` is fine but I won't put `/usr/include` because last time I checked, it started showing every possible symbol without context awareness for autocompletion. Think of typing `len` and you're getting repeated suggestions for symbols starting with `a..`.

[2016-10-13 14:46] sherkwast opened #284 "Updating C/C++ dependencies... Downloading package Error: connect ETIMEDOUT"
Updating C/C++ dependencies...

Downloading package 'Visual Studio Windows Debugger' Failed at stage: downloadPackages
Error: connect ETIMEDOUT xxx.xx.x.xx:xxx

Finished

[2016-10-13 16:14] delmyers commented on #85
Thanks everyone for the feedback. There is currently a limitation in Windows that is preventing us from doing this correctly. We are waiting on the Windows team to finish off their work.

[2016-10-13 16:32] sean-mcmanus commented on #283
You need to add the "http.proxy": "http[s]://<hostname>:<port>" setting or an HTTP[S]_PROXY environment variable. Uh...but if you're seeing VS Code work, maybe we're doing something wrong? Unlike VS Code, we're always using an HttpsProxyAgent and not an HttpProxyAgent. Is your http.proxy protocol http?

[2016-10-13 16:36] sean-mcmanus commented on #284
Are you connected to the internet? The 1st package is 12 MB.

[2016-10-13 16:38] edumunoz commented on #279
Thanks for your response! I just tried the latest insiders build on Windows 10 and can't repro this either.

However, it seems like the whole editor becomes unresponsive, can you check the task manager to see if any process (especially `Code - Insiders.exe` or `Microsoft.VSCode.CPP.Extension.exe`) are using high CPU percentage?

Also try the latest insiders build to see if there was an issue with

[2016-10-13 16:47] sean-mcmanus commented on #279
Do you have other extensions installed? Does it repro without our extension installed? I have observed similar freezes when using other extensions in which the VS Code UI can freeze with the unresponsive window. From what I can tell, VS Code itself has the potential for freezing issues, because I don't know (yet) how an extension can freeze VS Code on its own (normal high CPU usage in our extensio

[2016-10-13 16:54] sherkwast commented on #284
Yes, I am connected to the internet.

[2016-10-13 16:59] sean-mcmanus commented on #284
Hmm...I'm not reproing it. The URL is https://go.microsoft.com/fwlink/?LinkID=825339 . Are you able to access that?

[2016-10-13 19:09] sherkwast commented on #284
Yes.And I download a zip file.

[2016-10-13 19:31] sean-mcmanus commented on #284
Okay, we make an https request to that URL to download the zip...so I'm not sure why it would timeout in VS Code. We read the http.proxy and http.proxyStrictSLL settings from VS Code and possibly the HTTP[S]_PROXY environment variable. I don't think we've gotten other reports of this. ENOENT occurs if there's no connection at all, so it looks like your connection is just really slow and is timing

[2016-10-13 19:41] amigo421 commented on #283
sorry for extremely short and unclear initial description

our network uses proxy indirectly, there is a special hosts on a firewall, which split the traffic on internal and external and add proxy for external one on the go. so for the application , we do not set up the proxy and it works. I believe the problem with cpptools is no in this.
the problem is that our internal certificate is not truste

[2016-10-13 20:47] sherkwast commented on #284
So where should I put the zip file...

[2016-10-13 21:55] sean-mcmanus commented on #283
The proxyStrictSLL setting should require the http.proxy setting or the http[s]_proxy environment variable otherwise I don't see how it would work. Can you check for a http[s]_proxy environment variable? Or enter some valid value for http.proxy? If you open C:\Users<user>.vscode\extensions\ms-vscode.cpptools-0.9.2\out\src\packageManager.js you can see GetHttpsProxyAgent to see how we use the proxy

[2016-10-13 22:04] DevSecTim opened #286 "Microsoft.VSCode.CPP.Extension.darwin pegging CPU for hours on end"
Any reason why this happens?  My Mac fan is going all the time while using VSCode and its annoying and hot!  Surely IntelliSight (or whatever) doesn't constantly need to scan code?

![screen shot 2016-10-13 at 23 04 04](https://cloud.githubusercontent.com/assets/2226767/19368746/6f63f09c-9199-11e6-95ce-2268ada885bc.png)

[2016-10-13 22:11] sean-mcmanus commented on #284
Bypassing the download/install is not really recommended. We do other "install" stuff like modify the package.json. However...if you go to the install location Users\(user)\.vscode\extensions\ms-vscode.cpptools-\<version\> then you can open package.json to see the URLs that have additional downloads you'll need, which are list under the "runtimeDependencies" section. All the downloads go to the th

[2016-10-13 22:23] sean-mcmanus commented on #286
Yeah, that is not normal. How many CPU cores do you have? One? It should use most of the CPU on one core. Why are there 4 extensions processes running? There should only be 1 per VS Code instance. You should probably kill those if they're extra. If you have opened a big root folder it might take a long time to build the browse database. Are there processes running 32 hours?

[2016-10-13 22:48] sean-mcmanus commented on #286
Oh, on Mac/Linux the near 100% CPU usage reported is actually for just 1 Core, unlike the Windows Task Manager which divides the usage by the number of cores. So the behavior of our extension is the same.

[2016-10-13 23:17] amigo421 commented on #283
Please do not close the request- I'll can to check at Mon only. I'll write the result here

[2016-10-13 23:31] sean-mcmanus commented on #283
Sure. Also, there's also a potential workaround via manually downloading the platform-specific packages you need, adding the install.lock file, and possibly modifying our package.json (if you need OpenDebugAD7 to work), and making the binaries executable if you're on Linux/Mac. See https://github.com/Microsoft/vscode-cpptools/issues/284 .

[2016-10-14 00:55] ZCShou commented on #279
I only used vscode-icon extension and vscode-cpptools extension. I find this issue will not display when I use VScode 1.6 stable. So maybe It's VScode Insiders's problem.But I can not find reason. Someone has repored this issue. thanks!

[2016-10-14 06:14] DevSecTim commented on #286
Since this post I have actually realised that closing VSCode doesn't actually kill the helper processes, which is why there where four - so maybe thats a bug on Mac?

Also, my root folder is definitely not large enough to justify 32 hours!

Is there anything I can do to help you guys reproduce?

[2016-10-14 08:26] DevSecTim commented on #281
+1

[2016-10-14 09:13] DevSecTim opened #287 "A few missing keywords in highlighting"
'sizeof'
![screenshot from 2016-10-14 10-17-19](https://cloud.githubusercontent.com/assets/2226767/19382283/6cd0dbac-91f7-11e6-9ab9-98e563d1db91.png)

[2016-10-14 09:15] DevSecTim commented on #287
'override'
![screenshot from 2016-10-14 10-15-06](https://cloud.githubusercontent.com/assets/2226767/19382224/1dc4e562-91f7-11e6-95c0-7dc13b260b3c.png)

[2016-10-14 12:50] rsirefelt commented on #278
Thanks for all the help!
I ended up using the first solution you suggested.

[2016-10-14 14:23] sean-mcmanus commented on #286
Yeah, the helper process isn't supposed to go away until it's done processing stuff, but it still sound like something is going wrong. Can you find out how many files are in the workspace? Or how large the .browse.vc.db is after it's done processing? How long does it take to stop, if ever? If you can get a repro on an open source project that would be good.

[2016-10-14 14:59] DevSecTim commented on #286
I'll see what I can do and get back to you on this thread, as far as my observations show it never finishes - but I wasn't properly paying attention.

Watch this space.

[2016-10-14 15:30] sean-mcmanus commented on #287
We use the built-in VS Code atom/language-c as our colorizor.

sizeof is not really a bug -- it's being colorized that way by the theme you're using. Other themes don't repro the issue. See https://github.com/atom/language-c/issues/151 . I guess you could file a bug with the theme?

Also, override is not a keyword. I don't see it colorized like a keyword online, such as http://en.cppreference.com/

[2016-10-14 17:06] stevenbrix opened #288 "environment variables not recognized in includes path"
it would be nice to be able to have environment variables in your include path

[2016-10-14 18:07] sean-mcmanus commented on #288
We do support environment variables in the includePath via the syntax "${ENVVAR}". However, the tooltip for the includePath should mention that so users like yourself are better able to discover this.

[2016-10-14 23:11] pieandcakes commented on #278
It looks like this is resolved. If it isn't, please reopen and/or comment.

Thanks

[2016-10-14 23:11] #278 closed, assigned to nobody

[2016-10-15 11:09] DevSecTim commented on #287
Fair enough on both comments, although I am using the default VSCode theme...

[2016-10-17 01:39] bayesrule opened #289 "${fileBasename} with extension, any variable without extension?"
- VSCode Version: 1.6.1
- OS Version: Window 7

Hi,

When using cl.exe in VS Code for C++, without other specification the output program is automatically named as {fileNameWithoutExt}.exe. In current VS Code, we already have ${fileBasename} with extension and ${fileExtname} (the extension). Is it possible to add another variable without the extension?

Below is an example in my launch.json file.

[2016-10-17 08:28] kevinmoran opened #290 "Tasks.json: Cannot find makefile with -f flag using MinGW"
I'm setting up VSCode for C/C++ development using MinGW (Windows 10). Here are the contents of tasks.json:

{
    "version": "0.1.0",
    "command": "make",
    "isShellCommand": true,
    "args": ["--file=Makefile.win32"], //works
    //"args": ["-f Makefile.win32"], //does not work
    "showOutput": "always"
}

If I use the "does not work" version of args, I get the following output:

The other

[2016-10-17 08:53] kevinmoran commented on #290
Just verified the following also works:

[code]

Guess it's a whitespace issue.

[2016-10-17 10:38] kevinmoran commented on #290
Ok, figured out how to do space-separated arguments in case anyone finds this with a similar problem.

[code]

Obvious in hindsight!

[2016-10-17 10:38] #290 closed, assigned to nobody

[2016-10-17 14:54] stevenbrix commented on #288
oh great, thanks sean! I couldn't find it anywhere in the documentation, so it would be helpful if it could be discovered that way too

[2016-10-17 14:54] #288 closed, assigned to nobody

[2016-10-17 15:56] sguillia commented on #170
@sean-mcmanus I didn't knew where to look for to update cpptools and it wasn't updated (was below 0.8.1). Now it works fine. Thank you

[2016-10-17 16:47] delmyers commented on #289
Moving this to vscode, since we don't control the variables available to the launch.json as far as I know.

[2016-10-17 16:48] delmyers commented on #289
This issue was moved to Microsoft/vscode#13895

[2016-10-17 16:48] #289 closed, assigned to nobody

[2016-10-17 16:49] delmyers commented on #266
@edumunoz @paulmaybee Do you have an answer to @sg's question?

[2016-10-17 17:07] edumunoz commented on #266
I'm not super familiar with this code, but frommy understanding from reading the code (as pointed in the second link of my previous comment), it seems like MIEngine reads from `stdout` and signals `StartedEvent` when the pattern matches a line.

The first link in my comment points to the part of the code that waits for `StartedEvent`. The error message used if `StartedEvent` is not set within the

[2016-10-17 18:25] roblourens opened #291 "outlining doesn't work for non-standard file extension"
_From @amigo421 on October 17, 2016 18:11_
- VSCode Version: 1.6.1
- OS Version: Win10

Steps to Reproduce:
1.  have a files (c++ syntax but non-standard extension, c++ scripting for specific system)
2. user settings contains (probably incorrect??)

`
"files.associations" : {  "*.aaa" : "cpp"  }
`

outlining (Ctrl+Shift+O) doesn't work ("no symbols.." message),
in case of I rename the file with us

[2016-10-17 18:25] roblourens commented on #291
I verified that this works as expected for TS, but not CPP. Could this extension be filtering based on file extension?

[2016-10-17 18:30] sean-mcmanus commented on #291
Yes, the C/C++ extensions filters based on file extension. I don't really understand the bug you're reporting.

[2016-10-17 18:35] roblourens commented on #291
Users can use the `"files.associations"` setting to register another file extension as belonging to language X. With the setting above, file.aaa will be colored as cpp, but ctrl+shift+O won't work.

[2016-10-17 18:35] delmyers commented on #291
@roblourens, it does filter based on extensions. That is the standard way that vscode works with extensions today. You can hack the debugger to work with custom file extensions by locating the file `home/.vscode/extensions/ms-vscode.cpptools-<ver>\package.json` and updating the sections that look like this:

[code]

to add the extension you are interested in. Unfortunately, you have to do this eac

[2016-10-17 19:01] roblourens opened #292 "C++ symbol search and other features not working on Linux install"
_From @ericgrossNI on October 17, 2016 18:33_
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:43:46.054Z)
- OS Version: Linux x64 3.10.0-327.36.1.el7.x86_64 (Scientific Linux 7)
- Extensions: ms-vscode.cpptools-0.9.2

I have used Visual Studio code for quite a few versions on both Windows and Linux. For some reason, none of the symbol database features seem to

[2016-10-17 19:34] sean-mcmanus commented on #291
Ah, yes, I seem to recall the "no symbols" is a known bug. Our browse engine is not correctly taking the file.associations into account and just uses a hardcoded list. The bug also repros if you manually do Change Language Mode for a file. Ctrl+Shift+O is Go To Symbols in file, not outlining/folding.

[2016-10-17 19:47] delmyers commented on #291
@sean-mcmanus is there already a bug logged somewhere for this?

[2016-10-17 19:52] sean-mcmanus commented on #291
I don't remember the bug number and a search didn't find it. I just remember the bug was mentioned in a previous forum discussion. Using this thread to track the bug seems fine to me.

[2016-10-17 20:26] joewood opened #293 ""Connection to server is erroring" on RHEL7.2"
VSCode 1.6.1, Extension 0.9.2

I'm seeing error below when trying to use the extension on RHEL7.2:

[code]

The extension additional files have been downloaded and installed successfully. There's not much information when I start code in verbose mode.

Is there anything else I can do to diagnose the problem?

[2016-10-17 20:59] sean-mcmanus commented on #293
Is your OS 32-bit? The error you're seeing occurs when our 64-bit language server process fails.

[2016-10-17 21:06] sean-mcmanus commented on #292
I'm not reproing this bug. If the "Go to Definition" is missing then our Microsoft.VSCode.CPP.Extension.linux language server process is completely failing. It's possible your particular Linux distribution doesn't have the required dependencies. We test on Ubuntu 14/16 and Mint. We are known to not support older distributions such as Ubuntu 12 or CentOS7.

[2016-10-17 22:00] ericgross2 commented on #292
Hi,

I am using Scientific Linux 7.2 which has a release date of Feb 5th, 2016, so it isn't terribly old. The various packages included are also up-to-date since then as well.

Can you provide me any details on what dependencies it has that I can check for and provide versions for? Is there any debug output I can check?

I opened the Console output of the developer console and see this listed. I d

[2016-10-17 22:01] weinand opened #294 "Allow for triggering breakpoints when a watch condition is met"
_From @nholthaus on October 17, 2016 20:11_

Allowing for expressions in the `watch` block of the code debugger is really helpful! But it would be even better if it was possible to trigger a breakpoint automatically if the expression or evaluates to `true` (or changes, whatever is easier).

[Visual Studio has a similar feature](https://msdn.microsoft.com/en-us/library/aa295838%28v=vs.60%29.aspx#_c

[2016-10-17 22:01] weinand commented on #294
_From @roblourens on October 17, 2016 20:54_

We do actually have this - set a breakpoint then right click on it and select 'Edit breakpoint' to set a condition.

[2016-10-17 22:01] weinand commented on #294
_From @nholthaus on October 17, 2016 20:56_

I guess that's sort of the opposite of what I'm asking for.

You're saying that you can break at a known location, if a given condition is met.

I'd like to break at whichever location causes the condition to be met.

[2016-10-17 22:01] weinand commented on #294
_From @roblourens on October 17, 2016 21:0_

Oh, I see

[2016-10-17 22:01] weinand commented on #294
@nholthaus we only add feature like this to the generic VS Code debugger UI if there is actually a chance that a debug extension will be able to implement this. Node.js does not support this and we've got no requests from the C++ or C# teams. Do you have examples for runtimes that would support that feature?

[2016-10-17 22:01] weinand commented on #294
_From @nholthaus on October 17, 2016 21:37_

I was hoping for c++ support, which I think would also involve changing the c++ extension. Visual Studio C++ has the equivalent feature so it's not impossible to implement.

[2016-10-17 22:01] weinand commented on #294
@nholthaus moving to the C++ extension.

[2016-10-17 22:08] sean-mcmanus commented on #292
Can you try going to ~/.vscode/extensions/ms-vscode.cpptools-0.9.2/bin and doing ldd Microsoft.VSCode.CPP.Extension.linux ? And I assume you're using a 64-bit OS. See https://github.com/Microsoft/vscode-cpptools/issues/19 for a potential workaround (getting glibc 2.18).

[2016-10-17 22:10] sean-mcmanus commented on #293
RHEL7.2 may not be using glibc 2.18 (7.0 doesn't). See https://github.com/Microsoft/vscode-cpptools/issues/19 for a potential workaround.

[2016-10-17 22:16] ericgross2 commented on #292
Thanks, that appears to be it:

$ ldd Microsoft.VSCode.CPP.Extension.linux
./Microsoft.VSCode.CPP.Extension.linux: /lib64/libc.so.6: version `GLIBC_2.18' not found (required by ./Microsoft.VSCode.CPP.Extension.linux)
    linux-vdso.so.1 =>  (0x00007ffc5f5f6000)
    libm.so.6 => /lib64/libm.so.6 (0x00007fede86b7000)
    libpthread.so.0 => /lib64/libpthread.so.0 (0x00007fede849b000)
    libc.so.6 =>

[2016-10-17 22:21] sean-mcmanus commented on #292
Yeah, glibc 2.18 was released in 2013, so 2.17 is 2012 I think. It would be great to get telemetry on how many users are hitting this and also to give a better error message.

[2016-10-17 22:25] ericgross2 commented on #292
I am primarily a Windows user, though I do a lot on Linux VMs these days. I chose Scientific Linux because it is one of the main platforms supported by National Instruments for the test and measurements community (see http://www.ni.com/product-documentation/52786/en/).

I don't understand the rationale behind why some distros still ship ancient versions of glibc (even though they ship new kernels

[2016-10-17 22:32] ericgross2 commented on #19
Thanks, this workaround worked for me on Scientific Linux 7.2 (still ships with Glibc 2.17 for some reason). The only thing missing from your steps is to make sure to chmod +x the new script.

[2016-10-17 22:34] ericgross2 commented on #292
Note: I validated the workaround in #19 fixes this issue. Thanks!

[2016-10-17 22:35] #292 closed, assigned to nobody

[2016-10-18 09:40] amigo421 commented on #283
just checked (from builtin terminal):

exact message on the starting:

just for sure - vscode works fine, just installed a couple extensions without issues

unfortunately, i have no experience in TS/JS, , so give me more time to review the code .

#

update:
for the testing only - Ive commented out this:
`// "http.proxyStrictSSL": false,`

and got absolutely the same error , but now, for the whole

[2016-10-18 12:09] daldr-ntml opened #295 "How to disable auto-complete in comments"
Auto-complete in comments can be annoying. Is there a way to disable it?

[2016-10-18 14:39] sean-mcmanus commented on #283
Okay, it sounds like the VS Code extension downloading is somehow able to use the proxyStrictSSL without a proxy URI. What version of VS Code are you using? I searched the vscode source and I don't see any spot where it would behave different from our code or where it uses the proxyStrictSSL without having a proxyURI: https://github.com/Microsoft/vscode .

[2016-10-18 14:50] sean-mcmanus commented on #295
[code]

The 1st disables our C++ autocomplete and the 2nd disables the VS Code's word based autocomplete. A future release is expected to disable C++ autocomplete in comments.

[2016-10-18 14:55] daldr-ntml commented on #295
Thanks for your answer. Are these options documented anywhere?

[2016-10-18 15:08] sean-mcmanus commented on #295
Sort of. File->Preferences->User/Workspace Settings brings up a Default Settings that lists the settings and has a link to some online docs for VS Code in general, and you get auto-complete with tooltips in the settings.json when you type.

[2016-10-18 16:39] tinganho opened #296 "Please add renaming"
It would be very useful if this tool also supported renaming of variables.

[2016-10-18 16:57] sean-mcmanus commented on #296
I agree.

[2016-10-18 21:44] roblourens opened #297 "VSCode is using a lot of the CPU on this Mac with the CPP extension"
_From @brennanMKE on October 18, 2016 19:41_
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:27:10.246Z)
- OS Version: Darwin x64 15.6.0
- Extensions: Kasik96.swift-0.0.2, Orta.vscode-ios-common-files-1.0.2, TimonVS.ReactSnippetsStandard-1.0.3, TwentyChung.jsx-0.0.1, alechp.react-toolbox-snippets-0.12.0, cdsama.shell-snippets-0.1.2, dbaeumer.vscode-eslint-1.0.

[2016-10-18 21:53] sean-mcmanus commented on #297
Microsoft.VSCode.CPP.Extension.darwin is expected to use 100% CPU on 1 core. Is that the behavior you're seeing? How is that a problem for you?

[2016-10-18 22:31] brennanMKE commented on #297
It is a problem because VSCode is in the background while I am working in another app. I expect it should not be doing anything while I am not actively using the app. In the very least it should have a much lower priority so that it is not using the CPU heavily.

[2016-10-18 22:51] sean-mcmanus commented on #297
How many CPU cores do you have? Are you saying our extensions process is competing with another process for the same CPU core? We expect our users to have multi-core machines that have enough processing power to do the necessary processing. I suppose we could add a setting to turn off features that require this processing. If your machine makes a loud fan noise when a process uses a lot of CPU on

[2016-10-19 00:49] brennanMKE commented on #297
This MacBook has a 3.1 GHz dual Core i7 processor.

https://support.apple.com/kb/SP715?locale=en_US&viewlocale=en_US

[2016-10-19 02:45] RyanSung opened #298 "failure: Updating C/C++ dependencies in offline mode"
Updating C/C++ dependencies...

Downloading package 'Mono Framework Assemblies' (4751 KB) .................... Done!
Downloading package 'Mono Runtime (OS X)' (1549 KB) .................... Done!
Downloading package 'LLDB 3.8.0 (OS X)' (18486 KB) .................... Done!
Downloading package 'C/C++ language components (OS X)' Failed at stage: downloadPackages
Error: write EPROTO 140735231705088:e

[2016-10-19 03:11] sean-mcmanus commented on #298
Sounds like the Node.js OpenSSL library we depend on is failing. I haven't seen that before. What happens if you restart VS Code and try again? What are your VS Code "http." settings? Are you able to download these?
https://go.microsoft.com/fwlink/?LinkID=826082
https://go.microsoft.com/fwlink/?LinkID=826083

[2016-10-19 04:12] C-F-4 commented on #258
Thatnks @Johnny4Fun  it works!
Just added "C:\Windows\System32\wbem" to the path and it went on to successfully install the dependencies.

Although, the weird thing is the extension worked fine on Windows 10 PC where the path didn't had "C:\Windows\System32\wbem" included, but didn't work on my Windows 7 laptop.

[2016-10-19 06:35] Aukstkalnis opened #299 "Question about embedded systems debugger."
I want to be able to debug embedded systems with VSCode debugger. My code is written in C. I have debugger tools ulink and st-link v2. They have command line interface for code debugging. I am using Keil uvision 4 compiler. My question is: How to attach these tools to vscode debugger? Do I need some sync between obj and code?  Can you provide my with info on how to do that?
Thank you.

[2016-10-19 16:14] sg- commented on #266
Could you provide an example of how I'd try this?

[2016-10-19 22:09] sean-mcmanus commented on #297
Yeah, that seems like a good machine. My laptop has similar specs. The Intel processor seems to use some turbo boost that has a louder fan when CPU usage gets too high, but that is normal. Your machine should have 4 logical cores, and our process should only be using 1 of those logical cores, so you should be able to use your other apps without problem. If the noise is a bother to you, you may wan

[2016-10-19 23:02] brennanMKE commented on #297
Today I do not have the `pjsip` project opened so it is not busy today. I still have the recommended CPP plugins installed. It seems having Android/Java and JavaScript projects do not cause any excessive processing.

For your test case is appears that `pjsip` is a good way to reproduce the issue.

[2016-10-19 23:51] sridmad commented on #297
@brennanMKE , Thanks for the repro.

When a open a folder with C++ files is opened with VSCode-cpptools extension installed following we do the following
- Parse _all_ C / C++ files recursively under the folder to populate the browse database.
- Once all files under the folder are processed, headers referenced in the source files are located in the set of  directories specified by includePath sett

[2016-10-20 00:48] smarter opened #300 ""Go to Symbol in Workspace" stops working in non-C/C++ files when this extension is installed"
I'm running Ubuntu 16.10, and here is the behavior I observe after installing and enabling this extension:
- open any non-C/C++ file (say, a typescript file)
- do `Ctrl+T`
- Start typing
- As long as you type one or two characters, everything is fine
- As soon as you type at least three characters, vscode displays a small bouncing progress bar and stops displaying any result
- Once this has happen

[2016-10-20 01:01] brennanMKE commented on #297
It could be something unique. It seemed like it would stop for a while and start again. Perhaps you can identify a unique detail in that project which causes this problem to happen.

[2016-10-20 01:48] roblourens opened #301 "cpptools do not find definition of local variables"
_From @jeybrahms on October 19, 2016 23:56_
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T15:43:46.054Z)
- OS Version: Linux x64 4.4.0-43-generic
- Extensions: donjayamanne.python-0.4.2, ms-vscode.cpptools-0.9.2

Steps to Reproduce:
1. Create a bug.cpp file and put this code inside
   void f() {
   int nodeffound = 1;

   int b = nodeffound + 1;
   }
2. right-c

[2016-10-20 04:20] yejun556688 opened #302 "has error OS x 10.11.6"
Updating C/C++ dependencies...

Downloading package 'Mono Framework Assemblies' Failed at stage: downloadPackages
Error: connect ECONNREFUSED 111.13.109.41:443

Finished

[2016-10-20 10:20] Jevyn commented on #298
On the topic of updating C/C++ dependencies, can we please have an offline install option that has all the dependencies bundled together?  I work in a development environment intentionally disconnected from the internet.  Right now I'm having to hack a solution by reading the package.json files to determine what I need to download and then reading the source for how the package manager works.  It'

[2016-10-20 12:46] astand opened #303 "Clang-formatter don't allow work another code formatter"
After installing extension my previous formatter has stopped working. I really don't know how force to work extension and other formatter together? Is there some method? ("C_Cpp.clang_format_fallbackStyle": "none" - not works)

[2016-10-20 14:00] LYP951018 opened #304 "Add custom preprocessor definitions?"
What about allowing users to config custom preprocessor definitions in the JSON file like command line [/D](https://msdn.microsoft.com/en-us/library/hhzbb5c8.aspx) in MSVC?

[2016-10-20 17:52] delmyers commented on #303
My guess is that vscode picks an extension to go with somehow. @sean-mcmanus, do you know a way to get this to work?

[2016-10-20 17:53] delmyers commented on #302
@yejun556688, this particular extension needs to download dependencies for individual platforms. Can you try restarting vscode and trying again? If that doesn't work, try uninstalling and reinstalling the extension.

[2016-10-20 17:54] delmyers commented on #304
@LYP951018, what is the scenario that you are trying to support here? Do you expect IntelliSense to work differently based on preprocessor definitions?

[2016-10-20 18:00] delmyers commented on #299
@Aukstkalnis, this debugger uses gdb or lldb as its underlying debugger via the mi protocol. If your embedded systems can talk over the mi protocol, then this should be possible. @paulmaybee has had some success with iot devices. Maybe he can help out.

[2016-10-20 18:06] delmyers commented on #298
@Jevyn, @RyanSung , I'm sorry that you are experiencing these difficulties. Unfortunately, we depend on a number of native components that have to be compiled for each platform. If we shipped them all in the same extension, then a large portion of the extension would not be useable to you, and you would have to wait a long time for the initial download.

@Jevyn, do you have a suggestion for the "o

[2016-10-20 20:12] joewood commented on #293
Yes, this is the issue - glibc dependency. Could the extensions use **npm install** and **gyp** rather than binary install to get around these dependency issues?

[2016-10-20 20:36] Jevyn commented on #298
@delmyers I get the files the same way I get vscode and extensions.  I download them on an internet connected machine.  Virus scan them, burn to CD and physically move them to the disconnected network.  Don't get me wrong - it's not an ideal solution, but is the environment I have to work in.   I'd need all of the dependencies for all platforms anyway - we have multiple developers using vscode who

[2016-10-20 21:45] delmyers commented on #298
@Jevyn, Can you explain to me in a little more detail your current workflow. What are the steps you use for "downloading them, and burning them to a CD"? How do you install vscode+extensions after you download and burn? And what do you download and burn?

[2016-10-21 00:09] greazer commented on #300
Hi smarter. Yep, this is a known issue that we plan on addressing in an upcoming release -- very likely the next one.

[2016-10-21 00:09] #300 closed, assigned to nobody

[2016-10-21 00:16] LYP951018 commented on #304
@delmyers Yes.

[2016-10-21 00:17] greazer commented on #301
Hi roblourens. Our extension currently does not parse the code within functions. Therefore, any functionality that would require that, such as this, will not work as desired. This is a common request and we do expect to address it in future release.

[2016-10-21 00:17] #301 closed, assigned to nobody

[2016-10-21 00:27] roblourens commented on #301
Thanks, and just to be clear, the several bugs I've filed this week are just being moved from the vscode repo, not originating from me.

[2016-10-21 00:29] greazer commented on #303
@astand, currently our extension does not provide a way to turn off the code-formatting feature that's built into it. This is something that we will definitely consider for our next release as VSCode overall does not provide an ability to force the order of extensions being used. Therefore if there are two extensions loaded that have similar functionality, only one of them will win.

That being sa

[2016-10-21 00:39] greazer commented on #296
@tinganho, Renaming is a feature that we consider part of a much larger work-item to implement more intelligent auto-complete (aka Intellisense(tm) in the Visual Studio world) for our extension. We hope to roll that out in the coming months.

[2016-10-21 06:34] astand commented on #303
@greazer, I am using astyle extension, I used it before vscode and it is very familiar to me.
I guess that there is no a big conceptual difference between them, and I tried to use clang-formater from the extension but I really don't understand how to work with .clang-format option file. I put it in different locations on pc (LLVM/bin, project workspace, .vscode folder, unrelated folders), tried se

[2016-10-21 06:38] Jevyn commented on #298
@delmyers Workflow is as follows
Internet Terminal:
1.  Download vscode (Windows, Mac and x64 rpm)
2.  Go to cpptools marketplace (https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools)
    right click, view source
    search for VSIXPackage, copy paste to new window to download
    ex:  https://ms-vscode.gallerycdn.vsassets.io/extensions/ms-vscode/cpptools/0.9.2/1474583577220/Mic

[2016-10-21 08:56] jrieken commented on #303
@delmyers When two matching formatters for a language are available VS Code picks the one that came last. This isn't ideal, for October we are working on resolving this, and we also need your support here. After a long thought process and weighing options we agreed on adding settings for our formatters, like `typescript.format.enable: true|false` such that another registered formatter can be picke

[2016-10-22 15:58] IchiNiNiIchi commented on #298
@RyanSung I come across the same situation, and I go around it by changing URL that causes failure from using https to using http.

[2016-10-24 11:33] amigo421 commented on #283
first of all, there is a latest vscode version, auto-update for the editor itself and extensions works with no issues.
I've also checked how my other dev tools work out there. so all ones work with "no proxy" setting.
and without the error with local issuer.
so seems my PC requies no proxy. the only issue with a certificates whicxh are really in use in case of external traffic. is there any extend

[2016-10-24 15:12] BillDenton opened #305 "Files modified on disk are automatically reloaded without warning"
Files modified externally on disk are automatically reloaded without warning. This means that I'm not aware that they have changed. It would good to have an indication that this happened with an choice to compare & merge the new and old files, keep the old version or load the new version. I would guess that this would have to be configurable by file or file type (with a global default). For exampl

[2016-10-24 15:13] BillDenton commented on #305
Opps sorry wrong place.

[2016-10-24 15:13] #305 closed, assigned to nobody

[2016-10-24 17:35] stefan-schweiger opened #306 "Ability to run dependency update via terminal"
As far as I have noticed there doesn't seem to be the ability to start the dependency update process via a terminal command. Which makes it really cumbersome to deploy the extension automatically on a large multiuser system.
Maybe any advice how do do this or plans to integrate such a "feature"?

[2016-10-24 19:48] greazer commented on #303
@jrieken Thanks, we'll be adding this switch to our extension. Most likely our next release.
@astand The way clang format works is by looking for a .clang-format or _clang-format file in the same folder or one of the parent folders of the source that's being formatted. Also note that C_Cpp.clang_format_style is not used to set the path to the .clang-format file.

[2016-10-24 20:11] greazer commented on #303
@astand Oh, it's also important to not set C_Cpp.clang_format_style at all, or set it to "file" in order to make our formatter look for the .clang-format file. This may be the source of the problems you're having since it sounds like you're trying to set the path the .clang-format file using that option. That won't work.

[2016-10-25 06:51] astand commented on #303
@greazer Thanks, i've got it. I deleted wrong settings (all related to c_cpp.clang_*) and added ".clang-format" file to source code dir. It has only one string - {BasedOnStyle: Visual Studio}. Predefined style - "Visual Studio" but formatter applies another style (I guess that it is LLVM) . When I delete ".clang-format" file, formatter uses Visual Studio style.

[2016-10-25 09:28] amigo421 commented on #283
is there an ability to download all required manually?

I don't know how to work with an extensions as a projects, I've tried to open your extension as a folder,
and faced with a similar issue:
- if httpStrictSSL = true - vscode shows me a error : unable to get local issuer certificate
- if httpStrictSSL = false - no issues on an extension loading

[2016-10-25 13:03] mazhan465 commented on #284
After I do these,I can open VS code normal.But When I click debug,only follows :

---

You may only use the C/C++ Extension for Visual Studio Code with Visual Studio
Code, Visual Studio or Xamarin Studio software to help you develop and test your

## applications.

and debugger seems not  really get into main funtion.

[2016-10-25 13:41] equinoxr commented on #100
Hi, some update fixed my problem its working now.
Thanks ! ;)

[2016-10-25 13:41] #100 closed, assigned to nobody

[2016-10-25 13:45] equinoxr commented on #98
Uff, tried to compile Miengine but its just to complicated for me... could somone compile it for me as a amd64 Linux version? this whole project is too complicated for me... to muc depencies and stuff.. for someone who knows the project probably just a few clicks... so in TerminalLauncer.cs

[code]

private const string XTermPath = "/usr/bin/xterm";

should be

[code]

private const string XTermPa

[2016-10-25 15:48] delmyers commented on #98
@equinoxr, the MiEngine is a .NET dll. You don't need to compile it for a particular architecture. If you are on Linux, you should be able to build just the MICore project using Mono (you don't have to build the whole thing). Have you used Mono before? I'll see if I can track down some instructions for you.

[2016-10-25 15:51] delmyers commented on #306
@stefan-schweiger, can you describe to us your ideal scenario? How would you like this to work?

[2016-10-25 15:53] delmyers commented on #298
@Jevyn, can you email me at delmyers@microsoft.com? I can try and help you come up with a solution for your particular situation.

[2016-10-25 16:05] stefan-schweiger commented on #306
@delmyers since I don't know if the dependency update process is started by VS Code or the extension I'm not sure how feasible my idea is. But ideally something like `code --updateDependencyies`. Or at least a script inside the extension folder of your extension which is called `updateDependencies.sh` or whatever, really anything that can be done with just terminal commands is fine for me.

Also a

[2016-10-25 16:06] equinoxr commented on #98
hey thanks for your reply.

i build one hello world project with mono, thats it..
and the miengine dll is also in visual studio code in linux? confusing..

yeah if you would have some map how to compile it with mono on linux that would be cool...

thanks in anticipation and greetz ;)
equinoxr

[2016-10-26 01:03] changm commented on #286
I have this problem all the time. Everytime I close VS Code, another helper process will stay alive forever. If I load up VS code again, it'll launch another process. If I load VS Code 3-4 times w/o actively killing the process in activity monitor, all my CPUs will be taken. This only happens on two separate macs, both running macOS Sierra.

Steps to reproduce:
1) Git clone this repo - https://git

[2016-10-26 02:34] LYP951018 commented on #225
And also HWND!

[2016-10-26 08:26] weinand opened #307 "cpptools auto-install windows debuger fail"
_From @mazhan465 on October 26, 2016 4:27_

Downloading package 'Visual Studio Windows Debugger' (12073 KB) .................... Done!
Downloading package 'C/C++ language components (Windows)' Failed at stage: downloadPackages
Error: write EPROTO 0:error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure:y:\jenkins\workspace\electron-win-ia32\vendor\node\deps\openssl\openss

[2016-10-26 08:26] weinand commented on #307
In the future please file extensions specific issues against the corresponding extension itself and not against VS Code.

[2016-10-26 10:17] filipsky commented on #106
I know this is not an answer for your question, but you may find this usefull:
You can add your setup commands in the launch.json in this way (without -exec):

[code]

[2016-10-26 10:20] filipsky commented on #69
You can setup initial gdb commands this way in the launch.json

[code]

[2016-10-26 10:40] filipsky opened #308 "Visualizer files (.natvis) support does not seem to work on linux"
Hi,
first I'd like to thank you for this extermely useful extension.

The thing I'm not able to configure is the .natvis file support (in the launch.json file)
It does not matter what I write there, the debugger output is always the same.
One more thing: is it possible to add more .natvis files?

Thanks, Honza

[2016-10-26 11:23] mazhan465 opened #309 "WINDOWS debugger seems not to work"
When I click debug only this message:
You may only use the C/C++ Extension for Visual Studio Code with Visual Studio
Code, Visual Studio or Xamarin Studio software to help you develop and test your
## applications.

and then I couldn't do anything.The process seem not go into main funtion.Even My code have  error,debugger still not any change.

[2016-10-26 12:07] Kurt-Shiwz opened #310 "Include file not found in include directory"
Can't include boost header.
vs code: 1.6.1
cpptools: 0.9.2
os: macOS 10.12.1
boost:1.62 (install by brew)
![vscode](https://cloud.githubusercontent.com/assets/7554917/19725358/a670d28a-9bb7-11e6-89d5-fd60ec6384fa.png)

[2016-10-26 16:21] mschuckmann commented on #69
@filipsky
That's great, where did you find this documented?
Also where in the launch.json file does this block?

[2016-10-26 16:27] filipsky commented on #69
I found it here {just search for **setupCommands** on the page):
[https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md](https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md)

I have added the setupCommands block in my OS specific (`"linux": {}` in my case) branch

Best, Honza

[2016-10-26 16:57] jacdavis commented on #308
There was a bug that natvis wasn't being honored by the gdb/lldb configuration. This has been fixed but the fix hasn't yet been released. When this ships, it will be possible to add natvis files via the launch.json.

[2016-10-26 16:59] jacdavis commented on #309
1) Can you check in the debugger output window and see if symbols are loaded for your application?
2) Was your application compiled with the Visual C++ debugger or with GCC? If Visual C++, you are using the correct debugger. If gcc, then you need to use the gdb/lldb options.

Hope that helps

[2016-10-26 16:59] filipsky commented on #308
Thanks for your quick reply.
Looking forward to the next update then!

Best, Honza

[2016-10-27 01:55] carlosd097 opened #311 "I still can't seem to run the debugger on my Mac"
![screen shot 2016-10-26 at 7 51 25 pm](https://cloud.githubusercontent.com/assets/23089420/19751352/bcfff55a-9bb5-11e6-81a6-79297c784e73.png)

I've tried multiple ways suggested by peers.

![screen shot 2016-10-26 at 7 54 51 pm](https://cloud.githubusercontent.com/assets/23089420/19751906/26227756-9bb6-11e6-811a-6866f4e65a43.png)

[2016-10-27 04:12] mazhan465 commented on #309
"version": "0.2.0",
    "configurations": [
        {
            "name": "C++ Launch (Windows)",
            "type": "cppvsdbg",
            "request": "launch",
            "program": "${file}",
            "args": [],
            "stopAtEntry": false,
            "cwd": "${workspaceRoot}",
            "environment": [],
            "externalConsole": false
        },

## That's parts of my laun

[2016-10-27 12:57] weinand opened #312 "[C++] single quotes in numeric literals are parsed incorrectly"
_From @jplatte on October 27, 2016 12:42_
- VSCode Version: 1.6.1
- OS Version: Ubuntu 16.04.1 LTS

Steps to Reproduce:

Open a `.cpp` file with a literal with a single quote in it:

[code]

Expected result: The main function should be highlighted as normal.
Actual result: Everything after the single quote is formatted as if it was in a string literal.

See [integer literal](http://en.cppreference

[2016-10-27 14:42] equinoxr commented on #98
ok build the dll with visual studio community, but now i got a new failure:

error while processing request 'launch' (exception: Could not load type 'Microsoft.MIDebugEngine.DebuggedProces' from assembly  Microsoft.MIDebugEngine [...])

mhh ? any ideas what i did wrong?

greetz & thx

[2016-10-27 14:57] AngrySaltyFish opened #313 "Getting "null" and "Debug adapter process has terminated unexpectedly" when debugging"
Hello,

I am currently having a issue where I am unable to run a executable compile with g++ and get the following errors:
![deepinscreenshot20161027142809](https://cloud.githubusercontent.com/assets/16545605/19772280/40a18bcc-9c55-11e6-92dc-a7c25b8e8e4a.png)

My "launch.json":

[code]

gdb Seems to be working fine in a normal shell and i am currently running arch linux.

[2016-10-27 15:47] mschuckmann commented on #69
Thank you, I figured out that it works if the OS specific block is in the
configuration block, which means it has to be repeated for each
configuration, not terrible.
Also thank you for the link.

Matt S.

On Wed, Oct 26, 2016 at 9:27 AM filipsky notifications@github.com wrote:

[2016-10-27 15:50] delmyers commented on #98
What did you build and what did you attempt to patch? I'm glad that you were able to compile with Visual Studio. Unfortunately, compiling on Linux is difficult, and I have yet to get it to work.

In order to get the particular assembly that you are interested working, you need only build the MICore project and replace the single dll that it generates. You may also like to base your changes off of

[2016-10-27 19:16] jacdavis commented on #309
What is ${file}? Can you please try putting in the path to the program instead? ${WorkspaceRoot} is the path to your open folder in vscode. Generally, we see that the most.

[2016-10-28 10:08] mazhan465 commented on #309
${file} is full path of the current file.And if "program": "${workspaceRoot}/main.c",the result is the same as besides.

[2016-10-28 13:59] equinoxr commented on #98
Hi patched only the MICore.dll, this is now working ( when i choose cpptools branch and desktop.debug enviroment...), so i repoduced the failure with my own dll (cant find xterm failure) -- so there is no problem more.
But no i have really problems with konsole, because it seems like it takes the arguments in a total other way then xterm... tried things like --rcfile and stuff... can you give me a

[2016-10-28 14:15] JuHo1117 opened #314 "${config.XXX} not work in c_cpp_properties.json"
in `settings.json`
set `"HOME_MINGW": "x:/mingw32"`

in `tasks.json`
set `"command": "${config.HOME_MINGW}/bin/make.exe"`
"ctrl+b" Works for me

in `launch.json`
set `"MIDebuggerPath": "${config.HOME_MINGW}/bin/gdb.exe"`
“F5” works for me

in `c_cpp_properties.json`
set `"includePath": ["${config.HOME_MINGW}/include"]`
not work!!!

[2016-10-28 15:40] delmyers commented on #98
Glad you got it to compile, @equinoxr. Now that you are running into issues with launching konsole with the correct arguments, you might be able to see why it is that we can't support all of the different terminals available for Linux. There are just too many variations for us to be able to reliably test.

The init script is essentially an in-line bash script that tells sets up stdin/stdout redire

[2016-10-28 15:42] mkwork opened #315 "[question] Is code open?"
Is code open or are there plans to make it so?
If it's open, where can I get it?
If it's not and/or not planned, that's should be documented in README.md in project's root.

[2016-10-28 15:53] delmyers commented on #315
Portions of the code are open, and portions are not. This extension mostly connects several different technologies together to create an edit and debug experience. The technologies that are used depend on the platform that your are on. The major technologies used are:
Microsoft MiEngine (open: http://github.com/microsoft/MiEngine)
lldb-mi (open: http://lldb.llvm.org/)
clang-format (open: http://cl

[2016-10-28 16:16] jacdavis commented on #309
This is because C and C++ are compiled as opposed to interpreted. You need to compile your code first, and then point the program field to the output of compilation (.exe file). For windows, that would mean using the standalone C++ tools (http://landinghub.visualstudio.com/visual-cpp-build-tools). You can also use a task.json file can also be created that can compile the code when you hit F5.

Tha

[2016-10-29 03:09] mazhan465 commented on #309
It semms rights.But how should I config my task.json.That seems mean I must install MSBuild?

[2016-10-29 05:18] asthana86 commented on #309
Mazhan, you can take a look at this blog which talks at length about how to build your C++ code inside Visual Studio Code, hope that helps.

https://blogs.msdn.microsoft.com/vcblog/2016/10/24/building-your-c-application-with-visual-studio-code/

[2016-10-29 08:58] mazhan465 opened #316 "Unknown Error: 0x800700c1 when Debug"
When I debug a .c file.It is follows:
![qq 20161029165653](https://cloud.githubusercontent.com/assets/20238053/19828466/e24d75d6-9df8-11e6-824c-e7655d19e1f6.png)

[2016-10-30 00:18] NZSmartie opened #317 "Support for Platform pre-processor defeintions"
Hi guys.
Can support for definitions (VC: `\D`, gcc: `-D`, etc...) in `c_cpp_properties.json` be added. This would simplify browsing MACROs or functions that are declared in files which are wrapped inside `#ifdef`, `#ifndef`, `#else` blocks.

[2016-10-30 12:38] equinoxr commented on #98
OK solved it (was hard work! :) ):
I wrote _initScript in a Shell script (replaced ; with  \n dont know if is necessary.. and worte "#!/bin/bash \n" on top)
`
      string scriptPath = Environment.GetFolderPath(Environment.SpecialFolder.Personal) + "/script.sh";

[code]

`

this was necessary because bash was confused with to many '' ...
i also had to chmod the script and then execute it here is t

[2016-10-31 00:44] ecanuto commented on #311
"Program" must be your final executable program and I suggest you try something without space, try "hot-plate".

Also, you must remember to compile your program with "-g" flag to include debug symbols, for final versions you can suppress "-g" to make smaller executable.

So, to compile with debug symbols, try something like:

[code]

Here it works just fine.

[2016-10-31 00:55] ecanuto commented on #263
Since some Linux distros like Arch Linux doest comes with libtinfo.so, an workaround is to install clang-format using package manager (sometimes it already comes with clang compiler) and then add this like to your settings.json:

[code]

It works for me and maybe is better to fix the clang-format bundled with this plugin to compile statically libtinfo (no dependencies).

[2016-10-31 14:06] dtasev opened #318 "Extension builds symbols very slowly and delays autoComplete"
Hello, I've been having issues with this extension, up to the point where I had to uninstall it because it would make the auto complete that VSCode provides unusable.

- Regardless of whether `C_Cpp.autocomplete` is set to `Default` or `Disabled` the auto complete is stuck on `Loading...` most of the time, I imagine that is because the extension is building symbols?
- The extension seems to lose t

[2016-10-31 16:04] jacdavis commented on #311
ecanuto is correct, the program must point to the target of compilation, not a source file.

We recently posted to the VC blog about how to compile on the various platforms. This might help:
https://blogs.msdn.microsoft.com/vcblog/2016/10/24/building-your-c-application-with-visual-studio-code/

[2016-10-31 16:12] delmyers commented on #98
@equinoxr, if you have some suggestions for the cpp tools for embedded Linux, feel free to log another issue here so that we can discuss it as a community. And I'm glad to help!

[2016-10-31 16:22] josesimoes opened #319 "Format variables output when debugging"
It would be nice to be able to choose the format of the variables when in debug.
Right now the output seems to be fixed as decimal. Sometimes is convenient to see the value in hexa or binary.
(this is applicable for both the variables list output and for the "mouse over" display)

[2016-10-31 16:24] jacdavis commented on #319
Are you debugging with the windows debugger, gdb, or lldb? If it is the windows debugger, you can use a format specifier to change the format. For example, to see the value in binary, use "value,b" in the watch window. For lldb and gdb, this is currently only supported in the debug console with -exec.

[2016-10-31 16:26] josesimoes commented on #319
@jacdavis I'm using gdb. Could you please add this as a suggestion for future enhancement?

[2016-10-31 16:38] jacdavis commented on #319
It turns out, gdb has a few format specifiers of its own. They are 'h', (or 'x') for hex and 'o' for octal.

[2016-10-31 16:50] josesimoes commented on #319
Got you.
Question: isn't easier to 'just' format the output (according to the user preference) when actually outputting to the screen rather then having to go and config gdb to output the variable with this or that format?

[2016-10-31 17:23] chrmarti opened #320 "Ctrl + left click(Mouse) is not working."
_From @mong87suk on September 22, 2016 17:9_

- VSCode Version: 1.5.0
- OS Version: Raspbian GNU/Linux 8.0 (jessie)

Steps to Reproduce:
I worte follwoing codes in _test.c_ file

[code]

I did  _Ctrl + left click(Mouse)_  at the 9 line  but the cursor hasn't been moved to the 3 line.
I didn't know why it wasn't moved.
Could you fix this issue?

Thank you.

_Copied from original issue: Microsoft/vs

[2016-10-31 17:23] chrmarti commented on #320
- Do you have the C/C++ extension installed?
- Does 'test' change its color and get an underline when you ctrl + hover?

[2016-10-31 17:23] chrmarti commented on #320
_From @mong87suk on September 23, 2016 2:26_

Hi @chrmarti
Thank you for your support.
- Do you have the C/C++ extension installed?
  Yes, I have. I have installed it.  the version is 0.9.1
- Does 'test' change its color and get an underline when you ctrl + hover?
  No, the color was not changed when I did _ctrl + hover_

Thanks

[2016-10-31 17:23] chrmarti commented on #320
@mong87suk What does the Output panel show in the C/C++ channel?

[2016-10-31 17:23] chrmarti commented on #320
_From @mong87suk on September 24, 2016 13:9_

Hello @chrmarti
Thank you for your support.
I didn't know exactly what I have to show you.
Could you explain more detail?
I posted the picture which is captured on vs code.

![screen](https://cloud.githubusercontent.com/assets/6234666/18808678/8d005d16-82a3-11e6-9625-45975ac602d8.png)

Thank you

[2016-10-31 17:23] chrmarti commented on #320
You can open the Output panel through the menu View > Output. There used to be a C/C++ channel in its top-right channel switcher, though it doesn't show for me currently, it might have been removed, could you check in your set up?

Another thing to try is to run Go to Definition from the context menu on line 9. Does that position the cursor on line 3?

[2016-10-31 17:23] chrmarti commented on #320
_From @mong87suk on September 27, 2016 0:45_

Hello @chrmarti
Thank you for your support.
I checked the _Output_ panel.  it is as follows.
![2016-09-27-091354_1225x715_scrot](https://cloud.githubusercontent.com/assets/6234666/18856146/60877ea8-8493-11e6-8a64-5fbfb01a2c21.png)

When I selected _C/Cpp Languase Server_ on _OUTPUT_,  The error happended.the error message is as follows.
**Connection to

[2016-10-31 17:23] chrmarti commented on #320
Seems to be a problem with the extension.

@waderyan could you move this issue over to Microsoft/vscode-cpptools (or let me know how to do that myself)?

[2016-10-31 20:18] pieandcakes commented on #316
@mazhan465 Can you share with me how this was compiled and your launch.json file contents?

[2016-10-31 20:26] pieandcakes commented on #316
@mazhan465 if you use the Visual C++ debugger on windows, the executable needs to be compiled with Visual C/C++. If you are debugging a gcc/g++ compiled app you need to choose gdb as the debugging option when initially setting up the launch.json file. You can delete the launch.json file and hit the gear button and choose the C++ (GDB\LLDB) option.

[2016-10-31 21:11] pieandcakes commented on #313
@Archangel7777777 Can you provide which version of OS you are using and what version of the extension?

[2016-10-31 21:16] pieandcakes commented on #307
@mazhan465 Can you attempt to close and reopen VSCode and see if it will retry the download?

[2016-10-31 22:20] AngrySaltyFish commented on #313
@pieandcakes
Os version is `4.8.4-1-ARCH`
extension version is `0.9.2`

[2016-10-31 22:42] pieandcakes commented on #313
@Archangel7777777 Can you tell me what you are doing when it gives you the exception? Specifically some steps where I can reproduce this issue?

Also, can you enable **trace** and **traceResponse** and **engineLogging** in the `launch.json` and send me what you get when this error occurs?

Ex:
     `"logging": {
                "trace": true,
                "traceResponse": true,

[2016-11-01 02:26] mazhan465 commented on #316
Thanks.I have solve this problem for debuging with GDB.I think the error is that I haven't compiled with vcbuildtools.

[2016-11-01 04:29] crioux commented on #201
Here is a terrible sad hack to make this work with LLDB on OSX.
First, back up `~/.vscode/extensions/ms-vscode.cpptools-0.9.2/debugAdapters/lldb` (or whichever version you're running.
Then:

[code]

This will force vscode to use the XCode version of lldb rather than the bundled LLDB, which is built without the ability to do 'command script import', and without the libcxx.py needed to parse the stl

[2016-11-01 09:27] DevSecTim commented on #201
Excellent! This, to me, shows that the bundled version should be updated.  Also, the fact we're having to hack around this, surely does show its a feature that is in demand.

Thanks crioux