[2018-05-22 19:25] pieandcakes commented on #1936
@alisazhang3 can you share the launch.json you are using? I don't see it in the zip file you provided.

@aleksijuvani can you provide a repro project and let me know which debugger you are using so I can investigate?

[2018-05-22 19:27] pieandcakes commented on #2026
why do you have a `/` between `-L` and `B:`? If that is where it is, you should be able to do `-lB:\\MinGW\\lib\\` but you need to link a library not a folder.

[2018-05-22 19:32] ghost commented on #2026
The result I'm getting:
      `b:/mingw/bin/../lib/gcc/mingw32/6.3.0/../../../../mingw32/bin/ld.exe: cannot find -lB:\MinGW\lib`
      `collect2.exe: error: ld returned 1 exit status`
      `The terminal process terminated with exit code: 1`

[2018-05-22 19:33] #1956 closed, assigned to nobody

[2018-05-22 19:35] pieandcakes commented on #1930
@zhangmn799 Which version of gdb in MinGW are you using?

[2018-05-22 19:35] Borderliner commented on #2026
@Horsetaur `-l` and `-L` are different. `-l` specifies the name of the library, `-L` specifies the path to the library. Generally, you specify `-L/path/to/lib` and then `-lmylib`.

[2018-05-22 19:39] ghost commented on #2026
@Borderliner
Accordingly to this I've changed inside tasks.json to:
[code]

[2018-05-22 19:41] pieandcakes commented on #2026
@Horsetaur you may find it faster to figure this out by compiling from a command prompt until you figure it out and then updating your `task.json` accordingly. This seems to be an issue with command syntax and not the extension so I'm marking it as `external`

[2018-05-22 19:44] pieandcakes commented on #1760
@Posto578 can you enable `"logging": { "engineLogging": true}` and send me that output? I want to see what lldb is returning when we tell it to use the additional search path.

[2018-05-22 19:56] montaguk commented on #1960
Visual Studio 2013 and 2008, both installed to C:\Program Files (x86)\Microsoft Visual Studio **\.  It's possible that I installed a Build Tools package for VS2017 at one point, but I'm not sure where to look to confirm.

I don't have any system include paths that show up in the list.  Everything it locates is within the project.  My includePath setting only has recursive includes for a couple of

[2018-05-22 19:59] ghost commented on #2026
@pieandcakes
Using code below in command prompt:
`g++ main.cpp -IB/MinGW/lib -lopengl32 -lglu32 -lglfw3 -lgdi32 -o Test.exe`
Gives no errors and builds the file successfuly.

[2018-05-22 20:00] pieandcakes commented on #2026
Ok. If you take those same args and put them in the same order into your launch.json it should work too.

[2018-05-22 20:00] bobbrow commented on #1960
Ok.  That's the problem then.  We don't detect VS 2013 or 2008.  If you add `"compilerPath": ""` to your c_cpp_properties.json, it should stop the extension from using MinGW.

[2018-05-22 20:02] ghost commented on #2026
@pieandcakes you're right, it worked, hilararious.

[2018-05-22 20:07] #2026 closed, assigned to nobody

[2018-05-22 20:10] ghost commented on #1936
I don't have a minimal repro for this right now.. I had assumed that this was simply a missing feature. I'm using the Visual Studio debugger as well. I'll see if I can put together a repro for this later.

[2018-05-22 20:13] montaguk commented on #1960
Setting "compilerPath": "" doesn't seem to make the squiggles go away, but it does stop complaining about not being able to find a valid compiler.  Seems that this is because it's been disabled entirely, rather than fixing the issue.

Are VS 2013/2008 compilers supported if I manually set the compilerPath?  I tried doing that and complained about the options being passed in and the squiggles didn'

[2018-05-22 20:28] bobbrow commented on #1960
No, VS 2013/2008 compilers are not supported at all (though maybe we should go back and add support in a future release).  If you are not using VS 2015 or VS 2017, you need to add the system includes (including the Windows SDK paths) to the `includePath` manually.

[2018-05-22 20:40] montaguk commented on #1960
Gotcha.  Am I correct in thinking that the compiler is only used to grab the system include paths?  Or is it also use for syntax checking and/or other functionality?

[2018-05-22 21:02] sean-mcmanus commented on #1917
There's another bug with the database icon getting stuck with "Parsing open files" (it can repro all the time if you don't have ${workspaceFolder} in your browse.path...it might repro more often for smaller workspaces too).

[2018-05-22 21:21] sean-mcmanus commented on #1960
Currently, our IntelliSense is hardcoded to be configured for the VS 2017 compiler, so for certain peculiarities/bugs/etc. with the older compiler, there could be bugs (particularly if you try to use the cppStandard setting of c++17, which isn't supported on the older VS compilers). We plan to enable users to set the cl.exe path and query it for the correct version so the defines and flags will be

[2018-05-22 22:08] bobbrow commented on #1960
@montaguk correct, the compilerPath is only used to provide system include paths and defines.

[2018-05-22 22:23] montaguk commented on #1960
Good to know.  I think I'm all squared away for now.  Thanks to you both @bobbrow and @sean-mcmanus for all the help!

[2018-05-22 22:33] jamesadevine commented on #286
@sean-mcmanus @bobbrow Can confirm this is back with a vengeance. It seems like a new issue, it only cropped up after having to close my VS code instance, thereby updating to 0.17.1.

Logs are attached.
[process-sample.txt](https://github.com/Microsoft/vscode-cpptools/files/2028813/process-sample.txt)

[2018-05-22 22:51] sean-mcmanus commented on #286
@jamesadevine [UPDATE] We just released 0.17.3 -- does it still repro with that? We fixed some known issues which could cause this.

[2018-05-22 23:18] sean-mcmanus commented on #1774
@azydevelopment It's implemented in 0.17.3.

[2018-05-22 23:18] #1774 closed, assigned to nobody

[2018-05-22 23:19] sean-mcmanus commented on #1627
@Jvinniec 0.17.3 added support for ${workspaceFolder:folderName}.

[2018-05-22 23:20] sean-mcmanus commented on #2009
@prsullivan 0.17.3 supports ${workspaceFolder:folderName}.

[2018-05-22 23:20] #2019 closed, assigned to nobody

[2018-05-22 23:21] #2014 closed, assigned to nobody

[2018-05-22 23:21] sean-mcmanus commented on #2020
Let us know if you're still having problems with 0.17.3 (we fixed the known issues were able to repro, but there could be others).

[2018-05-22 23:22] #2006 closed, assigned to nobody

[2018-05-22 23:23] #2018 closed, assigned to nobody

[2018-05-22 23:25] #1960 closed, assigned to nobody

[2018-05-22 23:25] #2007 closed, assigned to nobody

[2018-05-23 00:22] prsullivan commented on #2009
Thank you!

[2018-05-23 02:26] sean-mcmanus commented on #2025
Is this still reproing with 0.17.3?

[2018-05-23 02:35] sean-mcmanus opened #2031 "#include "" completion doesn't show files in the current directory if the path isn't in the includePath"
Without recursive includes, test.cpp and test.h are in the same folder, not in includePath, the `#include ""` won't show test.h in the completion list in test.cpp.

[2018-05-23 03:43] GMHDBJD opened #2032 "Downloading 1/3: C/C++ language components (Windows)"
![image](https://user-images.githubusercontent.com/35025882/40402424-21388398-5e7e-11e8-9f61-a182e0acd8a3.png)
whether I install in Extension or Install from VSIX it goes wrong. I lives in China.

[2018-05-23 04:18] bobbrow commented on #2032
You can download the "offline" installer from our [releases page](https://github.com/Microsoft/vscode-cpptools/releases).  Get the one that matches your operating system then use the "Install from VSIX" command in VS Code.  It will bypass this step that is getting stuck for you.

[2018-05-23 04:54] GMHDBJD commented on #2032
![image](https://user-images.githubusercontent.com/35025882/40404071-64aa5e58-5e88-11e8-9f24-b21394ddf626.png)
I have tried it,but still failed

[2018-05-23 05:00] GMHDBJD commented on #2032
![image](https://user-images.githubusercontent.com/35025882/40404224-3b6c5978-5e89-11e8-8afe-b6d081695f9e.png)
It appear after I install from VSIX

[2018-05-23 05:19] bobbrow commented on #2032
Which vsix did you download?  It looks like you are on Windows, so you should download [this one](https://github.com/Microsoft/vscode-cpptools/releases/download/v0.17.3/cpptools-win32.vsix).

If you download this "offline" VSIX and install it, it won't try to download dependencies because they are already packaged in.

[2018-05-23 05:27] GMHDBJD commented on #2032
![image](https://user-images.githubusercontent.com/35025882/40404930-ed2b9d56-5e8c-11e8-927e-3ca89907e6b8.png)
![image](https://user-images.githubusercontent.com/35025882/40404937-f4e96118-5e8c-11e8-88de-d5b9a0812138.png)
![image](https://user-images.githubusercontent.com/35025882/40404949-05f0a872-5e8d-11e8-9317-281b663e6207.png)
I don't know why it still failed...

[2018-05-23 08:01] azydevelopment commented on #1774
Thanks guys that's awesome! I'll let you know if I run into any issues.

[2018-05-23 08:25] azydevelopment opened #2033 "Ctrl + Click on include file doesn't disambiguate between files of the same name"
Issue Type: <b>Bug</b>

- Unzip [test.zip](https://github.com/Microsoft/vscode-cpptools/files/2030139/test.zip) and open the test folder in VSCode
- Open test.cpp
- Ctrl + Click "header.h" in the #include <folder0/header.h> directive

Actual: Opens a preview tab that shows both folder0/header.h and folder1/header.h
Expected: Opens folder0/header.h as the include directive states

It seems like fil

[2018-05-23 08:28] danengelbrecht-king commented on #1816
I end up in the same situation where this process is stuck at consuming 100% cpu and it never quiets down, not even for hours on end. They also have a tendency to dangle if I quit VSCode and then I get multiple processes running at 100% "forever".

Attaching a stack trace of the process.
[Sample of Microsoft.VSCode.CPP.Extension.darwin.txt](https://github.com/Microsoft/vscode-cpptools/files/203015

[2018-05-23 08:30] danengelbrecht-king commented on #286
@sean-mcmanus I still have this on 1.17.3 on MacOS 10.13.4, attaching process sample.
[Sample of Microsoft.VSCode.CPP.Extension.darwin.txt](https://github.com/Microsoft/vscode-cpptools/files/2030164/Sample.of.Microsoft.VSCode.CPP.Extension.darwin.txt)

[2018-05-23 11:46] kennyadams commented on #2020
Unfortunately, it's still not fixed. I downgraded to 0.17.1 where its working fine.

[2018-05-23 14:06] BErasmus opened #2034 "C/C++ extension does not work with Unicode identifiers"
I use Unicode identifiers everywhere in my C++ code. It is well supported in Visual Studio. There are some bugs with syntax highlighting for example, but nothing major.

Unfortunately with Visual Studio Code it basically does not work at all. It looks like the problem is caused by the all too common mistake of some code counting in characters interfacing with other code that counts in bytes. Some

[2018-05-23 15:26] bobbrow commented on #2032
I bet that VS Code still has the old 0.17.3 extension installed and isn't actually installing your VSIX.  They really need to add a warning message or something for this.

Can you delete the `%userprofile%\.vscode\extensions\ms-vscode.cpptools-0.17.3` folder and retry installing the "offline" VSIX.
Also, if you see a `.obsolete` file in `%userprofile%\.vscode\extensions`, open it and check to make

[2018-05-23 16:57] rhuanjl commented on #286
I've got the same issue i.e. CPU > 100% and never going back down with 0.17.3 running on macOS 10.13.4.

[2018-05-23 18:42] sean-mcmanus commented on #2032
Yeah, after an uninstall, you need to close/reopen VS Code in order for the uninstall to actually work. I opened an issue in VS Code in regards to this, but that last I heard they closed it until they heard more user feedback.

[2018-05-23 19:00] sean-mcmanus commented on #2033
Yeah, this is a known issue that has existed "forever" (see https://github.com/Microsoft/vscode-cpptools/issues/1253 ). Maybe we can finally fix it soon.

[2018-05-23 19:26] R3D9477 commented on #697
@Andrew-w-w Hi, is it really works fine for you? I have [issue](https://github.com/Microsoft/vscode/issues/50356) and one of developers (as I think) said, that isn't possible :(

[2018-05-23 19:35] sean-mcmanus commented on #1816
@danengelbrecht-king Thanks for those logs. I think I know what's going on. It appears to be caused by the new code that looks through the include path recursively...probably not handling cyclic symlinks correctly leading to an infinite loop. Can you confirm that doing an Edit Configuration and removing the "**" from the includePath's fixes the issue (you may need to "reload window" too)?

[2018-05-23 20:06] #1862 closed, assigned to nobody

[2018-05-23 20:10] sean-mcmanus commented on #2020
You mean you downgraded to 0.17.0, right? 0.17.2 was only released as an insider build. It's possible symbolic links might be causing problems.

[2018-05-23 21:14] bobbrow commented on #286
@danengelbrecht-king, thanks for the sample.  It looks like it is caused by our new recursive include path feature. We are looking at additional ways to improve this.  How big is the folder you opened?

[2018-05-23 21:21] bobbrow commented on #697
@r3d9u11, I responded to your issue.  Take a look at the documentation I linked and let us know if that doesn't meet your needs.

[2018-05-23 23:26] sean-mcmanus commented on #2033
Our next release is expected to have the fix. There was a related bug in that the symbols for the wrong file could end up being parsed (for symbols) due to the path not being taken into account.

[2018-05-24 00:12] sean-mcmanus commented on #1816
@danengelbrecht-king Does this repro with 0.17.3? I don't repro any issue with cyclic symlinks so I'm not sure yet how to repro the issue yet. Are you able to repro the issue with some simple project you could share?

[2018-05-24 00:21] sean-mcmanus commented on #2020
It tried to repro the issue with symbolic links but it worked...so I don't think we'll be able to fix this until we get enough repro details to figure out the cause. It could be a "by design" issue with recursive includes causing the wrong system header to be used due to a name mismatch. You can set the loggingLevel to "Debug" to see which includePaths we end up using (in the C++ section in the Ou

[2018-05-24 00:40] sean-mcmanus commented on #2020
Ah, I found a repro -- yeah, the required paths are not being added in the case `#include <folder/symlink/file.h>` (path to folder is omitted).

[2018-05-24 00:48] sean-mcmanus commented on #1816
@danengelbrecht-king Increasing the loggingLevel to something like the hidden value of "6" or higher might help us track down the cause.

@bobbrow Are you able to identify which method processing is getting stuck in? I assumed it was in parse_includes, but I could be wrong.

[2018-05-24 01:01] SE2Dev commented on #235
Recently I've rekindled my interest in the LSP and figured it would probably be best to clarify the original question, especially since the terminology surrounding the LSP seems to have stabilized somewhat. I'm more curious in what the [Language Server Protocol](https://microsoft.github.io/language-server-protocol/implementors/sdks/) page calls SDKs, and was looking for one that was implemented in

[2018-05-24 01:15] sean-mcmanus commented on #2020
Oops, false alarm -- my symlink was pointing to an unintended target. I'm not able to repro the bug still.

[2018-05-24 01:29] sean-mcmanus commented on #235
From what I understand we don't implement the LSP or the SDKs -- we use the Node.JS one. Instead, we provide a Language Server implementation, which is implemented in C++ in the binary you mentioned. The server gets LSP messages from VS Code and our own typescript/Node.JS extension code. See https://microsoft.github.io/language-server-protocol/implementors/servers/ . Maybe https://github.com/cquer

[2018-05-24 01:47] sean-mcmanus commented on #1253
This should be fixed in our next release (the full path of the include is used to filter out the invalid file targets).

[2018-05-24 04:31] kennyadams commented on #2020
This is the error message in 0.17.3
![40464460-03d5a504-5f39-11e8-9294-7c57d60da29a](https://user-images.githubusercontent.com/39486486/40464709-663bbee4-5f3a-11e8-8d5b-bceaa041b138.jpg)

and this one is without the error(same config, same code) in 0.17.1
![image](https://user-images.githubusercontent.com/39486486/40464533-625a886a-5f39-11e8-861f-f50fe1684db2.png)

[2018-05-24 05:32] bobbrow commented on #2020
Can you set `"C_Cpp.loggingLevel": "Debug"` and then close and reopen the .cpp file?  The extension will log the resolved include path and defines in the Output window (select the "C/C++" filter to see our extension's output).  Then please share the logs or let us know if the include path looks correct.

[2018-05-24 05:33] kennyadams commented on #2020
Here's the log file
[output_cpp.txt](https://github.com/Microsoft/vscode-cpptools/files/2033937/output_cpp.txt)

[2018-05-24 05:34] UR3IQO commented on #1975
@sean-mcmanus

Yes, it crashes on startup

I will have some time on weekend. Would you provide some instructions to help you catch the problem?

[2018-05-24 07:48] weinand opened #2036 "Recursive includePath eating a lot of CPU"
_From @davidhopper2003 on May 23, 2018 9:31_

Issue Type: <b>Bug</b>

I have been using VSCode to edit and build C++ projects under Ubuntu 16.04. Versions prior to V1.23.1 worked very well. But V1.23.1 version is very bad, long-term high-intensity CPU, consuming a lot of memory, and often being crashed. I don't know why such a poor version is released?

VS Code version: Code 1.23.1 (d0182c3417d225

[2018-05-24 07:48] weinand commented on #2036
Can you follow this wiki and post the results back here to understand more about why performance is so bad for you: https://github.com/Microsoft/vscode/wiki/Performance-Issues

Thanks!

[2018-05-24 07:48] weinand commented on #2036
_From @davidhopper2003 on May 23, 2018 9:45_

![image](https://user-images.githubusercontent.com/31435476/40416881-0862c1f2-5eb1-11e8-956f-aea7676e95ff.png)

[2018-05-24 07:48] weinand commented on #2036
_From @davidhopper2003 on May 23, 2018 9:48_

@weinand OK, I'll follow your advice. Thanks a lot.

[2018-05-24 07:48] weinand commented on #2036
_From @davidhopper2003 on May 24, 2018 0:38_

![image](https://user-images.githubusercontent.com/31435476/40457933-c4a4031a-5f2b-11e8-989c-d81048929807.png)
![image](https://user-images.githubusercontent.com/31435476/40458283-d54ba842-5f2d-11e8-8942-d00e299cde1a.png)

[2018-05-24 07:48] weinand commented on #2036
_From @davidhopper2003 on May 24, 2018 0:42_

@weinand Mircrosoft.VSCode.CPP.Extension.linux takes up a lot of CPU resources and Microsoft.VSCode.CPP.IntelliSense.Msvc.linux occupies a lot of memories.

[2018-05-24 07:48] weinand commented on #2036
_From @davidhopper2003 on May 24, 2018 0:43_

@weinand  Versions prior to V1.23.1 worked very well and didn't take too much system resources at all.

[2018-05-24 07:48] weinand commented on #2036
_From @davidhopper2003 on May 24, 2018 0:52_

@weinand I Furthermore, I can't often use current version to jump to the definition of a function and format the cpp code and these problems didn't occur in previous versions.
.

[2018-05-24 07:48] weinand commented on #2036
Since all of your issues are related to the the cpp extension (which is not part of VS Code), I'll move this issue to their repository.

[2018-05-24 08:23] dcx9306 commented on #2036
I have the same issue. System is Ubuntu 16.04 as well. I think the bug is from cpptools 0.17.3  Actually when I was using 0.17.1 the language server got disconnected in several minutes. Which is very annoying. I updated 0.17.3 this morning, but it seems have endless loop and cpu usage keeps raising to 200% in few seconds. I manually installed cpptools 0.17.0 and it finally works well.

[2018-05-24 08:26] davidhopper2003 commented on #2036
@dcx9306 Thanks a lot!

[2018-05-24 08:56] shubhendu-lighting commented on #756
Same here. After the recent update : Go to definition / declaration / find all references , none of them are working

[code]

[2018-05-24 10:42] StephenHillAtWork commented on #286
I wouldn't mind so much if the process was spawned at low priority

[2018-05-24 11:05] kghose opened #2037 "Linter does not do well with std::optional"
Meta
-----
- macOS HighSierra
- VSCode 1.23.1
- cpptools 0.17.3

Problem
--------
C++ allows us to `return foo` where `foo` is of type `Foo` from a function that returns type `std::optional<Foo>`. The cpptools linter however marks this with red and states that
`no suitable user defined conversion ... exists`

Thanks!

[2018-05-24 15:23] bobbrow commented on #2020
Well, that's odd. There are no includes listed.  What do you see when you run `/usr/bin/gcc -v -E -x c++ /dev/null`?  Are there any include paths listed?

[2018-05-24 15:30] napasa opened #2038 "When debugging by GDB, it mistook the path of msys bash as the path of Windows CMD."
Hi, Maintainer. I encounter a Folder identification error.
Under the bash of **C:\\msys64\\usr\\bin\\bash.exe**, my cpp file path is **/home/no6fo/project/learn/cpp/hello.c**, and the path of the file is **C:\msys64\home\no6fo\project\learn\cpp\hello.c** under Windows CMD.  when I debug with cpptools, GDB seems to start from Windows CMD, and report error: Unable 'hello.c': File not found (file:///

[2018-05-24 16:36] kennyadams commented on #2020
Here's the output
[output.txt](https://github.com/Microsoft/vscode-cpptools/files/2036276/output.txt)

[2018-05-24 16:48] ronitt commented on #1953
I know this issue is over two weeks old, but I am having the same issue on Windows 10 64-bit. The Microsoft.VSCode.CPP.IntelliSense.Msvc process is at 0% and the flame icon is visible in VSCode reporting that it is updating and seems to be doing so indefinitely. This seems to be a complete deadlock. Sometimes Intellisense is working for a short while and then the process seems to go into deadlock.

[2018-05-24 17:07] bobbrow commented on #1953
We fixed the major source of deadlocks in 0.17.1 (including the scenario mentioned by the OP). What you are reporting sounds like something different.  Can you open a new issue?  Let us know if you are using a recursive includePath or not.

[2018-05-24 17:16] ronitt opened #2039 "Updating Intellisense Indefinitely...."
I am having this issue on Windows 10 64-bit. The Microsoft.VSCode.CPP.IntelliSense.Msvc process is at 0% and the flame icon is visible in VSCode reporting that it is updating and seems to be doing so indefinitely. In my settings, both includePath settings are:

- "C_Cpp.default.includePath": null
- "C_Cpp.default.systemIncludePath": null

I am working in a fairly large project, but the process see

[2018-05-24 17:18] ronitt commented on #1953
I have created a new issue. New issue: #2039

[2018-05-24 17:59] bobbrow commented on #2039
Is the Microsoft.VSCode.CPP.Extension.exe process using any CPU?  Do you have a `c_cpp_properties.json` file or are you using the defaults?  If you are using defaults and have the settings values mentioned above, the extension is using the new recursive includePath feature that we just enabled by default and it may not be performing well on your project.

You can disable it by either:
* Generating

[2018-05-24 18:08] tristan957 commented on #2025
@sean-mcmanus I will give it a try when I get off of work with the .3 release

[2018-05-24 18:57] sean-mcmanus commented on #1975
@sov1178 If it crashes on startup, you'll need to get the debugger to attach before the crash occurs. The best way is probably to clone our repository (preferably the "release" branch), put a break on line 245 of client.ts (util.setProgress(util.getProgressExecutableStarted());), use Launch Extension, after the breakpoint hits, use another VS Code instance to do a (Windows) Attach to `.vscode/exte

[2018-05-24 19:07] sean-mcmanus commented on #2036
@davidhopper2003 This could be due to recursive includes. Is the performance good if you remove "**" from the includePath's?

[2018-05-24 19:15] ronitt commented on #2039
Well that seems to have fixed it! I opened my "c_cpp_properties.json" file and deleted the "/**" from the end and it did the trick. I think the process had too much of a backlog of files to parse, but it seems to be working fairly well now even if all project files are not being parsed.

For the sake of completeness and to aid in diagnosing this problem for others, to answer your question, the Mic

[2018-05-24 19:16] #2039 closed, assigned to nobody

[2018-05-24 19:24] sean-mcmanus commented on #2020
I just hit the repro with /usr/bin/gcc on Windows/WSL. I'll investigate...

[2018-05-24 21:26] sean-mcmanus commented on #2020
False alarm. I don't have a repro. I was trying to use optional when it didn't exist.

[2018-05-24 22:10] quandtm commented on #2036
I have the same issue on CentOS 7, VSCode 1.23.1, cpptools 1.17.3 when using a CompileCommands file. Switching to normal include/browse paths without recursive includes seems to fix it.

If I close vscode the cpp processes will sometimes remain taking ~96% CPU each. Intellisense often breaks at this point as well, requiring a reload.

[2018-05-24 22:17] sean-mcmanus commented on #2037
I'm able to repro the issue.

[2018-05-25 01:30] tristan957 commented on #2025
Still not working. I tried setting `"loggingLevel": "Debug"` in the root object of `c_cpp_properties.json`.
I am not seeing an output for C/C++

[2018-05-25 01:40] sean-mcmanus commented on #2025
You should see some output -- oh, it's a setting in settings.json (C_Cpp.loggingLevel) not a c_cpp_properties.json setting. See https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md . The output should show what includePath we end up using from the recursive includes. We could be excluding something by mistake.

You may want to try removing the

[2018-05-25 01:48] tristan957 commented on #2025
[code]

Seems that the extension is correctly identifying the header file for `AI_PASSIVE`
[code]

I remembered issues with the ** includes, but that seems to be fixed at this moment

[2018-05-25 01:56] sean-mcmanus commented on #2025
I'm confused now. What's the bug you're experiencing? Is it unable to find the definition of addrinfo? And removing recursive includes fixes it? Do you know what path is incorrectly being used or excluded with recursive includes? This can happen if the file with addrinfo matches the same name of a file in your workspaceFolder.

[2018-05-25 02:00] tristan957 commented on #2025
There are squiggles on terms that are clearly defined in header files. `addrinfo`, `AI_PASSIVE`. When I `Ctrl+click` them I get taken to the header file with the definition of said file. The error is that these terms are `incomplete type` and `undefined` respectively.

As far as the ** issue, I am no longer experiencing the issue you mentioned with 0.17.3.

I have no header files with the same nam

[2018-05-25 02:01] tristan957 commented on #2025
![image](https://user-images.githubusercontent.com/11936772/40522259-a0dc0300-5f95-11e8-92dd-f421423cc92d.png)

[2018-05-25 02:01] tristan957 commented on #2025
This compiles just fine using C11

[2018-05-25 02:16] sean-mcmanus commented on #2025
Ctrl + Click results are obtained from a different system (tag parser) than the squiggles (IntelliSense), so the squiggles part may not be getting the correct path.

My best guess is that some required defines are incorrect, possibly some flags are required to be passed to gcc (in our "compilerPath" setting). @bobbrow @grdowns Do you guys have gcc 7.3 headers to try out this repro?

Is addrinfo gr

[2018-05-25 02:27] tristan957 commented on #2025
It is gray. Weird thing happening. Program compiled yesterday, but no longer compiling today. I'm looking into user error at the moment. Thanks for the tip

[2018-05-25 02:50] tristan957 commented on #2025
Well I finally got the issue fixed. Added "_GNU_SOURCE" to the defines and added it to my build system. Everything is working fine now. I would like to apologize for posting this issue. Stupidity got the best of me.

[2018-05-25 03:25] #2025 closed, assigned to nobody

[2018-05-25 03:28] davidhopper2003 commented on #2036
@sean-mcmanus @quandtm
Thanks for your attention.
The contents of my configuration file ".vscode/c_cpp_properties.json " are as follows. I don't have recursive included files in it. By the way, versions prior to V1.17.3 worked very well for the same configuration file and cpp project.
[code]

[2018-05-25 03:32] sean-mcmanus commented on #2036
@davidhopper2003 We might be defaulting the includePath to "${workspaceFolder/**" if one is not specified. Can you set "includePath" explicitly to "" or "${workspaceFolder}"?

[2018-05-25 07:07] davidhopper2003 commented on #2036
@sean-mcmanus May I handle it in this way?
[code]

[2018-05-25 07:16] sean-mcmanus commented on #2036
@davidhopper2003 So you're experiencing performance issues with that config? That is odd. What does the database icon in the bottom right say? Does the performance only get bad after opening a C/C++ file? Do you see anything suspicious when you set the C_Cpp.loggingLevel to "Debug" (in the C/C++ section of the Output pane)? Can you attach a debugger and/or get a dmp with call stacks that shows wha

[2018-05-25 07:25] davidhopper2003 commented on #2036
@sean-mcmanus
Here are the core dump files generated today. Because the file size is too large, I can't send them to you.
After I modified the configuration file according to your suggestion, the machine performance is improved.

![image](https://user-images.githubusercontent.com/31435476/40531578-5732e706-602f-11e8-8eb1-fba9560ee388.png)

[2018-05-25 07:31] davidhopper2003 commented on #2036
@sean-mcmanus Here is the debug information:
[code]

[2018-05-25 07:35] sean-mcmanus commented on #2036
Are those core dmps from crashes or during high CPU usage? I think there are commands to print the call stacks in the core dmps (we just need to see the call stacks).

Those debug logs appear normal.

Oh, so it sounds like removing the recursive includes (**) fixed your issue. We have some ideas on how to make the recursive includes faster...and/or we might turn it off by default if it's causing t

[2018-05-25 07:54] davidhopper2003 commented on #2036
@sean-mcmanus Those core dumps are from crashes.
I am looking forward to your improvement.

[2018-05-25 11:48] xuchen-plus commented on #2036
Encountered same problem on macOS. Removing "${workspaceFolder/**" from the includePath section in .vscode/c_cpp_properties.json worked.

[2018-05-25 12:15] esmirnov opened #2042 "In certain contexts identifiers that end with "_t" are highlighted as class/struct/namespace name"
Hello!
I notice that identifiers with "_t" at end are highlighted as a type name.  Is it a bug or feature?

![screen shot 2018-05-25 at 15 08 42](https://user-images.githubusercontent.com/576417/40543660-0839ec9a-602e-11e8-9ffa-729cb0dd20fb.png)

[2018-05-25 14:15] xLobito commented on #2042
I guess it's a feature (since several versions), 'cause normally when someone defines a new type or uses POSIX-like type, those types has the "_t" on its name.

But taking that example in count, it would be nice for the extension to be able to recognize when it's a variable or a new type/POSIX-like type.

[2018-05-25 17:40] sean-mcmanus commented on #2042
Our extension doesn't implement any C++ colorization (other than the inactive regions). I think it's implemented in VS Code itself in `\Microsoft VS Code\resources\app\extensions\markdown-language-features\node_modules\highlight.js\lib\languages\cpp.js`, e.g.

[code]

and files in `Microsoft VS Code\resources\app\extensions\cpp\syntaxes` might also be relevant.

[2018-05-25 23:06] jesta88 commented on #230
This is the only reason I'm stuck with other IDEs. Uncolored types make it very difficult to read the code.

[2018-05-25 23:38] sean-mcmanus opened #2043 "intellisense_client::shutdown stuck in infinite loop in Microsoft.VSCode.CPP.Extension.exe"
If you notice CPU usage stuck at 100% and intellisense_client::shutdown in on the call stack we have a fix for that.

I'm not sure how common this is because I've never reproed it (a user sent us a dmp). UPDATE: I reproed it later on (unknown steps).

[2018-05-26 00:17] sean-mcmanus commented on #2036
FYI, we've found an fixed and infinite loop caused by a deadlock: https://github.com/Microsoft/vscode-cpptools/issues/2043 . You can verify the issue is the same via attaching a debugger and checking for intellisense_client::shutdown on the thread using CPU. This is different from the normal "recursive includes" takes a long time issue.

[2018-05-26 00:49] davidhopper2003 commented on #2036
@sean-mcmanus Thanks a lot.
After modifying the configuration file, I noticed that the CPU usage is not high. I doubt that my problem is different from what you said.

CPU usage just after opening a cpp file：
![image](https://user-images.githubusercontent.com/31435476/40570846-b66e2482-60c1-11e8-961d-a1052401bb8d.png)

CPU usage after a few seconds：
![image](https://user-images.githubusercontent.c

[2018-05-26 19:22] weshardee opened #2044 "(lldb) without `-exec`?"
Is there a way to configure the launch.json to get just the (lldb) prompt in the debug console?

I see that once I've launched the debugger, I can pass commands to lldb in the debug console by prefixing them with `-exec`, but as a new user, I found this confusing at first and it's still a bit of a hassle when trying to learn and experiment with lldb commands.

[2018-05-26 22:25] weshardee opened #2045 "(lldb) support for multiline formatters"
lldb supports multiline summaries like so:

[code]

But this breaks the debugging tools in VSCode, notably crashing the entire "Variables" pane. When it encounters the type in question, I see a message like this in the debug console, which isn't very useful:

[code]

It would be great if the debugging tools failed more gracefully here, and even better if they supported the multiple line summary so

[2018-05-26 23:29] jamesrburgess opened #2046 "macOS Framework search should only parse the "Current" framework"
I'm using the latest vs code (Version 1.23.1 (1.23.1)) on macOS 10.12. Intellisense is finding header files in arbitrary frameworks inside /Library/Frameworks before includePath which is not how compilers work on macOS.

There are then two problems here:

- Paths in includePath come after macFrameworkPath which is the reverse in macOS compilers
- Arbitrary frameworks are searched in /Library/Frame

[2018-05-27 03:02] gsbischoff opened #2047 ""cannot open source file "windows.h"""
I'm running the latest version of VSCode on Windows 10, build 1803. I'm using C/C++ version 0.17.3. I also have the extensions Dracula and the MIPS Support installed.

When I try to build a windows application on one computer, it builds just fine. However, IntelliSense itself doesn't tip me in on any WinAPI functions, macros, etc. The odd thing is my other main computer does show the tooltips I'm

[2018-05-27 08:52] azydevelopment commented on #2033
Thanks. I'll take a look when it's available.

[2018-05-27 12:50] ghost commented on #957
I understand that this issue has been resolved in the latest releases via `env` schema. But I noticed that the initialized variables don't work inside `env` when it is referenced right next to the definition. For example,
[code]
This doesn't seem to work. That would be really useful

[2018-05-27 21:45] krworks opened #2048 "Debugging with LLVM-based executables that are NOT C++ syntax with .swift file extension"
When I change a .swift file to highlight as a C++ file (via lower toolbar in VSCode) I can set breakpoints but I lose swift syntax highlighting.  Without doing that, I cannot set breakpoints.  Is there any way to decouple syntax highlighting and what cpp sees as files that can have breakpoints?  Debugging swift with cpptools seems to work perfectly fine, it just seems a shame that I have to lose a

[2018-05-28 01:11] chuggafan commented on #2048
This sounds more like an issue for whatever repository does your swift syntax highlighting, not so much this repo's.

[2018-05-28 02:36] dougaak opened #2049 "Forever updating intellisense after building"
Issue Type: <b>Performance Issue</b>

This issue just happens recently, so I suspect that it is due to the latest update.

I am using MSYS to build the C++ project. Almost everytime I build the project, VS Code will start to update intellisense and it won't stop, making intellisense completely offline. Sometimes Git oprations that change files may also trigger this.

The CPU usage is not in 100% t

[2018-05-28 05:01] krworks commented on #2048
After a bit of searching, I found and inserted "swift" into this array found here (repo/Extension/package.json):
https://github.com/Microsoft/vscode-cpptools/blob/a096ec9c6f10cda042fc23561096dd5c099890f5/Extension/package.json#L519-L528

As a result, breakpoints are enabled and debugging works normally! There are also some separate (if lang == "cpp" || lang == "c") in about 6 places in the code wh

[2018-05-28 05:37] danengelbrecht-king commented on #1816
@sean-mcmanus I do get it problems with 0.17.3, but I'm unsure what you mean by "Edit Configuration and removing the "**" from the includePath's" - I have   "C_Cpp.default.includePath": null and "C_Cpp.default.systemIncludePath": null in my config.

However, after leaving the computer on over the weekend it seem to have stopped consuming lots of CPU (yay!) but on the other hand I have orphaned pro

[2018-05-28 07:12] el-robo commented on #2049
I have this too, but it seems like the workaround posted in [issue 2039](https://github.com/Microsoft/vscode-cpptools/issues/2039) will stop this from happening.

[2018-05-28 08:31] meteusteler commented on #2049
I have exactly same issue too.

[2018-05-28 10:30] danengelbrecht-king commented on #1816
And here is a screenshot of what it look like *after* exiting Visual Studio Code...

![vccode cpp processes-after-vscode-exit](https://user-images.githubusercontent.com/37074944/40610518-f7e10544-6272-11e8-8afa-d945c9e56520.png)

[2018-05-28 11:02] mocabe commented on #2049
Having same problem.
Current workaround is removing all `/**` from `includePath`.
It's strange that my `/**` should be irrelevant to my build folders but still causing update, though.

[2018-05-28 13:51] chuggafan commented on #2049
I am running into the exact same issue as well, it's really frustrating to have to close and reopen VSCode every time I build

[2018-05-28 13:55] dougaak commented on #2049
@chuggafan You don't need to close it every time. Open the Command Palette, there is a command called `Reload Window`

@el-robo I'll see if the workaround works, but it will be a lot better if this issue can be tackled completely, I believe.

[2018-05-28 14:07] koliyo opened #2050 "Memory leak"
The CPP extension is leaking memory.

I'm afraid I do not have much information. My computer started swapping like crazy and was almost totally unresponsive. I managed to list processes in terminal and noticed the process

```/Users/nils/.vscode/extensions/ms-vscode.cpptools-0.17.3/bin/Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin```

taking 20GB of memory.

After restarting VS code the extension

[2018-05-28 14:09] esmirnov commented on #2042
Thanks! I will contact VS Code team.

[2018-05-28 17:29] phreppo opened #2051 "Scan task with Ninja shows wrong problems directory"
I'm using [Ninja](https://ninja-build.org/) build system to build a C project. I'm using the extension [C/Cpp](https://github.com/Microsoft/vscode-cpptools). When i build the project with the Scan task, the extension shows the warnings in the problems panel, but the paths to the files are wrong: they point to upper directories in the file system tree.

- VSCode Version: 1.23.1
- OS Version: Ubuntu

[2018-05-29 01:37] karanchawla opened #2052 "Unable to find header files"
Mac OS Sierra 10.12.16
VS Code 1.23.1
C/C++ 0.16

Config File
[code]

IntelliSense is unable to find pcl/Eigen headers even though those exist in the paths mentioned above in the config file. Is this a known bug or potential solutions exist?

[2018-05-29 08:05] KaraRyougi opened #2053 "Goto Definition does not find definitions of symbols outside the workspace folder by default"
macOS High Sierra 10.13.4
    VSCode 1.23.1
    C/C++ Extension 0.17.3

### How to reproduce this bug:

1. Organize include file as follows:

[code]

The header contains a function `includeTest()`

2. Config includePath:
[code]

3. Create a new file in other workspace:
[code]

4. Right-click on the function name `includeTest()` in the newly created file and select `Go to Definition`.

5. VSCode wi

[2018-05-29 09:07] schperplata opened #2054 "Intellisense crashes if file is open or edited in external program"
Issue Type: <b>Bug</b>
Intellisense crashes until restart if file is opened/saved/edited in external program/editor.

- Open some c file with VS Code (I am doing on some C software)
- wait for intellisense to start working (showing definitions and suggestions)
- open the same file in another external program. I am having problem with winIDEA
(https://www.isystem.com/downloads/winidea.html)
- do wh

[2018-05-29 09:35] zhangmn799 commented on #1930
minGW gdb version:8.1

[2018-05-29 09:43] iFanze opened #2055 "Can't attach to a process under WSL to debug the C++ program."
- VSCode Version: 1.23.1

- OS Version: Win10 Pro Insider Preview build 17677

Steps to Reproduce:

1. I have a c++ project under C:\Workspace\test_debug, with a simple test_debug.cpp file like this:

[code]

2. In WSL, compile it with:

[code]

3. In VSCode, create two configurations ( Launch & Attach )

[code]

4. Finally,  "(gdb) Bash on Windows Launch" can work fine, but the other one can't.

[2018-05-29 12:10] paaaa commented on #1411
I also encountered the same problem
platform ubuntu 18.04
log:

1: (5813) ->(gdb)
1: (5815) 1009: elapsed time 942
1: (5821) <--gdb-exit
1: (5822) ->^exit

[2018-05-29 12:17] paaaa opened #2056 "Unable to start debugging. An item with the same key has already been added."
error: Unable to start debugging. An item with the same key has already been added.
* Operating System and version ubuntu 18.04
 VS Code version 1.23.1 commit:  d0182c3417d225529c6d5ad24b7572815d0de9ac
log: 1: (4554) ->(gdb)
1: (4554) 1007: elapsed time 4167
1: (4556) <-1008-interpreter-exec console "show architecture"
1: (4556) ->~"The target architecture is set automatically (currently i386:x86-

[2018-05-29 13:39] paaaa commented on #2056
I can use gdb to debug

[2018-05-29 15:51] CorellianAle commented on #756
Mac 10.13.4
Same issue here. After around 10-15 minutes of usage Intellisense just stops working.
Activity Monitor shows process `Microsoft.VSCode.CPP.Extension.darwin` that is using ~98% CPU. Sometimes it goes up to 400% (I guess it means multiple cores on a i7 Haswell process).

I am able to make Intellisense work again by `Cmd + Shift + P` and selecting `Reload Window`, but the CPU usage remain

[2018-05-29 16:41] bobbrow commented on #2046
@jamesrburgess, can you clarify what you mean by "parsed" in the last step?  (Essentially, which IntelliSense operations appear to be behaving incorrectly)

Based on what I'm reading here, this is what I expect to happen:
* For goto definition/symbol search, your duplicate header would not be considered, but the Framework one would.  Why?  Because goto definition/symbol search does not use the `in

[2018-05-29 17:27] bobbrow commented on #2047
Did you generate a **c_cpp_properties.json** file in the **.vscode** folder of your project?  When you do that the extension will pre-populate the `includePath` with the values that we found.

Can you check the following registry keys to see if they exist?  `HKLM\SOFTWARE\Microsoft\Windows Kits\Installed Roots`.  There should be a `KitsRoot10` and/or `KitsRoot81` value there.  If they're not there

[2018-05-29 17:31] bobbrow commented on #957
@Gouthamm4G, let me open a new issue for that.  I didn't take that case into consideration when implementing this.  There is only a single lookup per variable right now.

[2018-05-29 17:31] #957 closed, assigned to nobody

[2018-05-29 17:33] bobbrow opened #2057 "Multi-pass environment variable resolution"
@Gouthamm4G

The initialized variables don't work inside `env` when it is referenced right next to the definition. For example,
[code]
This doesn't seem to work. That would be really useful

[2018-05-29 17:54] bobbrow commented on #2049
@DouglasLiuGamer, can you send us a process dump when you get into this state?  The easiest way is to:
* open Task Manager
* right click on the Microsoft.VSCode.CPP.Extension.exe process that is spinning out of control
* choose "Create dump file" from the menu

From there you have two options.  You can either email us the dump file (c_cpp_support @ microsoft.com) and we will analyze it, or you can

[2018-05-29 18:03] bobbrow commented on #2050
Unfortunately, without any additional information this issue is not actionable for us.  Please let us know if you are able to get any additional information (e.g. is it an open source repo that we can clone? or a particular source file?) and we can reopen and look at it.  There's definitely a bug here as we've never seen one of those processes get up to anywhere near 20 GB before.

[2018-05-29 18:03] #2050 closed, assigned to nobody

[2018-05-29 18:04] #2042 closed, assigned to nobody

[2018-05-29 18:15] bobbrow commented on #2051
Looking at your output, `/home/src/type.c` looks like the correct result of combining `/home/phreppo/CGen/build` and `../../../src/type.c`.

It would appear that the `fileLocation` for the Scan task should have been `/home/phreppo/CGen/build/meson-private/tmpsm350_09` in order to resolve the relative path to `/home/phreppo/CGen/src/type.c`.  Am I missing something?

[2018-05-29 18:19] bobbrow commented on #2052
Are you referring to auto-complete for `#include`?  If you want the pcl/eigen headers to show up, you need to add those paths to the `"browse.path"`

[2018-05-29 18:20] phreppo commented on #2051
Setting the problem matcher for the Scan task as:
[code]
solves the problem, thanks!

[2018-05-29 18:20] #2051 closed, assigned to nobody

[2018-05-29 19:04] sean-mcmanus commented on #2049
@bobbrow Yeah, symbols are available with 0.17.3. You just need to set "symbolSearchPath": "http://msdl.microsoft.com/download/symbols".

We have a fix pending for a 100% CPU "livelock", but I don't think we've encountered any new deadlocks so a call stack would help.

[2018-05-29 19:28] bobbrow commented on #2053
go to definition uses the `"browse.path"` property.  Is `..my path../Components` in the `browse.path`?  If not, then the code navigation service is likely returning the declaration because it doesn't know where the definition is.

[2018-05-29 19:54] admercs commented on #1041
Note to MacOS users, if you are using `gcc` version 8.1.0 (for example) from Homebrew, your MacOS configuration should look like this:

[code]

Very simple. You do not need to include headers from XCode. Do not set  `compilerPath` to `/usr/local/bin/gcc-8`, as this is a symbolic link that may mess up IntelliSense. If you are still having issues as I did, set the following user setting in `settings

[2018-05-29 19:56] gsbischoff commented on #2047
I generated the **c_cpp_properties.json** file on my issue computer. In it, `includePath` had the value `${workspaceFolder}/**` only. None of my source files' behavior changed (still red squiggles under all windows symbols).

I checked the registry keys on both computers. They both had the value for `KitsRoot10` defined as `C:\Program Files (x86)\Windows Kits\10\` , though the one with the issue a

[2018-05-29 20:13] #2021 closed, assigned to nobody

[2018-05-29 20:35] sean-mcmanus commented on #1816
@danengelbrecht-king Thanks for that call stack. We understand the problem and are looking into a fix...

UPDATE: Actually, we're still not sure how that call stack is possible...maybe some of our pending fixes will address this.

[2018-05-29 20:44] karanchawla commented on #2052
No autocompletion works fine and when I right click on the header it would take me to the definition as well, but it would fail to compile. Compile error being unable to find the header file.

[2018-05-29 21:14] gurkanctn commented on #513
Can anyone on Win10 debug their C++ codes with standard inputs/outputs? I cannot. NetBeans can do it.

[2018-05-29 21:52] bobbrow commented on #2054
When you say it's not working, do you mean that goto/peek definition takes you to the wrong locations or that the extension has actually crashed (i.e. auto-complete and other functions stop working too)?

If you are editing files outside of of VS Code, when you save them in the other editor, VS Code will send our extension an update notification when the file changes on disk, but we won't get a sa

[2018-05-29 21:59] pieandcakes commented on #2056
Can you check your environment variables and see if you have a duplicate with slightly different casing? this is an issue with the Process object we use to spawn processes using .NET or Mono's framework.

[2018-05-29 22:02] pieandcakes commented on #2055
@iFanze when you say `but the other one can't`, can you explain what is happening?

@WardenGnaw Can you repro this?

[2018-05-29 22:03] pieandcakes commented on #2048
@krworks if you change the `package.json`, it will get overwritten every time there is an update.

[2018-05-29 22:10] bobbrow commented on #1270
The change from #1338 is in the released VSIX now.  You can add your default include path to the `C_Cpp.default.includePath` setting and the extension will pick that up when you open new folders.  More information can be found [here](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Customizing%20Default%20Settings.md).

[2018-05-29 22:10] #1270 closed, assigned to nobody

[2018-05-29 22:11] pieandcakes commented on #2044
@weshardee There are two reasons why that isn't possible:
1) the Debug console was designed by VS Code to allow simple commands like evaluating variables. We added the `-exec` option so that users could also pass commands to the underlying debugger.
2) the underlying debugger is `lldb-mi` and not standard `lldb`. It allows some `lldb` commands but mainly expects [`mi`](https://sourceware.org/gdb/o

[2018-05-29 22:12] pieandcakes commented on #2045
@weshardee If you can provide a code sample and some instructions, I'll take a look but I suspect it is because it is changing the format that `lldb-mi` returns the data to us so we can reformat it for the UI and we aren't handing it gracefully.

[2018-05-29 22:57] bobbrow commented on #2047
We don't look at `KitRoots81` if `KitRoots10` is there, so we should be able to find the right Windows SDK.

If you set `"C_Cpp.loggingLevel": "Debug"` in your settings.json we will log the paths we find and some additional information to the Output window when you open a .cpp file.  Select the "C/C++" filter to see our extension's messages.  Can you try this out and let us know if anything looks

[2018-05-29 23:00] sean-mcmanus commented on #756
@CorellianAle This sounds like https://github.com/Microsoft/vscode-cpptools/issues/2043 (you could attach a debugger to confirm). We plan to release an insiders with a fix.

[2018-05-29 23:02] bobbrow commented on #2052
Our extension doesn't compile files.  Do you have a `tasks.json` that you're using or are you using another extension to provide build services?

[2018-05-29 23:28] gsbischoff commented on #2047
I compared the output on both computers to see what the difference was. There was a difference in the list of folders that it discovered after the line `Code browsing service initialized`. The working one has the paths to the SDKs indexed and the issue one does not, instead it actually has a lot more output that seems to be getting headers from my WSL. And some lines bout `Attempting to get defaul

[2018-05-29 23:55] bobbrow commented on #2047
ah...  It's the Build tools SKU which we haven't added support for yet.  You will need to manually add the VS and Windows SDK paths to the `includePath` in your **c_cpp_properties.json** file until we get that in.  Since the extension didn't detect your VS instance, it went searching for another compiler and it found your WSL installation.

[2018-05-30 01:40] gsbischoff commented on #2047
Huh, I thought I'd only downloaded the Build Tools for my main machine as well. I guess it also had VS and didn't on my my other computer. I added the folder with `\**` to `includePath` in User Settings to make it universal, as I found it had the same effect. I now see the same 4 lines about including the folders in `C:/PROGRAM FILES (X86)/WINDOWS KITS/10/INCLUDE/10.0.14393.0/**`, and there is no

[2018-05-30 02:57] iFanze commented on #2055
@pieandcakes Well, I mean "(gdb) Bash on Windows Attach" couldn't work. Once I press the Debug button, select the pid of running a.out in WSL,  it will show an infinite looping indicator in debug panel and debugging can't start.

[2018-05-30 03:38] BenniG123 opened #2058 "Autoformat gives no apparent option to set the asterisk spacing within a pointer declaration"
On autoformat, all pointer declarations are spaced as such:
int *a;

I want to configure my settings to style it as:

int* a;

[2018-05-30 03:51] dougaak commented on #2049
@bobbrow I tried to use the Visual Studio but what I could get is only this:

![default](https://user-images.githubusercontent.com/34620532/40697996-7cff98fc-63ff-11e8-8123-afe436a566b5.png)

I am not sure if I can directly send you the dump file.

BTW, the workaround of removing "/**" from `includePath` can fix this issue.

[2018-05-30 05:38] schperplata commented on #2054
"crashing" in my case means, that nothing happens except blue line is keep spinning on top of the file tabs. Go to/peak definition does nothing (doesn't show anything, it also doesn't move the cursor to any other location).
I can edit file and save it, but I can't use those features until VS Code restart. I am experiencing this even when I just compile file with some compiler - don't really need t

[2018-05-30 06:23] KaraRyougi commented on #2053
Thanks! It turns out I didn't set `browse.path` correctly.

[2018-05-30 06:33] KaraRyougi commented on #2053
I set `browse.path` the same as `includePath`, but go to definition still doesn't work as expected.
Configuration file:

[code]

[2018-05-30 09:37] mthenault commented on #1474
Same issue for me on Ubuntu 18.04, vscode  1.23.1, C/C++ 0.17.3 : Red flame, nothing shown in "Problems".
C_Cpp.loggingLevel is already to "Error".
Reloading the window seems to be a workaround.

[2018-05-30 09:39] dsanz006 commented on #1338
Hi,
In my current VS Code workspace I have 3 different configurations in my C_Cpp_properties.json file. I would like to get rid of this file and have all my workspace settings (both related to VS Code and to the C/C++ Extension) in the .code-workspace file. However, as far as I understand, I can only have one configuration (the "default" one) under the "settings" object of my .code-workspace, and

[2018-05-30 09:49] duncanhorn commented on #2049
Thank god it's not just me! Attached a copy of all threads' stacks:
[cpp_stacks.txt](https://github.com/Microsoft/vscode-cpptools/files/2053278/cpp_stacks.txt). There seems to be a bunch of threads waiting on what I can only assume to be the same mutex.

[2018-05-30 09:53] duncanhorn commented on #2049
My guess is that this is the thread that holds it:

[code]

Given that the very next thread is blocked inside of the same `clear_diagnostics_for_all_open_files` waiting on the mutex, but earlier in the function's invocation

[2018-05-30 13:05] joostmeulenbeld commented on #1474
Same issue. Ubuntu 16.04, vscode 1.23.1, C/C++ 0.17.3. Red flame, hovering over it tells me "Updating intellisense...". In Ubuntu System Monitor, the process "Microsoft.VSCode.CPP.Extension.linux" is using 100% of a single core. Reloading the windows solves the problem for a couple of minutes, I don't yet see a correlation between actions I'm performing and intellisense failing. loggingLevel is on

[2018-05-30 14:15] dsanz006 opened #2060 "Request: Single global C_Cpp_properties.json file for a multi-root workspace (not one per workspace folder)"
For my current project, I am using a multi-root workspace. My problem is that the C/C++ Extension doesn't allow me to have a single global `C_Cpp_properties.json` file for the entire workspace: it forces me to create a different properties file for each folder. My workspace folder structure is something like this:

`<workspace root>/src/`
`<workspace root>/lib1/`
`<workspace root>/lib2/`
`<workspa

[2018-05-30 16:01] bobbrow commented on #2047
What do the logs show for the `sending compilation args` section now?

[2018-05-30 18:15] gsbischoff commented on #2047
Here's both:

main (working)
[code]

issue (long!):
[code]

[2018-05-30 18:35] sean-mcmanus commented on #2058
See http://releases.llvm.org/5.0.0/tools/clang/docs/ClangFormatStyleOptions.html . You can use PointerAlignment and/or DerivePointerAlignment in your .clang-format or _clang_format configuration file located in our project root (or a parent).

[2018-05-30 18:35] #2058 closed, assigned to nobody

[2018-05-30 18:37] sean-mcmanus commented on #2049
@duncanhorn Yeah, that's the "livelock" we've already fixed. We're working on a releasing an Insiders build with the fix: https://github.com/Microsoft/vscode-cpptools/issues/2043 .

[2018-05-30 18:39] sean-mcmanus commented on #2049
@DouglasLiuGamer You have to expand the blocks in the Threads window to see the call stacks. You may also need to set your Symbol Path correctly.

[2018-05-30 18:49] dkontyko commented on #1270
Thanks for the update and the addition.

[2018-05-30 18:56] sean-mcmanus commented on #2054
@bobbrow It sounds like a deadlock. It could be the same "livelock" bug with recursive includes too: https://github.com/Microsoft/vscode-cpptools/issues/2043 .

[2018-05-30 19:38] bobbrow commented on #2020
Just a shot in the dark... Do all of your code files have this problem?  Or is this a new code file that hasn't been saved since the `#include` lines were added?  It's possible that the reason the include path is empty is because recursive includes tries to optimize the list of includes by removing the ones that aren't necessary.

You can also try removing the `/**` from your `includePath` and see

[2018-05-30 20:09] WardenGnaw commented on #2055
This is similar to https://github.com/Microsoft/vscode-cpptools/issues/1679

[2018-05-30 20:30] bobbrow commented on #2054
@schperplata, is there excessive CPU usage in the Microsoft.VSCode.CPP.Extension.exe process, or does it appear to be idle?  And do any of the Microsoft.VSCode.CPP.IntelliSense.Msvc.exe processes appear to be doing any work?  This could be a duplicate of either of the issues @sean-mcmanus mentioned.

[2018-05-30 20:56] mjaybaig opened #2062 "Stuck on Updating Intellisense.."
Hello,
My issue is very similar to this: https://github.com/Microsoft/vscode-cpptools/issues/1852

[code]

cpptools version 0.17.3

I can provide a slightly more specific description on when this happens to me.

I am using CMake and MS Visual Studio 2017's own nmake to build my project.
Here is my tasks.json:

[code]

Every time I run the nmake command (through a task in tasks.json), I see the fla

[2018-05-30 21:01] fultonm opened #2063 "Persistent red intellisense fire icon, intellisense stops working, cpp extension takes max CPU"
I have a problem where Intellisense stops working and the C/C++ extension takes max CPU after running a debug session. Sometimes reloading the VSC window works, sometimes I have to exit completely, but I have to do this every time after debugging my project.

    * Operating System and version: Ubuntu Linux 18.04
    * VS Code version and if you are using the Insiders build: Version 1.23.1, not us

[2018-05-30 21:02] fultonm commented on #2062
Me too, on Linux. I just submitted #2063

[2018-05-30 21:18] bobbrow commented on #2053
Oh... I think I know what's going on.  Your Components folder isn't under the ${workspaceFolder} path is it?

By default, the extension doesn't parse files outside the ${workspaceFolder} unless they are `#include`ed.  .c/.cpp files are not usually included by other files, which means that we will likely only have the declarations available by default.  The `"limitSymbolsToIncludedHeaders"` propert

[2018-05-30 21:20] jamesrburgess commented on #2046
@bobbrow seems like I'm having problems replying to this thread, apologies if I end up double posting.

Thanks for the reply and the great software!

So by "parse" I could tell that intellisense was reading the type information from a Framework file that happened to be on macFrameworkPath. It was telling me my destructors throw specifier was wrong or some such thing.

I didn't quite understand the

[2018-05-30 21:24] sean-mcmanus commented on #2053
@bobbrow Hmm...but there might still be perf issues if users use some giant library like boost? Not sure, but we could still add a setting to make it configurable.

[2018-05-30 21:28] bobbrow commented on #1338
@dsanz006, you are correct.  Multiple configurations are not currently served by this feature.  It looks like you already opened #2060 to request this.  Thanks.

[2018-05-30 21:48] ghost commented on #977
Is the bug has been resolved ?

[2018-05-30 21:52] bobbrow commented on #1474
@antismap, @joostmeulenbeld, are either of you using the new recursive `includePath` feature?  (appending `/**` to any of your include paths).  If you are able to share stack traces of the runaway process we should be able to confirm whether you are hitting this problem or not.

[2018-05-30 21:55] bobbrow commented on #2053
I'm thinking we would only parse .c/.cpp files outside the workspace folder.  Headers can continue to respect the `limitSymbolsToIncludedHeaders` property.

[2018-05-30 22:09] bobbrow commented on #2047
try setting `"compilerPath": ""` in your **c_cpp_properties.json**.  That should tell the extension to stop trying to inject WSL into your config.

[2018-05-30 22:12] sean-mcmanus commented on #2053
@bobbrow Yeah, that makes sense...not sure why we didn't do that originally...should only require a small change to check the file extension.

[2018-05-30 22:23] gsbischoff commented on #2047
That worked, now it isn't pulling in all of those defines from WSL. It does the 4 folders then
[code]
like in the working example. The same few types still have error squiggles and still peek-able.

Full output:
[issueNoWSL.txt](https://github.com/Microsoft/vscode-cpptools/files/2055861/issueNoWSL.txt)

[2018-05-30 22:23] bobbrow commented on #2062
Can you check your **c_cpp_properties.json** and let us know if you're using the new recursive includes feature? (e.g. if there's a `/**` at the end of any of the entries in your `includePath`)  We have a fix pending for this.

@fultonm, I'll close your issue since it sounds like the same thing.

#2043 is the issue we're using for the recursive includes bug.

[2018-05-30 22:23] bobbrow commented on #2063
Sounds like a duplicate of #2062 and #2043.  Please follow those issues and let us know if your issue is fixed once those are closed.

[2018-05-30 22:23] #2063 closed, assigned to nobody

[2018-05-30 22:29] fultonm commented on #2063
@bobbrow I do not have a **c_cpp_properties.json**

[2018-05-30 22:30] fultonm commented on #2062
@bobbrow I do not have a **c_cpp_properties.json**. Does that mean my issue is different than the one you're thinking of?

[2018-05-30 22:31] bobbrow commented on #2046
So it sounds like you're saying the red squiggly underlines for errors are not correct.  The IntelliSense engine providing the error squiggles should be looking at the `includePath` so I may need to set up a repro project to see what is going on.  The engine should also be looking at the Current version, so that's something we'll need to investigate too.

[2018-05-30 23:05] bobbrow commented on #2047
I cloned your repo and wasn't able to hit your issue until I set `"intelliSenseMode": "clang-x64"`.  Is that property set in your **c_cpp_properties.json**?  I'm guessing that the compiler-detection logic set that when it found a WSL compiler.  If you delete that property or change it to "msvc-x64", I think that will resolve the remaining issue.

[2018-05-30 23:09] bobbrow commented on #2063
If you don't have a **c_cpp_properties.json** then you are using recursive includes.  If you generate that config file with the "Edit configurations..." command and then delete the `/**` from the entry in there, or if you add `"C_Cpp.default.includePath": [ "${workspaceFolder}" ]` to your settings instead of generating the config file, you will effectively disable it.

[2018-05-30 23:10] bobbrow commented on #2062
I responded in #2063. If you don't have the configuration file, then you _are_ using recursive includes.

[2018-05-30 23:42] mjaybaig commented on #2062
Hi @bobbrow
I think you've got it smack on the head. I do have a c_cpp_properties.json and the include path looks like this:
[code]

Further, removing the two asterisk seems to have fixed the issue regarding the broken intellisense.
Would you recommend I keep it like this? I'm not sure exactly what recursive includes means here, can you shed some light?

[2018-05-31 00:14] WardenGnaw commented on #1679
This issue has been fixed in Version 1803.

https://support.microsoft.com/en-us/help/4028685/windows-10-get-the-update

[2018-05-31 00:14] #1679 closed, assigned to WardenGnaw

[2018-05-31 00:16] WardenGnaw commented on #2055
#1679 was resolved externally by updating to Windows 10 version 1803. You can get the update at https://support.microsoft.com/en-us/help/4028685/windows-10-get-the-update

[2018-05-31 00:16] #2055 closed, assigned to nobody

[2018-05-31 00:20] pieandcakes commented on #2038
@napasa You need to setup `"sourceFileMap"` as I assume you compiling in your MSYS2 command window. The documentation is [here](https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md) at the bottom.

Specifically, it sounds like you need `"sourceFileMap": { "/home/no6fo/project": "C:\msys64\home\no6fo\project" }`.

[2018-05-31 00:20] #2038 closed, assigned to pieandcakes

[2018-05-31 00:22] pieandcakes commented on #2000
https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/PipeTransport.md should be able to get you started with how to call it.

[2018-05-31 00:38] HughLo commented on #2062
Same issue, with difference that I am generating vs2017 project files instead of nmake files. When I opened my project, it will work fine until I have built the project. Then it will show "updating intellisense" forever and cannot format, swith header/source, auto completion ...,etc.

[2018-05-31 02:49] CharlieCheng2014 opened #2064 "1. c/c++ plugin , the IntelliSense is always not work. 2. Microsoft.VSCode.CPP.Extension.darwin always use cpu , even when I quit form vscode."
1. c/c++ plugin , the IntelliSense is always not work.
2. Microsoft.VSCode.CPP.Extension.darwin always use cpu , even when I quit form vscode.

VS Code version: Code 1.23.1 (d0182c3, 2018-05-10T16:03:31.083Z)
OS version: Darwin x64 16.7.0

Extension | Author (truncated) | Version
-- | -- | --
vscode-language-pack-zh-hans | MS- | 1.23.5
vscode-docker | Pet | 0.0.27
cpptools | ms- | 0.17.3
cmake | t

[2018-05-31 03:28] dougaak commented on #2049
@sean-mcmanus What did you mean by "expanding the blocks"? I have set up the *Microsoft Symbol Servers*, anything else I need to do?

[2018-05-31 04:22] bobbrow commented on #2043
The workaround is to disable recursive includes for your folder.

You can do this by running the "Edit Configurations..." command and removing the `/**` from the entry in the `includePath`.

[2018-05-31 04:23] bobbrow commented on #2064
Hi @CharlieCheng2014, can you take a look at #2043 for a workaround.  We plan to release a fix soon.

[2018-05-31 04:30] bobbrow commented on #2062
@mjaybaig I recommend removing the double asterisks until we release the fix for the bug causing the problem.  We're tracking this with issue #2043 and intend to release an insiders build this week so the people affected can confirm that we have the right fix in place before we push the fix out to everyone.  We'll let everyone know when this update is ready by updating the issues that mention this

[2018-05-31 04:43] bobbrow commented on #2049
You can just double click on one of the threads in the threads window, and that will update the call stack window with the call stack for the selected thread.  You might also need to right click in the call stack window and enable "Show external code" so that the [External Code] part is replaced with the actual call stack.

[2018-05-31 05:11] dougaak commented on #2049
@bobbrow Thanks. Never used VS debugger before. I have sent the copy of thread call stacks in email. Maybe also attaching one here is better: [cpp_call_stack.txt](https://github.com/Microsoft/vscode-cpptools/files/2056736/cpp_call_stack.txt)

[2018-05-31 05:57] schperplata commented on #2054
Yes, there are two instances of Microsoft.VSCode.CPP.Extension.exe, each has 25% of CPU usage, while only few MB of RAM (one 9MB, other 35MB).  There are always two instances, even if everything works fine.  Another strange thing, my VS Code is 64x, while extension is 32x (this is shown in windows task manager).

However, I can't find Microsoft.VSCode.CPP.IntelliSense.Msvc.exe anywhere. Maybe I'm

[2018-05-31 06:00] bobbrow commented on #2049
Thanks.  Yours also looks like the "livelock" issue.  Disabling the recursive includes should work around the issue.

[2018-05-31 06:50] colorhook commented on #1816
![image](https://user-images.githubusercontent.com/147627/40766159-1e25bce8-64e1-11e8-91f2-edeb5c42817e.png)
![image](https://user-images.githubusercontent.com/147627/40766172-2ac82184-64e1-11e8-8b2d-a9f7ba407b5f.png)

I got same problem these days.

the default `C_Cpp.workspaceParsingPriority` value is `highest` and  `C_Cpp.default.macFrameworkPath` value is `null`

[2018-05-31 06:55] lgnq opened #2066 "always updating intellisense after building"
Issue Type: <b>Bug</b>

build the makefile project with C/C++ IntelliSense 0.17.3 enabled, the updating IntelliSense ... will hung up, and if I disable this extension, it works fine.
VScode verison:1.23.1

Extension version: 0.17.3
VS Code version: Code 1.23.1 (d0182c3417d225529c6d5ad24b7572815d0de9ac, 2018-05-10T17:11:17.614Z)
OS version: Windows_NT x64 6.1.7601

[2018-05-31 07:35] mthenault commented on #1474
I didnt edit the includePath.
It's a cmake project and I'm letting vscode parse compile_commands.json

[2018-05-31 08:40] hungminhtran commented on #1816
@sean-mcmanus  I got the same problem. Everything is okie from first seven or eight hour. (I don't remember exactly) After that, the cpu usage increase very high because of this service.

p/s: I working on a customize of https://github.com/rtbkit/rtbkit on mac os. Build this project via docker. I just use vs code to edit and format my code, so don't install all the required lib for this project.
u

[2018-05-31 11:37] LinAGKar commented on #2020
I'm having similar problems in 0.17.3, and for me removing the line with `/**` fixed it for my includes with <>. However, I have an include with "", which is still not found, even tough the includePath includes the directory it's in, and that directory now is shown in the debug output.

[2018-05-31 14:39] paaaa commented on #2056
echo $PATH
/home/----/bin:/home/----/tools/jdk-8u171-linux-x64/jdk1.8.0_171/bin:/home/----/tools/android-ndk-r14b-linux-x86_64/android-ndk-r14b:/home/----/Android/Sdk/platform-tools/:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin

# this my environment variables can you help me

[2018-05-31 14:43] paaaa commented on #2056
{
    // 使用 IntelliSense 了解相关属性。
    // 悬停以查看现有属性的描述。
    // 欲了解更多信息，请访问: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "(gdb) Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/example/cpp/build/td_example",
            "args": [],
            "stopAtEntry

[2018-05-31 15:06] yunlingz commented on #2064
For current version, you can set this in your global `User Settings`, then regenerate `c_cpp_properties.json`.

[code]

I hope this will help you.

[2018-05-31 15:09] yunlingz commented on #2062
For current version, you can set this in your global `User Settings`, then regenerate `c_cpp_properties.json`.

[code]

I hope this will help you.

[2018-05-31 15:38] bobbrow commented on #2054
Having two Extension processes means that you opened two folders in VS Code at some point (or perhaps you are using multi-root support with two folders).  The IntelliSense processes are probably not being launched because of the "livelocked" Extension processes which can't make forward progress.  Disabling recursive includes will solve this problem.  Take a look at #2043 for a workaround.

[2018-05-31 15:39] bobbrow commented on #2043
If your workspace folder does not have a **c_cpp_properties.json** in the **.vscode** folder, then you can also work around this issue by adding `"C_Cpp.default.includePath": [ "${workspaceFolder}" ]` to your settings.

[2018-05-31 15:41] bobbrow commented on #2066
This sounds like a duplicate of #2043.  Can you try the workaround in that issue and let us know if that resolves your issue?

[2018-05-31 15:45] bobbrow commented on #1474
@antismap, if the Microsoft.VSCode.CPP.Extension.linux process is not consuming a full core, then it sounds like a different issue.  If that is the case, can you open a new issue and give us as much information as you can about your workspace and configuration?

[2018-05-31 15:47] bobbrow commented on #1816
@colorhook, @hungminhtran, can you try the workaround in #2043 if it applies and let us know if that resolves your issue?

[2018-05-31 15:53] bobbrow commented on #2020
@LinAGKar, the auto complete for includes is done using a combination of the `browse.path` and `includePath` properties.  If the header is not under any of the folders listed in the `browse.path` then our extension doesn't know about it and can't suggest it.  If it is under one of those paths, then we should suggest it if it lives under one of the `includePath` folders.  If both of these condition

[2018-05-31 16:35] deep529 commented on #688
**`(int[5]) arr`** or  **`arr,5`**  None of them works for me.

What works is **`*arr@5`**.

have a look.
![ss](https://user-images.githubusercontent.com/26036925/40794806-e23c241e-651d-11e8-987a-be4b73961638.png)
OS:Linux   VSC Version:1.23.1

[2018-05-31 17:21] gsbischoff commented on #2047
Ah, that was it! Everything's working perfectly now! Thank you!

[2018-05-31 19:22] sean-mcmanus commented on #1917
The stuck database icon got fixed. The stuck red flame might still exist...not sure yet. I'll create a new bug if I see it again.

[2018-05-31 21:20] #2047 closed, assigned to nobody

[2018-05-31 22:32] sean-mcmanus opened #2068 "Recursive includes causes too much processing in Microsoft.VSCode.CPP.Extension.exe"
With recursive includes with the chromium repo, the main process works for 80-100 seconds before the IntelliSense process is launched, which is too slow. We got it down to ~20 seconds...more perf improvements or caching might be possible.

UPDATE: With 0.17.5-insiders perf is ~3 seconds for 8k recursive folders as long as all the non-existing files have been processed already, i.e. the 1st open ca

[2018-06-01 00:47] #2043 closed, assigned to nobody

[2018-06-01 00:48] sean-mcmanus commented on #1253
@caurier Fixed with 0.17.4.

[2018-06-01 00:48] #1253 closed, assigned to nobody

[2018-06-01 00:48] sean-mcmanus commented on #2033
Fixed with 0.17.4.

[2018-06-01 00:48] #2033 closed, assigned to nobody

[2018-06-01 00:48] #1917 closed, assigned to nobody

[2018-06-01 00:53] tristan957 commented on #1917
I have experienced this in past releases. I'll let you know if I run into it this release

[2018-06-01 02:38] Lingdu0 commented on #286
![image](https://user-images.githubusercontent.com/13938037/40818006-a75e3d86-6587-11e8-956e-e3627a574e0a.png)
I have quit it,but it also uses 99% cpu.

[2018-06-01 02:39] kghose opened #2072 "In a cpp file asterisk as first non-whitespace character on a line triggers another asterisk on new line"
- VSCode Version: 1.23.1
- cpptools Version: 0.17.4
- OS Version: macOS High Sierra

Steps to Reproduce:

Type the following text in a `.cpp` file
[code]
Then hit enter at the end of the line to begin a new line. You'll get

[code]

This is not expected behavior in this context. This is perhaps expected when in the middle of a multiline decorated comment but not otherwise.

This does not happen in

[2018-06-01 02:42] sean-mcmanus commented on #286
@Lingdu0 Can you try 0.17.4?

[2018-06-01 02:50] Lingdu0 commented on #286
0.17.4 seems to be normal, i need observer a time to check it.

[2018-06-01 02:51] sean-mcmanus commented on #2072
Looks like a bug with our comment continuation patterns, i.e. /** is supposed to continue the line with *.

[2018-06-01 03:00] bobbrow commented on #2072
Can you please share the value you have set for `"C_Cpp.commentContinuationPatterns"`?  I don't see this behavior with the default value.

[2018-06-01 03:04] bobbrow commented on #2072
Sorry, I misread the repro.  Because the comment continuation stuff is reg-exp based (and not multiline aware), this is actually the expected behavior for the default value.  You will observe the same behavior with JavaScript and TypeScript files.

If you want to disable this behavior, you can set `"C_Cpp.commentContinuationPatterns": []` in your settings file.

[2018-06-01 03:09] kghose commented on #2072
Hi all,

Thanks for looking at the report. From my (user) perspective I expect the behavior to be context aware. So, If I'm in the middle of a multiline comment (I started with `/*`) I expect this to happen. If I'm not, then I expect this to be disabled.

Thanks!

[2018-06-01 03:13] bobbrow commented on #2049
We released 0.17.4 with a fix for the livelock, so this issue should be resolved now.  There are still some performance issues with recursive includes that we are working on, so you might still see some high CPU usage when opening files, but it should eventually catch up.  We are going to track performance problems with recursive includes using issue #2068.

[2018-06-01 03:13] #2049 closed, assigned to nobody

[2018-06-01 03:14] bobbrow commented on #2054
We released 0.17.4 with a fix for the livelock, so this issue should be resolved now. There are still some performance issues with recursive includes that we are working on, so you might still see some high CPU usage when opening files, but it should eventually catch up. We are going to track performance problems with recursive includes using issue #2068.

[2018-06-01 03:14] #2054 closed, assigned to nobody

[2018-06-01 03:15] bobbrow commented on #2062
We released 0.17.4 with a fix for the livelock, so this issue should be resolved now. There are still some performance issues with recursive includes that we are working on, so you might still see some high CPU usage when opening files, but it should eventually catch up. We are going to track performance problems with recursive includes using issue #2068.

[2018-06-01 03:15] #2062 closed, assigned to nobody

[2018-06-01 03:15] bobbrow commented on #2064
We released 0.17.4 with a fix for the livelock, so this issue should be resolved now. There are still some performance issues with recursive includes that we are working on, so you might still see some high CPU usage when opening files, but it should eventually catch up. We are going to track performance problems with recursive includes using issue #2068.

[2018-06-01 03:15] #2064 closed, assigned to nobody

[2018-06-01 03:16] bobbrow commented on #2066
We released 0.17.4 with a fix for the livelock, so this issue should be resolved now. There are still some performance issues with recursive includes that we are working on, so you might still see some high CPU usage when opening files, but it should eventually catch up. We are going to track performance problems with recursive includes using issue #2068.

[2018-06-01 03:16] #2066 closed, assigned to nobody

[2018-06-01 03:18] bobbrow commented on #1816
@danengelbrecht-king, @colorhook, @hungminhtran, We released 0.17.4 with a fix for the livelock, so that issue should be resolved now. There are still some performance issues with recursive includes that we are working on, so you might still see some high CPU usage when opening files, but it should eventually catch up. We are going to track performance problems with recursive includes using issue

[2018-06-01 03:20] bobbrow commented on #2036
We released 0.17.4 with a fix for the livelock, so this issue should be resolved now. There are still some performance issues with recursive includes that we are working on, so you might still see some high CPU usage when opening files, but it should eventually catch up. We are going to track performance problems with recursive includes using issue #2068.

[2018-06-01 03:20] #2036 closed, assigned to nobody

[2018-06-01 06:12] bobbrow commented on #2072
I agree with you, but you may need to ask the vs code team for help here since we are unfortunately limited by the reg exp support.

[2018-06-01 08:44] joostmeulenbeld commented on #1474
@bobbrow I didn't change includePath in my settings; how can I get the stack trace? I'd like to help if it is still relevant.

[2018-06-01 08:52] hungminhtran commented on #1816
@bobbrow the workaround not work for me. How to get 0.17.4?

[2018-06-01 08:56] danengelbrecht-king commented on #1816
@hungminhtran Just restart Visual Studio Code and there should be un update indicator in the Extensions pane.

[2018-06-01 09:00] duncanhorn commented on #2049
Intellisense seems to be working, but the indicator in the bottom right is still persistently a red fire that says "Updating IntelliSense..." when hovered over (but hey, I'll take that)

[2018-06-01 12:30] danengelbrecht-king commented on #1816
@bobbrow 0.17.4 seem to behave much better now! Great work.

[2018-06-01 13:31] bobbrow commented on #1474
We released an update with a fix for the issue, so if you can install 0.17.4 and let us know whether you still see the problem or not, we can go from there.

[2018-06-01 15:11] bobbrow commented on #1997
When goto def navigates you to a file that doesn't already have IntelliSense loaded for it, then the new file will be compiled for IntelliSense and that can take a little while to finish.  There is a bug with the extension right now where, if an IntelliSense operation happens (e.g. hover tooltip) while the file is being compiled, all commands are blocked until that finishes.  Fixing that is on my

[2018-06-01 16:37] kennyadams commented on #2020
Removing the `/**` fixed it for me too. Thanks a lot.

[2018-06-01 16:52] z2665 opened #2073 "Unable to find header files"
I want to use vscode to write some cpp program in windows
so I copy the header files form centos to windows and Install the clang
the c_cpp_properties.json is
[code]

Then I want to use folly
folly's header file in D:\linuxdev\local\include

but the vscode show can't find the header
[code]

[2018-06-01 16:55] hoffmael commented on #407
This would be a great feature and bug fix to have and essential for the code base I work on which relies on many preprocessor switches to support multiple builds. Diming the inactive code with "C_Cpp.dimInactiveRegions": true is a good first step, but having the ability to collapse and hide the inactive code region altogether is even better.
Eclipse even has the option to collapse inactive regions

[2018-06-01 17:16] bobbrow commented on #2073
Do you have any other C++ extensions installed?  That doesn't look like our extension's message.  We would have said `cannot open source file "folly/FBString.h"`.

Also, you didn't ask, but to get the best IntelliSense results, I would recommend installing a MinGW compiler and adding `"compilerPath": "C:/path/to/gcc.exe"` to your configuration, then moving your system includes to the `"C_Cpp.defau

[2018-06-01 17:23] bobbrow commented on #2073
Also, if you do set `"C_Cpp.default.systemIncludePath"`, just do it for the workspaces that need it.  I wouldn't recommend setting it globally unless you also set `"C_Cpp.default.compilerPath"`.

[2018-06-01 17:27] z2665 commented on #2073
@bobbrow  Thanks.  I solve the problem when I uninstall C/C++ Clang Command Adapter .

but The intellisense may not work well. I will try your suggest.  to Install MinGW

[2018-06-01 17:28] #2073 closed, assigned to nobody

[2018-06-01 18:07] toh-ableton opened #2074 "Symbol lookup has stopped working"
Issue Type: <b>Bug</b>

Symbol lookup has stopped working today. None of "Go to Definition", "Peek Definition", "Go to Symbol in File", "Go to Symbol in Workspace" work.

I am using the "Default" intelliSenseEngine, loggingLevel set to Debug. I am using "compileCommands" generated by ninja, and have verified that it is correct.

I have removed recursive searching from the include path (the trailin

[2018-06-01 22:02] rhuanjl commented on #286
Seems to be fixed for me with 0.17.4 - not noticed any high CPU usage. Thank you.

[2018-06-01 22:09] sean-mcmanus opened #2075 "IntelliSense processes aren't being shutdown when opening/closing files too fast"
Repro: Open/close files quickly, such as via single-click previewing them.

Bug: The Microsoft.VSCode.CPP.IntelliSense.Msvc.exe process randomly doesn't exit. I don't know of any functionality loss caused by this though.

Workaround: Opening/closing the file fixes the issue, so does reload window.

[2018-06-01 22:13] sean-mcmanus opened #2076 "IntelliSense processes crashes when MSVC headers are used in clang-x64 mode"
Open a file with
[code]
With include path similar to
"C:\\VS\\VC\\Tools\\MSVC\\14.14.26428\\include".
with clang-x64 mode.

It crashes with copy_cached_token on the call stack.

Let us know if anyone is hitting this in a "valid" scenario, since MSVC headers aren't normally supposed to be used in clang-x64 mode.

[2018-06-01 22:21] bobbrow commented on #2074
symbol lookup/code navigation is currently decoupled from the other IntelliSense features so that would explain why the other features are working fine for you.

I wonder if the reset IntelliSense Database command is failing and not notifying you.  Do you get the same problem if you change the `"browse.databaseFilename"` property to something else? (e.g. `"${workspaceFolder}/.vscode/browse.db"`)

[2018-06-02 03:19] dougaak commented on #2049
Same here.

[2018-06-02 05:53] bobbrow commented on #2049
It looks like #1917 was tracking both icons and was closed with the update.  We know that there's still a problem with the red flame icon.  We need to open a new bug for it.

[2018-06-02 05:54] bobbrow opened #2077 "Red flame icon persists when the extension is not actually doing any IntelliSense work after a c_cpp_properties.json change"
Cause unknown as of know.  We are investigating...

[2018-06-02 11:34] gcjyzdd commented on #1474
I had the same problem with 0.17.4. It keeps updating forever unless restart vs code. I solved the problem by excluding the `build` folder when using CMake.

In c_cpp_properties.json, change

"${workspaceFolder}/**",

to

"${workspaceFolder}/*",

to stop globbing recursively so that intellisense won't pasrse the `build` folder.

It seems like intellisence cannot handle the build folder with lots o

[2018-06-02 12:49] BinaryKhaos opened #2078 "class access modifiers incorrectly indented / formatted with editor.formatOnType: true"
Let's say you have set the "Google" clang format style to get something like this:

[code]
If you enter the code above with ```editor.formatOnType: true```, you will end up with something like this:

[code]

With ```editor.formatOnType: false```, you will get something a bit more consistent, but still not what you asked for in the first place (given that no clang-format is invoked, that is as expe

[2018-06-02 14:52] manoharreddyporeddy commented on #17
Spend a lot of time

Ideally vs-code can give prompts for each installation, etc. automatically, so that it wont be so long procedure for beginners.

I wrote how to run C++ in vs code in a  very detailed manner here:
https://stackoverflow.com/a/50658089/984471

[2018-06-02 15:51] fschutt opened #2079 "Visual C++ Build Tools cannot be downloaded anymore?"
This is not an issue relating to this repository, but I don't know how to notify anyone of this - the Visual C++ Tools are currently unavailable for download, since Microsofts HubSpot account has expired:

http://landinghub.visualstudio.com/visual-cpp-build-tools

![grafik](https://user-images.githubusercontent.com/12084016/40878163-2d592d50-668d-11e8-8fac-3fffb089d024.png)

I know that this isn't

[2018-06-02 16:45] aditya-ramabadran commented on #575
Are there warnings for the C++ files?
For example, in Eclipse, the below code (setting a variable inside an if statement) would trigger a warning:
![image](https://user-images.githubusercontent.com/19241683/40878699-8657d602-6649-11e8-87fa-d6f2d85a087f.png)
However, in VS Code it does not.

I'm sure that syntax checking is working, because it _does_ detect this:
![image](https://user-images.github

[2018-06-02 16:55] bicbalb opened #2080 "language server crashed 5 times in the last 3 minutes"
Hi,

After VSCode update I am facing error "language server crashed 5 times in the last 3 minutes". At the beginning I thought, that I have wrong configuration, but wasn't able to figure out what is wrong.
I have MSYS2 installed, and I am developing ESP32 using [esp-idf.](https://github.com/espressif/esp-idf) I was able to get some logs, please find them attached.
[cpp_extension_log.txt](https://g

[2018-06-03 10:59] smhc opened #2081 "Support remap of header paths for remote file system"
When opening a project on a remote system it isn't currently possible to query the compiler for defines and includes. And even if it could, or if it used compile_commands.json instead, the paths to the includes would be incorrect for the local machine.

It isn't practical to use a local compiler to obtain the defines as the remote system is a different OS (Linux).

I currently work around this by

[2018-06-03 18:30] DemoCrazer opened #2082 "Code completion list pops up when type a period in the end of comments"
If I type comments in Korean text and put '.' in the end, code completion list pops up.

Steps to Reproduce:

1. Write comments in Korean text
2. Code completion list pops up when type a period(.) in the end of comments

![image](https://user-images.githubusercontent.com/26616056/40889784-9c63d7b6-67a7-11e8-98ac-2714bd2271dc.png)

My English font is _Hack_ and Korean font is fallback font.(_Hack_

[2018-06-03 23:54] Andrew-w-w commented on #697
I rechecked my experiments and found that custom variables only worked in `launch.json` and **NOT** `c_cpp_properties.json`.
The reason it appeared to work was it was so broken the edits where not being read in at all.

Sorry for the confusion.

The recent changes look very interesting although I have not had a chance to study them in detail yet.

[2018-06-04 07:47] mthenault commented on #1474
@bobbrow this fixed it for me, thanks ! Before that, the process was also using 100% cpu on a core.

[2018-06-04 08:03] sean-mcmanus commented on #2077
Yeah, please provide a consistent repro if anyone discovers one. I added diagnostic logging, but then I couldn't get it to repro any more.

UPDATE: We think this is fixed with 0.17.5-insiders.

[2018-06-04 08:43] sean-mcmanus commented on #575
@aditya-ramabadran We have warnings available as a hidden feature via removing the line with "--no_warnings" from the extension's `bin\msvc.json` file, but assignments in "if" statements currently do not generate a warning. If you're using the cl.exe compiler, you can use the build flag /Wall to get a warning at build time: "warning C4706: assignment within conditional expression". gcc/clang might

[2018-06-04 08:56] sean-mcmanus commented on #2080
Those logs aren't helpful. Can you attach a debugger to Microsoft.VSCode.CPP.Extension.exe before it crashes to see what the crashing call stack is? Windows binaries have symbols available in VS Code by setting your "symbolSearchPath" to "http://msdl.microsoft.com/download/symbols". If it crashes too early, you could download our own GitHub repository ( https://github.com/Microsoft/vscode-cpptools

[2018-06-04 10:07] toh-ableton commented on #2074
Thanks, this workaround seems to have fixed it :)

[2018-06-04 10:18] toh-ableton opened #2083 "Tag parser uses only a single core"
Issue Type: <b>Performance Issue</b>

1. In User Settings, add `"C_Cpp.workspaceParsingPriority": "highest",`
2. Point the "browse.databaseFilename" to a new file so that the tag browser database used for symbol lookup is recreated.

Expected results:
If my system is idle otherwise, the extension uses all cores for parsing. Activity Monitor shows `<number of cores> x 100%` load.

Actual results:
T

[2018-06-04 10:27] toh-ableton opened #2084 "Cmd-Click does "Go to Definition" __and__ "Peek Definition""
Issue Type: <b>Bug</b>

1. Open a `.cpp` file.
2. Hover a symbol, e.g. a function call.
3. Cmd-Click on the symbol.

Expected results:
VS Code does exactly one of "Go to Definition" or "Peek Definition". There is a preference where I can control which one.

Actual results:
VS Code does both: it jumps to the definition, and then opens a code lens with the same definition.

Note:
I'd prefer Cmd-Clic

[2018-06-04 15:08] bobbrow commented on #2079
Are you able to get the tools from here?

https://www.visualstudio.com/downloads/#build-tools-for-visual-studio-2017

[2018-06-04 15:16] fschutt commented on #2079
Ah, alright then thanks - it's just that this site is the first result on Google for "Visual C++ Build Tools". I know that it was just a landing page, but couldn't find that link. Thanks.

[2018-06-04 15:16] #2079 closed, assigned to nobody

[2018-06-04 15:19] #2074 closed, assigned to nobody

[2018-06-04 15:25] bobbrow commented on #2079
Glad to hear that works for you.  Yeah, I made a similar comment to people around here asking if we can fix the SEO somehow.

[2018-06-04 15:51] darrenhp opened #2085 "[hotkey][osx] Why the default hotkey for swithing tabs is ctrl+num not command+num?"
It's odd.

[2018-06-04 17:43] WardenGnaw commented on #2085
The cpptools extension does not deal with editor tab switching.

This would be an issue with the vscode editor itself. Their issue pages is at https://github.com/Microsoft/vscode/issues.

[2018-06-04 17:43] #2085 closed, assigned to nobody

[2018-06-04 18:48] sean-mcmanus commented on #2084
This is "by design" when multiple definitions are found. The code lens shows alternative definitions, which might be the correct one. The jumped to version is just the 1st one in the list. This will be fixed when we implement multi-translation unit intellisense and are able to locate the 1 true definition.

[2018-06-04 21:18] metropt opened #2086 "Can't identify an enum as a type"
As you can see on the following image it can't identify an enum as a type name. Is this the expected behavior on this version of the plugin?

![image](https://user-images.githubusercontent.com/764040/40942079-e038b8d8-6844-11e8-85b9-1213f7ed98b2.png)

[2018-06-04 21:59] kettle11 commented on #1768
Is there a timeline for this issue's resolution?

From this thread it seems like a large amount of work to fix it, but in the meantime this severely limits the utility of lldb as a debugger and it seems an alternative (gdb?) should be recommended in the meantime if there are no workarounds.

[2018-06-04 22:10] sean-mcmanus commented on #2086
UPDATE: Ignore what I wrote, see Bob's comment :)

It's not expected in general. What is the squiggle in the enum definition? I assume it can't find the values used to define the enum, so that appears to be causing the type to not get defined. Can you get those values to be defined?

[2018-06-04 22:12] bobbrow commented on #2086
Which of the include files listed in `main.c` includes `nrf_gpiote.h`?  From your screenshot, I can't tell whether `nrf_gpiote.h` is actually included in the translation unit.

This should work, even with the squiggles in the enum value definitions.

![image](https://user-images.githubusercontent.com/12818240/40944372-625133fe-6809-11e8-8364-cd134c98cf93.png)

[2018-06-04 22:30] bobbrow commented on #1908
I believe I found the root cause of this today.

[2018-06-04 22:36] nelhage opened #2088 "compile_commands.json support doesn't understand -iquote"
The `compile_commands.json` support doesn't seem to extract include paths from `-iquote` arguments to the compiler.

You can reproduce by checking out https://github.com/nelhage/vscode_bazel_cxx and opening `foo.cc`; The `foo.h` include won't be found. If you edit `compile_commands.json` to use `-isystem` or `-I` instead, it will work.

(This isn't relevant to the bug since I was able to minimize

[2018-06-05 01:15] chongchai opened #2089 "after update to vscode 1.23.1, failed to attach debug"
Type: Debugger

**Describe the bug**

It seems 'pipeArgs' in launch.json can't support environment value?

- OS and Version: windows 7
- VS Code Version: 1.23.1
- C/C++ Extension Version: 0.17.3

**To Reproduce**
1. I use this `launch.json` to debug a c++ project.
[code]

2. `debug test_demo` is successful and `attach test_demo` is failed. The vscode failed to attch with error `ssh: could not reso

[2018-06-05 05:53] gabyx commented on #1908
This is so good to hear!

[2018-06-05 08:52] cento commented on #1908
@bobbrow  share with us your suspicion

[2018-06-05 09:00] joostmeulenbeld commented on #1474
@bobbrow I haven't seen the issue since the update, so it seems fixed! :+1:

[2018-06-05 10:53] toh-ableton commented on #2084
I see, thanks for the explanation. If possible, I'd still like to have a quick mouse interaction for `Peek Definition`, maybe `Cmd-Shift-Click`. But that's a feature wish I guess.

[2018-06-05 15:29] bobbrow commented on #1908
I could, but it probably wouldn't make sense since you don't have access to the code in question.  It looks like a boolean's intent got inverted when we made the fix to link header file changes to all translation units referencing them.

[2018-06-05 15:54] bicbalb commented on #2080
Hi,
After spending some time I was able to attach debugger. Please find stack traces below:

The first exception
Unhandled exception at 0x749AD722 in Microsoft.VSCode.CPP.Extension.exe: Microsoft C++ exception: std::out_of_range at memory location 0x0409ECAC. occurred
leads to stack trace:
KernelBase.dll!_RaiseException@16()
Microsoft.VSCode.CPP.Extension.exe!__CxxThrowException@8()
Microsoft.VS

[2018-06-05 16:22] kavehv commented on #1816
@bobbrow I'm still seeing high CPU usage that doesn't seem to subside for quite a while on large repos.  Additionally, the process for the extension doesn't consistently terminate when I quite VSCode.  It should, shouldn't it?

[2018-06-05 17:17] bobbrow commented on #2080
Super helpful. Thanks!

[2018-06-05 19:41] bobbrow commented on #1816
@kavehv, yes, it should terminate.  There is still a bug here that I am working on.

If you see the database icon in the lower right corner of the status bar when your large repo is opened, the extension might be indexing your folder for symbol lookup and goto definition.  You can reduce the CPU usage in that case with the `"C_Cpp.workspaceParsingPriority"` setting.  If you have opened multiple so

[2018-06-05 20:04] kavehv commented on #1816
@bobbrow I just tried that, but the CPU and IO usage is still quite significant.  Can anything be done to reduce the amount of disk IO as well?  I typically work on a repo that sits on an NFS mount rather than local storage.  I'm not sure if you have any best practices you'd recommend for this given your knowledge of the intellisense plugin, but it's been painful at times unless I turn off the ext

[2018-06-05 21:30] bobbrow commented on #1816
@kavehv, can you open a new issue with details about your scenario?
* What steps do you take before it starts hogging CPU?
* Set `"C_Cpp.loggingLevel": "Debug"` and share it (scrub for personal information before posting to GitHub)

[2018-06-06 03:03] whampson opened #2090 "x86 inline ASM: "unknown register name" in clobber list"
In an x86 inline assembly block, registers are not recognized when specified in the clobber list. I've tried `edx`, `%edx`, `EDX`, and `%EDX` in addition to other register names and none are recognized.

- OS Version: Windows 10
- VS Code Version: (latest)
- C/C++ Extension Version: (latest)

**Screenshots**
![](https://i.imgur.com/0KaN4GP.png)
![](https://i.imgur.com/namDoMo.png)

[2018-06-06 06:02] tinlittle commented on #1768
As a painful workaround, there is no need to "brew install lldb...". The lldb that comes with Xcode is good enough. Set miDebuggerPath to /Applications/Xcode.app/Contents/Developer/usr/bin/lldb-mi, I was able to see individual items in a vector. But the debugger takes a minute (not typo, minute, not seconds) or two to step forward to the next line of execution. It also has the ability (or side eff

[2018-06-06 07:22] dsanz006 commented on #1338
Yes, this request is similar to #2060, but it is actually a combination of 2 requests:

- Having a single C/C++ configuration file per workspace, even if it is multi-root (not one per folder).

- Allowing different C/C++ configurations in the .code-workspace file, without a need for the C_Cpp_properties.json file on workspaces with multiple configurations.

[2018-06-06 08:15] cento commented on #1908
Thanks for sharing it

[2018-06-06 08:17] magillo commented on #911
Same here with Linux Mint and VS code 1.23.1, pretty annoying.
Any update on this issue?
`using namespace` is Evil if not really needed, I can't mess cross platform projects by adding them everywhere.
This is even worse if you have to share your code with others who do not use VS code thus not having these problems

[2018-06-06 08:46] BigfootN commented on #1883
Sorry for the late response.

I managed to solve the problem. Thank you very much. I used the `browse.path` and `includePath` from the `c_cpp_properties.json`.

Thank you very much for your help.

[2018-06-06 08:46] #1883 closed, assigned to nobody

[2018-06-06 08:52] BigfootN opened #2091 "Enabling warnings"
Hello,

I would like to know if there is a certain way to enable warnings ?

From what I understood, throughout my researches, the flags aren't extracted from `compile_commands.json` . So, am I right or wrong ?

The basic errors are shown without any problems, but how would it be possible to push a bit further (with flags like `-Wall`, `-Werror`, `-Wextra`) ?

Thank you very much in advance.

[2018-06-06 11:20] aghpub commented on #2056
I'm having the same problem. I'm able to debug a simple "Hello World" program but debugging the attached demo project fails with "Unable to start debugging. An item with the same key has already been added.". Console debugging outside of VScode works.

This happens on Arch Linux using VScode 1.23.1 (Shell 1.7.12, Renderer 58.0.3029.110, Node 7.9.0, Architecture x64) with GDB 8.1. I'll attach the f

[2018-06-06 12:03] ggreco opened #2092 "Intellisense error squiggles broken after upgrading to high sierra"
- OS and Version: OSX 10.13.4
- VS Code Version: 1.23.1
- C/C++ Extension Version: 0.17.4
- XCode: 9.4 (clang 9.1.0)

It seems that once I update OSX to 10.13.x and XCode to 9.4 intellisense stopped working on my system.

Enabling debug loglevel I saw there where a pair of paths that do not exists anymore (/usr/incude and /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolcha

[2018-06-06 12:07] tjamet opened #2093 "Link to "Configuring IntelliSense" is broken"
Hi,

Using Code Version 1.13.1 (1.13.1) (379d2efb5539b09112c793d3d9a413017d736f89), I just installed the c/c++ libraries and tried to configure IntelliSense after a message where one of the headers could not be found.

I had a link from the release notes upon how to configure IntelliSense, clicked it and was redirected to https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Getti

[2018-06-06 12:19] ggreco commented on #2092
I had a settings.json in the .vscode directory of the project that disabled error squiggles, I did not added it by hand for sure...

[2018-06-06 12:19] #2092 closed, assigned to nobody

[2018-06-06 17:42] bobbrow commented on #2090
This works on linux/mac.  It looks like support for it was unintentionally removed from the Windows version of the extension.  I have a fix.

[2018-06-06 18:32] bobbrow commented on #1338
If there are two requests, can you clarify in #2060 which one it covers and then open another issue for the second one?

[2018-06-06 18:35] pieandcakes commented on #1768
@kettle11 your proposal of using `gdb` probably won't fix the issue unless `gdb` has some sort of visualization to load clang's implementation of the types.

@tinlittle we understand your request and are looking at ways to make a targeted fix without requiring pulling in the entire tree.

[2018-06-06 18:41] bobbrow commented on #911
@sean-mcmanus, this looks like a bug with clang mode.  It works with msvc mode.

[2018-06-06 18:45] pieandcakes commented on #2089
@chongchai The environment value should be evaluated before our debug adapter receives the request. This is likely a [VS Code](https://github.com/microsoft/vscode/issues) bug. I would suggest you file it over there.

[2018-06-06 18:46] #2089 closed, assigned to pieandcakes

[2018-06-06 18:50] pieandcakes commented on #2089
I found https://github.com/microsoft/vscode/issues/51075 and left a comment.

[2018-06-06 19:16] sean-mcmanus commented on #911
@bobbrow You're able to repro this? It's not reproing for me on Linux/clang-x64 mode.

[2018-06-06 19:24] sean-mcmanus commented on #2091
You can remove the line containing "--no_warnings", from the bin/msvc.json file (in the directory containing the Microsoft.VSCode.CPP.Extension binary) to enable warnings (it'll get re-added after updates though), and it's an experimental feature, and doesn't directly correspond to warnings given by cl.exe/clang/gcc (it's warnings from the EDG compiler) so the #pragma warning disable code won't su

[2018-06-06 19:26] sean-mcmanus commented on #2093
Your VS Code is too old. We've already fixed that bug in a version of our extension that requires a newer VS Code. You should upgrade your VS Code to 1.23.1. You're using our extension from October, 8 months ago.

[2018-06-06 19:26] #2093 closed, assigned to nobody

[2018-06-06 21:09] maroc81 commented on #1474
Version 0.17.4 fixed it for me.  Earlier versions would get stuck even after turning logging down to none.  I don't have "${workspaceFolder}/**"  in my include path so that wasn't a factor in my case.

0.17.4 seems to be much better all around.

[2018-06-06 22:07] bobbrow commented on #911
yeah, I repro on Windows with clang mode (and WSL/GCC 5).

[2018-06-07 00:44] grumpy-dude opened #2094 "Suggestion: Use an editable "c_cpp_properties_defaults.json" file for setting default properties."
Instead of creating a "c_cpp_properties.json" file "on-the-fly" from numerous entries in the "settings.json" file, just have an editable "c_cpp_properties_defaults.json" file, which can then be simply copied to the folder/workspace "c_cpp_properties.json" file as needed.  Only a single entry in "settings.json" file indicating the location of the "defaults" file would be needed.  This should provid

[2018-06-07 03:03] tinlittle commented on #1768
@pieandcakes thank you for the reassurance. And thank you and the team's great work. vscode is now an indispensable tool.

[2018-06-07 08:41] Aeonos commented on #371
Same issue here. I need the output of the program, but the terminal closes after the program exits.

[2018-06-07 10:54] aghpub commented on #2056
As an update to my comment from yesterday: I upgraded to VScode 1.24.0 and for some reason I was able to debug the example project. I still get the error with another project though. So upgrading VScode did not solve the problem for me.

[2018-06-07 11:01] AndreLoddenkemper commented on #2007
Thank you very much, Sean! Your updates are very much appreciated. I am sorry that I was not able to respond earlier, but it seems like you guys did not need me to :)

[2018-06-07 12:07] BigfootN commented on #2091
Thank you for your quick response.

So if I understand well, `compile_commands.json` seems a bit useless for the moment ? And the warnings, for the moment, aren't available ? Even if add the flag `-Werror` ?

Thank you very much in advance.

[2018-06-07 12:45] chengzeyi commented on #1094
Really disappointing to see this problem still occurs in the recent version of Code. I was quite afflicted by it and what shocked me most was that it was just simply "by design"?

[2018-06-07 13:20] dsanz006 opened #2096 "Request: allow different C/C++ intelliSense configurations on the .code-workspace file"
Before the latest update of the C/C++ extension, the intelliSense configuration parameters (`includePath`, `defines`...) were defined in the `C_Cpp_properties.json` file. With the update, it is possible to define these parameters in the `.code-workspace` file, as `C_Cpp.default.*`, without a need for the `C_Cpp_properties.json` file. But this can only be done for one configuration (the default one

[2018-06-07 13:22] dsanz006 commented on #2060
Just to clarify: this is a request to allow having a single `C_Cpp_properties.json` file in multi-root workspaces.

I opened a new request issue, #2096, for the other part I mentioned: allowing different configurations in the `.code-workspace` file.

[2018-06-07 13:23] dsanz006 commented on #1338
Done, I just opened #2096. Thank you.

[2018-06-07 14:26] tkkcc commented on #164
my device is **dji manifold, ubuntu14.04 armhf, code-oss 1.14.0-1497990172 armhf**
the `mono-runtime-sgen` method works and this is my script
[code]
I also remove all mono packages and it works too

[2018-06-07 16:14] chengzeyi commented on #1094
Eventually I solved this problem by setting sourceFIleMap in Launch.js, which replace the file address given by gdb to where I put my glibc source code file folder.
https://github.com/Microsoft/vscode-cpptools/issues/1546
This issue above gave me the inspiration to the solution.

[2018-06-07 17:07] bobbrow commented on #2091
I wouldn't go so far as to call it useless.  It provides the include path and defines for us which is the majority of the information we need to provide IntelliSense.  We plan to add support for flags on a case-by-case basis as people ask for them.

[2018-06-07 17:10] bobbrow commented on #1338
Thanks, @dsanz006

[2018-06-07 17:58] BigfootN commented on #2091
Okay, thank you for the information. But it doesn't take into account the flags I suppose ?

You mean per project I suppose ?

Thank you very much for all your information.

[2018-06-07 18:21] MarcoScabbiolo commented on #1660
Any workaround for this issue?

[2018-06-07 20:52] ziish opened #2098 "compile_commands.json based intelliSense is not working with clang-cl"
**Describe the bug**
- OS and Version: Windows 7
- VS Code Version: 1.24.0
- C/C++ Extension Version: 0.17.4

I use CMake with ninja and clang-cl to build my project. CMake generates the `compile_commands.json` file for me.

In my `c_cpp_properties.json` I set:

    "compileCommands": "${workspaceFolder}/build/compile_commands.json",
    "intelliSenseMode": "clang-x64",
    "compilerPath": "C:\\Pr

[2018-06-07 20:54] michaelkourlas opened #2099 "Remote debugging with GDB: "An item with the same key has already been added.""
Type: Debugger

When attempting to use remote debugging with GDB using the "miDebuggerServerAddress" option, the following error message is displayed:

"Unable to start debugging. An item with the same key has already been added."

- OS and Version: Fedora 28 (x64)
- VS Code Version: 1.23.1
- C/C++ Extension Version: 0.17.4
- Other extensions you installed (and if the issue persists after disablin

[2018-06-07 21:02] bobbrow commented on #2091
I mean per flag.  Most flags don't affect IntelliSense.  If there are specific flags that modify the system includes or defines, those can be set in the `"compilerPath"` property and we will use them when we query the compiler for system includes and defines.  See: https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/c_cpp_properties.json.md

This is a different ca

[2018-06-07 21:05] bobbrow commented on #2098
Did you try `"intelliSenseMode": "msvc-x64"`?  I believe Clang on Windows attempts to emulate cl.exe and uses the Windows SDK headers, etc.

[2018-06-07 22:04] ziish commented on #2098
I did - But it did not change the situation.
Do I need to set the compiler path for msvc-x64 too?

[2018-06-07 22:34] bobbrow commented on #2098
What is the value of `"browse.path"` in your configuration?  For `#include` suggestions, `"browse.path"` is the data source and `"includePath"` is the filter.

Do you get any suggestions at all?  Our code might not be doing the right thing for clang-cl.exe.

[2018-06-07 22:44] ziish commented on #2098
`browse.path` is `"${workspaceFolder}"` - Now i am slightly confused. I thought the include directories are completely based on the content of `compile_commands.json`?

I get suggestions e.g. all standard c++ headers and windows specific headers too.
Is the language server open source too so i can debug into it? (was not able to locate it)

[2018-06-08 00:29] narutse opened #2101 "C++17 template argument deduction and structured binding type deduction"
Type: LanguageService

I encountered two intellisense issues that seem to be in conflict with the C++17 standards:

The first one is that the C++ extension considers class template argument deduction an error (http://en.cppreference.com/w/cpp/language/class_template_argument_deduction) with red squiggles. Below is the screenshot:
![template argument](https://user-images.githubusercontent.com/15129

[2018-06-08 00:39] sean-mcmanus opened #2102 "With non-recursive browse.path and recursive includePath database files get removed/re-parsed after workspace reloading"
We should skip removing files from the database if they exist under recursive includePath folder.

[2018-06-08 01:00] sean-mcmanus opened #2104 "Database icon stuck showing either "Discovering files: 0" or "Parsing open files""
So far I'm only seeing repros on Linux...could be a race condition.

[2018-06-08 01:01] sean-mcmanus opened #2105 "0.17.5-insiders delays showing the red flame icon if recursive includes are used"
With recursive includes, the red flame isn't appearing during the recursive includes filtering stage, which could last several seconds until the IntelliSense process is launched.

[2018-06-08 01:07] pieandcakes commented on #2099
Can you check your local environment variables and see if you have a duplicate variable that has different casing? This is a problem inside Mono framework.

[2018-06-08 01:09] pieandcakes commented on #2099
Duplicate of #2056

[2018-06-08 01:21] pieandcakes commented on #2056
@aghpub, @paaaa can either of you enable `"logging": { "engineLogging": true, "trace": true" }` and send me the output? Trying to see where this error is coming from. I can't seem to duplicate it on my machine.

[2018-06-08 01:24] sean-mcmanus commented on #2080
We think 0.17.5-insiders fixes these crashes: see cpptools-win32.vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.5-insiders . Let us know if you're still getting crashes.

[2018-06-08 01:26] sean-mcmanus commented on #2090
You can try https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.5-insiders for the fix.

[2018-06-08 01:26] sean-mcmanus commented on #1907
This is fixed with 0.17.5-insiders at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.5-insiders .

UPDATE: Fixed in 0.17.5.

[2018-06-08 01:38] sean-mcmanus commented on #2101
Thanks for reporting this. I'm able to repro the problems.

[2018-06-08 01:48] luyui opened #2106 "Case sensitive paths breaks intellisense"
Type: LanguageService

This issue is like #1694 but per this [blog](https://blogs.msdn.microsoft.com/commandline/2018/02/28/per-directory-case-sensitivity-and-wsl/) Windows now supports setting per-directory case sensitive for WSL-Interop.
I have set the workspace case sensitive by command:
`fsutil file setCaseSensitiveInfo C:\Users\adm\Code\staging\include`
Intellisense seems to still be broken u

[2018-06-08 01:57] sean-mcmanus commented on #2106
This is https://github.com/Microsoft/vscode-cpptools/issues/1994 . There's a suggested workaround in that bug of using a bogus includePath like "/mnt/c/include" to trick us into turning the case-sensitivity on -- does that workaround work for you?

[2018-06-08 03:33] luyui commented on #2106
@sean-mcmanus sorry missed that issue before posting.
But I tried the mentioned /mnt/c/ trick and it did not work, same error log.
I guess this trick requires the whole path to be case sensitive? I only have part of the include path case enabled.

[2018-06-08 03:54] chongchai commented on #1975
@sean-mcmanus I also got the same problem with the error `Connection to server got closed. Server will not be restarted.`
My extension is C/C++ 0.17.3 and os is windows 7.

[2018-06-08 07:59] azydevelopment commented on #2033
Confirmed working with the repro case :).

Thanks guys. Much appreciated as always.

[2018-06-08 08:05] BigfootN commented on #2091
So if I pass for example `-Werror` would it also show the warnings, since they are treated as errors ?

Thank you very much in advance.

[2018-06-08 08:09] aghpub commented on #2056
@pieandcakes I'll attach the log from a failed debugging session. Anyway it might not help since the log looks like everything went ok despite the error popping up

[logging.txt](https://github.com/Microsoft/vscode-cpptools/files/2083490/logging.txt)

[2018-06-08 08:45] azydevelopment opened #2107 "Multiroot autoformatting broken again"
Issue Type: <b>Bug</b>

I think this might be broken again or at least weird...

Please look at this issue: https://github.com/Microsoft/vscode-cpptools/issues/1391

Download the repro case and follow the steps in that issue. The autoformatting sometimes works, sometimes doesn't, sometimes does different things in each of the two files in the repro zip. I've even had one case where the autoformatt

[2018-06-08 08:48] azydevelopment commented on #2107
Edit: It looks like it started working in my main project again but it's unreliable and I'd really like it to be reliable since I use it on all my files before committing to source control.

I'm finding it hard to pin point the exact repro that makes it inconsistent/straight up messed up but it's easy enough to repro at least one of the issues with the repro in the bug referenced above.

[2018-06-08 09:05] shakthi-prashanth-m commented on #1474
I have opened Android source project folder. I still face this issue in version `1.23.1`.
[code]

[2018-06-08 09:10] shakthi-prashanth-m commented on #1474
Sorry, I didn't read https://github.com/Microsoft/vscode-cpptools/issues/1474#issuecomment-394080498 before.

[2018-06-08 12:52] michaelkourlas commented on #2056
@pieandcakes I don't see any evidence of duplicate environment variable names. I've attached some logging output as well from a failed debugging session.

[printenv.txt](https://github.com/Microsoft/vscode-cpptools/files/2084399/printenv.txt)
[logging.txt](https://github.com/Microsoft/vscode-cpptools/files/2085949/logging.txt)

[2018-06-08 17:20] whampson commented on #2090
That seems to have fixed the issue, thanks!

[2018-06-08 17:49] pieandcakes commented on #2056
@michaelkourlas @aghpub Thank you for the logs. Let me see what is happening.

[2018-06-08 17:58] pieandcakes commented on #2056
@michaelkourlas Do you have the beginning of the log? I'm missing some key information from what you posted. Can you add `"traceResponse": true` to your logging block? If you don't want it public, can you email it to me?

[2018-06-08 18:00] pieandcakes commented on #2056
@aghpub I don't see a failure in that log you provided. Did you get the error in that one?

If you have an error case, can you make sure you have `"trace": true, "traceResponse": true` added to your logging blocks and send me that log?

[2018-06-08 18:20] aghpub commented on #2056
@pieandcakes I added `"traceResponse": true` to launch.json and the log now conains something related to the error. I attach the log to this post.

[logging.txt](https://github.com/Microsoft/vscode-cpptools/files/2085531/logging.txt)

[2018-06-08 18:31] bicbalb commented on #2080
Thanks for your efforts, but below are exceptions and stack traces, which I get with 0.17.5-insiders version:

Unhandled exception at 0x749AD722 in Microsoft.VSCode.CPP.Extension.exe: Microsoft C++ exception: std::out_of_range at memory location 0x0441ECA8. occurred
KernelBase.dll!_RaiseException@16()
Microsoft.VSCode.CPP.Extension.exe!__CxxThrowException@8()
Microsoft.VSCode.CPP.Extension.exe!s

[2018-06-08 18:49] sean-mcmanus commented on #2106
I'm able to repro the bug without "/mnt/c/include" in the includePath, but once I add it, the workaround works for me and I get hover/GoToDef working in the case sensitive folder.

My test project has Root/case/test.cpp (case is case-sensitive), and Root/no-case/test.cpp.

Do you know what I'm doing differently?

[2018-06-08 19:02] sean-mcmanus commented on #1975
@chongchai You should upgrade to 0.17.4 which fixed some crashes, or 0.17.5-insiders, which fixed more crashes (assuming we didn't introduce any new ones): https://github.com/Microsoft/vscode-cpptools/releases . If you continue to get crashes, please attach a debugger to Microsoft.VSCode.CPP.Extension.exe and/or create a dmp and provide the call stack of the crashing thread. Windows binaries have

[2018-06-08 19:09] sean-mcmanus commented on #2091
We do not currently parse the -Werror flag -- we've had the idea of parsing that flag and using it to remove the --no_warnings from our msvc.json file (since we expose the warnings as errors in that case), but the warnings provided are not the same warnings as the cl/gcc/clang compiler warnings.

What Bob was saying is that you can pass flags like -stdlib=libc++ in the compilerPath setting to chan

[2018-06-08 19:59] sean-mcmanus commented on #2107
I'm not able to repro the issue. Can you set your loggingLevel to Debug and then do the repro? Do you see any "Formatting diffed output" message? When the result is garbage is the "Formatting input" also garbage?

You could also try 0.17.5-insiders, which may have unintentionally fix it: https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.5-insiders .

[2018-06-08 20:24] michaelkourlas commented on #2056
@pieandcakes Sorry, looks like that was cut off by accident. I've updated the comment with the full log.

[2018-06-08 20:30] pieandcakes commented on #2056
I think I see the error. Trying to determine why it is happening. I'll let you know as soon as I know what is causing it.

[2018-06-08 20:44] gas6262 opened #2108 "Language Service Crash - No Intellisense RHEL6"
Type: LanguageService
**----- Input information below -----**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
It seems that the cpp tools extension is very difficult to build in RHEL 6 and your provided distribution targets RHEL 7 only.  The langauge server continuousl

[2018-06-08 21:07] sean-mcmanus commented on #2108
We don't currently support RHEL 6 (too few users, too old), only RHEL 7. It sounds like we may have a dependency on a newer component. Can you run `~/.vscode/extensions/ms-vscode.cpptools-0.17.4/bin/Microsoft.VSCode.CPP.Extension.linux` and see what it outputs? You can also run ldd on that binary to see what the runtime dependencies are.

[2018-06-08 21:13] sean-mcmanus commented on #2080
Okay, sorry about that. I believe we have the real fix for the 1st crash (for our next release, no ETA yet, other than mid-June). Still investigating the canonicalize issue (we made a potential fix there, but it looks like you're hitting something else)...if you have any more info about what is special about your scenario that could help. Do your paths have special characters in them or are your p

[2018-06-08 21:14] gas6262 commented on #2108
$  ~/.vscode/extensions/ms-vscode.cpptools-0.17.3/bin/Microsoft.VSCode.CPP.Extension.linux
/home/dgaspard/.vscode/extensions/ms-vscode.cpptools-0.17.3/bin/Microsoft.VSCode.CPP.Extension.linux: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /home/dgaspard/.vscode/extensions/ms-vscode.cpptools-0.17.3/bin/Microsoft.VSCode.CPP.Extension.linux)
/home/dgaspard/.vscode/extensions/ms-vscode

[2018-06-08 21:21] gas6262 commented on #2108
Code folding and syntax highlighting work fine though by the way.

[2018-06-08 21:53] sean-mcmanus commented on #2108
Yeah, we have a dependency on glibc_2.17 or higher -- via running readelf -a on the binary, it shows it's due to our usage of clock_gettime and the memcpy@glibc_2.14. There are potential solutions to reduce our dependency on those, but I'm not sure if it's a high enough priority for us to fix unless we receive more complaints.

Code folding and syntax highlighting are implemented by VS Code itself

[2018-06-08 23:09] sean-mcmanus opened #2109 "Code actions on squiggles don't appear"
Not sure when/how this regressed. I assume VS code's behavior changed.

Bug#2: The inactive region code action had a minor off by one issue too.

[2018-06-09 12:21] BigfootN commented on #2091
Thank you very much for all the information.

[2018-06-09 12:21] #2091 closed, assigned to nobody

[2018-06-09 15:47] metropt commented on #2086
@bobbrow main.c include nrf_drv_gpiote.h and it include nrf_gpiote.h

![image](https://user-images.githubusercontent.com/764040/41193491-8b8febda-6c04-11e8-80ee-71bbe6b6e86c.png)

BTW on the main.c file I can't navigate to included files except the ones from the compiler path or the ones I have opened on the editor.

[2018-06-09 16:08] metropt commented on #2086
How can I tell intellisense that a variable is defined?
![image](https://user-images.githubusercontent.com/764040/41193640-cabc27cc-6c06-11e8-851f-ceddd9a7b171.png)
I can share the project if it easier.

[2018-06-09 20:09] tabedzki opened #2110 "Using ${workspaceFolder} and sourceMapFile for remote debugging a Linux Cluster"
Hi @pieandcakes,

First off, I just want to say thank you for all the hard work you and other members on your team are doing. The support here I've seen here on GitHub and the documentation on VS Code site is pretty extensive, especially for a project that doesn't seem to be monteized.

I am trying to remotely debug a program on our cluster (RedHat) from a Windows version of VS Code (1.24.0) and I

[2018-06-09 20:52] sylveon opened #2111 "VSCode reports 'converstion from "x" to "y" is invalid in constant-expression evalution', yet code builds fine"
Type: LanguageService

**Describe the bug**
- OS and Version: Windows 10 build 17686
- VS Code Version: 1.23.1
- C/C++ Extension Version: 0.17.4
- Other extensions you installed (and if the issue persists after disabling them): I have others extensions installed, but after disabling all of them except my theme (Railgun) and this addon, it still persists.
- Description: VSCode reports an error for

[2018-06-10 01:49] jeffbi opened #2112 "Intellisense not interpreting C++17 auto correctly"
Type: LanguageService

- OS and Version: Linux Mint 64-bit
- VS Code Version: 1.24.0
- C/C++ Extension Version: 0.17.4

Intellisense interprets the construct `auto p{"Fred"}` as deduction of an initializer list. In C++17 that should not be the case.

**To Reproduce**
Use the following C++17 `main.cpp` file:
[code]
along with the following (auto-generated) `c_cpp_properties.json` file:
[code]
Red s

[2018-06-10 03:44] leanjunio commented on #1262
The same issue is happening with me actually. main.exe exists in the main workfolder but vscode cannot run it.

[code]

[code]

[2018-06-10 15:33] SheepDomination opened #2113 "Understanding debugging ?"
I was reading the documentation and it states;

 What is meant by this ?

[2018-06-10 15:45] noodlecollie commented on #2056
I'm also getting this error.

VS Code 1.24.0 x64 6a6e02cef0f2122ee1469765b704faf5d0e0d859
Manjaro (Arch) Linux 17.1.10

Just started happening today on a new project I'm working on, but works fine on other projects. Log is [attached](https://github.com/Microsoft/vscode-cpptools/files/2088006/log.txt), launch.json is as follows:

[code]

[2018-06-10 19:11] karera123 opened #2114 "No red squiggles"
I am wondering why there's no red squiggles in syntax errors in c/c++ codes. I installed c/c++ extension v0.17.4, vscode v1.24.0 and I'm using bash as integrated terminal. This is my c_cpp_properties.json:
[code]

[2018-06-11 02:08] luyui commented on #2106
@sean-mcmanus Much thanks for the explain, I didn't understand the workaround correctly, it's working now! I'll close this issue.

[2018-06-11 02:08] #2106 closed, assigned to nobody

[2018-06-11 06:31] FlorisColpaert opened #2115 "Willl there be refactoring support?"
Type: LanguageService
Will there be refactoring support in the near future?

[2018-06-11 08:20] s-martin commented on #638
Any news on this issue?

[2018-06-11 08:33] sean-mcmanus commented on #2086
You should set the "defines" property in your c_cpp_properties.json. Setting your compilerPath should set your compiler-based defines (excluding cl.exe).

Inability to navigate to the included files usually means your browse.path isn't set correctly (i.e. it should have ${workspaceFolder} and any other root folders where you need file navigation or workspace symbols).

[2018-06-11 08:38] maxicombina commented on #1230
I would really love this feature. The codebase I am working with has multiple "projects" (think in main code and several libraries), and I can't afford not to have this :(

[2018-06-11 09:00] sean-mcmanus commented on #2111
What's the definition of SColour? I couldn't get the bug repro with my made up version:
[code]

[2018-06-11 09:13] sean-mcmanus commented on #2114
When you open the file do you see a Microsoft.VSCode.CPP.IntelliSense.Msvc.exe process start up and then disappear and/or do you see messages about the IntelliSense client disconnecting in the C/C++ output log? Do squiggles appear in any file, such as with just "@" in it?

[2018-06-11 09:16] sean-mcmanus commented on #2112
Thanks for reporting this. It appears to be a bug with our "clang-x64" mode, and doesn't repro with the msvc-x64 mode.

[2018-06-11 09:19] karera123 commented on #2114
`Microsoft.VSCode.CPP.IntelliSense.Msvc.exe` crashes (even when I run it manually), all I see is `Microsoft.VSCode.CPP.Extension.exe` and C/C++ output log shows this:
[code]
Squiggles do appear in other file like c_cpp_properties.json but not in c/c++ files and headers.

[2018-06-11 09:21] sean-mcmanus commented on #2115
Not in the near future. We're missing multi-translation unit IntelliSense, which is a required component for refactoring to work across translation units.

I think we already have issues tracking this so I'll close this one: https://github.com/Microsoft/vscode-cpptools/issues/296, https://github.com/Microsoft/vscode-cpptools/issues/1162

[2018-06-11 09:21] #2115 closed, assigned to nobody

[2018-06-11 09:27] ibousio commented on #1975
After upgrade to 0.17.4 It seems Ok. No crashes anymore.

[2018-06-11 09:27] #1975 closed, assigned to nobody

[2018-06-11 09:59] sean-mcmanus commented on #2114
@bobbrow Any ideas?

[2018-06-11 12:01] sylveon commented on #2111
The SColour.hpp header, which has all information needed, is included in the gist.

[2018-06-11 14:21] voyage19941119 commented on #1685
@un4s  Hi, I have met the same problem, and it's still not working after I rebuild the project . suppose you have some idea about that

[2018-06-11 15:13] aeschli opened #2116 "code folding issue"
_From @cctry on June 11, 2018 10:59_

- VSCode Version: 1.23.1
- OS Version: Windows10

Steps to Reproduce:

When writing C/C++ code with conditional compilation preprocessor instructions like \#ifdef, the code folding feature works abnormally.
It cannot fold a function correctly with a pair of preprocessor instructions inside. The code between the start of the function and \#ifdef will be folded

[2018-06-11 15:13] aeschli commented on #2116
_From @vscodebot[bot] on June 11, 2018 10:59_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [\[folding\] language-aware folding (#3422)](https://www.github.com/Microsoft/vscode/issues/3422)
- [how to comment the folded code? (#48985)](https://www.github.com/Microsoft/vscode/issues/48985)
- [Fold All work

[2018-06-11 15:13] aeschli commented on #2116
There's a new 'folding provider' API where language extension can contribute language aware foldig ranges.

Moving to the CPP extension for consideration.

[2018-06-11 15:27] bobbrow commented on #2107
Re-reading the old issues, it doesn't seem like a fix was ever made on the VS Code side.

[2018-06-11 15:36] kinokn commented on #1527
@pieandcakes @Muttsu Same problem and I've fixed it by disabling unicode UTF-8 encoding in region settings and current system locate is Chinese (Simplified, China)

[2018-06-11 15:39] bobbrow commented on #2080
Or if you can tell us what the value of the const char * is for the `vscode::canonicalize` call frame, that might also help us reproduce this.

[2018-06-11 15:48] bobbrow commented on #2086
@metropt, your latest screenshot shows that `__APPLE__` is defined.  The other (inactive) blocks are grayed out.  If you are able to share your project, we can investigate further.

[2018-06-11 15:59] bobbrow commented on #2114
When we split the stdout/stderr streams for debugging formatting errors, this log message was not updated so I can't see the point of failure. :man_facepalming:  I'll fix the message and then we will be able to debug further with the next update.

[2018-06-11 16:09] bobbrow commented on #2116
Thank you for the feature request.  This is a duplicate of #407.  I recommend you go upvote that feature so we can know where it fits on our priority list.

[2018-06-11 16:09] #2116 closed, assigned to nobody

[2018-06-11 16:13] bobbrow opened #2117 "Tag parser crash"
@VincentZhou98

The following is mac crash log

[code]
VSCode is Version 1.24.0 (1.24.0)

C/C++ 0.17.4

[2018-06-11 16:14] bobbrow commented on #2080
@VincentZhou98 , I moved your issue to #2117.  It is different from the callstacks in this issue.

[2018-06-11 16:16] bobbrow commented on #2117
@VincentZhou98, if you can provide us with any additional info about your project/source files, that would help us to diagnose and fix this issue.

[2018-06-11 16:18] metropt commented on #2086
@bobbrow __APPLE__ is a system variable but NRF51 isn't one. I'm going to try @sean-mcmanus advice tonight.

Should I use relative paths or it's fine to use absolute paths?

[2018-06-11 16:31] tiangangzhou commented on #2117
I use a  source file contains c++14 and a numeric file using `MKL` for test. Both of the files will cause crash.

[code]

[code]

[2018-06-11 16:39] bobbrow commented on #2086
What I'm implying is that setting `NRF51` won't do anything for this particular header file because you're already going through the `__APPLE__` path, not the `#else` path.  But maybe it matters elsewhere, so it might still be worth a try.

[2018-06-11 16:43] metropt commented on #2086
@bobbrow you're right, I looked at it as two conditions blocks -.-' There is a way to undefined the `__APPLE__` variable for this project on vscode?

[2018-06-11 17:09] bobbrow commented on #2086
Unfortunately, not at this time.  Cross-compilation support is on the backlog, but not currently available.

[2018-06-11 17:11] WardenGnaw commented on #2113
The VSCode cpptools extension can debug C/C++ programs created on Windows, Linux and OS X. For Windows, we can specifically debug programs with PDB's or programs created in MinGW or Cygwin.

[2018-06-11 17:11] #2113 closed, assigned to WardenGnaw

[2018-06-11 17:19] bobbrow commented on #2117
I downloaded MKL and Eigen, added them to the `browse.path` and pasted your code into VS Code and I don't see any crash.

Can you share your `c_cpp_properties.json` file?

[2018-06-11 17:40] metropt commented on #2086
So will not be possible to have the project properly configured?

On Mon, Jun 11, 2018, 18:09 Bob Brown <notifications@github.com> wrote:

[2018-06-11 17:48] pieandcakes commented on #2056
@x6herbius thanks for your log.
The problem is related to code setup to track our entrypoint breakpoint. We issue a command of `-break-insert main` and the assumption was made this would return one bound location but in all these logs its showing us multiple breakpoint bind locations. I'm working on a fix right now. Unfortunately there is no workaround for this issue.

[2018-06-11 18:14] sean-mcmanus commented on #2111
Oh, I didn't see it before. Thanks for the repro -- it repros in VS 2017 too so I'll let the team know.

Adding the typecast below is a "workaround" -- I don't know for sure if the error is valid or not according to the language spec (conversion from float to unsigned short is a data loss warning, but compiles as you've shown above):

`
tempcol.h = tempcol.h - (unsigned short)step;
`

Also, I was

[2018-06-11 18:21] karera123 commented on #2114
I also installed C/C++ Extension v0.17.5-insider but intellisense still not working and `Microsoft.VSCode.CPP.IntelliSense.Msvc.exe` keeps not running. I'm using Windows 10 Pro April 2018 Update.

[2018-06-11 18:26] timedroid opened #2118 "Feature Request: GDB extended-remote Support"
Type: Debugger

Please add support for connecting to a gdbserver started with the "--multi" argument. Allow users to choose from a list of remote processes to debug.

Ideally this would not even require a local copy of the executable (as GDB could download it from the target if it's not stripped) and be able to attach all child processes as well.

See issue #78 for more context.

[2018-06-11 18:31] bobbrow commented on #2086
If you share the project, I can see if there's anything I can do for the time being.  You can also try the `forcedInclude` property in `c_cpp_properties.json` to force include any of those nrf headers that end up missing.

[2018-06-11 18:44] sean-mcmanus commented on #407
+1 I hit this issue sometimes with our cross platform code.

[2018-06-11 18:46] sean-mcmanus commented on #2107
@bobbrow I don't understand. The original issue was definitely fixed (on the VS Code side) or this wouldn't work at all. It appears there's some strange random issue. Are you able to repro the bug?

[2018-06-11 18:59] RogFedex opened #2119 "Sometimes it takes unusual longtime or forver to find definitions with C/C++ Extensions"
With C/C++ Intellisense extension, it takes long time or even hangs to go to defintion or when finding definitions. If we reload vscode and search again then it finds definition immediately.

[2018-06-11 19:15] sean-mcmanus commented on #2117
It could be an issue with the file's encoding (or the encoding of any included files). What encoding are your files? We only fully support UTF-8 encoded files.

[2018-06-11 19:28] noodlecollie commented on #2056
Thanks for the timely response! I'll keep an eye out - luckily for the moment I can manage without the VSCode debugger.

[2018-06-11 19:31] sean-mcmanus commented on #2119
Is there a red flame in the bottom right when it hangs on Go to Definition? It could be the same as https://github.com/Microsoft/vscode-cpptools/issues/1928 .

If you can attach a debugger and get call stacks, that would show exactly what it's stuck on.

[2018-06-11 19:55] pieandcakes commented on #2056
I have a possible fix. When it is approved, I'll put together a build for you to verify that it unblocks this issue.

Thanks for your patience.

[2018-06-11 19:59] pieandcakes commented on #2118
@timedroid I'll add this as a feature request and see how many requests we get for it.

This will necessitate changes in [MI Engine](https://github.com/microsoft/miengine).

[2018-06-11 20:01] pieandcakes commented on #2110
@tabedzki

Your first configuration is not part of this extension. The line `"type": "gdb"` tells me this. Our extension launch.json `"type"` is `"cppdbg"`. You will need to determine which extension is providing support for that type and talk to them.

If you want to use our extension through `ssh`, you can look at [Pipe Transport](https://github.com/Microsoft/vscode-cpptools/blob/master/Document

[2018-06-11 20:06] pieandcakes commented on #638
@s-martin Based on the comments, this issue looks like it will require a fix in `gdb`. Have you tried @tndev 's solution?

[2018-06-11 20:08] pieandcakes commented on #1685
@voyage19941119 are you compiling with `-g` ? This usually is the case if you don't compile with `Debug symbols` enabled.

[2018-06-11 20:10] pieandcakes commented on #1527
@Muttsu @KIRI-Z We haven't found a good solution beyond having users disable Unicode UTF-8 encoding.

@KIRI-Z Do you have a good set of steps that users can use to disable this setting? If so, please share it  here so users know how to work around the problem.

[2018-06-11 20:17] tabedzki commented on #2110
Ahh sorry about that. Is there a way to remotely debug over ssh using `cppdbg`? I have been having some trouble finding a native method of doing it.

[2018-06-11 20:19] pieandcakes commented on #2110
@tabedzki I posted a link in my previous comment. You can use our `Pipe Transport` documentation to do that. it does require you to have a local `ssh` client.

Take a look at the documentation and let me know if you need more help with that.

[2018-06-11 21:11] RogFedex commented on #2119
Ok. It sounds same as #1928. Do i need to change my setting - "C_Cpp.intelliSenseEngine" as temporary workaround ?

[2018-06-11 21:53] #2099 closed, assigned to pieandcakes

[2018-06-11 21:57] tabedzki commented on #2110
I'll take a more in depth look into the Pipe Transport tomorrow, right now I have a general setup that doesn't work but that might be me not getting the paths exactly right as opposed to not knowing how to set up the configuration. Is there anything glaringly wrong with this setup:

So from what I saw from the documentation, I have a general setup like this:
[code]
Also, does this support the `"wi

[2018-06-11 22:00] pieandcakes commented on #2110
@tabedzki

Yes, those should be supported.

`pipeCwd` is the current working directory for the pipe program. If you have the path to the pipe program fully specified, you can leave this empty.

Your `program` field needs to be the location of the program on the remote computer, not where it is locally on your current computer. This way of debugging uses a pipe program such as `ssh` to talk to `gdb

[2018-06-11 22:01] metropt commented on #2086
https://www.dropbox.com/s/e9yhqq56vqr59yr/vscodecpp.zip?dl=0 the only thing I didn't include was arm gcc embedded.

Thank you

[2018-06-11 22:07] tabedzki commented on #2110
Ok. I think this covers most things that I need. Thank you for your help!
One last thing: Do you how to reference the home directory for a windows user, aka `C:\Users\tabedzki` in VS Code? Would it be `${env:USERPROFILE}` or something more akin to `%{env:USERPROFILE}%`?

[2018-06-11 22:11] sean-mcmanus commented on #2119
You can if you want, but using the "Tag Parser" will have fewer features enabled. You might also want to make sure your includePath doesn't have "**" in it, in case that is causing the performance issues (which was somewhat fixed by https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.5-insiders ).

[2018-06-11 23:05] pieandcakes commented on #2110
If you are doing it locally, it should be `${env:USERPROFILE}` and then VS Code will resolve that environment variable before the call comes to us. If you want the OS to do the resolution, it is `%USERPROFILE%`.

[2018-06-11 23:06] pieandcakes commented on #2110
@tabedzki I'm going to go ahead and close the issue. If you need more information, please reopen.

[2018-06-11 23:06] #2110 closed, assigned to pieandcakes

[2018-06-11 23:43] tabedzki commented on #2110
Alright. Thank you for all your help!

[2018-06-12 01:28] tiangangzhou commented on #2117
![image](https://user-images.githubusercontent.com/24786426/41264805-59383164-6e21-11e8-9d35-adb8e19183dd.png)

![image](https://user-images.githubusercontent.com/24786426/41264850-9d0fc80c-6e21-11e8-9d80-9e9d120fc240.png)

My file is UFT8 and `mkl` and `c++ standard library` is UTF8 too.

@bobbrow I didn't add `MKL` them to `browse.path` before, and it's my fault.
But when I add them to `browse.p

[2018-06-12 06:03] kinokn commented on #1527
@pieandcakes Sure.
The unicode UTF-8 (region setting) is a beta feature in Windows10 1803 which is disabled by default.
It is at **Control Panel** - **Clock and Region** - **Region** - **Administrative** - **Change system locate** (administrator authorization required) - **Beta: Use Unicode UTF-8 for worldwide language support** (system reboot needed). Disable it maybe helpful.

[2018-06-12 07:34] iotathome opened #2120 "Memory Window during debug"
Type: Debugger

- OS and Version: Ubuntu 14.04
- VS Code Version: 1.24
- C/C++ Extension Version: 0.17.4

I miss a memory window in the debugging pane to show/edit a block of memory.
See also issue #509, but this was closed without resolving.

[2018-06-12 07:40] iotathome opened #2121 "Persist Debugger Terminal Window when Application crashes or terminates"
Type: Debugger

OS and Version: Ubuntu 14.04
VS Code Version: 1.24
C/C++ Extension Version: 0.17.4

After starting an application the DebuggerTerminal is created and shows all output from the program, which is debugged. When the program crashes before the debugger can set a breakpoint the DebuggerTerminal is closed. It is not possible to read the information in from the terminal after the crash.

[2018-06-12 08:58] Mycaster opened #2122 "c 语言语法高亮不支持多行注释"
Issue Type: <b>Bug</b>

.c 文件。  如果使用 // 进行注释，是正常的
如果使用 /***/ 注释，注释后面的高亮就失效了

Extension version: 0.17.4
VS Code version: Code 1.23.1 (d0182c3417d225529c6d5ad24b7572815d0de9ac, 2018-05-10T17:11:17.614Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4460  CPU @ 3.20GHz (4 x 3199)|
|GPU Status|2d_canvas: enabled<br>fl

[2018-06-12 09:00] Mycaster opened #2123 "not support .c highlight"
Issue Type: <b>Bug</b>

.c file.
it's ok if comment with //, just like this
`//printf("hello,wolrd");`

but highlight will fail with  /****/
`/*printf("hello,wolrd");**/`

Extension version: 0.17.4
VS Code version: Code 1.23.1 (d0182c3417d225529c6d5ad24b7572815d0de9ac, 2018-05-10T17:11:17.614Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2018-06-12 09:00] #2122 closed, assigned to nobody

[2018-06-12 10:37] mmone commented on #1474
@gcjyzdd Excluding my build folder also fixed it for me on OSX.

[2018-06-12 14:57] sylveon commented on #2111
I tried getting a minimal repro but apparently I didn't try hard enough 😅

[2018-06-12 16:16] bobbrow commented on #2086
Thanks.  The `forcedInclude` property seems to do the trick for me.

[code]

I also saw an invalid path in your `"includePath"` array.  You should remove that or switch to recursive includes `"${workspaceFolder}/../nRF5_SDK_12.3.0_d7731ad/**"`.  We improved the performance of recursive includes in 0.17.5-insiders, with further improvements coming in 0.17.5.

You can also remove the system include

[2018-06-12 16:18] bobbrow commented on #2086
And for reference, the cross-compiler support issue is #1083.  Please go upvote that issue if you would like to bump up the priority.

[2018-06-12 16:18] #2086 closed, assigned to nobody

[2018-06-12 16:32] bobbrow commented on #2123
This works fine for me.  What do you expect to see?

![image](https://user-images.githubusercontent.com/12818240/41303901-712b77d4-6e23-11e8-85e0-5f2abcf8b0b8.png)

[2018-06-12 16:36] zao opened #2124 "clang-format won't use .clang-format file on UNC-style network share out of box"
Type: LanguageService

- OS and Version: Windows 10 1803
- VS Code Version: 1.23.1
- C/C++ Extension Version: 0.17.4
- The `.clang-format` file will not be used if the project resides on an UNC-style network share, unless the fallback style is forced to "none".
- This does not occur on drive-letter mounted network shares or local drives.

**To Reproduce**
Steps to reproduce the behavior:
1) Prepar

[2018-06-12 18:23] pieandcakes commented on #2121
@iotathome Currently, the terminal is a child process of the debugger and dies when the debugger terminates. I'll make this a feature request.

[2018-06-12 18:25] pieandcakes commented on #2120
@iotathome We would need VS Code to provide such a window for us to report the information, which they currently do not and also support from VS Code to report the protocol information. Until that happens, we don't have a way to provide it. That is why #509 is closed.

[2018-06-12 18:26] #2120 closed, assigned to nobody

[2018-06-12 19:33] WardenGnaw commented on #2120
#509 is still open. Marking this as duplicate.

[2018-06-12 20:36] tabedzki commented on #2110
It appears I have another point on which I need clarification:
In my `launch.json` I have a `linux` and `windows` specific commands and they both `ssh` into the cluster properly.

Using the below configuration, I thought VS Code would read the local `${WorkspaceFolder}`and map it to the proper place on the cluster via the `sourceFileMap`, i.e., remap `R:\` to `/home/tabedzki` for Windows and `/hom

[2018-06-12 20:58] pieandcakes commented on #2110
@tabedzki the `sourceFileMap` is there to map compile time source location to where source is on your local machine, to aid in loading source so you can debug, because the debugger's symbol information that it accesses is usually determined at compile time. It does not modify paths sent to the debugger at all.

For your example, you need to change `"cwd"` to be the working directory on the cluster

[2018-06-12 21:15] metropt commented on #2086
thank you for your help :) at least now I can navigate through the whole code!

[2018-06-12 22:42] pieandcakes commented on #2056
Please try this release of the extension and let me know if it works. Rename the file cpptools.vsix, uninstall the current version and reload VS Code. Then use the following menu on the Extensions tab to install the file:

![image](https://user-images.githubusercontent.com/17558378/41321089-39d868b2-6e57-11e8-8ea1-bd3678a8b2f2.png)

Fixed extension:
[cpptools.zip](https://github.com/Microsoft/vsco

[2018-06-12 23:03] kavehv commented on #1816
I'm not sure what changed, but the low priority setting seems to be behaving better now.  Part of the problem was the database was being created in the workspace which was on an NFS mount.  I was able to adjust the location to a local drive instead, but is there a way I can set this globally rather than per workspace?

[2018-06-13 06:24] aghpub commented on #2056
The new version seems to fix the problem for me. :-)

[2018-06-13 06:50] Mycaster commented on #2123
![f7e66dd9-4fb2-40bc-bcd5-e0c4ae493a9c](https://user-images.githubusercontent.com/12558913/41334653-f76cd842-6f18-11e8-8150-877949217a7a.png)

note that space , works fine with one space

[2018-06-13 06:54] iotathome commented on #2121
btw: the gdb has a command line option to set up a running terminal as output window:
e.g. --tty=/dev/pts/28
may be this option can be configured in launch.json?

[2018-06-13 07:23] zhangmn799 opened #2125 "[gdb] Incorrect value of built-in type when running to the end of a while function"
**Environment data**
Ubuntu:17.04
gdb version:7.12.50.20170314

**Steps to reproduce**
1. mkdir test && cd test
2. vi main.cpp and edit it as following then save it.
![code](https://user-images.githubusercontent.com/26423555/41335876-eebfc412-6f1c-11e8-8cfa-f1409c76b656.PNG)
3. g++ -g -o main.exe main.cpp
4. gdb main.exe

**Expected behavior**
It can show a value correctly.

**Actual behavior**
"p

[2018-06-13 08:46] tndev commented on #638
@pieandcakes I'm a little conflicted about who is in charge here. On the one hand I would say, that's something the tool like gdb/gcc should provide, because they also have all other pretty printing scrips written. But on the other hand I also think that an IDE also has a "responsibility" to help in such a case.

Anyhow, they probably did some improvements, but I haven't checked them:
[Bug 59253 -

[2018-06-13 09:18] noodlecollie commented on #2056
Will give this a try this evening when I'm home!

[2018-06-13 09:31] Wyverex42 commented on #2056
I had the same problem and the fix works for me. Thank you!

[2018-06-13 12:20] tndev commented on #638
It seems that it works with gdb 8.1 and their updated `share/gcc-8.1.1/python` scripts. It now displays the content of the `shared_ptr` correctly. I'm not exactly sure if it was really solved by gcc itself or if it is due to other updates of my system.

The only downside that exists right now is that the reference counters are not displayed anymore. Only the the `get()` child, that enables to do t

[2018-06-13 13:44] hodlen opened #2127 "Debugger won't start on Windows 10 setting UTF-8 locale"
Type: Debugger

In Windows 10 1803 update, there's an option to turn on UTF-8 beta feature in the locale settings (Control Panel -> Region -> Administrative -> Change system locale). When UTF-8 turned on, the debugger won't start but hanging on forever. Then I tried to turn off the UTF-8 feature, and the problem fixed.

Similar issue: https://github.com/Microsoft/vscode-cpptools/issues/1527

**Des

[2018-06-13 15:03] bobbrow commented on #2123
I still don't see the problem.  Can you copy/paste the actual text?  Maybe there's a special character in there that I don't see in the screenshot.

![image](https://user-images.githubusercontent.com/12818240/41359730-f5b5ec34-6edf-11e8-99a6-7d6fd360d08a.png)

[2018-06-13 16:00] tiangangzhou commented on #2117
Even a simple `hello.cpp` will give a crash. And the [VSCode cpptools](https://code.visualstudio.com/docs/languages/cpp) says that

which means that vscode will do some simple configurations. But when I open a folder, and do some simple configuration like that
[code]

the `Hello.cpp` is still crash.
[code]

[2018-06-13 16:39] bobbrow commented on #2117
It's not `Hello.cpp` causing the crash.  It's one of the library files.  Can you set `"C_Cpp.loggingLevel": "Debug"` and watch the Output window to see which one it might be (you'll need to select the C/C++ filter to see our extension's messages)?  We log the file names as we attempt to tag parse them, so hopefully the last file printed in the window will be the one causing the crash.  You'll have

[2018-06-13 17:22] kgfly commented on #206
Please add

ASM window
Memory window
Register window

[2018-06-13 18:05] thecoder138 opened #2128 "c++ intellisense no longer understand typedef'd shared pointer types?"
I am running vscode for mac: Version 1.24.0 (1.24.0)

After few recent updates my c++ intellisense has stopped giving me suggestion for typedef'd pointer types.

For example:
if a certain header file has defined:
typedef std::shared_ptr<my_struct> my_struct_shared_ptr;

If I include this header in some cpp file and try to dereference a my_struct member using -> operator, intellisense spits out:
"e

[2018-06-13 18:48] pieandcakes commented on #2056
Please use this until we ship our next update.

[2018-06-13 18:54] noodlecollie commented on #2056
Unfortunately this doesn't fix the issue for me. Log file is attached: [log-13-06-18.txt](https://github.com/Microsoft/vscode-cpptools/files/2099483/log-13-06-18.txt)

[2018-06-13 18:55] pieandcakes commented on #2056
@x6herbius Can you make sure that you installed the package linked here? I used your log and I can't duplicate that error.

Make sure you are choosing `uninstall` then `reload` and installing this package after VS Code has reloaded.

[2018-06-13 18:59] noodlecollie commented on #2056
Hmm, not quite sure what happened the first time - I even uninstalled and reinstalled to make sure - but after doing it a third time it does seem to work. Maybe my VSCode is just playing with me. Thanks for the patch!

[2018-06-13 19:32] WardenGnaw commented on #2125
Are you noticing that the value of `a` in the VSCode C/C++ extension's locals windows is not being displayed correctly or is the issue GDB is not showing the value correctly?

From the actual scenario image, it seems like you are trying to print the value of the variable `a` when it has fallen out of scope since you do `n`.

[2018-06-13 19:57] pieandcakes commented on #2127
@Miosolo Thank you for filing an issue. As you noted, this is a duplicate of #1527. There is a workaround of disabling UTF-8 at this time until we find a solution.

[2018-06-13 21:04] sean-mcmanus commented on #2128
What version of the C/C++ extension do you have? What OS are you using? What is your compilerPath setting? What is your intelliSenseMode? Are you using recursive includes (**)? If you set your C_Cpp.loggingLevel to Debug you should be able to see the include paths used in the C/C++ output window. (It's not reproing for me so I need more repro info).

[2018-06-13 22:01] thecoder138 commented on #2128
Sorry for not including relevant info.

C/C++ extension version: 0x.17.4
Mac OS 10.13.2
compiler path: /usr/bin/clang
IntelliSenseMode: clang-x64
Not using recursive includes.

[2018-06-13 22:11] PhysicsCodingEnthusiast opened #2129 "Multi-root workspaces and include errors"
After perusing various documentation and issue threads, I am still quite confused on setting up multi-root workspaces and how to appropriately configure `"C_Cpp.default.includePath"` and `"C_Cpp.default.browse.path"` in the `.code-workspace` settings file in order to remove all `#include` errors (this is on a Windows machine).

I have a folder called AllCodingProjects with subfolders A, B, C, and

[2018-06-13 22:28] bobbrow commented on #2129
Unfortunately, there is no variable that represents the `AllCodingProjects` folder where your .code-workspace file is.  ${workspaceFolder} resolves to `AllCodingProjects/A` for folder `A` and `AllCodingProjects/Shared` for folder `Shared`.

You should be able to address specific folders with the `${workspaceFolder:<folder_name>}` syntax.  (e.g. `${workspaceFolder:Shared}`)

[2018-06-14 00:02] PhysicsCodingEnthusiast commented on #2129
That worked -- thank you! Just so I know for future reference, is this anywhere in the documentation?

[2018-06-14 00:05] sean-mcmanus commented on #2129
It's documented at https://code.visualstudio.com/docs/editor/variables-reference . We just re-use the VS Code's variables.

[2018-06-14 00:18] PhysicsCodingEnthusiast commented on #2129
Ah, that is helpful! I am copying the relevant portion here for future reference:

[2018-06-14 00:18] #2129 closed, assigned to nobody

[2018-06-14 00:53] bobbrow commented on #2128
I'm still not able to repro the issue.

When you set your loggingLevel to debug and open a file, how does you include path ouptut differ?:

Attempting to get defaults from compiler in "compilerPath" property: '/usr/bin/clang'
sending compilation args for /Users/cpptools/test/test3.cpp
  include: /Users/cpptools/test
  include: /Library/Developer/CommandLineTools/usr/include/c++/v1
  include: /usr/

[2018-06-14 01:47] zhangmn799 commented on #2125
I don't use vscode. I try to C/C++ Attach for Linux(gdb) scenary with visualtudio in windows(Hyper-V) and Ubuntu 14.04.
1.F5
2.F10
It will run "return 0". It seems  like gdb's issue. And I understand your meaning that I shouldn't print the value of the variable 'a' when it has fallen out of scope since I do 'n'. But 'a' show const number type
is it  expected ?

![capture](https://user-images.githu

[2018-06-14 04:28] jfg118 opened #2130 "enable gdb reverse debugging"
Type: Debugger

Hookup the reverse debugging commands for gdb to the VSCode Debugger Protocol.

i.e. reverse-next, reverse-step, reverse-continue, etc.

[2018-06-14 06:07] dirkseidel opened #2131 "nested container not completely visible in debugger"
I have an issue with the following structure:
map<set<string>, vector<pair<const Node*, bool>>>

Using the debugging console:
-exec print thisStructure
gives:
$5 = map with 2 elements = {
[set with 1 elements = {"PROD"}] = vector: sz=1, cap=1 = {{
first = 0x7f6f4a501800,
second = false
}},
[set with 1 elements = {"PROP"}] = vector: sz=1, cap=1 = {{
first = 0x7f6f4a4ff000,
second = false
}}
}

It s

[2018-06-14 06:45] Mycaster commented on #2123
[code]
this is ok and no need to post a picture

[code]

this is not ok , if  there is more than one  continuous `*`  before the last  `/`  ,  it will be shown like this :

![1d7eef24-634e-4c31-ba39-818300d2ad52](https://user-images.githubusercontent.com/12558913/41395385-1a97b14e-6fe0-11e8-870f-cb4a89d2c7a6.png)

it means  comment like this is ok
[code]
but this is not work
[code]

file encoding

[2018-06-14 09:44] daldr-ntml opened #2132 "No light bulb for green squiggle"
- OS and Version: Windows 10
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5-insiders

Hi, I've just created a new VS Code workspace and I want to configure c/cpp properties for one of the folders in the workspace.  I have created an empty c_cpp_properties.json file in the .vscode folder of the folder I am working on.  Now I need content for that json file. I could either copy from a t

[2018-06-14 09:57] cablefan commented on #2132
try press key: Ctrl+Shift+P

[2018-06-14 10:00] daldr-ntml commented on #2132
That just opens the command palette and allows me to create an empty c_cpp_properties.json file.  I need content 👎

[2018-06-14 10:00] flixr commented on #1777
With 0.17.4 I still get
[code]

[2018-06-14 10:11] sean-mcmanus commented on #2132
This is bug https://github.com/Microsoft/vscode-cpptools/issues/2109 . It should be fixed in our next release.

[2018-06-14 10:11] #2132 closed, assigned to nobody

[2018-06-14 10:14] sean-mcmanus commented on #1777
Yeah, that's "by design", we changed it to a warning and fixed the deadlocks.

[2018-06-14 10:45] daldr-ntml commented on #2132
Thanks. It really would be nice to have a means of rolling back to an earlier version.

[2018-06-14 11:17] flixr commented on #1777
So this really means that compile_commands.json is ignored and it reverts to the 'includePath' setting?
That would be a real shame, as compile_commands.json and CMakeCXXCompilerId.cpp is something automatically generated by cmake...

If compile_commands is actually still used, then the warning not say that it reverts to 'includePath' setting.

[2018-06-14 15:48] bobbrow commented on #2132
All of our releases are available [here](https://github.com/Microsoft/vscode-cpptools/releases), though in this case, I think VS Code changed the behavior of the code actions which exposed this bug in our extension so I'm not sure if rolling back our extension will fix it for you.

[2018-06-14 15:51] bobbrow commented on #2123
I didn't expect this to be an issue related to our extension but was trying to get more details before sending you to the VS Code repository to file an issue.  I still don't see this behavior on my PC, even with the Chinese language pack installed.  My next guess is another extension.  Can you tell us all the extensions you've installed?  It's possible one of them changed the coloring scheme.

[2018-06-14 15:57] daldr-ntml commented on #2132
Hi Bob, thank you for the link.  Are you planning to release an 'insiders' version with the fix, to get it out quickly?

[2018-06-14 16:03] bobbrow commented on #2132
We are planning to release 0.17.5 on Monday or Tuesday next week so we hadn't planned to refresh the insiders.

[2018-06-14 16:08] bobbrow commented on #1777
We only ignore compile_commands.json for the individual files you open that don't exist in the json database.  We will use compile_commands.json for all of the other files that are present.

[2018-06-14 16:09] bobbrow commented on #1777
Perhaps we can clarify the message to say that we are using `includePath` just for the translation unit in question.

[2018-06-14 16:09] daldr-ntml commented on #2132
Ok, thanks.

[2018-06-14 17:01] uuf6429 commented on #248
To whoever might see this in the future, `symbolSearchPath` is a key of `launch.json -> configurations[n]`.

[2018-06-14 18:45] flixr commented on #1777
👍

Bob Brown <notifications@github.com> schrieb am Do., 14. Juni 2018, 18:09:

[2018-06-14 19:50] mjaybaig opened #2133 "Red Squiggle with "No operator '<<' matches these operands ..." on compileable and working code"
Hello all,

vscode v 1.24.1
c/cpp v 0.17.4
Windows 10 x64

[code]

This code itself is compiling and working fine. But vscode is having a problem with the cout being used with an array of strings.

![image](https://user-images.githubusercontent.com/16021620/41434503-694baa8e-7035-11e8-9197-94b9dde189bb.png)

It is not showing this behavior with string literals, or even an array of int used with co

[2018-06-14 20:22] ghost opened #2134 "Problem debugging with C on VS code(mac)"
Hello,

I am trying to use VS code with C. Here is my launch.json:
[code]

And here is the code i am trying to run :
[code]

When I run it, I get the error "Unable to start debugging. Program path '/Users/xxx/Desktop/C/Untitled.c' is missing or invalid." The path here is the path of the file containing the code. Is it what it is supposed to be? I have seen that it is supposed to be the "binary fil

[2018-06-14 20:39] mjaybaig commented on #2134
Here's my configuration. Seems a bit different to yours, maybe it might help. I'm using GDB on Windows though

[code]

[2018-06-14 21:23] WardenGnaw commented on #2130
You will want to make a request to the VSCode Protocol at their GitHub issue page at https://github.com/Microsoft/vscode-debugadapter-node/issues

[2018-06-14 21:24] pieandcakes commented on #2130
@jfg118 Does `gdb` provide `mi` support for these features? As @WardenGnaw mentioned above, they will need to be implemented and supported by VS Code in their debug protocol before we can add that functionality.

[2018-06-14 21:27] WardenGnaw commented on #2134
The binary file is the executable created from the compiler you are using. How are you compiling your C program? If you do not provide an output name, it usually generates it as `a.exe`. Therefore, you want your configuration to be:
[code]

[2018-06-14 22:10] dlech commented on #1940
Sounds like #390

[2018-06-14 22:11] #2020 closed, assigned to nobody

[2018-06-14 22:23] sean-mcmanus commented on #2133
The issue is fixed via adding `#include <string>`. I'm seeing the operator defined there. Are you able to locate where the operator<< (iostream, string) is define? What is your compilerPath/intelliSenseMode? It should match whatever your compiling with.

[2018-06-14 22:27] ghost commented on #2134
Thanks for your answer. I have Xcode compiling C on my mac, and a c_ccp_properties.json that contains the different paths to the Xcode compiler in VS code. Should I therefore put the path of the c_ccp_properties.json on the "program" line?

Here is the content of the c_ccp_properties.json:
[code]

[2018-06-14 22:57] pieandcakes commented on #2131
@dirkseidel I assume this is `gdb` debugging? Can you provide us with a small code sample that repros this? I assume you are using `std` types.

[2018-06-14 23:14] WardenGnaw commented on #2134
The debugger does not use c_ccp_properties.json to debug, that file is for the language service, e.g. intellisense. The `program` field in the launch.json configuration requires the binary file created by the compiler, e.g. gcc.

From command line, you can have your source file and compile it with `gcc main.c` and it will produce `a.exe`.

If you want to debug with it, you will need to provide the

[2018-06-15 03:26] jfg118 commented on #2130
@WardenGnaw the VSCode Protocol supports the "Back" functionality.

https://github.com/Microsoft/vscode-debugadapter-node/blob/master/protocol/src/debugProtocol.ts

i.e. StepBack, ReverseContinue, etc.   The capabilities need to specify supportsStepBack := true

@pieandcakes gdb-mi it supports the reverse commands through specify -reverse argument to the normal step , next, commands, as well as se

[2018-06-15 04:48] brianignacio5 commented on #1332
Using cpptols 0.17.4
Cmake tools 1.0.1

Project : https://files.fm/u/zsnyk2j9

Steps to reproduce (In Linux based):
1. Extract folder cmake_test_vscode to any location {dir}.
2. Run `code {dir}/cmake_test_vscode/project`
3.  Run a cmake build using Cmake tools command : **Cmake: Build**
4. Hover test() in project/main.c and Go to declaration/definition

We observe that it goes to the test.h file b

[2018-06-15 06:14] dirkseidel commented on #2131
yes, it is gdb on a linux machine: GNU gdb (GDB; devel:gcc) 8.0
Pretty printers are installed as described here:
https://sourceware.org/gdb/wiki/STLSupport
The following code reveals missing map entries in VS Code debugging:

[code]

[2018-06-15 06:19] pieandcakes commented on #1972
Hi @dsowa-w1,

We have a fix if you want to try it. It is listed [here](https://github.com/Microsoft/vscode-cpptools/issues/2056#issuecomment-396757668).

[2018-06-15 06:20] pieandcakes commented on #1972
Marking this as a duplicate of #2056.

[2018-06-15 06:21] #1972 closed, assigned to pieandcakes

[2018-06-15 08:57] ghost commented on #2134
"From command line, you can have your source file and compile it with gcc main.c and it will produce a.exe."

Which command do i need to run to do that? Sorry I'm a bit new to this. Thanks a lot for your help

[2018-06-15 09:18] mjaybaig commented on #2133
Sean thank you. Yes that fixed it. I don't know what i was thinking using string types without importing the string header. Quite embarrassing.

[2018-06-15 15:49] xrEngine512 commented on #1139
I confirm this issue on Ubuntu 16.04.
I think for me it happens usually when parsing hangs for some reason (when there's always red flame in status bar).
If I close or reload window in that state, there's always dangling cpp extension's processes, that never exits.
I found out when I started using vscode on my laptop that I'm not powering down, only suspend, and at some point there was so many ins

[2018-06-15 17:21] #2133 closed, assigned to nobody

[2018-06-15 18:27] bobbrow commented on #2015
@ThadHouse, I forgot to mention that [0.17.5-insiders](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.5-insiders) should have the API enabled with the language service backend support if you want to try it out.

The current implementation is alpha quality, but I'm in the process of making some additional UI changes in the TypeScript code to polish the experience.  There will be ad

[2018-06-15 18:36] sean-mcmanus commented on #1332
@brianignacio5 It works if you use
[code]
There are long-standing bugs on these issues (issues exist on GitHub):
1. The browse.path isn't automatically generated from the compile_commands.json
2. The non-workspaceFolder paths are not parsed for source files if limitSymbolsToIncludedHeaders is set to the default value of true.

We might be able to fix issue 2 in June and 1 in July (depending on oth

[2018-06-15 18:38] ThadHouse commented on #2015
Cool. Just downloaded the API, and I'll take a look at using insiders soon. Not super worried about changes, will happily make changes required to make the final release better.

[2018-06-15 19:44] WardenGnaw commented on #2134
The command you would use is `gcc`. That will compile your c program to an executable binary file.

If you are looking to learn C, you may want to look else where for tutorials on building and running C programs.

[2018-06-16 00:16] nbilling opened #2138 "Debugging fails with error message about gnome-terminal options"
Type: Debugger
Debugging fails with error message about gnome-terminal options. From debug console:
`1: (406) term-stderr:Option "--title" is no longer supported in this version of gnome-terminal.
1: (487) term-stderr:Error constructing proxy for org.gnome.Terminal:/org/gnome/Terminal/Factory0: Unknown or unsupported transport 'disabled' for address 'disabled:'`

(This is caused by an update to gn

[2018-06-16 00:16] nbilling commented on #2138
@WardenGnaw @pieandcakes

[2018-06-16 00:34] hgijeon opened #2139 "Synchronize definitions/include paths between c_cpp_properties.json and compile commands."
Type: LanguageService
**----- Input information below -----**
There is no way to synchronize definitions in c_cpp_properties.json with makefile/ninja.build/compiler commands. For each cmakelists.txt/makefile, it needs too much time to make c_cpp_properties.json

[2018-06-16 00:48] pieandcakes commented on #2138
Workaround would be to roll back a version.

[2018-06-16 04:38] sean-mcmanus commented on #2139
You can setup your cmake to export a compile_commands.json file, and when you build it will regenerate and we'll pick up the new includes/defines. https://stackoverflow.com/questions/20059670/how-to-use-cmake-export-compile-commands . Have you tried that yet?

[2018-06-16 05:36] hgijeon commented on #2139
Oh, I didn't know that... It seems working. Thank you very much for helping!

[2018-06-17 04:22] schwarzichet opened #2140 "Extension does not correctly handle WSL symlinks"
Type: LanguageService

**Describe the bug**
- OS and Version: 1803
- WSL version: Ubuntu 18.04
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.4
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
I want to include LLVM in a project but vscode-cpptools seems to fail to intellisense.

**To Reproduce**
Ste

[2018-06-17 18:22] rapus95 commented on #643
There now is some sort of outline feature implemented in VS Code. Can you extend that? (Since it's some sort of buggy and really not what people expect for highly structured languages like C++)

[2018-06-17 21:32] johmarjac opened #2141 "IntelliSense includePath recursive"
Hi,

I have installed VSCode on my Debian 9 VM, cloned the betaflight/betaflight repository from GitHub opened that repository folder in VSCode and saved a Workspace File in that betaflight directory.

I setup tasks.json to call shell command `make TARGET=OMNIBUS`.
When I run that tasks it builds the whole repository just fine. So that is working fine.
Then I installed vscode-cpptools because I wa

[2018-06-18 06:29] iViscosity opened #2142 "Error formatting with custom .clang-format"
Type: LanguageService
- OS and Version: Windows 10 v. 1803
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.4
- Other extensions you installed (and if the issue persists after disabling them): Code Runner
- A clear and concise description of what the bug is.
The formatter does not work if I use my own custom .clang-format file.

**To Reproduce**
Steps to reproduce the behavior:
*Provide a

[2018-06-18 07:28] plopp commented on #1552
+1

[2018-06-18 11:26] MontyBlenheim commented on #925
Any update on this? I'd also appreciate the feature

[2018-06-18 14:13] ivankravets commented on #690
@neilyoung could you re-test with the latest version of VSCode and PlatformIO extension? It should work now.

[2018-06-18 14:41] neilyoung commented on #690
@ivankravets Noticed it a couple of weeks ago. Did not check it with the latest version yet. Will do

[2018-06-18 15:40] #2139 closed, assigned to nobody

[2018-06-18 15:45] bobbrow commented on #2140
Where does llvm live on your PC?  Do you have a `C:\libraries` folder on your PC, or is that configuration just the value copied from the documentation?  You should add the path to the llvm folder in your configuration `browse.path` and `includePath` if you want it to show up in IntelliSense.

[2018-06-18 15:54] bobbrow commented on #2141
You need to use `"${workspaceFolder}/**"` for your `"includePath"` to turn on the recursive include feature.  It is currently off by default because we are still optimizing it for larger folders.  We do plan to have a release out today or tomorrow with the performance improvements, but if you want to start trying out the feature, we have some of the optimizations (but not all) released already in

[2018-06-18 15:54] #2141 closed, assigned to nobody

[2018-06-18 16:00] schwarzichet commented on #2140
well, I just figured out that "/mnt/c/libraries/lib1/include" means you should replace it with your library path. Now it works with such a configuration
[code]
But I wonder why the soft link fails. I do make the soft link but it fails when I set the c_cpp_properties.json as
[code]
Does it have something to do with
https://github.com/Microsoft/WSL/issues/1475

[2018-06-18 16:16] bobbrow commented on #2142
That's odd.  I set up a folder to look like yours, pasted your .clang-format in, and it works for me.  The error message seems to imply that there are non-ASCII characters at the start of your .clang-format file.  Can you try re-encoding that file as plain text or UTF-8 with no BOM?  There might be byte order marks that clang-format doesn't understand in there.

[2018-06-18 16:24] bobbrow commented on #2140
It could.  But we haven't done any testing of WSL symlinks in the Windows environment (where VS Code runs).  We can use this issue to track that.

[2018-06-18 18:48] pieandcakes commented on #2131
Just so I understand, the issue you are reporting is that the value in the set at index [0] is not being shown?

[2018-06-18 18:52] sean-mcmanus commented on #2140
Oh, this is a bug with #include completion not treating symlinks as directories. We correctly resolve the symlinks in the includePath so the header is found by IntelliSense (no green squiggle), right?

[2018-06-18 20:01] dirkseidel commented on #2131
There are two issues:
- the key of the map, which is the set in the above example, is not shown
- the second map entry with key ("s2") is not visible at all

[2018-06-18 21:14] johmarjac commented on #2141
Hi @bobbrow thanks for the answer 👍

I am currently using 0.17.4, is that feature with /** available there? So basically if I do:

`${workspaceFolder}` will include only headers in same directory
`${workspaceFolder}/**` will include all headers in all sub directories right?

Then next thing will be, how can I exlude directories? Does that work? Because
I have a `target` directory which contains he

[2018-06-18 21:24] bobbrow commented on #2141
Yes, the feature is available in 0.17.4, but it is not well optimized for large folders, and I don't think exclusions support (via VS Code's `files.exclude` setting) was turned on yet either.  Both are addressed in 0.17.5.  If you prefer a particular path over the recursive one, just add it before the recursive path and it will be preferred over any of the other boards:

[code]

In some cases this

[2018-06-18 22:00] sean-mcmanus commented on #2141
I believe 0.17.4 supports files.exclude.

[2018-06-18 23:02] louzhao8712 commented on #286
I am still seeing 100% CPU issue with

[code]

[2018-06-18 23:04] sean-mcmanus commented on #286
@louzhao8712 100% CPU can be caused by different things, some intentional -- it's better if you open a new bug with repro details. What process is using the CPU? Is there a database symbol in the bottom right? Does it repro before you open any C++ file?

[2018-06-18 23:56] sean-mcmanus commented on #2105
Also, there's a bug with "Discovering files: max" getting stuck for too long (while it populates the include completion cache).

[2018-06-19 01:47] kghose opened #2144 "Lightbulb menu missing"
Type: LanguageService

**Describe the bug**
- OS and Version: macOS High Sierra
- VS Code Version: 1.24.1  24f62626b222e9a8313213fb64b10d741a326288
- C/C++ Extension Version: 0.17.4
- Other extensions you installed (and if the issue persists after disabling them): Issue persists after disabling all extensions
- A clear and concise description of what the bug is.

Lightbulb menu missing

**To Repro

[2018-06-19 01:59] sean-mcmanus commented on #2144
This is https://github.com/Microsoft/vscode-cpptools/issues/2109 . We plan to release a fix tomorrow.

[2018-06-19 01:59] #2144 closed, assigned to nobody

[2018-06-19 02:01] gongmeteor commented on #2032
on Ubuntu 16.04，　I downloaded the 0.17.5 VSIX and try to install it from local file, the installation seems endless, where can I check install details, or if something goes wrong?

[2018-06-19 02:10] sean-mcmanus commented on #2032
@gongmeteor 0.17.5 isn't being released until tomorrow. Do you mean 0.17.4 or 0.17.5-insiders? What URL are you using for the .vsix?

[2018-06-19 02:54] gongmeteor commented on #2032
@sean-mcmanus , it's 0.17.5-insiders, I also tried 0.17.4 which is downloaded from URL https://github.com/Microsoft/vscode-cpptools/releases/download/v0.17.4/cpptools-linux.vsix, seems exactly the same, the installation never finished and no warning or error cue found. I do the same experiment on another computer, still the same.

[2018-06-19 02:58] gongmeteor commented on #2032
@sean-mcmanus , I install anaconda3 complete before VSCode, I remember something related to VSCode when I install anaconda3, Anaconda Extension Pack and python extension are founded t be already installed right after VSCode installation.

[2018-06-19 06:21] Mycaster commented on #2123
as you mentioned , it's caused  by another extension ....
I disabled all extensions one by one and found this ..

Dark Pixel
![image](https://user-images.githubusercontent.com/12558913/41579981-b13ae474-73cb-11e8-9f12-e6b78d0d92f9.png)

highlight will work fine after disabled this extension
well, thanks for your advice

[2018-06-19 09:30] ababak commented on #1472
It's still extremely slow on Linux Version 1.24.1 + Python 2018.5.0 (05 Jun 2018)

[2018-06-19 10:14] brianignacio5 commented on #1332
Thanks for your reply @sean-mcmanus !!

Following up on browse.path functionality, would we be able to obtain the compiled .c source files from the compile_commands.json? Having just the list of directories can present conflicts on mutually exclusive sources ( which are selected upon different settings).

[2018-06-19 11:13] simon-p-r opened #2146 "Cannot send ctrl-c or ctrl-break to spawned debug console"
Type: Debugger

- OS and Version:

    **Microsoft Windows [Version 10.0.17134.112]**

- VS Code Version:

     **Version 1.24.1
     Commit 24f62626b222e9a8313213fb64b10d741a326288
     Date 2018-06-13T17:51:32.889Z
     Shell 1.7.12
     Renderer 58.0.3029.110
     Node 7.9.0
     Architecture x64**

- C/C++ Extension Version:

    **Version 0.17.4**

- Other extensions you installed (and if the

[2018-06-19 11:42] abhishekkarigar commented on #1863
worked for me what stwupton had told.
thanks man.

[2018-06-19 12:31] maeln opened #2147 "IntelliSense wrongly mark a header as not found."
Type: LanguageService

I am developping a Vulkan application in C++.
In my project, I have a `external` directory, which contain the Vulkan SDK.
To make it accesible to IntelliSense, I put this line in my `c_cpp_properties.json` :

[code]

Then, in my program, I use the following line to include the Vulkan Header:
[code]

This is detected has "file not found" by intellisense, even though, all the

[2018-06-19 12:32] #2147 closed, assigned to nobody

[2018-06-19 12:46] macmillen commented on #634
+1

[2018-06-19 15:08] ttsshh1990 opened #2148 "Specify the implementation file for different target"
In my CPP project it has multiple build targets (like the linux kernel, different targets for different arch).
There are some APIs that shared within those targets but each has their own implementation. When I click 'go to definition' on some functions or variables, it shows a list of files that contains the implementation of them, this is nice.
But I'd like to go to the one the current target is

[2018-06-19 15:16] Stonepia opened #2149 "Debugging stuck when using WSL"
Type: Debugger
**Input information below**

**Describe the bug**
- OS and Version: Windows 10 Pro 17134
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.4
- Other extensions you installed (and if the issue persists after disabling them): none
- A clear and concise description of what the bug is.

When trying to debug using WSL, it will always get stuck with no output. And when I tried to

[2018-06-19 17:48] bobbrow commented on #2123
Thanks for confirming.

[2018-06-19 17:48] #2123 closed, assigned to nobody

[2018-06-19 17:53] bobbrow commented on #2148
I believe this would be covered by #255.

[2018-06-19 17:53] #2148 closed, assigned to nobody

[2018-06-19 18:30] sean-mcmanus commented on #1332
@brianignacio5 Yeah, I think we should be able to parse only the source files listed in the compile_commands.json. The 2nd issue should be fixed in our next release.

[2018-06-19 20:27] sean-mcmanus commented on #1472
@ababak Can you provide more repro info in a new bug? Go to Symbol in File should be really fast unless it's blocked by another operation (e.g. testing with Chromium on Linux). Is there a red flame in the bottom right? Did you do a Go to Symbol in Workspace?

[2018-06-19 20:45] pieandcakes commented on #2149
@Stonepia Can you confirm it is Windows 10 Pro version 1803? Also confirm that if you comment out the build task, if it debugs?

[2018-06-19 20:47] pieandcakes commented on #2146
What did you try?

Can you please post your `launch.json` and which type of application you are debugging?

If you want to send `Ctrl+c` you probably need to use the terminal that appears and not the debuggerTerminal in VS Code since we aren't hooked up to that yet.

[2018-06-19 23:05] aisnote commented on #16
I need the Call hierarchy too!

[2018-06-19 23:28] sean-mcmanus opened #2155 "Changing databaseFilename doesn't copy the existing database"
Change the browse.databaseFilename, instead of copying the existing database to the new location, it tries to regenerate the database from scratch. I don't think many users have complained about this though.

[2018-06-19 23:31] sean-mcmanus commented on #2077
This isn't fixed -- I just hit this with 0.17.5 (maybe another repro was fixed?). Looks like changing c_cpp_properties.json can randomly cause it.

[2018-06-19 23:39] sean-mcmanus opened #2156 "Starting with 0.17.5, source files in system directories are parsed when they shouldn't be"
We don't expect the additional parsing to be too big of an issue, but we should have a fix in our next Insiders.

UPDATE: This bug wasn't fixed for "/Library/frameworks" on Mac for 0.17.6 (maybe we'll fix that for 0.17.7).

[2018-06-19 23:47] bobbrow commented on #2077
The case I saw was when a source file was closed while sqiuggles were being updated

[2018-06-20 00:41] Stonepia commented on #2149
@pieandcakes  Yes I'm in 1803, and the WSL version is Ubuntu 18.04. I tried to comment out the build tasks , it still doesn't work.

[2018-06-20 00:52] pieandcakes commented on #2149
@Stonepia I assume you updated to 1803. Have you opened a WSL terminal window since the update? Mine did a one time upgrade (wondering if that is what it is hanging on).

This was an issue that the WSL team said they fixed in 1803 so I'm surprised you are still running into it.

[2018-06-20 01:28] Stonepia commented on #2149
Yes I do in 1803, and the OS build is 17134.112 . I even reinstall the WSL . I was wondering what's going on, even the intelliSense works fine. But the debugging is stuck.  The interesting thing is, I install the system in VMware and do these operations, it works fine.  So is there any way to get the log file to locate what's happening?

This is the result about my OS build :

[code]

[code]

[2018-06-20 01:38] gongmeteor commented on #2032
I solved the problem following steps:
1, start up VS Code with command: sudo code --user-data-dir /home/XXX/VSCode
2, install cpptools and other extensions needed, then close VS Code
3, restart normally with command: code
thanks!

[2018-06-20 03:51] Stonepia commented on #2149
OK I figured this out. It falls to the  Region Settings. I have click on the option of **Beta: Use Unicode UTF-8 for worldwide language support** in `Clock and Region -> Change date, time, or number formats -> Administrative -> Change system locale`.

[2018-06-20 04:49] dust2015 opened #2158 "The language server crashed 5 times in the last 3 minutes. It will not be restarted."
System Environment：
      Processor：Intel(R)Core(TM) i5-7500 @ 3.40GHz 3.41 GHz
      Installed memory(RAM): 8.00GB(7.89 usable)
      System type 64-bit operating system, x64-base processor
      Edition   Windows 10 Pro
      Version 1709
      OS Build 16299.492
software info:
      C/C++ IntelliSense 0.17.4

Problem recurrence steps：
       1. install the  C/C++ IntelliSense 0.17.4
       2. r

[2018-06-20 04:55] dust2015 commented on #2158
@sean-mcmanus

[2018-06-20 06:38] chrmarti opened #2159 "Outline can't recognize function with (char *interface) paramater."
_From @BSCCO on June 20, 2018 3:7_

- VSCode Version: 1.24.1
- OS Version: Linux Mint 18.3 Cinnamon 64-bit, kernel 4.13.0-43-generic

Steps to Reproduce:

1.Define a function with  (char *interface) paramater, and the outline can't recognize it correctly.
![2018-06-20 10-56-43](https://user-images.githubusercontent.com/11715329/41635179-eb7a2a42-7479-11e8-88b9-7d5c80eabc8a.png)
2.If I change the v

[2018-06-20 07:44] fr43nk commented on #1796
Are there any news about this request?
Would be nice to have this working. Right now there are a lot "include not found" error messages although the file exists

[2018-06-20 09:25] creikey commented on #172
@noobling Yes, I am having trouble printing pointer to pointers as well

[2018-06-20 12:30] simon-p-r commented on #2146
I am using libuv to trap signals, the debugger spawns a separate console but it is not trapping the key signals.  I expect it to handle ctrl-c and ctrl-break signals when pressed.  I have created a repo with a demo of bug.

[2018-06-20 13:24] mpups commented on #977
Seems to still be a problem (at least in 8.1-0ubuntu3). I tried to get round this by setting the full path name of the file but GDB doesn't like this either. I guess it is not using realpath internally to disambiguate files.

[2018-06-20 15:16] bobbrow commented on #1796
@fr43nk, would `"${workspaceFolder}/**"` work for you?  This adds everything under `${workspaceFolder}` to the potential include path.  The original issue is resolved with recursive includes, but we can move your request to another issue if you think that recursive includes won't address it.

[2018-06-20 15:19] bobbrow commented on #2159
Our extension doesn't provide any information for the outline currently.  What other extensions do you have installed that might be providing this information?

[2018-06-20 16:57] pintovillamar opened #2160 "Unable to start the C/C++ language server."
Type: LanguageService

**Describe the bug**
- OS and Version: Microsoft Windows 10 Home
- VS Code Version: 10.0.17134 Build 17134
- C/C++ Extension Version: C/C++, 0.17.4
- Other extensions you installed (and if the issue persists after disabling them): C/C++ Clang Command Adapter and C++ Intellisense, but none of those worked installing and uninstalling them.

-The problem is basically that when

[2018-06-20 17:01] bobbrow commented on #2160
Did you check to see if Microsoft.VSCode.CPP.Extension.exe exists at the path specified in the error and that you can run it by double clicking on it?  (it won't do anything when you run it outside of VS Code, I'm basically just asking you to check permissions on the exe)

[2018-06-20 18:42] sean-mcmanus commented on #2158
That info is not helpful -- we need a call stack of the crashing process, Microsoft.VSCode.CPP.Extension.exe . Can you attach to the process with a debugger before the crash occurs.

We should be releasing 0.17.5 today, which may have a fix.

[2018-06-20 19:20] pintovillamar commented on #2160
I have already fix it.

The solution was to deleting the hole folder of the extension (with VS Code closed) **ms-vscode.cpptools-0.17.4** and re-installing from VS Code.

Thanks @bobbrow anyways.

[2018-06-20 19:20] #2160 closed, assigned to nobody

[2018-06-20 23:57] nbilling commented on #2138
Note: I was wrong about the cause of this. It's actually related to a (possibly the current) version of code insiders.

[2018-06-21 05:50] fr43nk commented on #1796
@bobbrow I'm not quite sure if this is the right solution for me. What I want (maybe that's not possible either): While editing a file, the intellisense should only show the files that are available from that file.

Let me explain what my folder structure looks like:
[code]

So if I'm in ```/Project/module2/src/file.cpp``` Intellisense should only show things that are located in
[code]

That's why

[2018-06-21 07:18] azydevelopment commented on #2107
How do I set the loggingLevel?

[2018-06-21 08:15] Chemik commented on #35
Please **don't ignore** option "externalConsole": false

[2018-06-21 12:38] jelly1130 commented on #694
Also getting the same error:

Downloading package 'C/C++ language components (Windows)'  Failed. Retrying... Failed. Retrying... Failed. Retrying...Waiting 8 seconds... Failed. Retrying...Waiting 16 seconds... Failed to download https://go.microsoft.com/fwlink/?linkid=874916
Failed at stage: downloadPackages
Error: connect ETIMEDOUT 104.120.196.15:443
	at Object.exports._errnoException (util.js:10

[2018-06-21 14:49] chrmarti opened #2162 "Characters missing automatically while writing C++ code"
_From @RMyang on June 21, 2018 13:38_

VS Code Version: 1.24.1
OS Version: Windows 10

I was confused when I tried to write C++ codes using VS Code. For example, after I wrote “int a=6;”, some characters missed automatically like below:
![1](https://user-images.githubusercontent.com/17923170/41719199-ec85277a-7591-11e8-8707-2bba525022a2.png)
Sometimes, the code line turned to "int = 6;", and somet

[2018-06-21 17:33] pieandcakes commented on #2138
@nbilling I updated title.

Terminal:/org/gnome/Terminal/Factory0: Unknown or unsupported transport 'disabled' for address 'disabled:' is the error now.

[2018-06-21 19:04] jaynadeau commented on #1522
I use this feature in Eclipse CDT as well. It would be a nice to have.

[2018-06-21 19:14] jaynadeau opened #2163 "No lightbulb when clicking on green squiggly for include"
Type: LanguageService

- OS and Version:
Windows 10
- VS Code Version:
1.24.1
- C/C++ Extension Version:
0.17.4
- Other extensions you installed (and if the issue persists after disabling them):
Atom One Dark Theme
Partial Diff
SVN
still persists after disabling them
- A clear and concise description of what the bug is.
I am trying to add an include path to fix the green squiggly line under my inc

[2018-06-21 19:40] rickstaa opened #2164 "C++ Syntax error checking not working"
Type: LanguageService

Dear Developers, I just switched from sublime text to visual studio code and I really love the program. I, however, have one thing I miss in the program namely c++ code linting. I looked on the issues forum but I can however not find a way to enable this. My question is, therefore, does visual studio code support c++ code linting to warn me on potential syntax errors before

[2018-06-21 19:43] sean-mcmanus commented on #1796
@fr43nk What do you mean by "intellisense should only show the files that available"? IntelliSense should already only show stuff that is accessible from the current translation unit, taking the include paths into account. Recursive includes relies on the "path" in #include "path" to be unique, otherwise it could choose the wrong file, but it will look relative to the current directory first.

[2018-06-21 19:44] sean-mcmanus commented on #2107
@azydevelopment It's in settings.json, C_Cpp.loggingLevel.

[2018-06-21 19:45] wpaul-magicleap opened #2165 "Fails to resolve config variables containing colons"
Type: LanguageService

- OS and Version:  Mac OS X 10.11.6
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.4

I have some configuration variables that share the same prefix and use '.' as a delimiter.  This looks to be standard practice for vscode settings.  e.g.
ml.sdk
ml.username
ml.foobar

I'm trying to include some sdk-relative include paths for IntelliSense like this in the workspac

[2018-06-21 19:46] sean-mcmanus commented on #694
@jellydengjiali We have an offline vsix available for download for those cases: https://github.com/Microsoft/vscode-cpptools/releases .

[2018-06-21 19:49] sean-mcmanus commented on #2162
@RMyang Does the bug repro without the C/C++ extension installed? You may also want to try setting "formatOnType" to false.

@chrmarti -- I don't think we control text editing directly, so I'm not sure how we could be causing this.

[2018-06-21 19:52] sean-mcmanus commented on #2163
Our next release has this fixed. It's https://github.com/Microsoft/vscode-cpptools/issues/2109 . We might release today or Monday.

[2018-06-21 19:52] #2163 closed, assigned to nobody

[2018-06-21 19:55] sean-mcmanus commented on #2164
Our extensions supports error squiggles -- I believe the other C++ extensions you have installed are causing a conflict. You should try disabling them.

[2018-06-21 19:56] jaynadeau commented on #2163
Great, thank you.

[2018-06-21 20:01] rickstaa commented on #2164
Dear Sean,

Thanks a lot for you very fast reply. I removed all the other extensions and restarted visual studio code. If I understand you correctly this should give a lot of syntax errors right?

![image](https://user-images.githubusercontent.com/17570430/41742546-a4f843a8-759e-11e8-9b21-a40ab5cf75ec.png)

Thanks a lot in advance,

[2018-06-21 20:15] sean-mcmanus commented on #2164
Yeah, something strange is going on. What does it show in the Output window, C/C++ panel? You may need to set the C_Cpp.loggingLevel to "Debug". Do other features like Go to Definition or Format Document work? Is the file encoding UTF-8?

[2018-06-21 20:15] cksmith commented on #2056
I believe I installed the updated extension properly but I seem to still be having the same problem as the others. I uninstalled, reloaded, then installed the via the .vsix file. Can you please take a look at the log and see if the problem is the same?
[log-06-21-2018.txt](https://github.com/Microsoft/vscode-cpptools/files/2125197/log-06-21-2018.txt)

[2018-06-21 20:17] pieandcakes commented on #2056
@cksmith yes, you have the same issue. Please uninstall the extension, close VS Code, go to your ~/.vscode/extensions folder and delete the cpptools folder and then install the fixed vsix through the `...` option under Extensions in VS Code.