[2017-08-08 16:25] ghost opened #961 "Debug adapter process has terminated unexpectedly"
Hello,

So when I try to debug, this message "Debug adapter process has terminated unexpectedly" pops up twice. I am using the portable install of Visual Studio Code, so that might be having an impact, but I just can't debug. I'm not sure what info people need, but this is my launch.json:
[code]

[2017-08-08 21:42] clankill3r commented on #102
I haven't try this and it it probably a horrible idea but maybe you can rename `iTerm.app` to `Terminal.app` 😃

[2017-08-08 21:45] sean-mcmanus commented on #928
Thanks a lot for the repro. It appears to get gradually slower every time it reparses e.g. 5 sec, 10 sec, ... 45 sec...I didn't get an indefinite wait though.

[2017-08-08 22:04] sean-mcmanus commented on #957
Yes, we support environment variables like ${myEnvVar} for includePath and browse.path. Does that work for you? We eventually want to change this to ${env.Var} to match the syntax used by launch.json.

[2017-08-08 22:12] sean-mcmanus commented on #325
@bluebruce We rebuilt our binary and updated the fwlink to point to the new one, so you can get this fix via one of the following methods:
1. Uninstall/install the C/C++ extension (which is the same as an update).
2. Deleting the extension install.lock file and the bin folder and opening a C++ project to download the new binaries.
3. Manually downloading/replacing the bin files from https://downlo

[2017-08-08 22:12] #325 closed, assigned to nobody

[2017-08-08 22:17] sean-mcmanus commented on #958
Go to Symbols should work in general on all VS Code versions, so we need help finding a repro. What sort of failure do you see? Are there just no results? What other features don't work? Does this repro for a simple workspace with a single C/C++ file? What is the Microsoft.VSCode.CPP.Extension.exe process doing?

[2017-08-08 22:21] sean-mcmanus commented on #960
@Kurt-Shiwz Also, the "Tag Parser" (fuzzy) autocomplete is expected to give too many results, although the t should be found after typing t.

[2017-08-09 01:36] xueyunquan commented on #957
@sean-mcmanus : Thank you for your reply. But I don't know how to do it. Do I define variables in the config file (and what is the schema/syntax to do that?), or should I define&export env variables in Linux?
Could you please elaborate?

[2017-08-09 01:40] sean-mcmanus commented on #957
Yeah, you define a Linux environment variable.

[2017-08-09 01:43] xueyunquan commented on #957
@sean-mcmanus : Understood. Thank you.

[2017-08-09 02:57] sigmarising commented on #949
Ops!

Today I open my Visual Studio Code Setting, I suddenly find a new line `"C_Cpp.intelliSenseEngineFallback": "Disabled",` add to my user's setting. I am sure that I didn't add this setting by myself, it seems that this setting was added automatically.

Then I delete this setting from user's setting and add the include file in `c_cpp_properties.json`(both `includePath` and `browse.path`). With

[2017-08-09 03:30] anhkgg commented on #958
1. symbols work right for js/rust in the same environment.
2. it cant list the symbols in all the c/c++ file of the project
3. Microsoft.VSCode.CPP.Extension.exe process is working.
4. i cant see any failture information, just see "cant find symbols"
5. i install the latest vscode in ubuntu16.04, the symbols work right for c/c++

[2017-08-09 06:30] hensz commented on #916
Hi!
This is my current includePath:

[code]

Is there any way to get some diagnose information about how the extension tries to resolve the type? Perhaps I have some potentially "matching" includes that contain strange preprocessor stuff which causes the extension to fail.

[2017-08-09 06:32] FMLS commented on #910
@sov1178 @sean-mcmanus
the same problem as sov1178, when i type -> or .  that list a large list that content is not what I expect!

[2017-08-09 06:36] FMLS commented on #960
I have been set "intelliSenseEngine": "Default", but it appears the same error, show me a large list that content isn't what I expect, I set "C_Cpp.autocomplete": "Default" too

[2017-08-09 12:42] sean-mcmanus commented on #949
Our code never changes the intelliSenseEngineFallback setting to "Disabled" automatically. Maybe another extension you have installed changed the setting? There is also a Code Action (lightbulb) and a "Toggle IntelliSense Engine Fallback on Include Errors" command that will change the setting. Yesterday, we did change the default intelliSenseEngine setting to "Default" for some people. The green s

[2017-08-09 12:47] sean-mcmanus commented on #958
Our extension never shows the text "cant find symbols". Maybe another extension is causing this? By the "the symbols work right for c/c++" do you mean the feature is working now?

[2017-08-09 13:08] horvay commented on #928
I may have done something bad with the process in the task manager to cause the indefinite case. Thanks for looking into it!

[2017-08-09 13:20] sean-mcmanus commented on #910
@FMLS The behavior you describe is from the "Tag Parser" engine. Is your intelliSenseEngine setting "Default" with no message in the Problems window?

[2017-08-09 14:19] anhkgg commented on #958
"cant find symbols" is my  wording.

The problem i  met is that, the same c/c++ project, just right in ubuntu and wrong in windows.
You can test the project , the site is: [https://github.com/01org/linux-sgx-driver](https://github.com/01org/linux-sgx-driver)

today, i test some other c/c++ project again,  vscode can get symbols in some files。

[2017-08-09 15:18] weinand opened #962 "C/C++ Go to/Peek definition not working and parsing is stuck"
_From @hagaishapira on August 9, 2017 14:36_

- VSCode Version: Code 1.14.2 (cb82febafda0c8c199b9201ad274e25d9a76874e, 2017-07-19T23:26:08.116Z)
- OS Version: Linux x64 4.8.0-53-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
meson|asa|1.0.0
python|don|0.7.0
cpptools|ms-|0.12.2
vim|vsc|0.9.0

(1 theme extensions excluded)

Opening my project on a new instance of code non of

[2017-08-09 15:18] weinand commented on #962
_From @hagaishapira on August 9, 2017 14:50_

however, definition does show upon hovering.

[2017-08-09 15:56] sean-mcmanus commented on #962
@hagaishapira Can you do a "C/Cpp: Edit Configuration" command and make sure your browse.path setting is correct? What is the Microsoft.VSCode.CPP.Extension.linux process doing? That process needs to locate and parse the files for the symbols to be found. If you manually open the file with the definition does Go to Definition start working? Does Go to Definition work with a simpler workspace? Does

[2017-08-09 15:59] sean-mcmanus commented on #958
I can get symbols on Windows. Can you provide a specific symbol that can't be found?

[2017-08-09 16:13] horvay commented on #962
I wonder if this is also related to #928

[2017-08-09 16:17] sean-mcmanus commented on #962
@horvay I think https://github.com/Microsoft/vscode-cpptools/issues/928 is different -- it's a perf issue with the Microsoft.VSCode.CPP.IntelliSense.Msvc process, but Go to Definition is not implemented by that process (it's implemented by the Tag Parser engine still).

[2017-08-09 16:17] hagaishapira commented on #962
My browse.path is correct, but if my browse.databaseFilename is an empty string do you have a default path?
Opening a file manually doesn't seem to make it work.
I see I have multiple Microsoft.VSCode.CPP.Extension.linux processes running, some from a few days ago and they don't terminate upon vscode exit.

[2017-08-09 16:21] sean-mcmanus commented on #962
@hagaishapira You should kill the other extension processes -- the symbol database won't function correctly if multiple processes are trying to access it (i.e. Go to Def would fail). Also, you can try adding a new databaseFilename, such as "${workspaceRoot}/.vscode/vc.db" to have the symbol engine regenerate. Then you can easily see how the size increases.

[2017-08-09 16:26] hagaishapira commented on #962
@sean-mcmanus Great! that fixed it. Size of the db is stable and features available again. The Microsoft.VSCode.CPP.Extension.linux also terminates correctly. Any idea why the zombies happened in the first place?

[2017-08-09 16:27] hagaishapira commented on #962
They all seemed to be waiting on a futex() call.

[2017-08-09 17:04] sean-mcmanus commented on #962
@hagaishapira Unfortunately, we don't know why the processes doesn't exit sometimes. We're not able to repro the problem. However, we should add better error handling and telemetry for when the database can't be opened due to another processing using it.

[2017-08-09 17:55] bobbrow commented on #916
Unfortunately, there is no diagnostic information about this.  Includes are simply resolved from top to bottom, so order matters.  `/usr/include` should most likely not be at the top of the list.  Did you try copying the includePath that I shared?  If mine doesn't work for you, you should copy whatever `gcc-6 -v -E -x c++ - < /dev/null` prints out.

[2017-08-09 17:58] bobbrow commented on #960
@FMLS, it is still expected to get a large list if you are typing variable/class names.  The Default intelliSenseEngine provides suggestions for class/struct/namespace members (e.g. after you type `.`, `->`, `::`) everything else is still using the Tag Parser.

[2017-08-09 18:07] bobbrow commented on #958
@anhkgg, please share the contents of your c_cpp_properties.json file so we can see where the extension is trying to pull symbols from.  Are you using a gcc toolchain on Windows?  If so, please set `"intelliSenseMode"` to `"clang-x64"` in the c_cpp_properties.json file.

[2017-08-09 18:35] sean-mcmanus commented on #958
@bobbrow Symbol searching is from the Tag Parser so I don't think the intelliSenseMode matters.

[2017-08-09 20:31] ssmartin commented on #273
+1 on this issue.
We are a team of 8 developers working with on Angular project and after the project grew the Go to definition has become really really slow sometime. I have an i7 quad core with SSD and 16GB of RAM laptop which is really fast in general...very annoying issue. If this won't be fixed soon we will probably stop using Visual Studio Code - we just lose to much time for this kind of si

[2017-08-09 22:26] sean-mcmanus commented on #273
@ssmartin I am not able to repro the original bug with Unreal Engine 4 when using the intelliSenseEngine "Tag Parser", but I'm seeing perf issues with the "Default" intelliSenseEngine. What setting are you using? The problem with Default engine is that the intelliSense processing is single threaded so hover ends up blocking the "Tag Parser" functionality because it runs on the main thread. We shou

[2017-08-09 22:41] anhkgg commented on #958
@bobbrow There is no any *.json，so i don't known what to share.
I 'm not using a gcc toolchain .

[2017-08-09 22:43] anhkgg commented on #958
@sean-mcmanus
i'm almost crazy. i can't get the symbols. Could you share your extension list.

[2017-08-10 01:45] xueyunquan commented on #962
@sean-mcmanus : I personally recommend and suggest you guys try working on linux kernel with VS Code+cpptools. With such a large, complex project, the vscode is highly stressed and could potentially produce/reproduce more issues. Alternatively you may try gcc, llvm or ROCm. You may also find more ways to improve vscode.

[2017-08-10 03:19] yyl123hf commented on #962
If the project folder contains the pathname of the Chinese character, then the go to define prompt can not find the definition.

[2017-08-10 06:52] vscpp commented on #960
Same error happened on my computer. IntelliSense Engine can't identify the structure member, always show a large list.
I have set ""C_Cpp.intelliSenseEngine": "Default",". I deleted the symbols folder in C:\Users\XXX\AppData\Roaming\Code\User\workspaceStorage, and re-parse the code by C/C++ extension tool, but have no effect.
(Windows Server 2012 R2, VS code 1.14.2, C/C++ extension 0.12.2)

[2017-08-10 07:05] vscpp opened #963 ""C_Cpp.errorSquiggles" option doesn't work"
I set C_Cpp.intelliSenseEngine to default, and set C_Cpp.errorSquiggles to Disabled.
But error squiggles still display in my code. seems C_Cpp.errorSquiggles doesn't work.

Because my project include 3 git repo, usually, I only open one folder (repo), so it's expected that intellisense engine can't locate .h head file. I think the C_Cpp.errorSquiggles can control error squiggles, but it's not.

![

[2017-08-10 07:34] hagaishapira commented on #962
@sean-mcmanus Just an update, the problem keeps reoccurring. After some time the red parsing flame remains frozen. Microsoft.VSCode.CPP.Extension.linux remains running after vscode exits. Any way for me to provide you more info the next time this happens? Would attaching a debugger to Microsoft.VSCode.CPP.Extension.linux and dumping a stack trace help you?

[2017-08-10 09:45] basiljoseph opened #964 "problemMatcher in vscode-cpptools fails to open warnings in files while using nested makefiles and gcc"
- Visual Studio Code 1.14.2
- Extensions:  cpptools
- OS: Windows 10 1607(14393.1358) x64

I have asked this question earlier on stackoverflow.
https://stackoverflow.com/questions/45594118/file-not-found-error-on-visual-studio-code-when-clicking-on-problems-window-usi

When using nested makefiles to compile a binary using gcc, the warnings produced by the makefiles in sub directories are captured

[2017-08-10 15:26] bobbrow commented on #963
This is expected.  We have no other way to tell you that the IntelliSense engine is working with partial information.  If you update your includePath to point to the folder that contains `Library`, then the squiggles will go away, and you will be able to get IntelliSense information about the symbols defined in those includes.

![squiggles](https://user-images.githubusercontent.com/12818240/291780

[2017-08-10 15:26] #963 closed, assigned to nobody

[2017-08-10 15:55] sean-mcmanus commented on #958
@anhkgg Use "C/C++: Edit Configuration" to generate the default c_cpp_properties.json. You should kill any dangling Microsoft.VSCode.CPP.* processes -- symbol searching would fail if another process is trying to access the same database. After restarting VS Code you may want to wait till that process is done running (no more red flame) so that you can be sure all the symbols have been parsed. Also

[2017-08-10 16:16] sean-mcmanus commented on #962
@xueyunquan Which Linux kernel are you using? We've tested with LLVM. I'll check the Chinese pathname later today -- we've definitely tested and fixed bugs in that scenario, but maybe we missed something (https://github.com/Microsoft/vscode-cpptools/issues/870 ).

@hagaishapira Can you provide a stack trace? You can send it to c_cpp_support@microsoft.com if you want. We definitely had users compla

[2017-08-10 16:18] sean-mcmanus commented on #960
@vscpp It sounds like you are falling back to the "Tag Parser" due to missing includePath paths that can't be found. What does it show in your Problems window?

[2017-08-10 16:44] #886 closed, assigned to nobody

[2017-08-10 16:44] #459 closed, assigned to nobody

[2017-08-10 23:30] sean-mcmanus commented on #958
@anhkgg Do you have non-ASCII characters in your file paths? Our stat implementation was changed on Windows for 0.12.2, causing the regression. We should have a fix next week.

[2017-08-10 23:32] sean-mcmanus commented on #962
@yyl123hf I'm able to repro the bug with Chinese characters in the path. There was regression in 0.12.2 due to a changed to our implementation of stat on Windows, which caused all the files with non-ASCII characters to be skipped. Thanks a lot for bringing this to our attention. We might track this regression with https://github.com/Microsoft/vscode-cpptools/issues/958, because this bug might have

[2017-08-11 00:36] elxxnpn opened #965 "Cann't find rename symbol menu item, F2 is not working"
When I write C++ code, I select the functions that need to be renamed, press F2, do not pop up the renamed small form, right-click menu, nor rename the options. But when I write Python code, select the need to rename the function name, press F2, small form will pop up rename, right-click menu can see rename symbols after the rename option, press Enter all refer to this function file will be update

[2017-08-11 00:39] sean-mcmanus commented on #965
We haven't implemented rename yet. See https://github.com/Microsoft/vscode-cpptools/issues/296 .

[2017-08-11 00:39] #965 closed, assigned to nobody

[2017-08-11 00:52] elxxnpn commented on #965
I got it, Thank you very much! Hope to provide this function as soon as possible.

[2017-08-11 01:22] anhkgg commented on #958
@sean-mcmanus yeah，yeah，good！it's work!

Thank you so much！

Good job for your patience!

Expect next version.

[2017-08-11 01:24] anhkgg commented on #962
@sean-mcmanus Good job!

[2017-08-11 02:03] xueyunquan commented on #962
@sean-mcmanus : This one will do: https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver/releases/tag/roc-1.6.1

[2017-08-11 06:22] vscpp commented on #960
@sean-mcmanus I checked the error message, seems Intellisense force to switch to "Tag Parser".
I am a UEFI BIOS developer, the UEFI has its own rules of grammar. UEFI define .dec file which include the include path, UEFI build tool will parse all header file by its rule.
So seems it's difficult for VS code.

But Source Insight works, I believe VS code C++ extension will be more better than SI. :)

[2017-08-11 06:34] r4nt commented on #459
Any reason for the wontfix?

[2017-08-11 10:36] hensz commented on #916
Hi!
I tried the includePath settings you shared, and with these (and some more defines) it seems to work now.
Thanks a lot!

[2017-08-11 10:36] #916 closed, assigned to nobody

[2017-08-11 11:08] dirondin opened #966 "Anonymous unions and structs don't display while debugging [MacOS - LLDB]"
Example of struct:
[code]
Reproduce steps:
1. Build code with example struct under MacOS (Xcode).
2. Debug it by LLDB.
3. Watch `au` variable while debugging and try to display it's content in Variable/Watch/Debug console windows.

Expected result:
Display fields in anonymous union/struct as fields of parent struct or display they as child node with name '<anonymous union/struct>'.

Example of cod

[2017-08-11 15:36] bobbrow commented on #459
We don't think we'll get to this any time soon given the number of higher priority backlog items and issues we have open and the small size of our team.  This feature request didn't have any +1's so we're just trying to be realistic and transparent with you that there is a very good chance we'll never get to it.

[2017-08-11 18:27] sean-mcmanus commented on #960
@vscpp I don't really understand. Are your header files actual files with a path you can add to the c_cpp_properties.json includePath setting? If not, you can turn the intelliSenseEngineFallback setting to "Disabled", although you might get error squiggles about unknown identifiers.

[2017-08-11 18:31] sean-mcmanus commented on #459
I'm not 100% sure what exactly the feature request is. You can try asking vscode to implement it.

[2017-08-11 20:47] greylight61 opened #967 "lldb debugger crashes on MacOS when hover over member variable in C++ code"
MacOS Sierra 10.12.6,  VS Code v1.15.0,  C/C++ Extension v 0.12.2

For a particular class in my app, the debugger will crash when I attempt to hover over a variable to see its value. Examining variables in other classes appears to work fine.

Steps to reproduce:
- Place a breakpoint in a C++ instance function for a particular class (MyWindow).
- Launch the debugger from VS Code (F5).
- When the br

[2017-08-12 07:05] agauniyal opened #968 "Linter support for CppCoreGuidelines"
New VS version (not code) has some support for these [guidelines](https://github.com/isocpp/CppCoreGuidelines) and clang-tidy does have them too. So it would be great to see a linter based on cpp core guidelines that'll mark/report relevant warnings/errors inside code. I'll be fine with something that runs explicitly, rather than on typing (to reduce the workload on plugin).

Thanks 😸

[2017-08-12 07:29] Kurt-Shiwz commented on #960
@sean-mcmanus why can't just prompt t?
![2017-08-12 15 28 10](https://user-images.githubusercontent.com/7554917/29238937-f9a8cc06-7f72-11e7-81f5-e2eaf04055d9.jpg)
![2017-08-12 15 29 34](https://user-images.githubusercontent.com/7554917/29238938-f9ab1bb4-7f72-11e7-8e87-c5551caf72ce.jpg)

[2017-08-12 07:29] #960 closed, assigned to nobody

[2017-08-12 08:15] sigmarising commented on #949
Maybe the Code Action change the setting(I did use this before).

And thanks a lot for @sean-mcmanus to answer my question. 😄

[2017-08-12 08:15] #949 closed, assigned to nobody

[2017-08-12 08:44] weinand opened #969 "#include file not found in browse path"
_From @sophoc8 on August 12, 2017 0:45_

- VSCode Version: Code 1.15.0 (8b95971d8cccd3afd86b35d4a0e098c189294ff2, 2017-08-09T20:09:15.006Z)
- OS Version: Linux x64 4.11.11-300.fc26.x86_64
- Extensions:
INCLUDE FILE NOT FOUND IN BROWSE PATH, library is in usr/include/

Extension|Author (truncated)|Version
---|---|---
vscode-docker|Pet|0.0.16
python|don|0.7.0
code-runner|for|0.6.33
vscode-clang|mit|

[2017-08-12 11:33] CTimmerman commented on #811
I'd put those annoying interface-hiding messages [in their own tab](https://github.com/Microsoft/vscode/issues/32136).

[2017-08-12 12:30] csholmq commented on #464
It appears that modifying or deleting the `c_cpp_properties.json` triggers a rebuild. At least for me. Is this by design?

[2017-08-12 12:37] csholmq commented on #13
I *think* this is working now. Using version 0.12.2.

![auto_complete](https://user-images.githubusercontent.com/1297882/29240752-a2f63da0-7f6b-11e7-9208-c5fb4e0b20cf.gif)

[2017-08-12 12:42] csholmq commented on #661
Hey, with 0.12.2 this just started working! Actually, there were three things that needed config, so I'm not sure if this would have worked in earlier versions. Where can I find old releases?

1. Specify build folder with all my .h files (already did)
2. Specify clang-x64 (already did)
3. Specify GCC version

[code]

[2017-08-12 14:54] trtd opened #970 "macOS framework support for IntelliSense"
# Feature Request for macOS

Please consider supporting the finding of include files in macOS frameworks, where the include files are located together with libraries inside framework bundles.
Compilers on macOS have built-in support for frameworks.

An example based on the Qt Core framework:

    QtCore.framework/
      |── Headers -> Versions/Current/Headers
      |── Resources -> Versions/Curren

[2017-08-12 18:31] sean-mcmanus commented on #464
It just re-does what it usually does when the workspace is first opened (searches for new files to add to the database, potentially parsing them), but it doesn't remove stuff from the database yet. Also, ideally it would only trigger a rebuild when a setting that requires a rebuild changes, i.e. changing the intelliSenseMode shouldn't trigger a rebuild. Was there a reason you did not want a "rebui

[2017-08-12 18:34] sean-mcmanus commented on #661
I don't think we did anything that would have fixed this in the previous release, so the __GNUC__=5 probably fixed it. Older versions aren't available -- there isn't any mechanism for making older versions via the VS Code extension marketplace.

[2017-08-12 20:50] csholmq commented on #464
Oh, I see. Because removing an include path did break stuff.

[2017-08-12 20:51] csholmq commented on #661
I see. But then I consider this issue solved. Yay!

[2017-08-12 20:51] #661 closed, assigned to nobody

[2017-08-12 21:32] tcwalther commented on #850
I have the same issue. It seems to me that VSCode reads the wrong `string` file. Instead of one of the files from my `includePath` (`/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1/string`), it seems to read `/usr/include/c++/4.2.1/string`, which is not defined in my `includePath`.

@bobbrow would it be possible to re-open this issue?

[2017-08-13 07:38] nick-korsakov commented on #969
The same issue for <stdio.h> or any standard header files. VSCode 1.15.0. OS: Linux 4.4.0-91. Extensions: "ms-vscode.cpptools", "twxs.cmake", "vector-of-bool.cmake-tools", "maddouri.cmake-tools-helper".

c_cpp_properties.json:
[code]

P.S.: Project compiles and runs well.

[2017-08-13 09:34] themightyoarfish commented on #575
Setting this property does not cause VSCode to notice any syntax errors. What else could the problem be?

[2017-08-13 13:10] Pagghiu commented on #970
I am experiencing the same exact problem with IOKit and other macOS frameworks, it would be very nice to support intellisense.

[2017-08-13 16:20] weinand opened #971 "vs Code is not working because of unknown error [0x800700c1]"
_From @Nikhil1R on August 13, 2017 7:14_

- VSCode Version:1.14.2
- OS Version:Windows 10 pro

Steps to Reproduce:

1.im using extension for c and c++ and also for python and c# but its is showing error 0x800700c1 unknown error
2.it is showing also showing [clang] error clang executable.
please fix this unknown error issue as soon as possible
suggest me a idea to run my first hello world program i

[2017-08-13 16:20] weinand commented on #971
This looks like a problem with the C/C++ extension. Please try to open the JSON file that appears in the error message and either fix it, or post it here so that I can look into it.

[2017-08-13 16:20] weinand commented on #971
I will move the issue to the C/C++ extension.

[2017-08-13 16:23] weinand opened #972 "The downloading progress of C# dependencies stucked in China"
_From @IcyPoint on August 13, 2017 2:8_

- VSCode Version: 1.15.0
- OS Version: win7 sp1

Steps to Reproduce:

1.Update to 1.15.0
2.Restart VS Code and check output window

Reproduces without extensions: No

_Copied from original issue: Microsoft/vscode#32399_

[2017-08-13 16:43] ghost commented on #850
This disappeared for me with the latest version of VS Code.

[2017-08-13 20:31] csholmq commented on #464
As per your question, I was positively surprised. Sorry if it sounded as if it was something negative.

[2017-08-14 07:44] Anketell commented on #864
@pieandcakes This behaviour has now deteriorated with cpptools v0.12.2

It is no longer possible to collapse the main thread and step through a different one. At each step, the debugger reopens the main thread and focuses it.

[2017-08-14 07:45] artdedeco opened #973 "VS Code can't recognize "cout", "cin", etc."
I'm running VS Code 1.15, C/C++ extension 0.12.2 on Windows, but referencing WSL header files.
This is my current configuration (in `c_cpp_properties.json`):
[code]
VS Code is not complaining about includes. In fact, it even suggests `cout` from `iostream` with auto-complete. However, it still reports `cout` as a undefined identifier.

This is the code I'm compiling:

[code]

It compiles and run u

[2017-08-14 08:53] tojocky commented on #150
OK, I'm back to ~20GB

[2017-08-14 12:24] hagaishapira commented on #962
@sean-mcmanus I've sent you guys a stack trace on the email addess you provided. Should you require more sample let me know.

[2017-08-14 13:47] sean-mcmanus commented on #969
@sophoc8 @nick-korsakov There's a bug in 0.12.2 that causes files with non-ASCII file paths to not be found, so maybe that is causing this? The features should work in general though. We may need more repro details.

[2017-08-14 13:48] sean-mcmanus commented on #575
@themightyoarfish What does your Problems window show? It could be falling back to the Tag Parser.

[2017-08-14 13:53] sean-mcmanus commented on #970
I think you can work around the issue by creating a symbolic link with the same name as the framework or header path name (e.g. QTCore) and then add a path to that file to includePath. Are you able to get that to work?

[2017-08-14 13:58] sean-mcmanus commented on #971
@Nikhil1R "Unknown Error: 0x800700c1" is not an error from our C++ extension. Deleting the .vscode folder might help (the c_cpp_properties.json file in particular, which can be regenerated via a "C/Cpp: Edit Configuration".

It looks like this is a debugger issue: https://github.com/Microsoft/vscode-cpptools/issues/316

[2017-08-14 13:59] sean-mcmanus commented on #972
We're not responsible for the C# extension. Can you find the correct team?

[2017-08-14 13:59] #972 closed, assigned to nobody

[2017-08-14 14:24] sean-mcmanus commented on #964
The only thing the C++ extension does is define the gcc problem matcher. I'm not aware of a workaround. Can you try filing an issue with VS Code itself? Such as http://stackoverflow.com/questions/tagged/vscode (or https://github.com/Microsoft/vscode/issues if it's a bug or feature request) .

[2017-08-14 14:33] sean-mcmanus commented on #973
Have you seen https://github.com/Microsoft/vscode-cpptools/blob/8979a6e6b348efd23b97037151d8968915f9fea0/Documentation/LanguageServer/Windows%20Subsystem%20for%20Linux.md ? Maybe you're missing `            "defines": [
                "__linux__",
                "__x86_64__"
            ],`?

[2017-08-14 14:40] sean-mcmanus commented on #150
@tojocky Can you provide more info? Do you think this is a bug? You should be able to workaround the issue via deleting the database file (or changing databaseFilename) after reducing the scope of the browse.path setting to not include so many files. Our database adds all the filenames it recursively detects from browse.path and then parses files for symbol information for files it believes are C/

[2017-08-14 15:21] artdedeco commented on #973
@sean-mcmanus Oops, I'm really sorry, I hadn't noticed that folder in the Docs (I only looked at the configs for debugging, not for the language server) :stuck_out_tongue: . It's working now. Thanks.

[2017-08-14 15:21] #973 closed, assigned to nobody

[2017-08-14 15:30] nick-korsakov commented on #969
There is no non-ASCII paths on my system. stdio.h was not found by VSCode but located at /usr/include.

[2017-08-14 17:42] yamcenutzer opened #974 "multiple issues on linux"
OS: Fedora 20
vscode :  1.15.0
cpp extension: 12.2
other extensions: cmake, cmake-tools, cmake-tools-helper, git history, git-lens, gitignore, Trailing-spaces, vscode-icons

open a folder for a non-trivial hierarchy of make files, with nested symlinks.
- intellisense can't find the simplest things and complains about missing includes, verify they point to correct folders
- After a while it seems t

[2017-08-14 19:57] sean-mcmanus commented on #969
@nick-korsakov What is the size of your .browse.vc.db file? Can you try changing the databaseFilename to "${workspaceRoot/.vscode/vc.db"? Is there a red flame in the bottom right? After closing VS Code, can you make sure to kill any dangling Microsoft.VSCode.CPP.Extension.linux processes? Have you tried switching your intelliSenseEngine to "Default"? That will start to use the non-recursive includ

[2017-08-14 20:41] sean-mcmanus commented on #974
What is your intelliSenseEngine settting? "Loading..." generally means the main thread is stuck doing some processing.

[2017-08-15 07:25] tojocky commented on #150
This time I used sqlite3_analyzer.exe to understand what is going on.
Seems the table CODE_ITEMS with it indexes takes most of the space.

I ran the SQL command: "select count(*) from code_items;" and the result is: 110702994

[code]

I also ran the command "select * from code_items limit 50;" and I see things like:

[code]

except my hpp files.

also I checked how many times a file is repeated by

[2017-08-15 09:39] basiljoseph commented on #964
It looks like this is a [known issue](https://github.com/Microsoft/vscode/issues/11663) in VS Code itself.
So I will close this, hoping the original issue will get fixed soon.

[2017-08-15 09:39] #964 closed, assigned to nobody

[2017-08-15 10:38] agauniyal commented on #15
@sean-mcmanus 'comments in hover' refer to documentation about certain methods present inside comments or something else? If it's the former, will it be tied to certain style like doxygen or standardese?

[2017-08-15 11:24] sean-mcmanus commented on #150
@tojocky Code items are symbols. It looks like your code base has lots of symbols. Do you believe this is expected or does it seem like a bug to you? If non-C/C++ files are being incorrectly parsed due to a file association mapping, that might cause too many symbols to be generated. You could try using files.exclude to remove sections of your code base, which should cause the symbol to be removed.

[2017-08-15 11:29] sean-mcmanus commented on #15
@agauniyal It refers to showing the comments next to the definition/declaration of code, similar to what VS 2017 (you can try that to see how we expect it to behave). The internal style of the comments won't matter and we'd just show it as a comment.

[2017-08-15 13:10] yamcenutzer commented on #974
intellisense engine is set to default with fallback to tagparser enabled

[2017-08-15 15:37] igor-borovkov commented on #974
Didn't install any updates for 6 months until yesterday, the extension worked perfectly fine. Now intellisense is regularly broken, "Extension host terminated unexpectedly. Please reload the window to recover."  pops  up every hour. (Ubuntu)

my settings were default, never modified

code base:  webkit.org

[2017-08-15 16:32] themightyoarfish commented on #575
@sean-mcmanus It does say something like that completions will be provided by the tag parser (don't remember the exact message right now).

[2017-08-15 18:22] tojocky commented on #150
Hi @sean-mcmanus . Regarding performance I can't complain, Thank you for the great job.
For C++ projects I wanted to use a modern IDE, but I'm fine with vim and sometime sublimetext.
This project is a really huge.

The only issue is just hogging disk space.

I will consider to use files.exclude setting.

[2017-08-15 20:05] eliotstock commented on #957
I see it as a bug that `${env:HOME}` doesn't work in `c_cpp_properties.json`, but does in other config files such as `tasks.json`.

I also think that having to define the OP's `${myHeadersRoot}` in an env var is pretty poor form. I don't want an env var - and env var can't be committed to git and seen by other devs, it's evil. I just want to not have to repeat myself with the same headers path ove

[2017-08-15 22:36] bobbrow commented on #960
@Kurt-Shiwz the Tag Parser can't just prompt "t" because it doesn't know the type of the variable on the left side of the `.`.  It just returns a list of all symbols that have been parsed that could be used as a member of something.  The "default" IntelliSense engine knows the type, so it can suggest just "t".

[2017-08-16 06:01] tojocky commented on #150
BTW, instead of encoding file name in each code item isn't better to isolate into a separate table with a primary key? It will avoid a filename to be repeated 1000s of times plus the index also takes a lot of space.

A NoSQL DB would be better.

This is just what I'm thinking.

[2017-08-16 11:51] marcofiocco opened #975 "Intellisense not working in Linux"
I can’t get Intellisense to work in Linux. I’m compiling with gcc 6.2.1 (devtoolset-6) and the project is built with cmake 3.6.3. I don’t get any wiggles under the include statements but I cannot navigate the code.

OS: Linux CentOS 7
VS Code 1.15.0
C/C++ 0.12.2

I don't have other C/C++ extensions installed. Only extensions for CMake, Debugger for Chrome, Docker, ESLint, Go, Python, TSLint, vscod

[2017-08-16 15:54] Marvin-WX opened #976 "it repeat quickSuggestions with other plug-in"
Because vsCode is not better in quickSuggestions, like Custom variables. It cannot complete the Custom variables, so I download the other plug-in C/C++ Clang Command Adapter. But it will repeat quickSuggestions  with this.

[2017-08-16 16:09] Marvin-WX commented on #976
C/C++ Clang Command Adapter performs code analysis as code is typed, highlighting errors but this plug-in is not.

[2017-08-16 16:59] ZobyTwo opened #977 "GDB Breakpoints are set in all files with same name"
When setting a breakpoint in a file with a particular name, breakpoints are set in all files with that file name at the same line.

### Environment

Win 10
VSCode 1.15 stable build
C/C++ 0.12.2
No other extension installed.
Gdb 7.6.1 is from mingw32
Gcc 5.3.0 is from mingw32

### Reproduce

Create the following project layout:

[code]

That is, there are two `main.c` files. One directly in `src`:

[2017-08-16 17:07] bobbrow commented on #975
Have you seen issue #19?  I believe CentOS 7 is distributed with an older version of GLIBC.

[2017-08-16 17:09] bobbrow commented on #976
You can disable our extension's auto-complete suggestions by adding `"C_Cpp.autocomplete": "Disabled"` to your settings.json file.

[2017-08-17 02:02] FMLS commented on #910
@sean-mcmanus thanks！ I ignore the Problems window, I find a file can't be search, It auto use Tag parse .

[2017-08-17 07:39] JoyBinY commented on #257
VSCode version: 1.15.0
OS: Windows 10 1511
Debugger: gdb, in MSYS 2
add path like this in the **launch.json** file
`"sourceFileMap": {
                "/H/Code/Develop_code/server": "H:/Code/Develop_code/server"
            },`
BTW work slowly.. ...

[2017-08-17 08:27] UR3IQO commented on #910
Some news about the problem after VSCode and cpptools update (VSCode v.1.15.1 / x64, cpptools 0.12.2). Now IntelliSense shows suggestions. It looked like it was ok, but I have added one more struct and got:
![vscode2](https://user-images.githubusercontent.com/25171239/29402715-a90677a6-833e-11e7-9319-2482d51cbd53.gif)
Is it ok? I expect that only 'S' struct members should be in the list. Now it be

[2017-08-17 09:08] UR3IQO opened #978 "[ARM] stopAtEntry: false has no effect"
Here is:
VSCode 1.15.1 / x64
cpptools 0.12.2
Windows 8/x64
I am debugging remote target (ARM MCU) using arm-gcc tools and openocd server.

launch.json:
[code]

And here is a piece of the log where VSCode instructs gdb to set breakpoint on main():
[code]

Please tell me if you need the full log, or other information...

BTW, Several months ago it worked fine.

[2017-08-17 09:20] jyavenard commented on #637
It's now been a month where VS Code have just been completely unusable for me on mac (the same folder on linux or windows work just fine)

Alt-O to switch between headers and source code never works.
No symbols of any kind can be resolved.

I have fully uninstalled VS Code, all its preferences, indexes, and so forth... no better...

What can I do to help solve this issue?

[2017-08-17 11:49] marcofiocco commented on #975
Oh thanks, that made it mostly working. I can navigate some symbols. Although there are still a couple of puzzling things.
- When I type code the autocompletion is still fuzzy, I don't get exact functions for a class.
- I don't see any file for the database, even if I set it to "build/browse.VC.db"
- I still see wiggles for some include files, but I can navigate in those anyway, even if I didn't s

[2017-08-17 12:00] KaoCC commented on #969
Same thing happened here. I can second this issue.

[2017-08-17 12:25] BlinkFan commented on #861
Thank you @bugraaydogar, this works.
It's just a little bit of inconvenience, but I don't often need to run the debugger with root permissions.

Would be nice if we could specify any debugger name in "launch.config" (currently only gdb and lldb are supported values). This way you could have the normal "gdb" and then a "gdbsudo" which is the bash script you specify. And then you can just switch out

[2017-08-17 15:57] bobbrow commented on #910
That is definitely the Tag Parser providing your suggestions.  Notice the difference in the detail tooltip between your GIF and my screenshot:

![910](https://user-images.githubusercontent.com/12818240/29420643-5e4c4108-8327-11e7-9055-3b5db25a1c3f.png)

The Tag Parser doesn't attempt to show you the type that owns the member.  I don't reproduce your problem on my PC when I set the engine to "Defau

[2017-08-17 16:15] bobbrow commented on #975
1. If you are not getting exact suggestions, then you need to check your settings and see if `"C_Cpp.intelliSenseEngine"` is set to `"Default"`.  If it is, then the problems window will tell you if we switched back to the inexact engine because we couldn't resolve your #includes.  In that case, click on the light bulb that appears when you highlight the green squiggle and fix up your `"includePath

[2017-08-17 16:54] marcofiocco commented on #975
1. My settings are
{
    "workbench.iconTheme": "vscode-icons",
    "cmake.cmakePath": "cmake3",
    "C_Cpp.intelliSenseEngine": "Default",
    "C_Cpp.intelliSenseEngineFallback": "Enabled",
    "C_Cpp.errorSquiggles": "Disabled"
}
The problems window says it cannot resolve the includes. But even if I fix the includePath I don't see any improvement. Regardless of that, I can actually navigate in t

[2017-08-17 17:01] trtd commented on #970
Yes, it is possible to use this kind of work-around.
However I do not think this is a permanent solution since a lot of Apple's and third party frameworks are packaged this way, and I am not willing to touch system framework bundles.
I personally will use XCode if I develop applications using macOS frameworks, which is a shame since  XCode's UX is horrible compared to VS Code.

[2017-08-17 17:24] bobbrow commented on #975
Can you share your includePath and the path to the #include that does not resolve?  If you can't share exact paths due to IP concerns, feel free to anonymize it.

As long as there are #include errors, you will continue to get inexact auto-complete suggestions.  You can force the semantic IntelliSense engine to run by choosing the "force semantic IntelliSense" option on the light bulb, but symbols

[2017-08-17 17:27] bobbrow commented on #970
We plan to add better support for frameworks.  It won't make it into the 0.12.3 release, but the plan is to have it in the next one.

[2017-08-17 17:43] #894 closed, assigned to nobody

[2017-08-17 17:47] pieandcakes commented on #978
@sov1178 Does that breakpoint ever get hit? The log you provided doesn't show enough for me to tell if we are continuing after it is hit or if it doesn't get hit.

[2017-08-17 17:49] pieandcakes commented on #879
@aaccioly Sorry I've been on vacation. I'll take a look today/tomorrow and see if I can duplicate this.

[2017-08-17 18:08] cmazakas commented on #974
I've been having many issues myself on OS X.

Maybe it's because I'm also using CMake? But on Windows, VS Code seems to work properly when I link my target against interface libraries, for example.

I know I can't ask anything of people who work for free but integrating the C++ tools with CMake would make VS Code probably the best IDE out there.

[2017-08-17 19:11] pieandcakes commented on #861
@BlinkFan You can enable `"miDebuggerPath"` which will override where it is looking for your executable and you can replace it with a script. the `"MIMode"` is to tell us which behavior to support since `lldb` and `gdb` have slightly different behavior.

[2017-08-17 20:40] marcofiocco commented on #975
The properties I have are:

[code]

For example, I have #include <grpc/grpc.h>
which is in /usr/local/include/grpc/grpc.h but I see wiggles under it, even if /usr/local/include is listed in includePath.
Same for almost all the other includes.

[2017-08-17 20:54] pieandcakes commented on #966
@dirondin I can take the change you linked above and see if it still occurs.

[2017-08-17 20:55] pieandcakes commented on #961
@m-4ge you need to specify your program in the `"program"` field. Also which configuration are you trying to use when debugging?

[2017-08-17 20:56] pieandcakes commented on #959
@wu38607 If this is a duplicate of #602, we will track with that one.

[2017-08-17 20:56] #959 closed, assigned to nobody

[2017-08-17 21:59] pieandcakes commented on #954
@Tankypon how are you logging these messages?

[2017-08-17 23:57] bobbrow commented on #958
We released 0.12.3 which has a fix for this.

[2017-08-17 23:57] #958 closed, assigned to nobody

[2017-08-17 23:58] bobbrow commented on #464
We just released 0.12.3 which added a new command to reset the database.

[2017-08-17 23:58] #464 closed, assigned to nobody

[2017-08-18 00:00] bobbrow commented on #601
We just released 0.12.3 which has a command to reset the database.

[2017-08-18 00:01] bobbrow commented on #943
We released 0.12.3 which has a fix for this.

[2017-08-18 00:01] #943 closed, assigned to nobody

[2017-08-18 00:03] bobbrow commented on #944
We released 0.12.3 which adds this path by default now.  The next time you create a new c_cpp_properties.json file, you will see the path added.

[2017-08-18 00:03] #944 closed, assigned to nobody

[2017-08-18 06:44] UR3IQO commented on #910
@bobbrow I have checked my settings several times - it should use new intelliSense engine. I also added intelliSense selection option to the workspace settings with no effect. Changing "Default" to "Tag Parser" does not change intelliSense behavior. Here is the archived test project.
[pr1.zip](https://github.com/Microsoft/vscode-cpptools/files/1233507/pr1.zip)

And here are the logs:
[vscode.cpp.l

[2017-08-18 07:00] UR3IQO commented on #978
@pieandcakes The breakpoint hits at the start of the program.

Here is the full log (from the debugger start till the breakpoint hit):
[debug_log.txt](https://github.com/Microsoft/vscode-cpptools/files/1233531/debug_log.txt)

Also VSCode does not list breakpoint (at the Breakpoints panel), but gdb shows the breakpoint was set and was hit 1 time:
[code]

[2017-08-18 14:28] ZobyTwo commented on #977
@pieandcakes Could you please elaborate on why this is considered a request for a feature?

From my perspective, this looks like a bug, really. I have a project with a few hundred *.c files with the same name (they are mostly generated by another tool) and this makes it very hard to debug them because the debugger breaks at seemingly random places - additional to the line where I did set a breakpo

[2017-08-18 15:59] bobbrow commented on #910
I copied your project and it still doesn't repro for me. 😢

Your logs confirm that you have selected the new IntelliSense engine and that completion is being offered, but I don't see any requests appearing in the IntelliSense engine's log (implying that the request is going to the tag parser).  The logs also report 2 error squiggles, but doesn't say what they are.  When I open your project on my P

[2017-08-18 17:39] UR3IQO commented on #910
@bobbrow

My problems windows says that there are no problems. I do not know how I can see what intellisense mode is used from the information in the problems window.

[2017-08-18 17:48] bobbrow commented on #910
When we start using the Tag Parser instead of the Default engine, we add a problem to the problems window so that was what I was looking for.  This is the only spot in the extension where we override your settings.

I'm at a loss as to why you are not getting the correct IntelliSense behavior so I am adding some additional logging to the extension which should help us diagnose this further.

[2017-08-18 18:04] trtd commented on #970
That's great!
If I can help with something (testing for example), please let me know.

[2017-08-18 19:04] UR3IQO commented on #910
@bobbrow  Thank you for the explanation!

I have just upgraded to cpptools 0.12.3, and checked the problem. Now it behaves differently - it does not provide any suggestions after typing `.` or `->`.

Here is the log (I increased verbosity level to 7 in hope to record any useful information, please let me know if you need logs with different settings). I see some errors in the log (see line 225 and

[2017-08-18 19:16] pieandcakes commented on #977
@ZobyTwo When we send the bindings for the breakpoints we are currently only sending the filename. As such, it is "by design" even though it is unintended. There have been changes in `MIEngine` to allow support of this. I'll mark it as a bug also but either way it will require work on my part to get it to work.

[2017-08-18 19:18] pieandcakes commented on #978
@sov1178 That is intended as its a breakpoint that we set and not one set by the user.

Thanks for providing the log. Let me take a look at it and I'll see if I can setup a repro to figure out whats going on.

[2017-08-18 19:18] bobbrow commented on #910
Oh, I see.  The IntelliSense engine appears to have crashed:

The error messages are incorrectly categorized and should have shown up in the earlier log.  I'll get that fixed.

If you have the time, [this article](https://bugslasher.net/2011/03/26/how-to-debug-a-process-as-soon-as-it-starts-with-windbg-or-visual-studio-2010/) has some information about how to attach to a process when it launches (

[2017-08-18 19:21] bobbrow commented on #910
Sorry, I left out an important detail.  The process you want to attach to is `Microsoft.VSCode.CPP.IntelliSense.Msvc.exe`.

[2017-08-18 19:46] pieandcakes commented on #978
@sov1178 So that log you attached looks like it is currently stopped at the entry breakpoint. Is that correct or is that wrong?

[2017-08-18 19:47] pieandcakes commented on #950
@masonsu which version of VSCode are you using?

[2017-08-18 19:48] pieandcakes commented on #948
@albertxavier001 Which OS are you on, which version of the extension are you using and which version of VSCode?

[2017-08-18 19:49] pieandcakes commented on #919
@zouyxdut can you provide a reproducible example and more information on what you mean by "irresponsible" ?

[2017-08-18 19:53] pieandcakes commented on #908
@josesimoes Are you assuming that if you use ${workspaceRoot} on a Windows machine that the path "e:\\foo\\bar" gets escaped to "e:/foo/bar" ? We currently don't do any processing on the setup commands because we assume that what you are entering is what you want and when using ${workspaceRoot} on Windows will give you the Windows style path substitution from VSCode of "e:\\foo\\bar".

[2017-08-18 20:01] pieandcakes commented on #967
@greylight61 Do you by chance have a good repro that I can do for this? I can't seem to reproduce it.

[2017-08-18 20:02] renewboy commented on #919
@pieandcakes Sorry for the mistake. What I mean is not responding.

[2017-08-18 20:06] pieandcakes commented on #919
@zouyxdut How deep in the stack are you going during recursion that it becomes unresponsive? Is it a tight loop recursion?

[2017-08-18 20:22] UR3IQO commented on #978
@pieandcakes  You are correct - it is from the debugging start till the breakpoint (at main()) hit. If I press F5 (continue) the program continues.

[2017-08-18 20:27] UR3IQO commented on #910
@bobbrow Here is Windows 8 x64, I will try to attach to the process tomorrow.

[2017-08-18 20:32] gray-heron commented on #955
Technically there is "externalConsole" launch option, but I have never seen it having effect when set to false.

We have an annotation for this option:

Please specify these cases and consider not ignoring it - it is sometimes inconvenient to have a useless terminal popping up on every debugging session.

[2017-08-18 21:26] pieandcakes commented on #978
@sov1178 I think I see what is going on. Can you enable `"trace": true, "traceResponse": true` in your logging block and post a copy of that log?

I think the line:

is the culprit but I want to make sure.

[2017-08-18 21:39] yay opened #979 "Go to definition doesn't work for operators (e.g. <<)."
- VSCode Version: 1.15.1
- OS Version: macOS 10.12.6 (16G29)
- Apple LLVM version 8.1.0 (clang-802.0.42)
- gcc-7 (Homebrew GCC 7.2.0) 7.2.0

<img width="579" alt="screen shot 2017-08-18 at 23 15 01" src="https://user-images.githubusercontent.com/1799756/29478674-55e8bbfc-846e-11e7-9070-e108ace91def.png">

On the above screenshot, if I ⌘-hover `endl`, it will get an underline and, upon clicking, op

[2017-08-18 21:39] pieandcakes commented on #978
FYI:  I think the issue is here: https://github.com/Microsoft/MIEngine/commit/d852d8c61c68d4e9ca0e617744a349a408dbe1eb
in DebuggedProcess.cs. We provide a mechanism to check for people using gdbserver but it looks like you bypass it by issuing your own commands, which I think breaks this case, causing the problem. If you try and use `"MIDebuggerServerAddress"` instead of passing `target remote` in

[2017-08-18 21:43] yamcenutzer commented on #974
TBH I don't see a real use case for vscode on windows, where you can use the real thing (VS).
I was hoping for something useful on Linux, something definitely better than atom or eclipse.
But I'm not sure that cyclic symlinks and arbitary hierarchies can be solved at all to give a proper intellisense without actually compiling the code.

[2017-08-18 21:47] pieandcakes commented on #879
@aaccioly Can you tell me if you are running x86 or x64 Windows 7 Enterprise?

[2017-08-18 22:18] bobbrow commented on #979
While it is a bit non-intuitive, this is currently how we expect it to behave.  Goto definition is still implemented using the old IntelliSense engine which has no knowledge of this operator overload, while the hover tooltips are implemented with the new IntelliSense engine which does.

Migrating Goto Definition to the new IntelliSense engine is something we still plan to do.  We are tracking this

[2017-08-18 23:44] pieandcakes commented on #879
So this is what I tried.
* I installed Windows 7 Enterprise with SP1 x64
* I downloaded the latest VS Code version 1.15.1.
* I downloaded the newest C/C++ extension version 0.12.3
* I downloaded the Visual C++ build tools 2015 version

I copied out all your files and then ran the build_cl task.
I then ran the (Windows) Launch configuration after setting the function breakpoint at `main`. I pressed

[2017-08-19 07:13] UR3IQO commented on #978
@pieandcakes

It does not work. I made a little "investigation", found configuration that allowed me to find the problem. I checked the log and saw that cpptools issued "target remote" command **after executing setupCommands**, but those commands should be executed after gdb connected to the remote target. setupCommands in my configuration halt and restart the remote CPU under debugger control and

[2017-08-19 07:29] UR3IQO commented on #910
@bobbrow
I have the crash dump, hope it will help:
[Microsoft.VSCode.CPP.IntelliSense.Msvc.dmp.zip](https://github.com/Microsoft/vscode-cpptools/files/1236139/Microsoft.VSCode.CPP.IntelliSense.Msvc.dmp.zip)

[2017-08-19 08:43] josesimoes commented on #908
@pieandcakes I'm not assuming, just asking... I haven't looked into the implementation details.
What I can see is that (on the same launch.json file) if I use it on this line:

`"program": "${workspaceRoot}/build/nanoCLR.elf",` the output is correct.

Now, when used inside the setupCommands array, like in:

`{"text": "file ${workspaceRoot}/build/nanoBooter.elf"}` the output is wrong.

[2017-08-19 12:25] ZobyTwo commented on #977
@pieandcakes I see, thanks for the explanation.

[2017-08-19 13:11] jiayihu commented on #970
That would be awesome, for now I'm sticking with CLion but today I was very surprised by the effort you are putting into C++ support in VSCode.

[2017-08-19 13:40] UR3IQO commented on #908
@pieandcakes There is an issue with `\` characters, I found it today when collecting information about [this issue](https://github.com/Microsoft/vscode-cpptools/issues/978). Just see the following piece of the log:
[code]
As you see gdb skipped all `\\` symbols. The correct path should be  `d:/Oleg/!Projects/Ctrl2/Ctrl/Debug/Main.elf`.

BTW, here is Windows 8 x64

[2017-08-19 22:31] xLobito opened #980 "Debugging using WSL. Launch failed"
Hi there.

I guess the issue has been reported before (Even I tried to get an answer but none was given). I hardly tried to get debugger works in VS Code for my C projects but throws an "unknown error":

"Starting: "c:\windows\sysnative\bash.exe" -c "/usr/bin/gdb --interpreter=mi"
Error: 0x80070057

"c:\windows\sysnative\bash.exe" exited with code -1 (0xFFFFFFFF)."

I used the method based on its

[2017-08-20 07:07] dirkvdb opened #981 "Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin keeps consuming a core"
OS: MacOS Sierra 10.12.6
VSCode: 1.15.1
CppTools: 0.12.3

When I open my project in vscode the intellisense process starts using all the cpu and never stops. Even if I leave it running for hours.
The little red flame in the bottom right says "Parsing..."
Hovering over a symbol says: "Loading..."

But it never exits this state. If I shutdown vscode the Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin

[2017-08-20 08:57] ghost commented on #954
I logged these messages on the standard console output with std::cout. Also the sequence '[3;34m' should be understandable by the console to specify the color font. At least it was working on the default console on Ubuntu (not the console of VSCode).

[2017-08-21 01:54] bluebruce commented on #325
Confirmed. Problem resolved. Thank you.

[2017-08-21 03:04] xueyunquan commented on #957
I would support @eliotstock 's opinions.

[2017-08-21 03:55] bigtang5 commented on #877
hi @Sean McManus:

I have updated to the newest Code version, the bug was still there:

Starting: "C:\Windows\sysnative\bash.exe" -c "/usr/bin/gdb --interpreter=mi"
0x80070057
"C:\Windows\sysnative\bash.exe" exited with code -1 (0xFFFFFFFF).

[2017-08-21 08:39] scropion86 commented on #874
same issue i tried WIFI and Mobile Network connection and both failed to download the package
only the below lines appearing in the Output
[code]

[2017-08-21 08:48] Alex031544 commented on #368
Hi, same issue here. It would be very comfortable if the search paths can be defined globally. Search paths depending on the OS set up and can be different. So it is not nice to have this inside the  git managed project folders.

It would be really nice if you can find a way to bring this configuration file into */home/user/.vscode/**

Thanks

[2017-08-21 14:06] BartekkPL opened #982 "Cpp Debugging unavailable : "Debug adapter process has terminated unexpectedly""
- VSCode Version: Code 1.15.1 (41abd21afdf7424c89319ee7cb0445cc6f376959, 2017-08-16T17:16:27.618Z)
- OS Version: Linux x64 4.4.0-92-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
output-colorizer|IBM|0.1.2
latex-preview|ajs|0.5.1
code-gnu-global|aus|0.2.2
vscode-node-readme|ben|1.1.0
npm-intellisense|chr|1.3.0
vscode-npm-source|dku|1.0.0
githistory|don|0.2.3
python|don|0.7

[2017-08-21 15:27] jyavenard commented on #637
Here is my c_cpp_properties.json (default as generated by VS code)

[code]

I have once again deleted the database, selected C/Cpp: Reset Intellisense Database
to no available :(

[2017-08-21 15:33] bobbrow commented on #910
Thank you.  I can reproduce the crash and am working on a fix.

[2017-08-21 16:59] jyavenard commented on #637
Doing Cmd-Shift-O to show the list of symbols, shows 92 symbols only. Selecting any of them jump to a place that has ZERO relationship with the symbol name.
Sometimes in the middle of a function definition or within a comment.

[2017-08-21 17:48] aaccioly commented on #879
Hi @pieandcakes. I'm running x64. Looks like we are using the exact same versions.

![Before the problem](http://i.imgur.com/k8z3V5R.png)
![After the problem](http://i.imgur.com/8rwXmuy.png)

Some things that I've noticed:

1. I'm getting some exceptions even before the `std::cout` line. Your debug logs looks way cleaner than mine.
2. When the debugger works it loads a second tab containing `hello

[2017-08-21 18:14] aaccioly commented on #879
After a failure the Call Stack looks interesting. I don't even have an f drive mapped :D

![Stack Trace](http://i.imgur.com/Rxinl0Q.png)

[2017-08-21 19:04] pieandcakes commented on #879
My  setup is creating a new install of Win7 x64 Enterprise, installing .Net framework 4.5.1 (which is needed to install the 2015 Visual C++ build tools), installing the build tools and then the extension and then I debug. I have to use a VM because I don't have an extra physical machine to install Win7 on. If you are on a physical machine, that might be the difference? I did make sure to install a

[2017-08-21 19:06] pieandcakes commented on #980
@xLobito If you run `"c:\windows\sysnative\bash.exe" -c "/usr/bin/gdb --interpreter=mi"`  from the command line what do you see?

I don't see another issue that was reported for this.

[2017-08-21 19:09] pieandcakes commented on #982
@BartekkPL Your `"program"` line needs to point at your program that is outputted by your compile line.

[2017-08-21 19:11] pieandcakes commented on #877
@bigtang5 @xLobito Can both of you try and run `"C:/Windows/sysnative/bash.exe" -c "/usr/bin/gdb --interpreter=mi"` from a command line window and see if gdb runs?

[2017-08-21 19:12] pieandcakes commented on #980
I see its a duplicate of #877. Closing this one as its a duplicate.

[2017-08-21 19:12] #980 closed, assigned to pieandcakes

[2017-08-21 19:14] pieandcakes commented on #954
@Tankypon You are seeing this in the debug console within VSCode correct? I can see if I can duplicate the missing character but the color portion would be VS Code's issue to fix as they control the debug console and we just output to it.

[2017-08-21 19:24] pieandcakes commented on #908
@josesimoes We massage the `"program"` field because we know it has to contain the path to the program and depending on which we think OS is being targeted, we escape/update the directory separators. With the setupCommands, we assume that the user wants it passed exactly as specified so that is what we pass.

@sov1178 It looks like ${workspaceRoot} is being passed with the windows paths but you ar

[2017-08-21 19:26] pieandcakes commented on #908
I'll take a look under a debugger and see if I can figure out where the issue lies, but if its because of gdb and the directory separators like I mention above, we'd have to find a way to ask users to update the separators. The workaround would be to update the path manually right now instead of using ${workspaceRoot}

[2017-08-21 19:52] xLobito commented on #877
@pieandcakes

Indeed. From Windows command line works running gdb Linux bash as expected. That's why this is strange.

Thanks in advance.

[2017-08-21 20:14] aa6moham commented on #658
I also feel that adding Doxygen support in VS code would be very beneficial !

[2017-08-21 21:01] Tyriar commented on #946
The windows.h issue seems to be gone now.

As for node_version.h, I don't know where it is. It's pointing at node_version.h inside NodeJS but I don't know where this is on disk

https://github.com/nodejs/node/blob/master/src/node_version.h

![image](https://user-images.githubusercontent.com/2193314/29538116-28862ca0-8679-11e7-9587-4efd4e3cf666.png)

[2017-08-21 22:52] pieandcakes commented on #877
@xLobito Can you share your entire launch.json block? Also, can you tell me which Windows 10 version you are running and if you have recently upgraded WSL to the latest version using `sudo apt update / sudo apt upgrade` ?

I just updated everything and setup a new project and I can't duplicate it.

[2017-08-22 02:14] liuyuxun opened #983 "is there a configuration that make parser do not parse some path?"
big project need about 3 hours to parse.

if there is the configuration, it will be helpful

[2017-08-22 07:22] Schobers opened #984 "Paths with incorrect casing in terminal output can cause the same file be opened twice."
Windows 10 x64
Visual Studio Code 1.15.1 x64
C/C++ extension 0.12.3
CMake version 3.7.2 with Visual Studio 14 2015 Win64 generator

**Reproduction**:
- Open a C++ project (folder) in Visual Studio Code.
- Setup a (build) task running MSBuild on a (CMake generated) Visual Studio solution and utilizing the problemMatcher "$msCompile".
- Make the build fail in some way so an error is reported in the

[2017-08-22 07:53] ghost commented on #954
@pieandcakes This is correct. The code is executed on a remote machine (on CentOS) and the output is displayed in the debug console within VSCode (on a Ubuntu machine).

[2017-08-22 08:34] vscpp commented on #556
@sean-mcmanus, may I know will you add the setting to change the workspaceStorage location to another driver? Current my C driver only have 1GB, but the symbols files take up about 6GB. Thanks!

[2017-08-22 08:39] bigtang5 commented on #877
in my win10 CMD window， run  "C:/Windows/sysnative/bash.exe" -c "/usr/bin/gdb --interpreter=mi",
echo  "system can't find the path"
run  bash -c "/usr/bin/gdb --interpreter=mi",  gdb loaded ok.

[2017-08-22 09:34] ntphx commented on #811
@pieandcakes

This issue still persists in vscode `1.15.1` with `c/c++-tools 0.12.3`.
Has there been any progress on this issue, or, is there some form of workaround available?

[2017-08-22 09:53] josesimoes opened #985 "Any plans to add support for SWO output?"
It seems that OpenOCD has added support for ARM SWO trace port.
Would be truly awesome if cpptools could add support for this and be able to output that to the debug console!

[2017-08-22 11:13] aaccioly commented on #879
Hi @pieandcakes, yes, I'm on physical hardware. I have .Net Framework 4.6.01055 ([`Release` DWORD: 394271](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed#net_b)) installed in `C:\Windows\Microsoft.NET`. This bug is bizzare. Is there any kind of logs that I can enable / collect that may help to troubleshoot the problem?

[2017-08-22 11:51] randombenj commented on #424
Are there some pain points in releasing the extension as 32 bit?

[2017-08-22 16:01] bobbrow commented on #983
There are a few settings that control what is included in the parsing.

1. By default, we recursively search your `${workspaceRoot}` for code files.  You can edit this setting by opening your c_cpp_properties.json file (use the "C/Cpp: Edit Configurations..." command) and updating the value of `"browse.path"` to use fewer folders, or only include the subfolders of `${workspaceRoot}` that you need.

[2017-08-22 16:01] #983 closed, assigned to nobody

[2017-08-22 16:05] bobbrow commented on #556
We are not able to change the workspaceStorage location.  That setting is owned by VS Code.  But you can change the database location by setting the `"browse.databaseFilename"` setting in **c_cpp_properties.json** to a path on your other drive.

[2017-08-22 16:12] rdlaner commented on #13
@csholmq, I also am able to complete a pointer to a data structure, however, I am still not able to complete the name of the local variable itself. It would be nice if the auto-completion would prioritize local variables in the selection list.

See the below screenshots:

*Unsuccessful completion of local variable name:*
![no_local_completion](https://user-images.githubusercontent.com/17415937/295

[2017-08-22 16:16] bobbrow commented on #13
@rdlaner when we get the extension fast enough to list local and global variables we will turn it on and resolve this issue.

[2017-08-22 16:22] xLobito commented on #877
@bigtang5 Well, as far as I know, system can't find that folder 'cause sysnative comes to be an alias of System32 folder. If you try to run this with System32, the output should be the same as running bash.

@pieandcakes I upgraded to the latest version available and tried again. Same output.

![captura](https://user-images.githubusercontent.com/16466974/29576039-d7ea06f8-873c-11e7-8951-34df150b33

[2017-08-22 17:09] am1ko commented on #833
vscode version 1.15.1 (1.15.1)
arm-none-eabi-gcc version 6.3.1 20170620

After updating vscode and gcc I now see debug output when trying to break. Still does not work though

C pause: {"threadId":57005}
 R: {"success":true,"message":null,"request_seq":23,"command":"pause","body":null,"running":false,"refs":null,"seq":0,"type":"response"}

[2017-08-22 17:10] am1ko commented on #833
@pieandcakes
Tried your suggestion. Same result as @timurey

C evaluate: {"expression":"-exec -gdb-set target-async off","frameId":1000,"context":"repl"}
1: (34420) <-1092-gdb-set target-async off
1: (34421) ->1092^error,msg="Cannot change this setting while the inferior is running."
1: (34421) ->(gdb)
1: (34421) 1092: elapsed time 0
E output: {"category":"stdout","output":"result-class: error\r\n

[2017-08-22 17:52] luigivendetta opened #986 "I can't generate any output, any solutions?"

[2017-08-22 17:58] #986 closed, assigned to nobody

[2017-08-22 18:06] pieandcakes commented on #811
@radiowest I have not had time to investigate a solution.

[2017-08-22 18:07] pieandcakes commented on #985
@robotdad Do you know anything about this?

[2017-08-22 18:10] pieandcakes commented on #984
@Schobers The bigger issue here is Windows is not case sensitive so we can get either `c:\project\subfolder\file.h` or `C:\Project\SubFolder\file.h` from the symbol and then we just pass it back to VSCode to open the document. VSCode's method of opening documents is case sensitive.

[2017-08-22 18:10] am1ko commented on #833
If I do
            "setupCommands": [
                {
                    "text": "set target-async off"
                },

I can break the execution successfully form bash by sending SIGINT to the gdb process
kill -2 31276

vscode pause button still doesn't work.

[2017-08-22 18:28] robotdad commented on #985
@josesimoes do you have an example of how you're using this from the CLI? Are you using ST Link or something else?

[2017-08-22 18:35] pieandcakes commented on #877
@xLobito It looks like you need to update to Creator's Update to have WSL work with the extension. Per the documentation, you need to be on Creator's Update or later. That seems to be build 15063. 14393 is Anniversary Update, which does not contain fixes in WSL that we depend on.

@bigtang5 What @xLobito says is correct. `sysnative` is converted to the x64's `system32` to guarantee that we get the

[2017-08-22 18:40] robotdad commented on #763
Apologies, something was wrong with my notifications here so I missed this thread. Regarding signing, @pieandcakes is right, that is a MacOS requirement.

I'm not sure what to think of the cwd issue yet.

[2017-08-22 18:44] xLobito commented on #877
Perfect. I didn't find that docs. If I just had seen it...
I'll update to latest build and write what happens next.

Thanks for all you've done.

[2017-08-22 18:45] pieandcakes commented on #877
@xLobito I'll update the documentation to be a bit more clear. Thanks for the heads up

[2017-08-22 19:18] josesimoes commented on #985
Hi Mark!

I'm currently using STLink to get the SWO.
Unfortunately one can't have both STLink and VSCode connected in the same debug session...
I believe OpenOCD outputs this on a separate stream so it might be something as _simple_ as grabbing that and forward it to the VS Code debug window...

[2017-08-23 02:52] seanchann commented on #368
same issue for me. it should be work together with user custom library.

[2017-08-23 07:07] Schobers commented on #984
Should I duplicate this bug in the VSCode repository then?

[2017-08-23 08:31] Srekel opened #987 "No syntax highlighting for typedeffed types."
This is what it looks like for me. I've included the TM scope inspection.

![image](https://user-images.githubusercontent.com/1578924/29603610-0fe2e7de-87e5-11e7-9ecd-07d38bccde9d.png)

Seems like the whole type + variable name gets parsed as the same token? I'm not sure if this is a bug in the C++ extension or in VS Code's standard C++ language definition but I thought it made sense to post here

[2017-08-23 10:34] yuanhuihe commented on #647
Download LLVM from its website, install LLVM, check "Add LLVM to system path", restart vscode. It can fix this issue.

[2017-08-23 12:19] csholmq commented on #13
@rdlaner True. In my case my pointer was named `p` so it made auto completion trivial :p

[2017-08-23 16:05] bobbrow commented on #987
The current colorizer doesn't have any knowledge of user-defined types or typedefs, so they won't get the colors you expect.  We are tracking colorization with issue #230.

[2017-08-23 16:05] #987 closed, assigned to nobody

[2017-08-23 16:43] pieandcakes commented on #984
@Schobers We have tried that and they have said "won't fix" and their suggestion is for us to find a way to figure out the correct casing of the file. I've marked it a bug and we'll look at addressing it.

[2017-08-23 18:53] horvay commented on #368
What I do right now is create a VisualCode folder somewhere, and put my task, settings, cpp config in there.

Then I create a whatever.code-workspace file that looks something like this:
[code]
Then open that .code-workspace file with vscode (the file extension should be associated to vscode).

This creates a visual code setup that looks like this:
![image](https://user-images.githubusercontent.co

[2017-08-23 19:28] bobbrow commented on #368
@horvay it looks like you are taking advantage of the fact that we haven't added support for multi-root workspaces in our extension yet and only the first folder is parsed.  When we do add support for it, what you've posted will no longer work.

We are still considering merging c_cpp_properties.json into settings.json.

[2017-08-23 19:36] horvay commented on #368
Will it break? Or merely be not necessary? Do you know a ballpark for when you all plan to release support for multi-root?

[2017-08-23 19:47] bobbrow commented on #368
Nothing will "break" per-se, but when we add the support, we will load the c_cpp_properties.json from each folder you've opened and apply it to the files in that folder instead of just loading the c_cpp_properties.json from the first folder and applying that to everything.

We plan to start looking into this more next month, with a possibility for us to release in October if everything goes as pla

[2017-08-23 21:04] horvay commented on #368
Awesome! I deleted the cpp configs from the other folders for now. But I'll definitely go back to having local specific ones after that release.

Thanks for all the work you all put into this!

[2017-08-24 08:05] dcourtois commented on #19
@alanbirtles Did you do something to make it work again ? I was also using the workaround without any problem until the last update :/

[2017-08-24 08:07] imhuay commented on #973
If use Windows not WSL, it need to add `"defines": [ "__cdecl=__attribute__((__cdecl__))" ]`

[2017-08-24 08:09] alanbirtles commented on #19
no I'm not sure what if anything I did, the problem may have been that the script wasn't marked as executable? I think previous versions worked without an executable script but the new version doesn't?

[2017-08-24 08:14] alanbirtles commented on #975
the default include paths are insufficient, if you look in the problems window it will show which files can't be found, on my centos 7 install I had to add /usr/include/c++/4.8.5/x86_64-redhat-linux/ to get "bits/*.h" includes to work (for devtoolset 4 I had to add "/opt/rh/devtoolset-4/root/usr/include/c++/5.3.1", "/opt/rh/devtoolset-4/root/usr/include/c++/5.3.1/x86_64-redhat-linux", "/opt/rh/dev

[2017-08-24 11:24] Srekel commented on #230
@be5invis Not sure if this is what you want, but it could be a workaround for now. Since the latest VS code you can indeed set colors for operators, like so:

[code]

[2017-08-24 23:08] claynerobison commented on #548
Trying to figure out how this works on Linux. Getting a "System.ArgumentNullException" with:

{
      "name": "(gdb) Attach",
      "type": "cppdbg",
      "request": "attach",
      "program": "/usr/bin/python",
      "processId": "${command:pickProcess}",
      "MIMode": "gdb",
      "logging": {
        "exceptions": true,
        "programOutput": true,
        "trace": true
      },
      "set

[2017-08-24 23:38] bobbrow commented on #970
Quick question for those following along.  We are considering two different options for letting you specify the framework paths.  Which option best matches how you would expect it to work?  Please respond with your vote.

**Option 1** - just put it in the `"includePath"` with all the other paths
[code]

or

**Option 2** - create a new property for it (which is only evaluated on Mac systems)
[code]

[2017-08-25 05:19] florian-jackisch commented on #970
I prefer option 1.

[2017-08-25 07:03] lh123 opened #988 "IntelliSense does not prompt class members sometimes"
Operating System and version：win10
VS Code version: 1.15.1
C/C++ extension version:0.12.3

1.In the template class, IntelliSense can not prompt for the type that is typedef defined

![image](https://user-images.githubusercontent.com/10697249/29702973-25211bbc-89a6-11e7-9b61-c47c49969cb0.png)

2.In non-template classes, IntelliSense can prompt for types that are typedef defined

![image](https://us

[2017-08-25 07:26] Pagghiu commented on #970
I prefer option 2

[2017-08-25 09:17] jiayihu commented on #970
I prefer option 1, to keep the configuration properties at the minimum possible.

[2017-08-25 10:49] trtd commented on #970
Don't really care, both would solve the problem for me. For example gcc and ld have special option "-framework", so solution 2 would be OK as well.

[2017-08-25 12:15] dcourtois commented on #19
Thanks for the answer. I works kind of randomly on my computer ... sometimes it works fine, and some other time, doesn't.

[2017-08-25 15:27] bobbrow opened #989 "ConfigurationProperties.getConfigIndexForPlatform reads 'undefined' at C_Cpp_ConfigurationProperties.js:238:35"
From @dcourtois:  (separating this out from #19)

Thanks for the answer. I works kind of randomly on my computer ... sometimes it works fine, and some other time, doesn't. When it doesn't, the developer console shows the following error:

[code]

Don't know why, but that's pretty annoying :)

[2017-08-25 15:28] bobbrow commented on #19
@dcourtois, that looks like a bug.  If you don't mind, I'm going to move the discussion for that to a new issue. #989

[2017-08-25 15:39] bobbrow commented on #989
@dcourtois, do you see any other error output in the console?  I see a spot in the code where it's possible to hit this if the extension failed to parse your `${workspaceRoot}/.vscode/c_cpp_properties.json` file.  You might only see it when you first open the folder in VS Code.

[2017-08-25 15:42] bobbrow opened #990 "Compiler exited with error. How do I diagnose?"
From @semihalf-kardach-stanislaw:  (moved from #846)

I have a question related to this topic. I am having a similar issue when I'm working on my MIPS C project on an x86 host. I have all my include paths set and I don't get any errors reported in my C file in the problems window. However when I hover over a symbol I get:
![image](https://user-images.githubusercontent.com/10021343/29719406-320abb5

[2017-08-25 15:42] bobbrow commented on #846
@semihalf-kardach-stanislaw, I moved your question to a new issue #990

[2017-08-25 16:01] bobbrow commented on #990
A few questions for you:

Which OS are you using?  Is VS Code running on the x86 host?
Is this a .c file or a .h file? The most common reason for this error is when you open a header file and we can't find the matching source file. The simple solution to work around bugs in source file detection is to open a source file that references this header, and then open the header file.

[2017-08-25 16:07] semihalf-kardach-stanislaw commented on #990
My bad, should have mentioned it in the first place. VS Code is running on Linux on a x86 host:
[code]

This happens when I open a .c file.

It's not really that I would like to find the solution right away, rather I would like to know if it would be helpful to me if I look at the clang output that caused the "Compiler exited with error".

[2017-08-25 16:11] bobbrow commented on #970
This is about how the voting turned out among the people I asked here at Microsoft. :smile:

I personally lean toward option 1, but wanted to make sure that it wouldn't be confusing for people before committing to that design.  I don't like the idea of a property that only applies to one platform (option 2), but I can understand that people might want to think about frameworks as a separate entity

[2017-08-25 16:14] bobbrow commented on #990
This leaves me a bit confused.  We only compile 64-bit binaries for linux.  I'm not sure how you were able to get this error message in the first place.  The extension shouldn't even be running!

[2017-08-25 16:16] semihalf-kardach-stanislaw commented on #990
To be exact it's `amd64` or `x86_64` host (as shown in `uname` output) so it is a 64-bit linux system.
I'm not sure if I understood your question correctly.

[2017-08-25 16:20] bobbrow commented on #990
Ok.  I'll need to add more logging to the extension then to help diagnose this.  Our IntelliSense engine is not running an actual instance of Clang.  It is just a front end that has a clang "mode".

[2017-08-25 16:33] luigivendetta opened #991 "can't generate any output. any solution?"
file: 'file:///c%3A/Users/lenovo/Documents/Basic.cpp'
severity: 'Info'
message: 'Include file not found in browse.path.'
at: '1,1'
source: ''
![cpp](https://user-images.githubusercontent.com/10692823/29723169-319355aa-89e1-11e7-94ec-b45b29419ef9.jpg)

[2017-08-25 16:37] Pagghiu commented on #970
I would probably start typing "framew...." side by side the to "includePath" in the json file hoping that intellisense would popup something meaningful.
That's actually what I have been doing before searching the internet and finding this issue 😄

[2017-08-25 17:03] bobbrow commented on #991
Where is the iostream header located on your PC?  On Windows, the extension will look for those headers in your Visual Studio 2015 or 2017 installation folders.  If you have not installed either of those, then we don't know where else to look.

[2017-08-25 18:41] dcourtois commented on #19
@bobbrow I don't mind at all. Next monday I'll try to get more informations and will try to post that on the issue. Thanks

[2017-08-25 18:44] dcourtois commented on #989
Hi, sorry I left work, so I won't be able to give you more informations until next monday.
I'm generating the `c_cpp_properties.json` file with a modified version of CMake Tools extension (you commented on my pull request there, a few weeks agao :) ) so maybe this has something to do with this bug (if CppTools tries to read the json file while CMake Tools is actually writing it, or something like

[2017-08-25 19:49] weinand opened #992 "Looking for information on debugging a node C++ addon using nan and node-gyp"
_From @kmalakoff on December 8, 2016 16:51_

I'm having problems finding documentation on how to debug a node C++ addon using nan and node-gyp.

There are articles to [debug JavaScript](https://github.com/Microsoft/vscode-node-debug) and [C++ applications](https://code.visualstudio.com/docs/languages/cpp), but I cannot seem to find an example of how to configure vscode to use node-gyp instead of g

[2017-08-25 19:49] weinand commented on #992
_From @jkomyno on August 25, 2017 16:46_

+1

[2017-08-25 19:49] weinand opened #993 "Looking for information on debugging a node C++ addon using nan and node-gyp"
_From @kmalakoff on December 8, 2016 16:51_

I'm having problems finding documentation on how to debug a node C++ addon using nan and node-gyp.

There are articles to [debug JavaScript](https://github.com/Microsoft/vscode-node-debug) and [C++ applications](https://code.visualstudio.com/docs/languages/cpp), but I cannot seem to find an example of how to configure vscode to use node-gyp instead of g

[2017-08-25 19:49] weinand commented on #993
_From @jkomyno on August 25, 2017 16:46_

+1

[2017-08-25 19:49] weinand commented on #993
This issue was moved to Microsoft/vscode-cpptools#992

[2017-08-25 19:50] #993 closed, assigned to nobody

[2017-08-25 21:23] pieandcakes commented on #992
@weinand @kmalakoff @jkomyno I don't know how to do this as I've never tried to debug node add-ons. Do you debug this normally with gdb? Do you have a sample project or something that you can share?

[2017-08-25 21:38] weinand commented on #992
@pieandcakes I do not have a sample because I never did this, but @alexandrudima or @bpasero might have a sample.

[2017-08-26 01:59] SE2Dev commented on #957
Would there be any way to expose environment variables set by another extension to the C/C++ extension? For example: If I had a project management extension (such as vscode-cmake-tools) that sets an environment variable containing the target binary, how would I expose this to the C/C++ extension's launch.json without manually setting the environment variable externally? Are there any alternatives

[2017-08-26 06:35] songsen opened #994 "cannot include the header file in current directory"
ubuntu 16.04
VS code version 1.15.1
extension version:
C/C++  0.12.3
CMake 0.0.17
Vim 0.9.0

it cannot include/research the header file in project top directory and always pop "cannot open source file "stddef.h" (dependency of "Queue.h")", but the config is right using the older versions.

example :
"friend.h" file is in  "${workspaceRoot}"
the "friend.h" is include error detected .

[code]

[code

[2017-08-26 07:15] wAuner opened #995 "include errors detected Mac OS X / endian.h"
Mac OS X 10.12.6
VS Code 1.15.1
C/C++ extension 0.12.3

I updated the extension today to 0.12.3 and now I get "#include errors detected". It also says "cannot open source file endian.h (dependency of "iostream").
Never had any issues before. How can I fix this?

[2017-08-26 12:07] aahaselgrove opened #996 "Option for global configuration"
I am a bit confused about how best to configure this extension, and the documentation here didn't seem to clarify. There is a command, 'C/Cpp: Edit configurations', which is clearly for editing the configuration. However, when trying to run this command, I get the message 'Open a folder first to edit configuration'. This seems to imply that configuration is directory-specific? Is there a way to se

[2017-08-26 12:13] BartekkPL commented on #982
@pieandcakes Of course, you have right :) It was my oversight when I was creating this example. There should be `"program": "${workspaceRoot}/a.out"`, because in that place is my executable. But when I change it, still doesn't work.

[2017-08-26 13:16] aahaselgrove opened #997 "#include errors not showing"
OS: Windows 10 Pro Version 1703
VS Code version 1.15.1
C/C++ extension version 0.12.3

After selecting a configuration, the warnings on my #include statements disappear, and do not show again until after a file save or swap.

[2017-08-26 18:51] 7kemZmani opened #998 "C++11/C++14 Error Squiggles!"
I'm using the latest version of VSCode, and the C/C++ extension on Debian 9.
How can I disable "Error Squiggles" from correct C++11/C++14 code?
For example the code in the picture works fine, yet the extension still shows an error!

<a href="https://ibb.co/jENMRk"><img src="https://preview.ibb.co/kkECXQ/screenshot.png" alt="screenshot" border="0"></a><br />

[2017-08-27 04:02] bobbrow commented on #995
Just add `/usr/include/machine` to your `"includePath"` in **c_cpp_properties.json**.  We now add this path by default in 0.12.3 if the c_cpp_properties.json file has not been created yet.

[2017-08-27 04:02] #995 closed, assigned to nobody

[2017-08-27 04:15] bobbrow commented on #998
Can you share your `"includePath"` from c_cpp_properties.json and also the output of `gcc -v -E -x c++ - < /dev/null`?  If they don't match, that is likely the source of the problem.  The extension may have pulled in the wrong default include paths for you.

[2017-08-27 04:26] bobbrow commented on #988
Thanks for reporting this.  I have a fix for it which will be in the next update.

[2017-08-27 05:24] azydevelopment opened #999 "Environment variable not working as includePath for C++"
- VSCode Version: Code 1.15.0 (8b95971d8cccd3afd86b35d4a0e098c189294ff2, 2017-08-09T20:16:18.034Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.12.2

---

Steps to Reproduce:

1. Add environment variable as part of the includePath array.  Example:

"includePath": [
                "${env:INCLUDE}"
            ],

where INCLU

[2017-08-27 05:26] azydevelopment opened #1000 "Environment variable syntax in tasks.json and c_cpp_properties.json is different"
- VSCode Version: Code 1.14.2 (cb82febafda0c8c199b9201ad274e25d9a76874e, 2017-07-19T23:34:09.706Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.12.1
csharp|ms-|1.11.0

---

Steps to Reproduce:

1. Create project with c_cpp_properties.json include path that has "${INCLUDE}" where INCLUDE is an environment variable
2. Create

[2017-08-27 06:14] azydevelopment commented on #802
For the longest time I was wondering why my autocomplete wasn't working.  Makes sense now.

(PS. Hi Bob   -AY)

[2017-08-27 06:22] azydevelopment commented on #1000
I actually can't tell if environment variables are working at all.  Closing this for now in favor of this: https://github.com/Microsoft/vscode-cpptools/issues/999.

[2017-08-27 06:35] azydevelopment commented on #999
Okay as it turns out, I was right the first time and it's just that the environment variable syntax is just different.  In the CPP tools, it seems to be ${ENVIRONEMNTVARIABLE}.

In tasks.json for example, if I use %MSBUILD% as my environment variable for where my build tools are, it's written as ${env:MSBUILD}.  The prefixed "env:" seems to not be accepted in c_cpp_properties.json.

Closing this b

[2017-08-27 06:35] #999 closed, assigned to nobody

[2017-08-27 06:35] azydevelopment commented on #1000
Okay as it turns out, I was right the first time and it's just that the environment variable syntax is just different.  In the CPP tools, it seems to be ${ENVIRONEMNTVARIABLE}.

In tasks.json for example, if I use %MSBUILD% as my environment variable for where my build tools are, it's written as ${env:MSBUILD}.  The prefixed "env:" seems to not be accepted in c_cpp_properties.json.

Reopening this

[2017-08-27 06:36] azydevelopment commented on #1000
Also be aware that I had to move the test header file around every time I wanted to change the environment variable that has the include path as a test because VSCode will seem to cache the location even if I change the environment variable and restart VSCode.

[2017-08-27 06:42] azydevelopment opened #1001 "[Feature Request] Parse semicolon delimited paths for environment variables as include paths"
- VSCode Version: Code 1.15.1 (41abd21afdf7424c89319ee7cb0445cc6f376959, 2017-08-16T18:07:25.676Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.12.3

---

Requesting a feature to allow easier use of environment variables for standard include paths.  For instance, consider the following:

- Create directories C:/lib0 and C:/l

[2017-08-27 07:16] aahaselgrove opened #1002 "Thread-local variables available when debugging"
When I saw that C/Cpp supported [multithreaded debugging](https://code.visualstudio.com/docs/languages/cpp#_debugging), I was excited. However, it appears that this feature currently extends only to displaying the call stack. Could thread-local variables also be shown? Currently, only one thread's thread-local variables are displayed (I assume, the last thread to execute).

[2017-08-27 07:17] aahaselgrove commented on #1002
feature-request
debugging
multiprocessing

[2017-08-27 08:13] wAuner commented on #995
@bobbrow thanks for your answer, but this doesn't solve the problem, I still get the error message. I don't have the directory /usr/include.
My c_cpp_properties.json now contains the following:

[code]

[2017-08-27 09:35] lh123 commented on #902
@bobbrow In the latest version, I found that adding `__stdcall=__attribute__((__stdcall__))` in the definition, IntelliSence can handle windows.h correctly.

[2017-08-27 12:06] Knagis commented on #257
Thanks @JoyBinY - that setting does work, in my case I added a more universal setting:

[code]

[2017-08-27 14:03] ghost commented on #981
I am suffering the same issue.
Sometimes it takes nearly 400% CPU......See below.
<img width="456" alt="29738906-e9e3820c-8a62-11e7-8287-b130afcf09b3" src="https://user-images.githubusercontent.com/31362041/29750500-209d7274-8b73-11e7-9ead-ba07d60f0453.png">

VSCode Version: 1.15.1
OS Version: macOS 10.12.6

Only C/C++ tools and C++ intellisence extension installed.

[2017-08-27 15:29] 7kemZmani commented on #998
`includePath` in `c_cpp_properties.json` looks like this:
[code]

and `gcc -xc++ -E -v - < /dev/null` returned:
[code]

[2017-08-27 21:44] 7kemZmani commented on #998
okay, so now I fixed the ~/.vscode/c_cpp_properties.json to make `intialPath` use the same paths gcc uses, and in the same order.

[code]
restarted vscode, and the same red squiggle line is there :(
it correctly detects C++98 error; but this is a valid C++11, C++14 (and C++17!) code.

[2017-08-28 08:19] marcofiocco commented on #975
You are right, I don't get wiggles (and problems in the window)  if I specify those last 3 paths for devtoolset 6, however the strange thing now is that I can't navigate inside those headers.
I've tried also to delete the database file and restart Code.
It seems I can navigate only files found in the path of the "browse" setting.

[2017-08-28 11:51] dcourtois commented on #989
Hi again, back to work. Here are the only errors that I have:

[code]

The only other one I have is an issue with CMake Tools that I always had, and which never seemed to cause problems.

And once I have the error in cpptools, no matter what I do, I can't make it work again: manually updating the `c_cpp_properties.json` file won't do anything.

(at the moment I'm still trying to find in which circ

[2017-08-28 13:16] Srekel commented on #230
Another thing I would like to be colorized, and I'm assuming it falls on this extension: Different colors for function _definitions_ vs function _calls_.

Like this:

![image](https://user-images.githubusercontent.com/1578924/29774732-e621f13e-8c02-11e7-8a5a-c5cd254381cb.png)

It would make it much easier to see the structure of the code at a glance.

Actually they do have slightly different TM sc

[2017-08-28 13:56] tobiaskohlbau commented on #977
I've the same bug/lack of feature as I use cpptools to debug an ARM Processor with multiple cores. As each core gets it's own `main.cpp` (entrypoint) vscode breaks on every line. Would be nice if this feature/bug could be implemented/resolved.

[2017-08-28 17:15] bobbrow commented on #995
You're on a Mac and you don't have a `/usr/include` folder?  Did you delete it?

[2017-08-28 17:19] bobbrow commented on #902
I'm so sorry I dropped the ball on this.  We've seen a large increase in the number of issues reported per week as more people start using the extension and it's getting harder to keep track of them all.

[2017-08-28 18:22] pieandcakes commented on #982
If you change it does it still give you the same error? Can you make sure you don't have any instances of our mono runtime running? `ps aux | grep mono` should show you if there is anything starting with `mono` running out of your `~/.vscode/extensions` folder.

[2017-08-28 18:23] pieandcakes commented on #1002
@dimpl when you double click on the stack of a different thread, that should show the variables for that thread. If that isn't what you are looking for, can you explain further?

[2017-08-28 18:31] wAuner commented on #995
That's correct. I didn't delete it neither did I do anything crazy. Before the update I hadn't had any problems with VS Code or Xcode. I still can compile everything without problems, I just get this annoying error message all the time.

[2017-08-28 19:25] bobbrow commented on #995
what does your compiler print out when you do `<compiler> -v -E -x c++ - < /dev/null`?

[2017-08-29 04:01] bobbrow commented on #1000
This is tracked by #697

[2017-08-29 04:38] bobbrow commented on #996
The configuration that that command is referring to is for include paths which we have defined to be folder-specific.  If you open a single file, we will attempt to detect the default includes for your operating system, but we don't want to drop a configuration file next to every file you open, so we ask you to open a folder first.

The default settings for the extension can be accessed via "Prefe

[2017-08-29 04:45] bobbrow commented on #981
Are either of you able to share a project or code file that reproduces this error?  All I can tell from the sample is that the IntelliSense engine is parsing the file.

[2017-08-29 04:47] #976 closed, assigned to nobody

[2017-08-29 05:18] wAuner commented on #995
Thanks for your help. This is the ouput:

[code]

[2017-08-29 05:20] wAuner commented on #995
Btw this is my /usr dir:
[code]

[2017-08-29 05:26] azydevelopment commented on #697
Thanks.  Agreed that the syntax should be the same.  Namely, ${env:VARIABLE}.

I can also confirm that ${VARIABLE} works (though not recursively but I'd consider that a feature not a bug).

[2017-08-29 05:44] bobbrow commented on #998
We might need to dig into your header file for this.  The extension compiles your code with c++14 (and partial c++17) support, but if the version of vector you are compiling against doesn't have the support for initializer_list enabled (i.e. it is excluded because of a missing preprocessor define), it will show up as a squiggle.

I haven't used linuxbrew before so if you could share some instructi

[2017-08-29 06:01] renkun-ken commented on #697
It works now, thanks!

[2017-08-29 06:01] #697 closed, assigned to nobody

[2017-08-29 06:07] azydevelopment commented on #697
Wait, what works now?  ${VARIABLE}?

There should probably be another bug tracking the fact that the syntax is different in c_cpp_properties.json vs tasks.json (and probably other stuff).

@bobbrow, should I reopen the other one?

[2017-08-29 06:41] Aeonos opened #1003 "IntelliSense, Peek Definition/Declaration and Reference lookup not working"
Hi there,
i dont get any information on variables, structures or anything while coding C on a Debian installation.
Debian 9.1 stretch x86
GLIBC 2.24
gcc 6.3
There are no problems reported in VS Code. If try to peek Definition (-> nothing happens). peek Declaration (nothing happens), goto Declaration (nothing happens), goto Definition (nothing happens), Find All References ( reports: no results). T

[2017-08-29 06:57] Gurpartap commented on #882
There's a way to do this with certain language extensions (typescript, go). Details here: https://github.com/Microsoft/vscode-go/issues/276#issuecomment-205439716

[2017-08-29 08:01] heraclitusq commented on #981
Encountered the same problem just now while exploring the flexible array member feature in C struct.
OS: MacOS 10.12.6
VSCode: 1.15.1
C/C++ Plugin: 0.12.3

After tried a while, narrowed down the problem to be occurring with below code:
[code]
the line `px pixel[][]` triggers the issue. (I know it's not legitimate now as the clang will throw error about it.)
Hope this info could do some help with t

[2017-08-29 08:36] bigtang5 commented on #877
My launch.json:
{
    "version": "0.2.0",
    "configurations": [
    {
        "name": "(gdb) Bash on Windows Launch",
        "type": "cppdbg",
        "request": "launch",
        "program": "/mnt/c/Linux/test/a.out",
        "args": [],
        "stopAtEntry": false,
        "cwd": "/mnt/c/Linux/test",
        "environment": [],
        "externalConsole": true,
        "pipeTransport": {

[2017-08-29 09:57] jhasse commented on #257
With MinGW64 from MSYS2.

[2017-08-29 10:23] JoyBinY commented on #257
With GCC from MSYS2
Target : i686-pc-msys

[2017-08-29 10:46] jhasse commented on #257
Does that mean with the MSYS2 shell (and not the MinGW32/64 shell)?

[2017-08-29 10:52] JoyBinY commented on #257
yes, here i use the msys-gcc which installed by using command `pacman -S gcc`.
msys-gcc is difference from msys-gcc which is installed by [mingw-get-setup.exe](https://sourceforge.net/projects/mingw/files/latest/download?source=files) .
Using `gcc -v` can show more information,  and you can find "Target : i686-pc-msys" there

[2017-08-29 10:53] jhasse commented on #257
I mean MinGW from MSYS2 which is placed in C:/msys64/mingw64/bin/gcc.exe for example. This will get used if you open the MinGW64 shell shortcut.

[2017-08-29 15:13] edlgg commented on #494
Where and how can I define the task to make c++11 work? Im using Ubuntu, I dont know if it would be different.

[2017-08-29 15:32] bobbrow commented on #995
Thanks.  Now that I think about it, I don't think `/usr/include` gets added on Mac unless you run `xcode-select --install`

Try doing `find /Applications/Xcode.app -name "endian.h"`.  You should find at least one candidate path that matches the include path you shared above.

[2017-08-29 15:35] bobbrow commented on #995
(and BTW, I would recommend updating your include path to match the output of your compiler)

[2017-08-29 15:47] bobbrow commented on #1000
#697 was closed and doesn't specifically ask for ${env:VARIABLE} so we can use this issue to track it instead.

[2017-08-29 15:48] bobbrow commented on #697
I reopened it.

[2017-08-29 15:50] bobbrow commented on #1003
We do not currently distribute 32-bit binaries for linux. #424 tracks this.

[2017-08-29 15:50] #1003 closed, assigned to nobody

[2017-08-29 16:57] bobbrow commented on #970
Since there was no clear winner, we decided to support both options.  So you can specify the framework include path either way and we'll accept it.

[2017-08-29 18:07] pieandcakes commented on #877
@bigtang5 Which version of windows 10 are you running? Are you running the version with Creator's Update? This will show as 15063, Any version before that does not contain the bug fixes in WSL that are necessary for us to communicate with bash.

[2017-08-29 20:19] dirkvdb commented on #981
To reproduce it with my project:
[code]
Then Cmd+p and open upnp.http.functions.cpp

The bootstrap script will take a while as it sets up all the project dependencies (ffmpeg, libpng, libjpeg, boost, ... ) but is necessary as it puts all the third party headers in place.

This does require cmake, autotools, yasm, a working compiler, ... in order for the bootstrap to succeed

[2017-08-29 21:53] colemickens opened #1004 "[Visual C++] Hold console window open after program termination"
I want to debug my application, but it takes a lot of flags. I'm missing one of those flags in `launch.json`. However, when I start debugging with cppvsdbg, then I can't see the error message when debugging because it just terminates before I can see the error message. Some helper function in a library down inside is calling os exit, so it's not easy for me to just set a breakpoint at the bottom o

[2017-08-29 23:21] 7kemZmani commented on #998
Linuxbrew is a simple package manger (a fork of the popular macOS Homebrew project that runs on linux). To install it, you'll need first the dependencies:
`sudo apt-get install build-essential curl file git python-setuptools ruby`
and then install linuxbrew with:
`ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install)"`
you should see it now installed in `/home/l

[2017-08-29 23:24] xLobito commented on #877
I recently updated to latest W10 build and it's working now.

Thanks a lot for the help @pieandcakes

[2017-08-30 03:41] bobbrow commented on #994
Can you paste the output of `gcc -v -E -x c++ - < /dev/null`?  The paths listed by your compiler should all be present in the `"includePath"` or else you may see errors like that.  It appears that you are missing the path to "stddef.h".

[2017-08-30 06:37] wAuner commented on #995
Thanks a lot, I was finally able to get rid of this annoying error message by adding `/Applications/Xcode.app//Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/i386/`as include path to `c_cpp_properties.json`.
Would you be so kind to help me understand what and why this happened? I'm new to c++.
I was surprised to find that the `c_cpp_properties.json` was created

[2017-08-30 14:40] bobbrow commented on #995
We haven't gotten to the root cause for the "endian.h" missing error yet. The folder you need to add to get it isn't reported by the compiler.

Where was c_cpp_properties.json created?  We always create it in `${workspaceRoot}/.vscode/c_cpp_properties.json`.  We don't create the file until you use the "C/Cpp: Edit Configurations..." command.  When the file is not present we use a set of default va

[2017-08-30 15:29] bobbrow opened #1005 "Need to fix include errors for "endian.h" on Mac"
It was bothering me that "endian.h" was being demanded in projects where we had correctly set the includePath based on the compiler's output.  "endian.h" could not be found in the system headers.

It turns out the "endian.h" issue is actually caused by a missing default preprocessor symbol.  The Xcode header files expect `__LITTLE_ENDIAN__` to be set by the compiler.  For those who have already ad

[2017-08-30 15:30] bobbrow commented on #850
The root cause for this is being tracked by new issue: #1005.  Add `"__LITTLE_ENDIAN__"` to your `"defines"` array in c_cpp_properties.json and you won't need to add a path to "endian.h".

[2017-08-30 15:31] bobbrow commented on #944
The root cause for this is being tracked by new issue: #1005.  Add `"__LITTLE_ENDIAN__"` to your `"defines"` array in c_cpp_properties.json and you won't need to add a path to "endian.h".

[2017-08-30 15:31] bobbrow commented on #995
The root cause for this is being tracked by new issue: #1005.  Add `"__LITTLE_ENDIAN__"` to your `"defines"` array in c_cpp_properties.json and you won't need to add a path to "endian.h".

[2017-08-30 15:42] ghost commented on #981
In my case, reproduce as follows:

1) git clone https://github.com/virgo-coder/EdgeDrawing
2) Open EdgeDrawing directory in VSCode
3) Add include path "${workspaceRoot}/include", it looks like this
[code]
4) open examples/example.cpp, it always says "loading" when I point to any symbol. At the same time, Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin keeps consuming a core.

OS Version: macOS 10.12

[2017-08-30 15:52] bobbrow commented on #981
Thanks everyone!  I'll take a look at these samples.

[2017-08-30 16:41] rpavlik commented on #379
FWIW, this does not appear to work with memory addresses in hex (such as debugging on an MCU) - no permutation of h or x, a delimiter like , or /, and the address, would display any value.

[2017-08-30 16:58] Leedehai commented on #1005
I suggest you file a complaint to XCode.. the sacred standard header files should not be tinkered with.

[2017-08-30 17:53] bobbrow commented on #981
@heraclitusq, the code you posted results in an infinite loop in the front end compiler.  I passed your case on to the compiler team.

@dirkvdb and @virgo-coder, I can reproduce your issues as well, but haven't determined the root cause yet.

[2017-08-30 18:38] JeffreyCA commented on #1005
Thanks! Removed the extra include path and modified it like so:
[code]

[2017-08-30 22:07] miradesne opened #1006 "Unable to start debugging. Launch options string provided by the project system is invalid."
Hi,

I'm following tho documentation to setup C++ debugging with MinGW. However after the build task VS Code failed at starting debugging with error `Unable to start debugging. Launch options string provided by the project system is invalid. at line 6 position 27` in the `launch.json`.

Here's my `launch.json`:
[code]

  * Operating System and version:
 ** Windows 10 Home
  * VS Code version
 **

[2017-08-30 23:12] pieandcakes commented on #1006
@miradesne your `miDebuggerPath` is missing a \ between `MinGW` and `bin`. Also, is your application called `a.exe` in your root of your workspace? Can you also share your preLaunchTask (`tasks.json`) ?

[2017-08-30 23:13] pieandcakes commented on #1004
If you want us to launch your app and then pause, you can enable `stopAtEntry` to be true and we will stop at the first line of the `main()` method.

Otherwise this will be a feature request.

[2017-08-30 23:20] colemickens commented on #1004
I am aware of that flag… but it's not the behavior I'm looking for. I
really just want to see the output of my application after it exits when
running in debug mode. I think this *is* a feature request, though I was
hoping maybe it was an undocumented feature or one with a workaround.

I suppose alternatively, if this ran in the integrated debugger, presumably
it's buffer would stick around. But t

[2017-08-30 23:26] colemickens commented on #1004
In particular, I was hoping there was some way I could trick the whole
thing into just executing the debugger command but also running `pause`
afterward somehow. Or something similar. Alternatively, if it's an easy
contribution here I could try to add it.

Thanks!

On Aug 30, 2017 4:20 PM, "Cole Mickens" <notifications@github.com> wrote:

[2017-08-30 23:28] pieandcakes commented on #1004
For Visual C++ we can look at doing it but since the console showing the output is child process of the debugger and when you stop debugging, the debugger exits, this might not be something we can solve.

One of the items on our backlog is to output the text to the debug console in VSCode.

Unfortunately the Visual C++ debugger itself is not open source but thanks for the offer!

[2017-08-31 01:43] heraclitusq commented on #981
Thanks @bobbrow .

[2017-08-31 02:59] bobbrow commented on #981
@dirkvdb and @virgo-coder, your cases are the same bug, but a different infinite loop than @heraclitusq.  I am passing your issue over to the compiler team as well.

[2017-08-31 03:27] ghost commented on #981
@bobbrow Thanks :)

[2017-08-31 04:41] Heromyth opened #1007 "Can't recognize *.c++ files automatically on Windows"
It must set the file format associations to cpp in local settings.

[code]

All the tools are latest.

[2017-09-01 14:01] cesar-pa commented on #658
The lack of Doxygen block generation is the only thing stopping me to leave Sublime. I need to have something like DocBlockr.

[2017-09-01 16:35] ivankravets commented on #763
@robotdad

How could you explain the fact that non-Microsoft extension named "Native Debug" works excellent? The problem is with `vscode-cpptools` extension, it launches debug session through Apple Script instead of using Node.JS process spawning.

We `"cwd": "${workspaceRoot}"` and `"miDebuggerPath": "...."`. Normally (for Eclipse, even for Native Debug), they change directory to `cwd` before spa

[2017-09-01 16:38] bobbrow commented on #1007
If you have some time to help out, you can modify this file: [extensions/cpp/package.json](https://github.com/Microsoft/vscode/blob/master/extensions/cpp/package.json) and submit a pull request to VS Code

[2017-09-01 17:24] bobbrow commented on #230
There doesn't appear to be a way for us to do much of what we want right now because colorization is managed by TextMate grammars (regular expressions) instead of based on semantic parsing of the file.  I do see a feature request open on VS Code to enable a better mechanism https://github.com/Microsoft/vscode/issues/1967

[2017-09-01 17:33] bobbrow commented on #230
(go and upvote that vscode issue and maybe they'll prioritize implementing it)

[2017-09-01 19:38] pieandcakes commented on #955
This is the same request as #35.

[2017-09-01 19:38] #955 closed, assigned to nobody

[2017-09-01 19:40] HallEffect commented on #658
I'd like to have something like DoxyDoxygen in Sublime to generate comment by Alt+Q

[2017-09-01 20:13] ghamelin commented on #955
so has this feature been added or is it still in progress?

[2017-09-01 20:52] pieandcakes commented on #955
It is on the backlog of work that still needs to be done.

[2017-09-02 02:42] boormat commented on #298
Using URL's with redirects in the package.json make this process much more complex. e.g. https://go.microsoft.com/fwlink/?linkid=847739

For other tools, such as Jenkins, I have used a NGINX to proxy_pass from the internet URL to a local mirror with the downloaded files.  This works best if there is no redirects to mess with, just real URLs pointing at a versioned file names.  As a bonus you can m

[2017-09-02 23:13] deathly809 opened #1008 "Allow for indented formatting of namespaces."
Currently when I have nested namespaces they are flattened when I format:
[code]
Would it be possible to add a flag to not do this and instead do this:
[code]

[2017-09-03 13:11] ehsangifani opened #1009 "cannot change tabsize (stuck on the default 4)"
Following documentation, I used :
"C_Cpp.clang_format_fallbackStyle": "{BasedOnStyle: none, UseTab: true, IndentWidth: 8, ColumnLimit: 80}"
and also
"C_Cpp.clang_format_fallbackStyle": "{BasedOnStyle: LLVM, UseTab: true, IndentWidth: 8, ColumnLimit: 80}"
and even
"C_Cpp.clang_format_fallbackStyle": "{BasedOnStyle: Visual Studio, UseTab: true, IndentWidth: 8, ColumnLimit: 80}"
and even the example

[2017-09-03 14:48] jyavenard commented on #637
My source code was located in the directory ~/Work/Mozilla/mozilla-central

After doing the following.
rename:
$ ~/Work/Mozilla/mozilla-central to ~/Work/Mozilla/mozilla-central.bak
$ mkdir central
$ rsync -avP mozilla-central.bak/.git/ central/.git/
$ cd central
$ git reset --hard HEAD
$ re-open VS Studio, point to the ~/Work/Mozilla/central directory

Now things are working as they used to.

Ver

[2017-09-03 15:07] jyavenard commented on #637
this now works for me...
puzzled on what happened. but anyhow..

[2017-09-03 15:08] jyavenard commented on #612
After renaming the core folder as described in issue #637, everything now works fine.

[2017-09-03 19:06] horvay commented on #1009
I couldn't get this to work either. What worked for me eventually was creating a .clang-format file, and putting the following:
[code]

Obviously you'll have to change it to 8. Also you may want to try setting editor.detectIndentation to false in your settings file.

[2017-09-04 02:59] Jiaguan opened #1010 "In 'lanch.json', How to remove the personal configure in 'sourceFileMap'?"
This is my 'sourceFileMap' in 'lanch.json'
          "sourceFileMap": {
                "/export/home/z00292338/dtcenter/demo" : "${workspaceRoot}"
            }

'z00292338' is my personal card ID, but we need  global configure.
 We change it to '{env:USERNAME}', but then vs code report 'can not find file'.
Does anybody know how to get a global configure?

[2017-09-05 02:51] frost-see commented on #1010
same problem when debuging with pipeTransport.

[2017-09-05 08:37] tonimoro opened #1011 "No symbol found in all my .cpp files on Linux CentOs7"
Hi,

Visual Code seems great and I would like to make a try. Unfortunately, I get a problem with the C/C++ extension. When I open any of my cpp file and then press "ctrl+shit+o" to view the symbols , no symbol are found. In the same way, go to defintion always returns "No definition found for..."
All my includes files are well regonized (I don't see any green squiggle ) . Is there a way to force t

[2017-09-05 09:36] tonimoro commented on #1011
One more detail, I saw that I have no "vc.db" file present in the .vscode folder. Only  the "c_cpp_properties.json"file

[2017-09-05 11:28] sean-mcmanus commented on #1011
Our extension process won't run on CentOS7 due to a dependency on glibc 2.18. See https://github.com/Microsoft/vscode-cpptools/issues/19 for a potential workaround.

[2017-09-05 11:28] #1011 closed, assigned to nobody

[2017-09-05 12:09] tonimoro commented on #1011
ok thanks. It's ok now with the workarounk provided in the previous thread.

[2017-09-05 12:38] sean-mcmanus commented on #1009
@ehsangifani "true" is not a valid value for UseTab. What are the results of the formatting? Is the ColumnLimit setting working? I am able to get the fallbackStyle setting to be used. Your `C_Cpp.clang_format_style` needs to be "file" (the default). Also, no .clang-format file can exist in the workspace or any of its parent folders.

[2017-09-05 12:56] sean-mcmanus commented on #1008
Using `NamespaceIndentation: All` works. See http://releases.llvm.org/4.0.0/tools/clang/docs/ClangFormatStyleOptions.html .

[2017-09-05 12:56] #1008 closed, assigned to nobody

[2017-09-05 14:14] amecareth opened #1012 "Intellisense not triggering"
Hello,
I'm running vscode 1.15.1 on a Debian Jessie, kernel version is 3.16.0-4-amd64 with the extension version 0.12.3.
It seems that the intellisense is never triggered as I don't get the green highlight on my include and nothing happens when I invoke the setting file myself. If checked all the extension dependencies as well as the vscode ones with ldd and everything is good on that side.
Any id

[2017-09-05 14:19] #1012 closed, assigned to nobody

[2017-09-05 20:07] jtlimback opened #1013 "Side-loading of C/C++ extension"
I've been able to install/use this extension with great success on a machine with access to the VSCode marketplace.  I now find that I need to install on a machine on an isolated network.  I've downloaded the VSIXPackage file and installed from that.  However, on reload the extension wants to download/install dependencies.  Is there any way for you to let me know what the dependencies are so I can

[2017-09-05 21:09] ehsangifani commented on #1009
Well UseTab was mentioned in the [doc](https://code.visualstudio.com/docs/languages/cpp) but was undocumented regarding its value so I assumed 'true' would be logical. Anyhow, none of the settings work. The key-values inside the fallbackStyle have no effect whatsoever; only my editor's defaults get used.
`C_Cpp.clang_format_style` is the default 'file' and there is no .clang-format file.
And I eve

[2017-09-05 21:54] sean-mcmanus commented on #1013
Instead of copying/installing the .vsix, can you copy/paste the installed folder after the dependencies have downloaded/installed (assuming the OS is the same), e.g. at `/home/username/.vscode/extensions/ms-vscode.cpptools-version`? That is the recommended way. You could also try using the runtimeDependencies links in our package.json to manually download the dependencies, but that bypasses our in

[2017-09-05 22:15] sean-mcmanus commented on #1009
Do you have a _clang-format file? We also look for that. Do any of these below have an effect?

`"C_Cpp.clang_format_fallbackStyle": "{ ColumnLimit: 5 }"`
`"C_Cpp.clang_format_style": "{ ColumnLimit: 5 }"`

It sounds like the fallbackStyle is failing to be used at all. I don't see any places in the code where a bug could exist. I think we me need a repro somehow so we can debug it. Does this probl

[2017-09-05 22:21] sean-mcmanus commented on #1009
Yeah, and the docs are confusing and not really accurate when it says "(VS Code current setting)". I'll see if I can get someone to fix it. It should say that the Visual Studio style uses the "Never" when editor.insertSpaces is true and "Always" otherwise. And IndentWidth is set to the editor.tabSize value, which also sets TabWidth (missing from the list in the docs), although if editor.detectInde

[2017-09-05 23:16] #601 closed, assigned to nobody

[2017-09-05 23:18] #888 closed, assigned to nobody

[2017-09-05 23:19] pieandcakes commented on #1010
We don't do any preprocessing for variables. whatever VSCode passes us is what we use. If VSCode has a mechanism to have a variable, then as long as it is replaced with the right value before the debugger is called, it will work.

[2017-09-06 01:07] frost-see commented on #1010
@pieandcakes Thanks for your reply, I added some details,
On my computer, it seems that VSCode has already parsed the variables. But Debugger does not recognize.
And VSCode pops up the following message box:

"Error: Unable to open 'main.cpp': File not found (\usr1\pDTest\demo\main.cpp).    Create File     Cancel"

The sourceFileMap is very simple:
[code]

[2017-09-06 04:28] sean-mcmanus commented on #494
@edlgg Did you figure it out? I'm not sure exactly what you're asking for help with. Have you created your task.json yet? What compiler do you want to use? It would be better if you created a new issue instead of adding a comment to a closed issue.

[2017-09-06 11:13] sean-mcmanus commented on #902
So should the MinGW docs be updated to include the __stdcall definition? https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md

[2017-09-06 12:13] sean-mcmanus commented on #975
@marcofiocco Yes, you should add paths to browse.path too (the symbol database uses that), such as  `/opt/rh/devtoolset-4/root/usr/include/c++/5.3.1`, which will recursively find the other paths (unlike includePath, which is non-recursive.

[2017-09-06 12:27] sean-mcmanus commented on #997
I can repro this. Looks like we don't queue an IntelliSense squiggle request for open files after a configuration switch.

[2017-09-06 14:24] jtlimback commented on #1013
I originally copy/pasted the ms-vscode-.cpptools-0.12.2 directory from my local .vscode directory to the corresponding directory under the user on the machine that is on the isolated network.  The extension seems to work fine but when I tried to run the debugger I would get a failure.  I thought installing by copy/paste may be the problem.  I noticed the hardcoded paths in the package.json file an

[2017-09-06 15:09] sean-mcmanus commented on #556
@vscpp I don't think we're planning to add that setting soon due to higher priority tasks, but if we're able to open source the typescript part of our extension, then users could contribute such a setting. It may also be possible to modify the javascript/json files yourself to add the setting (the line that sets it is `storage_path: util.extensionContext.storagePath,` in `.vscode/extensions/ms-vsc

[2017-09-06 17:44] jtlimback commented on #1013
As stated previously, after I copied my .vscode/extensions/ms-vscode.cpptools-0.12.2 directory to the isolated machine, I was getting "Debug adapter process has terminated unexpectedly".  This led me to believe that I needed to install the extension differently because I wasn't sure that copying the directory was a valid way to install.  After your comment that copying was the preferred way to ins

[2017-09-06 17:44] #1013 closed, assigned to nobody

[2017-09-06 18:14] sean-mcmanus commented on #1013
Ah, yeah, sorry -- I forgot to mention that you should do a copy or zip that copies the executable permissions too (our install step does that normally). I found some info at https://askubuntu.com/questions/225865/copy-files-without-losing-file-folder-permissions in case other users hit the same issue. We've considered eventually adding a "export/import" command for offline installation.

[2017-09-06 18:17] mattiasm83 opened #1014 "Error squiggles on template template arguments"
I fave found an issue where defaulted template type arguments in combination with template template arguments causes error squiggles that says that no instance of function template matches the argument list, even though the code is perfectly fine.

An example:

[code]
The call to f, gives me this:

The problem seems to be the second type parameter to std::vector (the allocator), because if I chang

[2017-09-06 19:59] sean-mcmanus commented on #1014
The code doesn't compile with Microsoft cl compiler, but it compiles with clang. It complains "could not deduce template argument". I don't know which compiler is correct. Can you use `template< template<typename, typename...> class Container, typename A, typename... args>
void f(const Container<A, args...>& container)` instead? That seems to be more what you're intending, because typename... coul

[2017-09-07 01:11] jenmueller opened #1015 "Printing characters for file.peek() in watch window - debug"
Typing file.peek() in the watch window under debug mode prints this message while stepping in my code: `file.peek(): Couldn't find method std::ifstream::peek`.

I have added a .natvis file but I am still unable to see what the peek method is analyzing in the watch window.

I also get the error `Unable to step out. Operation failed with error code 0x80004004` while trying to step out (SHIFT+F11) in

[2017-09-07 09:18] ix-dcourtois commented on #984
Hi, I have the same kind of issue when debugging: if my project was built using file `D:\Development\Foo\Bar.cpp`, when I set a breakpoint in it, when the debugger hits it a second file named `D:\development\foo\bar.cpp` is opened.

This is really hurting when debugging complex projects: 10 breakpoints spread in 10 different files result in 20 files opened. And the worse thing is that the breakpoi

[2017-09-07 13:16] ByteBender747 opened #1016 "Picking a process ID for attaching with the GDB debugger is not possible anymore"
VSCode Version: 1.15.1
OS Version: Windows 7 Enterprise 6.1 (Build 7601: Service Pack 1)
C/C++ Extension Version: 0.12.3

I use the following launch.json configuration:

{
"version": "0.2.0",
"configurations": [
{
"name": "(gdb) Attach",
"type": "cppdbg",
"request": "attach",
"program": "C:/02_tools/00_executables/BT_RTSIM.exe",
"args": [],
"stopAtEntry": false,
"processId": "${command.pickProcess

[2017-09-07 19:50] mattiasm83 commented on #1014
Thanks for the reply!

I was running VSCode under linux, so I have only tried to compile with gcc and clang, and both seems to work fine. The suggestions you recommended solves the problems. I was using Vim before trying out VSCode, and I did not get the error in Vim. However, Vim probably used clang for the diagnostic messages so that might explain it.

I don't know if it is a compiler bug, only

[2017-09-07 21:29] roblourens opened #1017 "[cppvsdbg] Option to disable thread exit logging in launch.json"
_From @akbyrd on September 7, 2017 21:20_

Desired Behavior:

I'd like the ability to disable thread exit messages in the Debug Console. Options already exist for other types of messages such as module loads (under logging.moduleLoad), so this would simply be another one added to the list.

![vscode thread exit messages](https://user-images.githubusercontent.com/484784/30185717-47708c06-93e8-11e7-

[2017-09-07 22:48] akbyrd opened #1018 "Option to print stdout/stderr to either the Console or Integrated Terminal"
The Debug Console tends to be pretty spammy. I'd like to be able to see my program output separately, as I normally would when running without the debugger. Ideally, it would simply be duplicated to either the the Integrated Terminal (allowing for stdin) or Output window.

Note the IGIESW, IGIWHW, and thread exit messages below being run together with my program output. I don't necessarily want to

[2017-09-08 01:54] sean-mcmanus commented on #1014
Thanks for reporting this. It turns out to be a bug in our compilers (for a spec discussion, see http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2016/p0522r0.html ). cl.exe has a fix in an internal build, and our IntelliSense engine is scheduled for the fix too (6 months is my best rough guess for when we could have it).

[2017-09-08 06:58] liuchanchen opened #1019 "default intellisense engine not working"
VSCode Version:
1.15.1
OS Version:
ubuntu 16.04 LTS

extension version:
0.12.3

Steps to Reproduce:
1.install c/c++ extension
2.set C_Cpp.intelliSenseEngine as defult
3.restart vs code
4.find autocomplete doesn't work

[2017-09-08 07:40] updateing opened #1020 "Update clang-format to properly break braces before `typedef enum {`"
This is an [upstream bug](https://reviews.llvm.org/D37143?id=113035) which was fixed two weeks earlier. Currently I'm able to reproduce this on

* Ubuntu 16.04
* VSCode 1.15.1 stable build
* Cpptools 0.12.3
* `BreakBeforeBraces: Allman` in .clang-format (also reproducible with default "Visual Studio" style)

with following code snippet:

[code]

VSCode would format it as I've typed above. The expe

[2017-09-08 08:04] marcrowo commented on #1019
I think this might have to do with #981 and the `intelliSenseEngine: "Default"` setting causing intelliSense parsing to be stuck.

After changing my intelliSenseEngine to "Tag Parser", autocomplete, formatting, etc. seem to work. However, this will reduce the quality of the intelliSense suggestions.

[2017-09-08 09:07] liuchanchen commented on #1019
setting intellisense engine as "tag parse" works. And I also find it autocomplete works fine in windows,is it related with OS?

[2017-09-08 11:32] aengusjiang commented on #635
Haha , This issue is fixed in Vscode 1.16.0

[2017-09-08 14:29] Gruntfuggly opened #1021 "How to exclude folders?"
If I do peek declaration on an item, the peek window opens showing me instances in a folder I have included in the _files.exclude_ settings. If I search manually (Find in Files) it doesn't find them.

Is there a way to exclude folders from the _browse.path_, or should the extension respect the _files.exclude_ setting?

It would be great if it could do one or the other, especially as doing a contro

[2017-09-08 16:51] marcrowo commented on #1019
I also noticed this on a non-Windows system (macOS).

[2017-09-08 17:52] sean-mcmanus commented on #1019
With the Default IntelliSense engine, what is your Microsoft.VSCode.CPP.IntelliSense.Msvc.exe doing when you open a file and hover? Is it using lots of CPU, is it crashed, etc.? Autocomplete could fail if it somehow fails to parse the translation unit. Does it work for a simple C++ workspace with just a main function? Yes, it could be OS related.

[2017-09-08 17:58] sean-mcmanus commented on #1020
As a workaround, you can set your C_Cpp.clang_format_path to the path to a local version of clang-format that has the fix. Do you know which version of clang-format has this fix in it? We're currently shipping 4.0, but I see that 5.0 is now available.

[2017-09-08 18:10] bobbrow commented on #1021
Did you set the files.exclude before or after you opened your folder?  If you set it after, you might be hitting a bug in the extension where we don't ever remove paths that have already been indexed.  If you use the "Reset IntelliSense Database" command, it should re-index your folder and take the files.exclude into account.

[2017-09-08 18:10] sean-mcmanus commented on #635
The bug still exists when the IntelliSense engine is set to "Tag Parser". You probably are using the "Default" implementation, which doesn't have the bug. So the bug isn't really fixed, but using the Default intelliSense engine setting is recommended anyway.

[2017-09-08 18:18] sean-mcmanus commented on #1021
We do have code that should remove all the excluded files/folders after the files.exclude setting changes, but it's possible there might be scenarios where it doesn't complete (i.e. if VS Code is closed right after the setting changes). If you make some additional change to files.exclude, do you see the flame appear in the bottom right and does it get fixed? Resetting the database should also work

[2017-09-08 18:53] iyyappam opened #1022 "Debugging: Attaching to a process results in a Error."
OS: xubuntu 16.04
VSCode: 1.15.1
C++ Extension : 0.12.3

I'm trying to attach to pid 5225.

{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "C++ Attach",
            "type": "cppdbg",
            "request": "attach",
            "program": "somename.exe",
            "cwd": "${workspaceRoot}",
            "environment": [],
            "processId":"5225"

[2017-09-08 18:53] marcrowo commented on #1019
The Default IntelliSense engine works for a simple file.

However, after opening a file that includes a large header file (like [doctest](https://github.com/onqtam/doctest)), the CPU usage of  `Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin` is very high and there is a red flame in the status bar with tooltip "Parsing...". At this point, IntelliSense is also no longer working.

For the same files,

[2017-09-08 20:09] pieandcakes commented on #1010
@Jiaguan  @nbstar When using {env.USERNAME} in your sourceFileMap (or in pipeTransport) VSCode does not replace env.USERNAME with your username (pDTest). That means that we get the literal string `{env.USERNAME}` when we get your `launch.json` config and not `pDTest`. This would need to be something VS Code would take as a feature request and would need to replace the parameter of `{env.USERNAME}`

[2017-09-08 20:09] #1010 closed, assigned to nobody

[2017-09-08 20:12] pieandcakes commented on #1022
@iyyappam When you say Process picker doesn't work, what about it is not working?

The error that you get about syscall-template.S is expected because it is stopping on a library code file. can you verify if you can see items in the call stack window? When you get the VSCode error, is debugging paused?

[2017-09-08 20:19] pieandcakes commented on #1022
Looks like the process picker issue is a duplicate of #1016

[2017-09-08 20:29] pieandcakes commented on #1016
@Lichtbogen Can you try updating yourself to VS Code 1.16? I wasn't able to find 1.15.0 or 1.15.1 to install and test it with but I just downloaded 1.16.0 and the 0.12.3 version of the extension and I don't see an issue with using the process picker.

[2017-09-08 20:32] sean-mcmanus commented on #1019
@marcrowo Yeah, your issue sounds like https://github.com/Microsoft/vscode-cpptools/issues/981 . I don't know yet if @liuchanchen is experience the same behavior.

[2017-09-08 20:40] pieandcakes commented on #1016
@Lichtbogen I notice that you have green squiggles under `request: "attach"` and `"processId"`. Can you reinstall the extension? Looks like VSCode isn't recognizing our extension properly.

[2017-09-08 20:41] pieandcakes commented on #1016
I also have a colleague with 1.15.1 and we tested this with MinGW and are not seeing any errors.

[2017-09-08 20:44] pieandcakes commented on #1015
This seems to be because you are attempting to step out on the last frame. in the Debug Console window, you should see the gdb error. The post you referenced doesn't seem to have anything to do with that error.

[2017-09-08 20:47] pieandcakes commented on #1006
@miradesne I can't duplicate this and I haven't heard back from you. If this is still not working for you, please provide the information requested and reopen this issue.

[2017-09-08 20:47] #1006 closed, assigned to pieandcakes

[2017-09-09 04:40] liuchanchen commented on #1019
I print the process cpu utilization and find the extension usage seems not very high
![image](https://user-images.githubusercontent.com/12830947/30237075-605c3984-955c-11e7-8e35-704c3e3c8989.png)

[2017-09-09 04:50] liuchanchen commented on #1019
Actually, the autocomplete even not work in a pretty simply file just like:
int main()
{
    int i;

    return 0;
}

[2017-09-09 05:24] greghornby opened #1023 "MacOS, browse.path missing 2 directories"
The default c_cpp_properties.json file gave this default array of paths for the browse.path for Mac

[code]

but it was still saying it could not find these in the browse.path
[code]

After opening in XCode and revealing in finder where these libs were, I found I had to add these 2 paths to my browse.path

[code]

Is my XCode installed wrong or is this just because XCode has updated it's filepaths

[2017-09-09 05:54] updateing commented on #1020
I just checked the 5.0 release, only to find that the fix was not included. Guess I'll have to build one myself. Thanks!

[2017-09-09 05:54] #1020 closed, assigned to nobody

[2017-09-09 13:29] ghost commented on #969
I am having the same issue on Windows 10 Build 16281 with VS Code 1.16. "Include errors detected. Please update your include path". But the c_cpp_properties.json contains the full path of the include file that cannot be found. And there are no non-ASCII characters in the path.
This is a fresh install of VS Code (after deleting the .vscode directory as well) and just a few extensions installed.

[2017-09-09 16:21] ZZYSonny opened #1024 "g++ with -Wall warning stops the launching of the program with no error"
That happens after a VSCode update that problems showed by g++ was put to the place of terminal. I am not quite sure whether this is a issue of vscode or cpptools.
Without -Wall in tasks, the problem part (Intellisense Engine) don't show the warning. Sometimes warning provides things that can prevent unnecessary debug while sometimes I ignore them. If I still want the -Wall, I wouldn't be able to

[2017-09-10 13:35] sean-mcmanus commented on #1019
@liuchanchen Does "main" autocomplete for you? It should be autocompleting using the Tag Parser (even when "Default" is set). "i" shouldn't autocomplete (unless it exists at a global scope elsewhere) because we don't support autocompletion of local variables yet. The enhanced "Default" autocompletion only provides results for after . -> ::. However, I'm seeing that fail to work in this simple exam

[2017-09-10 14:03] sean-mcmanus commented on #1024
I don't understand. Is this a problem with the IntelliSense engine output or the g++ build task output? Our extension adds problems from our IntelliSense engine (change `C_Cpp.errorSquiggles` to Disabled to disable them). We also add a "gcc" problem matcher. Any other bugs would probably be a VS Code issue. Does this issue reproduce when you disable the C++ extension?

[2017-09-10 14:19] jyavenard commented on #612
Now I can reproduce on Windows too...

[2017-09-10 14:19] jyavenard commented on #637
Now I can reproduce on Windows too...

[2017-09-10 14:37] ZZYSonny commented on #1024
This problem is related to the launch of C++.
The problem is that if I want g++ warning (things like unused variable) in intellisense engine or command part, I have to write -Wall in g++ command in tasks.json . Thus I have to press "Debug Anyway" to run the program with no syntax error but some warnings can't run because vscode(or plugin) thought g++ returned error code 1. Is it possible to add a

[2017-09-10 18:01] Anandesh-Sharma commented on #1004
I have also the same problem but using cin.get() i was able to pause the console output screen and press ctrl + C to exit the output screen. But there should be a way to attach this command to launch.json

[2017-09-10 18:13] Anandesh-Sharma commented on #583
Just create the two files under .vscode folder i.e. launch.json and tasks.json. And also you have MinGW installed on your machine. Copy and paste these line of codes in these two files.
**1. Launch.json**
[code]
**NOTE:**  For `miDebuggerPath` add the path to the gcc debuger which typically can be found in bin folder.
**2. Tasks.json**

[code]

To run the code just press f5 functional key and that

[2017-09-11 01:43] colemickens commented on #1004
I'm not debugging C and I need to be able to debug exceptional program exits, so the various tricks all over StackOverflow are not applicable. All I've found are confusing, unexplained answers that involve what look to be a VS specific switch (that I wouldn't know how to use otherwise).

Is there no other workaround? Even if I could just get it redirected to a file, I would at least not be blocked

[2017-09-11 08:12] ByteBender747 commented on #1016
I have updated to VSCode version 1.16.0 and I have also reinstalled the C/C++ plugin. But the error is still there. Should I try to reinstall the whole VSCode?

[2017-09-11 11:46] ByteBender747 commented on #1016
My colleague has the same problem. He had installed VS version 1.12 and it worked. After updating to version 1.15.1 using the auto updater he has the same issue.

[2017-09-11 19:35] sean-mcmanus commented on #1019
The previous example I posted doesn't autocomplete because we don't autocomplete inaccessible members (in this case, the private variable "i"). I need more info from @liuchanchen on what exactly doesn't autocomplete (because it's working as expected for me).

[2017-09-11 20:39] akbyrd opened #1025 "Support "set-next-statement" with cppdbg"
The ability to modify the instruction pointer to point a different location without running any code is an extremely useful debugging feature in C/C++. I'd like to request this feature in the toolset.

Visual Studio has an implementation of this, referred to as "Set Next Statement" in the UI. It is normally done by either dragging the yellow arrow indicating the currently executing line of code, o

[2017-09-11 22:02] zhelnio opened #1026 "debug works on Windows and fails on Linux"
Hello!
I am using VSCode for remote debugging of MIPSfpga-plus SoC: https://github.com/zhelnio/mipsfpga-plus/
All its build and debug scripts are cross platform (Windows 7 and Ubuntu 17.04, both x64). And I have no problems with gdb console debug in both cases. The gdb releases I am using are also very similar (different builds of one version).
So I have one common launch.json. But it works good o

[2017-09-12 00:48] pieandcakes commented on #1026
@zhelnio Can you provide an engine log of the repro? My assumption is that it is missing the '-g' compile flag to include symbols and it can't determine where to put the breakpoint.

[2017-09-12 00:52] pieandcakes commented on #1025
@akbyrd AFAIK gdb/lldb does not support anything like this today.

[2017-09-12 00:56] pieandcakes commented on #1024
@ZZYSonny This sounds like an issue with g++ returning an exit code of 1 when there is a warning and VS Code's `task.json` code thinking that's an error and asking you to debug anyways. You may want to try and file it at https://github.com/Microsoft/vscode as we don't provide anything different beyond the default VS Code behavior when linking debugging to building.

[2017-09-12 06:33] akbyrd commented on #1025
@pieandcakes I've not used them personally, but after a few searches it appears this capability exists in GDB and LLDB.

In GDB it's enabled by the jump command:
https://sourceware.org/gdb/current/onlinedocs/gdb/Jumping.html#Jumping

Thread where support for this was implemented in another IDE (also contains a link to a patch for another IDE with implementation)
http://forums.codeblocks.org/index.

[2017-09-12 11:15] zhelnio commented on #1026
Hello @pieandcakes !
The program was compiled with "-g -gdwarf-2" options.
I have added the full linux log to
https://gist.github.com/zhelnio/54789029bc4bf5fdab0e2db1179005a2
There are successful program load, some steps, list command to view source, then run ...and ignore.

By the way: is this standalone DebuggerTerminal window is normal during debug?
It contains nothing...
![vscode_debug_linux_s

[2017-09-12 13:31] lh123 commented on #902
@sean-mcmanus If this is correct, I think the MinGW docs should be updated

[2017-09-12 14:44] jheinzel opened #1027 "#include errors despite correct include/browse path"
I use Visual Studio Code (version 1.15.1) with the _ms-vs-code.cpptools_ extension (version 0.12.3) on Windows 10. I have created a simple C++ project with a singe cpp file and some configuration files in the `.vscode` subfolder. I also added `cpp_properties.json` (which is listed below) to get intellisense support. Unfortunately, VS code does not honor the include path defined herein. I always ge

[2017-09-12 15:49] sean-mcmanus commented on #1027
We have a MinGW FAQ at https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md -- you may also need to add __stdcall=__attribute__((__stdcall__)) .

We have a bug in which we don't update the squiggle errors after switching a configuration. You may just want to keep your configuration named "Windows" so you don't have to switch.

Let us know if you're still h

[2017-09-12 18:42] pieandcakes commented on #1025
@akbyrd Thank you for the information. We need to use gdb's MI mode to drive the debugger and I was able to find [this](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI-Program-Execution.html):

[code]

[2017-09-12 23:12] rfratto opened #1028 "Issue created by mistake"
Created by mistake :(

[2017-09-12 23:12] #1028 closed, assigned to nobody

[2017-09-13 00:00] anribras commented on #912
Same issue on Ubuntu 16.04

[2017-09-13 03:42] azydevelopment commented on #1001
Thanks Bob.  I'll validate when available (any ETA?)

[2017-09-13 05:24] liuchanchen commented on #1019
@sean-mcmanus ,I am sorry for reply so late.
1 The following codes is my another example .I define a global variable cdev , and I want to use this variable in "main",but autocompletion doesn't work at all.
struct mychrdev_data
{
        char buf[MYCHRDEV_CAPACITY];
        unsigned int headptr;
        unsigned int tailptr;
};
cdev_t cdev;

int main()
{
        cdev.
}
2 My setting is as follows:

[2017-09-13 05:46] bigtang5 commented on #877
The bug cleared when my WIN10 upgraded to version 15063. Thanks a lot @pieandcakes!

[2017-09-13 05:46] #877 closed, assigned to pieandcakes

[2017-09-13 08:05] Ikar-Rahl commented on #658
ADDITIONALLY:
- Syntax highlighting
- (smart) Docstring generation (customisable)
- Ability to run Doxygen and Doxyfile configurator from the ide.

I don't know what from that could be done by a plugin.

[2017-09-13 12:21] etem commented on #912
I can confirm the same issue on Fedora 26

[2017-09-13 14:18] sean-mcmanus commented on #1001
0.12.4 with the fix was released yesterday. Let us know if there's still a problem.

[2017-09-13 14:36] sean-mcmanus commented on #1019
I'm not able to repro the bug still. I had to add these definitions: `constexpr int MYCHRDEV_CAPACITY = 10;` and after the struct `typedef mychrdev_data cdev_t;`. Do you see any errors in the Problems window or when you hover over code? I noticed that on Linux, if the typedef is placed before the struct, then autocomplete fails (even though it works on Windowsi), but in both cases, hovering shows

[2017-09-13 14:45] sean-mcmanus commented on #912
The high CPU issue could be a known infinite loop that can occur when parsing certain code(https://github.com/Microsoft/vscode-cpptools/issues/981 ). For the deadlock, the call stacks and dmps have so far not been helpful. Can anyone provide an actual repro with some open source project and/or with the actions that triggers it and/or attaching some logs or sending them to c_cpp_support@microsoft.c

[2017-09-13 15:25] bobbrow commented on #902
I was starting to look at this before I took a few days off.  MinGW-w64 seems to behave differently than my other MinGW installation (which defines __stdcall in the Windows headers without manual intervention by the c_cpp_properties.json file).

I'm still looking at this when I'm not getting pulled in to other issues, but I haven't settled on a final answer yet.  We may need to have some footnotes

[2017-09-13 15:27] kostyamy commented on #1025
i understand it cold be kinda off-topic but any idea about similar feature in c# debugger? should i reference some other group?

the feature by itself is one of they key tools while developing complex apis what require setting up a complex context for each call. As result ability to "re-walk" over and over again same code instance while modifying internal variables from the console becomes a huge

[2017-09-13 15:55] liuchanchen commented on #1019
Actually, the codes I posted is extracted from a source code file which can be compiled correctly. I define MYCHRDEV_CAPACITY as a const number almost like what you do, and add  "typedef mychrdev_data cdev_t" after structure define .So I don't think it is syntax error  causing autocompletion failing.  ''tag parse" (on linux)also works fine in the same file

[2017-09-13 16:02] akbyrd commented on #1025
@kostyamy I would assume creating an issue in the C# repo and referencing this issue and the protocol implementation issue would be the best course of action.

[2017-09-13 16:13] sean-mcmanus commented on #1019
Does hover give info on the variables involved in the autocomplete? If the member is somehow unavailable then we wouldn't show it (i.e. if "struct" were changed to "class").

So to double check you don't actually use this code you pasted `struct mychrdev_data
{
char buf[MYCHRDEV_CAPACITY];
unsigned int headptr;
unsigned int tailptr;
};
cdev_t cdev;`
and instead you have a typedef beween the struct

[2017-09-13 16:18] kostyamy commented on #1025
@akbyrd it makes total sense  but i bit confused what C# repo is?
is that  https://github.com/OmniSharp/omnisharp-vscode or there is something like https://github.com/Microsoft/vscode-csharp ???

[2017-09-13 16:20] akbyrd commented on #1025
It looks like the OmniSharp repo is the official one

[2017-09-13 16:24] kostyamy commented on #1025
@akbyrd i just made a post there and referenced this issue. so thank you. hopefully they move fast enough

[2017-09-13 16:44] dhicksNTIA opened #1029 "Intellisense not detected current namespace."
* Operating System and version
    * Linux Mint 18.1
* VS Code version and if you are using the Insiders build
    * 1.16.0
* C/C++ extension version
    * 0.12.4

The issue that I am experiencing is with namespace scoping on Intellisense. Consider this header and source file:

test.h
[code]

test.cpp
[code]

When writing lines like `case SomeEnum::three` the Intellisense will not detect the membe

[2017-09-13 17:41] jophippe commented on #1029
Hmm, I can't repro this with your test files on Ubuntu, and it seems unlikely to me that this a Mint specific issue. Are you sure Intellisense is running? I can repro this if I turn Intellisense off. Double check that hover and error squiggles work, and the red flame icon on the bottom right corner is not there.

[2017-09-13 18:06] sean-mcmanus commented on #1029
Yeah, I believe he's describing a known bug with the Tag Parser. https://github.com/Microsoft/vscode-cpptools/issues/721 is another example. Switching the intelliSenseEngine to "Default" is the recommended workaround for now.

[2017-09-13 20:42] bobbrow commented on #910
The fix for this is in the update we pushed yesterday

[2017-09-13 20:42] #910 closed, assigned to nobody

[2017-09-13 20:43] bobbrow commented on #1005
The fix for this is in the update we pushed yesterday.  You shouldn't need to specify `__LITTLE_ENDIAN__` in your `"defines"` anymore either.

[2017-09-13 20:43] #1005 closed, assigned to nobody

[2017-09-13 20:43] bobbrow commented on #988
The fix for this is in 0.12.4

[2017-09-13 20:43] #988 closed, assigned to nobody

[2017-09-13 20:44] #1001 closed, assigned to nobody

[2017-09-13 20:44] bobbrow commented on #1000
This is fixed in 0.12.4

[2017-09-13 20:44] #1000 closed, assigned to nobody

[2017-09-13 20:45] bobbrow commented on #989
The fix for this should be in 0.12.4.  Let me know if you continue to see this problem.

[2017-09-13 20:45] #989 closed, assigned to nobody

[2017-09-13 21:10] bobbrow commented on #970
The fix for this is in 0.12.4.  The new property in c_cpp_properties.json is called "macFrameworkPath" and it should be auto-added to your c_cpp_properties.json file when you open your folder on a Mac.  Let us know if you have any trouble with it.

I just realized that we didn't send the paths through our variable resolver, so `${workspaceRoot}`, `~`, and environment variables don't work with thes

[2017-09-13 21:10] #970 closed, assigned to nobody

[2017-09-13 21:13] tekkamanblade0 opened #1030 "[OS X] Debug adapter process has terminated unexpectedly for the latest version"
I got Version 0.12.4 yesterday but it doesn't work ("Debug adapter process has terminated unexpectedly") when I tried to debug a simple C++ project, which worked very well for the previous versions.
My launch.json file:
[code]

[2017-09-13 21:21] sean-mcmanus commented on #1030
What OS are you on? Debugging works for me on Windows/Linux but I haven't tried with your config. As a workaround you can try reverting to the previous version: http://ms-vscode.gallery.vsassets.io/_apis/public/gallery/publisher/ms-vscode/extension/cpptools/0.12.3/assetbyname/Microsoft.VisualStudio.Services.VSIXPackage (renaming the zip to vsix and using the Install from vsix command).

[2017-09-13 21:31] tekkamanblade0 commented on #1030
Thanks for your reply.
It is MacOS Sierra.

[2017-09-13 21:38] sean-mcmanus commented on #1030
Debugging on macOS Sierra with 0.12.4 works for me. I'll wait for Pierson to chime in.

[2017-09-13 21:51] pieandcakes commented on #1030
@tekkamanblade0 Can you go to your ~/.vscode/extensions folder and see if in the debugAdapter/bin/ folder there is an lldb folder? If you reinstall 0.12.4, can you confirm that the downloads happen when you restart VS Code?

[2017-09-13 22:24] Morvalyn opened #1031 "typedef recognition (Suggestion)"
It would be nice to be able to recognized custom typedefs..
an example is a simple struct with a custom typedef are all meta.block

[code]

[2017-09-13 22:39] tekkamanblade0 commented on #1030
No, there is no folder called"lldb" under debugAdapter/bin/. But when I reinstalled 0.12.4, there were outputs saying that it is downloading some files, like "lldb"...

[2017-09-13 22:40] sean-mcmanus commented on #1031
I don't understand what you're asking for. Counter in your example has the type of an unnamed struct. You didn't add a typedef. The other 2 typedefs are recognized. What do you mean by "meta.block"?

[2017-09-13 22:47] tekkamanblade0 commented on #1030
Oh, I think it works. I deleted the whole folder "ms-vscode.cpptools-0.12.4" and reinstalled it. It works this time though I doesn't quite understand what happened:) Thank you!

[2017-09-13 22:53] sean-mcmanus commented on #1030
Yeah, that is strange. If a download fails we're supposed to give a failure message and retry the downloads the next time (the install.lock file that prevents additional downloads should only be written on success). Let us know if anyone has a repro for this issue.

[2017-09-14 01:18] kbuzby opened #1032 "Handle Macros when Navigating to Defintion"
It would be nice if the "Go To Definition (F12)" option when navigating C/C++ files could handle macros that are defined in the normal include paths.

Version info:
OS: Lubuntu 16.04
VSCode: 1.17.0-Insider
cpptools: 0.12.4

[2017-09-14 01:21] sean-mcmanus commented on #1032
What do you mean by "normal include paths"? Go to Definition works with macros and is currently using the Tag Parser, so the definitions are found recursively from the `browse.path` setting (not `includePath`).

[2017-09-14 01:36] kbuzby commented on #1032
Couple things I messed up. I did mean browse.path when referring to "include paths"

The project I'm working on has a separate include directory for some header files, adding that directory specifically to the browse.path (and includePath to get rid of warning) did fix the issue.

However, the project has many *.d files created as well, which would have pointed to the proper header files. Could th

[2017-09-14 01:43] sean-mcmanus commented on #1032
Symbols/macros in .d files should be parsed if you have parsed files that #include's the .d files. You can parse all the .d files by adding `"*.d": "cpp"` to your `"files.associations"` list. Does that work for you?

[2017-09-14 03:59] azydevelopment commented on #1001
Thanks. Confirmed fixed.

[2017-09-14 04:00] azydevelopment commented on #1000
Thanks.  I can confirm this works now.

[2017-09-14 04:06] pavel-zhigulin commented on #651
I have almost same problem on LInux (Mint). VSCode download packages, but freezes on Install step. The only way to solve it - run VSCode as root.

[2017-09-14 07:01] Morvalyn commented on #1031
Sorry i didn't clarify enough. Syntax highlighting - but having it be recognized as type, highlights is the same meaning V16 is part of the meta.block and Cntr is also part of the meta.block (Themes (using the TM inspect tool (forgot exact name). So when doing custom typedefs they are not recognized by the syntax highlighter. Which means they are the same color, all custom typedefs dont actual cha

[2017-09-14 07:37] aengusjiang commented on #635
Hello, sean-mcmanus
I can reproduce the bug again.
I do some change of the the test code above. It maybe can help you to fix this bug.
I guess it is caused by namespace.
see the attachement.
[test_failed.zip](https://github.com/Microsoft/vscode-cpptools/files/1302099/test_failed.zip)
[test_OK.zip](https://github.com/Microsoft/vscode-cpptools/files/1302101/test_OK.zip)

[2017-09-14 08:39] delgermurun opened #1033 "Auto format puts "#ifndef" (and "#endif") at beginning of line"
* Operating System and version: Ubuntu 17.04
* VS Code version and if you are using the Insiders build: Version 1.17.0-insider, Commit 06529dbcacb796d59e7fc2ca0ac5dbe7c29c099e
* C/C++ extension version: 0.12.4

Auto format moves any `#*` to beginning of the line. How can I disable it for at least on lines that begin with `#ifndef`/`#endif`.

formatted version:

[code]

what I want is:

[code]

Tha

[2017-09-14 08:58] dirondin commented on #966
@pieandcakes, hello.
I saw this fix is included in version 0.12.4.
After update I checked case from my repo (https://github.com/dirondin/anon-union-test) under MacOS (lldb) and problem reproduced unfortunately 😞
![image](https://user-images.githubusercontent.com/8371890/30417207-9e4e69f4-9937-11e7-9621-6a60eebdef55.png)

[2017-09-14 10:12] maelvls commented on #1012
Did you solve your issue? I have a similar problem (macOS, vscode 1.16.0, vscode-cpptools 0.12.4, clang-800.0.42.1). I didn't see anything special in the logs when running

    VSCODE_CPP_LOGDIR=$PWD VSCODE_CPP_LOGFILE_LEVEL=5 code .

[2017-09-14 10:17] amecareth commented on #1012
Yes, I solved it. I don't know if you have the same setup as I did, my
installation was made on a Linux connected to internet and i then copied
the installation on another Linux machine that couldn't be connected to it.
The fact is that the copy changed the rights on some of the binaries in the
extension folder, you just have to put back the executions rights on the to
files called Microsoft.somet

[2017-09-14 10:23] maelvls commented on #1012
Ok; apparently, my extension is loading correctly so I must have a different problem.
Thank you for your answer!

[2017-09-14 10:31] amecareth commented on #1012
But the extension loaded for me also it was only these two binaries that
are in charge of the intellisense that were not working

Le jeu. 14 sept. 2017 à 12:23, Maël Valais <notifications@github.com> a
écrit :

[2017-09-14 10:31] amecareth commented on #1012
Just check it to be sure ;)

Le jeu. 14 sept. 2017 à 12:23, Maël Valais <notifications@github.com> a
écrit :

[2017-09-14 10:42] prmshepherd opened #1034 "Intellisense stuck in "Parsing..." state. How can I debug further?"
I'm having difficulty getting Intellisense working in default mode. Currently the extension seems to be stuck in a "Parsing..." state. I've waited hours and this has not changed. Is there a way I can drill down and see logs of what the Intellisense engine is actually doing behind the scenes?

[2017-09-14 12:58] Gruntfuggly commented on #1021
Resetting the data seems to have worked. Thanks!

[2017-09-14 12:58] #1021 closed, assigned to nobody

[2017-09-14 14:14] maelvls commented on #1012
I finally found what was going wrong. In the [April 2017 vscode-cpptools update](https://blogs.msdn.microsoft.com/vcblog/2017/04/25/visual-studio-code-cc-extension-april-2017-update/), they explain that the _error squiggles_ can only work when the 'Intellisense' (aka 'Default') engine is enabled. But in the logs, I could see that the engine was falling back to 'Tag parser'.

So I forced the 'Defau

[2017-09-14 14:27] UR3IQO commented on #1034
Here is the same situation. After the last update Intellisense is completely unusable. There are four small logs and one large. The small logs show that something goes wrong:
[code]

[2017-09-14 15:48] bobbrow commented on #1031
This would be covered by issue #230, but since the textmate grammars are all regular expression-based, I'm not sure how we're going to be able to do this unless we can update the grammars on the fly (not something that we've tried yet).

[2017-09-14 15:49] #1031 closed, assigned to nobody

[2017-09-14 16:05] sean-mcmanus commented on #635
@AbelaroJiang The bug was never fixed for the Tag Parser. Are you using the "Default" IntelliSense engine (which shouldn't have this bug) or are you able to switch to using that? If you have #include files that aren't found in the translation unit it will fall back to the Tag Parser (if the intelliSenseFallback is enabled).

[2017-09-14 16:11] sean-mcmanus commented on #1033
Our extension doesn't implement any auto formatting involving preprocessors. Our format on type functionality is limited to after typing a semicolon. How are you invoking the formatting? What other extensions do you have installed that could be doing the formatting? Does the bug still repro after uninstalling the C/C++ extension? Are you doing a Format Document command? That behavior is configurab

[2017-09-14 16:22] sean-mcmanus commented on #1012
@amecareth Yeah, it's recommended that you use tar to maintain the executable rights when copying the binaries to another machine (otherwise you have to run a chmod again, which we normally do during installation).

@maelvalais We show in the Problems window a warning that says it's falling back to the Tag Parser due to headers not being found. We also show a popup info box the 1st time. There's a

[2017-09-14 16:26] UR3IQO commented on #1034
I have solved the problem. It seems IntelliSense was unable to parse some GCC machine specific include files. So I have created an alternative ones with the necessary defines and arranged paths so that IntelliSense includes alternative ones, while GCC includes standard ones.

[2017-09-14 16:32] prmshepherd commented on #1034
@sov1178 any hints on how you were able to determine that was the problem? :)

[2017-09-14 16:35] sean-mcmanus commented on #1034
We have logging instructions at https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md . Yes, the parser has a known infinite loop with certain files (see https://github.com/Microsoft/vscode-cpptools/issues/981 ). I don't think we regressed the scenario with 0.12.4 though -- if you believe we did regress it you can try the older version at http:

[2017-09-14 16:46] prmshepherd commented on #1034
Thanks @sean-mcmanus! Looks like Tag Parsing is good, so most like an issue somewhere in my include hierarchy. Is there any logging to capture the parser's progress through the headers? I didn't spot anything at VSCODE_CPP_LOGFILE_LEVEL=5

[2017-09-14 17:28] UR3IQO opened #1035 "IntelliSense does not recognize nested functions (GCC extension)"
I use nested functions in C (GNU C extension https://gcc.gnu.org/onlinedocs/gcc-4.6.0/gcc/Nested-Functions.html ) and found it very helpful in some situation. Unfortunately IntelliSense does not support them. Are there any plans to add correct handling of this GNU C extension?

[2017-09-14 17:36] UR3IQO commented on #1034
@sean-mcmanus it seems like IntelliSense did not like some of the GCC machine dependent headers. I have made some investigations and ended up adding a long list of defines GCC declares implicitly to the `c_cpp_properties.json` and it seems it helped - I got IntelliSense working now :).

[2017-09-14 17:39] bobbrow commented on #1035
We can add it to the backlog, but this is not likely something we would address anytime soon.

[2017-09-14 17:44] UR3IQO commented on #1035
Please add it.

[2017-09-14 18:16] sean-mcmanus commented on #1034
@prmshepherd It turns out we don't have logging for the Default IntelliSense parsing, but we could add that.

[2017-09-14 18:20] UR3IQO commented on #1034
@sean-mcmanus Some more information. The problem arises when IntelliSense process was not terminated correctly. It definitely not the issue #981. I do not know why it is not terminated sometimes. And I was unable to find any conditions to reproduce the problem (one IntelliSense process stays unterminated from time to time after VS Code closing). But maybe this information can be useful.

[2017-09-14 20:13] pieandcakes commented on #651
@MooNDeaR So you set the correct proxy and it still doesn't download? by running VSCode as root, i'm wondering if you have permissions issues to the temp directory or to your user root. we write in the temp as its downloading and to the user root (~/.) when the extension is expanded.

[2017-09-14 20:44] pieandcakes commented on #966
I'll reopen it. Will have to step into the lldb path when I have some time to investigate this but it probably won't be right away.

[2017-09-14 21:43] bobbrow opened #1036 "include path is not properly set for workspaces without a c_cpp_properties.json file"
The include path is not being set correctly for workspaces that do not have a c_cpp_properties.json file.

A workaround is to invoke the "C/Cpp: Edit Configurations" command which will create a new c_cpp_properties.json file, but this only works if you have a folder open.  I'm working on a fix.

[2017-09-15 00:28] delgermurun commented on #1033
Format on save is enabled (`"editor.formatOnSave": true`). Every time I hit `Ctrl+S`, formatting invoked.

I guess there is no other extension that could be doing the formatting on `.cpp` file.
My installed extensions are:
![screenshot from 2017-09-15 08-24-14](https://user-images.githubusercontent.com/492616/30461217-aea8a826-99f7-11e7-8c34-822f99ddf6e3.png)

After I disable this extension, forma

[2017-09-15 00:51] sean-mcmanus commented on #1033
Unfortunately, clang-format doesn't support this style of formatting yet. Someone would have to add it to clang-format 6.0 -- see https://github.com/llvm-mirror/clang/commit/31c7a3b61a7c35ae586c7e36fbff1361e051d5ad . I think you want a "BeforeHash" option.

[2017-09-15 01:10] delgermurun commented on #1033
Okay. Thank you.

[2017-09-15 01:10] #1033 closed, assigned to nobody

[2017-09-15 01:50] aengusjiang commented on #635
Yes, I use the default IntelliSense engine.
you can download the test sample the compare them.

[2017-09-15 08:24] aengusjiang opened #1037 "Can't go to the operator override method"
- VSCode Version: Code 1.16.0 (787b31c0474e6165390b5a5989c9619e3e16f953, 2017-09-06T16:27:49.891Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
logcat|abh|0.0.7
include-autocomplete|ajs|0.0.4
GBKtoUTF8|buk|0.0.2
compulim-vscode-dictionary|Com|0.0.5
githistory|don|0.2.3
xml|Dot|1.9.2
java-debug|DSn|0.0.2
vscode-javac|geo|0.0.46
CppSnippets|

[2017-09-15 09:59] fo-fo commented on #679
In Ubuntu 16.04.3 LTS (gcc: Ubuntu 5.4.0-6ubuntu1~16.04.4) `stddef.h` is also not found. It is at path `/usr/lib/gcc/x86_64-linux-gnu/5/include/`, which was not by default in `c_cpp_properties.json`.

[2017-09-15 10:23] prmshepherd commented on #1034
@sean-mcmanus I think adding those logs will be very useful. Even better if the progress and status of the parser could be integrated somehow into the UI itself if that is possible?

[2017-09-15 12:13] ghost commented on #713
Hi @pieandcakes. I have the same problem. I am running VSCode 1.16.0 and the C/C++ extension 0.12.4 on a Windows computer. I have the ARM compiler 2017 q2 update, and I am using the SEGGER J-Link GDB server.
Breakpoints are not hit when I set them, and the breakpoint list in VSCode is different from that given by exec info breakpoints.
Can you help?

[2017-09-15 13:51] DustinCampbell opened #1038 "Cannot read property 'type' of undefined"
_From @zhangmn799 on September 15, 2017 10:31_

## Environment data
VS Code version:1.16.1
C++ Extension version:0.13.0

## Steps to reproduce
1.Install preinstall ~~[redacted]~~
2.Install vscode
3.Install cingwin32
4.install c++ extension ~~[redacted]~~
5.Create a folder named test, create a file named main.cpp in test as following:
#include<iostream>
using namespace std;
int main()
{
cout<<"hell

[2017-09-15 13:51] DustinCampbell commented on #1038
This repo is for C++ for VS Code. I'll go ahead and move your issue over to https://github.com/Microsoft/vscode-cpptools/issues.

[2017-09-15 15:00] bobbrow commented on #1038
Does VS Code give you a callstack for that error in the Output window?  Please post that here.

[2017-09-15 15:01] sean-mcmanus commented on #1037
It doesn't even work when the .operator+=() syntax is used (it tries to do a Go to Def on just the "operator" part).

[2017-09-15 15:24] pieandcakes commented on #713
@treesaregreen Can you tell me what is different? There may be one extra one from 'info breakpoints' for the one we set. You can also enable the logging block if you want to see what we call gdb with and what we get back. If you set breakpoints through the command line, they will not show up in the UI.

[2017-09-15 15:28] pieandcakes commented on #1038
@zhangmn799 Please provide launch.json configuration and also when you installed the C++ extension, did you restart VSCode twice? After restarting VSCode, as @bobbrow mentions above, a download was supposed to start in the output window and should have completed. did that give you an error?

[2017-09-15 15:35] sean-mcmanus commented on #635
Go to Definition is still implemented by the Tag Parser so the bug still existed. When you said it stopped reproing, I got this issue confused with another bug that stops reproing when switching to the Default IntelliSense. I've made a change that fixes this issue, but I'm not sure if it will make the next update or not. FYI, autocomplete and signatureHelp were also broken in this scenario (whenev

[2017-09-15 16:07] Gruntfuggly commented on #1021
Sorry - I closed this too early because it looked like it was working - it still returns results from a file which is in the excludes. In fact, it's even worse. If I reset the database, it now opens the file that is in the excluded folder, and doesn't give me the option to select the file in the correct folder...

[2017-09-16 00:28] Haneesh07 commented on #316
try creating a folder in the same environment of python or cpp and add your code file into it. then open the vs code, it worked for me. I was getting this error while coding in tensorflow python.
![image](https://user-images.githubusercontent.com/30610865/30507575-7959dca6-9ada-11e7-8d75-cdfe5e427ca9.png)

[2017-09-16 12:02] BrianSipple opened #1039 "How to force semantic IntelliSense"
The [`Language Server FAQ`](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/FAQ.md#force-semantic-intellisense) documentation contains the following instruction:

Unfortunately, there's nothing explaining how to "choose the option to always use the new IntelliSense engine", so I'm a bit stuck.

Apologies if I'm missing something obvious, but it seems like this

[2017-09-16 17:53] ristomatti commented on #969
I am experiencing this issue with PlatformIO extension (which uses the C++ extension). All the `#include` lines causing the false error seem to be part of the standard library. Like `#include <functional>` or `#include <memory>`.

[2017-09-16 21:23] jheinzel commented on #1027
Thank you for your hint concerning the configuration name. Btw., the correct name is "Win32", not "Windows".

The actual reason for my problem was that I used the include paths for C, but not for C++.

For anyone who is interested: These paths can be generated with `echo | gcc -Wp,-v -x c++ - -fsyntax-only`. But never omit the option `-x c++` (as I did) if you need the paths for C++.

[2017-09-16 21:23] #1027 closed, assigned to nobody

[2017-09-17 06:25] BrianSipple commented on #1019
After updating to 0.12.4, I've found autocomplete to be broken with both the `Default` and `Tag Parser` `intelliSenseEngine` setting.

OS: MacOS 10.12.6
VSCode: 1.16.1

For additional context, the project I'm in is quite large (OpenFrameworks), but I wasn't experiencing any issues in 0.12.3.

[2017-09-17 09:21] maelvls commented on #1039
Hi,

I found out that you could use these settings in order to _force_ the new engine (see https://github.com/Microsoft/vscode-cpptools/issues/1012):
[code]
I'm not really sure if it is the way to go, but it has worked for me!

[2017-09-17 13:51] jjimenezshaw commented on #201
@pieandcakes If I use "c++" as the compiler (from gcc), it works as expected. However, if I use "clang++", the strings display `<incomplete type>` in the watch panel.
Versions: Ubuntu 16.04, vscode 1.15.1, cpptools 0.12.4, c++ (compiler), 5.4.0, clang++ 3.8.0
Compilation command: "c++ -std=c++14 -g -pthread *.cpp" vs "clang++ -std=c++14 -g -pthread *.cpp"

Any missing option for clang?

[2017-09-17 19:14] jamesqo opened #1040 "IntelliSense process is holding access to a file"
* Operating System and version: Latest Windows 10
* VS Code version and if you are using the Insiders build: 1.15.1, no
* C/C++ extension version: 0.12.4

**Repro:** I'm not sure if this would be consistent, but it here's how I ran into the bug:

* I git cloned https://github.com/jamesqo/systems-hw
* Added a new subdirectory & added a `.c` file in that subdirectory via VSCode
  * A new tab popped

[2017-09-17 20:41] FHTheron commented on #579
This: https://marketplace.visualstudio.com/items?itemName=kevinkyang.auto-comment-blocks
helps a bit, but has some quirks which I haven't yet tried to debug. For `/**` it works well, for `/*` it seems to only work if you already have three lines in place.

Built-in support would be great though.

[2017-09-17 21:18] UR3IQO commented on #1040
The same is here:
Windows 8
VS Code 1.16.0
cpptools 0.12.4
Reproducing:
1. Create new editor tab (File->New)
2. Type some code (for example include large header file)
3. Save the file:
![925](https://user-images.githubusercontent.com/25171239/30524992-d031b31e-9c06-11e7-8325-f4235af8fd60.png)

As you can see on the next picture the file was created (with zero size) and is locked by IntelliSense pr

[2017-09-18 02:06] NikoGP opened #1041 "#include errors detected ... cannot open source file "iostream"
Hello, so I am new to coding and wanted to use VS Code to code in C++, so I installed it, installed C/C++ IntelliSense v0.12.4 and followed instructions on the VS Code website to make a c_cpp_properties.json file and copied the code into it like they said. When I open my .cpp project that I had made in notepad++, I get the error:
"#include errors detected. Please update your includePath. IntelliSe

[2017-09-18 02:35] kbuzby commented on #1032
Adding the paths helped most, but the .d file parsing would also work. Thanks!

[2017-09-18 02:35] #1032 closed, assigned to nobody

[2017-09-18 08:05] zhangmn799 commented on #1038
launch.json  as following:
{
        "version": "0.2.0",
        "configurations": [
            {
                "name": "(gdb) Launch",
                "type": "cppdbg",
                "request": "launch",
                "program": "${workspaceRoot}/main.exe",
                "args": [],
                "stopAtEntry": false,
                "cwd": "${workspaceRoot}",
                "environm

[2017-09-18 09:50] danielboehm2 opened #1042 ""Updating C/C++ dependencies" fails and "Go to Declaration" doesn't work"
I am using:
* Windows 7
* VS Code 1.16.0
* C/C++ 0.12.3

When I start VS Code, I always get the following output:

_Updating C/C++ dependencies..._

_Downloading package 'C/C++ language components (Windows)'  Failed. Retrying... Failed. Retrying... Failed. Retrying...Waiting 8 seconds... Failed. Retrying...Waiting 16 seconds... Failed. Retrying...Waiting 32 seconds...
Failed at stage: downloadPack

[2017-09-18 12:06] sean-mcmanus commented on #316
@haneeshh Is this with debugging C++? Your screenshot doesn't show any error.

[2017-09-18 12:26] sean-mcmanus commented on #1039
Text is referring to the "Force semantic IntelliSense" code action: "You can select any of the problems in the window to navigate to the line when the problem was detected and a lightbulb will appear in the editor with some options to help you resolve the problem.". I've updated the FAQ to try to explain this better and added a comment about the setting mentioned by @maelvalais .

[2017-09-18 12:26] #1039 closed, assigned to nobody

[2017-09-18 12:34] sean-mcmanus commented on #969
@justClouds If your paths end with *, the search for include directories won't be recursive. Can you share any other repro details? I'm not able to repro this problem.

@ristomatti What OS are you on? What is your browse.path? What is the error exactly? Is it "#include file not found in browse path"? It sounds like you need to add paths to the browse.path setting in c_cpp_properties.json.

[2017-09-18 12:49] sean-mcmanus commented on #1019
@BrianSipple I'm not able to repro a problem with autocomplete. Can you give more details? Does it work with a simple project? What results do you get? Are you using . -> ::? Are other features like hover and Go to Definition working? If you believe cpptools regressed you can try the older version at http://ms-vscode.gallery.vsassets.io/_apis/public/gallery/publisher/ms-vscode/extension/cpptools/0

[2017-09-18 13:07] sean-mcmanus commented on #1040
Thanks for reporting this issue. I have also reproed this bug randomly many times for the past few months, so I didn't understand why we hadn't gotten any user reports about it. I can repro the problem easily via making modifications to a large file repeatedly, although in that case I'm able to retry to save the file.

[2017-09-18 13:19] sean-mcmanus commented on #1041
Your includePath only has `${workspaceRoot}`. You need to add the path to your system directories. If you're using MinGW, see https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md .

[2017-09-18 13:25] ghost commented on #713
Hi @pieandcakes. Thank you for your very quick reply!!

Actually, I think the problem may lie between user and keyboard. I did a clean build of my software and reflashed the target to be sure that the debugger and flashed code are in sync, and now it hits breakpoints as it should.

Thank you again for your help and for helping to develop such a good tool.

To help anyone who lands here trying to g

[2017-09-18 13:25] sean-mcmanus commented on #1042
Can you upgrade to 0.12.4? It looks like your internet connection is not able to use DNS to resolve go.microsoft.com into an IP address. Go to Definition and other features won't work unless the required components are downloaded/installed.

[2017-09-18 13:58] danielboehm2 commented on #1042
Same problem with 0.12.4

[2017-09-18 14:55] bobbrow commented on #579
Our implementation will be similar.  It won't turn on automatically for `/*`, but if you add the `*` on the next line, we will continue it for subsequent lines.  `/**` will work as you expect.

[2017-09-18 17:20] GabeAl commented on #1035
+1 I use these extensively. Very convenient sometimes to let the compiler figure out variable scope, etc instead of explicitly coding long extension lists. Also it's one of the few ways to grant a qsort comparator knowledge of the environment in which it is invoked.

[2017-09-18 17:28] GabeAl opened #1043 "IntelliSense not working (declaration peeks, etc) and other poor experiences"
Linux x64 CentOS 7.4. Code v1.16.1. C/C++ 0.12.4

Bunch of issues here.
1. The install instructions don't work. They must be out of date, because the Microsoft C/C++ extension does not show up with Ctrl+P and "ext install cpptools".
2. Finally got it working by loading a C file and waiting for the context bar at the top to suggest an install, which I performed, then restarted. Why the need to rest

[2017-09-18 17:40] GabeAl commented on #19
Red Hat Enterprise Linux, CentOS, Scientific Linux, Ubuntu 12.04 (still installed on computer lab terminals in many places)... these are big names. All remain unsupported, so the many folks at school/work who want this nice lightweight editor for C/C++ are SOL.

This is not a reasonable requirement nor a reasonable workaround (it's neither "lightweight" nor future-proof). This should properly be a

[2017-09-18 17:45] GabeAl commented on #1043
I see 3 and 4 may be related to another bug. #19

It's immediately shocking and suspicious that RHEL, CentOS, Scientific Linux, Ubuntu 12.04, etc are not supported. What sort of Linux industry/school environment is this software applicable to, then? Microsoft of all folks should know a thing or two about traditional large institutions' tendencies to prefer "vintage" software stacks... And upgradin

[2017-09-18 18:09] pieandcakes commented on #201
@jjimenezshaw I assume you are still using `gdb` to debug. I don't know if there are compatibility differences between compiler and debugger but we have only tested with `gdb` on Ubuntu.

[2017-09-18 18:11] pieandcakes commented on #1038
@zhangmn799 Can you confirm that `"type": "cppdbg",` in your launch.json does not have squiggles underneath it? It looks like your extension is not properly installed. Can you send me an email about this?

Thanks

[2017-09-18 18:16] #713 closed, assigned to nobody

[2017-09-18 18:23] GabeAl commented on #19
Additionally, the workaround posted above fails because the compilation of glibc fails on my system (gcc-6). Hoping for an official fix!

[2017-09-18 18:25] jjimenezshaw commented on #201
@pieandcakes Yes, I still use `gdb`. The only difference was the compiler.
How are the options to use `lldb` instead of `gdb`? Maybe it works.

[2017-09-18 18:28] pieandcakes commented on #201
@jjimenezshaw Our `lldb` configuration is for OS X. Our extension provides slightly different commands when you change the MIMode to `lldb` to deal with the quirks of the `lldb` debugger. I know in your launch.json we enable gdb's pretty printing. Maybe because its compiled with `clang++` that gdb isn't getting the right info for their pretty printer to handle it. you may try removing that block a

[2017-09-18 19:07] pieandcakes commented on #1042
@danielboehm2 If you copy one of the links in the package.json in your extension folder, can you see if you are able to download the package? I'm wondering why your machine isn't able to resolve the URL.

[2017-09-18 19:51] sean-mcmanus commented on #1042
@danielboehm2 Can you tell us what country/region you're located in? This info could help us fix the issue.

[2017-09-18 21:23] Haneesh07 commented on #316
Its just I wanted to share how I solved this error. @sean-mcmanus ,there are no errors in the screenshot yes.

[2017-09-18 21:44] sean-mcmanus commented on #316
@haneeshh Yeah, I misunderstood. I thought you were reporting a bug :)

[2017-09-18 22:07] Anketell commented on #864
@pieandcakes This is still the behaviour observed with cpptools v0.12.4

Again, once the main thread has been expanded, closing it again does not help. Stepping another thread will expend and refocus the main thread.

You're clearly a busy man - I'm more than happy to debug this if you make the repository available.

[2017-09-18 23:24] pieandcakes commented on #864
@Anketell Sorry about the delay. The source for our debugging translator is located at https://github.com/Microsoft/MIEngine if you want to look. After debugging this, I think it looks like a VS Code issue.

I took your example provided and I see this:
[code]

The interesting code is that we have stopped on thread 5 but it is requesting scopes for frame 1008 which is thread 1. I've filed issue: ht

[2017-09-19 01:39] sean-mcmanus commented on #19
@GabeAl We haven't figured out how to remove our dependency on the dynamic libraries -- simply using `-static` is insufficient (e.g. `warning: Using 'dlopen' in statically linked applications requires at runtime the shared libraries from the glibc version used for linking`). Our telemetry indicated only 3-4% of users were impacted by this, so investigating a fix has not been a priority for us.

[2017-09-19 01:40] sean-mcmanus commented on #424
@randombenj The main pain point is our code doesn't compile/link without errors for a 32-bit Linux target. And our telemetry showed the 32-bit Linux usage was between 3-4% so it wasn't a high priority issue to solve.

[2017-09-19 02:24] ericgross2 commented on #19
@sean-mcmanus is the telemetry looking at active users or first launches? There are a lot of pretty big distros that are currently affected (seems like percentage-wise would be more than 3-4%), and I'd guess a lot of people try it once, find it doesn't work, and give up on Code and try something else.

I haven't dug into the vscode codebase, and I suspect that the CPP extension library is a closed

[2017-09-19 07:06] danielboehm2 commented on #1042
@pieandcakes Which package.json do you mean? In the cpp subfolder? And which link do you mean?
@sean-mcmanus Leonberg/Germany

[2017-09-19 07:34] BrianSipple commented on #664
I was going to suggest something very similar. I'd also be interested in a feature to create a header- and source-file pair with a single task invocation. This would be similar to XCode, for example, which generates both a `.h` and `.cpp` file when the user selects an option to create a new class file.

[2017-09-19 09:26] zhangmn799 commented on #1038
There is no squiggles underneath "type":"cppdbg"

[2017-09-19 09:37] axelvuylsteke opened #1044 "DebuggerTerminal autocloses"
Hello,

I am new to using VS Code and have been wondering around stackoverflow and here for some tips and tricks. I am using VS Code for C++ programming in gnome.
When I am executing a simple program for input and output, my debuggerTerminal opens to perform the actions. However the terminal closes automatically.

I have noticed as well there is no internal terminal usage to be used for these kind

[2017-09-19 11:34] GiBg1aN commented on #1041
If you are using Linux you have to add the path `/usr/include/linux`

[2017-09-19 14:08] ghost commented on #969
I have no '*' in the include paths. This is my c_cpp_properties.json:
[code]

When opening the main.cpp file I also get the following message: "Configure includePath for better IntelliSense results.". But all the include paths are in there...

[2017-09-19 14:40] pquantin opened #1045 "Microsoft.VSCode.CPP.Extension.linux 0.12.4 SIGSEGV on Fedora 26 x64"
Hi,
yesterday I experienced a crash when running vscode-cpptools 0.12.4 with VSCode 1.16.0 on my up-to-date Fedora 26 x64.
Here is the corresponding backtrace generated by GDB. I'm also attaching the corresponding ABRT folder.

Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x000000000061231e in code_store::a_store::get_thread_pimpl(std::__1::shared_ptr<code_store::a_store::a_thre

[2017-09-19 14:43] pquantin commented on #1045
As the archive is too big to be attached here, I uploaded it here: https://www.dropbox.com/s/579eccbxyz1adi8/issue1045.zip?dl=0

[2017-09-19 15:27] sean-mcmanus commented on #969
@justClouds Oh, you're using Arduino. You might try using the Arduino extension by Microsoft, which has a dependency on us (and/or asking them how to set things up for Arduino usage). I think your intelliSenseMode should be "clang-x64" not "msvc-x64". You can also change the intelliSenseEngineFallback setting to "Disabled" if you can't get all the paths set correctly. What include file does it say

[2017-09-19 15:33] kewarken commented on #1040
Bump for me as well. This is SUPER annoying. I keep a procexp.exe open and use it to clobber the intellisense process when this happens.

[2017-09-19 15:37] sean-mcmanus commented on #19
@ericgrossNI Installs by users. Most users use Ubuntu 14+ or something similar. If more people upvote this issue and/or take the survey (https://www.research.net/r/VBVV6C6 ) and say they want support for OS's with glibc < 2.18 then maybe we could investigate this more sooner.

We use cmake and when we supply the static linker flag, it still brings in "-export-dynamic -dynamic-linker -Bdynamic -lsu

[2017-09-19 15:53] sean-mcmanus commented on #1045
Very few users appear to be hitting this crash. Are you able to repro it consistently or is it random? Does it only repro with certain workspaces? It's trying to do a database operation, so maybe your database is somehow corrupt. Can you try a "Reset IntelliSense Database" command?

[2017-09-19 16:00] pquantin commented on #1045
So far I faced it only once. I did a reset of the database and will monitor any new crash.

[2017-09-19 16:06] sean-mcmanus commented on #1040
Using Process Monitor (https://docs.microsoft.com/en-us/sysinternals/downloads/procmon ), it looks like the process is reading the file a lot and then immediately closing it (i.e. from calling stat to check for file existence), which is blocking the write (maybe this is a VS Code saving bug -- if the write can't be done, maybe it should wait/retry automatically). But that's what I see in the case

[2017-09-19 16:09] kewarken commented on #1040
Hard to say for sure but it REALLY looks like a handle leak from my end.
Retrying never works until I either a) kill the intellisense process or b)
close the handle it's holding.

On Tue, Sep 19, 2017 at 12:06 PM, Sean McManus <notifications@github.com>
wrote:

[2017-09-19 16:19] sean-mcmanus commented on #1040
@kewarken Yeah, I also remember getting what seemed like a permanent file lock, but I don't know how to repro it consistently (my easy repro with a large file might be a different issue). So far we're unable to locate any place in our code where an unclosed file handle would be possible. It's more likely that an infinite loop is occurring with a stat call. Is the Microsoft.VSCode.CPP.IntelliSense.

[2017-09-19 16:21] kewarken commented on #1040
It seems to be happening to me almost constantly at the moment. I'll fire
up a procmon and see if I can catch it in the act.

On Tue, Sep 19, 2017 at 12:19 PM, Sean McManus <notifications@github.com>
wrote:

[2017-09-19 17:12] jordangarside opened #1046 "IntelliSense with different file system types (Windows 10)"
- VSCode Version: Code - Insiders 1.17.0-insider (128a4e3640c5375f7b0bc1cfd37f626481b1386f, 2017-09-12T05:24:19.607Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.12.4

IntelliSense doesn't seem to be working with SSHFS filesystem type in Windows 10 (no import errors detected and no squiggly lines). I know this is a fringe c

[2017-09-19 17:25] jophippe commented on #1046
According to #735, it looks like sshfs mounts that are too large will fail to be searched. You could try using a smaller mount and see if that works

[2017-09-19 17:35] jordangarside commented on #1046
Gotcha, thanks a lot @jophippe
I should have searched for that first, my bad.

[2017-09-19 17:40] sean-mcmanus commented on #1046
@jordangarside https://github.com/Microsoft/vscode-cpptools/issues/735 was with Mac and the file APIs are different. Did using a smaller mount fix the issue?

[2017-09-19 17:43] jordangarside commented on #1046
I'm going to try a smaller mount today @sean-mcmanus . I'll post here with the results.

[2017-09-19 17:59] jordangarside commented on #1046
@sean-mcmanus Just tried a 50GB mount and still had the same issue. Strangely, it looks like IntelliSense is still loading because I get the `Configure includePath for better IntelliSense results.` message (this happens for both mount sizes), but it doesn't detect the import errors.

There are also no problems reported in the console.

[2017-09-19 18:54] kewarken commented on #1040
So of course I've been procmonning all afternoon and not seen it happen
again. It literally happened a dozen times this morning with practically
every time I changed branches or edited code. I'll keep trying.

On Tue, Sep 19, 2017 at 12:21 PM, Chris Warkentin <kewarken@gmail.com>
wrote:

[2017-09-19 19:48] sean-mcmanus commented on #1046
Which winsshfs are you using? This one: https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/win-sshfs/win-sshfs-0.0.1.5-setup.exe ?

[2017-09-19 20:01] jordangarside commented on #1046
@sean-mcmanus [https://github.com/Foreveryone-cz/win-sshfs/releases/tag/1.6.1](https://github.com/Foreveryone-cz/win-sshfs/releases/tag/1.6.1)

[2017-09-19 20:11] sean-mcmanus commented on #1046
https://github.com/Foreveryone-cz/win-sshfs/releases/download/1.6.1/WinSSHFS-1.6.1.13-devel.msi doesn't install on any of my machines. Gives a couple errors: 2503, 2502. Are you using something else to install it?

[2017-09-19 20:14] MahadevanSrinivasan opened #1047 "No symbols found - Visual Studio Code without internet"
* Windows 7
    * VS Code version 1.16.1 x64
    * C/C++ extension version 0.12.4
    * step-by-step instructions to reproduce the issue
      Launch Visual Studio Code
      Add a folder with the source files (C/C++/H files)
      Open any source file and hit Ctrl+Shift+O and notice "No symbols found"
      Trying "Go to definition" or  "Peak Definition" leads to "No symbol found"
      Hovering

[2017-09-19 20:20] jordangarside commented on #1046
I'm using that MSI to install.

<img width="438" alt="winsshfs" src="https://user-images.githubusercontent.com/6321824/30613490-4b08884c-9d56-11e7-8848-818e5fe82352.png">

I think you also need to have [Dokany](https://github.com/dokan-dev/dokany/releases/tag/1.0.5) installed before running the MSI.

[2017-09-19 20:26] pieandcakes commented on #1042
@danielboehm2 in your `C:\Users\<username>\.vscode\<cpp extension folder>\` there should be a package.json file. At the bottom of the file there are a list of components with links. If you choose one of them, see if the browser will allow you to download the file.

Are you behind a proxy?

[2017-09-19 20:52] sean-mcmanus commented on #1047
What happens when you change the databaseFilename property to something like "${workspaceRoot}/vc.db"? What size is the file? Can you open the folder without opening any files and see if the process uses CPU and there's a flame in the bottom right? Opening larger folders should trigger more CPU usage and a larger database. Has our extension worked for you in the past?

[2017-09-19 20:55] sean-mcmanus commented on #1046
Yeah, I have 1.0.5.1000 of Dokan: https://github.com/dokan-dev/dokany/releases/download/1.0.5/DokanSetup-1.0.5.1000.exe .

[2017-09-19 21:00] MahadevanSrinivasan commented on #1047
Changed the databaseFilename property to "${workspaceRoot}/vc.db" and restarted Code. Don't see the db file where it is supposed to be.
Also tried opening the folder without opening any files - no change in the process activity. No flame at the bottom right. Just a smiley symbol.
Extension works on a machine with access to the internet. It has not worked on this machine (without internet) before.

[2017-09-19 21:15] jenmueller commented on #1015
I'm sorry, I made an error while referencing another post : should have been [this issue](https://github.com/vector-of-bool/vscode-cmake-tools/issues/215).

[2017-09-19 21:16] bobbrow commented on #1043
1. Which instructions are you referring to?  I seem to recall seeing `ext install cpptools` on the marketplace page at one point, but I don't see it anymore.  That command seems to invoke a search now rather than installing a specific extension.  VS Code must have changed something on us.  If you can share the URL of the instructions you found, we can get this updated.
2. The first reload is requi

[2017-09-19 21:17] jophippe commented on #1046
Okay, I just set up an sshfs connection using the 4every1 edition 1.5.12.8 and Dokany 0.7.4. I set up a folder on the mount, added an include, and it didn't show an error, just like yours. When I hover over the include, I get the message "FE 'Compiler exited with error - No IL available'". Do you get the same message @jordangarside?

[2017-09-19 21:18] sean-mcmanus commented on #1047
Yeah, we download OS dependencies on first run. But I don't know where you got the Microsoft.VSCode.CPP.Extension.exe process, because that should not be in the .vsix, but part of the download. You should install the .vsix on a machine with internet access and then zip/copy the entire folder after the dependencies are downloaded, assuming both machines have the same OS.

[2017-09-19 21:36] jordangarside commented on #1046
Yup I get the same message @jophippe.

[2017-09-19 21:42] MahadevanSrinivasan commented on #1047
I got VSIXPackage from here: https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools using instructions from here: https://stackoverflow.com/questions/37071388/how-to-install-vscode-extensions-offline.

I did as you suggested - installed Visual Studio Code on another Windows 7 machine, installed the extension, made sure the dependencies got installed, verified the symbol search and

[2017-09-19 21:46] jophippe commented on #1046
Okay. The compiler failing is almost certainly the cause of the missing squiggles. I'll throw a debugger on there and see if this is a simple fix. Thanks for reporting this issue @jordangarside

[2017-09-19 21:46] sean-mcmanus commented on #1047
Our extension gets installed to `C:\Users\user\.vscode\extensions\ms-vscode.cpptools-0.12.4`. You should copy/paste that folder.

[2017-09-19 21:49] MahadevanSrinivasan commented on #1047
Awesome. That did it. It will be great if this offline installation procedure is documented somewhere.

[2017-09-19 23:56] sean-mcmanus commented on #1040
I just reproed the bug. The IntelliSense process is not using any CPU and the file lock is permanent. The modified file was only 13 lines with no #includes. I wasn't running proc mon before the repro, but I started it afterwards and I just see the normal events from stat checking for file existence, so it looks like those stat events are a different issue, and there's some other dangling file lock

[2017-09-20 00:39] sean-mcmanus commented on #1040
I reproed the bug with proc mon running. Unfortunately, there are an equal number of Create/Close files (each Close coming after the Create). But process explorer shows the process still has the file handle locked. Hmm...let me know if anyone sees anything different with proc mon. I'm investigating caching the stat results to fix the stat calls temporarily blocking writes, which should also make i

[2017-09-20 00:46] jordangarside commented on #1046
Great, thanks guys!

[2017-09-20 05:41] zajo opened #1048 "Useless"
This is not so much a bug report as feedback. The C++ Intellisense is still completely useless in VSCODE. I went through the trouble of giving it all the correct include directories and it still fails to find even simple function definitions, nevermind things like finding the correct function template specialization, etc.

This is in contrast to Intellisense in Visual Studio which works marvelousl

[2017-09-20 07:38] ZoeVonFeng commented on #1041
I had same issue on windows, after I add the  `"C:\\cygwin64\\lib\\gcc\\x86_64-pc-cygwin\\6.4.0\\include\\c++"` at includePath, I got this error: `cannot open source file "bits/c++config.h" (dependency of "iostream")`

[2017-09-20 08:30] ghost opened #1049 "VSCode 64 bit: Intellisense cant find symbols or include files for Arduino code. VSCode 32 bit can."
VSCode Version: 1.16.1 64 bit
OS Version: Windows 10
Arduino IDE/tooling: 1.8.4
C/C++ extension: 0.12.4

Steps to Reproduce:
1. Install Arduino IDE (not from windows store) and  VS Code 64 bit
2. Install Arduino extension
3. edit and compile code like : https://www.arduino.cc/en/Tutorial/DigitalReadSerial

Code compiles and runs on arduino, but intellisense complains about missing symbols (like Se

[2017-09-20 09:46] Haneesh07 commented on #316
@sean-mcmanus  no worries :)

[2017-09-20 12:07] danielboehm2 commented on #1042
Yes, I can download it with the browser.

Yes, a colleague has the same settings and there it is working.
Is it possible that any other programm blocks it? I.e. Visual Studio, LLVM...

[2017-09-20 15:02] axelvuylsteke commented on #1044
Found a workaround to test my programs in the terminal of VSC
g++ helloworld.cpp -o Program
./Program

[2017-09-20 15:10] bobbrow commented on #1048
Thank you for your feedback.  If you can provide us with more information to help us reproduce your issues in-house, we would be happy to take a look.  Otherwise I will close this issue.

[2017-09-20 15:17] bobbrow commented on #1041
What does gcc tell you the include path should be?  Run this command and make sure all of the paths printed out are listed in your c_cpp_properties.json: `gcc -v -E -x c++ -`