[2019-08-26 19:31] sean-mcmanus opened #4143 "Format Document doesn't work with Untitled c/cpp files"
@bobbrow Issue still exist with documents that was not saved on disk. Version 0.25.0. Steps to  reproduce (via command palette):
1. New Untitled File
2. Change Language Mode -> C
3. Format Document

But if you save that document, problem will gone.

_Originally posted by @lorond in https://github.com/microsoft/vscode-cpptools/issues/1232#issuecomment-524623481_

[2019-08-26 19:50] joelspadin commented on #1117
An update on the problem I was having:

The older version of GDB I was using appeared to crash immediately before it would process any arguments if `PYTHON_HOME` wasn't set, but that is no longer happening after upgrading to a newer version of GDB. I am now able to set `miDebuggerPath` to the .exe and set up any other environment variables I need with `-ex "set PATH=VALUE"` arguments.

I was previ

[2019-08-26 20:04] sean-mcmanus commented on #4143
The right-click menu also doesn't show the normal stuff from our extension.

It looks like we don't get a didOpen until the document is saved...our code wasn't written to handle not receiving a didOpen.

In addition, if you edit the file in this state, it will cause the internal document to be corrupted, and future formatting could give garbage or duplicate text.

[2019-08-26 20:07] pieandcakes commented on #4022
@DukeLaze I would suggest this process if it is still not working:
* Uninstall the extension
* delete the folders
* Restart VS Code and install the extension
* Go to the output window and look at the `C/C++` output (in the drop down) and see if there are log messages about it downloading components. Make sure that it is done downloading.
* Restart VS Code one more time and try and start debugging.

[2019-08-26 20:10] bobbrow commented on #4143
We currently only support `file:///` URIs.  This is a scenario we haven't addressed yet.

[2019-08-26 20:14] pieandcakes commented on #1117
@ChaosinaCan The `pipeTransport` was a way to provide the ability to debug over SSH. We have had users use it for different other projects but the command arguments need to end with the ability to pass the debugger path in the `pipeTransport` block.

Our [logging block](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) should give some information but if you want to debug it, you will nee

[2019-08-26 20:28] pieandcakes commented on #4137
@h7ga40 The problem is this line is missing a `description` and there was a bug I inadvertently introduced which is requiring that `description` not be null:

[code]

I have a fix and it will be in `0.25.1` which we will release this week but in the mean time, you can avoid this by making sure you have a `description` set.

This is a duplicate of #4125 issue.

[2019-08-26 20:50] sean-mcmanus commented on #4109
@sweettyler -- yeah, looks like the fix didn't work 100%, see https://github.com/microsoft/vscode/issues/79252#issuecomment-525025641 .

[2019-08-26 21:00] pieandcakes commented on #4133
@ChristianJacobsen Where do you see the extra one? With all the distributions out there its hard to determine which ones work and which ones don't. Can you verify if a `'` will work in your instance? If so, that might be the "correct" fix.

[2019-08-26 22:07] JennToo commented on #3282
We're also seeing the `NullReferenceException` error while doing GDB remote debugging (x86_64 host to x86_64 target) with 0.25.0. Downgrading to 0.24.1 alleviates the issue. Setting `externalConsole` to `true` or `false` seems to make no difference, so I'm guessing it's an unrelated issue.

[code]

[2019-08-26 22:30] sean-mcmanus commented on #641
@rivalak I don't understand what you're asking. Can you open a new issue with more info?

[2019-08-26 22:33] sean-mcmanus opened #4145 "Improve Go to Symbol fuzzy search to ignore _ in target symbols"
@sean-mcmanus  Actually "Go to symbol in workspace" fuzzy search is not good as "Go to file".

"Go to file" can do this:
![image](https://user-images.githubusercontent.com/2181383/63673408-ca470b00-c816-11e9-90c6-a380f60758d8.png)

"Go to symbol in workspace":
![image](https://user-images.githubusercontent.com/2181383/63673425-d3d07300-c816-11e9-9e5d-f5c45e3276f8.png)
`quotalink` should have resul

[2019-08-26 22:36] sean-mcmanus commented on #4145
VS has the same limitation. But both VS and VS Code's file search is fuzzy with _ targets.

[2019-08-26 22:42] sean-mcmanus commented on #4145
Actually, we're already tracking this feature with https://github.com/microsoft/vscode-cpptools/issues/2751 .

Looks like our current implementation just checks for substrings and doesn't do the additional fuzzy matching that autocomplete uses (i.e. where wild cards are inserted between every character).

[2019-08-26 22:42] #4145 closed, assigned to nobody

[2019-08-26 22:43] sean-mcmanus commented on #2628
@wgqimut We're tracking fuzzy symbol search with https://github.com/microsoft/vscode-cpptools/issues/2751 .

[2019-08-26 22:51] sean-mcmanus commented on #4075
The fix for this bug would only find the line "#define DEF1 myVariable" and not the uses of the macro DEF1.

[2019-08-26 23:04] sean-mcmanus commented on #4091
It wasn't actually fixed -- 0.25.1 should have the fix (when it's released).

[2019-08-26 23:08] h7ga40 commented on #4137
After adding "description", it's fixed. Thank you.

[2019-08-26 23:20] pieandcakes commented on #4137
@h7ga40 Thanks. I'll mark it as a duplicate and closed. It should be fixed again in our next release.

[2019-08-26 23:20] #4137 closed, assigned to pieandcakes

[2019-08-26 23:43] EmbeddedBacon commented on #4129
@sean-mcmanus, I had added another file into the project and I saw the little barrel icon show up which states "Tag parsing initializing", but when I press the icon I get the the following message

`command 'C_Cpp.ShowParsingCommands' not found`

It has been stuck in the "Tag parsing initializing" for over an hour now.  I did attach to the extension to see what it was doing.  Here is the data I ga

[2019-08-26 23:52] sean-mcmanus commented on #3282
@Nitori That is most likely a duplicate of https://github.com/microsoft/vscode-cpptools/issues/4125 , that should be fixed in our pending 0.25.1.

[2019-08-27 00:01] sean-mcmanus commented on #4129
You're supposed to see "Code browsing service initialized" -- it looks like it's failing to create the symbol database. You can find where that is stored via setting the C_Cpp.default.browse.databaseFilename to something like `${workspaceFolder}/.vscode/vc.db` (or you can change the browse.databaseFilename in the c_cpp_properties.json). Maybe the default location we're picking is invalid.

I don't

[2019-08-27 00:07] EmbeddedBacon commented on #4129
Mr. @sean-mcmanus, I am not using a forked version of the extension, just the latest one which is 0.25.0

/users/mrhicks/.vscode-server/extensions/ms-vscode.cpptools-0.25.0/bin/Microsoft.VSCode.CPP.Extension.linux

When I issued the pst (alias for `ps -ef f`) only one thread/task was shown in this particular case.  Let me see if I can look into the database file based upon your comments.  Hope to

[2019-08-27 00:09] sean-mcmanus commented on #3858
This is our top hitting main process crash -- if anyone has a repro let us know (or some OSS project that repros it)...otherwise maybe we can find a repro ourselves? You would probably have to do a Reset IntelliSense Database if you've already hit the crash, because we try not to reparse files that cause crashes.

[2019-08-27 00:18] sean-mcmanus commented on #4129
Ah, I think I found a way the command could be missing -- if the queryCompilerDefaultsRequest fails to ever return. It's possible your machine has some particular compiler that is causing some infinite loop in our "search fo compilers" code -- I recall we had a similar bug a year or so ago....I'm not sure if that's related to the database creation failure yet though.

[2019-08-27 00:20] sean-mcmanus commented on #4129
Well, the infinite loop bug that we fixed 6 months ago was on Windows, and you're on Linux, so I don't yet see how an infinite loop is possible in that code path. Maybe the main input thread is blocking that call? Your logs don't show it getting blocked.

[2019-08-27 04:48] eternalphane commented on #3502
Hi @9527KGG, why you close this issue?

[2019-08-27 05:03] kgfly commented on #3502
because I gave up :)

[2019-08-27 05:57] matter123 commented on #4089
@anatolyburakov @HunterZ with version v1.14.0 of the "Better C++ Syntax" extension, syntax highlighting for Doxygen commands inside documentation comments.

@anatolyburakov You can distinguish documentation comments from normal comments, as documentation comments have the scope `comment.block.documentation.cpp`. Using the vscode setting "editor.tokenColorCustomizations" you can apply a separate co

[2019-08-27 06:57] lxffff1990 opened #4146 "Cannot attach cannot attach to process after lastest commit!"
[https://github.com/microsoft/vscode/issues/79849](https://github.com/microsoft/vscode/issues/79849)

[2019-08-27 07:22] ChristianJacobsen commented on #4133
Given:

[code]

I'm unsure if character 34 is just how the shell outputs the command, but I know that character 272 shouldn't be there. If you take the string and paste in into any IDE with syntax highlighting for shell scripts you'll see that it inverts the quoting for the redirections of input/output. I don't think `'` vs `"` is the issue here.

[2019-08-27 07:52] Lennon925 opened #4147 "Cpptools return wrong locations when using command "vscode.executeReferenceProvider""
Cpptools Version: 0.25

Currently cpptools return wrong locations when using command "vscode.executeReferenceProvider" and passing uri and position to this command. It is using current selected word position of current editor instead of uri and  position I passed to. You can repro this like this:

let uri = xxxxx;
let position = xxx;
vscode.commands.executeCommand<vscode.Location[]>('vscode.execut

[2019-08-27 08:35] eternalphane commented on #3502
then please reopen this issue to mark it as unresolved (and hopefully someone may create a pr for it ˊ_>ˋ )

[2019-08-27 18:16] Colengms commented on #3883
There may be multiple issues here.  The nonsensical error message does occur in VS, and appears to be related to fragment parsing.  I opened the following issue against VS:

https://developercommunity.visualstudio.com/content/problem/714374/intellisense-error-unable-to-assign-type-to-own-ty.html

That issue is transient, as it gets cleared up as soon as a full parse occurs (merely clicking on anot

[2019-08-27 18:31] sean-mcmanus commented on #4146
This is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/4133 . We plan to release a fix soon. You can use "Install Another Version..." to revert to 0.24.1 as a workaround (with extensions.autoUpdate set to false and C_Cpp.updateChannel set to "Default").

[2019-08-27 18:31] #4146 closed, assigned to nobody

[2019-08-27 19:36] sean-mcmanus opened #4150 "Find All References fails for variables on the last line of a file if there's no newline"
Do find all references on "abc1" in the code below:
[code]

Bug: In the "C/C++ References" section it incorrectly gives
[code]

This seems like a corner case that no users would likely hit in normal code -- however, it's possible the root bug could be causing other issues so it might be worth investigating. It is worked around by adding a new line to the end of the file.

[2019-08-27 19:41] sean-mcmanus commented on #4147
I tried the repro, but I'm not seeing a bug. Can you provide more repro info? I see the code using the initial URI and position, but if a different query is made while the previous one is still processing it will trigger a preview of the initial request (ignoring the URL/position of the new cursor position), which is currently "by design". The code I used to test this is
[code]
Which correctly cau

[2019-08-27 21:30] sean-mcmanus commented on #4089
Thanks. Sounds like we can close this issue.

[2019-08-27 21:30] #4089 closed, assigned to nobody

[2019-08-27 22:46] pieandcakes commented on #4133
@ChristianJacobsen I'm trying to see if this fix will solve both the problems: https://github.com/microsoft/MIEngine/pull/927

It's replacing the original `\\\"` with `'` as there should be no expansion within the string that we're prompting with.

[2019-08-28 01:23] Lennon925 commented on #4147
I mean that it will always use activeDocument.uri and selection position to call command "vscode.executeReferenceProvider" instead of params I pass to it.  The uri and position I passed maybe is not equal the activeDocument uri and selection position.

let uri = xxxxx;  //(test.cpp)
let position = xxx;  //(line 5,column 6)
vscode.commands.executeCommand<vscode.Location[]>('vscode.executeReferenceP

[2019-08-28 01:33] falhumai96 commented on #4008
@sean-mcmanus any updates on this issue?

I have to confirm I am only seeing the issue in any application that mounts a network drive as a `Network Drive`, but the issue won't happen if it was mounted as a `Fixed Drive`, for example as in `SFTPNetDrive` mounting SSHFS drives as `Fixed Drives`.

Please update me with any updates that happen regarding this bug.

[2019-08-28 02:34] sean-mcmanus commented on #4147
In my repro code example, it is using the args passed to it and not the selection position.

I changed my repro code to use a hardcoded URI and position and it uses that value and not the active doc or selection.

Our language server should just be receiving the params that are passed -- we have absolutely no code that checks the active document or selection. My guess is that your code is somehow

[2019-08-28 02:38] sean-mcmanus commented on #4008
We haven't had time to investigate/fix SSHFS related bugs.

[2019-08-28 06:09] Lennon925 commented on #4147
I think my code is right and every time I can repro this bug. I selected the first "Age" marked in picture and pass the first "Age" position to command and run , result is as the first log.
I selected the second "Age" and pass the first "Age" position to command and run, result is as the second log.

![捕获](https://user-images.githubusercontent.com/39362073/63829806-16bc5300-c99d-11e9-87bd-e1ccc2a1

[2019-08-28 06:36] ChristianJacobsen commented on #4133
Sounds good @pieandcakes! Sorry for the inconvenience my 'fix' has caused! :)

[2019-08-28 07:31] aenima1891 commented on #2862
I've the same problem.
There are some news about it?

[2019-08-28 07:47] Lennon925 commented on #4147
In output window，c/c++ references output can also support this. It lists the references of the word you selected currently instead of the word you passed to command "vscode.executeReferenceProvider".

my code is as below and If you selected different words, the length of locations are different.

let uri: vscode.Uri = vscode.Uri.file('d:\\Projects\\demo\\Case\\test.cpp');
let pos: vscode.Position

[2019-08-28 08:10] ghost opened #4154 "Intellisense stops working after declaring a class inside another one"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.37.1
- C/C++ Extension Version: 0.25.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
When I declare a class inside another one, i.e.
[code]
    IntelliSense stops working for some reason.

[2019-08-28 09:17] Lennon925 commented on #4147
I don't know if it's related with this error: every time cpptools launch, "C/C++: Install vsix -- Failed to download rate limit JSON " occurs.

[2019-08-28 12:02] weety commented on #429
+1 for Linux ARM support. Bested support for raspberry pi 4.

[2019-08-28 13:01] Souldat commented on #429
Is there any news on this @sean-mcmanus?

[2019-08-28 13:36] XobSod commented on #15
Hi all,

You guys did something to C_Cpp.PeekDeclaration command? After updating the extension error appears:
`command 'C_Cpp.PeekDeclaration' not found`

[2019-08-28 16:54] jaa183 commented on #1565
I have same problem.
the path is correct, and when I click strcpy fun with ctrl, he take me to the string.h
I look at fun decleration in it, it was:
char *_EXFUN(strcpy,(char *__restrict, const char *__restrict));

and macro:
#define _EXFUN(name,proto) name()

I use esp8266 toolchane for arduino 2.5.0

[2019-08-28 17:03] michelleangela commented on #4154
I'm not able to reproduce the issue. I tried to reproduce by using your sample code in a *.cpp and *.h files.

Does the entire IntelliSense server stop working or is there a particular feature of IntelliSense that doesn't work?

Can you [enable logging for the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server) and send the logs?

Als

[2019-08-28 17:16] Colengms commented on #4109
The secondary issue (no colorization in newly saved file) should be addressed by https://github.com/microsoft/vscode-cpptools/pull/4153 .

[2019-08-28 18:25] pieandcakes commented on #2862
For conditional breakpoints, we have [this](https://github.com/microsoft/vscode-cpptools/issues/2297) issue for tracking it which you can upvote. Logpoints are currently not supported in the extension so they are treated like a breakpoint.

[2019-08-28 19:01] Zylann commented on #4092
I still have this problem from time to time. When it happens I close/reopen VSCode and the error goes away, then it comes back after some time of editing, about 5 to 10 minutes. Every time, it involves a struct defined within a class.

![image](https://user-images.githubusercontent.com/1311555/63884687-90206980-c9ce-11e9-87d9-54a691b95dc0.png)

I didn't change the struct while editing, though.

My

[2019-08-28 19:07] krisbyington opened #4155 "Cannot open source file iostream"
Type: General
I installed two extensions, the microsoft c/c++ estension and the code runner extension as for a compiler.
I copied in a simple program to test the compiler and I have two error messages returned when I tried to compile the code.

The first is
 Failed to parse "\.vscode\c_cpp_properties.json": ENOENT: no such file or directory, open'\.vscode\c_cpp_properties.json'

The second is
cann

[2019-08-28 19:22] sean-mcmanus commented on #4155
What are the repro steps to get "Failed to parse ".vscode\c_cpp_properties.json": ENOENT: no such file or directory, "? We fixed a bug with the same symptom previously, but your repro steps are probably different.

Can you do a C/C++: Log Diagnostics command to see what your includePaths are? You should probably set your compilerPath setting to your compiler to automatically get the correct system

[2019-08-28 19:54] sean-mcmanus commented on #4147
The "download rate limit JSON" error can be ignored -- it's just from code that checks if there's a new  Insiders version available.

I tried your repro using the same code in the screenshot and I'm still getting results that are the same no matter what the cursor position is.

Are you sure you're using the latest version of our extension code from 0.25.0 and there are no other reference providers

[2019-08-28 20:16] bitquality opened #4157 "fatal error: opencv2/opencv.hpp: No such file or directory"
I am trying to use openCV library in my VSCode . I could compile a hello world cpp program but doesn't work when i include any header from opencv.

fatal error: opencv2/opencv.hpp: No such file or directory

my c_cpp_properties.json

`{
    "configurations": [
        {
            "name": "Win32",
            "includePath": [
                "${workspaceFolder}/**",
                "C:\\opencv\\b

[2019-08-28 20:17] sean-mcmanus commented on #4147
In your repro, are you selecting code or lines of code when you invoke the reference provider? I'm seeing a bug when it's invoked with certain code selected, but not when the cursor is moved without any selection.

[2019-08-28 20:35] sean-mcmanus commented on #4157
You need to add the -I include paths to your tasks.json. The paths in c_cpp_properties.json includePath are not used for compiling (just IntelliSense features).

[2019-08-28 20:41] bitquality commented on #4157
Thanks for the quick reply. Can you give me one sample or line with -I
I have updated it to below. Is that valid ?

`            {

                "version": "2.0.0",

                "tasks": [
                    {
                        "label": "myC++",
                        "type": "shell",
                        "command": "g++",
                        "args": [

[2019-08-28 20:44] lygstate opened #4158 "Parsing doctest.h 1.2.9 very slow"
Issue Type: <b>Bug</b>

1. Create a C/C++ project with cmake.
2. open doctest.h
3. it's would stuck for a long time(TOO LONG), and then doctest.h are parsed out. There is no infinite loop, cause finllay it's out, but really slow

Extension version: 0.25.0
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.18362

<detail

[2019-08-28 20:49] sean-mcmanus commented on #4147
Yeah, the bug was with selection -- we'll see if we can get this into 0.25.1.

[2019-08-28 21:21] sean-mcmanus commented on #429
@Souldat Not really. We were able to build our extension for ARM, but there were other issues, so the work got post-poned till later.

[2019-08-28 21:22] sean-mcmanus commented on #15
@XobSod Yeah, it's removed -- we use the built-in Peek Declaration command now.

[2019-08-28 21:37] sean-mcmanus commented on #4157
That is the error you get when you use gcc 5.5 instead of 6.1 or later. Can you upgrade your compiler?

[2019-08-28 21:50] sean-mcmanus commented on #4158
What does "Create a C/C++ project with cmake" mean?

If you do a Reload Window is it slow the 2nd time?

Is the red flame or database icon showing?

[2019-08-29 00:50] sean-mcmanus opened #4162 "Go to Definition fails to go to the class for no arg default constructors"
Go to Def fails on the "new foo2()" in code:
[code]

It works in VS (goes to class foo2). Find All References work though. It also works if you remove the ().

[2019-08-29 01:15] Lennon925 commented on #4147
Thanks

[2019-08-29 03:24] igormcoelho opened #4163 "Auto-complete is adding !-- every time I put a point "." inside Summary comment"
**Type: LanguageService**

**Describe the bug**
- OS and Version: linux
- VS Code Version: 1.35.0
- C/C++ Extension Version: 0.25.0
- Other extensions you installed (and if the issue persists after disabling them): C# extension may also affect this...
- A clear and concise description of what the bug is.

I'm trying to hit a double point ".." inside a "</summary>" comment for parameters of a funct

[2019-08-29 03:41] sean-mcmanus commented on #4163
What programming language is the file using? I don't think our extension is doing this. You could try changing the wordBasedSuggestions VS Code setting.

[2019-08-29 05:23] swq123459 opened #4164 "Different windowsSDK directories"
**Type: LanguageService**

**Describe the bug**
- OS and Version: win10 `1903` x64
- VS Code Version: `1.37.1`
- C/C++ Extension Version: `0.25.0`
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
My computer has windowsSDK (v10 in vs2019), and platformSDK (vs2005); I want to use the vs2005 build environment, I

[2019-08-29 06:54] LiShunGang opened #4165 "The same macro definition could not be correctly identified"
Type: Debugger

Member properties and member functions cannot be identified

**Describe the bug**
- OS and Version: win10 ssh centos
- VS Code Version: 1.37.1
- C/C++ Extension Version: 0.25.0

A/InternodeSyncer.h:
[code]

B/InternodeSyncer.h:
[code]

Then, member properties and member functions in "B/InternodeSyncer.cpp" could not be correctly identified

[2019-08-29 07:13] aenima1891 commented on #2297
Please, solve this issue.
It would be very useful during debugging

[2019-08-29 09:11] swq123459 commented on #4164
in c_cpp_properities.json i set `"windowsSdkVersion": "8.1.51636.0"`(win8.1 SDK) false, It seems to only support versions above 10.

[2019-08-29 11:13] lygstate commented on #4158
@sean-mcmanus  It's still slow each time I open doctest.h,  after Reload Window still slow

[2019-08-29 12:58] xgdgsc commented on #1201
Needing this launch feature.

[2019-08-29 15:04] LaPeste opened #4166 "[gdbserver] Detach when stopping debugging when using gdbserver"
In our setup we have multiple remote C/C++ applications running on various VMs (like many other projects).
I'm working on making possible to remote debug these applications with VSCode (by _attaching_, not launching) .
So far I managed to get everything working but 1 very important detail: it's very important that the remote application isn't killed when I stop the debugger (GDB, to be precise).
T

[2019-08-29 15:09] polyclash commented on #1201
We need this to run external application and capture the stdout, with no debug attached.

[2019-08-29 17:52] michelleangela commented on #4164
If you're using Windows SDK 8.1.*, the property `windowsSdkVersion` expects `8.1`. Can you try setting it to `8.1` and run the command `C/C++: Log Diagnostics` to see which include paths are used?

[2019-08-29 18:18] sean-mcmanus commented on #4158
What is doctest.h?

[2019-08-29 18:19] matter123 commented on #4158
@sean-mcmanus This might be https://github.com/microsoft/vscode/issues/78769

[2019-08-29 18:27] pieandcakes commented on #1201
@polyclash @xgdgsc for now you can use the VS Code Terminal window to launch your application from the command line.

[2019-08-29 18:30] pieandcakes commented on #4166
@LaPeste If you are attaching, you should see the `detach` button in VS Code. that you can press to detach. Our current behavior is to detach if possible.

If you are not seeing this behavior, please enable [traceResponse and engineLogging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp). You can either post it here or email me directly.

Also a repro example would be helpful for us to

[2019-08-29 18:35] sean-mcmanus commented on #4158
@matter123 Thanks -- yeah, that's it. I reproed the bug as soon as I disabled the Better C++ Syntax extension. Freezes for around 45 seconds for me.

[2019-08-29 19:24] Zylann commented on #3964
Just got the same as #3786 after opening files from Ctrl+Clicking on compile errors in the output terminal:
[code]

The file was already opened, but opened a second time instead:
![image](https://user-images.githubusercontent.com/1311555/63969953-e824a200-ca9a-11e9-99ae-b8727f178bcc.png)

And here is what I clicked. The build system I use (SCons+MSVC) made the whole path come out as lower case in

[2019-08-29 19:29] sean-mcmanus commented on #4165
Can you give more repro details? I'm not able to observe any bug, and I don't understand what bug you're seeing. Is your source file including the header file?

[2019-08-29 19:50] sean-mcmanus commented on #3964
@Zylann Yeah, it's a problem with VS Code and the lack of any sort of file normalization, particuarly from links generated from external tools: see https://github.com/microsoft/vscode/issues/12448 . The warning message we output is "by design".

[2019-08-29 20:02] Colengms commented on #4071
Hi @arminAnderson .  Unfortunately, this is currently by-design.  TextMate colorization is effectively the first pass, and C/C++ semantic colorization is applied on top of that.  Neither pass is aware of the results of the other.  We are working with the core VS Code team on a more comprehensive API for semantic colorization.  Our current implementation of semantic colorization in the C/C++ Extens

[2019-08-29 20:06] Colengms commented on #3867
Closing, as https://github.com/jeff-hykin/cpp-textmate-grammar/issues/278 has been closed.

[2019-08-29 20:06] #3867 closed, assigned to nobody

[2019-08-29 20:10] Colengms commented on #3741
Closing as this is no longer repro'ing in VS Code.

[2019-08-29 20:10] #3741 closed, assigned to nobody

[2019-08-29 23:30] sherryyshi opened #4168 "Configuration notification should not show when there is a custom configuration provider."
When a custom configuration is provided and set as the active/default provider, the user should not be prompted to configure their IntelliSense - they expect the configuration provider to do that.

[2019-08-29 23:37] sean-mcmanus commented on #4168
What's the prompt? Is this for the compile_commands.json prompt or something else?

i.e. how do I repro the bug? I believe I've seen the compile_commands.json prompt appear when it shouldn't because I was using a custom config provider, but I'm not sure how to repro it now.

[2019-08-30 00:08] sean-mcmanus commented on #4168
I got a repro of the compile_command.json prompt with a custom config provider, but it seems like it's occurring when the custom config provider is stuck. We could just check if the setting is set and skip the custom config prompt in that case.

[2019-08-30 00:18] sherryyshi commented on #4168
I was talking specifically about "Configure your IntelliSense settings to help find missing headers."

I actually have not seen the compile_command.json prompt with our extension, but in any case that also seems like something that we don't want our users to set.

[2019-08-30 00:23] sean-mcmanus commented on #4168
Ah, okay -- that message appears if the intelliSenseEngineFallback is enabled -- the default is "Disabled".

Oh, no, it also repros if errorSquiggles is the default value.

[2019-08-30 00:27] #3048 closed, assigned to Jasdriel

[2019-08-30 00:28] sean-mcmanus commented on #3632
This should be fixed starting with 0.25.1 (as in, we check the extensions.autoUpdate before updating) -- however, if you revert to a version older than 0.25.0, then it won't have that fix so, so the benefit would only start when we release 0.26.0-insiders and you change to 0.25.1.

[2019-08-30 00:28] #3632 closed, assigned to nobody

[2019-08-30 00:29] sean-mcmanus commented on #4091
Should be fixed with 0.25.1 now.

[2019-08-30 00:29] #4091 closed, assigned to nobody

[2019-08-30 00:41] sean-mcmanus commented on #4125
Fixed with 0.25.1.

[2019-08-30 00:41] #4125 closed, assigned to pieandcakes

[2019-08-30 00:41] sean-mcmanus commented on #3282
Fixed with 0.25.1.

[2019-08-30 00:41] #3282 closed, assigned to WardenGnaw

[2019-08-30 00:42] sean-mcmanus commented on #4127
Fixed with 0.25.1.

[2019-08-30 00:42] #4127 closed, assigned to nobody

[2019-08-30 00:42] sean-mcmanus commented on #4133
Fixed with 0.25.1.

[2019-08-30 00:42] #4133 closed, assigned to pieandcakes

[2019-08-30 00:43] sean-mcmanus commented on #4135
Fixed with 0.25.1.

[2019-08-30 00:43] #4135 closed, assigned to nobody

[2019-08-30 00:43] sean-mcmanus commented on #4141
The fix is available in 0.25.1 now.

[2019-08-30 00:43] #4141 closed, assigned to nobody

[2019-08-30 00:44] sean-mcmanus commented on #4147
This should be fixed with 0.25.1.

[2019-08-30 00:44] #4147 closed, assigned to nobody

[2019-08-30 00:44] #4122 closed, assigned to nobody

[2019-08-30 00:56] Colengms commented on #3706
Hi @Clovel .  Since there hasn't been activity on this issue in 3 month, I'm going to close it.  Feel free to open another if you can isolate a repro.

[2019-08-30 00:56] #3706 closed, assigned to nobody

[2019-08-30 02:19] #3956 closed, assigned to nobody

[2019-08-30 03:06] smwikipedia commented on #4127
It works! Thanks!

[2019-08-30 03:12] swq123459 commented on #4164
- Thank you very much for your guidance. I configured `windowsSdkVersion=8.1` according to your practice and met the format requirements. I am very happy to see that the c/c++ plugin starts downloading some content of the corresponding version, then I ran `C/C++: Log Diagnostics`, printed the following content：
[code]
My c_cpp_properties.json is
[code]
- I configured `compilerPath`, but unfortunat

[2019-08-30 08:40] LaPeste commented on #4166
By your wording, I think I understand the problem. I must have not configured properly my launch.json but the official doc doesn't help. I explain better:

The app is running remotely, but, for I don't know what reasons, I can get my local VSCode to attach only if "request" is set to "launch".
I didn't want to give much thought into it, since it was just working. I just thought it was... the way i

[2019-08-30 11:11] polyclash commented on #1201
@pieandcakes yes, I use a task, the internal terminal is configured with bash(mingw64), but the terminal don't receive the stdout from the application.

[2019-08-30 14:12] bitquality commented on #4157
Not sure how i can upgrade the gcc to > 6.1. I had MingW setup in my system and it was teh latest i feel.

This is the directory of mingw: C:\MinGW\lib\gcc\mingw32\6.3.0

[2019-08-30 14:46] czlsws163 commented on #2900
@Silmathoron  would you please share the steps you set up VS for Mixed Python/Cython/C++ debugging?

[2019-08-30 16:06] MaciejRutecki commented on #4133
Tested on two different environments: works OK. Thanks for the help.

[2019-08-30 18:11] lygstate commented on #4158
Yeap, Better C++ Syntax extension solve the issue

[2019-08-30 18:49] sean-mcmanus commented on #4157
Instead of using command "g++" you should specify the path to your MinGW compiler. It might be picking and older/different one (on your path). If you use a --version command line arg in your task you can check the version of your compiler.

[2019-08-30 19:45] pieandcakes commented on #4166
@LaPeste So to clarify, when you "attach" with `"type": "launch"` you are using `gdb`<->`gdbserver`. That isn't a scenario we have looked at to support `disconnect` so we can investigate it.

Unfortunately with the process picker, it picks either the local process or if you use `pipeTransport`, the remote process to attach to. With `gdbserver` i don't think that works as you have to have already s

[2019-08-30 19:47] pieandcakes commented on #4133
@ChristianJacobsen can you see if `0.25.1` also works for your scenario? if not, i can continue to investigate.

[2019-08-30 19:55] Colengms commented on #4092
The error message itself looks like an instance of: https://developercommunity.visualstudio.com/content/problem/714374/intellisense-error-unable-to-assign-type-to-own-ty.html

[2019-08-30 20:48] smoofra opened #4173 "Find references doesn't find struct member initializers"
**Type: LanguageService**

**Describe the bug**
- OS and Version:  Mac OS Catalina
- VS Code Version: 1.37.1
- C/C++ Extension Version: 0.25.1

**To Reproduce**
[code]

1. Invoke "Find All References" on `some_field` in line 2
2. It will find the assignment (line 9), but not the initializer (line 7)

**Expected behavior**
Find references should have found both references to `some_field`

It should

[2019-08-30 21:10] sean-mcmanus commented on #4173
The bug is inherited from VS. I've filed bug https://developercommunity.visualstudio.com/content/problem/718983/cc-designated-initializers-dont-appear-as-confirme.html .

The reference is reported as "Not A Reference" in the Output pane.

I'm not sure if "struct foo x = {1};" counts as a reference though.

[2019-08-30 21:13] smoofra commented on #4173
In my opinion `= {1}` should also count, because it's initializing that specific field.    I don't think that `= {}` should count though.

[2019-08-30 21:30] sherryyshi commented on #4168
Thanks Sean!

[2019-08-30 22:56] michelleangela commented on #4164
The use of setting the `compilerPath` property is to find system includes and defines associated with that compiler path. However, the extension only checks paths for Visual Studio 2015 and later versions for Windows.

If you would like to use specific include paths and do not want the extension to add include paths based on the `compilerPath` setting, do the following:
- set `compilerPath` to `""

[2019-08-31 00:58] xgdgsc commented on #1201
But then I have to set environment variables again in the terminal, I already set those in launch configurations.

[2019-08-31 07:42] ChristianJacobsen commented on #4133
Hi @pieandcakes.

Now it's gotten one step further at least. I get the full prompt on whether I want to attach as superuser or not, but when I type 'Y' and hit enter it doesn't wait at the password prompt.

[code]

I've tried with both bash and zsh, neither of them waits.
Any configuration options you can think of, for pkexec or other commands, that would fix this?

@MaciejRutecki, did you have to

[2019-08-31 08:13] MaciejRutecki commented on #4133
@ChristianJacobsen  default installation. I see that cpptools uses polkit in KDE/Plasma (package:  'polkit-kde-agent-1') + 'policykit-1' package.

[2019-08-31 14:29] swq123459 commented on #4164
- Thank you for your guidance and comments.
- According to your instructions, it is now working properly.
- However, I still hope that these contents can be explained in the document, or that some conceptual things are clearly explained to avoid confusion.
- best wishes and thanks a lots Mr. Matias

[2019-08-31 14:29] #4164 closed, assigned to nobody

[2019-08-31 15:34] senlinding opened #4176 "C language development is not friendly enough, and the search citation is much worse than Source Insight."
C language development is not friendly enough, and the lookup reference is much worse than Source Insight.

[2019-08-31 15:37] #4176 closed, assigned to nobody

[2019-08-31 15:38] senlinding opened #4177 "C language development is not friendly enough, and the lookup reference is much worse than Source Insight."
C language development is not friendly enough, and the lookup reference is much worse than Source Insight.

[2019-08-31 15:55] senlinding commented on #4177
When there are hundreds of files. Finding is slow and difficult to use. Can't jump directly to the past with only one reference.

[2019-08-31 16:07] swq123459 opened #4178 "[MSVC]How to set environment variables after opening VSCode"
Type: Debugger

**Describe the bug**
- OS and Version:win10 1903 x64
- VS Code Version:1.37.1
- C/C++ Extension Version:0.25.0

**To Reproduce**
- By looking at the documentation https://code.visualstudio.com/docs/cpp/config-msvc, if I want to use the vc environment in my vs. I have to `Start VS Code from the Developer Command Prompt`.

**Additional context**
- I looked at `Developer Command Promp

[2019-08-31 16:23] senlinding commented on #4177
Sometimes there are references but no results.

[2019-08-31 18:40] bolner commented on #3319
I have the same issue after copied the launch.json sample from the tutorial page:
- https://code.visualstudio.com/docs/cpp/config-mingw

I opened the file with a hex editor, and it has no 0x08 byte in it at all.

[2019-08-31 18:53] bolner commented on #3319
Found the issue: It's non issue. Related to escaping in JSON.
After replacing the compiler path, all backslashes were double except before a "b", which generated a 0x08 internally:

- "miDebuggerPath": "C:\\\\mingw-w64\\\\mingw64\\bin\\\\gdb.exe",

But there might still be a bug, because it complained about "line 6", and the problem was at line 15.

[2019-08-31 18:59] Sofabulous opened #4179 "Can not hit a breakpoint/stopAtEntry when debugging In Mac OS High Sierra 10.15Beta(19A546d)"
Type: Debugger

Unable to start debugging

OS and Version: Mac OS High Sierra 10.15Beta(19A546d)
VS Code Version: 1.37.1
C/C++ Extension Version: 0.25.1

Other extensions you installed (and if the issue persists after disabling them):
I'm new to programming and I'm trying to learn how to debug my program. Whenever I try to, I can't stop breakpoint in my .cpp file new created.
debugger console show

[2019-08-31 19:17] Sofabulous commented on #4179
Both "Stop At Entry" as well as breakpoints don't work (neither breakpoints set before the debugging session starts, nor breakpoints set during the debugging session).

Using the CodeLLDB extension still works fine.

Debug log from the C/CPP Extension Debugger:

--> E (output): {"type":"event","event":"output","body":{"category":"console","output":"1: (208) LaunchOptions<LocalLaunchOptions xmlns='

[2019-09-01 10:14] saschanaz commented on #3270
Getting the same problem, but on Gecko instead of WebKit. No `.vscode/c_cpp_properties.json` though.

[2019-09-01 12:08] mumin16 commented on #1768
same problem with gdb in windows

[2019-09-01 15:13] VictorYing commented on #1231
+1 It's annoying to have a cluttered Problems pane and significantly inflated count of errors shown in the status bar, which makes it harder for me to tell at a glance how many errors I've actually introduced when developing code changes.

My use case involves a particular generated include file:
You'll notice [here](https://github.com/llvm-mirror/llvm/blob/fe8bd23157bb34bc5f5d99ae6a905a9b9b746639

[2019-09-02 00:01] trampster commented on #4119
Had this happen three times so far today, I'm on ubuntu and it happens very quickly and completely locks up the machine such that the only way to recover is to power cycle.

Last time it happened I had system monitor running which caught it using 11 gigs of memory (I only have 16 total) This happened after about 10 minutes of using vs code with a large cpp codebase.

[2019-09-02 03:18] #4071 closed, assigned to nobody

[2019-09-02 05:40] lujfsd opened #4180 "在进行解析时是否可以使用GPU进行加速呢？"
当项目过大时，解析会占用CPU和大量时间，是否可以用过GPU进行加速呢？

[2019-09-02 07:46] LaPeste commented on #4166
@pieandcakes I precisely "attach" with "type": "launch" with the gdbserver. Sorry for not having mentioned it earlier. We'd love to have the possibility to disconnect instead of killing the application.

I'll investigate in this `pipeTransport`. Maybe, it could work since the gdbserver on the remote machine is started by a `"preLaunchTask"`.

I may ask you more questions about this `pipeTransport`

[2019-09-02 08:28] Lupum1001 commented on #3268
@WardenGnaw I just had the same problem with multiple main.cpp files in my project. It looks like the problem is that the extension isn't providing a path (relative or absolute) to the file.
So if I add a breakpoint in vscode, the engine output is:

Unfortunately, the main.cpp file that I added breakpoints to was actually:

I listed all the breakpoints using the debug console once the application

[2019-09-02 11:34] Lupum1001 commented on #1723
@WardenGnaw
I seem to have gotten very close to getting this to work (a 'launch' configuration, not 'attach') by just changing a bunch of gdb settings in the launch.json file. At the moment, there appears to be one or two bugs getting in the way, but it seems to work in principle:

**My Application:**
There's a single parent process responsible for launching all of the child processes using fork()

[2019-09-02 12:27] mattiasljungstrom commented on #811
This notification/pop-up is shown every time an an assert is triggered in my current project. (VSCode, Win10, VS2017 compiler). Since I don't have access to MS internal libs code, I'd prefer to be able to disable these messages. Maybe a setting per project?

[2019-09-02 12:31] Silmathoron commented on #2900
@czlsws163 the steps are detailed in the first post... items 1 to 4 plus links to StackOverflow for additional explanations.
Where exactly are you stuck?
The only this I was missing is that I forgot to compile with debug symbols activated, the precise method for doing this depends on how you're compiling you code

[2019-09-02 19:39] peterwaller-arm commented on #429
I note that support [just landed in vscode remote insiders](https://github.com/Microsoft/vscode-remote-release/issues/60#issuecomment-526387050). Would be excellent to be able to use cpptools.

[2019-09-02 21:14] Veetaha commented on #1734
@sean-mcmanus Could you please add a context-menu option (or even further - a shortcut) to expand macro in-place, right inside the code. This is currently available in Clion and I think it is very easy to implement. Just substitute the macro call with the string that is are currently appearing in `Expands to:` tooltip.

For example:
When you hover over `FOO(ss)` and click the RMB you'll see an ite

[2019-09-02 22:22] CelticMinstrel commented on #1734
( @Veetaha Why not just open a new issue about that though?)

[2019-09-02 22:42] johnemaddox commented on #429
+1 for cpptools ARM support

[2019-09-03 09:35] zb-007 opened #4181 "documentSymbol parse error"
hi, here i met a problom:

I used a macro in the function, but it seems to be treated as a definition of another function.

![截图3](https://user-images.githubusercontent.com/54835759/64152992-68168780-ce60-11e9-970e-85abe29941d9.PNG)

This problem causes other symbols in the source file to not be parsed correctly, and the outline is not displayed correctly.

![截图4](https://user-images.githubusercon

[2019-09-03 09:56] mjscosta commented on #4133
Hi, I've hit this issue and after closing vscode and starting seems to be working fine.

Though a colleague of mine still has the issue with v 0.25.1, what I've noticed different is that the "conda activate <environment> " command in his case is issued after the gdb debug script, and it seems that is interfering with the root access prompt.

`(base)$ sh /tmp/Microsoft-MIEngine-Cmd-t824anlw.u8w
Sup

[2019-09-03 10:21] carthurs opened #4182 "Program quits under debugger on system() call"
Type: Debugger
**Describe the bug**
- OS and Version: openSuse linux leap 15.1
- VS Code Version: 1.37..1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): fortran 0.2.0, fortran breakpoint support 0.0.4 (yes it persists with these disabled)
- A clear and concise description of what the bug is.

Under the debugger, the program term

[2019-09-03 11:15] carthurs commented on #4182
I found the problem - it was a gdb config issue on my system, in a .gdbinit settings I'd obtained from the web when trying to enable nice visualisation of stl containers:

Here's the solution for future visitors:

I commented these lines from my .gdbinit and it now works. These are the opposites of the gdb defaults (see https://sourceware.org/gdb/onlinedocs/gdb/Forks.html).
[code]

[2019-09-03 11:15] #4182 closed, assigned to nobody

[2019-09-03 17:33] michelleangela commented on #4180
@lujfsd, I translated your post to English. Is the translation below correct?

[2019-09-03 17:37] MaciejRutecki commented on #4133
Confirm: ask for run as root/sudo firrst, then show dialog box with input for the password. In 0.24 just ask for password only.

[2019-09-03 18:28] sean-mcmanus commented on #4177
Can you provide any more repro details? Are you referring just to "Find All References" or other features as well? What does "jump directly to the past" mean?

[2019-09-03 18:54] sean-mcmanus commented on #4178
I agree. Theoretically we could run the VcDevCmd.bat (auto-find and/or setting) and add the results to the process.env.

[2019-09-03 18:59] sean-mcmanus commented on #4180
What does "resolution" refer to? Are you referring to the database icon (tag parsing), flame icon (IntelliSense parsing), or search icon (Find All References). Using the GPU to accelerate is unlikely, since most of our code is too general purpose (compiling and database querying) to run on a GPU.

[2019-09-03 19:01] sean-mcmanus commented on #4181
This is "by design". The macro that require evaluation in order to parse the code correctly need to be added to a cpp.hint file in your workspace. See https://docs.microsoft.com/en-us/cpp/build/reference/hint-files?view=vs-2019 . Let us know if that doesn't work.

[2019-09-03 19:01] #4181 closed, assigned to nobody

[2019-09-03 19:28] sean-mcmanus commented on #3270
@saschanaz It sounds like our extension process is crashing. Do you have any more repro details?

[2019-09-03 19:33] sean-mcmanus opened #4183 "Add "Inline macro" code action"
@sean-mcmanus Could you please add a context-menu option (or even further - a shortcut) to expand macro in-place, right inside the code. This is currently available in Clion and I think it is very easy to implement. Just substitute the macro call with the string that is are currently appearing in `Expands to:` tooltip.

For example:
When you hover over `FOO(ss)` and click the RMB you'll see an ite

[2019-09-03 21:32] mikepelley opened #4185 "Incorrect include file error indicator"
I have configured my include paths in c_cpp_properties.json and it has been working well. Just recently I'm getting the following error indicator for an undefined macro:

![image](https://user-images.githubusercontent.com/48527/64209864-acf5ea80-ce6f-11e9-836e-eaf2afaa3458.png)

In the hover box I can see that vscode found the macro definition and knows the value (64), but then proceeds to say tha

[2019-09-03 21:43] smcpeak opened #4186 "Multiple definitions shown for header/include file but only one is on includePath"
**Type: LanguageService**

I am using VSCode 1.37.1 with CppTools 0.25.1 on Windows with mingw64-5.4.0.  I have followed the VSCode C++ configuration tutorial at https://code.visualstudio.com/docs/cpp/config-mingw but I have a problem resolving header file locations.  In the code editor, if I put the cursor on "&lt;iostream&gt;", then press F12, I go to that file.  But if I put the cursor on "&lt;

[2019-09-03 22:12] sean-mcmanus commented on #4185
The error squiggle is from the IntelliSense parser and the hover info is from the tag parser...I believe that would happen if the IntelliSense process was crashing or somehow not available during the hover. Can you [enable logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and look for errors?

[2019-09-03 22:15] sean-mcmanus commented on #4186
Yes, Go to Def on #include doesn't use the includePath currently. We're tracking this with https://github.com/microsoft/vscode-cpptools/issues/2564 .

[2019-09-03 22:15] #4186 closed, assigned to nobody

[2019-09-03 22:24] EmbeddedBacon commented on #4129
So, I am running VS Code connected to a different computer and seeing something similar.  The parse has been at "2796/4518 (61%)" for some time now.

here is filtered HTOP for "cpp"

[code]

Attached to process 5097 then executed a backtrack

[code]

[2019-09-03 22:29] mikepelley commented on #4185
I'm afraid I did not see any errors. I cleared the output window and then opened the target file (common.h) and here are the logs:

[code]

[2019-09-03 23:34] sean-mcmanus commented on #4129
That call stack looks like normal tag parsing is occurring. I believe there is a bug with the status bar where it won't update what it says if it's parsing dependent headers.

Can you [enable debug logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and see if it shows "tag parsing" messages occurring during that time?

[2019-09-03 23:48] EmbeddedBacon commented on #4129
@sean-mcmanus, I always run with debug logging set to

  "C_Cpp.loggingLevel":             "Debug",

But I failed to look at it, sorry.  Let me see if I can run this again.

[2019-09-03 23:49] sean-mcmanus commented on #4185
Okay, looks like no crashing is occurring and it also doesn't appear to be falling back to the tag parser results for hover. Looks like something is causing the symbol to get undefined when checking for error squiggles...are you able to simplify the code any further to get a repro we can try?

[2019-09-04 01:11] sean-mcmanus commented on #296
Status update: we have [V1 rename](https://github.com/microsoft/vscode-cpptools/pull/4184), but it only renames "confirmed" references and just shows the other non-confirmed references in the Output window (similar to what Find All References does). Would people find that useful to release in an Insiders next week? Our current plan is to not release this V1 until we're able to add a Tree Container

[2019-09-04 01:17] ScottHutchinson commented on #296
It's great to see some real progress on this. I think a release that only renames "confirmed" references could be very useful, since I would guess that's what I want at least 90% of the time anyway.

[2019-09-04 01:38] lujfsd commented on #4180
@sean-mcmanus that's tag parsing and IntelliSense parsing ，when the project is too large,they will take more time and more cpu .
it take 72s,[cpp_tools_log.txt](https://github.com/microsoft/vscode-cpptools/files/3572322/cpp_tools_log.txt)
![image](https://user-images.githubusercontent.com/3353399/64219299-8a0f1900-cef7-11e9-8695-0809f5eb5e7a.png)

Extension version: 0.25.1
VS Code version: Code 1.

[2019-09-04 01:42] sean-mcmanus commented on #4078
The root issue is that we're not running the Find All References using all the possible definitions (only the 1st), so the same bug could possibly happen in other cases where there could be multiple definitions for a particular identifier. So this is definitely something we want to fix, but VS Code's UI doesn't expose the concept of multiple definitions for references (even though it does expose t

[2019-09-04 02:08] sean-mcmanus commented on #4180
Yeah, 72 seconds is an unusually large amount of time for the IntelliSense updating. There is probably something special with your TU that is causing our IntelliSense parsing to take an abnormally long time. The size of your project probably shouldn't matter in this case, just the source file and included headers (i.e. the TU). Is your intelliSenseCacheSize set to a non-zero value?

[2019-09-04 03:03] swq123459 commented on #4178
Expectantly sir

[2019-09-04 04:02] rivalak commented on #641
@sean-mcmanus Sorry to my late. I just cannot use the google format in my vscode by configuring the .clang-format, I don't know why, this really bother me. :sob:

[2019-09-04 07:51] lujfsd commented on #4180
![image](https://user-images.githubusercontent.com/3353399/64235856-cd837a80-cf2b-11e9-94ad-093c7e57d272.png)
intelliSenseCacheSize  is default.

[2019-09-04 08:26] suzukajiang opened #4188 "Auto-complete does not take effect"
vscode : 1.36.1
cpptools : 0.25.1
win7

cpptools/activeDocumentChange
Unable to resolve include path: D:/tools/mingw32/lib/gcc/i686-w64-mingw32/8.2.1/include
cpptools/textEditorSelectionChange
textDocument/documentHighlight: 142
cpptools/textEditorSelectionChange
textDocument/codeAction: 143
idle loop: reparsing the active document
Checking for syntax errors: file:///d%3A/workspace/iNet_1881_CP_H/

[2019-09-04 09:58] ranjithpp commented on #3947
as per the comments in https://github.com/microsoft/vscode-remote-release/issues/320, it is said that need to install extention in SSH box ,any citation about how to install it ?

[2019-09-04 11:10] LiShunGang commented on #4165
B/InternodeSyncer.cpp:
![image](https://user-images.githubusercontent.com/36393104/64249848-404e1f00-cf47-11e9-9ea9-940ee1df6696.png)

If I del macro definition in B/InternodeSyncer.h, member properties and member functions will be correctly identified.
If I don't do that, then B/InternodeSyncer.cpp links to A/InternodeSyncer.h.

[2019-09-04 12:30] lumonix commented on #4078
Thanks for the update Sean.

[2019-09-04 13:08] mikepelley commented on #4185
It's a large codebase from work, but I will give it a shot this weekend.

[2019-09-04 15:59] Maratk1n opened #4189 "Debug multi-process application problem"
I'm trying debug multi-process app. So, I do it:
1. Start Debugging (F5)
2. Type in Debug Console `-exec attach <pid>`, `<pid>` -- is process id of child from `ps aux | grep appname`
3. However, I get error:
[code]
4. So, I guessed that I should set debugging to pause. Pressed Pause (F6), and got following error:
[code]
`-exec set follow-fork-mode child` is not suitable I think, because applicatio

[2019-09-04 16:03] djohover commented on #1768
I suspect there is a problem with Visual Studio Code's implementation/interface with C++ debugger extensions because other C++ debugging extensions have also been affected.

[2019-09-04 18:25] pieandcakes commented on #811
@mattiasljungstrom Suppression per project would need to be a VS Code level item because that dialog does not send anything back to the debugAdapter. We don't check for the existence of a file and we need to return a path to VS Code. If we checked for the validity of each file during debugging, I expect debugging to slow down considerably.

[2019-09-04 18:41] mumin16 commented on #1768
totaly agree, when i removed 3rd party debugger extension, my problem is solved.

[2019-09-04 19:18] mattiasljungstrom commented on #811
@pieandcakes Thanks for the reply. I don't know what the solution is, but the current user experience is not great. It's not uncommon to debug projects where parts of the source code is not available. (commercial libraries, or system libraries.)

[2019-09-04 19:40] pieandcakes commented on #4133
We try and detect that `pkexec` is there, if not we fall back to `sudo`. The original problem was around the quoting of the parameter to `read` so I moved the message to a regular `echo` instead and am calling `read`. If this still isn't working, please let me know how to configure a scratch machine to try out.

[2019-09-04 19:44] pieandcakes commented on #4189
I don't have an answer for you. We have #1723 with someone using `MPI` to debug multiple processes. Hopefully someone within the community can help you.

If you want to provide additional information including a basic repro and how you would do it with regular `gdb` we can investigate when we have time. Otherwise, we accept submissions from the community so if you want to debug the scenario and pr

[2019-09-04 19:52] pieandcakes commented on #4179
I see
[code]
which I would expect to see a `loaded_addr` value.

When we requested `thread-info` value, we're receiving:
[code]

I don't know what the problem is though. Do you know what version of LLDB the other debugger is using?

[2019-09-04 19:53] pieandcakes commented on #1768
@mumin16 which one did you remove?

[2019-09-05 00:43] pieandcakes opened #4190 "Cannot load symbols if executable's symbols are in a separate file"
If an executable's symbols are in a separate file, there isn't a way to load those symbols beyond using `customLaunchSetupCommand` to override the entire launch set up.

This is because we use `-file-exec-and-symbols`. According to the documentation [here](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI-File-Commands.html) it tells the system that the symbols for the executables and the execu

[2019-09-05 00:44] pieandcakes commented on #4190
Need to think about adding a `launch.json` parameter for `executableSymbolFile` and if it is specified, then fall back to the alternative way above. By default use `-file-exec-and-symbols`.

[2019-09-05 00:48] pieandcakes commented on #4166
I think the question would be whether we can tell from `gdb` <-> `gdbserver` that the gdbserver instance was an `attach` and then if so, issue a `detach` instead.

For now, the easy option would be to allow an additional parameter to allow detach.

[2019-09-05 02:35] yatian-liu commented on #3288
I have also encountered similar issues, and I previously filed the issue in the vscode repo, which can be seen at [this link](https://github.com/microsoft/vscode/issues/78415). I think this may be helpful.

[2019-09-05 02:35] lattice0 opened #4191 "Intellisense partially works"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.37.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): no extra entensions
- A clear and concise description of what the bug is.

The Intellisense rarely works. Sometimes I just open vscode and it works, but the majority of times don

[2019-09-05 03:00] windless0530 opened #4192 "Switch header / source often leads to open duplicate files in multiple editor groups"
**Type: LanguageService**
Switch header / source often leads to open duplicate files in multiple editor groups

**Describe the bug**
- OS and Version: macOS Mojave 10.14.6
- VS Code Version: 1.37.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is.

Switch header / source of

[2019-09-05 05:20] luni64 opened #4193 "__has_include marked as error"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win10
- VS Code Version: 1.38.0
- C/C++ Extension Version: 0.25.1
- Compiler: GCC

In the snippet below intellisense marks ```__has_include``` as error but it compiles without problems
[code]
![image](https://user-images.githubusercontent.com/12611497/64313973-9d7cbb80-cfad-11e9-884d-10732fb0ca1b.png)

**Expected behavior**
Should n

[2019-09-05 05:29] Zingam opened #4195 "C++20: Support "concepts" syntax"
Support the "concepts" syntax, which is not yet supported.

[2019-09-05 06:04] lattice0 commented on #4191
Nevermind, it looks like when there's one simple include error, the intellisense won't interpret the .cpp file at all

[2019-09-05 06:04] #4191 closed, assigned to nobody

[2019-09-05 09:08] Zitrax commented on #2731
I am seeing this too which is incredibly annoying when it happens. Sometimes I does not see that the corruption happens further down in the file when editing at the top. But when it happens I can invoke the formatting multiple times and each time garbles the file more and more.

I am on vs code 1.37.1 and using clang-format extension 1.9.0.

Unfortunately I also do not know exactly how to reproduc

[2019-09-05 10:27] Maratk1n commented on #4189
@pieandcakes thanks for reply!

I found interesting solution:
added in `launch.json` this option
[code]
Now I stop at the breakpoints in other processes, also I see this block (Call Stack) in VS Code with process instances:
![image](https://user-images.githubusercontent.com/11874787/64360647-87094b00-d013-11e9-9d1c-5cec7158acc2.png)

[2019-09-05 12:31] mumin16 commented on #1768
Nice question. Actually, I've installed and uninstalled so many extensions. My favorites are codelldb, native debug or maybe the swift toolchains.

[2019-09-05 12:42] zstale commented on #1800
How come it is possible in QT Creator, using the same gdb, but in VSCode it's not?

[2019-09-05 13:27] letmaik opened #4196 "Sudo elevation not working with gdb"
Type: Debugger

**Describe the bug**
- OS and Version:  Ubuntu 18.04.2
- VS Code Version: 1.38.0
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

When trying to attach with gdb it correctly asks "Superuser access is required to attach to a process. Attaching as superuser can p

[2019-09-05 14:01] profnandaa opened #4197 "IntelliSense: no syntax highlight for comments between member initializer list and constructor body"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10, v1903
- VS Code Version: 1.38.0-insider
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

1. Write a sample C++ code with comments after the initializer list before the constructor b

[2019-09-05 14:09] justko commented on #3271
It said no **libtinfo.so.5**. In fact, there are only **/usr/lib/x86_64-linux-gnu/libtinfo.so.6** in my system. It seems a soft link solved this problem.
`sudo ln -s /usr/lib/x86_64-linux-gnu/libtinfo.so.6 /usr/lib/x86_64-linux-gnu/libtinfo.so.5`

[2019-09-05 15:57] VictorYing commented on #1231
@bobbrow wrote:

In my use case described in the previous comment, I've got an automatically generated include file that Intellisense seems to successfully parse when included by another file (which is really great!), but the problem is if I open the generated include file on its own I get a lot of spurious warnings which I'd like to suppress. It's not "include errors" that I want to suppress, but

[2019-09-05 16:55] michelleangela commented on #4195
The extension's C++ standard features are inherited from Visual Studio. Please upvote this feedback ticket https://developercommunity.visualstudio.com/idea/549930/add-standard-concepts-libary-support.html on Visual Studio to support C++ 20 concepts library.

[2019-09-05 17:31] Colengms commented on #4191
Hi @lucazanella .  There is a setting for this: "C_Cpp.errorSquiggles".  By default, it's set to "EnabledIfIncludesResolve".  If you change this setting to "Enabled", it will show error squiggles even if includes do not resolve.  Though, since preceeding code was not found, there could potentially be a lot of squiggles.

[2019-09-05 17:38] Colengms commented on #4197
Hi @profnandaa.  This looks like an issue with syntactic colorization.  The C/C++ extension adds semantic colorization over syntactic colorization, but the later is provided by VS Code.  Specifically, it's provided by TextMate grammar contributed to VS Code by @jeff-hykin.  His repo is here: https://github.com/jeff-hykin/cpp-textmate-grammar  I'd suggest opening the issue there.

[2019-09-05 18:00] pieandcakes commented on #4189
Does the call stack show all the threads and all the processes or just the threads of the current process?

[2019-09-05 18:05] pieandcakes commented on #4189
I think we need to implement: https://github.com/microsoft/vscode-debugadapter-node/commit/015ff7144ca351d512e3aa3a72ad29e617531630 when a new "process" is spawned.

[2019-09-05 19:05] sean-mcmanus commented on #641
The .clang-format file should be picked up if it's in the workspace folder or a parent path. It's possible some error is occurring that is causing it to not be used. Can you [enable debug logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) to see if it shows any errors? What version of clang-format.exe are you using? We currently ship with 6.0 (we should probably update 9.0 after i

[2019-09-05 19:16] sean-mcmanus commented on #4192
Yeah, I also hit this on Mac last week -- it didn't repro on Linux/Windows. I was hoping my Mac was just configured in some unusual way since we haven't heard any other complaints until now.

I'm not sure yet if it's a VS Code issue (i.e. https://github.com/microsoft/vscode/issues/12448 ) or something we can fix in our extension.

[2019-09-05 19:37] sean-mcmanus commented on #4192
Ooops, your repro steps are different from what I was hitting. I get the same results on Windows when step 8 involves switching focus to a different doc -- is that what you're hitting or do you repro the issue when both a.h and a.cc are visible. We have a TODO in our code that says "Handle non-visibleTextEditor..not sure how yet" -- i.e. there doesn't appear to be a VS Code API for checking if a d

[2019-09-05 19:57] sean-mcmanus commented on #4188
The Microsoft.VSCode.CPP.IntelliSense.Msvc.exe process is crashing when processing rlc_um_segment.c . Are you able to provide an isolated repro for the crash? Are you able to tell if the crash is caused by gcc 8.2 headers or something in your own code? Are you able to attach a debugger before it crashes and get a call stack? You need to set `"symbolSearchPath": "https://msdl.microsoft.com/download

[2019-09-05 20:09] sean-mcmanus commented on #4188
Also, I see you're getting "Unable to resolve include path: D:/tools/mingw32/lib/gcc/i686-w64-mingw32/8.2.1/include" and it's parsing the code using gcc 7.4. Double check that your compilerPath is set to the correct mingw compiler and that you're not manually adding system includes to the includePath.

[2019-09-05 20:22] sean-mcmanus commented on #3947
@ranjithpp In the Extensions view the Local section will show "Install in" buttons for extensions that aren't installed remotely.

[2019-09-05 20:28] sean-mcmanus commented on #4165
Are you using "${workspaceFolder}/**" in your includePath? That could cause the wrong include path to be used. Can you run C/C++: Log Diagnostics with the .cpp file active and see if the results look correct?

[2019-09-05 20:32] sean-mcmanus commented on #4165
Actually, if you're using `#include ""` then it should be using the B header and not recursive includes.

I think we need more repro details still.

[2019-09-05 21:00] Tyriar opened #4198 "Issues/questions around the flame icon"
It's not 100% clear to me what it is exactly but I'm assume it's indexing/analyzing the current file or something. But anywhere there are a few issues I see with it:

1 - It appears to pop up briefly for every single file that is opened, it appears on the very right of the status bar so it shifts all the items to the left and then back again.

![flame](https://user-images.githubusercontent.com/219

[2019-09-05 21:46] bobbrow commented on #4198
Funny, I was just talking with @sean-mcmanus about moving the icons over to the left.  I also agree that it pops up too aggressively now.  That was an artifact of a change we did a few months ago that we should revisit.

I feel that \*all\* the icons are harder to see now that they are outlines instead of fills, but that's just my opinion.  (I'm very upset with the recent icon changes, if you can'

[2019-09-05 22:58] sean-mcmanus commented on #2731
@Zitrax We're using https://github.com/microsoft/vscode-cpptools/issues/1073 to track clang-format corruption. However, if you're using the clang-format extension, then the bug should be with that extension and not ours (assuming you set the C_Cpp.formatting to "Disabled").

[2019-09-05 23:23] sean-mcmanus commented on #4195
Michelle -- that issue is for the cl.exe compiler...there might be another issue tracking IntelliSense, but we usually keep the issues open on our side until we get the fix from VS.

[2019-09-05 23:58] sean-mcmanus commented on #4193
Thanks a lot for reporting this. The fix should be available in our next Insider release (not sure when yet...might be a couple weeks unless we get more demand to release an Insiders sooner).

[2019-09-06 01:23] sean-mcmanus opened #4199 "Find All References child results have incorrect lines if the file is changed after "searching" is done"
I did Find All References and expanded the file to see the children (refs), but it shows bogus lines that didn't have the reference -- it looked like all the line positions were off by a fixed amount (i.e. the reference was a few lines away at the same column). I don't have a repro yet -- I did the Find All References a second time and it didn't repro. It's possible the database was somehow incorr

[2019-09-06 01:24] sean-mcmanus commented on #4198
Does this look okay? I tried put the icons most likely to be clicked on the right (i.e. search icon) and the more temporary icons on the left (i.e. flame icon).
![image](https://user-images.githubusercontent.com/19859882/64394048-24ab4d00-d009-11e9-96ad-03ebeffa9e9d.png)

https://github.com/microsoft/vscode-cpptools/pull/4200

We also have issue https://github.com/microsoft/vscode-cpptools/issues/

[2019-09-06 02:26] sean-mcmanus commented on #4198
FYI, after this change, the icons may not be visible if there's not enough status bar room.

Should it be on the left of the GitLens status bar entry? Putting it on the right of that would reduce the potential of the icon disappearing.

[2019-09-06 02:39] sean-mcmanus commented on #4198
Or on Insiders:
![image](https://user-images.githubusercontent.com/19859882/64397022-96d55f00-d014-11e9-9b64-31195e89f0cd.png)

I agree with Bob that all the status bar icons look worse...did the VS Code team get any user feedback for the change?

[2019-09-06 02:42] sean-mcmanus commented on #4198
It looks sort of odd for the icons to appear/disappear with every line change, due to the GitLens extension icon item that changes every line.

[2019-09-06 02:48] sean-mcmanus commented on #4198
I moved it to the right of the GitLens line changed by info -- it looks a lot better when the line changes (you can't really see the difference in a screenshot).

[2019-09-06 03:13] martinrbowman commented on #429
Adding +1 for cpptools support for ARM. Target is raspberry Pi devices. Would prefer to use VSCode in Linux than Visual Studio, works very well in Visual Studio so thank you for that.

[2019-09-06 03:36] LiShunGang commented on #4165
Yeah, I'm using "${workspaceFolder}/**" in my includePath.
I got this:
1/a.h
[code]
2/a.h
[code]
2/a.cpp
[code]
Then 2/a.cpp will use 1/a.h.
![image](https://user-images.githubusercontent.com/36393104/64399344-adbe9480-d09a-11e9-94dc-359c67c214ee.png)

How to avoid that?

[2019-09-06 04:14] luni64 commented on #4193
Thanks a lot

[2019-09-06 05:19] ranjithpp commented on #3947
Thanks, i managed to install and it is working fine

[2019-09-06 05:23] nuqz commented on #2902
Thanks for the tip. I did not find what exactly I should uncomment, and I did not really want to edit system files. However, I added "_STM32F030x6_" to the "defines" property in `c_cpp_properties.json` and the problem is gone.

[2019-09-06 07:04] profnandaa commented on #4197
Thanks for the heads-up, [done](https://github.com/jeff-hykin/cpp-textmate-grammar/issues/386) 👍

[2019-09-06 07:04] #4197 closed, assigned to nobody

[2019-09-06 08:03] ClarkZhaoHF opened #4201 "Functions with the same name"
**Describe the bug**
- OS and Version: Windows 7
- VS Code Version: any
- C/C++ Extension Version: 0.24.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**As the workspace has many functions with the same name, the symbol list for functions without a path indicator can not give me a clear choice which is the

[2019-09-06 08:45] PDostalek opened #4202 "[loc][Query][vscode-cpptools] Localizability of {0}/{1} files confirmed.{2} {0}/{1} files searched.{2}"
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
{0}/{1} files confirmed.{2}
{0}/{1} files searched.{2}

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
We translated this string by assuming the PHs as numeric values. Please check and confirm.

[2019-09-06 09:06] PDostalek opened #4203 "[loc][Query][vscode-cpptools] Localizability of 0; "package.c_cpp.command.logDiagnostics.title""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Log Diagnostics

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
We are not sure whether "Log" is used as a verb or a noun.
Could you clarify this?
Thank you.

[2019-09-06 09:13] PDostalek opened #4204 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/ui/settings.html.limit.symbols""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Browse: limit symbols to included headers

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Please clarify if "limit" here is a verb or a noun. Thanks.

[2019-09-06 09:24] krisklau commented on #429
Yes!

[2019-09-06 09:25] krisklau commented on #2506
Would be great!

[2019-09-06 10:04] Maratk1n commented on #4189
Sorry, I can't check it, because application uses one thread and multiprocess.
But now call stack is showing all started processes.

[2019-09-06 12:04] PDostalek opened #4205 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/packageManager.failed.web.error""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
failed (error code '{0}')

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Is this a full string or will it be concatenated? Thanks.

[2019-09-06 12:53] RichardFurness opened #4206 "files.exclude not working for symlinks"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 using Remote-SSH to Linux
- VS Code Version: latest insiders
- C/C++ Extension Version: latest (0.25.1)
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

My workspace has a symlink "bazel-foo" (created by bazel) to a folder which in tu

[2019-09-06 12:55] PDostalek opened #4207 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.compiler_from_compile_commands""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Attempting to get defaults from compiler in compile_commands.json file: '{0}'

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Please define the placeholder

[2019-09-06 13:02] PDostalek opened #4208 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.compiler_from_compiler_path""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Attempting to get defaults from compiler in "compilerPath" property: '{0}'

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Please will be the placeholder

[2019-09-06 13:05] PDostalek opened #4209 "[loc][Query][vscode-cpptools] Localizability of {0; "dist/src/LanguageServer/nativeStrings.compiler_on_machine""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Attempting to get defaults from compiler found on the machine: '{0}'

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
What will {0} be?

[2019-09-06 13:11] PDostalek opened #4210 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.include_path_suggestions_discovered""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
{0} include path suggestion(s) discovered.

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
What will {0} be?

[2019-09-06 13:18] RichardFurness opened #4211 "Intellisense DB not updated after a git pull"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 remote SSH to Linux
- VS Code Version: latest insiders
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

If I update the code on the remote server e.g. doing a git pull or checking out a new branch, th

[2019-09-06 15:19] Tyriar commented on #4198
Sounds good, you want to minimize the amount of visual noise so to the right of gitlens seems best

[2019-09-06 17:23] pieandcakes commented on #4189
@Maratk1n Are you saying its working now?

[2019-09-06 17:35] Fenytestver commented on #1329
Worked perfectly for me too.
**Thanks everyone!**

ps:  One might wonder if going through this hassle is really a necessary component of an IDE installation in the 21st century?

[2019-09-06 17:38] Colengms commented on #4202
For these strings, the first 2 variables are numbers, and the later is a either a help string (localized separately) or blank.  i.e.

2/10 files confirmed. To preview results, click the search icon in the status bar.)
5/10 files searched.

[2019-09-06 17:39] Colengms commented on #4203
Log is a verb in this case.  This command outputs/logs diagnostic information.

[2019-09-06 17:40] Colengms commented on #4204
In this string, "limit" is a verb.

[2019-09-06 17:41] Colengms commented on #4205
This is a full string, no concatenated.

[2019-09-06 17:43] Colengms commented on #4207
In this string, the placeholder will be a path to the compiler we're trying to get defaults from.

[2019-09-06 17:44] Colengms commented on #4208
In this string, the placeholder will be a path to the compiler we're trying to get defaults from.

[2019-09-06 17:44] Colengms commented on #4209
In this string, the placeholder will be a path to the compiler we're trying to get defaults from.

[2019-09-06 17:45] Colengms commented on #4210
In this string, the placeholder variable will be a number (of suggested include paths).

[2019-09-06 18:26] sean-mcmanus commented on #4201
I don't understand what you mean by "symbol list". Can you provide more info, such as a screenshot?

I see a path indicator with Go to Symbol in Workspace, although it's a relative path.
![image](https://user-images.githubusercontent.com/19859882/64451450-199ffd80-d099-11e9-8a30-4674eded4598.png)

[2019-09-06 18:47] sean-mcmanus commented on #4165
The first `#include <a.h>` is causing the 1 folder to be used due to recursive includes (which is "by design"). The workaround in this case would be to add "${workspaceFolder}/1" to the includePath before "${workspaceFolder}/**" -- in more complicated scenarios where folders can't be added to break "ties" then you could remove the recursive include or add directories to the files.exclude.

The 2nd

[2019-09-06 18:55] kasvith commented on #1046
Having the same issue

[2019-09-06 18:56] sean-mcmanus commented on #4199
I reproed it after adding lines of text in the middle of a find all references operation, but my original repro may have been a different bug because the file wasn't opened at all -- actually, it's possible I switched branches in the middle of a Find All References after the file was lexed ("searched").

[2019-09-06 19:40] pieandcakes commented on #1329
@Fenytestver Its a toolset issue. I would expect that if MinGW needs to be on path that they will add it. The other option is to launch MinGW's `bash` window and run VS Code from there which will inherit the lib path.

[2019-09-06 19:54] sean-mcmanus commented on #4211
Oh, we've had this root problem for a long time -- we ignore file watcher "changed" events.

Doing a Rescan Workspace command is the recommended workaround until we're able to fix this.

A related issue is https://github.com/microsoft/vscode-cpptools/issues/3802 (no file watchers at all outside of the workspace).

[2019-09-06 20:38] Lupum1001 commented on #4189
@pieandcakes My experience, when I posted in #1723 was that the call stack window would list all the threads of _all_ processes, in a single list. I originally thought that it was mixing threads in _with_ process names, but now I think it was just printing out the list you get when you run `-exec info threads`, which simply spits them all out. It's just that many of those threads are the only ones

[2019-09-06 20:57] sean-mcmanus opened #4212 "Go to Symbol in Workspace shows duplicate symbols after switching from a WSL to non-WSL config"
Looks like the database is keeping around duplicate files with different cases, causing Go to Symbol in Workspace to show duplicate results -- it's possible other features could be negatively impacted in other less obvious ways (such as performance).

[2019-09-06 21:36] pieandcakes commented on #4189
We get threads via [this](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI-Thread-Commands.html#GDB_002fMI-Thread-Commands) command. I don't see an option there to tell us what process the thread is assigned to. I'll do some more digging in the [gdb/mi](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI.html) interface documentation to see if there is additional information we can get from `

[2019-09-06 21:44] sean-mcmanus opened #4213 "Find All References (Peek/Rename) search icon and/or status windows sometimes get stuck"
Let us know if anyone figures out a good way to repro it.

[2019-09-06 23:26] Lupum1001 commented on #4189
@pieandcakes I looked into it, and it looks like `-list-thread-groups` might do the right thing.
From what I can tell, you can do the following:
1) Run `-exec -list-thread-groups`. This seems to output an array of inferiors:
(I've formatted the most important bits, so it's human-readable)

2) Run `-exec -list-thread-groups i3` to list all of the threads in inferior 3`. This appears to be the same

[2019-09-07 01:47] suzukajiang commented on #4188
@sean-mcmanus You are right, I had set the wrong "C_Cpp.default.systemIncludePath". But when I remove "C_Cpp.default.systemIncludePath", It crashed again.
My code is in a offline pc, I can't connet to internet. So "symbolSearchPath": "https://msdl.microsoft.com/download/symbols" is unuseful.

Loaded 'C:\Windows\SysWOW64\oleaut32.dll'. Cannot find or open the PDB file.
Loaded 'C:\Windows\SysWOW64\m

[2019-09-07 02:58] sean-mcmanus commented on #4206
Can you give more details on how to setup the symlinks? Is the target of the bazel-foo symlink outside of the workspace?

[2019-09-08 03:24] ArcticLampyrid commented on #664
Can't wait to use it.
Do we have any plan to implement it?

[2019-09-08 05:10] phanthaiduong22 commented on #3353
how did you do that?

[2019-09-08 07:13] emanspeaks opened #4217 "Debugger add configuration not showing C++"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 (1809)
- VS Code Version: 1.38.0
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them):

Extension | Author (truncated) | Version
-- | -- | --
better-comments | aar | 2.0.5
vscode-sqlite | ale | 0.8.0
vscode-django | bat | 0.19.0
vscode-devtools-for-chrome | cod | 0.0.5
v

[2019-09-08 08:05] phanthaiduong22 commented on #1527
I have the same problems: i cannot type input when debug. I reinstall window yesterday.
I tried Beta: Use Unicode UTF-8 for worldwide language support unchecked. But it does not work.[https://imgur.com/a/0rJtOVL](url)

[2019-09-08 13:10] senlinding commented on #4177
Currently only Find All References.
When looking for only one reference, I want to jump directly to the corresponding file.

[2019-09-08 14:28] FreddieChopin commented on #4119
I think I'm having the same issue. Started appearing when editing a large unit-test (~2000 loc) with a lot of test framework macros (I'm using Catch2 + trompeloeil). The memory usage of cpptools binary keeps growing and growing until it reaches a threshold when OS starts swapping things around. As I have no swap enabled (the PC has 16 GB of RAM), this swapping really does nothing, just makes the s

[2019-09-08 22:20] emanspeaks commented on #1718
The workaround from @ryan-feeley addresses the problem for me, but this is definitely a long-term issue I may end up encountering again with some of the larger projects I work on that may hit that character limit.  We really need to add support for use of *.rsp files as a permanent solution.

[2019-09-09 07:37] rivalak commented on #641
@sean-mcmanus Thanks for your advice. I am using 6.0 version of clang-format. I find "ctrl + shift + I" works well as my wish. And the issues about the format of auto-complete code snippets maybe caused by the 'Intellisense' extension.

[2019-09-09 07:50] LaPeste commented on #4166
And do you think it'd take too much to implement the support for this additional parameter?
Or are you hinting that's something I can get done on my side?

[2019-09-09 08:14] RichardFurness commented on #4206
Yes the target is outside the workspace. So for example:
Workspace: /outer/foo
Main symlink: /outer/foo/bazel-foo -> /outer/bazel-folder
Subdir symlinks:
/outer/bazel-folder/subdir1 -> /outer/foo/subdir1
/outer/bazel-folder/subdir2 -> /outer/foo/subdir2
etc

The more subdirs you have the more likely you will be to repro, as I think it's ordering the "find" output by something like hash table itera

[2019-09-09 09:46] ProkopHapala opened #4218 "Cannot find any include (not even standard or in the same path)"
**Type: LanguageService**

InteliSense say it cannot find any `#include  *.h`, not even those which are in the same directory or in system path. For  example
` 'math.h' file not found `
` 'cstdlib' file not found `

I tried to add everythin to `c_cpp_properties.json` which looks like this
[code]

when I run `whereis math.h`
[code]
**Describe the bug**
- OS and Version: Ubuntu 18.04  64
- VS Code V

[2019-09-09 13:46] Arpafaucon commented on #4218
I am in this situation as well. System includes are not found anymore. Here is a minimal example.
![Screenshot from 2019-09-09 15-36-54](https://user-images.githubusercontent.com/19834684/64535655-f3d45c00-d317-11e9-9da6-fdb3ed6741eb.png)

Ubuntu 18.04.3 LTS
VSCode version: 1.38.0 x64
Using Remote Development feature, container is on Ubuntu 18.04.3

[code]

[2019-09-09 14:57] ghost commented on #583
I also could not get any output, then i changed
"externalConsole": true  ->  "externalConsole": false in launch.json file.
This worked for me, though, i do not know why it worked exactly.

[2019-09-09 17:30] pieandcakes commented on #4166
I'm leaving notes to solve the problem. I don't have time right now to do it. If you would like to contribute that would probably be the quickest way. Otherwise I'll investigate when I have time.

[2019-09-09 17:32] pieandcakes commented on #1527
@phanthaiduong22 if you would like help, please post an engine log and more additional information.

[2019-09-09 18:27] sean-mcmanus commented on #4218
The "file not found" error is not from our C/C++ extension -- it's coming from another extension you have installed. You should also remove the 2 system /usr/ paths from your includePath, because they should come from the compiler (to avoid ordering problems).

@Arpafaucon Did you set your compilerPath? Can you run C/C++: Log Diagnostics?

[2019-09-09 20:02] Blaok opened #4219 "some C++17 structured binding declaration breaks syntax highlighting"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 18362
- VS Code Version: 1.38.0
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): None (and yes)
- A clear and concise description of what the bug is.

With C++17 structured binding declaration, syntax highlighting can be broken in the rest of the scope:

[2019-09-09 20:49] pieandcakes commented on #4217
@WardenGnaw Can you investigate?

[2019-09-09 20:52] pieandcakes commented on #4196
This sounds like #4133. Are you able to change your `ptrace_scope` value?

[2019-09-09 21:10] matter123 commented on #4219
@Blaok this issue is because vscode uses an old version of the upstream textmate grammar (syntactical highlighting). Installing the latest version (https://marketplace.visualstudio.com/items?itemName=jeff-hykin.better-cpp-syntax&ssr=false) should fix the issue.

Related issue https://github.com/jeff-hykin/cpp-textmate-grammar/issues/224

[2019-09-09 21:21] bobbrow commented on #1431
Closing this feature request as this is out of scope for our extension.  Thanks @TheNetAdmin for publishing an extension that handles this file type!

[2019-09-09 21:21] #1431 closed, assigned to nobody

[2019-09-09 21:29] bobbrow commented on #1658
We recommend using the [VSCode Remote SSH extension](https://code.visualstudio.com/docs/remote/ssh) for this now.

[2019-09-09 21:29] #1658 closed, assigned to nobody

[2019-09-09 21:30] sean-mcmanus commented on #4077
Actually, this is problematic, because setTextDocumentLanguage is not persistent like files.associations is...

[2019-09-09 21:30] bobbrow commented on #2679
We recommend using the [VSCode Remote SSH extension](https://code.visualstudio.com/docs/remote/ssh) for this now.

[2019-09-09 21:30] #2679 closed, assigned to nobody

[2019-09-09 21:58] bobbrow commented on #3614
I am not seeing any issues downloading the extension binaries with the latest version of the Remote SSH extension.

[2019-09-09 21:58] #3614 closed, assigned to nobody

[2019-09-09 22:15] #3640 closed, assigned to nobody

[2019-09-09 23:13] bobbrow commented on #1444
You can use `${command:cpptools.activeConfigName}` to get the value of the active configuration.  Is that what you were asking for?

[2019-09-09 23:13] #1444 closed, assigned to nobody

[2019-09-09 23:16] bobbrow commented on #3794
We need more information to fully investigate this issue. If you update to the latest version of the extension and your issue persists, please reply with additional information that can help us investigate your issue.

[2019-09-09 23:16] #3794 closed, assigned to nobody

[2019-09-09 23:16] #3750 closed, assigned to nobody

[2019-09-09 23:19] bobbrow commented on #3820
We need more information to fully investigate this issue. If you update to the latest version of the extension and your issue persists, please reply with additional information that can help us investigate your issue.

[2019-09-09 23:19] #3820 closed, assigned to nobody

[2019-09-09 23:20] #3845 closed, assigned to nobody

[2019-09-09 23:21] sean-mcmanus commented on #4188
We need a call stack and/or a repro in order to investigate a fix. It looks like our parser is crashing.

[2019-09-09 23:23] bobbrow commented on #3859
I believe this issue should be fixed in version 0.25.1 of the extension.  Can you try again and let us know?

Thank you!

[2019-09-09 23:23] #3859 closed, assigned to nobody

[2019-09-09 23:28] #3871 closed, assigned to nobody

[2019-09-09 23:29] sean-mcmanus commented on #664
@1354092549 Yes, but we don't have it on our schedule yet.

[2019-09-09 23:31] #3884 closed, assigned to nobody

[2019-09-09 23:34] sean-mcmanus commented on #4177
I don't think we can fix this without more specific details.

The closest thing to "jump directly" would be "Peek References" -- is that good enough?

[2019-09-09 23:41] bobbrow commented on #3895
Can you try adding those switches to your `tasks.json`?  Anything you would specify on the command line can be added to the build task.  For example:

[code]

[2019-09-09 23:45] pieandcakes opened #4220 "Add documentation on configuring debugger"
Add documentation, code samples, or blogs for debugging using:
* `pipeTransport`
* `gdb` <-> `gdbserver`

[2019-09-09 23:57] Blaok commented on #4219
@matter123 Indeed, thanks! I assume this will be automatically fixed when vscode updates its grammar from the upstream so I'm closing this issue.

[2019-09-09 23:57] #4219 closed, assigned to nobody

[2019-09-10 00:58] WardenGnaw commented on #4217
Something seems to have changed in VS Code 1.38.0.

Created an issue at https://github.com/microsoft/vscode/issues/80601

[2019-09-10 01:46] lujfsd commented on #3859
@bobbrow ok,I test 5 min,and this issue is not appear

[2019-09-10 02:14] XiangpengHao opened #4222 "cpp intellisense spawns too many threads"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Local: Windows 10 Version 10.0.18362.329, Remote: Arch Linux (Kernal: 5.2.11-arch1-1-ARCH)
- VS Code Version:
[code]
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): all other extensions disabled, except for `Remote - SSH 0.46.0`
- A clear and concise description of

[2019-09-10 02:32] Victsz opened #4223 "Find reference wongly state "Not a reference""
**Type: LanguageService**

**Describe the bug**
A function, "HardToTrade2", is referenced but "Find all reference" label it as [Not a reference]
Meanwhile, the find all in files can locate it correctly.
**Screenshots**

![image](https://user-images.githubusercontent.com/8154646/64579635-2765c380-d3b6-11e9-81e4-2da1425dca3f.png)
 Extension version: 0.25.1
VS Code version: Code 1.37.1 (f06011ac164ae

[2019-09-10 02:43] LiShunGang commented on #4165
[code]
I changed the ```includePath``` but still can't affect the result of the first ```#include <a.h>```.
Is there some way to affect it?

[2019-09-10 07:45] letmaik commented on #4196
The original `ptrace_scope` value was 1. When I change it to 0 with `echo 0 | sudo tee /proc/sys/kernel/yama/ptrace_scope` everything works.

[2019-09-10 08:02] Arpafaucon commented on #4218
I did a small investigation, and `#include` resolution is done properly on the host machine outside of the container.

## diagnostic from inside the container

[code]

[code]

[2019-09-10 13:03] YiweiJiang2015 commented on #4076
Consider using another Intellisense engine.

[2019-09-10 16:12] bobbrow commented on #4222
The thread usage does look unusually high.  That process doesn't normally spawn many threads (I believe 7 is the average).  Are you able to attach a debugger and send us a few callstacks?

But each of them is not asking for 10.9G.  That's a shared metric with the process.  If you add up all the memory usage reported for each thread, you would far exceed the memory usage reported by htop.

![image]

[2019-09-10 17:09] XiangpengHao commented on #4222
The memory consumption isn't that high, but the server does have hundreds of GBs of memory though.

GDB is not attached, all other extensions are disabled, I didn't even type, just opened a normal-sized CPP project (less than 3k loc).

[2019-09-10 17:30] bobbrow commented on #4222
Is your project open source, or can you share the code file and your configurations with us?  My screenshot was from a file with 5500 loc and a lot of headers (the headers usually have the highest impact on the total memory used).  The 209M used in your example is average.  It's the number of threads spawned that concerns me most.

If you are able to attach gdb to the `Microsoft.VSCode.CPP.Intelli

[2019-09-10 17:37] pieandcakes commented on #4196
That can be the work around for now. I think with `pkexec` allowing selection of profiles to elevate to needs some more investigation.

[2019-09-10 19:11] XiangpengHao commented on #4222
just a hello world can trigger the bug
![image](https://user-images.githubusercontent.com/6504314/64642444-41f26980-d3c3-11e9-9f52-d178e48b4568.png)

hope these helps

[code]

and another group of threads

[code]

[2019-09-10 19:29] emanspeaks commented on #3076
Could the logic not be adjusted so that if the given string is not valid, it appends ".exe" and tries again?  It would be nice if you could use the same launch config for Linux and Windows assuming the name of the gdb executable is the same on both?

[2019-09-10 19:31] bobbrow commented on #4222
If it happens with such a small file, then the issue may be with your configuration.  The code you shared works fine for me on Remote SSH (though I am remoting to Ubuntu, not Arch Linux)

Can you [Enable Debug Logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and then restart VS Code?  Please share the log that is printed to the Output window.

[2019-09-10 21:25] sean-mcmanus commented on #4206
I can't repro this on Windows or Linux. Do you know if the repro requires Remote-SSH? When you enable debug logging (https://code.visualstudio.com/docs/cpp/enable-logging-cpp) do you see the files not being "tag parsed" in the logs? If you see that the files aren't tag parsed, can you set the logging (temporarily) to the hidden value of "9" and look at the output related to exclusions. We an exclu

[2019-09-10 21:36] sean-mcmanus commented on #4223
I'm not able to repro this bug. Are you able to provide more details? The code I used was
[code]
Is your scenario doing something more complicated that could cause our type checking to fail? Does Go to Def on "HardToTrade2" give multiple definitions or is there class inheritance involved? We're working on fixing a known bug with methods in base class not matching to references in subclass methods.

[2019-09-10 21:39] sean-mcmanus commented on #4165
We don't support the variable ${fileDirname}.

[2019-09-10 21:46] sean-mcmanus commented on #4218
Our querying of /usr/bin/gcc is failing to add the system includes for some reason. Is your Linux gcc generate non-English output? If you enable debug logging (https://code.visualstudio.com/docs/cpp/enable-logging-cpp) do you see any errors when it tries to query the compiler for includes?

[2019-09-10 22:02] sean-mcmanus commented on #3567
We have a fix pending for our internal handling of various extensions, but VS Code itself is treating "*.i" as "cpp" instead of "c" now.

[2019-09-10 22:02] XiangpengHao commented on #4222
sure, I don't see obvious issue though.

[code]

[2019-09-10 22:38] sean-mcmanus commented on #4222
Yeah, I don't see any crashes or errors. The usage of 9.1.0 gcc headers seems unusual though.

[2019-09-10 22:56] XiangpengHao commented on #4222
gcc 9.1.0 and clang 8.0.1 :)
Life of arch linux users.

So a higher version of gcc/clang may cause problems?

Just checked another arch linux server, it has the same problem. And multiple clients (Windows and macOS) have the same issue.

[2019-09-10 23:21] sean-mcmanus commented on #4222
gcc-9 has not gotten significant enough usage/testing yet with our extension (gcc-8 being dominant), so it's possible there's some new issue. But we haven't seen this sort of symptom before so it's pretty strange (usually, when there's a breaking change from new gcc headers it'll just generate a crash).

[2019-09-10 23:56] sean-mcmanus commented on #4222
Have you ever gotten our extension to work (without this bug) on your setup? Does using "Install Another Version..." to try something like 0.22.0 of our extension still repro the issue (with extensions.autoUpdate set to false and updateChannel set to "Default)? Was it ever working with an older gcc/clang?

[2019-09-11 00:53] sean-mcmanus opened #4224 "Go to Def on "auto" of shared_ptr<type> doesn't show definitions for type"
It would be nice if it did. VS has the same limitation.

[2019-09-11 01:21] XiangpengHao commented on #4222
I have the same problem even back to 0.10.1

not sure this is related, https://github.com/microsoft/vscode/issues/80245#issuecomment-529761769

[2019-09-11 01:57] sean-mcmanus commented on #4222
I assume you mean 0.11.0, because 0.11.0 was the 1st release with the IntelliSense process.

Yeah, it looks like VS Code itself is hitting the same problem itself with too many threads.

[2019-09-11 02:51] sean-mcmanus opened #4226 "Go to Def on a pure virtual base class method doesn't give derived class definition"
It works in VS. We probably won't be able to fix this until we unify our code bases more.

However, we might be able to get Find All Refs working as workaround (see https://github.com/microsoft/vscode-cpptools/issues/4078 )...not sure yet though.

[2019-09-11 04:48] #4165 closed, assigned to nobody

[2019-09-11 05:28] mtt0 commented on #811
@Maratk1n Thx, this solved my problem

[2019-09-11 06:08] daniel-brosche commented on #811
To have a 'Just My Code'-Feature in vscode is still highly desirable as so many poeple affect this scenario

[2019-09-11 11:10] matt-rayner1 commented on #4218
I have also been having exactly the same issue. The only extensions I am running are 'C/C++', 'C/C++ intellisense', and 'CodeRunner'.

I have used a quick workaround by adding the "../MinGW/include" to the includePath.
I also copied the <stddef.h> header from "../MinGW/lib/gcc/mingw32/8.2.0/include" to "../MinGW/include" as it would throw up another error that stddef.h could not be found otherwise

[2019-09-11 11:41] dottww opened #4227 "format"

[2019-09-11 11:41] #4227 closed, assigned to nobody

[2019-09-11 12:07] Schokocrossi opened #4228 "namespace "std" has no member "cout""
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.38.0
- C/C++ Extension Version: 0.25.1
- I am trying to setup clang in Visual Studio Code on Windows 10. If I write a simple HelloWorld program, IntelliSense tells me that `namespace "std" has no member "cout"` even though I included `<iostream>` and chose `"clang-x64"` as intelliSenseMode. According

[2019-09-11 12:30] RichardFurness commented on #4206
I don't know if this issue requires Remote-SSH, all I can say is that I've only seen it with Remote-SSH to Linux.
Yes, the files in question don't appear as "tag parsed" in the logs.
I tried setting logging level 9, and it doesn't appear as though the issue is with your exclusion checking, as the only directories appearing in the logs are:
/outer/foo/good-subdir (which is tagged fine)
/outer/foo/b

[2019-09-11 13:14] BatSvilko commented on #638
I have the same problem also with enabled pretty printing. On CLion everything works fine, which means you should fix VS Code.

[2019-09-11 13:31] floooh commented on #3829
Ping. Just wanted to mention that the problem persists with the latest Catalina Beta and Xcode11 "Gold Master" version, both pretty late in their release cycle, so I think that's not something that will be fixed on Apple's part.

Also the CodeLLDB extension doesn't have the problem.

[2019-09-11 15:48] opensw opened #4229 "No output from remote target (Yocto)"
Hello there,
   I am not able to see the output from a simple std:cout or printf. My configuration:
- Host Linux  distro (Ubuntu 16.04) with poky 1.8 toolchain installed;
- Remote Yocto Linux distro.

From host I build and deploy the application to target machine. The deployment task runs remotely the command
`nohup gdbserver --remote-debug 127.0.0.1:3333 $TARGET_PATH/tcp-server --no-init > /dev/c

[2019-09-11 17:25] s4ln1x commented on #4109
Hi, I think I found a C syntax highlighting issue, should I post here the information or should I create another issue?, P.D. I reach this issue from searching in the issues bar.

[2019-09-11 18:34] wschin commented on #720
Same problem here for non-macro cases.

[2019-09-11 18:53] sean-mcmanus commented on #4228
We're tracking our lack of support for clang-cl.exe with clang-x64 mode with https://github.com/microsoft/vscode-cpptools/issues/3906 .

In the mean time, you can try setting the compilerPath to "" and manually specifying the includePath to be whatever clang-cl.exe outputs when you use ""C:/Program Files/LLVM/bin/clang-cl.exe" -TP -v -E -Xclang -dM nul"

for example

[code]

But it looks like the

[2019-09-11 18:58] sean-mcmanus commented on #4218
@matt-rayner1 What does "exactly the same issue" mean, i.e. what is the exact text of the error message? This thread has 2 different bug reports in it.

Our C/C++ extension is not compatible with the "C/C++ IntelliSense" extension...or you need to somehow configure that other extension correctly.

[2019-09-11 19:53] Colengms commented on #4109
Hi @reycobra .  It may depend on what is highlighting incorrectly.  The C/C++ extension adds semantic colorization, but the basic syntactic colorization is coming from VS Code and the TextMate grammar for C/C++.  One way to find out which is involved would be to disable the setting "C_Cpp.EnhancedColorization".  If the issue is still present with that disabled, it would seem to be an issue with th

[2019-09-11 20:20] s4ln1x commented on #4109
Hi @Colengms, thanks for answering!!, the issue is still present after I disabled the setting "C_Cpp.EnhancedColorization", so I will check the issues in the repository you suggested me and if nothing similar to what I'm seeing is happening I will open a new issue there. Thanks again!!!

[2019-09-11 21:10] sean-mcmanus commented on #4206
Okay -- I repro the bug now, sorry about the confusion -- I discovered my symlink creation was done incorrectly.

The root bug is https://github.com/microsoft/vscode-cpptools/issues/3123 -- our code that calls nftw to iterate over the directories does not check the files.exclude, which causes it iterate into the excluded folder and generate paths under the excluded path, but when it encounters the

[2019-09-12 03:58] Victsz commented on #4223
Sorry it might be a correct behavior, I found the caller is a template class of ContractFactor,  it is like
[code]
--------------------------------------------
I know most IDE cannot find this kind of reference, so sorry for the inconvenience.

[2019-09-12 06:06] rishikeshshede commented on #1329
Solution that worked for me is:
1) open the folder where you have created the file in which you are writing the code.
2) there you'll see a folder **.vscode**, open it and there will be a file named **c_cpp_properties.json**, open that file.
3) now copy the path of your compiler in front of **compilerPath**(change \ to / if needed) and save the file. (eg: C:/Program Files (x86)/mingw-w64/i686-8.1.

[2019-09-12 07:14] LaPeste commented on #4166
I understand. I doubt I'll get to do it, unfortunately. But of course, I'll let you know if that happens.
In the meanwhile, thank you for the support so far and let me know here if there are news.

[2019-09-12 08:20] Arpafaucon commented on #4218
Hi @sean-mcmanus
my `/usr/bin/gcc` seem to output english:
[code]

You'll find attached the debug log of the extension when opening my `test.c` file. I believe this snippet is of interest, the extension signals a failed search for files in `/include`
[code]

 When opening the file, I noticed that the `#include <stdio.h>` line first gets blue squiggles, then red ones - if that is of any relevance.

[2019-09-12 08:32] RichardFurness commented on #4206
Great, this explanation makes sense! And it sounds like the fix will bring other (performance) benefits too :-)

[2019-09-12 08:33] ayushpratap commented on #1329
I was facing this issue on windows.
The issue was the path in `User variables for ${USER}` was C:\Mingw\mingw32\bin
and path in `System variables` was C:\MinGW\bin

I resolved it by adding C:\MinGW\bin in `User variables for ${USER}`

[2019-09-12 11:23] Schokocrossi commented on #4228
Thank you for your answer! Sadly, specifying the include path did not work for me so i'll use "msvc-64" and keep an eye on #3906 (closing this issue then)

[2019-09-12 11:23] #4228 closed, assigned to nobody

[2019-09-12 14:13] senlinding commented on #4177
![image](https://user-images.githubusercontent.com/4864830/64791396-3f9e3400-d5aa-11e9-9793-1a5f15c19dc2.png)
Just 20 files, it took 5 seconds to peek references

[2019-09-12 14:13] frenetorp opened #4232 "Ctrl + mouse click on a function opens its definition, but with its filepath in uppercase."
Press "File" -> "Open Folder..".
Open a network folder (Network File System), for example:
`\\files.example.com\home\emma\git\example_project`
The example_project is written in C, with a header-file (example.h) and a c-file (example.c).
Open the header-file and press "ctrl + left click" on a function in order to bring up its defenition located in the c-file.
The c-file will now open in the vscode

[2019-09-12 14:16] senlinding commented on #4177
Peek References is really slow.

[2019-09-12 14:21] senlinding commented on #4177
Describe the bug

OS and Version: win10
VS Code Version: 1.38.1
C/C++ Extension Version: 0.25.1
Other extensions you installed (and if the issue persists after disabling them):
Disable other extensions, bug still exist

[2019-09-12 14:24] guusw opened #4233 "[cppvsdbg] requireExactSource option is not recognized by launch.json"
Type: Debugger

Sometimes when debugging my application (UE4 project) the symbols seem to not match the source files. Although I would still like to debug my application.

The debug  console suggests that I can disable this source file matching in my launch.json by adding `"requireExactSource":false`, however the settings' json linting tells me this option is not allowed.

Extension version: 0.25.

[2019-09-12 14:25] senlinding commented on #4177
Hope to optimize Peek References.

[2019-09-12 14:55] mikepelley commented on #4185
I'm afraid I was not able to reproduce with a smaller example (the problem would not appear in the smaller sandbox I created). I'm not sure how to proceed; perhaps this should be closed as unreproducible.

[2019-09-12 17:13] bobbrow commented on #4222
@XiangpengHao, I think the issue you linked is definitely related, which means it's not likely a bug with our extension.

[2019-09-12 17:44] XiangpengHao commented on #4222
But the issue doesn't apply to other language service based extensions, e.g. https://github.com/rust-lang/rls-vscode, only the cpp-tools is affected.

[2019-09-12 17:58] pieandcakes commented on #4233
@guusw We will take a look. thanks

[2019-09-12 18:08] pieandcakes commented on #4229
with gdb <-> gdbserver we don't have a mechanism to show you that output if its not being reported to gdb. you can try the setting: `"filterStdout": false` in your `launch.json` and it should then show in your `debugConsole`

[2019-09-12 22:49] WardenGnaw commented on #4217
Closing as external issue.

The VS Code team says they are investigating the issue.

You should still be able to get configuration snippets with `Ctrl + Space` or using the `Add Configuration..` button.

[2019-09-12 22:49] #4217 closed, assigned to WardenGnaw

[2019-09-12 22:53] emanspeaks commented on #4217
Thanks!  Tracking the other issue.

[2019-09-13 08:14] ednl commented on #429
+1 for Linux arm32hf support, aka. Raspberry Pi (current OS Raspbian 10.1 Buster 32-bits)

[2019-09-13 08:20] melhior61 opened #4239 "Debugger cannot pass arguments to the internal console correctly"
Type: Debugger
VSCode Version: 1.36.1
C/C++: 0.25.1
OS Version: Windows 7

Hello everybody,

I am currently debugging an application with the following debug configuration:

`{
            "name": "Debug SIM -c -meas -b -s -1",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/tools/sim/sim.exe",
            "windows": {
                "args

[2019-09-13 14:25] mbargiel opened #4240 "[other extension] lldb custom formatters are not working in VS Code"
Type: Debugger

OS: macOS Mojave (10.14.6)
Visual Studio Code Version 1.38.1
ms-vscode.cpptools 0.25.1
Also present: vadimcn.vscode-lldb 1.3.0

We have custom LLDB formatters defined `~/.lldbinit`. They are picked up fine by `lldb` in the shell or Xcode, but not by VS Code.

I found issue https://github.com/microsoft/vscode-cpptools/issues/1902 which is from 2018, which listed configuring `"setupC

[2019-09-13 14:30] code-fodder commented on #296
@sean-mcmanus

Sorry to be a pain, but which version is this feature released in? (if it is in a release) or do I need to compile it myself (I think I would rather wait though!), thanks : )) ... been looking forward to this one for an ages - but other than this feature VS code is one of the best, if no the best, free IDE out there - thanks to you and your team : ))

[2019-09-13 15:30] MikeWeller commented on #4054
Sounds similar to https://github.com/Microsoft/vscode-cpptools/issues/3145 though there could be multiple issues at play.

[2019-09-13 15:42] curtiskeisler commented on #511
Version 1.37.1 I'm unable to even start the process. I get a write EPIPE error. I have ensured that I'm in fact loading the correct child source code. It runs fine in stand-alone node.

[2019-09-13 16:01] danielmrussell opened #4241 "System can't find headers despite setting all the settings."
Issue Type: <b>Bug</b>

Frustratingly, no matter what I do, I keep getting these header errors popping back up.

I set includePath, browsePath, etc etc. to C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/VC/Tools/MSVC/14.22.27905/include/** because for some odd reason, when using clang-cl, VSCode Intellisense dies. Setting this worked for a while, then stopped working again.

There a

[2019-09-13 16:20] danielmrussell opened #4242 "Poorly coded error message leaves user stumped as to what to fix... effects header visibility to the extension."
Issue Type: <b>Bug</b>

See screenshot in link.
https://ibb.co/cT4VXvV

I don't know how to reproduce this because I don't know how the error got generated, what is generating it or where to fix it. What setting is the source of this? Wish I knew!

Extension version: 0.25.1
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS version: Windows_NT x64

[2019-09-13 17:54] litist opened #4243 "Unable to pause execution with root gdb"
Type: Debugger

**Describe the bug**
- OS and Version: Ubuntu 16.04.6 LTS
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1

We needed to debug a program which needs root privileges to be run. In order to do this a added a wrapper to gdb to lauch with sudo and without password.

[code]

When we launch a program with the wrapped dbg(set on miDebuggerPath), we are not able to pause the exe

[2019-09-13 18:24] ciraci opened #4244 "Extermely slow intellisense"
Issue Type: <b>Bug</b>

Editing a C file, change the type of a variable lets call it Key from one struct to another struct. This causes an error in some other line of the function. To fix the problem, I type . after Key in that line. Intellisense pops up, I select the struct attribute I want to add, lets call it InternalKey. Now VsCode is unresponsive for a long time (vscode cpu usage shoots upto

[2019-09-13 18:36] sean-mcmanus commented on #4241
We still have work to do to improve the "clang-cl.exe" scenario. Can you try setting your intelliSenseMode to msvc-x64 and removing other system includes, except maybye the clang include path? Using `"**"` with system include paths is not recommended because `"**"` is order independent, which can break system include paths that require a specific ordering.

See https://github.com/microsoft/vscode-

[2019-09-13 18:42] sean-mcmanus commented on #4242
It looks like you don't have a workspace folder open and you're it's trying to use compile_commands.json, maybe because you have C_Cpp.default.compileCommands set? Are you able to figure out the repro conditions?

[2019-09-13 18:52] sean-mcmanus commented on #4244
I'm not able to repro it. Do you have any `#include` in your code? Can you do a C/C++: Log Diagnostics with that active and see what settings are being used? What process is using the CPU? Can you attach a debugger to that process to what the call stack is? Can you [enable debug logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) to see what messages occur after the unresponsivenes

[2019-09-13 19:46] sean-mcmanus opened #4245 "Add Find All References (Peek/Rename) filter for definition, declaration, and usage"
Based on a request at https://github.com/microsoft/vscode/issues/68071 .

VS doesn't support this.

[2019-09-13 20:07] smoofra opened #4246 "The language server pretends to be clang, but it isn't clang."
**Type: LanguageService**
- OS and Version: Mac OS 10.15
- VS Code Version: Version: 1.38.1
- C/C++ Extension Version: 0.25.1

**Description**

The C/C++ language server can define preprocessor variable `__clang__` for parsing, but it is not clang and it is not fully compatible with clang.

This is a problem because it defeats `ifdef` conditionals that are there specifically to  enable clang speci

[2019-09-13 20:34] sean-mcmanus commented on #4223
By default, VS gives the same result, but after you use the UI to set T=ContractFactor, then it confirms the references.

We're tracking adding support for template intellisense with https://github.com/microsoft/vscode-cpptools/issues/1946 .

[2019-09-13 20:34] #4223 closed, assigned to nobody

[2019-09-13 20:42] sean-mcmanus commented on #4246
The Microsoft compiler is "cl.exe", but the IntelliSense compiler is based on the EDG compiler which emulates cl.exe or clang based on different settings we use, i.e. it's supposed to work (we have one known bug with __has_include that hasn't had the fix shipped yet https://github.com/microsoft/vscode-cpptools/issues/4193 ).

I'm not reproing the error (I tried on Mac too and it works after I remo

[2019-09-13 20:44] coroner4817 opened #4247 "F12 go to def sometimes not working for class member function"
Version info:
Name: C/C++
Id: ms-vscode.cpptools
Description: C/C++ IntelliSense, debugging, and code browsing.
Version: 0.25.1
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools

Version: 1.38.0
Commit: 3db7e09f3b61f915d03bbfa58e258d6eee843f35
Date: 2019-09-03T21:51:09.716Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.

[2019-09-13 20:46] smoofra commented on #4246
I don't see a setting called "Log Diagnostics" under C/C++...   How do I turn that on?

[2019-09-13 20:46] sean-mcmanus commented on #4246
It's a command (from the command prompt, Ctrl+Shift+P).

[2019-09-13 20:47] smoofra commented on #4246
[code]

[2019-09-13 20:55] sean-mcmanus commented on #4246
I'm using clang version 100001 -- we haven't tested with 110000 yet, so that might be the difference. I'll see...

Does your code file have any includes? I had to add `#include <cstddef>` to get size_t to be defined. Also, do you have the definition for StringRef? I had to remove that for the repro...but it seems like it shouldn't be necessary since it seems like the enable_if code is getting comp

[2019-09-13 21:13] sean-mcmanus commented on #4247
I don't repro the problem. Go to Def on the fun() calls go to Test::fun(). It gives me squiggles for the missing classes. Our Go to Def code ends up falling back to our Tag Parser due to the IntelliSense compilation errors.

[2019-09-13 21:15] sean-mcmanus commented on #4247
Okay, I repro it now -- it repros on Linux, but not Windows.

Actually, it repros on Windows in certain cases and it repros with VS.

[2019-09-13 21:15] smoofra commented on #4246
The full source code for the file I'm looking at is [here: StringRef.h](https://github.com/llvm/llvm-project/blob/master/llvm/include/llvm/ADT/StringRef.h)

That's a header, the cpp file for the translation unit that I first saw the problem in is [here: PythonDataObjects.cpp](https://github.com/llvm/llvm-project/blob/master/lldb/source/Plugins/ScriptInterpreter/Python/PythonDataObjects.cpp)

I jus

[2019-09-13 21:28] sean-mcmanus commented on #4247
The fact that the behavior changes without the comment or not is odd, but it seems like the behavior is somewhat undefined because the code doesn't compile. I've filed a VS bug at https://developercommunity.visualstudio.com/content/problem/734280/go-to-def-doesnt-work-in-certain-strange-condition.html , but I'd suspect they may not decide to fix it.

[2019-09-13 21:39] coroner4817 commented on #4247
But I do see this issue in a compiled project. I just provide a minimal repro case here.
I also see the issue with this Intellisense extension: https://marketplace.visualstudio.com/items?itemName=austin.code-gnu-global

I start to struggle with this go to def since recent vscode update. Before that it always works fine.

[2019-09-13 21:42] sean-mcmanus commented on #4247
Are you able to give more sample code that repros the issue with code that compiles?

[2019-09-13 22:03] smoofra opened #4248 "If `compileCommands` is being used, then `defines` is ignored"
**Type: LanguageService**

- OS and Version: Mac OS 10.15
- VS Code Version: Version: 1.38.1
- C/C++ Extension Version: 0.25.1

**Description**

If you are using `compileCommands`, then the language service ignores `defines`.

**To Reproduce**

`foo.c`:
[code]

<br>

`.vscode/c_cpp_properties.json`:
[code]

<br>

`compile_commands.json`:
[code]

<br>

1. make a workspace with those files.
2. the `

[2019-09-13 22:08] coroner4817 commented on #4247
@sean-mcmanus Sorry I tried but I cannot repro with simple compiled code

But one thing is that in my compiled project, there is a comment right on previous line of the function call. If I remove it will work. So it's the comment that mess up.

[2019-09-13 22:29] sean-mcmanus commented on #4248
You can #ifdef stuff out with `__INTELLISENSE__`. Does that work as a workaround?

Ignoring "defines" when compile_commands.json is used is "by design" since the defines are expected to come from the compile_commands.json instead (except for files that are missing from the compile_commands.json, which fall back to the c_cpp_properties.json settings).

[2019-09-13 22:31] smoofra commented on #4248
That does work as a workaround.    If the behavior is by design, maybe there should be an error if you try to use "defines" and "compileCommands" at the same time?

[2019-09-14 01:37] sean-mcmanus opened #4249 "IntelliSense bugs (hover and find all references) when referencing templated member functions in a base class"
See https://developercommunity.visualstudio.com/content/problem/734317/intellisense-bugs-when-using-templated-member-func.html .
[code]

Bug1: Hover over the 2nd virtual_overload1 on the “hover here” line and it incorrect shows the wrong overload – I believe that is the root bug.

Bug2: Do Find All References on the “virtual_overload1” methods – it incorrectly does not confirm the usage for the 1s

[2019-09-14 04:43] Gavin-Williams opened #4250 "value of miDebuggerPath is invalid"
Type: Debugger

I have the following line in launch.json ...

"miDebuggerPath": "C:\\MinGW64\\bin\\gdb",

When i press F5 I get 'unable to start debugging. The value of miDebuggerPath is invalid.

I don't see any way to add an image to show you that this is the correct path. But this is a copy of the Explorer path ...

C:\MinGW64\bin

[2019-09-14 06:49] lilealyh commented on #429
+1 for cpptools ARM support

[2019-09-14 11:01] q009 opened #4251 "Type not found when global variable has the same name as its type"
**Type: LanguageService**

Suppose we have a type called 'foo'.
If we try to define a global variable, of both type and name 'foo', IntelliSense will assume the type token refers to the variable itself, not type name. As a result, it will complain that 'foo' does not name a type.

The issue does not appear to happen when the definition exists within a block (i.e. a function).

Screenshot of the pr

[2019-09-14 11:34] GaurangTandon opened #4252 "Warn against implicit type casts from int to bool or long double to long long"
I believe the following code snippets should produce at least a warning squiggle (wasted quite a lot of time today on them):

1. `long long a = 5.1;`
2. `bool a = 2;`

Both of which are clearly wrong and result in loss of information.

More concretely, I wish if VS Code CPP Tools would be able to flag such expressions as warnings. How to enable this feature, if it is already present? If not presen

[2019-09-14 16:13] danielmrussell commented on #4242
I have been unable to pinpoint minimum conditions, because I unset those
things and still get the same error under all conditions I have tried.
Obviously I am confused and don't understand the overall system. I find
there to be so many moving parts and overlap in settings that it's mind
boggling sometimes. I am trying to sort it out and will attempt to pin this
down further.

But regardless, I'm m

[2019-09-14 16:25] danielmrussell commented on #4241
Honestly, I tried that and everything I could think of. The error is
random. It sometimes disappears for a little bit (squiggles go away) but
comes back quickly if you look at it wrong.

This is with cl.exe clang.exe, etc. This is with removing all includes
listed in the configuration editor, with them in there, etc. Nothing seems
to reliably fix this. :(

I didn't understand your comment: Using "

[2019-09-14 16:37] danielmrussell commented on #4241
After some more testing, it seems that building the project when Clang kit
is selected in CMake Tools induces the squiggles. So if I open Code, they
might not be there at first, but if switch to Clang kit, and then hit Cmake
Tools build button, they appear.

I attached screenshots to show what is happening.

On Sat, Sep 14, 2019 at 9:25 AM Daniel Russell <danielmrussell@gmail.com>
wrote:

[2019-09-14 17:34] danielmrussell commented on #4242
Sorry, I should add I do have a workspace folder open and a .vscode folder
in it and c_cpp_properties.json.

On Sat, Sep 14, 2019 at 9:12 AM Daniel Russell <danielmrussell@gmail.com>
wrote:

[2019-09-14 18:03] danielmrussell commented on #4241
Here is my current c_cpp_properties.json
{
    "configurations": [
        {
            "name": "Win32",
            "includePath": [
                "${workspaceFolder}/**",
                "C:/Program Files/LLVM/include/**"
            ],
            "defines": [
                "_DEBUG",
                "UNICODE",
                "_UNICODE"
            ],
            "windowsSdkVersion": "10.0

[2019-09-14 18:05] csorvagep opened #4253 "Feature request: Visual Studio style create definition quick fix"
It would be really nice to create the definition for a method automatically when there is none.
I can copy the declaration, but I always forget the class name prefix, so it could be useful.

[2019-09-14 18:14] nicole-mcg commented on #2297
I am getting behaviour where once the conditional breakpoint is hit once, it is no longer conditional

[2019-09-14 18:51] danielmrussell commented on #4241
Okay. Setting configurationProvider to blank worked.

I hope that doesn't screw everything else up.

On Sat, Sep 14, 2019 at 11:03 AM Daniel Russell <danielmrussell@gmail.com>
wrote:

[2019-09-15 02:10] linjialiang opened #4254 "Iteration so many versions, when to release the official version"
Iteration so many versions, when to release the official version

![图片](https://user-images.githubusercontent.com/8848263/64915749-0ed41f80-d7a1-11e9-9988-1282c60f6f5b.png)

[2019-09-15 02:22] Daisy-Shi opened #4255 "vscode unable to debug"
Type: Debugger
<Warning: Debuggee TargetArchitecture not detected, assuming x86_64.
=cmd-param-changed,param="pagination",value="off"
Stopped due to shared library event (no libraries added or removed)
Loaded '/lib64/ld-linux-x86-64.so.2'. Symbols loaded.>

I tried to debug a series of code files in vscode, but it output the result directly.

[2019-09-15 08:22] djadeja commented on #2591
Please, support logpoint.
Thanks

[2019-09-15 08:24] djadeja commented on #2591
Please provide primary information, for doing analysis on how can it be added in C/C++ Debug Adapter. So, that it can be added by community developers or users.

[2019-09-15 20:42] KareemMAX commented on #805
I think if you can call "pause" command once the gdb exits would solve the issue. Also, when I did some investigation on Code::Blocks I found that they run the file as a child of `cb_console_runner.exe` and after the program gets terminated it prints the return value of the program as well as how long the program run for.

These feature would be nett as I mainly use C++ for ICPC and problem solvin

[2019-09-15 22:00] rivy commented on #1527
@pieandcakes , Any status on fixing this?

As a workaround...

1. add a "gdb-with-chcp.BAT" within to your project (eg, "dbin/gdp-with-chcp.BAT"):

[code]

2. use "PATHTO/gdb-with-chcp.BAT" as "miDebuggerPath" within "launch.json"

[code]

[2019-09-15 22:48] radionerd commented on #429
+1 for cpptools ARM support

[2019-09-16 06:54] opensw commented on #4229
Hello there, I have tried it (also with "filterStderr": false). I can see the output on remote Terminal if I run the gdbserver like gdbserver --remote-debug 127.0.0.1:3333 $TARGET_PATH/tcp-server --no-init (Deploy task) and the following launch.js

[code]

[2019-09-16 09:57] JoelSantosRico commented on #4218
I'll add my issue here, as I think it might be related.

In my case, from time to time, VS Code won't be able to find some of the includes. A restart normally fixes the issue. I can't determine what causes it to start appearing. I recorded a gif showing the behaviour.

I opened my project, which is a workspace with 4 folders, each of them with its own settings. In this case, for example, "unity.h"

[2019-09-16 17:37] 10CIrwin1 opened #4256 "Git: Clone"
Issue Type: <b>Bug</b>

I am trying to use Git:Clone and I am receiving the message "Cannot be found"

Extension version: 0.25.1
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3337U CPU @ 1.80GHz (4 x 1796)|
|GPU Statu

[2019-09-16 17:48] pieandcakes commented on #511
@curtiskeisler yours sounds like a different issue . Please file a new issue with logging information.

[2019-09-16 17:50] pieandcakes commented on #2591
@djadeja Our repository contains details on how to [debug MIEngine](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/Debugger/How%20To%20Debug%20MIEngine.md) which is what drives the debug adapter.

[2019-09-16 17:54] pieandcakes commented on #1527
We are trying to determine what needs to happen to block sending of the BOM to `gdb`. Our problem is that the pipe we create when Unicode is enabled is causing a BOM to be sent on the `gdb` side of the communication pipe which causes `gdb` to generate an error.

We have a repro but not a good way to make a fix unfortunately.

[2019-09-16 17:56] pieandcakes commented on #4229
The problem is with gdb <-> gdbserver where the output isn't making it to gdb then. I suspect that it would be up to gdbserver to send that over to us.

[2019-09-16 17:57] michelleangela commented on #4253
Thank you for your feedback. Please go add your 👍 to #664 where we are currently tracking this feature request.

[2019-09-16 17:57] #4253 closed, assigned to nobody

[2019-09-16 18:12] michelleangela commented on #4256
The command [Git:Clone](https://code.visualstudio.com/Docs/editor/versioncontrol#_cloning-a-repository) is a feature by VS Code and not the C/C++ extension. Please file the bug at https://github.com/microsoft/vscode/issues.

[2019-09-16 18:12] #4256 closed, assigned to nobody

[2019-09-16 18:41] sean-mcmanus commented on #4254
We're planning to go out of preview (1.0.0) early next year.

[2019-09-16 18:41] #4254 closed, assigned to nobody

[2019-09-16 18:48] sean-mcmanus commented on #4232
Thanks for reporting this. I repro the bug.

[2019-09-16 19:03] sean-mcmanus commented on #4177
Even with a small number of files in a workspace, the confirmation process usually has to compile the target files in order to "confirm" the reference, which can take a few seconds if the target file isn't open already. What does the status bar UI show? i.e. how many files is it searching and then confirming? We're tracking performance improvements with https://github.com/microsoft/vscode-cpptools

[2019-09-16 19:14] PhantomGamers commented on #4250
Try using double backslashes

`"C:\\MinGW64\\bin\\gdb.exe"`

[2019-09-16 19:39] osa1 commented on #3351
Just came here to report this -- would be good to see this fixed as this makes debugging TUI apps in vscode quite hard.

[2019-09-16 19:52] sean-mcmanus commented on #296
@code-fodder It hasn't been released yet. We're still working on the UI (and bug fixes). We're planning for an Insider release this week, but it may be get delayed to next week.

[2019-09-16 20:11] bobbrow commented on #429
Please add a 👍 to the [first comment](https://github.com/microsoft/vscode-cpptools/issues/429#issue-198852311) instead of replying with "+1". This will make sure your vote is being counted.

[2019-09-16 20:24] sean-mcmanus commented on #4248
We can't tell if the defines in c_cpp_properties.json are intentional or not, because they are used in the cases where files are not included in the compile_commands.json...so I don't see how we could give an error or warning. i.e. we could add the warning, but then users who intentionally want the defines to be used as a fallback will get warned all the time, unless we added a separate setting li

[2019-09-16 20:44] sean-mcmanus commented on #4252
You may be able to configure your compiler to give the warnings when you build.

[2019-09-16 20:45] smoofra commented on #4248
Ah, yea that makes sense.  Thanks.

[2019-09-16 20:45] #4248 closed, assigned to nobody

[2019-09-16 21:12] sean-mcmanus commented on #4242
The string `""` is supposed to be a path to your compile_commands.json. Do you know how you're using compile_commands.json?

[2019-09-16 21:16] sean-mcmanus commented on #4241
Yeah, you only would want to set that configurationProvider if you have the CMake Tools extension property configured. The configuration provider will cause the other settings in the c_cpp_properties.json to be ignored and use the settings the configuration provider provides.

[2019-09-16 21:30] sean-mcmanus commented on #4218
@joel-felcana
Ctrl+Click uses a different system to locate the header that isn't tied into IntelliSense paths (we have another bug tracking that).

In the logs, the "Includes" sections are what you want to make sure are correct. Your logs don't seem to match your screenshot though. It sounds like the IntelliSense process is getting into some bad state.

You may also want to try running the C/C++:

[2019-09-16 21:49] NSExceptional commented on #862
Is there somewhere I can vote to have it scheduled?

[2019-09-16 22:13] sean-mcmanus commented on #862
The thumbs up on the initial post.

[2019-09-16 22:19] niklas-ourmachinery opened #4257 "cpp.hint does not seem to have any effect"
**Type: LanguageService**

**Describe the bug**

- Windows.
- VS Code 1.38.1
- C/C++ 0.25.1

An undefined macro in a function definition causes Intellisense errors. Even if I add the macro to `cpp.hint`, I still get the error. It doesn't seem like `cpp.hint` is parsed at all.

**To Reproduce**

1. Open VS Code in an empty folder.
2. Create a file `blorg.c` with the text `int main() KORV { int x =

[2019-09-16 22:23] NSExceptional commented on #862
Gotcha. I would like to add that if/when this does get implemented, there needs to be a way to disable it for a specific language, because in Objective-C, dot syntax is used for property access on Objective-C objects. Or, if it can intelligently switch between `.`/`->` on the fly—say when choosing an ivar without a similarly named property from the autocompletion list—that would work instead.

[2019-09-16 22:33] sean-mcmanus commented on #4257
cpp.hint is not for IntelliSense -- it's for the "tag parser" or global symbols. For IntelliSense, you want to add the defines to the "defines" section of c_cpp_properties.json (or an equivalent location).

You still may want to keep the cpp.hint if the macro breaks the tag parser (i.e. symbols in the Outline view).

[2019-09-16 22:36] sean-mcmanus commented on #862
Our extension doesn't support Objective-C. As long the as the language of the doc is not C or C++ then Objective-C shouldn't be affected.

[2019-09-17 00:16] niklas-ourmachinery commented on #4257
Got it! Thank you!

[2019-09-17 00:16] #4257 closed, assigned to nobody

[2019-09-17 00:27] ThadHouse opened #4259 "Mark usages of deprecated classes and members"
With the C++ standard now supporting an official deprecation attribute, it would be nice if the VS Code extension would detect usages of items with these attributes, and either strike them out or dim them, like other language extensions do.

[2019-09-17 01:43] GaurangTandon commented on #4252
@sean-mcmanus I am sorry but I do not know how to do that. Could you please explain how to?

[2019-09-17 02:26] sean-mcmanus commented on #4246
We'll try to investigate (might take a few day since we're trying to get a 0.26.0-insiders out)…

I see a bug fix "in the pipeline" involving enable_if, so that might fix this (not sure yet).

[2019-09-17 02:32] sean-mcmanus commented on #4252
What compiler are you using?

[2019-09-17 03:46] radionerd commented on #429
Thanks Bob, I still have lots more to learn. Please keep the advice coming  :-)

[2019-09-17 06:51] GaurangTandon commented on #4252
I am using `gcc 7.4.0`.

[2019-09-17 06:52] Gavin-Williams commented on #4250
Yes, that's it thank you. And i see I can use forward slash, so that's preferable for me.

[2019-09-17 06:52] #4250 closed, assigned to nobody

[2019-09-17 07:58] Holo-Viktor opened #4261 "Peek/Go To Definition finds same definitions multiple times"
Issue Type: Bug

I have a multi-root project with one of the root folder being a subfolder of the other (main) root folder. (because there is no way to focus or pin folders right now)
I'm not sure if this is causing the problem but Go To Definition always shows the multiple peek view because it finds the same definitions twice.

VS Code version: Code 1.38.1 (b37e54c, 2019-09-11T13:35:15.005Z)
OS v

[2019-09-17 10:10] opensw commented on #4229
OK, I have tried many options but only the above workaround seems to work.

Another question, is it possible during debug from Visual Studio Code to see the content of a QString, QSet, QHash, std::string and more like in Qt Creator or Visual Studio?

[2019-09-17 10:12] heartacker opened #4262 "C/C++ Find All Reference can't ignore the excluded folders"
I have exclude one  folder(/files) of my workspaceFolder,
    "files.exclude": {
        "**/Boards/": true
    },
but the "find all references" still show the refs of  code in the exclude folder.

[2019-09-17 13:08] SergeyIcool commented on #2506
It will help us a lot!)

[2019-09-17 14:26] vegerot commented on #805
Is this true?  Looking at the terminal output before debugging I see

`arch -arch x86_64 '/Users/maxcoplan/.vscode-insiders/extensions/ms-vscode.cpptools-0.25.1/debugAdapters/lldb/bin/lldb-launcher' --unix-socket=/tmp/fWQ1kx --arch=x86_64 --working-dir '/Users/maxcoplan/Documents/workspace/C' --disable-aslr --  '/Users/maxcoplan/Documents/workspace/C/hello' ; echo Process exited with status $? ; e

[2019-09-17 17:49] pieandcakes commented on #4229
@opensw Are you talking about visualization? If so, you can either use `gdb`'s pretty printing and write a python pretty printer or try using [`natvis`](https://docs.microsoft.com/en-us/visualstudio/debugger/create-custom-views-of-native-objects?view=vs-2019). If you have the `.natvis` file that comes with Visual Studio, you can specify it in `launch.json` using `visualizerFile`.

[2019-09-17 17:51] pieandcakes commented on #805
@vegerot we aren't sending that command string. I suspect that might be VSCode.

[2019-09-17 17:52] moojek opened #4263 "Code formatter doesn't see what macro expands to"
The title might be confusing but the problem is very simple. For example if I have a macro function `#define FE(i, a, b) for (size_t i = a; i < b; i++)` and I've set my code formatter to format 'for' loops like:
[code]
when I use my macro it gets formatted to:
[code]
Bracket goes to the next line when it isn't supposed to

[2019-09-17 18:00] vegerot commented on #805
Or it could be macOS.  Given that whenever you open a binary executable from Finder (for example), it will also append `; exit;` to it

[2019-09-17 18:07] vegerot commented on #805
@KristupasSavickas @pieandcakes @kurienmathew another option is to go to Terminal Preferences>Profiles>[default profile]>Shell>When the shell exits: and change it to "Don't close the window".

My preferred solution would be deleting the appended `; exit;`, but this is a viable workaround

[2019-09-17 18:49] sean-mcmanus commented on #4261
Yeah, multi-root where one folder is a subfolder of another has many known problems. We plan to re-write our multi-root support "correctly" in the next few months.

[2019-09-17 19:01] sean-mcmanus commented on #4262
It should work if you remove the "/" from the end of your exclusion pattern.

Using "/" in your pattern causes our code to treat the pattern like a file exclusion instead of a folder exclusion (which could be a bug), and by default, file-based exclusions are disabled for our language service features due to the performance impact -- you could also change the C_Cpp.exclusionPolicy to checkFilesAndF

[2019-09-17 19:11] sean-mcmanus commented on #4263
This is "by design" with clang-format. Can you set ForEachMacros: [ 'FE' ]? If that doesn't work, what is the exact settings you're using to control line breaking?

[2019-09-17 19:25] sean-mcmanus commented on #4252
You can try using -Wconversion -- see https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html .

warning: conversion to 'long long int' alters 'double' constant value [-Wfloat-conversion]
warning: conversion to 'int' from 'long long int' may alter its value [-Wconversion]

We're tracking warning support with IntelliSense at https://github.com/microsoft/vscode-cpptools/issues/828 .

[2019-09-17 20:01] moojek commented on #4263
Okay, that worked, thanks for help :)

[2019-09-17 20:01] #4263 closed, assigned to nobody

[2019-09-17 20:31] CfirTsabari opened #4264 "Unable to open cpp file when debugging"
Type: Debugger

**Describe the bug**
- OS and Version:
OS Name:                   Microsoft Windows 7 Ultimate
OS Version:                6.1.7601 Service Pack 1 Build 7601
- VS Code Version:
1.38.1
b37e54c98e1a74ba89e03073e5a3761284e3ffb0
x64
- C/C++ Extension Version:
Version 0.25.1: August 28, 2019
- GCC version
g++ (GCC) 9.1.0
- gdb version
GNU gdb (GDB) 8.2.1

When debugging an exe created by

[2019-09-18 01:40] #4252 closed, assigned to nobody

[2019-09-18 03:54] sean-mcmanus commented on #4251
Thanks for reporting this. I've filed a bug with VS at https://developercommunity.visualstudio.com/content/problem/737747/cc-intellisense-error-type-not-found-when-a-global.html .

[2019-09-18 07:00] opensw commented on #4229
I have tried this natvis https://raw.githubusercontent.com/qt-labs/vstools/dev/src/qtvstools/qt5.natvis.xml but without success.

My launch.json

[code]

[2019-09-18 09:53] lgmcode opened #4265 "stdout of target program is streamed to debug console instead of terminal"
Type: Debugger

**Describe the bug**
- OS and Version: Ubuntu 16.04.1
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): CMake-0.0.17
- A clear and concise description of what the bug is.

I'm doing remote debugging on Ubuntu 16.04 for a target board running qnx7, everything works well, except that the stdo

[2019-09-18 13:14] fpanjevic opened #4266 "Breakpoints hit in files with identical file names"
Type: Debugger

**Describe the bug**
- OS and Version: Linux x64 4.15.0-60-generic
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1

Breakpoints placed in one file will be hit in all files within the source tree as long as they have the identical file name as the file containing the breakpoint (but not the same dir path).

**To Reproduce**
1. Create a source tree with two files with ide

[2019-09-18 13:18] mahsoommoosa42 opened #4267 "MAP_ANO"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Additional contex

[2019-09-18 13:21] mahsoommoosa42 opened #4268 "MAP_ANONYMOUS undefined"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Pop! OS 19.04
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- A clear and concise description of what the bug is.
When I use define in linux header files MAP_ANONYMOUS. it is reported as undefined but, it compiles with GCC.

**To Reproduce**

**Expected behavior**
Consider this function
[code]
![image](https://user-ima

[2019-09-18 15:41] gentooise opened #4269 "Cannot properly set Include and Defines with third-party compilers"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 (Windows_NT x64 10.0.17763)
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- It does not seem possible to use `compileCommands` plus other global includes/defines taken from `includePath` and `defines` properties respectively.

I'm using a third-party compiler (ARM) which has its own includes and defines, but

[2019-09-18 17:39] pieandcakes commented on #4229
Can you show me what you are expecting and what you are seeing?

[2019-09-18 17:45] CfirTsabari commented on #4269
hi,
try to change this:
            "includePath": [
                "\"C:\\Program Files (x86)\\ARM_Compiler_5.06u4\\include\""
            ]
to this:
            "includePath": [
                "\"C:\\Program Files (x86)\\ARM_Compiler_5.06u4\\include\\**\""
            ]

[2019-09-18 18:46] sean-mcmanus commented on #4267
I'm closing this, since there doesn't appear to be any valid info...looks like the issue got reported at https://github.com/microsoft/vscode-cpptools/issues/4268 .

[2019-09-18 18:46] #4267 closed, assigned to nobody

[2019-09-18 19:01] sean-mcmanus commented on #4268
I have it defined at /usr/include/x86_64-linux-gnu/bits/mman-linux.h, but its usage is dependent on a bunch of system defines that you might be missing. Can you do a C/C++: Log Diagnostics command and/or open the file where MAP_ANONYMOUS is defined and look which defines are missing? Providing your gcc version may also help.

[2019-09-18 19:06] mahsoommoosa42 commented on #4268
Yeah my bad. I had missed a define. Thanks anyway.

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Sean McManus <notifications@github.com>
Sent: Thursday, September 19, 2019 12:31:11 AM
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: mahsoommoosa42 <mahsoom_m@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vsc

[2019-09-18 19:10] #4268 closed, assigned to nobody

[2019-09-18 19:45] sean-mcmanus commented on #4269
@CfirTsabari Using "**" with system includes is not recommended because the ordering may not be correct. If subfolders are required, it's better to just list them in the correct order.

@gentooise Our compiler only supports emulation of cl.exe, gcc, and clang, so it needs to be set to one of these modes.

It looks like our C/C++: Log Diagnostics command has a bug in the compile_commands.json scena

[2019-09-18 19:54] sean-mcmanus commented on #4269
Actually, it looks like the arm compiler should be "the same" as gcc. Can you check what error occurs when you specific that compiler as the compilerPath? Is our mechanism for querying the compiler for system includes and defines failing? [enabling debug logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) might give better failure info.

[2019-09-18 19:56] sean-mcmanus commented on #4269
Is the ARM compiler you're using publicly available for us to try out?

[2019-09-18 20:26] sean-mcmanus commented on #4269
Also, we don't have the proper flags/settings enabled to give 100% correct results for ARM -- specifically we need to add intelliSenseMode's for gcc-arm, gcc-arm64, clang-arm, clang-arm64, windows-arm, windows-arm64 support. I should file a new issue to track that: https://github.com/microsoft/vscode-cpptools/issues/4271

[2019-09-18 20:31] sean-mcmanus opened #4270 "C/C++: Log Diagnostics shows incorrect defines when compile_commands.json is used"
It shows the c_cpp_properties.json defines.

Originally reported at https://github.com/microsoft/vscode-cpptools/issues/4269 .

[2019-09-18 20:34] sean-mcmanus opened #4271 "Add support for arm and arm64 intelliSenseModes"
This is semi-separate from the other issues tracking our extension running on ARM machines, i.e. this is for whenever the user's code is built to target arm.

intelliSenseModes would be gcc-arm, gcc-arm64, clang-arm, clang-arm64, windows-arm, windows-arm64 .

Originally reported at https://github.com/microsoft/vscode-cpptools/issues/4269 .

[2019-09-19 02:18] yutotsukishima opened #4273 "Enter key does not jump to the definition when "Go to definition" has multiple results"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro 1809 x64 2019-03B
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): disabled all
- A clear and concise description of what the bug is.
When there are multiple results with "Go to definition" search, "Press Enter Key" does not

[2019-09-19 02:52] sean-mcmanus commented on #4273
I don't understand the issue -- using the Enter key is working for me -- it goes to the definition of the selected item. Can you add a screenshot that shows the problem?

[2019-09-19 03:49] yutotsukishima commented on #4273
It was working a few days ago before VSCode 1.38.1 updates? I will try to go back to the previous version later.
The Enter key does not work in this situation.
![go_to_definition](https://user-images.githubusercontent.com/41064866/65211905-385fb480-dadb-11e9-8d8e-4d455b89f8e1.jpg)

The Enter key works if I select the gray colored item.
![go_to_definition2](https://user-images.githubusercontent.com

[2019-09-19 04:50] yutotsukishima commented on #4273
I installed the previous version of VSCode 1.37.1(user setup) and the Enter key is working.

I tried to disable all the setting in settings.json and keybindings in keybindings.json with 1.38.1 but still not working.

[2019-09-19 05:02] ranolfi opened #4274 "Problems with the global 'c_cpp_properties.json' file on Linux"
Type: General

- OS and Version: **Arch Linux**
- VS Code Version: **Code-OSS 1.37.1**
- C/C++ Extension Version: **0.25.1**

On a newly-installed VS Code setup with the C/C++ extension, I was having problems with all my C++ files because the extension could not find the stdlib headers. I tried clicking the lightbulb option to edit the `IncludePath` setting, but the message "_Open a folder first t

[2019-09-19 06:13] lizhijian-cn commented on #3353
just like [this](https://github.com/Microsoft/vscode-cpptools/issues/1527#issuecomment-396475330)

[2019-09-19 07:01] opensw commented on #4229
Hello there, what is showed is here https://imge.to/i/v4SA00. If I specify in launch.json like above

[code]

it does not change anything.

What I am expected to see it is "Hello World" string like described by

[code]

It is like the nativis is not loaded.

[2019-09-19 10:24] DeadRabbits307 opened #4275 "Adding support for reading out file content into c_cpp_properties.json"
Like U-Boot many SW projects create a toplevel` .config` file before running `make all` to build the binary. In such a `.config` file, defines/configurations are listed which are used in source codes for `#ifdef`s which cause the intelisense to colorize inactive regions.

Therefore, it would be useful to be able to fill the `"defines"` under `"configurations"` in the `c_cpp_properties.json `with t

[2019-09-19 10:52] gentooise commented on #4269
Ok, is it only an aesthetic problem then?

I understand. I will try ASAP and let you know, but I do not understand some details of the expected output format (`search starts here:`, `^<...^>`?). Could you directly give me an output example for the script?

Unfortunately not, ARM Compiler is not the same as GCC, it is a commercial compiler that has its own includes, macros, and command line argumen

[2019-09-19 11:53] PDostalek commented on #4210
thanks

[2019-09-19 11:53] #4210 closed, assigned to nobody

[2019-09-19 11:57] PDostalek commented on #4209
thanks

[2019-09-19 11:57] #4209 closed, assigned to nobody

[2019-09-19 12:02] #4207 closed, assigned to nobody

[2019-09-19 12:04] PDostalek commented on #4205
ok, thanks

[2019-09-19 12:04] #4205 closed, assigned to nobody

[2019-09-19 12:05] PDostalek commented on #4203
ok, thanks

[2019-09-19 12:05] #4203 closed, assigned to nobody

[2019-09-19 12:08] PDostalek commented on #4202
perfect, thanks

[2019-09-19 12:08] #4202 closed, assigned to nobody

[2019-09-19 12:13] PDostalek opened #4276 "[loc][Query][vscode-cpptools] Localizability of nativeStrings.child_exec_failed"
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Child exec failed {0}

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
What does the placeholder {0} stand for? Name of the child process? Shouldn't it be before the word 'failed' then?

[2019-09-19 15:50] gentooise commented on #4269
Yes it is failing because it seems to switch to MinGW GCC. This is the output of Log Diagnostics:
[code]

As you can see, it assumes that the compiler is MinGW GCC, and takes in all its include paths.

Anyway, I enabled debug logging but I don't see any output difference, please tell me where to find debug logs (if any).

[2019-09-19 15:59] gentooise commented on #4269
I tried also this, and I got the same result as above (same Log Diagnostics), except for the line:
`    "compilerPath": "${workspaceRoot}/.vscode/compile.bat",`

where compile.bat contains the following:
[code]

[2019-09-19 17:05] dtmoodie commented on #638
Same problem, qtcreator has no issues, so this is vs code specific.

[2019-09-19 18:13] Colengms commented on #4276
In this case, the placeholder is an error code.

[2019-09-19 18:15] pieandcakes commented on #4229
Can you enable [engine logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-debug-adapter) and see if it is passed in with the proper path? It should be at the top of the log in a block of xml.

Also, the image link does not open (it says the server is offline).

[2019-09-19 19:41] sean-mcmanus commented on #4275
What is the format of the .config file? `var=val` , `"var=val"`, or `#define var val`? If it's valid C/C++ you could potentially add it to forcedInclude setting.

We're also working on a "make" configuration provider that might also be able to read the .config (if that's what "make" is setup to process when building).

[2019-09-19 19:51] sean-mcmanus commented on #4274
Yeah, setting C_Cpp.default.compilerPath would be good. The C_Cpp.default.* settings is how we support the "global c_cpp_properties.json" concept -- otherwise, it needs to be in the ${workspaceFolder}/.vscode folders (not ~/.vscode-oss or ~/.vscode). "/.vscode" probably means it thinks the ${workspaceFolder} is blank.

You should use the C/C++: Edit configuration command to create and edit c_cpp_p

[2019-09-19 22:10] ranolfi opened #4278 ""Run and Debug" and "F5" doesn't show the compilers detail in the API"
Type: General

- OS and Version: **Arch Linux**
- VS Code Version: **Code-OSS 1.37.1**
- C/C++ Extension Version: **0.25.1**

When we have a workspace folder open, in the Debug panel when clicking the Add Configuration option and then select _C++ (GDB/LLDB)_, some options with the same name are offered:

![image](https://user-images.githubusercontent.com/8507649/65284259-69f27300-db0f-11e9-9db6-86

[2019-09-19 22:10] sean-mcmanus opened #4279 "Find All References gives the wrong column and omits multiple references on the same line for string and comment references"
It would only give the location of the start of the string or comment on the line and wouldn't report multiple occurrences on the same line.

The bug became more noticeable with our pending Rename.

[2019-09-19 22:18] ranolfi opened #4280 "Extension does not create 'tasks.json' unless the '.vscode' directory already exists"
Type: General

- OS and Version: **Arch Linux**
- VS Code Version: **Code-OSS 1.37.1**
- C/C++ Extension Version: **0.25.1**

When I open a folder in VS Code that does not yet have a `.vscode` folder in it, and follow the steps to create a configuration file for debugging (as outlined in #4278), the extension creates the file `launch.json` inside a newly-created `.vscode` folder, but it does not c

[2019-09-19 22:25] ranolfi commented on #4274
A lot of files I just want to inspect C++ source files without creating a workspace for them... that's my use case in this issue report. But it's all good, by setting `C_Cpp.default.compilerPath` I got rid of the error squiggles under the standard library header `#include`s.

[2019-09-19 22:37] jimying commented on #429
+1
need support  armhf for old pi  & arm64 for pi4

[2019-09-19 23:41] sean-mcmanus commented on #4280
Yeah, we should probably do a bug cleanup pass on the build tasks stuff we added a few months ago...I'm not sure yet when we'll have time on our schedule. The build/tasks stuff is in our open source TypeScript if anyone wants to investigate a fix themselves.

[2019-09-20 00:09] sean-mcmanus commented on #4273
We have no control over the UI -- can you report this bug to VS Code at https://github.com/microsoft/vscode/issues? Or I could move this bug over there myself if you want.

Our extensions just sends back an array of locations for results.

I think I repro the bug now -- Enter isn't working for the definition that is currently visible (i.e. first selected).

[2019-09-20 00:50] sean-mcmanus commented on #4269
Yeah, the defines being incorrect is a bug in the logging output.

The `^<` is just to escape the `<` so the output should not contain the `^` but otherwise should appear the same -- you may need to escape other characters though too.

If you're using CMake and the CMake Tools extension, you would probably get better results if you set the configurationProvider setting and not the compileCommands

[2019-09-20 04:24] DeadRabbits307 commented on #4275
The .config file has following format:
`CONFIG_DISPLAY_BOARDINFO=y`
`# CONFIG_DISPLAY_BOARDINFO_LATE is not set`

Because this file is used to generate an autoconf.h containing C-style defines, I can use the forcedInclude setting.

For information: [This](https://stackoverflow.com/questions/32991627/ide-with-kconfig-support) helped me and as you can see, for the KDevelop IDE there seems to be some

[2019-09-20 08:48] gentooise commented on #4269
Got it, thanks.

I'm probably not using the CMake Tools extension correctly, because I get this when opening cpp files:
![image](https://user-images.githubusercontent.com/1735060/65309527-90a2bf00-db8c-11e9-9410-85379961e543.png)
How does CMT get info from compile_commands.json? It reads the file directly from the current build directory? Or I have to copy it inside .vscode folder? (Consider I hav

[2019-09-20 08:55] giantmustache commented on #4178
I am experiencing a similar issue where I am using the QNX compiler, which requires %QNX_HOST% to be set. For our environment variables we are using `activate.bat` coming from conan.

It is necessary to have QNX_HOST in the environment. Otherwise the gcc compiler cannot be queried for include paths.

It would be nice if I can set this setting in my `c_cpp_properties.json` in the workspace.

As a w

[2019-09-20 08:59] swq123459 commented on #4178
Look forward together

[2019-09-20 09:52] rlivings39 commented on #3324
Thanks @WardenGnaw !

[2019-09-20 10:04] opensw commented on #4229
Now the image should be fine https://imgur.com/a/goXNO6n

I did not find error about natvis into the log.

[code]

[2019-09-20 10:20] PDostalek opened #4285 "[loc][Query][vscode-cpptools] Localizability of lowercased strings"
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Since this string starts with a lower case letter, will it be preceded (and/or followed) by anything? If yes, please provide the complete string.

This also applies to the following ResIDs:
0; "dist/src/Debugger/configurationProvi

[2019-09-20 10:27] PDostalek opened #4286 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.offering_completion""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Offering completion

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Does this mean that an offering is being completed or that a completion is being offered?

[2019-09-20 10:41] gentooise commented on #4269
UPDATE: I'm going on with the batch script strategy and I noticed that also parenthesis need to be escaped with `^`. Right now I have the following situation (which is **partially** working).

c_cpp_properties.json:
[code]

compile.bat:
[code]

I get the following Log Diagnostics:
[code]

I think this is really close to be solved, but I still see the following issues:

1. The include path is corre

[2019-09-20 12:22] KareemMAX commented on #805
@vegerot how do I find this option in Windows?

[2019-09-20 12:35] PDostalek opened #4287 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/packageManager.error.from""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Error from {0}

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
What will the placeholde be replaced with?

This also applies to this ResID:
0; "dist/ui/settings.html.intellisense.configurations.description3"

[2019-09-20 12:40] PDostalek opened #4288 "[loc][Query][vscode-cpptools] Localizability of 0; "package.c_cpp.configuration.autocomplete.description""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Controls the auto-completion provider. "Default" uses the active IntelliSense engine. "Disabled" uses the word-based completion provided by Visual Studio Code.

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Are the

[2019-09-20 12:41] PDostalek opened #4289 "[loc][Query][vscode-cpptools] Localizability of 0; "package.c_cpp.configuration.workspaceParsingPriority.description""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Controls whether parsing of the non-active workspace files uses sleeps to avoid using 100% CPU. The values highest/high/medium/low correspond to approximately 100/75/50/25% CPU usage.

File Name:
Src\vscode-extensions\cppt

[2019-09-20 12:45] PDostalek opened #4290 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/Debugger/configurationProvider.replacing.sourcepath""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Replacing {0} '{1}' with '{2}'.

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
In order to determine gender, please clarify what variable {0} will be replaced with. Thanks.

[2019-09-20 12:46] PDostalek opened #4291 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/Debugger/ParsedEnvironmentFile.ignoring.lines.in.envfile""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Ignoring non-parseable lines in {0} {1}:

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
In order to determine gender, please clarify what the placeholder {0} will be replaced with. Thanks.

[2019-09-20 12:55] PDostalek opened #4292 "[loc][Query][vscode-cpptools] Localizability of 0; "package.c_cpp.debuggers.miDebuggerArgs.description""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Arguments for the mi debugger (such as gdb) to use. When unspecified.

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Please confirm if something is missing after " When unspecified." or if the sentence should be "A

[2019-09-20 14:24] gentooise commented on #4269
UPDATE2: I made another step forward on issue 1 above:

- I added `#define __declspec(x)=` to the `compile.bat`. This missing define was causing IntelliSense to get errors while parsing `string.h` ARM compiler header;
- I tried a `Reset IntelliSense Database` (suggested [here](https://github.com/Microsoft/vscode-cpptools/issues/2601#issuecomment-508797104)), not sure if this helped.

In general I

[2019-09-20 15:28] anatolyburakov opened #4293 "Compile database does not include force-included files"
Issue Type: <b>Bug</b>

We have a codebase that is similar to Linux kernel in that it force-includes a specific header file with every file. This is reflected in the compile database as well:

[code]
(note the `-include rte_config.h` in the command-line)

Yet, whenever i open the file, i get an error about pointers to incomplete type, because

1) At the start of the file, there's an `#ifdef` which

[2019-09-20 17:03] callumdmay commented on #1786
Was there ever a solution to this issue? Seems like the answer above is for gdb and not cppvsdbg. The truncation is a real issue when trying to copy long strings or byte arrays in the local variables list

[2019-09-20 18:00] Colengms commented on #4285
0; "dist/src/Debugger/configurationProvider.path.to.pipe.program" - This string is a text field placeholder.  It's initial text intended to be replaced by the user.

0; "dist/src/Debugger/configurations.enter.program.name" - This string is also a text field placeholder.  It's initial text intended to be replaced by the user.

0; "dist/src/LanguageServer/client.a.compile.commands.file" - This strin

[2019-09-20 18:38] Colengms commented on #4286
In this case, completion is a noun.  A 'completion' is being offered.

[2019-09-20 18:41] Colengms commented on #4287
In the case of "Error from {0}", the placeholder will be a filename.

settings.html.intellisense.configurations.description3 should no longest exist.  settings.html.intellisense.configurations.description (without the 3) contains a placeholder that will be replaced with a (link to a) filename.

[2019-09-20 18:43] Colengms commented on #4288
"Default", "Disabled", and "Tag Parser" should remain in English.  "fuzzy" is not an option name, and could be localized.

[2019-09-20 18:46] Colengms commented on #4289
The numbers in this string (25%/50%/75%/100%) can be localized if there is a preferred alternative concept in another language.  "highest", "high", "medium", and "low" are settings values, and should remain in English.

[2019-09-20 18:48] Colengms commented on #4290
In this case, {0} is essentially referring to a variable, {1} is it's original value, and {2} is a replacement value.

[2019-09-20 18:50] Colengms commented on #4291
In this case, {0} refers to a type of file, and {1} refers to the file specifically.  i.e. Ignoring non-parseable lines in envFile TestEnvFileName

[2019-09-20 18:56] Colengms commented on #4292
This is a description for a settings field.

However, the "When unspecified." doesn't make sense.  It looks incomplete.  @pieandcakes This is the original string.  Does this string need to be corrected?

[2019-09-20 18:58] sean-mcmanus commented on #4293
Thanks for reporting this bug. Our code that processes the command in compile_commands.json is only validating "rte_config.h" and "/home/anatoly/build/DPDK/rte_config.h", i.e. it doesn't try appending all the -I include paths to the rte_config.h to get the correct "config/rte_config.h"...i.e. we weren't aware that it was a possibility.

[2019-09-20 19:13] pieandcakes commented on #4292
I created a pull request to clear it up. This looks like a copy/paste issue when the string was created.

[2019-09-20 21:13] sean-mcmanus opened #4296 "Add support for parsing the non-recursive "*" in compilerPath output for .bat files"
See https://github.com/microsoft/vscode-cpptools/issues/4269 . Setting a .bat file that uses "*" for non-recursive includes doesn't work.

[2019-09-20 21:13] sean-mcmanus commented on #4269
The CMake Tools extension doesn't read compile_commands.json -- it reads the CMakeLists.txt (and/or the CMake cache files) directly.

Go to Def on `#include` doesn't use the IntelliSense include path and just queries the browse database (we have a bug tracking that).

You could try adding the folders to files.exclude (make sure it doesn't end with a "/", since we haven't shipped the fix for that c

[2019-09-20 21:55] vegerot commented on #805
🤷‍♂️
Does VSCode for Windows use cmd as its external editor?
https://www.itechtics.com/3-ways-to-prevent-command-prompt-from-closing-after-running-commands/
https://www.google.com/search?client=safari&rls=en&q=windows+cmd+don%27t+close+window&ie=UTF-8&oe=UTF-8

[2019-09-21 13:46] Lotherxuan commented on #3007
Really want to say thx to you! This really works out for my problem. Well I have to say the problems that Chinese characters in a path cause really bother me, which enforces me (a Chinese windows user) to master English well...(or I have to thank microsoft for my progress in English? lol)

[2019-09-21 17:59] stewartmcgown commented on #4268
@mahsoommoosa42 would you care to share the define that you were missing? I can right-click MAP_ANONYMOUS and it brings me to the definition, but vscode still shows it as undefined!

![image](https://user-images.githubusercontent.com/1136276/65377275-eb7a0a80-dca1-11e9-8629-321325eacb60.png)

Is it due to Vscode not having __USE_MISC defined when searching for headers?

[2019-09-21 18:02] mahsoommoosa42 commented on #4268
It was GNU_SOURCE

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Stewart McGown <notifications@github.com>
Sent: Saturday, September 21, 2019 11:30:09 PM
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: mahsoommoosa42 <mahsoom_m@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vscode-cpptools] MAP_ANONYMOUS u

[2019-09-22 00:36] venuur opened #4300 "[C] Incorrect error: array size parameter"
Issue Type: <b>Bug</b>

1. Enter the following into a new file `bug.c`.

[code]

2. Actual outcome: argc in the second parameter of main is highlighted in red underscore.as if it were an error.

3. Expected outcome: no error should be highlighted as the code is correct.

Extension version: 0.25.1
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS v

[2019-09-22 13:19] gsittyz commented on #2854
@pieandcakes
Is there any updates on this? I reproduced this issue on:
- mac OS Mojave 10.14.6 (18G95)
- VS Code Version: 1.38.1
- Other extensions you installed (and if the issue persists after disabling them): all other extensions disabled

[2019-09-22 17:41] comiluv opened #4301 "Auto format incorrectly formats text"
**Type: LanguageService**

**Describe the bug**
- OS and Version: windows 10
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): none
- A clear and concise description of what the bug is.
C auto formatter formats `while (getchar() != '\n');` to become
[code]

**To Reproduce**

1. Select Language Mode C
2. Ty

[2019-09-22 20:33] jryans opened #4302 "Frequent IntelliSense crash on macOS"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS 10.14.6
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1

IntelliSense indexing seems to crash regularly for me. Here's an example stack trace:

<details>
<summary>Stack trace</summary>
<pre>
0   Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin	0x0000000100295a5b add_symbol_to_overload_list + 539
1   Microsoft.VSCode.C

[2019-09-23 02:51] renkun-ken opened #4303 "Automatic inserting comment symbols in new line"
I'm writing C++ code via Rcpp. Comments starting with `//'` are converted to documentation by `roxygen` tools. It would be very convinient to have `//'` inserted in the beginning of a new line if the previous line is also a comment like this.

[code]

I notice that auto-inserting `/** **/` notation is already supported (can be used by doxygen) but is it possible to generalize the feature so that `

[2019-09-23 03:20] xgdgsc commented on #3169
I also hope it would auto completion in the middle. But considering how vscode repo likes to lock issues , I don' t know what to do.

[2019-09-23 07:49] PDostalek commented on #4292
Thanks for correction

[2019-09-23 07:49] #4292 closed, assigned to pieandcakes

[2019-09-23 07:53] PDostalek commented on #4291
Thanks!

[2019-09-23 07:53] #4291 closed, assigned to nobody

[2019-09-23 07:55] PDostalek commented on #4290
Thank you for clarification

[2019-09-23 07:55] #4290 closed, assigned to nobody

[2019-09-23 07:59] PDostalek commented on #4289
Perfect, thx.

[2019-09-23 07:59] #4289 closed, assigned to nobody

[2019-09-23 08:01] PDostalek commented on #4288
Thanks

[2019-09-23 08:01] #4288 closed, assigned to nobody

[2019-09-23 08:07] PDostalek commented on #4287
Many thanks

[2019-09-23 08:07] #4287 closed, assigned to nobody

[2019-09-23 08:12] PDostalek commented on #4286
THanks

[2019-09-23 08:12] #4286 closed, assigned to nobody

[2019-09-23 08:32] PDostalek commented on #4285
Excellent, thanks for creating issue regarding loc hints. Closing this bug for now.

[2019-09-23 08:32] #4285 closed, assigned to nobody

[2019-09-23 09:18] anatolyburakov commented on #4293
@sean-mcmanus not sure i follow. there aren't multiple `rte_config.h` files as far as i'm aware - there's only one, in `config/rte_config.h`. If you meant `rte_build_config.h`, then that is only ever present in the build tree but not the source tree, so there aren't two copies of that either (and it's included by `config/rte_config.h`, so there's no need to force-include it).

[2019-09-23 09:45] PDostalek opened #4304 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/Debugger/ParsedEnvironmentFile.ignoring.lines.in.envfile""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Ignoring non-parseable lines in {0} {1}:

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Please confirm what wil replace the placeholders.

[2019-09-23 09:46] PDostalek opened #4305 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.define_label""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
define: {0}

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Is "define" localizable here? Thanks.

[2019-09-23 09:50] smwikipedia opened #4306 "Jump to macro definition failed when expanding macros with length around 2400."
**Type: LanguageService**

**Describe the bug**
- OS and Version:
Windows 10 Version 1709

- VS Code Version:
Version: 1.38.1 (user setup)
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:35:15.005Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.16299

- C/C++ Extension Version:
0.25.1

- Other extensions you installed

[2019-09-23 10:07] phanthaiduong22 commented on #1527
https://imgur.com/a/dzySuvV

I just install Window yesterday so Beta: Unicode UTF-8 for worldwide language support was already disabled.  But when i debugging i still can't type in terminal my input( like image i want to type a,b but it doesn't work.

OS: win10 pro
Version: 1.38.1 (user setup)
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:35:15.005Z
Electron: 4.2.10
Chrome:

[2019-09-23 10:16] PDostalek opened #4307 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/ui/settings.html.limit.symbols" #4204"
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Defines

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Is "Defines" localizable here? Thanks.

[2019-09-23 10:17] PDostalek opened #4308 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.other_label""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
other: {0}

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Please explain "other" here. Thanks.

[2019-09-23 10:19] PDostalek opened #4309 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.discovery_files_processed""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Discovering files: {0} file(s) processed

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
What will {0} be?
Assuming numbered placeholder

[2019-09-23 10:20] PDostalek opened #4310 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/packageManager.downloading.progress.description""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Downloading {0}: {1}

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
What will {0} and {1} be?

[2019-09-23 10:22] PDostalek opened #4311 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.include_label""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
include: {0}

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Is "include" localizable in this string? Thanks.

[2019-09-23 10:23] PDostalek opened #4312 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.tag_parsing_file""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
tag parsing file: {0}

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
What will {0} be?

[2019-09-23 10:24] PDostalek opened #4313 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/ui/settings.html.compiler.path.description1""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
The full path to the compiler you use to build your project, e.g. {0}, to enable more accurate IntelliSense.

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
What will {0} be?

[2019-09-23 17:34] pieandcakes commented on #2854
@gsittyz I suspect this is similar to `gdb` where the issue is in the debugger. I haven't had time to investigate but I suspect it is something that is going to need to be fixed in `lldb`.

[2019-09-23 17:38] pieandcakes commented on #1527
The UTF8 issue is not the issue you are running into @phanthaiduong22. It looks like its waiting for input but i don't see you typing anything in the terminal. You can also try `"externalConsole": true` to see if that provides the experience you are looking for. It might be clearer if you first `cout` something so you can see it in the terminal window.

[2019-09-23 20:51] spinicist opened #4315 "Debugger can't load Intel MKL dylib (but executable runs fine on command-line)"
Type: Debugger

**Describe the bug**
- OS and Version: MacOS 10.14.6, XCode 11.0
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): CMake, CMake-Tools

I have a project that uses the Intel MKL. Up until today I could debug the executable quite happily. Now when I try to debug I get the following output:

[c

[2019-09-23 21:08] bobbrow commented on #4293
What @sean-mcmanus means is that when dealing with relative paths we are only looking in the folder specified by `"directory"`.  We also need to look in the paths specified in the `"command"`.

[2019-09-23 22:05] Colengms commented on #4304
I believe this string was addressed previously by: https://github.com/microsoft/vscode-cpptools/issues/4291

In this case, {0} refers to a type of file, and {1} refers to the file specifically. i.e. Ignoring non-parseable lines in envFile TestEnvFileName

[2019-09-23 23:34] Colengms commented on #4305
In this case, the placeholder refers to a "#define" or C/C++ preprocessor definition.  This string is used in log output, in which a list of #define's are logged.  Whether or not it _should_ be localized, or kept as the English string (directly referring to the C++ keyword 'define').  I'm not certain.  For now, I suggest we localize it, as we have done so for most languages already.

[2019-09-23 23:37] Colengms commented on #4307
Same answer as: https://github.com/microsoft/vscode-cpptools/issues/4305
It's not 100% clear to me.  How do people refer to C/C++ "defines" and "includes" in other languages?  Existing documentation for Visual Studio might provide us with a precedence for that decision.

[2019-09-23 23:38] Colengms commented on #4311
Similar to: https://github.com/microsoft/vscode-cpptools/issues/4305
It's not 100% clear to me.  How do people refer to C/C++ "defines" and "includes" in other languages?  Existing documentation for Visual Studio might provide us with a precedence for that decision.

[2019-09-23 23:42] Colengms commented on #4308
The placeholder here refers to a command line argument passed to the compiler.  We have various categories or compiler command line arguments.  (Such as defines, and includes).  "other" is used for misc comment line arguments that do not fall into other categories.

[2019-09-23 23:42] Colengms commented on #4309
Yes, the placeholder will be a number here.

[2019-09-23 23:43] Colengms commented on #4310
In this case, {0} will contain progress.  i.e. (50%).  And, {1} will contain a description of a package being downloaded.

[2019-09-23 23:44] Colengms commented on #4312
In this case, the placeholder will be a full path to a file.

[2019-09-23 23:47] Colengms commented on #4313
The placeholder will be a path to a compiler executable.  Specifically, in this case, the placeholder is an example and will always be: <code>/usr/bin/gcc</code>

When processing HTML, we turn any sub-nodes into placeholders so raw HTML does not appear in strings we hand off for loc.

[2019-09-24 00:01] Jasdriel commented on #4300
Hi @venuur, this is not a valid declaration in C++, when a 2D array is passed, the value of the second dimension, argc +1 in your case, must be known at compile time but the operation you are using will be know till run time.

[2019-09-24 00:31] venuur commented on #4300
I apologize. I was not clear. This is a C program, where such an expression is valid. Does this extension support C as well?

[2019-09-24 01:22] dbldippy commented on #2901
I also attach to a large remote GDB application. I see pages and pages of symbol requests (?):

[code]

Is there a way to scale-down debugging fidelity? For example, if you are not interested in the call stack you could just close the call stack view. Then vscode would not request call stack info from gdb. Analog, if you close the local variable view, symbol information would not be fetched, etc.

[2019-09-24 06:15] smwikipedia opened #4318 "Never-ending scrolling indicator in File Explorer"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
Windows 10 Version 1709

- VS Code Version:
Version: 1.38.1 (user setup)
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:35:15.005Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.16299

- C/C++ Extension Version:
0.25.1

- Other extensions you installed

[2019-09-24 08:27] Anoop-Goudar commented on #4273
Any updates on this ? Goto definition is not working in VScode 1.38.1

[2019-09-24 09:17] anatolyburakov commented on #4293
@bobbrow ah gotcha! yes, that makes sense. looking forward to when this gets fixed!

[2019-09-24 12:19] lincolnaleixo commented on #1184
Is this on insiders? How can we enable it?

[2019-09-24 13:41] gentooise commented on #4269
files.exclude seems enough as a workaround for now, thank you.

I added these lines to the `compile.bat`:
[code]
but cpptools now falls back to `gcc-x64`.

[2019-09-24 14:31] psclkhoury opened #4319 "Support trailing comma in c_cpp_properties.json arrays"
It's a small thing but is it possible to support a trailing comma at the end of a json array in c_cpp_properties?
My c_cpp_properties is generated by a script and then sorted so it would be easier if we can have trailing commas.

Thanks!

[code]

[2019-09-24 15:02] jin-qin commented on #3235
I got the same issue on Mac OS (10.14.6)

Here is the crash log.
[Microsoft.VSCode.CPP.Extension.darwin_2019-09-24-105103_Jins-MacBook-Pro.crash.log](https://github.com/microsoft/vscode-cpptools/files/3647862/Microsoft.VSCode.CPP.Extension.darwin_2019-09-24-105103_Jins-MacBook-Pro.crash.log)

**This issue started from version `0.22.0`, I have tested all versions since `0.22.0`, all of them have th

[2019-09-24 15:32] phanthaiduong22 commented on #1527
Actually, I typed a,b (ex: 3 4) in temminal in vscode . but nothing happened.

[2019-09-24 16:49] pieandcakes commented on #2901
@wauisaui If you want changes with VS Code's debug protocol behavior, you would need to request it with [VS Code](https://github.com/microsoft/vscode).

We need to list symbol lines to be able to correlate which source file line ties in with the stopping breakpoint. In the `0.26.0-insiders` coming this week, there will be [an option(https://github.com/microsoft/vscode-cpptools/pull/4194) to config

[2019-09-24 17:08] pieandcakes commented on #4315
Can you try adding a `"setupCommand"` with the text `"shell \"<insert your source command here\""`  and see if that solves the issue? We call Terminal and have it launch the debugger so if it the .rc file is not getting triggered the issue might be in that chain somewhere.

[2019-09-24 17:11] pieandcakes commented on #4266
This is a duplicate of #977

[2019-09-24 17:11] #4266 closed, assigned to nobody

[2019-09-24 17:14] pieandcakes commented on #4264
@CfirTsabari I don't know why your compiled symbol file has the wrong path. We get `\\c\\test\\tester.cpp` back from gdb and i assume that you need `c:` and not `\c\`.
You can try and set a `"sourceFileMap"` mapping `\c\` to `c:\` and see if that fixes your problem. Otherwise you'll have to see why your toolset is compiling the directory paths wrong into the symbols.

[2019-09-24 17:14] #4264 closed, assigned to pieandcakes

[2019-09-24 17:19] pieandcakes commented on #4265
You can change the filtering of stdout in the debug console by using the setting `"filterStdout": false` to see if you get output. I think by default its set to `true`

[2019-09-24 17:21] pieandcakes commented on #4240
can you post your launch.json with you using the `setupCommands` and an `engineLog`?

[2019-09-24 17:22] rhfiesta opened #4320 "Extension never get to work when open header but not open source file"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
win10 1901
- VS Code Version:
1.38.1
- C/C++ Extension Version:
0.25.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

1. open vscode with a c++ project path, c/c++ extension already installed
2. open one/more existing header file, extension ne

[2019-09-24 17:23] pieandcakes commented on #4239
@melhior61 we pass those on Windows to redirect the debuggee's output so that the externalConsole will work. If you want to disable it, you can set [`"avoidWindowsConsoleRedirection"`](https://code.visualstudio.com/docs/cpp/launch-json-reference#_avoidwindowsconsoleredirection) to true in your `launch.json`.

[2019-09-24 17:50] mbargiel commented on #4240
Hi @pieandcakes,

I initially had this in my launch config:
[code]
The custom formatters do get imported and loaded if I run `command source ~/.lldbinit` in the Debug console.

With "setupCommands":
[code]
(I also tried with an absolute path. No go.)

[2019-09-24 17:51] mbargiel commented on #4240
I have no idea what or where a `engineLog` is though.

Also, I just noticed that VSCode autocomplete just offered to use `"initCommands"` rather than `"setupCommands"` and that actually worked (i.e. replace "setupCommands" with "initCommands" in the second snippet above).

[2019-09-24 17:54] mbargiel commented on #4240
Soooo, I have a workaround now, but I guess this is one of those things that should **Just Work™️**, considering the LLDB documentation mentions that's precisely the way to execute custom LLDB commands, and this is respected by other IDEs. (In fact I'm pretty certain that used to work with VS Code as well, but I couldn't say when it stopped working... Perhaps I'm just misremembering.)

In any case

[2019-09-24 18:14] pieandcakes commented on #4240
@mbargiel I see the confusion. You are actually not using our extension. The `"type":` field tells me that you are using a different extension. Our `type` field for this extension is `cppdbg`. You may want to identify which extension you are using and post to their github repo.

Like you posted above you have another `lldb` extension installed and i suspect you are using their extension for debugg

[2019-09-24 18:24] mbargiel commented on #4240
Aaaaah, it would certainly help if I directed this to the right people. Thanks! And sorry for the confusion. I'll close this for now.

[2019-09-24 18:24] #4240 closed, assigned to pieandcakes

[2019-09-24 18:43] pieandcakes commented on #4240
We also provide debugging support but the configuration is different. Let me know if you need any other help.

[2019-09-24 20:47] Colengms commented on #3985
I think the issue here is that we're not waiting for the initial custom configuration from the config provider.  Currently, we kick off tag parsing, etc., right away, and need to restart them when the custom configuration becomes available.  If a header is opened before getting the configuration, and is outside of (default, non-custom config) browse paths, we consider it a system include.  We don'

[2019-09-24 21:32] sean-mcmanus commented on #3985
Yeah, that sounds good.

[2019-09-24 21:44] spinicist commented on #4315
Hello,

I added:

[code]

to my `launch.json`, but nothing changed. But I'm not sure I understood your instructions correctly - should I have added something else? I can't even tell if this `"setupCommand"` is being run. Is there any way to get the external debug terminal not to terminate after debugging is finished? That way I could run `env` and see what is there.

[2019-09-24 22:05] sean-mcmanus commented on #3007
@Lotherxuan We've recently started work on improving our "world readiness", with support for translated strings and non-English compilers coming soon.

But I'm still not able to repro this bug. Does anyone know what other special requirement is needed other than having Chinese characters in the the folder name? @Jasdriel Are you able to repro this?

[2019-09-24 22:15] GorNishanov opened #4323 "Auto-detect C++ type on extensionless headers based on the first line"
**Type: LanguageService**

**Auto-detect C++ type on extensionless headers based on the first line**
- OS and Version: Any
- VS Code Version: 1.38.1
- C/C++ Extension Version: Version 0.25.1

**To Reproduce**

1. Open up any file lacking an extension
2. Observe how it is not syntax colored without human intervention

**Expected behavior**

Standard C++ library and some open source libraries use ex

[2019-09-24 22:17] michelleangela commented on #4319
I think in order to support and parse trialing commas, [JSON5 ](https://json5.org/) is required.

[2019-09-24 22:30] sean-mcmanus commented on #4323
What should we check for exactly to trigger this? `- C++ -`? or `C++` or `-*- C++ -*-`. Is this documented somewhere on line?

We could check this and then call vscode.languages.setTextDocumentLanguage when opening the document.

[2019-09-24 22:31] michelleangela commented on #4303
You can try defining a pattern for the setting `C_Cpp.commentContinuationPatterns`.

Example:
[code]

In order for the next line to auto insert a `//'` you must type either a space or some character after the preceding or first `//'`

[2019-09-24 22:32] pieandcakes commented on #4315
@spinicist If you enable `engineLogging` you should see the messages we send to `gdb` and its response.

[code]

[2019-09-24 22:50] pieandcakes commented on #4255
Please post your `launch.json` and which platform you are on and any additional information. This is not enough information to act on. Per the message above, it looks like its stopping on a shared library load event.

You can try and change your `solib` event setting to not stop for `gdb`. A quick search online gives me this [document](https://visualgdb.com/gdbreference/commands/set_stop-on-solib-

[2019-09-24 22:50] #4255 closed, assigned to pieandcakes

[2019-09-24 23:02] sean-mcmanus commented on #3169
@xgdgsc You could create a new "feature request" in the vscode repo...or we could do that later.

[2019-09-24 23:03] sean-mcmanus commented on #4143
@JapanYoshi Your VS Code version may be too old to get the latest C/C++ extension version.

[2019-09-24 23:07] pieandcakes commented on #4243
@litist Can you enable [engineLogging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-debug-adapter) and see what gdb is returning as a message when we try and stop execution?

[2019-09-24 23:30] michelleangela commented on #4320
Can you provide:

- A copy of c_cpp_properties.json settings if you have one configured?
- Enable [logging for the language server ](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server) to log info when opening header files and source files, and then send the logs over?
- If available, a sample of header and source files that repros the issue?

[2019-09-24 23:39] Jasdriel commented on #4300
Got it, I reasearch I little and found out that that feature was in the c99 standard and that still exist for gcc compilers, so you can change the IntelliSense mode you would be using, I think by default is set to msvc-x64 that doesn't support all c99 standard features

[2019-09-25 00:02] GorNishanov commented on #4323
I think originally the convention came from Emacs: https://www.gnu.org/software/emacs/manual/html_mono/efaq.html#Associating-modes-with-files

So, anything in the first line that looks like:
`-*-` ... `c++` ...`-*-` will be treated as c++ header (case insensitive).

vim, emacs & github viewer seemed to support it.

[2019-09-25 01:19] renkun-ken commented on #4303
Thanks! This is exactly what I'm asking for.

[2019-09-25 01:19] #4303 closed, assigned to nobody

[2019-09-25 01:34] GorNishanov commented on #4323
Not sure if it helps, but, there was a commit to python extension's package.json in 2016 https://github.com/microsoft/vscode/blob/2f76c44632b0d47ba97f66fbc158c763628e30b3/extensions/python/package.json#L13

That added: `"firstLine": "^#!/.*\\bpython[0-9.-]*\\b",` that seems to be serving similar purpose, so maybe there is already an infrastructure in VSCode that support this kind of detection by t

[2019-09-25 01:47] lgmcode commented on #4265
@pieandcakes Thanks for your advice. I just tried to add `"filterStdout": false` to the remote debugging configuration in my `launch.json`, but saddly nothing is changed, the stdout stays where it was. I also tried to add `"filterStdout": false` to the local debugging configuration, still nothing different happened. It seems this setting has no effect. Am I still missing something?

[2019-09-25 05:57] Euruson opened #4325 "Can not input into the integrated terminal, nor get the output when debugging"
Issue Type: <b>Debugger</b>

Extension version: 0.25.1
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS version: Windows_NT x64 10.0.18362

The program can be successfully debugged with the external terminal. However with the integrated terminal, I can't get the output nor type anything in.

Here's my code:
[code]

And this is my `launch.json`:
[

[2019-09-25 07:31] zhiqiu commented on #2900
@Silmathoron I try to debug python code  which use c++ extension, like tensorflow. The problem is, breakpoint at cpp file does not work, would you please share more on that?

[2019-09-25 07:46] PDostalek commented on #4313
Thanks for clarifying

[2019-09-25 07:46] #4313 closed, assigned to Colengms