[2020-08-06 18:16] sean-mcmanus commented on #5914
Does the issue become fixed if you change "C_Cpp.formatting" to "clangFormat", "C_Cpp.clang_format_style" to "Emulated Visual Studio", and "C_Cpp.clang_format_fallbackStyle" to "Emulated Visual Studio"?

[2020-08-06 18:29] sean-mcmanus commented on #5906
View->Command Palette->C/C++ Log Diagnostics.
![image](https://user-images.githubusercontent.com/19859882/89568222-d5047100-d7d7-11ea-9e30-caecfb3df549.png)
And view the output window:
![image](https://user-images.githubusercontent.com/19859882/89568289-f1a0a900-d7d7-11ea-8cbc-b40b1f84266c.png)

[2020-08-06 18:36] sean-mcmanus commented on #5915
So it gives the "Failed to read response from server: 22" but it doesn't give the "failed to install successfully" message?

What is the OSS of the target machine that you're SSHing to? x64 Linux?

The "Failed to read response" means our cpptools-srv process is crashing. Does it crash with a simple .cpp file with just "int i;"? That would indicate that the process is missing or not runnable on you

[2020-08-06 18:38] sean-mcmanus commented on #5915
Also, does 0.29.0 not gives errors and 0.30.0-insiders gives errors?

[2020-08-06 18:50] sean-mcmanus commented on #4418
@andyp1per You could either disable the C/C++ extension or if you still want to use the debugger you could change the setting "C_Cpp.intelliSenseEngine" to "Disabled".

[2020-08-06 19:23] sean-mcmanus commented on #5812
@RinaAndRaven Are you seeing this issue fixed with 0.30.0-insiders?

I'm seeing this being fixed now -- I don't know why I was not seeing the fix yesterday (with the same project and settings). Maybe there's some particular scenario that still has an issue, but I don't know the repro requirements.

[2020-08-06 19:25] sean-mcmanus commented on #5828
Are you seeing this issue fixed with 0.30.0-insiders?

I'm seeing this being fixed now -- I don't know why I was not seeing the fix yesterday (with the same project and settings). Maybe there's some particular scenario that still has an issue, but I don't know the repro requirements yet.

[2020-08-06 19:30] milan-r-shah commented on #5843
Hi @sean-mcmanus ,

Thanks for your reply. Yes, currently, most of my projects use the same includes i.e. Eigen & PCL.

One thing that I have noticed is that in spite of putting all the includes in c_cpp_properties.json, *many times*, I get the following warning/error:
![Screenshot from 2020-08-06 13-43-37_cropped](https://user-images.githubusercontent.com/44414437/89571926-71d60700-d7f6-11ea-8d2f

[2020-08-06 19:54] gracicot commented on #5915
@sean-mcmanus It was from a MacOS machine, but the extension worked fine on that workstation. The Arch Linux machine had the non working extension, which kind of work right now.

I have some highlighting being displayed and auto completion, but I get multiple `Failed to read response from server` with many different numbers. This happens on both machines.

After some use time I got this in the con

[2020-08-06 20:22] Trass3r opened #5922 "Add to Watch"
The variables view should offer a context menu to add variables to the watch just like in VS.

[2020-08-06 20:26] sean-mcmanus commented on #5915
We have a known high hitting crash regression with 0.30.0-insiders with "open_primary_source_file(int)" on the call stack, so my guess is that is what you are hitting. Are you able to get a call stack for the crash, such as via attaching a debugger before it crash, using some Linxu core dump logger, or checking ~/Library/Logs/DiagnosticReports crash logging on Mac?

We do not yet have a repro yet,

[2020-08-06 20:29] DavidMunozGit commented on #657
I actually had to install Clang formatter and configure a file to use it with VSC because it wasn't doing  anything at all but well by the way I learn about it and I have it working now, thanks for the comments :)

[2020-08-06 20:32] bobbrow commented on #5621
Did you delete your `c_cpp_properties.json` or replace the contents of `browse.path` with `["${default}"]`?  `C_Cpp.default.browse.path` won't be used if it is overridden by some other value in `c_cpp_properties.json`

[2020-08-06 20:33] Trass3r commented on #168
This refers to the popup in the editor though, just like VS [DataTips](https://docs.microsoft.com/en-us/visualstudio/debugger/view-data-values-in-data-tips-in-the-code-editor#expand-and-edit-information) which offer even more functionality like adding expressions and [pinning](https://docs.microsoft.com/en-us/visualstudio/debugger/view-data-values-in-data-tips-in-the-code-editor#pin-properties-in-

[2020-08-06 21:02] zacharyvincze opened #5923 "Intellisense stops working minutes after creating and editing a new file."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 20.04 LTS
- VS Code Version: 1.47.3
- C/C++ Extension Version: v0.30.0-insiders
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- The workspace is a single, small project. When created a few new files, h

[2020-08-06 21:26] sean-mcmanus commented on #5923
Thanks for reporting this. I've reproed the crash (i.e. cpptools-srv is crashing). Investigating...

[2020-08-06 21:38] Colengms commented on #5849
Hi @Rasie1 .  Just to let you know, we are investigating performance with Unreal Engine projects.

In the log you provided, I see there are a lot of 'Error squiggles' being reported.

[code]

Are these expected?  You could be seeing issues due to the extension not being properly configured.  If the code compiles and the extension is configured correctly, you should not see any squiggles.  These er

[2020-08-06 22:05] dchichkov commented on #4418
Navigation is important. With cpulimit, the situation is manageble.  If it helps, this is what it is doing during that time:

[code]

[2020-08-06 22:10] Rasie1 commented on #5849
Hi! I'm so happy that you're actually investigating this!

I tried to fix some errors by adding include you mentioned and some "*.generated.h" from Intermediate folder, but it seems there are a lot of errors. I usually don't pay attention to them and look at compiler output.

I did some experiments again:
- some functions from my project files take 5-10 seconds even if I do them repeatedly (it doe

[2020-08-06 22:23] sean-mcmanus commented on #5923
Setting your C_Cpp.intelliSenseCacheSize to 0 is a workaround for this crash until we're able to fix the root issue (let us know if that workaround isn't working for you).

UPDATE: We've found the change that caused the regression.

[2020-08-06 22:24] sean-mcmanus commented on #5915
Setting your C_Cpp.intelliSenseCacheSize to 0 maybe be a workaround for this crash until we're able to fix the root issue (let us know if that workaround isn't working for you).

[2020-08-06 22:49] Trass3r commented on #5922
Looks like it is there after all but doesn't work on all nodes.

[2020-08-06 22:59] bobbrow commented on #5921
C and C++ are not supported in VS for Mac.

This is the feature to go upvote: https://developercommunity.visualstudio.com/content/idea/356171/support-projects-with-c-c14-c17-language-with-inte.html

[2020-08-06 22:59] #5921 closed, assigned to nobody

[2020-08-06 23:24] WardenGnaw commented on #5917
Do you get the process picker dialog and did you select the process?

[2020-08-06 23:25] WardenGnaw commented on #5922
Can you provide an example of when it is not working?

[2020-08-06 23:38] srijanc commented on #5906
As requested.....here is it. I have added both for v29 and v30.
[C_C++_LogDiagnostic_V29.log](https://github.com/microsoft/vscode-cpptools/files/5038550/C_C%2B%2B_LogDiagnostic_V29.log)
[C_C++_LogDiagnostic_v30.log](https://github.com/microsoft/vscode-cpptools/files/5038551/C_C%2B%2B_LogDiagnostic_v30.log)

[2020-08-07 00:26] WardenGnaw commented on #5905
UI is handled by VS Code. I posted this issue in their issues page.

[2020-08-07 00:26] #5905 closed, assigned to nobody

[2020-08-07 00:41] Colengms commented on #5906
Hi @srijanc .  Could you enable debugging logging, using the following setting?  `"C_Cpp.loggingLevel": "Debug"`

That should result in more verbose output to the C/C++ output channel, including the information we receive from the custom config provider, and possibly other clues.

Note that when using the `configurationProvider` field in `c_cpp_properties.json`, it overrides all other fields of th

[2020-08-07 00:54] sean-mcmanus commented on #5914
We're trying to figure out how to repro this. Did you change you any C_Cpp.vcFormat.* settings?

Can you provide a code sample (not a screenshot) and/or sequence of edits that causes the document corruption?

[2020-08-07 01:10] zachconfalone opened #5924 "Parse Indirect paths"
Hey Guys, quick feature request. The way I have my directory/build structure, The headers #included in files differ from the location that they are in the directories that Intellisense parses. So when the extension parses the active file, it cannot find some of the headers because it wasn’t in a path known to Intellisense.

For Example, a path might look something like this:

`Includes/example_1/s

[2020-08-07 01:13] sean-mcmanus commented on #5864
I downloaded the https://download.pytorch.org/libtorch/cpu/libtorch-macos-1.6.0.zip but it doesn't have a torch.h file. Do you know how to get that?

[2020-08-07 01:18] dhl2011dj commented on #5914
Sean, thanks for your help, the format function become fixed after changing the terms that you advised.

[2020-08-07 01:29] dhl2011dj commented on #5914
Sean, I have no idea about C_Cpp.vcFormat.* settings, and could be scarely possible to change it before.

My code file "general_alpha.cpp" before format attach below (errors occur between line 90~107 when trying to format):
[code]

[2020-08-07 01:29] sean-mcmanus commented on #5835
I was looking into a 0.30.0-insiders IntelliSense crash regression today and another issue and I'm OOF Friday...I'll try to look at this next week unless @Colengms or @michelleangela can investigate sooner.

[2020-08-07 01:32] sean-mcmanus commented on #5914
Thanks a lot -- I've reproed the bug.

[2020-08-07 01:44] srijanc commented on #5906
@Colengms I followed all the steps as suggest by you.
To summarise:
1. The logs I provided earlier were at the Debug level. `"C_Cpp.loggingLevel": "Debug"` is already set in my `settings.json` when I provided the logs previously.
2. I understand about `configurationProvider` and did a `CMake: Delete Cache and Reconfigure` but the issue remains the same.
3. As per my knowledge, CMake tool is correc

[2020-08-07 01:45] dhl2011dj commented on #5914
Thanks for your relpy and effort :laughing:

[2020-08-07 02:16] gautsang commented on #5918
Hi @sean-mcmanus

the error text is below.

#define NOW (SYSTEMTIME.getSystemTime())
다음으로 확장:

(SYSTEMTIME.getSystemTime())
')'가 필요합니다.
Peek Problem (Alt+F8)
No quick fixes available

![image](https://user-images.githubusercontent.com/44471252/89601177-de0c4580-d89e-11ea-8b04-0af3239075bb.png)

I made isolated code. there is nothing error. I think the isolated code may be simple so it was not happ

[2020-08-07 02:37] Colengms commented on #5906
Hi @srijanc .  The output you provided from the C/C++ output channel looks to be incomplete.  It contains 22 lines, and we should be seeing several hundred.  It doesn't capture a file being processed by the extension, for which we should see a `textDocument/didOpen` message (even if already open on launch).  I don't see an initial browse path received from the configuration provider when registere

[2020-08-07 02:52] kitattyor opened #5925 "Debugger crashes when trying to navigate into code in dll"
Type: Debugger

**Describe the bug**

- Version  Info

- C/C++ Extension Version: v0.29.0
- Other extensions you installed (and if the issue persists after disabling them):   Only 2 extensions enabled (cpp tools, ms-vscode.cmake-tools)

**A clear and concise description of what the bug is.**

Cannot navigate into the source of dll built with Debug. Error produced.
![image](https://user-images.gith

[2020-08-07 02:58] sean-mcmanus commented on #5898
We got a repro at https://github.com/microsoft/vscode-cpptools/issues/5914, so I don't think we need any more info. We'll try to get a fix soon (the workaround mentioned previously should work in the meantime).

[2020-08-07 03:04] kitattyor commented on #5925
Additional Info:

Changing the variable from from heap to stack-allocated works.
[code]

**Debug console** in that case.
[code]

[2020-08-07 03:56] srijanc commented on #5906
Ok, I understand. The browse path is displayed empty in the debug. I have attached all the logs along with cpp_properties file.

[c_cpp_properties.txt](https://github.com/microsoft/vscode-cpptools/files/5039228/c_cpp_properties.txt)
[C_C++_LogDiagnostic_v30.log](https://github.com/microsoft/vscode-cpptools/files/5039230/C_C%2B%2B_LogDiagnostic_v30.log)
[C_C++_LogDiagnostic_V29.log](https://github.

[2020-08-07 05:02] akurniawan commented on #5864
It's on `libtorch/include/torch/csrc/api/include/torch`. I needed to add `"${workspaceFolder}/libtorch/**"` to `includePath` on `c_cpp_property.json`

[2020-08-07 05:58] Tracker647 opened #5926 "Breakpoint get ignored since a Cproject trans into a C++ project"
Type: Debugger

my debugger:GNU gdb (GDB) 8.1

**Describe the bug**:
- OS and Version:  Windows 10 x64 10.0.18363
- VS Code Version: 1.47.3
- C/C++ Extension Version: v0.30.0-insiders

- Other extensions you installed (and if the issue persists after disabling them):
Bracket Pair Colorizer 2
C/C++ Project Generator(I use its to create makefile for project)
Code Runner
Debug Visualizer

- A clear a

[2020-08-07 07:58] zb-007 opened #5927 ""textmate scopes" coloring does not take effect"
**Type: LanguageService**

![111](https://user-images.githubusercontent.com/54835759/89623001-81248580-d8c6-11ea-926c-1f3ea69b7194.PNG)

hello guys:
After I upgraded the c/c++ plugin to version 0.29.0，this happens.
How can i fix it?

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them)

[2020-08-07 09:31] F-Unction opened #5928 "\" won't be replace to " in launch.json"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 2004 19041.388
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is. `\"` in launch.json won't be replace to `"` when I debug.

**To Reproduce**
Code sample
[code]

launch.json
[code]
St

[2020-08-07 10:17] jay-pee commented on #5917
The process picker is only visible for a fraction of a second and then the error occurs.

[2020-08-07 13:08] AlephAlpha opened #5929 "Formatting breaks my variable names"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Manjaro Linux 20.0.3
- VS Code Version: Code - OSS 1.47.1
- C/C++ Extension Version: v0.30.0-insiders
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, includ

[2020-08-07 14:14] andrei811 opened #5931 "Formatting not working, even if I change it to vcFormat"
Formatting not working property.

[2020-08-07 15:15] Trass3r commented on #3214
I got a prototype of the functionality when stepping out. It is indeed a pure adapter change.

[2020-08-07 16:21] bobbrow commented on #5924
Is that valid syntax?  Are you able to compile it?  If you start the include with a slash that will start the lookup in the root directory.  We support relative paths if you do `#include "./example_1/test.H"` or `#include "example_1/test.H`.  And note that case matters on some operating systems (for example, if you are on linux).

[2020-08-07 18:52] Colengms commented on #5906
Hi @srijanc .  Indeed, something seems to be wrong with the custom configuration provider (CMake Tools).  As you noted, your log contains a `Custom browse configuration received` section, but it's empty.  Normally, it should contain browse paths, a standard version, a compiler path, compiler args, etc..  And, there is no file-specific custom configuration received for the file you opened, which sh

[2020-08-07 18:56] Shatur commented on #2908
Yes, it would be nice to have because using it as a separate extension (https://github.com/notskm/vscode-clang-tidy for example) is incredibly slow.

https://github.com/clangd/vscode-clangd have support for `clang-tidy`, but it not as good as this plugin.

[2020-08-07 20:02] Colengms commented on #5927
Hi @zb-007 .  Can you clarify what behavior you were expecting, and what behavior you are seeing instead?  I see that there is a `semantic token type` referred to in the image you posted, which indicates our semantic token provider is working and we are successfully returning a semantic token for a function.  I see from the listed scopes that (a scope more specific than) `entity.name.function` is

[2020-08-07 20:24] ryanpholt opened #5934 "Infer compile_commands.json entries for new files"
I've configured Intellisense using a compile_commands.json file. So, whenever I create a new file in my workspace, Intellisense shows a warning saying that there is no entry in the compile_commands.json for the new file (and no Intellisense operations work). Can the extension infer the build args from a different translation unit in the same folder/workspace?  My experience with ccls/clangd in the

[2020-08-07 21:36] WardenGnaw commented on #5925
From the logs, I dont see the debug adaptor crashing.

That dialog shows up if it can not find the source file of what you are trying to step into.
The issue is when stepping in, it tries to step into the heap allocation method that comes from `new` and it tries to open `src\\vctools\\crt\\vcstartup\\src\\heap\\new_scalar.cpp`.

By not making it a pointer, it directly calls the Test Constructor to

[2020-08-07 21:41] WardenGnaw commented on #5928
Which debugger `type` are you using in your `launch.json`?

[2020-08-07 21:42] #5889 closed, assigned to WardenGnaw

[2020-08-07 21:44] WardenGnaw commented on #5889
@justKidrauhl Sorry, I should have clarified. The issue in GDB is the `-var-create - * "s[1]"` which is just evaluate `s[1]` in GDB CLI.

The MinGW-x64 version from this documentation should work: https://code.visualstudio.com/docs/cpp/config-mingw#_prerequisites

[2020-08-07 23:22] Colengms commented on #5934
Hi @ryan-holt-1 .  Thanks for the suggestion.  In the meanwhile, you should be able to provide fallback settings in the same configuration in `c_cpp_properties.json`.  Normally, use of `compileCommands` would supersede any other configuration settings.  But, when an entry is not available in `compile_commands.json`, the extension should fall back the rest of that configuration in `c_cpp_properties

[2020-08-08 00:29] F-Unction commented on #5928
@WardenGnaw
cppvsdbg

[2020-08-08 01:49] Katana-Steel opened #5935 "Incompatible License"
Type: General

LICENSE.md and extension/license.txt
Seem to be different please clarify is this MIT licensed or not?

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include code sample and `task.json

[2020-08-08 01:59] kitattyor commented on #5925
This works.

[2020-08-08 02:25] zachconfalone commented on #5924
The include should be `#include “example_1/test.H"`. It does compile, at compile time src/main/cpp in the path effectively go away. See the images below to better explain what I'm talking about.

<img width="799" alt="Screen Shot 2020-08-07 at 10 19 19 PM" src="https://user-images.githubusercontent.com/32858613/89700519-a59b5480-d8fc-11ea-9da3-ee02b05784df.png">
<img width="782" alt="Screen Shot 2

[2020-08-08 03:10] UberUser commented on #5797
Thanks for seeing this through.

I was able to fix the 32-bit error by switching the compiler type to gcc-arm.

While investigating I noticed that gcc supports at least two dozen architectures. Obviously it'd be impractical to support more than a few, which I think argues for generic 32 and 64 bit options. Then every possible architecture can be "supported", with a few at a higher level of support

[2020-08-08 03:18] nlieb opened #5936 "Add support for -nostdinc to the indexer"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.30-insider
- Other extensions you installed (and if the issue persists after disabling them): "Native Debug", "Open in Github", "vscode-proto3", and yes, it persists.
- Does this issue involve using SSH remote to run the extension on a remote machine?: I am using SS

[2020-08-08 08:43] a5066987 opened #5937 "How to refresh compile_commands.json"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win10 10.0.19042.423
- VS Code Version: 1.48.0-insider
- C/C++ Extension Version: 0.29.0

I have a generated compile_commands.json file, and I configured it in c_cpp_properties.json. But every time I add some new files and re-generate compile_commands.json, the Intellisense shows a warning saying that there is no entry in the compil

[2020-08-08 11:15] antst commented on #5273
I have similar issue. With different workspaces at certain point, after been open for couple of days, I always end up with cpptools CPU consumption hitting high numbers non-stop on macOS.

[2020-08-08 11:38] #5931 closed, assigned to nobody

[2020-08-08 12:16] bcaddy commented on #5879
I figured out my issue! I was using `vector.reserve()` instead of `vector.resize` and then trying to read and write using the `[]` operator.

[2020-08-08 12:16] #5879 closed, assigned to nobody

[2020-08-08 12:47] my-vegetable-has-exploded commented on #5898
Thanks，I will keep using 0.29 these days.

[2020-08-08 12:53] elmelundsvej opened #5938 "Formatting fails so bad."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04 LTS
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.30.0-insiders
- Other extensions you installed (and if the issue persists after disabling them): CMake, CMake Tool, Python, SQL Server(mssql)
- Does this issue involve using SSH remote to run the extension on a remote machine?: No.

Text of code in C/C++ is miss

[2020-08-08 16:06] maxim-babenko commented on #5621
I don't have c_cpp_properties.json.
C_Cpp.default.browse.path is set in my workspace file.

I don't believe VSCode just ignores browse.path since I see exactly these paths listed in "Folder ... will be indexed" and "Processing folder (recursive)" messages.

Still during Intellisense update (flame icon) strace + procfs clearly show that cpptools is touching "unwanted" folders, e.g.
lr-x------ 1 bab

[2020-08-08 17:24] lucasmaziero commented on #5938
I have this problem too!!

[2020-08-08 17:39] jay-pee commented on #5917
Found out that the bug doesn't appear when you freshly start VS code and start the debugging. But already when you try it a second time it can be observed...

[2020-08-08 19:54] ZhUyU1997 opened #5939 "Unable to get correct formatting code if chinese characters exist."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win 10 1903
- VS Code Version: 1.47.3
- C/C++ Extension Version:  0.30-0-insiders
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: Yes
- If chinese characters exist in code, after format, unable to get correct code

[2020-08-08 23:32] Prism019 commented on #5897
I'm getting the same issue. Just a note: changing from c++20 to c++17, the issue goes away. I've isolated it to an issue parsing ``<bits/ranges_algo.h>``, which is included by ``<algorithm>`` when c++20 is enabled.

![image](https://user-images.githubusercontent.com/7096478/89721804-96251580-d9a7-11ea-8157-a409c227f220.png)

For some reason, ``std::ranges::equal_to`` is being parsed as ``std::rang

[2020-08-09 00:18] elmelundsvej commented on #5938
Now I'm not the only one. Let's wait for them to fix it.

[2020-08-09 01:03] #5898 closed, assigned to nobody

[2020-08-09 03:06] ghuser404 commented on #5579
Works with my original example. But sadly, doesn't work with cmake-tools extension, as it sets c11 by default, instead of gnu11. Maybe will be fixed with https://github.com/microsoft/vscode-cmake-tools/issues/1152

[2020-08-09 05:23] srijanc commented on #5906
I couldn't find any such issues. I have attached a screenshot of the version of the cmake along with a log file in which I have attached the output of the `CMake: Delete Cache and Reconfigure` and the content of my `settings.json`. There is no `C_Cpp.default*` in my `settings.json` file.

![image](https://user-images.githubusercontent.com/43124192/89725562-3173c480-da54-11ea-9a36-c945282bb1db.png)

[2020-08-09 05:49] bubbercn commented on #5912
I would say yes cause what I was experiencing before I switch back to 29 is the quick format ctrl K+F does not work any more.

[2020-08-09 05:59] DBJDBJ opened #5940 "IntelliSense parser not handling correctly MinGW 64 headers"
**Type: LanguageService**

![image](https://user-images.githubusercontent.com/145155/89725856-8abc0380-da14-11ea-974c-e40c39baa8ec.png)

- C/C++ Extension Version: 0.30.0 - insiders
- Other extensions you installed (and if the issue persists after disabling them): none
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- **Using fresh, vanilla MinGW setup ...

[2020-08-09 07:15] DBJDBJ commented on #5940
**"non STL" version has no Intellisense issues**

![image](https://user-images.githubusercontent.com/145155/89726950-cbba1500-da20-11ea-9687-da91dbcc12ba.png)

[2020-08-09 07:25] yxkemiya commented on #862
Is there any way to do the convert on smart pointers?

[2020-08-09 12:18] gvcallen opened #5941 "Semantic Highlighting Inconsistencies"
I have attached a screenshot which I feel explains what I am talking about best.

In issue 1. I believe the "#" symbol should also be the same color as the "include" text (I'm sure it was like this in previous versions so I am fairly certain this is a bug).

In issue 2 and 3, I believe the "*" and "&" symbols should be the same color (white in this case) as when used inside a function, as opposed

[2020-08-09 12:52] rasmus98 commented on #1723
Any update on this? This is still the top result on google for "debug mpi in vscode", so it seems this has significant interest. As a stop-gap solution, has anyone been able to successfully create a launch.json file to launch and automatically attatch to eg the first mpi rank? Naively, it seems to me that this should be significantly more doable, and still extremely usefull...

[2020-08-09 15:04] hengyuekang commented on #5912
yes,i think it is not necessary.

[2020-08-09 15:29] trevorkerney opened #5942 "VSCode won't launch the debugger in the terminal, but it launches the terminal."
Type: Debugger

**Describe the bug**
- OS and Version: OS X Mojave 10.14.6
- VS Code Version: 1.47.3 and 1.48.0-insider
- C/C++ Extension Version: 0.29.0 and 0.30.0-insiders
- Other extensions you installed (and if the issue persists after disabling them): None.
- A clear and concise description of what the bug is:

Whenever I try to launch and debug any C++ terminal program, the debugger doesn't

[2020-08-09 15:54] trevorkerney commented on #5942
I just found out that every time I try to launch the debugger, instances of lldb-mi and its parent process mono.osx are created and are never closed, even after VSCode is completely closed. The lldb-mi instances use approx. 3% cpu each

[2020-08-09 16:34] trevorkerney commented on #5942
I found the answer here [#5079](https://github.com/microsoft/vscode-cpptools/issues/5079). Thanks @WardenGnaw

[2020-08-09 16:34] #5942 closed, assigned to nobody

[2020-08-09 17:26] alanbueno commented on #5938
+1 here!

[2020-08-09 17:39] alanbueno commented on #5938
apparently rolling back to the latest `0.29` and changing the `Update Channel` to default instead of insiders kinda sorts it out for now, until they actually fix it I guess!

- installing specific version:
<img src="https://user-images.githubusercontent.com/10865103/89738224-562d6380-da77-11ea-91b3-40a7704d20a5.png" alt="installing specific version" width="400">

- channel change:
<img src="https:

[2020-08-09 18:24] qfunq commented on #5227
To confirm and recap: out of the box, linux cpptools/vscode has two bugs, which combine to render the suite almost unusable:

1: A memory leak/over eager searching. cpptools consumes all cpu resources.
2: The cpptools service is slow to/never terminates after vscode has exited, and vscode server seems keen to respawn another cpptools service.

Workarounds:

1: Along with OnkelDons' suggestion of u

[2020-08-09 22:33] gracicot commented on #5915
I don't see anything in `~/Library/Logs/DiagnosticReports` on my mac machine, even though I see the `Failed to read response from server`. I'll try to see what is happening on my linux machine.

[2020-08-09 22:41] lucasmaziero commented on #5938
Thanks @alanbueno here solved the problem using version 0.29 for now.

[2020-08-10 03:16] srijanc commented on #5906
To clarify my doubts I created a new C++ project with default settings which are instructed by MS in this [link](https://code.visualstudio.com/docs/cpp/config-linux).
The errors remains same.

Note: I am not using cmake here. It is just a simple helloworld code.

[2020-08-10 03:19] sundalin0512 commented on #5611
Just open the AOSP(Android Open Source Project) 5.1 root directory, it use a lot memory.
But when I open a simple small project, it perform normally.

[2020-08-10 03:44] dianjuar commented on #4568
@slawmilcz did you fix your problem? I'm following the instructions and my pretty print still without working

[2020-08-10 04:15] dianjuar commented on #4568
Never mind, I just looked again step by step and adapting the locations of the files mentioned there into my context and I was able to achieve it.

I just want to warn the next persons that face this problem, that the files referenced on the [post](http://tomszilagyi.github.io/2018/03/Remote-gdb-with-stl-pp) may not be in the exact paths mentioned but in a totally different path, that depends on y

[2020-08-10 07:23] github-yxb commented on #5939
昨天升级后遇到同样的问题

[2020-08-10 07:26] github-yxb commented on #5938
Thanks @alanbueno !

[2020-08-10 08:56] zb-007 commented on #5927
@Colengms
thank you for your reply. Actually I need more detailed syntax coloring.
Before the upgrade, the syntax coloring of my function calls and function definitions was different.
What I am wondering is that a more refined token ("entity.name.function.call") is provided by "textmate scope", why the syntax coloring still uses "entity.name.function".
Can I use semantic highlighting to color func

[2020-08-10 09:02] zb-007 commented on #5927
Before upgrade, my workbench like this:
![22](https://user-images.githubusercontent.com/54835759/89766563-ebd5fb00-db2a-11ea-9346-ec031563b266.PNG)
![23](https://user-images.githubusercontent.com/54835759/89766606-03ad7f00-db2b-11ea-9cb3-c397a31f6cbc.PNG)

The "Textmate scope" works well, and The tokens are all highlighted correctly according to the color I set.

[2020-08-10 13:45] heartacker commented on #5891
THE intelliSenseMode is `&{default}`，and my pc os is win7 x64.
btw, there is ok when i change the mode to any_x86(32bit) mode. there will be a error shown as above while i change mode to any_x64 mode
![image](https://user-images.githubusercontent.com/1876302/89788808-4a629f80-db52-11ea-95e4-41dfe1930c4c.png)

[2020-08-10 17:47] Prehistoricman commented on #5828
Yes, both in my real code and the minimal example I made.

[2020-08-10 18:29] bobbrow opened #5947 "insiders upgrade/downgrade is broken if we recall an insider release"
While reviewing PR #5946, I was looking at the code that determines a valid array of builds.  It requires 3 or more assets to be marked as "valid".  But we also did a feature where if the assets are removed, then we downgrade a user to an older vsix.  It looks like our validity check will block the feature from being invoked (and actually break all downloads) if we ever remove the assets online, s

[2020-08-10 18:46] sean-mcmanus commented on #5918
Yeah, we still need more repro info -- I'm not able to repro the issue, although I can get the error if SYSTEMTIME is not a valid object. Does your code compile? Our parser is hitting some error, possibly caused by missing defines or includes being in the wrong order.

Does the error appear if you replace the macro with its definition? What do you see when you hover over SYSTEMTIME?

[2020-08-10 19:05] sean-mcmanus commented on #5864
I'm not seeing a performance issue, but I'm seeing autocomplete not working at all for fc1. Is that what you're seeing? Or do you have more info how I can reproduce the slowness? What do you mean by typing "struct" doesn't show autocomplete? Do you mean the struct keyword isn't completing or do you expect something else to complete after the struct keyword?

[2020-08-10 19:08] sean-mcmanus commented on #5864
The IntelliSense process is crashing when completion is invoked on fc1 -- the restarting of the IntelliSense process after the crash could be what you see as slowness as the process has to restart.

[2020-08-10 20:14] michelleangela commented on #5935
It's MIT licensed.

[2020-08-10 20:14] #5935 closed, assigned to nobody

[2020-08-10 20:59] bobbrow commented on #5935
More information here: #5784

[2020-08-10 21:33] sean-mcmanus commented on #5864
Oh, well, the crash I'm seeing is with 0.30.0-insiders (it's a regression). I'm not repriong any bug with 0.29.0 -- let me know if you have more repro details for 0.29.0.

[2020-08-10 22:01] Colengms commented on #5906
Hi @srijanc .  Regarding your original repro: The fact that the log contained an empty custom browse path and did not contain any receipt of a custom configuration, clearly indicates that the C/C++ extension was not being configured by the config provider.  This would explain why no includes were listed in the `Log Diagnostics` output in that scenario, and why things started failing in v0.30.0, as

[2020-08-10 22:16] sean-mcmanus commented on #5929
Might be the same issue as https://github.com/microsoft/vscode-cpptools/issues/5914 .

[2020-08-10 22:21] michelleangela commented on #5938
This is duplicate of https://github.com/microsoft/vscode-cpptools/issues/5914

[2020-08-10 22:21] #5938 closed, assigned to nobody

[2020-08-10 22:47] Colengms commented on #5891
This may be a dupe of: https://github.com/microsoft/vscode-cpptools/issues/5457 .  I think it has to do with some versions of x64 gcc/g++ on Windows following the Windows convention of using 32-bit longs, and while others are following the Linux convention of using 64-bit longs.  We need to find a way to distinguish between these diverging implementations in order to pass the correct size to the I

[2020-08-10 23:01] bobbrow commented on #5924
What is the command line you are using to compiling this?  The file `test.H` does not exist in the `example_1` folder. It exists in `includes/example_1/src/main/cpp`.  To get it to work you'd have to write `#include "includes/example_1/src/main/cpp/test.H"` in your source file.

[2020-08-10 23:05] sean-mcmanus commented on #5936
The workaround is to set compilerPath and compilerArgs.

One bug is that our special browse.path handling for compileCommands isn't handling the -stdinc in the compile_commands.json. Another bug is that that the compileArgs in c_cpp_properties.json isn't used if compilerPath isn't set if compileCommands is set.

[2020-08-10 23:13] michelleangela commented on #5939
@github-yxb  Could you translate this comment to English?

[2020-08-10 23:20] michelleangela commented on #5929
I can only reproduce this when the comment above the variable includes non-ASCII characters. This may be the same issue as https://github.com/microsoft/vscode-cpptools/issues/5939

[2020-08-10 23:22] michelleangela commented on #5939
@Colengms This issue may be the same as https://github.com/microsoft/vscode-cpptools/issues/5929, where formatting breaks when there are non-ASCII characters in the comment. Formatting works when the comment in the sample code uses ASCII characters.

[2020-08-10 23:36] akurniawan commented on #5864
The performance issue is related to showing suggestions when I typed something. Struct is one of the examples. I expect when I type struct it will show as follows
<img width="501" alt="image" src="https://user-images.githubusercontent.com/4723643/89841126-55dab880-db9c-11ea-90c2-9205ceca2d7b.png">
To give all of those suggestions would take a while (1s or more), sometimes even have to be forcedly

[2020-08-10 23:59] michelleangela commented on #5937
Can you try running the command `C/C++: Rescan Workspace`? This will force to shut down and restart any IntelliSense process. To verify if the updated compile_commands.json is sent to the IntelliSense process, run `C/C++: Log Diagnostics`.

[2020-08-11 00:10] michelleangela commented on #5929
This is duplicate of https://github.com/microsoft/vscode-cpptools/issues/5914

[2020-08-11 00:10] #5929 closed, assigned to nobody

[2020-08-11 00:11] michelleangela commented on #5939
This is duplicate of https://github.com/microsoft/vscode-cpptools/issues/5914

[2020-08-11 00:11] #5939 closed, assigned to nobody

[2020-08-11 01:31] Colengms commented on #5937
Hi @a5066987 .  The C/C++ extension should be monitoring your `compile_commands.json` file for changes.  I'm not able to repro an issue with this in a simple case.

Could you enable debug logging using `"C_Cpp.loggingLevel": "Debug"`, repo the issue, and check the C/C++ output for: `cpptools/didChangeCompileCommands: <file>` ?

If you are not seeing that output, it may be that we're failing to rec

[2020-08-11 01:42] Colengms commented on #5912
There is an issue with 0.30.0-insiders in which the vcFormat engine was not correctly handling multi-byte characters.  This will be addressed in the next insiders release.  Also, we've restored the original behavior in which clang-format would fall back to passing a synthetic Visual Studio format description to clang-format if a fallback style of "Visual Studio" was specified.  In the next insider

[2020-08-11 01:42] #5912 closed, assigned to nobody

[2020-08-11 01:55] Colengms commented on #5941
Hi @gvcallen .  I believe the colors you are referring to are coming from VS Code, and are not due to the semantic colorization done by the C/C++ Extension.

Though, I don't know why the "#" in the #include statement would not be the same color.  I'm not able to repro that.  Do you perhaps have another extension installed that could be changing the TextMate C++ grammar used by VS Code?

The TextMa

[2020-08-11 02:09] Colengms commented on #5828
@Prehistoricman .  I'm not able to repro this issue with 0.30.0-insiders, with just a simple multi-root workspace.  Perhaps your issue is actually due to a failed IntelliSense parse in one of your folders?  Failure to complete an IntelliSense parse would result in no inactive region dimming, no squiggles (from the C/C++ Extension), and no semantic colorization.

Could you enable debug logging usin

[2020-08-11 03:04] jukeboge opened #5950 "Formatting gb2312 code is bad"
**Type: LanguageService**

This is .c file,and gb2312.

### **1.before formatting code**

[code]

### **2.Seclect code and formatting it(Ctrl K Ctrl F):**

[code]

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.17763

**Describe the bug**
- OS and Version:
   Windows_NT x64 10.0.17763
- VS Code Version:
  Code 1.47.

[2020-08-11 03:52] Ebola-Chan-bot opened #5951 "Bad formatting in UTF-8 CPP file"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win10 20185
- VS Code Version: 1.48.0
- C/C++ Extension Version: 0.30.0
- Other extensions you installed (and if the issue persists after disabling them):
Arduino, C#, CMake Tools, PowerShell, Python, Remote - WSL, SVG. Issue persists after disabling them all.
- Does this issue involve using SSH remote to run the extension on a remo

[2020-08-11 04:05] a5066987 commented on #5937
@Colengms Basically I use [XMake](https://github.com/xmake-io/xmake) to generate compiler_commands.json and put it in .vscode. : https://xmake.io/#/plugin/builtin_plugins?id=generate-compiler_commands

The log is a little weird to me:
![image](https://user-images.githubusercontent.com/13390857/89855976-d5409b80-db4c-11ea-9804-760422bd7873.png)
147.insertion-sort-list.cpp is the new file.

@michell

[2020-08-11 04:48] Colengms commented on #5951
Duping to pinned issue: https://github.com/microsoft/vscode-cpptools/issues/5914

[2020-08-11 04:48] #5951 closed, assigned to nobody

[2020-08-11 04:50] Colengms commented on #5950
Hi @lihaolongc .  I believe you are seeing https://github.com/microsoft/vscode-cpptools/issues/5914 .  We will release 0.30.0-insiders2 soon.  If you are still seeing an issue then, we can re-open this.

[2020-08-11 04:50] #5950 closed, assigned to nobody

[2020-08-11 04:58] jukeboge commented on #5950
OK,THX

[2020-08-11 05:00] Colengms commented on #5940
Hi @DBJDBJ .  Thanks for reporting this.  I suspect there is some code in MinGW's standard headers that our IntelliSense parser is not handling correctly, leading to other parsing issues.

[2020-08-11 09:22] Prehistoricman commented on #5828
No, I'm telling you it's fixed in 0.30.0-insiders.

Edit:
Additionally, it's a purely graphical issue. As you can see in the screenshots above, the code that is not dimmed still has the hint to disable inactive region colorization. I think I would realise if intelliSense wasn't operating...

[2020-08-11 12:32] maxim-babenko commented on #5621
@bobbrow Any ideas on this could be happening? Should I attach some more diagnostics?

[2020-08-11 12:47] INNOVATIVEGAMER commented on #2616
It helped me a lot. Thanks for the explanation. I just need to change the path of compiler to my gcc compiler. I want to just add one thing that we need to change the path where gcc compiler files are present and not only /usr/bin/gcc

[2020-08-11 15:51] zooba commented on #5947
Is this what's causing me to cycle through these two prompts each time I restart VSC?
![MicrosoftTeams-image](https://user-images.githubusercontent.com/1693688/89919149-d0362780-dbf2-11ea-99a0-856f619018a2.png)
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/1693688/89919156-d1ffeb00-dbf2-11ea-9f74-9d7d6efbcf63.png)

[2020-08-11 17:18] michelleangela commented on #5897
@Prism019 Are you also using gcc-10.2.0 ? Does the issue repro with a different version of gcc or only gcc-10.2.0?

[2020-08-11 18:00] delta512 commented on #5256
Hello everyone, I’m on macOS High Sierra 10.13.6 and I’m having the very same issue.

Actually, it’s independent from whatever IDE you choose. It works well from the Terminal when you pass the “debugee” as an argument, while it crashes when provided within gdb’s command promt.

Find out more (and possibly provide a solution) on [gdb’s Bugzilla](https://sourceware.org/bugzilla/show_bug.cgi?id=25560

[2020-08-11 18:25] bobbrow opened #5953 "UI for vcFormat Settings"
We want to create a Webview that allows users to change their vcFormat settings visually (seeing what each setting does when activated)

[2020-08-11 19:02] milan-r-shah commented on #5843
One more weird thing that I have noticed:

If I have included `#include <pcl/visualization/cloud_viewer.h>` as shown below (line **11**)

![img01_01](https://user-images.githubusercontent.com/44414437/89937355-01a6f700-dbe3-11ea-8d7f-bee76ee44956.png)

then IntelliSense is showing the wrong result for `pcl::PointCloud<pcl::PointXYZRGB>::Ptr` as shown below (line **29**):

![img01_02](https://user-

[2020-08-11 19:05] Prism019 commented on #5897
I'm using gcc 10.1.0, obtained from the arch linux repository.

[2020-08-11 19:29] michelleangela commented on #5835
@ShenTonyM

Are there other third party dependencies to include? I also had to include https://github.com/abseil/abseil-cpp/tree/master/absl. But I am also getting `Quick info operation failed: FE: 'Compiler exited with error - No IL available` for the file "executor.cc".

Are there other requirements to setup Tensorflow? Does it build locally for you?

My c_cpp_properties.json in my repro is
[cod

[2020-08-11 19:35] michelleangela commented on #5835
@ShenTonyM

Could you also provide logs from:

1. Log output from enabling the [language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)

2. Log output from running the command `C/C++: Log Diagnostics`

[2020-08-11 22:04] michelleangela commented on #5843
@milan-r-shah
I'm helping out investigate this issue. When I tried to setup the sample code from https://pcl.readthedocs.io/projects/tutorials/en/latest/planar_segmentation.html#planar-segmentation I initially ran into some dependency errors like:
`cannot open source file "vtkSmartPointer.h" (dependency of "pcl/visualization/cloud_viewer.h")`.

In order to ensure all the required dependencies is a

[2020-08-11 22:58] michelleangela commented on #5915
Updating tags until we get more information, such as a call stack of the the cpptools-srv process crashing.

[2020-08-12 00:23] michelleangela commented on #5897
@Prism019 Could you provide logs from running the command `C/C++: Log Diagnostics` for both c++20 and c++17?

[2020-08-12 01:15] sean-mcmanus commented on #5914
This is fixed with 0.30.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 .

[2020-08-12 01:15] sean-mcmanus commented on #5950
This is fixed with 0.30.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 .

[2020-08-12 01:15] sean-mcmanus commented on #5951
This is fixed with 0.30.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 .

[2020-08-12 01:15] sean-mcmanus commented on #5939
This is fixed with 0.30.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 .

[2020-08-12 01:15] sean-mcmanus commented on #5938
This is fixed with 0.30.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 .

[2020-08-12 01:16] sean-mcmanus commented on #5929
This is fixed with 0.30.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 .

[2020-08-12 01:16] sean-mcmanus commented on #5898
This is fixed with 0.30.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 .

[2020-08-12 01:17] sean-mcmanus commented on #5923
This is fixed with 0.30.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 .

[2020-08-12 01:25] sean-mcmanus commented on #2506
We built a vsix that just uses our ARM binaries and it works for us when we test on the 64-bit aarch64 Raspberry Pi 4 OS -- does that seem okay or does anyone know if there's a problem that could cause it to not work in some scenarios? We could possibly release that tomorrow if anyone wants to try it earlier.

Also, does anyone really want our processes to use >2-4 GB of memory on their ARM64 devi

[2020-08-12 08:57] Locietta commented on #5897
Hi, I'm getting the same issue here. And toggling from c++20 to c++17 doesn't work for me...

I'm using gcc10.2.0 on WSL(built from source) and MSYS2(installed by package manager) separately. And both generate exactly same bugs

-------------------------
### more details I've got:

### 1. everything is ok if you just include only `<vector>`
![image](https://user-images.githubusercontent.com/531378

[2020-08-12 11:36] allen505 commented on #5800
@WardenGnaw , any updates on this issue or on how to fix this?

[2020-08-12 13:52] tapr00t commented on #5866
@bobbrow @sean-mcmanus
I see what the exact issue was now.  .C and .H files were being set to cpp in my **_local_** settings.json file.  However, my **_remote_** server settings.json file was not updated.  Whenever I added the .C and .H associations to the **_remote_** settings file, it fixed everything.

[2020-08-12 16:39] heartacker commented on #5029
If this feature is simple to implement, implement it as soon as possible. There is a long wait for each looking up the invocation,Even the repeated action has to wait for a long time.

[2020-08-12 17:13] #5907 closed, assigned to Colengms

[2020-08-12 17:14] #5914 closed, assigned to Colengms

[2020-08-12 17:14] #5923 closed, assigned to nobody

[2020-08-12 17:40] JohnpaulVerzosa commented on #4527
we're the same

[2020-08-12 17:44] bobbrow commented on #5947
That looks like a different issue and I'm not sure of the cause.  I PM'ed you about it.

[2020-08-12 17:49] HuskyNator commented on #509
I might as well not use vscode and use visual studio instead . . . pretty disappointing.
I heard similar views when searching for a way of profiling, with many referring to visual studio 😕

[2020-08-12 18:05] sean-mcmanus commented on #5621
The root cause is the same as https://github.com/microsoft/vscode-cpptools/issues/3123 . The call stack at https://gist.github.com/maxim-babenko/68846c5d5bf7b8e750cd79c9218ed15a shows "recursive_directory_iterator_utf8" which generates a vector with all the files (include excluded ones), and that vector is only checked against files.exclude later in "parse_includes". The files are not read or proc

[2020-08-12 18:06] bobbrow commented on #5621
The callstack you shared shows that our recursive include processing thinks that one of your `#include` dependencies is in those folders.  Are you using `**` in any of your `includePath`s in `c_cpp_properties.json`?

When using this feature we will look up file names in the database that were collected by the indexer and if we find a valid path (i.e. the path starts with the `**` path from `includ

[2020-08-12 18:07] ryanpholt commented on #5848
Hi @Colengms,

I tried out the new insiders build.  I see that it now outputs the probe command line:

`Compiler probe command line: /mathworks/hub/3rdparty/internal/5566149/glnxa64/gcc-8.3.0/bin/g++ -c -MMD -MF ../../derived/glnxa64/obj/src/cg_ir/expr/ExprTools.d -MP -MT ../../derived/glnxa64/obj/src/cg_ir/expr/ExprTools.o -fno-strict-aliasing -O0 -pipe -pthread -fdebug-prefix-map=/local-ssd/ryan

[2020-08-12 18:45] Colengms commented on #5848
Hi @ryan-holt-1 .  I think the problem has to do with our current working directory when parsing command line args, and the fact that we pass those paths unmodified.  Can you confirm that changing those paths to absolute paths addresses the issue?  It looks like we could probably also strip -MP and -MF from our compiler probe.

[2020-08-12 18:50] WardenGnaw commented on #509
We are investigating ways to add a memory view to this extension using the [VS Code Hex Editor ](https://github.com/microsoft/vscode-hexeditor)

[2020-08-12 18:54] WardenGnaw commented on #5926
Does this issue occur if you run `make clean` then have it recompile as `.cpp` files?

[2020-08-12 19:01] WardenGnaw commented on #5899
Which debugger type are you using `cppvsdbg` or `cppdbg`?

[2020-08-12 19:10] ryanpholt commented on #5848
That is indeed the problem. Converting to absolute path addresses the issue. Thanks.

[2020-08-12 19:19] saeidtafazzol commented on #3171
Empty folder worked for me. Thanks

[2020-08-12 20:13] maxim-babenko commented on #5621
I'm not using ** in includePaths. My workspace settings are here:
https://gist.github.com/maxim-babenko/4b76d78ec91f5c489c59113ae14dd579

I have "${workspaceFolder}" in my include paths but it's not **recursive**, right?

It is possible to find out (by means of some logging) the exact include path that vscode regards as being recursive?

[2020-08-12 20:23] sean-mcmanus commented on #5912
This is fixed with 0.30.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 .

[2020-08-12 20:26] GiovanniDicanio commented on #5899
cppvsdbg

Il giorno mer 12 ago 2020 alle 21:01 Andrew Wang <notifications@github.com>
ha scritto:

[2020-08-12 20:30] sean-mcmanus commented on #862
@yxkemiya Potentially, but smart pointers have their own valid methods accessible using ".", so if sp.get() is valid then we wouldn't want to change it to sp->get(). The features request would need to be made to Visual Studio itself probably first though, since they don't implement that behavior yet.

[2020-08-12 20:37] sean-mcmanus commented on #5915
We fixed the top hitting regression crash with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 . Let us know if this crash is still occurring with that.

Yeah, on some Mac OS's the ~/Library/Logs/Diagnostics don't contain our crash log -- we don't know why yet.

[2020-08-12 21:05] sean-mcmanus commented on #5891
Yeah, sounds like the same issue.

[2020-08-12 21:07] hamaney commented on #2506
@sean-mcmanus In our process we use EC2 ARM instances for debgging/building so memory is not an issue at the development stage.

[2020-08-12 21:18] Colengms commented on #5927
Hi @zb-007.

Previously, the C/C++ Extension had implemented its own support for semantic colorization.  We would look up the appropriate colors ourselves, and apply them as decorations in the editor.  Now that we have switched to the new Semantic Tokens API in VS Code, selecting the colors for those tokens is handled by VS Code.  There is a [Semantic Highlighting Guide](https://code.visualstudio.

[2020-08-12 21:20] sean-mcmanus opened #5958 "Using clang-format on Linux ARM/ARM64 requires that libtinfo5 is installed"
The workaround is to install libtinfo5 (or libncurses5).

To fix this we would need to recompile clang-format for ARM/ARM64 with static linking (like we do for other architectures)

Upvote this if this fix is important to you. I hit it with the 64-bit Raspberry Pi OS.

[2020-08-12 21:37] sean-mcmanus commented on #2506
We've added an [aarch64 vsix](https://github.com/microsoft/vscode-cpptools/releases/download/0.30.0-insiders2/cpptools-linux-aarch64.vsix) at https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 . Let us know if anyone encounters any issues with that (particularly since the language service binaries were compiled for 32-bit armhf and not aarch64). One known issue is libtinfo5

[2020-08-12 21:47] elahehrashedi commented on #5947
I changed the functionality of the isBuild function, to recognize if an input is a "build" type, or if it is a "build" type with 3 assets (i.e. "valid" build type)

[2020-08-12 22:09] sean-mcmanus opened #5960 "Crash regression with completion starting with 0.30.0-insiders"
See the repro at https://github.com/microsoft/vscode-cpptools/issues/5864 , i.e. the code at https://pytorch.org/cppdocs/frontend.html
do completion on the "forward" of "fc1->forward".

We need to see if this repros on Windows and with VS.

[2020-08-12 22:37] sean-mcmanus commented on #5864
Yeah, I'm not reproing any slowness with completion (it's fast for me with 0.29.0).

I see error squiggles in your logging so that could be the cause. Are you able to fix your error squiggles?

If you could use a Mac profiler such as XCode's "instruments" tool on cpptools or cpptools-srv to see what the call stacks are contributing to the slowness that could help us diagnose what is going on. We m

[2020-08-12 23:15] Misery42 commented on #429
+1 using code-server on my ARM-32 Revolution Pi

[2020-08-12 23:41] sean-mcmanus commented on #5621
If you run the C/C++: Log Diagnotics, you'll see that we are auto-adding "${workspaceFolder}/**". It appears to be a regression from https://github.com/microsoft/vscode-cpptools/pull/5413

[2020-08-13 01:07] srijanc commented on #5906
Hi @Colengms , my response accordingly:

1. On initiating the command `CMake: Delete Cache and Reconfigure` below is the screenshot of the first few lines, where I don't receive any `custom configuration`.
![image](https://user-images.githubusercontent.com/43124192/90081935-e3abd480-dd51-11ea-9479-71906f71a549.png)

2. About the errors received on the newly created project, I couldn't re-create it

[2020-08-13 01:23] Tracker647 commented on #5926
I type command in bin file and the project root file but not success message,I used to delete the `main.exe `and rebuild it but the breakpoint is still become grey.

the message when I type `make clean `in:

[code]

[code]

[2020-08-13 01:33] 7oud commented on #2506
The aarch64 vsix can not work on Jestson NX, Here are some notifications
[code]

[2020-08-13 02:26] ShenTonyM commented on #5835
@michelleangela
Hi Michelle,
Here's the log from `C/C++: Log Diagnostics`

[code]

I switch to another computer, you may find the absolute path different from my last reply. But the intellisense problem is the same.

[2020-08-13 02:34] hamaney commented on #2506
Notification
[code]
[code]
In OUTPUT
[code]

However, I pressed F5 and it seems to be debugging normally!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! awesome

[2020-08-13 02:38] Adobe-Android commented on #2908
I believe it makes sense for Microsoft to start looking at this. The only real alternative will no longer be maintained.
https://github.com/notskm/vscode-clang-tidy/issues/45
Is there anywhere else where we can vote for this feature that would have more visibility?

[2020-08-13 02:51] ShenTonyM commented on #5835
I also find the `Quick info operation failed: FE: 'Compiler exited with error - No IL available`  in the `C\C++` log. But the message doesn't suggest which third party dependencies to include in vscode setting.

Tensorflow is a very large project, and it is generally built with [bazel](https://bazel.build/), a tool like cmake. The third-party dependencies are listed in file [`tensorflow/workspace.

[2020-08-13 03:16] heartacker commented on #5753
@sean-mcmanus  that will be great if cpp-tools can cache  all `find_all_references` results. Strong pleas to add caching functionality.3q

[2020-08-13 06:10] escape0707 commented on #1419
EDIT: moved to #5962

[2020-08-13 06:58] maxim-babenko commented on #5621
For me, the problem seems to vanish if I move browse and include paths from workspace defaults to c_cpp_properties.json. After this C/C++: log diagnostics starts showing some sane paths (exactly, mine, in fact).

[2020-08-13 08:09] zb-007 commented on #5927
thank you for your reply. I delete the "support.function" colored in my theme, all is ok.
thanks again!

[2020-08-13 09:28] Trass3r commented on #4333
vscode-clangd has the same problem. Shouldn't this be solved in vscode then by replacing the collapse button with a toggle expand/collapse button like in the search results view?

[2020-08-13 16:18] jeff-dagenais commented on #1994
This is also completely broken on MacOS if filesystem is set as case-sensitive. CMake/Intellisense creates all these lowercase paths which are invalid. For example, my source code is in my home somewhere which is `/Users/myusername/...` and the `browsePath` and `includePath` contain `/users/myusername/...`. Or when it looks for Qt in brew managed `/usr/local/opt/...QtWidgets.framework` is transfor

[2020-08-13 16:52] bobbrow commented on #5621
@sean-mcmanus can you open a new issue to track the regression?  We're using this issue to track implementation of files.exclude for scanning paths.

[2020-08-13 16:54] bobbrow opened #5962 "format on type characters with clang-format"
In latest vscode-insiders and cpp extension insider version, I noticed that open curly braces will also trigger formating?

Like this:
[code]

This is very inconvenient as it format immediately after I entered a `{` and put the cursor and `}` on the next line.

I've disabled `editor.formatOnType` for `[cpp]` in my current workspace to avoid this for now.

_Originally posted by @escape0707 in https

[2020-08-13 16:56] bobbrow commented on #5962
@Colengms can you investigate?  I thought the additional format on type characters should only apply to vcFormat (the original comment talked about clang-format and these new characters shouldn't apply).

We may also want to evaluate whether `{` is a good trigger character.  I was thinking we wanted `}` instead.

[2020-08-13 16:57] bobbrow commented on #1419
@escape0707 I moved your comment to a new issue.

[2020-08-13 17:14] dbersan opened #5963 "Intellisense not working"
_Specs: Ubuntu 18.04, VSCode 1.47.3, C/C++ extension 0.30.0-insiders2 (also tried the non-insiders)_

It's truly remarkable C++ has been around for at least 40 years and we still don't have a proper intellisense.

It is underlying in red the include header:
![image](https://user-images.githubusercontent.com/25873377/90163046-dc0e1f00-dd95-11ea-9212-1634b930090d.png)

 Even though I can still Ctrl+

[2020-08-13 17:39] sean-mcmanus commented on #5963
The "file not found" error message is from the C/C++ Clang Command Adapter extension and not the C++ extension.

After you disable that other extension, if you still get errors, you may want to run C/C++: Log Diagnostics (from the Command Palette) to see what include paths are getting passed to IntelliSense. And although you're using compileCommands, so the includePath setting won't be used unless

[2020-08-13 17:46] sean-mcmanus commented on #2506
@7oud @hamaney Thanks for letting us know -- we'll continue looking into fixing our build of cpptools/cpptools-srv for the aarch64 target. Yeah, the debugger is arm64-specific already.

[2020-08-13 17:58] sean-mcmanus commented on #5753
@heartacker Caching does exist if the files with references are left open and your core count and memory is high enough to keep all the cpptools-srv processes in memory (requiring less parsing), i.e. it's a manual driven caching versus the automatic caching done by VS. However, that caching will only speed up "files confirmed" speed and not the "files searched" speed.

[2020-08-13 18:20] sean-mcmanus commented on #5621
@maxim-babenko Yes, the "${workspaceFolder}/**" only gets auto-added if no c_cpp_properties.json exists.

@bobbrow Sure, I could do that, but I don't understand what "implementation of files.exclude for scanning paths" means...it sounds like you're saying there's an additional bug? Or is it the same as https://github.com/microsoft/vscode-cpptools/issues/3123 (that issue title mentions symlinks but

[2020-08-13 18:41] sean-mcmanus commented on #4333
@Trass3r Yes, VS Code itself could add an expand all for their References: Results UI, but our extension adds additional tree views, so this issue is mostly in regards to that. See the screenshot:
![image](https://user-images.githubusercontent.com/19859882/90173768-ca0e8b00-dd59-11ea-904e-91aa8628f8d8.png)

Right now, the collapse button only applies to one of the tree views, so if VS Code added a

[2020-08-13 18:54] Colengms commented on #5848
Hi @ryan-holt-1 .  I believe I've addressed this, by setting the working directory appropriately when probing the compiler.  A fix should be available in our next insiders releases.

[2020-08-13 18:57] #5927 closed, assigned to nobody

[2020-08-13 19:00] dbersan commented on #5963
You are right about this, I tried installing this C lang extension to see if it solved the problem and forgot to remove. Now there is no re underlining.

I removed it and still no auto complete.

here is the output, after removing system path.

[code]

[2020-08-13 19:10] sean-mcmanus commented on #1994
@jeff-dagenais The lowercasing is coming from CMake tools and is only an issue on Mac and not Linux or (case insensitive) Windows. There's an issue tracking that in the CMake tools repo.

[2020-08-13 19:11] Trass3r commented on #4333
Collapse All seems to be a TreeView [feature](https://github.com/microsoft/vscode-references-view/blob/846367409ec890e3415c919db772c3fbfe01f41e/src/extension.ts#L28) though. Maybe they could provide a general solution.

[2020-08-13 19:13] dbersan commented on #5963
One weird thing that is happening is that I have the following structure:

![image](https://user-images.githubusercontent.com/25873377/90175771-37e1a380-dda8-11ea-973d-1dd702a041f4.png)

And the autocomplete works fine on files like `edo_hardware.h`, `edo_hardware_interface.h`, `edo_hardware_interface.cpp` (each includes the other, sequentially):

![image](https://user-images.githubusercontent.com

[2020-08-13 19:21] sean-mcmanus commented on #5962
Yeah, "{" and "}" got added and applies for clang-format too. I don't think we want either for clang-format, but "}" seems okay for vcFormat.

[2020-08-13 19:34] sean-mcmanus commented on #5963
Your includePath output looks good. Are you getting any error squiggles in edo_driver.cpp? Does any other IntelliSense functionality work in edo_driver.cpp (or edo_driver.h), such as error squiggles (if you add a syntax error) or go to definition on a local variable?

If you check your "C/C++" logging (not the C/C++ Diagnostics logging) do you see a "Failed to read response from server"? That woul

[2020-08-13 19:37] dbersan commented on #5963
Actually, in `edo_driver.cpp` auto-complete does not seem to work at all. I can still go to definitions, I don't see any syntax errors when I type somethign wrong:

![image](https://user-images.githubusercontent.com/25873377/90179231-6c0b9300-ddad-11ea-940b-3a56dbf569fb.png)

Where can I find this?

[2020-08-13 19:42] sean-mcmanus commented on #5963
If you don't get syntax errors, then IntelliSense is not functioning at all for that particular TU. Go to Definition on global variables can still operate without the IntelliSense process via querying the database, but you should see Go to Definition on local variables not working.

We have documentation on enabling debug logging at https://code.visualstudio.com/docs/cpp/enable-logging-cpp , but "

[2020-08-13 19:47] Zylann commented on #862
I'm trying to use this in 0.29.0, but apparently `.` gets converted to `->` only if I use auto-complete suggestions. It doesn't work if I just type entirely the member name, which actually happens often. Is there a way for the conversion to happen right when typed, like QtCreator does?

[2020-08-13 19:47] sean-mcmanus commented on #5963
Also, we only shows errors for the currently open files, but it's possible a header file could be causing a parser error that is causing a cascading parse failure in the open files, so one potential thing to try is to use something like "g++ -E -std=c++17 > test.out.cpp" to generate a preprocessed file with no `#include`s and seeing if you see any IntelliSense errors with that file.

[2020-08-13 19:53] sean-mcmanus commented on #862
@Zylann I don't understand. Could you provide more details on what you expect? If there are no auto-complete suggestions shown, then that would imply IntelliSense isn't working and we wouldn't be able to tell if the member name is a pointer type or not.

[2020-08-13 19:57] sean-mcmanus commented on #5857
3 is done. Not sure what the plan is for 2 or 4 yet. 1 is on hold until we've made 3 available.

[2020-08-13 20:02] dbersan commented on #5963
I tried doing "Error" level logging, but I get absolutely no error ever. With "Information" level I get the following for working and non-working files:

![image](https://user-images.githubusercontent.com/25873377/90181018-14baf200-ddb0-11ea-86ab-0d97c37ff943.png)

[code]
![image](https://user-images.githubusercontent.com/25873377/90181338-94e15780-ddb0-11ea-837a-0122023814bb.png)

(this is a new

[2020-08-13 20:03] Zylann commented on #862
@sean-mcmanus what I originally asked in the issue closed in favor of this one, is that when I type `.` after a pointer variable (something Intellisense knows), to be converted to `->`. It wasn't really related to the dropdown, but currently this is only happening when I *use* an item from the drop down after I start to type, it is not happening otherwise. The drop down *does* show, but I don't ge

[2020-08-13 20:06] sean-mcmanus commented on #5857
Yeah, 4 needs to be done still (for the online vsix in the marketplace to show the license). Not sure about 2.

UPDATE: 4 is done.

[2020-08-13 20:19] Prism019 commented on #5897
### c++20

[code]

### c++17

[code]

Also: I got the ``Expected a ';'`` error as well, but I got the more-specific error by deleting structs from the header until other errors started to show up (seems the header is too big to parse?). I also made sure I did not delete any possible definitions of ``std::ranges::equal_to``.

[2020-08-13 20:24] bobbrow commented on #5621
If #3123 is the same thing, then can you fix the title of #3123 and then change the title of this one to deal with the regression issue?

[2020-08-13 20:29] dbersan commented on #5963
I'm not sure if I understood exactly,.. when I try that command passing a cpp file it can't find the headers, I'm not sure how to specify the header locations that are not relative (the ones installed on the system, written inside `<>` brackets).

ex:
[code]

result:

[code]

[2020-08-13 20:32] bpbradley opened #5964 "Intellisense with compile_commands.json fails on version 0.30-insiders2"
**Type: LanguageService**

**Describe the bug**
Intellisense stopped working with compile_commands.json in the latest insiders, but it works in 29.0. It appears to be grabbing the wrong compiler path and everything goes downhill from there.

- OS and Version: Windows 10 (OS Build 19041.388 / Windows Feature Experience Pack 120.2202.130.0)
- VS Code Version: 1.48.0
- C/C++ Extension Version: 0.30-i

[2020-08-13 20:37] sean-mcmanus commented on #862
Unfortunately, I don't think that is possible for us to do with the current VS Code extension APIs, see https://microsoft.github.io/language-server-protocol/specification#textDocument_completion . We send VS Code a list of CompletionItems, but the edits for changing `.` to `->` are per-CompletionItem and there isn't any API for telling VS Code that we want the textEdit to always be applied even wh

[2020-08-13 20:42] Colengms commented on #5906
Hi @srijanc .

In v0.30.0-insiders2, we restored the original behavior of falling back to the base configuration if not able to receive one from the custom configuration provider.  You may still have an issue with not receiving a custom configuration from the provider.

It should be possible to make that problem more obvious by removing the base configuration, and using a configuration containing

[2020-08-13 20:50] Colengms commented on #5964
Hi @bpbradley .  I'm not able to repro this issue with a simple example.  Could you enable debug logging using `"C_Cpp.loggingLevel": "Debug"`, and provide the following information, so we can investigate further?

 * The output of the `C/C++` output channel, from launch up until having repro'ed the issue.
 * The output of the `C/C++: Log Diagnostics` command, after repro'ing the issue.
 * The con

[2020-08-13 20:56] sean-mcmanus commented on #5963
So it sounds like someFile.h isn't getting IntelliSense (no squiggle for the missing include). That looks like a like https://github.com/microsoft/vscode-cpptools/issues/5923 that got fixed with 0.30.0-insiders2, but it looks like you have 0.30.0-insiders2 already. The "Checking for syntax error" is supposed to only happen after some edit or config change. If you enable "Debug" level logging you m

[2020-08-13 20:59] NSExceptional commented on #862
@Zylann you're not using autocomplete if you type the suggestion out yourself. Why would you expect it to change it for you if you're not triggering the suggestion?

[2020-08-13 21:09] Zylann commented on #862
@NSExceptional because it's still useful. I explained why. If you identify the dropdown as "the autocomplete", then my request isnt even about it, it's about typing `.` after a pointer type (though you could consider doing it only if the said pointer has members ofc).

[2020-08-13 21:11] bobbrow commented on #5867
We'll close this as a duplicate of 1798 and 4939.

[2020-08-13 21:11] #5867 closed, assigned to nobody

[2020-08-13 21:13] dbersan commented on #5963
Yes I have this version
![image](https://user-images.githubusercontent.com/25873377/90186813-1a690580-ddb9-11ea-85a2-8c98c10a9d46.png)

The log is extensive, but I will send it for the following cases

**1) I type a variable and press ".", wait for auto complete (but don't get it):**

![image](https://user-images.githubusercontent.com/25873377/90187199-af6bfe80-ddb9-11ea-80df-20a1d2aa457a.png)

[c

[2020-08-13 21:15] dbersan commented on #5963
Not sure if this is helpful, I guess the best approach would be to find out why one file is working and the other isn't. Probably would be the headers? ..

[2020-08-13 21:16] bobbrow commented on #5904
Yeah, we probably need to escape those characters for the markdown rendering.

[2020-08-13 21:18] sean-mcmanus commented on #5897
Yes, thanks for all the info -- we have gotten gcc 10.2 (via sudo add-apt-repository ppa:ubuntu-toolchain-r/ppa) and we repro the bug. We're working with the VS C++ team to investigate further. Some new C++20 code in the new gcc 10.2 headers is causing our parser to malfunction. I'm see the errors below with a preprocessed file:
![image](https://user-images.githubusercontent.com/19859882/90188039-

[2020-08-13 21:24] sean-mcmanus commented on #5621
@bobbrow Done.

[2020-08-13 21:27] bpbradley commented on #5964
Sure thing.

<details>
  <summary><strong>Here is the output of `C/C++` output channel</strong></summary>

[code]
</details>

Right away it appears to be detecting a WSL compiler? But that isn't the case, the compiler is gnuarmemb. It is actually finding includes from that location. All of the redacted filepaths just contain some identifying info and so I removed it, but they are just filepaths to

[2020-08-13 21:30] bobbrow commented on #5919
I think this is a great idea.  Unfortunately it will take more than a couple of minutes to implement 😉
We have to prioritize this against other bugs and feature requests on our backlog, but we will update the Milestone when it is selected into an official release.

[2020-08-13 21:36] sean-mcmanus commented on #5963
Yeah, nothing stands out in those logs as being an error. My guess is that an included but not opened header dependency is causing an IntelliSense parser failure (not a crash). So either the -E mechanism or manually using Go to Definition on the `#include`s may help locate the root parser failure.

Another possibility is there's an error with our IntelliSense cache files, so it would be worth temp

[2020-08-13 21:52] bobbrow commented on #4778
We're working on this feature in 0.30.0

[2020-08-13 21:52] #4778 closed, assigned to nobody

[2020-08-13 21:56] bobbrow commented on #4676
Nao conhecemos o `inno_update.exe`.  Nao achemos que isso vem da nossa extencao.   (I apologize for my bad Portuguese in advance 😄)

[2020-08-13 21:56] #4676 closed, assigned to nobody

[2020-08-13 21:57] rmurphy-arm commented on #2506
Note that not all AArch64 kernels will include the compat layer necessary to run 32-bit Arm binaries - I know my usual distro doesn't enable it. Also there are some CPUs out there that have no AArch32 support at all (e.g. Cavium ThunderX), so ultimately you _will_ want a proper native AArch64 build.

[2020-08-13 22:09] Colengms commented on #5964
Hi @bpbradley .

We will try to detect and probe a default compiler for default and fallback purposes.  I see that it also probed the compiler from your `compile_commands.json` :

[code]

I see from the Log Diagnostics output that a custom configuration provider is being used, not compile commands:

[code]

It's not possible to use both a custom configurtion provider and compile commands.  The cus

[2020-08-13 22:35] bobbrow commented on #5963
Is there a way you can share your project with us or help us get something similar on our machines so we can debug it?  I see references to Catkin and ROS and found this resource: http://wiki.ros.org/catkin/workspaces.  If there are sample projects on that website would they be able to reproduce the same problems?

[2020-08-13 22:42] WardenGnaw commented on #5926
can you clean up all `.exe` and `.o` files and try to rebuild? it seems like it is trying to use the old `.o`'s to rebuild and that has the file name with `.c` in it that is causing it to find the wrong file to bind the breakpoint.

[2020-08-13 23:06] dbersan commented on #5963
If you want to try to reproduce this I can help you, but it's not so easy because you'd need to set up some things... here is an overview:

1. Follow the instructions to [install ROS](http://wiki.ros.org/melodic/Installation/Ubuntu)
2. Install catkin build, it's easier to use: `sudo apt-get install ros-melodic-catkin`
3. Create a folder somewhere with src: `mkdir -p workspace/src`
4. Initialize th

[2020-08-13 23:27] martinandersen3d commented on #2838
this worked for me in python, I guess it will work for you to?
https://gist.github.com/martinandersen3d/7d41888e6d23835af8d20ce0919ab799

[2020-08-13 23:50] bpbradley commented on #5964
Clearing the configuration provider as you suggested solves the issue.

Thanks!

It is interesting that it works fine on v0.29 and earlier.

[2020-08-13 23:53] vladimir-golovchenko commented on #5696
Just share the related settings for attach-case:

[code]

[2020-08-14 00:10] dbersan commented on #5963
I've found which header causes this issue, although I don't know an easy solution to this because I need the header.

As soon as I take off the header `edo_core_msgs/MovementCommand.h`, the extension works normally.
![image](https://user-images.githubusercontent.com/25873377/90195815-c1a26880-ddca-11ea-8bba-b5b4ccfc0960.png)

The other files did not include this header, hence they worked normally.

[2020-08-14 00:38] #5964 closed, assigned to Colengms

[2020-08-14 00:49] prutschman commented on #2506
Launching cpptools (from 0.30.0-insiders2) on aarch64 failed for me, but not for the reason I expected.

[code]
It looks like something went wrong with the ld-linux path?

If I try invoking it directly with the platform ld-linux, then it of course fails for the expected reason. (And there's no 32-bit userland on this platform, so I can't just invoke the proper ld-linux)
[code]

[2020-08-14 01:12] Victsz commented on #3288
Is there any solution now?

[2020-08-14 01:23] sean-mcmanus commented on #3288
@Victsz There is no solution yet. If this becomes fixed, we'll most likely mark this issue as "Fixed (pending release)" and close it.

[2020-08-14 01:46] alekseyt commented on #2838
This isn't bad, unfortunately it doesn't quite work when another internal terminal exists which is usually the case because build is also running in terminal. So that internal terminal stays open on screen and i have to press Ctrl+~ instead of any key which kind of defeats the purpose.

What would fix this is something like `read -p </bin/true`, but i can't find a way to send input into terminal.

[2020-08-14 01:52] sean-mcmanus commented on #2506
@prutschman The binary is built for armhf and not aarch64 -- are you saying you think there's a different problem? Good news is we got our aarch64 build fixed, so we should be able to publish a new vsix some time next week.

[2020-08-14 02:01] sean-mcmanus commented on #5963
I'm OOF on Friday, but someone else on our team maybe be able to follow up on this to try to get a repro. If Go to Definition is returning a lot of bogus results, that is usually a sign that the IntelliSense-based Go to Definition has failed and it's falling back the tag parser based definitions found in the global symbol database without any IntelliSense-based verification.

[2020-08-14 02:31] payonel commented on #2838
@alekseyt I asked MIEngine to fix this, they said it isn't in their code: https://github.com/microsoft/MIEngine/issues/807
https://github.com/microsoft/MIEngine/issues/807#issuecomment-441785623

[2020-08-14 02:46] Colengms commented on #5908
@bobbrow Should the env path also be checked for a default compiler?  That may have an impact on launch time, as checking for N different names in path could be slow for some users.

[2020-08-14 03:58] prutschman commented on #2506
Looking forward to the aarch64 build!

It had looked like the embedded ld.so path was truncated, but I've tested a few other binaries on my system that are aarch64 (and load fine) and `file` also shows the same truncated path on those. So, forget I said anything.

Specifically, I was referring to this part of the output of running `file cpptools`:
`dynamically linked, interpreter /lib/ld-, for GNU

[2020-08-14 04:32] srijanc commented on #5906
Hi @Colengms I did create a fresh [repository](https://github.com/srijanc/VSC_Test) and made 3 commits for each stage. Details are mentioned in the Readme file.

It is strange and surprising that I couldn't re-create the error that I was getting previously.

VSC - CMake Tools (1.4.1)
CMake (3.10.2)

I have raised a new issue against CMake Tools [here](https://github.com/microsoft/vscode-cmake-tool

[2020-08-14 06:56] shameerariff commented on #4060
Hi Sean-mcmanus,
Te issue still persists. I have the visual code version 1.48 with C/C++ (ms-vscode.cpptools) version 0.30.0 insiders2. I do got the same error as follows
Failed to parse "/.vscode/c_cpp_properties.json": ENOENT: no such file or directory, open '/.vscode/c_cpp_properties.json'
The working environment was Ubuntu 20.04 LTS.

[2020-08-14 08:34] dbersan commented on #5963
Yes, however I think it is _ok_ to have multiple definitions of a namespace, because many places declare the same namespace, not a single one. Maybe the extension wasn't coded to handle this use case?

edit: Actually, I see that if I include something like `#include <string>`, and then type `std`, it gives me around 630 definitions, but the intelisense still works fine. I'm not sure then what is t

[2020-08-14 12:43] cfriedt commented on #2506
@sean-mcmanus - in general, most Linux distros do not support both armhf and Aarch64 - it's typically one or the other - simply to avoid duplicating libraries (multi-arch). The kernel will usually be compiled to support both executable formats though.

Looking forward to when I can test this out on my Acer Chromebook R13 :-)

Is there a link to official Aarch64 builds for code? I've been using hea

[2020-08-14 15:17] alekseyt commented on #2838
Yeah, it was ported to vscode or something and that `read -p` lives there now. I even submitted PR with attempt to introduce an option to work this around: https://github.com/microsoft/vscode/pull/72080 but it didn't get any traction whatsoever.

vscode issue where this is tracked is https://github.com/microsoft/vscode/issues/63813 (also submitted by you).

[2020-08-14 16:43] bobbrow commented on #5908
We already check the env path during the search for default compilers on linux/mac.  This issue is just about resolving `compilerPath` in `c_cpp_properties.json` so that if you put 'g++' in there, we call 'which' on it and get the absolute path before sending the configuration across to the language server.

[2020-08-14 18:03] aschlicht commented on #5773
I also would like support for the doxygen direction attributes. I'd like the hover info support as well as syntax coloring. Notice how the doxygen commented parameters are the same color as the function parameters when [in] and [out] are not present. I'd like to see the same coloring when [in] and [out] are present.

![image](https://user-images.githubusercontent.com/16124508/90195018-c264db80-dd8

[2020-08-14 20:24] maetulj commented on #5963
I am also experiencing the same problems while also using ROS. The intellisense is either not working (no tooltip) or showing all possible matches in the whole repo (not context aware). Output show nothing (set to Information).
The problems only happens with _0.30.0-insiders2_, going back to _0.29.0_ resolves the problems.

[2020-08-14 20:41] Colengms commented on #5906
Hi @srijanc .  The [repository](https://github.com/srijanc/VSC_Test) you linked does not include a `CMakeLists.txt`.  One is necessary to configure CMake, and CMake needs to be configured in order for CMake Tools to provide configurations based on it.  Was this file accidentally omitted?   If a `CMakeLists.txt` is not present, that would explain the issue in which you do not receive a configuratio

[2020-08-14 20:53] Colengms commented on #4060
Hi @shameerariff .  We are not currently tracking any known issues that result in this error, so there would seem to be something specified about your environment or scenario.  Could you open a new issue with repro details?

[2020-08-15 10:38] aoyulong commented on #5686
I have the same problem.

[2020-08-15 11:07] shameerariff opened #5966 "Failed to parse "/.vscode/c_cpp_properties.json": ENOENT: no such file or directory, open '/.vscode/c_cpp_properties.json'"
I have the visual code version 1.48 with C/C++ (ms-vscode.cpptools) version 0.30.0 insiders2. I do got the same error as follows

Failed to parse "/.vscode/c_cpp_properties.json": ENOENT: no such file or directory, open '/.vscode/c_cpp_properties.json'

The working environment was Ubuntu 20.04 LTS. The visual code application was installed via Snap package manager.

![Screenshot from 2020-08-15 16

[2020-08-15 11:08] shameerariff commented on #4060
Hi @Colengms ,
I have created a new issue, The [URL](https://github.com/microsoft/vscode-cpptools/issues/5966)

[2020-08-15 13:08] Tracker647 commented on #5926
You mean delete all .o files and .exe files? I try it,still failed.https://imgchr.com/i/dCtzS1

[2020-08-15 14:13] Trass3r opened #5967 "make processId optional"
Type: Debugger

`command:pickProcess` works well enough usually but when you are trying to attach to a short lived process it fails.
The CodeLLDB extension supports this by automatically picking the right process if there is just 1 (or maybe it even waits for the process to start which is another desirable feature).

[2020-08-15 14:41] MathiasMagnus opened #5968 "Debug UWP applications"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 (2004)
- VS Code Version: 1.48.0
- C/C++ Extension Version: 0.30.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them): CMake Tools 1.4.1
- A clear and concise description of what the bug is.

I would like to develop UWP applications in VS Code using Cpptools and CMake. As it currently stands

[2020-08-15 18:30] ReputationZH opened #5969 "cpptools of aarch64 Starting client failed"
I am now using remote SSH to connect to my raspberrypi4b, and the RPI is using Ubuntu 18.04. I downloaded the cpptools version of aarch64 from GitHub. After installing VISX, open the. C file and display the error：

error:Launching server using command /home/git/.vscode-server/extensions/ms-vscode.cpptools-0.30.0-insiders2/bin/cpptools failed.

[2020-08-15 18:31] ReputationZH commented on #5969
My device is on the Internet and would like to know how to solve this problem.

[2020-08-15 19:06] djuleayo-embroker opened #5970 "Suggestion/support ticket: Programmatically run vscode command from 'vscode' module outside of extension"
## Intro

I wrote some code generators. What I'd like to have is spec ----generate---> doc & test & code
so these are in sync as much as possible. Some applications are largely defined by models and there it would be useful.

## What I want
It would be *really reaaaally*  useful to have vscode commands at disposal in my code generators.
These are some ways I see it can be done and have semi/tried:

[2020-08-15 19:21] Spongman commented on #5029
yeah, this feature is useless in all but the simplest projects. i'm sure it works great on a stage, but in real life where it can take several minutes to complete, it's just not worth using.

[code]

[2020-08-15 23:52] AZMDDY commented on #5969
me too.

[2020-08-16 00:33] chunyang-wen commented on #5693
-------- Diagnostics - 8/16/2020, 8:30:55 AM
Version: 0.30.0-insiders2
Current Configuration:
{
    "name": "Mac",
    "includePath": [
        "${workspaceFolder}/**"
    ],
    "defines": [],
    "macFrameworkPath": [
        "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks"
    ],
    "browse": {
        "limitSymbolsToInc

[2020-08-16 00:33] #5693 closed, assigned to nobody

[2020-08-16 04:29] jaaahhhvin opened #5971 ""count" autocompletes instead of "cout" when I type <cou>."
**Type: LanguageService**
Autocomplete error.

**Describe the bug**
- OS and Version: Windows: Windows 10 1903
- VS Code Version: 1.48.0
- C/C++ Extension Version: 0.29.0
- C++ Compliler:  g++ (i686-posix-dwarf-rev0, Built by MinGW-W64 project) 8.1.0
- Other extensions you installed (and if the issue persists after disabling them): Python Intellicode and CodeRunner
- Does this issue involve using

[2020-08-16 07:09] mahyar1284 commented on #5494
@sean-mcmanus I have this problem too! When I opened my project from Linux file system, it was still too slow. and it eats my CPU. when the VSCode is connected to wsl2, in the task manager there is something that is eating my CPU. I don't know what is it but its name is "node".

[2020-08-16 08:31] Gurkarm opened #5972 "If i press Shift+Alt+F it is not formatting the project please see the issue"
[Type:](url) General

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include code sample and `task.json` files.*
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '

[2020-08-16 13:10] riju-stone commented on #805
You can kinda bypass the issue by writing,
system("pause")
at the very end of your main function. That works for me like a charm...

[2020-08-16 21:29] JensWehner commented on #1162
bump

[2020-08-17 01:41] dbersan commented on #5963
I managed to circumvent the intellisense problem using **CMake Tools** intellisense.

However, I'm still having the issue that headers can't be found, even though their folders are clearly included on the `includePath` variable in `c_cpp_properties.json`. It's crazy to me that it is that it is that difficult to look for files inside a folder.

**edit**: I saw now that the error message on the miss

[2020-08-17 04:49] avikivity opened #5973 "IntelliSense crashes with seastar/src/util/file.cc"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Fedora 32
- VS Code Version: code-1.48.0-1597305152.el7.x86_64
- C/C++ Extension Version: ms-vscode.cpptools-0.30.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them): none
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- A clear and concise descripti

[2020-08-17 07:26] ffacs commented on #5494
moving your project  to the root dir can solve this problem,its wsl2`s problem

[2020-08-17 15:37] chengyongru commented on #5972
maybe you can try ctrl+shift+i
:smile:

[2020-08-17 16:31] heartacker commented on #833
hi. any update? I have the same problem

[2020-08-17 17:55] sean-mcmanus commented on #5966
I'm not able to repro the issue. @Colengms @michelleangela Is anyone else able to repro this?

@shameerariff Are you able to workaround the issue by opening a folder? If you do Help->Toggle Developer Tools are you able to see a call stack? If you checkout https://github.com/microsoft/vscode-cpptools/tree/release and do Launch Extension, you may be able to debug the issue to see what is causing the

[2020-08-17 17:57] sean-mcmanus commented on #5966
Also, does the issue repro with 0.29.0, i.e. after changing C_Cpp.updateChannel to "Default"?

[2020-08-17 18:12] sean-mcmanus commented on #2506
@cfriedt VS Code for ARM/ARM64 is being tracked by https://github.com/microsoft/vscode/issues/6442 and https://github.com/microsoft/vscode/issues/1031 -- I don't know what their plan is. Currently, our ARM support is only via remoting to an ARM machine from a non-ARM machine, which I suspect is not what most people requesting ARM support want. The headmelted release is currently too out-of-date si

[2020-08-17 18:30] JonJust opened #5975 "Couldn't find a debug adapter descriptor for debug type 'cppdbg' (extension might have failed to activate)"
I am using VSCode to develop homebrew for the Game Boy Advance. Everything was working fine until I opened VSCode one day and the debugger stopped working.

Whenever I go to run and debug my code, this error pops up, "Couldn't find a debug adapter descriptor for debug type 'cppdbg' (extension might have failed to activate)". Sometimes, the game I am working on will pop up on the emulator before th

[2020-08-17 18:38] bobbrow commented on #5975
I think this is a fine start for an issue, but unfortunately, it does not appear to be a CMake Tools issue.  I will transfer it over to the cpptools repo where the debugger lives and see if our debugger team can help you out.

[2020-08-17 18:41] michelleangela commented on #5970
@djuleayo-embroker

This is a feature request for VS Code client. Please report the request at https://github.com/Microsoft/vscode/issues

[2020-08-17 18:41] #5970 closed, assigned to nobody

[2020-08-17 19:23] jlandess opened #5976 "Compiler Extension under clang results in intellisense errors"
**Type: LanguageService**

template<typename CharT, CharT ...String> constexpr LD::TypeString<String...> operator""_ts() noexcept
{
    //constexpr static CharT data[] = { String..., 0 };
    //static_assert(SpecialString::IsValidString(data), "not a valid string");
    return LD::TypeString<String...>();
}

![image](https://user-images.githubusercontent.com/1755496/90434493-812d3e00-e09b-11ea-91d

[2020-08-17 19:51] WardenGnaw commented on #5975
The error message [`Couldn't find a debug adapter descriptor for debug type`](https://github.com/microsoft/vscode/blob/c233bf87bcf1bf1794a6aae62b01a09506b67d72/src/vs/workbench/api/common/extHostDebugService.ts#L423) comes from VS Code itself.

However, the extension should activate on [`onDebugResolve:cppdbg`](https://github.com/microsoft/vscode-cpptools/blob/5d97af0fc139f1c4260473c7f6102d8e001af

[2020-08-17 20:16] WardenGnaw commented on #5968
For a launch scenario, there is work for VS Code C++ extension to launch the UWP app with debugging enabled.

See [Automate UWP Launch](https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/automate-launching-uwp-apps#launcher-application-1) for more information. This would also require it to be used with [DebuggingEnabled](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl_core/nf-shobj

[2020-08-17 20:18] WardenGnaw commented on #5967
Are you asking for the processId to be optional if a program name is provided?

[2020-08-17 20:19] WardenGnaw commented on #5926
Can you add the following to your launch.json and share the output from the debug console?
[code]

[2020-08-17 21:05] sean-mcmanus commented on #5969
This should be fixed with 0.30.0-insiders3 later this week -- 0.30.0-insiders2 shipped with 32-bit ARM binaries (instead of aarch64 binaries), so it only worked if your OS is able to run those.

[2020-08-17 21:08] Trass3r commented on #5967
Correct.

[2020-08-17 21:42] sean-mcmanus commented on #5963
@maetulj It sounds like you're hitting a different issue, because the original issue reproed with 0.29.0 still. Does your logging indicate crashing? Is there a particular file that has these issues? I'll see if I can get a repro.

@dhiegomaga Yes, if you're using CMake, then using CMake Tools is recommended for configuration (our team maintains that extension, although different people work on it

[2020-08-17 21:58] sean-mcmanus commented on #5971
count is std::count (http://www.cplusplus.com/reference/algorithm/count/). So it's "by design" and there's no way to remove it. The iostream library would have to not define std::count.

[2020-08-17 21:58] #5971 closed, assigned to nobody

[2020-08-17 22:10] dbersan commented on #5963
I managed to get the whole thing working after configuring the CMakeLists.txt file correctly. Previously one of the source files were not having intellisense, and that was fixed after adding the source file as a library target...

I assumed CMake Tools would look inside the **c_cpp_properties.json** for the include header path, and that's why I thought there was a bug. It's not so clear from the d

[2020-08-17 22:47] Colengms commented on #5972
Hi @Gurkarm .  I'm not able to reproduce a problem with a simple example, so there may be something about your scenario or environment that is required to repro the problem.  Could you provide:
* The version of the extension you are using (is it 0.29.0, or 0.30.0-insiders2?)
* The version of VS Code you are using.  (Is it insiders?)
* Some code that reproduces the issue.  Perhaps there is somethin

[2020-08-17 23:19] Colengms commented on #5976
Hi @jlandess .  In this case, it looks like our IntelliSense is reflecting the language rules related to user-defined literal operators.

https://en.cppreference.com/w/cpp/language/user_literal

We try to support compiler-specific language extensions, but we do not actually use the same front end compiler as clang.  If clang is accepting this code, it may be a bug in clang that it is not adhering

[2020-08-17 23:21] Colengms commented on #5976
I'm going to close this as by-design.  If you feel strongly that this should work differently, we could open an issue against VS, and let them consider it.  (The C/C++ Extension for VS Code shares code for IntelliSense with VS).

[2020-08-17 23:21] #5976 closed, assigned to nobody

[2020-08-17 23:30] bobbrow opened #5977 "Create extension pack"
- [x] Gather list of extensions (Julia)
- [x] Create extension pack (Ella)
    - https://code.visualstudio.com/blogs/2017/03/07/extension-pack-roundup

[2020-08-17 23:37] Colengms commented on #5962
@bobbrow For clang-format, I've reverted to the original behavior of only doing format-on-type for semi-colon.  However, for vcFormat, it's by-design that some formatting occurs when an open curly is typed.  In that case we call a dedicated function: `perform_format_on_open_brace()`.  I believe this behavior should be retained for vcFormat.  Let me know if that is not the case.

[2020-08-17 23:45] JonJust commented on #5975
Hi there!

By "touch a c file before trying to debug", do you mean click on the .c file that I am trying to debug before running? If so I did that and the issue persists.

Thanks!

[2020-08-18 00:00] bobbrow commented on #5621
@elahehrashedi, PR #5413 added ${workspaceFolder}/** to the `includePath` when C_Cpp.default.includePath is set.

We probably should have just set `configuration.includePath = defaultFolder` instead.

[2020-08-18 00:02] bobbrow commented on #5962
Correct, we're not changing the trigger characters for vcFormat right now.  Thanks!

[2020-08-18 00:04] WardenGnaw commented on #5975
Activating an extension is on VS Code. I have opened an issue there: https://github.com/microsoft/vscode/issues/104874

[2020-08-18 00:26] sean-mcmanus commented on #5963
When configurationProvider is used, the includePath is only used as a fallback for source files not handled by the configuration provider...not sure if that's documented anywhere. I didn't see it at https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference .

We have received other feedback in regards to configuration being difficult. I don't fully understand the issues you hit -- l

[2020-08-18 01:54] sean-mcmanus commented on #5973
What file are you opening in that project?

[2020-08-18 05:53] avikivity commented on #5973
I don't know which one I opened when I saw the crash. I did see several crashes, but afterwards the language server shuts down and reverts to the tag parser, and I don't know how to get it started back (I tried resetting the database and  restarting the extension host).

I'm happy to upload a core dump somewhere if it helps.

[2020-08-18 06:40] srijanc commented on #5906
Oh....I see. I cross verified and found that the CMakeLists.txt file was accidently removed. This happened to my main project too. I will re-create the same and see if I am still facing similar issue. Thanks heaps for pointing it out.

[2020-08-18 07:35] avikivity commented on #5973
btw, I also recommend including debug symbols with the cpp extension (of the extension itself). Many developers will not be able to resist the urge to debug it themselves, and you will get higher quality reports.

[2020-08-18 10:17] alexdewar commented on #2506
@sean-mcmanus Pleeeeease update the licence :smiley:. VS code having a permissive license means people can do their own thing that upstream might not be interested in (e.g. independently packaging it for a distro) but it's a shame that we can't then use some of these standard extensions with it.

[2020-08-18 14:07] ROVguy commented on #5051
@pieandcakes
Has there been any progress on this issue? I'm running win10 and experiencing the exact same problem as originally mentioned
Thanks

[2020-08-18 14:35] Trass3r commented on #206
For general purpose use (arbitrary address ranges) `DisassembleRequest` would need to be implemented in the adapter similar to https://github.com/microsoft/MIEngine/compare/dev/waan/readMemory.
This isn't implemented in vscode though and seems quite useless.

The important use-case is covered by https://microsoft.github.io/debug-adapter-protocol/specification#Requests_Source (vscode [implementatio

[2020-08-18 15:12] Ecordonnier commented on #4568
I managed to configure it on Debian 9 using this config in ~/.gdbinit:

[code]

[2020-08-18 15:32] mahyar1284 commented on #5494
@ffacs you mean I should move my project from "/home/mahyar/u-boot/" to "/u-boot"? what is the difference and how this can solve the problem?
both of these directories are in the linux file system. so, what's the difference?

[2020-08-18 15:41] ffacs commented on #5494
[loot at this](https://docs.microsoft.com/en-us/windows/wsl/compare-versions#use-the-linux-file-system-for-faster-performance)
[code]

[2020-08-18 17:13] mahyar1284 commented on #5494
Ok I understood it. now my project is in the root file system of Linux. but still when the visual studio code connects to the wsl, abruptly my CPU usage and power usage comes tremendously high.
Look at my task manager:
![image](https://user-images.githubusercontent.com/44326149/90543821-735ee200-e19b-11ea-93b9-2859225d8730.png)
This file from visual studio code is eating my cpu when it connects to

[2020-08-18 17:19] sean-mcmanus commented on #5897
I got a repro with VS (recent changes fixed the errors in this issue, but there are still crashes or "No IL available"). I've filed a bug at https://developercommunity.visualstudio.com/content/problem/1154128/c-intellisense-doesnt-work-with-the-gcc-102-algori.html .

UPDATE: Appears like this will be fixed in our next release.

[2020-08-18 17:30] sean-mcmanus commented on #5973
The debug symbols makes the binary very large and is unlikely to be usable by external people for debugging/diagnostics.

I can try to locate the file that is reproing the crash, but if you can enable debug logging (https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and then search for a "Failed to read response from server" message and then look for which file was being processed that wou

[2020-08-18 17:35] sean-mcmanus opened #5980 "Update license for use with non-VS Code distros (vscodium, headmelted, code-server, etc.)"
@sean-mcmanus Pleeeeease update the licence :smiley:. VS code having a permissive license means people can do their own thing that upstream might not be interested in (e.g. independently packaging it for a distro) but it's a shame that we can't then use some of these standard extensions with it.

_Originally posted by @alexdewar in https://github.com/microsoft/vscode-cpptools/issues/2506#issuecomm

[2020-08-18 17:39] sean-mcmanus commented on #5980
From the comments in regards to arm/aarch64 in https://github.com/microsoft/vscode-cpptools/issues/429 and https://github.com/microsoft/vscode-cpptools/issues/2506 it seems like there should be some sort of solution to address the case of users who want to use a local ARM machine.

The debugger disables itself and may have reason to have a stricter license than the language service component.

Wou

[2020-08-18 18:15] sean-mcmanus commented on #5494
@mahyar1284 You're using WSL1 and not WSL2. WSL1 has a bug with Ubuntu 20 in regards to "sleep" not working. It's fixed with WSL2. Our extension isn't causing that CPU usage. There's a WSL command you can run to upgrade from version 1 to version 2 (although note that the memory usage seems higher with WSL2).

[2020-08-18 18:45] Colengms commented on #5906
Hi @srijanc .  Assuming that is the issue, I'm going to close this.  If you are still seeing a problem, we can re-open this.

[2020-08-18 18:45] #5906 closed, assigned to nobody

[2020-08-18 19:10] mahyar1284 commented on #5494
aww 🤦‍♂️. Thank you 😄. I thought I have upgraded it to WSL2. but it seems I've forgot.

[2020-08-18 19:12] #5947 closed, assigned to elahehrashedi

[2020-08-18 19:33] shuffle2 commented on #5583
On Surface Pro X, it seems both native as well as remote (connected to local WSL2 instance) does not work. Is that the expected current status? I was hoping using WSL remote could be a temporary workaround.

[2020-08-18 19:41] sean-mcmanus commented on #5583
@shuffle2 We haven't released Windows ARM binaries yet. For your WSL2 scenario, do you know what architecture the Linux instance is using? armhf or aarch64? https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders2 has armhf support and partial aarch64 support, and our next 0.30.0-insiders3 will have full aarch64 support.

[2020-08-18 19:45] sean-mcmanus commented on #2755
This got fixed with https://github.com/microsoft/vscode-cpptools/issues/5885 and improved upon with https://github.com/microsoft/vscode-cpptools/pull/5954 .

[2020-08-18 19:45] #2755 closed, assigned to nobody

[2020-08-18 19:59] shuffle2 commented on #5583
The kernel in WSL2 (Microsoft-provided Ubuntu) is aarch64, and does not enable CONFIG_COMPAT. I have no idea if hyper-v actually supports running armv7 instructions in guests. Good to know support is being worked on, I'll continue using amd64 desktop for now.

[2020-08-18 20:33] sean-mcmanus opened #5982 "Investigate if onEnter formatting works well with clang-format"
We wanted to do onEnter formatting with clang-format several years ago, but it wasn't working so we just did ";" onType formatting.

We want to make sure that adding new lines is still possible.

[2020-08-18 21:17] avikivity commented on #5973
I already had logging enabled, and found this in the logs:

[code]

future.hh et al are in a submodule, so run `git submodule update --init --recursive` to populate the submodules.

My configuration:

[code]

[2020-08-18 21:18] avikivity commented on #5973
(gcc 10.2)

[2020-08-18 22:24] sean-mcmanus commented on #2506
We encourage everyone who wants to use our extension with a local ARM64 release of VS Code to upvote https://github.com/microsoft/vscode/issues/6442 . It is currently number 24 on VS Code's list of upvotes and behind releasing for ipad and Windows store.

[2020-08-18 22:26] sean-mcmanus commented on #429
We encourage everyone who wants to use our extension with a local ARM release of VS Code to upvote https://github.com/microsoft/vscode/issues/6442 . It is currently number 24 on VS Code's list of upvotes and behind releasing for ipad and Windows store.

[2020-08-18 22:34] FDCTLC commented on #714
Just for information, currently the VScode extension
https://github.com/WebFreak001/code-debug
allows to use the counting breakpoint as we would love to do with vscode-cpptools extension.

[2020-08-18 22:34] mahyar1284 commented on #5494
I switched to WSL 2 successfully and the high cpu usage problem and slowness solved. but when I open vscode, I can't save my changes to my project files.
the address of my project : `/home/mahyar/my_projects/u-boot/` (it's in the linux file system).
![image](https://user-images.githubusercontent.com/44326149/90572166-a5d30400-e1c8-11ea-90ed-72aca6c707e2.png)
what is the problem?

[2020-08-18 22:55] sean-mcmanus commented on #5494
@mahyar1284 You should install the Remote WSL extension and connect to the remote WSL instance of the folder, instead of trying to access the file from Windows.

[2020-08-18 23:35] sean-mcmanus commented on #5973
Thanks for the info. I reproed the crashes. Good news is the crashes are fixed with our pending 0.30.0-insiders3, which we'll try to release this week, but it might get delayed. Some of the crashes were related to https://github.com/microsoft/vscode-cpptools/issues/5897 .

[2020-08-19 00:15] jgoeders commented on #429
I tried out the insiders build.  It is crashing and I see these errors:
[code]

My arm system is running Ubuntu 16.04.  I believe (could be wrong) this is limited to libc-2.23.  Any suggestions?  Will this be limited to newer libc versions?

[2020-08-19 00:43] sean-mcmanus commented on #5268
Our code may also download an insider vsix, so it seems like we'll want to add an integrity check for that later, maybe as part of https://github.com/microsoft/vscode-cpptools/issues/5856 changes.

[2020-08-19 01:15] sean-mcmanus opened #5984 "ARM release has a dependency on glibc 2.27 (doesn't work with Ubuntu 16 or Debian 9)"
I tried out the insiders build.  It is crashing and I see these errors:
[code]

My arm system is running Ubuntu 16.04.  I believe (could be wrong) this is limited to libc-2.23.  Any suggestions?  Will this be limited to newer libc versions?

_Originally posted by @jgoeders in https://github.com/microsoft/vscode-cpptools/issues/429#issuecomment-675780402_

[2020-08-19 01:16] sean-mcmanus commented on #5984
@jgoeders Thanks for letting us know. I'll look into it.

[2020-08-19 03:53] joec58 opened #5985 "C_cpp_properties cppStandard Does Not Make Intellisense Use the Standard"
**Type: LanguageService**

IntelliSense for C++17 standard

**Describe the bug**
- OS and Version: Ubuntu 20.04
- VS Code Version: 1.48
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): No other C++ extensions
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

Setting c_cppProperties.json -> c

[2020-08-19 04:10] abhinav-TB commented on #3385
I have the same error in wsl

[2020-08-19 05:43] shuaixr commented on #5980
Please update the licence.I only have raspberry 4 and slow laptop(worse than raspberry.Thanks for your work.

[2020-08-19 06:00] avikivity commented on #5973
Great, thanks. Any tips on how to get code to start using the language server again? After a few crashes it backs off and doesn't want to talk to it again.

[2020-08-19 07:21] jay-pee commented on #5917
@WardenGnaw are you sure that this is a bug with c++ extension or a general vs code bug?

[2020-08-19 11:03] mahyar1284 commented on #5494
No, I have the WSL extension and connected to the remote WSL instance of my folder. when I open my project folder in windows, I can modify any file. but when I connect to wsl server, I can't modify any files in vscode.
as you can see in the below screenshot, its connected to the wsl with Remote WSL extension but cannot save or modify any files in the linux filesystem. (my project path: /home/mahya

[2020-08-19 15:07] alealv opened #5986 "Tokenization Error on symlinks files"
**Type: LanguageService**

**Describe the bug**
Version: 1.48.0
Commit: db40434f562994116e5b21c24015a2e40b2504e6
Date: 2020-08-13T07:40:55.768Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.7.9-050709-generic
C/C++ Extension Version:  0.30.0-insiders2

I have an example project and It seems when opening files from symlink locations the Tokenizer do

[2020-08-19 15:46] cttpp commented on #16
Any updates?

[2020-08-19 17:55] bobbrow commented on #16
We are still tracking this and planning to do it.  It has a dependency on some other work we are doing to further unify the codebase between VS and VS Code.  We don't have a release date for this yet, but when we know which release it will appear in, we will update the Milestone accordingly.

[2020-08-19 17:59] bobbrow commented on #5980
We are working with our legal team to evaluate our options.

[2020-08-19 18:08] sean-mcmanus commented on #5986
Yeah, I see the enhancedColorization feature not working when opening a folder that is a symlink (created from `ln -s source link`) on Linux. @Colengms

[2020-08-19 18:20] shuangma1990 opened #5988 "debugger for C"
Type: Debugger

Hello VS Code Team!
I've followed the tutorial (https://code.visualstudio.com/docs/cpp/config-clang-mac) for running and debugging C++ code. I wonder is there a tutorial on configuring VS Code for C? Are the set ups (launch.json and tasks.json files) the same for C?
I appreciate your help!

Regards,

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Versio

[2020-08-19 18:48] WardenGnaw commented on #5988
The setup is similar, you will need to use a C compiler in your `tasks.json`. The `launch.json` will be the same.

[2020-08-19 19:00] #4873 closed, assigned to elahehrashedi

[2020-08-19 20:49] sean-mcmanus commented on #5985
Yeah, tasks.json is for building (a mechanism built-in to VS Code) and c_cpp_properties.json is for IntelliSense (added by our extension) and they don't share any settings between them. The task type "shell" is generic and there's no way for our extension to know what a user would want us to update in tasks.json when c_cpp_properties.json changes...a more likely approach to unifying build and Inte

[2020-08-19 21:05] alealv commented on #5986
I don't know if it's just enhancedColorization because when running **Developer: Inspect Editor Tokens and Scopes** it does not load.
![Screenshot from 2020-08-19 23-04-08](https://user-images.githubusercontent.com/9395091/90689404-52b48c00-e270-11ea-9e71-3d116dbb8598.png)

[2020-08-19 22:35] sean-mcmanus commented on #5986
The root problem is that our IntelliSense engine is returning squiggles for the resolves symlink target instead of the original symlink path -- you can observe this by the fact that squiggles do not appear in the document, and in the problems window it shows the errors for the non-opened file (symlink target URI).

The "Loading" from Inspect Scopes appears to be because the semantic token results

[2020-08-19 22:46] sean-mcmanus commented on #5986
Ah, looks like we're tracking this issue with https://github.com/microsoft/vscode-cpptools/issues/4573 .

I'm closing this as a duplicate of that issue.

[2020-08-19 22:46] #5986 closed, assigned to nobody

[2020-08-19 23:18] sean-mcmanus commented on #5984
We built our binary using Debian Buster, which uses glibc 2.28, so Ubuntu 20 would work, but Ubuntu 16 and 18 won't.

I see Ubuntu 18 ARM builds available, which have a glibc 2.27 dependency that we could possibly build against, but I don't see an Ubuntu 16 ARM build -- how did you get Ubuntu 16 for ARM?

[2020-08-19 23:39] jgoeders commented on #5984
For context, the board I am using is a Xilinx PYNQ board (so not a raspberry PI board like most people)

I believe the Linux image was built using the files available at http://ports.ubuntu.com/ubuntu-ports/dists/bionic/ which seem to have armhf file.

[2020-08-19 23:44] sean-mcmanus commented on #5973
I would switch back to 0.29.0 until we can release 0.30.0-insiders3 (or switch to gcc 10.0, but that is probably hard to do).

[2020-08-19 23:45] bobbrow commented on #5985
#5659 gets us closer to being able to share information between `c_cpp_properties.json` and `tasks.json`

[2020-08-20 00:14] sean-mcmanus commented on #5494
@mahyar1284 Is your file read-only? This might be https://github.com/microsoft/vscode-remote-release/issues/3071 . Or it could be some other vscode-remote bug. I don't think our extension is involved with file saving. File saving works for me with WSL2/Ubuntu 20.

Or https://github.com/microsoft/vscode-remote-release/issues/3315

[2020-08-20 00:25] sean-mcmanus commented on #5984
As of now, it's looking like we probably won't support Ubuntu 16 for ARM/aarch64 due to low usage (or this issue gets more upvotes). But we plan to support Ubuntu 18 (possibly with 0.30.0-insiders4 if 0.30.0-insiders2/3 don't work).

[2020-08-20 00:32] jgoeders commented on #5984
OK, Ubuntu 18 sounds reasonable.  Thanks for the quick followup.

[2020-08-20 01:26] sean-mcmanus commented on #5973
The wide spread crashing has been fixed with our pending 0.30.0-insiders3 (e.g. config.cc), but file.cc is still crashing, so we're still investigating that.

[2020-08-20 02:41] joec58 commented on #5985
Thanks.
I filed documentation request [#3953](https://github.com/microsoft/vscode-docs/issues/3953). Should I close this issue?

[2020-08-20 07:16] avikivity commented on #5973
Thanks, I'll do that.

[2020-08-20 07:17] shameerariff commented on #5966
@sean-mcmanus Yes it is

[2020-08-20 07:27] uecasm opened #5990 "Intellisense error with anonymous namespaces"
Issue Type: <b>Bug</b>

1. Open https://github.com/uecasm/vscode_anon
2. Run "Reset IntelliSense database" and "Rescan Workspace" (just to make sure it's a clean slate).
3. Open meow_fwd.h
4. Hover the mouse over both `_Meow` and `Meow`.
5. Bug#1: `Meow` shows `<error_type>` in its tooltip.
6. Open anon.cpp.
7. Bug#2: a "problem" has now appeared on meow_fwd.h (if it doesn't, just switch back and

[2020-08-20 07:39] uecasm commented on #5990
Another way to trigger the same problem is to edit meow_fwd.h to:

[code]

In this state (reset and rescan to confirm) it will show the "ambiguous" squiggle on the typedef `_Meow` immediately, with no need to switch to different files first.

[2020-08-20 14:36] mahyar1284 commented on #5494
my files weren't read-only but I copied them again and now I can modify them in vscode. I don't know exactly what was the problem. anyways, thank you so much for helping.

[2020-08-20 17:10] lucascheuer commented on #5984
I wanted to confirm that with 0.30.0-insiders2 the intellisense doesn't work with Ubuntu 16 on ARM (odroid xu4). Debugging does work. Thanks for the development!

[2020-08-20 17:19] sean-mcmanus commented on #5973
I've reported VS bug https://developercommunity.visualstudio.com/content/problem/1157735/c-intellisense-gives-incorrect-squiggles-and-crash.html .

[2020-08-20 18:25] spacemonkd commented on #5875
I have opened a pull request with the necessary changes. Kindly review it.

[2020-08-20 19:38] deepakbabel23 commented on #5588
@pbannister ,
Thank you so much for this answer. After VSCode new C++ Extension (30), everything stopped working for me. It was a nightmare for me searching on google how to locate kernel header files in intellisense database. Your solution worked like a charm.

[2020-08-20 20:28] spacemonkd commented on #5875
Could you kindly review it if time permits? @sean-mcmanus @bobbrow

[2020-08-20 20:47] pbannister commented on #5588
Two thousand lines of code later ... should update this, since things have worked well, and have settings for both Ubuntu 20 and Centos 8.
[code]
Again, as mentioned before, the include path may vary somewhat for your kernel and distribution. To get a dump of all the compiler options (including actual include path) actually used for your kernel module build, add to your Makefile (temporarily):
[co

[2020-08-20 21:25] bobbrow commented on #4792
We're not planning to do this.

[2020-08-20 21:25] #4792 closed, assigned to nobody

[2020-08-20 21:30] #5268 closed, assigned to michelleangela

[2020-08-20 21:37] bobbrow commented on #5298
Sorry we missed this issue during our triage.  Are you still having trouble with your SSH sessions?

[2020-08-20 21:40] bobbrow commented on #5441
This issue is not caused by our extension.

[2020-08-20 21:40] #5441 closed, assigned to nobody

[2020-08-20 21:41] #5494 closed, assigned to nobody

[2020-08-20 21:44] bobbrow commented on #5547
Can you try installing the latest release? https://github.com/microsoft/vscode-cpptools/releases/tag/0.29.0
I suspect the installation was corrupted, but it sounds like you tried reinstalling the extension already.  If you're still having problems, we can validate the package resources after you install the latest version.

[2020-08-20 21:47] bobbrow commented on #5598
It appears this issue was resolved.

[2020-08-20 21:47] #5598 closed, assigned to nobody

[2020-08-20 21:48] #5600 closed, assigned to nobody

[2020-08-20 21:51] #5601 closed, assigned to nobody

[2020-08-20 21:52] bobbrow commented on #5601
Doxygen support has been release in version 0.29.0.

[2020-08-20 21:53] bobbrow commented on #5615
This scenario should be fixed in 0.30.0 (which is yet to be released).

[2020-08-20 21:55] bobbrow commented on #5641
We do not have enough information to investigate this issue further. If you continue to have issues with the extension, please try @michelleangela's suggestion and let us know if that didn't solve the problem.  Thank you!

[2020-08-20 21:55] #5641 closed, assigned to nobody

[2020-08-20 23:43] yixin0829 commented on #5547
Yes. The latest version works. Thanks

[2020-08-21 00:05] sean-mcmanus opened #5993 "ARM release has a dependency on glibc 2.28 (doesn't work with Ubuntu 18)"
Related issue is https://github.com/microsoft/vscode-cpptools/issues/5984

[2020-08-21 00:06] sean-mcmanus commented on #5984
We're tracking Ubuntu 18 support with https://github.com/microsoft/vscode-cpptools/issues/5993 .

[2020-08-21 01:05] sean-mcmanus commented on #5985
Sure, I'll close it -- we may create a new issue on further tasks.json/c_cpp_properties.json mapping if we can figure out a design for that later on.

[2020-08-21 01:05] #5985 closed, assigned to nobody

[2020-08-21 01:07] sean-mcmanus commented on #5966
Okay, this is the only report we've heard about this and we're unable to repro it, so there may be something usual with your setup or settings.

Did you try opening a folder?

[2020-08-21 02:37] sean-mcmanus commented on #5875
@devabhishekpal Yeah, thanks. This can probably get into 0.30.0-insiders4.

[2020-08-21 03:10] guyutongxue commented on #4635
I ran into the same problem. The `size_t` in `<string_view>` is squiggled. Here is the Log Diagnostics:

<details><summary>Log Diagnostics</summary>

[code]

</details>

By the way, adding `-m64` into `compilerArgs` doesn't fix this problem.

[2020-08-21 05:26] b1kjsh commented on #5298
I'm having the same issues the OP is dealing with as well. I'm working in C and C++ remoting into a mac os machine. What info do you need for this?

Here's what I get from the hover menu
![image](https://user-images.githubusercontent.com/6116228/90856285-d9d03580-e33e-11ea-85dc-b44a2bbe5f77.png)

And in my Remote extensions log I get this:

[code]

[2020-08-21 06:12] Nathaniel7687 commented on #5703
@sean-mcmanus, I appreciate your dedication to vscode-cpptools.

Is there any progress on this issue?

[2020-08-21 07:11] Creepyc1345 opened #5997 "C/C++; C++ IntelliSense --> IntelliSense not working in VSCode on Raspberry Pi 4"
**Type: LanguageService**

Hi, I am pretty new to Programming and just started to use what I learned about C on my Raspi 4 with 4GB of RAM.
I installed VSCode on it because I wanted to have the benefit of IntelliSense etc. for faster Programming.
I installed the C/C++ extention made by Microsoft, restartet Code and my Pi, but Intellisence still wouldn't work.
Then i also installed C++ IntelliSense

[2020-08-21 08:41] Misery42 commented on #429
I had the same issue on Raspberry Pi, i solved it by downloading the requested version. But this should be done carefully, it can damage the system and prevent it working properly.

http://ftp.de.debian.org/debian/pool/main/g/glibc/libc6_2.28-10_armhf.deb

sudo dpkg -i --auto-deconfigure libc6_2.28-10_armhf.deb

This works for me.

**UPDATE**
https://github.com/microsoft/vscode-cpptools/releases/t

[2020-08-21 12:32] Trass3r opened #5999 "add modules view"
Type: Debugger

As reported by gdb `i sh` command, as available in [Visual Studio](https://docs.microsoft.com/en-us/visualstudio/debugger/how-to-use-the-modules-window?view=vs-2019) and https://github.com/vadimcn/vscode-lldb/blob/master/extension/modulesView.ts.

[2020-08-21 12:57] jonstvns opened #6000 "Error squiggles don't show up in files with the C extension"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro Version 10.0.18363 Build 18363
- VS Code Version: 1.48.0
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): None
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug i

[2020-08-21 13:22] Trass3r opened #6001 "Should close or reuse internal terminal"
Type: Debugger

- OS and Version: WSL2 Ubuntu 20.04
- VS Code Version: 1.48
- C/C++ Extension Version: 0.29

For every debugging session a new internal terminal is created and stays open after debugging finished.
They should either be closed or reused.

[2020-08-21 16:56] sean-mcmanus commented on #5997
VS Code doesn't have build for ARM or Raspberry Pi. Are you using headmelted?

[2020-08-21 17:01] sean-mcmanus commented on #6000
"undeclared identifier" is not an error from our extension. Where is that coming from? I'm not able to repro the bug, so it might be caused by another extension you have installed.

[2020-08-21 17:27] astrosmurfen commented on #106
I extended the approach of rlivings39 above a bit by using the multi-comman extension
https://github.com/ryuta46/vscode-multi-command
By doing this I added inserting -exec tight after sending each command to gdb

To do this install multi command,
Add this to settings.json

    "multiCommand.commands": [
        {
            "command": "multiCommand.enterExec",
            "sequence": [

[2020-08-21 19:08] sean-mcmanus opened #6003 "detectIndentation setting isn't used with vcFormat formatting"
Use a .cpp file with code
[code]
and do formatting with vcFormat style formatting and detectIndentation set to true.

Bug: The result is 4 space tabs are added instead of using the existing 2 space tabs.

[2020-08-21 19:12] sean-mcmanus opened #6004 "Newline after an auto-closing } doesn't trigger formatting with vcFormat style formatting"
With vcFormat and formatOnType, type
[code]
that will trigger an auto }, and then hit enter.

Bug: The result is `while(true){` instead of `while (true) {` (which works in VS).

[2020-08-21 19:29] #5621 closed, assigned to elahehrashedi

[2020-08-21 20:23] Colengms commented on #6004
On-type, vcFormat will adjust the indent level, based on the following settings:
   vcFormat.indent.multiLineRelativeTo
   indent.withinParentheses

indent.withinParentheses is the only vcFormat setting that applies a behavior on-type when pressing enter.  I don't think existing code should be getting formatting when enter is pressed - I believe it should wait until a semi-colon or close-brace are

[2020-08-21 20:23] jonstvns commented on #6000
I discovered this only happens if you open the folder or workspace directly instead of through a Developer Command Prompt.

I added this to my code-workspace settings so I can open the workspace without the need to open a separate commandline first.
[code]

Errors now show up in main.c as expected when I open my workspace.

For the record, no other extensions are installed. This was a fresh vscode

[2020-08-21 20:23] #6000 closed, assigned to nobody

[2020-08-21 20:35] sean-mcmanus commented on #6004
It's the
![image](https://user-images.githubusercontent.com/19859882/90932171-f1e19c80-e3b2-11ea-81ec-6b7f9bebdfe1.png)

I'll change this to a feature request.

[2020-08-21 21:21] Colengms commented on #6004
I open a feature request in the VS Code repro: https://github.com/microsoft/vscode/issues/105193

[2020-08-21 21:31] sean-mcmanus commented on #5298
Debug logging output might help: https://code.visualstudio.com/docs/cpp/enable-logging-cpp .

SSH should work in general. If some message like "No symbols found" appears in the Outline view, it means there was some problem either parsing the file or saving the results to our database.

[2020-08-21 21:35] sean-mcmanus commented on #5703
No progress -- looks like the VS issue may need more upvotes. The team working on the parser is pretty busy adding new C++20 support and fixing issues related to that.

[2020-08-21 22:13] Colengms opened #6006 "compilerPath is squiggled if containing just compiler filename, despite resolving with environment path"
In 0.30.0-insiders*, it's now possible to specify just a compiler filename in `compilerPath`.  If the file is resolvable using the current environment paths, it will be used.  However, it's still being squiggled in c_cpp_properties.json.

Fixing this is going to require handling compilerPath differently from other paths in handleSquiggles(), in configurations.ts.

[2020-08-21 22:20] sean-mcmanus commented on #6006
The related previous PR is https://github.com/microsoft/vscode-cpptools/pull/5965

[2020-08-21 22:25] michelleangela commented on #5835
@ShenTonyM

The `Quick info operation failed: FE: 'Compiler exited with error - No IL available` error also repros on Windows. This seems to be an issue with having an incomplete list of includePaths input for the IntelliSense Engine. Similar to a compiler, IntelliSense will not have any context about what the required third party dependencies a project needs unless it is specified, other than it

[2020-08-21 23:07] sean-mcmanus commented on #5969
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders3 . If you have 0.30.0-insiders2, updateChannel set to Insiders, and autoUpdate set to true, it should auto-update.

Ubuntu 18 (glibc 2.27 minimum) support is planned for 0.30.0-insiders4: https://github.com/microsoft/vscode-cpptools/issues/5993
Ubuntu 16 or Debian 9 support is not currently planned, but you can up

[2020-08-21 23:07] #5969 closed, assigned to nobody

[2020-08-21 23:09] sean-mcmanus commented on #2506
We added aarch64 language service binaries with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders3 . If you have 0.30.0-insiders2, updateChannel set to Insiders, and autoUpdate set to true, it should auto-update.

However, it has a glibc 2.28 minimum dependency, so it will only work on Ubuntu 20 or Debian 10 unless glibc is somehow updated.

Ubuntu 18 (glibc 2.27 minimum) s

[2020-08-21 23:16] sean-mcmanus commented on #5836
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders3 .

[2020-08-21 23:16] sean-mcmanus commented on #5848
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders3 .

[2020-08-21 23:17] sean-mcmanus commented on #5897
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders3 .

Please file a new issue if you still hit other crashes in other scenarios.

[2020-08-21 23:19] sean-mcmanus commented on #5973
We fixed the 0.30.0-insiders2 regression crashes with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders3 , so you should be able to update to that (it should have some better C++20 support). The file.cc crash repros with 0.29.0 still. Let me know if you notice IntelliSense crashing with other files, because those could be different crashes.

[2020-08-21 23:23] sean-mcmanus commented on #1419
@escape0707 The formatOnType issue has been fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders3 .

[2020-08-22 01:29] andisfar opened #6007 "MultiThreaded Breakpoint Debug Crasher"
Type: Debugger

Using the latest version of the extension (as of 2020-08-21) if debugging a multithreaded c++ application, the debugger (gdb in my case) crashes after attempting to set a breakpoint.  Brakpoints can be disabled, deleted during running a multithreaded application, break points can be set/disabled/deleted before debug session starts on a multithreaded application.
Single threaded app

[2020-08-22 03:03] davystrong opened #6008 "Doc comments don't show for overloaded methods"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 2004
- VS Code Version: 1.49.0-insiders
- C/C++ Extension Version: 0.30.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them): CMake, CMake tools. Still continues after disabling both
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- Small, s

[2020-08-22 03:58] adambrickman opened #6009 "Version 0.30.0-insiders3 breaks IntelliSense completion"
**Type: LanguageService**

VSCode auto updated from 0.29.0 to 0.30.0-insiders3 and all Intellisense is now broken (on all .c files).  It just says "No suggestions". It cannot find the definition of any variables, functions, etc.  Verified that compiler path and include paths are set appropriately for cross compiling.

Going back to 0.29.0 fixes the problem (although it will then **immediately** tr

[2020-08-22 07:34] ablankenship10 commented on #429
Excited to try this out when support is added for the Jetson Nano (arm64/aarch64)!  Working with OpenCV is quite unpleasant without intellisense :)

[2020-08-22 11:04] PradKalkar commented on #6009
Hey, I am also facing the same problem. But, please can you tell me how to go back to 0.29.0 and cancel auto-updates

[2020-08-22 16:20] Rajat-S-Patel commented on #6009
First of all go to C/C++ Extension settings  then make update channel default, Then you can right click on setting symbol of C/C++ Extension from the Extension tab, on settings you can find 'install another version'. You can select previous versions like 0.29.0

[2020-08-22 16:40] Rajat-S-Patel commented on #6009
Same issue on windows, but it's working on my another system with linux

[2020-08-22 17:44] segevfiner opened #6010 "gdb not loading .gdbinit from cwd set in configuration"
Type: Debugger

**Describe the bug**
- OS and Version: macOS 10.14.6 (Remote Development on C++ Debian Buster template)
- VS Code Version: 1.48.1
- C/C++ Extension Version: 0.29.0

VS Code C/C++ gdb debugger integration doesn't try to load `.gdbinit` in the working directory/project root like invoking `gdb` from the CLI does.

**To Reproduce**
*Please include a code sample and `launch.json` config

[2020-08-22 18:34] avikivity commented on #5973
Switched, from a quick look-around things work well. Thanks a lot.

[2020-08-22 18:34] #5973 closed, assigned to nobody

[2020-08-22 19:46] hgonomeg commented on #6009
Same here on openSUSE Tumbleweed.

[2020-08-22 20:48] prashantjain25 commented on #2506
The Code formatting is not working, installed ".vsix" offline.

[2020-08-23 05:08] BullShark commented on #542
So did I download the wrong software? I don't usually develope something for Windows unless it's cross platform like Java.

I have VSCodium, but it was seriously lacking features. Then somebody told me that it's only an editor with syntax highlighting, and that was it. They said I needed Visual Studio Coder? I want documentation for function calls/api calls, etc. inside the code editor.

[2020-08-23 07:26] segevfiner opened #6011 "Trying to set a breakpoint in a running program that uses sigwait with SIGINT causes the program to exit"
Type: Debugger

**Describe the bug**
- OS and Version: macOS 10.14.6 (Remote Debugging on Debian Buster C++ template)
- VS Code Version: 1.48.1
- C/C++ Extension Version: 0.29.0

Trying to set a breakpoint in a running program that uses sigwait with SIGINT causes the program to exit. This is caused by VS Code sending `SIGINT` that gets caught by the program instead of gdb due to a long standing in

[2020-08-23 14:17] yihuajack opened #6012 "C++ wrong syntax check"
Issue Type: <b>Bug</b>

I use C/C++ extension in Windows environment. Using CMake to build is successful and the executable file gives the correct answer, but it wrongly shows me four syntax errors. I have included <iostream> and using namespace std but it still tells me that cin is unrecognizable identifer, and the operator << also not matched. Besides, it tells me the class vector has no proper

[2020-08-23 14:28] xuancong84 commented on #5159
I also encounter the same problem. It is not related to issue #5146 and its workaround does not work here.

[2020-08-23 15:06] GrayJack opened #6013 "Semantic colorization should distinguish between declaration and use"
**Type: LanguageService**

- OS and Version: Linux 5.9.X
- VS Code Version: 1.48.0
- C/C++ Extension Version: 0.30.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them): None related to C/C++
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

I got myself wanting in my theme to give a color only to the parameter definit

[2020-08-23 22:48] spacemonkd commented on #5875
Can we close the PR for this issue? 😅 @sean-mcmanus

[2020-08-24 05:34] Creepyc1345 commented on #5997
Yes, i'm using headmelted.
I'm sorry for my late answer, but I can only access my GitHub from my PC at work.

[2020-08-24 05:57] cakel opened #6014 "How can I see the the return value of function in WSL(ubuntu) ?"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 x64 (recent patched 1909 with WSL2)
- VS Code Version: 1.48.1
- C/C++ Extension Version: 0.29
- Other extensions you installed (and if the issue persists after disabling them):

(I don't know, it's bug or not), I'm new to VS Code C debugger. During trial, I have a question.
I made a simple factorial function and ran debugging. It ra

[2020-08-24 07:10] MathiasMagnus commented on #5968
@WardenGnaw Thank you for your answer.

- Attaching to a process is clumsy (requires inserting waiting on `std::cin` for instance to halt the app until attach happens) and isn't the fastest edit-build-debug loop out there.
- The launcher app seems like a viable workaround, it does demonstrate the need of rituals and incantations around UWP that turns developers down.
  - _(I'm trying to compile th

[2020-08-24 08:03] hidara2000 commented on #4531
a bit of a hack but worked for me

add the following to launch.json configs

        {
            "name": "valgrind",
            "program": "${env:HOME}/templates/valgrind_complete",
            "cwd": "${workspaceFolder}",
            "type": "cppdbg",
            "request": "launch",
            "preLaunchTask": "valgrind C"
        }

and the following to tasks.json
        {
            "lab

[2020-08-24 09:00] marco-fam commented on #6009
**Additional comments:**
I am getting the following debug output from the cpp extension:
textDocument/hover: file:///software/repo/alarm/alarm/main_tree_test.cpp (id: 18)
Quick info operation failed: FE: 'Compiler exited with error - No IL available'
using Tag Parser for quick info

I have verified that the intellisense breaks when updating from 0.30.0-insiders2 to 0.30.0-insiders3

Using gcc comp

[2020-08-24 17:32] spacemonkd commented on #5871
Can someone check the code for the PR🥺 @bobbrow @Colengms

[2020-08-24 17:50] #2938 closed, assigned to nobody

[2020-08-24 17:51] michelleangela commented on #3166
Closing as no repro.

[2020-08-24 17:51] #3166 closed, assigned to nobody

[2020-08-24 17:52] michelleangela commented on #6008
This is related to https://github.com/microsoft/vscode-cpptools/issues/2206

[2020-08-24 18:24] davystrong commented on #6008
Ok, I've upvoted that issue. Thanks for your response! Do you know of any issue for vscode itself?

[2020-08-24 18:48] sean-mcmanus commented on #2506
@prashantjain25 You're likely hitting https://github.com/microsoft/vscode-cpptools/issues/5958 . libtinfo5 needs to be installed (as a workaround).

[2020-08-24 18:50] sean-mcmanus commented on #542
@BullShark You should download Visual Studio Code and the C/C++ extension.

[2020-08-24 18:57] sean-mcmanus commented on #6012
We need more info. Most likely something configured incorrectly in regards to your system includes. Can you provide the output of running the C/C++: Log Diagnostics command?

[2020-08-24 19:01] WardenGnaw commented on #6014
Duplicate Feature Request of https://github.com/microsoft/vscode-cpptools/issues/3214

[2020-08-24 19:01] #6014 closed, assigned to nobody

[2020-08-24 19:09] sean-mcmanus commented on #6013
I don't see any bug. Can you provide screenshots of the bug with a C/C++ example instead of java?

![image](https://user-images.githubusercontent.com/19859882/91085569-8130bf00-e602-11ea-8774-d6e65f8f55e5.png)

[2020-08-24 19:24] WardenGnaw commented on #6001
We can make this a configurable settings option, default to true to always keep the terminal window open after the debug session.

To implement this: We could save the [PID from the RunInTerminalResponse](https://github.com/microsoft/MIEngine/blob/4c21dbdfc7fc7e0985d003830c1415ce97b41683/src/OpenDebugAD7/AD7DebugSession.cs#L602) and when the debug session stops, check the setting and if `keep wind

[2020-08-24 19:44] elahehrashedi opened #6016 "Differentiate between the "extension provided tasks" and "user tasks in tasks.json file""
Upvote the issue opened in Vs Code: https://github.com/microsoft/vscode/issues/105012
The description is in the below:

[2020-08-24 19:51] Colengms commented on #6013
I believe the request here is to identify the parameter declaration using a modifier (`declaration`) so it can be distinguished from from use of that parameter, and given a different color.

We share IntelliSense code with VS, including the code to identify semantic tokens.  It does not current distinguish between declaration and use for this, or various other tokens.  VS does not generally color

[2020-08-24 20:02] bobbrow opened #6018 "Add a command that creates an EditorConfig file based on VC formatting settings"
**Type: LanguageService**

[2020-08-24 20:04] sean-mcmanus commented on #5997
@Creepyc1345 What version of the C/C++ extension does it show is available? From https://github.com/headmelted/codebuilds/issues/128 , I think the headmelted distro is too out of date to run the latest version of our extension (in addition to our license  currently not allowing it). And ARM binaries are currently only available from our offline vsix at https://github.com/microsoft/vscode-cpptools/

[2020-08-24 20:10] GrayJack commented on #6013
I updated the to show a C image and @Colengms got what I meant :smile:

[2020-08-24 21:25] WardenGnaw commented on #5968
This would be scenario 1. There is a lot of work required to get C++ UWP deployment + debugging to working in VS Code. However, the main focus for the C++ debugger is cross platform scenario.

Unless there is a large demand for this feature to be in VS Code, we recommend using Visual Studio for UWP C++ debugging.

Please mark the top issue comment with a 👍 to vote for this feature.

[2020-08-24 22:00] sean-mcmanus commented on #6009
You should be able to change the C_Cpp.updateChannel setting to "Default" to switch to 0.29.0.

We don't have a repro yet for the 0.30.0-insiders3 IntelliSense regression. Does anyone have a minimum repro?

[2020-08-24 22:04] elahehrashedi commented on #6016
Configure Task Command shows a list of "extension provided tasks" and "user tasks in tasks.json file".
When a user creates a task, the name will be the same as what extension suggests for the provided tasks. As a result, "extension provided tasks" and "user tasks in tasks.json file" will end up having the same names, unless the user changes the names.

For example, this is a list of extension prov

[2020-08-24 22:24] sean-mcmanus commented on #6009
@adambrickman Did 0.30.0-insiders2 work? Can you compare the log diagnostics output with 0.29.0 to see what is different? We added support for native ARM IntelliSense with 0.30.0-insiders3, but there might be some issue when cross-compiling for ARM.

[2020-08-25 02:41] lixin-wei opened #6019 "[Debuger][Remote SSH]Current working dir is wrong"
Type: Debugger

**Describe the bug**
- OS and Version: Client: macOS 10.15.6, Server:  Linux 3.10, with remote development plugin.
- VS Code Version: 1.48.0
- C/C++ Extension Version: v0.30.0-insider2

When I debug in remote ssh mode, I met the following error:
![image](https://user-images.githubusercontent.com/19600697/91116386-d16d5700-e6be-11ea-836b-c43cc3b95fc9.png)

It seems that the current

[2020-08-25 04:18] sean-mcmanus commented on #5984
Ubuntu 16 OS on ARM will be supported in our next Insiders release...even Ubuntu 14 and CentOS 7, i.e. we take glibc 2.17 dependency like our other Linux binaries.

[2020-08-25 05:03] Creepyc1345 commented on #5997
@sean-mcmanus As you already said, I was trying to install 0.29.0. Sadly I am not able t connect via Remote because of the networking done in the company I work at, but i will be shure to talk to them. I also upvoted the post you linked, would be really nice to see an offical Support for ARM processors.
Before I close this I want to thank you for your support, as you probally can tell this is my f

[2020-08-25 05:22] sean-mcmanus commented on #5997
There's a VS Code issue on Android at https://github.com/microsoft/vscode/issues/94243 .

[2020-08-25 07:40] DeadRabbits307 opened #6020 "Markdown comment support for tooltip display of hover"
**Type: LanguageService**

Like the support for doxygen documentation (#658) the support for Markdown would be nice. Like in Rust:

![2020-08-25-091128_1278x674_scrot](https://user-images.githubusercontent.com/33861896/91145912-78012a00-e6b6-11ea-9e98-3dd8d04e89c6.png)

![2020-08-25-093703_1278x1380_scrot](https://user-images.githubusercontent.com/33861896/91146105-b860a800-e6b6-11ea-9958-2a9c87a8

[2020-08-25 11:24] yihuajack commented on #6012
[Log Diagnostics (CMake & CMake Tools Disabled).txt](https://github.com/microsoft/vscode-cpptools/files/5123400/Log.Diagnostics.CMake.CMake.Tools.Disabled.txt)
[Log Diagnostics (MSVC Clang 10.0.0).txt](https://github.com/microsoft/vscode-cpptools/files/5123401/Log.Diagnostics.MSVC.Clang.10.0.0.txt)
[Log Diagnostics (VS 2019 Release - amd64).txt](https://github.com/microsoft/vscode-cpptools/files/5

[2020-08-25 12:50] iskettan opened #6021 "Add telemetry around the database integrity check"
Hello everyone,

I have recently started using vscode for c++ remote development.

I am facing an issue that I don't know if it's the normal behavior or not.

Every time I open vscode, it says discovering files, and it takes about 20 minutes to finish discovering my project files. Then, it starts parsing the files, and it takes about 10 hours to finish parsing 100,000 files.
The problem is that ev

[2020-08-25 16:43] WardenGnaw commented on #6019
How are you building the program you are debugging? GDB provides the location of the symbol for the debug adapter to use and we will return that to VS Code to open. The symbols for the process you are debugging is finding that direct_actor_transport.cc was built in `/proc/self/cwd/src/`.

To work around how the symbols paths are returned, you can use [sourceFileMap](https://code.visualstudio.com/d

[2020-08-25 16:45] SPAstef opened #6022 "C11 keywords support"
In the current version of the extension, support for C11 keywords such as _Alignas, _Alignof, _Generic, etc. is quite weird:
1) C11 keywords with arguments are not colored like keywords, but like "function calls" by the semantic colorizer engine.
2) Most C11 keywords are not suggested by intellisense, although they are evaluated by the "floating snippet".
3) The keyword _Atomic is actually suggest

[2020-08-25 16:56] sean-mcmanus commented on #6020
VS Code inherently supports markdown in doc comments, but we added code to explicitly disable/escape it for code that has comments that are not intended to be interpreted as markdown. We'd need to add a setting to re-enable the markdown.

[2020-08-25 17:17] sean-mcmanus opened #6024 "Custom configuration browse.path is still used after a configuration provider extension is disabled"
It's using the cached configuration browse.path...not sure if there's a way to check if the configurationProvider is disabled or not. I saw this in the logging at https://github.com/microsoft/vscode-cpptools/issues/6012#issuecomment-679966603 .

[2020-08-25 17:21] sean-mcmanus commented on #6012
Are you compiling your code with cl.exe or clang-cl.exe? CMake Tools think you're using clang-cl.exe (you could use the CMake: Scan for Kits and Select a Kit to change that).

If you want to disable the CMake Tools extension, you'll also want to remove `"configurationProvider": "ms-vscode.cmake-tools",` because of issue https://github.com/microsoft/vscode-cpptools/issues/6024 .

[2020-08-25 17:27] sean-mcmanus commented on #6012
This issue looks similar to https://github.com/microsoft/vscode-cpptools/issues/5456 . Our extension or CMake Tools might not be handling the clang-cl scenario correctly. And https://github.com/microsoft/vscode-cpptools/issues/5031

And https://github.com/microsoft/vscode-cpptools/issues/3387 looks related.

[2020-08-25 17:44] Azthenix opened #6025 "${fileDirname} not working as a predefined variable"
Issue Type: <b>Bug</b>

First time reporting an issue here so pardon if I do something wrong.

I don't know how to reproduce the bug because I don't really know what caused it or if it was already there in the first place.

So I tried to setup my VSCode for C projects with MinGW on windows and tried to use the ${fileDirname} to set it up on the c_cpp_properties.json.

But it doesn't show as a path

[2020-08-25 18:00] sean-mcmanus commented on #6021
What version of our extension are you using?

It's not normal. It means something prevented the database from shutting down cleanly, such as an abnormal shutdown of our extension. If you set C_Cpp.loggingLevel to "Debug" you can see database messages like "Database safe to open" or "Warning: Database safety check failed. Recreating database.".

You may want to add some paths to files.exclude to pr

[2020-08-25 18:12] sean-mcmanus commented on #6025
We haven't implemented support for that variable yet. See https://github.com/microsoft/vscode-cpptools/blob/master/Extension/src/common.ts#L348 for variables that are currently handled. It works in tasks.json and launch.json though.

If you can provide an example of how you intend to use `${fileDirname}` in c_cpp_properties.json we could make sure that that case is handled.

[2020-08-25 18:22] sean-mcmanus commented on #6025
https://github.com/microsoft/vscode-cpptools/issues/5625 is a closely related issue.

[2020-08-25 18:47] kchoo1118 commented on #5800
I have the same problem on a mac.
It worked fine for clang but could not do gcc.

[2020-08-25 18:58] Colengms commented on #6022
Hi @SPAstef .  The C/C++ Extension provides semantic colorization.  However, these are not semantically detected identifiers (unless implemented as macros), these are language keywords.  Colorization for language keywords comes from VS Code and it's TextMate language grammar.  That grammar for C/C++ is contributed by this repro: https://github.com/jeff-hykin/cpp-textmate-grammar  That grammar is a

[2020-08-25 19:07] sean-mcmanus commented on #6022
I think proper handling of C keywords is being tracked by https://github.com/jeff-hykin/cpp-textmate-grammar/issues/70 .

[2020-08-25 19:08] SPAstef commented on #6022
Hi, and thanks for the reply!
So you're saying that basically nothing of this has to do with the C/C++ extension, but rather VScode itself or Textmate, so I should report this issue to them, right? Do you think the extension you mentioned is likely to fix these issues (granted, it's not something one can't live without! Just I think it would be nice having full support for C11 (considering it's al

[2020-08-25 19:10] dhruvrawat101 opened #6027 "graphics.h supported?"
I was trying to use graphics.h by adding it manually.But getting error related to update include path ,Squiggles are disabled ignoring the fact graphic file is just inside the folder . Tried including using this way -#include"C://Users/lenovo/Desktop/CG/graphics.h" , still getting the same error.

Is graphic.h not supported or I am doing wrong in including the file

[2020-08-25 19:11] SPAstef commented on #6022
Ok I'll give it a look, thanks

[2020-08-25 19:13] sean-mcmanus commented on #6022
"_Alignof" was intentionally omitted from our keyword completion, because the recommended style is to use
`#include <stdalign.h>` with `alignas` or `alignof`, although we should remove `alignof` and `alignas` as keywords, because they're duplicates of the macros in those headers (and not keywords in C).

[2020-08-25 19:23] SPAstef commented on #6022
I read the issue you linked. Mixing C and C++ IMHO is never a good thing, especially considering the completely different pace at which C++ moves and the orders of magnitude of complexity in its grammar. It's almost like mixing Java and JavaScript grammars since they have a similar name...

[2020-08-25 19:38] adambrickman commented on #6009
Hi @sean-mcmanus ,
I installed 0.30.0-insiders2 by downloading https://github.com/microsoft/vscode-cpptools/releases/download/0.30.0-insiders2/cpptools-linux.vsix and installing manually.  It seems this version is OK.
Thanks,
Adam

[2020-08-25 19:54] sean-mcmanus commented on #6027
Try adding `"C://Users/lenovo/Desktop/CG"` to your "includePath" property in c_cpp_properties.json and then use `#include <graphics.h>`.

[2020-08-25 20:03] sean-mcmanus commented on #6009
Which features of IntelliSense are broken? Just completion? Does go to definition on local variables work? Or hover over "auto" or numbers?

Is anyone able to identify repro requirements? Does it work with simpler projects? Is this only on Linux? Is it only with arm IntelliSense modes? Does it only repro with C and not C++?

[2020-08-25 20:29] sean-mcmanus commented on #6008
We're currently only show doc comments for the "active signature", but for when the overloads differ by type, we end up choosing the wrong overload (i.e. https://github.com/microsoft/vscode-cpptools/issues/2206).

We intentionally skipped sending additional overload doc comments because it potentially could take too long. We had the idea of sending the doc comments if they able to get computed in

[2020-08-25 20:34] adambrickman commented on #6009
* completion - broken
* go to definition - works, for both local variables and variables declared elsewhere (perhaps in some include file that's not even open)
* Not sure what you mean, hover over "auto"?  It does look like if I hover over a field in a struct, I'll get the backing information:
![image](https://user-images.githubusercontent.com/13487968/91224341-97647b00-e6e7-11ea-84bd-bb5119e0529e

[2020-08-25 20:55] davystrong commented on #6008
Ok, thanks!

[2020-08-25 21:12] ryanpholt commented on #6009
I'm also having this issue. For me, it seems like everything works except autocomplete. Specifically, autocomplete seems to work once for a given file but then it never works for that file again unless I relaunch VSCode.

I do not have this problem if I revert to 0.29.0 -- autocomplete always works. I cannot try 0.30.0insiders2 because of https://github.com/microsoft/vscode-cpptools/issues/5848.

[2020-08-25 22:35] tariqawni opened #6029 "Cannot find "C:\\mingw32\\bin\\gcc.exe"."
how can i solve this i am a new in vscode and trying to learn c++ Cannot find "C:\\mingw32\\bin\\gcc.exe".
![Untitled](https://user-images.githubusercontent.com/50630306/91234695-78440880-e73c-11ea-8501-8082f5fdc37a.jpg)

[2020-08-25 22:42] sean-mcmanus commented on #6029
Does `C:\mingw32\bin\gcc.exe` exist? You need to use some mingw installer to install it (possibly at a different location).

[2020-08-25 22:49] tariqawni commented on #6029
i install it and add it in path my system is windows 10 64bit and i download a system installer vscode and this mingw http://www.mingw.org/

[2020-08-25 22:57] bobbrow commented on #6029
I thought for sure that that installer put it in c:\mingw, not c:\mingw32 by default.

[2020-08-25 23:44] sean-mcmanus commented on #6009
Can someone who is reproing this see if adding `"C_Cpp.intelliSenseCacheSize": 0` fixes it?

We haven't been able to find a repro yet:

![image](https://user-images.githubusercontent.com/19859882/91238387-c2ec6300-e6f1-11ea-9725-adedf925568e.png)

[2020-08-26 00:08] tariqawni commented on #6029
ok what i should to do could u tel me step by step

[2020-08-26 00:21] sean-mcmanus commented on #6029
I don't understand. Are you able to compile? Do you think this is a bug with our extension?

[2020-08-26 00:51] tariqawni commented on #6029
of course no but i am saying i am a new in c++ i start to learn this language today and some people they told me the best program to learn is vscode and when i download it i got this error so i ask to help

[2020-08-26 00:55] sean-mcmanus commented on #6029
Have you seen the docs at https://code.visualstudio.com/docs/cpp/config-mingw ?

[2020-08-26 00:57] adambrickman commented on #6009
@sean-mcmanus  Thanks for helping investigate this thoroughly, it is appreciated.  I tried "C_Cpp.intelliSenseCacheSize": 0 and the problem still exists.  I did also try 'Reset the IntelliSense database', and opening the base repository folder as a new workspace, but no luck.

Have you tried to repro on a reasonably large repository? Linux kernel make a good test case - it is large but not to the

[2020-08-26 01:00] tariqawni commented on #6029
no this is the first time and thank you so much i fix it with this new Mingw i delete the first one i use it from my system and when i download this it seem working good now thank you so much  http://mingw-w64.org/doku.php/download/mingw-builds

[2020-08-26 01:35] sean-mcmanus commented on #6009
I'm not reproing the issue with linux/arch/alpha/boot/tools/mkbb.c (with gcc 10.2). Do you know a particular file that has a problem? I could try other files tomorrow.
![image](https://user-images.githubusercontent.com/19859882/91244552-727d0180-e701-11ea-8002-9902bf8865d9.png)

[2020-08-26 02:50] JaynishMandalia opened #6030 "Color changing"
Hello there, I've been using VS code about a year now and new update is not so good. In c++ whenever we define string class or vector the color coding is not changing as it was changing before update (Keep this in mind) it looks so irritating please let me know about this extension what am I supposed to do with it as soon as possible........ And one more thing it's not showing me the suggestions f

[2020-08-26 03:44] Azthenix commented on #6025
I noticed this as well.

[code]
I want to be able to run and debug the file with the specific includes of the project folder and also be able to quickly switch between projects without changing my workspace.

![image](https://user-images.githubusercontent.com/48949581/91252464-3ba1fc80-e790-11ea-94a0-26e8b8d7e49f.png)
For example, in this picture I have a 'C' folder as the workspace folder and 'sa

[2020-08-26 04:42] yueyingjuesha commented on #69
Not working+1, my gdb launch.json looks like this:
[code]
can't not display the contents of stl, using vscode on winodows 10 using WSL 2

[2020-08-26 04:46] Creepyc1345 commented on #5997
@sean-mcmanus Thanks again for your support. I am going to close the issue now. :)

[2020-08-26 04:46] #5997 closed, assigned to nobody

[2020-08-26 04:47] escape0707 commented on #69
@yueyingjuesha From what source did you installed your gdb? I'm using Mingw-w64 8.1.0.0 with Windows 10 and VSCode stable + cpptools stable and have no issue. I'm also using WSL 2 and ArchLinux with all latest packages and still no issue.

[code]

[2020-08-26 10:20] sparkkk commented on #3829
@sean-mcmanus
@WardenGnaw
Sad to tell you that i encountered the same issue with @THE-NAMELESS-SPECTRE on 0.29.0

my log:
`--> E (output): {"type":"event","event":"output","body":{"category":"telemetry","output":"VS/Diagnostics/Debugger/Launch","data":{"VS.Diagnostics.Debugger.ImplementationName":"Microsoft.MIDebugEngine","VS.Diagnostics.Debugger.EngineVersion":"16.5.10630.1","VS.Diagnostics.Debug

[2020-08-26 10:21] teodorrd27 commented on #2946
Any updates on this? It's been a couple of years.

[2020-08-26 10:51] yihuajack commented on #6012
It seems that this problem occurs both when using cl.exe (Visual Studio 2019 Release - amd64) and clang-cl.exe, and both compiler can successfully compile my program. In addition, I update MSVC Clang version to 10.0.1 and this problem also occurs. Besides, in my VSCode, the setting "configurationProvider" is blank and I do not know why it appeared in log diagnostics.

[2020-08-26 10:58] sparkkk commented on #5883
@THE-NAMELESS-SPECTRE I had exactly the same issue with you.
I tried to downgrade the cpptool to 0.27.0 and it worked!

[2020-08-26 12:18] iskettan commented on #6021
Thank you for your response.
I am using C/C++ Intellisense, Debugging, and code browsing V0.30.0-insiders3

I noticed something, after it finishes parsing all the files, when I open any file, it says "updating intellisense", and I believe it gets stuck, and when I close it, it rebuilds its database.

I am wondering why would it get stuck at updating intellisense.

Thanks,
Ibrahim

[2020-08-26 12:29] jdbrice commented on #4444
I too have this problem on a large project with many nested directories of packages. What information can I provide that would help to diagnose?

C/C++ tools : v0.30.0-insiders3

Version: 1.48.1
Commit: 3dd905126b34dcd4de81fa624eb3a8cbe7485f13
Date: 2020-08-19T17:09:41.484Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 18.7.0

[2020-08-26 13:21] Trass3r commented on #557
For watch variables and natvis you can use format specifiers. See microsoft/MIEngine#1031.

[2020-08-26 14:29] dhruvrawat101 commented on #6027
I have already done this step, still same issue.

[2020-08-26 16:14] Trass3r commented on #2130
There are too many options for reverse debugging in gdb alone: https://sourceware.org/gdb/onlinedocs/gdb/Process-Record-and-Replay.html
And you probably want https://rr-project.org/ instead anyway since it's way faster.
It needs to be done in `setupCommands`.

This is indeed a fundamental problem. https://microsoft.github.io/debug-adapter-protocol/specification#Requests_Launch comes after initiali

[2020-08-26 16:55] bobbrow commented on #5997
@Creepyc1345 if you are doing GitHub development, there is a new service under development called "CodeSpaces" that lets you use VS Code in a browser on any device/tablet you choose.  https://github.com/features/codespaces

[2020-08-26 17:45] sean-mcmanus commented on #6030
What version of the C/C++ extension are you using? What version is behaving correctly for you? VS Code has the "Install Another Version..." option for extensions, but you may need to change the autoUpdate setting to false to prevent an autoupdate to the latest version.

Do you see any "Failed" messages in the C/C++ logging?

By "color coding" not changing do you mean the C_Cpp.enhancedColorization

[2020-08-26 18:50] sean-mcmanus commented on #2946
No update -- only 3 votes at https://developercommunity.visualstudio.com/content/problem/413562/cc-intellisense-autocomplete-does-not-display-vari.html

[2020-08-26 19:00] sean-mcmanus commented on #6021
Do you see the cpptools or cpptools-srv processes using CPU when it says "updating IntelliSense"? If not, there could be a thread deadlock that is then causing shutdown to not properly occur.

One thing to try is to change the includePath setting from "${workspaceFolder}/**" to "${workspaceFolder}" in case there a problem handle the recursive includes feature when opening a file.

[2020-08-26 19:12] adambrickman commented on #6009
That file repros for me.  Going back to 0.30.0-insiders2 is OK.

[2020-08-26 19:16] iskettan commented on #6021
The cpptools process was not using any cpu. However, I noticed that there was more than one cpptools process.

I did 4 things and it looks like it solved the issue. I am not sure which one of the steps is the one that solved it.

1) I killed all the cpptools processes.
2) I set limitSymbolsToIncludeHeaders to true.
3) I specified the databaseFilename to a location inside the ${workspaceFolder}.
4)

[2020-08-26 19:18] Colengms opened #6031 "vcFormat on-Enter leaves lines with trailing white space"
When Enter is pressed on a line containing only white space, VS Code's `editor.trimAutoWhitespace` setting causes that white space to be removed.  When using vcFormat, this functionality is circumvented, leaving behind lines containing only white space..

This is not an issue for vcFormat in VS, due to VS using virtual character positions.

To address this, we should check the `editor.trimAutoWhit

[2020-08-26 19:30] sean-mcmanus commented on #4444
@jdbrice Output of C/C++: Log Diagnostics might help. Or some sample project that repros the bug.

[2020-08-26 19:32] sean-mcmanus commented on #6027
What is the exact error message that is being shown? Can you provide the output from C/C++: Log Diagnostics, in particular, does that CG path appear in the "Includes" output?

[2020-08-26 19:51] sean-mcmanus commented on #6021
Yes, a dangling cpptools process can maintain a lock on the database, which could cause the extension to try to create a new database file (i.e. starting over). limitSymbolsToIncludedHeaders is recommended to be true (if it was false, that could case a lot more parsing of all the system headers, potentially everything under /usr/include).

[2020-08-26 20:03] Colengms opened #6032 "In multiroot, settings of the first folder are used rather than resource-inspecific settings"
When using multiroot, resource-scope settings may provide different (not resource-specific) values, when queried without a URI or with a URI not within a workspace folder.  We should be using those settings if operating on a file that is not withing one of the workspace folders.  However, for various settings (i.e. vcFormat setting), the settings for the first folder are being used instead of usin

[2020-08-26 20:09] sean-mcmanus commented on #6009
Just to double-check, there is "normal" logging messages after "Offering completion", right? We just want to confirm that the processes are stuck.

My (non) repro is with Ubuntu 20 and arm-linux-gnueabihf-gcc (Ubuntu 9.3.0-10ubuntu1) 9.3.0, not sure yet if the OS or gcc versions are important for the repro.

[2020-08-26 20:16] adambrickman commented on #6009
It will continue to log but that is the last message I see after I ctrl+space, until I do something else.

I don't think the gcc version is important, since I'm only using VS Code as a smart editor. I use the terminal to do the actual compiling.  OS _may_ be important, not quite sure on that front.

[2020-08-26 20:50] sean-mcmanus commented on #6009
I tried the linaro gcc 7.5 arm compiler and I'm still not reproing it.
![image](https://user-images.githubusercontent.com/19859882/91354656-e5d65000-e7a1-11ea-87eb-c8a408d321a6.png)
Does your C/C++: Log Diagnostics output match mine?

[2020-08-26 20:58] sean-mcmanus commented on #6009
Looks like I got a repro with linux/arch/alpha/boot/tools/objstrip.c . I'm investigating...

[2020-08-26 21:13] danlehmann commented on #5583
Just my 2 cents: It would be nice to prioritize this higher. Windows-arm (e.g. Surface Pro X) still has very few applications and as someone who'd like to at least port my own things over I was quite surprised to see how even most developer tools don't even work on the device. Having a good C++ IDE would go a long way in improving this ecosystem.

[2020-08-26 21:22] bobbrow commented on #5583
@danlehmann you may not have noticed, but we assigned this to the next release milestone after the current one.  That puts the expected release date around the end of October, though if you join the Insiders program you will likely see it sooner.

[2020-08-26 21:22] sean-mcmanus commented on #6009
The problem I'm seeing seems to be caused by the usage of "${workspaceFolder}/**", which places the recursive includes after the system includes. If your workspace uses `#include` that matches a system include when it's supposed to match a workspace file instead, that could lead to our parser hitting some abnormal state. The issue got fixed after I replaced the recursive include by a list of the i

[2020-08-26 21:25] danlehmann commented on #5583
Thank you @bobbrow, that's great to hear! Time to become an insider in that case :-)

[2020-08-26 21:33] Colengms commented on #6031
It looks like the issue is that `trimAutoWhitespace` applies to whitespace 'auto' injected by VS Code.  So, if it's not injecting it, it's not trimming it.  Unfortunately, if we try to address this in on-type formatting by removing the whitespace ourselves, we race with user edits.  If the user briefly holds down Enter (not an uncommon scenario), many of those edits are processed before we get a c

[2020-08-26 23:11] Pashadaniyal commented on #5825
how to solve this issue

[2020-08-26 23:12] Pashadaniyal opened #6033 "unable to launch bash terminal"
Issue Type: <b>Bug</b>

vs code #5825

Extension version: 0.29.0
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:14:14.576Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)2 Duo CPU     P8700  @ 2.53GHz (2 x 2527)|
|GPU Status|2d_canvas: unavailable_software<br>flash_3d: disabled_so

[2020-08-26 23:19] Pashadaniyal opened #6034 "unable to launch bash terminal"
Issue Type: <b>Bug</b>

when i click on new terminal it is not opening

Extension version: 0.29.0
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:14:14.576Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)2 Duo CPU     P8700  @ 2.53GHz (2 x 2527)|
|GPU Status|2d_canvas: unavailable_

[2020-08-27 04:42] srijanc commented on #5906
Hi @Colengms The issue has now been resolved and it seems to be an issue with the CMake version as you suggested previously. I updated the CMake to the latest version 3.18.2 and now the config is picking up all the details and working as expected. Thanks for all your support.

[2020-08-27 07:32] ShenTonyM commented on #5835
@michelleangela
I find a [tool](https://github.com/grailbio/bazel-compilation-database) to generate `compile_commands.json` for bazel project. Then I can take solution 3 to enable the intellisense.
This tool is not provided by bazel official, but it can be workaround.
I will close this issue.  Thanks for your help.

[2020-08-27 07:32] #5835 closed, assigned to michelleangela

[2020-08-27 07:58] arnonshp opened #6035 "Cpptools takes too much memory (stuck processing filename cache)"
I have a very large linux project, including thousands of files.
I noticed that after some time cpptools starts consuming very large memory size and CPU consumption is very high as well. Systems becomes very sluggish.

Here's what I get when I run top:

PR  NI    VIRT    RES     SHR  S  %CPU  %MEM     TIME+    COMMAND
  20   0     21.8g  11.6g   8452 S 100.7        74.1   1031:00   cpptools

I fou

[2020-08-27 08:32] ghost commented on #811
This solution didn't work for me. I am using Ubuntu 20.04 LTS and VS Code 1.48.2.
Here is my launch.json looks like:
[code]

And here is my `c_cpp_properties.json`  looks like:

[code]
And my tasks.json file looks like the following:
[code]

And the following error message is displayed when I am debugging:
`Unable to open 'exit.c': Unable to read file '/usr/src/glibc/glibc-2.31/stdlib/exit.c' (Err

[2020-08-27 08:42] Trass3r commented on #811
In the meantime it could be resolved by [setting](https://github.com/Trass3r/MIEngine/blob/ac58b47e4f9c5f821980063914d57a23e9b1e2e5/src/OpenDebugAD7/AD7DebugSession.cs#L329-L331) `Source.PresentationHintValue.Deemphasize`.

[2020-08-27 08:51] ghost commented on #811
How could it be done? Could you please explain more?

[2020-08-27 08:51] zingdle opened #6036 "Step Into Specific"
Type: Debugger

**Describe the bug**
- OS and Version: WSL2 with Ubuntu 20.04
- VS Code Version: 1.48.2
- C/C++ Extension Version: 0.29.0

I'm trying to skip STL files when debugging. Learned from [here](https://stackoverflow.com/questions/20352426/skip-stl-code-when-debugging-c-code-in-visual-studio-2012) that Visual Studio have `Step Into Specific` and `Just My Code` feature, which is what I'm l

[2020-08-27 09:00] Trass3r commented on #811
This was referring to an internal fix until disassembly debugging is ready.
If you want to use that you'd have to compile MIEngine yourself and put the files into `~/.vscode-server/extensions/ms-vscode.cpptools-*/debugAdapters/bin`.

[2020-08-27 10:26] ezorzin commented on #2630
I am experiencing exactly the same behaviour described by srijanc: reverting v0.30.0-insiders to v0.29.0 solves the problem. I am working on a Mac (Catalina 10.15.6).

[2020-08-27 10:32] ezorzin commented on #2630
...it does not solve the problem: same behaviour again after minutes! It looks like there is some sort of instability going on.

[2020-08-27 11:33] ezorzin commented on #2630
Mea culpa!

I found the problem: it was an erroneous copy/paste inside the CmakeLists.txt:
![Screenshot 2020-08-27 at 13 21 38](https://user-images.githubusercontent.com/15363242/91436931-51cfbb80-e869-11ea-9d0c-f834d778ee09.png)

...in my case the "_2" should have been "_5", matching the other one in the same statement.

[2020-08-27 12:05] sadovsf opened #6037 "c_cpp_properties.json cannot work with deeper env variable inclusion"
Iam trying to configure quite complex project for intellisense. Problem is includes. Ideally i would define certain feature includes as `env` variable and use these in `includePath` array. Unfortunately this works only with 1 level depth of env variables. Here is what i mean:

[code]

Later on in configurations i would use:

[code]

Problem is that this generates invalid includes array based on di

[2020-08-27 12:31] konradsa commented on #2901
Any update on this? Overall this is a big problem for people that use the debugger frequently, and would be good if that can be addressed. Native Debug plugin offers much better performance, but it has some other issues that make it a non starter for me. Overall the performance in Vscode is even significantly worse than what Eclipse CDT offers. There are also a couple of tricks in Eclipse CDT to m

[2020-08-27 12:37] konradsa commented on #5516
You can achieve that by adding the following to the gdbinit file:

[code]

[2020-08-27 13:11] Trass3r commented on #5516
It looks like the OP uses the VS debugger though.

[2020-08-27 14:35] konradsa commented on #5516
My bad, didn't see that.

[2020-08-27 15:09] dhruvrawat101 commented on #6027
![log_error](https://user-images.githubusercontent.com/51899618/91459982-edcae880-e8a4-11ea-84ca-72e60e111e59.JPG)
I have attached the error message.Also, the cpp_property json picture
![cpp_property_1](https://user-images.githubusercontent.com/51899618/91460396-62058c00-e8a5-11ea-9021-5e134c11b3ba.JPG)
![cpp_property_2](https://user-images.githubusercontent.com/51899618/91460417-67fb6d00-e8a5-11e

[2020-08-27 16:07] bobbrow commented on #6037
It looks like the definition of `includes_minimum` is missing a comma between entries. Can you fix that real quick and see if it resolves the issue?

[2020-08-27 16:11] sadovsf commented on #6037
It did not unfortunately

[2020-08-27 17:10] sean-mcmanus commented on #6035
How much memory is cpptools using? What OS are you using? Thousands of files should be okay -- is it hundreds of thousands of files?

This could be the same issue as https://github.com/microsoft/vscode-cpptools/issues/3123 .

[2020-08-27 17:19] sean-mcmanus commented on #6027
bits/c++config.h not being found means your system include paths are misconfigured. You'll want to remove any system include paths from your includePath setting and make sure the compilerPath is correct. If you provide the output of the Includes section of running the C/C++: Log Diagnostics command I could see what exactly is being used.

[2020-08-27 17:45] bobbrow commented on #6037
Hmm, it looks like we only go one level deep right now.  For some reason I thought we went deeper.

[2020-08-27 17:46] sadovsf commented on #6037
It would be extra useful to be able to go, well as deep as one can go 😁

[2020-08-27 17:56] elahehrashedi commented on #1961
current behaviour:

![current](https://user-images.githubusercontent.com/16143955/91477875-dadbf800-e853-11ea-9aeb-5e26be844adc.gif)

[2020-08-27 18:49] adambrickman commented on #6009
@sean-mcmanus  - Awesome! Nice sleuthing. Does that match the findings from linux/arch/alpha/boot/tools/mkbb.c ?  For that I recall I repro'd but it was working OK for you.

[2020-08-27 19:54] Leo843 opened #6039 "IntelliSense shows an error that is no longer an error in C++17"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04.5
- VS Code Version: 1.48.2
- C/C++ Extension Version: v0.30.0-insiders3

The following errors are highlighted by IntelliSense, however they should not appear since I set IntelliseSence cppStandard to c++17.

[code]

.vscode/c_cpp_properties.json
[code]

**Expected behavior**
Previous errors should not be highlighted by

[2020-08-27 20:08] #6034 closed, assigned to nobody

[2020-08-27 20:08] #6033 closed, assigned to nobody

[2020-08-27 20:09] WardenGnaw commented on #5825
Could you fill out the debugger issue template and also share your `launch.json`?
[code]

[2020-08-27 20:11] WardenGnaw commented on #6036
The just my code feature is being tracked at https://github.com/microsoft/vscode-cpptools/issues/5763

We do not have an issue for step into specific so I will make this issue for that.

[2020-08-27 20:18] WardenGnaw commented on #6036
This feature would require a contirubtion to [`editor/context`](https://code.visualstudio.com/api/references/contribution-points#contributes.menus) and the [DebugAdapterProtocol](https://microsoft.github.io/debug-adapter-protocol/specification) to support this request.

[2020-08-27 21:19] bobbrow commented on #5667
Interesting...  This looks like a bug in vscode.  Our extension doesn't pick the icons for files in the explorer.  I installed a different icon pack and didn't see this problem:
![image](https://user-images.githubusercontent.com/12818240/91496043-577ccf80-e870-11ea-843e-0efcf0bb7a6e.png)

[2020-08-27 21:26] #5667 closed, assigned to nobody

[2020-08-27 21:27] bobbrow commented on #5700
This was addressed in 0.29.0

[2020-08-27 21:27] #5700 closed, assigned to nobody

[2020-08-27 21:38] bobbrow commented on #5963
It looks like this issue has been resolved.  Please let us know if there is anything else we can do to help.  We have considered turning CMake Tools on by default for new projects and also even bundling that code into this extension.  We're not 100% sure which direction we'll take on this, but it is definitely on our minds.

[2020-08-27 21:38] #5963 closed, assigned to nobody

[2020-08-27 21:53] bobbrow commented on #6021
It looks like this issue is resolved.  We'll add telemetry to track how frequently this is a problem for people.

[2020-08-27 21:54] sean-mcmanus commented on #6039
Thanks for reporting this. I've forwarded the issue to the VS team (shared parser code): https://developercommunity.visualstudio.com/content/problem/1165995/c-intellisense-gives-the-incorrect-error-explicit.html .

[2020-08-27 22:00] bobbrow commented on #6037
Ok, I looked into this a bit more.  We do support deeper resolution of env variables, but the recursion breaks when multiple arrays of strings are involved.  There is a boolean check that appears to be invalid causing the recursion to stop. And then the result ends up being split apart because `:` is the path delimiter on your system.  That second part shouldn't matter once we fix the first issue

[2020-08-27 22:12] TTimo commented on #6035
I have this problem as well. I set `workspaceParsingPriority` to lowest this morning and it has helped somewhat - the system doesn't become unresponsive as readily as before, but it still does. Especially when a build is going, which often leads to an OOM kill of the code process.

I see the `cpptools` process using between 4.5 and 5 GB of RAM (that's 15 to 20% RAM as reported by `htop` on my 24GB

[2020-08-27 23:58] sean-mcmanus commented on #6035
Yeah 4.5-5 GB for cpptools is abnormal. If you (temporarily) set your compilerPath to "" and your browse.path and includePath to [] does the memory usage go down? What causes the memory to increase? Is opening a file required?

The issue still repros when you change the C_Cpp.updateChannel to "Default", right?

We've received a bunch of reports of this in the past, but we haven't been able to obta

[2020-08-28 00:33] amosran opened #6042 "C/C++ 0.29.0 clang-format not supported BitFields"
Issue Type: <b>Bug</b>

C/C++ 0.29.0
.clang-format files "AlignConsecutiveBitFields", This feature is not enabled.

Extension version: 0.29.0
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7 CPU       M 640  @ 2.80GHz (4 x

[2020-08-28 01:01] sean-mcmanus commented on #6042
Which version of clang-format supports that? We only bundle clang-format version 10.0. You could install a newer version and set the C_Cpp.clang_format_path to the newer version to use that as a workaround until we update to a newer version.

[2020-08-28 02:12] Meoli96 opened #6043 "VSCode Ccpp extension doesnt format anymore"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Pop_OS 20.04
- VS Code Version: 1.48.2
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): C/C++  Themes(Yes)
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including inform

[2020-08-28 03:11] srijanc commented on #2630
Hi @ezorzin this issue is mostly related to the configuration provider settings. It is good to see that you have resolved your issue. But, in future if you ever face such issue, try removing the custom config and use the default gcc/gnu and check, if still the issue still exist then there might be an issue with the plugin.

As explained in the issue linked to current issue, the old versions of the

[2020-08-28 05:29] sadovsf commented on #6037
Awesome 😊 just a quick note. Iam running Mac OS so iam not sure about proper delimiter detection. I could be wrong on this one but ':' as part of path is used on windows systems only 🤔 anyway as you saied, it wdoes not matter as long as first issue is fixed 😊

One quick question (I will make separate request if needed). Would be possible to search for intelligence config from opened file up in fol

[2020-08-28 07:21] #5794 closed, assigned to nobody

[2020-08-28 07:21] william-r-dieter commented on #4531
Here is the `launch.json` that worked for me:
[code]
Update `/path/to/program` to point to the program you want to debug.

To make it work, I run `valgrind prog [ arg ... ]` in a shell window where `prog` is the program to debug (i.e. /path/to/prog) followed by any command line arguments.  For some reason, it did not work for me without the `targetArchitecture` option.

[2020-08-28 07:54] NeoFantom opened #6044 "Error check not working"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Version 2004 Build 19041.87
- VS Code Version: 1.48.2
- C/C++ Extension Version: v0.30.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them): None related to C or C++
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise descr

[2020-08-28 08:15] NeoFantom commented on #6044
I found that it works in my small workspaces, but not in a bigger workspaces containing over 200 files of several languages.

[2020-08-28 08:28] sean-mcmanus commented on #6009
For mkbb.c does your includePath just have system includes (like in my screenshot)? If you change the includePath to "${workspaceRoot}" and the issue still repros, then the issue you're hitting for mkbb.c is an unrelated issue. Also, if you don't see the "No IL available" in the debug logging (C_Cpp.loggingLevel set to "Debug") for objstrip.c, like @marco-fam mentioned, then you're hitting a diffe

[2020-08-28 09:41] NeoFantom commented on #6044
OK, I now understands why this happened. Weirder and weirder. Turns out, my file can't be named as `Primes.hpp`. I think this may be because this file failed to "IntelliSense" for one time, then some indexing mechanism will mark this file "un-intellisensable", then no matter what I do, unless I use another file or change its file name, it won't be analyzed.

Is there any way to "clean" this indexi

[2020-08-28 11:47] JaynishMandalia commented on #6030
I am currently using the version for C/C++ extension is v 0.29.0 and yeah as you said to turn off the auto update i'll do that but I just what to know why it's happening and when i get the update from extension i simply just update that and this problem is occur.

For example when we make any new vector <int> v; so this word "vector" should change to light green or dark green and the "int" should

[2020-08-28 14:03] A-Debord opened #6046 "[linux] debugging with gdb not working anymore"
[code]
Hi,

i'm trying to launch the debugger
it was working fine a month ago (before vacation)
now I get an error. The program doesn't seem to start at all, like nothing gets executed.
however i can debug it manually using `gdb --args myprogram myargs`

Terminal :
[code]

Debug Console :
[code]

[2020-08-28 14:13] AnthonyParkssonos commented on #6035
i had cpptools take up a whopping 15 GB of memory out of 16 GB. i had been having a million issues with vscode this week. my SSH was dropping every hour, my machine had ground to a halt. i looked at top and found that cppcode was basically destroying my machine because it can't figure out if a workspace has so many files that it would cause my machine to crash. this puts the burden on users who wo

[2020-08-28 14:23] amosran commented on #6042
https://clang.llvm.org/docs/ReleaseNotes.html
ah, This is Clang 12.0.0 a new feature. It seems that the current version is not supported, I hope we can try to support later, thanks!

[2020-08-28 14:54] TTimo commented on #6035
There were no settings for `compilerPath`, `browse.path` and `includePath`. I made sure to provide default entries in `settings.json`, and reverted to "Default" channel and 0.29.0 extension.

Loading the project and editing a few files does not seem to cause too much trouble for `cpptools`. Although at startup, even with no C++ files open in the editor, it is using 100% CPU (I watched it go for 5

[2020-08-28 15:24] AngelFP commented on #2995
I just ran into the same error with VS Code on Windows (connected to WSL2):
[code]
I couldn't find anywhere a solution that worked for me, but eventually I managed to get it working. I'm not sure why, but directly specifying the path to my ssh folder seems to fix it for me:

[code]

I hope this also helps to someone else.

[2020-08-28 18:00] bobbrow commented on #3078
We implemented this feature with PR #5965.  It currently available in our 0.30.0-insiders3 which you can install by changing the C_Cpp.updateChannel setting to "Insiders".

[2020-08-28 18:18] bobbrow opened #6047 "Remove "preview" from documentation/extension"
As part of clean up for 1.0 release
- [x] remove the "preview" attribute from package.json
- [x] update the version to 1.0.0.
- [x] remove references to "preview" in README.md
- [x] remove references to "preview" in online docs.
- [x] update the screenshots in online docs.

[2020-08-28 18:23] bobbrow opened #6048 "browse path diagnostics"
In the Log Diagnostics output, we should show some information about the paths that were traversed.  We'll probably just start with the number of files found.

In the future we could consider logging whether symlinks were encountered, or how many of the files were actually parseable, how many were parsed, how many were excluded by files.exclude.

[2020-08-28 19:29] sean-mcmanus commented on #6037
@sadovsf The ":" isn't part of a single path on Linux/Mac, but it's used as a delimiter between individual paths, e.g. PATH1:PATH2.

Having c_cpp_properties.json in subfolders has been discussed. I don't remember if there's an issue tracking or if it was closed Won't Fix.

With multifolder workspaces, you could also have the root workspace as a folder in addition to the subfolders, optionally excl

[2020-08-28 19:37] sean-mcmanus commented on #6030
Do you know what version of VS Code was working for you? 0.29.0 was released over a month ago.

Is your C_Cpp.enhancedColorization setting set to "Enabled"?

I'm not reproing the issue:

![image](https://user-images.githubusercontent.com/19859882/91608851-29a89100-e92b-11ea-84cd-82609d2add68.png)

[2020-08-28 20:13] sean-mcmanus commented on #6042
The current clang release is 10.0.1 still: https://releases.llvm.org/download.html . There's a 11.0 rc2 prerelease at https://github.com/llvm/llvm-project/releases . Version 12 is still in development.

[2020-08-28 21:01] sean-mcmanus commented on #6035
The "compilerPath", "browse.path", and "includePath" are properties in c_cpp_properties.json (or C_Cpp.default.* settings).

Yeah, we have file watchers in the workspace -- it could cause problems with causing too many IntelliSense updates, but I'm not sure how it could trigger high memory usage. We could look into that repro later. Adding the build folder to files.exclude might help.

If you set

[2020-08-28 21:03] Colengms commented on #4451
Hi @Atom2004  I believe this issue has since been addressed.  I'm not able to repro.  If you are still seeing an issue with this, please let us know and we can reopen it.  If you can still repro, please include sample text we can repro with.  Thanks!

[2020-08-28 21:03] #4451 closed, assigned to Colengms

[2020-08-28 22:35] TTimo commented on #6035
There doesn't seem to be a `files.watcherInclude` setting - I see little purpose for the IDE to watch anything other than my .cpp / .h files? I can't quite exclude a build folder, this build system has a tendency to put object files everywhere ..

So I added `!**/*.{cpp,h}` to `files.watcherExclude` .. I'm not sure that syntax is actually legal and supported, but I haven't noticed any new errors e

[2020-08-28 23:31] sean-mcmanus commented on #6044
By default, the "C_Cpp.errorSquiggles" setting is set to "EnabledIfIncludesResolve". You can change that to "Enabled" to always show the squiggles. Is that what you're hitting?

[2020-08-29 01:07] vmiheer opened #6052 "Cuda completion"
**Type: LanguageService**

It would be great if cuda completion works with intellisense.

**Describe the bug**
- OS and Version: Windows (Linux remote)
- VS Code Version: 1.48.2
- C/C++ Extension Version: v0.30.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: Yes

[2020-08-29 01:37] sean-mcmanus commented on #6009
So with our pending C/C++ Log Diagnostics changes, you'd see something like:
[code]

Adding the 2nd (or 1st) alternative of "~/linux/tools/include" to the includePath fixes the "No IL issue" for me. But I'm not sure what the correct includePath is for that particular file. The problem exhibited here is the non-deterministic ordering of recursive includes is choosing asm-generic before /linux/tools

[2020-08-29 09:22] winter-loo opened #6053 "how to compile cpptools and cpptools-srv from source?"
**Type: LanguageService**

I have managed to run [visual studio code server](https://github.com/cdr/code-server) on redhat 6 with customized gcc version 7.2.0 but failed to install cpptools-linux.vsix(version 0.30.0-insiders3). cpptools and cpptools-srv require greater glibc version which not in redhat 6 system.

Is it allowed users to compile cpptools and cpptools-srv from source ? And how?

[2020-08-29 10:39] JaynishMandalia commented on #6030
Yes this version v0.29.0 is running very well for all the codes but new version is not that much good so...

And yeah as you are showing me in the picture this is the exact thing which i want....
And it's available in v0.29.0 so i have disabled the auto update for this extension. Please let me if you have some solution with new extension.

Thanks for helping me out sir,

[2020-08-29 14:51] yseymour opened #6054 "'const __auto_type' gives mystery 'must be a placeholder for the complete type' error"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS 10.15.6
- VS Code Version: 1.48.2
- C/C++ Extension Version: v0.30.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: Yes
- A clear and concise description of what the bug is, including information

[2020-08-30 04:34] JaynishMandalia commented on #6030
Hello there, this is the problem with new extension sir
![Problem](https://user-images.githubusercontent.com/63401286/91651243-ee7f9c80-eaa7-11ea-9923-5293b77ea591.png)

In this color are not changing in as you have shown above in your picture.....
Can you help me out from this forever....

[2020-08-30 05:01] ph0ngp commented on #1899
me four. lldb-mi currently using 56GB of memory here. This sometimes happen when I try to step into a certain member function. And sometimes it just works normally, so weird.

[2020-08-30 05:09] JaynishMandalia commented on #6030
Yes it is enabled

[2020-08-30 07:01] arnonshp commented on #6035
Sorry for the late response. As my initial post indicated, cpptools was using 11.6GB. I'm using Debian OS. My workspace is over 200k files.

[2020-08-31 09:33] lixin-wei commented on #6019
@WardenGnaw Thanks, it works!

[2020-08-31 09:33] #6019 closed, assigned to nobody

[2020-08-31 14:52] Chris-Dickerson commented on #5496
I installed mingw from the online installer via sourceforge and I can get a version response now:

-exec python print sys.version
2.7.9 (default, May 12 2018, 10:00:46)
[GCC 8.1.0]

gcc.exe (x86_64-posix-seh-rev0, Built by MinGW-W64 project) 8.1.0
GNU gdb (GDB) 8.1

But C++ objects are still displayed as {...}

[pretty-printer-info.txt](https://github.com/microsoft/vscode-cpptools/files/5157876/pr

[2020-08-31 16:54] AnthonyParkssonos commented on #6035
one of the problems here is that for those of us who work on monolithic codebases, it becomes inconvenient to start doing 'watcherExclude' for every folder. why not simply support 'watcherInclude' as a mutually exclusive option? or use something akin to a Ctags-like system where we build the database of references and update it on command? chokidar as it stands is similar to CLion in that for suff

[2020-08-31 17:10] pbannister commented on #5588
Got a bit further. Realized I could use the ".*.cmd" files from the module build to extract the compiler options.
[code]
Gets you the unique compiler options, in order of use. Wrapped the above in **about.sh** and to further subset:
[code]
This gets you the list of defines. Format for the JSON file:
[code]
For includes, in order:
[code]
Bit of cut and paste gets an updated **.vscode/c_cpp_properti

[2020-08-31 17:11] sean-mcmanus opened #6056 "Add setting to disable reference/document highlighting"
Mentioned as part of https://github.com/microsoft/vscode/issues/100530 .

The simplest implementation would be similar to `C_Cpp.autocomplete`. Implementing a TypeScript documentHighlight provider instead of relying on the LSP would be another more complicted approach (e.g. C_Cpp.formatting).

[2020-08-31 17:46] michelleangela commented on #6053
The Typescript source of the extension is open source, while the executables cpptools and cpptools-srv are closed, therefore cannot be compiled externally. When the Typescript source is compiled or run in dev mode, it downloads the corresponding executables for that version.

[2020-08-31 17:46] #6053 closed, assigned to nobody

[2020-08-31 19:00] michelleangela commented on #5380
Cannot reproduce the case that tag parses before using the cached custom config and cashed DB.

[2020-08-31 19:00] #5380 closed, assigned to nobody

[2020-08-31 19:22] amelvill-umich commented on #21
Yes, I would be interested in reading and contributing to this. I have found some limitations that I'd like to try and work around.

Unfortunately I think everything I'd be interested in would be in these server processes.

[2020-08-31 19:46] sean-mcmanus commented on #6054
I've reported a bug against our parser shared with VS at https://developercommunity.visualstudio.com/content/problem/1168897/incorrect-c-intellisense-error-in-gcc-mode-auto-ty.html .

A potential workaround is to add these lines somewhere in the TU:
[code]

[2020-08-31 20:02] Misery42 commented on #5984
I am glad that it will run with glibc 2.17 soon!

But just want to mention why i have a limited system.
I am using Revolution Pi from https://revolution.kunbus.de/ wich is running Debian Stretch.

Thank you!

[2020-08-31 20:59] WardenGnaw commented on #6046
Are you using the `integratedTerminal` and what is your default shell set to?

[2020-08-31 21:14] elahehrashedi opened #6058 "Inserting compilerPath in includePath (or other paths) in c_cpp_properties.json doesn't squiggle"
**Describe the bug**
- C/C++ Extension Version: 0.30.0-insiders3

If the compiler path is just an exe string (e.g. "g++.exe"), and if the user uses that string in other places in c_cpp_properties.json paths (e.g "includePath"), it will not squiggle, but it should.

![image](https://user-images.githubusercontent.com/16143955/91769136-a5a51200-eb93-11ea-8dc2-3a37e7336144.png)

[2020-08-31 21:16] #6006 closed, assigned to elahehrashedi

[2020-08-31 21:20] Colengms commented on #6030
@Sjaynish Could you please provide the following information to help us investigate this issue?
* Enable the `"C_Cpp.loggingLevel": "Debug"` setting, and provide all output to the C/C++ channel leading up to and including the repro.
* Run the `C/C++: Log Diagnostics` command after the repro, and provide the output.
* The contents on your `c_cpp_properties.json`
* Any `C_Cpp` settings specified in

[2020-08-31 21:25] Colengms commented on #6043
Hi @MeoliNasa .  Could you enable `"C_Cpp.loggingLevel": "Debug"`, and provide the output to the C/C++ channel leading up to and including the repro?

[2020-08-31 21:25] sean-mcmanus commented on #6043
It looks like this setting is wrong "C_Cpp.clang_format_path": "path/to/.clang-format". `clang_format_path` is supposed to be a path to the clang_format binary and not the .clang-format file. There is no option to specify a .clang-format file -- it should just be placed in the workspace root or in a parent folder.