[2017-11-15 18:30] bobbrow commented on #1234
It looks like the extension is not shutting down cleanly for you.  This would imply that even without the change to increment the file names, the extension would be reparsing your whole workspace every time  you launch VS Code.  @sean-mcmanus any ideas why it's not shutting down cleanly?

[2017-11-15 19:19] abmantis opened #1255 "Allow disabling automatic symbol loading with LLDB"
Currently, the plugin loads all the shared libs on the executable directory. This can make the launch process very slow for an app with heavy dependencies (like Qt5).

It would be useful to be able to exclude shared libs, or only include specified libs.

[2017-11-15 19:50] niklas-ourmachinery opened #1256 "C files incorrectly interpreted as C++ (causing Intellisense errors)"
Many of my `.c` files are incorrectly interpreted as C++ files:

![image](https://user-images.githubusercontent.com/26548514/32856440-b4484dd6-c9f9-11e7-8211-b6f803c993de.png)

This leads to lots of bogus Intellisense errors reported for these files:

* expected an expression
* a value of type "void *" cannot be used to initialize ...

Hard coding a file association in the settings doesn't seem to

[2017-11-15 19:56] sean-mcmanus commented on #1253
Does the correct file appear in the list of available options on the right when you use Peek Definition? We plan to fix the issue with the sys part of the #include not being taken into account to filter out the invalid targets.

[2017-11-15 20:03] sean-mcmanus commented on #968
There are no immediate plans to add clang-tidy integration.

[2017-11-15 20:10] sean-mcmanus commented on #1242
@Dean-Coakley That configuration appears to be missing fields. Did you generate it via the Add Configuration button?

[2017-11-15 20:58] bobbrow commented on #1256
Are there any `files.associations` in your workspace settings (which override the user settings)?

[2017-11-15 21:08] sean-mcmanus commented on #1234
Does it say that the database safety check failed when the loggingLevel is turned to Information? I'm not aware of any known issue that could cause shutdown to fail, other than a crash.

[2017-11-15 22:21] pieandcakes commented on #1244
@PaulakaPaul This is usually a symptom of when you compiled, it was missing the `-g` flag to include symbols. Please make sure when you compiled your project, that the `-g` flag was specified.

[2017-11-15 22:30] Dean-Coakley commented on #1242
@sean-mcmanus Oh no, sorry I misled you. I was guessing `cppdbg` could be wrong for a plain c project?
Here's my entire file which was generated from the add configuration button if it helps:
[code]

**Important EDIT** I also noticed the OP is on 32bit, just thought I should clarify I am having this issue on 17.04 64bit

[2017-11-15 22:57] pieandcakes commented on #1242
@Dean-Coakley Nope. that's the correct `type`. Did you specify `-g` flag when compiling? You need to do that to include symbols else the debugger doesn't have enough information.

[2017-11-15 23:00] pieandcakes commented on #1247
@avkonst With the debugger that we ship with VSCode we don't support using a symbol server. We currently only support having the symbols locally.

[2017-11-15 23:06] pieandcakes commented on #1248
@ComradeZeil Can you provide the full build number for your Windows Build? Also what are you using to compile? I see you are using MinGW gdb.exe to debug, are you compiling with gcc.exe? Can you provide the version of MinGW you are trying to use? Does the program run itself from the command line?

this sounds like a compilation problem and not a debugging problem.

[2017-11-15 23:07] Strideradu commented on #1232
Has the same problem for several days
C/C++ tools version 0.14.2
VSCode version 1.18.0

[2017-11-15 23:08] pieandcakes commented on #1254
@alanx172 can you tell me which debugger you are using? This sounds like #602

[2017-11-15 23:09] pieandcakes commented on #1255
@abmantis how would you do this in lldb today?

[2017-11-15 23:15] ghost commented on #1254
gdb in mingw-w64.

regards,

发自我的华为手机

-------- 原始邮件 --------
主题：Re: [Microsoft/vscode-cpptools] cannot use chinese filename when debugging cpp files. (#1254)
发件人：Pierson Lee
收件人：Microsoft/vscode-cpptools
抄送：alanx172 ,Mention

@alanx172<https://github.com/alanx172> can you tell me which debugger you are using? This sounds like #602<https://github.com/Microsoft/vscode-cpptools/issues/602>

―
You ar

[2017-11-15 23:23] g4r37h commented on #1164
By "everything should work", if you mean the app starts again then yes it does. But it then re-downloads all the updates it just downloaded and applies them again. The updates work 2nd time round but it would be nice if the app didn't have to download everything twice in order to update.  :)

[2017-11-15 23:27] avkonst commented on #1247
Great. Thanks. Would you accept it as a feature request in this case?

[2017-11-15 23:34] niklas-ourmachinery commented on #1256
Yes! That's it. A lot of the files are explicitly listed as `"cpp"` in the Workspace settings. This must have happened automatically somehow, because I haven't edited those settings.

[2017-11-15 23:34] #1256 closed, assigned to nobody

[2017-11-15 23:45] sean-mcmanus commented on #1164
@g4r37h The extension should only re-download the files again if the extension was uninstalled or an update occurred. Are you saying with 0.14.2 when you install the extension it is downloading the dependencies twice? We haven't heard any other reports of this occurring.

[2017-11-15 23:49] sean-mcmanus commented on #1256
@niklas-ourmachinery Our extension automatically associations extensionless files with C++ if a .cpp file #includes it (and the file is a target of a Go to Definition). Let us know if you have repro details for how a .c file is getting associated with "cpp". We've had bugs related to this a while ago, but I thought they were all fixed since we haven't heard complaints so far.

[2017-11-15 23:55] niklas-ourmachinery commented on #1256
I'll keep a watch on this and let you know if it happens again. It might be that this got into the workspace settings a long time ago. It was only today that I started using Intellisense and noticed this.

[2017-11-15 23:57] g4r37h commented on #1164
Hmm. It's too late to check now as everything is installed. But I last updated the app 3 days ago, then tonight I checked for updates and it downloaded the full set of updates before giving me the "Unable to add file to database. error = -2147467259" error. I closed the app and re-opened it, and it downloaded all the updates again. I can't guarantee that the files were all identical, but I am assu

[2017-11-16 00:07] sean-mcmanus commented on #1164
Yeah, if you updated 3 days ago, you should've had our latest 0.14.2 and there should not have been a need to trigger a newer update, and if you see the database error, then the code has been successfully installed so it shouldn't prompt to re-download again. The only way it could upgrade to an intermediate version would be if you were on an older VS Code like 1.16, then the max version for our ex

[2017-11-16 00:13] g4r37h commented on #1164
OK. I'll keep a closer eye on it next time and keep track of versions and file sizes. Thanks.

[2017-11-16 00:42] #1235 closed, assigned to nobody

[2017-11-16 00:48] bobbrow commented on #1249
I believe I have a fix for this.  The callstack you shared was easy to address, but the issue with the high CPU load may or may not be fixed with our next update.  I identified a place where an exception can be thrown if the language server fails to launch by emulating your setup (I don't have an unsupported distro installed at this time) and I suspect that VS Code was constantly attempting to res

[2017-11-16 00:54] bobbrow commented on #1226
I'm having trouble cloning this project right now.  I will take a look when the server responds.  If you can attach an example to this issue, it might help speed up the investigation.  Thanks!

[2017-11-16 01:06] pieandcakes commented on #1247
I have marked it as a feature request.

[2017-11-16 01:19] pieandcakes commented on #1242
@adiarbili Please make sure you specified the `-g` flag when compiling.

[2017-11-16 01:35] metorm commented on #1226
Compiling OpenVolumeMesh is quite annoying, and my project is a big one, which belongs to my organization. So I can't post it in public. But I can provide my CMake configuration to help you to diagnose this problem.

Below are the steps to reproduce the problem:

1. Clone OpenVolumeMesh, compile and install (to anywhere you like) used CMake.
2. Add the following 2 CMake files to your `CMAKE_MODULE

[2017-11-16 02:03] reporter123 opened #1257 "Default intellisense engine does not search for header files recurively in nested folders"
# I am using the fallowing c_cpp_properties.json

{
    "configurations": [
        {
            "name": "Mac",
            "includePath": [
                "/usr/include",
                "/usr/local/include",
                "${workspaceRoot}"
            ],
            "defines": [],
            "intelliSenseMode": "clang-x64",
            "browse": {
                "path": [

[2017-11-16 02:19] ComradeZeil commented on #1248
* Windows Build: 15063.726
* Compiler: MinGW g++  6.3.0

From command line the program prompts
[code]
![image](https://user-images.githubusercontent.com/11332022/32870444-f3f5a722-cab6-11e7-8217-1d9dd8560133.png)

[2017-11-16 02:22] pieandcakes commented on #1248
@ComradeZeil This doesn't sound like an issue with the extension. That sounds like a problem with the version of MinGW that you have. I verified that the one I have is MinGW g++ version 7.1.0 and I can't repro what you have. You may want to update the version of MinGW.

[2017-11-16 03:12] caurier commented on #1253
Peek Definition is the same.

[2017-11-16 04:04] sean-mcmanus commented on #1234
Actually, if a long intellisense operation is occurring (red flame) it can block the main thread, causing the shutdown to not be able to complete in 5 seconds (resetting the database).

[2017-11-16 07:58] dorinlazar opened #1258 "Identifier "namespace" is undefined"
OS: Linux, CentOS 7. Due to issue #19 I use a script that loads the extension against a custom built GLIBC.
VSCode: Stable, 1.18.0
C++ Extension: 0.14.2

Header is named X.H (capital H).

[code]
I get a red squiggle with «identifier "namespace" is undefined»
No log messages in the Output window.

[2017-11-16 12:26] draeger-charles-wilson commented on #1234
Where is the loggingLevel setting documented? (found it **C_Cpp.LoggingLevel**)

Shouldn't this type of database activity gate a normal exit in the same way an unwritten modified file does?

[2017-11-16 13:40] ComradeZeil commented on #1248
I updated my MinGW to 7.2.0 and the problem fixed. Thanks.

[2017-11-16 13:40] #1248 closed, assigned to pieandcakes

[2017-11-16 14:58] g-arjones commented on #156
Is there a way to set a default "compileCommands" in the user's settings file? All of my projects have the same relative path (e.g ${workspaceRoot}/build/compile_commands.json) and I feel that I should not have to set the same thing for all of them.. Thanks!

[2017-11-16 16:28] draeger-charles-wilson commented on #1234
Confirming that if you have Code open with intellisense quiescent, if you view any file, Intellisense's red flame of updatitude appears. If you close Code at this point, the -wal and -shm files will still be present and a new database is generated at next open. Logging level set to informational. Nothing noted on second open.

[2017-11-16 16:37] bobbrow commented on #1234
Thanks for confirming.

VS Code doesn't allow an extension to gate the exit.  We get a maximum of 5 seconds.

I believe that VS Code is dropping some of our log messages during initialization.  We need to hang onto them until VS Code is ready to receive them.  But this issue highlights a problem with IntelliSense that we need to address.  The squiggles checking is done on a background thread, but

[2017-11-16 16:40] bobbrow commented on #156
We are considering moving c_cpp_properties.json into settings.json at which point this will be possible.

[2017-11-16 16:41] g-arjones commented on #156
Great! Do you suggest any workaround in the meantime?

[2017-11-16 16:42] bobbrow commented on #156
Unfortunately there is no workaround at this time.

[2017-11-16 16:43] g-arjones commented on #156
No problem, thank you :)

[2017-11-16 16:50] Dean-Coakley commented on #1242
@pieandcakes I'm ashamed to admit you are correct that I forgot the `-g` flag.

To compile and run/run with debug. I have to do `cmd+shift+p` -> run task -> build C, `F5`. Is this really the best I can do workflow wise? Surely not?

[2017-11-16 16:55] kamilr commented on #1181
I'm using (32-bit MinGW version) and gcc start looking at C:/MinGW/lib/gcc/mingw32/6.3.0/ but also have this error. When using some stuff from <locale> or next not linked <time> I've got a runtime error. So Maybe this will be strange when locale.h would be on my includePath, but there isn't! I don't no way, maybe to resolve problem you have to download headers maually, pasted them into right path.

[2017-11-16 17:15] draeger-charles-wilson commented on #1234
For reference, I'm doing exploratory work to determine whether we can use Code for general development. Unfortunately, this is a really high probability event with bad behavior. It happens silently and gives the impression that Intellisense will be running constantly. Makes Code pretty much unusable for large C/C++ projects.

I wouldn't have noticed it myself if I'd not been looking at the tasks.j

[2017-11-16 17:34] adiarbili commented on #1242
@pieandcakes that works like a charm!!!
I have three questions:
1. Why do we need the -g for?
2. Where did you read about it?
3.I compiled the C code on the terminal of VSC: " gcc hello.c -g". Is there another way?

Thanks for everyone!!!

[2017-11-16 17:37] python4ever opened #1259 "Formatting with clang-format doesn't work when using .clang-format file"
Hi. I've installed official C/C++ extension, got the latest update. It works flawlessly. The one problem I faced is the fact, that when I use Format Document, it does format it, okay. But when I place .clang-format file (even generated with clang-format binary) it doesnt format the file. I can place it in workspaceRoot, or in directory above that, it just doesnt do anything. Here's my user_setting

[2017-11-16 18:27] iusztinpaul commented on #1244
Thank you a lot !  It worked

[2017-11-16 20:11] pieandcakes commented on #1244
@PaulakaPaul I'm going to close this issue. If you are still having issues, please post an update and reopen.

[2017-11-16 20:11] #1244 closed, assigned to pieandcakes

[2017-11-16 20:17] pieandcakes commented on #1242
@Dean-Coakley @adiarbili Instead of compiling in the terminal window, you can create a task.json with your build command and add a `"preLaunchTask"` to your launch.json that will call the task before it starts debugging. To find out more about creating tasks, I can point you to the VS Code documentation on it [here](https://code.visualstudio.com/Docs/editor/tasks).

@adiarbili `-g` during compilat

[2017-11-16 21:05] bobbrow opened #1260 "shutdown event thread is blocked when an IntelliSense task takes too long"
This affects our ability to shutdown in a timely manner and results in the extension leaving the browse database in an unsafe state.

protocol events need to be serviced more quickly and long running tasks need to be moved off of the main thread.

[2017-11-16 21:08] #975 closed, assigned to nobody

[2017-11-16 21:14] bobbrow commented on #298
We have a stretch goal to enable offline installs for our next update.  I'm adding it to the December 2017 milestone.

[2017-11-16 21:27] bobbrow commented on #1041
We recently updated the way the extension searches for default includes.  This issue forked into a bunch of other issues so if we missed anything and you are still having problems, please open a new issue.

[2017-11-16 21:27] #1041 closed, assigned to nobody

[2017-11-16 21:29] bobbrow commented on #994
If you are continuing to have issues with this, please post some additional information and we can investigate further.  Thanks!

[2017-11-16 21:29] #994 closed, assigned to nobody

[2017-11-16 21:34] bobbrow commented on #136
If you are continuing to have issues with this, please post some additional information and we can investigate further.  Thanks!

[2017-11-16 21:34] #136 closed, assigned to nobody

[2017-11-16 21:37] bobbrow commented on #483
If you are continuing to have issues with this, please let us know.  Thanks!

[2017-11-16 22:33] sean-mcmanus commented on #1258
I'm not able to repro this. Is this a transient/temporary error? What line/character is the error appearing on?

[2017-11-17 08:35] agauniyal commented on #1079
gtest is by no means the standard unit test framework(not even crossed 50% yet), lots of other frameworks have a large number of users. See https://www.jetbrains.com/research/devecosystem-2017/cpp/ for more details. That said, having a matcher for gtest would be welcomed addition but I think the right way would to use XML output that gtest produces and mark the code(individual tests) as failing or

[2017-11-17 09:44] eskild commented on #1137
Reopening, sorry about that. VSCode 1.18.0, cpptools 0.14.2: Runaway process, same place.

    $ ps auxw | grep VSCode.CPP
    ...
    me    992  0.0  0.6 901196 209740 ?       Sl   Nov16   0:02 /home/me/.vscode/extensions/ms-vscode.cpptools-0.14.2/bin/Microsoft.VSCode.CPP.IntelliSense.Msvc.linux 31328 1
    me   1020  0.0  0.5 1568156 176840 ?      Sl   Nov16   1:17 /home/me/.vscode/extensions/ms

[2017-11-17 14:15] ogrisel commented on #822
I think I have a similar issue:

VS Code 1.18.0
Ubuntu 16.04
C/C++ 0.14.2

To reproduce, just clone https://github.com/python/cpython , open vscode in the top level folder of the repo and open a `.c` file in a tab, e.g.: `Modules/_pickle.c`.

I get a process named `Microsoft.VSCode.CPP.IntelliSense.Msvc.linux` running 100% CPU seemingly forever (and I have to kill it manually when I close the vsco

[2017-11-17 14:18] ogrisel commented on #822
I deleted all my user settings and the `.vscode` folder in my project to get the default configuration of vscode and the c/c++ extension and I still get the 100% CPU usage issue whenever I edit a file like `cpython/Modules/_pickle.c` in vscode under Linux.

[2017-11-17 14:56] bojunehsu commented on #1073
If it helps, I also encountered this issue before on Windows.  https://github.com/Microsoft/vscode/issues/36418.  I don't recall having multiple tabs with different casing though.  I will enable logging and share if I encounter the issue again.

[2017-11-17 17:06] bobbrow commented on #822
@ogrisel, can you please create a new issue for your case and we will gladly look into it?  Your issue looks different than @HankB's issue.

[2017-11-17 17:54] bobbrow commented on #19
I'm sorry for your frustration, but you must not have noticed that I added this to the December 2017 milestone.  Keep calm 👑 Support is coming! 😉

[2017-11-17 18:36] roblourens opened #1261 "namespace sense problems about cpptools in version 0.14.2"
_From @littlepiece on November 17, 2017 10:39_

- VSCode Version: Code 1.18.0 (dcee2202709a4f223185514b9275aa4229841aa7, 2017-11-08T21:22:49.932Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
code-gnu-global|aus|0.2.2
cpptools|ms-|0.14.2

/////////////////////////////////////////////

describle the problem as follow:
cpptools can't sense E_G

[2017-11-17 18:39] mohsen74 opened #1262 "Unable to start debugging cpp with vscode."
hello
I have a problem with debugging my cpp code with vscode that when I try to I get an error said "Unable to start debugging. Program path 'c:\Users\Moh3n\Desktop\New folder\tst.cpp' is missing or invalid"
my launch.jason file:
`{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.m

[2017-11-17 18:56] bobbrow commented on #1262
That looks like a source code file, not an executable.  Are you building an exe first?  You should put the path to the exe in the "program" field.

[2017-11-17 21:04] mohsen74 commented on #1262
yes, I did that but still have the same problem.

[2017-11-17 21:34] bobbrow commented on #1262
What is the name of your exe?  Put that in the "program" field instead of the name of the cpp file.

[2017-11-17 21:44] mohsen74 commented on #1262
same as my cpp file. I did that still have the same problem

[2017-11-17 21:44] sean-mcmanus commented on #1261
@littlepiece Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/1143. The issue only reproes with the "Tag Parser" intelliSenseEngine and changing it to "Default" fixes it (or using ErrorCode::E_GATEWAY_ERR).

[2017-11-17 21:44] #1261 closed, assigned to nobody

[2017-11-18 00:11] bobbrow commented on #1262
your exe is named `tst.cpp`?  Try naming it `tst.exe` and put `tst.exe` in the "program" field.

[2017-11-18 00:24] kaarrot commented on #694
If the extension is installed offline (using vsix) what are the steps to update the language components?

[2017-11-18 01:38] pieandcakes commented on #1262
if you run tst.cpp from the command line does your program execute?
does this actually exist? 'c:\Users\Moh3n\Desktop\New folder\tst.cpp'

[2017-11-18 01:43] sean-mcmanus commented on #694
@kubaroth It's not recommended to install the .vsix offline. You should install the .vsix online with a machine with a matching OS and then zip/tar the installed folder and unzip the installed folder to the extensions folder on the offline machine. Are you able to do that? If not, you'd need to open the package.json to find all the runtimeDependencies you need to manually download and unzip into t

[2017-11-18 02:12] Yensan opened #1263 "please add visual studio C/C++ tool chains"
I  have installed visual studio express and its C/C++ toolkit. But I find it is imposible using VC++ in VScode.(Or, just I don't know how to.)
So, please add the VC++ tool chain suport  into VScode (compiler/linker/header/lib/debugger)

[2017-11-18 03:56] Yensan commented on #1263
At present, I have achieved compiling by VC++, but can not debugging with VC++ tool (maybe it is cdb.exe)
**c_cpp_properties.json**

                "${workspaceRoot}", "${workspaceRoot}/3rd/include",
                "C:/Program Files (x86)/Microsoft Visual Studio/2017/Professional/VC/Tools/MSVC/14.10.25017/include",
                "C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/include/"

[2017-11-18 06:38] liwangqian opened #1264 "The extension is more and more hard to use as update."

[2017-11-18 06:47] mohsen74 commented on #1262
I put tst.exe in program field and didn't work.
Yes it exists

[2017-11-18 07:16] kaarrot commented on #694
Thanks, I did try the latter - manual download but I had no luck. As I'm still not familiar with the process  I wasn't sure if all the dependencies should be copied in the ./bin directory. Does the package.json specifies the exact destination?
I will try the former solution as well, but I'm afraid It may not work as the offline machine runs different  Linux distro.

[2017-11-18 10:59] EECSGEEK commented on #575
@bobbrow  I need Live syntax checker when I editing C/C++ files,
I had install many extensions, but no one has syntax check on C/C++

[2017-11-18 11:12] s-martin commented on #19
@bobbrow Appreciate it! Thanks!

[2017-11-18 13:47] mohsen74 commented on #1262
I think my compiler has a problem.because vscode make the .exe file but when I try to open it doesn't work but after I recompile it with dev c++ i can run the .exe file( not in vscode)

[2017-11-18 19:23] DirtyHairy commented on #1144
I have the same issue. `locate` shows me that the libc headers seem to have moved to

[code]

If I add this to the includes, everything is fine. What version of Xcode are you using? I have a feeling that this might be a change that has been introduced with Xcode 9 or 9.1, as every used to work fine for me in the past.

[2017-11-19 09:54] dorinlazar commented on #1258
It no longer reproduces with VSCode 1.18.1

[2017-11-19 09:56] #1258 closed, assigned to nobody

[2017-11-19 20:44] hajekj opened #1265 "${command:pickRemoteProcess} doesn't seem to work when using Bash on Windows"
Reopening https://github.com/Microsoft/vscode-cpptools/issues/538

When trying to remotely debug a process with WSL, I hit following error:

[code]

I went through the extension's source and discovered folowing:
When I changed the path from _sysnative_ to _system32_ and corrected the quotes dirrectly within the extension's source, it executed however the exec never seems to finish. I tried reprodu

[2017-11-19 21:27] sbrw opened #1266 ""Macro calls" in the navigation list (alt-n)"
- Ubuntu 17.10
- vscode 1.18.1
- C/C++ 0.14.2

1. Clone https://github.com/tmux/tmux.git
2. Install libevent-1.4.2 and libevent-dev for header file dependency in tmux
3. Open vscode and add the tmux folder to the workspace
4. Open the file tmux-file "alerts.c" in vscode
5. Navigate... (alt-n) and check the listed available symbols in alerts.c. The first two listed (TAILQ_FOREACH and TAILQ_FOREACH_

[2017-11-19 22:05] codercodingthecode commented on #1041
still does not work. but that is a way of running from it.

[2017-11-20 01:57] lianzisong opened #1267 "c/cpp function navigation issues"
VSCode Version: 1.18
OS Version: win 10
Steps to Reproduce:

open the folders through the vscode
press the alt+N ,then check the result.
the cpp file navigation result :
![image](https://user-images.githubusercontent.com/16344340/32998807-17c8ff1c-cdd9-11e7-8f7b-2be16b3d4d0e.png)
and the H file navtigation result:
image
![image](https://user-images.githubusercontent.com/16344340/32998814-257c93da-

[2017-11-20 02:35] zjturner commented on #1210
I asked in vscode github and they said to just make an extension.  That's about what I expected them to say, but I believe this is useful enough that vscode should support it directly, if not in the larger project in the cpptools extension.  Setting a debugging command line is an extremely difficult and awkward thing to do right without it.

[2017-11-20 06:33] roblourens opened #1268 "Mac - my vscode cannot identify "printf""
_From @KingOfDuck on November 20, 2017 3:44_

- VSCode Version: Code 1.18.1 (929bacba01ef658b873545e26034d1a8067445e9, 2017-11-16T18:23:26.125Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
include-autocomplete|ajs|0.0.4
vscode-eslint|dba|1.4.3
CppSnippets|har|0.0.13
vscode-clang|mit|0.2.2
cpptools|ms-|0.14.2

(5 theme extensions excluded)

    He

[2017-11-20 16:37] bobbrow commented on #575
@EECSGEEK, we have had live syntax checking for some time now.  Make sure `C_Cpp.intelliSenseEngine: "Default"` is set in your settings.  Also make sure that there are no green squiggles under your #include lines.  If we can't resolve a #include line, we will hide the red squiggles by default.

[2017-11-20 16:44] bobbrow commented on #1041
@andythedandyone, please open a new issue and we'll be happy to investigate.

[2017-11-20 16:49] bobbrow commented on #1267
This function is for code navigation inside a single file.  It does not show results from outside of the active file.  Is it failing to list a function in the current file?

We will need more information in order to determine if there is a bug here or not.

[2017-11-20 16:52] bobbrow commented on #1268
Your paths look incorrect.  What does clang print out when you run `clang -v -E -x c++ - < /dev/null`?  Your paths should match what clang prints.

[2017-11-20 18:15] pieandcakes commented on #1262
What do you mean by "VS code makes your .exe file"? Are you using a `task.json` to compile your code? If so, can you share your `task.json`

[2017-11-20 18:17] pieandcakes commented on #1210
I marked it as a Feature request and we can take a look at what it would take.

[2017-11-20 19:21] sean-mcmanus commented on #1263
I use the C++ Windows configuration of type "cppvsdbg" in launch.json. VS Code has a Debugger tab on the left with a Start Debugging button.

[2017-11-20 19:45] sean-mcmanus commented on #1264
Can you provide more info?

[2017-11-20 19:49] sean-mcmanus commented on #694
@kubaroth The files should be unzipped into the main extension directory. The zip files have the folders inside them already, such as bin. Different Linux distros should be acceptable for the 1st solution as long as the bitness matches.

[2017-11-20 23:21] ehadmra commented on #1246
I'm facing the same issue. I noticed it gets worse as the project becomes bigger and when opening multiple files. I have to keep terminating it from time to time. This is so annoying.

[2017-11-21 00:34] lianzisong commented on #1267
Well, apparently I wanna show the function in the current file, other wise I will use the Ctrl+T.One day I update the vs code, then this issue shows up. So i create an issue in the vs code repository, but the administrator advise that this problem belongs to the c++ plug-in.in fact it works better before . It shows almost all files except some super complicate file ,it’s acceptable.but now, almost

[2017-11-21 00:47] pieandcakes commented on #1265
@hajekj Which version of Windows are you running on? is it Creator's Update or newer?

[2017-11-21 00:49] pieandcakes commented on #1265
Documentation can be found [here](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/Windows%20Subsystem%20for%20Linux.md). You need to have Windows build 15063 or newer.

[2017-11-21 01:11] EECSGEEK commented on #575
@bobbrow My settings is ok, but still no Live syntax check
 <img src="http://p1.cdn.img9.top/ipfs/QmNw5iUN2MC6YL8pSp3RTinNy6TKNYvoCm2SrY7iYfuSgS?1.PNG"></img>

[2017-11-21 01:22] pieandcakes commented on #1265
@hajekj The reason for `sysnative` is that we are a 32-bit application. In 32-bit processes, `sysnative` allows us to access the `system32` folder that normally would only be accessible for 64-bit processes. I assume when you are calling it from the commandline, you are calling it from a 64-bit process which does not have `sysnative`. You can read more about it [here](https://support.microsoft.com

[2017-11-21 01:41] sean-mcmanus commented on #1267
It sounds like navigation isn't working for you for particular C++ files. I think we need a repro. My guess is that we're failing to parse certain files. Do any other features work in the file that fails to show a navigation list?

[2017-11-21 01:50] sean-mcmanus commented on #575
@EECSGEEK It would be better if you filed a new issue. This issue was for the original feature, which in general works for most people. I assume C_Cpp.errorSquiggles is set to Enabled. Do you see messages in your Problems window? Are you using VS Code Insiders? Can you set your C_Cpp.loggingLevel to Information and see if the C/C++ Output pane shows any useful diagnostic information?

[2017-11-21 02:07] lianzisong commented on #1267
@sean-mcmanus I'm not sure whether the "particular" C++ files is the key , but as I described by the pictures ,almost all cpp files can't show the expected results ,but only some(maybe one or two) of cpp files do.
then I try other open source projects ,it works well ,just my cpp files don't.that's weired .
BTW,the source insight 3/4 shows the function list well .

[2017-11-21 02:15] lianzisong commented on #1267
@sean-mcmanus I try the F12 ,it will jump to the H file which point to function declaration .
that's not what I mean to .

[2017-11-21 02:25] sean-mcmanus commented on #1267
If Go To Definition is not going to the actual definition (only the declaration) that means the definition is failing to get parsed and added to the symbol database, which would be why it's not being found for the navigation list. If you can set your C_Cpp.loggingLevel to Information you might see some diagnostic info. You might want to try a Reset IntelliSense Database command (or just editing th

[2017-11-21 02:28] sean-mcmanus commented on #1267
Also, what is your browse.path? I assume you have ${workspaceRoot} set and your source files are under there. If it's not set correctly, then the files could not be added to the database.

[2017-11-21 02:32] lianzisong commented on #1267
@sean-mcmanus I've tried to edit/save the files ,but the result still seems failed.
what do you mean browse.path? I edit my project by drag/move the folders into the vs-code, or just right click to open the folder by the vs-code.
I think I should let you know that ,my files is edited by the GBK not utf-8. it contains some chinese words ,is it will effect the parsing?

[2017-11-21 03:07] sean-mcmanus commented on #1267
Ah, that makes sense. Yeah, the use of GBK is the cause. We only support UTF-8 currently. See https://github.com/Microsoft/vscode-cpptools/issues/806 . If you do an Edit Configuration command it will create a c_cpp_properties.json file with a browse.path.

[2017-11-21 03:12] lianzisong commented on #1267
@sean-mcmanus OK ,maybe the encode/decode is the cause , but I still hope it can support more encoding ,not just only utf-8.
I will try it again while it can support other encoding.
I will close this issue now .
thanks.

[2017-11-21 03:12] #1267 closed, assigned to nobody

[2017-11-21 03:29] EECSGEEK opened #1269 "[Help]How to set mingw's includePath to c_cpp extension"
I am a nood, I don't know how to edit json files.
I open my C project folder,I don't know how to edit "c_cpp_properties.json"
<h2>1、here is my gcc/g++ include path</h2>
<img src="http://p2.cdn.img9.top/ipfs/QmZstVgDsqVHf5PJmGbEvwV32YQ4yA4EsX195p8hcKcgWc?2.PNG">

[2017-11-21 03:33] EECSGEEK commented on #1269
<h2>2、I try to add includePath to c_cpp_properties.json</h2>

            "name": "mingw",
            "includePath": [
                "C:/Users/76320/Software/mingw/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/7.2.0/include",
                "C:/Users/76320/Software/mingw/mingw64/lib/gcc/x86_64-w64-mingw32/7.2.0/include/c++/tr1",
                "C:/Users/76320/Software/mingw/mingw64/lib/gcc/x86_64

[2017-11-21 03:42] Yensan commented on #1263
Thank you for your anwser.
I use MinGW for a long time,  because it is convinient cross to Linux/MacOS gcc. Now I write some C/C++ Extension to python project,  it must compiled with VC++ in Windows.
I can debug with MinGW. But I don't know how to setting with VC++.
Edited tasks.json, now I have compiled it with VC++ to *.o(can run as same with *.exe)  and *.pdb file; edited launch.json, it has co

[2017-11-21 03:45] dkontyko opened #1270 "Add include path to default c_cpp_properties.json file that's auto-generated"
VS Code 1.18.1
C/C++ extension 0.14.2

Is there a way to add my own include paths to the default json file that generated, so that I don't have to copy-paste them manually into the file every time? My C++ library locations don't change, but the default json file that's generated does not include their locations, and I'd like to not have to manually edit the json file every time I create a new prog

[2017-11-21 03:46] EECSGEEK commented on #1269
<img src=”https://i.imgur.com/Ji49Npg.png“></img>
https://i.imgur.com/Ji49Npg.png
[](”https://i.imgur.com/Ji49Npg.png“)
I add gcc and g++ search path to it
But it can not recognize

file: 'file:///c%3A/Users/76320/Code/C/itoa.cpp'
severity: 'Error'
message: 'identifier "itoa" is undefined'
at: '11,35'
source: ''
code: 'undefined'

#### windows.h not find
but I can run this program using gcc/g++ co

[2017-11-21 03:59] Yensan commented on #1269
1. If you install the MinGW correctly (I use a simplificationdo: install codeblocks), it can include and link standard lib normally, just follow this c_cpp_properties.json

2. If you want to use third lib, there are some complex settings in c_cpp_properties.json and tasks.json. I use Gtest with MinGW, put gtest include file in `${workspaceRoot}\3rd\include`, lib files in `${workspaceRoot}/3rd/minG

[2017-11-21 04:16] LeThiHyVong commented on #1270
AFAIK, the template for c_cpp_properties.json is located at C:\Users\ <username> \.vscode\extensions\ms-vscode.cpptools-0.14.2\out\src\LanguageServer\configurations.js
Maybe you can manually edit that file for workaround. I'm not sure whether it is overwritten when extension is updated or not.

[2017-11-21 04:33] bsed commented on #1247
I have same problem
[code]

[2017-11-21 05:34] EECSGEEK commented on #1269
@Yensan I add all '#include <...> search starts here:' to "includePath" and "browse", it works.
#### I bulid a simple task to run it

itoa.cpp is running
Time spent:501ms
### My mingw/bin has gdb.exe, how to use it(vscode)

[2017-11-21 05:49] hajekj commented on #1265
@pieandcakes: I am running latest Windows 10 Fall Creators Update 1709 x64. Same with VS Code and CPP Tools version. VS Code version is 1.18.1, x64 version.

Thanks for the explanation related to the sysnative folder. I am sorry I forgot to mention that I am trying to work with remote attach and I tried using the code mentioned both in the [sample](https://github.com/Microsoft/vscode-cpptools/blob

[2017-11-21 06:00] #1269 closed, assigned to nobody

[2017-11-21 06:21] Yensan commented on #1269
debug and build are two level things:  build(compile -- link) --run OR  debug
build is in tasks.json, debug is in launch.json
my launch.json, you can visit vscode doc for details.

[2017-11-21 06:55] EECSGEEK commented on #1269
[Error]Unable to start debugging. The value of miDebuggerPath is invalid

### My Tasks.json can work
### Using terminal gdb.exe is ok, but vscode gdb debuger don't work
[code]

@Yensan I can use gdb on terminal is enough,I think current version of vscode don't support gdb debug for windows.
I think I can press F5 build and run .cpp files is enough(like C-free software)

<img src="http://p0.cdn.img

[2017-11-21 08:02] Yensan commented on #1269
maybe vscode has not permission to access. As ususal, I will install such as:   c:/ python;   c:/ java;  c:/ MinGW....
But I think the best anwser is in VScode Doc, not me.    ^_.^

[2017-11-21 09:29] yzlnew opened #1271 "(macOS) Can't view 'BS' in vscode"
Maybe due to the default Chinese input method, I'm keep tying 'BS' (0x08 in ASCII) in vscode, which is annoying but I can't view.

In vscode:
![jietu20171120-141005](https://user-images.githubusercontent.com/4904877/33064693-8434a3f0-cee1-11e7-919b-1c1cbd4df823.jpg)

In Sublime Text:
![jietu20171120-140935](https://user-images.githubusercontent.com/4904877/33064713-917e89cc-cee1-11e7-8f37-97e303c5

[2017-11-21 09:52] #1263 closed, assigned to nobody

[2017-11-21 11:11] chibicitiberiu opened #1272 "[Feature Request] Change Attach to Process to not require a program name by inferring it."
Currently, in order to attach to a process, I need to provide the following fields in my launch.json:

[code]

In my tests, it seems that the `program` field is validated (i.e. the executable exists, it is a valid executable), but it is completely ignored when debugging. I can set `"program" = "/bin/bash"` and attach to any process I want. But if I set `"program" = "non existent file"`, I get a la

[2017-11-21 11:27] sbrw opened #1273 "Configuration selection"
- Ubuntu 17.10
- vscode 1.18.1
- C/C++ 0.14.2

1. Add a custom configuration in c_cpp_properties.json
2. Open a C-file in the editor
3. Set your new custom configuration active in the toolbar in the lower right corner
4. Modify c_cpp_properties.json by e.g adding a path to your custom configuration
5. Reopen the C-file and the new configuration selected previously is not active
6. Close and restar

[2017-11-21 14:14] mbodmer commented on #1156
Hi, I have the same issue here. I think you could just treat -isystem paths the same as normal -I include paths but do not warn if it is not possible to resolve any further includes from the referenced system header.

[2017-11-21 16:32] bobbrow commented on #1273
If there is a definition called "Linux" in your config, we will select that one.  Otherwise we pick the last one.  I've been meaning to change this behavior and have it remember the previously selected config.  It's been this way since I joined the project earlier this year.

[2017-11-21 16:35] bobbrow commented on #1271
This doesn't look like a C++ issue.  Am I missing something?
Can you file an issue for vscode?  https://github.com/Microsoft/vscode/issues

[2017-11-21 16:35] #1271 closed, assigned to nobody

[2017-11-21 16:38] bobbrow commented on #1270
Unfortunately, this will be overwritten during updates.  When we migrate settings from c_cpp_properties.json to the VS Code settings.json file, you should be able to accomplish this reliably.

[2017-11-21 17:27] yzlnew commented on #1271
Sorry, I just posted on the wrong page.
Thanks anyway.

[2017-11-21 18:09] sbrw commented on #1273
I'm cross-compiling 99% of the time so Linux is not applicable target for me. I've seen both Mac and Win32 being selected on Linux.

Thanks for nice features!

[2017-11-21 18:42] MichaelDennis opened #1274 "Can't load the DevSkim extension into Visual Studio 2017"
When I attempted to load the DevSkim extension into Visual Studio 2017, I received the error msg: "The VSPackage did not load correctly".

The activity log file indicated an issue with "CompanyName" as shown below.

Any help you can give would be appreciated.

Here are some excerpts from the log file:

    <description>Missing/invalid &apos;CompanyName&apos; field in package registry</description>

[2017-11-21 18:49] veto-gh commented on #513
This is still relevant for me.

My launch.json:

[code]
No difference if I set `externalConsole` to true or false.
Gnome Terminal pops up and closes for a millisecond on both settings.

I can successfully run the debugger (variables, watches, ...) with my program called "test" but I see no output in the "Debug Console" or the "Output"-Panel.
Also no output with "Ctrl+F5" (run without debugging) wh

[2017-11-21 19:29] sean-mcmanus commented on #1269
@pieandcakes Do you know how to use gdb from VS Code on Windows?

[2017-11-21 19:43] pieandcakes commented on #1269
@EECSGEEK can you provide your `launch.json` ? If you are specifying that gdb, make sure it can run in `mi` mode. To test that, try and launch `gdb` with the commandline flag `--interpreter=mi`. We rely on that to launch `gdb` in the correct mode so we can communicate it.

We support `gdb` on Windows. I think you might have a configuration issue. If you want to configure F5 to build AND run, you n

[2017-11-21 19:44] pieandcakes commented on #1269
@EECSGEEK Also, when you compile with `gcc`, you need to specify `-g` compiler flag to include symbols so the debugger has enough info to debug your executable.

[2017-11-21 19:47] pieandcakes commented on #513
@veto-gh Your output should be in Gnome Terminal.

We have not implemented Run without Debugging yet, so `Ctrl+F5` will do the same thing as `F5`.

[2017-11-21 19:48] sean-mcmanus commented on #1272
On Linux, what I've experienced is that if the program doesn't match the process that is attached to, then the symbols and breakpoints won't be hit, so it's useless. I agree it seems odd why the field can't be auto-populated based on the PID ("process" is not needed when using the cppvsdbg debugger on Windows). Maybe @pieandcakes knows more.

[2017-11-21 19:52] sean-mcmanus commented on #1273
Yeah, this should be pretty quick to add via saving the previously set configuration name in the workspaceState. I believe the reason the config wasn't saved initially was because we didn't know where to save it (not sure when workspaceState was added).

[2017-11-21 19:53] pieandcakes commented on #1272
We send it to `gdb` to tell it where to load symbols from. if you do `/bin/bash` does `gdb` load the symbols correctly for the process you are debugging? We can look at removing it if it truly isn't needed.

[2017-11-21 19:56] sean-mcmanus commented on #1274
Did you mean to file an issue at https://github.com/Microsoft/DevSkim-VSCode-Plugin/issues ? This doesn't appear to be related to the cpptools extension. Although you're mentioning VS 2017, so maybe you want to try the VS site https://github.com/Microsoft/DevSkim-VisualStudio-Extension/issues .

[2017-11-21 19:56] #1274 closed, assigned to nobody

[2017-11-21 20:11] MichaelDennis commented on #1274
Right, thanks Sean.

Thanks,

Michael McDonnell

    On Tuesday, November 21, 2017, 11:56:45 AM PST, Sean McManus <notifications@github.com> wrote:

Did you mean to file an issue at https://github.com/Microsoft/DevSkim-VSCode-Plugin/issues ? This doesn't appear to be related to the cpptools extension.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2017-11-21 20:12] veto-gh commented on #513
Thank you for your answer @pieandcakes.

I'm sorry I misunderstood.
You are correct, as long as the debugger has stopped, Gnome Terminal stays open and I can see the output until I continue. I missed this.

Any pointers on how to keep the terminal open though?
I would need to have set a breakpoint only to see output of a simple application without a main loop.

[2017-11-21 20:15] pieandcakes commented on #513
@veto-gh Set a read in the last line using cin or scanf? Otherwise, it seems to be a common complaint that we haven't figured out how to address yet. If you disable `externalConsole` it MAY show up in the debugger console instead but there's no guarantee.

[2017-11-21 20:26] veto-gh commented on #513
Thank you.

Had no luck with this. cin/scanf works though.

I see. Would be great for starters to have that functionality some day. Otherwise great work on the extension!

[2017-11-21 20:58] anboua opened #1275 "Error Squiggles not working in c/++ fichier"
Error Squiggles not working in c/c++ . error must be underline in the editor !
how can I make it work ?

![dsfsd](https://user-images.githubusercontent.com/20954351/33096245-9e120752-cf06-11e7-9987-3f6ee055d58f.png)

[2017-11-21 21:28] sean-mcmanus commented on #1275
What is your OS? The cpptools extension doesn't appear to be activated correctly (no config name in the bottom right).

[2017-11-21 21:31] anboua commented on #1275
windows 8.1 64 bit

[2017-11-21 21:40] sean-mcmanus commented on #1275
I suspect you do not have a folder open. Can you do an open folder instead of open file? I think our next update will fix the open file scenario.

[2017-11-21 21:52] pieandcakes commented on #1265
@hajekj It looks like theres a problem in WSL: https://github.com/Microsoft/WSL/issues/2592 We need to wait until its fixed.

[2017-11-21 22:20] anboua commented on #1275
I try it with open folder  it's the same !
![sanffffs titre](https://user-images.githubusercontent.com/20954351/33099786-68fd3f4e-cf12-11e7-82c8-b820855bdd35.png)

[2017-11-21 22:34] sean-mcmanus commented on #1275
The extension is working as expected now. You need to update your includePath in c_cpp_properties.json. If your browse.path is set, you might be able to use the lightbulb code action to locate the includePath to add. I have stdlib/stdio.h at `C:\Program Files (x86)\Windows Kits\10\Include\10.0.16299.0\ucrt\` so you need to point it to whatever Windows SDK version you have installed. We're supposed

[2017-11-21 22:48] anboua commented on #1275
thank you so much .It worked !

[2017-11-22 00:14] #1275 closed, assigned to nobody

[2017-11-22 01:32] EECSGEEK commented on #1269
@pieandcakes My lauch.json:
<img src="http://p3.cdn.img9.top/ipfs/QmThfLYxuwmf3NpjnVbTWqojxZUB4AykeUXD5U5Wzpbncz?3.png"></img>

My tasks.json

    {
      "label": "run",
      "type": "shell",
      "command": "gcc",
      "args": [
        "itoa.cpp", "-g && a"
      ]
    }
  ]

my mingw is ok,no problem with mingw path
both gdb and gcc is in my env_path.

[2017-11-22 03:03] Yensan commented on #1269
C/C++ plugin is working very well with MinGW(gcc in Win) and Clang(llvm in MacOS) in my settings. I have compiled/linked/run/debuged the C/C++ code smoothly with MinGW. And I also use MinGW/Clang with Gtest (this is "how to use third party lib"). C/C++ plugin works very well.

For my opinoin, you may search for "gcc compiler args", and look up VScode Doc in Github.

my tasks for MinGW:
delete outp

[2017-11-22 05:18] pieandcakes commented on #1269
@EECSGEEK Does your app need that `arg` of `--interpreter=mi` ? We already send it to gdb so you don't need to add that.

Your compile command seems strange as I don't know what `-g && a` does. To get what you want, you probably just need:
[code]

[2017-11-22 05:27] EECSGEEK commented on #1269
@pieandcakes  gcc has no arv"--interpreter"
--interpreter=mi is the gdb.exe argument

[2017-11-22 05:31] pieandcakes commented on #1269
Right. you don't need to specify `--interpreter=mi`. We pass that to `gdb` in the extension already.

[2017-11-22 06:26] echosys commented on #1218
Thanks for the reply. So I did try the value of "attach" and it seems like vscode cpp debugger was able to attach to the program but not able to hit the breakpoints.
I used a usleep statement for 15second so I have enough time to attach but as soon as I attach the program resumes executing and breakpoint was never hit.
I did make sure I am using the same a.out file and breakpoint is indeed put on

[2017-11-22 06:30] echosys commented on #1218
I was using the usleep statement on Mac under include header file of #include <unistd.h>.
Would that interfere with the debugger and be the cause of why as soon as I attach the debugger the usleep seems to stop and program resume executing?

[2017-11-22 06:38] pieandcakes commented on #1218
@echosys when you compiled did you compile with the `-g` flag to include debug symbols in your executable?

[2017-11-22 14:22] veto-gh opened #1276 "Dim inactive code"
I'm sorry if this has been asked before.

Is there any feature/workaround to make inactive code sections (ruled out by the pre-processor) visually differentiable? I could not found anything on that matter.
I.e.:
![a](https://user-images.githubusercontent.com/25972036/33145448-b4556b52-cfc0-11e7-8aff-9c688e11c3a7.png)
It already works in trivial cases:
![a](https://user-images.githubusercontent.com

[2017-11-22 15:16] Kurt-Shiwz opened #1277 "Problem in Symbol Searching"
* Operating System and version
       macOs 10.13.1
    * VS Code version and if you are using the Insiders build
      1.18.1
    * C/C++ extension version
      0.14.2

I just want search symbol in current file, but extension show so many symbol in other files, it make the lower.

![image](https://user-images.githubusercontent.com/7554917/33134157-f7aaaa20-cfd9-11e7-8f76-0477ada3c2c1.png)

[2017-11-22 17:49] dkontyko commented on #1270
Thanks, so basically it's a planned addition? I might modify the js file anyway. Redoing it after an update is still easier than the json file every time I make a new program.

[2017-11-22 17:58] DjMixMasterDragon opened #1278 "cannot include the header file"
Linux Fedora 25
Vscode Version 1.18.1
C/C++ Ext 0.14.2

All my header include files are squiggled with the error: cannot open source file "... .h"

I have ran the command: gcc -v -E -x c++ - < /dev/null  to confirm those are all in my c_cpp_properties.json and even added a path to stddef.h

Anymore troubleshooting on this case?

[2017-11-22 18:01] bobbrow commented on #1276
This is covered by #230.  I recently discovered a way that we can do this and I need to test it out.  I'm not sure if we'll get it for the December release though.

[2017-11-22 18:01] #1276 closed, assigned to nobody

[2017-11-22 19:06] veto-gh commented on #1276
Thanks for the quick answer and for pointing me to the original issues, which I up-voted.

[2017-11-22 20:49] sean-mcmanus commented on #1277
Use @ or the Go To Symbol in File command.

[2017-11-22 21:18] sean-mcmanus commented on #1278
When you click the lightbulb code action do you get any suggested paths (if so, they're obtained via searching the browse.path recursively). What header can't be found? Is it a library header? Also, the order of paths in includePath is important.

[2017-11-22 21:29] DjMixMasterDragon commented on #1278
When clicking lightbulb, i get a bunch of Add to "include Path"  and Edit "Include Path Settings".
Yes correct, it is a self defined header file.

[2017-11-22 21:35] sean-mcmanus commented on #1278
Can you try using the `Add to "includePath"` options, assuming the paths they add are correct and not redundant. By self-defined header file, you mean you created it yourself? Paths in your workspace might not be shown with the gcc command (I think that only shows the system includes).

[2017-11-23 03:41] Kurt-Shiwz commented on #1277
@sean-mcmanus it show nothing
![image](https://user-images.githubusercontent.com/7554917/33158230-1b8cae8e-d043-11e7-8172-9a7c98ca39d0.png)

[2017-11-23 03:44] sean-mcmanus commented on #1277
It looks like the file is not being parsed correctly. If you edit/save the file, does it fix it? Can you increase the C_Cpp.loggingLevel to Information and view the C/C++ Output pane to see if there's a problem shown there? Can you create a dummy C++ file to verify that Go to Symbol in File works in general?

[2017-11-23 05:37] sungb commented on #217
This issue is fixed in Version 0.14.2
CC: @sean-mcmanus  @bobbrow

[2017-11-23 09:42] Kurt-Shiwz commented on #1277
utill.cpp, 7750 lines, 363K @sean-mcmanus
IntelliSense Engine = Default.
The extension will use the Tag Parser for IntelliSense when #includes don't resolve.
Autocomplete is enabled.
Error squiggles are enabled.
File exclude: **/.git
File exclude: **/.svn
File exclude: **/.hg
File exclude: **/CVS
File exclude: **/.DS_Store
File exclude: .*
File exclude: *.a
File exclude: *.o
File exclude: *.so
Fil

[2017-11-23 09:43] Kurt-Shiwz commented on #1277
![image](https://user-images.githubusercontent.com/7554917/33166608-cddbd146-d075-11e7-8b1a-8040f656e96c.png)
IntelliSense Engine = Default.
The extension will use the Tag Parser for IntelliSense when #includes don't resolve.
Autocomplete is enabled.
Error squiggles are enabled.
File exclude: **/.git
File exclude: **/.svn
File exclude: **/.hg
File exclude: **/CVS
File exclude: **/.DS_Store
File ex

[2017-11-23 11:07] decimad opened #1279 ""-isystem" paths in compile_commands.json-parsing ignored"
Like the Header says, c_cpp_tools compile commands parsing seems to ignore isystem paths (that seems to be a gcc-only Feature?). It would be great if those could be parsed as well.

[2017-11-23 11:13] vitalyster opened #1280 "error parsing multiline "command" in compile_commands.json"
I did generate compile_commands.json with `cmake . -G "NMake Makefiles" -DCMAKE_EXPORT_COMPILE_COMMANDS=1` and got "command" properties in this format:
[code]
and it looks like that is not supported: `Unexpected end of string` message in "Problems" window at first "command" line
Using MSVS2017, CMake 3.8.2, VSCode 1.18.1, cpptools 0.14.2

[2017-11-23 12:36] chibicitiberiu commented on #1272
@pieandcakes I tested, and yes, you are right. Symbols aren't loaded if I set `"program" : "/bin/bash"`.

If I start gdb from command line with `gdb --pid <pid>`, the symbols are loaded just fine, so I still say that this field shouln't be necessary. I don't understand why it doesn't load them when started through cpptools.

[2017-11-23 19:18] sbrw commented on #1246
I've also experience this. Specially with a workspace with many files, target specific directories and pre-processor directives to select target. I've tried to enable the most verbose debug level but there is nothing in the output window. Would it be possible to temporarily add extra debug prints?

When I switch configuration (target) the intellisense flame (lower right toolbar) is continually red

[2017-11-24 10:01] jyhi commented on #1144
I am able to reproduce this problem with Xcode 9.1 on my classmate's macOS 10.13.1 High Sierra; simply include any `.h` header files and IntelliSense does not work.

@DirtyHairy's comment fixes this problem. With Xcode 9.1 the `stdio.h` in `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/../include/c++/v1` seems to become a stub header file with only `#includ

[2017-11-24 10:15] BigVan opened #1281 "CPU use 100% after enable cpptools"
- VSCode Version:
1.8.1

- OS Version:
CentOS 7.3

Steps to Reproduce:

1. yum install code
2. just open a cpp file and edit it.

this 'top' shows:
[code]

Reproduces without extensions: No

extensions:
C/C++ 0.14.2
Go 0.6.67

It returns to normal after I disable c/c++ extension

[2017-11-24 20:01] sbrw opened #1282 "enums and their members"
- Ubuntu 17.10, Ubuntu 16.04
- vscode 1.18.1
- C/C++ 0.14.2

I have a header file which is part of a big code base. The header file does not include any other header files. The file contains a typedef'ed enum. I expected that hovering over the enum-members would display its enumerated value. It doesn't.

As I cannot disclose protected code I added a dummy enum in the file to illustrate as shown be

[2017-11-24 20:20] sbrw opened #1283 "Symbol navigation and context"
- Ubuntu 17.10
- vscode 1.18.1
- C/C++ 0.14.2

Often times when I browse all symbols using CTRL-T, the dropdown list cannot hold both the symbol name and its path. The path gets truncated (not viewable), which complicates navigation in e.g multi-target projects that may have the same symbol defined in different files.

Would it be possible to:
- 'Pop-out' the selected symbol with full symbol name

[2017-11-24 20:48] sbrw opened #1284 ""exclude path" in c_cpp_properties.json"
- Ubuntu 17.10
- vscode 1.18.1
- C/C++ 0.14.2

I miss the possibility to exclude directories from a configuration. For example:
- Directories containing build artifacts should not appear when quick opening a file (CTRL-P) or searching for/inside files.
- If multiple configurations share large parts of the source code tree, only symbols relevant for the currently selected configuration should be na

[2017-11-24 21:08] sbrw opened #1285 "Connect c_cpp configuration with task"
- Ubuntu 17.10
- vscode 1.18.1
- C/C++ 0.14.2

Would it possible to connect tasks defined in tasks.json with a configuration defined in c_cpp_properties.json.

Alternatively be able to pass defines stated in c_cpp_properties.json for the active configuration into the command field of a task in tasks.json.

The aim would be to select build task depending on active configuration, just by pressing CT

[2017-11-24 21:45] sbrw opened #1286 "Problem matcher"
- Ubuntu 17.10
- vscode 1.18.1
- C/C++ 0.14.2

I find it unfortunate to mix intellisense/lint errors and build errors/warnings in the "Problems" tab. I might have multiple workspaces open, some with broken intellisense include paths and others without. I would  still want to build a project and only attend to the build specific compilation errors in the "Problems" tab. Not interleaving it with non

[2017-11-25 03:43] EECSGEEK commented on #1067
<h3><b>This is also broken on Win-Platform</b></h3>
<img src="http://p3.cdn.img9.top/ipfs/QmTeHsD1MLwVCodTFWrPvJkxvc4KAapgnpLu6mJRFCnWGF?3.png" />

[2017-11-25 09:35] weinand opened #1287 "Debugger add configuration not showing C++"
_From @rajinder-yadav on November 25, 2017 8:45_

- VSCode Version: Code - Insiders 1.19.0-insider (89b158e11cb1c3fe94a3876222478ed2d0549fc8, 2017-11-24T06:07:59.584Z)
- OS Version: Darwin x64 17.2.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
markdown-toc|Ala|1.5.6
vscode-markdownlint|Dav|0.12.0
EditorConfig|Edi|0.11.1
vscode-eslint|dba|1.4.3
tslint|eg2|1.0.23
cpptools|ms-|0.1

[2017-11-25 17:25] adiarbili commented on #1242
@pieandcakes Thanks a lot!!!!

[2017-11-26 03:57] bobbrow commented on #1281
The language server doesn't work on CentOS 7 yet.  We will be testing some fixes next week to remove the GLIBC 2.18 dependency so that the extension will run on CentOS and related distros.  There is a temporary workaround you can try in issue #19.

[2017-11-26 03:57] #1281 closed, assigned to nobody

[2017-11-26 18:14] xgalaxy commented on #770
This seems broken again. And the workaround doesn't work.

EDIT: Figured it out. Had to run the below command to get the framework path. Its too bad this isn't done for us.

`clang -v -E -x C++ - < /dev/null`

[2017-11-27 01:13] chauvoluuhuong opened #1288 "c/c++ extension eating CPU , os x"
Hi !,
i using Mac OS (HIGH SIERRA version)
why it consumption too many CPU ? .When i trace through activity tool, it using 99% CPU all most time .How can i de-sersion it ???
Thanks

[2017-11-27 08:25] ghamelin opened #1289 "memory viewer in debug"
Since there has been an update to the vscode ( https://code.visualstudio.com/updates/v1_15#_loaded-scripts-explorer ) is there a way to view memory usage in debug mode?

[2017-11-27 16:24] bobbrow commented on #770
Can you paste the output of your clang command?  We should be parsing the framework directories (I'm staring at the code that does this).  If you have multiple versions of clang installed, make sure that `/usr/bin/clang` symlinks to the correct one.  If that path doesn't resolve, we try the version installed with XCode.

[2017-11-27 16:48] bobbrow commented on #1288
If you hover over this icon, do you see any progress being made?

![image](https://user-images.githubusercontent.com/12818240/33278128-6c503f34-d34f-11e7-9529-9afb9433ee84.png)

It is expected that we use one core to index your workspace so that code navigation works.  This should be a finite operation.  If it continues for too long we would like to know more about your workspace.

You also have t

[2017-11-27 17:41] bobbrow commented on #1282
It looks like the "fuzzy" IntelliSense engine is providing results for you.  Can you check on a few things for me?
1. Is `C_Cpp.intelliSenseEngine` set to `Default` in your settings.json?
2. Are there any "Problems" in the problems window that say "include errors detected"?  By default if we can't resolve your includes, we disable the error squiggles and use the fuzzy IntelliSense engine for toolt

[2017-11-27 17:52] bobbrow commented on #1283
You can hover over the truncated path with your mouse to get a tooltip, but if you would rather navigate the list with your keyboard instead, this won't work for you.

Unfotunately, our extension doesn't have much say in what the VS Code UI does with the results we provide for this action.  We could consider modifying the extension to return shorter file paths for the symbols, but we don't know ho

[2017-11-27 18:00] bobbrow commented on #1284
You might need to provide us a little more detail, but this is the extension's general strategy:

* The paths you want to index for code browsing are specified in the `"browse.path"` setting (per-config in c_cpp_properties.json).
* These paths are recursive by default, so if you include `${workspaceRoot}` we will index everything in that folder and its subfolders.
* If you want to turn off recursi

[2017-11-27 18:08] bobbrow commented on #1285
The VS Code team owns the [variable substitution rules](https://code.visualstudio.com/Docs/editor/tasks#_variable-substitution) for tasks.json.  Environment variables are supported by both tasks.json and c_cpp_properties.json, so the only way I can think of to share data between the two files right now is via environment variables.

I don't think it would be too big of a stretch to ask the VS Code

[2017-11-27 18:10] bobbrow commented on #1286
Thanks for the feedback.  Unfortunately, this is not something our extension has any control over.  You would need to [ask the VS Code editor team](https://github.com/Microsoft/vscode/issues) for a feature like this.

[2017-11-27 18:10] #1286 closed, assigned to nobody

[2017-11-27 18:13] bobbrow commented on #1287
Does this happen every time you create a new project, or just the first time you go to the debugger after installing an update?  This may be a side effect of a change we made that removed the second "reload window" prompt.

[2017-11-27 18:27] bobbrow commented on #1280
That doesn't look like valid JSON to me.  Doesn't each line in the multi-line string need to end with a `\` character?  Is this a bug in CMake?

[2017-11-27 18:29] bobbrow commented on #1279
Thanks for the feedback.  This looks like a duplicate of #1156

[2017-11-27 18:29] #1279 closed, assigned to nobody

[2017-11-27 19:34] sean-mcmanus commented on #217
@sungb Okay, let us know if it repros again and we can reopen this.

[2017-11-27 19:34] #217 closed, assigned to nobody

[2017-11-27 19:55] BryanDiLaura commented on #15
Really looking forward to this feature. Is there any sort of ETA?

[2017-11-27 20:31] sean-mcmanus commented on #1277
I don't see any symbol parsing errors, but the IntelliSense engine process appears to be crashing, which means the symbol parser could also be erroring (although I would expect to see a failure message).

Can you set your browse.path to be blank and set your logging level to the hidden value of 7, reload window, and then do a Reset IntelliSense Database command? The expected result should include

[2017-11-27 20:53] sean-mcmanus commented on #1246
@sbrw Our pending 0.14.3 update fixed a process deadlock when switching configurations, which sounds like what you're describing. You can set your C_Cpp.loggingLevel to 7, 8, or 9 to get more debug output, but you want to lower it during normal usage, because outputting too much slows things down a lot.

[2017-11-27 20:58] bobbrow commented on #1246
I don't recommend ever using 8 or 9.  6 should be enough to see that the extension is alive and processing editor commands.

[2017-11-27 21:28] sean-mcmanus commented on #1217
I’m not sure what you’re saying or what happened to your response on github, but VS Code had a bug that was causing this ( https://github.com/Microsoft/vscode/issues/36575 ) and not our extension, but it should be fixed now.

[2017-11-27 21:35] MarkY-LunarG commented on #1217
I agree, this kind of comment has no place.  As a developer, you learn that bugs can happen in anyone's code, and the issue will originally appear in one location while being caused by something completely different.  What the developer's here have stated is not unrealistic or blame-shifting in the least.  Please keep things to constructive/productive discussions on Github repos.

[2017-11-27 21:43] sean-mcmanus commented on #1067
@EECSGEEK The error shouldn't occur on Windows unless the typeinfo header (or a header it includes) fails to be located (or fails to get parsed). Are there other errors in your problems window?

[2017-11-27 22:02] sean-mcmanus commented on #1287
@rajinder-yadav I'm not able to repro the issue -- I get a dropdown when the launch.json is opened that explains that a reload is required.

[2017-11-27 22:21] pieandcakes commented on #1272
@chibicitiberiu We use gdb in `mi` mode. I don't know if this makes a difference to how gdb actually operates but I suspect this is the reason why we're requiring the `program` field.

If you add this block to your `launch.json`, you can see the commands we send to gdb and the responses we get.

[code]

[2017-11-27 22:21] ygrayson commented on #602
@MagicSong  Are you able to solve the error "Unable to open 'raise.c': File not found (/build/glibc-9tT8Do/glibc-2.23/sysdeps/unix/sysv/linux/raise.c)". I got the same one and coincidentally (or not) I'm also a Chinese user.

[2017-11-27 22:22] #1242 closed, assigned to nobody

[2017-11-27 22:24] sean-mcmanus commented on #15
@BryanDiLaura There is no ETA for Find All References. Finding references that occur in different translation units requires additional infrastructure/porting work. Once we have an ETA, we'll post it in a milestone: https://github.com/Microsoft/vscode-cpptools/milestones .

[2017-11-27 22:24] pieandcakes commented on #602
@ygrayson  that isn't an issue with Chinese users. That is `gdb` stopping in `glibc` code and the debugger returning a source code path of `/build/glibc-9tT8Do/glibc-2.23/sysdeps/unix/sysv/linux/raise.c`. Since you don't have `glibc` source, this is why you get an `"Unable to open"` message.

[2017-11-27 23:23] pieandcakes commented on #1289
@redhedgh12 This looks to be implemented by the VS Code team in VS Code. I don't think they added extensibility for UI so if you want to have memory usage in debug mode as part of the UI you probably need to ask them [here](https://github.com/microsoft/vscode/issues).

[2017-11-27 23:25] pieandcakes commented on #1287
@rajinder-yadav also, make sure you have a *.cpp or *.c file open so our extension activates. If our extension is not activated then you won't get those options. This happens if VS Code doesn't know you have a *.cpp or *.c style file open.

[2017-11-27 23:36] sean-mcmanus commented on #1287
@pieandcakes Having a .cpp/.c file open should not matter. We activate on "*" before the reload is done. I tested with just a folder with no .cpp/.c files and I see the dropdown appear explaining that reload is required for the snippets will be available (and doing at reload window makes the snippets appear).

[2017-11-28 00:38] EECSGEEK commented on #1067
@sean-mcmanus
<h3>Program one(g++include cunistd.h)
<br />(g++ compile is ok)
</h3>
<img src="http://p0.cdn.img9.top/ipfs/QmaXwcThp2wkzeEYodHK9tG1AKNiSP7dL95bebMSsYBB9E?0.PNG" alt="" />
<h3>Program 2
<br />But vscode [error]typeinfo must be included before typeid is used</h3>
<img src="http://p2.cdn.img9.top/ipfs/QmbDHZLDWqumobjU3nqE5cUgaYFREgZzgCmLRsLkJi8sKV?2.png" alt="" />
<h3>My setting</h3>
<

[2017-11-28 00:42] bobbrow commented on #1165
This should be fixed with version 0.14.3

[2017-11-28 00:42] #1165 closed, assigned to nobody

[2017-11-28 00:42] bobbrow commented on #902
This should be fixed with version 0.14.3

[2017-11-28 00:42] #902 closed, assigned to nobody

[2017-11-28 00:42] bobbrow commented on #819
This should be fixed with version 0.14.3

[2017-11-28 00:42] #819 closed, assigned to nobody

[2017-11-28 00:42] bobbrow commented on #1240
This should be fixed with version 0.14.3

[2017-11-28 00:42] #1240 closed, assigned to nobody

[2017-11-28 00:43] bobbrow commented on #1245
This should be fixed with version 0.14.3

[2017-11-28 00:43] #1245 closed, assigned to nobody

[2017-11-28 00:43] bobbrow commented on #1234
This should be fixed with version 0.14.3

[2017-11-28 00:43] #1234 closed, assigned to nobody

[2017-11-28 00:44] bobbrow commented on #1249
This should be fixed with version 0.14.3 (#19 will be fixed in the next update)

[2017-11-28 00:44] #1249 closed, assigned to nobody

[2017-11-28 00:52] sean-mcmanus commented on #1067
@EECSGEEK Oh, yeah, you're using mingw with clang-x64 mode -- that makes sense why it would behave like on Linux. The issue doesn't repro with the typeinfo header defined in the Windows SDK.

[2017-11-28 00:54] bobbrow commented on #679
This should be fixed in 0.14.3

[2017-11-28 01:01] rajinder-yadav commented on #1287
I can create this issue every time, first time I don't see C++, if I select again I see C++ show up.

I am using MacOS and have C++ (gcc and gdb) installed using homebrew if that helps with investigation.

Here is a video showing  the issue:

https://www.youtube.com/watch?v=l3vULqTn2Lw&feature=youtu.be

[2017-11-28 01:18] ygrayson commented on #602
@pieandcakes Do I have any way to have the glibc source under the correct directory? My debugger works fine right now without any seg fault or other errors, but do I have any way to solve this error?

[2017-11-28 01:22] jwatt commented on #679
@bobbrow can you clarify whether the c_cpp_properties.json files for existing projects need to be manually fixed up or whether that will happen automatically?

[2017-11-28 01:22] pieandcakes commented on #602
@ygrayson If you want to have the source for glibc, you can add mappings to it using `"sourceFileMap"`. Otherwise you can just ignore it. Its not a real error.

[2017-11-28 01:25] pieandcakes commented on #1287
@sean-mcmanus that is not true. We activate on "*" ONLY for the first activation. When we rewrite the `package.json` we replace it with these activation events:
[code]

[2017-11-28 01:27] pieandcakes commented on #1287
@rajinder-yadav I noticed you are using VSCode Insiders. does this also happen with a released version of VSCode stable? I don't have a Mac with me at the moment but I can give it a try tomorrow with the latest insiders. As Sean mentioned above, I haven't seen this happen with VSCode stable.

[2017-11-28 01:33] rajinder-yadav commented on #1287
@pieandcakes yes so I switched to using code-insiders hoping it was fixed.

[2017-11-28 01:34] sean-mcmanus commented on #1287
Ah, thanks for the video. Yeah, I'm able to repro that. It's what @pieandcakes was talking about -- our extension activate is called for the 1st time when the Add Configuration is used, but our extension isn't finished loading so the list isn't complete until the 2nd time it's pressed. We may be able to fix this (not sure yet). It repros on Insiders and non-Insiders.

[2017-11-28 01:36] rajinder-yadav commented on #1287
@sean-mcmanus glad you were able to repro and have an idea of cause, hope it's fixable.

[2017-11-28 02:18] sean-mcmanus commented on #1287
@rajinder-yadav Yeah, the fix worked, thanks for reporting this. It should be fixed in our next 0.14.4 update. Having a C/C++ file open beforehand would be one workaround. You could also manually implement the fix yourself via opening `/Users/<user>/.vscode/extensions/ms-vscode.cpptools-0.14.3/out/src/main.js`, commenting out lines 79 and 80, and moving line 119 (`DebuggerExtension.activate();`) t

[2017-11-28 02:46] #1260 closed, assigned to nobody

[2017-11-28 02:48] sean-mcmanus commented on #1185
Should have been fixed with 0.14.1.

[2017-11-28 02:48] #1185 closed, assigned to nobody

[2017-11-28 02:59] sean-mcmanus commented on #1043
This issue appears to a duplicate of https://github.com/Microsoft/vscode-cpptools/issues/19 , and the language service processes should run on CentOS (and other 64-bit OS's) in our next 0.14.4 update. Let us know if there was some other issue that is still not addressed.

[2017-11-28 02:59] #1043 closed, assigned to nobody

[2017-11-28 03:01] sean-mcmanus commented on #893
The issue with it getting stuck on "Initializing..." after a crash should have been fixed in 0.14.1. If there are additional issues, a new issue should be opened.

[2017-11-28 03:01] #893 closed, assigned to nobody

[2017-11-28 03:08] sean-mcmanus commented on #694
@csteres-cpi We're shipping a offline .vsix option with all the OS dependencies pre-included with our next update (0.14.4) so people can just download/install that if they're having problems downloading/installing the dependencies via the "online" installer. We're using https://github.com/Microsoft/vscode-cpptools/issues/298 to track that.

[2017-11-28 03:08] #694 closed, assigned to nobody

[2017-11-28 03:47] Kurt-Shiwz commented on #1277
IntelliSense Engine = Default.
The extension will use the Tag Parser for IntelliSense when #includes don't resolve.
Autocomplete is enabled.
Error squiggles are enabled.
File exclude: **/.git
File exclude: **/.svn
File exclude: **/.hg
File exclude: **/CVS
File exclude: **/.DS_Store
File exclude: .*
File exclude: *.a
File exclude: *.o
File exclude: *.so
File exclude: **/.vscode
Search exclude: **/n

[2017-11-28 07:35] savtachayameta opened #1290 "Identical Struct Tags and Definitions"
**VS Code**:
Version 1.18.1
Commit 929bacba01ef658b873545e26034d1a8067445e9
Date 2017-11-16T18:34:22.110Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
**C/C++ Extension**: Version 0.14.3

Hi,
The following code snippet uses identical struct tags and definitions.
When going to definition of `struct s1`, I get multiple definitions even though there is only one.
[code]

Screenshot:

[2017-11-28 10:02] totalamd commented on #1232
Same problem for css
`Sorry, but there is no formatter for 'css'-files installed.`
VSCode version 1.18.1

[2017-11-28 14:02] sivaraml opened #1291 "Updating Intellisense keeps on running in Linux"
In Manjaro linux, Once the extension is installed, the Updating Intellisense keeps on running for ever,
When Ctrl+Space is pressed , the auto completion window says loading forever.
When checked the background process running on, the following two process were running,
.vscode/extensions/ms-vscode.cpptools-0.14.2/bin/Microsoft.VSCode.CPP.Extension.linux
.vscode/extensions/ms-vscode.cpptools-0.14.2

[2017-11-28 14:34] mhallak opened #1292 ""Include file not found in include directory" when directories contain environment variables""
Version:
`
Version 1.18.1

Commit 929bacba01ef658b873545e26034d1a8067445e9
Date 2017-11-16T18:34:22.110Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64`

OS: Ubuntu 16.04
`       {
            "name": "Linux",

            "includePath": [
                "/usr/include/c++/5",
                "/usr/include/x86_64-linux-gnu/c++/5",
                "/usr/include/c++/5/backward",

[2017-11-28 16:22] bobbrow commented on #679
Unfortunately, it will not be fixed up automatically for existing projects since we do not currently have separate properties for system include paths vs. project include paths and don't want to take the risk of removing something that somebody manually tuned previously.

If you delete or rename your c_cpp_properties.json file and generate a new one, the new one will query the defaults from clang

[2017-11-28 16:30] bobbrow commented on #1290
Code navigation is still implemented using the Tag Parser, so that would explain why you see so many duplicates.  Issue #255 is being used to track the implementation of code browsing using the Default IntelliSense engine.

[2017-11-28 16:30] #1290 closed, assigned to nobody

[2017-11-28 16:36] bobbrow commented on #1232
Are you using version 0.14.3 of the extension?  We fixed #1240 which causes some of these errors, but there may be something else involved.

@totalamd `css` formatting support should be built in to VS Code.  The C/C++ extension does not supply a formatter for css.

[2017-11-28 16:40] bobbrow commented on #1291
Are either of the processes using a lot of CPU or are they idle?  Sometimes these problems are specific to a source file that you're looking at so if you can share the code or point us to an open source project that has this problem we can look into it.  We do test on Linux Mint and didn't see any problems with the files we tested.

[2017-11-28 16:48] bobbrow commented on #1292
Hmm... it works for me.  Is it possible that $GZROOT isn't defined in the environment picked up by VS Code?  I tried using ${HOME} on my linux box and it worked fine.

[2017-11-28 16:55] mhallak commented on #1292
Following your advice, I exited and re-opened Visual Code and it seems that it works... Not really clear since $GZROOT was known in the Integrated Terminal... (That's the way I checked).
I am closing the issue... Thank you and sorry.

[2017-11-28 16:55] #1292 closed, assigned to nobody

[2017-11-28 19:34] sean-mcmanus commented on #1277
The error message is about the IntelliSense engine failing, and shouldn't affect the symbol searching. So far, I haven't seen any symbol search (tag parsing) failure messages in your logs.

[2017-11-28 20:08] ivankravets opened #1293 "IntelliSense: option to provide a type/path of toolchain; read default macros from it"
See related issue https://github.com/platformio/platformio-vscode-ide/issues/54

How to reproduce this issue?

1. Please install https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide
2. PIO Home > New Project > Arduino Due (Programming Port)
3. Open `src/main.cpp` and paste
[code]
4. 100% CPU, a lot of errors are guaranted.

--------

There were no issues with previous rele

[2017-11-28 21:00] sean-mcmanus commented on #1293
It says `Unable to open 'PIO Home" Could not start PIO Home server: Error: timeout.`. Does it not work on Windows?

Are you saying this didn't repro with 0.14.2? I don't know of any recent changes we made that could have changed this.

[2017-11-28 21:04] ivankravets commented on #1293
Just press Home icon again. Does it work now?

[2017-11-28 21:16] sean-mcmanus commented on #1293
No, it doesn't work after pressing the Home icon again -- it just shows a loading bar for 30 seconds and then the timeout message. However, I got it working on Linux...

[2017-11-28 21:28] sean-mcmanus commented on #1293
I don't get any 100% CPU for more than a few seconds. I see the error squiggles though...

[2017-11-28 22:22] ivankravets commented on #1293
Could you open Terminal via clicking on Terminal icon on bottom toolbar and type `pio home`. Does it work in your browser?

[2017-11-28 22:26] ivankravets commented on #1293
On macOS it uses 100% all time, I see C/C++ extension in processes list. OK, and how about " I see the error squiggles though"? We should not see any errors here. If you press "Build" button or "Task > Build" you will see that there are no errors. What is more, you can type in Terminal `pio run -v` (verbose mode) and check that we use the same Includes/Flags for building and for `c_cpp_properties.

[2017-11-28 22:41] sean-mcmanus commented on #1293
The problem is that something is causing uint32_t to be re-defined to be "static". I'm still investigating. Our parser code hasn't changed since October 19th. Do you know which version of our extension this worked on?

On Windows, I get: `pio home
Traceback (most recent call last):
  File "main.py", line 12, in init main
  File "c:\users\user\.platformio\penv\lib\site-packages\click\__init__.py",

[2017-11-28 23:22] sean-mcmanus commented on #1293
You're missing a compiler define, such as `__GNUC__`. Adding that define fixes the problem. This exact same issue has been hit by another user. It'd be nice if we made it easier to diagnose the problem. In the future, we may automatically use the defines set by the compiler we find and possibly add a path to the compiler to use for obtaining the defaults.

The problem location was /.platformio/pac

[2017-11-28 23:40] ivankravets commented on #1293
Is `__GNUC__` default macro for ALL GCC toolchains?

[2017-11-28 23:46] sean-mcmanus commented on #1293
`__GNUC__` appears to be defined for gcc compilers, see https://stackoverflow.com/questions/17572519/what-means-cc-arm-iccarm-gnuc-tasking . I don't know what compilers your users are using, but in this particular case, having any of the 4 defines would have fixed the issue (or adding a #else clause in the header).

[2017-11-28 23:47] ivankravets commented on #1293
All our toolchains are GCC-based

[2017-11-28 23:52] ivankravets commented on #1293
I recommend reopening this issue. Would be good to have an option `c_cpp_properties.json` a marker of toolchain, where we will specify a full path to our `gcc` or `g++` binary or just a type `gcc`. What do you think?

P.S: Yes, I can add temporary `__GNUC__` for VSCode.

[2017-11-29 00:33] sean-mcmanus commented on #1293
Sure. Also, I'm not getting anything stuck with 100% CPU on Mac. I have witnessed our extension hitting some sort of 0% CPU deadlock, but I don't have a repro yet.

[2017-11-29 02:09] rajinder-yadav commented on #1287
Thank you guys!

[2017-11-29 02:52] sivaraml commented on #1291
Attaching the screen shot the file has nothing but a single #include statement,
Regarding the process they are idle and doesn't consume any cpu.

<img width="960" alt="screenshot" src="https://user-images.githubusercontent.com/10195581/33355500-b5635564-d4dd-11e7-8511-0fb7c20c486c.png">

[2017-11-29 03:04] sean-mcmanus commented on #1291
Can you upgrade to 0.14.3 (we might have fixed the issue already) and look for any suspicious output when C_Cpp.loggingLevel is set to Information? It appears that the processes are deadlocking or otherwise failing to run. Are you on a 32-bit OS? We don't run on 32-bit OS's yet (we're working on it).

[2017-11-29 04:04] sivaraml commented on #1291
I am already using 0.14.3.
I am on 64 bit OS.
The output of C/C++ is
[code]
Issue Still persist.

[2017-11-29 05:52] jackie-qiu commented on #1173
Was this problem fixed?

[2017-11-29 06:36] vscpp commented on #558
@sean-mcmanus , seems c_cpp_properties.json configure file only for current project (c_cpp_properties.json created in current project).

I want to modify databaseFilename setting for each project on my computer, may I know whether extension supports a global setting for databaseFilename? Which is means that if I open a new folder by VS code, the symbol will be created in my databaseFilename, I don

[2017-11-29 07:38] sivaraml commented on #1291
When I downgrade to 0.14.1 it works for symbols, not for include files.
Not working in 0.14.2. and 0.14.3. May be an issue with latest versions!

![error](https://user-images.githubusercontent.com/10195581/33363409-3fe5b498-d506-11e7-8b5f-2a714a87aacf.gif)

[2017-11-29 07:50] dnlk-cyber commented on #1181
Thanks that helped me

[2017-11-29 08:21] MAntal001 commented on #1291
i'm experiencing the same problem on Windows 7 x64, cpptools is up-to date (v0.14.3)

Updating Intellisense always on, after pressing ctrl+space i can see only the text Loading....

After closing VSCode, 2 processes are stuck in tasks:
![image](https://user-images.githubusercontent.com/3436114/33364627-85123b7a-d4e5-11e7-995c-4b2e9e539258.png)

After re-opening VSCode, database is being re-built (

[2017-11-29 15:13] ogrisel opened #1294 "Infinite loop in the Intellisense process"
# Steps to reproduce:

- Install vs code and the official C/C++ extension by Microsoft
- `git clone https://github.com/python/cpython`
- `cd cpython`
- `code .`
- ctrl-p to open "Modules/_pickle.c"

# Problem

The following process runs in the background with 100% CPU usage:

[code]

There is also the following process:

[code]

All those processes stay alive after exiting VS Code. I have to kill

[2017-11-29 15:14] ogrisel commented on #822
@bobbrow done here: #1294

[2017-11-29 16:05] bobbrow commented on #1181
@likui911 does adding any of the `"defines"` [mentioned here](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md) to your c_cpp_properties.json help?  (Particularly, `__GNUC__=6`)

[2017-11-29 16:13] bobbrow commented on #1291
@sivaraml the extension doesn't offer auto-complete for #include lines

@martanec, can you [enable "Information" logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) and share what is printed in the Output window for C/C++?  Those processes don't appear to have ever started compilation (based on the memory usage).

[2017-11-29 16:57] bobbrow commented on #1294
Thank you for the report.  I am able to duplicate this.  The IntelliSense process is stuck in an infinite loop and the Extension process is waiting for the IntelliSense process to respond to a shutdown request (which it won't because it's stuck).

That said, I was able to get it working by adding `"__GNUC__=5"` and `"Py_BUILD_CORE"` to the `"defines"` array and `"${workspaceRoot}/Include"` to the

[2017-11-29 17:11] ivankravets commented on #1293
ImportError: cannot import name _remove_dead_weakref

What is your Python version?

[code]

[2017-11-29 18:09] Sh0es opened #1295 "Clang Intellisense Mode not recognizing std members"
**Bug Info:**
OS: Windows 10 (32-bit)
VS Code v. 1.18.1
C/C++ extension v. 0.14.3
Other extensions you installed and if the issue persists after disabling them:
(I have not tried disabling them)
- C/C++ Clang Command Adapter (v. 0.2.2)
- C/C++ Intellisense (v. 0.2.2)
- C# (v. 1.13.1)

Step-by-step instructions to reproduce the issue
- Open c_cpp_properties.json
- Set "intelliSenseMode" to "clang-x

[2017-11-29 18:46] bobbrow commented on #1295
If you are using MinGW, take a look at [this documentation](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md).  The Windows Kits and Visual Studio headers won't work in Clang mode, so you should remove them from the path.

[2017-11-29 19:34] sean-mcmanus commented on #1173
@jackie-qiu Nothing was changed in regards to this issue. You still need to save a file before the symbols will be found. The IntelliSense error squiggles should still work without saving.

[2017-11-29 19:44] sean-mcmanus commented on #558
@vscpp We haven't implemented a user setting to change the default location yet. There's an issue on the VS Code side about adding a setting for the default storage location: https://github.com/Microsoft/vscode/issues/22557. We also have this issue for making the includePath per-user, which would also apply to the other settings: https://github.com/Microsoft/vscode-cpptools/issues/368 .

[2017-11-29 19:50] sean-mcmanus commented on #1293
The version under the .platformio path says 2.7.14, and my global version on my path is 2.7.6.

[2017-11-29 19:57] Sh0es commented on #1295
That seemed to fix the problem. Thank you.

[2017-11-29 20:55] #1295 closed, assigned to nobody

[2017-11-29 22:12] ademyankov commented on #877
Windows 10 Enterprise (Microsoft Windows [Version 10.0.14393]) has that bug!

[2017-11-29 22:30] pieandcakes commented on #877
@ademyankov The fix is in Win 10 version 15063 as I posted above. Since the fixes to enable this scenario are in WSL itself, you need to upgrade your Windows 10 version to Creators Update or newer. If not, then it will not work.

[2017-11-29 22:53] ademyankov commented on #877
I am confused about all those versions. What version are you talking about?
I have: Windows 10 Enterprise, Version: 1607, OS Build: 14393.1884. And windows updater doesn't show that there is any updates available. Do I have to install that Creators Update manually?

[2017-11-29 23:00] pieandcakes commented on #877
@ademyankov You can see the Windows 10 version history here: https://technet.microsoft.com/en-us/windows/release-info.

You are running Version 1607 OS Build 14393 (Anniversary Update). They made fixes within WSL to support debugging from outside of WSL. Those fixes are in Version 1703 OS Build 15063 (Creators Update). Without those fixes, debugging does not work properly, which is why we require

[2017-11-29 23:01] ademyankov commented on #877
Oh! Ok, I see. Thanks a lot!

[2017-11-30 00:12] pieandcakes commented on #1289
Duplicate of #509

[2017-11-30 00:12] #1289 closed, assigned to nobody

[2017-11-30 07:44] MAntal001 commented on #1291
@bobbrow I can't share my Output window. But I see no errors or warnings. It seems like the one @sivaraml shared above (of course I've got other folders and files).

[2017-11-30 14:10] dcourtois commented on #1270
Hi @bobbrow , is there any ETA for this migration ? I'm really interested in this, that would allow to set `compileCommands` using the the standard vscode API, and that would be really nice for a few extensions (CMake Tools for one, and the one I'm currently working on :p)

[2017-11-30 15:03] rohitp93 opened #1296 "."

[2017-11-30 15:44] abmantis commented on #1228
Similar issue here on MacOS, using latest stable versions.
When it does not find a file (shows "..." in the call stack instead of the file name), it changes from the DEBUG panel to the EXPLORER panel and shows no error.

I've also noticed that it is not finding any header file. Calling '-exec source info' in lldm shows different paths for headers and cpp's (they are on the same folder):
.h:     /U

[2017-11-30 15:47] abmantis commented on #826
@pieandcakes the "sourceFileMap" tag is not documented.

[2017-11-30 16:23] #1296 closed, assigned to nobody

[2017-11-30 18:16] dapirian commented on #1251
I (and a bunch of people I work with) have the same issue, with ccache. If I modify `compile_commands.json` to use `/usr/bin/clang++` instead of `ccache` it maybe works? I can't tell if it just takes forever to process my 100+mb `compile_commands.json`. Some log message or feedback of some kind would be very useful.

If I don't modify my `compile_commands.json` I get `Failed to query default inclu

[2017-11-30 18:32] dapirian opened #1297 "Auto-detect & use `compile_commands.json`"
Mine is in my workspace root, it would be VERY nice if it automatically used it.

[2017-11-30 18:33] bobbrow commented on #1251
@dapirian, can you share an example entry from your compile_commands.json file?  If you are working on a closed-source project an anonymized entry would be fine.

[2017-11-30 18:33] bobbrow commented on #1251
(oops, wrong button)

[2017-11-30 18:58] politoleo opened #1298 "Unjustified "Trace/breakpoint trap" with GDB server"
First of all thank you for all this work, it's great.
I'm using vscode+cpptools+IAR extension to deveolp embedded device software.
Everything is working fine (with the already known limitation), but there's an issue that I'm not able to identify.
The issue is present always, and could be reproduced in the following ways:

-Each time I launch the server, and no breakpoint are set before the main (t

[2017-11-30 20:33] sean-mcmanus commented on #1270
@dcourtois Possibly mid-January or February (if so, we'll add it to the appropriate milestone...right now we just have a December milestone).

[2017-11-30 20:39] ademyankov commented on #877
Hey @pieandcakes , sorry to bring the bad news but, after I installed the update I was able to go through that issue 2 or 3 times. And then, it broke again and now, it doesn't work anymore.

This is the log:
[code]

[2017-11-30 20:43] pieandcakes commented on #877
@ademyankov did you install `gdb` ? if you run `c:\windows\system32\bash.exe -c "gdb --interpreter=mi"` from a command prompt does it work?

[2017-11-30 20:44] ademyankov commented on #877
Yes it does!
[code]

[2017-11-30 20:45] pieandcakes commented on #877
Whats your `launch.json` ? Also, please do `winver` and let me know which version of windows you are on now.

[2017-11-30 20:49] ademyankov commented on #877
[code]

[2017-11-30 20:52] pieandcakes commented on #877
This doesn't look like VSCode's json. What is ${debugInfo.target}, why do you also have "miDebuggerServerAddress" specified? you will need to specify the "cwd" in respect to where the "program" is in WSL.

[2017-11-30 20:54] ademyankov commented on #877
Sorry, probably I had to mention this. It's vs2017. The original issue is started [here](https://github.com/Microsoft/VSLinux/issues/227).
But anyway, the problem has the same roots and I will deal with application folders and cwd later on.

[2017-11-30 20:59] pieandcakes commented on #877
So after you updated it worked a few times? and you are running VS 2017 15.4.5 ? I'm trying to reproduce this issue. Also, i'm confused with the addition of QEMU in this. If it was directly an app in WSL, does it work?

[2017-11-30 21:09] ademyankov commented on #877
Yes, a few times and then it stopped working no matter what I tried to do. Restart, reboot, regenerate a new script, whatever.

Yes, VS 2017 15.4.5

I am trying to do a remote debugging because code is crosscompiled for aarch64 and launched in arm vm using qemu. Simple command from gdb (in windows bash), like this:
`(gdb) target remote 10.1.*.*.100:1234 `

Connects gdb to qemu and then I can contr

[2017-11-30 21:58] pieandcakes commented on #877
Which version of windows are you on now?

[2017-11-30 21:59] Sh0es opened #1299 "Intellisense"
OS: Windows 10 Build 15063
VSCode: v. 1.18.1
Extension: v. 0.14.3
Other Extensions:
- Clang Command Adapter v. 0.2.2
- C# Extension v 1.13.1
- Haskero v. 1.3.1
- ANTLR4 Extension v. 1.1.10
- Clang Command Adapter may be causing the issue.

Issue:
![iostreamnotfound](https://user-images.githubusercontent.com/10179811/33457234-7393db3a-d5e7-11e7-95e4-b912765896d1.png)

[2017-11-30 22:08] sean-mcmanus commented on #1299
You are correct -- the "file not found" tooltip message is from the  C/C++ Clang Command Adapter extension and not the C++ extension.

[2017-11-30 22:08] #1299 closed, assigned to nobody

[2017-11-30 22:11] ademyankov commented on #877
Windows 10 Enterprise, Version 1709, OS Build 16299.15

[2017-11-30 22:31] pieandcakes commented on #877
Looks like you updated to Fall Creators Update. I wonder if you are running into: https://github.com/Microsoft/WSL/issues/2592 which we've seen and can't seem to get out of.

[2017-11-30 22:52] cylonid commented on #877
@pieandcakes
I am on latest stable VS Code + Windows 10.0.15063 but I still get the error mentioned in this thread earlier:

Any ideas? Starting gdb from bash or Windows cmd works.

Launch config is the default "GDB: Bash on Windows Launch" but I had to add "-c" as pipe argument.

[2017-11-30 22:53] pieandcakes commented on #877
@uwe-h You need to change your "cwd" to be the working directory format for WSL. so something like "/mnt/c/......"

[2017-11-30 23:02] pieandcakes commented on #877
@ademyankov I'm running VS 2017 15.4.5 with winver 16299.64. The difference I noticed is that I'm running gdb 7.11.1 but I also ran `sudo apt update` and `sudo apt upgrade` in WSL recently. I wish I could see if my WSL version is the same as yours but I can't find anything on their page to tell me how to check for that.
My `bash.exe` file version is 10.0.16299.15 which looks the same as you. Can y

[2017-11-30 23:05] cylonid commented on #877
@pieandcakes Thanks, gdb starts using the attached launch.json. Still, the debugging does not really work. In my C source, I set a breakpoint on a line with malloc. As soon as I want to go past this breakpoint, I get

So I guess there is still something weird going on regarding the path?

`{
    "version": "0.2.0",
    "configurations": [{
        "name": "(gdb) Bash on Windows Launch",
        "t

[2017-11-30 23:07] pieandcakes commented on #877
@uwe-h Nope, that's expected. I assume you don't have the source code file of `malloc.c` which is where it is trying to break into.

[2017-11-30 23:13] simark commented on #196
I stumbled on this issue while looking for an equivalent of vim's shiftwidth/softtabstop in vscode/monaco.  Please tell me if there's a more appropriate place/issue to put this.

I work on projects with the GNU indent style, which is similar to the example given by @bhxr, and would like to be able to use monaco-based editors for it.  This problem basically prevents me from using vscode or others.

[2017-11-30 23:17] ademyankov commented on #877
@pieandcakes Ok, I got some progress. Looks like I didn't have to reinstall WSL, reinstalling of Linux components in Visual Studio Installer helped. GDB now launches.

Thanks for the help.

[2017-11-30 23:21] dapirian commented on #1251
Sorry, can't really paste an example :( But basically something like:

[code]

[2017-11-30 23:54] pieandcakes commented on #877
ok awesome thanks!

[2017-12-01 00:26] sean-mcmanus commented on #19
We have an 0.14.4-insider release that works on CentOS7 (64-bit, not 32-bit): ~~[link removed, this is fixed in mainline builds as of 0.14.4]~~. VS Code itself doesn't expose a way for extensions to publish "insider" releases, so you just need to download the .vsix and run the "Install from VSIX" command. If you hit bugs, please file a new issue (or upvote an existing one) and mention you're on 0.

[2017-12-01 00:39] sean-mcmanus commented on #196
@simark Can you file a new issue with VS Code: https://github.com/Microsoft/vscode/issues ? It sounds like the change would be better done as a non-C++ specific change. The original issue reported by @alexfh was fixed. @bhxr requested an unrelated feature change.

[2017-12-01 01:18] dapirian opened #1300 "Auto-detect clang-format path"
My clang-format is in my path, just use it. Override with an explicit clang-format path, but otherwise this should work out of the box without me giving an explicit path of where clang-format is.

[2017-12-01 01:29] sean-mcmanus commented on #1300
Our extension installs clang-format 5.0 (local to our extension folder) and uses that out-of-the-box. Is there a reason this isn't sufficient?

[2017-12-01 01:56] dapirian commented on #1300
Hmmm. Format on save with clang-format didn't work until I gave it an explicit path to clang-format. I figured that was because it didn't know where clang-format was, but apparently that's not the case.

Thanks for the quick response!

[2017-12-01 02:02] sean-mcmanus commented on #1300
I'm not able to repro any problem with `editor.formatOnSave: true`, so let me know if you have a repro I can try. We had an old `C_Cpp.clang_format_formatOnSave` setting that we removed a few updates ago. Oh, if our main input thread is stuck (typically doing some IntelliSense compilation), then the format would appear to fail. We could probably fix this by moving the formatting processing (and ma

[2017-12-01 03:20] simark commented on #196
I see, I felt like it wasn't exactly the proper place, but it was the closest thing I found to my problem.  I'll open an issue tomorrow.  Thanks!

[2017-12-01 09:00] kigkrazy opened #1301 "How to set 3rd's include includePath to c_cpp extension?"
I  want to develop android c/c++ program.
`c_cpp_properties.json`  default config：
[code]
I modify `"name": "Win32"` section in `configurations` .
After modified:
[code]
there are many err like below：
![image](https://user-images.githubusercontent.com/11622206/33475273-cdcd3534-d6b8-11e7-9c65-d666a135b660.png)

![image](https://user-images.githubusercontent.com/11622206/33475328-f81572ca-d6b8-11e7

[2017-12-01 09:34] ogrisel commented on #1294
I confirm that this workaround works for me as well.

[2017-12-01 11:16] hjoergens opened #1302 ""The language server crashed 5 times in the last 3 minutes. It will not be restarted""
This happens as soon as I open ANY file with a CPP extension, even if that file is empty.

CentOS Linux 7

Visual Studio Code Version 1.19.0-insider
Commit 5b0fa2eddbe82df90fb07eea120c9447c93dbd2f

CPPTools version 0.14.3, all other extensions DISABLED

I can reproduce it at any time by opening any CPP file, even an empty one, as long as the extension is "cpp"

There are no log messages in the out

[2017-12-01 14:34] dtrudg commented on #1302
I also have this issue on RedHat Enterprise Linux 7.4 with:

Version 1.18.1
Commit 929bacba01ef658b873545e26034d1a8067445e9

CPPTools 0.14.3

Same symptom. The language server crash is immediate on opening any .c file. There are no log messages in VSCode, or on the terminal code was started from.

[2017-12-01 14:39] dtrudg commented on #1302
Ahh - maybe this is expected... I just noted the extension homepage states it needs glibc 2.18 for intellisense, and CentOS7 / RHEL7 are at 2.17

[2017-12-01 14:44] dtrudg commented on #1302
@hjoergens  - I just saw issue #19 - try the insider build at the bottom of that. Working for me without the crash on RHEL7.

[2017-12-01 14:46] dtrudg commented on #19
Confirm that the 0.14.4-insider is working nicely on Red Hat EL 7.4.

[2017-12-01 14:55] Ebiroll commented on #19
Works fine on Centos 7.3. Good job!

Visual Studio Code still needs libraries: libXss.so.1 that is available in libXScrnSaver

If you get, code: error while loading shared libraries: libXss.so.1: cannot open shared object file: No such file or directory
try,
$  yum install libXScrnSaver

$ ldd Microsoft.VSCode.CPP.Extension.linux
        linux-vdso.so.1 =>  (0x00007ffe155fa000)
        libm.so.6 =

[2017-12-01 14:56] MathiasMagnus opened #1303 "CMake Server vs. compile_commands.json"
As part of a discussion regarding LaTeX reciving the same love and care of CMake as the C++ extension did, @bradking [has pointed out](https://www.mail-archive.com/cmake-developers@cmake.org/msg18327.html) that compile_commands.json was not intended to be used for tracking compiler invocations, but rather [CMake server mode](https://cmake.org/cmake/help/latest/manual/cmake-server.7.html) should be

[2017-12-01 16:08] bobbrow commented on #1301
I haven't played with the Android C++ stuff yet, but 2 rules generally apply for doing linux-y things on Windows.
1. `"intelliSenseMode"` should be `"clang-x64"`
2. `"includePath"` needs to contain the system include path used by your compiler (and in the same order).  I suspect you might be using a gcc-related toolchain, so you should be able to see the system include path by passing the followin

[2017-12-01 16:12] bobbrow commented on #1302
Thanks for linking to #19 @dctrud.  This is a duplicate of that issue.  Try out the insider build for now and then migrate to the mainline build when we release an update in a few weeks.

[2017-12-01 16:12] #1302 closed, assigned to nobody

[2017-12-01 16:41] bobbrow commented on #1303
If an extension exports an API (which the CMake Tools extension does), then it is possible for another extension to consume that API.  We may choose to consume this API at some point, but regardless of the direction we take, we will continue to support compile_commands.json going forward since CMake is not the only tool capable of generating it - it simply makes it convenient.

In an ideal world,

[2017-12-01 18:00] MathiasMagnus commented on #1303
Consuming that API would allow for functionality like automatic rebuild when an out-of-date target is debugged. Cpptools knows what the target being debugged is, but CMake knows whether it's out-of-date or not.

Also, how does the [VS Language Service Protocol](https://blogs.msdn.microsoft.com/visualstudio/2017/11/21/announcing-language-server-protocol-preview-release/) relate to cpptools? Does it

[2017-12-01 19:43] sean-mcmanus commented on #19
@Ebiroll What do you mean by "Code still needs libraries"? Is this something our extension should fix? I didn't see that error on my CentOS7 and I didn't run the "yum install libXScrnSaver".

[2017-12-01 20:04] s-martin commented on #19
Thanks. I'll check it out!

[2017-12-01 20:33] dapirian commented on #1300
Maybe that's what was happening, intellisense compilation. But there's nothing in the UI to tell me that's happening is there?

[2017-12-01 21:13] bobbrow commented on #1303
VS and the VSCode extension already share a lot of common code.  I can't really comment on future plans for the VS C++ component though.

[2017-12-01 21:18] sean-mcmanus commented on #1300
I think there should be a red flame in the bottom right.

[2017-12-01 22:20] DjMixMasterDragon commented on #1278
Yes these headers files were created myself. Adding the "Add to" appeared to work. I started by doing the first few, then must have added the correct one because it took care of almost all of them. Thanks

[2017-12-01 22:45] sean-mcmanus commented on #1278
Sounds like I can close this now.

[2017-12-01 22:45] #1278 closed, assigned to nobody

[2017-12-01 23:33] ivankravets commented on #1293
@sean-mcmanus Please upgrade local 2.7.6 (2013 year) to minimum 2.7.9 (2014). 2.7.6 has critical bugs and was replaced by 2.7.9. Or even better, install the latest 2.7.14

[2017-12-01 23:55] ademyankov commented on #877
I found another bug or misbehavior. You get that error:

![image](https://user-images.githubusercontent.com/13845895/33508572-fe2a39b0-d6af-11e7-837a-7f5d44027c48.png)

every time when you have an instance of WLS running.

[2017-12-01 23:56] sean-mcmanus commented on #1293
Ah, yeah, my PATH had a location with the old 2.7.6 Python, so I just replaced that with the location of my existing 2.7.13 Python. However, pio home still gets the same error message, and running python --version from the terminal gives 2.7.14, so it appears to be using the platformio version of python and not the version on my system path.

[2017-12-01 23:57] pieandcakes commented on #877
What do you mean by 'every time you have an instance of WLS running'?
Are you running  gdb in another instance? Can you provide repro steps in a new issue? This sounds like it might be a WSL bug.

[2017-12-02 00:01] pieandcakes commented on #1298
@politoleo We need to stop at entry regardless whether or not `stopAtEntry` is set. This is so that we can setup the debugging session with commands that can only be run if the debugger is connected. The `stopAtEntry` setting tells it whether or not to autocontinue or to wait and display the stopping event to the user.

The Trace/Breakpoint trap message is from the debugger we are communicating wi

[2017-12-02 00:01] ivankravets commented on #1293
Now please uninstall PlatformIO's 2.7.14 version (it is located in an isolated folder but should be visible in programs manager).

After that, please remove `c:\Users\User\.platformio\python27` and `c:\Users\User\.platformio\penv` folder. Now all should work.

P.S: I fixed this issue with Python 2.7.6. With a next update, we will use own Python's version.

[2017-12-02 00:07] ademyankov commented on #877
So, if I have WSL/bash running, even if I don't do there anything in it, when I try to launch my vs2017 debugging it gives that error. When I close WSL then it runs successfully.

![image](https://user-images.githubusercontent.com/13845895/33508793-83e05ea8-d6b1-11e7-99c8-ff5df0d50510.png)

[2017-12-02 00:25] sean-mcmanus commented on #1293
Thanks -- pio home works on Windows now.

[2017-12-02 00:30] pieandcakes commented on #877
@ademyankov I tried this:
![image](https://user-images.githubusercontent.com/17558378/33509249-b951d906-d6b4-11e7-8237-d7f5cf123218.png)

Works fine for me. Is this with your QEMU/gdb-gdbserver/cross compiled setup? Did you ask @paulmaybee if he has seen this before?

[2017-12-02 00:39] ademyankov commented on #877
Yes, I've just tried this. With regular Linux app in vs2017 it works just fine. But, as you can see from my screen shot, I am doing some magic VS using the Open Folder debugging experience, whatever it means. So, I don't know, maybe that particular setup is the problem.

And, no, I have not asked @paulmaybee about that, for now, I have more important things to worry about, I am still not able to r

[2017-12-02 00:41] pieandcakes commented on #877
I am also running open folder in my screenshot. I don't know if this is something with your setup or not.

[2017-12-02 01:01] ademyankov commented on #877
Ok, I am trying to figure out how to run it as open folder and it doesn't work for me.
It just sits there:
![image](https://user-images.githubusercontent.com/13845895/33509666-61d20ae4-d6b8-11e7-961b-444da1a5b678.png)

[code]
BTW, if I use:
`"pipeProgram": "${debugInfo.shellexecPath}",`
as it created by default via wizard, than it doesn't start at all:
[code]

[2017-12-02 01:05] pieandcakes commented on #877
@ademyankov Yea, you are in a place i'm unfamiliar with. You know this forum is for the CPPTools extension for VSCode?

I think you are using configurations created by Paul's team. I don't know what those debugInfo substitutions are or what they give you or if it is part of the problem. I also noticed you are specifying `gdb --interpreter=mi` in the pipeArgs but that isn't needed (as you can see i

[2017-12-02 01:33] ademyankov commented on #877
Yes, I do.

I have to mess around with it, because it doesn't work out of the box. It's the wizard who created that json. I agree, that a regular user shouldn't even look into that let along modify it or mess around with it.

Anyway, I'll keep digging...

[2017-12-02 06:17] rene-aguirre opened #1304 "Feature Request: option to use .clang_complete like settings"
Started by a vim plug-in that used clang for code completion, multiple "completer" engines based on Clang are using a `.clang_complete` file that just holds extra include and defines for a given project.

Example, content:

[code]

I think the idea is pretty much generic to any compiler, not only to clang, and `vscode-cpptools` could include a `CompleteOptionsFile` like settings to point to any `.

[2017-12-02 10:02] Ebiroll commented on #19
@sean-mcmanus  Sorry, to be more specific there exist a not so obvious dependency from Visual Studio Code to  libXss.so.1 that is available in libXScrnSaver.
This should probably not be a problem if you install from the rpm. The extension seems to work fine under redhat/centos.

[2017-12-02 20:04] chrisfou commented on #833
Did you try using "hardware breakpoint" instead of "software breakpoint" ?
"HW breakpoint" the only solution i found to debug on a STM32F746 evaluation board . i suppose the "SW breakpoint" not enough when the code is executed from the flash memory.

[2017-12-03 01:56] PantelisKyriakidis opened #1305 "C++ extension not working"
Hello,
I am on windows 10 and I use VScode 1.18.1
and I downloaded the C/C++ extension version is: 0.14.3 .
But when I try to test it with a simple .cpp file it doesn't work at all .
I built a properties.json file and it uses automatically my visual studio paths :
![image](https://user-images.githubusercontent.com/18362812/33519230-9e9f8778-d7ab-11e7-87d8-aa315c6488a7.png)
Are these settings right

[2017-12-03 11:03] 0ffffffffh commented on #1291
![screenshot_2017-12-03_13-55-13](https://user-images.githubusercontent.com/437161/33524672-3edd2228-d832-11e7-86da-618ae931d109.png)

I've also experienced the same issue. I'm on 0.14.3 cpp tools. It keeps on "updating intellisense" and "loading..." hint tooltip forever. I'm running x64 Xubuntu.

@sivaraml how can I get 0.14.1 version of the cpp tools? I can't find the previous version of it.

[2017-12-04 05:55] sivaraml commented on #1291
@0ffffffffh followed this method
https://tpodolak.com/blog/2017/04/09/downgrading-visual-studio-code-extension/
The only difference is the extension downloaded will have .vsixpackage file extension, which has to be renamed as .vsix for the visual studio code to understand.  Before installing don't forgot to disable auto updates for extensions.

[2017-12-04 06:45] rdev1983 opened #1306 "The language server crashed 5 times in the last 3 minutes. It will not be restarted."
*** Operating System and version**
`uname -a`
Linux nuc 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

`cat /etc/redhat-release`
CentOS Linux release 7.4.1708 (Core)'

 *** VS Code version and if you are using the Insiders build**
tried with
 code-1.18.1-1510857496.el7.x86_64.rpm
and code-insiders-1.19.0-1512109072.el7.x86_64.rpm
and code-stable-code_1.18

[2017-12-04 08:33] s-martin commented on #19
CentOS 7.4:

I had first to deinstall the 0.14.3 extension and then after a restart install the 0.14.4.-insider, but now it works seamless.

[2017-12-04 08:33] s-martin commented on #1306
Will be fixed in 0.14.4, see #19

[2017-12-04 08:36] s-martin commented on #19
I want to say thank you to finally fixing this, even if RHEL/CentOS was not your targeted audience.

[2017-12-04 12:57] draeger-charles-wilson opened #1307 "intellisense incompatible declaration error should link to source"
VSCode 1.18.1
C/C++ 0.14.3
OS Windows 7

When Intellisense detects an incompatible declaration it reports the source of the conflict.

![image](https://user-images.githubusercontent.com/33490168/33553842-642e3c92-d8c8-11e7-8575-45a9dbe4cdbf.png)

It would be more helpful if it linked to the source.

[2017-12-04 13:09] viktorku commented on #1139
@bobbrow This happened again:

![image](https://user-images.githubusercontent.com/14088269/33554338-8c59a59c-d8fc-11e7-9579-cb9ae518e2cf.png)

I noticed vscode became very laggy, then closed it, but saw all these processes/threads dangling. Had to kill them manually. There was about 3-4 GB memory released.

_[EDIT 13/12/17]_ It keeps happening quite regularly, every once in a while it becomes lagg

[2017-12-04 15:57] daldr-ntml opened #1308 "How can I configure terminal to show build errors in color?"
In Visual Studio Code 1.18.1, C++ extension 0.14.3, I have a build task:

    {
        "version": "2.0.0",
        "tasks": [
            {
                "label": "Build LedaAP",
                "type": "shell",
                "command": "c:/WindRiver/workbench-4/wrtool.bat -data c:/WindRiver/workspace_BR_SW_BFHW prj build LedaAP",
                "problemMatcher": [
                    "$gcc"

[2017-12-04 16:32] bobbrow commented on #1305
Did you remove the "Windows Kits" paths from your `"includePath"` or did the extension fail to populate that?  You won't get very good IntelliSense on Windows without setting the proper path to the Windows SDK that you're using.  (Do you have Visual Studio installed?)

[2017-12-04 16:39] bobbrow commented on #1291
@0ffffffffh, does that red fire icon in the lower right corner ever go away for you?  On a translation unit that small it should only be there for less than a second.  Are you able to attach a debugger and get us a callstack so we can see if it is stuck somewhere?

[2017-12-04 16:41] bobbrow commented on #1306
Thanks, @s-martin.  @rdev1983 we have a link to a preview package that you can download and install in issue #19.

[2017-12-04 16:41] #1306 closed, assigned to nobody

[2017-12-04 17:25] dapirian commented on #1300
Right now if I remove my explicit path clang-format works anyway. There might be an issue with it working when first installing the extension without restarting vscode or something, as it definitely didn't previously work.

[2017-12-04 19:07] 0ffffffffh commented on #1291
@sivaraml  thank you 👍 that was so helpful for me.

@bobbrow  no, never goes away for me. and yeah sure. Here is my gdb session.
<pre>
 (gdb) info threads
  Id   Target Id         Frame
* 1    Thread 0x7f3e37569700 (LWP 2060) "Microsoft.VSCod" pthread_cond_wait@@GLIBC_2.3.2 () at ../sysdeps/unix/sysv/linux/x86_64/pthread_cond_wait.S:185
  2    Thread 0x7f3e3644a700 (LWP 2062) "Microsoft.VSCod" pth

[2017-12-04 19:07] draeger-charles-wilson commented on #1307
simple sample (bad_forward_dec.c)

[code]

[2017-12-04 19:26] bobbrow commented on #1291
Are you able to print out stacks for the other threads as well?  Thanks!

[2017-12-04 19:40] bobbrow commented on #1307
Hmm... that code sample results in a different error squiggle for me.

![image](https://user-images.githubusercontent.com/12818240/33572222-2ae8d27a-d8e7-11e7-948d-a94fd517b929.png)

And the tooltip for the original issue you reported seems to be working as expected:

![image](https://user-images.githubusercontent.com/12818240/33572303-63381f64-d8e7-11e7-830d-4c43e3198cd2.png)

Perhaps I am misund

[2017-12-04 19:56] 0ffffffffh commented on #1291
@bobbrow  of course I can.

<pre>
(gdb) thread 1
(gdb) bt
#0  pthread_cond_wait@@GLIBC_2.3.2 () at ../sysdeps/unix/sysv/linux/x86_64/pthread_cond_wait.S:185
#1  0x00000000008ce0c5 in neosmart::WaitForMultipleEvents(neosmart::neosmart_event_t_**, int, bool, unsigned long, int&) ()
#2  0x00000000008cd41c in microsoft::vc::alertable_event::wait_for_multiple(microsoft::vc::alertable_event**, unsigned

[2017-12-04 19:56] draeger-charles-wilson commented on #1307
my bad main's bar() call should be foo() and foo() should have returned a value. [updated code]

[2017-12-04 20:08] bobbrow commented on #1307
Your updated code produces no error squiggles.

[2017-12-04 20:14] draeger-charles-wilson commented on #1307
![image](https://user-images.githubusercontent.com/33490168/33574055-d310499c-d905-11e7-89cc-1bf5141f5485.png)

![image](https://user-images.githubusercontent.com/33490168/33574126-0ae74de8-d906-11e7-9820-ea5301dc7da3.png)

[2017-12-04 20:32] GabeAl commented on #19
I tried installing using

code --install-extension cpptools-linux.vsix

It reported installation was successful. Then when I opened Code, it auto-downloaded an older version, installed that one, and promptly displayed "The language server crashed 5 times..."

[2017-12-04 20:45] sbrw commented on #1284
OK. I understand, but given a project with many directories it could be a feature to exclude certain paths and else rely on recursiveness.

Is the includePath for intellisense also recursive? One project I'm on can be configured using a pre-processor macro to build different targets. The pre-processor define selects which files to include and which parts of the code to compile. In c_cpp_properties

[2017-12-04 20:56] sean-mcmanus commented on #19
As others have mentioned, the 0.14.3 version needs to be uninstalled or VS Code will continue to use the old one instead.

@GabeAl I'm not observing that behavior on my CentOS machine? What OS are you using? For me, the 0.14.4-insider stays installed...did you have the 0.14.3 version installed previously?

@s-martin Thanks to everyone who complained. We try to use user feedback to help prioritize

[2017-12-04 20:56] sbrw commented on #1282
1. Yes, it is set to Default
2. Yes, there are "include errors detected". However they concern another workspace folder. Are these errors per workspace folder or  per vscode instance?
3. Yes, there is such a process.

I tried putting a test-enum in a new file at the same path as the one giving me problem. Hovering over the enum fields here yields expected correct result as you show. Should't this

[2017-12-04 21:18] kchsrikanth opened #1309 "Break POints doesn't trigger -"
I tried using below launch.json and set breakpoints after successful build. The breakpoints, doesn't get triggered.

{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "(

[2017-12-04 21:35] bobbrow commented on #1284
`includePath` is not recursive.

For your second issue, do you happen to specify a `databaseFilename` for each of your configs, or do you leave this field empty?  If you leave it empty (the default), we end up sharing the DB across configs and old symbols will remain in the DB until the indexing completes on the config you just switched to and we run the cleanup step.

If you expect to change conf

[2017-12-04 21:35] sean-mcmanus commented on #1308
It seems like this might not be supported by VS Code yet? I found this discussion here: https://github.com/Microsoft/vscode/issues/243 .

[2017-12-04 21:45] bobbrow commented on #1282
2. The "include errors detected" fallback behavior is per translation unit (e.g. source file + included headers).  If your enum is defined in a.cpp and there is a problem reported for a.cpp, then you will get "fuzzy" IntelliSense for a.cpp and all its dependencies until you update your `includePath` such that the #include statements all resolve.  Usually you can use the light bulb suggestions that

[2017-12-04 21:59] bobbrow commented on #1307
Do you have any other language extensions installed? Do you have any problem matchers set for your build task(s)?  Our extension doesn't output any warnings, and I still don't see any errors reported when I paste your code into the editor.

[2017-12-04 22:04] bobbrow commented on #1291
I'm suspicious of thread 4.  If you let the process continue for a bit and then break in again, is the stack still pretty much the same?  Does the process consume any CPU or is it stalled?

[2017-12-04 22:42] pieandcakes commented on #1309
@kchsrikanth Did you compile with `-g` to enable symbols?

[2017-12-04 22:52] carlhua commented on #19
works perfectly now.

On Mon, Dec 4, 2017 at 12:56 PM, Sean McManus <notifications@github.com>
wrote:

[2017-12-04 22:52] carlhua commented on #19
thank you so much!!!!

On Mon, Dec 4, 2017 at 2:51 PM, Carl Hua <carlhua@gmail.com> wrote:

[2017-12-04 23:00] 0ffffffffh commented on #1291
yes, that is completely identical to the previous callstack, even after restart the OS or Visual Studio Code. every time I get the same callstack. No it seems, does not consume cpu. Here is additional screens of my htop monitoring status of 4th thread status.

![screenshot_2017-12-05_01-47-54](https://user-images.githubusercontent.com/437161/33580736-62ea00d6-d95f-11e7-8869-6ecbaf4e03d2.png)

tid:

[2017-12-04 23:07] ademyankov commented on #877
@pieandcakes I figured out why I wasn't able to run vs2017 debugger with another instance of WSL at the same time!

My vs2017 was running as admin and WSL as a regular user. So, you just have to make sure that both instances have the same privileges while running simultaneously.

Cheers!

[2017-12-04 23:31] bobbrow commented on #1291
So it looks like thread 4 is stuck waiting for a response from the Microsoft.VSCode.CPP.Extension.linux process (2587).  Sorry to keep asking, but can you get the callstacks from pid 2587?

[2017-12-05 00:12] pieandcakes commented on #877
@ademyankov Awesome! That's good to know. I'll add that to my FAQ.

[2017-12-05 00:18] 0ffffffffh commented on #1291
No problem;

<pre>

Microsoft.VSCode.CPP.Extension.linux's threads. 1,2 and 10 has unique callstacks, the rest are same.

(gdb) info threads
  Id   Target Id         Frame
* 1    Thread 0x7f5e9032f7c0 (LWP 2060) "Microsoft.VSCod" 0x00007f5e8f92b24d in read () at ../sysdeps/unix/syscall-template.S:84
  2    Thread 0x7f5e8f211700 (LWP 2061) "Microsoft.VSCod" 0x00007f5e8fc0e51d in read () at ../sysde

[2017-12-05 00:25] GabeAl commented on #19
Thanks for pointing that out -- no, I had a version earlier than 0.14.3 installed when I tried the 0.14.4 preview. I tried uninstalling and re-installing. I'm on CentOS 7.4.

![image](https://user-images.githubusercontent.com/8050438/33583464-29e253c2-d920-11e7-97b9-e7afbc11cce0.png)

It seems this is the correct version but still crashes.

Thinking back, I had used one of the earlier workarounds

[2017-12-05 00:39] GabeAl commented on #19
Removing and re-installing code with yum, and clearing ~/.vscode did the trick. I saw cpptools roar triumphantly to life. :hamburger:

Now I'm off to excitedly explore how to use it. Currently it chokes when it sees the #include for immintrin.h (the x86 assembly intrinsics), which seems to be keeping other declarations from showing up (no tooltips for malloc, etc until I comment it out). I have a

[2017-12-05 01:38] kchsrikanth commented on #1309
Hi @pieandcakes
Thanks for quick reply. I have used make command with -g option and it says its not an option. Any suggestions ?

Thanks,
Sri.

[2017-12-05 01:43] pieandcakes commented on #1309
@kchsrikanth You have to compile with Debug symbols or else the debugger (lldb) doesn't know how to debug your app. The `-g` flag would be one you pass to clang or g++ depending on which one you are using. You may want to do an internet search on how to setup makefiles to support debugging. I'm not experienced with them.

[2017-12-05 02:16] kchsrikanth commented on #1309
I tried various options in make file with no success. I tried various examples for windows but couldn't find much for mac. Any suggestions ?

Thanks,
Sri.

[2017-12-05 02:28] kchsrikanth commented on #1309
Here is my make file that I am trying to get debugger to trigger.

TARGET = app
OBJS += main.o
LIBS += -lm

CXX = clang++
CXXFLAGS += -std=c++11
CXXFLAGS += -MMD -MP
CXXFLAGS += -I./
CXXFLAGS += -Wall -Werror
LDFLAGS += $(LIBS)

all: CXXFLAGS += -O2
all: $(TARGET)

debug: CXXFLAGS += -ggdb  -D_GLIBCXX_DEBUG # debug flags
debug: $(TARGET)

debug: CXXFLAGS += -DDEBUG -g
debug: CCFLAGS += -DDEBUG -g

[2017-12-05 04:34] lightgoleft opened #1310 "Regex debug output"
Hello,

I am seeking possibility to regex on debug info(stdout). Currently, using internal console shows no output on output tab. So is this any chance or extension I can use to achieve this? BTW, I called the debugger through vscode-cmake-tools.

Thanks.

[2017-12-05 06:32] sbrw commented on #1284
OK. Thanks. My databaseFilename is empty. Sounds like a good option to let the user be able to select the scope of symbol search. The most intuitive would be to keep it per configuration by default.

Regarding browsePath:
Say there is a build folder inside the workspace at "workspace/app/build". What happens if I add both "{workspaceRoot}" and "{workspaceRoot}/app/build/*" in my configuration. Wil

[2017-12-05 06:47] sbrw commented on #1282
2. The enum is in a header file which do not include any other files and there are no squiggles in the file at all.
3. I closed all files files and then closed vscode. After closing vscode there where still 5 cpptools processes running. I killed them manually, restarted vscode and the opened the header file containing the enum and now 2 cpptools processes running. No valuable intellisense for the

[2017-12-05 07:03] sbrw opened #1311 "Navigation behaviour"
- Ubuntu 17.10
- vscode 1.18.1
- C/C++ 0.14.2

1. Open a C-source file containing function prototypes and corresponding function definitions
2. Navigate the file (ALT-N)
3. The dropdown list for navigation contains both prototypes and definitions
- Is there a way to distinguish between the prototypes and definitions in the dropdown list?
4. Select a definition and click/hit enter
5. Cursor jumps t

[2017-12-05 07:19] xbcnn commented on #925
Or support "visualizerFileDirectory" and load each natvis files under it.

[2017-12-05 09:17] daldr-ntml commented on #1308
Thanks for your reply. Yes, it seems to be unsupported. I wasn't sure if my question was relevant to the core editor or to the C++ extension.

[2017-12-05 09:17] #1308 closed, assigned to nobody

[2017-12-05 12:26] draeger-charles-wilson commented on #1307
No other extensions.

The code is can be compiled using a gcc 3.3 variant. There is a problem checker in conjunction with the build task. When compiled this generate:

![image](https://user-images.githubusercontent.com/33490168/33606742-9357cb0e-d98c-11e7-8789-6d14c3911ec7.png)
![image](https://user-images.githubusercontent.com/33490168/33606751-9e739d6a-d98c-11e7-9eec-5497088c2655.png)

and apply

[2017-12-05 12:47] alexeibs opened #1312 "Incorrect code analyzing"
My system information:

OS - Ubuntu 16.04.3 LTS x64
VS Code 1.18.1
C/C++ extension v0.14.3
C/C++ Clang Command Adapter 0.2.2 - installed, but disabled
Clang 3.9.1 installed and located at ~/tools/clang

Steps to reproduce:
- clone Yandex Catboost repo (https://github.com/catboost/catboost.git) and open it with VS Code
- setup include paths, on my machine Linux section of c_cpp_properties.json look

[2017-12-05 15:58] DickvdBrink commented on #513
Just to let you guys know, I had the same issue here and I was really searching for what was wrong but the application did print something to stdout and called exit(0) from some internal function :S causing the external console to exit.
So I would love this feature as well - should this issue be reopened?

[2017-12-05 16:47] Trevinlc1997 commented on #658
Definitely want! I hope this can come soon,

[2017-12-05 17:48] bobbrow commented on #1284
The build folder would be included in that case because ${workspaceRoot} (recursive) was added to the list.  You would need to list the folders under your build folder in `files.exclude` if you wanted them removed.

[2017-12-05 17:58] bobbrow commented on #1307
I suspect you should be able to add another "pattern" to the list that parses out the "declared at line (\\d+)"  and adds a problem for that line instead of the line from the "line\\s+(\\d+)" part of the message.

[2017-12-05 18:21] draeger-charles-wilson commented on #1307
Interesting. But that won't be a reference from the site of the issue. I'll see if I can build a second regex.

[2017-12-05 19:02] sean-mcmanus commented on #1311
The existence of function prototypes in the navigation list is a bug -- the intention was to only show scopes (classes, namespaces, function definitions, etc.). The definition might be the 2nd one listed, but I'm not sure if that's always the case.

We have a fix for the 2nd issue. The navigation list currently uses the "Default" of scrolling as little as possible, but we'll switch to the InCenter

[2017-12-05 19:20] bobbrow commented on #1307
I had hoped that this would result in two problems generated for that line (one at the definition and one at the error) but the [documentation for problem matchers](https://code.visualstudio.com/Docs/editor/tasks#_defining-a-problem-matcher) doesn't explicitly say that this will work though.  I'm not sure whether VS Code will pass the full line to both regexes so you might have to tell the first o

[2017-12-05 19:23] sean-mcmanus commented on #1311
The 1st issue has been fixed as well for our next update -- we add the text "declaration: " to the start of declarations. Thanks for reporting these issues.

[2017-12-06 02:35] TheDark commented on #1277
I'm getting a similar error in Windows 10 Pro version 10.0.16299.64, VSCode version 1.18.1, C/C++ extension version 0.14.3, installed via Microsoft's Arduino extension version 0.2.10

Tag Parser fallback is disabled. I performed the actionsfrom your previous post (clear browse path, restart VSCode, reset Intellisense database), then tried to get suggestions for a class instance members, and got th

[2017-12-06 11:14] techbirds commented on #273
+1
It's also slow on a large web project.

[2017-12-06 12:25] draeger-charles-wilson commented on #1307
Yeah. It hits on one. This still doesn't solve the problem that you have an issue in one location referring to another (which may be in another file). It would be helpful to have a refers-to-file, refers-to-line, refers-to-start-position and refers-to-end-position that can also be captured. I don't imagine that this is the only tool chain capable of generating referential errors.

[2017-12-06 14:36] Yanpas opened #1313 "C99 "compound literals are not allowed" is shown sometimes"
* Operating System : Linux Ubuntu
* VS Code version 1.18.1
* C/C++ extension version 0.14.3

Sampel code:
[code]

[2017-12-06 15:32] ampatel21 commented on #19
Thanks for addressing this issue.

[2017-12-06 20:10] sean-mcmanus commented on #1313
The same error repros with VS 2017. I've filed a bug with the team responsible.

[2017-12-06 20:57] jyavenard opened #1315 "Provide the ability to run a script to determine compilation option for a given file"
Opening a big projects (made of thousands of files) with headers often generated at compile time (and not living in the source tree) will see thousands of errors showing in problems due intellisync not finding the headers.

One can manually modify the includePath entry in the configuration, but that would take an extremely long time to do, and should any headers be changed, or the build system cha

[2017-12-06 22:26] PantelisKyriakidis commented on #1305
It looks like it failed to populate that. I tried to copy and pastingthem in the include path but nothing happens.
And yes visual studio is installed

[2017-12-06 23:04] sean-mcmanus commented on #1305
The behavior you're describing in which the includePath isn't matching the browse.path should be impossible, because we set the includePath and browse.path identically. It's possible some other extension could be modifying the file. However, adding the new paths should cause them to be picked up by the IntelliSense engine. Can you provide more info? From your screenshot, you're missing the "ucrt"

[2017-12-06 23:04] summivox opened #1316 "Can I enable only debugging component of this plugin?"
I am using [CQuery](https://github.com/jacobdufault/cquery) to provide language service (auto-complete, hover tooltip, jump to definition, etc). I want to use the debugging support from this plugin, but the language service part of it conflicts with CQuery. Is there a way to enable only debugging support?

[2017-12-06 23:13] sean-mcmanus commented on #1313
I've verified this is fixed in our pending February update.

[2017-12-06 23:17] sean-mcmanus commented on #1316
This is a duplicate of https://github.com/Microsoft/vscode-cpptools/issues/785 . Can you "upvote" that issue?

[2017-12-06 23:17] #1316 closed, assigned to nobody

[2017-12-06 23:27] summivox commented on #785
What I currently do is to manually patch the source. Seems to work without config file.

Go to `$extension_root/out/src/main.js` and comment out the following lines
[code]

[code]

[2017-12-06 23:28] sean-mcmanus commented on #1316
You could also modify file `.vscode/extensions/ms-vscode.cpptools-0.14.3/out/src/main.js` by removing line 120 `LanguageServer.activate(delayedCommandsToExecute);`, but you'd have to reapply the change after every update, and that fix might not fix all the issues because we add some stuff via our package.json and via global object construction (e.g. the ui class that creates the config status bar

[2017-12-06 23:52] summivox commented on #1316
Actually I figured out that a while ago.
For the time being I'm sticking with this.

[2017-12-07 01:07] donfiguerres opened #1317 "Support angle brackets in launch.json arguments"
Some of the cmd tools I maintain support angle brackets as symbols for 'greater than' and 'less than' filters. These can be escaped in the cmd using ^ but I can't find a way to use the angle brackets in vscode.

VSCode Version: 1.18.1
cpptools version: 0.14.3
OS Version: Windows Server 2012 R2
Steps to Reproduce:

1. Add an angle bracket argument.

![image](https://user-images.githubusercontent.co

[2017-12-07 01:22] sean-mcmanus commented on #1317
@pieandcakes This isn't something the C++ debugger extension could be causing, right? The VS Code issue got auto-closed by a bot: https://github.com/Microsoft/vscode/issues/39748 .

[2017-12-07 01:43] pieandcakes commented on #1317
@donfiguerres I tried it out. We convert `<` to `&lt;` and pass it to gdb which gets reconverted to `<` and gdb doesn't like it.

My fix was for `"YEAR<=1995"` to be quoted and it becomes `"\"YEAR<=1995\""` which works. Can you give that a try and see if that will work for you?

[2017-12-07 01:44] pieandcakes commented on #1317
oh. I tried it with Linux. let me see if I can figure it out for Windows.

[2017-12-07 05:51] loganintech commented on #1119
Any update on this?

[2017-12-07 08:56] PantelisKyriakidis commented on #1305
I don't know if it's right to have both 8.1 and 10 in the same properties file but i added ucrt :
![image](https://user-images.githubusercontent.com/18362812/33706385-aaa5d7ae-db3c-11e7-82af-9284d4930c4e.png)
Again, nothing seems to work.
About more info, I dont know what to tell you, I use visual studio 2015. Tell me what other info you need and I will give it.

[2017-12-07 11:08] mcepl commented on #863
That is interesting, but really parsing generated C-compiler command line (e.g., generated by ``pkg-config``) would be the best.

[2017-12-07 11:33] sbrw opened #1318 "Symbols and scope"
- Ubuntu 17.10
- vscode 1.18.1
- C/C++ 0.14.3

1. Create a file foo.c in the workspace
2. Open foo.c and add the line "static int foo_var;" and save
3. Create a file bar.c in the workspace
4. Start typing "foo" and name completion will suggest the private static variable foo_var in foo.c
![image](https://user-images.githubusercontent.com/33813608/33712800-01e687aa-db49-11e7-9c06-0d82f94d8815.png)

[2017-12-07 12:52] jyavenard commented on #1288
I experience the issue.

 Microsoft.VSCode.CPP.Extension.darwin	99.9	18:59.76	25	0	87155	jyavenard	64 bit	0 bytes	0 bytes	0	0	0 bytes	0 bytes		0 bytes	0 bytes	0 bytes		-	No	0 bytes	0 bytes	No	No		0 bytes	No	No

Project is made of 235696 files, I guess it could be restarting everytime some changes is made on the tree.

It has been like this for quite a while (which rarely bother me as this work mac

[2017-12-07 14:35] JacksonFurrier opened #1319 "Intellisense doesn't work with ASCII username on windows e.g.: Zalán"
* Window 10 64 Pro 10.0.16299 build 16299
* VS Code 1.18.1
* CMake, CmakeTools, CmakeTools helper, One Dark Pro, Native Debug, Shader languages support for VS Code. Issue does persist after disabling/deleting them
* Create a windows 10 username with "Kovács Béla" name, try "Go to definition" functionality. Intellisense loops and gets fired off, gives no results.
* Log messages attached.
[vscde_err

[2017-12-07 14:51] dirkseidel commented on #363
Same problem here. Slow stepping with deep call stack.
It would be a great improvement to be able to disable the refreshing of the local variables and have an extra button/short cut to explicitly do that refresh if needed.

[2017-12-07 15:43] ericsdakcs commented on #19
I can confirm, it works great on CentOS 7.4, glibc 2.17. In fact, it's running faster than when I was using the workaround.

Thanks for fixing this! It makes my job easier...

[2017-12-07 16:13] s-martin commented on #638
So using a dereference `*ptr` in the Watch window works, but it would be useful, if cpptools did this automatically.

[2017-12-07 17:07] mertzjames commented on #1047
There's a stretch goal for an offline installer in this issue

https://github.com/Microsoft/vscode-cpptools/issues/298

[2017-12-07 17:39] bobbrow commented on #1047
@KronoSKoderS we completed that task and will begin releasing "offline" packages starting with our December release.  We did a test run in issue #19 which seemed to work out for those who tried it (linux-only).

[2017-12-07 17:46] bobbrow commented on #1318
Thank you for the feedback.  We only have semantic IntelliSense turned on for `.`, `->`, and `::` operators right now.  Quick suggestions (e.g. global autocomplete) is not turned on yet, so you will see all results from all files that we've parsed.  We're tracking the behavior you are asking for with issue #13.

[2017-12-07 17:46] #1318 closed, assigned to nobody

[2017-12-07 17:52] bobbrow commented on #1305
It's not a good idea to mix and match Windows SDKs.  The Windows 8.1 SDK does not have a "ucrt" path and the 10.0.10150 Windows SDK path is not really valid anyway, so go ahead and remove that line from both properties.

Can you share a screenshot of your test.cpp file and show or tell us what exactly is not working?

[2017-12-07 18:18] bobbrow commented on #1119
I'm sorry, we don't have an update for you on this.  Just checking though... do you really want to exclude all of the standard libraries from your symbol search?  Or maybe just move them down in the list?

[2017-12-07 18:26] bobbrow commented on #1315
Is your build system capable of producing a [compile_commands.json](http://clang.llvm.org/docs/JSONCompilationDatabase.html) file?  We have support for this in the extension today.

[2017-12-07 20:13] loganintech commented on #1119
I suppose it depends on the context. The optimal would probably be to put them at the end of the list, but most of the time I'm writing pure C I don't need all of apple's default C libraries. Just my two cents. I'm betting at the end of the day having an option to move them or exclude them couldn't be too difficult. I'm sad this extension is closed source.

[2017-12-07 20:13] loganintech commented on #1119
Didn't mean to close, my mistake.

[2017-12-07 20:15] sean-mcmanus opened #1321 "On one processor machines, "Default" intelliSenseEngine fails (endless red flame)"
Use a VM with 1 processor.

Bug: The Microsoft.VSCode.CPP.IntelliSense.Msvc process fails, leading to an endless flame in the bottom right (no CPU usage).

Workaround: Increase the processor count or change the intelliSenseEngine setting to "Tag Parser".

It's possible some of the previously reported issues were caused by this.

[2017-12-07 21:18] sean-mcmanus commented on #1119
Have you tried removing the paths you don't want from browse.path?

[2017-12-07 22:20] sean-mcmanus commented on #1288
@jyavenard You should be able to track the progress via hovering over the database icon in the bottom right. It'll reparse individual files that are changed, but it shouldn't restart the scan unless there's a dependent config/setting change.

[2017-12-07 22:27] sean-mcmanus commented on #1319
The errors are with the vector-of-bool.cmake-tools extension: https://github.com/vector-of-bool/vscode-cmake-tools/issues . Are you able to repro a problem with that extension disabled?

[2017-12-07 23:07] sean-mcmanus commented on #1319
I was able to repro the bug with just the cpptools extension. The other extension might have some different issue.

[2017-12-07 23:21] sean-mcmanus commented on #1319
In my repro, it's failing to create the browse database and entering an infinite loop as it tries to open non-existent files. A workaround should be to set the `databaseFilename` in c_cpp_properties.json to something like `"${workspaceRoot}/.vscode/.browse.vc.db"` (and then doing a Reload Window).

[2017-12-07 23:30] PantelisKyriakidis commented on #1305
Ok I revoved the line .
![image](https://user-images.githubusercontent.com/18362812/33742749-72389f84-dbb2-11e7-9cc4-1d5039acb1ec.png)
Now the test.cpp is a simple hello world i created just to check intellisense. But i wrote it and it didnt give me some completion. (I also checked it with one of my projects at visual studio. again nothing).

I just found out that the problem is not in vscode. In

[2017-12-07 23:33] bobbrow commented on #1305
What is the value of `"editor.quickSuggestions"` in your settings.json file?  I don't see any of our auto-complete trigger characters in this file `.`, `->`, `::`.

[2017-12-08 00:04] kamenlitchev commented on #897
I'd vote for recursive inclusion, too. Just tried setting up some ARM GCC projects and it is a nightmare chasing down all directories where a specific .H file is located. Granted, the projects in question come from Mbed Compiler Online and MediaTek SDKs with a Makefile. What those makefiles do with few lines of code took me 2 hours to sort out.

Given that (ARM) GCC does recurse included directori

[2017-12-08 00:12] pieandcakes commented on #363
@dirkseidel  I have made a change that will be in the next update that should improve this. It is a combination of deep callstack and us trying to provide useful information in the callstack frame. The problem is calls to get the type and name of the variables in each frame actually take more time (especially if is a large simple object) because the call to gdb that we were using to get that infor

[2017-12-08 00:23] pieandcakes commented on #513
@DickvdBrink The issue is with gdb which opens the console on our behalf. We don't have much control over it but you can try and file a feature request against gdb.

[2017-12-08 00:26] sean-mcmanus commented on #1319
Thanks a lot for reporting this. Our next update should have the fix (for cpptools, not cmake-tools).

[2017-12-08 00:43] sean-mcmanus commented on #897
@kamenlitchev Recursive search for headers can be achieved via using the code action suggestions. As long as the path can be found recursively via the browse.path, you should be able to use the code action to find the file and add the required path. Let us know if this isn't sufficient. We have considered an option to add include files repeatedly whenever there's only 1 possible path found via the

[2017-12-08 01:01] pieandcakes commented on #1309
@kchsrikanth Does it actually call the "debug" section when you run make? that looks like where it adds the `-g` flag. Look at the logs and see if the actual command that its calling shows it?

[2017-12-08 01:02] pieandcakes commented on #1310
@lightgoleft I assume it should open a console window and it won't show inside VS Code. does the output show up there? if not, you can try and use Unix redirection to redirect stdout to somewhere such as a file?

[2017-12-08 02:23] sinhyeok-seo commented on #651
Just added
[code]
Working! (macOS Sierra, VSCode v1.18.1)

[2017-12-08 04:01] shelfofclub opened #1322 "C/C++ extension occupys about 30% CPU"
OS:Windows 10(1607) OS version 14393.1770
VS Code 1.18.1 stable
C/C++ extension version 0.14.3
When I open a .c or .cpp file, the C/C++extension begins to work and I find that it occupys around 30% CPU in Task Manager. In the past, it worked with no problem, but recently it had this problem. If I don't open a .c or.cpp file when starting VS Code, C/C++ extension will not be started and all things

[2017-12-08 04:05] cusr commented on #877
@pieandcakes I'm having the same problem @uwe-h described.
Breakpoints can be set.
But when executing the debugger, I got this error:
```Unable to open 'main.cpp': File not found (file:///mnt/c/Users/xxx/Project/a/main.cpp).```
Vscode is trying to find files in c:\mnt\c\...
which doesn't exist in my computer.
How to convert /mnt/c/ to c:\ ?

my config is like below
[code]

[2017-12-08 07:03] shaoyabo opened #1323 "the system will die when we use gdb encounter the function getchar"
the func getchar can't be used,the debug process will die  when we use gdb  debug the func getchar on vscode ,we can't skip

[2017-12-08 07:19] pieandcakes commented on #877
@cusr you need to setup your `"sourceFileMap"`. I noticed you have it converting paths that are `"/mnt/z"` to `"z:\\"`. I think you want `"/mnt/c": "c:\\"` instead ?

[2017-12-08 07:25] pieandcakes commented on #1138
I added something to https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md

[2017-12-08 07:26] #1138 closed, assigned to nobody

[2017-12-08 07:27] pieandcakes commented on #1068
@vaigup can you try the latest release and see if this works for you? I verified that there isn't a requirement for the path to be rooted.

[2017-12-08 07:29] JacksonFurrier commented on #1319
Excuse me for not responding my timezone is GMT+2.
Great news, thank you!

[2017-12-08 14:31] PantelisKyriakidis commented on #1305
"editor.quickSuggestions": {
    "other": true,
    "comments": false,
    "strings": false
  },

and

![image](https://user-images.githubusercontent.com/18362812/33770021-de229d94-dc34-11e7-9b4e-69bef5821dc0.png)

[2017-12-08 15:25] bobbrow commented on #1322
Based on the log, this looks like it might be #1319 which will be fixed in our update next week.

[2017-12-08 15:31] bobbrow commented on #1305
Can you set `"C_Cpp.loggingLevel": "Information"` in your settings.json and then restart VS Code?  The extension should print out some information in the Output Window in the "C/C++" channel.  Please share that with us and we'll see if we can track down what is going on.

[2017-12-08 19:22] pieandcakes commented on #1323
@shaoyabo can you provide more information on the system you are using, what OS, which version of the extension, which debugger/compiler version, where you are using `getchar` (i.e. is it in your code or are you using it in the watch window), and if possible an example code block?

[2017-12-08 19:57] sean-mcmanus commented on #1305
There is no navigation section in the task bar, which indicates that the browse database failed to get created. If your user name has a non-ASCII character, then it could be bug https://github.com/Microsoft/vscode-cpptools/issues/1319, which has a workaround of setting the databaseFilename.

[2017-12-08 20:14] jyavenard opened #1324 "shell task do not close once they have completed"
This is a very recent regression.
I have a few tasks configured to compile.

this is my tasks.json:
https://hg.mozilla.org/mozilla-central/file/c35272ba2006/.vscode/tasks.json

Doing Command-Shift-B opens a new shell as expected:
[code]

however this shell never ends, even with compilation errors. you see the |/- bits continuously turning in the bottom right corner.

You also can no longer start a

[2017-12-08 20:16] jyavenard commented on #1315
it doesn't for now... but it could.

We have a generator for Visual Studio project files.

Edit: ohhhhh, we do :)
./mach build-backend -b CompileDB

[2017-12-08 21:00] bobbrow commented on #1315
Great!  Just set the path to the compile commands file as the value of the "compileCommands" property in your c_cpp_properties.json file and we should pick it up.

[2017-12-08 21:06] jyavenard commented on #1315
the file contains path with the directory set to the object directory (outside of the source tree), like so:

[
{
"directory": "/Users/jyavenard/Work/Mozilla/obj-ff-dbg/mfbt",
"command": "/usr/local/bin/icecc /usr/local/opt/llvm/bin/clang --target=x86_64-apple-darwin16.0.0 -mmacosx-version-min=10.11 -std=gnu99 -o /dev/null -c -fvisibility=hidden -fvisibility-inlines-hidden -DDEBUG=1 -DIMPL_MFBT -D

[2017-12-08 21:11] jyavenard commented on #1315
hmmmm...

i get thousands of:
cannot open source file "map" (dependency of "MediaPipeline.h")
cannot open source file "cmath" (dependency of "AudioSegment.h")
cannot open source file "queue" (dependency of "AutoTaskQueue.h")

and so forth...

I did add in the path to the c++ standard lib include directory:

[code]

[2017-12-08 21:46] bobbrow commented on #1315
There is a known bug with "command" fields that don't start with the compiler name. #1251 ☹️

[2017-12-08 21:50] jyavenard commented on #1315
Ok, I'll create a cc script for now that runs /usr/local/bin/icecc /usr/local/opt/llvm/bin/clang instead...

[2017-12-08 23:29] PantelisKyriakidis commented on #1305
@bobbrow thank you very much for your time and help.
@sean-mcmanus Yes my username is non-ASCII . It always falls back to that, doesn't it ? :P Thank you very much i read the bug #1319
and I changed the value of databaseFilename to "${workspaceRoot}/.vscode/.browse.vc.db". Finally it works!!
But do I have to do this in every project? Maybe I should change the location of .vscode?
And what actually

[2017-12-09 00:35] tzbo opened #1325 ""file not found" after "Format Document""
I format a file, then report "file not found". It's ok before format the document.

<img width="434" alt="screen shot 2017-12-09 at 08 33 17" src="https://user-images.githubusercontent.com/19189826/33790532-ea65ff24-dcbb-11e7-9030-0245f7a2dee5.png">

[2017-12-09 00:53] sean-mcmanus opened #1326 "Ship 64-bit binaries on Windows"
We're not planning to do this. Let us know if anyone has a scenario where this is required (i.e. if the 32-bit process is running out of memory).

[2017-12-09 00:53] #1326 closed, assigned to nobody

[2017-12-09 01:08] sean-mcmanus commented on #1325
The "file not found" tooltip message is from the C/C++ Clang Command Adapter extension and not the C++ extension (see also #1352 ).

[2017-12-09 01:08] #1325 closed, assigned to nobody

[2017-12-09 01:30] shelfofclub commented on #1322
My username is in Chinese.I know this may cause some problems, but I can't change my username now. \~_\~

[2017-12-09 01:37] bobbrow commented on #1322
You don't have to change your username.  You can change the `"databaseFilename"` in your c_cpp_properties.json to an ASCII path and it should work.

[2017-12-09 01:38] loganintech commented on #1119
@sean-mcmanus I had not, but I just did yielding the same results.

[2017-12-09 01:55] shelfofclub commented on #1322
Oh, yeah! It works. Thank you!

[2017-12-09 02:11] sean-mcmanus commented on #1305
Yeah, you would have to set the databaseFilename for every project, but we'll be releasing a fix on Monday, and 2nd workaround that would work for all workspaces is to launch code.exe with the flag `--user-data-dir` with a folder that doesn't have a non-ASCII character in it, which will change the default workspace storage location. The ${workspaceRoot} path resolves to your TEST folder path (it's

[2017-12-09 02:36] sean-mcmanus commented on #1119
@HazardDev Oh, I think this is a bug. I hit this issue on November 3rd on Linux where I would remove all the paths, but it was still picking up stdio.h somehow. I'll investigate for our January release.

[2017-12-09 04:19] sweenish commented on #368
I do believe that this has not been implemented yet.

I'm on Windows and it is absolutely infuriating to have to add the same thing to the c_cpp_properties.json every time I start a new project.

Same goes for me on Fedora, at least there it knows where to look and I can add the necessary paths (plural) with a couple clicks. Windows doesn't afford that option.

I currently have Visual Studio Commu

[2017-12-09 16:23] ghost opened #1327 "consoleSecefication support"
The debug console output is awful.

![screen shot 2017-12-09 at 11 20 20 am](https://user-images.githubusercontent.com/23425023/33797298-55ee6d1e-dcd3-11e7-9e5b-a0b592493303.png)

It would be awesome if there was a setting in the tasks.json for consol

 just like in python
![screen shot 2017-12-09 at 11 19 52 am](https://user-images.githubusercontent.com/23425023/33797290-4b4dc9fe-dcd3-11e7-9147-1

[2017-12-10 10:10] michaelllh opened #1328 "Auto-Completion is not response to the correct variables"
* Operating System and version  : win7 64bits
    * VS Code version : 1.18.1
    * C/C++ extension version : 0.14.3
    * Other extensions: none
    * step-by-step instructions to reproduce the issue:
like if I have a struct:

{
    int a;
    int b;
}test_t;

then I define to test_t variable, and use the Auto-Completion to help me complete the code, it give me more option than variables a and b .

[2017-12-10 17:00] MaxXor commented on #217
I just installed vscode-cpptools and saw a strange file being created in my workspace. Stumbled upon this issue here. Using latest version of the extension and vscode itself on Debian 9 32bit in VMware.

[2017-12-11 06:18] ghost opened #1329 "g++ not recognized as the name of a cmdlet"
Hi I have some issue in order to debbug C++ with visual studio code.
I followed this tutorial : https://code.visualstudio.com/docs/languages/cpp

I'm using Visual Studio Code 2017 on windows 10.

Could  you please help me, it has been at least a week and I still didn't find the issue.

Cheers.
![2](https://user-images.githubusercontent.com/34433678/33818242-a8096844-ddf8-11e7-9704-5b436064b5e6.png

[2017-12-11 06:47] Aeonos commented on #1291
Hello there,

same problem here. Version 0.14.3 installed on 64 bit Debian Stretch using VS Code 1.18.1. The red flame icon does not disappear for me, and i waited for like 20 mins. Keeps saying Updating IntelliSense and if i use Ctrl + Space -> "Loading..."

[2017-12-11 07:29] Aeonos commented on #1291
Even after closing the IDE some processes are not killed

![vs_code_extension_after_program_closed_cleaned](https://user-images.githubusercontent.com/12323685/33819983-6e1aa8a0-de4d-11e7-8ddb-e8f807323dc4.png)

[2017-12-11 08:35] Yensan opened #1330 "please add "Include Autocomplete" Intellisense"
please add "Include Autocomplete" Intellisense, just as the plugin `Include Autocomplete ajshort `:
https://marketplace.visualstudio.com/items?itemName=ajshort.include-autocomplete

I used thinking this is supported by this MS C/C++ pulgin, but when I turn the `Include Autocomplete ajshort ` plugin down, I found it does not.
I must say I love using VScode to edit C/C++ :laughing:

[2017-12-11 10:39] johnfercher opened #1331 "Sugestions from IntelliSense doesn't help"
* Linux Mint 18.2
* Latest version of vscode from website
* Only have your extension installed

My IntelliSense isn't working properly, the suggestions are all the same.

Example 1:
If I have a class called Car, with a public method called move. When I type . after an object car, the IntelliSense suggest a huge list of things ordered by methods name.

Example 2:
When I type . after a variable of t

[2017-12-11 11:33] michaelllh opened #1332 "Go to Definition is not correct! It go to the .h file, not source file"
* Operating System and version  : win7 64bits
    * VS Code version : 1.18.1
    * C/C++ extension version : 0.14.3
    * Other extensions: none
    * step-by-step instructions to reproduce the issue:

Editing C/C++ file，choose function and goto the definition, it won't go to the right definition, some time it go to .h file，But I really define it  in the project .c file.

[2017-12-11 11:34] michaelllh commented on #1331
I have suffer the same problem .this is annoying!

[2017-12-11 13:36] JohnW71 commented on #19
The insider version is now working for me on RedHat 7.4, thanks a lot for resolving this!

[2017-12-11 18:22] tongko opened #1333 "Invalid error squiggles when not including "/usr/include/x86_64-linux-gnu" in c_cpp_properties.json"
Operating System: Ubuntu 17.10
VS Code: Version 1.18.1 (Commit 929bacba01ef658b873545e26034d1a8067445e9)
C/C++ extension: 0.14.3

Steps to reproduce:
1. Open any existing C folder, which uses <stdint.h>
2. Change the C_Cpp.intelliSenseEngine to "Default".
3. Remove the line "/usr/include/x86_64-linux-gnu" from the c_cpp_properties.json.
4. Open the source file using type "uint32_t" (or any of the

[2017-12-11 18:40] sean-mcmanus commented on #1328
You must be falling back to the tag parser behavior due to missing include paths. You can view the Problems window to see which include paths are missing, possibly use code actions to automatically add the paths, or you can change the `C_Cpp.intelliSenseEngineFallback` to "Disabled". Are you able to get it to work now?

[2017-12-11 18:43] sean-mcmanus commented on #217
@MaxXor We don't support 32-bit Linux yet, but we will in our pending 0.14.4 we plan to release later today (or later, if we hit any last minute delays), so you should try that. I've seen the bogus file get generated on VMs, but I wasn't able to get a repro with our latest bits, but I'll need to investigate more to figure out the exact repro.

[2017-12-11 19:26] sean-mcmanus commented on #1329
You need to install g++/gcc somehow, or install a different compiler, such as cl.exe or clang. I just use "sudo apt-get install g++" on Ubuntu, but I haven't installed g++ that on Windows. I assume the mingw docs would explain how to install the gcc compiler. Are you able to install a C++ compiler?

[2017-12-11 19:36] sean-mcmanus commented on #1291
@Aeonos We're planning to release an update later today (or later if we hit any issues), which fixes issues that could lead to this error (such as a user name with non-ASCII characters). Let us know if you still hit this with 0.14.4.

[2017-12-11 19:42] sean-mcmanus commented on #1330
Thanks for letting us know what features you want implemented. I want this feature implemented too, but we don't have an ETA yet. It is already being tracked by https://github.com/Microsoft/vscode-cpptools/issues/802 . You can "up vote" that, although having this issue being linked to that one counts as an upvote already.

[2017-12-11 19:42] #1330 closed, assigned to nobody

[2017-12-11 19:49] sean-mcmanus commented on #1331
You must be falling back to the tag parser behavior due to missing include paths. You can view the Problems window to see which include paths are missing, possibly use code actions to automatically add the paths, or you can change the C_Cpp.intelliSenseEngineFallback to "Disabled". Are you able to get it to work now?

[2017-12-11 19:54] ghost commented on #1329
I already installed MinGW as a compiler and I have the files gcc.exe and g++.exe.
But I don't know why VS code couldn't find it and gives me this error.

[2017-12-11 20:12] sean-mcmanus commented on #1332
We need more repro details. Go to Definition on a newly added definition only works after you save a file. Also, the feature returns all matching results from the symbol parsing and doesn't yet use the IntelliSense compiler to choose the correct definition. Are you able to get the correct definition to appear in the list of Go to targets? The feature also doesn't work on local variables yet.

[2017-12-11 20:19] sean-mcmanus commented on #1329
Is g++ on your PATH? If you type g++ on the command line it should give an output message from it.

[2017-12-11 21:10] sean-mcmanus commented on #1333
I'm not able to repro any problem, but my stdint/stdint-gcc.h is located at /usr/include/x86_64-linux-gnu/version/include . Does the stdint/stdint-gcc.h you're using require certain defines to be set? If Go to definition is working, that means the correct path is being located recursively from the browse.path setting. Do you get a code action suggesting a path to add?

[2017-12-11 21:49] ghost commented on #1329
Yes I think so, is this the right path ?
![1](https://user-images.githubusercontent.com/34433678/33855540-0d354c02-de7a-11e7-9314-95e293263602.png)

[2017-12-11 22:11] sean-mcmanus commented on #1329
Okay, I've reproed the problem. I'm not sure why VS Code isn't picking the environment path or what path it's using, because it picks up my CMake directory somehow, but not my MinGW directory. I was able to fix this via using the full path to g++ in the `command`. Does that work for you? You could also file a complaint with https://github.com/Microsoft/vscode/issues . There might be some way to ge

[2017-12-11 23:13] ghost commented on #1329
Now I have another issue, it is saying that :

'g++' is not recognized as an internal or external command,
operable program or batch file.
The terminal process terminated with exit code: 1

[2017-12-11 23:19] sean-mcmanus commented on #1329
That sounds like the same error, but coming from cmd.exe instead of powershell. Can you use the full path to g++?

[2017-12-11 23:41] sean-mcmanus opened #1334 "Incorrect "Warning: Expected file ...mono.linux-x86 is missing." with the Linux offline installer"
With the (soon to be released) offline installer vsix of version 0.14.4 on Linux, if you view the C/C++ output pane it incorrectly outputs "Warning: Expected file ...mono.linux-x86 is missing.", so just ignore that message (the code isn't checking to make sure the architecture is valid).

[2017-12-12 00:03] ghost commented on #1329
How can I change that ?

On Dec 11, 2017 3:19 PM, "Sean McManus" <notifications@github.com> wrote:

That sounds like the same error, but coming from cmd.exe instead of
powershell. Can you use the full path to g++?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/Microsoft/vscode-cpptools/issues/1329#issuecomment-35089102

[2017-12-12 00:12] sean-mcmanus commented on #1329
Change the `command` property to from "g++" to "C:/MinGW/bin/g++".

[2017-12-12 00:25] ghost commented on #1329
Sorry to bother you with that, but I still didn't find the answer

[image: Images intégrées 1]
On Dec 11, 2017 4:12 PM, "Sean McManus" <notifications@github.com> wrote:

[2017-12-12 00:26] sean-mcmanus commented on #1329
That's fine. Is it working now?

[2017-12-12 00:27] ghost commented on #1329
No I send you a screenshot,

my terminal is saying that :

The terminal process terminated with exit code: 1

Terminal will be reused by tasks, press any key to close it.

2017-12-11 16:26 GMT-08:00 Sean McManus <notifications@github.com>:

[2017-12-12 00:39] sean-mcmanus commented on #19
Fixed with 0.14.4.

[2017-12-12 00:39] #19 closed, assigned to nobody

[2017-12-12 00:40] sean-mcmanus commented on #1047
Fixed with 0.14.4. See the offline installer links at https://github.com/Microsoft/vscode-cpptools/releases .

[2017-12-12 00:40] #1047 closed, assigned to nobody

[2017-12-12 00:43] sean-mcmanus commented on #229
Should be fixed with 0.14.4.

[2017-12-12 00:44] sean-mcmanus commented on #267
Fixed with 0.14.4.

[2017-12-12 00:45] sean-mcmanus commented on #292
@ericgrossNI Fixed with 0.14.4.

[2017-12-12 00:45] sean-mcmanus commented on #293
Fixed with 0.14.4.

[2017-12-12 00:46] sean-mcmanus commented on #375
Fixed with 0.14.4.

[2017-12-12 00:47] sean-mcmanus commented on #298
Fixed with 0.14.4. Offline installers are at https://github.com/Microsoft/vscode-cpptools/releases .

[2017-12-12 00:47] #298 closed, assigned to nobody

[2017-12-12 00:48] sean-mcmanus commented on #456
Fixed with 0.14.4.

[2017-12-12 00:48] sean-mcmanus commented on #563
Fixed with 0.14.4.

[2017-12-12 00:49] sean-mcmanus commented on #607
Fixed with 0.14.4.

[2017-12-12 00:54] sean-mcmanus commented on #610
Fixed with 0.14.4.

[2017-12-12 00:55] sean-mcmanus commented on #1306
Fixed with 0.14.4.

[2017-12-12 00:56] sean-mcmanus commented on #1281
Fixed with 0.14.4.

[2017-12-12 01:00] sean-mcmanus commented on #1153
Fixed with 0.14.4, so the workaround is no longer necessary.

[2017-12-12 01:19] sean-mcmanus commented on #1329
Yeah, I'm getting the same error you're getting. It's strange that there's no detailed error message, even with the -v flag. I'll ask around to see if anyone know about this.

[2017-12-12 01:26] sean-mcmanus commented on #256
Should work now with 0.14.4.

[2017-12-12 01:27] sean-mcmanus commented on #810
Fixed with 0.14.4.

[2017-12-12 01:27] sean-mcmanus commented on #830
Fixed with 0.14.4.

[2017-12-12 01:29] sean-mcmanus commented on #1043
Fixed with 0.14.4.

[2017-12-12 01:32] sean-mcmanus commented on #1011
Fixed with 0.14.4, so the workaround is no longer needed.

[2017-12-12 01:34] sean-mcmanus commented on #276
Fixed with 0.14.4.

[2017-12-12 01:37] sean-mcmanus commented on #322
Fixed with 0.14.4, although from your description I'm not 100% sure.

[2017-12-12 01:38] sean-mcmanus commented on #59
Fixed with 0.14.4.

[2017-12-12 01:38] sean-mcmanus commented on #816
Fixed with 0.14.4.

[2017-12-12 01:38] sean-mcmanus commented on #1003
Fixed with 0.14.4.

[2017-12-12 01:39] sean-mcmanus commented on #1319
Fixed with 0.14.4.

[2017-12-12 01:39] #1319 closed, assigned to nobody

[2017-12-12 01:39] sean-mcmanus commented on #1322
Fixed with 0.14.4.

[2017-12-12 01:39] #1322 closed, assigned to nobody

[2017-12-12 01:40] sean-mcmanus commented on #1305
Fixed with 0.14.4.

[2017-12-12 01:40] #1305 closed, assigned to nobody

[2017-12-12 01:40] sean-mcmanus commented on #1321
Fixed with 0.14.4.

[2017-12-12 01:40] #1321 closed, assigned to nobody

[2017-12-12 01:42] sean-mcmanus commented on #866
Fixed with 0.14.4. Offline installers are at https://github.com/Microsoft/vscode-cpptools/releases .

[2017-12-12 01:42] sean-mcmanus commented on #694
Fixed with 0.14.4. Offline installers are at https://github.com/Microsoft/vscode-cpptools/releases .

[2017-12-12 01:44] ghost commented on #1329
thanks for reopening that.

[2017-12-12 03:00] tongko commented on #1333
The code action suggestion is 'Disable squiggle'.
Actually I've been seeing similar issues raise by others, and I try to take the advise given your side. Please note that I'm using a cross compiler, i.e. my include path and browse path are not anything under '/usr', instead, it is being place exactly as the output of the "[cross compiler] -v -E -x c - < /dev/null".
and the "defines" are being set

[2017-12-12 03:40] moof2k commented on #658
+1

This was my favorite feature of Visual Studio and Visual Assist: https://docs.wholetomato.com/default.asp?W206

![](https://docs.wholetomato.com/default.asp?pg=pgDownload&pgType=pgWikiAttachment&ixAttachment=30247&sFileName=hoverTooltipComment.png)

[2017-12-12 04:36] bobbrow commented on #1156
This should be fixed in 0.14.4

[2017-12-12 04:36] #1156 closed, assigned to nobody

[2017-12-12 04:36] bobbrow commented on #424
This has been addressed with version 0.14.4

[2017-12-12 04:36] #424 closed, assigned to nobody

[2017-12-12 04:37] bobbrow commented on #1273
This has been fixed in 0.14.4

[2017-12-12 04:37] #1273 closed, assigned to nobody

[2017-12-12 04:38] bobbrow commented on #1287
This has been addressed in version 0.14.4

[2017-12-12 04:38] #1287 closed, assigned to nobody

[2017-12-12 04:39] bobbrow commented on #19
We recommend uninstalling the 0.14.4-insider version of the extension and installing the official 0.14.4 version now.  I will remove the link to the insider version from this thread.

[2017-12-12 05:24] sean-mcmanus commented on #1333
If you only see "Disable Squiggle", that means the stdint.h (or the associated header) couldn't be found via your browse.path setting. We're supposed to use the includePath and defines settings in the c_cpp_properties.json, but we also query the compiler for the defaults when initially generating the file. There might be a bug in which defaults are being added when they shouldn't, but I need to in

[2017-12-12 05:26] sean-mcmanus commented on #363
Fixed with 0.14.4.

[2017-12-12 05:26] #363 closed, assigned to pieandcakes

[2017-12-12 05:27] sean-mcmanus commented on #1311
Fixed with 0.14.4.

[2017-12-12 05:27] #1311 closed, assigned to nobody

[2017-12-12 05:38] sean-mcmanus opened #1337 "IntelliSense process crashing on Windows due to deleted ilheader being re-used"
This has been our #1 crashing issue on Windows since releasing the IntelliSense feature. We should probably investigate/fix it. It would think this would repro on Linux/Mac too, but I'm not sure due to the fact that the crash reporting systems are different. I need to investigate potential repros.

[2017-12-12 07:27] LeThiHyVong commented on #1332
@sean-mcmanus I have exactly same problem.
It appear that if the definition is in a big cpp (my file is 30000 lines) then Intellisense fails to parse (https://github.com/Microsoft/vscode-cpptools/issues/1197). But the declaration in (short) header is fine and Go to Definition jump to the declaration.
I have to use C++ Intellisense extension base on GNU tag global instead.

[2017-12-12 09:18] dorinlazar commented on #19
Thank you. The fix works awesomely! :)

[2017-12-12 09:30] csholmq opened #1338 "Configuration improvements"
When creating a new `c_cpp_properties.json` the default system includes comes first meaning that any project modules with the same name is not included. (E.g Io.h gets matched in `C:/Program Files (x86)/Windows Kits/10/Include/10.0.14393.0/ucrt` before the project specific)

Similarly, adding local paths gets appended to the end of the `includePath` array.

![image](https://user-images.githubuserc

[2017-12-12 09:55] ZZYSonny commented on #1327
+1

[2017-12-12 10:02] dcourtois commented on #19
Yay same here !

[2017-12-12 11:16] michaelllh commented on #1328
When I set C_Cpp.intelliSenseEngineFallback to Disabled，it it terrible！My source file fills with error， ALL enum value turn into error. （contains with red underline）

[2017-12-12 11:18] sean-mcmanus commented on #1338
Yeah, changing the ordering makes sense to me.

[2017-12-12 11:22] sean-mcmanus commented on #1328
It sounds like you need to add the paths to the include files that contain the enum definitions to your `includePath` setting. If you add a parent path to the `browse.path` setting, you can have the database automatically return matches via the code action. You could also set `errorSquiggles` to disabled if you can't get the paths resolved. Umm...but you didn't say what the error message in the Pr

[2017-12-12 11:24] alanbirtles opened #1339 "Error getting stack trace"
When trying to get the stack trace after stopping at a breakpoint or exception visual studio code is throwing a NullReferenceException.
I'm running cpptools 0.14.4 on Centos 7 in vs code 1.18.1
stack trace of error:
[stacktrace.txt](https://github.com/Microsoft/vscode-cpptools/files/1551357/stacktrace.txt)

[2017-12-12 11:37] photex opened #1340 "RFE: Switch Header/Source support *.cc file extensions?"
Howdy!

I recently opened a project that used *.cc for c++ files and the Switch Header/Source command had no effect. Upon renaming one of the source files the command worked as expected.

Cheers!

[2017-12-12 11:48] photex opened #1341 "RFE: Switch Header/Source command support for files with *.cc extension."
Howdy!

I recently opened a project that used *.cc for c++ files and the Switch Header/Source command had no effect. Upon renaming one of the source files the command worked as expected.

Cheers!

[2017-12-12 11:48] #1340 closed, assigned to nobody

[2017-12-12 11:49] photex commented on #1340
Sorry, browser hung and I didn't check to see if the ticket was created before reposting.

[2017-12-12 12:58] Trucoto commented on #1126
Any update on this issue, @bobbrow? It is marked as "more info needed" when I supplied all info requested

[2017-12-12 13:22] niosHD commented on #1156
Sorry to rain on your parade, but the problem is (at least for cmake generated compilation databases) unfortunately not fixed in 0.14.4.

I put together a [minimal working example](https://github.com/niosHD/mwe-vscode-cpp-code-completion) which shows the problem. In summary, it seems to be that `-isystem` is now handled exactly like `-I` meaning that the parser is expecting arguments like `-I/path

[2017-12-12 15:07] elias-1 opened #1342 "MacOs:Unable to start debugging. Specified argument was out of the range of valid values."
MacOs 10.13.2
vscode 1.18.1
When I use gbd as my debuger, it returns Unable to start debugging. Specified argument was out of the range of valid values.

Is there a good config example for mac using gdb.
I think this problem caused by above version of MacOs 10.12, but I don't know how to solve it.

[2017-12-12 15:11] nzjony commented on #1339
I also started having a similar problem starting today, please see image:

![stack_trace_error](https://user-images.githubusercontent.com/2533428/33891651-e39596a8-df56-11e7-9279-8c3237689f3c.png)

I'm running also running cpptools 0.14.4, Ubuntu 16.04 with code 1.18.1

[2017-12-12 18:58] ad8e commented on #1291
This issue was fixed for me by the update.

[2017-12-12 19:32] pieandcakes commented on #1339
Can either of you tell me if this is 100% reproducible and what the steps are to hit this?

[2017-12-12 19:40] sean-mcmanus commented on #1341
What is the extension of the header file? "*.cc" is supposed to work. We need more repro details. Does this repro for certain file names or for certain directory structures? What does the bottom right database icon say? Our system needs to have located the target file on disk and added it to our database before it can go to it. Also, if there's a red flame in the bottom right, the IntelliSense thr

[2017-12-12 19:52] pieandcakes commented on #1329
Can either of you confirm the version of G++ you are using? Also, if you run it in the command window, you have to make sure to set the PATH to your MinGW bin folder first. This is a limitation of MinGW because it needs to know where its libraries are that it needs during compilation.

You should be able to run `SET PATH=%PATH%;<path to your mingw bin folder>` and then run your G++ command. Altern

[2017-12-12 20:00] pieandcakes commented on #1327
@YusufTaha we have this already on our backlog. #35 #239

[2017-12-12 20:00] #1327 closed, assigned to nobody

[2017-12-12 20:02] pieandcakes commented on #1342
@elias-1 Can you share your `launch.json` config? You will need to specify the `MIMode` as `gdb` and then set the `miDebuggerPath` to your gdb location but otherwise it should be fine. I know on OS X you are required to sign your debugger executable so `gdb` needs to be code signed. you can find more information online about how to self sign the executable so it is trusted.

[2017-12-12 20:20] sean-mcmanus commented on #1126
Your configs are sharing the same database -- that will cause problems. You should set the databaseFilename to something unique to each configuration. Does that fix it? It sounds like the problems start after switching configurations.

[2017-12-12 20:32] photex commented on #1341
I've zipped up a setup that reproduces the problem for me.
[blah.zip](https://github.com/Microsoft/vscode-cpptools/files/1553181/blah.zip)

As it is, if you open the folder and open `foo.cc`, pressing Alt+o won't have any effect. Rename it to `foo.cpp` and it'll work as expected.

Hope this helps.

[2017-12-12 20:34] pieandcakes commented on #1339
I have CentOS 7 with 0.14.4 installed with a multithreaded C++ app. I have set breakpoints and also hit pause to try and replicate this and i'm not able to.

[2017-12-12 20:50] ghost commented on #1329
I'm using the 6.3.0-1 version, the one I got with mingw.

On Dec 12, 2017 11:52 AM, "Pierson Lee" <notifications@github.com> wrote:

[2017-12-12 20:52] sean-mcmanus commented on #1339
I also am not able to repro this on Mint/Ubuntu 16.04. Do you have a breakpoint in some file "special" file or is there anything else unusual about your scenario? What is your debugger type? gdb?

[2017-12-12 21:17] techwiz2100 commented on #1288
I'm also having this issue on Windows 10... the progress resets every time I perform a search against the whole project so whatever indexing process is happening never finishes. Pretty annoying that 30-50% of my CPU is being consumed at any given point while Code is running. That being said, my project is fairly large, Code detects 65k files and the repo is 3GB+ in size. Also, it would seem that h

[2017-12-12 21:18] alanbirtles commented on #1339
I don't know how to reproduce it but I was unable to hit these breakpoints all day, this was with gdb

[2017-12-12 21:26] sean-mcmanus commented on #1329
I'm using 5.3.0. ${env:Path} is showing that F:\MinGW\bin is on the path, but the path isn't recognized if I remove the path from the beginning of gcc. @pieandcakes can you post the command line you're using?

[2017-12-12 21:27] pieandcakes commented on #1339
Ok. I think I might have figured out what the problem is. The log file helped out immensely. I'm going to see if I can make a fix.

[2017-12-12 21:40] sean-mcmanus opened #1343 "compile_commands.json include paths aren't reconigized when there's a space after -I/isystem"
Have a space a space after -I or -isystem. The includePath isn't recognized. The previous issue is https://github.com/Microsoft/vscode-cpptools/issues/1156 .

[2017-12-12 21:43] sean-mcmanus commented on #1156
@niosHD Thanks for reporting this. We'll track this bug with https://github.com/Microsoft/vscode-cpptools/issues/1343 . I'm not sure how @bobbrow tested this change if -isystem always has the space after it...oh, looks like our test uses a hand-generated compile_commands.json without the space.

[2017-12-12 21:50] sean-mcmanus commented on #1288
@techwiz2100 Can you check if the database is being reset in size? We rescan on workspace loading to look for changes, but only reparse if the database is corrupted or there's a changing requiring a reparse. Pausing parsing works for me. If it's not working, it probably means the main thread is stuck and is not receiving the command, or you're in a multi-root workspace and are switching files that

[2017-12-12 21:55] sean-mcmanus commented on #1341
@photex Thanks a lot for the repro -- I'm hitting the problem now. This is strange. I'll investigate...

[2017-12-12 22:03] sean-mcmanus commented on #1341
Oh, it's because the header file has the hpp extension and the system is setup to only switch cc files to .hh or .h files. This decision was made before I joined so I'm not sure what the reasoning was. Is there a reason your source is .cc and your header is .hpp? It seems inconsistent.

[2017-12-12 23:32] sean-mcmanus commented on #1341
We've changed it to switch from to any of .h/.hpp/.hxx/.hh from any of .c/.cpp/.cc/.cxx (not sure yet when the fix will be released). We eventually want to fix it to work on any extensions (I think another issue is tracking that).

[2017-12-13 00:09] pieandcakes commented on #1329
@sean-mcmanus  The comment I made is not to fix the issue of finding `gcc` in the path, it is to help `gcc` resolve dependencies it needs during compile time.

I compile from a command window, not through VS Code `task.json`. I assume if you want to use the `task.json` implementation, to create a `.cmd` file that sets the path and then issues the compile command.

[2017-12-13 00:09] pieandcakes commented on #1329
Note: This sounds like a toolchain issue with MinGW and not an issue with the extension.

[2017-12-13 00:25] ghost commented on #1062
i'm using vscode to read Linux kernel code on win10, and still having this problem. And in my case, everytime i re-open vscode, the C/C++ Extension will spend very long time (30+ minutes) to re-parse the whole codes.
VScode: 1.18.1
C/C++ Extension: 0.14.4

[2017-12-13 00:48] pieandcakes commented on #1339
@alanbirtles @nzjony Can either of you try [this release](https://github.com/Microsoft/vscode-cpptools/releases/download/v0.14.5-insiders/cpptools.vsix) and see if it fixes the problem?
Steps:
1. Download the file.
2. Uninstall the existing extension.
3. Go to Extensions -> `...` -> Install from VSIX and choose the file that was downloaded.

It should prompt you to reload. Then try debugging.

Ple

[2017-12-13 01:29] elias-1 commented on #1342
@pieandcakes Okay,  thx for your help. My launch.json is listed as follow:
`{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "C++ Launch",
            "type": "cppdbg",

[2017-12-13 03:47] sean-mcmanus opened #1344 "Debugging fails before a reload is done and the reload prompt doesn't appear"
After the initial extension download, try to do debugging before a reload window and it will fail without giving a reload message. Also, making a launch.json active without first opening a C++ file fails to show the reload message (in regards to the debug configuration snippets requiring a reload). Not sure why we didn't get any complaints...I guess people just reloaded.

[2017-12-13 06:17] ghost commented on #1329
I tried to type in the terminal too, and still didn't manage to make it work.

[2017-12-13 07:00] Aeonos commented on #1291
Same here, fixed since 0.14.4. Thanks for the effort!

[2017-12-13 07:59] sungb commented on #217
@MaxXor 0.14.4 seems good in my xubuntu 32bit in VMWare environment.

The issue came back in the 0.14.3.   But the latest 0.14.4 seems good.
Hope the issue doesn't come back...
CC: @sean-mcmanus

[2017-12-13 08:52] claneys commented on #1291
0.14.4 doesn't fix it for me. :/ still Updating Intellisense...

Version 1.18.1
Commit 929bacba01ef658b873545e26034d1a8067445e9
Date 2017-11-16T18:34:22.110Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

[2017-12-13 09:12] lightgoleft commented on #1310
@pieandcakes As configured as "externalConsole: true", yes, console window w/ output shows up. But I am seeking the opportunity if the output could redirect to VS Code so I can use some addon to filter the result at runtime. Thanks for the reply

[2017-12-13 10:25] almini opened #1345 "Couldn't start client cpptools"
I have NixOS 17.09 running, but am unable to get this extension working.
After installation and reload I get the error:
`[Error - 10:41:56 AM] Starting client failed
Launching server using command /home/almin/.vscode/extensions/ms-vscode.cpptools-0.14.4/bin/Microsoft.VSCode.CPP.Extension.linux failed.`

This is the log from developer tools:
[code]

[2017-12-13 10:33] sean-mcmanus commented on #1291
@claneys There could be multiple issues that lead to the same symptom. Could you file a new bug with more repro and symptom info, such as your OS, and if the IntelliSense process is using CPU or not?

[2017-12-13 10:36] sivaraml commented on #1291
0.14.4 update fixed the issue.

[2017-12-13 10:39] sean-mcmanus commented on #1291
Okay, I'll close this...anyone else who continues to hit "Updating IntelliSense" stuck, please file a new bug with as much info as possible.

[2017-12-13 10:39] #1291 closed, assigned to nobody

[2017-12-13 10:47] Trucoto commented on #1126
I added a different database filename for each configuration. Now I have:

[code]

The behavior does not change. These are the steps:

1) Change configuration file.
2) Close vscode
3) **rm -rf ~/.config/Code/User/workspaceStorage/***
4) On my working directory, **ls -a .vscode** (that returns only **c_cpp_properties.json**  and **settings.json**)
5) Start vscode
6) Browse around. The fire icon is

[2017-12-13 12:45] techwiz2100 commented on #1288
@sean-mcmanus I absolutely can, where does Code put the database? I don't see anything in the .vscode dir in my workspace. I only have the one top-level folder in my workspace so I don't think it's the multi-root issue, however my workspace *is* on a different disk than my Code installation. Also, should Code be re-indexing my workspace every time it starts up? It's almost like my Code workspace h

[2017-12-13 13:33] claneys opened #1346 "Intellisence never goes out of "Updating intellisense..." step"
Hi,
v0.14.4 resolve issue #1291 for many but not for me which still have the wrong behavior.

Here is my VSCode installation details:

[code]

My user settings:

[code]

And my c_cpp_properties.json :

[code]

VSCode consume a little bit CPU about ~2-3%

[2017-12-13 16:16] techwiz2100 commented on #1288
Just an update, I set out to leave Code alone to do it's thing when I made my last comment and 3 hours later, it has just finished parsing/indexing.

I think I found the databases at %APPDATA%\Code\User\ and I think both the DB-shm and DB-wal files get nuked on shutdown. The .DB file doesn't get nuked, but I still see Code re-indexing/parsing on startup. DB is about 800MB and the search function d

[2017-12-13 17:19] photex commented on #1341
Awesome! Glad I could help.

I don't know why they were named that way. I think .h was reserved for C interfaces and the header had to be something different. .hpp seems to be the vernacular for c++ interfaces. .cc was kinda left field. :D

[2017-12-13 18:54] bobbrow commented on #1345
An interesting bunch of errors.

1. The "cannot read property 'message' of null" error from the log can be worked around by manually deleting `/home/almin/.vscode/extensions/ms-vscode.cpptools-0.14.4/bin/OpenDebugAD7.exe.config`. It is strange that the exception doesn't have a .message property.
2. The "cannot read  property 'sendNotification' of undefined" error surprises me because that code sho

[2017-12-13 19:01] bobbrow commented on #1156
I implemented the change based on my reading of the [Clang documentation](https://clang.llvm.org/docs/ClangCommandLineReference.html) which shows no space after `-isystem`.  We can support both forms though.

[2017-12-13 19:12] pieandcakes commented on #1329
@regunHD

Did you try this in a MinGW command window or a regular command window or VS Code's terminal window? The last two do not have the correct path set so it won't resolve dependencies. One of the other suggestions I've heard is to try MSYS2's version of MinGW.

[2017-12-13 19:14] pieandcakes commented on #1310
So you aren't looking for it to only appear in the VS Code debug console or terminal window, you want to be able to filter the output? #35 is on the backlog to use VS Code's integrated terminal but I don't know how any of the filtering would be implementable by us since once its sent to VS Code, that would be owned by them.

[2017-12-13 19:15] bobbrow commented on #1338
The trouble is going to be that the default ordering will be temporary if developers use the light bulb to add include paths to this property (since they are added at the end and not in the middle).  We really need to split out the system includes from the project includes.  I hate to add yet another 'include path' property but there may be an opportunity to do this if we move c_cpp_properties.jso

[2017-12-13 19:18] ghost commented on #1329
Sorry, I don't really know to do that, I'm actually new in this software.
Since I'm using windows how can I have access to the terminal.

[2017-12-13 19:21] pieandcakes commented on #1329
@regunHD

Since I'm using windows how can I have access to the terminal.

If you are talking about the MinGW terminal, you can see if it is in one of the installed programs on your machine? Otherwise, it would be a normal command prompt but you would need to set the path as above.

[2017-12-13 19:32] ghost commented on #1329
Ok then. I don't have it installed, and I couldn't find it on my MinGW installer program.

Should I install it with a .exe installer (since I'm using windows 10) ?

[2017-12-13 20:00] pieandcakes commented on #1329
https://blogs.msdn.microsoft.com/vcblog/2017/07/19/using-mingw-and-cygwin-with-visual-cpp-and-open-folder/ is a blog post that should help you get started on how and where to install MinGW from. I think this article links to MSYS2 which will work also.

[2017-12-13 20:04] csholmq commented on #1338
I don't mind this being merged into something bigger.

Will settings.json support project specific includes? I would envision some generic ones and then project specific ones in a separate array that gets included first.

To be honest the system default ones mostly messes up my workflow since I have to remove them for every project I open as I work with embedded ones. So to be able to setup a defa

[2017-12-13 20:56] sean-mcmanus commented on #1126
The ms-vscode.cpptools folder seems okay, but is it empty or does it have a database file in it? The fact that no database is created at "${workspaceRoot}/.vscode" appears to be a problem.

[2017-12-13 21:04] sean-mcmanus commented on #1288
Yes, you located the workspace storage location (default database location). The DB-shm and DB-wal files are temporary and are supposed to go away. If the database file itself is not reset to a 0 size, then it's behaving as intended. We re-scan the browse.path on startup to look for any files with a newer timestamp, but there should not be any parsing being done (the status message of "Parsing fil

[2017-12-13 21:11] sean-mcmanus commented on #1346
I think your databaseFilename is set incorrectly. I suspect we may not work with "relative paths" without "${workspaceRoot}" being used. Also, you don't want the name to be "compile_commands.json". The databaseFilename is supposed to be output by our tool and not received as an input. If you want to use compile_commands.json as an input to our tool, we have a "compileCommands" setting (in c_cpp_pr

[2017-12-13 21:24] sean-mcmanus commented on #1345
I've never heard of the NixOS distro before, so that might be an issue. As mentioned by @bobbrow  already, what does it say when you run the Microsoft.VSCode.CPP.Extension.linux process (and the .IntelliSense.Msvc one) from the command line at (`~/.vscode/extensions/ms-vscode.cpptools-<version>/bin`) ?

[2017-12-13 21:33] techwiz2100 commented on #1288
@sean-mcmanus Thanks for the update, however Code was still chewing on my CPU and was definitely not just "looking for any files with newer timestamps," so I think there may be a bug there. Surely it wouldn't take hours to perform such a simple task. I didn't let it finish, but it was progressing at roughly the same rate as the original build.

[2017-12-13 21:41] nico87 commented on #1294
I have the same issue but the suggested workaround did not work.

[2017-12-13 22:01] sean-mcmanus commented on #1338
@bobbrow I assumed we should change the code action include to add the settings to the front of the list instead of the back (I haven't checked if there's a problem doing that).

@csholmq Yeah, there would be user settings that apply to all projects, and then workspace settings for the particular project, just like the normal settings.json, but we'd also have a list of configurations in the settin

[2017-12-13 23:46] sean-mcmanus commented on #1288
@techwiz2100 Yes, I'm seeing a performance problem that we need to investigate (speed using the database only increases by 50%), so it's a slow rate of 75 files per second, but for a project with tens of thousands of files, this is only a matter of minutes to process and not hours. Do you have >100k files?

[2017-12-14 01:01] pieandcakes commented on #1339
Can anyone confirm if this fixes their issue? I would like to know if I need to investigate more. Thanks!

[2017-12-14 03:24] aotmr opened #1347 ""Cannot open source file" for system headers in WSL Ubuntu"
OS: Windows 10 Build 16299
VS Code version: 1.18.1
cpptools version: 0.14.4

Following the WSL instructions for configuring the include path didn't work for me, even after adding the WSL config to c_cpp_properties.json:

[code]
I verified the presence of the header files, and under Ubuntu Bash, `ls /usr/include` shows a full folder, but in File Explorer, only gawkapi.h and sudo_plugin.h are visibl

[2017-12-14 03:56] cusr commented on #877
@pieandcakes Thank you very much!! Change the 'sourceFileMap' property just solve my problem.

[2017-12-14 04:06] ghost commented on #1123
Yeah I agree it's a confusing message. I mean, it caused me to look up what was going on, so that's not really all that elegant. Great stuff, though.

[2017-12-14 05:51] lightgoleft commented on #1310
Thanks for your reply!

As you said, what I seek is to filter output within integrated terminal. So what I found in these threads is that integrated terminal can neither accept std:in nor std:out. And redirect by adding argument ">log.txt" to debug didn't work as well(I have tried).

[2017-12-14 06:20] elias-1 commented on #1342
@pieandcakes Another useful info is to run gdb in my shell, I have to add `set startup-with-shell off` to ~/.gdbinit

[2017-12-14 07:06] ytimenkov commented on #1339
@pieandcakes I've had similar issue when debugging remote target on CentOS 7.4 (debugger just failed to show any call stack and execute any command when execution stopped at breakpoint).

With 0.14.5-insiders release the problem is gone and debugger started working again.
Thanks for quick fix!

[2017-12-14 07:54] dirkseidel opened #1348 "Unexpected token ... in JSON at position ..."
I am using debugging by attaching to a remote program with the following entries in launch.json:

{
            "name": "Debug Remote",
            "type": "cppdbg",
            "request": "attach",
            "program": "...",
            "processId": "${command:pickRemoteProcess}",
            "sourceFileMap": {
                "...": "..."
            },
            "pipeTransport": {

[2017-12-14 10:26] alanbirtles commented on #1339
seems to work for me too

[2017-12-14 11:00] Trucoto commented on #1126
Yes, there is a .browse.VC.db in ms-vscode.cpptools.

[2017-12-14 11:47] claneys commented on #1346
Ok thanks for the explanations. Indeed I misunderstood databaseFileName, and mess up with CompileCommands parameter.

Now my properties json looks like:

[code]

Doesn't works either, but I could see that files has been created and does contains data.
I also tried with that configuration :

[code]
Without success.

[2017-12-14 14:23] Gruntfuggly opened #1349 "Pretty printing of stl iterators in gdb"
I'm using gdb to debug my project which works amazingly well out of the box. I've added pretty printers using an old python script (I'm stuck on Qt 4) which also works for most things.

It shows me the contents of STL containers in the variables window, but it doesn't seem to show the contents of iterators.

For example,

an iterator called 'file' shows the following value in the variables view:
`

[2017-12-14 19:10] techwiz2100 commented on #1288
@sean-mcmanus ~50k files according to windows explorer and it does take hours, not minutes. If there's anything I can do to help debug, I'm all ears.

Also another thing to consider, do symlinks and/or junctions have an impact on the parsing and indexing process?

[2017-12-14 20:16] pieandcakes commented on #1310
@lightgoleft The first step would be to get our stuff integrated into the terminal, then you can possibly as VS Code to add filtering into their terminal.

[2017-12-14 20:45] alexbaden commented on #1339
Resolved here, Arch w/ code 1.18.1.

[2017-12-14 23:34] sean-mcmanus commented on #1126
Your databaseFilename has the incorrect `$[workspaceRoot}`, which should be `${workspaceRoot}`. It's causing the default to still be used because the path isn't resolved correctly. Yeah, we should be showing more errors.

[2017-12-14 23:40] sean-mcmanus commented on #1346
What do you see when you create a new cpp file with just `int main() { return 0; }` and hover over the 0? Does the flame go away in that simple case and do you see (int)0?

[2017-12-14 23:46] sean-mcmanus commented on #1288
@techwiz2100 50k files should probably be taking 11 minutes or so to scan (still too long). Symlinks might be causing an issue. You can temporarily set your C_Cpp.loggingLevel to "6" which will output all the files that are being scanned to see if it's doing unnecessary work (in the C/C++ output window). Do you see any bugs in that output? But be sure to get rid of the setting when you're done, be

[2017-12-15 02:08] shaoyabo commented on #1323
my  OS is win7, VsCode Version be 1.18.1, c/c++ plugin version be 0.14.0; demo:
int main(int argc,char* argv[])
{
  int ss=0;
  getchar();
  sleep(1);
  printf("hello world\n");
  getchar();
  return 0;
}