[2018-03-30 19:22] defunctzombie commented on #156
No, autogenerated, but sometimes tools have errors too :)

[2018-03-30 19:23] 0ge commented on #985
I recently found the [Cortex-Debug](https://marketplace.visualstudio.com/items?itemName=marus25.cortex-debug) extension, which I’ve found useful. It slows you to read registers (from an SVD file) and says it supports SWO, although I haven’t been able to get it to work.

[2018-03-30 20:00] defunctzombie commented on #156
@sean-mcmanus Thanks; Ill try that next time I encounter an issue. What would be helpful is to see the information (include paths, etc) on a per file basis (maybe the logging level will do that).

[2018-03-30 20:00] bboudrea commented on #409
I'm having the exact same issue running VS code 1.21.1 on Centos 7. I have an executable that needs to be run as root, so I've launched the VS Code application as a Superuser using sudo. I've been able to get the executable to successfully build, but when I try to run and debug it I get the error "Unable to start debugging. Failed to initialize debugger terminal." Because of what @puchodr said, I

[2018-03-30 20:04] puchodr commented on #409
I’m still experiencing the same thing as well. I’ve basically given up trying things until there’s some solution to this.

[2018-03-30 20:06] sean-mcmanus opened #1761 "Language service features don't work when the path starts with "git:" (i.e. staged changes)"
No one has complained about this before...might not matter much because the file is not editable.

[2018-03-30 22:36] sean-mcmanus opened #1763 "IntelliSense process crash from "have_member_access_from_class_scope""
It's a crash inherited from VS 2017 that I reported 5 months ago and recently reported by a VS Code user in https://github.com/Microsoft/vscode-cpptools/issues/1608, so hopefully we can get a fix from the VS team soon.

[2018-03-31 00:56] WardenGnaw commented on #1756
This is now fixed in 0.16.1

https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.1

[2018-03-31 00:56] #1756 closed, assigned to WardenGnaw

[2018-03-31 00:57] WardenGnaw commented on #1554
All issues fixed. Closing.

[2018-03-31 00:57] #1554 closed, assigned to pieandcakes

[2018-03-31 00:58] WardenGnaw commented on #1348
@dirkseidel We found another place we did not redirect output. Can you try https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.1 to see if this fixes it for you?

[2018-03-31 06:47] zxy-git opened #1767 "Automatically adds error message at the beginning of .c file when clicking "Format Document""
If I click "Format Document" for a .c file, the formatting process actually completes but an extra line containing error message would be added to the beginning of this file.
`ERROR: ld.so: object '/usr/local/lib/innetgr.so' from /etc/ld.so.preload cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.`
![screenshot 1180](https://user-images.githubusercontent.com/16920873/38160193-41b9bc2e-35

[2018-03-31 14:15] Posto578 commented on #1760
@sean-mcmanus What is worth to mention:
I can run debugger in _attach mode_ I run my app and _attach mode_ works fine. All required libs are already installed on my mac.
The result of _otool -L awc.exe_  command.
[code]

[2018-03-31 16:45] decimad commented on #15
Yes, I switched to cquery too for its find all references, renaming etc. However even with Tag-Parser only you will get duplicate hover-tooltips for all local types. Also I did not find a way to suppress the warning squiggles that the parser could not find the header files.

[2018-03-31 20:19] sudo-liljoa opened #1768 "Watching local variables of types vectors, maps etc. is empty when debugging C++ with lldb"
- VSCode Version Insiders: March 2018 v1.22
- VSCode Version Stable: February 2018 v1.21
(Same thing happens on both)
- OS Version: macOS High Sierra 10.13.3
- C/C++ extension version: 0.16.1

Steps to Reproduce:
[code]

[code]
Built with:
`g++ -o app app.cpp -g -Wall -std=c++17   -lstdc++`

Watchlist shows this at breakpoint for last statement in main:
[code]

Using lldb manually from terminal sh

[2018-03-31 22:43] azydevelopment commented on #1391
This still broken? It prevents me from effectively using the workspace since I need to open up all folders separately in order to format before committing to source control.

[2018-03-31 23:54] AScustomWorks opened #1769 "IntelliSense stuck at loading..."
Os X 10.12.6
CPUs | Intel(R) Core(TM) i5-4690 CPU @ 3.50GHz (4 x 3500)
-- | --
Load (avg) | 4, 4, 4
Memory (System) | 32.00GB (22.11GB free)
Process Argv | /Applications/Visual Studio Code.app/Contents/MacOS/Electron -psn_0_2212380
Screen Reader | no
VM | 0%

Extension | Author (truncated) | Version
-- | -- | --
cpptools | ms- | 0.16.1

Go to Definition and go to Declaration do nothing,  Peek defi

[2018-04-01 10:12] dodheim opened #1770 "`_MSVC_LANG` is (usually) incorrect and can't be overridden since 0.16.x"
Firstly, the value of the `_MSVC_LANG` macro (MSVC's stand-in for `__cplusplus`) is dictated by the `/std` compiler flag and controls (among other things) availability of various standard library features e.g. `std::optional` and `std::variant`. Using the `msvc-x64` mode, this macro always evaluates to `201402`, which results in the default intellisense engine breaking for any code using these std

[2018-04-01 10:19] dodheim opened #1771 "Macro definitions are not obtained from compiler when using `compilerPath` with `Tag Parser`"
My macro definitions are being set correctly when setting `compilerPath` in conjunction with the `Default` `intelliSenseEngine` setting, but for the handful of projects that demand `Tag Parser` they do not. I suspect that invoking the compiler may be bypassed with this engine since the include paths aren't needed, but the macro definitions still very much are. If this is by design it should be men

[2018-04-02 04:57] kbumsik opened #1772 "External terminal when debugging in WSL"
Hello,
Firstly I would like to say thank you for this awesome text editor and the C/C++ extension :)

I tried debugging C/C++ program in Windows Subsystem for Linux. The debugging session works fine but the only problem is that VS Code won't open an external terminal so I could not get `stdout` and `stdin` from a terminal during the debugging session.

So I have two questions:
1. How can I open an

[2018-04-02 07:51] sean-mcmanus commented on #1767
Ugh -- the process is writing to stderr but not returning an error result -- our code assumes this can't happen and so we redirect stderr to stdout for all child processes, causing the error to get added to the formatted code. What version of clang-format are you running? The one we ship with? Can you try to install another version of clang-format that works with your OS and set the `clang_format_

[2018-04-02 08:04] sean-mcmanus commented on #1760
@pieandcakes and @WardenGnaw are the debugger guys -- they might know more.

[2018-04-02 08:16] sean-mcmanus commented on #15
@decimad Yeah, the include path warning isn't currently disable-able, which would be fixed by https://github.com/Microsoft/vscode-cpptools/issues/785 . Duplicate items with tag parser is "by design" -- if cquery has hover support, you can clear the browse.path to reduce the amount of symbols, although we still parse symbols on open file, so there might be some symbols found anyway.

Our typescript

[2018-04-02 08:19] sean-mcmanus commented on #1768
You're using 0.16.1 of cpptools, right?

[2018-04-02 08:38] sean-mcmanus commented on #1391
@azydevelopment Yeah, sorry about that. I'm still waiting to hear back from @dbaeumer on what the next step should be. I debugged the VS Code javascript that was mentioned but I didn't see any issues on our end. The multi-root formatting code in question is open source so should be debuggable if anyone wants to investigate themselves -- our closed source code is returning the JSON results shown in

[2018-04-02 08:51] sean-mcmanus commented on #1769
Your previous version was 0.15.0, right?

Is the Microsoft.VSCode.CPP.Extension.darwin processes crashed, alive with 0% CPU, or alive with CPU usage?

What is your "intelliSenseEngine" setting? Can you try changing it to "Tag Parser" to see if that works?

Also, can you check your `Users/<user>/Library/Logs/DiagnosticReports` for any resulting crash logs?

What's the most recent .vsix at https://g

[2018-04-02 09:04] sean-mcmanus commented on #1770
What compiler are you using? It sounds like your intelliSenseMode is msvc-64 and you're on Windows, which means you should be using cl.exe and not clang. We didn't implement cl.exe define querying yet. In general, defines are supposed to overwrite any defines set by the compiler querying, but there may be special cases where our parser will overwrite those internally.

You can downgrade using a vs

[2018-04-02 09:11] dodheim commented on #1770
I am using both, which was working fine until 0.16. I have two configurations – both use msvc-x64 mode, but one is actually for MSVC and doesn't set `compilerPath`, and the other is for Clang and does. They need different defines, so prior to 0.16 I simply had multiple configurations with different include paths and defines and all worked well. For the purpose of the _primary_ issue, ignore clang

[2018-04-02 09:30] sean-mcmanus commented on #1771
Yes, the tag parser engine won't pick up the defines or compilerPath defines. It's by design.

We have an internal work item to somehow get the browse.path to update based on the compilerPath. We could use this issue to track that.

[2018-04-02 09:31] dodheim commented on #1771
Looking forward to it – thank you, Sean.

[2018-04-02 09:55] sean-mcmanus commented on #1770
You don't want to use msvc-x64 mode with clang -- it will parse the code as if the compiler is cl.exe instead of clang. We've discussed automatically changing the intelliSenseMode to reflect the compiler set to avoid the wrong value being used.

For cl.exe, we didn't intentionally change any of the defines set and it's expected to behave as it did in 0.15.0. I don't know how we regressed handling

[2018-04-02 09:57] dodheim commented on #1770
On Windows, Clang itself parses the code as if it's cl.exe (whether you want it to or not, annoyingly), so that behavior is exactly what is warranted. (And in case you weren't aware, Clang relies on an MSVC installation for its stdlib, which is why this issue affects both.) I assure you, other than the value of these two macros, Clang in msvc-x64 mode is working exactly as well as MSVC itself is (

[2018-04-02 10:05] dodheim commented on #1770
As a strongly-related aside, in case you weren't aware, Clang on Windows does not support GCC (MinGW)/libstdc++ (as it does on *nix). It relies exclusively on MSVC's stdlib (and linker by default), and forcefully emulates MSVC's parsing quirks. Because of this, clang-x64 mode on Windows doesn't work with Clang (only with GCC; go figure), and msvc-x64 _must_ be used if one wants to get as close to

[2018-04-02 10:36] dodheim commented on #1770
Also, the _proper_ way to emulate Clang on Windows is to pass `--clang --ms_compatibility --ms_extensions` to the frontend driver; without the last two it operates as Clang does on Linux. (N.b. this works for EDG-proper, but it doesn't seem to work in the extension; I'm not sure why.)

That said, the last one is optional (for Clang it's called `-f[no-]ms-extensions`) so _ideally_ it would be confi

[2018-04-02 11:44] sean-mcmanus commented on #1770
I'm able to set _MSVC_LANG in the defines. Are you modifying any of the .json files to pass different args to EDG? Can you give an example of code that is giving incorrect error squiggles? std::optional is working for me (using 15.7 Preview, 14.14.26329 headers). After we enable the compilerPath to work with cl.exe it might fix some of these issues by setting the defines correctly.

[2018-04-02 16:35] sudo-liljoa commented on #1768
Yes, sorry. Forgot to include that. Updated info in post

[2018-04-02 17:12] puidenz commented on #1374
I updated the cpptools to latest vesion 0.16.1 ,reinstalled my mingw-64 and reset my includePath according:
https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md

Finally, my vscode run perfectly. Thanks God and you.
It took me so long to make it work.
Attached file is my latest c_cpp_properites.json file, hope this can help you to improve this project.
[c_

[2018-04-02 17:27] britalmeida opened #1773 "Theme: configure enums, static/member vars, etc"
I did not manage to configure several components of the C and C++ language to my liking.
I tried adding something as follows to the settings:

[code]

However, this has no visible effect and by using  `Developer: Inspect TM scopes` on the parts I am interested, the only results are `source`or sometimes `meta.block`.

Is it not possible to configure these items? Or maybe I am doing it wrong, but I

[2018-04-02 17:35] zxy-git commented on #1767
I try to use the clang-format binary from clang+llvm-3.3-i386-debian6.tar.bz2 but actually this version 3.3 is not compatible with this extension because it does not support arguments "-fallback-style", "-sort-includes", "-assume-filename" and causes an error.
Log:
[code]
I cannot build LLVM 5.0.0 from its source because my cmake version is lower than requirement. So I consider to redirect the std

[2018-04-02 17:41] aabuelenin commented on #1737
@bobbrow makes sense, but why it's too slow? Cpptools' language server isn't nodejs app, correct?

[2018-04-02 18:32] bboudrea commented on #409
@puchodr have you ever opened a new issue regarding this topic or looked around github to see if anyone else has had this same problem? I'm wondering if @pieandcakes lost track of this thread since he was initially incredibly responsive and it appears we're following up under an issue that's marked as closed.

[2018-04-02 18:43] pieandcakes commented on #409
@bboudrea @puchodr VS Code itself doesn't support running in `sudo` mode. If that is a requirement, they need to make changes to VS Code first to fix any issues there. I've been busy with other work and haven't had a chance to debug this yet to see what the problem might be but it is on the list of items to look at when I have free time but I suspect that there will need to be work on their side t

[2018-04-02 18:49] pieandcakes commented on #1747
@jianguile Currently there is no plan to open source OpenDebugAD7. OpenDebugAD7 isn't hiding any ability. If you need to add UI, that is done within VS Code's source and not ours. Once they have enabled it and added a way through the debug protocol to communicate it back to the UI, enabling it would be easy.

OpenDebugAD7 translates the items sent back from MIEngine into VSCode's debugging protoco

[2018-04-02 18:53] sean-mcmanus commented on #1374
Oh, you may also want to consider setting the compilerPath to get the correct compiler defines for you compiler. With the c_cpp_properties.json provided, it is not expected that 0.16.0-1 would have fixed anything.

[2018-04-02 18:53] #1374 closed, assigned to nobody

[2018-04-02 19:10] sean-mcmanus commented on #1773
The C/C++ extension doesn't implement any of the syntax colorization -- it's implemented as part of VS Code using textmate and atom/language-c. Can you file an issue at https://github.com/Microsoft/vscode/issues ?

[2018-04-02 19:10] #1773 closed, assigned to nobody

[2018-04-02 19:36] sean-mcmanus commented on #1737
Just because the code is written in C++ instead of node.js won't make it fast if the underlying calls to the OS and file and networking systems are slow (e.g. nftw on Linux). I don't think we've tested with sshfs so it could also be a bug. Are there symbols/files missing after the discovering/parsing is done?

[2018-04-02 20:31] sean-mcmanus commented on #1605
Has this issue been fixed with 0.16.1?

[2018-04-02 20:37] AScustomWorks commented on #1769
1.-
 0.15.0, Yes I think so. Since opening this issue I got back to it thru .vsix, really needed to do so as I'm working on a project.

2.-
Microsoft.VSCode.CPP.Extension.darwin and Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin were still running with CPU usage even  after closing the app, sometimes 2 or 3 instances of them (had to force quit them on the activity monitor)

3.-
With 0.16.1 I tried

[2018-04-02 20:38] WardenGnaw commented on #1605
Possibly. It seemed like the fix for this was re-installing due to invalid packages. Will close for now.

Please reopen if the issue appears again.

[2018-04-02 20:38] #1605 closed, assigned to WardenGnaw

[2018-04-02 20:59] sean-mcmanus commented on #1769
The crash file is a crash from VS Code itself and not our extension. It looks like the Microsoft.VSCode.IntelliSense.Msvc.darwin process (red flame) is infinite looping, although setting the intelliSenseEngine to "Tag Parser" should cause that process not to run (no red flame), so in that case Microsoft.VSCode.CPP.Extension.darwin might be getting stuck as well -- the main input thread is probably

[2018-04-02 22:08] AScustomWorks commented on #1769
Thanks Sean!
Right, no crash report for the extension itself then.
Not sure about how/where to set compilerPath. I'm using VSC as an editor only, and the included terminal for make commands, that matters?
And yes, 33,789  items on the development folder sounds like more than a simple project. Maybe a lot of files for IntelliSense to process?

Also not sure about how to  attach a debugger and get a

[2018-04-02 22:18] sean-mcmanus commented on #1769
If you do an "Edit Configuration" command you'll see the c_cpp_properties.json file, which should have the compilerPath set to a guessed default path (usually clang on Mac). 33k is a reasonable size that the extension should be able to handle normally. You usually want the system include paths to occur after your project include paths -- we attempt to fix this ordering ourselves (behind the scenes

[2018-04-02 22:20] #1759 closed, assigned to nobody

[2018-04-02 22:25] sean-mcmanus commented on #797
We recently fixed a bug that could randomly lead to a deadlock and endless "Loading..." ( https://github.com/Microsoft/vscode-cpptools/issues/1759 ). Please re-activate this issue if it still repros with 0.16.1 or later. If the "Loading..." appears upon opening a file and there's a red flame in the bottom right, that is likely a different issue (blocked by IntelliSense parsing).

[2018-04-02 22:25] #797 closed, assigned to nobody

[2018-04-02 22:28] sean-mcmanus commented on #1662
0.16.1 fixes a bug that could randomly lead to a deadlock and endless "Loading..." ( #1759 ). I'm not sure if your issue had the same root cause or not.

[2018-04-02 22:31] sean-mcmanus commented on #1246
We've fixed a bunch of issues that could lead to stale processes and stuck "Loading..." deadlocks. Does 0.16.1 still have problems for anyone?

[2018-04-02 22:33] AScustomWorks commented on #1769
Oh, I got back to 0.15.0 so I can't test again 0.16.1 before finishing the current project but I'll do it asap, thanks!.

[2018-04-02 22:39] #1754 closed, assigned to nobody

[2018-04-02 22:41] #1757 closed, assigned to nobody

[2018-04-02 22:46] papb commented on #1736
Hello @sean-mcmanus, sorry to take so long to reply. First of all I should note that I am just a beginner in C++, I'm trying to use VSCode because I'm already used to it (I'm a javascript developer). The odds are high that I'm the one making a mistake...

Instead of trying the v0.16.0-insiders2 that you mentioned, now that 8 days passed, I simply updated the extension to 0.16.1 instead. The proble

[2018-04-02 22:57] sean-mcmanus commented on #1736
clang-x64 is the expected mode for Cygwin...we have plans to add a gcc mode to make this less confusing (msvc-x64 is for cl.exe or clang on Windows).

If you temporarily set the loggingLevel to the hidden value of "6" and then open a new C++ file, you should be able to see the results of our compilerPath querying and what we send to our IntelliSense process in regards to includePath and defines.

[2018-04-02 23:07] #1613 closed, assigned to nobody

[2018-04-02 23:10] sean-mcmanus commented on #1673
We believe compilerPath multiple args should finally work with 0.16.1 (and we fixed a random deadlock issue that could lead to stuck "Loading...").

[2018-04-02 23:10] #1673 closed, assigned to nobody

[2018-04-02 23:17] #1712 closed, assigned to nobody

[2018-04-02 23:18] sean-mcmanus commented on #1638
Should be fixed with 0.16.1.

[2018-04-02 23:18] #1638 closed, assigned to nobody

[2018-04-02 23:18] #1596 closed, assigned to nobody

[2018-04-02 23:19] #1350 closed, assigned to nobody

[2018-04-02 23:22] #1568 closed, assigned to nobody

[2018-04-02 23:24] #852 closed, assigned to bobbrow

[2018-04-02 23:25] #1536 closed, assigned to nobody

[2018-04-02 23:25] #1259 closed, assigned to nobody

[2018-04-02 23:25] #1640 closed, assigned to nobody

[2018-04-02 23:30] sean-mcmanus opened #1774 "Allow specific workspace folders to be referenced via ${workspaceFolder:folderName}"
From @Jvinniec in https://github.com/Microsoft/vscode-cpptools/issues/1627 :
I'm trying to work in a workspace with multiple folders and according to [this post](https://code.visualstudio.com/docs/editor/variables-reference#_variables-scoped-per-workspace-folder) I should be able to specify the paths to the individual folders with something like `${workspaceFolder:FolderName}`. The relevant note i

[2018-04-02 23:31] #1627 closed, assigned to nobody

[2018-04-02 23:36] sean-mcmanus commented on #1501
This was fixed for 0.16.1. Let us know if there's a still an issue.

[2018-04-02 23:36] #1501 closed, assigned to grdowns

[2018-04-02 23:38] #13 closed, assigned to bobbrow

[2018-04-02 23:38] #871 closed, assigned to nobody

[2018-04-02 23:39] #1574 closed, assigned to nobody

[2018-04-02 23:39] #1539 closed, assigned to bobbrow

[2018-04-02 23:39] #1252 closed, assigned to nobody

[2018-04-02 23:41] sean-mcmanus commented on #1392
${workspaceFolder} was added with 0.16.1, but we're still tracking ${workspaceFolder:folderName} with https://github.com/Microsoft/vscode-cpptools/issues/1774 .

[2018-04-02 23:41] #1392 closed, assigned to nobody

[2018-04-02 23:46] deanagan commented on #13
Thanks for all the work done on this area, and I find no issues with using hover for local variables. However, I do want to point out that goto a local variable works really well for legacy code and benefits a lot of those programmers maintaining/refactoring functions/methods that are hundreds/thousands line long (I know it sucks to be a legacy code maintainer).

[2018-04-02 23:49] tristan957 commented on #13
Maybe that can be tracked in a new issue.

[2018-04-03 01:43] pyrrho commented on #1500
I had the same issue, but without "cmake-tools-helper" installed.
Disabling "Go" resolved the issue for me.

[2018-04-03 05:48] DFVSQY opened #1775 "Is it a bug?"
i build c/c++ with vscode and mingw64 on windows.  when i comiple my program, there are no any warns or errors, however vscode always gives me red error tip, like below:
![image](https://user-images.githubusercontent.com/8075421/38231454-3ab9f708-3745-11e8-82e6-12091a7860cf.png)
my c_cpp_properties.json like below:
![image](https://user-images.githubusercontent.com/8075421/38231503-6bec3340-3745-1

[2018-04-03 07:40] dbaeumer commented on #1391
I added comments to https://github.com/Microsoft/vscode-languageserver-node/issues/305. As said I can't reproduce this using our multi root / multi server example so a little debugging help or and example showing the problem is highly appreciated.

[2018-04-03 07:56] sean-mcmanus commented on #1775
Does adding the compilerPath property and setting it to your mingw compiler fix it? If not, it's a bug, and we'll investigate a repro/fix.

[2018-04-03 08:26] DFVSQY commented on #1775
i have solved this issue by modify c_cpp_properties.json:
![image](https://user-images.githubusercontent.com/8075421/38238104-70a03222-375b-11e8-95bc-076ffa6e978d.png)
I add "__GNUC__=7" to "defines" node, now it's ok.

[2018-04-03 08:50] flixr commented on #1246
I still have the problem that IntelliSense seems to be stuck (red flame never goes away) and there are stale processes around after closing VS Code.
OS: Ubuntu 14.04 x64
VS Code: 1.21.1
cpptools: 0.16.1

[2018-04-03 09:29] #1775 closed, assigned to nobody

[2018-04-03 10:56] flixr opened #1777 "*.cpp not found in compile_commands.json, IntelliSense stuck"
IntelliSense seems to get stuck (red flame still showing, loading, stale processes as in #1246).

I get an error from cpptools that it can't find a CMake generated file in compile_commands.json
[code]

I think that IntelliSense/cpptools should ignore this file, as it is not actually compiled...
But I'm not sure if this actually the cause for IntelliSense being stuck...

OS: Ubuntu 14.04 x64
VS Cod

[2018-04-03 11:15] BillDenton commented on #13
I find that hovering over a local variable shows the definition, but "Go to definition", "Peek Definition", "Go to Declaration", and "Peek Declaration" all show "No definition found for 'variable'". As the hover works, why don't the other ones work? Using:
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:47.128Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Arch

[2018-04-03 13:22] daltairwalter commented on #1058
I still see failures to format fairly regularly, but I now realize that they happen when files are being scanned for problems.  Is this the different issue that you are working on fixing?

[2018-04-03 15:01] puchodr commented on #409
Running VS Code in sudo would be a workaround if it worked. But the real issue is that I can't debug a root-process with VS Code running as a user-process. I have two different setups, Ubuntu and RHEL. Ubuntu seems to handle this scenario properly but VS Code running in RHEL fails to create a terminal.

[2018-04-03 17:49] pieandcakes commented on #409
@puchodr I'll have to see if between @WardenGnaw and I we can try this out on RHEL. That isn't a distro that I've tried the extension on recently.

[2018-04-03 18:06] killerkalamari commented on #1501
Thanks for your work on this!

Unfortunately, it still seems to be a problem, but only with multiple windows (File -> New Window). If I run everything in the same Visual Studio Code window, it seems to work. However, if I run with 2 VS Code windows then changes in the header aren't recognized by the c file in the other window (I put headers on one monitor and c files on the other).

In my original

[2018-04-03 18:18] aabuelenin commented on #1737
I didn't expect it to be faster than the OS calls, I was just thinking that the extreme slowness might be related somehow to the bug reported with atom. I've not noticed that slowness before with other IDEs (i.e. eclipse) or during compilation ... etc. After discovering/parsing is done things work as expected, but just slower (way slower), also, when writing code to a file, sometimes the intellsen

[2018-04-03 18:29] sean-mcmanus commented on #1775
Also, if you set your compilerPath to your gcc compiler, then `__GNUC__=7` should be set automatically, in addition to a bunch of other defines set internally by your compiler, in case you hit any other issues caused by those defines being missing.

[2018-04-03 19:26] apo-egix commented on #1736
i got a similar problem with mingw64

![prclyqq](https://user-images.githubusercontent.com/16270939/38271035-82bf5756-3785-11e8-8745-f1ac9cfbfe28.png)
![rsddamb](https://user-images.githubusercontent.com/16270939/38271036-830b589a-3785-11e8-818f-6d164b9cdfcc.png)

Scene is a custom class.
s_scenes is an instance of std::map.

g++ compiles it without any warning.

[2018-04-03 19:52] sean-mcmanus commented on #1777
The message about a file not being found in your compile commands is "by design" -- however, I think we should change it to be a warning and not an error (should be fixed in our next release, https://github.com/Microsoft/vscode-cpptools/issues/1783).

So far I'm not able to repro any problem with your project. My settings seem to match what you're using.

What file is causing IntelliSense to get s

[2018-04-03 21:00] sean-mcmanus commented on #13
@BillDenton Hover uses results from compiling the current translation unit. We could use the same system to give definitions/declarations for the current translation unit (a relatively small task), but it was decided not do that until we're able to give results for definitions that occur in other translation units (a relatively big task). Obviously, for the local variable case, there's no need to

[2018-04-03 21:09] sean-mcmanus commented on #1058
What do you mean by "failures to format"? Do you mean the format operation has no effect? If there's a red flame in the bottom right, the formatting thread could be blocked by the red flame (IntelliSense parsing). We could make it so the non-IntelliSense operations like formatting aren't blocked by IntelliSense (but IntelliSense-based operations would still be blocked).

[2018-04-03 22:02] sean-mcmanus commented on #1501
I'm not able to repro a bug with 2 VS Code instances -- I see a lag of 5 seconds before the re-squiggle occurs though. We might be able to reduce that lag. Is that what you're seeing? I'm seeing hover results immediately get reflected with the correct results. I have a simple scenario with a single .h/.cpp file, modifying the header. Let me know if the repro requires something more complicated.

[2018-04-03 22:08] sean-mcmanus commented on #1501
Oh, I'm seeing a bug with error squiggles not updating until a file is edited (or closed/opened) when the header is modified. Repros with just 1 VS Code instance. I filed bug https://github.com/Microsoft/vscode-cpptools/issues/1779 to track this issue. The intelliSense engine appears to be updated (i.e. hover works), but the error squiggle request isn't being resent for the file.

[2018-04-03 22:17] sean-mcmanus opened #1779 "Error squiggles don't update after a header file is modified (until an edit or open)"
1. Modify a header file.

Bug: The C++ file that uses the header file doesn't have it's squiggles updated until an edit or (re) open occurs, even though things like hover are updated.

The previous/related issue is https://github.com/Microsoft/vscode-cpptools/issues/1501 .

The bug doesn't repro if the file is active when the header changes (i.e. if the header is modified in one VS Code instance a

[2018-04-03 22:23] killerkalamari commented on #1501
Here's a recreate. Note: I created and saved the files from within VS Code:

test1501.h (open in window 2), create/save this file first:
[code]

test1501.c (open in window 1, the original window), create/save this file second:
[code]

In the above, `b->c` has a squiggle under the `c`, and the tooltip says `struct "<unnamed>" has no field "c"`. This squiggle is visible with a saved test1501.c file.

[2018-04-03 23:14] sean-mcmanus opened #1780 "IntelliSense isn't updated in source files when headers change if the header file isn't open in the source file's VS Code instance"
1. Open a workspace with C/C++ file that includes a header and references code in it, but don't have the header file open.
2. Modify the header file in a different VS Code instance (or external editor).

Bug: The IntelliSense for the source file isn't updated. It is only updated after the externally modified header is opened in the source file's VS Code instance and then the source file is edited

[2018-04-03 23:15] sean-mcmanus commented on #1501
I'm able to repro the problem now. It occurs when the header is modified externally to the current workspace and the header isn't open in the instance that has the C++ file open. I wasn't able to repro it because I had the header file open in the VS instance that had the C++ file open.

I opened bug https://github.com/Microsoft/vscode-cpptools/issues/1780 to track this.

[2018-04-04 00:37] atomlin opened #1781 "Intellisense doesn't show structure members"
Running Extension Version 0.16.1 on Ubuntu
VSCode Version 1.19.3

I run VSCode using directory not workspace.

Intellisense does not seem to restrict itself to the structure I am using.

struct foo {
  int a;
  int b;
} sausage;

if I type sausage.  I get hundreds of suggestions, instead of just a and b.

[2018-04-04 00:48] sean-mcmanus opened #1782 "IntelliSense crash involving contains_source_file when handling a completion request"
Looks like the highest hitting crash with 0.16.1 (regression starting with 0.16.0).

I think we have a fix. Not sure what the repro is though (something involving completion when no translation unit has been created yet).

[2018-04-04 00:58] sean-mcmanus commented on #1781
I'm not able to repro the problem on Linux with 0.16.1 of our extension. If you're getting too many results, it means it's falling back to the Tag Parser and not the IntelliSense engine. Is your intelliSenseEngine set to "Default"? Do you see any messages in the problems window?

You're doing an Open Folder right?

![image](https://user-images.githubusercontent.com/19859882/38283008-4cdb3dca-3768-

[2018-04-04 01:13] sean-mcmanus opened #1783 "<file> not found in compile_commands.json message should be a warning instead of an error"
This is from https://github.com/Microsoft/vscode-cpptools/issues/1777 , but that issue mentioned some other IntelliSense stuck bug so I moved this other issue here.

[2018-04-04 01:14] atomlin commented on #1781
Ok, thanks for the pointer. In the problem window is
file: 'file://xxx.h'
severity: 'Info'
message: '#include errors detected. Please update your includePath. IntelliSense features for this translation unit (/xxx.cpp) will be provided by the Tag Parser.'
at: '5,1'
source: ''
code: 'undefined'
I'll see if fixing that works.

[2018-04-04 01:30] alex-polosky commented on #273
+1
Slow on a project with about 170 files totaling 1.83 MB. Code base is JS and TS.

Edit: I noticed that setting git.enable to false in the settings for the workspace alleviated this issue. I was also having slowdowns using my build tasks. I followed the suggestion in [this thread](https://github.com/Microsoft/vscode/issues/34387) but that did not fix anything either. I remembered that the last g

[2018-04-04 01:36] atomlin commented on #1781
I created a workspace file at the root of the main git directory and added my code folder to the workspace. I added the root of the library (which is also a subfolder of the workspace).
I added                 "${workspaceRoot}/libraries/boost_1_65_1/boost",
to the config file. It still complains, I'll experiment some more.

[2018-04-04 01:42] sean-mcmanus commented on #1781
You can set the intelliSenseEngineFallback to "Disabled" to get completion results even though include files are missing (assuming the definitions don't require the missing include files).

If it's missing system headers, you might want to set your compilerPath.

For project headers, you can generate a compile_commands.json if your build system supports that (such as cmake), or you can add the roo

[2018-04-04 01:53] Karbonyth opened #1784 "IntelliSense shows unnecessary error squiggles"
- Windows 10 v1709
- VSCode Windows v1.21
- Cpptools v0.16.1

VScode was setup to [use Linux headers from the WSL filesystem](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Windows%20Subsystem%20for%20Linux.md) (my properties and settings file are the same as in the link, nothing funky added) as well as the WSL bash. When compiling via bash inside VSCode, no

[2018-04-04 01:58] sean-mcmanus opened #1785 "IntelliSense process crash when parsing C variable length arrays (in scan_function_body + 4256)"
Top hitting IntelliSense parsing crash on Mac, probably Linux too (also repros on Windows, but less frequently). Might just be able to add a null check.

With 0.21.0-insiders, the top of the crashing thread call stack looks like:

Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin
0   scan_function_body + 4240
1   function_definition + 4642
2   scan_nonmember_declaration + 16702
3   declaration + 212

[2018-04-04 02:02] Karbonyth commented on #1784
Additional information:

I forgot to add, using VSCode and Cpptools on Debian (Versions up to date as yesterday, no insider build) doesn't show the errors squiggles.

[2018-04-04 02:04] sean-mcmanus commented on #1784
It could be due to the fact that compilerPath isn't implemented for WSL yet, so the required compiler defines are missing. I'll check if I can repro this and if it's fixed after adding the WSL compilerPath.

[2018-04-04 02:06] #1348 closed, assigned to pieandcakes

[2018-04-04 02:08] sean-mcmanus commented on #1396
The add_expression_to_index crash has been fixed with 0.16.0 -- well, there are still some very rare scenarios where the function can crash, but the high hitting scenario was fixed.

[2018-04-04 02:08] #1396 closed, assigned to nobody

[2018-04-04 02:09] #1639 closed, assigned to nobody

[2018-04-04 02:14] sean-mcmanus commented on #1293
We made it so the explicit defines take precedence over the compiler ones and setting compilerPath to "" completely skips the compiler querying. Let us know if that is not sufficient for your scenario or if you're hitting other bugs still.

[2018-04-04 02:14] #1293 closed, assigned to nobody

[2018-04-04 02:14] #1448 closed, assigned to nobody

[2018-04-04 02:18] sean-mcmanus commented on #1251
Does setting the compilerPath work with 0.16.1 fix this issue for you, assuming you're not using WSL? If that is set, then it'll be used instead of the compile_commands.json command (or it'll use the guessed compiler if no compilerPath is set).

[2018-04-04 02:33] 3v1n0 commented on #1608
I'm still stuck with this issue... I see that in some cases the right compilation rules are used, but then it fails building with no errors (on debug "6").

Without setting the debug flag, I just get the error `Compiler exited with error - No IL available`.

Maybe the easiest workaround for my case would be to have the ability to set a root folder on which rebase all the includes that gcc returns.

[2018-04-04 02:36] Karbonyth commented on #1784
I did not know the existence of "compilerPath".

I installed MinGW with the g++ compiler package, and added the following line to my configuration in the `c_cpp_properties.json` file:

` "compilerPath": "C:/MinGW/bin/g++.exe"`

The error squiggles are no more.

[2018-04-04 02:43] sean-mcmanus commented on #1784
Yeah, on Linux we have code that will auto-add the compilerPath with a guessed compiler, but we haven't added that code to Windows yet, so the compilerPath is not as discoverable on Windows.

[2018-04-04 02:43] #1784 closed, assigned to nobody

[2018-04-04 02:51] sean-mcmanus commented on #1608
@3v1n0 Do you mean a --sysroot option? You should be able to add this flag after your compiler in the compilerPath to get this behavior, although I haven't tested it to be sure.

Multi-folder should work okay.

[2018-04-04 02:54] sean-mcmanus commented on #1575
We haven't added --sysroot parsing to compile_commands.json yet, but as an alternative you might be able to set the compilerPath and add the --sysroot arg , assuming all your files use the same sysroot arg.

[2018-04-04 02:56] imerin commented on #1575
Thanks, that’s what i ended up doing until this is added to the extension.

[2018-04-04 08:34] ivsanro1 commented on #1466
Not fixed yet. Just updated and had to do (again) what @grdowns posted. Hopefully this will get fixed someday.

[2018-04-04 09:12] jianguile commented on #1747
@pieandcakes I don't think OpenDebugAD7 is completely transparent between vscode and MIEngine. Image what will happen to AD7 if vscode sends a "watch memory" command as a new feature, I get an "unrecognize request" when I try this. AD7 implements the interfaces defined in vscode debug protocol, so it doesn't work when only vscode has some new features which AD7 don't know. I haven't find any "comm

[2018-04-04 09:15] unknownv2 commented on #1747
VSCode currently has a form of UI extension through the TreeDataProvider class. Here is an example someone used to implement a Register List: https://github.com/Marus/cortex-debug. By open sourcing OpenDebugAD7, it should be possible to also add views like memory or disassembly instructions using the 'TextDocumentContentProvider' and by adding custom commands through calls to vscode.debug.activeDe

[2018-04-04 09:16] jianguile commented on #1747
@unknownv2  Oh ,I think  AD7 don't support customRequest for now. Or I just don't get a right way to use it ?

[2018-04-04 09:25] unknownv2 commented on #1747
It doesn't at the moment I don't believe, but if it is open sourced, then other people can add custom commands.

[2018-04-04 10:43] ghost opened #1786 "[CPPVSDBG] Debugger truncates long strings when inspecting values"
When inspecting values in the debugger, long strings are truncated, which, for example, makes it impossible to see the rest of this exception message here:

![image](https://user-images.githubusercontent.com/3168386/38302693-3c199dfc-380c-11e8-95b7-bffcb667ca43.png)

The value is also truncated if I right-click the message on the "variables" window and click "Copy Value". The value also gets trunc

[2018-04-04 13:24] bandzaw opened #1787 "Cannot escape strings properly in launch.json's "args" list."
- VSCode Version: 1.21.1
- OS Version: Ubuntu 16.04.1
- C/C++ extension Version: 0.16.1

In order to debug my application I added a launch configuration (version 0.2.0) of type cppdbg. In it, I specify my command line argument that is to be passed to my program I'm about to debug.

The problem I have is that the argument that is received within the program is not the expected command line argument

[2018-04-04 14:30] daldr-ntml opened #1788 "Improve error message for missing ';' at end of class declaration?"
Windows 10
VS Code: 1.21.1
C++ Extension: 0.16.1

Just wondered whether the error message could be improved for this error (missing semi-colon after closing bracket of class declaration)?  Took me a while to work out what was wrong.

![image](https://user-images.githubusercontent.com/7724321/38313749-b05587f2-381c-11e8-865b-e0c11cb4c87b.png)

[2018-04-04 15:28] LordZane opened #1789 "Issues with Qt include path for intellisense"
I have `C:/Qt/5.10.1/msvc2017_64/include` in my include path, and it can't find `#include <QtWidgets>`, which is `C:/Qt/5.10.1/msvc2017_64/include/QtWidgets/QtWidgets` (QtWidgets file in a folder of the same name)

[2018-04-04 15:44] bobbrow commented on #1761
Yeah, IntelliSense only works on the right file because it's passed to the extension with the `file://` protocol

[2018-04-04 15:51] bobbrow commented on #1789
If this is the case, then you either need to add `C:/Qt/5.10.1/msvc2017_64/include/QtWidgets` to your include path, or use `#include <QtWidgets/QtWidgets>` in your code.

[2018-04-04 15:57] grdowns commented on #1466
Hey @ivsanro1, thanks for bumping this issue. We added a setting in v0.16.0 to turn this off from ```settings.json```.

To disable the setting:
1. Navigate to ```settings.json``` via the default shortcut of ```ctrl + ,``` or by using the menu bar ```File > Preferences > Settings```
2. Select ```User Settings``` or ```Workspace Settings``` in the right panel depending on whether you'd prefer the se

[2018-04-04 16:00] LordZane commented on #1789
Weird, I swear ive tried that, but it worked. Thanks!

[2018-04-04 16:00] #1789 closed, assigned to nobody

[2018-04-04 16:15] bobbrow commented on #13
We are tracking the go to definition issue with #255

[2018-04-04 16:21] daltairwalter commented on #1058
Yes, the format operation has no effect.  When I saw this happening today, the red flame was active.

[2018-04-04 16:21] bobbrow commented on #1779
There is a known issue where we won't correctly link `header.h` to `source.cpp` after you type `#include <header.h>`.  Is this what you're seeing?  Closing and reopening `source.cpp` works around the issue.  But the IntelliSense clients don't currently check for new `#includes` after edits are made.

[2018-04-04 16:29] daltairwalter opened #1790 "c_cpp_properties.json is now requiring write access"
The c_cpp_properties.json now requires write access or it will not parse.  I am using the C/C++ extension 0.16.1 and the vscode version:
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:47.128Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

We use perforce and I had to check the file out before it would read correctly.
Without this file checked

[2018-04-04 16:35] bobbrow commented on #1787
Does `"args": ["{\\\"key\\\":42}"]` work?  If not, you should [ask the vscode team](https://github.com/Microsoft/vscode/issues/new) since they own processing the launch.json file.

[2018-04-04 16:36] bobbrow commented on #1787
Sorry, for double-posting.  I made a mistake in my previous response and I have edited it.  There should be 3 backslashes in the string.

[2018-04-04 16:56] bobbrow commented on #1790
In this latest version, we wanted to show customers which compiler we were using to populate the system include path and defines as well as which c++ standard IntelliSense was using.

We haven't added any new settings to the c_cpp_properties.json schema in a while.  But since we are an extension still in preview and are trying to improve the IntelliSense configuration experience, we do attempt to

[2018-04-04 17:51] flixr commented on #1777
Ah, ok. Yeah, changing it to a warning or even info with a note that this is deliberately ignored would be nice.

No idea. I'm having this problem with a lot of projects... I just thought I'd pick a rather simple and public one for demonstration.

I had the engine switched to `TagParser` in the meantime (which worked), going back to `Default` I now don't see the red flame anymore. But e.g. putting

[2018-04-04 21:12] sean-mcmanus commented on #1788
I'm not reproing that error message. In normal conditions, we do show "expected a `;`". I believe the issue is the code the comes after the class is causing it to be parsed in some strange way. Can you provide that code so we can see the repro? Or maybe the code beforehand could be causing this as well...supposedly some could with the "inline" modifier?

![image](https://user-images.githubusercont

[2018-04-04 21:14] sean-mcmanus commented on #1785
We're trying to find a repro in order to fix the root cause, so if anyone has code that uses C with variable length arrays and are hitting this IntelliSense crash then please let us know.

[2018-04-04 21:25] sean-mcmanus commented on #1761
No, it doesn't work on the right file. This is for staged changes, which don't use the file://. Unstaged changes work on the right.

[2018-04-04 21:28] sean-mcmanus commented on #1779
No, that's not the issue I'm seeing. The repro is not with newly added #includes.

[2018-04-04 21:38] sean-mcmanus commented on #1790
Is checking the file out, letting the extension modify the file, and then checking the changes back in a workaround? We try to add cppStandard and cStandard values, but I don't think we do that repeatedly if they're already there. On Linux/Mac we try to add compilerPath if a default is found.

But we could add code to check if the file isn't writeable too.

[2018-04-04 21:47] arcanis commented on #1718
It's still there in the 0.16.x releases - do you know whether it will be fixed for the 0.17 ?

[2018-04-04 21:54] sean-mcmanus commented on #1777
"Loading..." means our main process is stuck for some reason (F12 not working means the same thing). The usual culprit is the red flame, but if that's not there, then it's something else. On Linux, you can attach a debugger (i.e. using VS Code, launch.json, gdb attach config, setting the "program" to be `/home/<user>/.vscode/extensions/ms-vscode-cpptools-<version>/bin/Microsoft.VSCode.CPP.Extensio

[2018-04-04 22:05] sean-mcmanus commented on #1718
It sounds like the remaining issue is with the `@CMakeFiles/prompto-core.dir/includes_CXX.rsp`. I'm not sure yet when we'll add support for that.

[2018-04-04 22:08] gregcoombe commented on #1689
I've noticed the same issues with bazel (also fixed by restarting). VS Code 1.21.1 with C/C++ 0.16.1

You mentioned dangling processes, I appear to have a bunch
`$ ps -A | grep IntelliSense | wc -l
      75
`

Pure speculation: one of the culprits might be that bazel manages a lot of files behind the scenes as soft-links. For third-party precompiled packages that are downloaded and unpacked, these

[2018-04-04 22:42] sean-mcmanus opened #1791 "Edit Configuration isn't available for additional workspace folders until a C/C++ file is opened from that folder"
No users have complained yet and there's an easy workaround, so it seems low priority.

Other language service operations for the additional workspace folder may also not work (not sure).

I hit this after adding a 2nd workspace folder, not sure if repro if the 2nd folder already exists in the workspace.

[2018-04-04 23:54] sean-mcmanus opened #1792 "Go to Definition fails with additional workspaces if a previous workspace name starts with the same string sequence"
Folders: SampleClangProject and SampleClangProject2 -- "SampleClangProject" matches the start of "SampleClangProject2" causing Go to Definition to fail. Formatting also fails (giving results of []), but even when this bug is fixed and formatted results are returned, formatting fails due to another bug.

This also caused IntelliSense to fail for newly created files.

Found as a result of https://gi

[2018-04-05 00:10] #1792 closed, assigned to nobody

[2018-04-05 00:45] pieandcakes commented on #1772
Because it is a `pipe` communication, there isn't a way to do it currently.

You can try and use an input file and an output file, but I don't think we have a solution for this yet.

[2018-04-05 00:46] pieandcakes commented on #1747
Like I said above, there isn't a plan to open source OpenDebugAD7. If there is a protocol change you would like us to support, please add an issue here with the protocol item and we can consider it.

[2018-04-05 00:49] pieandcakes commented on #1743
This is a duplicate of #35. Please upvote that issue.

[2018-04-05 00:49] #1743 closed, assigned to nobody

[2018-04-05 01:13] pieandcakes commented on #1786
@aleksijuvani I assume you are using `gdb`. This looks like the default setting for `gdb` which is 200 characters. You can add a command to increase it to unlimited by using `set print elements <size>` where `size` is the number of elements and `0` being `unlimited`.

So in your `launch.json`, add the following block to the `"setupCommands":` array:
[code]
to make it unlimited.

[2018-04-05 01:15] pieandcakes commented on #1787
What @bobbrow says is correct. You need to escape the escape character and then escape the quote so that the escaped quote is passed to the commandline.

[2018-04-05 01:37] Chunting commented on #116
Hi,
How can I access the env or args variables in C++ in my program?
For example, I want to access args[1] in my code or "name": "sceneFile", how can I make it happen?
![image](https://user-images.githubusercontent.com/3312409/38343148-49ff7a24-3850-11e8-9d3f-7ecdc6660366.png)

Thanks,
Chunting

[2018-04-05 01:52] sean-mcmanus commented on #1753
Adding -stdlib=libc++ to the compilerPath fixed this for me, so I'm going with "by design" for now. So if anyone is using that to compile with, they should be sure to add it -- we don't automatically add that from compile_commands.json yet.

[2018-04-05 03:42] sean-mcmanus commented on #1736
@papb Good new -- I'm able to repro the bug. I'm able to fix it via adding #include <stddef.h> to the top of the file. I haven't figured out yet why that matters, but I believe it's because required compiler defines are missing (which are added in stddef.h when not passed in via the compiler), and the Cygwin gcc compiler doesn't accept "nul" as input, so the compilerPath feature fails to work for

[2018-04-05 03:45] pyrrho commented on #1790
Having hit a similar issue, I considered checking the automatically generated changes into git, but not knowing how it will interact with different compiler paths across different computers gives me pause. I've had to switch back and forth between my system clang and a locally-built copy of GCC a fair few times now, so I'm not actually sure that workaround will work for me locally, long-term.

Eve

[2018-04-05 04:16] AlbertDu commented on #1768
I hv the same problem --- all the vectors are "size=0"  in the "local variables"

[2018-04-05 05:06] ivankravets commented on #1293
Thank you very much for your work. I personally appreciate it. I will switch later our users to the new features. I already opened issue for that.

So, I’ll open a new issue when find a problem.

[2018-04-05 06:45] 3v1n0 commented on #1608
Mh, that seem to give some results in a project, thanks.

[2018-04-05 06:50] jhasse commented on #116
Just as you would with normal environment variables (`getenv`) or program arguments (`argv`).

[2018-04-05 07:20] #1747 closed, assigned to WardenGnaw

[2018-04-05 09:21] flixr commented on #1777
It seems to happen with every file/variable, e.g. `discover.cc` variable `req_nums_`.
Since it seems to be working for you and I have the same problem with basically every project, I rather guess that it might be due to some file in my include path or something like that.

Two callstacks that might be interesting:
[code]

[code]
the others basically wait on conditions/wait for events.

[2018-04-05 09:21] ghost commented on #1786
@pieandcakes Sorry, I forgot to mention this. I'm using the `cppvsdbg` debugger.

[2018-04-05 09:24] daldr-ntml commented on #1788
Hi Sean, yes it seems to be the code coming afterwards. Perhaps my syntax is incorrect but I don't believe so. Here is the rest of the code:

![image](https://user-images.githubusercontent.com/7724321/38357827-9043fa26-38bb-11e8-91a7-8e30d82b1f37.png)

[2018-04-05 09:50] flixr commented on #1777
Some other callstacks, just in case...
[code]
[code]
and two with:
[code]

[2018-04-05 10:16] flixr commented on #1777
Update:
It might be a problem with the database or something like that...
I stopped vscdoe, removed  `~/.config/Code/User/workspaceStorage` completely, killed the stale processes and restarted vscode. That seemed to work (no "Loading..." after red flame was out and database update finished) and closing vscode also left no stale processes anymore.

But starting it again (so with a new/existing data

[2018-04-05 10:57] bandzaw commented on #1787
Yes it works with three backslashes. Thanks!

I guess there are some intermediate layers that absorb the extra backslashes. That is of course ok, but that is not obvious and should IMHO be clarified in documentation.

[2018-04-05 12:51] ghost commented on #1790
I also hit an issue with VS Code repeatedly updating the `c_cpp_properties.json` file if it didn't contain the `cppStandard` and `cStandard` fields.

This kept me from using certain git commands while VS Code was open (because the working tree wasn't clean). If I stashed the changes to this file, VS Code would just add them back.

As a workaround I just ended up committing the changes to the repo,

[2018-04-05 13:26] akoeplinger commented on #1790
I'm hitting this file being modified now as well and while checking in the `cppStandard` and `cStandard` fields sounds OK doing the same for `compilerPath` does not as it can be different on other machines.

@sean-mcmanus is setting `"compilerPath": ""` a good workaround or does it have unintended implications?

[2018-04-05 15:29] weswitt commented on #679
Not sure what the expectations are for the current build, but on vscode 1.21.1 & Ubuntu 16.04 the c_cpp_properties.json is wrong. Would be nice if the default had the correct paths.

[2018-04-05 18:59] pieandcakes commented on #1787
@bandzaw I created a PR for the doc change. Can you see if that is clear enough for you?

[2018-04-05 21:13] kbumsik commented on #1772
Thank you for the answer. So do you think there is no way to debug ELF-compiled program with an external terminal currently, I mean on Windows?

[2018-04-06 00:19] schultetwin1 opened #1795 "-D__FILENAME__=\\\"filename.c\\\" in compile_commands.json is not parsed properly"
We use cmake to generate a \_\_FILENAME\_\_ definition for each file that is passed into the command line. \_\_FILENAME\_\_ is the same as \_\_FILE\_\_ without the full path. In compile_commands.json this will show up in the command as -D\_\_FILENAME\_\_=\\\\\\\"filename.c\\\\\\\".  The first backslash escapes the second backslash and the third backslash escapes the ". This is so that on the comma

[2018-04-06 00:50] atomlin commented on #1781
Just to circle back. Your help got me going. Opening code at the parent directory resolved the issue. I was then able to use the lightbulb to add the extra directories. Intellisense now works. Cheers Andy

[2018-04-06 00:50] #1781 closed, assigned to nobody

[2018-04-06 05:10] bandzaw commented on #1787
Most excellent @pieandcakes!

[2018-04-06 05:10] #1787 closed, assigned to nobody

[2018-04-06 10:15] esmirnov commented on #886
Hello,
The issue is still there.
Version 1.22.0 (1.22.0) 6b4d53cdab8bcae1eaaa4934d93c077319b573db 2018-04-05T17:18:47.912Z
![screen shot 2018-04-06 at 13 11 37](https://user-images.githubusercontent.com/576417/38416116-67be4b4c-399c-11e8-8adc-c185c5e1aad4.png)

"intelliSenseMode": "clang-x64"
"compilerPath": "/usr/bin/clang",
"cStandard": "c11",
"cppStandard": "c++17"

[2018-04-06 13:05] fellowseb commented on #1700
Had the same issue with a basic MinGW32 setup (no VS2017) and providing the compilerPath option did the trick.

[2018-04-06 13:37] mgr-inz-rafal commented on #1644
Hi!
I see the issue is closed, but I promised you feedback, so here it is.

After updating extension to 0.16.1 I can see debug info in the console:
[code]

That clearly indicates problem with my "C_Cpp.clang_format_path" config, which is now solved.

Thanks!
Formatting works perfectly.

[2018-04-06 13:53] esmirnov opened #1796 "Add to "includePath" support for paths relative to the current opened file path"
In my project many components are composed in following structure:
[code]
in Component.cpp
```#include "Component.h"```
Each file in component can include files from the same component without specifying path from the root.  I can't find a way to specify include path for this scenario.
Thank you!

[2018-04-06 17:23] apo-egix commented on #1736
@sean-mcmanus if i add `#include <stddef.h>` before `#include <map>` it resolves my issue aswell

[2018-04-06 18:48] aaravpandya commented on #1232
faced the same problem. VS Code showed "there is no formatter for cpp-files installed.". Nothing worked(reinstallation, deleting appdata, above fixes) until i noticed that i had paused installation of vs 2017 in its installer. completed the installation and it started working fine.

[2018-04-07 00:10] zajo opened #1797 "Intellisense error in implicit conversions in case of multiple inheritance"
I have:

[code]

Later on:

[code]

Intellisense incorrectly reports an error at the `return` line, I'm guessing because it doesn't understand that `class module_impl` derives from `class module`:

[code]

The syntax highlighting also seems wrong, notice that the second `public` doesn't light up:

![image](https://user-images.githubusercontent.com/609498/38448929-99828348-39bd-11e8-9a98-7b464acc5d

[2018-04-07 10:23] huww98 commented on #1795
I have the same problem with my ros project.

`compile_commands.json` contains something like `-DROS_PACKAGE_NAME=\\\"my_package_name\\\"` and VSCode show errors on every rosconsole calls (like `ROS_FATAL("some message.");`). If I change it to  `-DROS_PACKAGE_NAME=\"my_package_name\"`, then everything works.

[2018-04-07 18:55] Miszo97 opened #1798 "Add completion list filter options"
**Version 1.22.1 (1.22.1)**

I erased all paths to headers from c_cpp_properties.json. Even then IntelliSense gives me a completion suggestions. You can note that I didn't also write any `#include`.

![screen shot 2018-04-07 at 20 41 09](https://user-images.githubusercontent.com/22355021/38459032-e2e5dbd8-3aa4-11e8-91ee-93df1ccbfccc.png)

When I write `#include<iostream>` then it gives me suggesti

[2018-04-07 20:11] galah92 opened #1799 "Intellisense not working on WSL after Windows & VSCode updates"
* Windows 10.0.17133 build 17133
* VSCode 1.22.1
* C/C++ extension 0.16.1

I've been using VSCode & WSL for a bunch of C & C++ projects in the past weeks - it was a great success.
I has a Windows update today along with a VSCode update, and it broke my intellisense.

I followed [the following](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Windows%20Subsystem

[2018-04-07 20:24] caiofcm opened #1800 "Break point for "All Exceptions""
Is there an option to automatically stop the debugger at an exception, such as used in others vscode debuggers (option for "All Exceptions"at the breakpoints panel ) ?

I could not find anything related to it in the documentation.

[2018-04-08 01:21] AlbertDu commented on #1768
@Lillers hv u fixed that now?

[2018-04-08 09:01] summershrimp opened #1801 "Failed to debug qemu."
OS: Windows 7
VSCode: 1.22.1
C/C++: 0.16.1
git-for-windows: 2.10.2 (from vs 2017)
Remote: Ubuntu 14.04
Remote gdb: 7.7.1
Here is my debug configuration:
[code]

If I directly run  `"c:\program files\git\usr\bin\ssh.exe" yhk "gdb --interpreter=mi"` from Win + R , it will go into gdb shell. But run through vscode will stuck, and there will be a progress bar rolling under the run button inside debug

[2018-04-08 09:17] summershrimp commented on #1801
Change to plink.exe won't fix this.

[2018-04-08 18:30] Blealtan opened #1802 "Headers from WSL unrecognizable when includePath set correctly"
When setting includePath to paths from Windows Subsystem for Linux, the headers in it aren't recognized and causes errors like `cannot find source file "stdio.h"`.

To reproduce, use the following `c_cpp_properties.json` with the user name and WSL system directory name replaced:

[code]
Then create a new C source file, add `#include <stdio.h>`, error occurs.

The file `stdio.h` does exist under sp

[2018-04-09 00:16] aigolang commented on #1700
@fellowseb Hi, could you please tell me how do you resolve it?

[2018-04-09 00:59] summershrimp commented on #1801
after change `"pipeArgs": ["yhk"],`, it said that 'unable to start debugging'
[code]

[2018-04-09 10:02] dirkseidel commented on #1348
Now everything seems to be fine. Thanks!

[2018-04-09 11:19] fellowseb commented on #1700
@lovingjo Hi. I just followed @sean-mcmanus's advice:

So I added the following line to my Win32 configuration in the c_cpp_properties.json file:
`"compilerPath": "C:\\MinGW\\bin\\g++.exe"`
I use the insiders version BTW.

[2018-04-09 13:29] cmh1027 opened #1803 "cannot open source file "corecrt.h" (dependency of "iostream")"
Hello. I submitted a issue a long ago because auto-completion didn't work.  And I fixed it today by making another windows account.  (It might be caused by my account folder name, which is not an English word)
However, I faced another error and maybe it is related to the path configuration but both are identical.
I'm using gcc 7.2.0. thanks.

![default](https://user-images.githubusercontent.com/22

[2018-04-09 13:35] cmh1027 commented on #1803
Well.. It just suddenly works. Sorry for submitting the hasty issue

[2018-04-09 13:35] #1803 closed, assigned to nobody

[2018-04-09 13:39] cmh1027 commented on #1560
It seems that this error is because of extended characters (unicode, like Korean or Japanese, Chinese words etc) in the path. I just solved this by making another English-name Windows account and working in that account.  I hope for this bug to be fixed soon.

[2018-04-09 14:51] bobbrow commented on #1736
You could also add `c:/path/to/stddef.h` to the `forcedInclude` array in **c_cpp_properties.json** so that you don't have to edit your source files.

[2018-04-09 16:54] bobbrow commented on #1790
Setting the compiler path to `""` turns off the system include and preprocessor symbol discovery logic.

However, a feature I am working on may provide the solution.  We're going to add VSCode settings for all of the properties of c_cpp_properties.json so that you can set default values for them and not need to set them in c_cpp_properties.json anymore.  I'm working on the writeup for this which I

[2018-04-09 16:59] akoeplinger commented on #1790
@bobbrow sounds good but I think there needs to be a short-term fix for this is well, e.g. what you mentioned in https://github.com/Microsoft/vscode-cpptools/issues/1790#issuecomment-378670849

[2018-04-09 18:03] killerkalamari commented on #1733
@davydden In the meantime, consider the "TODO Highlight" extension. It works quite well for me. Here's a sample configuration:

[code]

[2018-04-09 18:33] killerkalamari opened #1805 "Option to enforce C99 removal of implicit function declarations"
One of the changes in the C99 standard is the removal of implicit function declarations. Previously, if a function was called without being previously defined, it was assumed to be "int _NAME_()". I'm requesting some way to enforce the C99 standard during error detection so it no longer accepts these implicit function declarations as valid.

Having the option to enforce this C99 change would be su

[2018-04-09 19:44] bobbrow commented on #1790
Absolutely, though I think both of these will come out in the same release (the next one).  I'll mark it for the same milestone so I don't lose track of it.

[2018-04-09 19:54] WardenGnaw commented on #1800
This is currently not implemented due to GDB /MI having no support for exceptions.

From: https://github.com/Microsoft/MIEngine/blob/d2966de86bbde2743442c220f2054a9dc3b14a5c/src/MICore/CommandFactories/MICommandFactory.cs#L557

[2018-04-09 20:13] WardenGnaw commented on #1800
@caiofcm What OS are you on and what you are debugging?

[2018-04-09 20:58] sean-mcmanus commented on #1391
@azydevelopment I tried the latest VS Code Insiders (1.23.0, not 1.22.1) and multi-root formatting is working. If one of your workspace's folder names ends with a subset of another (e.g. "folder" and "folder1"), then you'll hit another bug (https://github.com/Microsoft/vscode-cpptools/issues/1792 ).

[2018-04-09 20:58] #1391 closed, assigned to nobody

[2018-04-09 21:00] azydevelopment commented on #1391
Thanks a lot guys! I've been pretty excited to use this forever.

Edit: Confirmed working :)

[2018-04-09 21:51] bobbrow commented on #1777
Based on the callstacks this doesn't look like a database problem.  This looks like either a deadlock in the IntelliSense client lookup/creation, or the IntelliSense server is hung and not responding to messages from the extension.

[2018-04-09 22:19] sean-mcmanus commented on #1805
cl/clang/gcc all allow implicit function declarations in C99+ and just emit a warning (even though the spec says otherwise), and warnings are not something we display because our parser doesn't work with #pragma warning disabling, so getting warnings to be showable is not something that will be implemented any time soon (VS 2017 doesn't support it).

[2018-04-09 22:48] bobbrow commented on #1802
May be a duplicate of #1694.  I haven't had a chance to try this out on a more recent Windows Insider build than the one mentioned in that issue.

[2018-04-09 22:50] bobbrow commented on #1799
Looks like another duplicate of #1694.  I haven't installed this Windows Insider build yet, but it appears to be causing problems with the extension.

[2018-04-09 22:51] #1799 closed, assigned to nobody

[2018-04-09 23:00] bobbrow commented on #1798
Based on what you've shared, this is expected.  For screenshot #1, your compiler defines all of these symbols by default (note that "File: " does not show a file... we should probably make this more clear that the compiler defined the symbol).  For screenshot #2, pthread.h is being pulled in by a dependency of iostream so it is actually available to you.

[2018-04-09 23:11] bobbrow commented on #1796
I'm not sure I understand exactly what you're asking, but if this folder structure is in your workspace folder, you should be able to click on `"Component.h"` in your source file and a lightbulb will appear.  Click on that lightbulb and it should give you the option to add `Component/` to the include path.

You wouldn't want to do `#include "../Component.h"` because that would require you to add `

[2018-04-09 23:13] bobbrow commented on #1795
Thanks for reporting this.

[2018-04-09 23:22] sean-mcmanus commented on #1795
I hit this myself last week (from the repro project in https://github.com/Microsoft/vscode-cpptools/issues/1777 ), but I didn't realize it was a bug.

[2018-04-09 23:35] bobbrow commented on #1795
I'm testing a fix for this right now.

[2018-04-09 23:43] ismadelgad11 opened #1808 "Error code: Code language not supported or defined."
* C/C++ extension version
hello I'm having some problems running my C++ code on Visual Code in Mac.
Im having trouble setting up c++ on code, i already add the extension of c++ and still having error code.

Here are some screenshots I took.
![screen shot 2018-04-09 at 2 21 43 pm](https://user-images.githubusercontent.com/36654490/38528566-ec9c57d8-3c25-11e8-8d45-098baa122a3f.png)
![screen shot 201

[2018-04-09 23:49] sean-mcmanus commented on #1808
You should save your file with a .cpp extension -- it's currently "Untitled-1". You could also try changing the "Plain Text" in the bottom right to "C++".

[2018-04-09 23:54] ismadelgad11 commented on #1808
silly me, thank you! 👍 👍 👍

[2018-04-10 01:16] schultetwin1 commented on #1795
Awesome, thank you!

[2018-04-10 01:49] sean-mcmanus commented on #1736
@papb We figured out how to get compilerPath to work with Cygwin, so we expect it to be available in our next release (it's very similar to the WSL case in that the Cygwin bash.exe needs to be called first and the "/usr" output converted to Windows paths). UPDATE: I got it working using `C:\\Cygwin64\\bin\\clang-5.0.exe` and `C:\\Cygwin64\\bin\\gcc.exe` without needing to call into bash...expected

[2018-04-10 03:48] lwbaptx opened #1810 "it cannot Intellisense some funtion with macro"
click ctrl+p+@   it cannot Intellisense  the test() function

![default](https://user-images.githubusercontent.com/6505129/38538818-0559a26a-3cc8-11e8-81ce-6694bbbf776e.PNG)

here is my code

[code]

here is my c_cpp_properties.json

[code]

[2018-04-10 06:11] esmirnov commented on #1796
Hello Bob,
That is exactly what I want to avoid. There are hundreds components. I wouldn't want to add all of them to include path. More detailed example,
[code]
If Component1.cpp needs Component1.h (header from the same component) then it includes it as
```#include "Component1.h"```
If Component1.cpp needs Component2.h then it includes it as
```#include "Component2/Component2.h"```

If there is a

[2018-04-10 09:11] alekseyt opened #1811 "C/C++ extension in VirtualBox"
OS:

* Host OS: Ubuntu 14.04.5
* Guest OS: Linux localhost.localdomain 4.15.15_1 #1 SMP PREEMPT Wed Apr 4 08:48:06 UTC 2018 x86_64 GNU/Linux (Void Linux)
* VirtualBox: 4.3.36_Ubuuntu r105129

vscode:

* Version 1.21.1
* Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
* Date 2018-03-14T14:46:30.761Z
* Shell 1.7.9
* Renderer 58.0.3029.110
* Node 7.9.0
* Architecture x64
* C/C++ extension: 0.16.1

No

[2018-04-10 09:40] Miszo97 commented on #1798
@bobbrow Is there a way to tell clang or LSP not to pull these unnecessary headers. If I know I won't be be using symbols from these headers I don't want to have these superfluous completion candidates.

[2018-04-10 10:50] conradyuu opened #1812 "In launch.json debugServerPath always be type string，It can't work on PowerShell"
CPUs | Intel(R) Core(TM) i5-6400 CPU @ 2.70GHz (4 x 2712)
-- | --
Memory (System) | 19.94GB (14.97GB free)
Process Argv | F:\Program Files\Microsoft VS Code\Code.exe
Screen Reader | no
VM | 0%

include-autocomplete | ajs | 0.0.4
-- | -- | --
rtf | ale | 0.3.0
bracket-pair-colorizer | Coe | 1.0.27
tslint | eg2 | 1.0.28
CppSnippets | har | 0.0.13
vscode-cudacpp | kri | 0.1.1
cortex-debug | mar | 0.1

[2018-04-10 12:42] caiofcm commented on #1800
I am on Debian/Ubuntu, and my goal was to debug c++ executable applications with gcc/gdb.

[2018-04-10 17:23] knetworx commented on #361
This issue keeps being closed because "these other issues are the same", but all those other issues were closed because this issue is the same. Every issue I can find about this is closed, but none of them are actually resolved - each one just references the other closed issues. And most of them have a reference to themselves as a matching issue. For example, @BillDenton referenced issue #361 in t

[2018-04-10 18:21] pieandcakes commented on #1812
@conradyuu What does PowerShell have to do with this? I keep seeing you mention PowerShell but i'm not understanding what the PowerShell change has to do with this scenario?

[2018-04-10 18:22] pieandcakes commented on #1811
@alekseyt Can you make sure you have at least 2 processors assigned to your virtual box instance?

[2018-04-10 18:23] pieandcakes commented on #1808
@ismadelgad11 Closing this issue as it looks resolved. Please reopen/comment if that isn't the case

[2018-04-10 18:23] #1808 closed, assigned to nobody

[2018-04-10 18:26] pieandcakes commented on #1801
@summershrimp Why is your launch.json have `"sh", "-c"` if your command line doesn't?  what happens if you remove it? Also, can you try and specify the full path to gdb in your `debuggerPath`? This *should* be `/usr/bin/gdb`.

[2018-04-10 18:50] alekseyt commented on #1811
Yeah, i have exactly 2 CPUs assigned:

[code]

I was fiddling with it trying to find more info, it appears that spawned processes multiply when i restart vscode (not a reload, but hard restart: close vscode, start vscode):

[code]

Start, repro, close:
[code]

Start, repro, close:
[code]

Number of processes seems to grow too when i reload vscode from ctrl+shift+p menu:  Reload Window. This is wha

[2018-04-10 18:51] sean-mcmanus commented on #1810
This is "by design" and repros with VS 2017 as well -- the solution is to add a cpp.hint file with ```#define __foreach(Iterator,Container) ``` . Details on hint files can be found at https://msdn.microsoft.com/en-us/library/dd997977.aspx .

Doing this is required whenever a macro is followed by {, because it messes up our symbol parser (it interprets the macro as starting a new global function sc

[2018-04-10 18:51] #1810 closed, assigned to nobody

[2018-04-10 19:04] sean-mcmanus commented on #1796
This should be fixed after we implement recursive includes.
If you can generate a compile_commands.json (i.e. via cmake) that would be another workaround.
Did you have another idea for a solution? Automatically adding the parent path to the include path seems too unusual to do.

[2018-04-10 19:10] antnsi commented on #286
Sorry, but was it actually fixed in 0.16.1? I just reinstalled plugin and still have same problem. I tried with no success `"C_Cpp.intelliSenseEngine": "Tag Parser"` and `"C_Cpp.workspaceParsingPriority": "low"`.

<img width="614" alt="screen shot 2018-04-10 at 21 57 16" src="https://user-images.githubusercontent.com/15607374/38577654-387f4a4a-3d0a-11e8-85e2-f7bd42eec7e7.png">

[2018-04-10 19:11] pieandcakes commented on #1811
@bobbrow or @sean-mcmanus might have to see if they can repro and debug it.

[2018-04-10 19:13] sean-mcmanus commented on #1811
Is changing the "intelliSenseEngine" to "Tag Parser" a sufficient workaround? It could be we don't work on that particular OS or it could be a more general deadlock/race condition.

[2018-04-10 19:28] pieandcakes commented on #1811
@sean-mcmanus they are running Ubuntu 14.04 in Virtual box (which is like Hyper-V, a virtualization platform).

[2018-04-10 19:33] sean-mcmanus commented on #1777
The threads are blocked on the IntelliSense operation "contains_source". It looks like Microsoft.VSCode.CPP.IntelliSense.Msvc.linux is stuck -- if you could attach a debugger and report any suspicious stuck threads that could help. The includePath setting is ignored when compile commands is used, so the only difference would be the /usr/bin/c++ which is queried for compiler includes/defines -- wha

[2018-04-10 19:34] alekseyt commented on #1811
This fixed it, no more "Updating intellisense" icon, no more dangling processes. I thought i tried every option to disable intellisense, but apparently i didn't. Thank you very much.

Yeah, whatever. Please let me know if you need any additional info for debugging this. I'm going to close this because my original issue was fixed with workaround and it now works as expected.

[2018-04-10 19:34] #1811 closed, assigned to nobody

[2018-04-10 19:37] alekseyt commented on #1811
@pieandcakes sorry, maybe i didn't report this issue clearly, i'm running Void Linux in virtualbox, virtualbox is running on Ubuntu 14.04. Here is VM options i'm using:

![screenshot from 2018-04-10 22 35 46](https://user-images.githubusercontent.com/993454/38579427-9f43141e-3d0f-11e8-8015-5279dac02ee2.png)
![screenshot from 2018-04-10 22 35 52](https://user-images.githubusercontent.com/993454/385

[2018-04-10 19:38] pieandcakes commented on #1811
@alekseyt Ah. that's good to know. Thanks for the clarification.

[2018-04-10 20:12] sean-mcmanus commented on #1798
The "unnecessary" headers/symbols might be needed for iostream to compile correctly. However, we could add an option to exclude completion results from compiler-based (or non-workspace?) sources in the global scope. This wouldn't really work for C where all the library functions are in the global scope, but for C++, you could still get completions for things in std.

UPDATE: I moved part of the is

[2018-04-10 20:35] sean-mcmanus opened #1813 "std::scanf appears in global completion results even though it isn't defined in the global scope"
On Linux, with _GLIBCPP_USE_NAMESPACE defined, "std::scanf" appears in the completion results for "scanf" even though scanf isn't in the global scope. See the screenshot. Seems like a bug with the completion code, not sure if this is a wide spread problem or a special case.

![image](https://user-images.githubusercontent.com/19859882/38582201-dd8d3df4-3cc3-11e8-8e99-7128453c7d1a.png)

[2018-04-10 21:26] sean-mcmanus commented on #286
@antnsi It was fixed in 0.14.6 in January. You could be hitting a new/different bug with the same symptom. I'm not aware of any other users hitting this yet. Can you create a new issue with more repro details, such as what it says when you hover over the database icon in the bottom right? If there's no database icon, does it repro after opening a particular file? Our parser could be stuck in an in

[2018-04-10 23:53] WardenGnaw commented on #1800
@caiofcm Since there is no support in GDB via MI, there is no current way to support it. However, there is a work around by using the `catch` mentioned in the comment above. This will only catch the exceptions you specify. You can do this by adding `-interpreter-exec console \"catch throw <INSERT-EXCEPTION>\"`

[2018-04-11 00:46] summershrimp commented on #1801
@pieandcakes  Yes, I've alreday tried remove `sh -c` from launch.json, and that works with 'hello world' program. But when I want to debug qemu, It still can't  go into debug mode. It seems that cpptools cannot parse these lines:
[code]

[2018-04-11 02:16] tiansin opened #1814 "The display is not defined"
System: Win10 1703

![3](https://user-images.githubusercontent.com/4232281/38593024-e847e902-3d71-11e8-96a9-ddcd17f4d5f8.png)
![2](https://user-images.githubusercontent.com/4232281/38592887-38567f54-3d71-11e8-8f00-8a0b4bc4d3b0.png)
![1](https://user-images.githubusercontent.com/4232281/38592890-3be88ab8-3d71-11e8-930d-6bb0b7226ca9.png)

[2018-04-11 02:39] bobbrow commented on #679
@weswitt, what defaults are you getting?

[2018-04-11 02:43] bobbrow commented on #886
This is currently expected.  If you fix the `#include` problems with the source file you grayed out in your screenshot, the squiggle will go away.  In a future release we won't try to guess a matching source file to use as the translation unit.

[2018-04-11 02:55] bobbrow commented on #1797
I can reproduce your issue in Visual Studio 2017, and we use their IntelliSense engine, so I will send this bug to them.

The syntax highlighting issue may be related to https://github.com/atom/language-c/issues/81.  I would recommend adding your case there.

[2018-04-11 03:02] bobbrow commented on #1798
We talked internally about exposing a setting that would let you filter out the compiler's default defines.  Excluding stuff coming from outside the workspace wouldn't work since we expect pretty much all of the system headers to live outside the workspace (e.g. STL).  And if you're coding for Win32, pretty much everything in the WinSDK is in the global scope.

We could also add a setting that tur

[2018-04-11 03:05] aigolang commented on #1700
@fellowseb Thank you, I add the path as following, but still got the error.
            "name": "Win32",
            "compilerPath": "C:/mingw-w64/i686-7.2.0-posix-dwarf-rt_v5-rev1/mingw32/bin/g++.exe",
            "includePath": [ ...

[2018-04-11 03:12] bobbrow commented on #1560
I'm going to reopen this issue so we don't lose it.

[2018-04-11 03:19] CharlesJu1 opened #1815 "Add support for __int128_t and __uint128_t"
I am using VS Code wiht C++ extension on Ubuntu 16.04 to navigate code.  IN the following code, I got a red wiggle under print saying

print is defined in eosiolib/print.hpp which is in /usr/local/include which is in the includePath and browse path in c_cpp_properties.json.  When I do "go to definition on "print" , it takes me to a definition of print in boost library which does not match the sign

[2018-04-11 03:45] bobbrow commented on #1814
Can you share the source file for `papapa.cpp`? Do you have a **c_cpp_properties.json** file in the `.vscode` folder that you can share?

[2018-04-11 04:04] bobbrow commented on #1815
Are you building a 32-bit application?  I was pretty sure that sizeof(long) == 8 and sizeof(int) == 4 for 64-bit linux applications.  We only expose 64-bit IntelliSense modes right now (`msvc-x64` and `clang-x64`) but will be supporting more flavors in the future.  I wouldn't expect this static_assert to succeed with the current set of modes, but it shouldn't prevent the subsequent methods in the

[2018-04-11 04:54] tiansin commented on #1814
I may know what the reason is, which is caused by the encoding of the file. The project was generated using Visual Studio 2017.
![1](https://user-images.githubusercontent.com/4232281/38596976-53c8155c-3d87-11e8-916a-9c5993205b8c.png)
I will change the file encoding to UTF-8,This error disappeared.

[2018-04-11 05:01] tiansin commented on #1814
It turned out that this is the cause of the error. @bobbrow

![gif](https://user-images.githubusercontent.com/4232281/38597141-629c3f44-3d88-11e8-833d-d890fb4e3765.gif)

[2018-04-11 05:52] bobbrow commented on #1814
Something else seems to be interfering.  `va_list` is defined by simply including `<windows.h>`, so I don't understand why you would get a squiggle for it and why adding something else before that `#include` has an effect:

![image](https://user-images.githubusercontent.com/12818240/38598541-99d88c82-3d11-11e8-91e1-b70f241ad919.png)

Do you have any other C++ extensions installed?
Which version of

[2018-04-11 05:56] conradyuu commented on #1812
The Power Shell should run the cmd like this: F:\gcc\GNUMCUEclipse\OpenOCD\0.10.0-7-20180123-1217\bin\openocd.exe -f G:\FMD\VScode\code\mbed-os-example-blinky\st_nucleo_f0.cfg
The cmd will make the openocd server run.
but the log show the cmd is like this:"F:\gcc\GNUMCUEclipse\OpenOCD\0.10.0-7-20180123-1217\bin\openocd.exe" -f G:\FMD\VScode\code\mbed-os-example-blinky\st_nucleo_f0.cfg
I guess that

[2018-04-11 06:13] tiansin commented on #1814
[config.zip](https://github.com/Microsoft/vscode-cpptools/files/1897451/config.zip)

Inside the compressed package is my configuration data.
This should not be a problem with other extensions. I have tried to open only the cpptools extension but the error is still there.
This problem may be related to the ordering of the types?
Or is it due to macro control?

[2018-04-11 06:17] esmirnov commented on #1796
Recursive includes should work. Another option is to allow relative include paths, like ```..``` or ```${fileDirname}/..``` and use it only if searching file for the "Quoted form" include, but skip for "Angle-bracket form".

[2018-04-11 08:33] antnsi opened #1816 "Microsoft.VSCode.CPP.Extension.darwin high CPU usage"
<img width="614" alt="screen shot 2018-04-10 at 21 57 16" src="https://user-images.githubusercontent.com/15607374/38605277-804fe16a-3d7b-11e8-8961-a7010d0d54e0.png">

Configuration:
- macOS 10.12.6
- VS code 1.22.1
- plugin 0.16.1

DB icon says "Discovering files: xxxx". VS Code console is full of such logs below. Seems it's constantly scanning some Frameworks folders, but why it takes so much res

[2018-04-11 11:30] CharlesJu1 commented on #1815
This is to build an EOS smart contract, which will be run in WASM on EOS blockchain. I am not sure on WASM it is true that sizeof(long) == sizeof(int).

I set `"C_Cpp.loggingLevel": "Information"` in setting.json and restart VS Code. Here is the log

[code]

[code]

[2018-04-11 11:36] CharlesJu1 commented on #1815
If I right click on "print" and select "Go to definition", it will take me to a definition of print from boost library located in /home/cju/opt/boost_1_66_0/include/boost/beast/core/impl/string_param.ipp.

Here is the configuration section for Linux in c_cpp_properties.json.
[code]

[2018-04-11 12:59] ghost opened #1817 "IntelliSense doesn't automatically use vcpkg include path"
I've installed Microsoft's [vcpkg](https://github.com/Microsoft/vcpkg) with user-wide integration, but the IntelliSense in VS Code doesn't seem to be automatically using the vcpkg include path.

From [what I've gathered](https://github.com/Microsoft/vcpkg/blob/9ccad4304edc3ac452b3c295d5ee203c861fcc6f/toolsrc/src/vcpkg/commands.integrate.cpp#L148-L272), vcpkg installs a `vcpkg.system.props` file to

[2018-04-11 15:24] bobbrow commented on #1816
This is generally expected the first time you open a folder.  You can reduce the CPU usage by lowering the priority of the indexing. See the `"C_Cpp.workspaceParsingPriority"` setting.  If your config sets the `"browse.limitSymbolsToIncludedHeaders"` property to true (which is the default), the extension will only stat the files in the folders it has marked for indexing unless they are in your wor

[2018-04-11 15:35] bobbrow commented on #1817
**c_cpp_properties.json** supports environment variables if you want a workaround for now.  e.g. `${env:VARIABLE}`

We could make a special variable for the vcpkg root folder that you can use in the future.  e.g. `${vcpkgRoot}`

[2018-04-11 16:03] Blealtan commented on #1802
Yes this should be a duplicate; 17115 does be near the build which I started to have this issue. I'll close this issue for now and provide my information in that one. Thank you for pointing out.

[2018-04-11 16:03] #1802 closed, assigned to nobody

[2018-04-11 16:11] Blealtan commented on #1694
Here I repro this issue on multiple devices and multiple builds. Since build 17103 I think, I started to suffer from this issue on both my Windows Insider devices (slow ring for my PC, fast ring for my laptop), while VSCode and cpptools version both keeps latest, and remains this situation till now. RS4 has recently graduated to Release Preview status, and if anyone try the current Inside Release

[2018-04-11 16:16] ghost commented on #1817
`${vcpkgRoot}` sounds good. I don't think vcpkg currently sets any environment variables. I suppose it would help if vcpkg set an environment variable to its root directory when user-wide integration is performed. I'll see about opening an issue or a PR on the vcpkg repo.

[2018-04-11 16:20] ghost commented on #1817
Actually, I don't think it's sufficient to only provide a variable to the vcpkg root folder.. The include folder is different depending on the target architecture (and whether we're using static libraries or not). It's not necessarily always "vcpkg/installed/x64-windows/include". This is handled in a `.targets` file that `vcpkg.system.props` references.

Although you may have been referring to the

[2018-04-11 16:35] aigolang commented on #1700
@fellowseb Thank you for your help! It's working!!! It was showing the error after I udpated the c_cpp_properties.json file and saved it. but the error is gone when I restart the VSCode.

[2018-04-11 16:51] allthatido opened #1818 "Setting VS Code debugger to use conda environment"
System Info
      * Windows 10 Home , Version 1709 , OS Build 16299.371
VS Code Info
      * Version 1.22.1
      * Commit 950b8b0d37a9b7061b6f0d291837ccc4015f5ecd
      * Shell 1.7.12
      * Renderer 58.0.3029.110
      * Node 7.9.0
      * Architecture x64
Python extension
      * Version 2018.3.1

I have installed miniconda on my machine and created a python environment called 'fcnd'. I have m

[2018-04-11 16:56] bobbrow commented on #1817
Yes, there is more work we will need to do under the hood to support this, but in the end an include path will need to be added to **c_cpp_properties.json**, and that's what this variable (or maybe a set of variables) should contain.

[2018-04-11 17:43] killerkalamari commented on #1805
If warnings aren't showable, can I set VS Code to treat the warnings as errors which would then be shown?

[2018-04-11 18:21] WardenGnaw commented on #1818
This does not look like a C++ issue. Forwarding to https://github.com/Microsoft/vscode-python/issues/1371

[2018-04-11 18:21] #1818 closed, assigned to nobody

[2018-04-11 18:46] FreddieChopin commented on #1673
Thanks - new version seems to work correctly with my set of flags (;

[2018-04-11 18:48] FreddieChopin commented on #1608
@sean-mcmanus - any news about the "have_member_access_from_class_scope" crash? I've now tried with the latest version of vscode and the extension - unfortunately the situation did not improve. Maybe there's a workaround for the problem or some other way to avoid it?

[2018-04-11 19:44] bobbrow commented on #1814
If you create a simple file with the following code, do you still see errors?

[code]

[2018-04-11 20:44] bobbrow commented on #1694
I think I have a repro.  I installed 17133 and it didn't repro until I opened my bash prompt and it did a "one time upgrade".

[2018-04-11 20:58] bobbrow commented on #1694
It appears that the WSL filesystem is case-sensitive now, but since the extension is running on Windows it assumes that file casing doesn't matter.

[2018-04-11 21:14] apo-egix commented on #1736
@bobbrow @sean-mcmanus both ways solved the issue
thanks guys

[2018-04-11 21:43] sean-mcmanus commented on #1608
@FreddieChopin The bug is assigned to a dev on the VS C++ team...he's been busy with other stuff for VS 15.7 so there's no update yet or known workaround.

[2018-04-11 21:50] bobbrow commented on #1694
A relevant article about this feature: https://blogs.msdn.microsoft.com/commandline/2018/02/28/per-directory-case-sensitivity-and-wsl/.  I just talked to Sven about this and it looks like there is no going back once a directory is converted and no workaround besides copying your `/usr/include` folder out of the Linux filesystem and into the Windows filesystem where it is case-insensitive until we

[2018-04-11 21:56] WSLUser commented on #1694
I was going to say something about that and did link it above. Personally I think we should have default case-sensitivity for everything just like in Linux and we only need to link legacy win32 things that still need case-insensitive file paths to whatever specifics they need.

[2018-04-11 22:01] bobbrow commented on #1694
Sorry, I didn't click on your link since I thought it was about slashes.

Ensuring case-sensitivity is a performance hit, which is why Visual Studio doesn't do it, except for user-facing content.  We are reusing their codebase.  I think we should be able to turn it on for people who need it, but there is a lot of code I need to go sift through.

[2018-04-11 22:03] sean-mcmanus commented on #1805
You can remove the line containing `"--no_warnings",` from the `bin/msvc.json` file (in the directory containing the Microsoft.VSCode.CPP.Extension binary) to enable warnings...not sure yet if we want to expose that in a setting (otherwise, it's overwritten on updates). The warning is classified as an error instead of warning in our UI though.

UPDATE -- oh, but there's a bug that will always caus

[2018-04-11 22:40] killerkalamari commented on #1805
Was just logging in to mention that :) It's also upset that `"/usr/include" was specified as both a system and non-system include directory -- the non-system entry will be ignored`. But, I did ask for warnings so who am I to complain? I can ignore these easily enough.

Thanks for the workaround, I like it!

[2018-04-11 23:00] sean-mcmanus commented on #1805
Yeah, I also see that "/usr/include" warning/error on Linux -- I think this is caused by a known bug in which we're hardcoding "/usr/include" to the IntelliSense paths (should be easy to fix).

UPDATE: The next update should have a fix for both of those bogus warnings. I'm dogfooding the warnings more to see if there are any other issues.

[2018-04-12 00:28] sean-mcmanus opened #1819 "Stop forcing /usr/include on the IntelliSense path in clang-x64 mode"
It also causes a bogus error to appear when warnings are enabled (see https://github.com/Microsoft/vscode-cpptools/issues/1805 ).

Also fixed the bogus "last line of file ends without a newline" warning (when "--no_warnings" is removed from msvc.json).

[2018-04-12 01:07] tiansin commented on #1814
This code reproduces the problem @bobbrow

[test.zip](https://github.com/Microsoft/vscode-cpptools/files/1900966/test.zip)

[2018-04-12 03:26] CharlesJu1 commented on #1815
It seems to have something to do with the boost include. If I remove the boost include path, vs code can find the correct definition of print and Go to definition takes to the right place. Since I removed the boost include path, there is a green squiggly line under ` #include <eosiolib/eosio.hpp>` saying it depends on boost and could not find header file.

[2018-04-12 12:50] ghost opened #1820 "How to input EOF"
my program has a sentence "while(cin >> variable)", but when i input CTRL+D(EOF), the whole program exits.

[2018-04-12 12:50] VSCODE-C51 opened #1821 "如何让 VSCODE cpptools 支持 C51 (How to make VSCODE cpptools support C51)"
1. 中断函数会提示报错
(interrupt function display error)
![image](https://user-images.githubusercontent.com/38309323/38658520-247f59f0-3e58-11e8-9657-a4a77b47d17e.png)

2. IO 定义会报错
(MCU IO define display error)
![image](https://user-images.githubusercontent.com/38309323/38658549-3f6a90e0-3e58-11e8-868d-45ee1f607522.png)

[2018-04-12 14:57] varnk opened #1822 "Latest vsix causes "Couldn't start client cpptools: Firmware" error."
* Operating System and version = Windows 10 Pro
* VS Code version and if you are using the Insiders build =
Version 1.22.1
Commit 950b8b0d37a9b7061b6f0d291837ccc4015f5ecd
Date 2018-04-06T00:27:19.487Z
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture ia32
    * C/C++ extension version = 0.16.1

    * step-by-step instructions to reproduce the issue
1.  Installed latest VSIX updated manua

[2018-04-12 15:04] varnk commented on #1822
Found the problem.  I accidentally installed the wrong VSIX.

[2018-04-12 15:04] #1822 closed, assigned to nobody

[2018-04-12 15:18] minhng99 commented on #1399
install package `ncurses5-compat-libs` on aur fixed it for me

[2018-04-12 15:44] bobbrow commented on #1338
Sorry for the delay. This has been a long time coming and I've gone through a couple of iterations internally before getting this into a state that is ready for comments. Most notably, we've decided that removing c_cpp_properties.json would be extremely disruptive to the community and extensions that take a dependency on us and have decided against it. We have an alternative plan that should be ab

[2018-04-12 15:46] bobbrow commented on #368
I have just posted a plan to issue #1338 that may address this issue.  I encourage those on this thread to take a look and provide feedback.

[2018-04-12 15:49] bobbrow commented on #410
I have just posted a plan to issue #1338 that may address this issue.  I encourage those on this thread to take a look and provide feedback.

It doesn't talk about a script hook to provide configurations at this time, but that is something we're also exploring in parallel, albeit offline right now.

[2018-04-12 15:49] bobbrow commented on #1229
I have just posted a plan to issue #1338 that may address this issue.  I encourage those on this thread to take a look and provide feedback.

[2018-04-12 15:50] bobbrow commented on #1270
I have just posted a plan to issue #1338 that may address this issue.  I encourage those on this thread to take a look and provide feedback.

[2018-04-12 15:52] bobbrow commented on #1315
We recently added a "compilerPath" property to **c_cpp_properties.json** that should work around #1251.

[2018-04-12 16:03] #1500 closed, assigned to nobody

[2018-04-12 16:04] #1445 closed, assigned to nobody

[2018-04-12 16:20] bobbrow commented on #1814
The files in the project you shared were all UTF-16 LE encoded.  Setting the encoding to UTF-8 fixed the squiggles for that project.  We only support UTF-8 encoded files right now.

[2018-04-12 16:21] csholmq commented on #1338
Is omitting a configuration option the same as specifying it to ${default}?

I don't fully understand if you are enabling the issue with system defaults (e.g system defaults) to not Trump project specific ones. Do I need to set the default includePath to blank to achieve this?

[2018-04-12 16:30] bobbrow commented on #1821
1. It doesn't look like valid syntax.  Is "interrupt" supposed to be an attribute?  You can edit **c_cpp_properties.json** and add `"interrupt="` and `"INT_VECTOR_T0="` to the `"defines"` array.

2. Can you tell me what `sfr` and `sbit` are?  Those are not types I recognize.

[2018-04-12 16:37] bobbrow commented on #1338
Yes.

EDITED:
We will be treating system includes as special and we will actually secretly remove them from your includePath if you put any of them there so that we can ensure they are always last.  We are actually already doing this in some form on mac/linux in 0.16.x due to the number of issues we've seen with incorrectly configured include paths.  The goal is for everyone to be able to remove s

[2018-04-12 17:59] bobbrow commented on #1815
I cloned this library on OSX and can see the squiggles.  I'll take a look.

[2018-04-12 19:39] sean-mcmanus commented on #1338
@bobbrow We currently do "a. Interpret the first argument in the command as the compiler and attempt to query it." only after the compilerPath was deemed invalid. Did you intend to change that? Was there a reason? If so, then we'd need to fix the bug where "other" compile command args aren't being passed to the compiler for querying defines/includes to avoid a regression. The original intent was f

[2018-04-12 19:42] bobbrow commented on #1338
Thanks for pointing that out @sean-mcmanus.  That was an unintentional mistake.  I will fix it.

[2018-04-12 19:53] floooh commented on #1338
Hi, as I'm reading this, the system include paths detected by VSCode will now be separate from the 'user defined' includes paths? If this is correct then "hooray" \o/ because currently I'm doing all sorts of hacks to detect the system includes since I'm generating c_cpp_properties.json files 'out of thin air' in my cmake wrapper (with things like trying to figure out what Visual Studio versions an

[2018-04-12 20:31] sean-mcmanus commented on #1788
The "inline" is being associated with the class due to the missing ";". The "void" on the next line has the error about "expected a ';'". I agree that ideally the 1st error would not appear, but the behavior is inherited by (the same as) VS 2017 -- you or I could file a bug with them, but I doubt they would get it fixed because it's too low priority given the other more severe issues they're tryin

[2018-04-12 20:56] bobbrow commented on #1815
The problem is with 128-bit types which we don't have support for in the IntelliSense engine yet.

[2018-04-12 21:18] bobbrow commented on #1338
@floooh, if you are generating c_cpp_properties.json, then you should only need to set the `"compilerPath"` property going forward and no longer worry about adding the system includes to the `"includePath"` property.  They will be 'auto-populated' internally, but not explicitly listed in c_cpp_properties.json anymore.  You could also not set the `"compilerPath"` at all and let the extension pick a

[2018-04-12 21:32] sean-mcmanus commented on #1815
@bobbrow Are you referring to the 128-bit int GNU extension or is this a different issue?

[2018-04-12 21:35] bobbrow commented on #1815
yes.  I tried recompiling with 128-bit support, but it didn't work out of the box, so there's something else we need to do to make it work.

EDIT:  adding a `using uint128_t = __uint128_t;` statement before including print.hpp resolved the squiggles in my special build, but I haven't determined why eosiolib is unhappy without it.

[2018-04-12 22:57] rtosman commented on #1293
Thanks for this thread. It helped me to figure out the same issue at my end.  My issue (which caused the heretofore mentioned "undefined uint8_t") was caused by the fact that I was on Mac, but was using a later build of the clang compiler (not the one that xcode uses) and I had neglected to update the compilerPath to the compiler I am using.  Once I did that everything worked fine.

[2018-04-13 00:54] VSCODE-C51 commented on #1821
1. ``` interrupt=``` 加入 "defines" 可以的，但 ``` "INT_VECTOR_T0=" ``` 还是不行。
( interrupt is OK，but  ``` "INT_VECTOR_T0=" ```  not support.)
![image](https://user-images.githubusercontent.com/38309323/38711374-d8177494-3ef7-11e8-838f-1b82ae363a53.png)
![image](https://user-images.githubusercontent.com/38309323/38711388-f339b5ca-3ef7-11e8-8d65-f25fddfa2f5c.png)

2. ```sfr``` 和 ```sbit```  已经在  "defines" 中

[2018-04-13 01:28] VSCODE-C51 commented on #1821
Thank you for replying me.  @bobbrow
Sorry, My English is poor, but I will study hard.

[2018-04-13 01:48] Miszo97 commented on #1798
@sean-mcmanus @bobbrow Please let me know when you manage to implement that.

[2018-04-13 02:20] razed11 commented on #1750
[code]

I was have a similar issue--embedded project using ARM GCC tools and libraries with many associated headers. Setting `"C_Cpp.intelliSenseEngine": "Tag Parser"` fixed this for me.

In my case I had a directory `lib` that was one level above `${workspaceFolder}` so I set `browse.path` to include this. I also tried added to `includePath`. Only after I set `Tag Parser` did it begin working.

[

[2018-04-13 03:17] bobbrow commented on #1821
1. I should have noticed sooner.  C51 has some language extensions that our vscode extension does not support.  I found it here: http://www.keil.com/support/man/docs/c51/c51_le_funcdecls.htm

2. Does this compile for you in C51?  It is not valid syntax in C.

[2018-04-13 03:25] bobbrow commented on #1750
@razed11 did you try [setting the "compilerPath" property](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/c_cpp_properties.json.md#compilerpath-optional) to point to your ARM GCC compiler?  That should pick up the system include path and defines necessary to make the `Default` IntelliSense work better.  You can even add additional compiler arguments to the "p

[2018-04-13 03:27] sean-mcmanus commented on #1750
@razed11 Also, the includePath used by the "Default" intelliSenseEngine is not recursive (yet), if your missing includes were under your `${workspaceFolder}` or lib..

[2018-04-13 04:22] sean-mcmanus opened #1824 "Long strings are truncated to "..." with cppvsdbg"
UPDATE (old issue, moved to vscode): I can't copy values from the debugger's hover view (no right click) and instead need to locate/add the value in the Watch window. Is this a limitation with VS Code's UI or what? Typescript debugging seems to have the same limitation, so I'm guessing it's a VS Code issue.

I haven't seen many users complain about this so maybe it's not a common thing to want to

[2018-04-13 06:58] wimalopaan opened #1825 "#pragma once in main file"
Using VSCode 1.22.2 and C/c++-Extension 0.16.1

If I write a simple header file like Abc.h and insert a modern include-guard

#pragma once

I am getting the very annoying warning:

#pragma once in main file.

[2018-04-13 07:28] antnsi commented on #1816
@bobbrow thank you for reply!  Seems plugin tries to traverse /System/Library/Frameworks and I never finished the process as it takes hours. I have `C_Cpp.workspaceParsingPriority: low` (it still take 80% cpu load) and `browse.limitSymbolsToIncludedHeaders: true`.

Finally, I removed all default paths from `macFrameworkPath` and indeed scan completed in few seconds (basically only headers).

[2018-04-13 08:08] wimalopaan opened #1826 "clang.cxxflags has no effect"
I try to use the following C++-Flags, but it seems that they don't have any effect:

    "clang.cxxflags": [
        "-Wall -Wextra -Wno-pragma-once-outside-header -std=c++17"
    ],

Also, I can write some bogus text in there, and I don't get any error.

VSCode: 1.22.2
C/C++: 0.16.1

[2018-04-13 15:21] bobbrow commented on #1826
Our extension doesn't have any setting with that name.  This is likely an issue with another extension you've installed.

[2018-04-13 15:21] #1826 closed, assigned to nobody

[2018-04-13 18:18] dnfort opened #1827 "identifier "FILE" is undefined"
Issue Type: <b>Bug</b>

#include <stdio.h>
int main( int argc, char **argv)
{
	FILE *fp;
	fp = fopen( "filename", "r");
	fclose( fp);
	return 0;
}

FILE (and fp) are squiggle underlined with hover message:
identifier "FILE" is undefined

There are no compiler errors so it is just a case of annoying red sqiggles.

Extension version: 0.16.1
VS Code version: Code 1.22.1 (950b8b0d37a9b7061b6f0d291837c

[2018-04-13 18:27] sean-mcmanus commented on #1825
That warning is not from our extension. It must be from another extension that uses clang for warnings, possibly https://github.com/Valloric/YouCompleteMe/issues/216 .

[2018-04-13 18:27] #1825 closed, assigned to nobody

[2018-04-13 18:44] olifre opened #1828 "compileCommands has no effect at all"
VScode 1.22.1, cpptools 1.16.1

In `c_cpp_properties.json`, I have:
[code]
and that file contains, amongst other stuff:
[code]
However, editing `~/gits/rootStaticAnalyzer/src`, none of the includes are resolved.
Checking in the logs, with loglevel `INFO`, I get:
[code]
Editing `c_cpp_properties.json` and trying to add manual paths to the `includePath` array only reveals this in the logs:
[code]
It

[2018-04-13 18:49] sean-mcmanus commented on #1827
It's not reproing for me. What is your includePath and compilerPath setting? Are you compiling with cl.exe? What Windows SDK do you have installed?

[2018-04-13 19:57] pieandcakes commented on #1824
@sean-mcmanus I'm pretty sure we don't control copy/paste. The UI elements in VS Code are all provided by VS Code, we just return data to them. This is probably a request you will need to make on their side.

Which debugger was this using? if you are using gdb, you can specify an additional parameter to return the entire string. Please see [this](https://github.com/Microsoft/vscode-cpptools/issues

[2018-04-13 19:58] pieandcakes commented on #1820
Does this do the same without the extension? You may want to try and use file input.

[2018-04-13 20:32] bobbrow commented on #1827
Can you share your c_cpp_properties.json file?

I suspect you are on a Windows PC without Visual Studio 2015 or 2017 installed, and you just haven't been auto-configured.  We're working on automatic-configurations for MinGW/Cygwin/WSL on Windows, but it's not ready yet, so you need to configure some stuff manually right now.

If my suspicion is correct, run the "C/Cpp: Edit Configurations..." comm

[2018-04-13 20:35] bobbrow commented on #1828
If you set `"C_Cpp.loggingLevel": "6"` and then reopen your file, we will log out the full list of includes and defines we're using for IntelliSense on that file.

[2018-04-13 20:39] olifre commented on #1828
@bobbrow Thanks for the info that higher logging is indeed possible! Looking at https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md I was believing only the levels shown and named in the completion menu are possible.

With higher level, I get:
[code]
So for some reason, no additional includes are added. How can I debug that?
In which way is c

[2018-04-13 20:43] sean-mcmanus commented on #1824
Not gdb -- the cl.exe/Windows debugger cppvsdb. Is there a way to enable the full string to get copied with that?

Sure, I'll see if VS Code has a issue open for adding a right-click menu to the debugger tooltips.

[2018-04-13 20:49] bobbrow commented on #1828
The higher logging levels are not meant for regular usage and are a bit more resource intensive so we only mention it in issues if we need to debug something (read: you should switch back to "Information" after you get the information you need).

Something looks really broken here.  I'll try to reproduce using this information.  We should add additional logging in the lookup phase too.

What happe

[2018-04-13 20:58] olifre commented on #1828
Thanks for the explanation!

Results are interesting - I completely closed vscode just to be sure:
[code]

I wonder about several things here, still all specific includes are missing, but `include: /usr/lib64/clang/6.0.0/include` is still there (in additon to 5.0.1).

My full `c_cpp_properties.json` is:
[code]
(autocreated by the "CMake Tools Helper" extension).
Just to be sure, I disable all exte

[2018-04-13 21:02] bobbrow commented on #1828
Which config is active?  I see "compileCommands" set in the "Linux" config, but not the "Mac" config.  If you're using the Mac config, that would explain a lot.  I recommend deleting the configs you're not using.  We're actually going to stop putting all 3 OS configs in by default in a future release.

[2018-04-13 21:07] olifre commented on #1828
Well, that was straightforward - after removing the other configs, everything works perfectly well.
Include paths are detected and all can be resolved! Many many thanks!

I was in the wrong assumption that the "config" would be chosen automatically depending on the OS, I am on (Gentoo) Linux here, so I did not look at the Mac section at all. Any idea why the Mac config was chosen (and how I would

[2018-04-13 21:20] pieandcakes commented on #1824
@sean-mcmanus that string truncation is something we need to investigate. Please +1 that issue for now.

[2018-04-13 21:31] pieandcakes commented on #1801
@summershrimp When you say you are trying to debug qemu, is it loading symbols? The log doesn't give me enough information to see if the `sharedlibrary` loads are happening for your debug session.

From the bottom of your log I don't know if you are calling something but it looks like we are sending a `1: (1576) <--gdb-exit` command to tell debugging to stop also. Are you expecting it to launch qe

[2018-04-13 21:32] pieandcakes commented on #1812
@conradyuu I'm not understanding where Powershell comes into use with the extension? We don't launch anything via Powershell, so if your comment is the quotes don't work on powershell, then it shouldn't block your scenario.

We create a .NET Process class and set all the parameters and tell it to launch.

[2018-04-13 22:17] bobbrow commented on #1828
I am unsure how Mac might have been chosen for your machine.  We don't support any of the external tools that automatically generate or write to **c_cpp_properties.json**.  If the tool deleted the configs up front before rewriting the file, our extension might have reset the config index to 0.  The name of the config can be used as a keyword if the extension is unsure of what to pick, but you are

[2018-04-13 22:17] #1828 closed, assigned to nobody

[2018-04-13 22:26] olifre commented on #1828
Ah, understood, many thanks for the detailed explanation!
I might have noticed this issue earlier if the chosen configuration would have been shown in the status bar. For some reason, this was not the case - but it is there now, after removing the other configs.

So many thanks for providing help even if the issue in the end was not really cpptools! :+1:

[2018-04-13 22:39] bobbrow commented on #1828
Hmm... that's weird.  The active config should always be in the status bar.  If you're ever able to get it to do that again and can share the steps to reproduce the problem, please open a new issue so we can investigate it further.

[2018-04-13 22:41] sean-mcmanus commented on #1824
I'm not sure what you mean by +1, but I just changed the title (i.e. morphed the bug into the 2nd issue).

[2018-04-13 22:57] pieandcakes commented on #1824
Go to #1786 and click the + icon in the title bar and choose the thumbs up. This is now a duplicate of that and i'll close this.

[2018-04-13 22:57] #1824 closed, assigned to nobody

[2018-04-14 01:20] sean-mcmanus commented on #1816
"low" is supposed to set the background CPU usage to around 25%, so if you're seeing 80%, it could be another thread doing work (if you open a file, another thread will attempt to parse that, causing more CPU usage than the background processing amount). I'm not able to repro the issue (it finishes with 262k files processed using <25% CPU and processes the /System/Library/Frameworks and /Library/F

[2018-04-14 01:43] sean-mcmanus commented on #1827
I hit this error when my includePath had the Windows SDK paths in it but my compilerPath was set to a gcc-based compiler (removing the Windows paths fixed it).

[2018-04-14 02:50] VSCODE-C51 commented on #1821
Thank you.

I used Keil compiled C51 Code.

[2018-04-14 03:08] laoshancun opened #1830 "intellisense not work on WSL"
## problem
go to Declaration and peek Declaration not work.
eg.
function `ngx_redis_init` has beed defined in ngx_http_xcache_redis.h.
![tim 20180414110324](https://user-images.githubusercontent.com/4952748/38763689-7ed39674-3fd3-11e8-87fa-d3b75dc40e6a.jpg)
in file `ngx_http_xcache_module.c`,command `go to delaration` not work.
![tim 20180414110248](https://user-images.githubusercontent.com/495274

[2018-04-14 12:07] EdwinWalela commented on #895
could someone please expound on the solution

[2018-04-14 13:26] vamsis-adapa opened #1831 "Error showing in problems though compilation occurs."
Below is a simple c  program.
After finishing typing the following error pops up in problems "expression must have a constant value(6,11)" with an error squiggle under 'n' in a[n].
However this compiles fine and shows no error.
I use a Mingw gcc compiler.

#include<stdio.h>
int main()
{
    int n;
    scanf("%d",&n);
    int a[n];
}

[2018-04-14 14:58] abcdlzy opened #1832 "IF程序段上色的问题"
代码审计过程中，某些头文件缺少也不打紧，能否给个选项禁用掉对IF段变成灰色的操作？以便于代码审计
Feature request：disable IF program section rendering into gray

![_20180414224813](https://user-images.githubusercontent.com/10682959/38769471-787a116e-4036-11e8-9671-62411a98df5a.png)

[2018-04-14 15:59] gwenKneeland opened #1833 "Template Errors"
**OS**: Windows 10 Education
**Visual Studio Code Version**: 1.22.2
**C/C++ Extension Version**: 0.16.1
**Other Extensions**:
- Auto Comment Blocks
- CMake
- Discord Presence

The issue persists after disabling them all.
I can't seem to reproduce it in a new project but no matter what I do it will not go away in my current project even though the project builds successfully. My project is hosted o

[2018-04-14 21:13] Leedehai commented on #1832
Already reported [here](https://github.com/Microsoft/vscode-cpptools/issues/1707).

[2018-04-14 21:32] Leedehai opened #1834 "Wrong include path error - attempts to check file inside a comment block"
This is just a comment (line 2) and should not trigger an include path checking.
<img width="680" alt="screen shot 2018-04-14 at 14 31 57" src="https://user-images.githubusercontent.com/18319900/38772634-9e9eab66-3ff0-11e8-8967-f5d79864a381.png">
<img width="686" alt="screen shot 2018-04-14 at 14 31 34" src="https://user-images.githubusercontent.com/18319900/38772635-a214f228-3ff0-11e8-8f93-3b03f7

[2018-04-14 22:38] ryan-feeley commented on #1831
That is valid c99 code (variable length array with value determined at run-time, rather than compile time). As you may know, it is not valid c++ code. However, GCC will accept it when you are compiling for c++. See [6.19 Arrays of Variable Length](https://gcc.gnu.org/onlinedocs/gcc/Variable-Length.html).

Since you're using the Mingw gcc compiler, I assume you are developing on Windows. I don't kn

[2018-04-15 00:58] cv40067 opened #1835 "How to view nested STL container in debugger - C++"
vscode cannot display nested STL container in the debugger.

For example,say we have
typedef set<int>  A
typedef list<A> G
  map<int, G > D;

IN the debugger, the only data I can inspect is A. G and D both would show stuff like:
std::__cxx11::_List_base<std::set<int, std::less<int>, std::allocator<int> >, std::allocator<std::set<int, std::less<int>, std::allocator<int> > > >

I have

"setupCommand

[2018-04-15 03:15] abcdlzy commented on #1832
thx

[2018-04-15 03:15] #1832 closed, assigned to nobody

[2018-04-15 04:39] zhangliukun opened #1836 "bug report - debug C++ then the process block"
Hello, there is a problem when I debug C++.
- macos 10.12.5
- vscode 1.22.1
- C/C++ 0.16.1 ,
- Code Runner 0.9.3 , C/C++ Clang  Command Adapter 0.2.2 , CMake

The code can run successfully, but when I debug it and set a breakpoint in the function maxSubArray, the debug process is blocked, and I can't abort it in the vscode. So I have to kill it in the shell because of the high usage of my CPU.
I h

[2018-04-15 06:45] priyamadhu commented on #1329
Close the visual studio and reopen it by right clicking on it and selecting run as administrator. I had similar problem and this worked for me

[2018-04-15 08:12] c1rew opened #1837 "No definition for found ...，even the variable is definition in above line"
1.  Operating System and version : Windows 7 SP1 64bit
2.  VS Code version : 1.22.1
3.  C/C++ extension version :0.16.1
4.  only enable C/C++ extension, disable other extensions

test code
[code]

![1](https://user-images.githubusercontent.com/10029724/38776310-77226a3c-40c7-11e8-8c0e-9c3945a8aa3f.png)
![2](https://user-images.githubusercontent.com/10029724/38776311-7774895c-40c7-11e8-8c09-fc3feec

[2018-04-15 13:57] wdc596933938 opened #1838 "there is somthing wrong with intellisense of WSL"
Hello, I have set vscode follow the document [_Windows Subsystem for Linux.md_](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Windows%20Subsystem%20for%20Linux.md),
Everything is ok but this, it seems vscode cannot resovle `using`.

![](https://img-blog.csdn.net/20180415215130439)

if using std directly
![](https://img-blog.csdn.net/20180415215146114)

[2018-04-15 14:03] wdc596933938 commented on #1838
This is the `c_cpp_properties.json` file
[code]

[2018-04-15 14:34] deycrypt opened #1839 "How to: Use VS Code with Visual C++ Build Tools"
Hi,

After reading documentation: [](https://blogs.msdn.microsoft.com/vcblog/2016/03/31/cc-extension-for-visual-studio-code/)

It is evident that documentation for VC++ Build Tools is missing for VS Code. There are samples for GDB, MAC, Linux but not Visual C++ Build Tools for Windows using Visual Studio Code.

Essentually I found a question which matches my description but in the end there is no

[2018-04-15 20:10] cylonid commented on #1838
Hi,
you seem to code in C++ but because of the file-extension ".c" VS Code interprets it as plain C. "using" is not a keyword in C.
So your options are changing the language mode manually (symbol in the status bar stating "C" at the moment) or just use .cpp as filename extension.

Additionally I would advise you to add

`__SIZE_TYPE__=long unsigned int`

to your defines-section in _c_cpp_propertie

[2018-04-16 00:57] wdc596933938 commented on #1838
Thanks to your help, the problem has been solved.

[2018-04-16 00:57] #1838 closed, assigned to nobody

[2018-04-16 01:35] summershrimp commented on #1801
@pieandcakes  The whole log is at above, the third reply.

[2018-04-16 01:59] conradyuu commented on #1812
I didn't read the code of the vscode-cpptools. so I just guess that there are something wrong with the code when it call the powershell.
if you create a .net process class and set all the parameters and tell it to launch.
Maybe you can debug that  if the parameters is wrong with double quotes.

[2018-04-16 03:29] kmalloc commented on #1230
@bobbrow just wonder any plan on this issue? it causes very bad experience for multi root workspace..

[2018-04-16 06:55] zh-ngk-i commented on #1302
When I open the java suffix file  vs
prompt   `The Java Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.`
 issue no 1.22.2   64-bit windows 10

[2018-04-16 07:08] sean-mcmanus commented on #1830
Sounds like a duplicate of https://github.com/Microsoft/vscode-cpptools/issues/1694. WSL on the Windows Insiders build enabled case-sensitivity, which we don't handle correctly yet.

[2018-04-16 07:11] sean-mcmanus commented on #895
@EdwinWalela The symptom has many possible causes. Can you file a new bug with repro details? We need to know what OS and compiler you're using.

[2018-04-16 07:13] Baozi2 opened #1840 "Missing icons in activity bar"
version 1.22.2
os mac
this is new , the search、git disappear. All extension disabled
![new](https://user-images.githubusercontent.com/5621510/38794669-8a0dc580-4188-11e8-9c8f-d349eed60ad2.png)

[2018-04-16 07:30] sean-mcmanus commented on #1831
@leDarkKnight Were you able to get things working? @ryan-feeley gave good advice. I can also observe the error when my settings are incorrect, but it goes away after setting the intelliSenseMode to clang-x64 and setting the compilerPath to `"C:\\MinGW\\bin\\gcc.exe"` (or `"...\\mingw64\\bin\\gcc.exe"`. It looks like we should update our MinGW docs to take into account the new compilerPath setting

[2018-04-16 07:43] sean-mcmanus commented on #1707
Oh, this has been fixed with 0.16.1 already. Let us know if anyone has problems with the `dimInactiveRegions` setting.

[2018-04-16 07:43] #1707 closed, assigned to nobody

[2018-04-16 07:45] sean-mcmanus commented on #1832
@abcdlzy You can set the 'dimInactiveRegions` setting to "false". But in order to get IntelliSense to work on the gray area you would need to set your includePath and defines settings correctly.

[2018-04-16 08:01] sean-mcmanus commented on #1833
Can you provide a repro of the issue at https://github.com/dillonKneeland/BlitzEngine ? I don't have a GitLab account (I could look into getting one later if necessary...).

[2018-04-16 08:08] sean-mcmanus commented on #1834
It's "by design" and caused by the fact that html-document.h is included in news-aggregator.cc (the translation unit), which has missing includes. See https://github.com/Microsoft/vscode-cpptools/issues/1651 .

[2018-04-16 08:13] sean-mcmanus commented on #1837
Go to Definition hasn't been implemented to work with local variables yet. See https://github.com/Microsoft/vscode-cpptools/issues/255 .

[2018-04-16 08:13] #1837 closed, assigned to nobody

[2018-04-16 08:21] cylonid opened #1842 "Force includes do not work if compile_commands is used"
Hi,
unfortunately the files specified in force includes are ignored if you use compile_commands.json for the include path.
Perhaps you can fix this for future releases.

My config:
VS Code 1.22.1
C/C++ ext 0.16.1
Ubuntu 16.04 x86-64

[2018-04-16 08:22] sean-mcmanus commented on #1839
We have code that automatically populates the includePath/browse.path with the Visual Studio VC tools, but it sounds like this may not be working with the BuildTools?

I also hit the problem with the changing versions breaking my includePaths after a compiler update...making this better is on our TODO list (not sure if there's an issue tracking it already).

[2018-04-16 08:29] sean-mcmanus commented on #1302
@zh-ngk-i Our extension doesn't implement a Java Language Server and doesn't process java files. Can you open an issue with whatever java extension you're using?

[2018-04-16 08:34] sean-mcmanus commented on #1840
I moved your issue to the VS Code GitHub site: https://github.com/Microsoft/vscode/issues/47942 .

[2018-04-16 08:34] #1840 closed, assigned to nobody

[2018-04-16 09:04] sean-mcmanus commented on #1842
It looks like this is "by design" -- the forced includes are taken from the compile_commands.json via -include or -FI arguments. Is that not sufficient for some reason?

[2018-04-16 09:17] cylonid commented on #1842
@sean-mcmanus I use a force-include because I need auto-completion on a global object. Since it is global, it is unsure whether the needed includes are present or not. If not, the auto-completion does not work without the forced include. I thought this would be a use case where one could use forced includes? At least it works like a charm when I don't use the compile_commands.json and stick with t

[2018-04-16 09:29] sean-mcmanus commented on #1842
When you generate the compile_commands.json, it's supposed to add forced includes or whatever else is needed for compilation, therefore it is not expected for users with compile_commands.json to want to add additional forcedInclude paths, which is why we also ignore the includePath and defines. If your source file is not present in the compile_commands.json, then it'll fall back to using the force

[2018-04-16 09:40] cylonid commented on #1842
@sean-mcmanus Ok, now I see what you mean... In my case, the forced includes are not needed for compilation at all, so my compile_commands.json does not know about them. I only specified them inside c_cpp_properties.json because they are needed for proper auto-completion inside VSC. I was not aware that this use case could be unusual.

[2018-04-16 10:06] vamsis-adapa commented on #1831
Yes I was able to get things working. Thanks for the help.

[2018-04-16 10:06] #1831 closed, assigned to nobody

[2018-04-16 10:34] #1814 closed, assigned to nobody

[2018-04-16 12:31] NoSuchProcess commented on #797
This issue is still reproduced with Version 0.16.1

stalled processes:
[code]

main process
[code]

subprocesses:
[code]
[code]

backtrace is the same for both subprocesses:
[code]

[2018-04-16 14:39] daldr-ntml commented on #1788
Thanks for your reply. I'll just close the issue.

[2018-04-16 14:39] #1788 closed, assigned to nobody

[2018-04-16 14:44] wimalopaan opened #1843 "compilerPath in c_cpp_properties.json: no effect?"
I tried to modity the setting:

"compilerPath": "/usr/bin/g++ -fconcepts",

like this. But this doesn't seem to have any effect.

[2018-04-16 15:19] LIII-XXII commented on #1605
0.16.1 here, I had the same issue. Fixed by re-installing.

[2018-04-16 15:28] bobbrow commented on #1821
Unfortunately, we have no plans to support C51 extensions at this time.

[2018-04-16 15:28] #1821 closed, assigned to nobody

[2018-04-16 15:29] #1834 closed, assigned to nobody

[2018-04-16 15:39] bobbrow commented on #1230
The correct fix for this is not something we plan to do in the immediate future do to other high priority issues, but we might be able to put in a temporary patch for this to improve the experience in the near term.  I'm adding the Backlog tag so that I don't lose track of this issue.

[2018-04-16 15:40] #1830 closed, assigned to nobody

[2018-04-16 15:52] bobbrow commented on #1842
Can you tell us what exactly isn't working for auto-completion?  Are system includes/defines missing?  If you can share an entry from the compiler_commands.json for a file where things are not working properly, we might be able to figure out if there is a bug elsewhere since you shouldn't need to use forcedInclude with compile_commands.json.

[2018-04-16 15:55] bobbrow commented on #1843
There could be a bug here.  Did you try reloading the window?

[2018-04-16 17:27] cylonid commented on #1842
Actually this is a duplicate of my own issue [#1699](https://github.com/Microsoft/vscode-cpptools/issues/1699). My issue occurs because IntelliSense is limited to included headers, even with a _compile_commands.json_ where the entry for the respective file includes the folder with the needed header.

[2018-04-16 17:27] #1842 closed, assigned to nobody

[2018-04-16 17:39] bobbrow commented on #1699
But test.cpp won't compile if B.h is not included, right?  I'm still unclear as to why you would expect IntelliSense to know about B's members if the declaration of B is missing.

[2018-04-16 18:18] cylonid commented on #1699
Yes, you have to include it, otherwise you get incomplete type errors upon compilation.
Above all, I was expecting this because I am used to have settings for this behaviour from other editors/IDEs. This is just a habit I guess, but I consider the experience to be more smooth if the auto-completion just works out of the box and I can think of including things later. But it's more of a nice-to-have

[2018-04-16 18:36] sean-mcmanus commented on #797
@NoSuchProcess Can you provide more repro info? "Loading..." is a general symptom of a deadlock (if it's permanent), so we need more info to fix these. What is the main process Microsoft.VSCode.CPP>Extension.linux blocked on, ignoring the threads that aren't doing any work? I assume it'll be blocked on at least one IntelliSense operation. Does killing the IntelliSense process causing the main proc

[2018-04-16 18:42] sean-mcmanus commented on #1843
-fconcepts is a flag that gcc understands, but our IntelliSense compiler doesn't have support for C++20 concepts yet, and when it does, we would have to translate the flag to a flag our compiler understands. If things like `__gnu_linux__` and `__GNUC__` are defined then it means the /usr/bin/g++ part was understood -- otherwise, it means your g++ compiler doesn't understand the -fconcepts flag (ca

[2018-04-16 19:52] WardenGnaw commented on #1836
@zhangliukun I could not reproduce your issue.  Can you disable all extensions besides the C/C++ extension and try debugging again?

If it still happens, can you share your currently running processes? You can get this list via ```f1``` -> ```Help: Report Performance Issue``` -> Copy and paste the info in ```Currently Running Processes```

[2018-04-16 19:53] WardenGnaw commented on #1835
Which OS are you using?

[2018-04-16 19:58] cv40067 commented on #1835
Linux Ubuntu 16.04

On Mon, Apr 16, 2018 at 12:53 PM, Andrew Wang <notifications@github.com>
wrote:

[2018-04-16 20:56] deycrypt commented on #1839
Yes its not working with Visual C++ Build Tools . Looks like _not_ many people are trying it. Else this would have been requested by many people.

Maybe the team behind Visual C/C++ Build Tools can help in this case. I am unaware of their contact. :/ Copying @AndrewPardoe

[2018-04-16 21:17] bobbrow commented on #1699
I see.  I can talk to the owners of the IntelliSense engine, but I suspect that they wouldn't be open to this idea since the focus has always been "correctness."  The philosophy is: If you can't compile the file with the suggestions we're giving you, then we're probably not suggesting the right things.

[2018-04-16 21:17] #1699 closed, assigned to nobody

[2018-04-16 21:40] sean-mcmanus commented on #1699
@bobbrow We could do what typescript does and add the required includePaths to make it correct/compile, but implementing this in a way that doesn't annoy people (by adding undesired #include) would be tricky.

[2018-04-16 22:47] WardenGnaw commented on #1835
The pretty-printers are provided by gdb itself and not our extension. I would verify that the version of gdb you are running has a pretty printer for that type.

Here is a reference for the gdb command:
https://sourceware.org/gdb/onlinedocs/gdb/Pretty_002dPrinter-Commands.html#Pretty_002dPrinter-Commands

There looks to be an issue with the std::list pretty printer.

[2018-04-16 23:08] cv40067 commented on #1835
Understood.

Will this be mitigated if I ran this on Windows? It is troublesome if we
cannot inspect data within containers.

In addition, is there a way to configure custom data types to be inspected?

On Mon, Apr 16, 2018 at 3:47 PM, Andrew Wang <notifications@github.com>
wrote:

[2018-04-16 23:15] WardenGnaw commented on #1835
It might work if you run it on Windows. It would depend on the pretty printers for GDB.

For std::list, you can try std::vector as a work around to inspect the contents.

For custom data types to be inspected you can look at creating your own [GDB pretty printer](https://sourceware.org/gdb/onlinedocs/gdb/Writing-a-Pretty_002dPrinter.html) or use [natvis](https://github.com/Microsoft/vscode-cpptool

[2018-04-16 23:36] WardenGnaw commented on #1820
@amerysong I just tested this and could not reproduce the whole program exiting on the ```while (cin >> variable)```

With the code snippet below, if you input EOF. It will continue on with the program, you will see "Read EOF in cin" in the output and then exit.
[code]

[2018-04-16 23:39] riccozzz commented on #1753
I am having this same issue on windows using mingw-w64. It was also happening on my linux machine, however adding -stdlib=libc++ to the compilerPath fixed the issue. Unsurprisingly doesn't work on my windows machine, probably because libc++ does not exist with mingw.

This seems like a bit of a bug anyways, no?

[2018-04-16 23:59] sean-mcmanus commented on #1753
Okay, yeah, I'm able to repro the issue with mingw-64. The problem is in order to get the VS compiler guys to fix this I have to provide them with a "minimum repro" that doesn't have any dependencies on library, which I attempted to do previously, but it was not an easy task given the dependencies chrono has on other headers like `<ratio>`. So I can't make any ETA guarantees (but I think we can in

[2018-04-17 00:19] riccozzz commented on #1753
Well, I got it to stop complaining by changing these two lines of code (in a class declaration, .hpp file):

[code]
To:
[code]

Note that it stopped it from complaining _everywhere_ after I did that, not just within that class. I was confused because I had been using duration_cast before without issue and it just started to happen recently.

Basically, std::chrono::time_point\<foo\> breaks stuff,

[2018-04-17 00:43] sean-mcmanus commented on #1753
Yeah, simply using code `chrono::system_clock a;` also gets rid of the error. Strange. We want to get this fixed eventually, because it could be a widespread issue with how we're parsing stuff.

[2018-04-17 02:33] sean-mcmanus opened #1845 "Get compilerPath to work with WSL (pre-Windows RS4)"
I can't seem to find the issue that's tracking this. RS4 breaks us due to another issue (which we also plan to fix with the April release).

[2018-04-17 05:19] wimalopaan commented on #1843
This is the test code:

[code]
Regardless the setting of "compilerPath" both symbols __clang_version__ and __GNUC__ looks defined in the editor. Clearly, compiling with g++ or clang++ gives an error in the one or the other line.

I tested it with restarting the vs-code.

Versions: vc-code: 1.22.
c-cpp-extension: 0.16.1

[2018-04-17 09:26] flixr commented on #1777
So there are three of these processes running, one looks suspicious:
[code]
[code]
and all three processes seem to wait for that:
[code]

Don't think so, because of the already mentioned
[code]

I have c++ (Ubuntu 4.8.5-2ubuntu1~14.04.1) 4.8.5

That looks ok to me:
[cpptools.log](https://github.com/Microsoft/vscode-cpptools/files/1918989/cpptools.log)

[2018-04-17 11:48] nbellari opened #1846 "cpptools extension takes 100% CPU always on Linux.."
As soon as the editor starts and I open a C file, the extension Microsoft.VSCode.CPP.Extension.Linux takes 100% CPU and never comes down. Because of this, navigating through symbols in various files has become slow - it takes ~5 seconds for each symbol navigation.

Is there anything that can be done to mitigate this issue?

Operating System: Ubuntu 14.04, kernel: 4.4.0-119-generic
VS Code version:

[2018-04-17 15:18] bobbrow commented on #1846
It sounds like the IntelliSense server might be stuck in an infinite loop.  Are you able to share the code that causes this problem?

[2018-04-17 15:19] bobbrow commented on #1846
or attach a debugger and share the callstack.

[2018-04-17 16:11] gbonacini commented on #1246
I have the same problem  on OS X: multiple VSCode.CPP.IntelliSense instance running, in stale , apparently for a deadlock (I did a trace with dtruss). It's very annoying and force me to kill continuously the processes to gain 30 second of code navigation.

[2018-04-17 16:40] nbellari commented on #1846
Hi,

Apologies, I cannot send you the code/file which is being opened, however, here is the backtrace and the strace output on the process. I will be happy to provide any other information that you need.

[code]

[-] sudo strace -p 3957
Process 3957 attached
read(0, "Content-Length: 53\r\n\r\n{\"jsonrpc\""..., 4096) = 75
futex(0x7ffecce1d13c, FUTEX_WAKE_OP_PRIVATE, 1, 1, 0x7ffecce1d138, {FUTEX_OP_

[2018-04-17 17:06] nbellari commented on #1846
A question: Does it build and cache the index for the scanned files? Or does it build the index afresh every time the editor is opened?

[2018-04-17 17:20] cody-greene commented on #1083
Is there an issue# on the main vscode repo for for this option that I can track? And possibly help with? I'd love to use vscode + mingw to cross compile for windows from mac/linux.

[2018-04-17 17:52] Leedehai opened #1847 "Wrong scope detected for C"
<img width="466" alt="screen shot 2018-04-17 at 10 50 06" src="https://user-images.githubusercontent.com/18319900/38887238-1f3f54d0-422d-11e8-85dd-684688f10cd0.png">

I put the cursor on line 26, but the scope displayed at the bottom says the cursor is in the **global scope**.

I suspected it has something to do with how the function was defined, because some local variables are declared above the

[2018-04-17 17:55] bobbrow commented on #1846
We save the timestamp of the files we index, so if they haven't changed since the last scan, we won't reparse them the next time the editor is opened.

[2018-04-17 17:58] bobbrow commented on #1846
Are you able to get the call stacks from the other threads?  The main thread's callstack is not very interesting.  It's just waiting for messages from the extension.

[2018-04-17 18:01] bobbrow commented on #1846
Oh, wait a minute.  I misread your original comment.  This is not an infinite loop in the IntelliSense server.  This is probably just heavy processing when you open a new folder.  Do you see the database icon in the bottom right corner of the status bar?  You can reduce the CPU usage of the indexing by using the `"C_Cpp.workspaceParsingPriority"` setting.

[2018-04-17 18:10] bobbrow commented on #1847
Is this a language extension?  I've never seen that syntax before.  We can request the feature from the team that owns the tag parser, but I suspect it's not going to be a very high priority for them.

[2018-04-17 18:24] sean-mcmanus commented on #1843
That is because we force `__clang_version___` to be defined as part of the clang-x64 mode -- we have a work item to add a separate gcc mode that doesn't do this. If you manually remove the "--clang," flag from the msvc.*.json file that matches your OS you can force it to not use clang mode and `__clang_version__` won't be defined, but we haven't thoroughly tested that scenario yet.

UPDATE: Oh, wa

[2018-04-17 18:50] sean-mcmanus commented on #1083
@cody-greene The main vscode repo wouldn't be tracking this issue, because it's a C++ extension issue. The TODO work is on our closed-source side so there's nothing you could help with. We support cross-compilation in general via setting the compilerPath/intelliSenseMode, but there are just a bunch of hardcoded defines, mostly regarding Mac that can't be changed yet (using forcedInclude to do #und

[2018-04-17 19:14] sean-mcmanus commented on #1847
You're using the old, K&R C function declaration syntax (i.e pre-ANSI standard). Our parser might be able to handle this forcing by the --old_c flag to be used during symbol parsing, but it's not a high priority for us to add due to the obsolete nature of that syntax.

[2018-04-17 22:06] sean-mcmanus commented on #1246
@gbonacini @flixr Any advice on how to repro this? Is the status of the process "Zombie"? That would indicate it's crashing. It's not reproing on my machine. @grdowns got a repro on his machine of the stuck red flame, but only with a debugger attached and when switching configs, so maybe that's what you guys are hitting?...when we find/fix the root cause we might know. Any call stacks of threads w

[2018-04-18 01:05] zhangliukun commented on #1836
Strangely enough, I didn't change the code and It is all right now. I could not reproduce it too. Anyway, thank you.

[2018-04-18 01:26] nbellari commented on #1846
I see, thanks for the setting. I see that after sometime (a very long time), the CPU utilization is indeed coming down - probably because I have a very large includePath to scan.

Thanks!

[2018-04-18 01:26] #1846 closed, assigned to nobody

[2018-04-18 05:03] wimalopaan commented on #1843
Well I can't find a msvc.*.json file. I only have c_cpp_properties.json. In this file there is an option compilerPath which defaults to "/usr/bin/clang".

Do you mean the option "intelliSenseMode": "clang-x64" which is also in this file?

I wonder what the purpose of the option "compilerPath" is. My first impression was, that this is the compiler that is called internally by the extension to check

[2018-04-18 05:54] gbonacini commented on #1246
Thank you for your help. Today I'll collect all the data  I can to reproduce the problem. For now, I can provide these information:
- The problem only happen when I'm working on a project very large, with hundreds of source files. Working on smaller project all work just fine.
- I installed vscode and this plugin three months ago: the problem began after few upgrades. At the beginning, absolutely

[2018-04-18 10:16] gbonacini commented on #1246
This could help to reproduce the problem:
- Starting a new session of vscode (the second one,  other one started on other branch);
- Opening source files and navigating the code, nothing happen until I open the 18th tab in vscode with a c++ header;
- Trying to navigate the code with the option "Go to Definition" of the contextual menu, the pop-up  the editor stucks on the "Loading ..." pop-up;
- I

[2018-04-18 11:20] nopyhe commented on #1399
When formatting:
[code]
``clang-format`` need ``libtinfo.so.5`` which is not in my system.
[code]

@SandPox  package ``ncurses5-compat-libs`` in aur fixed it.

[2018-04-18 14:23] daldr-ntml opened #1849 "How to cope with non-standard keyword?"
I am working with the TI (Texas Instruments) C++ compiler, which supports TI
extension keywords __interrupt, __cregister, and __asm.

I see a squiggle here:

![image](https://user-images.githubusercontent.com/7724321/38937808-fb93cfd0-431b-11e8-9947-7782ce5e2115.png)

which I guess is due to the definition of TSCL not being understood by cpptools:

![image](https://user-images.githubusercontent.co

[2018-04-18 14:44] dodheim commented on #1770
Well, your question was very percipient... Before submitting this issue I spent at least an hour bisecting out any changes I made to make sure they weren't the cause, but I incorrectly assumed that the `-D_MSC_VER=` and `-D_MSC_FULL_VER=` flags to the frontend **must** be in sync with the `--microsoft_version` and `--microsoft_build_number` flags; I wanted to update the macros and as it turns out,

[2018-04-18 15:11] bobbrow commented on #1849
If the extension keywords work like attributes and their removal would make the code look like standard c++, then one option is to add the following to the `"defines"` array in **c_cpp_properties.json**:

[code]

The other option would be to create a support header (e.g. "TI.h") with the same defines as above and use the `"forcedInclude"` property in **c_cpp_properties.json** to have that file inc

[2018-04-18 15:16] daldr-ntml commented on #1849
Thanks very much for your help. This fixed the problem:

    "defines": [
        "__cregister=",
        "__interrupt=",
        "__asm="
    ]

[2018-04-18 15:16] #1849 closed, assigned to nobody

[2018-04-18 18:09] WardenGnaw commented on #1836
Closing for now. Please reopen if you encounter the same issue again.

[2018-04-18 18:09] #1836 closed, assigned to WardenGnaw

[2018-04-18 18:16] sean-mcmanus commented on #1843
The msvc.*.json files are next to the `Microsoft.VSCode.CPP.Extension.*` binary (your OS usually has a way to locate the path of a running binary). Our compiler runs in our binary and we pass flags to it to change it's behavior to conform to clang/gcc/cl/etc.. We use the compilerPath to get the correct compiler includes and defines.

[2018-04-18 19:40] sean-mcmanus commented on #1770
Ah, yeah, -- we have a TODO to query cl.exe for the correct _MSVC_LANG and the small amount of other defines to use based on the compilerPath (and args, such as /Zc:__cplusplus). Maybe for May. We'll also investigate adding support for a c++latest/c++20. Not many cl.exe users have complained about compilerPath/cppStandard not working with it so getting WSL/Cygwin to work have been higher priority

[2018-04-18 19:55] killerkalamari opened #1850 "Requesting that renderLineHighlight not extend into the scrollbar"
Sorry, I opened this in the wrong project.

[2018-04-18 19:56] #1850 closed, assigned to nobody

[2018-04-18 22:54] nsubtil commented on #1247
This is preventing me from using vscode as my IDE. +1 for this request.

[2018-04-19 02:04] LeThiHyVong commented on #407
According to https://github.com/Microsoft/vscode/issues/3422#event-1582353384, please re-open this issue.
Thanks.

[2018-04-19 06:07] pansila opened #1852 "Updating IntelliSense never stops, code navigation can't work when it happens"
Issue Type: <b>Bug</b>

I'm using Visual Studio Code for my C/C++ project, IntelliSense works well when I just open the project, but after a while with some modifciatons, the updating intellisense icon on the right bottom bar will show up and seems never to stop. It makes the code navigation fail to work (Go to definition - F12). I have to reopen the project to stop the updating, but soon the prob

[2018-04-19 08:31] wimalopaan commented on #1843
I suppose you are using the MS-Compiler? So, it is actually not possible to use concepts in the code because this isn't included into your compiler. As well as modules (included into the real clang).

Is your (probably MSVC) compiler fully c++17 compliant? Does it implement features of c++2a?

Is there a way to use other compilers than yours?

[2018-04-19 10:11] Leedehai commented on #1847
@bobbrow yes it may be an archaic style, but still valid..
@sean-mcmanus sure, understandable..
@brynet sorry it's not up to me:)

[2018-04-19 15:37] bobbrow commented on #1852
If you right click on the Microsoft.VSCode.CPP.IntelliSense.Msvc.exe process in Task Manager, there is an option to save a dump file with the stack traces for the process.  Would you be able to save that and upload it to this thread so we can investigate?  If there are multiple processes open, feel free to upload all of them.

Thanks!

[2018-04-19 15:56] aguirrem commented on #1852
I know this specific to Windows but I have seen similar issue on linux. What's the process to get the equivalent to save a "dump file"?

[2018-04-19 16:23] bobbrow commented on #1852
This works for me on linux:
[code]

[2018-04-19 17:12] ghost commented on #1768
@AlbertDu I have the same problem too, have you fixed?

[2018-04-19 17:47] LuanEduardo47 commented on #1852
I've always had this problem too, most of the time I needed to restart the VSCode, but the problem always reappears.

[2018-04-19 18:03] sean-mcmanus commented on #1843
No, we don't use the Microsoft compiler cl.exe, we use the EDG compiler (see https://www.edg.com/c/features ). Concepts and modules are C++20 features that aren't implemented yet. We don't have 100% full C++17 support yet. We don't support other compilers currently.

[2018-04-19 19:25] conradoplg commented on #1852
I'm having the same issue on Ubuntu 16.04.

There are 10 stuck processes, here is the backtrace of one of them:

[code]

[2018-04-19 19:31] sean-mcmanus commented on #1852
@conradoplg There is nothing abnormal with those call stacks -- it's just waiting for work requests. It's possible the main Microsoft.VSCode.CPP.Extension.linux process is stuck waiting for results from another IntelliSense process that is in an error state. Are you able to find a repro with only 1 C/C++ file (i.e. 1 IntelliSense process) or 2, and get the call stacks of the stuck IntelliSense pro

[2018-04-19 20:52] leogcorrea opened #1853 "Debugger get lost on C++ source files when they have the same name but different paths (shows breakpoint set on one file as if they were set on another file)"
Issue Type: <b>Bug</b>

Create a project with 2 C++ source files with the same name and extension but in different paths. I'm using the GDB as the debugger. A breakpoint set in one of the source files (/src/file.cpp) when triggered shows the breakpoint on the other one (/otherpath/src/file.cpp) as if the breakpoint was set in this second file instead of on the first one.

Extension version: 0.16.1

[2018-04-19 22:00] bobbrow commented on #1585
Perhaps the work I'm doing for #1338 will help.  Part of this configuration change will remove the requirement to put system headers in c_cpp_properties.json.  There is nothing in there about choosing the Windows SDK right now, but it's something we're thinking about and will improve in the future.

[2018-04-19 23:17] bobbrow commented on #1771
I am actually doing the work to get browse.path to update based on compilerPath as part of #1338.  Shall I close this as a duplicate?

[2018-04-19 23:29] sean-mcmanus commented on #1771
It doesn't matter to me.

[2018-04-20 02:51] ftpman commented on #1345
I had this problem on Raspbian Desktop and, I solved it by installing AMD64 version of libc (`sudo apt-get install libc6-dev:amd64`), because `uname -r` returned 4.9.0-4-amd64, but `libc` was i386, VS Code was i386 and cpptools extension is amd64.

Before I only had /lib/ld-linux.so.2 and now I have /lib64/ld-linux-x85-64.so.2

[2018-04-20 09:08] edogaldo opened #1855 "ctrl+click always opens files in the same (second) tab"
Version 0.16.1: March 30, 2018

Suppose "main.c" contains reference to "f1" (defined in "file1.h") and "f2" (defined in "file2.h").
When ctrl+click on "f1" it opens "file1.h" in a second tab.
If then ctrl+click on "f2" it opens "file2.h" in the second tab as well losing reference to "file1.h"
Would have expected "file2.h" to be opened in a new tab so that I can see all 3 files opened..

[2018-04-20 09:35] pansila commented on #1852
It seems easier to happen when I open multiple vscode windows. When the issue happens, a Microsoft.VSCode.CPP.IntelliSense.Msvc.exe process is left running even after I closed all visual studio code.

[2018-04-20 09:39] ghost commented on #1585
Yes, it'd be great if we no longer had to specify the system include paths. Not being able to choose the Windows SDK version is not a deal-breaker for me.

[2018-04-20 09:59] metropt opened #1856 "VSCode C/C++ Auto-Completion"
Auto-Completion doesn't seem to work as expected. Per example when writing an argument I expect to get auto-completion for variables of the same function argument type, per example (QtCreator IDE):

![screenshot from 2018-04-20 10 49 09](https://user-images.githubusercontent.com/764040/39045023-b1c1792e-4489-11e8-9460-58d8d4459199.png)

However on VSCode this is the result:
![screenshot from 2018-

[2018-04-20 12:48] 453jerry opened #1857 "Request Feature: Support customize environment variable in c_cpp_properites.json"
When a project has a lot of include path and all include path is absolute path, then maintain c_cpp_properites.json is very uncomfortable.
for example:
[code]
I hope there this a way to customize env variable in  c_cpp_properites.json, it will be very easy to maintain c_cpp_properites.json, and very simple to remove project to other environment.
for example:
[code]

[2018-04-20 14:42] krausedj commented on #962
Hey, I still think im seeing this issue, or something similar

Windows 10
VS Code 1.22.2
C/C++ 0.16.1
VIM / Python (Same Behavior when Disabled)
Default Settings

The following code snippet shows some interesting behavior with Intellisense set to the default behavior.
The behavior exists on the variable ThisDoesNotWork, it is unable to locate / peek the declaration or definition.  To me this is in

[2018-04-20 19:09] flixr commented on #1246
@sean-mcmanus maybe the backtraces and log I posted in #1777 helps?

[2018-04-20 20:11] sean-mcmanus commented on #1855
This is "by design" VS Code behavior. We just send VS Code the list of definition targets. You can double-click the document title (with italic font) to make the document non-Preview. Or set the workbench.editor.enablePreview setting to false.

[2018-04-20 20:11] #1855 closed, assigned to nobody

[2018-04-20 20:41] sean-mcmanus commented on #1852
@pansila That dmp isn't useful -- it just shows the process waiting for requests. Also, you may not want to publically post dmp's if they contain non-OSS source code (the dmp has the potential to contain source code). You can send a private link to dmps to c_cpp_support@microsoft.com or we could make our Windows pdb available and you could attach a debugger and send us the call stacks.

The main e

[2018-04-20 21:33] bobbrow commented on #1585
We will be exposing a setting that will allow you to override the system includes (and therefore the WindowsSDK) to an older one if you really want.  It will be called `"C_Cpp.defaultSystemIncludePath"`

[2018-04-20 21:39] bobbrow commented on #1856
This should work in the latest version of the extension (0.16.1).  Are there any "problems" in the problems window?  Is `"C_Cpp.intelliSenseEngine": "Default"` in your settings?

[2018-04-20 23:50] WardenGnaw commented on #1853
If you enable engine logging via
[code]
Can you see if the breakpoint is being attached to /src/file.cpp or if it is being attached to /otherpath/src/file.cpp?

[2018-04-21 00:53] sean-mcmanus commented on #962
@krausedj Yeah, adding that code to your cpp.hint fixes the issue for me -- the cpp.hint file needs to go in your workspace root, not in the .vscode subfolder. After that, you need to edit/save the file or do a Reset IntelliSense Database.

[2018-04-21 01:28] sean-mcmanus commented on #1777
@flixr Thanks a lot for those call stacks -- those look promising. It appears both processes are deadlocked on each other.
1. The main process is blocked asking an IntelliSense client if contains a source file.
2. The IntelliSense client that is handling that request is blocked trying to get the source from the main process.
I think we have enough information to make process on this. I'll let you

[2018-04-21 01:30] sean-mcmanus commented on #1246
@flixr Yeah, thanks for the ping on the backtraces. I think we have enough info to make progress on this (hopefully there is only this one deadlock).

[2018-04-21 03:14] AlbertDu commented on #1768
@qiLingLingYi  I upgrade my VS code, problem remains...

[2018-04-21 06:16] zero-sky opened #1859 "version0.16.1 cannot work in offline-more information"
---moro information---
I work in an offline environment.
I use "install from vsix" to install cpptools.
but,
which download from marketplace can not work, include "xxx.h" no lightbulb and waveline suggestion。so I can not use autoComplete, no ./.vscode folder.
which download from github，version 0.16.1. also no lightbulb and waveline
which download from github, version 0.15.0.  work perfect.

[2018-04-21 07:35] WardenGnaw commented on #1859
Can you provide more information about which offline installer you are using and what does not work?

[2018-04-21 11:02] DollarAkshay commented on #230
I just want my class names and struct names to be colorized.

[2018-04-21 14:33] IgorOne commented on #882
@bobbrow  I'm sorry but this is BS, Several other language extensions (Go, TS, JS, C#) added this and it is a must for C/C++. And actually, the VS Code team does not plan to do this, I quote "we defer it to the language service" from here: https://github.com/Microsoft/vscode/issues/1021#issuecomment-171893794 .

So there is no one other than the cpp team that can give us this functionality.

[2018-04-21 16:21] ghost opened #1860 "Auto-indentation doesn't work when pasting or moving lines"
I've noticed that VS Code supports automatically indenting code when pasting code or when moving lines around (<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>↑</kbd>/<kbd>↓</kbd>) via the `editor.autoIndent` setting, but for some reason this doesn't work with C++ files.

I've noticed that this is [disabled by default for C and C++ files](https://github.com/Microsoft/vscode-cpptools/blob/master/Extension/pa

[2018-04-21 21:52] hoan-cosmos opened #1861 "Couldn't compile because of "expected a ';' " bug!!"
Using Ubuntu Budgie 17.10 x64, VS Code 1.22.2, C/C++ extension 0.16.1. Installed only Code Runner (by Jun Han) as second extension and default user/workspace settings.

I created "time" class describing information about hour, minute, second in 3 files: CTimeSpan.h, CTimeSpan.cpp, main.cpp.
(Code obtained from http://home.kenhdaihoc.com/2012/03/xay-dung-lop-time-trong-c.html)

**CTimeSpan.h file:*

[2018-04-21 21:58] SousaGoose opened #1862 "How do I compile and run my C++ programs"
Hello, I'm a freshman in high school and I'm currently taking a class on C++ programming. We have been using the old compiler, Borland. I'm very new to all of this and I was just wondering how to compile and run my programs. Also, can I compile console and/or GUI programs or just one of them? Thank you so much in advance!
-Cooper

[2018-04-21 22:46] johnduffynh commented on #1861
It is treating time as the c function time.  https://www.tutorialspoint.com/c_standard_library/c_function_time.htm

This extension isn't a compiler, bring compiler issues up to gcc, clang, visual studio.

[2018-04-21 23:39] thewhitecat opened #1863 "#include errors detected. Please update your includePath."
Hello, trying to set VS Code up for C++ I ran into a problem. I'm on Win32, MinGW installed.

I just tried a simple Hello World, but VS Code doesn't seem to like:

`#include <iostream>`

As it gives out 2 problems:
#include errors detected. Please update your includePath. IntelliSense features for this translation unit (D:\Dokumente\test.cpp) will be provided by the Tag Parser.
and:
cannot open so

[2018-04-22 04:51] hoan-cosmos commented on #1861
@johnduffynh I don't think this issue belongs to compiler or clang, because other IDE with the same gcc/clang worked flawlessly.

[2018-04-22 08:13] thewhitecat commented on #1863
After staring at this problem for a few hours, I guess I just needed some sleep...I forgot to set compilerPath

[2018-04-22 08:13] #1863 closed, assigned to nobody

[2018-04-22 10:10] stwupton commented on #1863
I didn't realise I had to set the `compilerPath` . For those who find who also stumble on this issue, take a look at [this document](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md). The `compilerPath` needs to be set and `intelliSenseMode` needs to be set to `clang-x64`. Here's my configuration as an example;

[code]

[2018-04-22 18:13] tskardal commented on #239
+1

[2018-04-22 21:38] sevas opened #1864 "[Feature Request] Support for debugger automation"
Hello,

I did not find any roadmap document, so I am asking here. Apology if it is not the correct place.

In Visual Studio, there is a [COM interface](https://docs.microsoft.com/en-us/dotnet/api/envdte?view=visualstudiosdk-2017) to automate and access data from the debugger.

Technically, I'd like to be able to pipe data out of the debugger to another interactive visualization environment. Right

[2018-04-23 01:03] pansila commented on #1852
@sean-mcmanus Thanks for the reminder. The dangling process is still there even after 5 seconds.

[2018-04-23 07:21] sean-mcmanus commented on #1768
@WardenGnaw Do you know about this?

[2018-04-23 08:32] sean-mcmanus commented on #1777
Actually, looks like we need more info still. We're not able to determine why the main process is not able to handle the IntelliSense processes source file request given the call stacks provided for the main process. Is the main process blocked on "handle_get_source"? This appears to be the same freeze as described in https://github.com/Microsoft/vscode-cpptools/issues/1407 , which we were never a

[2018-04-23 09:14] sean-mcmanus commented on #882
I'm seeing typescript invoking completion when ( is typed? Is that the desired result or something else?

I think we need to add ( as a "commit character" for methods (i.e. https://github.com/OmniSharp/omnisharp-vscode/issues/1487 ). It's part of the CompletionItem type in the latest language server protocol, but the one we use appears to be old and is missing it (https://microsoft.github.io/langu

[2018-04-23 09:18] sean-mcmanus commented on #1860
I seem to recall it was disabled due to the annoying/buggy behavior it caused with C++ but there isn't an easy fix using the regular expression mechanism that works in other languages. I think we're tracking this with https://github.com/Microsoft/vscode-cpptools/issues/883 .

[2018-04-23 09:18] #1860 closed, assigned to nobody

[2018-04-23 09:23] sean-mcmanus commented on #1861
Our extension doesn't handle actual compiling. The issue should repro with our C++ extension disabled. I assume the issue is with whatever task you're using to compile with.

[2018-04-23 09:32] flixr commented on #1777
Which "main process" do you mean?

Attached the backtraces off all cpptools processes.
[cpptools_bt.txt](https://github.com/Microsoft/vscode-cpptools/files/1937487/cpptools_bt.txt)

[2018-04-23 09:32] sean-mcmanus commented on #1862
Have you seen https://code.visualstudio.com/docs/languages/cpp#_building-your-code ? The details depends on your OS, compiler, and build tools. You can compile console or GUI programs, but you have to have the right GUI libraries. You may also want to try Visual Studio 2017 if you're on Windows (which has some GUI editors). I'm not familiar with using Borland compilers.

[2018-04-23 09:44] sean-mcmanus commented on #1777
Yeah, those are the call stacks for the main process (Microsoft.VSCode.CPP.Extension.linux) -- the comm_server is waiting for requests, but the call stack for the IntelliSense process shows that it has already sent the request and is blocked waiting for the reply. This is exactly what I saw on Windows with the dmp provided in #1407. It's as if the request was just lost somehow. I'll have to brains

[2018-04-23 10:36] IgorOne commented on #882
I actually tried to look through the code but I didn't even manage to find the part where the autocompletion happens. So I hope someone can either implement this or point to the code which is responsible for completion.

[2018-04-23 13:54] krausedj commented on #962
@sean-mcmanus Thanks, putting it in the workspace root did the trick.

[2018-04-23 14:38] peteralm80 commented on #1768
Installing a newer lldb-mi with "brew install llvm --with lldb" fixed it for me. You need to set "miDebuggerPath" in launch.json to "/usr/local/Cellar/llvm/6.0.0/bin/lldb-mi" as well.

I occasionally see #860, but cannot reproduce it in a simple enough example.

[2018-04-23 14:54] cmazakas commented on #1816
I've also noticed incredibly high CPU usage even when closing any open instances of VS Code that contain C++ code.

For example, I'll have two VSCode windows open (one for Ruby and one for a C++ project). If I close the C++ project, the CPU usage will still be quite high and I resort to killing the process with SIGTERM.

[2018-04-23 17:48] WardenGnaw commented on #1864
We do not have any plans for that at the moment. However, I will mark it as a feature request and we will consider it if there are many requests for it.

Thank you.

[2018-04-23 18:17] WardenGnaw commented on #1768
@sean-mcmanus Yes, this is due to missing pretty printers support in the version of LLDB we ship.

@peteralm80 If you see it hanging, can you enable logging with ```"logging": { "engineLogging": true }``` and post the output in #860?

[2018-04-23 18:19] WardenGnaw commented on #1859
Are you using Windows, OSX, or the Linux installer?

[2018-04-23 18:29] peteralm80 commented on #1768
@WardenGnaw That's not really true, it does have some support for pretty printing, but it's not compatible with the version of libcxx that's shipped with at least high sierra.

Not having any pretty printing support would actually be much better than what we have now, then we could at least see the raw fields of the member instead of just "size=0"

[2018-04-23 18:45] loganintech commented on #35
Hey just requesting an update since the last request was 10 months ago. Any progress on this?

[2018-04-23 20:01] sean-mcmanus commented on #882
@IgorOne It's implemented in our closed-source Microsoft.VSCode.CPP.Extension.* binary. I agree that we should fix this, but I'm not sure of an ETA yet (seems almost more like a bug than a feature request).

[2018-04-23 20:23] frzifus commented on #411
Any update?

[2018-04-23 20:58] sean-mcmanus commented on #1816
@LeonineKing1199 I don't understand -- what process is using the CPU? Is there a Microsoft.VSCode.Extension process started from the Ruby project or is there a dangling one? VS Code is supposed to kill any dangling extension processes after 5 seconds so I'm not sure what could cause that to not happen.

[2018-04-23 21:19] cmazakas commented on #1816
Sorry for not being clear.

I meant that it's a dangling process and it's quite CPU-heavy. I only know it's running because the fans on my MacBook sounds like they're gonna take off into space :P

I'll double-check to see if it persists beyond the 5 second window though.

[2018-04-23 21:20] sean-mcmanus commented on #411
@Frzifus Update in regards to what? This issue is closed. What bug are you seeing exactly? Could you open a new issue?

[2018-04-24 02:59] suzukajiang opened #1868 "error when using "goto symbol in file"."
there is something wrong when I use "goto symbol in file". It can't find the function in the file, but It find the MACRO called by the function.

list_for_each_entry  is a macro， just like:

#define list_for_each_entry(pos, head, member)				\
	for (pos = list_entry((head)->next, typeof(*pos), member),	\
		     prefetch(pos->member.next);			\
	     &pos->member != (head);					\
	     pos = list_ent

[2018-04-24 05:28] sean-mcmanus commented on #1868
This is a "by design" limitation of our symbol parser. The macro representing the for each should be added to a cpp.hint file in your workspace root. See https://msdn.microsoft.com/en-us/library/dd997977.aspx .

[2018-04-24 05:28] #1868 closed, assigned to nobody

[2018-04-24 06:35] realmhamdy opened #1869 "No header intellisense on Ubuntu 17.10"
I just downloaded cpptools today and taking it for a spin. Intellisense doesn't work, even if I have my `c_cpp_properties.json` configured.
Here's a screenshot:
![cpptools-no-intellisense](https://user-images.githubusercontent.com/5938078/39169949-f9237160-4799-11e8-84b2-76eca8a3b81e.png)
`c_cpp_properties.json`:
[code]
OS: Ubuntu GNOME 17.10
VS Code: 1.22.2
cpptools: 0.16.1

[2018-04-24 06:52] antnsi commented on #1816
@sean-mcmanus I don't have anything unusual in /System/Library/Frameworks and /Library/Frameworks and I can't reproduce anymore high CPU process, after I excluded default frameworks from scanning. Now it's scans only headers and it takes about second: `Discovering files: 3471 file(s) processed`.

There is call stack `sample.txt` in original description of this ticket, is it something you are looki

[2018-04-24 07:53] peteralm80 commented on #1768
@WardenGnaw This is most likely the upstream change that you need: https://github.com/llvm-mirror/lldb/commit/0d85f120be4a7b928376ce34c44e2ecfb38d6218#diff-916b2b31f56b35f6e8b6ff6c8ff578da

[2018-04-24 08:12] peteralm80 commented on #860
I managed to reproduce this in a small project. The uninitialised vectors needed to be in a class with a vtable for them to have garbage data.

This the engineLogging for the problem with a breakpoint at line 24, lldb-mi seems to get stuck at var-create:
[code]

Running this in the regular lldb-cli you can see that the one of the vectors has a sizeof 2^32-1:
[code]

If I attach lldb to the hung ll

[2018-04-24 09:03] olivierHen opened #1870 "Debug using msvc140"
Hi Folks!

I would like to know if it is possible to debug a project using the MSVC 2015 (v14) Compiler with this plugin.

I tried to configure my project (which is build from a CMakeList using compiler MSVC 19.0.24210.0) , but VSCode throws an error "spawn UNKNOWN" and I don't know how to see the stack trace or to find any help on this topic...

Have you got any tips or solution ?

I hope that my

[2018-04-24 09:34] gbonacini commented on #1246
Hi I think I found the problem: the source code is on a remote file system locally mounted. If for some reason there are network problem, or a remount is needed, the Intellisense processes stuck in a perpetual wait state, blocking the correct scanning (the "Loading..."  popup remains untill I kill all the Intellisense processes):

ps -ef | grep -i intell
  502 41382 21568   0  3:02PM ??         1:

[2018-04-24 09:39] gbonacini commented on #1246
P.S. Trying to restart vscode,  the processes won't die, the kill command seems the only way to solve the problem temporarily.

[2018-04-24 10:30] hoan-cosmos commented on #1861
@sean-mcmanus What do you mean by "with whatever task you're using to compile with"? I compiled it by g++ commands (g++ -o, g++ -c) in VSCode integrated terminal.

[2018-04-24 12:02] tehKaiN opened #1871 "Problems aren't getting proper file paths from nested makefiles with relative paths"
This is gonna be a bit tricky to fix, but it's kinda doable. ;) It's a bit of general vscode problem but it's tightly connected to any makefile-based building. Since makefiles are mostly used with C/C++ I'm posting it here.

I have a folder containing subprojects and a `common` folder containing shared code. Each subproject has it's own makefile. I have build tasks for each of subprojects and they

[2018-04-24 15:58] ankostis opened #1873 "Extension fails silently to install if extensions-home-folder is missing execution rights on Windows"
The extension (in VSCode-1.22.2 ) cannot work under Windows if folder `%USERPROFILE%\.vscode\extensions` has not *execution* rights.
This problem can be solved using `--extensionHomePath` option.

The real problem is that there is no log record explaining this installation problem when it happens!

Below are the relevant logs,  after having waited for at least 5':

## Log (shared)
### after *insta

[2018-04-24 16:29] bobbrow commented on #1869
This is coming soon.  See #802.

[2018-04-24 16:29] #1869 closed, assigned to nobody

[2018-04-24 16:31] bobbrow commented on #1873
Did you get a notification that said the language server could not be started?  If the extension crashes or fails to launch multiple times in a 5 minute window, you are supposed to get a notification.

[2018-04-24 16:33] bobbrow commented on #1861
Did you pass in `-std=c++1z` for C++?

[2018-04-24 16:45] Adobe-Android commented on #545
This is for anyone having this same issue when using the Microsoft cl compiler. Assuming you are using the latest version of the build tools (15.6.6 at the time of this post), you are likely not including everything you need. Here's the includePath portion of my config (update any numbers to reflect the version you have installed).

[code]

You only need to add this path to resolve this particular

[2018-04-24 17:51] gusbemacbe opened #1874 "This extension couldn't start client cpptools and the server failed to launch server on macOS and Ubuntu 16.04"
# Detalhes
* **Operating System and version:**  macOS High Sierra 10.13.4 64bits, Darwin Kernel 17.5.0 and XNU-4570.51.1~1/RELEASE_X86_64 x86_64, and Ubuntu Linux 16.04 64bits.
* VSCode Insiders 1.23.0
* **C/C++ extension version:** 4.2.1 Compatible Apple LLVM 9.1.0 (clang-902.0.39.1)
* **Extensions:**

[code]
* With disabled extensions, the issue still insists.
* Step-by-step instructions to repr

[2018-04-24 20:36] bobbrow commented on #802
A preview of this feature is available in the [insiders release](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders)

[2018-04-24 20:37] bobbrow commented on #1251
Closing this issue.  If the `"compilerPath"` property doesn't resolve this for you, please let us know.

[2018-04-24 20:37] #1251 closed, assigned to nobody

[2018-04-24 20:39] bobbrow commented on #1338
A preview of this is available in the [insiders build](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders) if you would like to try it out and provide feedback.

[2018-04-24 20:43] bobbrow commented on #1736
We have a fix for this in the [insiders build](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders) if you would like to try it out and provide feedback.

[2018-04-24 20:45] dfdumaresq commented on #1017
This would be a huge help for those, like me, who often work on a single laptop screen!

[2018-04-24 20:46] #1748 closed, assigned to nobody

[2018-04-24 20:48] #1750 closed, assigned to nobody

[2018-04-24 20:49] bobbrow commented on #1790
A preview of this is available in the [insiders build](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders) if you would like to try it out and provide feedback.

[2018-04-24 20:50] bobbrow commented on #1795
A preview of this is available in the [insiders build](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders) if you would like to try it out and provide feedback.

[2018-04-24 20:53] bobbrow commented on #368
A preview of this is available in the [insiders build](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders) if you would like to try it out and provide feedback.

Set `"C_Cpp.default.includePath"` to the path you want to use globally.  You can reference this in c_cpp_properties.json by using `"includePath": "${default}", ... ]` or simply deleting the `"includePath"` property

[2018-04-24 20:56] akoeplinger commented on #1790
@bobbrow thanks, I tried this build but it still writes the fields to the config file all the time.

[2018-04-24 21:01] bobbrow commented on #410
A preview of this is available in the [insiders build](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders) if you would like to try it out and provide feedback.

Configurations can come from a combination of the **c_cpp_properties.json** file and the new `"C_Cpp.default.*"` settings.  The value of the settings will be injected into the configurations in **c_cpp_properties.j

[2018-04-24 21:03] bobbrow commented on #1270
A preview of this is available in the [insiders build](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders) if you would like to try it out and provide feedback.

[2018-04-24 21:03] bryceschober commented on #368
Wait, how does this reduce duplication between different configurations in c_cpp_properties.json shared between users? How would one specify some baseline include paths for all configurations, and then different platform-specific include paths?

[2018-04-24 21:03] bobbrow commented on #1585
A preview of this is available in the [insiders build](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders) if you would like to try it out and provide feedback.

[2018-04-24 21:07] bobbrow commented on #1585
I'm going to use this issue to track a more convenient way to pick a Windows SDK instead.  The only thing that might hinder the original issue of portability is the "compilerPath" property, but the spec in #1338 addresses this by allowing you to specify "${default}" as the compilerPath and then require you to set the `"C_Cpp.default.compilerPath"` setting instead.

[2018-04-24 21:09] bobbrow commented on #1771
A preview of this is available in the [insiders build](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders) if you would like to try it out and provide feedback.

[2018-04-24 21:30] bobbrow commented on #368
Sharing between users might require the "advanced" section of the spec in #1338 which is not implemented yet. We haven't gotten enough votes from users to determine if it's worth introducing the complexity since most users are still struggling with basic configuration, so we've been focusing on solving that first.

Otherwise, you would be able to share a base set of includes across multiple platfo

[2018-04-24 21:33] bobbrow commented on #1790
Have you disabled write-access to the file?  We will still attempt to write to the file, but we shouldn't crash if the write fails.

[2018-04-24 21:36] akoeplinger commented on #1790
@bobbrow no I haven't and I don't see why I should. Those fields should only be written if they don't have the default value.

[2018-04-24 21:47] bobbrow commented on #1874
Can you verify the binary exists at the path you listed and it has executable permissions?

`/Users/gusbemacbe/.vscode-insiders/extensions/ms-vscode.cpptools-0.16.1/bin/Microsoft.VSCode.CPP.Extension.darwin`

[2018-04-24 21:55] bryceschober commented on #368
IMO, this would be a ***whole lot*** easier for ordinary users (though I have no idea how hard it would be for you to implement):

.vscode/c_cpp_properties.json:
[code]

[2018-04-24 21:57] bobbrow commented on #1790
Given the number of configuration issues we've serviced, we are attempting to make it clearer to developers how IntelliSense is configured. And if we don't expose the new properties in some way, people are unlikely to find them.

However, I can move this logic into a configuration upgrade block so that we only attempt to add them once.

[2018-04-24 22:02] bobbrow commented on #368
This is one of the possibilities on the table.  But it opens up a sort of inheritance graph with potential cycles, etc.  It also creates partial configs that should probably not be selectable.  There are a few issues with this design that we need to refine, but this is very similar to what I proposed in the "advanced" section of the spec in #1338.

[2018-04-24 22:06] akoeplinger commented on #1790
Since my main problem with writing to the file is that this is checked into git and shared between colleagues (so hardcoding `"compilerPath": "/usr/bin/clang"` into the file can't be done) I think using `${default}` from https://github.com/Microsoft/vscode-cpptools/issues/1338 will solve the issue much better for me.

Though I should note that https://github.com/Microsoft/vscode-cpptools/issues/13

[2018-04-24 22:09] bobbrow commented on #368
For your particular scenario, however, the "advanced" scenario seems overkill.  We could probably address your case more easily by adding an "environment" section or something that lets you define custom variables for your own usage:

[code]

[2018-04-24 22:15] bobbrow commented on #1790
Yeah, `compilerPath`, `cStandard`, and `cppStandard` all keep coming back, but the other properties do not.  If I move the code that adds these into an upgrade block, then it will only happen once and leave you alone if you want to delete it later.

[2018-04-24 22:34] bobbrow commented on #1871
Our extension doesn't own any of the path linking stuff in the Problems window.  Would you like me to copy your issue over to the vscode issues list?

[2018-04-24 23:06] WardenGnaw commented on #1870
Can you share your launch.json and the output when you also add the following to your configuration?
[code]

[2018-04-24 23:36] bryceschober commented on #368
That looks good to me, as long as it's all in one shared configuration file and documented not-too-deeply.

[2018-04-25 01:27] timothy opened #1875 "Not able to Download packages - Corporate firewall inserts its own SSL certificate. All https calls fail"
Not able to Download packages

- VSCode Version: 1.22.2
- OS Version: Win 10
- C/C++ extension version: 0.16.1

Steps to Reproduce:

1. Use C/C++ extension

the end result is the below error:
[code]

Please let me know if there is already a way to get around this common problem with with "man in the middle" firewalls... (I think this is the problem because I continually run into this problem... If

[2018-04-25 01:47] karlbenoit opened #1876 "cl.exe can't find main.cpp when running from wsl location"
I just discovered that windows/wsl interoperability is now possible. That's awesome and I tought, maybe I could use wsl instead of cygwin!

So what I'm trying to achieve is to build a windows app using the MSVC toolchain with cmake. I don't actually want to do crosscompiling - i.e. I don't want to use mingw. I want to use wsl as an alternative to cygwin to compile a windows application.

(I read a

[2018-04-25 02:36] zero-sky commented on #1859
My workplace use window7。
At my home, the environment can connect to internet, using windows10，all work ok.

[2018-04-25 02:46] gusbemacbe commented on #1874
Finder told it doesn't exist. Only Linux.

![List](https://user-images.githubusercontent.com/2257024/39223651-9f054dd6-4819-11e8-9be7-69de916ae8e8.png)

[2018-04-25 03:24] bobbrow commented on #1875
Are you trying to solve the proxy issue, or do you want an offline VSIX to install?

A quick search for "vscode unable to get local issuer certificate" brings back the following link with some settings that might help:
https://github.com/Microsoft/vscode/issues/3492

Otherwise, you can use the offline VSIX packages that we post here on the Releases tab.  You may want to disable automatic extension

[2018-04-25 03:43] bobbrow commented on #1876
For reference, `notepad.exe main.cpp` doesn't work in this environment either.

From [the documentation](https://docs.microsoft.com/en-us/windows/wsl/interop):
"Modifying files located on VolFs (files not under /mnt/<x>) with a Windows application in WSL is not supported."

I am able to run `cl.exe C:\test\main.cpp` and have it find the file.  I'm no expert on WSL, but based on some quick testing,

[2018-04-25 03:47] bobbrow commented on #1876
EDIT: did a little more testing, and it appears you can use relative paths in Windows executables if your pwd in the wsl shell is in the correct folder (under /mnt/ only). (e.g. pwd = /mnt/c/test, then `cl.exe test.cpp` works)

[2018-04-25 03:51] bobbrow commented on #1859
You installed this one?  https://github.com/Microsoft/vscode-cpptools/releases/download/v0.16.1/cpptools-win32.vsix

VS Code has been doing weird stuff with upgrades/installs lately.  You may want to check the %userprofile%/.vscode/extensions folder to see if any older versions of the extension are still there (e.g. ms-vscode.cpptools-0.16.1).  Delete any like that (and the .obsolete file if it ex

[2018-04-25 03:54] bobbrow commented on #1874
It looks like you might have installed the wrong VSIX file.  If you are downloading from the Releases page, make sure you get the correct VSIX.  For example: https://github.com/Microsoft/vscode-cpptools/releases/download/v0.16.1/cpptools-osx.vsix is the correct one for Mac.

[2018-04-25 03:54] SpencerApel opened #1877 "Syntax error for c_cpp_properties.json file"
Should be updates to this:

[code]
Misplaced commas, brackets, etc.

[2018-04-25 04:01] bobbrow commented on #1877
thanks.  should be fixed now.

[2018-04-25 04:01] #1877 closed, assigned to nobody

[2018-04-25 04:11] hoan-cosmos commented on #1861
@bobbrow No sir.

[2018-04-25 04:30] bobbrow commented on #1861
Can you try adding that to your command line?

[2018-04-25 04:38] bobbrow commented on #1861
Please share your tasks.json file

[2018-04-25 05:56] tehKaiN commented on #1871
Thanks for the reply. Yes, please!

[2018-04-25 06:52] olivierHen commented on #1870
Ok ! So here is my process :
1 - Launch code.exe from the MSVC 2015 Environment Command Prompt (64bits)
2 - I open my program folder (which just prints "Hello World")
3 - I Make it with my CMake (v3.11.1)
4 - I run it directly from the explorer : it works!
5 - I create my launch.json ... but unfortunately, I have an UNKNOWN error ...

Here is my launch.json :
[code]
I can add that my installation

[2018-04-25 07:49] roversch commented on #1523
@pieandcakes any progress on this? This still breaks my workflow..

[2018-04-25 09:31] papb commented on #1736
Cool, I will see if I can take a look later. Thanks!

[2018-04-25 10:34] karlbenoit commented on #1876
This works under `/mnt/d/test` for me as well.

My mistake was to also use wsl's cmake. When using cmake for windows, the project is compiling.

I'm closing this issue.

[2018-04-25 10:34] #1876 closed, assigned to nobody

[2018-04-25 11:32] fr43nk commented on #1796
This would be very helpful. In my c_cpp_properties.json file I set the includePath as follows:
`includePath : [
"../h",
"../../incs"
]`
So the path has to be interpreted relative to the current open cpp file.

[2018-04-25 14:55] #1871 closed, assigned to nobody

[2018-04-25 17:01] Kwizatz opened #1878 "compileCommands does not understand MSYS paths."
After configuring vscode to use MSYS2 and setting CMake to export the compile commands json file, I kept getting the "Configure includePath for better IntelliSense results" error but my includePath does include the path where the error was seen.

Looking at the compile commands file, I see that all absolute paths are being given in "MSYS2 style", that is instead of C:/folder/folder/file.cpp you se

[2018-04-25 17:29] ankostis commented on #1873
My apologies for not pasting the logs, had to leave our building in a hurry yesterday.
I've updated just now the opening post with all logs, as advised, after having waited for at least 5'.

Some comments:
- You are right, there is an error, but only on Chrome's Dev tools console.
- Unfortunately, there isn't any message in any of the vscode OUTPUT panes.
- Additionally, the message ` Unable to st

[2018-04-25 20:38] timothy commented on #1875
Changed `"http.proxyStrictSSL":`... Thanks this works perfect for my env...

[2018-04-25 20:51] bobbrow commented on #1875
great!

[2018-04-25 20:51] #1875 closed, assigned to nobody

[2018-04-25 22:00] sean-mcmanus commented on #1805
The 0.17.0-insiders release should fix the issues with the bogus warnings: https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.0-insiders .

[2018-04-26 00:24] gglang opened #1880 "IncludePath problem on Mac"
I am running macOS 10.13.4, and working in Unreal Engine 4.19.1

I get the following error:
"cannot open source file "../include/utility" (dependency of CoreMinimal.h")

I have tried adding all sorts of paths to the includePath and browse.path based on 'utility' files associated with my Unreal project. No success.

[2018-04-26 03:24] schultetwin1 commented on #1795
Just tried the preview. It worked great, thank you!

[2018-04-26 06:46] ftrofin opened #1881 "Debugger doesn't show the content of string, map"
OS: macOS Sierra (10.12.6)
Visual Studio Code Version 1.22.2
ms-vscode.cpptools 0.16.1
Xcode 9.2 installed
My launch configuration specified lldb as the debugger.
I also tried this with "Native Debug" extension version  0.22.0 and got the same behavior.

The launch configuration looks like:

    {
        "name": "(lldb) Launch MyApp",
        "type": "cppdbg",
        "request": "launch",

[2018-04-26 07:22] ftrofin opened #1882 "Can't invoke the last executed task with shortcut"
macOS 10.12.6
Version Studion Code Version 1.22.2
ms-vscode.cpptools 0.16.1

I have a simple tasks.json file that defines a few build tasks (all of them invoke xcodebuild with the same project file but different schemas):

       {
            "label": "Build Project1",
            "type": "shell",
            "command": "xcodebuild -project ${workspaceRoot}/Make/mac/MyProject.xcodeproj -scheme Pr

[2018-04-26 10:40] BigfootN opened #1883 "include complete path"
Hello,

I would like to know if this extension is capable of completing include paths. I prefer to use the `compileCommands` properties. Here is my config (I am under linux):

[code]

If this extension doesn't support that kind of feature, could you please tell me if there is another way of having that ?

Thank you very much in advance.

P.S: Other than that everything seems to be working fine.

[2018-04-26 15:20] bobbrow commented on #1883
If you use `compileCommands`, the extension ignores `includePath` for the files in the compile_commands.json database.  Are some of the includes still missing for the files you opened?  If so, can you share an entry from the compile_commands.json that illustrates the problem?  It's possible that the include paths are indirectly specified so we don't see them.

[2018-04-26 15:39] BigfootN commented on #1883
Hello,

Thank you very much for your answer. Here is an entry from my `compile_commands.json`:

[code]

Thank you very much in advance.

P.S: I also seemed to notice that the linter doesn't seem to work correctly.  It shows errors, but not warnings. The flags (ex. -Wall -Werror -Wextra) don't seem to be taken into account.

[2018-04-26 17:06] bobbrow commented on #1883
That's correct, we don't show warnings right now.  We might add a setting to enable them in the future.

We should be able to parse compile_commands.json that looks like your example.  Which include path is missing?  You should also change the `compilerPath` in c_cpp_properties.json to `/usr/bin/c++` to match and you can remove system includes from `includePath`.  (In 0.17.0 (pre-release) you can

[2018-04-26 17:29] ftrofin opened #1884 "Can't collapse a C++ class with a single click"
macOS 10.12.6
Version Studion Code Version 1.22.2
ms-vscode.cpptools 0.16.1

I would like to collapse the declaration of a whole class with a single click but I can't. I have to click the '-'  in the left gutter to collapse every section in the classs: public, protected, private so it's a bit onerous. It would be much nicer to have a '-' sign on the line with the class keyword and collapse the who

[2018-04-26 17:31] kaloianm commented on #1864
This is a separate issue. Moved to Separate issue. Moved to https://github.com/Microsoft/vscode-cpptools/issues/1885

Original:
--------------------------------------------------------------------------------------------------------------

Hello,

When the cppvsdbg debugger extension is used with VSCode, it offers a prompt, which is presumably for typing debugger commands. I tried using the WinDbg

[2018-04-26 17:53] WardenGnaw commented on #1882
Tasks are handled by VS Code and not the cpptools extension. Moved to https://github.com/Microsoft/vscode/issues/48776

[2018-04-26 17:53] #1882 closed, assigned to nobody

[2018-04-26 17:59] GorvGoyl commented on #1248
To get latest MinGW: https://mingw-w64.org/doku.php/download

[2018-04-26 18:27] sean-mcmanus commented on #1880
I'm not sure if this is a bug or not, but we'll try to investigate the repro after we're done with 0.17.0.

UPDATE: Sorry...we haven't investigated yet....could be related to https://github.com/Microsoft/vscode-cpptools/issues/1684 .

[2018-04-26 18:33] sean-mcmanus commented on #117
We're tracking this with https://github.com/Microsoft/vscode-cpptools/issues/407 .

[2018-04-26 18:34] sean-mcmanus commented on #1584
We're tracking this with https://github.com/Microsoft/vscode-cpptools/issues/407 .

[2018-04-26 18:34] #1584 closed, assigned to nobody

[2018-04-26 18:35] sean-mcmanus commented on #1884
We're tracking this with https://github.com/Microsoft/vscode-cpptools/issues/407 .

[2018-04-26 18:35] #1884 closed, assigned to nobody

[2018-04-26 20:29] WardenGnaw opened #1885 "Missing cppvsdbg debug console commands"
Originally from https://github.com/Microsoft/vscode-cpptools/issues/1864 by @kaloianm

------------------------------------------------------------------------------

Hello,

When the cppvsdbg debugger extension is used with VSCode, it offers a prompt, which is presumably for typing debugger commands. I tried using the WinDbg commands, but they are not recognized:

Is there a documentation somewhe

[2018-04-26 20:32] WardenGnaw commented on #1885
@kaloianm VS Code automatically shows the prompt in Debug Console and we can not hide it.

Cppvsdbg does not have any debugger commands available. The debugger used by cppvsdbg is vsdbg and not windbg. Are there any commands that you need?

[2018-04-26 20:38] WardenGnaw commented on #1881
Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/1768

[2018-04-26 20:38] #1881 closed, assigned to nobody

[2018-04-26 20:39] WardenGnaw commented on #1881
You may be able to use the ```setupCommands``` in your launch.json to configure lldb.

[2018-04-26 20:42] WardenGnaw commented on #1768
@peteralm80 Sorry, I meant to say we are missing some pretty printing features from the LLDB that we ship. Thank you for showing the commit changes that need to be done in our fork. I'll be working on porting over the changes.

[2018-04-26 21:15] ftrofin commented on #1768
Does VSC use the system installed lldb (installed by Xcode) or does it install its own? I have /usr/bin/lldb at version lldb-900.0.64 (Xcode 9.2) and I have similar problems as the others.

[2018-04-26 22:39] zomgrolf opened #1887 "How to reduce verbosity of cppvsdbg output"
This is happening in VSCode 1.22.2, cpptools version 0.16.1, running on Windows 10 x64 Home, v.1709.

For some reason, whenever I attempt to debug a C++ program, the debugger insists on showing loader snaps in the debug console, even though gflags.exe shows the relevant flag as unchecked (and a cursory glance at the "Image File Execution Options" key in the registry hasn't revealed anything out of

[2018-04-26 23:16] ftrofin commented on #583
I think the default should be "externalConsole": false. The current behavior (on Mac) is to open a new terminal window very time you debug (which usually stays behind the VSC window so you don't even know it's there) and leave it open when the debugging session end. You can quickly accumulate a whole stack of those windows without even knowing they are there.

Setting it to true might make sense i

[2018-04-26 23:37] WardenGnaw commented on #1768
The C++ extension uses its own fork of lldb.

[2018-04-26 23:55] ftrofin commented on #1768
Would setting "miDebuggerPath": "/usr/local/bin/lldb-mi" work? On my Mac, lldb-mi is a link to Xcode's lldb: `/usr/local/bin/lldb-mi -> /Applications/Xcode.app/Contents/Developer/usr/bin/lldb-mi`. Are they compatible?

[2018-04-27 01:06] jamesray1 opened #1888 "lldb type is not recognized with LLDB, CodeLLDB and Native Debug"
The lldb type is not recognized in launch.json.

OS: Ubuntu 17.10
I installed LLDB, and in VS Code I have these extensions installed and enabled:
- Rust (rls)
- Rusty Code
- Rust by kalitaalexey
- Native Debug
- CodeLLDB
- D Language utility extension pack

The lldb type is not recognized with just Native Debug enabled and installed, with both CodeLLDB and Native Debug and with just CodeLLDB.

Wha

[2018-04-27 01:18] WardenGnaw commented on #1888
Could you provide more information on what you mean by lldb type?

If it is for configuration type, the vscode-cpptools extension supports ```cppvsdbg``` and ```cppdbg```. ```cppdbg``` supports working with lldb with the ```MIMode``` field set to ```lldb``` in the launch configuration.

We do not own CodeLLDB or Native Debug.

[2018-04-27 01:20] WardenGnaw commented on #1887
You can disable module loads by adding the following to your launch.json:
[code]

[2018-04-27 01:40] YangRongAtGit opened #1889 "C++ am I missing something or the property "includePath" is broken in c_cpp_properties.json"
Hello,
I am using the vs code Version 1.22.2
The plugin I am using is ms-vscode.cpptools.

I tried to build a simple project. The main file includes a header file (The last path in the property "includePath") from a directory not in the project directory {$workspaceFolder}.
Hence I put the absolute path into the c_cpp_properties.json, hoping the compiler is able to find the header file.
The follow

[2018-04-27 01:46] #1888 closed, assigned to WardenGnaw

[2018-04-27 01:50] sean-mcmanus commented on #1889
The includePath in c_cpp_properties.json is not used for compiling code in tasks. It's used for IntelliSense parsing. Does that make sense?

[2018-04-27 01:58] YangRongAtGit commented on #1889
I see. Thanks for your fast reply. so I should just put the include path in task's args, is that right?

[2018-04-27 02:04] #1889 closed, assigned to nobody

[2018-04-27 02:34] sean-mcmanus commented on #1889
Yes.

[2018-04-27 04:01] summershrimp commented on #1801
Seems this issue comes from https://github.com/Microsoft/MIEngine . I will create a new issue there.

[2018-04-27 04:01] #1801 closed, assigned to nobody

[2018-04-27 05:23] ftrofin commented on #1768
I tried that and it seems to work better. I can now see the content of std::strings, vectors and maps:
![screen shot 2018-04-26 at 10 13 02 pm](https://user-images.githubusercontent.com/8718388/39345888-1df459a2-49a0-11e8-82eb-1684105c360c.png)

Without the miDebuggerPath setting I was seeing only the first line (mObservers: size=2) and nothing under it when I expanded it. There are two issues tho

[2018-04-27 06:31] ytimenkov opened #1890 "compileCommands uses only "command" element and ignores "arguments""
I happen to use waf build system with gcc (6.3) and I found that built-in support generates `compile_commands.json` file which looks like this (I've omitted irrelevant flags)
[code]

When I open file.cpp I see that the extension correctly found compiler and standard include paths but completely ignored explicit defines and include paths.

It's confirmed by log output (set `C_Cpp.loggingLevel` to "

[2018-04-27 07:23] AndiSHFR opened #1891 "New variable ${userProfile} pointing to the home directory of the current user"
Would it be possible to add a new [variable](https://code.visualstudio.com/docs/editor/variables-reference) `${userProfile}` pointing to the current users home/profile directory?

This would enable relative include paths like:

`${userProfile}/.node-gyp/8.9.1/include/node/*`

## TL;DR

I'm creating a native [Node.js](http://nodejs.org/) addon with vscode. I installed Microsoft [vscode-cpptools](ht

[2018-04-27 09:29] pansila commented on #1852
@sean-mcmanus Here is another issue dump. This time only one project is opened. I don't know how to check out the call stack trace, so I put them all here. It happens frequently which is really annoying, could you kindly help to see what's going wrong? Thanks