[2019-02-14 04:07] sean-mcmanus commented on #3168
I've re-activated the bug -- please upvote it so they can give it higher priority.

[2019-02-14 04:34] sean-mcmanus commented on #3169
It turns out this is a Visual Studio controlled issue -- in the start/middle cases our extension is not sent any completion message, but in the end case our extension gets a completion message. I'ved filed a VS Code bug at https://github.com/Microsoft/vscode/issues/68672 .

[2019-02-14 06:03] tsemple commented on #1145
I'm also hitting this problem. I'm running a similar operating system to vyacheslav-fv, debugger output: "GNU gdb (Ubuntu 8.2-0ubuntu1~14.04.1) 8.2". Any ideas how to fix this?

[2019-02-14 06:34] abinmathewabraham commented on #3157
**Setting "C_Cpp.intelliSenseEngine" to "Tag Parser" worked.**
All the files are under the same workspace. Is this the solution? Shall we close this issue?

[2019-02-14 06:44] fredijude commented on #3149
@sean-mcmanus : It works good but the problem now is, all the standard libraries also are appearing in the go to symbol search which i don't want to. Is there a way ?
Or Is there an option to show my workspace symbols first and then the symbols outside ?

[2019-02-14 08:08] sakizhu opened #3170 "can't hint local variable"
why can't not hint local variable correctl?
![image](https://user-images.githubusercontent.com/9567827/52772090-a1c5a380-3072-11e9-8140-7164bf20a8aa.png)

[2019-02-14 08:40] zhouhangzooo opened #3171 "Add a setting to enable red squiggles for "single file" IntelliSense"
When writing c++, if it is wrong and there is no red tilde prompt, the red tilde will appear on another computer.

[2019-02-14 09:18] daravi opened #3172 "Last indent level converted to spaces (.clang-format set to `UseTab: Always`)"
**Type: LanguageService**

I am using "C_Cpp.Clang_format_style": "file" to specify my custom formatting. Here is my `.clang-format` file content:
[code]

However, when formatting, vs-code converts the last indentation level to spaces. For example if I have 4 indentation levels the fourth one is converted to spaces. I have set detectIndentation and insertSpaces to false.

**Describe the bug**
- OS

[2019-02-14 09:31] daravi commented on #3172
I think this might be a convenience feature of vscode and not an actual case of space-indentation.

[2019-02-14 09:31] #3172 closed, assigned to nobody

[2019-02-14 10:05] Uruloke opened #3173 "Breakpoints not cleared when stopping debug using J-Link GDB Server"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 1809
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): None

Using gdb to debug a remote target using the J-Link GDB Server and stopping the debug session while the target is running causes an unclean shut down of the debug session. If a new

[2019-02-14 12:55] joeljosephreji opened #3174 "Code formatting does not work in the latest version of libtinfo"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Kubuntu 18.10
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): vscjava.vscode-java-debug, dbaeumer.vscode-eslint, redhat.java, james-yu.latex-workshop, felixfbecker.php-debug, felixfbecker.php-pack, felixfbecker.php-intellisense, ms-python.

[2019-02-14 13:32] max-katombo opened #3175 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.21.0`
- OS Version: `Linux ia32 4.15.0-45-generic`
- VSCode version: `1.31.0`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/maxwell/ms-vscode.cpptools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-hig

[2019-02-14 13:33] max-katombo commented on #3175
[ms-vscode.cpptools-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-cpptools/files/2865167/ms-vscode.cpptools-unresponsive.cpuprofile.txt)

[2019-02-14 13:33] #3175 closed, assigned to nobody

[2019-02-14 15:11] wrightwriter commented on #3147
Where can I access the externalConsole setting ?

[2019-02-14 16:17] bobbrow commented on #3170
The extension is probably not configured correctly.  Do you see any problems in the PROBLEMS window that say that the extension was unable to resolve one of your `#include` lines?

[2019-02-14 16:20] bobbrow commented on #3171
We turn off the red tildes in a few cases:
1. If you have the following setting: `"C_Cpp.intelliSenseEngine": "Tag Parser"`
2. If the extension is unable to resolve one of your `#include` statements
3. If you opened a C/C++ file without opening a folder.

[2019-02-14 16:23] bobbrow commented on #3174
We redistribute clang-format (we do not compile it).  Are you able to run it directly in your terminal window?  `/home/user/.vscode/extensions/ms-vscode.cpptools-0.21.0/LLVM/bin/clang-format`

[2019-02-14 16:24] bobbrow commented on #3174
Does LLVM distribute a version of clang-format that works for you without installing libtinfo5?

[2019-02-14 17:49] flxflx commented on #3150
Same problem here; same software versions except for Ubuntu being 16.04.

[2019-02-14 17:58] flxflx commented on #3150
The problem seems to be with `"processId":"${command:pickRemoteProcess}"`. Specifying the PID directly  solved this for me.

[2019-02-14 18:58] sean-mcmanus commented on #3160
I found a repro -- it occurs if a command is executed before our extension has fully initialized. The code is supposed to register the command but then delay it until we're ready to handle. It looks like something regressed that (maybe the command localization change?).

UPDATE: It's been fixed for our next release (at least the repro I was hitting) -- the root bug has existed "forever", but chang

[2019-02-14 19:01] pieandcakes commented on #3156
@xujintao if you want build to be part of debug, my comment here will fix your problem:

[2019-02-14 19:02] #3156 closed, assigned to pieandcakes

[2019-02-14 19:03] pieandcakes commented on #1145
@tsemple If you can share your natvis file and a small repro app i can take a look. I suspect something in the natvis is not supported by our implementation.

The error looks like it is coming from when we are loading the natvis so unless I have a copy of the natvis, i don't know what the problem is.

[2019-02-14 19:05] pieandcakes commented on #3147
@wrightwriter in your `launch.json`.

[2019-02-14 19:05] sean-mcmanus opened #3176 "c_cpp_properties.json is blank after Edit Configuration if it's invoked too soon"
1. Open a new folder (without a c_cpp_properties.json) and then do "Edit Configuration". I'm not sure what the timing is exactly, but I've hit this at least 2 times under "normal usage" of the extension.

Bug: Depending on your timing you may hit a command not found (https://github.com/Microsoft/vscode-cpptools/issues/3160) or you get a blank config:

![image](https://user-images.githubusercontent

[2019-02-14 19:49] sean-mcmanus commented on #3149
Yeah, the intention of the "C_Cpp.workspaceSymbols" setting was to remove the standard library symbols, but it's currently treating everything not under the workspace root as "not my code". We need some additional checks to differentiate a path as being user versus system or at least another workspace folder versus a non-workspace folder. Should I open a new issue to track this or change this issu

[2019-02-14 20:06] sean-mcmanus commented on #3169
@rgw5267 The VS Code team says "Yes, quick suggestions are designed to work at the end of words only". Feel free to add your thoughts to that VS Code issue as well if you think they should fix it.

[2019-02-14 20:27] sean-mcmanus commented on #3174
@joeljosephreji ...as in, do newer versions (or the Ubuntu 18 one) at http://releases.llvm.org/download.html that work for you? I believe we ship the Ubuntu 14 version (or maybe the 16 one?), so we might need to ship additional ones.

[2019-02-14 21:13] tsemple commented on #1145
I'm getting this error with any natvis file. Even an empty one like this:
[code]

[2019-02-14 21:15] eshadd commented on #3140
No such folder or executable. Yeah, have been running as a local user.

[2019-02-14 21:28] pieandcakes commented on #3140
So you don't have this folder? This is where VSCode installs the extension.

`C:\Users\<username>\.vscode\extensions\ms-vscode.cpptools-0.21.1\debugAdapters\bin`

[2019-02-14 21:33] eshadd commented on #3140
Sorry, was looking in the VS Code's path. Yes I do have those. Here is the output after running `WindowLauncher.exe`:

[code]

[2019-02-14 21:36] pieandcakes commented on #3140
Ok. Can you disable all the other logging and just enable `"logging": { "traceResponse": true }` and send me the output for trying to start debugging? I want to see what we are sending to the `RunInTerminal` request in your instance because it seems like that isn't able to launch.

[2019-02-14 21:45] sean-mcmanus commented on #3170
To be more specific -- if we fall back to the "Tag Parser" then local variables won't be discoverable. Changing the intelliSenseEngineFallback setting to "Disabled" is another workaround.

[2019-02-14 21:47] eshadd commented on #3140
Here you go:

[code]

[2019-02-14 22:38] pieandcakes commented on #3140
That does not look like the value of `"externalConsole": false` was set.

[2019-02-14 22:45] eshadd commented on #3140
Just verified. I used same settings as above (copy/paste), except for `"externalConsole": false` and `"logging": { "traceResponse": true }`

Output seems identical to me:

[code]

[2019-02-15 00:52] sean-mcmanus opened #3177 "Changes to the intelliSenseMode with a cl.exe compilerPath don't take effect until a reload"
1. Change intelliSenseMode to clang-x64 on Windows (with a cl.exe compilerPath).

Bug: No effect occurs...until reload window is done.

[2019-02-15 02:10] mxdh commented on #3168
It seems that all problems about vscode-cpptools that caused by Visual Studio are closed as low priority.
The issues with "Visual Studio" tag are all open on GitHub.

[2019-02-15 02:34] zhouhangzooo commented on #3171
Thank you very much. If I want to customize this prompt function, for example, I want to create a new test. CPP file without opening the folder. Please give me some advice.

[2019-02-15 02:43] sean-mcmanus commented on #3168
I got it to be re-activated (they had closed it 5 hours after I reactivated it, but I got it re-reactivated again). If you see other issues tagged "Visual Studio" that the linked issues are closed and you want to upvote them, then I could get them re-activated so upvoting is possible. I think I remember seeing just 2 issues currently closed as "low priority" when I reviewed them yesterday -- the V

[2019-02-15 02:50] sean-mcmanus commented on #3171
I don't think we have expose a way to enable squiggles in the Open File scenario. We would have to add a setting to enable it. I think we disabled it because users complained about squiggles in the open file scenario, since in that scenario there is no c_cpp_properties.json to change includePath, but if users have C_Cpp.default.* settings then maybe we should enable squiggles with Open File? There

[2019-02-15 02:53] sakizhu commented on #3170
thank you very much, I have set the intelliSenseEngineFallback setting to "Disabled" , it works! but, why some hint are not exactly? some Member Variable like std::string can't be hinted correctly
![image](https://user-images.githubusercontent.com/9567827/52831526-eb180080-310f-11e9-84bf-70721855fd97.png)

[2019-02-15 02:56] sean-mcmanus commented on #3170
There are squiggles on "string", I assume because the definition can't be found -- it looks like your compilerPath isn't set correctly, so the "string" header is not able to be found. Can you set your compilerPath (in c_cpp_properties.json or the C_Cpp.default.compilerPath setting)?

Or maybe you need to use "std::string"?

[2019-02-15 03:54] sean-mcmanus commented on #3168
@mxdh Also, VS has fix a lot of bugs for us, but previously we were marking them as "parser", but there were some parser bugs caused by us so I created the new "Visual Studio" label to make it easier to find those (I didn't re-tag the Closed issues): See https://github.com/Microsoft/vscode-cpptools/issues?q=label%3Aparser+is%3Aclosed .

[2019-02-15 04:23] mxdh commented on #3168
I'm sorry, I got it wrong.
Thank you very much.

[2019-02-15 04:43] robotdad commented on #3173
Interesting, so you don't reset the device between debug sessions?

[2019-02-15 05:34] zhouhangzooo commented on #3171
I'm sorry I didn't say it in detail, but if I open a C/ C ++ file and don't open a folder, I want it to show an error (red tilde). Where should I modify it?I really need to use your cpptools plug-in for extension, and I hope you can give me more help and Suggestions.

[2019-02-15 06:23] rgw5267 commented on #3169
Thank you, you have clearly explained what I want to say.

[2019-02-15 07:45] zhouhangzooo opened #3179 "Enable IntelliSense error messages to be modified"
Hello, I want to modify the smart prompt, such as the original prompt identifier "XXX" is undefined this paragraph, I would like to modify this paragraph, how do I do?

[2019-02-15 08:03] penguingovernor commented on #3174
I have the same issue running similar specs to OP except regular Ubuntu 18.10

Here is my output when I try to format the code using VSCode.

[code]

When running from the command line:
[code]

As a work around I instsalled `clang-format`
[code]

and then figured out where it lived in my system
[code]

and used that output for the value in my `settings.json`
[code]

and everything seemed dandy!

[2019-02-15 09:47] fredijude commented on #3149
@sean-mcmanus : Sure, i can see that this ID has been used to track the defect :). Any estimate on when this will be picked up ?

[2019-02-15 10:21] osemmler commented on #15
I have stopped using VSCode due to the absence of this feature.
I recommend QtCreator for C ++ development.

[2019-02-15 10:32] Yanpas commented on #15
@osemmler you can use ccls extension instead of this one, it has support for this

https://github.com/MaskRay/vscode-ccls

[2019-02-15 10:59] wrightwriter commented on #3147
@pieandcakes
Here are my config files - https://pastebin.com/AC8HmY48 .
Changing externalConsole to false has no effect.
Disabling all extensions and reinstalling C++ extension also does not change the error.

Terminal log is ```env sh /tmp/Microsoft-MIEngine-Cmd-mzkf2e1l.5qe  ```

```/tmp/Microsoft-MIEngine-Cmd-mzkf2e1l.5qe: 1: /tmp/Microsoft-MIEngine-Cmd-mzkf2e1l.5qe: Syntax error: "(" unexpecte

[2019-02-15 11:09] abmantis commented on #692
Why is this marked as a feature request? Isn't this a bug? Having the debugger breaking in the wrong file is a bug.

[2019-02-15 16:43] darrenhp commented on #1637
I'm sorry that I gave the wrong information.
I found the warning message belong by a clang extension;
After disabling the " C/C++ Clang Command Adapter", the warning disappears.

[code]

[2019-02-15 18:08] Uruloke commented on #3173
The setup commands do actually. But it makes no difference. I've also tried to delete all breakpoints after launching the session a second time but that doesn't help either. When looking through the breakpoints using gdb I can't see any so I'm guessing it sets a breakpoint in a way that can't easily be viewed by the user. The breakpoint it complains about seems to always be the entry point for mai

[2019-02-15 18:11] bobbrow commented on #3171
Currently, the only workaround is to open a folder.  You can open an empty folder if you don't want to open the folder where the code file exists.  Then you can open any code file you want and you should get the red tildes.

We can use this issue to track adding a setting to turn on the squiggles for files when no folder is open.

[2019-02-15 18:14] bobbrow commented on #3179
Sorry, I don't understand what you're asking for.  Can you include a code snippet or screenshot with an example of what you mean?

[2019-02-15 18:44] zhiayang opened #3183 "Multi-Root workspaces, where some roots are children of other roots"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.22.0

I've kind of raised this issue before, but didn't get a proper answer -- and previously things seemed to work, so I just lived with it. Imagine this folder structure (on-disk):

[code]

I was previously informed that multi-root workspaces do not properly support

[2019-02-15 19:51] pieandcakes commented on #3147
Ok. i think the problem is that the path in the command temp file, you have the code on has a `'` in the path and we aren't handing that correctly.
`cd /media/guglev/Z (1,8TB)/ProgrammingProjects/- School/AlGOritmi/Week1`

@WardenGnaw can you take a look at this? I think we are missing some quotes and/or escapes. The pastebin above with the file contents should show you what @wrightwriter is getti

[2019-02-15 20:27] sean-mcmanus commented on #3174
That is strange because we have tested on Ubuntu 18 and formatting works for us. I ran ldd on the latest Ubuntu 18 clang 7 and it still has the libtinfo.so.5 dependency. Can you run "/usr/bin/clang-format --version" and "ldd /usr/bin/clang-format" to see what version it is and what libtinfo.so dependency it has?

[2019-02-15 20:39] sean-mcmanus commented on #3149
I don't know an ETA yet, but it probably won't be in the next 2 weeks because we're busy with other configuration work. @bobbrow added the setting -- I'm still waiting to hear what his thoughts were.

One idea is that we could send all the other workspace folders to the language server, like we currently do for the single root (which we use to check the "Just My Code") -- that change could be impl

[2019-02-15 20:42] penguingovernor commented on #3174
@sean-mcmanus

[code]

[2019-02-15 20:46] sean-mcmanus commented on #692
@pieandcakes Wasn't this a VS Code bug that couldn't be fixed by us? https://github.com/Microsoft/vscode/issues/12448

[2019-02-15 20:53] wrightwriter commented on #3147
Nice! It's working. The error stems from having "(" and/or ")" characters in the path name.

[2019-02-15 20:58] sean-mcmanus commented on #3179
@bobbrow "identifier XXX is undefined" is an IntelliSense error message, so it sounds like they want to modify that, possibly to localize the text or maybe to disable the error?

[2019-02-15 20:58] #2585 closed, assigned to nobody

[2019-02-15 21:15] sean-mcmanus commented on #3174
@penguingovernor Okay -- we tested with Ubuntu 18.04 and not 18.10 -- the binary we ship appears to be incompatible with that OS, so the workaround you did is the recommended course until we can get an alternative binary.

[2019-02-15 21:34] bobbrow commented on #3149
We could add a third option that includes code outside the workspace folder but excludes stuff from the system include path (now that we have a way to differentiate).  Or we may want to change our definition of "external" code to only include stuff in the system include path.

The complication here is for cases where external code is installed under a system include path. For example, how do we di

[2019-02-15 23:13] #2816 closed, assigned to nobody

[2019-02-15 23:13] pieandcakes commented on #2816
I've commited the change and it will be in a future release. Thanks

[2019-02-16 12:35] andreaolivotto commented on #1235
I'm very interested as well. I'm trying to use VS Code to work on an embedded project based on nrf52 platform. IntelliSense doesn't works as the _WIN32 define changes some include files.

Here some lines from "nrf.h" form Nordic Semiconductor SDK:
[code]

No problem for compiling the code using the makefile, though.

[2019-02-16 18:42] joeljosephreji commented on #3174
I haven't tried terminal editing and the formatting worked without the clang-format package installed

[2019-02-16 18:45] joeljosephreji commented on #3174
I don't have clang-format package installed

[2019-02-16 19:00] joeljosephreji commented on #3174
I haven't tried out clang-format in my terminal at all. I have to check it out. When I did an `apt search llvm` and an `apt search clang`, the only package I found installed is `libllvm7`. I will test clang-format in my terminal and share the results here.

[2019-02-16 19:12] joeljosephreji commented on #3174
Cool, so I guess from the looks of things `clang-format6` (I got that by running `~/.vscode/extensions/ms-vscode.cpptools-0.21.0/bin/../LLVM/bin/clang-format --version`) package is being shipped in the extensions which requires `libtinfo5` package installed and the default clang-format for Ubuntu 18.10 is `clang-format7` which requires `libtinfo6` (which is installed by default). So, the solution

[2019-02-16 20:00] #3102 closed, assigned to nobody

[2019-02-16 22:12] voidif opened #3185 "How to debug qemu vm with vscode"
Hello all,
I try to use vscode to debug programs, launched in QEMU, which has a gdbserver at port 1234

In my bash cmd windows, I can simply type gdb -x inittmp.gdb -s kernel/weenix.dbg -x commands.gdb -x init.gdb, then it goes into gdb. But I can not do this in vscode.

Form the issue https://github.com/Microsoft/vscode-cpptools/issues/2713, It looks I can not ignore "program" paras, so I set it

[2019-02-17 02:29] wxutopia opened #3186 "This extension cannot find the right include path."
**Type: LanguageService**

**Describe the bug**
- OS and Version:Manjaro 18.0.2 Illyria
- VS Code Version:1.30
- C/C++ Extension Version:0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
When I include stdio.h file in a c++ program, the extension hints: cannot open source file "stdarg.h" (dependency of "s

[2019-02-17 12:51] ghost opened #3187 ""includePath" just don't work"
**Describe the bug**
- OS and Version: Win 10
- VS Code Version: latest
- C/C++ Extension Version: latest
- Other extensions you installed (and if the issue persists after disabling them): none
- A clear and concise description of what the bug is.

**To Reproduce**
1. Download DirectX SDK: https://www.microsoft.com/en-us/download/details.aspx?id=6812
2. Add it to include paths
3. Try to include `d

[2019-02-17 15:28] zhiayang commented on #2978
Hi there,

Any updates on this issue?

Thanks!

[2019-02-18 02:34] zhouhangzooo commented on #3179
Yes, we want to modify this "identifier XXX is undefined" intellisense error message, because we may not understand this prompt on our side, so we want to make this prompt a little more detailed, so we ask you whether there is a way to modify this prompt.

[2019-02-18 12:56] MMROmbo opened #3188 "Debugging problems with miDebuggerPath"
Type: Debugger
I'm actually having problems with debugger

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Windows 10 Home
- VS Code Version: 1.31.1 User Setup
- C/C++ Extension Version: 0.21.0

- The main problem I think is in the launch.json file, I

[2019-02-18 13:24] MSRockyH commented on #1839
not sure if this is still valid or will work. I am going to try it though.
https://blogs.msdn.microsoft.com/vcblog/2016/10/24/building-your-c-application-with-visual-studio-code/

[2019-02-18 16:05] BaronZemo commented on #2901
Also, this may be a separate issue, but in the past, the active call stack would show up in the Call Stack View. Now, I have to hunt through the 50 different threads I have active to find what call stack I'm currently in.

[2019-02-18 16:57] BaronZemo commented on #3144
Looks like #2901 is probably related.

[2019-02-18 19:42] brandon654321 opened #3189 "[Linux] Cannot Pass Environment Variable To Debug Session"
**Describe the bug**
- OS and Version: Linux
- VS Code Version: 1.31.0
- C/C++ Extension Version: 0.22.0
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is.

I am attempting to debug an application that has to link to some custom DLL's.

The application needs the proper path set in the LD_LIBRARY_PATH environ

[2019-02-19 07:48] SanderMertens commented on #3138
The behavior changed in the latest version, but it still cannot find the headers. I will need some time to investigate and come up with an updated issue description.

[2019-02-19 08:06] izzygold opened #3190 "No definitions found on C code"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
windows 10
Version	10.0.17763 Build 17763

- VS Code Version:
1.3.1 user setup
- C/C++ Extension Version:
0.21.0

- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

I added my workspace to visual code, from a virtual driver that was mounted using

[2019-02-19 15:54] fomotoshi commented on #1768
I still have same problem. omg 19 feb

[2019-02-19 19:45] sean-mcmanus commented on #1235
@andreaolivotto You should be able to stop _WIN32 being defined by setting the compilerPath to a valid gcc/clang-based compiler that is executable on Windows (MinGW, WSL, etc.). You could also change the intelliSenseMode to "clang-x64" or "gcc-x64", but in that case you may have to manually add compiler-provided properties to the "defines" and "includePath" setting as well.

[2019-02-19 19:49] sean-mcmanus commented on #3174
@joeljosephreji Yes, this is a breaking incompatibility change with Ubuntu 18.10 -- I don't know if that is "by design" or a bug with the OS. Ubuntu 18.10 itself distributes a specially compiled clang-format 7 with the libtinfo6 dependency, which is not available from the pre-built binaries on the LLVM download site. Ubuntu 18.04 doesn't have this issue. Until we can ship a special version for Ubu

[2019-02-19 19:53] sean-mcmanus commented on #3186
This scenario is supposed to work. Have you set your compilerPath to the gcc you're using (and removed any compiler-provided system headers from your includePath)?

[2019-02-19 19:57] sean-mcmanus commented on #3187
Our extension does not currently provide any build features (the errors are from your compiler and not our C/C++ extension). The c_cpp_properties.json is to configure IntelliSense and is not used during the compilation with gcc.

I do not believe D3D9 is compilable with gcc -- it requires a Microsoft cl.exe compiler, i.e. obtained from a Visual Studio or Visual C++ Build Tools download.

How exact

[2019-02-19 20:12] sean-mcmanus commented on #2978
I'm not sure yet what the priority is (i.e. this issue hasn't gotten any upvotes or reports from other users).

It seems like we'll be too busy with other stuff to get this in for the February/March release, but I could move it to April for us to consider then.

[2019-02-19 20:21] sean-mcmanus commented on #3179
There is not currently a way to modify this text. We do eventually plan to have the message localized for different languages, but I don't know if that implementation will allow user-modifications. If we started exposing error codes (based on change https://github.com/Microsoft/vscode-cpptools/issues/2345 ), then we could also expose a setting that could enable different messages to be used for th

[2019-02-19 20:28] sean-mcmanus commented on #2901
@BaronZemo The issue you're describing is a VS Code bug being tracked by https://github.com/Microsoft/vscode/issues/68616 . It's supposed to be fixed in the February update, but the fix hasn't been made yet.

[2019-02-19 20:34] WardenGnaw commented on #3188
WindowsDebugLauncher is used the VSCode integrated terminal.

miDebuggerPath should be the path to gdb. Usually its /usr/bin/gdb on Linux or gdb.exe if you install MinGW or Cygwin.

[2019-02-19 20:34] sean-mcmanus commented on #3190
This appears to be issue https://github.com/Microsoft/vscode-cpptools/issues/1046 , i.e. it's not a supported scenario yet. Can you upvote that issue?

[2019-02-19 20:58] andrewleech commented on #2901
I'm also seeing this issue in a big way when debugging embedded targets, where the debugger link is slower I guess. The deeper the call stack, the slower the debugging.
It's making embedded debugging of larger projects impossible with vscode

[2019-02-19 21:52] sean-mcmanus commented on #3187
Can you try adding something like `"-I D:\\Soft\Microsoft DirectX SDK (June 2010)\\Include"` to your tasks.json command?

[2019-02-20 01:10] WardenGnaw commented on #3189
`environment` in the launch.json will set the environment variable before it launches the program.

Calling `getenv("LD_LIBRARY_PATH")` with `"environment": [ { "name": "LD_LIBRARY_PATH", "value": "/mypath/to/lib/" } ]` set in the launch.json and it outputs `/mypath/to/lib/`.

To clarify, do you want your program's environment to have LD_LIBRARY_PATH set?

[2019-02-20 01:11] #3188 closed, assigned to WardenGnaw

[2019-02-20 01:20] WardenGnaw commented on #3161
Can you [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and share it here?

[2019-02-20 02:50] zhouhangzooo commented on #3179
About this "a little more detailed" it says that we can edit the text of this prompt, and not let you write it, and of course you can translate the text messages to different languages, and I suggest that you publish the methods for converting the language so that some of the users' needs can be met. Also is you the error message not accurate enough (as shown in figure, the error is less a semicol

[2019-02-20 03:18] sean-mcmanus commented on #3179
The "identifier is undefined" code occurs in our parser even when the identifier is not part of a function call expression, so if you modified the text to add the "you need to create this custom function" then it would apply even for "return undefined_var", which would be incorrect. It is unlikely that we would modify our parser to have a different error code if `()` is after the undefined identif

[2019-02-20 07:40] joeljosephreji commented on #3174
Or the issue can be resolved by just installing `libtinfo5` package in Ubuntu 18.10 and its variants.

[2019-02-20 08:52] reszes98 commented on #3163
@pieandcakes That's right i'm using mingw, thanks, i will try it.
![image](https://user-images.githubusercontent.com/1857244/53078758-39a11280-34f5-11e9-9ad6-0e7204a7ee60.png)

[2019-02-20 13:30] brandon654321 commented on #3189
Yes, I needed the shell which launched the program to have the proper LD_LIBRARY_PATH set. I was able to achieve this by using the `setupCommands` on a different machine. The `setupCommands` is just some commands which are run within GDB before it launches my program to be debugged.  Still not sure how/why setting `environment` would not correctly setup the environment variable in the new shell (I

[2019-02-20 13:31] AndreasReich opened #3192 "MiMode/visualizerFile/showDisplayString don't work with lldb @ macOS"
Type: Debugger

- OS and Version: macOS 10.14.3
- VS Code Version: 1.31.1
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Using lldb `MIMode`, `visualizerFile` and `showDisplayString` are all marked as `Property <property> is not allowed`. It also seems that they are indeed without

[2019-02-20 13:42] jantrompper commented on #2902
I ran into a similar problem. Tried to do the forcedInclude fix, but ran into the issue that Intellisense warned me that certain .h files could not be found.

Turned out that STM32CubeMX does not automatically uncomment the device I use in `{projectRootFolder}/Drivers/CMSIS/Device/ST/{device family}/{device family}.h` (for me that was `./Drivers/CMSIS/Device/ST/STM32L0xx/stm32l0xx.h`)

When you op

[2019-02-20 14:21] izzygold commented on #3190
Using these configurations solved the issue:

{
    "configurations": [
        {
            "name": "Win32",
            "includePath": [
                "${workspaceFolder}",
            ],
            "defines": [
                "_DEBUG",
                "UNICODE",
                "_UNICODE",
            ],
            "windowsSdkVersion": "01.1.11111.1",
            "compilerPath": "/usr/bin

[2019-02-20 14:21] #3190 closed, assigned to nobody

[2019-02-20 15:35] WEGFan opened #3193 "The debugger hangs after reaching "cout""
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 1709 (16299.192)
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): None

**To Reproduce**
Code sample
[code]
launch.json
[code]
Steps to reproduce the behavior:
1. Add breakpoint on `cout << 123 << endl;`
2. Start debugging
3. Click `Step Ov

[2019-02-20 16:06] lmglmg commented on #1768
There is another extension which can be used for debugging:

https://marketplace.visualstudio.com/items?itemName=vadimcn.vscode-lldb

I found it to be more capable than the cpptools debugger.

[2019-02-20 17:22] nbrachet commented on #3133
Additional comment: it looks like `cpptools` isn't honoring `files.exclude` (or I don't understand `files.exclude`.)
`dtruss` shows `cpptools` scanning files that should have been filtered out:
[code]
when `**/bazel-*` is in `files.exclude`.

[2019-02-20 17:50] dirthsj opened #3194 "Remote Debug Configuration"
I have a configuration for remote debugging:
[code]
...however, the address I am debugging changes quite often.  I would greatly appreciate some way to select from local IP addresses (eg. those revealed by `arp -a`) or manual entry on launch, similar to `${command.pickProcess}`

[2019-02-20 18:23] daranday commented on #664
Would love to have this feature!

[2019-02-20 18:52] WardenGnaw commented on #3194
To clarify, you want `launch.json` to be something like below?
[code]

As you mentioned, this is similar to the process picker. ${command.pickProcess} is registered in [package.json](https://github.com/Microsoft/vscode-cpptools/blob/035d0284d9b6b15b3a4a9e52f7ec1d343383dc0a/Extension/package.json#L633). The `extension.pickNativeProcess` command is registered during [initialization](https://github.c

[2019-02-20 19:27] dirthsj commented on #3194
Yes, that is exactly what I would like.

[2019-02-20 19:40] sean-mcmanus commented on #3190
Okay, that is good to hear. The compilerPath is probably the most important, because we use it to set the compiler defines and includes.

[2019-02-20 20:27] sean-mcmanus opened #3195 "#include completion doesn't respect the files.exclude setting"
It will show excluded folders in the results, and then when "/" is used it will recurse one level and show the children. It repros with recursive and non-recursive includes, but with recursive includes it follows the non-recursive code path (i.e. recursion only happens when "/" is typed).

I'm not sure how important this is to fix, i.e. no users have complained yet. Up vote this if it's important

[2019-02-20 20:29] sean-mcmanus commented on #3133
Are you able to tell what sort of access is occurring and when the access occurs? The files.exclude problems may be https://github.com/Microsoft/vscode-cpptools/issues/3123 , if it is just checking for a list of files in directories, but if it's actually opening files (possibly parsing it), then it's possible there is a bug somewhere, but I'm not able to repro it with a simple "**/bazel-*" entry i

[2019-02-20 21:34] nbrachet commented on #3133
Here's what looks like a typical sequence for a file:
[code]

So yes it is opening the files.

It is worth noting that bazel (we use [bazel](https://bazel.build/) as our build system) creates many symlinks. Could it be that the `files.exclude` list is checked against the symlink and not matching whereas the realpath would match? Or something like that?

[code]

I did try to be very broad in my `fi

[2019-02-20 22:23] WardenGnaw commented on #3193
I believe this is an issue with MinGW GNU gdb (GDB) 7.8.1.

If possible can you see if this repros on GDB 7.6.1?

[2019-02-20 22:39] WardenGnaw commented on #3185
Can you [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and share it here?

[2019-02-20 22:44] WardenGnaw commented on #2920
Sorry for the delay, this will be fixed in the next release.

Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/3150

[2019-02-20 22:44] #2920 closed, assigned to nobody

[2019-02-20 23:00] sean-mcmanus commented on #3133
Files.exclude is supposed to apply to the symbolic link name and not the target of the link (both for VS Code and our extension), so the "**/bazel-*" should work.

No where in our code do we open/parse a file of type ".lproj" unless you have added it in your files.associations as a C/C++ file or you have #included a ".lproj" file, which seems unlikely. It appears that the "open_nocancel" is just u

[2019-02-20 23:06] sean-mcmanus commented on #3149
@fredijude Adding the paths to the standard libraries that you want to exclude to the "search.exclude" setting should remove those from the "Go to Symbol" results. Let us know if you have any problems with that workaround.

[2019-02-21 01:14] WardenGnaw commented on #371
https://github.com/Microsoft/MIEngine/pull/757 implements Integrated Terminal

[2019-02-21 01:14] #371 closed, assigned to nobody

[2019-02-21 01:17] #776 closed, assigned to pieandcakes

[2019-02-21 01:19] WardenGnaw commented on #1030
Closing issue.

Please file another ticket if you experience this issue again.

[2019-02-21 01:19] #1030 closed, assigned to nobody

[2019-02-21 01:21] WardenGnaw commented on #1059
Closing issue.

Please file another issue if you have any other questions using the latest extension.

[2019-02-21 01:21] #1059 closed, assigned to nobody

[2019-02-21 01:21] WardenGnaw commented on #1050
Closing issue.

Please file another issue if you have any other questions using the latest extension.

[2019-02-21 01:21] #1050 closed, assigned to pieandcakes

[2019-02-21 01:24] #1738 closed, assigned to nobody

[2019-02-21 01:27] WardenGnaw commented on #2287
You can  use `"externalConsole": false` in launch.json to have your output be directed to the integrated terminal.

[2019-02-21 01:27] #2287 closed, assigned to nobody

[2019-02-21 01:34] #2701 closed, assigned to WardenGnaw

[2019-02-21 02:07] tpqw commented on #1768
it works for me. tks.

[2019-02-21 02:24] sean-mcmanus opened #3197 "cppvsdbg debugger shows "An unspecified error has occurred." for structured binding variables"
I've filed an internal debugger bug on this with a repro project. Reproed with cppvsdbg on Windows.

The repro is with structured binding code like

[code]

The bug doesn't repro with VS.

[2019-02-21 02:36] RRRaymond commented on #1768
it works awesome! thanks!!!!

[2019-02-21 03:03] nbrachet commented on #3133
You are correct: I don't #include a ".lproj" file.
It does appear my issue is indeed #3123.

I'll try removing the "**" from my includePaths...

[2019-02-21 05:15] ThadHouse commented on #3195
I've noticed that with API provided headers that sometimes the project root folder is included as well, not just the headers included via the provider. Not sure if this is related or not. It's kind of random if it does or not.

[2019-02-21 06:02] WEGFan commented on #3193
In gdb 7.6.1 there is no issue, thanks!
But I'm using 7.8.1 before and the problem didn't occur.

[2019-02-21 06:52] kzhui125 opened #3198 "indent 5 spaces rather than 4"
macOS, VSCode 1.31.1, C/C++ extension 0.21.0

settings:
[code]

steps to reproduce:
1. open main.c
2. put cursor after `int main() {`
3. enter
4. you can find there is 5 spaces, 4 is expected.

[main.c.zip](https://github.com/Microsoft/vscode-cpptools/files/2888013/main.c.zip)

[2019-02-21 08:06] Lennon925 commented on #3111
Will this issue be fixed on next cpptools version ?

[2019-02-21 09:53] mak-ableton opened #3199 "Support additional extensions in "Switch Header/Source""
**Type: LanguageService**

It would be great if the "Switch Header/Source" command could support additional (ideally user-configurable) extensions, such as `.ipp` and `.mm`.

[2019-02-21 11:17] dwilliamson commented on #2901
Any update on this? My C++ app is taking 10 seconds between each step.

My callstack depth is only around 7 but there are over 30 threads that go into some kind of spin state before I can step again or inspect local variables:

![image](https://user-images.githubusercontent.com/1532903/53165310-42174d00-35ca-11e9-9f38-e4d4181a750a.png)

[2019-02-21 16:06] stjen commented on #2738
@msvaillant I can confirm I get the same result too, breakpoint is hit (and thus execution is stopped) but the UI does not react.
I have tested on 1.32.0-insider (2e4d4a6bb16a65303b460795fa4ac734f9aea43e) and 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60)

I have attached a full engine log below:
[code]

[2019-02-21 16:17] Blindev opened #3200 "Debug console didn't print first number"
Type: Internal Debugger

- OS and Version: Windows Pro 1809
- VS Code Version: 1.13.1
- C/C++ Extension Version: 0.21.0
- Debugger: MinGW 6.3.0-1

While executing the following code :

[code]

I have the following output in the internal Debug Console:

[code]

But the first number is missing.

For further testing, I tried with characters :

[code]

And the output is correct :

[code]

**To Reprodu

[2019-02-21 16:59] stjen commented on #2738
Ok, I decided to try some old versions to see if I could pinpoint the version where it went wrong, as it seems that per #511 it has worked previously, and curiously it seems that the exact same scenario actually worked fine in 1.22.2!
It does however *not* work from 1.23.1 onwards.

Below I have attached the full engine log from a _successful_ run in 1.22.2.
[code]

[2019-02-21 18:31] ghost commented on #3187
I'm not mean that it's your extension need to build the code itself. g++ do all the work. Please read last part of the original topic carefully: I explictly described that everything works with absolute paths.

Actually, documentation is on Microsoft official site: https://code.visualstudio.com/docs/languages/cpp
I simply installed g++, added it to system PATHS and wverything works like a charm fo

[2019-02-21 20:09] pieandcakes commented on #3163
Please comment/reopen if that doesn't get it working for you with specific steps. Thanks

[2019-02-21 20:09] #3163 closed, assigned to pieandcakes

[2019-02-21 20:12] pieandcakes commented on #2901
If you are doing multithreaded debugging, with the newer version of VS Code. They are requesting a Call stack for every thread when stopping, which is new behavior. [Microsoft/vscode#68648](https://github.com/Microsoft/vscode/issues/68648) is open for this issue.

If your problem is single threaded stepping is slow, then comment below.

[2019-02-21 20:34] sean-mcmanus commented on #3198
This is caused by the VS Code editor.detectIndentation setting -- change that to false to fix this.

[2019-02-21 20:46] sean-mcmanus commented on #3111
It is not currently planned to be fixed in the next version. We don't have an ETA on a fix yet.

[2019-02-21 20:56] sean-mcmanus commented on #3199
Yeah, this has been on our TODO list for the past 2 years. We could probably look at files.associations for the header files to use (not sure if we would need another setting to differentiate which are headers versus source extensions). Our extension already treats ".mm" as a C++ file in other cases, but not for the switch header/source...we could also update our hardcoded list to include these ot

[2019-02-21 21:01] sean-mcmanus commented on #3187
What is the error you see with our extension? The includePath is used by our IntelliSense process to locate the correct file from `#include` statements to provide error squiggles and other features.

[2019-02-22 00:31] #3200 closed, assigned to WardenGnaw

[2019-02-22 02:14] kzhui125 commented on #3198
@sean-mcmanus thanks, it works.

[2019-02-22 02:14] #3198 closed, assigned to nobody

[2019-02-22 04:48] Eileen0 opened #3201 "When debug it comes out Unable to open 'iofflush.c'"
I am working on the Ubuntu 14.04, VS Code 1.30.2 . When I am debugging the code, it comes out the problem that

Unable to open 'iofflush.c': File not found (file:///build/eglibc-oGUzwX/eglibc-2.19/libio/iofflush.c).

when I click on the create file button, it shows that

Permission denied writing to file (file:///build/eglibc-oGUzwX/eglibc-2.19/libio/iofflush.c)

Even if I raised the authority as

[2019-02-22 05:58] zhouhangzooo opened #3202 "How do you programmatically control plug-in enable and disable"
How do you programmatically control plug-in enable and disable？

[2019-02-22 10:00] tak2siva commented on #827
@alan23273850 It's not working for me :(

[2019-02-22 14:37] patrykbajos opened #3204 "avr-gcc -mmcu command is omitted. -MF arg should be stripped"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux x64 4.14
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): vector-of-bool.cmake-tools, cheshirekow.cmake-format, platformio.platformio-ide
- A clear and concise description of what the bug is.

Processor specific command `-mmcu=atmegaX

[2019-02-22 15:07] austenc commented on #3064
Also encountering this all of a sudden. Is there a docs page that explains how to debug the internal language service? Happy to provide more info, just not sure how yet!

[2019-02-22 15:15] aaronlelevier commented on #723
Hi, is a middle wildcard not supported though?  For example:

[code]

It's not finding the path, and I'm trying to avoid adding each `opencv/modules/<some-module>/include/**` to the `includePath`

Thanks

[2019-02-22 18:25] WardenGnaw commented on #3201
This is the same issue as https://github.com/Microsoft/vscode-cpptools/issues/2762.

It is trying to open a library source that does not exist in your path.

[2019-02-22 18:25] #3201 closed, assigned to nobody

[2019-02-22 23:42] sean-mcmanus commented on #3202
What do you mean exactly? What programming API are you intending to use and what feature are you trying to disable/enable? We have an intelliSenseEngine "Disabled" setting which will disable the language server.

[2019-02-22 23:55] sean-mcmanus commented on #3204
This appears to be the same issue as https://github.com/Microsoft/vscode-cpptools/issues/1755 .The current workaround is to set your compilerPath to "/usr/bin/avr-gcc -mmcu=...". Does that work for you? Or does it appear that our attempt to query the /usr/bin/avr-gcc is failing?

[2019-02-23 01:31] BeBopping commented on #1025
I agree with others here. This is one of the most powerful debuging features that I use in VS, and it really needs to be added to VSCode if at all possible..

[2019-02-23 01:48] sean-mcmanus commented on #3064
@austenc The language server process is closed source. You could attach a debugger to the process and see call stacks or open the database files in a SQLite editor, but I don't think that would be enough to find a cause/fix. If you can provide a simple repro project, that might help the most.

[2019-02-23 08:42] JoeyRxy opened #3206 "[windows insiders]the extension always notify me to update to new version 0.22.0"
the notification is:

so I **reload again and again**.But it still show up the notification!

[2019-02-23 11:07] lh123 opened #3207 "ErrorSquiggles only appears in open files"
**ErrorSquiggles** disappears when the file is closed.

[2019-02-23 12:18] giuliofoletto commented on #1772
Same issue here. Seems to be kind of a basic feature. Hope to see it fixed in the near future.

[2019-02-23 12:24] bombs-kim opened #3208 "when pasting code that doesn't end with a semicolon, code in the next line is concatenated to the current line"
**Type: LanguageService**

**Describe the bug**
- OS and Version: OSX 10.13 High Sierra
- VS Code Version:
1.31.1
1b8e8302e405050205e69b59abb3559592bb9e60
x64
- C/C++ Extension Version:  0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

when pasting code that doesn't end with a semicolon, current line's

[2019-02-23 16:15] SoftwareApe opened #3209 "No intellisense with CMake (Clang project)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
I'm trying to build a tool with libTooling in clang. If you follow the guide you add your project under \<LLVM-PROJECT\>/clang

[2019-02-23 16:18] patrykbajos commented on #3204
I have tried `/usr/bin/avr-gcc -mmcu=...` (before posting Issue) as `compilerPath`. It was not working.

[code]
Here is my configuration I am using. Compile command for file that I am testing is:
[code]
There are only defines like `__AVR__` which are not specific to `-mmcu=...`.

[2019-02-23 19:38] ilg-ul opened #3210 "Substitute macros in miDebuggerPath"
Type: Debugger
This is an enhancement proposal.

- OS and Version: macOS 10.13.6
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): none

---
For various reasons, I currently have gdb installed in a custom location, in my home folder.

If I try to define:

[code]

... the debug session fails with 'Unable to

[2019-02-24 01:38] #3150 closed, assigned to WardenGnaw

[2019-02-24 04:04] Trevinlc1997 opened #3211 "Why aren't issues closed when feature is finished?"
This isn't related to cpptools per se but instead of the "fixed (release pending)". Couldn't you just close the issue all together to represent you are finished working on it, etc? I believe Visual Studio Code does it, but don't quote me on that lol. Just curious is all.

[2019-02-25 07:33] Leedehai opened #3212 "A value of type X cannot be used to initialize an entity of type X"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS 10.14.3
- VS Code Version: 1.13.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): too many... yes
- A clear and concise description of what the bug is: A value of type X cannot be used to initialize an entity of type X

**To Reproduce**
1. Create a new docume

[2019-02-25 07:44] Leedehai commented on #3212
However, this is in a .h file. Moving the definition of `asArray()` to another .cpp file solves the issue.
<img width="1021" alt="screen shot 2019-02-24 at 23 44 37" src="https://user-images.githubusercontent.com/18319900/53321750-2cd24500-388e-11e9-9c1f-55314fb7ed8f.png">

[2019-02-25 08:41] kreshano commented on #2992
@WardenGnaw any pointer on this? is there anything I am missing here?

[2019-02-25 09:42] germinolegrand opened #3213 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.21.0`
- OS Version: `Linux x64 4.9.0-8-amd64`
- VSCode version: `1.31.1`

[ms-vscode.cpptools-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-cpptools/files/2899824/ms-vscode.cpptools-unresponsive.cpuprofile.txt)

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-caus

[2019-02-25 13:58] ionutsoare commented on #2118
I would also love to see this happening - quite helpful in debugging ARM targets.

[2019-02-25 17:08] thomasreiser commented on #2998
All these proposals are not working on my Arch machine.

If have set the external terminal to `gnome-terminal`, `xterm` and `x-terminal-emulator` - none of them worked.
I have also set `externalConsole` to `true` and `false`.

I always get the same error:
`Stopping due to fatal error: NullReferenceException: Object reference not set to an instance of an object`

Strange to have a IDE which is not

[2019-02-25 17:09] WardenGnaw commented on #3210
We do not expand variable references in the launch.json. VS Code does the variable replacement before passing it to the extension.

I believe you want to use ```$(env:HOME}``` from https://code.visualstudio.com/docs/editor/variables-reference#_environment-variables

[2019-02-25 17:21] WardenGnaw commented on #3213
From the .cpuprofile, it is taking a long time to load a module. VS Code's solution is https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load#code-loading

[2019-02-25 17:24] ilg-ul commented on #3210
Hi Andrew,

Thank you for your feedback, I checked and indeed, when using the correct syntax, the substitution is performed.

[2019-02-25 17:24] #3210 closed, assigned to WardenGnaw

[2019-02-25 17:46] Gruntfuggly opened #3214 "Feature Request: Show function return value in the debugger"
Would it be possible to show the last function return value somewhere in the debugger window - preferrably variables?

I know it's possible to get at using gdb commands, but it's fairly convoluted. Not sure how difficult it is on Windows though?

[2019-02-25 18:08] bobbrow commented on #3202
In the terminal you can run `code --disable-extension <extension-id>` to disable extensions and `code --install-extension <extension-id>` to install extensions.

A full list of CLI commands can be found by running `code --help`

[2019-02-25 18:09] #3202 closed, assigned to nobody

[2019-02-25 18:14] bobbrow commented on #3207
This is how VSCode works with other languages too.  We could consider adding a setting to leave the squiggles around, but we'd need to see more upvotes before doing this work.

[2019-02-25 18:19] bobbrow commented on #3204
Did you try with the [0.22.0-insiders](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.22.0-insiders) build?  There was a bug in the current release version of the extension where `compilerPath` did not override the compiler in `compile_commands.json`.

[2019-02-25 18:24] bobbrow commented on #3211
We could close it, but then the issue wouldn't show up in issue searches by default.  We follow a similar process as the [Visual Studio Developer Community](https://developercommunity.visualstudio.com).  When we complete work on an issue we mark it as "fixed (release pending)" and then close it when the release goes public.

[2019-02-25 18:24] #3211 closed, assigned to nobody

[2019-02-25 19:05] WardenGnaw commented on #2992
Sorry for the delay. I can't seem to reproduce the issue.

I set a breakpoint on the ```cout << "its : " << test << endl;``` and it hits it after inputting ```10```.

My external window looks like this:
[code]

Which version of VS Code and the Cpptools extension are you using?

[2019-02-25 19:38] sean-mcmanus commented on #3206
What version of VS Code do you have? This might be a bug if your version of VS Code is too old.

[2019-02-25 19:48] sean-mcmanus commented on #3211
We currently have 3 states:
1. Fixed with a non-released branch. (marked "Fixed (release pending)").
2. Fixed with the shipped Insiders. (also marked "Fixed (release pending)", but usually with a comment stating that the Insiders has the fix).
3. Fixed with the non-Insiders. Closed.

One advantage of "Closing" issues that have internally been fixed is that it allows the Milestone to show an accura

[2019-02-25 19:58] sborkowski commented on #2994
As far as I can tell, updating and removing the "**" seems to have fixed the issue.

Thanks.

[2019-02-25 20:07] sean-mcmanus commented on #3208
I'm not reproducing the issue. Does this repro with the C/C++ extension disabled? What are your format-related and editor.* settings?

[2019-02-25 21:33] sean-mcmanus commented on #3209
The message "Couldn't find ..." doesn't come from our extension. Are you using some other extensions that could interfere? What is your c_cpp_properties.json "compileCommands" property set to? If you [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) you can see more info about what include paths are being used.

[2019-02-25 22:03] sean-mcmanus commented on #3212
I'm able to repro the bug. It's a bug inherited from VS. I normally would create a bug on VS myself, but they've asked us to have users to report it themselves at https://developercommunity.visualstudio.com/content/problem/post.html?space=62 -- simply pasting a link to this bug report would be good enough. If that is too much of a burden for you, let me know, and I'll open the bug myself.

[2019-02-25 22:09] sean-mcmanus commented on #3213
@WardenGnaw So we should be using WebPack? Do we know how severe of an issue this is, i.e. how much of a benefit would be gained?

[2019-02-25 22:16] sean-mcmanus commented on #3207
Is there a reason you would want error squiggles to still show for closed files? Are these closed files header files that belong to the currently open translation unit?

[2019-02-25 23:45] WardenGnaw commented on #3213
@sean-mcmanus We would have to do profiling on WebPacked code vs non-WebPacked code and see what the improvement is.

[2019-02-26 00:14] ES5017 commented on #2052
same problem, it didn't work

[2019-02-26 00:17] ES5017 commented on #183
I have the exact same problem but with a red line not green - there is no lightbulb

[2019-02-26 00:19] sean-mcmanus commented on #2052
@ES5017 I don't know what "same problem" means. What didn't work? Can you open a new issue?

[2019-02-26 00:21] sean-mcmanus commented on #183
@ES5017 We need more repro details. Can you open a new bug?

[2019-02-26 00:21] ES5017 commented on #183
sure

[2019-02-26 00:25] ES5017 opened #3216 "File not found for headers in cpp files"
Even though I can peek definition of the header files in cpp files, it underlines them in red and gives the error 'file not found'. If I change it from, say, include "test.hpp" to include "../../include/dir/test.hpp" it will work. The c_cpp_properties is the default "${workspaceFolder}/**"

- OS and Version: MacOS Mojave
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0

<img width="351"

[2019-02-26 00:36] Zirhi commented on #2063
I don't know if you guys fixed this, but I have just begun having this same problem of the "red flame" while using VS Code.

I have multiple C++ files open and whenever I open the folder containing these files, my Mac becomes slow and I've often found myself restarting my system over and over again.

I generated the the config file and removed /** but still having the same issues

[2019-02-26 00:41] sean-mcmanus commented on #2063
@Zirhi Can you open a new issue with more repro details? What process is using CPU? How many processes are there?

[2019-02-26 00:42] sean-mcmanus commented on #3216
That message is not from our extension. Can you disable the other extension you have installed that is causing the problem?

[2019-02-26 00:44] Leedehai commented on #3212
@sean-mcmanus hi thanks for your feedback! However it requires an MS account but I don't have one and don't intend to create one at the moment...

[2019-02-26 00:49] ES5017 commented on #3216
OK, I disabled the C/C++ Clang Command Adapter by Yasuaki MITANI and the red line error went away, now I'm getting a green underline error saying include errors detected, please update your include path with the lighbulb. Is there any way I don't have to do this, as there will be many sub folders in the include folder.

[2019-02-26 00:52] sean-mcmanus commented on #3212
If you click the "Sign-in options" you should be able to login using your GitHub account.

![image](https://user-images.githubusercontent.com/19859882/53379174-6605c600-391d-11e9-9df9-6f232979882d.png)

[2019-02-26 00:55] sean-mcmanus commented on #3216
If your includePath has `"**"` at the end it should try to automatically include the necessary paths. If you [enable debug logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) then you should be able to see the include paths we end up using when a C/C++ file is opened.

If the include files are system files then you may need to set y

[2019-02-26 01:02] ES5017 commented on #3216
It seems to be include the system files. Wha should the compilerPath be set to?

[2019-02-26 01:03] sean-mcmanus commented on #3216
Something like "/usr/bin/clang". It depends on what you're using to compile. Usually, we should prepopulate the field if we detect a compiler on your machine.

[2019-02-26 01:04] ES5017 commented on #3216
it already is usr/bin/clang. maybe i was looking for the wrong this with the including the system files..

[2019-02-26 01:05] sean-mcmanus commented on #3216
So what system file is it not able to find still?

[2019-02-26 01:07] ES5017 commented on #3216
Sorry, I think I misunderstood. It only shows the error for hpp files I have written in the workspace.

[2019-02-26 01:09] sean-mcmanus commented on #3216
Can you check your debug logs and see if the folder that contains the hpp file is getting set?

It should show
[code]

[2019-02-26 01:11] ES5017 commented on #3216
Yes, just checked. One of the includes in the list has the path to the hpp just fine

[2019-02-26 01:15] Zirhi commented on #2063
sorry, I have fixed the issue. Found some help in your other article

[2019-02-26 01:47] ES5017 commented on #3216
But the problem still happens...

[2019-02-26 03:00] lh123 commented on #3207
1. typescript lsp
ErrorSquiggles still shows after the file is closed.
![screenshot_20190226_105528](https://user-images.githubusercontent.com/10697249/53384282-47eba480-39b5-11e9-9098-d1d96e7bbaeb.png)
2. vscode-clangd
ErrorSquiggles still shows after the file is closed.
![image](https://user-images.githubusercontent.com/10697249/53384388-ae70c280-39b5-11e9-9ec1-9a69bcc55fb3.png)

![image](https:

[2019-02-26 03:09] lh123 commented on #3207
This will let me know if other files have errors.
Without this feature, I have to recompile the project to know the errors in other files.

No. But even in the same translation unit, ErrorSquiggles will not be displayed in the closed file.

[2019-02-26 03:26] sean-mcmanus commented on #3216
Can you give more detail or provide a sample repro project?

[2019-02-26 03:27] ES5017 commented on #3216
I can give all the detail requested. A sample project would simply be a blank hpp file trying to be included in a blank cpp file, but the two are in different directories.

[2019-02-26 03:38] sean-mcmanus commented on #3207
Okay, that's news to me -- VS Code's json squiggler stops showing the errors when the file is closed, so maybe that's what I was thinking of. Visual Studio also stops showing IntelliSense errors when the file is closed (I filed a bug on VS 2 years ago and they closed it as "By Design", not sure of the reasoning behind that design).

This looks like a 1 line change if we want to do this, plus any t

[2019-02-26 03:52] lh123 commented on #3207
I hope this feature is implemented because it is implemented in most "LSP".

[2019-02-26 03:54] sean-mcmanus commented on #3216
That works for me. Do you see the folder with the header being used in the debug output? It should be auto-added if you're using "${workspaceFolder}/**". If you use "${workspaceFolder}/subDir" does that work? (where subdir has the header that you're including. I assume everything is under the 1 workspace folder, and there are not multiple workspace folder, right?

[2019-02-26 04:09] ES5017 commented on #3216
yes, "${workspaceFolder}/subDir" works, as added when i click the lightbulb. however I don't want to do it manually every time. I have one workspace, but it should be working for multiple folders. In the debug output, I see the folder with the header being used, in fact twice. That's what is so weird, it still gives the error, and doesn't seem to be auto added.

[2019-02-26 04:51] bobbrow commented on #3207
I'm fairly certain TypeScript used to clear the problems when the file closed.  This is news to me.  When we do this work, we would enable it behind a `C_Cpp.persistProblemsForClosedFiles` or some such setting.  It would default to false.

[2019-02-26 04:55] ghost opened #3217 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.21.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/atreyasinha/ms-vscode.cpptools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-

[2019-02-26 05:11] sean-mcmanus commented on #3216
By "multiple folders" do you mean multiple "workspace folders" or are these ordinary folders that exist on your file system? It sounds like the recursive includes "**" is not working for you. One thing to try is doing a "Reset IntelliSense Database" command in case those directories got added to our "non-existent" list somehow.

[2019-02-26 07:12] bombs-kim commented on #3208
@sean-mcmanus  Thank you for having a look on this issue. It doesn't happen if I disable C/C++ extension, so I guess it's caused by this extension. Here is my editor settings.

[code]

Note that this problem can be reproduced only when the current buffer(tab) had been saved as a file somewhere. i.e., You cannot reproduce it in a Untitled tab.

[2019-02-26 08:08] RARain opened #3220 "C++ IntelliSense memory leak"
**Type: LanguageService**

**Describe the bug**
- OS and Version: ubuntu16.04
- VS Code Version: 1.31
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

1. Go to 'https://www.hikvision.com/cn/download_more_403.html'
2. Click on download  'SDK_V6.0.2.2(for Linux

[2019-02-26 09:25] Lennon925 commented on #3071
this issue will be fixed in march, right?

[2019-02-26 10:24] zoharshemesh opened #3222 "Intellisense issues with KEIL extensions"
Hello
I am running VSCODE with the c/c++ extension by Microsoft.
I have configured the extensions c_cpp_properties.json correctly.
I can jump to definitions of any symbols in the opened folder correctly.
Yet the auto-completion is not working, nor the function suggestions (e.g. arguments)
When I start typing a variable name, a project level menu list is showed (literally every symbol in the entire

[2019-02-26 14:42] martinakos commented on #15
I have the "Find All References" in my context menu, but it always produces "No results found" even if there is references in the same file. Disappointing!

[2019-02-26 17:52] bobbrow commented on #3222
Do you see any "problems" in the problems window?  When this happens (getting every symbol in the project), it is usually because a `#include` statement didn't resolve.  You can try setting `"C_Cpp.intelliSenseEngineFallback": "Disabled"` to turn off this behavior.  We plan to disable this by default in the future due to the confusion it generally causes.

[2019-02-26 20:08] sean-mcmanus commented on #3208
I got a repro via enabling "editor.formatOnPaste" (although a manual format also works after the paste occurs). This is caused by clang-format (as can be seen via [enabling logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md):
[code]

It's possible this could be configured via some clang-format setting, but I don't know which: https:

[2019-02-26 21:55] sean-mcmanus commented on #3071
Not the March official release (next week), but maybe for the March Insiders later. We'll have to move a bunch of the February tasks to the next milestone (due to unexpected delays/issues).

UPDATE: Probably won't have time to investigate Go to Def bugs until after April 15th.

[2019-02-26 22:17] sean-mcmanus commented on #15
@martinakos Our extension does not add "Find All References" to the context menu. I think another C/C++ extension must be adding it. But either way, we haven't finished implementing it yet.

[2019-02-26 23:34] Jman2275 opened #3223 "Visual Studio Code wont work"
- OS and Version: not sure
- VS Code Version: not sure
C/C++ Extension Version: 0.21.0
- Other extensions: code runner by jun han
- A clear and concise description of what the bug is.
I am trying to run a simple code and every time i ru any code i get [Done] exited with code=-4058 in 0.003 seconds or something along the lines

[2019-02-27 00:34] sean-mcmanus commented on #3223
That message is from the Code Runner extension and not our C/C++ extension. Please file an issue at https://github.com/formulahendry/vscode-code-runner/issues .

[2019-02-27 00:34] #3223 closed, assigned to nobody

[2019-02-27 14:10] xishec commented on #1768
It is not working for me... I'm still trying to find a way to be able to watch local variables and handle user inputs from a terminal **at the same time**

[2019-02-27 15:38] zoharshemesh commented on #3222
Hello,
Thanks for your response.
I am an embedded RT team leader developing mostly in C language.
We are using KEIL uVision but would like to use a different more language-awareness editor. I have bought SlickEdit editor, which works perfectly by simply open SlickEdit project (@ KEIL workspace location). SlickEdit detects the projects symbols, functions, tooltip, structures members etc. perfectly

[2019-02-27 16:41] bobbrow commented on #3222
This is what I mean:

1. Check the Problems window and see if you have something like `"#include errors detected"`. If this is the case, you might be seeing the wrong member list for structs/classes/etc.
![image](https://user-images.githubusercontent.com/12818240/53506112-28628380-3a6a-11e9-8e39-cf70f0dbdb8a.png)

2. If this is the case, move the cursor to the green squiggled `#include`, click the

[2019-02-27 17:00] zoharshemesh commented on #3222
Hello,
Thanks for your quick response.
I have already tried to "Force Semantic Intellisense" (lots of problems
have been poped up when I did that).
Yet, it does not work, here's a print screen:
[image: image.png]

Yours,

Zohar Shemesh

[2019-02-27 17:03] bobbrow commented on #3222
Sorry, the image did not appear.  Can you try again?

[2019-02-27 17:08] zoharshemesh commented on #3222
Zohar Shemesh

[2019-02-27 17:45] bobbrow commented on #3222
I think you'll need to add it through the web interface.  Replying to the email notification with an image is not working (and it's posting your personal information online... I deleted it for you).

[2019-02-27 17:48] zoharshemesh commented on #3222
OK, Just a moment..

[2019-02-27 17:50] zoharshemesh commented on #3222
![image](https://user-images.githubusercontent.com/48014050/53511369-f7656b80-3ac8-11e9-8f39-a2e8a9bde505.png)

[2019-02-27 17:52] germinolegrand commented on #3213
Same notification while loading the same code folder (which is quite huge, tens of thousands of files, that might be of importance ?).

[ms-vscode.cpptools-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-cpptools/files/2911569/ms-vscode.cpptools-unresponsive.cpuprofile.txt)

[2019-02-27 18:20] bobbrow commented on #3222
There could be an error somewhere that is causing the variable not to be defined.  If you hover the mouse over `TaskTimers` do you get a tooltip with information about the variable?

[2019-02-27 18:23] zoharshemesh commented on #3222
No, I get: `"<error-type> TaskTimers"`

[2019-02-27 18:26] bobbrow commented on #3222
Can you go to the declaration of TaskTimers and see if there is an error squiggle nearby?

Just a reminder that we don't support Keil keywords, so it's highly possible our compiler is getting confused by them and skipping over some variable declarations during its error recovery.

[2019-02-27 18:34] zoharshemesh commented on #3222
Hi,
This is no KEIL related, the TaskTimers is TMR_ST simple structure:
![image](https://user-images.githubusercontent.com/48014050/53513861-fafbf100-3ace-11e9-9d1a-5501b31b525f.png)

[2019-02-27 19:22] bobbrow commented on #3222
Can you look at the place in the code where `TaskTimers` is delcared?

[2019-02-27 19:30] zoharshemesh commented on #3222
Hi,
static TMR_ST TaskTimers[10];
That's all..
Are you @ US east time zone?
Thanks

[2019-02-27 19:34] bobbrow commented on #3222
If you hover over `TaskTimers` in that line where it is declared, does the tooltip look right?
We are US West (Pacific)

[2019-02-27 19:41] zoharshemesh commented on #3222
I get the following tooltip
`<error-type> TaskTimers`
Thanks

[2019-02-27 19:43] zoharshemesh commented on #3222
Getting error-type

[2019-02-27 19:43] bobbrow commented on #3222
Ok, so the problem is somewhere in that file causing `TMR_ST` to not be defined.  Could be in one of the includes, or a squiggle in the file where TaskTimers is declared.

Are you able to reproduce this problem in a small project that you can send us?  It may be faster for us to investigate that way.

[2019-02-27 19:46] zoharshemesh commented on #3222
I will try to build a small project Tomorrow.
Thanks for your attention and help
Yours
Zohar Shemesh

[2019-02-27 20:41] Spongman commented on #2664
i'm seeing this too. this pretty much breaks vscode for debugging forking processes :(

[2019-02-27 22:37] 0xabu opened #3224 "msvc-x64 intellisense shouldn't try to use definitions from GCC"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows build 18342.19h1_release
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): none
- A clear and concise description of what the bug is.

I had a simple C++ project configured for "msvc-x64" IntelliSense that didn't accept builtin types

[2019-02-27 23:05] sean-mcmanus commented on #3224
We originally just had an intelliSenseMode setting and then we added the compilerPath setting in order to get the correct compiler includePath and defines. We're planning to add warning squiggles to our c_cpp_properties.json file when the compilerPath and intelliSenseMode are set inconsistently.

[2019-02-27 23:08] 0xabu commented on #3224
Sounds good, although I would think you could detect the appropriate intelliSenseMode from running the compiler. If so, why not make it an error to specify intelliSenseMode with a non-empty compilerPath?

[2019-02-27 23:16] sean-mcmanus commented on #3212
I filed a VS bug https://developercommunity.visualstudio.com/content/problem/471939/c-intellisense-incorrectly-show-a-value-of-type-x.html . But it sounds like they want more upvotes before they'll fix it.

[2019-02-27 23:54] sean-mcmanus commented on #3224
Our current behavior is inconsistent in that some cases the intelliSenseMode overrides the compilerPath, such as if the intelliSenseMode is clang and the compilerPath is "cl.exe, but when the compilerPath is a non-cl.exe compiler the intelliSenseMode of msvc will be ignored. There is internal debate as to whether the compilerPath should override the intelliSenseMode setting or vice versa. I think

[2019-02-28 00:50] WardenGnaw commented on #3217
File is not attached.

[2019-02-28 00:53] WardenGnaw commented on #3213
Time is still mostly spent doing module loads. Profiler is saying it is taking 2500 ms.

[2019-02-28 02:11] bobbrow commented on #3011
Consolidating performance reports from VS Code.  Tracking with #2991.

[2019-02-28 02:11] #3011 closed, assigned to nobody

[2019-02-28 02:11] bobbrow commented on #3073
Consolidating performance reports from VS Code.  Tracking with #2991.

[2019-02-28 02:11] #3073 closed, assigned to nobody

[2019-02-28 02:14] bobbrow commented on #3143
Thank you for your issue report.  This looks to be the same issue reported in #2991.

[2019-02-28 02:14] #3143 closed, assigned to nobody

[2019-02-28 02:14] bobbrow commented on #3217
Consolidating performance reports from VS Code.  Tracking with #2991.

[2019-02-28 02:14] #3217 closed, assigned to nobody

[2019-02-28 04:42] #3185 closed, assigned to WardenGnaw

[2019-02-28 05:35] zoharshemesh commented on #3222
Hi,
So I have played with the settings and folders, I have opened a folder, which contains two files.
VSCode does not detect any problems (although there are lots of missing definitions), when I hover over
[SysTick.zip](https://github.com/Microsoft/vscode-cpptools/files/2913529/SysTick.zip)

structures, which are declared in the header file, VScode show the methods/structures tooltip but fails to

[2019-02-28 05:42] voidif commented on #3185
Hi, I find an extension named Native Debug which can better fit my situation, sorry for disturbing.

[2019-02-28 06:22] ulchie commented on #2276
I'm getting this same problem. For me, it looks to be a timing issue. The debugger invocation is occurring before the preLaunchTask has finished. Subsequent invocations of the debugger (via F5) work fine for me, but the initial invocation after a clean build always fails. I am admittedly working on a very small project, so it may be the case that other users have preLaunchTasks that are still in p

[2019-02-28 08:19] noodlecollie commented on #69
I'm getting this issue on MacOS 10.13.6 with Python 3.6.5, LLDB 1000.11.38.2 and C/C++ extension 0.21.0. When I put `-exec -enable-pretty-printing` into the debug console, I get the following:

[code]

I'm assuming this means my version of LLDB doesn't support pretty printing? Is there anything else I'd need to download?

[2019-02-28 09:15] defcod commented on #16
Any updates?

[2019-02-28 12:29] BillDenton commented on #723
As far as I can see the middle wildcard doesn't work. Our include files are all "include" & "interface" directories in many places. So this only leaves using everything via "${workspaceFolder}/**", or adding each one in turn when required (which may be better where there are duplicated names). I suspect using "${workspaceFolder}/**" isn't great for performance.

[2019-02-28 15:56] liaoyuzh commented on #416
this is extremely helpful. The debugger just won't stop at the breakpoint if the main() is written as
int main().
@pieandcakes  Can you explain why this happens?

[2019-02-28 18:35] bobbrow commented on #3222
After fixing the `SysTick.c` file to include the `SysTick.h` file, I was able to get suggestions for data members:
  ![image](https://user-images.githubusercontent.com/12818240/53589231-b9595d80-3b43-11e9-851d-b483e3c7d7c9.png)

However, some of the nested struct members didn't resolve because their fields were not understood by the compiler:
  ![image](https://user-images.githubusercontent.com/12

[2019-02-28 18:56] bobbrow commented on #723
A middle wildcard is not currently supported.  I started a branch that would support this a while ago, but I forget what state it was in and now the branch is out of date.  If anyone wants to get it back in sync with master and finish it, we can consider taking it.  I'll reopen this issue since the original request was not actually addressed.

This is the branch: https://github.com/Microsoft/vscod

[2019-02-28 19:00] bobbrow commented on #16
This is now third on the feature backlog.  I don't have a date for you yet though.

[2019-02-28 20:02] sean-mcmanus commented on #3212
Looks like this was already reported in July (from the Stack Overflow): https://developercommunity.visualstudio.com/content/problem/293884/e0144-being-reported-for-valid-code-intellisense-e.html . It needs more upvotes.

[2019-02-28 20:23] patrykbajos commented on #3204
@bobbrow I have tested 0.22.0-insiders and defines are working as it should. `-mmcu=` in `compile_commands.json` is still not working but it works with use of `compilerPath`.

[2019-02-28 20:44] zoharshemesh commented on #3222
I have tried that, somehow when I force fuzzy, some of the structure members appears.
This is very odd, I have a lot of files in my project (more than 60), it is very difficult and annoying to review each file for problems...
I think I will stay with SlickEdit for know (it does the same thing without any User modification or special handling).

I really appreciate your help!
Thanks so much.
Yours,

[2019-02-28 20:49] bobbrow commented on #3222
Fuzzy IntelliSense doesn't do any type checking.  It's strictly a syntactical parser, so it's not as accurate with suggestions.  Unfortunately, we don't support KEIL extensions in the semantic parser, so we can't provide accurate suggestions without additional configuration.

[2019-02-28 20:54] zoharshemesh commented on #3222
There is nothing related to KEIL, just to correct parse the header files. F12 is perfectly works on all structure names, members and functions.
So I am really confuse, why structure members behaves differently.

Yours,
Zohar Shemesh

[2019-02-28 21:00] bobbrow commented on #3222
The example you sent me had trouble only because of KEIL extensions.  If you can describe the problem or provide a different example that shows KEIL is not the cause, then I can investigate more.

[2019-02-28 21:12] noppej opened #3225 "Shutting down IntelliSense server on MacOs"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Mojave 10.14.3
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.22.0 (Insiders). I only tried Insiders because of this problem in the default release
- Other extensions you installed (and if the issue persists after disabling them): Cortex-Debug, FreeMarker, Python. The problem persists even when I disable these.
- A cle

[2019-02-28 21:18] bobbrow commented on #3225
This is not an error.  We periodically shut down servers when too many are open.  We don't want to use **all** of your computer's memory. 😉

The logs show that a server for sstpCommon.c was opened and main.c was closed so you must be hovering around the memory usage limit we set for ourselves.  The problems listed are actual problems with the new server (sstpCommon.c).  It has a bunch of undefined

[2019-02-28 21:47] noppej commented on #3225
Thanks for the explanation Bob - makes perfect sense.

[2019-02-28 21:47] #3225 closed, assigned to nobody

[2019-03-01 02:53] adashen opened #3227 "Cannot attach docker container for debugging"
Type: Debugger

- OS and Version: windows
- VS Code Version: 1.30.0
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
   {
      "name": "C++ Attach in hello_gdb container",
      "type": "cppdbg",

[2019-03-01 04:04] ozarchie commented on #2052
Here is a picture of it.
Same problem on my mac osx.
It is an arduino project - correctly compiles on Windows Visual Studio Community edition with vmicro.
No such luck on the mac

![vscode_include](https://user-images.githubusercontent.com/6479143/53615652-a8374c00-3c2a-11e9-9f9d-1855fc097c7a.png)

[2019-03-01 04:16] ozarchie commented on #2052
Here is the complete verify output.
[EQG2HBX.verify.txt](https://github.com/Microsoft/vscode-cpptools/files/2917872/EQG2HBX.verify.txt)

[2019-03-01 10:40] aenima1891 commented on #1083
+1!!!!

[2019-03-01 13:05] dwilliamson opened #3229 "IntelliSense behaving incorrectly when files reopened with different casing"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Microsoft Windows 10 Pro 10.0.17134 Build 17134
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.22.0 Insiders
- Other extensions you installed (and if the issue persists after disabling them):
  * Go 0.9.2
  * Output Colorizer 0.1.2
  * Perforce for VS Code 3.1.0
  * Terraform 1.3.7
  * **DISABLING these extensions has no eff

[2019-03-01 13:08] fr43nk opened #3230 "Quick open doesn't really work"
**Type: LanguageService**

- OS and Version: Win7
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.22.0-insiders

I have a large code base located on a network drive (smb connection)
My workspace file has some folders set up like follows:
[code]

The problem is: If I hit Ctrl+P (quick open) and type in a file name, the dialog doesn't find anything.
Only after opening this file I can use the

[2019-03-01 13:09] dwilliamson commented on #3229
Addendum: intellisense seems to be "sticky" right now, as in; if I fix an error the squiggly highlights don't disappear for an indeterminate amount of time.

[2019-03-01 13:28] davidbroetje opened #3231 "IntelliSense not working with Cygwins g++"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 7
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): Issue persists after disabling all other extensions
- Cygwin g++ 7.4.0-1

I use Cygwins g++ to compile my cpp files under Windows. I want to use g++ for IntelliSense also. Therefore

[2019-03-01 14:08] mmoderau opened #3232 "Creating configuration for dump file debugging requries "program" and "cwd""
Type: Debugger

- OS and Version: Windows 10 Enterprise 1073 (build 15063.1631)
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0

**To Reproduce**
When creating a launch configuration for opening a dump file (using `"dumpPath"` ), I need to also provide `"program"` and `"cwd"` attributes, because the `"launch"` configuration type requires it.

It is not clear, what values should these p

[2019-03-01 14:11] dwilliamson commented on #3229
One thing I *have* noticed... sometimes my `Problems` window picks up odd errors in other TUs and for some reason gives them their lower-case path. Pressing F8 opens this lower-case version while the correct-case version is still open also (VSCode bug for this open for many years now). Anyway, it seems to take down the server. Log here:

[code]

[2019-03-01 14:30] LeonelL1 opened #3233 "the code Im making doesnt exist?"
Im in vs code and Im trying to make a basic snake game but when i try to run it, it says the file im working on doesn't exist as a whole. it says "clang: error: no such file or directory: 'games'". If games is the name of the file, then what is going on?

[2019-03-01 14:50] ben-the-hedgehog commented on #3220
Seeing this as well with Ubuntu 14.04, code-insiders 1.32.0, and C/C++ ext 0.21.0

[2019-03-01 18:10] amatosov-rbx commented on #2209
I am using version 0.21.0 and getting ton of errors like this
I use `"${workspaceFolder}/Project/**"` for `includePath` and `macFrameworkPath` as configuring this manually is not feasible

[2019-03-01 18:50] bobbrow commented on #2209
@amatosov-rbx can you please open a new issue with more details about your problem?  Thank you!

[2019-03-01 18:51] amatosov-rbx commented on #2209
sure

[2019-03-01 19:07] amatosov-rbx opened #3235 "Frequently crash with textDocument/documentSymbol request on file save"
**Type: LanguageService**
Issue is almost the same as https://github.com/Microsoft/vscode-cpptools/issues/2209 but with newer version of cpptools and automatic restart of language server re-opening file

**Describe the bug**
- OS and Version: macOS 10.14.3 (18D109)
- VS Code Version: Version 1.31.1 (1.31.1)
- C/C++ Extension Version: Version 1.31.1 (1.31.1)

When I'm editing a C++ source file, whe

[2019-03-01 19:12] pieandcakes commented on #3227
Can you provide which container type you are using or a `dockerfile` where we can attempt your scenario?

[2019-03-01 19:21] bobbrow commented on #3235
Thanks for reporting this issue.  These TypeScript errors just let us know that the extension crashed.  Fortunately, on macOS, the crash logs should be in your `~/Library/Logs/DiagnosticReports/` folder.  If you could open one of those and share the callstack of the crashing thread, that would be very helpful.

[2019-03-01 19:24] WardenGnaw commented on #2276
@aziabari and @Ulchie Thanks for the updated info. The cpptools extension does not handle the prelaunch task, and if VS Code launches the debugger without the prelaunch task finishing, that would be an issue on their end.

Another user is encountering this issue with the node debugger: https://github.com/Microsoft/vscode/issues/69151

[2019-03-01 19:50] bobbrow commented on #3229
Thank you for the detailed report.  I think you're on to something with the casing.  I see a potential for the language server to mess this up.  We'll investigate more.

[2019-03-01 20:22] noppej opened #3236 "Path of project files corrupted"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Mojave 10.14.3
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.22.0 (Insiders)
- Other extensions you installed (and if the issue persists after disabling them): Cortex-Debug, Python, FreeMarker. Disable does not affect the issue
- A clear and concise description of what the bug is.
I am setting up a project as part of

[2019-03-01 20:47] bobbrow commented on #2052
@ozarchie our extension doesn't provide any build services right now, so perhaps yours is an issue with the Arduino extension?

[2019-03-01 20:50] bobbrow commented on #1083
Please upvote this issue by clicking the thumbs up on the original post.  +1 comments don't get added to the vote count correctly.

[2019-03-01 20:58] bobbrow commented on #3230
Our extension doesn't provide this service.  This belongs to the VS Code team.  I'll move it to their repository.

[2019-03-01 20:58] #3230 closed, assigned to nobody

[2019-03-01 21:46] bobbrow commented on #3231
Something with their latest update made `g++.exe` run super slow outside of the Cygwin terminal, causing our extension to time out while waiting for the response. I can confirm that this happens with the latest update to Cygwin.  `g++.exe` was fine before I updated.

[2019-03-01 21:46] WardenGnaw commented on #3227
@pieandcakes The error is the quoting issue I fixed in https://github.com/Microsoft/vscode-cpptools/pull/3181. We have not done a release yet with the fix.

[2019-03-01 22:33] janbernloehr commented on #1365
The issue my be `-isystem`. To me it seems that whenever there is an `-isystem` include in the compile commands, cpptools stop working for that file.

[2019-03-01 23:41] sean-mcmanus commented on #3233
This doesn't appear to be a bug with our C/C++ extension. It sounds like your clang build tasks isn't able to find "games".

[2019-03-02 00:16] WardenGnaw commented on #3232
We have a backlog on this to clean up the launch.json scenario, will also include this as part of removing unnecessary values in the launch.json for certain scenarios.

[2019-03-02 01:23] #3197 closed, assigned to WardenGnaw

[2019-03-02 01:31] sean-mcmanus commented on #3236
Those errors are not coming from our extension. Do you have another C/C++ extension enabled?

[2019-03-02 02:18] sean-mcmanus commented on #1377
The bug with IntelliSense not working on Windows when the username has a space in it should be fixed with 0.22.0-insiders2: https://github.com/Microsoft/vscode-cpptools/releases .

[2019-03-02 02:19] sean-mcmanus commented on #2114
The bug with IntelliSense not working on Windows when the username has a space in it should be fixed with 0.22.0-insiders2: https://github.com/Microsoft/vscode-cpptools/releases .

[2019-03-02 02:19] sean-mcmanus commented on #2176
The bug with IntelliSense not working on Windows when the username has a space in it should be fixed with 0.22.0-insiders2: https://github.com/Microsoft/vscode-cpptools/releases .

[2019-03-02 02:20] sean-mcmanus commented on #3052
The bug with IntelliSense not working on Windows when the username has a space in it should be fixed with 0.22.0-insiders2: https://github.com/Microsoft/vscode-cpptools/releases .

[2019-03-02 02:20] sean-mcmanus commented on #3139
The bug with IntelliSense not working on Windows when the username has a space in it should be fixed with 0.22.0-insiders2: https://github.com/Microsoft/vscode-cpptools/releases .

[2019-03-02 02:23] sean-mcmanus commented on #1365
@janbernloehr The code is supposed to handle isystem in general. There might be some special case where it is breaking. Let us know if anyone discovers what that special case is. Otherwise, we'd need to investigate that ourselves.

[2019-03-02 02:24] sean-mcmanus commented on #1524
We've added `${command:cpptools.activeConfigName}` in our 0.22.0-insiders2 build: https://github.com/Microsoft/vscode-cpptools/releases . Let us know if you experience any issues with that.

[2019-03-02 03:20] hzcheng commented on #1915
It seems like when we use "make -C" to make on top level, the problem shows. Any update on this problem?

[2019-03-02 04:00] sean-mcmanus commented on #1986
This should be fixed in the latest insiders build (i.e. no completion popup for "operator" should appear): https://github.com/Microsoft/vscode-cpptools/releases .

[2019-03-02 04:06] sean-mcmanus opened #3245 "System includes aren't removed from includePath if it ends with "/""
Include path: "F:/MINGW/MINGW32/INCLUDE/" with
"compilerPath": "F:\\MinGW\\bin\\g++.exe",

[2019-03-02 04:07] sean-mcmanus commented on #2177
This should be fixed with the latest insiders: https://github.com/Microsoft/vscode-cpptools/releases (unless the includePath ends with "/").

[2019-03-02 04:09] sean-mcmanus commented on #2484
Should be fixed with the latest insiders: https://github.com/Microsoft/vscode-cpptools/releases .

[2019-03-02 04:09] sean-mcmanus commented on #2585
Should be fixed with the latest insiders: https://github.com/Microsoft/vscode-cpptools/releases

[2019-03-02 04:09] sean-mcmanus commented on #3150
Should be fixed with the latest insiders: https://github.com/Microsoft/vscode-cpptools/releases

[2019-03-02 04:13] sean-mcmanus commented on #3235
Can you try the latest Insiders release? https://github.com/Microsoft/vscode-cpptools/releases

[2019-03-02 04:14] sean-mcmanus commented on #3220
Can you try the latest Insiders release? We improved the memory usage: https://github.com/Microsoft/vscode-cpptools/releases , although we didn't intentionally fix any "leak".

[2019-03-02 04:19] amatosov-rbx commented on #3235
@bobbrow crash log [Microsoft.VSCode.CPP.Extension.darwin_2019-03-01-101111_sm-amatosov1.crash.zip](https://github.com/Microsoft/vscode-cpptools/files/2921734/Microsoft.VSCode.CPP.Extension.darwin_2019-03-01-101111_sm-amatosov1.crash.zip)

[2019-03-02 05:54] amatosov-rbx commented on #3235
@sean-mcmanus with latest release I get exactly same errors but no crash logs

[2019-03-02 10:09] jtchen2k opened #3246 "Breakpoint not working for C++ on macOS"
Type: Debugger

- OS and Version:macOS 10.14
- VS Code Version:1.31.1
- C/C++ Extension Version:0.21.0
- Other extensions you installed (and if the issue persists after disabling them): No

The program can compile and launch properly, and if I pause it manually while it running, I can check the value of the variables. But it will literally ignore the breakpoint and notice me of "unchecked breakpoi

[2019-03-02 13:04] Xenox40 commented on #3246
I had the same issue on WSL and I manged to overcome it changing "stopAtEntry" setting in launch task to true.

[code]

Now I just have to press continue after the launch and program stops on my breakpoints as expected.

[2019-03-02 15:30] jtchen2k commented on #3246
Thanks, I tried this. It do stopped at entry, but still ignored all my following breakpoints(

[2019-03-02 16:07] noppej commented on #3236
I have no other extensions (apart from the 3 mentioned above). I suspect it has something to do with memory overflows as a result of the 1000's of build errors. It turns out these were caused by a suspect -D generated by STM32CubeMX (incorrect quoting). After fixing that problem, the build errors went away, and my "Problem" paths were no longer corrupted.
I appreciate the clarification that these

[2019-03-02 16:07] #3236 closed, assigned to nobody

[2019-03-03 00:09] ozarchie commented on #2052
Hi Bob,
Wow .. so an extension can stop a c-construct as old as #include working.
I guess I will just go back to plain vanilla arduino.
Cheers

On Sat, Mar 2, 2019 at 6:47 AM Bob Brown <notifications@github.com> wrote:

[2019-03-03 00:29] davidmickev opened #3247 "No definition found"
Type: General
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: WIN10
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): fresh instal

[2019-03-03 00:30] davidmickev commented on #3247
I cloned settings from laptop, issue was still not resolved.
After including "intelliSenseMode": "gcc-x64", or "intelliSenseMode": "clang-x64" after defines resolved my issue.

[2019-03-03 03:51] nicklesimba commented on #2546
Hey I had the same issue, and I changed "Disabled" to "Enabled" and nothing is happening. How do I fix this? Thanks!

[2019-03-03 04:23] Guy1524 opened #3248 "Question - How do I prevent compile_commands.json from overwriting the default include paths?"
Type: Question

- OS and Version: Arch Linux
- VS Code Version: 1.31.0
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): Gitlens, it does

Hello, I am trying to use intellisense from this plugin with the wine codebase.  I have generated compile_commands.json using [Bear](https://github.com/rizsotto/Bear), and added the path in my c

[2019-03-03 04:52] #3248 closed, assigned to nobody

[2019-03-03 05:47] bobbrow commented on #2052
@ozarchie, I don't think you understood my comment. The build task and error you are referring to doesn't come from the C/C++ extension. This extension only does IntelliSense right now. We don't compile anything. There is a separate extension for Arduino that you probably installed that is doing your compilation. I'm just saying that you should open an issue on that extension.

[2019-03-03 05:52] bobbrow commented on #3248
It seems the compiler listed in the compile commands file does not include the full path.  Setting `compilerPath` to `/usr/bin/gcc` in your c_cpp_properties.json file would likely fix it.

[2019-03-03 05:57] Guy1524 commented on #3248
Yes, that fixed it, thanks!

[2019-03-03 06:21] zajo commented on #2698
Thank you!

[2019-03-03 06:21] #2698 closed, assigned to nobody

[2019-03-03 11:43] zenpoy opened #3249 "When running the debugger "set stop-on-solib-events 1" is invoked and the debugger is stopped on solib event"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Debian 4.9.18-1
- VS Code Version:  1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):

[2019-03-03 13:43] WoolenWang commented on #15
Except to support the c/c++ , really love this plugin's idea and deeply need this.

[2019-03-03 14:18] JoeyRxy commented on #3206
the newest except the insider version.
now I solve the problem by disabling the extension's notification.
but I now have a secondary problem:the gdb debugger doesn't work on win10
after I configure those .JSON files while it works on Linux(Ubuntu).
when I click the dubug button,I can see the output from task.json in the
terminalm.but then the whole thing just stop.

Sean McManus <notifications@git

[2019-03-03 16:25] #3247 closed, assigned to nobody

[2019-03-03 18:19] leosdad commented on #15
The command "Change all occurrences" highlights all occurrences in the same file in the scroll area, which can be helpful. However I also find this to be the most needed feature in the C/C++ extension.

[2019-03-04 09:14] #3193 closed, assigned to WardenGnaw

[2019-03-04 09:46] ghost commented on #3187
@sean-mcmanus Now I understand. Semms like I need to configure g++'s include paths separately.

[2019-03-04 15:57] aparks5 commented on #3206
happening to me on insiders 1.31.1

"The C/C++ Extension has been updated to version 0.22.0-insiders2. Please reload the window for the changes to take effect."

^ never goes away

version:

Version: 1.31.1
Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:19:29.629Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Linux x64 4.4.0-142-generic

[2019-03-04 17:01] bobbrow commented on #3206
I'm seeing this too.  It seems that VSCode is not uninstalling the previous version, and it keeps loading the older version of the extension.  Removing the older version of the extension manually fixed the problem for me.  We'll investigate why this is suddenly broken.

[2019-03-04 17:09] bobbrow commented on #2546
There are some cases where we automatically disable squiggles and we don't have an override setting for that right now.  One such case is if you open a code file without opening a workspace folder.

[2019-03-04 17:54] abhatnag commented on #1154
Ayush,
What was the resolution?

[2019-03-04 18:44] WardenGnaw commented on #3249
The command is sent within the debugger engine.

It is set here:
https://github.com/Microsoft/MIEngine/blob/d1189348e9bfd4e7843cbceb9db16509284acf76/src/MIDebugEngine/Engine.Impl/DebuggedProcess.cs#L692
Then unset here:
https://github.com/Microsoft/MIEngine/blob/d1189348e9bfd4e7843cbceb9db16509284acf76/src/MIDebugEngine/Engine.Impl/DebuggedProcess.cs#L345

It seems like we stop on a solib event to

[2019-03-04 18:47] WardenGnaw commented on #3246
@BillChen2000 Can you [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and share the output?

[2019-03-04 21:57] WardenGnaw commented on #3227
This is fixed in our [0.22.0-insiders2](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.22.0-insiders2).

[2019-03-04 21:57] #3227 closed, assigned to WardenGnaw

[2019-03-04 22:09] jmagosta opened #3250 "Python source file names capitalization not recognized by ptvsd"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version:
Windows 10 enterprise 1809
- VS Code Version:
Version: 1.31.1 (user setup)
Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:20:54.427Z
Elect

[2019-03-04 23:19] abaga129 commented on #811
@qzxuhui's method works for me as well.  Thanks a lot!

[2019-03-05 00:51] DraTeots commented on #296
Shame

[2019-03-05 01:22] sean-mcmanus commented on #3206
1. We weren't waiting for the install to finish before showing the reload prompt.
2. We weren't checking the exit code before showing the reload prompt.
3. We weren't logging any error if the install failed (we just sent telemetry).

[2019-03-05 01:26] #3089 closed, assigned to nobody

[2019-03-05 07:32] jtchen2k commented on #3246
Here's my engineLogging:
[code]

[2019-03-05 07:33] jtchen2k commented on #3246
and heres the trace and traceResponce log:
[code]

[2019-03-05 07:36] jtchen2k commented on #3246
[code]

[2019-03-05 09:01] kreshano commented on #2992
Hey sorry for delay as well.

I am getting exactly the same

[code]

and that's my point, I expect vscode to stop at my breakpoint so I can see the values and continue the next step. When I am pressing F5 ( start debugging ) its lunch the external terminal, take the input and complete the run. I am not getting the interactive debugging flavor which I was really looking for.

[2019-03-05 09:35] Srekel commented on #3145
Also seeing the same issue. I looked in the Problems tab but not seeing anything related to this. I also set loglevel to debug but I'm not sure where to look.

Actually, one thing that sticks out in the Problems tab:

![image](https://user-images.githubusercontent.com/1578924/53795383-28fb8e00-3f32-11e9-88db-a31b53df043f.png)

It compiles fine (in VS, and Clang on Linux) so it isn't an actual erro

[2019-03-05 15:13] idanemergi opened #3252 "Auto complete doesn't work in case of struct member type is under compilation flag"
**Type: LanguageService**

I'm working with the entire Linux kernel in my workspace and a lot of kernel structures and types defined
under compilation flags.
So when I use such structure or type, autocomplete doesn't work properly.
for example:
struct my_struct {
    struct list_head list;
    int num;
};

void foo(void)
{
    struct my_struct s;
    s. // here, autocomplete only shows num, ctrl+s

[2019-03-05 15:14] ben-the-hedgehog commented on #3220
Still seeing the same issues with the pre-release version. Not sure if the issue is a "memory leak", but Intellisense uses up all of the available memory on startup.

[2019-03-05 16:16] noppej opened #3253 ""Go to Definition" includes too many files from wrong folders"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Mojave 10.14.3
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.22.0 (Insiders)
- Other extensions you installed (and if the issue persists after disabling them): Cortex-Debug, FreeMarker, Python. The problem persists even when I disable these.
- A clear and concise description of what the bug is.
When I select an includ

[2019-03-05 17:11] dzj0821 opened #3254 "debug line was disappeared(caused by chinese characters)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Enterprise Edition
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): none
When i use gdb to debug a program, the path which include chinese characters was displayed unknown characters. And the debug line was disappeared.

**To Rep

[2019-03-05 19:26] SurfaceMcu99 opened #3255 "Use compile_commands.json to compile active file for embedded cross compilers"
When using cross compilers for embedded microcontrollers, it would be convenient to just compile the active file being worked on.  compile_commands.json has the necessary info including all of the compiler options.

[2019-03-05 19:32] WardenGnaw commented on #3250
This is the C/C++ VS Code extension. If our extension is not enabled, it would not be our issue.

If you believe this is a VS Code issue, please post it at https://github.com/Microsoft/vscode/issues
If it is a Python extension issue, please post at https://github.com/Microsoft/vscode-python/issues

[2019-03-05 19:32] #3250 closed, assigned to nobody

[2019-03-05 19:47] WardenGnaw commented on #3254
This is a duplicate of https://github.com/Microsoft/vscode-cpptools/issues/602

[2019-03-05 19:47] #3254 closed, assigned to nobody

[2019-03-05 20:47] sean-mcmanus opened #3256 "0.22.0-insiders2: IntelliSense process crashes with Mac Sierra 10.12 or earlier"
If anyone is using Mac Sierra 10.12 or earlier, it appears that the IntelliSense process will crash with 0.22.0-insiders2 due to a failure to load a dynamic library on those older OS's. Let us know if anyone with that OS is able to get IntelliSense to work without crashing.

Mac 10.13 and 10.14 don't appear to have this issue. Is anyone not able to update their OS?

Workaround: Set the C_Cpp.intel

[2019-03-05 22:55] WardenGnaw commented on #3246
This might be the issue with having non-ascii characters in the path. Could you move your project to a folder with only ASCII characters?

[2019-03-05 23:02] sean-mcmanus commented on #3145
@Srekel 0.22.0 is planned for Thursday this week (unless issues delay it to next week), but I'm not sure yet if the fix for formatting getting blocked by IntelliSense processing will get checked in or not.

The "expected a ')'" looks like a different intellisense bug and should be unrelated to clang-format issues. Can you provide more repro info, such as the definition of WC_VFUNC?

[2019-03-05 23:23] sean-mcmanus commented on #3252
You need to set the compilation flags in the "defines" setting. Can you do that? Otherwise, our parser thinks list_head is undefined, causing it to break.

[2019-03-05 23:25] sean-mcmanus commented on #3253
This is being track by https://github.com/Microsoft/vscode-cpptools/issues/2564 . Go to Def support for `#include` lines hasn't been switched to use the IntelliSense includePath yet.

[2019-03-05 23:25] #3253 closed, assigned to nobody

[2019-03-05 23:57] sean-mcmanus commented on #3220
@ben-the-hedgehog Are you on 32-bit Linux? The memory improvement we made doesn't work on 32-bit Linux.

[2019-03-06 00:00] sean-mcmanus opened #3257 "AutoPCH doesn't work on 32-bit Linux"
32-bit usage seems too low for us to fix this. If you're care, upvote this.

AutoPCH reduces the memory and compilation time for IntelliSense when there are lots of headers.

[2019-03-06 00:24] jtchen2k commented on #3246
I have renamed my work folder and now there's only ascii characters. But the breakpoints still remains unverified.

However simple programs like Hello World.cpp do stop at the breakpoints now.
[code]

[2019-03-06 00:27] WardenGnaw commented on #3246
The Debug Engine might be having a tough time with the & in the path. I'll be investigating that along with non-ASCII characters.

[2019-03-06 00:45] jtchen2k commented on #3246
Thanks, I have fixed this problem. The path mustn't have spaces too. I have renamed my file to a.cpp and it worked fine.

[2019-03-06 00:45] #3246 closed, assigned to WardenGnaw

[2019-03-06 06:41] Srekel commented on #3145
Ok! Looking forward to it. :)

The call site with the error:

[code]

Here's the full error popup:

[code]

This is the actual code:

[code]

[2019-03-06 11:10] idanemergi commented on #3252
I can, but the kernel has more than 1000....
it is not only that, it seems that he also consider the includes the file have.
Is there a way to disabling this behavior and ignore include files and compilation flags?
I'm not compiling the kernel via the vscode so I don't need it.
I just want to navigate quickly through the code.

[2019-03-06 11:17] idanemergi commented on #3252
Maybe I'll asked it differently.
I have a few repositories which 1 of them is the kernel.
the directory structure:
root
  -> kernel
  -> repo1
  -> repo2

repo1 and repo 2 uses the kernel APIs and definitions.
what is the correct way to create the workspace or project so vscode will not have undefined types like struct list_head, u32, u64 and many more?
cause if I'm adding only the root folder to

[2019-03-06 14:52] ben-the-hedgehog commented on #3220
I'm on 64 bit Ubuntu 14.04
`4.4.0-131-generic #157~14.04.1-Ubuntu SMP Fri Jul 13 08:53:17 UTC 2018 x86_64 GNU/Linux`

[2019-03-06 16:11] martinakos commented on #638
gdb 8.2
When I do this I get this error: Could not find operator*.
Do I need to enable something else?

[2019-03-06 16:43] harikrishnan94 commented on #1928
Will the fix be released in 0.22.0 version?

[2019-03-06 19:13] sean-mcmanus commented on #3252
You can change the C_Cpp.intelliSenseEngine setting to "Tag Parser" so that defines and includePath aren't required, but the results won't be ideal (it will ignore the defines and includePath and just try to parse the global symbols). The "Default" intelliSenseEngine actually needs to be able to compile the code to give results.

Opening the root folder seems correct to me, but in order to get the

[2019-03-06 19:17] sean-mcmanus commented on #3220
This only repros for you when opening certain files, right? Do you have a lot of red or green squiggles from missing includes -- in that case it can cause our parser to accumulate an unusually large size. I think we will need some sort of repro in order to investigate/fix this, but I seem to recall on chromium I got 2 GB of usage and it was "by design", but I can re-check if that case got worse or

[2019-03-06 19:19] sean-mcmanus commented on #1928
Not sure yet -- the change is still being tested. It works in general, but there are some special cases we're still investigating, with possible fixes needed.

[2019-03-06 19:34] jockm commented on #296
Here is my question: Why did we have to ask to find out it was delayed?  There are a lot of us waiting on this.

[2019-03-06 19:40] sean-mcmanus commented on #296
@jockm You didn't have to ask. You could also check the Milestones at https://github.com/Microsoft/vscode-cpptools/milestones . This is issue is currently On Deck, which means we have not started work on it and don't know when exactly that work will start yet, but it's on our list of major features to implement in the next year.

[2019-03-06 19:42] bobbrow commented on #296
We're sorry for your frustration. We're trying to be as transparent as possible.  We realize that this is an important feature for many people and are trying to prioritize it against other fundamental problems with the extension that block its adoption.

[2019-03-06 19:48] jockm commented on #296
@bobbrow @sean-mcmanus I wish you both all the luck in the world, but it has been years after other languages have gotten refactoring support in VSCode, and hearing that it has been delayed because of "fundamental problems"... worries me.

Again, I wish you nothing but the best.

[2019-03-06 19:51] jockm commented on #296
Well that wouldn't have given me any expected ETA, since it literally says "No Due Date" ;)

[2019-03-06 20:04] sean-mcmanus commented on #296
@jockm By "fundamental problems" we mean problems with our existing features:
1. Users having problems configuring IntelliSense correctly.
2. Performance problems with IntelliSense.
3. Other bugs in general.

[2019-03-06 21:55] sean-mcmanus opened #3258 "0.22.0-insiders2: Debugging doesn't work for Windows 32-bit apps"
1. 0.22.0-insiders or earlier works. 64-bit Windows apps works.
2. I tested debugging with 0.22.0-insiders2 earlier and it worked so there may be something else that may cause it not to repro, but it's possible we only tested with 64-bit apps.

[2019-03-06 22:55] giacat-tran0198 opened #3259 "[win] gdb cannot debug"
**Describe the bug**
- OS: win10
- VS Code Version: 1.31
- C/C++ Extension Version: 0.21
- gdb  7.11.1

when I debug, it show error:
For bug reporting instructions, please see:

[code]

launch.json
[code]
tasks.json
[code]
How do I solve it?
p.s: update:
I install Cygwin 7.11.1-2

[2019-03-06 23:32] alexmcgilvery opened #3260 "0.22.0-insiders2: Intellisense not finding class information as expected"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro - 1809 - 17763.348
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.22.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them):
 { CMake, CmakeTools, Bracket-Pair Colorizer, One Dark Pro, Output Colorizer, Todo+ }
Issue persists after disabling all except CMakeTools. (used t

[2019-03-07 00:19] sean-mcmanus commented on #3260
Hmm...I'm not able to repro the problem and your logs seem okay to me. @bobbrow Do you see what is going wrong? Maybe it's related to https://github.com/Microsoft/vscode-cpptools/issues/3229 ?

[2019-03-07 02:40] alexmcgilvery commented on #3260
Indeed, I cannot reproduce the issue on another computer, only on the same computer using different code bases.

[2019-03-07 02:53] sean-mcmanus commented on #3260
Does the workspace folder where it repros have case sensitive file paths enabled? Even if that was the case we wouldn't expect it to work on older versions though. You could try setting your C_Cpp.intelliSenseCacheSize setting to 0, if for some unexpected reason that new feature is causing the failure.

[2019-03-07 04:01] fahimp3 commented on #1994
I've been following this for months now. Still no progress. Do they only do the top of the (thumbs up) list first?

[2019-03-07 12:17] dwilliamson commented on #3258
Can verify my breakpoints are no longer hitting on 32-bit apps. It worked on 0.22.0-insiders.

[2019-03-07 14:18] ednl commented on #2610
Is this still only fixed in Insiders? Just stumbled upon this with 1.31.1 on Mac.

Edit: I mean, I fixed it by adding "/Applications/Arduino.app/Contents/Java/hardware/tools/avr/**" to the includePath, but I wondered if that was supposed to be unnecessary now.

[2019-03-07 15:18] rakesh-mth commented on #3150
It is not fixed for me even after switch to version 0.22.0-insiders2. Still have to use pid instead.

![image](https://user-images.githubusercontent.com/46665723/53967707-b8847680-40c3-11e9-8a2a-1ce6c6dbdfb5.png)

[2019-03-07 15:41] Botronicz commented on #1975
I am having the same problem with cpptools.  It started occurring when I modified c_cpp_properties.json to include ""compileCommands": "build/compile_commands.json",".

I tried enabling the logging as suggested, but I get no log files.  But, I do get this error from the vscode "cpptools: <project name>" OUTPUT windows:

`[Error - 10:35:03 AM] Connection to server got closed. Server will not be res

[2019-03-07 16:55] bobbrow commented on #1975
@Botronicz, can you try the 0.22.0-insiders2 build?  We fixed a bug with shortened file paths that could be affecting you (we see this crash mostly with compile_commands.json users).

To enable it, set the `"C_Cpp.updateChannel"` setting to `"Insiders"`.

If that doesn't fix your problem, can you open a new issue with additional details about your crash?  (e.g. a sample entry from your compile_com

[2019-03-07 18:18] kotauskas commented on #1889
A better approach would be to use `.sh`/`.cmd` files (where you can organize your compiler invocation with environment variables). They work with problem matchers, and keep your build process clean.

[2019-03-07 18:26] shevitz commented on #2738
I can verify stjen's result. I can't get -exec set db-follow-fork (or variants -gdb-set ...) to work in 1.31, but if I back up to 1.22.2 it works as expected. Please fix this.

[2019-03-07 18:50] DraTeots commented on #296
It is not "an important feature". It is the showstopper feature

[2019-03-07 19:19] sean-mcmanus commented on #2610
@ednl The bug that was fixed is https://github.com/Microsoft/vscode-cpptools/issues/2986 , which was when forcedInclude and recursive includes are used. The includePaths for any Arduino header files still needs to be specified somehow, like what you added.

[2019-03-07 20:02] alexmcgilvery commented on #3260
Setting C_Cpp.intelliSenseCacheSize to 0 seems like it fixed the issue.

I also updated to VSCode 1.32 before changing the setting (and I _think_ I saw that the issue was still present, but cannot say for sure)

Removing the C_Cpp.intelliSenseCacheSize = 0 (causing it to revert to default I guess) does not reintroduce the issue

[2019-03-07 20:23] sean-mcmanus commented on #1994
Is this a request for a setting that would treat all file paths as case-sensitive, as if running on LInux/Mac/WSL or to enable case sensitivity on a per-directory basis (as described in https://blogs.msdn.microsoft.com/commandline/2018/02/28/per-directory-case-sensitivity-and-wsl/)? We might need to separate these into two issues if another issue doesn't exist.

[2019-03-07 20:32] alexmcgilvery commented on #3260
Opened the sample code/project I created to reproduce and the issue was still present (so not resolved by VsCode update).

- Set C_Cpp.intelliSenseCacheSize to 0 in this workspace.

- Restarted VsCode and reopened workspace and issue is resolved.

- Removed C_Cpp.intelliSenseCacheSize = 0 setting and reopened folder and still no issue.

[2019-03-07 22:18] michelleangela commented on #3260
Which workspaceFolder do you open in VS Code from the sample project?
"Test app" or "Test app\Test"

Sample project folder structure with "Test app" as workspaceFolder currently opened:
![image](https://user-images.githubusercontent.com/38734287/53993600-b7b00c80-40e4-11e9-8706-6acc5650f227.png)

To help further determine if this is an issue with using cached precompiled headers or if it's some ot

[2019-03-07 23:09] alexmcgilvery commented on #3260
I open the highest folder as the workspace folder generally. I must have opened the Test subfolder accidently which generated the .vscode folder. I don't have multiple .vscode folders in my working project.

Before performing the steps I deleted the .vscode under _Test_ folder.

**Open the project folder with "C_Cpp.intelliSenseCacheSize" set to 0.**
Issue does not reproduce following steps 1-3

*

[2019-03-07 23:37] sean-mcmanus commented on #3260
This appears to be the existing bug https://github.com/Microsoft/vscode-cpptools/issues/1779 , where changes to the header file aren't updating the squiggles correctly in the source file. It repros with 0.21.0 as well. Does that seem like the same issue or are you experiencing something else that only repros with 0.22.0-insiders2?

[2019-03-07 23:50] alexmcgilvery commented on #3260
I cannot reproduce this _exact_ issue in 0.21.0 following the steps I gave above.

(I change update channel back to default, then right click and install another version (0.21.0) and reload VsCode)

However this does seem to be very close (an extension of perhaps) to https://github.com/Microsoft/vscode-cpptools/issues/1779, except the experience in 0.22.0-insiders2 is that the issue is not resolve

[2019-03-08 00:12] WardenGnaw commented on #3259
Please refer to our [FAQ-Why is debugging not working?](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#why-is-debugging-not-working)

[2019-03-08 00:12] #3259 closed, assigned to nobody

[2019-03-08 00:22] sean-mcmanus commented on #3260
Okay, thanks a lot for your help understanding this bug -- we're able to repro the issue, and the situation did get worse with 0.22.0-insiders2 with the intelliSenseCache enabled. I think we'll need to fix this before shipping 0.22.0.

[2019-03-08 00:25] WardenGnaw commented on #3150
@rakesh-mth This issue was for the WSL scenario and has been resolved. Can you open a new issue and specify your host (Since you are using plink, it should be Windows) and remote machine OS?

[2019-03-08 01:29] alexmcgilvery commented on #3260
Glad to be of help, hopefully this helps narrow down https://github.com/Microsoft/vscode-cpptools/issues/1779 as a fix would be a nice QoL improvement.

[2019-03-08 02:34] sean-mcmanus commented on #3260
The regression was fixed when AutoPCH is used, but https://github.com/Microsoft/vscode-cpptools/issues/1779 still exists, i.e. editing or re-opening the source file fixes the squiggles (we're doing work to fix that might fix it, but don't have an ETA yet). We might release 0.22.0-insiders3 Friday and/or 0.22.0 early next week.

[2019-03-08 02:45] alexmcgilvery commented on #3260
Thank you for the work, great to hear it's been fixed so soon. I'm unfamiliar with the issue sign off procedure, so I'll hold off from closing the issue.

[2019-03-08 03:01] sean-mcmanus commented on #3260
Yeah, we usually keep issues Open until it ships in a non-Insiders release.

UPDATE: I think https://github.com/Microsoft/vscode-cpptools/issues/1779 got fixed as well, but I was only able to repro that bug on Linux. We plan to ship the fix with 0.22.0 early next week.

[2019-03-08 06:26] dirkseidel commented on #3144
Works again with 1.32.1, thanks!

[2019-03-08 07:45] giacat-tran0198 commented on #3259
@WardenGnaw where I can add ```-g``` to launch.json?

[2019-03-08 10:24] yinguoxiangyi commented on #1247
I have the same problem ,but the .dll file already exits in 'C:\Windows\System32' , I am very confused. Thanks for your help!
![image](https://user-images.githubusercontent.com/35295143/54023035-e0143580-41ce-11e9-8433-ec21e53856e3.png)

[2019-03-08 12:21] clankill3r commented on #2755
Where is `C_Cpp.default` located?

[2019-03-08 15:40] septag commented on #2545
Is this issue fixed ?
my projects seems to be messed up again. C files interpreted as C++ by the syntax checker
tried reloading, restarting, clearing intellisense cache

vscode: 1.32.1
cpp: 0.21.0

[2019-03-08 15:51] JoeyRxy commented on #3206
OK,thank you all!
unfortunately I have reset my computer for other reason so that the problem disappear

[2019-03-08 15:51] #3206 closed, assigned to nobody

[2019-03-08 16:18] SupinePandora43 opened #3265 "Gradle support"
**Type: LanguageService**

How work with C++ Gradle projects?

[2019-03-08 18:43] WardenGnaw commented on #3259
launch.json is for debugging. You will need to add it to your tasks.json when you compile.

[2019-03-08 19:06] sean-mcmanus commented on #2755
@clankill3r It's part of the normal VS Code settings (i.e. settings.json) or `Ctrl+,`

[2019-03-08 19:09] sean-mcmanus commented on #2545
Can you check your files.associations setting to see if any `"*.C": "cpp"` got added? Does it show C or C++ in the bottom right for the files?

[2019-03-08 19:12] sean-mcmanus commented on #3265
I don't know. We don't currently have any special handling for "Gradle".

[2019-03-08 19:14] sean-mcmanus commented on #3265
There is a Gradle extensions for VS Code, but I don't know how well it works....but that might not be C++ Gradle (looks like some other Gradle language).

[2019-03-08 22:54] rakesh-mth commented on #3150
@WardenGnaw Sure will open another issue. Host is windows 10 1803 and Remote machine is ubuntu 16.04.

[2019-03-08 23:33] kelvinwop opened #3266 "question regarding tooltip"
How do I add a newline in the tooltip comment thing? I tried all the tricks up my sleeve:

![image](https://user-images.githubusercontent.com/30770221/54061816-2a45e880-41c8-11e9-8f52-690527189101.png)

But it said no.

![image](https://user-images.githubusercontent.com/30770221/54061821-32058d00-41c8-11e9-8938-1f9b907f388f.png)

Great job by the way, the extension is getting better by the day!

[2019-03-08 23:39] sean-mcmanus commented on #3266
We haven't implemented that yet. We're tracking it with https://github.com/Microsoft/vscode-cpptools/issues/2937 .

[2019-03-08 23:39] #3266 closed, assigned to nobody

[2019-03-09 02:44] sean-mcmanus commented on #1779
This might be fixed with the fix for https://github.com/Microsoft/vscode-cpptools/issues/3260 ...or the repro is more complicated.

[2019-03-09 03:22] sean-mcmanus commented on #1779
I repro this bug on Linux and it's fixed now with my changes. @bobbrow @michelleangela Let me know if anyone can repro this after my fix get checked in.

UPDATE: Fixed with 0.22.0-insiders3.

[2019-03-09 05:54] SupinePandora43 commented on #3265
Gradle language support - extension for support *.gradle files, such as build.gradle, settings.gradle.

[2019-03-09 08:37] septag commented on #2545
No, I've checked it and there's no wrong association. also there is C in the bottom right.
but I get many common cpp errors, like casting void* to other pointer types and designated initializers.

also in cpp_settings :
[code]

[2019-03-09 09:23] septag commented on #2545
ah, there is one thing here in cpp_settings from `cmake-tools`:

[code]

I removed it and replaced it with
[code]

which seems to fix the problem.
So, I'm sorry to bother you, ... again. and I guess this would be `cmake-tools` bug

[2019-03-09 09:23] #2545 closed, assigned to nobody

[2019-03-09 12:19] void-mian opened #3268 "About breakpoint"
Issue Type: <b>Bug</b>

when there is two files have a same name,it can't Distinguish between each other.
the struct of flooders:
1
├── .vscode
├── floder1
│.       .└── A.cpp
└── floder2
 .           .└── A.cpp
the breakpoint in /floder1/A.cpp is at line a
the breakpoint in /floder2/A.cpp is at line b
and a>b

when I debug the file in floder1  it just goes to line b

Extension version: 0.21.0
VS

[2019-03-09 15:31] nathanzh commented on #1685
Hi, facing the same problem here:
VScode just won't hit the breakpoints.
OS: win10 Home ver: 1803
VsCode: 1.32.1
Extension installed
C/C++ for Visual Studio Code Version 0.21.0

**task.json:**
[code]
**launch.json:**
[code]
**c_cpp_properties.json:**
[code]

**debug logs:**

[code]

the same program and  config files running fine in another laptop.

[2019-03-09 16:44] joshniec opened #3269 "Intellisense for Linux specific header files on macOS"
**Type: LanguageService**
I'm developing applications for Linux on a macOS laptop and I'd like to include intellisense for Linux specific header files, such as `sys/epoll.h`. I've tried searching high and low on the internet for an answer but haven't been able to find a solution. Obviously I could simple just ignore the warnings given to me in the problems area, but I'd like to see if I can provid

[2019-03-09 20:03] mlalkaka opened #3270 "Error: Connection to server got closed. Server will not be restarted."
Issue Type: <b>Bug</b>

1. Clone the WebKit repo.
2. Generate a compile_commands.json file by starting a compilation with the `-DCMAKE_EXPORT_COMPILE_COMMANDS=ON`.
3. Set `compileCommands` to the path of the compile_commands.json file in .vscode/c_cpp_properties.json.
4. VS Code should start discovering and parsing files (as seen on the bottom-right of the status bar).
5. After some time (usually

[2019-03-09 20:15] djorborn opened #3271 "Formatting Failed C/C++ No info in Output window"
**Type: LanguageService**

Pop up says `Formatting failed. See the output window for details.
Source: C/C++ (Extension)`
I am using code-insiders 1.33.0
on arch linux.
I have had the same problem with the regular build as well.
Also i believe the errors that I see have an issue. Simple things like a semi cause an error in what seems like the wrong place.
Maybe I am just supposed to do something, S

[2019-03-09 20:45] KarthikJay opened #3272 "C: function like macro expansion false errors"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux Kernel 4.19.24-1 (Manjaro 18.0.3)
- VS Code Version: 1.32.1
- C/C++ Extension Version: 0.22.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them): N/A

When vscode's intellisense expands function like macro's it tends to chop off the closing brace and/or semi-colon.
This then gets report

[2019-03-09 22:19] GoodMexicanSir opened #3273 "My bad, please delet this!"
I thought this was the vscode repository

[2019-03-09 22:20] #3273 closed, assigned to nobody

[2019-03-09 23:23] sarahkittyy opened #3274 "Breakpoints disabled by default."
Type: Debugger
This may be a simple configuration issue but in C++ source files, hitting F9 or clicking to set a breakpoint sets one, but it's automatically disabled.

**Describe the bug**
- OS and Version:
[code]
- VS Code Version:
[code]
- C/C++ Extension Version: 0.22.0-insiders2

- Issue persists after disabling all other extensions.

Video of the bug:
https://drive.google.com/open?id=12KHqvu2

[2019-03-10 03:10] shogerr commented on #2252
This problem also exists for Visual Studio 2017.

**Problem**
Using Visual Studio 2017 on Windows 10, if you load a folder that defines a Qt project with a `CMakeLists.txt` file, then Intellisense will not recognize the convenience headers Qt provides. For instance, when typing `#include <QApplication>` in a cpp file, VS will not suggest the `QApplication` header, and will instead suggestion `qapp

[2019-03-10 08:40] notAlaanor opened #3275 "Unable to debug; "Command 'exec-run'. Invalid process during debug session""
Type: Debugger
- OS and Version: macOS Mojave 10.14.3
- VS Code Version: 1.32.1
- C/C++ Extension Version: 0.22.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Unable to debug; debug panel shows `ERROR: Unable to start debugging. Unexpected LLDB output from command "-exec-run". Command 'exec-run'.

[2019-03-10 11:44] joshgentry opened #3276 "Can't see OutputDebugString (Windows) output via GDB in Debug Console"
Type: Debugger

I thought this might be related to #140 but it's been a while and seems to present somewhat differently.

- OS and Version: Windows 10 (1809 / 17763.316)
- VS Code Version: 1.32.1
- C/C++ Extension Version: 0.21.0

The issue is that, for a Win32 GUI app, compiled via GCC (MinGW), I'm having a very hard time getting debug messages to show up in the Debug Console in any readable way

[2019-03-10 15:28] Lorenz65 opened #3277 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.21.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\loren\ms-vscode.cpptools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-

[2019-03-10 20:11] StanBright commented on #2751
Coming from Sublime, that would be a killer feature for me too.

[2019-03-11 02:11] notAlaanor commented on #3275
Okay, so turns out my poking around with network settings has messed things up a little. I installed the CodeLLDB extension as a fallback, and that didn't work either, according to it's logs, it couldn't reach 127.0.0.1, and doing `ping 127.0.0.1` confirmed this. Running `sudo ifconfig lo0 alias 127.0.0.1 up` and the debugging is working great!

[2019-03-11 02:11] #3275 closed, assigned to nobody

[2019-03-11 09:05] Snape3058 commented on #69
It is the `-static` compiler parameter that makes gdb not able to recognize the STL objects. Thank you for your reply.

[2019-03-11 14:59] nathanzh opened #3278 "debugger doesn't hit breakpoint in my c++ "helloworld" programe"
Type: Debugger
**debugger doesn't hit breakpoint in my c++ "helloworld" programe , same code and config file works fine in my another windows laptop**

**Describe the bug**
- OS and Version: win10 Home ver: 1803
- VS Code Version: 1.32.1
- C/C++ Extension Version: C/C++ for Visual Studio Code Version 0.21.0

**task.json:**
[code]
**launch.json:**
[code]
**c_cpp_properties.json:**
[code]

**debug l

[2019-03-11 15:08] nathanzh commented on #3278
#1685

[2019-03-11 16:32] rlivings39 commented on #106
This would be great to resolve as I've also found the need to type `-exec` frustrating. For now my workaround has been to add a keyboard shortcut in the debug console to insert `"-exec ":`
[code]
That way <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>e</kbd> just inserts it for me.

[2019-03-11 17:21] kgfly commented on #106
Wow, this is a very cool workaround. It works for me. Thanks!

[2019-03-11 18:10] WardenGnaw commented on #3277
Missing attached file and merging with https://github.com/Microsoft/vscode-cpptools/issues/2991

[2019-03-11 18:10] #3277 closed, assigned to nobody

[2019-03-11 18:14] WardenGnaw commented on #3274
The file in the video that you provided has is not a valid C++ source file, the breakpoints will fail to bind because it could not match that breakpoint in the source file with a given line of instruction in the binary.

[2019-03-11 18:18] sudoanand commented on #2441
Same issue, any fix for this?

[2019-03-11 18:50] sean-mcmanus commented on #2545
It could be a bug with cmake-tools or a bug with our code when a custom configuration provider is used. We should probably look into this later.

[2019-03-11 19:10] sean-mcmanus commented on #3269
Can you set your compilerPath setting to a compiler that is able to compile the sys/epoll.h file?

If that doesn't work, then it sounds like you're hitting https://github.com/Microsoft/vscode-cpptools/issues/1083 , i.e. on Mac our IntelliSense process is using a hard-coded define for __APPLE__, so if any of the system headers does something based on that define, your IntelliSense will be incorrect

[2019-03-11 19:29] sean-mcmanus commented on #3271
What does the output window say?

Has formatting ever worked for you?

Can you try running `/home/user/.vscode-insiders/extensions/ms-vscode.cpptools-0.21.0/LLVM/bin/clang-format` from a command line and seeing what errors it gives?

We ship a version of the clang-format binary that was intended to run on Ubuntu 14-18.04. It's possible the binary is not compatible with your OS. We have received re

[2019-03-11 19:34] WardenGnaw commented on #3268
Could your share your [engine logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging)?

[2019-03-11 19:36] bobbrow commented on #3272
To debug this, we'd need to see the definitions of the `#define`s you are using.  Can you share those?  These look like macros expanding to macros.

For your second question, the paths you reference look like system include paths.  Are you using gcc or clang to compile?  If you are then you should be able to set `compilerPath` instead of manually adding system paths to your `includePath` and you'l

[2019-03-11 19:45] bobbrow commented on #2252
@shogerr, can you report your issue on the [Visual Studio Developer Community](https://developercommunity.visualstudio.com) so they can track it better?  They won't look here for feedback.

I still don't repro any problem with auto including QT headers on Windows and I haven't heard back from the OP.  If you are still having an issue with this, please let us know and provide additional details.  I

[2019-03-11 19:45] #2252 closed, assigned to nobody

[2019-03-11 19:50] bobbrow commented on #3271
@djorborn, the output window is currently showing output from "Tasks".  Can you click on the drop down box and select "C/C++"?  Then you should see the error details.

[2019-03-11 20:31] joshniec commented on #3269
Hi Sean,

Thanks for taking the time to response here.

After reviewing that issue you linked I'm inclined to believe that is the problem I am hitting.  I tried modifying the `compilerPath` setting but still had the same issue.

I will subscribe to notifications in #1083 and follow the progress there.

Thanks again for the help.

[2019-03-11 20:31] #3269 closed, assigned to nobody

[2019-03-12 00:08] sdebnath commented on #16
Great news! I am hoping its going to be similar to Eclipse's call hierarchy where a button lets you select if it's caller or callee [1] (though I rarely look up callees). Unlike [2]. However, like [2] would be great if we could  have a code definition window where a preview is displayed for the selected item. This helps avoid context switching in the main editor.

[1] https://help.eclipse.org/mars

[2019-03-12 00:11] KarthikJay commented on #3272
Sure thing, most of it are macro's found in the Linux kernel but here's an expansion of 1:
Ex:
[code]
relevant #defines:
[code]

Also, thanks for the tip about the compilerPath, that was the trick I needed.

Edit:
You can disregard example 1, as those are indeed just macro's being expanded all the way through. The issue still persists for example 2 though that do eventually get expanded out into a

[2019-03-12 05:07] bobbrow commented on #3272
I'm suspicious of the variadic macro, but I only have a Windows laptop to play around with right now and it doesn't repro on WSL for me.  I'll try again in the office tomorrow.

[2019-03-12 13:29] MlNAT0 opened #3279 "cannot open source file "stddef.h" (dependency of "stdio.h")"
I Am Using VS Code with following config.
Version: 1.32.1 (user setup)
Commit: 05f146c7a8f7f78e80261aa3b2a2e642586f9eb3
Date: 2019-03-08T00:51:49.278Z
Electron: 3.1.3
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

When I open Terminal for running my c program it shows me the following problem
"cannot open source file "stddef.h" (dependency of "stdio.h")"

My c_

[2019-03-12 16:11] GauthamBanasandra opened #3280 "Incorrect code highlight std::swap"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.17763
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): Yes
- A clear and concise description of what the bug is.

I'm getting an error highlight for std::swap as shown in this image - https://photos.app.goo.gl/JWpLGewodL

[2019-03-12 16:32] Donpampa commented on #846
@bobbrow,
has anything changed since 2017? I am on Version 0.21.0 now and my project is about 5000 files with high number of include locations. I am still asked to manually update the json file. This is happening even so the first line in includePath is "${workspaceFolder}/**". Also how do I know that the "extenstion has enumerated all the paths in either section?

[2019-03-12 17:05] haneefdm commented on #2882
Hi @pieandcakes, I work with @forehead2k and looking for the same solutions. Support for microcontroller peripherals (via SVD) is one thing, but I am also interested in Register/Memory/disassembly views. I have plenty of cycles for the next few months and I made some comments on [similar issue](https://github.com/Microsoft/MIEngine/issues/816) on the MIEngine repo. Could you please look at [my pos

[2019-03-12 17:21] bobbrow commented on #3279
A few issues I see with this config:
1. Backslashes must be escaped in JSON, so use `\\` or `/` instead of `\`
2. System includes will be automatically included when you set the `compilerPath`. You should remove the MinGW ones from the `includePath`.

Give that a try and let me know how it goes.

[2019-03-12 17:23] bobbrow commented on #3280
Can you please share your configuration?  (`c_cpp_properties.json` - it should be in the .vscode folder)

[2019-03-12 17:25] bobbrow commented on #846
@Donpampa can you open a new issue with more details about your project?  If the headers are all under ${workspaceFolder} we should be able to find them.

[2019-03-12 18:32] Donpampa commented on #846
@bobbrow, they are found by the Tag Parser since I added browser:path "${workspaceFolder}". The "Problems" tab still tags most of the includes as issues and I have to go to the "light bulb" to manually add them one bye one. From 2017 it looks like a WAD. Is it still so?

I also had ${workspaceFolder}/** in includes but it did not help so I removed it now.

[2019-03-12 18:54] sean-mcmanus commented on #846
@Donpampa In addition to what Bob said, you can [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) to see how the "${workspaceFolder}/**" gets resolved into the list of folders that actually have includes used.

[2019-03-12 19:05] Donpampa commented on #1083
I would upvote it more then once if it was possible :-)
+1

[2019-03-12 20:28] Donpampa commented on #846
Do we need new issue for this? With the below code log says it found ~10k files and added them all  to database.
{
    "configurations": [
        {
            "name": "embed code",
            "includePath": [
                "${workspaceFolder}/**"
            ],
            "forcedInclude": [
                "${workspaceFolder}/.vscode/defines_workaround.h"
            ],
            "defines"

[2019-03-12 20:59] sean-mcmanus commented on #846
@Donpampa Yeah, it's better if you create a new issue. I'm not sure what your bug is. What is your source and target OS? You should set your compilerPath also.

[2019-03-12 21:06] wpaul-magicleap commented on #2922
I have vscode v1.32.1 and cpptools v0.21.0 (both the latest at the moment) installed on osx and windows.  On osx I have no issues.  On windows I'm getting this "Stopping due to fatal error: NullReferenceException: Object reference not set to an instance of an object" error.  externalConsole is set to false in my launch.  I don't know if it's related to this issue or not, but I have no idea how to

[2019-03-12 21:30] WardenGnaw commented on #2922
@wpaul-magicleap Can you open up a new ticket for VS Code v1.32.1 and C/C++ extension v0.21.0?

Can you also attach [engine logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) when you create the new ticket?

If you want to debug OpenDebugAD7/MIEngine you can try these [steps](https://github.com/Microsoft/vscode-cpptools/blob/master/Docume

[2019-03-12 21:55] StarPrecursor opened #3281 "Broken down after enable"
We have written the needed data in
Issue Type: <b>Bug</b>

Output:

[Error - 5:52:16 PM] Connection to server got closed. Server will not be restarted.
[Error - 5:52:16 PM] Request textDocument/hover failed.
Error: Connection got disposed.
	at Object.dispose (c:\Users\yz622\.vscode\extensions\ms-vscode.cpptools-0.21.0\node_modules\vscode-jsonrpc\lib\main.js:876:25)
	at Object.dispose (c:\Users\yz6

[2019-03-12 21:59] Donpampa commented on #846
@sean-mcmanus,
it is embedded system with proprietary OS. I made it empty so that system files will not be used.
What I see so far is that default file above works almost always.
For a broken example - two different header files B.h and C.h both include the same header A.h - #include "A.h". In one case file is flagged as "add to your include path case" in another file - not. Sure enough debug outp

[2019-03-12 22:21] sean-mcmanus commented on #3281
Does this reproduce with 0.22.0-insiders2, i.e. after setting the C_Cpp.updateChannel to "Insiders" or manually installing it from https://github.com/Microsoft/vscode-cpptools/releases? We fixed an issue on Windows with certain user names.

[2019-03-12 22:24] wpaul-magicleap opened #3282 "Stopping due to Debug session failure: fatal error: NullReferenceException: Object reference not set to an instance of an object"
Type: Debugger
I get "Stopping due to fatal error: NullReferenceException: Object reference not set to an instance of an object" in the debug console when trying to debug using MIEngine.  This is happening on Windows but not Mac.

I thought this was the same as https://github.com/Microsoft/vscode-cpptools/issues/2922, but maybe not.  I'm not sure how to tell, but the error is the same, and both ha

[2019-03-12 22:25] wpaul-magicleap commented on #2922
Created https://github.com/Microsoft/vscode-cpptools/issues/3282

[2019-03-12 22:27] wpaul-magicleap commented on #3282
Some people said in #2922 that setting externalConsole to false worked around that issue, but I have it set already.

"externalConsole": false,

[2019-03-12 22:29] sean-mcmanus commented on #846
@Donpampa You can try doing a Reset IntelliSense Database in case stuff got incorrectly added to our non-existent list. It sounds like you're saying that the recursive includes feature is failing to add a particular folder. This would occur if we detected that that include path was not needed. We have not received any other reports of a bug like this in the past year or so since we released the re

[2019-03-12 22:30] sean-mcmanus commented on #846
@Donpampa Oh, we fixed a bug in 0.22.0-insiders2 that caused the recursive includes feature to fail when forcedIncludes is used -- that is probably what you're hitting. You can change your C_Cpp.updateChannel to Insiders to get that fix.

[2019-03-12 22:33] sean-mcmanus commented on #846
@Donpampa Oh, actually, that bug was fixed in 0.21.0, so it seems like you're hitting something else (https://github.com/Microsoft/vscode-cpptools/issues/2986).

[2019-03-12 22:36] StarPrecursor commented on #3281
Hello Sean,

It works normally now after going to 0.22.0 version.

Thank you very much!

Best,
Zhe

On Tue, Mar 12, 2019 at 6:21 PM Sean McManus <notifications@github.com>
wrote:

[2019-03-12 22:57] WardenGnaw commented on #3276
It looks like GDB is outputting these strings as log-stream output so you will need to have engineLogging enabled. There is no good way for us to only have DebugOutputStrings shown.
[code]
From https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI-Output-Syntax.html#GDB_002fMI-Output-Syntax

Also, is there a reason why you are using ```gcc``` and ```gdb``` instead of ```cl``` and the windows c++ de

[2019-03-12 22:59] WardenGnaw commented on #3278
From the engine logs, I do not see any breakpoints being set. Do you have a sample C++ project I could recreate your issue with?

[2019-03-12 23:43] nathanzh commented on #3278
https://youtu.be/VbdkDwr3dIM
**my code:**
[code]
break point set at cout .

[2019-03-13 00:08] Donpampa commented on #846
@sean-McManus, yes - we can say that recursion does not work reliably. Different source files are getting different subsets of include folders to look at. One of the include folders in question is known to the system because I see it as a part of logs in several cases. Then in one case include folder list is really short and does not have the magic folder. As a result the same header file from the

[2019-03-13 00:50] sean-mcmanus commented on #846
@Donpampa Yeah, if you have multiple header files with the same name at different paths, that can break the recursive includes feature if it chooses the wrong path and you will need to add some non-recursive paths. There is no way for us to determine which path (or the ordering) to use if there are headers with the same name at different paths. Does this sound like what you are hitting?

[2019-03-13 03:51] Lennon925 opened #3284 "Question about forbidding language service or debugger function"
Hi,
Currently my .net framework version is 4.5, I don't want to upgrade it to 4.6 but I want to use new features about language service.  Are there some configurations which can forbid debug function or language service? And if there are, from which version they are added.
By the way, I wonder from which version need to upgrade .net framework to 4.6 if I want to use both language service and debug

[2019-03-13 03:54] Lennon925 commented on #3284
In addition, Could I install two different versions independently? I wanna to forbid debugger on one version and forbid language service on another version.

[2019-03-13 03:55] Lennon925 commented on #3284
@sean-mcmanus

[2019-03-13 07:42] MlNAT0 commented on #3279
@  Thanks ! I tried as you said.
But the problem is there !

### Here Is My New Config Now.

![image](https://user-images.githubusercontent.com/48480776/54261150-0819e500-4591-11e9-80a5-0253914fa1c4.png)

### Also I have no errors g++ command

<img width="960" alt="cmd" src="https://user-images.githubusercontent.com/48480776/54261203-2849a400-4591-11e9-8355-908fd89d71c6.png">

[2019-03-13 10:17] joshgentry commented on #3276
@WardenGnaw, thanks for the response. I prefer to use `gcc` and `gdb` because this project builds across platforms and is developed with the same stack on each (Linux / OSX / Windows all using GCC and GDB for debugging).

Is there a way, that I might have missed in my searches, to filter the output with a RegEx or based on log type?

edit: I realize the example using OutputDebugString is odd given

[2019-03-13 10:40] craimasjien commented on #390
Does anybody know the status of this change? Because when I compile and build a C++ application and try to run/debug it, it still starts the native macOS terminal.
In my `settings.json` I changed the `osxExec` and the `exploreKind`.

**settings.json**
[code]

For reference, these are my `tasks.json` and `launch.json`

**tasks.json**
[code]

**launch.json**
[code]

[2019-03-13 11:06] jrieken opened #3285 "Duplicated formatter registrations"
For https://github.com/Microsoft/vscode/issues/70314 and https://github.com/Microsoft/vscode/issues/41882 I have analysed formatter conflicts, e.g. multiple formatters that are registered and enabled for one language. Telemetry shows that this extension (sometimes?) registers the its own formatter two times.

[2019-03-13 11:19] fanjc320 commented on #449
have a problem:Property externalConsole is not allowed

[2019-03-13 13:23] wpaul-magicleap commented on #3282
Interesting twist.  Setting externalConsole to true makes it work.  I guess that's why it works on Mac as externalConsole only applies to Windows and Linux.  Also, I get all of the trace data now in the debug console, so with externalConsole set to false whatever is happening is happening before any trace data is captured.

That said, there is a workaround, but it is a bug.  As it stands anyone us

[2019-03-13 14:00] GauthamBanasandra commented on #3280
@bobbrow I could only find `settings.json` with the following as its content
[code]
I couldn't find `c_cpp_properties.json` in .vscode folder.

[2019-03-13 16:29] bobbrow commented on #3280
Ok.  That means you're using whatever defaults the extension picked for you. Can you run the `C/C++: Edit Configurations...` command?

![image](https://user-images.githubusercontent.com/12818240/54296451-32a87580-4572-11e9-892f-941565fe9910.png)

This will generate and open a `c_cpp_properties.json` file that we can use to modify your configuration.  Please do that and then share the contents on t

[2019-03-13 16:33] GauthamBanasandra commented on #3280
Sure. Here's `c_cpp_properties.json`
[code]

[2019-03-13 16:38] bobbrow commented on #3285
Do you see multiple registrations when using multi-root workspaces?  We don't do dynamic registration as your task suggests we should.  We use the `vscode-languageclient` module and it's possible that we return that capability multiple times during static initialization since we have one language client per folder.

@dbaeumer, what would you recommend we do for the multi-client case?

[2019-03-13 16:42] jrieken commented on #3285
I can't tell, I am just looking at the telemetry from [here](https://github.com/Microsoft/vscode/blob/ceb4b0c4553a9acd832fee825853d5b96eb86af3/src/vs/editor/contrib/format/format.ts#L107-L120) and that shows there are sometimes two formatters from this extension.

[2019-03-13 16:46] Donpampa commented on #846
@sean-mcmanus, I understand that picking one of the two may be a problem. If this is happens it picks neither apparently. I this expected?
I see some errors in the log related to parsing so. Could they be the reason?
 ... Unable to finalize updates for file, error = 0x80640005: ...

[2019-03-13 17:35] bobbrow commented on #3280
The `cppStandard` is set to c++17, and you are relying on c++14 rules.  Changing cppStandard to "c++14" should remove the squiggle.

If you're planning to move to c++17 at some point, the following explanation might help:

Your `Metadata` type is not "move assignable" so std::swap doesn't work with it out of the box.  You have a few options to deal with this though.  You can implement a swap funct

[2019-03-13 17:51] bobbrow commented on #3279
Can you:
1. [Enable debug logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md)
2. Run the "Reload Window" command
3. Paste the resulting log here

What I'm really looking for in the log is stuff related to these lines (and if there are any errors nearby):
[code]

[2019-03-13 18:14] ghost opened #3286 "Goto does not work"
Goto definition is unstable.
One minute it works, and the other it tells no definition found.
When you hover over a var/function, it displays a tip, other minute it does not.

I have set up MQL lang over CPP for intellisence/goto,etc. (*.mqh, *.mq5)
I have set up the includes folder as instructed. The includes folder is just 10 Mb.
This cpp extension is so unreliable.

[2019-03-13 19:27] bobbrow commented on #3272
I only repro the problem on Windows/Linux when `KBUILD_MODNAME` is undefined (there was no definition provided in your last post).  Can you confirm if that macro is defined somewhere?

[2019-03-13 21:38] gloriaOli opened #3287 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.21.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.32.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Carmen\ms-vscode.cpptools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high

[2019-03-13 21:39] gloriaOli commented on #3287
soy nueva me aparece este error y no se como arreglarlo

[2019-03-13 22:14] bobbrow commented on #3287
Thank you for your issue report.  We are tracking this with #3213.

[2019-03-13 22:14] #3287 closed, assigned to nobody

[2019-03-13 22:35] daantimmer commented on #3173
I am facing the exact same issue, but then using Visual Studio 2017 in combination with a Segger j-link.

[2019-03-14 01:20] DioTheDev commented on #2032
Installing from VSIX on an offline computer still attempts to download the dependencies.

Using this vsix: https://github.com/Microsoft/vscode-cpptools/releases/download/0.21.0/cpptools-win32.vsix

[2019-03-14 02:45] mlalkaka commented on #3270
If there's some more information I can provide, or some debugging steps you'd like me to follow (e.g. to provide a crash dump), please let me know. I couldn't find any additional instructions in the CONTRIBUTING.md file for this repo.

[2019-03-14 03:24] bobbrow commented on #3270
@mlalkaka, your report looks good, and we've tagged it for investigation.  Sorry we haven't gotten to it yet as we're putting the finishing touches on the next update.

[2019-03-14 03:24] ghost commented on #3252
Hi @idanemergi ,

I also facing the same issue with sth similar to Linux kernel config define flags.
My solution is to have a python script to parse kconfig then to append into c_cpp_properties.json.

If you are interested, I have attached my scripts and result here.
[kernel-config-vscode.tar.gz](https://github.com/Microsoft/vscode-cpptools/files/2964604/kernel-config-vscode.tar.gz)

[2019-03-14 05:18] KarthikJay commented on #3272
Yea, after adding in the define to the c_cpp_properties.json file the errors went away.

Sorry about that, I should have read the [documentation](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Customizing%20Default%20Settings.md) better.
After adding in all my compileCommands (or just the defines for now) all the warnings did go away correctly.

I did speak t

[2019-03-14 07:09] idanemergi commented on #3252
Thanks a lot, will try and update.

[2019-03-14 08:23] dbaeumer commented on #3285
If I remember correctly the CPP extension uses different document selectors in the multi client case. Something like:

[code]

@bobbrow is this still the case for the CPP extension

@jrieken this is supported and shouldn't cause any problems. Right?

[2019-03-14 08:54] jrieken commented on #3285
Yeah, that shouldn't be a problem

[2019-03-14 09:15] idanemergi opened #3288 "Go to declaration always shows 2 files, relative and absolute paths"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 14.04.5
- VS Code Version: 1.24.1
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them): yes
- A clear and concise description of what the bug is.

The issue is that my workspace folders setting contains only the current dir "." and ctrl+p
open file using the relative pat

[2019-03-14 11:00] alexr00 opened #3289 "Why is there a task type `shell` contributed?"
Type: General
Task type `shell` is reserved by VS Code and is a built in type. Having it contributed in the package.json of an extension causes json validation warnings for folks in tasks.json. Why is it being contributed in the cpptools extension? Contribution location: https://github.com/Microsoft/vscode-cpptools/blob/master/Extension/package.json#L46

I noticed this because @noppej was getting

[2019-03-14 12:17] MlNAT0 commented on #3279
0 include path suggestion(s) discovered.
0 include path suggestion(s) discovered.
Checking for syntax errors: file:///c%3A/MinGW/include/stdio.h
0 include path suggestion(s) discovered.
0 include path suggestion(s) discovered.
1 include path suggestion(s) discovered.
1 include path suggestion(s) discovered.
0 include path suggestion(s) discovered.
IntelliSense Engine = Default.
The extension will

[2019-03-14 14:54] Kronuz commented on #1159
What are the terms of use of those 2 language server binaries? Also, those haven't been open sourced yet?

[2019-03-14 15:27] bobbrow commented on #3279
Can you reload the window and try again?  I need some of the logs that are only printed at the beginning of the session.  Thank you!

[2019-03-14 15:36] bobbrow commented on #3272
Thank you for confirming.

To your other point, there is no way to execute a shell command in our properties file.  The best we have right now is support for environment variables.  You can also create a custom environment that inherits the shell environment by using the `"env"` property in `c_cpp_properties.json`:

[code]

[2019-03-14 15:37] bobbrow commented on #3272
Sorry, I made a mistake in the JSON file. It is updated now.

[2019-03-14 16:14] harikrishnan94 opened #3290 "Functions using certain macros are not listed in Document and Workspace Symbols"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS Mojave (10.14.3 (18D109))
- VS Code Version: 1.32.2
- C/C++ Extension Version: 0.22.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them): Issue persists after disabling all other extensions.
- Certain functions are not listed in Document and Workspace Symbols, even though they are sugge

[2019-03-14 16:50] bobbrow commented on #3289
I think this was added by mistake earlier.  I am opening a PR to remove it.

[2019-03-14 16:54] GauthamBanasandra commented on #3280
Thanks @bobbrow . I've a follow-up question.

Why is this so? I'm using Visual Studio 2017. Since it implements C++17, shouldn't it rely on C++17 rules rather than that of 14? Also, where in the configuration does it say that my vscode is using C++14 rules?

[2019-03-14 17:17] bobbrow commented on #3280
Sorry, let me clarify. Visual Studio 2017 has support for C++17, but you have to opt in to it.  The default property pages don't add the standard version to the command line, so you get cl.exe's default value and cl.exe [defaults to c++14](https://docs.microsoft.com/en-us/cpp/build/reference/std-specify-language-standard-version?view=vs-2017).

![image](https://user-images.githubusercontent.com/12

[2019-03-14 17:33] bobbrow commented on #3284
The only way to install two different versions of the extension is to have two different versions of VS Code (e.g. stable and Insiders).

You can then disable the language server on one of them by using the `"C_Cpp.intelliSenseEngine": "Disabled"` setting.  There is no way to actively disable the debugger, but you could just refrain from creating and using a `launch.json` file.

[2019-03-14 18:43] sean-mcmanus commented on #846
@Donpampa Yeah, it's supposed to add at least one valid path that contains the `#include`, otherwise it would be a new bug that we haven't seen reported before.

The finalize update error is with tag parsing for our file database. That error code seems like an access denied, possibly due to another process trying to use the database. If the error is occurring for the file that has the `#include` i

[2019-03-14 18:53] sean-mcmanus commented on #3286
We need more info because we have not witnessed this problem. What is your OS? What version of the C/C++ extension are you using? Do you see any crash error messages in the logs? What actions are causing the Go to Def to fail? Does it repro with even a simple project or only with certain projects?

[2019-03-14 19:01] sean-mcmanus commented on #2032
@DioTheDev I tried it out, and it didn't try to download dependencies. Why do you think it's trying to download dependencies? If your C_Cpp.updateChannel is set to "Insiders" then we'll attempt to download the latest insiders instead. Is that what you're seeing? We also attempt to download a .json file, but it shouldn't block anything if that fails.

[2019-03-14 19:41] haneefdm opened #3292 "Document error: Mac or Linux OS X"
In the following page,

https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/How%20To%20Debug%20MIEngine.md

The Install Prerequisites for Linux or Mac OS X are either wrong or out of date or has bad links. The Xamarin Studio v5.10.1.6 points to an msi installer not meant for a Mac? Install GTK link points to https://www.mono-project.com/download/stable/ which is okay I

[2019-03-14 20:18] WardenGnaw commented on #3292
The wording on that page is a bit weird, but it all assumes you are debugging from a Windows machine since you will need to build the Debug bits of MIEngine using Visual Studio.

If you want to remotely debug MIEngine that is running on a Mac, you will need to install GTK and the MonoDevelop MSI on the Windows machine locally and remote attach to it using MonoDevelop.

I however would recommend us

[2019-03-14 20:28] WardenGnaw commented on #3282
Could you get to the version of the extension that was not working and kept erroring with NullReferenceException and zip it up?

Extensions are usually installed in %USER%/.vscode/extensions and you want to zip up ms.vscode-cpptools<VERSION>

[2019-03-14 21:19] sean-mcmanus commented on #1575
Fixing https://github.com/Microsoft/vscode-cpptools/issues/1755 might fix this too.

[2019-03-14 21:33] wpaul-magicleap commented on #3282
[ms-vscode.cpptools-0.21.0.zip](https://github.com/Microsoft/vscode-cpptools/files/2968551/ms-vscode.cpptools-0.21.0.zip)

Here you go

[2019-03-14 21:50] sean-mcmanus commented on #3041
Is this finished now?

[2019-03-14 22:47] sean-mcmanus commented on #2988
This appear to be fixed with the latest VS Code. Let us know if you're still seeing it.

[2019-03-14 22:52] sean-mcmanus commented on #665
This should be fixed now with the latest VS Code.

[2019-03-14 22:52] #665 closed, assigned to nobody

[2019-03-14 22:58] sean-mcmanus commented on #3023
This has been fixed with the latest VS Code -- all the namespaces are non-highlighted.

[2019-03-14 22:58] #3023 closed, assigned to nobody

[2019-03-14 23:00] haneefdm commented on #3292
Thanks, @WardenGnaw

Oh, build on Windows with Visual Studio but use "VSCode + Mono Extension" to experiment/debug/test MIEngine locally on the Mac? I get it now. I think :-)

[2019-03-14 23:10] sean-mcmanus commented on #1159
@Kronuz The license for the binaries is at https://github.com/Microsoft/vscode-cpptools/blob/master/Extension/LICENSE.txt . They haven't been open sourced.

[2019-03-14 23:22] DioTheDev commented on #2032
![image](https://user-images.githubusercontent.com/48537897/54396777-3d950e80-4708-11e9-8ac3-f0d23f8dc309.png)

I am seeing this after installing from the vsix at the link I posted earlier. Updates have been set to none with "update.mode": "none"

The result:

Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)'  Failed. Retrying... Failed. Retrying... Failed.

[2019-03-14 23:24] sean-mcmanus commented on #3290
This is "by design". The syntax breaking macros need to be added to a cpp.hint file in your workspace folder, see https://docs.microsoft.com/en-us/cpp/build/reference/hint-files?view=vs-2017 , i.e. add something like
[code]

[2019-03-14 23:26] sean-mcmanus commented on #1266
This is "by design". The syntax breaking macros need to be added to a cpp.hint file in your workspace folder, see https://docs.microsoft.com/en-us/cpp/build/reference/hint-files?view=vs-2017 , i.e. add something like
[code]

[2019-03-14 23:52] sean-mcmanus commented on #2032
The offline installer should install with an install.lock file, which we check to determine if we need to download the dependencies. Could that file be deleted somehow? Do you see any errors when you use Toggle Developer Tools?

[2019-03-15 00:35] sean-mcmanus commented on #2498
Fixed in VS Code Insiders.

[2019-03-15 00:35] #2498 closed, assigned to nobody

[2019-03-15 00:40] sean-mcmanus commented on #2988
Oh, the fix hasn't been ported to Insiders yet -- you can install the Better C++ Syntax extension for that fix. I'll close this after the fix gets moved.

[2019-03-15 00:46] sean-mcmanus commented on #3023
Actually, the fix is in VS Code Insiders (not VS Code, unless you install the Better C++ Syntax extension).

[2019-03-15 01:06] sean-mcmanus opened #3295 "No problemMatcher added to auto-created build tasks"
After using the Build and Debug Active File command (0.22.0-insiders3), the tasks that get created don't have problem matches added.

Adding something like this fixes it:
[code]

Or with "$msCompile" for cl.exe.

Not sure if the absolute should always be used.

[2019-03-15 01:13] sean-mcmanus opened #3296 "__cdecl and 5 other keywords aren't recognized by IntelliSense with clang without -fms-extensions"
With clang mode without -fms-extensions, "__cdecl" should be a valid pre-defined identifier.

Currently, it causes incorrect squiggles.

There could be additional keywords handled incorrectly in a similar manner.

A more comprehensive test is:

int __cdecl func() { return 0; }
int __fastcall func2() { return 0; } // C (>=3.2), or C++​ (>=3)
int __stdcall func3() { return 0; }​
int __thiscall func4

[2019-03-15 02:22] sean-mcmanus opened #3297 "Auto-generated clang++ build task doesn't work with standard library headers on Mac without -isysroot added"
If you try to do Build and Debug Active File on Mac with the clang++ compiler (from XCode) and code that uses the standard library headers, it will fail to build, unless
[code]
is added to the task args list.

[2019-03-15 02:27] sean-mcmanus commented on #3258
32-bit Windows debugging is fixed with 0.22.0-insiders3.

[2019-03-15 02:30] sean-mcmanus commented on #3260
Squiggle bugs should be fixed with 0.22.0-insiders3 -- let us know if you hit any issues still.

[2019-03-15 02:33] sean-mcmanus commented on #1928
We fixed the main cause of formatting getting stuck with 0.22.0-insiders3 -- let us know if this is still a problem for you. It's possible there may be cases where formatting could still get stuck, but they should be pretty rare now.

[2019-03-15 02:36] sean-mcmanus commented on #3206
We made fixes for this with 0.22.0-insiders3 that should prevent the incorrect extra reload/installation prompts.

[2019-03-15 02:42] alexmcgilvery commented on #3260
Just got the update and the issue is not present and I cannot reproduce it.

In respect to #1779, squiggles are updating in my source files automatically now (without edits or re-opening) so in my case #1779 is also resolved.

[2019-03-15 03:17] Lennon925 commented on #3109
it has passed for one month, this issue will be fixed? There are so many obvious bugs about go-to-definition which don't exist in visual studio.
Currently, experience on vscode language service is so terrible……

[2019-03-15 04:02] harikrishnan94 commented on #1928
Thanks it’s working for me.

[2019-03-15 05:04] #3290 closed, assigned to nobody

[2019-03-15 05:31] djorborn commented on #3271
Sorry i feel silly I didnt see that drop down. The error was that clang-format could not find `libtinfo.so`, I did some research and found a solution to install the package `ncurses5-compat-libs` from the Arch User Repository. After that the error was gone. Thank you for the help sorry it took so long to get back to you.

[2019-03-15 05:31] #3271 closed, assigned to nobody

[2019-03-15 08:20] clnmahone commented on #2889
It seems like the incompatible of windows' **power shell**, today I change the defualt shell to **cmd.exe**, and it works.
@tnqzh123 @mihaiconstantin

[2019-03-15 11:13] infalmo opened #3298 "[Linux] Debug launch command shows up in terminal window"
Type: Debugger

### Computer Details
- OS and Version: Ubuntu, 18.04
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Compiler Version: G++-8

After debugging my C++ code and stopping it(by pressing the red button) a string of random characters are printed on the screen. Here are the exact words:

This happens everytime I close the debug session, and if I go to the terminal and press

[2019-03-15 11:37] dwilliamson commented on #3258
Works for me! Single-stepping also many times faster again (I updated to 1.32.0). Thanks.

[2019-03-15 12:12] CBtiger opened #3299 "Question on Readme Info: Data/Telemetry"
You write in the ReadMe:

Does this mean your Extensions does its own Telemetry apart from the Telemetry of the main program VS Code? If so, can you please make that clear. If no, why are you mention that here (because it would have be mentioned at all externsions). I admit that this information is a bit confusing. Hopefully you could rephrase it a bit.

[2019-03-15 12:25] CBtiger opened #3300 "Clarification on *.vsix offline installs"
you have many posts clarifiying the problem  that the standard *.vsix package causes errors at the first start because the cpptools extensions wants to download extensions. I think I read all your issues on that and I also found the Release folders where you provide the different version per OS.

What I do not understand is that nobody is asking why the main target version seems to be missing ther

[2019-03-15 13:21] Tnze opened #3301 "Hight light of scanf format "%[]""
**Type: LanguageService**

**Describe the bug**
- OS and Version: Mac OS Mojave
- VS Code Version: 1.32
- C/C++ Extension Version: 0.21.0

The highlighter incorrectly displays red for `%[]` format string.

**Screenshots**

![it should not be red](https://i.loli.net/2019/03/15/5c8ba659c7e26.png)

[2019-03-15 14:56] KarthikJay commented on #3272
Thanks,

That does the trick for now!

[2019-03-15 14:56] #3272 closed, assigned to nobody

[2019-03-15 15:10] dsanz006 opened #3302 "GDB Remote Target Debugging: can't see stdout console"
Type: Debugger

- OS and Version: Ubuntu 18.04.2 LTS
- VS Code Version: 1.32.3
- C/C++ Extension Version: 0.21.0

I am developing an application that runs on an ARM Cortex-M3 device. I am debugging using Segger JLink. I use JLinkGDBServer and arm-none-eabi-gdb as a client. Debugging works fine, except that I can't see stdout in the console or in an extern terminal. My `launch.json` configuration i

[2019-03-15 15:24] MlNAT0 commented on #3279
I'm Sorry ! Here Is The Log .

____________________________________________________________________________________________________________

initialized
workspace/didChangeConfiguration
IntelliSense Engine = Default.
The extension will use the Tag Parser for IntelliSense when #includes don't resolve.
Autocomplete is enabled.
Error squiggles are enabled.
File exclude: **/.git
File exclude: **/.svn

[2019-03-15 15:28] alexr00 commented on #3289
Thank you!

[2019-03-15 17:12] GauthamBanasandra commented on #3280
Yes, I wrote the code in Visual Studio and later happened to view it through vscode, that's when I came across this bug.

Upon checking the project properties in Visual Studio, I see `C++ Language Standard` is set to `ISO C++17 Standard (/std:c++17)` and yet I get the red squiggly line for std::swap inspite of which the code compiles and runs fine.
![image](https://user-images.githubusercontent.co

[2019-03-15 17:36] kabukunz commented on #16
Like Eclipse, XCode, PyCharm, whatever... this is absolutely needed in any serious professional programming environment
Just find myself to switch back to XCode on my mac right now because I need to see a big project call tree... sigh...

[2019-03-15 18:16] bobbrow commented on #3280
We use the same linter as Visual Studio, so that would explain why the squiggles are the same.  Do note that the linter and the compiler are not sharing the same parsing code, so sometimes they don't agree 100%.

I'll get your Developer Community issue sent to the right person so we can get the two pieces into alignment on this issue.  I'm also seeing that my `baz2` example is showing a squiggle i

[2019-03-15 18:38] sean-mcmanus commented on #3109
The other Go To Def bugs that exist in VS Code that don't exist in Visual Studio we plan to fix in the April update. This particular issue would probably need to be fixed by the VS C++ team, but the linked issue only has 2 upvotes.

[2019-03-15 18:58] bobbrow commented on #3299
Yes, the extension collects feature usage information in addition to what VS Code collects.  Would you like for us to add that additional description?

[2019-03-15 19:02] bobbrow commented on #3300
Thanks for the feedback.  Adding a section to the readme on this is a good suggestion.  Our extension should be outputting an error message with instructions when it tries to download dependencies in the "offline" scenario, but it's possible that people might not see them.

Win32 binaries run on Win64, so all Windows users can install the same package.  But I think renaming these would be good to

[2019-03-15 19:15] amrur opened #3303 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.21.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\PC\ms-vscode.cpptools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu

[2019-03-15 19:31] sean-mcmanus commented on #3299
We use the vscode-extension-telemetry API -- see https://github.com/Microsoft/vscode-extension-telemetry . In particular, setting the telemetry.enableTelemetry option to false will also affect our extension telemetry too, so it's not a "separate" telemetry mechanism in that respect.

[2019-03-15 19:47] bobbrow commented on #3303
Thank you for your issue report. This looks like a duplicate of #3213.

[2019-03-15 19:47] #3303 closed, assigned to nobody

[2019-03-15 20:05] bobbrow commented on #3279
Which MinGW do you have?  The one from mingw.org (which looks like the one you're using) seems to be locked at GCC 6.3.  How did you get GCC 8.2 with MinGW?

[2019-03-15 20:07] sean-mcmanus commented on #3301
This is fixed in the latest VS Code Insiders.

[2019-03-15 20:07] #3301 closed, assigned to nobody

[2019-03-16 12:38] ghost commented on #3286
I have seen this too. Initially whenever I make many changes in a short while. Recently code often start with goto-def not working and just sometimes it appears to fix itself while I'm working. Actually it just happened since I switch my attention between writing this and looking in my code. At start it didnt work, now it does!

My impression is that the behavior changes a little every code-update

[2019-03-16 17:11] CBtiger commented on #3299
@bobbrow , @sean-mcmanus thank you both for your replies.

 Yes, I would think its an important information. Both bits: a)You collect information apart from the main program and at least as informative. b) its controlled with thte same settings switch than the telemetry of the main program.

[2019-03-16 17:28] CBtiger commented on #3300
You are welcome, glad if you find it useful.
I must say I am very impressed by your Extension and even more by your support.

Your instructions included indeed. Just ran it again. It says to download the release vsix files. So that is great and very helpful. After reading the message I only hung at the x64bit naming issue.

The very best solution imho is leave every file name as it is and add a se

[2019-03-16 23:24] Quas7 commented on #3140
similar issue here while trying to debug an embedded project.
cpptools 0.22.0-insider3 as well as 0.21.0 behave like this.
But, it worked for one debug session but unfortunately, I clicked on the auto-update button and have no clue, which versions I had previously!

Version: 1.32.3 (user setup)
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T23:43:35.476Z
Electron: 3.1.6
Chrome:

[2019-03-17 02:30] Quas7 commented on #3282
I have the same issue during debugging an embedded esp32 application using the ms-arduino-extension with 0.22.0-insider3 cpptools on vscode-insider
`
Version: 1.33.0-insider (user setup)
Commit: 5a88160c7dc5db820a564e3872e0de087ff3563d
Date: 2019-03-15T15:54:09.237Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763
`

as well as with 0.22.0-insider3

[2019-03-17 03:04] Quas7 commented on #3282
Using cpptools 0.19.1-insider3 seems to work without the NullReferenceException but still the debug session does not run through - but could have other reasons.
[code]

Debug Console output:
`=breakpoint-deleted,id="1"
Execute debugger commands using "-exec <command>", for example "-exec info registers" will list registers in use (when GDB is the debugger)
Note: automatically using hardware breakp

[2019-03-17 03:40] MlNAT0 commented on #3279
So should I get GCC 6.3

[2019-03-17 03:43] MlNAT0 commented on #3279
I downloaded it from mingw.org

[2019-03-17 04:35] MlNAT0 commented on #3279
### PROBLEM SOLVED.

Downloaded mingw from here ::
[https://sourceforge.net/projects/mingw/](url)

Installed Basic Package ::

<img width="960" alt="p1" src="https://user-images.githubusercontent.com/48480776/54485273-b11b5500-489b-11e9-97d6-241abb1c58bf.png">

### Added includePath as ::

<img width="960" alt="p2" src="https://user-images.githubusercontent.com/48480776/54485288-eaec5b80-489b-11e9

[2019-03-17 04:37] #3279 closed, assigned to nobody

[2019-03-17 05:22] bobbrow commented on #3279
I'm glad to hear you got it working!

[2019-03-17 13:37] ghost commented on #3286
Version: 1.32.3 (user setup)
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T23:43:35.476Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134

Name: C/C++
Id: ms-vscode.cpptools
Description: C/C++ IntelliSense, debugging, and code browsing.
Version: 0.21.0
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.co

[2019-03-17 15:41] sswwpplyy opened #3304 "Linaro GDB remote connect"
Type: Debugger

- OS and Version: Ubuntu-16.04
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):

I'm trying to connect to gdbserver which run on an ARM device, but there are some errors.

I have printed the engine log:
[code]

The log showed that 'frame list' caused gdb exit.

The 'cannot access memory at

[2019-03-17 15:59] mkandulavm opened #3305 "displaying "this" pointers data in watch window"
Type: Debugger
I am using visual code in Debian with gdb.

Version: 1.31.1 Commit: 1b8e8302e405050205e69b59abb3559592bb9e60 Date: 2019-02-12T02:19:29.629Z Electron: 3.1.2 Chrome: 66.0.3359.181 Node.js: 10.2.0 V8: 6.6.346.32 OS: Linux x64 4.9.0-8-amd64
C/C++ extension version : 0.21.0

I remember in visual studio pro its possible to type "*this" in watch window and I can see members of the class ob

[2019-03-18 15:43] TheBicPen opened #3306 ""Unable to open cygwin.S" when stepping into strcpy using GDB debugger"
Issue Type: <b>Bug</b>

It seems like the latest update broke the GDB debugger.

Steps to reproduce:
1. Have MinGW installed.
2. Have the official C/C++ plugin installed.
3. Update to 1.32.3.
4. Create a c file with the following code:
[code]
5. Place a breakpoint on the line ```char str[len];```
6. Debug with GDB using the following vscode files:

launch.json:
[code]

Tasks.json:
[code]

c_cpp_pr

[2019-03-18 16:08] bobbrow commented on #3286
@dmipec, correct me if I'm wrong, but MQL is not C++.  By default, that means that there is no guarantee that our extension will work with it.

There are non-C++ literals in MQL that our extension knows nothing about.  (e.g. uchar, ushort, string, color, datetime).  If you use any of those, our extension wouldn't know what they were unless you create aliases for them in the `c_cpp_properties.json`

[2019-03-18 18:11] hsupu opened #3308 ".h file with gcc and C language mode is defining the __cplusplus macro"
**Type: LanguageService**

- OS and Version: Ubuntu 16.04
- VS Code Version: 1.32.1 05f146
- C/C++ Extension Version: 0.21.0

my vscode highlights .h files incorrectly.

I choose the language mode "C" for .h files and `c_cpp_properties.json` `configurations.compilerPath` is `/usr/bin/gcc`. But, `__cplusplus` in .h shows that it's defined as `201500L` and `#if defined(__cplusplus)` blocks are highl

[2019-03-18 19:24] WardenGnaw commented on #3306
GDB is sending the source for strcopy to VSCode. Unless you built the libraries for strcpy, it is sending the source file line of where it was built.

Duplicate of:
https://github.com/Microsoft/vscode-cpptools/issues/811

[2019-03-18 19:25] #3306 closed, assigned to nobody

[2019-03-18 19:26] WardenGnaw commented on #3302
@robotdad Do you have a working configuration for this scenario where the output shows?

[2019-03-18 19:50] dsanz006 commented on #3302
Don't know exactly what you mean, I copied my launch configuration in the description. What else do you need?

The output of printfs only shows if, once debugging, I open a new terminal and type `telnet localhost 2333`. 2333 is the port where JLinkGDBServer is sending stdout.

[2019-03-18 19:52] WardenGnaw commented on #3302
@dsanz006 Sorry for the confusion, I was contacting another team member who has more experience with the JLinkGDBServer configurations. The question is for him if he has experienced this issue and has a working configuration that he could share.

[2019-03-18 20:15] ijash opened #3309 "${env} isn't processed in C_Cpp.default.includePath"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux mint 19.01
- VS Code Version: 1.32.3
- C/C++ Extension Version:0.21
- Other extension: arduino  0.2.25

I can't get the  `C_Cpp.default.IncludePath` get to work. please see details below.

**To Reproduce**

1. i have followed the instruction in https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServ

[2019-03-18 20:18] sean-mcmanus commented on #3308
Our IntelliSense doesn't react to changes of the language mode from C to C++ or the reverse, and we don't use the C++-ness of the compiler to set the language used. Instead, we use the files.associations for the source file and then the header file uses the language of the translation unit (source file).

If you just create a .h file that isn't used by a .c file, then it will be associated with C+

[2019-03-18 20:32] sean-mcmanus commented on #3309
You mention `systemIncludePath` and `includePath` -- which one are you actually using?

The "Include file not found in browse.path." is when the `browse.path` isn't set corectly (i.e. IntelliSense is not being used). It's possible the bug is that we're not correctly copying over the `C_Cpp.default.includePath` setting into the `browse.path`.

[2019-03-18 20:38] ijash commented on #3309
my bad, it's `IncludePath`. i've updated the post.

you mention  :

not correctly copying over the `C_Cpp.default.includePath` setting into the `browse.path`.

and how to do that?

[2019-03-18 21:04] sean-mcmanus commented on #3309
Our code is supposed to do that copying -- the bug could be that we don't do that correctly...I'll double check.

[2019-03-18 21:20] ijash commented on #3309
thank you, if anything I am able to provide for help, please let me know.

[2019-03-18 21:43] sean-mcmanus commented on #3309
I reproed the bug -- the problem is we aren't not processing the "${env}" when they're in the "default" settings.

[2019-03-18 22:18] sean-mcmanus commented on #3309
Thanks for reporting this. We have a fix at https://github.com/Microsoft/vscode-cpptools/pull/3310, but I don't know if it will make into 0.22.0 yet (otherwise, it'll be in the release after that).

[2019-03-18 22:40] mdzahidh opened #3311 "Intellisense database for default engine doesn't seem to be persistent"
**Type: LanguageService**

- OS and Version: Linux
- VS Code Version: 1.32.2
- C/C++ Extension Version: 0.21

I am using the following c_cpp_properties.json

[code]
I am also using the following settings:

[code]

It works fine on the large codebase that I am working on, but I noticed that every time I restart vscode, cpptools seems to forget about the file indexing is has done in the previous ses

[2019-03-18 22:50] sean-mcmanus commented on #3311
This is a known issue. You need to manually set your `browse.path` if you are using compileCommands.

UPDATE: See https://github.com/Microsoft/vscode-cpptools/issues/1163.

[2019-03-18 23:04] sayo9394 commented on #541
Same here, I have the same, unable to switch header/source, with version 1.32.2 on Windows 10.
the VSCode setup on ubuntu doesn't have this issue.
Cheers.

[2019-03-18 23:06] #3041 closed, assigned to nobody

[2019-03-19 00:07] mdzahidh commented on #3311
Thanks ! I think that certainly fixes it for now.

[2019-03-19 03:03] maptz opened #3315 "Problem interacting with custom FoldingRangeProvider"
- OS and Version: Windows 10 Pro
- VS Code Version: 1.32.3
- C/C++ Extension Version: 0.21

The C/C++ language extension for VS code appears to have an issue with other vscode extensions that implement `FoldingRangeProvider`. When the new extension registers `FoldingRangeProvider` normal C-folding for functions, loops, structs, etc. is not longer available / not longer shown.

To reproduce this er

[2019-03-19 03:20] xidianzhangjun opened #3316 "Suggestion: Pre-Processor Directives Improvement"
**Type: LanguageService**

Hi,
Like the code below,
#if AMACRO
      do_something_A();
#else
      do_something_B();
#endif
If I click on the #if Directive, it would be better to enhance the display (e.g. color) of the matching #else and #endif.

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after di

[2019-03-19 03:45] hsupu commented on #3308
Yes, .h file is parsed as C after be included in a C file. Thank you for your help.

But I think that it should be more customizable by user. I'll appreciate it if anyone add this feature!

[2019-03-19 08:16] ijash commented on #3309
thank you for updating this issue, looking forward in the next linux release.

[2019-03-19 09:57] Wetmelon opened #3317 "includePath should support recursive globbing of "intermediate" paths"
**Type: LanguageService**

**Describe the bug**
- OS and Version:  Windows 10
- VS Code Version: Version: 1.32.3 (user setup)
- C/C++ Extension Version: 0.21.0

**Expected behavior**

I have a directory structure that looks something like:

    (${workspaceFolder})
        common
            _inc
                common.h
            _src
                common.cpp
        module1
            _inc

[2019-03-19 11:13] saqsham opened #3318 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.21.0`
- OS Version: `Windows_NT ia32 6.1.7601`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\user\ms-vscode.cpptools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cp

[2019-03-19 14:23] cpei-avalara commented on #1258
I just installed  VS code 1.32.3 and found this problem. My OS is WSL+ RedHat. Not sure how to fix it.

Version: 1.32.3
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T23:38:49.842Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Linux x64 4.4.0-17763-Microsoft

Also I got errors like "variable class" is not a type name.

[2019-03-19 15:03] WOOSAL opened #3319 "Launch options string provided by the project system is invalid. (hexadecimal value 0x08 is an invalid character; line 6 position 54)"
Hello guys! I was trying to debug my C++ code via VS Code and my compiler is mingw, however, I can not launch it.... This is how my **launch.json** looks like :

{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "(gdb) Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/a.exe",
            "args": [ ],

[2019-03-19 15:51] bobbrow commented on #3315
Our extension doesn't do any custom folding at this time.  We have an issue open to enable it. #407

[2019-03-19 16:02] bobbrow commented on #3317
Thank you for your feedback.  This looks like a duplicate of #723.  Can you please go add a +1 to that issue to vote for it?

[2019-03-19 16:02] #3317 closed, assigned to nobody

[2019-03-19 16:03] bobbrow commented on #3318
Thank you for your feedback.  This looks like a duplicate of #3213.

[2019-03-19 16:03] #3318 closed, assigned to nobody

[2019-03-19 16:05] bobbrow commented on #1258
Hi @cpei-avalara, can you please open a new issue with additional details about your C or C+ configuration?  This issue is closed.

[2019-03-19 16:59] rsbondi commented on #977
I have a possibly related issue based on the quote, the object file is built with `prefix_filename` so it is missing the breakpoint in `filename.c`(red, looks set but not hit), is this a symptom of the same issue?  Is there a workaround?

[2019-03-19 20:15] maptz commented on #3315
I see what's happening now then. When you implement a `FoldingRangeProvider` which my extension does, the default (indentation-based) folding behaviour is overriden. This is a vs code issue, so I'll close this issue now.

[2019-03-19 20:15] #3315 closed, assigned to nobody

[2019-03-19 20:29] idanemergi commented on #3288
anyone? this is really frustrating...

[2019-03-19 20:43] sean-mcmanus commented on #3316
It sounds like this is for highlighting the matching preprocessor directives (if/else/endif/etc.).

[2019-03-19 21:13] sean-mcmanus commented on #3288
This isn't an issue with our C/C++ extension is it? Can you file a VS Code bug at https://github.com/Microsoft/vscode? Who is outputting the absolute paths?

[2019-03-20 01:00] jbltx commented on #970
Unfortunately this feature seems to not work on my side,

![](https://i.imgur.com/z20k54L.png)

As you can see i tried different things, put the root folder or frameworks/headers directories directly.
The result is always the same.

If i switch "fuzzy" mode on & off the result is the same (well in fuzzy mode it's underlined in green with a message telling to update includePath). Did I miss somethi

[2019-03-20 01:16] sean-mcmanus commented on #970
@jbltx You should remove the .framework folders from the "includePath" (i.e. only use the `${workspacefolder}`. But your configurationProvider is set to cmake-tools, so you might try removing that if it was unintentional.

[2019-03-20 01:45] sean-mcmanus opened #3322 "Using the `Build and Debug Active File` command causes an "undefined task type" warning to get logged."
With 0.22.0.

It doesn't seem to cause any other issue. Not sure why we never noticed this earlier.

[2019-03-20 01:46] jbltx commented on #970
@sean-mcmanus  I just deleted all paths in includePath but `${workspacefolder}` and the same error appears. I also deleted the configurationProvider but doesn't change anything. I use CMake tools extension to build Ninja projects inside VSCode directly.

[2019-03-20 01:51] sean-mcmanus commented on #970
@jbltx If you're using the "Tag Parser" intelliSenseMode then you may need to copy the framework path to the browse.path setting....otherwise this could be a bug should investigate (i.e. I could move it to a new issue). We're about to release 0.22.0, but this scenario isn't expected to have changes.

[2019-03-20 01:54] jbltx commented on #970
I am not using Tag Parser right now, here are my settings :
[code]

[2019-03-20 01:55] sean-mcmanus opened #3323 "macFrameworkPath isn't working?"
Unfortunately this feature seems to not work on my side,

![](https://i.imgur.com/z20k54L.png)

As you can see i tried different things, put the root folder or frameworks/headers directories directly.
The result is always the same.

If i switch "fuzzy" mode on & off the result is the same (well in fuzzy mode it's underlined in green with a message telling to update includePath). Did I miss somethi

[2019-03-20 02:20] jbltx commented on #970
Finally  I think there's something different between putting manually the path of headers and confirming the suggestion given by tool. In fact when I did it manually, errors still there, but using the suggestion the error has disappeared :
![](https://i.imgur.com/D4CLfdn.png)
As you can see it suggests the real path (not the symbolic link of Headers directory). The fun part is, if now i edit this

[2019-03-20 02:20] xidianzhangjun commented on #3316
Yes! :-)
When there are too many lines of codes between #if and its matching #endif or when there are multi-level  preprocessor directives, , it is not very easy to read the codes.
Thanks.

[2019-03-20 03:06] bobbrow commented on #970
Based on what I see in the picture you showed above, the correct way to include QMainWindow is:
[code]
When the compiler resolves frameworks, it trims the part of the path from `.framework` to `Headers`.  The bug here is that the extension is suggesting the raw path to the header, but it should be suggesting you fix the way you include it.  I'll update the bug @sean-mcmanus created to track this i

[2019-03-20 03:13] bobbrow commented on #970
Though looking back at the original error, it seems the extension should have picked up the dependency.  I'll have to try this out on my mac tomorrow.  But let's move the conversation over to #3323 since this issue is closed.

[2019-03-20 03:23] bobbrow commented on #3288
Sometimes this happens during a build task.  Are you building your code when these two references appear, or just opening files wth ctl+p?  If not, can you share your workspace folder settings?  I'm not sure what exactly you mean when you say it contains only the current dir ".".

[2019-03-20 05:31] vsamy commented on #925
I also would be grateful for this feature :)

[2019-03-20 06:07] nsnerurkar opened #3324 "Linux Debugger overrides setup command options"
Type: Debugger

- OS and Version: Debian 9
- VS Code Version: 1.32.3
- C/C++ Extension Version: 0.21.0

I work with applications which have dependencies on a large number of shared libraries. Usually, when using gdb outside of VSCode, I use "set auto-solib-add off" so that the software attaches faster.

I added the following snippet in my launch.json -

"setupCommands":[
{"text": "set auto-solib-a

[2019-03-20 06:23] aengusjiang opened #3325 "Can't attach remote linux c++ program"
When use the remote attach way, it start failed and show me:
bash: sh -c uname && if [ $(uname) = "Linux" ] ; then ps axww -o pid=,comm=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa,args= ; elif [ $(uname) = "Darwin" ] ; then ps axww -o pid=,comm=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa,args= -c; fi: command not found
Command failed: "ssh" "smite@192.168.1.78" 'sh -c "uname && if [ $(

[2019-03-20 06:26] aengusjiang commented on #3325
The vs code version 1.32.3
the cpptool: 0.22,

The vsersion 0.19 is ok, but 0.20, 0.21, and the newest version it still can't work.
But the issue log said that issue have fixed.

https://github.com/Microsoft/vscode-cpptools/issues/2998

[2019-03-20 06:28] aengusjiang commented on #3325
The local OS is Window10, and the remote os is Centos7.5

[2019-03-20 06:31] aengusjiang commented on #3325
[test.zip](https://github.com/Microsoft/vscode-cpptools/files/2986762/test.zip)
the sample.

[2019-03-20 07:24] idanemergi commented on #3288
cpptools is my only extension which shows errors in the problems window with absolute path.
for example, I have 'code spell checker' extension which always shows the relative path.
And as I mentioned, it also happens with cpptools goto reference

thanks for your help.

[2019-03-20 07:29] idanemergi commented on #3288
this is my workspace setting file:
{
	"folders": [
		{
			"path": "."
		}
	],
}

I've only included the workspace folder, I've also tried replacing the "." with the absolute path.
I build the project in a way that all the source code I need has a symbolic link in the workspace folder.
cause I have a very big project and I didn't want IntelliSense to tag all of it.
So my workspace contains the work

[2019-03-20 08:00] sean-mcmanus commented on #3288
I am not able to observe absolute paths coming from our extension. What errors are appearing the problem window exactly? Our IntelliSense errors and gcc problem matcher use workspace relative paths. I see Go to Declaration using relative paths as well.

Does this problem occur with your particular setup or does it repro for a newly created folder? It sounds like the symlink may be the cause.