[2020-05-04 22:00] sean-mcmanus commented on #5405
This is already fixed in our pending 0.28.0-insiders2 update, same root cause as https://github.com/microsoft/vscode-cpptools/issues/5326 . We're planning to release it later today.

[2020-05-04 22:32] sean-mcmanus commented on #5402
@aaronovz1 Yeah, it would disable all IntelliSense, autocomplete, etc....everything except the debugger.

[2020-05-05 01:14] Kainichy commented on #5388
Same issue on macOS.

macOS Catalina 10.15.5
Code Insiders 1.45.0
C/C++ 0.28.0-Insiders

[2020-05-05 01:39] Answer-123 opened #5409 "Language Service"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including information about the workspace (i.e. is the workspace

[2020-05-05 02:55] sean-mcmanus commented on #5376
For 0.28.0-insiders2, the case where the authorized_prepared_statements_cache.hh is opened after abstract_marker.cc is fixed, but your original repro via Find All References required a few more changes and didn't make it in in time, but it should be fixed in the following release (0.28.0-insiders3 or 0.28.0). As in, all the "Cannot Confirm References" are gone and the Find All References results a

[2020-05-05 02:57] sean-mcmanus commented on #5409
What?

[2020-05-05 02:58] sean-mcmanus commented on #5291
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2 ...unless the string is > 250 characters (previous limit was 100).

[2020-05-05 02:59] sean-mcmanus commented on #5326
Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2 .

[2020-05-05 03:00] sean-mcmanus commented on #5405
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2

[2020-05-05 06:15] michelleangela commented on #5409
I think this issue was created by a bot.

[2020-05-05 07:20] sean-mcmanus commented on #5409
That's a strange bot.

[2020-05-05 09:18] maxim-babenko opened #5410 "Possible 0.27 regression"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Catalina
- VS Code Version: 1.44.2
- C/C++ Extension Version: 0.27.1
- Other extensions you installed (and if the issue persists after disabling them): Remote SSH 0.51.0
- Does this issue involve using SSH remote to run the extension on a remote machine?: Yes
- A clear and concise description of what the bug is, including info

[2020-05-05 09:26] Sunggekun commented on #5294
I think this issue is duplicate of #2771

[2020-05-05 09:55] shuaixr commented on #429
+1

[2020-05-05 10:47] vladzcloudius commented on #5376
Thanks a lot, @sean-mcmanus!
Will be waiting for 0.28.0.

[2020-05-05 12:18] jurf commented on #658
There are 25 people subscribed to this, please add a reaction to the top post instead of +1ing (and thus notifying everyone waiting for this). Cheers. :pray:

[2020-05-05 14:33] wsnel commented on #1780
Running into this issue as well, using protobuf development. I'd like to be able to just force a refresh manually. Perhaps also relevant: I'm experiencing regular out-of-sync situations that seem to only resolve after a vscode restart, when using the remote-development extension.

[2020-05-05 14:52] killerkalamari commented on #1780
Go to the vscode keyboard shortcuts settings and search for "Reload Window". Assign it a key combo that works for you.

[2020-05-05 16:12] ekapilik commented on #429
+1
Remote SSH + NVIDIA Jetson Xavier

[2020-05-05 17:10] kunaldas1997 commented on #5388
facing a similar kind of issue on 0.28 Insiders version as well as 0.27.1 version.

Edit: with all versions.

Version: 1.45.0-insider (user setup)
Commit: d4b8ec9da3bf1061a948fbb1b0d9d3db750cc79f
Date: 2020-05-05T07:13:50.890Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

[2020-05-05 17:14] Answer-123 opened #5411 "Hello World For Learners"

[2020-05-05 17:22] Answer-123 commented on #5411
Hello World

[2020-05-05 19:33] WardenGnaw commented on #2276
@lmapii @peza8 Are you having issues debugging on macOS High Sierra?

[2020-05-05 21:07] WardenGnaw commented on #5411
You can find our Hello World tutorials at [Visual Studio Code docs](https://code.visualstudio.com/docs/languages/cpp#_hello-world-tutorials)

[2020-05-05 21:10] #5411 closed, assigned to nobody

[2020-05-05 21:14] #5409 closed, assigned to nobody

[2020-05-05 21:16] ghost commented on #5388
If I run task instead of build task, the issue will not appear.
And when I click "Show All Tasks" under drop-down list of normal run task, it shows again.

[2020-05-05 21:49] wsnel commented on #1780
Thanks @killerkalamari! Reloading the window using the kb-shortcut, indeed forces Intellisense to pick up my background header file changes. It also works 100% when working remotely through the remote-development extension. Great, this solves the whole issue for me.

[2020-05-05 21:54] bobbrow commented on #4826
For translation units (e.g. Foo.cpp), we'd want to print out the verbatim compile commands entry for it (or the custom config we received for it).  This allows us to check whether data was lost or misinterpreted before creating the TU for it.

For browse path, this should be relatively easy in the config provider scenario.  For compile commands, you'd build on the work @elahehrashedi just did.

[2020-05-05 23:46] sean-mcmanus commented on #4617
This issue only repros when the source file doesn't contain any of the references but the headers do.

[2020-05-05 23:53] Colengms opened #5414 "Support for NTFS case-sensitive directories"
As of the April 2018 release of Windows 10, NTFS supports arbitrarily enabling case sensitivity on a per directory basis.  Currently, the C/C++ Extension canonicalizes paths internally for comparison purposes, and on Windows that involves setting all characters to the same (upper) case.  In order to support some folders being case-sensitive, this handling will need to be a lot more sophisticated.

[2020-05-05 23:56] Colengms commented on #2467
Could this be due to the (new as of April 2018) Windows 10 support for enabling case-sensitivity on NTFS directories?  https://github.com/microsoft/vscode-cpptools/issues/5414 is now tracking that.  Closing this as a likely dupe.  If there is still an issue here and it's not due to NTFS case-sensitivity support, please add a comment here and we can reopen this issue.

[2020-05-05 23:56] #2467 closed, assigned to nobody

[2020-05-06 01:57] ivorynoise commented on #1284
@sosaucily How do I delete DB. Where is the location of the DB? Is it same as `C/C++: Reset Intellisense database`?

[2020-05-06 02:46] sean-mcmanus commented on #5410
Can you try https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2 ? It may have a fix (as in, we did a fix issues that could cause the symptom you're seeing).

[2020-05-06 03:07] Answer-123 commented on #5411
I’m about to start it onPC

[2020-05-06 03:08] Answer-123 commented on #5409
Hey, I’m not a bot

[2020-05-06 03:13] Answer-123 commented on #5410
OK,thanks

[2020-05-06 03:53] PhilParisot opened #5415 "Official support for Clang and LLDB on Linux"
Currently LLDB support on Linux for VS Code is lacking. It plainly doesn't work.

There is no official documentation on how to get started with Clang on Linux using the vscode-cpptools either.

Adding official support for Clang/LLDB on Linux would be absolutely awesome. Extending that to Windows would be great too thanks to LLVM's cross-platform nature.

[2020-05-06 06:36] lmapii commented on #2276
@WardenGnaw no, this was on mac os catalina 10.15.4. i'm with @Ulchie on this one - this seems to be a timing issue. i know how ridiculous this sounds but the problem disappeared at some point (i haven't changed anything in the installation). meaning the famous sentence "i didn't do anything" seems to apply :/

[2020-05-06 07:04] peza8 commented on #2276
@WardenGnaw Experiencing issue on Catalina 10.15.2.
Sadly haven't had the same luck as Imapii. Happy to do any tests you need @WardenGnaw .

[2020-05-06 07:47] joseph102outlaw102 opened #5416 "invalid operands to binary expression ('std::ostream' (aka 'int') and 'const char [2]')ccls(2)"
**Type: LanguageService**

**Describe the bug**
- OS and Version:  i use vscode remote development on my personal pc which is a win10, when the cloud dev machine(the project runtime environment) has a centos system.
-- my pc: win10
-- dev machine: Linux VM_110_148_centos
- VS Code Version:  1.44.2
- C/C++ Extension Version: 0.27.1
- Other extensions you installed (and if the issue persists after d

[2020-05-06 08:14] Answer-123 commented on #5416
Awesome😍😍

[2020-05-06 08:19] Answer-123 commented on #5416
∴you’re Chinese right?

[2020-05-06 08:32] UtkarshBhatthere commented on #3654
Are we required to start VS code from the Developer command prompt always ?? That's not convenient.

[2020-05-06 09:56] maxim-babenko commented on #5410
I tried 0.28.0 but unfortunately it didn't help.

Here are the logfiles of 0.28.0 (no suggestions) and 0.26.3 (working intellisense):
https://gist.github.com/maxim-babenko/d4d42d406b7efb3292a31d5ddf0622c3
https://gist.github.com/maxim-babenko/c1b4737aa4dfa0b51345a979f5fb6ddf

Is there anything else I could do to ease the diagnostics?

[2020-05-06 09:58] maxim-babenko commented on #5410
There are multiple "Tag parsing encountered an error" in 0.28.0 log (not present in 0.26.3 one)

[2020-05-06 10:33] shriya-16 opened #5417 "mingw32/bin/ld.exe Cannot open output file"
After compiling the programs, the terminal says cannot open output file.
OS : Windows 10
Compiler : mingw

[2020-05-06 10:49] sirus20x6 opened #5418 "windows include path doesn't work (compiling issue)"
c_cpp_properties.json
[code]

main.cpp
[code]

when trying to compile

`> Executing task: & 'C:\Program Files (x86)\mingw-w64\i686-8.1.0-posix-dwarf-rt_v6-rev0\mingw32\bin\g++.exe' -g c:\code\opencvtest\main.cpp -o c:\code\opencvtest\main.exe <

c:\code\opencvtest\main.cpp:2:10: fatal error: opencv2/core/core.hpp: No such file or directory
 #include <opencv2/core/core.hpp>
          ^~~~~~~~~~~~~~

[2020-05-06 12:12] joseph102outlaw102 commented on #5416
yes, i am

[2020-05-06 13:46] Answer-123 commented on #5416
Are you interested in Cpp

[2020-05-06 13:49] Answer-123 commented on #5416
所以说怎么把VScode设成中文的？

[2020-05-06 14:05] #5397 closed, assigned to nobody

[2020-05-06 16:16] WardenGnaw commented on #5079
From @lmapii

Unable to start debugging. Unexpected LLDB output from command "-exec-run". Command 'exec-run'. Invalid process during debug session
Developer mode is already enabled.

[2020-05-06 16:16] WardenGnaw commented on #5079
From @peza8

Sadly haven't had the same luck as Imapii. Happy to do any tests you need @WardenGnaw .

[2020-05-06 16:17] WardenGnaw commented on #2276
@lmapii @peza8 Hiding comments here and moving them to https://github.com/microsoft/vscode-cpptools/issues/5079

[2020-05-06 16:21] WardenGnaw commented on #5079
@peza8 Could you provide some additional info for me?

What version of VS Code are you using?
Version of the C/C++ extension?
Version of XCode you have installed?
Also can you share the logs from the debug console when you add following to your launch.json?
[code]

[2020-05-06 16:48] wsr13990 commented on #429
+1

[2020-05-06 17:35] michelleangela commented on #5417
@shriya-16

Can you share your tasks.json and launch.json?

[2020-05-06 17:41] michelleangela commented on #5418
The c_cpp_properties.json file is used to configure the C/C++ extension IntelliSense features and is not used for compiling. For clarification, the C/C++ extension does not provide compiling capabilities.

If you are using the VS Code tasks.json file to compile, then you'll need to add the include paths using the `-I` include compiler option to the `"args"` property in the tasks.json file. For exa

[2020-05-06 18:38] sirus20x6 commented on #5418
I ctrl+f that page for -I which did not appear. This is my tasks.json file

[code]

[2020-05-06 18:44] sean-mcmanus commented on #1284
@ivorynoise Yes, you should use C/C++: Reset IntelliSense Database to delete the database. It's located at an OS's-specific default location, which can be changed via the C_Cpp.default.browse.databaseFilename setting, e.g. to "${workspaceFolder}/vc.db". The Rescan Workspace command may also fix database issues.

[2020-05-06 18:45] peza8 commented on #5079
Hey @WardenGnaw , here's the info:

**1. VSCode version:**
Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T17:07:18.473Z (2 wks ago)
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.2.0

**2. Version of the C/C++ extension**: 0.27.1

**3. Xcode version:** 11.3.1

**4. Logs are attached:**
[VSCode terminal non-launc

[2020-05-06 18:46] sean-mcmanus commented on #5409
@Answer-123 Can you create a new issue with more info then? This issue is blank.

[2020-05-06 18:56] michelleangela commented on #5418
Sorry for confusion, I referred to https://code.visualstudio.com/docs/cpp/config-mingw#_build-helloworldcpp as example to show tasks.json.

As for adding include path option to the compiler `args` property, I think the include path may need to be in a separate entry in the array, similar to how the output file is specified by "-o" and then the output file name is in the next entry in the array. Al

[2020-05-06 18:59] sean-mcmanus commented on #5415
Yeah, it would sort of being a combo of https://code.visualstudio.com/docs/cpp/config-clang-mac (with Mac references change to Linux) and https://code.visualstudio.com/docs/cpp/config-linux (with gcc references changed to clang). The language service should work with clang on Linux, and I've used gdb to debug clang-compiled programs on Linux, but I'm not sure if LLDB debugging is supported on Linu

[2020-05-06 19:04] sean-mcmanus commented on #3654
@UtkarshBhatthere Yes, but there's an issue tracking a potential fix for that at https://github.com/microsoft/vscode-cpptools/issues/5271 .

[2020-05-06 19:04] sirus20x6 commented on #5418
no change. still the same

[2020-05-06 19:16] sean-mcmanus commented on #5410
The logging appears normal for 0.28.0. I don't see any crashes or unusual errors. The "tag parser encountered an error" message is somewhat normal and wouldn't cause any issue with IntelliSense-based completion from working. Are you saying you still get
[code]
when hovering?

[2020-05-06 19:16] sean-mcmanus commented on #5410
The logging appears normal for 0.28.0. I don't see any crashes or unusual errors. The "tag parser encountered an error" message is somewhat normal and wouldn't cause any issue with IntelliSense-based completion from working. Are you saying you still get
[code]

[2020-05-06 19:20] sean-mcmanus commented on #5418
Are you able to compile via the command line without using VS Code? Are you sure `c:\\opencv\\sources\\modules\\core\\include` is the correct include path?

[2020-05-06 19:26] sean-mcmanus commented on #5416
@joseph102outlaw102 Those errors are not from our C/C++ extension. They appear to be from some ccls(2) extension?

Also, we don't know why @Answer-123 is posting strange messages.

[2020-05-06 19:27] Ryu3tthz commented on #5388
Same issue for me,

Version: 1.45.0-insider (system setup)
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
C/C++ 0.28.0-insiders2

but it will not appear on my vscode stable.

Version: 1.44.2 (system setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
C/C++ 0.28.0-insiders2

[2020-05-06 19:28] sirus20x6 commented on #5418
terminal
[code]

screenshot of the files I'm trying to include
https://i.imgur.com/si9eFh3.png

[2020-05-06 19:36] sirus20x6 commented on #5418
I guess it was supposed to be C:\opencv\build\include instead of .../sources/

my next issue is slightly different
[code]

[2020-05-06 19:57] sean-mcmanus commented on #5418
I'm not familiar with how to build OpenCV, but it sounds like you need to link to your OpenCV's libraries. I would refer to the OpenCV documentation and https://www.cs.swarthmore.edu/~newhall/unixhelp/howto_C_libraries.html .

[2020-05-06 19:57] WardenGnaw commented on #5415
Getting LLDB debugging to work on linux would require obtaining the `lldb-mi` executable.

Once you have that, then you will need to modify the `launch.json` configuration with:
[code]

[2020-05-06 20:04] sean-mcmanus commented on #5388
@Primimy If the bug occurs on 1.45-insiders but not 1.44.2 (both with 0.28.0-insiders2) then that suggests it's a VS Code bug and not a bug with out C/C++ extension.

[2020-05-06 20:11] PhilParisot commented on #5415
Thanks @sean-mcmanus.

Hey @WardenGnaw, I noticed you mentioned that on a an older closed ticket. But I never managed to make that work on my machine.

I've found `lldb-mi` file in `/usr/bin/` but was unable to make it work when I target it using `"miDebuggerPath": "usr/bin/lldb-mi"`. Something about not being able to find `lldb-mi-10`?

Does that ring a bell?

[2020-05-06 20:18] PhilParisot commented on #5415
Oh I think it's a bug on Ubuntu's side https://bugs.launchpad.net/ubuntu/+source/llvm-toolchain-10/+bug/1872387

[2020-05-06 20:25] nsgundy opened #5421 "Unable use launch config from workspace config when it contains variable references to 'config'"
Type: Debugger

**Describe the bug**
- OS and Version: Ubuntu 19.10
- VS Code Version: 1.44.2
- C/C++ Extension Version: 0.28.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them):
* kristjantammekivi.hg
* jhartell.vscode-line-endings
When using a launch configuration configured within a `.code-workspace` file, variable references to the configuration do not

[2020-05-06 21:33] sean-mcmanus commented on #2782
The gnu standards are supported now with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2 . Let us know if you hit any issues with that.

[2020-05-06 21:36] sean-mcmanus commented on #407
Accurate C++ code folding is available in https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2 . Let us know if anyone find any issues with it.

[2020-05-06 21:39] travisdowns commented on #2782
Thanks!

Can you give a one-liner one how to use it?

Is it like `"cppStandard" : "gnu++17"`? The release notes link back here so it would be good to have a brief note about how it's fixed.

[2020-05-06 21:54] sean-mcmanus commented on #2780
Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2 .

[2020-05-06 21:58] sean-mcmanus commented on #3578
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2

[2020-05-06 22:11] maxim-babenko commented on #5410
No, I don't see "Compiler exited with error - No IL available" in the logs anymore. At the same time, completion is not working for me in 0.28.0, it just says "No suggestions". And it starts working back again when I revert to 0.26.3.

[2020-05-06 22:28] sean-mcmanus commented on #4195
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2 in regards to IntelliSense parsing, but support for the global symbol (tag) parser (i.e. outline view, workspace symbol search, find all references, etc.) hasn't been checked in yet (it should be available in 0.29.0-insiders)...not sure if we need another issue to track that or if we should just keep this issue o

[2020-05-06 22:34] michelleangela commented on #2782
The GNU standards were added as additional options to properties `cStandard` and `cppStandard`. The example you provide is correct usage:
`"cppStandard" : "gnu++17"`

[2020-05-06 22:36] sean-mcmanus commented on #3940
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2

[2020-05-06 22:39] sean-mcmanus commented on #4614
@xgdgsc With https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2 the failure caused by "-include" being used should be fixed. Let us know if you hit any other issues.

[2020-05-06 22:41] sean-mcmanus commented on #5160
@sslupsky Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders2 .

[2020-05-06 23:03] sean-mcmanus opened #5424 "Find All References shows no results after a preview is invoked"
1. Do Find All References.
2. Click the preview icon.
3. Wait for it to finish (the Find All Refs).

Bug: Sometimes it gives no confirmed results incorrectly (the Other Results are correct). I don't know a consistent repro so it's hard to investigate/debug. Let me know if anyone figures out a good way to repro this. It's possible the root cause is a VS Code issue, since they control that particula

[2020-05-06 23:17] WardenGnaw commented on #5421
These variables are resolved by VS Code before they call `resolveDebugConfiguration`.

However, this could be that we do not launch debug configurations with `resolveDebugConfigurationWithSubstitutedVariables`.

But if this works in regular `launch.json` but not `.code-workspace`, there may be a bug when they pass the `.code-workspace` config. You will want to create an issue at https://github.com

[2020-05-07 00:03] sean-mcmanus commented on #2782
...or "-std=gnu++17" if it's part of compilerArgs, args in compile_commands.json, etc.

[2020-05-07 00:12] sean-mcmanus commented on #5410
Okay, it's most likely an IntelliSense parser regression. I assume it only repros with certain TU's right? We'd probably need some code sample repro in order to get a fix (i.e. if you're able to isolate what code you're using that is triggering the issue).

[2020-05-07 00:16] WardenGnaw commented on #5079
@peza8 Your issue is that you are using `miDebuggerArgs` and it is treating the first argument as your executable.

1: (879) ->^error,msg="Command 'file-exec-and-symbols'. Target binary 'set' is invalid. error: unable to find executable for 'set'"

You will want to use `setupCommands` for `set startup-with-shell enable`

[2020-05-07 00:42] ghuser404 commented on #5157
@sean-mcmanus Sorry to bother, did you forward the bug?

[2020-05-07 00:50] lostmsu commented on #3347
Can I safely remove subfolders of `vscode-cpptools\ipch`? Or should I do it by limiting the cache size?

[2020-05-07 00:52] sean-mcmanus commented on #5157
@ghuser404 Not yet -- it's on my TODO list (hit some unexpected delays). Hopefully tomorrow...it's not as simple as just filing a bug -- I have to build our parser in a different branch, but it's getting build errors.

[2020-05-07 00:54] sean-mcmanus commented on #3347
@lostmsu Ideally you should set your intelliSenseCacheSize to 0, which should cause it to be removed. If you try to remove it manually, that is "safe", but it might be in-use by a cpptools-srv process, and/or a cpptools-srv process might just recreate it.

[2020-05-07 00:57] lostmsu commented on #3347
@sean-mcmanus I am talking about individual folders, not the entire cache dir.

[2020-05-07 01:12] sean-mcmanus commented on #3347
Yeah, you can safely remove subfolders. If the cache is in use and you can't delete it, you can close VS Code and then delete the subfolders. A missing cache will just cause it to be regenerated again if it's needed later.

[2020-05-07 01:20] sean-mcmanus commented on #5410
Within the past hour, an autocomplete bug was just fixed (in the VS shared code) that could cause the "No suggestions", but I can't tell if it's the same issue you're hitting or not (we'll get that fix for 0.29.0-insiders).

[2020-05-07 01:29] akbyrd commented on #407
**Issue 1**
Code folding does not work on new files set to C++ language mode. They revert to indentation based folding.

![image](https://user-images.githubusercontent.com/484784/81243473-cafa8880-8fc4-11ea-8fcc-b29d55f758e9.png)

**Issue 2**
Switch cases with braces fold differently than everything else. Everything else folds up to the keyword. Cases only fold up to the opening brace. Note the po

[2020-05-07 02:04] ivorynoise commented on #1284
Thanks. Do you know the OS default location for db file? I just want to
cross check if everything is cleaned up.

On Thu, 7 May, 2020, 12:14 AM Sean McManus, <notifications@github.com>
wrote:

[2020-05-07 02:14] sean-mcmanus commented on #407
@akbyrd Issue 1 has the same root cause as https://github.com/microsoft/vscode-cpptools/issues/4143, i.e. none of our language server features will work until the file is saved.

Issue 2 is because "case:" has no '{' associated with it in the C++ language like the other if/switch blocks, so it's treated like all other `{}` blocks, e.g. your code could be

[code]

The {... looks odd, but we can't d

[2020-05-07 02:23] Colengms commented on #4824
@kwk .  We believe this has been addressed.  If you are still seeing this, could you reply here?  We can reopen the issue if needed.

[2020-05-07 02:23] #4824 closed, assigned to nobody

[2020-05-07 02:33] sean-mcmanus commented on #1284
@ivorynoise See https://github.com/Microsoft/vscode/issues/42948#issuecomment-363026184

[2020-05-07 02:34] sean-mcmanus commented on #1284
@ivorynoise Actually, I think they may have changed it to be named workspaceStorage, i.e. some path like Code\User\workspaceStorage\0d73b37eaf9bc4ce5ec6ccc0cb97276c\ms-vscode.cpptools . Or you could search for .BROWSE.VC.DB files.

[2020-05-07 02:42] Answer-123 commented on #5416
Use Dev-cpp and this error won’t be happening

[2020-05-07 03:17] akbyrd commented on #407
I copy code into a temp file quite frequently. This was the very first issue I encountered.

Indeed, `case` doesn't introduce a scope in C++, but in your AST you likely have a `case` node followed by a scope node. That's a pattern you can handle to associate the braces with the `case` when they appear together. This is essentially how I've handled it (but at the token level) and it has worked quit

[2020-05-07 04:06] bradlitterell opened #5426 "Question about Settings at folder level."
Type: General

I have reviewed the settings documentation here:  https://code.visualstudio.com/docs/languages/cpp

The documentation states: "These settings have all of the benefits of VS Code settings, meaning that they can have default, "User", "Workspace", and "Folder" values."

However, searching the VS Code documentation does not make it obvious how to set Folder settings.
https://code.visual

[2020-05-07 04:47] benman64 commented on #4418
Recently this plugin has been using so much RAM it's at the top of htop.

`code --status`

[code]

[2020-05-07 04:51] peza8 commented on #5079
@WardenGnaw - This does cause an external terminal window to open, but the application still doesn't run. Updated logs attached.
[VSCode terminal non-start issue debug logs.txt](https://github.com/microsoft/vscode-cpptools/files/4590765/VSCode.terminal.non-start.issue.debug.logs.txt)

[2020-05-07 04:55] sean-mcmanus commented on #5426
Workspace folder settings are set in the .vscode/settings.json files in the particular workspace folder, and each workspace folder can have a .vscode/c_cpp_properties.json. They have to be actual workspace folders in a workspace and not just normal folders with a single root.

Other solutions for per-folder/per-file c_cpp_propertie.json settings would be to set the compileCommands or configuration

[2020-05-07 05:01] sean-mcmanus commented on #4418
@benman64 I see < 400 MB used by a cpptools-srv process? That is a normal amount of memory, depending on the TU. Is it a regression compared to the memory used by version 0.27.1?

[2020-05-07 05:13] GitHimanshuc opened #5427 "vscode freezes for a few seconds when I put my cursor over a variable"
Issue Type: <b>Performance Issue</b>

This happens only for this particular variable ("value") for now. Process explorer shows that the extension is consuming 25% of the CPU and vscode just freezes.
![Screenshot from 2020-05-07 10-39-51](https://user-images.githubusercontent.com/37404148/81256860-5d476e80-904f-11ea-9a68-ba2300dc68ba.png)

Extension version: 0.27.1
VS Code version: Code 1.44.2 (ff9

[2020-05-07 05:21] WardenGnaw commented on #5079
@peza8 I think can repro this.

The issue seems to be when we have `"externalConsole": true` it seems to hang and do nothing.

Can you hit a breakpoint in your main function if you set `"externalConsole": false`?

[2020-05-07 06:11] #5416 closed, assigned to nobody

[2020-05-07 06:12] joseph102outlaw102 commented on #5416
you're right, i've solved this problem now, thank you very much.

[2020-05-07 06:13] joseph102outlaw102 commented on #5416
what's dev-cpp? is it a mode in vscode?

[2020-05-07 06:14] peza8 commented on #5079
Yes, that what I tried to indicate in my second bullet of the section **Other [potentially] useful info:** in t[his message](https://github.com/microsoft/vscode-cpptools/issues/5079#issuecomment-624823089) above.

With `"externalConsole": false` the debugger works perfectly => Can indeed hit breakpoint in main.

[2020-05-07 06:54] kmalloc commented on #1230
yes, it works now,  thanks for the hardwork.

[2020-05-07 07:06] Answer-123 commented on #5416
No, but it’s a better compiler.It uses GCC

[2020-05-07 07:25] maxim-babenko commented on #5410
OK, thanks! I will wait until 0.29.0 becomes available and will let you know if the update helps.

[2020-05-07 08:30] ezraluandre opened #5428 "error debugging with the message "could not find the task ...""
Type: Debugger

Trying to debugging code and error message popped up with the message "could not find the task 'cpp build active file'", trying to change the compiler using g++ and the error message still occur with the message "could not find the task 'g++ build active file'".
here's my launch.json file
[code]
and here's my task.json file
[code]

I completely have no idea what's wrong with it. Ho

[2020-05-07 08:36] sean-mcmanus opened #5429 "Code folding incorrectly matches to an inactive }"
Originally reported at https://github.com/microsoft/vscode-cpptools/issues/407.

Use code
[code]

Bug: Code folding incorrectly matches to the inactive } instead of the active one that comes afterwards. The bug doesn't repro with VS.

[2020-05-07 08:50] sean-mcmanus commented on #407
@akbyrd Oh, issue 4 is unexpected because it doesn't repro with VS's implementation, so it implies that we somehow regressed that case or did something differently with our changes. I've filed bug https://github.com/microsoft/vscode-cpptools/issues/5429 .

I wasn't reproing issue 5 because my repro was slightly different with `{` on the same line as the `if`. I've filed VS bug https://developercom

[2020-05-07 09:12] Adolf-L opened #5430 "go to symbol in Editor loading slow [Python code]"
**Type: LanguageService**

![image](https://user-images.githubusercontent.com/10137107/81275127-cfd24180-9083-11ea-99c5-599250aca2d7.png)

Intellisense Extremely Slow!

**Describe the bug**
- OS and Version:
ProductName:	Mac OS X
ProductVersion:	10.15.4
BuildVersion:	19E287

- VS Code Version:
Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T17:07:18.473Z
Electron:

[2020-05-07 09:24] stepan87-henesi opened #5431 "undefined variables in sub function (nested functions GCC extension)"
let's say we have code.

int main()
{
 int a;
 void test()
 {
   a=0;
 }
....
return 0;
}

will show error on line a=0;
identifire "a" is undefined

[2020-05-07 14:03] alexr00 commented on #5388
In this extension's call to `registerTaskProvider` it registers a `C\C++` task provider.
https://github.com/microsoft/vscode-cpptools/blob/ef120e83137799ba0438c283388b1647ab912445/Extension/src/LanguageServer/extension.ts#L174-L180
However, then it provides tasks of type `shell` not of type `C\C++`, which is unexpected. It used to work because VS Code was just blindly accepting all tasks. With the

[2020-05-07 15:04] nsgundy commented on #5421
If I try out a similar remote debugging setup for node (using the same `${config:targetIp}` variable), it works fine when configured within a `.code-workspace` workspace configuration.

[2020-05-07 15:25] graph commented on #4418
htop was reporting way more than that. more than 5GB ram was freed when I closed vscode. I'm same guy as benman64

[2020-05-07 16:04] axtschmied opened #5433 "Source file map elements with array values in launch.json"
Type: Feature Request

In the debug configuration file (`launch.json`) a source file map can be given to map debug source folders to the original folder of source files. This is very useful, but currently folders can only be mapped one-to-one, meaning that for every debug source folder only one folder can be given.

However in case of out-of-source build, often the content of multiple folders gets

[2020-05-07 16:37] akbyrd commented on #407
As a backup, yes, that would be helpful.

That said, I'd much rather use the official plugin. It's already 90% there, so I expect I'll be able to use it. The new file behavior and macro folding are the only blockers I've encountered so far.

Also, to clarify Issue 5, I would expect that the macro contents themselves fold, independent of whether the `if` block in the macro folds. I'm not terribly w

[2020-05-07 17:56] WardenGnaw commented on #5428
`"preLaunchTask"` points to the label of which task you want to run in `task.json`. You will want to change it to `C/C++: cpp build active file`

[2020-05-07 17:56] michelleangela commented on #5430
This repository is for the C/C++ extension. Did you mean to post this issue on the [Python GitHub repo](https://github.com/Microsoft/vscode-python)?

[2020-05-07 18:09] michelleangela commented on #5431
Is defining a sub function valid code? I tried compilers GCC, Clang, and MSVC from https://godbolt.org/ and your example code does not compile. Is there a different compiler that compiles this code or is there a mistake in the provided example code?

The provided example code that I tried to verify:
[code]

[2020-05-07 19:14] michelleangela commented on #5431
Nested functions are supported by GCC extension. There has been an issue reported on this as well.
at https://github.com/microsoft/vscode-cpptools/issues/1035.

Since the C/C++ extension IntelliSense component is shared with Visual Studio's, please up-vote the feature request at https://developercommunity.visualstudio.com/content/problem/794903/intellisense-in-gcc-mode-does-not-recognize-nested.ht

[2020-05-07 19:14] #5431 closed, assigned to nobody

[2020-05-07 19:22] Colengms commented on #5429
Code folding is lexer based.  It doesn't know the values of preprocessor conditions.  It looks like VS is initially folding this incorrectly as well, but doing another folding pass after inactive regions are available.  We might be able to do something similar, but need a way to trigger VS Code to request ranges from us again (without having to edit the document).  I've sent them a question on thi

[2020-05-07 19:56] nyck33 commented on #2133
Actually `#include<string> `did not fix this.

[2020-05-07 20:16] sean-mcmanus commented on #4418
You had 4 VS Code instances running? We don't have a mechanism for limiting resource usage across different VS Code instances. So if 1 VS Code instance is using 1.25 GB, then opening 4 could use 5 GB.

[2020-05-07 20:32] Colengms commented on #5427
Hi @GitHimanshuc .  Could you enable logging using `"C_Cpp.loggingLevel": "Debug"` and checking if there is output in the C/C++ output channel leading up to and/or during the issue?

It shouldn't be possible for our native processes to block the VS Code UI.  There is no synchronous dependency between those components.  I have recently seen a VS Code freeze due to an issue with the Better C++ Synta

[2020-05-07 20:58] Colengms commented on #5356
@sean-mcmanus Does this still repro for you?  I'm not (easily) able to repro.  Perhaps this was fixed by https://github.com/microsoft/vscode-cpptools/pull/5114 ?

[2020-05-07 21:14] davidwin commented on #5326
Thanks, it works beautifully now!

[2020-05-07 21:14] #5326 closed, assigned to nobody

[2020-05-07 21:41] #5403 closed, assigned to nobody

[2020-05-07 21:49] bobbrow commented on #5402
You don't want to disable all of  IntelliSense just to disable a squiggle.  I'm actually not able to reproduce this problem.  `"C_Cpp.errorSquiggles": "Disabled"` should be hiding all squiggles when the default IntelliSense is enabled.

That one you are reporting makes it sound like you're using the "Tag Parser" IntelliSense or something.  What is your setting for `C_Cpp.intelliSenseEngine` and `C

[2020-05-07 22:10] severomario opened #5434 "Message error when you change editor.fontWeight for a number value"
* File > Preferences > Settings
* Type **font** in the search field
* Try to update the value in **Editor: Font Weight**
* If you try to insert a number value the software will returns the following message: ``_Setting has an invalid type, expected "string". Fix in JSON_``

![image](https://user-images.githubusercontent.com/63346789/81349330-2e082000-9096-11ea-9d72-3e7291d3aa1f.png)

**Note:** In

[2020-05-07 22:26] #3971 closed, assigned to elahehrashedi

[2020-05-08 00:08] sean-mcmanus commented on #5434
Can you file a bug at https://github.com/microsoft/vscode/issues ? The issue is unrelated to our C/C++ extension.

[2020-05-08 00:08] #5434 closed, assigned to nobody

[2020-05-08 00:41] sean-mcmanus commented on #407
A C_Cpp.codeFolding ("Enabled"/"Disabled") setting has been added for 0.28.0 (not released yet): https://github.com/microsoft/vscode-cpptools/pull/5435 .

There is no ETA on when the blocking issues are going to be fixed.

[2020-05-08 01:55] sean-mcmanus commented on #5157
@ghuser404 I reproed the issue with the EDG parser and emailed the VS team...waiting to hear back from them -- they'll usually file a bug on EDG, but it's only trackable in our internal databases -- I'll use this issue to track that (i.e. removing the "fixed" label). The EDG team might be prioritizing getting C++20 stuff finished, so I'm not sure what the ETA/priority on this would be.

UPDATE: VS

[2020-05-08 02:11] WardenGnaw commented on #5079
Do you also have the update where your default shell is now zsh?

[2020-05-08 02:50] PhilParisot commented on #5415
Since Ubuntu 20.04 seems to have forgotten to package `lldb-mi-10` with `lldb` I tried using `"miDebuggerPath": "usr/bin/lldb-mi-9"` after installing `lldb-9`, but to no avail.

@WardenGnaw can you confirm if `"miDebuggerPath": "usr/bin/lldb-mi-9"` works for you? Does it have to be specifically `"miDebuggerPath": "usr/bin/lldb-mi"` in order for debugging to work?

[2020-05-08 02:51] thomastech commented on #5388
+1.
After today's VSCode update, everytime I build with Platformio I see the "_There are task errors. See the output for details_"
After clicking the "Show Output" button it reports: _The task provider for "C/C++" tasks unexpectedly provided a task of type "shell"._
[code]

- Thomas

[2020-05-08 02:57] WardenGnaw commented on #5415
It does not have to be specifically "usr/bin/lldb-mi", it just has to point to a valid debugger that uses the mi interface.

One way to test is to run the binary and see if it responds to `-interpreter-exec console "version"`

[2020-05-08 06:22] linbo0518 commented on #5388
+1, same issue for macOS 10.14.4, after update VSCode to 1.45.0.

Version: 1.45.0
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T15:57:33.467Z (14 hrs ago)
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

[2020-05-08 06:44] peza8 commented on #5079
The VScode update? or Catalina? Which default setting are you referring to? @WardenGnaw ?

Issue title change 👍  +1

[2020-05-08 07:15] ghuser404 commented on #5157
Thanks! Let's hope they find time to look into this issue.

[2020-05-08 07:15] ahomberger commented on #5388
+1 Same issue on Windows 10 after update 1.45.0

Version: 1.45.0 (user setup)
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:18:48.860Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

[2020-05-08 07:17] WardenGnaw commented on #5079
The macOS Catalina update where it defaults the Terminal App to zsh.

I am investigating what is causing `-exec-run` to hang and trying to find the differences. I have a machine running macOS Catalina and XCode using the latest C/C++ extension that does not have the update where the default shell is zsh and works with `externalConsole: true`.

When LLDB launches the external console, it uses an ap

[2020-05-08 07:21] yin1999 commented on #5388
The same problem for me.

    version: 1.45.0 (user setup)
    commit: d69a79b73808559a91206d73d7717ff5f798f23c
    Date: 2020-05-07T16:18:48.860Z
    Electron: 7.2.4
    Chrome: 78.0.3904.130
    Node.js: 12.8.1
    V8: 7.8.279.23-electron.0
    OS: Windows_NT x64 10.0.18363

[2020-05-08 07:21] aswinkrishna21 commented on #5388
+1 Same issue on Windows 10 after the new update

Version: 1.45.0 (user setup)
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:18:48.860Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

[2020-05-08 08:05] OleksandrHaidamaka commented on #16
@sean-mcmanus  It's strange to me... Four years past with zero progress in **Call hierarchy feature**. That is number one reason why people are staying in Eclipse yet. I would say there is no problem with prioritization, there is problem with lack of resources maybe. Could you extend developer team to solve and react faster on most requested features?

[2020-05-08 08:48] ezraluandre commented on #5428
Already change it and another error message appear:
[code]
and the output windows tells me that
[code]
trying to restart and the problem still occur

[2020-05-08 10:10] br101 commented on #5388
Same here with the meson build extension

[2020-05-08 10:41] wangenahs commented on #5388
+1
![image](https://user-images.githubusercontent.com/39442168/81398256-75a4af80-915b-11ea-9eac-8264968864c5.png)

[2020-05-08 11:13] sameer1994 commented on #5388
I see the same error on my Mac.

[2020-05-08 11:30] olonsoft commented on #5388
Same here!

[2020-05-08 11:49] Tenshi65535 commented on #5388
![图片](https://user-images.githubusercontent.com/30772598/81402938-edc3a300-9164-11ea-9c32-c48b93731f50.png)
Same here.

[2020-05-08 11:49] phonenaing05 opened #5439 "File parsing hang at 2% (1728 files out of 76000)"
**Type: LanguageService**

I have VS code version 1.45.0 on window 10 and C/C++ extension version 0.28.0-insider2 and disabled other extensions in my workspace.
When I hover the mouse over parsing file status, it seems to hang at 2% of 76k files. I can see cpu usage by C/C++ extension at ~30%. I think parsing is still ongoing, at very slow speed like +1 file every 2 mins..

[2020-05-08 12:03] ahlixinjie commented on #5388
Happens on 1.45 stable.

[2020-05-08 12:06] camelator commented on #429
+1,
I spent time to make a $29 ARM machine working with code server and scipy.
It was a real challenge. but indeed, it works! and matplotlib works as well!
But now i need C++.

[2020-05-08 12:08] ageprocpp commented on #5388
I see the same error on MacOS too.

[2020-05-08 13:17] alexr00 commented on #5388
If you try out the Insiders build of VS Code (version 1.46), you should no longer see a notification for this message.

[2020-05-08 13:23] Gorgeous2017 commented on #5388
When I disable C/C++ extension, this bug disappear.
I hope this bug is fixed as soon as possible, it really make user confusing.

[2020-05-08 13:23] birgersp commented on #4776
I'd wager that this is a fairly common feature in IDEs.

Many suggestions is fine, as long as they're sorted by "relevance". It's the same as with any auto-completion feature.

[2020-05-08 14:05] ykuchin commented on #5388
When a fixed version will be deployed?
Very annoying...

[2020-05-08 14:10] cvmanjoo commented on #2610
@knee-cola this solved the custom library issue.

But still i get the following error.

"cannot open source file \"avr/pgmspace.h\"

[code]

[2020-05-08 16:06] saberhawk opened #5441 "Syntax highlighting incorrect for comments near preprocessor statements"
Issue Type: <b>Bug</b>

I encountered some code that looks like:

[code]

The first line of the comment is correctly highlighted, but the rest of the comment is not.

According to the "Phases of translation" document (https://docs.microsoft.com/en-us/cpp/preprocessor/phases-of-translation), comments are replaced with a single space character in the "Tokenization" phase, before any preprocessor dir

[2020-05-08 16:23] DProvinciani commented on #5388
Same for me after updating to this version

Version: 1.45.0 (user setup)
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:18:48.860Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-05-08 16:25] severomario commented on #5434
Thanks and I'm sorry for waste your time!

[2020-05-08 16:56] GitHimanshuc commented on #5427
@Colengms Here is the output I get when I hover over the variable 'value' in my file.
The only difference, when compared to hovering over some other variable or function name, is the line that says requests canceled.

cpptools/activeDocumentChange: file:///home/himanshu/Desktop/learning/courses/finite_element_for_physicist/CA1_template/FEM1.h
cpptools/textEditorSelectionChange
idle loop: reparsing

[2020-05-08 17:18] GitHimanshuc commented on #5427
Maybe this should be a new issue but I am posting it here in case it is related to the original problem.
![Screenshot from 2020-05-08 22-43-29](https://user-images.githubusercontent.com/37404148/81430672-72bab680-917d-11ea-8ad2-38fb82261ddb.png)

There is a comma instead of a semicolon in the for loop and the continue statement has no semicolon at all. But neither of these things gives an error.

[2020-05-08 17:30] rewrking commented on #5388
This error comes up every time I run a build task right now. Would appreciate a quick fix instead of waiting a month+ for 0.29.0.

1.45.0 w/ 0.28.0-insiders2

[2020-05-08 17:40] space-orca commented on #5388
Same issue since VS Code updated (yesterday?)

My info:
Version: 1.45.0 (user setup)
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:18:48.860Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

Microsoft C/C++ version: 0.27.1

[2020-05-08 18:08] sean-mcmanus commented on #2133
@nyck33 Can you file a new bug with more repro details?

[2020-05-08 18:11] sean-mcmanus commented on #5356
Yeah, I just reproed it with 0.28.0 on my 1st try: ERR Cannot resolve tree item for element 0/0:: Error: Cannot resolve tree item for element 0/0:

Could be related to https://github.com/microsoft/vscode-cpptools/issues/5424 (although in that case I don't recall an error message in the developer console).

[2020-05-08 18:13] astojanovic-tvz commented on #5388
Same problem. Updated just now.

Version: 1.45.0 (user setup)
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:18:48.860Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-05-08 18:26] sean-mcmanus commented on #5402
@bobbrow Yeah, you're right. errorSquiggles "Disabled" with intelliSenseEngine "Default" doesn't show the include error message, but it does with intelliSenseEngine "Tag Parser" (with 0.28.0). I do see the message appear briefly, but then it disappears when the squiggle update finishes -- it's possible if the squiggle update fails (i.e. from an IntelliSense process crash) then the bug might repro.

[2020-05-08 18:31] sean-mcmanus commented on #5439
If you set C_Cpp.loggingLevel to "Debug" and check the "C/C++" pane you can see more diagnostic info. If you see "Processing folder (recursive)" on startup for a large folder you don't care about getting symbols for, you can add that to your files.exclude setting. Also, you could the same if you "tag parsing" messages for files that you want to skip.

Also, the 2% message or +1 file every minute i

[2020-05-08 18:32] Bigous commented on #5388
Did this and it solves the problem... at least stops the message and executes the tasks... I know it's not the best, but can we comment this lines for while?

[2020-05-08 18:33] aaronovz1 commented on #5402
I had to turn the "Intellisense Engine Fallback" to Disabled and this looks to have removed the remaining warnings. Output is looking good now while using the C/C++ Advanced Lint + cppcheck as the replacement.

[2020-05-08 18:42] sean-mcmanus commented on #5441
This bug repros without our C/C++ extension enabled. This sounds like it might be the same issue as https://github.com/jeff-hykin/cpp-textmate-grammar/issues/404 . If you don't believe, so could you file a new bug at https://github.com/jeff-hykin/cpp-textmate-grammar/issues ?

FYI, the default VS Code lexical highlighting comes from that extension (installing the extension provides a more recent v

[2020-05-08 19:18] sean-mcmanus commented on #16
@UBNT-OleksandrHaidamaka VS Code just added call hierarchy support last year https://github.com/Microsoft/vscode/issues/16110 (i.e. it took them 3+ years), during which we added other features that were more upvoted, such as Find All References, Rename, and semantic colorization (V2 coming in 0.29.0, since it requires VS Code 1.44). Starting with the next milestone, we'll be working on sharing mor

[2020-05-08 19:39] #5402 closed, assigned to nobody

[2020-05-08 19:42] libTorrentUser commented on #273
The problem still exists on the latest version. Changing the intellisense engine to "Tag Parser", as sean-mcmanus suggested, seems to fix the issue.

I've tested it on libtorrent code base. The default engine not only is very slow (I'm talking minutes here!), but sometimes it just does not work at all and gives me nothing when I try to go to declarations or definitions.

[2020-05-08 19:44] sean-mcmanus commented on #2610
@cvmanjoo Do you need to add `C:\\Program Files (x86)\\Arduino\\hardware\\arduino\\` to includePath? Or wherever "avr/pgmspace.h" is located?

[2020-05-08 19:54] space-orca commented on #5388
What exactly did you change? Did you change the tasks.json type from shell to something else? I thought type could only be shell or process?

[2020-05-08 19:58] nsgundy commented on #5421
Actually, my previous comment is not correct. I tried it in a workspace that only had a single folder inside. I do get the same issue once that workspace contains more than one folder.

[2020-05-08 20:11] rob-evercoast commented on #2994
This is still happening for me. I have a 16 core machine and intellisense will max one cpu to 100% and freeze VSCode IDE completely.

As discussed in 2019 posts;

- it gets progressively worse over time.
- it gets worse much faster if you run gdb sessions to debug.
- it gets worse with large projects.

Why does the IDE lock up so badly that you can’t even move the cursor?

It’s getting to point wh

[2020-05-08 20:30] benman64 commented on #4418
Interesting I guess I should use vscode workspaces for less ram usage. more features = more RAM, the nature of all software projects.

[2020-05-08 20:45] bobbrow commented on #5388
@alexr00 this is a very unfortunate predicament our customers have been put in.  The proposed fix doesn't work (we tried it before and it broke the feature).  We've been wanting to update how we do our tasks, but we can't turn on a dime and do that right before we're about to release.  Is there any way we can revert your change in the next stable patch to 1.45?  IMO, this should have been a `conso

[2020-05-08 20:52] sean-mcmanus commented on #5388
@bobbrow @alexr00 Actually -- the fix does appear to work https://github.com/microsoft/vscode-cpptools/pull/5442 (I was hitting a failure due to another issue)...unless we find some other issue. We could ship this in our pending 0.28.0-insiders3 and/or 0.28.0 updates.

[2020-05-08 21:01] sean-mcmanus commented on #5427
Yes, that code is supposed to give a squiggle error. It appears that your IntelliSense is being disabled for some reason -- that's why your logging shows "using Tag Parser for quick info".

Can you make sure your intelliSenseEngine setting is set to "Enabled" and "intelliSenseEngineFallback" is set to "Disabled"?

[2020-05-08 21:18] Colengms commented on #2790
There hasn't been activity on this thread for quite a while.  @Jackie-Yang , Are you still seeing an issue?  If so, please reply here and we can reopen this.

[2020-05-08 21:18] #2790 closed, assigned to nobody

[2020-05-08 21:22] Colengms commented on #3095
Hi @alekseyt .  There hasn't been activity on this issue for quite a while.  Could you confirm whether or not this issue is still repro'ing for you with a recent version of the extension?  Thanks.

[2020-05-08 21:31] bobbrow commented on #5388
Yeah, I might have spoken too soon.  There are a number of other problems with our current task provider which we will work on for 0.29.0.  I think we'll try to release an insiders3 for people to try over the weekend and if it's good, then we'll get 0.28.0 out with a fix for this early next week.

[2020-05-08 21:46] sean-mcmanus commented on #5428
@ezraluandre The task provider error is https://github.com/microsoft/vscode-cpptools/issues/5388 .

Not sure about the other error yet.

[2020-05-08 21:48] #5388 closed, assigned to nobody

[2020-05-08 22:22] MoritzMaxeiner opened #5444 "IntelliSense does not support C++20 Concepts feature macro"
**Type: LanguageService**

**Describe the bug**
- OS and Version: **Funtoo Linux 1.4**
- VS Code Version: **1.45.0**
- C/C++ Extension Version: **0.28.0-insiders2**
- Other extensions you installed (and if the issue persists after disabling them): **CMake Tools 1.3.3** used for simple steps to reproduce
- Does this issue involve using SSH remote to run the extension on a remote machine?: **No**
-

[2020-05-08 23:24] alisherzhaken opened #5445 "Syntax highlighting does not work properly in WSL"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1909 (build 18363.815), Kali Linux WSL
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them): C/C++, Python, Nim, Java Extension Pack
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise desc

[2020-05-09 00:12] Colengms commented on #2703
It looks like we need to provide the path that the `.tlh` files are generated to, to our IntelliSense process (using `--import_dir`).  The default value is ".", which is probably always wrong.  VS sets this correctly, as it's also the build system and knows where those files were written (the intermediate output path.  CMake uses a similar intermediate output path).  We would need to add a setting

[2020-05-09 00:23] Colengms commented on #5445
Hi @alisherzhaken .  We're currently tracking this with https://github.com/microsoft/vscode-cpptools/issues/3942 .  The good news is, VS Code has added an API that will allow this to work properly, and we're in the process of porting to it.  We expect this to be addressed in 0.29.0.

[2020-05-09 00:23] #5445 closed, assigned to nobody

[2020-05-09 00:29] Colengms commented on #1398
It looks like this is was addressed by https://github.com/microsoft/vscode/pull/83797 , which added filtering to the problems pane.

[2020-05-09 00:42] Colengms commented on #1987
I don't believe there is a bug here.  The location of the assembly needs to be specified as an include path.  i.e.

[code]

Using the above, `System::Windows::Forms` shows up for me via auto-complete, and does not squiggle if used in `using namespace`.

[2020-05-09 00:42] #1987 closed, assigned to nobody

[2020-05-09 00:51] sean-mcmanus commented on #5444
Okay, I was mislead by https://developercommunity.visualstudio.com/content/problem/946335/c20-concepts-not-supported-by-intellisense.html being marked as "Fixed". But it turns out there is more work to be done. See the VS issue tracking it at https://developercommunity.visualstudio.com/content/problem/745318/-cpp-lib-concepts-isnt-defined-in-vs-2019-1630-rel.html .

[2020-05-09 01:02] sean-mcmanus commented on #4195
Actually, it looks like concepts support is still not 100% finished in Intellisense. We'll track the remaining work in https://github.com/microsoft/vscode-cpptools/issues/5444 .

[2020-05-09 01:17] sean-mcmanus commented on #5388
We have a fix with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0-insiders3 . We plan to release 0.28.0 on Monday (or maybe Tuesday).

[2020-05-09 01:26] nursinghoming commented on #2971
apt-get install gdb

[2020-05-09 01:32] thomastech commented on #5388
Thank you for the quick fix. Installed 0.28.0-insiders3. Issue resolved.
- Thomas

[2020-05-09 01:48] yanite commented on #5256
1: (484) ->~"../../gdb/inferior.c:283: internal-error: struct inferior *find_inferior_pid(int): Assertion `pid != 0' failed.\nA problem internal to GDB has been detected,\nfurther debugging may prove unreliable."

same issue gdb 9.1

Running gdb standalone seems to work OK and no issues

[2020-05-09 01:57] Trafalgar99 commented on #5388
Good job,thank you.

[2020-05-09 02:21] WardenGnaw commented on #5079
The issue is when VSCode launches the debug adapter, then the debug adapter launches `lldb-mi`, then `lldb-mi` launches `Terminal`. There is a prompt that should appear, but somehow the DebugAdapter is not forwarding this permissions request.

<img width="422" alt="Screen Shot 2020-05-08 at 7 17 25 PM" src="https://user-images.githubusercontent.com/3953714/81461434-991e2900-9160-11ea-8f88-3a73c17c

[2020-05-09 03:03] Gorgeous2017 commented on #5388
@sean-mcmanus

Nice.

But the terminal always displays the `Terminal will be reused by tasks, press any key to close it.` when tasks done.

Look like this:

![image](https://user-images.githubusercontent.com/33201519/81462281-09ba5980-91e4-11ea-9bb2-9ef671d96681.png)

I remember it didn’t appear before. It is a bug?

[2020-05-09 03:09] imba-tjd commented on #5388
@Gorgeous2017 It did appear before. It's basically similar to "press any key to continue"

[2020-05-09 03:50] mouliangyu opened #5447 "Incorrect IntelliSense error when passing this pointer as an argument"
**Type: LanguageService**

[code]

[2020-05-09 04:39] phonenaing05 commented on #5439
Sean thanks for your response. Yes, "tag parsing" is ongoing when I look at C/C++ logging output.
Updating file.exclude speed thing up for me.

[2020-05-09 04:39] #5439 closed, assigned to nobody

[2020-05-09 06:16] cvmanjoo commented on #2610
@sean-mcmanus

The path of avr/pgmspace.h is
`"C:\\Program Files (x86)\\Arduino\\hardware\\tools\\avr\\avr\\include\\avr\\**"` even adding this didnt help.

Am I missing something?

[2020-05-09 07:09] omcnoe commented on #5343
I am having the same experience, Terminal.app pops up, but no debug session starts...

[2020-05-09 09:44] FrodgE commented on #2610
I've stopped using the "forcedInclude" config option, and add `#include <Arduino.h>` in the source where appropriate (pay attention to the uppercase "A").

I listed my config earlier but I've since tweaked it a little.  This is using environment variables so with any luck you can simply copy & paste.  I have tailored this for the Mega 2560 however, and I have similar configs defined for ESP8266 &

[2020-05-09 12:01] Adolf-L commented on #5430
sorry, I guess I should put it in another place.  moreover, I find the fmz.py module is too big. it works well when I use this feature with other modules so I am going to close this issue.

[2020-05-09 12:01] #5430 closed, assigned to nobody

[2020-05-09 13:17] josStorer commented on #429
+1
Remote SSH + RPI4

[2020-05-09 15:07] majodi opened #5448 "Intellisense only "sees" variables declared in included header files"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS Cataline 10.15.4
- VS Code Version: 1.45.0
- C/C++ Extension Version: 0.28.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them): all (except ms-vscode.cpptools) disabled
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise descri

[2020-05-09 16:34] GitHimanshuc commented on #5427
@sean-mcmanus I checked the intellisense setting and it was set to tagparser.
After doing what you suggested the UI no longer freezes when I hover over the variable.
Thanks for the help :smile:
I will close this issue now

[2020-05-09 16:34] #5427 closed, assigned to nobody

[2020-05-09 17:36] msimic commented on #1025
this is completely false, both gdb and lldb support this

[2020-05-09 22:14] Z1ni opened #5449 "GetConsoleMode failing with error 5 (Access is denied) when debugging"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 1909
- VS Code Version: 1.45.0
- C/C++ Extension Version: 0.27.1
- Other extensions you installed (and if the issue persists after disabling them): issue persists when only ms-vscode.cpptools is installed

When debugging C programs built with MinGW64 GCC and using GetConsoleMode from ConsoleApi.h, the GetConsoleMode fails with error

[2020-05-10 03:22] Diffumist commented on #5343
I had the same problem with Manjaro KDE before, but when I changed terminal.external.linuxExec to kconsole (KDE's default terminal) the problem was solved, but it didn't work in Mac OSX, I think it was a problem with VScode's call to terminal.

![image](https://user-images.githubusercontent.com/32810399/81490094-4e132b80-92b0-11ea-9b01-5be8624e5878.png)

[2020-05-10 03:22] a318219151 opened #5450 "C/C++ "the task provider for the task accidentally provided the" shell""
所需的数据太大，无法直接发送。我们已经将
Issue Type: <b>Bug</b>

#include<iostream>
const int Max = 5;
int fill_array(double arr[],int limit);
void show_array(const double arr[],int n);
void revalue(double r,double arr[],int n);

int main()
{
    using namespace std;
    double properties[Max];

    int size = fill_array(properties,Max);
    show_array(properties,size);
    if (size >0)
    {
        cout << "Enter r

[2020-05-10 03:43] hellblazer33 commented on #5343
I posted to vscode github too but they said there is no problem with it and its a problem with cpp extension

[2020-05-10 04:36] omcnoe commented on #5343
This is the the same issue as https://github.com/microsoft/vscode-cpptools/issues/5079, the workaround from that issue https://github.com/microsoft/vscode-cpptools/issues/5079#issuecomment-626090192 worked for me.

[2020-05-10 04:39] omcnoe commented on #5079
@WardenGnaw There is a typo in your task, there is an extra `a` before `\nendtask` that breaks osascript. Workaround worked for me, thanks.

[2020-05-10 06:35] han9088 opened #5451 "Unreal programing, can't find includePath and intellisence with a high cpu usage , the same in vs2019"
**env**
window 10
unreal 4.25
vs2019

**Steps to reproduce**
I just created a new unreal project, and opened it in vscode。
then intellisence analyzes all the time, vs2019, clion has the same problem

<details>
  <summary><strong>c_cpp_properties.json</strong></summary>

[code]
</details>

**Screenshots**
![image](https://user-images.githubusercontent.com/45007226/81492444-41033600-92ca-11ea-9794-9

[2020-05-10 09:15] CY-Pan opened #5452 "Bug for grammar analysis"
![image](https://user-images.githubusercontent.com/59761962/81495250-9b5bc100-92e1-11ea-9f76-0d683376a9f0.png)
When I'm overwritting this operator in this way, it tells me the first parameter must be `size_t` type. But I'm doing correctly and this file worked before.

[2020-05-10 11:44] sky5454 commented on #5388
Actually, if you don't configure a right path for gdb, this error will occur.

[2020-05-10 13:32] sirus20x6 commented on #5418
Yes there were some differences between windows and linux that I was not aware of. I'm booted back in linux and can link, and build fine now.

[2020-05-10 13:32] #5418 closed, assigned to nobody

[2020-05-10 13:57] astojanovic-tvz commented on #5388
What if I'm not using GDB? I use MS C++.

[2020-05-10 14:29] christian-vorhemus commented on #5045
It looks like the latest VSC update fixed the issue. VSC now outputs a warning that pointed me to the source of the problem. In my case, I didn't provide a correct compilerPath and intelliSenseMode in c_cpp_properties.json. In my environment it now looks like this

[code]
and error squiggles do appear now!

[2020-05-10 15:23] Diffumist opened #5454 "[macOS Catalina] ERROR: Unable to start debugging. Unexpected LLDB output from command "-exec-run"."
Type: Debugger
OS: Mac OS X
Version: 10.15.4
Debugger: LLDB
cpptools version: Version 0.27.1

When I try to debug, the debug console reports an error :

`ERROR: Unable to start debugging. Unexpected LLDB output from command "-exec-run". process exited with status -1 (Error 1)`

Here are the configurations and logs

launch.json:

[code]

tasks.json:

[code]

Debug Logs:

[code]
Terminal output
[cod

[2020-05-10 15:46] not-name-but-id opened #5455 "semantic coloring issue with nested macros"
**Type: LanguageService**

The following C++ program produces incorrect coloring of the function argument when "A(f1(B param));" is called. It looks like the argument is somehow not parsed at all. Below the faulty line and some correctly working alternatives are shown.

[code]
The variable "param" in the bad line is also not highlighted when the cursor is over that variable somewhere else:
![image

[2020-05-10 17:21] gzfrozen opened #5456 "std::cout and other std types can not be recognized when using Clang on Windows"
**Type: LanguageService**
**Describe the bug**
- OS and Version: Windows 10 1909
- VS Code Version: 1.45.0
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them): CMake, CMake Tools. Issue solved after disable CMake Tools.
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise descr

[2020-05-10 17:37] #5343 closed, assigned to nobody

[2020-05-10 17:39] WardenGnaw commented on #5454
Can you run DevToolsSecurity -status in your terminal, and what does it output?

[2020-05-10 20:53] chrisant996 commented on #5244
Yeah, this lists thousands of problems in my projects, and they're all false positives.  It makes the Problems log useless, because it's too expensive to sift through thousands of false positives to try to find a couple accurate Problem reports.

[2020-05-10 22:44] FrightRisk commented on #1162
Same here. Would live to highlight a section of code and have it extracted and turned it into a function.

[2020-05-11 00:44] Diffumist commented on #5454
@WardenGnaw Developer mode is currently enabled

[2020-05-11 03:59] PaperCube opened #5457 "Calls to placement operator new can't be resolved correctly by IntelliSense"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1909 18363.778
- VS Code Version: 1.45.0
- C/C++ Extension Version: 0.27.1
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including information about the workspace (i.e. is the workspace a single project or multiple projects, s

[2020-05-11 04:58] peza8 commented on #5079
Workaround works! Well done and thank you @WardenGnaw !

[2020-05-11 05:59] marcmerlin commented on #510
So, I know it's bad form to hijack a bug, but hopefully this enough of the same issue to be ok here?
From this bug, ifdefs should now be parsed for colorization, is that also true for includes?

In this case I'm getting a warning for an include I don't have but don't care about since the ifdef does not apply to me.
Is that the same issue and it should be fixed?
Is that a new issue that needs a bug

[2020-05-11 08:49] guochengli opened #5458 "[Feature Request] Add UI feedback that 'Rescan Workspace' was completed successfully"
Issue Type: <b>Improvement</b>

After running C-S-P 'c/c++ rescan workspace' command, there is no response, no status bar, no progress bar, no outputs..., It seems nothing happens after running this command

Extension version: 0.27.1
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 4

[2020-05-11 09:28] muhammad-osaid-tekfocal commented on #5388
For those having hard time figuring this out,

1. Open VS Code and Go to extensions, right click C/C++ then click Extension Settings
2. Scroll down to last and "C-Cpp: Update channel" will be  third last drop down list
3. Change from default to insiders. (this will be auto saved)
4. The downloading will start and will ask you to reload once completed AND you are done. :)
5. Try restarting VS code

[2020-05-11 10:41] alkisg commented on #3444
@pieandcakes, I tested this and `gdb --interface=mi` works fine as long as one passes the filenames in the ANSI codepage, instead of using the OEM codepage or a Unicode encoding.

For example, the Greek OEM code page is 737 (the one used by DOS applications), and the Greek ANSI code page is 1253. See a failed and a successful example:

[code]

So, if you're willing to use the ANSI codepage for gdb

[2020-05-11 11:42] lyq1996 commented on #5388
+1 Same problem here.

[2020-05-11 12:15] FlorentRevest commented on #4067
I am having the same issue working on the Linux kernel over SSH.
.c files are recognized as "C" in the bottom blue bar. They also have a "C" icon in the explorer panel. However, when running the log diagnostic, this extension reports using the C++20 standard and enables the -g++ option.

[2020-05-11 12:20] alkisg commented on #3444
As a test, I configured Windows to use UTF-8 as their ANSI codepage (instead of the default Greek 1253), and then vscode was able to properly communicate with mingw gdb.exe.

Specifically:

- Run `intl.cpl` to open the "Region" control panel applet
- Select the "Administrative" tab
- Open "Change system locale"
- Select "Beta: Use Unicode UTF-8 for worldwide language support"

[2020-05-11 12:30] FlorentRevest commented on #4067
Oh I actually just found out what was happening on my machine. In my case, having "ccache gcc" in compile_commands.json resulted in IntelliSense parsing files as C++. replacing all "ccache gcc" with "gcc" and waiting for the indexing to be done fixed IntelliSense parsing of C files
EDIT: meh it briefly worked but already stopped working

[2020-05-11 12:50] ericbrownz commented on #5450
0.28.3prelease修复了 过几天正式版

[2020-05-11 12:51] a318219151 commented on #5450
Thank you.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"EricBrown"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月11日(星期一) 晚上8:50
收件人:&nbsp;"microsoft/vscode-cpptools"<vscode-cpptools@noreply.github.com&gt;;
抄送:&nbsp;"珞珈"<318219151@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [microsoft/vscode-cpptools] C/C++ "the task provider for the task accidentally prov

[2020-05-11 13:03] astojanovic-tvz commented on #5388
Thanks muhammad-osaid-tekfocal, it works like a charm! :)

[2020-05-11 13:04] BillDenton commented on #5141
I've just checked the logs again still seeing stuff like:
cpptools/fileCreated: file:///<redacted>/.git/lfs/tmp/798668719
that was during git pull
Also lots of other temp excluded files in my repo.
Any update?

[2020-05-11 15:02] brian-keebo opened #5460 "C macro containing a for loop breaks breadcrumbs"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS Catalina 10.15.4
- VS Code Version: 1.45.0
- C/C++ Extension Version: 0.27.1
- Other extensions you installed (and if the issue persists after disabling them):

CodeLLDB 1.5.0
Debugger for Java 0.25.1
Java Dependency Viewer 0.10.0
Java Extension Pack 0.9.0
Java Test Runner 0.22.3
Language Support for Java(TM) by Red Hat 0.61.0

[2020-05-11 16:14] pelco opened #5461 "Losing colorization in switch-case statements"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux 5.3.0-51-generic 18.04.2-Ubuntu
- VS Code Version: 1.45.0
- C/C++ Extension Version: 0.28.0-insiders3

The _switch case_ statements lose syntax highlighting if `(void)` is added to discard a function return value.

**Screenshots**
![image](https://user-images.githubusercontent.com/16528048/81583144-d2e17080-93a8-11ea-8d54-f375

[2020-05-11 16:29] BillXWB opened #5462 "Wrong colorization of `decltype` in trailing return type."
Wrong colorization of `decltype` in trailing return type.

**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 19041.208
- VS Code Version: 1.45.0
- C/C++ Extension Version: 0.27.1
- Other Extensions: all disabled

The color of `decltype` is wrong in trailing return type.

**Screenshots**

![vscode-cpp bug](https://user-images.githubusercontent.com/40427537/81583725-537192

[2020-05-11 16:32] michelleangela commented on #5450
This is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/5388

[2020-05-11 16:32] #5450 closed, assigned to nobody

[2020-05-11 16:41] WardenGnaw commented on #5454
With Developer mode enabled are you still getting `ERROR: Unable to start debugging. Unexpected LLDB output from command "-exec-run". process exited with status -1 (Error 1)`? If so, next step would be to disable `System Integrity Protection` by running `csrutil disable` in a terminal.

If you just see it hanging on `-exec-run` then it is this [issue](https://github.com/microsoft/vscode-cpptools/i

[2020-05-11 19:16] alkisg commented on #3444
I reported it to the mingw mailing list, and they replied it cannot be fixed there without extensive changes:
https://osdn.net/projects/mingw/lists/archive/users/2020-May/000502.html

So, it's up to vscode to treat gdb as an ANSI program and not a Unicode program, i.e. to use the ANSI codepage in its stdio. In winapi this is doable with just a few lines of code, but I don't know the electron frame

[2020-05-11 19:34] ghost opened #5463 "0.28.0-insiders3: Tag parsing no longer working"
Starting with 0.28.0-insiders3, I noticed that the tag parsing was no longer working. For example, now "Find all references" only works in the current TU (because I assume it relies on the tag parser to find other "potential references" in other TUs?).

I setup cpptools by providing the path to the compile_commands.json in the workspace level settings (I typically open multiple folders but I only

[2020-05-11 19:52] sean-mcmanus commented on #2994
@rob-evercoast That is most likely not a bug with our C/C++ extension -- our extension doesn't run code that can freeze the IDE via using 1 core (using 1 core for IntelliSense is normal, one of your 15 other cores should be able to render the UI, etc.). The VS Code UI renders in a different process from all our code and there is no code that VS Code blocks on our results. Or you're system is runni

[2020-05-11 19:56] Colengms commented on #5462
Hi @BillXWB .  The TextMate (syntactic) rules for colorization are coming from VS Code itself.  You can confirm this by using the command, `Developer: Inspect Editor Tokens and Scopes`, and clicking on the keyword to inspect.  In the near future (0.29.0), semantic tokens provided by the C/C++ Extension will be displayed there as well, though `decltype` is not a semantic token so its colorization w

[2020-05-11 19:56] Colengms commented on #5462
Closing this issue as external.

[2020-05-11 19:56] #5462 closed, assigned to nobody

[2020-05-11 20:22] sean-mcmanus commented on #4418
@benman64 Yes, using a workspace with multiple workspace folders will cause only 1 cpptools process to be created (which will limit the number of IntelliSense processes as well, based on core count)...with 0.27.0 or newer.

[2020-05-11 20:26] Colengms commented on #5461
Hi @pelco .  The C/C++ Extension does not actually provide colorization information based on syntax.  That is based on TextMate grammer built into VS Code (or possibly an extension that provides grammar, such as the Better C++ Syntax extension).  That said, I'm unable to reproduce what you are describing.  Is it possible you have another extension installed that might be influencing colorization?

[2020-05-11 20:33] sean-mcmanus commented on #1398
@Colengms No, doesn't work for me. I can't filter out the C/C++ errors, and also our errors are not all labeled with "C/C++" as the source as well.

[2020-05-11 21:17] Colengc commented on #5455
Hi @not-name-but-id .  Thanks for reporting this.  The C/C++ Extension for VS Code shares code for IntelliSense with VS, and this issue also repro's in VS.  I've opened a bug against VS [here](https://developercommunity.visualstudio.com/content/problem/1026082/semantic-coloring-issue-with-nested-macros.html).

[2020-05-11 21:42] Colengms commented on #5457
Hi @PaperCube .  Regarding the very first bit of code you provided:

[code]

I can repro the error.  However, I also repo the error when attempting to compile, so the error seems correct.  If I add `#include <new>` , to pick up the declaration, that resolves the issue for me - both the squiggle and compilation.

However, I believe your other issue may be due to the TU being incorrectly configured.

[2020-05-11 21:46] pieandcakes commented on #3444
@WardenGnaw This might be an easy change. @alkisg is proposing to only support ANSI on windows for communication to/from gdb.

@alkisg Thank you for investigating. When we have a private build, would you be able to validate the fix also?

[2020-05-11 21:53] Colengms commented on #1398
@sean-mcmanus  The original issue appears to have been addressed.  There is a way to filter problems, by whatever text is contained in them.  If there is additional work that might allow our issues to be _better_ filtered, perhaps you could update the title to reflect what work needs to be done, or open a more specific issue?

[2020-05-11 22:40] Colengms commented on #5452
Hi @CY-Pan .  Can you provide additional information, such as what platform you are running on, and the configuration you are using?  I'm not immediately able to repro the issue, and could use additional information.

To venture a guess, perhaps there is a mismatch between the compiler architecture you have the intelliSense mode set to, and the headers you are compiling against?  That could lead t

[2020-05-11 22:42] Colengms commented on #5456
Hi @gzfrozen .  Thanks for reporting this.  I'm able to repro.  It seems there may be something new in the Clang 10 headers that's confusing our IntelliSense parser.

[2020-05-11 22:48] Colengms commented on #5400
Hi @WittHickmanYoung .  I suspect the issue is due to various defines that are set by the build system (Makefile) that would need to be configured (in c_cpp_properties.json) in order for the extension to parse headers as expected.  You may be able to infer defines and include paths based on the command lines invoked by the build system.

In the future, we hope to make available a custom configurat

[2020-05-11 22:50] sean-mcmanus opened #5464 "Changing to "Default" updateChannel isn't downgrading from Insiders"
Repros with 0.28.0-insiders3...but when I debug it, it works.

[2020-05-11 23:10] Colengms commented on #5458
Hi @guochengli .  Thanks for reporting this.  We'll add this to our backlog.

[2020-05-11 23:18] Colengms commented on #5451
Hi @sewerganger .  The extension needs to lexically/syntactically parse all headers in the project (and system headers) the first time opened (or until it can complete).  I suspect this is what you are seeing.  During that time, the database cylindar icon should be present on the bottom of the window. If you enable logging using, `"C_Cpp.loggingLevel": "Debug"`, you can view details about its prog

[2020-05-11 23:35] sean-mcmanus commented on #5464
There's a related existing issue in that it doesn't do the downgrade check on activation, only after a settings change.

[2020-05-11 23:38] Colengms commented on #5448
Hi @majodi .  I'm not able to easily repro.  There may be some detail about your configuration that is influencing the repro.  Can you run the `C/C++: Log Diagnostics` command, and post the output?  That should tell us how the file is configured.

Also, can you provide a complete example?  It may be that the parser is failing on something prior to this code, or in a header, causing the rest of the

[2020-05-11 23:54] Colengms commented on #5447
Hi @MuLiangyu .  Thanks for reporting this.  The C/C++ Extension for VS Code shares IntelliSense code with VS.  This issue also repro's in VS, so I've opened a bug against VS [here](https://developercommunity.visualstudio.com/content/problem/1026193/incorrect-intellisense-error-passing-this-pointer.html).

[2020-05-12 00:40] CY-Pan commented on #5452
Sorry for the vague information. I’m running on Windows 10 Professional *64, 1909, with VS Code 1.45.0. And my compiler is GCC via mingw-w64.

I was using version 0.27.1 of this extension when I met another bug #5388 <https://github.com/microsoft/vscode-cpptools/issues/5388> . Then I tried 0.28.0-insider3 and met the bug I reported.

My other extensions:

My task.json:

{

    "version": "2.0.0",

[2020-05-12 02:15] alkisg commented on #3444
@pieandcakes thank you for replying, yes of course, I'm able to test private builds with ANSI Greek directories/filenames and mingw/gdb, ping me whenever I should do so.

[2020-05-12 02:40] sean-mcmanus commented on #5460
This is "by design" (limitation of our workspace symbol parser). The expected workaround is to create a file named cpp.hint in your workspace folder that has contents

#define ArrayForEach(element, array)
See https://docs.microsoft.com/en-us/cpp/build/reference/hint-files?view=vs-2019 for more info.

You'll also need to do a reload window before the changes will take effect.

[2020-05-12 02:40] #5460 closed, assigned to nobody

[2020-05-12 02:41] PaperCube commented on #5457
@Colengms Thank you,
The error squiggles have gone after correcting the compiler path by adding the executable name to path.

But I'm still a bit confused. In some cases, I may want to compile the code manually in WSL from command line and I would like it to resolve headers provided by gcc in WSL. Do I have to use Remote-WSL if `"compilerPath"` is set to `/usr/bin/g++` when I only wanted code comp

[2020-05-12 02:44] sean-mcmanus opened #5467 "cpp.hint changes require a Reload Window (and/or Reset IntelliSense Database)"
Ideally, the change would trigger an automatic update.

VS doesn't auto-update when cpp.hint changes, but as soon as an edit or save occurs to a source file then it will update.

[2020-05-12 02:57] sean-mcmanus commented on #5463
0.28.0-insiders3 fixed a bug with compile_commands.json that caused the browse.path (files that get tag parsed) to be missing files (although there are still some cases where file are missed). However, your log show that it's in the middle of tag parsing. Do you still get Find All Refs missing results when the workspace parsing is 100% finished? When you open a file that is failing to get tag pars

[2020-05-12 03:26] brian-keebo commented on #5460
Thanks Sean. Sorry for the trouble, and thank you for pointing out my mistake.

[2020-05-12 04:38] mangkoran commented on #5388
is it okay to revert back to default update channel after updating?

[2020-05-12 05:03] han9088 commented on #5451
@Colengms  thanks for your time. I waited for it to parse end, but it still prompted errors. then i reloaded the vscode, it restarted parsing. 😂

[2020-05-12 06:06] niebayes opened #5468 "Contradiction between includePath and compilerPath"
It is said that if we explicitly declare the compilerPath, the extension will query the compiler to determine the system include paths and default defines to use for IntelliSense. If used, the includePath **would not be needed** since the IntelliSense will use the compiler to figure out the system include paths. See: https://stackoverflow.com/a/37548293
Is it true ?

[2020-05-12 06:55] Swordfish1990 opened #5469 "VSCODE reports thousands of problems when building my program with c++11."
OS: Centos7
cpptools version: 0.28.0-insiders3
GCC version: 10.1.0

the problems like this:
stray '\177' in program
stray '\2' in program
stray '\1' in program
stray '@' in program
stray '#' in program
......

the task.json like this:
`{
	"version": "2.0.0",
	"tasks": [
		{
			"type": "shell",
			"label": "build",
			"command": "/usr/bin/g++",
			"args": [
				"-g",
				"${workspaceFolder}/main.cp

[2020-05-12 10:00] andyp1per commented on #4418
There are so many of these issues I'm not sure what the correct one to post in is. So here goes :)

I too have extreme problems with the cpptools process (on Windows 10 with WSL1) consuming 100% of the CPU and never stopping (both flame symbol and database visible). What appears to trigger this is switching branches in git. Is there a way of having a per-git-branch vscode cache? That would probabl

[2020-05-12 10:50] BillDenton commented on #4418
Similar to @andyp1per we use scons with multiple build targets. Each VS Code permantently uses a whole core. As far as I know it never stops. Also looking at lots of irrelevant files, e.g. file:///<redacted>/.git/lfs.

[2020-05-12 12:15] WittHickmanYoung commented on #5400
It’s confusing to use C/C++ Intellisense under Linux Kernel developing, even after adding header files folder: /use/include/, /use/include/Linux/, /use/lib/gcc/$(gcc-version)/include/, $(workspaceFolder)/include/.

[2020-05-12 12:21] shriya-16 commented on #5417
Please excuse for the delay.
Tasks.json
`{

    "version": "2.0.0",
    "tasks": [
        {
            "type": "shell",
            "label": "C/C++: g++.exe build active file",
            "command": "C:\\MinGW\\bin\\g++.exe",
            "args": [
                "-g",
                "${file}",
                "-o",
                "${fileDirname}\\${fileBasenameNoExtension}.exe"
            ]

[2020-05-12 12:22] ghost commented on #5463
The tag parsing never finishes.The cylinder on the status bar just shows parsing 0/3500 files forever. I attached another log where I opened vscode, opened a file and waited 30 minutes (the tag parsing never made progress):
[Insiders3.log](https://github.com/microsoft/vscode-cpptools/files/4615444/Insiders3.log)

I downloaded the vsix for Insiders2, followed the same steps and tag parsing was done

[2020-05-12 12:51] da2r-20 opened #5470 "Copying a long value from debug watch results in pasting partial value"
Type: Debugger

**Describe the bug**
- Version: 1.45.0
- Commit: d69a79b73808559a91206d73d7717ff5f798f23c
- Date: 2020-05-07T15:57:33.467Z
- Electron: 7.2.4
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- OS: Darwin x64 18.7.0
- C/C++ Extension Version: 0.27.1

While remote debugging I copied a long value from the watch area.
Pasting it resulted in a partial string with '..

[2020-05-12 13:19] alekseyt commented on #3095
Hi. Sorry, i can't confirm this because i'm not using that setup (on Windows) anymore, i never saw this on Linux + i'm stuck on cpptools 0.19 because of another issue that is still not resolved, so i can't help with it any further. If anyone want to close this issue - please feel free to do so, it is pretty much not reproducible for me anyway.

[2020-05-12 13:20] gentooise opened #5471 "Threads are immediately running when debugging Linux kernel on remote machine"
Type: Debugger

**Describe the bug**
- OS and Version: Lubuntu 18.04
- VS Code Version: 1.44.2
- C/C++ Extension Version: 0.28.0-insiders3

**To Reproduce**
I'm trying to debug the Linux kernel on a target machine attached to my host on serial port `/dev/ttyUSB0`.

By running gdb from command line I can correctly connect to the running kernel:

[code]
As you see, after giving `target remote /dev/t

[2020-05-12 14:33] pweiskircher commented on #692
I'm also running into this problem. One of the very few reasons why I can't switch to VS Code :(

[2020-05-12 14:48] brian-keebo commented on #5460
Hint files don't appear to work in Visual Studio Code. Are they only supported in the full Visual Studio? That is what the linked article refers to.

I created a cpp.hint file in the same directory as my test.c file put the macro in it, and the behavior is the same. I tried including the entire macro definition line as well as the shortened version that you show above.

[2020-05-12 15:01] rvanlaar commented on #1466
@sean-mcmanus What is the correct way to set the defines appropriately? Now it's done via `./configure --enable-option`.

[2020-05-12 15:38] thomastech commented on #5388
It's OK to revert back to the default Update Channel after installing the insiders release. The insider version will remain until a newer official release is available on the default Channel.

- Thomas

[2020-05-12 15:41] mlekena opened #5473 "Syntax Highlighting around cout not quite right"
Issue Type: <b>Bug</b>

Simple main.cpp file with code below does not look quite correct. This remains like this even after building and running the application (in case this is a reconfigure build issue)

[code]
Will attempt to attach an image of what I see
Extension version: 0.28.0-insiders3
VS Code version: Code - Insiders 1.46.0-insider (288852d8c26d797974bfb8aed06e1bff9b809223, 2020-05-12T05:

[2020-05-12 15:42] mlekena commented on #5473
![image](https://user-images.githubusercontent.com/4799593/81714948-a3cd0c80-9445-11ea-982b-27f15da61f54.png)

[2020-05-12 16:26] brian-keebo commented on #5460
Never mind, I found https://github.com/microsoft/vscode-cpptools/issues/2515 which pointed out that I need to edit and save the file that uses the macro in order for the symbols to be reprocessed. Once I do that, things are working.

[2020-05-12 16:57] fabiomanz commented on #429
+1
Remote SSH + Jetson Nano

[2020-05-12 17:28] pelco commented on #5461
Hi @Colengms. So I disabled all plugins and the result is the same:
![image](https://user-images.githubusercontent.com/16528048/81725428-ba8f5580-947d-11ea-96f8-b0c62b8dbaab.png)

Probably it's not related to the extension. Do you have any suggestions?

[2020-05-12 17:34] WardenGnaw commented on #5471
Setting `stopAtEntry` to `true` in your `launch.json` should prevent the engine from sending `-exec-continue`.

[2020-05-12 18:49] sean-mcmanus commented on #5473
I'm not able to repro the bug. Does it repro for you after you comment out the `#include "chapter1.hpp"`? It's possible the repro requires the contents of that file.

![image](https://user-images.githubusercontent.com/19859882/81733189-746acf80-9446-11ea-9067-4f1923cb4b23.png)

[2020-05-12 19:57] sean-mcmanus opened #5474 "Switching between case-sensitive (WSL) and non-case sensitive (msvc) configs causes errors to not appear"
Started with 0.28.0. Workaround is to reload window or use the WSL remote extension.

[2020-05-12 20:28] Colengms commented on #5452
Hi @CY-Pan .  Could you run the `C/C++: Log Diagnostics` command while the repro file open, and post its output here?  Also, could you provide complete example code that I can paste to repro?  (With #include's, etc.)

I noticed the following in your configuration:
[code]

Have you set default.intelliSenseMode?  What is it set to?

[2020-05-12 20:46] Colengms commented on #5468
Hi @niebayes .  If your code only needs to include files from system include paths, you may not need any additional include paths.  However, if your project leverages any non-system libraries, or if you have organized your headers into specific locations (i.e. an 'inc' directory), those paths will not be provided by the compiler, and would need to be provided via `includePath`.

[2020-05-12 20:53] Colengms commented on #5461
Hi @pelco .  Aha.  I was unable to repro due to using a .cpp file.  The issue appears to only repro in .c files.  I would suggest opening an issue in the [VS Code repo](https://github.com/microsoft/vscode), or the [Better C++ Extension repo](https://github.com/jeff-hykin/cpp-textmate-grammar), as the later is the source of the syntactic grammar rules for C and C++ in VS Code.

[2020-05-12 21:02] #5045 closed, assigned to nobody

[2020-05-12 21:26] sean-mcmanus commented on #5457
I get the same error squiggles with WSL+gcc on Windows with WSL paths, with WSL remote, with mingw, and when using gcc via https://gcc.godbolt.org/ .

The squiggles may be going away temporarily after changing the compilerPath due to bug https://github.com/microsoft/vscode-cpptools/issues/5474 .

[2020-05-12 21:33] sean-mcmanus commented on #510
@marcmerlin IntelliSense appears to think that SPARK is defined. If that's not true, can you file a new issue with more repro/logging details?

[2020-05-12 21:41] ghost commented on #5463
Notice that in insiders3.log you will see:
  stdver: c++14
But in insiders2.log you will see:
  stdver: c++17

My compile_commands.json specifies c++17 and so something is definitely wrong in insiders3.

This at least explains why I'm see the squiggly for "sysdep/1/filesystem_impl_native.hpp" because std::filesystem is only in c++17.

I'm checking to see if other defines/includes are wrong. I'm gu

[2020-05-12 21:49] KnBrckr commented on #5061
I've noticed I'm seeing this issue. On Windows 10, VSCode 1.44.2, cpptools 0.27.1, using WSL and a symlinked directory. I haven't sorted out how to recreate the problem reliably. I see it on some tabs, not others. On the tab I was seeing this reliably, closed the file and reopened in a new tab, no longer seeing the corruption. The file was only open in a single tab.

[2020-05-12 21:53] sean-mcmanus commented on #5141
This hasn't been fixed yet.

[2020-05-12 22:14] sean-mcmanus commented on #1398
Okay, it sounds like the user could use a filter like "gcc" or whatever "source" they're using in their problemMatcher.

[2020-05-12 22:14] #1398 closed, assigned to nobody

[2020-05-12 23:20] Colengms commented on #5451
Hi @sewerganger .   Are you sure tag parsing had completed?  Can you check if "Warning: Database safety check failed. Recreating database." appears in your log when you reload?  If tag parsing is restarting, it should be associated with that error message.  Otherwise, it's likely continuing where it left off.

[2020-05-12 23:29] pelco commented on #5461
Hi @Colengms. I reported the issue at https://github.com/jeff-hykin/cpp-textmate-grammar/issues/478.
Thank you for your support.
Stay safe.

[2020-05-12 23:37] sean-mcmanus commented on #5469
Does your issue repro with the C/C++ extension disabled? I'm not sure what could be causing this.

[2020-05-12 23:55] sean-mcmanus commented on #4418
@andyp1per Are you using the WSL remote extension to run our extension on WSL/Linux instead of Windows? That is the recommended way (otherwise you can hit some bugs related to case sensitivity of paths on Windows). We're still trying to find a repro for performance issues caused by switching branches (if that root problem can be fixed, I don't think a per-branch cache would be necessary...it would

[2020-05-13 00:07] ghost commented on #5463
Ok, I figured out the tag parser issue:

In insiders2, if you had a compile_commands.json specified in workspace settings, then only the workspaceFolder would be added to be added to the browse path. Now, everything in the compile_commands.json is being added to the browse path. In our codebase, we have "handwritten headers" and "generated headers". All the "generated headers" do is #include the "

[2020-05-13 00:17] #3095 closed, assigned to nobody

[2020-05-13 00:19] sean-mcmanus commented on #1466
@rvanlaar It depends on how you're configuring IntelliSense. You could add the defines to c_cpp_properties.json or the setting C_Cpp.default.defines. If you use compileCommands or configurationProvider, then the defaults should come automatically from those.

[2020-05-13 00:24] sean-mcmanus commented on #5388
@ayams02 We had a bug that prevented auto-downgrading from 0.28.0-insiders3 to 0.27.1 when the updateChannel changes to "Default" (https://github.com/microsoft/vscode-cpptools/issues/5464), but that should be fixed for future Insider releases...and we should be releasing 0.28.0 soon anyway.

[2020-05-13 00:28] PaperCube commented on #5457
@sean-mcmanus I closed and reopened the workspace several times, restarted vscode several times and waited for several minutes and the squiggles didn't show up. I assume the squiggles didn't disappear temporarily.

My compiler was downloaded from [here](https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win64/Personal%20Builds/mingw-builds/8.1.0/threads-posix/seh/x86_64-8.1

[2020-05-13 00:34] lifeisafractal commented on #429
+1
Remote SSH + RPI4

[2020-05-13 00:39] sean-mcmanus commented on #5463
You can add the folders to files.exclude to exclude them from tag parsing.

By "tag parser crashes" you mean fails to parse the files and not cpptools actually crashes, right?

[2020-05-13 00:44] sean-mcmanus commented on #5457
If the squiggles don't appear with the mingw you're using that compiles correctly, but appears when we fall back to WSL compilers, then that appears to be "by design", correct behavior. Let me know if I'm misunderstanding the issue.

[2020-05-13 01:00] CY-Pan commented on #5452
This is the output of Log Diagnostics:

-------- Diagnostics - 2020/5/13 上午8:42:45

Version: 0.28.0-insiders3

Current Configuration:

{

    "name": "MinGW",

    "includePath": [

        "D:/MinGW/mingw64/include",

        "D:/MinGW/mingw64/x86_64-w64-mingw32/include",

        "${workspaceFolder}"

    ],

    "defines": [

        "_DEBUG",

        "UNICODE",

        "_UNICODE"

    ],

[2020-05-13 01:06] ghost commented on #5463
It fails to parse and it seems like it puts the tag parser in a bad state. It seems like nothing gets parsed correctly thereafter.

[2020-05-13 01:12] Swordfish1990 commented on #5469
No,the C/C++ extension is enabled. And it works fine on c++03.

[2020-05-13 01:16] sean-mcmanus opened #5476 "0.28.0 IntelliSense (cpptools-srv process) crash regression"
There's one widespread (highest hitting) IntelliSense (cpptools-srv process) crash regression with 0.28.0 (that didn't repro with 0.27.1), but we haven't been able to locate a repro yet.

Let us know if anyone can identify such a crash and provide as much repro info as possible (e.g. code sample, C/C++: Log Diagnostics info, etc.). The top of the call stack should have "push_scope_full" and/or "se

[2020-05-13 01:21] PaperCube commented on #5457
@sean-mcmanus When we fall back to WSL compilers, after correcting the code by adding `#include <new>`, the error squiggles are still there but the code really compiles with g++ via WSL.

I'm afraid I don't quite understand why it reports error after correcting configuration and code, given that the configured compiler compiles successfully, and the error message seems irrelevant.

Could you expla

[2020-05-13 01:33] ghost commented on #5463
It seems like the files.exclude does workaround the problem. Thanks.

[2020-05-13 01:37] sean-mcmanus commented on #5469
Yes but if you change it to disabled, does the bug still repro?

By "on c++03" you mean "c++03" in your tasks.json, right? Our extension doesn't have any interaction with the tasks.json.

[2020-05-13 02:01] sean-mcmanus commented on #5457
Fixed with 0.28.0: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

Let us know if you're still reproing the issue with the new release.

[2020-05-13 02:13] Swordfish1990 commented on #5469
Yes,I mean "-std=c++03" in tasks.json. But if I disable the C/C++ extension,I can't use vscode to build my program.So,you want to make sure whether the issue caused by gcc? I have tried to use g++ command without vscode to build my program,no bug reports.

[2020-05-13 02:17] sean-mcmanus commented on #5469
I mean temporarily disable the C/C++ extension to see if the bug still repros. You should be able to run the task without the C/C++ extension installed.

There might be some difference in the way you're invoking g++ on the command line versus in the tasks.json.

[2020-05-13 02:28] sean-mcmanus commented on #5388
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0 .

[2020-05-13 02:29] Swordfish1990 commented on #5469
I have run the task without the C/C++ extension installed,the bug still repros.

[2020-05-13 02:32] sean-mcmanus commented on #5469
Oh, I think your `"cwd"` is incorrect in your tasks.json. Could you change it to `${workspaceFolder}`?

Otherwise, I don't know what could cause this -- it sounds like it's using the wrong gcc (that doesn't support c++11). You might try add a "--version" as an argument to see what it returns. Or file a VS Code issue at https://github.com/microsoft/vscode/issues .

[2020-05-13 02:34] #5291 closed, assigned to nobody

[2020-05-13 02:34] General-Delta1 commented on #3640
Hello!!!! here is what i am seeing i don't know why ;
Downloading package 'C/C++ language components (Windows)' (6758 KB)  Failed. Retrying... Failed. Retrying... Failed. Retrying...Waiting 8 seconds...(6758 KB)  Done!
Downloading package 'ClangFormat (Windows)' (794 KB)  Done!
Downloading package 'Visual Studio Windows Debugger' (13813 KB)  Done!

Installing package 'C/C++ language components (Wi

[2020-05-13 02:36] #4617 closed, assigned to nobody

[2020-05-13 02:38] Swordfish1990 commented on #5469
Thanks for your help.

[2020-05-13 02:38] #5469 closed, assigned to nobody

[2020-05-13 02:47] sean-mcmanus commented on #3640
@Genal-Delta1 You've hit some unknown download/install issue.  Can you try again or download/install the offline vsix at https://github.com/microsoft/vscode-cpptools/releases/download/0.28.0/cpptools-win32.vsix (run the "Install from VSIX" command in VS Code).

[2020-05-13 02:50] jsxzhub opened #5477 "change "C_Cpp: Clang_format_fallback Style" is fail!"
version : 0.28.0
os : windows 10
option of “C_Cpp: Clang_format_fallback Style” can not change.

[2020-05-13 02:54] PaperCube commented on #5457
Still reporting errors. But what's different is that this time OK with my WSL compilers and errors reported with my mingw-w64. Exactly the same error msg.

In summary:
0.27.1: WSL: error, mingw-w64: ok
0.28: WSL: ok, mingw-w64: error

Code:
[code]

<details>
<summary><strong>Logs</strong></summary>

[code]
</details>

<details>
<summary><strong>Cpp related settings in settings.json</strong></summa

[2020-05-13 02:55] sean-mcmanus commented on #5477
Can you clarify what you mean?

[2020-05-13 02:58] BOT-Man-JL commented on #5477
Is this setting item removed in 0.28.0? This setting doesn't work at all...

![image](https://user-images.githubusercontent.com/17026165/81766332-82812480-9508-11ea-96aa-29fecda24277.png)

[2020-05-13 02:59] sean-mcmanus commented on #5477
If you're using a remote session, it should be changeable in the Remote or Workspace or Workspace Folder settings.

![image](https://user-images.githubusercontent.com/19859882/81766476-114f5c00-948b-11ea-8290-581275fab3a9.png)

This is intentional, because your remote machine's instance of clang_format may not accept the same fallbackStyle that your local machine is able to use.

[2020-05-13 03:02] Swordfish1990 commented on #5469
Your advice is very helpful!The issue caused by "cwd".I change it to ${workspaceFolder},the bug solved.

[2020-05-13 03:06] sean-mcmanus commented on #5457
That is odd. I'm not reproing it and your config settings look correct.
@Colengms @michelleangela Are you able to repro this?

My mingw is at `C:\Program Files\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0\mingw64\bin\g++.exe`

[2020-05-13 03:08] BOT-Man-JL commented on #5477
These settings are all removed in 0.28.0... Is there a fast way to config them on all my remote machines?

I think it would be better to have **a place** to set the default setting **for all** remotes... And the extension use the remote's settings **only if** the local's are not acceptable.

![image](https://user-images.githubusercontent.com/17026165/81767044-0b4c9000-950a-11ea-9775-faf5f33e5d7d.p

[2020-05-13 03:10] sean-mcmanus commented on #5457
Oh, you're using mingw32...can you try changing your intelliSenseMode to gcc-x86?

Otherwise, it sounds like we need to try out that particular mingw version.

[2020-05-13 03:15] PaperCube commented on #5457
Well, I believe I'm using exactly the same version as yours. I just renamed the path. It's not mingw32.

First line of `g++ --version` output:
[code]

But I tried changing the IntelliSense mode to gcc-x86 and mysteriously it **works**. But I think my compiler is really 64-bit.

[2020-05-13 03:16] sean-mcmanus commented on #5477
1. Copy your existing settings that are greyed out.
2. File->Preferences->Settings->Remote.
3. Click the Open Settings icon in the top right.
4. Paste the settings.

Are you saying you want a setting that applies to all the different remote machines you use? For that, I recommend filing a feature request at https://github.com/Microsoft/vscode-remote-release/issues .

The change we may was based on

[2020-05-13 03:33] sean-mcmanus commented on #5457
Are you sure the g++ on your path is the same one as your compilerPath?

@michelleangela Could we have a bug with 32-bit versus 64-bit IntelliSense? I see code that is treating "long" as 8 bytes with gcc mode, even on Windows+mingw where it might still be 4 bytes, which would explain why changing the intellisenseMode to x86 fixes the issue. Maybe this is a reason to switch to doing what VS does wi

[2020-05-13 03:40] PaperCube commented on #5457
Yes. I copied the path from `where g++` and there's no other compiler on my computer.

[2020-05-13 07:02] mdj982 opened #5478 "Structural binding doesn't work (language standard needs to be set to c++17)"
Issue Type: Bug

Got error "identifier not defined" in structrual binding in ver.0.28.0
It has been worked well until ver.0.27.1

![Screenshot from 2020-05-13 15-52-54](https://user-images.githubusercontent.com/16437623/81780815-1c10fc00-9532-11ea-8cf0-afac6ebc8da6.png)

Extension version: 0.28.0
VS Code Version: 1.44.2  (commit: ff915844119ce9485abfe8aa9076ec76b5300ddd)
OS: Ubuntu 18.04 LTS (Linu

[2020-05-13 07:04] han9088 commented on #5451
l tried it again until the cylindrical icon disappeared, but errors still display without any extension's
error message tips,  i found the same issue in unreal community https://issues.unrealengine.com/issue/UE-87619.
I will give up resolving this, it spends too long time

![image](https://user-images.githubusercontent.com/45007226/81780490-2f6b9980-9529-11ea-95df-10ec676c5a8e.png)

![image](https

[2020-05-13 07:18] andyp1per commented on #4418
@sean-mcmanus yes I am using the WLS remote extension.

Although one thing I note is that intellisense gets really confused sometimes - if I Ctrl-Click on a function name it will (usually, hopefully) take me to that file, but sometimes it will open the file again rather than switching to where it is already open in the editor. When this happens the file has a full path rather than a relative path

[2020-05-13 07:33] fawwaz commented on #449
Hi @pieandcakes , I set `externalConsole: true` but it seems that it only launch a normal terminal without running my program. Is there any step that I miss ?
Here is my launch.json
[code]

[2020-05-13 07:42] fawwaz commented on #449
Here is my screen recording , it open a terminal but then it doesn't run my code. Even if i execute my code manually in that terminal, the debugger doesn't capture my input.

![image](https://user-images.githubusercontent.com/1295143/81784983-e6671580-9527-11ea-82ed-de2aeb663f5a.png)

[2020-05-13 07:46] Diffumist commented on #5454
Problem solved, thanks to @WardenGnaw

[2020-05-13 07:47] #5454 closed, assigned to WardenGnaw

[2020-05-13 08:09] renzhengeek commented on #2607
solved my issue

[2020-05-13 08:26] boocs opened #5479 "If browse path not specified project folder path is automatically added"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10, 1909
- VS Code Version:  1.45.0
- C/C++ Extension Version: 0.28.0
- Compiler: VS 2019 Build Tools

- If browse path isn't specified the root workspace folder path is auto included. So the root workspace is now tag parsed recursively. To prevent this behavior you'll have to specify a include path and a browse path.

**Ste

[2020-05-13 09:00] gentooise commented on #5471
I'm sorry, that was just a typo, because I made many modifications to the config file.

Even with `stopEntry` set to `true` it does continue the execution...

[2020-05-13 09:31] omercsp commented on #4733
@sean-mcmanus, I can see in 0.28 the headers thing is working.
The "printf" still goes to the wrong place...

[2020-05-13 09:34] rvanlaar commented on #1466
Thank you for your comments. I've configured the c_cpp_properties.json via the cpp plugin and generated a compile_commands.json via `bear make`.

[2020-05-13 09:34] mcilloni opened #5480 "Intellisense reports types and symbols as not defined even though it clearly knows them"
**Type: LanguageService**

Every once in a while, only with certain C++ files, Intellisense starts throwing definition errors , such as:
- putting wiggly lines under a type it is clearly aware of (i.e. doing CTRL+click correctly opens the right definition, or hover shows the correct symbol)

- failing to correctly match the right symbol (i.e. mixing up members and variables from unrelated structur

[2020-05-13 11:23] niebayes commented on #5468
@Colengms Actually, as the doc said, the users shall modify the includePath when it comes to IntelliSense and nothing more. The includePath has nothing to do with the compilation. I ultimately solved this issue by explicitly setting the clang++ compiling options in the tasks.json file. Last but not least, thanks for your comment!

[2020-05-13 13:15] yaroslavsadin commented on #5473
I'm experiencing a lot of colorization issues with the latest version as well. It does work initially but eventually when I type something it's not colorized at all. Tag parser works though. All fine again after restart but issue comes back every time.
I tried to rollback vscode version (happened to be updated at the same time) but still the issue is there. Rolling back to previous stable version

[2020-05-13 13:27] sam007961 opened #5481 "Autocomplete not working in certain files, possible 0.28.0 regression"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Fedora 31
- VS Code Version: 1.45.0
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them): CMake Tools 1.3.1, Persists after disabling
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- Autocomplete is not working in certain files a

[2020-05-13 14:03] KaeLL commented on #407
Ok. I understand that this issue is actually an umbrella for a lot of small issues related to how C/C++ code should be folded. I also believe the following problem, which are different issues about the same problem, indentation folding, is the most prominent of the bunch:
https://github.com/microsoft/vscode-cpptools/issues/1584
https://github.com/microsoft/vscode-cpptools/issues/2116
https://githu

[2020-05-13 14:16] brevzin opened #5483 "Is it possible to syntax highlight "not", "and", and "or""
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 v1909
- VS Code Version: 1.44.2
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: I'm running SSH remote, but it doesn't matter
- A clear and concise description of what

[2020-05-13 15:23] fefe982 opened #5484 "cpptools crashes when gcc is not in $PATH of Docker container"
Type: General

**Describe the bug**
- OS and Version: Win10
- VS Code Version: 1.45.0(user setup)
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them):
   Local:
   Remote - Containers 0.117.1
   Remote -SSH 0.51.0
   Remote - Development 0.20.0
   On Dev container:
   CMake
   CMake Tools
   I removed every other extension in dev cont

[2020-05-13 16:08] thomastech commented on #5388
Yoo-hoo! Platformio now reports it has 0.28.0 installed. @sean-mcmanus, Thank You.
- Thomas

[2020-05-13 16:43] akbyrd commented on #407
It's only in the insiders build of the plugin. If you follow the link it has instructions for enabling the insiders branch of the cpp plugin.

[2020-05-13 16:51] KaeLL commented on #407
![settings](https://user-images.githubusercontent.com/4423144/81841077-41950a00-9520-11ea-9ce3-aea5965e7a41.png)

Here's the link to my settings.json file backup I update every time I change something in case you think I just added this setting. It's been enabled for quite a while.
https://pastebin.com/txMGa5Et

[2020-05-13 17:36] michelleangela commented on #5478
Structural binding is in C++17, and the set default language standard is probably C++14 based on the default compiler's default language standard. If you set the cppStandard to "c++17" in c_cpp_properties.json this will resolve the issue.

**Cause of changes:**
Before version 0.28.0 of the extension, the language standard would just default to C++17. In 0.28.0, the extension will try to find the d

[2020-05-13 17:39] GoaLitiuM commented on #1017
Latest extension (0.28.0) does not seem to print any thread exit message anymore 👍, yet there was no new logging options added or any mentions about this in changelogs.

[2020-05-13 17:50] michelleangela commented on #5480
@mcilloni , could you provide the following 2 logs:

1. Log output from the [language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)
2. Log output from running the command `C/C++: Log Diagnostics`

And did these issues occur in 0.27.1 or are they a regression in 0.28.0 for your project?

[2020-05-13 17:58] mdj982 commented on #5478
It works well now, thank you very much.

[2020-05-13 18:24] pieandcakes commented on #449
@fawwaz the screen recording is just a screenshot. Please file a new issue and fill out the template. I don't know what OS you are on or any other details so I don't have enough information to go off of.

[2020-05-13 18:48] es6rc commented on #2506
+1 need support for aarch64 development

[2020-05-13 19:29] sean-mcmanus commented on #5483
Our extension doesn't provide lexical colorization for keywords/operators or theme colors. Using the "Inspect Editor And Scopes" command, the scoping seems correct, but your theme isn't handling it in the way you desire, but it should be customizable.

![image](https://user-images.githubusercontent.com/19859882/81855490-45bb2a80-9514-11ea-94d6-bc53702bee98.png)

You can use settings:
[code]

to ge

[2020-05-13 19:39] sean-mcmanus opened #5485 "Find All References is really slow for this project"
See the repro details at https://github.com/microsoft/vscode-cpptools/issues/5376 . That issue got fixed, but the performance is unusually slow. I wasn't able to get Find All References to work in VS for comparison. There may be some performance bug. There might be a recursive includes and tag parser cause for the slowness in addition to IntelliSense parsing. The unification work may or may not im

[2020-05-13 19:39] sean-mcmanus commented on #5376
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0 .

I noticed our Find All References performance is very (unusually) slow with that repro, so it's something we may want to investigate more. I filed a new issue at https://github.com/microsoft/vscode-cpptools/issues/5485 .

[2020-05-13 19:39] #5376 closed, assigned to nobody

[2020-05-13 19:46] brevzin commented on #5483
Thanks! Where do I go to file an issue for that them? I'm using `Dark+ (default dark)`

[2020-05-13 19:48] PogoRollo commented on #5388
As of about an hour ago I have 0.28.0 installed and the issue is gone.
Thanks @ all the contributors!

[2020-05-13 20:29] OrangeBacon opened #5486 "Top crash in 0.28.0"
**Type: LanguageService**

**Describe the bug**
- Version: 1.45.0 (user setup)
- Commit: d69a79b73808559a91206d73d7717ff5f798f23c
- Date: 2020-05-07T16:18:48.860Z
- Electron: 7.2.4
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- OS: Windows_NT x64 10.0.18362
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them):

[2020-05-13 20:36] hcsch commented on #3103
I too am currently experiencing issues with this. I want to debug a compiled firmware using simavr and avr-gdb. I have tried to do this with the following launch.json (running on Linux):
[code]
The `gdb (attach to simavr)` works with a manually started instance of simavr (using exactly the same parameters). `gdb (launch simavr)` however does not. It fails with the message `Unable to start debuggin

[2020-05-13 21:11] sean-mcmanus opened #5487 "Adopt use of CancellationError when rejecting requests to providers cancelled using CancellationToken"
[2020-05-13 14:04:53.007] [exthost] [error] [ms-vscode.cpptools] provider FAILED
[2020-05-13 14:04:53.007] [exthost] [error] undefined

I used the repro at https://github.com/microsoft/vscode-cpptools/issues/5481 and type "style::".

[2020-05-13 22:07] elahehrashedi commented on #5405
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:07] #5405 closed, assigned to nobody

[2020-05-13 22:08] elahehrashedi commented on #5324
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:08] #5324 closed, assigned to nobody

[2020-05-13 22:08] elahehrashedi commented on #5306
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:08] #5306 closed, assigned to Colengms

[2020-05-13 22:08] elahehrashedi commented on #5280
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:08] #5280 closed, assigned to nobody

[2020-05-13 22:09] elahehrashedi commented on #5225
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:09] #5225 closed, assigned to nobody

[2020-05-13 22:09] elahehrashedi commented on #5160
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:09] #5160 closed, assigned to elahehrashedi

[2020-05-13 22:09] elahehrashedi commented on #5124
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:09] #5124 closed, assigned to elahehrashedi

[2020-05-13 22:10] elahehrashedi commented on #5119
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:10] #5119 closed, assigned to elahehrashedi

[2020-05-13 22:10] elahehrashedi commented on #5105
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:10] #5105 closed, assigned to elahehrashedi

[2020-05-13 22:10] elahehrashedi commented on #4990
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:10] #4990 closed, assigned to Colengms

[2020-05-13 22:10] elahehrashedi commented on #4726
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:10] #4726 closed, assigned to Colengms

[2020-05-13 22:10] elahehrashedi commented on #4708
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:10] #4708 closed, assigned to nobody

[2020-05-13 22:11] elahehrashedi commented on #4655
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:11] #4655 closed, assigned to elahehrashedi

[2020-05-13 22:11] elahehrashedi commented on #4271
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:11] #4271 closed, assigned to nobody

[2020-05-13 22:11] elahehrashedi commented on #4195
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:11] #4195 closed, assigned to nobody

[2020-05-13 22:12] elahehrashedi commented on #4121
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:12] #4121 closed, assigned to elahehrashedi

[2020-05-13 22:12] elahehrashedi commented on #4062
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:12] #4062 closed, assigned to nobody

[2020-05-13 22:12] elahehrashedi commented on #3940
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:12] #3940 closed, assigned to elahehrashedi

[2020-05-13 22:12] elahehrashedi commented on #3878
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:12] #3878 closed, assigned to nobody

[2020-05-13 22:12] elahehrashedi commented on #3670
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:12] #3670 closed, assigned to Colengms

[2020-05-13 22:13] elahehrashedi commented on #3578
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:13] #3578 closed, assigned to elahehrashedi

[2020-05-13 22:13] elahehrashedi commented on #2782
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:13] #2782 closed, assigned to nobody

[2020-05-13 22:13] elahehrashedi commented on #2780
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:13] #2780 closed, assigned to elahehrashedi

[2020-05-13 22:13] elahehrashedi commented on #2564
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:13] #2564 closed, assigned to nobody

[2020-05-13 22:14] elahehrashedi commented on #1915
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:14] #1915 closed, assigned to nobody

[2020-05-13 22:14] elahehrashedi commented on #1163
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:14] #1163 closed, assigned to elahehrashedi

[2020-05-13 22:15] elahehrashedi commented on #407
This issue is fixed in 0.28.0.
0.28.0 release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0

[2020-05-13 22:15] #407 closed, assigned to Colengms

[2020-05-13 22:36] Yatekii commented on #3103
The classical Microsoft way of handling such things is "wontfix" and "works for me". I wouldn't expect them to change this behavior after another year went by.

We wrote our own vscode plugin in the meantime that handles things correctly, at least for Rust.

[2020-05-13 22:37] ghost commented on #5478
I noticed, however, that if you configure with compile_commands.json, it still defaults to c++14 -- even if the compile_commands.json specified c++17.  See https://github.com/microsoft/vscode-cpptools/issues/5463#issuecomment-627613637

[2020-05-13 22:41] Colengms commented on #5487
It looks like VS Code issued the cancellation, so it's unclear why then calling reject() on that promise would cause an "error" to be reported.  We get a similar error with (not yet checked in) semantic tokens requests, when cancelling a request for the purpose of informing VS Code it should re-issue the request (a scenario that is supposed to be supported, by design) after edits have made the pre

[2020-05-13 22:56] pieandcakes commented on #3103
@WardenGnaw for visibility.

[2020-05-13 23:22] Colengms commented on #5457
After installing a handful of different versions (and bitnesses) of MinGW, I'm able to repro this issue only with the X86_64-8.1.0 variation of MinGW-w64.  The Log Diagnostics output from 0.27.1 and 0.28.0 are identical and look correct.  The params we're passing to the IntelliSense process look correct.  The issue would seem to be regression in the IntelliSense parser in 0.28.0.  Perhaps its gett

[2020-05-13 23:30] michelleangela commented on #5484
@fefe982
Can you provide the language server logs when reproducing the issue? Instructions to enable and get the logs are at
https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server.

The logs should show the full compiler path the extension is trying to execute.

And just to clarify, this was not an issues in 0.27.1 and even before setting the following?

[2020-05-14 00:58] sean-mcmanus commented on #5457
Yeah, I repro it too now. The IntelliSense params are correct but in gcc mode on Windows we're treating sizeof(long) as 8 instead of 4.

[2020-05-14 01:03] Colengms commented on #5259
I just ran into an issue where, after upgrading VS, the version numbers in my CL.exe compiler paths were no longer valid, and I was falling back to MinGW.  Looking forward to getting a warning when that happens.  :)

[2020-05-14 02:17] fefe982 commented on #5484
I enabled the language server logs, and only got
[code]
fro C/C++ (I reinstalled CMake Tools 1.3.1 and CMake 0.0.17 after I made the extension work by modifying PATH).

I cannot find the C/C++ in the dropdown box for OUTPUT when CMake Tools is disabled.

For cpptools, I got:
[code]

And I noticed that if there is no cpp files open in the foreground (e.g. when I have the settings editor open), ther

[2020-05-14 02:34] fangguangyang opened #5489 "[ms-vscode.cpptools]: Menu item references a command 'workbench.action.gotoSymbol' which is not defined in the 'commands' section"
**Type: LanguageService**

**Describe the bug**
- OS and Version: win10 + remote-ssh; remoteos: centos7.7
- VS Code Version:1.46.0-insider
- C/C++ Extension Version: 0.28
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: yes
- A clear and concise description of what the bug is, in

[2020-05-14 02:53] fangguangyang commented on #5489
The previous vscode-insider version did not have this problem, it appear today when I update vscode-insider to the lastest version

[2020-05-14 03:01] sean-mcmanus commented on #5481
I got a crash repro on Linux.

[2020-05-14 03:15] sean-mcmanus commented on #5489
Looks like VS Code Insiders broke us. I'll see if they want us to change something: https://github.com/microsoft/vscode/issues/97774

[2020-05-14 03:29] sean-mcmanus commented on #5486
This might be the high hitting crash regression https://github.com/microsoft/vscode-cpptools/issues/5476 , which we haven't been able to find a repro for yet . Are you able to get a sample of code that you can share that repros the crash?

[2020-05-14 03:33] #5451 closed, assigned to nobody

[2020-05-14 04:41] gustavomassa opened #5490 "IntelliSense slow on large projects (Unreal Engine 4 project)"
Linux Mint 19.3 x64: I7 7700k @ 4.5, 16gb RAM @ 3200, SSD PRO 850
Version: 1.45.0
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:10:24.511Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.3.0-51-generic
C/C++ Extension Version: 0.28.0

1. When opening large projects, it takes minutes to update the IntelliSense,
![image](https://

[2020-05-14 05:18] fawwaz opened #5491 "How to read user input (std iostream) when debugging a C++ program ?"
Type: Debugger

It might related/duplicate of https://github.com/Microsoft/vscode-cpptools/issues/449 but following @pieandcakes suggestion, I am opening a new issue.

**Describe the bug**
I can't read stdin while debugging C++ program

**To Reproduce**

I believe it is not a bug, it is much more like a question / missing step.

So I just follow the [debugging tutorial](https://code.visualstudio.c

[2020-05-14 05:28] DrVrej commented on #5491
The only way I am able to read user input is by enabling "externalConsole", I haven't found a way to use the integrated console in VSC. If "externalConsole" isn't working for you, then I am not sure how else you would be able to input something. Would be interested to see if anyone has a solution to this, especially for the ability to use the integrated console.

[2020-05-14 08:17] mcilloni commented on #5480
Here you are:

1. [dbglog.txt](https://github.com/microsoft/vscode-cpptools/files/4626859/dbglog.txt)
2. [diagnostics.txt](https://github.com/microsoft/vscode-cpptools/files/4626860/diagnostics.txt)

I had to `sed` away a few names for the aforementioned reasons.

I've also tested with the same codebase under Windows (same version of vscode, same version of cpptools, same version of libraries and

[2020-05-14 09:51] mcilloni commented on #5480
Update: I let vscode use a `compile_commands.json` file when asked, and it seems like the issue  immediately stopped showing. If I delete the file, it starts happening again. The main issue I'm having right now is that a few scripts I use delete the build directory quite often, and if I keep it set without recreating it with CMake, Visual Studio Code starts complaining a lot; I also don't get why

[2020-05-14 10:40] aelray opened #5492 "Problems with ARM Code highlighting (using armcompiler)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1809 on host and Ubuntu 20.04 in container
- VS Code Version: 1.45
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them): CMake Tools
- Does this issue involve using SSH remote to run the extension on a remote machine?: Possibly
- A clear and concise descriptio

[2020-05-14 10:56] jerinjacobk opened #5493 "C_Cpp.clang_format_style not working with 0.28.0"
**Type: LanguageService**

**Describe the bug**
- OS and Version: WIndows 10
- VS Code Version: 1.45.0(user_setup_
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them):
ms-vscode-remote.remote-ssh
- Does this issue involve using SSH remote to run the extension on a remote machine?: Yes
- A clear and concise description of what the bug

[2020-05-14 11:01] sean-mcmanus commented on #5493
See issue https://github.com/microsoft/vscode-cpptools/issues/5477 . It was a "by design" change so that User settings that were only valid locally wouldn't be applied to the remote machine, i.e. to use the remote settings. Do you think we should change it back to the way it was before?

We changed it due to feedback we received from the VS Code team at https://github.com/microsoft/vscode-cpptools

[2020-05-14 12:52] #5468 closed, assigned to nobody

[2020-05-14 13:58] ffacs opened #5494 "Discovering files too slow on wsl2"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
wsl2
- VS Code Version:
1.45.0
- C/C++ Extension Version:
0.28.0
- Other extensions you installed (and if the issue persists after disabling them):
docker
- Does this issue involve using SSH remote to run the extension on a remote machine?:
yes
- A clear and concise description of what the bug is, including information about the wor

[2020-05-14 16:14] pelco commented on #5461
Will close this issue since it's already being addressed by https://github.com/jeff-hykin/cpp-textmate-grammar/issues/478

[2020-05-14 16:14] #5461 closed, assigned to nobody

[2020-05-14 16:46] OrangeBacon commented on #5486
It seems like I can unfortunately no longer reproduce the crash today, maybe windows restarting overnight fixed it?
[Here](https://github.com/microsoft/vscode-cpptools/files/4629756/mcc.zip) is the zip of the project folder at the time, though.

[2020-05-14 17:01] devfchen commented on #5324
seems not fix in wsl

[2020-05-14 17:08] VcelistMC opened #5496 "Pretty printing not working with MinGW even though being enabled"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.45.0
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them): Code Runner
- Can't view the contents of strings, lists or vectors while debugging even though pretty printing is enabled in my launch.json file
**To Reproduce**

launch.json
[code]
Steps to

[2020-05-14 18:05] anmace commented on #2591
I am seeing this issue in VS Code version 1.44.2. I am trying to debug an accessibility bug using Narrator but instead of logging text, the log breakpoints are breaking like regular breakpoints and are taking focus away from the Window and Narrator starts reading the VS Code window instead. I need to keep Narrator's focus on the Window I am debugging the entire time, otherwise it is impossible for

[2020-05-14 18:39] WardenGnaw commented on #5470
You can work around this by adding the following to your launch.json with setupCommands or running it in the debug console with `-exec`:
`set print elements 0`.

The correct fix is to run `set print elements 0` before evaluating the request when it is a clipboard context and then reset it back to the value of `show print elements` before we changed it to 0.

[2020-05-14 18:42] WardenGnaw commented on #5491
From the logs and the gif of the terminal just opening up and displaying the default shell prompt suggested that you may be running into this issue https://github.com/microsoft/vscode-cpptools/issues/5079.

We do not have support for reading from stdin with the integrated terminal on macOS.

[2020-05-14 18:54] DrVrej commented on #5491
How would one be able to read from the integrated terminal on Windows? Thank you.

[2020-05-14 18:59] fawwaz commented on #5491
Thanks after following your temporary workaround [there](https://github.com/microsoft/vscode-cpptools/issues/5079#issuecomment-626090192) , it works like a charm !

[2020-05-14 19:01] WardenGnaw commented on #5491
@DrVrej Can you open up another issue with what you are trying on the Windows Integrated Terminal?

[2020-05-14 19:01] #5491 closed, assigned to WardenGnaw

[2020-05-14 19:30] DrVrej opened #5497 "[Windows] cppdbg debugger Unable to Use Integrated Terminal with mingw"
Type: Debugger

**Describe the bug**
I want to use the ingerated terminal inside VSC. I can only get inputs if I enable "externalConsole", which doesn't solve this issue as it requires using an external terminal.
- OS and Version: Windows 10 64-bit, build 10.0.18363
- VS Code Version: 1.45.1
- C/C++ Extension Version: 0.28.0

**To Reproduce**
Sample `launch.json`:
[code]
Sample C++ Program:
[code]

[2020-05-14 19:38] WardenGnaw commented on #5496
Does the GDB you are using have python installed?

You can check by running `-exec python print sys.version` in the `debug console`.

[2020-05-14 19:54] WardenGnaw commented on #5497
I can't reproduce this issue, there may be some delay before the integrated terminal starts to work.

Can you try inputting when "Ready for Input" shows up in the window?

[code]

If its still failing can you enable engineLogs by adding the following to your launch.json?
[code]

[2020-05-14 20:07] DrVrej commented on #5497
1. For the first test, "Ready for Input" didn't show up in the integrated terminal, only showed up when I used the external terminal. Though "Ready for Input" did print inside the debug console in both cases:
![image](https://user-images.githubusercontent.com/6934542/81980473-ae7dd200-95fc-11ea-9fde-ffe7a436fa7d.png)

2. I put the code you have sent me, it didn't make any difference. The integrate

[2020-05-14 20:24] DrVrej commented on #5497
![image](https://user-images.githubusercontent.com/6934542/81982149-58f6f480-95ff-11ea-8ebe-77318cfa5b41.png)

[2020-05-14 20:35] sean-mcmanus commented on #5486
Yeah, I tried to repro a crash and couldn't repro a crash as well. Let us know if you find a repro later.

Restarting Windows could fix some issues caused by dangling processes locking our database, but I don't know a reason why it would affect IntelliSense processing crashing.

[2020-05-14 20:36] VcelistMC commented on #5496
It told me `Python scripting is not supported for this copy of GDB`, but I'm confused, why do I need python to debug c++ code? The [guide ](https://code.visualstudio.com/docs/cpp/cpp-debug)I followed didn't mention anything about python. Can you elaborate please? and can you provide me with a python supported GDB?

[2020-05-14 20:38] WardenGnaw commented on #5497
I can repro this with `mingw-get version 0.6.3-pre-20170905-1` installing `gdb-7.6.1`

[2020-05-14 20:46] WardenGnaw commented on #5496
GDB utilizes python in order to pretty print variables.

[Source](https://sourceware.org/gdb/current/onlinedocs/gdb/Pretty-Printing.html)

You will need to use a GDB with python enabled.

[2020-05-14 20:48] WardenGnaw commented on #5497
Did you download MinGW from the link from the [docs](https://code.visualstudio.com/docs/cpp/config-mingw#_prerequisites)

[Expected MinGW](https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/installer/mingw-w64-install.exe/download)

[2020-05-14 20:53] DrVrej commented on #5497
I downloaded from the main MinGW website (www.mingw.org), all installed packages are up to date.

[2020-05-14 21:03] sean-mcmanus commented on #5479
This is "by design". I get the same behavior with versions as far back as 0.26.3. Do you know what version behaved differently? If you don't specify a browse.path, then the includePath will be copied over to the browse.path, but it will make sure ${workspaceFolder} added as well. The code that does this is at https://github.com/microsoft/vscode-cpptools/blob/release/Extension/src/LanguageServer/co

[2020-05-14 21:06] WardenGnaw commented on #5497
Looks like theres an issue with mingw with integrated terminal.

A workaround is to use mingw-w64 with integrated terminal on Windows.

Investigating.

[2020-05-14 21:10] bobbrow commented on #2902
This issue appears to have been resolved.

[2020-05-14 21:10] #2902 closed, assigned to nobody

[2020-05-14 21:14] WardenGnaw commented on #5496
Did you obtain MinGW from this [documentation](https://code.visualstudio.com/docs/cpp/config-mingw)?

[2020-05-14 21:15] OrangeBacon commented on #5486
It crashed again,

<details>
  <summary>I've found this in render1.log</summary>

[code]
</details>

<details>
  <summary>and this in exthost.log</summary>

[code]
</details>

Does any of this help?  It does not look right to me.

[Edit: complete copy of the logs I found this in](https://github.com/microsoft/vscode-cpptools/files/4630920/20200514T210719.zip)

[2020-05-14 21:16] bobbrow commented on #2994
This discussion has forked a few times since the original issue from 2019. We believe we have addressed the original issue, but there are new reports that could each be different issues. In order for us to make forward progress on them we will need to ask those who are still encountering them to open a new issue with their repro details so that we can investigate.  Thank you!

[2020-05-14 21:16] #2994 closed, assigned to nobody

[2020-05-14 21:19] bobbrow commented on #3216
This issue hasn't had any traffic in a long time.  If you are still experiencing problems, can you please open a new issue with steps we can follow to reproduce the problem.  Thank you!

[2020-05-14 21:19] #3216 closed, assigned to nobody

[2020-05-14 21:20] sean-mcmanus commented on #5486
We don't control the render1.log. Those are from VS Code. The provider FAILED messages you can also ignore. There's a VS Code issue tracking that.

Do you see the "Failed to read response" message in the C/C++ logging? What action did you do to make that occur?

[2020-05-14 21:26] bobbrow commented on #5352
@michelleangela was this completed in 0.28.0?

[2020-05-14 21:26] bobbrow commented on #5352
If so, can you close it?  Otherwise, can you set the milestone on this for 0.29.0?

[2020-05-14 21:27] OrangeBacon commented on #5486
Maybe something involving autocompletion?

[code]

[2020-05-14 21:29] bobbrow commented on #5366
Closing as duplicate of #1083

[2020-05-14 21:30] OrangeBacon commented on #5486
Thinking about it, on the completion just now when it crashed and yesterday it was after I typed a word that was very commonly used in the file, so probably quite a few autocomplete suggestions?

Edit:
[Same log as in previous comment](https://github.com/microsoft/vscode-cpptools/files/4630984/log.txt), failed on line 3070, then `Update IntelliSense time (sec): 0` on line 3077, seems to normally b

[2020-05-14 21:38] #5366 closed, assigned to nobody

[2020-05-14 21:40] #5464 closed, assigned to nobody

[2020-05-14 21:40] sean-mcmanus commented on #5486
Okay, thanks, I got a repro now. Investigating...

[2020-05-14 21:41] a-zh commented on #2809
@pieandcakes Is it the active issue? Is any plans for fixing?

[2020-05-14 21:46] bobbrow opened #5498 "Wrong language standard chosen when using compile_commands.json"
I noticed, however, that if you configure with compile_commands.json, it still defaults to c++14 -- even if the compile_commands.json specified c++17.  See https://github.com/microsoft/vscode-cpptools/issues/5463#issuecomment-627613637

_Originally posted by @ryanpholt in https://github.com/microsoft/vscode-cpptools/issues/5478#issuecomment-628281884_

[2020-05-14 21:47] sean-mcmanus commented on #5476
We got a user report at https://github.com/microsoft/vscode-cpptools/issues/5486, so I'll track this with that issue.

[2020-05-14 21:47] #5476 closed, assigned to nobody

[2020-05-14 21:48] bobbrow commented on #5478
@ryanpholt I moved your comment to a new issue.  The OP's issue has been addressed, so we will close this one.  Thanks!

[2020-05-14 21:48] #5478 closed, assigned to nobody

[2020-05-14 21:49] sean-mcmanus commented on #5486
Thanks a lot for reporting this -- it's the high hitting 0.28.0 crash regression that we were trying to find a repro for (https://github.com/microsoft/vscode-cpptools/issues/5476). We're working on getting a fix for 0.28.1 (you may want to switch back to 0.27.1 in the mean time if you hit this frequently).

[2020-05-14 21:53] snevs commented on #4607
I have the same issue, but only when I select
`clang++ - Build and debug active file`
However
`g++ - Build and debug active file`
works

[2020-05-14 21:53] bobbrow commented on #5489
The VS Code team committed a fix for this. It should be available soon.

[2020-05-14 21:53] #5489 closed, assigned to nobody

[2020-05-14 22:22] sean-mcmanus commented on #5486
I've filed a VS bug at https://developercommunity.visualstudio.com/content/problem/1031359/c-intellisense-vcpkgsrvexe-frequently-crashes-with.html (the crash is inherited from VS).

[2020-05-14 22:22] pieandcakes commented on #2809
@a-zh I'm adding @WardenGnaw to take a look as I'm no longer working on this team anymore.

[2020-05-14 23:13] michelleangela commented on #5492
From the logs, it shows the extension failed to query the armclang compiler. The extension uses the the option flag "--target=arm-arm-none-eabi" to query clang compilers to get the correct defines based on target architecture.  Because the extension failed to query the compiler, it was not able to resolve the correct IntelliSense for the code.

According to armclang documentation, "arm-arm-none-ea

[2020-05-14 23:16] sean-mcmanus opened #5499 "Go to Definition on printf goes to the wrong location"
@sean-mcmanus, I can see in 0.28 the headers thing is working.
The "printf" still goes to the wrong place...

_Originally posted by @omercsp in https://github.com/microsoft/vscode-cpptools/issues/4733#issuecomment-627868221_

[2020-05-14 23:16] sean-mcmanus commented on #4733
@omercsp Thanks for letting me know. I repro the issue. I moved it to https://github.com/microsoft/vscode-cpptools/issues/5499 .

[2020-05-14 23:25] michelleangela commented on #5492
Suggested workaround while the bug is being investigated.

Set compilerPath to `""` so that the extension will not query the compiler. However, the desired defines may need to be set in c_cpp_properties.json too. Is this correct @sean-mcmanus ?

[2020-05-14 23:29] sean-mcmanus commented on #5499
Actually, this appears to be working as expected. If you use Go to Declaration it goes to the declaration and Go to Definition is returning the files in other TUs that have printf defined -- it's possible the definition may not be the actual one used, but that is a known "by design" limitation, i.e. I'm getting 2 defitions returned, one of which is inactive.

[2020-05-14 23:57] c4explosive commented on #429
+1
C++ Debugger is needed on Raspberry pi

[2020-05-15 00:28] sean-mcmanus commented on #1466
@rvanlaar Then if you have the compileCommands property set, the defines should get picked up from your compile_commands.json. Let us know if that isn't working for you.

[2020-05-15 00:33] boocs commented on #5479
I was going by memory and all the testing I was doing from my previous bug report.

These were from Unreal Engine 4 projects. From previous bug report testing, I definitely remember the tag parser file used to be around 800 MB - 1 gig. Now it's 2 GB with the same settings and takes ~45 minutes to finish tag parsing. If my memory is correct it took half the time before. Maybe less.
I am using this

[2020-05-15 00:57] sean-mcmanus commented on #5473
@yaroslavsadin Your issue could be the same root bug as https://github.com/microsoft/vscode-cpptools/issues/5486 . You can confirm by searching your C/C++ logging for "Failed to read" message. I wasn't able to repro that crash with the repro in this bug though (but it's possible the crash is dependent on code in the chapter1.hpp).

[2020-05-15 01:11] sean-mcmanus commented on #407
@KaeLL Are you still reproing those issues with 0.28.0? I'm not able to repro those issues. Could you file a new issue with more repro details?

![image](https://user-images.githubusercontent.com/19859882/82000807-50f28100-960e-11ea-892c-3235c01be83d.png)

[2020-05-15 01:32] WardenGnaw commented on #4837
@isidorn I was testing out the debug start experience window, but my message does not appear if I provide a `when` clause for c or cpp.

E.g.
[code]

This is my active view
![image](https://user-images.githubusercontent.com/3953714/82001936-408fd580-9611-11ea-8b46-303e7648bfd8.png)

[2020-05-15 01:42] sean-mcmanus commented on #5483
@BRevzin https://github.com/microsoft/vscode/issues appears to be the place to report default theme issues.

[2020-05-15 01:42] #5483 closed, assigned to nobody

[2020-05-15 01:59] sean-mcmanus commented on #5259
@Colengms In your case with cl.exe, it's supposed to stick with cl.exe/msvc mode and not fall back to mingw (i.e. not just give a warning).

[2020-05-15 02:13] sean-mcmanus commented on #5480
The compile_commands.json might have better configuration info in it. If you run C/C++: Log Diagnostics with and without compileCommands set you can compare how the includes/defines are different. Maybe you could modify your scripts to copy the compile_commands.json to a location that doesn't get deleted (or restore it after the folder is deleted).

FYI, we have a known high hitting IntelliSense r

[2020-05-15 02:27] sean-mcmanus opened #5500 "Wrong --clang_version is sent to cpptools-srv when using Apple clang"
e.g. using Apple clang 9 sends 90000 instead of 40000, Apple clang 11 sends 11003 instead of 90000. See the table at https://en.wikipedia.org/wiki/Xcode

Not sure how many parsing problems using the wrong version could cause, but it could get worse in the future if the versions and feature support diverge more.

[2020-05-15 02:40] sean-mcmanus commented on #5324
@puckchen Your crash repro may be different. Are you able to provide more repro details or attach a debugger to the cpptools process to get a crash call stack? What steps do you do that cause the "Connection to server got closed."?

[2020-05-15 02:50] sean-mcmanus commented on #5492
Yeah, that sounds like a workaround, but you'd want to manually set your system includePath and defines, such as from running a command such as `/ARMCLANG/bin/armclang -std=c11 -Wp,-v -E -dD -x c /dev/null` with whatever other flags you use to compile that could affect the output. Let us know if that workaround doesn't work.

[2020-05-15 02:57] sean-mcmanus commented on #5479
@boocs Yeah, that's it -- as of 0.27.0 the 2 workspace folders share a single database for all the workspaces, and we do a "search/parse" pass on both folders in sequence, whereas before it would use 2 databases and the parsing would occur in parallel (i.e. faster overall time, but using 2 times as much CPU at once). The recommended way to reduce the parsing time is to add files.exclude entries fo

[2020-05-15 04:30] ncoghlan commented on #4094
The same root cause would definitely be plausible. The fact that disk IO in WSL is so astonishingly slow may also be giving the language server grief (I don't have anywhere near the same level of problems on my Linux laptop with local SSD access as I do running on the Windows machine through the WSL connection).

As a baseline, I triggered "Rescan Workspace" right after starting up, and it took 16

[2020-05-15 05:45] jasjivsk commented on #2591
Could dprintfs use as setting logpoints?

https://doc.ecoscentric.com/gnutools/doc/gdb/Dynamic-Printf.html

[2020-05-15 05:46] jasjivsk commented on #2591
As dprintfs will not break the execution of the code and print the statements on the debug console.

[2020-05-15 06:32] boocs commented on #5479
Ok, thanks for the info!

[2020-05-15 06:32] #5479 closed, assigned to nobody

[2020-05-15 06:40] Smit-tay commented on #5060
In my experience envFile declared variables don't get passed to the debugee.

[2020-05-15 06:41] jerinjacobk commented on #5493
OK. I have updated the settings in remote and it works.

1. Copy your existing settings that are greyed out.
2. File->Preferences->Settings->Remote.
3. Click the Open Settings icon in the top right.
4. Paste the settings.

Thanks for the support.

[2020-05-15 06:41] #5493 closed, assigned to nobody

[2020-05-15 06:45] Smit-tay commented on #5226
Please fix.
This is killer bug

[2020-05-15 07:24] oysteinskotheim commented on #429
Just a tip: The [clangd plugin](https://github.com/clangd/vscode-clangd) works well on ARM and does the job for me.

[2020-05-15 08:25] isidorn commented on #4837
@WardenGnaw what you are doing looks good.
My best bet would be that your debugger is not specifiying that it is interested in .cpp files.
Here's an example how python is doing it https://github.com/microsoft/vscode-python/blob/master/package.json#L1189

[2020-05-15 08:26] ncoghlan commented on #4094
OK, I got it into a bad state again by editing a subclass implementation file to refer to a base class constructor that didn't exist yet, and a member variable that was still marked as private. After updating the base class header file, the squiggles remained in the subclass implementation file, and modifying and resaving it didn't remove them.

Running "Rescan Workspace" brought up the "Updating

[2020-05-15 09:24] ncoghlan commented on #4094
Given enough time, it did eventually complete the "Rescan Workspace" operation (I was away from the computer for around an hour, and it had resynced by the time I got back)

[2020-05-15 09:49] a-zh commented on #2809
@WardenGnaw Please, help me to fix the problem. I'm using the `pipeTransport:` for launch NetcoreDBG. And I want to have ENV values in "launch" vscode command filled from `launchSetting.json` and propagated to my apps. I expect the next launch command: "env": `{"ASPNETCORE_ENVIRONMENT":"Development","ASPNETCORE_URLS":"http://localhost:5001"}`. But unfortunately, I only see the values from `launch.

[2020-05-15 09:51] rvanlaar commented on #1466
It works.

[2020-05-15 10:12] mcilloni commented on #5480
I've tried downgrading to 0.27.1 but it hasn't really changed anything, the behaviour I see does not change from what I get from 0.28.0

[2020-05-15 10:16] HackerBaloo commented on #2901
Well I have found the work around that solves the problem for me. I use another VSCode extension called "Native Debug" for debugging.

[2020-05-15 10:33] datechnomadmole opened #5501 "#include errors detected. Please update your includePath."
Type: IntelliSense

Describe the bug

    OS and Version:Windows 10 1909
    VS Code Version:1.44.2
    C/C++ Extension Version:0.28
    Other extensions you installed (and if the issue persists after disabling them):

I have a simple two function one file C program.  It compiles and links without errors.  Since the new release of ms-vscode.cpptools 0.28 I get squiggly lines under my standard C he

[2020-05-15 11:00] aelray commented on #5492
I tried your workaround but got the same error message as above in the log. then i tried:

`armclang --target=arm-arm-none-eabi -mcpu=cortex-m4 -std=c11 -Wp,-v -E -dD -x c /dev/null`

and got all the defines:
[code]
The problem seems to be the license we're using. It seems to be really restrictive, meaning that we need to define which microprocessor we're targetting.

[2020-05-15 12:52] omercsp commented on #5499
@sean-mcmanus, I understand things are (much) better, but I don't understand how can such a behaviour can be discarded as 'by design':

If I'm browsing my code, and I ctl-click a symbol, and I'm getting a **wrong** definition, this isn't good. I probably clicked that symbol to understand what this function does or what not. This way I get the wrong idea about what's going on. Instead of helping me

[2020-05-15 12:57] cfriedt commented on #429
@oysteinskotheim - for debugging as well?

[2020-05-15 16:59] rlivings39 commented on #2901
Are you using gdb with native debug and getting good performance? If so then that seems to rule out gdb being slow.

Note that we've recently seen another debugging regression with cpptools and gdb. The stack rendering is very slow and that blocks all interaction with the debugger until it finishes. That makes hitting breakpoints and stepping take 5-10s in our code base. In that same place doing `

[2020-05-15 17:00] electromaggot commented on #2616
Try this to suppress error E0028 in IntelliSense (see [EDG C++ Front-End PDF](http://www.edg.com/docs/edg_cpp.pdf)) :
[code]

[2020-05-15 17:23] konradsa commented on #4067
@FlorentRevest I gave up on intellisense, was not able to fix it. I switched to vscode-clangd together with a compilation database, and even though it has its own issues, overall it works much better.

[2020-05-15 17:37] mich2k opened #5502 "Compile multiple .c and .h files"
clang / gcc

- OS and Version: Ubuntu 20.04
- VS Code Version: 1.6.0
- C/C++ Extension Version: latest

Hello, i know that his is something vscode / tasks,json related
but is there a way / setting to compile multiple source and header files without doing it manually from the console?
thank you

[2020-05-15 17:44] WardenGnaw commented on #5502
You can convert what you type in your console to be a task.json shell command:

E.g. if you are typing
`g++ -g file1.cpp file2.cpp subfolder/file.cpp subfolder1/subfolder2/cpp -o a.out`

The equivalent task.json is:
[code]

You can reference this task in your launch.json with the "prelaunchtask" field.

[2020-05-15 17:46] mich2k commented on #5502
Thank you, but since I use one .vscode for all my projects I should add manually all the file names
is there a wildcard way to do this?
like, *.c *.h

[2020-05-15 17:59] davidwin commented on #5316
When I first reported this bug, I was thrown off-scent because of that `std::bind` IntelliSense bug that you very quickly managed to fix in v0.28.0. Great work there! Now, this "no definition found" issue is haunting me again, despite the fact that much has changed:
- New version of VS Code (1.45.1, also happened in 1.45.0)
- New version of C++ plug-in
- Different project
- Using Remote SSH instea

[2020-05-15 18:16] sean-mcmanus commented on #5501
Can you run C/C++: Log Diagnostics (from the Command Palette) and check if those system headers are being used or not?

[2020-05-15 18:33] WardenGnaw commented on #4837
That was exactly the issue!

@isidorn As always, thank you for helping out. :)

[2020-05-15 18:37] sean-mcmanus commented on #4094
I'm not able to repro the issue by trying the steps indicated. Can you check your C/C++ logging for a "Failed to read" message that would indicate the IntelliSense process crash? (i.e. https://github.com/microsoft/vscode-cpptools/issues/5486 ).

Is the issue random? Are you able to find repro steps that repro the issue reliably or find what factors contribute to it occurring more frequently? What

[2020-05-15 18:48] WardenGnaw commented on #5502
You can use wildcards.

`g++ -g *.c` would be:
[code]

[2020-05-15 18:53] mich2k commented on #5502
this is my tasks.json at the moment:
[code]

[2020-05-15 19:11] sean-mcmanus commented on #5480
It looks like your intelliSenseMode should be "gcc-x86" and not "gcc-x64" since your compiler output indicates it's targetting 32-bit.

Without compile_commands.json, the include paths you're using may have the incorrect order, because you're using "${workspaceFolder}/**" which generates includes recursively in a non-deterministic order.

Does it complain about missing headers?

If you get squiggl

[2020-05-15 19:22] sean-mcmanus commented on #5492
Are you able to fix it via adding using `"compilerArgs": [ "-mcpu=cortex-m4" ]`?

[2020-05-15 19:59] sean-mcmanus commented on #5499
printf is sort of a special case. In that case the function is defined in external libraries so the definition isn't available, and the 1-2 definitions that Go to Def brings up are not the ones used.

If you want the more accurate definition, you can use Find All References, which will show 0 definitions of printf and the declaration.

It's a "by design" limitation in our implementation. The defin

[2020-05-15 20:24] sean-mcmanus commented on #2616
@electromaggot Oh, that's cool (I didn't know about diag_suppress). We don't currently expose the EDG error codes for the errors, but we might add those later on.

[2020-05-15 20:31] sean-mcmanus commented on #2345
FYI, you can use
[code]
to suppress the "expression must have a constant value" error. We don't expose the error numbers yet (for other errors), but we may add those later on.

[2020-05-15 20:33] dfarley1 opened #5504 "Attach to Running Process"
Type: Debugger

**Describe the bug**
- OS and Version: Host ==Ubuntu 20.04, Target == Gentoo
- VS Code Version: 1.45.0
- C/C++ Extension Version: 0.28.0
- A clear and concise description of what the bug is.

I'm attempting to remote debug a process running on another machine. The process is running as root using respawn so I start gdbserver with `sudo gdbserver --attach :9091 $(pidof process)`.

I

[2020-05-15 20:44] bkonelson opened #5505 "Debugger doesn't show all application threads"
I'm trying to debug an MPI program by attaching gdb to all of the created processes.  When I run the debugger, I can select which process to attach to, and it shows all 4 processes.  After I select it though, the call stack only shows 3 of the processes in the debugger. When I pause the execution, it says that all 3 processes are paused, but I don't think this is the case. I notice in the output f

[2020-05-15 21:01] WardenGnaw commented on #5502
Your filepath has a space (` `) in it, so you will need to surround the full command in quotes, but doing so will escape the `*` and it will not be used as a wildcard.

I cant seem to find a way to escape the spaces in ${fileDirname}, but that will fix the command.

[2020-05-15 21:18] mich2k commented on #5502
Removing the spaces actually did the trick, thank you very much!

[2020-05-15 21:18] #5502 closed, assigned to nobody

[2020-05-15 21:18] Colengms commented on #5487
VS Code is tracking the need for rejection types that aren't considered errors, with this issue: https://github.com/microsoft/vscode/issues/93686

[2020-05-15 21:26] sean-mcmanus commented on #5316
@davidwin It sounds like you're describing multiple issues.

1. Go to definition on local symbols is handled by IntelliSense normally, but if that doesn't work then that implies that the IntelliSense process isn't functioning. Do you see any other "Failed to read" messages. We're tracking a known issue at https://github.com/microsoft/vscode-cpptools/issues/5486 .

2. If a source file isn't in the

[2020-05-15 22:01] sean-mcmanus opened #5506 "Using compileCommands with VS 2017 still adds VS 2019 paths to the browse.path and IntelliSense uses VS 2019 for VS 2017 headers"
Use a compile_commands.json that references a cl.exe with VS 2017, but have VS 2019 installed too.

Bug1: The VS 2019 paths get added to the browse.path still (in addition to the VS 2017 ones). The workaround is to set compilerPath to be blank or the VS 2017 compilerPath.

Bug2: Also, when I open a VS 2017 header, it tries to use VS 2019 as the compilerPath instead of the compile_commands.json com

[2020-05-15 22:07] rfairfax opened #5507 "Give better diagnostics when a header exists in the includePath but is bypassed due to include_next and wrong includePath ordering"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu Linux 20.04
- VS Code Version: 1.45.1
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them): None
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including information ab

[2020-05-15 22:08] andrewleech commented on #2901
It's definitely not just a gdb problem. Ive been switching between vscode-cpptools and the cortex-debug extension for working with embedded arm devices. Same gdb exe used for both. Cortex-debug has equally fast stepping/breakpoints no matter how far down the stack it is. I think it only fetches a few/limited frames worth by default or something.

[2020-05-15 22:17] sean-mcmanus opened #5508 "Header-only fallback incorrectly occurs when system headers are opened using compileCommands"
Use test.cpp
[code]
with some compile_commands.json like
[code]
Then use Go to Definition on std::string.

Bug: The TU for xstring gets opened as a header only fallback instead of using the existing TU for sub.cpp.

This bug doesn't repro when using the CMake Tools configurationProvider.

Bug2 in https://github.com/microsoft/vscode-cpptools/issues/5506 is related.

[2020-05-15 22:20] WardenGnaw commented on #5505
It should show all of the processes you connected to via `launch.json`, and child processes spawned or created do not get automatically attached.

![image](https://user-images.githubusercontent.com/3953714/82100779-80ad9180-96bf-11ea-9a4f-52079ab91540.png)

Debug actions only affect the active debug session. One process is one debug session.

https://code.visualstudio.com/docs/editor/debugging#_mu

[2020-05-15 22:25] sean-mcmanus commented on #5508
This issue doesn't repro on Linux, so the short "~" paths on Windows might be causing the problem?

[2020-05-15 22:34] sean-mcmanus commented on #5507
What happens if you add `#include <stdlib.h>` to syscall_tests.cc and then do Go to Definition on the stdlib.h? Does it open /home/rfairfax/azure-sphere/os-sdk/sysroots/native-x86_64-linux/usr/include/c++/8.2.0/stdlib.h?

You're intending to compile with C++ and not C, right?

[2020-05-15 22:40] sean-mcmanus commented on #407
@ret394 @KaeLL Yeah, our extension doesn't process unsaved files, so it'll fall back to use the previous code folding behavior provided by VS. You can upvote the unsaved file issue at https://github.com/microsoft/vscode-cpptools/issues/3343 .

[2020-05-15 22:41] sean-mcmanus commented on #3923
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.28.0 .

[2020-05-15 22:41] #3923 closed, assigned to nobody

[2020-05-15 22:42] #5264 closed, assigned to michelleangela

[2020-05-15 22:52] sean-mcmanus commented on #5494
It looks like this is a "by design" issue with WSL 2. See https://docs.microsoft.com/en-us/windows/wsl/compare-versions .

The issue is that /mnt/d/Codes exists on the Windows file system:

[2020-05-15 23:12] rfairfax commented on #5507
It opens  /home/rfairfax/azure-sphere/os-sdk/sysroots/native-x86_64-linux/usr/include/stdlib.h.

This is a C++ program and it's worth looking into why the include order may be off even though our code is compiling correctly, but I'm confused why it says it can't open stdlib.h when it can clearly find the file.

[2020-05-15 23:15] rfairfax commented on #5507
I edited the include order in compile commands to get it to pick up the c++ folder first and the error went away.  Easy enough to fix on our end, but any idea why the error was implying "cannot open stdlib.h" versus picking up the wrong file?

[2020-05-15 23:47] sean-mcmanus commented on #5507
Oh, yeah, the system include ordering is wrong (I didn't notice before). It sounds like our extension is getting the system include path order wrong with compile_commands.json in certain cases. Do you have any more info on how we can repro that? I tried a few things but I couldn't get the /usr/include to be first (it correctly uses the ordering from our compiler querying).

The "cannot open source

[2020-05-15 23:51] KaeLL commented on #407
The file was saved, for heaven's sake.
Open VS, open a new file, write that code, save it as trash.c, and there'll be no collapse arrow for the curly brackets (the main function block of code), only the individual preprocessor directives.
Indent the directives by 1 tab, and the collapse arrow shows up for the curly brackets and disappear for the directives, proving it's still indentation based fol

[2020-05-15 23:54] davidwin commented on #5316
Regarding the first point, IntelliSense seems to be very much working. I don't see any "Failed to read" or other error-like messages in the log. This is different from when I first reported the issue, and also ran into the `std::bind` bug. For instance, when I hover over `x` here, I get the correct definition and the comment. The same goes with hovering over `std::string`:
![image](https://user-im

[2020-05-15 23:55] rfairfax commented on #5507
Even with include_next I'd expect it to at least find stdlib.h and then fail with symbol problems because of loading them in the wrong order, but I bet you're right that something like that is the reason this is failing.  It would be great if there was a way to get more logging out of this like the file / line number of the #include location that is failing to resolve properly to point people towa

[2020-05-16 00:00] akbyrd commented on #3343
There is nothing at the VS Code level stopping code folding from working in unsaved files. This works for C/C++ files in my own extension just fine.

[2020-05-16 00:03] sean-mcmanus commented on #407
@KaeLL It's caused by your setting `"editor.foldingStrategy": "indentation"`. The issue should be fixed if you remove that.

[2020-05-16 00:03] davidwin commented on #5316
Update: I noticed a subtle difference between the Workspace where Go To Definition works and the one where it doesn't: Pressing CTRL in the "good" Workspace turns the pointer into a hand and turns symbols under the hand into underlined, clickable links. In the "bad" Workspace, nothing happens.

[2020-05-16 00:19] sean-mcmanus commented on #5507
Since normally /usr/include is last, the include_next correctly finds the stdlib.h from there when encountered at some location like /usr/include/c++/8.2.0, but if it's first, then the include_next could skip over the /usr/include and the /usr/include/c++/8.2.0 depending on the internal "next list" it's using, causing no stdlib.h to be found.

Yeah, we have gotten lots of issues caused by incorrec

[2020-05-16 00:42] davidwin commented on #5316
I found one more clue: There is something wrong with the Tag Parser in the problematic Workspace. I found this single log entry:

`Timed out waiting for tag parser initialization.`

When I hover over the database symbol in the status bar, it says "Tag parser initializing". After reloading VS Code, I see a lot of `Folder: /path will be indexed` messages but *no* `tag parsing file: /path/file.cc` en

[2020-05-16 00:46] sean-mcmanus commented on #3343
@akbyrd Our code checks for the scheme == file and languageId == cpp or c before processing files. I don't know how we would get notified that the languageId changed from "plain text" to c or cpp. Also, we may need to change some of the checks to be "|| scheme == untitled".

[2020-05-16 00:49] WardenGnaw commented on #3652
Looks like there was an issue with VS Code not having permissions to launch Terminal.

Can you try the workaround in https://github.com/microsoft/vscode-cpptools/issues/5079 and see if that resolves your issue?

[2020-05-16 00:51] WardenGnaw commented on #3434
There has been recent work on getting macOS Mojave and Catalina to work again in the extension. Is this issue still happening?

[2020-05-16 00:54] WardenGnaw commented on #4922
Inactive issue. Please create another issue if you have any other questions.

[2020-05-16 00:54] #4922 closed, assigned to WardenGnaw

[2020-05-16 01:39] WardenGnaw commented on #5504
If you have `miDebuggerServerAddress` set, you should already have gdbserver that launched the process. There is no need to provide the process id unless you are trying to attach with another GDB.

There may be a way to do this via task.json but I have not personally tried.

[2020-05-16 02:10] akbyrd commented on #3343
I'm not experienced with extensions, but I think all I do is register and vscode does the rest.
`vscode.languages.registerFoldingRangeProvider('cpp', { provideFoldingRanges });`
I don't handle any change events for the language.

To verify I disabled the vscode-cpptools folding, enabled mine, opened a new file, pasted some code, set the language to C++ and a few seconds later it updated. It seems

[2020-05-16 02:12] kersson opened #5509 "String arrays in `env` are not joined properly"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS 10.15.4
- VS Code Version: 1.45.1
- C/C++ Extension Version: 0.28.0

In #5229 environment variables were changed to be split using a platform-specific delimiter (`;` on Windows and `:` for everything else, like Linux and macOS). However, joining arrays of strings in the `env` variable in `c_cpp_properties.json` was not properl

[2020-05-16 02:24] mjbvz opened #5511 "Adopt VS Code's 'asWebviewUri' API"
Hi, I maintain VS Code's Webview API

## Issue
Our telemetry suggests that your extension uses webviews and may be loading resources in these webviews using hardcoded `vscode-resource:` URIs. These URIs have some important limitations and don't work properly when VS Code is run in a browser. We are also making changes in the desktop version of VS Code that may cause these URIs to not work properly

[2020-05-16 02:50] sean-mcmanus commented on #3343
@akbyrd The main issue appears to be in our LSP cpptools process, which isn't written correctly to handle input URIs that are not files. So fixing that seems like it would be a non-trivial amount of work. Changing our documentSelectors and scheme checks in TypeScript is the easy part.

[2020-05-16 03:06] dfarley1 commented on #5504
I figured that was the case, I'm just trying everything since it seems like this should work.

While looking into debgger settings I found `preLaunchTask` ([link](https://code.visualstudio.com/docs/editor/debugging#_launchjson-attributes)) so that should be able to do what I want.

[2020-05-16 03:43] Colengms opened #5512 "Defines and includes are not parsed from compilerPath or compilerArgs"
Defines and includes are not parsed from compilerPath or compilerArgs, in c_cpp_properties.

Args are stripped from compilerPath.  This would seem to imply a simple way to configure the extension would be to paste in a fully populated compilation command line to compilerPath..  However, args gathered from the command line are used as args only.  If they contain defines and/or includes, the extensi

[2020-05-16 05:25] yuchongbo commented on #407
I tried using the .28 version cpp extension, vscode version 1.45.1 and found an interesting thing.
the **case** block cannot be folded in **[switch]** statement in an exist .cpp file, but when I copied the same content to a new created cpp file, case block folding works!
<img width="816" alt="switch_case_folding" src="https://user-images.githubusercontent.com/40678811/82111568-b2cefa00-9778-11ea-9

[2020-05-16 10:43] davidwin commented on #5316
So I found a way to get back into a working state. Before, I had tried to restart VS Code and even went through updates of both the editor and the C++ extension without getting Go To Definition back. Then I noticed that I had a lot of processes related to cpptools running on the remote server, even after  shutting down all VS Code instances. There were no node processes, so VS Code had at least cl

[2020-05-16 12:17] datechnomadmole commented on #5501
`-------- Diagnostics - 16/05/2020, 17:44:17
Version: 0.28.0
Current Configuration:
{
    "name": "Win32",
    "includePath": [
        "${workspaceFolder}/**",
        "D:\\Users\\damole\\Documents\\tech\\dev\\include"
    ],
    "defines": [
        "_DEBUG",
        "UNICODE",
        "_UNICODE"
    ],
    "windowsSdkVersion": "10.0.18362.0",
    "cStandard": "c11",
    "cppStandard": "c++17",

[2020-05-16 12:20] datechnomadmole commented on #5501
In this project I am using a custom library so I have to the include path in c_cpp_properties.json for Intellisense and in tasks.json so it will compile.

from tasks.json:

{
    "version": "2.0.0",
    "options":{
        "env":  {
                "INCLUDE":  "${env:INCLUDE};D:\\Users\\damole\\Documents\\tech\\dev\\include",
                "LIB":      "${env:LIB};D:\\Users\\damole\\Documents\\te

[2020-05-16 17:17] akbyrd commented on #407
VS Code seems to cache the folding regions of files. When you open a folder or workspace it saves your open files and some other state. I _think_ folding is part of that state. I haven't played around with it enough to know how to reliably reset that state. Maybe editing the file? Closing all files and clearing editor history? Just a thought.

[2020-05-16 18:16] PhilParisot commented on #5415
@WardenGnaw it doesn't look like lldb-mi is going to be supported anymore on Ubuntu:

https://bugs.launchpad.net/ubuntu/+source/llvm-toolchain-10/+bug/1872387

Are there any solutions for this? It would be really appreciated if we could use lldb with VS Code.

As it stands we're confined to using older versions of lldb with VS Code, and to be clear I was not even able to get lldb-mi-9 to work prop

[2020-05-16 19:10] WardenGnaw commented on #5415
For macOS, we [build LLDB-MI and ship](https://github.com/lldb-tools/lldb-mi#building-against-system-lldb) our own copy for the extension. However, we use the lldb.framework  from XCode to not have to worry about updating lldb every time there's a new version.

One workaround will be to build your own copy and point your launch configuration to it with `miDebuggerPath`. I'll investigate if buildin

[2020-05-16 19:18] magdumnikhil commented on #4868
Since this bug doesn't have (m)any upvotes, I think it's very unlikely to be fixed in near future.
Is there any workaround available, other than changing the <#include> to "#include"?

[2020-05-16 19:22] magdumnikhil commented on #5512
Will the possible fix include issue reported in #4868 ?

[2020-05-17 02:43] NZSmartie commented on #723
Hey @bobbrow,

Looking into how the wildcard support is added to vscode-cpptools, I've come across a couple PRs (#1896, #2136); Their changes do not make much sense into how the recursive `includePath` is implemented.
Looking around for uses of `IncludePath` don't yield much insight apart from UI settings, json settings and verification of it `includePath`.

It looks like it's all passed off to pr

[2020-05-17 03:28] marcmerlin opened #5514 "include definition parser doesn't recurse as much as the code ifdef parser?"
As requested by @sean-mcmanus  in https://github.com/microsoft/vscode-cpptools/issues/510

**Describe the bug**
- OS and Version: debian 10 / amd64
- VS Code Version: 1.45.0-1588868285
- C/C++ Extension Version:

I open my code and get a warning about missing application.h.
cannot open source file "application.h" (dependency of "GifAnimViewer.h")

After clicking 5 files deep, I arrive in this file

[2020-05-17 03:30] marcmerlin commented on #510
@sean-mcmanus sure thing. I tried to gather the best I could in this bug:
https://github.com/microsoft/vscode-cpptools/issues/5514

[2020-05-17 03:35] rewrking commented on #5364
Hmmm, updating all the msys packages & recompiling (on GCC 10.1.0 instead of maybe a bugged 8.3.0) seemed to have fixed this.

[2020-05-17 03:35] #5364 closed, assigned to nobody

[2020-05-17 05:12] HackerBaloo commented on #2901
Well I think it is quite clear, I found a little performance problem that makes it worse for vscode-cpptoles less than optimal way of getting all variables in the call stack when hitting a breakpoint, instead of just getting the variables at the current frame.

[2020-05-17 06:45] BoldHonor commented on #664
@amir9480  thankyou so much

[2020-05-17 08:54] FlorentRevest commented on #4067
Thanks for the tip @konradsa I tried vscode-clangd out and it indeed solves all of my problems! :)

[2020-05-17 10:50] meanwhilehh commented on #1994
how to support this, this problem has troubled me for a long time

[2020-05-17 12:35] programus opened #5515 "Connection to server got closed. Server will not be restarted."
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS Mojave Version 10.14.6 (18G103)
- VS Code Version: 1.45.1
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them): issue persists after disabling all extensions except cpptools.
- Does this issue involve using SSH remote to run the extension on a remote machine?: No.

[2020-05-17 13:44] programus commented on #5515
I remove some projects from the workspace and readded them, the issue is fixed.

Strange but not an issue any more. So, close this.

[2020-05-17 13:44] #5515 closed, assigned to nobody

[2020-05-17 14:12] MarkAllenPhillips commented on #4770
Having same issue with VSCode Puppet.
C:/Program Files/Puppet Labs/DevelopmentKit/private/ruby/2.5.8/lib/ruby/2.5.0/fileutils.rb:232:in `mkdir': Invalid argument @ dir_s_mkdir - H:/.puppetlabs/var (Errno::EINVAL)
	from C:/Program Files/Puppet Labs/DevelopmentKit/private/ruby/2.5.8/lib/ruby/2.5.0/fileutils.rb:232:in `fu_mkdir'
	from C:/Program Files/Puppet Labs/DevelopmentKit/private/ruby/2.5.8/lib

[2020-05-17 15:26] csorvagep opened #5516 "[cppvsdbg] Skip standard C++ files after Step Into"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 (1909)
- VS Code Version: 1.45.1
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them): cmaketools (1.3.1)

After hitting F11 (step into) the debugger steps into the next function. But if there is an intermediate  standard library function (e.g. shared_ptr dereference), d

[2020-05-17 15:55] LIUHUANUCAS commented on #4770
# I have the same problem
- version:`April 2020 (version 1.45)`
- `macos ,clang-format version 10.0.0`
- I don't confirm the exactly steps to reproduce it, but the happened time  is that I use the clang-format extension to format my cpp files on save.what's more ,I can not use the format on save when the error has happened.
- the error information as follows:
![image](https://user-images.githubuse

[2020-05-17 16:35] axel-dd opened #5517 "[Linux] C++ gdb debugging - breakpoints don't work"
Type: Debugger

Hello everyone,
I can't get the gdb debugger to run in my c++ makefile project. vscode does not stop at breakpoints. The program just runs through. If I build a single cpp file without makefile everything works. A plain C project with makefile also works. I also tried to copy all *.o. *.cpp and *.h files into the bin directory. Unfortunately this doesn't help either. Can you please

[2020-05-17 18:02] migdea11 commented on #429
+1 Remote SSH RPI3

[2020-05-17 21:40] gustavomassa commented on #5490
@sean-mcmanus You can use this repository as an example to better investigate the issue: https://github.com/gustavomassa/scape
You will need Unreal Engine 4.24.3 installed on Linux or Windows. If you do install the engine, remember to set vscode as default editor and refresh the vscode project files.
![image](https://user-images.githubusercontent.com/16235598/82160743-daec5500-986d-11ea-9ff6-b956e

[2020-05-17 21:52] kunaltyagi commented on #5154
I think this is a larger issue. When I launched an executable from the VSCode terminal, I got the same error. Going in the `Security & Privacy` -> `Camera`, I can confirm that VSCode didn't ask for permission of the camera (and didn't receive it), while my terminal application did.

[2020-05-17 23:04] eduardonunesp opened #5518 "Formatter for CPP files isn't working anymore"
Version: 1.45.1
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:33:47.663Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

Steps to Reproduce:

1. Install C/C++ plugin for VSCode
2. Try to format a `.cpp` file
3. It will warn that no formatter is installed, but it was working on the previous version of VSCode or the extens

[2020-05-17 23:16] eduardonunesp commented on #5518
Fixed after reinstalling the extension

[2020-05-17 23:16] #5518 closed, assigned to nobody

[2020-05-18 02:23] xwinwin commented on #429
+1 Remote SSH + Jetson Nano

[2020-05-18 05:11] pepsipu opened #5519 "Variables defined on the same line as a struct causes a discrepancy between the variable and variables with the same type."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 19, Linux 5.3.0-51-generic
- VS Code Version: 1.45.1
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them): n/a
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- A clear and concise description of what the bug is, including

[2020-05-18 10:01] dpernes commented on #4824
Having the exact same issue with the C/C++ extension. "Failed to read response from server: 22" and error squiggles are not updated as errors are fixed. Restarting VS code fixes the behavior for a while.

[2020-05-18 11:18] aelray commented on #5492
That fixes it, thank you!

[2020-05-18 14:47] moojek opened #5521 "Code folding will collapse entire line containing closing bracket"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux, 5.6.13-arch1-1
- VS Code Version: 1.44.2
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them): github.vscode-pull-request-github james-yu.latex-workshop liviuschera.noctis Yes, issue persists
- Does this issue involve using SSH remote to run the extension on a rem

[2020-05-18 17:03] ashish5679 commented on #3064
I also got the same issue on one of my remote ssh workspace.
debug - it happens only for one particular root-folder where workspace and all codebase is present. If I simply rename root folder the issue disappears.
so somehow global database gets corrupted for one particular name of root folder.

[2020-05-18 17:44] #5492 closed, assigned to nobody

[2020-05-18 18:05] boocs opened #5522 "Default behavior of deleting/recreating ipch Intellisense files is a bug for large projects"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1909
- VS Code Version: 1.45.1
- C/C++ Extension Version: 0.28.0

- Any change to a header, that a cpp file includes, causes it’s default individual Intellisense ipch file to be deleted and recreated.
- This results in deleting and recreating it’s default Intellisense file multiple upon multiple times with every change.
-

[2020-05-18 18:10] WardenGnaw commented on #5517
When a breakpoint is set, there is an error:
[code]

In your Makefile, can you try `-ggdb` instead of just `-g`?

[2020-05-18 18:51] sean-mcmanus commented on #4868
I don't know a workaround. You may be able to implement a workaround or fix yourself and submit a PR (assuming it only requires TypeScript changes).

[2020-05-18 18:52] sean-mcmanus commented on #5512
@magdumnikhil It doesn't seem like it would be.

[2020-05-18 18:56] michelleangela commented on #4770
@MarkAllenPhillips this repository is for the C/C++ extension. From your logs it looks like the issue is with extension Puppet https://github.com/puppetlabs/puppet-vscode

[2020-05-18 18:58] michelleangela commented on #4770
@LIUHUANUCAS can you try uninstalling and re-installing the extension with the latest version 0.28.0? If that does not fix the issue, please create a new issue for the latest version of the extension.

[2020-05-18 19:15] sean-mcmanus opened #5523 "Add code folding for "case" sections"
I filed a feature request on VS at https://developercommunity.visualstudio.com/idea/1020490/c-intellisense-add-code-folding-for-case-regions.html . Our implementation is shared with VS.

_Originally posted by @sean-mcmanus in https://github.com/microsoft/vscode-cpptools/issues/407#issuecomment-624988706_

[2020-05-18 19:17] sean-mcmanus opened #5524 "Add code folding for multiline macros"
I've filed a feature request on VS at https://developercommunity.visualstudio.com/idea/1020490/c-intellisense-add-code-folding-for-case-regions.html .

_Originally posted by @sean-mcmanus in https://github.com/microsoft/vscode-cpptools/issues/407#issuecomment-624988706_

[2020-05-18 19:19] sean-mcmanus opened #5525 "Code folding works in a macro definition with "if() {" but stops if the { is on a new line"
I've filed VS bug https://developercommunity.visualstudio.com/content/problem/1021278/c-intellisense-code-folding-works-in-a-macro-defin.html .

_Originally posted by @sean-mcmanus in https://github.com/microsoft/vscode-cpptools/issues/407#issuecomment-625120818_

[2020-05-18 19:24] sean-mcmanus commented on #407
@yuchongbo The case folding is being tracked by https://github.com/microsoft/vscode-cpptools/issues/5523 . The fact that it starts working when it's copied to unsaved/new file is due to the fact that our extension only works on "file"-based URIs (and not the "untitled" URI scheme), which is tracked by https://github.com/microsoft/vscode-cpptools/issues/3343 .

[2020-05-18 19:27] axel-dd commented on #5517
I have played with -g / -ggdb / -O0 switches in different combinations. None of them solved the problem. Here is the output of the objdump. Maybe this will help..

	cpptest:     file format elf64-x86-64

    Contents of the .eh_frame section (loaded from cpptest):

    00000000 0000000000000014 00000000 CIE
      Version:               1
      Augmentation:          "zR"
      Code alignment facto

[2020-05-18 19:46] sean-mcmanus commented on #5316
Yes -- you've hit a known problem with dangling cpptools locking the database, which is used for Go to Definition. We received many reports of this, but don't understand why VS Code is not properly terminating our child process and haven't found a good way to repro it. It's possible it has something to do with the upgrade process, since we seem to get an uptick in reports after we release a new ve

[2020-05-18 19:58] sean-mcmanus commented on #5501
We had a bug that caused `compilerPath: ""` to not be handled that got fixed with 0.28.0. Does removing the `compilerPath: ""` fix your issue? i.e. using the `compilerPath: ""` will intentionally cause the cl.exe and Windows include paths to be not be included.

[2020-05-18 20:54] sean-mcmanus commented on #723
@NZSmartie cpptools is closed source. It seems like `"*"` and/or `"**"` in paths should be implementable in the TypeScript. The implementation is complicated and tries to filter out unneeded paths in order to reduce the performance impact on cpptools-srv, but usage of `"*"` and `"**"` in path segments isn't expected to generate the same performance hit as `"**"` at the end of a path.

[2020-05-18 21:23] WardenGnaw commented on #5517
From the `objdump` it looks like it is set to dwarf2 debug format. Can you share just the debug engine logs with `-ggdb`.

[2020-05-18 21:36] Colengms commented on #5521
Hi @moojek .  Thanks for reporting this.

Fixing this is tricky, due to limitations of VS Code's folding API.  It's line based, and doesn't take character/column positions into account.  Our folding algorithm is shared with VS, and can fold at character/column resolution, if that were supported  We could omit the last line from the fold, but that would instead do the wrong thing if there is conten

[2020-05-18 21:37] WardenGnaw commented on #5269
Closing due to not enough information.

[2020-05-18 21:37] #5269 closed, assigned to nobody

[2020-05-18 21:39] WardenGnaw commented on #5224
@Garithe This is similar to https://github.com/microsoft/vscode-cpptools/issues/5079

Its an issue with the later macOS's not displaying the prompt for our Debug Adapter within VS Code to have permissions to use Terminal.

The workaround is https://github.com/microsoft/vscode-cpptools/issues/5079#issuecomment-626090192

[2020-05-18 21:40] WardenGnaw commented on #5074
Closing as an external issue.

[2020-05-18 21:40] #5074 closed, assigned to nobody

[2020-05-18 23:18] Colengms commented on #5512
Note that this is currently only an issue for compilers we don't probe (CL.exe).  Because we are not stripping defines/includes when we probe a (gcc/clang) compiler, they are round-tripped through the probe and parsed as system defines/includes.  They should be removed from the probe as they aren't relevant to it, so this will also need to be addressed to do that.

[2020-05-18 23:39] sean-mcmanus commented on #5514
Yeah, if I could get a repro that would be good. I tried to use your repro project, but I seem to have configuration issues, e.g. I don't see code that uses "#elif defined (SPARK)". Do I need Arduino setup somehow?

If you could run C/C++: Log Diagnostics that would help as well.

[2020-05-19 00:35] sean-mcmanus commented on #5519
It works for me. Can you provide more repro details? I get that error when I use msvc mode, but not gcc mode.

![image](https://user-images.githubusercontent.com/19859882/82271699-5f51dd00-992d-11ea-9d22-e913c786c6ac.png)

[2020-05-19 00:39] sean-mcmanus commented on #4824
@dpernes 0.28.0 has some known regressions. We have a fix pending for one of them (that we believe accounts for ~75% of the crashes). If you can attach a debugger to cpptools-srv to get a crash call stack we could confirm whether that issue will be fixed in our next release or if we need more repro info.

[2020-05-19 00:41] sean-mcmanus commented on #3064
@ashish5679 You may have a dangling cpptools process that has a lock on the database. Killing all the cpptools processes (or restarting your machine) may fix the issue.

[2020-05-19 00:53] sean-mcmanus commented on #5522
You're describing "by design" behavior. Project size doesn't matter, just the size of the TU (i.e. source and and all it's dependent includes)...unless you're using recursive includes and you see cpptools using CPU instead of cpptools-srv (in which case project size would matter, but IPCH files are not relevant in that case). The reason compiling the header by itself is fast is because it's not pa

[2020-05-19 05:13] axel-dd commented on #5517
https://github.com/axel-dd/cpptest/blob/master/debug-ggdb.txt

[2020-05-19 06:42] Joryzoetendaal commented on #429
+1 Remote SSH RPI3

[2020-05-19 07:43] boocs commented on #5522
- In Windows 10 Resource monitor 3.76 average for cpptool-srv 2.56 for cpptools. I created two floats in a header class in a Unreal Engine 4 project.

- So for now if you wanted to save some hard drive writes, while creating headers, it would be better to run with Intellisense cache set to 0. I tried it quickly and it didn't seem to effect performance.

- I guess I could try creating a simple exte

[2020-05-19 11:14] PDostalek opened #5526 "[loc][Query][vscode_extensions] Localizability of string"
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Id | File Name Live Page Extended | String Resource ID | Full Source String | Extended Description | Answer Needed By
-- | -- | -- | -- | -- | --
49,837 | Src\vscode-extensions\vscode-cpptools.xlf | 0;   "./src/main.

[2020-05-19 11:45] alexweej opened #5527 "`auto` lambda parameters are not deduced"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 19.10
- VS Code Version: 1.44.2
- C/C++ Extension Version: 0.28.0
- Other extensions you installed (and if the issue persists after disabling them): n/a
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- A clear and concise description of what the bug is, including information about the

[2020-05-19 12:24] Garithe commented on #5224
Thank @WardenGnaw. It worked.

[2020-05-19 12:24] #5224 closed, assigned to nobody

[2020-05-19 14:23] LIUHUANUCAS commented on #4770
- yeah: sometimes ,I uninstall  and re-install the Clang-Format and cpptools extension, the issue can be solved for a while after un-re install the extension, but the issue happens after a while.
- the Clang-Format extension version is 1.9.0
- the cpptools extension version is 0.28.0

![image](https://user-images.githubusercontent.com/10096544/82337187-1168d200-9a1e-11ea-88d3-9abd9efa8072.png)
![i

[2020-05-19 14:57] mcilloni commented on #5480
Yes, it does indeed complain about missing headers every once in a while. I've tried changing the `intelliSenseMode` to `gcc-x86` and I've been having no issues so far. I also installed the CMake extension and I discovered it can be used as a `configurationProvider`, thus solving the compile commands deletion issue, which is nice.

[2020-05-19 16:26] MarkAllenPhillips commented on #4770
After installing and reinstalling and then restarting the pc, everythings seens to be working fine.
Thanks

From: LIUHUAN <notifications@github.com>
Sent: Tuesday, May 19, 2020 10:24 AM
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: Phillips, Mark <PhillipsM5@aetna.com>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [microsoft/vscode-cpptools] "Connection to

[2020-05-19 16:45] csorvagep commented on #5516
I tried CMake's variable (CMAKE_VS_JUST_MY_CODE_DEBUGGING) for setting the /JMC option in the compiler. After generateing Visual Studio Project files it works with Visual Studio but not with Code. I also tried creating a natstepfilter file but that does not work either.

[2020-05-19 16:57] BrunoBerisso commented on #5071
I have this same problem but with a slightly different setup, this is my case:

**Type: LanguageService**

**Describe the bug**

OS and Version: macos 10.15.3 (19D76)
VS Code Version: 1.45.1
C/C++ Extension Version: 0.28.0
Other extensions you installed (and if the issue persists after disabling them): None

**To Reproduce**

I have a small (4 files) CMake project using Boost, I believe the proble

[2020-05-19 17:58] WardenGnaw commented on #5526
`{0}` will be the Operating System name. It will be one of the following: `Windows`, `MacOS` or `Linux`.
https://github.com/microsoft/vscode-cpptools/blob/7ab06da098f3a424ad055150123d71b89a02e62e/Extension/src/platform.ts#L17-L21

[2020-05-19 18:12] michelleangela opened #5528 "Server connection closed when using Clang-format extension"
# I have the same problem
* version:`April 2020 (version 1.45)`
 * `macos ,clang-format version 10.0.0`
* I don't confirm the exactly steps to reproduce it, but the happened time  is that I use the clang-format extension to format my cpp files on save.what's more ,I can not use the format on save when the error has happened.
* the error information as follows:
 ![image](https://user-images.githubu

[2020-05-19 18:14] michelleangela commented on #4770
@LIUHUANUCAS I created a new issue at https://github.com/microsoft/vscode-cpptools/issues/5528 for your issue. Please continue to provide info at the thread.

[2020-05-19 18:22] michelleangela commented on #5528
@LIUHUANUCAS

It seems that Clang-Format extension is affecting the C/C++ extension. That is when VS Code sends a format document request, either the Clang-Format extension or C/C++ extension will handle the formatting.

The C/C++ extension ships with Clang-format capabilities. You can set the C/C++ extension to use a specific Clang-format executable by setting `"C_Cpp.clang_format_path"` in setti

[2020-05-19 18:29] sean-mcmanus commented on #5522
Oh, you're saying when edits to a header file occur we should disable the IntelliSense cache for that TU? That would prevent the unnecessary disk writing. I think turning the cache off/on requires restarting the IntelliSense process though.

[2020-05-19 19:05] boocs commented on #5522
Yeah that would be nice to have an auto switch option for headers!

For now I'll just run with "C_Cpp.intelliSenseCacheSize": 0 on all the time.

Of course this doesn't fix the Intellisense header performance issue. Hopefully my silly extension idea works for that.

[2020-05-19 20:03] WardenGnaw commented on #5517
Seems like the debugger cant find the symbol files still.

Is there a point where you can pause the debugger and in the debug console run `file /home/axel/dev/cpptest/bin/cpptest` and what does that command return?

[2020-05-19 20:30] doudou commented on #5362
For the record, I'm having this very issue, but in my case it's not that I'm worried about the amount of data written, it's that writing this very data makes the whole machine totally unusable.

I don't have a laptop with a top-of-the-line NVMe SSD ... and 300MB to 600 MB "drops" every few seconds leads to Linux freezing the whole machine, regularly. I'm happy I finally found why the whole vscode

[2020-05-19 21:16] axel-dd commented on #5517
Yes it is possible to pause the debugger at entry point. vscode holds but step through is not possible. Continue is possible but immediately ends the debugging session.

EDIT: Sorry in the video there is a missing 't' in the debug console. I tried it gain. Error message is still the same.

https://github.com/axel-dd/cpptest/blob/master/vscode-debug.mp4
https://github.com/axel-dd/cpptest/blob/maste

[2020-05-19 21:43] axel-dd commented on #5517
I upgrade to gcc 10.1.0 but problem is still there.

[2020-05-19 22:47] sean-mcmanus commented on #5527
It comes from our shared code with VS. I've filed a bug at https://developercommunity.visualstudio.com/content/problem/1038917/c-intellisense-auto-lambda-parameters-are-not-dedu.html .

[2020-05-19 23:41] sean-mcmanus commented on #5071
@BrunoBerisso This is caused a dangling cpptools process holding a lock on our database. It can be fixed by killing all the cpptools processes or restarting your machine.