[2018-10-27 05:04] bobbrow commented on #2607
The reason I thought maybe the `compilerPath` was not set was because I didn't see any `define:` lines in the log after the `include:` lines.  Did you manually remove them or are they really not there?  It could be a problem with the compiler querying.  I know I haven't tested 8.2.1 yet.

[2018-10-27 05:13] bobbrow commented on #2726
Could you elaborate on what is broken with the CMake Tools extension?  The recommendation is to enable CMake Tools' configuration provider to provide IntelliSense configurations instead of using compile_commands.json.

You say you are working on a GitHub project.  Is it public?  Can we clone it to debug your problem?

[2018-10-27 08:40] e792a8 commented on #2607
@bobbrow but `"compilerPath": "/usr/bin/gcc"` was set by default and I haven't touched it

[2018-10-27 09:55] malino24 commented on #2709
![unbenannt](https://user-images.githubusercontent.com/5430788/47602438-3b434980-d9df-11e8-915e-1dd62d303925.png)

[2018-10-27 22:01] malino24 commented on #2709
I don't wanna confuse you guys but now the stuff is working again xD I'll close this thread as I don't know how to 're-create' the issue. Thanks anyways.

[2018-10-27 22:01] #2709 closed, assigned to nobody

[2018-10-28 06:35] TonyHoang94 commented on #807
Did you guys solve this issue? I'm encountering it now, cannot pause debugger or set breakpoints while it's running. I'm using **arm-none-eabi-gdb** too and my logs are exactly the same as @partyzzzan.

[2018-10-28 06:39] ghost opened #2731 "clang format corrupting"
Issue Type: <b>Bug</b>

Sometimes (mostly) it happed 😞

### Before save:
![before](https://user-images.githubusercontent.com/37267028/47614891-5b950600-dabc-11e8-9f52-6f267fac4449.PNG)

### After save (and auto format):
![after](https://user-images.githubusercontent.com/37267028/47614894-6780c800-dabc-11e8-8d48-7c4808df15ac.PNG)

VSCode 1.28.2 + C/C++ Extension 0.19.0 + LLVM 8.0.0-r339319-win64

S

[2018-10-28 11:39] Abdullah-AlAttar commented on #323
![screenshot from 2018-10-28 13-36-55](https://user-images.githubusercontent.com/18447305/47615388-d4915f00-dab6-11e8-9b04-162078022d6d.png)
still having this issue.

[2018-10-28 14:32] chandangr commented on #2701
(https://user-images.githubusercontent.com/27623078/47617123-230c2100-daea-11e8-92f5-35446bce3914.PNG)

### {
    "version": "0.2.0",
    "configurations": [
        {
            "name": "(Windows) Launch",
            "type": "cppvsdbg",
            "request": "launch",
            "program": "C:/WMSCPP_2015/CARD/cbs_2015_RU6/cust/postpacking/auditcarton/server/libCARDAuditCarton.a",

[2018-10-28 14:50] lumonix commented on #1975
Hi @sean-mcmanus

Still not luck getting a call-stack.
The debug output is minimal, but here it is:

The thread 4708 has exited with code 0 (0x0).
The thread 9124 has exited with code 0 (0x0).
Exception thrown at 0x743817D2 in Microsoft.VSCode.CPP.IntelliSense.Msvc.exe: Microsoft C++ exception: a_cfe_exception at memory location 0x039FF577.
The thread 1536 has exited with code 0 (0x0).
Loaded 'C:\

[2018-10-28 14:51] lumonix commented on #1975
(I was attached to 9956 for what its worth)

[2018-10-28 15:21] chandangr commented on #2701
i have tried changing the version from _0.2.0_ to _2.0.0_ and yet its not working.

[2018-10-28 15:44] acsvln commented on #2383
What i must setup in sourceFileMap?
I tried
[code]

but that gave me buggy result, coz seems to be it just break's every time in plugin now, and throws exceptions.

[2018-10-28 16:44] AHKol commented on #2635
I'm new to the vscode-cpptools repo. Since this looks like a good first bug I will give it a shot.

I managed to replicate it already.

[2018-10-29 08:01] gordonwatts commented on #2526
@pieandcakes - thanks for the response.

Yes, that is what I'm saying. I'm using WSL, both on an insiders release and on a regular windows release. In each case the WSL system is Ubuntu, at bionic. gdb's version:

[code]

Is this not expected? I'm happy to run further debugging commands if you wish, or dump my environment further.

As far as not working: if I do not define the LD_LIBRARY_PATH as a

[2018-10-29 12:57] therickli commented on #1738
I got this problem, when the file the program trying to open is not in the cwd. Moving the file to the cwd solved my problem.

[2018-10-29 14:44] KevYChen opened #2732 "CPP "strcmp" is undefined error"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Mojave 10.14
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.19.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
My friend was helping me getting set up with doing shell scripting on vscode and then it stopped working for my cpp in

[2018-10-29 16:07] bobbrow commented on #2635
@AHKol, we appreciate your willingness to help out!  Unfortunately this is something that is implemented in our language server which is not open source at this time.  The bugs that are fixable by the community will be marked with the "help wanted" label.

[2018-10-29 16:16] bobbrow commented on #1975
Exiting with code 0 seems like a normal termination.  However, if the crash is in one of the `IntelliSense` processes, I would recommend installing the [Child Process Debugging extension](https://marketplace.visualstudio.com/items?itemName=vsdbgplat.MicrosoftChildProcessDebuggingPowerTool) for Visual Studio, and then attaching to `Microsoft.VSCode.CPP.Extension.exe` instead since it manages all of

[2018-10-29 16:24] bobbrow commented on #2732
Can you try the following configuration instead?

[code]

[2018-10-29 16:35] KevYChen commented on #2732
That seem to do the trick thank you!

[2018-10-29 17:09] #2732 closed, assigned to nobody

[2018-10-29 19:41] sean-mcmanus commented on #807
@pieandcakes I'm hitting a bug where I can't pause in the debugger, but I can set/hit breakpoints (I sent an email about it last week).

[2018-10-29 19:53] sean-mcmanus commented on #323
@Abdullah-AlAttar Can you open a new issue with more repro and symptom details, such as via attaching a debugger and getting a call stack when the memory is increasing too much?

[2018-10-29 20:41] pieandcakes commented on #807
@sean-mcmanus For your issue I responded to your email. It is a VS Code issue. https://github.com/Microsoft/vscode/issues/62085 . @TonyHoang94 If you are using VS Code 1.28.2 it might be the same issue.

[2018-10-29 21:02] jimix opened #2733 "Unable to pass "--" as an argument to the target program, it simply disappears"
Type: Debugger
Unable to pass `"--"` as an argument to the target program, it simply disappears

**Describe the bug**
- OS and Version: MacOS X 10.13.6
- VS Code Version: Version 1.28.2 (1.28.2)
- C/C++ Extension Version: 0.19.0: September 27, 2018
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

I'm trying to

[2018-10-29 22:36] noizex commented on #807
I'm developing my own Debug Adapter and I've run into the same issue - clicking Pause after running the debugger does nothing - it never reaches `pauseRequest` call. I also found out that tweaking some of my configuration (the one set with `initializeRequest`) would suddenly make the pause trigger. The problem remains though because UI is not adjusted to the state I'd expect it to have - once I pa

[2018-10-29 22:38] pieandcakes commented on #807
@noizex Yea, I filed an issue with VS Code to investigate as this isn't our extension's issue.

[2018-10-29 23:25] sean-mcmanus opened #2734 "Undesirable completion occurs when Enter is used at the end of a line (struct, class, #if, #ifdef, etc.)"
Repros more often when there are more symbols that match text. Usually occurs with things like struct/class/#if/#ifdef which don't have any other symbols at the end of the line. It doesn't repro with Visual Studio. The bug has existed for a long time (not sure why more users haven't complained about it).

The workaround is to use Esc to dismiss the completion popup or use Undo after hitting Enter.

[2018-10-29 23:30] sean-mcmanus opened #2735 "IntelliSense-based Go to Definition doesn't filter by the IntelliSense info when a new TU is first opened"
1. Open a new .cpp file and then use Go to Definition before the red flame disappears -- use it on something with multiple symbols with conflicting names like begin()/end().

Bug: Instead of waiting for the IntelliSense-info to filter the results, it uses the incorrect unfiltered data which includes lots of undesirable symbols (i.e. the old behavior).

Up-vote this if you think it's important to f

[2018-10-29 23:57] sean-mcmanus opened #2736 "IntelliSense-based Go to Definition can give incorrect result with overloads that return a template with a default template param (e.g. vector)"
For 0.20.0. Repros when "funcv(0)" in the code below is the goto target:
[code]
Both definitions get returned instead of the 1st. "Caused" by the default "allocator" 2nd param on the vector. We fixed the case when vector is used as a param, but missed the return type case (it didn't seem important enough to delay 0.20.0).

UPDATE:

Should be fixed with 0.21.0-insiders (auto installed if `"C_Cpp.up

[2018-10-30 00:06] hungys commented on #1139
@sean-mcmanus It typically occurred during first scan of a **large** project. According to the parsing progress icon of the extension, our code base contains 20000+ files for parsing, and after letting it process for the whole weekend, now the memory usage is less than 100MB for this folder. But my point is that, the memory usage can be up to 2.xGB during parsing, is this by design? Have your team

[2018-10-30 00:47] sean-mcmanus opened #2737 "Memory "leak" when parsing a large workspace"
1. Open a large workspace such as chromium with >100k files to parse. The issue occurs the 1st time or after a Reset IntelliSense Database occurs.

Bug: Memory usage of the main process keeps increasing. It's possible we could crash from an out of memory on 32-bit Linux.

UPDATE: Actually, looks like our parser is accumulating memory in various places (i.e. not a simple fix). The workaround is to

[2018-10-30 00:49] sean-mcmanus commented on #1139
@hungys Thanks a lot for providing more info -- I got a repro with chromium. I've filed bug https://github.com/Microsoft/vscode-cpptools/issues/2737 . The original issue was about the IntelliSense process using a lot of memory. Strange, seems like the bug doesn't repro with all projects.

UPDATE: Our next 0.21.0-insider build should have the fix.

[2018-10-30 01:18] losttem opened #2738 "[GDB]Can’t hit the breakpoint in child process after "-exec set follow-fork-mode child""
**Type: Debugger**

i want to debug child process created by fork() and i use "-exec set follow-fork-mode child" before the fork() is called, but i found it doesn't work at all, it can't hit any break point in child process. Then i use the simple program in #511 to test, not work too.The answer in #511 doesn't work too.(  "setupCommands": [
                {"text": "-gdb-set follow-fork-mode child

[2018-10-30 01:32] Jackie-Yang opened #2739 "The files exclude in VSCode will be included by intelisense"
**Type: LanguageService**

The files exclude in VSCode will be included by intelisense, when I use "Go to Declaration" or "Peek Declaration", it will show these files.

**Describe the bug**
- OS and Version: win10
- VS Code Version:1.28.2
- C/C++ Extension Version:0.19.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the

[2018-10-30 01:38] sean-mcmanus commented on #2739
This is supposed to work. Are your files.exclude file-based instead of folder-based? If you're using file-based patterns you need to change the C_Cpp.exclusionPolicy to "checkFilesAndFolders".

[2018-10-30 02:04] Jackie-Yang commented on #2739
@sean-mcmanus
Maybe the reason is: I use \ in exclude path, eg.  "project\\ui\\**", it can be recognized by vscode, but cpp_tools can't

[2018-10-30 02:10] sean-mcmanus commented on #2739
`"**"` is considered file-based exclusion. Does removing the `"**"` and just specifying the folder fix the issue for your (or changing the previously mentioned setting)? I suppose we could auto-remove the `"**"` at the end of a path to get the folder-based exclusion.

What do you mean by `"\"`? I think VS Code only accepts `"/"`, right?

[2018-10-30 06:09] YousefSaber commented on #2727
@pieandcakes  GNOME neither XTerm are supported on elementary OS it looks like that I'll have to wait for v0.20.0

[2018-10-30 07:21] Windeal commented on #483
@bobbrow  Is there anyone concern this issue？ Could you reproduce this issue？ Or need more information？

[2018-10-30 07:57] Jackie-Yang commented on #2739
@sean-mcmanus
Sorry,  `"project\ui\**"` just an example, actually I use folder name in exclude path. ( But when I set `"includePath"`, it needs to use `"**"` to work, eg. "${workspaceFolder}/**")

I copy files' path in files browser, and use it in vscode setting, I think VSCode won't accept it, but it worked, so I didn't change it to "/".
I try to change these path to "/",  it seems to fix this pr

[2018-10-30 14:39] nawordar commented on #2610
I have exactly the same problem. I have installed MinGW through MSys2, added location of gcc.exe to PATH and then executed "Arduino: Initialize" from Command Palette. It generated ".vscode" folder with files "arduino.json" and "c_cpp_properties.json":
`arduino.json`:
[code]

`c_cpp_properties.json`:
[code]

[2018-10-30 15:41] bobbrow commented on #483
I've been tagging network drive-related issues so I can keep track of how prevalent this is.  Since we're a small team with limited resources to fix bugs, we have to prioritize issues based on how many people are affected.  I'll reopen this issue so that we don't lose track of it.

[2018-10-30 17:56] sean-mcmanus commented on #2739
Oh, you were using a backslash? That causes the next character to be escaped, i.e. ignored, which could still generate a valid filter for VS Code, although it gives a red squiggle in the settings.json, but it looks like our code doesn't behave the same, i.e. it's a bug -- I recommend using forward slashes as a workaround.

[2018-10-30 18:05] princehektor commented on #2706
@pieandcakes  : What do you mean by "local scenarios" ?

[2018-10-30 18:16] pieandcakes commented on #2706
@princehektor It will only work if you launch the app locally. It does not work for remote (pipeTransport) or attaching to an existing process.

[2018-10-30 18:53] sean-mcmanus commented on #2176
I may have figured out the repro -- it repros for me when the intelliSenseMode is set to msvc-x64. Does changing it to clang-x64 or gcc-x64 fix this? If not, it's still possible the root cause is the same, i.e. fixing it for msvc-x64 might fix other scenarios. If not, it's still possible the root cause is the same, i.e. fixing it for msvc-x64 might fix other scenarios.

[2018-10-30 21:44] wpaul-magicleap opened #2740 "GDB debugging broken with VSCode 1.28?"
Type: Debugger
Our debugger integration broke when updating VSCode from 1.27.2 to 1.28.  The C/C++ extension is 0.19.0 is both cases, as is our extension.  Something in the core debugger must have changed.  I'm trying to understand if this is specific to our debugger or generically for MIEngine.

**Describe the bug**
- OS and Version: Tested on Windows and OS X
- VS Code Version: 1.28.1/1.28.2
- C

[2018-10-30 22:33] bobbrow commented on #2610
`compilerPath = gcc` paired with `intelliSenseMode = msvc-x64` is not likely to work.  Can you set `"IntelliSenseMode": "gcc-x64"` and try again?

avr/pgmspace.h lives under the \Arduino\hardware\tools\avr folder, which does not appear to be in your `includePath`.  Try adding `"C:\\Program Files (x86)\\Arduino\\hardware\\tools\\avr\\**"` to the `includePath`

[2018-10-30 23:41] #2656 closed, assigned to nobody

[2018-10-30 23:41] #2642 closed, assigned to nobody

[2018-10-30 23:42] #2636 closed, assigned to nobody

[2018-10-30 23:42] #2685 closed, assigned to grdowns

[2018-10-30 23:42] #2613 closed, assigned to nobody

[2018-10-30 23:43] #2691 closed, assigned to nobody

[2018-10-30 23:43] #2586 closed, assigned to nobody

[2018-10-30 23:43] #2584 closed, assigned to nobody

[2018-10-30 23:44] #2583 closed, assigned to nobody

[2018-10-30 23:44] #2579 closed, assigned to nobody

[2018-10-30 23:44] #2573 closed, assigned to nobody

[2018-10-30 23:44] #2574 closed, assigned to nobody

[2018-10-30 23:44] #2536 closed, assigned to nobody

[2018-10-30 23:45] #2677 closed, assigned to nobody

[2018-10-30 23:45] #2508 closed, assigned to nobody

[2018-10-30 23:45] #2448 closed, assigned to nobody

[2018-10-30 23:46] #2443 closed, assigned to nobody

[2018-10-30 23:46] #2623 closed, assigned to nobody

[2018-10-30 23:47] ftrofin opened #2742 "VS Code CPP Extension hogs up the CPU almost constantly in the latest version"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Mac OS 10.13.6
- VS Code Version: 1.28.2 (7f3ce96)
- C/C++ Extension Version: 0.19.0

I've been very happy with VS Code until recently when it updated to the latest version. It was nimble and fast, it just worked. Now it's slow and it hogs up my computer's CPU (constant CPU utilization 25-50% all the time VS Code is running). The ex

[2018-10-30 23:48] sean-mcmanus commented on #2442
The completion issue should be fixed with 0.20.0.

[2018-10-30 23:48] #2442 closed, assigned to nobody

[2018-10-30 23:48] #2242 closed, assigned to grdowns

[2018-10-30 23:49] sean-mcmanus commented on #2181
Inactive regions are now disabled when it falls back to the tag parser (with 0.20.0).

[2018-10-30 23:49] #2181 closed, assigned to nobody

[2018-10-30 23:49] #1071 closed, assigned to nobody

[2018-10-30 23:50] #2587 closed, assigned to nobody

[2018-10-30 23:58] sean-mcmanus commented on #2742
Do you have 0.19.0 or the just released 0.20.0? What version was good? 0.18.0? This code shouldn't have changed in a while.

The log shows it looking for new files to add to our database.

[2018-10-31 00:13] ftrofin commented on #2742
Thanks for the quick reply. A few minutes ago I had 0.19.0, I'm sure of it. I restarted VS Code and I see that now it shows 0.20.0 (interesting, no notification or asking the user if they want to update?).
The version that was good was the one from a few months back (before the VS Code September release).
I'm going to keep an eye on the new 0.20.0 to see if I still experience the same CPU churn an

[2018-10-31 00:53] ftrofin commented on #2742
Periodically I see "Code Helper" process raising to the top of CPU usage and staying there for 5-10 minutes without me doing anything on the computer. I took some samples of the process during that time and they all look very similar. I attached one here in case it helps. This constant churn of the CPU is causing my MBP fan to run almost all the time - not a good user experience.
[Sample of Code H

[2018-10-31 00:56] sean-mcmanus commented on #2742
Our extension has no control (or known impact) on the Code Helper process of VS Code; however, there is a known issue in regards to the transparent rendering which our extension uses, which is fixed on the VS Code Exploration version (which uses a new renderer): see the thread at https://github.com/Microsoft/vscode-cpptools/issues/2704 or https://github.com/Microsoft/vscode/issues/52629 .

If the

[2018-10-31 01:12] Windeal commented on #483
Ok， thanks

[2018-10-31 02:37] Jackie-Yang commented on #2739
Thx~

[2018-10-31 03:40] codingspirit commented on #1522
It's a painful task to copy every method declaration from .h to .cpp . It will be great if this feature can be added.

[2018-10-31 05:33] lh123 opened #2743 "IntelliSense-based Go to Declaration failed in this case"
**Type: LanguageService**
- C/C++ Extension Version: 0.20.0

## 1. Incorrect
[code]

## 2. Correct
[code]

[2018-10-31 06:55] lh123 opened #2744 "Header autocomplete not working in '*.h' file"
**Type: LanguageService**
- C/C++ Extension Version: 0.20.0

## Header autocomplete not working in '\*.h' file, but working in '\*.cpp' file.

### 1. In header file. `(test.h)`
[code]

### 2. In source file. `(test.cpp)`
[code]

[2018-10-31 09:49] Windeal commented on #483
Tips：
I think the reason for this problem is probably that file path in Unix is case sensitive but is not in windows.

[2018-10-31 10:45] nithishc829 commented on #215
having same issue on windows ... what to do ? I even tried lldb-mi which failes with
Starting: "D:/clang/LLVM/bin/lldb-mi.exe" --interpreter=mi
MI: Error: Driver. LLDB Debugger.
MI: Error: Driver Manager. Driver 'Machine Interface Driver Version: 1.0.0.9' (ID:'MIDriver') initialise failed. Driver. LLDB Debugger.
"D:/clang/LLVM/bin/lldb-mi.exe" exited with code -1000 (0xFFFFFC18).
 what to do ?

[2018-10-31 11:29] Stragarp opened #2745 "[Feature Request] Separate SetupCommands for before and after debuggee info passed to gdb"
I'm trying to pass some extra commands after the launch of GDB. These commands are working if I enter them manually in the debug console of Visual Studio, prefixed with "-exec", after GDB started. I'd like to use setupCommands to do it automatically with the launch.json file. Here is what my file looks like :

[code]
And the error :

Those commands are pretty classic, I tried many things but I'm s

[2018-10-31 14:17] nattgris commented on #2266
If the Problem Matcher doesn't already track the output from make when it switches to another directory ("make: Entering directory '/foo/bar'" etc), then it will not be useful for any project which uses recursive make, which is quite a few... I'd say that's a rather important feature. Messing with manually added root paths doesn't really solve the problem.

If there already is support for this (I

[2018-10-31 14:25] warwickrudd opened #2746 "Goto & Peek Definition Not working correctly"
I am currently running version 1.1.3 and the goto and peek definition work for system tables but not for user tables. Selecting goto definition for a system table creates the temp definition file in the local\temp folder. But for a user table this does not work. If I test this on Version 0.31.4 this works correctly.

I have just updated to 1.1.4 and the issue still exists and says No Definition fo

[2018-10-31 16:46] bobbrow commented on #2746
Which extension are you reporting a bug for?  This repo only covers the C++ extension and we're on version 0.20.0.

[2018-10-31 17:04] warwickrudd commented on #2746
Hi Bob,

I am not really sure which extension. This functionality used to work but did not work in my user group session last night, and if this able to be resolved in time for my session on Saturday in Portland forSQLSaturday that would be great.

Thanks

Warwick Rudd
Data Platform MVP (SQL Server), Microsoft Certified Master (MCM) - SQL Server
Principal Consultant
www.sqlmastersconsulting.com.au

[2018-10-31 17:14] bobbrow commented on #2746
It sounds like you're doing database stuff.  We will not be able to help you with that.  You'll need to find the correct extension owner, or let us know which extension you're using so we can point you in the right direction.  You can use the `Extensions: Show Enabled Extensions` command to pop open the list.

[2018-10-31 17:38] alexis-belmonte opened #2747 "Doxygen comment header interpreted as a C/C++ preprocessor"
Issue Type: <b>Bug</b>

1. Create a file (can be either an header or source code)
2. Puts the standard Doxygen comment at the beggining of the file; example:
[code]
3. Check the problem list:
![image](https://user-images.githubusercontent.com/44464701/47806352-d0c13f00-dd39-11e8-92fe-1fd3b1eff96c.png)

VS Code version: Code - OSS 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-14T00:41:5

[2018-10-31 17:51] warwickrudd commented on #2746
Sorry I was in the wrong guy repository. This should have been for azure Data Studio

Thx

Warwick Rudd
Data Platform MVP (SQL Server), Microsoft Certified Master (MCM) - SQL Server
Principal Consultant
www.sqlmastersconsulting.com.au<http://www.sqlmastersconsulting.com.au>
+61 403 144 302

On 31 Oct 2018, at 1:25 pm, Bob Brown <notifications@github.com<mailto:notifications@github.com>> wrote:

It

[2018-10-31 17:52] pieandcakes commented on #2727
@YousefSaber 0.20.0 is released. Let me know if this solves your issue.

[2018-10-31 17:56] bobbrow commented on #2747
The errors are in the translation unit shared by this file.  Generally, you'll only see this in a header file, but if a .c file is included by another .c file, it is possible that you could see this problem.

Please open the file mentioned in the comment and find the `#include` that is unresolved.  If you update the `includePath` in your configuration such that we can find the missing include, the

[2018-10-31 18:08] #2746 closed, assigned to nobody

[2018-10-31 18:21] pieandcakes commented on #2526
@gordonwatts Do you have a small repro project that I can download and debug into or enable `"logging": { "engineLogging": true }` and send me the output? This should show all the gdb messages we send and receive and I'd be interested in seeing if we can determine why that shared library is not being loaded.

The `additionalSOLibSearchPath` is calling `set solib-search-path` underneath to set the

[2018-10-31 18:24] pieandcakes commented on #2745
@Stragarp Can you tell me if the debuggee needs to be running before you send `monitor reset halt`?
I see you have the enginelogging enabled. can you share the output from that? I'm wondering if it is the timing of when it is sent that it isn't happy with.

[2018-10-31 18:29] pieandcakes commented on #2740
@wpaul-magicleap I created an issue with VS Code as this is something they broke and is broken for more than just our extension.

https://github.com/Microsoft/vscode/issues/62085

If you want to commit there, that's probably the right place.

[2018-10-31 18:29] #2740 closed, assigned to pieandcakes

[2018-10-31 18:55] pieandcakes commented on #2706
This feature is available in our 0.20.0 version of the extension

[2018-10-31 18:55] #2706 closed, assigned to pieandcakes

[2018-10-31 18:56] pieandcakes commented on #2550
@Sariyn The integrated terminal feature is available in our 0.20.0 version of the extension. To use the integratedTerminal, set `externalConsole` to false in your `launch.json`.

[2018-10-31 18:56] #2550 closed, assigned to nobody

[2018-10-31 18:58] pieandcakes commented on #2489
@yamcenutzer Can you try with our newest version? The integrated terminal feature is available in our 0.20.0 version of the extension. To use the integratedTerminal, set `externalConsole` to false in your `launch.json`. I'm hoping that removing the requirement for a terminal app will allow it to work.

[2018-10-31 19:00] sean-mcmanus commented on #2743
Sorry about this (and thanks for reporting it) -- it was caused by a silly "typo" error. We plan to release a fix in a few hours.

[2018-10-31 19:01] pieandcakes commented on #2276
@maane018

If you type in the terminal that pops up it should get your input

That shows in your terminal window so i'm wondering why your app is terminating with code 133

[2018-10-31 19:04] pieandcakes commented on #2121
@iotathome

e.g. --tty=/dev/pts/28
may be this option can be configured in launch.json?

You can add the debugger arguments by specifying them in `miDebuggerArgs`.

We also added integratedTerminal support in 0.20.0. VS Code will keep the terminal window open so that should fix your issue. To use it, change `externalConsole` to false.

[2018-10-31 19:04] #2121 closed, assigned to nobody

[2018-10-31 19:05] wpaul-magicleap commented on #2740
Great.  Thanks.

[2018-10-31 20:31] sean-mcmanus commented on #2587
@ramya-rao-a Updating to the new vscode telemetry API is truncating our telemetry to 1000 characters. Our previous limit was 16384 characters. How can we increase the data limit for these particular cases that we need longer data? It looks like the regression started with 1.0.6 of applicationsInsights.

[2018-10-31 20:45] sean-mcmanus commented on #2587
This looks like bug https://github.com/Microsoft/ApplicationInsights-node.js/issues/444 . What version of vscode-extension-telemetry should we use? We're missing telemetry data which may be important so we'd like to switch to an older version.

[2018-10-31 20:58] OsvaldoRosado commented on #2587
Adding a note that even after a bugfix you shouldn't have a limit of 16K. The schema defined limit on custom dimension values is 8K, anything beyond this _should_ be dropped by the telemetry ingestion endpoint. You should consider using a telemetry type designed for large data storage, like trace, rather than custom dimensions.

[2018-10-31 21:01] ramya-rao-a commented on #2587
@OsvaldoRosado Can you elaborate on this?

@sean-mcmanus You can use 0.0.22 version of the vscode-extension-telemetry

[2018-10-31 21:04] OsvaldoRosado commented on #2587
@ramya-rao-a Custom dimensions aren't intended for storing large amounts of data. Very long strings will not be accepted by our backend. The SDK truncates to avoid the backend dropping your telemetry entirely.

If long strings must be stored in telemetry, use `trackTrace` rather than putting the string in a custom dimension. Trace telemetry has a 32K length limit on its message field, rather than

[2018-10-31 21:05] sean-mcmanus commented on #2587
@OsvaldoRosado Yeah, 8k is fine for us. I don't think we need to increase it beyond that. We can change our code to self-truncate to 8k instead of 16k.

[2018-10-31 23:49] sherryyshi opened #2751 "Allow "fuzzy" substring symbol search, similar to Go To File (CTRL+P) and Completion"
Is it possible to support substring searching in Symbol Search, just like the way the search in Go to File (CTRL+P) works today?

[2018-10-31 23:52] sherryyshi opened #2752 "Symbol Search does not work across workspace folders in a multiroot workspace"
Today every folder opened has its own instance of the cpptools “client” class, which is pretty much equivalent to having multiple VS Codes open for the different folders. Each folder has its own browse database, so things like Go To Symbol doesn’t work across folders.

[2018-10-31 23:55] sean-mcmanus commented on #2751
We already support substring search. Can you provide repro details where this is not working?

[2018-11-01 00:25] princehektor opened #2753 "[gdb][Linux] Sudo elevation not working with VSCode RunInTerminal"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**

OS and Version: Ubuntu 18, 64bit
VS Code Version: 1.28.2
C/C++ Extension Version: 0.20.0
Other extensions you installed (and if the issue persists after disabling them):

A clea

[2018-11-01 00:28] sherryyshi opened #2754 "Support for custom C/C++ formatting"
Is it possible to support custom settings for C/C++ formatting (such as indentation, new lines, spacing wrapping), similar to Visual Studio? See https://docs.microsoft.com/en-us/visualstudio/ide/reference/options-text-editor-c-cpp-formatting?view=vs-2017

[2018-11-01 00:49] sherryyshi commented on #2751
For Go To File, you can type something like `foobar` and it would be able to find `foo_baz_bar.cpp`. However for Go To Symbol, that's not possible. Some of our users noted that the experience is inconsistent. They are big fans of the Go To File substring search, and would love to have the same feature for symbol search

[2018-11-01 00:50] sean-mcmanus commented on #2754
We use clang-format for formatting, so you can change our clang_format-related settings or add a `.clang-format` file to your project to modify the settings as well. Visual Studio's formatter is a custom implementation that we might port over later, but not in the near-term -- is that what you're asking for? We may also be able to update our default clang-format settings if you know a way to make

[2018-11-01 02:35] sean-mcmanus opened #2755 "Allow comments in c_cpp_properties.json"
We'd have to switch json parsers to one that supported comments.

[2018-11-01 02:51] sean-mcmanus commented on #2743
Fixed with 0.20.1.

[2018-11-01 02:51] #2743 closed, assigned to nobody

[2018-11-01 02:51] sean-mcmanus commented on #2744
Thanks again for reporting these bugs. Fixed with 0.20.1.

[2018-11-01 02:51] #2744 closed, assigned to grdowns

[2018-11-01 03:18] rewrking opened #2756 "Option to re-use debug terminal instance"
Type: Debugger

So this is related to the new option to set "externalConsole": false to use the integrated terminal (which rules of course). At the moment in 0.20.0, every time the debugger is launched, it creates a new terminal instance (1: cppdbg..., 2: cppdbg...) which you then have to close after you're done debugging otherwise you'll find yourself with a handful of leftover ones from each tim

[2018-11-01 03:26] akbyrd commented on #2755
I'd love to see this use the exact same parser as the rest of VS Code, as opposed to trying to 'fill in the gaps' in one-off cases.

Going a step further, I really think the options in this file should be rolled into the normal vscode settings so we can benefit from global defaults, workspace specific settings, and we don't end up with an extra json file that is effectively 'other settings oh and

[2018-11-01 05:08] lh123 commented on #2743
@sean-mcmanus
## In 0.20.1. I thinks this problem still exits.
## 1. Step to reproduce:

## 2. Code:
[code]

[code]
## 3. Screenshort:
![image](https://user-images.githubusercontent.com/10697249/47834015-9c509000-ddd8-11e8-905b-ab5aff1c2d7a.png)

[2018-11-01 05:26] bobbrow commented on #2755
@akbyrd, if you only use one configuration, you can use the `C_Cpp.default` settings that we expose instead of c_cpp_properties.json.

See: https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Customizing%20Default%20Settings.md

[2018-11-01 05:29] bobbrow commented on #2754
Yes.  This is a duplicate of #657

[2018-11-01 05:29] #2754 closed, assigned to nobody

[2018-11-01 05:31] bobbrow commented on #2751
@sean-mcmanus, @sherryyshi is asking for "fuzzy" search (as we refer to it) like we have for completion, etc.

[2018-11-01 05:36] bobbrow commented on #2752
Related to #1230

[2018-11-01 08:05] ychen93 opened #2757 "Could not recognize constructor of non-STL class"
Issue Type: <b>Bug</b>

[code]

Extension version: 0.20.1
VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:18:43.347Z)
OS version: Darwin x64 16.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6360U CPU @ 2.00GHz (4 x 2000)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>f

[2018-11-01 08:55] zackgd1024 opened #2758 "Where to put .gdbinit under Windows 10"
Hello everyone

I need to debug some STL Variables.
So I must enable the GDB pretty printer in .gdbinit file by the following code under $HOME path by VSCode's definition.
`python`
`import sys`
`sys.path.insert(0, 'C:/Msys_K/msys64/mingw32/stlprettyprinter/libstdcxx/')`
`from printers import register_libstdcxx_printers`
`register_libstdcxx_printers (None)`
`end`

I have tried some paths like C:\Us

[2018-11-01 09:02] alexis-belmonte commented on #2747
Your instructions did work, thanks.
Issue closed.

[2018-11-01 09:02] #2747 closed, assigned to nobody

[2018-11-01 09:11] code-fodder commented on #296
I would just like to add my support to bobbrow's comment. In windows there are plenty of nice IDE's, but in the linux world there are only a few and most have "issues".  I have tested many IDEs for c++ (qt creator, codelite, netbeans, codeblocks, eclipse, etc...) and I have shortllisted vscode and codelite, I think vscode would be our (team of 10-15 people) tool of preference if it had refactoring

[2018-11-01 15:44] bobbrow commented on #2757
Code colorization improvements will be covered by #230.
I don't reproduce your "Peek Definition" issue (I removed the armadillo stuff since I don't have it).

![image](https://user-images.githubusercontent.com/12818240/47862359-30f3c780-ddb2-11e8-8fea-c8cc5255c604.png)

[2018-11-01 16:36] princehektor commented on #2753
@sean-mcmanus , @pieandcakes : Could you guys help me with this ?

[2018-11-01 17:01] princehektor commented on #2753
I rebooted my machine and tried debugging from VSCode. It still opens up a terminal with a different message now.

nied

[1] + Done(126)                  /usr/bin/sgdb --interpreter=mi --tty=${DbgTerm} 0</tmp/Microsoft-MIEngine-In-dvq9gn3l.eth 1>/tmp/Microsoft-MIEngine-Out-p0fhame1.28t

Press any key to continue...

This is my launch.json

        {
            "name": "(gdb) my-debug",

[2018-11-01 18:02] pieandcakes commented on #2753
We changed over to using VSCode's debugProtocol to handle terminal launching. This is now using the RunInTerminalRequest message for VS Code. Can you try changing `externalConsole` to false and see if it works? I don't know if they are blocking any other UI from spawning.

[2018-11-01 18:05] pieandcakes commented on #2758
@zackgd1024 its usually `%userprofile%` which is `c:\users\<username>`

[2018-11-01 18:07] pieandcakes commented on #2756
@andrew-r-king You will need to propose that to [VS Code](https://github.com/microsoft/vscode/issues) as the implementation of that is on their side now. We make a call to VS Code and they handle all the terminal work.

[2018-11-01 18:07] #2756 closed, assigned to pieandcakes

[2018-11-01 18:23] princehektor commented on #2753
This is the message i see in the integrated terminal after setting "externalConsole" to false.

[1] + Done(126)                  /usr/bin/sgdb --interpreter=mi --tty=${DbgTerm} 0</tmp/Microsoft-MIEngine-In-2zw8gvpe.arx 1>/tmp/Microsoft-MIEngine-Out-y60x1n13.mis

Is there any way for me to revert to the old VSCode behavior ? Will downgrading to a previous version help ?

Update : I tried downgradin

[2018-11-01 18:37] sean-mcmanus commented on #2755
We have "C_Cpp.default." settings in the normal settings.json that can set the c_cpp_properties.json settings at a user/workspace scope: see https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Customizing%20Default%20Settings.md. We did consider removing c_cpp_properties.json at one point, but we had reasons to keep it (maybe it was too much work).

Haha -- my bro

[2018-11-01 18:39] pieandcakes commented on #2753
we made the change in 0.20.0 so anything before that has the old behavior.

To be clear, this is the C++ extension that made the transition due to customer requests. You will need to roll back our extension and not VS Code.

[2018-11-01 18:44] princehektor commented on #2753
Okay. How do i do that ?

Where can i find the ".vsix" file for version 0.19.0 ?

[2018-11-01 18:48] sean-mcmanus commented on #2743
The bug isn't reproing for me. Do you know what could be special about your repro? I'm using mingw 7.3. -- I'm not sure what else could be different (maybe 8.2 is required?). One known issue is that if you open a new file/TU and then use Go to Definition/Declaration before the red flame has finished it can fall back to the old results, but if your file is small like the sample shown, this is proba

[2018-11-01 19:00] princehektor commented on #2753
I managed to get the ".vsix" file for the older version from here (https://github.com/Microsoft/vscode-cpptools/releases)

I tried to install it and it warned me that a newer version is avaiable and whether i still wanted to over-ride it. I chose yes and VSCode prompted me to reload the windows which i did.

Now when i try to debug, it says :

"Unable to start debugging. Unable to establish a conn

[2018-11-01 19:18] pieandcakes commented on #2753
* Uninstall the current version.
* Reload VS Code
* Go to File -> Preferences -> Settings and disable Extension: Auto Update
![image](https://user-images.githubusercontent.com/17558378/47874137-3b24be80-ddd0-11e8-88c8-10d85cd0f09c.png)
* Install the older version of the .vsix

[2018-11-01 19:32] dprandle commented on #296
@code-fodder @salda I develop c++ using only vscode mainly because I switch so much between operating systems. Used to use emacs but prefer vscode because configuring for c++ is so much less labor intensive, and vscode is more mainstream for extensions.

Until multi-translation unit is ready, I have been using cquery extension for c++ auto-complete/refactoring and disable the language server in se

[2018-11-01 20:34] princehektor commented on #2753
Did that but still see this error :

"Unable to start debugging. Unable to establish a connection to GDB. Debug output may contain more information"

[2018-11-01 20:47] princehektor commented on #2753
My bad. My sgdb script did not have execute permissions.

@pieandcakes : So it is confirmed that this issue does not exist in version 0.19 of the C++ extension.

Is there anyway you guys can add a new setting to toggle this new 'VSCode's debugProtocol behavior' that was introduced in version 0.20 and beyond ? This way users can toggle it as needed.

Maybe add that to the next version of the C/C++

[2018-11-01 20:58] ychen93 commented on #2757
I am using Intel C++ Compiler (with Intel Parallel Studio installed), not sure if this matters.

[2018-11-01 21:16] bobbrow commented on #2757
It might matter.
Can you share your config (`c_cpp_properties.json`)?
Or share some logs?  Follow this guide: [How to enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) and then reload the window.

[2018-11-01 23:08] akbyrd commented on #2755
It's great that the default settings exists, but I'd like to point out that that solidly falls into the 'one-off solution' category. It focuses on one aspect of the user issues that exist from having a separate settings file. I don't know what common patterns exist for other language support extensions, but with my narrow focus the separate settings file with necessarily separate behavior is a nui

[2018-11-01 23:34] bobbrow commented on #2755
I'm sorry, what separate settings file are you referring to?  `c_cpp_properties.json`?  The `C_Cpp.default.*` are not that.  They are real VS Code-style settings and when you use them, `c_cpp_properties.json` is no longer needed for configuration.

If you have suggestions for a better configuration system, we are always open to suggestions.

[2018-11-01 23:42] sean-mcmanus commented on #2597
This currently looks like this is a bug with the cl.exe compiler and it shouldn't compile (gcc/clang give errors). I'm not sure yet if the IntelliSense compiler will be updated to match the buggy cl.exe behavior or not yet.

[2018-11-01 23:48] ychen93 commented on #2757
{
    "configurations": [
        {
            "name": "Mac",
            "includePath": [
                "${workspaceFolder}/**",
                "/opt/intel/compilers_and_libraries_2018/mac/include",
                "/opt/intel/compilers_and_libraries_2018.3.185/mac/mkl/lib",
                "/opt/intel/compilers_and_libraries_2018.3.185/mac/mkl/include",
                "/opt/intel/compilers_

[2018-11-02 01:07] karera123 commented on #2176
I think I found the cause of the problem. I think it's because there's a space in user folder name "John Nikko". When I tried to create another account without space in it (user folder without space), the c/cpp intellisense worked but when i created  another account with space in it, in the debug tab shows "failed to create child process..." something like that.

[2018-11-02 02:40] lh123 commented on #2743
@sean-mcmanus
Thank you for your reply.

1. Yes, I am use MinGW-W64 8.2.0 in MSYS2.
2. Before I do Go to **Declaration**, I am sure that the red flame has disappeared.
3. Go to **Definition** works fine.

[2018-11-02 03:31] zackgd1024 commented on #2758
I've tried `c:\users\<username>`. Did not work.
However, `source` can work.
![image](https://user-images.githubusercontent.com/9695494/47892377-4c360400-de92-11e8-869f-b36a1b4dc7a4.png)

And STL printing works now.
![image](https://user-images.githubusercontent.com/9695494/47892442-a33bd900-de92-11e8-84fb-8a98a34fa932.png)

Thanks for your help @pieandcakes

[2018-11-02 03:31] #2758 closed, assigned to pieandcakes

[2018-11-02 03:32] Jackie-Yang commented on #528
@sean-mcmanus @pieandcakes
Hello~
Has this feature been realized?

[2018-11-02 06:13] Selence1988 opened #2760 "preLanchTask "build" code 1"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Additional contex

[2018-11-02 07:02] #2760 closed, assigned to nobody

[2018-11-02 08:06] lh123 opened #2761 "IntelliSense-based Go to Declaration failed in this case"
_Originally posted by @lh123 in https://github.com/Microsoft/vscode-cpptools/issues/2743#issuecomment-434932111_

## In 0.20.1. I thinks this problem still exits.
## 1. Step to reproduce:

## 2. Code:
[code]

[code]
## 3. Screenshort:
![image](https://user-images.githubusercontent.com/10697249/47834015-9c509000-ddd8-11e8-905b-ab5aff1c2d7a.png)

[2018-11-02 08:07] lh123 commented on #2761
@sean-mcmanus
Thank you for your reply.

1. Yes, I am use MinGW-W64 8.2.0 in MSYS2.
2. Before I do Go to **Declaration**, I am sure that the red flame has disappeared.
3. Go to **Definition** works fine.

[2018-11-02 09:44] rtbo commented on #65
I have tested the [windbg-debug](https://github.com/reedz/windbg-debug) extension.
It seems to work well, and CDB is much faster than GDB.
It just need very little manual configuration as indicated [here](https://github.com/reedz/windbg-debug/blob/master/src/windbg-debug-tests/test-debuggees/rust/.vscode/launch.json).

[2018-11-02 09:44] Stragarp commented on #2745
Hi @pieandcakes thanks for the answer.
I think it is exactly what you described, the command is unknown because gdb is not connected to the server yet when it tries to pass it.

After several hours of wandering on the internet, I found a solution that works fine. I'll post it there in case someone faces the same problem.

The actions I want to accomplish in the right order are :
-Start the server

[2018-11-02 11:33] krpors opened #2762 "Option(s) to suppress notifications when source files cannot be found in the debugger"
Type: Debugger

**Describe the bug**
- OS and Version: Ubuntu 16.04.05 LTS
- VS Code Version: 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850)
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them):

When debugging, a notification always pops up when a source file cannot be found, for example:

* `Unable to open 'raise.c': File not foun

[2018-11-02 16:22] code-fodder commented on #296
@dprandle I did not see much documentation for cquery for c++11... do you know if it supports that?, not that it matters too much just for refactoring, but if it replaces the vscode intellisense then it needs to have decent support for new language features (hopefully). But thanks for the pointer I will try it anyway.

[2018-11-02 16:53] bobbrow commented on #2590
Closing this since there are other issues covering it already.

[2018-11-02 16:53] #2590 closed, assigned to nobody

[2018-11-02 17:34] pieandcakes commented on #2753
@princehektor the code is in [MIEngine](https://github.com/Microsoft.MIEngine) although we removed the old behavior. I think the right way would be to either A) figure out what the issue is and have VS Code fix it or B) figure out a workaround for the problem that works.

This is on my list of items to investigate but I don't have time currently. If you want to include some logging and see if you

[2018-11-02 17:37] pieandcakes commented on #528
@Jackie-Yang We haven't had time to investigate and resolve this. The code that does the work is open sourced. The program that handles the commands is [MIEngine](https://github.com/microsoft/miengine) if you would like to investigate a fix and contribute. Otherwise, you can try using a combination of `setupCommands` and `pipeTransport` and see if that is a workaround for you.

[2018-11-02 19:05] BigfootN opened #2763 "Not correctly detecting errors"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Archlinux
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them):

  - Gruvbox Themes
  - Material Theme
  - Vim

- A clear and concise description of what the bug is.

Hello,

I noticed that the extension doesn't seem to notice all the errors and

[2018-11-02 19:16] sean-mcmanus commented on #1815
For 0.21.0-insiders (not released yet) we've added support for __int128_t and __uint128_t, but uint128_t needs to be defined by the user or library, i.e. `using uint128_t = __uint128_t;` in code or `uint128_t=__uint128_t` in the defines section of c_cpp_properties.json gets rid of the squiggles.

The static_assert(sizeof(long)==sizeof(int)) is still failing, but from what I see that is intentional

[2018-11-02 19:43] princehektor commented on #2753
The workaround for me currently is to downgrade to version 0.19 of the extension. But with this i am missing out on all the fixes and improvements in later versions.

So the workaround is okay for now but i would prefer a better long term solution.

How do i enable logging and get you the information that you needed? Please help me out here.

[2018-11-02 19:43] sean-mcmanus commented on #2763
Thanks for reporting this. The issue has already been fixed for our pending 0.21.0-insiders release next week. I assume you're using C++ though (C should not give an error in your case)...well, if you expect a compiler warning in C, then that may be fixed after we add warning support (https://github.com/Microsoft/vscode-cpptools/issues/828 ).

[2018-11-02 20:10] BigfootN commented on #2763
Thank you very much for your quick response.

I was using C in fact.

Thank you for this great extension.

[2018-11-02 20:17] micmelesse commented on #2230
Where should I start if I wanted to help with this? This feature would be very useful for me.

[2018-11-02 20:33] pieandcakes commented on #2753
Instructions are located in our [FAQ](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) Specifically, you probably want `trace` and `traceResponse` set to see what we send to VS Code and what you get back.

[2018-11-02 20:56] sean-mcmanus opened #2764 "Switching the language from C to C++ doesn't have any effect on IntelliSense"
...when using the language name in the status bar. Not sure if anyone cares about this. The workaround is to rename the file from .c to .cpp.

[2018-11-02 20:58] sean-mcmanus commented on #2763
Yeah, even with the "hidden" warnings enabled our parser doesn't show a warning for C files, so this will only be fixed for C++ in our next release.

UPDATE:

Should be fixed (for C++, not C) with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or the [offline vsix](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders)). Let us know if you find a

[2018-11-02 21:19] pieandcakes commented on #2762
@krpors The problem is that the debugger returns that as where the breakpoint is being hit and we send it to VS Code. VS Code has suggested a way for us not to display it but we aren't able to determine from gdb/lldb that this file is not part of the users debugging solution, which causes the file not found message to be displayed. If there was a way for us to figure out that the file isn't one of

[2018-11-02 21:25] sean-mcmanus commented on #2230
@micmelesse It requires changes to our closed source code, so unfortunately you can't help unless you work for Microsoft. We sometimes mark bugs that could be fixed with our open source typescript with "help wanted".

[2018-11-02 21:38] princehektor commented on #2753
@pieandcakes :This is the output from the debug console with trace, traceResponse and enableLogging set to to `true`. Let me know if this is what you wanted.

--> E (output): {"event":"output","body":{"category":"console","output":"1: (93) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'\n"},"seq":2,"type":"event"}
1: (93) LaunchOptions<LocalLau

[2018-11-02 21:42] pieandcakes commented on #2753
Thanks. If you go to the terminal window in VS Code and just try and run `/usr/bin/sgdb --interpreter=mi` what do you get?

[2018-11-02 21:46] princehektor commented on #2753
/usr/bin/sgdb --interpreter=mi
=thread-group-added,id="i1"
~"GNU gdb (Ubuntu 8.1-0ubuntu3) 8.1.0.20180409-git\n"
~"Copyright (C) 2018 Free Software Foundation, Inc.\n"
~"License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>\nThis is free software: you are free to change and redistribute it.\nThere is NO WARRANTY, to the extent permitted by law.  Type \"show copying\"\nand \

[2018-11-02 21:46] pieandcakes commented on #2753
so does that ask you for a password in a pop up box?

[2018-11-02 21:48] princehektor commented on #2753
Not in a pop up box. I was asked for the password in the integrated terminal itself.

[2018-11-02 22:02] mjohngreene commented on #2753
FYI - I am getting the exact same error:
"Unable to start debugging. Unable to establish a connection to GDB. Debug output may contain more information" on Windows 10.

A colleague with an extremely similar desktop/environment to mine is using the same launch.json and tasks.json without error.

[2018-11-02 22:09] sean-mcmanus opened #2765 "Add better IntelliSense support for mingw with -fms-extensions set"
Our current parser understands gcc/clang mode and msvc mode, but when mingw is used with -fms-extensions the are bugs, e.g. type_info isn't in std (https://github.com/Microsoft/vscode-cpptools/issues/2623 ), so we currently default to -fno-ms-extensions, which causes uses of Microsoft extensions to give errors, e.g. https://github.com/Microsoft/vscode-cpptools/issues/2363 , which seems good enough

[2018-11-02 22:15] princehektor commented on #2753
@ssctx66 : I am guessing that your colleague probably hasnt reloaded VSCode after the C/C++ plugin update.I could be wrong though.

For me, i got the error when my sgdb file did not have execute permissions which i fixed with a chmod.

[2018-11-02 22:27] mjohngreene commented on #2753
Sorry, @princehektor, but I don't speak linux terribly well.

My colleague has left for the day but he did confirm that he was using v0.20.1 (as am I).

The last few lines of my "Debug Console" output:

[code]
This output is the same as before up until the last line.   It's as though the GDB server is unable to launch.  I can launch GDB from command prompt/terminal, though.

[2018-11-02 22:31] sean-mcmanus commented on #2422
Adding this line to "cc" is a workaround (but that workaround is insufficient in more complicated scenarios):

[code]

[2018-11-02 22:55] pieandcakes commented on #2753
@ssctx66 Yours is on Windows which is a different implementation of what our problem is here on linux. Can you open a new issue with your `launch.json` so I can understand what it is you are passing?

[2018-11-02 22:57] pieandcakes commented on #2753
@princehektor I think I have a workaround for you.

I created a new script called `/usr/bin/sgdb` which has the following line in it:
[code]

and then it works (it pops up a window asking for credentials). Will this work for you?

[2018-11-02 23:02] sean-mcmanus commented on #2757
This is really strange -- what does it show if you hover over the x1 variable? If you add the code below to foo does it work?
[code]
i.e. does it look like there's some problem parsing the vector type or is go to def more broken in general for local variables? Does Go to def for the vector work if it's defined as a global variable?

[2018-11-02 23:07] princehektor commented on #2753
@pieandcakes : So this is what i have in my gdb file right now.

#!/bin/sh
sudo gdb $@

You want me to add the line(pkexec /usr/bin/gdb $*)  at the end or instead of the sudo gdb line?

[2018-11-02 23:10] pieandcakes commented on #2753
@princehektor Yes please. When I did that, it worked for me. I think instead of invoking `sudo` use `pkexec` and it should work for you. It is just another program to prompt for elevation and I think its a default on Ubuntu.

[2018-11-02 23:16] princehektor commented on #2753
Okay i tried that. My sgdb file looks like this now

#!/bin/sh
pkexec /usr/bin/gdb $*

Like you mentioned, it opens up a terminal and prompts for my password. But after i enter my password, i get this message :

"Unable to start debugging. Unable to establish a connection to GDB. Debug output may contain more information"

This is the output from the debug console.

1: (127) LaunchOptions<LocalLau

[2018-11-02 23:53] pieandcakes commented on #2753
@princehektor did you close a window? I'm seeing `Shell exited, stop debugging` where it thinks the shell window was closed? Can you try with `externalConsole` set to `false` ?

[2018-11-03 00:00] princehektor commented on #2753
@pieandcakes : My bad. I was trying out the new sgdb file changes without reloading VSCode. Therefore it will still using the old version of the C/C++ extension.

Once i reloaded, i get the same message as before :

Password:  [1] + Stopped (tty output)       /usr/bin/sgdb --interpreter=mi --tty=${DbgTerm} 0</tmp/Microsoft-MIEngine-In-4g0gtl2r.fvg 1>/tmp/Microsoft-MIEngine-Out-877qnd71.t7p

It doe

[2018-11-03 00:04] pieandcakes commented on #2753
I don't know why I'm not seeing the same thing. my `/usr/bin/sgdb` is literally `pkexec /usr/bin/gdb $@` and I ran a simple hello world with elevation. It prompts me to elevate and I enter my password and it works. I've tried it with both `externalConsole` true and false. Can you try a simple C++ program?

[2018-11-03 00:08] sean-mcmanus opened #2766 "Add new Mac LIBCPP defines to cpp.hint"
Currently, with Mac OS 10, macros _NO_EXCEPT_DEBUG, _LIBCPP_BEGIN_NAMESPACE_STD and _LIBCPP_END_NAMESPACE_STD need to be added to cpp.hint. Let us know if you know of more that need to be added (i.e. #defines that use { or occur at then end of function definitions).

UPDATE:

Should be fixed with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or manually installed f

[2018-11-03 00:15] princehektor commented on #2753
Same thing with a simple hello world program. It lets me enter the password in the terminal but then just shows me the "unable to start debugging" error.

Again,  all this  is with the C/C++ extension version 0.19. With the latest version, it is the same old tty problem the external terminal just closes when i enter any key.

Why was this changed in version 0.20 and above for everyone ? I mean why

[2018-11-03 00:19] pieandcakes commented on #2753
@princehektor If your `sudo` solution works with 0.19.0 don't change it. my suggestion for `pkexec` was with `0.20.1`. I didn't try it with 0.19.0. I don't understand how you see a tty issue with 0.20.1 when using pkexec since it should be popping up to ask for UI.

We have been asked by VS Code to support their way of launching terminals and to conform to what other extensions do.

[2018-11-03 00:27] princehektor commented on #2753
@pieandcakes : Well that is unfortunate. For the time being i can continue using version 0.19.0 but i hope you guys can figure out a way to fix this so that we can get all the fixes you guys add with newer versions.

 More and more people are going to run into similar issues i feel.

[2018-11-03 00:30] pieandcakes commented on #2753
On my machine, with 0.20.1 I can use my `pkexec` solution and it works. If you want to dig into it, we can try and figure out why it doesn't work for you.

I setup a clean Ubuntu 18.04 VSCode and the 0.20.1 version of the extension and it works fine too, so I don't know if it has to do with some other configuration you have set within VS Code.

[2018-11-03 00:31] princehektor commented on #2753
@pieandcakes : With version 0.20.1, it does open a new terminal and it looks like it is prompting for password but before i have a chance to enter the password, the tty problem hits.

Password: [1] + Stopped (tty output)       /usr/bin/sgdb --interpreter=mi --tty=${DbgTerm} 0</tmp/Microsoft-MIEngine-In-iwzc6aiq.feu 1>/tmp/Microsoft-MIEngine-Out-r36u9ljh.zrr
You have stopped jobs.

Press any key to

[2018-11-03 00:33] pieandcakes commented on #2753
Are you using a custom terminal instead of the default terminal in VS Code? That's the only other thing I can think of. Also, with `pkexec` in your sgdb file it shouldn't show the password message in your output. That's what confuses me.

If you can give me something to repro this I'll debug it, but on my clean Ubuntu machine it is working.

[2018-11-03 00:39] princehektor commented on #2753
Not using any custom terminal. I dont have gnome-terminal installed - only xterm and xfce terminal.

When i use version 0.19.0 and everything works, xterm opens up prompting for password and then i can continue on debugging.

I will ask my other colleagues to try it out as well and let you know the results.

[2018-11-03 00:40] ychen93 commented on #2757
It seems like a local variable issue. If I define x1 as global, it works fine. (But not for arma::vec x1)
Besides, there is always suggestion to include 2017 version of Intel Parallel Studio for \#include\<vector\>
![screen shot 2018-11-02 at 5 39 33 pm](https://user-images.githubusercontent.com/18510605/47946255-6ee21000-dec6-11e8-814d-131acbfc4062.png)

[2018-11-03 01:34] sean-mcmanus commented on #2608
I filed a bug with Visual Studio at https://developercommunity.visualstudio.com/content/problem/374666/c-intellisense-reports-incorrect-more-than-one-ope.html .

I got a simpler isolated repro:

[code]

[2018-11-03 02:07] sean-mcmanus commented on #2757
Go to Def is not using the IntelliSense-based version because it fails to locate the definition of vector. Can you set your compilerPath to the Intel compiler? Setting the libraries directly in the includePath is error prone because there could be ordering/dependency issues. If you enable logging (https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logg

[2018-11-03 02:20] viridia commented on #2762
I've been running into this problem as well. It gets tedious after about the hundredth time you dismiss the dialog asking if you want to create a source file for "raise.c".

What would work for me is simply a button on the dialog that says "don't ask me again" for this particular file. That is, the first time it pops open the dialog telling me that it can't find "raise.c", I'd click on the button

[2018-11-03 02:41] mxdh commented on #2648
@AEM5299 If you haven't solved this problem yet,you can try it:
c_cpp_properties.json
[code]
settings.json:
`"C_Cpp.default.intelliSenseMode": "gcc-x64"`

[2018-11-03 02:50] Jackie-Yang commented on #2739
Misoperation...

[2018-11-03 02:51] mxdh commented on #2717
Could you try setting "includePath" and "browse"?
For example:
[code]

[2018-11-03 03:29] daigennki commented on #2717
I appreciate the help, but I think I did that before and it did not fix anything. For some reason though, the issue fixed itself before you commented. Although I am not absolutely sure if this is why, I think my installation may have been weird. I updated MinGW32 using msys64 as well as installed MinGW64 since I was going to move to 64-bit, and I only noticed after that, that the "errors" disappea

[2018-11-03 03:29] #2717 closed, assigned to nobody

[2018-11-03 04:52] dprandle commented on #296
@code-fodder Yes it does - it supports anything that clang 6 supports as that is what it uses (at the time I built it)  - it builds with its own version of clang and is straight forward to set up. It uses a compile_commands.json for configuration - so depending on your build system that *could* be a pain to set up. I use cmake so it works just fine. Though it uses it's own version of clang as its

[2018-11-03 08:33] hungys commented on #2628
+1

In a large project, I can not even get any result from "Go to symbol in workspace".

[2018-11-03 08:40] hungys commented on #15
Will the "Find All References" feature be available under "Tag Parser" mode?

I have tried another extension called "C++ IntelliSense", which is based on GNU Global tagging system and it works well. I think it's also possible to be implemented in "Tag Parser" mode.

[2018-11-03 08:53] persidskiy commented on #2533
@sean-mcmanus But it would be nice if VSCode simply supported resolving `#import` statements and some objc-awareness, not real intelligence engine.

Because projects for Mac/iOS usually have mixed codebases in cpp, objc, objc++. And the worst part is that objc/objc++ use the same `.h` files for headers, so every objc header I open is being treated as cpp and vscode highlights a lot of Problems in

[2018-11-03 11:53] ghost commented on #2176
@butchiki  Yea, that may be case. Coz I too have a space in my username where intellisense failed, although the target file(cpp) was in a different location(without any spaces).

[2018-11-03 18:40] mjohngreene opened #2767 "GDB - unable to debug on Windows 10 after version update to 0.20.1"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): Python

[2018-11-03 20:03] AEM5299 commented on #2648
This solved my issue. Thanks and sorry for the late reply!

[2018-11-03 20:03] #2648 closed, assigned to nobody

[2018-11-04 11:39] Angelo1211 commented on #2176
Having the same issue here, although it has only appeared in the last ~2 days or so. Could this possibly mean anything? I got it from the VSscode window log .

![image](https://user-images.githubusercontent.com/11263073/47963595-a075eb00-e02e-11e8-9404-2d4ec0222e12.png)

[2018-11-04 19:37] xLobito commented on #2765
Greetings.

https://github.com/Microsoft/vscode-cpptools/issues/2433. This topic covers the issue as well (Either on Linux, or MinGW).

[2018-11-04 19:46] MikuHatsune39 opened #2768 "Language Server Crashing"
Issue Type: <b>Bug</b>

When I open up vscode I get a popup saying:
"The language server crashed 5 times in the last 3 minutes. It will not be restarted."

Extension version: 0.20.1
VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2018-11-04 22:18] mjohngreene opened #2769 "Include errors for .h files in c_cpp_properties.json includePath"
Type: Debugger
**Describe the bug**
OS and Version: Windows 10
VS Code Version: 1.28.2
C/C++ Extension Version: 0.20.1
Other extensions you installed (and if the issue persists after disabling them): Python (Microsoft) 2018.9.2

I get some strange "Problems" when working with a project that compiles successfully and seems to run OK.  I highlight/ask about them, though, because I don't like having

[2018-11-05 02:46] DeepSeaDelight commented on #2176
I'd like to add into here, as a layperson learning to code in C++ on Mac, every time XCode is updated by Apple and the update is installed, VS Code "forgets" where the includePath is after installation is complete... Almost as if it's forgetting the location of XCode's C++ libraries.

The directions to figure out how to fix that on my own are rather cryptic, especially for someone like myself that

[2018-11-05 09:47] yilinfang opened #2770 "the extension keeps updating dependencies, but always failed"
the internet connection is fine, can i download the offline package or just stop the extension updating dependencies forever.

[2018-11-05 11:02] aunsbjerg commented on #2770
Being behind a coorporate firewall or proxy can cause the extension to never update.

You can do an offline install by downloading the .vsix file from the release page which is appropriate for your system. In vscode, you can then install the downloaded vsix file by typing in "vsix" in the command pallette (ctrl+p).

You will have to do this everytime cpptools updates though.

[2018-11-05 11:48] yilinfang commented on #2770
I have two pc , the updating process works very well in  win10 but always failed in mac os, maybe the sever provides the macos-cpptools has problem?

[2018-11-05 15:45] HolyBlackCat opened #2771 "[MinGW/Cygwin] Send SIGINT automatically when sending breakpoints"
Issue Type: <b>Bug</b>

Pretty much what the title says.

If I add a breakpoint after starting the debugger, it becomes grayed out, with 'unverified breakpoint' tooltip. The application doesn't seem to hit it.

How to reproduce:

Create `test.cpp` with following contents

[code]

Compile it with `g++ -g test.cpp -o out.exe`.

In the same directory, create `.vscode/launch.json` with following conte

[2018-11-05 16:37] bobbrow commented on #15
Tag Parser mode won't be accurate enough, so we do not have plans to implement it in tag parser mode.  Tag parser mode would give you results similar to VS Code's global search.

[2018-11-05 16:47] bobbrow commented on #2769
Does it work with this configuration?

[code]

[2018-11-05 16:50] bobbrow commented on #2176
@DeepSeaDelight, are you hardcoding the system include path into your configuration?  If you are using the `compilerPath` property to set your compiler (e.g. `"/usr/bin/clang"`) all you would need to do is reload the VS Code window to pick up the new compiler.  We don't detect if the compiler is updated out from under you right now.

[2018-11-05 17:20] rewrking commented on #2771
This trips me up all the time, but it seems to be a gcc specific thing. First make sure you compile your debug build with -g & -Og (don't use any other optimizer flag in debug). Next you have to be aware of this limitation:

https://code.visualstudio.com/docs/languages/cpp#_known-limitations

So for instance if you're writing a game and have a game loop that updates/draws every frame, you have to

[2018-11-05 17:23] mjohngreene commented on #2769
No, @bobbrow, that is what I started with before spending the better part of a day "resolving" (ie, adding to "includePath") all of the errors/problems that were appearing when I first loaded this project in VSC.  I did a fair bit of research before I started adding in all the individual "includes" based on this piece from an Mbed developer: https://gist.github.com/janjongboom/13e96a66b5b167597c70

[2018-11-05 17:50] HolyBlackCat commented on #2771
@andrew-r-king I'm already using `-g` with no other flags, as the issue says.

Thanks for the Ctrl+C trick! It looks like a reasonable workaround.

But if sending SIGINT manually works, couldn't VS code send it automatically when I place breakpoint while a program is running?

Also, in CodeBlocks placing a breakpoint somehow works as expected. Maybe they're doing just that?

[2018-11-05 17:59] pieandcakes commented on #2771
@HolyBlackCat We have tried to work around this on Windows and haven't found a good way to send SIGINT to MinGW (or CYGWIN). The only way to set the breakpoint is what @andrew-r-king  has mentioned, to send SIGINT yourself and stop and then set breakpoints OR set a breakpoint ahead of time (or use `stopAtEntry`) and set your other breakpoints. If we could send SIGINT to the debugger during this pr

[2018-11-05 18:03] pieandcakes commented on #2770
@yilinfang We upload the packages to the same service. I have verified that macOs works although I don't know why it doesn't in your instance.

You can download the offline macOs releases from our [release tab](https://github.com/Microsoft/vscode-cpptools/releases).

[2018-11-05 18:11] bobbrow commented on #2769
If you use `${workspaceRoot}/**` you don't need to include any of the paths underneath it.  The `**` tells the extension to search recursively for include paths.  Including mingw system include paths is incorrect because you are not using that compiler.

Can you open mbed.h and confirm that it tries to include "drivers/LocalFileSystem.h"?  I just cloned mbed-os and mbed.h is including "platform/Lo

[2018-11-05 18:33] pieandcakes commented on #2767
@ssctx66 with the new feature to use the integrated terminal, we added some redirection. Can you see if setting `avoidWindowsConsoleRedirection` to `true` fixes it? Also, can you try and downgrade the extension to `0.19.0` and repro this with the logging enabled to help me understand why gdb is not initializing properly?

[2018-11-05 18:42] pieandcakes commented on #2745
@Stragarp thank you for providing a solution. It sounds like it is timing dependent and may warrant a further look when we have time to see if we can offer a pre and post set of commands to run before and after the debuggee is loaded.

[2018-11-05 19:14] HolyBlackCat commented on #2771
@pieandcakes I've rummaged in CB sources a bit, and found a part where they're sending the interrupt.

Here it is, function `DebuggerGDB::DoBreak`:
http://svn.code.sf.net/p/codeblocks/code/trunk/src/plugins/debuggergdb/debuggergdb.cpp

[2018-11-05 19:34] greennerve commented on #2668
Problem seems to be fixed for me after the latest update v0.20.1

[2018-11-05 19:46] sean-mcmanus commented on #2433
@xLobito This issue is "fixed" now, i.e. using -fms-extensions should work for this particular scenario. The other bug is for fixing other bugs that occur in this mode, such as typeinfo handling, which prevents us from setting -fms-extensions by default. I recommend trying -fms-extensions out if your code uses the extensions a lot, but if you hit more issues with it on, then turn it off.

[2018-11-05 19:47] #2433 closed, assigned to nobody

[2018-11-05 19:54] sean-mcmanus commented on #2768
We need a call stack (or a way to repro it). Does the bug repro with a folder when no C/C++ file is open but you have a c_cpp_properties.json (i.e. and an Edit Configuration command) Can you attach a debugger to the Microsoft.VSCode.CPP.Extension.exe process before it crashes? If not, can you clone our repo at https://github.com/Microsoft/vscode-cpptools/tree/release , put a breakpoint after the l

[2018-11-05 21:16] mjohngreene commented on #2767
@pieandcakes I can't seem to find the `avoidWindowsConsoleRedirection` setting.

Similarly, I can't seem to find much guidance about downgrading a VSC extension aside from this: https://tpodolak.com/blog/2017/04/09/downgrading-visual-studio-code-extension/.  Is the downgrade process described in the link OK?  I will do after trying the "windows redirection" fix above so please advise on both.

[2018-11-05 21:44] sean-mcmanus commented on #2176
I'm not able to repro any bug when there's a space in my user name using WSL/gcc -- maybe there's some additional repro requirement?

[2018-11-05 21:49] karera123 commented on #2176
I really don't know what's the real cause, but in my case, having a space in the user folder name makes the intellisense crash (can't create a child process). So my solution is to create a new account in Windows 10 without space in its user folder and now the intellisense works perfectly.

[2018-11-05 22:34] mjohngreene commented on #2769
I added the mingw paths after much searching, no resolution, and seeing your comment https://github.com/Microsoft/vscode-cpptools/issues/1041#issuecomment-330885162.  IOW, those paths are what appeared with `gcc -v -E -x c++ - `  I did not really expect adding them was going to help but did it as a bit of last ditch effort as nothing else seemed to resolve the problem.

mbed.h definitely does not

[2018-11-05 22:37] mjohngreene commented on #2767
Also, note that my colleague is using v0.20.1 without issue (ie, GDB launches and is functional).

[2018-11-05 23:30] bobbrow commented on #2769
No worries.  The comment you referenced is obsolete now.  `"compilerPath"` was added to fix all the config problems we were seeing with system include paths.

I'm having a hard time making any sense out of that website and how to get the examples and their dependencies downloaded to match what I see in your screenshots.  The setup.sh only gets some ISL29011 dependency, but not the mbed-os repo.  B

[2018-11-06 00:10] yilinfang commented on #2770
@pieandcakes fine, i will do my work with my windows, thanks a lot.

[2018-11-06 00:10] #2770 closed, assigned to pieandcakes

[2018-11-06 00:20] pieandcakes commented on #2767
Is your colleague using it with the same scenario? If so, then that is weird.

`avoidWindowsConsoleRedirection` is a setting in your `launch.json`.

Downgrading would be:
* uninstall the extension (may require a restart of VS Code).
* In VS Code, File -> Preferences -> Settings turn auto update extensions off (may require a restart of VS Code).
* download the version you want to install from our [

[2018-11-06 00:20] princehektor commented on #2753
@pieandcakes : I have some good news for you.

One of my colleagues updated the extension to version 0.20.1 and used "pkexec gdb" instead of "sudo gdb" in the sgdb file. Everything worked fine with no problems. He was also able to use the integrated terminal for debugging.

One of the differences between our setups is that my colleague was using the Ubuntu machine natively whereas i am using VNC t

[2018-11-06 00:21] pieandcakes commented on #2753
Thank you for investigating. I'll consider this resolved then.

[2018-11-06 00:21] #2753 closed, assigned to nobody

[2018-11-06 00:23] princehektor commented on #2753
Yeah sure. Thanks a lot for your help with this. Much appreciated.

[2018-11-06 00:56] hungys commented on #15
@bobbrow In a large project, global search and "Go to Symbol in Workspace" are both SLOW to use. I have tried other GNU Global based extension (e.g., C++ IntelliSense) which implements "Find All References" feature, and it's blazing fast and really convenient when browsing code. Without "Find All References", it's hard for me to choose "Tag Parser" mode of C/C++ extension over other tag-based exte

[2018-11-06 01:03] pieandcakes commented on #2767
Looks like I forgot to add the property to the schema.

I've created a [pull request](https://github.com/Microsoft/vscode-cpptools/pull/2772) to fix it. in the meantime you can specify the property and set it to `true` and we will understand it.

[2018-11-06 01:40] nolobot opened #2773 "C/C++ Intellisense not/incorrectly highlighting .h files all of a sudden"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
Windows 10 version 10.0.17134 Build 17134
- VS Code Version:
1.28.1 (September 2018)
- C/C++ Extension Version:
C/C++ IntelliSense (by MS), version 0.20.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
IntelliSense does not actually sense valid

[2018-11-06 02:00] sean-mcmanus commented on #15
@hungys Sure, we can check if our implementation of Find All References is faster or better than VS Code's global search -- I believe the Tag Parser scenario would be the same code (so no significant additional work), just omitting the IntelliSense symbol filtering/checking, so it'll get results that are "unconfirmed", which matches VS's behavior.

[2018-11-06 02:02] sean-mcmanus commented on #2773
What version of VS Code are you using and what OS? This is most likely a VS Code bug.

[2018-11-06 03:07] gudspelr opened #2774 "Intellisense fails to infer result type of lambas beyond "__result_type""
[code]
NB: Visual Studio intellisense manages to at least infer that the result type is a tuple, but, it also fails to infer the types in the structured binding

[2018-11-06 03:26] sean-mcmanus commented on #2773
Our extensions doesn't implement the colorization, so I don't think disable/enable will help.

[2018-11-06 03:31] sean-mcmanus commented on #2761
The usage of "__catch()" in stl_list.h caused our parser to parse the file incorrectly (i.e. parsing the insert call as a declaration). Adding "#define __catch()" to the cpp.hint file in our extension install location should "workaround" the issue after also doing a Reset IntelliSense Database command. We should have a fix in our Insider release later this week.

![image](https://user-images.githu

[2018-11-06 03:50] sean-mcmanus commented on #2774
It's not reproing for me. What OS and compilerPath, intelliSenseMode, etc. are you using in c_cpp_properties.json. I assume you're on 0.20.1 of the extension?

![image](https://user-images.githubusercontent.com/19859882/48041860-00a28500-e134-11e8-864b-5905f5ac82bb.png)

[2018-11-06 03:56] sean-mcmanus opened #2775 "Switching configs and Reset IntelliSense Database can lead to failures when recursive includes are used"
The recursive includes code that causes files to parse doesn't abort when switching configs or reset intellisense database is done. This can cause problems, such as the correct files not being parsed. Using a Reload Window afterwards seems to fix the issues. Not sure how important this is to fix.

[2018-11-06 04:46] lygstate commented on #2252
+1 for me

[2018-11-06 05:06] lygstate opened #2776 "Ctrl+ Mouse Click can not navigate to Qt file QFileInfo QObject and so on. #62634"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
1.28.2
- C/C++ Extension Version:
0.20.1
- A clear and concise description of what the bug is.

**To Reproduce**

1. Create a Qt Project
2. Create cpp file with a line `#include <QObject>`
3. Does this issue occur when all extensions are disabled?: Yes/No
4. Ctrl+Mouse click on `QObject`, can not navigate to that

[2018-11-06 05:45] akbyrd commented on #2755
I didn't realize the json file was no longer necessary when using `C_Cpp.default.*`. That's actually exactly what I was hoping for. The 'default' name threw me off, I guess.

Honestly, with that I don't see a strong reason to keep the json at all. I'd just as soon see `C_Cpp.default.*` become the standard way of configuring the extension. Though maybe something like `cpp.config.*` would be more in

[2018-11-06 08:52] gudspelr commented on #2774
I didn't realize the c_cpp_properties would have an impact.  The c_cpp_properties is for linux, but I was opening it in Windows.  Opening the same folder under linux with the same :
[code]
 yields effectively the same results, except I have `<type>` instead of `<error-type>` for the structured binding, and no squiqqly under the "[".

However, deleting the c_cpp_properties results in it showing the

[2018-11-06 09:02] gudspelr commented on #2774
Interestingly, in linux, hovering over the word `decltype` shows the correct return type.

[2018-11-06 09:02] VirFunc opened #2777 "How can I keep this semicolon here?"
Issue Type: <b>Bug</b>

I typed a line of code like this.

//This is my code
![image](https://user-images.githubusercontent.com/28671722/48052326-9563bc00-e1e2-11e8-8508-b155d9521514.png)

And I turned this on.
![image](https://user-images.githubusercontent.com/28671722/48052111-09ea2b00-e1e2-11e8-8414-6a9d4d9f5d1b.png)

Then when I typed semicolon behind it.

![image](https://user-images.githubus

[2018-11-06 09:37] gordonwatts commented on #2526
Sorry to take so long to reply @pieandcakes. Unfortunately, the repro isn't public, but for no good reason. This is just research at CERN, so... I've gotten the output from enable logging.

I am *far* from a gdb expert, but I think `solib-search-path` just alters the search path for so's that gdb is loading, not that the system is trying to load.

### Crashed

The launch.json contents:
[code]

And

[2018-11-06 09:41] gordonwatts commented on #2526
One other thing to note - the env variables, like ROOTSYS, are never sent over. Perhaps you need to use the set environment command? http://sourceware.org/gdb/current/onlinedocs/gdb/Environment.html - for that and LD_LIBRARY_PATH (though I don't know how you get the current LD_LIBRARY_PATH and update it if need be).

[2018-11-06 09:48] chrmarti opened #2778 "Unable to debug with GDB"
_From @Dreace on November 6, 2018 9:20_

Issue Type: <b>Bug</b>

Appears when debugging with GDB
ERROR: Unable to start debugging. Unexpected GDB output from command "-exec-run".
There are some codes that have this problem and some have no such problem.
This is my code
[code]

VS Code version: Code - Insiders 1.29.0-insider (bdfe4fd41f6a5fe538197b3cba937230249a563a, 2018-11-04T13:04:20.759Z)
OS ve

[2018-11-06 10:04] mdmozibur opened #2779 "Please configure the cpp_properties file to use gcc compiler instead of MSVC compiler."
I think  a lot of people, if not all of them, use VSCode for c++  to compile files with gcc compilers. But the default include path or compilerPath or browse path aren't set to gcc default folder. It ' ll be a great help if I download this extension and have all the settings working correctly.

It's very annoying to do all the settings manually.

Or please add an option to choose between MSVC and

[2018-11-06 13:33] sirbabyface commented on #2290
What I did was adding to the `c_cpp_properties.json` file (inside .vscode folder) and add the include paths for the headers files of your WSL installation. In my case I add the following option:

`"includePath": [
                "C:\\Users\\<username>\\AppData\\Local\\Packages\\CanonicalGroupLimited.UbuntuonWindows_79rhkp1fndgsc\\LocalState\\rootfs\\usr\\include\\linux",
                "C:\\User

[2018-11-06 13:35] sirbabyface commented on #2013
Is this issue planned to be fixed?

[2018-11-06 13:37] mjohngreene commented on #2767
I tried adding `"avoidWindowsConsoleRedirection": true` to my `launch.json` but did not work.  I then downgraded to v0.19.0 and things seem to be working smoothly.

[2018-11-06 13:43] mjohngreene commented on #2769
Yeah, it took us a while to figure out exactly how to get the various libraries/repos properly installed.
 The vendor, Multitech, has two offerings (mdot and xdot) that use the exact same development setup except for an individual library specific to each.  We use an mdot and, therefore, manually install https://os.mbed.com/teams/MultiTech/code/libmDot-mbed5/.

And just to complicate things a litt

[2018-11-06 14:26] pagdot opened #2780 "support relative paths for forcedInclude"
I'd like forcedInclude to use the specified include paths. At the moment it is necessary to specify the full path.

[2018-11-06 14:51] RobRuckOB commented on #2726
Just to give my contribution, I too have been on a similar quest for intellisense that works (Visual Studio has spoiled so many of us) and have found similar issues as @Zyrsha with C++ intellisense - Tag Parser works, kinda, but the Default engine just will not behave. @bobbrow, after seeing some of your suggestions above I've gone back and taken another look at it.

For me there are two overarchi

[2018-11-06 17:08] dfdumaresq commented on #1017
Has there been any progress on this for VS Code users?

[2018-11-06 18:30] pieandcakes commented on #2013
There isn't a fix currently in the works.

[2018-11-06 18:48] pieandcakes commented on #2767
@ssctx66 Is your colleague going through the same scenario using 0.20.1 that you are? If so, we would need to know what the difference is in how the setup differs to figure out what the problem.

[2018-11-06 20:31] sean-mcmanus commented on #2776
With recursive includes, you may need to save the file after adding a new #include line in order for the QObject folder to get picked up. Does that fix the issue? If not, can you [Enable Logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) and see if the QObject path is being reported as being used when you open the file for the 1st

[2018-11-06 21:06] pieandcakes commented on #2778
@dreace can you post what your error in the output window is? `gdb` is reporting an error when it tries to run your program .

[2018-11-06 21:26] sean-mcmanus commented on #2726
@RobRuckOB "Failed to read response from server" means our IntelliSense process crashed, usually it's due to our parser. If you can attach a debugger to the Microsoft.VSCode.CPP.IntelliSense.msvc process to get a call stack of the crash and/or an isolated code snippet that causes the crash then that would help to fix it (on Mac, a crash log file is usually created by the OS). Our pending 0.21.0-in

[2018-11-06 22:07] sean-mcmanus commented on #2774
Okay, I'm able to repro all the issues when using gcc as the compiler on Windows -- it says "cannot instantiate `std::tuple_element` for `<0, "const resultType">`. It doesn't repro when using cl.exe/msvc-x64 mode (and the red squiggle doesn't appear with mingw or clang+Linux).

[2018-11-06 22:46] mjbvz opened #2781 "Upgrade to VS Code's webview API"
Hi, I'm on the VS Code team. I noticed that your extension uses the `vscode.previewHtml` command which is deprecated and which we are actively working to remove: https://github.com/Microsoft/vscode/issues/62630

We've developed a [webview API][docs] that provides a much better developer experience and offers a number of important security and compatibility benefits over `previewHtml`. We cannot fi

[2018-11-07 00:47] sean-mcmanus commented on #2777
I would recommend disabling FormatOnType. We haven't implemented Visual Studio's formatting and instead just call clang-format on the line.

[2018-11-07 00:53] sean-mcmanus commented on #2779
If you don't have cl.exe installed and have WSL'S /usr/bin/gcc (etc.) installed we will choose that default. Are you on Windows? What compilerPath are you setting manually? We have a user-level C_Cpp.default.compilerPath setting you can set once.

[2018-11-07 00:59] sean-mcmanus commented on #2773
Does the bug repro if you disable the C/C++ extension? If so, can you file a bug with VS Code itself at https://github.com/Microsoft/vscode/issues ?

[2018-11-07 01:07] sean-mcmanus commented on #2731
Do you have any more info on how to repro this?

[2018-11-07 01:10] sean-mcmanus commented on #2730
If you [Enable Logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) do you see any error messages?

[2018-11-07 01:57] sarthchawla commented on #2730
With the latest update my problem got resolved actually. Thank you

On Wed 7 Nov, 2018, 6:40 AM Sean McManus, <notifications@github.com> wrote:

[2018-11-07 02:54] lygstate commented on #2776
The following are the logging.

[code]

For iostream, it's found, for QObjecyt, it's can not found.

[2018-11-07 02:55] lygstate commented on #2776
For QObject, only have
[code]
For iostream, it's have
[code]

[2018-11-07 04:53] #2730 closed, assigned to nobody

[2018-11-07 04:54] sean-mcmanus commented on #2776
Is your loggingLevel set to Debug? I'm not seeing the compilation arg output.

[2018-11-07 05:03] sean-mcmanus commented on #2490
That file doesn't have the '@' character in it. Was it updated? Or what line in that file has the incorrect syntax? Our extension doesn't implement the coloring but if we can get repro we can file a bug with atom/language-c.

[2018-11-07 05:36] invedj opened #2782 "Support gnu standard versions for querying compiler"
Hi, I am receiving the error `identifier "CLOCK_MONOTONIC" is undefined` from cpptools for the below code, which I don't receive when compiling with gcc. If I include `"defines": ["_POSIX_C_SOURCE 199309L"]` in `c_cpp_properties.json` then the issue is resolved and cpptools doesn't complain.

My question is, why is this behavior different when I compile with gcc? I believe the default C standard f

[2018-11-07 05:49] bobbrow commented on #2755
Compatibility is the main reason we keep it.  I'm confident we would get a lot of complaints if we removed it.

Another reason is that the json file allows you to create multiple configs if you need to switch back and forth between, say, "release" and "debug" or something like that.

[2018-11-07 05:50] bobbrow commented on #2755
Closed this for the wrong reason.  The original issue is not addressed yet.

[2018-11-07 05:53] bobbrow commented on #2290
@sirbabyface, you should avoid putting the system include paths in the `includePath` setting.  Use `compilerPath` instead and point it to `/usr/bin/gcc` so the extension can set the correct system include path and defines.  (the extension will understand linux paths when you set the `compilerPath` in this way).

You can use wslconfig.exe to select which distro is the active one.

[2018-11-07 05:53] #2290 closed, assigned to nobody

[2018-11-07 05:56] bobbrow commented on #2769
Using the older mbed-os didn't seem to make any difference for me.  I'll download mDot tomorrow (thanks for the link, I couldn't find it).

[2018-11-07 06:00] bobbrow commented on #2780
What exactly do you mean?  `"forcedInclude": "foo.h"` will use the `"includePath"` to locate foo.h?

[2018-11-07 06:13] bobbrow commented on #2726
@RobRuckOB headers are a particularly difficult problem.  Before starting IntelliSense on a given header, our extension attempts to find an existing IntelliSense process that already includes that header or some  cpp file in your workspace that includes it so that the full context can be available.  If you are having trouble with IntelliSense on headers, you can open any cpp file that directly/ind

[2018-11-07 06:28] lygstate commented on #2776
[code]

[2018-11-07 06:29] lygstate commented on #2776
I am using
[code]
How I provide a list of files that provided by `vector-of-bool.cmake-tools` ?

[2018-11-07 06:45] bobbrow commented on #2777
And please go upvote #657 if you would like true Visual Studio formatting.

[2018-11-07 07:34] ghost commented on #2778
![](https://ws1.sinaimg.cn/large/d3255351ly1fwzj8l9ffaj21hc0smadw.jpg)
This is the output of the debug window

[2018-11-07 07:51] mdmozibur commented on #2779
Yes, I am on windows. I set the compilerPath to MinGW gcc bin folder. And yes, I have Visual Studio installed with VC++ (is that what you mean by cl.exe?). But look, we users normally don't use VSCode for VC++, and also, a lot of extensions' (like Code Runner) default isn't VC++, rather it's GCC. So, my recommendation is to keep this associated with GCC, even if cl.exe is found and GCC is also fou

[2018-11-07 08:10] byteroll opened #2784 "Doesn't show structure definition in other C files."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Microsoft Windows [version 10.0.17763.107] & WSL Ubuntu18.04
- VS Code Version: 1.28.2 (user setup)
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): none

A structure `epoll_event` definited in **epoll.h**, it is be used in other C file. The structure doesn't show a

[2018-11-07 08:34] byteroll commented on #2784
And cpptools will not show the variable list.
![d](https://user-images.githubusercontent.com/15176699/48119664-cf989080-e2aa-11e8-847b-301a04abd5ca.png)

[2018-11-07 09:20] RobRuckOB commented on #2726
@sean-mcmanus, I'd assumed that's what was happening, but thanks for confirming. I've attached a handful of Mac crash logs (.txt added to keep GH happy). And the relevant bit of assembly from lldb from when the crash occurs:

[code]

[Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin_2018-11-06-143155_Robs-MacBook-Pro.crash.txt](https://github.com/Microsoft/vscode-cpptools/files/2556744/Microsoft.VSCo

[2018-11-07 10:18] katjie commented on #1069
I have noticed this as well, still now. When I use catch2 (c++ testing framework), all of my REQUIRE macros will be underlined with this "error".

[2018-11-07 10:26] s-martin opened #2785 "Linux: Debugger does not start after upgrading to 0.20"
Type: Debugger

**Describe the bug**
- OS and Version: CentOS 7.5
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them):

**To Reproduce**
Steps to reproduce the behavior:
1. Compile project (I use CMake and cmake-tools)
2. Click 'Launch Debugger'
3. Nothing happens
4. Debugging process is started, but won't be

[2018-11-07 11:46] katjie opened #2786 "C++ Intellisense detecting many (possibly unnecessary) problems"
- OS and Version: Windows 10
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): Many installed, disabling them does not help the issue.

I am having trouble with IntelliSense showing many "Problems" in the source code I am working with. The language I am primarily using is C++, and in one file I get the fol

[2018-11-07 15:17] lonelyion commented on #230
I wish to have C++ STL types (like vector, string, list, etc) colorized like CodeBlocks
![image](https://user-images.githubusercontent.com/25267689/48140029-e5c24300-e2e2-11e8-8f1d-1cfc58f65e6b.png)

Currently STL types are not highlighted as if they are plain text in VSCode

[2018-11-07 16:30] esarver opened #2787 "RedHat/CentOS el7.x86_64 - GDB: Failed to set controlling terminal; Creates a file with name "2""
_Originally posted by @FranzDeCopenhague in https://github.com/Microsoft/vscode-cpptools/issues/264#issuecomment-352234542_

I am also seeing this in CentOS 7.

My launch.json:
[code]

My c_cpp_properties.json:
[code]

When I try to launch the debugger, I get a terminal window that appears that says: `&"warning: GDB: Failed to set controlling terminal: Operation not permitted\n"`.

The VSCode debu

[2018-11-07 17:50] bobbrow commented on #2731
The other case we saw of this had heavy use of the Terminal window or Output window (I forget which) and we suspected there was some corruption in either VS Code's representation of the file or ours (which messed up our edits).  Do you happen to use either of those windows?

We weren't able to get a repro in our instrumented build of the extension.

[2018-11-07 18:04] bobbrow commented on #2779
Our telemetry disagrees with your assertion about compiler preference in VS Code, but we have provided a way for you to change the defaults for all the folders you open.

Set `"C_Cpp.default.compilerPath": "c:\path\to\gcc.exe"` in the User Settings.

[2018-11-07 18:04] #2779 closed, assigned to nobody

[2018-11-07 18:23] bobbrow commented on #2784
I don't write anywhere near as much C as C++, but I thought this was the syntax for declaring a struct variable that doesn't have an alias.
[code]
[reference](https://en.wikipedia.org/wiki/Struct_(C_programming_language))

This works for me in WSL if I use the `struct` keyword in front of the declaration.

![image](https://user-images.githubusercontent.com/12818240/48151540-5f701780-e276-11e8-8856

[2018-11-07 18:29] Angelo1211 commented on #2176
I still don't have a fix for this issue but I thought I'd share my debug print, which is really similar to @butchiki's and highlight a line that stood out to me because the ///e%3A looked out of place. I have no idea if that's intended or not, but thought it might be worth sharing. I can try other stuff if you want help finding a way to repro this issue.

`Attempting to get defaults from compiler

[2018-11-07 18:54] pieandcakes commented on #2778
That tells me gdb is having a problem creating the process. If you want to see more detail from gdb, you can add `"logging": { "engineLogging": true }` to your `launch.json` and try again and see if gdb gives you more information.

If this is mingw, can you make sure the `bin` folder has been set as part of your `path` on Windows? I know with thier executables they are expecting to load libraries

[2018-11-07 19:42] sean-mcmanus commented on #2726
@RobRuckOB It's possible our pending 0.21.0-insiders release may have a fix for for that crash, because it occurred with Visual Studio (on Windows) in September, but not after the October update.

[2018-11-07 20:19] sean-mcmanus commented on #1069
The bug repros with Visual Studio as well. I've reported bug https://developercommunity.visualstudio.com/content/problem/377739/c-intellisense-reports-invalid-user-defined-litera.html .

As a workaround, you could use `"[%s|%d]"##format` or `"[%s|%d]" format` as Bob suggested.

You also need a comma before the "...".

[2018-11-07 21:04] sean-mcmanus opened #2788 "compilerPath property doesn't populate with the default chosen for non-cl.exe compilers"
When /usr/bin/gcc is chosen as the default compiler (such as if that is set by C_Cpp.default.compilerPath), then when an edit configuration is done the compilerPath is not populated with the default chosen. Ideally, it would behave the same as when cl.exe is the default.

[2018-11-07 21:07] bobbrow commented on #2788
It is not required to set any of the properties in `c_cpp_properties.json`, so I disagree that we should do that.  I would be ok with putting `"compilerPath": "${default}"` when the `C_Cpp.default.compilerPath` setting is set, but if we do it for this setting, a case could be made to do it for all settings and then `c_cpp_properties.json` starts to look like a mess of `${default}`s.

[2018-11-07 21:20] sean-mcmanus commented on #2786
The library you're using is relying heavily on Microsoft extensions, i.e. that don't compile with gcc unless the "-fms-extensions" flag is supported. You can fix this via adding " -fms-extensions" to the end of your compilerPath. However, note that you may encounter "other" bugs, see https://github.com/Microsoft/vscode-cpptools/issues/2765 ...so far we only know of a bug when typeinfo is used, but

[2018-11-07 21:32] sean-mcmanus commented on #2176
@Angelo1211 The ///e%3A in the log is not a sign of a bug. The "Failed to spawn process. Error 193" means Windows is failing from "ERROR_BAD_EXE_FORMAT", "Microsoft.VSCode.CPP.IntelliSense.Msvc.exe is not a valid Win32 application". How did you install the extension? Could the binary be corrupted, i.e. from some partial download? Are you able to run that binary from the command line? Does uninstal

[2018-11-07 21:37] ramya-rao-a commented on #2587
@sean-mcmanus How does one get to use your Insiders build?

[2018-11-07 21:38] pieandcakes commented on #2787
If you [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging), you will see the command we put in a file that we tell VS Code to run. Can you see if that command looks ok?

[2018-11-07 21:39] pieandcakes commented on #2785
Do you see the same behavior as in #2787  ?

[2018-11-07 21:43] sean-mcmanus commented on #2587
@ramya-rao-a If you use VS Code Insiders you should default to an Insiders C/C++ build, if one exists, or you can set the C_Cpp.updateChannel to "Insiders". You could also install an insider vsix manually from https://github.com/Microsoft/vscode-cpptools/releases . We plan to release a new insiders build later this week.

Let us know when the 1k limit is fixed so we can switch back to the newer AP

[2018-11-07 22:01] ramya-rao-a commented on #2587
So at present, the Insiders version is using 0.0.22 version of vscode-extension-telemetry? What about the stable version?

[2018-11-07 22:07] sean-mcmanus commented on #2587
@ramya-rao-a The 0.20.1 release version is using 0.0.22. I don't know what Insider version you're referring to. The previous 0.19.1-insiders3 used the newer version which had the 1k bug. We don't have any "active" insider release published yet.

[2018-11-07 22:15] ramya-rao-a commented on #2587
Thanks @sean-mcmanus

With the current released version of the extension, users are seeing the issue mentioned in https://github.com/Microsoft/vscode-cpptools/issues/2587#issuecomment-432479898

There are a couple of options before us
- AppInsights releases a new version with the fix for the 1k bug. I release a new version of vscode-extension-telemetry module which you then use in the new version

[2018-11-07 22:48] sean-mcmanus commented on #2587
@ramya-rao-a We recently added filtering to our telemetry which should reduce the character usage, such that I believe we can switch to the newer version even with the 1k limit and still get the data we require in most cases, so I'll change it back; however, our next 0.21.0-insiders release has major parser changes that we didn't want to ship in a release version until it has been tested more. Wha

[2018-11-07 22:52] ramya-rao-a commented on #2587
Since users are seeing the issue when using the C++ extension, it is up to you to decide when you want to ship the change.

Do you have a way for users to get an older version of the extension? If yes, then providing a vsix for the users who see this issue can be one way of mitigating this issue until you release the next version

[2018-11-07 23:04] sean-mcmanus commented on #2587
Yeah, can you tell users who complain about this to use https://github.com/Microsoft/vscode-cpptools/releases/download/0.20.0/cpptools-win32.vsix ? I haven't seen users complaining about this. And we should have 0.21.0-insiders soon as well.

[2018-11-07 23:28] sean-mcmanus commented on #2587
@ramya-rao-a Actually, on closer inspection, important info is still getting cutoff with 1k characters (i.e. 2k characters might be enough), so we don't want to upgrade the telemetry API yet. Do you have any telemetry on now many Win7 users are hitting this powershell problem?

[2018-11-08 00:07] sean-mcmanus commented on #2768
We just found/fixed a crash on startup when custom configuration providers are used. Are you using a custom configuration provider such as CMake Tools?

[2018-11-08 00:51] sean-mcmanus commented on #1730
@Goz3rr Visual Studio "won't fixed" the [bug](https://developercommunity.visualstudio.com/content/problem/222111/cc-intellisense-autocompletion-fails-in-a-c-file-b.html). So that means more people need to upvote the issue.

Update (Feb 2019): This issue got Won't Fixed again.

[2018-11-08 01:13] byteroll commented on #2784
Thank you, you are right. I got them mixed up. This issue could be closed.

[2018-11-08 01:48] yamcenutzer commented on #2489
will do so as soon as i'm back from travelling (december)...

[2018-11-08 02:02] #2784 closed, assigned to nobody

[2018-11-08 03:17] sean-mcmanus commented on #2474
A user reported this issue at https://github.com/Microsoft/vscode-cpptools/issues/2774 . Our parser has a problem parsing the gcc tuple header. I wasn't able to get an isolated repro.

UPDATE: This was fixed with the [0.21.0-insiders2](https://github.com/Microsoft/vscode-cpptools/releases)

[2018-11-08 03:32] ramya-rao-a commented on #2587
We dont have any telemetry. Just the main issue https://github.com/Microsoft/vscode/issues/60585#issuecomment-436766501 where one user has the problem. But I am guessing there should be more.

[2018-11-08 03:36] #2413 closed, assigned to nobody

[2018-11-08 03:36] #2274 closed, assigned to nobody

[2018-11-08 05:50] s-martin commented on #2785
No really, because I don't get a reaction at all when starting the debugger.

Only reaction you see is the animated blue line moving.

[2018-11-08 07:15] Jackie-Yang opened #2790 "It needs many time to updating IntelliSense"
**Type: LanguageService**

There are too much files to index in my project, so it need many time to update IntelliSense

**To Reproduce**

1.Autocomplete ( Sometimes it takes more time )
![2018-11-08 14 43 20](https://user-images.githubusercontent.com/18381153/48182220-60cc3d80-e365-11e8-8ae0-e0851ca94c7b.gif)

Hope it can show symbols in this file first like this:
![2018-11-08 14 44 15](https://u

[2018-11-08 09:34] sirbabyface opened #2791 "When including a header file which is a link, some defines are not found (WSL)"
**Type: LanguageService**

- OS and Version: WIndows 10 - 1803 (Build 17134.345)
- VS Code Version: Version: 1.29.0-insider (system setup) x64
- C/C++ Extension Version: 0.20.1
- I'm using WSL system and bash to develop

**To Reproduce**

1. I've include <ncurses.h> in my file, but some of defines are not found.
2. But if I change to include <curses.h>, it works correctly.

It seems there is a pro

[2018-11-08 09:55] katjie commented on #2786
Hi Sean, thank you for the response.

I have tried adding " -fms-extensions" to my compiler path, and while the number of errors is reduced, quite a few continue to exist. The errors that continue to show are those which I mentioned in my initial issue description, so I do not thinking I am encountering new/other bugs by adding this flag.

[2018-11-08 10:32] HackerBaloo opened #2792 "pretty-printed values loose their to_string value if they have children"
Type: Debugger
A gdb pretty-printer have a member called to_string, in VSCode that info is not shown in the variables Window is the pretty-printer also have children.
If I run:
-exec p d
I get:
$2 = "Test" = {value1 = 1, value2 = 2, dc = "Child" = {child_value1 = 9, child_value2 = 8}}

But in Variable or in Watch only this is shown:
d: {...}  {value1 = 1, value2 = 2, dc = {...} {child_value1 = 9,

[2018-11-08 11:48] ghost commented on #2778
I looked at the details of GDB but didn't get any useful information. I can debug other programs normally. The code mentioned earlier can be debugged normally in Dev-C++. Is it a bug?
[code]

[2018-11-08 12:22] HackerBaloo commented on #2792
BTW, the reason for to_string is to get a fast overview, so one should not have to expand the variable to see it.

[2018-11-08 12:57] Angelo1211 commented on #2176
@sean-mcmanus Hi, I downloaded the extension from the VSCode marketplace. I also tried installing / uninstalling and still get the same errors. I have also tried running the binary from the command line and it would execute and quit with no apparent errors.

Apart from that I've tried running multiple different C++ projects in VSCode with the same results. I also tried running those same projects

[2018-11-08 13:22] g-arjones opened #2793 "BUG: compilerPath is not properly set when compile_commands.json is loaded from a default setting"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 16.04
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is.

If I set the compiler commands database path for each folder in a workspace (in .vscode/c_cpp_properties.json) the com

[2018-11-08 14:36] VirFunc commented on #2777
@sean-mcmanus OK. Thanks.
@bobbrow I have voted.
Thanks for your replies.

[2018-11-08 14:44] mjohngreene commented on #2767
@pieandcakes Unfortunately, we can't get anything from my colleague (he is unavailable "indefinitely") re his set up.  I am fine working with 0.19.0 until the issues with the latest version are resolved.  Let me know if there is anything I can do to help with that.

[2018-11-08 16:30] #2777 closed, assigned to nobody

[2018-11-08 16:36] bobbrow commented on #2793
Compiler information for IntelliSense should be in the compile_commands.json file, so compilerPath would be ignored in this case.

...Though now that I think of it, we still haven't done the work to update the browse path based on the contents of compile_commands.json (#1715).  Is that the underlying issue here?

[2018-11-08 16:42] g-arjones commented on #2793
Doesn't seem to be the case since setting `compilerPath` manually fixes the missing headers issues.

That's another issue. Some system paths are not defined explicitly in the build command so there's the possibility that system paths would still be missing when using a different compiler.

I can provide steps to reproduce but the process is a bit involved. Would you be interested?

[2018-11-08 16:43] bobbrow commented on #2790
We are actively working on performance issues like this and hope to have some of them available in the next release.

[2018-11-08 16:45] bobbrow commented on #2791
Thanks for the feedback.  This is a duplicate of #2140 and #2223 (same root cause).  Please go and "+1" those issues so we can track the priority of a fix for this better.

[2018-11-08 16:45] #2791 closed, assigned to nobody

[2018-11-08 16:47] g-arjones commented on #2793
/cc @bobbrow

[2018-11-08 16:53] bobbrow commented on #2793
Based on your first response, I should be able to craft a quick repro case.  It would also be helpful if you could share the entry from compile_commands.json for the file that is involved with this problem.  You can anonymize paths if you are working on a closed-source project.  Those aren't really what we're after here anyway.

Another thought is that if you open a file that doesn't have an entry

[2018-11-08 16:59] g-arjones commented on #2793
I can do that, sure.

That would break everything since the only thing I am setting is `compileCommands`, the extension would not find any header at all because `includePath` is empty and the other  (non-system) headers are not in a discoverable place.

[2018-11-08 17:35] g-arjones commented on #2793
Here you go:

1. Run this in an empty folder: https://gist.github.com/g-arjones/33d7b5db5cdfd9d705cbc0ea6121174c
2. Add `"C_Cpp.default.compileCommands": "${workspaceFolder}/compile_commands.json"` to your global vscode configuration
3. Open the `sample` folder that was created in a fresh vscode instance
4. IntelliSense will complain that it can't find "sys/syslimits.h"
5. Now add `"C_Cpp.default.

[2018-11-08 18:01] g-arjones commented on #2793
@bobbrow Please, let me know when/if you were at least able to reproduce. Thanks!

[2018-11-08 18:29] bobbrow commented on #2793
I'm sorry you had to go into all that detail.  I was able to repro with the simple project I created but I got sidetracked debugging the debugger while looking at this.  But I found the bug here.  This appears to have broken after we started forcing a default value for compilerPath.  Switching the order of the compiler lookup for the compile_commands.json case seems to be doing the right thing for

[2018-11-08 18:30] bobbrow commented on #2793
Thanks for reporting this issue, BTW!

[2018-11-08 18:33] g-arjones commented on #2793
No problem.. :+1:

[2018-11-08 19:24] pieandcakes commented on #2785
@s-martin can you enable [traceResponse and engineLogging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and see what is sent to VS Code to start the connection and if gdb starts?

[2018-11-08 19:25] pieandcakes commented on #2792
@HackerBaloo This sounds like it is this a problem with gdb's pretty printer, which we don't control or contribute to.

You can enable [engineLogging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and see what gdb returns when we request the data. If it is not returning the string, then you may want to file an issue on gdb.

[2018-11-08 19:29] pieandcakes commented on #2778
I see:

1: (1709) ->1013^error,msg="malformed linespec error: unexpected number, \"-\""

and

1: (2032) ->1014^error,msg="Error creating process c:\\WorkSpace\\C++\\POJ\\1328 - Radar Installation.exe, (error 740)."

Its gdb that has the issue, not our extension. It would be interesting to see if your program name with the spaces is causing the conflict or not.

I assume that if it can be compiled,

[2018-11-08 20:23] sean-mcmanus commented on #2786
Okay, yeah, I see what you're seeing now. I'm not sure why I saw it become fixed yesterday. It's fixed if you use the "cl.exe" or "clang++.exe" as the compiler in msvc-x64 mode. It looks like our parser in isn't capable of parsing those files correctly in gcc mode.

[2018-11-08 20:29] pieandcakes commented on #2767
Do you know if there is a simulator I can try with openOCD to try your scenario? I don't have a device (which is part of the problem).

[2018-11-08 20:40] HackerBaloo commented on #2792
But I did write in the issue what the pretty printer returns, it includes
the to_string info

Den tors 8 nov. 2018 20:25 skrev Pierson Lee <notifications@github.com>:

[2018-11-08 20:58] pieandcakes commented on #2792
@HackerBaloo you stated when you do `-exec p d`, then `gdb` shows the value. My question is that when `gdb` is in `mi` mode, if it is giving us the correct data. MI mode is an interpreter that gdb provides so we can drive it via commands and makes the results able to be parsed by our program. This is still provided by `gdb` but if they aren't showing the value there, then that implementation needs

[2018-11-08 21:17] pieandcakes commented on #2792
Yea, it is as I suspected.
`-exec p d` gives me:
[code]
but when `gdb` is in `mi` mode, when we request it, we get `{...}`
[code]

This is a bug within `gdb` and their `mi` mode.

[2018-11-08 21:32] katjie commented on #2786
I have tried to modify my c_cpp_properties.json file to use clang++ and msvc-x64 mode, however I am unfortunately still seeing all of the errors. (I have problems with getting cl.exe on my computer but that's a different problem entirely, however I therefore cannot test if I see the same result with that compiler).

[2018-11-08 21:36] pieandcakes commented on #2787
This seems to stem from [this line](https://github.com/Microsoft/MIEngine/blob/d1189348e9bfd4e7843cbceb9db16509284acf76/src/MIDebugEngine/Engine.Impl/DebuggedProcess.cs#L2235) of code although I don't know why that line ends up creating a file. This command is to clear the terminal.

[2018-11-08 21:59] sean-mcmanus commented on #2786
Okay, you're right, I'm seem errors with clang++ as well. I'm not sure why I wasn't seeing them before -- it's possible I was using a modified build, i.e. with a different microsoft_version set.

[2018-11-08 23:48] msvaillant commented on #2738
Yes, actually the breakpoint is hit in my case (according to DEBUG CONSOLE), but VSCode UI is not reacting on attaching and detaching of child process with actual breakpoint.

[2018-11-09 02:10] sean-mcmanus opened #2797 "cpp.hint isn't usable for files outside the workspace root"
It seems like it should be (could be a regression from the cpp.hint caching added a few months ago). Up vote this if it's a problem for you.

[2018-11-09 03:29] sean-mcmanus commented on #1815
Should be fixed with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or the [offline vsix](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders)). Let us know if you find any problems with it.

[2018-11-09 03:30] sean-mcmanus commented on #1942
Should be fixed with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or the [offline vsix](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders)). Let us know if you find any problems with it.

[2018-11-09 03:30] sean-mcmanus commented on #2478
Should be fixed with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or the [offline vsix](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders)). Let us know if you find any problems with it.

[2018-11-09 03:31] sean-mcmanus commented on #2505
Should be fixed with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or the [offline vsix](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders)). Let us know if you find any problems with it.

[2018-11-09 03:32] sean-mcmanus commented on #2768
We fixed several crashes with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or the [offline vsix](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders)). Let us know if you find any problems with it still.

[2018-11-09 03:33] sean-mcmanus commented on #2620
Should be fixed with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or manually installed from the [offline vsix](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders)). Let us know if you find any problems with it.

[2018-11-09 03:36] sean-mcmanus commented on #1139
We fixed a memory leak with the main process when parsing a lot of files with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or manually installed from the [offline vsix](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders)). Let us know if you find any problems with it.

We're currently working on fixing the large memory usage for the IntelliS

[2018-11-09 03:36] sean-mcmanus commented on #2761
Should be fixed with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or manually installed from the [offline vsix](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders)). Let us know if you find any problems with it.

[2018-11-09 03:37] sean-mcmanus commented on #2793
Should be fixed with 0.21.0-insiders (auto installed if `"C_Cpp.updateChannel": "Insiders"` is set, or manually installed from the [offline vsix](https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders)). Let us know if you find any problems with it.

[2018-11-09 06:30] badmitrii opened #2798 "Unable to lookup symbols in platform headers"
**Type: LanguageService**

- OS and Version: Linux Ubuntu 18.04
- VS Code Version: vscode 1.28.0
- C/C++ Extension Version:  0.20.1
- Other extensions you installed (and if the issue persists after disabling them): CMakeTools, Vim, CodeLLDB

The symbols defined in platform headers (like `sys/inotify.h` on Linux) cannot be looked up using the global symbol search. But it works just fine if we open

[2018-11-09 07:37] HackerBaloo commented on #2792
Versions for gcc and gdb:
gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
GNU gdb (Ubuntu 8.2-0ubuntu1~18.04) 8.2

On Thu, 8 Nov 2018 at 22:17, Pierson Lee <notifications@github.com> wrote:

--
____________________________
Björn Carlsson
Telefon 0704-10 69 77
Epost  mailto://b.r.carlsson@gmail.com
Blog    http://hackerbaloo.blogspot.com/
____________________________

[2018-11-09 08:15] HackerBaloo commented on #2792
I also added the logging block in launch.json, but where do the log go?

On Fri, 9 Nov 2018 at 08:36, Björn Carlsson <b.r.carlsson@gmail.com> wrote:

--
____________________________
Björn Carlsson
Telefon 0704-10 69 77
Epost  mailto://b.r.carlsson@gmail.com
Blog    http://hackerbaloo.blogspot.com/
____________________________

[2018-11-09 08:41] katjie commented on #2786
I have noticed that the errors from IntelliSense on Catch2 only show up when you open the file under their directory `single_include/catch.hpp`, and _not_ the one located at `include/catch.hpp`, so this might be why you sometimes saw no errors when you are working with my problem.

I have now been able to download cl.exe on my computer, and using this one fixes most of the errors, I am still getti

[2018-11-09 09:32] igrr commented on #833
Running into the same issue as @btashton and @BillPlunkett. When I press pause button to interrupt the program, i see the following logged in the console:
[code]
Furthermore, when i stop debugging (via the stop button), i see `kill: 42000: No such process` logged once again. After this, i run `ps` and see that `gdb` process is still running.

So it seems that the extension is sending SIGINT and SI

[2018-11-09 12:03] g-arjones commented on #2793
Fixed in my test case as well. Thank you, guys!

[2018-11-09 12:25] pagdot commented on #2780
I've included headerfiles from included folders, but they don't get included unless I specify them with full path

[2018-11-09 12:54] HackerBaloo commented on #2792
OK, now I saw that you were able to reproduce. Since I'm not familiar with the mi mode, can you handle this against gdb?

[2018-11-09 14:02] mjohngreene commented on #2767
@pieandcakes The only simulator I have really looked into is the one from Mbed described here: https://github.com/janjongboom/mbed-simulator.  FYI - Jan works for Mbed, is a C++ guy, and is a fan of Visual Studio Code/the CPPTools extension as evidenced at https://os.mbed.com/users/janjongboom/notebook/debugging-ublox_evk_odin_w2-with-openocd-and-visua/#.  @janjongboom - do you have any thoughts/i

[2018-11-09 14:08] BillPlunkett commented on #833
I'm very willing to help anyway I can in fixing this, too.  I am a big fan of VS Code, but currently having to use Eclipse as a GDB front end for remote debug due to this issue.

[2018-11-09 16:07] janjongboom commented on #2767
@ssctx66 No, unfortunately not given that I'm mostly using pyOCD on macOS. The simulator does not support GDB debugging.

@pieandcakes I'm happy to ship you some OpenOCD compatible hardware if you drop me a shipping address. E-mail address is in my GH profile.

[2018-11-09 17:12] pieandcakes commented on #833
@igrr @BillPlunkett the debug adapter code is [here](https://github.com/microsoft/miengine) and the instructions on how to get it set up are [here](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/How%20To%20Debug%20MIEngine.md) for this extension.

I think there are two parts to this.
* we need to offer an option to users to not set `target-async` to on (which is cu

[2018-11-09 17:19] pieandcakes commented on #2767
@ssctx66 thank you for the information, i'll take a look and see if adapting it from macOs is something that is translatable?

@janjongboom thanks for the offer. Let me ask around internally and see if anyone has some first. I was hoping a simulator was available since that would be the easiest way for me to get going.

[2018-11-09 17:21] nitwhiz commented on #13
what's supposed to work atm?

Using C (not C++) with the following c_cpp_properties.json:

[code]

on **Windows 10**, but **compiling in WSL** with gcc.

Workspace Settings:

[code]

- local _stuff_ won't be suggested
- functions from libpng won't be suggested (the general defines are suggested)
- struct _stuff_ (after ```.```) is just everything, _sometimes_ not even things defined in the struct

[2018-11-09 17:39] bobbrow commented on #2798
The default setting for workspace symbols is to just show the ones in your workspace folder.  If you want to see external symbols, try changing this setting:

![image](https://user-images.githubusercontent.com/12818240/48278765-4f397300-e403-11e8-84ea-283c9e581d46.png)

[2018-11-09 17:48] bobbrow commented on #13
You need to set `"C_Cpp.intelliSenseEngine": "Default"` (or just delete the setting) to get semantic-aware IntelliSense.

"Tag Parser" is the old IntelliSense engine which doesn't support local variables, doesn't do error squiggles, and doesn't have type information so it suggests everything.

[2018-11-09 18:11] nitwhiz commented on #13
I've read multiple times about this, and must've kept the wrong setting, thank you.

libpng's functions are now suggested but it tells me stuff like `png_byte` (a data type) is not defined.

[2018-11-09 18:17] bobbrow commented on #13
I don't know libpng very well.  Do you have a sample I can clone or download?

[2018-11-09 18:20] nitwhiz commented on #13
Oh, it works now, seems like the headers weren't crawled or something. Alrighty, I can work with this. Thanks for the fast responses! 👍

[2018-11-09 19:20] princehektor commented on #941
@pieandcakes : Has this feature been added in the latest extension version ?

[2018-11-09 19:23] dawaggs commented on #2098
I believe I am seeing a similar issue. With the following hello world project setup:

CMakeList.txt:
[code]
main.cpp:
[code]

And this environment:
- Windows 10
- Version: 1.29.0-insider (user setup)
- C/C++ extension: Version 0.21.0-insiders: November 8, 2018
- CMake Tools extension: Version 1.1.2
- LLVM 6.0.1 for Windows.

If I select the _Visual Studio Professional 2017 - amd64_ kit for CMake T

[2018-11-09 22:14] nitwhiz commented on #13
This is so weird.. the definitions disappeared somehow.. I installed libpng via `sudo apt-get install libpng-dev`. This is a simple code, enough to trigger what I'm talking about:

[code]

1. `png.h` is found and i can go to it via context-menu
2. `png_byte` is not suggested by intellisense
3. `png_byte` throws an error, telling me it's undefined
4. gcc compiles it without any error (except unused

[2018-11-09 23:01] pieandcakes commented on #941
@princehektor No, this has not been implemented.

[2018-11-09 23:31] bobbrow commented on #13
It looks like libpng is not in your include path.  You will either need to add `#include <libpng/png.h>` to your code, or add `/usr/include/libpng` to your include path.

BTW, your config can be simplified.  You shouldn't list the system include paths if you set `compilerPath` (we accept linux-style paths for WSL), and you don't need `browse.path` if it's the same as `includePath`

[code]

[2018-11-09 23:49] sean-mcmanus opened #2799 "No warning/log is shown if a non-existent compilerPath is used"
I accidentally used a `\` instead of `\\` on Windows, causing the compilerPath to not be used -- the scheme only gives warnings for certain `\` characters, e.g. using `\f` gives no error, but `\c` does. No warning message or logging is shown explaining why it is choosing a different compilerPath.

[2018-11-10 00:41] sean-mcmanus opened #2800 ""${workspaceFolder}/**" isn't auto-added if includePath isn't set but c_cpp_properties.json exists"
If c_cpp_properties.json exists, then "${workspaceFolder}/**" is automatically used, but otherwise if "includePath" doesn't exist in the config then it's not added, even though the other system includes are added. It confused me...not sure if it's a common problem though, since the default c_cpp_properties.json has the includePath set. I only hit it because I deleted it, because I wanted to "rever

[2018-11-10 02:32] sean-mcmanus commented on #1986
@bobbrow Did you file a VS bug? Do you know the bug number?

[2018-11-10 10:39] britalmeida commented on #2591
Using gdb here, and it also looks like logpoints are doing the exact same as regular breakpoints.

[2018-11-10 11:25] shyam1s15 opened #2801 "headers"
Issue Type: <b>Feature Request</b>

i am facing many issues related headder files, I dont know how to solve it please help me

Extension version: 0.20.1
VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17134

[2018-11-10 11:38] nitwhiz commented on #13
thanks for the intel, it works as expected now! :)

[2018-11-10 14:56] nxyd opened #2802 "Go to definition not correct"
- VS Code Version: 1.29.0-insiders
- C/C++ Extension Version: 0.21.0-insiders

I found that when a function contains parameter 'void', then Go to definition on this function is not correct.

**Screenshots**
![image](https://user-images.githubusercontent.com/3884211/48302697-ab52e300-e53a-11e8-8801-c47cc7063449.png)

[2018-11-10 15:19] zonghaishang commented on #890
I also have the same problem when starting in vscode:

[code]

@DougTy How did you solve it?

It is normal to not start debugging in vscode.

[2018-11-11 00:30] yaozhongxiao commented on #1768
hi, @pieandcakes
is there final(official) solution to this problem ？？？
I was  plaguing all the time

[2018-11-11 05:32] yalshekerchi commented on #1772
@youngspe I'm interested in trying out your workaround, do u mind providing some more detailed information on how to set it up?

[2018-11-11 08:07] youngspe commented on #1772
@yalshekerchi
It's a bit of a hack, I haven't touched it in a while, but here's my setup: https://github.com/youngspe/vscode-wsl-debug

[2018-11-11 08:28] yesenarman commented on #2785
I'm having a similar issue.

- OS and Version: Arch Linux
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1

**To Reproduce**
I'm attaching a zip with a small sample project: [debug.zip](https://github.com/Microsoft/vscode-cpptools/files/2569168/debug.zip)

- Compile the source with `g++ -g main.cpp`
- Click 'Launch Debugger'
- Nothing happens. I only see a blue progress bar looping inde

[2018-11-11 20:43] ghost opened #2803 "Using vcpkg libraries on a project"
**Type: LanguageService**

**Describe the bug**
- OS and Version: 10.0.17134.345
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

I'm not sure whether it's a bug or not but when I try to use libraries installed by the compiler gives:
[code]

**To Repr

[2018-11-12 04:30] alianZhen opened #2804 "how can i get c/c++ plugin's database path in other vscode extension,is there any api?"

[2018-11-12 06:40] badmitrii opened #2805 "Global symbol lookup does not work for platform headers until it is used."
**Type: LanguageService**
In order to lookup symbols from platform headers we need to use it first (e.g. add `#include` somewhere in the project). Otherwise it does not work.

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.28.0
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): Vim, CodeLLDB
- A clear and c

[2018-11-12 06:44] igrr commented on #833
Thanks for the pointers, @pieandcakes.
I am now able to debug MIEngine using VS on Windows, but the issue doesn't happen there (i was originally testing on osx). Will need more time to set up remote debugging.

However I did notice that in Debugger.cs, `CmdBreakInternal`, you get the PID of an inferior and pass it to _transport.Interrupt. In my case, GDB is running locally (so i guess I'm using Lo

[2018-11-12 07:35] igrr commented on #833
I have confirmed (by adding some logging, can't get remote debugging of MIDebug working yet) that `IsLocalGDB() == true` (as expected), 42000 is the `debuggeePid` value (not sure where it comes from, but it is always the same on every launch), `useSignal == true`, and `CmdBreakUnix` is sending interrupt to pid 42000 instead of sending it to `transport.DebuggerPid()`.

Edit: 42000 is the magic valu

[2018-11-12 07:41] s-martin commented on #2785
Sorry for the weekend delay, but here's also my debug console.

as @yesenarman said, I also don't see any gdb processes, just the cpptools debug adapter.

[code]

[2018-11-12 07:42] s-martin commented on #2785
BTW: how can I go back to 0.19 for the moment?

[2018-11-12 10:20] yesenarman commented on #2785
@s-martin download the [v0.19 VSIX](https://marketplace.visualstudio.com/_apis/public/gallery/publishers/ms-vscode/vsextensions/cpptools/0.19.0/vspackage) and then use **Extension: Install from VSIX** command. Also make sure to disable extensions auto update in the settings.

[2018-11-12 11:31] fregloin opened #2806 "IntelliSense engine loads CPU too much when switching branches in git"
**Type: LanguageService**

C/C++ for Visual Studio Code

**Describe the bug**
- OS and Version: Ubuntu 16.04
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): matthewferreira.cppcheck (0.2.2), ms-python.python (2018.10.1), igordvlpr.trimspaces
(Initial release)
- A clear and concise description of what the

[2018-11-12 12:18] s-martin commented on #2785
@yesenarman: Thanks

OK, with 0.19.0 it works.
I tried 0.19.1-insiders3 also, which didn't worked with same behavior as in 0.20

[2018-11-12 13:06] s-martin commented on #2785
With 0.19.0 I see the following lines:

[code]

With 0.20 I see only the first 2 lines.

[2018-11-12 17:50] bobbrow commented on #2801
Can you be more specific?  Have you read through our documentation?  This one in particular might be of help:  [Frequently asked questions](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/FAQ.md)

[2018-11-12 18:01] bobbrow commented on #2803
What is `${.vcpkg-root}`?  `c_cpp_properties.json` is not involved in compilation, only IntelliSense.  That said, `c_cpp_properties.json` understands a special variable, `${vcpkgRoot}`, so I would expect you to use that instead.

Parsing of `tasks.json` is done by VS Code itself, so it is only able to understand config and environment variables using the official syntax `${env:.vcpkg-root}` (if th

[2018-11-12 18:29] bobbrow commented on #2804
There is no API to retrieve the database path.  What would you plan to use it for?

[2018-11-12 18:32] bobbrow commented on #2805
Please see this documentation: [limitSymbolsToIncludedHeaders](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/c_cpp_properties.json.md#limitsymbolstoincludedheaders)

We disable parsing unincluded header files outside the ${workspaceFolder} by default because it is very expensive and most people do not want/need them.  If you set the configuration setting lin

[2018-11-12 18:32] #2805 closed, assigned to nobody

[2018-11-12 18:34] bobbrow commented on #2806
Try using the `C_Cpp.workspaceParsingPriority` setting.

[2018-11-12 20:12] ghost commented on #2803
I suppose the `.vcpkg-root` defined when I install the **vcpkg**, then realize it doesn't, so I defined it manually. I didn't know about the official syntax, It solved my problem 😃 ,

My final `tasks.json` looks like this:
[code]

[2018-11-12 20:43] esarver commented on #2787
I apologize for the delay in getting back to this issue. I wonder if this has anything to do with tcsh not working with all the bash-isms such as redirection in the form `1>&2`.

[2018-11-12 20:53] #2803 closed, assigned to nobody

[2018-11-12 21:03] esarver commented on #2787
On CentOS 7 `shell` is not a recognized command.
The only way the command worked for me was to change it to be
[code]

In the file that you referenced, there are several other references to `shell` that may need to be changed to `sh -c '<command>'`. I am not sure how portable this is with macOS and other versions of Linux.

From my brief research it doesn't appear that C-shells (such as tcsh) supp

[2018-11-12 21:08] pieandcakes commented on #890
@zonghaishang The problem is macOs won't let you run gdb unsigned. You will need to follow the instructions to sign your version of `gdb` if you choose to use it. If you search around on the web, there are sites that explain how to do this.

[2018-11-12 21:16] pieandcakes commented on #833
@igrr Thank you for investigating.
if you change Debugger.cs:715 to be the following:
[code]
and try your scenario with the updated bits, can you confirm it works?

[2018-11-12 21:23] pieandcakes commented on #2785
With our change, we write the debug command to a temp file, something similar to:
[code]
then we send a command to VS Code through the protocol to run the command:

[code]
and then we wait for the fifos to be written to so we can start debugging.

In this instance, for some reason VS Code isn't able to launch debugging and I think that's what we need to figure out.

[2018-11-12 21:32] sean-mcmanus opened #2807 ""TypeError: Cannot read property 'map' of undefined at asCompletionResult" occurs when a file is editted before the extension fully activates"
Open a workspace and immediately edit a cpp file. Use Toggle Developer Tools to see the error output:

[code]

I'm not aware of any "real" bug this causes, but it seems like we're not doing something correct.

[2018-11-12 21:42] pieandcakes commented on #2787
@esarver `shell` isn't a shell console command but rather a command to `gdb` to run the rest of that command in its default shell.

these commands are sent to `gdb` which then sends it to the shell. You can test it out by running `gdb --interpreter=mi` and then running `-interpreter-exec console <cmd>` where `<cmd>` is `shell echo -e \\033c 1>&2`.

[2018-11-12 22:07] letmaik opened #2809 ""environment" not effective when using "pipeTransport""
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 (host) and Ubuntu 18.04 (remote)
- VS Code Version: 1.29.0
- C/C++ Extension Version: 0.20.1
- A clear and concise description of what the bug is.

I'm trying to debug with gdb by connecting to a remote machine using pipeTransport and at the same time defining that the environment variable `LD_PRELOAD` should be used when launching

[2018-11-12 22:16] sean-mcmanus commented on #2802
Thanks a lot for reporting this (and sorry for not catching this issue ourselves). It should be fixed in our next insiders release.

[2018-11-12 22:38] esarver commented on #2787
Ok. Now I understand.

[2018-11-12 22:53] Astrantia opened #2810 "Documentation for Cygwin?"
Hi, I see that there's documentation available for MinGW, but there are no guides for Cygwin. Can someone shed light on this?
https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md

[2018-11-12 23:03] dougdew opened #2811 "[WSL] Unable to launch /usr/bin/gdb when setting bash.exe as the integrated shell in VS Code."
I'm unable to launch WSL's installation of gdb when using Visual Studio Code on Windows.

I received an "invalid path" error when I specified this in my launch.json file:

"miDebuggerPath" : "/usr/bin/gdb"

I received an "invalid binary" error when I instead specified this in my launch.json file:

"miDebuggerPath": "/Users/dougdew/AppData/Local/Packages/CanonicalGroupLimited.UbuntuonWindows_79rhkp

[2018-11-12 23:06] shahram opened #2812 "[openSUSE] C++ debugger gets into a never ending loop"
Type: Debugger
**Input information below**
cppdbg

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
The debugger gets into a never ending loop! In version 1.28 the debugger control bar didn't show and I had to exit vscode completely. With 1.29 update the debugger control

[2018-11-12 23:42] sean-mcmanus commented on #2810
I think it should be the same, but you just set the compilerPath to your Cygwin compiler. Are you hitting config issues still?

[2018-11-13 00:25] Astrantia commented on #2810
@sean-mcmanus I haven't tried to set compilerPath to Cygwin compiler, but I'll try and report back. Regardless, if that is works as you have suggested, why not indicate that in docs for clarity so that issue like this doesn't pop up in future? If not, why don't we document Cygwin usage too?

[2018-11-13 00:31] Astrantia commented on #2810
I believe setting the compilerPath to Cygwin compiler worked.

[2018-11-13 00:45] sean-mcmanus commented on #2810
I believe our Cygwin usage was lower, which is why we only called out MinGW in our docs. I've updated the docs with https://github.com/Microsoft/vscode-cpptools/pull/2813 .

[2018-11-13 01:05] Astrantia commented on #2810
@sean-mcmanus Why is it g++ for Cygwin and gcc for MinGW?
In fact, I set gcc for Cygwin too.

[2018-11-13 01:09] sean-mcmanus commented on #2810
It was just an example, the compiler could be clang-5.0.exe, etc. I'll add a line explaining that.

[2018-11-13 01:38] alianZhen commented on #2804
c/c++'s symbol search is too slowly to use,.So, I want to parse the database to making a symbol list for quickly in-time searching!   And is there any caller or called relation property in it???

[2018-11-13 02:04] Astrantia opened #2814 "Show problems for warnings (e.g. when warnings as errors is enabled)"
Using MinGW/Cygwin, what is the closest I can come to get the extension highlight all the warnings errors from these flags? `-Wall -Wextra -pedantic -Wconversion -Werror`.
https://github.com/Microsoft/vscode-cpptools/issues/2091 is relevant, but it doesn't answer if its possible to enable these warnings on MinGW/Cygwin gcc/g++ if it's possible at all. I'm sorry if this is a duplicate, thanks in ad

[2018-11-13 02:09] igrr commented on #833
With this change it does work on Mac (haven't tested on Linux, assume it's also going to work). I assume that the proper change would be to introduce a new option, `remote`, and decide which PID to interrupt based on that. One more place where this option needs to be checked is when debuggee is started. For remote target, gdb can't use `run`, and `continue` should be used instead.

However going b

[2018-11-13 02:41] sean-mcmanus commented on #2804
The database is SQLITE. You can open the file in a SQLITE viewer such as DB Browser for SQLite. Implementing your own reader of the database doesn't seem like it would be an easy thing to do.

[2018-11-13 02:45] sean-mcmanus commented on #2814
We currently only show "errors" (i.e. stuff that won't compile). We had started working on adding "warnings" (see https://github.com/Microsoft/vscode-cpptools/pull/2379/files ), but that work is post-poned until we're able to add a setting to filter out warnings by ID. See https://github.com/Microsoft/vscode-cpptools/milestone/26 .

[2018-11-13 03:47] alianZhen opened #2815 "the database config not work"
I set "C_Cpp.default.browse.databaseFilename":${workspaceFolder}/.vscode/vc.db

When I open a folder which in chinese path,it not work,.The database will be created on "C:\Users\****\AppData\Roaming\Code\User\workspaceStorage"

[2018-11-13 07:17] lzyang2000 opened #2816 "Linux launch.json errors/hangs"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Debian GNU/Linux 9 (stretch)
- VS Code Version: 1.29.0 x64
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after d

[2018-11-13 07:42] lzyang2000 commented on #2816
To clear up the mess of code above I used a newer version of .json configurations. They are uploaded in txt format.

I am able to build with this, but the debugger would hang there.

[launch.txt](https://github.com/Microsoft/vscode-cpptools/files/2575090/launch.txt)
[tasks.txt](https://github.com/Microsoft/vscode-cpptools/files/2575091/tasks.txt)

[2018-11-13 09:18] s-martin commented on #2785
@pieandcakes If you need any additional info, please let me know

[2018-11-13 09:42] fregloin commented on #2806
Thank you very much! It was exact what i needed!

----- Original Message -----
From: "Bob Brown" <notifications@github.com>
To: "Microsoft/vscode-cpptools" <vscode-cpptools@noreply.github.com>
Cc: "Anton Babiy" <anton.babii@dev.zodiac.tv>, "Author" <author@noreply.github.com>
Sent: Monday, November 12, 2018 8:34:29 PM
Subject: Re: [Microsoft/vscode-cpptools] IntelliSence engine loads CPU to much (

[2018-11-13 11:59] ijd02 opened #2817 "Include directives with path containing Linux symbolic links not followed for symbols."
**Type: LanguageService**
When an include directive specifies a header file and includes some path information where one directory is a symbolic link then the file can't be found using "Go to Definition".

For example when attempting to right click and "Go to Definition" for the include directive:
#include <asm/arch/sys_proto.h>

The result is:
"No definition found for 'sys_proto'"

Depending wher

[2018-11-13 12:39] jwatt commented on #1187
I think I read a comment from you elsewhere saying that is now fixed. Presumably also for compiler default include paths.

[2018-11-13 13:15] bhack opened #2818 "Containera headers"
Partially related to https://github.com/Azure/vscode-kubernetes-tools/issues/403.
I think that for Docker on localhost you can always always mount a portable version of Vsocde in a volume and run the IDE in the container but it will be hard for remote running containers like Kubernetes. Also I don't know if there will any security consequence about mounting the portable ide in containers (some plu

[2018-11-13 14:56] dariuszseweryn commented on #2728
Are there any news?

[2018-11-13 14:58] Angelo1211 commented on #2176
@sean-mcmanus So I also tried making two new users, one with and another without a space and in both cases intellisense worked fine with no crashes. Since there was a chance the binary was corrupted I copied the binaries I knew were working from a new user to the admin and still got the same error (193).

I've also tried 0.21.0-insiders installed through the vsix and 0.20.1 with the same issues on

[2018-11-13 15:49] fregloin commented on #2806
Well, this setting doesn't work :(. Still 100% CPU load

----- Original Message -----
From: "Anton Babii" <anton.babii@dev.zodiac.tv>
To: "Microsoft" <reply@reply.github.com>
Sent: Tuesday, November 13, 2018 11:42:30 AM
Subject: Re: [Microsoft/vscode-cpptools] IntelliSence engine loads CPU to much (#2806)

Thank you very much! It was exact what i needed!

----- Original Message -----
From: "Bob Br

[2018-11-13 15:59] ricardoboss commented on #399
Is this discussion still ongoing?

[2018-11-13 16:04] neumann-d commented on #1272
+1

The program path is already shown in the process list where you pick the process to attach. Shouldn't it be possible to just grab it from there? Maybe it needs a bit parsing to stop at the program arguments.

[2018-11-13 16:04] rei-vilo commented on #399
I'm afraid this issue would have the same fate as https://github.com/Microsoft/vscode/issues/41309.

[2018-11-13 16:17] jjimenezg93 commented on #2555
Hi @bobbrow , once again sorry for the delay.
The symbols are not in inactive preprocessor blocks. Even weirder is that, for example, there's one macro in my x.h which is used in x.c 7 times in consecutive lines. It shows the first occurrence underlined in red and, if I comment out these 7 lines, the next use of this same macro (in the next function) doesn't show any red underlining...
However, wi

[2018-11-13 16:28] isidorn opened #2819 "Simplify generated launch.json"
Hey,

VSCode dev here. This milestone I am looking into simplifing generated `launch.json` for various extensions Microsoft/vscode#62851

The `launch.json` that C++ generates is attached at the end. I suggest to simplify it the following way:

- [ ] `DebugConfigurationProvider` should use the `quickPick` to ask the user if he would like to launch or attach. After that for the program name. Optimal

[2018-11-13 18:15] bobbrow commented on #2804
We do not intend to export the database's path for other extensions to query.  If you can provide more information about what scenarios are slow for you we can try to address the root cause.  Can we clone your project?

[2018-11-13 18:19] bobbrow commented on #2815
Did you put quotes around `"${workspaceFolder}/.vscode/vc.db"`?

[2018-11-13 18:43] NoFr1ends commented on #1768
@pieandcakes
something new? or something where we can help?

[2018-11-13 18:54] bobbrow commented on #2806
Which process is using 100% CPU, and for how long and under what circumstances?  There are two processes at work:
1. Microsoft.VSCode.CPP.Extension.exe
2. Microsoft.VSCode.Cpp.IntelliSense.Msvc.exe

[2018-11-13 18:58] bobbrow commented on #399
We are currently developing this feature.  The first iteration will not have doxygen support, but that is also on our radar.

[2018-11-13 19:10] WardenGnaw commented on #2819
👍

The field like `args` and `environment` are often changed by users. We can potentially hide `stopAtEntry` and `cwd`.

Yes, users will change MIMode depending on which debugger they want to use. We could possibly detect the OS in resolveConfiguration and resolve MIMode based on OS. E.g. lldb for OSX and gdb for Linux and windows. But we would still need the property if users want to use gdb on O

[2018-11-13 20:14] lzyang2000 commented on #2816
[https://github.com/Microsoft/vscode-cpptools/issues/1527#issuecomment-364613612](https://github.com/Microsoft/vscode-cpptools/issues/1527#issuecomment-364613612)

The fix is confirmed working. Could someone please merge it into the next release?
[cpptools.zip](https://github.com/Microsoft/vscode-cpptools/files/2577886/cpptools.zip)

[2018-11-14 01:26] alianZhen commented on #2815
yes
![image](https://user-images.githubusercontent.com/27906971/48453645-3b20b780-e7ef-11e8-84ac-8be1e26685d9.png)

[2018-11-14 01:27] LeThiHyVong commented on #15
AFAIK, VSCode is implementing [List All References](https://code.visualstudio.com/updates/v1_29#_references-view).
I don't know the principles behind, but in my view as a user, it quite duplicates this issue in some way.
Find All References = List All References + filter comment
and Find All References in the whole project and include, while List All References in the workspace(?)
I just hope that

[2018-11-14 02:13] sherryyshi opened #2820 "Quotes around Defines are not supported for CustomConfigurationProviders"
For example, when passing in "\"FOO\"" as a define, it results in the error `command-line error: invalid macro definition: "FOO"` to show up at the top of the source file.

[2018-11-14 07:40] layzerar opened #2821 "Symbols not refreshed when file changed cross folder for a multi-root workspace"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.29.0
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

- Consider if you have a multi-root workspace like this:
[code]

- Add `c_cpp_properties.json` config for P

[2018-11-14 08:15] BoskiDialer opened #2822 "powershell.exe -Command [System.Security.Principal.WindowsIdentity]::GetCurrent().Name"
Not sure if it is "C/C++ 0.20.1" issue or "vs code" issue, but this issue only happens when i have "c/c++ 0.20.1" enabled

When using VS Code (ver 1.29.0) with C/C++ (ver 0.20.1), during working with project (changing files, saving files), number of powershell (i am not using it! only editing files) processes increases about 1 per 1~5 minutes (depends on user usage). Number of this processes is no

[2018-11-14 10:41] isidorn commented on #2819
Thanks a lot for the quick reply.

If the `args` and `environment` are often changed, than they should defenetely stay. As you suggest we can than hide `stopAtEntry` and `cwd`

Agree for the `MIMode`, this should be done in the `resolveConfiguration`. In the resolve call check if the user manually set this - if yes respect users choice, otherwise set it per OS. By default do not generate it in the

[2018-11-14 14:17] truekinetix commented on #164
This solution worked for me for Code-oss Version 1.14.0, but does not appear to work for Code-oss Version 1.29.0

Is there another solution for 1.29.0 ?

[2018-11-14 14:51] s22chan opened #2823 "[OSX] lldb cannot read bitfield dwarf debug info generated by -mmacosx-version-min=10.11"
Type: Debugger

**Describe the bug**
- OS and Version: MacOSX 10.4.1
- VS Code Version: 1.29.0
- C/C++ Extension Version: 0.20.1
- A clear and concise description of what the bug is.

Starting from MacOSX target 10.11, clang tunes it's debug information for lldb. This causes the version of lldb embedded in the cpptools extension to misreport bitfield values.

**To Reproduce**
[code]

[code]

Steps

[2018-11-14 14:59] tonyelewis opened #2824 "Intellisense won't allow `__builtin_expect` in ctor of constexpr value"
**Type: LanguageService**

Thanks very much for all your work on this extension. I really love using both it and VSCode.

Strict Intellisense on this source code:

[code]

&hellip;puts a red-squiggle under the `x1` on the last line, with mouseover message:

[code]

&hellip;but GCC and Clang are happy with it:

[code]

I've come across this through using the [Microsoft GSL](https://github.com/Micro

[2018-11-14 17:05] bobbrow commented on #2815
Do you have it set as a User setting/Workspace setting/Folder setting?  Do you have it set in `c_cpp_properties.json`?  The order we evaluate this property is:
1. `c_cpp_properties.json`
2. Folder Setting
3. Workspace Setting
4. User Setting

As soon as we find one, we use it, so if it is set in (1), we don't evaluate (2)-(4)

[2018-11-14 17:07] bobbrow commented on #2820
Thanks for reporting this.  We have this working for compile_commands.json, but not the other providers.

[2018-11-14 17:14] bobbrow commented on #2821
This is an unfortunate side effect of the current implementation of multiroot.  Our multiroot implementation spawns an extension instance for each folder in the workspace and the file watcher events are only sent to the instance representing the folder where the file changed.

At some point we would like merge all the instances into a single one, but it hasn't made it to the top of the backlog yet

[2018-11-14 17:19] bobbrow commented on #2822
Our extension does not provide a terminal implementation, so I don't think this could be caused by cpptools.  I haven't seen this problem before (or didn't notice), but it might be because I use cmd for my shell.

[2018-11-14 18:13] BoskiDialer commented on #2822
fact 1/ i am not using powershell

fact 2/ using Process Explorer: `powershell.exe` is child to `code.exe [...] --type=extensionHost`

fact 3/ Using process dump to `.dmp` file then using hex editor i found this:

[code]

Maybe this will help narrow down where culprit is.

Other chunks gathered from dump - begin of js block:
[code]

end of it:
[code]

[2018-11-14 18:45] pieandcakes commented on #164
@truekinetix What about it doesn't work? Can you elaborate by verifying that the mono you are downloading and running is the one getting run? Also, we have updated mono to use the 5.14.0.177 version.

[2018-11-14 18:46] pieandcakes commented on #1272
@neumann-d I'll change this to a feature request

[2018-11-14 18:47] pieandcakes commented on #2785
@s-martin Thanks. I just need time to setup a CentOS machine and figure out whats wrong with the command.

[2018-11-14 19:00] pieandcakes commented on #2816
@lzyang2000 The overall problem is not fixed by that change. The problem is that it is sending a BOM and we are not expecting it. We have attempted to disable the sending of BOM by Windows but .NET framework doesn't seem to be allowing it. Our current workaround is to ask users to disable this Beta feature for now.

I don't know why that change would fix it for Linux though.

[2018-11-14 22:00] sean-mcmanus commented on #2817
We have a task to reimplement Go to Definition on #include lines at https://github.com/Microsoft/vscode-cpptools/issues/2564 . Fixing that would potentially address this issue as well.

[2018-11-14 22:15] tylertian123 opened #2825 "Tag Parser incorrectly identifies the type of multiple pointers declared in one line"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Home 10.0.17134 Build 17134
- VS Code Version: 1.29
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): Code Spell Checker, Debugger for Java, Gradle Language Support, Java Extension Pack, Java Test Runner, Language Support for Java by Red Hat, Markdown Prev

[2018-11-14 22:20] bobwolff68 opened #2826 "How to include other folders"
Issue Type: <b>Bug</b>

I cannot recompile my old project as it had custom include folders. I found the C_Cpp.default.includePath setting, but it is unclear how to set it and what relative path I'm working with. Without a GUI to pick a folder, this is kinda tricky and it's not clear if the new setting should include the entire setting name of "C_Cpp.default.includePath" or maybe NOT have the ".def

[2018-11-14 22:50] bobbrow commented on #2822
Some extension (or VS Code itself) appears to be spawning those processes with the following command:
[code]
I'm pretty sure it's not us, but it could be one of our dependencies doing it.  I'm unable to find it in our node_modules folder though.

[2018-11-14 22:55] sean-mcmanus commented on #2825
Yeah, our parser is storing the incorrect types in the database. Visual Studio has the same underlying bug, but they don't expose a "Tag Parser" mode for hover.

[2018-11-14 23:11] sean-mcmanus commented on #2825
I filed a Visual Studio bug at https://developercommunity.visualstudio.com/content/problem/383095/c-class-views-shows-the-incorrect-types-for-a-clas.html . The more people that upvote that the more likely it is to get fixed. Right now, it's probably a low priority issue for them.

[2018-11-15 00:20] lzyang2000 commented on #2816
I don't know either... But now I could debug. For single files anyway.

[2018-11-15 00:58] sean-mcmanus commented on #2822
The current workaround is to use https://github.com/Microsoft/vscode-cpptools/releases/download/0.20.0/cpptools-win32.vsix (also, set extensions.autoUpdate to false).

The issue is https://github.com/Microsoft/ApplicationInsights-node.js/issues/438 caused by VS Code's telemetry API, we had fixed it with https://github.com/Microsoft/vscode-cpptools/issues/2587 , but then reverted the change due to

[2018-11-15 01:15] pieandcakes commented on #2811
@dougdew Can you share your entire launch.json?

I have not tried setting up launching on Windows by specifying the integrated shell as the bash.exe. I assume it is failing due to the checks we add to make sure that we have a debugger and a target debuggee before launching and in this case we aren't able to find it.

We currently support WSL through [this](https://github.com/Microsoft/vscode-cppto

[2018-11-15 01:16] pieandcakes commented on #2812
@shahram Can you add the logging block mentioned at the bottom of the issue template and share the output?

[2018-11-15 01:51] #2810 closed, assigned to nobody

[2018-11-15 01:53] sean-mcmanus commented on #2826
C_Cpp.default.includePath doesn't affect compiling at all -- just the IntelliSense feature. It takes an absolute path or you can use a variable like '${workspaceFolder}' to create an absolute path.

[2018-11-15 02:33] sean-mcmanus commented on #2824
Thanks for reporting this. It's a bug with our parser (shared with Visual Studio). We'll update this if we get any ETA or fix.

[2018-11-15 02:35] sean-mcmanus commented on #2818
This doesn't appear related to our C/C++ extension. Maybe try https://github.com/Microsoft/vscode/issues ?

[2018-11-15 02:35] #2818 closed, assigned to nobody

[2018-11-15 02:58] sean-mcmanus commented on #2176
@Angelo1211 So there's some bug when using the Admin account? Yeah, I don't know what could be causing that. Maybe that could happen if some path has the Windows case sensitive file system enabled.

[2018-11-15 03:04] sean-mcmanus commented on #2555
Are the symbols macros? If so, we have a known bug that can cause macro symbols to get undefined (if a #include duplicate occurs in a file).

[2018-11-15 03:07] alianZhen commented on #2815
I find that I set c_cpp_properties.json.When I delete this config in json,it work fine.Thank you~

[2018-11-15 03:09] alianZhen commented on #2815
And I also want to know how to get the value of ${workspaceFolder}

[2018-11-15 03:23] sean-mcmanus commented on #2728
The SVCALL macro causes our symbol parser to fail. You need to add "#define SVCALL(x, y, z) ?" where ? corresponds to the definition or something that compiles -- to a cpp.hint file at the location of the code that uses the SVCALL macros. You could be hitting other issues too, since the IntelliSense process is unable to find certain heades, so it's falling back to the tag parser for Go to Def (i.e

[2018-11-15 03:26] sean-mcmanus commented on #2806
It can be 100% CPU if there is foreground work, such as after opening a file. Are you seeing 100% CPU when you just open a C++ workspace with no files open and then use some command like "C/C++: Navigate..." to activate our extension.

[2018-11-15 03:33] sean-mcmanus commented on #15
@LeThiHyVong List All References is available in VS Code Insiders and it's just a UI layer over the Find All References results that we return, i.e. any extensions that registers "Find All References" support gets "List All References" auto-added, just like "Peed Definition" is auto-added. However, we need support for async Find All References that dynamically updates as we get more/better results

[2018-11-15 03:40] sean-mcmanus commented on #1797
This bug should have been fixed a while ago. If you still repro it, let us know if you have a way for us to repro it.

[2018-11-15 03:40] #1797 closed, assigned to nobody

[2018-11-15 03:51] sean-mcmanus commented on #2815
@alianZhen Can you right-click the folder and choose Copy Path? For a single root workspace, you can just do that on some file/folder at the root and remove the leaf path.

[2018-11-15 06:19] mysterytony commented on #827
This works for me! You deserve a thousand likes!

[2018-11-15 06:51] dsinecos opened #2830 "Debugger not stopping on breakpoints"
Type: Debugger
**Input information below**
**Describe the bug**
- OS and Version: Ubuntu 16.04
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1
- A clear and concise description of what the bug is - I am trying to debug a C program but when running the debugger, it does not stop at the breakpoints set in the gutter. The breakpoints display a 'Unverified breakpoint' on mouseover

**To Re

[2018-11-15 07:29] rameshkunasi commented on #545
Hi,
I am using VS Code on Linux platform. I have included external C header files in my code. I added include path. Even though while compiling it is showing error.

c_cpp_properties.json file has

{
    "configurations": [
        {
            "name": "Linux",
            "includePath": [
                "/usr/include",
                "/usr/local/include",
                "/home/user/Desktop/x"

[2018-11-15 07:35] tonyelewis commented on #2824
Great. Thanks very much for this.

[2018-11-15 08:12] ZZYSonny opened #2831 "Chinese Characters don't show properly in Integrated Terminal"
Type: Debugger

**Describe the bug**
- OS and Version: Win10 10.0.17763.134
- VS Code Version: 1.29.0
- C/C++ Extension Version: 0.20.1
- Chinese characters don't show properly in integrated terminal when running

**To Reproduce**
*Please include a code sample and `launch.json` configuration.* ->See screenshot
Steps to reproduce the behavior:
1. Create code with Chinese output and run

![image](ht

[2018-11-15 09:25] truekinetix commented on #164
Thanks for your assistance.

So I think I should instead download the mono-runtime-sgen_5.14.0.177-0xamarin3+raspbian9b1_armhf.deb version ?

How can I determine the version of the one getting run by code-oss ?
( I click "Start debugging" in the code-oss IDE and see the "Debug adapter" error pop up, no other messages. )

[2018-11-15 09:54] truekinetix commented on #164
The new version works.
For others with the same problem, this is the link for a mono.linux that worked for me with code-oss Version 1.29.0 on my Pi:

http://download.mono-project.com/repo/debian/pool/main/m/mono/mono-runtime-sgen_5.14.0.177-0xamarin3+raspbian9b1_armhf.deb

You wget that file then do the same steps as above:

mkdir ~/mono_temp
dpkg -x mono-runtime-sgen_5.14.0.177-0xamarin3+raspbian

[2018-11-15 12:09] Angelo1211 commented on #2176
@sean-mcmanus So I've checked to see if the case sensitivity property was enabled recursively for all folders in all of my project files, user folders, .vscode folder and visual studio 2017 folder and it wasn't active in any of them.

In any case, I have found a relatively painless workaround that re-enables intellisense and lets you keep using your extensions & setttings without having to leave y

[2018-11-15 14:21] joole commented on #2456
how to solve it ? @pieandcakes

- OS and Version: Mac OS X 10.12
- VS Code Version: 1.29
- C/C++ Extension Version: 0.20
- CMAKE Tools

Unable to start debugging. Unable to establish a connection to LLDB. The following message was written to stderr:

lldb: unrecognized option `--interpreter=mi'
error: unknown or ambiguous option

the launch.json is generated by default

[2018-11-15 14:21] dougdew commented on #2811
Good morning.
Thank you very much for helping with this problem. I love the idea of being able to use VS Code + WSL so that Windows can be my development platform for Linux. Your plugin is a key to making that happen.

Here are the two versions of launch.json which I attempted to use:

{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "(gdb) Launch",
            "type

[2018-11-15 14:28] TheQwertiest commented on #2597
It seems that it was fixed in GCC 7.2 ([this one](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=78939)?), so it's probably a bug in `IntelliSense`, rather than in `cl.exe`.

[2018-11-15 14:38] Walhfort opened #2832 "#include errors detected on Win 10 with wsl"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 V.1803
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): None
- I can't manage to make intellisense work with wsl includes, i get the following error :
`#include errors detected. Please update your includePath. IntelliSense featur

[2018-11-15 16:26] dealeras21 opened #2833 "cant download"
I press install and it doesnt starts to download

[2018-11-15 16:47] rszibele commented on #69
I've also encountered this problem on Debian, however, the solution is to install the GDB package which is linked to python2.

When you install the `gdb` package with apt, you install `gdb-minimal` which isn't linked against python. You need to install the `gdb-python2` package.

On newer GCC/GDB versions (I'm using 8.2.0/8.1) you no longer need a .gdbinit file, unless you need something custom.

[2018-11-15 17:36] dariuszseweryn commented on #2728
But why the inconsistency in initialisation?

[2018-11-15 19:01] shahram commented on #2812
@pieandcakes Do you mean output in ~/.config/Code/logs ... ? Could you be more precise please. Thanks.

[2018-11-15 19:37] sean-mcmanus commented on #545
@rameshkunasi Remove "/usr/include" and "/usr/local/include" from you path. Adding those explicitly can cause the ordering to be incorrect compared to the ordering that the compiler expects (maybe we should better handle this common user error). Having your compilerPath set to /usr/bin/gcc is supposed to set the system includes for you. Does that fix your issue? If not [enabling logging] can help

[2018-11-15 19:46] sean-mcmanus opened #2834 "Default cl.exe compilerPath is populated once, but not updated when it becomes outdated (i.e. no longer exists)"
My VC++ compiler updated to the 15.9 version, but it ended up choosing the default compiler instead (which was a preview version I didn't want to use). Most users will probably end up defaulting to the intended latest 15.9 compiler when the 15.8 compiler isn't found, so maybe this isn't too important to fix?

[2018-11-15 19:52] sean-mcmanus commented on #2833
Our extension has no control over the Install button. Can you file a VS Code bug at https://github.com/Microsoft/vscode/issues ? The linked issue might be the same.

[2018-11-15 19:52] #2833 closed, assigned to nobody

[2018-11-15 19:54] sean-mcmanus commented on #2832
Can you remove the system includes from your includePath (and browse.path) and set your compilerPath to "/usr/bin/gcc"?

[2018-11-15 20:11] Walhfort commented on #2832
I just did it and I still have the error.
Here is it now :
[code]

[2018-11-15 20:13] pieandcakes commented on #2456
@joole can you confirm that you have `lldb-mi` executable in your extensions folder? Are you specifying your own `miDebuggerPath`? If so, you need `lldb-mi` and not `lldb`.

[2018-11-15 20:14] sean-mcmanus commented on #2597
@TheQwertiest Okay, looks like you're correct. Bug https://developercommunity.visualstudio.com/content/problem/238287/structured-bindings-for-a-struct-using-const-auto.html is tracking this fix. The more people that upvote that issue the more likely (and sooner) they are to fix it.

[2018-11-15 20:15] pieandcakes commented on #2811
@dougdew I would take a look at the document I linked in the previous comment as that is the current way we support WSL. It looks like you are trying to do something different that hasn't been investigated. If you want to figure it out, that's fine. I feel like the reason you are running into issues is because `gdb` is unable to be found during our file check at `/usr/bin/gdb` because that locatio

[2018-11-15 20:17] pieandcakes commented on #2812
This note is at the bottom of the issue template you filled out.

If applicable, please include logging by adding "logging": { "engineLogging": true, "trace": true, "traceResponse": true } in your `launch.json`
Add any other context about the problem here including log or error messages in your Debug Console or Output windows.

 If you add that logging block in your `launch.json`, you will see the

[2018-11-15 20:17] joole commented on #2456
@pieandcakes yes,the path "~/.vscode/extensions/ms-vscode.cpptools-0.20.0/debugAdapters/lldb/bin/lldb-mi" has one, the other one in the xcode install path, even if i set the value of miDebuggerPath , that's the same error

[2018-11-15 20:18] pieandcakes commented on #2456
@joole If you are setting `miDebuggerPath` you need to find `lldb-mi` and not `lldb` as we use `mi` mode to send and receive commands from `lldb`. If you want to use the xcode version, you will need to figure out where that is.

[2018-11-15 20:25] joole commented on #2456
@pieandcakes
here is the launch.json

[code]

but error as before~

[2018-11-15 20:34] joole commented on #2456
@pieandcakes
I watch the log of output, find when debug the program the debugger alway the `/usr/bin/lldb`,even if the set the value of `miDebuggerPath`, how to fix it ? please help me

[2018-11-15 20:35] dougdew commented on #2811
I'll do as you recommended and report back.

Thanks!

[2018-11-15 20:57] dougdew commented on #2811
That worked!!!

You just made my life better and are definitely my favorite person right now.

Thank you!

[2018-11-15 21:22] sean-mcmanus commented on #2728
What do you mean by "inconsistency in initialization"? The symbol parser needs to work without compiling the #includes in a file and so the macros are not expanded.

[2018-11-15 21:30] pieandcakes commented on #2456
Can you turn on [traceResponse logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and share the output?

[2018-11-15 21:47] joole commented on #2456
@pieandcakes
only this message
[code]
anything useful information or log generated when add the `logging` to the launch.json

by the way, I use  the cmake-tools to config the cpp

[2018-11-15 21:50] pieandcakes commented on #2456
I can't duplicate this on my current Mac. Which version of xcode do you have installed? I'll see if I can get an updated Mac and try this.

[2018-11-15 22:11] dariuszseweryn commented on #2728
Forgive me if this is a noob question: Why the symbol parser works (Go to Def works) in the second scenario (points 7 to 12) but not in the first (points 1 to 6)? In both cases I was waiting for all activities of the IntelliSense to settle before trying the Go to Def but in one it worked and in other did not. It seems that in one scenario a `cpp.hint` file is obsolete

[2018-11-15 22:25] joole commented on #2456
@pieandcakes
xcode3 on mac mini and xcode9 on mac pro,as I think, you can get the same result with the following step:

1. install vscode with plugin cpp-tool cmake-tool python-tool and cmake
2. in the terminal, using cmake to generate project
3. use vscode open the folder then let the vscode generate anything
4. on vscode statusbar, click the debug icon then can happen it.

[2018-11-16 01:18] sean-mcmanus commented on #2728
Okay, sorry for the misunderstanding -- yeah the failure case is when it falls back to using the Tag Parser because it's using the seemingly incorrect results from the CMake Tools custom configuration provider, but when you start our extension with the file open, the CMake Tools provider isn't ready yet so it's getting the results from the compile_commands.json. That's what is shows in your logs.

[2018-11-16 06:26] joole commented on #2456
OK, I solved it by myself, Maybe useful to others:
add some config to settings.json:
[code]

[2018-11-16 09:48] Walhfort commented on #2832
I tried again the one from the [documentation](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Windows%20Subsystem%20for%20Linux.md) but it still doesn't work, with or without the `/**`
[code]

[2018-11-16 10:13] shahram commented on #2812
Thank you. I had the block added to the launch.json before I contacted you again regarding the logging output. The debugger doesn't get that far, that is, there is no output in debug console: only darkness. That's why I was somehow confused what you meant. Here is my launch.json with the block added:
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of

[2018-11-16 10:25] fregloin commented on #2806
Hello. This process '/home/anton/.vscode/extensions/ms-vscode.cpptools-0.20.1/bin/Microsoft.VSCode.CPP.Extension.linux' eats CPU.
I suppose, i starts eating cpu after git checkout another branch...

----- Original Message -----
From: "Sean McManus" <notifications@github.com>
To: "Microsoft/vscode-cpptools" <vscode-cpptools@noreply.github.com>
Cc: "Anton Babiy" <anton.babii@dev.zodiac.tv>, "Author"

[2018-11-16 17:37] #2815 closed, assigned to nobody

[2018-11-16 17:50] bobbrow commented on #2832
Can you [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md), reload the window, and then share what the extension prints out?

[2018-11-16 18:36] pieandcakes commented on #2456
@joole Thanks. Its interesting that the CMake extension is overwriting our debug path.....

[2018-11-16 19:07] pieandcakes commented on #2830
@dsinecos Can you make sure your binary is up to date by recompiling?

`gdb` is showing that it has not bound the breakpoint when we issue a `break info` request.:
[code]
We set one by default at `main`. This is what a correct one looks like:
[code]

Notice the memory address of the breakpoint as this is how `gdb` binds the breakpoint. In the case of your breakpoints, I'm seeing:
[code]
Which is t

[2018-11-16 19:15] pieandcakes commented on #2823
It sounds like we need to update our `lldb` version that we include to fix the issue?

[2018-11-16 20:11] s22chan commented on #2823
Probably? I wasn't able to find the actual code change/exact version of lldb related to this. XCode 10.0's lldb is able to parse the new debug format.

[2018-11-16 21:14] pieandcakes commented on #2456
@joole So I found the difference. If you use the CMake pane in VS Code and choose `Run with debugger` , then it won't work until you add that block.

I have filed an issue with them as this is the CMake Tools extension that is sending us bad information. If you want to use what is in your `launch.json`, then you need to use the Debug pane and use the `Start Debugging` button or by pressing `F5`.

[2018-11-16 21:17] voidtrance opened #2835 "VSCode cpptool language server crash"
I've been experiencing crashes of the vscode-cpptool extension (version 0.20.1) on Fedora28 with:

Version: 1.29.0
Commit: 5f24c93878bd4bc645a4a17c620e2487b11005f9
Date: 2018-11-12T07:42:27.562Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

I've managed to get Fedora's Problem Reporting tool to capture one of those crashes. Unfortunately, I can't copy/past

[2018-11-16 21:50] sean-mcmanus opened #2836 "#include header completion is too slow for large workspaces (also switch to non-recursive completion)"
We have ideas to improve this. It can block the main input thread as well.

Also, we're switching to showing just the 1st level files and folders instead of "folder/folder/…/file" like it currently does.

[2018-11-17 01:44] jockm commented on #296
Is there any timeframe for this and related features.  I deeply appreciate the work of the VSCode team, but it has been two years and VSCode is still not useable _for me (as I prefer to develop)_.  Indeed the lack of C/C++ refactoring is the primary reason I do not have VSCode open at this very moment.  I think what many of us would appreciate would be some indication of a timeline.

[2018-11-17 02:12] sean-mcmanus commented on #296
@jockm Rename's implementation is based on Find All References, which we're currently working on. Find All References may get pushed back to January, so my best guess for Rename is February. But we haven't decided how to handle UI and API limitations with VS Code yet (i.e. no streaming references, no rename confirmation/config dialog, etc. compared to what VS supports).

[2018-11-17 02:14] jockm commented on #296
@sean-mcmanus I won't lie, this is disappointing to hear; but at least it gives me an idea.  Thank you!

[2018-11-17 02:48] bobwolff68 commented on #2826
Thanks for your response. After experimenting a bunch, I came to a similar understanding that there are two parts to the include - the visual portion and then actual cross-compilation directives. I've still been unsuccessful at both cross-compilation directives and intellisense. Can someone help?

As a simplified project, I started a new robot sample based on Arcade and then I've added a single #i

[2018-11-17 03:08] sean-mcmanus commented on #2826
For using the default settings, see https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Customizing%20Default%20Settings.md . It looks like you're going to probably want to add `${workspaceFolder}` or `${workspaceFolder}/**` as well. You may also need to set your compilerPath in c_cpp_properties.json (https://github.com/Microsoft/vscode-cpptools/blob/master/Docume

[2018-11-17 05:26] dsinecos commented on #2830
Thanks a lot @pieandcakes.

Problemo solved. I added the `preLaunchTask` field to `launch.json` to run the task before debugging.

[2018-11-17 05:32] zajo commented on #2698
The only information I can give you is that after restarting vscode went back to normal, with the same project opened, and exactly the same program, and it hasn't happened since. I doubt this would be helpful, but the project I had opened when it did happen was this: https://github.com/zajo/leaf.

[2018-11-17 09:20] salda commented on #2258
So it's probably not solved yet. I have been writing the the `--password` argument manually all the time and been waiting when it starts to work, but it didn't yet.
Was it tested before releasing?

Once again.. it worked perfectly in the past...

[2018-11-17 23:52] raggi opened #2837 "systemIncludePath parameterization & effects"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Mojave
- VS Code Version: Version 1.29.1 (1.29.1)
- C/C++ Extension Version: 0.20.1

I am working on Fuchsia (https://fuchsia.googlesource.com/docs/+/master/README.md).

I have a fuchsia checkout at `~/fuchsia`. `${workspaceFolder}` == `~/fuchsia`.

I have the following configuration:

[code]

I have the following issues:

- t

[2018-11-18 06:57] ngtrhieu commented on #1768
As suggested here, adding this fixed the problem for me.
[code]

[2018-11-18 09:47] alekseyt opened #2838 "Terminal pops up on every debugger run"
Type: Debugger

- OS and Version: Linux 4.4.0 (Ubuntu 14.04)
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): problems persists with other extensions disabled.
- A clear and concise description of what the bug is.

This is rather a question i think. The problem is: every time i start debugger a terminal w

[2018-11-18 11:14] badmitrii opened #2839 "Problem matcher for warnings"
**Type: LanguageService**
Warning messages are not being displayed in the "Problems" panel. But errors do. As specified in the [problem matchers section](https://code.visualstudio.com/docs/editor/tasks#_defining-a-problem-matcher) the extension already has one. Percisely:

Note: The C/C++ extension includes problem matchers for GCC so there is no need to define our own.

So I guessed it was not ne

[2018-11-18 19:46] mjohngreene commented on #2767
@pieandcakes I am now trying to replicate the problem on a different PC (Windows 10) with a fresh initial install of VSC (v1.29.1) and the cpptools extension (v0.20.1).  When I attempt to edit configurations (ctrl+shift+P and select "C/Cpp: Select a configuration...," though, nothing happens.  Similarly, nothing happens, if I try to launch the 'launch.json' (Debug>Add Configuration>C++(GDB/LLDB)).

[2018-11-18 22:16] ThadHouse opened #2840 "Error processing launch options at field: name"
When attempting to debug on windows while setting an environment variable, the error message `Error processing launch options at field: name` pops up. This happens with a basic launch setup, and even happens before it checks for the executable path. If I remove the environment declaration, the issue goes away.

C++ extension 0.20.1

[code]

[2018-11-18 23:03] ThadHouse opened #2841 "Setting symbol source file paths with vc debugger"
Trying to debug on windows, I have my PDB files in the symbolSourcePath. This works correctly, and the symbols get loaded, however the source files for the symbols do not seem to be mapping properly. The PDB's come from our build server, so they have the build server source paths in them. Trying sourceFileMap doesn't work, and it wouldn't work for our use case anyway, as we don't want to hardcode

[2018-11-19 08:07] psukys opened #2842 "Fedora 29: debugger never starts"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Fedora 29 x64
- VS Code Version: 1.29.1
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them):

Pr

[2018-11-19 14:20] jeansordes commented on #368
Just to know, the issue seemed to have been closed buuuut I have a hard time finding how to translate to this new system. Like, for now, I have to put that file in every C/C++ project I work on, so now how can I do for having it at a global level ?

[code]

[2018-11-19 16:16] jarchca commented on #2489
I stumbled across this thread; I too am using CENTOS 7 and been using VS Code for 6+months.  With latest update (1.29) debugger stopped launching.  I tried both solutions: using externalConsole set to false in launch.json (that worked).  The suggestion by amtlib-dot-dll also worked.

Both of these are hacks though; I still prefer that my console window work as before (i.e., externalConsole set to

[2018-11-19 19:35] bobbrow commented on #368
@eurakilon, take a look at [this documentation](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Customizing%20Default%20Settings.md)

[2018-11-19 19:36] sean-mcmanus commented on #2258
@salda Was it working with 0.17.7? It might have regressed.

[2018-11-19 19:45] sean-mcmanus commented on #2839
The problem matcher is in our open source at https://github.com/Microsoft/vscode-cpptools/blob/master/Extension/package.json if anyone wants to investigate/fix this themselves.

[2018-11-19 20:45] pieandcakes commented on #1768
@NoFr1ends, @yaozhongxiao  I think if @ngtrhieu's fix works, then that will be the workaround until we can update to the newest release.

[2018-11-19 20:51] pieandcakes commented on #2767
@ssctx66 If you still have that instance open and you go to `Output` and select `C/C++` do you see any downloading/installing happening? The "Unable to open launch.json" message is from VS Code. The `Add configuration` code path is all handled by VS Code. My quick search over on their issues page didn't show anything but you can see if they know about that over on [their issues page](https://githu

[2018-11-19 20:55] pieandcakes commented on #2489
@jarchca Can you clarify that launching doesn't work with the latest version of the extension? Are you also trying to `sudo`? You mention 1.29 but that's the VS Code version and not the version of the extension.

[2018-11-19 20:58] alekseyt commented on #2838
I was able to downgrade extension to 0.19.0 and in that version external terminal closes itself. I looked into binaries and i assume one of the problems is in:

[code]

In `Terminal::LaunchInTerminalLinux()`. Is that possible to make this `read -p` part optional somehow? Or is it possible to let me manually configure how do i want to launch shell to something like `xfce4-terminal -x bash -c`, no?

[2018-11-19 21:27] alekseyt commented on #2838
OK, i found source code: https://github.com/Microsoft/MIEngine/blob/29c6569861b2042c43f04d8d78b2566db2e2ef1f/src/OpenDebugAD7/OpenDebug/Terminal.cs

So this is upstream apparently. And to answer my own questions: `read -p` isn't optional, `/usr/bin/gnome-terminal` is hardcoded. I don't even know what to say, sorry for bothering you, i guess, and i wish you the best of luck in moving away from gnom

[2018-11-19 21:28] pieandcakes commented on #2842
@psukys with the logging added, is there anything anything in the `debugConsole` ? When you say "debugging never starts" are you saying you get the blue progress indicator and it doesn't stop?

[2018-11-19 21:28] #2838 closed, assigned to nobody

[2018-11-19 21:31] pieandcakes commented on #2840
@ThadHouse I believe the correct way to do it is
[code]

[2018-11-19 21:32] pieandcakes commented on #2842
Also, can you try setting `externalConsole` to `false` and see if you get the same behavior?

[2018-11-19 21:56] ThadHouse commented on #2840
Ah ok, that seems to work. The docs were a bit confusing on that, and both the node and java debuggers use

[code]

for their environment variables, so I thought they would be similar.

[2018-11-19 22:05] salda commented on #2258
@sean-mcmanus I don't know, it was working in latest version before I reported it in July.

[2018-11-19 23:30] pieandcakes commented on #2840
@ThadHouse Yea, sorry. Its roll your own json schema so I think we started using this format at the beginning. There have been people asking to switch but it would break back compat.

[2018-11-19 23:30] #2840 closed, assigned to pieandcakes

[2018-11-20 00:03] sean-mcmanus commented on #2839
Actually, the problem matcher we provide is only invoked when you use the tasks.json with the problemMatcher field set to "$gcc", and warnings should be supported, so instead of invoking gcc from the terminal you would need to use invoke a task. The error that shows "expected a `;`" is from our IntelliSense engine which doesn't support showing warnings yet (see https://github.com/Microsoft/vscode-

[2018-11-20 00:11] jarchca commented on #2489
The MSS C++ extension tool I am using is the latest 0.20.1 and no, I wasn't using sudo in conjunction with any of my debug sessions.

[2018-11-20 00:14] bobbrow commented on #2835
Are you able to attach a debugger to the crashing process?  This is a problem with the IntelliSense parser, but it will be impossible for us to diagnose without having access to the source file that is causing the problem.  If you can attach to the crashing process and look at the `edge_compiler_main` frame (on the main thread), the name of the source file will be the last item in the array of cha

[2018-11-20 02:58] elegracer commented on #802
Intellisense is still unable to autocomplete the #include for custom includePath, e.g. "/usr/local/include".

This feature is provided by the extension "ajshort.include-autocomplete", but it can only use the includePath in "c_cpp_properties.json" instead of the "C_Cpp.default.includePath"  in the user settings.

Could you please add this feature? It would be quite convenient if Intellisense can do

[2018-11-20 03:35] sean-mcmanus commented on #802
@joueurh This is supposed to work. Can you file a new issue with more repro info? You can [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) to see if the "/usr/local/include" path is being added to your includePath.

![image](https://user-images.githubusercontent.com/19859882/48749977-fd2df400-ec31-11e8-943a-0d18504121a9.p

[2018-11-20 05:02] elegracer opened #2843 "#include autocomplete for symlinks not working"
**Type: LanguageService**

@sean-mcmanus

**Describe the bug**
- OS and Version: macOS Mojave 10.14.1
- VS Code Version: 1.29.1
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): CMake, CMake Tools
- A clear and concise description of what the bug is.

**To Reproduce**

1. Organize a CMake project like this
<img width="540" alt="scr

[2018-11-20 05:11] elegracer commented on #2843
BTW, when I use cmake to add include directories to a target like this
<img width="500" alt="screen shot 2018-11-20 at 13 10 02" src="https://user-images.githubusercontent.com/11660695/48752710-9bb76500-ecc5-11e8-871d-5a25c6cb132a.png">

E.g. for Eigen3, the include dir is "/usr/local/include/eigen3", is it possible for the c++ intellisense to add this directory to do the autocomplete? Or is this

[2018-11-20 05:34] jeffreyqdd opened #2844 "[OSX 10.14.1] exec-run does not return confirmation, hangs debugging"
Type: Debugger
- OS and Version: macOS Mojave
- VS Code Version: 1.29.1
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): NONE
- A clear and concise description of what the bug is.
I have two mac laptops with same OS and Visual code installation. Project setup are identical too. Debugger works well in  laptop 2 but not laptop 1.  T

[2018-11-20 07:45] lijh8 commented on #2230
Source Insight* provides two outline views, one for symbols inside file, another for project wide.
It seems it takes you forever to implement the outline / symbol view in your code project.
What is your plan to implement on this?

With this feature, your code project is a source code editor.
Without it, your code is just another text editor.

* https://www.sourceinsight.com/wp-content/uploads/2016

[2018-11-20 11:25] Gruntfuggly opened #2845 "${workspaceRoot} in compileCommands generates misleading warnings"
Adding `${workspaceRoot}/build/compile_commands.json` to the compileCommands generates the error

[code]

The actual problem is that the file doesn't exist...

[2018-11-20 12:06] LinAGKar commented on #2842
I'm having the same problem on OpenSUSE Leap 15 with VSCode 1.29.1 and C/C++ extension 0.20.1. When externalConsole is true, the blue progress indicator never stops, and nothing appears in the debug console, but when externalConsole is false debugging starts normally.

[2018-11-20 14:40] johannesegger commented on #2768
I installed 0.21.0-insiders but still have this problem on one of three machines (language server crashes as soon as .c file is opened).

I don't think I use a custom configuration provider, this extension is currently the only thing I have installed for C development.

Unfortunately I don't know how to get a stack trace. I installed [x64dbg](https://x64dbg.com/) and attached it to `Microsoft.VSCo

[2018-11-20 17:10] bobbrow commented on #2843
Are `eigen3` and `opencv2` symlinks to the actual header folder?  I can reproduce this for symlinks.  We're working on some changes to autocomplete for #includes that should address this problem.

[2018-11-20 17:30] voidtrance commented on #2835
I am not sure what you mean. Do you need the IntelliSense source file where the crash happens or the source file being edited that causes the source?

In any case, how do I attach a debugger to the IntelliSense process? Obviously, the crashing process is not VSCode because that remains running. Looking at the running processes, there are a number of Microsoft.VSCode.CPP.Extension.Linux processes r

[2018-11-20 17:55] bobbrow commented on #2230
We prioritize features based on the number of upvotes.  Please add your +1 to the original post to voice your support for this feature.

[2018-11-20 18:19] bobbrow commented on #2845
`compile_commands.json` doesn't exist?  Or the source file referenced by `compile_commands.json`?

[2018-11-20 18:29] bobbrow commented on #2835
Sorry, I assumed you knew which process I was referring to (`"executable": "<PATH HIDDEN>/.vscode/extensions/ms-vscode.cpptools-0.20.1/bin/Microsoft.VSCode.CPP.IntelliSense.Msvc.linux"` from your log).

The goal is to find out which of your source files is causing our language server to crash.

Though maybe enabling core dumps is easier than trying to attach before the crash happens.  https://stac

[2018-11-20 19:17] Gruntfuggly commented on #2845
The compile_commands.json doesn't exist, but the error says "workspaceFolder" when I was setting it to "workspace*Root*", which was really confusing.

[2018-11-20 19:18] voidtrance commented on #2835
I found the following core on my system. Hope this help.

[core.Microsoft.VSCode.cpptools.Extension.Linux.gz](https://github.com/Microsoft/vscode-cpptools/files/2601218/core.Microsoft.VSCode.cpptools.Extension.Linux.gz)

[2018-11-20 19:39] psukys commented on #2842
@pieandcakes regarding "Debug Console", there's nothing and the input bar contains "Please start a debug session to evaluate expressions", while the debug indicator shows that it's loading and only "Stop" button is active (clickable) in Debug panel.
Also with debugging, I separately (outside VSCode) check for any processes that run my specified executable and couldn't find any.

Setting `externalC

[2018-11-20 19:39] conklech commented on #2377
The Arduino functions call platform-specific macros. AVR-GCC needs to be given the correct platform identifier, e.g. `-mmcu=atmega2560`, on the command line, in order to know what registers are available. [See GCC docs here](https://gcc.gnu.org/onlinedocs/gcc/AVR-Options.html).

This can be supported in vscode-tools by adding the correct option to the "compilerPath" string. For the original report

[2018-11-20 19:44] bobbrow commented on #2845
workspaceRoot == workspaceFolder and VS Code discourages use of workspaceRoot, so we don't preserve the original variable name when we translate back from the absolute path to the variable syntax.

[2018-11-20 22:06] satyajitghana commented on #2842
I'm having a similar issue, though setting ``externalConsole`` to ``false`` doesn't solve the issue. The blue progress bar keeps on going, on the debug console it says : please start a debug session. so the session isn't even started. The stop button is clickable in the debug panel. that's about it.

config :
Ubuntu 16.04 - WSL
VSCode : 1.29.1
cpptools extension : 0.20.1

here's ``launch.json``
[c

[2018-11-20 22:50] pieandcakes commented on #2842
@satyajitghana If you are using WSL you need to specify more configuration. Please see [this document](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/Windows%20Subsystem%20for%20Linux.md) for configuration instructions.

[2018-11-20 22:53] pieandcakes commented on #2844
@jeffreyqdd can you try and include `"engineLogging": true` also? I'm interested in seeing which command to `lldb` is causing it to freeze. Trace only shows messages from VS Code to our debug adapter.

[2018-11-21 00:43] ThadHouse commented on #2242
This is not fixed, at least for API providers. I'm using `0.20.1` and the autocomplete is still using the recursive defaults, rather then grabbing them from the API.

@sean-mcmanus

[2018-11-21 01:09] bobbrow commented on #2835
Is that a recent core dump?  I tried loading it against the 0.20.1 binaries but gdb said the symbols didn't match.  I'll also try building a debug version of 0.20.1 and see if that fixes it.