[2020-09-24 01:45] Colengms commented on #6201
Hi @Tyriar .  Thanks for reporting this.  This looks to be a VS Code issue.  I've opened the following issue against VS Code: https://github.com/microsoft/vscode/issues/107332

[2020-09-24 01:48] gaodingpan commented on #5602
I have also encountered this problem:
cpp tools version: 1.0.0
environment: ssh remote development from Windows to Linux(Ubuntu)
![image](https://user-images.githubusercontent.com/19259229/94091625-49a87300-fe4b-11ea-9d79-12eaaf7c533c.png)
I am quite sure its from cpptools:
![image](https://user-images.githubusercontent.com/19259229/94091670-62b12400-fe4b-11ea-9464-c2c2c08d5d32.png)
Please let me

[2020-09-24 02:38] suzukajiang commented on #6193
![IMG_20200924_103527](https://user-images.githubusercontent.com/34700091/94094301-baeb2480-fe51-11ea-8a95-2b594a7f9ae2.jpg)
![IMG_20200924_103519](https://user-images.githubusercontent.com/34700091/94094315-c0486f00-fe51-11ea-9e29-b55c9f8b1f02.jpg)

[2020-09-24 03:04] siddharthvaddem commented on #6191
I need to use a library called lwinmm (to play wav files)  and add that dependency but don't know how to do it .Here is a link to the same in VISUAL STUDIO but I couldn't find a single source to do it in Visual Studio Code.

https://www.youtube.com/watch?v=9WeDQHi6sJs

There  is  LINKER option in the project properties in visual studio .How do we do that here in VSCODE.
Im not familiar with changi

[2020-09-24 03:09] suzukajiang commented on #6193
![16009167933621845857206875276121](https://user-images.githubusercontent.com/34700091/94096196-1a4b3380-fe56-11ea-9ef7-c34fb4a7be8e.jpg)
![16009168453404173705134666748150](https://user-images.githubusercontent.com/34700091/94096222-26cf8c00-fe56-11ea-8e35-c16ae883e40c.jpg)
![1600916876256504224086274805276](https://user-images.githubusercontent.com/34700091/94096257-38189880-fe56-11ea-94d9-13f25

[2020-09-24 05:16] aparna742 opened #6204 "Invalid expression error"
Issue Type: <b>Bug</b>
[code]
I am getting the following error but line 9 is valid. I can run the code.
`{
	"resource": "..Area.cpp",
	"owner": "C/C++",
	"code": "29",
	"severity": 8,
	"message": "expected an expression",
	"source": "C/C++",
	"startLineNumber": 9,
	"startColumn": 26,
	"endLineNumber": 9,
	"endColumn": 28
}`

Extension version: 1.0.1
VS Code version: Code 1.49.1 (58bb7b2331731bf725

[2020-09-24 08:17] Pietroro commented on #6196
Hi Michelle,

I looked into the docs you sent me, the Diagnostics output was very useful. I will include it into this post for completeness' sake.
It seems like the ROS extension set the c and cpp Standards way too high. ROS "noetic" seems to target c++14. Setting that as the cpp standard fixed the issue.

Thanks for your time and help

[2020-09-24 08:17] #6196 closed, assigned to nobody

[2020-09-24 08:42] mkurdej opened #6205 "Formatter incorrectly formats (applies diff of) correct raw clang-format output"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 2004
- VS Code Version: 1.49.1
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): not relevant
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including informatio

[2020-09-24 10:39] Spongman commented on #1796
i'm having a similar issue. i have a folder that contains several sub-projects each with its own set of recursive Makefiles and each with its own set of include directories. when I'm editing a file "a/a.cpp" i need the includePath to be configured for sub-dir "a", when i'm editing "a/b/b.cpp" the includePath should be for "a/b", and completely different again when i'm editing "c/c.cpp". i have man

[2020-09-24 10:59] hyperedge56 commented on #6181
It's working now it seems. Thank you very much. I just changed the way I compiled the code and it gives me variable states now.

[2020-09-24 10:59] #6181 closed, assigned to nobody

[2020-09-24 14:33] Delta-in-hub commented on #6193
兄弟,你这对着屏幕拍也太瞎眼了.生产环境不方便就在自己电脑上复现,把log贴上来.

[2020-09-24 15:24] #6193 closed, assigned to nobody

[2020-09-24 17:13] sean-mcmanus commented on #5831
The "Connection to server got closed." is a generic symptom of a cpptools crash, but if started with 0.26.0, that could imply it's the same crash, but we need either repro steps or a crash call stack.

[2020-09-24 17:24] sean-mcmanus commented on #5044
Does setting `"remote.SSH.lockfilesInTmp": true` fix your issue? If not, you should file an issue at https://github.com/microsoft/vscode-remote-release/issues .

[2020-09-24 17:32] sean-mcmanus commented on #6204
Remove the ";" to fix the compiler error.

[2020-09-24 17:32] #6204 closed, assigned to nobody

[2020-09-24 17:32] sean-mcmanus commented on #6204
...the last character in the definition of AREA.

If you're running the code, maybe it's running an old version? It shouldn't be able to compile.

[2020-09-24 17:48] bobbrow commented on #1796
Yes, recursive includes don't work great when you have multiple headers with the same same in the project.  But if you use quote syntax for including these files, the search will start off relative to the source file.  I'm not sure how your project is organized, but if your "stdafx.h" file is in the same directory as your source files, you would just do this:
[code]
instead of this:
[code]
And rec

[2020-09-24 17:54] sean-mcmanus commented on #6205
I'm not able to repro this so far. Do you have any particular .clang-format or other C_Cpp.clang_format_* setting set?

[2020-09-24 17:57] sean-mcmanus opened #6207 "Main process got stuck calling is_machine_arm on Linux"
I don't know a repro yet. But I was using the PlatformIO Arduino-Blink project on Ubuntu 20 (WSL).

cpptools is stuck due to the call stack below...
[code]

[2020-09-24 18:01] bobbrow commented on #6201
The VS Code team fixed the bug.

[2020-09-24 18:01] #6201 closed, assigned to nobody

[2020-09-24 18:04] sean-mcmanus commented on #6205
Okay, I got a repro via setting C_Cpp.clang_format_sortIncludes to true and having only the blank line at the end.

[2020-09-24 18:29] sean-mcmanus commented on #6207
The uname process appears to be stuck.

[2020-09-24 18:33] Spongman commented on #1796
no, there are include directories that are specified in the Makefiles. i need to be able to specify which set of include directories to use for each subdir. I'm not interested in the auto-Makefile thing, sounds like trying to solve the halting problem... it's not going to work for me, i'd much rather have proper configuration than some mostly broken guessing game.

[2020-09-24 18:38] sean-mcmanus commented on #6207
uname is a in a defunct/zombie state.

[2020-09-24 18:43] michelleangela commented on #6200
It looks like this got fixed in the latest VS Code insiders update.

Version: 1.50.0-insider (user setup)
Commit: 73b33dcbc8204c23ae30b53ce129b32c6da98197
Date: 2020-09-24T09:42:09.149Z
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

![image](https://user-images.githubusercontent.com/38734287/94185982-efafa980-fe5a-11ea-93b0-e5ac9bd49

[2020-09-24 18:43] #6200 closed, assigned to nobody

[2020-09-24 20:01] sean-mcmanus commented on #1796
@Spongman The Makefile Tools extension just reads the Makefile and sends the correct configuration for IntelliSense, similar to what the CMake Tools extension does for CMake builds. I tried it on a Linux repo that used Makefiles and it was working for me.

Another option might be to use a different workspace folder for each subdirectory.

[2020-09-24 20:13] michelleangela commented on #6191
Here's a tutorial for creating a "Hello world" program that uses the C++ extension for IntelliSense and the tasks.json of VS Code for compiling the program. The launch.json is used to launch and debug a compiled program.
https://code.visualstudio.com/docs/cpp/config-msvc

Note that the C++ extension configuration is only for configurating IntelliSense and not compiling/building a program. So if yo

[2020-09-24 20:46] elahehrashedi commented on #6069
the kind is defined as "bbuild" which is why it is not showing up in the "build" tasks.
In the latest version, we can use "g++.exe" command without providing the full path.

[2020-09-24 20:46] #6069 closed, assigned to nobody

[2020-09-24 21:20] bobbrow commented on #6188
Do you just want to compile a single source file and execute that program?  We have a command `"Build and Debug Active File"` that you can use.

[2020-09-24 21:33] #4204 closed, assigned to nobody

[2020-09-24 21:34] #4208 closed, assigned to nobody

[2020-09-24 21:38] bobbrow commented on #4748
Closing stale issue.

[2020-09-24 21:38] #4748 closed, assigned to nobody

[2020-09-24 21:46] bobbrow commented on #4355
This is fixed in recent versions of the extension.

[2020-09-24 21:46] #4355 closed, assigned to nobody

[2020-09-24 21:50] #5208 closed, assigned to nobody

[2020-09-24 21:52] bobbrow commented on #5285
@elahehrashedi did you fix this with your build tasks change?

[2020-09-24 21:53] bobbrow commented on #5270
@elahehrashedi did you fix this with your build tasks change?

[2020-09-24 21:57] bobbrow commented on #5638
We do not plan to split the features out into two extensions at this time.

[2020-09-24 21:57] #5673 closed, assigned to nobody

[2020-09-24 23:13] Colengms commented on #5715
Closing external issue.

[2020-09-24 23:13] #5715 closed, assigned to nobody

[2020-09-25 01:18] need47 opened #6208 "cpptools extension generated a lot of core dump files"
**Type: LanguageService**

**Describe the bug**
- OS and Version: WIn10
- VS Code Version: 1.49.0
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: Yes, I'm using Remote SSH

**Steps to reproduce**
open a cpp file, make some edits, and save. The fo

[2020-09-25 08:19] janhaa opened #6209 ""Activating extension ms-vscode.cpptools failed due to an error""
Type: General

Hi,
since version 1.0 the extension does not function for me properly anymore.
!!! **Downgrading to 0.29.0 fixes it** !!!

**Describe the bug**
- OS and Version: Windows 10 Pro
- VS Code Version: 1.49.2
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): ESLint, Vetur, Arduino - yes issue persists
- A clear and concise

[2020-09-25 12:49] MrAlbino opened #6210 "Terminal Fail"
Issue Type: <b>Bug</b>

Good but i have problem with terminal, when i was writing C++ data structure codes and i use mingw32-make vscode terminal gives me different result than cmd

Extension version: 1.0.1
VS Code version: Code 1.49.1 (58bb7b2331731bf72587010e943852e13e6fd3cf, 2020-09-16T23:27:51.792Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|

[2020-09-25 13:49] MontiL opened #6211 "fatal error: 'wchar.h' file not found"
Type: Debugger

I try to build the sample code from https://code.visualstudio.com/docs/cpp/config-clang-mac
[code]

and I will get the error message as below:

[code]

**Describe the bug**
- OS and Version: macOS Catalina 10.15.7（19H2）
- VS Code Version: Version: 1.49.2
Commit: e5e9e69aed6e1984f7499b7af85b3d05f9a6883a
Date: 2020-09-24T16:23:52.277Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12

[2020-09-25 13:54] MontiL commented on #6211
I build again, and got different error message:

[code]

[2020-09-25 14:26] ghost opened #6212 "VScode reports errors when including Linux headers in Windows."
**Type: LanguageService**

VScode reports errors when including Linux headers in Windows.

Can VSCode be compatible with Linux headers in Windows?

![Image](https://preview.yozodcs.com/fcscloud/view/preview/AX9iK43lFaRNKddn5_HTiJMFT8Fg8FxJXOwfbnquseV1gPhgh1OcIMXxf6KGkcpfU97cc_0goBGGubcDe11fuPGAtwGAOFCC8PlDMaYpTYcm1IKnqDuie9MNqXzLHAtBo81yQRH1WrXi_Qc3WTu-UaNonQiQisQsJEVD-gUtCdWI1evGAdfsQ8JWyu9pk15pa

[2020-09-25 18:02] bobbrow commented on #6208
Can you open the cores in a debugger and share the crashing callstack with us?
Or can you share more detailed repro steps with us?  "Open a cpp file, make some edits, and save" is not enough information for us to reproduce the problem because this works for the majority of users.  There is likely something special about your project or configuration that is causing the crash.  Is it OSS that we ca

[2020-09-25 18:48] michelleangela commented on #6212
@zrzjohn

Could you share the error message from the extension? Also, could you provide the logs from running the command `C/C++: Log Diagnostics`?

[2020-09-25 18:56] michelleangela commented on #6209
@janhaa
Could you tell us more on how you installed version 1.0 of the extension? Was it through automatic update or manual install of offline package? Have you tried a complete uninstall and re-install?

[2020-09-25 19:08] ghost opened #6213 "#include <cstdlib> do not include abs() and become red underlined in abs()"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including information about the workspace (i.e. is the workspace

[2020-09-25 20:13] sean-mcmanus commented on #6173
Looks like __cpp_lib_concepts for IntelliSense got enabled with 16.8 Preview, so we should be able to enable that for our next release too. The __cpp_lib_concepts wasn't enabled for IntelliSense previously because the support wasn't 100% finished yet.

[2020-09-25 20:23] sean-mcmanus commented on #6213
I'm not reproing this. Please provide more repro info.

![image](https://user-images.githubusercontent.com/19859882/94312702-40de9c80-ff32-11ea-9085-f6836e6eeb06.png)

[2020-09-25 21:08] bobbrow commented on #6210
Hi there.  This sounds like a problem with VS Code and not C++.  Can you open an issue on the vscode repository?  Our extension does not own the Terminal implementation.

[2020-09-25 21:08] #6210 closed, assigned to nobody

[2020-09-25 21:34] sean-mcmanus commented on #6178
Use the View->Command Palette:
![image](https://user-images.githubusercontent.com/19859882/94317834-f6fab400-ff3b-11ea-99bf-d027d3afaba1.png)

[2020-09-25 21:37] liuzqt opened #6214 "Failed to read response from server: 20 (and go to definition not working)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: local macOS 10.15.16, connect to remote Ubuntu 16.04
- VS Code Version: 1.49.2
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: yes
- A clear and concise description of what the bug

[2020-09-25 21:50] sean-mcmanus commented on #6214
The cpptools-srv process is crashing. Are you able to provide a repro? Or get a crash call stack by attaching to cpptools-srv: https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv

[2020-09-25 21:58] sean-mcmanus commented on #6214
Also, you can set C_Cpp.loggingLevel to "Debug" to get more info about which TU is being launched and causing the crash.

[2020-09-25 22:05] sean-mcmanus commented on #226
@hanzheteng If you're using CMake, it's recommended to install the CMake Tools extensions and setting "configurationProvider": "ms-vscode.cmake-tools" , and running CMake: Configure (and maybe other commands).

However, include paths in compile_commands.json is supposed to work too, so if you could file a new issue and provide more info we could investigate more.

[2020-09-25 22:08] liuzqt commented on #6214
I solved the issue by reboot my remote machine....

When I tried to attach cpptools-srv, I found there're several cpptool-srv processes, and even mixed of different version. Frankly speaking I haven't clean up my remote machine for a while, so I do a reboot and everything goes well now.

A small question, how is it possible that my remote machines running many cpptools/cpptools-srv proceses? Do I

[2020-09-25 22:13] sean-mcmanus commented on #6161
We're not able to repro this yet. Are you able to compare the logging in both cases to see what is different?

[2020-09-25 22:58] sean-mcmanus commented on #4827
@Trass3r Are you asking us? I think the cpptools/cpptools-srv doesn't run. @andreeis Might know more.

[2020-09-25 23:02] sean-mcmanus opened #6215 "Improve custom configuration variables"
@sean-mcmanus I think my comment is already a suggestion to make it better:
1) Allow <code>customConfigurationVariables</code> to have property values which are arrays of strings;
2) Add a new class of VS Code variables which can be used in <code>tasks.json</code> and <code>launch.json</code>. These variables can be used in substitutions with a syntax like <code>${cpptools:<Variablename\>}</code>.

[2020-09-25 23:04] #6167 closed, assigned to nobody

[2020-09-25 23:12] bobbrow commented on #6211
The second error is because tasks.json was the active file at the time of compilation.  You have to make sure that your cpp file is active in the editor since the task uses the `${file}` variable to determine which file to pass to the compiler.  In the event that you only need to compile one file right now, you can hard code this to the file you care about to avoid running into that issue.

For th

[2020-09-25 23:15] bobbrow commented on #6212
Did you copy the linux headers over to Windows?  If the files are not there, then our extension won't be able to parse them.

If you want to do linux development on Windows, we recommend using the Remote-WSL extension or Remote-SSH to connect to a live linux session.

[2020-09-25 23:16] Trass3r commented on #4827
Yes, so we get that message alpine is not supported but it's not clear which features are affected.
vscode-cpptools consists of different components. I personally only use the debugger as there are other solutions for LSP.

[2020-09-25 23:19] sean-mcmanus commented on #3927
@omerbguclu The more votes the better. Over 20 would be good: see https://github.com/Microsoft/vscode-cpptools/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc+label%3A%22Language+Service%22

[2020-09-25 23:22] bobbrow commented on #6215
I don't think that `${cpptools:<Variablename>}` is possible.  Commands need to be registered before they can be invoked.  It is not dynamic as far as I am aware.  I don't think there is a way for VS Code to say "Hey cpptools, do you know what to do with `<VariableName>`?"  I believe this would be a feature ask for the VS Code team.

[2020-09-25 23:25] bobbrow commented on #6215
But thinking about the scenario in (2) a little more, perhaps we can achieve something similar with our new build tasks support coming in 1.1.  When a task type is 'cppbuild' we'll get a chance to intercept the commands before they are executed and we could do a substitution there.  I'm not sure if we get the same chance with the launch.json.

[2020-09-25 23:33] sean-mcmanus commented on #5349
@sunilvijendra I'm not sure what is going wrong. Can you use Go to Definition on "stdarg.h" and see if it is able to locate the correct file?

[2020-09-26 00:14] MontiL commented on #6211
C/C++: Log Diagnostics log :

[code]

[2020-09-26 01:29] sean-mcmanus commented on #5191
@GitMensch Adding a "note" problem matcher to our package.json via the method I had previously suggested doesn't appear to work (I can't get the warning/errors to be combined with the notes, only one or the other appears, or none). If you anyone can figure out how, you could submit a PR.

[2020-09-26 03:34] heartacker commented on #6018
BTW, creat .clang-format file, thanks  https://github.com/microsoft/vscode-cpptools/issues/5671

[2020-09-26 08:02] Apocalyt commented on #6192
This sounds like the same problem I am having.
I get the same error message in lower right corner error console when Code starts.
I am now unable to compile my projects with Platform.io extension when using version 1.0.1 of C/C++ extension.
Reinstalling doesn't help for me. Going back to version 1.0.0 helps to resolve issue.

For me cpptools and cpptools-srv exist under that forder:
Version: 1.48.

[2020-09-26 11:01] need47 commented on #6208
I created a minimal example with a completely new vscode installation with the following extensions:
![image](https://user-images.githubusercontent.com/1194165/94338984-a11e1e80-ffc4-11ea-8152-ab1ce9a9f012.png)

[code]

I'm working with `test.cpp` via `Remote SSH` extension on a remote host.
[code]

core file shows very limited information.
[code]

Diagnostics
[code]

Note that there are a lot of

[2020-09-26 13:48] celonymire commented on #6173
@sean-mcmanus Oh, that's good! Just wondering on how the release schedule works, is it every Visual Studio version (like from 16.7 to 16.8), or is it independent of that?

[2020-09-26 16:36] tiankongsnow opened #6216 "need support for arm64"
need support for arm64

[2020-09-26 18:52] ClydeHobart commented on #5521
Same. Similar to the `else if` case is a bracketed case statement (for case-based variable declaration):
[code]

collapses to

[code]

[2020-09-26 18:59] siddharthvaddem commented on #6191
Thanks a lot . I have been able to do what I wanted.

[2020-09-26 18:59] #6191 closed, assigned to nobody

[2020-09-27 04:39] ghost commented on #6178
@sean-mcmanus
The first is to add the relative address of'portmacro.h' in'c_cpp ... json'.
The second is to change the name of the file'portmacro.h', I changed it to'portmacroZ.h', in fact it can be changed to anything else.
The third one is not to add relative addresses and not to change file names.
I very much suspect it has something to do with this file name.
The content in the first and secon

[2020-09-27 09:04] MicePilot commented on #6216
已经支持了吧，看介绍里直接下载release里的cpptools-linux-aarch64.vsix，然后在vsc里使用Install from VSIX...命令安装就行了
![image](https://user-images.githubusercontent.com/13869645/94360947-8098b600-00e3-11eb-8df0-32fbbb877ed4.png)

[2020-09-27 16:32] kn666 opened #6217 "Multiline define with {} blocks is not properly formatted"
Issue Type: <b>Bug</b>

This is part of .h file after "Format document" command.

[code]

 Before formatting:
[code]

Extension version: 1.0.1
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:09:08.021Z)
OS version: Darwin x64 19.6.0

[2020-09-27 17:15] tjx666 commented on #6142
How long will it take to start fix?

[2020-09-28 00:39] hanzheteng commented on #226
@sean-mcmanus  Thank you. CMake Tools works well after I config and build the project.

I don't really understand how compile_commands.json works, so probably just skip it for now. Thanks.

[2020-09-28 03:56] tjx666 commented on #6142
The 3 seconds delay is too long anyhow. I really can't stand the slow respond. Especially when I fix a syntax error, I can't see the error squiggle disappear immediately.

[2020-09-28 04:26] AnneMayor opened #6218 "C++ could not read tuple header file"
- OS Version: macOS Catalina version. 10.15.6
- VS Code Version: 1.49.0
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): Code Runner
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

**Steps to reproduce**
1. Include header file "tuple" in .cpp file.
2. Initialize tuple Object in main() funct

[2020-09-28 07:03] msftwindowslinux commented on #5044
I can semi-reliably (~hours) reproduce this issue on WSL2 targets, so it seems unlikely to be related to network issues or a specific host. I am using CMakeTools, and the server dying looks like it might be triggered around when building, but I can't be sure.

From the logs, I see a bunch of child processes spawned and killed periodically; I'm guessing this is usually normal behavior, but the serv

[2020-09-28 08:32] janhaa commented on #6209
@michelleangela I tried all the ways. The initial update was through automatic update though I think.

[2020-09-28 16:07] bobbrow commented on #6208
Nothing looks out of the ordinary with your source file, though I would recommend removing any system include paths from the `includePath`.  We will figure these out for you by querying the compiler you chose in `compilerPath`.

For the core dump analysis, this thread has some good instructions on how to get the call stack out of it (i.e. you also need to tell gdb which program crashed so it can p

[2020-09-28 16:12] bobbrow commented on #6211
So I notice that you're using `/usr/bin/clang` in your IntelliSense configuration and `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++` in your `tasks.json`.

Is `/usr/bin/clang` a symlink to that version of the compiler?  It looks like there are two different configurations at play here.  I would be interested to see what happens when you swap one ou

[2020-09-28 16:59] sean-mcmanus commented on #6216
@tiankongsnow We have support for Linux ARM 64 (when using the remote extensions or via https://github.com/microsoft/vscode/pull/106289#issuecomment-691076575). Is it not working for you? What version are you trying to use? How are you installing and what is the error?

Windows ARM64 support is in progress, see https://github.com/microsoft/vscode-cpptools/issues/5583 .

Mac ARM64 support is possib

[2020-09-28 17:31] sean-mcmanus commented on #6217
This is a bug with clang-format. See https://www.llvm.org/docs/HowToSubmitABug.html .

[2020-09-28 17:31] #6217 closed, assigned to nobody

[2020-09-28 17:42] sean-mcmanus commented on #6218
Those errors are not from our extension. They're from the g++ command on your path. It looks like the g++ on your path doesn't support tuple, i.e. maybe a version of g++ older than 6. Can you install a newer version of g++? You can use `g++ --version` to see the version.

[2020-09-28 17:42] #6218 closed, assigned to nobody

[2020-09-28 17:44] MarcianoPreciado commented on #5273
I also get this behavior on macOS 10.15.6

[2020-09-28 18:01] spacemonkd commented on #6215
Can I try and work on this? @sean-mcmanus sir @bobbrow sir

[2020-09-28 18:29] sean-mcmanus commented on #3335
@jrray Thanks for letting us know. I've created a PR to add download.visualstudio.microsoft.com to the list: https://github.com/microsoft/vscode-docs/pull/4036

[2020-09-28 18:31] bobbrow commented on #6218
It's also possible your compiler defaults to an older version of the standard.  Try adding `-std:c++11` to the command line.

[2020-09-28 18:42] sean-mcmanus commented on #5980
Yeah, I tried it and it works.

[2020-09-28 18:44] sean-mcmanus commented on #2506
VS Code ARM64 support is available in the Insiders release at https://github.com/microsoft/vscode/pull/106289#issuecomment-691076575 .

[2020-09-28 19:15] sean-mcmanus commented on #2703
It's possible you might be able to edit the file `"C:\Users\<username>\.vscode\extensions\ms-vscode.cpptools-1.0.1\bin\msvc.json"` or https://github.com/microsoft/vscode-cpptools/blob/master/Extension/bin/msvc.json, e.g.
[code]
but I haven't tried it out.

[2020-09-28 19:26] sean-mcmanus commented on #429
VS Code supports Linux ARM now on Insiders at https://github.com/microsoft/vscode/pull/106289#issuecomment-691076575 . However, be careful about installing too many extensions, e.g. with the C/C++ Extension Pack (by Microsoft) it froze/crashed due to memory usage, but just installing the C/C++ (1.0.1) extension worked (with 300+ MB memory usage)....on a machine with 1 GB of memory.

[2020-09-28 20:36] clebov opened #6221 "include errors detected. Please update your includePath. Squiggles are disabled for this translation unit"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux/16.04 LTS
- VS Code Version: 1.49.2
- C/C++ Extension Version: 1.01
- Other extensions you installed (and if the issue persists after disabling them): python Intellisense
- Does this issue involve using SSH remote to run the extension on a remote machine?: yes
- A clear and concise description of what the bug is, including inf

[2020-09-28 20:37] sean-mcmanus commented on #6195
The manual workaround would be to install https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.0/LLVM-10.0.0-win32.exe and set the C_Cpp.clang_format_path to `"C:\\Program Files\\LLVM\\bin\\clang-format.exe"`.

@elahehrashedi The x64 clang-format would be useful to keep around in case we ship an x64 vsix in the future.

[2020-09-28 21:41] sean-mcmanus commented on #6199
Yeah, I'm not able to repro https://github.com/microsoft/vscode-cpptools/issues/5864. I have the libtorch folder under my workspace root. I don't know what the "ThirdParty" folder is. Maybe @Colengms or @michelleangela could try to repro it later on if they have time. Was there a specific file? I used the sample code that does `#include <torch/torch.h>`

[2020-09-28 21:56] sean-mcmanus commented on #5602
@gaodingpan Yeah, we need a repro or some diagnostic logging that shows the call stack which is allocating the memory. The output of C/C++: Log Diagnostics may also help. Also, if anything can be changed to avoid the memory usage that could help isolate which system is causing the problem, such as if you add:
[code]
and do a Reset IntelliSense Database command from the Command Palette.

[2020-09-28 22:07] sean-mcmanus commented on #6221
Where is the linux folder located? You need to add that path via the -I flag to the "args" in tasks.json to get it to build.

[2020-09-28 22:16] elahehrashedi commented on #6195
I changed the pipeline to build the clang-format binary for Win32 target architecture.
@sean-mcmanus maybe we should create another pipeline to build for Win64 in the future.

[2020-09-28 22:22] sean-mcmanus commented on #6195
Okay, that's fine.

[2020-09-28 22:24] clebov commented on #6221
the folder I'm working out of is in "/home/osc/Work" so should it be like this?
![image](https://user-images.githubusercontent.com/39603908/94492205-63311e00-01af-11eb-8a77-1da97bece1a6.png)

[2020-09-28 22:30] sean-mcmanus commented on #5285
I'm not reproing this with 1.0.1 (prelaunch tasks has "C/C++: ...".

[2020-09-28 22:30] elahehrashedi commented on #5285
This is fixed in the new build task changes. Will be available in C/C++ Extension Version: 1.1.0

[2020-09-28 22:34] elahehrashedi commented on #5270
This is fixed in the new build task changes. Will be available in C/C++ Extension Version: 1.1.0.

[2020-09-28 22:44] sean-mcmanus commented on #6214
The cpptools/cpptools-srv process are supposed to be automatically be terminated, but there might be some bug in certain circumstances that could cause those process to be dangling.

[2020-09-28 22:44] #6214 closed, assigned to nobody

[2020-09-28 22:48] elahehrashedi commented on #4278
This is fixed in the new build task changes. Will be available in C/C++ Extension Version: 1.1.0

[2020-09-28 22:48] sean-mcmanus commented on #4827
@WardenGnaw Do you know anything about Alpine support for the debugger?

[2020-09-28 23:04] WardenGnaw commented on #4827
If there is a Mono Runtime (using musl) that works on Alpine, we can ship the debugger to work on Alpine.

From when I last checked, there was not an officially supported Mono Runtime for Alpine.

[2020-09-28 23:04] linjiapro commented on #6199
@sean-mcmanus, the "ThirdParty" is just a folder under project workspace root, which contains downloaded libraries, such as libtorch. I just reproduced this on a mac laptop. After pressing control+space, it takes more than 5 seconds to launch autocomplete.

[2020-09-28 23:10] sean-mcmanus commented on #6192
What does /home/username/.vscode/extensions/ms-vscode.cpptools-1.0.1/bin/cpptools output when run on the command line? Or what "file /home/username/.vscode/extensions/ms-vscode.cpptools-1.0.1/bin/cpptools" output? It's possible VS Code might be installing the wrong Linux binaries for some reason. You may want to try our offline vsix at https://github.com/microsoft/vscode-cpptools/releases/download

[2020-09-28 23:27] sean-mcmanus commented on #6173
The update process is independent of the VS release process. We'll usually update the IntelliSense parser in our first Insider release after a non-Insider release, i.e. 1.1.0-insiders, so that'll give us time to address any regressions. And then we might take more updates later, depending on how much time we have left and the potential risk of the change. So sometimes VS Preview releases might hav

[2020-09-28 23:48] sean-mcmanus commented on #6178
Yes, it's possible 'portmacro.h` could be being picked up from another includePath earlier on. Adding the path of 'portmacro.h' that you want to use to the front your includePath is the recommended solution. Does that work? What error you getting exactly?

[2020-09-28 23:58] sean-mcmanus commented on #6142
We made the change from 3 to 2 seconds, but if anyone wants to make a PR on the TypeScript side for a new setting, we might be able to make the changes to the cpptools side to read that setting. See https://github.com/microsoft/vscode-cpptools/pull/5730 as an example.

[2020-09-29 00:07] sean-mcmanus commented on #5044
@msftwindowslinux You may have hit https://github.com/microsoft/vscode-cpptools/issues/6207 , which should be fixed in our next Insiders update. The only way to be sure would be to attach a debugger to cpptools -- see https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv . The callstacks should show why cpptools is stuck.

Also, make sure to kill

[2020-09-29 00:18] sean-mcmanus commented on #6209
Unfortunately, we don't know how to repro this and we don't know what could be causing it. If you want to try debugging it yourself to get more info, you could do a `git clone https://github.com/microsoft/vscode-cpptools.git`, "checkout release", open the vscode-cpptools\Extension folder and do Start Debugging with the "Launch Extension (development)" config.

[2020-09-29 00:24] clebov commented on #6221
didn't work
![image](https://user-images.githubusercontent.com/39603908/94498585-27528480-01c0-11eb-9a8e-1a917c431f72.png)

[2020-09-29 02:36] sean-mcmanus commented on #6208
If you attach a debugger to cpptools before it crashes, you should be able to get a crash call stack: https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv .

[2020-09-29 02:37] songyang-dev opened #6222 "Persistent compiler error: C/C++ (312) No suitable user-defined conversion"
**Type: LanguageService**

My project compiles without problem on `cmake` + `nmake`. But Intellisense is still saying that I have a compiler error. The error goes away (for a while) if I reopen my script.

The compiler error is also nonsensical. It is saying that there is no conversion between things of the same type.
```no suitable user-defined conversion from "const trimesh::trimesh_t::halfedge_

[2020-09-29 02:48] songyang-dev commented on #6222
The error is still here even after disabling Visual Studio IntelliCode.

[2020-09-29 02:56] sean-mcmanus commented on #6222
Thanks for reporting this. I'll check (tomorrow) if it repros with our latest internal update which has a bunch of fixes such as the fix for https://github.com/microsoft/vscode-cpptools/issues/6097 , which have the same root cause.

[2020-09-29 05:21] elahehrashedi commented on #6195
1. The new Binary needs to be published and the fwlink needs to be updated.
2. The shared folder for offline/insiders builds needs to be updated.

[2020-09-29 06:08] kkutsner commented on #2703
Thanks @sean-mcmanus! That is actually working! At least it does not show up those errors! Will try to play more with that and will get back with updates.

[2020-09-29 07:09] jaudiger commented on #4827
There is a mono package (https://pkgs.alpinelinux.org/package/edge/testing/x86_64/mono), but it's not ready for production right now. The package is only available on edge branch, not on the 3.12 release. And it's tagged as *testing*.

[2020-09-29 08:15] picatostas opened #6224 "Feature request: Make c_cpp_properties.json support input and command extension"
Type: General
**Describe the request**

I would like to be able to use inputs and command within the c_cpp_properties.json in order to have parametrized configuration based on a key-value file, such as the described in https://marketplace.visualstudio.com/items?itemName=rioj7.command-variable#file-content-key-value-pairs and the question I put in stack overflow:

https://stackoverflow.com/question

[2020-09-29 09:36] janhaa commented on #6209
@sean-mcmanus I will come back to you once I'm back in office.

[2020-09-29 10:48] Yang-Xijie commented on #3338
It seems that your method doesn't work for me. I have the same requirement as you do. On Windows just changing "externalConsole": false then you could input in the integrated shell below.

[2020-09-29 12:57] W1F3B34T3R opened #6225 "/usr/bin/ld: /tmp/ccIxVWk8.o: in function `main': new.c:(.text+0x2e): undefined reference to `sqrt' collect2: error: ld returned 1 exit status"
I use codeoss on linux and i know that in linux you have to add "-lm" tag to include math.h library but i don't wanna do it manually, i use vscode to prevent myself from doing repetitive stuff, so the problem is `[Running] cd "/home/redacted/codeoss/" && gcc new.c -o new && "/home/redacted/codeoss/"new` this code, it doesn't automatically adds "-lm" tag, I'm using these 2 extensions "formulahendry

[2020-09-29 13:00] Mindjolt2406 opened #6226 "Incorrect red squiggly lines formed when syntax is correct"
![Screenshot 2020-09-29 at 6 29 20 PM](https://user-images.githubusercontent.com/30757416/94561481-b4114700-0281-11eb-8e6f-c81ed4f64f78.png)

[2020-09-29 14:11] JBPlinn commented on #16
As it has been written many times, we (as corporate developers) absolutely need call tree feature in large projects.
And, as many we stick to Eclipse for this exact feature (and refactoring in C++).
Please mind that call tree doesn't go without a proper code analysis (which is far from perfect with intelisense).

[2020-09-29 14:35] humkins opened #6228 "Wrong TSX ternary markup block formatting on save"
I like 'format on save' VSCode feature very much. But I'm experiencing a very annoying wrong formatting of tsx files (my current version is 1.49.2, but I've been observing this for more than month).

Here is an example. Here two lines have extra indents ('single' block)

[code]

the same code in jsx file is formatted correctly

[code]
I tried to switch default vscode formatter to `eslint`, `null`,

[2020-09-29 14:47] bigOconstant commented on #429
I've been using it on a raspberry pi with 8gigs of ram for a week and it works pretty well

[2020-09-29 15:30] tiankongsnow commented on #6216
没用，装上，还是显示，不支持

在 2020-09-27 16:04:49，"裸奔丶小馒头" <notifications@github.com> 写道：

need support for arm64

已经支持了吧，看介绍里直接下载release里的cpptools-linux-aarch64.vsix，然后在vsc里使用Install from VSIX...命令安装就行了

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-29 15:30] tiankongsnow commented on #6216
显示，不支持arm64

At 2020-09-29 00:00:10, "Sean McManus" <notifications@github.com> wrote:

@tiankongsnow We have support for ARM 64. Is it not working for you? How are you installing and what is the error?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-29 16:07] Trass3r commented on #5680
The only workaround is to use `"stopAtEntry": true,` and then run `-exec detach` in the debugger console.

[2020-09-29 16:35] luisagd opened #6229 "Task not working as expected"
Issue Type: <b>Bug</b>

Start a task like Build Task.
Expected: Do the task(The command works fine in the console)
Result: Stuck in "Building..."(does not end), in case of Build Task, and in case of Debugging, the task does not starts as expected.

I tried re-installing it, and deleting the folder .vscode.

Extension version: 1.0.1
VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6

[2020-09-29 17:13] sean-mcmanus commented on #6229
Does your issue repro with the C/C++ extension disabled? This sounds like a VS Code issue: https://github.com/microsoft/vscode/issues

[2020-09-29 17:15] sean-mcmanus commented on #6225
We're tracking this issue with https://github.com/microsoft/vscode-cpptools/issues/6174 .

[2020-09-29 17:15] #6225 closed, assigned to nobody

[2020-09-29 17:16] sean-mcmanus commented on #6226
We need more info. Such as sample repro code and/or what the error message say. I can't even tell if the errors are from our extension or not.

[2020-09-29 17:19] sean-mcmanus commented on #6228
Our extension doesn't format non-C/C++ files, so I assume this repros with the C/C++ extension disabled, right? It sounds like you should file an issue on VS Code at https://github.com/microsoft/vscode/issues ...or for another extension that handles those file types.

[2020-09-29 17:19] #6228 closed, assigned to nobody

[2020-09-29 17:25] #6229 closed, assigned to nobody

[2020-09-29 19:54] sean-mcmanus commented on #6215
@devabhishekpal Seems fine to me, but I think you'd need to use the recent task changes in the master branch, but our published cpptools binary has been updated so let us know if you hit any strange issues due to that and we could publish an update with our pending 1.1.0-insiders binaries (I tried it out with the published binaries and I didn't see any issues though).

[2020-09-29 19:55] spacemonkd commented on #6215
Okay sir I am checking

[2020-09-29 22:29] michelleangela opened #6230 "Shutdown IntelliSense cpptools-srv process when it reaches N amount of memory usage"
There has been issues on memory usage around IntelliSense engine process on macOS and Linux platforms. On Windows, the IntelliSense engine process will shutdown when it reaches a certain threshold of memory usage, therefore there has been no feedback issues on memory usage on Windows as the process will terminates before it uses an undesirable amount of memory.

To mitigate the memory usage issue

[2020-09-29 22:35] michelleangela commented on #6093
After researching tools to use for profiling memory usage of running processes on macOS, Linux, and Windows, it was determined that there were no tools that provide straightforward method for users to profile the extension's processes.

Instead, to mitigate this issue on macOS and Linux, a logic will be added to shut down an IntelliSense Engine process when it reaches a certain amount of memory us

[2020-09-29 22:35] #6093 closed, assigned to michelleangela

[2020-09-29 23:18] sean-mcmanus commented on #6221
The flag is `-I` (uppercase i) not '-l` lowercase L.

[2020-09-29 23:25] sean-mcmanus commented on #2703
@kkutsner Be aware that the downside with that workaround is that edits to msvc.json would stop working and need to be re-applied after an update is released.

[2020-09-29 23:33] clebov commented on #6221
no luck
![image](https://user-images.githubusercontent.com/39603908/94627069-2aae4480-0282-11eb-8c5a-61490c20099d.png)
![image](https://user-images.githubusercontent.com/39603908/94627101-3f8ad800-0282-11eb-8298-b780dc6f37cb.png)

[2020-09-29 23:37] sean-mcmanus commented on #6216
What version of VS Code are you using and what version of the C/C++ extension are you using?

FYI, VS Code supports Linux ARM now on Insiders at microsoft/vscode#106289 (comment) .

[2020-09-29 23:41] sean-mcmanus commented on #6230
I think there should be a setting to configure this (the A/B testing might control that setting's default?). The default can probably start off high like 4 GB, because the bad case is when it uses "all" memory (like 8+ GB).

Also, it should work for Windows, for ARM64 or x64.

[2020-09-30 00:12] sean-mcmanus commented on #6221
Does running `/usr/bin/gcc -g /home/osc/Work/ch2/simple.c -o /home/osc/Work/ch2/simple -I /home/osc/Work` directly in the Terminal bash shell work (instead of via tasks.json)?

I'm not able to repro the issue.

[2020-09-30 00:41] sean-mcmanus commented on #6222
I'm not reproing the bug. Can you run the C/C++: Log Diagnostics command from the Command Palette?

Also, I had to add "using namespace trimesh;" to get it to compile.

[2020-09-30 00:45] worthy7 commented on #304
![image](https://user-images.githubusercontent.com/4762399/94630737-91bf0e00-0301-11eb-98a4-0965e4296412.png)

Am I doing something wrong here? It doesn't seem to be working. Intellisense still puts red lines under the custom preprocessor definitions.

[2020-09-30 00:52] Colengms commented on #304
Hi @worthy7 .  Adding a value to the list of 'defines' is equivalent to using them in #define statements.  i.e.:
[code]
... for use as a macro or in preprocessor expressions, such as:
[code]
It looks like you're trying to create your own preprocessor commands/keywords, not macro definitions.  I don't believe that's supported by the language.

[2020-09-30 00:58] worthy7 commented on #304
Ah, so I misunderstood the use. So what are my options to try and get it to be a bit smarter? (This is using MQL5, a MetaTraders own trading code which is some kind of modified c++, but their editor is crap)
Thanks for the help!

[2020-09-30 01:05] sean-mcmanus commented on #304
@worthy7 You could try using (potentially in a forcedInclude file).
[code]

[2020-09-30 01:08] sean-mcmanus commented on #6173
Verified it's fixed with our pending 1.1.0-insiders:
![image](https://user-images.githubusercontent.com/19859882/94632118-a4443380-027e-11eb-9dc4-a992ee42cb5a.png)

[2020-09-30 02:06] clebov commented on #6221
hmm im getting the same error
![image](https://user-images.githubusercontent.com/39603908/94635010-3e17da80-0297-11eb-943b-6799305076e5.png)

[2020-09-30 02:34] celonymire commented on #6173
Nice!

[2020-09-30 03:46] kkutsner commented on #2703
@sean-mcmanus Yeah, it is clear from the fact that msvc.json file is a source code of the extension and not a user config so the consequences are pretty much expected...

[2020-09-30 05:58] W1F3B34T3R commented on #6174
bump

[2020-09-30 06:16] Mindjolt2406 commented on #6226
[Bug Report.zip](https://github.com/microsoft/vscode-cpptools/files/5303392/Bug.Report.zip)
This is my code. I believe the error is in linking different files. It's not recognising the methods in the structs located in other files for some reason. This behaviour is surprising because it just stopped working all of a sudden.

OS: MacOS
OS Version: 10.14.6

VS Code Details
Version: 1.49.2
Commit: e5

[2020-09-30 06:22] humkins commented on #6228
Sorry @sean-mcmanus , you are right. Thank you for the reference!

[2020-09-30 07:31] Silcet opened #6231 "Debugging C++ code hangs"
Type: Debugger

**Describe the bug**
- OS and Version: Ubuntu 18.04 5.4.0-48-generic
- VS Code Version: 1.49.2
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): Issue persists after disabling them
- A clear and concise description of what the bug is.

I'm having problems with the debugger in my main project, so I have created one wi

[2020-09-30 09:28] musamaanjum opened #6232 ""justMyCode": true" isn't not workig - VSCode Remote debugger session tries to open library code which isn't found"
VSCode Version: 1.49.1
C/C++ Version: 1.0.1
Local OS Version: Windows 10 19041
Remote OS Version: Ubuntu 20.04.1
Remote Extension/Connection Type: WSL
Steps to Reproduce:

Start a VS Code session and build hello world sample using printf.
Launch the debug session and "Step Into" the printf function. The following error will appear and you'll be unable to move further until you press "Step Out":
Un

[2020-09-30 12:06] aneox commented on #941
Would be nice feature

[2020-09-30 12:47] EricHripko commented on #1796
Could I get access to the Makefile extension please? Would love to help out by giving it a test spin and providing feedback.

[2020-09-30 14:19] celonymire commented on #6173
Forgot to ask, but does this come with support for concepts intellisense? I mean, ranges solely rely on concepts.

[2020-09-30 15:07] wrgallo commented on #952
VSCode Extensions > C/C++ > Extension Settings > C_CPP: Intelli Sense Engine > Set to "Tag Parser"

This solved the problem for me.

[2020-09-30 16:23] Apocalyt commented on #6192
Here is output for what you asked. cpptools produces no output when run. It does nothing until killed.

[apocalyt@Nemesis ~]$ .vscode-oss/extensions/ms-vscode.cpptools-1.0.1/bin/cpptools

^C
[apocalyt@Nemesis ~]$ file .vscode-oss/extensions/ms-vscode.cpptools-1.0.1/bin/cpptools
.vscode-oss/extensions/ms-vscode.cpptools-1.0.1/bin/cpptools: ELF 64-bit LSB executable, x86-64, version 1 (GNU/Linux), d

[2020-09-30 17:21] WardenGnaw commented on #6232
Just My Code is not supported yet in the Cpptools extension.
Duplicate of https://github.com/microsoft/vscode-cpptools/issues/5763

[2020-09-30 17:21] #6232 closed, assigned to nobody

[2020-09-30 17:31] WardenGnaw commented on #6231
I'm not seeing the `&"warning: GDB: Failed to set controlling terminal: Operation not permitted\n"` in the provided logs. However, we send `shell echo -e \\\\033c 1>&2` to GDB to prevent that error from showing up, which is being executed in the logs.

[2020-09-30 18:55] bobbrow commented on #952
Using the "Tag Parser" engine will disable IntelliSense squiggles and remove semantic matches in the autocomplete list.  It's not recommended unless you are using a specialized compiler that is incompatible with MSVC or GCC/Clang.

As this issue is quite dated, the information is old.  You should use `compilerPath` in your configuration in `c_cpp_properties.json` to tell the extension where the sy

[2020-09-30 18:57] bobbrow commented on #952
If you are having issues with red squiggles or getting the extension configured at all, please open a new issue and we'd be happy to help you troubleshoot it.

[2020-09-30 19:15] bobbrow commented on #1587
We have been working on an extension that will extract information from Makefile projects and use that information to configure IntelliSense.  We are at a point where the extension is working with a number of Makefile projects that we've tested (including the linux kernel) and we're ready to start sharing the extension more broadly.  We would certainly love to hear your feedback.

If you would lik

[2020-09-30 19:18] bobbrow commented on #1796
@EricHripko certainly.  Look for more details here: #1587

[2020-09-30 20:46] tlemo opened #6235 "Support Doxygen implicit brief comments"
Issue Type: <b>Bug</b>

The documentation tooltip shows the `!`, which is part of the Doxygen comment syntax, not part of the description:

![image](https://user-images.githubusercontent.com/13824553/94737739-369e1300-0323-11eb-81e1-c88429f0e005.png)

Extension version: 1.0.1
VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:26:09.944Z)
OS version: Linux x64 4.1

[2020-09-30 21:08] michelleangela commented on #6235
The extension only identifies Doxygen comments with `@` or `\` before the Doxygen command tag. Does the following work?

[code]

[2020-09-30 21:14] michelleangela commented on #6235
The support to handle implicit brief comments (as shown at https://www.doxygen.nl/manual/docblocks.html) is not available at this time.

[2020-09-30 21:17] tlemo commented on #6235
Doxygen supports multiple ways of defining the brief documentation: https://www.doxygen.nl/manual/docblocks.html
(search for `For the brief description there are also several possibilities`)

The problem here is that the implicit form is not supported properly.

[2020-09-30 21:27] michelleangela commented on #6235
Thanks for the feedback. I created an issue on Visual Studio, as the code that parses Doxygen comment is shared with Visual Studio.

https://developercommunity.visualstudio.com/idea/1206185/support-doxygen-implicit-brief-comments.html

[2020-09-30 23:16] Vestaia commented on #5602
Similar issue in current version (1.49.2) on MacOS 10.14.6. cpptools continuously allocates memory until system freezes (14GB). It also uses ~200% CPU when idle.

[2020-10-01 01:11] songyang-dev commented on #6222
I'll provide the log. About the namespace, yes I forgot to use it. 😅 You did the correct thing.

[2020-10-01 03:27] PhilParisot commented on #5638
@bobbrow I suggest we keep this ticket open in a backlog and not close it outright.

In the long run, if this extension remains focused solely on C/C++ it will hurt vscode support for GDB/LLDB.

In the interest of attracting talent and community support, I strongly suggest we decouple debugging and language support into two separate extensions, create an extension pack for C/C++ and refocus the de

[2020-10-01 06:17] Silcet commented on #6231
Actually the message appeared only briefly in the terminal since the command you mention hides it. It makes good sense and I have crossed that out in the issue. Then my problem must lay somewhere else...

[2020-10-01 07:18] sbenedetto commented on #1580
Hi, I have a similar problem. I just installed vscode on linux and tried both lldb and gdb. It is incredibly slow with both to start. my debugging session. When I use gdb/lldb without vscode it is incredibly fast. How can I debug this? I looked at the log under `~/.config/code/logs`  but didn't find anything useful.

[2020-10-01 08:07] Rigel-Alves opened #6237 "Add a way to enable a colon in includePath to be treated as a literal instead of a path separator (on Linux/Mac)."
Hi,

Visual Studio Code's IntelliSense feature is not working for me, as it is unable to detect headers located in paths which include the ":" symbol, like e.g.:

/run/user/1000/gvfs/sftp:host=taurus.hrsk.tu-dresden.de,user=alves/lustre/ssd/ws/alves-paraview/v5.7.0/install/include/paraview-5.7

The path is split into two, before and after the ":" symbol, so IntelliSense never reaches the headers l

[2020-10-01 16:51] sean-mcmanus commented on #6221
Where is the "linux" folder located?

[2020-10-01 17:23] davinci26 opened #6238 "High CPU usage on MacOS"
Type: General

The extension is consuming a lot of CPU on macOS Mojave

**Describe the bug**
- OS and Version: macOS Mojave 10.14.6
- VS Code Version: 1.49.0
- C/C++ Extension Version: v1.0.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

The CPU usage of cpptols process according to activity monitor is 99%.

[2020-10-01 17:24] davinci26 commented on #6238
I understand that the bug might not be actionable with the current description but let me know how I can collect logs, memory dumps to make it actionable.

[2020-10-01 17:31] Yang-Xijie commented on #3338
After checking the official document, I found the reason.
link here -- https://code.visualstudio.com/docs/cpp/launch-json-reference
<img width="951" alt="image" src="https://user-images.githubusercontent.com/57952362/94843091-cd1b2300-044e-11eb-96e5-9834955cf455.png">
What a pity! Hope that this function will be added in the soon future.

[2020-10-01 17:59] davinci26 commented on #6149
If it helps with the repro I am getting extremely high cpu usage when I work on https://github.com/envoyproxy/envoy, it might be the case that bazel is common denominator here.

[2020-10-01 18:05] studavekar commented on #4695
@ZhUyU1997 were you able to get it working? If yes can you please share the changes?

[2020-10-01 18:30] clebov commented on #6221
/usr/src/linux-headers-4.4.0-87/include/linux

I used "locate /linux" to find all folder that contained 'linux'

the only entry that made sense to me was the one mentioned above but in case that's not the right one
I've saved the output of the console to a text file and uploading it here for reference.
[locatelist.txt](https://github.com/microsoft/vscode-cpptools/files/5314935/locatelist.txt)

[2020-10-01 20:06] jureid commented on #5047
Hi @rvanlaar - Thanks for opening this issue. I'm excited to share that we have a beta release ready for Make support. Would you be interested in giving it a try and providing feedback?

[2020-10-01 20:27] bobbrow commented on #5047
I have more information about how to join the preview here: https://github.com/microsoft/vscode-cpptools/issues/1587#issuecomment-701590120

I will close this feature request as a duplicate of #1587.

[2020-10-01 20:27] #5047 closed, assigned to nobody

[2020-10-01 20:30] rvanlaar commented on #5047
Yes, would love that. Is it available via the regular beta channels?

[2020-10-01 20:32] bobbrow commented on #5047
It doesn't have a channel yet.  It will be a separate extension for now.  I will invite you to the repository and you can download the VSIX from the Releases page.

[2020-10-01 20:49] sean-mcmanus commented on #6226
Thanks for reporting this. I've filed a bug on VS (for our shared code) at https://developercommunity.visualstudio.com/content/problem/1207039/c-intellisense-gives-a-bunch-of-invalid-class-has.html .

[2020-10-01 20:55] bobbrow commented on #6237
The behavior changed here: https://github.com/microsoft/vscode-cpptools/pull/5229.

If you need a quick fix, you can update the `dist/main.js` file in the extension's installation folder by changing line 50123.  Replace `util.envDelimiter` with `";"`.

![image](https://user-images.githubusercontent.com/12818240/94862269-94972d00-03ed-11eb-8b14-e53e79fc87f3.png)

[2020-10-01 21:14] bobbrow commented on #5638
We appreciate your thoughts on the issue, but we do not intend to cut support for MSVC debugging either.  I don't see how splitting debugging from the language server will improve vscode support for GDB/LLDB.  All debugger work is being done out in the open either in this extension or in the MIEngine project.  We welcome contributions to the debugger support from the community.  That wouldn't chan

[2020-10-01 21:30] bobbrow commented on #304
If you want to hide non-standard keywords, the syntax would be:
[code]
If you forget the `=`, the define will be assigned a value of `1` instead of an empty string.

[2020-10-01 22:15] sean-mcmanus commented on #6173
concepts IntelliSense works with 1.0.1 (at least using https://devblogs.microsoft.com/cppblog/c20-concepts-are-here-in-visual-studio-2019-version-16-3/#examples), except for the std:: concepts stuff in `<concepts>` e.g. std::convertible_to, which is added in our pending 1.1.0-insiders (hopefully next week if we can get some regressions fixed):

![image](https://user-images.githubusercontent.com/19

[2020-10-01 23:29] michelleangela commented on #6238
@davinci26

We have instructions on how to collect CPU analysis logs at https://github.com/microsoft/vscode-cpptools/wiki/Troubleshooting-Performance-Issues. Please follow the instructions for macOS.

It will also be helpful if you could provide a sample project in which this issue consistently reproduces, as well as any specific repro steps. For example, does this consistently reproduce only at t

[2020-10-01 23:47] sean-mcmanus commented on #6221
Can you build with `-I /usr/src/linux-headers-4.4.0-87/include` then? However, there might be additional includes you may need to add and you may need to modify the includePath c_cpp_properties.json too.

[2020-10-02 00:03] clebov commented on #6221
![image](https://user-images.githubusercontent.com/39603908/94874425-8fe76e80-0417-11eb-911d-1c15faf7ab2d.png)

[2020-10-02 00:58] sean-mcmanus commented on #6221
__init should be defined in linux/init.h. This builds for me in the linux repo I'm using with gcc-10. I don't know exactly what is different with your particular linux repo or compiler.

You should probably be using the Makefiles to build since they add other stuff that might be needed, such as forcedIncludes and other include paths and defines for different configurations.

[2020-10-02 01:01] rikenshah commented on #16
It would be wonderful to have this feature.

[2020-10-02 02:25] clebov commented on #6221
I'm not sure what the issue is exactly but it seems to me that it's not with the extension since the error is showing up in my virtual machine as well.

I can load the kernel and view the output in the log buffer so I will stick to that and disable the extension.

thank you for the help.

[2020-10-02 05:22] fadimounir commented on #1503
+1

[2020-10-02 06:33] IvanPizhenko commented on #1503
I's not implemented in VS code, but would be nice to have. VS has memory windows. I came up with same question recently and found following: meanwhile you can run GDB command "x" in the debug console: `-exec x ... `. Command "x" reference, for example, here: https://sourceware.org/gdb/current/onlinedocs/gdb/Memory.html

[2020-10-02 07:01] IvanPizhenko commented on #1503
+1

[2020-10-02 08:16] Rigel-Alves commented on #6237
Thank you very much, @bobbrow. How can I get to that file (`dist/main.js`) in my Ubuntu system? I tried searching for it, without success.

[2020-10-02 08:34] KaungZawHtet commented on #206
+1 for this

[2020-10-02 13:18] mundodisco8 opened #6242 "Format Document doesn't sort my includes"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1909
- VS Code Version: 1.49.1 system
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including information about t

[2020-10-02 14:28] W1F3B34T3R commented on #6174
any updates @sean-mcmanus ?

[2020-10-02 15:15] bobbrow commented on #6237
It should be under `~/.vscode/extensions/ms-vscode.cpptools-1.0.1`

[2020-10-02 15:29] beauxq opened #6244 "specific variable name `amp` - rename problem"
Issue Type: <b>Bug</b>

with c++ extension installed, new folder, new cpp file

Put this code in the file: `int amp;`

right click `amp`
rename symbol
type any other variable name and press enter

error: `A definition for the selected symbol could not be located.`

Most variable names make no error. (`x`, `my_var`, `am`, `amps`)
I think I have seen this bug with other variable names, but `amp` is

[2020-10-02 15:38] Rigel-Alves commented on #6237
Found it! Thanks!

[2020-10-02 16:12] NathanIceSea commented on #121
Running Manjaro Linux and this is happening on bash, not many tweaks been done to the os.

[2020-10-02 16:58] imgeself opened #6245 "[cppvsdbg] Breakpoints don't work after DLL hotreload"
Type: Debugger (cppvsdbg)

**Describe the bug**
- OS and Version: Win10
- Toolset: [ClangCL](https://docs.microsoft.com/en-us/cpp/build/clang-support-msbuild?view=vs-2019) & MSBuild
- VS Code Version: 1.49.2
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): None

I'm using DLL hotreloading for my project. When I put a breakpoint for

[2020-10-02 18:04] sean-mcmanus commented on #6242
I'm not reproing the issue with
[code]

What is the value of your C_Cpp.clang_format_sortIncludes setting? Is it set to false? It should be the default of "null" if you want the .clang-format value to be used.

[2020-10-02 18:18] sean-mcmanus commented on #6244
Thanks for reporting this. I've filed a bug on VS (it's an issue with our shared code): https://developercommunity.visualstudio.com/content/problem/1207937/c-intellisense-doesnt-work-on-variables-named-amp.html

[2020-10-02 18:40] #6221 closed, assigned to nobody

[2020-10-02 18:45] sean-mcmanus commented on #6174
@W1F3B34T3R No updates.

[2020-10-02 19:39] flamewing opened #6246 "Placement new and auto"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Happens on Windows and Ubuntu
- VS Code Version: 1.49.2
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): happens with C/C++ extension on its own
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- Intellisense fails to deduce re

[2020-10-02 20:42] sean-mcmanus commented on #6246
Thanks for reporting this. I've filed a bug on VS for our shared parser: https://developercommunity.visualstudio.com/content/problem/1207998/cc-intellisense-gives-errors-regarding-size-t-and.html .

The issue doesn't repro on Linux/Mac or with cl.exe, only gcc mode on Windows, i.e. seems to be some issue with size_t different on Windows.

[2020-10-02 20:56] ajitpeter opened #6247 "macOS Build Active File App permission request"
Issue Type: <b>Bug</b>

The presence of "preLaunchTask": "C/C++: clang++ build active file" in the launch.json file causes [“AppName” would like to access files in your Documents folder] to be prompted every time debugging is initiated. It still does it even after allowing access each and every time. I have built my CPP and it resides in the Documents folder. Removing it makes the access request g

[2020-10-02 21:03] tlemo commented on #6235
From a few quick experiments, it seems that the C++ extension doesn't handle `//!` comments at all. Hopefully this is a trivial fix.

[2020-10-02 21:58] celonymire commented on #6173
Nice! Do you think I need to change the issue label as something like "Intellisense for <ranges> and <concepts>"? Right now it only indicates ranges support, and not so clear about concepts support.

[2020-10-02 22:04] sean-mcmanus commented on #6173
The issue title seems fine to me. You could change it if you want.

[2020-10-03 03:18] sushi057 commented on #3019
Can you please clarify more on how to do that? I have been trying to resolve this issue for so long.

[2020-10-03 08:36] spacemonkd commented on #6215
Sorry I wasnt able to work on this for a while due to network issues. I am starting work from today @sean-mcmanus sir

[2020-10-03 09:40] Andrei20035 opened #6248 "Issue in VS Code."
i have this issue in vs code that say "g++ : The term 'g++' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was
included, verify that the path is correct and try again" and also when i type g++ in command prompt it says "gcc' is not recognized as an internal or external command,
operable program or batch file." Wha

[2020-10-03 10:59] beszedics commented on #4718
It works! Thanks

[2020-10-03 17:49] RIZZIE-LAB opened #6249 "S"
Type: Debugger

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll dow

[2020-10-03 22:58] Volker-Weissmann opened #6250 "Wrong configuration info is used for a C/C++ file that is included by another"
I was/I am trying to make "Go To Definition" work in a big project but it did not work. I managed to produce a minimal example of this bug:

**Type: LanguageService**

**Describe the bug**
- OS and Version: Arch Linux
- VS Code Version:
1.49.1
58bb7b2331731bf72587010e943852e13e6fd3cf
x64
- C/C++ Extension Version: 1.0.0
- Other extensions you installed (and if the issue persists after disabling th

[2020-10-04 02:06] Lawstorant commented on #882
Ridiculous. Such an essential and easy to implement feature but it takes ages because of ***

*Commented moderated. We can understand frustration, but please keep it respectful here.  [Microsoft Code of Conduct](https://opensource.microsoft.com/codeofconduct/)*

[2020-10-04 07:56] daiyousei-qz opened #6251 "Intellisense dies with this code snippet"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 2004 build 19041.508
- VS Code Version: 1.49.3
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): CMake Tools
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, inclu

[2020-10-04 13:58] xi00ya commented on #5428
my solution is that ensures your file name is "tasks.json" instead of "task.json". I hope it will be helpful to you. @ezraluandre

[2020-10-04 14:56] aneox commented on #3378
I am working in VSCode Version: 1.49.3 and have this bug, macOS 10.15.4

When I click "Go to definition", sometimes it went to declarations and sometimes it went to the definition.
No error or warning messages.

c_cpp_properties.json

[code]

[2020-10-04 16:59] Curve commented on #5527
Any progress on this? This issue is quite old and still not fixed

[2020-10-04 18:52] Leedehai commented on #6020
Following @sean-mcmanus's response above.. Where can we re-enable that in code? I was trying to tweak files in ~/.vscode/extensions/ms-vscode.cpptools-1.0.1 so I can render the comment in Markdown without having to wait for a new Cpptools release :) It looks we just need to delete the code that is used to "explicitly disable/escape" Markdown.

[2020-10-04 23:31] kterhorst commented on #882
Please MS! Just implement this essential feature that makes so many coders happy.

[2020-10-05 09:56] brentgracey opened #6252 "Red squiggly lines in code that compiles correctly: name followed by '::' must be a class or namespace name"
Issue Type: <b>Bug</b>

Disclaimer: I'm not sure if my diagnosis of the root cause is correct.

I am looking in a code set that uses macros; the macro seems to be expanding correctly; yet the below error is highlighted whilst the code will compile and run as expected; so it is a valid use of a macro.

Perhaps there is additional setup / configuration I need to complete in order for the plugin to p

[2020-10-05 10:16] aneox commented on #3378
@sean-mcmanus please reopen

[2020-10-05 11:25] Silcet commented on #6231
I figured out the problem. My $SHELL variable was /usr/bin/fish, which seemed to make everything hang. I forced it to be /bin/bash in the settings in VSCode and the debugger works as expected. So for anyone with the same issue as me, simply add the following to your settings.json:
[code]

[2020-10-05 11:25] #6231 closed, assigned to nobody

[2020-10-05 12:33] AnneMayor commented on #6218
Thank you guys for all your support. Will try it.

[2020-10-05 13:26] mundodisco8 commented on #6242
Aha! I must have set this one by mistake. It was lost in a massive settings file (it would be so helpful if VS Code grouped and sorted settings...)

Sorry! You can close this one.

[2020-10-05 17:39] #6249 closed, assigned to nobody

[2020-10-05 18:11] sean-mcmanus commented on #6248
It sounds like you need to install g++, such as from mingw. Also, on Windows, g++ ends with an ".exe". See https://code.visualstudio.com/docs/cpp/config-mingw .

[2020-10-05 18:31] sean-mcmanus commented on #6250
This is "by design". child.H is being associated with the child.C TU. After you open child.H, you can run C/C++: Log Diagnostics to see what TU is being used. You should be able to fix the issue via adding the the hiddenlib folder to the includePath that is used for that TU, i.e. via adding an entry for child.C to compile_commands.json or adding hiddenlib to an includePath property in c_cpp_proper

[2020-10-05 18:34] michelleangela commented on #6235
Is this only for Doxygen comments or for non-structured comments as well? Could you provide a few code samples that shows this issue?

[2020-10-05 18:36] sean-mcmanus commented on #6251
I'm not reproing the issue. Are you using C++20? What version of the C++ headers are you using? Running C/C++: Log Diagnostics can provide this info.

![image](https://user-images.githubusercontent.com/19859882/95118215-c3b7e200-06fe-11eb-9642-0b1422944eb2.png)

Do you see any error or fail messages in the C/C++ logs?

The extension host errors are unrelated and should be ignored.

[2020-10-05 18:58] tlemo commented on #6235
I'm not sure I follow. Everything using `//!` is a Doxygen comment, what is a "non-structured" comment?

[2020-10-05 19:40] michelleangela commented on #6235
A non-structured comment is a regular comment such as  `//! Hello there`.

To ensure we understand the issue correctly, could you provide a few samples of Doxygen comments that uses `//!`?

[2020-10-05 19:46] daiyousei-qz commented on #6251
Yes, I'm using c++20 with Visual Studio 16.7.4. I suppose STL is shipped with the compiler.

Here's the CMakeLists.txt I'm using for a testing project.
[code]
Here's the log. I don't see any error messages, though.
[code]

![image](https://user-images.githubusercontent.com/12378019/95124704-d1cb2a00-0721-11eb-93a3-8261c9e33eea.png)

[2020-10-05 20:59] sean-mcmanus commented on #6252
Are you able to provide the fully expanded code, assuming it still repros? In particular, I don't see the definition for ROS_LOG_COND.

[2020-10-05 21:16] sean-mcmanus commented on #5527
It looks like the linked VS issue might need more upvotes.

[2020-10-05 21:19] #6230 closed, assigned to nobody

[2020-10-05 21:19] Curve commented on #5527
Well thats weird regarding that this is quite a "big" bug.
Also I could swear that the issue wasn't present in Visual Studio 2017 so it shouldn't be that big of a deal to fix.
I'll go ahead and upvote all the VS-Issues

[2020-10-05 21:23] sean-mcmanus commented on #6020
The markdown escaping is done in our closed source cpptools process. I haven't looked into whether there's a way to undo the escaping via the open source TypeScript.

[2020-10-05 21:23] tlemo commented on #6235
`//! Hello there.` is a perfectly valid Doxygen comment.

By "structured" comments, do you mean comments using explicit Doxygen tags? If that's the case, then yes, adding Doxygen tags will trigger proper parsing. That's why I suspect the bug has a trivial fix - it seems most of the parsing is in place, it just the for whatever reason it doesn't honor "plain" `//!` as Doxygen comment (that's pretty

[2020-10-05 21:41] sean-mcmanus commented on #882
Yeah, I had an implementaton in cpptools from Feb 2019, but we needed some setting to control the behavior, such as C_Cpp.methodCompletion: "AddNoParens", "AddLeftParen", "AddBothParens"...no one submitted a PR to add those settings.

I'm sort of busy working on Windows ARM64 support...trying not to get distracted by random feature requests.

@bobbrow Was there a reason this was moved to Backlog?

[2020-10-05 22:02] sean-mcmanus commented on #6251
Okay, I repro the issue with 14.27.29110 -- it doesn't repro with my headers for 16.9 Preview 1. The cpptools-srv process is crashing.

[2020-10-05 22:12] sean-mcmanus commented on #6251
I've opened a bug on our shared parser code at https://developercommunity.visualstudio.com/content/problem/1209658/c-intellisense-process-crashes-when-using-span-wit.html ...although in that case it's even crash with the 16.9 Preview 1 headers, so I'm not sure what's different.

[2020-10-05 23:13] michelleangela commented on #6235
This is by design as the extension differentiates a Doxygen comment from a "plain" regular comment by looking at Doxygen tags. If a comment does not have any Doxygen tags, then it evaluates the comment is not Doxygen.

[2020-10-05 23:38] tlemo commented on #6235
Wouldn't make sense to handle all the valid Doxygen comments? The current design seems to create an unnecessary friction in an otherwise useful feature.

As a side note, one of the nice things about Doxygen is that it enables a minimally intrusive documentation style, where the use of explicit tags can be minimized.

[2020-10-06 01:45] quantrpeter opened #6256 "my include path not work"
Hi
   my include path seems not working. the .h file not found. please help

Thanks
Peter
<img width="1680" alt="Screenshot 2020-10-05 at 8 26 14 PM" src="https://user-images.githubusercontent.com/50471577/95149455-916abb00-07b8-11eb-8bf1-505908a93eea.png">

[2020-10-06 01:47] sean-mcmanus commented on #6256
What is the exact error message? It could be dependent header isn't being found.

[2020-10-06 07:42] brentgracey commented on #6252
The code is from this repo - https://github.com/ros/rosconsole/blob/noetic-devel/include/ros/console.h#L383

Perhaps VS Code has a limit on how deep it tries to expand macros? I don't know the above code that well; but it does seem to be using quite a few macros in the logging approach.

[2020-10-06 10:00] luckzylp opened #6258 "[Feature request]Inactive regions support shortcut key hiding and display functions"
**Type: LanguageService**

In order to facilitate the reading of c/c++ code, it is required to support the hidden inactive area function through shortcut key commands, so as to hide invalid precompiled macro code blocks to facilitate code reading. I have seen this feature on SciTools Understand, which is very good for embedded development engineers. I strongly request that this feature be added la

[2020-10-06 10:45] ToonWeyens opened #6259 "Cannot evaluate any Debug Console REPL command"
Type: Debugger

**Describe the bug**
- OS and Version: Linux, Ubuntu 20.04 LTS on Windows_NT x64 10.0.18363 WSL2
- VS Code Version: 1.49.3 (2af051012b66169dde0c4dfae3f5ef48f787ff69)
- C/C++ Extension Version: v1.0.1
- Other extensions you installed (and if the issue persists after disabling them): none
- A clear and concise description of what the bug is.Debug console REPL commands (e.g. `cout <<

[2020-10-06 11:46] vivek-kurma opened #6260 "auto-formatting pointer declaration style in cpp"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.19041
- VS Code Version: 1.49.3
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them):https://marketplace.visualstudio.com/items?itemName=austin.code-gnu-global
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A cl

[2020-10-06 14:35] Volker-Weissmann commented on #6250
The compile_commands.json file says that child.H and child.C are not the same TU. Shouldn't the compile_commands.json file be the ultimate authority? It should be if we want "Go To Definition" to find the code that is actually executed. I assume that

would work, but would require manual labor on every file, which is a bad thing. [Clangd](https://marketplace.visualstudio.com/items?itemName=llvm-vs

[2020-10-06 17:34] sean-mcmanus commented on #6260
What is confusing about "int *a = &b;"? We use the same default that clang-format uses (I think it's the more common style for C++). You can use the PointerAlignment property in a .clang-format file or the C_Cpp.clang_format_style setting. See http://clang.llvm.org/docs/ClangFormatStyleOptions.html . Let me know if you have trouble getting that to work.

[2020-10-06 17:39] WardenGnaw commented on #6247
That would be macOS's GateKeeper making sure the application you want to run can access personal files.
They specifically check Documents, Desktop, and Downloads.

Do you see this permission request if you build in your home folder?

[2020-10-06 18:09] WardenGnaw commented on #6259
You are getting `-var-create: unable to create variable object` because it does not know what `cout` is.

[code]

You need to fully qualify it:
[code]

This will error since the `<<` operator of std::cout returns the memeory reference to std::cout.

For the other issue, because you are using `${fileDirname}/${fileBasenameNoExtension}`, it will try to compile whatever file you have currently opened

[2020-10-06 18:26] WardenGnaw commented on #6245
Between the reloads are you modifying the source code? VSCode sends us a checksum of the document and if it has changed we say this is not the same breakpoint as before.

Does it work if you delete and create the breakpoint on that file on a reload?

[2020-10-06 18:40] imgeself commented on #6245
Yes, I'm modifying the source code, that's the whole point of DLL hotreloading.

No, deleting and recreating breakpoints doesn't work either.

[2020-10-06 18:42] sean-mcmanus commented on #6252
I'm not reproing the issue -- my configuration may be different from yours. The most likely cause of the :: error is that your configuration is not able to find the definition for the identifier to the right of the ::.

![image](https://user-images.githubusercontent.com/19859882/95245951-a8b1a480-07c8-11eb-8937-56f8a5822dd7.png)

Can you please run
```<your compiler> -E <your std> <any other requi

[2020-10-06 19:16] Colengms commented on #6258
I don't believe an extension has the ability to fold (hide) code-folding regions in the editor.  This would seem to be a feature request for VS Code, and would be similar to "Folder All Comments" and "Fold All Regions".  @jay-zhou-yan , I'd suggest opening this against the vscode repo instead.  I suspect they could implement this generically, and it would require a new FoldingRangeKind type (i.e.

[2020-10-06 19:16] #6258 closed, assigned to Colengms

[2020-10-06 19:20] sean-mcmanus commented on #6250
The compile_commands.json you provided doesn't mention child.C:
[code]
Are you referring to a different file?

Go to definition with main.C works, because it's included in your compile_commands.json to use -I./hiddenlib.

[2020-10-06 19:21] WardenGnaw commented on #6245
Does adding `"requireExactSource": false` to your launch.json also not enable the breakpoints?

[2020-10-06 19:41] imgeself commented on #6245
It enables but since the code and the pdb is different, the debugger stops on different lines and makes the debugger unusable.

So, the problem is obvious, the debugger doesn't load the pdb file when we reload the DLL.
My guess is that VSCode debugger doesn't load pdb files if there is already a loaded pdb with same filename.

[2020-10-06 21:05] Trass3r commented on #6036
Actually there's #2488. And the feature is in DAP already: https://microsoft.github.io/debug-adapter-protocol/specification#Requests_StepInTargets

[2020-10-07 01:10] Spongman opened #6265 ""Add Watch" on local should add expression, not address"
Issue Type: <b>Bug</b>

when I "Add Watch" a member of a local, i get this monster in the watch window:
[code]

i'd expect to get this:
[code]

(this is what Visual Studio does)

and then maybe a menu item to 'fix' the reference (ie convert the first part of the watch expression from `local` to `((std::__shared_ptr<my::type, (__gnu_cxx::_Lock_policy)2>::element_type *)0x3016710)`)

Extension versi

[2020-10-07 08:12] eruanno123 commented on #3579
Hi, I work with WSL2/gcc and noticed that macros are not expanded recursively. Then I found this issue open since May 2019.
Any chance to solve this issue in the nearest future?

[2020-10-07 08:30] ToonWeyens commented on #6259
Thanks @WardenGnaw . I tried out your observations and unfortunately don't get the same results

1. When I qualify it with std using `std::cout << "Hello World";` I get the same error: `-var-create: unable to create variable object`
2. Concerning `extension-output-#5`: I am using F5 directly in the `helloworld.cpp` file. This sounds like a bug?

What else can I do to provide you with more info?

[2020-10-07 11:53] zqbake commented on #5800
Have the same error in linux.

[2020-10-07 13:34] elisaado opened #6266 "Extension fails installing (extension "not found")"
Type: General

**Describe the bug**
- OS and Version: Arch Linux @ 5.8.12
- VS Code Version: 1.49.1
- C/C++ Extension Version: N/A
- Other extensions you installed (and if the issue persists after disabling them): Flutter, ESLint, issue persists.
- A clear and concise description of what the bug is.
When trying to search for the extension, it's not in the list. When installing using the command li

[2020-10-07 13:37] ruabmbua opened #6267 "Debugger pause button deactivated in top "debug menu", but still working in thread list sidebar"
Type: Debugger

**Describe the bug**
- OS and Version: Debian 10.6
- VS Code Version: 1.49.2
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): Issue persists when only C++ plugin is activated

When attaching to a remote process using gdbserver and ARM gdb, after initially attaching to the process, the pause button in the top "debugg

[2020-10-07 16:02] asdfffy opened #6269 "Timeout when debugging with gdb"
Type: Debugger

**Describe the bug**
- OS and Version: Ubuntu 19.10
- VS Code Version: 1.47.2
- GDB Version: 8.3
- C/C++ Extension Version: 1.0.1

In debug mode, I want to use 'exec commands [n]' to debug at a breakpoint, but after entering the above command, DEBUG CONSOLE has no output and no response. How do I use the ‘commands’ command in debug mode.

**To Reproduce**
`{

    "version": "0.2.0"

[2020-10-07 16:32] wisepotato opened #6270 "Add possibility to refactor/move"
So currently, if i move a file from `x/my_lovely_header.h` to `y/my_lovely_header.h` i have to redo my global and local includes. I'd like that to be done automatically as it makes my refactoring life easier.

I searched the issues, but couldn't find anything similar, and I think refactoring is a large reason why people use this kind of extension. (it's great btw)

Also wouldn't mind tackling this

[2020-10-07 17:17] brentgracey commented on #6252
Thanks for the debugging tips

The codeset that this error is showing up in does use a custom build tool, and trying to compile a single file does fail. Currently its on the imports; so earlier than the Macro expansion.

There is a vs-code plugin specific for the framework; so I will post there to see if they can advise on if there is any way to support the build logic.

https://github.com/ms-iot/

[2020-10-07 18:33] WardenGnaw commented on #6269
When `-exec commands` is sent, it outputs `>>` to console and never returns `^done` so we are waiting for GDB to complete that request.

[code]

[2020-10-07 18:34] WardenGnaw commented on #6267
Can you add the following to your `launch.json`:
[code]
and share the output from the Debug Console?

[2020-10-07 18:59] ryanpholt opened #6271 "SIGABRT when invoking completion"
Hi,

I noticed that completion wasn't working in a specific file.  I attached gdb to cpptools-srv and the problem is that it is crashing with SIGABRT.

[code]

The stack is not useful and so I tried again with 'catch throw' and got this:

[code]

Any idea what is going on here? I can try to provide more information if needed.

[2020-10-07 19:10] WardenGnaw commented on #6269
Ah, `commands` is requesting multiline input from the user.

This is not supported in MIEngine.
[code]

[2020-10-07 20:34] W1F3B34T3R commented on #6174
@sean-mcmanus can u at least tell us how long will it take?

[2020-10-07 21:27] bobbrow commented on #6174
We are currently working on issues tagged for the 1.1.0 milestone.  When an issue is assigned a milestone, then you will know that it is nearer to being addressed.  Until then, we cannot provide an estimate for when this will be addressed.  In the meantime, the solution is to add the missing flag to your tasks.json file.

[2020-10-07 21:30] bobbrow commented on #6271
If you could share the output from the "C/C++: Log Diagnostics" command and also the source file that causes the crash, that would be super helpful.  These types of crashes are extremely difficult for us to reproduce without source code and configuration information.  Bonus points if you can minimize the repro to a small code example. 😉

Thank you!

[2020-10-07 21:46] Colengms commented on #6174
There are many flags that alter the behavior of gcc - what it links to, what it defines, what language extensions it supports, etc..  It may not be desirable for the C/C++ Extension to automatically add args that modify the effective default behavior of the compiler.  IMHO, it would be best to require these be specified by the user, as desired.

[2020-10-07 22:02] sthavens commented on #6174
Colen, while in most cases, I would agree with you, I do not in this case. I think that the number of people who build a C project (this feature has no bearing on C++) with libraries outside of standard library (which is rather small in C) far outnumber those who are building toy "hello world" projects. If you read the original request, you will see that even the math.h file cannot be included int

[2020-10-07 22:08] Colengms commented on #6174
My understanding was that this is limited to math.h.  Are there any other features that this arg or other similar args are required for?  Users of gcc who require math.h are likely aware that an additional arg needs to be added to their gcc command line in order for that to work as expected.

[2020-10-07 22:09] michelleangela opened #6272 "Unexpected error on usage of a function defined in struct"
**Type: LanguageService**

**Describe the bug**

<details>
  <summary><strong>Sample code</strong></summary>

[code]
</details>

**Steps to reproduce**

1. Created empty header file and copy sample code into header file.
2. Observe unexpected error on usage of `operator` functions

Error message sample:
[code]

**Expected behavior**
No error squiggles.

**Additional context**
Error message is comi

[2020-10-07 22:18] ryanpholt commented on #6271
Unfortunately, I cannot provide the source file but I seem to have narrowed down the crash to any file which is including "[gtest.h](https://github.com/google/googletest/blob/master/googletest/include/gtest/gtest.h)" in Google Test. I just wrote a small example which had nothing except:

[code]

Invoking completion after the 'std::' crashes cpptools-srv. If I remove `#include <gtest/gtest.h>`, rel

[2020-10-07 22:57] sthavens commented on #6174
From my understanding, you can literally not use any header file outside of the standard library (or likely something local) without this flag. Math.h is a simple example of a file that is heavily used that cannot be included without the flag. The compiler will not search anywhere except for the C standard library without it.

This is basic functionality and, although I was easily able to google h

[2020-10-07 23:27] Colengms commented on #6174
The -l argument indicates a library to link against.  The "m" refers to gcc's math library libm.lib/so.  So, this is specific to gcc's C math library.  By definition, I don't believe there is anything other than the math library that would be addressed by specifying -lm.  (Let me know if you have an example to the contrary).  My concern is that this same reasoning could be applied to other librari

[2020-10-07 23:31] Colengms commented on #6174
I found a comment here: http://autotoolset.sourceforge.net/tutorial.html

While we can work around this behavior, there is also value is not changing this decision for our users of gcc, and directing users to provide feedback to GNU.

[2020-10-08 01:05] ryanpholt commented on #6271
I can't seem to repro it in a small project with google test. I guess I'll report back if/when I am able to.

[2020-10-08 01:18] aprole opened #6273 ""Go to Definition" peeks files from /tmp that were viewed in source control tab with git"
When attempting to go to the definition of a function after viewing some files through git history in the source control tab, multiple definitions are found, including the files in /tmp, which were created after viewing in git. I think the solution would be to not have it search through source files in the /tmp folder

[2020-10-08 08:10] ajitpeter commented on #6247
Yes that worked @WardenGnaw Thanks for that. I had my folder in the Documents folder. A point to note for any body facing similar issue is that the folder has be located in `\Users\usernname` level. That is where QtCreator creates folder by default.

[2020-10-08 08:10] #6247 closed, assigned to nobody

[2020-10-08 10:59] spacemonkd commented on #6215
Could you point me to the file where I could start? @sean-mcmanus sir

[2020-10-08 11:00] spacemonkd commented on #6215
I am really extremely sorry for being this late. We had exams and so I wasnt able to give my time.

[2020-10-08 11:12] ruabmbua commented on #6267
Here you go: https://gist.github.com/ruabmbua/79c941e233ed0a22c1a24514ad292f65
Hope this can help.

I just noticed, that the F6 keyboard shortcut is also working, just the GUI is broken.

[2020-10-08 15:02] amastrobera opened #6275 "Do CppTools understand dynamic bindings?"
I was expecting this other code to (`Ctrl+Click` on `d->Do()`) to bring me to the Derived definition, but I always go to Base instead.  Is this normal ?
[code]
The code in the other files is this

[code]

[2020-10-08 16:07] Nacandcheese opened #6276 "Issues with the fstream file in the database"
**Type: LanguageService**

I needed to create a program that can read or write from a file and even after naming the path, the terminal keeps stating that it's object types are undefined.

**Describe the bug**
- OS and Version: Windows 10 Pro version 2004
- VS Code Version: 1.49.3
- C/C++ Extension Version: v1.0.1
- Other extensions you installed (and if the issue persists after disabling them): A

[2020-10-08 16:12] Szarp commented on #5333
I've fixed it with changing full path `C:\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin\\gcc.exe` to `gcc.exe` and similar for `gdb.exe` and optionally for `g++.exe`

[2020-10-08 16:28] Run396 opened #6277 "Fails to install"
Issue Type: <b>Bug</b>

I get this message everytime i open visual studio code:
"The C/C++ extension failed to install successfully. You will need to reinstall the extension for C/C++ language features to function properly."

Extension version: 1.0.1
VS Code version: Code 1.49.3 (2af051012b66169dde0c4dfae3f5ef48f787ff69, 2020-10-02T17:57:01.595Z)
OS version: Windows_NT x64 10.0.19041

[2020-10-08 17:17] sean-mcmanus commented on #3579
The issue needs more upvotes on the developer community site.

[2020-10-08 17:37] sean-mcmanus commented on #6266
I'm not able to repro this on Windows or Linux (ARM64/Debian 10). What is the exact error message? I think this would be a bug with VS Code and not our extension: https://github.com/microsoft/vscode/issues .

[2020-10-08 17:38] gnikit opened #6278 "Debugger (in Fortran) aborting when inspecting custom data type pointers"
Type: Debugger

**Describe the bug**
- OS and Version:
  <details>
  <summary>Click to expand</summary>

  | Distributor ID: | LinuxMint |
  | --------------- | --------- |
  | Description:    | Linux Mint 19.3 Tricia |
  | Release:        | 19.3 |
  | Codename:       | tricia |

  </details>

- VS Code Version:
  <details>
  <summary>Click to expand</summary>

   ![code-insiders-version](https://

[2020-10-08 18:00] dslijepcevic opened #6279 "gnu17 isn't being used for .c files with "compile_commands.json""
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro (64-bit) 10.0.19041
- Remote OS version: Ubuntu 16.04.7 LTS - Linux x64 4.19.128-microsoft-standard
- VS Code Version: Code 1.49.3 (2af051012b66169dde0c4dfae3f5ef48f787ff69, 2020-10-02T17:57:01.595Z)
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): -
-

[2020-10-08 18:05] WardenGnaw commented on #6278
From the logs, it looks like GDB is throwing an assertion, so the debug adapter stops the debug session.

The error is in the GDB codepbase.
[code]

[2020-10-08 18:08] bobbrow commented on #6273
I believe this is related to #3903

[2020-10-08 18:34] davinci26 commented on #6238
[instrumentscli0.trace.zip](https://github.com/microsoft/vscode-cpptools/files/5350666/instrumentscli0.trace.zip) here is the request trace file

It happens when I work on https://github.com/envoyproxy/envoy

[2020-10-08 18:36] bobbrow commented on #882
We haven't lost sight of this.  It has sufficient upvotes and will be included in a future milestone.  But we can only work on so many things at a time.  We will update the milestone when it has been scheduled for a release.  Thank you for your patience.

[2020-10-08 18:36] davinci26 commented on #6238
Just want to point out that this issues not only makes extension unusable but regrades the entire developer machine.

[2020-10-08 18:47] sean-mcmanus commented on #6252
I'm not familiar with the custom build tool or what it does. If it's a VS Code extension, they could implement our vscode-cpptools-api to provide configuration info, like the CMake Tools extensions does: https://github.com/microsoft/vscode-cpptools-api .

[2020-10-08 18:52] sean-mcmanus commented on #6272
The bug repros with VS 16.7.5 -- I believe it must have gotten fixed within the past week.

[2020-10-08 18:53] renyhp opened #6280 "Go to definition failing when done twice on symbol defined locally"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 20.04
- VS Code Version: 1.50.0
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): Remote - SSH (no)
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

**Steps to reproduce**
1. Open a .cpp file
2. Click on any symbol defin

[2020-10-08 18:59] sean-mcmanus commented on #6174
The Build and Debug Active File is targeted to new users, so adding -lm by default for gcc (clang?) compilers seems fine to me.

[2020-10-08 19:32] Volker-Weissmann commented on #6250
In the real-life example of this bug, child.H is something like this
[code]

You see that compile_commands.json doesn't mention child.C, because g++ child.C is never executed.

[2020-10-08 19:44] sean-mcmanus commented on #6215
The previous PR in this area involved the files at https://github.com/microsoft/vscode-cpptools/pull/5453/files .

[2020-10-08 19:51] sean-mcmanus commented on #6275
This is "by design" and repros with VS as well. IntelliSense is unable to determine the runtime type of the d->Do() invocation. You can use Find All References to see all the possible definitions of Do().

[2020-10-08 19:53] sean-mcmanus commented on #6276
According to your repro steps, you need to add "using namespace std;" or use "std::ifstream". Let me know if you're still seeing an issue after making that change.

[2020-10-08 19:57] JonathanFry3 opened #6281 "Extension autoselects wrong configuration?"
Install VS Code on a Linux guest (Ubuntu 20.04) on VMWare hosted on Windows 10.
Install the C/C++ 1.0.1 extension.
Edit the extension configuration.  The GUI says Linux, Mac and Windows are special configurations that will be autoselected when the extension is installed on that OS, but the configuration it autoselected is WSL.  Linux can be added and selected manually.

[2020-10-08 19:59] sean-mcmanus commented on #6277
That means expected files are not being found. See https://github.com/microsoft/vscode-cpptools/blob/7817a10b5f6b55d5ae514470d1cc90581e749dd6/Extension/src/common.ts#L538 . Are you able to see which of those files don't exist for you?

Are you able to fix the issue by uninstalling the C/C++ extension, restarting VS Code, and then reinstalling the C/C++ extension?

You could also try the offline vs

[2020-10-08 20:17] Run396 commented on #6277
i installed the offline thing and it worked! thanks

[2020-10-08 20:27] Nacandcheese commented on #6276
It worked perfectly, and everything is going well now. Thank you so much! I will keep this in mind for future programs.

[2020-10-08 20:27] #6276 closed, assigned to nobody

[2020-10-08 20:29] Colengms opened #6282 "GitHub Action Error Log"
This issue will be automatically commented on when errors are thrown in our GitHub actions.

[2020-10-08 20:29] #6282 closed, assigned to Colengms

[2020-10-08 21:14] #5692 closed, assigned to nobody

[2020-10-08 21:14] #5685 closed, assigned to nobody

[2020-10-08 21:14] #5682 closed, assigned to nobody

[2020-10-08 21:14] #5563 closed, assigned to nobody

[2020-10-08 21:14] #5246 closed, assigned to nobody

[2020-10-08 21:14] #5207 closed, assigned to nobody

[2020-10-08 21:14] #5167 closed, assigned to nobody

[2020-10-08 21:14] #5162 closed, assigned to nobody

[2020-10-08 21:14] #4730 closed, assigned to nobody

[2020-10-08 21:14] #4528 closed, assigned to nobody

[2020-10-08 21:14] #4491 closed, assigned to nobody

[2020-10-08 21:14] #4399 closed, assigned to nobody

[2020-10-08 21:14] #3991 closed, assigned to nobody

[2020-10-08 21:14] #3970 closed, assigned to pieandcakes

[2020-10-08 21:14] #3895 closed, assigned to nobody

[2020-10-08 21:15] #3822 closed, assigned to nobody

[2020-10-08 21:15] #3745 closed, assigned to pieandcakes

[2020-10-08 21:15] #3676 closed, assigned to nobody

[2020-10-08 21:15] #3633 closed, assigned to nobody

[2020-10-08 21:15] #1284 closed, assigned to nobody

[2020-10-08 21:19] sthavens commented on #6174
Colen, I don't think that you understand that this has nothing to do with math.h other than it was used as an example. In the case that you pointed out with the mathematicians, they simply would not #include the math.h. The point is that if you use _any_ header outside of the standard library, you need the flag. While there are a bunch of headers in the standard library, there are many many more o

[2020-10-08 21:21] sean-mcmanus commented on #6279
This is caused by gnu11 or gnu17/18 not being used as the cStandard. With CMake Tools, I'm seeing c11 being used instead and with compile commands I'm seeing c++17 being used.

[2020-10-08 21:22] #5920 closed, assigned to nobody

[2020-10-08 21:22] #5806 closed, assigned to nobody

[2020-10-08 21:22] #5802 closed, assigned to nobody

[2020-10-08 21:22] #5790 closed, assigned to nobody

[2020-10-08 21:22] #5769 closed, assigned to nobody

[2020-10-08 21:22] #5766 closed, assigned to nobody

[2020-10-08 21:22] #5765 closed, assigned to nobody

[2020-10-08 21:22] #5734 closed, assigned to nobody

[2020-10-08 21:22] #5714 closed, assigned to nobody

[2020-10-08 21:22] #5708 closed, assigned to nobody

[2020-10-08 21:22] #5674 closed, assigned to nobody

[2020-10-08 21:22] #5654 closed, assigned to nobody

[2020-10-08 21:22] #5609 closed, assigned to nobody

[2020-10-08 21:22] #5608 closed, assigned to nobody

[2020-10-08 21:22] #5596 closed, assigned to nobody

[2020-10-08 21:22] #5575 closed, assigned to nobody

[2020-10-08 21:23] #5514 closed, assigned to nobody

[2020-10-08 21:23] #5365 closed, assigned to nobody

[2020-10-08 21:23] #5336 closed, assigned to nobody

[2020-10-08 21:23] #5266 closed, assigned to nobody

[2020-10-08 21:23] #5265 closed, assigned to nobody

[2020-10-08 21:23] #5203 closed, assigned to nobody

[2020-10-08 21:23] #5122 closed, assigned to nobody

[2020-10-08 21:23] #5112 closed, assigned to nobody

[2020-10-08 21:23] #5070 closed, assigned to nobody

[2020-10-08 21:23] #5028 closed, assigned to nobody

[2020-10-08 21:23] #4905 closed, assigned to nobody

[2020-10-08 21:23] #4799 closed, assigned to nobody

[2020-10-08 21:23] #4788 closed, assigned to nobody

[2020-10-08 21:23] #4613 closed, assigned to nobody

[2020-10-08 21:23] #4598 closed, assigned to nobody

[2020-10-08 21:23] #4540 closed, assigned to nobody

[2020-10-08 21:23] #4502 closed, assigned to pieandcakes

[2020-10-08 21:23] #4472 closed, assigned to nobody

[2020-10-08 21:23] #4465 closed, assigned to nobody

[2020-10-08 21:23] #3915 closed, assigned to nobody

[2020-10-08 21:26] #5760 closed, assigned to nobody

[2020-10-08 21:26] #5689 closed, assigned to nobody

[2020-10-08 21:26] #5414 closed, assigned to nobody

[2020-10-08 21:26] #5328 closed, assigned to nobody

[2020-10-08 21:26] #5123 closed, assigned to nobody

[2020-10-08 21:26] #5118 closed, assigned to nobody

[2020-10-08 21:26] #4705 closed, assigned to nobody

[2020-10-08 21:26] #4475 closed, assigned to nobody

[2020-10-08 21:26] #4449 closed, assigned to nobody

[2020-10-08 21:26] sean-mcmanus commented on #6279
A workaround might be to stop using compileCommands and configurationProvider and changing cStandard to gnu11.

[2020-10-08 21:26] #4419 closed, assigned to nobody

[2020-10-08 21:26] #4259 closed, assigned to nobody

[2020-10-08 21:26] #4245 closed, assigned to nobody

[2020-10-08 21:26] #4224 closed, assigned to nobody

[2020-10-08 21:26] #4042 closed, assigned to nobody

[2020-10-08 21:26] #3992 closed, assigned to nobody

[2020-10-08 21:26] #3422 closed, assigned to nobody

[2020-10-08 21:27] #2957 closed, assigned to nobody

[2020-10-08 21:27] #2834 closed, assigned to nobody

[2020-10-08 21:27] #2487 closed, assigned to nobody

[2020-10-08 21:27] #2395 closed, assigned to nobody

[2020-10-08 21:27] #2369 closed, assigned to nobody

[2020-10-08 21:27] #2271 closed, assigned to nobody

[2020-10-08 21:27] #2226 closed, assigned to nobody

[2020-10-08 21:27] #2208 closed, assigned to nobody

[2020-10-08 21:47] sean-mcmanus commented on #6279
After the compileCommands is modified, I'm seeing it switch to c17, but it's not using the cStandard specified in the compileCommands.

[2020-10-08 21:48] diablodale commented on #5335
@sean-mcmanus hi...seems the bot was aggressive. The action is with Microsoft rather than customer.
Do you need anything from me?

[2020-10-08 21:57] bobbrow commented on #6270
This looks like a duplicate of #4823 which was actually just closed due to insufficient upvotes.  If you can go upvote that issue, our bot will reopen it and we'll track the request using that issue.  Thank you!

[2020-10-08 21:57] #6270 closed, assigned to nobody

[2020-10-08 21:58] #6273 closed, assigned to nobody

[2020-10-08 21:58] gnikit commented on #6278
I think this might be because the extension is passing something like `print *(type *)pointer_var` to GDB which will in turn throw the assertion that you mentioned. Interestingly enough if the type is changed to one of the standard types e.g. `integer`, running in GDB `print *(integer *)integer_pointer_var`will work as expected and not raise an assertion.

## UPDATE:
I found [this](https://gcc.gnu

[2020-10-08 21:59] #6275 closed, assigned to nobody

[2020-10-08 21:59] sean-mcmanus commented on #6280
It sounds like cpptools-srv may be crashing. Do you see a "failed" message in the C/C++ logs?

If so, can you follow the steps at https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv to get a crash call stack?

[2020-10-08 22:04] bobbrow commented on #5335
I think that the 'more info needed' tag should have been removed earlier. I reopened the issue.

[2020-10-08 22:22] renyhp commented on #6280
Actually, the C++ logs look like the IntelliSense server is shut down (Arresto del server IntelliSense), then it waits for the process to terminate (Il processo non è stato ancora terminato), then some communication channel gets closed (Chiusura del canale di comunicazione) and the IntelliSense client becomes unavailable (Il client IntelliSense non è disponibile). There is no sign of crashing.

He

[2020-10-08 22:29] DaemonSnake commented on #6052
@bobbrow Happy to see a change on that.
I would be interested to help out if it's possible.

[2020-10-08 23:10] #6278 closed, assigned to nobody

[2020-10-08 23:55] sean-mcmanus opened #6285 "Edits to compile_commands.json don't take effect immediately on Linux (fs.watch fails to work)"
Using vscode.workspace.createFileSystemWatcher doesn't seem to work either.

Checking the time stamp as a fallback on an interval timer like we do for c_cpp_properties.json might be a workaround.

[2020-10-08 23:58] sean-mcmanus commented on #5937
This might be the same issue as https://github.com/microsoft/vscode-cpptools/issues/6285 .

[2020-10-09 00:12] bobbrow commented on #6052
@DaemonSnake thanks for the offer, but unfortunately, this is something that has to be done in the portion of code that is closed-source.

[2020-10-09 00:14] sean-mcmanus commented on #6250
Yeah, we don't currently handle the case where .C files are included.

[2020-10-09 00:15] bobbrow commented on #6052
Actually, moving this to On Deck so that our Feature bot doesn't accidentally close it.

[2020-10-09 00:18] sean-mcmanus commented on #6281
What? We don't have a WSL default configuration. Can you provide a screenshot?

[2020-10-09 00:29] sean-mcmanus commented on #6174
Can you give an example of code that doesn't use math.h that requires -lm to link?

[2020-10-09 00:37] sean-mcmanus commented on #6280
The logging shows you're attached to cpptools instead of cpptools-srv. Are you saying cpptools-srv also doesn't crash?

I don't fully understand your repro steps. I don't understand why in step 4 you're saying a windows opens if you're doing a Go to Def on a symbol thats defined in the original .cpp file. I don't know what file is being used in step 6.

[2020-10-09 01:02] sean-mcmanus commented on #4278
@elahehrashedi I'm still reproing this with 1.1.0-insiders. What's supposed to happen?
![image](https://user-images.githubusercontent.com/19859882/95529692-7357b300-0990-11eb-9fa7-703da258c9fe.png)

[2020-10-09 01:07] sean-mcmanus commented on #4278
That screenshot is from F5 with no tasks.json generated.

[2020-10-09 01:10] sean-mcmanus commented on #4278
I see it fixed for Configure Default Build Task.

[2020-10-09 01:16] sthavens commented on #6174
I did find a reference to the fact that it is actually a shortcut that adds the "libm" library to the search path. I stand corrected on the issue (as I re-read Colen's explanation, he was correct) as the math.h header encompasses everything in that particular library.

It is still probably a good flag to have as a standard as it adds in a large bit of core functionality and is only used when math.

[2020-10-09 05:00] VIVEKKURMA commented on #6260
[code]

[code]

But since the format is default  clang format , i will try and  make changes on my .clang-fomat as you stated . Can you help me get started on how to change  the format options ?

[2020-10-09 05:23] sean-mcmanus commented on #6260
With "int *a, b, c", only a is a pointer, and b and c are integers -- that's the argument in favor of the * being on the right. Also, the original C designers intentionally wanted *a in the declaration to look like the usage in dereferencing.

Something like this in a file named ".clang-format" in the workspace root (or a parent folder).
[code]

[2020-10-09 08:41] renyhp commented on #6280
Ok, so this is strange. I was reproducing the bug while fiddling a bit with VS Code and suddenly I can't reproduce the bug anymore... but I'm quite sure I haven't changed any settings.

I will answer your questions anyway.
Yes, the logging does show I'm attached to cpptools: I was sure I attached to cpptools-srv but it seems like I was wrong.
I was sure I knew why in step 4 a windows opens, becaus

[2020-10-09 08:42] birkhofflee commented on #390
If anyone wants to debug with the Integrated Terminal you can try out https://github.com/vadimcn/vscode-lldb

[2020-10-09 08:55] brentgracey commented on #6252
Very interesting, that indeed seems like the route that would be needed.

Just for reference; an overview of the build system is given - http://wiki.ros.org/catkin/conceptual_overview

[2020-10-09 09:04] renyhp commented on #6280
Well, that was fast :) but I think I get it now.

I was accessing the project through a symlink to the containing folder: the files are in /afs/real/path/, but I opened the folder through the symlink /home/renyhp/symlink/ (which, by the way, correctly uses an absolute path). When I Go to Definition, the two open windows show the two different paths: the caller shows ~/symlink, and the newly opened

[2020-10-09 10:59] Volker-Weissmann commented on #6250
Then you should document [here](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference) that it only works if no .C files are included. Because the C++ standard allows including .C files.

[2020-10-09 11:43] #3297 closed, assigned to nobody

[2020-10-09 11:43] #3136 closed, assigned to nobody

[2020-10-09 11:44] #3049 closed, assigned to nobody

[2020-10-09 11:51] #3398 closed, assigned to nobody

[2020-10-09 12:04] JonathanFry3 commented on #6281
Sure.  In the list of available configurations at the top, I added "Linux".  It was not there after install.
![VS Code Screenshot](https://user-images.githubusercontent.com/66705367/95580811-f1a26c80-0a05-11eb-9d2d-96d289171afb.png)

[2020-10-09 12:29] wisepotato commented on #6270
thanks for your comment, i could not find that.

[2020-10-09 12:29] wisepotato commented on #4823
big +1 for this, this seems like a very normal thing to have.

[2020-10-09 17:37] sean-mcmanus commented on #6281
Did you create the WSL configuration yourself? What does it show as the default config name if you delete c_cpp_properties?

[2020-10-09 18:46] JonathanFry3 commented on #6281
I probably did create the WSL config myself.  I worked in WSL for a while before its limitations drove me out, and I guess I got that config as part of my github repository.  If I rename c_cpp_properties, the default is Linux.  Sorry to bother you.    On Friday, October 9, 2020, 01:37:43 PM EDT, Sean McManus <notifications@github.com> wrote:

Did you create the WSL configuration yourself? What doe

[2020-10-09 18:48] WardenGnaw commented on #6267
Thanks for providing a log, this clarified that it wasnt an extension issue but VS Code's.

They have a bug and fix pending. It is currently fixed in vscode-insiders:
https://github.com/microsoft/vscode/issues/107053

[2020-10-09 18:48] #6267 closed, assigned to nobody

[2020-10-09 19:02] #6281 closed, assigned to nobody

[2020-10-09 20:12] dslijepcevic opened #6288 "Text in "setupCommands" not properly escaped for XML"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 Pro (64-bit) 10.0.19041
- Remote OS version: Ubuntu 16.04.7 LTS - Linux x64 4.19.128-microsoft-standard
- VS Code Version: Code 1.50.0
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): -

Text in `setupCommands` in a launch configuration is not properly escaped for us

[2020-10-09 21:30] dslijepcevic opened #6289 ""${command:pickRemoteProcess}" does not work with remote SSH security banner"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 Pro (64-bit) 10.0.19041
- Remote OS version: Ubuntu 16.04.7 LTS
- VS Code Version: Code 1.50.0
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): -

`${command:pickRemoteProcess}` does not work with a remote SSH server that displays a security banner *before* login.

*

[2020-10-09 23:01] michelleangela commented on #6238
@davinci26
I cloned the project https://github.com/envoyproxy/envoy and saw that at initial open of a file in the project, the CPU usage was high and CPU work was from tag parsing include files. After the extension completed tag parsing the include files, the CPU usage dropped. The tag parsing only lasted a few seconds from when I opened the project and then opened file under the "source" subfolde

[2020-10-09 23:44] ghost commented on #5558
I have a similar experience on WSL1. There's a CPU usage surge on cpptools:
![image](https://user-images.githubusercontent.com/32400590/95639693-4f5aa700-0a4e-11eb-879f-05642ae67126.png)

I also checked debug level log, it stayed at `Formatting Engine: clangFormat` for a while.

I tried to use clang-format directly from a terminal, it's fast.

The intellisnese updating and file analyzing speed is

[2020-10-10 02:24] Jenny0316 opened #6291 "Not working left part"
Type: Debugger

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.19041
- VS Code Version:1.50.0
- C/C++ Extension Version: v1.0.1
- Other extensions you installed (and if the issue persists after disabling them):mingw
- A clear and concise description of what the bug is.
When I degugging the code, the left part did not show up for example variables and call stack things.
I runned very ea

[2020-10-10 04:12] #6260 closed, assigned to nobody

[2020-10-10 09:45] ghost commented on #6266
I can reproduce this issue on Manjaro @ 5.4.67-MANJARO with the "community/code 1.49.1-1" package. But I don't have this issue with the AUR "Microsoft" build (aur/visual-studio-code-bin).

[2020-10-10 11:22] #5941 closed, assigned to nobody

[2020-10-10 12:12] #4157 closed, assigned to nobody

[2020-10-10 12:29] #5301 closed, assigned to nobody

[2020-10-10 12:29] #2903 closed, assigned to nobody

[2020-10-10 17:12] thameemk commented on #1329
Its works for me. Thanks

[2020-10-10 18:01] imgeself commented on #6245
Any updates on this? @WardenGnaw

[2020-10-10 19:01] genericptr opened #6292 "C++ IntelliSense std library includes not found (VSCode 1.50, macOS 10.15.7)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS 10.15.7
- VS Code Version: 1.50
- C/C++ Extension Version: 1.0.1
- Xcode: 12.0.1

The language server can't find std library paths. The c++ plugin is now out of beta but fails out of the box (following the official video https://www.youtube.com/watch?v=w6PnOlmop9Y).

![Screen Shot 2020-10-10 at 12 53 04 PM](https://user-images

[2020-10-11 06:38] #1508 closed, assigned to nobody

[2020-10-11 10:50] Trass3r commented on #2639
The question is what is needed to support that.
You can already enable it manually by adding `set non-stop on` to the startup commands.
I guess breakpoints would need to be attachable to specific threads (DAP change) and some more controls to run and stop single threads:
https://wiki.eclipse.org/images/3/36/ReverseDebuggingEclipseCon2009.pdf

Edit: indeed, like for each thread there are execution

[2020-10-11 11:02] FazeelUsmani commented on #5664
Thank you for the help, @sean-mcmanus. It''s working now.

[2020-10-11 15:21] elisaado commented on #6266
Hey (sorry for my late reply)

@sean-mcmanus, the issue only seems to occur with this extension, it's oddly specific so I thought I'd open it here, however, the comment by @niklasLieb seems to suggest it's an issue with the specific build on the Arch Linux repository.

[2020-10-11 23:32] linjiapro commented on #6199
I just switched to Ubuntu for development. This problem disappears, and everything works like a charm. Confirmed that this is MAC only issue.

[2020-10-12 00:33] ghost commented on #5285
Thanks for your work!

[2020-10-12 00:33] #5285 closed, assigned to elahehrashedi

[2020-10-12 00:34] Colengms opened #6293 "cpptools-srv.exe using huge amounts of memory"
I caught an occurrence of the (internal) Win x64 build of cpptools essentially hanging and `cpptools-srv.exe` skyrocketing to 32 GB.  It seems to linger around 8G for a while, then shoot to 32G, fast.  It looks like it was processing a `handle_completion`.  It's possible this is the same issue users have reported on Linux and Mac (which are 64-bit).

<details><summary>All stacks from cpptools-srv.

[2020-10-12 02:14] globalhuman opened #6294 "Default clang-format is bundled version not system version"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.-4
- VS Code Version: 1.50.0
- C/C++ Extension Version: 1.01
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: NA
- A clear and concise description of what the bug is, including information about the works

[2020-10-12 11:21] syfluqs commented on #5588
exactly the same problem for me, just adding `"MODULE"` in the `defines` section of `c_cpp_properties.json` solved it for me. I had already configured the `includePaths` though.

Posting my version of the `c_cpp_properties.json` file, hoping it helps someone.

[code]

[2020-10-12 11:23] #5891 closed, assigned to nobody

[2020-10-12 17:43] rewrking commented on #6293
This happens on mac too (v1.01 on a very large Qt project). I occasionally have to kill numerous cpptools-srv processes and refresh vscode. After restarting, I usually have to wait a while before I can get any intellisense again, and it looks like the entire database rebuilds. Very interested in a fix for this, as it tends to cook my macbook...

[2020-10-12 20:22] sean-mcmanus commented on #6293
Same crash as https://github.com/microsoft/vscode-cpptools/issues/6271

[2020-10-12 20:30] akashsareen opened #6296 "Red Squiggles not showing for errors"
Describe the bug

OS and Version: MacOS 10.15.6
VS Code Version: 1.50.0
C/C++ Extension Version: 1.01
Other extensions you installed (and if the issue persists after disabling them): None
Does this issue involve using SSH remote to run the extension on a remote machine?: NA
A clear and concise description of what the bug is, including information about the workspace (i.e. is the workspace a single

[2020-10-12 20:45] sean-mcmanus commented on #6293
@andrew-r-king Can you provide more info or was there another issue tracking it? Are you saying you hit the exact same issue with cpptoo-srv using too much memory in the compute_types method? Memory usage is a general class of problems for which there could be multiple root bugs in different scenarios.

[2020-10-12 23:32] Colengms commented on #6294
I believe this is by design.  We are not attempting to match the version of clang-format with the version of LLVM or clang that is installed on the system.  Formatting is not dependent on compiler version.  Rather, we're trying to provide the most recent version clang-format, so as to include all bug fixes.  If you would like to use a specific version of clang-format, it can be specified using the

[2020-10-13 00:09] globalhuman commented on #6294
@Colengms thanks for the reply. Happy for that to be "by design" but the description used to describe the argument indicates otherwise. This text was also included above ^ in my first reply.

This refers to my system installed `clang-format`

This is the version with the extenison.

[code]

[2020-10-13 01:05] Colengms commented on #6294
@globalhuman Thanks for pointing that out.  I believe this functionality was modified to prefer the more recent version of clang-format, if available both on the system as well as bundled, if not explicitly set.  It looks like the setting description was not updated to match the new behavior.  I will confirm that is the desired functionality, and if so update the setting description, or adjust the

[2020-10-13 01:12] sean-mcmanus commented on #6291
Please provide the exact error messages you are seeing.

[2020-10-13 01:19] Colengms commented on #6292
Hi @genericptr .  Some of your logs are puzzling.  For instance, there is no "didOpen" message in your C/C++ Output to indicate that we processed the opening of a file.  And, there is no TU listed in the Log Diagnostics output.  Were these logs captured after the repro, from the same session as the repro?  Can you repro the issue consistently?  If so, can you provide zipped contents of your worksp

[2020-10-13 01:22] Colengms commented on #6296
Hi @akashsareen .  Can you provide more information?  Could you enable debug logging using the setting `"C_Cpp.loggingLevel": "Debug"`, and post the output from your C/C++ Output channel after this repro's?  Also, could you post the output of the `C/C++: Log Diagnostics` command, after the repro?  I suspect an error may be getting logged that might explain what's happening.  Thanks.

[2020-10-13 01:25] globalhuman commented on #6294
It's probably more kind to the users to not change which `clang-format` is used under the hood (unless you require things from a newer version) since they could be using `clang-format` from the terminal as a git hook for example which is the system version. Having these all use the same version would be recommended.

[2020-10-13 01:40] aleksa2808 opened #6300 ""envFile" feature not working correctly with chained and quoted env var values"
Type: Debugger

The `envFile` parameter that can be used to set up the debugger environment with an `.env` file is handled by taking each line from the file, splitting the name and values and then stripping the value of any possible edge quotes (seen in [this function](https://github.com/microsoft/vscode-cpptools/blob/1f1b2b02366d68a6e507b9c1f701134c6ee74935/Extension/src/Debugger/ParsedEnvironmen

[2020-10-13 01:41] sean-mcmanus commented on #6266
Yeah, I don't think our extension is able to fix this. Sounds like there's some issue with the VS Code marketplace.

[2020-10-13 01:41] #6266 closed, assigned to nobody

[2020-10-13 01:47] Jenny0316 commented on #6291
I already attached the video in the zip file on Github but I will attach it
here again for you
and the sentence the bottom blue line means
g++.exe-활성 파일 빌드 및 디버그(vscoding)   ->   g++.exe-Build and debug active
files (vscoding)
I translated it for you except that you can read all word in the video

2020년 10월 12일 (월) 오후 6:13, Sean McManus <notifications@github.com>님이 작성:

[2020-10-13 04:45] denchat commented on #6025
I think some commit just decided to [_break_](https://code.visualstudio.com/docs/cpp/config-mingw#_modifying-tasksjson) it somewhere in the arrow of time.<br><br>Perhaps this implies encouraging the workspaceFolder usage instead.   ¯\\\_(ツ)\_/¯

[2020-10-13 11:22] petke opened #6301 "Type of variable not shown in debugger watch window"
Type: Debugger
gdb 7.6.1-119.el7
OS and Version: centos7
VS Code Version: 1.49.1

The watch window only shows the value of a variable but not its type. See picture.

![watch](https://user-images.githubusercontent.com/822399/95854262-5c81d980-0d5f-11eb-830a-a64eb2afe032.png)

I'm using "visual studio code" on linux, with the GDB debugger (c++),
Is there a setting for this, so the type is also shown

[2020-10-13 11:24] #5924 closed, assigned to nobody

[2020-10-13 11:24] #5756 closed, assigned to nobody

[2020-10-13 11:24] #5735 closed, assigned to nobody

[2020-10-13 11:24] #5554 closed, assigned to nobody

[2020-10-13 11:24] #5255 closed, assigned to nobody

[2020-10-13 11:24] #5149 closed, assigned to nobody

[2020-10-13 11:27] #5622 closed, assigned to nobody

[2020-10-13 11:27] #5532 closed, assigned to nobody

[2020-10-13 11:27] #5426 closed, assigned to nobody

[2020-10-13 11:27] #4746 closed, assigned to nobody

[2020-10-13 15:21] genericptr commented on #6292
I went to copy the output again and got something very different, include the LSP messages like didOpen (see the file and screenshot of how I got it). The project is included also.

<img width="686" alt="Screen Shot 2020-10-13 at 9 19 13 AM" src="https://user-images.githubusercontent.com/10937186/95880838-2af41880-0d35-11eb-83f1-2b74870eb066.png">

[output.txt](https://github.com/microsoft/vscode-

[2020-10-13 15:55] informedecommerce commented on #5521
In VS Code settings.json add this

"editor.foldingStrategy": "indentation"

[2020-10-13 16:42] WardenGnaw commented on #6301
If there are no child elements to the variable, the type is hidden in the tooltip.
![image](https://user-images.githubusercontent.com/3953714/95890256-62b08f80-0d38-11eb-865d-aa3cbc4c2bda.png)

If it is an object, it will display it next to the name:
![image](https://user-images.githubusercontent.com/3953714/95890208-53314680-0d38-11eb-8323-54f7e8c7a9df.png)

[2020-10-13 17:38] davinci26 commented on #6238
@michelleangela the trace was not collected at startup but it was collected while I had the repository open (no particular operation was taking place). From the moment the extension gets loaded the CPU spikes and never drops.

Could it be something specific to bazel? I saw another issue that caused high cpu (#6149) and it is active.

[2020-10-13 17:46] Trass3r commented on #511
Is this in the docs?

[2020-10-13 17:55] sean-mcmanus opened #6302 "Add IntelliSense for C++20 modules importing"
See the previous Windows/cl.exe-only issue at https://github.com/microsoft/vscode-cpptools/issues/6290 (UPDATE: the issue was deleted, see https://github.com/microsoft/vscode-cpptools/issues/8256#issuecomment-941809096 ).

NOTE: C++20 modules importing works for cl.exe if you set /ifcSearchDir (and possibly other modules args if necessary); however the IntelliSense support is still in active devel

[2020-10-13 20:49] sean-mcmanus opened #6307 "Get cpptools/cpptools-srv debug builds/test to pass"
...an internal issue...

...I know in some cases there are debug assertions being thrown...

...this came up in regards to investigating Windows ARM64 test failures on Release versus Debug...

[2020-10-13 20:51] sean-mcmanus commented on #5870
UPDATE: The multiroot test on Windows is still failing and the fallback/timeout-retry mechanism has some failure I need to investigate.

[2020-10-13 20:59] sean-mcmanus commented on #5870
This issue somewhat related to https://github.com/microsoft/vscode-cpptools/issues/6307 (debug build tests).

[2020-10-13 21:00] elahehrashedi commented on #4278
@sean-mcmanus can you please use the vscode-insiders so that I can see the details of each of those compilers?

[2020-10-13 23:50] jineens opened #6308 "C/C++ Configurations Warnings window steals focus every 2 seconds"
![image](https://user-images.githubusercontent.com/44418806/95927535-d7ed8600-0d73-11eb-81e5-05a405b8e754.png)

I updated the extension today and now have lost all intellisense and ability to use vscode without disabling the extension. Every 2 seconds, the C/C++ Configuraitons Warnings log shows the output window, an "new" (same as the last million) error. I tried to remove logging via the other c

[2020-10-13 23:51] dfarley1 opened #6309 "Configurable single-line comment style"
**Type: LanguageService**

- OS and Version: Ubuntu 20.04
- VS Code Version: 1.50
- C/C++ Extension Version: 1.0.1

Our code style insists on `/* func(foo); */` style comments, even for single line comments. Can cpptools have a config option to support this?

Given some line of code
[code]
Place the cursor anywhere in line 2 and run command "Toggle Line Comment", I get:
[code]
If I format this fil

[2020-10-13 23:58] jineens commented on #6308
@Colengms pretty sure this is from #6180

[2020-10-14 00:40] Colengms commented on #6308
I can definitely fix the focus stealing.  The number of errors appears to be due to attempting to probe the compiler for each of the entries in your `compile_commands.json`.  Normally, it should only probe once per compiler path + relevant args, but it looks like that isn't handled correctly on failure.  We should be able to fix that too.  You could also set `compilerPath` in your `c_cpp_propertie

[2020-10-14 00:55] xhliu commented on #206
+1 for this

[2020-10-14 01:30] sean-mcmanus commented on #6309
Toggle Block Comment is implemented by VS Code and there's no extensibility available for extensions, unless someone wants to make a PR to the VS Code repo. I see issues like https://github.com/microsoft/vscode/issues/67732 and https://github.com/microsoft/vscode/issues/9311 that are Won't Fix due to not enough upvotes.

[2020-10-14 01:32] sean-mcmanus commented on #6309
Should I close this issue or did you have an alternative suggestion?

[2020-10-14 01:39] Colengms opened #6311 "Entry not found error for file in compile_commands.json"
It looks like we gate parsing of a `compile_commands.json` entries based on whether the file exists on disk.  So, if the file is later created, we report an error that the entry was not found, despite it being present.

[code]

[2020-10-14 01:45] dfarley1 commented on #6309
I'm guessing same goes for Toggle Line Comment? If so then I don't have any better ideas. I guess I'll rebind "Toggle Block Comment" to `Ctrl+Shift+/` as an "undo" of Toggle Line Comment (`Ctrl+/`) for now. Maybe if I annoy our principals enough I can get the style loosened up :sweat_smile:

[2020-10-14 01:45] #6309 closed, assigned to nobody

[2020-10-14 02:04] sean-mcmanus commented on #3674
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders ,

[2020-10-14 02:06] sean-mcmanus commented on #5270
With https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders this is fixed for tasks.json, but not launch.json -- seems like VS Code doesn't yet have a way to fix the launch.json case, other than us adding text to the end of the launch.json name/lable.

[2020-10-14 02:06] sean-mcmanus commented on #5285
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders .

[2020-10-14 02:11] sean-mcmanus commented on #6075
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders .

Let us know if you're still hitting other issues with clang-cl.exe configuration.

[2020-10-14 02:13] sean-mcmanus commented on #6173
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders .

Let us know if you hit any issues.

[2020-10-14 02:14] sean-mcmanus commented on #6195
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders .

[2020-10-14 02:17] sean-mcmanus commented on #6205
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders .

[2020-10-14 02:18] sean-mcmanus commented on #6279
The compile commands issue is fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders . The CMake Tools issue is being tracked by https://github.com/microsoft/vscode-cmake-tools/issues/1477 .

[2020-10-14 02:56] Colengms commented on #6308
A fix for the focus stealing will be available in the next insiders.  Using this issue to track that.  The issue with probing the compiler excessively is a more difficult problem.  Currently only gcc, clang, and related/derived compilers can be probed.  (cl.exe doesn't count.  We don't need to probe it).  We know what args are relevant for those compilers, and can restrict probing to only when rel

[2020-10-14 03:08] #6110 closed, assigned to Colengms

[2020-10-14 03:19] Colengms opened #6314 "Prevent probing of compilers that are not gcc, clang, or a variant"
We should add a verification that a compiler is probeable, and avoid any subsequent probe attempts if it is not.  Currently, only gcc, clang, and variants of those, are probeable.

For example, if a user has a `compile_commands.json` that refers to a C/C++ compiler we do not support (i.e. gomacc.exe), we may probe it for each entry (if args differ, since we don't know what args are relevant), resu

[2020-10-14 05:17] edwood-grant commented on #6075
Hello!

Just tested, everything seem to work ok now on a first inspection. Thanks a lot!

EDIT: Hmm I did notice that now it seems that I cannot force my C  Standard to a certain value. It keeps defaulting to C11 even if I set the option as` "cStandard": "c17"`, or to any option for that matter,

Not sure if related to this problem. It seems to happen only on `cStandard `with clang. `cppStandard `

[2020-10-14 07:06] mkurdej commented on #6205
I confirm. 1.1.0-insiders version solves the problem. Thanks a lot!

[2020-10-14 07:16] gzfrozen commented on #5456
Hi, I just found that this namespace std issue has just been fixed by
https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders.

Perhaps it is related to this issue:  https://github.com/microsoft/vscode-cpptools/issues/6075.

I think we can close this issue now. @Colengms

[2020-10-14 08:19] solfcolin opened #6315 "template no warning;"
[code]
no warning;

[2020-10-14 09:49] nunojsa commented on #6075
I'm also experiencing this with `aarch64-linux-gnu-`.  It looks like the cStandard option is just ignored and whatever is the default used by the compiler, will be taken. One way I found to workaround this was to add `-std=gnu89` to the `compilerArgs` setting...

[2020-10-14 11:07] qt1 commented on #4350
It seems to me that the extensions are saving caches and configurations in various locations and this seems to be both opaque and buggy.

I have uninstalled cmake tools and surprisingly the plain vanilla cmake and make just work, with some very minor settings to tasks.json and settings.json.
It even looks significantly faster to start debug..

[2020-10-14 11:49] nunojsa opened #6316 "Designated initializers not working on file scope"
**Describe the bug**

When defining a struct at file scope, the Designated initializers do not work (often). Sometimes and for some structs they actually work but for some other types they don't. However, for the structs that they do not work, they will work if we define the variable inside a function. I've created a very simple example where I could experience this issue (screenshots below).

- O

[2020-10-14 12:52] qt1 opened #6317 "setting include in c_cpp_properties.json not working"
**Type: LanguageService**

Intelisens marks include as "error detected"

setting the appropriate settings according to docs or automatically does not stop the error report.

I have found many references to similar situation' all resolved in "change the configuration file. Yet this does not help.

**Describe the bug**
- OS and Version:
Ubuntu 20.04

- VS Code Version:
Version: 1.50.0
Commit: 93c2f0

[2020-10-14 14:14] celonymire commented on #6173
Sadly, the insiders release was a regression. It doesn't even recognize the `concept` keyword anymore.
![3b4c04c6e4ad11a3622a9d94dbd2db2c](https://user-images.githubusercontent.com/18388795/96001001-66055300-0dec-11eb-8adb-4c861416525c.png)

I also checked the contents of `<ranges>` and `<concepts>`, and they still have `__cpp_lib_concepts` disabled.

I also tried to uninstall CMake Tools, but tha

[2020-10-14 15:28] spacemonkd commented on #6215
Could you give me some suggestions as to what variables types to add? @sean-mcmanus sir @bobbrow sir.
Because in tasks.json I cannot find a possible use case for string arrays except in case of the `args` property and `dependsOn` property in which we could use a string array with. But other than that could you give me some examples of replacements of such properties? It would be really helpful.

[2020-10-14 15:51] celonymire commented on #6173
But I can confirm it works with GCC instead of MSVC. Not sure if that information is helpful though.

[2020-10-14 17:16] tjx666 commented on #6142
In fact, I have made some vscode extensions, but not familiar with lsp.

[2020-10-14 18:58] akashsareen commented on #6296
Hi @Colengc

Thanks for your quick response. Where exactly do I run this command, I am fairly new to VS Code, I have enabled `"C_Cpp.loggingLevel": "Debug"`

[2020-10-14 19:21] dslijepcevic commented on #6279
Thanks for the quick fix. I got it working in a test project, however the exact same file has the same issues when placed in a real project, one that does not use CMake Tools configuration provider, which, I guess still waits for a fix. Could be a user error, I'll do some further investigations and get back to you. Also, since 1.50.0 I've noticed some similar issues with IntelliSense not finding s

[2020-10-14 19:29] Colengms commented on #5456
Thanks @gzfrozen.  Indeed, we changed how we handle clang-cl.  We'll keep #6075 open to track the issue until 1.1.0 is released, and close this one.

[2020-10-14 19:29] #5456 closed, assigned to nobody

[2020-10-14 20:06] Colengms commented on #6075
@nunojsa @edwood-grant  It looks like the failure to use the cStandard from the base config in `c_cpp_properties.json` is due to a bug introduced by the 1.1.0 insiders.  We have a fix, and will release another insiders soon.

[2020-10-14 20:14] Colengms commented on #6296
Hi @akashsareen

In VS Code, 'commands' can be run via the command palette, which can be open using Control-Shift-P (by default).  If you start typing 'Log Diagnostics' there, the command should appear in the list.

Log output will be in the 'Output' panel.  If that is not visible, try selecting View -> Output.  There will be a popup menu in the Output panel that allows switching between channels.

[2020-10-14 20:20] akashsareen commented on #6296
Thanks so much for this guidance @Colengc !

Here is my output!

[code]

[2020-10-14 20:45] Colengms commented on #6296
Hi @akashsareen .  So far, the Log Diagnostics output looks good.  Could you provide the output of the "C/C++" output channel as well?  That's where the 'debug logging' is output.  As issues are encountered, they would be logged there.

Also, could you provide the content of your `c_cpp_propeties.json`?  And, try removing the following from your `c_cpp_properties.json`:

[code]

I believe that wou

[2020-10-14 20:59] akashsareen commented on #6296
Thanks @Colengc

I updated this setting to have nothing within the brackets.

Here is my output.
<details><summary>Log Output</summary>
<p>

[code]
</p>
</details>

[2020-10-14 21:08] Colengms commented on #6296
Hi @akashsareen .  It looks like IntelliSense is parsing your file and not finding any errors.

[code]

Is the issue that there is invalid code that should be getting squiggled, but is not?  If so, can you post the invalid code it should be squiggling?  If you add something invalid to the file, does it get squiggled?

[2020-10-14 21:13] akashsareen commented on #6296
Hi @Colengms !

Yes, this is the issue. Any wrong code does not get squiggles. For instance,
`    hello;
    cout >> hi << endl;`

is not getting any error flag.

[2020-10-14 21:15] akashsareen commented on #6296
Additionally, when I compile files, compile-time errors are occurring that IntelliSense typically would catch.

It's strange that this is occurring since it was working, then all I did was update IntelliSense.

[2020-10-14 21:31] Colengms commented on #6296
@akashsareen This is very puzzling.  I'm not able to easily repro.  Would you be willing to create a zip of your workspace folder, or share it via a GitHub repo, so I can use it directly to repro and investigate?

Also, could you provide the contents of your `settings.json`, in case there is something there that might be relevant?  Thanks!

[2020-10-14 21:36] akashsareen commented on #6296
@Colengms
Sure! It has surely perplexed me as well!

Here is my settings.json.

`{
    "C_Cpp.errorSquiggles": "Enabled",
    "C_Cpp.default.browse.path": []
}`

Everything else is the default.

[2020-10-14 21:40] akashsareen commented on #6296
https://github.com/akashsareen/error-fix.git

I uploaded the current folder I was working on.

There are no longer any compile-time errors, except the faulty cout, that I inserted.

This issue is happening to any cpp file I open on VS code, though.

[2020-10-14 22:43] bobbrow commented on #6173
@Colengms This might be related to the compiler verification changes you made.  Can you see if custom configurations are getting c++latest downgraded by accident now?

[2020-10-14 22:45] Colengms commented on #6292
@genericptr Using the zip you provided (and upgrading my Mac to 10.15.7, and XCode to 12.0.1), I'm still not able to repro the issue.  Since the zip file contains your workspace-specific `c_cpp_properties.json` and `settings.json`, is it possible there are any relevant `C_Cpp` properties in your global `settings.json`?  You can open that with the `Preferences: Open Settings (JSON)` command.

Note

[2020-10-14 22:45] akashsareen commented on #6296
@Colengms

Strange observation! Seems that red squiggles are appearing whenever I remove my the template header for each function:

`template<class T, class TComparator>`

when I delete this line above my quicksort function, then only does the cout >> show the error and it also shows that hello; is not defined!

Any reason this might be occurring??

[2020-10-14 23:12] celonymire commented on #6173
@bobbrow Do you think CMake Tools would be a factor in this?

[2020-10-14 23:13] edwood-grant commented on #6075
Awesome, thanks a lot for all the care on this plugin 👍

[2020-10-14 23:28] Colengms opened #6318 "Add UI to provide args for templates, to enable template IntelliSense"
Currently, IntelliSense will not provide diagnostics/squiggles for template functions or template classes.  VS provides UI that allows the user to specify types for template arguments, to enable diagnostics.  This issue is to track adding something similar to cpptools.

(This may be a dupe, but I couldn't find another issue for it).

[2020-10-14 23:30] Colengms commented on #6296
@akashsareen  It looks like this is a dupe of: https://github.com/microsoft/vscode-cpptools/issues/1946

It's a surprise to me as well, but this appears to be by-design.  Because a template type may significantly effect how the template is interpreted, IntelliSense does not currently provide any squiggles for its content.  The same is true in VS.  (We share the IntelliSense implementation with VS)

[2020-10-14 23:53] Colengms commented on #6318
Dupe of: https://github.com/microsoft/vscode-cpptools/issues/1946

[2020-10-14 23:53] #6318 closed, assigned to nobody

[2020-10-14 23:58] Colengms commented on #6173
@bobbrow Indeed, there was a case I missed, causing `c++latest` to be passed where only settings values were expected.  The fix is in PR.  :)

[2020-10-15 00:03] Colengms commented on #6315
Hi @danwangXia .  It's currently by-design that squiggles are not provided within templates.  This is also the behavior of VS.  (We share IntelliSense with VS).  However, VS has UI allowing for arg types to be manually provided.  The following issue tracks adding that feature to the C/C++ Extension as well: https://github.com/microsoft/vscode-cpptools/issues/1946

[2020-10-15 00:04] #6315 closed, assigned to nobody

[2020-10-15 00:21] Colengms commented on #6292
Hi @genericptr .  I also noticed in your last output.txt that the path to your folder has some curious characters in it:  C%2B%2B   i.e. file:///Users/ryanjoseph/Developer/Projects/C%2B%2B/cpp-starter-vscode/helloworld.cpp

It's possible there is some use of this path that is not canonicalized in the same way as VS Code would, resulting in a failure to compare paths.  Could you try moving the proj

[2020-10-15 00:27] akashsareen commented on #6296
@Colengms
Wow, looks like we ran into a larger issue! Glad we were able to track the main cause, though! Thank you for your help! Hopefully, it can be solved soon. It would be convenient to at least have still have the compile-time errors showing with red squiggles.

[2020-10-15 00:28] Colengms commented on #4966
Taking this out of tracking, as the VS issue has been fixed, but the issue still repro's with the C/C++ Extension v1.1.0-insiders.

[2020-10-15 00:28] Colengms commented on #6316
Hi @nunojsa .  Thanks for reporting this.  I believe this is the same issue as: https://github.com/microsoft/vscode-cpptools/issues/4966

[2020-10-15 00:33] genericptr commented on #6292
The problem was C_Cpp.intelliSenseEngine was set to "Tag Parser", probably was like that for a couple years now. I assume it's supposed to be set the "default" for new users but I got stuck with the old settings.

I guess close the issue because nothing was actually wrong but it would be helpful if this was in the documentation. I found the YouTube video but also https://code.visualstudio.com/docs

[2020-10-15 00:40] #6292 closed, assigned to nobody

[2020-10-15 00:41] #6296 closed, assigned to nobody

[2020-10-15 02:16] Colengms commented on #6161
@Hughen Are you still experiencing this issue with 1.1.0-insiders?

We log "Custom browse configuration received" when the config provider is registered and sends us a 'browse configuration'.  Those configurations are the same in each of your logs, so that appears to be working correctly.  We log "Custom configurations received" when receiving a custom configuration for a file, but that does not a

[2020-10-15 02:37] Jenny0316 commented on #6291
[error.zip](https://github.com/microsoft/vscode-cpptools/files/5382109/error.zip)

[2020-10-15 06:13] #6242 closed, assigned to nobody

[2020-10-15 06:49] LuckeX opened #6320 "reference may be missing"
Issue Type: <b>Feature Request</b>

[Warning] Some references may be missing, because workspace parsing was incomplete when Find All References was started.

Extension version: 1.0.1
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.18363

[2020-10-15 11:55] cengels opened #6321 "Enhanced colorization: less specific scopes override more specific ones"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Enterprise 10.0.18363
- VS Code Version: 1.50.1
- C/C++ Extension Version: issue occurs in at least v1.1.0-insiders and v1.0.1
- Other extensions you installed (and if the issue persists after disabling them): none that are relevant
- Does this issue involve using SSH remote to run the extension on a remote machine?: no

[2020-10-15 12:48] irfan-hossain-bhuiyan opened #6322 "when i do my debugging it doesn't take any input"
Issue Type: <b>Bug</b>

I am using g++ exe debugger.Because others is not working.In g++ debugger it is okay overall but in cin>>variable it doesn't take any input not from debug console or terminal.

Extension version: 1.0.1
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summa

[2020-10-15 15:36] bobbrow commented on #1587
Just a note that the 6 of you who have added a 👍 to the previous comment have been granted access to the repo.  Please check your notifications/email if you haven't received it.

[2020-10-15 16:57] WardenGnaw commented on #6322
Are you using `"externalConsole": true` or `"externalConsole": false`?

If you are using externalConsole true, there should be a terminal for you to input into. Else if it is false, you can use the integrated terminal.

DebugConsole is used to evaluate variables or send commands to the debugger.

[2020-10-15 17:09] CodeNameHawk commented on #6195
Bug fixed. Thx.

[2020-10-15 17:53] sean-mcmanus opened #6323 "With cl.exe, /std:c++latest downgrades to c++17 when set via compilerArgs with 1.1.0-insiders"
Reported at https://github.com/microsoft/vscode-cpptools/issues/6173#issuecomment-708432223

[2020-10-15 18:03] sean-mcmanus opened #6324 "cStandard isn't being used with 1.1.0-insiders"
Hello!

Just tested, everything seem to work ok now on a first inspection. Thanks a lot!

EDIT: Hmm I did notice that now it seems that I cannot force my C  Standard to a certain value. It keeps defaulting to C11 even if I set the option as` "cStandard": "c17"`, or to any option for that matter,

Not sure if related to this problem. It seems to happen only on `cStandard `with clang. `cppStandard `

[2020-10-15 19:16] sean-mcmanus commented on #6321
@Colengms Do you have thoughts on this? This seems "by design" to me, since semantic scopes take precedence over syntactic scopes, and also in the types/class case, our IntelliSense parser gives us "types" and not class versus struct types. See https://code.visualstudio.com/docs/cpp/colorization-cpp and https://code.visualstudio.com/api/language-extensions/semantic-highlight-guide .

[2020-10-15 19:18] sean-mcmanus commented on #6320
What is the request? The warning is "by design". It means we're still scanning or potentially parsing the files in the workspace for references.

[2020-10-15 19:58] sean-mcmanus commented on #6317
I'm not able to repro this. Where is the missing header located?

[2020-10-15 20:03] WardenGnaw commented on #6300
Thanks for the bug report.  We have verified that this is a bug in the extension.

[2020-10-15 20:04] WardenGnaw commented on #6288
Thanks for the bug report.  We have verified that this is a bug in the debugger.

[2020-10-15 20:04] WardenGnaw commented on #6289
Thanks for the bug report.  We have verified that this is a bug in the extension.

[2020-10-15 20:06] Colengms commented on #6321
@cengels

It looks we need to update [this document](https://code.visualstudio.com/docs/cpp/colorization-cpp) to reflect the new approach for customizing semantic tokens, now that we've moved to VS Code's new Semantic Tokens API.  Those scopes will continue to be supported as a fallback, though colors associated directly with semantic tokens will lately take precedence.  The scopes in that documen

[2020-10-15 20:07] rcsmith00 opened #6325 "output tab steals focus from terminal tab, regression"
Issue Type: <b>Bug</b>

With the latest insiders version, I'm constantly getting this error when I open different files.

filename.c not found in "...  compile_commands.json" . 'includePath' from c_cpp_properties.json in folder '...' will be used for this file instead.

I typically use the terminal tab.  when these errors occurs it automatically switches to the output tab.   Have not seen this bef

[2020-10-15 20:09] sean-mcmanus commented on #6224
Thank you for your feature idea.  We may not be able to implement it immediately, but we will track the community reactions to determine where this might fit into our backlog. And we're open to pull request contributions if this feature can added via changes to our open source TypeScript component.

[2020-10-15 20:10] sean-mcmanus commented on #6186
Thank you for your issue report.  We may not be able to implement it immediately, but we will track the community reactions to determine where this might fit into our backlog.

[2020-10-15 20:13] sean-mcmanus commented on #6152
Thank you for your issue report.  We may not be able to implement it immediately, but we will track the community reactions to determine where this might fit into our backlog.

[2020-10-15 20:18] sean-mcmanus commented on #6325
Duplicate of https://github.com/microsoft/vscode-cpptools/issues/6308

[2020-10-15 20:25] cengels commented on #6321
Ah, so in this case `entity.name.type` is a scope provided by the semantic token provider, but `entity.name.type.class` is provided by VS Code's "default" language engine and is therefore overwritten as a result?

I actually have no problem with not being able to style classes differently from other types. I suppose I'm just somewhat confused by the output of the "Inspect tokens and scopes" popup.

[2020-10-15 20:31] WardenGnaw commented on #734
Closing older issues.

If you are still encountering issues, please create a new issue.

[2020-10-15 20:31] #734 closed, assigned to nobody

[2020-10-15 20:35] WardenGnaw commented on #4380
Not enough info provided. Closing issue.

If you are still experiencing issues, please report a new issue with the additional information.

[2020-10-15 20:35] #4380 closed, assigned to pieandcakes

[2020-10-15 20:36] sean-mcmanus opened #6326 "Update to using clang-format11"
https://releases.llvm.org/download.html#11.0.0

[2020-10-15 20:36] WardenGnaw commented on #5883
Not enough info provided. Closing issue.

If you are still experiencing issues, please report a new issue with the additional information.

[2020-10-15 20:36] #5883 closed, assigned to nobody

[2020-10-15 20:37] #5782 closed, assigned to nobody

[2020-10-15 20:41] sean-mcmanus commented on #6294
This behavior was set with PR https://github.com/microsoft/vscode-cpptools/pull/4968 . Seems like a setting could be added to force us to not use the bundled version if another exists.

[2020-10-15 20:49] WardenGnaw commented on #5686
If you are using cmd.exe, they have a limitation. https://docs.microsoft.com/en-us/troubleshoot/windows-client/shell-experience/command-line-string-limitation

For large inputs, I would recommend reading from a file.

[2020-10-15 20:49] #5686 closed, assigned to nobody

[2020-10-15 20:50] WardenGnaw commented on #4607
Not enough info provided. Closing issue for now.

If you are still experiencing problems, please file a new issue with the additional information requested.

[2020-10-15 20:50] #4607 closed, assigned to pieandcakes

[2020-10-15 20:51] sean-mcmanus commented on #4278
Yeah, it doesn't show the details with vscode-insiders. Use F5 (or Build and Debug Active File).

[2020-10-15 20:57] Colengms commented on #6321
Indeed.  I missed that.  It looks like the TextMate grammar is indeed returning `entity.name.type.class(.cpp)`.  I suspect it is the fact that a semantic token is associated which is preventing it from using the color you are associated with the TextMate scope.

The semantic token should be specified in the `Inspect Editor Tokens And Scopes` window.  As far as how to make it more self-explanatory,

[2020-10-15 21:00] sean-mcmanus commented on #6309
Yes, same goes for Toggle Line Comment.

[2020-10-15 21:11] #5988 closed, assigned to nobody

[2020-10-15 21:11] cengels commented on #6321
Thanks again for taking the time to have a look at this issue with me. If there is no semantic scope for constructors, that doesn't bother me too much at the moment, especially since the same can still be achieved with TextMate scopes, even if it is a bit more convoluted to do so.

But unless I'm mistaken, the semantic scope in this case is just simply `type` while `entity.name.type` is a TextMate

[2020-10-15 21:28] sean-mcmanus commented on #6215
I think the desire for a array of strings was in regards to the array of strings in c_cpp_properties, e.g. https://github.com/microsoft/vscode-cpptools/blob/master/Extension/c_cpp_properties.schema.json#L23 and not tasks.json (other than args maybe).

[2020-10-15 21:31] sean-mcmanus commented on #6142
I don't think you wouldn't need to change LSP stuff in order to add an intelliSenseUpdateDelay setting...the setting value just needs to be sent along with the other settings we send.

[2020-10-15 21:33] Colengms commented on #6321
@cengels We provide semantic token scopes, and a mapping from those to the TextMate scopes we had used prior to switching to VS Code's new Semantic Tokens API (to hopefully ensure uses of our previous implementation were not broken).  Whether VS Code considers more or less specific TextMate scopes when matching against our 'fallback' scopes for semantic tokens, would seem to be VS Code behavior.

[2020-10-15 21:42] sean-mcmanus commented on #6279
When you do C/C++: Log Diagnostics is the "Standard version" correct? Might also be related to https://github.com/microsoft/vscode-cpptools/issues/6324 .

[2020-10-15 21:45] cengels commented on #6321
Ah, I see. I didn't realize linking a TextMate scope to a semantic scope was possible—my bad! That would probably explain it then. If I understand correctly now, several scopes that *look* like TextMate scopes (like `entity.name.type`) are actually mapped to semantic scopes and are therefore for all intents and purposes semantic highlighting. If that's the case, I'm not sure this would be an actio

[2020-10-15 21:46] Colengms commented on #6325
Closing as dupe.

[2020-10-15 21:50] sean-mcmanus commented on #4966
I'm seeing this as fixed.

[2020-10-15 21:53] #5504 closed, assigned to WardenGnaw

[2020-10-15 21:56] sean-mcmanus commented on #4966
It's not fixed at file scope, see https://github.com/microsoft/vscode-cpptools/issues/6316

[2020-10-15 21:56] #4966 closed, assigned to nobody

[2020-10-15 21:59] #4233 closed, assigned to WardenGnaw

[2020-10-15 22:03] Colengms commented on #6321
@cengels I'm not sure I follow.  The reason `MyClass` is colored as `entity.name.type` when semantic colorization is enabled, is because `MyClass` is identified as a semantic token of `type`, and it's falling back to the color associated with the TextMate scope `entity.name.type` because there is no color associated with the `type` semantic token.  This is because our semantic token provider does

[2020-10-15 22:06] sean-mcmanus commented on #6291
I don't see any error in the video or when trying the repro.

![image](https://user-images.githubusercontent.com/19859882/96190945-f5e3f380-0ef7-11eb-92c0-069db535dca5.png)

[2020-10-15 22:08] WardenGnaw commented on #1309
Closing issue.

If you are still encountering issues, please reopen another issue with additional information requested.

[2020-10-15 22:08] #1309 closed, assigned to pieandcakes

[2020-10-15 22:09] #1265 closed, assigned to nobody

[2020-10-15 22:14] Jenny0316 commented on #6291
I mean the console window disappeared very quickly and I can't see any
things on variables part. You can see it in the video

2020년 10월 15일 목요일, Sean McManus <notifications@github.com>님이 작성:

[2020-10-15 22:50] #6269 closed, assigned to nobody

[2020-10-15 22:50] sean-mcmanus commented on #6291
That is "by design". Your program is exiting, causing the console window to close. You can set a breakpoint on the final return of main to prevent the console from closing.

@WardenGnaw might have more info.

[2020-10-15 23:03] #2885 closed, assigned to nobody

[2020-10-15 23:04] #5428 closed, assigned to nobody

[2020-10-15 23:10] #4013 closed, assigned to pieandcakes

[2020-10-16 00:15] alexisfrjp opened #6329 "False positive: a value of type 'volatile struct *' cannot be assigned to an entity of type 'volatile struct *'"
**Type: LanguageService**

**Describe the bug**
- OS and Version: CentOS Linux release 7.8.2003
- VS Code Version: 1.50.0 93c2f0fbf16c5a4b10e4d5f89737d9c2c25488a3 x64
- C/C++ Extension Version: v1.0.1

**Steps to reproduce**

**c_cpp_properties.json**:
[code]
[code]

At `pPioArrayDMA = static_cast...`, I get :

It compiles without any warnings, and **clang-tidy** on **CLion** doesn't complain abou

[2020-10-16 01:16] Colengms commented on #6329
Hi @alexisfrjp I'm not able to easily repro, on Linux w/gcc.  However, I did need to change the constructor definition to remove 'void' and add the 2 int params.

I have seen issues like this in the past, where IntelliSense reports that a type cannot be assigned to itself.  In those cases, the bug has arisen only as certain edits are made and has not repro'ed after freshly opening the file.  Does

[2020-10-16 01:59] alexisfrjp commented on #6329
Yes, me neither that's why I couldn't give an reproducible example. It's really random.

If I have several structures like that and following such as:
[code]
The error come from the last or two last assignments and the first one disappears.

**Ctrl+Shift+P : Developer: Reload Window** : A single error is shown at the first assignment.

I'll try to give you more info when I have time! Thanks!

Simi

[2020-10-16 01:59] tjx666 commented on #6142
I will make a pr about this today or tomorrow.

[2020-10-16 02:57] ghost commented on #6178
@sean-mcmanus After updating a version, add "gcc-arm", no problem! thank you

[2020-10-16 02:58] #6178 closed, assigned to nobody

[2020-10-16 03:00] sean-mcmanus commented on #6308
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders2 (the Configuration Warnings should only appear once per session).

[2020-10-16 03:00] #6308 closed, assigned to Colengms

[2020-10-16 03:00] sean-mcmanus commented on #6325
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders2 (the Configuration Warnings should only appear once per session).

[2020-10-16 03:00] #6325 closed, assigned to Colengms

[2020-10-16 03:00] #6323 closed, assigned to nobody

[2020-10-16 03:01] dslijepcevic commented on #6279
![image](https://user-images.githubusercontent.com/1915869/96207866-8a883900-0f6c-11eb-93e2-9c24d2dcc224.png)

It's broken again with v1.1.0-insiders2 :(

[2020-10-16 03:01] sean-mcmanus commented on #6173
@sam20908 That issue is fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders2 .

[2020-10-16 03:01] #6324 closed, assigned to nobody

[2020-10-16 03:08] sean-mcmanus commented on #6279
Can you do a C/C++: Log Diagnostics so we can tell what cStandard is being used?

[2020-10-16 03:09] sean-mcmanus commented on #6075
@edwood-grant The new issue is fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders2

[2020-10-16 03:13] dslijepcevic commented on #6279
[code]

[2020-10-16 03:33] sean-mcmanus commented on #6279
Your cStandard needs to be either removed (so that the default is used) or changed to "gnu11" -- 1.1.0-insiders2 fixed a bug in which that was not used, i.e. the regression you're seeing with the latest version is actually a bug fix. Let me know if that doesn't fix your issue.

Note that the logging won't show "gnu11" being used (it'll be reported as c11), even when gnu11 is actually being used, w

[2020-10-16 03:43] sean-mcmanus commented on #6279
Okay -- I'm seeing a bug now with the gnu part not working.

[2020-10-16 03:58] sean-mcmanus commented on #6279
Ah, okay, it's working for me now (I was confused by _GNU_SOURCE not being defined, but that's just for C++).

But you have to do a Reload Window after changing c11 to gnu11. I'll file a bug on that.

[2020-10-16 04:07] sean-mcmanus opened #6332 "Changing gnu11 to c11 or a similar change doesn't have any effect until a Reload Window occurs when compileCommands is set"
It's potentially confusing when dealing with gnu versus non-gnu configuration issues (see https://github.com/microsoft/vscode-cpptools/issues/6279 ). In addition to confusing users, it could confuse us developers when we try to repro issues and changing the cStandard doesn't work as expected, leading to a non-repro.

This is a regression compared to 0.29.0.

[2020-10-16 04:16] Colengms commented on #6332
What do you expect to see?  We don't do anything with gnu standard versions other than convert them to non-gnu standard versions before passing them to edge, right?  Is there something I'm missing?

[2020-10-16 04:17] sean-mcmanus commented on #6332
Use this repro code
[code]

It should squiggle with c11 and not squiggle with gnu11.

The gnu part needs to be preserved when querying the compiler so that certain system defines are used.

[2020-10-16 04:39] Colengms commented on #6332
I'm not able to repro this issue.  When switching the cStandard from c11 to c17 (On Linux, with gcc 10), I immediately see it probe the compiler with the new standard.  I see a number of different defines in the new TU.  After reloading the workspace, I see exactly the same TU data as before reloading.

Perhaps your are seeing another issue, perhaps stale diagnostics?

I also don't get squiggles w

[2020-10-16 04:44] Colengms commented on #6279
I believe all of those `C_Cpp.default` settings (compilerPath, cStandard, intelliSenseMode) will override what is inferred from `compile_commands.json`.  Also, as Sean mentioned, the output of Log Diagnostics may be misleading in this case, as it reflects the value passed to the IntelliSense process.  We should interpret gnu standard versions properly when we encounter then in a compiler arg, and

[2020-10-16 07:01] cengels commented on #6321
I'm not sure if there is something you are missing or something I am missing. First of all, though,

But that's the thing—unless we're talking about a different thing here, in all of my tests I *explicitly disabled* semantic highlighting (`"editor.semanticHighlighting.enabled": false` in `settings.json`). The cpptools extension does not seem to honour that setting though. I don't know if that's a

[2020-10-16 09:41] qt1 commented on #6317
Hi,

Thanks for the question! I tried to find a trivial example but then I found that after commenting out the following from `settings.json`

     "C_Cpp.default.configurationProvider": "ms-vscode.cmake-tools",

The problem is gone.

I suspect this has something to do with the cmake tools extension and inconsistent cache.
I am removing the 'cmake tools' and I'll manage everything by hand..

[2020-10-16 11:38] cgringmuth opened #6333 "Go to definition of Constructor"
Hi, I was not able to find any documentation about this. Is it possible to jump to the constructor of a class? I tried several ways, `F12` and `Ctrl`+`Click` on variable, on Classname (before variable), on parenthesis, inside of parenthesis. Nothing worked.

Everything else works quite well. I was just wondering if there is an option to jump to correct constructor of the class. Current workaround:

[2020-10-16 13:21] JacquesLucke opened #6334 "Pretty printing of types in gdb is not taken into account for pointers"
Type: Debugger

- OS and Version: Linux x64 5.8.14-arch1-1
- VS Code Version: 1.50.0
- C/C++ Extension Version: 1.0.1

**Bug Description**

A custom pretty printer for gdb is not taken into account in the *variables* and *watch* window. It does work when the variable is a struct, but not when it is a pointer to a struct.

![image](https://user-images.githubusercontent.com/5881326/96262493-21331500

[2020-10-16 13:58] tmaslach opened #6335 "Syntax Coloring Stops working if 2d array is hit that is split across lines."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.0.1
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

When defining an 2d array with long symbol names, I have to split the statement on two lines due to an 80 character limit.  This causes all coloring to stop working after t

[2020-10-16 14:07] celonymire commented on #6173
Can confirm! 🎉

Should I close this issue?

[2020-10-16 15:09] pirpyn commented on #2130
Hi, any status update ?

[2020-10-16 15:12] Trass3r commented on #2130
Still in review.

[2020-10-16 15:24] dslijepcevic commented on #6279
Okay, I made it work now with v1.1.0-insiders2, thanks!

[2020-10-16 15:34] dslijepcevic commented on #6279
Well, kind of. It does not work with files that contain spaces in names:

![image](https://user-images.githubusercontent.com/1915869/96278394-b8559800-0fd5-11eb-9d3e-fd44e9f6e487.png)

[code]

[2020-10-16 15:46] bobbrow commented on #771
@ret394 We would accept your help updating the docs.  Feel free to click the "Edit" button at the top and submit a PR back to the docs team.

And if you are asking for additional docs/work, please open a new issue.  We will lose track of the request because you posted to a closed issue.

Thank you.

[2020-10-16 17:01] sean-mcmanus commented on #6332
It squiggles on Linux with gcc 10.2.

However, I'm not reproing the bug now...I don't know what changed.

[2020-10-16 17:16] sean-mcmanus commented on #6332
The repro requires compileCommands to be set.

Squiggles with c11 may not repro on Windows with mingw/gcc-8. I used Linux/gcc-10.

[2020-10-16 17:35] michelleangela commented on #6238
@davinci26
There could be many factors to performance issues. Perhaps logs from the language server may give clues as to what files are being parsed that could be causing the issues. Could you also provide the following logs:

1. Log output from enabling the [language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server). This logging will show

[2020-10-16 17:38] michelleangela commented on #6238
Also, have you tried resetting the browse path database with the command `C/C++: Reset IntelliSense database` and see if that makes any difference?

[2020-10-16 17:42] WardenGnaw commented on #6334
In order for pointers to be pretty printed, you will need to handle the case of `val.type.code == gdb.TYPE_CODE_PTR or val.type.code == gdb.TYPE_CODE_MEMBERPTR` in `lookup_pretty_printer`

[2020-10-16 17:55] sean-mcmanus commented on #6317
Ah, yeah, if you have C_Cpp.default.configurationProvider set, then the includePath won't be used for files managed by the configuration provider. It's not supposed to show the "Add to include path" code action in that case (I'm not able to repro that with a configuration provider set). If you do a C/C++ Log Diagnostics, it should report "Custom configurations" that are received from CMake Tools.

[2020-10-16 17:55] #6317 closed, assigned to nobody

[2020-10-16 18:01] JacquesLucke commented on #6334
I did try that before, however that does come with its own problems.

1. Now `s1` and `s2` are both displayed as struct in the *variables* window. Therefore, you cannot see what is a pointer and what is not. Furthermore, you can't see the address that `s2` points to anymore.
![image](https://user-images.githubusercontent.com/5881326/96291603-94e81880-0fe8-11eb-9ddc-92efae745d85.png)

2. It fails t

[2020-10-16 18:05] sean-mcmanus commented on #6333
Go to definition on "foo" in "Foo * f = new foo(0);" should go to the foo constructor. We can use this issue to track adding some Go to Constuctor command for other cases where the constructor isn't explicitly invoked like a method.

[2020-10-16 18:08] WardenGnaw commented on #6334
1. This seems to be the behavior by design. If you want to see if the address, you will need to include printing the address in the children.
2. The debug adapter in the cpptools extension does not build/develop on the pretty printing features. We just send the information for GDB to use. However, we do enumerate through all the frames in the stack and their variables so that will be slow. There i

[2020-10-16 18:08] sean-mcmanus commented on #6173
We usually leave issues open until the fix is available in a non-Insiders release (unless it was an Insiders-only bug), but you could close this now if you want.

[2020-10-16 18:35] JacquesLucke commented on #6334
Thanks for your responses!

Yes, I did that. That partially mitigates the problem. It does make it a less comfortable, though.

I understand that. I just thought that since I can get all the information from gdb manually in the terminal, this vscode extension could just ask gdb for the "more useful" (from my perspective at least) information.

Maybe I'm simply missing, but seems to be more useful

[2020-10-16 18:43] WardenGnaw commented on #6334
What commands are you sending to gdb that provide the information that you expect in the terminal?

We are always looking to improve the experience and at the moment, we get the information for locals is by sending:
`-var-create - * "<variable>"`.

The response for a pointer is:
`^done,name="var6",numchild="1",value="0x871a08",type="Object *",thread-id="1",has_more="0"`

When you click to expand i

[2020-10-16 18:49] JacquesLucke commented on #6334
Thanks for the information! I'm done for the today. I will report back tomorrow or next week. Have a good day.

[2020-10-16 19:36] sean-mcmanus commented on #6294
Reasons a new setting would be helpful compared to the workaround of setting clang_format_path:
•	When the system version changes it’ll get picked up automatically.
•	The new setting could be settable at a user level (clang_format_path is machine-overridable).
•	clang_format_path requires users to locate the right one…using “clang-format” doesn’t currently use the PATH to locate the system one.

[2020-10-16 19:52] sean-mcmanus commented on #6279
I'm not able to repro an issue with a file with a space in the name. Does the issue still repro if you Reload Window?

![image](https://user-images.githubusercontent.com/19859882/96302853-52094f00-0fae-11eb-8d89-bf687f228d95.png)

[2020-10-16 19:54] Colengms commented on #6335
Hi @tmaslach .  Does the happen when the C/C++ Extension is disabled?  The C/C++ Extension provides semantic colorization (colorization of symbols that essentially require compilation to identify).  Syntax highlighting is actually still handled by VS Code, and is based on TextMate grammar for C/C++.  This repo that is the source of the C/C++ TextMate grammar used by VS Code, is here: https://githu

[2020-10-16 20:12] dslijepcevic commented on #6279
Yes, it happens after Reload Window as well.

`CMakeLists.txt`:
[code]

`.vscode/settings.json`:
[code]

`test file.c`:
[code]

[2020-10-16 20:14] bobbrow commented on #6294
I don't think we need another setting for this.  If you just put `clang-format` as the value of the existing setting, can't we search the PATH and pick the system one instead?  (we have code to do this in settings.ts - we'd just need to update the logic of `clangFormatPath` to allow this way of setting the setting)

[2020-10-16 20:24] Colengms commented on #6321
@cengels

Thanks for pointing this out.  It looks like this is currently being tracked by: https://github.com/microsoft/vscode/issues/101498  I'd suggest commenting on that issue, to let them know that being unable to disable semantic highlighting using this setting is confusing.  It looks like it's possible to work around the issue using:

[code]

Correct, with semantic highlighting enabled, we a

[2020-10-16 20:30] tmaslach commented on #6335
Ah! I didn't realize coloring existed without the C/C++ Extension.  You are right, with it disabled, the problem still happens. I have posted this in the textmate repo you mentioned: https://github.com/jeff-hykin/cpp-textmate-grammar/issues/510

I will close this out..

[2020-10-16 20:40] #6335 closed, assigned to nobody

[2020-10-16 21:14] #6277 closed, assigned to nobody

[2020-10-16 22:09] Colengms commented on #6329
I suspect this is a duplicate of: https://github.com/microsoft/vscode-cpptools/issues/3883
Also tracked in VS: https://developercommunity.visualstudio.com/content/problem/714374/intellisense-error-unable-to-assign-type-to-own-ty.html

I'm following up with devs in this area internally to get some traction on the VS bug.

I'm going to close this as a dupe of https://github.com/microsoft/vscode-cppt

[2020-10-16 22:09] #6329 closed, assigned to Colengms

[2020-10-16 22:33] #6301 closed, assigned to nobody

[2020-10-16 23:06] sean-mcmanus commented on #771
@ret394 What does https://github.com/microsoft/vscode-cpptools/issues/6333 have to do with this issue?

[2020-10-16 23:38] sean-mcmanus commented on #6279
Yeah, I'm still not reproing the issue with the space in the filename. If you see PATH_MAX being defined, then gnu11 is being used. It looks like there's some issue with in6_addr. What does it open when you go to definition on in6_addr? The error in the screenshot seems to indicate that the in6_addr definition isn't being found, perhaps due to missing defines.

@Colengms @michelleangela Can someon

[2020-10-16 23:44] sean-mcmanus commented on #6294
Yeah, that would be an alternative fix, assuming the machine-overridable isn't an issue...we could potentially change that to "application" as well.

[2020-10-16 23:47] dslijepcevic commented on #6279
gcc-5 @ Ubuntu 16.04:

`in6_addr`: /usr/include/netinet/in.h
`optarg`: /usr/include/getopt.h

[2020-10-16 23:52] sean-mcmanus commented on #6279
Do you see the code below in in.h or is code grayed out?:

![image](https://user-images.githubusercontent.com/19859882/96322861-aa047d80-0fcf-11eb-87f3-87c7c665b500.png)

[2020-10-17 00:06] Colengms commented on #2377
I know this is a rather old issue, but this doesn't sound like a bug to me, per se.  We can't assume that the user does not want to use the default mode of the compiler that was specified.  We cannot know if the '-mmcu' arg is needed, or what the user would like it to be set to.  It needs to be specified by the user (or tool that generates `c_cpp_properties.json`), in either the compilerPath, the

[2020-10-17 00:06] #2377 closed, assigned to nobody

[2020-10-17 00:30] dslijepcevic commented on #6279
It is not greyed out. In .c file without space in filename IntelliSense works normally while in a file with space it doesn't. Both files are part of the same project.

[2020-10-17 01:39] Colengms commented on #6279
Hi @dslijepcevic .  Can you provide the contents of the C/C++ Output channel (with `"C_Cpp.loggingLevel": "Debug"` set), after freshly loading VS Code and opening the file with the space in it's name?  I'd like to confirm what cStandard we actually used when probing the compiler before creating that TU.  I'm not aware of anything that would behave differently regarding the cStandard due to a file

[2020-10-17 03:06] dslijepcevic commented on #6279
It happens after Reload window too, so there are no "entry not found" errors that I see.

<details>
  <summary><strong>Logs</strong></summary>

C/C++ Log Diagnostics:
[code]

Log from the language server:
[code]
</details>

[2020-10-17 05:58] UndefBhvr opened #6338 "Correct Code Mismarked"
Issue Type: <b>Bug</b>
![屏幕截图 2020-10-17 134249](https://user-images.githubusercontent.com/46280451/96329446-73863b80-107f-11eb-9166-e1f23b2e7b6c.jpg)

This program can be successfully compiled by MinGW-w64 gcc 8.1.0.
But it is marked by C/C++ IntelliSense.
[code]

Extension version: 1.0.1
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version:

[2020-10-17 06:00] sean-mcmanus commented on #6279
@dslijepcevic Thanks for the info -- the incorrect logging "Compiler probe command line: "/usr/bin/cc" -g /proj/test2/test file.c -std=gnu11 -Wp,-v -E -dD -x c -m64  /dev/null" helped me figure it out -- the "/proj/test2/test file.c" test should not be there, most likely a bug in the code that removes the `-c <arg>`. I was able to get the bug repro by deleting the compilerPath from my c_cpp_proper

[2020-10-17 06:01] sean-mcmanus opened #6339 "Querying the compiler fails when compileCommands is used for a file with spaces"
@dslijepcevic Thanks for the info -- the incorrect logging "Compiler probe command line: "/usr/bin/cc" -g /proj/test2/test file.c -std=gnu11 -Wp,-v -E -dD -x c -m64  /dev/null" helped me figure it out -- the "/proj/test2/test file.c" test should not be there, most likely a bug in the code that removes the `-c <arg>`. I was able to get the bug repro by deleting the compilerPath from my c_cpp_proper

[2020-10-17 06:04] sean-mcmanus commented on #6279
I've moved that issue to https://github.com/microsoft/vscode-cpptools/issues/6339 .

[2020-10-17 06:26] DBJDBJ opened #6340 "Windows Scripting Host"
https://github.com/microsoft/vscode/issues/108847#issue-723683735

[2020-10-17 11:10] bravosierrasierra commented on #5079
change
            "externalConsole": false,
to
            "externalConsole": true,
in launch.json

this works for me with @KingOfDuck solution

[2020-10-17 11:24] #5972 closed, assigned to nobody

[2020-10-17 11:24] hengqujushi commented on #5800
I have the same problem on a mac.

[2020-10-17 11:43] cgringmuth commented on #6333
Yes, this case works as you mentioned because the constructor is explicitly called. However for `Foo f(0);` it does not work. It could work, as cpp-tools already knows which function it can jump to. Hitting `ctrl+shift+space` in the parenthesis shows all possible declarations. It even selects the correct overload if list of variables are provided.
![image](https://user-images.githubusercontent.com

[2020-10-17 11:43] #5327 closed, assigned to nobody

[2020-10-17 11:44] #4995 closed, assigned to nobody

[2020-10-17 11:44] #4991 closed, assigned to nobody

[2020-10-17 11:44] #4804 closed, assigned to nobody

[2020-10-17 11:44] #4744 closed, assigned to nobody

[2020-10-17 11:44] #4680 closed, assigned to nobody

[2020-10-17 11:44] #4509 closed, assigned to nobody

[2020-10-17 11:44] #4476 closed, assigned to nobody

[2020-10-17 11:44] #4366 closed, assigned to nobody

[2020-10-17 11:44] #4338 closed, assigned to nobody

[2020-10-17 11:44] #4275 closed, assigned to nobody

[2020-10-17 11:44] #4101 closed, assigned to nobody

[2020-10-17 11:44] #3982 closed, assigned to nobody

[2020-10-17 11:44] #3802 closed, assigned to nobody

[2020-10-17 11:44] #3392 closed, assigned to nobody

[2020-10-17 11:44] #3199 closed, assigned to nobody

[2020-10-17 11:44] #3179 closed, assigned to nobody

[2020-10-17 11:45] #3159 closed, assigned to nobody

[2020-10-17 11:45] #3149 closed, assigned to nobody

[2020-10-17 11:45] #3098 closed, assigned to nobody

[2020-10-17 11:45] #3047 closed, assigned to nobody

[2020-10-17 11:45] #2954 closed, assigned to nobody

[2020-10-17 11:45] #2847 closed, assigned to nobody

[2020-10-17 11:45] #2690 closed, assigned to nobody

[2020-10-17 11:45] #2547 closed, assigned to nobody

[2020-10-17 11:45] #2464 closed, assigned to nobody

[2020-10-17 11:45] #2238 closed, assigned to nobody

[2020-10-17 11:45] #2094 closed, assigned to nobody

[2020-10-17 11:45] #1404 closed, assigned to nobody

[2020-10-17 11:45] #1304 closed, assigned to nobody

[2020-10-17 11:45] #1146 closed, assigned to nobody

[2020-10-17 11:45] #968 closed, assigned to nobody

[2020-10-17 11:45] #696 closed, assigned to michelleangela

[2020-10-17 11:45] #640 closed, assigned to nobody

[2020-10-17 11:45] #618 closed, assigned to nobody

[2020-10-17 11:45] #544 closed, assigned to nobody

[2020-10-17 11:45] #439 closed, assigned to nobody

[2020-10-17 11:53] #3735 closed, assigned to nobody

[2020-10-17 12:04] a16su opened #6341 "When the comment contains \0, the prompt in the floating box will be truncated"
**Type: UI Bug**

**Describe the bug**
- OS and Version: **_Windows_NT x64 10.0.19042_**
- VS Code Version: **_1.50.1_**
- C/C++ Extension Version: **_v1.1.0-insiders2_**
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:  **_No_**
- A clear and concise description of what the bug

[2020-10-17 19:16] TheTomer commented on #1372
I'm having a similar issue to the one reported in this thread, but not only with vector, but also with string or map for example.

I've made sure that I'm compiling and debugging g++ and gdb of the same mingw version, but the program would still not debug whenever I try to use one of these standard libraries... any advice?

tasks.json:

{
	"version": "2.0.0",
	"tasks": [
		{
			"type": "shell",

[2020-10-17 21:04] corneliusroemer commented on #5558
Same issue here. All my files are under `/home`, I'm using WSL:Ubuntu-20.04. Intellisense is extremely slow - not usable. I'm using it for Python.

[2020-10-17 22:28] Colengms commented on #6339
The command line as posted here appears incorrect.  There must be quotes around the path that contains the filename with a space in it.  Otherwise, the content after the space appears as an entirely separate arg.

[code]

Should be:

[code]

Or, in compile_commands.json, more correctly:

[code]

[2020-10-18 00:55] heartacker commented on #5671
I think it's very easy to imply. please，

[2020-10-18 08:06] ldarshan1991 commented on #432
@paulmaybee I have worked with gdb prompt `(gdb)` for debugging all these days and I am more familiar with the gdb commands and would prefer to have similar feel with the vscode debugger console.
So if I want to have native gdb environment feel, what can I do?
typing in -exec <_gdb command_> is not an attractive option as involves more keystrokes for every command. I would prefer to just enter 'n'

[2020-10-18 08:26] W1F3B34T3R commented on #6174
@sthavens not sure if it might help you or not but i use code runner extension and you can edit cli arguments in settings.json file, i'll post a video if it helps.[https://gofile.io/d/YSldb2](url)

[2020-10-18 10:22] GuLicheng opened #6342 "error for template parameters reduce"
[code]

[2020-10-18 10:40] GuLicheng opened #6343 "cannot deduced type for opeartor"""
[code]

[2020-10-18 16:03] tjx666 commented on #6142
https://github.com/microsoft/vscode-cpptools/pull/6344

[2020-10-18 16:46] yh-sb opened #6345 "Incorrect highlighting of override and final C++ modifiers if both are used"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 / Linux Ubuntu 16.04
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.0.1 (and 1.1.0-insiders2 too)
- Other extensions you installed (and if the issue persists after disabling them): Issue is present after disabling other extensions.
- Does this issue involve using SSH remote to run the extension on a remote machine

[2020-10-18 19:20] michelleangela commented on #6341
This is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/6084

[2020-10-18 19:20] #6341 closed, assigned to nobody

[2020-10-18 23:41] dslijepcevic opened #6346 "Compiler's default includes in `systemIncludePath`"
The documentation on `systemIncludePath` states: "We may want to provide a VS Code command to populate this value from the compiler's default for users who are interested in using it in case they want to make some modifications to the defaults."

This exactly describes what I would like to do. Is this command already implemented somewhere? If not, can we get the compiler defaults with a "${default

[2020-10-19 00:46] sky5454 opened #6347 "Why not automatically match the gcc's includePath?"
Type: General

**For GCC/MinGW/MinGW64, you can use it to catch the includePath**

In Linux, the output as follows
[code]

and the IncludePath could be catched easily
[code]

**Additional context**
In Windows
[code]
In Linux
[code]
and it is also suitable for ARM-Linux-GCC
[code]

**Expected behavior**
so why add a feature to automatically match the IncludePath,
which makes the C develop environme

[2020-10-19 06:25] huntc opened #6348 "Failing to setup the language service for an embedded ARM project"
**Type: LanguageService**

- OS and Version: MacOS 10.15.7 (19H2)
- VS Code Version:Version: 1.50.1
- C/C++ Extension Version: 1.1.0-insiders2

I have a workspace containing a C and a Rust project. I have a `.vscode/c_cpp_properties.json` file in my C project and problems reported including `variable "uint8_t" is not a type name` (and more, similar types). Having enabled debugging logs for the cpp

[2020-10-19 07:32] huntc commented on #6348
Log output in case it helps:

[code]

[2020-10-19 09:27] ytimenkov opened #6349 "Support for gcc-10 -fcoroutines flag"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 20.04
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.0.1
- C/C++ Extension doesn't honor gcc-10's `-fcoroutines` flag

The code (e.g. boost/asio) uses feature check like
[code]
Which results in squiggles when I create file with coroutines (For example this: https://www.boost.org/doc/libs/1_74_0/doc/html/boost_asio/exa

[2020-10-19 13:15] aktzbn commented on #1503
Want to see such window for python debugger.

[2020-10-19 13:56] prateekma opened #6350 "macOS Code Signature issues for some binaries in the VSIX"
Type: General

Some binaries in the VSIX are not signed (at all, with hardened runtime) for macOS notarization. We want to distribute a copy of the C++ VSIX with our application and this is causing notarization to fail.

**Describe the bug**
- OS and Version: macOS 11.0 Big Sur Beta 11
- VS Code Version: N/A
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persis

[2020-10-19 14:43] brentgracey commented on #6252
Turns out it was a simple mis-configuration on my part

Answer was provided on: https://github.com/ms-iot/vscode-ros/issues/314
Red squiggly lines for ROS_INFO and for ros::Time() dissapeard for me when i switched "cppStandard": "gnu++14" to "cppStandard": "c++14" in the .vscode/c_cpp_properties.json

source of solution: microsoft/vscode-cpptools#5963 (comment)

Thank you for the debugging help pr

[2020-10-19 14:43] #6252 closed, assigned to nobody

[2020-10-19 18:21] bobbrow commented on #6347
We do this in the extension automatically already.  Is something not working for you?

[2020-10-19 18:25] bobbrow commented on #6346
We might need to update that documentation.  `systemIncludePath` was added before we supported querying the values directly from the compiler.  You should be able to get the behavior you want by setting `C_Cpp.default.compilerPath`.  Please let us know if that meets your needs.

[2020-10-19 18:33] 0ffffffffh opened #6352 "the debugger gets confused on same named structs that defined in separate c modules"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 (10.0.19041)
- VS Code Version: 1.50.1 (user setup)
- C/C++ Extension Version: v1.0.1
- Other extensions you installed (and if the issue persists after disabling them): ARM (Syntax Highligter), CMake, Cmake Tools, Go, Python, x86 and x86_64 Assembly (Syntax highligther)
- A clear and concise description of what the bug is.

The debu

[2020-10-19 18:51] tlemo commented on #6235
I'm trying to encourage the adoption of Doxygen + VSCode for a complex code base, and this silly inconsistency in how the comments are handled is a sore point.

Any chance of seeing an improvement in the near future?

[2020-10-19 19:23] sean-mcmanus commented on #6338
Thanks for reporting this. I've filed a bug on VS (for our shared parser): https://developercommunity.visualstudio.com/content/problem/1226014/cc-intellisense-gives-incorrect-e0513-and-e0167-er.html

[2020-10-19 19:27] Colengms commented on #6279
Hi @dslijepcevic .  I also replied in the issue Sean created.  I believe the command line you have for the file with the space in it, is ill formed.  When I try to do something similar, I get an error from gcc that it cannot find the file "/proj/test2/test".  Did you add this manually to `compile_commands.json`, or was it generated by a tool?  If a tool, you may want to follow up with them.  If a

[2020-10-19 19:37] Colengms commented on #6345
Hi @r44083 I believe this repros with the C/C++ Extension disabled.  Is that correct?  The C/C++ Extension provides semantic colorization, which colors symbols that essentially require compilation to identify.  Syntactic colorization is actually still handled by VS Code, using their TextMate C/C++ grammar.  The source of that grammar is this repo: https://github.com/jeff-hykin/cpp-textmate-grammar

[2020-10-19 19:37] #6345 closed, assigned to nobody

[2020-10-19 20:01] dslijepcevic commented on #6279
Yes, but CMake does generate this properly I think:

[code]

It's probably someone who parses this file afterwards.

[2020-10-19 20:06] sean-mcmanus commented on #6339
Did you see https://github.com/microsoft/vscode-cpptools/issues/6279#issuecomment-712409324 ?

[2020-10-19 20:22] Saladin1812 commented on #5849
I am using latest Unreal Engine 4.26 built from source on github and using latest patches... VS code intellisense is half broken.. It shows error squiggles on freshly created classes.. It doesnt understand the  ::  or  \:    and suggests to use ;  instead in a freshly created c++ class..
![Screenshot from 2020-10-18 22-33-10](https://user-images.githubusercontent.com/40650341/96506818-e48f4400-127

[2020-10-19 20:42] dslijepcevic commented on #6346
I would like to have a combination of those two: default includes from the compiler **and** some extra system include directories that are not normally in the include path (sources for a system library). Is this currently possible to achieve? The same documentation mentions that system includes are stripped away from normal include and browse path. Last time I tried specifying both `C_Cpp.default.

[2020-10-19 21:27] #6340 closed, assigned to nobody

[2020-10-19 21:59] sean-mcmanus commented on #6333
The code is in our closed source cpptools/cpptools-srv. I've filed a feature request on VS at https://developercommunity.visualstudio.com/idea/1226131/enable-cc-intellisense-go-to-definition-on-class-i.html -- there might be a shared implementation we could leverage. It's not a trivial thing to add. The ctrl+shift+space is invoking signature help.

[2020-10-19 22:23] Colengms commented on #6339
Sorry, I had mistakenly trusted the compiler probe command line.  I can repro, and have a fix.

[2020-10-19 22:24] michelleangela opened #6353 "Handle all comments as Doxygen when there are Doxygen comments in code base"
I'm trying to encourage the adoption of Doxygen + VSCode for a complex code base, and this silly inconsistency in how the comments are handled is a sore point.

Any chance of seeing an improvement in the near future?

_Originally posted by @tlemo in https://github.com/microsoft/vscode-cpptools/issues/6235#issuecomment-712373405_

[2020-10-19 22:27] michelleangela commented on #6353
To add context, the feature request is to handle all comments as Doxygen comments when there are Doxygen comments and non-structured or simple comments in the project. That is also handle non-structured comments such as ~~`// This is a simple comment`~~ `//! function comment` for a function as Doxygen as well.

A possible user-experience solution is to add a setting on how comments are handled.

U

[2020-10-19 22:29] Colengms commented on #6279
Sorry, @dslijepcevic , my mistake.  I can repro the issue with quoted args w/spaces, and have a fix that should go into the next insiders.

[2020-10-19 22:45] tlemo commented on #6353
Thanks @michelleangela for opening this issue.

A small clarification: the goal is to handle all the valid Doxygen comments, as defined by the Doxygen parser itself. `// This is a simple comment` is not a Doxygen comment (and the default handing for comments seems perfectly reasonable so there's nothing to change in this case.

The only problem I noticed is that `//!` comments are not correctly re

[2020-10-19 22:51] Colengms commented on #6343
Hi @GuLicheng .  How are you configuring the C/C++ Extension?  The "sv" literal operator requires C++17.  Using the following in my `c_cpp_properties.json`, I'm unable to repro any squiggles with the code you provided:

[code]

[2020-10-19 23:02] michelleangela commented on #6353
@tlemo

Thank you for clarifying and sorry for missing the `//!` part.

[2020-10-19 23:21] sean-mcmanus commented on #6342
Thanks for reporting this. Our parser has some issues parsing the gcc 10.2 ranges header with c++20. I've filed an issue at https://developercommunity.visualstudio.com/content/problem/1226182/cc-intellisense-gives-errors-and-stops-working-wit.html .

[2020-10-19 23:56] GuLicheng commented on #6343
There is my configuration and code and I use&nbsp;"cppStandard": "c++20":

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Colen Garoutte-Carson"<notifications@github.com&gt;;
发送时间: 2020年10月20日(星期二) 上午6:51
收件人: "microsoft/vscode-cpptools"<vscode-cpptools@noreply.github.com&gt;;
抄送: "Yan"<576356467@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [microsoft/vscode-cpptools]

[2020-10-20 00:41] CaliInn-Li opened #6354 "The built-in Debug Console cannot display Chinese"
Type: Debugger

**Describe the bug**
- OS and Version:macOS 10.15.7
- VS Code Version:1.50.1
- C/C++ Extension Version:1.0.1
- Other extensions you installed (and if the issue persists after disabling them):Chinese (Simplified) Language Pack for Visual Studio Code

- A clear and concise description of what the bug is.

**To Reproduce**
As shown in the figure below, I created a simple HelloWorld ap

[2020-10-20 00:49] Colengms commented on #6343
@GuLicheng Could you provide the following?

* The contents of your `c_cpp_properties.json` file.  This should tell us how the extension is configured.
*  The output of the C/C++ Output channel leading up to the issue, with debug logging enabled using `"C_Cpp.loggingLevel": "Debug"`.  This would include any errors and information we may have received from the compiler.
* The output of the `C/C++:

[2020-10-20 01:17] sean-mcmanus commented on #6348
Does your code include a `#include <stdint.h>`? What file openes when you go to definition on that include? (is it /usr/local/Cellar/arm-gcc-bin/9-2020-q2-update/lib/gcc/arm-none-eabi/9.3.1/include/stdint.h?) Are you able to locate the file that has the uint8_t defined? It may be defined at /usr/local/Cellar/arm-gcc-bin/9-2020-q2-update/arm-none-eabi/include/bits/stdint-uintn.h (does go to definit

[2020-10-20 01:31] huntc commented on #6348
Yes.

Yes.

No, I'm not. As per the image below, `#include_next` is used, so it doesn't reveal where the next file is...

![image](https://user-images.githubusercontent.com/694893/96528872-6fe8f380-12cf-11eb-8d57-601d12dd61b1.png)

Interestingly, for some reason, it goes to:

[code]

...in `/opt/nordic/nRF5_SDK_17.0.0_9d13099/components/libraries/balloc/nrf_balloc.h`... If I attempt to "goto defin

[2020-10-20 01:37] huntc commented on #6348
I just went to a problematic declaration of `uint32_t` and it took me here:

![image](https://user-images.githubusercontent.com/694893/96529344-a70bd480-12d0-11eb-9af7-3788541becff.png)

Perhaps that's where `include_next` goes to...

Also, if I go to the definition of `__UINT8_TYPE__` I get to here:

![image](https://user-images.githubusercontent.com/694893/96529460-f4884180-12d0-11eb-8ab5-717c40