[2019-11-18 07:26] aeschli commented on #407
@janwilmans the comment

was made when there was no API in VSCode for extensions to provide folding regions.

In the meantime there is and as you can see from the followup discussion, the C++ team is aware of the request but has not yet found time to work on it.

[2019-11-18 07:27] luantu opened #4625 "outline view work abnormal with <linux/list.h>"
Issue Type: <b>Bug</b>

[code]

outline expected: function test,
but  list_for_each_entry ..

![image](https://user-images.githubusercontent.com/5064819/69007030-4fa00e80-0973-11ea-9563-92979a9df064.png)

VS Code version: Code 1.40.1 (8795a9889db74563ddd43eb0a897a2384129a619, 2019-11-13T16:49:35.976Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|--

[2019-11-18 08:34] torresdale commented on #4527
I posted the concern 3 times already but did not get any response as well.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Michael Angelo <notifications@github.com>
Sent: Monday, November 18, 2019 7:25:45 AM
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: torresdale <torresdale@outlook.ph>; Author <author@noreply.github.com>
Subject: R

[2019-11-18 08:56] blacksky9727 commented on #4527
I got a response just now. She gave me a new project folder.

On Mon, Nov 18, 2019, 4:35 PM torresdale, <notifications@github.com> wrote:

[2019-11-18 09:17] hensz commented on #4479
How can I see the percentage values? The hover only shows "parsing files", and also the outline doesn't display a percentage value. Today it parsed really fast, it only took about 10 seconds :-( .

The thing is, after parsing is done, everything seems to work as expected. So I assume that it gets to 100%. And I think that Pause Parsing doesn't change anything.

[2019-11-18 09:25] nunojsa opened #4626 "User snippets suggestions on variable declaration"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux (Arch and Ubuntu)
- VS Code Version: 1.40.0
- C/C++ Extension Version: 0.26.2-insiders
- Other extensions you installed (and if the issue persists after disabling them): Still happens when disabled

  * CMake

  - Docker

  - Devicetree

  - Indent to bracket

  - Markdown

**To Reproduce**

1. Define a user snippet
2. Define

[2019-11-18 09:26] zhangguofu opened #4627 "Extension hangs if a child process causes "cannot execute binary file: Exec format error""
VSCode Version: 1.40.1
OS Version: WIN10 10.0.18363.476
Extensions:
 1. Remote-WSL 0.40.3
 2. C/C++ 0.26.1
 3. C++ Intellisense 0.2.2
 4. Include Autocomplete 0.0.4

Steps to Reproduce:
open folder in Remote WSL (ubuntu 18.04)
open main.cc and it always shows that "Loading document symbols for main.cc ..."

Does this issue occur when all extensions are disabled?: Yes/No
when all extensions are dis

[2019-11-18 09:56] HuJK opened #4628 "Error list path error"
Type: Debugger

**Describe the bug**
- OS and Version: Debian 10
- VS Code Version: 1.40.1
- C/C++ Extension Version: 0.26.2-insiders
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/15907444/69041230-1d051d00-0a2a-11ea-9d25-f353c21e6838.png)

I can't goto the

[2019-11-18 10:27] nunojsa commented on #4605
I'm also always seeing the `Can't create IntelliSense client for  <filename> `. What is the meaning of this message? I also realized that after including the header `signal.h`, a lot of symbols of that header do not appear on the autocomplete. Is it related with the message?

[2019-11-18 10:50] Wanye1062271859 opened #4629 "[Internal testing] The all of the text about "Reference" are not localized"
1. Install VSCode and install the C/C++ Extension from View->Extension
2. Install the CHS language pack from View->Extension
3. Restart VSCode to switch the display language to CHS
4. Open a cpp file and tying some code
5. Right click on a variable and click "Find All References" to open the reference window
![image](https://user-images.githubusercontent.com/29274719/69046146-42e2ef80-0a33-11ea-95

[2019-11-18 10:54] nunojsa commented on #4605
Ok. For the signal things, defining `_GNU_SOURCE` apparently fixes my auto completion. Not sure why we need since things like `sigaction()` do not need to explicitly define GNU_SOURCE (using gnu11/99 as standard is enough). It seems to be related with #2782

[2019-11-18 12:20] g-arjones commented on #2856
@Colengms Sure:

[code]

I have a `MagnetFunctionFactory.cc` in `${workspaceFolder}/src/MagnetFunctionFactory.cc` but the extension doesn`t seem to pick that up. I also got this in the extension logs:

[code]

attraction_force_surface_gazebo is the workspace base name

[2019-11-18 14:11] lmdu-gs commented on #4531
Could you describe it in detail. I tried your method, but it didn't work.

[2019-11-18 14:17] PDostalek commented on #4535
Thanks

[2019-11-18 14:17] #4535 closed, assigned to nobody

[2019-11-18 15:27] keipei25 commented on #4527
I got an email from her and followed what it says. But I couldn't extract the file to my project folder because it is rar format.

Please check the email below and try if it works.

![image](https://user-images.githubusercontent.com/55885307/69065567-560db380-0a63-11ea-9fd9-d00c16714a17.png)

kindly visit this link (https://drive.google.com/file/d/1pQ0IbG-YUHIBS3ic78VH81_DGxJSrzHH/view?usp=sharing

[2019-11-18 17:42] joelspadin-garmin commented on #4243
Maybe useful new info: I previously stated that I was able to pause a program when running the debug session from Windows. That was not correct. Nothing happens when I press the pause button on either platform.

Here is a comparison of the behaviors I'm seeing on each platform:

Function | Windows Behavior | Linux Behavior
--|--|--
Pause | Nothing happens. | Nothing happens.
Set breakpoint before

[2019-11-18 17:53] pieandcakes commented on #4243
@joelspadin-garmin The logging that would give us the most info would be the `engineLoggging` setting as that tells us what we send to `gdb` and the responses/events we get back.

To stop the debugger, we have two ways of doing it:
* `kill -2 <debuggeepid>`
* `-exec-interrupt` through `gdb`

If you have a separate `ssh` connection in and send `kill -2 <debuggee pid>`, will it show stopped in VS Co

[2019-11-18 18:29] pieandcakes commented on #4624
@Wanye1062271859 Hi,

`cwd` stands for current working directory and should not point to a file. This is the correct error. If you expect a different error, please let me know.

[2019-11-18 18:29] #4624 closed, assigned to pieandcakes

[2019-11-18 18:30] pieandcakes commented on #4612
Can you tell me which version of the compiler you are using?

[2019-11-18 18:37] pieandcakes commented on #4607
@Prj1508 Are you attempting to debug in the container? If so, can you paste your entire launch.json?

In the picture it looks like you are setting up a local debugging scenario and not one running in a Docker container. It is looking on your local machine for `/usr/bin/gdb`.

If you are attempting to do remote debugging in the container, you will need to have a `pipeTransport` block and specify th

[2019-11-18 18:39] pieandcakes commented on #4606
According to the log:
[code]
The module containing debug information has not been loaded for the breakpoint to bind. This is usually caused when your application is not compiled to include debug symbols. For gcc/g++, the flag `-g` is needed. Can you make sure you are compiling code with debug symbols?

[2019-11-18 18:42] pieandcakes commented on #4592
@andyj513 It looks like you are using VS Code's `Remote-SSH` extension in conjunction with our extension. Please add the [logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_logging-for-mi-debuggers) block to your `launch.json` and try again. The logging output will display in your `debugConsole` and will help us isolate what is happening.

[2019-11-18 18:42] pieandcakes commented on #4592
Also, which version did you have that this was working on?

[2019-11-18 18:46] bobbrow opened #4630 "[insiders] IntelliSense crash when memory usage gets too large"
We're seeing crashes in our telemetry related to a new memory management algorithm in IntelliSense

[2019-11-18 18:52] Colengms commented on #4629
This UI is part of VS Code, not added by the cpptools Extension.  I've opened https://github.com/microsoft/vscode/issues/85055 against VS Code.

[2019-11-18 18:59] Colengms commented on #4622
Hi @anatolyburakov .  Thanks for reporting this.

This looks similar to https://github.com/microsoft/vscode-cpptools/issues/3883 .  It looks like a fragment parsing issue, as editing the file at global scope (to trigger a full reparse) clears up the squiggle.

[2019-11-18 19:02] ghost commented on #4614
I seem to be having a similar issue on my system.  I am working on a C++ project and the extension does not seem to be handling C++ syntax properly, as people have mentioned above in this issue.  I have been manually reverting the C++ extension back to version 0.24.1, as that seems to be the most recent extension version where the problem does not occur.

I ran the `C/C++: Log Diagnostics` command

[2019-11-18 19:26] Colengms commented on #1552
Open this issue against VS: https://developercommunity.visualstudio.com/content/problem/824877/intellisense-should-show-numeric-values-for-charac.html

[2019-11-18 19:49] joelspadin-garmin commented on #4243
On Linux, with `engineLogging` enabled, there is no output in either the debug console or the internal cppdbg terminal when I attempt to pause or stop the debugger.

On Windows, there is also no output when I attempt to pause the program. However, stopping the debugger logs an `-exec-interrupt` command followed by lots of thread info messages, and eventually:

[code]

Running `kill -2 <pid>` in a

[2019-11-18 20:15] sean-mcmanus commented on #4630
This might be "okay" because the IntelliSense process should restart after the crash after the next IntelliSense request, which would explain why no users are complaining about it (i.e. same behavior as on Windows with VS). Better to avoid crashing still though.

[2019-11-18 20:25] bobbrow commented on #4623
Which folder is helloworld.cpp in?  If it's in the `.vscode` folder, then that's why you're getting this error.  Can you share the folder structure?

[2019-11-18 21:04] xNMCx commented on #4606
I'm sorry because I did put it, but I missplaced it as I make a .o, I only put it in my the .o -> .out compilation. It was all my fault, sorry for bothering you all.

I just hope if someone makes the same mistake they learn it from my own one.

[2019-11-18 21:04] #4606 closed, assigned to pieandcakes

[2019-11-18 21:27] blacksky9727 commented on #4527
I tried it also. But when i tried it on my phone. It extract the folder.
But i don't know how to put it on computer.

On Mon, Nov 18, 2019, 11:27 PM keipei25, <notifications@github.com> wrote:

[2019-11-18 21:34] stwupton opened #4633 "Wrong block of code grayed out when using NDEBUG macro"
### Brief Issue Summary

When picking the "Release" variant, the `#ifndef NDEBUG` check is graying out the else block instead (see image below). However, it does include the correct block of code on compilation.

![image](https://user-images.githubusercontent.com/7224013/69095284-e3dca500-0a49-11ea-8e81-e91cba78be9e.png)

### Platform and Versions

- **Operating System**:  Windows 10
- **CMake Ver

[2019-11-18 21:46] Colengms commented on #4628
This looks like an issue with the built in gcc problem matcher, and potentially a duplicate of https://github.com/microsoft/vscode-cpptools/issues/2266 .

If I understand correctly, a potential workaround for your repro override the base gcc problem match and switch it to using absolute paths.

[code]

[2019-11-18 22:08] bobbrow commented on #4633
Can you run the "C/C++: Log Diagnostics" command and paste the output here?

[2019-11-18 22:08] sean-mcmanus commented on #4625
This is "by design". The macro that require evaluation in order to parse the code correctly need to be added to a cpp.hint file in your workspace (i.e. list_for_each_entry). See https://docs.microsoft.com/en-us/cpp/build/reference/hint-files?view=vs-2019 . Let us know if that doesn't work.

[2019-11-18 22:08] #4625 closed, assigned to nobody

[2019-11-18 22:14] sean-mcmanus commented on #4479
It normally will show a "Parsing files: cur / max (%)" in the progress hover unless it gets into an unexpected state where it's > 100% (at which point it may be stuck don't some additional final processing that we haven't accounted for).

[2019-11-18 22:20] andyj513 commented on #4592
Unfortunately, I don't know the answer to your question, but I think it is moot, as I think I found the issue.

Summary: I had added "externalConsole": "true" to my launch.json at some point (because I wanted to avoid the debugging taking over my console).  I saw to do this on https://code.visualstudio.com/docs/cpp/launch-json-reference.  But it looks like having this line is causing my problem, a

[2019-11-18 22:21] sean-mcmanus commented on #4626
Our internal snippets has access to our lexer so it can use that info to avoid showing snippets in invalid cases such as in variable declarations. The base VS Code snippet functionality doesn't have access to this language info. I believe once we expose a way for users to edit/modify the snippets we expose then this would fix your issue: see https://github.com/microsoft/vscode-cpptools/issues/3556

[2019-11-18 22:29] sean-mcmanus commented on #4627
You might be hitting bug https://github.com/microsoft/vscode-cpptools/issues/4470 .

You could try downloading and installing the vsix at https://github.com/microsoft/vscode-cpptools/releases/download/0.26.2-insiders/cpptools-linux.vsix on the remote WSL instance to see if that fixes it.

[2019-11-18 22:30] sean-mcmanus commented on #4627
You may also want to try disabling the C/C+ IntelliSense extension, which conflict with functionality provided by our C/C++ extension.

[2019-11-18 22:37] sean-mcmanus opened #4631 "[insiders] IntelliSense process failing"
https://pasteboard.co/IH4Ekzg.png
I'm having the same problem with the latest version of C++ Tools plugin 0.26.2-insiders. The elements.hpp file was working fine last night and it suddenly died today. Deleting the entire plugin folder and reinstalling it don't work out.

@michelleangela here are my logs, if you'd like to see

C/C++ Log Diagnostics output:
https://pastebin.com/mTyrW9pu
C/C++ Debug

[2019-11-18 22:39] sean-mcmanus commented on #4631
@RigoLigoRLC What is the problematic project on your GitHub page?

What is the symptom of the problem you're seeing?

[2019-11-18 22:45] sean-mcmanus commented on #2856
Your browse.path setting appears to be incorrect, unless you have set the C_Cpp.default.browse.path to be correct. It appears to be missing `${workspaceFolder}` or `${workspaceFolder}/src`, which could cause our code to not be able to associate the header with the source file.

[2019-11-18 22:49] Colengms commented on #1489
It was suggested that this may be due to use of an include_next.  However, testing with include_next, I'm still not able to repro this issue.  It may have been fixed.

Since we no longer have a repro for this, and there hasn't been traffic for a couple years, I'm going to close this.  If someone has a repro, please let me know.

[2019-11-18 22:49] #1489 closed, assigned to nobody

[2019-11-18 22:57] stwupton commented on #4633
[code]

[2019-11-18 23:14] sean-mcmanus opened #4632 "Problem with .C files being associated with C instead of C++ with 0.26.1"
I seem to be having a similar issue on my system.  I am working on a C++ project and the extension does not seem to be handling C++ syntax properly, as people have mentioned above in this issue.  I have been manually reverting the C++ extension back to version 0.24.1, as that seems to be the most recent extension version where the problem does not occur.

I ran the `C/C++: Log Diagnostics` command

[2019-11-18 23:16] sean-mcmanus commented on #4632
VS Code itself isn't able to differentiate between the ".c" and ".C" so we have code that should add the sourceFile.C to your files.associations setting in your workspace. Do you see that setting added? If not, what happens when you add it manually for that file?

[2019-11-18 23:21] bobbrow commented on #4633
Thanks!  It looks like you're using compile_commands.json to configure IntelliSense.  Can you find the entry describing the compiler commands for main.cpp and share that?  My guess is that `NDEBUG` is not defined there.

[2019-11-18 23:23] sean-mcmanus commented on #4632
Also, unrelated to the c11 issue, but you should remove the system includes from your includePath (it could cause incorrect include path ordering with the other system includes obtained from the compilerPath).

[2019-11-18 23:33] stwupton commented on #4633
[code]

^ That's what it looks like in the "Release" variant. In "Debug", the `/DNDEBUG` flag isn't present.

[2019-11-18 23:39] bobbrow commented on #4633
Do you have two separate compile_commands.json files that you switch back and forth between, or does CMake Tools overwrite the one at that location when you change the active variant?

[2019-11-18 23:50] stwupton commented on #4633
Just the one. When I change the active variant it reconfigures and updates the compile_commands.json file.

[2019-11-19 00:01] bobbrow commented on #4633
Thanks for the info.  I think this lies in the realm of cpptools.  I'll transfer the issue over and the team can try to help get to the bottom of this.  It's possible that the file watcher is not picking up the changes.  Or  something related to clang-cl.  I'm not sure.

[2019-11-19 00:14] ghost commented on #4632
@sean-mcmanus Thanks for responding.  The problem does appear to be related to the `files.associations` setting in my workspace.

The file association for that particular translation unit was missing on extension version 0.26.1.  When I reverted back to version 0.24.1, the extension automatically added the file association for that specific translation unit in my workspace settings.json.  Upgradin

[2019-11-19 00:15] sean-mcmanus commented on #4633
Can you enable debug logging (https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and look for what defines is shows being used or any error message related to why it is failing to process the compile_commads.json . Due to bug https://github.com/microsoft/vscode-cpptools/issues/4270 I'm not sure if the compile_commands.json defines are getting used or not.

[2019-11-19 00:20] ghost commented on #4632
I should also mention that I already have wildcard file associations in my workspace settings that should apply to all files with .C and .H extensions.
[code]

[2019-11-19 00:29] sean-mcmanus commented on #4632
Yeah, the `"*.C"` association should work (it'll just apply to `"*.c"` as well, since it's case insensitive), so in that case it shouldn't add the "file.C" association. Are you saying the "*.C" association isn't working?

[2019-11-19 00:54] ghost commented on #4632
Well, I used to have an association that looked like this:
` "*.[CH]": "cpp"`

I thought this was valid syntax, but it seems like on version 0.24.1, the extension was adding specific file associations for each one of my .C files.  After moving to 0.26.1, those filename-specific associations were not being added by the extension anymore, and that was causing the problems.

I just recently (within t

[2019-11-19 00:55] EmbeddedBacon commented on #557
This feature has been on the backlog for a while now, any plans to resurrect this feature request from the dead?

[2019-11-19 01:06] sean-mcmanus commented on #4632
Oh, that sounds good. Let us know if you still encounter a problem.

[2019-11-19 01:12] zhangguofu commented on #4627
I uninstalled the C++ Intellisense 0.2.2 and installed C/C++ 0.26.2-Insiders, and problems remain the same as before. What else should I provide to find where the bug is?

[2019-11-19 01:20] sean-mcmanus commented on #4627
There is either some problem creating the database or some problem parsing the files. Are you able to get a simple file with "int test;" to show symbols? If you change the C_Cpp.default.browse.databaseFilename setting to "${workspaceFolder}/.vscode/vc.db" do you see the file get created? It's possible the default location we choose might not have appropriate write permissions. If you enable debug

[2019-11-19 01:40] EmbeddedBacon commented on #557
When I enabled the logging to decipher the transposed variable name the out on the Debug Console shows me the value in hex, but the Variable in the Debug tab still remains as decimal

-exec -var-set-format var158.param1 hexadecimal
1: (1205572) <-1599-var-set-format var158.param1 hexadecimal
1: (1205573) ->1599^done,format="hexadecimal",value="0xffffff01"
1: (1205573) ->(gdb)
1: (1205573) 1599: el

[2019-11-19 01:46] zhangguofu commented on #4627
**Reply: No, it is not able to show the only symbol.**

If you change the C_Cpp.default.browse.databaseFilename setting to "${workspaceFolder}/.vscode/vc.db" do you see the file get created? It's possible the default location we choose might not have appropriate write permissions.
**Reply: Yes, it is created.**

 If you enable debug logging (https://code.visualstudio.com/docs/cpp/enable-logging-cp

[2019-11-19 01:49] luantu commented on #4625
@sean-mcmanus

I just added the "cpp.hint" to workspace directory as required，and the content of the file is
[code]
but it doesn't work. Did I do something wrong？

[2019-11-19 02:02] xgdgsc commented on #4614
Deleting the extension folder `~/.vscode/extensions/ms-vscode.cpptools-0.26.1/` and reinstalling seems to fix it for me

[2019-11-19 02:57] Wanye1062271859 commented on #4623
Hi bobbrow,
My folder structure show as below, wish this can help you to resolve this problem.
![image](https://user-images.githubusercontent.com/29274719/69112470-428e3700-0abb-11ea-80a9-ecc976bd7dcd.png)

[2019-11-19 03:00] zhangguofu commented on #4627
I installed C/C++ 0.26.1 back in WSL and now it works.
So the two measurements might fix this issue, one it that I uninstalled C/C++ Intellsense, and two is that I reopened visual studio code for several times.

but the C/C++ 0.26.2 Insiders does not work, strange.
would you like me to help to dig deeper to find out the rootcause for this issue?

[2019-11-19 04:22] Manouchehri commented on #1351
Could there be a "pause" button on indexing? This isn't a great UX, I ended up disabling the extension because I have work to get done and a lagging UI is pretty frustrating.

[2019-11-19 06:15] xgdgsc commented on #4614
It stopped working again for me :sweat:

[2019-11-19 08:22] HuJK commented on #4628
This workaround works, thank you.

Is this a bug of VScode? Or just I misconfigured?

[2019-11-19 08:22] #4628 closed, assigned to nobody

[2019-11-19 08:26] nunojsa commented on #4626
I see.

Definitely. That was my first approach before writing my own snippets, since I just want do slight variations of what the internal snippets are doing already. Hopefully, this comes soon to the extension...

Thanks for your reply!

[2019-11-19 12:04] keipei25 commented on #4527
I used winzip to extract the rar file from the link. and put it in my project folder but there is still an error to the updated code of the hello world.

![image](https://user-images.githubusercontent.com/55885307/69145070-24065b00-0b10-11ea-9e05-bdca166a562d.png)

bagsak kung bagsak lol

[2019-11-19 12:13] g-arjones commented on #2856
I have updated browse paths as you suggested by it doesn't seem to have any effect. Updated logs:

[code]

Am I missing something or is intellisense mapping the header to the header itself?

[2019-11-19 12:21] g-arjones commented on #2856
I have added `${workspaceFolder}/src` to browse path (rather than `${workspaceFolder}`) and it did the trick. But that doesn't feel right, I think source files should be preferred (and that's what the algorithm @Colengms mentioned should be doing, right?)

[2019-11-19 12:28] g-arjones commented on #2856
Adding `${workspaceFolder}/**` also works but should this really be required?

[2019-11-19 12:30] stoperro commented on #1994
I don't understand why IntelliSense tries to convert paths to ALL CAPS, it could store actual information internally. Gives me similar problems with Visual Studio C++. Code compiles well with compiler (cl.exe), yet IntelliSense converts to ALL CAPS and fails to find file. In the past it resulted occasionally in duplicated tabs too.

[2019-11-19 12:38] blacksky9727 commented on #4527
Hahaha kaya nga panu na yun

On Tue, Nov 19, 2019, 8:05 PM keipei25, <notifications@github.com> wrote:

[2019-11-19 12:39] hensz commented on #4479
Just to explain things a bit better. This is how the footer of my VS Code looks like when I open a cpp file. I see two icons, a flame icon and a can (database?) icon:
![Footer](https://user-images.githubusercontent.com/1984979/69144797-73c33300-0acc-11ea-94f5-dd2cbf4e3a62.jpg)

The tooltip of the flame reads "Updating Intellisense....". This one disappears after about 4 seconds.
![Flame](https://u

[2019-11-19 12:43] torresdale commented on #4527
Not getting any luck with the instructor. Still no response even from my oine buddy

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: blacksky9727 <notifications@github.com>
Sent: Tuesday, November 19, 2019 8:39:00 PM
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: torresdale <torresdale@outlook.ph>; Author <author@noreply.github.com>
Su

[2019-11-19 12:44] michaelafruiz commented on #4527
I think you opened the wrong file. It should be like these in your launch.json

<img width="1028" alt="02052944-B4D8-4C10-B33E-9777EB30BC45" src="https://user-images.githubusercontent.com/56989201/69147562-3af77e00-0b0d-11ea-9a57-0a2579f62ad7.png">
<img width="936" alt="0338475D-035D-4B52-8D61-4BE1E533F428" src="https://user-images.githubusercontent.com/56989201/69147563-3b901480-0b0d-11ea-941a-52

[2019-11-19 12:46] blacksky9727 commented on #4527
Micheal Angelo,
Have you fix it?

On Tue, Nov 19, 2019, 8:44 PM Michael Angelo, <notifications@github.com>
wrote:

[2019-11-19 12:52] michaelafruiz commented on #4527
Yes I haved fixed it already.
These are the steps that I did:

1. Extract the file in the project folder you are going to use in VS Code.

2. Open the VS Code app.

3. In the file tab of VS Code, click Open Folder then locate the file that you have extracted which is the Project Folder.

4. Start debugging.

If the debugging didn’t work, you have to restart your pc/laptop. And do the steps number

[2019-11-19 13:07] blacksky9727 commented on #4527
Micheal angelo,
How did you extract the folders?

On Tue, Nov 19, 2019, 8:52 PM Michael Angelo, <notifications@github.com>
wrote:

[2019-11-19 13:21] loheagn commented on #429
+1
Then I can debug cpp on my rasberrypi

[2019-11-19 13:32] esride-jts commented on #4612
@pieandcakes  the terminal shows Version 19.23.28106.4 for x64

[2019-11-19 14:09] stwupton commented on #4633
While getting the logs, I came across the `C/C++: Change Configuration Provider...` command. Changing it to `CMake Tools` fixed the issue. I can now switch the variant and the inactive regions update correctly (although, now I'm getting a load of errors when trying the use the standard library).

Thank you for your help!

[2019-11-19 14:51] michaelafruiz commented on #4527
I used the WinZip app to extract the file.

[2019-11-19 14:59] vivekanandpoojari commented on #498
This link is dead

[2019-11-19 15:22] stwupton commented on #4633
I spoke too soon. I can't get IntelliSense to work when setting the configuration provider to `CMake Tools`, I've had to revert back to how I had it. Here's that log that you asked for, no errors that I can see:

[code]

[2019-11-19 15:45] yaroslavsadin opened #4635 "user-defined literal operator not found"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 7
- VS Code Version: 1.40.1
- C/C++ Extension Version: 0.26.2-insiders
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Error squiggle appears while trying to use string literals.

**To Reproduce**

Simply copy paste code from: https://e

[2019-11-19 15:56] yaroslavsadin opened #4636 "std::variant constructor inheritance causes error squiggles"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 7 (Cygwin64, gcc 8.3.0)
- VS Code Version: 1.40.1
- C/C++ Extension Version: 0.26.2-insiders
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

While trying to use a class inherited from std:: variant and inherit its constructors, IntelliS

[2019-11-19 19:14] pieandcakes commented on #557
@EmbeddedBacon That is the expected behavior. If you change the var-set-format, it will change it for all future calls but existing data is not updated as the UI hasn't requested to refresh yet.

We don't have a gesture in the UI to change the value and I haven't had time to investigate if VS Code's extensibility contains the ability to add this feature.

[2019-11-19 19:31] sean-mcmanus commented on #4625
Something like `#define list_for_each_entry(x, y, z) for(;;)`

[2019-11-19 19:35] sean-mcmanus commented on #1351
@Manouchehri If you click the database icon in the status bar you can select the "Pause Parsing" button, but it only works for background parsing, and not parsing caused by opening a file and parsing its include dependencies. But that doesn't affect the red flame (IntelliSense parsing) which happens in a different process.

[2019-11-19 19:42] neilyoung commented on #3278
same here. vscode 1.40, catalina. Doesn't stop

[2019-11-19 19:48] sean-mcmanus commented on #4627
The "C/C++: Reset IntelliSense Database" command is accessible via View->Command Palette (if you're using another display language it might be translated).

Your files.exclude look good.

We have a known bug with 0.26.2-insiders that will cause the Outline view to be blank for the first opened file -- closing and reopening the file should fix it (https://github.com/microsoft/vscode-cpptools/pull/4

[2019-11-19 19:49] pieandcakes commented on #3278
@neilyoung The pinned issue #3829 is what you are running into. Please refer to that one.

[2019-11-19 19:54] sean-mcmanus commented on #4614
@xgdgsc Your diagnostic log file shows no IntelliSense process is active. Are you able to enable debug logging (https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and see what error message is shown when it tries to create the IntelliSense process? Also, if you could only specify only a configurationProvider or compileCommands, that would help narrow down the problem.

[2019-11-19 19:56] sean-mcmanus commented on #4628
@HuJK We have a fix pending at https://github.com/microsoft/vscode-cpptools/pull/3916, but it would require us taking a dependency on a newer version of the VS Code, so we've postpone that change till later.

[2019-11-19 20:00] sean-mcmanus opened #4637 "Remove knownCompilers from "Current Configuration" after C/C++: Log Diagnostics"
...it shouldn't be there...

[2019-11-19 20:06] sean-mcmanus commented on #2856
`${workspaceFolder}/**` and `${workspaceFolder}` should be equivalent in the browse.path setting -- both are treated as being recursive. Maybe `${workspaceFolder}` didn't work because the source files weren't finished parsing? The browse.path setting specifies the root directory where global symbols are parsed.

[2019-11-19 20:32] sean-mcmanus commented on #4479
If you check the "C/C++" debug log and you see "tag parsing" messages, then it would mean the parsing of open files is parsing include dependencies (possibly wrong ones that have the same name, but a different path). Otherwise, the status message could be incorrect.

[2019-11-19 20:49] mikepelley opened #4638 "Fetching build tasks never completes"
I am developing a small library in C on a remote Ubuntu machine which I connect to using Remote SSH from my Windows laptop. I have a build task configured in tasks.json and it was working fine for a while. Now though it gets stuck saying "Fetching build tasks..." and after a moment I get a pop-up that says "The C/C++ task provider is slow. The extension...".

[2019-11-19 20:51] sean-mcmanus commented on #4633
Your log shows NDEBUG is defined. Are you saying the `#ifndef NDEBUG` is still shown as active?

[2019-11-19 21:11] stwupton commented on #4633
Yes, like in the image that I posted. It does include the correct block of code when compiling, it's just the editor that hasn't updated.

It does update if I close and re-open the editor.

[2019-11-19 21:26] neilyoung commented on #3278
@pieandcakes Yes, thanks. Found that by myself already. I can confirm, that CodeLLDB works

[2019-11-19 21:26] sean-mcmanus commented on #4635
The root cause is https://developercommunity.visualstudio.com/content/problem/797098/cc-intellisense-with-gccclang-mode-reports-incorre.html and https://github.com/microsoft/vscode-cpptools/issues/2460 .

The issue doesn't repro on Linux.

However, on closer examination it looks like our code path might be different from VS in this case it might be an issue we want to investigate fix on our end fi

[2019-11-19 21:30] sean-mcmanus commented on #4635
Also, what is your intelliSenseMode? I did the repro on Win10 with WSL with gcc-x64 mode, not msvc-x64 mode.

[2019-11-19 21:38] sean-mcmanus commented on #4635
Oh, I see from your other bug report you're using Cygwin.

[2019-11-19 21:48] sean-mcmanus commented on #4638
Is this a bug with our C/C++ extension? Does it repro with our extension disabled? Or is this a VS Code or remote SSH bug?

[2019-11-19 21:55] sean-mcmanus commented on #4636
Also repros on Linux. I think we need to isolate the code in the gcc headers used by `<variant>` to find the root cause.

[2019-11-19 22:01] michelleangela commented on #4623
From which command prompt did you create the project folder and open VS Code from? Was it the **Developer Command Prompt for Visual Studio**? In order for the source code to build, [VS Code should be started from a Developer Command Prompt for VS](https://code.visualstudio.com/docs/cpp/config-msvc#_start-vs-code-from-the-developer-command-prompt).

Also, I suggest to create the project folder unde

[2019-11-19 22:13] pieandcakes commented on #4571
@SashaOv We determined that there is an issue in WSL2 that the WSL2 team has a fix for. We don't know which insiders release it will be part of though.

I'll let you know more when I have more to share.

[2019-11-19 22:18] SashaOv commented on #4571
Thanks Pierson, looking forward.

[2019-11-19 22:23] sean-mcmanus commented on #4636
I've filed a bug on VS at https://developercommunity.visualstudio.com/content/problem/826530/cc-intellisense-incorrectly-reports-no-instance-of.html .

[2019-11-19 22:24] joelspadin commented on #4243
Someone mentioned that setting [this setting](https://visualgdb.com/KB/?ProblemID=breakinhang) fixed issues when using VisualGDB to debug the same hardware. Could vscode be trying to resume and interrupt the program quickly when connecting, and running into the same race condition?

[2019-11-19 22:26] sean-mcmanus commented on #4635
@Colengms Can you check if https://developercommunity.visualstudio.com/content/problem/797098/cc-intellisense-with-gccclang-mode-reports-incorre.html is actually the root cause ?

[2019-11-19 22:31] kkaja123 commented on #2710
Does the following dump help at all? (v0.26.1)

Unfortunately, I don't know exactly what caused the below error. I saw it show up pretty quickly after clicking Find All References. I know that the extension showed the pop-up saying that it was "confirming" files and that I could click on the magnifying glass to preview the results. I let it continue to completion, but nothing popped up in the side

[2019-11-19 22:33] sean-mcmanus commented on #4627
Actually, I was mistaken -- looks like https://github.com/microsoft/vscode-cpptools/pull/4621 fixed an issue that didn't ship with insiders. I'll look into what bug I was seeing...

[2019-11-19 23:12] Colengms commented on #3270
Hi @mlalkaka .  Are you still experiencing this issue?

I cloned WebKit on Linux x64, successfully built, and configured cpptools to use the generated compile_commands.json.  All files were successfully parsed without crashing the extension.

[code]

After relaunching, I'm not seeing it reparse files.

It's possible the root cause has been addressed since you reported the issue.  If you are still

[2019-11-19 23:12] #3270 closed, assigned to Colengms

[2019-11-19 23:40] ghost commented on #4632
@sean-mcmanus After making the changes I mentioned above to the files.associations setting, I've still been periodically encountering issues where C++ standard library includes are not being recognized.

I was able to reproduce include errors 100% of the time with some specific files in my project directory.  I've since narrowed it down to a very small workspace configuration which still reproduce

[2019-11-20 00:14] Colengms commented on #4632
Hi @bwarrum-ibm .  It looks like we are not handing ".H" files as C++.  File associations are based on the name of the file that was opened, not the file selected to use for the translation unit, unfortunately.

This should be fixed by: https://github.com/microsoft/vscode-cpptools/pull/4639

[2019-11-20 00:22] EmbeddedBacon commented on #557
@pieandcakes Thanks for the info, but I still couldn't get it to work.  This will not work with Locals under Variables since I don't control those.  I did try this in the Watch panel, but this doesn't seem to work correctly.  I also noticed the translated variable is always changing.  In one case the varible "pFsaCmd" was initially var39, then var40, then var42, then var43, then etc.  If I didn't

[2019-11-20 00:56] sean-mcmanus commented on #2710
@kkaja123 Thanks for reporting that -- we have PR that potentially fixes it at https://github.com/microsoft/vscode-cpptools/pull/4640 .

[2019-11-20 00:56] Colengms commented on #4635
It does appear to be an issue with size_t.  In the repro case, I see a squiggle on the definition of the user-defined literal operator, complaining about a mismatch with size_t.  The symptom is reversed between Windows and Linux.  On Windows (x64), I see the squiggle with `gcc-x64`.  On Linux (x86_64), I see the squiggle with `gcc-x86`.

[2019-11-20 01:14] Colengms commented on #4026
I believe this will be addressed in the next release, fixed by https://github.com/microsoft/vscode-cpptools/pull/4593 (and https://github.com/microsoft/vscode-cpptools/pull/4621).  We will avoid processing didOpen for intelliSense operations that do not involve displaying the contents.

[2019-11-20 01:55] luantu commented on #4625
Yesterday I tried to restart vs code and delete so-called cache files but not found. and it doesn't work

**but amazing !!!! it looks like working this morning**
[code]

[2019-11-20 01:58] sean-mcmanus commented on #4635
We figured out the cause. A workaround is to add -m32 to the compilerArgs setting (or at the end of the compilerPath) for gcc-x86 mode or add -m64 for gcc-x64 mode.

If you're targeting x86 though, you'll need to make sure you have the i386 gcc installed or you'll get include errors.

[2019-11-20 01:59] zhangguofu commented on #4627
unfortunately this issue came back again today! I tried the following:
1. Reopen folder in Windows and then Reopen in WSL
2. close folder and open it again in WSL
3. close main.cc and double click to open again in the editor
4. close VS code and restart it again
5. set C_Cpp.default.browse.databaseFilename setting to "${workspaceFolder}/.vscode/vc.db"
But the issue remains, outline displaying "loa

[2019-11-20 02:26] sean-mcmanus commented on #2460
We figured out the cause and a workaround of adding -m32 to the compilerArgs (or to the end of compilerPath) for gcc-x86 mode or adding -m64 for gcc-x64.

The bug with VS is somewhat unrelated because they implement it differently.

[2019-11-20 02:39] xgdgsc commented on #4614
Thanks. It shows log like:
[code]

[2019-11-20 02:41] sean-mcmanus commented on #4627
Your log shows it getting stuck at
Attempting to get defaults from compiler in "compilerPath" property: '/opt/hisi-linux/x86-arm/arm-himix200-linux/bin/arm-himix200-linux-g++'

We don't currently support targeting arm architectures so that might cause some IntelliSense problems, but ideally it would not cause the extension to get stuck indefinitely.

Can you confirm that all the C/C++ extensions f

[2019-11-20 02:45] sean-mcmanus commented on #4614
Is there stuff before that log? I don't see the output when it tries to create the TU initially.

[2019-11-20 02:50] zhangguofu commented on #4627
I tried several times by closing and reopening vs code, or reopen folder in Windows and WSL back and forth, and it worked for once.
This is the C/C++ log:
[cpp_success.log](https://github.com/microsoft/vscode-cpptools/files/3867077/cpp_success.log)

I recently work on an embedded project and it cannot be changed to other compilers as it is for a specified embedded processer.

when the outline goes

[2019-11-20 02:59] xgdgsc commented on #4614
I found it works after opening the folder of "MyProject" directly. I was using a workspace file on the parent directory MyProject.code-workspace.

[2019-11-20 03:13] xgdgsc commented on #4614
It stopped again. log at https://gist.github.com/xgdgsc/1667c7bbe5b260feda9be5e84e418201

[2019-11-20 03:29] sean-mcmanus commented on #4627
Yeah, that log looks good, although you may want to use gcc-x86 intelliSenseMode instead of gcc-x64.

Find All References and the outline view both share the database, so if there's some bug that makes the database unusable then it would affect both features.

I was able to repro a similar bug via opening the same folder with 2 instances of VS code in WSL and I get a "Time out waiting for tag pars

[2019-11-20 03:37] zhangguofu commented on #4627
Thanks for your advise, I switched to gcc-x86 now.
strangely enough, once it worked, it seems it keeps working fine...
I am going to restart Windows to check it will come back, and post it here if I find something and confirm
Have a good time

[2019-11-20 03:42] sean-mcmanus commented on #4614
I'm OOF till Friday.

@Colengms Can you investigate this -- I'm seeing the forced include file sim_core_CXX_prefix.hxx causing the compiler to generate a fatal error, causing defines to be missing when it queries /usr/bin/g++-9. I think maybe we should not pass forced includes arguments to the compiler when we query it for compiler defaults.

@xgdgsc Are you able to somehow get that "fatal error"

[2019-11-20 03:44] zhangguofu commented on #4627
I restarted my desktop and the issue did come back, last message for C/C++ is **Attempting to get defaults from compiler in "compilerPath" property: '/opt/hisi-linux/x86-arm/arm-himix200-linux/bin/arm-himix200-linux-g++'**

but I cannot find where the database icon is, can you tell me?

[2019-11-20 03:49] sean-mcmanus commented on #4627
I don't see the database icon in your screenshots. It would appear in the bottom status bar on the left of the icons on the right side (same area the flame would appear) and it looks like a cylinder, but if you don't see it, then the database initialization might not be stuck.

[2019-11-20 03:50] zhangguofu commented on #4627
then we may encounter different issues

[2019-11-20 06:06] zhangguofu commented on #4627
I think the issue is narrowed down to this: on windows start, or on restart, the C/C++ extension get stuck at **Attempting to get defaults from compiler in "compilerPath" property: '/opt/hisi-linux/x86-arm/arm-himix200-linux/bin/arm-himix200-linux-g++'**, which cause the outline not showing the right symbols, sometimes it pass this stage and everything then works fine.
what information do you need

[2019-11-20 06:27] zhangguofu commented on #4627
good news!
I have tried this out, the extension gets stuck because the compiler **/opt/hisi-linux/x86-arm/arm-himix200-linux/bin/arm-himix200-linux-g++** is not runnable.
This cross compiler can only run on 32bit environment, but ubuntu18.04 is 64bit. so it is not runnable until service of **binfmt-support** is started, which provide a simulated 32bit environment for this compiler.
After **sudo se

[2019-11-20 06:39] zhangguofu commented on #4627
This issue can be reproduced by setting the compiler to an invalid one, so others could encounter this issue as well.

[2019-11-20 07:02] xgdgsc commented on #4614
Thanks for the tip. The file reported as fatal error exists.  I disabled cotire in CMakeLists and it works.

[2019-11-20 07:48] drldavis commented on #3942
I'm having the same problem when using Windows Subsystem for Linux. Anyone find any solutions?

[2019-11-20 08:42] hensz commented on #4479
Sorry, I don't understand your comment. In the debug log I don't see any "tag parsing" messages, and all paths that are listed are correct.

Perhaps there's something wrong with my workspace configuration. As I said, I sometimes see certain files twice, with both relative and absolute path.

[2019-11-20 10:11] slashrsm commented on #3161
I am facing the same problem. After following the [official debugging docs](https://code.visualstudio.com/docs/cpp/config-clang-mac) I have:

### launch.json

[code]

### tasks.json

[code]

### c_cpp_properties.json

[code]

I did see the access prompt when I launched it and I did approve it. Nonetheless, I am still seeing the same error in the logs:

[code]

It is worth noting that debugging wor

[2019-11-20 10:58] eacheveryhour commented on #2252
Absolutely true for VS Code too. Qt headers, have duplicate header files with no extension:

![image](https://user-images.githubusercontent.com/10809110/69232757-3fc83a80-0bbe-11ea-8575-9c1daf8693d1.png)

This files are not recognized by Intellisense parser, and are ignored. So you will not be able to include Qt headers like `#include <QString>` (it content is `#include "qstring.h"`), only `#inclu

[2019-11-20 17:32] WSUFan opened #4642 "How can I disable the limitation of reading a big compilation database JSON file?"
Hi,
Currently I'm using C/C++ extension to develop a big project. However, when I'm trying to use compilation database for the IntelliSense, the extension reports that only 5000 items of the JSON file can be processed. I believe this is kind of a limitation. So I'm wondering is there a way to disable that?

Thanks

[2019-11-20 18:16] #4547 closed, assigned to michelleangela

[2019-11-20 18:41] pieandcakes commented on #557
@EmbeddedBacon if you are trying to view just a few items as hex for `gdb`, you can add to the watch window as `<variable>,x` where `x` is the hex format and it should give you the value correctly.

Every time a `-var-create` is issued, the name assigned to it is new. When you `step` and a stackwalk is performed, this causes all the variables to be refreshed and in that instance the variable names

[2019-11-20 18:47] pieandcakes commented on #4611
@CodeLife2012 The DebugConsole was designed for you to do variable and expression evaluation. In order to pass a command to the debugger, you need to preface each command with `-exec`. When we see `-exec` we don't do anything except to pass the following string to `lldb-mi`.

[2019-11-20 18:51] #4611 closed, assigned to pieandcakes

[2019-11-20 18:54] g-arjones commented on #2856
You were right.. Just tried again :+1:

[2019-11-20 18:54] g-arjones commented on #2856
Thanks for working on this guys ;)

[2019-11-20 20:06] ssg commented on #1017
We would benefit from this too.

[2019-11-20 22:10] dx-coding opened #4643 "Extension doesn't run if not owned by user"
Type: General

**Describe the bug**
- OS and Version: Redhat Linux 7.5
- VS Code Version: 1.40.0
- C/C++ Extension Version: 0.26.1
- Other extensions you installed:
  - python 2019.10.44104
  - xml 0.9.1
  - yaml 0.5.3
The issue persists after disabling them.
- Description:
  - I'm attempting to install code and the extensions listed above in an automated manner on new VMs. The idea is that a deve

[2019-11-21 06:03] rafaelchen opened #4645 "fail to add ".code-workspace" extension automatically when try to save workspace"
Hi
Here is my vs code information
Version: 1.40.1
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 4.18.0-80.el8.x86_64

I found after I fill out the  file name and save it, it will miss the ".code-workspace". so I can't open the worksapce again if I didn't add the ".code-workspace" to the filename.

![try_to_save_workspace](https://user-images.githubus

[2019-11-21 06:33] rollsch commented on #3418
This is a problem in VS2019 as well. Are the code analysis engines linked?

https://developercommunity.visualstudio.com/content/problem/817870/intellisense-lag-and-huge-number-of-false-red-squi.html

[2019-11-21 06:47] Rajat-S-Patel opened #4646 "Can't stop terminal after entering into infinite loop"
Issue Type: <b>Bug</b>

start an infinite loop and the try to kill the terminal. It will not respond.

Extension version: 0.26.2-insiders
VS Code version: Code 1.40.1 (8795a9889db74563ddd43eb0a897a2384129a619, 2019-11-13T16:49:35.976Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|

[2019-11-21 08:18] #4645 closed, assigned to nobody

[2019-11-21 08:19] rafaelchen commented on #4645
sorry, I post to the wrong project...

[2019-11-21 08:44] PDostalek commented on #4348
Thanks

[2019-11-21 08:44] #4348 closed, assigned to pieandcakes

[2019-11-21 09:15] JoelSantosRico commented on #4597
I opened the project as a single folder and I couldn't replicate it. As I  said the issue doesn't happen 100% of the times, so I don't know if it's that I can't make it happen with a single folder, or that it doesn't happen with a single folder, but I would say that you are right and it seems that only happens in multiroot. It's nice to hear that you are working on it.

Thanks!

[2019-11-21 10:27] h2s0109 opened #4647 "Multi definition problem"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.17134
- VS Code Version:1.40.1 (user setup)
- C/C++ Extension Version: 0.26.2
there is message on my value: identifier "Adc_ValueGroupType" is undefined
![image](https://user-images.githubusercontent.com/21095801/69328934-7d4ac780-0c93-11ea-96df-ea817b529da2.png)

**To Reproduce**

 I declare the type at  "Adc.h"

[2019-11-21 18:53] michelleangela commented on #4647
Have you tried setting the includes and browse path in the [c_cpp_properties.json](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference)?

[2019-11-21 20:37] Colengms commented on #4635
This should be addressed by https://github.com/microsoft/vscode-cpptools/pull/4644 (and a change to the native process, which is not in this repo).

[2019-11-21 20:41] VivaltoTech commented on #429
+1 for cpptools and C language server on Raspberry.
Being able to program and debug C code on a Raspberry (running Linux) from a Windows Notebook using VSCode Remote Extension makes a lot of sense.

[2019-11-21 21:08] Colengms commented on #4643
Hi @dx-coding .  Forgive my limited knowledge of *nix permissions.  Aren't files read-only to users other than the owner, by default?  The C/C++ Extension attempts to rewrite package.json when it's first activated.  It's likely that VS Code or other extensions would encounter similar issues when/if attempting to write to an existing file.

Perhaps you could address this by making all files writabl

[2019-11-21 21:11] Colengms commented on #4646
Hi @Rajat-S-Patel .  Is this issue specific to the C/C++ Extension, or is it a general VS Code issue?  (The GitHub repo for VS Code is [here](https://github.com/microsoft/vscode)).

If specific to the C/C++ Extension, could you provide a bit more information?  How are you causing an infinite loop?

[2019-11-21 21:21] Colengms commented on #4642
Hi @WSUFan .  By 'compilation database JSON file', are you referring to compile_commands.json ?  By default, the C/C++ Extension does not leverage compile_commands.json.  It must be specified in c_cpp_properties.json, like so:

[code]

I don't believe we impose a limit of 5000 items, or report an error indicating how many we were successfully able to process.  Could you post a screenshot or log ou

[2019-11-21 21:27] dx-coding commented on #4643
It depending on how the umask is set, but typically it is locked to the owner for read/write.

By running `sudo chgrp swdev -R /usr/share/code/data/extensions` after the install, it sets the group of all directories and files to `swdev` . Then, running `sudo chmod -R u+rwX,g+rwX,o+rX /usr/share/code/data/extensions` sets the file permissions to be read/writable by anyone in the group.

So, the fil

[2019-11-21 21:31] dx-coding commented on #4643
Setting the files to `rwx` still resulted in a failure.  I'm hoping to try looking through the source files to see if it's checking for ownership instead of if the file is writable.

[2019-11-21 21:35] Colengms commented on #4643
The code is cross platform, so I don't believe we're checking ownership.  However, since we are rewriting package.json, I assume the new copy is written with new permissions based on the user the process is running as at the time.

I will try the repro.

[2019-11-21 21:35] WSUFan commented on #4642
Hi @Colengms. I have configured the c_cpp_properties.json to use compile_commands.json. But when VSCode is processing compile_commands.json, the extension reports there is a 5000 items limitation. Actually it is reported by JSON extension, not C/C++ extension. Here is the screenshot.
![image](https://user-images.githubusercontent.com/26418940/69378688-be2ae800-0c63-11ea-8b76-3ec0078de867.png)

[2019-11-21 21:40] Colengms commented on #4642
Since that error is coming from another extension, I don't believe it's referring to the C/C++ Extension's ability to parse compile_commands.json.  I assume it's referring to language server features of the JSON Extension being limited (in the editor) to 5000 entries.  If you need language server features in JSON files beyond the first 5000 entries, you might inquire in https://github.com/microsof

[2019-11-21 22:17] nunojsa commented on #4462
I'm not sure if it's the same cause but I'm experiencing the same result. So I have a saved workspace which sits on the root directory of my project. So the workspace has only one root folder in my case. Anyways, it's happening with some frequency, that doing a Find all Refs on some symbol just stucks... Restarting the editor makes it work again... It seems, at least, related with this issue. Hope

[2019-11-21 23:34] Colengms commented on #4643
Hi @dx-coding .  When I try to use the latest .gz (as the doc indicates the zip archive must be used on Linux for Portable Mode), I get the following error for any command line that attempts to launch `code` via sudo:

[code]

Are you not seeing the same issue?

[2019-11-22 00:15] boardkeystown commented on #4271
It would be super helpful if there was some way to use  intelliSenseModes for the raspberry pi 2,3,and 4.

[2019-11-22 00:20] boardkeystown commented on #429
I know I can do it without the use of intelliSense and do but it would be so helpful if it worked for the raspberry pi. A lot of people would use it I am sure.

[2019-11-22 00:26] h2s0109 commented on #4647
The below code is my JSON.
Can you guide what should I include?

I haven`t inserted below paths by myself.
I can`t understand why those paths is included.
**C:\Program Files (x86)\Windows Kits\10\Include\10.0.17763.0\um\adc.h
C:\Program Files (x86)\Windows Kits\10\Include\10.0.17763.0\um\qcc\windows\platform_types.h**
My compiler doesn`t belong to gcc and msvc.
I just use the tool editing and code

[2019-11-22 00:43] Colengms opened #4649 "Configuring config provider does not update TU's of open header files"
To repro this with cmake-tools,
1. Configure cmake-tools (...)
2. Open a header file. (Use `C/C++: Log Diagnostics` to see how it's configured)
3. Change CMake kit.
4. Run `CMake: Configure` or `CMake: Delete Cache and Reconfigure`.
5. Wait for cpptools to catch up
6. Use `C/C++: Log Diagnostics` to inspect the TU again.

Seeing: Although it was refreshed, it is not using the correct configuration

[2019-11-22 01:01] dbsxdbsx commented on #3787
@sean-mcmanus ,Hi, I still got  this issue with latest vscode and remote-SSH. Isn't it is fixed according to some posts from you commented in other issues.  Or should we still install vscode in remote machine?

[2019-11-22 03:34] Rajat-S-Patel commented on #4646
This is a general VS code issue. Any infinite loop can't be terminated. Sometimes I can kill terminal but after that VS code do not respond and I have to close it forcefully.
A simple infinite for loop can be use to generate a similar problem

[2019-11-22 09:23] DeadRabbits307 opened #4652 "Remote-SSH: Syntax Highlighting/Coloring Problems"
**Describe the bug**
- OS and Version: remote OS: manjaro (Linux 4.19.80), local OS: Windows 7
- VS Code Version: remote OS: 1.39.2, local OS: 1.40.1
- C/C++ Extension Version: 0.26.1
- remote-SSH: 0.47.2

**To Reproduce**
Syntax Highlighting/Coloring is not working using the remote-SSH extension.

directly using VS Code on the remote-OS:
![remote-os](https://user-images.githubusercontent.com/3386

[2019-11-22 09:26] d0ggie opened #4653 "Platform/Architecture/Compiler agnostic IntelliSense modes"
Hi.

As of #4644 -m32/m64 argument is now being added whenever compiler built-ins are probed.  This change however breaks any GCC that does not actually target x86/x64 or certain other platforms that have those command line options available; E.g. ARM/AArch64 are among those that do not have such options.

It is not possible to ignore any unknown command line options (except for -Wno), so e.g. pas

[2019-11-22 11:48] konradsa commented on #2639
I second this request, very important feature to have IMHO.

[2019-11-22 12:47] windless0530 opened #4654 "Database fails to get created at the default location (or fallback to another location) on some remote Linux machines"
Type: General

**Describe the bug**
- OS and Version: MacOS 10.15.1
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
1. Add the following folders to both 'C_Cpp.default.includePath' in settings.json and 'configurations.includePath' in

[2019-11-22 14:21] mcxiaoke commented on #3326
@Colengms when 0.26.2-insiders installed, memory issue is fixed, but code autocomplete sometimes not working, so I back to 0.26.1

[2019-11-22 15:36] h2s0109 commented on #4647
I found a related issue [#2601](https://github.com/microsoft/vscode-cpptools/issues/2601)
so I have modified the below points
  **"compilerPath": "",**

1. undefined problem solved but still, it shows an unwanted path
C:\Program Files (x86)\Windows Kits\10\Include\10.0.17763.0\um\adc.h

2. when I set **"compilerPath": "C:/Program Files (x86)/TASKING/TriCore v6.2r2/ctc/bin/ctc.exe",**
there is a un

[2019-11-22 16:25] justiceamoh commented on #4654
Same thing happened to me. I think something in the latest release (0.26.2) broke this. I'm also on macOS 10.15.

[2019-11-22 16:57] michelleangela commented on #3326
@mcxiaoke, [0.26.2-insiders2](https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders2) was released yesterday. With that version, could you try If the autocomplete issues still persists. If it does, could you create new issue for it with [logs from the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)?

[2019-11-22 17:00] michelleangela commented on #4646
Hi @Rajat-S-Patel, it sounds like this issue is with the VS Code terminal and not specific to the C/C++ extension. Please file this issue at the [VS Code repository](https://github.com/microsoft/vscode/issues).

[2019-11-22 17:00] #4646 closed, assigned to nobody

[2019-11-22 17:21] michelleangela commented on #4654
@windless0530 and @justiceamoh, can you share [logs from the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)? @justiceamoh, does the issue only repro for you on 0.26.2 and not 0.26.1?

[2019-11-22 18:17] michelleangela commented on #4647
If the `compilerPath` is set, IntelliSense will try to query its related system include paths. But if it is not set, then IntelliSense will use the include paths defined under `includePath`. It looks like the desired header file is under the `${workspaceFolder}` path which is already set to recursively include folders for `includePath`, so IntelliSense should only include the header files from tha

[2019-11-22 18:21] michelleangela commented on #4647
Can you also run the command `C/C++: Reset IntelliSense Database` after changing the configuration?

[2019-11-22 19:17] sean-mcmanus commented on #4652
Yes, it's the same issue as https://github.com/microsoft/vscode-cpptools/issues/3942 .

[2019-11-22 19:17] #4652 closed, assigned to nobody

[2019-11-22 21:08] sean-mcmanus opened #4655 "Remove "-include" arguments when querying gcc/clang"
Originally reported in the thread https://github.com/microsoft/vscode-cpptools/issues/4614 .

Using -include can cause the querying to fail.

[2019-11-22 21:20] torresdale commented on #4527
Turns out the problem is from the materials provided by the instructor.
Thanks for all your help

[2019-11-22 21:20] torresdale commented on #4527
- [ ]

[2019-11-22 21:20] #4527 closed, assigned to nobody

[2019-11-22 21:33] ghost commented on #4632
I'm still seeing some issues with this on 0.26.2-insiders2.  (I think the fix for this went into the 0.26.2-insiders2 release, apologies if I'm mistaken).  Seeing the same sort of issue as before, where the incorrect standard version is being applied for C++ source files, and the C++ standard library header files are not added to the include path.  Here are the Log Diagnostics (I've edited some di

[2019-11-22 21:40] justiceamoh commented on #4654
@michelleangela , find below my logs -- it's very brief.

[code]
And yes, I only see this issue on 0.26.2-insiders2, and not on 0.26.1

[2019-11-22 21:42] sean-mcmanus commented on #4627
@zhangguofu Thanks for providing the repro info. Do you know how we can obtain a compiler like that which is able to repro the bug? Normally a process that is unsupported for querying will fail out instead of getting stuck (i.e. for invalid compilers we've tested on so far it doesn't get stuck). On Windows, we have a timeout, so maybe we could add a timeout for Linux, but it would help if we had a

[2019-11-22 21:54] justiceamoh commented on #4654
And here's a longer log  just after I install 0.26.2-insiders2

[code]

[2019-11-22 22:00] michelleangela commented on #4654
@justiceamoh, the log shows it's failing to query the compiler, so it fails to get the system include paths. In 0.26.2-insiders2, the compiler options -m32 and -m64 were introduced (to fix the issue https://github.com/microsoft/vscode-cpptools/issues/4635). We are currently trying to fix this for compilers that do not have those options (see issue https://github.com/microsoft/vscode-cpptools/issue

[2019-11-22 22:14] blacksky9727 commented on #4527
Yeah. Buti na lang nag response din yung prof.

On Sat, Nov 23, 2019, 5:20 AM torresdale, <notifications@github.com> wrote:

[2019-11-22 22:19] sean-mcmanus commented on #4479
Yeah, if you don't see "tag parsing" then the "Parsing" status message is incorrect.

[2019-11-22 22:31] labrat97 commented on #429
+1
This would be UNBELIEVABLY helpful in my day to day. Also, does the fact that this isn't implemented negatively impact the Surface Pro X with its ARM processor?

[2019-11-22 22:38] sean-mcmanus commented on #3418
@rolandh We share some code with VS, but the IntelliSense lag and stuck squiggles is a general symptom that could have a number of causes that could be different for VS Code.

Do you have a specific repro we could try?

[2019-11-22 23:06] sean-mcmanus commented on #4462
@nunojsa Your issue sounds different -- this issue is only for the bug caused when there are > 1 workspace folder. Does your issue repro with 0.26.2-insiders2? If so, can you file a new bug with more repro info?

[2019-11-22 23:18] sean-mcmanus commented on #3787
@dbsxdbsx I don't believe this is fixed...I'm not sure what issue you're referring to. We have issue https://github.com/microsoft/vscode-cpptools/issues/4121 for correctly handling the clang_format_path setting in the remote scenario.

[2019-11-23 00:01] sean-mcmanus commented on #4632
Yeah, sorry about the confusion -- I still repro the bug.

[2019-11-23 02:08] dx-coding commented on #4643
No, but that's because I'm not running `code` via `sudo`.

We only run it via `/usr/bin/code`

[2019-11-23 02:27] Colengms commented on #4632
Hi @bwarrum-ibm .  It looks like there were multiple issues here.  We have a fix ready to go out in the next release, and have confirmed it against your repro.  :)

[2019-11-23 02:32] Colengms opened #4657 "Compiler probe fails if neither -m64 or -m32 are accepted."
Extracting this from https://github.com/microsoft/vscode-cpptools/issues/4653 , to address the issue of falling back if neither -m64 or -m32 are accepted.  Keeping https://github.com/microsoft/vscode-cpptools/issues/4653 around to track need for a Platform-agnostic IntelliSense mode as a feature requests.

[2019-11-23 02:37] Colengms commented on #4653
Hi @d0ggie .  Thanks for reporting this.  I broke out https://github.com/microsoft/vscode-cpptools/issues/4657 to track the blocking issue when using a version of gcc/clang that does not support -m64 or -m32.  How about we keep this around to track as a Feature Request for adding a platform-agnostic IntelliSense mode?  i.e. `gcc-default` or `gcc-unspecified`

[2019-11-23 03:06] sean-mcmanus commented on #4643
When I do Help->Toggle Developer Tools and view the Console tab, I see the error "Activating extension 'ms-vscode.cpptools' failed: vscode.window.showErrorMessage is not iterable (cannot read property Symbol(Symbol.iterator)).

@dx-coding Is that what you get or am I hitting a different issue?

[2019-11-23 03:39] sean-mcmanus commented on #4643
I think your chmod command needs to use a lower-case X or it won't add the correct permissions. Our extension ships binaries at data/extensions/ms-vscode.cpptools-0.26.1/bin/Microsoft.VSCode.CPP.Extension.linux and Microsoft.VSCode.CPP.IntelliSense.Msvc.linux that we run chmod 755 on during the installation, but if those files are restricted to root access then the chmod will fail.

Can you double

[2019-11-23 04:12] dx-coding commented on #4643
I will double-check on Monday about the permissions.

[2019-11-23 10:29] reservoirinvest commented on #4488
Found that it was happening because of extra unseen characters - Refer: https://github.com/Microsoft/vscode-cpptools/issues/2925#issuecomment-448853709

[2019-11-23 10:35] n3rd4i commented on #3142
not sure if there is update on this, will close because its stalled

[2019-11-23 10:35] #3142 closed, assigned to nobody

[2019-11-23 10:36] n3rd4i commented on #3505
probably deprecated, will close this

[2019-11-23 10:36] #3505 closed, assigned to nobody

[2019-11-23 10:39] yrpang commented on #3829
I've also been troubled by this issue when I struggling in exam review. It really confused me. Really hope it will be fixed soon.

[2019-11-23 13:25] RigoLigoRLC commented on #4631
It's on the picture maybe you didn't see; it's LC2KiCad on my GitHub homepage which is the only C++ Project I own.
Symptoms: simply cannot make IntelliSense work on the elements.hpp. Everything else is in my original post.
It sometimes works and shows the error squiggles, but after you fixing the error it dies again.

Other files still can read that file. If I change the class definitions in the e

[2019-11-23 19:00] ariesdevil commented on #3139
Encounter the same error just now.

[2019-11-24 06:19] mariearianemae commented on #4527
Glad I came across this thread. Thank you, classmates! :)

[2019-11-24 08:06] thekeels commented on #3829
I was having this problem when I upgraded to Catalina. At that time, the solution above of finding the lldb-mi from an older Xcode, copying it to /Applications/Xcode.app/Contents/Developer/usr/bin/ and referencing that location as the "miDebuggerPath" was working.

They might have fixed in in the new version of cpptools? I found that the  ~/.vscode/extensions/ms-vscode.cpptools/debugAdapter/lldb f

[2019-11-24 14:51] h2s0109 commented on #4647
After `C/C++: Reset IntelliSense Database' problem solved. Thanks for your help

[2019-11-24 14:51] #4647 closed, assigned to nobody

[2019-11-24 16:34] nunojsa commented on #4462
I don't think it happened with the latest update. The next time it happens, if it happens, I will fill a new bug for this...

[2019-11-25 01:13] zhangguofu commented on #4627
The easiest way to reproduce this issue is to set the compiler to a none-exist file, like "/usr/bin/g+++", and it could be used to test if your fix works.

[2019-11-25 01:42] zhangguofu commented on #4627
If you want to install arm-himix200-linux-g++ to exactly reproduce what is happening here, it could be possible. This is a hisilicon addjusted cross-compiler for hisilicon processors, for HI3516DV300 exactly, if you have business with Huawei hisilicon, then they should provide this toolchain. Refer http://www.hisilicon.com/ for more information
And I think any other 32bit cross-compilers for ARM c

[2019-11-25 04:06] rollsch commented on #3418
If you can do a screenshare I can show you our solution. It is a huge project that is full of proprietary information though so I cannot share it. Not sure if there is anyway to get you guys to look at that? These problems typically only occur in large solutions.

[2019-11-25 07:34] d0ggie commented on #4653
Sure. While dedicated ARM/AArch64 target would get me covered as well, there are indeed many other embedded platforms (say, e.g. AVR) that would benefit from this.

While many of the chip vendors / licensors provide their own IDE (usually Eclipse based), sometimes it's easier to write the code with an another tool (VSCode in this case) and have a dedicated software for debugging. It might not seem

[2019-11-25 08:01] dbsxdbsx commented on #3787
@sean-mcmanus ,sorry for some wrong info. And at present, I need to install LLVM to format( with clang-format installed) on remote machine, but no need to install vscode there. I think it is ok , but if LLVM is no need to install either, then it would be perfect.

[2019-11-25 09:57] windless0530 commented on #4654
Here is the c/c++ output after I switched the logging level to 'DEBUG':

[cpp.log](https://github.com/microsoft/vscode-cpptools/files/3885946/cpp.log)

In this section, I can not find the include paths that I configured:
![image](https://user-images.githubusercontent.com/4645959/69530458-02dcb900-0fad-11ea-9e15-41c3ccccc46c.png)

[2019-11-25 10:04] theclaw37 commented on #3829
@thekeels doesn't work. The path is ~/.vscode/extensions/ms-vscode.cpptools/debugAdapters/lldb (you forgot the s), but the breakpoints are still not hit

[2019-11-25 10:07] ghost commented on #3829
I tested with a clean install of code and the extension and it appears to work without any extra work. Going to test again tonight and document my steps. Didn’t expect it to work this time so didn’t keep a note of what I did sorry! Will comment again later.

[2019-11-25 12:42] zhusjfaker commented on #3829
![image](https://user-images.githubusercontent.com/31839470/69541337-d7b19400-0fc3-11ea-9b82-2cb3d1b13b26.png)

![image](https://user-images.githubusercontent.com/31839470/69541353-e0a26580-0fc3-11ea-89e2-45d27f7076e8.png)

please install anther extension to use lldb debug c++ app it's work

[2019-11-25 12:42] zhusjfaker commented on #3829
![image](https://user-images.githubusercontent.com/31839470/69541337-d7b19400-0fc3-11ea-9b82-2cb3d1b13b26.png)

![image](https://user-images.githubusercontent.com/31839470/69541353-e0a26580-0fc3-11ea-89e2-45d27f7076e8.png)

please install anther extension to use lldb debug c++ app it's work

[2019-11-25 13:39] dx-coding commented on #4643
@sean-mcmanus Even with all directories and files set to have group read/write/execute the extension still fails with the same message:

Also, I do see the same error message in the Developer Tools console you mentioned previously

[2019-11-25 13:57] billowqiu commented on #3829
CodeLLDB works in macos 10.15.1

[2019-11-25 15:22] dx-coding commented on #4643
I think I've tracked down the issue in [common.ts](https://github.com/microsoft/vscode-cpptools/blob/master/Extension/src/common.ts#L635)

`allowExecution` checks for file existence and if the file exists (and not win32), it always tries to change the file permission:
[code]

I'd suggest adding a check to see if it needs to be done; something like:
[code]

[2019-11-25 15:25] joelspadin-garmin commented on #4243
#833 also looks like the same issue.

[2019-11-25 16:15] maxtomczyk commented on #3829
On my MacOS 10.15.1 CodeLLDB started to work properly only after full macOS reinstall (with full disk wipe). However, clean install didn't make C/C++ extension debug working, as @satysin suggested.

[2019-11-25 16:26] joelspadin-garmin commented on #4243
My issue may be caused by https://github.com/microsoft/MIEngine/blob/80e51dca0712b02910889d167ec356c4d0761279/src/MICore/Debugger.cs#L725. I have a remote target, but that's hidden away inside my custom target command so VS Code won't see it that way. If for some reason it's finding some process as the debuggee (which would be incorrect since the debuggee is running on another machine), it'll try

[2019-11-25 18:53] pieandcakes commented on #4243
[code]

We give that error message when the debuggee is running and the command isn't sent to `gdb`.

[code]

We have https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/Debugger/How%20To%20Debug%20MIEngine.md . Let me know if you need more information.

If you attempt to use `miDebugServerAddress` to connect to the remote `gdbserver` does it do the right thing?

[2019-11-25 18:57] ghost commented on #3829
Okay I followed the instructions at https://code.visualstudio.com/docs/cpp/config-clang-mac and everything appears to work as it should, at least in regards to breakpoints. I didn't test if watches, etc. work properly sorry. Below is a screenshot with it stopped at a breakpoint as expected.

Code version: 1.40.1
ms-vscode.cpptools version: 0.26.2-insiders2

<img width="1051" alt="Screenshot 2019-1

[2019-11-25 19:24] joelspadin-garmin commented on #4243
That's the next thing I plan to try. I'll need to figure out how to replicate what my gdbinit script does with vscode's settings first.

This probably should go on MIEngine's issues page, but it would be nice to have better support for user-defined targets created by gdbinit scripts.

[2019-11-25 21:33] pieandcakes commented on #4243
If you have some suggestions and leave them in that repo, I can take a look when I have time.

[2019-11-25 22:37] sean-mcmanus commented on #4631
The screenshot shows that a crash occurred ("failed to read response"). Are you able to attach a debugger before the process crashes to get a call stack? I'm not reproing the crash using the project on Linux.

Insiders has an issue that can cause the "Can't create IntelliSense client" message to appear for open documents when the extension initializes. Is that what you're seeing or do you still ge

[2019-11-25 23:40] sean-mcmanus commented on #4627
@zhangguofu Thanks a lot -- I was able to repro the hang with linked compiler. It looks like we don't handle the "cannot execute binary file: Exec format error" error case properly.

The bug also repros if the C_Cpp.clang_format_path is set the 32-bit binary.

I wasn't able to repro it on my Linux OS but it did with WSL (looks like my Linux OS can run 32-bit binaries).

[2019-11-25 23:47] joelspadin-garmin commented on #4243
I was looking through the MIEngine code and saw it only used `-target-select remote` and `-target-select core`, but then I remembered that `customLaunchSetupCommands` is a thing and I'm already using it. 🤦

I'll have to do more testing, but I *think* that simply setting `miDebugServerAddress` has fixed most of my issues without me having to manually set up vscode to launch the target. Thanks!

I d

[2019-11-25 23:55] joelspadin-garmin commented on #4243
...almost all of my problems. I can now set breakpoints while the program is running, but pressing the pause button does nothing until I set or stop at a breakpoint. Then it starts working again for the rest of that debugging session.

What function in MIEngine happens when you press the pause button? I can try debugging that sometime later.

[2019-11-26 00:29] sean-mcmanus commented on #4654
@windless0530 With recursive includes (i.e. "**" at the end) it will only send the includes from the compiler or non-recursive includes unless the recursive includes are actually used. If you add a `#include` that is under a recursive included path, then you should see the path added.

The "Timed out waiting for tag parser initialization." is likely to cause failures for you.

Also, to reference C

[2019-11-26 01:00] sean-mcmanus commented on #4270
Also repros with custom config providers.

[2019-11-26 02:16] Colengms commented on #4653
Hi @d0ggie .  FYI, the blocking issue ( #4657 ) should be addressed in 0.26.2-insiders3.

[2019-11-26 02:16] sean-mcmanus commented on #4654
@justiceamoh Can you try 0.26.2-insiders3? The compiler querying issue should be fixed with that.

[2019-11-26 02:17] Colengms commented on #4632
Hi @bwarrum-ibm .  Your repro should be addressed by 0.26.2-insiders3.

[2019-11-26 02:18] Aleishus commented on #3829
have the same problem , only codelldb can work on 10.15.1
I add  `miDebuggerPath` ,but get this error
[code]
and still don't hit the breakpoint after I signed it

[code]
[code]

[2019-11-26 02:38] zhangguofu commented on #4627
great, if I run arm-himix200-linux-g++ without the service of binfmt-support being started,
I also see the error message "cannot execute binary file: Exec format error".

[2019-11-26 03:20] windless0530 commented on #4654
All of the following headers are really included, under the root path of configuration:
''${workspaceFolder}/**"
![image](https://user-images.githubusercontent.com/4645959/69596774-af1ab000-103e-11ea-9d46-6c9af67544bd.png)

And as for this cause, is there anything I can do?

I have run "Reset IntelliSense Database", and restarted my Code, while the error squiggle is still there.

[2019-11-26 03:41] sean-mcmanus commented on #4654
It sounds like the recursive includes feature isn't working for some reason, potentially due to the problems with creating the database. If you change it to "${workspaceFolder}" does it find the headers that are rooted there?

[2019-11-26 03:42] wangbo223 opened #4660 "can't stop at the breakpoint (sorry to reopen)"
Type: Debugger

**Describe the bug**
- OS and Version: macOS Catalina 10.15.1
- VS Code Version: 1.30.1
- C/C++ Extension Version: 0.26.2-insiders3
- Other extensions you installed (and if the issue persists after disabling them): Python 2019.10
- A clear and concise description of what the bug is.

Learning C++ extension on VSCode by following this website: https://code.visualstudio.com/docs/cpp/

[2019-11-26 09:20] beijijiaohu opened #4661 "Completion doesn't work in C files after the "struct" keyword"
int a_var = 1;
if (a_var) {} /* the auto completion is good */
if (!a_var) {} /* the auto completion is not work */

struct m_type {
    int c_var;
};
struct m_type t_var;
int a_var = 1, b_var =2;

int c = a_var + b_var; /* a_var and b_var  are  auto completed */
int c = a_var + t_var.c_var; /* c_var can't auto completed */

[2019-11-26 10:15] omerbguclu opened #4662 "Macro autocomplete from local variable in header"
Hey,

As I say in title, auto completion at macros does not work.
![a](https://user-images.githubusercontent.com/28712312/69620393-5fdc7b80-104e-11ea-917c-8fc7c373237b.png)
![b](https://user-images.githubusercontent.com/28712312/69620396-623ed580-104e-11ea-8165-2a82b55ca752.png)
![c](https://user-images.githubusercontent.com/28712312/69620414-6834b680-104e-11ea-8982-36448889e1d9.png)
![d](https://

[2019-11-26 10:22] windless0530 commented on #4654
Yes. In this way, it can.

However, there are some sub folders under the root of my workspace I need to include, which made recursive configuration quite necessary.

Meanwhile, my project uses [BLADE](https://github.com/chen3feng/blade-build) as building tool. If there is a solution like parsing the BLADE project structure file (the 'BUILD' file) and retrieves the depended source file locations, r

[2019-11-26 10:53] JoelSantosRico commented on #4597
As the issue doesn't happen all the time, it's difficult to say with complete certainty, but I tried on a single folder project, and I couldn't reproduce.

Waiting eagerly for that fix then!

Thanks for your work! Cheers,

[2019-11-26 11:04] windless0530 commented on #4654
BTW, my project is quite large, with 40000+ header files and 10000+ source files.

[2019-11-26 11:16] windless0530 commented on #4654
OK, I managed to search and add a dozen of include paths, without recursive features, one by one to my configuration.

Now the error squiggle disappeared. However, 'Go to definition' can not work still, even if the definition itself is within the SAME source file ...
![image](https://user-images.githubusercontent.com/4645959/69625211-15282700-1081-11ea-82af-b21281026e86.png)

All of the above prob

[2019-11-26 14:00] justiceamoh commented on #4654
@sean-mcmanus , just tried 0.26.2-insiders3 and that solved it for me. thanks!

[2019-11-26 14:49] abinmathewabraham commented on #16
VS Code is great. Would like to have this feature. Still using source insight for this reason.

[2019-11-26 16:03] brevzin opened #4663 "C++ 0.26 fails on remote server"
**Type: LanguageService**
C/C++

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.40.2
- C/C++ Extension Version: 0.26.1.
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

I'm running VSCode on Windows using a remote Linux server. When my extension updated to 0.26.1, every useful C++ aspec

[2019-11-26 16:15] billchenchina opened #4664 "error while loading libtinfo.so.5"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux x64 4.19.0-6-amd64
- VS Code Version: 1.40.1 8795a9889db74563ddd43eb0a897a2384129a619
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
[code]
**To Reproduce**

1. Open a file using `code a.cpp`
2. `Ctrl+Shi

[2019-11-26 16:38] madoodia opened #4665 "Conflict local Header files with Windows kit's header file"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.40.1
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

I have a header file beside my main.cpp named **rend.h**
this **rend.h** is a header file in windows 10 kit named **REND.h**

[2019-11-26 17:59] vcrtech opened #4666 "Navigation arrows"
Issue Type: <b>Feature Request</b>

It would be GREAT if we had navigation arrows after going to implementation details of several functions. Trying to get back to where I came from is such a pain. Since we can't have nice things like Visual Studio on Linux, PLEASE do this!!!!!

Note: I just found the hotkeys for this. Please disregard.

Extension version: 0.26.1
VS Code version: Code 1.40.1 (8795

[2019-11-26 18:01] wangbo223 commented on #3829
Same issue for Catalina reported here
https://github.com/microsoft/vscode-cpptools/issues/4660

[2019-11-26 18:01] #4666 closed, assigned to nobody

[2019-11-26 18:41] pieandcakes commented on #4243
@joelspadin-garmin If you set a breakpoint [here](https://github.com/microsoft/MIEngine/blob/2bb9706607edf0ce839bab4eb131adc8a555b6ec/src/MICore/Debugger.cs#L573), you should be able to step.

[2019-11-26 19:09] sean-mcmanus commented on #4664
This is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/3174 , which has some workarounds described.

[2019-11-26 19:09] #4664 closed, assigned to nobody

[2019-11-26 19:25] sean-mcmanus commented on #4661
Your sample code is not valid C/C++. Our extension's autocomplete may not be have correctly if the code doesn't compile. Can you provide a repro sample that compiles? I wasn't able to repro a bug via modifying the code to make it compile.

[2019-11-26 19:28] sean-mcmanus commented on #4662
This is somewhat "by design" or an oversight in design. VS doesn't auto-invoke completion in the `#define` case because it's likely the user is defining something new, but allows manual invoking of completion, which our extension doesn't implement. So we'll track this as a feature request.

[2019-11-26 19:50] sean-mcmanus commented on #4665
I'm not reproing the issue. I'm seeing "rend.h" and "REND.h" in the completion list and no squiggles.

Can you run the C/C++: Log Diagnostics command and verify the includePath is as expected?

When you do "Go to Def" on the header, you should see both files appear in the results (local and Windows SDK files).

[2019-11-26 20:02] sean-mcmanus commented on #4663
What do you mean exactly by "on Windows using a remote Linux server". Are you using a VS Code remote extension? Is our C/C++ language server process running on Linux or Windows (i.e. is the Microsoft.VSCode.CPP.Extension.linux or .exe process running)?

Have you tried 0.26.2-insiders3, it should be identical to the 0.26.2 we plan to release next week, unless we find any high priority issues that n

[2019-11-26 20:12] sean-mcmanus commented on #4654
@windless0530 Go to Def is most likely failing because your database is not able to get created (potentially the same reason for the recursive includes is failing). The "Timed out waiting for Tag Parser initilization" message I saw earlier could cause that. Can you do a "C/C++: Reset IntelliSense Database" command, or if that doesn't work, set the "browse.databaseFilename" to something like "${wor

[2019-11-26 20:15] sean-mcmanus commented on #4654
@windless0530 Also, https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders3 is our release candidate for 0.26.2 that we plan to release next week (if we don't find any high priority bugs) so you may want to try that. Or if you could use the "Install Another Version" feature and change the extensions.autoUpdate to false to use 0.25.1 that would help us see if it's a regression...

[2019-11-26 20:29] madoodia commented on #4665
Thanks (actually I wanted to ask my question, not as VSCode Issue)
But Squiggles is on elements of the header files like classes or functions that you use in main.cpp

**Log Diagnostics** is a nice feature, I was looking for it, Thanks

btw this is the log for order:
[code]
and don't know why  my local is at the end of the list!?
I think if I can put my local on top it can detect my `rend.h` inste

[2019-11-26 20:33] mmlogin commented on #4660
The same with
* OS and Version: macOS Catalina 10.15.1
* VS Code Version: **1.40.2**
* C/C++ Extension Version: 0.26.2-insiders3

[2019-11-26 20:36] sean-mcmanus commented on #4665
Our IntelliSense engine automatically adds the "current directory" to the top (not shown in the logging) when the `#include ""` is used, i.e. so you wouldn't even need "D:\REND\SRC" in your includePath if files at that location reference each other.

The Go to Def on the "#include" doesn't use IntelliSense path info, so it's expected to show multiple file results and doesn't actually open the file

[2019-11-26 20:38] madoodia commented on #4665
Exactly this is why I wonder that `""` should first look at my local, It is not `<>`

so what should I do?

[2019-11-26 20:51] sean-mcmanus commented on #4665
I'm not able to repro the problem you're describing, but it seems like there could be a problem with our recursive includes feature. If you change the `${workspaceFolder}/**` to `${workspaceFolder}` then you should see the `${workspaceFolder}` appear before the system includePaths.

[2019-11-26 20:52] sean-mcmanus commented on #4665
Also, you may want to try https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders3 (which what we plan to ship next week). Other users have reported it fixed some similar issues.

[2019-11-26 21:02] madoodia commented on #4665
yes it went on top, but GoToDef still shows me multiple files. my local rend.h should be detected automatically , I don't understand.
I think this is a bug in VSCode, I hope it solve in the next release

thanks though

[2019-11-26 21:45] sean-mcmanus commented on #4665
The Go to Def issue is https://github.com/microsoft/vscode-cpptools/issues/2564 .

[2019-11-26 22:03] awarwick commented on #1017
This makes it extremely difficult to verify the result of unit tests (note the scrollbar on the right):

![Image](https://i.imgur.com/Wk6qJzG.png)

Thread exit messages are not helpful in most cases. Can we please get an option to disable them?

[2019-11-26 22:16] sewellge commented on #3829
@satysin I had the same setup on a clean install but didn't work for me.  Upgraded to 1.40.2 just in case, still didn't work.

Workaround of CodeLLDB worked though.

[2019-11-26 22:23] sean-mcmanus opened #4667 "Find All References shows "Not a Reference" when different type aliases are used in the definition and declaration"
[code]
Find All References is not resolving the type alias, causing the type checking to fail (definition and usage aren't references of each other). It seems like we should at least investigate to see if it's a quick fix or not (i.e. we might just be missing a call to resolving the type alias). Otherwise, the unification work might fix this if it involves extensive database look up work.

The wor

[2019-11-26 22:52] pieandcakes commented on #4660
This is already tracked in #3829.

[2019-11-26 22:52] #4660 closed, assigned to nobody

[2019-11-27 01:34] billchenchina commented on #4664
Yeah, I tried linking the libtinfo.so.5 to libtinfo.so.6, and it works.

Why not changing the clang-format to the latest version? Is it for compatibility or something else?

[2019-11-27 01:52] sean-mcmanus commented on #4664
We have another issue tracking that...we may also need to find a way to ship different versions on different Linux OS's (i.e. I think we ship clang-format 6 from Ubuntu 14).

[2019-11-27 02:25] windless0530 commented on #4654
Yes, I updated to Catalina a few days ago, which roughly matches in time.

CLARIFICATION: I remembered that I am Remote SSH ing to some linux machine to develop. So now it seems that there is NOTHING TO DO with Catalina.

[2019-11-27 02:33] windless0530 commented on #4654
Thanks @sean-mcmanus !

After reseting the IntelliSense database path, now it seems that **EVERYTHING WORKS WELL** now, not only the error squiggle, but also the 'Go To Definition', as well as recursive include path, and even "Command + Left Click -> go to the header file" which did not work either.

![image](https://user-images.githubusercontent.com/4645959/69688424-fa959280-1100-11ea-820d-16a19d

[2019-11-27 02:42] sean-mcmanus commented on #4654
@windless0530 Thanks for the info.

@bobbrow @Colengms Could all users on Catalina be unable to use the database at the default location? It seems odd that we wouldn't have gotten more complaints about this. We should probably verify if we can repro this on a Catalina machine.

The other explanation is a dangling process was preventing the database access, but that also means our database fallback

[2019-11-27 02:45] sdebnath commented on #16
Hah, I am on the same boat. Still can't get rid of Source Insight even though its Windows only. On to better news, VSCode announced that they finalized the Call Hierarchy Provider API in the 1.40.2 release notes. They linked to https://github.com/microsoft/vscode/blob/3a5209ec6474137f69078727f7fe255c97fb8795/src/vs/vscode.d.ts#L3983-L4021

[2019-11-27 02:52] sean-mcmanus commented on #4654
@windless0530 FYI, you can also change the C_Cpp.default.browse.databaseFilename in the VS Code user settings.json to have that the database be created locally for all workspaces.

[2019-11-27 03:29] Merg12 commented on #212
Hi @pieandcakes , any chance you can just make a youtube video and screen record how to set up debugging for C++? lol

[2019-11-27 03:34] beijijiaohu commented on #4661
#include <stdio.h>

struct m_type {
    int c_var;
} t_var;

static int a_var = 1;
static int b_var = 0;

void test_add(void)
{
    int d_var = a_var + t_var.c_var;
    printf("a_var and t_var are auto completed, but .c_var is not!\n");
}

void test_if(void)
{
    if (a_var)
        printf("a_var in if is auto completed\n");
    if (!b_var)
        printf("b_var in if (!) is auto completed when I

[2019-11-27 03:37] windless0530 commented on #4654
I am sorry for the misleading, but I just remembered that I am **Remote SSH ing** to some linux machine to develop. So now it seems that there is NOTHING TO DO with Catalina. Maybe it was because of some authentication restriction amends by the administrator.

So for remote working environments, maybe it is a better idea to place the default IntelliSense database path under the workspace folder, f

[2019-11-27 06:10] wgqimut opened #4668 "crash when format C code."
**Type: LanguageService**

**Describe the bug**
- OS and Version: local machine: MacOS 10.15.1 (19B88), remote server manjaro 18.1.3
- VS Code Version: 1.40.2
- C/C++ Extension Version: remote server 0.26.1

When I format document, the crash is occured.
stack trace is:
[code]

[2019-11-27 07:15] Aetherbase opened #4669 "configuring defines doesnt work with makefile projects"
**Type: LanguageService**

**Description**
- OS and Version: Windows 10 Build 19103
- VS Code Version: 1.40.1
- C/C++ Extension Version:0.26.1
- Using defines in configurations doesnt work. Even after reloading workspace, vscode,etc. This creates include errors and many definitions/declaration functions from the extension doesnt work. even if make is successful.

**To Reproduce**

1. Create a simp

[2019-11-27 09:22] junessi commented on #4470
After an observation of two weeks, this issue has not appeared any more.

[2019-11-27 09:22] #4470 closed, assigned to Colengms

[2019-11-27 11:56] tamaslevente commented on #429
+1 for Jetson Nano! Even if the remote ssh variant is doable, the local debugging would be useful.

[2019-11-27 13:23] crazydef commented on #811
From the C++ side of things, if I'm debugging and I step into a file I don't have the source for, I'd prefer to just see disassembly view and continue stepping there.  (Just like in real Visual Studio - with right-click menus to switch between the two - when source is available.)

From the VSCode point of view, I'd like to be able to disable this feature completely whether I'm debugging or not.  I

[2019-11-27 18:31] Ziva1811 opened #4670 "Error in configuring VS code in c++"
When I am debugging its showing **error: helloworld.cpp: No such file or directory**
Here are my files:
**c_cpp_properties.json**
[code]

**tasks.json:**
[code]

**Launch. json**
[code]

[2019-11-27 19:16] sean-mcmanus commented on #4661
The "t_var." issue is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/2184 and https://developercommunity.visualstudio.com/content/problem/407956/cc-intellisense-no-member-list-appears-after-typin.html -- it only has 2 upvotes so if more people could upvote that it would help get it fixed.

It sounds like the b_var issue is fixed with the most recent version of the extension (?)

[2019-11-27 19:28] sean-mcmanus commented on #4668
We haven't seen other reports like this -- do you know what could be special about your setup other than being remote? Does it repro for all files or with certain clang_format formatting settings? Could you attach a debugger to the Microsoft.VSCode.CPP.Extension.linux process before doing the formatting to provide a call stack of the crash?

I assume it crashes with .cpp files too, right?

Are you

[2019-11-27 19:34] Colengms commented on #4669
Hi @Aetherbase .  The C/C++ Extension does not currently have direct support for makefiles.  In step #3, are you referring to adding your defines to c_cpp_properties.json ?  Can you provide the contents of your c_cpp_properties.json?  To fully configure the extension, you will also need to specify compilerPath and includePath in c_cpp_properties.json.

[2019-11-27 20:07] pieandcakes commented on #212
@Merg12 I've asked our Program Manager if that is possible. I haven't heard back yet but I'll let you know.

[2019-11-27 20:46] BillDenton commented on #4418
I've got two windows running with database parsing paused and the parsing priority set to low, but there are still two "C/C++ Extension for Visual Studio Code (32 bit)" running each consuming around 15% of the CPU. I would like 30% back for compiling.

[2019-11-27 22:13] sean-mcmanus commented on #4418
@BillDenton Open files will consume CPU resources for parsing of dependencies even if the background parsing is paused. Does closing all editors and then doing a Reload Window reduce the CPU usage?

[2019-11-27 23:38] pieandcakes commented on #4670
The other option you can do is specify the `cwd` property and point it at `${workspaceFolder}`

[2019-11-27 23:46] sean-mcmanus commented on #4670
I think cwd should be set to the same directory the compiler is in (that's what we do for our built-in build tasks).

[2019-11-28 02:57] wgqimut commented on #4668
when I run `$HOME/.vscode-server/extensions/ms-vscode.cpptools-0.26.1/LLVM/bin/clang-format -h`, I received error message` error while loading shared libraries: libtinfo.so.5: cannot open shared object file: No such file or directory` , cause manjaro default libtinfo version is libinfo.so.6, I install the libtinfo.so.5, problem solved!

[2019-11-28 02:57] #4668 closed, assigned to nobody

[2019-11-28 03:18] Aetherbase commented on #4669
Hi @Colengms . Yes, I am referring to adding defines to c_cpp_properties.json.

Yes. and also I have specified  compilerPath and includePath in c_cpp_properties.json as seen below.
***
{
    "configurations": [
        {
            "name": "mingw32",
            "includePath": [
                "${workspaceFolder}/**"
            ],
            "defines": [
                "_DEBUG",

[2019-11-28 06:32] Aetherbase commented on #4669
I need to define the macro `CONF_LANGUAGE =c` using defines, but it is not working. It works during compilation because i have passed it as an argument using makefile.

[2019-11-28 07:03] beijijiaohu commented on #4661
// yes, the b_var issue is fixed with the most recent version of the extension
// And there are three new issue
// 1  if (!) to complete the struct member
// 2  gnu Initialize style to complete the struct member
// 3  the struct type "m_type" can't be complete, when i want to define a variable

#include <stdio.h>

struct m_type {
    int c_var;
} t_var;

static int a_var = 1;
static int b_var = 0;

[2019-11-28 08:20] Wanye1062271859 commented on #4623
Hi Michelleangela,
Thanks for your reply! This issue has been resolved, this problem is because the settings.json file, I once set the "terminal.integrated.shell.windows": "C:/Windows/System32/wsl.exe" in settings.json file in other workspace, the new created workspace use the setting.json file by default.  This issue are resolved after deleting the setting from setting.json file.

[2019-11-28 09:28] Wanye1062271859 opened #4672 "[Internal] The content under setting "C_Cpp:Intelli Sense Cache Path" is not localized"
Repro steps:
1. Open VSCode
2. Install Chinese (Simplified) Language Pack from View->extension, and configure display language to zh-cn (De, Ja and Fr are OK)
3. Press "Ctrl+," to open the setting UI page
4. Switch to the Extension->C/C++ node
5. Scroll to the bottom of the page
6. Check the content under setting "C_Cpp:Intelli Sense Cache Path"
![image](https://user-images.githubusercontent.com/2

[2019-11-28 09:36] BillDenton commented on #4418
I closed all open editors - no difference. Used developer reload window - no difference. Shutdown VS Code and started again. No editors open. Still using 15% of CPU. Paused parsing and finally the usage went down. Now, I'm not sure what happened yesterday - I'll keep watching it.
It there any way of programmatically stopping the background usage when a task runs. Why is it taking so long to parse

[2019-11-28 10:23] Wanye1062271859 opened #4673 "[Internal] Build error log is not localized"
1. Opening VSCode. according to the toturial " https://code.visualstudio.com/docs/cpp/config-msvc " to create helloworld project
2. Install Chinese (Simplified) Language Pack from View->extension, and configure display language to zh-cn
3. Open helloworld.cpp and add a wrong code line in main function, like "int test="
4. Build the project

**Expected:**
The build log was localized

**Actual:**
Th

[2019-11-28 12:48] hensz commented on #4479
But what shall I do about this now? Something is wrong, but I don't know what, and how to fix this.

[2019-11-28 14:41] ghost opened #4674 "format doesn't work on wsl"
Issue Type: <b>Bug</b>

I used to use Alt+Shift+F to format some c++ code on Windows  Subsystem for Linux(wsl). The format feature worked fine when using on Ubuntu 18.04.
Today I upgrade it to Ubuntu19.10, but  it didn't work any more, with a message "no cpp formatting tool installed"(similar to this). Then I try debian 10.2 now. And it still don't work. Here is the erro output:
Formatting failed:

[2019-11-28 16:51] IdoiaReina opened #4675 "[Linux] Can't get the IntelliSense, autocomplete etc. to work"
Hello everyone,

- OS and Version: Ubuntu 18.04.3 LTS
- VS Code Version: 1.40.2
- C/C++ Extension Version: 0.26.1
- No other extension is installed

Step to reproduce :
- Install VsCode
- Create a new folder, a new file .cpp, write a simple main

No intelliSense is showing.
the C/C++ extensions command (such as C/C++ : Log Diagnostics) are not doing anything / opening anything.

Can someone help m

[2019-11-28 18:43] GoaLitiuM commented on #1017
I don't understand why this has not been implemented yet. The debugging engine is the same used by Visual Studio, so this should be a trivial fix of just exposing the option to VSCode extension.

[2019-11-28 23:50] Ildomar opened #4676 "inno_update.exe"
Issue Type: <b>Bug</b>

Após atualização fica aparecendo uma mensagem com código (0xc000007b).
Não sei com resolver.

Extension version: 0.26.1
VS Code version: Code 1.40.1 (8795a9889db74563ddd43eb0a897a2384129a619, 2019-11-13T16:49:35.976Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A10-7860K Radeon R7, 12 Compute Cores 4C+8G (4

[2019-11-29 06:07] Wanye1062271859 opened #4677 "[Internal] The Quick Fix... link on wrong #include always jumps to the English interface"
1. Install VSCode in a Chinese Simplified machine
2. Open VSCode and install extension "C/C++"
3. Open a folder which contain a cpp file
4. Include a non-existing header file to the cpp file , like #include "TestHeader.h"
5. Hover the cursor on the #include "TestHeader.h"
6. Click "Quick Fix..." on the intellisense tips window
![image](https://user-images.githubusercontent.com/29274719/69846854-55

[2019-11-29 07:25] eacheveryhour commented on #3921
@pieandcakes
Mingw has 3 gdbinit files. Like shown:
![image](https://user-images.githubusercontent.com/10809110/69851180-a7177600-12b3-11ea-850b-ca7575f46214.png)

Two of them is missing `register_libstdcxx_printers (None)` line.
Add a register line to all of them, and thats it.
Now for `gdb info pretty-printing`:
![image](https://user-images.githubusercontent.com/10809110/69851348-0ecdc100-12b4-1

[2019-11-29 07:34] Wanye1062271859 opened #4678 "[Internal] The default keyboard shortcut for "Focus Breadcrumbs" is wrong (Ctrl+Shift+<)"
1. Install VSCode in a Linux machine
2. Use VSCode to open a folder containing a cpp file with some code
3. Press F1 or Ctrl+ Shift+ P to open the Command Palette
4. Search "Focus Breadcrumbs"

**Expected:**
The keyboard should be Ctrl+ Shift+.
![image](https://user-images.githubusercontent.com/29274719/69851887-c4e9d880-12bd-11ea-9a2a-efc16a142f66.png)

**Actual:**
The keyboard is Ctrl+ Shift+ <

[2019-11-29 07:53] Wanye1062271859 opened #4679 "[Internal] An unexpected blue border show on the checkbox of "Browse: limit symbols to Include headers" in C/C++: Edit Configuration(UI) page"
1. Install VSCode in Mac machine
2. Open VSCode, Install C/C++ extension
3. Open Command Palette by pressing keyboard Ctrl+ Shift+ P
4. Search and open "C/C++:Edit Configurations(UI)"
5. Scroll to the bottom of the page
6. Expand the node "Advanced Settings"
7. Scroll to the item "Browse: limit symbols to Include headers"

**Expected:**
The checkbox on the content of the item show as below
![image

[2019-11-29 08:46] btpython commented on #429
+1 for raspberry need support

[2019-11-29 09:21] xgdgsc opened #4680 "rename variable shows references in /tmp that was from previous show git history diff"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
[code]
- C/C++ Extension Version: 0.26.1

**To Reproduce**

1. Go to git log and view some cpp file history diff from previous commit, then some previous versions of cpp file would be generated inside /tmp/
2. try to rename a variable in your workspace using F2

**Expected behavior**
Only variables inside your cur

[2019-11-29 10:30] lbru commented on #2297
Issue still reproducible on 1.40.2. Workaround described in https://github.com/microsoft/vscode-cpptools/issues/2297#issuecomment-484514159 still applies.

[2019-11-29 10:33] sidhuhere commented on #2751
This is a killer feature and I miss this very much coming to VS Code from Source Insight.

[2019-11-29 10:51] sidhuhere commented on #16
Any thoughts when this will be available? I am sticking with SI for this feature and also for fuzzy searching of symbols.

[2019-11-29 11:56] luckzylp opened #4681 "vscode cpptool not working on windows 1909"
I have been using the excellent software vscode. Since upgrading Windows 10 to version 1909, the issue of vscode cpptools-win32 opening the native code keeps prompting   No symbols found in document "xxxx.c"  . Try to disable all plugins and enable again, not work yet. Reinstalling vscode and cpptools-win32 does not fix the problem. I also tried to install windows system(1909), and then installed

[2019-11-29 13:22] phkeese opened #4682 "C_Cpp clangformatter breaks with order of directories in workspace"
Type: General

**Describe the bug**
- OS and Version: Windows 10 Home, WSL Ubuntu 18.04
- VS Code Version: 1.40.2 (User setup)
- C/C++ Extension Version: 0.26.1
- Other extensions: Gitlens
I have a workspace "C" with two folders, "caiman" and "pt1". I have VS Code configured to format on save and paste in the user settings. Both folders are git repositories.
When working on files in "caiman" alone

[2019-11-29 14:48] Aetherbase opened #4683 "Overloading functions inside template shows errors"

[2019-11-29 15:38] KaeLL commented on #407
LMAO 2 weeks away from 3 years since this issue was opened, not counting the fact that you can't have a C/C++ editor without this for any coding other than hello-world level code and still nothing. Amazing.
I'm not blaming the dev's of the cpp extension or anything, just wanted to put it into perspective.

[2019-11-29 16:07] rokups commented on #3038
`std::vector` may sound insignificant but this is a much bigger problem when it comes to `std::string` as visualizer type is defined as `basic_string<*>`.

[2019-11-29 17:18] ghost opened #4684 "How to clear compiler error and use extension error squiggles"
vscode version: 1.40.2 on windows 10
extension: C/C++ IntelliSense, debugging, and code browsing. Version: 0.26.1

Assuming there're some code
`int main()
{
  int a
  return 0;
}
`
And the c++ extension will notify me there's an error that is excepted an semicolon like the picture.

![Annotation 2019-11-30 010910](https://user-images.githubusercontent.com/41794415/69883269-5719cd00-130e-11ea-9bda-

[2019-11-29 17:24] #4683 closed, assigned to nobody

[2019-11-29 22:10] renyhp opened #4685 "[Question] Is it possible to customize the actual shell command used to launch GDB?"
When starting debugging, I would like to execute a shell command, _before_ running GDB, and _in the same shell_ as GDB.
Also, I would like to control the command line arguments passed to GDB.
Is either of these possible?
Thanks in advance.

[2019-11-30 02:52] echoface commented on #3995
same issue here
host: mac os
remote ssh: linux cent os 7.2
compile_commands.json generated by cmake

BTW:
clangd seems work ok

[2019-11-30 03:55] 2403772980ygy commented on #2610
[code]
these works fine for me, but it can't find pinmode() and things like this......

it's important to find the files first, isn't it?

[2019-11-30 10:23] ghost commented on #2610
I had the same problem, i fixed it by adding "C:\\Program Files (x86)\\Arduino\\hardware\\tools\\avr\\**" in includePath but how can i change the default parameter of includePath so i will not have to change it every time i create a project?

[2019-11-30 11:25] dbsxdbsx commented on #664
Just  upVote it, and it woud be better to have it with funcitonality like "changing signature".

[2019-11-30 14:19] croraf commented on #3271
This shouldnt be closed, as the solution is just a workaround

[2019-11-30 21:04] beralves commented on #429
+1 for Raspberry Pi 4 support

[2019-11-30 22:35] akbyrd commented on #407
vscode doesn't work with Windows features (Aero Snap). vscode-cpp doesn't work with vscode features (code folding). _Something_ in the process is fundamentally broken when a company can't keep its own products working together smoothly.

[2019-11-30 23:19] KaeLL commented on #407
The aero snap part you can thank Electron for that. It's also the reason why there's no "its own products working together" thing.

[2019-12-01 15:16] hamidddds opened #4686 "Debugging Error:Unable to open 'raise.c'"
- OS and Version: Ubuntu 18.4
- VS Code Version: Vscode 1.4
- C/C++ Extension Version:0.26

Hello, I have read all the articles about "raise.c" and none of them solved my problem, I just wrote a simple OpenCV code which captures webcam's frames. each time I run my code it frequently shows an error. the error message is:

 launch.json is:
[code]

and tasks.json is:

[code]

So How can I solve this

[2019-12-02 02:45] luckzylp commented on #4681
Now I reinstalled win10 1903, vscode + cpptool still doesn't work. I really don't know where to deal with the problem. Can you help?
vscode version: 1.40.2
cpptool version: 0.26.1

[2019-12-02 06:54] vsjha18 opened #4687 "Pre-indexing the project"
We have a C codebase which is around 9GB in size. It takes a lot of time to create the IPCH database and hence intellisence doesn't work so well for first few hours of the project. Is it possible to index the whole project separately and use the resulting IPCH database for all our work spaces.

We are using "Remote SSH" plugin and the system which we work on are essentially virtual machines but we

[2019-12-02 06:57] xgdgsc commented on #862
I' d like a config to also complete `->` for smart pointers since they are used more often. Don' t know if it is possible when we press backspace on autocompleted `->` it would become `.`

[2019-12-02 18:26] Colengms commented on #4672
This has been addressed by the follow 2 PRs: https://github.com/microsoft/vscode-cpptools/pull/4641 , https://github.com/microsoft/vscode-cpptools/pull/4634

Note that whenever we change an English string the loc process results in that English string being set for all languages until the Loc team (re)localizes the string.  The turn-around time is usually 1 week.

[2019-12-02 18:34] Colengms commented on #4673
The C/C++ Extension provides language services and debug support, but does not provide a build system or a compiler.  The error messages in the screenshot are coming from cl.exe, which part of Visual Studio, also installed on the system.  Changing the language of errors output by cl.exe would be specific to Visual Studio.  (I believe this can be changed by setting the VSLANG environment variable).

[2019-12-02 18:34] #4673 closed, assigned to nobody

[2019-12-02 18:45] Colengms commented on #4681
Hi @jay-zhou-yan .  Could you add a screenshot of the error?  I'm not able to find where in our code we output "No symbols found in document".  Are you sure this isn't coming from a different extension?

[2019-12-02 18:55] Colengms commented on #4675
Hi @IdoiaReina .  Could you try adding the following to your settings `"C_Cpp.loggingLevel": "Debug",`.  (Use `Preferences: Open Settings (JSON)` to open settings).

That should output diagnostic information to the C/C++ channel.  Could you include that info here?

[2019-12-02 18:57] michelleangela commented on #4623
Closing as resolved.

[2019-12-02 18:57] #4623 closed, assigned to nobody

[2019-12-02 19:13] IdoiaReina commented on #4675
Thank you for your answer !
Here is the log :

[code]

[2019-12-02 19:23] Colengms commented on #4684
Hi EizabethZeta .  What you are seeing is the result of a 'problem matcher'.  VS Code has one built in for MSVC (cl.exe).  The cpptools extension provides one for gcc.

How are you triggering the build in VS Code?  If you are using the CMake-tools extension, it looks like issueing `CMake: Clean` will clear compiler-generated problems.

It looks like there is an issue open against VS Code [here](ht

[2019-12-02 19:32] Colengms commented on #4678
Hi @Wanye1062271859 .  `Ctrl + Shift + .` is working for me.

Are you using a non-US keyboard?  Perhaps there Is an issue with VS Code not displaying the correct character mapping when shifted characters are not where expected?  (On my keyboard, "." and ">" are the same key).

The "Focus Breadcrumbs" command, and the display of shortcuts in the palette menu, are not specific to the C/C++ Extension

[2019-12-02 19:35] michelleangela commented on #4679
The blue border indicates that the input object is the currently selected one when it is selected via tabbing.

On Windows, the selection is an orange border
![image](https://user-images.githubusercontent.com/38734287/69988964-83dd0880-14f7-11ea-9865-ec6c4e95d343.png)

[2019-12-02 19:35] #4679 closed, assigned to nobody

[2019-12-02 20:19] Colengms commented on #4675
It looks like there is an issue trying to probe the compile at /home/idoia/bin/cpp .  (I assume there is not more information output after a long delay?)

What type of compiler is at /home/idoia/bin/cpp ?  If that is not actually a compiler, perhaps this path was added to c_cpp_properties.json and is incorrect?

[2019-12-02 20:28] sean-mcmanus commented on #4687
The short answer is "it's not currently possible" because the database stores paths to files on the local machine. If the files were located on a shared machine with a shared database, then maybe that would work, but I don't think we support remote URIs yet. Maybe if all users shared the same path location, e.g. "/usr/src/project" or "C:/MyProject" then maybe the database could be copied/shared.

[2019-12-02 20:29] IdoiaReina commented on #4675
Ooh thank you for pointing that out !
"cpp" was just a little script that has nothing to do with any of this. I renamed it and now the extension works. Thank you ! :)

[2019-12-02 20:29] #4675 closed, assigned to nobody

[2019-12-02 20:32] sean-mcmanus commented on #4682
I'm in the middle of re-implementing our multi-root support, which should fix this...ETA isn't known yet, hopefully January.

[2019-12-02 20:34] sean-mcmanus commented on #4676
What did you update? Does your update issue occur when you uninstall our C/C++ extension, i.e. is this a VS Code issue?

[2019-12-02 20:41] sean-mcmanus commented on #4677
We currently just use "https://aka.ms/vcpkg" -- looks like the fix would be to either generate a new aka link for every language or just use the target URI with the language part inserted.

[2019-12-02 21:20] sean-mcmanus commented on #3874
@bobbrow @michelleangela @Colengms VS Code fixed their issue but we're still failing to install remotely (I tried WSL) with error "Failed to find VS Code script".

[2019-12-02 22:21] sean-mcmanus commented on #4669
The spaces around the "=" are not valid. Not sure if that is "by design" or something we should fix. Does it work for you after removing the spaces around the "="?

[2019-12-03 00:11] sean-mcmanus commented on #4418
@BillDenton You can set the "C_Cpp.loggingLevel" to "Debug" to see output in regards to what files are being tag parsed to see why it's taking so long, so if you see files getting parsed that shouldn't be, then the folders could get added to the files.exclude. There is no programmatic way to "Pause Parsing". Other users in the past have requested some setting where it would not do any background p

[2019-12-03 00:59] #1560 closed, assigned to nobody

[2019-12-03 01:00] #2460 closed, assigned to nobody

[2019-12-03 01:00] #2528 closed, assigned to nobody

[2019-12-03 01:00] #2856 closed, assigned to Colengms

[2019-12-03 01:00] #3347 closed, assigned to nobody

[2019-12-03 01:00] #3980 closed, assigned to Colengms

[2019-12-03 01:00] #4119 closed, assigned to Colengms

[2019-12-03 01:00] #4320 closed, assigned to Colengms

[2019-12-03 01:00] #4409 closed, assigned to nobody

[2019-12-03 01:00] #4504 closed, assigned to nobody

[2019-12-03 01:00] #4510 closed, assigned to nobody

[2019-12-03 01:00] #4526 closed, assigned to Colengms

[2019-12-03 01:00] #4536 closed, assigned to nobody

[2019-12-03 01:00] #4586 closed, assigned to Colengms

[2019-12-03 01:00] #4632 closed, assigned to Colengms

[2019-12-03 01:00] #4635 closed, assigned to Colengms

[2019-12-03 01:00] #4657 closed, assigned to Colengms

[2019-12-03 01:00] #4672 closed, assigned to nobody

[2019-12-03 01:02] #4615 closed, assigned to Colengms

[2019-12-03 01:03] #4630 closed, assigned to nobody

[2019-12-03 01:03] #4026 closed, assigned to Colengms

[2019-12-03 01:56] sean-mcmanus commented on #4479
So the bug is that the outline/breadcrumb performance is too slow compared to the previous Navigate when using a large workspace/database, right? We could investigate improving the performance -- we added code that handled a hierarchy of symbols so it's possible it's doing more database accesses or something.

[2019-12-03 01:58] sean-mcmanus commented on #4674
We're tracking this issue with https://github.com/microsoft/vscode-cpptools/issues/3174 , which has some workarounds described.

[2019-12-03 01:58] #4674 closed, assigned to nobody

[2019-12-03 02:11] sean-mcmanus commented on #4680
Any open C/C++ files get added to our database ("by design"), but when you do a Reload Window, it should remove those "/tmp" files. You could add the "/tmp" directory to your files.exclude setting that should fix the issue. Is there a better solution you think we should implement?

[2019-12-03 02:13] sean-mcmanus commented on #4680
Maybe we could check the C_Cpp.workspaceSymbols setting for the "Just My Code" value and make Find All Refs (Rename) check that to filter out non-workspace files (or add some new setting for that).

[2019-12-03 02:17] sean-mcmanus commented on #4680
https://github.com/microsoft/vscode-cpptools/issues/4102 also sounds like it would cover this issue with the "workspace files" scope.

[2019-12-03 02:26] enelson1001 opened #4791 "Attempting to get defaults from compiler in "compilerPath" property Failing"
### Brief Issue Summary
Attempting to get defaults from compiler in "compilerPath" property is failing and in doing so I think this is causing include errors detected. - namely canot open source file _ansi.h.

### Expected:
Should not be getting re squiggly lines.  Previous version did not have this problem

1. Push button
2. Thing happens

### Apparent Behavior:

1. Push button
2. Nothing happens

[2019-12-03 02:34] sean-mcmanus commented on #2751
I don't think VS implements this either. I actually implemented this 8 months ago in response to https://github.com/microsoft/vscode-cpptools/issues/3416 (well, that was for completion instead of symbol search, but the code chang would be similar) , but after consulting the VS team I discovered that the addition of "*" wild cards to add the fuzziness was expected to have a major performance hit (f

[2019-12-03 02:48] sean-mcmanus commented on #16
@sidhuhere Hopefully some time next year (not "early" next year).

[2019-12-03 02:59] sean-mcmanus commented on #407
@KaeLL Yeah, this is currently the 8th top voted feature so hopefully we'll get it implemented some time next year. Last year we implemented Find All Refs and Rename which were the top issues, as well as localization, semantic colorization, doc comments, config UI, hierarchical outline/breadcrumbs, etc., with current work being done on improved multi-root support, a Makefile config provider (with

[2019-12-03 03:01] intijk commented on #407
Hi @sean-mcmanus , could you let me know where to see this rank?

[2019-12-03 03:02] sean-mcmanus commented on #3995
@HuanGong Can you provide more repro details? Preferably in a separate bug? "IntelliSense not working with compile_commands.json" is a general symptom which could have many different causes.

[2019-12-03 03:09] sean-mcmanus commented on #2610
@rec0gn1ze You could set the C_Cpp.default.includePath setting and then new projects will pick that that by default, or if new project need additional includes you can pull the default in via using "${default}" in your includePath.

[2019-12-03 03:12] sean-mcmanus commented on #3271
@croraf It's okay if this is closed because it's a duplicate issue that we're tracking already with https://github.com/microsoft/vscode-cpptools/issues/3174 .

[2019-12-03 03:27] sean-mcmanus commented on #4661
I believe new issue 1 has the same root cause as the completion after the operator +.

New issue 2 is being tracked by https://github.com/microsoft/vscode-cpptools/issues/4610 .

Issue 3 is a new issue so we can use this issue to track that. The cause is that we're treating the text that comes after "struct" as being a new identifier so we're canceling autocomplete, but maybe we could enable compl

[2019-12-03 03:32] sean-mcmanus commented on #407
@intijk https://github.com/Microsoft/vscode-cpptools/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc . I excluded the "debugger" features in the counting.

[2019-12-03 04:20] LeuisKen opened #4691 "[Feature Request] Config the env that start the language server."
Type: General

On my local environment, language server crash because I set the `LD_LIBRARY_PATH` env variable. To start the language server, I have to set `LD_LIBRARY_PATH` to be empty, but it may cause other problems. And now we can not set language server process env because to code here: https://github.com/microsoft/vscode-cpptools/blob/master/Extension/src/LanguageServer/client.ts#L866

Could

[2019-12-03 06:01] Gargony commented on #3270
0.26.2 again have a problems with memory leaks

[2019-12-03 08:03] MxDany opened #4692 "C Source 'Go To Definition' error in Remote-SSH mode"
Issue Type: <b>Bug</b>
when i open a C Source Project in linux server, and this project has a Symbol Link path.
![222](https://user-images.githubusercontent.com/20413031/70030791-e7912f80-15e4-11ea-95bd-3e41d935dbb5.png)
1. first, i open this project in VSC Remote-SSH mode, and it recognized as a symbolic link path“/workteam/xxxxxx/data/work/V1.27.0/src/net/rest/netdisk_bd_v2”
2. open a C file, an

[2019-12-03 08:05] Flamefire commented on #664
Very related: Move implementation to source file (possibly creating it) which not only generates the signature but also moves the implementation from header to source.

[2019-12-03 09:24] Wanye1062271859 commented on #4678
Hi Colengms,
You seem to have misunderstood my question,

1. The "." and ">" are also the same key in my keyboard.
2. This shortcut show as "Ctrl+Shift+**<**" but not "Ctrl+Shift+**>**"  on the Linux machine.
3. The shortcut display normally and can work properly on windows and mac machine.

So this may just be a display issue on Linux machine.

[2019-12-03 09:47] Wanye1062271859 commented on #4624
Hi pieandcakes,
Thanks for your reply. This issue has been resolved. But the cwd path does not point to a file is not the cause of the error.  I tried change the value of the cwd to "C:\\Windows\System32\projects\helloworld\helloworld.cpp", this issue still reproduce.

The real reason is because my workspace was set to C:\Windows\System32\...., There seem to be some permissions access issues here.

[2019-12-03 10:20] tschoonj opened #4693 "Configuration detection wrong"
**Type: LanguageService**

**Describe the bug**
- OS and Version: RHEL 7.7
- VS Code Version: 1.40.2
- C/C++ Extension Version: 0.26.2
- Other extensions you installed (and if the issue persists after disabling them):
  - autoconf 0.1.0
  - Docker 0.9.0
  - Modern Fortran 2.1.1
  - OpenCL 0.6.1
  - Singularity 0.4.0
  - Vim 1.11.3
  Disabling these plugins does not fix the issue
- A clear and conc

[2019-12-03 10:40] Shapeno commented on #542
I notice that if i use @brief in the comment block then it show the comment behind it. I think thats a good Function. But it dosent work in .cpp files. I dont kown if there is an option I didnt notice. Will it add more customized options?

[2019-12-03 11:33] hensz commented on #4479
I'm not entirely sure if the root cause is really "only" a performance issue due to the size of the workspace. Since some time I also have issues with IntelliSense in general, so perhaps there's something else broken on my system that impacts the performance. But how can I found out what this is?

[2019-12-03 12:40] luckzylp commented on #4681
Thanks for your reply.After repeated attempts, using the insider version works fine on my work computer. It should be vscode 1.40.2 not working on my computer. Currently working environment: win10 (1903) + vscode insider (1.41.0) + cpptool (0.26.2-insiders3). I don't want to continue tangling this issue for the time being, and if there are still issues with subsequent stable versions, I will conti

[2019-12-03 12:40] #4681 closed, assigned to nobody

[2019-12-03 13:11] vsjha18 commented on #4687
At my organisation, though everyone has his own linux instance but all of them download the codebase under the same path since that's the only path which can store such a big code base and store the built images. Will pre-indexing not help in such scenarios? I hope you are storing file path as a "key" in the database and I also hope that file path is relative to the workspace root. If you could te

[2019-12-03 16:20] ZhUyU1997 opened #4695 "Please support RISC-V debug."
As we know, RISC-V is popular. But when I try to config to debug RISC-V programs using gdb, I found that the key named "targetArchitecture" doesn't support RISC-V  in "launch.json" file.

[2019-12-03 16:26] w0utert commented on #4429
I have the same problem. Our build system is set up to create a workspace where the source files I'm editing are in a folder hierarchy that is actually symlinked to some other in-tree folder hierarchy containing a git checkout for each of the main components of the build. We do this so we can put every component in its own git repo, for various reasons that don't really matter here.

Now, when I'm

[2019-12-03 16:59] BillDenton commented on #4418
@sean-mcmanus What should I look for in the log?
Whilst running the build I can see quite a few:
cpptools/fileDeleted
cpptools/fileChanged
cpptools/fileChanged
cpptools/fileCreated
cpptools/fileDeleted
cpptools/fileCreated
cpptools/fileDeleted
cpptools/fileCreated
cpptools/fileCreated
cpptools/fileCreated
cpptools/fileCreated
cpptools/fileCreated
cpptools/fileDeleted
cpptools/fileDeleted
cpptools/

[2019-12-03 18:08] Colengms commented on #4693
Hi @tschoonj .  The C/C++ Extension does not auto-detect the appropriate configuration to use.  You need to select a configuration either by clicking on the configuration at the bottom of the VS Code window (while a C/C++ file is in focus), or using the `C/C++: Select a Configuration...` command.

[2019-12-03 18:26] Colengms commented on #4678
I opened an issue for this against VS Code, here: https://github.com/microsoft/vscode/issues/86133

[2019-12-03 18:34] pieandcakes commented on #4624
@Wanye1062271859 So what you are saying is that your `projects` folder is in  `c:\windows\system32` but you don't have permissions?

[2019-12-03 18:35] pieandcakes commented on #4695
@ZhUyU1997 If you don't specify `targetArchitecture` then it will default to what `gdb` you are using.

Can you try and see if that works? Alternatively, let me know what the actual architecture value to pass to `gdb` is.

You can also use the `setupCommands` block inside your `launch.json` to specify the [`set architecture`](https://sourceware.org/gdb/onlinedocs/gdb/Targets.html) command.

[2019-12-03 18:41] pieandcakes commented on #4686
The debugger is stopping inside a library function that exists in the file `raise.c`. This is not your code so it gives you the error because it can't find the file. You can ignore that and change the stack frame you want to look at in the `Stacks` debug pane.

[2019-12-03 18:41] #4686 closed, assigned to pieandcakes

[2019-12-03 18:44] pieandcakes commented on #4685
@renyhp you can add additional command line arguments by using `miDebuggerArgs` in your `launch.json`. Alternatively if you want to specify other commands before the debugger is launched, I would suggest looking at creating a shell script that passes on all the parameters that it is called with to `gdb`. this way you can call whatever other items you want prior to `gdb` launching and add additiona

[2019-12-03 18:44] #4685 closed, assigned to pieandcakes

[2019-12-03 19:16] Colengms commented on #3985
I believe this has been addressed by: https://github.com/microsoft/vscode-cpptools/pull/4671  (Moreso a corresponding change in the native process).  This issue is that when a file is already opened at launch, and we create a TU for it before the config provider is registered, we fail to update that TU when the provider becomes available.  We were also failing to reconfigured TU properly after a c

[2019-12-04 01:33] Colengms opened #4696 "Custom configuration may not be applied to header on launch, or if racing with TU creation"
I can repro this by launching VS Code with a header file already open, and using cmake-tools as a custom config provider, and with no additional configuration information in that config in c_cpp_properties.json except for `name` and `configurationProvider`.  (So, no paths, no defines).

The symptom is that the header file gets a header-only TU, with no custom config applied.

The chain of events i

[2019-12-04 01:56] davidnr commented on #2533
Objc support would be great ! +1

[2019-12-04 02:16] acestronautical opened #4697 "Formatter reorders includes resulting in broken code"
Formatter reorders includes alphabetically which is a non-stylistic change. This broke my code several times before I realized it was happening.

[2019-12-04 05:04] Omnomios opened #4698 "Incorrect GDB breakpoints on ambiguous filenames while debugging"
I have two files with the same name in different namespaces and folders.
`src/first/Section.cpp`
`src/second/Section.cpp`

If I set a breakpoint in VScode at `src/second/Section.cpp` on line 66, the program will pause on the same line in `src/first/Section.cpp`. The wrong file.

I think when the breakpoints are being set in GDB only the filename is being used. Paths should be used when setting the

[2019-12-04 08:20] tschoonj commented on #4693
Thank you for the hint: this works indeed.

I am surprised that there is no auto-detection going on, since the [documentation](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference#_configuration-properties) appears to say otherwise:

[2019-12-04 08:33] tjx666 commented on #4381
similar error message...
![Snipaste_2019-12-04_16-32-43](https://user-images.githubusercontent.com/41773861/70126327-c4818100-16b3-11ea-8c12-1cf0dd5c8b27.png)

[2019-12-04 12:17] larshb commented on #3213
Version 1.40.2

![image](https://user-images.githubusercontent.com/8710787/70141907-524f7300-1698-11ea-9012-98d5e3e1b047.png)

[2019-12-04 12:56] tooyangtoonaive opened #4699 "Problemmatcher not work over ssh"
Type: General
problemmatcher not work

**Describe the bug**
- OS and Version:win7 x64
- VS Code Version:1.40.2
- C/C++ Extension Version:0.26.2
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Run task to build, problemmatcher not work when build error
**To Reproduce**
*Please include code sample and `task.jso

[2019-12-04 12:59] tooyangtoonaive commented on #4699
plink.exe is a tool that can connect to ssh server and do something in batch. It include in putty software

[2019-12-04 13:32] keipei25 commented on #4527
hello guys~ are you able to run the hello world program now?

I tried to copy the code of launch.json that is shown above but i failed again. bagsak n tlg haha

[2019-12-04 13:35] keipei25 commented on #4527
kung sino man may mabuting puso. iiscreenrecord nyo nmn panu i run c hello world, from settting up the environment hggng debugging ^^ maybe i missed something, or my device is not really compatible with this. i don't know. pretty please~

[2019-12-04 13:39] blacksky9727 commented on #4527
Oo. Hingiin mo kay prof yung bagong code.

On Wed, Dec 4, 2019, 9:32 PM keipei25, <notifications@github.com> wrote:

[2019-12-04 13:45] keipei25 commented on #4527
could you send it to me sa email? hnd kz sya responsive

[2019-12-04 13:47] keipei25 commented on #4527
https://drive.google.com/file/d/1pQ0IbG-YUHIBS3ic78VH81_DGxJSrzHH/view

i was advised to download the rar file from this

hnd ba to un?

[2019-12-04 14:00] blacksky9727 commented on #4527
Oo. Yan yun. E extract mo yung file. Download mo sya then open mo yung file
using a WinRar or WinZip ata.. Winrar ginamit ko para ma extract yun.

On Wed, Dec 4, 2019, 9:47 PM keipei25, <notifications@github.com> wrote:

[2019-12-04 14:02] blacksky9727 commented on #4527
Naging responsive naman yung prof. Yun nga lang matagal. Mga nakaraang
araw, responsive sya.

On Wed, Dec 4, 2019, 9:45 PM keipei25, <notifications@github.com> wrote:

[2019-12-04 14:04] keipei25 commented on #4527
ni dl q to and extract sa winzip app. still not working. try ko ult tomorrow. bale etong subject na lng aq d makapagproceed dhl dto. since nakapagfinal na aq s 3 subjects. eto na hinaharap q. hayy hirap pg d actual na tinuturo. hehe

[2019-12-04 14:07] keipei25 commented on #4527
<img width="489" alt="캡처" src="https://user-images.githubusercontent.com/55885307/70149087-c286e480-16ea-11ea-9dd5-a65147f35340.PNG">
 eto lng bale problema q

[2019-12-04 14:07] blacksky9727 commented on #4527
Actually, ito na rin yung last subject ko. Katatapos ko lang nung isa. Same
prof din. Pero di ko pa rin matapos kasi walang kuryente dito. Badtrip yung
bagyo eh. 2 lesson na lang tapos na then final exam. Tapos ko na rin kasi
yung 3 machine problem.

On Wed, Dec 4, 2019, 10:04 PM keipei25, <notifications@github.com> wrote:

[2019-12-04 14:12] blacksky9727 commented on #4527
Ganyan din yun akin. Sa code ata yung may problema. Kaso minsan hindi sya
nag de debug. Like yung sakin, dapat C++ Launch nakasulat para madebug yung
code kaso C+ lang nakalagay. Kaya puro Hello World lang ang lumalabas.
Kahit iba naman yung codes na nakalagay. Yun yung naging problem ko sa last
machine problem. Naka install din naman kasi yung C/C++ extension.

On Wed, Dec 4, 2019, 10:07 PM keipe

[2019-12-04 14:19] keipei25 commented on #4527
pre pwd mo ba send sa email ko ung project folder mo. try q i run sa akin. ok lng b? pra malaman ko ung prob sa code. hnd tlg aq magaling sa ganto. sorry

[2019-12-04 14:24] blacksky9727 commented on #4527
Same lang din naman tayo. Bagohan din naman. Wala talaga akong alam sa mga
ganto eh. Pwede ko naman e send sayo. Ang problema lang is nasa laptop ko
pa yung file. Walang kuryente dito sa lugar namin dahil sa bagyong tisoy.
Tsaka mukhang matatagalan pa bago magkakuryente dito. Dahil maraming poste
ng kuryente ang natumaba at naputol. Tsaka sira rin yung battery ng laptop
ko. Di sya gumagana kung hi

[2019-12-04 15:59] Mossop commented on #3985
Great, this sounds like it may have fixed some other oddities I was seeing. When might this release be available for testing?

[2019-12-04 16:42] eoitaven opened #4701 "Don't create launch.json in Visual CODE program with python"
I am developing a program in python. But when I want to debug it, it doesn't let me create the launch.json.

The program gives the error that I indicated:

![image](https://user-images.githubusercontent.com/15674398/70161900-167ad480-16bd-11ea-9199-80c2179f9a31.png)

ERR timeout after 500 ms: Error: timeout after 500 ms
    at t.RawDebugSession.handleErrorResponse (file:///C:/Users/emmaoc/AppData/

[2019-12-04 16:57] ltWolfik opened #4702 "Can not avoid incompatible-pointer-types IntelliSense triggering"
I have type, defined like this:
[code]
And function:
[code]
Everywhere *prefix_same* is called, IntelliSense triggers for arguments error:

From console the project is built without problems (with autotools).

I tried to add the following to *c_cpp_properties.json*:
[code]
But, IntelliSense still triggers the error.

Is it possible to avoid triggering this error?

It's used cross-compiler for arm:

[2019-12-04 17:16] LuisAyuso opened #4703 "[CMake] Not possible to debug since update 0.26.2"
### Brief Issue Summary

The Extension Debug button in the bottom bar prompts error, normal debug tab on the left prompts same error:

ConvertToDto unexpected type

Extension Target selection works as usual.

### Expected:

1. Open CMake Project
2. Select Target to debug (bottom bar)
3. Click Debug
4. Debugger session starts

### Apparent Behavior:

1. Open CMake Project
2. Select Target to debug

[2019-12-04 18:06] laukikd commented on #1994
So after 6 Months.....
Is there a way to do something like "forceCaseSensitivitySettings": "CaseSensitive"?
If not how can we use linux based mounts (NFS) in windows?
I just need something for whole workspace or entire work folder
Whenever I do go to definition, it opens a 2nd tab in ALL CAPS
If this feature is not available, is this issues in a list of priorities? Where is that list?
In any case

[2019-12-04 18:30] Colengms commented on #4702
Hi @ltWolfik .  Can you provide a complete code example that repro's the issue?  I tried the following, and did not get any squiggles:

[code]

Based on the error, it sounds like you are trying to pass a `struct prefix *` as a prefixconstptr argument.  If so, the error would seem to be correct.  If I add the following code:

[code]

With gcc (7), I get the following error:

`error: could not conve

[2019-12-04 18:32] Colengms commented on #4699
Hi @tooyangtoonaive .  This doesn't appear to be specific to the C/C++ Extension.  I'd suggest opening this against VS Code [here](https://github.com/microsoft/vscode/issues).

[2019-12-04 18:37] Colengms commented on #4693
Hi @tschoonj .  I stand corrected.  I did not know this feature existed.  :)  We'll take a look.

[2019-12-04 18:39] Colengms commented on #4701
Hi @eoitaven .  This repo is for the C/C++ Extension for VS Code.  I'd suggest reporting this in [the vscode-python repo](https://github.com/microsoft/vscode-python/issues).

[2019-12-04 20:50] GustavoOS commented on #1162
Now that Visual Studio has Refactoring abilities for other languages, any chances to bring it to C++?

[2019-12-04 21:43] kisielk commented on #2635
I'm having trouble getting the switch to work at all, even with filenames like `{Src,Inc}/module.{cpp,h}`

[2019-12-05 02:12] #4699 closed, assigned to nobody

[2019-12-05 03:08] mygoodboy opened #4704 "download fail in vscode"
Type: General

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include code sample and `task.json` files.*
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4

[2019-12-05 03:17] mygoodboy commented on #4704
C/C++ Extension: 正在下載 1/3: C/C++ language components (Windows)
1. another version is still fail (in 25.1 24.1)
2. tried to delete .vscode\extensions\ms-vscode.cpptools-* and reinstall ,it's still so
[vscode and ms-vscode.cpptools version](https://imgur.com/nn5B0FE)

[2019-12-05 06:15] Victsz commented on #3731
@sean-mcmanus
I have several issues,
 After CMake tools previous update, the cpp-tools configurationProvider seems not working, cannot jump to definition.

I had to add headers in to  Current Configuration {includePath} as shown below, now it can jump to definition but cannot find reference.  The weird thing is it can jump to definition from the same expression that cannot find reference.

![image

[2019-12-05 06:23] mygoodboy commented on #4704
only ms-vscode.cpptools error in ms-vscode extension
but reback 0.12.4 version is working

[2019-12-05 07:07] willvousden commented on #4508
Just to confirm, I've had the same symptoms for a week or so – _go to definition_, _find all references_, etc. didn't work, even though hovering the mouse over a symbol correctly showed its declared type.

The cause was the same: lots of old processes (just sleeping, not true zombies).  Killing them all and restarting VSCode fixed the problem, but this was not an obvious fix!

[code]

[2019-12-05 07:16] asynchronoust commented on #664
this feature will be very useful

but, when this feature will be implemented?

[2019-12-05 08:19] #4704 closed, assigned to nobody

[2019-12-05 10:08] AlexandreBossard commented on #1915
Any update on this?

 I have a c++ project which uses conan, cmake and ninja. When configured and built from a subdirectory, for example `${workspaceFolder}/build`, all the path given by `gcc` are of the form '../path/to/file.cpp'. vs code resolves this relative paths from the ${workspaceFolder}, which does not work. Changing the `fileLocation` does not help. This seem to me a normal workflow, (bu

[2019-12-05 10:33] ltWolfik commented on #4702
Originally the problem from [FRRouting project](https://github.com/FRRouting/frr/blob/master/lib/prefix.h#L306)

I just make the following example:
[code]
IntelliSense triggers the errors on arguments:

But *make* from console do not produce any errors:
[code]

[2019-12-05 10:45] allsey87 opened #4705 "Add OnSave option to errorSquiggles"
Error squiggles are great for catching errors as you type, but they can also be distracting and take up CPU time. Please add an `OnSave` option or something to that extent such that the errors are not shown while one is trying to write code.

When I am writing something complicated, I want to deal with minor syntax errors when and only when I am ready for them. I have currently completely disabled

[2019-12-05 13:09] cilica commented on #3076
The same issue with this I have also. I would like to provide a repository setup without any absolute addresses found only on my environment (e.g. C:/ProgramData/chocolatey/lib/mingw/tools/install/mingw64/bin/gdb.exe), but to just scan for kits (similarily as CMake Tools extension does it)

[2019-12-05 13:15] cawthorne commented on #429
+1, would save me having to use rsync so often!

[2019-12-05 14:45] davidwin commented on #2976
Has there been any progress with the `No IL available error`? I'm seeing this when I add the system root of an embedded system to the include paths in some way, so I assume that there is some problem parsing certain C constructs. I have set the log level to Debug for C/C++ and don't get any more than the above error message.
I originally thought it was a problem with the compiler choking on `--sys

[2019-12-05 15:21] assafmendelson commented on #2739
I am having the same issue:
[code]

However when I try to go to declaration (ctrl+mouse click) it shows me the result in the .i file.
I am using vscpp extention remotely installed using the remote -SSH extension with the configuration in my user settings and an empty settings on the remote.

[2019-12-05 16:55] ghost commented on #3326
I have same issue with latest update to 0.26.2. It goes up to 8GB RAM usage. Linux Mint 19.2.
0.26.1 doesn't have this issue.

[2019-12-05 18:54] Colengms commented on #3326
Hi @draganbjedovrtrk .  Are you seeing this memory usage in the extenstion process, or the IntelliSense process?   Are you seeing this with a single intelliSense process, or total memory usage across multiple?

In 0.26.2, we now recycle the IntelliSense process if IntelliSense operations lead to it growing beyond a threshold based on the memory usage of the initial full IntelliSense parse of the t

[2019-12-05 19:06] ghost opened #4707 "Can not use the "cppvsdbg" debug type with msvc on Windows 10"
Type: Debugger

**Describe the bug**
- OS and Version: `Windows 10 1809`
- VS Code Version: `vscodium 1.04.2`
- C/C++ Extension Version: `0.26.2`
- Latest Visual Studio Enterprise with msvc components.

a lot.. and it persists after disabling all of them.

Can not use the "cppvsdbg" debug type with msvc on Windows 10.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.

[2019-12-05 19:20] sean-mcmanus commented on #4703
Can you provide the log from Help->Toggle Developer Tools->Console?

Is this a recent regression within the past couple days, i.e. does using the "Install Another Version..." for 1.2.2 of CMake Tools fix the issue? From the previous issue https://github.com/microsoft/vscode-cmake-tools/issues/954 it sounds like you believe it's not a CMake Tools bug.

[2019-12-05 19:23] Colengms commented on #4702
Hi @ltWolfik .  It looks like the detail I was missing was that this is in C, not C++.  It does compile in C.

This issue repro's in VS.  (The C/C++ Extension shares common code with VS for IntelliSense).  I've opened an issue against VS, [here](https://developercommunity.visualstudio.com/content/problem/846049/intellisense-squiggles-valid-code-related-to-trans.html), if you'd like to up-vote it.

[2019-12-05 19:25] sean-mcmanus commented on #4703
I found a similar issue at https://github.com/cdr/code-server/issues/516 , which has some possible workarounds. Does changing your debugger type to "cppdbg" or uninstall/restart/install of the C/C++ extension fix the issue?

[2019-12-05 19:48] sean-mcmanus commented on #4707
Hmm, it works for me. Do you see any errors in the Help->Toggle Developer Console->Console? What is "vscodium 1.04.2".

You might want to try uninstall of the C/C++ extension, reload window, install.

[2019-12-05 19:54] sean-mcmanus commented on #4697
This is controlled by the C_Cpp.clang_format_sortIncludes property -- did you change that? Or do you have a clang-format file that sets the SortIncludes parameter? What is your "clang_format_style" setting? The "Visual Studio" style sets the "-sort-includes=0". What version of clang-format are you using? The one we ship?

[2019-12-05 20:55] Colengms opened #4708 "Find All References/Rename could use query_translation_unit_source on headers"
This is related to https://github.com/microsoft/vscode-cpptools/issues/4617 .

For header files, FAR/Rename could use query_translation_unit_source on each header, and create TU's with the source file instead.  If multiple headers resolve to the same source file, they could be coalesced into the same TU.

This would also address issues with custom configurations, as some providers may not provide

[2019-12-05 21:06] #4643 closed, assigned to nobody

[2019-12-05 22:09] bobbrow commented on #1993
This will be addressed by #657

[2019-12-05 22:10] #1993 closed, assigned to nobody

[2019-12-05 22:13] bobbrow commented on #1995
We improved this scenario significantly earlier this year.  Please let us know if you continue to see laggy performance with this feature.

[2019-12-05 22:13] #1995 closed, assigned to nobody

[2019-12-05 22:16] bobbrow commented on #2072
This is being tracked by https://github.com/microsoft/vscode/issues/50952

[2019-12-05 22:16] #2072 closed, assigned to nobody

[2019-12-05 22:18] bobbrow commented on #2081
The recommendation for opening remote projects is to use the [VS Code Remote Development Extensions](https://code.visualstudio.com/docs/remote/remote-overview).  This will allow the C++ extension to query the compiler on those systems.

[2019-12-05 22:18] #2081 closed, assigned to nobody

[2019-12-05 23:50] sean-mcmanus commented on #3270
@Gargony Could you file a new issue with more info? What exactly do you mean by "memory leaks"? What process? Is this a regression compared to a previous release?

[2019-12-05 23:51] sean-mcmanus commented on #4691
A PR sounds fine to me, but I'm waiting to here from others on our team still. Were you thinking about adding a setting to package.json? What "scope" would the setting be? "machine" scope?

[2019-12-06 00:16] sean-mcmanus commented on #4692
https://github.com/microsoft/vscode-cpptools/issues/3288 is related (or the same issue). It may also be fixed as a result of changes from https://github.com/microsoft/vscode-cpptools/issues/3123 .

[2019-12-06 00:22] sean-mcmanus commented on #542
@Shapeno I don't understand what you are seeing. Can you give more info or a screenshot?

[2019-12-06 00:27] sean-mcmanus commented on #4479
If you're using recursive includes "**" in the includePath, then the database/workspace size will impact the performance of IntelliSense (flame icon) -- if you see CPU usage in the Microsoft.VSCode.CPP.Extension process then it could be stuck on a database operation, while CPU usage in Microsoft.VSCode.CPP.IntelliSense.Msvc would mean IntelliSense parsing of the current TU (independent of workspac

[2019-12-06 00:49] sean-mcmanus commented on #4687
The files in the database are not stored relative to the workspace root and may contain files outside of the workspace root, or (in our in-development branch) the database could have files from multiple workspace folders (multi-root workspace).

However, the .db file is just SQLite file, so theoretically, you could write a script/tool that modifies the database to translate the shared locations to

[2019-12-06 01:26] sean-mcmanus commented on #4418
Yeah, the files could be any files that are created/deleted in the workspace. Those are the only logs you see when the CPU usage is high? We would need to add more logging to see what files are being processed -- or you maybe able to use an OS-specific tool to see all the files our process touches (e.g. process explorer).

https://github.com/microsoft/vscode-cpptools/issues/4609 is a similar (or t

[2019-12-06 01:35] sean-mcmanus commented on #3213
@larshb "high CPU load" is a general symptom with many possible causes -- can you open a new issue with more repro info? Are you able to look at the logs or call stacks to determine what processing is occurring?

[2019-12-06 01:46] sean-mcmanus commented on #3985
We're hoping to release 0.26.3-insiders some day next week (maybe Thursday evening?). 0.26.3 non-insiders won't be till some time in January.

[2019-12-06 01:56] sean-mcmanus commented on #1994
@laukikd
We support case sensitivity if "WSL" mode is enabled, i.e. if you install WSL and reference a WSL path, such as "/usr/bin/gcc" in the compilerPath...or via opening your workspace with the remote WSL extension (which will run our Linux binaries on Windows in WSL).

Our "upvote" feature list https://github.com/Microsoft/vscode-cpptools/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-des

[2019-12-06 01:58] sean-mcmanus commented on #4693
I seem to recall (from a long time ago) the auto-config detection doesn't work if there are less than 3 configs, so adding a 3rd "windows" config that is unused might fix it.

[2019-12-06 02:14] sean-mcmanus commented on #3731
Adding paths to the includePath should only affect things if the configuration provider fails to provide the includePath. You might want to file a bug with the CMake Tools extension if you haven't already: https://github.com/microsoft/vscode-cmake-tools/issues .

If the Go to Def is working but Find All References works, it means there is a failure to create your database (so Go to Def on definiti

[2019-12-06 02:46] sean-mcmanus commented on #4508
@willvousden Yeah, the dangling process is "locking" the database, causing all the database-based operations to fail from new processes. This sounds like something we should investigate/fix (either detecting/killing the old processes or detecting the database failures and falling back to a different/new one).

[2019-12-06 02:50] sean-mcmanus commented on #664
@asynchronoust It's scheduled for post-v1, which would be some time (not early) next year (no guarantees though).

[2019-12-06 03:11] sean-mcmanus commented on #2976
"No IL available" is a generic symptom, so your repro (root cause) might be different. I don't believe this particular issue has been investigated yet.

Are you getting an actual crash? If so, can you attach a debugger to get a call stack? That would give us more info, but we still might need a repro.

The file that is causing the problem should be the source file that is opened or any headers it

[2019-12-06 03:15] sean-mcmanus commented on #2739
@assafmendelson Your "/.i" pattern appears incorrect. Did you mean `"**/.i"`? I'm not able to repro the bug with `"**/.i"`. You many need to run the C/C++: Reset IntelliSense Database file if the file was already parsed previously.

[2019-12-06 03:29] ghost opened #4711 "Find all references/rename does not work across folders in multi-root workspace"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Debian 9
- VS Code Version: 1.40
- C/C++ Extension Version: 0.26.2
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is:

I have a project with the following structure:
Project
|
|----Module 1
|
|----Module 2
|
|----Module N

My workspace only op

[2019-12-06 04:08] Gargony commented on #3270
**EDIT**: moved to #4714

~~@sean-mcmanus Yes, it's happens during code write, I get (cpptools:.... )"Connection to server got closed. Server will not be restarted", but I still get this message. And in task explorer I see how "Microsoft.VSCode.CPP.IntelliSense.Msvc.exe" allocate memory and then it up to 4G is closed.
Reproducing steps is not clear. But rollback to 0.26.1 helps until restart the V

[2019-12-06 05:58] Gargony commented on #3270
~~@sean-mcmanus may be this help~~

[code]

[2019-12-06 07:46] Victsz commented on #3731
@sean-mcmanus I created an issue https://github.com/microsoft/vscode-cmake-tools/issues/959, it would be great if you can help to explain with more details when necessary, in case I did not state clear enough.

Yes I found many dangling process after close my vscode, and killed them.
And set  C_Cpp.default.browse.databaseFilename, the db file is created along with db-shm and db-wal
Now find refere

[2019-12-06 08:12] davidwin commented on #2976
Thanks for the quick response! I've managed to narrow it down to a very simple repro case, which is a header recursively including itself. It happens in the foreign sysroot's bits/wordsize.h, which contains the following code:

[code]

There are no include guards preventing a recursive inclusion of the same file, which makes the IntelliSense compiler crash. I realize that I would end up with an er

[2019-12-06 09:57] eyesfree commented on #416
Thank you all for the useful comments in this issue! Here is what I had to do with an existing project with a cmake build:
1. I had to change the CMakeLists.txt file:
set(CMAKE_BUILD_TYPE Debug)
2. Then use the newly created executables with suffix '_d' in the launch.json
3. Change the main() to main(int argc, char ** argv) in the target file.

[2019-12-06 10:00] ghost commented on #4707
Yes, there are errors in Console once I click "debug":
![image](https://user-images.githubusercontent.com/47919874/70313590-de0bff80-1850-11ea-865e-a4cd8a56c5ce.png)
the full console log :
[-1575625674300.log](https://github.com/microsoft/vscode-cpptools/files/3931536/-1575625674300.log)

vscodium is this build : https://github.com/VSCodium/vscodium

I tried uninstall ,reload, and re-install, the

[2019-12-06 10:13] BillDenton commented on #4418
I've installed Sysinternals process explorer. As far as I can tell it doing very little I/O (at least at the moment, I'm not editing, git or building at the moment). But there is still one thread that is occupying about 12.5 % of the CPU. See:
![image](https://user-images.githubusercontent.com/17859340/70315248-155abc00-1811-11ea-9df3-9eb5cb75a8da.png)

[2019-12-06 10:36] ghost commented on #3326
Hi,
I cannot share code base, since it is commercial project.

![image](https://user-images.githubusercontent.com/47416696/70316718-8f447280-181c-11ea-8e2e-dc0ce585fc2e.png)

[2019-12-06 12:18] renyhp commented on #4685
Okay, thank you. Let's just ignore the idea of passing different arguments to gdb, I have some trouble getting to execute a script. I will describe my problem here, but I understand this might not be the right place to do it; I will be grateful if anyone can point me somewhere else to post my problem or some documentation that can help me.

I am trying to debug a program whose path is contained in

[2019-12-06 14:39] michaellass opened #4712 "Red squiggles not shown if file location contains umlauts"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS 10.15.1 (Catalina)
- VS Code Version: 1.40.2
- C/C++ Extension Version: 0.26.2
- Other extensions you installed (and if the issue persists after disabling them): Python, Rust (rls) (both disabled without any change)
- A clear and concise description of what the bug is:

If the project path contains an umlaut like `ü`, no red s

[2019-12-06 16:10] ghost commented on #3326
![image](https://user-images.githubusercontent.com/47416696/70337390-422bc500-184b-11ea-90a6-b55875c07f81.png)

[2019-12-06 16:50] JoffreyAlto opened #4713 "Debugger not starting my process"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 familial edition
- VS Code Version: 1.40.2
- C/C++ Extension Version: 0.26.2
- Other extensions you installed :
C/C++ GNU Global
C++ Intellisense
Include Autocomplete
SQL Server (mssql)
TabNine
Visual Studio Intellicode

Description of my issue :
Hello there,

Since today my debugging doesn't work anymore. I'm working on a C89 proje

[2019-12-06 17:42] pieandcakes commented on #4713
Can you verify that the folder `%userprofile%\.vscode\extensions\ms-vscode.cpptools-0.26.2\debugAdapters\vsdbg` exists and has a `bin` folder inside? If not, can you uninstall/reinstall the extension?

We haven't done any updating to the `cppvsdbg` scenario in the last update to cause it not to work.

[2019-12-06 17:45] pieandcakes commented on #4707
I think your version of VS Code is missing something. We have a `handshake` request to use that debugger with VS Code:

[code]

and it looks like VSCodium does not implement it. It is to prevent the Visual Studio debugger from being used with unsupported platforms and VSCodium is not one of the supported platforms.

[2019-12-06 17:45] #4707 closed, assigned to pieandcakes

[2019-12-06 17:47] pieandcakes commented on #4703
@sean-mcmanus Is this a cmake extension issue? Can we move it to the correct repo? The error that `getApi` doesn't return a known value makes it sound like the `Cmake` extension is not calling a valid api anymore.

[2019-12-06 17:49] #4701 closed, assigned to nobody

[2019-12-06 17:51] pieandcakes commented on #4698
This is a duplicate of #977.

[2019-12-06 17:51] #4698 closed, assigned to nobody

[2019-12-06 17:52] bobbrow commented on #4418
@sean-mcmanus I think it's the same root cause as #2806.

@BillDenton if you kill the process, does it restart and continue to consume a full CPU core?  (I'm just ruling out whether this is a runaway process from a previous session or not)

[2019-12-06 18:22] Colengms commented on #3326
Hi @draganbjedovrtrk .  This is interesting, as it's the Extension process that's growing, not the IntelliSense process.  I don't believe this is an issue we're tracking.  Could you add `"C_Cpp.loggingLevel": "Debug",` to your settings.json, and go to the C/C++ output channel.  It may provide some indication of what is happening while memory usage is growing.  Could you paste that output here?

[2019-12-06 19:40] sean-mcmanus commented on #4711
Our multi-root support is being re-implemented (one language server process and database shared across all folders instead of one per folder), so this should be fixed as a result of that.

[2019-12-06 19:59] sean-mcmanus commented on #3270
~~@Gargony We fixed a high hitting crash with 0.26.0.1 involving "check_and_compile"...if you have 0.26.1 or later, then you could be hitting a less commonly hitting crash with that method. We might need an isolated/sample repro to fix that.~~

~~Is the memory usage related to the crash or are they separate issues? What causes the memory to get to 4 GB? Just opening a file? Or does it accumulate a

[2019-12-06 20:10] sean-mcmanus commented on #4707
@hineH Yeah, I found https://github.com/VSCodium/vscodium/blob/master/DOCS.md#proprietary-debugging-tools .

[2019-12-06 20:12] jmbox80hcl commented on #3610
This is still breaking for me every time I update VSCoode

[2019-12-06 20:22] sean-mcmanus commented on #2976
I'm not getting a crash -- I get `#include file … includes itself` and IntelliSense functionality stops working. VS has the same behavior. Are you seeing different behavior?

We haven't added ARM intelliSenseModes yet (https://github.com/microsoft/vscode-cpptools/issues/4271). The "x64" means our parser interprets the code as targeting an x64 platform (not ARM). Yeah, we could query the ARM compil

[2019-12-06 20:22] ferdinandhelmer commented on #1162
extract method, create declaration from implementation and change signature would be a *giant* plus. Great work on the C++ extension in general though, I am really liking it! Keep up the good spirit!

[2019-12-06 20:49] sean-mcmanus commented on #4712
Strange -- the bug only repros on Mac and not Windows or Linux. The logging shows:

* Original file (no squiggles) from VS Code: Umlaut encoded as `%C3%BC` (correct).
* Path from the squiggle (from us?): Umlaut encoded as `u%CC%88` (incorrect).

[2019-12-06 20:52] davidwin commented on #2976
I managed to get the crash on a different install of VSCode by doing this in an empty folder (WSL Remote mode):

- Create a file, `a.cpp`, with contents:
[code]
- Create another file, `a.h`, with contents:
[code]
- Switch between the files, make some edits, save and hover over parts of the source, and you will get the crash.
- Try to complete `Some` in `a.cpp` and notice that you don't get any sug

[2019-12-06 21:20] sean-mcmanus commented on #4703
I don't think it's a CMake Tools issue (that's where it was originally posted at). The getApi error message might be a CMake issue (during build), but the "ConvertToDto unexpected type" when debugging seems different.

[2019-12-06 21:22] sean-mcmanus commented on #4609
Looks like we already have an issue on this at https://github.com/microsoft/vscode-cpptools/issues/2806 .

[2019-12-06 21:24] pieandcakes commented on #4703
I don't know where that error comes from and it doesn't look like its this extension that does it. I know cmake-tools tries to make debugging calls and isn't very transparent about it.

[2019-12-06 21:52] sean-mcmanus commented on #2976
If you see the "No IL available" that isn't a crash (although there would still be no IntelliSense, as described). A crash would show a message like "Failed to read response from server" or "Connection to server got closed.".

We're tracking handling sysroot in compile commands at https://github.com/microsoft/vscode-cpptools/issues/1575 . One potential workaround is to add it to compilerArgs.

[2019-12-06 22:22] davidwin commented on #2976
Yes, "crash" was the wrong choice of words here, but it does seem like the compiler fails to recover in a way that at least leaves _some_ IntelliSense working in the editor. I can see the problem, because it can't simply back out when a file includes itself only once, or even "a lot" of times, or when several headers form a (finite) cycle in order to play some evil preprocessor trick. But, beyond

[2019-12-06 22:42] #4458 closed, assigned to nobody

[2019-12-07 03:44] boardkeystown commented on #2976
yeah nothing I can do seems to get VSCode C/C++ intilisense to work on the raspberry pi....

[2019-12-07 05:54] #4609 closed, assigned to nobody

[2019-12-07 05:59] bobbrow opened #4714 "Extension process using too much memory in the filename cache"
@sean-mcmanus Yes, it's happens during code write, I get (cpptools:.... )"Connection to server got closed. Server will not be restarted", but I still get this message. And in task explorer I see how "Microsoft.VSCode.CPP.IntelliSense.Msvc.exe" allocate memory and then it up to 4G is closed.
Reproducing steps is not clear. But rollback to 0.26.1 helps until restart the VCCode (I can mistake, need m

[2019-12-07 06:01] bobbrow commented on #4714
@Gargony replied:

@sean-mcmanus may be this help

[code]

[2019-12-07 06:02] bobbrow commented on #4714
@sean-mcmanus replied:

@Gargony We fixed a high hitting crash with 0.26.0.1 involving "check_and_compile"...if you have 0.26.1 or later, then you could be hitting a less commonly hitting crash with that method. We might need an isolated/sample repro to fix that.

Is the memory usage related to the crash or are they separate issues? What causes the memory to get to 4 GB? Just opening a file? Or do

[2019-12-07 07:24] UnsaidAverage opened #4715 "template parameter type-parameter-key may not be colored correctly"
<img width="155" alt="批注 2019-12-07 152358" src="https://user-images.githubusercontent.com/47773825/70370719-a612c400-1905-11ea-948f-ca385fb22422.png">
Issue Type: <b>Bug</b>

[code]
Extension version: 0.26.2
VS Code version: Code - Insiders 1.41.0-insider (87c2e0be5d7359ce110c4c9ec9f6df71be996f8a, 2019-12-06T21:36:11.793Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</sum

[2019-12-07 11:07] BillDenton commented on #4418
I killed the process and so far the high usage hasn't appeared. The cpptools output window shows:
"[Error - 11:05:32] Connection to server got closed. Server will not be restarted."
Note: This is happening on two Windows machines on different folders (all containing git repos for the same code base on various branches).

[2019-12-07 14:48] JoffreyAlto commented on #4713
Thanks a lot for your answer. I solved my issue. Actually, I already tried to uninstall the extension and re-install it, but it didn't change anything. On the other hand, I had no idea that the binary files of the debugger were in a separated folder, which is debugAdapters\vsdbg.

So what I've done after seeing your message is simply to uninstall the extension, then I dropped manually the whole fo

[2019-12-07 14:48] #4713 closed, assigned to pieandcakes

[2019-12-07 15:57] hayhan opened #4716 "ver 0.26.2 cannot list class members by IntelliSense on macOS mojave 10.14.6"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS mojave 10.14.6
- VS Code Version: 1.40.2
- C/C++ Extension Version: 0.26.2
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

Following the official instructions at link below can reproduce the issue.
https://code.visualstu

[2019-12-07 15:59] ZhUyU1997 commented on #4695
Hi, Mr. Lee.
I'm sorry for my delayed reply.
I have tested this command, but it still can't work well.  "architecture" value is "riscv".
Debug info is as follows.
[code]
I try to jump out function, then show this error.
[code]
Now I only can stop and press F10 to debug. It is terrible that unable to stop when meeting breakpoint.

The "launch.json" file content is as follows.
[code]
Did you team te

[2019-12-07 17:06] bobbrow commented on #4418
Despite the error message, did the process restart? I believe that message happens because we tell VS Code not to relaunch the process for us (we manage it in our extension).

And does it only get in this state after you switch branches in git or build your code?

[2019-12-07 17:13] bobbrow commented on #2739
@sean-mcmanus I believe it was a markdown error. I updated the comment.

[2019-12-07 19:15] ferdinandhelmer commented on #3038
1. when working with a remote ssh session, the natvis visualization is very slow. That is why it is disabled by default - but, that being said, is there room for improvement?
2. are there plans to implement showing the return value of the last function(s) that was/were exited on the stack - I find that feature in Visual Studio Debugger extremely useful.

[2019-12-08 05:21] escape0707 opened #4717 "Intellisense: no error emitted about inaccessible base class member in inline friend function of derived class."
**Type: LanguageService**

No error emitted about inaccessible base class member in inline friend function of derived class.

**Describe the bug**
- OS and Version: Linux x64 5.4.2-arch1-1
- VS Code Version: 1.40.2
- C/C++ Extension Version: 0.26.2

**To Reproduce**

1. Create and compile a `.cpp` file which contains the following codes:
[code]

**Expected behavior**

Identify b.`prot_mem` as erro

[2019-12-08 05:34] assafmendelson commented on #2739
@sean-mcmanus so to ignore everything that has an extension of .i I need to do **/.i and not **/.*i?

[2019-12-08 15:10] BillDenton commented on #4418
It seems to happen all the time - I don't need to switch branches or build. It is a large code base. I've just started VS Code and left it for about 5 minutes and can see:
Database safe to open
  tag parsing file:
<a header file 1>
Database safe to open
  tag parsing file:
<a header file 2>
Database safe to open
  tag parsing file:
<a header file 3>
Database safe to open
  tag parsing file:
<a hea

[2019-12-08 18:22] AccsoMaximilianSaerov opened #4718 "#include errors detected. Please update your includepath."
- OS and Version: Manjaro Linux 18.1.3
- VS Code Version: 1.41.0-Insider
- C/C++ Extension Version: 0.26.2

Yes, I know that I'm not the first user with this problem. But I tried all the different ways explained in other issues to fix the problem and can't get to a solution.

![Bildschirmfoto vom 2019-12-08 19-13-29](https://user-images.githubusercontent.com/47600203/70393868-2c570500-19ef-11ea-8c

[2019-12-08 22:33] KGIgor commented on #3829
I have the same issue.
debugger doesn't stop at breakpoints.
OS:         Catalina 10.15.1
VSCode: 1.40.2
C/C++ for Visual Studio Code: Version 0.26.2: December 2, 2019

**launch.json**

"configurations":
    [
        {
            "name": "clang build and debug active file",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/runme",

[2019-12-09 06:26] Gargony commented on #4714
@bobbrow I got crash with memory up to 4 GB on Microsoft.VSCode.CPP.Extension.exe (0.26.2.2)
After that the Microsoft.VSCode.CPP.Extension.exe restarted and all repeat again.
[code]

[2019-12-09 10:00] LuisAyuso commented on #4703
I can confirm that the bug is present in C/C++ extension version 0.26.2.
- reverting to version 0.26.1 gets everything to work, any other extension and vscode itself are updated to the latest version
- Debug button in the bottom bar does not exist when this Extension is not installed.

I will come back with the developer's log

[2019-12-09 10:03] fwhezfwhez opened #4719 "Lint error when init a struct in this way, how to eliminate it?"
It will report before-compile error when I init a c struct in this way:

[code]

[2019-12-09 13:49] hensz opened #4720 "IntelliSense sporadically not working"
**Type: LanguageService**
- OS and Version: SLES 12 SP4
- VS Code Version: 1.40.2
- C/C++ Extension Version: 0.26.2

Hi there!

Perhaps this is related to https://github.com/microsoft/vscode-cpptools/issues/4479, but since the actual visible issue is different I opened a new issue for this. Also, perhaps this is purely a configuration issue - but I don't have a clue where to look at. Also the issu

[2019-12-09 16:16] BillDenton commented on #4418
Today, I've left the editor alone for over an hour and its still using 15% CPU. Also, it appears to re-parsing files that haven't changed, e.g.
cpptools/activeDocumentChange
cpptools/textEditorSelectionChange
idle loop: reparsing the active document
Checking for syntax errors: file:///<.h filename with />
Queueing IntelliSense update for files in translation unit of: <same .h file with \ slashes i

[2019-12-09 18:02] michelleangela commented on #4718
Can you enable [logging of the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server) and share the logs?

[2019-12-09 18:28] Colengms commented on #4719
Hi @fwhezfwhez .  In your first example, it looks like you are using 'designated initialization', which is a new feature in C++20.

In your second example, you are using a ":" to assign the value.  I'm not familiar with this syntax.  I do not see it in http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2017/p0329r4.pdf .  Is that syntax valid?

[2019-12-09 18:28] vsjha18 commented on #4687
Thanks a lot for mentioning about "c_cpp_properties.json". This information has certainly helped big time.

As I am studying this extension more and more, I have a growing feeling that it is not as open source as it is generally advertised. e.g I am not able to find the codebase for Language Server. This extension certainly doesn't contain that code. Could you please help us on the following.

1.

[2019-12-09 18:34] Colengms commented on #4715
Hi @UnsaidAverage .  Although the C/C++ Extension provides semantic colorization, keyword colorization is syntactic/lexical and handled by VS Code via TextMate grammer.  @jeff-hykin contributes TextMate grammer for C/C++ in VS Code.  That repo is here: https://github.com/jeff-hykin/cpp-textmate-grammar   Would you like to open this issue there?

[2019-12-09 18:37] michelleangela commented on #4716
@hayhan, I can't reproduce the issue of class members not listed by IntelliSense.

To get more information about the issue, can you enable [logging of the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server) and share the logs?

[2019-12-09 18:42] Colengms commented on #4717
Hi @escape0707 .  This also repro's in Visual Studio.  (The C/C++ Extension shares common code for IntelliSense with VS).  I've opened an issue against VS [here](https://developercommunity.visualstudio.com/content/problem/849776/intellisense-does-not-squiggle-error-for-inaccessi.html).

[2019-12-09 19:09] pieandcakes commented on #3038
@ferdinandhelmer My assumption is the size of the data set and then the transformation it goes through. We request the data from `gdb` through the MI protocol and then based on formatting will need to request additional data for each item. If you enable `engineLogging` and step for a frame that uses natvis, you can see the amount of data we have to request to get it to be displayed.

Implementatio

[2019-12-09 19:16] pieandcakes commented on #4695
No we have not, as we don't have a setup to do the testing.

[code]

This tells me that there might be missing `MI` functionality or a bug within the version of `gdb` you are using and that would require a change within that version of `gdb`.

It would be nice to see the log for when the breakpoint is bound to find out why it doesn't stop on the breakpoint. You can enable [`engineLogging`](https:/

[2019-12-09 19:20] sean-mcmanus commented on #4720
When using compileCommands, the browse.path may not be set correctly, so you should check to make sure all root paths to symbols are supplied in that setting. But if you're using CMake, the CMake Tools extension is recommended to get configured, which will supply the correct browse.path setting.

If you run the C/C++: Log Diagnostics command, you can see info on the currently selected translation

[2019-12-09 20:24] batortaller opened #4721 "Having two files with the same name will make the debugger break in each file"
Type: Debugger
The bug occurs when debuggin C++ code with VSCode. When a source files name is not unique (there are more than 1 files with the same name) putting a breakpoint in that file will put the breakpoint in each file.

Minimal repro: https://github.com/bator-prezi/vscode-debug-repro

**Describe the bug**
- OS and Version: macOS 10.14.6
- VS Code Version:
Version: 1.40.2
Commit: f359dd69833

[2019-12-09 20:49] Colengms commented on #4714
Hi @Gargony .  Do you have a huge number of files in your project?  It looks like you're running out of memory (on a 32-bit system?) while building a table of header/source relationships from data in the tag parser database.

[2019-12-09 20:53] sean-mcmanus commented on #2739
@assafmendelson  Using `**/*.i` should work. Do you have any more repro details? Are you using multiple workspace folders?

[2019-12-09 20:55] sean-mcmanus commented on #4703
@pieandcakes There weren't any debugger changes with 0.26.2, right?

[2019-12-09 20:56] pieandcakes commented on #1853
Duplicate of #977

[2019-12-09 20:56] #1853 closed, assigned to WardenGnaw

[2019-12-09 20:56] pieandcakes commented on #2554
Duplicate of #977

[2019-12-09 20:56] #2554 closed, assigned to nobody

[2019-12-09 20:56] pieandcakes commented on #4721
Duplicate of #977

[2019-12-09 20:56] #4721 closed, assigned to nobody

[2019-12-09 21:01] sean-mcmanus commented on #4418
Re-tag parsing can occur if the database safety check failed (it will show an error message in logs if that occurs).

The idle loop reparsing is IntelliSense parsing (different from the tag parsing)...it will do that after switching documents to clean up any potential stale state. The time it took is only 0.257 seconds -- is that the 15% usage you're seeing?

[2019-12-09 21:15] sean-mcmanus commented on #4687
Only the TypeScript part is open sourced (not the language server executables).

I'm not sure what you mean by "can I use this extension but have language server of my own"? You could try, but it's not something we expect users to do.

The behavior your seeing with "lazy loading" sounds like you're hitting our current multi-root workspace folder behavior, which is in the process of being changed,

[2019-12-09 21:29] pieandcakes commented on #4703
AFAIK there are no direct debugger changes. This looks like an API call to the extension code which @WardenGnaw and I didn't change either.

[2019-12-10 01:52] fwhezfwhez commented on #4719
@Colengms

[code]
`struct.c`

[code]
[code]

[2019-12-10 02:02] Colengms commented on #4719
Aha.  It's a gcc extension.

Try adding the following to your configuration:

[code]

(Or gcc-x86, if 32-bit).  With the intelliSenseMode set to a gcc mode, I do not see a squiggle for that syntax.

[2019-12-10 02:47] Gargony commented on #4714
Hi @Colengms . I'm not sure about border huge and less files ))) We have a mobile application about ~1K+ cpp files. boost, stl, templates like this https://github.com/DevUtilsNet/linqcpp/blob/master/include/linqcpp/linqcpp.h and etc. Nothing special, usual project ))) Please tell me what information I can provide to you? I can provide compile_commands.json (3Mb+), build.ninja (4Mb+) or somphing li

[2019-12-10 03:08] CUMTZT commented on #429
+1 for Nvidia Jetson Xavier support

[2019-12-10 03:50] guolisen opened #4722 "Ctrl+Shift+O cannot show long function name"
sometimes in C++, the function name has a long namespace, so the Ctrl+Shift+O cannot show the whole function name, because the dialog is too short and doesn't have scroll bar.
I have created a issue on vscode project, but the vscode experts said that this is a extension problem,
https://github.com/microsoft/vscode/issues/85793

![](https://user-images.githubusercontent.com/1932457/69841109-eedcd40

[2019-12-10 04:14] sean-mcmanus commented on #4714
Does the bug re-appear after doing the Reset IntelliSense Database, i.e. does it seem like the database was in a bad state due to a previously fixed issue?

[2019-12-10 04:40] Gargony commented on #4714
@sean-mcmanus Yes, the bug re-appear after I doing the Reset IntelliSense Database.
Ok, I'll remove folder "ipch" and let you know it fixed or not.

[2019-12-10 06:42] fisheva opened #4723 "cpptools causes some characters to render incorrect colors in cpp files."
Here is the example code.
[code]

When I disabled cpptools, the code rendering like this:
![image](https://user-images.githubusercontent.com/17448419/70501426-00579300-1b59-11ea-8a7a-9282d9b42713.png)

While when I enabled cpptools, the code rendering like this:
![image](https://user-images.githubusercontent.com/17448419/70501509-31d05e80-1b59-11ea-9e21-420411c2d87b.png)

See, these characters' sc

[2019-12-10 09:26] tchebb commented on #2782
It would be really nice if the generated `-std` argument was prepended instead of appended to the user-provided arguments. I have a codebase that requires `__GNUC__` to be set and `__STRICT_ANSI__` to be unset in order for the correct typedefs to exist. Because this extension forces `gcc` to report its definitions for an ANSI standard, I am unable to get that combination of definitions (and there

[2019-12-10 09:36] AccsoMaximilianSaerov commented on #4718
<details>
<summary>Log</summary>

initialized
workspace/didChangeConfiguration
IntelliSense-Engine = Default.
AutoVervollständigen ist aktiviert.
Die erweiterte Farbgebung ist aktiviert.
Fehlerwellenlinien sind aktiviert, wenn alle Headerabhängigkeiten aufgelöst werden.
Dateiausschluss: **/.git
Dateiausschluss: **/.svn
Dateiausschluss: **/.hg
Dateiausschluss: **/CVS
Dateiausschluss: **/.DS_Store
D

[2019-12-10 10:05] Gargony commented on #4714
@sean-mcmanus after clear "ipch" the process Microsoft.VSCode.CPP.Extension.exe works and after about ~3h is began crush ("ipch" ~830Mb)

[2019-12-10 11:31] escape0707 opened #4724 "Intellisense: missing suggestion of inherited virtual function name after primitive types"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux x64 5.4.2-arch1-1
- VS Code Version: 1.40.2
- C/C++ Extension Version: 0.26.2

In class definition, Intellisense suggest inherited virtual function's name after a non-primitive return type name like `std::string` or `float_type` with `using float_type = double;`, which is handy when writing an overriding function. But the same

[2019-12-10 11:38] BillDenton commented on #4418
"The time it took is only 0.257 seconds -- is that the 15% usage you're seeing?" I doubt it as sticks at ~15% (almost?) all the time. At the moment there is nothing new appearing in the log, but the CPU is ~15%.

[2019-12-10 12:58] LuisAyuso commented on #4703
I was attempting to collect the developer log today, and therefore I updated the C++ extension again (0.26.2). Now I am unable to reproduce the issue. This is very embarrassing as a few days ago I reinstalled all the extensions several times and the bug was there. Could be this be related to an update of the system libraries (chrome related?)?, the only thing I can think that is different is that

[2019-12-10 12:58] #4703 closed, assigned to nobody

[2019-12-10 14:05] hayhan commented on #4716
@michelleangela, I attached the log. Pls check.

[macos_issue4716.log](https://github.com/microsoft/vscode-cpptools/files/3945183/macos_issue4716.log)

[2019-12-10 14:09] hayhan commented on #4716
@michelleangela, some extra logs. B.T.W, it is OK to goto definition and OK to build the code.

-------------------------
textDocument/hover: 33
Quick info operation failed: FE: 'Compiler exited with error - No IL available'
using Tag Parser for quick info
textDocument/hover: 34
Quick info operation failed: FE: 'Compiler exited with error - No IL available'
using Tag Parser for quick info
textDocu

[2019-12-10 15:49] olimexsmart commented on #3326
Hi,
my RAM usage is not as critical as in the examples above, but still it is causing me trouble on my 4Gb machine, allocating about 1.2Gb:
![vscodeRAM](https://user-images.githubusercontent.com/17432947/70544109-d78cc900-1b6b-11ea-9204-93181af50624.png)

I'm a PhD student working with [pinocchio](https://github.com/stack-of-tasks/pinocchio) and, since my project is just started, all I have are 3

[2019-12-10 18:41] michelleangela commented on #4718
@mxsrv The C/C++ extension follows the display language used on VS Code. You can change the display language of VS Code by following instructions at https://code.visualstudio.com/docs/getstarted/locales.

[2019-12-10 18:45] Colengms commented on #4714
Hi @Gargony .

The specific allocation that failed is an association between a header and a file that includes it.  This information is used to select an appropriate source file when creating an IntelliSense Translation Unit, as a header file is opened.  It's possible that a very large number of #include statements (not necessarily files) could lead to excessive memory usage.  Running out of memor

[2019-12-10 19:55] wapjoe commented on #4718
Hello,

i have the same problems with user-defined libs in the respective includePath of projects. I'm using VSC in conjunction with Platformio and the bug only occurs since C/C++ version 0.26.2.

After testing some things, I downgraded to 0.26.1 and after a restart, the error didn't occur. A new update to 0.26.2 caused the error again. I put a .h file under /include in the project and it makes no

[2019-12-10 19:57] sean-mcmanus commented on #4722
I made a comment in the original issue. This is currently "by design", but it's possible we could change the design. Or maybe VS Code could add a horizontal scroll bar?

[2019-12-10 20:01] sean-mcmanus commented on #4723
This seems "by design". Our extension adds semantic colorization on top of the existing lexical colors. You can disable this via the C_Cpp.enhancedColorization setting. See https://code.visualstudio.com/docs/cpp/colorization-cpp .

@Colengms might have more to add.

[2019-12-10 20:15] michelleangela commented on #4718
@wapjoe Can you run `C/C++: Log diagnostics` and share the logs with version 0.26.2?

[2019-12-10 20:22] sean-mcmanus commented on #4724
Our code is disabling completion when the previous token is a built-in type keyword -- I'm not sure what the original reasoning behind that was. VS enables completion in this case, but only when it's manually invoked.

[2019-12-10 20:29] wapjoe commented on #4718
@michelleangela
Log diagnostics without error (file not open):
-------- Diagnostics - 10.12.2019, 21:23:48
Version: 0.26.2
Current Configuration:
{
    "name": "Win32",
    "includePath": [
        "c:/OneDrive/Projekte/PlatformIO/Projects/Display XPT2046/include",
        "c:/OneDrive/Projekte/PlatformIO/Projects/Display XPT2046/src",
        "C:/Users/wapjoe/.platformio/packages/framework-arduin

[2019-12-10 20:40] wapjoe commented on #4718
@michelleangela Further note:
In the configuration (Edit "includePath" settings) the compiler path is not found (No compiler paths detected), so I cannot change the IntelliSense mode:
![Configuration settings1](https://user-images.githubusercontent.com/24509200/70567142-a923e380-1b95-11ea-85a1-ebd57c2528f9.png)
![Configuration settings2](https://user-images.githubusercontent.com/24509200/70567144-

[2019-12-10 20:43] sean-mcmanus opened #4726 "Move internal -std when compiler quering to the front to allow overwriting it"
It would be really nice if the generated `-std` argument was prepended instead of appended to the user-provided arguments. I have a codebase that requires `__GNUC__` to be set and `__STRICT_ANSI__` to be unset in order for the correct typedefs to exist. Because this extension forces `gcc` to report its definitions for an ANSI standard, I am unable to get that combination of definitions (and there

[2019-12-10 20:56] michelleangela opened #4727 "Configuration UI disables compiler path if no default compilers are found"
The input field on the configuration UI should be enabled even if no compiler paths are found on user's machine so that user can specify a custom path.

[2019-12-10 20:57] sean-mcmanus commented on #4418
If it's still using 15% CPU and you're getting no logging output, that sounds like it could be a bug. Is there a database or flame icon appearing in the status bar? Are you able to attach a debugger to get a call stack? Does it only repro for certain large projects? Does it repro still if you remove recursive includes "**" from your includePath?

[2019-12-10 20:59] michelleangela commented on #4718
@wapjoe

Your `c_cpp_properties.json` looks okay. The compiler path setting on the configuration UI editor should display your specified `C:/Users/wapjoe/.platformio/packages/toolchain-atmelavr/bin/avr-gcc.exe`. The message `(no compiler path found)` is intended to indicate that the language server was not able to find any default compilers on your machine, but it the UI should not disable the inp

[2019-12-10 21:16] sean-mcmanus commented on #3326
@olimexsmart It sounds like you are hitting expected behavior.

[2019-12-10 21:31] wapjoe commented on #4718
@michelleangela thx for your help
If I close the file immediately after starting it and open it again via the Explorer workspace, the error is gone. If I first click on the file via the Explorer workspace and close it, the error persists and does also not disappear after reopening it.

Here the logfile, I hope it was right, seems to be very long:
<details>
<summary>Log</summary>

[code]
</details>

[2019-12-10 22:05] sean-mcmanus commented on #4718
Your log file doesn't show any missing include error message. Can you provide a log file that repros the bug? Do you see a includePath missing in the logging that corresponds to the missing include error?

[2019-12-10 23:19] alex-vas commented on #4638
I have the same problem on macOS, not running C++ extension (I believe).

CPUs | Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz (8 x 4200)
-- | --
GPU Status | 2d_canvas: enabledflash_3d: enabledflash_stage3d: enabledflash_stage3d_baseline: enabledgpu_compositing: enabledmetal: disabled_offmultiple_raster_threads: enabled_onoop_rasterization: disabled_offprotected_video_decode: unavailable_offrasterizat

[2019-12-10 23:23] alex-vas commented on #4638
I ran with all extensions disabled, and the problem seems to gone away...

[2019-12-10 23:29] wapjoe commented on #4718
What have I done wrong? After the instructions I set the logging level to debug, in the output panel I set C/C++. In the output appears "Update IntelliSense time (sec): 1.156". When I set the Log Filter to one of the projects (C/C**: ....) with the Include error and open the main.cpp, it appears:

[code]

However, the error does not occur during subsequent opening. When restarting VSC, with the op

[2019-12-11 00:14] michelleangela commented on #4718
The logs show there are no error squiggles and yet squiggles are displayed for #include.

Are you using multiroot, that is more than one project in a VS Code workspace? If so, the logging that displayed/selected with currently opened file could be for a different project, and to better isolate the issue, only open one project to ensure the correct log is displayed/selected.

[2019-12-11 00:25] wapjoe commented on #4718
Ah, you mean just one project per workspace? I will test tomorrow (European Time) and give feedback.

[2019-12-11 00:30] michelleangela commented on #4718
Yes, one project per workspace. There are currently some IntelliSense issues when trying to work with multiple projects in one workspace. This could be a new issue.

[2019-12-11 00:42] wapjoe commented on #4718
Okay, I'll try it tomorrow and report on it. :-)

[2019-12-11 01:26] Colengms commented on #4718
Hi @wapjoe .  In the log output, it mentions: "Error squiggle count: 0".  For the scenario in which you are seeing the error squiggle, you should see a squiggle count > 0.

The "update your includepath" error comes from the IntelliSense process.  The output from `C/C++: Log Diagnostics` tells us exactly what arguments we passed to the IntelliSense process.  The main C/C++ log output (when log leve

[2019-12-11 01:57] escape0707 commented on #4483
Any progress on this issue?

[2019-12-11 02:00] Colengms commented on #4723
Note that because semantic colorization is implemented using `TextEditorDecorations`, they are not reflected in the `Developer: Inspect TM scopes` UI.

[2019-12-11 02:15] sean-mcmanus commented on #4483
No progress...it's probably a quick fix, but it's not ranked as a high priority issue and we're pretty busy with other tasks currently (e.g. re-writing multi-root support).

[2019-12-11 02:15] Colengms commented on #1294
This appears to have been addressed.  Using the repo steps, I see the IntelliSense process complete an initial pass and settle down quickly.  On close, everything shuts down.

[2019-12-11 02:15] #1294 closed, assigned to Colengms

[2019-12-11 02:37] hayhan commented on #4716
From the log, I just realized the SDK is 10.15 on my Mojave machine. I am not sure if this combination introduces this issue.

[2019-12-11 02:38] fwhezfwhez commented on #4719
ok,3q~~I'll not use second style.

[2019-12-11 02:38] #4719 closed, assigned to nobody

[2019-12-11 03:59] Lennon925 opened #4729 "Colorization can't run correctly when useing remote-ssh mode"
codes can't be colorized when using remote-ssh mode but "go to definition" is correct.

[2019-12-11 07:32] magdumnikhil commented on #2628
I'm also facing the same problem. Would be glad to see this implemented.

[2019-12-11 09:03] BillDenton commented on #4418
Re-started VS Code this morning (I closed it last thing yesterday to speed up my build). As soon as it starts there is 15% CPU. All my repos are the same large project, so I don't know about small projects. My "includePath" is:
[code]
At the moment, I don't have "compile_commands.json" as our build system doesn't produce it, but I do have it in ".vscode\c_cpp_properties.json", as I was experimenti

[2019-12-11 10:14] esride-jts commented on #4612
Any progress on this issue?

[2019-12-11 11:23] david-antiteum opened #4730 "${vcpkgRoot} variable is not expanded in tasks.json"
${vcpkgRoot} variable is expanded in c_cpp_properties.json (for example in includePath) but not in  tasks.json.

I need this expansion to write a cmake task command. Something like this:

[code]

Thanks

[2019-12-11 13:01] wapjoe commented on #4718
Hi @Colengms
the error that's been reported to me is apparently a false error. Why the error is not recorded in any diagnosis and log files, I cannot say.

[2019-12-11 13:19] wapjoe commented on #4718
Hello @michelleangela
I have now created a new workspace and added only one project, source code and lib in the include folder are copied from the old project.

When starting with main.cpp still open, no error is displayed anymore, so I don't think the debug output is needed and probably didn't output anything else than before?

Too many projects have accumulated in my old workspace over the years

[2019-12-11 14:53] hensz commented on #4720
Hi!
I don't fully get what I should check in the settings. I don't have browse.path set anywhere, also includePath is unset. And in my compilecommands JSON all paths are absolute paths, so there shouldn't be any problems with root paths.

Regarding logging: I can surely enable logging, but the question is: What should I look for?

I just played around with IntelliSense and enabled logging. However

[2019-12-11 15:00] hayhan commented on #4716
I upgraded my macOS to 10.15.2 and re-installed the 10.15 SDK. The IntelliSense works well now. So probably Mojave (10.14.6) + 10.15 SDK makes the IntelliSense down.

Pls feel free to close this case or investigate it further.

[2019-12-11 15:49] jeff-hykin commented on #4715
Yup we are actually already tracking the issue [here ](https://github.com/jeff-hykin/cpp-textmate-grammar/issues/246)
The template area needs a rewrite

[2019-12-11 18:21] Colengms commented on #4729
Hi @Lennon925 .  We're currently tracking this issue with https://github.com/microsoft/vscode-cpptools/issues/3942 .  This is a limitation of the way semantic colorization is implemented, which involves parsing the current theme.  Unfortunately, the theme is not accessible remotely.  VS Code is in the process of providing some new APIs that we'll be able to use to improve this feature, including w

[2019-12-11 18:21] #4729 closed, assigned to nobody

[2019-12-11 19:19] jxramos commented on #4718
I'm seeing the same `#include errors detected. Please update your includePath` but it appears confined to system includes. I'm on a MacOS.

[code]

https://stackoverflow.com/questions/59219770/vscode-not-resolving-system-includes-how-to-properly-direct-vscode-to-where-sys

[2019-12-11 19:20] michelleangela opened #4731 "#include errors when adding multiple projects (multiroot)"
Hello @michelleangela
I have now created a new workspace and added only one project, source code and lib in the include folder are copied from the old project.

When starting with main.cpp still open, no error is displayed anymore, so I don't think the debug output is needed and probably didn't output anything else than before?

Too many projects have accumulated in my old workspace over the years

[2019-12-11 19:21] michelleangela commented on #4718
@wapjoe I created a new issue #4731 for adding multiple projects to a workspace.

[2019-12-11 19:38] wapjoe commented on #4718
Thank you!

[2019-12-11 19:41] christian-vorhemus commented on #2889
I ran into the same problem today after updating Windows 10.

As others mentioned above, one workaround is to use cmd.exe instead of PowerShell as an internal shell by adding `"terminal.integrated.shell.windows": "C:\\Windows\\System32\\cmd.exe"` to the .vscode/settings.json file.

Another thing that worked for me was uninstalling and reinstalling the C/C++ extension in VS Code.