[2018-01-17 13:02] MathiasMagnus commented on #1408
Although I believe there is still value in being able run arbitrary X/Wayland/XWayland app from WSL, as far as this issue stands, it really doesn't matter which VS Code binary has WSL debugging capabilities. The Linux binary doesn't need any remoting, so it seemed to be an easier fix once the window shows. It is slightly more effort to have the Windows binary kick off both build via CMake Tools an

[2018-01-17 14:08] MBJBOGO commented on #1450
Hi Pierson Lee

Thanks a lot for your help here – I’m almost up and running now.
I did use the Git\\bin\\bash.exe for the ssh pibe and Yes I was probably facing a password issue here.
Now I’m using the Plink command-line utility and I’m able to connect to the RaspberyPi target.
The only issue I have left is that it don’t display the source files.
My  launch file looks like this:
----
  "name": "(g

[2018-01-17 16:28] keton commented on #897
@sean-mcmanus Currently there's no working way to do this on Windows with armgcc toolchain most embedded projects use. And believe me I've spent a lot of time to make it work. On other platforms debugging with armgdbserver doesn't work as I and others reported in other tickets. Maybe as you see that my use case is not that unique you'll reconsider adding recursive include option?

[2018-01-17 16:46] bobbrow commented on #897
As a short term fix, [I started a branch](https://github.com/Microsoft/vscode-cpptools/tree/bobbrow/expand-wildcards) to support a wildcard in the include path.  We didn't want to enable full recursion out of the box because of some excessive memory usage in the IntelliSense engine for large folder hierarchies.  However, Visual Studio also uses this engine and [is previewing a fix that resolves th

[2018-01-17 20:31] ihnorton commented on #897
I tried that and it doesn't seem to help (still missing-include errors). My compile_commands.json file is almost 15k lines long though, with many lines consisting of those ~500 include compiler invocations... So without some feedback from the engine on what's happening behind the scenes I assume a background worker is either still chugging or already gave up (didn't notice anything on the console

[2018-01-17 20:36] pieandcakes commented on #1450
@MBJBOGO I don't know if you specify them, but your `sourceFileMap` should have the second path escaped? `c:\compile\raspberryPi\code\console` should look like `c:\\compile\\raspberrypi\\code\\console` in your `launch.json` file.

Otherwise, if you enable `"logging": { "engineLogging": true, "trace": true, "traceResponse": true }` you might get more detail as to why it isn't working.

[2018-01-17 20:41] pieandcakes commented on #1408
@MathiasMagnus We (the C/C++ extension) support remote debugging today through the use of the `bash.exe` executable to do remoting. Instructions can be found [here](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/Windows%20Subsystem%20for%20Linux.md). If you have suggestions for improvements let us know.

We don't provide any additional building support beyond w

[2018-01-17 20:45] pieandcakes commented on #1453
@MrManhoso If the symbol file format is one we can work with, then it should work with the WIndows Visual C++ debugger. From conversations here, if the converter generates VS7+ style PDBs, it may work partially but the speculation is that the expression evaluator isn't going to be happy. If its older than that, it probably won't work.

More informations about the pdb format can be found [here](htt

[2018-01-17 20:54] sean-mcmanus commented on #1448
We default to C11 mode and are supposed to work with the C _Atomic types.

Your intelliSenseMode is "clang-x64" and you have `__GNUC__=7` in your defines, right? Those might be required.

I'll see if I can repro it...

[2018-01-17 21:22] raghavk92 opened #1464 "intellisense suggestions/autocomplete for user defined variables/functions is slow/delayed"
I am using version 1.19.1 of vscode. I am using the official c/c++ extension from microsoft and i am using wsl on the terminal and configured the path of header files for better intellisense
when i start typing the name of a variable (int,vector or function) defined by me in the current file the autocomplete shows me list of functions from the header files like time.h which i dont even want and th

[2018-01-17 21:33] sean-mcmanus commented on #1439
Thanks a lot for the repro -- the bug is caused by our incorrect handling of the UTF-8 characters > 1 byte. Ironically, I was already working on UTF-8 > 1 byte fixes, although they were in regards to identifier characters and not strings. We'll try to get a fix for the February update.

[2018-01-17 21:55] sean-mcmanus commented on #1461
This bug appears to have been fixed in the Dec 2017 release of VS 2017 (15.5) -- assuming the fix applies to clang-x64 mode too-- but our compiler is 7 months behind, so after we get sync'd up for February we expect this to be fixed. We can post a preview vsix once we have one available to see if it fixes the issue for you.

[2018-01-17 22:05] sean-mcmanus commented on #897
@bobbrow Isn't compile_commands.json supposed fix all the missing includes? Do you have any idea what could be going wrong? Maybe we're not handling a required flag?

[2018-01-17 22:11] sean-mcmanus commented on #1440
The ".a" designated initializer list is a new C++20 feature that hasn't been implemented by our compiler yet, so we expect a later release to just fix the crash, and it'll give an error message until the feature support has been added later on.

[2018-01-17 22:25] ihnorton commented on #897
I just noticed the file is about 65 MB. I can understand if you consider that unreasonable! :rofl:

(first thing I tried was pasting into a gist, which hard-crashed all of Chrome on me, not just the tab)

[2018-01-17 22:36] sean-mcmanus commented on #897
If we give back missing includes messages, then that means our parser process didn't crash, so the size of the file seems to be acceptable. It's possible the missing include is some bug caused by us bailing out, but I'm not aware of any code that would behave that way. I don't know what the largest compile_commands.json we've tested with is (@bobbrow might know).

[2018-01-17 22:58] sean-mcmanus commented on #897
@ihnorton After consulting with Bob, it seems the 3 known issues that could cause the compile_commands.json to still giving missing includes are:
1. If the "command" doesn't start with the compiler, in which case we fail to get the correct system headers: https://github.com/Microsoft/vscode-cpptools/issues/1251 .
2. If your code requires system defines set (i.e. compiles different headers based on

[2018-01-17 23:06] sean-mcmanus commented on #1367
Should be fixed now: https://github.com/Microsoft/vscode-cpptools/releases/latest .

[2018-01-17 23:06] #1367 closed, assigned to nobody

[2018-01-17 23:07] sean-mcmanus commented on #1364
Should be fixed now: https://github.com/Microsoft/vscode-cpptools/releases/latest .

[2018-01-17 23:07] #1364 closed, assigned to nobody

[2018-01-17 23:09] sean-mcmanus commented on #1197
@wkevin Your issue should be fixed now: https://github.com/Microsoft/vscode-cpptools/releases/latest, unless your file has UTF-8 characters > 1, which is being track by https://github.com/Microsoft/vscode-cpptools/issues/1439 .

[2018-01-17 23:09] #1197 closed, assigned to nobody

[2018-01-17 23:12] sean-mcmanus commented on #1332
@michaelllh Does the lastest update fix your issue? https://github.com/Microsoft/vscode-cpptools/releases/latest .
@JiangCN We fixed some regressions caused by 0.13.1. Let us know if it's working now.

We're still have some issues if your file has UTF-8 characters > 1 byte: https://github.com/Microsoft/vscode-cpptools/issues/1439

[2018-01-17 23:17] sean-mcmanus commented on #1288
Should be fixed in our latest release: https://github.com/Microsoft/vscode-cpptools/releases/latest . If your database already exists, the CPU usage should drop to 0% within seconds, i.e. the database icon should disappear, but the red flame (intellisense parsing of the open file) might take longer. The parsing status in the bottom right when hovering should be accurate now too. You can reduce the

[2018-01-17 23:17] #1288 closed, assigned to nobody

[2018-01-17 23:18] sean-mcmanus commented on #1366
Fixed https://github.com/Microsoft/vscode-cpptools/releases/latest.

[2018-01-17 23:18] #1366 closed, assigned to nobody

[2018-01-17 23:23] sean-mcmanus commented on #722
We now skip automatically adding to files.associations if it matches an existing glob pattern or if C_Cpp.autoAddFileAssociations is false -- note the setting got renamed post-Insider (which used `files.associations.autoAdd`). https://github.com/Microsoft/vscode-cpptools/releases/latest .

I'm closing this issue -- let us know if there's still a problem in the scenario (I don't think we can do any

[2018-01-17 23:23] #722 closed, assigned to nobody

[2018-01-17 23:29] sean-mcmanus commented on #1362
Fixed https://github.com/Microsoft/vscode-cpptools/releases/latest

[2018-01-17 23:29] #1362 closed, assigned to nobody

[2018-01-17 23:30] sean-mcmanus commented on #1334
Fixed https://github.com/Microsoft/vscode-cpptools/issues

[2018-01-17 23:30] #1334 closed, assigned to nobody

[2018-01-17 23:30] sean-mcmanus commented on #1363
Fixed https://github.com/Microsoft/vscode-cpptools/releases/latest

[2018-01-17 23:30] #1363 closed, assigned to nobody

[2018-01-17 23:33] sean-mcmanus commented on #1393
@bitsmaker We fixed the database icon performance problems. If the red flame is blocking operations, that's a different issue (I think another issue is tracking that). https://github.com/Microsoft/vscode-cpptools/releases/latest

[2018-01-17 23:33] #1393 closed, assigned to nobody

[2018-01-17 23:38] sean-mcmanus commented on #1415
Should be fixed now https://github.com/Microsoft/vscode-cpptools/releases/latest .

[2018-01-17 23:38] #1415 closed, assigned to bobbrow

[2018-01-17 23:39] sean-mcmanus commented on #1228
Fixed https://github.com/Microsoft/vscode-cpptools/releases/latest

[2018-01-17 23:39] #1228 closed, assigned to pieandcakes

[2018-01-17 23:40] sean-mcmanus commented on #1429
Fixed https://github.com/Microsoft/vscode-cpptools/releases/latest

[2018-01-17 23:40] #1429 closed, assigned to nobody

[2018-01-17 23:49] azydevelopment commented on #1415
Confirmed working with the test project attached to this bug. Thanks guys!

[2018-01-17 23:53] sean-mcmanus commented on #1464
We don't currently support the smarter IntelliSense autocomplete with global/local variables that are not scoped. We're tracking this with https://github.com/Microsoft/vscode-cpptools/issues/13 .

However, it sounds like you're experiencing an issue with the fact that we only return 1000 completion results when you initially start typing. We were going to investigate increasing that to 10000, but

[2018-01-18 02:30] sean-mcmanus commented on #314
We support ${env.VAR} and ${env:VAR}. Is that good enough?

[2018-01-18 02:35] #1268 closed, assigned to nobody

[2018-01-18 02:40] sean-mcmanus commented on #1151
This works for me with 0.14.6. Are you still having an issue?

[2018-01-18 02:43] sean-mcmanus commented on #637
@jyavenard We fixed some bugs with 0.14.6 that may have caused this. Are you still experiencing problems?

[2018-01-18 03:00] ihnorton commented on #897
1: I don't think so -- all of my entries look like `"command": "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++ ...`
2: I don't think so -- there aren't any system defines in a spot check of some compiler invocations.
3: no

[2018-01-18 03:05] sean-mcmanus commented on #1118
Fixed. https://github.com/Microsoft/vscode-cpptools/releases/latest

[2018-01-18 03:05] #1118 closed, assigned to nobody

[2018-01-18 03:08] sean-mcmanus commented on #286
Fixed https://github.com/Microsoft/vscode-cpptools/releases/latest .

[2018-01-18 03:08] #286 closed, assigned to nobody

[2018-01-18 03:10] sean-mcmanus commented on #1361
Sounds like this is fixed now?

[2018-01-18 03:10] #1361 closed, assigned to nobody

[2018-01-18 03:13] sean-mcmanus commented on #1126
We think we fixed this issue with 0.14.6, although if your code has UTF-8 characters > 1 byte in it, we may still fail (there's another issue on that).

[2018-01-18 03:13] #1126 closed, assigned to nobody

[2018-01-18 03:20] sean-mcmanus commented on #323
We fixed a bunch of issues that could be causing this. Let us know if this still repros in the latest version 0.14.6.

[2018-01-18 03:20] #323 closed, assigned to nobody

[2018-01-18 03:26] sean-mcmanus commented on #721
This seems to be fixed with our latest version? If not, please reactivate and paste the repro code in a `block` so I can easily repro it.

[2018-01-18 03:26] #721 closed, assigned to nobody

[2018-01-18 03:32] sean-mcmanus commented on #1029
This bug appears fixed with the latest 0.14.6 (I think we fixed it a while a go). Please re-activate if you're still reproing it.

[2018-01-18 03:32] #1029 closed, assigned to nobody

[2018-01-18 03:46] sean-mcmanus commented on #897
Okay, it looks like that's the bug -- we don't handle the "c++" symbolic link, only clang/clang++. Replacing that path by the target of the c++ link might fix your issue.

[2018-01-18 03:49] sean-mcmanus commented on #897
Oops, ignore what I said...the compiler guessing code is used when there's no compile_commands.json. The code should be querying the c++ command, since it's the first arg. The code should output an error message in our C/C++ Output panel if it's failing to locate the default include paths from the c++ compiler. So this could be some different usage -- it appears only a small fraction of users are

[2018-01-18 09:20] MrManhoso commented on #1453
hi, thanks for the information. The dbg format was not accepted, and given the information you just provided probably not so surprising... From what i could gather dbg is no longer (probably since quite long back) supported by VS and the likes.

I'm happy with the answers (though not happy with what it implies for me), and now i know what i have to play with. Thanks!

best regards
/Erik

[2018-01-18 09:20] #1453 closed, assigned to nobody

[2018-01-18 12:13] decimad opened #1465 "compile_commands additional toolchain include paths"
Hey,
it seems the extension ignores manually set include/browse paths once you have a compile_commands.json set up to be used. However in my case this file does not include the built-in toolchain include paths. Adding them to includePaths/browse does not seem to be recognized by the extension in this case.
Is the intentention for me to achieve this differently? Would it be possible to add these se

[2018-01-18 12:28] deepskyblue86 commented on #1137
Same here. Visual Studio Code (linux)
[code]

Backtrace:
[code]

[2018-01-18 14:22] lumonix commented on #1448
@sean-mcmanus

You can see my vscode project here:

https://github.com/lumonix/motif

It has a vscode sub-folder and configured for clang.

If you use that project to try and reproduce, then you might have to update the gcc include folder to make sure it points to somewhere that has gcc stdatomic.h file.

"/usr/lib/gcc/x86_64-linux-gnu/7/include"

main.c is the file showing the intelli problems.
e

[2018-01-18 15:04] dongzhuoer commented on #1442
Thank for the redirect and sorry to create a redundant issue. (I have searched a little, but I didn't find that  issue.)

[2018-01-18 17:41] bobbrow opened #1466 "Do colorization of inactive preprocessor blocks"
Splitting this out from #230 and tagging it for the February release.  This feature is achievable using VSCode's text decorations.  We still need to investigate whether using text decorations is fast enough to color the whole file, so we won't be implementing all of the colorization features at once.

[2018-01-18 17:52] bobbrow commented on #230
VSCode has a text decoration API that we intend to use for graying out inactive regions in the February update.  We're tracking that implementation with #1466.  Still need to investigate whether this will be fast enough to be used to replace the textmate coloring for the entire file or not.

[2018-01-18 18:56] Pillasaar opened #1467 "In target debugging with locally installed emulator?"
Hello,

New to VS Code(just installed in a couple of hours ago!). I also installed the CPPtools extension and the IAR embedded work bench extension. I am able to build my software now.
I use a Renesas Rx631 processor and E2 Lite emulator. Is there anyway I can do in-target debugging using cpptools extension? Or do I need GDB support of the emulator?

Thanks,
Sudhi

[2018-01-18 20:18] sean-mcmanus commented on #1465
I seem to recall it was a design decision, but @bobbrow probably knows more. We try to query the compiler for the builtin includePaths, but there are cases in which that can be incorrect and the builtin defines are not used yet. We could theoretically change it so that the `includePath`/`defines` is appended to the ones obtained from the compile_commands.json. That could break people who rely on t

[2018-01-18 20:33] sean-mcmanus commented on #1137
@deepskyblue86 This is caused by a difficult to track down and repro memory corruption that has existed since we introduced the IntelliSense process in April/0.11.0 (https://github.com/Microsoft/vscode-cpptools/issues/1337). Do you have a repro we can use? I may have a repro with internal code, but I don't know yet.

[2018-01-18 20:50] sean-mcmanus commented on #1137
@deepskyblue86 I found a repro for a crash that I believe has the same root cause (corrupted il_header).

[2018-01-18 21:55] MBJBOGO commented on #1450
Thanks a lot for your help here - it is now working as expected :-)

[2018-01-18 21:56] #1450 closed, assigned to pieandcakes

[2018-01-18 22:16] kostaskol opened #1468 "Setting C++ standard"
I've recently started using VSCode (and the cpp tools extension alotng with it).
I've looked through the documentation multiple times but for the life of me I cannot figure out how/where to set the C++ standard.

I apologise if this has been asked (and answered) before, but no Google search came up with something relevant.

Any help would be greatly appreciated.

==EDIT==
Actually I did some re-co

[2018-01-18 22:23] sean-mcmanus commented on #1448
Looks like we need to add an additional intelliSenseMode (and maybe version) for gcc because of differences in the C _Atomic handling compared to clang.

As a workaround, you can try modifying the `~/.vscode/extensions/ms-vscode.cpptools-0.14.6/bin/msvc.json` file by replacing `"--c\n--c11"` with `"--c\n--c11\n--gcc\n--gnu_version=70000"`.

This fixed the issue for me with 60300 (min version requi

[2018-01-18 22:38] sean-mcmanus commented on #1468
The setting is not exposed yet. We default to c11 and c++17, but our compiler doesn't support all the c++17 features yet. You could try changing the version used by modifying the `~/vscode/extensions/ms-vscode.cpptools-0.14.6/bin/msvc.json` file which has a reference to the version to use (e.g. c++03, c++11, c++14, c++17).

[2018-01-18 22:42] kostaskol commented on #1468
The problem I had was that c++11 specific functions (i.e. std::stoi) where not recognised. Could this have been a fault in my setup?

[2018-01-18 22:43] sean-mcmanus commented on #1468
Yeah, sounds like your includePath/defines aren't correct (see https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/FAQ.md#why-do-i-see-red-squiggles-under-standard-library-types ). We should work with c++11 without any changes. What OS/compiler are you using?

[2018-01-18 22:46] kostaskol commented on #1468
I'm on Linux. I switched to clang in the settings but did not change anything else. I'll try with gcc and let you know. Thank you very much.

[2018-01-18 23:44] bobbrow commented on #1468
If you continue to have issues, please share the contents of your **c_cpp_properties.json** file so we can verify your configuration.

[2018-01-19 02:19] sean-mcmanus opened #1469 "Duplicate "cannot open source file" appears when intelliSenseEngineFallback is "Disabled""
1. Set "C_Cpp.intelliSenseEngineFallback": "Disabled"
2. Use
`#include <foo>
#include <foo2>
`
Requires at least 2 missing includes.

Bug: The errors appear twice. I found/fixed this while investigating another crash issue.

![image](https://user-images.githubusercontent.com/19859882/35131599-e5b34506-fc7b-11e7-86f8-1e8b1a0de6ed.png)

[2018-01-19 02:35] zz1120122573 commented on #1183
Hi, I'm using VS2015 and get a simillar error. How can I set CPPFLAGS in VS2015? I cannot find the solution on Google. Thanks.

[2018-01-19 06:07] fancl20 commented on #1151
I tried in 0.14.6 but still not work.
UNIQ_TYPE or UniqType has completion but the type ID declared by the macro can't be completed.

[2018-01-19 08:18] aakre commented on #1465
What you describe seems to be the intended behavior, but according to the [documentation](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/c_cpp_properties.json.md) you should get a warning if there is no entry for the toolchain include paths:

[2018-01-19 08:27] rizickus commented on #1083
Is there any progress regarding this issue?

[2018-01-19 08:43] aakre commented on #916
I'm experiencing a similar problem. All fixed size integer types (uint8_t, uint16_t, uint32_t etc...) are marked as undefined by intellisense.

My setup:
- vscode 1.19.2
- c/c++ extension 0.14.6
- Ubuntu 16.04 LTS
- arm toolchain version 7.2.1.

I have set my includePath and browsePath according to the output of
`arm-none-eabi-gcc -Wp,-v -E -xc -x c++ /dev/null`:

[code]

I've also tried to use th

[2018-01-19 09:21] kostaskol commented on #1468
Still have the same problem. My configuration file is as follows
[code]
Here's a screenshot of a sample error
![image](https://user-images.githubusercontent.com/17071023/35143523-8624f12c-fd0a-11e7-8015-465bd17fcbe3.png)

And another
![image](https://user-images.githubusercontent.com/17071023/35143654-e80c7c7a-fd0a-11e7-8409-364afd1393eb.png)

[2018-01-19 10:00] tomhughes opened #1471 "Error using vscode.debug.startDebugging with 0.14.6"
I have a small custom extension that tries to launch a debugging session with `vscode.debug.startDebugging` as follows:

[code]
This was working fine with 0.14.5 but since the update to 0.14.6 it fails every time with:

[code]
My configuration still seems to match the default `launch.json` ones so it doesn't look like there's anything new I need to add to it.

Is this a bug? Am I doing something w

[2018-01-19 10:34] #1468 closed, assigned to nobody

[2018-01-19 11:15] sean-mcmanus commented on #1151
Okay, I understand now. The hover info works, because it's provided by IntelliSense. The completion (and Go to Definition) doesn't work because the Tag Parser handles those and it doesn't handle macro replacement. These should get fixed after we implement the features using the IntelliSense engine: https://github.com/Microsoft/vscode-cpptools/issues/13 and https://github.com/Microsoft/vscode-cppto

[2018-01-19 11:26] sean-mcmanus commented on #1465
@aakre Ah, yeah, I talked to Bob today and he mentioned that "fallback" behavior. I think we decided to add some sort of systemIncludePath/systemDefines setting which corresponds to what the built-in values used by your compiler and that would get appended on, and the existing includePath/defines would keep the same behavior and only be used as a fallback (combined with the system ones too). We we

[2018-01-19 11:55] sean-mcmanus commented on #1083
@rizickus No progress has been made on this, but we just need to change the compile-time Linux/Mac defines to be based on some new setting. In regards to _WIN32, that should stop being defined when you change the intelliSenseMode to "clang-x64" -- do you use a cl.exe or gcc/clang when _WIN32 shouldn't be defined? Or make intelliSenseMode have more possible values for all the compiler/OS combinatio

[2018-01-19 12:06] sean-mcmanus commented on #916
@aakre I think you're missing a compiler `defines`, such as `__GNUC__=7`. We have a known issue in which the compiler defines aren't set automatically (as the includePath sometimes is). A related issue was https://github.com/Microsoft/vscode-cpptools/issues/1293 .

[2018-01-19 12:26] sean-mcmanus commented on #1471
@pieandcakes @WardenGnaw  probably know more, but if you feel like debugging our typescript the code that registers cppdbg is at `https://github.com/Microsoft/vscode-cpptools/blob/release/Extension/src/Debugger/extension.ts`, or you might try using 0.14.6-beta1 (https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.14.6-insiders ) if there was some regression with the typescript changes tha

[2018-01-19 13:04] tomhughes commented on #1471
Well I can confirm that 0.14.6-beta1 behaves the same as 0.14.6 at least.

[2018-01-19 13:11] decimad commented on #1465
Hrmm, I'm cross-compiling through cmake (toolchain file), so I'm not very optimistic that the c++ extension will easily be able to determine the compiler automatically to determine the system includes. However it would be equally fine if I just could set the compiler executable manually in this case (if the extension can handle gcc derivates).
The most "conservative" solution imho would be if ther

[2018-01-19 13:13] hyeonchang commented on #1466
I’m really looking forward to the next release.

[2018-01-19 15:07] ihnorton commented on #897
I tried a little experiment: deleted all but the first ~600 lines (out of >14000) in `compile_commands.json` (making sure to preserve the array structure). Still getting missing includes, but seemingly able to find more than before. But it's a little hard to tell -- it would be really helpful to have some feedback of progress/status under the hood, beyond just the "missing" messages, because right

[2018-01-19 17:47] Zooce opened #1472 "Go to Symbol in File... is extraordinarily slow."
I'm coming from Sublime Text, so maybe I'm a bit spoiled in this regard, but one of the main features I use in Sublime Text is searching for symbols. VS Code has this feature, but for some reason it takes an extremely long time for any symbols to be found in my project. The project is massive, and some files can be quite large themselves, however this happens even with small files (e.g. < 400 line

[2018-01-19 17:59] mamellini opened #1473 "Source code formatted with ÿþ and spaces"
Two of my students who use Visual Studio have submitted C++ source codes that are formatted (not pure text files), such that I cannot compile the codes.  When I open the .cpp file in my IDE, I see a source code file that begins with a byte order mark (ÿþ), then spaces are inserted between each character in the file.  I have never encountered anything like this before. If I open the .cpp files in a

[2018-01-19 18:37] bobbrow commented on #1473
They are probably saving their files as UTF-16 and it doesn't look like your editor supports it.  Ask them to try saving the files as UTF-8 instead.  There should be a little down arrow by the save button in Visual Studio that lets you select an encoding.

![image](https://user-images.githubusercontent.com/12818240/35165704-304aae78-fd04-11e7-8a53-f4bc4bb19496.png)

[2018-01-19 19:18] raghavk92 opened #1474 "intellisense updating forever issue has resurfaced. (red flame)"
I opened a new window and opened a folder . And i started seeing intellisense updating and it wont stop. ctrl space says loading forever . Then i closed and opened it was ok . Then i saw the c_cpp_properties.json needs to be configured for better intellisense results . So i added WSL paths and saved it. Changed C/C++ configuration on the bottom right of vscode to WSL and again updating intellisens

[2018-01-19 19:39] raghavk92 commented on #1464
@sean-mcmanus  i guess you answered my question by saying "We don't currently support the smarter IntelliSense autocomplete with global/local variables that are not scoped. We're tracking this with #13 ." but i am not sure. I want to explain again and  ask that shouldnt autocomplete for local variables(variables defined in a function)  be most important for autocomplete then global variables and t

[2018-01-19 19:51] raghavk92 commented on #1474
one more thing when i was trying to screen record it was happening for longer time and also when one window of visual studio code is open there is not much problem but when two are open this problem comes always. Is this a processor issue. Does this mean i can only open one window at a time? I have a Processor	Intel(R) Celeron(R) CPU  N2820  @ 2.13GHz, 2129 Mhz, 2 Core(s), 2 Logical Processor(s)
a

[2018-01-19 20:10] vadimcn opened #1475 "[Intellisense] Annoying error message when viewing git diffs."
VSCode:  1.19.2
Extension: 0.14.6

I've configured C++ intellisense to use the compile_commands.json file from cmake.

Whenever I view git diffs (using GitLens extension), the C++ extension keeps popping up errors similar to this: `"application-20626910647KP2B8X6OONie.cpp" not found in "${workspaceRoot}/build/compile_commands.json". Using 'includePath' setting in c_cpp_properties.json.`

I think t

[2018-01-19 20:14] pieandcakes commented on #1471
@tomhughes: @WardenGnaw made a change to dynamically determine the debugger entrypoint to prevent our required second reload and improve the user experience. It seems in this instance it isn't able to determine the debug executable. VSCode made a change to support providing a `provider` to tell VSCode what to launch but our extension needs to be activated and registered at that time.

The code for

[2018-01-19 20:22] sean-mcmanus commented on #1471
You could also try adding code like the following before the startDebugging.
`        let extension = vscode.extensions.getExtension("ms-vscode.cpptools");
        if (!extension.isActive) {
            await extension.activate();
        }
`
like our tests do at:
https://github.com/Microsoft/vscode-cpptools/blob/master/Extension/test/integrationTests/debug.integration.test.ts

[2018-01-19 20:32] sean-mcmanus commented on #897
1. Oh, that is very strange (I've never seen that behavior). The Go to Definition behavior is not impacted by the compileCommands/includePath settings and uses browse.path instead. The data should be stored in a database and quickly retried, so it could occur the 1st time a file/workspace is opened, but "No definition found" means it wasn't in the database or the database wasn't available. The Int

[2018-01-19 20:35] ihnorton commented on #897
Perhaps some of my (and general?) confusion is coming from the following sequence. I set up debugging and put a breakpoint in `DefaultClient.updateStatus`.

- reload the debuggee vscode instance -- having workspace folder loaded (one with `compile_commands.json`), and a single file open.
- after hitting the breakpoint a few times with info notices (updating, parsing, open file), I get one `notific

[2018-01-19 20:37] WardenGnaw commented on #1471
Did you add a dependency to the cpptools extension?

[2018-01-19 20:38] ihnorton commented on #897
Whoops, crossed posts there...

Ok, now various behavior makes more sense. Still getting missing includes in the Problems window, but the above indicates my "does this work" test was not useful.

[2018-01-19 21:15] sean-mcmanus commented on #1472
I'm able to repro the issue. This problem has existed "forever". Our symbol search engine appears to be iterating over all symbols in the entire database, so the operation is linear in the size of your browse.path so most of the time it is just hitting symbols in different files. It's faster the 2nd time because it cashes the results.

[2018-01-19 21:30] Zooce commented on #1472
So, the search doesn't understand the "in File..." part of "Go to Symbol." Thank you for looking into this, @sean-mcmanus.

[2018-01-19 22:34] sean-mcmanus commented on #1472
We were actually computing the search results quickly for the specific file, but afterwards a 2nd workspace cache building operation was being done unnecessarily, blocking the results.

The search results (and all other operations) can still be blocked by the red flame if your translation unit takes too long to parse, but that's a different issue.

[2018-01-19 23:38] sean-mcmanus commented on #1474
What version of cpptools do you have? The version of VS Code itself usually doesn't matter. Yeah, having only 2 logical processor might be an issue, particularly if both windows are using multiple threads at once (we usually test with more processors). You might want to wait until the database icon is finished parsing, which will get reduce the processing.

[2018-01-19 23:52] sean-mcmanus commented on #1464
Yeah, we just don't have the local/global variables available yet because the feature hasn't been added, because it was too slow compared to a scoped completion after a . -> etc. Local variables is https://github.com/Microsoft/vscode-cpptools/issues/255 . The non-IntelliSense completion that is being used is not able to determine which symbols belong to the current translation unit or not, so it w

[2018-01-20 00:26] pieandcakes commented on #1467
@Pillasaar We communicate with gdb using the [mi](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI.html) interface. You can either have gdb locally and gdbserver in the emulator or use some communication method like `ssh` to communicate with gdb in the emulator.

I don't know your specific scenario so I can't speak to it but hope that helps.

[2018-01-20 02:41] cxk99 opened #1476 "snippet can not work in C header file"

[2018-01-20 03:36] sean-mcmanus commented on #1476
What do you mean? Our cpptools doesn't implement snippets.

[2018-01-20 07:46] raghavk92 commented on #1464
@sean-mcmanus  please add this feature as soon as possible. I really want to work with node and do cpp programming from vscode .but this really becomes a deal breaker and i have to go back to my previous editor for now for cpp. When would be the ETA for this feature to be added because it would really help me

[2018-01-20 10:03] mathchew commented on #1445
Thank you everyone for responding. I am so busy right now I can not keep up. I moved over to Windows OS with VS installed. When I get a chance to try VS Code on the Mac OS again I will keep you posted on my progress.

bobbrow:

I did clone the repository, but honestly, I clearly do not know what I am doing.

Thank you again for your responses.

[2018-01-20 12:05] csholmq commented on #883
I thought I'd give a stab at this. But should I add it to the extension or append the VSCode formatting rules instead?
If I add it to the extension I have to duplicate the existing VS Code rules as the extension will override the default `language_configuration.json` file.

[2018-01-20 17:32] mamellini commented on #1473
Thank you so much!

[2018-01-20 21:01] bakeunbin opened #1477 "C++17 namespace?"
when I type something like namespace schmerzmittel::vulkan, ::vulkan portion of the name doesn't get highlighted.

[2018-01-21 08:39] vasa-chi commented on #1476
I can help with this one :)
Basically vscode's snippets are language-specific, and .h files can be detected as C++ instead of C.
So snippets for C would not work in .h files, detected as C++. Manually switch detected language, and everything is fine.

[2018-01-21 09:34] cxk99 commented on #1476
Yes, you are right. Thanks for your help.
I tried, it just work as you said.
By manually switch the language of .h file from C++ to C , my snippet defined in "c.json" works fine.
Thanks for the answer.

[2018-01-21 19:31] raghavk92 commented on #1474
@sean-mcmanus  the version of cpp tools is 0.14.6 .But even when no other active processes are going on . Its just one chrome tab and one window of vscode running still the updating intellisense is indefinite and its there since i opened vscode(5 seconds into opening vscode)

[2018-01-21 21:39] valkuzn commented on #694
I was able to install version 0.14.5 using offline installers. Recently it was automatically updated to 0.14.6 and i again got this error message:

"Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)'  Failed. Retrying... Failed. Retrying... Failed. Retrying...Waiting 8 seconds... Failed. Retrying...Waiting 16 seconds... Failed. Retrying...Waiting 32 seconds..

[2018-01-22 02:06] zinechant commented on #1106
![image](https://user-images.githubusercontent.com/7436105/35202092-1266af18-fee6-11e7-8e94-0442631a8685.png)
It seems there is no such cute database icon in Linux. Only a red fire icon with the caption 'Updating IntelliSense...'.
Or are these two different phases of updating intellisence?

[2018-01-22 04:03] KazNX commented on #1116
Please note the additional comments on https://github.com/Microsoft/MIEngine/issues/657

[2018-01-22 09:12] xueyunquan opened #1479 "Some functions fail to open for the "Go to definition" command"
- VSCode Version: Code 1.19.2 (490ef761b76b3f3b3832eff7a588aac891e5fe80, 2018-01-10T15:57:21.071Z)
- OS Version: Linux x64 4.13.0-25-generic (Ubuntu 17.10 running in a virtualbox VM)
- Extensions:

Extension|Author (truncated)|Version
---|---|---
EditorConfig|Edi|0.11.1
material-icon-theme|PKi|3.2.1
arm|dan|0.1.2
githistory|don|0.3.4
gitlens|eam|7.5.6
vscode-npm-script|eg2|0.3.3
LogFileHighlighter

[2018-01-22 09:17] sean-mcmanus commented on #1474
Did you see this for how to set things up correctly? https://github.com/Microsoft/vscode-cpptools/blob/ddcc97ddaa02b7a9d057dc8b0e64b4fc85f866d5/Documentation/LanguageServer/Windows%20Subsystem%20for%20Linux.md

Do you see any errors in the C/C++ output window?

Is the Microsoft.VSCode.Cpp.IntelliSense.Msvc.exe process using CPU or does it appear to be deadlocked? What about the Microsoft.VSCode.Cp

[2018-01-22 09:22] sean-mcmanus commented on #1464
We have it scheduled for March, but the schedule could change.

[2018-01-22 09:32] tomhughes commented on #1471
I did already have a dependency on the `cpptools` extension but I've tried await the activation as well now and that doesn't seem to help.

I also tried changing my extension so that instead of starting the debug session from it's activation function it does it from a command so that I can trigger it later but that doesn't seem to help either and so far I haven't managed to find any way to debug i

[2018-01-22 09:40] sean-mcmanus commented on #883
It looks like you tried to add the change to VS Code itself, which seems fine, but if a correct implementation can't be done with the regex then maybe we'd have to use our lexer code to get correct behavior, but I'm not sure if the VS Code language protocol has a way for us to implement this.

[2018-01-22 09:41] #1473 closed, assigned to nobody

[2018-01-22 09:48] AndiDog commented on #1304
This would also allow adding include paths to IntelliSense which are relative to the current Git repo. That is important since usually workspace root(s) != Git repos.

[2018-01-22 09:51] sean-mcmanus commented on #1477
This behavior is implemented in atom/language-c, so I filed bug https://github.com/atom/language-c/issues/260 .

[2018-01-22 09:51] #1477 closed, assigned to nobody

[2018-01-22 10:00] #1476 closed, assigned to nobody

[2018-01-22 10:07] sean-mcmanus commented on #694
@valkuzn I think you want to set "extensions.autoUpdate" to false. What do you mean by installing the 0.14.6 vsix didn't help? Did you uninstall the previous online version? What error is shown with the 0.14.6 offline installer?

[2018-01-22 10:11] sean-mcmanus commented on #1106
@zinechant The database operation probably completed (unless some error occurred). If you open up a big enough workspace, you should see it appear. The database icon isn't "IntelliSense" -- it's the workspace symbol database parsing (appears on workspace opening, although a C++ command may need to be executed first for the extension to activate fully). The red flame is IntelliSense parsing of the

[2018-01-22 10:37] valkuzn commented on #694
@sean-mcmanus Right, so finally i disabled auto-update, uninstalled 0.14.6 and installed 0.14.5. And it's how it works right now.
But firstly, after auto-update i tried to re-install offline (VSIX) version of 0.14.6 (because i thought that it could be that online upgrade is different from offline VSIX), and it failed with the same error message (from my previous email).

Again:
1) I had working ve

[2018-01-22 10:58] csholmq commented on #883
Right. That was sort of my conclusion starting to look into this. I also commented that in https://github.com/Microsoft/vscode/issues/36148

[2018-01-22 11:28] Pillasaar commented on #1467
@pieandcakes Thanks for your reply!
I have never worked with gdb before except in the Uni and when I read about gdb server etc. I am a bit confused to be honest. Because all I knew was the GNU debugger that I used in a unix machine ages ago; obviously gdb has moved on a bit by the look of things.
I will explain what I am trying to do -

I have an IAR embedded work bench project (RX631 processor) t

[2018-01-22 11:36] aakre commented on #916
@sean-mcmanus Thanks for getting back to me on this. I tried adding GNUC, \_\_GNUC\_\_, \_\_GNUC\_\_=7 and even \_\_GNUC_MINOR\_\_=2 and \_\_GNUC_PATCHLEVEL\_\_=1 in several combinations but my integers are still undefined.

So I tried to construct a minimal example with this issue to investigate further (apologies for the long post)
My source code:

[code]

With default includePath and browsePath

[2018-01-22 16:58] bobbrow commented on #1474
We need to add timeout logic to the IntelliSense requests and kill the runaway process (after capturing and logging the offending stack)

[2018-01-22 18:43] WardenGnaw commented on #1471
Thank you for the repro!

In the test case you passed a string as the first parameter, ```vscode.debug.startDebugging``` expects a ```WorkspaceFolder```. See https://github.com/Microsoft/vscode/blob/81d6f2b1d3f350d3fae0750052b9cc100f166283/src/vs/vscode.d.ts#L6244

I got the test case to run the configuration by switching out ```"/"``` to ```vscode.workspace.workspaceFolders[0]```.

[2018-01-22 18:46] tomhughes commented on #1471
So is there a way to construct a workspace folder from a path? I'm guessing `vscode.workspace.getWorkspaceFolder` is the thing to use if I turn the path into a `file:` URl first...

[2018-01-22 18:58] WardenGnaw commented on #1471
You can create a workspace folder from a string with:
[code]

I will be closing this issue for now. If you have any other questions or you are still encountering this issue, please reopen this issue or continue the conversation here.

[2018-01-22 19:05] sean-mcmanus commented on #694
@valkuzn I'm not sure how to fix this, because I tried all your repro steps exactly, but the 0.14.6 VSIX installed successfully with no error, with no internet connection. My best guess is that the online 0.14.6 failed to uninstall fully, somehow blocking the offline 0.14.6 from installing. You might want to check `C:\Users\<user>\.vscode\extensions\ms-vscode.cpptools-0.14.6` to make sure it's gon

[2018-01-22 19:18] sean-mcmanus opened #1481 "Discovering files... can appear stuck if the workspace is too large."
If the workspace is super huge and has hundreds of thousands of folders, then our code gets stuck enumerating files with no progress indicator change.

Workaround: Such a large workspace probably should not be used (open the multiple subfolders you actually need instead). VS 2017 fails to handle this as well.

This could be fixed via switching to a breadth first processing of files, but it doesn't

[2018-01-22 19:19] ntphx commented on #811
Updating to the latest version of VSCode fixed this problem for me.

From: Stephen Buchanan <notifications@github.com>
Reply-To: Microsoft/vscode-cpptools <reply@reply.github.com>
Date: Monday, 8 January 2018 at 12:12
To: Microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: radiowest <bramvandecapelle@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vscode-cpp

[2018-01-22 19:57] sean-mcmanus commented on #916
@aakre Does the ordering of your includePaths match your compiler's defaults? We can't think of anything that could cause IntelliSense to give different results "sometimes" (other than issues with squiggles randomly not updating correctly after edits or edits to #included headers). We could try to install the arm-none-eabi/7.2.1 to see if we can repro the issue.

[2018-01-22 20:23] tristan957 commented on #13
@bobbrow what is keeping local/global completion slow?

[2018-01-22 20:24] sean-mcmanus commented on #1475
Okay, we fixed it via not issuing that warning if the missing file isn't under the workspace root.

[2018-01-22 20:30] sean-mcmanus commented on #13
The code that gets the list of variables that are valid in the current cursor position.

[2018-01-22 20:36] tristan957 commented on #13
I don't think I made myself clear. For instance, the python extension seems to handle globals and locals extremely well. Is there something about C/C++ that is holding this extension back?

[2018-01-22 20:49] sean-mcmanus commented on #13
@tristan957 We share code to compute this from VS 2017, but there are differences that cause our version to be slower that we need to investigate still. Our team decided to just ship the feature with scoped completion and we only spent a small amount of time investigating the global/local completion before it was decided to just shelve it for later. The complaints about this have started to bubble

[2018-01-22 20:50] #1471 closed, assigned to nobody

[2018-01-22 21:05] tristan957 commented on #13
Sounds good. Thank you for the information.

[2018-01-22 21:17] pieandcakes commented on #1467
I've never worked with an emulator so I can't speak to your scenario. The easiest way to answer the question is when you are not using VS Code, how are you debugging this? Is it using `gdb` in the emulator or are you using `gdb` locally to communicate with some other debugger/debug process within the emulator?

That would help me give you a direction to start looking into.

[2018-01-23 02:27] sean-mcmanus commented on #1439
Actually, the cause for the failure was the fact that UCHAR is undefined. As soon as I add "typedef unsigned char UCHAR" then the "UCHAR ErrFunc" parses successfully. This behavior is "by design". Do you have another repro. The good news is that the UTF-8 > 1 char handling is correct in this case. Let us know if you think there's some change we can make to handle this better. IntelliSense will gen

[2018-01-23 03:50] LeThiHyVong commented on #1439
It's weird.
When I replace each 'ト' character to "tt" in all file (I suppose the ト is 2 bytes) then the parser also working correctly without a definition of UCHAR. (see sample_replaceト.c in attachment)
However, when I put UCHAR definition (like your) on the top of sample.c, the problem still persists. (see sample_uchardef.c in attachment).
Hope it helps.
[sample.zip](https://github.com/Microsoft/

[2018-01-23 07:43] jharveyb commented on #811
I have the same problem with the most recent versions of both the standard and Insider build.

glibc-source is on the path /usr/src/glibc/glibc-2.26/ for me and I would be happy to symlink it somewhere to resolve this if possible.

Edit: Resolved this by following what ChanJuiHuang did to resolve the same issue, as explained in #1094

Specifically, the error I received was that a file couldn't be

[2018-01-23 08:19] rizickus commented on #1083
Yes, changing to "clang-x64" removed _WIN32 define, thanks! I am using armclang.

[2018-01-23 08:58] tomhughes commented on #1471
Thanks for all your help - this is all working for me again now. In case anybody else runs across this I'll just point out that I also had to make sure the folder was open first:

[code]

and then use `workspace` as the argument when launching the debugger.

The API documentation does actually say that the first argument to `startDebugging` can be undefined but that didn't seem to work for me - if

[2018-01-23 09:30] anselanza commented on #811
I solved my issues by laboriously going through each third-party library linked in my project and adding their paths (under `includePath`) to `c_ppp_properties.json`

[2018-01-23 10:38] therealkenc commented on #1408
@MathiasMagnus

I am going to say this is [Microsoft/WSL#2870](https://github.com/Microsoft/WSL/issues/2870). `gdb` causes the debugee to "exit normally" from the command line on 17063/17074 as well. Work-around is to not disable (ie retain) ASLR behaviour (`set disable-randomization off`).

[2018-01-23 10:46] sean-mcmanus commented on #1439
Hmm, okay, sounds like there's still a UTF-8 related problem -- I'll investigate more.

[2018-01-23 13:45] RaJiska commented on #714
Same issue here.

[2018-01-23 14:57] aakre commented on #916
@sean-mcmanus The ordering match the output of the command:
`arm-none-eabi-gcc -Wp,-v -E -xc -x c++ /dev/null` if that is what you mean.

If you guys have the time and resources to investigate this, then that would be great! My setup is described in a previous post in this thread.

[2018-01-23 16:15] Gruntfuggly opened #1483 "Feature Request: Support for clang-rename"
Are there any plans for supporting clang-rename?

[2018-01-23 19:21] therealkenc commented on #1408
Can confirm that is the problem. In `launch.json`:
[code]

![wsl-vscode-cpptools](https://user-images.githubusercontent.com/7049700/35295976-8bd69a44-002f-11e8-9c54-25bb2b1a6791.png)

[2018-01-23 19:24] pieandcakes commented on #811
@jharveyb Your other option to fix the missing code file is to setup a `"sourceFileMap"` from the expected location to your actual location for the root of the files for glibc.

This happens when you stop in glibc library code during debugging and gdb returns to us a location for this code file. Because we don't know that it is a glibc library versus your code, we still return the path to VSCode.

[2018-01-23 19:38] sean-mcmanus opened #1484 "uint8_t undefined with arm-none-eabi toolset"
Moved from issue https://github.com/Microsoft/vscode-cpptools/issues/916#issuecomment-359398467 by @aakre.

@sean-mcmanus Thanks for getting back to me on this. I tried adding GNUC, \_\_GNUC\_\_, \_\_GNUC\_\_=7 and even \_\_GNUC_MINOR\_\_=2 and \_\_GNUC_PATCHLEVEL\_\_=1 in several combinations but my integers are still undefined.

So I tried to construct a minimal example with this issue to invest

[2018-01-23 19:41] sean-mcmanus commented on #916
@aakre I moved this to https://github.com/Microsoft/vscode-cpptools/issues/1484 -- it's too hard to track as part of a closed issue.

[2018-01-23 19:47] sean-mcmanus commented on #1484
@aakre I got the arm-none-eabi and I'm able to repro the bug as described.

[2018-01-23 20:01] iongion opened #1485 "Identifier not found but able to ctrl+click for definition"
Using latest msys2 (`pacman -Syuu`)

The error is `identifier "lua_State" is undefined`, but as you see in the picture, it is not, it is able to find/it

![image](https://user-images.githubusercontent.com/867609/35297794-601f5e30-0080-11e8-932d-381e07c73651.png)

My `c_cpp_properties.json` is:

[code]

I have built and compiled lua5.3 from source, is present in the `/usr/local/include` , on disk i

[2018-01-23 20:10] iongion commented on #1485
I have attached the problematic project too
[xmoonvg.zip](https://github.com/Microsoft/vscode-cpptools/files/1657445/xmoonvg.zip)

Lua5.3 is installed using:
[code]

[2018-01-23 20:26] sean-mcmanus commented on #1484
@aakre With the headers you're using `__UINT8_TYPE__` and `__INT8_TYPE__` are not defined. Adding those to the defines fixes the issue for me ( `"defines": ["__UINT8_TYPE__=unsigned char", "__INT8_TYPE__=char"],`). You should find out where your compiler is getting those definitions from (I assume `arm-none-eabi-gcc -Wp,-v -E -xc -x c++ /dev/null` would show this). We have an issue on our backlog

[2018-01-23 20:37] sean-mcmanus commented on #1483
We eventually plan to implement rename (https://github.com/Microsoft/vscode-cpptools/issues/296 ). We're not planning to implement support via clang-rename, but if someone wants to contribute that we'd be willing to consider adding it, assuming it isn't too buggy and it works across multiple translation units.

[2018-01-23 21:28] sean-mcmanus commented on #1485
If Go to Definition works on the file that means the variable is found recursively via the browse.path, but it ignores #if macros, so your includePath could be missing a path your or defines could be missing something. What file is lua_State defined in? I don't remember if we support `"./"` in the paths -- you may want to change that to use `"${workspaceRoot}/"`. See https://github.com/Microsoft/v

[2018-01-23 21:50] pieandcakes commented on #1408
@therealkenc thanks for figuring it out. I'll add it to the documentation for WSL

[2018-01-23 21:59] iongion commented on #1485
There is only the typedef, without the body of the struct, it is present in W:\SDKs\msys2\usr\local\include\lua.h

When I compile and install lua 5.3:
[code]

I see the file being present in `W:\Workspace\moonlibs\lua-5.3.4\src`
The `lstate.h` contains the body of the struct - https://www.lua.org/source/5.3/lstate.h.html#lua_State
The `lstate.h` file is not deployed to /usr/local/include, the lua

[2018-01-23 22:01] iongion commented on #1485
From this, it is rather obvious that VSCode cannot find it, but what should I do ?
Keep the sources of lua-5.3.4 and add all `*.h` files to search path ?
I guess it is a common case to have the struct defined in a non publicly exposed API

[2018-01-23 22:03] sean-mcmanus commented on #1485
The typedef should be sufficient to get rid of the error message -- it looks like it's not finding the typedef.

[2018-01-23 22:05] iongion commented on #1485
Weird, as the tooltip in the first screenshot tells that it has found it, If I ctrl+hover, I get this:

![image](https://user-images.githubusercontent.com/867609/35303339-e61686d8-0091-11e8-9d84-f5cb0a147073.png)

[2018-01-23 22:07] sean-mcmanus commented on #1485
It's found via our symbol engine not IntelliSense -- it appears to be a bug with the clang-x64 mode, which doesn't repro with msvc-x64.

[2018-01-23 22:09] iongion commented on #1485
Thank you, I would have used `${workspaceRoot}` but the docs only mention `${workspaceFolder}` that is https://code.visualstudio.com/docs/editor/tasks#_variable-substitution but that one does not work, changed it as you instructed and it truly works indeed, as with the `./`

[2018-01-23 22:30] sean-mcmanus commented on #1485
So is the issue gone now? The error I was seeing with clang-x64 mode was caused by another issue (size_t not found), but it worked after I fixed that.

[2018-01-23 22:39] therealkenc commented on #1408
Can do. But note it is probably a very small window. `gdb` broke in 17063, which just happened _entirely coincidentally_ to be the release that VS Code lit up on WSL. It will almost certainly get resolved in a near-future Insiders release (with complete acknowledgement I have no standing to predict when it will be fixed). I'm just saying `gdb` isn't going to stay broken forever, so don't enshrine

[2018-01-23 23:06] mohamedotnet commented on #1041
@andythedandyone: kindly, go to settings.json and set `"C_Cpp.intelliSenseEngine"` from `"Default"` to
`"Tag Parser"`

[2018-01-23 23:21] Iansa9 commented on #954
I am no expert, but maybe you are dealing with CRLF issues between Operating Systems, I had a similar problem with a simple c++ program and that was the issue.

[2018-01-23 23:51] pieandcakes commented on #1408
@therealkenc Ah. Then maybe not. I'll also assume that with the official release it should be fixed.

[2018-01-24 00:11] sean-mcmanus commented on #1439
What encoding is that file supposed to be? VS Code is opening it as UTF-8, but as soon as I make a change and save the file, it appears to modify the string characters somehow and the bug goes away. It's possible our internal document format is corrupting the data...

[2018-01-24 02:23] sean-mcmanus commented on #1439
Wow -- it looks like once the file is modified/saved, the encoding changes are not undo-able using VS Code. The character changes are being done by VS Code (not our extension), which suggests that the file originally was not meant for UTF-8 encoding? The original characters cause our tag parser to fail, causing the ErrFunc to not be found. It doesn't repro in VS 2017 because they do some extra cod

[2018-01-24 02:42] sean-mcmanus commented on #1479
I'm able to repro the problem.

[2018-01-24 02:55] sean-mcmanus commented on #1479
LIST_FOR_EACH_ENTRY is the cause. Our symbol parser doesn't handle macros and this breaks it. Adding a file named cpp.hint to your workspace with contents:
`
#define LIST_FOR_EACH_ENTRY(arg1, arg2, arg3)
#define LIST_FOR_EACH_ENTRY_SAFE(arg1, arg2, arg3, arg4)

`
should fix the issue. This is currently "by design", but we want to make the cpp.hint thing more accessible in the future. Is that worka

[2018-01-24 02:59] sean-mcmanus commented on #1337
The il_header crash is fixed, but it was our `#2` crash. The `#1` crash is still being investigated.

[2018-01-24 03:27] sean-mcmanus commented on #1391
This is quite bizarre -- our engine returns the correctly formatted code to VS Code, but it's somehow not being used -- looks like it could be a VS Code bug, but the scenario works for typescript.

[2018-01-24 04:30] azydevelopment opened #1486 "Code formatting causes characters to be added to the file (ie. corruption)"
- VSCode Version: Code 1.19.2 (490ef761b76b3f3b3832eff7a588aac891e5fe80, 2018-01-10T15:55:03.538Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
githistory|don|0.3.4
cpptools|ms-|0.14.6
csharp|ms-|1.13.1
PowerShell|ms-|1.5.1

---

Here's a weird one (which hopefully repros for you). Download this file:

[Untitled-2 - Copy.txt](https://githu

[2018-01-24 04:45] LeThiHyVong commented on #1439
Sorry for not mention, the file encoding is Shift jis.

[2018-01-24 07:39] SonnyBonds commented on #1218
@sean-mcmanus A bit of a side track, but do you know why "program" is required when attaching really? If the binary is needed somehow, could it not at least be deduced from the selected process?

[2018-01-24 08:16] aakre commented on #1484
@sean-mcmanus Thank you for excellent support!

Defining the types manually as you suggest fixes the issue. At least in my case I also have to exclude `compile_commands.json` for this to work. Thanks again :)

[2018-01-24 09:44] MathiasMagnus commented on #1408
Thank you @therealkenc, makes my life a whole lot easier. I finally got the AMD-v enabled BIOS, so I have an insider build inside Hyper-V (still not verified myself, cause it's merging snapshots on a HDD, takes **forever**), but I believe you. I'll update my launch.json accordingly (or create a `.gdbinit` if that works).

Back to porting GNU C to ISO C! Hooray! _Or hooray?_

[2018-01-24 09:44] #1408 closed, assigned to nobody

[2018-01-24 09:52] Gruntfuggly commented on #1483
OK, thanks.

[2018-01-24 10:48] iongion commented on #1485
Sorry @sean-mcmanus , I was not clear and I rushed, if I use the `${workspaceRoot}` then it is unable to find the includes for those submodules projects(`lautoc.h` and the others). I have created a project https://github.com/iongion/xmoonvg where I also committed the vscode files. When I code on Windows, I have solved it by using `"intelliSenseMode": "msvc-x64"`, when I develop on mac or linux, if

[2018-01-24 10:57] sean-mcmanus commented on #1486
I'm not able to get any malformed characters or corruption to occur. What could I be doing wrong/differently? Does it only repro after you format? Or does any edit/save work (and/or edit/save without our extension installed)? There's another bug I've seen in which VS Code will alter the text after any edit/save, apparently due to some encoding peculiarity.

[2018-01-24 11:08] sean-mcmanus commented on #1218
@Dentoid I seem to recall complaining about this to @pieandcakes and he told me that "program" tells gdb/lldb where to locate symbols, but I don't recall why the path can't be deduced from the process id.

[2018-01-24 11:25] sean-mcmanus commented on #1485
No, I fixed it via replacing size_t by int in the header. You generally should only use msvc-64 if your compiler is cl.exe and not gcc/clang, on any OS. Are you getting any error squiggles in the header that contains the typedef? I'll take a look at your repro project at this later....

[2018-01-24 11:32] SonnyBonds commented on #1218
@sean-mcmanus Just did a quick test, and setting it to "/usr/bin/man" or whatever seems to work as well (breakpoints, stepping, variables, call stack, etc.), so it really looks a bit unneccessary.

[2018-01-24 11:38] philippludwig commented on #1474
I've encountered the same issue since a few days; there are no errors in the C/C++ output window, no CPU usage. The process "Microsoft.VSCode.CPP.Extension.Linux" has a Zombie child process called "Microsoft.VSCod" (that's exactly how it's called).

Using version 0.14.6 of the cpptools, resetting the IntelliSense Database doesn't seem to do anything.

Steps to reproduce:

1. Create an empty folder

[2018-01-24 16:59] bobbrow commented on #1486
There appears to be bad characters before the `:` characters in the file.  You can open it with Notepad++ and see.  If you paste the code into VSCode it replaces those characters with spaces which is probably what Sean saw.  Where did you get this code from?  Copied from the Internet?  You can simply delete the characters and then everything will be fine.

[2018-01-24 16:59] #1486 closed, assigned to nobody

[2018-01-24 17:28] Yanpas opened #1487 "Context aware goto-definition"
Code sample:
[code]

If I go to definiton of foo in `aa.foo` it pops up and suggests me both structs, but who cares about struct B, since foo is not virtual.

[2018-01-24 17:45] bobbrow commented on #1487
Thanks for the feedback.  We are tracking this feature with #255 and I would encourage you to go upvote it.  The current implementation does not use semantic information.

[2018-01-24 17:45] #1487 closed, assigned to nobody

[2018-01-24 17:59] jsehull commented on #1040
I've gotten this often on one-off files lately (last couple weeks only). I tried to follow along and find something, but I'm not sure what else to say. Still happens to me on a new C: file, just a heads up

Commit 490ef761b76b3f3b3832eff7a588aac891e5fe80
Date 2018-01-10T15:55:03.538Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

[2018-01-24 18:02] pieandcakes commented on #1408
@MathiasMagnus I don't envy you! :)

[2018-01-24 18:46] bobbrow commented on #1040
@jsehull can you create a new issue and specify your OS and the cpptools extension version?

[2018-01-24 19:01] mikecancilla commented on #1104
Is there a way to print/echo the value of $workspaceRoot?

[2018-01-24 19:42] pieandcakes commented on #1104
@mikecancilla We rely on [VSCode](https://github.com/microsoft/vscode/issues) to resolve ${workspaceRoot} and ${workspaceFolder} so therefore we don't have a way to query it. You may want to ask over on their issues page.

[2018-01-24 19:49] jsehull commented on #1040
I messed up :/ no cpptools - I saw this issue all over the place and replied here on accident thinking it was a different general issue (wrong tab). Sorry about that! I'll have to decide where to feedback on this...

Maybe this helps shed light that it's not just cpptools? Sorry!

[2018-01-24 20:18] sean-mcmanus commented on #1486
So our extension wasn't causing any corruption?

[2018-01-24 20:28] sean-mcmanus commented on #1104
@mikecancilla I don't think VS Code uses ${workspaceRoot} -- they replaced it with ${workspaceFolder}. Our c_cpp_properties.json is the only thing that still uses it. If you have at least 2 workspace folders in the VS Code Explorer tab, you can right-click one of the folders and do a Copy Path to get the associated ${workspaceFolder}.

[2018-01-24 21:59] sean-mcmanus commented on #1391
It appears to be a VS Code bug: https://github.com/Microsoft/vscode/issues/42119 . I'll keep this open to track the issue.

[2018-01-24 22:09] mikecancilla commented on #1104
Thank you for the replies.

[2018-01-24 22:17] sean-mcmanus commented on #1485
Yeah, I'm not able to get this bug to repro still. I used the xmoonvg project and then added the 4 lua header files and commented out the 4 header files I didn't have (lautoc.h/nano*.h") and IntelliSense finds lua_State. I had to add "${workspaceRoot}/src" to the includePath.

![image](https://user-images.githubusercontent.com/19859882/35360018-1919b1d4-0111-11e8-9ea1-f7cf7773c6c0.png)

[2018-01-24 22:20] sean-mcmanus opened #1489 "includePath code action can add duplicate paths"
We might already have an issue on this, but the includePath code action shouldn't prompt to add paths that already exist in the includePath (causing duplicate entries). Interestingly, adding the duplicate includePath appeared to fix the missing includePath I was seeing, I believe because it forced a refresh of the squiggles.

The workaround is to remove the duplicate path, and we remove the duplic

[2018-01-24 22:24] yepher commented on #368
Here is my use-case which looks a little different from others. I am working on a Mac but the files I am editing are remote on a Linux box.  To do this I am using [`rcode`](https://codepen.io/ginfuru/post/remote-editing-files-with-ssh) and ssh port forwarding. This is my ~/.ssh/config file:

[code]
Port 52698 is for `rcode` and port 6666 is my `gdbserver`.

So I would like to have a global include

[2018-01-24 22:26] sean-mcmanus commented on #1137
From what I've seen so far, this "source_file_for_seq" crash only occurs if headers can't be found and/or there are too many errors (i.e. due to missing headers), so one potential work around is to make sure the includePaths can be found by IntelliSense. However, we still want to fix this crash, since it's our highest hitter, and we have a repro internally (the fixed corrupted il_header bug I ment

[2018-01-24 22:32] bobbrow commented on #368
We do support environment variables in the includePath.  We also support semicolons as a path break if you happen to use an environment variable that defines multiple paths.

You can use `${C_INCLUDE_PATH}` or `${env:C_INCLUDE_PATH}`.  Either syntax is fine.

[2018-01-24 22:56] yepher commented on #368
Great, then that should solve my use case. Although I just tried and it seems I have to have a directory open for that to work. In `rcode` case there is no way to open a directory. Instead, you must open single files.

I assume no work around for that?

[2018-01-24 23:57] bobbrow commented on #368
Can you create and open an empty folder somewhere on your local host and still use rcode to pull in your files?  The c_cpp_properties.json file has to live somewhere, and we don't currently have a mechanism that wires this up in the single file case unless a folder is open. In the future, when c_cpp_properties.json is moved into the settings, you shouldn't need this workaround.

[2018-01-25 01:18] saichaitanyaeruvaram commented on #1104
My workspaceRoot is D:\ws
in tasks.json .. ${workspaceRoot} resolves to D:ws
However, it works correctly in launch.json .. ${workspaceRoot} resolves to D:\ws

version 1.19.2, x64

Can anyone provide inputs?

[2018-01-25 01:22] sean-mcmanus commented on #1104
@saichaitanyaeruvaram Can you switch everything to `${workspaceFolder}`?

[2018-01-25 01:37] yepher commented on #368
Yea, I will do that. I guess my request was in the vein of a global c_cpp_properties.json maybe in ~/.vscode/c_cpp_properties.json or something like that.

Your advice has helped me a lot and is a great workaround for the issue I was having.

[2018-01-25 01:37] sean-mcmanus commented on #1137
@deepskyblue86 @eskild Changing line
`      "--exceptions",`
to
`      "--exceptions",
      "--error_limit",
      "2147483647",`
in msvc.json in the bin folder of the cpptools extension should fix the crash, although it's possible we might come up with a better fix later. If the crash still occurs after this change, that would mean our parsing is failing for another reason and we'd have to do a

[2018-01-25 02:24] therealkenc commented on #1408
Just confirmed this is fixed in Insiders [17083](https://docs.microsoft.com/en-us/windows/wsl/release-notes#build-17083) released today. So my posted work-around had a lifespan of around 24 hours....

[2018-01-25 05:49] saichaitanyaeruvaram commented on #1104
@sean-mcmanus For me .. workspaceFolder and worksapceRoot are same and I tried both..
tasks.json

` "command": "${workspaceRoot}/node_modules/.bin/tsc.cmd -p ${workspaceRoot}"`
` "command": "${workspaceFolder}/node_modules/.bin/tsc.cmd -p ${workspaceFolder}"`
` "command": "D:/ws/node_modules/.bin/tsc.cmd -p D:/ws"`
Only the last 1 works ..where I hard-code path

[2018-01-25 08:20] azydevelopment commented on #1486
Oh so that's where it was. It doesn't show up in VSCode or Notepad and I've since uninstalled Notepad++ (in favor of VSCode :)).

[2018-01-25 10:20] sean-mcmanus commented on #1104
@saichaitanyaeruvaram Can you file a VS Code bug? https://github.com/Microsoft/vscode . The docs say it's supposed to work https://code.visualstudio.com/docs/editor/variables-reference .

[2018-01-25 11:19] Addie2595 opened #1491 "Unable to start debugging. Program path "C:\Users\me\Repositories\cppplayground\first.exe" is missing or invalid."
This is my first.cpp:

    #include <iostream>

    int main() {
        std::cout << "Hello world!"<< std::endl;
        return 0;
    }

c_cpp_properties.json:

    {
        "configurations": [
            {
                "name": "Win32",
                "intelliSenseMode": "clang-x64",
                "includePath": [
                    "${workspaceRoot}",
                    "C:/MinGW/lib/

[2018-01-25 12:09] berrg commented on #1474
I've also this issue, but do not think I have any empty folder or files unless they exits in mbed/platformIO library.

When it get stuck, indent, peak, goto etc. stops working.

If I compile the project all files get complied even unchanged files.

[2018-01-25 16:28] bobbrow commented on #368
We are planning to support global configs by removing the c_cpp_properties.json file completely and moving its content to VSCode's settings file.

[2018-01-25 17:16] bobbrow commented on #1491
can you try adding `"-g"` to your task "args"?  You need to output symbol information in order for debugging to work.

[2018-01-25 19:31] sean-mcmanus commented on #1474
@philippludwig I'm not able to repro the stuck red flame with your repro steps. However, I've seen dangling processes sometimes on my Linux machine (attempting to attach a debugger failed). I don't know of a repro yet. We'll try to come up with some way to make the IntelliSense process more robust/responsive.

[2018-01-25 19:33] philippludwig commented on #1474
@sean-mcmanus Thank you for taking your time to reply here. I've also investigated the problem further and setup VSCode on another machine, and there everything works as expected. Therefore I guess it is a problem with my setup.
I've looked for debugging logs or something similar, but could not find any. If you don't mind, could you maybe point me into the right direction to acquire more informati

[2018-01-25 19:38] sean-mcmanus commented on #1474
@philippludwig We have the C_Cpp.loggingLevel setting, but we might not log enough info about the IntelliSense process, unless there's connection failure/crash. If you can get a debugger attached or a core dump and a call stack, that could help. We've fixed some crashes for our pending 0.15.0, but normally when there's a crash the process should exit instead of zombie.

[2018-01-25 19:55] philippludwig commented on #1474
I will report back tomorrow with as much information as I can, thanks.

[2018-01-25 22:35] nadous commented on #1474
I've encountered the same issue. It's gone if I remove ccpcheck extension.

[2018-01-25 22:54] sean-mcmanus commented on #1465
@decimad 1. We're adding a setting to your compiler path. 2. We'll also query the compiler for defines. I think that would solve your issue.

[2018-01-25 23:23] sean-mcmanus commented on #1448
We're adding some sort of compilerPath option, which should fix this issue when set to the gcc path. Later we might add more IntelliSenseMode options, but the intelliSenseMode shouldn't be needed if the compilerPath is set and is valid, because it should take precedence.

[2018-01-25 23:53] sean-mcmanus commented on #1293
Yeah, we're going to query the compiler we find for the system defines and add a setting to be able to set the compiler path to use (i.e. if the automatically found one is not the one desired).

[2018-01-26 00:48] sean-mcmanus commented on #1484
-dD can be used to see the internal defines used by arm-none-eabi-gcc -- we're planning to automatically set those defines and an option to set the compiler, so then compile_commands.json will be usable too.

[2018-01-26 01:16] sean-mcmanus commented on #1444
This can be implemented in our open source code via adding a C_Cpp.configuration setting and the using ${config.C_Cpp.configuration} in your task.json. The config index is currently saved in the workspace "persistent state". I agree it would be good to add, but I'm not sure when we'll get around to it yet due to higher priority tasks.

[2018-01-26 02:01] lumonix commented on #1448
Sounds good!

[2018-01-26 08:04] philippludwig commented on #1474
Allright, so here is a call stack of the sleeping "Microsoft.VSCode.CPP.Extension.Linux" process:

    #0  __lll_lock_wait () at ../sysdeps/unix/sysv/linux/x86_64/lowlevellock.S:135
    #1  0x00007fdd9aea8ab6 in __GI___pthread_mutex_lock (mutex=0xfa7350 <_cs>)
    at ../nptl/pthread_mutex_lock.c:115
    #2  0x0000000000b5d82a in std::__1::recursive_mutex::lock() ()
    #3  0x000000000059a8ee in in

[2018-01-26 10:14] eskild commented on #1137
@sean-mcmanus Sounds good, thank you. I really hope it goes away now; I've added the params to msvc.json, and then we'll see.

Please forgive me for saying this, because I haven't done the debugging and therefore I'm ignorant, but doesn't this smell a bit more of workaround than fix? I mean, given sufficiently "hostile" input, we might end up with the problem manifesting itself again. Or?

[2018-01-26 10:18] spinicist commented on #1219
I'm having the same problem as @echosys on a Mac. Both for `externalConsole` set to `true` and `false`, my program hangs, waiting for input when it tries to read `stdin`.

If you look at @echosys post above, with `externalConsole` set to `true` you can see that the `argv` array is being built incorrectly, with the `< file.txt` added to the arguments instead of being processed separately. I see the

[2018-01-26 17:12] bobbrow commented on #1137
It's not easy for us to determine if the IntelliSense engine is stuck in an infinite loop or legitimately taking a long time, but we are considering adding logic to terminate and disable it if the QoS is sufficiently bad for a given code file.  I think it would be safe to say that if parsing or IntelliSense operations take more than ## seconds/minutes each, then the engine is not serving you in an

[2018-01-26 17:20] yepher commented on #78
With this discussion maybe VSCode should be added here: https://sourceware.org/gdb/wiki/GDB%20Front%20Ends

[2018-01-26 20:29] sean-mcmanus commented on #1137
@eskild Yeah, it's a workaround to avoid the crash. If we see this is still a problem, we'll investigate fixing the root cause (error limit aborting causes a data structure to be missing expected data, leading to a crash). The buggy code is "owned" by another team in VS so maybe they'll fix the root issue later. It sounds like @bobbrow is talking about a different issue (intelliSense getting stuck

[2018-01-26 20:46] witM commented on #1444
Thanks  for informations, I'll be look for future updates for this. It
seems to be natural to be something like this variable.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link

[2018-01-26 23:44] sean-mcmanus commented on #1474
@philippludwig Another IntelliSense thread is blocking the shutdown request. We'll try to just kill the IntelliSense process.

[2018-01-26 23:45] saichaitanyaeruvaram opened #1495 "windows 10 x64 tasks.json workspaceRoot is not resolved properly"
My workspaceRoot is D:\ws

in tasks.json .. ${workspaceRoot} resolves to D:ws

However, it works correctly in launch.json for debug .. ${workspaceRoot} resolves to D:\ws

vscode version 1.19.2, windows 10 x64

tasks.json

"command": "${workspaceRoot}/node_modules/.bin/tsc.cmd -p ${workspaceRoot}"
"command": "${workspaceFolder}/node_modules/.bin/tsc.cmd -p ${workspaceFolder}"
"command": "D:/ws/node

[2018-01-26 23:47] #1495 closed, assigned to nobody

[2018-01-26 23:47] saichaitanyaeruvaram commented on #1495
wrong project

[2018-01-27 00:13] saichaitanyaeruvaram commented on #1104
@sean-mcmanus  https://github.com/Microsoft/vscode/issues/42228

[2018-01-27 00:54] sean-mcmanus commented on #1474
@philippludwig How did you get that call stack for Microsoft.VSCode.CPP.Extension.Linux? When VS Code is closed, it's supposed to kill that process in 5 seconds. Did you do something to prevent that? Is that process dangling for you too?

[2018-01-27 08:36] philippludwig commented on #1474
This process is indeed dangling, it is the parent process of the zombie process. After some time I have several of those; when I close VSCode, these processes continue to run.

Therefore I can just gdb attach to them, without doing anything special.

[2018-01-27 11:32] lokeb opened #1496 "Unknown 'PROBLEMS'"
[code]
It is giving me problems that don't make any sense, even though my program compiles, debugs and runs just fine. Also why does it open a new terminal window for debugging, when there is an embedded terminal?

![screen shot 2018-01-27 at 4 55 26 pm](https://user-images.githubusercontent.com/9778706/35471565-6f97e278-0383-11e8-9c00-18d19d8fdf4d.png)

[2018-01-27 15:10] alanjmcf commented on #941
I guess a workaround for memory display, is to -exec the gdb x command in the Debug Console

e.g. to see 16 bytes in hex
`-exec x/16x 0x7fffffffc186`

![screenshot from 2018-01-27 15-08-33](https://user-images.githubusercontent.com/26221920/35473186-11705b94-0374-11e8-89a0-62b37a77d967.png)

[2018-01-27 18:42] jalalmostafa commented on #1199
The issue happens if you have an include file of exactly the same as a header file of the toolchain.
e.g. including a local `parser.h` while including `C:\Program Files (x86)\Windows Kits\10\Include\10.0.16299.0\um` in your ` c_cpp_properties.json` which also has `parser.h`. It seems VSCode cannot prioritize local files even if you include them with double quotes like `#include "parser.h"`.

Windo

[2018-01-28 03:57] zajo commented on #1395
I think I have something to help you diagnose this: in this library (http://zajo.github.io/boost-synapse/), there is a configuration macro, `BOOST_SYNAPSE_USE_STD_SMART_PTR`, which can be used to control whether it uses `boost::shared_ptr` or `std::shared_ptr`, and it never refers to shared_ptr with its fully qualified name. When I added this macro to `c_cpp_properties.json`, the bogus intellisens

[2018-01-28 12:27] pe224 opened #1497 "Crash when including QtCore"
* Windows 10 Home, 1709, 16299.192
* MinGW 32bit toolchain (came bundled with standard Qt install)
*   VSCode
    Version 1.20.0-insider
    Commit 89264676133f25c4990706c889a48eab277544f7
    Date 2018-01-26T05:15:09.585Z
    Shell 1.7.9
    Renderer 58.0.3029.110
    Node 7.9.0
    Architecture x64
* cpptools 0.14.6
* issue persists after disabling all other extensions

I could reduce the crash

[2018-01-29 08:20] eskild commented on #1137
@sean-mcmanus Thanks for elaborating, appreciate it! :+1:

[2018-01-29 08:54] sean-mcmanus commented on #1199
@jalalmostafa The priority for includePaths is from top to bottom order. You should put the system include files last in the list.

[2018-01-29 09:01] sean-mcmanus commented on #1497
Thanks for the repro details. We've fixed 3 crashes in our pending update, but I'll see if I can repro this.

[2018-01-29 13:37] josesimoes opened #1498 "trying to replicate a gdbinit file"
I have the following gdbinit that I'm trying to replicate in a launch.json file:

[code]

the above is supposed to be used in called from the command prompt with `arm-none-eabi-gdb -x gdbinit nanoCLR.elf`. And it works just fine: the image is loaded and after sending a continue command the target starts to do it's thing.

I would like to be able to either: 1) start a debug session from VS Code (I

[2018-01-29 21:00] sean-mcmanus commented on #1496
The error squiggles may not have been updated soon enough -- are you seeing the same problem after closing/reopening the file?

[2018-01-29 21:52] sean-mcmanus commented on #1497
On Linux with QT 5.6, I need to add the parent "include" folder in order to get the QtCore paths to resolve. Does adding that path fix your issue? (e.g. `"C:/Qt/5.10.0/mingw53_32/include"`).

[2018-01-30 01:07] sean-mcmanus commented on #1497
I was able to repro the crash -- fortunately, in our pending 0.15.0-insiders release the crash is already fixed (i.e. duplicate of one of the other crashes we fixed). We'll try to make it available in the next few days.

[2018-01-30 03:36] sean-mcmanus commented on #1434
I just found a way to cause a chunk of code causing errors to be ignored by our IntelliSense compiler:
`#ifndef __INTELLISENSE__
// code that generates an error squiggle
#endif`

Is that sufficient?

[2018-01-30 04:21] sean-mcmanus commented on #1014
FYI, our IntelliSense compiler is being updated in February, but it still doesn't have the fix for this (it might be in the next compiler update we get, but I don't know yet). One potential workaround to get rid of the error is to surround your code in
`#ifndef __INTELLISENSE__
// code that generates an error squiggle
#endif
`

[2018-01-30 05:19] lokeb commented on #1496
That's true. After reopening it's fixed. But why do I have to reopen? After I update a file, shouldn't the debugger ask to rebuild before running. The debugger uses the old executable, if build is not called.

[2018-01-30 07:57] tehsunnliu commented on #1445
Hi all even I'm facing the same problem. I don't understand what "Set an environment variable CPPTOOLS_DEV=1" exactly means. Do I set my system environment variable or in some file I need to make this change? Help will be really appreciated. Thank you.

[2018-01-30 08:34] sean-mcmanus commented on #1496
We have to queue an update request after an edit, but I think we may have a bug in which the update may not occur or may get lost under certain random conditions (or it could just be delayed by a few seconds). Making an edit and then saving may also force an update and remove the errors. This has nothing to do with the debugger or executable -- it's our IntelliSense process.

[2018-01-30 10:37] alexdima opened #1500 "c_cpp_properties.json file rewritten *every* restart"
Moved from https://github.com/Microsoft/vscode/issues/42349
From @gdamore

---

- VSCode Version: Code 1.19.3 (7c4205b5c6e52a53b81c69d2b2dc8a627abaa0ba, 2018-01-25T10:25:01.248Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-docker|Pet|0.0.23
Go|luk|0.6.73
cmake-tools-helper|mad|0.1.1
cpptools|ms-|0.14.6
cmake|twx|0.0.17
cmake-tools|vec|0.10

[2018-01-30 12:27] HackerBaloo commented on #642
What can you do without -exec?
Could -exec be the default for what happens in the debug console perhaps. It would make it much easier to transit into VSCode from gdb.

[2018-01-30 15:47] killerkalamari opened #1501 "Changes to header files are not reflected in dependent translation units"
Quite often, I'll manually refactor a header file or source file, and there will be a bunch of "Problem"s listed at the bottom, but then I'll compile and the compile will be successful. Well, the compile could be too permissive, right? However, I've discovered that, whether I compile or not, if I close the folder (or workspace), and then reload it, then the extension will notice that everything's

[2018-01-30 16:54] bobbrow commented on #1500
cmake-tools-helper is the most likely culprit.  It is known to wipe your c_cpp_properties.json file in certain circumstances.

[2018-01-30 17:03] bobbrow commented on #1501
There is definitely something wrong with the refactor scenario if you are seeing out of date problems.  One scenario I know we don't do correctly yet is when a header is updated we don't update all translation units that might be referencing it.  We only update the first one that was opened.

For instance, if A.cpp includes A.h and B.cpp also includes A.h, IntelliSense for A.h is currently only li

[2018-01-30 17:36] gdamore commented on #1500
Agreed.  Looking at this a bit more closely, on my platform at least, it isn't actually doing anything helpful since it is just nuking otherwise valid c_cpp_properties.json file (and injecting invalid file contents in its place -- e.g. no version field.)

[2018-01-30 18:35] pieandcakes commented on #1445
@tehsunnliu That is used when building the extension to tell the extension build that you are developing the extension locally and need to copy dependencies over.

Environment variables are key/value pairs set in the operating system and can be read by the program. You can search the internet for "How to set Environment variables for <operating system>" and it should tell you how to do it for your

[2018-01-30 18:38] pieandcakes commented on #642
@HackerBaloo That would be nice, but VSCode uses it to do local variable parsing too. This is a special passthrough we had to add that when -exec is specified, that we would know to pass the command through without processing to gdb.

[2018-01-30 18:42] pieandcakes commented on #1498
@josesimoes for your last continue, can you add `"ignoreFailures": true` to the object and then you might be ok? We expect that a successful command would give us `done` and not `running`. Alternatively, if you change `launchCompleteCommands` to `continue` it should do the same `continue` command.

[2018-01-30 18:45] pieandcakes commented on #1491
@Addie2595 Also, if you use `"${fileBasenameNoExtension}"` in your task.json, are you actually getting a `first.exe` or are you only seeing a `first` file ? you can change your `task.json` to say:
[code]

and that might fix the problem. Also, added `-g` or else the compiler doesn't include debug symbols and the debugger won't know what to do.

[2018-01-30 18:49] pieandcakes commented on #1496
@lokeb

Unfortunately the VSCode Debug protocol doesn't allow us a way to query the language service to determine of the code we are referencing is different than the executable that is being debugged. If you add a `task.json` and add a `prebuildTask` to your `launch.json`'s configuration, it will build every time before debugging, which would get around this but would build every time.

[2018-01-30 19:29] Rakete1111 opened #1502 "Why isn't std::optional recognized?"
`std::optional`, `std::variant` and other facilities from C++17 don't seem to be recognized by the default tag parser engine.

Another issue suggested to change the value in `vim ~/.vscode/extensions/ms-vscode.cpptools-0.14.6/bin/msvc.json` to use the C++17 standard, and I did. But I still get that error. It's a bit annoying. Is there any reason why this happens?

I might add that my compiler can

[2018-01-30 19:36] josesimoes commented on #1498
@pieandcakes  you are THE man!! That `"ignoreFailures": true` did it.
I'm now able to debug that target!

Thank you very much. 😃

[2018-01-30 19:36] #1498 closed, assigned to pieandcakes

[2018-01-30 21:44] LordHog opened #1503 "Question: How to display memory during a debug session"
I am trying to figure out how to display a region of memory within Visual Studio Code with the CPP-Tools during a debug session.  I can't seem to figure it out.  One way to getting some data is using the following:

(uint8_t*)(address)

This will display the data as ASCII Hex based upon what I can see.   I ideally, I would like to view the data as hex (perhaps decimal).  I asked this question in t

[2018-01-30 23:48] bobbrow commented on #1502
Hmm...  This works for me on both Windows and Linux.  What does your include path look like?  If you have an older version of gcc, optional may still be in the "experimental" folder which we do not add to the include path by default.

I'm surprised that there is no squiggle under the `#include <optional>` line though...

[2018-01-31 01:38] xueyunquan commented on #1479
@sean-mcmanus : Thanks for your reply. Your workaround solves the  issue by now, but frankly speaking I don't think it a good  idea.

For a temporary workaround, it seems vague to me about how to pinpoint the offending macro because in a large project like the linux kernel there could be too many macros. I mean if too many functions fail to parse it could be obsessed to find out the failing macro

[2018-01-31 05:16] HackerBaloo commented on #642
But everything the user writes should be prepended with -exec? But perhaps,
if not totally automatic a little button to automatically prefix everything
entered in the console?

On Tue, 30 Jan 2018 at 19:38 Pierson Lee <notifications@github.com> wrote:

--
/Björn Carlsson
0704-106977

[2018-01-31 05:41] lokeb commented on #1496
That works. I added
"preLaunchTask": "build"
to launch.json configurations corresponding to tasks.json task with label
'build'.

Thanks a lot!

On Wed, Jan 31, 2018 at 12:19 AM, Pierson Lee <notifications@github.com>
wrote:

[2018-01-31 07:07] xgdgsc commented on #323
![deepinscreenshot_select-area_20180131150320](https://user-images.githubusercontent.com/1189869/35609482-6d426c88-0698-11e8-80b6-a446d815e183.png)

I' m on 0.14.6 and opened 3 folders of code. Don' t know if it is normal.

[2018-01-31 08:33] Rakete1111 commented on #1502
I'm on Linux so this are my include paths under Linux:

    "includePath": [
        "/usr/lib/gcc/x86_64-pc-linux-gnu/7.2.1/../../../../include/c++/7.2.1",
        "/usr/lib/gcc/x86_64-pc-linux-gnu/7.2.1/../../../../include/c++/7.2.1/x86_64-pc-linux-gnu",
        "/usr/lib/gcc/x86_64-pc-linux-gnu/7.2.1/../../../../include/c++/7.2.1/backward",
        "/usr/lib/gcc/x86_64-pc-linux-gnu/7.2.1/includ

[2018-01-31 13:40] Yanpas opened #1504 "non-ascii strings cause parameter help mechanism break"
* Operating System and version: ubuntu 16.04
    * VS Code : 1.19.3
    * C/C++ extension version: 0.14.6
code snippet:
[code]
`абвгд` are cyrillic multibyte symbols.
Bug:
![peek 2018-01-31 16-35](https://user-images.githubusercontent.com/7345761/35625899-0ad7c36a-06a5-11e8-9afa-d944e35f1029.gif)

[2018-01-31 13:44] mild0wl commented on #275
I have the same problem but in Windows 10. Please help me out soon...

[2018-01-31 17:06] killerkalamari commented on #1501
I think you're right. I have a master header that #includes a bunch of file-specific headers. Then, I have multiple c files #including that master header:

File specific headers: B.h, C.h, ...
Master header: A.h, which includes all the file specific headers: B.h, C.h, ...
Source files: B.c, C.c, ... each of which includes A.h

The misses occur when I'm modifying those file-specific headers, or als

[2018-01-31 17:45] knotFF commented on #1144
Go to **settings.json** and change:
C_Cpp.intelliSenseEngine": "Default" to "Tag Parser"

[2018-01-31 18:17] bobbrow commented on #275
If you are having trouble configuring IntelliSense, please open a new issue.  In the issue, let us know whether you have mingw or Visual Studio installed or if you are getting the standard headers from some other location.  Thanks!

[2018-01-31 18:43] bobbrow commented on #1479
Include paths will support recursion in the future.  Visual Studio is testing out this feature now and we will port it over to our extension soon.

[2018-01-31 23:09] bevolz opened #1507 "Ability to do VS Pro Tab Size 8, Indent Size 4?"
Does Visual Studio code have the ability to do the Tools->Options Tab settings of Visual Studio Professional where you can specify that tabs are 8 spaces but the indent size if 4? All our code uses that style and many other editors let you do this, but Visual Studio Code doesn't seem to support this. I've tried  lots of things in Visual Studio Code but not found any combination of settings that wo

[2018-01-31 23:41] bobbrow commented on #1507
I believe that VSCode equates tab size and indent size.  I would encourage you to [create a feature request](https://github.com/Microsoft/vscode/issues/new) in the VSCode repository.

[2018-02-01 02:27] xueyunquan commented on #1479
@bobbrow : Nice to hear about that.

[2018-02-01 04:11] jhscsc commented on #69
Hi, how do I set up pretty printing for VS Code? I'm running GDB on Cygwin (Windows 10) . Specifically, I don't understand what to do with said ".gdbinit" file. Thank you very much!

[2018-02-01 08:46] LeoBrider opened #1508 "Unable to start debugging. An item with the same key has already been added."
Hello,
i want to launch code debugging session on my executable but it fails. Executable is not small 334M of statically linked binary.
Here is configuration from launch.json
"configurations": [
                {
            "name": "debug",
            "type": "cppdbg",
            "request": "launch",
            "program": "/disk/Alteon/bin/mp.elf",
            "args": [],
            "stopAtEn

[2018-02-01 14:43] bevolz commented on #1507
Created issue #42740 (Separate tab size and indent size) - see https://github.com/Microsoft/vscode/issues/42740.

[2018-02-01 14:43] #1507 closed, assigned to nobody

[2018-02-01 14:46] 1g0rb0hm opened #1509 "IntelliSense.Msvc.darwin crashing with SIGSEGV in add_expression_to_index(an_expr_node*)"
I have not yet fully determined the root cause (it appears random) but when editing files in a larger C++ project base IntelliSense keeps crashing and the Darwin crash report dialogue keeps popping up.

There are many crash logs but the crash is always in the same place (please see stack trace below).

* OS: OSX 10.13.2
* VS Code: 1.19.3
* C/C++ extension version: 0.14.6
* Stack Trace:
[code]

Let

[2018-02-01 15:10] dariuszseweryn commented on #1484
I am having probably the same issue. After setting up the `includePath` the IDE does not know what to do with `uint8_t`.

I have also tried to add `"defines": ["__UINT8_TYPE__=unsigned char", "__INT8_TYPE__=char"]` but unfortunately it did not helped.

I would also want to add that having an auto IntelliSense setup from the `compile_commands.json` file would be awesome! <3 Looking forward to it.

[2018-02-01 15:18] 1g0rb0hm opened #1510 "Error Squiggles showing for valid C++ code using std::bitset::operator[]"
* OS: OSX 10.13.2
* VS Code: 1.19.3
* C/C++ extension version: 0.14.6

Error Squiggles are shown for the following sample code (see screen snap further below):

[code]

Unless I am missing something the code seems to be correct and should not present any issues, certainly no errors.

![vscode error squiggles](https://user-images.githubusercontent.com/24808322/35685872-3259edca-076b-11e8-8d17-5476b

[2018-02-01 18:16] bobbrow commented on #1509
If you are able to share a code file that reproduces this crash, that would be the most helpful.  Unfortunately, all I can see from this stack and offset is that IntelliSense is trying to look up symbol information and is choking while walking the IL tree past a function call of some type (not a lambda though).

[2018-02-01 19:17] bobbrow commented on #1510
It appears to be a problem only on Mac.  I'm seeing that `__CHAR_BIT__` is not defined on Mac, but it is on Linux.  I need to go back and figure out why they didn't both get this define.

For now, you can work around this by adding `"__CHAR_BIT__=8"` to the `"defines"` array in **c_cpp_properties.json** or `#define __CHAR_BIT__ 8` in the source file that includes `<bitset>`

[2018-02-01 19:48] pieandcakes commented on #69
@jhscsc If you are using the default pretty-printers you don't need to do anything with a `.gdbinit` file. If you want to extend and add your own pretty-printers, you will need to create a `.gdbinit` file. Since that is a `gdb` feature and not one provided by the extension, you may need to do some searching online for the file format. On Windows, that should go in the root of your home directory `

[2018-02-01 19:55] sean-mcmanus commented on #1502
This is the same issue as https://github.com/Microsoft/vscode-cpptools/issues/1350 .

[2018-02-01 20:02] nwgh opened #1511 "Getting "cannot open source file obsolete/prototypes.h" with intellisense and compile_commands.json"
I noticed this when I switched over to using `compile_commands.json` instead of a (perpetually out-of-date) explicit list of includes and defines in `c_cpp_properties.json`

STR:
 * Clone `https://hg.mozilla.org/mozilla-central`
 * Get development environment ready (`./mach bootstrap` from the checked-out source, have xcode + command line tools installed)
 * Create a `.mozconfig` in the root of th

[2018-02-01 20:26] jhscsc commented on #69
Thank you for your quick response. I currently have that snippet in my `launch.json`; however, when I type `-exec print v` in the example program shown below, I'm still unable to look into the vector. Do you have any suggestions on how to get it to work?
![image](https://user-images.githubusercontent.com/32603287/35701512-e451ab40-075b-11e8-890f-ae4d5f24d47e.png)

[2018-02-01 20:41] pieandcakes commented on #69
If you expand the variable in your locals, does it show a formatted value? `-exec print v` is telling `gdb` to print `v`. It could be you are missing the Python files that do the formatting, and if that is the case you may need to figure out where they come from. My experience with Cygwin `gdb` is limited. It looks like according to the answer on this [link](https://stackoverflow.com/questions/450

[2018-02-01 20:53] bobbrow commented on #1502
Thanks @sean-mcmanus.  I was going to try 7.2, but I hadn't gotten there yet (I have 7.1)

[2018-02-01 21:13] sean-mcmanus commented on #1479
The Tag Parser (navigation list and go to symbol features) may never support macro expansion (VS 2017 does not), but Go to Definition should be fixed when it's implemented via IntelliSense (https://github.com/Microsoft/vscode-cpptools/issues/255 ).

[2018-02-01 22:00] sean-mcmanus commented on #323
@xgdgsc This appears to be "normal" for large translation units, although we want to reduce the memory usage. This bug's issue was for one process using 11 GB's of memory, but your largest is 660 MB. You could file a new issue to reduce the memory usage more.

[2018-02-01 22:19] sean-mcmanus commented on #1504
This bug appears to be fixed with our pending 0.15.0 release. We're planning to release an insiders build today.

[2018-02-01 22:21] sean-mcmanus commented on #1504
Oops, the bug only repros with the "Default" IntelliSenseEngine and not the "Tag Parser", so the bug still exists.

[2018-02-01 22:25] WardenGnaw commented on #1503
VsCode does not have a memory window to use. However, you can execute GDB commands by typing```-exec``` in the Debug Console.

So you can visualize the memory with ```-exec x <address>```.

More information on the examine command can be found [here](https://sourceware.org/gdb/onlinedocs/gdb/Memory.html)

[2018-02-01 22:34] bobbrow commented on #323
@xgdgsc, per folder we try to keep the total memory usage for IntelliSense under 1 GB, so we will shut down older processes if you're opening a lot of files at once.  For 3 folders opened that would amount to 3 GB or so (the cap is a bit fuzzy).

Are you able to see the parent process of the IntelliSense processes?  Those 600MB processes might have been orphaned.  We're still not 100% perfect at s

[2018-02-01 23:56] LordHog commented on #1503
Mr. @WardenGnaw, thanks!  I knew about the "x addr" command, but when I tried to exercise that command it would fail.  I didn't know about the preamble "-exec".  I will need to find the documentation that talks about that command and hopefully others that I don't know about.

[2018-02-02 00:00] jhscsc commented on #69
Installing `gcc-debuginfo` like the link instructed enabled formatting when looking in STL containers in locals - that's what I was going for. Thanks so much @pieandcakes!

[2018-02-02 00:01] sean-mcmanus commented on #1509
Same issue as https://github.com/Microsoft/vscode-cpptools/issues/1396 . I think we need a repro to fix this.

[2018-02-02 00:09] 1g0rb0hm commented on #1510
It seems `__CHAR_BIT__` is pre-defined by Clang. See line 748 in [lib/Frontend/InitPreprocessor.cpp](https://clang.llvm.org/doxygen/InitPreprocessor_8cpp_source.html):

[code]

Since it is predefined in the LLVM compiler toolchain and not in some header MS IntelliSense doesn't seem to know about the definition on Mac. Defining it in **c_cpp_properties.json** is a good solution to fix the issue tho

[2018-02-02 00:16] bobbrow commented on #1510
Yeah, I should have been more clear.  We are not providing IntelliSense by calling directly into clang.  We have our own front end parser that supports a "Clang mode", but doesn't supply all of the defines by default.  The C/C++ extension has to supply them and we're not doing it for Mac.  We did it for Linux already though.

[2018-02-02 00:19] 1g0rb0hm commented on #1509
Will try to provide something but the fact that it is a bit random makes it hard to reduce it to a test-case I can share.

It always seems to happen in `add_expression_to_index()` though.

[2018-02-02 00:23] 1g0rb0hm commented on #1510
Understood.

Is the plan for IntelliSense on Mac to match LLVM compiler toolchain defaults as on Linux or will the advised solution remain to define such compiler pre-defined macros in **c_cpp_properties.json**?

[2018-02-02 00:25] WardenGnaw commented on #1503
Sadly, I don't think we have any documentation on it. All we have is an output in the Debug Console that says ```Execute debugger commands using "-exec <command>", for example "-exec info registers" will list registers in use (when GDB is the debugger)```.

[2018-02-02 00:29] bobbrow commented on #1510
@sean-mcmanus is working on this right now.  The **c_cpp_properties.json** solution is just a work around for now.

[2018-02-02 01:01] sean-mcmanus commented on #1504
The bug repros with just (after the 3rd letter, not before).
`#include <string>
std::string s{ "абв" };
`.
It's a bug in our IntelliSense process, but the strange thing is VS 2017 doesn't repro this (the code is shared).

[2018-02-02 01:29] m31317015 opened #1513 "[Suggestion] Dismissing #error directive"
**Reposted from main vscode repository.**

Version 1.20.0-insider
Commit 757ff83f0dece1ecf43d3a92e91fe467de1cc9dc
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

I was playing with Vulkan for some time and uses #error for easy debugging outside VSCode. Then I see every time I open the file it shows lots of "#error directive", so-called "problems". Is there a way to shut it off, or

[2018-02-02 01:34] sean-mcmanus commented on #1513
This is "by design". Ideally, you should setup your includePath/defines correctly so that the #error compile path is not hit. You could also surround the error code in `#ifndef __INTELLISENSE__ #endif` or set `"C_Cpp.errorSquiggles": "Disabled"`.

[2018-02-02 02:10] xgdgsc commented on #323
Thanks for the effort. That sounds reasonable.

[2018-02-02 04:06] faheel opened #1514 "Add project's include folder to includePath by default"
Most C and C++ projects have an `include` folder that contains the header files for that project. Having this folder in the `includePath` by default would be very useful.

[2018-02-02 04:06] faheel commented on #1514
If I'm not wrong, this can be done by just adding `"${workspaceRoot}/include"` to `"includePath"` (and `"browse` too"?), right after `"${workspaceRoot}"`, for all 3 configurations in `Extension/src/LanguageServer/configurations.ts`.

[2018-02-02 06:43] Snape3058 commented on #69
I am using gdb 8.0.1 on my PC, and if I use gdb from command line, it can print the inner content of the STL classes correctly. But when I am using vscode, both `-exec print v` and the variables window will not show the inner content. What should I do? Thx

OS: Arch Linux
VSCode Version 1.19.3
cpptools Version 0.14.6
No `~/.gdbinit` file and `/etc/gdb/gdbinit` is empty.
"pretty printing" is enable

[2018-02-02 07:18] m31317015 commented on #1513
Okay thanks, it helps a lot.

[2018-02-02 09:06] rteja opened #1516 "Unable to search for files when this plugin is active"
Operating System : Windows 10
VSCode Version: 1.19.3
C/C++ Extension Version : 0.14.6
C_Cpp includes have about 30 include folders
This is happening on a project having relatively large number of source files.

Steps to reproduce:
Open the workspace
Ctrl + P to open the file search dropdown.
Search for a file in the workspace.

Without this plugin active I get almost instantaneous results for sear

[2018-02-02 09:17] lmapii commented on #1370
no news on that one ?

[2018-02-02 09:43] philippludwig commented on #1474
After renaming the ``.vscode`` and ``~/.config/Code`` folders, the problem disappeared.

[2018-02-02 09:47] gigony commented on #1251
I see the similar issue that @dapirian mentioned when use compile_commands.json for editing Android Native code (cpp) -- My Android (AOSP) build uses ccache so it starts with ccache path.
Hope intelli sense uses some heuristic and parse only compilation-related options.

The following is a real example of compile_commands.json with some modifications.

[code]

[2018-02-02 10:13] melak47 opened #1517 ""Go To Definition" also opens "Peek Definition" for multiple results"
When I use "Go To Definition" on a symbol, and Intellisense finds multiple possible matches,
it goes to the definition of the first one -- but also opens up a "Peek Definition" view of the very same definition, along with a list of the other possible matches. (I assume this is by design.)

Most of the time I'm lucky and the first result is the right one, and my reward is an unnecessary "Peek Defin

[2018-02-02 10:18] 1g0rb0hm commented on #1509
This is very hard to reproduce reliably. Once it has happened I can not re-produce it by trying the same operation again.

I did trawl through all the crash reports and found the following three distinct stack traces that keep re-occurring:

### Stack Trace 1

[code]

### Stack Trace 2

[code]

### Stack Trace 3

[code]

---

All **SIGSEGV** happen in the same method/function, namely `add_expressi

[2018-02-02 10:26] melak47 opened #1518 ""Go To Definition" picks wrong definition"
I'm not sure if this is a bug, but "Go To Definition" seems to be less accurate in the definition it picks than the hover tooltips.
For example, with the following code:
[code]

Hovering over `length` shows `size_t std::string::length() const`, but Go To/Peek Definition picks `std::_Char_Traits::length` (MSVC stdlib), which doesn't match the signature at all. If the hover tooltip can figure out th

[2018-02-02 15:13] jwinkler2083233 commented on #583
I added a call to 'fflush(stdout);' before the program ended, and then the output appeared on the floating  terminal window.

Ubuntu 14.04
VS Code
g++

[2018-02-02 15:58] bobbrow commented on #1514
We're going to be working on supporting recursive include paths which should also take care of this case.

[2018-02-02 16:19] markeissler commented on #1491
I'm getting the same error on macOS when trying to connect to a remote gdbserver (running in a docker container). If I use the [Native Debug](https://github.com/WebFreak001/code-debug) extension I don't have this problem.

[2018-02-02 16:31] bobbrow commented on #1517
I think you'll need to ask the VS Code team if they would consider adding a setting for this.  Our extension doesn't have any way to control it (besides maybe discarding all but the first search result which would result in a different level of frustration 😄)

[Here's a link to open a new issue for VS Code](https://github.com/Microsoft/vscode/issues/new).

[2018-02-02 16:32] #1517 closed, assigned to nobody

[2018-02-02 17:01] bobbrow commented on #1509
I decompiled the binary on Mac and reverse engineered the line number based on the offset in your stack.  The faulting IL is related to a function/method declaration or definition in your source code.  I couldn't narrow it down to a specific kind because symbol resolution for pretty much all method invocations in your source goes through this path except for lambdas.  The 3 different stacks come f

[2018-02-02 17:02] bobbrow commented on #1509
BTW, thanks for your diligence and determination to help us get to the bottom of this!

[2018-02-02 17:05] bobbrow commented on #1518
Your analysis is correct.  Go to definition is not using the more accurate IntelliSense information yet.  We have a backlog item open to address this and I encourage you to go upvote it: #255.  Thanks for the feedback!

[2018-02-02 17:05] #1518 closed, assigned to nobody

[2018-02-02 19:17] pieandcakes commented on #1370
@lmapii If your issue is that it can't open the source file, setting the sourceFileMap should help it resolve. If you want VSCode to resolve it on its own, you can verify that we get relative paths back from `gdb` by enabling `"logging": { "engineLogging": true, "trace": true, "traceResponse": true }` and seeing the stopping event that we fire and send back to VSCode. If this is a relative path, t

[2018-02-02 19:20] pieandcakes commented on #1491
@markeissler you can enable `"logging": { "engineLogging": true }` and see what we send to `gdb`. If you are getting the same error, my assumption is that gdb or gdbserver is unable to locate the file based on the parameters you provided in the program field.

[2018-02-02 19:27] sean-mcmanus commented on #1474
@philippludwig Rename the .vscode folder will cause our c_cpp_properties.json to disappear and the default to be used, but it will get recreated after doing an Edit Configurations command. Removing `~/.config/Code` folder seems like it could be break your VS Code installation (unless the folder is recreated), but it would also have the side effect of doing a Reset IntelliSense Database since the d

[2018-02-02 19:29] sean-mcmanus commented on #1517
Also, after we implement Go to Definition with IntelliSense, only one definition should be returned (if you're using the IntelliSense engine).

[2018-02-02 20:01] sean-mcmanus commented on #1516
Our code doesn't get called on Ctrl + P "file search", only workspace/file symbol search. I don't see how we could be affecting this. I'm not able to repro any problem. Is there a database or flame icon in the bottom right?

[2018-02-02 21:08] sean-mcmanus commented on #1509
Does your translation unit (.cpp+.h files) have any UTF-8 characters > 1 byte (i.e. non-ASCII)? Our parser has some problem correctly building the expression tree in that case, which potentially could lead to a crash, although so far I just see no results.

[2018-02-02 21:48] JulianDavis commented on #368
Hi I'm just starting to learn C++ and trying to configure cpptools for VSCode has been very challenging but I'm up and running though, finally. And I **really** look forward to this feature of a global c_cpp_properties.json file.

[2018-02-02 22:55] CodeMouse92 opened #1519 ".clang-format file ignored"
* Ubuntu 17.10
* Visual Studio Code 1.19.3
* C/C++ extension 0.14.6
* `clang-format-5.0`
* Same problem with or without 'Clang-Format' extension

There are a few complaints about this, but the difference here is **I have validated** the `.clang-format` file is syntactically correct via `clang-format-5.0 -dump-config`, and also run it through a YAML linter.

No matter what settings I select, `Forma

[2018-02-02 23:49] 1g0rb0hm commented on #1509
Thanks for the explanation and guidance with respect to logging @bobbrow! If the log file contains the compilation unit the crash occurred in this should make it much easier to home in on the issue following the steps you describe.

I will search the code base for non-ASCII characters @sean-mcmanus to rule that symptom out as the root cause.

[2018-02-03 00:53] sean-mcmanus commented on #1519
`clang_format_path` needs to be the full path, including the name of the binary. Does it work after adding the file name? We should probably just add the expected name if the path ends in a directory.

[2018-02-03 01:59] CodeMouse92 commented on #1519
@sean-mcmanus, that literally *is* the full path (on Unix systems anyhow). Remember, on Unix, binary files often do not have file extensions.

That path *is* a symbolic link to `/usr/lib/llvm-5.0/bin/clang-format`, which shouldn't make a difference; and it doesn't. Specifying that as the full path instead still does NOT fix the problem.

[2018-02-03 02:49] sean-mcmanus commented on #1519
Can you set the C_Cpp.loggingLevel to the hidden value of 6 and then do the format operation? That should enable debug logging for formatting. You don't need to post your code, but can you look for what stage of formatting appears to fail? Be sure to remove that loggingLevel value later, because it makes stuff slower.

[2018-02-03 03:14] CodeMouse92 commented on #1519
No stage reports failure. In fact, it reports success. It *does* change the file, as I mentioned, but it isn't using my `.clang-format` file, which is located in the root of the workspace folder.

[2018-02-03 03:37] sean-mcmanus commented on #1519
Can you provide the .clang-format file you use?

[2018-02-03 04:37] rteja commented on #1516
Oh, but I can see this happening consistently. When I disable the plugin I see that search is fast again.

[2018-02-03 04:46] mild0wl commented on #275
Yes, I have opened the new issue.
@bobbrow

[2018-02-03 12:12] zjplab commented on #1237
You fixed this problem by changing to gcc as the compiler...For someone choosing MSVC, I fixed the  "cannot open source file "corecrt.h" (dependency of "iostream")" issue by changing the include path in _c_cpp_properties.json_

                "C:/Program Files (x86)/Windows Kits/10/Include/10.0.10240.0/ucrt",
                "C:/Program Files (x86)/Windows Kits/10/Lib/10.0.10240.0/ucrt/x64",

I i

[2018-02-03 14:27] DollarAkshay commented on #69
I tried all the steps in this github issue. I am using the MinGW compiler and I made sure to install the `mingw32-gdb-python` package via the MinGW Installation Manager which I assume is required to view the STL container. After all that. All I can see is this

![gdb pretty printing](https://user-images.githubusercontent.com/6565924/35768062-5dbb529e-091c-11e8-8421-c82e6f29c8d4.png)

I have Python

[2018-02-03 17:32] CodeMouse92 commented on #1519
Absolutely. Once again, it passes both YAML linting and `clang-format-5.0 -dump-config`.

[code]

[2018-02-03 17:41] hamzakilic commented on #98
my working folder like "ham-serv (copy)" and debugging was giving the same error. then I changed folder name "hamsertest" and worked fine. A problem can be some characters at path.

[2018-02-03 17:43] hamzakilic commented on #409
my working folder like "ham-serv (copy)" and debugging was giving the same error. then I changed folder name "hamservtest" and worked fine. I think  a problem can be some characters at path .

[2018-02-03 18:32] fexolm opened #1520 "Cannot open source file of std headers"
* Arch linux
* VS Code OSS 1.19.3
* C/C++ extension version 0.14.6
* CMake

My settings:
[code]
Go to defenition for headers finds 5 results.

I have  read #1041 but it didn't help.

[2018-02-03 21:36] Astrantia opened #1521 "Not getting #include suggestions"
* Windows 10
    * VScode 1.19
    * Latest
    * C#. Haven't noticed if this has anything to do with it.

I tried to debug this on my own and read the documentation but it didn't help. Intellisense works juts fine, but it doesn't suggest any #header files for include statements (even if those header files are in the same folder as the project). Once imported manually, however intellisense starts

[2018-02-04 00:51] LordHog commented on #1503
@WardenGnaw, hopefully this feature might be added one day.  It's a very useful debugging tool.

[2018-02-04 00:51] #1503 closed, assigned to WardenGnaw

[2018-02-04 10:15] 1g0rb0hm commented on #1509
I have yet another stack-trace in this area:

[code]

This stack-trace was generated **after** I inserted a snippet (see highlighted line with ^^^) in a header file:

[code]

I tried the following to re-produce without success:
* Undo insert of snippet and retry inserting it
* Undo insert of snippet, save, quit VSCODE, open VSCODE, retry insert of snippet
* Undo insert of snippet, Re-set IntelliSe

[2018-02-05 09:16] sean-mcmanus commented on #1519
Yeah, I'm seeing the .clang-format file not being used too.

[2018-02-05 09:20] sean-mcmanus commented on #1520
In your compile_commands.json what is the 1st part of the "command" -- we query the 1st part as if it's the compiler to get the defaults.

[2018-02-05 09:24] sean-mcmanus commented on #1521
We haven't implemented that feature yet. I think we're using https://github.com/Microsoft/vscode-cpptools/issues/13 to track that.

[2018-02-05 09:24] #1521 closed, assigned to nobody

[2018-02-05 12:22] MathiasMagnus commented on #230
Indeed. Inactive regions is a welcome feature so separate Windows/Linux code paths strike out better.

Recognized types are the most useful stuff though, so one can see immediately if a template instantiation is what it should be. I usually don't hover the mouse over variable definitions to see their exact type, but instead rely on the colorizer. If some type is not colored properly, it's either a

[2018-02-05 15:17] fexolm commented on #1520
@sean-mcmanus, `/usr/bin/c++`.
Also, there is no such problem with project sources.

[2018-02-05 17:43] bobbrow commented on #1521
We're using #802 for #include completion

[2018-02-05 17:52] bobbrow commented on #1502
Tracking this with #1350

[2018-02-05 17:52] #1502 closed, assigned to nobody

[2018-02-05 17:55] bobbrow commented on #1520
Possibly a duplicate of #1350?  It seems our parser is having trouble with 7.2.1.  It could be a result of missing defines and @sean-mcmanus is working on that right now.

@fexolm can you specify which source files are failing to open?

[2018-02-05 19:36] pieandcakes commented on #69
@DollarAkshay That looks correct.

To be clear: Pretty printing is something that gdb provides, although from this thread it looks like it isn't the same across different implementations. Your question about which version of Python should probably be asked to MinGW as that is the tool set that you are using and they control the dependencies for the toolset? From searching online, it looks like the

[2018-02-05 19:39] pieandcakes commented on #69
@Snape3058 The only documentation I found is [this](https://bbs.archlinux.org/viewtopic.php?id=177967). I don't know if that is something you can check/verify/try but that might get you started in the right direction.

[2018-02-05 19:41] sean-mcmanus commented on #1504
We found a fix for the repro case provided and others simple scenarios, but it turns out the fix is more complicated and ended up breaking other IntelliSense situations so a fix won't be available for the February release (possibly, March, but we're not sure).

[2018-02-05 19:55] fexolm commented on #1520
@bobbrow, it doesn't look absolutely same for me. In my situation, it reproduces on every std header (I tried vector, map, iostream, unordered_map, unordered_set and some others).
Here is some screenshots:

It says that it can't find headers
![gscreenshot_2018-02-05-224600](https://user-images.githubusercontent.com/14443401/35825361-a7420024-0ac6-11e8-9b73-cf37590415e7.png)
But it can.
![gscreensh

[2018-02-05 20:31] sean-mcmanus commented on #1519
Actually, I'm not able to repro the problem (my settings were just messed up). Is your clang_format_style set to "file"? Our extension ships with clang-format 5.0 by default, is there a reason you're using a different one? Have you tried removing the clang_format_path?

[2018-02-05 21:26] sean-mcmanus commented on #1466
@hyeonchang You can try a preview .vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (the final version is planned for next week). A couple things to note: for this feature to work, the intelliSenseEngine has to be "Default" and the red flame has to be gone (IntelliSense has to finish processing).

[2018-02-05 21:31] sean-mcmanus commented on #1137
You can try a preview .vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (our final release is planned for next week). We suspect it will solve most of the crashes, but the root cause of the crash when the error limit is exceeded is still being investigated by another team (it repros in VS 2017 too).

[2018-02-05 21:33] sean-mcmanus commented on #1337
https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders

[2018-02-05 21:34] sean-mcmanus commented on #1067
Fixed with the preview .vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (our final release is planned for next week).

[2018-02-05 21:35] sean-mcmanus commented on #1313
Fixed with the preview .vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (our final release is planned for next week).

[2018-02-05 21:37] sean-mcmanus commented on #1461
We believe this is fixed with the preview .vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (our final release is planned for next week), but we never had a repro so we're not 100% sure so let us know if it's not fixed yet (and ideally some repro).

[2018-02-05 21:38] sean-mcmanus commented on #1472
Fixed with the preview .vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (our final release is planned for next week). Go to Symbol in Workspace can still be slow the 1st time due to the symbol cache generation and if you do a Go to Symbol in Workspace right before a Go to Symbol in File, it can block the "in File" results, because they're sent to the same process

[2018-02-05 21:39] sean-mcmanus commented on #1469
Fixed with the preview .vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (our final release is planned for next week).

[2018-02-05 21:40] sean-mcmanus commented on #1475
We believe this is fixed with the preview .vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (our final release is planned for next week). Let us know if the fix isn't working sufficiently.

[2018-02-05 22:02] Zooce commented on #1472
Thanks, @sean-mcmanus! So far it's working like a charm. I really appreciate it.

[2018-02-05 22:02] CodeMouse92 commented on #1519
Yes, I'm using `"C_Cpp.clang_format_style": "file",`. Also, I removed my user setting for `"C_Cpp.clang_format_path":`, and reloaded, but it still doesn't see `.clang-format`; it continues to fall back on some unknown style.

Have you tested this on a Linux system?

[2018-02-05 22:05] sean-mcmanus commented on #1519
Yeah, I tested on Linux, but not Ubuntu 17.10. We haven't heard any other complaints yet and this code has not changed in a while, so I suspect there might be something unusual about your setup that is causing the .clang-format to not be found. Does the Clang-Format extension work? https://marketplace.visualstudio.com/items?itemName=xaver.clang-format .

[2018-02-05 22:29] sean-mcmanus commented on #1073
Has the document corruption after formatting been fixed? An internal user is reporting a problem still with 0.14.6, but we fixed some crashes in our preview .vsix https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders that could be causing a problem.

[2018-02-05 23:33] vadimcn commented on #1475
The error message seems to be fixed.  Thanks!

I still see the error squiggles for includes.  Perhaps those should be disabled as well?

[2018-02-05 23:59] sean-mcmanus commented on #1475
Error squiggles for includes is a different issue (seems like https://github.com/Microsoft/vscode-cpptools/issues/791 , although it could be https://github.com/Microsoft/vscode-cpptools/issues/1520 ). That squiggle is probably intentional, indicating that the includePath or browse.path wasn't sufficient to find the header.

[2018-02-06 00:01] CodeMouse92 commented on #1519
Strangely, it collides with this extension - no matter what I do, *this* is the extension that runs when I try to format. I'll have to disable it and see if `Clang-Format` works instead.

I can't imagine what would be strange about my setup. I haven't tweaked anything from the normal, default way of doing things.

[2018-02-06 00:03] vadimcn commented on #1475
Isn't the problem that the include path is supposed to be found in compile_commands.json, and for git diff files this doesn't work?

[2018-02-06 00:06] sean-mcmanus commented on #1519
Yeah, can you disable our extension? The Ubuntu version is unusual -- I can't seem to get VS Code to be installed on my Ubuntu 17.10.

[2018-02-06 00:16] CodeMouse92 commented on #1519
Okay, I've narrowed the problem down. Both extensions appear to have it, somehow...

**`Format Selection` works correctly, but `Format Document` does *not* work correctly!** I verified this by changing `BreakBeforeBraces` style in `.clang-format` to something opposite my usual style. If I use `Format Document`, it doesn't apply the new brace style, but `Format Selection` always works.

VSCode's cl

[2018-02-06 00:17] sean-mcmanus commented on #1475
Yeah, the error squiggle you see is "by design" since users can theoretically fix it via adding the path to the includePath setting.

[2018-02-06 00:27] vadimcn commented on #1475
I hate to argue this point, because the annoyance of squiggles in minimal... however, the whole point of using compile_commands.json is that one doesn't need to maintain includePath manually (also, when using cmake, the include path may be significantly different for different files in the project).

[2018-02-06 00:30] hyeonchang commented on #1466
![image](https://user-images.githubusercontent.com/1412931/35835810-39debb9e-0b20-11e8-946f-c1b3810de1a0.png)
Great!
Can I change the background color of the inactive area?

[2018-02-06 00:39] sean-mcmanus commented on #1475
So what fix are you proposing we do? Isn't this just for the temporary files generated by "git diff"?

[2018-02-06 00:47] vadimcn commented on #1475
Same as above - if the file is not under the workspace root, disable error squiggles.  Or, possibly, do that only when compile_commands.json is in use.

Anyhow, I'm gonna stop annoying you about this.  Thanks fixing the error message problem!

[2018-02-06 00:49] sean-mcmanus commented on #1466
The color is currently hardcoded at `.vscode/extensions/ms-vscode.cpptools-<version>/out/src/LanguageServer/client.js` (line 486/487), so you could change it there if you really wanted, but it'd be overwritten after an update. We'd also accept a pull request to add a setting for this, but we weren't currently planning to add a setting ourselves. We want to change the color to be alpha blended with

[2018-02-06 00:51] sean-mcmanus commented on #1466
Oh, I misread your comment -- I don't know how to change the "background" color (does VS Code allow that?). I thought you were referring to the text color itself.

[2018-02-06 00:56] sean-mcmanus commented on #1519
With Format Selection we just add -offset and -length to the command line arguments we pass to clang-format. If the other extension has the same probably, it is seems like it could an issue with clang-format+Ubuntu 17.10 because their implementation is completely different. I can't test it on Ubuntu 17.10, because I can't get Code to install for some bizarre reason (no error, just never installs i

[2018-02-06 01:38] Trevinlc1997 opened #1522 "Autocomplete for function/class method signature"
Fedora Linux - 27
vscode - 1.19.3
C++ extension - 0.14.6

Extensions:
CMake and Include Autocomplete

When you are about to define your function/class method in your source file it would be nice for an auto complete for the signature.

![peek 2018-02-05 19-37](https://user-images.githubusercontent.com/24485362/35837505-1ff38ce2-0aac-11e8-9bfe-52c91cf04112.gif)

[2018-02-06 01:47] sean-mcmanus commented on #1522
What editor supports this? VS 2017 doesn't implement this; however, it does have a feature to "create definition" from the declaration, which is even better. ![image](https://user-images.githubusercontent.com/19859882/35837776-dd6f7c82-0a9c-11e8-8bf6-39c01bc3d70f.png).

In your example, you forgot the void return type of the bar method, so a "Create definition" code action would prevent errors lik

[2018-02-06 01:59] sean-mcmanus commented on #1516
Is one of our extension processes hogging the CPU while you try to do the file search? Which process is using CPU during the file search?

[2018-02-06 02:04] Trevinlc1997 commented on #1522
@sean-mcmanus

The two editors/ide that I have used, that use this feature is KDevelop and QT Creator.

But interesting I don't seem to have the light bulb for my body less class methods so that's why I must have never seen the functionality. However I still do believe the feature I suggested would be a nice add.

Thank you for your time.

[2018-02-06 02:06] sean-mcmanus commented on #1522
The lightbulb for Create Definition is only in VS 2017, so we'd have to port that feature over to VS Code.

[2018-02-06 02:18] sean-mcmanus commented on #1497
The fix should be in our preview .vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (the final release is planned for next week).

[2018-02-06 02:20] sean-mcmanus commented on #1474
We implemented a potential fix in our 0.15.0-insiders build at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (the final release is planned for next week). Let us know if it's still not fixed.

[2018-02-06 02:29] sean-mcmanus commented on #912
Our preview .vsix might fix this -- instead of sending a shutdown request on exit, we just terminate the IntelliSense processes: https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (the final release is planned for next week). We fixed the crash with source_file_for_seq too.

[2018-02-06 02:32] sean-mcmanus commented on #774
A fix might be in our preview .vsix at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders (the final release is planned for next week). Instead of trying to send a shutdown event to the IntelliSense process, we just terminate the process.

@Helcaraxan We fixed excessive CPU processing issues with 0.14.6. Let us know if you're still having problems with CPU usage.

[2018-02-06 05:03] CodeMouse92 commented on #1519
Well, I don't know, because as I said, clang-format in the command line by itself works exactly right.

Let's test this out. What is the *exact* command that your module would be running on `Format Document` for `clang-format`? I will run that exact same command, and see if the problem persists. If not, then I suspect the issue is in the integration between the *two*.

[2018-02-06 06:30] rteja commented on #1516
Microsoft C/C++ plugin takes about 25% of CPU all the time when I open the project. I dont notice any other process so actively using CPU other than this.

[2018-02-06 08:10] eskild commented on #1137
Cool, installed .vsix. I noticed that the --error-limit is set at 25000, so I'll leave it there as opposed to the earlier suggestion of 2^31. Will keep you posted if I encounter anything.

[2018-02-06 08:20] eskild commented on #1466
@sean-mcmanus Sorry, I'm probably ignorant, but: a) Can this be disabled, or b) is there a way to "bootstrap" IntelliSense with symbols?

The thing is, our make-based build system deduces the effective set of symbols from parameters to make (something like "make HWPLATFORM=X PRODUCT=Y" which then informs half a gazillion other symbols) -- and without a way to "seed" IntelliSense, many of my files

[2018-02-06 08:21] philippludwig commented on #1474
I've tried the 0.15.0 insiders build, indeed the problem is fixed. Thank you for your work!

[2018-02-06 08:26] aytekinar commented on #1073
I haven't had any issues since the last update under this thread.

[2018-02-06 08:42] eskild commented on #1466
@sean-mcmanus Right, I was ignorant. Had never really "seen" the 'defines' in c_cpp_properties... Was messing around with cpp.hint with little luck, hence the previous message. Pardon the noise.

[2018-02-06 09:07] Helcaraxan commented on #774
@sean-mcmanus I have indeed not seen it since the last update. Thank you for the fix!

[2018-02-06 10:24] sean-mcmanus commented on #1519
The exact command line we pass to clang-format can change based on our code processing and could be the source of the bug. One way to detect the command line is to
1. Add a very large file to your workspace, either an artificial one, or something like sqlite3.c from http://sqlite.org/download.html, which as 200k lines. This will prevent the clang-format from finishing too soon (I think clang-forma

[2018-02-06 10:29] sean-mcmanus commented on #1516
Yes, that's our workspace symbol parsing thread. Can you click on the database icon in the bottom right and select "Pause Parsing"? The CPU usage should go to 0%. Then can you do the file search operation and see if anything is using CPU? You could also hover over the database icon to track the progress and wait till it finishes (under normal conditions the discovering files phase should be fast a

[2018-02-06 10:36] sean-mcmanus commented on #1137
Yeah, we lowered the error limit to avoid the possibility of an infinite loop of error processing. The previous limit was only 250.

[2018-02-06 10:42] sean-mcmanus commented on #1466
Yeah, if you want to get rid of the gray, you should set the defines appropriately. One side benefit is that it makes it easier to detect what code is getting skipped by IntelliSense due to incorrect defines.

[2018-02-06 14:57] roversch opened #1523 "VS Code hangs with lldb + ipython"
**Note: Migrated from the vscode repository**

- VSCode Version: Code 1.19.3 (7c4205b5c6e52a53b81c69d2b2dc8a627abaa0ba, 2018-01-25T10:25:01.248Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.14.6

---

Steps to Reproduce:

1. Create a 'fresh' `launch.json`.
2. Launch ipython.
3. Pick `(lldb) Attach` from the debugging drop-down menu

[2018-02-06 15:54] CodeMouse92 commented on #1519
Hm.

`Format Document` calls...

[code]

`Format Selection` calls...

[code]

However, what **should** be called in either case (and works from the command line) is...

[code]

...of course, throwing `-offset` and `-length` in there for `Format Selection`.

So, ultimately the weird part is how `Format Selection` manages to *work*.....

[2018-02-06 18:34] thejcannon opened #1524 "Allow other extensions to query properties of the current configuration"
I'm writing an extension that plugs in our companies build processes on top of vscode-cpptools. Stuff like generating c_cpp_properties.json, launch.json, etc...

Ideally, the user would have their workspace set up so that they've selected a configuration for intellisense, and when they hit F5, the appropriate launch.json configuration is selected for their selected c_cpp_properties.json configurat

[2018-02-06 19:23] rteja commented on #1516
No, even if I select "Pause Parsing" CPU activity does not go to 0. Its as before and I do not notice any difference in search as well.

[2018-02-06 19:28] sean-mcmanus commented on #1519
-assume-filename is used to tell clang-format the name of the file that is being formatted, which is required in order to get things like header sorting to work correctly (e.g. file.h at the of file.c). It is not supposed to be used to pass the path of the .clang-format file. I recall that some of the clang-format docs were incorrect in regards to "assume-filename". Also, what is not shown in that

[2018-02-06 19:38] sean-mcmanus commented on #1516
What does it say in the tooltip when you hover over the database icon? It sounds like it could be stuck enumerating files, which can occur if your browse.path has an extremely large number of folders (of if there's some other bug causing an infinite loop in that code).

[2018-02-06 19:39] mikedld commented on #774
Confirmed, recent versions seem to work fine.

Is it okay to forcefully terminate the IS processes though? In particular, could it potentially lead to IS database corruption or something?

[2018-02-06 19:46] CodeMouse92 commented on #1519
Okay, so based on that, I did the exact same thing in the command line.

[code]

That works *exactly* as expected, finding the `.clang-format` etc. So, we know the problem isn't `clang-format` itself; piping the file into the exact command VSCode is running works just fine.

In the interest of getting VSCode running on your Ubuntu 17.10, you said the install fails silently. How exactly are you ins

[2018-02-06 20:06] sean-mcmanus commented on #1519
I just managed to get VS Code installed -- using the download from the website or the command line didn't work -- I had to search for "Visual Studio Code" in the bottom left app search. However, that installed the 1.19.1 version of VS Code and I can't get the newer 1.19.3 to be installed, but I don't think that matters. I wasn't able to repro the bug though. It picked up my .clang-format.

[2018-02-06 20:18] sean-mcmanus commented on #1519
@bobbrow Mentioned he thought it could be some bug related to the working directory used by the clang-format process. We do a chdir to the folder of the file that is being formatted, so if that fails for some reason, then clang-format won't be running with the correct working directory and would fail to find the .clang-format file. Unfortunately, we don't log any errors in that case.

[2018-02-06 20:21] CodeMouse92 commented on #1519
That's possible, except the command I ran above was run from my home folder, and *not* from the directory where the file resided.

Oif, so what are we missing? Here's what I'm following so far:

- Ubuntu 17.10 isn't the problem, or else you would have been able to reproduce it right off the bat. (Just for the record, I'm running kernel `4.13.0-32-generic x86_64`. Does yours match?)
- We have diffe

[2018-02-06 20:23] sean-mcmanus commented on #774
@mikedld Yes, forcing the termination of the IntelliSense process is currently always okay -- it doesn't interact with the browse database at all. The main process needs to be aborted gracefully or the symbol database might end up getting reset.

[2018-02-06 20:35] sean-mcmanus commented on #1519
I'm running 4.13.0-21-generic GNU/Linux, so it doesn't match. I just downloaded the ISO off the Ubuntu website. I used 0.14.6 of the extension.

How do you know your .clang-format file isn't being used? I modified the TabWidth and IndentWidth to 14 to verify it was used.

We don't have a "weird" tag -- we just have a lot of issues "open" that we don't have enough information to repro/fix.

[2018-02-06 20:48] vtkalek commented on #416
in Linux ubuntu - i was not able to debug cpp program until i changed int main() to int main(int argc, char ** argv)

[2018-02-06 21:07] CodeMouse92 commented on #1519
There were two things I was watching for to confirm `.clang-format` was being ignored:

(1) I had `NamespaceIndentation` set to `All`, but `FormatDocument` *only* was acting as if it were set to `None`. Other tests handled it correctly.

(2) Since I use Allman bracketing, I would change `BreakBeforeBraces` to `Stroustrup`, depending on the current state of the document. `FormatDocument` would igno

[2018-02-06 21:14] SUlbrichA commented on #1484
I have the same issue as @dariuszseweryn. Despite the "defines" in c_cpp_properties.json, uint8_t and alike are unkown

[2018-02-06 21:46] CodeMouse92 commented on #1519
AHA! There *is* one other difference not accounted for: `AStyle`! That extension takes over the `Format Document` function, regardless of what else is installed, but it doen't take over the `Format Selection` function from the other extensions (not even sure if it has that feature). It was unable to find its own configuration style, so *that* was taking over.

I don't know *why* it didn't occur to

[2018-02-06 21:46] #1519 closed, assigned to nobody

[2018-02-06 21:46] sean-mcmanus commented on #1524
VS code allows extensions to export functions that other extensions can call. So we could export some GetCurrentConfiguration method. Another potential option would be to store the current configuration name in a setting, and then the setting could be referenced using ${config.<setting>} in launch.json. We currently just save the current configuration as a number/index, which we send to the proces

[2018-02-06 21:54] sean-mcmanus commented on #1484
@SUlbrichA Can you try our Insiders build at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders and then look for code that is grayed out that should not be in or before the file that is supposed to define the uint8_t type? The grayed out code would indicate that defines are missing. Otherwise, I think we need more repro info, such as the compiler version used. We've had re

[2018-02-06 21:58] sean-mcmanus commented on #1519
Ah, cool. Yeah, the problem of other extensions appearing to cause bugs for us is an issue that we've sort of just ignored and hoped for the best so far. I agree that some sort of feedback as to which extension is handling the Format Document would be nice, such as appending the extension name in brackets, although that would make the UI sort of cluttery. We've gotten bug reports about IntelliSens

[2018-02-06 22:10] sean-mcmanus opened #1525 "IntelliSense-based reference highlighting can be incorrect with UTF-8 characters > 1 byte"
1. Use the Default intelliSenseEngine.
2. Put the cursor on a variable name with UTF-8 characters > 1 byte, such as "int cабв". See http://en.cppreference.com/w/cpp/language/identifiers for the valid characters in C++ identifiers.

Bug: The full variable is not selected. Our code for checking for valid identifiers isn't correct. I think there may be other buggy symptoms caused by this, but I'm not

[2018-02-06 22:17] CodeMouse92 commented on #1519
Well, crazy idea for consideration then - what about just some dedicated pane in Output for "Executing `<command>` in `<extension>`", with no other clutter? Make it standard.

If it's a valuable idea, I'll go back and make a feature request wherever needed for that.

[2018-02-06 22:51] sean-mcmanus opened #1526 "Add "C_Cpp.updateChannel" setting for "Insiders""
It should be possible to add an "insiders" setting that checks the cpptool.json if there's an insider version that's newer than the release version and then automatically download and install the insider .vsix. I tested this out via running "code --install-extension [vsix]" and it worked without any issues -- it requires a reload window to pick up the insider version, and the old version stays aro

[2018-02-06 23:07] sean-mcmanus commented on #1519
That sounds like a feature request for VS Code: https://github.com/Microsoft/vscode/issues/ . I couldn't find any similar requests. If you do a Launch Extension from our github repro Extension folder the commands we send/receive are shown in the "C/C++ Debug Protocol" output panel (but it doesn't show commands from other extensions).

[2018-02-07 00:21] xueyunquan commented on #1479
@sean-mcmanus : Hope it be fixed soon, thanks.

[2018-02-07 03:07] owent commented on #1052
I have the same problem.
When using "intelliSenseMode": "clang-x64" and the file not be opened yet."Goto Symbol" do not work.
[code]
When "databaseFilename" not set, "Goto Symbol" do not work for all files not opened.

[2018-02-07 03:14] sean-mcmanus commented on #1052
@owt5008137 Does setting your browse.databaseFilename fix it?

[2018-02-07 04:33] owent commented on #1052
@sean-mcmanus
No.
Symbols in files have not been opened still can not be "Goto" by setting browse.databaseFilename.
But it works after I open and then close these files.
So, I think maybe all files not indexed have the same problem.

[2018-02-07 05:22] djg commented on #1511
I've just been investigating the exact same issue on linux.

`obsolete/protypes.h` is located in `${workspaceRoot}/nsprpub/pr/include`

If I run the command that is specified in `compile_commands.json` for a failing CPP file, the file compiles fine, so intellisense isn't using all the defines and includeds from the command specified in `compile_commands.json`.

Is there a way to debug what values

[2018-02-07 05:43] djg commented on #1511
@nwgh, If you open `compile_commands.json`, find the command used to compile `netwerk/protocol/http/Http2Stream.cpp`, search the command for `-include /full/path/name.h` (there should be two) and put

[code]

At the top of `Http2Stream.cpp` does that fix the intellisense issue where `obsolete/protypes.h` can't be found? If so, the intellisense engine doesn't handle force including of files into co

[2018-02-07 09:08] pe224 commented on #1497
Cool. I'll re-check after release and let you know.

[2018-02-07 09:16] weinand opened #1527 "Debugger hangs starting gdb.exe on Windows 10 with UTF-8 enabled."
_From @leoliuasia on February 7, 2018 6:6_

- VSCode Version:1.19.3
- OS Version: Windows 10 Pro 1709 16299.214

## Steps to Reproduce:

1. Debug->Start Debugging
2. Nothing happens.... just hang in there with little blue block progressbar scrolling...

But when I force end task for gdb.exe in task manager window, vscode shows up an error, and little blue block disappears.

### c_cpp_properties.js

[2018-02-07 10:21] SUlbrichA commented on #1484
@sean-mcmanus I installed the insiders build and if I place an #ifndef block for __UINT8_TYPE__ in my main.c file, its content is grayed out as expected and the tool tip shows the correct definition (good job btw.)
In stdint-gcc.h where uint8_t is defined however, the same does not work somehow.

Excert from my c_cpp_properties.json
[code]
Working on Ubuntu 16.04, GCC-ARM 7-2017q4-1 (PPA version)

[2018-02-07 10:41] sean-mcmanus commented on #1052
@owt5008137 Then you're describing a different bug from the original issue. Can you file a new issue? And can you provide more repro details, such as your browse.path? It sounds like your browse.path is not set correctly. What is the behavior of the database icon in the bottom right? Does it finish parsing? Does setting limitSymbolsToIncludedHeaders to false fix it (doing that is not recommended,

[2018-02-07 10:48] sean-mcmanus commented on #1511
Yeah, we don't support "forced include" files yet. It's https://github.com/Microsoft/vscode-cpptools/issues/852 . Another potential issue is the default compiler defines aren't being set correctly, which we're working on fixing for the next release.

BTW, I missed the original post for some reason and only noticed it when @djg responded -- if you don't get any response you can try pinging someone.

[2018-02-07 11:10] sean-mcmanus commented on #1484
@SUlbrichA I assume you don't have the compileCommands set, right? If you have `__UINT8_TYPE__` in your defines list why do you expect the #ifndef to have its contents grayed out? Have you tried running `arm-none-eabi-gcc -Wp,-v -E -xc -dD -x c++ /dev/null` and making sure the system include paths are all there and in the correct order? We're fixing it so that the defines shown are included (and y

[2018-02-07 11:41] SUlbrichA commented on #1484
@sean-mcmanus I have not set the compileCommands (I use plain Makefiles). I'll look into creating it manually. I do not understand your second question: if it is defined in the json file the #ifndef makro should not expand and be grayed out (which works as expected except for the system includes in /usr – the defines do not work there; Peek: "no definition for __UINT8_TYPE__" ).  I updated system

[2018-02-07 12:31] tkazik opened #1528 "Unable to get rid of green squiggly line"
Minor issue, but I am sure you guys know what I am missing:
Simplistic program, that runs fine, only a green squiggly line below the include is bothering me a bit. Intellisense wants to add the tr1 subfolder and thereafter continues adding folders, that are already included in the c_cpp_properties.json file. Any ideas?

Some screenshots:
![greensquigglyline](https://user-images.githubusercontent.c

[2018-02-07 15:12] thejcannon commented on #1524
I think exposing the current configuration (as the full JSON) would probably be more beneficial to clients.

As far as exposing a function goes, I found a way of [executing another extension's commands](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_commands), is that what you're referring to? If so I think it would be easy to add a new command (that isn't attached to anything in the

[2018-02-07 17:20] markeissler commented on #1491
@pieandcakes Thanks for the tip! After doing that I also did this:

[code]

Embarrassing. New third-party project...didn't think to look that `target` was a wrapper intended to check that all runtime shared libs were available before launching the actual target binary stuffed in a separate `.lib` directory. Sigh.

Remote connections work for me now. :)

[2018-02-07 17:40] rrohrer opened #1530 "Find symbols in file doesn't work in .cpp files when cpptools is installed"
I'm using vscode 1.19.3 for windows 10 (1709) x64 and the cpptools 0.14.6.  I'm seeing an issue where when I press ctrl+shift+o to find symbols, it simply says "No Symbols Found" when in a cpp file (it works when a header, or other language file is open).  Sometimes for a new file it will have a little progress bar before saying "No Symbols Found", but after I've done it once in a file it's always

[2018-02-07 18:29] nwgh commented on #1511
@djg thanks for pointing out where obsolete/prototypes.h is... could've sworn I did a `find` for it, maybe it just got lost to my eyes in some noise of the output.

Once I added the single forced include for `Http2Session.cpp`, that error went away. (It exposed some other errors that are incorrect, but those could be due to an outdated objdir, or may be actual bugs, I don't know right now.)

@sean

[2018-02-07 18:33] segevfiner opened #1531 "No snippet completions after '#'"
### Reproduction
1. Make sure you have snippets with '#' as the first character.
2. Type '#'.
3. You get no completions for snippets.

This is probably because '#' is a trigger character for completions. I think snippets with '#' at the front are quite common so it makes sense to still have snippet completions after '#'.

### Versions
OS: Ubuntu 16.04.3 amd64
VS Code: 1.19.3 (Stable)
C/C++: 0.14.6

[2018-02-07 18:49] bobbrow commented on #1530
Just want to double check in case anything was lost in the redacting process:

I see the following lines in the log:
[code]
If we are actually processing D:/REDACTED_SRC_DIR/ instead of D:/C/REDACTED_SRC_DIR/ then that looks like it is our bug.  (i'm equating REDACTED_SRC_DIR to mean the same thing for both log lines).  What I'm trying to figure out is if the value of ${workspaceRoot} is wrong in

[2018-02-07 19:01] rrohrer commented on #1530
You suspicion was correct, that was heavy handed pasting on my part.  In both cases it is indeed `D:/C/[SAME PATH]`

It is strange it didn't think those files were in my ${workspaceRoot}, as there is a src folder that contains everything. (including lots of *.py and *.cs files, which I'd assume it ignores)

[2018-02-07 20:17] pieandcakes commented on #1491
@markeissler What does that block do?

[2018-02-07 20:18] pieandcakes commented on #1527
@leoliuasia Can you enable `"logging": { "engineLogging": true }` and see where it stops while communicating with gdb?

[2018-02-07 20:20] pieandcakes commented on #1523
@roversch Can you provide more information by enabling logging? `"logging": { "engineLogging": true }` in your `launch.json`. I wonder why `Step` or `Continue` fails.

[2018-02-07 20:36] sean-mcmanus commented on #1484
I wasn't suggesting you use a compile_commands.json -- we currently don't query for the system defines and don't have a way to add those manually, so it may not work as well for you (until our next release fixes it). compile_commands.json can be automatically generated via using cmake (I don't think manually trying to create is advisable because it can be very large).

The define is in your json f

[2018-02-07 20:45] sean-mcmanus commented on #1528
The Add include path suggestions is based on a recursive search of your browse.path setting, but your browse.path appears to be insufficient to contain the correct file. Can you change your browse.path to the roots, such as "C:/MinGW64/mingw64/lib/gcc/x86_64-mingw32/7.2.0/include" and "C:/MinGW64/mingw64/include" (without the * which makes it non-recursive). And you probably will want "${workspace

[2018-02-07 21:01] sean-mcmanus commented on #1524
I don't know what you mean by "exposing the current configuration (as the full JSON)". We currently use a c_cpp_properties.json that other extensions can read/write (the same way our extension does using JSON apis), but the currently selected configuration is not available anywhere. We plan to migrate away from that json file and just use the normal settings.json later though, although c_cpp_prope

[2018-02-07 21:12] thejcannon commented on #1524
What I was hoping to expose was the contents of the configuration in c_cpp_properties.json for the selected configuration. (I.e. if I've selected configuration "A", and I ask vscode-cpptools for the current configuration, I get back the JSON object that contains `"name": "A"`).

That sounds pretty promising, and would be pretty useful. Depending on the timeline, I could live without the feature I'

[2018-02-07 21:33] sean-mcmanus commented on #1530
The 0 files processed probably means that the files were already all parsed from the previous time the workspace was opened. If you're getting "No symbols found" it means that our symbol parser failed to parse the global symbols in the file for some reason. Has the file been saved? We do a symbol parse of open files, even if they're part of the browse.path. It's possible macros are interfering wit

[2018-02-07 21:39] rrohrer commented on #1530
Good catch on goto definition not working on symbols that are *within the same file*. It says "no definition found for [symbol name]" when i attempt to do that.

This project is pretty heavy on compile time templates and macros. Is there a way I could dump some sort of debug data that could help you figure out what's failing?

[2018-02-07 21:41] #1511 closed, assigned to nobody

[2018-02-07 21:52] s22chan commented on #1523
@pieandcakes `lldb-mi` seems to go into a busy loop at 100% cpu when you break before a vector variable is initialized:

[code]

breaking at string will hang, at vector will not.

If you change vector to:

[code]

VSCode handles this fine.

[2018-02-07 22:00] markeissler commented on #1491
@pieandcakes Block? I just ran the `file` command on the actual file I was trying to debug, which I had thought was the built binary but ended up being a wrapper around the compiled binary (they both had the same name). Point being: make sure you're not trying to run `gdb` on a script!

[2018-02-07 22:12] sean-mcmanus commented on #1530
We don't have detailed logging of parsing failures. What I typically do is a binary search by deleting code until I get code that parses symbols. Macros in the signature of methods can break things as well macros that involve scopes like `for` loop macros. This can be fixed via adding a cpp.hint file to your workspace with contents like:
`#define MACRO_NAME1(arg1, arg2, arg3)`
`#define MACRO_NAME2

[2018-02-07 22:22] rrohrer commented on #1530
Ah that makes sense.  I'll try the insider release, and if that fails... I'll make a cpp.hint that has our major macros in it.  We have a bunch of macros in method signatures unfortunately.

Thanks for the help!

[2018-02-07 22:28] pieandcakes commented on #1491
@markeissler Ah that makes more sense. Sorry, I was trying to see if `file project/target` was something special that we needed to run :)

[2018-02-07 22:46] WardenGnaw opened #1532 "`adapterExecutableCommand` replaced with `debugAdapterExecutable`"
From https://code.visualstudio.com/updates/v1_20#_debug-api.

Add DebugConfigurationProvider.debugAdapterExecutable to our DebugConfigurationProvider.

[2018-02-07 23:39] sean-mcmanus commented on #1531
Our next release should have a fix -- our registration of `#` as a trigger character broke this. A workaround is to type `#` and then hit escape. We can't really support `#` as a trigger character unless all the other completion providers are also triggered, so `#` won't show all the available keywords, but it will show completions/snippets as soon as you type a letter.

[2018-02-08 01:48] leoliuasia commented on #1527
@pieandcakes Thanks for your time! Below are the output informations from the **DEBUG CONSOLE** after logging enabled.

- 1: (267) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'
- 1: (283) LaunchOptions  ExePath='c:\Users\Leo\Desktop\cpp\a.out'
- 1: (283) LaunchOptions  WorkingDirectory='c:\Users\Leo\Desktop\cpp'
- 1: (283) LaunchOptions  ExeA

[2018-02-08 01:53] leoliuasia commented on #1527
@pieandcakes When this kind of things happens, I think the "Stop Debugging" should also be working, but it does not. The whole debug process only can start again util reopen the vscode.

[2018-02-08 05:29] owent opened #1534 "Go to Declaration/Definition do not work when the related file(s) have not been opened."
* Operating System: Windows Pro 10.0.16299
* VS Code version: 1.19.3, not a insider version
* C/C++ extension version: 0.14.6

When using "intelliSenseMode": "clang-x64". "Go to Declaration/Definition" do not work when the file(s) have not been opened.

If  browse.databaseFilename is set, "Go to Declaration/Definition" works for those files I opened before and then closed, but it still  do not wor

[2018-02-08 05:52] bobbrow commented on #1534
`"browse.path"` controls the symbol indexing for your workspace folder.  I don't see any paths in there for your "WSL" configuration.  You should copy your project-specific paths from `"includePath"` into the `"browse.path"` setting to get go to definition to start finding definitions of methods in your workspace folder.

[2018-02-08 06:16] owent commented on #1534
@bobbrow
Thanks, I solved this problem by adding "${workspaceRoot}/src" to browse.path .

[2018-02-08 06:16] #1534 closed, assigned to nobody

[2018-02-08 08:27] owent opened #1535 "'"size_t" is ambiguous‘ when using WSL"
+ Operating System: Windows Pro 10.0.16299
+ VS Code version: 1.20.0, not a insider version
+ C/C++ extension version: 0.14.6

When I use "intelliSenseMode": "clang-x64" and using WSL(Ubuntu).
There are many '"size_t" is ambiguous' in problem panel.
My configure is just like the sample on https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Windows%20Subsystem%20fo

[2018-02-08 11:16] ralphrmartin commented on #328
Still getting this problem, with code exported from mbed.

[2018-02-08 11:40] bcuriel opened #1536 "Precompiled header support"
Unless I missed it (apologies if so), there doesn't seem to be any way to feed a precompiled header file into the tool, only directories.

Being able to add a specific list of include files, in addition to include directories, in the c_cpp_properties.json would be helpful to allow the tool to resolve the symbols.

[2018-02-08 14:28] thejcannon commented on #1524
Actually. If we just exposed the current configuration's name through settings.json, it would solve our problems (as far as needing the configuration exposed) and be a stepping stone to having vscode-cpptools exclusively use settings.json.

Would you be opposed to that solution?

[2018-02-08 14:44] tkazik commented on #1528
Thank you for the hints!
Unfortunately, the suggestions are still here to include already included paths.
I discovered you opened issue a few days ago: https://github.com/Microsoft/vscode-cpptools/issues/1489
This is kind of similar, but the suggestions don't stop, even after adding the path.

[2018-02-08 15:15] thejcannon commented on #368
FWIW I just fixed #314 which allows `config:...` replacements in c_cpp_properties.json.
That means you can stick anything you want into your user settings and use it in c_cpp_properties.json.

That's definitely easier than an environment variable.

[2018-02-08 17:52] bobbrow commented on #1536
I think #852 is tracking the feature you are asking for.

[2018-02-08 19:06] pieandcakes commented on #1527
@leoliuasia I don't know if you are using a different encoding, but for some reason `gdb` is receiving
[code]
and the issue looks like `->&"\357\273\2771001-gdb-set target-async on\n"` with the strangely escaped characters.

[2018-02-08 19:12] pieandcakes commented on #328
@ralphrmartin If you can provide me a repro log I can take a look (`"logging": { "engineLogging": true }` in `launch.json`). I don't have a microcontroller or a setup to test it with, so this isn't a scenario I'm familiar enough with.

[2018-02-08 19:17] ralphrmartin commented on #328
I finally fixed the problem. The issue (not described on the mbed website) was that you need to look out for the text the gdb server sends when it is ready.

See bug raised here and my solution:
https://os.mbed.com/forum/bugs-suggestions/topic/28935/

[2018-02-08 19:25] bcuriel commented on #1536
Indeed. Sorry I missed that.

[2018-02-08 19:43] sean-mcmanus commented on #1524
Yeah, that sounds good to me. I can't think of any blocking problems that would cause (or a need to modify the language server process). @bobbrow @grdowns @ronglums Do you guys see any issues? If the setting name doesn't match any names in the c_cpp_properties.json it should switch to the default and update the workspace setting to be valid. Did you want to add this yourself? I'm not sure when we'

[2018-02-08 19:51] pieandcakes commented on #328
@ralphrmartin awesome! thanks for sharing the solution.

[2018-02-08 20:04] sean-mcmanus commented on #1528
Which file is still missing? wchar.h? Is the file path of that in the includePath?

We might have some issue with gcc 7.2.0 we need to investigate. A similar report is https://github.com/Microsoft/vscode-cpptools/issues/1520 .

[2018-02-08 20:08] thejcannon commented on #1524
I'd be happy to try 😄

[2018-02-08 20:10] sean-mcmanus commented on #368
We haven't shipped the fix yet though (ETA is next week), unless you want to build/run it from the OSS, but binary that is retrieved is slightly out of date so inactive regions probably don't work (they require the binary in the 0.15.0-insiders release).

[2018-02-08 20:14] sean-mcmanus commented on #1524
Sure, let us know if you have any questions or want help with something.

[2018-02-08 20:24] alekseyt commented on #1406
I'm closing this issue because it was closed in vscode and i can't reproduce this anymore.

[2018-02-08 20:24] #1406 closed, assigned to nobody

[2018-02-08 21:58] torokati44 commented on #1485
I have the same problem. Many macros from the `CL/cl.h` header are underlined, and generate a problem entry, but I can peek at, and go to their definitions.

![image](https://user-images.githubusercontent.com/288816/36000387-10e210a6-0d23-11e8-8d7e-b957a1058584.png)

I actually get two definitions, one from `/usr/include/CL/cl.h` and one from `/usr/local/include/CL/cl.h`.
Removing `"/usr/local/inc

[2018-02-08 22:10] tkazik commented on #1528
There isn't a file missing. Intellisense just continues to suggest more and more include paths.
If I follow the suggestions, I end up with an include path like this:
![include_path](https://user-images.githubusercontent.com/15689124/36000988-22f1db62-0d25-11e8-8fed-7c3a9aad4efb.png)

[2018-02-08 22:14] sean-mcmanus commented on #1485
@torokati44  What does your include statement look like? `#include <CL/cl.h>`? The includePath is not recursive.

It works for me (I'm hovering over the `+`):
![image](https://user-images.githubusercontent.com/19859882/36001134-2e38fbd6-0cda-11e8-9daf-7ce7dac11f82.png)

[2018-02-08 22:15] torokati44 commented on #1485
Yes, it is `#include <CL/cl.hpp>`.

[2018-02-08 22:26] torokati44 commented on #1485
If my code is very simple, for example
[code]
Then there is no issue. Regardless of whether I include `cl.h` or `cl.hpp`. I'll try to reduce the more complicated source to a simpler form where the problem still occurs.

[2018-02-08 22:32] sean-mcmanus commented on #1485
Oh, that is very strange. I've never seen more complicated code causing a definition to become undefined. You might want to try 0.15.0-insiders (https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders ) -- we updated the IntelliSense parser and fixed our highest hitting crashes.

Also, if your file contains UTF-8 characters > 1 byte, the intellisense parsing can randomly become

[2018-02-08 22:39] torokati44 commented on #1485
Oh, I think I've got it!

This triggers the error for me:
[code]

Even if `foo.h` is an empty (but existing) file. The same thing if `#include <iostream>` is before and after `#include <CL/cl.h>`. It does not matter if I include `cl.h` or `cl.hpp` in the middle.

If `foo.h` (or `iostream`) is included only after, or only before `CL/cl.h` (even multiple times), then the problem marker goes away. It

[2018-02-08 22:46] torokati44 commented on #1485
The exact same thing happens with VS Code 1.18.0-insider and cpptools 0.15.0-insiders.

[2018-02-08 23:04] sean-mcmanus commented on #1528
The includePath code action is only supposed to appear if it detects a header file that can't be found. Is there an "#include error detected." message in your problems pane? Which file does it say it cannot open?

[2018-02-08 23:18] sean-mcmanus commented on #1485
@torokati44 Okay, I'm reproing it now. Yikes -- looks like all macro definitions become undefined after a duplicate `#include` is used in a file. The bug is inherited from VS 2017 -- so I'll follow up with them to get it fixed. Thanks a lot for reporting this and finding a repro. I'm not sure if it's the same issue as the original post though :)

[2018-02-08 23:23] sylveon opened #1538 "False error"
The following code produces an IntelliSense error in VSCode with all the C++ settings at their defaults:

[code]

![](https://files.charlesmilette.net/FlawlessBurlywoodPeafowl)

Yet, when built with MSVC/Visual Studio,no error is shown by IntelliSense

![](https://files.charlesmilette.net/HighlevelMountainousConure)

I'm running Windows 10 build 17093, VSCode 1.19.3, addon version 1.13.1.
Visual S

[2018-02-08 23:26] torokati44 commented on #1485
Thank you!

Well, I don't see it as being as simple as a "duplicate include", since doing this for example:

[code]
With `foo.h` being empty, and `bar.h` only containing `#define ONE 1`, I don't get the "identifier is undefined" error. But if I include `"foo.h"` once (or many times) more before declaring `a`, it comes back. So it's weird. But you see the code, so you probably have a better idea of

[2018-02-08 23:39] sean-mcmanus commented on #1538
Our default "defines" settings has "UNICODE" defined. Removing that fixes the issues (do an Edit Configuration to access the c_cpp_properties.json). Is that acceptable or did you want us to investigate changing the default defines? I'm not sure why we have UNICODE defined by default -- maybe @bobbrow knows.

[2018-02-08 23:46] Zooce opened #1539 "[Feature Request] Option to disable comment auto-formatting"
I'd like to request that an option be exposed to disable auto-formatting of comments. When I start a Doxygen comment with `/**`  and hit `Enter` a leading asterisk is automatically added to subsequent lines. However, the code base in which I work, prohibits the use of leading asterisks in Doxygen comments like this:

[code]

I've asked about this in the core vscode repo, but I was told that cpptoo

[2018-02-08 23:51] sylveon commented on #1538
Visual Studio also has UNICODE defined by default:

![](https://files.charlesmilette.net/NimblePoorIlsamochadegu)

[2018-02-09 00:06] bobbrow commented on #1539
Yes, this comes from our extension.  Help me understand your requirements better.  Are you saying that when you press <kbd>Enter</kbd> after the question mark you want the comment to look like this?
[code]

[2018-02-09 00:08] sean-mcmanus commented on #1538
Adding "_UNICODE" fixes it (VS also defines that by default). It looks like we should add _UNICODE to our defaults too.

[2018-02-09 00:45] WardenGnaw commented on #1527
@leoliuasia Can you run ```reg query "hklm\system\controlset001\control\nls\language" /v Installlanguage```? This will help us understand which language you have enabled on your OS for us to recreate the issue.

[2018-02-09 00:56] bobbrow commented on #1524
I think it would be better to export an API (it's something I eventually want to do for CMake integration anyway) than add a new setting for this.  A setting opens up some weird cases since it can be set in any of three scopes (global, workspace, folder) and this really only ever applies to a folder.

Another potential option would be to write the active configuration index into the c_cpp_properti

[2018-02-09 00:59] Zooce commented on #1539
Sorry, I should have clarified. Here's what I want to end up with:

[code]

Basically, after I type `/**` and hit Enter, I just want to go to the next line like any other time I hit Enter, and not have any specially formatting happen.

[2018-02-09 01:15] JcobCN commented on #1134
@sean-mcmanus It work well in 0.14.6.
Thank you for your effort.

[2018-02-09 01:42] #1538 closed, assigned to nobody

[2018-02-09 02:05] sean-mcmanus commented on #1524
The global/workspace scopes are still valid as defaults if the folder setting isn't set yet. The problem with the export API is that I don't think you can add that to a task/launch.json, which I assumed was a goal -- see https://github.com/Microsoft/vscode-cpptools/issues/1444 for another recent user request.

Way back in December 2016, I was thinking about something like...
`C_Cpp.includePaths: {

[2018-02-09 02:28] sean-mcmanus commented on #1134
Yeah, we had an unfortunate regression in 0.13.1, but we didn't realize it was a wide spread issue until we debugged a specific repro case (`\\u` usage) from another user's report ( https://github.com/Microsoft/vscode-cpptools/issues/1197 ).

[2018-02-09 02:28] #1134 closed, assigned to nobody

[2018-02-09 03:41] bobbrow commented on #1539
Thanks for the clarification.  I am thinking about adding a setting that lets you specify which opening characters will initiate a multi-line comment.  Another user asked for support for `/*` and I believe `/*!` is another comment starter that QT users might use.  So I believe the setting would take an array of starter combinations and we would register the matching patterns with VSCode.  If you d

[2018-02-09 03:49] sean-mcmanus commented on #1539
Yeah, I like that idea (the other issue is https://github.com/Microsoft/vscode-cpptools/issues/1100 ).

The options with doxygen are http://www.stack.nl/~dimitri/doxygen/manual/docblocks.html .

[2018-02-09 04:31] Zooce commented on #1539
@bobbrow, that sounds like a great way to handle this. Quick question, when a multi-line comment is initiated, what determines the automatic leading characters of the subsequent lines? For example, if I had `C_Cpp.multilineCommentBegin = [ "//!" ]`, what would happen when I hit Enter? What I'd like to see is:
[code]

@sean-mcmanus, good call on mentioning the Doxygen documentation. We use `//!` st

[2018-02-09 07:12] mfmayer commented on #1464
I want to vote for that, too. It was the first thing I've realized that local variables & function's parameters are not suggested by autocompletion. Would be really helpful to have this. But anyway great work und thanks for the great tools! :-)

[2018-02-09 12:03] gagbo commented on #1187
@ngg Did you find a workaround eventually ? I'm running in the same issue as you and can't find any help on the subject

EDIT : small but *not* a minimal example, but if you can compile against Qt5 you can try using a compilation database on this [small repo](https://github.com/gagbo/flocking)

[2018-02-09 13:24] vrbadev commented on #634
Any progress at this issue? I'm really looking forward to the implementation of this feature...

[2018-02-09 15:55] Zooce commented on #1539
To expand upon the idea (although, it might be overkill for this) is to do something like this:
[code]

[2018-02-09 16:34] je-so opened #1541 "jump to definition hangs up on ubuntu"
I am using Version 1.20.0, Commit c63189deaa8e620f650cc28792b8f5f3363f2c5b, 2018-02-07T17:10:15.949Z, Shell 1.7.9, Renderer 58.0.3029.110, Node 7.9.0, x64

Problem description:
I am opening Visual Studio Code. Selecting a symbol and jump to its definition.
The C source is opened in a new editor tab (temporary).
I change the source code file, save it, recompile, and run the project.
Then I undo the

[2018-02-09 17:20] bobbrow commented on #1524
Fair point.  I forgot about tasks.

[2018-02-09 17:25] bobbrow commented on #1100
This issue is going to be tracked by #1539 which will support this request and other generalized patterns.  Thank you for your input to help the extension get better.

[2018-02-09 17:25] #1100 closed, assigned to nobody

[2018-02-09 17:27] leoliuasia commented on #1527
@WardenGnaw Below is the output:

D:\Integration Projects>reg query "hklm\system\controlset001\control\nls\language" /v Installlanguage
HKEY_LOCAL_MACHINE\system\controlset001\control\nls\language
    Installlanguage    REG_SZ    0409

[2018-02-09 17:34] bobbrow commented on #1539
A note for anyone considering helping out with this.  The code with the patterns currently lives in [Extension/src/LanguageServer/extension.ts](https://github.com/Microsoft/vscode-cpptools/blob/master/Extension/src/LanguageServer/extension.ts). I am considering moving this logic out into its own file and exporting a method to provide the patterns to VS Code.

[2018-02-09 19:28] sean-mcmanus commented on #1187
@gagbo It could be due to the fact that we don't query the compiler for the defines set and we don't pass in the language version (or we're picking the unintended compiler, because with compileCommands we use the compiler in the "command" but without it we just guess), which we're in the process of fixing. There is no workaround yet if you're using a compile_commands.json.

[2018-02-09 19:36] sean-mcmanus commented on #1541
This sounds like a known issue -- you need to wait for the red flame in the bottom right to disappear or the Go to Definition will be blocked by the IntelliSense process. We have various plans to fix this. Setting the intelliSenseEngine to "Tag Parser" should cause it to stop reproing, but the enhanced intelliSense features won't be enabled (e.g. error squiggles, inactive regions, accurate hover/m

[2018-02-09 20:50] sean-mcmanus commented on #1251
I think this will be fixed via using the new compiler setting, which went set and found, doesn't try to find the compiler in the compile_command.json command.

[2018-02-09 21:55] WardenGnaw commented on #1527
Could you also share what CodePage your OS is running? You can find this out by building and running the attached project.

You can build and run this by installing dotnet core at https://www.microsoft.com/net/learn/get-started/windows. Then unzip that project and run ```dotnet build``` and ```dotnet run```.

You should see something similar to ```Your code page is 437``` but with a different numb

[2018-02-09 22:00] sean-mcmanus commented on #1535
I'll try to investigate this for March, unless @bobbrow can look at this earlier.

[2018-02-09 22:11] fexolm commented on #1528
That looks really similar to what i was talking about in #1520.

[2018-02-09 22:49] terencechow commented on #531
Can we get an update on this? I feel like this should be a priority. Coding with the Core Guidelines should be mandatory...

[2018-02-09 23:01] sean-mcmanus commented on #531
@terencechow No progress has been made. It's on our "backlog" and somewhat out of our feature scope focus. We'd be willing to accept a pull request to integrate static analysis tools. Or the teams who are implementing the other tools could create their own extension. If more people could request the VS team implementing the core guideline checker in VS 2017 to port it to VS Code too maybe they'd d

[2018-02-09 23:03] sean-mcmanus commented on #1198
We've reported the bug to the VS C++ team internally, and also on the VS 2017 external site (https://developercommunity.visualstudio.com/content/problem/196646/invalid-c-intellisense-error-a-reference-of-type-a.html , although if that link doesn't work, it might be "Microsoft internal"). No ETA on a fix yet.

[2018-02-10 01:20] WardenGnaw commented on #1527
Hi,

We may have a potential fix. Can you try installing this patched cpptools vsix and see if this fixes your issue?

[cpptools.zip](https://github.com/Microsoft/vscode-cpptools/files/1712872/cpptools.zip)

Please uninstall the c/c++ extension that is already installed, then in the Extensions menu, click on the 3 dots and you should see ```install from vsix```.

![image](https://user-images.githu

[2018-02-10 09:41] astepanov83 commented on #1373
Sorry for late reply.

I don't remember if they were running at the moment of the bug. The plugin is always enabled. I also can see processes right now:

alex@KU1604VM:~$ ps ax | grep Microsoft
 34571 ?        Sl     1:34 /home/alex/.vscode/extensions/ms-vscode.cpptools-0.14.6/bin/Microsoft.VSCode.CPP.Extension.linux
 37634 ?        Sl     0:00 /home/alex/.vscode/extensions/ms-vscode.cpptools-0.14

[2018-02-10 12:45] Zalez95 commented on #323
Hi, I'm new with VSCode and I'm having this same issue in Linux Mint 18.3 in 64 bits (based on Ubuntu 16.04) with 8GB of RAM. The VSCode C++ extension starts using memory until my PC runs out of it, I even have to sandbox the app because when this happens my system becomes unresponsive.

![captura de pantalla de 2018-02-10 13-32-14](https://user-images.githubusercontent.com/12982523/36062233-41bc1

[2018-02-10 17:04] 1g0rb0hm opened #1542 "Error Squiggles showing for valid C++ code using explicit template instantiation"
* OS: OSX 10.13.2
* VS Code: 1.20
* C/C++ extension version: 0.14.6

Error Squiggles are shown for the following sample code (see screen snap further below):

### `Test.h`

[code]

### `Test.cpp`
[code]

The way the template methods are explicitly instantiated is correct and should not present any errors. I am aware that there are multiple ways of achieving explicit instantiation of templates. How

[2018-02-10 17:27] je-so commented on #1541
This sounds like a known issue -- you need to wait for the red flame in the bottom right to disappear or the Go to Definition will be blocked by the IntelliSense process.

Thanks.

I tried again and waited for the red flame to disappear but waiting for more than 8 minutes did not make it disappear. So I think there is some deadlock between client and server process.

[2018-02-10 21:00] bobbrow commented on #1539
I started playing around with this a bit.  The "end" label seems to be unnecessary for both cases.  And I think the continue label can be defaulted such that either a string or an object can be passed in to the setting's array.  Default continuation for multiline comment would be " * ".  Default continuation for single line comment would be the start pattern.

[code]

[2018-02-10 23:45] rhencke opened #1543 ""Learn More" button on "Configure includePath for better IntelliSense results." is broken link"
OS: macOS 10.13.3 Beta (17D34a)
VS Code: 1.20.0
C/C++ for Visual Studio Code: 0.14.6

Steps to reproduce:
1) Open a C/C++ project without includePath configured. An 'Info' box pops to the top of the screen: reading 'Configure includePath for better IntelliSense results.'
2) Click 'Learn More'.
A browser window opens, that directs first to https://go.microsoft.com/fwlink/?linkid=864631, which in tu

[2018-02-11 05:45] Zooce commented on #1539
Can you clarify what you mean by continuation for a single line comment? Also, are you saying passing a string into the setting's array would default to a continuation of itself?

The current behavior upon hitting <kbd>Enter</kbd> the first time, is to insert both the first "continuation" line and the "end" line of the multiline comment, like so:
[code]
However, I don't see this working as well fo

[2018-02-11 09:58] zhangmn799 opened #1544 "It can't hit BreakPoint when Attaching"
**Environment data**
VS Code version:precmd1.20.0
C++ Extension version: 0.15.0
Debugger: cygwin64
OS: Win10 RS2/Ubuntu14.04-x64

**Steps to reproduce**
1.Install vscode.
2.Install c++ extension.
3.Create a folder named test, create a file named main.cpp in test as following:
![code](https://user-images.githubusercontent.com/26423555/36072094-90745c60-0f54-11e8-843f-d10d7ffc5613.PNG)
6.Compara pro

[2018-02-11 14:33] phamchin commented on #1181
Thank you, @kamilr , just added path locale.h. That helped me :)

[2018-02-11 21:01] tkazik commented on #1528
Apparently it is ´stddef.h´.

![stddef](https://user-images.githubusercontent.com/15689124/36078457-d8892d42-0f76-11e8-9b47-0d7c7c4e83f4.png)

[2018-02-11 22:03] vamsis-adapa opened #1545 "cant use intellisense"
#include errors detected. Please update your includePath. IntelliSense features for this translation unit (C:\Users\Vamsi Adapa\Desktop\cs lab f111\random.c) will be provided by the Tag Parser.
when I  use update intellisense with location of json file this error occurs "Invalid escape character in string."
on trying to save file this notification appears "Failed to parse "c:\Users\Vamsi Adapa\Des

[2018-02-12 02:58] bolu61 commented on #1527
@WardenGnaw I ran into the exact same issue. My code page is 65001. The potential fix does not work.
@pieandcakes I believe that \357\273\277 is a BOM indicating UTF-8 encoding?

[2018-02-12 11:05] sean-mcmanus commented on #323
@Zalez95 We haven't received any reports of 3-4 GB memory usage since October. What version of cpptools are you using? 0.14.6? Does it repro with the insiders build: https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders ? We need more repro info in order to fix this. I assume it doesn't repro with a simpler project?

[2018-02-12 11:19] sean-mcmanus commented on #1542
I can repro it -- it's strange that it doesn't repro in the latest VS 2017...oh, it's because it only repros in clang-x64 mode.

[2018-02-12 11:22] sean-mcmanus commented on #1541
The IntelliSense process could be stuck in an infinite loop, e.g. https://github.com/Microsoft/vscode-cpptools/issues/1294 . What compiler toolset are you using, e.g. gcc 7.2? Is there any way you can provide a simple repro? Or can you get a call stack of the IntelliSense process? Our insider build fixed some crashes and is using a newer parser, so it's possible it may not repro with that: https:/

[2018-02-12 11:27] sean-mcmanus commented on #1545
Your usage of `\` in the path needs to changed to`\\` or `/`.

[2018-02-12 11:40] spinicist commented on #871
Hi, just to note I am experiencing this problem as well on Mac (High Sierra).

[2018-02-12 14:30] thejcannon commented on #1524
From a client's perspective, `settings.json` is much easier to consume (since you can use `${config:C_Cpp.foo}` in `tasks.json` or `launch.json`.
From the perspective of an extension writer, it's easier as well since there's `vscode.workspace.getConfiguration()[C_Cpp]`.
Which means there's no API to maintain for you guys.

[2018-02-12 16:05] bobbrow commented on #1539
Correct.  For single-line comments, the default continuation would be itself.  This is what I imagined the default would be based on your example as well as my experience using xml comments in C# which start with '///'.

Are you using another plugin that is adding the ending `*/` for you when you press <kbd>Enter</kbd> after `/**`?  Our extension does not do that.

With single line comments, there

[2018-02-12 16:21] DemoCrazer opened #1546 "Debug error "Unable to '...': File not Found""
* Windows 10
   * VS Code version 1.20.0
   * C/C++ extension version 0.14.6
   * Other extensions: C++ Intellisense

I tried to debug C++ file with gdb, but following error message is appeared.

`Unable to 'main.cpp': File not found (file:///c/Users/.../main.cpp)`

But I set the program path in `launch.json` file like this:

`"program": "C:/Users/.../main.exe"`

I think it's because VS Code recog

[2018-02-12 16:41] bobbrow commented on #1528
Where did you get your MinGW from?  I have [msys2](http://www.msys2.org/) with GCC 7.2.0 and `<iostream>` resolves ok with the default system include path (no need for tr1).

[2018-02-12 16:50] bobbrow commented on #1524
Either way, there's always *something* to maintain. 😉

[2018-02-12 17:23] WardenGnaw commented on #1544
@zhangmn799 Can you enable ```"logging": { "engineLogging": true }``` in your launch.json and copy what appears in the Debug Console?

[2018-02-12 17:52] vamsis-adapa commented on #1545
Now the Error 'C:/Users/Vamsi Adapa/Desktop/.vscode/c_cpp_properties.json" could not be parsed. Using 'includePath' setting in c_cpp_properties.json" is showing.

[2018-02-12 18:11] Zooce commented on #1539
Oh, you're right about inserting the "end" pattern; my apologies. I was thinking of an IDE I've used in the past (maybe Eclipse or something).

I'll just throw this thought out there: if the comment line is empty, and the continuation ends, then I'd have to start a new one manually if all I wanted was an empty comment line for readability (not that big of a deal - just a tad inconvenient):
[code]

[2018-02-12 18:12] Zalez95 commented on #323
Hi @sean-mcmanus,

Yes, I'm currently using the 0.14.6 version of cpptools, but I could try to install that one and work with it just to see if this problem happens again, because it seems that it happens randomly in this version (also, the memory was limited to max 4GB in that screenshot, if i hadn't limited it, Cpptools will had continued using memory until my computer had runned out of it).

On

[2018-02-12 18:20] bobbrow commented on #1545
I see you pasted a path to **c_cpp_properties.json** into the `"compileCommands"` field.  These two are not compatible.  Compile Commands has a very specific format.  If your build system is not generating this file for you, then you should delete that line.

The rest of your "Win32" config looks incorrect too.  It appears that you renamed the "Mac" configuration, but I recommend that you just del

[2018-02-12 18:36] vamsis-adapa commented on #1545
Thanks for the suggestion. I ended up adding my compiler path into the include path and path. It seems to be working now.

[2018-02-12 18:36] #1545 closed, assigned to nobody

[2018-02-12 18:45] hrsto opened #1547 "1202"

[2018-02-12 18:45] #1547 closed, assigned to nobody

[2018-02-12 18:49] bobbrow commented on #1543
Thanks for letting us know!  The go.microsoft.com link has been updated to point to the right file.

[2018-02-12 18:49] #1543 closed, assigned to nobody

[2018-02-12 19:01] roversch commented on #1523
@pieandcakes Here's the logging info you asked for:

https://gist.github.com/roversch/5d9e67b1388a413e5ddb366ce1243f43

It hangs and runs at ~100% CPU indeed. Weird that it crashes at `var-create "nb"`, there are others like it (e.g. `"ng"`) that it doesn't have a problem with.

On killing `lldb-mi`, I get following error:

<img width="1011" alt="screen shot 2018-02-12 at 20 04 18" src="https://us

[2018-02-12 19:29] pieandcakes commented on #1523
@roversch can you tell me what `nb` is?

is where it hangs (like your note says). The difference between `lldb` and `lldb-mi` is probably two fold:
1) `lldb` from the command line is probably the one that you get from XCode, whereas `lldb-mi` that we use is the one we download when you install the extension. This is a private build that we produce that has fixes to work properly in `mi` mode.
2) w

[2018-02-12 19:41] roversch commented on #1523
`nb` is an automatic variable: `std::vector<uint> nb(N+1);`

If you want, you can directly look [in the code](https://github.com/acados/acados/blob/new_core/interfaces/acados_cpp/ocp_qp.cpp#L49) which is on Github.

[2018-02-12 19:51] sean-mcmanus commented on #871
Another team was assigned this bug way back in July but they still haven't gotten around to fixing it. I'll try to ping them to see if they can increase the priority since we've been getting more complaints.

[2018-02-12 20:01] sean-mcmanus commented on #1542
It might be related to (or the same as) https://github.com/Microsoft/vscode-cpptools/issues/871 .

[2018-02-12 20:13] pieandcakes commented on #1527
@Muttsu which OS installation are you using? Please give the OS version and the locale that you installed so we can setup a proper test machine. We haven't been able to duplicate this issue here yet.

[2018-02-12 20:14] pieandcakes commented on #1523
Thanks. Can you tell me how big the vector is expected to be? I see it is N+1 but how big is N in your local example?

[2018-02-12 20:19] roversch commented on #1523
I have `N=5`. Will never be bigger than 200 or so.

[2018-02-12 20:21] pieandcakes commented on #1523
@roversch Let me see if I can setup a separate repro and figure out what is going on. It looks like that project needs MATLAB which I don't have.

[2018-02-12 20:25] s22chan commented on #1523
you don't need a huge program. As I had pointed out previously, just this is sufficient:

[code]

set the breakpoint at the `string file` line.

[2018-02-12 20:25] pieandcakes commented on #1523
Ok thanks

[2018-02-12 22:46] bolu61 commented on #1527
Im using win10pro build 17093.1000 (though i had this issue with older builds). Locale is en_CA.

Also I was wondering when the extension starts gdb, where does "set target-async on" come from? I couldn't figure out where in the extension's code it tries to put these configurations.

[2018-02-12 22:56] pieandcakes commented on #1527
Do you have any additional language packs installed? are you using an input method other than English?

[2018-02-12 23:02] bolu61 commented on #1527
@pieandcakes I do have french, chinese and japanese keyboard layouts installed, but i use english(us) for coding. I noticed that vscode would switch my keyboard layout sometimes? it's weird

[2018-02-13 00:58] pieandcakes commented on #1546
I think this is how it is compiled. You can try specifying `"sourceFileMap"` in your `launch.json` to have it map from upper to lowercase. I assume that error is a VS Code error that it can't find the file which is displayed as a drop down message at the top?

[2018-02-13 00:59] pieandcakes commented on #1544
@WardenGnaw This is a CTI bug. I have an email on it that I will forward to you.

[2018-02-13 01:35] BillYang2016 opened #1548 "compiler error : cygheap base mismatch detected"
- Windows 10
- VS Code version 1.20.0
- C/C++ extension version 0.14.6
- C++ compiler : cygwin

After update vscode,the compiler doesn't work anymore.
![tim 20180213092009](https://user-images.githubusercontent.com/26852391/36128823-5c2eff22-109f-11e8-8761-5f0e6041a9c2.png)
If I use bash terminal to compile files or just type `g++`,then this happens.But if I use cmd to compile,it succeed.
Is this

[2018-02-13 01:47] likui911 commented on #1181
Thank you @bobbrow

[2018-02-13 01:47] BillYang2016 commented on #1548
in "tasks.json" file,after I choose "process" type,it works.

[2018-02-13 01:47] #1548 closed, assigned to nobody

[2018-02-13 06:19] ybbct commented on #273
+1

[2018-02-13 06:51] je-so commented on #1541
I've installed the insiders version.
Reproducing the bug with the sequence of steps described above does no more work.
So I played around and it seems that the mouse plays a role.

Hovering over a function name and pressing ctrl (ctrl+mouse left jumps to definition)
brings up the red flame. If I press the left mouse button after the red flame disappeared it works.
But if I press the left mouse but

[2018-02-13 08:09] qian6 commented on #1544
You can refer to attachment log.
[log1.txt](https://github.com/Microsoft/vscode-cpptools/files/1719126/log1.txt)

[2018-02-13 08:32] rteja commented on #1516
Closed it by mistake.

When I hover over database icon, it is enumerating files. I see that this never ends. Yes, there are extremely large number of folders and files.

[2018-02-13 09:57] aenima1891 commented on #852
This feature will be very usefull.
Its absence is one of the main reasons that does not make me migrate to VSCode.

[2018-02-13 11:13] zbendefy opened #1550 "[SOLVED] Terminal not found on linux since VSCode 1.20"
Hi! I recently updated to VSCode 1.20.0 (from 1.19). I'm using Linux Mint 18.3 (64 bit Cinnamon), and I have the following extensions installed: C/C++ (0.14.6), CMake, CMake Tools, CMake Tools Helper.

When I try to launch a debug session, I get the following error message:
**Unable to start debugging. No terminal is available to launch the debugger. Please install Gnome Terminal or XTerm**

I hav

[2018-02-13 14:20] jguiban commented on #16
+1 for having this useful feature integrated soon

[2018-02-13 14:49] DemoCrazer commented on #1546
@pieandcakes How can I specify `sourceFileMap`?

[2018-02-13 15:46] palonso opened #1551 "C_Cpp.errorSquiggles parameter not working"
Hello,
I wanted to report a buggy behaviour just in case someone finds the same problem.
I'm using VS Code Version 1.20.0 with C/C++ version 0.14.6 over Linux 17.10. I've noticed that after a fresh install without modifing any default paramenter the error squiggles were not displaying when opening a folder containing c++ files (Only red squiggles for the missing includes)
The console output at the

[2018-02-13 16:46] jlj-ee opened #1552 "Show numeric value of unsigned char using Intellisense"
Is there any way to force VS Code/cpptools to display the numeric (decimal/hex) value of an unsigned char/uint8_t instead of the character literal, when hovering over a variable or constant? So instead of the values shown below:
![uint8_t](https://user-images.githubusercontent.com/11401637/36161623-2298ec06-10b2-11e8-8b91-03d9c4848204.png)
we could see:
`const uint8_t OUTPUT_PINS[5] = {(uint8_t) 9

[2018-02-13 16:49] bobbrow commented on #1551
Was `C_Cpp.errorSquiggles` set in the Workspace Settings or a settings.json file in your code folder?

![image](https://user-images.githubusercontent.com/12818240/36162049-3a3116da-109a-11e8-89a0-16e0091a8b60.png)

The only thing I can think of is that settings can be overridden on a per folder basis.  So if you were changing the "User Settings" (the global settings), but the folder you opened had

[2018-02-13 16:52] bobbrow commented on #1552
Thank you for the suggestion.  We will put this on the backlog.

[2018-02-13 18:59] pieandcakes commented on #1546
@Luberen The documentation is at the bottom of this [article](https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md).

I think your format will be:
[code]

[2018-02-13 19:25] sean-mcmanus commented on #1541
Hovering invokes the IntelliSense process (flame), and ctrl+mouse invokes the Go to Definition, which can get blocked by the hovering operation. I don't know a reason why the Go to Definition would cause the red flame to get stuck though (maybe there's a deadlock somewhere). We'll try to investigate and find a repro later.

[2018-02-13 19:30] sean-mcmanus commented on #1516
The root cause is https://github.com/Microsoft/vscode-cpptools/issues/1481 , which we're not planning to fix. The workaround is to remove "${workspaceRoot}" or whatever large path from your browse.path setting (use Edit Configuration to access the setting). Is that workaround acceptable?

[2018-02-13 19:46] sean-mcmanus commented on #1552
Looks like VS 2017 users are having the same issue: https://stackoverflow.com/questions/46747349/how-can-i-make-vs-intellisense-in-visual-c-make-a-char-value-display-as-a-numb .

[2018-02-13 19:50] sean-mcmanus commented on #871
Good news. Looks like we plan to get a fix by March or April.

[2018-02-13 20:05] jlj-ee commented on #1552
I can confirm that changing between C and C++ language mode in VS Code 1.20.0/cpptools 0.14.6 affects this behavior for me.

**In C mode**
![uint8_t_c](https://user-images.githubusercontent.com/11401637/36171076-497e975e-10cf-11e8-9c12-8f8a9c671b98.png)

**In C++ mode**
![uint8_t_cpp](https://user-images.githubusercontent.com/11401637/36171079-4af27e48-10cf-11e8-9e70-3fe24d95c20e.png)

[2018-02-13 21:07] thejcannon commented on #1524
Alright, now time for the tough parts. When the index was internal, it wasn't really a possibility that it got out of sync with the config file (if the file changes, we just reset the index). Now that the "index" is a name in the settings file, it makes it getting out of sync a lot easier.

What would you guys prefer the extension do in situations where the config file changes (in a way that "inva

[2018-02-13 21:13] thejcannon commented on #1524
Fair note: Blasting the user's setting is a valid possibility in either scenario 😄

[2018-02-13 22:42] bobbrow commented on #1524
What we really want is a read-only setting, but is it possible to write to the environment and have the task work with that (e.g. `${env:c_cpp_activeConfig}`)?

But stepping back for a second... you're building an extension, right?  Do you even need to use tasks/launch.json or can you encapsulate your "tasks" in a command?  This is what the CMake extension does.  You drive the inputs to your comma

[2018-02-13 22:48] weinand opened #1553 "Integrated terminal is sh instead of gnome-terminal (Linux Mint)"
_From @zbendefy on February 13, 2018 11:15_

Hi!
I use Linux Mint 18.3 (64bit cinnamon), and I Updated from 1.19 to 1.20.0.
Previously the integrated terminal used the gnome-terminal, but now since 1.20 it uses the sh terminal.

This causes C++ debugging to be unavailable since the debugger cannot start with the sh terminal (I get the error message: **Unable to start debugging. No terminal is avai

[2018-02-13 22:48] weinand commented on #1553
_From @Tyriar on February 13, 2018 14:28_

@zbendefy did you used to get gnome-terminal pop up in another window when you started debugging?

[2018-02-13 22:48] weinand commented on #1553
_From @zbendefy on February 13, 2018 15:50_

No, it did not pop up, only the error message. Previously (on 1.19) it popped up though.
Also if I run "gnome-terminal" in my regular linux terminal, then it works, and a new terminal window opens.

[2018-02-13 22:50] thejcannon commented on #1524
That's definitely an option for us. But my ideal solution is that my extension generates tasks/launch.json the client. That way they don't have to learn a new workflow.
An API or reading settings doesn't really effect me much, so whatever you guys would rather support I'm happy to consume (and to make a PR, since I'm asking for the feature 😄 )