[2020-03-11 18:28] WardenGnaw opened #5096 "[Feature Request] Add 'Build and Debug active file' to Run and Debug Window"
From: https://github.com/microsoft/vscode/issues/85548

We are now able to add buttons and text to the debug menu. Instead of having users right click to get to build and debug active file. If the user recently selected a cpp file, we can add to the debug menu.

For example:
![image](https://user-images.githubusercontent.com/3953714/76450464-114bb680-638b-11ea-93e7-398e056b4e6a.png)
We cannot chan

[2020-03-11 18:39] jeremyong commented on #5095
Thanks for opening this issue. Hover and other intellisense features seemed to work ok as far as I can remember. I'll keep an eye out the next time it happens.

[2020-03-11 18:50] sean-mcmanus commented on #5029
@carlhua One reason is that we would have to run our IntelliSense parser over every source file (TU) in the workspace, which would be a lot slower than our fast "tag parser" which doesn't parse symbols in function bodies (or macros/includes/etc.), i.e. we'd have to "build everything" in the workspace instead of just the open TUs like we currently do, and when a shared header file is changed it cou

[2020-03-11 18:55] sean-mcmanus commented on #5092
The file is reparsed in response to https://microsoft.github.io/language-server-protocol/specification#textDocument_didChange .

...and also didClose in case the user edits a doc and then closes it without saving.

[2020-03-11 19:16] netbsduser commented on #4790
@sean-mcmanus That's right, FreeBSD has a fairly good Linux binary compatibility layer and it seems to run the closed binaries for Linux fine. I haven't tested it exhaustively but with the IntelliSense I haven't observed any issues yet. The debugger doesn't appear to work at all - I will look into that and see if I missed something.

[2020-03-11 19:38] sean-mcmanus commented on #4790
The debugger issue could be https://github.com/microsoft/vscode-cpptools/issues/4713 .

[2020-03-11 20:02] jandyman commented on #5029
I'm not sure that I get this. What is being requested is the that Find All References _results_ are cached, that's all. I don't see why the method used to obtain these results needs to change. I get what is being said about the header files, but in that case the Find All References cache could be invalidated, triggering a new reference search, or (as a nice to have) a dialog could be displayed all

[2020-03-11 20:48] wyattbiker commented on #390
Would like for printf()/scanf() to use either integrated terminal or use iTerm.app terminal in OS X.
Any progress on this issue?

[2020-03-11 21:46] Nimelli commented on #2902
You're right. I ran into the same problem and what you did set me thinking.
_c_cpp_properties.json_ file should match the makefile generated by STM32CubeMX, which, indead, uses some define flags. In my case there was USE_HAL_DRIVER and STM32F401xE. By adding these two to the "defines" property of _c_cpp_properties.json_ it solves the problem.

[2020-03-11 22:31] bobbrow commented on #5096
This is cool.  Is it something we can get in for v1?  I would love to replace the current logic with this and stop generating tasks.json (basically moving the code into a command).

[2020-03-11 23:42] sean-mcmanus opened #5099 "Go to Symbol in Workspace doesn't apply search.exclude"
It works with 0.26.3

Looks like search.exclude for symbols doesn't work at all for VS Code: https://github.com/microsoft/vscode/issues/46718

[2020-03-12 01:51] sean-mcmanus opened #5100 "Cache results of Find All References"
I'm not sure that I get this. What is being requested is the that Find All References _results_ are cached, that's all. I don't see why the method used to obtain these results needs to change. I get what is being said about the header files, but in that case the Find All References cache could be invalidated, triggering a new reference search, or (as a nice to have) a dialog could be displayed all

[2020-03-12 01:52] sean-mcmanus commented on #5100
Actually, I can't just rename the previous issue

[2020-03-12 01:52] #5100 closed, assigned to nobody

[2020-03-12 01:56] sean-mcmanus commented on #5029
Yeah, caching of results could probably be done. Caching in memory would be easier than using than using the database. https://github.com/microsoft/vscode-cpptools/issues/4038 is related in that it caches the TUs to make confirmation faster.

[2020-03-12 03:10] lonmiller commented on #1839
This issue is labeled closed but I don't see any workable resolutions in it.

I have VSCode installed and Visual Studio 2019, and following the tutorial at https://code.visualstudio.com/docs/cpp/config-msvc does not work for me.

I tried kaiskye's suggestion using the vcvarsall.bat file and then code, also the article instruction of running code from the developer command prompt and same result -

[2020-03-12 08:44] assafmendelson opened #5102 "static_assert not being handled correctly"
**Type: LanguageService**
**Describe the bug**
- OS and Version: centos 7.4 (using remote ssh extension)
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.27.0-insiders2

Using remote ssh (vscode runs on windows 10 and connects to centos 7.4)

The following code:
`static_assert(true, "some message");`

shows red squiggly lines on both parameters with error "expected a type specifier"

Note: s

[2020-03-12 10:50] Helloimbob opened #5103 "Some symbols in pipeArgs aren't substituted before being passed to ${command:pickRemoteProcess}"
Type: Debugger

**Describe the bug**
OS and Version: Linux (RHEL 7.6)
VS Code Version: 1.43.0
C/C++ Extension Version: 0.27.0-insiders
Other extensions you installed (and if the issue persists after disabling them): It does
- When using ${command:pickRemoteProcess} and also a symbol to be substituted in pipeTransport.pipeArgs (i.e. "pipeArgs": ["top@${input:serverName}"]) the symbols in pipeArgs a

[2020-03-12 11:09] Helloimbob commented on #5103
FWIW the substitution will work with the remoteProcessPicker for ${config: } variables, it seems to be a specific issue with ${input: }

Could this be because input type isn't resolved in the resolveVariables function from src/common.ts ?

[2020-03-12 11:41] dodalovic commented on #882
@hhc97  it does work in js, ts, but it doesn't work in `js` inside `html`:

[code]

Here `getElementById` didn't get the parenthesis added :(

[2020-03-12 16:38] bobbrow opened #5105 "insiders update/downgrade improvements"
**Type: LanguageService**

![image](https://user-images.githubusercontent.com/12818240/76544200-e1f98000-6444-11ea-9f75-7c302fd1a500.png)

[2020-03-12 18:39] WardenGnaw commented on #5103
`${input:...}` is resolved by VS Code.

This used to be an issue for VS Code to provide us a way to replace those. But they recently created an hook `resolveDebugConfigurationWithSubstitutedVariables` to use.

See: https://github.com/microsoft/vscode/issues/87450

[2020-03-12 21:09] bobbrow commented on #1715
Duplicate of #1163

[2020-03-12 21:09] #1715 closed, assigned to nobody

[2020-03-12 21:35] bobbrow commented on #4085
May be related to #3883

[2020-03-12 21:36] dominiquediotte commented on #3829
@vudaoanhtuan how does your launch.json file looks like? With the new insider release of CppTools my issue is now fixed.

[2020-03-12 21:39] bobbrow commented on #4077
@sean-mcmanus did you try this and verify that it does not persist?  We may need to re-engage with the VS Code team on this and come up with a solution that works for us.

[2020-03-12 21:40] bobbrow commented on #4077
The VS Code issue on this: microsoft/vscode#78968

[2020-03-12 21:46] bobbrow commented on #4052
Not seeing a lot of feedback on this.  Closing...

[2020-03-12 21:46] #4052 closed, assigned to nobody

[2020-03-12 21:50] bobbrow commented on #4050
Not a lot of feedback on this. Closing...

[2020-03-12 21:50] #4050 closed, assigned to nobody

[2020-03-12 21:51] bobbrow commented on #4049
Not a lot of feedback on this.  Closing...

[2020-03-12 21:51] #4049 closed, assigned to nobody

[2020-03-12 21:53] bobbrow commented on #4048
Not a lot of feedback on this.  Closing...

[2020-03-12 21:53] #4048 closed, assigned to nobody

[2020-03-12 21:56] bobbrow commented on #4047
Since we moved to the UI for references, do we need to keep this setting anymore?  I know peek references still sends extra info to the output window, but maybe this doesn't matter anymore.

[2020-03-12 21:58] bobbrow commented on #4045
Not seeing a lot of feedback on this.  Closing...

[2020-03-12 21:58] #4045 closed, assigned to nobody

[2020-03-12 22:27] sean-mcmanus commented on #5102
I'm not able to repro that with my clang/g++. Can you run the C/C++: Log Diagnostics command and provide the output? It may be using settings that make static_assert invalid (like treating the code as C instead of C++).

[2020-03-12 22:42] Colengms commented on #1839
Hi Ionmiller.  Your issue appears to be with how the extension is configured.  Could you open a new issue?  It should prompt you to provide details about your configuration.  The following:
 * contents of c_cpp_properties.json
 * Output of `C/C++: Log Diagnostics` for the file
 * Debug C/C++ Log channel output leading up to the issue (`"C_Cpp.loggingLevel": "Debug"`)

.. would give us the informat

[2020-03-13 00:37] hhc97 commented on #882
@dodalovic What I mean is that it does not work when coding in the C programming language.

[2020-03-13 02:33] michelleangela opened #5107 "Refactor processing of compiler info in the native code of extension"

[2020-03-13 04:48] Victrid opened #5109 "formatter stops working"
**Type: LanguageService**

After I installed the new release 0.27.0-insiders2, my formatter stopped working. It prints error in log window as `libtinfo.so.5: cannot open shared object file: No such file or directory. ` Not occured to me while using older versions and when I falled back to older version 0.26.3, the formatter returned to normal.

**Describe the bug**
- OS and Version: Arch Linux (Ke

[2020-03-13 05:13] michelleangela commented on #5109
@Victrid

0.27.0-insiders3 has not been released yet. Did you mean 0.27.0-insiders**2**?

[2020-03-13 05:56] Colengms commented on #5109
Hi @Victrid .  There was an old build of clang-format bundled with our last insiders build.  It should be fixed with our next insiders build (very soon).  In the meanwhile, you should be able to work around the issue by:
 * Deleting the contents of: `~/.vscode/extensions/ms-vscode.cpptools-0.27.0-insiders2/LLVM/bin`
 * Deleting the `install.lock` file in `~/.vscode/extensions/ms-vscode.cpptools-0.

[2020-03-13 07:10] Victrid commented on #5109
My fault. It's 0.27.0-insiders2. （//▽//）
The formatter works well now.

[2020-03-13 07:10] #5109 closed, assigned to nobody

[2020-03-13 10:10] lygstate commented on #2060
How about add such configuration with
[code]

[2020-03-13 10:46] atrantan opened #5110 "Using the option debugServerPath in launch.json does not hit the breakpoints anymore"
Type: Debugger

Recent updates of cpptools or vscode "integrated debugger" make the debugger not hitting my breakpoints anymore. I'm using `openocd` as debug server and specify it using the `debugServerPath` entry in `launch.json`

**Describe the bug**
- OS and Version: Windows 10 (10.0.18362)
- VS Code Version: 1.43.0 (system version)
- C/C++ Extension Version: 0.26.23
- Other extensions you inst

[2020-03-13 13:51] dufuhang commented on #3829
When can get this issue done... :(

[2020-03-13 14:26] wdscxsj commented on #4600
@Colengms I think the reported issue is not related to installed language packs. As a Chinese programmer, it's common practice to set English as the default input language, simply to avoid toggling the Chinese IME on and off. That's the "Default Language" reported by E-train-Liu, and it's not the same as the display (UI) language of Windows. The top half of his 3rd screenshot shows the Windows dis

[2020-03-13 15:01] sharkweek opened #5112 "Can't clear recently opened files from `Go To Definition` Peek"
## Issue
I currently have `editor.gotoLocation.multipleDeclarations` set to `peek`. When I use the `Go to Definition` command and have multiple definitions, the Peek window also includes recently opened files outside of my current workspace even when they are not open in the current editor. I have tried using the `Clear Recently Opened` command, but these files are not cleared from the Peek result

[2020-03-13 15:35] gentooise opened #5113 "Errors shown on includes from MIPS g++ cross-compiler"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Lubuntu 18.04
- VS Code Version: 1.43.0
- C/C++ Extension Version: 0.27.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them): CMake Tools (the issue persists even disabling this other extension and removing configurationProvider setting).

**Steps to reproduce**
I have only this settings.json

[2020-03-13 16:05] lygstate commented on #2096
How about just specify the default C_CPP_Properties_default.json for workspace?
[code]

[2020-03-13 16:31] pieandcakes commented on #390
@WardenGnaw

[2020-03-13 17:33] michelleangela commented on #5113
@gentooise

The extension does not fully support IntelliSense for MIPS, but could you try manually querying the compiler again with the arguments `-Wp,-v -E -dD -x c++ /dev/null`?

Could you also share the logs from the language server and compile_commands.json?

The extension will always try to query a default compiler regardless if there is a different compiler path specified. It will only use t

[2020-03-13 17:46] Colengms commented on #4600
Hi @wdscxsj .  Thanks for the additional information.  Our extension currently leverages only the NLS libraries to set the language.  ( https://github.com/microsoft/vscode-nls https://github.com/microsoft/vscode-nls-dev ).  I believe you will see the same differences of languages for other extensions that use these libraries provided by VS Code, and rely on it to detect the current language.  We s

[2020-03-13 18:35] wdscxsj commented on #4600
@Colengms Hi, I think you are right. With the French language pack installed and selected, my VSCode UI is still in English and C/C++ Edit Configurations still in Chinese. The `"locale": "fr"` option in `argv.json` is somehow loaded too late, as [pointed out](https://github.com/Microsoft/vscode/issues/4170) by Tyriar. A manual execution of `code --locale=fr .` kills all these issues.

I'm not quit

[2020-03-13 18:57] reporter123 commented on #2905
In this test the folder '/home/michael/kdesrc/kdiff3' jas been opened. kdesrc is a symlink to '/usr/src/kdesrc'. When opening via the "Explorer" sidebar the path is interpreted as '/home/michael/kdesrc/kdiff3/src/main.cpp' however the debug adapter is seeing the fully resolved path '/usr/src/kdesrc/kdiff3/src/main.cpp".
[code]
Screen shot with same file open twice:

![image](https://user-images.gi

[2020-03-13 20:35] sean-mcmanus commented on #3829
@dufuhang Have you tried 0.27.0-insiders2? Are you doing Attach or Launch debugging?

[2020-03-13 20:50] sean-mcmanus commented on #4077
I think this needs to be spec'd out. The set document language doesn't persist. We could persist it in a "hidden" way, but then users wouldn't have any ability to set those settings. Maybe we could add a setting for users who strong don't want the files.associations in settings.json, and maybe we could change the "hidden" setting after the user manually changes the language via the status bar (not

[2020-03-13 20:53] sean-mcmanus commented on #4047
The wrapping disabling gives better results for our C/C++ logging too. We haven't gotten any user complaints that the non-wrapping is unwanted, i.e. we could close this issue.

[2020-03-13 21:02] sean-mcmanus commented on #5110
The 0.26.3 version you seem to be using was updated over 7 weeks ago, so I'm not sure what you mean by "recent updates". Did you just recently update to that? What version were you using that was working? Have you tried using 0.27.0-insiders2?

[2020-03-13 21:20] atrantan commented on #5110
@sean-mcmanus I'm not sure about the version but got no issues in January (2020). I'm using the casual vscode and regularly accept messages when they ask for updating extensions or vscode itself.

[2020-03-13 21:35] sean-mcmanus commented on #5112
What do you mean by "Peek window also includes recently opened files". I don't see any UI that mentions "recently opened" files, so I assume the results are just from those files?

We intentionally parse opened files, which will cause their results too appear in the Go to Def in some cases, but when you do a Reload Window with those files no longer open, you should see output in the debug log (C_C

[2020-03-13 21:58] WardenGnaw commented on #2905
The debugger opening the actual path of the file is by design. When compiling, the compiler builds the source file maps in the symbols with the actual file path. When the debugger hits a breakpoint, it gets the source from the debug symbols and retrieves the full path.

You can workaround the issue of VS Code opening another file by using `sourceFileMaps` in your `launch.json`:
[code]

[2020-03-13 21:58] #2905 closed, assigned to WardenGnaw

[2020-03-13 22:58] sean-mcmanus commented on #5110
Did you get issues in February? In the VS Code extension pane there's an option to "Install Another Verison..." if you right-click our extension (and probably set the autoUpdate setting to false too), if you could check if the bug reproed with 0.26.2.

@WardenGnaw Otherwise, it could be a regression caused by VS Code changes?

[2020-03-13 23:05] aliaksei-siarhei commented on #4870
awesome! Works great)
Thanks for the help, will close the issue now.

[2020-03-13 23:05] #4870 closed, assigned to nobody

[2020-03-13 23:26] WardenGnaw commented on #5110
We successfully set and bind a breakpoint.

` ->1020^done,bkpt={number="2",type="breakpoint",disp="keep",enabled="y",addr="0x08002f36",func="main()",file="../src/main.cpp",fullname="C:\\Users\\antoi\\Desktop\\NBoard_DISCO\\src\\main.cpp",line="13",thread-groups=["i1"],times="0",original-location="main.cpp:13"}`

But it looks like we never get a debug event from the debug server.

Does pausing work

[2020-03-14 00:42] reporter123 commented on #2905
Something is still broken because links should be resolved in checking for open files. If you won't fix issues like this then I'm afraid this plugin does not meet my needs.

[2020-03-14 00:52] WardenGnaw commented on #2905
@reporter123 Its not that we won't fix this issue, it is not possible to be fixed in the debugger. The debugger does not which of your your system files and folders are symlinks or not. The only way for the debugger to know is if you provide it through the launch.json.

The debugger only knows the path that is build into the symbols. For your case it is `/usr/src/kdesrc/kdiff3/src/main.cpp`. And w

[2020-03-14 00:59] reporter123 commented on #2905
Thanks I can see why the debugger can't know that. Meantime I've been opening via the actual path vscode which works for now.

[2020-03-14 01:56] sean-mcmanus opened #5117 "IntelliSense turns class types into (bool)false in a simple scenario"
Use
[code]

Hover over the “B” in the bar param list, and/or do Find All References on the “B” in “class B”.

Bug: IntelliSense shows “(bool)false” on hover and Find All References incorrectly give “Not a reference” for the bar case.

Reported as a VS bug at https://developercommunity.visualstudio.com/content/problem/949085/c-intellisense-breaks-in-a-simple-scenario-turning.html

[2020-03-14 02:26] sean-mcmanus opened #5118 "Apply search.exclude to Find All References and Rename results?"
We're applying search.exclude to Find Symbols in Workspace, but not Find All References. Maybe we should? Might need more upvotes.

[2020-03-14 07:02] Colengms opened #5119 "Add check to ensure offline/insiders vsix is installed on correct platform"
Installing a win32 cpptools vsix on Linux, for example, results in an error that the native binary is missing.  (Which is correct, as a different filename is used on each platform).  Perhaps existance of the wrong binaries could surface an indication of what is wrong, and fall back to downloading if possible.

[2020-03-14 08:08] atrantan commented on #5110
@WardenGnaw When trying to pause, it looks for a source location that is unavailable. I have tried to turn on the `stopAtEntry` entry in my `launch.json` file and the debugger still not pause. But this works if I run openocd in a separate terminal (so without using the option `debugServerPath`).

[2020-03-14 08:22] mhrdq8i opened #5120 "Remote SSH: Syntax Highlighting/Coloring Problems in erlnag"
I use vscode for my erlang development.

In my local machine, everything is, OK. but when I use ssh to connect into my remote server the Erlang syntax highlight does not work.

![erlang](https://user-images.githubusercontent.com/40826835/76678072-0f336300-65ea-11ea-8dd3-28761b24e079.jpg)

I use [ssh-remote](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh) to handle

[2020-03-14 12:25] bsekura opened #5121 "Linux: cppdbg seems to ignore cwd"
OS: Arch Linux
VSCode: 1.43.0
cpptools: 0.26.3

launch.json:

[code]
Expected result:
when debugged, the working directory of `stuff` executable is set to workspace folder.

Actual result:
When `stuff` is debugged, its working directory is not workspace folder, but the executable folder.

As a side note, on Windows, the process working directory is correctly set to workspace folder.

[2020-03-14 13:07] snowshawn commented on #3829
I added the miDebuggerPath:
`miDebuggerPath: "/Library/Developer/CommandLineTools/usr/bin/lldb"`
and the problem became:

1: (137) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'
--> E (output): {"type":"event","event":"output","body":{"category":"console","output":"1: (149) LaunchOptions  ExePath='/Users/shawn/Documents/Code/C_C++/hello_world/

[2020-03-14 13:14] puremourning commented on #3829
you have to set `miDebuggerPath` to point at `lldb-mi` not `lldb`. It won't exist in that location. Scroll up and read the thread (e.g. my comments and the maintainers' comments) to understand why.

[2020-03-14 13:47] snowshawn commented on #3829
Same problem [https://github.com/microsoft/vscode/issues/92202](url)

[2020-03-14 13:57] snowshawn commented on #3829
Thank you for your reply, but I can not find the `lldb-mi` in my computer, and I did not install Xcode, only  command line tools. lldb version is `lldb-1100.0.30.12`

[2020-03-14 13:59] puremourning commented on #3829
Quoting the maintainers @sean-mcmanus

Quoting me from further up, if you don't/can't use that:

https://github.com/puremourning/lldb-mi/releases

instructions:
https://github.com/microsoft/vscode-cpptools/issues/3829#issuecomment-578454043

Or use the insiders release per the comments from the maintainer.

[2020-03-14 14:40] B-Wozniak commented on #429
+1
Remote SSH + RPI2

[2020-03-14 14:45] Helloimbob commented on #5103
I've tried to look at adding this myself, but I've found an issue - it seems as though the `${command:pickRemoteProcess}` is resolved during the `resolveDebugConfiguration` call, so the `${input:...}` is always passed unresolved.

Since `resolveDebugConfigurationWithSubstitutedVariables` is called after `resolveDebugConfiguration` I don't think there is a way to get `${input:...}` to work with it

[2020-03-14 19:56] djcharding commented on #5051
I'm having a similar issue as well.

Strangely, attempting to run the compiled executable in the integrated terminal shows no output - even by manually running the file outside the debugger.
![image](https://user-images.githubusercontent.com/10661937/76689424-26834800-660c-11ea-9be3-d778dbb20c80.png)

Only when I open an external shell and run the same executable is the output shown.
![image](http

[2020-03-14 22:52] atrantan commented on #5110
I'm closing the issue the problem comes from my openocd application

[2020-03-14 22:52] #5110 closed, assigned to WardenGnaw

[2020-03-15 06:54] rachitsaksena opened #5122 "linter stopped working properly"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Microsoft Windows 10 Home, version: 10.0.18362 Build 18362
- VS Code Version: 1.43
- C/C++ Extension Version: <s>14.16.27023</s> -> 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): None
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- The snippets hav

[2020-03-15 12:12] assafmendelson commented on #5102
The project is a combined C/C++ project compiled externally by a build script.
The file is a c file which includes some C++ headers.
Our own compile script uses gcc.
The relevant configuration portions are:

Version: 0.27.0-insiders2
Current Configuration:
{
    "name": "Linux",
    "compilerPath": "/usr/bin/clang",
    "cStandard": "c99",
    "cppStandard": "c++14",
    "intelliSenseMode": "gcc-x

[2020-03-15 15:09] maximilianbuff commented on #3829
@puremourning

after following your instructions (https://github.com/microsoft/vscode-cpptools/issues/3829#issuecomment-578454043) I was facing some issues.
I could fix them with the following adjustments, but I am not sure if all of them where necessary:

1. follow your instruction https://github.com/microsoft/vscode-cpptools/issues/3829#issuecomment-578454043
2. symlink the lldb-mi: `ln -s ln -s

[2020-03-16 08:07] bpasero commented on #5099
fyi see https://github.com/microsoft/vscode/issues/46718#issuecomment-599397590

[2020-03-16 12:14] voltflake commented on #1503
Very nice-to-have feature. Also want to see it someday in VSCode

[2020-03-16 14:35] sharkweek commented on #5112
The file does not appear to be explicitly labeled as "recently opened"; I only know it is because I had opened it to use as a reference. I have closed the file out and reloaded the window multiple times, restarted VS code, and even rebooted, but still it's still there. I have also checked to ensure that the file's directory didn't accidentally get added to the `includePath`.

I've included a scree

[2020-03-16 17:00] gentooise commented on #5113
Sure, the output below:

<details>
<summary>compiler output</summary>

[code]
</details>

Where can I find log from the language server?

In the meantime I share just one entry from compile_commands.json (they are all the same):

[code]

Thank you.

[2020-03-16 17:43] michelleangela commented on #5122
@rachitsaksena

Can you provide the following logs to help get more information about the issue:
1. Log output from running the command `C/C++: Log Diagnostics`
2. Log output from the language server. To enable logging for the language server, see instructions at https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server

Also, you noted that the version of t

[2020-03-16 18:14] michelleangela commented on #5113
Thanks for the additional info. The extension should have been able to parse the compiler output. Perhaps the language server logs can provide more clues. You can get logs from the language server from instructions at https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server.

[2020-03-16 18:24] Colengms commented on #5120
Hi @mehrdad-drpc .  This repo is for the C/C++ Extension for VS Code.  Are you using another extension that provides language services for Erlang?

[2020-03-16 18:46] sean-mcmanus commented on #5119
For Mac binary detection we can check for LLVM/bin/clang-format.darwin, because we forgot to rename that binary.

The downloading fallback is not a good option for Insiders, because the binary is most likely out-of-date (in fact, we should probably make that impossible or detect a mismatched binary version, in case the install.lock is somehow deleted).

[2020-03-16 19:09] michelleangela opened #5123 "[feature request] IntelliSense Configuration UI - indicate if config is active or non-active"
In the IntelliSense Configuration UI, add some text or indicator that informs the user if the current selected configuration that is being edited is the active configuration for a workspace.

Purpose:
- To clarify that the selected configuration in the IntelliSense Configuration UI is not necessarily the active configuration for a workspace.
-  To help differentiate input validation on the c_cpp_p

[2020-03-16 19:13] sean-mcmanus opened #5124 "Change clang-format "Visual Studio" fallback style to use NamespaceIndentation All"
It currently defaults to None. The fix should only require, adding text ", NamespaceIndentation: All" to the description of the clang_format_fallbackStyle in TypeScript and to the clang_format_style variable on the language server.

Unless we think VS's default formatting should be changed instead.

[2020-03-16 19:21] sean-mcmanus commented on #5102
Logs show we're processing your active file as C and not C++ (C doesn't allow "static_assert"). What is the file type? Can you run C/C++: Log Diagnostics and look for what TU the file is being associated with? Can you check your files.associations settings to make sure they are correct -- we have code that will auto-add associations as navigation is done, but that may sometimes cause an unwanted a

[2020-03-16 19:22] gentooise commented on #5113
Ah, if you mean C_cpp logging level I already have Debug set in my settings. You can find the logs in my first post :)

[2020-03-16 19:41] sean-mcmanus commented on #5112
I'm not able to repro this still.

@michelleangela @Colengms Are you able to get a repro or have any ideas how a repro could get obtained?

I open an external file with symbol such as "func()", and doing Find All Refs locates that file, but after reloading, my logs show
"  2 file(s) removed from database\nDone discovering files." and then Find All References doesn't find that any more because it's

[2020-03-16 20:11] WardenGnaw commented on #5121
We should be setting `cwd` to GDB with ` -environment-cd`.

Can you enable logging?
You can do this by adding:
[code]

[2020-03-16 20:25] sean-mcmanus commented on #5113
Can you provide the logging from C/C++: Log Diagnostics with the current C++ file active?

[2020-03-16 20:32] Colengms opened #5127 "Handle standard version (etc) appropriately depending on version of cl.exe"
Currently, we don't probe cl.exe.  However, if the user specifies an intelliSense mode of `c++latest` (either via the setting, or command line arguments to the compiler), it may mean something different depending on what version of cl.exe they have installed.  We should check the compiler version, and map this to the correct intelliSense mode for the compiler.

[2020-03-16 20:52] sean-mcmanus commented on #5127
We don't allow c++latest in the settings yet, since it's a cl.exe-only value (only the command line, for 1.0), but maybe we could add that later.

It would also be good to change the --microsoft_version <val>, _MSC_VER, and _MSC_FULL_VER defines (they're currently hardcoded to the "latest" version in the msvc.*.json files).

[2020-03-16 20:59] bobbrow commented on #4741
I believe this was already done.

[2020-03-16 21:05] sean-mcmanus commented on #2887
@baiyongrui 0.27.0-insiders3 should have clang-format 9.0.1 now.

[2020-03-16 21:06] sean-mcmanus commented on #3174
0.27.0-insiders (accidentally) didn't have the new clang-format, but 0.27.0-insiders3 does.

[2020-03-16 21:12] sean-mcmanus commented on #4015
Your settings change is available with 0.27.0-insiders3: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders3

[2020-03-16 21:25] sean-mcmanus opened #5128 "Parsing of dependent headers should be given lower priority and not block active file parsing"
Right now, the parsing of dependent headers will block all other tag parsing operations, even for high priority work such as newly opened files. The impact is most severe on 1st launch when none of the system headers have been parsed. This behavior can be observed via setting the C_Cpp.loggingLevel set to "Debug" and then opening a new C++ file or changing an open file and saving it -- if the logg

[2020-03-16 21:26] sean-mcmanus commented on #4894
Our fix is available with https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders3 .

You may still hit issue https://github.com/microsoft/vscode-cpptools/issues/5128 though.

[2020-03-16 21:31] sean-mcmanus commented on #4989
This is fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders3

[2020-03-16 21:32] sean-mcmanus commented on #5068
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders3

[2020-03-16 22:21] sean-mcmanus opened #5131 "c_cpp_properties.json error squiggles don't appear"
Regression that started with 0.25.0 (0.24.1 works). Took a long time to notice.

These are for the non-scheme squiggles (e.g. path is not a file). The UI shows these errors, so that's the "workaround".

[2020-03-17 00:09] sean-mcmanus opened #5134 "0.27.0-insiders3 Workspace folders have the wrong settings"
Repros whenever a workspace is used. The 1st folder is getting the "workspace" settings and every folder after that is getting the previous folder's settings.

I hit this bug with my testing, but I thought it was a bug related to search.exclude only: https://github.com/microsoft/vscode-cpptools/issues/5099 .

[2020-03-17 00:21] sean-mcmanus commented on #5113
Are you using a workspace or just a folder? There's a known bug with settings being incorrect: https://github.com/microsoft/vscode-cpptools/issues/5134

[2020-03-17 00:58] sean-mcmanus commented on #5131
I think https://github.com/microsoft/vscode-cpptools/pull/5126 fixes this. Need to double check later.

[2020-03-17 01:36] sean-mcmanus opened #5136 "0.27.0-insiders3 Open file scenario regressed"

[2020-03-17 01:38] sean-mcmanus commented on #5049
FYI, 0.27.0-insiders3 broke this again: https://github.com/microsoft/vscode-cpptools/issues/5136 .

We'll try to get a fix soon.

[2020-03-17 02:19] baiyongrui commented on #2887
It works! Thanks!

[2020-03-17 03:09] sean-mcmanus opened #5138 "Changes to files.exclude have no effect if they're identical to the previous workspace folder's"
e.g. add `"**/sub"` to files.exclude for the 1st workspace folder, and then add `"**/sub"` to the files.exclude of a 2nd workspace folder -- the 2nd workspace folder doesn't have the new exclusion applied (until a "rescan workspace" occurs via some other means).

[2020-03-17 06:24] mhrdq8i commented on #5120
Hi @Colengms, oh sorry.
My bad :|
I use this extension for erlang,
![vscode-erlang](https://user-images.githubusercontent.com/40826835/76827948-24e89880-6835-11ea-8114-1437cf82c831.png)

[2020-03-17 07:03] rachitsaksena commented on #5122
Here is the C/C++:  Log diagnostic

[code]
Log output from the language server
[code]
I updated the version in the question. Sorry for the error.

[2020-03-17 08:17] BillDenton commented on #4741
I'm using the insider's channel (0.26.3). When is this likely to appear? Thanks.

[2020-03-17 08:38] gentooise commented on #5113
I am using just a folder.

Here is the log of the current C++ file:

<details>
<summary>C/C++ Log</summary>

[code]
</details>

When I go over an include with the squiggle (see screenshots in the first post), I see the following log:
`1 include path suggestion(s) discovered.`

When I Ctrl-click on the include, the correct file is opened (see always screenshot in the first post).

[2020-03-17 08:55] gentooise commented on #5113
I add another screen of the entire `stdint.h` (which could be the root cause of the issue):

![image](https://user-images.githubusercontent.com/1735060/76849409-a9431780-6845-11ea-9b99-de41e834bfe2.png)

Could it be some issue with `#include_next`?

[2020-03-17 09:18] ppggff opened #5139 "Recognize macro names as function names"
Following code make vscode-cpptools recognising macro name as function name:
[code]

The correct function name should be `test(void)`, but it shows `foreach(i, n)` on outline.

[2020-03-17 09:21] ppggff commented on #2751
Any update about this feature?

[2020-03-17 11:42] assafmendelson commented on #5102
File association is:
`{
    "files.associations": {
        "deque": "c",
        "list": "c",
        "string": "c",
        "unordered_map": "c",
        "unordered_set": "c",
        "vector": "c"
    }
}`

the specific file is a .c (the only thing in the TU is the file and an associated h file). That said the project as a whole has both c and c++ code (and the .c file is in practice compiled a

[2020-03-17 12:11] olzhas commented on #1073
I press "Alt-o" to switch between header and source files, and sometimes this leads to two tabs with the same source file, then I press ctrl+shift+i and file get corrupted.

[2020-03-17 14:29] gentooise commented on #5113
UPDATE: I see that if I Ctrl-click on `<stdint.h>` again (inside stdint.h itself, see screen above), VSCode remains into the same file. So it seems the plugin did not properly recognize the `#include_next` directive.

By looking into the filesystem, I think that the correct `stdint.h` file is placed into:
[code]

where the path:
[code]

is exactly what I see into `compile_commands.json` as sysroot

[2020-03-17 17:37] WardenGnaw commented on #5103
I think if we get rid of `resolveDebugConfiguration` in the extension and only have `resolveDebugConfigurationWithSubstitutedVariables`, `${command:*}` will be resolved only in `resolveDebugConfigurationWithSubstitutedVariables`

If `resolveDebugConfiguration` [does not exist](https://github.com/microsoft/vscode/blob/a0328d26aca420f9d0606b825f5a326dc6d0d398/src/vs/workbench/api/common/extHostDebug

[2020-03-17 17:59] michelleangela commented on #5113
@gentooise
Thanks for providing more info, and sorry for missing the logs in the first post.

The `#include_next` is the root cause and is a known issue reported at #3969.

Could you try the following workaround? Try to add the path of `stdint.h` to includePath in c_cpp_properties,json. The extension will use compile_commands.json to determine the include paths (see doc [here](https://code.visuals

[2020-03-17 18:15] michelleangela commented on #5113
Update on root cause:

I see from the logs that the sysroot path `/opt/dl-distro-tiny/2.2.4/sysroots/mips32r2el-poky-linux-musl/` is not indexed, so the bug is also from the known issue that `sysroot` is not parsed from compile_commands.json (https://github.com/microsoft/vscode-cpptools/issues/1575).

You can try adding `/opt/dl-distro-tiny/2.2.4/sysroots/mips32r2el-poky-linux-musl/` to includePat

[2020-03-17 18:23] sean-mcmanus commented on #5122
Can you re-open your folder under WSL using the Remote WSL extension? That will enable our extension to run our Linux binary and provide a better experience.

[2020-03-17 18:28] sean-mcmanus commented on #4741
@BillDenton 0.26.3 is not the Insiders channel. 0.27.0-insiders3 is the current insiders vsix: https://github.com/microsoft/vscode-cpptools/releases . Be aware there are a couple "known issues" we're working on fixing soon for our next Insiders (i.e. wrong settings in multi-root, and opening a file without a folder).

[2020-03-17 18:35] sean-mcmanus commented on #5139
This is "by design" (limitation of our workspace symbol parser). The expected workaround is to create a file named cpp.hint in your workspace folder that has contents
[code]
See https://docs.microsoft.com/en-us/cpp/build/reference/hint-files?view=vs-2019 for more info.

[2020-03-17 18:35] #5139 closed, assigned to nobody

[2020-03-17 18:39] sean-mcmanus commented on #2751
@ppggff No updates. It's not on our schedule to get implemented (more upvotes needed).

[2020-03-17 18:47] sean-mcmanus commented on #5102
If the source file is ".c" it will get compiled as C for IntelliSense. You can change that via adding appropriate lines to your files.associations settings, such as
[code]
and removing or replacing the existing "c" associations.

If you let us know how you're communicating with your compiler that the .c should be compiled as C++, then we (or you) could file a feature request to handle that automat

[2020-03-17 18:50] BillDenton commented on #4741
@sean-mcmanus That's strange as I've got it set to insiders update:
![image](https://user-images.githubusercontent.com/17859340/76890911-12478100-6880-11ea-992c-8755035fb036.png)
![image](https://user-images.githubusercontent.com/17859340/76890944-1d021600-6880-11ea-9970-0574d59d789f.png)
Is there something else I need to do?

[2020-03-17 18:58] sean-mcmanus commented on #1073
@olzhas Can you provide more repro details? What OS are you on? What is there difference in the paths of the 2 files? Are you opening a folder with symlinks on the path?

[2020-03-17 19:16] sean-mcmanus commented on #4741
Check your extensions.autoUpdate setting. If that is false, we won't auto-install the latest Insiders, i.e. you could change autoUpdate to "true", get the latest insiders, and then switch it to false to avoid future insider updates until the setting is changed. If that doesn't work, there could be some error/problem connecting to the server (GitHub) (Toggle Developer Tools console might show an er

[2020-03-17 19:25] BillDenton commented on #4741
@sean-mcmanus Thanks, it has installed the new version. Whilst building I can see:
cpptools/fileCreated: file:///<folder root>/.git/lfs/tmp/065377983
I thought everything in the .git folder would be excluded.
I can also see some files specific to our setup which I should be able to exclude. I've got a directory "a/b" in the "Files: Exclude", but cpptools is stilll seeing files in it. This director

[2020-03-17 19:33] sean-mcmanus opened #5141 "files.exclude isn't applied to fileCreation/Deletion/Changed"
@sean-mcmanus Thanks, it has installed the new version. Whilst building I can see:
cpptools/fileCreated: file:///<folder root>/.git/lfs/tmp/065377983
I thought everything in the .git folder would be excluded.
I can also see some files specific to our setup which I should be able to exclude. I've got a directory "a/b" in the "Files: Exclude", but cpptools is stilll seeing files in it. This director

[2020-03-17 19:34] sean-mcmanus commented on #5141
We check files.exclude in regards to what files get added to our database, but there is other unnecessary processing that is still occurring for files matching files.excludes.

We may also want to handle files.watcherExclude...there might be another issue tracking that already.

[2020-03-17 19:35] sean-mcmanus commented on #4741
@BillDenton I've moved that issue to https://github.com/microsoft/vscode-cpptools/issues/5141 .

[2020-03-17 19:36] BillDenton commented on #4741
Would changing "Files: Watcher Exclude" help? I've only got:
"files.watcherExclude": {
  "**/.git/objects/**": true,
  "**/.git/subtree-cache/**": true,
  "**/node_modules/*/**": true
}
which I think are the defaults. I don't need "node_modules"

[2020-03-17 19:42] sean-mcmanus commented on #5141
@BillDenton Can you let us know how severe the CPU impact is in your scenario? From the code, it looks like some cases could be problematic.

[2020-03-17 19:46] sean-mcmanus commented on #4741
It appears that doesn't work. We use the vscode.workspace.createFileSystemWatcher API, and it doesn't appear to obey files.watcherExclude and we don't have any code that explicitly processes that setting. Might be a VS Code bug or "by design", not sure.

[2020-03-17 19:48] BillDenton commented on #5141
@sean-mcmanus On both my Windows 10 PCs on all folders (using storing same large code base on different git branches) the C/C++ extension always (as far as I know) uses a whole CPU core all the time. It doesn't matter if I'm building or not or editing a file. We have discussed this another issue. If I remember correctly it was connected the extension handling large codebases. Other people working

[2020-03-17 19:55] sean-mcmanus commented on #5141
I don't think we have tracked down a cause/repro for the CPU usage "all the time" issue. However, we did find/fix a major problem that could occur after switching branches in which our parse queues could get backlogged with huge amounts of (potentially duplicate) work: https://github.com/microsoft/vscode-cpptools/issues/4894 .

[2020-03-17 21:38] sean-mcmanus opened #5142 "Outline and Go to Symbol in file is incorrect (shows random results) if the opened file is under files.exclude"
If a files.exclude is manually opened, the outline view can have random symbols shown in it.

Ideally, the correct symbols would still be shown (or else something better).

[2020-03-17 21:44] #5120 closed, assigned to nobody

[2020-03-17 23:07] Helloimbob commented on #5103
I've now tried this with just `resolveDebugConfigurationWithSubstitutedVariables` defined, and it gets a slight improvement - the input prompt pops up but then in the config object passed to `ShowAttachEntries()` the variable is still not resolved:

![image](https://user-images.githubusercontent.com/1508619/76909041-184e5980-68a2-11ea-934f-8d68a7d16638.png)

Other variable types which aren't `${in

[2020-03-17 23:12] WardenGnaw commented on #5103
Yeah, this would be an issue with the VS Code extension. In microsoft/vscode#87450, they mentioned it was either provide an API to resolve variables or create a new API for resolvingDebug configuraitons and they went with the latter. This means that we have no way to resolve `${input:...}` at this point.

Can you file an [issue](https://github.com/microsoft/vscode/issues) that not all variables ar

[2020-03-17 23:18] Helloimbob commented on #5103
Looks like someone has already opened an [issue](https://github.com/microsoft/vscode/issues/89758)

[2020-03-17 23:18] #5103 closed, assigned to nobody

[2020-03-17 23:22] WardenGnaw commented on #5103
@Helloimbob Thank you for your time investigating this issue.

Lets readdress this once https://github.com/microsoft/vscode/issues/89758 is resolved.

[2020-03-18 01:06] sean-mcmanus opened #5143 "Files sometimes get repeatedly tag parsed and then removed with multiple workspace folders"
Seems to happen when one of the folders thinks files should be removed when they're actually needed from another workspace folder.

[2020-03-18 06:48] Wanye1062271859 opened #5144 "[Internal] Code in the namespace cannot be indented properly after press “Shift + Alt + F”"
Repro steps:
1. Install VSCode with extension "C/C++ 0.27.0-insiders3"
2. Create and open a new workspace
3. Add a cpp file to it with following code
namespace foo {
	namespace bar {
		namespace baz {
			int qux = 42;
		}
	}
}

namespace foo::bar::baz
{
    int func1(float var1) {}
}
4. Pressing Shift + Alt + F to format the document

Expected:
The code was indented as below
![image](https://user-

[2020-03-18 07:53] KrzaQ opened #5145 "Copy with syntax highlighting doesn't use syntax highlighting"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 7
- VS Code Version: 1.43.0 (system setup)
- C/C++ Extension Version: 0.27.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them): wandbox, yes
- Does this issue involve using SSH remote to run the extension on a remote machine?: yes
- A clear and concise description of what the bug is,

[2020-03-18 14:25] X-Ryl669 opened #5146 "Version 0.27.0-insiders3 refers to invalid path and fails installing on MacOS"
Type: General
I've tried to update the extension with Version 0.27.0-insiders3: March 13, 2020 but it failed installing with these errors:
[code]

(sorry, I've translated the message in english).
Here's what I have in the referred folder:

[code]
As you can see, `lldb-mi` is not in `./bin/lldb-mi` but `./lldb-mi/bin/lldb-mi`
I don't have `./bin/lldb` folder at all.

**Describe the bug**
- OS and V

[2020-03-18 14:59] nilsgaebel opened #5147 "IntelliSense does not work in 0.27.0-insiders3 on Windows 10 1909"
Type: IntelliSense does not work after Update on 0.27.0-insiders3

**Describe the bug**
- Windows 10 Pro 1909:
- VS Code Version: 1.43.0
- C/C++ Extension Version: 0.27.0-insiders3
- IntelliSense does not work after the Auto-Update. After the Downgrade on 0.26.3 IntelliSense works again for C-Programming. I only installed the recommended Extension C/C++ and C++ Intellisense for C-Programming.

**T

[2020-03-18 18:20] Colengms commented on #5145
Hi @KrzaQ .  Our extension is using a [VS Code API](https://code.visualstudio.com/api/references/vscode-api#TextEditorDecorationType) to apply colors in  the editor.  Our extension does not have any control over copy operations in the editor.  You will see the same behavior with other extensions that use this API.  Consider reporting this to [the VS Code repo](https://github.com/microsoft/vscode).

[2020-03-18 18:21] #5145 closed, assigned to nobody

[2020-03-18 18:23] sean-mcmanus commented on #5144
This is the same issue as https://github.com/microsoft/vscode-cpptools/issues/5124 .

It isn't a regression as far as I can tell.

[2020-03-18 18:28] sean-mcmanus commented on #5146
How are you installing 0.27.0-insiders3? The vsix should contain an install.vsix file that should prevent the downloading you are seeing. Can you uninstall the extension, restart VS Code, verify the extension is gone, and then re-install the 0.27.0-insiders3 vsix or upgrade to it?

[2020-03-18 18:34] sean-mcmanus commented on #5146
Oh, I get those warning messages too, but I don't get the failure to install message (on Catilena). I think the warning messages are not a problem, but the failure message is.

[2020-03-18 18:35] Colengms commented on #5147
Hi @nilsgaebel .   I suspect the issue you are seeing is due to installing multiple extensions that provide language services for C/C++.  Please uninstall any other extensions that provide IntelliSense for C++ when using the "C/C++" Extension for VS Code from Microsoft.

If that is not the cause of the issue you are seeing, could you please provide more information, including :
 * The contents of

[2020-03-18 18:36] sean-mcmanus commented on #5146
Looks like an issue with Mac High Sierra or lower.

[2020-03-18 18:55] WardenGnaw commented on #5146
This is an issue specifically with an offline installer.

The 0.27.0-insiders3 has the debugger bits prepackaged and it is not downloaded online. There is code to check to see if you are running High Sierra or Lower, or Mojave or Higher in the package download and it will give you the correct files.

To work around this issue, you can delete the `lldb-mi` folder and get the `lldb` folder from http

[2020-03-18 18:57] amosialek opened #5148 "vsc can't match code file to binary being executed"
Type: Debugger

- OS and Version: Ubuntu 18.04.3 LTS
- VS Code Version: 1.43.0
- C/C++ Extension Version: 0.26.3 (tried also with 0.27.0-insiders3)
- Other exensions (disabled for workspace):

[code]

- I have successfully configured my program to debug it with gdb via vscode. Last time I wanted to start debugging it  broke at start up (stopAtEntry set to true), however vscode didn't match break w

[2020-03-18 19:27] karthiknadig opened #5149 "About configuring the C development environment"
@1470391328 commented on [Tue Mar 17 2020](https://github.com/microsoft/vscode-python/issues/10634)

I  like vscode very much, i give up the vs2019 to choose vscode as my C ide. But the problem is that:
Configuring the C development environment on vscode is too complex for people who have not learned programming.
 Can you provide more convenient configuration function?

---

@karthiknadig commente

[2020-03-18 19:54] sean-mcmanus commented on #5149
What are the required configuration steps in your scenario that are "too complex"? Is this in regards to configuring Intellisense, the debugger, and/or the build/tasks.json? The configuration steps will depend on your build method and project details. Did you have any suggestions on what we could do to make configuration easier?

[2020-03-18 19:58] n9wxu commented on #1162
bump

[2020-03-18 20:35] Colengms commented on #414
Moving this into 1.0 milestone, as support for GB18030 encoding is a global compliance requirement.

[2020-03-18 20:44] jandyman commented on #4102
I just wanted to let you know that I tried the prescription above, and I'm now getting good performance from Find All References in most cases. Thanks so much for your help.

Having said that, I'll say that sorting through things to get to this point has been painful. It seems there are ten different places to set up the filtering options for various features, and I'm still not sure I understand i

[2020-03-18 21:04] bobbrow commented on #3117
It looks like the linked VS Code issue has been completed.

[2020-03-18 21:05] nathanesau commented on #1211
Is there any update on this?

[2020-03-18 22:39] #5147 closed, assigned to nobody

[2020-03-18 23:12] sean-mcmanus opened #5151 "Configuration UI shows errors when older versions of cl.exe are specified"
When compilerPath is set to an old, non-existent version or non-existent path, such as

"C:/Program Files (x86)/Microsoft Visual Studio/2019/Preview/VC/Tools/MSVC/14.25.28508/bin/Hostx64/x64/cl.exe"

The UI gives the error

"Compiler path with spaces and arguments is missing double quotes " around the path.
Cannot find: C:/Program Files (x86)/Microsoft Visual Studio/2019/Preview/VC/Tools/MSVC/14.2

[2020-03-19 00:45] sean-mcmanus opened #5152 "search.exclude fails to be applied if there are > 1 symbols matching in the excluded file"
Use `#b2` to to search for all symbols starting with "b2" with code
[code]
in a "sub" folder with search.exclude containing "**/sub".

Bug: "b23" is incorrectly returned as a result, even though `#b23` correctly returns no result.

[2020-03-19 02:06] #5144 closed, assigned to nobody

[2020-03-19 02:09] JamesDwyer364 commented on #4726
{%%ini.sysmond;)

[2020-03-19 02:34] bsekura commented on #5121
What does "-environment-cd" mean?
Do I need to "-environment-cd" to environment settings in a configuration?

It would be nice to have consistency, such that the "cwd" property of the configuration does necessary setup automatically for a platform.

[2020-03-19 03:04] DickyQi opened #5154 "OpenCV: not authorized to capture video (when debugging)"
Type: Debugger

**Describe the bug**
- OS and Version: MacOS 10.15.3
- VS Code Version: 1.43.0
- C/C++ Extension Version:0.27.0-insider3

OpenCV: not authorized to capture video (status 0), requesting...
This app has crashed because it attempted to access privacy-sensitive data without a usage description.  The app's Info.plist must contain an NSCameraUsageDescription key with a string value expla

[2020-03-19 03:21] sean-mcmanus commented on #5154
What is this about? Our extension doesn't use OpenCV.

[2020-03-19 07:02] rachitsaksena commented on #5122
![image](https://user-images.githubusercontent.com/44171107/77040192-73d13200-69dd-11ea-9fa6-ef745f890abc.png)
@sean-mcmanus That does fix the linter but I am pretty sure vector and cin should be covered in syntax highlighting and it is malfunctioning.(Please correct me if I am wrong)
Also, why isnt the non wsl version not running the same way and how to correct that?

[2020-03-19 07:54] adewalike commented on #429
+1 Remote SSH + RPI4

[2020-03-19 08:28] gujinfei opened #5155 "0.27.0-insiders3 regression from C++/CX support -- can't find any symbol on Win7"
**Type: LanguageService**

**Describe the bug**
- OS and Version: win 7 sp1
- VS Code Version:1.43.0
- C/C++ Extension Version:0.27.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them): No
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

I'm working on a computer that does not have access to the Internet. I install t

[2020-03-19 09:37] gentooise commented on #5113
Thank you for the support.

Premise: I need to use compile_commands.json for other reasons, but I can disable it for now just to test the include paths. Then I need to make it all work with compile_commands.json, but that could be a next step.

I did a first try with this configuration:
[code]

I see this when I open myfile.cpp:
[code]
 (i.e. the paths are in the wrong order anyway). I suspect tha

[2020-03-19 09:56] joaquin-herrero commented on #4811
Not sure if it is 100% related with the limit of spawn processes but here I have a machine with 12 cores and 12GB of RAM running Debian 9 and VSCode 1.43.

I have 23 processes of cpptools eating all my RAM so I need to reboot the machine again and again.

Te two things I can do are:
Set Intelli Sense Engine to tag parser seems to stop cpptools processes to eat all the memory.
Set the memory system

[2020-03-19 13:32] occia commented on #3288
Is there any plan to fix this?

[2020-03-19 17:31] DickyQi commented on #5154
I using VS code to debug c++/python project which is base on opencv library, and project need to access system camera hardware. If I start app with command line, then I can access system camera with no any issue. If I using cppdbg launch app, then it will cause authorize issue. This problem appeared since I update C/C++ Extension. BTW, if I using lldb in vscode to launch app, camera can be authori

[2020-03-19 17:35] bobbrow commented on #5122
The syntax coloring issue with the Remote-WSL extension is known. See #3942.  We'll be updating the extension to use the new semantic tokens provider when VS Code moves those APIs to the stable release.

[2020-03-19 17:39] bobbrow commented on #5122
If the coloring issue is a deal breaker for you, you can try setting `compilerPath` to `/usr/bin/gcc` and reload the window and run the "Reset IntelliSense Database" command.  If I had to guess, something got messed up when you told it to use the MSVC compiler and then it switched to WSL mode with the case-sensitive file system.

[2020-03-19 18:32] X-Ryl669 commented on #5146
I did not use an offline installer (or maybe a long time ago). insiders extension updated itself and failed.

Your step worked.

[2020-03-19 19:45] Colengms commented on #5155
Hi @gujinfei .  Have you tried with insiders3?  If it still repro's with insiders3, could you provide the following? :

 * The contents of your `c_cpp_properties.json`, if any.
 * Enable debug logging using `"C_Cpp.loggingLevel": "Debug"`, and provide the output of the C/C++ output channel leading up to the repro.
 * The results of invoking the command: `C/C++: Log Diagnostics`, while you have a f

[2020-03-19 20:23] sean-mcmanus commented on #5143
Oh, not reproing this anymore...let me know if anyone sees this.

[2020-03-19 20:23] #5143 closed, assigned to nobody

[2020-03-19 20:39] sean-mcmanus commented on #5113
Go to Def on `#include` doesn't hook into IntelliSense, so it will show all the files with the same name, which is bug https://github.com/microsoft/vscode-cpptools/issues/2564 . You could potentially work around this via adding paths to files.exclude that you don't want to appear in Go to Definition results.

So you appear to be setup good.

[2020-03-19 20:51] sean-mcmanus commented on #4811
@joaquin-herrero What version of our C/C++ extension are you using? I assume 0.27.0-insiders3? Are you using multi-root? Are you using multiple VS Code instances? Do you mean 23 cpptools processes or 23 cpptools-srv processes (or the old-named Microsoft.VSCode.Cpp proceses). Only 1 cpptools process is expected per VS Code instance. Having 23 cpptools-srv processes open is not expected unless you h

[2020-03-19 20:58] bvschaik commented on #4989
Thanks! I'm using the insiders version, and so far I've not had any lockups, though I've not done too much coding yet.

[2020-03-19 21:01] sean-mcmanus commented on #3288
@occia There are no definitive plans currently (i.e. it's not on our next milestone), but we have a number of symlink-related bugs that would be good to fix eventually, so this would be part of that. More upvotes would help.

[2020-03-19 21:05] sean-mcmanus commented on #5154
@WardenGnaw This sounds like a 0.27.0-insiders3 regression with the new lldb-mi.

[2020-03-19 21:14] bobbrow commented on #4040
Not seeing a lot of feedback on this. Closing...

[2020-03-19 21:14] #4040 closed, assigned to nobody

[2020-03-19 21:16] sean-mcmanus commented on #5155
In addition, can you close all the VS Code instances and then make sure no dangling cpptools processes still exist (kill those if they do). And also if you do a Reset IntelliSense Database, do you see any "tag parsing" messages that don't result in the error message?

[2020-03-19 21:25] bobbrow commented on #4006
We are unable to reproduce this bug.  If you can provide more information about how this happens, we can take a further look.

[2020-03-19 21:25] #4006 closed, assigned to nobody

[2020-03-19 21:28] bobbrow commented on #3996
I believe we released a fix for this last year. It was caused by assigning the wrong source file as the translation unit for a header that it didn't actually include.

[2020-03-19 21:28] #3996 closed, assigned to nobody

[2020-03-19 21:30] bobbrow commented on #3989
This should be fixed in the latest version of the extension. Your other option is to set CMake Tools as the configuration provider (use the `C/C++: Change Configuration Provider...` command) and then you don't need to set a compiler path at all.

[2020-03-19 21:30] #3989 closed, assigned to nobody

[2020-03-19 21:31] sean-mcmanus commented on #4006
Or if you still repro it you should file a bug with VS Code itself: https://github.com/microsoft/vscode/issues

[2020-03-19 21:50] bobbrow commented on #3949
This could be a regression in 0.27.0-insiders3.  Incorrect stuff is reported in the outline view for files outside the workspace folder (single root):

![image](https://user-images.githubusercontent.com/12818240/77118234-f9aaa880-69f0-11ea-9d14-f9e2420baf22.png)

[2020-03-19 21:55] bobbrow commented on #3947
It appears that the issues in this bug report are tracked by other issues.

[2020-03-19 21:55] #3947 closed, assigned to nobody

[2020-03-19 22:02] bobbrow commented on #3923
We need to investigate this.  I see it on my Ubuntu installation as well.

[2020-03-19 22:09] sean-mcmanus commented on #3949
I'm not able to repro that -- any idea what the repro requirements are? The symptoms are the same as https://github.com/microsoft/vscode-cpptools/issues/5142 , caused by files.exclude usage.

[2020-03-19 22:42] sean-mcmanus commented on #3949
Are you referring to the original bug? The original bug was never fixed so it's not a 0.27.0-insiders3 regression. Are you seeing a regression?

I saw a temporary Outline issue, but as soon as the file got tag parsed the Outline correctly populated.

[2020-03-20 00:13] sean-mcmanus opened #5156 "Unnecessary duplicate "Processing folder" calls may be run with multiple root folders"
With the new multi-root implementation (0.27.0-insiders3 or later), if you see a lot of duplicate "Processing folder" in the logging and CPU is being used then it's this issue (it's common with system header paths that are shared across workspace folders). It's somewhat "by design" because every folder could have different settings (e.g. files.exclude, limitSymbolsToIncludedHeaders, etc.), so we d

[2020-03-20 00:30] bobbrow commented on #3949
You have to open a file that is outside the `${workspaceFolder}`

[2020-03-20 01:14] ghuser404 opened #5157 "Stop converting the "-std=c++0x" to "-std=c++11""
So I have this weird issue, my project is using gcc 4.6.3, and it looks like the compiler has a bug, that vscode rightfully gives an error about, but the code builds. It's a bit annoying and isn't cool overall. What can I do about this issue?

The bug is as follows:
I have a struct, let's say `struct Foo { int id; std::unordered_set<int> set; };`. My class has a private member of this struct, and

[2020-03-20 01:39] sean-mcmanus commented on #5157
gcc 4.6.3 appears to not fully support C++11 and only supports the c++0x flag -- is that what you're building with? If you run C/C++: Log Diagnostics with the source file active, what is reported as the "Standard Version"? I would update your compiler if possible (4.6.3 is very old). You could also try surrounding the code with `#ifndef __INTELLISENSE__` to make code non-visible to IntelliSense.

[2020-03-20 01:47] gujinfei commented on #5155
@sean-mcmanus @Colengms
**Thank you for reply**

## more infomation:
* I have tried 0.27.0-insiders3, The result is the same.
* Reboot VS Code instances and  make sure no dangling cpptools processes still exist: The result is the same.
* Reset IntelliSense Database, i can still see ：Tag parsing eccountered a error， but it may not matter. Let us know if symbols in the file cant be found:
* I have t

[2020-03-20 02:14] sean-mcmanus commented on #3949
@bobbrow None of us were able to repro that on our computers. Michelle reproed it with 0.26.3, but said the latest fixed it.

[2020-03-20 02:25] sean-mcmanus commented on #5155
Ah, I suspect it may be a problem with Win7. Can you try 0.25.1? That was before we added C++/CX tag parsing capabilities, which could have caused it, but I don't recall other reports like this from Win7 users (I would update to the latest Win7 available, in case certain patches fixed stuff we require).

[2020-03-20 03:43] jeffythedragonslayer commented on #4794
Sorry, did not mean to close this issue.

[2020-03-20 03:52] ghuser404 commented on #5157
Yes, the project is using the c++0x flag.
C/C++: Log Diagnostics gives Standard Version: c++11.

Does cpptools actually take compiler version into account? If so, theoretically this could be possible to fix on the cpptools side?

You mean, depending on the version [of c++ standard] used?

PS. I've actually been looking into updating the compiler, I wish it was easier than it actually is. We're bui

[2020-03-20 05:08] Gargony commented on #3989
@bobbrow yes, now is ok, thx.

[2020-03-20 06:05] bruce1408 opened #5159 "Unable to start debugging.LLDB exited unexpectedly with exit code 134(0x84)"
Type: Debugger

while debug the C++ code , the vscode will display a window that shows
**Unable to start debugging. LLDB exited unexpectedly with exit code 134 (0x86)**

**envs**
- OS and Version: macOS 10.13.6
- VS Code Version:  VScode 1.43.1
- Other extensions you installed : C/C++, Code Runner, C++ intellisense

**lanuch.json**
[code]

**task.json**
[code]

[2020-03-20 07:24] duzeev commented on #616
**relative path example**

{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
            {
                "name": "(gdb) mtclient",
                "type": "cppdbg",
                "request": "laun

[2020-03-20 08:18] gujinfei commented on #5155
@sean-mcmanus
Thank you very much.
0.25.1 works!  I can see the symbols.  Everything seems all right！
I hope this problem can be confirmed  and modified in the new version。Thanks again!

[2020-03-20 10:59] gentooise commented on #5113
Thank you! Didn't know of this existing issue. For now I think I can survive with it (as long as I know which is the correct included file) :)

Yes, for me is ok I think, thanks.

Only the following potential issues remain (don't know if you want to track them):

1. the fact that the order specified into `includePath` (or `systemIncludePath`) is not respected:
[code]
for now this does not seem to

[2020-03-20 13:04] Yuri6037 commented on #977
Hello, I also have this problem under Ubuntu Server 18.04. I hope this will be fixed very soon as it's getting really annoying...
However I don't get it under Windows MSVC.

[2020-03-20 15:26] gentooise commented on #5113
UPDATE: I found another issue (with the same configuration and all).

![image](https://user-images.githubusercontent.com/1735060/77178016-c9353e00-6ac6-11ea-92f9-26afedef0ff1.png)

Basically I see strange errors on C++ standard includes, and if I go down in the includes (Go to Def), all comes down to this:

![image](https://user-images.githubusercontent.com/1735060/77178219-12858d80-6ac7-11ea-9937

[2020-03-20 17:16] KennFatt commented on #3675
Sorry for dumping, but there is any workaround for this idea?

[2020-03-20 19:08] lor1x commented on #4965
Got it! Thank you for clarifying!
Take care!

[2020-03-20 19:08] #4965 closed, assigned to nobody

[2020-03-20 23:18] bobbrow opened #5213 "goto definition should filter results based on the includePath used for IntelliSense"
@bobbrow That's a lot of useful information, thanks!

I also have a somewhat related question. Is it possible for CMake Tools to stop vscode being confused by multiple header definitions? If I go-to-definition of a header from a source/header file, vscode sometimes says that there multiple definitions of such header, and I have to manually select which one I think is used. Does cpptools provide su

[2020-03-20 23:20] bobbrow commented on #5213
I'd have to see how your project is configured to know for sure why goto definition is suggesting multiple headers with the same name.  cpptools sometimes errs on the side of caution if it's not confident it has the right symbol.

Do you have multiple copies of the standard headers on your computer?  If you enable "Debug" logging in cpptools, you can search the logs for the "custom browse configur

[2020-03-20 23:24] bobbrow opened #5160 "Error message in Multi-root project using compile_commands.json does not have enough information"
Copying this issue over to cpptools where it would need to be addressed.

_Originally posted by @sslupsky in https://github.com/microsoft/vscode-cmake-tools/issues/1120#issuecomment-601861798_

One observation is that the error message that indicates an error with the configuration would benefit with additional information about what exactly it is referring to.  Here is a screen shot:
![Screen Sho

[2020-03-20 23:26] bobbrow commented on #5160
This is referring to the configuration for one of the folders.  cpptools should update the message to indicate which folder the configuration belongs to.

[2020-03-21 00:30] sean-mcmanus commented on #5146
@X-Ryl669 When using the updateChannel "Insiders" setting, it automatically downloads/installs the "offline vsix". We have a fix pending at https://github.com/microsoft/vscode-cpptools/pull/5153 .

[2020-03-21 00:32] sean-mcmanus commented on #5159
It sounds like you're hitting issue https://github.com/microsoft/vscode-cpptools/issues/5146 (assuming you're using 0.27.0-insiders3). There's a workaround described at https://github.com/microsoft/vscode-cpptools/issues/5146#issuecomment-600804061 .

[2020-03-21 00:36] sean-mcmanus commented on #5160
What is meant by "configuration". The warning message doesn't mention "configuration". Is this a multi-root only issue? Should the ${workspaceFolder} be replaced by the workspace's name?

[2020-03-21 00:47] sean-mcmanus commented on #5157
Yes, our parser takes the gcc version into account. However, it looks like we are incorrectly sending our parser a c++11 flag instead of c++0x, which should be trivial for us to fix (not 100% sure that would fix your issue though, i.e. if our parser still doesn't handle it correclty).

[2020-03-21 01:13] sean-mcmanus commented on #5155
Thanks for the info. This "same" issue was fixed for Win7 with https://github.com/microsoft/vscode-cpptools/issues/4536 , but it looks like we regressed somehow, i.e. the msvcp140.dll and vcruntime140.dll files are missing now. A workaround should be to download the file at https://github.com/microsoft/vscode-cpptools/releases/download/0.26.2-insiders/cpptools-win32.vsix, rename it to cpptools-win

[2020-03-21 01:26] sean-mcmanus commented on #5155
Actually, 0.26.3 appears to have the fix as well, i.e. it's an "insider-only" bug, which explains why we haven't gotten that many complaints yet.

[2020-03-21 02:04] sean-mcmanus commented on #5113
Is your compilerPath set to ""?

The system includes can get reordered if they match system includes returned by the queried compiler.

Usage of `"**"` with system include path is not recommended because `"**"` generates the paths an non-deterministic order.

[2020-03-21 02:06] sean-mcmanus commented on #3675
@KennFatt Did you see https://github.com/microsoft/vscode-cpptools/issues/3675#issuecomment-494549010 ?

[2020-03-21 06:12] ghuser404 commented on #5157
Awesome! Let me know whenever an insider build contains this fix, I'll test it for you.

[2020-03-21 07:38] shshnkreddy opened #5161 "C++ extension not working."
**Type: LanguageService**

C++

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.43
- C/C++ Extension Version: 0.27.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them): None
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including informati

[2020-03-21 08:28] sean-mcmanus commented on #5161
What is the exact error message?

Can you try setting the C_Cpp.updateChannel setting to "Default", then wait for it to downgrade to 0.26.3, i.e. does 0.26.3 work?

[2020-03-21 08:48] shshnkreddy commented on #5161
![UpdateChannel](https://user-images.githubusercontent.com/45118450/77222979-4a9bd780-6b7e-11ea-84d3-fe9ae1ec5726.png)
It is already on Default.
The error occured when asked to reload the window for updates.
![B](https://user-images.githubusercontent.com/45118450/77223021-cb5ad380-6b7e-11ea-8e52-720e74f33b70.png)
![A](https://user-images.githubusercontent.com/45118450/77223022-cd249700-6b7e-11ea-8

[2020-03-21 08:57] ghuser404 commented on #5213
@bobbrow It warns about following headers
[code]
"Custom browse configuration" doesn't really contain any compiler paths, only path to compiler, which I guess it gets its default information from.
[code]
The only place where I see `c++/4.6.3` mentioned is here - and it doesn't point into `ext` directory.
[code]
AFAIK, it's supposed to be included as `#include <ext/algorithm>`, but it still shows i

[2020-03-21 08:57] shshnkreddy commented on #5161
![C](https://user-images.githubusercontent.com/45118450/77223151-03aee180-6b80-11ea-9c32-6486bf6af5d6.png)
Version -0.26.3 is working.

[2020-03-21 15:50] robertcinciuc commented on #3874
@hoopoepg Your solution worked for me! Thank you!

[2020-03-21 18:32] TerensTare opened #5162 "Planned intellisense support for C++20"
I am using the C++ extension on Windows 10 with Visual Studio 2019 Build Tools. My "project" is written in C++17, and since it isn't a big project (recently started it, only about 20 files totally) I decided to migrate to C++20 since the Visual C++ compiler provides the /std:c++latest switch. I noticed that in VSCode, the intellisense had problems recognizing new C++20 keywords/reserved words such

[2020-03-21 22:21] diggit opened #5163 "static_assert ignored in SFINAE and operator ==, != issues"
**Type: LanguageService**

**Describe the bug**
- OS and Version: **Archlinux, bleeding edge**
- VS Code Version: **1.43.0 (oss build vscodium)**
- C/C++ Extension Version: **0.27.0-insiders3**
- Other extensions you installed (and if the issue persists after disabling them): Ton of other extension but nothing C/C++ related, should I disable them all? I there easy way?
- Tested only locally

**Ste

[2020-03-21 22:26] diggit commented on #5163
Here is minimal example code, without those template tricks. Line numbers does not match, otherwise same behavior.
[code]

[2020-03-21 22:28] diggit commented on #5163
Relevant lines from cmake:
[code]

[2020-03-22 13:15] #5161 closed, assigned to nobody

[2020-03-22 13:44] LucianoTrujillo commented on #5051
@pieandcakes This doesn't seem to work on Mac at least. When setting externalConsole to false, the debug console prints outputs but nowhere can you enter an input.

[2020-03-22 15:33] zhaoyiping0622 opened #5164 "'#include errors detected. Please update your includePath.' occurs when using vscode-remote"
**Type: LanguageService**

**Describe the bug**
- OS and Version: windows 10 and remote machine is ubuntu 18.04
- VS Code Version: 1.43.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): remote containers/remote ssh/remote SSH: Editing Configuration Files/remote wsl/remote development
- Does this issue involve using SSH remote to

[2020-03-22 18:45] sslupsky commented on #5160
By "configuration", I am referring to the c/cpp extension configuration.  In the screen shot, the configuration is set to "CMake-Tools" (instead of "Mac").  My c_cpp_properties.json file has the following "configurations":
[code]

I am using a multi-root workspace and CMake-Tools is set as the configurationProvider.

The following is the contents of my .code-workspace file:
[code]

Resolving the l

[2020-03-22 18:47] sslupsky commented on #5160
![Screen Shot 2020-03-22 at 12 46 44 PM](https://user-images.githubusercontent.com/16888734/77257635-3669e000-6c3b-11ea-8302-21746172de69.png)

[2020-03-22 20:42] pieandcakes commented on #5051
@LucianoTrujillo The macOs scenario is different. `lldb` doesn't have the right flags for us to set up `tty` connections to the debuggee.

[2020-03-22 21:52] sslupsky commented on #5160
I removed the defaults from the .code-workspace file and have only one default setting:
[code]
c_cpp_properties:
[code]
I restarted VSCode.  Now, all the red squiggles are gone and the log diagnostics shows the correct include paths:
[code]
The linting appears to be ok but I cannot "Go to Definition" for any include file now.  I do not even see a popup with a list of definitions anymore.  I see a

[2020-03-22 22:39] graphitemaster commented on #3098
Yeah I don't like this. Ironically this issue wasn't actually happening for me until I updated today to insiders 3. The previous version I was using didn't have this problem. The way this is worded suggests it was always this way? Can we get an option for this. I don't see how this is "by design". There's nothing intuitive or useful about it.

[2020-03-23 02:34] zhaoyiping0622 commented on #5164
it seems that my default include path in settings.json is wrong. the problem has been solved.

[2020-03-23 02:34] #5164 closed, assigned to nobody

[2020-03-23 05:36] CogitoBurrito commented on #429
+1
Remote SSH + RPI4

[2020-03-23 06:58] gujinfei commented on #5155
@sean-mcmanus Thanks for your replying.
I have tried 0.26.2 , it doesn't work. When I " reset Intellisense database", i can still see: Tag parsing eccountered a error， but it may not matter ....
The problem on my machine does not seem to be caused by these two libraries
Until now，Only 0.25.1 works on my machine.

[2020-03-23 07:41] VirFunc opened #5165 "Language server not responding"
Issue Type: <b>Bug</b>

[code]
I replaced "/* todo */" in the above code with "std::lock_guard guard(mMutex);". (Don't copy this code and paste it on, because the bug might not be triggered in that case. Just type the code.)

Then I got a message from output window of vscode saying 未能从服务器读取响应: 8. (I can't make this message in English even if I uninstalled the Chinese Language Pack)
After that the

[2020-03-23 08:38] gentooise commented on #5113
My configuration is this one now:

[code]

[2020-03-23 11:46] schtonn opened #5166 "Can't open file in some situation,file path repeats"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1809
- VS Code Version: 1.43.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):C/C++ IntelliSense,C/C++ Compile Run
- Does this issue involve using SSH remote to run the extension on a remote machine?: I don't have remote machine, what should I do
- A cle

[2020-03-23 13:45] martinlizo opened #5167 "g++ compiler error: 'SDL.h' file not found"
Type: General

- OS and Version: MacOS 10.13.2
- VS Code Version: 1.43.1
- C/C++ Extension Version: 0.27.0-insiders3

When I compile, I have the following message:
fatal error: 'SDL.h' file not found

Very simple project:

<img width="599" alt="Capture d’écran 2020-03-23 à 10 28 06" src="https://user-images.githubusercontent.com/45331948/77322562-b0a96b80-6cf2-11ea-9f1c-7d88975ee6b2.png">

In my p

[2020-03-23 14:17] NINI1988 opened #5168 "Negation stops autocompletion"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.43.1
- C/C++ Extension Version: 0.26.3

The autocompletion does not show the content of the struct when using the negation sign before a struct variable. See screenshot for example.
If no negation sign is before that variable, the autocompletion shows the `activated` field.

**Expected behavior**
Shou

[2020-03-23 14:53] ngugcx commented on #2476
Is there any update? showDisplayString(cpptools 0.27.0-insiders3) is still not working with cppvsdbg.

[2020-03-23 18:39] michelleangela commented on #5167
@martinlizo

From the build error, the command arguments for the g++ compiler needs to know the include path of "SDL.h".

Can you try using the include option flag `-I` to include the path to the "SDK.h" to the command args in the task.json file?

Example:

[code]

[2020-03-23 18:39] sean-mcmanus commented on #5162
It's being worked on, with more C++ features being added over time.

[2020-03-23 18:56] martinlizo commented on #5167
Thanks. I could do something by changing the
`#include <SDL.h> `
for
`#include <SDL2/SDL.h>`
But... now I've got a different problem. Functions are not recongnized. When I compile, I recieve the following message:

  "_SDL_CreateRenderer", referenced from:
      _main in hello-cf1848.o
  "_SDL_CreateTexture", referenced from:
      _main in hello-cf1848.o
  "_SDL_CreateWindow", referenced from:

[2020-03-23 18:57] sean-mcmanus commented on #5163
Thanks for reporting this. The issues comes from code in VS, so I've filed a bug at https://developercommunity.visualstudio.com/content/problem/959748/cc-intellisense-static-assert-ignored-in-sfinae-an.html .

[2020-03-23 18:58] oxymoron87 commented on #5068
Same issue but now with `C_Cpp.clang_format_fallbackStyle` or `C_Cpp.clang_format_style`

VS Code Version: 1.43.1
C/C++ Extension Version: 0.27.0-insiders3

Same workaround still works:

UPDATE:
Fixed with C/C++ Extension Version: 0.27.0-insiders4

[2020-03-23 18:58] michelleangela commented on #5165
@VirFunc

I could not reproduce the issue using the code sample and typing `std::lock_guard guard(mMutex);` in the `Test(...)` function.

Can you [enable logging for the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server) and reproduce the issue again, then share the logs? The logs may show clues that lead to the language server termi

[2020-03-23 19:08] sean-mcmanus commented on #2564
@bobbrow Users are frequently hitting this . It makes them think their project isn't configured correctly when it is. See all the linked issues.

[2020-03-23 19:13] michelleangela commented on #5167
From doing search on the compiler error `Undefined symbols for architecture x86_64`, a post on Stack Overflow suggests that this error may be caused by incorrectly defining functions in the source file. Please see the post at https://stackoverflow.com/questions/18751868/undefined-symbols-for-architecture-x86-64-compiling-problems for more details.

**Note:** the C/C++ extension is not a build syst

[2020-03-23 19:14] martinlizo opened #5169 "SDL2 VS Code error: Undefined symbols for architecture x86_64 (compiling on MacOS)"
MacOS 10.13.2
Visual Studio Code 1.43.1
c++
SDL 2

I'm trying to compile a simple program using SDL. SDL functions are not read or can't be found?
This is my super simple code:
[code]

This is what I get:

  "_SDL_GetError", referenced from:
      _main in 01_hello_SDL-0907f8.o
  "_SDL_Init", referenced from:
      _main in 01_hello_SDL-0907f8.o
  "_SDL_Quit", referenced from:
      _main in 01_he

[2020-03-23 19:14] sean-mcmanus commented on #5160
The browse.path isn't set automatically when compileCommands is set. See https://github.com/microsoft/vscode-cpptools/issues/1163 . If you're using CMake Tools, it's recommended that you not set compileCommands, because the CMake Tools extension will correctly set the browse.path. Sounds like you hit some issue using CMake Tools.

[2020-03-23 19:23] michelleangela commented on #5168
@NINI1988

I couldn't reproduce the issue using the code sample
![image](https://user-images.githubusercontent.com/38734287/77354837-b4dc8580-6d00-11ea-9ce0-f48e7021bcff.png)

Are there any custom configurations set for the C/C++ extension? Can you provide the following two logs:
1. Logs from running the command `C/C++: Log Diagnostics`
2. Logs from the[ language server](https://code.visualstudio.

[2020-03-23 19:27] michelleangela commented on #5169
@martinlizo

In the first issue you reported, I posted a c[omment on the compiler error](https://github.com/microsoft/vscode-cpptools/issues/5167#issuecomment-602801568). Have you tried the solution from https://stackoverflow.com/questions/18751868/undefined-symbols-for-architecture-x86-64-compiling-problems?

[2020-03-23 19:33] Colengms commented on #5166
Hi @schtonn .  Based on the output in the Problems tab, this error message appears to be coming from gcc.  We do provide a `problemMatcher` for gcc in our package.json.

[code]

Can you get the error message that is actually being reported by gcc, by compiling from a terminal?  Perhaps there is something about that message causing it not to be parsed correctly by the problem matcher.

It looks lik

[2020-03-23 19:35] sslupsky commented on #5160
Unfortunately, CMake Tools does not appear to be providing the configuration so I changed my configuration to use compile_commands.json.

[2020-03-23 19:42] michelleangela commented on #5169
@martinlizo

Sorry, I didn't know that SDL is a library. It looks like the option `-framework SDL2` will need to be added to the compile arguments as well. This is from https://stackoverflow.com/questions/35407368/sdl-undefined-symbols-for-architecture-x86-64-mac

[2020-03-23 20:26] sean-mcmanus opened #5171 "Add a check if macOS > High Sierra and the lldb-mi folder is missing"
Follow up to PR https://github.com/microsoft/vscode-cpptools/pull/5153 .

[2020-03-23 20:28] NINI1988 commented on #5168
Settings are
- "terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe",

### C/C++: Log Diagnostics:
[code]

### C/C++ Log:
[code]

[2020-03-23 20:37] martinlizo commented on #5169
Thank you mechelleangela, how can I do this? I'm very new to VS Code. This has been very frustrating, since I cannot even run a single window...

[2020-03-23 20:52] NINI1988 commented on #5168
I guess it has something to do with the uppercase filename: `D:\TEST3\NEGATETEST\MAIN.C`.
When I strg+click on the filename link, vscode opens the same main.c file again and then the autocompletion works. See screenshot.

![NegateUpperCase](https://user-images.githubusercontent.com/2767665/77361815-43c4be80-6d50-11ea-81fc-f1656e555266.PNG)

[2020-03-24 01:49] sean-mcmanus opened #5176 "0.27.0-insiders4: "Open File..." scenarios (without a workspace) shows "Tag Parser initializing" (all symbol operations fail)"
Go to Def, Find All Refs, Outline, etc. don't work.

[2020-03-24 02:08] sean-mcmanus commented on #5049
FYI, 0.27.0-insiders4 fixed it (again), but we found that the database creation is failing, which we're tracking to fix for 0.27.0: https://github.com/microsoft/vscode-cpptools/issues/5176

[2020-03-24 02:09] sean-mcmanus commented on #5146
FYI, this is fixed with 0.27.0-insiders4.

[2020-03-24 02:10] sean-mcmanus commented on #5155
This is fixed with 0.27.0-insiders4 now.

[2020-03-24 03:39] johnjohnlin opened #5177 "View a pointer as a 2D array in the debugger"
As reported in https://github.com/microsoft/vscode-cpptools/issues/172, we can use `*some_pointer@10` instead of `*(int(*)[10])some_pointer` to print a 10-element array of type int.

Is there any shortcut for debugging a 2D array such as `*(int(*)[10][10])(some_pointer)`?

[2020-03-24 05:16] schtonn commented on #5166
The message:
[code]

I opened it in another workspace and it looks like the path is separated into two parts.
The first part is the path to the workspace folder, and the second part is the path to the file.
![image](https://user-images.githubusercontent.com/60652675/77389394-0bfc5c00-6dce-11ea-8fd0-6552d97de970.png)
[code]

[2020-03-24 07:19] schtonn commented on #5166
So when the problem is detected by IntelliSense, the path will be correct subfolder in the workspace folder, but when detected by compiling, it will report a full path.
![image](https://user-images.githubusercontent.com/60652675/77398592-cbf3a400-6de2-11ea-81b4-40ed57310b2d.png)

[2020-03-24 08:01] VirFunc commented on #5165
@michelleangela
I successfully turn the message into English with the method you mentioned.

If I set the logging level to **Error**, I got **"Failed to read response from server: 8"** from output window when I typed ```std::lock_guard guard(mMutex);```.

After that I could not get any suggestions or tips when  code, no auto completion, no member list, I got "No suggestions" when I typed ```std::`

[2020-03-24 08:35] Lennon925 commented on #1162
@sean-mcmanus Any plan about this recently?

[2020-03-24 09:49] julee commented on #3323
Any news? It's Troublesome

[2020-03-24 11:21] gujinfei commented on #5155
0.27.0-insiders4 cant work on the machine : Tag parsing eccountered a error ....
I have tried 0.27.0-insiders4 on another win7 sp1, it works well.
It seems this problem only exist on my offline machine. Maybe some files are missing from the machine.

[2020-03-24 12:53] JosephDeepIntelli opened #5178 "includePath set to ${workspaceFolder}/** not taking effect"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.43.1
- C/C++ Extension Version:0.27.0-insiders4
- Other extensions you installed (and if the issue persists after disabling them): Remote - SSH
- Does this issue involve using SSH remote to run the extension on a remote machine?: Yes
- A clear and concise description of what the bug is, including in

[2020-03-24 13:38] fordp2002 commented on #304
Having to duplicate #defines separately from your build system does not make a lot of sense. Some ways to get them out of your project/makefile would make more sense.

[2020-03-24 15:13] mich2k opened #5180 "Error linked to stdlib"
*my fault sorry*

[2020-03-24 15:19] #5180 closed, assigned to nobody

[2020-03-24 17:12] michelleangela commented on #5169
You can try adding the compiler option `-framework SDL2` to the arguments list of the g++ compiler command:
![image](https://user-images.githubusercontent.com/38734287/77455193-c7b19180-6db6-11ea-8345-dd889dad96cf.png)

Alternatively, you can manually execute the compiler command on a terminal. Example:

[code]

For more information about using the tasks.json to build, go to https://code.visualstu

[2020-03-24 17:51] martinlizo commented on #5169
Thanks, but it's not recognized. I recieve this message:
<img width="1133" alt="Capture d’écran 2020-03-24 à 14 50 02" src="https://user-images.githubusercontent.com/45331948/77459698-e3c92900-6dde-11ea-82f7-a14c60147a38.png">

[2020-03-24 18:14] michelleangela commented on #5169
I see from the command arguments that the tasks.json file was passed in or is that the output of tasks.json?

I don't have knowledge on how to compile with SDL. I suggest to do research on how to compile with SDL2 framework using either clang or gcc compilers on a Mac.

[2020-03-24 19:23] Colengms commented on #5166
Hi @schtonn .  It looks like this is a known issue: https://github.com/microsoft/vscode-cpptools/issues/4355

It looks like this was addressed by VS Code: https://github.com/microsoft/vscode/issues/74824

We have a PR that will address the issue: https://github.com/microsoft/vscode-cpptools/pull/3916
It should go in the our next release (after 0.27.0)

In the meanwhile, you could work around the i

[2020-03-24 19:35] sean-mcmanus commented on #5178
I'm not able to repro this. We need more info.

Does the bug repro with 0.26.3 (non-Insiders)? Does the issue repro with a single workspace folder? What is the difference in the "Includes" output when you run the "C/C++: Log Diagnostics" command with the includePath set to `${workspaceFolder}/**` versus `"${workspaceFolder}/src/**", "${workspaceFolder}/install/**"`?

If headers with the same name

[2020-03-24 19:52] boocs opened #5181 "browse.databaseFilename/${workspaceFolderBasename} fails when subdirectory isn't created first"
# State

### State: Global User settings.json

[code]
1. Setting: C_Cpp.default.browse.databaseFilename
2. Value: "k:\\\\.vscode\\\\cache\\\\browse\\\\${workspaceFolderBasename}\\\\global.vs.db"

### State: Cache directory
* k:\\\\.vscode\\\\cache
* No subdirectories except for ipch (intellisense cache)
* k:\\\\.vscode\\\\cache\\\\browse isn’t created yet

### State: System
* Windows 10 (latest)
*

[2020-03-24 20:03] sean-mcmanus commented on #5155
Do you see 3 DLLs under `C:\Users\<username>\.vscode\extensions\ms-vscode.cpptools-0.27.0-insiders4\bin`? 2 of those DLLs were missing with 0.27.0-insiders3. It's possible we only run on Win7 SP1 due to other DLLs that are required on older Win7 OS's. Can you upgrade your OS to match the Win7 SP1 machine?

[2020-03-24 20:06] evanzp0 opened #5182 "Incorrect squiggles after opening file, until file is edited"
**Type: c/c++**
**Describe the bug**
- OS and Version: macOS 10.14
- VS Code Version: 1.43.2
- C/C++ Extension Version: 0.26, 0.27
- Other extensions you installed (and if the issue persists after disabling them): none
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- A clear and concise description of what the bug is, including information about the worksp

[2020-03-24 20:15] sean-mcmanus commented on #5155
To get the potentially missing DLLs, you could try to do the following steps:
1. Download the LLVM 9.0.1 installer executable from https://releases.llvm.org/download.html for Windows 32-bit (not 64-bit).
2. Install it.
3. Go to C:\Program Files\LLVM\bin .
4. Sort by "Date Modified".
5. Copy the DLLs with a "Date Modified" of 2018 or older -- there should be 44.
6. Paste all those DLLs into the `C:

[2020-03-24 20:18] NicholasPilotto opened #5183 "Extension doesn't work"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS Catalina 10.15.3
- C/C++ Extension Version: 0.27.0
- Visual Studio Code Version: 1.43 (February 2020)
- Bug description: the entire extension doesn't work, the autocomplete code doesn't appear, the formattingOnSave doesn't format

**Expected behavior**

Before the last update, everything was working fine, but now nothing happe

[2020-03-24 20:19] X-Ryl669 commented on #5146
Thanks!

[2020-03-24 20:39] sammeboy635 opened #5184 "File exception with New update"
Seems to be a issue with the new update where if I try to fopen a .txt file its saying the file is not found. When the same code yesterday was working just fine.

[2020-03-24 21:01] sean-mcmanus commented on #5113
Is that configuration working for you? If not, what's the issue? Is there still unwanted includePath reordering occurring?

[2020-03-24 21:43] sean-mcmanus commented on #5168
This is bug https://github.com/microsoft/vscode-cpptools/issues/2184 . It repros with ".c" and not ".C" (i.e. C++) files, which is why the behavior changed with the all caps file. The root issue at https://developercommunity.visualstudio.com/content/problem/407956/cc-intellisense-no-member-list-appears-after-typin.html needs more upvotes.

BTW, "bool" is normally a C++ keyword, so if you expect C+

[2020-03-24 21:43] #5168 closed, assigned to nobody

[2020-03-24 22:06] sean-mcmanus commented on #5165
"Failed to read response from server" means our IntelliSense process crashed. If you could attach a debugger to the `Microsoft.VSCode.CPP.IntelliSense.Msvc.exe` process after opening the file to get a crash call stack that would help.

[2020-03-25 00:12] ngugcx commented on #2476
- Type: Debugger
- OS and Version: Windows 10
- VS Code Version: 1.43.2
- C/C++ Extension Version: 0.27.0-insider4

I am trying to debug a Qt app with the following configuration, but the visualizer just doesn't work with QString.
- "showDisplayString" is not allowed.
![image](https://user-images.githubusercontent.com/44153489/77488767-1cb1de00-6e71-11ea-9c45-efa085ec1097.png)
- When debugging, QS

[2020-03-25 00:13] ngugcx commented on #2476
Or should I open a new issue for this?
If you need more infos, let me know.

[2020-03-25 00:59] #5176 closed, assigned to nobody

[2020-03-25 01:56] sean-mcmanus commented on #5183
Are you using 0.27.0-insiders4? Can you check the Toggle Developer Tools logs to see if our extension is crashing on startup?

[2020-03-25 01:59] sean-mcmanus commented on #5184
Our extension doesn't run on .txt files. Is this a VS Code bug? Our C/C++ extension normally only process C/C++ files.

Otherwise, could you provide the version of VS Code and of the C/C++ extension? And can you provide the exact text of the error messages you're seeing?

[2020-03-25 02:31] sammeboy635 commented on #5184
For my C programming class I wrote a program to process .txt files. But when I compile and run in visual studio its giving me a error of "No such file or directory". The way I open the file is with a
fopen("input.txt", "r");
Which this .txt file does exists in the same working directory. I ran the same program using GCC from terminal instead of VS and it runs like it should. If maybe you could giv

[2020-03-25 02:55] baiwfg2 opened #5187 "derived class show base class virtual method's comments when hovering"
**Type: LanguageService**

**Describe the bug**
- OS and Version: windows 10
- VS Code Version: 1.43.0
- C/C++ Extension Version:  0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including information about the workspa

[2020-03-25 03:28] gujinfei commented on #5155
Thanks for your patience and reply.
With your help, I can use 0.27.0 insiders4 normally
I follow your prompts, Download LLVM, and copy 44 DLLs to the corresponding directory, it takes effect.
At the same time that vscode works normally, I start to delete the DLL, and there are 22 DLLs left. These 22 DLLs are being used by the program.
Thanks again.
![dll](https://github.com/gujinfei/res/blob/maste

[2020-03-25 06:24] tonka3000 commented on #2476
Hey @ngugcx ,

do you know these natvis file from Qt itself https://code.qt.io/cgit/qt-labs/vstools.git/plain/src/qtvstools/qt5.natvis.xml , just remove `##NAMESPACE##::` from the file after download (if it does not work, just remove `##NAMESPACE##` and let the `::` exist, in older versions of VSCode that worked for me too). This should work.

If you don't want to do all that manually, just use my

[2020-03-25 06:50] ngugcx commented on #2476
@tonka3000 , you saved lots of my time. Thank you very much!
I didn't expect it was an error of the natvis file, it was copied from https://wiki.qt.io/IDE_Debug_Helpers.

[2020-03-25 06:56] culyee commented on #5092
@sean-mcmanus  Hi sean, thank you very much. Based on  your advice,  I have solved my  problem.

[2020-03-25 06:56] #5092 closed, assigned to nobody

[2020-03-25 09:42] tonka3000 commented on #2476
@ngugcx , if you create a Qt natvis file, maybe you like to make a PR on https://github.com/tonka3000/vscode-qt-tools/blob/develop/res/qt.natvis.xml and you can use the file as a template for your file as well (it's an MIT license) . Because the Qt Visual Studio tools natvis file is under GPLv3 and my extension is MIT which don't match. So when you like to contribute to my repo, you are absolutely

[2020-03-25 09:58] Lectem commented on #106
I also had this issue, and it makes it is really hard to discover that you need `--exec` or `` ` `` for commands.
Wouldn't it be possible to at least show text in the background of the menu that says something along the lines of

When the current debugger is gdb/lldb/windbg or whatever debugger needs it ? Because right now it's not only unpractical, but very confusing.

I know there's already a me

[2020-03-25 12:11] EdorianDark opened #5188 "Error in c++ intellisense for imported constructor"
**Type: LanguageService**

**Describe the bug**
- OS and Version: local Windows, remote Linux
- VS Code Version: 1.43.2
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):  Remote Development, C++ Themes, both from Microsoft
- Does this issue involve using SSH remote to run the extension on a remote machine?: yes
- A clear and concis

[2020-03-25 15:42] pitromattio opened #5189 "VSCode Showing Fake Error In Cpp-Properties"
VSCode Version: 1.43.2
OS Version: Windows 10 1909
Cpp Version: 0.27.0-insiders4

In the c_cpp_properties.json file, in the .vscode folder, VSCode says there are 4 errors. All those errors are because it cannot find a path to certain folders, but it is because they are under the mac configuration and I am on windows. Those are in fact fake errors, and they have never showed up before yesterday, wh

[2020-03-25 17:40] michelleangela commented on #5189
@pitromattio

The input validation for the c_cpp_properties.json should only be applied to the current _active_ configuration. Can you check which configuration was active for that session?

The name of the active configuration will appear at the right side of the VS Code status bar when there is a C or C++ file in focus.
![image](https://user-images.githubusercontent.com/38734287/77567761-de261e8

[2020-03-25 18:23] hyt589 commented on #509
Any updates on this feature?

[2020-03-25 19:58] Colengms commented on #5188
Hi @EdorianDark .  Thanks for reporting this.  I'm able to repro with Visual Studio (VS and the C/C++ Extension for VS Code share common code for IntelliSense).  I opened a bug against VS here: https://developercommunity.visualstudio.com/content/problem/963209/c-intellisense-reports-no-default-constructor-desp.html

[2020-03-25 20:16] michelleangela commented on #5151
For clarification, the compilerPath is valid for the following "cl.exe" inputs:
1. cl.exe
2. <valid_dir_path>/cl.exe
3. <invalid_dir_path>/cl.exe
4. <old_version_of_cl_path>/cl.exe

If the compiler is cl.exe, then any msvc IntelliSenseMode is valide.

[2020-03-25 20:27] sean-mcmanus opened #5190 "Open files outside of the workspace can randomly have symbols removed after loading"
Start VS Code with a file open that doesn't belong to the workspace. The open file incorrectly gets removed from the database. Depending on timing, it may or may not fix itself via re-parsing the file.

[2020-03-25 20:34] mqtthiqs opened #5191 "Display compiler notes in Problems window"
**Type: LanguageService**

When I hit "Start Debugging" and there is a compiler error in my file, the Problems pane shows me only "errors" and "warnings", but ignores "notes". These are essential when working on template-heavy code; please show them, maybe as sub-lists under their respective errors.

It is the case at least for single-file, single-project.

- OS and Version: MacOS Catalina
- VS Co

[2020-03-25 21:26] sean-mcmanus opened #5192 "0.27.0-insiders4 crashes for workspaces with no folders"

[2020-03-25 21:40] sean-mcmanus commented on #1162
@Lennon925 It's not on our plans yet -- it's our 10th most upvoted feature and we're currently working on some of the 9th and below most upvoted features for our 1.0 release (after 0.27.0).

[2020-03-25 21:43] sean-mcmanus commented on #3323
@julee What issue are you hitting? I don't think we found a repro for this issue. Can you provide more repro info?

[2020-03-25 21:44] pitromattio commented on #5189
Oh ok never mind it was set for some reason to Mac... changed it back to Win32 and that fixed the problem. Thank you

[2020-03-25 21:50] #5189 closed, assigned to nobody

[2020-03-25 21:51] sean-mcmanus opened #5194 "Update to clang-format 10"
https://releases.llvm.org/download.html

[2020-03-25 22:13] sean-mcmanus commented on #5155
Thanks for the info. I've updated our build to include those other DLL dependencies.

[2020-03-25 22:26] #5192 closed, assigned to nobody

[2020-03-26 00:53] sean-mcmanus commented on #5191
Can you try setting your problemMatcher in your task.json to:
[code]

That works for the case provided, but I'm not sure if gcc outputs messages that aren't matched by that correctly. If there are "notes" that are not 2 lines long or errors/warnings that are more than one line long then this will fail (not sure of a good way to deal with that).

We could update our package.json (at https://github.

[2020-03-26 02:15] julee commented on #3323
Project:
[vs_sample.zip](https://github.com/microsoft/vscode-cpptools/files/4384658/vs_sample.zip)

you may edit the  .vscode/setting.json , change Qt5_DIR to the correct path:
[code]

After cmake: configure the project, Qt head files cannot find by vscode, though all include path are detected.

![image](https://user-images.githubusercontent.com/1493342/77602903-a7660c00-6f49-11ea-8424-9c4d744df88

[2020-03-26 03:29] VirFunc commented on #5165
@sean-mcmanus
I attached the ```Microsoft.VSCode.CPP.IntelliSense.Msvc.exe``` with **gdb**, here is the output.
[code]

[2020-03-26 05:27] michelleangela commented on #5165
@VirFunc

Could you add the symbols? The symbols of the binaries can be available in VS Code by setting the property "[symbolSearchPath](https://code.visualstudio.com/docs/cpp/launch-json-reference#_symbolsearchpath)" to "https://msdl.microsoft.com/download/symbols"

[2020-03-26 07:34] wzm-victor opened #5200 "Function identify failed with Macro with loop"
If there is a macro in a function, the symbol of function failed be be identified. Example:
![image](https://user-images.githubusercontent.com/41720825/77620858-430d7180-6f76-11ea-831e-4e81701dc474.png)
In the exmaple, 'test_ok' without macro is identified as a symbol, but 'test_error' is not.

[2020-03-26 09:00] VirFunc commented on #5165
@michelleangela
I added that to my launch.json and debugged ```Microsoft.VSCode.CPP.IntelliSense.Msvc.exe``` with vscode. I don't know if I did it right.
Some symbols were not loaded due to my network environment.
Here is the output from debug console
[code]
This is the screenshot of the callstack.
![debug](https://user-images.githubusercontent.com/28671722/77627379-c2ed0900-6f81-11ea-811e-e9204b8

[2020-03-26 10:58] SPAstef opened #5201 "Suggestions for struct field initialization"
Hi, would it be possible to add support for auto-completion when initializing structs as follows:
[code]
Right now it doesen't even get highlighted (but it gets squiggled if the field doesen't exist).
Thanks!

[2020-03-26 14:03] mqtthiqs commented on #5191
Thanks, this is better, but still not ideal:
- not all notes appear in the Problems pane (see below)
- the notes don't appear directly below the error they are related to, which is how gcc/clang outputs them.
- this might be unrelated but I'm still seeing each error twice with a different wording (see screenshot)

For instance, here is clang's output:
[code]

And this is what I see in the Problems

[2020-03-26 14:24] sakizhu opened #5202 "auto completion not work with remote ssh"
**Type: LanguageService**

![image](https://user-images.githubusercontent.com/9567827/77657198-e9c23400-6faf-11ea-9ff8-e8b7c32adb80.png)

**Describe the bug**
- OS and Version:windows
- VS Code Version:1.43.2
- C/C++ Extension Version:0.26.3
- Other extensions you installed (and if the issue persists after disabling them):remote ssh ,c++ intelligence
- Does this issue involve using SSH remote to r

[2020-03-26 14:43] raykong1 opened #5203 "Cannot show error"
Type: Debugger

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll dow

[2020-03-26 15:17] deepakmn commented on #2032
My VS Code version is 1.43.2 and during installation of version 0.26.3 of cpptools-win32.vsix, I get the following error:

![image](https://user-images.githubusercontent.com/29940558/77662618-1cfdc680-6fa2-11ea-8dd1-7031ff79756e.png)

Attaching the install log:
[cpptools-win32-0_26_3install-log.txt](https://github.com/microsoft/vscode-cpptools/files/4388053/cpptools-win32-0_26_3install-log.txt)

[2020-03-26 15:17] assafmendelson commented on #5102
This works, thanks

[2020-03-26 15:17] #5102 closed, assigned to nobody

[2020-03-26 18:27] WardenGnaw opened #5204 "[Feature Request] Toggle between expression evaluation and gdb commands"
Support a command that will toggle the REPL to switch between variables request and gdb commands.

If toggled on, it will expect GDB commands and commands sent with -exec are variables request.
The default is off.

https://github.com/microsoft/vscode-cpptools/issues/106

[2020-03-26 18:36] sean-mcmanus commented on #3949
@bobbrow It sounds like the issue you were hitting is the same as https://github.com/microsoft/vscode-cpptools/issues/5190 -- let me know if you still have a repro with 0.27.0-insiders5.

The original issue I reported may no longer repro as well (not sure).

[2020-03-26 19:59] sean-mcmanus commented on #5182
I reproed the bug when I used the code in a C++ file on Mac, but it went I away when I used it in a C file (.c). I assume you want to compile it as a C, right? Make sure your files.associations setting doesn't have "*.C": "cpp" in it or your .c files will get treated as C++. Also, when you run C/C++: Log Diagnostics, you should not see any C++ references (i.e. in the standard version or system "In

[2020-03-26 20:11] pieandcakes commented on #106
@Lectem Do you know if this is something that VS Code supports and we don't have it implemented? I can do some research when i have time.

[2020-03-26 20:27] sean-mcmanus commented on #5182
Oops, ignore my previous comment -- doing a reload window (with a C file) causes the squiggles to reappear. It also repros on Linux/WSL.

[2020-03-26 20:33] Lectem commented on #106
I honestly have no idea, but if it doesn't support it, it should!

[2020-03-26 20:53] sean-mcmanus commented on #5184
If you build your binary from VS Code, does it run correctly from the command line? If so, there is probably some problem with your launch.json.

If you build your binary from the command line, does it run correctly from VS Code. If so, there is probably some problem with your tasks.json.

Can you make sure your cwd settings are correct? If that is wrong, it may not be handling the relative paths

[2020-03-26 21:05] sean-mcmanus commented on #5184
I'm not able to repro the issue with your repro project. The cwd appears correct. Is the binary getting placed in your ${workspaceFolder}?

You might want to try checking http://www.cplusplus.com/reference/cerrno/errno/ to see why the fopen call returning 0.

[2020-03-26 22:04] elijaharita commented on #4195
Concepts Intellisense support is now available with Visual Studio 16.6 Preview 2

[2020-03-26 22:07] ruifortes opened #5207 "Where is the MFC example?"
Guess this is more of a "governance" related question but still...
Why can't I find a simple example for a MFC app?
I've installed the 2017 build tools and I want to use VSCode instead of the full blown VStudio.
I'm finding hard to believe that I'm going to have to understand all the nuts and bolts just to make a simple MFC app!?
It's just some (large number of) configs for crying out loud. Isn't

[2020-03-26 22:09] sean-mcmanus commented on #5187
@baiwfg2 I filed a feature request on VS at https://developercommunity.visualstudio.com/idea/965067/c-intellisense-show-base-class-method-comments-for.html . You could upvote that.

I think our implementations are somewhat divergent, but I think we plan to share more eventually, so if VS implements it then we may also get it.

[2020-03-26 22:16] sean-mcmanus commented on #5183
This was fixed with 0.27.0-insiders4 (see https://github.com/microsoft/vscode-cpptools/issues/5136).

[2020-03-26 22:16] #5183 closed, assigned to nobody

[2020-03-26 22:28] sammeboy635 commented on #5184
The file did compile in the right directory and ran from cmd. I was looking at my cwd in my tasks again and it's value was set at "cwd": "${fileDirname}", which I assumed that it would be where the file location is. But when I wrote a program to write where it was currently working at it was "dir: /home/samuel/Desktop/Cprogramming" which is not where the .c file is located in. The C file is compil

[2020-03-26 22:28] #5184 closed, assigned to nobody

[2020-03-26 22:31] sean-mcmanus commented on #5200
This is "by design" (limitation of our workspace symbol parser). The expected workaround is to create a file named cpp.hint in your workspace folder that has contents
[code]
See https://docs.microsoft.com/en-us/cpp/build/reference/hint-files?view=vs-2019 for more info.

[2020-03-26 22:31] #5200 closed, assigned to nobody

[2020-03-26 23:08] sean-mcmanus commented on #5165
Thanks for the info. I was able to repro the crash using VS. I've reported a bug at https://developercommunity.visualstudio.com/content/problem/965150/c-intellisense-process-vcpkgsrvexe-crashes-when-ty.html .

[2020-03-26 23:29] sean-mcmanus commented on #509
@hyt589 We don't currently have any plans to implement this.

If your host machine is Windows, you could use Visual Studio's memory/registers viewer when debugging on Windows or remote Linux targets: https://docs.microsoft.com/en-us/cpp/linux/deploy-run-and-debug-your-linux-project?view=vs-2019.

[2020-03-26 23:35] sean-mcmanus commented on #5201
This is being tracked for C++ designated initializers at https://developercommunity.visualstudio.com/content/problem/822907/cc-intellisense-list-members-doesnt-work-with-desi.html (also https://github.com/microsoft/vscode-cpptools/issues/4610 ). If you have a Microsoft account you could upvote that.

The C case (based on a gcc extension) may be slightly different, but the C++ case would probably n

[2020-03-26 23:35] #5201 closed, assigned to nobody

[2020-03-26 23:59] SPAstef commented on #5201
It originally probably was an extension, but I am pretty sure it's in the standard (just checked, paragraph 6.7.9). Thanks for the link and the info!

[2020-03-27 00:15] sean-mcmanus commented on #5191
The reason only 2 notes appears is because VS Code seems them as duplicates. The linking of the notes to errors appears to be covered by https://github.com/microsoft/vscode/issues/55253 . The duplicate errors without the "gcc" label at the end are coming from our IntelliSense process.

[2020-03-27 00:21] sean-mcmanus commented on #5203
Can you provide more info?

[2020-03-27 00:28] sean-mcmanus commented on #5207
We don't have any MFC examples. There are samples for Visual Studio at https://docs.microsoft.com/en-us/cpp/overview/visual-cpp-samples?view=vs-2019#mfc-samples---advanced . I have not see anyone use Visual Studio Code or our C++ extension for MFC. I think using Visual Studio is preferred for MFC apps. Otherwise, you'd have to setup all the build details yourself.

[2020-03-27 00:35] sean-mcmanus commented on #5202
IntelliSense is reporting 30+ errors. That can cause completion to not work. Are you able to fix those errors?

Are you able to get completion to work with a simple example C++ file that has no errors?

[2020-03-27 00:42] sean-mcmanus commented on #2032
@deepakmn Double-clicking the vsix will cause Visual Studio to try to try to install it (and fail). You'll need to follow the instructions on the release page:

![image](https://user-images.githubusercontent.com/19859882/77709600-df407400-6f88-11ea-83a8-2bca9a9c3657.png)

[2020-03-27 00:45] sean-mcmanus commented on #4195
@elijahseedarita Yes, we plan to integrate those changes for our 1.0 release (our soon-to-be-released 0.27.0 won't have those changes yet). Also, it sounded like the support for concepts was not 100% yet.

[2020-03-27 00:56] sean-mcmanus commented on #5201
Ah, you're right it's an official part of C99, but an extension for C++ compilers prior to C++20.

[2020-03-27 01:37] #5151 closed, assigned to elahehrashedi

[2020-03-27 01:39] sean-mcmanus commented on #5155
0.27.0-insiders5 has the missing DLLs added (https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders5).

[2020-03-27 01:40] #5171 closed, assigned to WardenGnaw

[2020-03-27 01:41] sean-mcmanus commented on #5049
The database issue got fixed with 0.27.0-insiders5: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders5

[2020-03-27 01:41] #5190 closed, assigned to nobody

[2020-03-27 01:45] #5155 closed, assigned to nobody

[2020-03-27 01:46] #5146 closed, assigned to nobody

[2020-03-27 01:46] #5136 closed, assigned to nobody

[2020-03-27 01:46] #5134 closed, assigned to nobody

[2020-03-27 01:46] #5090 closed, assigned to nobody

[2020-03-27 01:47] #5068 closed, assigned to nobody

[2020-03-27 01:47] #5059 closed, assigned to nobody

[2020-03-27 01:58] #5152 closed, assigned to nobody

[2020-03-27 01:59] #5138 closed, assigned to nobody

[2020-03-27 02:00] AntonSidorov commented on #3829
I've had a similar issue on 10.15.3. Couldn't get CodeLLDB or the `lldb-mi` solutions to work at all. Switching to the insiders build (`0.27.0-insiders4`) has solved all the issues for me.

[2020-03-27 02:01] #5131 closed, assigned to nobody

[2020-03-27 02:02] #5099 closed, assigned to nobody

[2020-03-27 02:03] #5062 closed, assigned to Colengms

[2020-03-27 02:03] #5078 closed, assigned to Colengms

[2020-03-27 02:04] #5022 closed, assigned to nobody

[2020-03-27 02:06] #5019 closed, assigned to Colengms

[2020-03-27 02:28] #4460 closed, assigned to nobody

[2020-03-27 02:28] #4481 closed, assigned to Colengms

[2020-03-27 02:29] #4462 closed, assigned to nobody

[2020-03-27 02:30] #4727 closed, assigned to nobody

[2020-03-27 02:30] #4741 closed, assigned to Colengms

[2020-03-27 02:30] #4879 closed, assigned to nobody

[2020-03-27 02:31] #4931 closed, assigned to nobody

[2020-03-27 02:38] ednaramor opened #5208 "Platformio"
Issue Type: <b>Bug</b>

I have installed "Visual Studio Code" and I am trying to load the "PlatformIO" extension and it can not find Python 3.8.2 which I previously installed on my computer.

Extension version: 0.26.3
VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|It

[2020-03-27 02:38] sakizhu commented on #5202
it can work fine with **same code** in local mode， but when I use it with remote ssh extension， it doesn't work well，this is the log which the c++ extension work on local windows

`
cpptools/getCodeActions: 18
已发现 0 个包含路径建议。
cpptools/activeDocumentChange
cpptools/textEditorSelectionChange
cpptools/getDocumentSymbols: 19
cpptools/textEditorSelectionChange
cpptools/getDocumentSymbols
cpptools/getDoc

[2020-03-27 02:44] sean-mcmanus commented on #5208
Did you mean to file an issue at https://github.com/platformio/platformio-vscode-ide/issues ? I don't think our C/C++ extension can affect this. Or can you just reinstall Python 3.8.2?

[2020-03-27 02:48] sean-mcmanus commented on #5202
If your remote gcc is set to output non-English strings, that can cause our gcc querying of system defines/includes to fail. If you run `/usr/bin/g++ -std=c++17 -Wp,-v -E -xc -dD -x c++ /dev/null` on your remote machine and it shows non-English strings then that would probably be the cause.

[2020-03-27 02:56] sakizhu commented on #5202
i saw this page https://github.com/microsoft/vscode-cpptools/issues/4859， and checked the point， there has no non-English strings , here is the ouput

`ignoring nonexistent directory "/usr/lib/gcc/x86_64-redhat-linux/4.8.5/include-fixed"
ignoring nonexistent directory "/usr/lib/gcc/x86_64-redhat-linux/4.8.5/../../../../x86_64-redhat-linux/include"
#include "..." search starts here:
#include <...>

[2020-03-27 03:38] escape0707 opened #5209 "Build task template use absolute path for building but relative path for problemMatcher"
Type: General

## Environments
- OS and Version: Windows_NT x64 10.0.18363
- VS Code Version: 1.44.0-insider
- C/C++ Extension Version: 0.26.3

## Describe the bug
The build task templates on windows, e.g. `g++.exe build active file`, contains:

[code]

But the `problemMatcher` `$gcc` use relative path by default. And if there is warnings or errors emitted during the build process, we can't use th

[2020-03-27 04:17] escape0707 commented on #5209
It's probably better to use absolute path for `problemMatecher` by default, as error in library files reported by compilers will use absolute path anyway.

[2020-03-27 04:19] NIRVANALAN opened #5210 "for loop snippets now working well"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Deepin 15.11
- VS Code Version: 1.30+
- C/C++ Extension Version:0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- A clear and concise description of what the bug is, including information about the works

[2020-03-27 05:31] stanpcf opened #5211 "launch: program '../../lightgbm' does not exist"
Type: Debugger

**Describe the bug**
Version: 1.43.2 (user setup)
Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
Date: 2020-03-24T07:38:38.248Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362
remote-ssh os: centos7

configure:
[code]

![image](https://user-images.githubusercontent.com/13925796/77723401-54648580-702b-11ea-8149-433b782

[2020-03-27 06:21] Lennon925 commented on #1162
Thanks and Expect it very much~

[2020-03-27 08:55] Garithe commented on #3829
I still have question here with insiders5. My probelm is if set externalConsole false, it will start debugging but no where to get input. (seems not able to input in debug console, but output there is fine)
If set true, a now console will pop up but without anything running inside. And there is no output in debug console. My os is Catalina(10.15.4), Xcode is also the newest.
launch.json is just li

[2020-03-27 09:29] SPAstef commented on #5201
I had nothing but nightmares everytime I tried to switch to C++. Inability to pass "anonymous" arrays to functions, 200 casts and initialization kinds (yet not anomimuos init...) and generally the incredible amount of duplication (or n-plication) of ways to do the exact same thing, often really something that the compiler should and does take care himself... But maybe that's just my guess.

[2020-03-27 09:33] elijaharita commented on #4195
@sean-mcmanus Thanks for all your work! =)

[2020-03-27 10:04] mqtthiqs commented on #5191
Isn't this a bug? Even if VSCode merges duplicate notes, there are 4 distinct notes in the provided example.

Ok, seems so indeed.

Out of curiosity, is that a completely separate process, from a different compiler, and if yes which one? Is there a way to disable it, or to replace it with my own compiler, still keeping error reporting as I type? Sorry if this is covered elsewhere, I'm new to VSCod

[2020-03-27 10:25] puremourning commented on #3829
@Garithe  this is a limitation of LLDB, not vscode-cpptools (it also applies to `lldb-vscode`). I'd recommend using `"externalConsole": true` .

This is likely a different issue, probably reolated to the `program` argument in your launch configs apparently being a directory not a binary.

[2020-03-27 10:41] ruifortes commented on #5207
I understand it's the "preferred way" but nevertheless I don't understand the overhead justifying not providing a simple pathway to do so.
Actually I think the lack of that pathway is the main reason you don't see anyone use Visual Studio Code.
I don't need auto code generation UI stuff but I surely appreciate some way to manage the insane configuration necessary to call a "simple" command line pr

[2020-03-27 11:05] ruifortes commented on #5207
Microsoft own github and consequently Atom right?
Also it owns Atom competitor VSCode and,  although with a community free version,  the full blown professional Visual Studio.
It's not far fetched to think there could be some commercial strategies involved.
At least some fine tuning of how much Microsoft would push development in each one of those packages.
I'm not a fan of highly automated mechan

[2020-03-27 11:38] Garithe commented on #3829
@puremourning Thanks for replying. But that's just a mistake when I copy the content.I did use "${fileDirname}/${fileBasenameNoExtension}". If it's a name thing, debugger shouldn't run when I set "externalConsole" false. By the way when I click run without debugging there is also nothing in the console, maybe this is indeed another problem

[2020-03-27 11:52] amosialek commented on #5148
Ok, so I've tried to manually run gdb and it turned out, that even though objdump --syms showed symbols, gdb couldn't find them (I got "no debug symbols found"). I don't know when did it happen but probably some CMAKE configuration was set inproperly and `set(CMAKE_BUILD_TYPE Debug)` didn't add debug symbols. However, adding -g to  `target_compile_options(Graphessor PRIVATE -Wall -Wextra -pedantic

[2020-03-27 11:52] #5148 closed, assigned to nobody

[2020-03-27 13:05] javierfernandezfidalgo opened #5212 "Fortran gdb debugging wrong array values"
Type: Debugger

**Describe the bug**
Hello everyone.

After using the fortran gdb debugger with vscode, I noticed some strange behaviour.
When I use the debugger inside a subroutine (by turning on a breakpoint or going line by line), it does not display the correct row values. In the following program, the expected values for `arow` inside the subroutine `sendrow` are ` [4.00, 3.00, 2.00]`, but th

[2020-03-27 14:31] ednaramor commented on #5208
Thanks, I will try reinstalling Python 3.8.2.

-----Original Message-----
From: Sean McManus <notifications@github.com>
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: ednaramor <ednaramor@verizon.net>; Author <author@noreply.github.com>
Sent: Thu, Mar 26, 2020 10:44 pm
Subject: Re: [microsoft/vscode-cpptools] Platformio (#5208)

Did you mean to file an issue at https://gith

[2020-03-27 16:22] bobbrow commented on #5159
This should be fixed in insiders4

[2020-03-27 16:22] #5159 closed, assigned to nobody

[2020-03-27 16:48] jmevel commented on #429
Well I'm glad to see that this feature now has the highest number of 👍 in this repository meaning this should be one of the top priority for c++ tools developers.

Also I'm glad there is actually a branch to bring that feature.
Cheer up guys, thanks for all your work!

[2020-03-27 17:29] Colengms commented on #5023
Closing this as the linked bug is now closed (fixed).  Though, the issue will persist until a version of VS Code containing the fix is shipped.

[2020-03-27 17:29] #5023 closed, assigned to Colengms

[2020-03-27 18:40] bobbrow commented on #5213
Thanks.  I think that clarified things a lot.  This is a cpptools issue.  The `include:` paths you showed are the ones the IntelliSense compiler uses to find headers.  These paths are not searched recursively.

The "browse" path that is coming from your compiler is being searched recursively and since the symbols in 4.6.3 are probably close to identical to the ones in 4.6.3/ext, cpptools is curren

[2020-03-27 18:51] sean-mcmanus commented on #5209
This should be fixed by https://github.com/microsoft/vscode-cpptools/pull/3916 .

[2020-03-27 19:01] sean-mcmanus commented on #5210
I'm not reproing the issue. What are your formatting and indentation settings? Do you have some sort of auto-format enabled? If you set C_Cpp.loggingLevel to "Debug" do you see a format occurring?

[2020-03-27 19:01] bobbrow commented on #5160
This seems more like an issue with the header to source file mappings.  @Colengms I'm not sure if there's anything generic we can do here since this file is likely included by multiple source files and we don't know which one to pick.  Are we defaulting to header-only IntelliSense in those cases now?

@sslupsky can you share the output of "Log Diagnostics" when just the header file is open so we c

[2020-03-27 19:38] sslupsky commented on #5160
Here is Log Diagnostics when I right click "Go To Definition" on "#include <device.h>" in "main.c" and then selected the "correct" item from the list:

[code]
The "device.h" file appears to be mapped to the configuration used for "main.c".  I think that is correct.

[2020-03-27 20:41] bobbrow commented on #5160
Did you have main.c open in the editor before device.h was opened?  Here's a test.  Close all editor tabs except for device.h and then run the "Reload Window" command.  When IntelliSense is ready, run the "Log Diagnostics" command and check the mapping for device.h.

[2020-03-27 20:48] bobbrow commented on #5160
In your earlier comment you said that switching to compile_commands.json fixed your problem, but that shouldn't be the case for header files.  compile_commands.json doesn't have entries for header files but the configuration provider would have entries if the header files were listed in the CMakeLists.txt file.  I would expect compile_commands.json to work only if the source file (e.g. main.c) is

[2020-03-27 20:49] sean-mcmanus commented on #5191
Yeah, it looks like VS Code is only showing 1 problem per "location" (i.e. line/column, or file if "kind": "file" is used). That seems like a bug or feature request on VS Code (I couldn't find an existing issue)...you could file an issue at https://github.com/microsoft/vscode (or I could).

Yes, you can disable our IntelliSense process's squiggles via the C_Cpp.errorSquiggles setting. The process

[2020-03-27 20:53] WardenGnaw commented on #5211
Can you set `program` to `${workspaceFolder}/lightgbm`?

[2020-03-27 20:55] WardenGnaw commented on #5212
Can you enable logging by adding the following to your `launch.json`?
[code]

And share the output here?

[2020-03-27 21:27] sean-mcmanus commented on #5207
We have docs at https://code.visualstudio.com/docs/languages/cpp. From our team's perspective, MFC is just another external library framework, so it would be up to the MFC owner or community to provide samples/docs on specific setup. The same would apply other other libraries like QT, Direct3D, OpenCL, OpenCV, etc. Some libraries like PlatformIO provide a specific extension which deal with all the

[2020-03-27 22:08] #5166 closed, assigned to nobody

[2020-03-27 22:26] #3892 closed, assigned to Colengms

[2020-03-27 22:27] bobbrow commented on #3880
We believe this issue has been fixed.  Please update to the latest version of the extension and if you continue to see the problem, let us know.  Thank you!

[2020-03-27 22:27] #3880 closed, assigned to nobody

[2020-03-27 22:30] bobbrow commented on #3819
We added more logging that would help us diagnose the issue.  If you are still seeing this problem, could you run the "Log Diagnostics" command and share with us what you see?

[2020-03-27 22:33] bobbrow commented on #3813
We're tracking the possibility of consolidating the icons with #4117

[2020-03-27 22:33] #3813 closed, assigned to nobody

[2020-03-27 22:34] ivankravets opened #5215 "Compiler path with spaces produces error"
Related topic https://community.platformio.org/t/platform-io-compiler-error/12684

1) We provide a full path to the compiler using `compilerPath` option
2) This a path option, so we do not do any modifications because arguments are passed to `compilerArgs`

Yes, we can escape `compilerPath` by default but it looks like a bug.

Thanks!

/cc @valeros @sean-mcmanus

[2020-03-27 22:52] bobbrow commented on #3762
The default location for ipch is shared between workspaces now, so we do not plan to make any changes to the default for databaseFilename.

[2020-03-27 22:52] #3762 closed, assigned to nobody

[2020-03-27 23:12] sean-mcmanus commented on #5215
This issue existed for a "long time" (i.e. in 0.26.3), but the error squiggling was disabled by default in 0.26.3 and 0.27.0-insiders5 fixed that.

[2020-03-27 23:23] sean-mcmanus commented on #5215
Thanks a lot for reporting this. It's fixed by https://github.com/microsoft/vscode-cpptools/pull/5217 for our 0.27.0 release (planned for Monday).

[2020-03-27 23:47] javierfernandezfidalgo commented on #5212
Hello there, thanks for the quick reply. I think I did everything correctly and this is the (rather lengthy) result. Hope it helps.

Kind regards.

[code]

[2020-03-28 00:02] #5215 closed, assigned to nobody

[2020-03-28 00:17] escape0707 commented on #5209
OK, just subscribed to that PR.

Feel free to close this issue if the problem has been tracked elsewhere,
please.

On Sat, Mar 28, 2020 at 2:51 AM Sean McManus <notifications@github.com>
wrote:

[2020-03-28 01:58] NIRVANALAN commented on #5210
Hi, I tried to disable the auto-format settings and it doesn't work;
I tried to reinstall a fresh new vscode and found that it's the conflict with extension vscode-vim
I ll try to reach the vscode-vim extension repo to report this bug, thanks. If you could solve it, that's also nice

[2020-03-28 04:01] bobbrow commented on #2564
We should move this into the next release then.

[2020-03-28 04:02] bobbrow commented on #5213
This is actually a duplicate of #2564

[2020-03-28 04:02] #5213 closed, assigned to nobody

[2020-03-28 04:48] xq114 opened #5219 "CMake macro splitted by formatter"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1909
- VS Code Version: 1.43.2
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): yes
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- A clear and concise description of what the bug is, including information about

[2020-03-28 04:55] sean-mcmanus commented on #5219
It's from clang-format. I don't believe the @ is valid C++, so clang-format is treating it like Objective-C. It's possible there some way to configure it, but I'm not sure. The docs are at https://clang.llvm.org/docs/ClangFormatStyleOptions.html .

[2020-03-28 05:05] xq114 commented on #5219
I've tried a number of compiler(including mingw-g++/mingw-clang/wsl-g++) and the same situation remained. I'm afraid it might be from a historical reason. Anyway, thanks to your replying!

[2020-03-28 06:32] stanpcf commented on #5211
It works. thanks

[2020-03-28 06:32] #5211 closed, assigned to WardenGnaw

[2020-03-28 06:57] #5219 closed, assigned to nobody

[2020-03-28 10:03] kvedantmahajan opened #5220 "a space is required between consecutive right angle brackets (use '> >')"
- OS and version: MacOS Catalina:
- VS Code Version: 1.43
- C/C++ Extension Version: ms-vscode.cpptools

All extensions disabled except one `ms-vscode.cpptools` which is required to run C++ in vscode as per docs.

When I try to build my program including a vector usage. It reports to me with the error mentioned in the title.

Example usage might look like

[code]

[2020-03-28 11:12] ivankravets commented on #5215
Thank you so much! The most important release for our community!

[2020-03-28 12:34] ruifortes commented on #5207
Is it fair to assume that compiling C++ MFC will boilds down to calling cl.exe with a bunch of arguments and some environment variables defined?
Visual Studio, although premium, seams to lack a feature to export those settings VSCode, on the other side, seams to lacks the import ones.
Am I wrong? What am I missing here?

[2020-03-28 13:26] ghuser404 commented on #5220
Does your program build and just shows red squiggles in code or it doesn't build at all? What compiler version are you using? Are you building your program with C++11 or later standard? The problem you described is how C++98 behaved - you had to put space in there. This was fixed in later standards.

[2020-03-28 15:10] GaussianPrince opened #5221 "can not debug c/c++"
Issue Type: <b>Bug</b>

i configured launch.json, tasks.json, but not enter gebug mode

Extension version: 0.26.3
VS Code version: Code - Insiders 1.44.0-insider (6cf3dd97465b2f4f666b66758991d720e003b0f4, 2020-03-27T05:28:16.333Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2200)|
|GPU Status|2

[2020-03-28 17:32] luotw258 commented on #429
+1
Remote SSH + Jetson nano

[2020-03-28 18:54] ghost commented on #5221
i cant even use the g++ command inside the terminal on visual studio. help.

[2020-03-29 03:47] aosterthun commented on #2268
Has something changed about this feature ?

[2020-03-29 07:15] mirkojpn87 opened #5222 "Implement CodeLens"
C++ on VSCode

i'm trying to work on a Unreal Project, still can't activate Codelens for my project, i have the X++ extension and the c++ intellisense extension installed too...

i'm missing something?

[2020-03-29 10:20] Smit-tay opened #5223 "Unsupported variable expansion for user variables"
Type: Debugger

**Describe the bug**
- OS and Version:
      Linux - Fedora 31 Linux  5.5.11-200.fc31.x86_64 #1 SMP Mon Mar 23 17:32:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

- VS Code Version:
      Version: 1.43.2
      Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
      Date: 2020-03-24T07:52:11.516Z
      Electron: 7.1.11
      Chrome: 78.0.3904.130
      Node.js: 12.8.1
      V8: 7.8.279

[2020-03-29 10:33] Garithe opened #5224 "No program runs in pop up terminal when debug on Mac"
Type: Debugger

**Describe the bug**
- OS and Version: newest 10.15.4
- VS Code Version: 1.43.2
- C/C++ Extension Version: 0.27.0 insiders5

Becasue of the limitation of lldb I set ""externalConsole": true" in launch.json to run program in a
pop up terminal to get the input. But when debug begins nothing runs in a new pop up console.

But when set externalConsole false it runs fine in terminal in

[2020-03-29 13:49] kvedantmahajan commented on #5220
Program builds fine.  This error shows only in output console when hitting rub debug.

C++ compiler ? All what vscode is using. Mentioned the version for the same.

[2020-03-29 14:54] ghuser404 commented on #5220
The used compiler doesn't depend on vscode, but rather on your setup.

Are you on Windows? Are you using cl.exe with Developer Command Prompt for Visual Studio? From what version of Visual Studio did you open the prompt?

Also, please post your tasks.json and c_cpp_properties.json here.

[2020-03-29 16:18] ghuser404 opened #5225 "IntelliSense between c++98 and c++03 is different"
While testing #5220, I noticed that if I specify `"cppStandard": "c++98"` in c_cpp_properties.json, I do not get red squiggles for code below, but if I specify `"cppStandard": "c++03"`, then I do. That is without CMake Tools extension.

I also do get red squiggles when I use CMake Tools extension as configuration provider `"configurationProvider": "ms-vscode.cmake-tools"` and having `target_compil

[2020-03-29 21:53] WardenGnaw commented on #5221
@GaussianPrince Can you share your program, launch.json, tasks.json, and any specific error messages you are getting with hitting the start debug button?

[2020-03-29 21:56] WardenGnaw commented on #5221
@onlyshvdows Do you have g++ in your path? You can do this by running `which g++`

[2020-03-30 04:57] AnsonH commented on #1772
Same issue here. Even when I tried to make g++ output an .exe file in tasks.json, the debugger still get stuck.

[2020-03-30 05:57] kvedantmahajan commented on #5220
Did you even read my issue properly?

Warm Regards,
Kushal V. Mahajan

On Sun, 29 Mar, 2020, 20:25 ghuser404, <notifications@github.com> wrote:

[2020-03-30 09:18] Smit-tay opened #5226 "envFile values not propagated to Debugger"
Type: Debugger

**Describe the bug**

- OS and Version:

- VS Code Version:

- C/C++ Extension Version:

- Other extensions you installed (and if the issue persists after disabling them):

- A clear and concise description of what the bug is:
envFile is not propogated to the debugee.
This can be demonstrated via the following launch.json entry:
`{
            "name": "(Debug) Test envFile",

[2020-03-30 09:29] nuaalyy opened #5227 "Cpptools consumes about 6GB memory on debian, and the system get no more response."
I don't know why but it really confused me. Cpptools costs lots of **memory**, and the **debian** goes down, but on **win10**, cpptools works well. The only differece is that the boost libs is installed on debian but not installed on win10. Maybe large scale c++ projects are not supported well? The version of CPPTOOL is **0.27.0-insiders3**.

[2020-03-30 10:32] ghuser404 commented on #5220
Sorry, I didn't notice you were on Mac. I updated my message, but you didn't see it, saying please post your tasks.json and c_cpp_properties.json here.

[2020-03-30 11:32] Schuck84 opened #5228 "No auto suggestions via pointer available"
Hello,
I have set up a workspace with Intellisense and did the IncludePath definition.
Intellisense is also working partly but doesn't provide any suggestions for a instance variable with pointer access.
In the attachment you find some picture from the editor, VSCode Version and the output from the DiagnosticsLog.
Please let me know if you need further information
[DiagnosticsLog.txt](https://gith

[2020-03-30 12:52] OmSao commented on #1571
How I resolved this issue is: As I have already manually installed LLVM in my system and there was "C/C++ Clang adapter" extension in my Visual Code.
So, I uninstalled the adapater extension and restarted Visual Code.

[2020-03-30 13:50] mqtthiqs commented on #5191
Got it, thanks.

[2020-03-30 14:54] lodo1995 commented on #4827
+1 on this.
I think this feature might get more and more requested given that 1) Remote-Containers is getting more popular to develop on Windows machines without cluttering them 2) Alpine is getting very popular because of its speed, and is starting to support more libraries and tools.

[2020-03-30 18:37] sean-mcmanus commented on #5220
The message if from your clang compiler and not our C/C++ extension. You might need to set "-std=c++11" as a compiler argument in your tasks.json.

[2020-03-30 18:37] #5220 closed, assigned to nobody

[2020-03-30 18:59] sean-mcmanus commented on #5207
I am not familiar with the details of compiling an MFC project. All the docs I've seen are based on compiling using Visual Studio. If you'd like documentation on how to use MFC with Visual Studio Code, you might try posting an issue at https://github.com/MicrosoftDocs/cpp-docs/issues .

There is no feature to transfer settings between Visual Studio and Visual Studio Code, but if you build using CM

[2020-03-30 19:06] sean-mcmanus commented on #5220
The message from our extension is `"space required between adjacent '>' delimiters of nested template argument lists ('>>' is the right shift operator)"`. If you see that, then your cppStandard setting needs to be increased to c++11 or newer.

[2020-03-30 19:12] sean-mcmanus commented on #5225
`error: '>>' should be '> >' within a nested template argument list` is from gcc and not our IntelliSense, but it appears our IntelliSense is not configured correctly when c++98 is used. The workaround is to use c++03.

[2020-03-30 19:21] ghuser404 commented on #5225
Yeah, this error is from gcc. With c++03 cpptools gives `space required between adjacent '>' delimiters of nested template argument lists ('>>' is the right shift operator)` - but you get the idea.

[2020-03-30 20:59] sean-mcmanus commented on #2268
@aosterthun Nothing has changed. We should work with the various VS Code remote extensions that create a remote extension instance (i.e. use file:// instead of ssh://).

[2020-03-30 21:09] sean-mcmanus commented on #5222
Our C/C++ extension doesn't implement any code lens features. What sort of Code Lens info were you looking for? We can use this issue to track that. A related VS issue is https://developercommunity.visualstudio.com/idea/914294/make-codelens-for-c-show-code-changes-and-other-hi.html .

Also, I believe the C++ IntelliSense extension is incompatible with our extension.

[2020-03-30 21:16] sean-mcmanus commented on #5227
Have you tried 0.27.0-insiders5 (or the soon to be released 0.27.0)? What about 0.26.3 (i.e. is this a regression)?

Do you mean one cpptools process is using 6 GB or do you mean cpptools-srv? Does your system run out of memory after reaching 6 GB, i.e. does it appear like cpptools is requesting > 6 GB and is running out of memory?

Does this repro before you open any files?

[2020-03-30 22:39] sean-mcmanus commented on #5228
Can you provide more repro details? It doesn't repro for me with a simple example:
[code]
![image](https://user-images.githubusercontent.com/19859882/77968571-86c8e980-729c-11ea-8778-66f14b6f56f1.png)

[2020-03-30 23:55] #4976 closed, assigned to nobody

[2020-03-30 23:56] #4994 closed, assigned to nobody

[2020-03-30 23:56] #4989 closed, assigned to Colengms

[2020-03-30 23:57] #4963 closed, assigned to Colengms

[2020-03-30 23:57] sean-mcmanus commented on #4961
Fixed with 0.27.0.

[2020-03-30 23:57] #4961 closed, assigned to Colengms

[2020-03-30 23:58] #4929 closed, assigned to Colengms

[2020-03-30 23:58] #4894 closed, assigned to nobody

[2020-03-31 00:00] sean-mcmanus commented on #3829
Fixed with 0.27.0.

[2020-03-31 00:00] #3829 closed, assigned to WardenGnaw

[2020-03-31 00:03] sean-mcmanus commented on #3787
@bobbrow Why was this issue marked fixed? I'm not aware of a fix. Has anyone tried the repro?

[2020-03-31 00:05] #1073 closed, assigned to nobody

[2020-03-31 00:05] #2887 closed, assigned to nobody

[2020-03-31 00:06] #3174 closed, assigned to Colengms

[2020-03-31 00:06] #3145 closed, assigned to nobody

[2020-03-31 00:07] #2968 closed, assigned to nobody

[2020-03-31 00:07] #3183 closed, assigned to nobody

[2020-03-31 00:08] #4711 closed, assigned to nobody

[2020-03-31 00:08] #2806 closed, assigned to Colengms

[2020-03-31 00:08] #2107 closed, assigned to nobody

[2020-03-31 00:09] #4717 closed, assigned to nobody

[2020-03-31 00:09] #1357 closed, assigned to nobody

[2020-03-31 00:09] #2821 closed, assigned to nobody

[2020-03-31 00:10] #4445 closed, assigned to nobody

[2020-03-31 00:10] #3285 closed, assigned to nobody

[2020-03-31 00:10] #4261 closed, assigned to nobody

[2020-03-31 00:11] #4597 closed, assigned to nobody

[2020-03-31 00:11] #4731 closed, assigned to nobody

[2020-03-31 00:11] #4712 closed, assigned to Colengms

[2020-03-31 00:11] #4889 closed, assigned to Colengms

[2020-03-31 00:11] #4682 closed, assigned to nobody

[2020-03-31 00:12] #2346 closed, assigned to nobody

[2020-03-31 00:12] #1768 closed, assigned to WardenGnaw

[2020-03-31 00:12] #4364 closed, assigned to nobody

[2020-03-31 00:12] #4539 closed, assigned to Colengms

[2020-03-31 01:13] sean-mcmanus commented on #5215
Fixed with 0.27.0.

[2020-03-31 01:25] jhaos opened #5230 "The IntelliSense put error in using namespace std and in double dots to std"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux Ubuntu 18.04.1
- VS Code Version: 1.43.2
- C/C++ Extension Version: 0.27.0
- Other extensions you installed (and if the issue persists after disabling them): No extension installed for c++ only this one.
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description o

[2020-03-31 01:31] sean-mcmanus commented on #5230
IntelliSense is parsing your ".c" file as C and not C++, which is "by design". You can add `"*.c": "cpp"` to your files.associations setting to make it parse as C++.

[2020-03-31 02:23] Power-tile opened #5232 "Grammer check error for min() function in c++"
Issue Type: <b>Bug</b>

I used the default min() function in my c++ program. However the grammar checker marked min() as an error and told me "identifier 'min' is undefined". My program can debug and run successfully even when the error exists. See screenshot below.

![image](https://user-images.githubusercontent.com/44731563/77980294-84689d00-7339-11ea-9fbd-78e7e81ba4cd.png)

For the installation

[2020-03-31 02:52] Saafo commented on #3829
Yeah, the 0.27.0 works well on 10.15.4.

Here's my configurations:

tasks.json
[code]

launch.json
[code]

However, now although I can uninstall the CodeLLDB extension, I can only debug using external console(Terminal.app). It seems there's no option as "IntegratedTerminal" so I can't use the integrated terminal to debug. When using single screen to debug, that would cause inconvenience. Hope you

[2020-03-31 06:09] Deshwal36 commented on #1546
Windows :

Please make sure if you have gdb.exe in your bin folder
C:\MinGW\bin\gdb.exe
if not then you can directly install the gdb.exe by following commands -
In command prompt browsed to C:\MinGW\bin and run : mingw-get.exe to install gdb

C:\MinGW\bin>mingw-get.exe install gdb

After that modify your path in three files in vs code
1. c_cpp_properties.json
"compilerPath": "C:/MinGW/bin/g++.exe"

[2020-03-31 07:24] spinicist commented on #3829
Thanks @sean-mcmanus! Looks good to me.

@Saafo To get the integrated terminal, set `"externalConsole": false`

[2020-03-31 09:48] thisptr-hub opened #5233 "[Feature Request] Support RunInTerminal Environment Variables"
After updating the extension to 0.27.0 I am unable to debug C++ any more. The debugging works fine in version 0.26.3. I get error: "During startup program exited with code 0xc0000135"
My guess is that the updated extension ignores the "environment" setting from launch.json, as update to the Path variable is no longer visible in the terminal command when I invoke the debugging session, it was visib

[2020-03-31 11:09] Mohammad-Yasser commented on #882
Almost 3 years old issue and still no fix. :(

[2020-03-31 11:18] Schuck84 commented on #5228
The problem is not easy to describe as the complete source code is checked out from a git repository and pointer which I would like to access is derived from other classes.
In a simple example I had no issues but this is more tricky. I try to reproduce it with a more descriptive example.

[2020-03-31 12:10] SantinoKeupp commented on #5227
I experience similar problems with version 0.27.0 on a gentoo machine. It looks like 0.26.3 is more stable.

[2020-03-31 13:41] nuaalyy commented on #5227
The memory is cost by the C/C++ extension, not other applications or processes or services, which is for sure. And version 0.26.3 has been tried, which also has the problem. Once the extension is disabled, everything goes well.  I will try the version 0.27, and update a snapshot of the task manager later. If any log is helpful please let me know.

[2020-03-31 14:12] onepick commented on #4638
I meet the same issue with running remote-ssh extension, when i disable C/C++ extension on server.  task can build

[2020-03-31 15:21] ghost commented on #3981
Any update on this issue? I have encountered the same problem.

[2020-03-31 16:14] ghost opened #5235 "GDB commands often fail with 'No symbol "someSymbol" in current context.'"
Type: Debugger

**Describe the bug**
- OS and Version: Debian 9
- VS Code Version: 1.43.2
- C/C++ Extension Version: 27.0
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is.

When debugging I find that when I first try to execute a gdb command with -exec, I get the error 'No symbol "someSymbol" in current con

[2020-03-31 16:24] davidwin commented on #5095
I used to run into this issue all the time with earlier release versions of VS Code, but since VS Code changed to showing the progress during save operations, the issue is now that save can suddenly start taking an unreasonably long time to complete.

I don't know if this is the same issue or a new one, but now on VS Code 1.43.2 and C++ 0.27.0, saving a single file can take 20 seconds. During this

[2020-03-31 16:32] jhaos commented on #5230
Sorry was a too late thanks for your help it is solved.

[2020-03-31 16:32] #5230 closed, assigned to nobody

[2020-03-31 16:49] #4839 closed, assigned to nobody

[2020-03-31 17:13] littlebirdxu commented on #1126
I also have encountered the same problem that is because of i work on a remote machine which is linux. But my local machine is a Mac-book. i use ssh for the communication. At last, i resolve this problem by install the extension: c/c++. Use the VISX from: [https://github.com/Microsoft/vscode-cpptools/releases](https://github.com/Microsoft/vscode-cpptools/releases), and choose the right linux versi

[2020-03-31 18:32] Tblade-hui commented on #4841
The same problem,  I have reinstalled vscode and extensions and before I reinstalled the extensions, I have deleted the extension files ,but it doesn't work. My extention version is c/c++0.27.0

[2020-03-31 18:39] sean-mcmanus commented on #5233
Sounds related to https://github.com/microsoft/MIEngine/issues/979 . Are you using an "envFile"? Do you see any errors when you view the Help->Toggle Developer Tools->Console?

[2020-03-31 18:49] sean-mcmanus commented on #5232
What min method are you trying to call? "std::min"? Have you added "#include <algorithm>" and a "using namespace std;"? It seems like "min" in the global namespace may not be part of the standard, so depending on what headers IntelliSense is picking up, it may not be defined. If you use Go to Def on "min" do you see a list of locations where the min may be defined? If you do C/C++: Log Diagnostics

[2020-03-31 18:58] sean-mcmanus commented on #5227
@nuaalyy cpptools-srv is part of our extension. Depending on how you're viewing C/C++ extension memory usage, cpptools and multiple cpptools-srv processes could be included in the memory usage count, so it's important for us to know what the per-process memory usage is. Most of our memory usage should be in those processes, but if you're seeing high memory usage in a Visual Studio Code process or

[2020-03-31 19:02] sean-mcmanus commented on #3981
@abitofmaya The issue where Go to Def returns multiple results is a symptom that can have many different causes/fixes. We need more specific repro details to be able to diagnose/fix the particular issue you are hitting.

[2020-03-31 19:07] sean-mcmanus opened #5236 "Saving a file can take 20 seconds"
I used to run into this issue all the time with earlier release versions of VS Code, but since VS Code changed to showing the progress during save operations, the issue is now that save can suddenly start taking an unreasonably long time to complete.

I don't know if this is the same issue or a new one, but now on VS Code 1.43.2 and C++ 0.27.0, saving a single file can take 20 seconds. During this

[2020-03-31 19:26] WardenGnaw commented on #5233
This issue was caused by the [fix](https://github.com/microsoft/MIEngine/pull/981) for https://github.com/microsoft/MIEngine/issues/979.

We were incorrectly setting the debuggees environment variables for the runInTerminal request, so now there is only the default environment variables set.

We will need to support runInTerminal Environmeet Variables

[2020-03-31 19:47] sean-mcmanus commented on #5236
@davidwin It sounds like you're using formatOnSave? Can you try just doing a format and seeing if that has the same 20 second delay? Formatting and saving is not expected to take a long time. It's possible our main thread could be blocked on some other operation. If you could attach a debugger to `/home/<user>/.vscode-server/extensions/ms-vscode.cpptools-0.27.0/bin/cpptools` to get a call stack wh

[2020-03-31 20:15] kjemeyer commented on #4364
Hi Bob,

I am using Fedora 30 and it looks like this change is causing issues for me.

"Unable to start the C/C++ language server. IntelliSense features will be disabled. Error: Missing binary at /home/kmeyer/.vscode/extensions/ms-vscode.cpptools-0.27.0/bin/cpptools"

When I go to that directory there is no cpptools file.
![image](https://user-images.githubusercontent.com/25483994/78070924-9878c28

[2020-03-31 20:24] sean-mcmanus commented on #4364
@kjemeyer Is your OS 32-bit or 64-bit? You used the normal online install path and not the manually installed vsix, right?

[2020-03-31 20:31] kjemeyer commented on #4364
My OS is 64 bit. I was able to resolve the issue by installing using vsix and giving cpptools and cpptools-srv executable permissions

[2020-03-31 20:31] kjemeyer commented on #4364
(chmod +x)

[2020-03-31 20:40] sean-mcmanus commented on #4364
@kjemeyer It's possible you encountered some random networking issue that caused a failure with our online download. Using the vsix should be a workaround, but it should not normally require changing executable permissions since our vsix is supposed to do that already (if not, that would be another bug). Normally, the online vsix should give
[code]
from using the download from https://go.microsoft

[2020-03-31 20:44] kjemeyer commented on #4364
Appreciate the quick response :) I will let you know if I encounter issues when I upgrade the extension next. Btw vscode is great!

[2020-03-31 21:12] kino-dome commented on #3610
Just wanted to let you know that I got the same issue with an update of cpptools on my linux machine. The update happened via VS Code itself and all of the sudden the error popped up. Had to do what @bobbrow mentioned [here](https://github.com/microsoft/vscode-cpptools/issues/3610#issuecomment-493143363) and all seems to be OK now.

[2020-04-01 01:26] nuaalyy commented on #5227
![memory_usage](https://user-images.githubusercontent.com/3361123/78089288-8e51d500-73f9-11ea-803a-ab989236d90c.png)
I tried the latest version, 0.27, same issue. When **Find All Reference** or **Go to Definition**, status of **cpptools-srv** switches to Running, and Memory grows up to even 8GB, and the system hangs. When the **cpptools-srv** process is killed, system goes back to normal. Wish to

[2020-04-01 02:09] sean-mcmanus commented on #5227
This is partly related to https://github.com/microsoft/vscode-cpptools/issues/4811 . We spawn up cpptools-srv processes based on the core count without checking the available memory. Both the 2.8 GB cpptools and the 6 GB cpptools-srv are unexpected. Are you aware of anything special about the TU you're compiling, such as using a large file or large libraries?

[2020-04-01 02:52] nuaalyy commented on #5227
I was just reviewing the codes, not compiling anything. Indeed, some large libraries is included the project sucn as BOOST, which may be an impact factor.

[2020-04-01 02:54] Saafo commented on #3829
@spinicist I've tried the `"externalConsole": false;`, however, the output printed in the `debug console` tab:
![image](https://user-images.githubusercontent.com/46736350/78094333-dfb49100-7406-11ea-9b05-6f5d7db02653.png)
and the `terminal` tab is like this:
![image](https://user-images.githubusercontent.com/46736350/78094388-070b5e00-7407-11ea-8af1-d0bd0c388f94.png)
I still can't use the integrat

[2020-04-01 06:59] ChihweiLHBird opened #5237 "Request Support Developer PowerShell for VS 2019"
Issue Type: <b>Feature Request</b>

VS Code and this Microsoft official C++ extension only support the Developer Command Prompt for VS 2019 for debugging with Microsoft C++ compiler. I would like to use it with Developer PowerShell for VS 2019. Is there any plan for that? Thanks.

Extension version: 0.27.0
VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.

[2020-04-01 07:13] DridriLaBastos opened #5238 "Nothing happens in debug mode"
Type: Debugger
When I go in debug mode, nothing happens, clicking on the command does nothing, I can't see my variables wether in the "variables" panel or the "watch" pannel, but the program stop at the breakpoint:
<img width="1552" alt="Capture d’écran 2020-04-01 à 06 16 43" src="https://user-images.githubusercontent.com/19534959/78107830-7593f000-73f6-11ea-976f-a8389451fc4e.png">

<img width="

[2020-04-01 07:51] WardenGnaw commented on #5238
Couple of questions:

1. What OS are you on and what version is it?

2. In your `launch.json` you have:
[code]

To investigate, can you share the logs from the debug console?

[2020-04-01 08:07] DridriLaBastos commented on #5238
macOS 10.15.4 with vscode 1.43.2, the extension version is 0.27.0 and clang is:
[code]

The log output is really, really huge, is there a way to redirect it to a file ?

[2020-04-01 08:17] WardenGnaw commented on #5238
You should be able to right click the window and there should be a `copy all` option. Then you can copy and save it to a file.

[2020-04-01 08:21] DridriLaBastos commented on #5238
macOS 10.15.4 with vscode 1.43.2, the extension version is 0.27.0 and clang is:
[code]
output:

[output.txt.zip](https://github.com/microsoft/vscode-cpptools/files/4413763/output.txt.zip)

[2020-04-01 09:45] davidwin commented on #5236
Yes, I have formatOnSave enabled, but the same delay also happens when I format, so it's not specifically related to saving. I also see a tendency of this getting worse the longer VS Code is open. Naturally, trying to debug `cpptools` caused a few crashes, and the delay went down to a few seconds. However, I managed to get a couple of stack traces from the main thread like this (I think the other

[2020-04-01 11:42] GaussianPrince commented on #5221
launch.json

{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "cppdbg",
            "request": "launch",
            "name": "debug",
            "program": "${workspaceFolder}/${fileBasenameNoExtension}",
            "args": [],
            "stopAtEntry": true,
            "externalConsole": true,
            "MIMode": "lldb",
            "cwd": "${workspaceFolder}"

[2020-04-01 11:43] GaussianPrince commented on #5221
tasks.json

{
    "version": "2.0.0",
    "tasks": [
        {
            "type": "shell",
            "label": "clang++ build active file",
            "command": "clang++",
            "args": [
                "-std=c++17",
                "-stdlib=libc++",
                "-g",
                "${file}",
                "-o",
                "${fileDirname}/${fileBasenameNoExtension}",

[2020-04-01 11:43] GaussianPrince commented on #5221
1.cpp

#include <iostream>
#include <vector>

using namespace std;

class Solution {
public:
    int longestValidParentheses(string s) {
        int i, j, maxans;
        vector<int> dp;

        dp.insert(dp.begin(), s.length(), 0);
        maxans = 0;
        for (i = 1; i < s.length(); i++) {
            if (s[i] == ')') {
                if (s[i - 1] == '(')
                    dp[i] = (i >= 2

[2020-04-01 11:45] GaussianPrince commented on #5221
<img width="1278" alt="shortcu" src="https://user-images.githubusercontent.com/24266538/78133626-59716c80-7451-11ea-89b4-68ac71b60cc8.png">

[2020-04-01 11:48] GaussianPrince commented on #5221
I remember being successful, but I don't know what's going on, I can't do it anymore

[2020-04-01 12:52] xvyvx commented on #5236
@sean-mcmanus  Same problem with me(using external clang-format with llvm tool chain), ~~[here] is the core dump while saving file~~(as you described, the full dump is not needed, although the dumped project is in a test public repository).
I will check the call stacks when I am free.

[2020-04-01 14:08] TherionIM commented on #1162
bump

[2020-04-01 17:26] penagos commented on #5235
I have also sporadically hit a similar bug when the variables pane is collapsed.

[2020-04-01 18:24] sean-mcmanus commented on #5237
What isn't supported? I'm able to launch VS Code from the Developer PowerShell and build/debug with cl.exe.

[2020-04-01 18:33] sean-mcmanus commented on #5236
@davidwin It sounds like something is blocking our main input thread, which is blocking the formatting. Before formatting, see if the CPU usage of cpptools is high. If so, are you able to wait till the CPU usage is not high? Is formatting fast after that? Does some action cause the CPU usage and delay to re-occur? If so, can you enable debug logging via C_Cpp.loggingLevel "Debug" and then see what

[2020-04-01 18:39] sean-mcmanus commented on #5236
@xvyvx We don't need a full core dump (it's possible a core dump could contain your source code so you probably shouldn't post it publically). Can you just provide the call stacks for threads that appear to be doing lots of work (typically with a deep call stack)?

[2020-04-01 20:02] soul4soul commented on #407
After a year of being annoyed I finally came to file this bug. I wasn't too surprised to see many beat me to it. I miss C/C++ code folding which I have come to love from VS.  I'm excited to see this has been moved to in progress. 🐱‍🏍

[2020-04-01 23:24] WardenGnaw commented on #5238
Looking at the logs, it seems like VS Code is not requesting the debugger for any variables. So it is not displaying anything.

We get a `scopes` request so we get the stack frames and we can show the call stack. We are ready to share variable information since we can see a bunch of variables available.
[code]

and they have values:
[code]

Can you open an issue on the [VS Code GitHub issues page

[2020-04-01 23:27] #4131 closed, assigned to Colengms

[2020-04-02 00:25] KaeLL commented on #407
Over 3 years later.... This feature alone is the only reason I use Eclipse for a component in my project that makes extensive usage of conditional compilation macros.

[2020-04-02 05:07] ChihweiLHBird commented on #5237
Oh I try it again, and it success. Issue closed.

[2020-04-02 05:07] #5237 closed, assigned to nobody

[2020-04-02 06:33] pirpyn commented on #2118
So am i.

[2020-04-02 09:57] cpizzagalli opened #5239 "Unkown source at breakpoint vscode remote ssh remote debug"
Type: Debugger

**Describe the bug**
- OS and Version: 16.04 LTS
- VS Code Version: 1.43.2
- C/C++ Extension Version: 0.27.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

- SSH attach connection works (OK)
- I set breakpoint and the process stop properly at the correct step BUT vscode show "unknown source"

[2020-04-02 10:38] PowerfulCat opened #5240 "My c++ code intelliSense falure"
Issue Type: <b>Bug</b>

我的 C++ 智能提示又失灵了，只能重启 vscode，可能是我的 C++ 代码包含关系比较复杂，具体原因不是很清楚。
希望 vscode 能增加智能提示失灵检测功能，如果在编辑时如果智能提示在指定时间没有出现，就自动重置一下，并且收集可能的原因。

My C++ intelliSense is not working again, and only to restart vscode, which may be that my C++ code contains a more complex header file relationship, for reasons that are not clear.
It is hoped that vscode will add intelliSense failure detection, if

[2020-04-02 10:44] gentooise commented on #5113
The problem is that the situation is not quite repeatable... include error squiggles _sometimes_ come back.

Also, even if I set `"C_Cpp.default.compilerPath": "",`, I still see this in the log:
[code]

Is it possible that the compilerPath is filled in by CMake Tools anyway? @sean-mcmanus

Anyway, it seems that no include reordering occurs now, both with and without compilerPath.
I'm not able to r

[2020-04-02 13:42] ShukantPal opened #5241 "Doesn't show documentation for typedef in a namespace"
**Type: LanguageService**

[code]

Hovering over `Move` doesn't show the documentation like moving over a method or class does.

[2020-04-02 13:45] Victsz opened #5242 "Cpp not found in compile_commands.json but in fact there is"
![image](https://user-images.githubusercontent.com/8154646/78256502-32876900-752b-11ea-8c4c-03cc737dd2ec.png)

Issue Type: <b>Bug</b>

{
  "directory": "/home/victor/ModelDev/dev.olympia/build",
  "command": "/usr/bin/g++  -DOlympia_EXPORTS -I/home/victor/ModelDev/dev.olympia/include/ModelLoader -I/home/victor/ModelDev/dev.olympia/include/ModelEnv -I/home/victor/ModelDev/dev.olympia/include/Logger

[2020-04-02 14:21] xvyvx commented on #5236
@sean-mcmanus Through the gdb's `thread apply all bt` command, there are many thread stacks(18 threads in my situation), may be the following is formatting related:
[code]
[code]

[2020-04-02 16:01] interpol-kun opened #5243 "Formatting on type (break before curly braces) is not working for C/C++/C# languages (possibly some others too)"
Issue Type: <b>Bug</b>

1. Open fresh VSC, in the settings check format on Type, on Paste and on Save.
2. Install official C/C++ or C# extension.
3. For C/C++, change the formatting to follow Visual Studio style (Clang_format_style).
4. Write any function with curly braces, for example.
5. The formatting won't apply. Hit CTRL+S and it will apply now. Here's [the example](https://streamable.com/bq0

[2020-04-02 16:03] interpol-kun commented on #5243
Let's see [where](https://github.com/microsoft/vscode/issues/94198) you will send me [this](https://github.com/OmniSharp/omnisharp-vscode/issues/3128#issue-458195400) time.

Will quote myself:

[2020-04-02 16:05] sslupsky commented on #5160
Here are a couple snap shots of the log diagnostics.  They were generated with all tabs closed except device.h.  I also reloaded with window.
The first log was taken shortly after the window was reloaded.
The second log was taken about 30 seconds later.
[code]

[2020-04-02 16:07] sslupsky commented on #5160
I think in this case, the compile_commands.json has an entry for "device.c", so it picked that up for the translation unit mapping.

[2020-04-02 16:09] sslupsky commented on #5160
Here is a copy of the entry in compile_commands.json:
[code]

[2020-04-02 16:37] bobbrow commented on #5160
And when you do the same exercise with the Configuration Provider set to CMake Tools, what do you get?

[2020-04-02 16:41] bobbrow commented on #5160
Just a note for @elahehrashedi, the original issue here is about the warning message, but we have been discussing additional issues related to this project which will likely need to be split out into another issue.

[2020-04-02 16:48] sslupsky commented on #5160
When I switched my configuration to use CMake Tools as the configuration provider, I saw this message displayed in the output window:
[code]
After reloading the window, I did not see this message.
Here is the log diagnostics:
[code]
So in this instance, it appears to have provided the configuration.  It appears to have picked a seemingly random translation unit mapping modem_iface_uart.c.  Maybe n

[2020-04-02 17:16] bobbrow commented on #5160
When a header file is included by multiple translation units and none of them are open in the editor, we have to guess one.  If you end up opening a source file in the editor (e.g. main.c), we will switch over to using that one.

The important question is whether you get correct IntelliSense or not in this case.  Do you?  The configurations are very similar but not exactly the same.  I'm just wond

[2020-04-02 17:37] sslupsky commented on #5160
Yes, it appears intellisense was linting the code properly in this instance.

I am still uncertain why CMake Tools was not providing a configuration for main.c?

I removed the default configuration from .code-workspace and switched the configuration for main.c to use CMake Tools as the configuration provider.  I reloaded the window.  I waited about 30 seconds, all the includes have squiggles.  The

[2020-04-02 17:47] DridriLaBastos commented on #5238
I opened this [issue](https://github.com/microsoft/vscode/issues/94311) on the [VS Code GitHub issues page](https://github.com/microsoft/vscode/issues)

[2020-04-02 17:52] sslupsky commented on #5160
I do not even know where it is getting that configuration above.  I do not have any defaults in the code-workspace and c-cpp-properties default specifies gcc with no includes or defines.  So, this must be some sort of system default provided by CMake Tools?

[2020-04-02 17:58] michelleangela commented on #5240
@PowerfulCat

Can you provide more info and clarify about what's not working with IntelliSense and also an English translation of

希望 vscode 能增加智能提示失灵检测功能，如果在编辑时如果智能提示在指定时间没有出现，就自动重置一下，并且收集可能的原因。

Instructions to change the language display of VS Code is at https://code.visualstudio.com/docs/getstarted/locales#_changing-the-display-language.

If there is an issue with IntelliSense features not wor

[2020-04-02 18:03] michelleangela commented on #5242
@Victsz

Can you provide the following logs to help see the resolved paths:

1. Logs from running the command `C/C++: Log Diagnostics`
2. Logs from the [language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)

[2020-04-02 18:12] sean-mcmanus commented on #5241
It's working for me. Can you provide more repro details?

![image](https://user-images.githubusercontent.com/19859882/78283496-b8c39100-74d2-11ea-8387-cb66d4548554.png)

[2020-04-02 18:17] ShukantPal commented on #5241
@sean-mcmanus

<img width="1680" alt="Screen Shot 2020-04-02 at 2 14 42 PM" src="https://user-images.githubusercontent.com/22450567/78283820-62fbe280-74ec-11ea-9c92-9fc96832bfe1.png">

Hi, I'm working on https://github.com/SurakartaArcade/libsurakarta. The screenshot is from `include/skmove.h`.

This is a non-exhaustive list of extensions on my system:
* CMake Tools
* C/C++
* ESLint
* Flow Support

[2020-04-02 19:02] sean-mcmanus commented on #5243
Our formatOnType support is very limited and only applies when ';' is used. We're tracking this with https://github.com/microsoft/vscode-cpptools/issues/1419 . Issue https://github.com/microsoft/vscode-cpptools/issues/657 may also address this.

[2020-04-02 19:02] #5243 closed, assigned to nobody

[2020-04-02 19:15] sean-mcmanus commented on #5242
I've reproed the bug. It appears to be caused by the "." in the folder path "dev.olympia".

[2020-04-02 19:25] sean-mcmanus commented on #5242
Oops, I was wrong -- my compileCommands path was wrong -- pointing to the wrong compile_commands.json file.

[2020-04-02 21:00] interpol-kun commented on #5243
The last activity for the issue was more than 2 years ago. How are you tracking that exactly? Looks like you've just swept that under the rug.

**Do you even have the better formatOnType support in development?** People are complaining, writing issues and asking questions all around Github, Reddit and other forums. Is it a common attitude to provide half-baked features or no native support at all

[2020-04-02 21:06] bobbrow commented on #5227
Is there an open source codebase we can clone to reproduce this error?  Unfortunately, there's not much we can do to solve this without some additional help.

[2020-04-02 21:13] bobbrow commented on #3787
@sean-mcmanus We misread the issue and thought it was about standard ssh.  This still needs to be investigated.

[2020-04-02 21:14] bobbrow commented on #3693
Is this still an issue?

[2020-04-02 21:19] bobbrow commented on #3686
We are currently unable to address this feature request since we are focusing on higher priority features and bugs right now.  We'll tag this for follow up in case it receives more interest from the community, but to keep our issue count manageable, we're closing this issue for now.

[2020-04-02 21:19] #3686 closed, assigned to nobody

[2020-04-02 21:22] bobbrow commented on #3673
This should be fixed in the latest version of the extension.

[2020-04-02 21:22] #3673 closed, assigned to nobody

[2020-04-02 21:25] bobbrow commented on #3670
We'll be looking at this as part of the code folding work.  Note this will address files located within the workspace. We don't get notifications for files outside the workspace.

[2020-04-02 21:26] ricardopera commented on #429
+1
Remote SSH + Jetson nano

[2020-04-02 21:26] bobbrow commented on #3663
This should work with Find All References now.

[2020-04-02 21:26] #3663 closed, assigned to nobody

[2020-04-02 21:33] bobbrow commented on #3616
Thank you for your feedback!  We do not plan to change the default value for this setting.  If we see more feedback/upvotes from the community, we can come back to this and reassess.

[2020-04-02 21:33] #3616 closed, assigned to nobody

[2020-04-02 21:34] #3604 closed, assigned to nobody

[2020-04-02 21:37] bobbrow commented on #3603
We didn't have enough information to investigate this. If you continue to see a problem here, please send us some repro steps to follow so we can investigate.  Thank you!

[2020-04-02 21:37] #3603 closed, assigned to nobody

[2020-04-02 21:46] bobbrow commented on #3588
The code in the original example looks to be invalid syntax.  I couldn't find a compiler on godbolt.org that successfully compiles it.

[2020-04-02 21:46] #3588 closed, assigned to nobody

[2020-04-02 21:50] bobbrow commented on #3588
And the original request to ignore errors for specific functions may be covered by #2395

[2020-04-02 21:55] bobbrow commented on #3552
We're using #664 to track the whole experience.  I'll update that issue to make it more clear.

[2020-04-02 21:55] #3552 closed, assigned to nobody

[2020-04-02 21:59] bobbrow commented on #3547
#2782 is tracking gnu standard modes.

[2020-04-02 21:59] #3547 closed, assigned to nobody

[2020-04-02 22:23] sean-mcmanus commented on #5113
Yes, CMake Tools will send us a compilerPath as part of the info we receive from them. You can see that data in the logging after "Custom configurations received".

[2020-04-02 22:29] sean-mcmanus commented on #5236
The exec_command stack shows that it's getting data from clang-format, so it appears to working as expected, i.e. it's not blocked by another thread. The other run_tag_parser thread is not actually doing work (it's blocked waiting for work). Are you sure you broke into the debugger when the CPU usage was high? These call stacks do not indicate CPU usage that would block formatting...unless we have

[2020-04-02 22:34] sean-mcmanus commented on #5160
Yes, CMake Tools will provide system info. You can see it in the logging via setting C_Cpp.loggingLevel to "Debug" and looking for "Custom configurations received:".

[2020-04-02 23:05] sean-mcmanus commented on #5243
Format on type improvements are not actively being developed, but https://github.com/microsoft/vscode-cpptools/issues/657 is set for Post-v1, which may bring in better format on type from Visual Studio.

You are correct that the formatting feature has not been a high priority for our extension (which has been focused on improving IntelliSense features) -- we actively track user feedback, such as f

[2020-04-02 23:08] sean-mcmanus commented on #3693
Yes, it still repros.

[2020-04-02 23:25] sean-mcmanus commented on #5241
Thanks for the info. I reproed it. The bug is triggered by the surrounding "namespace ". It appears to be an issue inherited from Visual Studio, so you can upvote https://developercommunity.visualstudio.com/content/problem/975899/c-intellisense-show-no-documentation-comment-for-t.html if you have a Microsoft account.

[2020-04-03 00:23] bobbrow commented on #5160
The configuration for main.c looks wrong and possibly isn't provided by CMake Tools.  Checking the logging as @sean-mcmanus mentions would remove all doubt.  If that's the case, then we move the investigation back over to CMake Tools.

[2020-04-03 00:43] CieroCeramics opened #5244 "debugger still thinks the project is still giving UNICODE errors after switching to utf-8"
Type: Debugger

The debugger is still giving me an error :  "message": "argument of type \"char *\" is incompatible with parameter of type \"wchar_t *\"",
this error is not processed by the build.
when I switch the project encoding to UNICODE the error DOES show up in the build log and the compile fails. as expected
however switching back to multibyte the build compiles the program correctly
 whil

[2020-04-03 01:17] Victsz commented on #5242
C/C++: Log Diagnostics
-------- Diagnostics - 4/3/2020, 9:17:00 AM
Version: 0.27.0
Current Configuration:
{
    "name": "Linux",
    "includePath": [
        "${workspaceFolder}/**",
        "/usr/include"
    ],
    "defines": [],
    "compilerPath": "/usr/bin/clang",
    "cStandard": "c11",
    "cppStandard": "c++17",
    "intelliSenseMode": "clang-x64",
    "compileCommands": "${workspaceFolder

[2020-04-03 02:03] Icedude907 opened #5245 "Debugger can't find source file to debug on windows."
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.43.2
- C/C++ Extension Version: 27.0
- Other extensions you installed (and if the issue persists after disabling them): CMake Tools, Beautify, Git History, CMake, JS Code Snippets, Markdown All in One, Open in Application, TODO Highlight, vscode-icons, x86/64 assembly, Zoom Bar, Excel Viewer. Disabling CMake Too

[2020-04-03 06:05] culyee opened #5246 "use LSP to send VisibleRanges from the client to server"
It seems that cpptools use `TextEditorVisibleRangesChangeEvent` to colorize a few dozen lines of one code file.
I have been developing a extension colorizing symbols, and I use `lsp` to send VisibleRanges from the client to server. When I  scroll down/up, it will send couples of VisibleRanges to server, but in fact, I just need the last range data that I stop at last.

My question: I wonder how cp

[2020-04-03 07:50] yisen-cai commented on #429
+1 Remote SSH + RPI4

[2020-04-03 11:00] guestieng opened #5247 "[Feature Request][cppvsdbg] Support Logpoints"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10..0.16299
- VS Code Version: 1.43.1
- C/C++ Extension Version: 0.27.0
- Other extensions you installed (and if the issue persists after disabling them): CMake Tools 1.3.1, CMake 0.0.17
- Compiler: MSVC
- **ISSUE**:
  Setting a Log Message for a breakpoint has no effect (logging is simply not happening) and hovering over the breakpoin

[2020-04-03 11:23] NoevilMe commented on #429
+1
Remote SSH + RPI3

[2020-04-03 11:27] spencerolsondke commented on #3249
Is there an update on this? I have the same problem, and as you said it seems to reset the console to clear a messge (due to the "Failed to set controlling terminal: Operation not permitted" bug mentioned in the source code) However it doesn't seem to unset the stop-on-solib-events to 0.

[2020-04-03 12:27] nixmeer commented on #882
This missing feature is the reason I prefer atom with the autocomplete-clang package. It is much more comfortable... but it's still atom -.-

[2020-04-03 12:45] xvyvx commented on #5236
The following screenshot is captured when saving file(this status last for 17-20 seconds)

![saveingpng](https://user-images.githubusercontent.com/8458990/78359527-cfa7d780-75e7-11ea-9679-735be8f87f82.png)

So, it's unusual, right ? And the thread stacks is almost the same as previous post.

[code]

[2020-04-03 13:22] cfriedt commented on #429
\o/
Azure Pipelines now support ARM64!

From my understanding, this was the largest roadblock to getting automated builds of VS Code and also of the vscode-cpptools plugin.

https://github.com/microsoft/azure-pipelines-agent/pull/2881

[2020-04-03 13:48] davidwin commented on #5236
@sean-mcmanus, sorry for not being able to provide more detail - I've been working in a different repo where saving/formatting works correctly (interestingly this is Remote SSH to native Linux, and not WSL). I'll try to get more stack dumps and observe CPU loads before I save if I run into the issue again (I think I will).
Unless I messed up, I got the same stack trace in Thread 1, after breaking

[2020-04-03 14:12] J-u-n-o commented on #5038
Personally I can live if I have to enter the values using a project setting/configuration. Or rely on the "C/C++ IntelliSense, debugging, and code browsing." extension. It also analyses the source files for coloring and jumping to definitions.
But probably this is already considered.

[2020-04-03 17:52] Colengms commented on #5246
Hi @culyee .  We use the current visible ranges to provide color information for semantic tokens because providing color information for the entire file did not result in acceptable performance for large files.  The ranges we received at any given time seem to completely describe what is visible, and we return color information for everything described by those ranges.  I'm not sure I understand w

[2020-04-03 18:12] bobbrow commented on #883
linking this to #657. We may do both of these together when we get the VS formatting engine integrated.

[2020-04-03 18:59] WardenGnaw commented on #5245
Can you enable logging and share the logs here?

You can do this by adding the following to your `launch.json`:
[code]

[2020-04-03 19:01] bobbrow commented on #2252
@Colengc can you take a look at this and reopen if appropriate?  There should be no difference between QT and the STL as far as extensionless headers go.  Perhaps the project is not configured to include the QT header paths?

[2020-04-03 19:30] manassingh2611 commented on #883
I have been using vim for a few months now and there is an amazing plugin called vim-clang-format which can be used on selected text in VISUAL mode. I was hoping for something just like that when I created an issue here

[2020-04-03 19:31] pieandcakes commented on #5247
@WardenGnaw Might be duplicate of #2591

[2020-04-03 22:45] sean-mcmanus commented on #5236
Yeah, those call stacks just show us waiting for the clang-format results -- I get the same call stack when I do a format on a super large file and then break into the debugger, but I don't know why it's taking 20 seconds for you. What version of clang-format are you using? The 9.0.1 one that we bundle?

[2020-04-04 00:32] WardenGnaw commented on #5247
It is a duplicate.

[2020-04-04 00:32] #5247 closed, assigned to nobody

[2020-04-04 00:36] sean-mcmanus commented on #5236
You could try setting the C_Cpp.formatting setting to "Disabled" and try doing formatting with another extension, such as the clang-format extension to see if the same issue occurs or not.

[2020-04-04 00:50] #5209 closed, assigned to nobody

[2020-04-04 02:26] xvyvx commented on #5236
@sean-mcmanus By reinstall `ms-vscode.cpptools` extension, this problem disappeared. No matter which clang-format is used(extension bundled or others), the problem cannot be reproduced.
If it occurs again, I will try as you described, thank you.

[2020-04-04 02:52] rainwangsd commented on #2050
Hi , I also saw mem leak issue for this cpp tools, below are the steps:
1) Use vs code open c/c++ project (a lot of code including Kernel, lib, etc)
2) after some time (maybe a few hours), then I saw the system is very slow and mem is used 25GB by the cop tools (my PC has 32GB memory).
Attached is the picture of htop for the process.

[2020-04-04 02:55] rainwangsd commented on #2050
[
![vs code cpptool mem leak issue - Rain Wang 2020](https://user-images.githubusercontent.com/49349644/78417239-0fb98b00-75e5-11ea-9ee5-fbe8519ef5e1.png)
](url)

[2020-04-04 02:58] rainwangsd commented on #2050
Could we reopen this ticket?  this issue is reproduced from the ubuntu system (18.04).

Thanks!
Rain

[2020-04-04 03:03] sean-mcmanus commented on #5236
Cool.

[2020-04-04 03:03] #5236 closed, assigned to nobody

[2020-04-04 04:25] lostgoat opened #5253 "[Bug] Natvis processing fails for templates with unsigned long parameters"
Type: Debugger

**Describe the bug**
- OS and Version: Manjaro 4/4/2020
- VS Code Version: 1.43.2
- C/C++ Extension Version: 0.27
- Other extensions you installed (and if the issue persists after disabling them):

A basic templated object is defined:
[code]

An associated natvis visualization is available:
[code]

Depending on the template parameters the natvis visualization may or may not work as

[2020-04-04 04:29] lostgoat commented on #5253
Engine log snippet:
[code]

[2020-04-04 05:00] Icedude907 commented on #5245
I'm not entirely sure what I should be giving you, but I captured this from the `Debug Console`
[test.log](https://github.com/microsoft/vscode-cpptools/files/4430776/test.log)
The error message in the bottom right that it spat out like in the photo above is the correct path, but it is for some reason considered with `C:` as the root, resulting in it searching at `C:\a\...` rather than `A:\...`
Edi

[2020-04-04 05:18] Icedude907 commented on #5245
Double oh, searching this part of the log file yielded this #257.
The little hack suggested by Knagis seems to do the trick for now.
I don't know if you want to add what was suggested over there as default behaviour on windows, but I guess this can be marked closed.

[2020-04-04 05:18] #5245 closed, assigned to nobody

[2020-04-04 07:23] F4FXL commented on #3433
Same here on debian sid running code-insiders. Setting cache to 0 does not help at all.

[2020-04-04 09:58] guestieng commented on #5247
Can this be made clearer?
What is the current state of this issue (for this particular configuration!)?
It looks like unexpected behaviour by now.

[2020-04-04 17:59] Rvadrabade commented on #4869
Thanks for investing time. Closing this issue.

[2020-04-04 17:59] #4869 closed, assigned to WardenGnaw

[2020-04-05 05:13] Kainichy opened #5254 "macOS Catalina fails to launch process in external terminal"
Type: Debugger

**Describe the bug**
- OS and Version: macOS Catalina 10.15.4
- VS Code Version: VSCode Insiders 1.44.0
- C/C++ Extension Version: 0.27.0
- Other extensions you installed (and if the issue persists after disabling them):
<img width="284" alt="image" src="https://user-images.githubusercontent.com/44992049/78467223-ef044900-773c-11ea-8cdd-b7de8f032c22.png">

**Bug behavior**
So I've

[2020-04-05 08:24] Tronic commented on #3172
Could you elaborate on how is this a convenience feature? I have VSCode and clang-format both set to use tabs, and yet every time I paste, the last level of surrounding code gets indented by spaces.

It would be *convenient* if clang-format followed VSCode indent setting without even requiring separate
indentation settings there.

[2020-04-05 10:18] cpizzagalli commented on #5239
ok guys I fixed.
compiled newer GDB version on RASP (from 4.6.1 to 7.11) and now works properly on breakpoint and VS code reconize code and stack variables

[2020-04-05 10:18] #5239 closed, assigned to nobody

[2020-04-05 15:55] RogFedex opened #5255 "vscode c c intellisense identifier undefined but can resolve definition"
Issue Type: <b>Bug</b>

source code files are covered in red. However, f12 works on red and not sure why we have so many red underscored macros, function calls and variables

Extension version: 0.27.0
VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2020-04-05 19:16] Sukhrobjon commented on #3829
I am having the same issue as @Saafo, cant use my debugger

[2020-04-05 23:19] dannymcgee commented on #5222
I would personally like to see some parity between this extension and the C# and TypeScript extensions in terms of CodeLens (i.e. mainly to show reference counts for class members) — however, this extension is already quite slow in large projects like Unreal projects, so I fear at this stage adding more complexity may just bog things down even further.

[2020-04-06 02:00] WardenGnaw commented on #5254
Can you add the following to your `launch.json` configuration?

[code]

And share the logs from the debug console?

[2020-04-06 05:22] austriancoder commented on #1503
Me too.

[2020-04-06 11:02] Jimbo99 commented on #4102
Agreed - There are many places to set up file filters it seems and I've not yet found a straightforward guide to how it should be configured for optimising the finding of references. In my case I have a small C project comprising 20 or so source files plus compiler library. I only want to find references in my source files. When I do a Find All References it says searching 225 files. I've tried va

[2020-04-06 11:55] minida28 commented on #5032
I cannot uninstall it because other extensions depend on it..

![image](https://user-images.githubusercontent.com/3026584/78555537-746c2400-7837-11ea-8a91-cb2613a60cf4.png)

My Visual Code version:
Version: 1.43.2 (user setup)
Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
Date: 2020-03-24T07:38:38.248Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_

[2020-04-06 12:37] guestieng commented on #2591
Can the current state of this issue be made clearer?
I am referring to unexpected behaviour described in https://github.com/microsoft/vscode-cpptools/issues/5247#issue-593299303,
 i.e. still facing the problem of erroneous, respectively missing, logging functionality with Visual C++ debugger (MSVC, cppvsdbg !).
So is there any solution/workaround for this problem already?
(as I understand, the deb

[2020-04-06 13:30] minida28 commented on #5032
I solved it by:
1. Deleting the extension folder as advised above.
2. Reinstall the extension.

[2020-04-06 18:31] sean-mcmanus commented on #5255
The red is from IntelliSense parsing and it probably means your settings are not properly configured. F12 can work without IntelliSense parsing. If you run C/C++: Log Diagnostics you can see what include paths, defines, etc. are being used.

[2020-04-06 18:42] sagmua opened #5256 "GDB not working on OSX Mojave"
Type: Debugger

I am trying to use GDB in VScode for Mac OSX. I have installed a functional version of GDB (version 9.1. It works when I use it directly on the terminal) but I am not able to configure VScode to run debugger with GDB instead of LLDB.

Then when I start the debugger the following error appears:
[code]

**Environement**
- OS and Version: Mac OSX Mojave 10.14.6
- VS Code Version: 1.43

[2020-04-06 18:56] abmantis commented on #1575
I can also confirm that the isystem paths in compile_commands.json do not take into account the --sysroot param.

[2020-04-06 19:27] #5032 closed, assigned to nobody

[2020-04-06 20:41] WardenGnaw commented on #5256
Can you add the following to your `launch.json`?

[code]

And share the output from the debug console?

[2020-04-06 21:52] sean-mcmanus commented on #2050
@rainwangsd Did you see https://github.com/microsoft/vscode-cpptools/issues/2050#issuecomment-392877493 ?

Whether or not this issue remains open or closed, we need more repro info in order to figure out a cause/fix. If you can try to isolate what is special about your project/scenario that is causing the issue, that could help (i.e. certain files that trigger it?). The cpptools process does not n

[2020-04-06 21:57] sean-mcmanus commented on #3433
@F4FXL You're seeing our extension not using CPU, but the OS becomes slow? I don't think we've ever gotten a repro of this.

[2020-04-06 22:04] sean-mcmanus commented on #3172
@Tronic I'm not able to repro this issue, although I used
[code]

If someone can provide a specific code example that might help.

[2020-04-06 22:12] sean-mcmanus commented on #4102
@Jimbo99 Are you seeing the message for "searching" or "confirming"? You can see all the files in the "Other References" section. Using files.exclude should work, but it'll affect other systems, which may not be desiried (i.e. go to def won't find results in those files).

[2020-04-06 22:14] sean-mcmanus commented on #5032
Let us know if anyone figures out a good way to repro this issue so we could figure out a way to prevent it from happening.

[2020-04-06 23:20] michelleangela opened #5257 "Make parsing of /usr/local/include smarter on Linux"
Repro steps:
1. Install gcc compiler and either arm or aarch64 gcc compilers
2. Create a c++ IntelliSense configuration that queries an arm or aarch64 compiler. That is set compilerPath to arm compiler.
3. Observe that all includes under /user/local/include folder will get tag parsed.

Better behavior:
Only tag parse includes related to the compiler path.

[2020-04-06 23:25] michelleangela opened #5258 "Set IntelliSenseMode to specific ARM mode if compilerPath query result is ARM"
Set IntelliSenseMode to specific ARM mode if there are ARM specific defines from compiler query. This is in case the incorrect IntelliSenseMode was set and compilerPath indicates that the target architecture to simulate is ARM specific.

[2020-04-06 23:29] michelleangela opened #5259 "Provide better logging during setup of querying compilerPath"
Purpose:
To better inform users of setting up IntelliSense and provide them with more information so that issues with IntelliSense setup involving the compilerPath can be better root caused.

Suggestion to show the following:
1. display compiler args that are used to query the compiler
2. display results of compiler query
3. if query failed, display detailed query of where it could have failed.
4.

[2020-04-06 23:30] sean-mcmanus commented on #5257
I don't understand -- /usr/local/include is obtained via compiler querying and should be parsed if source files reference headers there.

[2020-04-06 23:36] sean-mcmanus commented on #5258
We also don't correct x86 versus x64 mode from compiler querying results.

[2020-04-07 01:56] #5240 closed, assigned to nobody

[2020-04-07 07:22] Jimbo99 commented on #4102
Hi Sean. Thanks for the reply. I tried the same project again this morning and now Find All References is working pretty much instantly. (So I wasn't able to check if it showed "searching" or "confirming" as that box no longer appears.) Perhaps it needed a restart to invoke the exclude list. It's a game changer when it works that fast, really is. Appreciate your hard work, Sean.

[2020-04-07 10:33] mundodisco8 opened #5261 "Issue with includes when they are defined by preprocessor macros"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1909, 18363.752
- VS Code Version: 1.43.2 user setup
- C/C++ Extension Version: 0.27.0
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- When I use the preprocessor to define a header to include, and th

[2020-04-07 10:39] alejnp commented on #4995
Hello, any update on this feature? I know this request may be a bit of a niche, so I'd like to collaborate on my free time if possible.

Any pointers as to where to look? Does "c_cpp_properties.json" inherit from anywhere else? An example properties file with configuration would be as follows:

[code]

Doing so, les me choose which configuration to choose on the fly.
![image](https://user-images.g

[2020-04-07 12:06] sagmua commented on #5256
Sure, this is the output from the debut console:
[code]

[2020-04-07 13:44] mguc commented on #807
Is there any progress on this issue? I'm working with openocd (0.10.0) and GNU gdb (GNU Tools for Arm Embedded Processors 9-2019-q4-major) and I'm having the same problem with vscode 1.43.2.

[2020-04-07 14:19] Kainichy commented on #5254
OK, after I debug my program, the debug console output is:
[code]
Thanks for your reply.

[2020-04-07 15:59] RonaldinhoL commented on #5226
in my case both "environment" and "envFile" not working .

[2020-04-07 16:13] Smit-tay commented on #5226
*only* environment is fixed in the latest version of the extension. (Version 0.27.0: March 30, 2020)

Apparently, somehow "envFIle" is handled significantly differently than  "environment" (go figure).

[2020-04-07 16:17] wschin commented on #4133
I have the same problem still.

[2020-04-07 19:32] kiko-g opened #5262 "Struct sigaction (signal.h) and DT_REG/DT_DIR/DT_LNK (dirent.h) not recognized by C/C++ extension"
**Type: LanguageService**

**Describe the bug**
- OS and Version: **Ubuntu 19.04** (Plasma KDE)
- VS Code Version: **1.43.2**
- C/C++ Extension Version: **0.27.0**
- Other extensions you installed (and if the issue persists after disabling them):

![image](https://user-images.githubusercontent.com/40745490/78697030-1b17f980-78f8-11ea-9e8e-d85da0b7b686.png)

- Does this issue involve using SSH remo