[2017-05-24 16:41] UR3IQO commented on #756
@bobbrow there were several .c and .h files opened in the editor.

[2017-05-24 17:14] sean-mcmanus commented on #766
See https://github.com/Microsoft/vscode-cpptools/issues/206 . The last I heard, the debugger team doesn't plan to implement this.

[2017-05-24 17:14] #766 closed, assigned to nobody

[2017-05-24 17:28] bobbrow commented on #756
@sov1178 I have seen that error in the log sometimes on the VS Code Insider build, but it doesn't appear to be related.  I don't see it on the regular VS Code build.  Both versions of the editor generally work for me.

If you have time, you could help us debug this by attaching to the extension process when it launches.  [This blog post has instructions](https://bugslasher.net/2011/03/26/how-to-de

[2017-05-24 17:33] yh-sb commented on #206
So, could you please add a disassembler viewer in dubug view. It will be so helpful for C/C++ developers.
It should not take long time to implement this.

Below placed examples how this view looks like:

![disassembler_1](https://habrastorage.org/web/92b/9a6/773/92b9a677387b4b009538d745fabb3118.png)

![disassembler_2](https://habrastorage.org/web/a0a/406/2d9/a0a4062d938143949fe7f7029cf6020d.png)

[2017-05-24 20:38] evanglasgow commented on #740
I was having this issue and solved it by adding this to my includePath: `/usr/lib/gcc/x86_64-linux-gnu/5.4.0/include`

[2017-05-24 21:16] cameronfarvin commented on #762
So today I'm experiencing this same issue anew. I tried re-selecting my platform as I mentioned above ^, and all of my libraries/headers/dependencies are correctly given paths in the c_cpp_properties.json. The issue seems to be primarily with the openGL functions, though I have included the correct directory and listed the contents of that directory for you in the terminal (see screenshot 2).

![s

[2017-05-24 21:27] mianyuwang commented on #735
Yeah, my mistake. Now I am getting logs, but it seems it doesn't contain too many useful information about the error, all about path split.

[2017-05-24 21:35] sean-mcmanus commented on #735
Do you see the sshfs path in the logs? It logs the directories that are traversed.

[2017-05-24 21:41] bobbrow commented on #735
level 9 might be too verbose.  level 7 should filter out a bunch of regex logging.

[2017-05-24 21:49] sean-mcmanus commented on #762
@cfarvin I would remove the / at the end of the includePath. The recommended way to track down errorSquiggle problems is to try to locate the first "cannot find include path" that occurs in a translation unit (using Peek Definition can help if the required include can be found recursively from the browse.path includes). It likely that one of the #include files requires an additional include path.

[2017-05-24 22:03] cameronfarvin commented on #762
@sean-mcmanus Thanks for the advice. I did try that, but no cigar. I'll disable it for now and look forward to the next release.

Alternatively... is there a way that I can get involved to help? I believe this project is open source, though I have not had the pleasure of contributing to a project before.

[2017-05-24 23:10] lukegravitt opened #769 "Opening large CPP project causes computer to hang"
Since most recent update 0.11.1 (happened with 0.11.2 also), my computer is completely unusable until the extension completes whatever work it is doing. I'm using on OSX.

[2017-05-24 23:10] pieandcakes commented on #768
@YinglinJiang [This](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/PipeTransport.md) documentation should be able to help you get started using SSH to talk to `gdb` remotely.

[2017-05-24 23:15] pieandcakes commented on #763
@gojimmypi Can you either remove the `target remote` call or the `miDebuggerServerAddress`? I think its trying to do it twice and the second is causing gdb to terminate the program which hasn't started running yet, causing the crash.

[2017-05-24 23:15] sean-mcmanus commented on #769
Is the problem too much CPU usage? What processes are using CPU and how many processes are there? Can you kill them? Is your intelliSenseEngine setting set to "Tag Parser"? How many cores does your machine have? We aren't able to repro any problem on Mac. How large is your project? How large is your .browse.vc.db file (you can change the databaseFilename property to ${workspaceRoot}/.vscode/.brows

[2017-05-24 23:20] lukegravitt commented on #769
It's possible this was just caused by the update from 0.11.1 to 0.11.2. I was able to confirm after the update to 0.11.2 that it was the CPP extension pegging the CPU in Activity Monitor. I was not able to confirm that on the earlier update (but it occurred as I opened the same folder).

Once the process completed, my computer went back to normal. I observed 2 vscode CPP processes in Activity Moni

[2017-05-24 23:23] sean-mcmanus commented on #769
The only change in 0.11.2 was changing the default intelliSenseEngine setting from "Default" to "Tag Parser", and that setting should only affects errorSquiggles and hover.

It is "by design" for the Microsoft.VSCode.CPP.Extension.darwin to use 100% CPU on one core. It needs to do a directory search. You can reduce this via removing items from your browse.path and/or setting the addWorkspaceRootTo

[2017-05-25 00:25] gojimmypi commented on #763
@pieandcakes thanks - I appreciate your response. That suggestion helped quite a bit (I probably would have never guessed that on my own) but there's still some sort of problem. I commented out the miDebuggerServerAddress line and the most serious exception error went away. However, debugging in VSCode is still not working. Close, but not there. Perhaps I only need to know the value for `TargetArc

[2017-05-25 00:35] pieandcakes commented on #763
@gojimmypi Yea,xtensa is not a supported architecture from our point of view. This is what we support:
https://github.com/Microsoft/MIEngine/blob/release-cpptools/src/MICore/LaunchOptions.cs#L1519
If you don't specify it, can you provide a log? I think the architecture error might not be the problem.

Also, we use `gdb`'s MI interpreter. you can try it from the command line and pass the same comma

[2017-05-25 00:40] lukegravitt commented on #769
I tried opening/closing vscode, disabling/enabling the extension and wasn't seeing it anymore. I'll reopen with more info if I see it again with any consistency.

[2017-05-25 00:40] #769 closed, assigned to nobody

[2017-05-25 02:29] zinechant commented on #605
@sean-mcmanus.  Hi. I am running Ubuntu 16.04 and ran into the same situation.
uname -a: Linux 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VSCode:1.12.2
![image](https://cloud.githubusercontent.com/assets/7436105/26433392/0e5155ea-40c8-11e7-9cbe-7a2c0fccc38f.png)

[2017-05-25 03:54] zhengxiaoyao0716 commented on #741
@bobbrow I've got the 0.11.2 update, thks .

[2017-05-25 04:31] xchen-cs opened #770 "Mac framework include support in the new IntelliSense engine"
I've encountered a problem on Mac for OpenGL, F12 works.
But it marks both the header files and symbols.
![untitled](https://cloud.githubusercontent.com/assets/1148756/26389306/ee09ee8c-408b-11e7-9dfd-bc0f77a00d15.jpeg)
![untitled1](https://cloud.githubusercontent.com/assets/1148756/26389307/ee1acec8-408b-11e7-8cc8-735e8d07abc6.jpeg)
I guess it may due to the use of frameworks on Mac, and I've tri

[2017-05-25 04:34] xchen-cs commented on #743
@bobbrow, thanks! I've open a new one here #770.

[2017-05-25 08:44] portwaypoint commented on #764
@sean-mcmanus Adding ${workspaceRoot} seems to have done the trick for me, thanks for pointing that out. Still a little confused as to why it only started to fail to pickup the includes after upgrading to 0.11.1 (co-incidence perhaps).

However, extra vote for downgrade option, as at least that would allow us to eliminate whether it is the plugin or user error.

[2017-05-25 09:49] UR3IQO commented on #756
Debugger output on process start:
[code]
and on process stop:
[code]

Updated extension to 0.11.2 - it seems it works now. But as far as I understand in "Tag Parser" mode (there is no Microsoft.VSCode.CPP.IntelliSense.Msvc.exe process).

[2017-05-25 12:11] aengusjiang commented on #768
Great!!!
 Thank a lot.

[2017-05-25 13:18] Cesaar commented on #764
@bobbrow , I regenerated the file, but it is identical to the one I had.

Meanwhile, I've updated both versions ov Visual Studio Code, Linux and Windows, with the 0.11.2 patch.
On Linux, everything is fine now.

On windows I'm still seeing the issue.
When you say my includePath looks incomplete, what is missing hten?

Andreas

[2017-05-25 14:07] mianyuwang commented on #735
Not sure if 0.11.2 fixed the issue, but I do observe some issue on my original sshfs mount, it contains too many headers, 158832, I can ls one or a few files using wildcard, but a full ls also timed out sshfs and caused device unmounted, probably sshfs limitation. After I switched to a smaller sshfs mount, it works for me now. Thanks a lot! VSCODE and this extension are awesome.

[2017-05-25 14:52] ZZYSonny opened #771 "Bug with the head file bits/stdc++.h"
When I use the header file bits/stdc++.h, cpptools always tells me that it should be added to include path
However, I have already include the directory where stdc++.h is and also the directory where files included in stdc++.h are. And they cause the intellisense engine go wrong.
It seems that when it is in cpptools, it is looking for a header file called "bits\stdc++.h" ,which is not allowed in w

[2017-05-25 15:20] ZZYSonny commented on #771
I found a way to deal with this problem. We have to modify files in MinGW
Copy
C:/Program Files/MinGW64/lib/gcc/x86_64-w64-mingw32/6.3.0/include/c++/x86_64-w64-mingw32/bits/stdc++.h
to
C:/Program Files/MinGW64/lib/gcc/x86_64-w64-mingw32/6.3.0/include/c++/bits

And finally don't forget to add
C:/Program Files/MinGW64/lib/gcc/x86_64-w64-mingw32/6.3.0/include/c++
and
C:/Program Files/MinGW64/lib/gcc/

[2017-05-25 15:45] bobbrow commented on #756
Correct.  If this crash is related to the new IntelliSense engine (and it sounds like it is), you would need to set `"C_Cpp.intelliSenseEngine": "Default"` in your settings.json for 0.11.2 to get the crash to happen again.

Did you happen to grab a copy of the callstack when this line happened, or was this just the initial breakpoint?

[2017-05-25 15:55] bobbrow commented on #735
0.11.2 only reverted the default intelliSenseEngine, so this was likely fixed by switching to a smaller mount.

[2017-05-25 15:55] bobbrow commented on #764
Your include path does not include a path to any of the STL headers.  Usually this comes from Visual Studio when you are on Windows, e.g:
`C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/include/*`
or
`C:/Program Files (x86)/Microsoft Visual Studio/2017/Enterprise/VC/Tools/MSVC/14.10.25017/include/*`

Do you have any version of Visual Studio installed?  The extension currently detects the C

[2017-05-25 15:58] bobbrow commented on #771
You shouldn't need to make a copy of the file.  Just add `C:/Program Files/MinGW64/lib/gcc/x86_64-w64-mingw32/6.3.0/include/c++/x86_64-w64-mingw32` to your includePath.

Adding the "bits" folder should not be needed.  Any header in the CRT that needs to include a header from that folder will include it as \<bits/foo.h\>.

[2017-05-25 16:12] UR3IQO commented on #756
set it to Default and tried again with 0.11.2 version - got the same output.

Yes, that was just an initial breakpoint.

I do not know if it will help, but I find that IntelliSens works partially (when I type it provides suggestions, BTW, the project is in plain C, not CPP):
![vscode1](https://cloud.githubusercontent.com/assets/25171239/26459085/fb1c4988-417d-11e7-8f09-f8e57f908b31.gif)

[2017-05-25 16:23] bobbrow commented on #756
The tooltip is provided by the new IntelliSense process which is not being launched for you, so you just get "Loading".  I need to improve the logging in this section of the code so that it can give us some more information as to why the process is failing to launch.

The completion suggestions are still provided by the Tag Parser, which is in-proc.

Thank you for being willing to help me debug th

[2017-05-25 16:58] gojimmypi opened #772 "Feature request: support for xtensa architecture for ESP32 and ESP8266"
@pieandcakes  - Per the comment in issue #763 - I'd like to add a feature request to have remote gdb working for the xtensa architecture in VSCode, please.  :)

[2017-05-25 17:02] Cesaar commented on #764
OK, now it's all working fine.
I did have an installation of Visual Studio 2012, so that fixed my problem.

Thanks for all the help!

[2017-05-25 17:06] gojimmypi commented on #763
@pieandcakes oh, that's a bummer. I've added extensa as a feature request in issue #772 :)

As for the log: I first confirmed command-line gdb working properly... then exit from that & try to F5 in VSCode. Here's the full log, first what happens in openocd:

[code]
and the full debug log in VSCode (sorry it is so long, but ya - this whole log just from F5)
[code]
It looks at first like it might be

[2017-05-25 17:14] bobbrow commented on #764
Glad to hear that worked for you.

@portwaypoint, there is no downgrade option, but we [included a way to revert back to the previous behavior](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/FAQ.md#why-do-i-have-red-underlines-everywhere-after-updating-to-the-latest-version) if you are unsatisfied with the new IntelliSense.

In any case, since it seems many u

[2017-05-25 17:14] #764 closed, assigned to nobody

[2017-05-25 17:57] pieandcakes commented on #763
@gojimmypi your issue is here:
[code]

Like I mentioned in my previous message, we use gdb in [MI interpreter mode](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI.html). This is required to remotely control gdb. The error looks like an issue in the gdb version you are using. Can you try updating it? if you locate the commands that start with `<-` those are the MI Commands we send to gdb and

[2017-05-25 18:11] pieandcakes commented on #772
@gojimmypi @dymo I left comments in #763 on what the issue looks like. It lies in the version of `gdb` and it having issues in MI interpreter mode which is the remote controlling interface we use with gdb. This isn't a cpptools extension or a VS Code problem.

[2017-05-25 18:13] #768 closed, assigned to pieandcakes

[2017-05-25 19:53] gojimmypi commented on #763
The gdb I am using is the latest from [http://esp-idf.readthedocs.io/en/latest/get-started/linux-setup.html](http://esp-idf.readthedocs.io/en/latest/get-started/linux-setup.html) more specifically: [https://dl.espressif.com/dl/xtensa-esp32-elf-linux64-1.22.0-61-gab8375a-5.2.0.tar.gz](https://dl.espressif.com/dl/xtensa-esp32-elf-linux64-1.22.0-61-gab8375a-5.2.0.tar.gz)

@igrr @espressif is one of t

[2017-05-25 20:27] pieandcakes commented on #763
The MI Layer provides a different command route within gdb than n, and they then convert the response back to an MI response. I'm guessing they have a bug in the code, which we have seen in different versions. Unfortunately since I work on the debugger team at Microsoft, I can't look at or contribute to the gdb source code base. Someone will need to debug this scenario and figure out what is wrong

[2017-05-25 21:44] gojimmypi commented on #763
@pieandcakes OK! I have this working, even if a little wonky. I think the problem is some sort of state synchronization between VSCode and GDB. VSCode thinks GDB is in initially in break mode, when it is not.  I was also incorrect about the Olimex needing reset; pressing the EN button on the ESP32 seems to resolve the "weird state" noted above.

Your suggestion of trying the MI commands manually w

[2017-05-25 22:40] ruipacheco commented on #744
Seems to have worked.

[2017-05-25 22:40] #744 closed, assigned to nobody

[2017-05-26 03:10] wsw0108 opened #773 "substitution: ${env.XXX} not supported in c_cpp_properties.json"
Not like in [tasks.json](https://code.visualstudio.com/docs/editor/tasks#_variable-substitution)

[2017-05-26 04:03] mikedld opened #774 "Microsoft.VSCode.CPP.Extension.linux doesn't always terminate on quit/reload"
After some time, with VSCode restarts and reloads along the way, I could notice orphan Microsoft.VSCode.CPP.Extension.linux processes running on my machine. Marked with yellow on the screenshot here:

![screenshot from 2017-05-26 06-55-09](https://cloud.githubusercontent.com/assets/298203/26480051/4d06146a-41e0-11e7-8d94-bd28cbfe23a5.png)

Generally I could reproduce by starting the VSCode, waitin

[2017-05-26 05:07] therealkenc opened #775 "squigglies on boost::promise"
For the likes of me I can't get cpptools to recognize `boost::promise`. This is on Win32, 1.13-insider, cpptools 0.11.2. `c_cpp_properties.json` seems to be okay. The boost header files are recognized -- there are no squigglies on the `#include`s. Other boost stuff, say `boost::thread` is recognized. The exact same setup magically works fine in Visual Studio; heck I have them both up simultaneousl

[2017-05-26 05:39] therealkenc commented on #775
I deleted everything in `...AppData/Roaming/Code*` and reinstalled VSCode + cpptools from scratch, and all seems well. Wonder why/how it could find `boost::thread` but not `boost::future` though. If it failed on both that would make sense. I didn't change anything in the project directory (`c_cpp_properties.json` or otherwise). Shrug, no biggie. Closing.

[2017-05-26 05:39] #775 closed, assigned to nobody

[2017-05-26 09:07] spursy opened #776 ""xxxxxx/a.cpp" is misssing or in valid."
after I create a new a.cpp and configure for C++ demo project.
Press F5, VSCode display "Unable to start debugging. Program path xxxxxxx\a.cpp" is misssing or in valid.

My a.cpp file is like the followed:
`#include <iostream>
using namespace std;

int main() {
    cout<<"Hello World!"<<endl;
}`

[2017-05-26 15:25] sean-mcmanus commented on #773
`${ENV}` is supported with includePath and browse.path. Is that okay, or did you want the `${env.ENV}` syntax to work or for environment variables to work on other properties.

[2017-05-26 15:54] sean-mcmanus commented on #775
Is your IntelliSenseEngine setting set to Default or "Tag Parser"? It needs to be "Default" to get squiggles to appear at all.

[2017-05-26 16:05] wsw0108 commented on #773
## Environment
os: Windows 10
vscode version: 1.12.2
extension version: 0.11.2

## Case
file a.cpp:
[code]
c_cpp_properties.json
[code]

## Result
- `Go To Definition` works fine just now when cursor on line `#include <jni.h>`
- But there was a red line under source line with tip says 'cannot open source file "jni.h"'

[2017-05-26 16:07] roblourens opened #777 "error n warning not working"
_From @aKEERTHICPD15 on May 25, 2017 16:48_

- VSCode Version: 1.12.1 n 1.13.0-INSIDER
- OS Version:WINDOWS 8 64 BIT

Steps to Reproduce:

1.no error is showing in C program even i made a mistake
2. its not showning output

_Copied from original issue: Microsoft/vscode#27282_

[2017-05-26 16:08] roblourens commented on #777
Have you installed the C++ extension?

[2017-05-26 16:08] roblourens commented on #777
_From @aKEERTHICPD15 on May 26, 2017 8:3_

yes i have c++ , c# extension

[2017-05-26 16:08] roblourens commented on #777
_From @aKEERTHICPD15 on May 26, 2017 8:20_

![12121](https://cloud.githubusercontent.com/assets/17075732/26486776/3852c3da-421a-11e7-89f2-32ace88505e8.JPG)

[2017-05-26 16:08] wsw0108 commented on #773
If replace `${env.JAVA_HOME}` with absolute path like `"C:/Program Files/Java/jdk1.8.0_77`, red line gone.

[2017-05-26 16:09] sean-mcmanus commented on #773
Can you try `${JAVA_HOME}?`

[2017-05-26 16:11] sean-mcmanus commented on #777
@aKEERTHICPD15 We changed the default IntelliSenseEngine setting back to "Tag Parser" in 0.11.2. You need to change the setting to "Default" to get errorSquiggles to work.

[2017-05-26 16:13] bobbrow commented on #777
My guess is that you have not opened a folder for your workspace.  We do not enable linting underlines for single file edits because there is a high chance that the includePath will not be correct.

@sean-mcmanus, this screenshot is from the Insider build, which should have intelliSenseEngine set to "Default" by default.

[2017-05-26 16:15] sean-mcmanus commented on #777
@bobbrow Ah, yeah, you're right.

[2017-05-26 16:41] sean-mcmanus commented on #774
I've seen this before, but I don't have a repro yet. It's expected that the process will linger for a few seconds as it finishes up some of it's processing, but not be permanently stuck.

[2017-05-26 17:12] mikedld commented on #774
For me, using Reload Window command produces an orphan Microsoft.VSCode.CPP.Extension.linux process with a single child Microsoft.VSCode.CPP.IntelliSense.Msvc.linux, latter being in zombie state which means that it has already terminated but parent process most probably didn't retrieve its status yet. Attaching with GDB to the parent process I'm able to get the following backtraces (which is alway

[2017-05-26 20:03] zajo commented on #755
Updated to 0.11.2, the Problems window still gets flooded with "errors" which the compiler does not report. I haven't tried setting up the include directories for intellisense but just setting error squiggles to disabled still does not work.

Meanwhile, if anyone wants intellisense completely disabled I found a solution which works for me using cpptools-0.11.2:

~~1. In the extensions/ms-vscode.cp

[2017-05-26 20:14] zajo opened #778 "Problems window displays error information out of order"
In C++, some diagnostic messages are not independent but clarify other errors. For example the error message "animation.cpp:35:5: error: no matching function for call to 'get_float_track'" is followed by the clarifying note: "animation.h:18:8: note: candidate function not viable: no known conversion from 'bool' to 'const float *' for 9th argument".

Unfortunately the Problems window is organized b

[2017-05-26 20:34] rei-vilo commented on #742
I've modified `c_cpp_properties.json` to define different configurations with tool-chains and SDK instead of the OSes.

[code]

I need to get the `"name"` field so the main makefile can switch to the appropriate secondary one. Similarly, I’d like to add other fields and read them from the main makefile.

[2017-05-26 20:39] bobbrow commented on #755
A note to anyone reading this issue.  Do not rename the intellisense provider binary as stated in step 1. above.  All you need to do to turn off squiggles is set C_Cpp.intelliSenseEngine to "Tag Parser".  You don't need to restart VS Code either.

[We document this here](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/FAQ.md#why-do-i-have-red-underlines-everyw

[2017-05-26 22:52] zajo commented on #755
@bobbrow I spoke too soon, I *still* get the Problems window flooded with bogus errors. Occasionally it gets turned off, so the errorSquiggles setting does have "some" effect but then later it resumes the squiggles and flooding the Problems with "errors".

I guess there is no way to fix this problem until Microsoft provides an option to turn it all off.

[2017-05-26 22:55] sean-mcmanus commented on #755
If you have the Tag Parser set you should only get the "Include file not found in include path" warning (there is no way to turn off that squiggle, but it should be fixable via setting the browse.path).

[2017-05-26 23:38] bobbrow commented on #755
Can you give us an example of the errors you're seeing?  Are you saying that what you did in your step 2 above didn't work for you?  Setting the IntelliSense engine to Tag Parser gives you the same behavior that we've published for months.  What other extensions do you have installed?

[2017-05-26 23:42] therealkenc commented on #775
Set as "Default". The problem was that I was **getting** squiggles on `boost::promise<int>`, even though the code is valid. For some reason it was not picking up `promise` from `<boost/thread/future.hpp>` (where it is defined). Squigglies were working correctly otherwise, even on `boost::thread`, which is defined in `<boost/thread.hpp>`. Which is to say, the include paths were set up correctly.

T

[2017-05-26 23:55] bobbrow commented on #775
I tried out your sample code and BOOST_NO_EXCEPTIONS is getting defined somewhere, so all of future.hpp is in an inactive preprocessor block.  I'm looking to see where it is getting defined.

[2017-05-27 00:03] bobbrow commented on #775
Adding "_CPPUNWIND=1" to the "defines" array in your c_cpp_properties.json fixes the issue on Win32.  We can get this added to the default set of defines (e.g. msvc.64.intel.json) to make IntelliSense for Boost work better by default.  I imagine most users are going to want exception support.

[2017-05-27 00:12] therealkenc commented on #775
Thank you. I have the following below in my `c_cpp_properties.json`. But note I added those **before** the reinstall, and **do not** have `_CPPUNWIND=1` presently. And yet it works. Maybe those `BOOST_THREAD_` defines are picking up `_CPPUNWIND=1` somehow (I haven't checked). I just wanted to clarify for you that it is in fact working here now. I'll add `_CPPUNWIND=1` as well just to be safe (if s

[2017-05-27 00:28] therealkenc commented on #775
One more data point, which might help explain this, since you were kind enough to follow up. In my Visual Studio 2017 project, I am using the new "Folder" feature and `cmake`. My `CMakeLists.txt` sets the `/EHsc` flag on the `cl.exe` compiler. So over there `_CPPUNWIND=1` is getting defined automagically. But with `cpptools`, you have no idea I have done that in my `CMakeLists.txt`. Which is nonob

[2017-05-27 01:14] zajo commented on #755
@sean-mcmanus "If you have the Tag Parser set you should only get the "Include file not found in include path" warning (there is no way to turn off that squiggle, but it should be fixable via setting the browse.path)." Sean, thank you so much for this note! It explains what's going on.

Can we please have an option to completely disable intellisense and _all_ "errors" it finds, even "missing" incl

[2017-05-27 11:30] yh-sb opened #779 ""There are too many errors for the IntelliSense engine" message with GCC arm-none-eabi includes"
I use **GCC arm-none-eabi** toolchain in my projects. So in my source code I have a lot of inculudes like this:
[code]
Without inculde path to these files in **c_cpp_properties.json** I get error like this:
[code]

But if I add these include paths into the **c_cpp_properties.json**, I get the next error in analyzed file:
[code]

![](https://habrastorage.org/web/a75/2dd/26d/a752dd26de5d42bc8affff06

[2017-05-27 11:59] cubercsl opened #780 "a problem of code formatting"
`queue<pair<int, int> > q;`may formatted to`queue<pair<int, int>> q;`

[2017-05-27 15:13] kumiao opened #781 "Include file not found in include path with Cygwin"
![01](https://cloud.githubusercontent.com/assets/16172180/26522366/d20e8cd0-4331-11e7-911e-eb796cfdc2dc.png)
![02](https://cloud.githubusercontent.com/assets/16172180/26522369/d72576b6-4331-11e7-8c2e-5ff0e0a5d636.png)

I have added include path ，but it not working！

[2017-05-27 15:22] szabolcsdombi commented on #781
why is the `"path": []` empty on line 48?

[2017-05-27 15:36] kumiao commented on #781
thank you very match , my mistake ,  i did not see this

[2017-05-27 15:36] #781 closed, assigned to nobody

[2017-05-27 16:21] dpwegener commented on #286
Sorry for the delay in responding.  I was running version 0.11.1.  This morning I noticed that there was an update to 0.11.2.  After installing the update, I'm not seeing the issue.  Ctrl Hovers are working just fine.  It appears that what ever was causing the issue has been fixed in the latest release.

[2017-05-28 00:46] wsw0108 commented on #773
`${JAVA_HOME}` has no problem.
Maybe the document need update.

[2017-05-28 12:26] jpcofr commented on #286
I have this issue with vscode Version 1.12.2 (1.12.2) on macOS 10.12.5.
The tools installed on this machine are:

[code]

[code]
[code]

[2017-05-28 18:54] csholmq commented on #661
@bobbrow I just tried with 0.11.2 with no luck. Restarted VSCode and even flushed `%appdata%\Code - Insiders\User\workspaceStorage`.

What fix were you referring to?

[2017-05-28 20:25] Pylsur opened #782 "Windows 10: cpptools dont't find include file"
Hello,
I'm trying to use VS Code and cpptools for programming C. So I tried a simple hello-world-program.
![vs code hello world](https://cloud.githubusercontent.com/assets/6266992/26531848/8f17f56c-43f2-11e7-9e12-e769a2e2d1f0.png)

I use gcc in MSYS2 / MinGW64. I added the include path in c_cpp_properties.json.
![c_cpp_properties json](https://cloud.githubusercontent.com/assets/6266992/26531877/53

[2017-05-29 03:41] bobbrow commented on #775
Thanks.  Sorry for the confusion.  CMake support is on our backlog, but not implemented yet.

[2017-05-29 07:54] therealkenc commented on #775
Maybe it would make sense (and I hope I am not talking out of my butt here) to allow flags that would otherwise be defined in `msvc.64.intel.json` to be passed though from `c_cpp_properties.json`. Adding seamless support for `cmake` would be awesome, simply because that is what I use, but maybe someone is using another meta-build system like Google's `gn`, and you can't please everyone. So for exa

[2017-05-29 09:01] yh-sb opened #783 "Adding the Clang analysis (clang ... --analyze) capabilities"
Hi, I some times ago I had used SublimeText to work with C/C++ projects. To simplify my workflow I wrote extension which analyzed my opened files. It work pretty intellectually, see example below:

![](https://habrastorage.org/web/9d2/8e8/b11/9d28e8b11611408a9a9202988d98c9c9.png)

https://github.com/r44083/clang-linter

Now I have completely migrated to the VSCode and I was disappointed by the lac

[2017-05-29 18:37] doggkruse commented on #286
In my case it seems to be doing a stat on the same ~10 files over and over and over

`sudo fs_usage`

A sample:
`11:36:28.067748  getattrlist                            /Users                                                                                                    0.000002   Microsoft.VSCode.CP.3676773
11:36:28.067749  getattrlist                            /Users/geoff

[2017-05-30 03:12] bearx3f opened #784 "Intellisense struct member suggestion is wrong."
I know cpptools don't parse it's own file declared, so I declare 2 struct in main.h and use it in main.c but Intellisense suggested all struct member I declared in `main.h` only struct member of variable maybe more useful.

main.h
[code]

![image](https://cloud.githubusercontent.com/assets/9717561/26566769/f9559960-451f-11e7-8028-3f2f9a34da41.png)

vscode:
![image](https://cloud.githubusercontent.

[2017-05-30 03:24] Dzlua commented on #732
@pieandcakes
1、 chromium源码调试的时候，只是图标错误
2、肯定是跨线程了
3、其他项目貌似没有出现，可能是我自己的问题，但没精力查看更改。
4、我有截图，但是不知道如何上传在这里
Bing translator gives:
1, Chromium source debugging, just the icon error
2, it must be a cross thread.
3, other projects appear to have not appeared, may be my own problems, but not the energy to see the changes.
4, I have screenshots, but do not know how to upload here

[2017-05-30 15:28] bobbrow commented on #755
Why would you want to turn off missing include errors?  Our extension does not provide much help for you if it can't find symbols for the types you are working with.  And if you don't receive some sort of notification from the extension you will start to think it is broken when it is unable to find any symbols.

[2017-05-30 15:32] sean-mcmanus commented on #780
You can add the clang-format option "SpacesInAngles: true" to get `queue< pair< int, int > > a;`, but that's the closest that is supported. The end `> >` is no longer recommended after C++11, because `>>` is supported in templates now.

[2017-05-30 15:32] #780 closed, assigned to nobody

[2017-05-30 15:47] sean-mcmanus commented on #773
The docs are from the VS Code team. Our extension supports the different syntax...maybe we should change it to use the ${env.} syntax instead to avoid confusion and conflict with other special variables like ${workspaceRoot}.

[2017-05-30 16:12] zajo commented on #755
I do not have missing includes, my code compiles. The reason I need the extension at all is for the debugger integration, which works flawlessly. The option I am asking for is to be able to disable intellisense without disabling the entire extension, which gets rid of the debugger as well.

[2017-05-30 16:16] sean-mcmanus commented on #782
The message "Include file not found in include path" is from a missing "browse.path" setting, so setting browse.path should fix the issue. Previously, that setting was named "includePath" -- we should probably enhance that comment to be less confusing.

[2017-05-30 16:22] bobbrow opened #785 "Add option to turn off language server features"
Some users of the extension may only wish to use the debugger features and don't want to be bothered with any error notifications from the language server.

moving request out of closed issue #755

[2017-05-30 16:23] bobbrow commented on #755
That makes sense.  I created a new issue to track your request.  #785

[2017-05-30 16:34] bobbrow commented on #783
Have you tried our linter?  Add `"C_Cpp.intelliSenseEngine": "Default"` to your settings.json file.

We're not ruling out the possibility of supporting Clang as a linter at some future date, but it's not in our current roadmap.  Our extension is not open source due to license restrictions in some of the code we use, so unfortunately there is no way for us to integrate any pull requests at this tim

[2017-05-30 16:40] sean-mcmanus commented on #784
This is a known issue. We're working on adding enhanced auto-complete (via the IntelliSense engine) that should fix this scenario. https://github.com/Microsoft/vscode-cpptools/issues/13 .

[2017-05-30 16:40] #784 closed, assigned to nobody

[2017-05-30 19:12] Frikki commented on #765
For others, who may find this issue relevant, your version could be different, e.g., `/usr/include/x86_64-linux-gnu/c++/4.8`. Simply check with `ls /usr/include/x86_64-linux-gnu/c++/`.

[2017-05-30 19:54] sean-mcmanus commented on #778
This is a VS Code issue. See https://github.com/Microsoft/vscode/issues/18685 .

[2017-05-30 19:54] #778 closed, assigned to nobody

[2017-05-30 20:39] pieandcakes commented on #763
This is tied to us issuing `-break-insert main` because we need to configure the environment. We set an initial breakpoint which is tied to the following response:
[code]
We are getting a SIGTRAP which we interpret to an exception that has stopped the process. Unfortunately at that point we think you are in code execution and you stop, so the `setup` portion is already done and adding another setu

[2017-05-30 21:39] sean-mcmanus commented on #779
Seems like the same issue as https://github.com/Microsoft/vscode-cpptools/issues/661. Our IntelliSense engine doesn't support ARM compilation targets yet. You should probably change the IntelliSenseEngine to "Tag Parser" until we add ARM support.

[2017-05-31 00:07] bobbrow commented on #770
You can make this work by editing the msvc.64.darwin.json file in `~/.vscode/extensions/ms-vscode.cpptools-<version>/bin`.

Add `"--framework_include_directory=/System/Library/Frameworks"` to the "defaults" array.  We'll add it by default in a future update.

[2017-05-31 00:08] bobbrow commented on #770
And BTW, sorry for the delay.  I thought I had posted a comment on this last week, but apparently I didn't click the button. :(

[2017-05-31 04:16] atavern1 opened #786 ""C_Cpp.intelliSenseEngine": "Default" not working as expected"
I'm getting red squiggles indicating that a number of identifiers are undefined. I'm working from a Ubuntu machine and I've set up a c_cpp_properties.json as below (I removed the Mac and Windows config objects for brevity):

[code]

I've also set up a user-setting override of "C_Cpp.intelliSenseEngine" to "Default". It seems that this is the way to enable experimental semantic autocomplete after d

[2017-05-31 08:54] aengusjiang opened #787 "Can't set breakpoint when remote debugging by ssh"
- VSCode Version: Code 1.12.2 (19222cdc84ce72202478ba1cec5cb557b71163de, 2017-05-10T13:20:36.315Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|cpptools|ms-vscode|0.11.2|

Issue description:
 My program named test is local Centos7 run at Vmware on Windows.
 Then open the code project by vscode on windows and begin to debugging the program :
case one:
       t

[2017-05-31 08:58] aengusjiang commented on #787
here the example code:
[test.tar.gz](https://github.com/Microsoft/vscode-cpptools/files/1040788/test.tar.gz)

[2017-05-31 10:07] dirkseidel opened #788 "Definitions unknown after restart of VS Code"
After a restart of VS Code, definitions are still shown when hovering over the code with the mouse but pressing F12 results in definition now found error. Only after the plugin has finished the reparsing of the source files the functionality is available again.

We are working on a remote directory mounted via sshfs, so we have to have to close and restart VS Code every day. It is annoying to have

[2017-05-31 13:16] yh-sb commented on #787
I faced with this issue too.
In my case I couldn't set brakepoint on the `asm("nop");`

I still have not found a solution to this situation :(

[2017-05-31 13:23] Pylsur commented on #782
Thank you, that fixed it for me. I agree that the comment should be improved.

[2017-05-31 13:23] #782 closed, assigned to nobody

[2017-05-31 14:35] Hypnoes opened #789 "VScode can't hit bps."
I'm using the last version of vscode and cpp-tools.
Here is my launch.json:
[code]
While I start debugger,  the program just run to exit, ignore all breakpoints. When I set `stopAtEntry=true`, it can stop at first, and go exit whatever when I try `step in`, `step out`, `step over`.

OS is windows10 1703 and gdb running on WSL Ubuntu 16.04. the gdb version is 7.11.1.

[2017-05-31 14:59] Hypnoes commented on #789
Here is the debug console.
[code]
So it do hit that breakpoint. But what's the meaning of this if it just go through without show any info of variables and environments....

[2017-05-31 15:15] Hypnoes commented on #789
OK, I find the solution by myself. I recompile the code with flag "-g".  And it solved. HaHa.

[2017-05-31 15:15] #789 closed, assigned to nobody

[2017-05-31 15:59] sean-mcmanus commented on #786
Setting IntelliSenseEngine to Default does not yet enable semantic autocomplete (we're working on adding that next)...it just does errorSquiggles and hover now. The includePath setting is non-recursive, unlike the browse.path setting, which is. If you search through the #includes until you find the 1st missing file, that will tell you what file is really missing (we're in the process of adding thi

[2017-05-31 16:15] sean-mcmanus commented on #788
Yeah, we save the info in a database file, so ideally you shouldn't have to wait, so we should investigate why this is occurring. I've seen several seconds delay, but not 20-30 min. We do a file scan for new files, and parsing should only occur for new files. The browse.path is recursive and implicitly adds ${workspaceRoot} (unlike includePath), so that could cause duplicate scanning to occur if y

[2017-05-31 18:20] DemiMarie commented on #783
@bobbrow Are you talking about the EDG C++ front end?

[2017-05-31 18:25] sean-mcmanus commented on #762
@cfarvin The next 0.11.3 update probably won't resolve your issue, but 0.11.4 might. Our extension is not open source, but the C/C++ syntax highlighter is open source at https://github.com/atom/language-c/issues if you see any bugs you're interested in fixing there (I remember seeing a bunch of issues, and we don't have the bandwidth to fix them). You could also help test and get repros for bugs a

[2017-05-31 18:28] bobbrow commented on #783
Yes, we use the EDG C++ front end.

[2017-06-01 05:50] vscpp commented on #785
@bobbrow, actually, I really want to disable debugger feature of cpp extension. VS code should be a code editor rather than debugger. We have more professional IDE or debug tool. I wonder that why a code editor adding a debugger function. Till now, the intelliSense is not full functionality.

[2017-06-01 08:44] dirkseidel commented on #788
Where exactly do I have to be careful? I just have one open folder which of course should be scanned recursively.
Is there anything I can provide to help fixing the bug?

[2017-06-01 09:45] trevordixon opened #790 "Request: support formatting with git-clang-format"
I'd like the option to use [git-clang-format](https://github.com/llvm-mirror/clang/blob/master/tools/clang-format/git-clang-format) for formatting. git-clang-format will only format code that has been modified instead of the whole file.

Specifying `C_Cpp.clang_format_path` won't work because clang-format takes its input from stdin and outputs to stdout, while git-clang-format takes a file path as

[2017-06-01 10:03] xchen-cs commented on #770
According to your method, it indeed works quite well, thanks Bob!

[2017-06-01 10:26] yh-sb opened #791 "How to completely disable intelliSense linting?"
I need to disable all linting (or error output to the "PROBLEMS" view) and autocomplete. I want to use only "go/pick to definition/declaration" function.
At this moment I have these settings, which related to cpptools extension:
[code]

**But I still get "Include file not found in include path." errors in "PROBLEMS" view.**

![](https://habrastorage.org/web/0e3/7dc/aa9/0e37dcaa9c624de69f241ebea983

[2017-06-01 10:51] spinicist commented on #762
Hi - I was having similar problems with lots of squiggles. I have resorted to going back to the Tag Parser for the time being. I use the ITK library (https://github.com/InsightSoftwareConsortium/ITK), which has an ungodly number of include paths. Adding them all individually to ```includePath``` isn't feasible, so I need a recursive parser.

Unless there's some way to tie in with the excellent CMa

[2017-06-01 15:40] bobbrow commented on #785
The debugger feature doesn't get in the way of the editor for you, does it?  There's really nothing to disable if you don't try to use it.  The language server features, on the other hand, will consume CPU and memory resources by simply opening a file.

[2017-06-01 15:48] bobbrow commented on #770
Thanks for confirming.  I'll put this in the next update.

[2017-06-01 15:53] bobbrow commented on #791
We don't have an option to turn off linting for include paths.  The extension won't work as you expect if include files cannot be opened so we need to let you know somehow that the the symbols defined in those files won't be available to you for goto/peek definition/declaration.

[2017-06-01 17:02] sean-mcmanus commented on #788
You should be careful not to add duplicate entries to the browse.path. `${workspaceRoot}` is added to the browse.path internally, so it shouldn't be added again, nor any child paths of it, unless you change the addWorkspaceRootToIncludePath to false. You could help to fix the bug by providing a repro folder, such as with an open source project. Also, what OS are you on? I'm not able to repro a 20-

[2017-06-01 17:17] sean-mcmanus commented on #790
Thanks for letting us know about git-clang-format. We have a backlog of higher priority features/bugs to work on, so we may not be able to get to this for a while. You or someone else could provide a new VS Code extension for git-clang-format support, and set our C_Cpp.formatting to "Disabled". However, the VS Code formatting model requires that we send VS Code an array of text edits back, so if g

[2017-06-01 17:38] sean-mcmanus commented on #762
@spinicist Have you tried the CMake Tools Helper extension by maddouri? It claims to bridge the gap between the C/C++ and CMake Tools extension by doing exactly what you're asking for. https://marketplace.visualstudio.com/items?itemName=maddouri.cmake-tools-helper

[2017-06-01 18:59] pieandcakes commented on #787
@r44083 @AbelaroJiang Can either of you post your `launch.json` ? The above picture doesn't show you attached or launched, so my assumption is that it is having a problem communicating with the other machine.

[2017-06-01 19:01] pieandcakes commented on #776
@spursy It looks like you have a `*.cpp` file instead of an executable in your program field. Please compile your program with the symbols (`-g` when using g++) and then set the output of your compilation in the program path.

[2017-06-01 19:03] pieandcakes commented on #777
Also, your file needs to have a `.cpp` extension which your screenshot doesn't show.

[2017-06-01 19:05] pieandcakes commented on #785
@vscpp Can you explain what you mean by:

What specifically do you want disabled? Like @bobbrow mentioned, unless you configure for debugging, the debug extension doesn't do any work at all.

[2017-06-01 19:55] bobbrow commented on #728
We put out a fix for the default include paths in 0.11.3.  It was working in 0.11.0, but unfortunately regressed in 0.11.1 right when we turned on the new IntelliSense engine for everyone.

Please let us know if that works for you.

[2017-06-01 19:55] #728 closed, assigned to nobody

[2017-06-01 20:03] AlanRosenthal opened #792 ""Unable to start debugging. Launch options string provided by the project system is invalid. The type initializer for 'System.Xml.Serialization.XmlSerializationReader' threw an exception" when debugging"
- VSCode Version: Code - Insiders 1.13.0-insider (64d532ccb681ddbef0039db1effa2949f1993214, 2017-06-01T05:39:58.303Z)
- OS Version: Linux x64 4.8.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.2|
|gitlens|eamodio|3.5.1|
|cpptools|ms-vscode|0.11.3|;

---

﻿`
messageService.ts:125 Unable to start debugging. Launch options string provided by the proje

[2017-06-01 20:07] bobbrow commented on #777
@pieandcakes the language is set to C in the status bar at the bottom.

@aKEERTHICPD15, can you confirm whether you have opened a folder for your workspace or not?  I will close this issue based on my earlier guess as this behavior is expected.  Please reopen if my guess is incorrect.

[2017-06-01 20:07] #777 closed, assigned to nobody

[2017-06-01 20:16] spinicist commented on #762
@sean-mcmanus No, I haven't. Will have to try it. I've been so impressed by @vector-of-bool's extension that I hadn't looked for any others. Thanks!

EDIT: It's known to not handle the ```all``` target, which is what I most often use. Even selecting another target still results in a ```null``` configuration, so doesn't work for me right now. Oh well, was worth a try.

[2017-06-01 20:28] AlanRosenthal commented on #792
Confirmed this happens on 0.11.3 but not 0.11.2

[2017-06-01 21:52] AlanRosenthal commented on #792
Clone: https://github.com/Microsoft/vscode/issues/27875

[2017-06-02 01:59] aengusjiang commented on #787
Ok, I will provide more info to help you make sense of this problem.
![image](https://cloud.githubusercontent.com/assets/22406984/26707617/aaf00dc2-4778-11e7-8a7d-6e04b2f8ff3a.png)

Here my launch.json
`{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Remote Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "./build/bin/t

[2017-06-02 02:38] aengusjiang commented on #787
Step5: You can test it now.
Case one set the breakpoint before launch or attach(work).
Case two set the breakpoint after launch or attach(not work).

Note:
My Local machine: OS Version: Windows_NT ia32 10.0.15063
My Remote machine: Centos7.2

[2017-06-02 02:38] pieandcakes commented on #787
@AbelaroJiang Your issue is that you didn't compile with symbols. I added the cmake flag -DCMAKE_BUILD_TYPE=Debug to the command line call for CMake and then I can set breakpoints and debug.  Please make sure you are compiling with symbols. if you call `g++` from the command line and pass the `-g` flag, its the same thing.

[2017-06-02 02:39] pieandcakes commented on #787
@AbelaroJiang The reason why you can set it before you start debugging is that the UI (VSCode) allows you to with out sending anything to the debugger. It then sends it when you start debugging but it will fail to bind because symbols aren't loaded. This is why when you launch or attach, it isn't showing as bound.

[2017-06-02 02:46] pieandcakes commented on #792
@AlanRosenthal Is this with Launch or attach? If you try stable with your project does it happen? I tried the scenario with my hello world app on Ubuntu 16-04 with Insiders and 0.11.3 and debugging works fine.

[2017-06-02 03:14] aengusjiang commented on #787
Oh, no.
I follow you advise. But the result is same as before.
I try debugging on the the Centos Os mathie, It 's ok.
I do some change about the test code.
1.Add the local attach or launch on linux.
`{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Local Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceRoot}/

[2017-06-02 05:05] vscpp commented on #785
@bobbrow, @pieandcakes, I using VS code for C coding, searching and reading, and I debug my code by other tools. It means vs code is a source editor like Source Insight. I hope CPP extension have more function like Source Insight.
But currently, seems MSFT take more effort on Debugger feature, not basic code editor improving. If you use VS code for C coding that you will find there is a big gap wi

[2017-06-02 05:10] aengusjiang commented on #787
can you receive my last comment?

[2017-06-02 06:43] ghost opened #793 "Remote debugging in VSCode Ubuntu 17.04 exits unexpectedly with error 255"
I'm debugging a multi-threaded application running on CentOS 6.9 with GDB 7.2-92 from Ubuntu 17.04. The application only spawns two threads and when breaking in the second thread VSCode does not go to the break point though the output shows that the application has been interrupted. The call stack window shows there are two threads but when I want to expand them the loader spins until the gdb sess

[2017-06-02 07:06] dirkseidel commented on #788
I have not given any additional paths to the source, so that should not be the problem. Unfortunately, we are not open source. Anything else I could do?
OS: Mac

[2017-06-02 07:33] yh-sb commented on #791
But in my case I don't setup include paths for cpptools and "go/pick to definition/declaration" works very well despite the fact that the .h files are in different folders in the project.

So, **"go/pick to definition/declaration" works well without include paths**, should be option to disable these annoying and senseless error messages about the include paths?

**Note:** the problem is related on

[2017-06-02 09:29] sandy081 opened #794 "The type initializer for 'System.Xml.Serialization.XmlSerializationReader' threw an exception. when debugging."
From @liencouer - https://github.com/Microsoft/vscode/issues/27875

- VSCode Version:
Version 1.12.2
Commit 19222cdc84ce72202478ba1cec5cb557b71163de
Date 2017-05-10T13:16:25.899Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0

- OS Version: Linux x64 4.8.0-53-generic

Steps to Reproduce:

When starting to debug, get the following error message.

Unable to start debugging. Launch options string provi

[2017-06-02 11:36] amigo421 opened #795 "includePath is empty"
I remember there was a discussion to fill up this value with standard paths to C++ headers
at the moment of c_cpp_properties.json creating time.
so the problem is

1. just opened the project and see that standard headers are red.
2. create properties json via lamp icon and got this
[code]
I remember the autogenerating the paths to c++ and sdk headers works now for windows.
but seems it doesn't for

[2017-06-02 12:31] aengusjiang commented on #787
Could you tell me what Os that you test it on?

I test it in the same way on Ubuntu16.04. It is ok when I set the CMAKE_BUILD_TYPE=Debug.
but it is not work on Centos7.2.

[2017-06-02 13:39] trybik commented on #658
I fourth that.. had to go back to Eclipse to generate some of them docs

[2017-06-02 15:08] bobbrow commented on #795
It gave you "null" for the configuration name?  I haven't seen this before.  Something is definitely wrong.  What distro are you using?  Is it 32-bit?  Does deleting the c_cpp_properties.json file and re-creating it help?  This is supposed to work for Linux.

cmake support is on our backlog.

[2017-06-02 15:17] bobbrow commented on #791
Exactly. Those files are not in your `browse.path` by default. You won't be able to goto definition or get tooltips on symbols defined in your GCC toolchain because they are not in the `browse.path`.  You have no need for these?

[2017-06-02 15:28] bobbrow commented on #785
@vscpp, semantic auto-complete is something I am working on currently (tracked by issue #13).  We are a small team and appreciate your patience as we try to simultaneously address the incoming issues reported here.

[2017-06-02 16:42] amigo421 commented on #795
this is 64-bit version downloaded today from official site and installed via dpkg
OS: latest Mint
![image](https://cloud.githubusercontent.com/assets/3259933/26735717/c7685a60-47cb-11e7-99fc-903308fffb4b.png)

![image](https://cloud.githubusercontent.com/assets/3259933/26735928/b6a810e8-47cc-11e7-9c21-bde71de7391d.png)

![image](https://cloud.githubusercontent.com/assets/3259933/26736066/3f1a178c-

[2017-06-02 16:46] amigo421 commented on #795
this is a magic. now standard headers are available , no red highlighting
probably there was a scanning.. but I remember there should be special icon during this process , it was not.

however deleted c_cpp_properties.json, auto created with the same content

let me know how can I help with
logs? additional tests?

[2017-06-02 17:03] o-lim opened #796 "Error squiggles for members in namespace `std` (std::max, std::min, std::size_t, etc.)"
* VSCode Version: 1.12.x
* Extension Version: 0.11.3
* OS: Linux

Cannot recognize `std::max`, `std::min`, `std::size_t`, etc. Instead you get an error message of the form `namespace "std" has no member "xxx"`, but the proper include files are specified and the include path is setup correctly.  Removing `std::` prefix seems to make the squiggles go away, at least for `std::max`, `std::min`, `std::

[2017-06-02 17:15] AlanRosenthal commented on #792
@pieandcakes: launch
vscode stable and insider both happen with cpptools v0.11.3.
Other people here (https://github.com/Microsoft/vscode/issues/27875) experiencing it as well.

FWIW I'm using arm-none-eabi-gdb-py not regular gdb

[2017-06-02 17:19] bobbrow commented on #795
If the c_cpp_properties.json is still wrong, I don't think your problem is solved.  What I think happened is that you also picked up the 0.11.2 or 0.11.3 update to the extension which turns off the squiggles by default.

I also have a box with Mint 18.1 Serena, and I don't see this.  This is what I get (you can copy it into yours in the meantime ... and edit the clang path with the version you hav

[2017-06-02 17:24] bobbrow commented on #796
can you share your include path?  The next update to the extension is going to propagate #include errors from nested #includes so that you can see exactly which file(s) we weren't able to find.

[2017-06-02 17:25] pieandcakes commented on #792
@AlanRosenthal Probably going to need more repro steps. Can you enable `"logging": { "trace": true, "traceResponse": true, "engineLogging": true }` and see if you get some more information in the output window?

[2017-06-02 17:26] pieandcakes commented on #794
@liencouer Can you tell me which version and type of gdb you are using?

[2017-06-02 17:28] pieandcakes commented on #793
@soundssource Can you tell me which version of the extension you are using? Also, can you enable logging and paste a log around the time this happens so I know what we're getting?
`"logging" : { "trace": true, "traceResponse": true, "engineLogging": true }`

[2017-06-02 17:29] pieandcakes commented on #794
This is the same as #792. Please provide information there.

[2017-06-02 17:29] #794 closed, assigned to nobody

[2017-06-02 17:29] amigo421 commented on #795
please close the request, found the root of the issue and this is not related with cpptools.
the problem was [here](https://marketplace.visualstudio.com/items?itemName=maddouri.cmake-tools-helper). the extension works incorrect and damages the config of cpptools
after removing all works fine, and properties looks like your version

[2017-06-02 17:29] mbbill commented on #794
Mine is gdb on ubuntu 7.11.1
100% reproduce on the latest vscode and extension for Linux.

[2017-06-02 17:30] pieandcakes commented on #792
Please also provide the version and type of gdb everyone is using. I am trying to reproduce this so I can find what the problem is. Also please provide a launch.json so I can try the same settings. Thanks

[2017-06-02 17:31] pieandcakes commented on #794
@mbbill Please update #792 and provide your launch.json also.

[2017-06-02 17:33] mbbill commented on #792
gdb on ubuntu 7.11.1
even the default launch.json generated by vscode won't work.

[2017-06-02 17:37] bobbrow commented on #795
Thanks for the update.

[2017-06-02 17:37] #795 closed, assigned to nobody

[2017-06-02 17:43] AlanRosenthal commented on #792
`arm-none-eabi-gdb-py --version
GNU gdb (GNU Tools for ARM Embedded Processors) 7.10.1.20151217-cvs
Copyright (C) 2015 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for detail

[2017-06-02 17:46] AlanRosenthal commented on #792
Sorry was looking at the developer console - not the debug console
`
1: (320) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'
1: (335) LaunchOptions  ExePath='/home/arosenthal/path/to/elf/file.elf'
1: (335) LaunchOptions  WorkingDirectory='/home/arosenthal/path/to/gdb/scripts'
1: (335) LaunchOptions  TargetArchitecture='arm'
1: (335) LaunchOpti

[2017-06-02 17:47] pieandcakes commented on #792
@AlanRosenthal thanks. That helps a lot.

[2017-06-02 18:15] ghost commented on #793
@pieandcakes I'm using version 0.11.2 of the plugin. I have to point out that I was testing the setup using a CentOS container in LXC. I'll test it with a lab machine and let you know whether it makes any difference.  Below is the log output generated when it "hits" the breakpoint and becomes unresponsive up until GDB decides to exit:

[2017-06-02 18:22] pieandcakes commented on #793
1: (266432) "ssh" exited with code 255 (0xFF).
1: (266434) <-logout

It looks like we request `stack-list-arguments` and then the ssh connection to gdb goes down which is unexpected. The System.NullReferenceException is because we're trying to send additional information but the connection is broken.

This looks like a gdb or ssh issue as it is crashing from the response that gdb is sending or gdb

[2017-06-02 18:25] pieandcakes commented on #792
@AlanRosenthal Would you be able to provide me your launch.json? If you don't want to share it publicly, can you email it to me? My email address is in my profile.

Thanks

[2017-06-02 18:31] AlanRosenthal commented on #792
`{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "buildname",
            "type": "cppdbg",
            "request": "launch",
            "targetArchitecture": "arm",
            "stopAtEntry": false,
            "MIMode": "gdb",
            "miDebuggerPath": "arm-none-eabi-gdb-py",
            "program": "${workspaceRoot}/products/path/to/elf/file.elf",

[2017-06-02 18:36] ghost commented on #793
I have built and installed gdb 7.12 previously and it behaves in exactly the same way. I'll still try it with the lab machine instead of the lxc container. It makes sense that it's an ssh/gdb issue as it works fine with Eclipse and gdb on the local machine. Getting VSCode to run on the machine itself is a bit of a headache due to compiler versions. Is there any way I can get the `-stack-list-argum

[2017-06-02 18:42] pieandcakes commented on #793
@soundssource you can. If you only have `"logging": { "engineLogging": true }`  on, you will get the list of MI commands we send gdb. You can then start gdb in MI-mode by executing gdb with the `--interpreter=mi` flag and feed it the `mi` commands one by one until you get to that `-stack-list-arguments` call. All commands that start with `<-` are ones we send gdb whereas `->` is the response we ge

[2017-06-02 18:46] sean-mcmanus commented on #788
You could attach a debugger and provide a dmp or call stacks of the Microsoft.VSCode.CPP.Extension.darwin process during your repro. I wasn't suggesting you open source your project, but if you could check if the bug repros for you on some other open source project or if the issue is specific to your project, that would help.

[2017-06-02 18:54] chrmarti commented on #792
Seeing this on Ubuntu 14.04, todays VSCode 1.13-insiders and ms-vscode.cpptools 0.11.3, gdb 7.7.1 and launch config: https://github.com/Microsoft/vscode/issues/18195#issuecomment-305862196

[2017-06-02 19:25] ghost commented on #793
I have verified that it's not related to the lxc container as the same thing happens if I ssh into a machine in the lab running CentOS. I'll post the output of the suggested test as soon as I get around to it.

[2017-06-02 19:31] pieandcakes commented on #792
@AlanRosenthal Can you go to ~/.vscode/extensions/msvscode.cpptools-<version>/debugAdapters/bin and remove the file `OpenDebugAD7.exe.config` and try it to see if it works?

[2017-06-02 19:35] yh-sb commented on #791
I write it one more time: "go/pick to definition/declaration" works well without include paths.

All *.h and *.c files which have well working "go to definition" function placed in directories, which doesn't described in c_cpp_properties.json and they are included like this (for example) "sys_rtc.h" or "v_convert.c" (without direct path in the source code).

Does cpptools extension make recursive

[2017-06-02 19:53] sean-mcmanus commented on #791
The browse.path setting is recursive unless it ends with *, and the default settings includes ${workspaceRoot} in the browse.path (behind the scenes).

[2017-06-02 20:08] AlanRosenthal commented on #792
Looks like its working!

[2017-06-02 20:10] pieandcakes commented on #792
@AlanRosenthal Thanks. It was a file added for windows, but for some reason on some versions of mono on Linux it doesn't understand the file. It took me 3 machines to get a repro here. I will make an update to rename the file on non-windows machines to fix the scenario.

In the meantime, the work around is:
Remove the `OpenDebugAD7.exe.config` file in `~/.vscode/extensions/msvscode.cpptools-<versi

[2017-06-02 20:11] o-lim commented on #796
Sure, here is the standard include path for gcc:
[code]
and here is the include path when I use nix:
[code]

[2017-06-02 21:09] bobbrow commented on #791
Yes, @r44083, I understand that goto definition/declaration will work for your files under ${workspaceRoot}.  I was asking whether you cared about this working for stuff defined in GCC headers.  It sounds like you don't.

We have no current plans to add a setting to disable these, but we can add this to our backlog.  The messages are not senseless, but I'm sorry if they annoy you.  There are other

[2017-06-02 21:12] bobbrow commented on #796
And do you have these paths listed in the c_cpp_properties.json file at the root of your workspace?  (Use the command palette action: "C/Cpp: Edit Configurations" if you do not see this file in your workspace)

[2017-06-02 21:16] o-lim commented on #796
Yes, these are the paths listed in .vscode/c_cpp_properties.json.

[2017-06-02 21:28] o-lim commented on #796
I can even press `F12` on \<cstddef> and it will go to that file, with contents:
[code]
Then pressing `F12` again on \<bits/c++config.h> takes me to:
[code]

[2017-06-02 21:49] bobbrow commented on #796
Can you try doing goto definition on std::max or std::min and see if any squiggles show up in the file that opens?  Goto definition is not powered by the new IntelliSense engine yet, so it might work.

For me it's defined in <bits/stl_algobase.h> and I don't see any squiggles on my distro (Mint) with GCC 5.4 toolchain.

[2017-06-02 22:42] chrmarti commented on #792
I don't see that file, I only see the 0.11.2 folder (no 0.11.3 which I have installed):
![screen shot 2017-06-02 at 3 39 39 pm](https://cloud.githubusercontent.com/assets/9205389/26747359/13e54adc-47aa-11e7-8d12-d66433b5e1e4.png)

[2017-06-02 23:00] sean-mcmanus commented on #792
@chrmarti Due to a manual edit of the package.json version number to 0.11.3, the folder it creates is 0.11.2 still, but everything else should be okay.

[2017-06-02 23:13] pieandcakes commented on #792
@chrmarti if you have one in the 0.11.2 folder location, try and remove it and it should work. There was an issue with the last extension release where the version number was manually edited but might not have been done correctly.

[2017-06-02 23:13] chrmarti commented on #792
@pieandcakes The file is not there, only those shown in the above screenshot.

[2017-06-02 23:15] pieandcakes commented on #792
@chrmarti you are in the wrong folder. Its `<extension>\debugAdapters\bin` not `<extension>\bin` like you have above.

[2017-06-02 23:21] AlanRosenthal commented on #792
Debug adapters

On Fri, Jun 2, 2017, 7:08 PM Christof Marti <notifications@github.com>
wrote:

[2017-06-02 23:25] jayphelps commented on #792
@pieandcakes had same problem on Mac OS, your solution worked for me!

[code]

[2017-06-02 23:26] o-lim commented on #796
When I try goto definition on `std::max` or `std::min`, I don't see any squiggles for min/max in that file \<bits/stl_algobase.h>.  However, there are some squiggles in various places in the file for stuff like template specializations, enable_if, as well as the `_GLIBCXX_BEGIN_NAMESPACE_VERSION` and `_GLIBCXX_VISIBILITY` macros, and \<bits/c++config.h>.

[2017-06-03 00:08] pieandcakes commented on #792
Thank you everyone. Version `0.11.4` has been published and this should be resolved. Please open new issues if you are still having problems.

[2017-06-03 00:08] #792 closed, assigned to pieandcakes

[2017-06-03 00:20] pieandcakes commented on #793
It sounds like either `ssh` or `gdb` that you are using is not liking something. I wonder if that call is returning `too` much data.

[2017-06-03 02:00] pieandcakes commented on #787
@AbelaroJiang I'll take another look on Monday when I can install a new version of Centos

[2017-06-03 04:49] bobbrow commented on #796
Where is <bits/c++config.h> in your filesystem?  It would seem that the path to the bits folder containing this file is missing from your includePath in the c_cpp_properties.json file if there is an #include error on that line.

[2017-06-03 13:12] MasonSu opened #797 "Some time after code start up, it fails to display the Declaration，it displays Loading"
OS: Ubuntu 14.04
Code version: 1.12.2

when the code start up, it behaves normally, when the mouse hovers over the symbol, it can show the declaration，but after some time later，it suddenly stopped working，show the Loading...

![Alt text](http://i.imgur.com/fzF4bpz.png)

[2017-06-03 16:27] jd-carroll commented on #694
Also getting the same error:
[code]

Windows 7 64-bit

[2017-06-03 19:48] ghost commented on #793
So I isolated the commands and ran them using different versions of gdb:

[code]
Which results in gdb responding with a segmentation fault. Using `-stack-list-arguments 0` works and it returns:

[code]
But setting the print-values parameter to either 1 or 2 causes a segmentation fault. So this seems to be a gdb related issue. I get the same results for gdb 7.2, 7.12 and 7.12.1.

[2017-06-03 21:50] vector-of-bool commented on #762
@sean-mcmanus, @spinicist, I have an extension API that exposes compilation options on a file-by-file basis using CMake Server. Is there any possibility for integration with that API rather than solely relying on the `c_cpp_properties.json`?

[2017-06-04 05:10] mokugyos commented on #694
I got the same error.

vscode: 1.12.2
windows 10 x64 version 1703
----------------------------------------------------------------------------------
Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)' (4663 KB) .................... Done!
Downloading package 'ClangFormat (Windows)' (905 KB) .................... Done!
Downloading package 'Visual Studio Windows D

[2017-06-04 07:19] boazsegev commented on #783
@bobbrow ,

I'm thankful for all the work you're all putting in to help create and improve this wonderful program.

However, this isn't just about the fact that the default `C_Cpp.intelliSenseEngine` isn't working (see #746 ) or whether using `clang` will provide better results (even though I believe it will).

The fact of the matter is that `clang` is also used as collaborative "glue" in many pro

[2017-06-04 14:37] rei-vilo opened #798 "Add Gitter chat room for C++ extension"
Polease add a Gitter chat room for C++ extension.

Thank you!

[2017-06-04 14:57] AtigDev opened #799 "Help me shift from Turbo C++"
I am a student and was using Turbo C++ till now but now I have downloaded VS Code, but cant output or run my programs.

[2017-06-05 07:02] sknavilehal commented on #756
I am running visual studio code on Linux mint 32-bit system. I have a similar problem except there is no loading message. "Peek Definition" and "Go to Definition" don't work. "Format Selection" doesn't show up.
In my home folder a text file is created when I open visual studio code. The name of the file is "�U@�Ӎ@8 (invalid encoding)".
Hope this helps to fix the bug.

[2017-06-05 15:55] bobbrow commented on #798
Thank you for the suggestion.

Unfortunately, since Gitter is not specific to C++, it is not something that belongs to this extension.  Perhaps you can contact the VSCode or Gitter teams and ask them if they will create an extension.

[2017-06-05 15:55] #798 closed, assigned to nobody

[2017-06-05 17:10] rei-vilo commented on #798
Sorry for not being clear enough on my initial post.

Both Visyal Studio Code and the Arduino extensions have a dedicated Gitter chat-room.

Wouldn't be nice adding another Gitter chat-room for the C++ extension.

[2017-06-05 19:00] pieandcakes commented on #793
@soundssource If you try a simple app does it fail on the same thing? Might be an issue on Ubuntu 17.04.

I'm on Ubuntu 16.04 and gdb 7.11.1 and I haven't seen this behavior.

[2017-06-05 20:01] pieandcakes commented on #787
@AbelaroJiang I tried this with CentOS Linux release 7.3.1611 (Core) running in Hyper-V and I can't duplicate the problem. I am using plink.exe as my pipeProgram. I set a breakpoint and F5 and it hits. I can set more breakpoints, step and stop debugging.

Can you try adding:
[code]

and sending me the Debug Console output when you reproduce your scenario?

[2017-06-05 20:23] pieandcakes commented on #799
@AtigDev I don't know what Turbo C++ is. Can you tell us more about what you have tried and what OS you are using?

[2017-06-05 22:01] ghost commented on #793
I was running gdb directly on the Linux container eliminating ssh. I'll give your setup a go and see if solves anything. I'll also try to see if attaching - rather than launching it - makes a difference.

I have used the setup to debug a different application that spawns quite a few threads but doesn't give the same problem. It does seem to be a problem unique to the code base I'm working on. I gu

[2017-06-05 22:47] andyleejordan commented on #484
This appears to still be a problem in the latest version of the extension (I had to go overwrite `msdia140.dll` again).

[2017-06-05 22:50] pieandcakes commented on #484
@andschwa Yes I haven't had a chance to resolve this yet. It isn't a trivial fix that I thought it would be. Its something that i'm still committed to doing and i'll update this once its done.

[2017-06-06 02:15] aengusjiang commented on #787
Ok, here it is:
1: (20106) Debugger failed to break. Trying again.
1: (20106) <-1016-exec-interrupt
1: (20114) ->1016^done
1: (20114) ->(gdb)
1: (20114) ->&"Quit\n"
1: (20114) 1016: elapsed time 7
1: (23106) Debugger failed to break. Trying again.
1: (23106) <-1017-exec-interrupt
1: (23118) ->1017^done
1: (23118) ->(gdb)
1: (23118) ->&"Quit\n"
1: (23118) 1017: elapsed time 12
1: (26107) Debugger f

[2017-06-06 02:16] AtigDev commented on #799
Using Windows 8 OS
Turbo C++ is an old compiler which was recommended to me in my school.
It's similer to Borland C++

[2017-06-06 02:23] aengusjiang commented on #787
Here my environment information:
VSCode Version: Code 1.12.2 (19222cdc84ce72202478ba1cec5cb557b71163de, 2017-05-10T13:20:36.315Z)
OS Version: Windows_NT ia32 10.0.15063
Centos Version: CentOS Linux release 7.3.1611 (Core)
I used the virtual matchine software is VMware® Workstation 12 Pro 12.5.6 build-5528349, not the Hyper-V.
I used the bridge way the connect the windows he the virtual Centos.

I

[2017-06-06 02:29] sean-mcmanus commented on #799
Here's a blog on how to build stuff in VS Code: https://blogs.msdn.microsoft.com/vcblog/2016/10/24/building-your-c-application-with-visual-studio-code/ . You can also build via the command line and use VS Code for editing and debugging. You might also want to consider Visual Studio 2017 Community Edition if you're on Windows.

[2017-06-06 03:26] super-kevin commented on #692
I have the same issue with vscode. And I found Visual Studio 2017 Linux extension has exactly the same issue.

[2017-06-06 05:13] ronys opened #800 "Cannot get C/C++ navigation to work / language server crashes?"
VSCode Version: Code 1.12.2 (19222cd, 2017-05-10T13:16:25.899Z)
OS Version: Linux x64 3.10.0-514.10.2.el7.x86_64
Extensions:
Extension	Author	Version
code-gnu-global	austin	0.2.2
python	donjayamanne	0.6.4
cpptools	ms-vscode	0.11.4
Steps to Reproduce:

Opening a C file, selecting a function, all navigation options are grayed out
Error "The C/Cpp Language Server server crashed 5 times in the last 3

[2017-06-06 05:14] ronys opened #801 "Cannot update - TLS issues"
VSCode Version: Code 1.12.2 (19222cd, 2017-05-10T13:16:25.899Z)
OS Version: Linux x64 3.10.0-514.10.2.el7.x86_64
Extensions:
Extension	Author	Version
code-gnu-global	austin	0.2.2
python	donjayamanne	0.6.4
cpptools	ms-vscode	0.11.4
Steps to Reproduce:

1.Updating C++ support, I get the following
Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Linux)' Failed at stage:

[2017-06-06 11:40] imhuay opened #802 "Add auto-complete support for headers"
ref: https://code.visualstudio.com/docs/languages/cpp#_getting-started

Why it can't auto-complete `#include` headers or intellisense the headers in other word , even I config the `c_cpp_properties.json`.
Can it intellisense the headers of the PATH?

Thx in advence!

[2017-06-06 12:32] evakili commented on #298
The worst thing is for every new version of vscode-cpptools, C++ dependencies should be installed again, although they were not updated at all. That's too bad for Internet-disconnected or tortoisely-connected environments.

**My workaround:**
I have an Internet-connected system. Whenever a new version on vscode-cpptools is arrived, I update it on this system with C++ dependencies installed. Then I

[2017-06-06 14:21] holdjun opened #803 "Error: end of central directory record signature not found"
Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)' (4663 KB) .................... Done!
Downloading package 'ClangFormat (Windows)' (905 KB) .................... Done!
Downloading package 'Visual Studio Windows Debugger' (12081 KB) .................... Done!

Installing package 'C/C++ language components (Windows)'
Failed at stage: installPackages
Error: end

[2017-06-06 14:22] #803 closed, assigned to nobody

[2017-06-06 14:24] holdjun commented on #694
Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)' (4663 KB) .................... Done!
Downloading package 'ClangFormat (Windows)' (905 KB) .................... Done!
Downloading package 'Visual Studio Windows Debugger' (12081 KB) .................... Done!

Installing package 'C/C++ language components (Windows)'
Failed at stage: installPackages
Error: end

[2017-06-06 15:35] AfroThundr3007730 commented on #298
So it tries to download the dependencies again even if the version didn't change? That's not good. Maybe they should consider adding version checking to the dependency installation so it won't try to pull down unnecessary packages.

[2017-06-06 15:42] bobbrow commented on #802
We don't have support for this yet.

[2017-06-06 15:46] bobbrow commented on #298
VS Code deletes the old extension's folder, which requires us to re-download dependencies even if they haven't changed since the last version.

[2017-06-06 16:09] o-lim commented on #796
It's located at `/nix/store/jvm15h49snl8njir2lh3xm8f1n46inr0-gcc-4.6.4/include/c++/4.6.4/i686-pc-linux-gnu/bits/c++config.h`, which is in the includePath under `/nix/store/jvm15h49snl8njir2lh3xm8f1n46inr0-gcc-4.6.4/include/c++/4.6.4/i686-pc-linux-gnu`.

[2017-06-06 17:51] bobbrow commented on #796
So is there a squiggle in stl_algobase.h for the #include <bits/c++config.h> line or were you saying that there are squiggles in the actual <bits/c++config.h> file?  Both of those macros are defined in c++config.h, so I would assume the former.

Can you paste the full contents of your c_cpp_properties.json file into a comment?  You paths look right, but I want to check and see if there is somethin

[2017-06-06 18:17] sean-mcmanus commented on #298
And usually, the language service dependencies change with every update. The 0.11.4 update was an exception.

[2017-06-06 19:06] pieandcakes commented on #692
@harwise We send only the file name to gdb and it binds the breakpoint based on it. If you enable `"logging": { "engineLogging": true }` you will see our -set-breakpoint commands sending `filename:line` to gdb which is probably why this is happening. I will mark this as a feature request to see if we can fix it.

@super-kevin They both have a similar issue because they use a shared component, [MIE

[2017-06-06 19:35] o-lim commented on #796
It is the former. Squiggles in <stl_algobase.h> for `#include <bits/c++config.h>`.

After double checking my `c_cpp_properties.json` file, it appears I was missing a path in that file after all, `/nix/store/jvm15h49snl8njir2lh3xm8f1n46inr0-gcc-4.6.4/include/c++/4.6.4/i686-pc-linux-gnu`.  I must have gotten confused between the 2 separate VSCode instances I had open.  One of them had the complete s

[2017-06-06 19:35] #796 closed, assigned to nobody

[2017-06-06 19:44] bobbrow commented on #796
Glad to hear this is now working for you.

[2017-06-07 02:31] matthew6868 commented on #694
Updating C/C++ dependencies...
Downloading package 'C/C++ language components (Windows)' (4663 KB) .................... Done!
Downloading package 'ClangFormat (Windows)' (905 KB) .................... Done!
Downloading package 'Visual Studio Windows Debugger' (12081 KB) .................... Done!

Installing package 'C/C++ language components (Windows)'
Failed at stage: installPackages
Error: end o

[2017-06-07 11:27] 99hgz commented on #694
Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)' (4663 KB) .................... Done!
Downloading package 'ClangFormat (Windows)' (905 KB) .................... Done!
Downloading package 'Visual Studio Windows Debugger' (12081 KB) .................... Done!

Installing package 'C/C++ language components (Windows)'
Failed at stage: installPackages
Error: end

[2017-06-07 12:11] ghost opened #804 "I want use "cpptools plugin" old version.."

[2017-06-07 12:14] #804 closed, assigned to nobody

[2017-06-07 16:16] taniarascia commented on #127
This is still an issue for me in VS Code 1.12.2.

[2017-06-07 16:29] KristupasSavickas opened #805 "Add an option to prevent external console from closing after debugging is finished"
A much needed feature, especially for beginners learning to program, as many programming exercises require to print the output. Yet in this version of this extension the console closes as soon as the program finishes execution.

[2017-06-07 18:34] bobbrow commented on #127
Can you elaborate or give an example of what you're doing when you see this happen?  I don't repro in 1.12.2.

Other characters (paren, curly brace, double quote) still do auto-closing brackets inside comments because those almost universally need to be closed.  Single quotes should not insert an auto-closing char when inside a comment so the original issue reported is fixed.  If there is somethin

[2017-06-07 19:02] taniarascia commented on #127
Hi @bobbrow,

I'm currently using Visual Studio Code 1.12.2. If I leave the `editor.autoClosingBrackets` setting to default (`true`), apostrophes in comments are duplicated.

Here is an image both displaying my version number, and the issue that happened.

<img width="592" alt="screen shot 2017-06-07 at 1 58 00 pm" src="https://user-images.githubusercontent.com/11951801/26896227-a7c2ad52-4b89-11e7

[2017-06-07 19:12] sean-mcmanus commented on #127
Yeah, it doesn't repro on any of my machines either, including Mac.

[2017-06-07 19:17] sean-mcmanus commented on #805
You can work around this by adding a `cin >> ` to the end of your program so it waits for input before exiting.

[2017-06-07 19:25] bobbrow commented on #127
@taniarascia, do you also have version 0.11.4 of the C/C++ extension installed?

[2017-06-07 19:29] bobbrow commented on #127
Oh, and also, can you verify if the status bar in the lower right corner shows "C" or "C++" as the active language?  The text in your screenshot is not green, so I suspect that the editor has not detected you are in a comment block.

![status](https://user-images.githubusercontent.com/12818240/26897235-b4ee0470-4b7c-11e7-82b0-52cc6c528ab0.png)

[2017-06-07 19:31] taniarascia commented on #127
Ah, this is my fault, I didn't know this issue was C++ specific. I'm working in another language. I'm sorry for taking your time.

[2017-06-07 19:34] bobbrow commented on #127
Yeah, it is specific to whatever language you are working with and it not something that extensions handle.  You can log an issue with the VS Code team if it is a language that they have a grammar for already or you can request they add a grammar for your language.

[2017-06-07 19:35] taniarascia commented on #127
Thanks for letting me know. In my case, it's for PHP.

[2017-06-08 06:41] aengusjiang commented on #787
I have try check it on centos install with Hyper-V.
But it still can duplicate the problem.
My vscode version 1.12.2

I use the ssh remote login the centos.
then I run the the test program.
the then it will print the info:
Pid 7326: 0
Pid 7326: 1
Pid 7326: 2
Pid 7326: 3
Pid 7326: 4
Pid 7326: 5
Pid 7326: 6
Pid 7326: 7
Pid 7326: 8
Pid 7326: 9
Pid 7326: 10

then I remote attach the 7326 and set a bre

[2017-06-08 07:08] Grizzbear opened #806 "false error squiggles "invalid multibyte character sequence" when including files contains chinese chracter"
Hi, I got a problem when the including files containing chinese character.

For example, I define something something like `#define A "中文"`in a.h, and there is no error squiggle   in a.h. But if I include a.h in a.c, there would be red squiggles under `A` in a.c,  saying "invalid multibyte character sequence".

This problem only happens when reopen existing files. If I edit the a.h which contain t

[2017-06-08 11:07] Jevyn commented on #298
I've implemented something similar to what @ampatel21 mentions above.  The only difference is I wrote a little bit of python (inherit from SimpleHttpServer) to mimic the way urls like:
 https://go.microsoft.com/fwlink/?LinkID=826082 are handled on the Microsoft webserver.  By using the content-disposition HTTP header you can send back the correct file name.

My steps are now the following:
1.  Dow

[2017-06-08 16:15] sean-mcmanus commented on #806
I'm not able to repro the problem. My test.h has the #define A, and my test.c has the #include "test.h" and uses `A;` in a main function and I get no errorSquiggles. I just open the test.c. I tested it on Windows. What OS are you using? Am I doing the repro incorrectly? We have some known bugs with UTF-8 characters > 1 with the Default IntelliSenseEngine, e.g. the tooltip on A in test.h has a garb

[2017-06-08 16:59] AlanRosenthal opened #807 "Cannot pause debugger on Linux"
- VSCode Version: Code - Insiders 1.14.0-insider (42ede266aa9ce62e258d54e73576642ab684eb43, 2017-06-06T05:11:05.627Z)
- OS Version: Linux x64 4.8.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.2|
|gitlens|eamodio|3.6.1|
|cpptools|ms-vscode|0.11.4|;

---

Steps to Reproduce:

1.
2.

Log from DEBUG CONSOLE:
[code]

Clone of https://github.com/Microso

[2017-06-08 17:07] pieandcakes commented on #807
Can you set breakpoints? the log looks like it paused. Does the UI look like its still running?

[2017-06-08 17:10] pieandcakes commented on #805
@KristupasSavickas We call gdb to turn on/off the console. when debugging ends, gdb exits and since the console is a child process, it shuts down. We don't have control over it the way it is implemented now.

Adding as a feature request.

[2017-06-08 17:10] AlanRosenthal commented on #807
It doesn't actually pause the CPU.
I can set only set breakpoints before the debugger starts or when its already halted at another breakpoint.

This is the log when trying to set a breakpoint when the cpu isn't halted:
[code]

[2017-06-08 17:12] pieandcakes commented on #807
@AlanRosenthal was this working before?

[2017-06-08 17:12] AlanRosenthal commented on #807
It was working on Windows, not on Linux.

[2017-06-08 17:13] pieandcakes commented on #801
@ronys can you try and enable the proxy settings in VSCode and close and reopen it and see if it will download?

[2017-06-08 17:13] pieandcakes commented on #807
Which version of Linux is this? it says Linux x64 generic. I have Ubuntu but I can't repro this.

[2017-06-08 17:14] AlanRosenthal commented on #807
This is the log when trying (and succeeding) to set a breakpoint when the cpu IS halted:
[code]

[2017-06-08 17:15] AlanRosenthal commented on #807
[code]

[2017-06-08 17:15] AlanRosenthal commented on #807
[code]

[2017-06-08 17:18] pieandcakes commented on #807
I'll have to see if I can find an arm Linux device here so I can test this.

[2017-06-08 17:30] AlanRosenthal commented on #807
in case you need my launch.json: https://github.com/Microsoft/vscode-cpptools/issues/792#issuecomment-305874677

[2017-06-08 17:55] pieandcakes commented on #807
@AlanRosenthal thanks

[2017-06-09 01:49] Grizzbear commented on #806
I'm runing vscode on windows 7, and my encoding is GBK. I think you should define A to a chinese character to repro the problem, e.g, `#define A "中文"`, and reopen working folder. The tooltip garbled chracter problem also shows up in this case.

[2017-06-09 01:53] sean-mcmanus commented on #806
Yeah, most of our code assumes UTF-8 and we don't have a layer to convert GBK to UTF-8 yet. We plan to fix this, but we don't have an ETA. Our extension is still in "Preview" so we're not fully localized or world ready yet. See https://github.com/Microsoft/vscode-cpptools/issues/414 .

[2017-06-09 02:27] liamwigney opened #808 "Thoughts on integration with Rtags"
Hey so I'm a recent ex-emacs convert and I've been spoilt by [rtags](https://github.com/Andersbakken/rtags) a Cpp/C indexer based on clang. This extension either doesn't have the features or the ones here don't work as well.

So the question is two fold, would possible integration with Rtags be something that could happen in the future? Since this extension isn't open source I obviously can't add

[2017-06-09 04:44] kiransj commented on #363
When the call is very deep "Step Over" takes more than 10 seconds while the same line when the call stack is not very deep take less than .05s. Then the delay was seen my call stack was 25 function deep.

Issue seen with Ubuntu 14.04
Vscode version
Version 1.13.0
Commit 376c52b955428d205459bea6619fc161fc8faacf
Date 2017-06-08T16:41:25.571Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0

[2017-06-09 04:50] aengusjiang opened #809 "ssh remote debug can't set the breakpoint when the program started by bash shell script"
VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
cpptools - Version :0.11.4
local machine OS Version: Windows_NT ia32 10.0.15063
remote machine:
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:        16.04
Codename:       xenial

g++ version： g++ (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609
gdb version： GNU gdb (Ubuntu 7.11.1-0ub

[2017-06-09 06:30] keweilizhe commented on #635
yes, i meet this too, can't goto class::my_struct.  (*^__^*) ……

In Expectation your solution,

[2017-06-09 07:12] linlinzy opened #810 "No symbol information for *.cpp/*.h files for vscode on CentOs"
Env:
   CentOS 7.2 64bit; VSCode 1.11.2; vscode-cpptools: 0.11.4.
Issues:
    No symbols found when using Ctrl+Shift+O, and also cannot Go to definition and so on.
Anyone may help about this?

[2017-06-09 08:08] MathiasMagnus commented on #156
@sean-mcmanus

This statement was quite a while back (Feb 17). Also, the one month radio silence doesn't do much good for hopes on finally being able to use VS Code as a serious alternative to anything else. (That is for C++ development)

[2017-06-09 12:24] DigiAngel opened #811 "Disable "Unable to open file" during debug"
So I'm creating a very simple c++ app for learning on Ubuntu using c++ and gdb:
[code]

When pausing and stepping into/over I have to hit cancel each time for things like this:

![screenshot from 2017-06-09 06-14-00](https://user-images.githubusercontent.com/947191/26975240-27e04e24-4cdc-11e7-87b8-485a5f457490.png)
![screenshot from 2017-06-09 06-14-35](https://user-images.githubusercontent.com/94

[2017-06-09 13:41] ghost commented on #703
Seems to be fixed now. I'm able to connect to the remote GDB server, but I have modified nothing from my config. So maybe there is a fix from you I don't know. But great that it's working now!

[2017-06-09 13:41] #703 closed, assigned to pieandcakes

[2017-06-09 15:02] donatoaguirre24 opened #812 "Peek definition and peek declaration break the minimap"
Since the last VS Code update (1.13) after I use peek definition or peek declaration the minimap disappear. I have no idea why it happens, the only solution I found is to close and reopen the file in which I am working to recover the minimap, but it is really very annoying.

[2017-06-09 18:18] sean-mcmanus commented on #156
@MathiasMagnus What feature are you talking about? Better autocomplete? I think that's what I was referring to. We're close to releasing it.

[2017-06-09 18:26] sean-mcmanus commented on #812
It's a VS Code bug -- https://github.com/Microsoft/vscode/issues/28093 . It looks like it's been fixed but hasn't made it into the Insider's build yet.

[2017-06-09 18:26] #812 closed, assigned to nobody

[2017-06-09 18:54] pieandcakes commented on #703
@Tankypon Reading back I don't think we changed anything in this scenario but i'm glad its working for you.

[2017-06-09 18:55] pieandcakes commented on #811
@DigiAngel That would probably be a [VSCode ](https://github.com/microsoft/vscode/issues) question. We send back a path that VSCode can't find (which for these is probably the case).

[2017-06-09 19:01] pieandcakes commented on #809
@AbelaroJiang Is this a different issue or the same issue as #787 but on Ubuntu? Is the second instance actually debugging? I assume since the script has it running as a child process of bash that it might not allow you to directly attach? I will try this when I have some time.

[2017-06-09 19:19] DigiAngel commented on #811
Brilliant thanks...I'll close and approve from that end.

[2017-06-09 20:45] sean-mcmanus commented on #810
The language service doesn't work out of the box on CentOS due to a dependency on glibc 2.18. See https://github.com/Microsoft/vscode-cpptools/issues/19 for a workaround.

[2017-06-09 20:45] #810 closed, assigned to nobody

[2017-06-10 00:36] yurriy opened #813 "Incorrect autocomplete"
If I write "i++;", end type Enter, I get the line
i++;____FILE_defined
instead of just "i++;"
Every time I use "++" operator, the extension proposes definitions from headers, which start from __

[2017-06-10 00:40] sean-mcmanus commented on #813
I'm not able to repro this. Does it repro with the cpptools extension disabled? What OS are you on? What VS Code version do you have? The completion popup isn't supposed to appear after a semicolon is entered.

[2017-06-10 00:42] yurriy commented on #813
@sean-mcmanus No, it doesn't repro with cpptools disabled. I'm under Ubuntu 16.04. I've just updated VS Code

[2017-06-10 00:49] sean-mcmanus commented on #813
I'm still not reproing the issue on Linux. It sounds like a bug with VS Code invoking quick suggestions when it shouldn't (i.e. ctrl+space). Our extension does not invoke completion on `;`. It sounds like you're getting a completion popup after entering the `;`?

[2017-06-10 00:51] yurriy commented on #813
@sean-mcmanus in this case the popup doesn't disappear, maybe c_cpp_properties.json will help https://gist.github.com/yurriy/46cb29de802c902d7eedd4bb7a72240e
But if I type, for instance, "print", and then semicolon, then indeed, the popup will disappear.

[2017-06-10 00:54] yurriy commented on #813
@sean-mcmanus the popup screenshot: https://www.dropbox.com/s/xezqz2noymhgg80/

[2017-06-10 01:00] yurriy commented on #813
@sean-mcmanus it seems like it's an issue with VS Code, I added
"editor.quickSuggestions":{"other": false, "comments": false, "strings": false}
in settings, and now it works fine.

[2017-06-10 01:02] sean-mcmanus commented on #813
Could you file an issue with VS Code? This bug appears to be theirs. https://github.com/Microsoft/vscode/issues . VS Code just asks us for the list of completion items and we get to them the list and the fact that we want suggestions on `.`, `->`, `::`, and `#`, not `;`...so our extension is probably not the cause of the bug (i.e. other extensions that provide completions would probably get the sa

[2017-06-10 01:05] yurriy commented on #813
Ok, I will write an inssue in VS Code repo, thanks.

[2017-06-10 03:30] aengusjiang commented on #809
Hi, My friend. I think this is a different issue about setting the breakpoint.
Remember do some change before you test it on ubuntu or it can remote attach by ssh for required the super user permission.
reference to: https://askubuntu.com/questions/41629/after-upgrade-gdb-wont-attach-to-process

[2017-06-10 05:47] bobbrow commented on #797
If this is happening persistently in your project, you can add `"C_Cpp.intelliSenseEngine": "Tag Parser"` to your settings.json file to switch back to the old IntelliSense engine.  If you are able to attach a debugger and get a callstack for us during the hang, that might help us diagnose the problem.

[2017-06-10 09:25] hydrogen666 commented on #766
sad...

[2017-06-12 02:34] bryanfok opened #814 "Syntax error not highlighted"
For example, `std::vectoor vec;` does not highlighted in the visual studio code editor. Or do I need to provide additional configure it?

[2017-06-12 03:12] ronanpaixao opened #815 "Launching of custom GDB does not correctly set CWD (breaks relative paths)"
I'm trying to debug an STM32 microcontroller through OpenOCD in VSCode 1.13.0 on Windows 10.

I have this launch.json:

[code]

However, this doesn't work. I get the following error:

`Unable to start debugging. Unexpected GDB output from command "-interpreter-exec console "file BUILD/DISCO_F407VG/GCC_ARM/tracker.elf"". BUILD/DISCO_F407VG/GCC_ARM/tracker.elf: No such file or directory.`

However,

[2017-06-12 15:32] bobbrow commented on #814
If you are using the VS Code Insiders build, linting will be on by default.  If you are using the regular VS Code build, then you need to add `"C_Cpp.intelliSenseEngine": "Default"` to your settings.json file to turn it on.

You then need to ensure that your `"includePath"` is set correctly in the c_cpp_properties,json file in order for standard libraries to be discovered.

[2017-06-12 16:28] GeezleCode opened #816 "Symbol browser for C/C++ extension doesn't work on 32bit Linux system"
Symbol browser (cntrl+shift+o) for C/C++ extension doesn't work ("no symbol information ...").
Found on Ubuntustudio 16.04 32bit with code 1.13.0 32-bit.

[2017-06-12 17:52] sean-mcmanus commented on #816
The language service features are not supported on 32-bit Linux (only 64-bit). See https://github.com/Microsoft/vscode-cpptools/issues/424 .

[2017-06-12 17:52] #816 closed, assigned to nobody

[2017-06-12 19:47] ramya-rao-a opened #817 "VS Code crashes while debugging"
_From @Webdien123 on June 12, 2017 17:0_

- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.11.4|
|csharp|ms-vscode|1.10.0|
|unity-snippets|YclepticStudios|0.1.2|;

---

Steps to Reproduce:

1.  Code C++.
![code](https://user-images

[2017-06-12 19:47] ramya-rao-a commented on #817
_From @RoyTinker on June 12, 2017 18:29_

@Webdien123 Do you mean VS Code crashes at step 4?

"Cracked" usually means a malicious third party has gained unauthorized access.

[2017-06-12 19:47] ramya-rao-a commented on #817
@Webdien123 Like @RoyTinker said, I am assuming you mean "crashed".

You seem to be using the C++ extension for debugging, most probably this is related to the extension or your specific usage of the extension.

Will move this to the repo for the C++ extension. They will be able to help diagnose this better.

[2017-06-12 21:06] ramya-rao-a opened #818 "Quick suggestions work incorrect"
_From @yurriy on June 10, 2017 1:8_

extension cpptools is installed.
VS Code toggle quick suggestions popup, after I type "i++;", but it shouldn't.

- VSCode Version: last
- OS Version: Ubuntu 16.04

Steps to Reproduce:
With cpptools enabled, type "i++;" in any cpp file.

_Copied from original issue: Microsoft/vscode#28400_

[2017-06-12 21:06] ramya-rao-a opened #819 "could not pop up the parameter hints window when ctrl+shift+space insider the branckets"
_From @wangjihu on June 10, 2017 1:14_

![image](https://user-images.githubusercontent.com/19356729/26998827-a08fe6fa-4dbc-11e7-8713-567b494eeab9.png)
like this cpp code ,when i type ctrl +shift+ space , i cannot see the parameter hints windows pops up .....
ps:
os versiong :ubuntu 16.04 lts and c/c++ extensions has been installed.
thanks

_Copied from original issue: Microsoft/vscode#28401_

[2017-06-12 21:17] bobbrow commented on #818
This is a VS Code bug.  We do not register for completion suggestions when semicolon is typed.  I repro this on Windows too.  I asked the VS Code team to reactivate the original issue.

[2017-06-12 23:28] pieandcakes commented on #817
@webdien123 You chose C++ (Windows) for debugging but you compiled with g++/ The correct profile you want is to use C++ (gdb) and not Windows. Windows is for Visual C++ compiled executables.

[2017-06-13 00:05] pieandcakes commented on #815
@ronanpaixao I think you are looking at two different issues. We set current working directory for gdb inside gdb using `-environment-cd` and your `"cwd"` value. This should be enough for gdb to figure out where your program is, but it doesn't look like it is working in this instance.

The code where we set the current directory is [here](https://github.com/Microsoft/MIEngine/blob/master/src/MICor

[2017-06-13 00:28] Antman2023 opened #820 "Minimap disappeard when ctrl+click a symbol"
[code]

In this case, ctrl+click the symbol 'X', then click anywhere in editor window, the minimap will disappeared.

[2017-06-13 00:39] sean-mcmanus commented on #820
This has been fixed in the latest Insider's build (see https://github.com/Microsoft/vscode/issues/28478 ).

[2017-06-13 00:39] #820 closed, assigned to nobody

[2017-06-13 00:42] sean-mcmanus commented on #819
@wangjihu Is your OS 32-bit? Does it work when `(` is used?

[2017-06-13 01:54] #799 closed, assigned to nobody

[2017-06-13 01:54] AtigDev commented on #799
Thanks a lot

[2017-06-13 02:10] bryanfok commented on #814
@bobbrow Thanks for your response.

[2017-06-13 02:10] #814 closed, assigned to nobody

[2017-06-13 02:21] bryanfok opened #821 "includePath doesn't resolve include errors"
Ok so I installed a new vscode insiders build. And by default it does give me all the error highlights.

First of all, I try to resolve all the include errors. for example, `#include <platform/base/logging/logger.h>`, and my workspace folders structure is like this:

platform
----|_ cpp
--------|_ platform
-------------|_ base
------------------|_ logging
-----------------------|_ logger.cc
------

[2017-06-13 04:20] bryanfok commented on #821
By the way, when I hover over the include statement, I dont see the "add include to setting" statement either.

[2017-06-13 04:31] bryanfok commented on #821
I read https://github.com/Microsoft/vscode-cpptools/issues/786 and somewhat similiar to my situation. But when it say the includePath is non-recusive, what does it mean. By including this `${workspaceRoot}/platform/cpp`, will it able to find `#include <platform/base/logging/logger.h>` ?

[2017-06-13 04:36] bryanfok commented on #821
After restart, all the highlight is gone, and left me one message

Which make sense, however is there anyway to enable the highlighting again?

[2017-06-13 06:50] wangjihu commented on #819
@sean-mcmanus vscode 1.13 on 64bit ubuntu,
as i type  "(" followed by the function name ,the parameter hints windows pops up successfully,
however ,i type input something in other places of my cpp text ，then come back inside the “（）” https://user-images.githubusercontent.com/19356729/26998827-a08fe6fa-4dbc-11e7-8713-567b494eeab9.png and type crtl shift backspace , the preview window pop up failed!

[2017-06-13 08:35] rlax commented on #605
@sys-maketecheasier @sean-mcmanus
I guess this issue will help.
https://github.com/Microsoft/vscode/issues/155

[2017-06-13 11:01] DigiAngel commented on #811
So they say it's you...so...now what :)

https://github.com/Microsoft/vscode/issues/28433

[2017-06-13 13:15] HankB opened #822 "excess CPU usage"
VS Code 1.13.0
Linux Debian 9 (4.9.0-3-amd64 #1 SMP Debian 4.9.30-1 (2017-06-04) x86_64 GNU/Linux)
C/C++ 0.11.4
(Other extensions installed and presently disabled.)

Open VS code and CPU shows 100% on one or two threads including /home/hbarta/.vscode/extensions/ms-vscode.cpptools-0.11.4/bin/Microsoft.VSCode.CPP.Extension.linux. After several minutes the CPU load decreases to what would be expected

[2017-06-13 14:27] bobbrow commented on #822
Thank you for reporting the issue.  The 100% you are seeing should only be for a single core and it is temporary while the extension is parsing your workspace folder and sub-folders.  There is currently a bug in the extension where much of this processing is being repeated unnecessarily on subsequent relaunches, but we have a fix in the pipeline to address that.

[2017-06-13 14:30] ZZYSonny opened #823 "2bugs"
for example I got this from problem
''i' was not declared in this scope (8,9)
and I want to let the cursor move to it, so I left click it
then vscode tell me that it can't open it
If my file is located at D:\code\1.cpp
it says it can't open D:\code\D:\code\1.cpp

also when I want to see the part of code in stl (for example I want to see some usage of queue from the stl, not from the code itself),

[2017-06-13 14:35] bobbrow commented on #821
Your includePath may be missing some entries.  What do you see in the terminal when you run `gcc -v -E -x c++ - < /dev/null`?  Your includePath should contain the paths listed by your compiler.  You can copy them in or delete and regenerate your c_cpp_properties.json file to correct it.

[2017-06-13 15:28] bobbrow commented on #605
TL;DR -  try setting `"http.proxyStrictSSL": false` in your settings.json

[2017-06-13 15:39] bobbrow commented on #823
The second issue is just how VS Code behaves when we find multiple matches.  When goto definition is updated to be semantic-aware this should be less of a problem.  We're tracking that with #255.

I don't fully understand what you are experiencing for your first issue. Can you provide a bit more detail?  Left-clicking in the editor shouldn't open any files.  It just moves the blinking cursor.

[2017-06-13 15:40] ernestoyaquello commented on #35
Is there any progress on this? It would be very useful to have the option of using a file as the standard input.

[2017-06-13 17:12] ramya-rao-a commented on #811
The question from me (from VS Code) is are those files absolutely relevant for the user to debug a simple code sample as above. This can be answered by the extension owners.

If it is absolutely required, then the current behavior is right. As in the extension requests VS Code to open a file that VS Code cannot find and communicates the same to the user using the current notification model.

If th

[2017-06-13 17:43] staffann commented on #319
I filed a suggestion with vscode but was told that it was something that was related to the extension. This issue seems to cover my request, but I enclose my original text:

I'd like to be able to select in which format I see the values of local and watched variables in the debugger. It would be preferred to have a generic setting but be able to change it per variable.

The way that it is now I of

[2017-06-13 18:27] sean-mcmanus commented on #819
Yeah, signatureHelp was implemented to require that initial Ctrl+Shift+Space be invoked immediately after the ( and for the cursor to not go beyond the final ). Eventually, we plan to re-implement signature help using the IntelliSense engine so the experience should become better.

[2017-06-13 18:35] sean-mcmanus commented on #811
Oh, yeah, I've hit this "can't open file" thing. I assumed it was "by design". I think the popup model is annoying because it requires manual clicking to get rid of. Outputting the error to the Output window is less intrusive.

[2017-06-13 19:10] pieandcakes commented on #811
@ramya-rao-a These file don't exist on the users machine. The users are debugging in to library code that they may (but most likely) don't have. In that instance, I think @DigiAngel wants an option to stop getting notified that the files can't be found. I think this is a good feature per debug session or per instance of file but if the user starts another debug session, they should be notified onc

[2017-06-13 19:15] pieandcakes commented on #811
@sean-mcmanus the notification is by VS Code. Changing it to the output window *may* be better but I know people who have the debug Console up and not the Output window so it might be invisible to the user which isn't a good experience either.

[2017-06-13 20:46] pluskid commented on #239
Run into the same problem here:
[code]

The outputs above are shown in a popup macos terminal, and it was attempted to be run in fish shell.

[2017-06-13 22:52] ramya-rao-a commented on #811
cc @isidorn for thoughts on https://github.com/Microsoft/vscode-cpptools/issues/811#issuecomment-308218314

[2017-06-14 02:04] bryanfok commented on #821
By follow your procedure it works, I will do more test with other in-house c++ modules within the workspace, then I will close the issue. Thanks again.

[2017-06-14 02:23] #821 closed, assigned to nobody

[2017-06-14 04:13] refparo commented on #694
[code]
me too

[2017-06-14 06:59] cstrike opened #824 "External client that connect to the language server Microsoft.VSCode.CPP.Extension.exe"
I use lsp4j to implement a client to consume language server and launch the server Microsoft.VSCode.CPP.Extension.exe through command line. The client connects the server through stdin and stdout.
Although I set the root URI of the workspace, it seems that the server still cannot recognize the project and supply service based on the project. For example, when I send request like "textDocument/defi

[2017-06-14 07:07] aengusjiang opened #825 "-enable-pretty-printing option does't work for std::list on Windows but std::map does"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:
cpptools|ms-vscode|0.11.4|

Description：
when I using gdb debug c++ program  on Window10 with vscode, I find that-enable-pretty-printing option does't work for std::list  on Windows but std::map does.

it probably a bug.

[2017-06-14 07:37] isidorn commented on #811
@pieandcakes if the file is not available please send the [`presentationHint`](https://github.com/Microsoft/vscode/blob/isidorn/explorerModel/src/vs/workbench/parts/debug/common/debugProtocol.d.ts#L1099) of `deemphasize` and vscode shuold not automatically show it (note that I have only now pushed this change to vscode so you can pick it up in vscode insiders)

[2017-06-14 10:28] ZZYSonny commented on #823
Yes, it should just move the blinking cursor, but it didn't move and show the message that it can't open that file.
Does that have something to do with my other plugins (native debug)

[2017-06-14 10:31] ZZYSonny commented on #823
here is the photo after clicking the problem
![1](https://user-images.githubusercontent.com/28442838/27128028-a3d49c54-512f-11e7-89e8-0bfac668b75a.png)

[2017-06-14 11:01] DigiAngel commented on #811
Thanks for the chatter and discussion around this...really appreciate it.

[2017-06-14 11:35] HankB commented on #822
It consumes one core for about 24 minutes.
It must be doing a *lot* of parsing. This is on a laptop with an I7 processor and SATA SSD.
Due to the use of CPPunit test framework it references headers outside the directory tree. Is that causing a problem?
By comparison, a project builds and runs test cases in 2 seconds:
hbarta@yggdrasil:~/Documents/C/c-txtutil/cpputest-starter-project$ make clean
Mak

[2017-06-14 12:44] HankB commented on #822
I have just found that the same version of VS code and CPP extension does not exhibit excessive CPU usage in a resource constrained environment. Please see https://github.com/Microsoft/vscode/issues/28406#issuecomment-308418966 for additional details. (If you prefer, I will copy the entire comment here.)

[2017-06-14 14:18] nikitablack opened #826 "Mapping source files during gdb remote debugging."
Hello. I'm trying to remotely debug an executable in a docker container. I'm starting a `gdbserver localhost:2222 ./app` in the docker. And this is how my `launch.json` looks like:
[code]

The application starts, `gdbserver` reports me that remote session from the host begins, but I'm not able to hit a breakpoint because `gdb` can't find source files - paths in docker and host are different and `g

[2017-06-14 14:37] sean-mcmanus commented on #818
`_;` is an easy repro (`i++` would only repro the bug if `i` gives > 1000 results). With `_` the incomplete is intentional, because there are > 1000 results, and when the `;` is encountered, the results are still > 1000 because it's invoking autocomplete on a new empty identifier. It looks like we need to somehow force auto complete to exit (via sending an empty result) when the initial identifier

[2017-06-14 15:07] HankB commented on #822
On another PC Desktop) with a faster I7, more RAM and RAIDed SSDs I do not experience the excessive CPU issue so I am leaning toward the first possible cause in the previous comment (on the other issue. e.g. some residue in a file where VS code saves state that is causing a problem.)

Edit: Red herring - CPU usage on this other PC is high as well.

[2017-06-14 17:42] bobbrow commented on #818
This is a behavior change in VS Code.  Does not repro in 1.11.2 and earlier.  I am requesting that they address it.  It would be wrong for us to suppress completion results because we don't know whether the request is a continuation of a quick suggestion or completion trigger, or if is manually invoked.

[2017-06-14 18:10] bobbrow commented on #823
Does the message go away when you disable the other plugins?  That doesn't look like any of the messages that we would send.

[2017-06-14 18:29] pieandcakes commented on #811
@isidorn I can see what we can do. Which response does this lie in?

The problem is that we don't know if it should be available or not. We as the debugger don't know if its user or library code in C++ so we send back every path. If the user is doing remote debugging and didn't setup source mapping correctly, we do want those errors but with library code we don't. The simplest way would be for the

[2017-06-14 18:52] sean-mcmanus commented on #824
@cstrike What exactly is the client? Is it another VS Code or VS extension, a standalone process, or part of another IDE tool like Eclipse?

[2017-06-14 20:42] pieandcakes commented on #826
@nikitablack Please look at `"sourceFileMap"` tag in the configuration. You can look at https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md for more information. That should allow you to specify compile time source location and have it map to your local location.

[2017-06-14 20:43] pieandcakes commented on #825
@AbelaroJiang The pretty-printers are provided by gdb itself and not our extension.  I would verify that the version of gdb you are running has a pretty printer for that type.

Here is a reference for the gdb command:
https://sourceware.org/gdb/onlinedocs/gdb/Pretty_002dPrinter-Commands.html#Pretty_002dPrinter-Commands

[2017-06-14 22:57] bobbrow commented on #824
Hi @cstrike, unfortunately, using our language server outside of VS, VS Code, and Xamarin is in violation of our license agreement.

See the first item in `~/.vscode/extensions/ms-vscode.cpptools-<version>/LICENSE.txt`. We'll have to ask you not to use our extension binaries in lsp4j.

[2017-06-14 22:59] #824 closed, assigned to nobody

[2017-06-14 23:35] d-bahr opened #827 "No stdout when running gdb/gdbserver."
I have an ARM processor that is my target for debugging. I can successfully copy an executable to the target and debug it using gdbserver running on the target and gdb running on the host. The host is a Windows computer running WSL; the code is cross-compiled in WSL and all of the copying and debugging commands are also executed from within WSL. When I debug, I can see the gdb commands in the Debu

[2017-06-14 23:50] abbioro opened #828 "Linter provides no warnings for invalid C code"
See title, create a fresh `test.c` file with the contents:

[code]

(If) Linting is working properly, `asdfd` will be underlined with squigglies as you would expect. What you would not expect is that turning it into a function call makes the squigglies go away:

[code]

Furthermore, hovering over it produces the popup `int asdfd()`, as if it was defined to return int somewhere. This is just silly.

[2017-06-15 00:00] bobbrow commented on #828
Indeed.  That is silly.  We'll investigate.

[2017-06-15 00:07] sean-mcmanus commented on #828
This only repros in C files, not C++. It looks like the IntelliSense compiler is using the old default int function return value C89 behavior, so asdfd() is being interpreted as a declaration for "int asdfd()", even though we're passing in the C11 flag.

[2017-06-15 00:19] abbioro commented on #828
Ok so it's valid C89, but surely this should be an error even in C89?

[code]

The misspelled malloc line shows squigglies only when placed *outside* the `main` function, but no squigglies inside. Still shows the int hint.

[2017-06-15 00:29] sean-mcmanus commented on #828
Visual Studio 2017 also shows maloc (or any other undefined function call identifier) as being a function returning an int. I'll ask the VS-side people if they think our shared compiler has a bug.

[2017-06-15 01:25] sean-mcmanus commented on #828
While it's not valid in the C99 standard, it looks like all the C compilers we support don't support this rule, I assume because it would be a breaking change with C89. So this is currently "by design", but if you can locate us a compiler (or linter) that enforces the non-implicit int behavior, we theoretically could add a new flag to trigger the enforcement behavior.

[2017-06-15 01:57] SkyRiderMike commented on #710
That's great to hear...i am looking forward windows' version of visual code cpptools will support bash on ubuntu gcc mode

[2017-06-15 03:02] d-bahr commented on #827
I've been able to reproduce this running locally with a simple gdb on my host machine. The application output and gdb output are both in the Debug Console; `externalConsole` seems to have no effect.

Sample launch.json:

[code]

[2017-06-15 05:06] bobbrow commented on #710
@eesaber I had success with the following config:

[code]

An option to select clang/gcc mode on Windows is coming in the next update.  I have tested it with MinGW on Windows and it works well for me.  I will test it with WSL tomorrow.  Watch the release notes for instructions.  We'll add a FAQ for WSL with this config in it as well, since we're not going to auto-detect it for you right now.

[2017-06-15 07:10] GACLove opened #829 "Can not debug windows dll files compiled with gcc"
### example
[demo.zip](https://github.com/Microsoft/vscode-cpptools/files/1076839/demo.zip)

![example](https://user-images.githubusercontent.com/8307193/27169511-c16c0844-51dc-11e7-9b0a-f1e63d725b69.png)
**tools**
+ cmake
+ gdb (version 8.0)

[2017-06-15 08:01] isidorn commented on #811
@pieandcakes you can have the presentationHint as part of the [`StackFrame`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/debugProtocol.d.ts#L1127) or the [`Source`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/debugProtocol.d.ts#L1099)

If we want to give more control to the user to choose which warnings to see that wou

[2017-06-15 09:55] ZZYSonny commented on #823
Oh, I have found a mistake in my tasks.json .
I used "fileLocation": ["relative", "${workspaceRoot}"],
when I changed to "fileLocation":"absolute",
It became ok.

I will close this problem.

[2017-06-15 09:55] #823 closed, assigned to nobody

[2017-06-15 10:55] nikitablack commented on #826
@pieandcakes Thank you, that works. But the link you provided doesn't have any information about `sourceFileMap`.

[2017-06-15 10:55] #826 closed, assigned to pieandcakes

[2017-06-15 12:26] eesaber commented on #710
@bobbrow I success too. Thank you so much!

[2017-06-15 15:47] bobbrow commented on #430
Closing this issue.  If you see continued crashes, please open a new issue and share callstacks if possible. Thanks!

[2017-06-15 15:47] #430 closed, assigned to nobody

[2017-06-15 19:37] abbioro commented on #828
Sorry I'm not sure I understand, the last example I posted doesn't compile with either GCC or Clang even with `-std=c89`, yet VS Code doesn't show any error squigglies for it. Is it not an error? Something is definitely wrong here. There should at least be warnings.

[code]

[2017-06-15 22:11] zajo commented on #785
@bobbrow Thank you for creating this issue -- in the meantime, what are my options for preventing intellisense from spawning 10 threads and using 100% of the CPU power for 15 minutes every time I open a C++ project in vscode (the end result for me being a whole lots of bogus red squiggles) without disabling the debugger as well?

[2017-06-15 22:21] gulshan commented on #16
A new tree view api has been added to vscode. So, this should be doable now.

[2017-06-15 23:09] sean-mcmanus commented on #16
Looks like https://code.visualstudio.com/docs/extensionAPI/vscode-api#TreeDataProvider .

[2017-06-15 23:18] sean-mcmanus commented on #828
Thanks for the info. The compiler is not giving you an error -- it successfully compiles and fails during linking. IntelliSense currently only gives compiler errors. This sounds like a feature request for warnings and/or linker errors.

[2017-06-15 23:27] bobbrow commented on #785
Until this issue is addressed the way to consume the least amount of power is to use the following settings:

### In settings.json:
[code]

### In c_cpp_properties.json
[code]
By emptying the browse.path array, the extension should stop indexing your project folder which will effectively neutralize the language service features, however the side effect is that you will get squiggles on most, if no

[2017-06-15 23:49] abbioro commented on #828
Warnings + linker errors sounds good to me.

[2017-06-16 02:19] aengusjiang commented on #825
Ok, I will take some time to have a look.

[2017-06-16 09:48] Numinel commented on #557
How do I specify the variable name with the below command in the debug console?
-exec -var-set-format <name> <format>

If I use the above command while on a breakpoint (using gbg) I always get the error "msg: Variable object not found" but adding the variable name to the watch window works.

[2017-06-16 12:22] netdiver13 opened #830 "No Format Document for C++ on Linux (RH)"
There are no "Format Document/Selection" options on Linux (at least, by default), while on Windows they are available right after installing the C/C++ extension!

[2017-06-16 14:06] sean-mcmanus commented on #830
What is your Linux distro version? Are you using 32-bit Linux? The language service requires 64-bit and glibc 2.18 or greater, which RHEL 7 doesn't have (for a work around, see https://github.com/Microsoft/vscode-cpptools/issues/19 ).

[2017-06-16 14:43] netdiver13 commented on #830
Centos 7, 64 bit
So, it's all due to the glibc 2.18 dependency?
Thanks

[2017-06-16 14:45] sean-mcmanus commented on #830
Yes.

[2017-06-16 14:45] #830 closed, assigned to nobody

[2017-06-16 15:19] AlanRosenthal opened #831 "No longer able to debug"
Latest Insiders
`Version 1.14.0-insider
Commit 73015a5e052e6de8ecd60eed2670bea81fad8cac
Date 2017-06-16T05:10:46.035Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0`
Ubuntu 16.04 x64

Here's the Debug Console Log:
[code]

[2017-06-16 16:57] hoffmael commented on #16
Can I vote twice for this one? The well implemented call hierarchy is the main reason eclipse is still my go-to IDE as its an invaluable tool to navigate 1M+ LOC code bases.

[2017-06-16 19:20] pieandcakes commented on #557
@Numinel Are you doing this on Mac or Linux?

So the format of `-var-set-format` seems to be `-var-set-format <NAME> <FORMAT>` where name is the automatic variable name assigned by gdb/lldb.

I enabled `"logging": { "engineLogging": true }` and I looked for the lines where `-var-create` was called for Variables and the response will have the <NAME> that you need to specify.

1: (928) ->1023^done,n

[2017-06-16 19:23] pieandcakes commented on #831
@AlanRosenthal if this is the entire engine log, I see we're expecting to find Thread ` but gdb doesn't look like it ever sent us the thread created event for id `2` (named Thread 1)  which is why we are not able to debug. This doesn't look like a VSCode issue, more like a gdb issue.

[2017-06-16 19:46] AlanRosenthal commented on #831
I'm able to successfully use gdb without vscode.

Vscode used to successfully debug with my current settings.

On Fri, Jun 16, 2017, 3:23 PM Pierson Lee <notifications@github.com> wrote:

[2017-06-16 20:00] pieandcakes commented on #827
@d-bahr Setting `externalConsole` to true tells us to send `-gdb-set new-console on` only in the instance of local launching. In the remote (pipeTransport scenario), this doesn't make sense and is ignored since gdb doesn't know where to open the console.

Is there a reason why you are using two different remoting processes? Could you use the `pipeTransport` option with a Windows SSH program (such

[2017-06-16 21:00] pieandcakes commented on #831
Does your scenario work with Stable VS Code?

[2017-06-16 21:00] AlanRosenthal commented on #831
Both no longer work

On Fri, Jun 16, 2017, 5:00 PM Pierson Lee <notifications@github.com> wrote:

[2017-06-16 21:41] pieandcakes commented on #829
@GACLove The problem with the project is you didn't specify CMAKE_BUILD_TYPE of Debug. Once I did that in the CMake configuration, it worked.

[2017-06-17 05:35] melonshell commented on #545
@Friduric @Eraldoosantos
it doesn't work, include iostream remains red, help me, vscode1.13.1, win10
{
            "name": "Win32",
            "includePath": [
                "${workspaceRoot}",
                "C:/cygwin64/lib/gcc/x86_64-pc-cygwin/5.4.0/include/c++/*"
            ],
            "defines": [
                "_DEBUG",
                "UNICODE"
            ],
            "browse":

[2017-06-17 06:37] ramya-rao-a opened #832 "includePath doesn't work"
_From @vinnyin on June 17, 2017 5:24_

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.5|
|vscode-lua|gccfeli|0.1.2|
|cpptools|ms-vscode|0.11.4|;

my stl source code is located at F:/code/stl
here is my c_cpp_properties.json:
{

[2017-06-17 21:01] bobbrow commented on #756
@sknavilehal, we currently only release a 64-bit version of the extension for Linux.

[2017-06-18 06:34] ronys commented on #801
Yes, setting http.proxyStrictSSL" to false fixed this issue. Ticket can be closed.

Thanks!

[2017-06-18 09:40] d-bahr commented on #827
@pieandcakes The decision to avoid gdbserver basically boils down to wanting VSCode to be in charge of starting the debugging session. I could start gdbserver manually on the remote ARM, but that's an extra step that I would prefer to eliminate. Also, it seems that gdbserver is significantly slower than gdb to launch a new debugging session (this is related to our setup; not related to VSCode). So

[2017-06-18 20:27] weinand opened #833 "Debugging: Unable to halt execution using arm gdb"
_From @am1ko on April 26, 2017 19:21_

- VSCode Version: 1.11.2 (1.11.2)
- OS Version: MacOS Sierra 10.12.3

Steps to Reproduce:

1. Setup launch.json to use arm-none-eabi-gdb for debugging a c program on an embedded target (see attached launch.txt)
2. Set one breakpoint to beginning of main
3. Start debug session
4. Breakpoint in main fires. Press "play" button to continue
5. Try to halt the targ

[2017-06-18 20:27] weinand commented on #833
_From @timurey on June 18, 2017 18:30_

Have the same issue.

[2017-06-19 02:07] dmrauch opened #834 "Association of breakpoints and file editors not working in remote debugging of multiple source code folders"
When remotely debugging C++ source code residing in a "complex" folder hierarchy VS Code seems to lack proper graphical debugging integration in the GUI. Specifically, when break points are hit, the editor does not properly indicate this.

A full minimal working example including step-by-step instructions to reproduce this issue is available at [dmrauch/vscode-cpp-remote-debug](https://github.com/

[2017-06-19 12:06] csholmq commented on #661
@bobbrow @sean-mcmanus From #779 I understood that this was related to supporting ARM code. In what way? Is there a workaround? And is there a timeline?

[2017-06-19 14:49] Numinel commented on #557
I use Linux. The log show that my variable is mapped to the internal name "var29" and when using the command '-exec -var-set-format "var29" hex' the output will be shown as hexadecimal.
It was unclear to me that I had to use a different name that the variable name.

Adding a variable to the watch window with "<name>,h" is way better though.

[2017-06-19 15:33] dtasev commented on #740
I was having the same issue on Ubuntu 16.04. Adding `"/usr/lib/gcc/x86_64-linux-gnu/5.4.0/include"` indeed solved the issue (as the guy above). Something I noticed was that `size_t` would fail, but `std::size_t` would be properly found without the additional include.

[2017-06-19 15:35] tilman22 opened #835 "Debugger: std::maps where the key is a class are not displayed correctly"
Hi,

please see the following test code:
[code]

The key of the second map (intmap3) is a class. Instances of this map can be pretty-printed by gdb correctly:
[code]
But this instance intmap3 is not displayed by vscode/cpp-extension correctly:
[https://www.dropbox.com/s/57g077p5hpt42cz/png.png?dl=0](url)

https://www.dropbox.com/s/57g077p5hpt42cz/png.png?dl=0

Tilman

[2017-06-19 15:54] dtasev commented on #786
Good to hear semantic autocomplete is in the works

[2017-06-19 18:02] #801 closed, assigned to nobody

[2017-06-19 18:05] pieandcakes commented on #834
@dmrauch I think you want `"sourceFileMap"` option in `launch.json`. You should be able to specify a few different ones to get the compiled source location to be mapped to the local source location.

[2017-06-19 18:06] pieandcakes commented on #833
@am1ko @timurey If you set "stopAtEntry" to true does it stop? Did you compile with the `-g` flag?

[2017-06-19 18:14] am1ko commented on #833
I just tried "stopAtEntry" and it seems to have no effect whatsoever.
I am compiling with -g flag. Here are the compiler flags I use:

arm-none-eabi-gcc -x assembler-with-cpp -c -mcpu=cortex-m7 -mthumb -mfpu=fpv5-sp-d16 -mfloat-abi=hard -O0 -Wall -fdata-sections -ffunction-sections -g -gdwarf-2

For me, execution halts on a breakpoint at the beginning of main regardless of "stopAtEntry" value. I c

[2017-06-19 18:25] pieandcakes commented on #833
@am1ko Can you enable `"logging" : { "trace": true, "traceResponse": true, "engineLogging": true }` and retry your scenario and send me the log?

I have seen issues in GDB where it won't allow us to set breakpoints while running in MI mode.

[2017-06-19 18:28] am1ko commented on #833
[launch copy.json.txt](https://github.com/Microsoft/vscode-cpptools/files/1085938/launch.copy.json.txt)

[2017-06-19 18:35] am1ko commented on #833
[debug_log.txt](https://github.com/Microsoft/vscode-cpptools/files/1085955/debug_log.txt)

[2017-06-19 18:37] am1ko commented on #833
@pieandcakes logs attached

I tried to halt and add breakpoints from vscode when recording the log but I see no log entries written at those times.

The breakpoint you see being hit is something that I trigger by controlling the ui of the program being debugged.

[2017-06-19 23:34] dmrauch commented on #834
This indeed fixed it - awesome, many thanks, @pieandcakes!
All that was needed in this case was to map the remote file system root (`/`) to the local file system root (in my case `/run/user/1000/gvfs/sftp:host=<remote-host>/`).

[2017-06-19 23:34] #834 closed, assigned to nobody

[2017-06-20 12:33] sandipanbiswas commented on #16
Awesome feature to have! Right there on the top of bucket list..

[2017-06-20 14:07] timurey commented on #833
My gcc options: `-mcpu=cortex-m3 -mthumb -fmessage-length=0 -ffunction-sections -fdata-sections -std=c11 -Og -g3 -flto`
[launch.json.txt](https://github.com/Microsoft/vscode-cpptools/files/1088404/launch.json.txt)
And I have absolutely same reaction on trying to halt or add breakpoint while programs is running.

But if I connect to openocd via telnet, I can halting program by `halt` command.

[2017-06-20 19:54] sean-mcmanus commented on #661
The IntelliSense engine needs to have certain flags for ARM mode, but we don't have a timeline for when support will be added. Our next release will have a msvc.64.intel.clang.json file, which is for a Windows host targeting Linux (the contents are the same as the current msvc.64.linux.json), but that might not work for ARM. We don't have a verified workaround yet, other than falling back to the T

[2017-06-21 03:14] GACLove commented on #829
it's work after changed mingw 64 gdb, thanks

Sent from Mail Master
On 06/17/2017 05:41, Pierson Lee wrote:

@GACLove The problem with the project is you didn't specify CMAKE_BUILD_TYPE of Debug. Once I did that in the CMake configuration, it worked.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-06-21 08:23] neilyoung commented on #690
I'm still suffering from the crashes in Microsoft.VSCode.CPP.Extension.darwin. Any news here?

[2017-06-21 09:26] dirkseidel commented on #788
Since some update of the extension there is now a file c_cpp_properties.json in ${workspaceRoot}/.vscode where databaseFilename was set to "~/browse.VC.db". Unfortunately ~ could not be resolved and the database file was never written to disk. I changed ~ to the explicit path and now the file is present.
In our project it amounts to 1.6GB and it now takes roughly 10min after a restart to be able t

[2017-06-21 12:09] iuuniang opened #836 "Installing package 'C/C++ language components (Windows)' failed"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.11.4|;

---

Steps to Reproduce:

Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)' (4663 KB) .................... Done!
Downloading package '

[2017-06-21 12:11] iuuniang commented on #694
Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)' (4663 KB) .................... Done!
Downloading package 'ClangFormat (Windows)' (905 KB) .................... Done!
Downloading package 'Visual Studio Windows Debugger' (12081 KB) .................... Done!

Installing package 'C/C++ language components (Windows)'
Warning: File 'C:\Users\iuuni\.vscode\extens

[2017-06-21 15:04] csholmq commented on #661
I seem to have a shift in error messages. But still no luck.

[code]
despite
[code]

[2017-06-21 15:52] daldr-ntml opened #837 "Include path is not working"
VS Code 1.13.1, C/C++ 0.11.4, on Windows platform.

snippet from my c_cpp_properties.json:

        {
            "name": "Win32",
            "includePath": [
                "C:/Leda_sdk/sysroots/haswell-64-wrs-linux/usr/include/c++/5.2.0/*"
            ],
            "browse": {
                "limitSymbolsToIncludedHeaders": true,
                "databaseFilename": "c:/SVNProj/Leda/trunk/sof

[2017-06-21 17:34] TimCondon opened #838 "Code navigation shortcuts do not work after update"
I recently updated to VSCode 1.13, and many code navigation shortcuts no longer work - such as switch header/source, go to declaration, navigate..., go to Symbol, etc. The navigation shortcuts that still work include going to a particular line (:) and go to file.

This is true even after a clean reboot with all other VSCode extensions disabled, and it affects these commands whether executed via sh

[2017-06-21 18:28] #829 closed, assigned to pieandcakes

[2017-06-21 18:47] sean-mcmanus commented on #690
The next update will fix some crashes and uses an auto-restart for intermittent crashes and falls back to the Tag Parser, so the crash popup won't appear anymore. We have a bunch of known crashes on our backlog we plan to investigate/fix later.

[2017-06-21 18:54] sean-mcmanus commented on #788
That is expected, but the results should be saved to the database after reopening the workspace, so subsequent opens should be faster. You can make definitions be available earlier by putting them earlier in the browse.path.

[2017-06-21 19:00] sean-mcmanus commented on #837
What is the message for the squiggle and what is your intelliSenseEngine set to? For includePath, "*" is ignored at the end (it means don't search recursively for browse.path). Win32 is automatically used for Windows -- you can see the current config name in the bottom right corner. Changing the includePath and saving the .json file should refresh the results -- unless the file watcher on the conf

[2017-06-21 19:07] sean-mcmanus commented on #838
Can you delete your c_cpp_properties.json and create a new one? You may also want to delete your .browse.vc.db (or rename the databaseFilename). What result do you get when it fails? Have you tried opening a new folder with a simple C++ example?

[2017-06-21 20:08] TimCondon commented on #838
Hi @sean-mcmanus --

Deleting the c_cpp_properties.json (and creating a new empty file with the same name, as a seperate test) had no effect, nor did deleting all the browse.vc.db. I also created a new folder with a very simple .hpp and matching cpp, and I get the same (broken) behavior.

For some operations such as switch header/source, go to declaration, and navigate..., nothing happens at all.

[2017-06-21 20:26] ranolfi commented on #572
The proposed fix didn't work for me, nor did changing `"C_Cpp.intelliSenseEngine"` to `"Default"`.

I'm using version 1.1.13 in Arch Linux with Cinnamon.

For example, if I type in a `.c` file:

[code]
autocomplete doesn't work in line 2.

What _did_ solve the autocomplete issue for me, was setting `"C_Cpp.autocomplete"`: as `"Disabled"`. However, right click -> Go to definition still doesn't work

[2017-06-21 21:05] sean-mcmanus commented on #838
You don't want to create an empty c_cpp_properties.json -- you want the default from C/Cpp: Edit Configurations.

[2017-06-21 21:07] sean-mcmanus commented on #572
We do not implement autocomplete or go to definition for local variables -- only hover and error squiggles will work with local variables (and only when the intelliSenseEngine is Default).

[2017-06-21 22:29] TimCondon commented on #838
Hi @sean-mcmanus --

Thanks for the clarification. Unfortunately, I see the same behavior with running that command from the palette, and I verified the content of the newly created c_cpp_properties.json file seems reasonable.

It's probably worth noting that VSCode doesn't seem to regenerate the .db file after I've deleted it, it doesn't show the red platform flame icon at all (even for a very la

[2017-06-21 22:38] sean-mcmanus commented on #838
You only want to delete the .browse.vc.db once (in case it's somehow corrupt with old data). The database should get re-created when you re-open the workspace. Setting the databaseFilename to "${workspaceRoot}/.vscode/.browse.vc.db" is convenient for diagnosing issues. For the browsing features to work, the database file will need to exist, and the red flame in the right should appear for a little

[2017-06-21 22:54] TimCondon commented on #838
Hi @sean-mcmanus --

Yes, I only deleted the .browse.cs.db file once, and it does not get recreated when I reopen a workspace (regardless of whether I change databaseFilename or not). I also do not see a process named anything like "Microsoft.VSCode.CPP.Extension.linux process." What might prevent this process from running?

--Tim

[2017-06-21 22:57] sean-mcmanus commented on #838
What is your Linux distro? The process requires glibc version 2.18 and 64-bit Linux. We're not aware of other requirements. Are you saying that only an older version of the extension created a .browse.vc.db and you can't get the newer version of our extension to launch the Linux process or create the .browse.vc.db?

[2017-06-22 00:09] ranolfi commented on #572
I see. It says:

Does this means that autocomplete is within the scope of this project, and will be implemented in the future?

I imagine most developers don't enjoy having to re-type locally-defined names around, for various reasons.

[2017-06-22 00:42] sean-mcmanus commented on #572
Yeah, we are releasing the autocomplete using the Default intelliSenseEngine in our next update, but it will only work after a member operation (i.e. after scoped `. | -> | ::`) and not local/global variables (the non-scoped case needs more work, but we don't have an ETA yet).

[2017-06-22 02:56] chaoer opened #839 "Quick info shows on hover over comments"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.11|
|beautify|HookyQR|1.1.1|
|cpptools|ms-vscode|0.11.4|
|cmake|twxs|0.0.17|
|cmake-tools|vector-of-bool|0.9.7|;

---

Problems:
_I have already post this to Microsoft/vscode (

[2017-06-22 04:32] sean-mcmanus commented on #839
This is a duplicate of https://github.com/Microsoft/vscode-cpptools/issues/559 . Changing the intelliSenseEngine to Default will fix the issue, but you'll probably have to setup the includePath and defines correctly (our next update will make this easier to setup).

[2017-06-22 04:32] #839 closed, assigned to nobody

[2017-06-22 06:07] tilman22 commented on #835
We are using a lot of std::maps<TKey, TValue> where TKey is not a primitive but a class. It is annyoing (remark: all in all, vscode is the very best editor I ever worked with!) that the debugger is not able to output the key-value.

But there is a workaround: In the printer.py file, change the display-hint from "map" to "array" (or comment out this function at all). At least, you will be able to s

[2017-06-22 07:14] chaoer commented on #839
@sean-mcmanus  I got it. Thanks.

[2017-06-22 08:49] daldr-ntml commented on #837
Thank you for your reply.  Adding:

  "C_Cpp.intelliSenseEngine": "Default"

to the workspace settings fixed the problem (it wasn't set before).

Perhaps this needs to be made clearer in the documentation?

[2017-06-22 08:49] #837 closed, assigned to nobody

[2017-06-22 13:05] dirkseidel commented on #788
The initial scan (after deleting the database files) takes approx. one hour. But after that I am stuck with the 10min delay after restart before I can jump to definitions.
I then set "C_Cpp.addWorkspaceRootToIncludePath" to false and included all subdirectories from ${workspaceRoot} in c_cpp_properties.json (configurations->browse->path). Even when I put all subdirectories most relevant to me at t

[2017-06-22 14:30] sean-mcmanus commented on #837
We have an FAQ at https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/FAQ.md . The intelliSenseEngine is default to "Default" in the Insider's build, and we eventually plan to re-enable it as the default for the non-Insider's build too.

[2017-06-22 14:35] daldr-ntml commented on #837
Thank you for the link to the FAQ.

[2017-06-22 14:42] sean-mcmanus commented on #788
Yeah, it looks like our database needs to add the file locations to memory at runtime. It's always been this way, but I haven't digged into the reason for this, so it could be a bug. The intelliSenseEngine features only need to compile the current translation unit, so it should be faster, but we haven't added go to def yet for that.

[2017-06-22 18:36] joelhock opened #840 "debugger: coreDumpPath ignored on mac, even when remote debugging via pipeTransport"
I use vscode on a mac to interact with gdb running on linux using pipeTransport.  Everything works great, except when trying to look at a core file.  I have something like:
[code]

So, `coreDumpPath` is specified, but the logging reports `IsCoreDump: false`:

[code]

I'm not sure if the issue stems from the version of the debugging support that vscode downloads for the mac being too old, or whethe

[2017-06-22 19:50] pieandcakes commented on #840
@joelhock I've never tried on mac before. We don't download gdb to the mac so if the version you have is older that might be an issue. I also don't know if pipeTransport and core dump debugging are compatible.

Can you try and enable `"logging": { "engineLogging": true }` and when you start debugging you will see a lot of lines at the top that say something like `LocalLaunchOptions` or `PipeLaunch

[2017-06-22 21:00] joelhock commented on #840
You're misunderstanding a bit.  gdb isn't running on the mac at all;  I'm using pipeTransport to run gdb on a linux box and the gdb mi traffic is being piped between vscode on the mac and gdb running on the linux box.

I don't quite understand how pipeTransport fits into the whole process, but I would think that loading the corefile would be part of the gdb mi commands that vscode sends, so I woul

[2017-06-22 21:15] pieandcakes commented on #840
@joelhock A couple of things:

These are the mono framework assemblies and doesn't affect how the debugger works. They are used to run the intermediate layer as a framework such as .NET Framework.

It looks like in the pipeTransport case we might not be forwarding the coredump path to MIEngine. I'll track this as a bug and investigate further when I have some time.

[2017-06-22 21:44] joelhock commented on #840
ok, that makes sense.  thanks!

[2017-06-22 22:58] GACLove commented on #829
https://nuwen.net/
I now use the nuwen version 15 compiler and TDM GDB. The GDB of nuwen cannot load the dynamic library symbol  @pieandcakes

[2017-06-22 23:02] pieandcakes commented on #829
@GACLove Sounds like that version of 'gdb' has a compatibility issue?  Can you give me more information about this error:

If the implementation on that version of gdb is missing something, then there isn't anything I can do.

[2017-06-23 04:11] alexchicn commented on #836
I have same problem.
You need reinstall C/C++ and update C/C++ dependencies again by proxy, if you are in China like me.

[2017-06-23 08:16] iuuniang commented on #836
"C:\Users\<username>\.vscode\extensions\ms-vscode.cpptools-0.11.4\package.json"

Open the file, and then find the corresponding project download link, manually extract.

[2017-06-23 08:16] #836 closed, assigned to nobody

[2017-06-23 14:47] netdiver13 opened #841 "C++, No Type highlighting (except for fundamental types) on Linux"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:18:03.540Z)
- OS Version: Linux x64 3.10.0-514.21.2.el7.x86_64
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.2|
|cpptools|ms-vscode|0.11.4|
|cmake|twxs|0.0.17|;

Also I would like to note that I've already resolved the "GLIBC 2.18 dependency" using the suggested workaround :

[2017-06-23 14:59] bobbrow commented on #841
When you say it's "not highlighted" are you referring to the coloring of the text?  Our extension doesn't currently provide any coloring help above what VS Code gives you.

[2017-06-23 16:37] Grohden commented on #93
I don't know if it's the same problem, but I had a similar problem in Windows, there were two environment variables pointing to gdb, one was from minGW and the other was from Haskell, I do not know why VSCode got it from haskell (when I typed `where gdb` on powershell the return was the mingw path) but when I deleted the haskell variable and restarted the VSCode, it worked.
Probably it was because

[2017-06-23 17:06] iFreilicht opened #842 "Include file not found in include path. Unless it was opened already."
I'm using the C/C++ and Arduino extension to program for an Arduino Micro.

![Extensions](https://user-images.githubusercontent.com/9742635/27492123-55404ee0-5845-11e7-9be0-e7a29600e73b.PNG)

When opening the Arduino core files, I get error messages like these:

![Includes](https://user-images.githubusercontent.com/9742635/27492024-eadbfce8-5844-11e7-874f-4d2e8f580413.PNG)
![Includes with error me

[2017-06-23 17:14] sean-mcmanus commented on #842
You appear to be using the intelliSenseEngine "Tag Parser", which uses the browse.path setting instead of the "includePath" setting, so it seems like you should add paths to the browse.path.

[2017-06-23 17:17] iFreilicht commented on #842
@sean-mcmanus that was it

[2017-06-23 17:17] #842 closed, assigned to nobody

[2017-06-23 19:23] sean-mcmanus commented on #841
It looks like the atom/language-c colorization colors anything ending with _t in the name a special color, no matter what.

[2017-06-23 19:26] sean-mcmanus commented on #841
Look like bug https://github.com/atom/language-c/issues/207 (there might be others too).

[2017-06-23 19:26] #841 closed, assigned to nobody

[2017-06-24 01:37] sean-mcmanus commented on #788
I believe we have a fix for this bug. I don't think it will make it for Monday's update though. The bug we found only affected the Go To Definition code and was preventing it from working until all the files were re-scanned, which is unnecessary when the file was already previously added to the browse database.

[2017-06-24 14:37] szabolcsdombi commented on #746
This is solved by now, closing the issue.

[2017-06-24 14:37] #746 closed, assigned to nobody

[2017-06-26 06:12] David-AJ opened #843 "How to Autocomplete headers?"
Actually vscode-cpptools works better than I expected.  But the Autocomplete is really confusing me! I have already added all my `#include` headers into the includePath of `c_cpp_properties.json`, but it still can't auto-complete those headers. How can I do for that?

[2017-06-26 06:19] David-AJ commented on #843
BTW, my OS is Windows10 and cpptools version is 0.11.4.

[2017-06-26 08:17] montery8 opened #844 "installation issue"
visual studio code vsersion 1.13.1

Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)' (4663 KB) .................... Done!
Downloading package 'ClangFormat (Windows)' (905 KB) .................... Done!
Downloading package 'Visual Studio Windows Debugger' (12081 KB) .................... Done!

Installing package 'C/C++ language components (Windows)'
Warning:

[2017-06-26 13:28] DFVSQY opened #845 "Locate symbols wrongly when the cpp file is changed and not saved"
The C/C++ is very good, but there are some deficiencies.
Symbol Searching works well when the cpp files are saved. like below:
![qq 20170626211826](https://user-images.githubusercontent.com/8075421/27541057-12bab8fe-5ab5-11e7-98ef-feebd5823093.png)
And i changed the file and didn't save, so it is not right, like below:
![qq 20170626212218](https://user-images.githubusercontent.com/8075421/27541201

[2017-06-26 13:32] DFVSQY commented on #845
C/C++ Extension version : 0.11.4
OS : Windows 10 pro

[2017-06-26 13:48] szabolcsdombi commented on #845
try saving the file first.
Oh I see the full title now, sorry.
How do you expect external modules to analyze files **not** saved? Where should those collect the necessary data? directly from your editor? then what about having the file open 3 times with three different content?

[2017-06-26 13:53] DFVSQY commented on #845
I know it, but i don't want to save frequently.
Sometimes i just want it to be unsaved. I really want you to fix this.

[2017-06-26 14:00] DFVSQY commented on #845
What ?
I just want to locate symbols right when i changed the cpp file and didn't save it. i don't know external modules and don't care it.

[2017-06-26 15:07] sean-mcmanus commented on #843
Autocomplete inside of #include <> or "" isn't implemented yet. I know this issue has been reported before, but I don't know the issue number.

[2017-06-26 15:09] sean-mcmanus commented on #844
Can you delete your extension folder and try again?

[2017-06-26 15:12] sean-mcmanus commented on #845
Yeah, I think it would be possible for us to implement. The IntelliSense engine features work without file saving (hover and errorSquiggles). We don't have an ETA yet.

[2017-06-26 15:16] bobbrow commented on #832
Can you try copying `"F:/code/stl"` into the browse.path array and let us know if you are still having problems after that?

[2017-06-26 15:30] sean-mcmanus commented on #788
Our plan is to ship the fix for this in 0.12.1 next week.

[2017-06-26 15:46] David-AJ commented on #843
#802
I guess I've found that issue.
Thank you, hope you and your team can implement this feature soon!

[2017-06-26 16:03] #843 closed, assigned to nobody

[2017-06-26 18:34] sean-mcmanus commented on #788
We changed our plans. The fix will be in the pending release (0.12.0). BTW, it was a regression introduced in 0.11.0. An additional issue -- if your intelliSenseEngine is "Default", the Go to Definition (and everything else) may be blocked for a few seconds until the "errorSquiggle" code finishes. We don't have a fix ETA for that issue.

[2017-06-27 06:50] Jamen1993 opened #846 "Recursive include paths"
I would be very grateful if you would enable support for recursive header search. Typing every single folder from i.e. Boost into the c_cpp_properties file is really annoying.

Kepp up the good work (y)!

[2017-06-27 13:29] DFVSQY opened #847 "Be a little puzzled about the intellisense ???"
![qq 20170627211903](https://user-images.githubusercontent.com/8075421/27589525-54127d40-5b7e-11e7-91e4-4815b18f53b0.png)
Doc says that i need a c_cpp_properties.json file to enable code completion and navigation. But i have code completion and navigation whitout this file, like below:
![qq 20170627212151](https://user-images.githubusercontent.com/8075421/27589642-b715773a-5b7e-11e7-8bcc-e22a53ffb

[2017-06-27 13:51] DFVSQY opened #848 "I hope the intellisense engine can work without file saving"
When i have a cpp file and don't save it, the errorSuiggle doesn't appear, like below:
![qq 20170627214716](https://user-images.githubusercontent.com/8075421/27590769-4475924c-5b82-11e7-9601-b6203eeba159.png)
The errorSuiggle appears when i save the file, like below:
![qq 20170627214858](https://user-images.githubusercontent.com/8075421/27590835-82e20164-5b82-11e7-8b33-b9ecb9688dc6.png)
So i hope

[2017-06-27 13:54] sean-mcmanus commented on #847
If you don't have the c_cpp_properties.json yet, it uses the default. For the Default IntelliSense engine to work, you'll probably need to add additional includePath settings, but with the Tag Parser engine, the default c_cpp_properties.json is more likely to give results.

[2017-06-27 13:54] #847 closed, assigned to nobody

[2017-06-27 14:09] sean-mcmanus commented on #848
Using the Default "intelliSenseEngine" setting gives errorSquiggles without saving the file. What you appear to be seeing is the Tag Parser showing a squiggle for missing headers, which requires the file to be saved first (https://github.com/Microsoft/vscode-cpptools/issues/845 is tracking that).

[2017-06-27 14:09] #848 closed, assigned to nobody

[2017-06-27 15:07] sean-mcmanus commented on #846
Is this for compiling Boost or using the headers in your own project? If you add the path to the boost headers and reference stuff like "boost/math/complex.hpp", you shouldn't need the paths to be recursive. I assume this is with the "Default" intelliSenseEngine, because the browse.path is recursive already.

[2017-06-27 17:52] Jamen1993 commented on #846
Hi Sean,

thank you for your reply. I am afraid that I wasn't aware of that
problem/feature because I couldn't find it in the documentation on the VS
Code website. The folks on Stackoverflow told me that VSC doesn't support
recursive includes too and I couldn't find a related issue.

I just want to use VSC as an editor with advanced auto completion and look
up features. The browse path would proba

[2017-06-27 18:02] sean-mcmanus commented on #846
We have an FAQ at https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/FAQ.md and a blog at https://blogs.msdn.microsoft.com/vcblog/2016/03/31/cc-extension-for-visual-studio-code/ . The Tag  Parser (browse.path) supports the features in a "fuzzy" way. You just need to add the paths (they are recursive by default). We support workspace relative paths via `${workspac

[2017-06-27 18:04] Jamen1993 commented on #846
Thank you Sean, I will have a look at your suggestions.

Sean McManus <notifications@github.com> schrieb am Di., 27. Juni 2017,
20:02:

[2017-06-28 00:42] zhu-xiaoming commented on #694
Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)' (4922 KB) ............. Failed. Retrying...(4922 KB) .................... Done!
Downloading package 'ClangFormat (Windows)' (905 KB) .................... Done!
Downloading package 'Visual Studio Windows Debugger' (12081 KB) .................... Done!

Installing package 'C/C++ language components (Windows)'
F

[2017-06-28 00:53] heaths opened #849 "Wildcard directory name searches"
The `includePath` doesn't seem to work with NuGet packages since the directory name includes the version. For example, if we use package rapidjson 1.0.2 and later upgrade, we'd have to update references to "packages/rapidjson.1.0.2/build/native/include" in this file - in additional to any packages.config files. It would be nice if we could use wildcards in directory specifiers or some other means

[2017-06-28 05:12] sean-mcmanus commented on #849
I also hit this every time my VC tools version updates.

UPDATE: We added a WindowsSDKVersion setting to c_cpp_properties.json and also use the matching includes for cl.exe when set in compilerPath for a particular VC toolset. But a wildcard in general hasn't been added yet.

[2017-06-28 06:12] lihuanglx opened #850 "IntelliSense include error on Mac: cannot open source file "endian.h""
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|latex-workshop|James-Yu|2.7.0|
|python|donjayamanne|0.6.5|
|code-runner|formulahendry|0.6.24|
|cpptools|ms-vscode|0.12.0|
|java|redhat|0.6.0|;

---

I've been playing with the IntelliSense feature by setting `C_C

[2017-06-28 08:12] MathiasMagnus commented on #156
@sean-mcmanus I was talking about the feature **this** issue refers to: supporting compile_commands.json Manually adding include paths is tedious, as is adding targets for debugging. @vector-of-bool has been pushing as well for the MS extension to support parsing compile_commands.json (which is ought to be the canonical way of detecting external build systems). CMake Tools would take on the role o

[2017-06-28 08:14] jhasse commented on #156
Btw: CMake isn't the only build system with support for generating `compile_commands.json`, Waf can also do this: https://github.com/waf-project/waf/blob/master/waflib/extras/clang_compilation_database.py

[2017-06-28 12:53] oliveroxtoby commented on #697
Just a comment: I was expecting the format to be ${env:HOME} as described [here](https://code.visualstudio.com/docs/editor/tasks#_variable-substitution) for tasks.json. The ${HOME} format works for me though.

[2017-06-28 14:33] irekeri commented on #846
Hi Sean,

I have gone over the language server faq, but am still a little confused as to what needs to be in the c_cpp_properties.json file as far as include paths go. The project I am working on has probably over 100 different folders which contain header files. Additionally, thirdparty libraries which are also being compiled alongside the main project have deep and complex folder hierarchies. Ha

[2017-06-28 15:05] sean-mcmanus commented on #850
You need to add the path to endian.h. I believe it's at /usr/include/i386. We will consider adding the path to the default macOS includePath if it exists.

[2017-06-28 15:18] sean-mcmanus commented on #846
You have to add to includePath every path that your build system uses. If your include paths are all referenced from a single root like <boost/subdir/file.h> then you only need to add the root path. We are not planning to make the includePath recursive, but we are planning to add better support for various build systems which set include paths. You only need to add the header files that are refere

[2017-06-28 16:17] bobbrow commented on #757
The fix for this has been released.  Please install version 0.12.0 and let us know if you have any trouble with it.  I also [wrote up a page recommending a default MinGW configuration](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md) that may be of interest to you.

[2017-06-28 16:17] #757 closed, assigned to nobody

[2017-06-28 16:54] DFVSQY commented on #847
Thank you for this question.
I want to know where the default c_cpp_properties.json locate? How does Tag Parser find my visual studio 2017's includepath?
![qq 20170629005047](https://user-images.githubusercontent.com/8075421/27649746-496a160e-5c65-11e7-8cff-7332f65d15cd.png)

[2017-06-28 17:26] sean-mcmanus commented on #847
The default is constructed internally by our code. You can create/view it under ${workspaceRoot}/.vsocde by doing a C/Cpp: Edit Configurations command. The Tag Parser uses the browse.path setting in the c_cpp_properties.json. We have code that searches for it to properly set the defaults.

[2017-06-28 17:36] sean-mcmanus commented on #788
Should be fixed with 0.12.0.

[2017-06-28 17:36] #788 closed, assigned to nobody

[2017-06-28 19:18] iFreilicht opened #851 "Syntax highlighting of types not always working"
When defining a type, it will not be highlighted in variable declarations.

![capture](https://user-images.githubusercontent.com/9742635/27655725-a9b93072-5c46-11e7-887a-6a14dd515cea.PNG)

I'd expect `a_struct` in the last statement to be coloured the same way it is in it's definition.
And as you can see, when mousing over, cpptools clearly knows what it is looking at. Even if it didn't, the first

[2017-06-28 19:38] bobbrow commented on #851
We haven't implemented any colorization features yet.  We're using #230 to track this.

[2017-06-28 19:38] #851 closed, assigned to nobody

[2017-06-28 19:44] iFreilicht commented on #851
I see, thank you for pointing it out!

[2017-06-28 20:37] bobbrow commented on #710
I updated the config above after doing some testing with WSL.  It now includes the new `intelliSenseMode` setting which was added in version 0.12.0.  I tested this config using the `"C_Cpp.intelliSenseEngine": "Default"` setting and can confirm that semantic autocomplete, quick info tooltips, and linting are working as expected.

[2017-06-28 20:37] #710 closed, assigned to nobody

[2017-06-28 20:58] nwgh opened #852 "Need way to force-include files for intellisense"
I came across this while trying to work around #661 (I'm on a Mac, building a native app). When building firefox, we force-include <objdir>/mozilla-config.h, which has a significant number of `#define`s (around 150 by my count right now). As it stands, I can copy/paste them from my mozilla-config.h, but this file is auto-generated, and subject to change (at least once per firefox release, every 6

[2017-06-28 23:25] sean-mcmanus commented on #852
This feature exists in VS 2017 C++ IntelliSense, but it's in the part of the code we haven't ported yet, which we're working on now, but we don't have an ETA, other than it won't be "soon".

[2017-06-29 01:23] irekeri commented on #846
Hi Sean,

Is there any sort of debug mode to see how the language server is parsing the include paths? I have created a c_cpp_properties.json configuration file with a majority of the include paths, but am still seeing the error squiggles relating to all of my includes. I am not sure how to tell if the issue is a result of an bad c_cpp_properties.json configuration.

Additionally is there any way

[2017-06-29 05:15] lihuanglx commented on #850
Thanks, I also found files under `/usr/include/machine` are wrappers of files under the `i386` directory. Adding either one could resolve the problem.

[2017-06-29 13:39] csholmq opened #853 "Unexpected token / in JSON at position 1360"
![image](https://user-images.githubusercontent.com/1297882/27690178-dde059c6-5ce0-11e7-87a7-e93a4cd266a0.png)

Not really sure why it's complaining. Can anyone see it?

[code]

[2017-06-29 15:42] bobbrow commented on #853
Looks ok to me.  My guess is that you saved it while it was in a bad state and then fixed it later, but hadn't dismissed the message from the previous error.  This happens to me all the time because I am constantly pressing CTL+S.  Press ESC to dismiss the message and save again.  If it works, then you're fine.  If it doesn't work, you should see a red squiggle in the editor highlighting the error

[2017-06-29 15:42] #853 closed, assigned to nobody

[2017-06-29 15:43] #850 closed, assigned to nobody

[2017-06-29 15:50] ZZYSonny commented on #757
I used your recommended settings, but there is still problems with things like freopen,scanf,printf
In problems, it says 'identifier "freopen" is undefined' and I believe these are included in my included path.
I use MinGW 6.3.0, does this have sth to do with the problem?

[2017-06-29 16:38] bobbrow commented on #757
Can you try adding `"__GNUC__"` to the "defines" array?  This fixed the issue for me.  I'll update the documentation.

[2017-06-29 16:58] dlech opened #854 "provide problem matchers for common compilers"
Please add `contributes.problemMatchers` as described [here](https://code.visualstudio.com/updates/v1_11#_tasks).

[2017-06-29 17:04] mjbvz opened #855 "How to use new intellisense engine properly?"
_From @nikitablack on June 29, 2017 11:48_

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:18:03.540Z)
- OS Version: Linux x64 4.4.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-docker|PeterJausovec|0.0.16|
|tslint|eg2|0.16.0|
|language-haskell|justusadam|2.2.2|
|cpptools|ms-vscode|0.12.0|
|debugger-for-chrome|msjsdiag|3.1.6|
|c

[2017-06-29 17:14] bobbrow commented on #822
I cloned your repo and edited the text, and I don't see any excessive CPU usage.  The folder parses in about a second for me on Windows and on Mint 18.1.  My machines have non-RAID'ed SSDs and are otherwise average.

I think I have all the sources you've referenced in your post.  Does this include path look about right?  It doesn't resolve all of the headers in all of your test folders, but it sho

[2017-06-29 17:21] bobbrow commented on #855
@nikitablack, can you check your PROBLEMS window and see if it's telling you that we're reverting to the Tag Parser because the #includes in your file could not be resolved?

[2017-06-29 18:00] bobbrow commented on #818
This is fixed in the latest VS Code Insiders build.

[2017-06-29 18:00] #818 closed, assigned to nobody

[2017-06-29 18:28] bobbrow commented on #771
I wrote [a doc with some guidance for MinGW users](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md). Let us know if that does not resolve you issue.

[2017-06-29 18:30] #771 closed, assigned to nobody

[2017-06-29 18:33] bobbrow commented on #779
Tracking ARM support with #661

[2017-06-29 18:33] #779 closed, assigned to nobody

[2017-06-29 18:33] bobbrow commented on #770
This is fixed in 0.12.0

[2017-06-29 18:33] #770 closed, assigned to nobody

[2017-06-29 18:34] #673 closed, assigned to nobody

[2017-06-29 18:35] bobbrow commented on #761
tracking ARM IntelliSense mode feature with #661

[2017-06-29 18:35] #761 closed, assigned to nobody

[2017-06-29 18:44] sean-mcmanus commented on #846
Adding the environment variables VSCODE_CPP_LOGDIR (e.g. /Users/user/logs ) and VSCODE_CPP_LOGFILE_LEVEL (e.g. 9) will enable logging (higher log levels give more output). There are 2 different missing include path messages: "Include file not found in browse.path" for the Tag Parser and another message for the Default IntelliSense engine). The Default version will recursively search through all th

[2017-06-29 19:00] sean-mcmanus commented on #853
The / in the // comment is invalid -- it's not valid JSON. Some of the VS Code JSON files like the settings.json supports the // as an extension to the JSON format, but our c_cpp_properties.json doesn't. If anyone knows a way to use a JSON parser that supports // let us know.

[2017-06-29 19:18] sean-mcmanus commented on #854
For what build systems? gcc?

[2017-06-29 20:07] csholmq commented on #853
Yes, that was exactly it. Thank you.

[2017-06-29 20:07] csholmq commented on #853
Would have been nice if it had pointed out the row. Would have saved me some time.

[2017-06-29 21:47] pieandcakes commented on #835
@tilman22 this sounds like a gdb pretty-printer issue. The debugger extension is not doing additional work to visualize the data. Instead, we rely on gdb to return the data in a format that can be visualized.

If you enable `"logging": { "engineLogging": true }` you can see what we request and what gdb returns with and without your change. This might be a good item to add to the documentation in t

[2017-06-29 22:18] pieandcakes commented on #833
@timurey @am1ko Can either of you try and run `-exec -gdb-set target-async off` in the Debug Console when you are stopped and see if the breakpoints are responsive? I'm hearing that some of versions of gdb are not handling this correctly.

[2017-06-30 02:18] irekeri commented on #846
Hi Sean,

I added those env variables and am seeing quite a bit of logging. From the looks of it, I don't see anything that jumps out at me as an error (aside from a large number of error squiggles). When opening a file, I see database calls attempting to get code items as well as a parse of the path.

That being said, at the top of my .cpp files, all of my includes are still squiggled as red and

[2017-06-30 02:26] sean-mcmanus commented on #846
The No IL available message is from the IntelliSense engine. Yeah, we've seen it occur when the section of code is being excluded from compilation due to a missing #define. It's also possibly caused by the wrong .cpp file being used as the compilation unit for a header file (i.e. it chooses a .cpp file which doesn't actually use the .h file due to it being in inactive code). Are you getting the "N

[2017-06-30 06:22] nikitablack commented on #855
@bobbrow, you're right - there were problems. After fixing them I can enjoy new intellisence. Thank you.

[2017-06-30 06:34] nikitablack opened #856 "Default intellisence engine - can't find a symbol."
Hello. If you include, for example, [this](https://github.com/eidheim/Simple-WebSocket-Server/blob/master/server_wss.hpp) file and enable default engine, the intellisence will report a lot of false errors. For, example, for this line `using WsServer = SimpleWeb::SocketServer<SimpleWeb::WS>;` it tells `namespace "SimpleWeb" has no member "SocketServer"`, thought it's there and the code can be compi

[2017-06-30 09:28] daldr-ntml commented on #846
I hope you don't mind me joining this discussion. Running VS Code Insider and cpp extension 0.12.0, I find it necessary to explicitly mention all system include paths in c_cpp_properties.json:

                "C:/Leda_sdk/sysroots/haswell-64-wrs-linux/usr/include",
                "C:/Leda_sdk/sysroots/haswell-64-wrs-linux/usr/include/linux",
                "C:/Leda_sdk/sysroots/haswell-64-wrs-l

[2017-06-30 13:23] irekeri commented on #846
I believe the only truly unusual part about my build environment is that it isn't actually building on my local machine. While I do all of my editing on macOS VS Code, all of the actual compilation is happening remotely on a 64bit CentOS machine using clang. Other than that I don't believe there is anything unusual going on. This means all relevant third party libraries needed to compile are also

[2017-06-30 13:54] tilman22 commented on #835
Hi pieandcakes,
for me it sounds like a parsing problem of the debugging extension.  Parsing only seems to work when the key of the map is a primitive, not a class.
This is the logging-output:
[code]

Best regards,
Tilman

[2017-06-30 14:38] nilanjan commented on #557
Is there any timeline for this feature implementation?

[2017-06-30 14:38] nilanjan commented on #319
Is there any timeline for this feature implementation in GUI local var display?

[2017-06-30 15:07] #855 closed, assigned to nobody

[2017-06-30 15:31] bobbrow commented on #856
Hmm... I don't repro.  My c_cpp_properties.json looks like this:

[code]

![nikita](https://user-images.githubusercontent.com/12818240/27742658-5704dc2c-5d6e-11e7-8bd4-ffa68805d341.png)

[2017-06-30 15:37] dlech commented on #854
gcc definitely. Makefile might be useful too. I imagine others might be interested in msvc, but it is not important to me.

[2017-06-30 17:00] ianwestc commented on #19
So is the src.rpm available anywhere? I'd greatly prefer recompiling vscode for GLIBC 2.16 rather than roll my own newer version.

[2017-06-30 17:57] timurey commented on #833
Result:

in telnet console:

But still can't halt running or add breakpoint.

[2017-06-30 18:58] nwgh opened #857 ""Too many errors for the IntelliSense engine"/"No IL available" on native project"
I was originally following #661 for this, but that one seems to have been repurposed to be ARM-specific, so I'm filing a new issue, as I'm seeing this on OS X, with a project targeting my native machine.

When working with mozilla-central (https://hg.mozilla.org/mozilla-central), I get the error message "Too many errors for the IntelliSense engine. Compiler exited with error - No IL available" on

[2017-06-30 19:33] pieandcakes commented on #557
@nilanjan Not at this time. If you feel like it is something you would like to contribute we welcome community support. You can find source code at: https://github.com/Microsoft/MIEngine.

[2017-06-30 19:53] HankB commented on #822
Hi Bob,
Thank you for trying to duplicate the problem.
I haven't bothered to set the paths inside Code since I build from the command line but what you have looks correct. Perhaps that is something I should sort out.
I think the next thing would be for me to try to debug it on my system. It looks like there is sufficient information in the project documentation to get me started.

thanks,
hank

[2017-06-30 19:56] bobbrow commented on #857
Yes, I repurposed that issue since the error itself is quite generic and this makes it easier for us to track the actual issue causing it.  We will likely rename this issue as well once we identify the root cause.  Perhaps we should also create a feature request issue to expose an easier way to increase the error limit.

Can you share your c_cpp_properties.json file?  I have downloaded the Mozilla

[2017-06-30 20:03] agendek78 commented on #424
+1 for 32bit. Many users are running linux in virtual machines and don't want to waste resources for 64bit linux installation.

[2017-06-30 20:05] nwgh commented on #857
Sure thing! My c_cpp_properties.json is at https://gist.github.com/nwgh/1b0a179d2f6919a305393c8a894c6068

Note that the vast majority of the defines in there are copy/pasted from the mozilla-config.h that gets autogenerated by the build system (I filed #852 to not have to do this, since they could change at will). The rest came from the output of `./mach compile-flags <filename>` inside the firefo

[2017-06-30 20:06] bobbrow commented on #846
@DavidA2014, recursive include paths are supported for the browse.path setting, but not the includePath setting.  See: [what is the difference between includePath and browse.path](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/FAQ.md#what-is-the-difference-between-includepath-and-browsepath-in-c_cpp_propertiesjson)?

[2017-06-30 20:13] nwgh commented on #857
One thing I forgot to note - you will need to build firefox once for those include paths to work. Most of them are (as you may be able to tell) in the objdir, which doesn't appear until there are objs to put in a dir! :)

[2017-06-30 20:29] sean-mcmanus commented on #846
@irekeri We would like to support your scenario, but the language service doesn't actually run (out of the box) on CentOS due to its not supporting glibc > 2.18. I'm not sure if this is an issue with CentOS or not. I think we need a repro or more info. Are you able to get IntelliSense to work with a folder with just a single .cpp file that has a main function? Do things start to break after adding

[2017-06-30 23:34] sean-mcmanus commented on #627
@mhalber To follow up on what I stated previously, the crashes with _Unwind_RaiseException are caused by a buggy C++ runtime on your machine -- it's crashing during the normal stack unwinding from a normal throw call. Very few people are hitting this. You should probably investigate installing a new C++ runtime and/or OS (wherever libunwind.dylib is from).

[2017-07-01 02:38] irekeri commented on #846
Hi Sean,

I can try a smaller project. That being said, although my compilation environment is CentOS, I am not running VS Code or this extension on that machine. VS Code and the C/C++ extension is running locally on Apple's macOS. Are there some additional libraries which I need to install locally to have the language service run successfully?

One aspect of the language service that is not clear

[2017-07-01 11:40] Helcaraxan commented on #774
I have been observing the same but on OSX. The timeframe, considering when this issue was reported seems to correspond.

Also the analysis that it happens when reloading / quitting VSC corresponds too.

For me the main drawback is that if I do not pay attention it literally eats up the battery-life of my laptop as the process is burning at 100% CPU continuously.

[2017-07-01 14:10] sean-mcmanus commented on #846
The various compiler settings need to match your compilation environment. The settings for a macOS host can be found in the extension folder at `bin/msvc.64.darwin.json`. The only difference from CentOS is the --framework_include_directory. If the Microsoft.VSCode.Cpp.Extension.darwin is running then there are no additional libraries needed. Our compiler will need to have enough information to com

[2017-07-01 19:22] fuzboxz commented on #545
@vinnyin  For me the iostream file doesn't have a .h extension in MinGW. Have you tried #include <iostream>?

[2017-07-02 01:08] Leedehai opened #858 "Syntax hightlighting issue"
Problem 1: Class name hightlighting is not handled properly if namespace is involved:
![image](https://user-images.githubusercontent.com/18319900/27766540-289f241c-5e88-11e7-8b89-265c85088812.png)
Here, "InternalException" is the class name, not "hcc" (it is the namespace)
While other IDEs, like CLion, can properly handle it.

Problem 2: custom type not highlighted when used to declare an object:

[2017-07-02 11:37] Yingjie-Zhao opened #859 "Failed when downloading 'C/C++ language components (OS X)'"
Here is the error message:
[code]

I have read about some relative issues and tried to reset my http.proxy,but it seems not working as the error message shows that the plugin still using an incorrect http proxy ```127.0.0.1:443```after I changed my http proxy to ```127.0.0.1:1087```

[2017-07-02 16:39] hengck23 commented on #409
i have the same problem as above.
My system is ubuntu 16.04. When is use gdb,  the error is: "Unable to start debugging. Failed to initialize debugger terminal". gdb works well from my terminal without vs code.

Enable logging  in the launch.jason gives:
"R: {"success":false,"message":"Unable to start debugging. Failed to initialize debugger terminal.","request_seq":2,"command":"launch",
"body":{"

[2017-07-03 01:02] anyflow commented on #466
Same issues here.

It works on Mac, but does not on linux(14.04)

Changing externalConsole values doesn't make any difference.

Here goes my launch.json.

`{
  "version": "0.2.0",
  "configurations": [

    {
      "name": "C++",
      "type": "cppdbg",
      "request": "launch",
      "program": "${workspaceRoot}/cpp/bin/${fileBasenameNoExtension}",
      "args": [],
      "stopAtEntry": false,

[2017-07-03 02:59] haiy opened #860 "c++ lldb debugger seems hangs"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.5|
|vscode-clang|mitaki28|0.2.2|
|cpptools|ms-vscode|0.12.0|;

---

Steps to Reproduce:

1. I'm debugging [tensorflow](github.com/tensorflow/tensorflow/) source code,at first I use bazel c

[2017-07-03 08:58] dirkseidel commented on #788
Works, thanks a lot!

[2017-07-03 10:29] nikitablack commented on #856
Ok, sorry. The include path for boost was wrong, though vscode was silent about that. Now everything fine.

[2017-07-03 10:29] #856 closed, assigned to nobody

[2017-07-03 12:07] weinand opened #861 "Unable to launch debugger (gdb) with root permissions."
_From @BlinkFan on July 3, 2017 11:28_

- VSCode Version: 1.13.1
- OS Version: Ubuntu 4.4.0-83, Kernel

Steps to Reproduce:

When needing to debug a program that needs root permission (for eg. needs access to RAW socket) then the debugger cannot be used currently. Two possible options:
- Add ability to specify "sudo" in launch configuration. User can then edit visudo to not ask for a password.
- A

[2017-07-03 12:30] nholthaus opened #862 "autoconvert '.' to '->' when the type is a pointer"
First off, the new intelliSense engine is awesome! Exactly what we've been waiting for. Thanks for taking our feedback and making that happen.

It seems to me that when the "Default" engine is enabled and doesn't need to fallback to the tag parser, you have enough type information to separate pointer objects from non pointer objects. It would be really nice in those cases to convert '.' to '->' if

[2017-07-03 12:30] nholthaus opened #863 "C++ intelliSense: discover include paths in the project directory"
It's kind of annoying to have to include project subdirectory paths into the `c_cpp_properties.json` file as include directories, when they've already been indexed and can be opened with `ctrl+p`. Can't subdirectories of the current open directory automatically be included as include paths if they contain at least one `.h`/`.hpp` file?

It would also be nice if you could optionally include subdire

[2017-07-03 16:01] bobbrow commented on #545
@vinnyin, please take a look at the [template config I posted for MinGW](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md).  Cygwin will be slightly different, but the imporant part is that you need to make sure that you add all of the relevant directories in the includePath since the `includePath` paths are not recursively traversed.

If you are still

[2017-07-03 16:04] bobbrow commented on #858
Thank you for your feedback.  It helps us to prioritize feature requests.  What you are seeing is actually Atom's colorizer.  Our extension doesn't provide any colorization support yet.  We are tracking this request via #230.

[2017-07-03 16:04] #858 closed, assigned to nobody

[2017-07-03 17:18] bobbrow commented on #863
Thank you for the feedback.  We agree that manually setting up the `includePath` is not a good user experience and have been discussing options to make this better for everyone.

[2017-07-03 17:24] bobbrow commented on #786
@atavern1, were you able to get your c_cpp_properties.json file working?  If not, I recommend querying your compiler for the system include path that it uses and pasting that into the json file.
e.g. `clang -v -E -x c++ - < /dev/null`

[2017-07-03 17:27] bobbrow commented on #546
This issue should have been fixed in 0.11.1.  Please let us know if you are still seeing this on the latest version of the extension.  Thanks!

[2017-07-03 17:27] #546 closed, assigned to nobody

[2017-07-03 18:20] bobbrow commented on #857
I just tried this file on Windows (because it's easier for me to debug and I already had the source downloaded) with the bulk of your c_cpp_properties.json file intact.  One error I saw was that `"FIREFOX_VERSION 56.0a1"` is missing the `=` in your `"defines"` array.  I also couldn't find `"semaphore.h"`, but I disabled the tag parser fallback option and only saw 2 other errors in the problems win

[2017-07-03 19:01] sean-mcmanus commented on #862
Yeah, VS 2017 implements this for raw pointers (smart pointer classes have a valid . operator so it gives results for the point itself and not the object that is pointed to).

[2017-07-03 20:44] bobbrow commented on #225
We haven't fixed this for the Tag Parser yet, but if you try out the new IntelliSense engine, it works well with both Vulkan and HWND macros.

Add `"C_Cpp.intelliSenseMode": "Default"` to your settings.json to give it a try.

[2017-07-03 21:25] bobbrow commented on #225
Sorry, I jumped the gun on this.  We have improved member list autocomplete in the new IntelliSense, but the original issue you described remains.  My apologies.

[2017-07-03 21:59] bobbrow commented on #352
Our extension doesn't provide snippet support right now.  We have auto-complete suggestions for #ifndef and #ifdef in the latest versions of our extension, so if you are still seeing this problem, this sounds like it is a bug in another extension that you have installed.

[2017-07-03 21:59] #352 closed, assigned to nobody

[2017-07-03 22:03] bobbrow commented on #378
This works in the latest version of the extension if you add `"C_Cpp.intelliSenseEngine": "Default"` to your settings.json file and ensure your includePath is properly configured.

[2017-07-03 22:03] #378 closed, assigned to nobody

[2017-07-03 23:50] Anketell opened #864 "Debug: Stepping multi-threaded application doesn't follow thread"
VSCode Version: 1.13.1
cpptools Version: 0.12.0
OS Version: Fedora 21

Steps to Reproduce:

1. Place a breakpoint to interrupt execution.
2. Once the breakpoint is hit, step over (F10).

The focus in the call stack window will change from the current thread's call stack to the first call stack in the list. To continue stepping, the correct call stack (thread) must first be selected.

This make ste

[2017-07-04 01:02] worldwalk opened #865 ""Go to Definition" disappers since last month"
hi,

I use win vscode 1.13.1, but from last monday, the "Go to Definition" and "Peek Definition" disappears for my C++ files.

when start up vscode, it show below error msg from console:

              Updating C/C++ dependencies...

              Downloading package 'C/C++ language components (Windows)'  Failed. Retrying...

[2017-07-04 01:34] sean-mcmanus commented on #865
Can you wait longer? It's trying to download our files.

[2017-07-04 01:54] worldwalk commented on #865
the full log:

Downloading package 'C/C++ language components (Windows)'  Failed. Retrying... Failed. Retrying... Failed. Retrying...Waiting 8 seconds... Failed. Retrying...Waiting 16 seconds... Failed. Retrying...Waiting 32 seconds...
Failed at stage: downloadPackages
Error: connect ETIMEDOUT 23.66.239.97:443
    at Object.exports._errnoException (util.js:1022:11)
    at exports._exceptionWithHos

[2017-07-04 01:58] sean-mcmanus commented on #865
The download is 5 MB. It's trying to download https://go.microsoft.com/fwlink/?linkid=852141 . Are you able to download that manually? We're not sure why people are hitting these download issues. Maybe our download server is having problems.

[2017-07-04 02:02] worldwalk commented on #865
yes, I can download the Bin_Windows.zip within a few seconds manually.

cannot connect to download server.   except this 'C/C++ language components (Windows)', other components also need download.

is there FAQ how I manually install this ?

[2017-07-04 02:12] sean-mcmanus commented on #865
Manually downloading the files isn't recommended, because we also do some installation steps afterward. You could try downloading all the Win32 files listed in the package.json in the extension folder, unzip it to `.vscode/extensions/ms-vscode.cpptools-0.12.0`, and then adding a file named install.lock . See https://github.com/Microsoft/vscode-cpptools/issues/284

[2017-07-04 02:38] worldwalk commented on #865
thanks so much! it works!

I guess the cpptools extension firstly remove old files, then try to download new files....  so if download fail, the whole func not work.   why not we firstly download, then remove old files...

[2017-07-04 02:42] sean-mcmanus commented on #865
We don't remove old files. VS Code is supposed to remove all the old extension files during the update process. When it installs the new version, none of the downloaded files should exist, so we need to download them.

[2017-07-04 02:43] worldwalk commented on #865
ok, I will close the issue, thanks.

[2017-07-04 02:43] #865 closed, assigned to nobody

[2017-07-04 10:45] KKyang opened #866 "cpptools cannot be installed offline"
My PC does not have internet. Thus cannot complete the installation cause cpptools required internet to download stuffs. Will there be an offline installer?

[2017-07-05 00:49] gregg-miskelly opened #867 "Debug: adapter not respecting threadId for stopped events"
_From @isidorn on July 3, 2017 9:20_

Original comments from user:

- VSCode Version: 1.13.1
- OS Version: Fedora 21

Steps to Reproduce:

1. Place a breakpoint to interrupt execution.
2. Once the breakpoint is hit, step over (F10).

The focus in the call stack window will change from the current thread's call stack to the first call stack in the list. To continue stepping, the correct call stack

[2017-07-05 00:49] gregg-miskelly commented on #867
_From @isidorn on July 3, 2017 9:20_

The issue here is that the `stop` event coming from the debug adapter does not respect the threadId for the `next` request from vscode.

Example, there are threads with the following ids 1, 2, 3. User focuses thread 1, preses step, VSCode sends `next` request for threadId: 1, adapter incorrectly sends stopped event for threadId: 2 with allThreadsStopped: true.

[2017-07-05 00:49] gregg-miskelly commented on #867
@Anketell is your scenario that you have the same code running on multiple threads and so when you hit step your original breakpoint winds up getting hit on the first thread?

[2017-07-05 00:49] gregg-miskelly commented on #867
_From @Anketell on July 3, 2017 23:54_

@gregg-miskelly apologies, I didn't mention that I am running C++. FWIW, it was different code running on different threads.

[2017-07-05 00:49] gregg-miskelly commented on #867
@Anketell: A few more questions to try and get your bug to the right place:

1. You are using the Microsoft C++ VS Code extension correct?
2. What OS are you on?
3. If Windows, what debug adapter 'type' in your launch.json?
4. If using MIEngine, are you using LLDB or GDB?
5. The behavior you are seeing is that you hit a breakpoint on a thread other than the main thread, you do a step, and it acts

[2017-07-05 00:49] gregg-miskelly commented on #867
_From @Anketell on July 5, 2017 0:22_

@gregg-miskelly

1. Yes, I have raised an issue under vscode-cpptools.

2. See above.

3. N/A

4. GDB

5. No. It focuses the correct stack (not main) after the break then steps the correct thread (currently focused) but incorrectly focuses the main thread immediately after the step.

Having used GDB extensively for well over a decade directly and also with va

[2017-07-05 00:49] gregg-miskelly commented on #867
@Anketell thanks! I will move your issue. Hopefully the folks over there can help.

[2017-07-05 01:11] scheung38 opened #868 "How to start?"
Using a basic example:

    int main()
    {
        return 0;
    }

Clicked Start without Debugging, then asked to select Environment:

How to run basic hello world.cpp here, do I need to setup additional configuration files?

[2017-07-05 04:30] Anketell commented on #867
See: Issue https://github.com/Microsoft/vscode-cpptools/issues/864

[2017-07-05 06:44] hungys commented on #601
@sean-mcmanus

This doesn't work well on my side. Check the following screenshots, the symbol `MemoryIndexedRegion` was actually changed externally, but it still showed up on symbol search panel. Even restarting VS Code, it was still not invalidated and re-analyzed.

![](http://i.imgur.com/MYCuU3A.png)

Press Enter and it will navigate to the wrong line:

![](http://i.imgur.com/ivQNQVb.png)

No `M

[2017-07-05 07:41] dab0bby commented on #410
I think for a build system linke CMake this would be a great feature. When the the generated include directories of CMake could be used by the plugin.

[2017-07-05 08:12] AsaadMohammed opened #869 "Never mind"
turned out to be another extension error

[2017-07-05 13:25] imhuay opened #870 "BUG?: Files Can't Code Formatting under Chinese folder"
VSCode Version: 1.13.1
cpptools Version: 0.12.0
OS Version: Win10_1703
[code]
`中文_文件夹` means `Chinese_folder`

the `test_1.cpp` and `test_2.cpp` can Code Formatting
but `test_3.cpp` can't Code Formatting

[2017-07-05 15:20] bobbrow commented on #866
Thank you for your feedback.  Offline installation support is on our backlog being tracked by #298.

[2017-07-05 15:20] #866 closed, assigned to nobody

[2017-07-05 15:23] bobbrow commented on #868
Take a look at [this blog post](https://blogs.msdn.microsoft.com/vcblog/2016/03/31/cc-extension-for-visual-studio-code/) which should have answers for most of your startup questions.  If anything is unclear or incorrect, feel free to open a new issue.

[2017-07-05 15:23] #868 closed, assigned to nobody

[2017-07-05 15:36] nwgh commented on #857
*facepalm* thanks for catching that missing `=` sign. Unfortunately, though, I still see the same errors on my mac. I'll finally have access to my linux & win10 machines again later today, so I'll see if I can reproduce on those OSes to try to help narrow it down to "problem with mac" or "problem with something else in my setup".

[2017-07-05 15:59] #869 closed, assigned to nobody

[2017-07-05 16:17] bobbrow commented on #857
I downloaded the source and kicked off a build of Mozilla before I left work on Monday.  I have a repro of your issue on Mac and I'll take a look.

[2017-07-05 16:45] bobbrow commented on #857
Interesting.  When I hover over types, it appears that IntelliSense thinks the mozilla namespace lives inside `std::__1` for some reason.  So I see `std::__1::mozilla` in a lot of places.

[2017-07-05 16:47] gregg-miskelly commented on #867
Closing this one since @Anketell already opened another.

[2017-07-05 16:47] #867 closed, assigned to nobody

[2017-07-05 17:35] nwgh commented on #857
Hrm, indeed, I'm seeing that, too. Thinking about it for a second, I wonder if that has to do with some of my include paths (I had to do some deep digging to find a few of the includes, as they didn't live under /usr/include as I would've expected).

A quick grep shows `std::__1` being defined in `/Library/Developer/CommandLineTools/usr/include/c++/v1` so I wonder if there's a bug in one of apple'

[2017-07-05 17:44] bobbrow commented on #857
Removing the "defines" in the c_cpp_properties.json and directly including mozilla-config.h in Http2Session.cpp resolved that issue for me so I can look at the other errors.  I suspect there may be some other issue with the "defines" causing the namespace to not be closed.

[2017-07-05 18:24] bobbrow commented on #857
Ok, this is looking like a configuration issue to me.  I started fresh with a new c_cpp_properties.json that matches the output of `clang -v -E -x c++ - < /dev/null` and then added the mozilla paths in and IntelliSense only reported two errors about redefinitions of CreateFrameHeader for me.  Can you confirm whether the system include paths in the config you shared match the output of that command

[2017-07-05 18:25] pieandcakes commented on #466
Can either of you post a code snippet? I can't seem to duplicate this with `printf` or `cout`.

[2017-07-05 18:28] pieandcakes commented on #409
@hengck23 we try and use `gnone-terminal` and fall back to `xTerm` for our debugger terminal. If those are not installed on your instance of Ubuntu, you get the below message. I don't know why switching to `lldb` would work and i'll take a look when I have time.

[2017-07-05 18:36] nwgh commented on #857
OK, so leaving the `defines` section out, explicitly `#include`ing `mozilla-config.h` and using the above method to figure out the appropriate include directories, I confirm that the only errors I see are the ones about CreateFrameHeader being redefined.

I'll see what happens when I add back in the `defines` section.

(I'm also wondering if we still need those multiple definitions of CreateFrameH

[2017-07-05 18:43] nwgh commented on #857
So it looks like adding the `defines` back in (and not explicitly `#include`ing `mozilla-config.h`) now has the same effect as the other way 'round (including not having the strange `std::__1` namespace). So this seems to be in a good state now.

I'm happy to let this issue be closed, and I can open a new issue if the error about `CreateFrameHeader` is something that still needs fixing on code's e

[2017-07-05 18:43] #857 closed, assigned to nobody

[2017-07-05 18:59] sean-mcmanus commented on #870
A fix will be in our pending 0.12.1 update (targeted for some time next week). It was a bug in our Windows CreateChildProcess code (it doesn't repro on Mac/Linux).

[2017-07-05 19:38] sean-mcmanus commented on #601
@hungys If your MemoryIndexed is removed from the file while VS Code is not running, the next time VS Code is launched, it should scan the file, see that the timestamp has changed, and reparse the file, removing MemoryIndexed. I tried this on Mac and I'm not able to repro your issue. Can you provide more repro details? Does the behavior I describe work correctly for you on a simple project?

[2017-07-05 23:30] pieandcakes commented on #861
@blinkfan When launching gdb and it needs sudo, it will prompt for sudo today. Can you post your launch.json so I can try and duplicate?

[2017-07-05 23:35] pieandcakes commented on #864
@anketell can you enable `"logging": { "engineLogging": true, "trace": true, "traceResponse": true }` and retry your scenario and share the log with me? I'd like to know if the request for -thread-info is being requested on the wrong thread or if the actual issue is that the VSCode UI is changing the thread.

[2017-07-05 23:37] pieandcakes commented on #860
@haiy we use MI command interpreter mode in lldb to talk to the debugger. You can duplicate this from the command line by using `lldb-mi` instead of `lldb`. To see what we are sending and what we get back, you can enable `"logging": { "engineLogging": true }`

[2017-07-06 00:09] bobbrow commented on #156
We have begun designing how support for compile_commands.json should work in our extension.  The current plan is to add a new property to the configuration objects in c_cpp_properties.json that tells the extension where to find the compilation database.  If it is missing or corrupt, we will use the includePath and defines instead.

What would you expect the behavior to be if you open a source file

[2017-07-06 01:42] hungys commented on #601
@sean-mcmanus

All changes were made when VS Code is running.

After force deleting the old `.browse.VC.db`, it now works as expected. I'm not sure what's wrong with the language server, so I think it would be nice to have a command for rebuilding the database.

Moreover, I found that sometimes the function signatures shown when hovering on the function name are mixed with the old signature and th

[2017-07-06 01:48] sean-mcmanus commented on #601
Your post said you restarted VS Code. If VS Code is running, we have file watchers in the workspace, but not outside the workspace, and the file watchers can fail if the OS-limit is hit. However, restarting VS Code should detect that the timestamp is different and re-parse the file (after it get the file search reaches the file).

Anyway, we decided to add a command to rebuild the database for une

[2017-07-06 03:37] bobbrow commented on #786
@atavern1, if you run the clang command above and copy the include paths into your c_cpp_properties.json file, that should resolve the majority of your squiggles.  If that does not resolve your issue, please reopen and provide some additional details.

@DTasev, semantic member list suggestions (autocomplete) is available in 0.12.0.