[2016-11-01 12:14] csholmq opened #321 "Remote debugging not possible"
Trying to attach to a GDB server with no luck. All I want is to connect to the GDB server, run `target remote localhost:4444` and start sending some monitor commands.

As soon as I uncomment `miDebuggerServerAddress` I get

Also, why am I required to specify a process id? I am trying to debug on a embedded target, so my GDB server, that I run through, speaks with it over JTAG. Which process id is

[2016-11-01 15:55] csholmq commented on #265
@jacdavis Do we really need to specify a pid? What if there is already a GDB server running?

[2016-11-01 16:34] jacdavis commented on #265
@csholmq, not once the fix ships as gdbserver will already be attached. Unfortunately, getting the next update of the extension out has been delayed a bit.

[2016-11-01 16:35] jacdavis commented on #201
The version of lldb that ships with xcode has numerous bugs in its mi implementation that we have fixed in the version we are distributing. Please keep in mind that by applying this hack, things are likely to get significantly less stable.

[2016-11-01 16:52] AngrySaltyFish commented on #313
@pieandcakes
Apologies for not giving much detail so far, i have bit busy recently so hopefully this makes up for it.

In terms steps to reproduce I don't really have any. Originaly I only had the `Debug adapter process has terminated unexpectedly` when running the launch config. After doing some googling i found #100 which said that after upgrading his system resolved the problem. After upgrading

[2016-11-01 18:40] #316 closed, assigned to pieandcakes

[2016-11-01 18:45] pieandcakes commented on #313
@Archangel7777777 Can you try reinstalling the extension? you can do that in the extension manager and search for the C++ extension and choose the uninstall option and then reinstall it again.

The logging I had you enable should show up in the Debugger Console. What that tells me is that there is something wrong with the installation.

The other item it might be is that it can't find gdb. you can

[2016-11-01 19:16] pieandcakes commented on #309
@mazhan465 Is this the same issue as #316 ?

[2016-11-01 20:45] AngrySaltyFish commented on #313
@pieandcakes I managed to reinstall the extenstion. According to the debug console all dependicies were installed correctly and it was finised installing. After reloading I tried debugging but found that it hung and kept loading even after pressing the red stop button. Eventaully I exited vs code and found the same error as before when trying to debug.

[2016-11-01 20:46] AngrySaltyFish commented on #313
@pieandcakes I did also try using the tag suggested unfortunatly nothing changed!

[2016-11-01 20:58] csholmq commented on #265
@jacdavis Great. How much is the delay?

I hope to get some tips (and workarounds) in #78 in the meantime.

[2016-11-01 22:13] icarus31 opened #322 "No peek definition and Go to definition available"
OS: openSuse 13.1
VS Code: 1.6.1 32 bits (rpm)

When opening a directory containing .c and .cpp files and right clicking on a function, there is not "Go to definition" and "Peek definition".

I tried a simple project with 2 .cpp files on Win10, Win7 and openSuse 13.1. The first one has the menus, but not the two other ones.

What am I doing wrong?

Missing components?

Thanks

[2016-11-01 22:33] pieandcakes commented on #313
@Archangel7777777 Can you see if you have mono.linux running? You can do `ps aux | grep mono` in a terminal window. it sounds like the first time you ran the debugger, you are saying that it "hung" ? can you provide more information or a screenshot?

[2016-11-02 00:22] jacdavis commented on #265
@cshomq, unfortunately, I don't have a date at this time. Hopefully, not too much longer.

[2016-11-02 07:54] mauriziopinotti opened #323 "Huge memory usage (11-13GB)"
I experienced this when opening the root of the Android firmware sources (several GB of java/cpp code):

![image](https://cloud.githubusercontent.com/assets/4000539/19920554/b637f8a2-a0d9-11e6-96b9-c18a8f8b1770.png)

VSCode is probably trying to compile/index all the code but it's not a good idea :)

[2016-11-02 11:57] dtasev commented on #318
Actually this is something that also happens while using the Python extension (on the same project). VSCode is building symbols and the auto complete stops working. To me it sounds like there could be a deeper issue with VSCode and it's not the extension's fault.

In this case:
- The cpp extension is uninstalled so it is not the cause
- Only the Python extension in installed and is busy building s

[2016-11-02 14:14] daldr-ntml opened #324 "How to configure VS Code on Windows to run 'make' in bash integrated terminal?"
I am running VS Code 1.6 on Windows and have configured the integrated terminal to be bash:

`"terminal.integrated.shell.windows": "C:\\Windows\\sysnative\\bash.exe",`

I want to build my C++ project using 'make' running in WSL. So I defined a task:

[code]

How can I configure that task to run in WSL?

How can I set the directory in which make should run? (not the root directory of the folder ope

[2016-11-02 16:37] AngrySaltyFish commented on #313
@pieandcakes Good news it's Fixed! It turns out there was a problem with mono.

After finding out that `mono.linux` was not running I thought it would be a good idea to check whether mono was working. After running monodevelop from the terminal I got `System.InvalidTimeZoneException: TZ file too big for the buffer`. This suggested a problem with the time zone so I ran the following commands to try

[2016-11-02 16:37] #313 closed, assigned to pieandcakes

[2016-11-02 16:41] pieandcakes commented on #313
@Archangel7777777 Awesome! I'm glad this is fixed for you.

[2016-11-02 16:42] pieandcakes commented on #318
@DimitarTasev If you open an issue in the VSCode repo, you can link and close this issue. If it happens that we need to investigate again, you should be able to reopen it.

Thanks
-Pierson

[2016-11-02 16:56] pieandcakes commented on #324
@DavidA2014  Tasks are part of VSCode and I don't know enough to configure the task to run in WSL. That might be something you can ask on the [VSCode ](https://github.com/Microsoft/VSCode/Issues) page.

To set the directory in the task, you can add:
`"options": {
        "cwd": "/path/where/you/want/to/be"
    }`

[2016-11-02 17:12] changm commented on #286
Hi! @sean-mcmanus What would it take to get this fixed? This is making VS Code unusable for me :(. Thanks!

[2016-11-02 17:20] pieandcakes commented on #201
If you want to enable pretty printing by default for gdb, you can add the following to your launch.json

`"setupCommands": [
                {
                    "text": "-enable-pretty-printing"
                }
            ]`

This will run the command for each debug session, eliminating the need to enter it each time.

HTH
-Pierson

[2016-11-02 20:59] dtasev commented on #318
Issue in VSCode repo: https://github.com/Microsoft/vscode/issues/14848, closing this until we have some answer in it

[2016-11-02 20:59] #318 closed, assigned to nobody

[2016-11-02 21:04] pieandcakes commented on #45
@KingLebron Tasks are provided by VSCode. If this isn't resolved, can you try and file an issue on the [VSCode ](https://github.com/Microsoft/VSCode/issues)repo?

[2016-11-02 21:04] #45 closed, assigned to sridmad

[2016-11-02 23:33] andro78 commented on #128
There is no new unsaved files.

[2016-11-03 01:21] bluebruce opened #325 "File indexing does not work with SFTP NetDrive"
- OS: Windows 7
- VSCode ver: 1.7.0, 1.6.1
- Extension: ms-vscode.cpptools
- sftp mounted network disk drive: Use [SFTP NetDrive](https://www.eldos.com/sftp-net-drive/) to mount a Linux as local disk drive.
- Issue Scenario:
The extension tool works great when the same c project files are located under local hard disk drive.
However, when project folder is located under a 'sftp mounted network dis

[2016-11-03 05:12] myrfy001 opened #326 ".browse.VC.db is recreated every time with large projects such as chromium."
.browse.VC.db is is recreated every time when i use it to debug chromium project. The project can be pull from www.chromium.org and the whole project including git repo is about 20GB. The .browse.VC.db created by cpptools plugin can be about 1.7GB and it will be created everytime the workspace is opened. I work on a SSD and it will take me about five minutes before it finish.

The cpp-tools versio

[2016-11-03 08:50] daldr-ntml commented on #324
Thanks for your answer.

[2016-11-03 09:07] DevSecTim commented on #286
I just wait for the fans on my Mac to kick off and then go to Activity Monitor and kill the processes each time!

[2016-11-03 09:08] DevSecTim commented on #201
Great, thanks!

Now we just need LLDB to be rebuilt with pretty printing support...

[2016-11-03 10:30] DevSecTim commented on #287
'static_assert'
![screen shot 2016-11-03 at 10 30 04](https://cloud.githubusercontent.com/assets/2226767/19962635/8b195c4c-a1b0-11e6-9715-48826cf9e854.png)

[2016-11-03 16:15] pieandcakes commented on #201
@TurboTim That is something that we will take a look at. The dependency on Python is the sticking point.

[2016-11-03 16:22] #324 closed, assigned to pieandcakes

[2016-11-03 16:25] pieandcakes commented on #311
@carlosd097 Have you been able to get the debugging working? Do you need additional help?

[2016-11-03 16:28] pieandcakes commented on #307
@mazhan465 is this related to issues #316 and #309 that you opened?

[2016-11-03 16:29] crioux commented on #201
One could bundle python and use this to point to bundled python:
(from http://lldb.llvm.org/build.html)

LLDB_RELOCATABLE_PYTHON (Default=0): When this is 0, LLDB will bind statically to the location specified in the PYTHON_HOME CMake variable, ignoring any value of PYTHONHOME set in the environment. This is most useful for developers who simply want to run LLDB after they build it. If you wish to

[2016-11-03 20:47] hth313 opened #327 "hard to troubleshoot launch failure"
I can launch gdb, but when I try with another debugger that mimics gdb, it just fails with the following output in the console:

[code]

I have successfully used this debugger in Eclipse and Emacs/MI as a replacement for gdb.

The xterm console blinks briefly, then just the above error, which does not tell me much except that it did not work.

Is it possible to see the command line it cooked up?

[2016-11-03 21:19] pieandcakes commented on #327
@hth313 We do additional setup for gdb to map pipes for stdin and stdout so we can read MI. I know for our extension we had to do work also to get lldb to work that was different than what we needed for gdb.

[MIEngine ](https://github.com/Microsoft/MIEngine) is an open source project that you can download and build and debug if you want to see what is going on with the debugger that you are attem

[2016-11-04 02:21] Gussy opened #328 "Unable to debug embedded targets using arm-none-eabi-gdb"
I'm trying to set up debugging of a [microcontroller](http://www.st.com/en/microcontrollers/stm32f303.html) using an external [debug probe](https://github.com/blacksphere/blackmagic) inside of vscode.

The following commands let me debug normally in the terminal, but I'm having trouble getting it to work inside vscode.
[code]

My vscode `launch.json`:
[code]

The output I get in the vscode debug c

[2016-11-04 03:38] BusyJay opened #329 "Unable to launch debugger when default shell is fish"
`$?` is invalid in fish shell, when try to debug a program with default shell set to fish, it will failed to be launched.

$? is not the exit status. In fish, please use $status.

[2016-11-04 03:41] BusyJay commented on #329
Just find out this issue is duplicated with #239.

[2016-11-04 03:41] #329 closed, assigned to nobody

[2016-11-04 16:04] kasraghu opened #330 ""C_Cpp.clang_format_style" is not overwriting "editor.detectIndentation" setting."
When the following two options are used in settings, the indentation is not correct.
[code]

For example:
Instead of
[code]
we get
[code]

[2016-11-04 17:33] greazer commented on #330
Hmmm... I tried, but am not reproducing the problem. I created a cpp file that had the code you suggest above (first in a function, but then outside of a function completely on its own). I set the settings as you suggest. Right clicking and choosing Format Document, results in the properly indented snippet. Am I missing something?

[2016-11-04 19:51] kripod opened #331 "Ctrl + left click on an included header isn't resolved to configurations/includePath"
`.vscode/c_cpp_properties.json`:

[code]

`src/main.c`:

[code]

Although `stdbool.h` and `size.h` can be opened by ctrl + left click, trying to open `SDL2/SDL.h` results in the following error message:

The syntax highlighter doesn't mark `#include <SDL2/SDL.h>` with a green underline, so it seems to find the header correctly, based on the include path.

[2016-11-04 21:14] kasraghu commented on #330
Here I am attaching the file to reproduce the problem. One thing I have observed is, if I try to use 'save as' option inside visual studio code, the indentation corrects itself in the new file. Copy/Paste or Renaming the file in windows explorer doesn't change anything.

Try introducing a tab at lines 21/23/30/33. When you do Ctrl+S, the lines revert back.

P.S: Change the file extension from .txt

[2016-11-04 22:38] lxl30 opened #332 "Remote c++ debugging"
I am looking for a little help in debugging my app using vscode. My app is in a Parallels Desktop virtual machine running Ubuntu 14.04, and I am running vscode on my Mac, running MacOS 10.12. I am using ssh to connect to Ubuntu, and my home directory in Mac is shared with the VM.

Unfortunately, I could not find any couldn't find any cross-gcc which can do the debugging using gdbserver. So I tried

[2016-11-05 00:05] pieandcakes commented on #328
@Gussy I see the top warning:
`WARNING: Debugger executable '/usr/local/bin/arm-none-eabi-gdb' is not signed. As a result, debugging may not work properly.`

I don't know if that might be part of the issue. The other option would be to try and start gdb in MI mode from a command line and try the commands and see if it still works? You can get the list of commands we send by enabling the logging fu

[2016-11-05 00:11] pieandcakes commented on #332
@lxl30 Alternative source mapping feature isn't available right now but it is something that we are working on. What you can do for now is make sure the code is in the same exact folder structure on your Mac that it is in Ubuntu and then it should find it.

You can also download VSCode with our extension directly on Ubuntu and use it there too, bypassing the remote scenario.

[2016-11-05 00:14] pieandcakes commented on #321
@csholmq I think you need to start with the C++ Launch scenario to do remote GDB. Can you recreate your `launch.json` using that section and see if it works for you? I know with the type of `attach` we only look for specific properties to do a local attach.

[2016-11-05 00:16] pieandcakes commented on #302
@yejun556688 If this is still an issue, can you try the steps @delmyers mentioned above and if it doesn't resolve it, please reopen this issue.

Thanks

[2016-11-05 00:16] #302 closed, assigned to nobody

[2016-11-05 00:53] #327 closed, assigned to pieandcakes

[2016-11-05 01:01] hth313 commented on #327
@pieandcakes  Thanks, I was able to pinpoint the problem by looking at the MIEngine source.

I closed the issue, but you want you to ponder over that it may help to display the actual command line used when it fails to launch, it would have helped in this case.

Anyway, I can launch it now.

[2016-11-05 01:02] pieandcakes commented on #327
@hth313 Our error support needs some work to help us quickly tell what is wrong. One step that we made recently was adding logging, but I assume in this instance it would not have helped.

Glad to see you were able to get it working.

[2016-11-05 01:05] Gussy commented on #328
Thanks for the logging tip @pieandcakes, that's perfect.

The only places where the output differs, are in these two snippets (with logging formatting and noise removed)

vscode:

[code]

And native gdb:

[code]

Both are actually attaching and breaking on the code, which is good, but the only difference between the two logs is that the `*stopped,[snip]` line comes in a different place.

Could the

[2016-11-05 01:46] hth313 opened #333 "[Feature Request] Fully support target-async on"
When the session starts it sends:

[code]

This is intended to enable asynchronuos commands, see https://sourceware.org/gdb/onlinedocs/gdb/Asynchronous-and-non_002dstop-modes.html

Whether the debugger actually supports it can then be checked using `-list-target-features` which will respond with something like:

[code]

If "async" appears in the target-features list, the debugger supports asynchro

[2016-11-05 02:41] hth313 opened #334 "Cannot stop simulated process target"
I am using a simulation environment where threads and processes are internal to the debugger, hence thread and thread group identities are *not* valid outside the debugger process.

After launch I cannot stop the debugee. The pause button has no effect.

Looking at MICore, it seems that it wants to send `SIGINT` to the debugee process, not the debugger process.  But it is not possible to send sign

[2016-11-05 14:50] csholmq commented on #321
@pieandcakes Ah, good to know. I have attempted a few approaches using launch and gotten a bit further. At least with calling a script that executes GDB directly. I'll post a new `launch.json` as soon as I have tried it again.

Is there anyway to "debug the debugger"? I'm troubleshooting a bit in the dark here.

[2016-11-06 07:50] weijy026a opened #335 "Downloading package 'ClangFormat (Windows)' Failed at stage: downloadPackages"
When I install this extension,it reports a bug as below:
[code]

[2016-11-06 12:02] yujqiao opened #336 "source is not available"
Version : 1.71
OS: Windows10
When I were debugging with gdb(MinGW64), I got lines like this:
There was two tabs and the first one had correct code on it but the second one read "source x.cpp is not available."
![qq 20161106200119](https://cloud.githubusercontent.com/assets/20105061/20037526/cda7d360-a45b-11e6-8111-6e74eab48c0c.png)

[2016-11-06 13:19] yujqiao opened #337 "Can I configure tasks.json,launch.json for certain language?"
I usually work on single files, which are not in a folder. So when I create a new file, I will have to write the launch.json and tasks.json again. Is there any way to configure task. Is there any way to solve this?

[2016-11-06 13:36] mkwork commented on #315
Thank you.

[2016-11-06 13:36] #315 closed, assigned to nobody

[2016-11-06 14:02] agasy18 opened #338 "Error Unable to start debugging. libc.dylib"
##### launch.json
[code]

#### task
[code]

I have tested "Native Debug" extension and it works in this environment.

[2016-11-06 21:15] jonowells opened #339 "Insiders 1.8.0: Updating C/C++ dependencies... Failed at stage: downloadPackages"
Getting this warning when I start up VS Code with this package installed.

[code]

[2016-11-07 17:34] delmyers commented on #338
@agasy18 What OS are you working with? I've seen on the internet that some people have trouble with libc.dylib on OSX El Capitan. Do you have Mono installed on your machine?

[2016-11-07 19:07] pieandcakes commented on #321
@csholmq - You can enable logging through the logging tag in `launch.json`. I would look at either `trace\traceResponse` or `engineLogging`. The `engineLogging` are the MICommands we send to the debugger and the responses we get back. You can switch `gdb` into MI mode by specifying `--interpreter=mi` as a command line parameter.

One of the intermediary components, the [MIEngine](https://github.co

[2016-11-07 19:18] pieandcakes commented on #335
@weijy026a - if you close and reopen VSCode, does it try and download again? It seems that it was unable to obtain the third component.

[2016-11-07 19:19] pieandcakes commented on #336
@Rapiz1 What that means is that the source file is not in the same location on disk as when the executable is compiled. Was this binary compiled and then moved?

[2016-11-07 19:23] pieandcakes commented on #339
@jonowells Does the machine you have this running on have internet access? Its trying to download its dependencies which happens the first time the extension is activated.

[2016-11-07 19:30] pieandcakes commented on #337
@Rapiz1 That would probably be a question for [VSCode](https://github.com/microsoft/vscode/issues) as they control where launch.json and task.json are laid out and used.

[2016-11-07 19:34] pieandcakes commented on #336
@Rapiz1 if you enable `"logging": {
                "engineLogging": true
            }` you can see where it is expecting the file versus where you have the file loaded.

[2016-11-07 19:44] jonowells commented on #339
I definitely have an internet connection. I just tested it and I still have that message.

Could the packages could be in a corrupt state?

[2016-11-07 19:47] pieandcakes commented on #339
@jonowells I just reinstalled the extension and I haven't seen that error. Would it be possible for you to remove the extension folder from ~/.vscode/extensions and reinstall it and see if it will download again? Can you tell me which OS you are running this on?

[2016-11-07 19:52] jonowells commented on #339
10.12.2 public beta. Deleting the package from the extensions folder didn't fix it.

[2016-11-07 19:57] jonowells commented on #339
I also tried running npm manually. I get this:

[code]

[2016-11-07 20:05] pieandcakes commented on #339
@jonowells The dependencies are not obtained through npm. They are downloaded through an `https-proxy-agent` and the code is found in `~/.vscode/extensions/<extension-folder>/out/src/packageManager.js`. The URLs it is trying to download are in the `package.json` file at the bottom.

Can you see if you can access `https://go.microsoft.com/fwlink/?LinkID=817244` on that machine? That's one of the it

[2016-11-07 20:06] jonowells commented on #339
I see. That link downloads as it should.

[2016-11-07 20:10] pieandcakes commented on #339
@jonowells Can you tell me which version of VSCode you are running?

[2016-11-07 20:10] jonowells commented on #339
So I tried downloading the stable VSCode build instead of insiders. A completely clean install except for some preferences leftover. The plugin installs fine and everything works as it should. I noticed that one of the packages that are installed is mono develop. I also have the C# and some unity plugins installed on my insiders build. maybe there is a conflict?

[2016-11-07 20:11] jonowells commented on #339
1.8.0-insiders

[2016-11-07 20:14] FilipLaurentiu opened #340 "Issue with Visual Studio Code when i want to run C code"
"Updating C/C++ dependencies...
Failed at stage: getPlatformInfo
Error: Command failed: wmic os get osarchitecture
'wmic' is not recognized as an internal or external command,
operable program or batch file.

Finished"

this is what it say in the console.
![capture](https://cloud.githubusercontent.com/assets/20188480/20074092/7abd1070-a537-11e6-9777-e3cb035937b4.PNG)
![capture2](https://cloud.gith

[2016-11-07 20:14] pieandcakes commented on #339
@jonowells Looking at the block of code where it is failing, it is expecting to be able to get our extension from vscode.extensions.getExtension. It might be an issue in Insiders. I'll give that a shot later today and let you know.

We also download mono but that is downloaded inside the extension path and we use it to launch our debugger extension. There should not be a conflict since we use the

[2016-11-07 20:16] jonowells commented on #339
I see. Thanks for taking a look. If I have more info I'll post it here.

[2016-11-07 20:18] pieandcakes commented on #339
@jonowells Looks like an issue with VSCode insiders version. I downloaded the latest Insiders on my Windows machine and tried to install the extension and I'm getting the same error. I'll see if I can file an issue with them.

[2016-11-07 20:30] pieandcakes commented on #339
@jonowells Looks like its an issue that they have fixed: https://github.com/Microsoft/vscode/issues/14763

[2016-11-07 20:31] jonowells commented on #339
Awesome!

[2016-11-07 20:31] #339 closed, assigned to nobody

[2016-11-07 20:34] pieandcakes commented on #340
@FilipLaurentiu  Which version of windows are you running this on? We're attempting to get the version of windows you are running on in order to download the correct dependencies by using `wmic`.

[2016-11-07 20:35] FilipLaurentiu commented on #340
i use windows 10 pro 64 bit

[2016-11-07 20:45] pieandcakes commented on #334
@hth313 If I remember correctly, this was changed because of an issue with attaching to a process versus launch and how the debugger handled it. This might be an issue that needs to be filed at the MIEngine [issues](http://github.com/microsoft/miengine/issues) page or if you want, you can download that source code and make a change to support this specific scenario.

I'll mark this as a feature re

[2016-11-07 20:48] pieandcakes commented on #340
@FilipLaurentiu  Can you open a regular Command prompt and run `wmic os get osarchitecture` and let me know if it returns anything?

[2016-11-07 20:50] FilipLaurentiu commented on #340
![capture](https://cloud.githubusercontent.com/assets/20188480/20075372/91edca78-a53c-11e6-933b-74418d217863.PNG)

[2016-11-07 21:03] pieandcakes commented on #340
@FilipLaurentiu We have a fix to remove our requirement for `wmic` in our next release.

In the meantime, if you want, you can add a `.catch((error) => { return "64-bit"; });` to the return statement in your `c:\users\<username>\.vscode\extensions\<extension_name>\out\src\platform.js` script at the end of the GetWindowsArchitecture method. It should be around line 43.

[2016-11-07 21:13] FilipLaurentiu commented on #340
![capture](https://cloud.githubusercontent.com/assets/20188480/20076091/b6560d78-a53f-11e6-9c4d-5d449e1c9d93.PNG)

Like this ?

[2016-11-07 21:16] FilipLaurentiu commented on #340
1 problem solve 👍  another problem appear 👎

[2016-11-07 21:19] FilipLaurentiu commented on #340
![capture](https://cloud.githubusercontent.com/assets/20188480/20076320/a65b6ade-a540-11e6-954e-57ccc75a77d8.PNG)
![capture2](https://cloud.githubusercontent.com/assets/20188480/20076321/a680bbcc-a540-11e6-9b01-4d554ca87552.PNG)

[2016-11-07 21:20] FilipLaurentiu commented on #340
now when i want to run the code, this appear. Sorry if i am a a pain in the ass.

[2016-11-07 21:36] mycraftmw commented on #331
The same problem.

[2016-11-07 21:46] pieandcakes commented on #340
@FilipLaurentiu  So the line in your launch.json where it says `"program":` you need to enter the location for your compiled executable.

If you need to compile your executable, you'll need to configure a task through the `Task Runner`.

[2016-11-07 21:58] delmyers commented on #333
@hth313 thanks for bringing this up. Our experience has been that we have had inconsistent results with asynchronous commands in gdb. Are you asking for us to do something extra? Are you seeing a bug, or just offering a suggestion?

[2016-11-07 22:28] FilipLaurentiu commented on #340
![capture](https://cloud.githubusercontent.com/assets/20188480/20078666/3ae49bb8-a54a-11e6-9fc5-3a5d340d1f0f.PNG)

i give up..

[2016-11-07 22:42] hth313 commented on #333
@delmyers My suggestion would be to issue a `-list-target-features` and if it responds with "async" being a supported feature, the front-end should allow commands to be sent to the debugger while debugee is running. I would consider it an enhancement/feature request.

This could be a configurable option if you worry about it could cause problems.

Some commands may require access to a stopped CPU.

[2016-11-07 22:52] pieandcakes commented on #340
You need to use `\\` instead of `/` symbols. plus, the program you are debugging is not gdb.exe, its your program. You do need to create another tag in there called `"miDebuggerPath": "c:\\mingw\\bin\\gdb.exe"` and specify in the `"program":` the result of your compilation of your c++ app (a.exe, or whatever you specify).

[2016-11-07 23:10] hth313 commented on #334
@pieandcakes Using  `-exec-interrupt` is the correct way to stop a debugee with MI. Why would the command even exist otherwise?

This allows the debugger to take whatever specific means there are to interrupt execution. If a debugger has problems with `-exec-interrupt`, I would say there is a bug at the debugger end.

I am really stuck on this and will put this aside for a while. If you have any d

[2016-11-08 00:16] pieandcakes commented on #334
@hth313 Using `SIGINT` was a workaround to an issue in the debugger. I believe the person working on the issue logged a bug against gdb but I wasn't able to find it through a quick search.

The instructions to download MIEngine code and build is [here](https://github.com/Microsoft/MIEngine#get-started) on their GitHub page. The build definition you want to choose is `Desktop.Release`. You will nee

[2016-11-08 00:45] hth313 commented on #334
@pieandcakes Thanks! Unfortunately it says I need to use Visual Studio on Windows, which means I will not be able to do it.

I tried to find the bug report as well, but could not locate it.

[2016-11-08 02:51] weijy026a commented on #335
It has been installed successfully yesterday. This might be one network connection problem. Thank you.

[2016-11-08 03:21] #335 closed, assigned to nobody

[2016-11-08 06:12] FilipLaurentiu commented on #340
where is my compiled file? i don't know the location. i set up "miDebuggerPath": "c:\mingw\bin\gdb.exe" and work, but i don't specify in the "program" the right location. How to find this location ?

And thank you for you time and help !

[2016-11-08 07:57] yujqiao commented on #336
@pieandcakes I think it was caused by the path with Chinese character. I renamed the folder in English then everything works fine. It's a bug.

[2016-11-08 08:59] DevSecTim commented on #145
+1

[2016-11-08 11:12] csholmq commented on #321
Still having issues even though I can now connect to the gdb server.

[code]

Why is it still doing all these other commands that I don't support?

[code]

[2016-11-08 13:09] agasy18 commented on #338
@delmyers I am working on OSX El Capitan 10.11.6 (15G1108). Yes, I have installed Mono with Unity. (I will upgrade OSX to Sierra).

[2016-11-08 13:15] ffes opened #341 "Clang format should respect tab settings"
I think that the formatter should respect the user/workbench/document tab settings automatically. I know it is possible to set those values myself in `settings.json` but why do I need to manually edit this? It should default to the active settings.

Note that things like [EditorConfig](http://editorconfig.org) exist. It adjusts the tab settings of the current document based on a `.editorconfig` fi

[2016-11-08 18:22] pieandcakes commented on #340
@FilipLaurentiu You need to manually compile your code either from the terminal command line or by adding a `task.json` from within VSCode. Its probably going to be easier for you to compile from the command line to get started. You will need to make sure your MinGW bin folder is in your path and you can go to the folder where your source code is located and use `g++ -g <your code files> -o <your

[2016-11-08 18:27] pieandcakes commented on #321
@paulmaybee @jacdavis Can either of you provide any insight?

[2016-11-08 18:53] jacdavis commented on #321
The MI Engine is executing our normal command set during startup because setupcommands only appends to the standard set of commands executed during startup. If you want to replace them, use customSetupCommands. However, I must warn you that this can completely break the debugger if events and/or requests are not sent as expected by the debugger.

The UI expects certain functionalities that some gd

[2016-11-08 18:54] paulmaybee commented on #321
From the part of the log you have included above the sequence looks like normal post setup execution of the MIEngine.  Although you can customize the setup sequence for your device, you have very little control over the debugger interactions with gdb. I believe that from the way you have this configured the MIEngine will expect that the process is stopped and ready to inspect when the launch seque

[2016-11-09 00:38] #337 closed, assigned to nobody

[2016-11-09 00:39] pieandcakes commented on #336
@Rapiz1 I tried with GDB and if you provide a filename or path that contains Chinese characters, it looks like it does not respect that. This is probably an issue in GDB and would need to be fixed on that side.

[2016-11-09 00:39] #336 closed, assigned to pieandcakes

[2016-11-09 00:42] pieandcakes commented on #328
@Gussy We set a breakpoint at the entry point of main because in certain instances, we need to be at a stopped state to ensure our breakpoint bindings are all in place. Once that happens, it issues an `-exec-continue`. There currently isn't a work around to that. Is the continue breaking your scenario?

[2016-11-09 12:22] bluebruce commented on #325
Update: The extension tool works fine when using samba mount. Looks like it is SFTP specific or "SFTP NetDrive" specific.

[2016-11-10 03:33] sg- commented on #266
bump

Edit: I've added the logging.

[code]

and the log

[code]

[2016-11-10 10:15] hangxingliu opened #342 "How to disable clang-format automatic format my code"
I installed VSCode C/C++ extension and I think that it is a very good C/C++ extension for VSCode and it has surprised intellisense.
But now I am meeting a trouble about this extension: I could not disable the clang-format of it.
Because clang-format will format my code automatic format my code using different indents and style with my original style no matter what I configure.

So, Has it way to d

[2016-11-10 16:35] csalv5 opened #343 "hitting tab or space doesn't work after TrimTrailingWhitespace"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:46.244Z)
- OS Version: Linux x64 4.4.0-47-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-great-icons|emmanuelbeziat|1.1.22|
|CppSnippets|hars|0.0.5|
|language-haskell|justusadam|1.2.2|
|cpptools|ms-vscode|0.9.2|
|mytheme|me|0.0.1|
|seti-icons|qinjia|0.1.3|
|java|redhat|0.0.6|
|vscode-i

[2016-11-10 16:55] paulmaybee commented on #266
Sorry, somehow missed this thread earlier.
Have you tried starting the gdbserver "by hand" on the target device: gdbserver localhost:2345 a.out
Then set this value in the launch.json: "miDebuggerServerAddress": "your-machine-name:2345"
Then just launch as normal?

[2016-11-10 17:06] sg- commented on #266
Yep - Removing "debugServerPath": "/usr/local/bin/pyocd-gdbserver" and starting the server in the console with pyocd-gdbserver works fine.

[code]

[2016-11-10 17:27] paulmaybee commented on #266
Ok, then have you tried using the

 "debugServerPath": "/usr/local/bin/pyocd-gdbserver",
"filterStderr":"true",
"filterStdout":"false",
"serverStarted":"GDB\ server\ started"

could also adjust "serverLaunchTimeout" if the default 10 seconds is not long enough?

[2016-11-10 17:28] paulmaybee commented on #266
should be double backslashes in above serverStarted string

[2016-11-10 17:52] sg- commented on #266
Looks like the solution for me is 2 fold.
- `serverStarted` seems to be required.
- `filterStderr` must be true. Seems this is causing conflict on the match with `serverStarted`

[code]

results in:

[code]

[2016-11-10 17:52] #266 closed, assigned to nobody

[2016-11-10 19:28] sean-mcmanus commented on #341
I don't understand what you're asking for. Can you give more repro/scenario details and an example? What are your C_Cpp.clang_format_\* and editor.\* settings? Are you using a .clang-format file? In general, it should use the user tab settings for formatting if the Visual Studio style is used. If you have more specific formatting, those will be used instead.

[2016-11-10 20:28] sean-mcmanus commented on #342
A future release will add a clang-format enable/disable capability. However, there shouldn't be any automatic formatting by default. Could you give more info on how you are invoking the code formatting? Is your intent to use another formatter?

[2016-11-10 20:33] sean-mcmanus commented on #343
It seems like another extension is causing the file to be saved on edit, because I can't repro it with just our cpptools extension. Can you disable our cpptools extension (or disable others) to see if this still repros and narrow down which extension is causing the problem?

[2016-11-10 21:46] mw8 opened #344 "Cannot get any formatting to work"
I have VSCode 1.7.1 on Windows 7, with version 0.9.2 of the C/C++ extension, and I cannot get any formatting to happen at all. I have gotten it down to this minimal example. I right click and go to "format document" and nothing happens. There are no errors or warnings, and I have not changed any settings. Is there something I'm missing?

![c_cpp_vscode_bug](https://cloud.githubusercontent.com/asse

[2016-11-11 04:52] justnonamenoname commented on #282
${workspaceRoot}
why not to add this?

[2016-11-11 08:59] csalv5 commented on #343
The problem still persist after disabling all the above extensions (with only cpp ext enabled); with cpp ext disabled everything is ok, anyhow, i noticed that having cpp extension enabled, the only way to fix this issue is to set "C_Cpp.clang_format_formatOnSave" setting to false.

[2016-11-11 10:09] PattyDePuh commented on #132
Same for me with another example:
Trying to finish an comment with a dot activates IntelliSense.
`// I'm an example.`
Pushing 'Enter' - with active IntelliSense unnoticed - leaves the first entry from it at the end of the comment.
In this case:
`// I'm an example.__arr`

-> VC Version 1.7.1

[2016-11-11 11:47] ffes commented on #341
I have a these lines in my user settings. No other related settings (like C_Cpp.clang_*) are done.

[code]

When I press `Alt+Shift+F` to reformat the current file clang uses the default clang settings. So the first indent is 4 spaces, the second level indent is done with 1 tab (of 8 chars). But since my tabs are 4 chars wide there is no visible difference between the first level (4 physical space

[2016-11-11 15:02] sean-mcmanus commented on #343
Yeah, looks like a formatOnSave bug -- it seems to only repro on Linux/Mac (not Windows). We'll put it on our list of bugs to fix for a future release. We wrote the feature before VS Code had platform support for formatOnSave, so re-implementing the feature to use the platform support would probably fix this (and other issues, like SaveAll not formatting all saved files). Setting either of the for

[2016-11-11 15:41] sean-mcmanus commented on #341
This appear to be a bug on Linux/Mac. It doesn't repro on Windows (on which the 4 spaces changes to 1 tab and the 1 tab changes to 2 tabs, which gives correct indentation). The current code sets UseTab based on the insertSpaces setting and IndentWidth based on the tabSize (we don't set the TabWidth different from the LLVM style), but the settings seem to not be correct on Linux for some reason (it

[2016-11-11 16:05] ffes commented on #341
But I am using vs code on Windows.

It there a log file (or alike) somewhere so I can see what happens when I press Alt+Shift+F?

[2016-11-11 22:21] sean-mcmanus commented on #341
Oops, you're right. I'm observing the same behavior on Windows now (I didn't notice I had a .clang-format file with IndentWidth:8, TabWidth:8, UseTab: Always). The behavior appears "by design" for the detectIndentation setting, in which case we're getting an IndentWidth of 4 due to the 4 spaces being used (i.e. if you set the tabSize to 8, we would use the value of 4 instead, which is the value VS

[2016-11-11 23:08] justnonamenoname opened #345 "Document format is very slow | CPU"
- VSCode Version: 1.5-1.7.1 (didn't tested <1.5)
- OS Version: Windows 7

Steps to Reproduce:

1. Check Format Document on this file - 40k lines
www.gta-samp.com/size.cpp

clang-format.exe works 1 second
but Code.exe stuck at CPU 100% for a minute

Visual Studio 2013 format this file in second

If you delete ms-vscode.cpptools and install
marketplace.visualstudio.com/items?itemName=ryannaddy.vscod

[2016-11-12 00:12] greazer commented on #322
Hi Icarus, I don't think you're missing components, you may just be running into a combination of expected behavior and possibly a bug.

You're saying you're running on 32-bit flavors of Win10, Win7 and openSuse.  Correct?

Unfortunately, our extension does not currently support 32-bit Linux distros. As for Win7 32bit, it should work. I was able to create a folder with a cpp and h file. The featur

[2016-11-12 03:54] sean-mcmanus commented on #345
This doesn't appear to be our bug. Can you re-open the issue with VS Code?

[2016-11-12 03:54] #345 closed, assigned to nobody

[2016-11-12 10:20] liushuikong opened #346 ""C_Cpp.clang_format_formatOnSave" doesn't work"
"C_Cpp.clang_format_formatOnSave": true

[2016-11-12 10:22] liushuikong commented on #346
The system is Ubuntu 16.04. The version of vscode is 1.7.1

[2016-11-12 14:46] dengxf2008-zz commented on #297
I also have this issue on multiple versions of vscode. and the cpu is high even the vscode is exited. but the extension does not exit. bellow is the data from monitor:

Sampling process 15273 for 3 seconds with 1 millisecond of run time between samples
Sampling completed, processing symbols...
Analysis of sampling Microsoft.VSCode.CPP.Extension.darwin (pid 15273) every 1 millisecond
Process:

[2016-11-13 10:55] EgZvor opened #347 "Cyrillic support"
I have that ����� ����� ��� instead of cyrillic in cpp files. In files not associated with c++ they show up normally.

[2016-11-13 11:16] EgZvor commented on #347
It was just a wrong encoding issue, sorry.

[2016-11-13 11:16] #347 closed, assigned to nobody

[2016-11-13 13:38] OptSolution commented on #310
I also met the problem, do you fix it?
![2016-11-13 21-36-51](https://cloud.githubusercontent.com/assets/18118718/20246050/896f8b50-a9e9-11e6-8b90-43bffc21e2bd.png)

[2016-11-13 22:16] ffes commented on #341
He? Why does `editor.detectIndention` influence this?

I would just expect it works as described in the [docs](http://code.visualstudio.com/docs/languages/cpp):

[code]

No matter what `editor.detectIndention` is set to. That setting should no be of any influence on the plugin IMHO. The plugin should just take the tab settings from the document.

[2016-11-14 02:06] protolyser commented on #178
I also get this error everytime with Visual Studio Code v1.7.1 and C/C++ v0.9.2.
I have an Arduino Project folder (with .ino) files open. Doesn't it work with Arduino?

[2016-11-14 03:34] Kurt-Shiwz commented on #310
No, Still waiting

[2016-11-14 08:37] OptSolution commented on #310
I fixed it, the error in my VSCode was from "C/C++ Clang", not from the plugin

[2016-11-14 08:47] Kurt-Shiwz commented on #310
Can you tell me what you did

[2016-11-14 10:34] hangxingliu commented on #342
Actually, I using VSCode to write web project before write C/C++ project.

So I turn on the opinion format on type ( `"editor.formatOnType": true` )  for the purpose of format my javascript code easily and automatically. And I installed another formatter for web languages(js, css, html), and they don't influence C/C++ codes.

I found that turn off the opinion format on type ( `"editor.formatOnType

[2016-11-14 16:07] sean-mcmanus commented on #341
Our code gets sent a UseTab/IndentWidth setting from VS code itself through the API they define for text formatting -- the value they send us is the "VS Code current setting" which takes the editor.detectIndentation into account. The design of the "editor.detectIndentation" setting is to override the tabSize and insertSpaces user/workspace settings; instead, it sets those based on the current docu

[2016-11-14 16:13] sean-mcmanus commented on #178
We've never tested with Arduino projects. We support C/C++ projects. If you can provide a repro of the crash we could investigate.

[2016-11-14 16:34] protolyser commented on #178
it happens with any arduino project I tried so far. for example any of the examples included with the arduino ide. or for example this here: https://github.com/esp8266/Arduino/blob/master/libraries/ESP8266WiFi/examples/NTPClient/NTPClient.ino

when I put that in a folder, open the folder with VS Code and wait a bit, the message pops up.

[2016-11-14 16:37] sean-mcmanus commented on #342
So will being able to disable our C/C++ formatter be sufficient or did you want to specifically just disable the C/C++ formatOnType setting?

[2016-11-14 19:03] galvesribeiro opened #350 "Fail to detect includes"
![image](https://cloud.githubusercontent.com/assets/4714040/20278490/1fc764f4-aa8c-11e6-9d85-e321c692c2f9.png)

As you can see in this picture, some includes that are in the disk, have the json settings configured properly are not detected by VSCode while including them. Some of the files just work...

Any reason for that?

[2016-11-14 19:09] galvesribeiro commented on #350
Ignore the issue... Ended up that I made a mistake with the file name... Thanks

[2016-11-14 19:09] #350 closed, assigned to nobody

[2016-11-14 22:00] dhiraj113 opened #351 "Viewing derived class variables with a base class pointer during debugging"
Is it possible to view the member variables of a derived class during debugging by hovering the cursor over a base class pointer that points to an object of the derived class.

Currently, the cpptools addon in vscode only shows the base class variables when I hover the cursor over the base class pointer pointing to a derived class object.

[2016-11-14 22:57] hangxingliu commented on #342
I think that it's nice if I could just disable C/C++ formatOnType setting. Because there are Nodejs codes and C codes  in my active project. So if I turn off `editor.formatOnType` settings in this workspace, I will get not any automatic format in my javascript files.

[2016-11-14 23:54] delmyers commented on #351
Have you tried casting to the type that you are interested in the watch window? We get the type info from the debug engine itself. Are you running on Mac, Linux, or Windows?

[2016-11-15 04:46] sean-mcmanus commented on #342
Yes, but we've already added a general C/C++ formatting setting, and not a C++ specific formatOnType setting, so when you turn the C/C++ formatting setting off, it won't do formatOnType for the other languages, but the disadvantage is the manual C/C++ formatting won't be available. Is that okay? If not, we might be able to add a C++ specific formatOnType later.

[2016-11-15 05:14] gangliao commented on #286
￼Same problem. Can you guys fix it ASAP???
![c42c0158-baa5-4258-b66e-684ccaafebbf](https://cloud.githubusercontent.com/assets/3071933/20293922/448d630c-ab35-11e6-822b-b13d5e9766eb.png)

[2016-11-15 05:50] hangxingliu opened #352 ""#ifndef" code snippet is wrong"
I used code snippet `#ifndef` but I got a snippet like down:

[code]
It look like a wrong snippet mixed ifdef preprocess and ifndef preprocess.

- VSCode version: `1.7.1`
- System: `Windows10 10.0.14393` and `Windows7 6.1.7601`
- Extension version: `0.9.2`

[2016-11-15 06:03] hangxingliu commented on #342
I think that add a C++ specific formatOnType opinion would be a nice idea.
I don't know how other expert C++ programmer think it, maybe you can refer more user idea.

(P.s. I write Javascript and Java more than C/C++, so I don't like many C/C++ special code style( : -) ) lead to I wanna turn off the C/C++ formatter)

[2016-11-15 10:06] Kractal opened #353 "Using vscode debugging c + +"
I want to use vscode and cpptools to debug C++, I have already installed MinGW in my C disk, I write a helloworld program and when i want to start debug, an error occurred, it is:
    Unable to start debugging. Program path 'd:\1\test.cpp' is missing or invalid.
Anyone know how to solve this problem? Please tell me,thanks a lot.

[2016-11-15 16:21] delmyers commented on #353
Hi @NightWitchLilith

C++ is not an interpreted language. You need to compile your code before you can execute it. After it is compiled, you have to tell the debugger to launch the compiled output.

Please see these blogs, and docs for more info:

[Building Your C++ Applications With Visual Studio Code](https://blogs.msdn.microsoft.com/vcblog/2016/10/24/building-your-c-application-with-visual-stud

[2016-11-15 16:21] #353 closed, assigned to nobody

[2016-11-15 16:24] delmyers commented on #340
@FilipLaurentiu, since there has been no follow-up in a week on this issue, I'm going to assume that @pieandcakes helped you to solve your problems. I'm going to close this issue now.

[2016-11-15 16:24] #340 closed, assigned to pieandcakes

[2016-11-15 16:27] csholmq commented on #321
This was my launch.json which actually already included an empty customLaunchSetupCommands.

[code]

Here's the end snippet of the debugger log. After the configuration part.

[code]

All my monitor commands are successfully executed. But somehow, exec-continue is still executed and I am unable to poll anything due to `Unable to perform this action because the process is running.`.

I understand t

[2016-11-15 17:57] FrediLehmann opened #354 "Reacting to scanf"
Where can i put the Input needed from scanf (<studio.h>) when debugging?

[code]
[C_Scanf.zip](https://github.com/Microsoft/vscode-cpptools/files/592739/C_Scanf.zip)

[2016-11-15 18:28] mw8 commented on #344
This somehow works now, even though I didn't change any settings.

[2016-11-15 18:28] #344 closed, assigned to nobody

[2016-11-15 19:56] ThadHouse commented on #346
I noticed this on Windows 10 as well. I believe it is somehing wrong with the `"C_Cpp.clang_format_fallbackStyle"`  setting, as removing that seemed to solve the issue. I also added `"editor.formatOnSave": true,`, but I don't remember if that was explicitly needed to fix the issue or not.

[2016-11-15 20:27] sean-mcmanus commented on #346
Yeah, it looks like C_Cpp.clang_format_formatOnSave doesn't work anymore after VS Code added the editor.formatOnSave option. The editor.formatOnSave option should be used.

[2016-11-15 20:47] pieandcakes commented on #354
@FredDEVGit if you enable `"externalConsole": true` in your `launch.json`, you should get a console window that opens that you can type into.

[2016-11-15 21:06] greazer commented on #286
Thanks everybody for the continued feedback. As was noted previously, the fact that our C++ tag parsing service is CPU bound is expected. We expect modern OS's to ensure that CPU resources are fairly distributed across all running processes. Also, since the tag parser is single threaded, at most we will fully utilize one CPU on the system. That alone may indeed cause PC or Mac fans to kick on.

No

[2016-11-15 21:12] delmyers commented on #338
@agasy18, did upgrading to Sierra help?

[2016-11-15 21:58] greazer commented on #203
We believe that the most egregious aspects of this should be mostly resolved with the latest release of the extension. There was a time when we were showing both textmate and CPP extension completion items at the same time. This no longer occurs. That being said, there is still planned work to make the CPP completion items more intelligent in the future.

[2016-11-15 21:58] #203 closed, assigned to nobody

[2016-11-16 10:47] Kractal commented on #353
Thank you very much for your help!

[2016-11-16 12:04] dfroze opened #355 "Enhance symbol indexing"
I am working on multiple projects and every time i change the workspace from one to another, i have to wait a lot 20-25m for VSCode to finish indexing all the symbols. It would be great if he could store his indexing and just do a check whenever it opens the workspace (that is if the workspace has been opened before)

[2016-11-16 20:47] xchrdw opened #356 "Excluded folders are scanned"
I have a huge project where I usually only need a few folders. I have configured "files.exclude" to hide all irrelevant folders. Sadly the cpptools still try to analyse the code from hidden folders for hours and code navigation (goto to symbols, include files, ...) doesn't work at all. Would it be possible to have cpptools use "files.exclude" or a custom setting for this purpose?

If I only open a

[2016-11-17 02:25] OptSolution commented on #310
My error was from the plugin, "C/C++ Clang". I think yours is from "C/C++", you can install "C/C++ Clang" to help you complete codes and check, but it can't help you peek definition or go to definition.

[2016-11-17 07:42] tofraa commented on #298
@delmyers I have used more or less the same solution described above from @Jevyn. Both of his  suggestions for offline installation would simply my workflow.

[2016-11-17 14:00] garoyeri opened #357 "Downloading package 'Visual Studio Windows Debugger' Failed at stage: downloadPackages Error: self signed certificate in certificate chain"
When trying to run the plugin from behind a corporate SSL proxy, I get the following message:

[code]

This issue was resolved for the C# plugin in this issue: https://github.com/OmniSharp/omnisharp-vscode/issues/957

[2016-11-17 15:40] gregg-miskelly commented on #357
Here is the PR: https://github.com/OmniSharp/omnisharp-vscode/pull/958

[2016-11-18 01:53] Gussy commented on #328
I managed to get this working, thanks for the help @pieandcakes

The trick was to set at least one breakpoint (`main` is a good place, but location doesn't matter) before starting the debugger. Without at least one breakpoint, the debugger tools don't seem to initialise correctly.

It seems like the breakpoint at the entry point you mentioned isn't getting set in this case.

This is what my workin

[2016-11-18 15:53] FrediLehmann commented on #354
Thank you very much!

[2016-11-18 15:53] #354 closed, assigned to pieandcakes

[2016-11-18 21:33] throne-albert commented on #128
When I switch to C/C++, this still happen

[2016-11-18 23:13] zhackwyatt opened #358 "Need ability to move .browse.VC.db"
- VSCode Version:1.7
- OS Version: Windows 7
- CPP Tools Version: 0.9.2

Our code is located in ClearCase.  ClearCase has never been known for speed.  The problem is the symbols database is stored in the top-level folder in ClearCase which is essentially a slow network drive.

I think this causes problems because sometimes IntelliSense works and sometimes it doesn't.

I'd like the ability to have

[2016-11-19 02:20] rongjiecomputer opened #359 "Headers not found"
`stdio.h` is found but `stdlib.h` and `string.h` are not, `socket.h` is found but `sha1.h` is not (same directory)

![screenshot 19](https://cloud.githubusercontent.com/assets/13115060/20452301/a134f64c-ae41-11e6-868b-514b235f3efe.png)

VSCode version: 1.7.1
Extension version: 0.9.2
OS: Windows 10
[code]

[2016-11-19 21:51] d-xo commented on #323
Also experienced this when I had clang and llvm as submodules in a project (macOS 10.12.1).

macOS warned me that I had run out of application memory and started pausing applications.

The processes persisted even after closing vscode.

<img width="429" alt="screen shot 2016-11-19 at 22 42 38" src="https://cloud.githubusercontent.com/assets/6689924/20458636/ae26f198-aeaa-11e6-9d91-9b331788f1e9.png

[2016-11-20 03:51] shreyasp commented on #178
Error still occurs on VS Code version 1.7.1 and cpptools v 0.9.2

<img width="1244" alt="screen shot 2016-11-20 at 9 20 27 am" src="https://cloud.githubusercontent.com/assets/3377167/20460224/a4ebb494-af02-11e6-9a25-f9d164e3fab2.png">

[2016-11-20 21:58] didito commented on #286
Got hit by the exact same problem, now that I finally figured out how to get the includes working on OSX 10.10. (pro tip: the default includePath in your c_cpp_properties.json does not work). The OSX C++ setup page really needs more work. About nothing works out of the box and needs some arcane setup steps before hand, but that is another story.

I don't really like that design, but ok. Then you s

[2016-11-21 16:25] imikejackson commented on #156
I gave up setting up our CMake based project because I would have to manually enter a large number  of include paths into the settings file. If there were support for the compile_commands file that CMake can generate automatically the setup would be super simple. Here is hoping this could be integrated into VSCode in the near future.

[2016-11-22 01:09] greazer commented on #323
Couple things. First, it's currently by design that this indexing (not compiling) continues even after VSCode stops. However, what is not by design is that it 1) Takes an excessive amount of time related to the size of the workspace that is opened 2) Eats up a ton of memory.

We do plan on making the situation much better after VSCode is closed with regard to stopping the indexing as soon as we ca

[2016-11-22 01:17] greazer commented on #286
@didito, thanks for the extra information, and for the record, I don't like the design we have for continuing to index files after VS Code closes either. :) I'd like to get this addressed asap.

I'll also take note to review the OSX C++ setup page and we'll take a look at the potential that we're reading outside the scope of known workspace or include paths. This definitely isn't expected!

[2016-11-22 08:02] didito commented on #286
@greazer Thank you, sounds good! Let me know if I can help with any additional information.

FWIW I let the thing run for more than 12 hours and it still was not done. I had to force quit it. It resulted in a ~2 GB browse.VC.db file. I checked it with some SQLite browser and it has entries with file paths of headers from all over my hard disk. It did not seem to respect my config at all:

[code]

[2016-11-22 08:15] mauriziopinotti commented on #323
@greazer thanks for the feedback.

Setup is very easy on my side: just download Android sources (see https://source.android.com/source/downloading.html ), then in VSCode select "open folder" and point to the root of the downloaded tree.

I'm on a custom Android 4.3 tree but I don't think this makes some difference, it's probably just a matter of files "weight".

[2016-11-22 12:38] jrieken opened #360 "C_Cpp.clang_format_style: IndentWidth is invaild"
_From @yayuntian on November 22, 2016 8:43_

- VSCode Version:1.7.1
- OS Version:windows 10 1607

Steps to Reproduce:

1. install c/c++ plugins
2. edit settings.json

`
{
    "C_Cpp.clang_format_style": "{BasedOnStyle: Google, IndentWidth: 4}"
}`

but c/c++ code indentwidth always display 2

_Copied from original issue: Microsoft/vscode#15866_

[2016-11-22 12:40] jrieken opened #361 "'Find all references' not working"
_From @dfroze on November 22, 2016 11:56_

- VSCode Version: 1.7.1
- OS Version: Linux Mint

Hy,
Not sure if I should have posted here or in vscode-cpp.
Regarding the the feature "Find all references", it doesn't work at all. Every time I use it I receive empty results.
Do I need to configure or install something?

_Copied from original issue: Microsoft/vscode#15881_

[2016-11-22 13:15] dfroze opened #362 "Ctrl + mouse over symbol feature"
Hy there,
When **mouse over** symbol and **Ctrl** button is **pressed**, a preview box is displayed regarding the symbol. I am saying preview box cause I don't know it's name and no, i am not talking about peek feature.

The preview box only displays the declaration line. Is there a way to display more line in the 'preview box', such as declaration and 5 more line of code?

As well, is there a way

[2016-11-22 13:23] dfroze commented on #362
P.S: how can I join and help with vscode-cpptools? I would have wanted to help with vscode , but I see there are a lot o people there and can hardly help.

[2016-11-22 14:01] MathiasMagnus commented on #156
Indeed, just came across the exact same issue. Playing along with cmake-server mode, this type of info isn't hard to obtain. Its only a matter of coming up with the responsibility, of which extension should take care of populating the list of include files.

[2016-11-22 19:18] pieandcakes commented on #357
@garoyeri I don't have a corporate SSL proxy so I don't have a way to test this, but in our extension's package manager code, I see the following block, which should respect the http.proxyStrictSSL settings already. Does setting that value work for you?

[code]

[2016-11-22 19:38] mcdonaldseanp commented on #145
+1

[2016-11-23 08:17] jrieken opened #363 "c++ Debugging with vscode too slow."
_From @AbelaroJiang on November 23, 2016 2:15_

- VSCode Version:1.7.1
- OS Version:Centos7.2

When I use the vscode to debug c++ program on Centsos7.2. It seem to very slow to jump next break points.

pls help check this and fix it soon. thanks a lot.

_Copied from original issue: Microsoft/vscode#15932_

[2016-11-23 08:17] jrieken commented on #303
@delmyers Any update on this? Can we help with the change?

[2016-11-23 09:10] s-martin commented on #19
Thanks, the workaround works for CentOS 7.2. At least I finally get the lightbulb and "Add include path to settings" for my includes.
However, so far there was no .browse.VS.code created and go to definition doesn't work properly yet.

[2016-11-23 10:34] xchrdw opened #364 "Set cwd for attached debugger"
C++ Launch configurations can set a cwd if the source root is different from the open folder. C++ Attach doesn't allow this setting and my source code is not found when a breakpoint is hit. It would be great if the setting could be added

cpptool 0.9.2

[2016-11-23 11:17] jrieken opened #365 "Better Formatting for Allmanstyle"
_From @equinoxr on November 22, 2016 15:33_

Im programming in the Allmanstyle.
if i press { i would be really faster if a new line would happen, then a tab in the new line and then a } -- but the cursor should stay in the middle of the braces (after the tab). Would be also cool to select text, and if i press { it gets formatted in the Allmanstyle... how could this be achieved??

greetz equinox

_

[2016-11-23 11:17] jrieken commented on #365
@equinoxr The brackets rules are language dependent so we first need to know for what language you want that

[2016-11-23 11:17] jrieken commented on #365
_From @equinoxr on November 23, 2016 9:44_

oh sry ok im programming in C++!

https://de.wikipedia.org/wiki/Einr%C3%BCckungsstil#Allman_.2F_BSD_.2F_.E2.80.9EEast_Coast.E2.80.9C

Here is a example how code looks when i code ;)

greetz & thx

equinoxr

[2016-11-23 14:10] sean-mcmanus commented on #303
Yeah, an update with the formatter enable/disable option is planned to be released soon in 0.9.3.

[2016-11-23 14:30] s-martin opened #366 "Unable to resolve includes with relative paths"
I have multiple VSCode workspaces side-by-side, e.g.

- MyLib1 workspace
  - src
  - data
- MyLib2 workspace
  - src
  - data
- MyApp workspace
  - src
  - data

I include headers from other workspaces in my workspace. Now I tried to resolve the includes with
[code]
I tried also` "${workspaceRoot}/../MyLib1/src`" or relative paths like `"../MyLib1/src"`.

Unfortunately this doesn't work and no bro

[2016-11-23 14:44] imikejackson commented on #156
So I wrote a short c++ program to parse the compile_commands.json file and rewrite the c_cpp_properties.json file. This still did not allow any completions beyond the basic "Ctags" style completions. My guess (and reading around a bit) is that the clang based code completion is not a full blown code completion like in other IDE's such as Xcode, QtCreator and Visual Studio. If anyone wants the c++

[2016-11-23 14:51] sean-mcmanus commented on #366
How do you know no browse.VC.db is created? Where are you looking for the file and what symptom are you getting? What happens when you change the database filename setting "databaseFilename" : "/<path>/.browse.vc.db".

[2016-11-23 15:04] MathiasMagnus commented on #156
The [C++ Docs page](https://code.visualstudio.com/docs/languages/cpp) still suggests that

Which to me implies that full-blown IntelliSense is known not to work. I might be wrong about this, but AFAIK IntelliSense in big brother VS is done through Roslyn which would have to be ported over to Linux/OSX as well as hooking it into the editor of Code.

Correct me if I'm wrong.

[2016-11-23 15:34] s-martin commented on #366
Ok, found files in `~/.config/Code/user/workspaceStorage/<uuid>/ms-vscode.cpptools`, but the includes are still not found

[2016-11-23 15:39] sean-mcmanus commented on #156
Yes, full-blown IntelliSense isn't finished yet. Roslyn is a .NET C#/VB compiler, and not a C++ compiler.

[2016-11-23 15:53] waldyrious opened #367 "Add /usr/local/include to c_cpp_properties.json's default list of include paths"
Currently the "includePath" key in `c_cpp_properties.json` only contains the "/usr/include" path. IMO it would be a good default to also add "/usr/local/include" to it.

[2016-11-23 16:01] sean-mcmanus commented on #366
With the example provided, the 2nd line of the include path is missing a leading " quote. I'm not able to repro the bug. Where is the source file and what header are you trying to find? If the Microsoft.VSCode.CPP.Extension.* process is still building the browse database, then the #include finding may not work yet.

[2016-11-23 16:27] s-martin commented on #366
@sean-mcmanus Fixed the " typo.
Source file is located in MyApp/src, headers are e.g. in MyLib1/src.

It doesn't look like the browse DB is still built, at least timestamp and size haven't changed anymore

[2016-11-23 16:54] sean-mcmanus commented on #366
It looks like we are not expanding the ${workspaceRoot} (we internally add that path and children, but adding the ".." doesn't expand it). Replacing that by the actual path seems to fix the issue. Is that what you are seeing?

[2016-11-23 20:28] sean-mcmanus commented on #366
A fix should be in the release after the next release. Manually expanding the ${workspaceRoot} should be a workaround.

[2016-11-24 02:02] garoyeri commented on #357
I've set only the http.proxyStrictSSL flag, but not the proxy URL or the proxy Port.  It works for the Extension manager and they fixed it with the OmniSharp plugin as well.

[2016-11-24 02:03] garoyeri commented on #357
Here's the related issue: https://github.com/OmniSharp/omnisharp-vscode/issues/579

[2016-11-24 07:58] d-xo commented on #156
Just as a note, the ycmd plugin from vscode offers this functionality (as well as proper autocomplete via clang):

https://github.com/richard1122/vscode-youcompleteme

[2016-11-24 09:23] abc100m opened #368 "can we set includePath in c_cpp_properties.json globally?"
I would like to set includePath  globally, not set it in every folder/project.
can we make this config file available in  settings.json?

[code]

[2016-11-24 12:36] s-martin commented on #366
A relative path doesn't work (e.g. `../MyLib1/src`).

I haven't tried absolute path, because in our setup this makes no sense, where developers could clone the repo with the workspaces to arbitrary locations.

Because the relative paths didn't work I came up with ${workspaceRoot}, which doesn't seem to work either

[2016-11-24 15:30] codejnki opened #369 "Symbols in files with alternate extensions"
I recently started using Visual Studio Code to edit Arduino sketches.  I've got an extension installed that will apply code syntax highlighting for the .ino extension and VS Code interprets these files as C++ files.

When I press <kbd>cmd</kbd>+<kbd>shift</kbd>+<kbd>O</kbd> to look up symbols when the file has an extension of .ino no symbols are found.
![ardunioexample](https://cloud.githubusercon

[2016-11-24 17:18] rorywalsh opened #370 "are function parameter hints supposed to work?"
According to the docs I should 'Hover over any green squiggle in a source file...'. So I've opening up one of my project directories which is full of .cpp/.h files, but I see no green line under anything. I have no option to create a cpp_properties file.

So next I tried creating a .vscode folder and manually creating a c_cpp_properties.json file, but that don't work either. When I type I get a dr

[2016-11-24 20:19] rorywalsh commented on #370
... a restart seems to have done the trick!

[2016-11-24 20:19] #370 closed, assigned to nobody

[2016-11-24 21:15] rorywalsh opened #371 "integrate DebuggerTerminal?"
Right now all my logging messages appear in the external DebuggerTerminal window that launches when I start debugging. Is there any way to either redirect this to the integrated debug console, or simply integrate the DebuggerTerminal into VSCode?

[2016-11-25 06:45] kevinmoran commented on #277
I'm still having trouble with this, if anyone can point out what I'm doing wrong I'd appreciate it.

I allocated an array using the following:
    int *array = (int *) malloc (32 * sizeof (int));

I set a breakpoint after this line and started a debug session using GDB. In the Debug Console I can print the first element of the array using the command
[code]

which gives the output:
[code]
I try to

[2016-11-25 07:34] s-martin commented on #366
I just confirmed that absolute paths work, however this doesn't make sense in our environment, because every developer may clone the workspaces at different locations.

I'd really appreciate, if relative paths or at least with `${workspaceRoot}` would work

[2016-11-25 10:22] jrieken opened #372 "OverflowError: in method 'SBInstructionList_GetInstructionAtIndex'"
_From @PerMildner on November 24, 2016 10:24_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:01:10.756Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.9.2|
|vscode-lldb|vadimcn|0.3.1|
|debug|webfreak|0.12.3|

---

Steps to Reproduce:

1. On OS X, launched a C program using "type":"lldb", tried t

[2016-11-26 20:46] ghost commented on #85
@delmyers Will the new Windows 10 Creators Update allow this?

[2016-11-27 03:19] ThadHouse opened #373 "Multi line macros break code highlighting in file"
When using multi-line macros, code highlighting in the rest of the file is broken below the macro. Instead of base text being white, its blue. Attached is a file that showcases this issue on every system I have tested with, which includes 2 windows 10 systems, and a ubuntu system. VSCode 1.7.2 and C++ extension 0.9.2

![macros](https://cloud.githubusercontent.com/assets/7727148/20645256/16a6e19e-b

[2016-11-27 07:33] reoxb commented on #122
:v

[2016-11-28 04:07] M-Adoo commented on #145
+1

[2016-11-28 20:19] pieandcakes commented on #363
@AbelaroJiang Can you provide a test application and any specifics? I've tried it on CentOS7.2 and I don't see the slowness you are mentioning.

[2016-11-28 20:44] sean-mcmanus commented on #366
Using a relative path works on Windows, but it doesn't work on Linux (i.e. a bug). Using ${workspaceRoot}/../MyLib2 should work in the release after the next, though.

[2016-11-28 20:56] pieandcakes commented on #357
@garoyeri I made a change that will be available in the next release.

[2016-11-28 20:59] pieandcakes commented on #364
@xchrdw would allowing you to map the compiled source directory to another directory fix this problem?

Say you compiled on a machine at /users/me/src/files and on your current machine it is /users/you/project/src/files, if we were to allow something like `"sourceFileMap" : { "/users/me/": "users/you/project/"}` would that work?

[2016-11-28 21:24] pieandcakes commented on #369
@sridmad Would there be a way for @codejnki to add a file extension for the language service? I know how to do it for the debugger but that isn't what he is looking for.

[2016-11-28 21:25] xchrdw commented on #364
Hi @pieandcakes, this issue is probably related to my workaround for issue #356: I have a directory /users/me/project but indexing doesn't work in it. To have working code navigation, I open only /users/me/project/a and /users/me/project/b in two seperate windows, ignoring folders c to z.
Launching with debugger works with `"cwd": "${workspaceRoot}/.."`. Attached debugging (on linux with gdb) does

[2016-11-28 21:26] pieandcakes commented on #372
@PerMildner Are you using the lldb version that is shipped with our CPPTools extension or did you replace it with the version from XCode?  This looks like its using XCode's version of lldb which we don't support.

We ship a customized version of lldb that works with our extension and contains specific bugfixes.

[2016-11-28 21:31] pieandcakes commented on #364
@xchrdw can you change it to `"cwd": "/users/me/project"` instead of using `${workspaceRoot}`?  I don't know if you can do `"${workspaceRoot}/.."` as I don't know if gdb knows how to handle it properly.

[2016-11-28 21:34] xchrdw commented on #364
This "cwd" configuration is for the launch config of the debugger and it works fine. I guess vscode substitutes workspaceRoot. The problem is that "cwd" is not allowed for the "attached" configuration.

[2016-11-28 21:44] pieandcakes commented on #364
@xchrdw would you be able to enable `"logging": { "trace": true, "traceResponse": true  }` and let me know if the full file names coming back are correct or if they are wrong, what part of it is wrong? If the source files are in the same place they were when compiled, when debugging, it should look there and open the folder regardless whether or not they are opened in the workspace. If they have m

[2016-11-29 01:11] pieandcakes commented on #307
Since I haven't heard back, I'm closing this issue. If its still an issue, please update and reopen.

[2016-11-29 01:11] #307 closed, assigned to pieandcakes

[2016-11-29 01:13] pieandcakes commented on #283
There is an issue in the download that it is not respecting `"http.proxyStrictSSL": false` setting. This will be fixed in the next release.

[2016-11-29 01:16] pieandcakes commented on #311
If this is still an issue, please provide updated information and reopen.

[2016-11-29 01:16] #311 closed, assigned to nobody

[2016-11-29 01:19] pieandcakes commented on #332
Source File Mapping will be available in the next update.

[2016-11-29 02:55] sg- opened #374 "Restrict intellisense to files listed"
Moved from https://github.com/Microsoft/vscode-tips-and-tricks/issues/24

I'd like to reduce the noise intellisense is giving by creating a white list of files that it should index. Is this possible? I'd thought the below snippet would kill all indexing but it seems to still search the root project directory and all subdirectories with have a lot of nonsense for my particular project.

c_cpp_prope

[2016-11-29 08:43] xchrdw commented on #364
this is my output from the debug console:

`1: (103057) ->1010^done,stack=[frame={level="0",addr="0x0000123456",func="AClass::AMethod() const",file="../../a/file.cc",fullname="./out/Default/../../a/file.cc",line="305"},...`

I guess that the problem is that fullname is relative to the directory of my project and not the directory vscode is working in?

[2016-11-30 11:23] canfoderiskii commented on #273
I encountered this issue too. I tried go-to-definition on some SoC SDK's codes, and it took around 10 sec to complete the code jumping.

[2016-11-30 11:39] lygstate commented on #180
PIng for it.

[2016-11-30 11:58] kbadz opened #375 "Doesn't work on CentOS 7"
- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:14:18.217Z)
- OS Version: Linux x64 3.10.0-327.22.2.el7.x86_64
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.5|
|cpptools|ms-vscode|0.9.2|

---

Cpptools plugin doesn't work on CentOS 7. It seems it doesn't recognize any cpp/hpp files at all..
I had no such issue on other OSes.

[2016-11-30 16:02] equinoxr opened #376 "Some issues for an optimal workflow"
Hey guys, I allready love to code with VSCode thanks for the good work.

But here are some issues:
Clang plugin is not working for me ( see https://github.com/mitaki28/vscode-clang/issues/36 ) - so its really no working out of the box... when you think of diagnostics. So do you plan to integrate diagnostics in cpptools? like clang diagnostic tools?

Autocomplete is not working good. I need context

[2016-11-30 16:27] chrmarti opened #377 "Go to definition doesn't work"
_From @nikamveena on November 30, 2016 7:26_

- VSCode Version: 1.7.2
- OS Version: Ubuntu 14.04

Steps to Reproduce:

1. Open existing c# .net project using a solution
2. Add cpptools extension.
3. Go to definition will appear on right clicking but it doesn't work.

_Copied from original issue: Microsoft/vscode#16251_

[2016-11-30 17:13] chrmarti opened #378 "C++ Intellisense"
_From @TFreudi1 on November 30, 2016 11:29_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:14:18.217Z)
- OS Version: Linux x64 4.1.12-1-default
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.6.0|
|code-gnu-global|austin|0.2.1|
|path-intellisense|christian-kohler|1.1.0|
|CppSnippets|hars|0.0.5|
|vscode-tfs|ivangabriele|0.5.2|
|c

[2016-11-30 18:44] pieandcakes commented on #364
@xchrdw To give you some context, setting cwd won't fix the problem. The issue is that we pass back the filename to VS Code and it determines where to open the code file and it is using the relative path based on your workspace. The source mapping that I mentioned above is a feature that will be in the next release. It will replace part of the path in the fullname with one that you specify.

I don

[2016-11-30 18:48] pieandcakes commented on #364
@xchrdw Can you elaborate on your code navigation issue with the extension? I wonder if correcting that would allow you to open the workspace at the correct level and if that would resolve the issue.

[2016-11-30 18:51] pieandcakes commented on #375
This is a duplicate of #19 . It seems to be an issue with glibc version that the language service is compiled against is newer than the default one in CentOS7

[2016-11-30 18:51] #375 closed, assigned to nobody

[2016-11-30 18:53] pieandcakes commented on #377
@nikamveena can you confirm that you are opening a c# .NET project? If so, you should be installing the Omnisharp extension and not the cpptools extension. This extension is for C++.

That extension is located at https://github.com/OmniSharp/omnisharp-vscode and is also in the gallery.

[2016-11-30 18:54] xchrdw commented on #364
Thanks for your help, it's great to hear that the problem will be solved soon.
Relative paths seem to be the default for clang if the source files are specified relatively: http://stackoverflow.com/questions/31324457/full-code-paths-in-clang-errors

[2016-11-30 19:08] xchrdw commented on #364
When I open the project directory and e.g. ctrl+click on a file or try to switch between .h/.cc files nothing happens. I noticed that I'm getting quite a few vscode processes after a while.
You can try to reproduce it e.g. by checking out chromium and downloading all third party dependencies: https://chromium.googlesource.com/chromium/src/+/master/docs/linux_build_instructions.md up to "setting up

[2016-11-30 21:38] chrmarti commented on #377
My bad, moved it to the wrong repo. @nikamveena Could you open a new issue for Omnisharp? Thanks.

[2016-12-01 00:11] radubacaran commented on #286
Same issue on a Linux machine (8 CPUs)

Even one hour after VS code was started, the process still eats a LOT of CPU runtime.
lsof doesn't show the process opening any source files.

[2016-12-01 11:08] aengusjiang commented on #363
Our team working on a c++ project. This application size is a about 6~8Mb. When I first time debug the app, it is very soon. but it seem to slow when I use it for a period of time. About 2~5s to jump the next break point. I really don't know for what reason. But it have no this problem when I use the gdb directly.

that all.

[2016-12-02 00:13] jpap opened #379 "Debugger: show integer types in multiple ways: hex, dec, ascii, binary"
It looks like variables in the debugger are based on their type -- but when using `uint8_t` they show up as `char`, when what I really want to see is the decimal value.

It would be nice to show all alternate forms of a variable -- hex, dec, ascii, binary -- or have a way to switch between types in the UI.

The only (tedious) way to do this now is to use the debug console and typecast to `(int)` f

[2016-12-02 00:16] jpap opened #380 "Do not collapse local variable struct view when executing on debug console"
If I have expanded a `struct` variable when sitting on a breakpoint, then execute a command in the debug console, that expansion is collapsed.  That's really frustrating, especially when the manual expansion is rather deep into a complex `struct`.

Please keep the variables hierarchical UI state fixed while refreshing it following a debug console execution step.

[2016-12-02 06:04] wuqiling97 opened #381 "Include file not found under Win32 and MinGW"
When using vscode version 1.7.2 and cpptool 0.9.2 with the following include headers:

[code]

and settings in "c_cpp_properties.json":

[code]

I still got green squiggles under those headers. However, these c++ code worked fine in another directory without "c_cpp_properties.json", and vscode will take me to "Microsoft Visual Studio 14.0\VC\include" when I ctrl+click on these headers.

Could some

[2016-12-02 10:22] daldr-ntml opened #382 "Why does 'Go to definition' show the 'Peek definition' popup?"
Running VS Code 1.7.2 on Windows 10 with C++ extension 0.9.2.

When I invoke 'Peek definition' on a symbol the definition appears in a popup. That is good.

When I invoke 'Go to definition' on a symbol, the editor opens a new tab with the file containing the definition - that is good.  But the definition also appears in a popup, which I think is unnecessary and even obstructive. Do you agree?

[2016-12-02 21:36] hth313 commented on #334
@pieandcakes  I noticed that it is only gdb that does this, so I switched ```MIMode``` to ```lldb```, but still I could not stop it. Then I updated to VS Code 1.7.2 and finally the pause button had some effect.

It seems that I now can interrupt execution as indicated on the console, but not much else is happening. I cannot even issue any manual commands to the debugger using ```-exec info registe

[2016-12-03 09:24] neilhhw commented on #128
VSCode 1.7.2
C/C++ Extention Version 0.9.2
Windows 10
Bug is still exsited.

[2016-12-03 12:41] PerMildner commented on #372
Note that I used did not use the "cppdbg" debugger type. I used "lldb" from vadimcn.vscode-lldb and it does not come with its own customized lldb binary.

(The reason I did not use cppdbg was that it had many other problems that makes it next to useless on OS X with our code)

[2016-12-03 17:49] mzvast commented on #85
Windows team recently introduced improvements in symbolic link creation on windows, will that help with this?
https://blogs.windows.com/buildingapps/2016/12/02/symlinks-windows-10/

[2016-12-04 04:06] lygstate opened #383 "For Qt includes, it's always report message: 'Include file not found in include directory'"
[code]
severity: 'Info'
message: 'Include file not found in include directory'
at: '5,1'
source: ''

[2016-12-04 23:39] gigaimage opened #384 "Ctrl+Shift+P : Command 'C_Cpp.ConfigurationEdit' not found."
Config: Win10/VSCode 1.7.2/CC++ 0.9.2

Followed Documentation page.

But VSCode errors out " Command 'C_Cpp.ConfigurationEdit' not found.

This was when I was trying to resolve a constant error message when I start VSCode: see screenshot.

![image](https://cloud.githubusercontent.com/assets/1184087/20870115/e924db92-ba36-11e6-8ccc-f4fa5eee190f.png)

For the C/C++ dependencies error, tried elevated

[2016-12-05 00:27] chrmarti opened #385 "GDB stepping isn't working right on Ubuntu"
_From @lovettchris on December 3, 2016 7:10_

- VSCode Version: 1.7.2
- OS Version: Ubuntu 16.04

**Steps to Reproduce:**
1. install C++ extension from Microsoft and the Native Debug extension by "webfreak".
2.  setup remote debugging via GDB server of a C++ app compilied by g++ with -ggdb.
3.  create launch.json file with "type":"gdb", "request":"attach", "remote":"true", with target set to the p

[2016-12-05 01:49] nicber commented on #180
This is a ycmd client that works pretty well:
https://github.com/richard1122/vscode-youcompleteme

[2016-12-05 19:03] pieandcakes commented on #372
@PerMildner We build ours with `LLDB_DISABLE_PYTHON=1`. If you can point me to a way to get the copy you are using I can give it a shot.

[2016-12-05 19:12] csholmq commented on #382
Even when it's just only one match?

[2016-12-05 19:53] pieandcakes commented on #334
@hth313 There was an issue [#15165](https://github.com/Microsoft/vscode/issues/15165) in 1.7.1 that caused the pause button not to work. If you are using lldb, `-exec info registers` is not a valid command. You will need to find the correct lldb command which for the above case should be `-exec register read`.

Would you be able to provide sample code for the break and then step not working? with

[2016-12-05 21:06] fraenky8 opened #386 "renaming a variable renames all occurrences of its name"
Want to rename the variable `app`, put cursor in it, pressed `ctrl`-`F2` and all occurrences are marked. See picture before and after renaming.

![before_renaming](https://cloud.githubusercontent.com/assets/4038800/20902138/1a070258-bb36-11e6-96df-c361fcddd908.PNG)

![after_renaming](https://cloud.githubusercontent.com/assets/4038800/20902139/1a07312e-bb36-11e6-978e-16114d1177eb.PNG)

![vsc_info](

[2016-12-06 04:42] hth313 commented on #334
@pieandcakes Once stopped, the ```-exec``` commands does not seem to be delivered to the debugger at all. (The commands I try to send are known to the debugger.)

Here is what happens:

[code]

I tried to ```find-grep``` around in MIEngine and Visual Studio Code, but I could not locate the code where it happens, so I assume it is someplace else.

Is there some description of the console command li

[2016-12-06 05:46] suluvai opened #387 "Namespace Alias"
Trouble in resolving symbols after its namespace is aliased to a shortened version.

[2016-12-06 07:09] wqhyw commented on #128
VSCode 1.7.2
C/C++ Extenion Version 0.9.2
macOS Sierra
Bug is still exsited

[2016-12-06 08:53] daldr-ntml commented on #382
Thanks for your reply. You're right, often the reason is that there are multiple matches from competing projects.

However, I found one case where there is only one match but the C++ extension reports 3 matches. Two of the matches were shown in upper case on the right-hand side and, when expanded, show no definition (the number beside is 0). These look like old definitions that no longer exist. Am

[2016-12-06 09:37] PerMildner commented on #372
@pieandcakes I am not sure I understand what you mean by "the copy you are using". I use Xcode 8.1 and VSCode et al. as described above. I have not built any part of the tool chain myself.

I think I will go back to attempting to use cppdbg, and try to get its various problems fixed instead.

[2016-12-06 11:19] guoqingaa commented on #18
Win32, includePath? help me

[2016-12-06 13:46] sean-mcmanus commented on #382
Change the databaseFilename setting after Edit Configuration to refresh the symbol database (or manually locate and delete it). I have also noticed the browse engine database doesn't delete things it should when include paths are changed.

[2016-12-06 14:06] daldr-ntml commented on #382
Sorry I don't understand this.  Is this a setting in c_cpp_properties.json?

[2016-12-06 14:09] sean-mcmanus commented on #382
Yes.

[2016-12-06 14:11] daldr-ntml commented on #382
Where can I find the json schema that shows the available properties?

My c_cpp_properties.json doesn't have an entry for the database, it seems to be stored in my user profile. Is that what you would expect?

[2016-12-06 14:15] sean-mcmanus commented on #382
The schema should be at the install location (e.g. /home/user/.vscode/extensions/ms-vscode.cpptools-0.9.2) in c_cpp_properties.schema.json.

Maybe you have an old c_cpp_properties.json? I have entries like
{
            "name": "Linux",
            "includePath": ["/usr/include"],
            "browse" : {
                "limitSymbolsToIncludedHeaders" : true,
                "databaseFilename" :

[2016-12-06 14:19] daldr-ntml commented on #382
Well I am stuck on 0.9.2, I haven't seen a new release since September (I am not using the Insider's build).

[2016-12-06 14:21] sean-mcmanus commented on #382
Yes, we're working on an update, but 0.9.2 should still have the databaseFilename.

[2016-12-06 14:43] daldr-ntml commented on #382
I deleted my json file and regenerated it. Now I see the databaseFilename property.  All seems to be working ok now. Thanks for your help and for bearing with me.

Perhaps the documentation page could be updated to described all the supported json properties?

[2016-12-06 15:21] daldr-ntml commented on #382
Problem solved.

[2016-12-06 15:21] #382 closed, assigned to nobody

[2016-12-06 19:18] pieandcakes commented on #385
@lovettchris Are you using the Native Debug extension or the Microsoft C++ extension when you run into this debugging issue? It sounds like you are using Native Debug.

[2016-12-06 19:24] pieandcakes commented on #372
@PerMildner When you say you specified `type: lldb`, does that mean you are using WebFreak's Native Debug? If so, this is the support page for the Cpptools extension using cppdbg.

[2016-12-06 19:48] pieandcakes commented on #334
@hth313 that looks like a bug. We are expecting the `evaluate: ` line to have frameId which should be the stack frame id to evaluate the expression against, but for some reason in this instance it has no frameId which is causing an exception to be thrown.

Can you verify that you have a callstack and if so, can you send me the logging messages after the break that show it retrieving the callstack?

[2016-12-06 20:02] PerMildner commented on #372
@pieandcakes As I wrote above, the problem was not with cppdbg. It was @jrieken that moved the issue to here from Microsoft/vscode#16012.

[2016-12-06 20:24] pieandcakes commented on #364
@xchrdw Thanks. I'll try and give that a shot.

[2016-12-06 20:27] pieandcakes commented on #372
@PerMildner I understand now, thanks. I can't move the issue to WebFreak's issues page, but if you would like to open one there, they may be able to help you.

I'm going to close this for now. If you need help with cppdbg please let us know.

[2016-12-06 20:27] #372 closed, assigned to pieandcakes

[2016-12-06 20:45] pieandcakes commented on #379
@jpap This is the same as #319 . You can specify common variables in the Watch window. You can find format specifiers and you can find the format specifiers [here](https://sourceware.org/gdb/onlinedocs/gdb/Output-Formats.html#Output-Formats).

For example for `double dbl` I added `dbl,h` to the Watch window and it displayed the value of `dbl` in hex.

[2016-12-06 20:45] #379 closed, assigned to nobody

[2016-12-06 20:53] PerMildner commented on #372
@pieandcakes Actually I could not find a way to report problems with vscode extensions, that is why I reported it to Microsoft/vscode. How would I find the issues page for a particular extension, like the vadimcn.vscode-lldb extension?

[2016-12-06 21:58] lovettchris commented on #385
Both.  I didn't realize the Microsoft C++ extension could also do GDB debugging :-) So I removed the other one, now it is working fine.  Thanks.

[2016-12-06 21:59] pieandcakes commented on #372
@PerMildner For ours, its listed in the readme.MD that is in the extension's folder. On the Native Debug extension, it looks like WebFreak posted a comment with the URL. For the lldb extension, [this ](https://marketplace.visualstudio.com/items?itemName=vadimcn.vscode-lldb) is their extension page in the VSCode Extension Gallery. It looks like they have an issues page on the right hand column.

HT

[2016-12-06 22:00] pieandcakes commented on #385
No problem! If you have further questions, please let us know.

[2016-12-06 22:00] #385 closed, assigned to nobody

[2016-12-06 22:00] #377 closed, assigned to nobody

[2016-12-06 22:03] pieandcakes commented on #380
@jpap I think that's a "feature" of VSCode as I don't see a way to override this experience. You may want to file an issue in their repository at https://github.com/Microsoft/vscode/issues. I did notice that if you add the same `struct` to the Watch window that it respects the expansion and keeps it expanded when you step.

HTH

[2016-12-06 23:43] pieandcakes commented on #384
@gigaimage we have a fix for the `wmic` issue in the next release. I don't know if that is preventing this from working. Someone from the C++ language team will need to chime in.

[2016-12-07 00:04] hth313 commented on #334
@pieandcakes It is an assembler project, so it does not have stack frames the normal way. It can report a frame 0 with the current address when asked to, see below.

Here is the complete output I have in VS Code, starting it and then pressing pause:
[code]

Here is the MI log as seen by the debugger:
[code]

[2016-12-07 07:59] PerMildner commented on #372
@pieandcakes Thanks. I only looked at each installed extensions description within vscode and there I did not see anything about bug reporting (it turns out there _are_ links hiding within the description text, just not among the "important links" at the top of the descriptions). Thanks for the help.

[2016-12-07 10:28] dfroze opened #388 "Find all refernces not working"
Hello,

Is there any restriction or should there be something initialized in order for "Find all references" to work.
Every time I use it, it gives me 0 results.

VS Code version: 1.7.2
C/C++ ext version: 0.9.2

[2016-12-07 13:36] sean-mcmanus commented on #384
Yeah, sounds like the fixed wmic issue.

[2016-12-07 15:03] chrmarti opened #389 "crash on mac"
_From @pokerchina on December 7, 2016 5:29_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:01:10.756Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|java-debug|DSnake|0.0.2|
|Bookmarks|alefragnani|0.10.1|
|mock-debug|andreweinand|0.16.5|
|npm-intellisense|christian-kohler|0.1.4|
|path-intellisense|christian-kohler|1

[2016-12-07 15:03] chrmarti commented on #389
The crashed thread appears to be in the cpp extension. Moving there.

[2016-12-07 16:42] ryancoppa commented on #88
This would be a great feature, especially if it offered lint-as-you-type functionality similar to other linting extensions for VSCode.

[2016-12-07 19:33] pieandcakes commented on #389
@sean-mcmanus Is this something that you are aware of? Looks like the offending callstack is Thread 1 .

0 libsystem_c.dylib 0x00007fff9db582e9 strstr + 42
 1 Microsoft.VSCode.CPP.Extension.darwin 0x000000010d27d091 browse_engine::query_files(char const*, std::__1::vector<browse_symbol, std::__1::allocator<browse_symbol> >&) + 273
 2 Microsoft.VSCode.CPP.Extension.darwin 0x000000010d240086 message

[2016-12-07 19:42] evilcat-x opened #390 "[OS X] Open external terminal launch/debug with correct Terminal"
- VSCode Version: 1.7.2 - 7ba55c5
- OS Verson: macOS Sierra 10.12.1
- C/C++ for VIsual Studio Code Verison: 0.9.2

When debugging/launching your code, VSC doesn't use your external terminal preference set in settings.json. The same issues was opened under `vscode` repo and in the discussion, we clarified that the `launch.json` and the expected behavior is related to the `specific debugger` rather

[2016-12-07 20:46] pieandcakes commented on #390
@Evilcat325 We will look into this for a future release.

[2016-12-07 20:49] pieandcakes commented on #390
This may be similar to #35

[2016-12-07 20:50] #328 closed, assigned to nobody

[2016-12-07 20:56] evilcat-x commented on #390
@pieandcakes  if you set `externalConsole` to `false` in the `launch.json` the std out/err will be print out in the `Debug Console` `Debugger View` in the Vscode.  I already tested it out. It would more flexible to deprecated a boolean value in favor of a string to provide more functionality.

[2016-12-07 20:59] evilcat-x commented on #390
I am still looking into how the Node Debugger handles the launch of the `console` app, and why this behavior is different across different debugger but the same `launch.json`. It is kinda confusing to me and I do not find a good resource to discover how to use the `launch.json` and it seems that the `vscode` repo already have an issue opened for adding usability to the `launch.json` file

[Investi

[2016-12-07 21:02] pieandcakes commented on #390
@Evilcat325 The debugger redirects stdin/stdout through the console. Different console apps behave differently and different debuggers on different platforms behave differently. We currently have different solutions for gdb on Linux and lldb on OS X. We have been asked to support different console apps on Linux also and it is on our radar for a future release.

[2016-12-07 21:08] evilcat-x commented on #390
@pieandcakes  Thanks for fast response, I am looking forward to this feature to be added. If possible could we also add a support for the debugger to redirects the stdin/stdout into the `integrated console` within the vscode? Sometimes for a small application or just an algorithm for a `Leetcode question`, it would be nice to have the source code, variable/breakpoints/call stack and the terminal o

[2016-12-07 21:35] pieandcakes commented on #390
@Evilcat325 That is also in our backlog

[2016-12-07 21:50] mhobelsb commented on #145
+1

[2016-12-08 03:24] suluvai opened #391 "F12 key aslo opens the peek definition view"

[2016-12-08 14:18] chrisdias opened #392 "为什么不能完美支持C 语言"
_From @guoqingaa on December 6, 2016 8:58_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:06:37.428Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Bookmarks|alefragnani|0.10.1|
|jsrefactor|cmstead|0.5.3|
|cocos-creator|Chukong Technologies|0.0.1|
|cocos-debug|Chukong Technology|0.0.1|
|compulim-vscode-clos

[2016-12-08 14:18] chrisdias commented on #392
_From @alexandrudima on December 6, 2016 9:53_

rough translation:

Why not perfect support for C language

1. Can not normally write pure C language projects, such as keil for c51 mcu project.
2. Code hints are not perfect, note that note does not provide, write code is poor.

[2016-12-08 14:18] chrisdias commented on #392
_From @guoqingaa on December 8, 2016 4:14_

对啊，在 keil for c51中，并没有合适的语法高亮支持，如 sbit 等关键字，另外includePath 也无法正常设置，鼠标移动到代码上，并不支持已经写有的注释说明Tips 提示，写C 语言代码的时候，代码提示也不够完整，无法查看方法的引用计数。

Yes, in the Keil for C51, and there is no suitable syntax highlighting support, such as the “sbit“  keyword, includePath also cannot be set, move the mouse to the code, do not support has written comment and improve Tips, whe

[2016-12-08 14:18] chrisdias commented on #392
_From @guoqingaa on December 8, 2016 6:29_

in vscode do not support show Comment Snippets tags(Comment tips)（in C language）

 /**
  * Note .....
  */
do not support show Tools Tips

[2016-12-08 21:17] sean-mcmanus commented on #391
Yeah, I'm seeing this bug. Did VS Code regress us?

[2016-12-09 01:08] pieandcakes commented on #283
This should be fixed in 0.9.3. let me know if you are still running into the issue.

[2016-12-09 01:08] #283 closed, assigned to pieandcakes

[2016-12-09 01:16] pieandcakes commented on #332
Source File mapping has been released. Let me know if this resolves your issue.

[2016-12-09 01:17] #332 closed, assigned to pieandcakes

[2016-12-09 01:20] #309 closed, assigned to pieandcakes

[2016-12-09 01:21] pieandcakes commented on #308
The fix for this should be in 0.9.3. Please update the extension and let me know if this resolves your issue. Thanks

[2016-12-09 01:21] #308 closed, assigned to pieandcakes

[2016-12-09 01:23] pieandcakes commented on #284
@Luxios we have released an update that may resolve your download issues. Please reopen if it does not.

[2016-12-09 01:23] #284 closed, assigned to nobody

[2016-12-09 01:25] pieandcakes commented on #334
@hth313 Can you shoot me an email at piel at microsoft dot com? I can give you a proposed fix to see if it might resolve your issue.

[2016-12-09 01:40] pieandcakes commented on #201
The pretty printing for GDB is now enabled by default when creating a new `launch.json`. We also have support for .natvis files if people want to explore visualization that way too.

[2016-12-09 01:45] yycalm opened #393 "${fileBasename} 变量包含了扩展名"
launch.json中，${fileBasename} 变量包含了扩展名

"program":"${workspaceRoot}/${fileBasename}.exe",  展开后是"program":"d:/test/filename.cpp.exe",

我想要的是"program":"d:/test/filename.exe".

[2016-12-09 08:44] peterazmanov commented on #363
I experience painfully slow debugging with vscode too.
I noticed that the deeper my call stack the slower the process is. I have a vague suspicion that vscode updates local variables for each position in call stack or something like that.

[2016-12-09 08:46] malytskyy commented on #201
Hi,
@pieandcakes I wasn't able to find a way to specify more than one .NATVIS file. Is it supported? It would be great, especially if one has several custom NATVIS files

Thanks!

[2016-12-09 08:55] jhasse commented on #75
I've added `.F90`, but still wasn't able to add breakpoints in .F90 files. I've disabled, reloaded, enabled, reloaded the C/C++ extension. Do I need to do anything else for these changes to take effect?

[2016-12-09 13:57] csholmq opened #394 ""December update" link broken"
The link is broken. When visiting the blog, I can't seem to find any new blog post since Nov 16. Forgotten to publish?

[2016-12-09 14:01] sean-mcmanus commented on #394
I think it should be posted later today. [Edit: I was wrong. It wasn't. I don't have an ETA yet.]

[2016-12-09 14:05] csholmq commented on #394
I see. Just eager to see what's been keeping the update for over two months. Documentation is lacking on configuration, but I guess that's also coming along.

[2016-12-09 14:16] sean-mcmanus commented on #394
I suspect we're not publicly disclosing the reason for the update delay in the blog. The debugger part was updated, but the language service executable actually has not been updated, although an update for that is expected within a month.

[2016-12-09 15:45] Jackie-Yang opened #395 "I want to Debug at the Integrated Terminal"
- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:01:10.756Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.9.2|

---

Steps to Reproduce:

When I debug my c/c++ program, vscode will open an external Terminal(behind the vscode window), it is not convenient. How can I Debug a program at the Integrate

[2016-12-09 17:53] pieandcakes commented on #393
@yycalm the replacement texts for ${workspaceRoot} and ${fileBasename} come from VS Code. Please file this issue under https://github.com/microsoft/vscode/issues.

[2016-12-09 17:53] #393 closed, assigned to nobody

[2016-12-09 17:54] pieandcakes commented on #395
@Jackie-Yang this is a duplicate of #35. It is an item on our backlog that hasn't been completed yet.

[2016-12-09 17:54] #395 closed, assigned to nobody

[2016-12-09 17:55] delmyers commented on #201
@malytskyy, right now only one natvis file is supported. If you want to use multiple files, you will have to merge them into a single one.

We decided that we wanted to get the pretty printing stuff out asap, and then get feedback. So, this is useful feedback.

[2016-12-09 18:17] csholmq commented on #394
Too bad. This project could use some more transparency.

Looking forward to remote attach and better autocomplete! :)

[2016-12-09 18:51] delmyers commented on #394
@sean-mcmanus, @csholmq
There isn't really any secret to why the language service didn't update this time around. There were just some late bugs that were found in the language service that we didn't want to release. There were some significant changes to the debugger, though, so we decided to release the debugger without the changes to the language service.

[2016-12-09 18:58] sean-mcmanus commented on #394
Yeah, we found regressions that we're fixing so we delayed updating the language service. However, I think he wants to know why the last update was September 22. Previously, we had an update schedule that was a lot shorter. There is a reason (on the language service side), but I'm not sure if I'm allowed to be more transparent :)

[2016-12-09 19:00] delmyers commented on #394
@sean-mcmanus, it isn't a big deal. We just had bugs to work through and not enough time to work on them. Finally, we decided to release the debugger and not the language service. Hopefully we will be able to pick things up on the language service side and release an update there too.

[2016-12-09 19:13] csholmq commented on #394
Appreciating all of your work. I hope you reach a stage when you can open source this extension as well. Hopefully accelerates the bug squashing and allows for more on features.

[2016-12-10 00:51] ghost opened #396 "No way to regenerate broken launch.json"
Hi guys,
I ran into an issue where I updated my version of cpptools and some aspects of my launch.json file were now deprecated in the latest version (it complained about the syntax when I tried to run), so debug no longer worked.
The problem is, there's no way for me to ask it to generate a new launch.json that is compliant with the latest version - uninstalling and reinstalling the extension did

[2016-12-10 01:29] Ebiroll commented on #19
With the 0.9.3 it seems that both GLIBC_2.18 & GLIBC_2.17 is required.
However if you want a workaround try this:

0.  wget http://ftp.gnu.org/gnu/glibc/glibc-2.18.tar.xz
1. tar xvf glibc-2.18.tar.xz
2. cd glibc-2.18
3. mkdir build
4. cd build
5. ../configure  --prefix=/opt/glibc-2.18
6. sudo make install
7. Create a bash script file called Microsoft.VSCode.CPP.Extension.linux.sh in "~/.vscode/ext

[2016-12-10 04:03] sean-mcmanus commented on #396
The launch.json should be in your .vscode folder of the workspace root. You can generate a new one with the Configure or Fix launch.json button in the Debug pane (if you have one already it opens the launch.json instead).

[2016-12-10 05:14] zhaohaixin opened #397 "How to quickly import android source code like IntelliJ IDEA."
How to import AOSP source code, and can achieve function tracking. Whether through the source code idegen.jar import, or can be compiled through the completion of the AOSP link file to function tracking query.

[2016-12-11 14:03] PerMildner commented on #394
The link "December update" points at https://aka.ms/cppvscodedec which takes me to https://www.microsoft.com/sv-se/. That is, for me the link is completely broken and does not bring me to an out-of-date blog or anything like that.

[2016-12-11 14:20] csholmq commented on #394
@PerMildner The blog I'm referring to is https://blogs.msdn.microsoft.com/vcblog/.
That is where the "August update" points to. Ultimately, when the post has been published, there is where you would find it.

[2016-12-11 18:11] Aukstkalnis opened #398 "Change Log: December update does not work."
I want to see what was done, but the link just redirects me to https://www.microsoft.com/lt-lt/
Can you fix it?

[2016-12-12 01:26] Jackie-Yang opened #399 "Add support for doc comments"
How to write a function description like this
<img width="599" alt="2016-12-12 9 25 55" src="https://cloud.githubusercontent.com/assets/18381153/21085428/02e30542-c04d-11e6-9bb2-aea545912264.png">

[2016-12-12 01:31] Jackie-Yang opened #400 "Parameter Hints Doesn't Work Sometimes"
For example:
<img width="320" alt="2016-12-12 9 28 12" src="https://cloud.githubusercontent.com/assets/18381153/21085457/6117e13c-c04d-11e6-909e-869abbdc02cc.png">
I included "stdio.h"(already set the includePath), and type the function "printf", but Parameter Hints doesn't work.

[2016-12-12 01:47] Jackie-Yang opened #401 ""limitSymbolsToIncludedHeaders" Not Work"
When I set "limitSymbolsToIncludedHeaders" to "true" in the c_cpp_properties.json, it still show all symbols of the files under the specified include paths
<img width="613" alt="2016-12-12 9 40 28" src="https://cloud.githubusercontent.com/assets/18381153/21085655/644b72d6-c04f-11e6-8d90-5fb17e4ff478.png">
<img width="484" alt="2016-12-12 9 46 36" src="https://cloud.githubusercontent.com/assets/183

[2016-12-12 03:56] yycalm opened #402 "debug windows pdb error"
debug windows pdb error: 找不到调试适配器可执行的“C:/Users/Administrator/.vscode/extensions/ms-vscode.cpptools-0.9.3/debugAdapters/vsdbg/bin/clrdbg.exe”。

pptools0.9.2 is normal.

cpptools0.9.3 version of the error.

[2016-12-12 07:45] s-martin commented on #19
Although the provided workarounds fix the issues, are there any plans to address the root cause of this issue?

The workarounds have to be redone every time the cpptools extension is updated.

[2016-12-12 08:41] alexdima opened #403 "error clang.executable"
Moved from Microsoft/vscode#17059

From @andychen2016

---

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:14:18.217Z)
- OS Version: Linux x64 4.4.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|makeRunner|alexnesnes|0.1.1|
|code-gnu-global|austin|0.2.1|
|vscode-instant-markdown|dbankier|0.2.1|
|python|donjayamanne|0.5.5|
|CppSnippets|ha

[2016-12-12 09:44] #402 closed, assigned to nobody

[2016-12-12 13:16] alexdima opened #404 ""Find all references" Not working"
Moved from Microsoft/vscode#17070

From @dfroze

---

Version 1.7.2
Commit 7ba55c5860b152d999dda59393ca3ebeb1b5c85f
Date 2016-11-21T22:14:18.217Z
Shell 1.3.8
Renderer 52.0.2743.82
Node 6.5.0

Since the first time I installed the vscode till now (so it isn't only just recent), this feature never worked for me. It always showed an empty list. I thought that it was a cpptool problem but they never re

[2016-12-12 15:15] Mugiwara303 opened #405 "debug C++ file, exe not found, windows"
i have created a main.cpp file with a simple hello world message, but i can't compile it or debug it! it said main.exe not found, i know there is no main.exe file on the project folder i tried main.cpp but it's not working too, please help me i have tried everything but still no luck, thank you

tasks.json
`{
    "version": "0.1.0",
    "command": "g++",
    "isShellCommand": true,
    // compiles

[2016-12-12 17:36] Ebiroll commented on #19
v 0.9.3 still not working under Centos, unless you use the workaround.
For just the Visual studio code ide you only need GLIBC_2.15
Why cannot this extension be compiled in a similar way?

[2016-12-12 18:37] sean-mcmanus commented on #398
The ReadMe.md for version 0.9.3 describes most of the changes. The language service executable wasn't updated at all yet. We're working on bug fixes. I don't have an ETA yet on when the blog will be posted.

[2016-12-12 18:59] pieandcakes commented on #394
@PerMildner @csholmq we will get the blog posted soon. The person in charge of writing the blog is currently out of the office and has been trying to work when he has time. The new blog explains the two debugger features mentioned in the readme.MD file -- `sourceFileMap` and having gdb's pretty-printing defaulted in newly created `launch.json` file.

[2016-12-12 19:06] pieandcakes commented on #396
@saltbot If you delete the `launch.json` that is in your workspace inside the `.vscode` folder and go through the `Debug` window's `Configure` gear button, it will create a brand new one and you will need to reenter the settings you had in there before.

[2016-12-12 19:08] pieandcakes commented on #397
@zhaohaixin This extension does not work with `Java` files, which AOSP contains. Therefore, we would not be able to import a large portion of the AOSP source code base.

[2016-12-12 19:13] pieandcakes commented on #398
@Aukstkalnis We are working on getting it posted. As mentioned in #394, the blog will explain how to use the `sourceFileMap` feature and explain that `pretty-printing` is enabled in new `launch.json` files for GDB users.

[2016-12-12 19:13] #398 closed, assigned to nobody

[2016-12-12 19:15] pieandcakes commented on #405
@Mugiwara303 for the command in your tasks.json, can you specify the fill path to your g++ executable? I'm wondering if it isn't able to find it.

Can you also look at the `debug console` window and see if the compiler output is showing?

[2016-12-12 19:17] sean-mcmanus commented on #399
Our extension doesn't currently implement the textDocument/signatureHelp which provides the function "doc-comments". We'll consider possibly adding that in a future release.

[2016-12-12 19:18] pieandcakes commented on #403
@alexandrudima @andychen2016 Is this supposed to go to the `vscode-clang` extension? If so, you can find information for issues on their extensions page located at https://marketplace.visualstudio.com/items?itemName=mitaki28.vscode-clang. there are instructions there too on how to install `clang` to work with their extension.

[2016-12-12 19:19] #403 closed, assigned to nobody

[2016-12-12 19:20] #397 closed, assigned to pieandcakes

[2016-12-12 19:38] csholmq commented on #394
Link now works!

[2016-12-12 19:38] #394 closed, assigned to pieandcakes

[2016-12-12 19:54] garoyeri commented on #357
I tested with 0.9.3 and it works as expected.  The additional tools were automatically downloaded and installed.  My company proxy interrupted the 3rd download (Debugger), but restarting Visual Studio Code allowed it to redownload properly and install.

[2016-12-12 19:55] pieandcakes commented on #357
Thanks. I'll consider this issue resolved.

[2016-12-12 19:55] #357 closed, assigned to pieandcakes

[2016-12-12 20:25] sean-mcmanus commented on #400
We don't implement Parameter Hints yet, but the autocomplete is expected to work. Unfortunately, it seems to be somewhat buggy currently. If you type printf( and then delete the ( you should get the basic signature to appear that lists the input parameters with types.

[2016-12-12 21:19] Mugiwara303 commented on #405
@pieandcakes  i have changed this but no luck "command": "C:\\CodeBlocks\\MinGW\\bin\\g++.exe",
in my folder project there is only main.cpp file, there is no main.exe and when debugging it fail because there is no main.exe, look at the images, thank you :)
![11](https://cloud.githubusercontent.com/assets/24526558/21117190/91876398-c0b0-11e6-94e2-c163a5655923.jpg)
![22](https://cloud.githubusercont

[2016-12-12 21:21] pieandcakes commented on #405
@Mugiwara303 Can you manually compile it with the parameters from a command prompt?

[2016-12-12 21:26] Mugiwara303 commented on #405
@pieandcakes i am sorry i don't know how to do it, i am a beginner with programming, and i am currently using code blocks, and i can't compile on VSCode

[2016-12-12 21:30] pieandcakes commented on #405
Open a Windows command prompt to the folder where your source code is. Then using the path to your G++, type `g++ -g main.cpp -o main.exe`

[2016-12-12 21:38] Mugiwara303 commented on #405
@pieandcakes i don't know if i did it right but it gives me an error libintl-8.dll is missing
![2016-12-12_213533](https://cloud.githubusercontent.com/assets/24526558/21117833/41a99afa-c0b3-11e6-88db-191396e801bc.jpg)

[2016-12-12 21:40] pieandcakes commented on #405
@Mugiwara303 You may want to search the internet or see if you can get help with CodeBlocks. Looks like there is a problem with your installation?

[2016-12-12 21:43] Mugiwara303 commented on #405
@pieandcakes code blocks is running fine and is compiling without errors, and also is not installed on program files to avoid problems

[2016-12-12 21:45] pieandcakes commented on #405
@Mugiwara303 The MinGW G++ compilation is giving you an error which is telling me that there is an issue with the MinGW installation on your machine. Command line compilation tools are not part of this extension. I can give you help with the debugger, but the error you screenshotted is showing me that you can't run the `g++` command without an error.

[2016-12-12 21:49] Mugiwara303 commented on #405
@pieandcakes ok thank you for your time :) i will look for a fix to my problem, as long as my VSCode configuration is correct i have to fix mingw problem

[2016-12-12 21:55] pieandcakes commented on #405
@Mugiwara303 Just to give you some context, our extension provides language services which helps when you are writing code and the debugger, which is debugging. The compile `task.json` file is part of VS Code and its just a tool to call a command line executable to compile your code. For my day-to-day tasks, I usually end up leaving a Windows command line window open to compile from.

It looks lik

[2016-12-12 21:57] Mugiwara303 commented on #405
@pieandcakes i have fixed the problem by adding the missing dlls to system32! and now i can create exe from the cmd, so i deleted the exe and tried from VScode but it still give me the same error, main.exe not found

[2016-12-12 21:57] pieandcakes commented on #405
where is the exe you created from the cmd? is it in the location you specified in `program`  in your `launch.json` ?

[2016-12-12 22:00] Mugiwara303 commented on #405
yes near main.cpp "program": "${workspaceRoot}/main.exe",

[2016-12-12 22:01] pieandcakes commented on #405
@Mugiwara303 and what error do you see now?

[2016-12-12 22:02] Mugiwara303 commented on #405
just like before, main.exe not found, but when i create the main.exe with cmd and then debug from vscode it works and it gives me hello world on the debug console

[2016-12-12 22:06] pieandcakes commented on #405
Ok. So your problem is with the `task.json` compiling your code? If so, you may want to seek help with VS Code's `task.json` file. You can read more [here](https://code.visualstudio.com/Docs/editor/tasks) or reach the VS Code issue page [here](https://github.com/Microsoft/vscode/issues).

[2016-12-12 22:07] sean-mcmanus opened #406 "Extensionless files opened via Go to Definition from C/C++ files should be auto-registered to open as C++ files"
i.e. Go to definition to #include <cstdio> from a C/C++ file opens cstdio as Plain Text instead of C/C++ (the user has to manually change this, which gets annoying when browsing).

[2016-12-12 22:09] Mugiwara303 commented on #405
yes VSCode cannot compile and build the exe from cpp file, i will try on the links you provide me, thank you for your time and help

[2016-12-12 22:16] sean-mcmanus commented on #401
The limitSymbolsToIncludeHeaders appears to be working for me. It is recursive, so I suspect that the big list of items is recursively reachable from stdio.h. You should notice that other files in /usr/include/poll.h are not processed unless you explicitly added it. On my Mac, pthread_attr_t is included from /user/include/sys/_pthread and not /Applications/..., so I'm not sure why that is differen

[2016-12-12 22:37] Mugiwara303 commented on #405
@pieandcakes i have tried ctrl+shift+p then tasks:run task then i selected C:\\CodeBlocks\\MinGW\\bin\\g++.exe hit enter and it worked! but it takes a lot of time to do all this instead of clicking the debug button, i found the shortcut ctrl+shift+b

[2016-12-12 22:58] pieandcakes commented on #405
@Mugiwara303 Look at making the task a build task and adding it to the `launch.json`. It should be part of the first article. Then it will run that task every time you start debugging

[2016-12-12 23:05] Mugiwara303 commented on #405
@pieandcakes can you guide me where to look to do this, it confuses me

[2016-12-12 23:08] sean-mcmanus commented on #404
What extension do you have installed? I assume the C/C++ extension? You may need to set your include paths by running C/Cpp: Edit Configurations and modifying the c_cpp_properties.json.

[2016-12-12 23:28] pieandcakes commented on #405
If you follow the section `command and tasks[]` you can name your task in the `task.json` and you can add `"isBuildCommand": true,` OR you can specify a `preLaunchTask` in your `launch.json` where you can put the name of the task you created and it will be called before it launches.

[2016-12-12 23:28] pieandcakes commented on #405
@Mugiwara303 If you need more help with tasks, I would suggest asking over in the VS Code issues page.

[2016-12-13 03:50] LeThiHyVong opened #407 "Code folding didn't work as expected in directives and block comment"
In my code there are many places look like this

[code]
or

[code]
or

[code]

EDIT (@bobbrow): (inserting request for folding on multiple consecutive single-line comments from #1443)
[code]
The code folding only work correctly between #else and #endif.
From #if to next directive (#else in 1st case or #endif in 2nd case), if all line is started with ';//', the code folding didn't work.
From #endif

[2016-12-13 09:28] jhasse commented on #210
VS Code 1.7.2 and C/C++ extension 0.9.3: The error is back.

I've added

[code]

to my launch.json, but no output turned up in the Debug Console.

[2016-12-13 10:06] alexdima commented on #403
@pieandcakes Sorry about that, I just saw `cpptools` in the list of installed extension and thought the issue is about `cpptools`, didn't spot the `vscode-clang` in there :)

[2016-12-13 11:13] Mugiwara303 commented on #405
@pieandcakes i have added `"preLaunchTask": "C:\\CodeBlocks\\MinGW\\bin\\g++.exe"` and it works, so this problem is fixed, thank you

[2016-12-13 11:13] #405 closed, assigned to pieandcakes

[2016-12-13 13:35] Seg0r opened #408 "Go to definition/Peek definition does not work on non standard file extensions."
Mentioned functionality does not work when function definition is stored in file with non standard extensions. Here is simple sample:
https://github.com/Seg0r/vscode-cpp_bug_sample
Using "Got to definition" option opens header file instead of lib.sqc.
Configuration of file association:
`"files.associations": {
        "*.sqc": "c"
},`
does not help.
As mentioned in [#97](https://github.com/Microso

[2016-12-13 13:37] BillDenton commented on #368
This would also be very useful for me as whole my projects/folders use the same settings.

[2016-12-13 19:42] Tomaszal opened #409 "Unable to start debugging. Failed to initialize debugger terminal."
I am trying to debug a simple "Hello world!" application with VSCode on a 64 bit Arch Linux machine. Compiling is done without a problem, but when I go to debug it, about 10 seconds pass and it spits out this error: `Unable to start debugging. Failed to initialize debugger terminal.` I am using the default GDB/LLDB environment for launch.json.

Things I've tried:
- Changing "_externalConsole_" to

[2016-12-13 21:57] pieandcakes commented on #409
@tomaszal Do you have xterm or gnometerminal installed? We currently only support those two options. There is a backlog item to add other options in the future.

[2016-12-14 00:30] djg commented on #373
This is a bug in the TextMate C language parsing rules. Every editor that uses TextMate as a basis for C/C++ syntax highlighting has this bug.

[2016-12-14 06:51] gigaimage commented on #384
Upgraded to 0.9.3. I confirm that issue has been fixed.
Thanks.

[2016-12-14 06:51] #384 closed, assigned to nobody

[2016-12-14 07:49] Tomaszal commented on #409
@pieandcakes I do have xterm installed and I've just tested it with gnome-terminal. Neither of them work and both return the same error. What's stranger is that even when I set "_externalConsole_" to false, which in my understanding should use the internal shell with bash, it returns the same error.

[2016-12-14 12:25] filipsky commented on #308
Hi,
thanks for the fix.
The natvis support now sort of works, but I have two problems on MacOS
- natvis visualization does not work on tooltips - it says "Explicit refresh required for visualized expressions"
- when I try to expand the [Visualized expression] in the watch window, the LLDB crashes with this eror:
ERROR: LLDB exited unexpectedly with exit code 139 (0x8B). Debugging will now abort.

[2016-12-14 18:10] pieandcakes commented on #409
@Tomaszal the `terminal` options is not part of our extension and it isn't an option that we support at this time. Can you post your `launch.json`?

[2016-12-14 18:12] pieandcakes commented on #308
@filipsky Can you share what you are trying to visualize? We provide and support a version of lldb that will work with our extension because it has specific fixes in place to work. Visualization with natvis is done by our middle layer and not by lldb so I'd be interested to see why it is crashing.

[2016-12-14 18:41] rillian opened #410 "IncludePath override for generated paths?"
Is there a way to provide default or local overrides to the `includePath` key in `c_cpp_properties.json`? Or a code hook so we could script our own defaults?

I'd like to provide a basic file in our repo so users get some kind of intellisense in their first-run experience, but we also have generated code whose location varies depending on the build config. If devs add those paths, we'll have diff

[2016-12-14 19:28] Tomaszal commented on #409
@pieandcakes it's just the default generated one: [http://pastebin.com/TkFWbupt](http://pastebin.com/TkFWbupt)

[2016-12-14 20:59] sean-mcmanus commented on #407
Yes, the code folding is buggy, but it's not a bug with the C/C++ extension. We don't implement any code folding. Can you move this to the vscode team?

[2016-12-14 21:19] aamcampbell commented on #132
This is also a problem when typing in string literals.

I wouldn't mind allowing intellisense in comments and string literals when the user presses CTRL+space or otherwise explicitly invokes intellisense, but it definitely gets in the way if it comes up and "autocorrects" me on <enter> or <tab>while I'm trying to type human-readable text.

[2016-12-14 21:45] pieandcakes commented on #409
@Tomaszal Yea, that is strange. If you enable logging in the `launch.json` can you send me what it says? I think you're going to want to set `trace` and `traceResponse` to `true`.

[2016-12-14 21:55] pieandcakes commented on #409
@Tomaszal One of our tests machine is running Arch Linux x64 (4.6.4)  with XTerm(325) and gnome-terminal 3.20.2 installed and it is running on there with gdb version 7.11.1.

[2016-12-14 22:19] lbartnik opened #411 "nullptr deemed "undeclared identifier""
I'm not sure how to tell IntelliSense in Visual Studio Code that my C++ is >= 11 and `nullptr` is a valid keyword. Is that supported?

[2016-12-14 22:19] sean-mcmanus commented on #408
Yes, I'm able to repro the bug. Go To Definition doesn't work for files with non-standard file types, even after they're changed to be C++ files. We'll look into fixing this later. Thanks for reporting this.

[2016-12-15 03:40] sean-mcmanus commented on #368
I agree. We'll consider adding that later.

[2016-12-15 04:15] sean-mcmanus commented on #373
Yeah, you're right. You can track the issue at https://github.com/atom/language-c/issues . It seems like lots of users have complained about it. Not sure why it's taking so long to fix.

[2016-12-15 04:15] #373 closed, assigned to nobody

[2016-12-15 04:21] sean-mcmanus commented on #410
There is not currently a way to provide defaults for the include path. Would a global user setting for the include path be good enough? I don't understand how you want the build system generated include path to be specified to our extension.

[2016-12-15 04:31] sean-mcmanus commented on #132
Yes, we expect to have a fix for the autocomplete in strings/comments in our next update.

[2016-12-15 04:43] sean-mcmanus commented on #407
Actually, it sounds like the folding behavior you are seeing is "by design". The fixing of this is being tracked at https://github.com/Microsoft/vscode/issues/3422 . VS Code implements the folding behavior and there isn't an API yet to allow language-aware folding.

[2016-12-15 04:46] sean-mcmanus commented on #411
nullptr should be keyword highlighted for C++ files. It is not for C files. The language being used is shown in the bottom right. VS Code itself controls the keyword highlighting.

[2016-12-15 05:44] rillian commented on #410
I think a global setting would be unfortunate; shouldn't include paths be specific to a workspace?

I want to automate the work of building the list of include paths for a project so developers don't need to do this individually.

For static paths, a simple approach is to put `.vscode/c_cpp_properties.json` under version control. If an include path for some experimental variant is added, we have t

[2016-12-15 13:07] dfroze commented on #404
Hy @sean-mcmanus. Thank you for the fast reply.
Yes I have C/C++ extension.
I have a big project that contains a lot of *.h in include folders and src folders, how should I set this in json? Do I have to add all possible paths to it? What about *.c/*.cpp files?

Also, just found the console and am seeing a lot of errors there. Not sure if there are from the extension or vscode.

global: unrecogniz

[2016-12-15 14:32] sean-mcmanus commented on #410
Systems have certain include paths that are shared by multiple workspaces and could be configured per-user, like the user settings in vscode. I don't think our includePath setup was designed for "sharing" in mind, particularly since the install location can be different on everyone's machine. Would supporting environment variables be good enough, like ${env.MY_SPECIAL_PATH}, then somehow set that

[2016-12-15 14:58] sean-mcmanus commented on #404
Sorry, I misunderstood your report originally. The C/C++ extension doesn't currently implement Find All References. The option shouldn't be shown for C/C++ files unless you have some other extension installed that is trying to handle it.

[2016-12-15 15:08] csholmq commented on #321
Still not working on VSCode 1.8 and C/C++ extension 0.9.3. But this time I can't even seem to connect.

[code]

First off, both _type_ and _request_ are dimmed as if they are not supported. Why?

Secondly, I get this:
![image](https://cloud.githubusercontent.com/assets/1297882/21229088/a8bcdb4c-c2e0-11e6-95ba-aec12839ff76.png)

Roughly translated to "... can not perform binding to a null reference

[2016-12-15 15:54] Tomaszal commented on #409
Here's the log:

C disconnect: {"restart":false}
 R: {"success":true,"message":null,"request_seq":3,"command":"disconnect","body":null,"running":false,"refs":null,"seq":0,"type":"response"}

I'm currently on Arch Linux version 4.8.11, Xterm 327, gnome-terminal 3.22.1 and GDB 7.12. What's more strange is that CodeBlocks and Atom work fine on this machine.

[2016-12-15 16:19] dfroze commented on #404
You are right. It was an other extension.
It would be great and a really helpful to have this feature working properly.
I would like to help if possible.

[2016-12-15 17:00] filipsky commented on #308
@pieandcakes the LLDB crashes on visualizing std::strings and QT QStrings, I did not try anything more complex. Is there some option to generate a log for you to analyze? Do you want me to send you my natvis file?

[2016-12-16 05:46] drewcassidy commented on #360
I am having the same issue on macOS 10.12.1, vscode 1.8.0

[2016-12-17 08:02] myrfy001 commented on #326
Has any progress has been made for this problem?

[2016-12-17 10:14] ghost opened #412 "Debug adapter process has terminated unexpectedly. C++ debugger wont start."
I have a problem with the C/Cpp tools' debugger not starting, i have followed the instructions on the VS code site and the C/Cpp tools site but nothing works. I can build the file just fine but the debugger cant find it. I tried adding logging to the debugger but it never gets that far to log anything.

Here is my task.json

    "version": "0.1.0",
    "command": "g++",
    "isShellCommand": true,

[2016-12-18 04:32] solvingj opened #413 "Repo with Actual Source Code"
I can't find the source code for this extension.  Please confirm that it is closed-source at this time.

[2016-12-18 05:23] solvingj commented on #413
I found this, but I would think the extension is comprised of more than what is here:

https://github.com/Microsoft/vscode/tree/master/extensions/cpp

[2016-12-19 05:18] strrchr opened #414 "File encoding specified in "files.encoding" setting is not honored"
In my workspace's settings.json
{
 "files.encoding": "gbk"
}
![default](https://cloud.githubusercontent.com/assets/8603093/21301997/91e80c2e-c5ed-11e6-9153-0b744338344d.png)
These is still encoding problem in the auto completetion.

[2016-12-19 10:28] zhangbo1882 opened #415 "can not find the browse.VC.db file"
From the official document (http://code.visualstudio.com/docs/languages/cpp), I got the message that is
"With the C/C++ extension installed, this database(browse.VC.db) is generated whenever a folder containing C++ source code files is loaded into VS Code". But in my root folder, there is no such database file. I can see the c_cpp_properties.json but not browser.VC.db. My vs code is 1.8 and cpptoo

[2016-12-19 10:37] egamma opened #416 "can't stop at the breakpoint"
_From @andychen2016 on December 19, 2016 8:17_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:14:18.217Z)
- OS Version: Linux x64 4.4.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|makeRunner|alexnesnes|0.1.1|
|code-gnu-global|austin|0.2.1|
|vscode-instant-markdown|dbankier|0.2.1|
|python|donjayamanne|0.5.5|
|CppSnippets|hars|0.0.5|
|M

[2016-12-19 10:39] zhangbo1882 commented on #415
I have found the cause by
![image](https://cloud.githubusercontent.com/assets/2562441/21309767/8067eece-c61a-11e6-8d72-6cc8806c84ae.png)

[2016-12-19 10:46] zhangbo1882 commented on #415
@sean-mcmanus , if we do not have a static symbol database (.BROWSE.VC.DB), each time we launch vs code, it will recreate the symbol database dynamically. If the project is very big, it will cost a lot of time. I do not think it is a good design.

[2016-12-19 14:44] nathanhack opened #417 "clang-format AlignConsecutiveDeclarations not working"
I have configured a local .clang-format file in my project with:

...
 AlignConsecutiveDeclarations: true
...

but it doesn't seem to work.
the following example doesn't get aligned as I expect.

int one=            0;
int onelong=0;
int onelonger     =0;

i expect the following:

int one           = 0;
int onelong    = 0;
int onelonger = 0;

but instead the following happens:

int one = 0;
int on

[2016-12-19 17:21] nathanhack commented on #417
User error.  In a previous value i used AllMan instead of Allman ...

I would have been nice to have seen that there was a error parsing my .clang-format file!

[2016-12-19 17:21] #417 closed, assigned to nobody

[2016-12-19 19:08] sean-mcmanus commented on #413
It is closed source.

[2016-12-19 19:08] #413 closed, assigned to nobody

[2016-12-19 19:12] sean-mcmanus commented on #415
The .browse.vc.db should not be recreated every time. It should be at either the default location or set via the databaseFilename property.

[2016-12-19 21:13] sean-mcmanus commented on #414
I'm not able to repro the problem. From your screenshot, it looks like you may be using another C++ extension for auto-completion, because our extensions doesn't provide test like that. Can you provide a sample that repros this? I created a file with GBK encoding and I didn't see a problem.

[2016-12-19 21:27] sean-mcmanus commented on #326
I'm not able to repro the problem as described. What do you mean by "recreated"? Is the file deleted and being regenerated? 5 minutes of "rescanning" on folder open sounds like normal behavior given the size of the project.

[2016-12-20 00:24] rillian commented on #410
Sharing build configuration has always been a short-coming of Visual Studio. I hoped vscode could do better here.

Environment variable substitution wouldn't work well for our application. The build process cannot poke things in to the user session's environment, so this means we're still having to set the same things twice. What I'd really like is an overlay, the way `settings.json` overrides the

[2016-12-20 00:26] rillian commented on #410
We use a custom build system written in python.

[2016-12-20 01:47] strrchr commented on #414
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.6.0|
|auto-close-tag|formulahendry|0.3.6|
|auto-rename-tag|formulahendry|0.0.8|
|green-theme|vscode|0.1.0|
|beautify|HookyQR|0.6.2|
|theme-material-theme|jprestidge|1.0.1|
|cpptools|ms-

[2016-12-20 01:58] sean-mcmanus commented on #414
Okay, I am able to repro the bug now. Thanks. I don't know how you got the text write(sprint ("%s..."... to appear, but I was able to get a repro via int func2(string s = "中文字符中文字符中文字符") {...

[2016-12-20 02:03] zhangbo1882 commented on #415
@sean-mcmanus , so are there still .browse.vc.db file in disk？

[2016-12-20 02:06] sean-mcmanus commented on #415
Yes, there should be. Either set the databaseFilename path or check the default location like /home/<user>/.config/Code/User/workspaceStorage or C:\Users\<user>\AppData\Roaming\Code\User\workspaceStorage .

[2016-12-20 04:31] flisboac commented on #286
I'm on a Linux machine, and I can confirm this bug is happening. Some info on my system:

[code]

If the process must be alive even after closing the editor that started it, I think the extension should at least do one of the following:

1. Check if there is another process running; if there is, the scanner process just finishes itself, or is not started to begin with. Perhaps this can be done wit

[2016-12-21 20:42] therealkenc commented on #321
I would like to use this scenario also. The Linux-ish platform I am using is [WSL](https://github.com/Microsoft/BashOnWindows), which is capable of running gdbserver but not VS Code. I have tried using [Visual C++ for Linux](https://marketplace.visualstudio.com/items?itemName=VisualCPPTeam.VisualCforLinuxDevelopment) but haven't had a lot of luck with that yet either; the documentation seems to be

[2016-12-22 02:29] Skilence opened #418 "C project, .inc include file cannot find"
C project, .inc include file cannot find.
I have set the settings: "files.associations": {"*.inc": "c"}
The .h file is OK, but the .inc file cannot find..

[2016-12-22 04:40] sean-mcmanus commented on #418
Assuming I understand you correctly, it is a known bug that Go To Definition doesn't work with unusual file extensions: https://github.com/Microsoft/vscode-cpptools/issues/408 .

[2016-12-22 04:52] karpulix opened #419 "Unable to start debugging. Program path 'd:\vscode\c.c' is missing or invalid."
(windows 10)
file d:\vscode\c.c exist in D:\vscode\, it's simple "hello world", I can not understand why there is an error.

launch.json:
{
    "version": "0.2.0",
    "configurations": [
        {
            "miDebuggerPath":"c:/MinGW/bin/gdb.exe",
            "name": "C++ Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceRoot}/c.c",

[2016-12-22 13:26] sean-mcmanus commented on #419
"Program" is a supposed to be an executable file, not a source file (.c).

[2016-12-22 13:44] karpulix commented on #419
Thank! Tell me please, this plugin is able to compile or it only analyzes previously compiled file?

[2016-12-22 13:54] sean-mcmanus commented on #419
The C++ extensions provides a C++ debugger and language services (Go to Definition, autocomplete, symbol search, formatting, etc.). We don't provide compile or build services, but you can setup VS code to use a build task, see http://stackoverflow.com/questions/30269449/how-do-i-set-up-vscode-to-compile-c-code , or just build via the command line.

[2016-12-23 15:26] BillDenton commented on #381
I have the same problem with #include <streambuf>. I'm using MSVS2005 with "c_cpp_properties.json" with "includePath": ["c:/Program Files (x86)/Microsoft Visual Studio 8/VC/include"],. It shows "include file not found in directory". I presume this is related to these files not having an extension (see https://github.com/Microsoft/vscode-cpptools/issues/406)

[2016-12-23 15:47] BillDenton commented on #368
I got around the problem by create a common config, with symbolic links to it in each project/folders .vscode directory. However, it would still be better if the settings where in settings.json. Like a lot of other extensions shouldn't the settings be in the standard settings.json. That way they could be set globally or locally as required. It would also remove one settings file.

[2016-12-23 16:01] wuqiling97 commented on #381
@BillDenton
<stdio.h> has an extension but still gets green squiggles. Maybe it has nothing to do with extension

[2016-12-23 16:05] BillDenton commented on #381
<stdio.h> works for me. I've got appropriate include path for my compiler in "c_cpp_properties.json". Have you got the include path?

[2016-12-24 09:01] Jackie-Yang opened #420 "Local variable Problem"
Can not Hint/Go to Definition/Peek the local variable.
<img width="360" alt="2016-12-24 5 00 30" src="https://cloud.githubusercontent.com/assets/18381153/21466180/9f0256ec-c9fa-11e6-9d20-34454f7a3bd1.png">
<img width="544" alt="2016-12-24 5 00 49" src="https://cloud.githubusercontent.com/assets/18381153/21466181/a03bd90c-c9fa-11e6-9f7e-890e051cf6c1.png">

[2016-12-24 20:30] hia3 opened #421 "Auto-completion is broken"
Currently auto-completion gives a lot of irrelevant suggestions:

![image](https://cloud.githubusercontent.com/assets/4704208/21468667/ec6cf740-ca2f-11e6-92a8-05c2519cba14.png)

This is how it should work:

![image](https://cloud.githubusercontent.com/assets/4704208/21468669/f15b8528-ca2f-11e6-8117-fdb95921dd4a.png)

[2016-12-25 16:11] egamma opened #422 "The C++ extension should not activate on startup"
The C++ extension activates on startup, e.g.,
[code]
A language extension must only activate when a language specific artifact or command is executed.

[2016-12-26 02:19] sunzhec2702 commented on #415
Hi Sean,

I met the same issues.
My situation is that I have to install the vs/cpptools offline. After downloaded and installed the extension, the database file didn't show up. And I cannot navigate the code neither.
Also I saw a message when I opened vs.
"Update c/c++ dependencies...
Downloading package 'c/c++ language components(linux)' "

My questions are
1. Is the update necessary for the navi

[2016-12-26 05:42] sunzhec2702 opened #423 "browse.VC.db file is not created."
Hi,

My situation is that I have to install the vs/cpptools offline. After downloaded and installed the extension successfully, the database file didn't show up. And I cannot navigate the code neither.
My vs code is 1.8 and cpptools is 0.9.3.

Also I saw a message when I opened vs.
"
Update c/c++ dependencies...
Downloading package 'c/c++ language components(linux) Fail at stage: downloadPackages'

[2016-12-26 06:58] guoqingaa commented on #392
Now how is the progress? When will the problem be solved?

[2016-12-27 12:32] alex-che commented on #59
Is there any chance that Linux 32-bit support will be added? Did you measure the percentage of 32-bit Linux users of VSCode?

[2016-12-27 13:05] alex-che opened #424 "Linux 32-bit support"
Currently several extension binaries are 64-bit only, and do not work on Linux 32-bit. Is it possible to add support for Linux 32-bit?

[2016-12-27 13:33] sean-mcmanus commented on #381
Which #include file repros the bug? Like "#include \<string\>"?

[2016-12-27 15:29] sean-mcmanus commented on #420
Yes, it's a known "by design" limitation of the current implementation that is planned to be fixed once full IntelliSense is added.

[2016-12-27 15:29] #420 closed, assigned to nobody

[2016-12-27 15:36] sean-mcmanus commented on #422
@egamma: Actually, the "*" is "by design" -- we re-write our package.json's activationEvents after the initial one-time download/install step has completed:
manifestObject.activationEvents = [
                "onLanguage:cpp",
                "onLanguage:c",
                "onCommand:extension.pickNativeProcess",
                "onCommand:C_Cpp.ConfigurationEdit",
                "onCommand:C_Cp

[2016-12-27 15:36] #422 closed, assigned to nobody

[2016-12-27 16:42] sean-mcmanus commented on #423
The update is necessary. It downloads OS-specific components. Offline downloading/installing isn't officially supported, but you may be able to work around this via downloading/installing the extension and updates on a computer with internet access and then copying over the updated files/folders (e.g. on Windows: install.lock, package.json, bin/Microsoft.VSCode.CPP.Extension.exe, LLVM, debugAdapte

[2016-12-27 16:42] #423 closed, assigned to nobody

[2016-12-28 07:34] sunzhec2702 commented on #423
Hi Sean,

Thanks for the reply. My OS is ubuntu :(
I've copied the whole folder under /usr/shared/code from a Internet access computer(VS/CppTools works well) to my offline computer.
But it didn't work neither. VS still try to down&update c/c++ dependencies.

BTW, I've already offline installed the cpptools extension successfully.

Is there still a way to WAR this issue in Ubuntu?

Thanks a lot.

[2016-12-28 14:27] sean-mcmanus commented on #423
The workaround should work on Ubuntu too. You need to copy the extension files, which should be in a location like ~/.vscode/extensions/ms-vscode-cpptools-0.9.3. It sounds like you are copying the vs code binaries and not the extension binaries. The existence of the install.lock file will prevent the download.

[2016-12-28 19:48] Tomaszal commented on #409
I've recently reinstalled Arch Linux and decided to try running this again and it is now working correctly.

Now that I look back on it though I think I know what the problem was. I had both KDE and GNOME installed so I could experiment with both of them (I'm a new Linux user). I only used GNOME a few times but gnome-terminal got installed with it. I think the issue was that the debugger gave prio

[2016-12-29 04:30] Kurt-Shiwz commented on #310
find feference disappear, don't have loading prompt and this bug still here...

[2016-12-29 13:35] sean-mcmanus commented on #310
Do you have the C/C++ extension installed? Is the platform text red in the bottom right?

[2016-12-29 14:10] Kurt-Shiwz commented on #310
![2016-12-29 22 08 16](https://cloud.githubusercontent.com/assets/7554917/21545524/70ae19c6-ce13-11e6-8288-7ac7f9a7797e.jpg)
![2016-12-29 22 02 44](https://cloud.githubusercontent.com/assets/7554917/21545527/7129221a-ce13-11e6-8510-bec5583ca333.jpg)
![2016-12-29 21 58 35](https://cloud.githubusercontent.com/assets/7554917/21545526/71272f5a-ce13-11e6-8a76-41fdc6b50aea.jpg)
![2016-12-29 21 57 07](ht

[2016-12-29 14:42] PatrikMoberg opened #425 "/usr/include always included"
"/usr/include" is included in include path even when path explicit set to a different custom path. Host is Linux.

Version used: 0.9.3

[2016-12-29 14:50] sean-mcmanus commented on #310
Thanks for reporting these issues. Autocomplete for headers inside #include doesn't work currently. The goto definition for extensionless headers uses a fixed list and "boost" is not in that list (string is). We'll investigate fixing these issues later.

[2016-12-29 14:53] sean-mcmanus commented on #425
I believe the problem is that we don't currently remove "stuff" from the browse engine database after paths like "/usr/include" are removed. A workaround should be to delete the .browse.vc.db or change the databaseFilename property in c_cpp_properties.json.

[2016-12-29 14:59] PatrikMoberg commented on #425
Deleting the .db did the trick as a work around, thanks!

[2016-12-30 01:37] sunzhec2702 commented on #423
Hi Sean,

Thanks! I thought it was updating the component of vs code itself since the extension was installed successfully already.
Now I copied the folder ~/.vscode/extensions/* as you told me. Everything goes well!
Thanks a lot!

[2016-12-30 07:22] liuyuxun opened #426 "Goto Definition do not work appropriately"
# when i use the ‘goto definition’
![image](https://cloud.githubusercontent.com/assets/3021095/21561076/b5f9736a-cea2-11e6-8ac9-497e3bdb29db.png)
# I get this window
![image](https://cloud.githubusercontent.com/assets/3021095/21561106/26b2048c-cea3-11e6-998b-06a0f4894f9b.png)
## this is just a simple sample，i think the nearest definition is the appropriate one

[2016-12-30 18:46] sean-mcmanus commented on #426
It appears like you are using Go to Definition on a local variable and are getting other global variables instead. We don't currently support Go to Definition on local variables.

[2016-12-30 22:34] antmerlino opened #427 "Use Docker with cross target GDB with cpptools debugger"
Hi,

Here is what I am hoping to do.. I can't tell if this is something I'd be able to do now, or is a feature I'd like in the future. (I'm hoping I can do it now).

Basically, I am hoping to eliminate the need to have a cross target gdb installation on my host machine.  Instead I'd like to have preconfigured docker containers for different targets that have entire toolchains inside, including gdb

[2016-12-30 22:36] antmerlino commented on #427
@jacdavis I noticed in another issue you mentioned something about transport pipes or something for doing something similar to this.  Do you have any ideas or is this in the works?

[2016-12-31 05:57] wuqiling97 commented on #381
When I work in certain directories, all the headers will reproduce this bug.
![1](https://cloud.githubusercontent.com/assets/19304928/21576165/7a21917e-cf60-11e6-9214-4878f913b96b.png)

But in other directories, headers like \<climits\>, \<vector\>, \<algorithm\> will have green squiggles.
![2](https://cloud.githubusercontent.com/assets/19304928/21576169/aaab57ee-cf60-11e6-8a6e-7dca47a585d0.png)

[2017-01-01 05:06] rebornix opened #428 "C/C++ for Visual Studio Code won't update."
_From @scareware047 on December 31, 2016 16:26_

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Theme-Blackboard|gerane|0.0.2|
|MagicPython|magicstack|1.0.3|
|cpptools|ms-vscode|0.9.3|
|you-complete-me|RichardHe|1.0.24|
|Spell|seanmcbreen|0.9.1|
|pyth

[2017-01-01 05:06] rebornix commented on #428
@scareware047 it looks like a network issue but it has nothing to do with Code. Please file issues in the CPP extension repository you are using.

[2017-01-03 01:57] liuyuxun commented on #426
yes this is the issue.
but ,is there any plan to support this?
vscode is the lightly and best appliation that i've have ever used to review codes on mac
the other ides are either too heavy or too slow for big projects ,for example the uboot and linux kernel projects in embed development

Thanks for your attention

[2017-01-03 13:22] sean-mcmanus commented on #381
Is the Win32 configuration not red all these times? Is there something special about the directories that repro the bug? We'll do more testing with MinGW later to try to repro the issue.

[2017-01-03 13:27] sean-mcmanus commented on #320
We don't support 32-bit Linux OS's or Linux OS's that don't have glibc 2.18 or newer.

[2017-01-03 13:33] sean-mcmanus commented on #428
Can you see if https://github.com/Microsoft/vscode-cpptools/issues/284 resolves your issue? It seems like something is blocking your network connection so you're unable to download the required OS-specific components. Maybe your http.proxy settings aren't correct.

[2017-01-03 13:46] sean-mcmanus commented on #426
We do plan to support this (as part of the "full IntelliSense"), but we don't have any announced schedule for it yet.

[2017-01-03 13:46] #426 closed, assigned to nobody

[2017-01-03 18:32] thisistejaspandey commented on #428
I was able to download it on another network, guess something to do with the isp. You can close the issue now :)

[2017-01-03 18:36] sean-mcmanus commented on #428
Ok.

[2017-01-03 18:36] #428 closed, assigned to nobody

[2017-01-04 11:46] BillDenton commented on #404
Issues #404 and #388 appear to be the same.

[2017-01-04 11:46] BillDenton commented on #388
Issues #404 and #388 appear to be the same.

[2017-01-04 11:53] BillDenton commented on #404
Also seems to be the same as #361

[2017-01-04 11:54] BillDenton commented on #361
Issues #361, #404 and #388 appear to be the same.

[2017-01-04 13:06] #388 closed, assigned to nobody

[2017-01-04 13:07] #361 closed, assigned to nobody

[2017-01-04 20:03] pieandcakes commented on #409
@Tomaszal Thanks for the update. The integrated terminal is something that we have on our radar for a future release. We do prefer gnome-terminal and fall back to xterm when it doesn't exist.

[2017-01-04 20:03] #409 closed, assigned to nobody

[2017-01-04 20:12] pieandcakes commented on #396
@saltbot Please reopen/comment on this issue if my above steps don't work for you.

[2017-01-04 20:12] #396 closed, assigned to pieandcakes

[2017-01-05 00:54] pieandcakes commented on #419
@karpulix Do you need additional assistance or is it working for you?

[2017-01-05 00:56] pieandcakes commented on #416
@andychen2016 Can you enable trace logging in the launch.json and try again and send me the logs?

to do this, please add `"logging": { "trace": true, "traceResponse": true }`

[2017-01-05 00:59] pieandcakes commented on #415
@sunzhec2702 If you need to install it offline, you will need to run the extension first on a machine online and copy the extension out of the `~/.vscode/extensions` folder as we do not download the dependencies until the extension is first run. Once that is done, it will be ok for you to move it to the offline machine.

The database is created through the language service code when you open the p

[2017-01-05 01:02] pieandcakes commented on #412
@bmr1 Do you have gnome-terminal installed? If not, do you have XTerm installed? We need one of the terminals to allow it to work. Also can you confirm the path for `gdb` on your machine?

[2017-01-05 01:13] atilimcetin opened #429 "Linux ARM support"
Is it possible to add support for Linux on ARM CPUs?

[2017-01-05 01:45] pieandcakes commented on #321
@csholmq You want to use the `"request": "launch"` option within the launch.json with the `miDebuggerServerAddress` and `miDebuggerPath` options. The dimming is something that VSCode does and I think it means its a required parameter, which seems to be new.

@therealkenc I don't think communication from Windows into the WSL subsystem will allow those calls but I'm not sure. There is plans to enabl

[2017-01-05 01:48] pieandcakes commented on #308
@filipsky if you can send me your natvis file and a small repro code file I can try and repro it to see what is wrong. We snapped to a specific version of lldb because we have fixes that we needed to add to support our scenario. This is why the version that `-exec version` returns doesn't match what is on your machine.

[2017-01-05 01:54] sean-mcmanus commented on #429
Do you mean running VS Code on ARM CPUs? That doesn't work as far as I know. You can target an ARM CPU for debugging.

[2017-01-05 01:57] pieandcakes commented on #427
@antmerlino This is something new that we can look into but it isn't something that works today.

[2017-01-05 03:43] therealkenc commented on #321
Remote gdb debugging (old school) to WSL works well, as does VC++ for Linux. I should have been more clear; it works, I just haven't had "much luck" because there's no way to get VC++ for Linux to work without a Visual Studio solution; which normally one doesn't have on Linux (WSL or otherwise).

Visual Studio Code itself does not run on WSL right now, unfortunately (though I did give it [my best]

[2017-01-05 05:07] atilimcetin commented on #429
I've built VS Code on ARM Linux and can use it without any problem. But cpptools is not working well because Microsoft.VSCode.CPP.Extension.linux is a x86-64 binary. I wonder if there is a way to obtain ARM version of that executable.

[2017-01-05 08:43] sandy081 opened #430 "The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted"
Moved from https://github.com/Microsoft/vscode/issues/18139

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|cpptools|ms-vscode|0.9.3|

---

Steps to Reproduce:

1. Install the c/c++ intellisense, complete C/C++ language

[2017-01-05 08:44] sandy081 commented on #430
@prasoonnaik Moved your request to here.

[2017-01-05 13:44] sean-mcmanus commented on #429
Ok, that's interesting to know. It's theoretically possible to add, but we're not planning to currently (it hasn't shown up enough in our telemetry).

[2017-01-05 13:45] sean-mcmanus commented on #430
We're buggy in the new, unnamed file scenario. It sounds like you need to save the file first. Is that a workaround for you?

[2017-01-05 16:16] atilimcetin commented on #429
I understand. Thank you.

[2017-01-05 18:55] pieandcakes opened #431 "Debug Pause not working in VSCode version 1.8.1"

[2017-01-05 18:56] pieandcakes commented on #431
Workaround: Set a breakpoint. Once a breakpoint has been hit, Debug Pause works as expected.

VSCode changed the behavior and now expects a ThreadEvent with ThreadIds in order to pause.

[2017-01-06 01:50] arl opened #432 "How to send commands to GDB?"
In the list of **Debugging** features, it's written:

How to send those commands to GDB? The only thing it seems that I'm able to do is writing variables names in the Debug Console in order to have their value printed.

I'd like for example to pretty print an array, set a data breakpoint, or basically be able to have the GDB command line available. Am I missing something. I'm using the following v

[2017-01-06 02:00] guoqingaa commented on #399
Hastened to add this feature, the urgent need for this feature.

[2017-01-06 02:07] guoqingaa commented on #281
+1

[2017-01-06 10:09] chrmarti opened #433 "How to setup the c_cpp_properties.json to create a local database and look it up for symbol references."
_From @rahulagr on January 5, 2017 19:45_

- VSCode Version: 1.8.1
- OS Version: Mac OS X 10.12.2

My code lives on a NFS mounted partition (linux server). I am launching Microsoft Code on my Mac, and using NFS mount to access the files.

The file search and symbol reference is very slow currently. I want to create a local database, and use that database to do symbol reference and file search. Ple

[2017-01-06 10:09] chrmarti commented on #433
There is currently no cache for the file lookup/search, we will investigate adding one as part of #15382. Moving to the cpptools in case there is a cpp specific solution/answer to the symbol cache.

[2017-01-06 10:21] Rn86 opened #434 "Incorrect syntax highliting for C/C++"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.4.0-57-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|output-colorizer|IBM|0.0.9|
|tortoise-svn|fantasytyx|0.1.1|
|cpptools|ms-vscode|0.9.3|
|vscode-icons|robertohuertasm|4.3.0|

Color theme: Dark(Visual Studio)

---

Visual Studio Code does not generate .br

[2017-01-06 10:46] sandy081 opened #435 "[MacOS and C++ projects] debugging binaries compiled with gcc hangs"
From @lukka Ref: https://github.com/Microsoft/vscode/issues/18174

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-markdownlint|DavidAnson|0.6.0|
|vscode-docker|PeterJausovec|0.0.11|
|code-gnu-global|austin|0.2.1|
|githistory|donjayamanne|0.1.4|
|python|

[2017-01-06 12:59] sean-mcmanus commented on #433
You can change the databaseFilename property in c_cpp_properties.json -- I assume a local location will be faster. The documentation is in the tooltips in the json file. Does that speed symbol search up?

[2017-01-06 13:03] sean-mcmanus commented on #434
We changed it to generate the .browse.VS.db in the workspaceStorage location, such as ~/.config/Code/User/workspaceStorage. Our extensions should have no impact on colorization. It's either another extension or VS Code itself.

[2017-01-06 16:03] paulmaybee commented on #432
You can execute gdb commands by typing "-exec" before the gdb command in the debug console. Setting data breakpoints using gdb may results in strange behavior since you would be bypassing the vscode debuggers own breakpoint management. But pretty printing and other commands which retrieve process state should be fine.

If pretty printing is your primary need you can turn on python pretty printing

[2017-01-06 16:31] arl commented on #432
Great.

Is this `-exec` flag documented somewhere?

You were right about data breakpoints. As they aren't managed by the
extension, I was not expecting them to be handled gracefully on the VSCode
side. Actually the process is not stopped when the data breakpoint is hit,
but the debug console shows the value of the watched memory region (the
normal gdb output for that, in fact). That's already usef

[2017-01-06 16:33] #432 closed, assigned to nobody

[2017-01-06 18:41] lukka commented on #435
Note that i do not get any authorization request dialog when starting the debugging session.

[2017-01-06 20:42] pieandcakes commented on #435
@lukka If you change the line for `"externalConsole": false`, does it start debugging?

[2017-01-07 15:48] zhongmissu opened #436 "Iunder Linux configuration of the c language, when I started writing # include always prompt the Add the include path to Settings. C_cpp_properties. Json configuration path is my c library paths. My English is not very good, I'm very sorry."

[2017-01-07 19:38] sean-mcmanus commented on #436
Can you locate and delete the .browse.vc.db or change the databaseFilename? What is the size of the database? Is the Linux configuration in the bottom right still red? If you can give a repro that would help. What Linux distribution/version are you using? What is your includePath setting? Can you get the #include to work under any circumstance?

[2017-01-07 20:30] lukka commented on #435
tried it now, changing in launch.json from externalConsole:true to :false did the trick. I tested it with two hello world examples of c++, compiled with -g and without -g. Thanks a lot!

[2017-01-08 11:54] tinganho opened #437 "Go to definition always open find all references"
I find it annoying when I <kbd>CMD</kbd> + <kbd>click</kbd> a reference, I go to declaration. But it always open up find all references window:

<img width="630" alt="screen shot 2017-01-08 at 12 51 18 pm" src="https://cloud.githubusercontent.com/assets/1324476/21749566/69930580-d5a1-11e6-9d07-913ba581445d.png">

I'm using other programming languages in vscode and they don't behave this way. They

[2017-01-09 09:18] sandy081 opened #438 "C++ syntax highlighting is broken"
From @dimmo Ref: https://github.com/Microsoft/vscode/issues/18242

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.4.0-57-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|githistory|donjayamanne|0.1.2|
|python|donjayamanne|0.5.5|
|cpptools|ms-vscode|0.9.3|
|csharp|ms-vscode|1.6.2|

---

Steps to Reproduce:

[2017-01-09 10:05] sandy081 opened #439 "More configurable builds for C/C++"
From @Rn86. Ref: https://github.com/Microsoft/vscode/issues/18227

Feature Request

Using cpptool you can define configurations. Those configurations can only be used just for include paths and symbols databases. It would be nice to use those configurations in build to specify compilation flags (e.g. debug/release build). I would like to be able to change those configurations and build accordingly

[2017-01-09 10:21] wbogocki commented on #381
I get the same bug. It occurs with include paths for both MinGW and VC++. I don't see any red about the Win32 configuration. The directories are the usual ones:

MinGW:
- C:/MinGW/lib/gcc/mingw32/5.3.0/include/c++
- C:/MinGW/include

VC++:
- C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/include

[2017-01-09 18:23] pieandcakes commented on #435
That tells me that the issue is with not being able to find either gnome-terminal or XTerm. We need one of the terminals in order to provide the detached external console feature.

[2017-01-09 18:26] pieandcakes commented on #439
@Rn86 you can add multiple tasks and call them from `launch.json` and then duplicate your debugging configurations and specify one for Release or Debug. Build is a feature provided by VS Code itself through `task.json`.

[2017-01-09 18:45] sean-mcmanus commented on #437
This is “by design” behavior. Whenever there are > 1 matches for a goto request, it shows a peek with all the matches on the right and a preview on the left (like a peek). This might be annoying when the 1st definition is the correct one, but the alternative would be not being able to navigate to the correct definition. And due to lack of access to the build system, we can’t be sure which is the c

[2017-01-09 19:19] tinganho commented on #437
@sean-mcmanus There is only one definition though. Clicking on the second file, it becomes a zero instantly:

![jan-09-2017 20-18-20](https://cloud.githubusercontent.com/assets/1324476/21779642/cef383e8-d6a8-11e6-8ea2-3d2912fa3093.gif)

[2017-01-09 19:29] sean-mcmanus commented on #438
It's a VS Code bug. We don't implement any colorization with our extension. I moved it to https://github.com/Microsoft/vscode/issues/18337 .

[2017-01-09 19:29] #438 closed, assigned to nobody

[2017-01-09 19:34] je-so commented on #424
Same problem here. Symbol information is not generated on 32-bit systems. Any plan to fix it?

[2017-01-09 19:47] sean-mcmanus commented on #437
Yeah, it looks like the 1st item should not be there (or is missing). I'm interested in a repro, since I haven't seen that before. Can you expand the "Comma..." so I can see it says? The "Comma..." text is the file name, so it looks like it thinks there are 2 files with the same definition in it, but it's not actually there.

[2017-01-09 19:55] sean-mcmanus commented on #424
We haven't decided yet whether to add support for 32-bit systems. The number of users on 32-bit Linux systems is a very small percentage; however, it still seems to be the 2nd most common "blocker", followed by the glibc 2.18 or newer requirement.

[2017-01-09 20:06] tinganho commented on #437
Hmm, I renamed the folder `Source` to `src`:

<img width="640" alt="screen shot 2017-01-09 at 9 03 23 pm" src="https://cloud.githubusercontent.com/assets/1324476/21781371/5849a61c-d6af-11e6-8295-38bdea6863f8.png">

I have tried to restart vscode many times and it doesn't seem to remove `Source` folder.

[2017-01-09 20:15] sean-mcmanus commented on #437
Yeah, our extension has problems with not always cleaning up the database when changes are made, so it accumulates old stuff. I've successfully reproed the bug. Deleting or renaming the database (databaseFilename property in c_cpp_properties.json) should be a workaround.

[2017-01-09 20:18] tinganho commented on #437
How do I delete the database? Or I guess I need to wait for an update?

[2017-01-09 20:28] sean-mcmanus commented on #437
The easiest way to delete the database is to rename it to a known location. Or search for the .browse.vc.db file. You shouldn't need to wait for an update (we are not planning to fix this issue by our next update).

[2017-01-10 19:12] SvenJo opened #440 "Unable to set a breakpoints in non .c/.cpp files"
The source code for my program is generated from .re file with the help of re2c and full of #line pragmas.
If I want to debug this program, I have to set the breakpoints for gdb in the .re file.
But Visual Studio Code don't allow me to set breakpoints that file. So the debugger simply don't stop!

1. Please let me set breakpoints in files with all extensions.
2. Please let me start the debugger in

[2017-01-11 09:01] Roobt1 opened #441 "The configuration of the c/c++ in Debian8, when I was in debug, when there is no input, the debuge console can correct output results, when the input function, in debug console, only one line of output, the output is not complete. I would like to ask, when the output, how to call their own system terminal."
//tasks.json
{
    "version": "0.1.0",
    "command": "gcc",
    "externalConsole": true,
    "args": ["-g", "${file}", "-o", "${file}.o"],
    "problemMatcher": {
        "owner": "cpp",
        "fileLocation": ["relative", "${workspaceRoot}"],
        "pattern": {
            "regexp": "^(.*):(\\d+):(\\d+):\\s+(warning|error):\\s+(.*)$",
            "file": 1,
            "line": 2,

[2017-01-11 15:46] janjongboom opened #442 "miDebuggerPath should search PATH"
We use the GNU ARM cross-compiler to build and debug embedded applications. These tools are normally somewhere in the `PATH` of the user, but the actual location will differ depending on the Linux distribution / package manager used. I figured we could do something like:

[code]

But this fails with 'Unable to start debugging. The value of miDebuggerPath is invalid'.

I think that if `MIDebuggerPa

[2017-01-11 16:55] janjongboom opened #443 "How to run GDB `-target-download` from the debugger"
I'm debugging an embedded device through vscode. To download the firmware to the device I need to run `-target-download`, somewhere after the `-target-select` call.

Is there a proper way to put this in? It doesn't look like a hook is available right now. It'd be nice to have this added.

/cc @sg-

[2017-01-11 17:13] janjongboom commented on #374
+1

[2017-01-11 17:16] sean-mcmanus commented on #374
Yeah, we're currently planning to remove the implicit ${workspaceRoot} from the includePath in our next release.

[2017-01-12 00:41] pieandcakes commented on #443
@janjongboom When is `-target-select` called? You can issue additional commands by using `setupCommands` inside the `launch.json` file or you can issue them from the `Debug Console` using `-exec <command>`

[2017-01-12 00:42] #435 closed, assigned to pieandcakes

[2017-01-12 12:16] knedlsepp commented on #409
I'm having the same problem and can't figure out how to make it work. I got xterm and gdb on my $PATH.

[2017-01-12 13:37] bad-ed opened #444 ""Switch header/source" in split view opens file always in left view."
Example: editor is split into two views. In the left view I have "file.h" opened, "file.cpp" is opened in right view. Issuing "C_Cpp.SwitchHeaderSource" command in "file.h" tab creates new tab "file.cpp" in _left view_. Seems like it should focus already opened "file.cpp" tab in right view. If there is no tab with corresponding source (or header) it should be created in the same view side by side

[2017-01-12 15:34] brandon-kohn commented on #409
Same issue here.

[2017-01-12 17:28] janjongboom commented on #443
@pieandcakes `target-select` is called in command 1007, and is triggered by setting the `MIDebuggerServerAddress` path in launch.json.

I cannot use `setupCommands` as these are ran before the target is connected.

Here's the gdb log:

[code]

[2017-01-12 17:32] janjongboom commented on #443
Actually, setupCommands can do the trick. Just set up all connectivity in there:

[code]

So that's a nice way around it.

[2017-01-12 17:32] #443 closed, assigned to pieandcakes

[2017-01-12 18:31] janjongboom commented on #442
I guess this would work (against microsoft/IMEngine) (and similar patch needed for debugServerPath) but I can't get Visual Studio to work to build IMEngine:

[code]

[2017-01-12 18:40] pieandcakes commented on #409
@knedlsepp @brandon-kohn Do either of you have gnome-terminal also installed? We use gnome-terminal first and then fallback to XTerm. You can try and change `"externalConsole": false` in the `launch.json` and see if it works without the console.

[2017-01-12 19:25] pieandcakes commented on #444
@bad-ed What operating system are you seeing this behavior on?

[2017-01-13 09:42] invokr commented on #421
I have the same problem (Tested on OS X and Linux). Can someone confirm this works on Windows?

[2017-01-13 10:20] bad-ed commented on #444
Windows 7. Attached screencast.

![vscode](https://cloud.githubusercontent.com/assets/24456989/21926730/165b3774-d994-11e6-80f0-1060f3ab447a.gif)

[2017-01-13 10:28] ffes opened #445 "Add support for Windows Resource files"
At the moment with I open a .rc (Windows Resource) file, it is just plain text. No syntax highlighting.

Not sure if this project is the right place, but since .rc files are mostly used by C/C++ projects, I would expect it to be included in this project, especially since this is a Microsoft project.

[2017-01-13 12:42] jefffhaynes opened #446 "Remote debug breakpoints not unset in J-Link GDB server"
Steps to Reproduce:

1. Going to be tricky...I'm using [J-Link](https://www.segger.com/jlink-gdb-server.html) to debug a microcontroller (awesome that this is possible, btw).
2. Set miDebuggerServerAddress to localhost:2331
3. Start J-Link GDB Server (probably not possible without a target device).
4. Set breakpoint anywhere in code - GDB Server UI logs breakpoint
5. Unset breakpoint - GDB Server

[2017-01-13 13:04] sean-mcmanus commented on #421
It doesn't work better on Windows. The current behavior is "by design" until the IntelliSense feature is complete.

[2017-01-13 13:10] sean-mcmanus commented on #445
The current C++ syntax highlighting is provided by VS Code through atom/language-c. We could theoretically add support for .rc files, but we're not planning to yet. Visual Studio supports .rc file highlighting.

[2017-01-13 13:57] Greyze commented on #298
I am also attempting to setup cpptools in an offline environment, I still haven't succeeded following Jevyn's instructions unfortunately.
Despite having the right files in the ./bin folder the extension keeps attempting to download them anyway.

An offline bundle install would be excellent.

[2017-01-13 14:00] sean-mcmanus commented on #298
The ms-vscode.cpptools-0.9.3/install.lock file should prevent any additional downloading. Does that not work? Where are you hitting a problem?

[2017-01-13 14:10] Greyze commented on #298
I don't understand what this step is;

`4. edit package.json (rewrite manifest)`

To the best of my knowledge i've followed every other step correctly. I did just notice a typo in the lock file (ugh), fixing that has stopped the output message.

[2017-01-13 14:20] sean-mcmanus commented on #298
Open ms-vscode.cpptools-0.9.3/package.json, then open out/src/main.js and look at the rewriteManifest method and do the steps listed there (change the activationEvents and the contributes.debuggers values, "undefined" means remove it). Changing the activationEvents makes it so the C++ extension doesn't load unless it is in a valid scenario. Also, simply copying the entire ms-vscode.cpptools.\<vers

[2017-01-13 14:47] randombenj commented on #424
Same problem, 32 bit support would be nice.

[2017-01-13 14:58] sean-mcmanus commented on #424
Why are people running 32-bit Linux instead of 64-bit Linux? What is the barrier to switching?

[2017-01-13 15:00] Greyze commented on #298
Thanks for the info. Ill spin up a Centos VM on the weekend and go ahead with the copy/paste plan.

[2017-01-13 15:04] randombenj commented on #424
We develop c++ in a lxc container, with some real time c++ application framework which we can only use as a 32 bit library.

[2017-01-13 15:06] sean-mcmanus commented on #298
FYI, if the target machine is CentOS then the language service will fail due to our requirement for glibc at least 2.18. Updating the glibc on the machine should fix it though (see https://github.com/Microsoft/vscode-cpptools/issues/19 ).

[2017-01-13 16:00] BillDenton opened #447 "Goto function using F12/alt-F12 show allow going to function definition or prototype"
Goto function using F12/alt-F12 show allow going to function definition or prototype.
This could a separate command as most of the time going to the function definition is the desired behaviour.

[2017-01-14 03:16] aengusjiang opened #448 "Very slow when view the large-stack-array in debugging program"
VSCode Version: Code 1.8.1 (ee428b0, 2016-12-19T14:41:20.664Z)
OS Version: Linux x64 4.4.0-45-generic

Extensions:
Extension	Author	Version
compulim-vscode-dictionary	Compulim	0.0.5
java-debug	DSnake	0.0.2
start-git-bash	McCarter	1.1.0
code-settings-sync	Shan	2.4.2
logcat	abhiagr	0.0.6
code-gnu-global	austin	0.2.1
GBKtoUTF8	bukas	0.0.2
vscode-javac	georgewfraser	0.0.23
CppSnippets	hars	0.0.5
vscod

[2017-01-14 23:47] loganintech opened #449 "Is there a way to pass input to std::cin during debugging / in debug console?"
I have mac / windows if that helps at all.

[2017-01-15 01:23] incomingstick commented on #85
Is there any update on this feature? We haven't heard anything for a few months now.

It would be AWESOME if we could use the lxss binaries in VSCode (I would love to use its git, cmake, etc.)

[2017-01-15 06:20] ghost commented on #412
Yes i have both terminals, they are listed in the pastebin link.

[2017-01-15 07:15] kiransj2 opened #450 "gdb does not show multiple threads always"
When debugging C application with multilpe threads VS code does not show all the threads. It shows only the current threads where the breakpoint is hit. While running cmd "-exec info threads shows all the threads while on the callstack window only 1 thread is shown.

VS code version: 1.8.1
C++ extension version: 0.9.3

Please see the attached image and sample source code that was used.
[1.zip](htt

[2017-01-16 03:28] danielrfraser commented on #444
This issue also effects MacOS client and Ubuntu. Really frustrating when you have a class implementation open on each tab, and you are trying to swap between header and footer. It will always open on the first pane, regardless of whether you have the file open in the other tab already.

[2017-01-17 01:54] martincohen opened #451 "Problems in problem view sorted by file and not by output from compiler"
Because the problems are sorted by file in the problem view, it is often impossible to find exact compiler message. It's much more natural to not sort at all and use the original output sequence.

[2017-01-17 02:11] martincohen opened #452 "When clicking on erros in problem view, duplicate files are opened with "." as directory."
I'm using MSVC 2015. When I click on errors in problem view, I get the file opened as a duplicate with path "." (for example `lib.h` opens again as `lib.h .`) This later causes errors with saving files (as Code detects that the file is "newer" on the disk).

VS Code version 1.8.1, freshly installed `cpptools` today.

[2017-01-17 14:36] teknogeek commented on #286
I'm on macOS Sierra on a MBP 2015 and having the same issue here. ![System Specs](https://puu.sh/tpqZk/936fb663fb.png)

[2017-01-17 17:51] sean-mcmanus commented on #451
It isn't an issue with our C++ extension. Can you file a bug with https://github.com/Microsoft/vscode ?

[2017-01-17 17:54] sean-mcmanus commented on #452
This doesn't seem like an issue with our C++ extension. I assume it repros without our extension enabled? Can you file a bug with https://github.com/Microsoft/vscode ?

[2017-01-17 18:11] martincohen commented on #452
Yah, I'm opening an issue there. Sorry for the confusion. Closing now.

[2017-01-17 18:11] #452 closed, assigned to nobody

[2017-01-17 18:15] #451 closed, assigned to nobody

[2017-01-17 22:47] pieandcakes commented on #449
@JewsOfHazard if you enable `"externalConsole":true` in the `launch.json` then you will get a pop up console window that you can type in.

We have plans to integrate the debugConsole that is within VSCode.

[2017-01-17 22:49] pieandcakes commented on #448
@AbelaroJiang - we enabled gdb's pretty-printing in the launch.json. If you remove that, it should view a lot faster.

[2017-01-17 22:51] pieandcakes commented on #446
@jefffhaynes - if you enable `"logging": { "engineLogging": true }` in the `launch.json`, you should be able to see the MI commands we send/receive to gdb. this may help you figure out what J-Link is doing.

[2017-01-17 22:54] pieandcakes commented on #441
@Roobt1 Based on your `launch.json` you are not using this extension. Please read the Readme.MD that is part of your extension and file an issue on their page.

[2017-01-17 22:54] #441 closed, assigned to nobody

[2017-01-17 22:56] pieandcakes commented on #444
@bad-ed @danielrfraser This seems like an issue with VS Code not handling the opening of the file correctly. Can you file this issue with them at https://github.com/Microsoft/vscode/issues ?

[2017-01-17 22:58] pieandcakes commented on #412
@bmr1 if you change `"externalConsole": false` in the `launch.json` does the debugger launch?

[2017-01-17 23:00] pieandcakes commented on #85
@incomingstick I have made a prototype to try this scenario and we are waiting on some bugfixes in the `Bash on Windows` side. I am waiting on a response as to when those will be released in order for our scenario to work.

[2017-01-18 00:14] martincohen opened #453 "`Include file not found...` reported for files that don't belong to the project"
I have opened a file from another project in Code and it keeps reporting `Include file not found in include directory`. Because it does this, the problem view is never empty and so the cursor for `F8` (next error) is not reset for a new build, therefore `F8` moves me to next of dozens of `Include file not found...` issues. That said, the cursor should reset when I'm making a new build (but that is

[2017-01-18 00:28] sean-mcmanus commented on #453
If you want the "Include file not found" info message to go away you'll need to add the path to the headers to the IncludePath. Does doing that not work?

[2017-01-18 00:32] martincohen commented on #453
Well as I've said, the file `app.cpp` belongs to a different project of mine (and I opened it just for a reference), so I cannot really add include paths, as the file does not belong to the project I'm working on. Also the info doesn't go away if I close the file (and run build).

[2017-01-18 01:04] xsacha commented on #200
For anyone interested in a quick fix while waiting:

Create a /usr/bin/xterm:
[code]

I tried using a more complete solution of konsole $(echo "$@" | sed -e 's/echo.*$/\\\"&\\\"/g' -e 's/bash.*$/"&"/g') but that didn't work.

[2017-01-18 01:21] sean-mcmanus commented on #453
The publishing of the "Include file not found" for non-workspace files is "by design", but I suppose we could add a setting for that later. The fact that it doesn't go away on close can be considered a bug (the didClose updating was never implemented).

[2017-01-18 02:17] martincohen commented on #453
Can the cursor in *Problem* view be at least reset when I start a new build?

[2017-01-18 02:35] sean-mcmanus commented on #453
Our extensions doesn't control the cursor or the UI in the Problems view. You should report the issue on the Microsoft/vscode GitHub page. We just supply the string and Diagnostic info (see https://github.com/Microsoft/language-server-protocol/blob/b082a3bd761f7c50db0b538e954ac467e8aa5ba8/protocol.md#textDocument_publishDiagnostics ).

[2017-01-18 03:10] martincohen commented on #453
Okay, thanks for the info, I've added the issue about the cursor reset to `vscode`: https://github.com/Microsoft/vscode/issues/18695

[2017-01-18 03:57] jefffhaynes commented on #446
Thanks, I'll give that a try. 

---------------
I much prefer the sharpest criticism of a single intelligent man to the thoughtless approval of the masses - Johannes Kepler

On Tue, Jan 17, 2017 at 5:51 PM -0500, "Pierson Lee" <notifications@github.com> wrote:

@jefffhaynes - if you enable "logging": { "engineLogging": true } in the launch.json, you should be able to see the MI commands we send/re

[2017-01-18 08:21] dbaeumer opened #454 "Intellisense doesn't work sometimes."
_From @sfshameem5 on January 16, 2017 18:9_

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|python|donjayamanne|0.5.5|
|Theme-Acai|gerane|0.0.2|
|Theme-Kimbiedark|gerane|0.0.2|
|beautify|HookyQR|0.7.3|
|theme-material-th

[2017-01-18 08:21] dbaeumer commented on #454
@sfshameem5 can you please provide steps on how to reproduce this. Which programming language are you using. If it is about Python, please file the issue against the corresponding Python extension.

[2017-01-18 08:21] dbaeumer commented on #454
_From @sfshameem5 on January 17, 2017 10:52_

I'm using C. All of a sudden intellisense stops working for some variables.

[2017-01-18 09:15] esmirnov commented on #421
@sean-mcmanus do you have estimation for the IntelliSense feature? Is there some workaround to show local (in same file) symbols on top of the list?

[2017-01-18 09:28] randombenj commented on #450
I had the same issue when analyzing a core dump.

[2017-01-18 14:01] sean-mcmanus commented on #454
We don't fully implement IntelliSense yet. What feature specifically are you referring to and when does it stop working.

[2017-01-18 14:03] BillDenton commented on #453
I think I have a similar problem. The file was in the project directory (but not included in normal builds so I hadn't set the include path). After opening and then closing the file, the info message 'Include file not found in include directory' stayed in in problems window. So the issue is that the messages aren't removed when the file is closed. I seen a similar issue for a spelling extension (h

[2017-01-18 14:06] sean-mcmanus commented on #421
Full IntelliSense is being worked on, but we don't have a release date yet. Variables that are non-local to a function should appear for autocomplete. The "workaround" would be to make whatever variable that is local to a function non-local, i.e. global or file-local scope.

[2017-01-18 15:20] sean-mcmanus commented on #453
The bug where the messages aren't removed onClose has been fixed (in the C++ extension). It should be in the next update.

[2017-01-18 15:54] martincohen commented on #453
Awesome! <3

[2017-01-19 08:48] bpasero commented on #444
@pieandcakes VS Code will open the editor in the group of the currently active one and you have API to control where to open it. There may be some API missing to indicate that you would want to reveal an editor if it is already opened somewhere else.

[2017-01-19 13:56] kwojcik-blockether commented on #409
I got a Xterm as well as gnome-terminal installed. Saddly it does not work, I receive all messages which OP mentioned.

EDIT: One of the possible solution to overcome that bug is to change gdb to lldb:

 Using ArchLinux.

[2017-01-19 15:27] sfshameem5 commented on #454
It was the intellisense I was referring about. Sometimes it doesn't work.

On Wed, Jan 18, 2017 at 7:31 PM, Sean McManus <notifications@github.com>
wrote:

--
-sham-

[2017-01-19 16:07] tomasz-rozanski opened #455 ""Cannot determine executable for debug adapter {...}" error message"
After upgrading to VSCode v1.9-insider (01-19-2017), when trying to debug Windows executable, I'm getting the following error message:

My launch.json:
[code]

[2017-01-19 18:18] sean-mcmanus commented on #454
IntelliSense is a name for a collection of individual features. What exact feature are you referring to? Do you mean Go to Definition? Find symbols?

[2017-01-19 18:37] sfshameem5 commented on #454
Autocomplete. .

On Thu, Jan 19, 2017 at 11:48 PM, Sean McManus <notifications@github.com>
wrote:

--
-sham-

[2017-01-19 18:58] sean-mcmanus commented on #454
Autocomplete currently only includes variables that are not local to a function. Is that what you're hitting? Does Go to Definition work on the variable that is missing from autocomplete. Autocomplete will become better after it is switched to use the full IntelliSense engine.

[2017-01-19 22:19] sfshameem5 commented on #454
I'm referring to global variables in C. The go to definition does work, but
only if autocomplete shows on that one.

On Fri, Jan 20, 2017 at 12:28 AM, Sean McManus <notifications@github.com>
wrote:

--
-sham-

[2017-01-20 11:45] sergio-nsk opened #456 "vscode-cpptools is not running on CentOS 7"
Error: /Microsoft.VSCode.CPP.Extension.linux: /lib64/libc.so.6: version `GLIBC_2.18' not found (required by ./Microsoft.VSCode.CPP.Extension.linux)
Please compile and link vscode-cpptools with the older GLIBC 2.17.

[2017-01-20 12:18] ghost commented on #412
@pieandcakes yes, changing "externalConsole" to false did solve the issue and the debugger started.

[2017-01-20 12:18] #412 closed, assigned to pieandcakes

[2017-01-20 15:28] sean-mcmanus commented on #444
@bpasero We currently just do showTextDocument, without a viewColumn, which is why it always shows it in the 1st column, but in order to change this we would need to determine if the text document is already docked in another column, but there doesn't appear to be any API for determining this. In other words, we have visibleTextEditors, but not the non-visible ones, and we have a list of the open

[2017-01-20 17:36] alex-che commented on #424
@sean-mcmanus, I develop for several target platforms. Some of my build environment is Windows and some is Linux. So I use Windows as my host OS, running Linux in a virtual machine when needed. To minimize memory and storage load when running the virtual machine, I opted to go 32-bit Linux. It worked without any cons so far.

[2017-01-20 18:44] bpasero commented on #444
Yes, I think more API is needed to instruct to reveal an already opened document if any.

[2017-01-21 08:30] Falven commented on #145
+1

[2017-01-21 15:33] iamajoe commented on #416
Also had the same issue trying to breakpoint a `C` code.

Here is my `hello.c` code:
[code]

Here is my `launch.json`:
[code]

And finally here is the full log you requested:
[code]

[2017-01-21 15:51] yuyoyuppe commented on #424
+1

[2017-01-22 11:55] Menci opened #457 "Where's the source code?"
There's only issues here. Where can I find the source code?

[2017-01-22 14:31] adentinger commented on #59
I also currently have this problem on my 32-bit Ubuntu 16.04 VM. See : [StackOverflow](http://stackoverflow.com/questions/41604419/go-to-definition-and-and-find-references-not-working). It works on my 64-bit Ubuntu 16.04 partition, though.

[2017-01-23 01:57] sean-mcmanus commented on #59
We don't know yet if 32-bit Linux support will be added.

[2017-01-23 01:58] sean-mcmanus commented on #457
The source code is not available. It's not open source.

[2017-01-23 01:58] #457 closed, assigned to nobody

[2017-01-23 18:48] pieandcakes commented on #416
@Sendoushi @andychen2016 Please confirm when you are compiling that you are compiling with the `-g` flag. This is necessary for debugging.

[2017-01-23 19:26] roblourens opened #458 "New F4 keybinding conflict with vscode"
Hi, just a heads up that vscode 1.9 will have F4 bound to navigate search results by default, and the C++ extension binds it to 'Switch Header/Source'. We picked F4 because it's what people expect coming from Sublime.

Since the extension binding would override that for all files, maybe you might consider changing that binding - it looks like you already have alt+O as an alternate.

Also adding a

[2017-01-23 19:32] sean-mcmanus commented on #458
Sure, we can change that.

[2017-01-23 23:07] iamajoe commented on #416
You're right. On my end, after using this:
[code]

It worked like a charm. Thanks!

[2017-01-24 00:46] #277 closed, assigned to nobody

[2017-01-24 13:21] baloodevil commented on #115
I am having the same issue of debugger not attaching properly to a multithreaded C++ app, so breakpoints are not hit, using...
- Ubuntu 16.04
- Latest VSCode version
- Latest "C/C++ for VSCode" version
I can share my project.  Please send a message with an email address to send it to.  Thank you!

[2017-01-24 18:07] pieandcakes commented on #456
@sergio-nsk same as #19 . There is a workaround in that Issues page if you would like it to work.

[2017-01-24 18:07] #456 closed, assigned to nobody

[2017-01-24 18:08] pieandcakes commented on #455
@Rosto75 If you don't use ${fileBasenameNoExtension} does it work?

[2017-01-24 18:28] tomasz-rozanski commented on #455
I tried many configurations (${fileBasename}, ${file} and literal
executable name) but with no luck. The same exact config still works in
VSC 1.8, though.

------ Original Message ------
From: "Pierson Lee" <notifications@github.com>
To: "Microsoft/vscode-cpptools" <vscode-cpptools@noreply.github.com>
Cc: "Tomasz Różański" <rosto@tlen.pl>; "Mention"
<mention@noreply.github.com>
Sent: 24.01.2017 19

[2017-01-25 01:41] pieandcakes commented on #455
@Rosto75 It sounds like they may have made changes in the Insiders program that broke how they are sending the file name. I'll try and hookup a repro.

[2017-01-25 06:45] basitanwer commented on #128
- VSCode 1.8.1
 - C/C++ Extension Version 0.9.3: December 8, 2016
 - Windows 10

Bug still exists.

Workaround: Works only when file is saved.

[2017-01-25 09:53] Gruntfuggly commented on #303
It doesn't look like this made it into 0.9.3? Any idea when it will? It's a bit of a dealbreaker for me - I'd love to use this extension, but my legacy codebase is not consistently formatted, and I don't want to make wholesale formatting changes unnecessarily. It seems a bit crazy not to allow formatting to be disabled in some way or other...

[2017-01-25 10:28] astand commented on #303
Yes, it has not any changes in this problem. VS code makes things simpler ( I may enable/disable my formatter and it is again in work state), but it is no much less annoying.

[2017-01-25 12:53] r4nt opened #459 "Allow formatting the current line / statement"
Not sure if this should better be a VS Code bug, let me know what to do.
clang-format works specifically well when formatting code as-you-go. To some degree, the format-as-you-type already does that, but not enough (for example, it won't format when I enter an opening brace, so I'll still need to manually format my function declarations).
Thus, it would be great if ctrl-k ctrl-f worked without an

[2017-01-25 13:10] sean-mcmanus commented on #303
We're releasing an update with the fix today, unless something unexpected happens.

[2017-01-25 13:14] DanielJamesCollier opened #460 "C++ syntax highlighting issue"
VSCode version: 1.8.1
CPP Tools: 0.9.3

Digit separators don't work ? like the following
[code]

All code after the digit separator gets highlighted wrong. see screenshot.

![syntax highliting issue with vs code](https://cloud.githubusercontent.com/assets/6226245/22291861/6405d19e-e300-11e6-8fe2-d732eec9b0b7.png)

[2017-01-25 13:19] sean-mcmanus commented on #460
The bug repros without the C++ extension installed. See https://github.com/atom/language-c/issues/154 .

[2017-01-25 13:19] #460 closed, assigned to nobody

[2017-01-25 13:31] DanielJamesCollier commented on #460
![syntax highliting issue with vs code](https://cloud.githubusercontent.com/assets/6226245/22292309/70d0d4ee-e302-11e6-9a93-3b524f90b857.png)

It is installed ?

[2017-01-25 13:37] sean-mcmanus commented on #460
The bug repros with and without the C++ extension installed. It is not a bug in the C++ extension. We don't implement C++ syntax highlighting. VS Code implements it via the atom (i.e. textmate) component.

[2017-01-25 13:43] DanielJamesCollier commented on #460
@sean-mcmanus sorry, thanks for the info.

[2017-01-25 13:52] sean-mcmanus commented on #460
I posted a comment on the atom/language-c bug (reported back in August) asking for a status update. I don't know why it's taking so long for a fix to get released.

[2017-01-25 15:24] sean-mcmanus commented on #459
We do format the current line when you enable onType formatting, but we're limited to when the line ends in ";". We may be able to add more onType formatting for { later. If you want a Format Line option added to the right-click menu, then VS Code would need to add that. Shift+Up Ctrl+K Ctrl+F may be a workaround for now (i.e. select the previous line and format selection).

[2017-01-25 15:51] r4nt commented on #459
shift-up does slightly too much; shift-left ctrl-k ctrl-f works pretty much the same as I want for now :)

[2017-01-25 17:17] NOhs opened #461 "Arrow in initializer list breaks syntax highlighting"
I don't know if this is the right place to post this, but when using the `->` operator in an initializer list in vscode C++, the syntax highlighting gets mixed up.
![cpp_broken_syntax_highlighting](https://cloud.githubusercontent.com/assets/20553080/22301078/f1faf4b0-e329-11e6-93da-6c16b2f5c09f.PNG)

As you can see in the image above, the `c2`, the `6` and the `0.0f` are not highlighted.
![cpp_bro

[2017-01-25 17:22] sean-mcmanus commented on #461
It's a bug with Atom/language-c (the C++ extension doesn't implement its own syntax highlighting). Can you report it at https://github.com/atom/language-c/issues ?

[2017-01-25 17:22] #461 closed, assigned to nobody

[2017-01-25 17:25] NOhs commented on #461
Ok, I will report it there.

[2017-01-25 21:42] pieandcakes commented on #455
@Rosto75 it looks like its a VSCode issue. [Microsoft/vscode#19386](https://github.com/Microsoft/vscode/issues/19386) has been filed for it.

[2017-01-25 21:42] #455 closed, assigned to pieandcakes

[2017-01-26 02:21] pieandcakes commented on #427
@antmerlino we have released version `0.10.0` with the added feature of `pipeTransport`.  Please take a look at the documentation [here](../wiki/PipeTransport). This sounds like the feature you are referencing above. If this doesn't solve your problem please comment and reopen.

Thanks

[2017-01-26 02:21] #427 closed, assigned to pieandcakes

[2017-01-26 02:22] pieandcakes commented on #431
This is fixed with extension release `0.10.0`.

[2017-01-26 02:22] #431 closed, assigned to pieandcakes

[2017-01-26 02:23] pieandcakes commented on #419
Closing this issue. If you still need help please comment/reopen. Thanks

[2017-01-26 02:23] #419 closed, assigned to nobody

[2017-01-26 02:28] pieandcakes commented on #201
@TurboTim As of version 0.10.0 of the extension, the lldb that is part of the extension is now compiled with Python enabled. We expect users to have a version of Python 2.7 to be installed locally on the Mac already since it comes with a default installation of OS X.

[2017-01-26 02:28] #201 closed, assigned to pieandcakes

[2017-01-26 02:30] pieandcakes commented on #227
Please comment/reopen if you still need help with this issue.

[2017-01-26 02:30] #227 closed, assigned to nobody

[2017-01-26 02:36] pieandcakes commented on #190
@jhasse @dahodge In version `0.9.3` and above we have included the `enable-pretty-printing` command by default. If gdb has the necessary pretty-printers installed, it will display those types in a better format. You can also look at creating your own .natvis files as that is also supported using `"visualizerFile"` from within the `launch.json`.

[2017-01-26 02:36] #190 closed, assigned to nobody

[2017-01-26 02:39] pieandcakes commented on #321
@therealkenc we have added the ability for `pipeTransport` with the `0.10.0` update. You can read more about it [here](../wiki/PipeTransport). This should allow you do the remote debugging with SSH using our extension.

[2017-01-26 02:40] pieandcakes commented on #179
@PatrickChen83 We have enabled gdb pretty printers by default in new `launch.json` files in our 0.9.2 release. Please try it and see if this resolves your issue.

[2017-01-26 02:40] #179 closed, assigned to nobody

[2017-01-26 03:54] sean-mcmanus commented on #458
We've made the change. It should be in our next release (0.10.1, February).