[2019-08-05 21:25] bobbrow commented on #3427
Thank you for the update.  Are there any remaining unresolved issues for you, or is it ok to close this issue now?

[2019-08-05 22:52] keaton-freude opened #4025 "Disable Automatic Comment Block"
**Type: LanguageService**
I can't figure out if there is a setting for this, so apologies if it is documented somewhere.
When I write `/*` in a `.cpp` file, I automatically get a matching `*/` inserted. This is driving me crazy when I just want to comment out a block of code.

How can I disable this? As far as I can tell, this happened in a recentish version of the extension because I do not remem

[2019-08-05 23:04] bobbrow commented on #4025
This is https://github.com/microsoft/vscode/issues/77008.  Sorry for the inconvenience!  A fix should be coming out soon.

[2019-08-05 23:04] #4025 closed, assigned to nobody

[2019-08-06 03:47] Lennon925 opened #4026 "Ctrl+Mouse click is still slower than using F12 to go to definition"
Cpptools version : 0.24.1

Ctrl+Mouse click is still slower than using F12 to go to definition

[2019-08-06 08:24] tooyangtoonaive commented on #15
up

[2019-08-06 08:50] taxuewill commented on #429
+1 for Linux ARM support.

[2019-08-06 11:13] renkarsu commented on #4021
I can never thank you enough! Thank you! Thank you!

I am not good at English, so I may confuse you.
**To those who are troubled by the same thing**, I check `gdbinit` in `C:\msys64\mingw64\etc`.
Then, it has been changed as follows.
[code]
This worked fine.

Probably, you are Msys2 user.

[2019-08-06 15:24] septag commented on #3427
It's currently fixed I guess, I'll close it until I encounter the slowdowns again.
Thanks

[2019-08-06 15:24] #3427 closed, assigned to nobody

[2019-08-06 15:48] McDic commented on #2250
Hello, @bobbrow. I encountered similar problem so I want to ask you.

This code is my cpp code:
[code]

This json is my tasks.json:
[code]

This json is my C/C++ configuration:
[code]

And this is the path of "testlib.h": ```C:\Users\spong\Desktop\Programming\Competitive\CodeforcesPolygon\testlib-master```

I don't know why I can't compile my code(I use Ctrl+Shift+B). Furthermore, it seems my incl

[2019-08-06 15:57] McDic commented on #2250
I can compile my code when I removed that ```include "testlib.h"```. But it runs with skipping that `ifdef` block.

The compilation error is
[code]

[2019-08-06 16:17] McDic commented on #3216
Hello @sean-mcmanus, can you help me in this [question?](https://github.com/microsoft/vscode-cpptools/issues/2250#issuecomment-518729094) Thanks in advance.

[2019-08-06 17:00] McDic commented on #2250
Added: If I try `Go to Peek Definition` on `include "testlib.h` it works well.
Added: My C++ compiler is `gcc version 8.2.0 (MinGW.org GCC-8.2.0-3)`.
Added: It seems `c_cpp_properties.json`'s setting is never applied.
Added: My OS is Windows 10.

[2019-08-06 18:04] ChristianJacobsen commented on #3711
[I found the place](https://github.com/microsoft/MIEngine/blob/master/src/MICore/UnixUtilities.cs) where (I believe) this script is generated and [opened a pull-request](https://github.com/microsoft/MIEngine/pull/906) to hopefully fix this.

[2019-08-06 19:07] jianglinchun commented on #811
According to the doc from official gdb.
https://sourceware.org/gdb/onlinedocs/gdb/Source-Path.html
And I'm quite sure that I can specify the exactly location of the rust runtime source & rust deps sources. Will you please give me a example of launch.json to add extra source folder while debug ?
use setupCommands?

Here is my current configuration
{
    // Use IntelliSense to learn about possible a

[2019-08-06 20:27] pieandcakes commented on #811
You actually want our implementation and not `gdb`s. The article linked says specifically that the command you reference is not to find source files.

An example would be the below block, where `<compileTimeSource>` is the folder structure currently in the symbol file and `<currentSource>` will be where the source will be on your local machine.
[code]

We do a `startsWith` style implementation so

[2019-08-06 20:40] sean-mcmanus commented on #4026
This is most likely because hover computation is delaying the Go to Def. Maybe there's some way to detect this and skip hover.

I assume if you hover, wait for the results, and then ctrl+click is the speed will be the same (I could double check this later).

[2019-08-06 20:46] sean-mcmanus commented on #2250
@McDic  c_cpp_properties.json is only for IntelliSense and not compiling. You need to add the include path "/I" flag to your tasks.json args.

[2019-08-06 21:11] ghost commented on #811
I'm having this problem, too.

[2019-08-06 21:16] sean-mcmanus commented on #4026
Actually, the Ctrl+Click also sometimes triggers a didOpen, IntelliSense update, didClose, which can also cause slowness (you can see the messages via loggingLevel "Debug").

This is a known VS Code API issue that we don't currently have a way to prevent...unless we happen to think of something creative workaround.

[2019-08-06 21:23] ghost commented on #811
I got the alerts to go away using this solution . . .

https://github.com/microsoft/vscode-cpptools/issues/811#issuecomment-406544778

. . . but the debugger keeps stepping into the library source code, and that's annoying and unnecessary.

It would best if there were some way to tell VSC/gdb not to step through library code.

[2019-08-07 00:48] ghost commented on #4002
@vicroms thank you for the advice.

[2019-08-07 02:55] Lennon925 commented on #4026
You are right. VS Code API is very slow. Currently the speed is not the same with F12 even though hover finished. I think this is related with VS Code API because I encountered some similar issue in our own extensions.

Are there any ways to forbid the hover in code ?  If so, the speed should be the same with F12.

[2019-08-07 03:41] jianglinchun commented on #811
@pieandcakes thank you. sourceFileMap solved my problem.

[2019-08-07 04:16] McDic commented on #2250
@sean-mcmanus I see, I thought IntelliSense is affecting compilation process. Thank you.

[2019-08-07 14:26] dcourtois opened #4028 "IntelliSense process should not fail due to invalid characters in a MACRO name (i.e. ":")"
- OS and Version: Windows 10
- VS Code Version: 1.36.1
- C/C++ Extension Version: 0.24.1

As the title says, I have a weird issue. A few days ago, Intellisense started behaving really badly, and ultimately stopped working on some of my projects. On the same setup, some other projects work perfectly, so it might be related to the complexity of the CMake structure ?

Anyway, in the C/C++ output, I j

[2019-08-07 14:26] foreverlms opened #4029 "Auto completion fails after snippets choosed."
**Type: LanguageService**

OS: Ubuntu 14.04
vscode:
Version: 1.36.1
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:55:08.091Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.4.0-142-generic
C/C++: Version 0.24.1

It's really annoying! For example, I have a segment of code like below.
![image](https://user-images.githubuserconte

[2019-08-07 15:29] daniel-brosche commented on #811
I don't understand why the skip command does not work as described in the doc. It seems exactly what should solve this problem. How does other Debuggers handle this like the Big Brother Visual Studio?

[2019-08-07 16:31] goosenphil commented on #2118
For those debugging ARM targets, have a look at the Cortex-debug addon for now.

[2019-08-07 16:42] pieandcakes commented on #811
@daniel-brosche I don't know why `skip` doesn't work either.

Visual Studio has its own debugger that has a feature called `Just My Code` that ignores it. If `gdb` had the same feature, we would be able to use it.

[2019-08-07 16:43] ghost opened #4030 "Debugger can't debug a file whose folder path includes a parenthesis"
Type: Debugger

- OS and Version: Linux (Debian 8)
- VS Code Version: 1.36.1
- C/C++ Extension Version: Not sure.
- Other extensions you installed (and if the issue persists after disabling them): Skipping this.
- A clear and concise description of what the bug is.

The debugger can't debug a file whose folder path includes a parenthesis.

1. Find a folder that contains C code that you want to deb

[2019-08-07 17:15] septag commented on #3518
check everywhere in your settings for "C_Cpp.configurationProvider" assigned to cmake-tools and remove them.
Then clear the cache and restart the vscode. I also switched to compile_commands.json for resolving compile flags for each file.
Thats how it solved for me

[2019-08-07 20:14] sean-mcmanus commented on #4026
To avoid hover when doing ctrl+click, you can quickly click the identifier before you see the hover tooltip appear, then use the cltr+click -- if you still see slowness, then it's because it's doing the additional didOpen and/or a 2nd definition when the Ctrl key is pressed -- this seems like a VS Code bug because it shouldn't do the didOpen/definition until the cursor moves and a hover is sent.

[2019-08-07 20:27] michelleangela commented on #4029
@foreverlms , could you explain what you mean by "when I choose the first snippet"? Do you mean choosing the first snippet from the auto-completion suggestion like the following:

![image](https://user-images.githubusercontent.com/38734287/62655430-ccecc980-b916-11e9-97da-f0005c005d58.png)

After I choose the suggestion "guess", it inserts `guess` in the `while()`, and it becomes `while(guess)`.

[2019-08-07 21:01] michelleangela commented on #4028
`Microsoft.VSCode.CPP.Extension.exe` is the process of the extension and `Microsoft.VSCode.Cpp.Intellisense.MSVC.exe` is the process for the IntelliSense server. The extension process creates one IntelliSense server process per translation unit (or source file that's currently open).

The error `Failed to read response from server: 22` indicates the extension process failed to read a response from

[2019-08-07 21:24] daniel-brosche commented on #811
I have found another nice documentation about the skip command and how to generate a skip list by python: https://reversed.top/2016-05-26/skipping-standard-library-in-gdb/

Just another Doc about using glob patterns related to the "Just My Code" VS-Feature https://codeyarns.com/2018/07/03/how-to-skip-stepping-into-files-in-gdb/

[2019-08-07 21:29] CloudyMcFox commented on #4017
I am sorry that was a typo. I meant to say launch.json:

![image](https://user-images.githubusercontent.com/18708122/62659308-d9295480-b91f-11e9-9d71-c01b63a9f56b.png)

[2019-08-07 21:40] CloudyMcFox commented on #4017
Engine log:
[enginelog.log](https://github.com/microsoft/vscode-cpptools/files/3479077/enginelog.log)

[2019-08-07 23:24] nitingupta910 commented on #2060
I'm hitting another problem in multi-root workspaces -- I have two folders added to workspace:
- `linux`
- `mydriver`

With `includePath` set to `[${workspaceFolder}/linux/**, ${workspaceFolder}/mydriver/**]` vscode can correctly resolve headers in `linux` when editing files in `mydriver`. However, go-to-definition does not work for any symbol defined in `linux` when working in `mydriver/foo.c`.

[2019-08-08 01:13] Lennon925 commented on #4026
OK, Thanks for your reply.

[2019-08-08 02:15] ToddMorrill opened #4031 "lldb not respecting breakpoint while debugging in C on macOS"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: macOS Mojave 10.14.4
- VS Code Version: 1.37.0-insider
- C/C++ Extension Version: 0.24.1
- Other extensions you installed (and if the issue persists after disab

[2019-08-08 05:22] #4021 closed, assigned to pieandcakes

[2019-08-08 06:22] katjie commented on #1069
Hi @pedzed
I reported issue #2786 which relates a little bit more to my specific case with Catch2. Maybe you can try some of the suggestions made in there, however I found them unsuccessful. However, for unrelated reasons, we have since decided to use GoogleTest instead. GoogleTest did not have this problem.

[2019-08-08 07:06] AndreasKunar commented on #429
+1 for Linux ARM support - especially, now that VScode begins to support remote development for the Raspberry Pi

[2019-08-08 07:10] dcourtois commented on #4028
Hi,

First of all, thanks for the quick answer and the tip about logging. I'll add that to all my projects.

But for some reasons today things are back to working again... I did try a lot of different things yesterday before opening this issue, so maybe something worked... now what exactly, I'm not sure (I did uninstall/reinstall the C/C++ extension on VSCode, I uninstalled/reinstalled the Intelli

[2019-08-08 07:51] Gargony opened #4032 "-imsvc flag ignore in compile_commands.json"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.36.1
- C/C++ Extension Version: 0.24.1
- Other extensions you installed (and if the issue persists after disabling them):

Looks like IntelliSence ignores [-imsvc](https://clang.llvm.org/docs/UsersManual.html#id9) flag, when parse compile_commands.json

**Screenshots**

**Additional context**

[2019-08-08 08:28] Lennon925 commented on #16
I think this function is very useful and important. After "Find All References" finished,this function is what we are eager to implement. I think this function's priority is higher than localization, non-UTF-8 support because currently we have no other tools to replace it. Although cpptools can't support non-UTF-8 and localization, we can convert code files to utf-8 using some convert tools.

[2019-08-08 08:32] smwikipedia commented on #2417
As of Aug. 8 2019, this issue remains. I am using the latest version.

Version: 1.36.1 (user setup)
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:59:35.033Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.16299

[2019-08-08 08:54] aaronweldy opened #4033 "[win][mingw]Unable to start debugging"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.36.1
- C/C++ Extension Version: 0.24.1
- Other extensions you installed (and if the issue persists after disabling them): None
-

[2019-08-08 09:31] Timmmm commented on #15
For those following this eagerly like me, this is the pull request: #4016.

It is only the VSCode configuration part of the change though. I think the meat of the work is in the closed-source intellisense engine, so I don't think we can try it out yet. Getting closer though!

[2019-08-08 10:01] dcourtois commented on #4028
Ok, I think I know what the problem was ! I've started using MSVC's `/DEBUG:FASTLINK` option to speed up my projects' link times. In my CMake file it's set like this `target_compile_options(mytarget PRIVATE $<$<CONFIG:Debug>:/DEBUG:FASTLINK>)` and it compiles fine (the option correctly appears in the `build.ninja` file generated by CMake.

But here is the log of the C/C++ extension:

[code]

Every

[2019-08-08 13:56] subhmm opened #4034 "Intellisense is not working for c++ libraries"
**Type: LanguageService**  C++

Unable to detect the c++ libraries

![Screenshot (6)](https://user-images.githubusercontent.com/45540171/62709130-6947c680-ba12-11e9-99c3-9149cc266944.png)

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what t

[2019-08-08 15:56] ghost commented on #3937
Please fix this. Auto-formatting is a huge plus and this change has totally broken it for me (again, different projects on the same machine using different clang-format versions). Also, with the way our development environment is set up, `.code-workspace` file is exactly the right place for this path (since it can be defined relative to the `{workspaceFolder}`

[2019-08-08 17:00] bobbrow commented on #2250
Closing this question as there has been no response from the original poster.

[2019-08-08 17:00] #2250 closed, assigned to nobody

[2019-08-08 17:13] bobbrow commented on #4029
This is actually an intentional VS Code behavior.  According to this: https://github.com/microsoft/vscode/issues/45716, you can opt out of the behavior with the `"editor.suggest.snippetsPreventQuickSuggestions": false` setting.

You can also manually invoke auto-complete by pressing CTL+Space.

[2019-08-08 17:13] #4029 closed, assigned to nobody

[2019-08-08 17:42] bobbrow commented on #3985
In this case, are you able to see which cpp file cpptools is selecting for IntelliSense?  [Enabling Logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) will help answer this question.  Is the cpp we select a reasonable choice, or does that cpp not actually include the header in question? We plan to spend some more time on this logic in the future, including adding a better ranking

[2019-08-08 17:45] bobbrow commented on #2060
@nitingupta910, did you see [my comment](https://github.com/microsoft/vscode-cpptools/issues/2060#issuecomment-515244528) above?  Try `${workspaceFolder:linux}/**` and `${workspaceFolder:mydriver}/**` instead.

[2019-08-08 17:52] bobbrow commented on #2417
We haven't released the insiders build yet, but hope to do so today.  We are doing some final testing on it.

[2019-08-08 18:00] bobbrow commented on #4028
Isn't `/DEBUG:FASTLINK` a linker option, not a compiler option?  The compiler interprets anything starting with `/D` as a constant or macro.  I agree we shouldn't crash, but you might want to consider updating your CMake recipe.  Should you be using `target_link_options` instead?

[2019-08-08 18:32] sean-mcmanus commented on #4034
We need more info. You're probably not configured correctly. What does it say when you use the C/C++: Log Diagnostics command?

[2019-08-08 20:56] kylrth opened #4035 "Copying value from long std::string variable in "Locals" ends with "...""
Type: Debugger

Values copied from a long string's value the debug console don't copy entirely, but look like:

[code]

**To Reproduce**

1. Debug some code with a very long string variable.
2. Set a breakpoint so the variable appears in the debug console under "Locals".
3. Right click the variable and select "Copy Value"

Maybe this is just a gdb thing though.

[2019-08-08 21:57] pieandcakes commented on #4035
Yes, it is. https://github.com/microsoft/vscode-cpptools/issues/3646 talks about it and the work around.

[2019-08-08 21:57] #4035 closed, assigned to pieandcakes

[2019-08-08 21:59] pieandcakes commented on #4033
@aaronweldy you need to make sure that the mingw bin path is in your $PATH. During run time, your executable needs to load libs from it and if it can't find it, it will fail with that error.

[2019-08-08 21:59] #4033 closed, assigned to pieandcakes

[2019-08-08 22:46] sean-mcmanus opened #4036 "Add a setting for the max threads to use for Find All References"
1. Do Find All References (Rename would have the same issue after it's released).

Bug: It uses all the available cores (minus 1), which is the same as VS's default, but VS also has a setting to set the max cores. E.g. C_Cpp.maxReferencesThreads (between 2-31).

Upvote this issue if you think this is important to add.

[2019-08-08 22:50] pieandcakes commented on #4030
To clarify, I assume you mean a folder like `/foo/ba(r/baz`  where `ba(r` is one of the folder names?

[2019-08-08 22:52] pieandcakes commented on #4022
Can you confirm that your `miDebuggerPath` path has the `\` escaped like `C:\\folder\\to\\gdb` ?

[2019-08-09 00:35] MichaelDu9226 commented on #15
fixed?when will  be  released?Can't wait for it!Thanks~

[2019-08-09 00:53] sean-mcmanus opened #4038 "Add a setting to enable caching of Find All References clients for non-opened files"
Currently, IntelliSense clients are only kept around for opened files. In VS, they are also kept around from the clients created from Find All References, based on a setting and in some cases memory usage.

The current workaround is to open any files if you want Find All References to be faster for those files....but if memory goes over 1 GB we'll start to close clients, so we may want to improve

[2019-08-09 01:09] sean-mcmanus opened #4040 ""Click to preview" is disabled for "Peek References""
Find All References allows previewing of the current results via clicking the search icon, but Peek References has this disabled because when we re-issue the Peek Reference and the cursor hasn't moved then the Peek Reference dialog box disappears. It's possible there might be a way to add some workaround? Let me know if anyone thinks they know how to fix this in the open source TypeScript -- the V

[2019-08-09 01:12] sean-mcmanus opened #4041 ""Inactive references" are sometimes incorrectly reported as "Cannot confirm reference""
I have a repro, but didn't have time to investigate/fix this before 0.25.0-insiders.

UPDATE: The fix should be in 0.25.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders2 .

[2019-08-09 01:21] sean-mcmanus opened #4042 "Add a command to filter out references by "type""
Currently all "types" of references are show in the "C/C++: References" output. It would be nice to have a command to filter out unwanted "types" -- however, from my experience, it seems like all the "types" are potentially useful to see...so let us know if you really don't be able to filter stuff out (or if anyone wants to implement this themselves in our open source TypeScript).

Also, we could

[2019-08-09 01:23] starship863 commented on #15
Great! Let's celebrate!

[2019-08-09 01:26] sean-mcmanus opened #4043 "Add Read/Write info to References results"
VS shows "Read/Write" info for references of variables so that would be nice to add (to the C/C++ References output), but the language server currently doesn't not execute the code to acquire this.

[2019-08-09 01:35] sean-mcmanus opened #4044 "Find All References sometimes chooses the wrong overload as a confirmed reference"
Use code
[code]

And do Find All References on the "return createStringErrors". The wrong definition is marked as the "confirmed reference".

We give better results than VS though, see bug https://developercommunity.visualstudio.com/content/problem/675935/c-find-all-references-gives-incorrect-confirmation.html . It's possible this issue could be fixed if VS fixes that issue.

[2019-08-09 01:41] sean-mcmanus opened #4045 "Peek References could incorrectly trigger Find All References and vice versa"
Let us know if anyone hits an issue where Peek References is incorrectly doing a Find All References or vice versa -- it would repro 100% in certain (unusual) conditions. VS Code doesn't tell us if a Peek versus Find is used so use an imperfect heuristic to try to guess which command is used. It's possible we could fix this via handling the onDidExecuteCommand added to 1.37 of VS Code.

[2019-08-09 01:47] sean-mcmanus opened #4046 "Add better diagnostics when "Cannot confirm reference" occurs"
It would be nice to expose more warnings, such as why the confirmation failed -- usually it means there's some configuration problem such as missing includes, but it could also be caused by a crash or some other bug...or if the Tag Parser is used.

[2019-08-09 01:53] sean-mcmanus opened #4047 "Log file word wrapping is disabled by default"
This is because we want the "C/C++ References" output to not have word wrapping and VS Code doesn't have better APIs for configuring this. See https://github.com/microsoft/vscode/issues/78245 .

The workaround is to overwrite the default setting, e.g.
[code]

[2019-08-09 01:59] sean-mcmanus opened #4048 "Unused non-workspace header files get parsed if their name matches a used header"
Our parsing code isn't capable of identifying the correct file to parse (i.e. it doesn't have the IntelliSense includePath available) -- this can cause the browse database to be unnecessarily large and parse header files outside of the workspace that it doesn't really need to.

Previously were incorrect skipping parsing of headers until the files were open and/or parsing the wrong files -- we need

[2019-08-09 02:03] sean-mcmanus opened #4049 "References may not be confirmed in headers if they are inactive in the TU that is used for confirming"
Not sure how important this is to deal with since it doesn't seem like it would be a commonly hit scenario and we use various heuristics for choosing the ideal TU...fixing this would negatively impact performance...maybe we could add a setting to enable this if enough people want it.

[2019-08-09 02:12] Mossop commented on #3985
I don't see it selecting any cpp file and as I said my configuration provider is never asked for any configuration so even if it is selecting a cpp file it cannot be using the correct configuration for it.

Here are the C++ output log and the LSP logs: https://gist.github.com/Mossop/4ce5bdbb056468dd4aa7f5472c01cbb9

[2019-08-09 02:26] sean-mcmanus opened #4050 "Links in "C/C++: References" do not render in some cases (non-workspace files, files with spaces, etc.)"
The root issue is caused by VS Code -- upvote or add complaints to https://github.com/microsoft/vscode/issues/34026 .

We could also show the data in some better UI tree view -- we're waiting for VS to provide something better...not sure yet if we'll need to do the work ourselves. See https://github.com/microsoft/vscode/issues/74237 .

[2019-08-09 02:39] sean-mcmanus opened #4051 "Improve Find All References performance?"
Our testing indicated that performance was on par with Visual Studio and that VS had some bugs that was causing worse performance (due to it getting stuck processing on 1 thread some times) -- @Colengms do you know the VS bug that you filed?

But...there's probably stuff we could do to improve performance, but since the bottleneck is generally IntelliSense parsing, I'm not sure yet if the performa

[2019-08-09 02:50] sean-mcmanus opened #4052 ""Cancel" for Find All References can take "too long" when it's in the "Processing source" state"
The reason "Cancel" gets "stuck" is that it is doing the normal "IntelliSense operation" code without a separate "cancel" thread that can kill the IntelliSense process (which is what enables faster canceling when it's in the "confirming" state). It should be fixable...not sure if it's worth the effort though.

[2019-08-09 02:59] sean-mcmanus commented on #15
Find All References (and Peek References) is available via setting C_Cpp.updateChannel to "Insiders" (or manually install it from https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders ), and then setting the C_Cpp.experimentalFeatures setting to "Enabled" -- we hid the feature behind this setting so that we could get feedback on the feature from a smaller audience.

A bunch of

[2019-08-09 03:04] sean-mcmanus commented on #296
We added Find All References -- see the comment at https://github.com/microsoft/vscode-cpptools/issues/15#issuecomment-519758952 for the details on how try it out. If you find bugs with that, it could also impact Rename, so let us know. Rename will take a few more weeks (?) -- in particular, overloads are currently not treated as a reference, which VS deals with via having users opt-in to add them

[2019-08-09 03:08] sean-mcmanus commented on #2275
Should be fixed with the "-x86" modes in 0.25.-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders

[2019-08-09 03:10] sean-mcmanus commented on #3879
We added some support for C++20 with 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders . But additional C++20 features will be added in the next release.

[2019-08-09 03:10] sean-mcmanus commented on #2088
Should be fixed with 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders

[2019-08-09 03:10] sean-mcmanus commented on #2417
Should be fixed with 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders

[2019-08-09 03:11] sean-mcmanus commented on #3713
Should be fixed with 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders

[2019-08-09 03:11] sean-mcmanus commented on #3798
Should be fixed with 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders

[2019-08-09 03:12] sean-mcmanus commented on #404
Find All References is available in 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders , but you'll need to set the C_Cpp.experimentalFeatures setting to "Enabled".

[2019-08-09 03:13] sean-mcmanus commented on #1053
Find All References is available in 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders , but you'll need to set the C_Cpp.experimentalFeatures setting to "Enabled".

[2019-08-09 03:14] sean-mcmanus commented on #3902
Should be fixed with 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders .

[2019-08-09 03:14] sean-mcmanus commented on #4018
Should be fixed with 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders .

[2019-08-09 03:14] sean-mcmanus commented on #3888
Should be fixed with 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders .

[2019-08-09 03:15] sean-mcmanus commented on #3864
Should be fixed with 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders .

[2019-08-09 03:18] sean-mcmanus commented on #361
Find All References is available in 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders , but you'll need to set the C_Cpp.experimentalFeatures setting to "Enabled".

[2019-08-09 03:18] sean-mcmanus commented on #2710
Find All References is available in 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders , but you'll need to set the C_Cpp.experimentalFeatures setting to "Enabled".

[2019-08-09 03:20] sean-mcmanus commented on #1567
Find All References is available in 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders , but you'll need to set the C_Cpp.experimentalFeatures setting to "Enabled".

[2019-08-09 03:21] sean-mcmanus commented on #3645
Find All References is available in 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders , but you'll need to set the C_Cpp.experimentalFeatures setting to "Enabled".

[2019-08-09 03:22] sean-mcmanus commented on #83
Find All References is available in 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders , but you'll need to set the C_Cpp.experimentalFeatures setting to "Enabled".

[2019-08-09 03:22] sean-mcmanus commented on #615
Find All References is available in 0.25.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders , but you'll need to set the C_Cpp.experimentalFeatures setting to "Enabled".

[2019-08-09 04:05] bobbrow commented on #3985
Interesting.  It's not picking a cpp file for some reason.  It could be because the file indexing is incomplete.  I saw a lot of "tag parsing file" messages in your log so we might not have identified a cpp file that includes it yet.  But I would have expected cpptools to ask your extension for the configuration in that case.  In the log it looks like some sort of configuration was provided though

[2019-08-09 04:07] gbbosak commented on #3713
Fix verified! Thanks!

[2019-08-09 04:07] #3713 closed, assigned to Jasdriel

[2019-08-09 06:02] nxyd opened #4053 "Update extension to insider version in remote SSH"
Set the update channel to Insider in remote settings is useless.

[2019-08-09 07:03] dcourtois commented on #4028
@bobbrow You're totally right, it was a mistake.
As a side note, `target_link_options` is a recent addition that I couldn't use (it was added in 3.13, while my lowest CMake is 3.12 on Linux)

[2019-08-09 07:13] Lennon925 commented on #3886
Hi Sean, I found currently results of "Find All References" includes many types: "Cannot confirm","Comment containing","Confirmed","Not a reference" and so on. Currently I call vscode.executeReferenceProvider and  get "confirm" references results only. So could you add  "getAllReferencesCommand" to return all references types and locations for me?

[2019-08-09 08:37] christianparpart commented on #3874
I am getting the exact same message:

[code]

For version 0.25.0-insiders though. I cannot get rid of it, no matter how often I click reload, and no matter how often I do a clean shutdown + restart of VSC.

I just updated VSCode and then to cpptools 0.25.0-insiders. One note to make is, that I am using remote-wsl extension to develop.

What logs could I provide you for a more detailed analysis?

[2019-08-09 08:44] DukeLaze commented on #4022
@pieandcakes Yes, it is escaped properly, sorry for not noticing in the paste.

[2019-08-09 08:52] ghost opened #4054 "clang-format broken unless you stick to a single file"
Before the change described in #3937, clang-format worked (mostly) flawlessly for me with format-on-save and manual formatting.

Now however, even after making the regressive settings changes required by the #3937 change, my clang-format works only so long as I stick to editing one file. As soon as I change to a second file it won't work again until I restart the application (even if I return to t

[2019-08-09 09:10] dk1301 commented on #3902
I tried the 0.25 version and the Goto Definition worked fine.
Thanks for the support.

[2019-08-09 09:10] #3902 closed, assigned to nobody

[2019-08-09 09:34] lassik commented on #1259
Just in case someone stumbles here from a web search wondering why clang-format doesn't do anything to their code: Is your code inside an `#if 0` ... `#endif` pre-processor block? It doesn't seem to touch those at all, no matter what settings you have.

[2019-08-09 11:02] skypuppy opened #4055 "The terminal shell path "platformio" does not exist"
Type: General
VSC with platformio was working, sort of, until I let VSC update itself.  Now, I get the "platformio" does not exist error, making the entire effort useless.  Exhaustive web search does not yield any solution.  Help, please.

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**D

[2019-08-09 12:05] aaronweldy commented on #4033
Yes -- I have added the path of MinGW to my Windows environment variable, and I also added the "includePath" to c_cpp_properties.json as shown below:
![mingw](https://user-images.githubusercontent.com/41965433/62777734-ea6d8f00-bae0-11e9-9fa3-291d6715be54.JPG)

I'm still getting the same error output.

[2019-08-09 12:26] yamcenutzer commented on #15
nice..
However, it doesn't seem to install on remote (ssh) sessions

[2019-08-09 12:28] yamcenutzer commented on #4053
same here.
using mostly remote ssh to linux machines.
the update channel setting seems to be ignored.

Interestingly, the native vscode version installed on these linux machines do update and the extension is actually doing something when used locally.

[2019-08-09 13:10] g3v commented on #2297
The issue is still present. I thought I am losing it :)

[2019-08-09 14:53] CraigMason commented on #946
It seems the headers are installed into a cache folder (verified by watching with procmon on install). On my system, it was here:

`C:\Users\myuser\AppData\Local\node-gyp\Cache\10.16.2\include\node`

I updated my c_cpp_properties.json to include the following:

[code]

Now the vscode errors have gone.

[2019-08-09 15:04] bobbrow commented on #4053
Thank you for reporting this issue.  This is actually a duplicate of #3833.  If you could go add a 👍 to that issue, it helps us track the most impactful bugs.

[2019-08-09 15:04] #4053 closed, assigned to nobody

[2019-08-09 15:40] hoopoepg commented on #3874
hi all
got same issue - after update to 0.25-insiders it ask to reload window to apply changes. I'm using SSH Remote plugin to Linux host.

to suppress this I updated config file:
[code]
added string:
[code]

[2019-08-09 16:23] bobbrow commented on #4033
`includePath` is not used by the debugger. It's for IntelliSense only.  But while I'm commenting, I'll recommend you remove the system include paths from your `includePath`.  The extension gets these from the `compilerPath` property.  It's more accurate that way.

[2019-08-09 16:28] bobbrow commented on #3874
We knew the update didn't work in the remote sessions yet (#3833), but if it's constantly nagging you about it, we should prioritize addressing this sooner.

Opting out of the Insiders channel as mentioned by @hoopoepg or ignoring the popup are the only workarounds right now.

[2019-08-09 16:29] bobbrow commented on #15
We're tracking #3833 and #3874 for the issues with Insiders in Remote workspaces.

[2019-08-09 17:15] christianparpart commented on #3874
Thanks for taking care, @bobbrow

[2019-08-09 17:21] Colengms commented on #4051
The VS issue is here: https://developercommunity.visualstudio.com/content/problem/672813/find-all-references-performance-issues.html

[2019-08-09 18:00] pieandcakes commented on #4033
@aaronweldy So when `gdb` starts the process it is unable to and is showing error 193. A quick internet search shows that 193 means it might be a bad executable format. Can you try and run your `a.out` from the command line to see if it works?

I suspect that it is connected to not being able to start the executable.

[2019-08-09 18:02] rlivings39 commented on #3324
Without the ability to add `set auto-solib-add off` in my `.gdbinit` starting up our software in the debugger becomes painfully slow. It can reach on the order of over a minute or two making the edit-debug-test cycle painfully slow. Please consider adding this.

[2019-08-09 18:11] pieandcakes commented on #4055
@skypuppy Please report this either at `platformio`'s repository or [VS Code's](https://github.com/microsoft/vscode/issues). This is the C++ extension's repository and not `platformio`

[2019-08-09 18:11] #4055 closed, assigned to pieandcakes

[2019-08-09 18:26] sean-mcmanus commented on #4054
I'm not reproing the bug (with 0.25.0-insiders). Do you see any errors when you change the C_Cpp.loggingLevel to Debug?

What is the "regressive settings changes" you are referring to?

[2019-08-09 19:19] sean-mcmanus commented on #3886
Because VS Code and the LSP doesn't currently support "types" on references, we send back the non-confirmed references via the cpptools/references message instead of textDocument/references.

Where would such a getAllReferencesCommand be called/executed from, i.e. where did you want us to export such a method? Are you able to modify/use the open source TypeScript code yourself to get the data and/

[2019-08-09 21:06] matepek commented on #4031
I think there is something with path-normalisation.
I can create a breakpoint with debug console `breakpoint set --file main.cpp --line 20` and then I can click on it the "breakpoints" windows which opens the same file as a new file but with different path:
-The not working one: `/Volumes/Data/repo/x/main.cpp`
-The working/opened one: `~/repo/x/main.cpp`
One more thing to mention: repo has a symli

[2019-08-09 23:04] sean-mcmanus commented on #3472
This was fixed for the local case where the variable length array is in a non-global scope -- is that sufficient? The global case in your repro doesn't compile with clang (only gcc). I could file a new VS bug for the global case if you want.

[2019-08-10 00:14] mdzahidh opened #4058 "updating compile_commands.json cause error message and indexing freezes."
**Describe the bug**
- OS and Version: Linux and Windows
- VS Code Version: 1.37.0-insider
- C/C++ Extension Version: 0.25.0-insiders

**To Reproduce**
When you update compile_commands.json while vscode is running, cpptools gives out error saying ""${workspaceFolder}/compile_commands.json" could not be parsed. 'includePath' from c_cpp_properties.json will be used instead.", sometimes multiple time

[2019-08-10 00:18] sean-mcmanus commented on #4058
This sounds related to the changes https://github.com/microsoft/vscode-cpptools/issues/2306 and https://github.com/microsoft/vscode-cpptools/issues/3864 .

[2019-08-10 00:24] ghost commented on #4030
Correct. Thank you for looking into this.

[2019-08-10 00:35] mdzahidh commented on #4058
While I really want to thank the team for addressing this bug in 0.25.0-insiders, but I think there is still something that's causing issues. Perhaps, cpptools is picking up the changes while the compile_command.json is in the middle of being updated ? For example, our compile_commands.json is fairly large and it takes a little long to write it out.

[2019-08-10 01:55] sean-mcmanus commented on #3874
This appears to be caused by VS Code bug https://github.com/microsoft/vscode-cpptools/issues/3874 (Command `workbench.extensions.installExtension` doesn't work on Remote Host). Not sure yet if we should try to workaround that bug or wait till they fix it?

[2019-08-10 01:59] foreverlms commented on #4029
@bobbrow Thanks!

[2019-08-10 02:21] mxdh commented on #3472
@sean-mcmanus Thank you, this is sufficient.

[2019-08-10 08:36] smwikipedia opened #4059 "Goto definition only goes to declaration in headers when using a compile_commands.json"
**Type: LanguageService**

My source tree is built with CMake/Ninja. I generated a "compile_commands.json" file from my Ninja build system and put it in the c_cpp_properties.json file. I did this in the hope that I can quickly configure the include search paths, defines, etc.

The **c_cpp_properties.json**: (**Note that I am using the ARM toolchain. I choose gcc-X64 for intelliSenseMode because I

[2019-08-10 11:28] infalmo commented on #3298
@pieandcakes Any luck with this? This issue is really an inconvenience to me...

[2019-08-10 11:45] aaronweldy commented on #4033
I saw that too when I googled it, but running ./a.out works fine on the command line:
![out](https://user-images.githubusercontent.com/41965433/62821352-0edf6f00-bba6-11e9-8808-fd7803975748.JPG)

Something weird I noticed -- when I run the "gdb" command on the command line, it runs a version different from the MinGW that I have installed:
![gdb](https://user-images.githubusercontent.com/41965433/6

[2019-08-10 12:21] sye989 opened #4060 "Error: Failed to parse ".vscode\c_cpp_properties.json"
Failed to parse "\.vscode\c_cpp_properties.json": ENOENT: no such file or directory, open '\.vscode\c_cpp_properties.json'
 code in vs code:
#include <stdio.h>

int main()
{
    printf("Hi, my name is ny");
    return 0;
}

[2019-08-10 13:59] smwikipedia commented on #4059
This issue seems similar: https://github.com/Microsoft/vscode-cpptools/issues/3157 but actually not. Because I don't have void arg list.

[2019-08-10 17:11] pieandcakes commented on #4033
@aaronweldy Are you trying to use MinGW or WSL? When you run the command in your terminal, it is running it in WSL which is using the WSL command line and environment. Those binaries are not compatible with MinGW as they are compiled as if on Linux and not able to run in a regular Windows environment.

If you go to Start -> Run and run `cmd.exe` and then try and run your `a.out` will it run? I sus

[2019-08-10 17:12] pieandcakes commented on #4033
If you want to use WSL (Windows Subsystem for Linux) you can. It would require you to install VS Code's Remote WSL extension and then our extension will run natively as if you were on Linux and that will work.

[2019-08-10 18:20] pieandcakes commented on #3298
I haven't found a solution in Linux to not display the command.

[2019-08-11 03:57] McDic opened #4062 "Intellisense is trying to open file with duplicated path on compilation error"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: July 2019 1.37.0
- C/C++ Extension Version: 0.25.0-insiders
- Other extensions you installed (and if the issue persists after disabling them): Green theme 0.0.2, Python(Made by MS) 2019.8.29288 - I disabled all when I encountered bug.
- A clear and concise description of what the bug is: VSCode is openi

[2019-08-11 04:21] smwikipedia commented on #4059
I tried to reproduce the issue with below steps:

1. reconstruct the folder/file structure
2. reconstruct the file content
3. manually configure the include path

The goto definition works fine with above 3 steps.

The only difference is step 3. **I directly configure the include path instead of using a compile_commands.json file**

Below are the logs for good and bad scenarios:

### Good:

[code]

[2019-08-11 04:34] McDic commented on #4062
This is settings.json.

[code]

[2019-08-11 07:48] infalmo commented on #3298
I had an idea to evade this. `clear` command could be run automatically once the debug process is terminated.

[2019-08-11 09:37] smwikipedia commented on #4059
I guess I found the root cause.

I just noticed below icon:

![image](https://user-images.githubusercontent.com/999318/62832246-f16ddc00-bc5d-11e9-99c7-139343f4820c.png)

It seems the file parsing takes quite some time. Much longer than I expected.

I hovered my icon on it and see below progress:

![image](https://user-images.githubusercontent.com/999318/62832235-d307e080-bc5d-11e9-86e4-d468e25802

[2019-08-11 11:05] smwikipedia commented on #4059
It seems I have to add below element to the c_cpp_properties.json file:

![image](https://user-images.githubusercontent.com/999318/62833034-b920ca80-bc6a-11e9-8664-bdfdb224e17c.png)

1. With above element, the database icon will show and it goes from "Discovering files..." -> "Parsing open files..."

2. Without above element, the data base icon will also show. But the "Discovering files" phase fin

[2019-08-11 11:46] FuelledByCoffee commented on #239
Is this ever gonna be fixed?

[2019-08-11 12:02] smwikipedia opened #4063 "Glob pattern "**/.*" in "files.exclude" breaks the symbol resolution"
**Type: LanguageService**

My source tree can produce different build results. Each build use different C files.
I use `files.exclude` in settings.json to exclude the C files not relevant to a specific build.
For a specific build, I add about 2500 C files to `files.exclude`.
But this break the symbol parsing.  The database icon at the bottom right simply doesn't show the progress percentage. It ju

[2019-08-11 12:07] smwikipedia commented on #4059
I think this issue is caused by https://github.com/microsoft/vscode-cpptools/issues/4063.
This one can be closed.

[2019-08-11 12:32] smwikipedia commented on #4063
Well, it seems the root cause is I added below highlighted `"**/.*" : true` to the settings.json.

![image](https://user-images.githubusercontent.com/999318/62833802-1d498b80-bc77-11e9-8c20-f56388ab8afc.png)

Adding this line will cause the database icon **never disappear**:

![image](https://user-images.githubusercontent.com/999318/62847517-474b8e00-bd09-11e9-8866-58f1bbf7e9c5.png)

And when I ho

[2019-08-11 21:08] ghost commented on #296
How do I upvote this feature request?

[2019-08-12 01:50] Lennon925 commented on #3886
I cloned the source code from master branch and run, it didn't work and errro occured:C/C++: "Install vsix -- Failed to download rate limit JSON". I have set a proxy on vscode.
And then I cloned from "git clone -b release https://github.com/Microsoft/vscode-cpptools" and found it doesn't contain "find references" this feature.

Maybe company safe strategy can't allow to access.

[2019-08-12 02:13] qian2501 opened #4064 "heap corruption since 0.23"
OS and Version: Window7 Pro
VS Code Version: 1.37
C/C++ Extension Version: 0.23-0.24.1

Recently after I updated the extension, I keep getting a crash says “Critical error at c0000374”, which is a heap corruption. But it never happens when using 0.21, with same code version, nor debugging same program with vs2012.
The first time I run into this situation was when I updated from 0.21 to 0.23.
I won

[2019-08-12 03:36] TSKangetsu commented on #2506
really need 😢

[2019-08-12 04:36] stevenguh commented on #3874
I think you meant https://github.com/microsoft/vscode/issues/78719 filed in vs code?

[2019-08-12 06:32] smwikipedia commented on #4063
**Reproduce 1:  `"**/.*" :  true` breaks the `goto definition`.**

The unexpected result happens at step 4.

(In below steps, the database icon can disappear, I think it's because the folder structure is too simple. But the `**/.*` glob patter breaks the "goto definition".)

1. Create a folder named glob, it contains 3 files and a `.vscode` folder.
![image](https://user-images.githubusercontent.co

[2019-08-12 07:02] smwikipedia commented on #4063
**Reproduce 2:  `"**/.*" :  true`  keeps the database icon showing forever. And file parsing never ends.**

I upload the repro code to here: https://github.com/smwikipedia/globRepro

Steps:
1. Open the `testFolder` in VS Code
2. Open the `.vscode/settings.json`, you should see below content:
![image](https://user-images.githubusercontent.com/999318/62849355-e8d6dd80-bd11-11e9-87e3-4d2d0fe43493.png

[2019-08-12 08:35] smwikipedia commented on #4063
I tried `"**/[.]*" : true`. It can match all the hidden files/folders. And it doesn't break symbol parsing.

Could anyone explain why I need to add the `[ ]` ?

[2019-08-12 08:37] ghost commented on #4054
The "regressive settings changes" I'm referring to are those necessitated by changing the `clang_format_path` to machine scoped (meaning I can't set it in my `.code-workspace` file, where it belongs for my project and am forced to set it in my user settings and manually edit that every time I change to a project that needs a different `clang-format` version). I made the connection here only becaus

[2019-08-12 09:09] leewwe commented on #3997
when I want to include my own '*.h' file, the VScode will tell me that it can't find the right function, which has been in the previous '*.h' file and corresponding '*.c' file.

[2019-08-12 09:26] ghost commented on #4054
Having upgraded to 0.25.0-insiders, the developer console errors I posted originally now look like this:
[code]

[2019-08-12 11:16] anatolyburakov commented on #1256
It seems that this is an issue again. This is using Insiders build and SSH Remote extension, while working on a C codebase.

![vscode-cpptools](https://user-images.githubusercontent.com/37181601/62861304-ed43cc00-bcfa-11e9-9874-afe476ffe80a.PNG)

[2019-08-12 15:42] pieandcakes commented on #3997
Can you provide a concrete example so we can debug the scenario? I think it would help to know where your `.h` file is and your `#include` definitions in your `.c` file.

 This sounds like code editing or compiling though, not debugging.  I changed the title to point it to compiling.

[2019-08-12 15:46] pieandcakes commented on #4064
@qian2501 Can you explain what you are doing when you get that Critical error and what process/executable is giving that error?

Does 0.24.0 have the same error? Can you provide a code sample that reproduces this?

[2019-08-12 16:00] pieandcakes commented on #3298
@infixint943 we thought about that but you would also lose all the output from your application run which is why we did not do it.

[2019-08-12 16:03] akbyrd commented on #722
This is solution is far from ideal since it disables the cpp extension when navigating to standard library headers. In my opinion, this effectively replaces a nuisance with a defect.

I think a request needs to be pushed to the main vscode repo to support a proper solution here. We have the ability to set the language on a new file that hasn't yet been saved to disk, so clearly there's and in-memo

[2019-08-12 18:08] Mossop commented on #3985
Ah ok, looks like this is only an issue when tag parsing is not yet complete. It picks a reasonable cpp file in this case. I wonder if it should just not return any results until tag parsing is complete and the correct configuration is returned.

[2019-08-12 18:23] sean-mcmanus commented on #3874
@stevenguh Yeah, thanks for providing the correct link :)

[2019-08-12 18:23] bobbrow commented on #3985
We can't wait until tag parsing is complete because in many cases this can take a really long time.  It feels like there is a bug here though if your extension is not being asked to provide a configuration for the header file in the case where we didn't discover a cpp file that includes it yet.

[2019-08-12 18:33] sean-mcmanus commented on #4063
We wrote our own code to do the glob pattern matching (around 3 years ago?) and it has some bugs in cases that were not expected/tested. Also, having hundreds or more patterns in files.exclude is expected to slow down stuff a lot, because the regex matching can be expensive when it's run for every file in several large loops.

So is your workaround sufficient? I'm not sure when we'll have time to

[2019-08-12 18:39] sean-mcmanus commented on #4062
This has been fixed with https://github.com/microsoft/vscode-cpptools/pull/3916/files, but we've delayed shipping it because it requires a dependency on VS Code 1.36. The workaround is to add a "fileLocation" param to your problemMatcher and set it to "absolute" or "autoDetect" (the current default is "relative", which is causing problems for you because gcc's is outputting absolute paths).

[2019-08-12 18:40] michelleangela commented on #4059
Closing this issue as duplicate of #4063

[2019-08-12 18:40] #4059 closed, assigned to nobody

[2019-08-12 18:46] sean-mcmanus commented on #296
@george-code You can click the thumbs up image in the initial post (that has 425+ thumbs up currently. This is the next major feature we plan to implement.

[2019-08-12 18:49] sean-mcmanus commented on #4060
It should be fixed with the latest Insiders (0.25.0-insiders, https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders ). See https://github.com/microsoft/vscode-cpptools/issues/3888 .

[2019-08-12 18:49] #4060 closed, assigned to nobody

[2019-08-12 18:52] sean-mcmanus commented on #2084
VS Code fixed this via adding a editor.gotoLocation.multiple setting that defaults to "peek".

[2019-08-12 18:52] #2084 closed, assigned to nobody

[2019-08-12 20:10] sean-mcmanus commented on #3886
Yeah, I think you would need to clone the master branch, but then copy over the binaries from the 0.25.0-insiders vsix, because the download link targets haven't been updated to the newer binaries yet.

The "rate limit" message might not be important -- I believe that is just code that runs to try to get the Insiders vsix.

[2019-08-12 20:14] sean-mcmanus commented on #4054
The developer console errors are not useful. Could you check the C/C++ error logs? See https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md .

[2019-08-12 20:15] sean-mcmanus opened #4067 "C file treated as C++ using Insiders build and SSH Remote extension, while working on a C codebase."
It seems that this is an issue again. This is using Insiders build and SSH Remote extension, while working on a C codebase.

![vscode-cpptools](https://user-images.githubusercontent.com/37181601/62861304-ed43cc00-bcfa-11e9-9874-afe476ffe80a.PNG)

_Originally posted by @anatolyburakov in https://github.com/microsoft/vscode-cpptools/issues/1256#issuecomment-520384714_

[2019-08-12 20:16] sean-mcmanus commented on #4067
@anatolyburakov Can you use the C/C++: Log Diagnostics command to see what language is being used for IntelliSense? Can you also check your files.associations setting?

Do you know if this is a regression with 0.25.0-insiders (compared to 0.24.1)?

[2019-08-12 23:15] smwikipedia commented on #4063
@sean-mcmanus
Thanks for your reply.

In my two reproduces above, I just put one **single** pattern in the files.exclude. That is `"**/.*" : true`.

As to the workaround, I am still evaluating it.

I guess it may be not difficult to find the root cause in code. Maybe just debug through below 2 scenarios for the `files.exclude`:

- `"**/.*" : true`   (the bad one)
- `"**/[.]*" : true`   (the _seemi

[2019-08-13 02:08] sean-mcmanus commented on #3886
Yeah, the menu would only appear if the right binary is used. The binaries are in the bin folder at the extension's installation folder, e.g. ~/.vscode/extensions/ms-vscode.cpptools-0.25.0-insiders/bin/Microsoft.VSCode.CPP.Extension.linux (and Microsoft.VSCode.CPP.IntelliSense.Msvc.linux). They need to be copied to the bin folder under the extension folder where you do the Launch Extension. But if

[2019-08-13 02:21] qian2501 commented on #4064
Well, here is where things gets awkward, I don’t have permission to the codes triggers this error.
So I think maybe it is possible to compare between this two versions and check what exactly changed. If we do have more exceptions  covered then I can report a problem in theirs code(we have a really low efficiency workflow, isn’t it).

[2019-08-13 02:40] stevenguh commented on #3874
FYI, there is a workaround provided in the https://github.com/microsoft/vscode-remote-release/issues/1144 (which is the same issue in my last comment)

[2019-08-13 04:12] weety opened #4070 "Cpptools plug-ins cannot be loaded on ARM architecture (raspberry pi 4)"
Type: General

I run vscode on raspbian system of raspbian rasppie, and it can't load properly when using cpptools extension plug-in.

**vscode version：**

**The error information is as follows:**

**Terminal Reporting Information：**

**Describe the bug**
- OS and Version: raspbian based on debian  buster
- VS Code Version:1.29.0
- C/C++ Extension Version:0.21.0
- Other extensions you installed (a

[2019-08-13 04:14] arminAnderson opened #4071 "New IntelliSense coloring occasionally treating operators as functions"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10, Version	10.0.18362 Build 18362
- VS Code Version: 1.37.0
- C/C++ Extension Version: 0.24.1
- Other extensions you installed (and if the issue persists after disabling them): NA

- IntelliSense colors operators when using "entity.name.function" or "entity.name.function.template"

**To Reproduce**

1. Add "entity.name.func

[2019-08-13 05:24] McDic commented on #4062
Thanks a lot!

[2019-08-13 09:11] dannyalan commented on #861
I'm afraid that when running VS Code under the MS SSH extension it attempts to execute gdb using pkexec without adding the --user flag. This then causes the debugging session to stop instead of requesting the user to be selected.

[code]

No further prompts are thrown and instead thew debugger hangs. Debugging C++ using the atatch method in this way is not possible

[2019-08-13 09:18] anatolyburakov commented on #4067
I'm currently trialling VSCode to see if it works for me so i cannot say if it's a regression - i haven't used previous insiders builds.

Doing more digging, i can reproduce this the following way:

1) everything at default settings => .c file is parsed as a C++ file
2) add association to "c" in the settings.json => .c file is _shown_ as a C file, but still parsed as C++
3) add association to "c"

[2019-08-13 13:13] goldrus opened #4072 "VSCode cannot find file for "compileCommands""
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

I'm using Remote SSH to edit and run code on a server with Ubuntu xenial. I've tried to set compileComands field in c_cpp_propertis.json, but it alway

[2019-08-13 13:47] leewwe commented on #3997
hi, first, thank you.I think I have solved this problem. This problem appears in the C/C++ mixed compiling. I wrongly use it. Again, thanks.

[2019-08-13 13:47] #3997 closed, assigned to pieandcakes

[2019-08-13 13:59] dcsan commented on #22
they should really document this, I find my way back here every time I try messing around with the debugger before usually giving up anyway.

[2019-08-13 14:23] anatolyburakov opened #4073 "GCC problem matcher doesn't appear to work with Remote SSH"
I am using an out-of-tree build using RemoteSSH extension (SSH from Windows to a Linux box). The contents of my build command are roughly the following:

[code]

This matches, but the path appears to be wrong:

![ProblemMatcher](https://user-images.githubusercontent.com/37181601/62948761-e68d8580-bddc-11e9-9e47-8fae925f9524.PNG)

The paths i'm getting from the terminal look like `../../<src dir>/p

[2019-08-13 14:44] pieandcakes commented on #3298
I don't think the solution of launching a new terminal to launch the command will work. The whole point of this change was to allow VS Code to own the terminal launching experience and to not care which terminal application the user has on their machine.

[2019-08-13 14:49] pieandcakes commented on #22
@dcsan If you are using `node` and continually running into this problem, I would suggest you file an issue in the VS Code repository as this one is for the C/C++ extension. We don't have any control over the node extension or its documentation.

[2019-08-13 14:50] bonfire62 opened #4074 "Connection got disposed - hover failed"
VSCode Version: 1.37.0
    OS Version: centos7

Steps to Reproduce:

1.install VSCode on linux (centos7)
2.install c/c++ extension through command line
3.ctrl+click a function

Does this issue occur when all extensions are disabled?: No
Error: Connection got disposed.
at Object.dispose (/home/kbonariii/.vscode/extensions/ms-vscode.cpptools-0.24.1/dist/main.js:2554:25)
at Object.dispose (/home/kbon

[2019-08-13 14:51] pieandcakes commented on #4064
@qian2501 If this is debugging, the only change is to correct child process debugging: https://github.com/microsoft/MIEngine/commit/f04de41a05877bc177e8959f8ebcfcdd82aae9cf which does not look like it affects anything to cause it to give a heap corruption.

[2019-08-13 17:36] Colengms commented on #4071
Hi @arminAnderson .  It's currently by-design that overloaded operators fall back to the color for functions if more specific colors are not assigned to their scopes.  You can independently color the overloaded operators using the following scopes:

|Token|Scope|
|---|---|
|Operator Overload Function | entity.name.function.operator|
|Operator Overload Member | entity.name.function.operator.member|

[2019-08-13 18:17] sean-mcmanus commented on #4070
We're already tracking this with https://github.com/microsoft/vscode-cpptools/issues/429 .

[2019-08-13 18:17] #4070 closed, assigned to nobody

[2019-08-13 18:23] sean-mcmanus commented on #4072
Is this with version 0.24.1 or 0.25.0-insiders?

The "Cannot find" message is from our call to fs.existsSync -- maybe that's getting executed on the local host instead of the remote? Can you tell if the compile_commands.json is being used, such as via C/C++: Log Diagnostics? From your comment about autocomplete not working it sounds like it's not being used.

[2019-08-13 18:28] sean-mcmanus commented on #4074
It sounds like Microsoft.VSCode.CPP.Extension.linux is crashing. Are you able to attach a debugger to get a call stack or provide any more repro info? Is your architecture x64?

[2019-08-13 18:40] bonfire62 commented on #4074
I had uninstalled the extension because of the error. Upon re-installation (this is the 3-4th time) it appears to be working! I have no idea why this time is different.
edit: nvm just happened again

[2019-08-13 18:43] sean-mcmanus opened #4075 "Find All References doesn't find references in preprocessor statements (also affects Rename Symbols)"
[code]

Bug: Find All References only finds the "return DEF1;" and not the cases in the #define/#ifdef. VS handles that case correctly.

It also affects rename (which uses find all references).

[2019-08-13 18:56] shawnl opened #4076 "Uses too much RAM"
My source code is only 13MB https://github.com/ziglang/zig , and yet Intellisense easily uses 3GB+ to analyze it. There should be an upper bound of RAM usage relative to the size of the code base and the size of the applicable headers in /usr/include.

CPUs | Intel(R) Core(TM) i5-2540M CPU @ 2.60GHz (4 x 2216)
-- | --
GPU Status | 2d_canvas: enabledflash_3d: enabledflash_stage3d: enabledflash_stag

[2019-08-13 18:57] mdzahidh commented on #4058
Could you repro this on your end ? fixing this would be such a tremendous productivity boost for us

[2019-08-13 19:02] sean-mcmanus commented on #4076
13 MB is very large for a source file (I guess that is for all the source code?). The IntelliSense process has to store data for the entire translation unit, which could include lots of header files. 3 GB is not the normal size though, unless you have a really large TU or there is a bug.

[2019-08-13 19:11] bonfire62 commented on #4074
architecture is x64

[2019-08-13 19:13] sean-mcmanus opened #4077 "Switch to using setTextDocumentLanguage instead of adding to files.associations"
The Septemember 2018 release added vscode.languages.setTextDocumentLanguage, so our extension can try using that instead of adding files to files.associations.

The previous thread is https://github.com/microsoft/vscode-cpptools/issues/722 .

[2019-08-13 19:17] shawnl commented on #4076
While I agree there is a bug, I don't feel this report really helps at all, I just got frustrated :(

[2019-08-13 19:26] sean-mcmanus commented on #3874
You mean the workaround of unzipping the .vsix ourselves to the extensions folder? Yeah, that might work (if necessary), but I think we're just going to wait for VS Code to fix their issue.

[2019-08-13 19:38] sean-mcmanus commented on #4067
I'm not able to reproduce any of the issues you are describing. I see ".c" files being parsed as C files and not C++. Did you try the C/C++: Log Diagnostics command to see what "Standard Version" is being used, i.e. c99?

By "Insiders build" do you mean the VS Code Insiders or the C/C++ Insiders? You can try the non-Insiders build of our extension via setting C_Cpp.updateChannel to "Default".

[2019-08-13 19:49] sean-mcmanus commented on #4058
I'm not sure if we've reproed it yet -- but the fix might be to just set a timer (like we do with our mac crash file watcher) and/or later switch to using a different file watcher API -- VS Code added a vscode.workspace.fs API with 1.37, but that would require us taking a dependency on that newer version (but that API might have the same issue?).

[2019-08-13 19:55] sean-mcmanus commented on #4058
Are you able to check how many seconds it takes for your compile_commands.json to be written? Do you think waiting 5 seconds before processing the change would work? Would possibly delaying the update a few seconds longer than necessary be an issue for you?

[2019-08-13 21:02] rajabala opened #4078 "Find All References doesn't find references to function overrides in derived classes"
If I use 'FindAllReferences' on the (pure) virtual Sync below, I don't get references to the usage in the derived classes. Make it virtual (i.e., not pure) doesn't help either.
It's really helpful to _find all references to overrides of a base class method_, and I'm not sure if FindAllReferences is the tool for this or not. If this is possible in vscode today, I'd love to know how!

[code]

![imag

[2019-08-13 21:06] bobbrow commented on #1989
Fixed as part of #2558

[2019-08-13 21:06] #1989 closed, assigned to nobody

[2019-08-13 21:37] sean-mcmanus opened #4079 "Move C/C++ References to a Tree Views in the References view container"
i.e. https://code.visualstudio.com/api/extension-guides/tree-view#tree-view -- the docs don't say it works with the References view container, but it does.

[code]

Also need to register and implement the tree data provider, e.g. `vscode.window.registerTreeDataProvider('commentReferences', new CommentReferencesProvider());`.

[2019-08-13 21:53] sean-mcmanus commented on #4078
The references are shown as "Not a Reference" in the C/C++: References output. The reason is that the type of Task::Sync is considered different from FooTask::Sync and BarTask::Sync. We might be able to change the "Not a Reference" to something like more informative like "Override Reference" (and "Overload Reference" for the overload case which is also treated the same way currently).

VS behaves

[2019-08-13 22:13] rajabala commented on #4078
Thanks @sean-mcmanus! I gather that there isn't currently a way to get to all the derived references of a symbol, correct? Should I file another issue for that, or would this be repurposed for it?

[2019-08-13 22:23] sean-mcmanus commented on #4078
Well, it finds the derived references, but it's just marking them as "Not a Reference". You don't need to create a new issue.

There's also an issue on "Go to Implementation" to find al the derived class of a base type: https://github.com/microsoft/vscode-cpptools/issues/3941 .

[2019-08-13 23:47] arminAnderson commented on #4071
Hi @Colengms. I was aware of those tokens, but for some reason I was having trouble getting them to 'prioritize' them over the function coloring. I was under the impression that the theme is prioritized top to bottom, but it might be the way my theme json is set up so I'll take a look.

[2019-08-14 00:00] rajabala commented on #4078
Ah, gotcha. Thanks!

[2019-08-14 00:18] sean-mcmanus commented on #4058
We have a potential fix at https://github.com/microsoft/vscode-cpptools/pull/4081 .

[2019-08-14 01:43] lumonix commented on #4078
It would be super helpful if “Find all references” could be configured so it also displays the derived versions.

Our code base is very large and complex and we often have function names such as “Sync” that are used by many different classes that are not all the same “Sync” derived from the same base-class Sync.

Having them all listed as “Not a reference” is not so helpful as you still have to vi

[2019-08-14 01:52] stevenguh commented on #3874
Yes. I tried the workaround, and it works with vs code remote ssh for me. I think it make sense to wait for VS Code to fix their bug. At least there is a workaround for people eager to try.

[2019-08-14 03:18] mdzahidh commented on #4058
The fix looks great given there is no other event such as "closed" being triggered by the fileWatcher. I checked your branch, and it does seem to resolve the problem. Thanks a lot! can't wait for this to see in a released version.

[2019-08-14 03:51] arminAnderson commented on #4071
It appears that TextMate rules prioritize from top to bottom, but that does not appear to be the case for the semantic colorization. Not sure if there is some internal hierarchy for those

[2019-08-14 08:08] Lennon925 commented on #3886
I have solved it, Thanks for your reply.

[2019-08-14 09:29] anatolyburakov commented on #4067
When i say "insiders build" i mean VSCode Insiders - for the extension itself, the update channel is set to "default". I'm also using Remote SSH extension - are you doing that as well when you're reproducing it?

I can reproduce the issue every time.

Here's the diagnostics logs from opening one of the files:
[code]

This is with associations commented out. When enabling associations and reloading

[2019-08-14 09:59] cruzeflute opened #4082 "[WSL] Unable to start debugging (C/C++)"
- VSCode Version: 1.37

- OS Version: Windows 10 - 1803 with WSL

- Extensions (Up-to-date): Remote - WSL, C/C++, C++ Intellisense, CMake.

Start any project, add some easy code, and compile (tasks:Run Build Task).
Begin debugging with the launch.json from https://code.visualstudio.com/docs/cpp/config-wsl.
There will then be a pop-up like the one below:
![vscodeerror](https://user-images.githubuse

[2019-08-14 10:14] Maratk1n commented on #811
I use similar solution.
Firstly, install sources:
[code]
Then make link for folders using `sourceFileMap` in `launch.json`:
[code]

[2019-08-14 10:28] RichardFurness opened #4083 "Find all references not working for anonymous structs in C"
Testing out "find all references" support in the 0.25-insiders version, I've found that if I have a typedef'd anonymous struct i.e.:

typedef struct {
    int foo;
} my_type;

then "find all references" from the typedef or any element of the struct fails to find any references (they all appear as "not a reference" in the output). Conversely, if I do "find all references" from an actual reference,

[2019-08-14 13:35] rufreakde commented on #1631
Found a workaround for me:
first set these in the _settings.json_:
[code]

then navigate into your _.zshrc_ and add:
[code]

I also have here some stuff for my node installation via homebrew->nvm
[code]

Hope this helps you guys. It is still strange since changing the _settings.json_ already sets everything but the `$SHELL` path gets somehow overridden on a later point in time. Setting it in your

[2019-08-14 13:46] rei-vilo opened #4084 "Default argument issue"
**Type: LanguageService**

Calling a function with a default argument and not providing that specific argument raises an error.

**Describe the bug**
- OS and Version: macOS 10.14.6
- VS Code Version: 1.37.0
- C/C++ Extension Version: 0.25.0-insiders
- All other extensions have been disabled.

**To Reproduce**
1. Define a function with a default argument
2. Call that function without providing tha

[2019-08-14 15:16] leocb opened #4085 "Intellisense out of sync after project-level search and replace"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Home - Build 17763
- VS Code Version: 1.37.0 (system)
- C/C++ Extension Version: 0.24.1
- Other extensions: Clang-format - Yes the bug persists

After using the Search and replace (workspace-wide), the Intellisense cannot parse the new field, throwing red squiggles at me (x has no field y)
I can confirm it happens with an

[2019-08-14 15:39] rei-vilo commented on #742
From [c_cpp_properties.json reference | Configuration properties](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference#_configuration-properties)

Why not provide a similar logic for definitions **tasks.json** may read and use from **c_cpp_properties.json**?

[Integrate with External Tools via Tasks | Variable substitution](https://code.visualstudio.com/Docs/editor/tasks#_varia

[2019-08-14 15:48] alanbirtles commented on #1073
Seeing this issue without multi-root workspaces with cpptools 0.24.1, clang-format command line works correctly.

[code]

[2019-08-14 17:30] Colengms commented on #4071
Hi @arminAnderson .  You can elaborate on what you mean by prioritizing from top to bottom?  My understanding is that TM styles should be applied based on scopes, in a cascading manner similar to CSS.  Style for entity.name.function.operation are applied atop of entity.name.function, which is applied atop of entity.name, etc..

[2019-08-14 17:38] pieandcakes commented on #811
@Maratk1n can you share an engine log?

[2019-08-14 17:49] pieandcakes commented on #4082
@cruzeflute Do you have C:\Windows\System32\Bash.exe ? Also, you probably need to replace `System32` with `Sysnative` because the debug adapter runs as a 32bit process, it needs the special folder name to resolve to the 64bit folder.

[2019-08-14 17:50] cathook commented on #2107
I encountered this issue too.  And I found that by modifying `test.zip`
from #1391 a bit, I can reproduce the bug stably.

**Repro project:** [test2.zip](https://drive.google.com/file/d/1fJTxSrdjlKyn-KWGYVOkLTGvfJiDr6Gm/view?usp=sharing)

**Steps to Reproduce:**

1. Unzip the attachment.
2. Open the workspace named `test/test_ws.code-workspace`.
3. Open `0/0.h`; run `Format Document` and the comma

[2019-08-14 18:43] Zylann commented on #3700
I'm having similar issues with structs declared within a class, same errors `a value of type "Example *" cannot be assigned to an entity of type "Example *"`, I searched for the error message on Github but only that issue came up as relevant.

Had stuff like:
![image](https://user-images.githubusercontent.com/1311555/63047019-73167180-becb-11e9-8662-60ad97b5f319.png)

However I closed VSCode and r

[2019-08-14 20:08] bobbrow commented on #2107
If I recall correctly, we were unable to use the document selector because most projects contain code outside the workspace folders (e.g. system headers & 3rd party libraries) and using the selector resulted in VS Code filtering out language server events for those files.  We do intend to use a single client per workspace at some point and it seems based on your analysis that it would probably res

[2019-08-14 21:28] anatolyburakov opened #4086 "Semantic analysis doesn't understand struct names"
I'm trying to customize VSCode's semantic syntax highlighting to be more like editors i am used to. I've hit the following issue:

![cpptools-semantic-analysis-struct](https://user-images.githubusercontent.com/37181601/63057443-25f1ca00-bee2-11e9-8940-8148b1ab153c.PNG)

As can be seen from the screenshot, the TM analysis shows that the editor doesn't understand that "malloc_elem" is a struct name,

[2019-08-14 21:58] matter123 commented on #4086
`Developer: Inspect TM Scope` shows the scopes from the textmate grammar. To customize the semantic colorization refer to https://code.visualstudio.com/docs/cpp/colorization-cpp.

[2019-08-14 22:22] Colengms commented on #4086
Hi @anatolyburakov .  It looks like the TextMate (VS Code) grammar for C does not identify the struct with a scope (entity.name.type.*) as I would expect.  That appears to work as expected in C++, and is handled entirely syntactically.  C++ TextMate grammar matches it syntactically due to following the struct keyword.  It should also be handled properly by the C/C++ extension's semantic colorizati

[2019-08-14 22:38] Colengms commented on #4084
Hi @rei-vilo .  I assume your .ino file is being treated as a C++ file.

I'm not able to repro this with a simple case, such as:
[code]

Does the above code repro for you?  If not, there would seem to be more going on here.  Can you distill your repo to something you can send us?

[2019-08-14 23:13] colonyevan commented on #4082
I have an identical launch.json as the above (with the sysnative change), have double-checked that I have bash in my System32 file and am having this problem.

[2019-08-15 02:52] cathook commented on #2107
Yes, restrict the document selector to workspace folders blocks out some features. If the user invokes commands like "peek definition" and intelliSense in a file in the workspace folder, the command will work fine even if the target class/function is located outside of the workspace folder because it's `clangd` which resolves the header files and parses them. But once the user navigate to that fil

[2019-08-15 03:43] markypizz opened #4087 "Super slow include path parsing"
Hi guys. I know this is going to be super vague but it's an issue I've been dealing with with this extension for as long as I've used it. I work in a very large codebase, 1500-2000+ files with very varying include paths. Some of them are from the root directory, some up to 7 or so folders down. For the sake of keeping our codebase private, I'll give an example of my issue.

The main folder I work

[2019-08-15 03:44] cruzeflute commented on #4082
I try again.All step follow https://code.visualstudio.com/docs/cpp/config-wsl
And the error still exist:
![vscodeerror5](https://user-images.githubusercontent.com/4276563/63071492-101bed80-bf52-11e9-926e-8e30a5f894a3.png)

![vscodeerror6](https://user-images.githubusercontent.com/4276563/63071787-43ab4780-bf53-11e9-99f4-eafd5376cc9e.png)

[2019-08-15 06:09] cnjsdfcy commented on #861
encountered same problem here like @dannyalan under remote-development scene.

[2019-08-15 08:41] Bemteb opened #4088 "IntelliSense not working with __VA_OPT__"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux Mint 18.2
- VS Code Version: 1.37.0
- C/C++ Extension Version: 0.25.0
- Other extensions you installed (and if the issue persists after disabling them): austin.code-gnu-global; disabling it doesn't change anything
- A clear and concise description of what the bug is.

I get an error message when using `__VA_OPT__` in my progra

[2019-08-15 08:45] rei-vilo commented on #4084
Thank you for your answer. `ino` files are associated as `cpp` files.

[code]

Indeed, both the examples provided and shown below work fine.

[code]

Is there a way to force re-indexing the functions for Intellisense and Intellicode?

[2019-08-15 10:33] anatolyburakov commented on #4086
@matter123 @Colengms OK, sure, but according to the page linked about colorization, struct type should be associated with "entity.name.type" and colorized accordingly. In my case, it should be colorized as magenta (`#808`), but it's not being colorized at all. However, if i hover over a variable of that type, the colorization works in the tooltip:

![cpptools-struct-colorization](https://user-imag

[2019-08-15 11:15] Dynamize100 commented on #1698
Spot on thanks

[2019-08-15 12:01] anatolyburakov opened #4089 "Please support semantic highlighting for Doxygen comments"
**Type: LanguageService**

By convention, Doxygen comments use [special comment signature](http://www.doxygen.nl/manual/docblocks.html) to indicate Doxygen comment blocks. IDE's like Qt Creator support these and both colorizes Doxygen comments in different color and provides additional syntax colorization for values in the comment:

![cpptools-doxygen](https://user-images.githubusercontent.com/371

[2019-08-15 16:37] pieandcakes commented on #4082
So i noticed you are using the VS Code `Remote-WSL` extension. If you are, then you don't need the `pipeTransport` blob. The remote extension runs all of the commands natively in bash already.

The `pipeTransport` blob is only needed if you don't have the `Remote-WSL` extension installed/active.

[2019-08-15 16:38] pieandcakes commented on #4082
@colonyevan Can you verify if you are also using the `Remote-WSL` extension from VS Code? If so, see the comment [above](https://github.com/microsoft/vscode-cpptools/issues/4082#issuecomment-521709092)

[2019-08-15 17:03] Maratk1n commented on #811
Where can I find it?

[2019-08-15 17:16] Colengms commented on #4086
Hi @anatolyburakov .  I suspect you are seeing a limitation due to remoting.  In that case, the extension runs on the remote machine where it does not have access to the theme, etc..  Could you confirm by trying this out with local code?

[2019-08-15 17:21] anatolyburakov commented on #4086
@Colengms yes, it appears to work locally. This _is_ a bug then!

[2019-08-15 17:27] HunterZ commented on #4089
Note that a triple-slash `///` before each line is also commonly used to signal Doxygen comments.

[2019-08-15 17:28] pieandcakes commented on #811
This is how you enable [engine logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-debug-adapter)

[2019-08-15 18:07] Gibson85 opened #4090 "[Linux] NullReferenceException when debugger isn't installed"
Hi, I cannot start the debugger (Debian 10). Even whith the latest insider version.

[code]

[code]

[code]
Any ideas whats wrong with this?

[2019-08-15 18:45] matter123 opened #4091 "Code formatter duplicates contents on save when in extension development host"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Mac OS 10.14.15
- VS Code Version: 1.38.0-insider (ba69d8dcccaebbfaa94906503728eb7c3e45b9c1)
- C/C++ Extension Version: 0.25.0-insiders
- Other extensions you installed (and if the issue persists after disabling them): Issue persists after disabling all other extensions
- A clear and concise description of what the bug is.

When sav

[2019-08-15 18:50] sean-mcmanus commented on #4087
Can you enable debug logging and check the logs to see what processing is being done? https://code.visualstudio.com/docs/cpp/enable-logging-cpp .

With 0.25.0-insiders we had to do more parsing of include files in order to get correct Find All References results for headers.

If you see files in folders being parsed that should not be, you should add those folders to files.exclude -- the glob patt

[2019-08-15 19:03] cruzeflute commented on #4082
I delete the pipeTransport, it doesn't work.
I try to delete all json,create them by default.Now it works.
Thank you for your help.

[2019-08-15 19:12] sean-mcmanus commented on #4088
The only released compiler I can find that compiles that is gcc 8.1. `__VA_OPT__` is a new C++20 feature -- our next update of our parser is expected to support this. Our current C++20 support is a small subset.

0.25.0 doesn't have the fix for this -- the fix is available in an internal branch, but we don't feel it's ready to ship yet, because VS isn't shipping it until some issue with the cl.exe

[2019-08-15 20:51] sean-mcmanus commented on #4067
Yeah, I'm not able to repro this with the SSH extension...I don't know what could be different. I don't see how this could occur from reviewing the code either.

@Colengms @michelleangela @bobbrow Any ideas how to get a repro?

[2019-08-15 20:55] markypizz commented on #4087
Sure. Forgot to include that info. I should mention that I've been seeing this issue long before 0.25.0-insiders. This is what occurs when I add the path, and then enable the plugin. I have changed the paths for the privacy of our repo:

[code]

And that's it. Without the path included, it gets through the whole process as normal. I know there should be all the files and folders being parsed after

[2019-08-15 21:15] #4082 closed, assigned to pieandcakes

[2019-08-15 21:18] pieandcakes commented on #4090
You have two configs in your launch.json. which one are you using for the error or are you getting it on both?

Per the bug template, can you enable [engine and trace response logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-debug-adapter) and let me know if you see anything?

[2019-08-15 21:39] pieandcakes commented on #3711
Thanks to @ChristianJacobsen, this fix should be in our next release.

[2019-08-15 22:18] sean-mcmanus commented on #4083
It repros with .c files not .cpp. VS has a similar bug in that uses of "foo" in .c files are marked incorrectly as "Not a Reference", but it finds the defintion -- I think it's the same root bug just with a different symptom due to differences in how the root bug is handled. I've filed bug https://developercommunity.visualstudio.com/content/problem/696662/cc-find-all-references-gives-not-a-referen

[2019-08-15 23:10] sean-mcmanus commented on #4091
Strange -- VS Code is sending us a didOpen and then sending us a didChange, which causes the file contents to get duplicated. I'll try filing a VS Code bug and see what they say.

https://github.com/microsoft/vscode/issues/79252

It's not really a formatting bug, but an internal documentation corruption that the formatting makes visible.

[2019-08-15 23:56] sean-mcmanus commented on #742
VS Code itself controls the execution of tasks.json and there's no way for us to get them to use c_cpp_properties.json info.

[2019-08-16 00:03] sean-mcmanus opened #4092 "IntelliSense error a value of type "Example *" cannot be assigned to an entity of type "Example *""
I'm having similar issues with structs declared within a class, same errors `a value of type "Example *" cannot be assigned to an entity of type "Example *"`, I searched for the error message on Github but only that issue came up as relevant.

Had stuff like:
![image](https://user-images.githubusercontent.com/1311555/63047019-73167180-becb-11e9-8662-60ad97b5f319.png)

However I closed VSCode and r

[2019-08-16 00:05] sean-mcmanus commented on #4092
@Zylann I'm not able to repro this (with 0.25.0-insiders). Are you able to get a repro with some sample code?
 Can you provide more info about how your code is configured/compiled, such as from C/C++: Log diagnostics?

[2019-08-16 00:33] sean-mcmanus commented on #4032
The fix should be in 0.25.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders2 .

[2019-08-16 00:33] sean-mcmanus commented on #3898
The fix should be in 0.25.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders2 . Let us know if there are additional issues in your scenario.

[2019-08-16 00:34] sean-mcmanus commented on #3930
The fix should be in 0.25.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders2 .

[2019-08-16 00:34] sean-mcmanus commented on #3926
The fix should be in 0.25.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders2 .

[2019-08-16 00:35] sean-mcmanus commented on #4058
The fix should be in 0.25.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders2 . Let us know if it doesn't work for you.

[2019-08-16 01:00] mdzahidh commented on #4058
Thanks a lot ! this is working fine now :)

[2019-08-16 02:07] sean-mcmanus commented on #4084
Can you do a Reload Window?

[2019-08-16 02:10] sean-mcmanus commented on #4086
I think we're tracking the bug with https://github.com/microsoft/vscode-cpptools/issues/3942 -- I think we're blocked by VS Code's lack of APIs.

[2019-08-16 02:12] ncoghlan opened #4094 "Stale Intellisense squiggles (reopening)"
**Type: LanguageService**
Reopening #920 as requested on that issue, since I'm still seeing the problem with stale Intellisense squiggles reported there.

**Describe the bug**
- OS and Version: Windows 10 on host, Debian 9 in WSL
- VS Code Version: 1.36.1
- C/C++ Extension Version: 0.24.1 (on both host and inside WSL)
- Other extensions you installed (and if the issue persists after disabling them

[2019-08-16 02:20] sean-mcmanus commented on #4087
I suspect you are hitting https://github.com/microsoft/vscode-cpptools/issues/3123 . You could verify this by attaching a debugger and checking the non-idle call stacks for something like "enumerate_files". Our code tries to iterate over all the files under the includePath/browse.path roots, even those files are not ever used in any way, and all progress will stop until that is finished. The only

[2019-08-16 02:32] sean-mcmanus commented on #4094
This might be the same as bug https://github.com/microsoft/vscode-cpptools/issues/3883 ?

You could also try 0.25.0-insiders2 (https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders2) -- that fixed some bugs with IntelliSense getting into a bad state after edits are made if there are lambda in a method.

We added a "Rescan Workspace" command that will restart the IntelliSense cl

[2019-08-16 02:36] cnjsdfcy commented on #861
hi @dannyalan , maybe I have found the solution about pkexec privilege issue under remote-development/debug scenario . Pls try this setting:
`sudo sysctl -w kernel.yama.ptrace_scope=0`

[2019-08-16 02:37] smwikipedia opened #4095 "Excluded files shouldn't be included in the symbol resolution."
**Type: LanguageService**

**Describe the bug**
I have a folder containing below files. The `func1.c` and `func2.c` contains 2 functions definitions. They are for the same function name but with different implementation.

Below are the folder/file details.

![image](https://user-images.githubusercontent.com/999318/63139380-b75f5a00-c010-11e9-98a6-254cc5021f07.png)

**(func.h)**

`void func();
`

*

[2019-08-16 02:40] sean-mcmanus commented on #4095
Can you try running the Rescan Workspace command? We might have a bug with updating the symbols right away after the files.exclude changes.

[2019-08-16 02:41] sean-mcmanus commented on #4095
Oh, actually, we disable file-based excludes by default. You can re-enable that via changing the C_Cpp.exclusionPolicy setting.

[2019-08-16 03:29] smwikipedia commented on #4095
@sean-mcmanus   (Thanks for your quick response!)

Adding `"C_Cpp.exclusionPolicy": "checkFilesAndFolders",` can solve the problem in my previous scenario.

But for below scenario, the issue remains.

What I change:

- The `.c` and `.h` file content are the same.
- I only change the folder structure and the `settings.json`.
- And add a `c_cpp_properties.json`.

Folder/file structure:

![image](htt

[2019-08-16 03:52] harikrishnan94 commented on #4051
Can "searching" for files containing references be limited to workspace folders, if possible as an option?
Since, IMHO, it may reduce no. of files to be "confirmed". And mostly IMHO, only references within the workspace are required.

[2019-08-16 04:05] xiujiecn opened #4096 "ms-vscode.cpptools-0.25.0-insiders2 fails to run on Mac OS 10.12"
Type: Debugger

**Describe the bug**
- OS and Version:10.12.5 (16F73)
- VS Code Version:1.37.1
- C/C++ Extension Version:0.25.0-insiders2

**Error**
[code]

[2019-08-16 06:02] bobbrow commented on #4086
Correct. This is #3942.  We are working with the VS Code team to give us a more comprehensive API for colorization.

[2019-08-16 06:02] #4086 closed, assigned to nobody

[2019-08-16 07:34] Maratk1n commented on #811
@pieandcakes I sent log via email.

[2019-08-16 08:22] dannyalan commented on #861
Thanks @cnjsdfcy, that totally fixed it. This can be closed off as a Linux issue in that case, not a vscode one.

[2019-08-16 08:57] cyuste opened #4097 "lldb-mi high CPU usage"
Hello,
I am using lastest VS code release:
Version: 1.37.0
Commit: 036a6b1
Date: 2019-08-08T01:22:37.660Z

in a Macbook Mojave 10.14.6 with C/C++ preview extension.
I understand that, well, it is a preview and some things will still need some polishment but when I have a C++ project opened in VS battery duration is drastically reduced. The OS points to VS as the main user of the battery and if you

[2019-08-16 09:09] Timmmm opened #4098 "Click the search icon to preview results - which search icon?"
Minor issue using 0.25.0-insiders2: I tried the new "Find All References..." function, and it starts "confirming" files (weird verb by the way - surely "processing" or "parsing" makes more sense?). Anyway I get this message:

I have no idea which "search icon" it is referring to. I tried a few and none of them showed me any preview results.

[2019-08-16 12:18] mklemarczyk commented on #3097
@sean-mcmanus since the XML format is a native from Microsoft, I think is have higher priority. Especially if you are going to use VS Code for small and quick changes on the project that you are using Visual Studio normally, but it takes less to open VS Code and make a change than open Visual Studio. It would be very helpful.

[2019-08-16 12:29] mklemarczyk commented on #658
Is there any active branch for this feature to contribute to?

[2019-08-16 15:37] rcdailey commented on #2628
Been a while since there have been updates on this (over half a year). When can we expect this to be fixed?

My specific use case is that I have a C++ code base that uses CMake. Should there be some intellisense cache that VS Code creates when I open a folder? Shouldn't it scan and make all symbols quickly searchable when I open a folder? This is basically how Visual Studio IDE works right?

On a

[2019-08-16 16:34] langyo opened #4099 "The formatting tool is not working properly"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10.0.17763.678
- VS Code Version: 1.37.1
- C/C++ Extension Version: 0.24.1
- After formatting, the formatted text is not replaced but appended to the end of the text.

**To Reproduce**
1. Open a c++ file.
2. Copy some source code into it.
3. Right-click to format.
4. See error.

**Expected behavior**
Replace old text with ne

[2019-08-16 17:17] michelleangela commented on #4098
The "search icon" to preview results is on the right side of the status bar.

![image](https://user-images.githubusercontent.com/38734287/63185168-1f607100-c00e-11e9-869b-9bcaab9afcf2.png)

The preview results get displayed on the "REFERENCES:RESULTS" panel.

You can click on the "search icon" again to refresh the preview results. Once the search is complete, the results panel should auto update w

[2019-08-16 17:27] bobbrow commented on #4092
might be another manifestation of #3883

[2019-08-16 17:42] Gibson85 commented on #4090
Ok, forget about it. I simply had no gdb installed :). Was sure I had so...

[2019-08-16 18:43] pieandcakes commented on #4090
@Gibson85 Good to know. I think we should error with a better message. I'll reopen this with a better title.

[2019-08-16 18:52] sean-mcmanus commented on #4099
I believe this is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/4091 (although your repro steps are slightly different). The document is becoming corrupted when it's saved and the formatting is revealing the corrupted document.

[2019-08-16 21:08] bobbrow commented on #4076
Are you referring to the total size of your repo, or just a single source file?
Which language service binary is using 3GB?  `Microsoft.VSCode.CPP.Extension.linux` or `Microsoft.VSCode.CPP.IntelliSense.Msvc.linux`?

[2019-08-16 22:03] matter123 commented on #4089
@anatolyburakov @HunterZ I'm working on Doxygen comment syntax highlighting from the textmate grammar (non-semantic) side. Are you looking for something more comprehensive than the picture in the linked PR. https://github.com/jeff-hykin/cpp-textmate-grammar/pull/354#issuecomment-522101518. Supports both `/**` and `///` style documentation comments.

[2019-08-16 22:07] sdebnath commented on #16
@sean-mcmanus assuming you are talking about better integration with intellisense? @bobbrow?

[2019-08-16 22:10] sean-mcmanus commented on #4096
Looks like Mac 10.12 doesn't support calling C++17 std::visit due to bad_variant_access being undefined: https://stackoverflow.com/questions/52310835/xcode-10-call-to-unavailable-function-stdvisit .

Looks like we'd need to re-write our code to not use std::visit (or some other fix). Until then, the workaround would be to use 0.25.0-insiders or 0.24.1 or upgrade your Mac to 10.14.

[2019-08-17 01:02] sean-mcmanus commented on #4098
Where do you see the verb "confirming"?

The VS Code UI APIs don't allow us to add buttons for commands to the progress UI -- if they fix that we could add a "Preview Results" button. We also can't show an image of the icon in the progress UI unless we use the Unicode search icon, which looks odd.

Is there a reason you didn't notice the search icon in the task bar?

[2019-08-17 01:30] sd3412 opened #4101 "Cannot turn off flame icon"
Whenever I press a key the flame icon has to appear.

This is very annoying. There is no way to limit this behaviour eg. to only the time when the file is being saved.

[2019-08-17 01:33] sean-mcmanus commented on #4095
Hmm...I'm not reproing the bug. The files.exclude is correctly ignoring the browse.path.

Are you able to view the debug logs (https://code.visualstudio.com/docs/cpp/enable-logging-cpp) to see

@Colengms @michelleangela Can any of you repro this?

[2019-08-17 01:35] sean-mcmanus commented on #4101
The flame icon means that IntelliSense parsing is occurring so IntelliSense-results will be delayed or not be available.

A setting could be added to hide/show it. You can right-click the status bar to hide all the C/C++ icons, but that API doesn't allow finer grained control over the visible icons.

[2019-08-17 01:45] sd3412 commented on #4101
In version 1.33.1 on MacOS Mojave, right clicking the status bar in any place does not have any effect; except for right-clicking the portion that shows the current scope, but this simply shows the one-element context menu with the option to "Manage Extension", and clicking on this just sends me to the extension "main page" (?) where I cannot really manage it.

Anyhow, short of overriding "IsUpdat

[2019-08-17 01:53] sean-mcmanus commented on #4101
Yeah, they added the right-click status bar filter ability in the past couple months or so to VS Code.

Modifications to the TypeScript are usually safe as long as you use the release branch and your binaries match the release binaries (i.e. 0.24.1). Using the master branch requires using binaries that are compatible (e.g. from the latest insider release if it's available).

You could also change

[2019-08-17 02:02] sean-mcmanus commented on #16
@sdebnath I'm talking about moving towards more code sharing with VS.

[2019-08-17 02:11] sean-mcmanus opened #4102 "Add ability to limit Find All References to scopes: current file, open files, workspace files"
Can "searching" for files containing references be limited to workspace folders, if possible as an option?
Since, IMHO, it may reduce no. of files to be "confirmed". And mostly IMHO, only references within the workspace are required.

_Originally posted by @harikrishnan94 in https://github.com/microsoft/vscode-cpptools/issues/4051#issuecomment-521874558_

[2019-08-17 02:12] sean-mcmanus commented on #4102
@harikrishnan94 Yeah, VS supports this, although it has a dropdown to select the scope...not sure how we'd expose the setting. Maybe just a simple C_Cpp.findAllReferencesScope setting with values CurrentDocument, OpenDocuments, CurrentWorkspaceFolder, AllBrowsePaths

UPDATE: We could also add a Change References Scope command that could appear when the search icon is clicked.

[2019-08-17 02:24] sean-mcmanus commented on #3097
@mklemarczyk I believe our current plan is to start moving towards more code sharing so VS gets doxygen comment support and VS Code gets XML comment support as well.

[2019-08-17 02:25] cnjsdfcy commented on #861
@dannyalan , actually I am doing a mixed python/C++ debug under vscode remote-development from windows to Linux, and following the calls from python into C++ are a little inconvenient since I have to stop at python breakpoints first then switch to gdb and attach it to python process, and then stop in gdb again and back to python and continue the python process, and then, I have to switch back to g

[2019-08-17 02:27] sean-mcmanus commented on #658
No, it's in our closed source code. Stuff that could be contributed to in the TypeScript could be found in the list https://github.com/Microsoft/vscode-cpptools/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22 .

[2019-08-17 02:35] sean-mcmanus commented on #2628
@rcdailey The work hasn't been scheduled.

We added Find All References (https://github.com/microsoft/vscode-cpptools/releases/tag/0.25.0-insiders2) -- that might give a better experience? It requires that all the files be configured correctly for IntelliSense though, unless the symbol search.

The "Type to search for symbols" UI behavior is controlled by VS. Find All References has a better progr

[2019-08-17 02:50] EmbeddedBacon commented on #861
@cnjsdfcy , I have been searching for a nice method of debugging code similar, though I am using C.  I have tried to setup a launch session to start the Python script, which loads up the c shared object (SO).  I could never debug the C SO when launching from the Python script.  I would have to pause the Python execution, used 'raw_input("Attach to process now")' during a Python init routine, then

[2019-08-17 04:26] smwikipedia commented on #4095
As far as the workspace explorer is concerned, the `files.exclude` successfully ignore the `browse.path`.  But as to the symbol resolving, the result is incorrect.

The `folder1/func2.c` is excluded by “files.exclude”. But `browser.path` bring back for symbol resolving.

[2019-08-17 07:07] Timmmm commented on #4098
Ah! I didn't look in the status bar.. I guess because I was expecting the button to preview the results to be near where the results are.

Anyway I guess you could just change it to "Click the search icon in the status bar to preview results." Dunno about "task bar". Maybe that's what it's called but I bet most users don't know that.

It isn't literalled "confirming" but "confirmed",  as in "171/1

[2019-08-17 07:12] nygymankussainov commented on #178
<img width="1971" alt="Screen Shot 2019-08-17 at 10 13 04" src="https://user-images.githubusercontent.com/37148632/63207991-a7f71400-c0d7-11e9-8997-6cb4e9c23332.png">

I have the same issue

[2019-08-17 14:18] ghost opened #4103 "GDB got stuck at launching."
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 v1903 (Windows_NT x64 10.0.18362)
- VS Code Version:Version: 1.37.1 (user setup)
- C/C++ Extension Version: Version 0.25.0-insiders2: August 15, 2019

When I tried to debug a C++ program, the debugger got stuck at launching and any input or output was not available. The console was stuck as bellow.
![image](https://user-images.githu

[2019-08-18 08:10] smwikipedia commented on #4095
(@sean-mcmanus , @Colengms , @michelleangela )

I create a repo to reproduce this issue: https://github.com/smwikipedia/fileExclude
There are **2** unexpected results.

To ease the mind, I draw an illustration of the general folder structure. There are 2 alternative calls for the same function named `func()` from `main.c` to the `func1.c` or `func2.c`.  This is quite often to see where different i

[2019-08-18 11:37] huww98 commented on #3959
I'm interested in this. So I did some research on the source code of clang-format. This behavior is the result of the following code.

https://github.com/llvm/llvm-project/blob/b4806822d2d52e0e7a29ba1c15a435e2e97a82e7/clang/lib/Format/TokenAnnotator.cpp#L3007-L3010

So it seems if you write `cout << "abc" << "def" << endl;`, it assume you want to put these two string literals on different lines. A

[2019-08-18 13:05] elicn opened #4104 "Preprocessor scopes are wrong"
Issue Type: <b>Bug</b>

Preprocessor conditions are not well parsed, causing mismatches between corresponding `#ifdef` / `#else` / `#endif` directives. As a result, collapsing an `#ifdef` scope collapses the wrong scope. Observed mostly in nested `#ifdef`'s / `#else`'s.

Extension version: 0.25.0-insiders2
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.

[2019-08-18 18:30] navyxliu commented on #4096
Thanks! I can confirm that '0.25.0-insiders' works on Macos 10.12.

I don't have a brave heart. Is it possible to tell vcode doesn't update preview or insiders revision for me?  I'd like to stay on stable version.

[2019-08-19 04:48] pfeerick commented on #1404
When you set
[code]

the precompiled headers (ipch) will go in the folder specified via intelliSenseCachePath and the database whereever you specific databaseFilename to go. .e.g.

[code]

put both in a `vscode-cpptools` subfolder of `R:\` (a ramdrive in this instance)

[2019-08-19 05:20] azenapow commented on #4104
![postprocess_error](https://user-images.githubusercontent.com/16533954/63240817-390eec00-c28c-11e9-8090-25e27edc725a.png)

I have neither.
Extension version: 0.25.0-insiders2

[2019-08-19 05:33] matter123 commented on #4104
@azenapow That is a bug with the TextMate grammar for C++ (endif should not terminate the comment). Could you file an issue at https://github.com/jeff-hykin/cpp-textmate-grammar with that picture and a text version.

Edit: submitted.

[2019-08-19 07:54] kilowu opened #4105 "Single quote in setupCommands' description is not escaped correctly"
Type: Debugger

**Describe the bug**
- OS and Version: Mac OS X 10.14.1
- VS Code Version: 1.37.0
- C/C++ Extension Version: 0.24.1
- A clear and concise description of what the bug is.

If the descriptions of setupCommands contains single quote character, the debugger won't launch.

**To Reproduce**
launch.json
[code]

Steps to reproduce the behavior:

Start the debugger with the above launch con

[2019-08-19 08:07] anatolyburakov commented on #4089
@matter123 yes it looks great. as long as it's possible to have it as a different color than normal comments, and have even rudimentary syntax highlighting within comments, i'll be quite happy!

[2019-08-19 10:45] Matze693 commented on #3959
Thank you very much for your research! 😄

Of course to concatenate two string literals is a valid solution in this case. But sometimes I want to output a string and some other object of any type. In this case the `cout` syntax is komfortable, in my option.

Anyway this behavior is coming from clang-format, therefore I`d suggest to close this issue.

[2019-08-19 11:03] arminAnderson commented on #4071
Hey @Colengms, I meant that the textmate rules seem to always be considered second when the semantic colorization is enabled.

For example:
* ScopeA is supposed to colored blue (Intellisense scope)
* ScopeA.B is supposed to be colored green (TM scope)

There doesn't seem to be anything I can do about getting the semantic colorization to not be prioritized. In this case, even though ScopeA.B is def

[2019-08-19 11:25] tokyophil commented on #4098
I had the same problem. I tried the search icon on the left, which i usually use for searching. I did not expect another search icon to click and did not notice the one in the status bar.
Also, i clicked the settings icon, because i thought that maybe the settings icon in the message is representing the icon i should click... (see screenshot)
![Searchicon](https://user-images.githubusercontent.com

[2019-08-19 11:29] huww98 commented on #3959
If you output a string and some other object, i.e. `cout << "abc" << 123 << endl`, clang-format will not break it into two lines. this behaviour is specific to two string literals in succession.

[2019-08-19 11:32] Matze693 commented on #3959
Okay, my mistake, I only tested it with two string literals. :laughing:

[2019-08-19 11:36] ghost commented on #4103
I think I found the key reason. I have set the utf-8 as global code page and this behavior cause the problem “  \"Undefined command: \\\"\\\".  ”
![image](https://user-images.githubusercontent.com/25098387/63262393-65d8f880-c2b8-11e9-9176-1a5505616054.png)

[2019-08-19 12:32] #4072 closed, assigned to nobody

[2019-08-19 15:27] ghost commented on #4054
Well now I'm getting
[code]
which means I can't even enable the C/Cpp tools error logs.

VScode version 1.37.1

[2019-08-19 17:54] michelleangela commented on #178
@nygymankussainov , you may be having this issue #4096, but it only seems to occur on macOS version 10.12. Can you confirm your OS by posting at issue #4096?

[2019-08-19 18:18] michelleangela commented on #4098
Would it be helpful if the search icon is a different color so that it is more noticeable? Like the "flame" icon for IntelliSense parsing is red?

[2019-08-19 18:26] michelleangela commented on #2961
Closing this issue. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:26] #2961 closed, assigned to nobody

[2019-08-19 18:27] michelleangela commented on #3186
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:27] #3186 closed, assigned to nobody

[2019-08-19 18:28] michelleangela commented on #2801
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:28] #2801 closed, assigned to nobody

[2019-08-19 18:29] michelleangela commented on #756
Closing this issue due to long inactivity.

[2019-08-19 18:29] #756 closed, assigned to nobody

[2019-08-19 18:30] michelleangela commented on #2835
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:30] #2835 closed, assigned to nobody

[2019-08-19 18:31] michelleangela commented on #2607
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:31] #2607 closed, assigned to nobody

[2019-08-19 18:31] michelleangela commented on #2910
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:31] #2910 closed, assigned to nobody

[2019-08-19 18:32] michelleangela commented on #2630
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:32] #2630 closed, assigned to nobody

[2019-08-19 18:32] michelleangela commented on #2960
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:32] #2960 closed, assigned to nobody

[2019-08-19 18:33] michelleangela commented on #2596
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:33] #2596 closed, assigned to nobody

[2019-08-19 18:33] michelleangela commented on #2769
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:33] #2769 closed, assigned to nobody

[2019-08-19 18:34] michelleangela commented on #2880
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:34] #2880 closed, assigned to nobody

[2019-08-19 18:34] michelleangela commented on #2687
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:34] #2687 closed, assigned to nobody

[2019-08-19 18:34] michelleangela commented on #2702
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:34] #2702 closed, assigned to nobody

[2019-08-19 18:35] michelleangela commented on #2729
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:35] #2729 closed, assigned to nobody

[2019-08-19 18:35] michelleangela commented on #2757
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:35] #2757 closed, assigned to nobody

[2019-08-19 18:35] michelleangela commented on #2776
Closing this issue due to long inactivity.

[2019-08-19 18:35] #2776 closed, assigned to nobody

[2019-08-19 18:35] michelleangela commented on #2804
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:35] #2804 closed, assigned to nobody

[2019-08-19 18:36] michelleangela commented on #2832
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:36] #2832 closed, assigned to nobody

[2019-08-19 18:37] michelleangela commented on #2877
Closing this issue as it's resolved according to the last comment.

[2019-08-19 18:37] #2877 closed, assigned to nobody

[2019-08-19 18:37] michelleangela commented on #2892
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:37] #2892 closed, assigned to nobody

[2019-08-19 18:38] michelleangela commented on #2898
Closing this issue due to long inactivity and it does not repro according to the last comment.

[2019-08-19 18:38] #2898 closed, assigned to nobody

[2019-08-19 18:38] michelleangela commented on #2918
Closing this issue due to long inactivity.

[2019-08-19 18:38] #2918 closed, assigned to nobody

[2019-08-19 18:39] michelleangela commented on #2947
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:39] #2947 closed, assigned to nobody

[2019-08-19 18:39] michelleangela commented on #2948
Closing this issue due to long inactivity.

[2019-08-19 18:39] #2948 closed, assigned to nobody

[2019-08-19 18:40] michelleangela commented on #2951
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:40] #2951 closed, assigned to nobody

[2019-08-19 18:41] michelleangela commented on #3040
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:41] #3040 closed, assigned to nobody

[2019-08-19 18:41] michelleangela commented on #3013
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:41] #3013 closed, assigned to nobody

[2019-08-19 18:43] michelleangela commented on #3252
Closing this issue due to long inactivity and there maybe a possible solution according to the last comment. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:43] #3252 closed, assigned to nobody

[2019-08-19 18:43] michelleangela commented on #2167
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:43] #2167 closed, assigned to nobody

[2019-08-19 18:44] michelleangela commented on #2048
Closing this issue due to long inactivity and resolved according to the last comment.

[2019-08-19 18:44] #2048 closed, assigned to nobody

[2019-08-19 18:45] michelleangela commented on #2773
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:45] #2773 closed, assigned to nobody

[2019-08-19 18:46] michelleangela commented on #2481
Closing this issue as the cause is external.

[2019-08-19 18:46] #2481 closed, assigned to nobody

[2019-08-19 18:46] michelleangela commented on #1461
Closing this issue due to long inactivity.

[2019-08-19 18:46] #1461 closed, assigned to nobody

[2019-08-19 18:47] michelleangela commented on #2446
Closing this issue due to long inactivity and a duplicate.

[2019-08-19 18:47] #2446 closed, assigned to nobody

[2019-08-19 18:48] michelleangela commented on #2098
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:48] #2098 closed, assigned to nobody

[2019-08-19 18:49] michelleangela commented on #2490
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:49] #2490 closed, assigned to nobody

[2019-08-19 18:49] michelleangela commented on #3085
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:49] #3085 closed, assigned to nobody

[2019-08-19 18:50] michelleangela commented on #2857
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:50] #2857 closed, assigned to nobody

[2019-08-19 18:58] michelleangela commented on #3281
Closing this issue as it's resolved according to the last comment.

[2019-08-19 18:58] #3281 closed, assigned to nobody

[2019-08-19 18:58] michelleangela commented on #3374
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:58] #3374 closed, assigned to nobody

[2019-08-19 18:59] michelleangela commented on #3138
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:59] #3138 closed, assigned to nobody

[2019-08-19 18:59] michelleangela commented on #3482
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:59] #3482 closed, assigned to nobody

[2019-08-19 18:59] michelleangela commented on #3459
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-19 18:59] #3459 closed, assigned to nobody

[2019-08-19 19:50] sean-mcmanus commented on #4104
We're tracking the code folding issue with https://github.com/microsoft/vscode-cpptools/issues/407 .

[2019-08-19 19:50] #4104 closed, assigned to nobody

[2019-08-19 19:56] sean-mcmanus commented on #4096
@navyxliu You can set C_Cpp.updateChannel to "Default" to avoid getting updated to our latest "insider" vsix's.

[2019-08-19 20:37] sean-mcmanus commented on #4095
@smwikipedia Thanks for the detailed repro steps.

The issue in No. 6 is caused by your browse.path being empty ([]) -- that causes us to not parse any files unless they're opened, which is why doing step 7 fixes it for you. Changing that to be `"path": [ "${workspaceFolder}" ]` fixes it.

Okay, I repro the bug in No. 10 now -- investigating (something is causing the files.exclude check to be skip

[2019-08-19 20:50] sean-mcmanus commented on #1404
@pfeerick Your suggested config change will cause all multiple workspaces to use the same database file, which is probably not what you want. The suggested fix would be to add the storage hash to the databaseFilename, but we haven't implemented that yet.

[2019-08-19 22:34] #3959 closed, assigned to nobody

[2019-08-19 22:38] sean-mcmanus commented on #4054
@johnmarkwayve Look like there was a problem installing the binary. Can you try doing a clean install of the extension? The .vsix has the binary in it so either it was deleted or there was some failure during the download/install process. You could also try changing the C_Cpp.updateChannel to "Default" to get the non-Insiders version.

[2019-08-19 22:52] sean-mcmanus commented on #3937
We'll change it back to use the "resource" scope for now, and then later change it to use the "machine-overridable" scope.

[2019-08-19 23:34] pfeerick commented on #1404
@sean-mcmanus That would be the ideal fix. Thankfully, this works quite well with multi-root workspaces, since when the file already exists, a number is appended to the name..., so there must already be some filename collision detection logic in place.

![image](https://user-images.githubusercontent.com/5500713/63306373-97d87200-c32d-11e9-9e76-fc0a56f7ab17.png)

[2019-08-19 23:56] sean-mcmanus commented on #1404
@pfeerick The additional database files gets created whenever the database is locked by another process -- the expected scenario is when the same folder is opened in 2 different VS Code instances (or VS Code and VS Code Insiders). The problem with relying on this behavior when the workspaces are different is that the database will likely need to be recreated every time and/or it may contain stale

[2019-08-20 00:16] pieandcakes commented on #4103
Duplicate of: https://github.com/microsoft/vscode-cpptools/issues/1527

[2019-08-20 00:16] #4103 closed, assigned to nobody

[2019-08-20 00:18] michelleangela commented on #3633
@vindicatorr, sorry for the delayed investigation on this issue and thank you for providing logs.

IntelliSense for C++ cannot be compared with IntelliSense for VB or CSharp as the languages are compiled and processed differently and use different IntelliSense.

**IntelliSenseMode**
From the logs, the IntelliSenseMode is `clang-x64` because the compiler that is found and used by IntelliSense engin

[2019-08-20 00:35] #4105 closed, assigned to pieandcakes

[2019-08-20 00:36] smwikipedia commented on #4095
@sean-mcmanus  Many thanks for the response.

The reason I didn't put `"${workspaceFolder}"` in `browse.path` is that I want to **reduce the scope that VS Code needs to scan for symbols**. I want VS Code to **only** scan the folders I put it in the `browse.path`. I guess this is a natural thing to do.

As I tried, putting the `${workspaceFolder}` in `browse.path` greatly increased the number of fi

[2019-08-20 01:14] sean-mcmanus commented on #4095
The bug we fixed for our pending release (either Tuesday or Wednesday) is the bug with files.exclude failing to work.

I don't understand what other change is desired. You can use "${workspaceFolder}/*" if you want the browse.path to be non-recursive. Then you can add whatever subfolders you want to the browse.path to add more paths for the symbols you care about finding.

The database should norm

[2019-08-20 01:28] smwikipedia commented on #4095
@sean-mcmanus

In my scenario, I didn't put either `${workspaceFolder}` or `${workspaceFolder}/*`  in the `browse.path` because I want to be explicit. I don't want to put any unnecessary folders there. (**Do I have to?**)

I only put the folders I care about in it. These folders are those containing files that indeed participated in a build.

If the fix can make `browse.path` take into considerati

[2019-08-20 02:16] sean-mcmanus commented on #4095
You don't need ${workspaceFolder} in the path, but it probably should not be blank, i.e. you could use "folder2" or "${workspaceFolder}/folder2".

[2019-08-20 02:23] smwikipedia commented on #4095
I guess you mean `${workspaceFolder}/folder1` because that's the folder containing `func()` definition file.

I put the `${workspaceFolder}/folder1` in the `browse.path`.  It cause the same issue as I put just `folder1` there.

![image](https://user-images.githubusercontent.com/999318/63312488-4bdcfb80-c334-11e9-86f0-a38ffae2457e.png)

The excluded `func2.c` is still found.

![image](https://user-

[2019-08-20 03:14] pfeerick commented on #1404
Drats! Thanks for the explanation Sean, I get it, it's likely to backfire on me at some point until the storage hash is exposed in a manner it can be used (variable?). Chances are pretty remote though as I've got it on a ramdisk on Windows, and tmpfs on linux, so it needs to recreate from scratch every time anyway, and and don't often switch workspaces so not too much chance for it to get confused

[2019-08-20 03:20] vindicatorr commented on #3633
Odd, because earlier:

I'm on linux and have both clang and gcc installed and I had Intellisensemode set to gcc-x64.
In any case, I did what you suggested and specified
"C_Cpp.default.compilerPath": "/usr/bin/gcc" along with
"C_Cpp.default.intelliSenseMode": "gcc-x64" and everything is copasetic.
The diagnostic log now states: "IntelliSense Mode: gcc-x64"

Though it may be nothing, the c++ log sti

[2019-08-20 04:06] azenapow commented on #4104
@matter123 Thanks your kindly.

[2019-08-20 04:44] alexzshl opened #4108 "gdb stop at entry"
Issue Type: <b>Bug</b>

Extension version: 0.24.1
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17134

in launch.json,the setup bellow

`"stopAtEntry": true,`

This setup has different performance on different debuggers

If I use gdb.exe, it will stop at entry when I launch a cpp file with F5(launch without debug)

[2019-08-20 08:02] Lennon925 commented on #4036
Currently it's slow to find all references if there are many code files in your project.

[2019-08-20 08:08] Lennon925 commented on #4038
Currently it's slow to find all references if there are many code files in your project. It will be better if it can find references faster.

[2019-08-20 08:17] Lennon925 commented on #4102
I think it will be better if you can add ability to find all references by some certain folders. User can search references in these folders.

[2019-08-20 10:15] nygymankussainov commented on #4096
I confirm that I have MacOS 10.12.6 version and I have this problem **The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.**

[2019-08-20 16:10] pieandcakes commented on #4108
@alexzshl Correct. `stopAtEntry` only works when debugging and with `gdb.exe`, we currently don't support `launch without debug` so it defaults to debugging.

[2019-08-20 16:13] #4108 closed, assigned to pieandcakes

[2019-08-20 16:17] sweettyler opened #4109 "C++ syntax highlighting incorrect for variable instance"
Please see https://github.com/microsoft/vscode/issues/79520 for detail.

[2019-08-20 16:27] sweettyler commented on #4109
Same problem even with the latest version 0.25.0-insiders2.

[2019-08-20 17:34] Colengms commented on #4109
Hi @sweettyler .  I'm unable to reproduce the issue with the information provided.  If I add a minimal class to allow the code you posted to the other thread to compile, I get the following:

![image](https://user-images.githubusercontent.com/49173979/63369790-8c894480-c335-11e9-97fe-5578a3d7a87e.png)

There must be something about other code being parsed that is leading to an issue.  Could you pr

[2019-08-20 17:38] Colengms commented on #4109
Actually, based the image you posted, it looks like your code started on line 1 without defining myFile.  Are you using a forced include?  I would at least expect to see squiggles due to myFile not being defined.

[2019-08-20 18:07] sketch34 commented on #2609
I'm running into the same issue, the `sourceFileMap` doesn't help. When I try to step into a function in this source file:

`Unable to open 'mod.cpp': Unable to read file (Error: File not found (c:\Dev\gitmodules\core\src\common\core\mod.cpp)).`

I am remapping the path to the correct directory:

[code]

The entire source tree is _right there_, there just seems to be no way to tell VSCode-CPPTools

[2019-08-20 18:40] pieandcakes commented on #2609
@sketch34 Can you enable [logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_logging-for-visual-c-debugger) and let me know what the output is? that looks correct so it should be replaced.

I wonder if its returning a relative path instead of a fully rooted one.

[2019-08-20 18:48] sketch34 commented on #2609
**Update** @pieandcakes: error between keyboard and chair. It was my fault, I had one too many `"..\\"`. Thanks for the logging tip, I'll use that to debug my own mistakes in the future.

[2019-08-20 19:17] asreerama commented on #513
I finally found something that worked for me:
Simply add
`setbuf(stdout, 0);
cout << "blah blah";
`
before printing any statements to the console.

[2019-08-20 19:22] sweettyler commented on #4109
Hi @Colengms You are right - if you have defined the class "myFile" then you cannot reproduce what I said. I happened to notice this issue as I first started writing the main() and at that time the class "myFile" was not ready yet. However, my point is, the two variables, "myInput" and "myOuput" should not be highlighted in different colours (not matter the class "myFile" is defined or not).

[2019-08-20 19:35] #4090 closed, assigned to pieandcakes

[2019-08-20 19:39] sean-mcmanus commented on #4036
FYI, adding this setting wouldn't make Find All References faster -- it would just enable users to use less cores, making Find All References slower (not sure why a user would want that...maybe if the 100% CPU usage causes their machine to freeze up?). And there are certain points in the operation that will use less cores.

[2019-08-20 19:44] sean-mcmanus commented on #4102
@Lennon925 What do you mean by "certain folders"? How would the folders be chosen? Right now, the initial of files for potential references is the entire browse database (i.e. all files with parsed symbols), which can be made smaller via using "*" to remove recursiveness and/or adding folders to files.exclude.

[2019-08-20 19:47] Colengms commented on #4109
I also cannot repro an issue with this as the only content.  Rather, I see:

![image](https://user-images.githubusercontent.com/49173979/63378628-800de780-c347-11e9-9d83-51ac7c58a588.png)

VS Code provides syntactic colorization (TextMate grammar rules).  The C/C++ extension adds semantic colorization over that.  Semantic colorization is based on having essentially compiled the file to determine c

[2019-08-20 19:53] sean-mcmanus commented on #4038
To be more specific, doing this change would only decrease the time it takes in the "confirming" phase when the same file has to be confirmed that was already confirmed in a previous Find All References operation. But if you did 2 Find All References that had to confirm references in 16 different files, then there would be no speed up. The speed up would be equivalent to the speed up a user would

[2019-08-20 19:54] pieandcakes commented on #4030
Fix: https://github.com/microsoft/MIEngine/pull/920

[2019-08-20 19:59] pieandcakes commented on #4022
@DukeLaze I haven't been able to repro but I also noticed that you aren't compiling with `-g` flag to enable debug symbols. That shouldn't be causing the problem but you'll run into an error later.

When you reinstalled cpptools, did you verify that the `c:\\users\\<your_username>\\.vscode\extensions` folder did not have the `cpptools` extension folder in it before you reinstalled? Try uninstallin

[2019-08-20 20:10] pieandcakes commented on #4017
@CloudyMcFox can you try and end the left side with `\\` and make sure your right hand side is `g:\\Source\\Engine\\src\\` ?

[2019-08-20 20:11] pieandcakes commented on #4024
@kylrth This will be fixed in the next release

[2019-08-20 20:21] sweettyler commented on #4109
Hi @Colengms it seems to be related with semantic colorization. If I disable it then "myInput" and "myOuput" are all in white. I still don't have these squiggles, but I think it may appear if I enable or disable some other settings.

[2019-08-20 20:40] sweettyler commented on #4109
I also found another small bug, to reproduce it:
1) set "C_Cpp: Enhanced Colorization" to "enabled";
2) make sure "new_file.cc" doesn't exist;
3) type "code new_test_file.cc" and press "enter";
3) copy the five lines of my example code to the VScode window, and press "ctrl+s" to save it;
4) notice at this step "myInput" is in white (see attached screenshot);
5) exit VScode;
6) type "code new_file.

[2019-08-20 20:41] sweettyler commented on #4109
so relaunching VScode makes some difference.

[2019-08-20 21:03] pieandcakes commented on #4004
@alanbirtles can you enable [traceResponse and engineLogging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-debug-adapter) and see if theres anything in the log thats helpful? I've tried the scenario and I don't see how it isn't getting set because if it is invalid, you would get an error message otherwise we set it.

The code that handles this is [here](https:/

[2019-08-20 21:05] sean-mcmanus commented on #4109
Your repro steps match https://github.com/microsoft/vscode-cpptools/issues/4091 so the root cause could be the same, i.e. creating a new file and saving it will cause our underlying document object to have duplicate results, which can be shown via formatting, but it may also break IntelliSense-based stuff (fix should be in our pending 0.25.0 release).

[2019-08-20 21:06] pieandcakes commented on #3921
@tdjastrzebski Would you be able to run `info pretty-printer` in your version of `gdb` and see if any pretty printers exist for the type you want? That command should show all the pretty printers in that version of `gdb`. I suspect that it is missing files.

[2019-08-20 21:10] matter123 commented on #4109
@sean-mcmanus I can reproduce even if I run `pkill code` (which terminates any Microsoft.VSCode.CPP.* processes) and open a fresh copy of vscode.

[2019-08-20 21:32] ghost commented on #4030
Thank you!

[2019-08-20 21:47] #3472 closed, assigned to nobody

[2019-08-20 22:04] michelleangela commented on #1880
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:04] #1880 closed, assigned to nobody

[2019-08-20 22:06] michelleangela commented on #2680
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:06] #2680 closed, assigned to nobody

[2019-08-20 22:10] michelleangela commented on #1065
We are currently unable to address this feature request since we are focusing on higher priority features and bugs right now.  We'll tag this for follow up in case it receives more interest from the community, but to keep our issue count manageable, we're closing this issue for now.

[2019-08-20 22:10] #1065 closed, assigned to nobody

[2019-08-20 22:13] michelleangela commented on #1791
We are currently unable to address this feature request since we are focusing on higher priority features and bugs right now.  We'll tag this for follow up in case it receives more interest from the community, but to keep our issue count manageable, we're closing this issue for now.

[2019-08-20 22:13] #1791 closed, assigned to nobody

[2019-08-20 22:13] michelleangela commented on #2800
We are currently unable to address this feature request since we are focusing on higher priority features and bugs right now.  We'll tag this for follow up in case it receives more interest from the community, but to keep our issue count manageable, we're closing this issue for now.

[2019-08-20 22:13] #2800 closed, assigned to nobody

[2019-08-20 22:14] pieandcakes commented on #3389
This should be resolved as I've tested it with 0.25.0 and it works with @adashen's example after i add `procps` to be installed in the Dockerfile.

[2019-08-20 22:16] michelleangela commented on #4023
Closing issue as resolved.

[2019-08-20 22:16] #4023 closed, assigned to nobody

[2019-08-20 22:16] pieandcakes commented on #3389
It was fixed with https://github.com/microsoft/vscode-cpptools/commit/b763aa57d368e009300f4492e90684c0c25e4a52#diff-63bdf79ee71cadec1ca8f47ee4c87c0c .

[2019-08-20 22:16] #3389 closed, assigned to pieandcakes

[2019-08-20 22:17] michelleangela commented on #2032
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:17] #2032 closed, assigned to nobody

[2019-08-20 22:18] pieandcakes commented on #2000
Closing this as a stale issue. Please comment/reopen if theres additional help needed.

[2019-08-20 22:18] #2000 closed, assigned to pieandcakes

[2019-08-20 22:19] michelleangela commented on #1651
Closing this issue due to long inactivity.

[2019-08-20 22:19] #1651 closed, assigned to nobody

[2019-08-20 22:19] michelleangela commented on #1479
Closing this issue due to long inactivity and duplicate.

[2019-08-20 22:19] #1479 closed, assigned to nobody

[2019-08-20 22:19] michelleangela commented on #2713
Closing this issue due to long inactivity and by design.

[2019-08-20 22:19] #2713 closed, assigned to pieandcakes

[2019-08-20 22:20] michelleangela commented on #2798
Closing this issue due to long inactivity and by design.

[2019-08-20 22:20] #2798 closed, assigned to nobody

[2019-08-20 22:20] michelleangela commented on #2839
Closing this issue due to long inactivity and by design.

[2019-08-20 22:20] #2839 closed, assigned to nobody

[2019-08-20 22:20] michelleangela commented on #2845
Closing this issue due to long inactivity and by design.

[2019-08-20 22:20] #2845 closed, assigned to nobody

[2019-08-20 22:25] michelleangela commented on #738
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:25] #738 closed, assigned to nobody

[2019-08-20 22:25] michelleangela commented on #735
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:25] #735 closed, assigned to nobody

[2019-08-20 22:25] michelleangela commented on #806
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:25] #806 closed, assigned to nobody

[2019-08-20 22:26] michelleangela commented on #1045
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:26] #1045 closed, assigned to nobody

[2019-08-20 22:26] michelleangela commented on #928
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:26] #928 closed, assigned to nobody

[2019-08-20 22:26] michelleangela commented on #990
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:26] #990 closed, assigned to nobody

[2019-08-20 22:26] michelleangela commented on #1189
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:26] #1189 closed, assigned to nobody

[2019-08-20 22:27] michelleangela commented on #1226
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:27] #1226 closed, assigned to nobody

[2019-08-20 22:27] michelleangela commented on #1277
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:27] #1277 closed, assigned to nobody

[2019-08-20 22:27] michelleangela commented on #1356
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:27] #1356 closed, assigned to nobody

[2019-08-20 22:27] michelleangela commented on #608
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:27] #608 closed, assigned to nobody

[2019-08-20 22:27] michelleangela commented on #1195
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:27] #1195 closed, assigned to nobody

[2019-08-20 22:28] michelleangela commented on #1496
Closing this issue as resolved per last comment.

[2019-08-20 22:28] #1496 closed, assigned to nobody

[2019-08-20 22:28] michelleangela commented on #1052
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:28] #1052 closed, assigned to nobody

[2019-08-20 22:28] michelleangela commented on #1509
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:28] #1509 closed, assigned to nobody

[2019-08-20 22:28] michelleangela commented on #1594
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:28] #1594 closed, assigned to nobody

[2019-08-20 22:30] michelleangela commented on #1739
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:30] #1739 closed, assigned to nobody

[2019-08-20 22:30] michelleangela commented on #1541
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-20 22:30] #1541 closed, assigned to nobody

[2019-08-20 22:31] michelleangela commented on #1514
Closing as recursive include paths resolves issue.

[2019-08-20 22:31] #1514 closed, assigned to nobody

[2019-08-20 22:32] michelleangela commented on #3689
Closing as duplicate.

[2019-08-20 22:32] #3689 closed, assigned to nobody

[2019-08-20 22:35] sean-mcmanus commented on #4109
@matter123 You repro what exactly? The bug I was referring to in https://github.com/microsoft/vscode-cpptools/issues/4109#issuecomment-523194347 could be caused by a TypeScript issue which could repro repeatedly with a new language server process (following the repro steps at https://github.com/microsoft/vscode-cpptools/issues/4109#issuecomment-523185567 ).

[2019-08-20 22:50] matter123 commented on #4109
that `myInput` is colored cyan.

In particular, my steps are:
1. Completely close vscode
2. In another editor, save the contents to a new `.cpp` file
3. run `code /path/to/new/file.cpp`
4. Observe that `myInput` becomes colored cyan.

[2019-08-20 22:58] Colengms commented on #4109
There is currently a known issue ( https://github.com/microsoft/vscode-cpptools/issues/4091 ) with incorrect behavior after having just launched VS with a new file, which is addressed in the next release (pending).

The issue with having only 1 of the 2 variable instances properly colored is by-design, as semantic colorization depends on essentially compiling the file, and the file is not in a com

[2019-08-20 22:59] sean-mcmanus commented on #3048
This bug is still not fixed.

[2019-08-21 01:23] Lennon925 commented on #4102
I mean maybe you can add 4 scopes like this:
1. CurrentDocument
1. OpenDocuments
1. CurrentWorkspaceFolder (at the same time you can add a folder array so that we can find references from these folders of workspace. Because sometime it's not necessary to search from the whole workspace.)
1. AllBrowsePaths

[2019-08-21 01:46] sean-mcmanus commented on #4102
How would "folder array" be specified? Generally, it's expected that if the workspace has folders that shouldn't be searched for symbols/references, the users would set the browse.path to something like `["${workspaceFolder}/*", "${workspaceFolder/subFolder1WithSymbols", "${workspaceFolder/subFolder2WithSymbols]`, which would have the same effect as a folder array. Is there a reason, that solution

[2019-08-21 01:51] Lennon925 commented on #4102
It's OK. I will try as your suggestion.

[2019-08-21 02:19] AwenChen opened #4116 "This extension does not work in the latest VS Code in macOS"
**Type: LanguageService**

**Describe the bug**
- VS Code Version: 1.37.1
- Extension Version: 0.25.0-insiders2: August 15, 2019
- Commit ID: f06011ac164ae4dc8e753a3fe7f9549844d15e35
- Date: 2019-08-15T16:16:34.800Z
- Electron: 4.2.7
- Chrome: 69.0.3497.128
- Node.js: 10.11.0
- V8: 6.9.427.31-electron.0
- The extension does not work any more, and if I uninstall it, then reinstall it, it would work

[2019-08-21 05:30] tokyophil commented on #4098
Not really, since i never really payed attention to the icons in the status bar and i still would think the search icon would refer to the search button on the left. I think the way it's implemented now in #4106 is the best one with the given circumstances.

[2019-08-21 08:30] alanbirtles commented on #4004
It's really painful to copy the debugger output, you can only select one screen of text at a time.
Here's the output, I couldn't get any output unless I ran with my workaround to get the debugger to actually start:

<details>
<summary>EngineLog</Summary>

[code]

</details>

[2019-08-21 16:27] michelleangela commented on #4116
Duplicate of #4096.

[2019-08-21 16:27] #4116 closed, assigned to nobody

[2019-08-21 16:48] michelleangela commented on #762
Closing this issue due to long inactivity.

[2019-08-21 16:48] #762 closed, assigned to nobody

[2019-08-21 16:49] michelleangela commented on #991
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-21 16:49] #991 closed, assigned to nobody

[2019-08-21 16:49] michelleangela commented on #1007
Closing this issue due to long inactivity.

[2019-08-21 16:49] #1007 closed, assigned to nobody

[2019-08-21 16:50] michelleangela commented on #1056
Closing this issue due to long inactivity.

[2019-08-21 16:50] #1056 closed, assigned to nobody

[2019-08-21 16:51] michelleangela commented on #1157
Closing this issue due to long inactivity.

[2019-08-21 16:51] #1157 closed, assigned to nobody

[2019-08-21 16:51] michelleangela commented on #741
Closing this issue due to long inactivity.

[2019-08-21 16:51] #741 closed, assigned to nobody

[2019-08-21 16:51] michelleangela commented on #1704
Closing this issue due to long inactivity.

[2019-08-21 16:51] #1704 closed, assigned to nobody

[2019-08-21 16:51] michelleangela commented on #1991
Closing this issue due to long inactivity.

[2019-08-21 16:51] #1991 closed, assigned to nobody

[2019-08-21 16:51] michelleangela commented on #2582
Closing this issue due to long inactivity.

[2019-08-21 16:51] #2582 closed, assigned to nobody

[2019-08-21 16:52] michelleangela commented on #1724
Closing this issue due to long inactivity.

[2019-08-21 16:52] #1724 closed, assigned to nobody

[2019-08-21 16:53] michelleangela commented on #1181
Closing this issue due to long inactivity.

[2019-08-21 16:53] #1181 closed, assigned to nobody

[2019-08-21 16:54] michelleangela commented on #1303
Closing this issue due to long inactivity.

[2019-08-21 16:54] #1303 closed, assigned to nobody

[2019-08-21 16:55] michelleangela commented on #1023
Closing this issue due to long inactivity.

[2019-08-21 16:55] #1023 closed, assigned to nobody

[2019-08-21 16:55] michelleangela commented on #1700
Closing this issue due to long inactivity.

[2019-08-21 16:55] #1700 closed, assigned to nobody

[2019-08-21 16:56] michelleangela commented on #1976
Closing this issue due to long inactivity.

[2019-08-21 16:56] #1976 closed, assigned to nobody

[2019-08-21 16:56] michelleangela commented on #2046
Closing this issue due to long inactivity.

[2019-08-21 16:56] michelleangela commented on #2180
Closing this issue due to long inactivity.

[2019-08-21 16:56] #2180 closed, assigned to nobody

[2019-08-21 16:56] michelleangela commented on #2052
Closing this issue due to long inactivity.

[2019-08-21 16:56] #2052 closed, assigned to nobody

[2019-08-21 16:58] michelleangela commented on #2434
Closing as duplicate.

[2019-08-21 16:58] #2434 closed, assigned to nobody

[2019-08-21 16:58] michelleangela commented on #2463
Closing as duplicate.

[2019-08-21 16:58] #2463 closed, assigned to nobody

[2019-08-21 16:59] michelleangela commented on #2223
Closing as duplicate.

[2019-08-21 16:59] #2223 closed, assigned to nobody

[2019-08-21 17:01] michelleangela commented on #3966
Closing as duplicate.

[2019-08-21 17:01] #3966 closed, assigned to nobody

[2019-08-21 17:03] michelleangela commented on #3036
Closing as duplicate.

[2019-08-21 17:03] #3036 closed, assigned to nobody

[2019-08-21 17:04] michelleangela commented on #1283
Closing as external issue.

[2019-08-21 17:04] #1283 closed, assigned to nobody

[2019-08-21 17:04] michelleangela commented on #1935
Closing as external issue.

[2019-08-21 17:04] #1935 closed, assigned to nobody

[2019-08-21 17:07] michelleangela commented on #996
Closing this issue due to long inactivity.

[2019-08-21 17:07] #996 closed, assigned to nobody

[2019-08-21 17:10] michelleangela commented on #2731
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-21 17:10] #2731 closed, assigned to nobody

[2019-08-21 17:14] sweettyler commented on #4109
Semantic colorization exists in several editors and IDEs, like Sublime Text 3 and Eclipse. For the example code, both Sublime Text 3 and Eclipse don't behave as same as VScode does. If this is by design, I think at least some fine-tune is needed.

[2019-08-21 17:17] michelleangela commented on #1120
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-21 17:17] #1120 closed, assigned to nobody

[2019-08-21 17:18] michelleangela commented on #1997
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-08-21 17:18] #1997 closed, assigned to nobody

[2019-08-21 17:25] michelleangela commented on #4099
Closing as duplicate.

[2019-08-21 17:25] #4099 closed, assigned to nobody

[2019-08-21 17:32] michelleangela commented on #2624
Closing this issue due to long inactivity.

[2019-08-21 17:32] #2624 closed, assigned to nobody

[2019-08-21 17:32] Colengms commented on #4109
The Intellisense (and semantic colorization) in the VS Code C/C++ extension is based on code shared from Visual Studio.  Visual Studio shows the same result:

![image](https://user-images.githubusercontent.com/49173979/63453449-8bbbe580-c3fd-11e9-8e3e-16a1955d7fb9.png)

I've opened a feedback item for your issue against VS.  It is [here](https://developercommunity.visualstudio.com/content/problem/

[2019-08-21 17:40] pieandcakes commented on #4004
For the case where it doesn't work, what happens? Do you see an error message?

For reference, I'm looking for the following block for the non-working case so we can see what the `pipeCwd` being passed is.

[code]

Its from the very beginning of the log.

[2019-08-21 18:00] Tyriar commented on #2624
If this is still how the extension works you should reopen this, the C++ extension should use the system that VS Code provides so the experience is consistent across languages and so C++ gets the features we build for it (breadcrumbs, find symbol, outline view).

[2019-08-21 18:03] Tyriar commented on #2624
I guess this is covered by https://github.com/microsoft/vscode-cpptools/issues/2230 so it's fine 🙂

[2019-08-21 20:25] vindicatorr commented on #3174
I see that folks are talking about clang/LLVM with regard to libtinfo, but out of curiosity I did a "pacman -Qo /usr/lib/libtinfo.so.6" (not .5 since it didn't exist) and I see it is owned by ncurses.
So... something is out of date?

I found it really odd that only now have I just encountered this issue.
In my other thread regarding /tmp/edg files, we've gone over the clang/gcc issue as well and I

[2019-08-21 20:56] alanbirtles commented on #4004
I didn't get any output from the non-working case, the log seems to only be printed once GDB actually starts.

[2019-08-21 21:00] pieandcakes commented on #4004
Do you get a pop up ? or does it start and then stop debugging with no output or error message at all?

[2019-08-21 21:01] alanbirtles commented on #4004
There is a popup with something like "couldn't start debugging" and the terminal shows the vagrant output complaining there is no vagrant file in the current directory.

[2019-08-21 21:16] csujedihy commented on #4096
I am seeing the same problem on Windows.

 The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.

[2019-08-21 21:51] sean-mcmanus opened #4117 "Change the 0-3 status bar icons to a single persistent icon?"
This is a proposal to combine the search, flame, and database icons into a single icon that always appears (i.e. a general cpptools icon). The icon would change its image and/or color depending on the work that is occurring
•	No “long running” tasks, i.e. idle or processing quick tasks.
•	Only low priority “background work” (workspace symbol parsing). Operations may be missing symbols in this stat

[2019-08-21 21:57] sean-mcmanus commented on #4096
@csujedihy That is the same symptom with a different root cause. Is this with the 0.25.0-insiders2 or 0.24.1? Can you attach a debugger to the Microsoft.VSCode.CPP.Extension.exe before the crash to get a call stack? If it crashes too early to attach, you could try simplifying the workspace to avoid the crash and then add back in the stuff that makes it crash?

[2019-08-21 22:41] pieandcakes opened #4118 "Open Folder -> Choose new configuration gives an error"
Type: Debugger

In 0.25.0-Insiders2, open a folder but do not open any files.
Go to Debug pane and choose Gear -> C++ (Windows)

Expected:
Windows Configuration in a newly created launch.json

Actual:
Error message: Unable to create 'launch.json' file inside the '.vscode' folder (Cannot read property 'length' of undefined).

[code]

If I open a .cpp file it works fine.

This calls into configurati

[2019-08-21 22:41] pieandcakes commented on #4118
@sean-mcmanus I think this is your area.

[2019-08-21 23:04] michelleangela commented on #3633
The `tmp/edg` files, which are used for caching, are only unlinked or "(deleted)" during runtime of IntelliSense process. The handles of the files are closed when the process terminates. Terminating of the IntelliSense process is delayed by a few seconds when a source file is closed on the VS Code editor. This is in case the file is opened immediately after closing and the same IntelliSense proces

[2019-08-21 23:09] michelleangela commented on #3633
Concerning the Clang stuff you saw in the logs

[code]
This is to only query default settings in case the user does not specify any compiler. It does not mean that Clang is used for the actual IntelliSense processing. It looks like it finds Clang as the default compiler for the machine.

[2019-08-21 23:12] sean-mcmanus commented on #4118
That repros with 0.24.1 too, right? Or is this a regression you think we should fix for 0.25.0?

[2019-08-21 23:25] michelleangela opened #4119 "Reset memory usage of IntelliSense server when reaches certain size"
**Type: LanguageService**

**Issue:**
When editing a source file, memory usage of IntelliSense server for the source file's translation unit will continually grow and end up consuming too much memory

**To Reproduce:**

1. Make a lot of edits/hovers/selection in a class function
2. Memory usage of IntelliSense server grows
3. Make more edits/hovers/selection in a class function
4. Memory usage of

[2019-08-21 23:25] michelleangela commented on #3633
Created issue #4119 to track growing size of memory usage while editing.

[2019-08-22 00:07] pieandcakes commented on #4118
It repros both. I don't know how to fix it as it only repros live and not when i F5 the extension. Might be a check  to `configs` to see if it is null first would be necessary but i don't know if that is the `.length` it complains about.

[2019-08-22 00:14] sean-mcmanus opened #4120 "Opening a header file can sometimes choose a bogus .cpp file for a translation unit"
1. Open a header file.
2. Use the C/C++: Log Diagnostics command.

Bug: The Log sometimes shows a bogus .cpp file being chosen as the TU that doesn't actually include the header file, which could cause other IntelliSense operations to fail.

I hit the repro on Mac, I think with a custom config provider -- let us know if anyone else hits this. It's something we should investigate.

The issue appear

[2019-08-22 00:37] vindicatorr commented on #3633
I had my project open for quite awhile today before seeing your posts.
I had been adding code (ADC/DMA stuff) and rejiggering(/refactoring?) code from one place to another.
Pleasantly/surprisingly, the /tmp folder was <60MB.

I ran a test with your suggestion of just killing off one of those processes. SIGTERM (-15) didn't work and I had to SIGKILL (-9).
Whoof! Ok, what I was about to say but wipe

[2019-08-22 01:06] sean-mcmanus commented on #15
We shipped Find All References (Experimental Version) with 0.25.0. A list of known enhancements/bugs can be found at https://github.com/microsoft/vscode-cpptools/labels/Feature%3A%20Find%20All%20References . Our current plan for 0.26.0 is to add rename and to move the Output window non-confirmed results to the References tree view [#4079](https://github.com/microsoft/vscode-cpptools/issues/4079).

[2019-08-22 01:06] #15 closed, assigned to nobody

[2019-08-22 01:06] #2275 closed, assigned to nobody

[2019-08-22 01:07] #2312 closed, assigned to Jasdriel

[2019-08-22 01:07] #3448 closed, assigned to nobody

[2019-08-22 01:07] #2088 closed, assigned to Jasdriel

[2019-08-22 01:08] #2417 closed, assigned to Jasdriel

[2019-08-22 01:08] #4032 closed, assigned to Jasdriel

[2019-08-22 01:08] #2959 closed, assigned to nobody

[2019-08-22 01:09] sean-mcmanus commented on #3912
Should be fixed with 0.25.0.

[2019-08-22 01:09] #3912 closed, assigned to nobody

[2019-08-22 01:11] sean-mcmanus commented on #2303
Fixed with 0.25.0.

[2019-08-22 01:11] #2303 closed, assigned to nobody

[2019-08-22 01:12] #3644 closed, assigned to nobody

[2019-08-22 01:12] #3711 closed, assigned to pieandcakes

[2019-08-22 01:13] sean-mcmanus commented on #3744
Fixed with 0.25.0. The switch header/source case will be fixed in our next Insider release (https://github.com/microsoft/vscode-cpptools/issues/3048).

[2019-08-22 01:13] #3744 closed, assigned to Jasdriel

[2019-08-22 01:13] #3864 closed, assigned to Jasdriel

[2019-08-22 01:13] #3888 closed, assigned to nobody

[2019-08-22 01:14] sean-mcmanus commented on #3897
Should be fixed with 0.25.0.

[2019-08-22 01:14] #3897 closed, assigned to Jasdriel

[2019-08-22 01:14] #3898 closed, assigned to nobody

[2019-08-22 01:16] #4018 closed, assigned to nobody

[2019-08-22 01:16] #3926 closed, assigned to nobody

[2019-08-22 01:16] #3930 closed, assigned to nobody

[2019-08-22 01:19] sean-mcmanus opened #4121 "Change C_Cpp.clang_format_path to be scope machine-overridable"
See https://github.com/microsoft/vscode/issues/73985 .

It would require increasing our vscode dependency to 1.38 (August 2019 release).

[2019-08-22 01:20] sean-mcmanus commented on #3937
Should be fixed with 0.25.0. I filed https://github.com/microsoft/vscode-cpptools/issues/4121 for switching to machine-overridable scope.

[2019-08-22 01:20] #3937 closed, assigned to nobody

[2019-08-22 01:21] sean-mcmanus commented on #4024
Should be fixed with 0.25.0.

[2019-08-22 01:21] #4024 closed, assigned to pieandcakes

[2019-08-22 01:21] sean-mcmanus commented on #4030
Should be fixed with 0.25.0.

[2019-08-22 01:21] #4030 closed, assigned to pieandcakes

[2019-08-22 01:26] sean-mcmanus opened #4122 "Links in C/C++ Diagnostics output don't work due to ]"
The root issue is a VS Code bug, but we can probably just workaround it.

[2019-08-22 01:27] sean-mcmanus commented on #4091
Should be fixed with 0.25.0.

[2019-08-22 01:27] sean-mcmanus commented on #4095
Should be fixed with 0.25.0.

[2019-08-22 01:27] #4095 closed, assigned to nobody

[2019-08-22 01:42] sean-mcmanus commented on #4098
The updated text is shipped with 0.25.0.

[2019-08-22 01:42] #4098 closed, assigned to nobody

[2019-08-22 01:42] sean-mcmanus commented on #4096
The Mac 10.12 incompatibility issue is fixed with 0.25.0.

[2019-08-22 01:42] #4096 closed, assigned to nobody

[2019-08-22 01:43] #4058 closed, assigned to nobody

[2019-08-22 01:43] #4041 closed, assigned to nobody

[2019-08-22 01:45] sean-mcmanus commented on #3985
@bobbrow Any status on this? Did it get fixed for 0.25.0 with the V3 API? Should it be moved to 0.26.0 or On Deck?

[2019-08-22 01:45] #3886 closed, assigned to nobody

[2019-08-22 01:46] sean-mcmanus commented on #2306
Should be fixed with 0.25.0.

[2019-08-22 01:46] #2306 closed, assigned to Jasdriel

[2019-08-22 06:02] smwikipedia commented on #4095
@sean-mcmanus

Unfortunately, the issue is not **fully** fixed.

If use path separator `/`, the issue seems fixed.
![image](https://user-images.githubusercontent.com/999318/63489813-b2554b80-c4e5-11e9-8423-cb349e30d908.png)

If use path separator `\\`, the issue remains.

![image](https://user-images.githubusercontent.com/999318/63489219-1bd45a80-c4e4-11e9-9845-8dc0f2ea8a96.png)

![image](https://

[2019-08-22 06:32] mkitby commented on #404
I want to disable the find all references feature in cpptools, how to do that?

[2019-08-22 08:53] karan-k-deepr opened #4123 "Enhancement: Auto Create Function Definition"
It will be awesome if this tool automatically creates `Function Definition` either in the same file or in `CPP` file like `Visual Studio 2017`.
Because of that, I need to copy and paste function for its declaration which consumes a lot of unnecessary time. 😭

[2019-08-22 09:20] raidnine commented on #3677
Intellisense update always block code navigate, with c++ code.
On the other hand, with c code, Go to Def is fluent.
Is there any way to fix it？

[2019-08-22 11:37] infalmo commented on #3298
Or a seperate terminal, like the one's build and test tasks have.

[2019-08-22 12:33] cnjsdfcy opened #4124 "outline not showed in a tree-like view under remote-development"
- VSCode Version:
[code]
- OS Version:
`local Windows 1803, remote Linux server: Ubuntu 18.04.3 LTS`

Steps to Reproduce:

1. install vscode in Windows, and install Remote-Development extension
2. add Ubuntu IP as a connection, and open it
3. open a CPP file in Ubuntu, then install  C/C++ extension on Ubuntu
4. outline showed but not in a tree-like view.
![image](https://user-images.githubusercont

[2019-08-22 14:35] Swij opened #4125 "Omitting the "description" field from customLaunchSetupCommands or setupCommands element causes NullReferenceException"
Type: Debugger

**Describe the bug**
- OS and Version: Debian 10
- VS Code Version: 1.37.1
- C/C++ Extension Version: 0.25.0

The debugger crashes with a `NullReferenceException` if the "description" field is missing from an element inside the "customLaunchSetupCommands" list (inside a launch.json configuration).

Debug console output (with all logging enabled):

This was not an issue in earlier v

[2019-08-22 15:32] ochrons commented on #3282
I started getting this "Stopping due to fatal error: NullReferenceException: Object reference not set to an instance of an object" when starting a debugging session of an ARM application via GDB after updating to 0.25.0. Works fine with 0.24.1

On 0.24.1 I can see it launch the debugging session in the Terminal, but in 0.25.0 I only get that error in the Debug Console tab.

This is on Windows 10
V

[2019-08-22 16:12] bobbrow commented on #4124
We just started work on this feature for 0.26.0.  We are tracking with #2230.  Thank you!

[2019-08-22 16:12] #4124 closed, assigned to nobody

[2019-08-22 16:14] bobbrow commented on #4123
Thank you for your feedback.  Please go add your 👍 to #664 where we are currently tracking this feature request.

[2019-08-22 16:14] #4123 closed, assigned to nobody

[2019-08-22 16:17] bobbrow commented on #404
There is no way to do that.  Why do you want to disable it?  You don't have to use the feature if you don't want to.

[2019-08-22 16:22] bobbrow commented on #3985
I haven't had a chance to set up a repro for this yet.  I may ask @Colengms to take a look when he spends some more time on the header/source matching logic.

[2019-08-22 16:29] sweettyler commented on #4109
The second reported issue may have nothing to do with  #4091 - after I installed the latest cpptool-0.25.0 and could still reproduce the issue.

[2019-08-22 16:43] bobbrow commented on #2046
This one is actually a bug.  We should just index the "Current" frameworks

[2019-08-22 16:46] #679 closed, assigned to nobody

[2019-08-22 17:36] pieandcakes commented on #3298
@infixint943 You can use `"externalConsole": true` if you want a separate terminal. If you are saying to run the command and create two terminals in VS Code, I can't find anything that supports it.

You are welcome to try and come up with a solution if you want to try and we take pull requests and features from the community. The code for our debug adapter is located at https://github.com/microsof

[2019-08-22 17:39] pieandcakes commented on #4125
Strange that this wasn't an issue before as I don't think anything changed here.

[2019-08-22 18:12] michelleangela commented on #3633
If there are no IntelliSense process running, the `Log Diagnostics` will only print out the current configuration settings and state there are `No active translation units`. If `Log Diagnostics` is still showing an entry for a source file, then that means the file is still active or open, because the extension (`Microsoft.VSCode.CPP.Extension.*`) will try to spawn an IntelliSense process (`Microso

[2019-08-22 18:17] sgamzn opened #4126 "Update to 0.25.0 broke c++ debugging"
Can no longer debug c++ on linux (ubuntu 16.04) after update to 0.25.0

Debug window shows:

[code]

Downgrade to 0.25.0-insiders2 fixes debugging

[2019-08-22 18:29] pieandcakes commented on #4126
@sgamzn Can you post your `launch.json` ?

[2019-08-22 18:40] sgamzn commented on #4126
[code]

"setupCommands" seems to be the issue. When I remove it, debugging starts

[2019-08-22 19:09] pieandcakes commented on #4126
@sgamzn It looks like its the same as https://github.com/microsoft/vscode-cpptools/issues/4125.

[2019-08-22 19:29] sgamzn commented on #4125
I confirm that adding "description" solves the problem, as such:

[code]

[2019-08-22 19:31] pieandcakes commented on #4125
thanks for checking. I have a fix pending.

[2019-08-22 19:37] CloudyMcFox commented on #4017
Thanks for the response @pieandcakes. Tried this with no success. I even made sure the path was cased exactly. Attaching screenshots:
![1](https://user-images.githubusercontent.com/18708122/63544182-68feff00-c4d9-11e9-8584-b60dabba6241.png)

![2](https://user-images.githubusercontent.com/18708122/63544190-6bf9ef80-c4d9-11e9-899d-a48eee11089d.png)

![3](https://user-images.githubusercontent.com/187

[2019-08-22 19:42] pieandcakes commented on #4126
I'm going to duplicate it to #4125 and we can use that to track the issue.

[2019-08-22 19:42] #4126 closed, assigned to pieandcakes

[2019-08-22 21:01] pieandcakes commented on #4017
I was able to investigate @CloudyMcFox 's scenario and his symbols are not full paths. It looks like when we try and resolve the partial path, it is appending the running directory for VS Code.

One of the troubleshooting steps for users running into this would be to run `[cvdump.exe](https://github.com/microsoft/microsoft-pdb/blob/master/cvdump/cvdump.exe) -l <exe or dll> > output.txt` and then l

[2019-08-22 21:08] sean-mcmanus opened #4127 "files.exclude processing doesn't work with "\\""
@sean-mcmanus

Unfortunately, the issue is not **fully** fixed.

If use path separator `/`, the issue seems fixed.
![image](https://user-images.githubusercontent.com/999318/63489813-b2554b80-c4e5-11e9-8423-cb349e30d908.png)

If use path separator `\\`, the issue remains.

![image](https://user-images.githubusercontent.com/999318/63489219-1bd45a80-c4e4-11e9-9845-8dc0f2ea8a96.png)

![image](https://

[2019-08-22 21:23] michelleangela commented on #4079
VS Code Reference view container
https://github.com/microsoft/vscode-references-view

[2019-08-22 21:24] evarsanyi opened #4128 "GCC errors are reordered"
**Type: LanguageService**

Using Linux (Fedora 25) or OSX (Mojave) and any GCC (example 6.3.1) with VS Code 1.38.0-insider and 0.25.0 of the C++ plugin alone when I run a build using the supplied tasks it parses the GCC output and creates 'problems' for each error in the output.

The issue is that the problems are in no useful order, specifically they are not in the order the compiler issued them.

[2019-08-22 21:26] sean-mcmanus commented on #3677
@raidnine Can you file a new issue with more repro info?

[2019-08-22 21:30] sean-mcmanus commented on #404
@mkitby Are you using another extensions as a references provider, but still using our extension for other stuff? Is setting C_Cpp.intelliSenseEngine to "Disabled" insufficient?

[2019-08-22 21:47] mistersandman commented on #3912
I can confirm the fix in 0.25.0. Thanks!

[2019-08-22 22:16] saileshs commented on #1083
+1 Please!!

[2019-08-22 22:22] sean-mcmanus commented on #4095
@smwikipedia Looks like the `\\` issue has been a bug for a long time. It should be fixed in our next update.

[2019-08-22 22:34] sean-mcmanus commented on #4128
This is VS Code bug https://github.com/microsoft/vscode/issues/62942 .

However, our extension could theoretically wrap the gcc command in our own command and bypass the ProblemMatcher mechanism.

[2019-08-22 23:10] evarsanyi commented on #4128
Thanks for the pointer. I opened this as suggested in the response to my review. This other one is indeed the issue I'm having.

There is one 'additional' related problem in this ticket which is that frequently with GCC (esp in template code) when it reports errors the problem matcher either makes each part of one actual problem into multiple problem entries, or it just ignores them and hides them

[2019-08-23 00:03] sean-mcmanus commented on #4128
Do you have any more repro details on the problem matcher bug with multiple entries with templates -- it's possible that could be fixed via a change to our problem matcher regular expression at https://github.com/microsoft/vscode-cpptools/blob/release/Extension/package.json#L56

[2019-08-23 00:38] EmbeddedBacon opened #4129 "Parsing seems to be stuck"
Hello,

  Recently, it seems the parsing for C/C++ extension hasn't been working well.   I can't say for certain when this started, but around v0.24.x to v0.25.  General info:

1) Using VSCode 1.37.1 (user setup)
2) Using Remote extension from a Windows (Windows 10) machine to a Linux machine (CentOS).
3) Currently running C/C++ 0.25.0
4) The following C_Cpp values are set
  "C_Cpp.loggingLevel":

[2019-08-23 00:43] #2533 closed, assigned to nobody

[2019-08-23 00:58] sean-mcmanus opened #4131 "Switch to vscode-test instead of vscode/lib/testrunner?"
VS Code has deprecated our current TypeScript testing infrastructure and has introduced vscode-test: https://code.visualstudio.com/api/working-with-extensions/testing-extension .

[2019-08-23 01:12] sean-mcmanus commented on #4129
You can [enable debug logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) to see what files are being parsed for global symbols. If you see folders that have files that shouldn't be parsed you can add those folders to files.exclude. You can also hover over the database icon in the bottom right to see some status info/progress. Are you able to see from the logging if you're hitting

[2019-08-23 01:16] smwikipedia commented on #4127
Thanks for creating issue. Looking forward to the next release.

[2019-08-23 01:23] EmbeddedBacon commented on #4129
@sean-mcmanus , yes, I forgot to add the status from the icon, but right now after several hours it is at 2711/15467.   Let me enable the additional logging to see if that data helps.  I don't have any files that I need to exclude (that I am aware of).    These files are autogenerate from hardware design, so they are needed as the definitions are used.  It is strange, I haven't had issues with par

[2019-08-23 01:26] sean-mcmanus commented on #4129
Is the number increasing?

[2019-08-23 01:29] EmbeddedBacon commented on #4129
@sean-mcmanus I already had the "Enable logging for the language server" feature enabled as seen in the original posting: "C_Cpp.loggingLevel": "Debug",

Both attached files: "c_cpp_output_window.txt" and "c_cpp_output_window_crash_reports.txt" are from the OUTPUT - C/C++ window

For the "Enable logging for the debug adapter" feature, this is referring to editing the launch.json file, which at thi

[2019-08-23 01:34] EmbeddedBacon commented on #4129
@sean-mcmanus

Since my last post, no

This is the last bits of data in the OUTPUT window

cpptools/fileCreated
cpptools/fileCreated
cpptools/fileCreated
cpptools/fileCreated
cpptools/fileCreated
cpptools/fileCreated
cpptools/fileCreated
cpptools/activeDocumentChange
cpptools/textEditorSelectionChange
idle loop: reparsing the active document
textDocument/documentHighlight: 442
cpptools/textEditorS

[2019-08-23 02:30] sean-mcmanus commented on #4129
It sounds like it's stuck in some infinite loop while tag parsing. If you Reload Window or Reset IntelliSense Database does it keep getting stuck parsing on the same file? Can you attach a debugger to the Microsoft.VSCode.CPP.Extension.linux process and provide the call stacks for the threads that appear to be doing work, but are stuck?

[2019-08-23 02:37] EmbeddedBacon commented on #4129
@sean-mcmanus , seems the parsing exited out

Parsing: 6411 files(s) processed
Done parsing remaining files.
Database safe to open
textDocument/codeAction: 444
cpptools/activeDocumentChange
cpptools/textEditorSelectionChange

Though, I can't navigate everything.   I will try to reset everything and see if I can attach to the process and provide more information for you.  Hope to have that soon.

[2019-08-23 07:15] Konstantin6487 commented on #15
Still not working. VScode finds for example
 `import { loader }` but doesn't find `import { loader as basicLoader }`
I created `jsconfig`, installed 0.25.0-insiders and nothing :(
It works in small project, but not in large.

[2019-08-23 09:23] snahmad commented on #815
I am getting this error
No symbol table is loaded.  Use the "file" command

I did try this

{
            "type": "gdb",
            "request": "attach",
            "name": "Attach to gdbserver",
            "executable": "../bin/squiddebug/pip",
            "target": "192.168.43.68:1234",
            "remote": true,
            "cwd": "${workspaceRoot}",
            "valuesFormatting": "parseTex

[2019-08-23 09:24] snahmad commented on #2432
My config is
{
            "type": "gdb",
            "request": "attach",
            "name": "Attach to gdbserver",
            "executable": "../bin/squiddebug/pip",
            "target": "192.168.43.68:1234",
            "remote": true,
            "cwd": "${workspaceRoot}",
            "valuesFormatting": "parseText",
            "gdbpath": "/home/syeda/workspace/work/build/multigw_cpp_1.3.12

[2019-08-23 11:00] LeThiHyVong commented on #15
@Konstantin6487 what are you looking for?
This repo is C/C++ support extension of VSCode, not for other languages.

[2019-08-23 11:43] Konstantin6487 commented on #15
I'm sorry. I made a mistake. My problem is only with js.

[2019-08-23 16:54] pieandcakes commented on #815
@snahmad we aren't the extension that provides `"type": "gdb"`. Please check your installed extensions and contact that extension owner. Our extension provides `"type": "cppdbg"`.

[2019-08-23 16:56] pieandcakes commented on #2432
@snahmad I left you a comment [here](https://github.com/microsoft/vscode-cpptools/issues/815#issuecomment-524387358). You aren't using this extension. Please contact the owners of the extension you are using.

[2019-08-23 17:47] danielmrussell opened #4132 "Cannot set "C_Cpp.clang_format_path": "C:\\Program Files\\LLVM\bin\\clang-format.exe": breaks the format feature completely."
**Type: LanguageService**

**Describe the bug**
When setting "C_Cpp.clang_format_path": "C:\\Program Files\\LLVM\bin\\clang-format.exe" in settings.json (either user or workspace), the Format command fails to work, apparently because of error generated by the wrong clang-format binary because the .clang-format option specification is highly unstable and changes drastically between clang releases.

[2019-08-23 18:01] MaciejRutecki opened #4133 "[Regression] Cannot attach to elevated process using GDB"
VSCode version: 1.37.1
System: Kubuntu 19.04
Working extension: 0.24.1
NOT working extension: 0.25

Description: after upgrade extension to 0.25 I cannot attach GDB to existing process. After select process to debug I should see message dialog about 'sudo' password, nedded by GDB

launch.json
[code]

simple code to test (test.cpp):
[code]

Steps to reproduce:

1. Compile code
2. Run program
3. Pre

[2019-08-23 18:07] danielmrussell commented on #4132
Okay, after I made that change to forward slashes, it didn't work immediately, but at some point it started working. I must have done something to refresh something. I dunno. Very confused now haha. I have the exact same .clang-format file but it's working.

Sigh. Gotta love undefined behavior from complex systems. Sorry I couldn't track this more closely. I hope someone here has a clue.

[2019-08-23 18:09] pieandcakes commented on #4125
Reopen until we ship

[2019-08-23 18:12] borbmizzet commented on #1117
I have a similar issue to @ChaosinaCan.  Is there any way around it?

[2019-08-23 18:22] pieandcakes commented on #1117
@borbmizzet Can you add a `"setupCommand"` to [set the environment variable](https://sourceware.org/gdb/current/onlinedocs/gdb/Environment.html) for gdb? Or are you saying you need it set before gdb starts?

If you want to try what @ChaosinaCan was doing, you can try specifying `python.exe` in a `pipeTransport` block as the `pipeCmd` and use `pipeArgs`. The debugger is the last command that will b

[2019-08-23 18:25] pieandcakes commented on #4133
This probably has to do with a fix for a different case that @ChristianJacobsen
 submitted. https://github.com/microsoft/MIEngine/commit/597e41ffab1d20d4ed6e602fe080154cee82a9d2

I don't know why fixing it for his case would cause this case to fail.

[2019-08-23 18:26] pieandcakes commented on #4133
@WardenGnaw Do you have any ideas?

[2019-08-23 19:03] robinbudd opened #4134 "Include path from c_cpp_properties.json not passed to clang compiler"
**Type: LanguageService**

**Steps to Reproduce:**
1. Configure VSC to use clang++ compiler on MacOS
2. Include a header file from a directory other than the project, and not one of the standard c++ paths
3. Add the path to the directory to "includePath" in c_cpp_properties.json
4. Confirm that VS Code knows how to find the include file by  right-clicking the "include " statement and selecting "pe

[2019-08-23 19:12] sean-mcmanus commented on #4132
Did you use a single backslash?

[2019-08-23 19:15] sean-mcmanus commented on #4134
The c_cpp_properties.json is not used for building -- the includePath is just used for IntelliSense. You need to add the -I to whatever build system command you are using. Does that fix it for you?

[2019-08-23 20:09] sean-mcmanus commented on #4129
There appears to be a bug with the info shown in the hover progress indicator. I see it stuck at 0 files while it's parsing headers, and then it finishes at around 60%. I don't see any bug with files not being parsed or parsing exiting out when it shouldn't.

[2019-08-23 21:06] danielmrussell commented on #4132
Forward slashes work, / and double backslashes work \\.

I can't explain the bizarre behavior of VS Code and this extension in terms of inconsistent results, but I can say that something is wrong with the BeforeHash option of IndentPPDirectives in .clang-format. Contrary to official clang documentation, this option breaks the program, while the other options work fine. I will submit a bug report t

[2019-08-23 21:06] #4132 closed, assigned to nobody

[2019-08-23 21:25] snahmad commented on #815
ok, who is extension owner "type": "gdb" for remote debugging.

[2019-08-23 21:35] sean-mcmanus commented on #4129
Actually, the "stuck" at 0 or stuck at some other number, may be caused by the fact that parsing of open files (and it's potentially long list of header dependencies) is not reported in the status bar UI at all, which can cause it to appear stuck when actual work is being done. The issue https://github.com/microsoft/vscode-cpptools/issues/4117 discusses a proposal that would fix this.

I don't kno

[2019-08-23 21:52] pieandcakes commented on #815
You need to go to your VS Code install, go to the extensions page and identify it.

My search on the [VS Code Extension Gallery](https://marketplace.visualstudio.com/search?term=gdb&target=VSCode&category=All%20categories&sortBy=Relevance) brings up a few options

[2019-08-23 21:52] sean-mcmanus commented on #4129
Okay, I figured it out somewhat -- when you have files open at the start of database creation, it is causing the "max" number to get incorrectly too large (seeming to end before reaching 100%), but all files appear to actually be parsed if you do a Reset IntelliSense Database with no files open. So it looks like just a status reporting bug. (But it's possible your issue could be a different case).

[2019-08-23 22:33] EmbeddedBacon commented on #4129
@sean-mcmanus , thanks for following up.  When I get a windows of time I will re-test and see if I can collect any useful data for you.  Question though, does the binaries for the cpp extension contain symbols or do I need to load symbols for gdb to figure out what is going on?

[2019-08-23 23:57] sean-mcmanus commented on #4129
On Linux, the binary should have the symbol info in it so you shouldn't need to set any special symbol paths.

[2019-08-24 00:25] Zylann opened #4135 "Go to definition of struct opens typedef from other file instead of immediate declaration"
**Type: LanguageService**

Windows 10 64 bits
VSCode version: 1.37.1 (user setup)

I have two files in a freshly created folder:

alpaca.h
[code]

cat.h
[code]

When I open `alpaca.h`, and use `Go to definition` on the occurrence of `Test` in the `foo` function, it opens `cat.h` and shows me the typedefed `Test`. While this is indirectly correct, I would have expected intellisense to point me the

[2019-08-24 00:38] sean-mcmanus commented on #4135
I've verified the bug. It doesn't repro with VS.

[2019-08-24 01:09] Zylann opened #4136 "Variables used in a macro inside a template function don't get coloured"
Windows 10 64 bits
VSCode version: 1.37.1 (user setup)

With the following file:
[code]

Variables used inside the `CRASH_COND` macro don't get coloured and don't get highlighted when clicked, but they are if the function is not template.

![image](https://user-images.githubusercontent.com/1311555/63630573-15450080-c614-11e9-8031-576f95ab4ab5.png)

[2019-08-24 02:24] sean-mcmanus commented on #4136
The bug is inherited from VS. I've filed a bug at https://developercommunity.visualstudio.com/content/problem/711228/variables-used-in-a-macro-inside-a-template-functi.html . You can upvote that if you have a Microsoft account.

[2019-08-24 02:26] sean-mcmanus commented on #4135
Thanks for reporting this. It should be fixed in our 0.25.1 bug fix update for next week -- unless it gets "cut" for some reason.

[2019-08-24 07:41] h7ga40 opened #4137 "NullReferenceException on windows msys2 arm-none-eabi-gdb openocd"
Type: Debugger

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.18362 (Japanese)
- VS Code Version: 1.37.1 (system setup)
- C/C++ Extension Version: 0.25.0
- Other extensions: nothing (all uninstalled)
- msys2: https://www.msys2.org/
- arm-none-eabi-gcc: https://developer.arm.com/tools-and-software/open-source-software/developertools/gnu-toolchain/gnu-rm/downloads/6-2017-q2-update
- Ope

[2019-08-24 08:14] Audhumbla5 commented on #1162
bump - being able to refactor, extract methods and create definition from declaration is incredibly useful for efficiency.

[2019-08-24 19:36] robinbudd commented on #4134
Hi Sean, appreciate the quick response. Apparently the compiler arguments go in "tasks.json", which frankly is rather counter-intuitive but OK. It works now. Thanks for the help!

[2019-08-24 23:23] Zylann opened #4138 "Feature request: write `->` arrow when using `.` on a pointer type"
VSCode 1.37.1

I'm coming from QtCreator and one of the features I miss is the auto-arrow converter when you type `.` after a pointer type.
For example, if you have a `Object *obj` and you write `obj.`, it auto-replaces the dot with an arrow as `obj->` as you type, and you can continue as normal.
This feature saves the hassle of a cumbersome keystroke with just having to type `.` instead of `-` wi

[2019-08-24 23:50] Zylann opened #4139 "Unable to open some of the files that appear in compilation errors"
VSCode 1.37.1
Windows 10 64 bits

When I compile my project and there are errors, some of them don't show up in the explorer tree.
If I click on one, it very briefly opens and immediately closes, saying it is unable to open.
If I open the file and click on the error again, it actually closes it too, saying it can't open.

![image](https://user-images.githubusercontent.com/1311555/63643836-f442e500

[2019-08-25 00:08] gwochy commented on #1329
@priyamadhu  Thank you for such a precise answer. Though I would want to know the after math

[2019-08-25 08:08] FrodgE commented on #2610
I had the same issue, and after reading this thread and several others I think I've now got it fixed.  I think there are 3 key steps:
1. Fix the include paths
2. Set the correct compiler path
3. Remove any other target configurations, eg "Win32"

As stated by @tomajask above, adding `"USBCON"` to the defines will remove the squiggles for `Serial` (alternatively you can add the definition for the m

[2019-08-25 08:26] MegaOwIer opened #4140 "Unable to start debugging"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 1903 x64 18362.295
- VS Code Version: 1.37.1
- C/C++ Extension Version: 0.25.0
- Other extensions you installed (and if the issue persists after disabling them):
  + ms-python.python
  + ms-vscode-remote.remote-wsl
  + visualstudioexptteam.vscodeintellicode
  + ms-ceintl.vscode-language-pack-zh-hans
- A clear and concise description

[2019-08-25 11:33] lorond commented on #1232
@sean-mcmanus I don't know about this extension, but some other extensions can format documents that was not saved on disk (like you say, "Untitled-n"). All you need to do is to set corresponding language manually via "Change Language Mode".

[2019-08-25 11:44] asdoi981x commented on #3324
Facing exactly the same issue here. Hopefully this will be added soon.

[2019-08-25 11:44] lorond commented on #1232
@bobbrow Issue still exist with documents that was not saved on disk. Version 0.25.0. Steps to  reproduce (via command palette):
1. New Untitled File
2. Change Language Mode -> C
3. Format Document

But if you save that document, problem will gone.

[2019-08-25 11:53] everything411 commented on #4140
If you set the "Beta: Use Unicode UTF-8 for worldwide language support" option ON?
At first, I had the same problem with you in my new laptop.
[code]
And I noticed that the output contains some escape character "\357\273\277". So I thought it may relate to my locale config.
I tried to set the UTF-8 option OFF, and it works.
So it seems that currently the vscode cpp debugger can't work well when "B

[2019-08-25 12:26] MegaOwIer commented on #4140
Thanks a lot. It now works.

[2019-08-25 12:26] #4140 closed, assigned to nobody

[2019-08-25 15:44] DukeLaze commented on #4022
@pieandcakes The folder(s) for cpptools were indeed there after uninstalling.
Alas, uninstalling -> Deleting the folders -> Restarting vscode and reinstalling the extension didn't help.
I'm getting "Extension host terminated unexpectedly" whenever I try to start debugging now (also compiled with the `-g` flag this time). Trying to restart the extension just leads to the error repeating.

[2019-08-25 15:47] rivalak commented on #641
Why set   > "C_Cpp.clang_format_fallbackStyle": "{ BasedOnStyle: LLVM, UseTab: Always }"
cannot help me.

[2019-08-26 06:24] ChristianJacobsen commented on #4133
I'd rather just use the debugger in Launch mode than cause a regression issue for you guys. If possible just roll back my 'fix' :)

I think it might be a bug with VSCode for me, because now the script doesn't freak out because of the double-escaped quotes, but still doesn't ask for a password.

Seems there's still an issue with the placement of the double quotes. I see that there's an 'extra' one

[2019-08-26 07:35] wgqimut commented on #2628
@sean-mcmanus  Actually "Go to symbol in workspace" fuzzy search is not good as "Go to file".

"Go to file" can do this:
![image](https://user-images.githubusercontent.com/2181383/63673408-ca470b00-c816-11e9-90c6-a380f60758d8.png)

"Go to symbol in workspace":
![image](https://user-images.githubusercontent.com/2181383/63673425-d3d07300-c816-11e9-9e5d-f5c45e3276f8.png)
`quotalink` should have resul

[2019-08-26 08:41] mistersandman opened #4141 "new input verification of configurations.intelliSenseMode fails to verify msvc-x{86|64} if configurations.compilerPath contains a variable"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows (any version)
- VS Code Version: any
- C/C++ Extension Version: 0.25.0
- Other extensions you installed (and if the issue persists after disabling them): none
- A clear and concise description of what the bug is.

**To Reproduce**
Example configuration in `c_cpp_properties.json` triggering the issue:
[code]
Problems reported

[2019-08-26 11:20] atrantan commented on #4137
@h7ga40 Got the same issue since version 0.25.0

[2019-08-26 12:51] Joinyy commented on #4075
As I don't have access to VS atm, can You maybe tell me what would be the case with the following code, if I want to see all references to `myVariable`?
[code]
VS Code won't find any references for `myVariable` at the moment, will this change with this issue in the future too?

[2019-08-26 16:42] michelleangela commented on #4134
Closing as resolved.

[2019-08-26 16:42] #4134 closed, assigned to nobody

[2019-08-26 16:44] michelleangela commented on #4138
Duplicate of #862 . Please upvote that issue.

[2019-08-26 16:44] #4138 closed, assigned to nobody

[2019-08-26 18:41] sean-mcmanus commented on #4139
The Problem is generated from a problemMatcher regular expression in our extension's package.json: `^(.*):(\\d+):(\\d+):\\s+(?:fatal\\s+)?(warning|error):\\s+(.*)$`. So either your compiler is generating paths that randomly break that regular expression or VS Code's handling of that regular expression has a bug with it. What is the general format of the source path when the error occurs? What is t

[2019-08-26 18:48] Zylann commented on #4139
This is the kind of log that I get in the `Terminal`:
[code]

I can Ctrl+Click that path and it works, but the `Problems` tab doesn't work.
The problem matcher I use is `"$msCompile"`.

[2019-08-26 19:25] EmbeddedBacon commented on #4129
@sean-mcmanus, I am still trying to gather that data.  I have gone through with removing VSCode and extension from the remote, but even after a few times of this I haven't been able to get the C/C++ to begin parsing the files.  I never see the status bar icon show up.  Whenever I hover over a piece of code I get the tool tip of "Initializing...".  I only see the following in the OUTPUT window for

[2019-08-26 19:27] EmbeddedBacon commented on #4129
@sean-mcmanus, question, where does C/C++ stored the parsed file information?  Perhaps C/C++ parsing isn't kicking in since the parsed database is still present???