[2020-11-10 12:32] frenchiveruti opened #6484 "The msvc-x64 intellisense is NOT compatible with the access path of the compiler."
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 1903
- VS Code Version: 1.51
- C/C++ Extension Version: 1.1.1
- Other extensions you installed (and if the issue persists after disabling them): -
- A clear and concise description of what the bug is.
I'm using msys64 and the path is similar to linux/unix, therefore the parser thinks I'm on linux, then it fails horribly.

![imagen](

[2020-11-10 12:42] frenchiveruti commented on #6484
To add on to this, when you try for example to run de debugger through `F5`, it will try to 'debug' on a Linux type of path.
(instead of say C:/path/to/file) will parse it as c/path/to/file. Which of course fails.

[2020-11-10 13:34] ldarshan1991 commented on #6431
@WardenGnaw Have you got the necessary logs from @sean-mcmanus or do you want me to collect?

[2020-11-10 13:44] ldarshan1991 opened #6485 "Option to change the title of the integrated terminal in vscode for a launched C application?"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.1.0-insider3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
Steps to reproduce the behavior:
1. Have launch

[2020-11-10 14:59] simonebaracchi opened #6486 "extension is installed as ARM binary instead of x86"
Type: General

When installing the c++ extension from VSCode menus, the actual binary seems to be ARM-based.
My machine is x86 so any attempt to use the C++ extension fails.

**Describe the bug**
- OS and Version: CentOS 8.2 x86_64
- VS Code Version: 3.6.2
- C/C++ Extension Version: 1.1.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise descr

[2020-11-10 15:20] ghost opened #6488 "showing red line (intellisense issue) in abs() function in c++ , i already included cstddlib header file still red line not going away"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including information about the workspace (i.e. is the workspace

[2020-11-10 18:03] connor4312 opened #6489 "Update notification comes up when opening a workspace with no C/++ files"
Type: General

**Describe the bug**

- OS and Version: Windows_NT x64 10.0.19041
- VS Code Version: 1.52.0-insider (user setup)
- C/C++ Extension Version: 1.1.1
- A clear and concise description of what the bug is: I opened a folder containing only some .js files -- no .cpp, .h, .c, Makefiles, or anything like that. When I did so, the C++ update banner came up.

**To Reproduce**
Steps to reproduce

[2020-11-10 20:33] shammabeth commented on #6035
I'm using v1.1.1 and cpptools keeps eating up all my memory (65GB+).
I do have a very large workspace with a lot of files. Regardless, it definitely feels like there needs to be a higher limit on this.

What can I provide that will help you debug this?

[2020-11-10 20:42] sean-mcmanus commented on #6486
1.1.1 is our latest version and has this fixed this, right?

[2020-11-10 20:45] sean-mcmanus commented on #6279
@dslijepcevic Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.1

[2020-11-10 21:08] AnthonyParkssonos commented on #6035
the only ways i have been able to work around this is to either: 1) disable cpptools entirely 2) restrict my workspace to a subfolder in my codebase and enable cpptools for that alone, which restricts the memory usage.

[2020-11-10 21:14] simonebaracchi commented on #6486
Yes but not really. In the past when I was using vscode 3.5.0 which came with cpptools 1.0.1 I used to manually downgrade to 1.0.0 (using the vsix package) and this fixed it. Today I upgraded to vscode 3.6.2 and downgrading to 1.0.0 (using the ui) didn't help. My "feeling" is that vscode always downloads the arm version, unless it's using the insiders channel. But I have no idea how to prove this.

[2020-11-10 21:14] bobbrow opened #6491 "Disable the "join insiders" prompt for Linux CodeSpaces"
The vscode.env.remoteName should tell us whether we are in a codespace or not.

[2020-11-10 21:16] TTimo commented on #6035
According to https://github.com/microsoft/vscode-cpptools/issues/6230 - IntelliSense is being killed if it goes past 4GB, starting in 1.1.0

So that's either not working, or you are seeing a different issue.

[2020-11-10 21:40] WardenGnaw commented on #6475
I can reproduce this issue with `GNU gdb (GDB) (Cygwin 10.1-1) 10.1`. This is a bug on their end.

I would revert to a version that is not labeled `(Test)`

![image](https://user-images.githubusercontent.com/3953714/98736909-4f560b80-235a-11eb-9146-ef76b1105256.png)

[2020-11-10 21:47] Colengms commented on #6483
Hi @schlopp96 .  I'm not able to discern much from the image you posted.  It's too low res.

I'm not sure I understand what you mean by:

When you build, you can pass the language standard as an arg to the compiler, which tells it how to interpret the source code.  Once the compiler is done and the code is built, there is no additional need for the language standard arg.  What do you expect to hap

[2020-11-10 21:50] ssoher opened #6492 ""Switch Header/Source" action doesn't work correctly in 2 column layout"
Issue Type: <b>Bug</b>

In 2 column layout, open the source in one column and it's header in the other column. Make sure the target group has another file open at the time of invoking the action (It works fine if both the source and the header are current open files instead of just tabs in the group). Upon invoking action `Switch Header/Source`, I expect it to focus on the editor in the other colu

[2020-11-10 22:40] bobbrow opened #6494 "Create a build of clang-format for Windows ARM64"
We currently ship an x86 version of clang-format on Windows ARM64. It would be better to have a native version.

[2020-11-11 00:20] hwmaier commented on #5854
Stumbled over the same issue. When running a program w/o debugging, the console output is nicely displayed in the integrated terminal. But when debugging the console output vanishes. Workaround for me is using "externalConsole": true. But this is not intuitive and a different behaviour compared to direct launch. I like to see "externalConsole": false to yield console output either on the integrate

[2020-11-11 00:39] sean-mcmanus commented on #4418
@mrdc Are you able to get any diagnostics in regards to what call stacks are causing the issue? See https://github.com/microsoft/vscode-cpptools/wiki/Troubleshooting-Performance-Issues . The page faults you're describing might be the normal expected behavior of our compiler. You could potentially try VS and compare with the vcpkgsrv.exe process and see if VS has the same issue.

[2020-11-11 00:43] woojar commented on #16
There are two reasons why I don't leave for VS code  in c++ 1)  call hierarchy  2) refactoring, such as extract method etc.

[2020-11-11 00:49] Colengms commented on #6424
We think we've identified what's happening.  It appears to be related to a cache of locations tried while searching for a header file, that can grow excessively.  We have a way to greatly reduce the memory usage.  We'll use this issue to track that work.

[2020-11-11 00:54] sean-mcmanus commented on #6471
You could use files.exclude as a workaround, but that will affect other VS Code features with those files.

You could add a C_Cpp.definitions.exclude setting, but "definitions" might be too limited if users wanted to apply that to Find All References, Rename, or other feature. Also, I'm not sure how you would implement that because I think the definitions are returned directly from cpptools to VS

[2020-11-11 01:03] Colengms commented on #6484
Hi @frenchiveruti .  Both the IntelliSenseMode and the compilerPath settings are used by the C/C++ Extension to determine how to interpret the source code, to provide language services such as code navigation, colorization, etc..  The "msvc" IntelliSenseMode's are specifically for the MSVC compiler ("cl.exe").  So, the error is to inform you that the IntelliSenseMode and the compilerPath you have

[2020-11-11 01:04] sean-mcmanus commented on #6472
Are you trying to debug printf? You probably should not need to do that. You may need to add a call fflush (see https://stackoverflow.com/questions/1716296/why-does-printf-not-flush-after-the-call-unless-a-newline-is-in-the-format-strin ).

What technical jargon did you not understand?

[2020-11-11 01:11] sean-mcmanus commented on #6459
@skyleaworlder We need more repro info. Your debug logging doesn't show anything abnormal. Is cpptools stuck? If so, could you attach a debugger to get a call stack (see https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv ).

[2020-11-11 02:01] sean-mcmanus commented on #6454
The call stack shows it's updating the database. That updating is being done in a separate thread from the main input thread and I don't see any deadlocking going on in the call stacks you have provided. The repro I'm using is a 200k line sqlite3.c file. We're going to need a repro or some additional call stacks that show a deadlock. One example of a known potential deadlock you could compare agai

[2020-11-11 02:42] JustenK opened #6496 "Unable to install C/C++ extension"
Issue Type: <b>Bug</b>

Current version of Visual Studio Code

"The C/C++ extension failed to install successfully. You will need to reinstall the extension for C/C++ language features to function properly."

Followed instructions several times, uninstalled the program and extension several times. Have rebooted system several times and the extension will still not install.

Extension version: 1.1.

[2020-11-11 02:58] sean-mcmanus commented on #6496
Does the offline vsix at https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.1 work?

The error means some files from the installation are missing. One potential fix is to delete the install.lock file in the root of the extension folder to re-download the binaries.

[2020-11-11 03:21] JustenK commented on #6496
When I try to run cpptools I immediately get an error saying "The install of 'C/C++' was not successful for all the selected products. For more information, click on the install log link at the bottom of the dialog." I will try and delete the install.lock file in the root of the folder

Here is the contents of the install log

11/10/2020 7:17:52 PM - Microsoft VSIX Installer
11/10/2020 7:17:52 PM

[2020-11-11 03:26] #6496 closed, assigned to nobody

[2020-11-11 08:14] LeaTex commented on #5496
As @RashimNarayanTiku said, change MinGW to MinGW-w64 (from online installer) and now it's working.

Looks like old school MinGW (32 bits) is not good for VSCode and 64 bits environments.

[2020-11-11 08:35] schlopp96 commented on #6483
Yes, I have gone through the entire process of setting up a cpp_tasks.JSON, build file, and tasks.JSON file as well.

My apologies for not explaining the issue thoroughly in my original post... There's just so much information I want to try and inform people to help me figure this out, and I end up causing myself to forget all of the relevant information I need to include lol... As for the image q

[2020-11-11 10:35] JeanMiK opened #6497 "compile_commands.json not working correctly for *.C files since 1.1.0"
**Type: LanguageService**

Since version 1.1.0, it seems like none of my *.C files are recognized anymore in the compile_commands.json, even though they are present.

This is to say, in the 'C/C++ Configuration' output, I get errors of the style

even though the files *are* present in the compile_commands.json !

So far, it looks like this is happening only for *.C files, not *.cc files: I have tw

[2020-11-11 11:03] frenchiveruti commented on #6484
Hello Colengms .
I don't understand what do you mean.
I'm building my "project" which is composed of a single c file, using the gcc provided by msys64.
Anyways I really can't provide more info, I installed minwg-x64 following the docs and it works, but I thought it was a bug worth reporting.
thanks-

[2020-11-11 11:03] #6484 closed, assigned to Colengms

[2020-11-11 11:47] senoron opened #6498 "How can I read something from debug console using fgets() ( I use C )"
I have a very simple code:
[code]

I want to debug it, but  I can't enter anything in debug console. But, when I use `gets()` everything works.

What I must do to be able to use fgets() in debug console?

launch.json:
[code]

tasks.json:
[code]

[2020-11-11 12:16] xiaoma20082008 commented on #6108
@sean-mcmanus
Hello, I've got a new color error in the comment, see bellow:
![image](https://user-images.githubusercontent.com/10076393/98810607-71cf4e00-245a-11eb-9733-ae19a0146e3c.png)

vscode version:
[code]

[2020-11-11 15:31] lch2000 commented on #6475
@WardenGnaw Great! I can start debugger. You are skillful. But I have met another problem. I can't type into the integrated terminal when debugging. In other words, when I control the program run to the line "scanf" or "cin", but at this time we can't type on the bottom integrated terminal. It is no responding. I can only let `"externalConsole": true` to use external console to type in. The C++ so

[2020-11-11 15:45] lch2000 commented on #6475
@WardenGnaw And a second problem, sir, do you find external console can't output? When I use external console to debug and run to the line `cout << "HelloWorld!";`, it won't output the charsequence "HelloWorld!". Why?

[2020-11-11 16:25] WardenGnaw commented on #6498
The `Debug Console` is used to output information from the debugger or debug adapter. You can input data to evaluate expressions of use `gdb-mi` commands.

With `"externalConsole": true,`, you should see an external terminal where you can input your data.

![image](https://user-images.githubusercontent.com/3953714/98837038-4ebf8280-23f7-11eb-8cf3-a3f4e1a17d6c.png)

[2020-11-11 16:30] WardenGnaw commented on #6485
Thank you for filing this issue.

We will investigate adding `terminalName` to the launch.json and setting it for the RunInTerminal title.

This is where we set the title.
https://github.com/microsoft/MIEngine/blob/ec52d600d5d4a5d9a2517aa392e0c1767ad49e55/src/MICore/Transports/RunInTerminalTransport.cs#L51

[2020-11-11 17:20] venelin-phonebook opened #6500 "Variable Length Arrays Misidentified as Errors by Intellisense"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows
- VS Code Version: 1.51
- C/C++ Extension Version: 1.1.1
- Other extensions you installed (and if the issue persists after disabling them): None
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including information about the worksp

[2020-11-11 17:22] bobbrow commented on #6484
@Colengms is saying to change `msvc-x64` to `gcc-x64` and the error will go away.

[2020-11-11 17:46] senoron commented on #6498
Thank you, it was the answer!

[2020-11-11 17:46] #6498 closed, assigned to nobody

[2020-11-11 18:12] frenchiveruti commented on #6484
That made another error where vscode would use a route like unix, d/path/to/file.

[2020-11-11 19:31] WardenGnaw commented on #6475
When `"externalConsole": false`, you will need to type your input in the `terminal` tab.
![image](https://user-images.githubusercontent.com/3953714/98855614-2a709f80-2411-11eb-8e56-02f8de9fe053.png)

This is by C++ language's design, if you do not flush the output buffer (cout), it will not print to the screen. By changing that line to `cout << "HelloWorld!" << endl;`, you should see output once y

[2020-11-11 20:06] michelleangela commented on #5773
It turns out the [feedback ticket to support direction ['dir'] attribute](https://developercommunity.visualstudio.com/content/problem/1111522/support-dir-optional-attribute-of-doxygen-param.html.)  on the Visual Studio side was unintentionally set to complete. The support has not been implemented yet. The feedback ticket status was reset to "under review".

[2020-11-11 20:34] bcaddy commented on #5773
I'm also having this issue with syntax highlighting. As you can see in the attached image highlighting works great without `['dir']` but when I add it in the syntax highlighting goes away
<img width="375" alt="86406616-718b9e80-bc81-11ea-98fc-4e31408c3d9b" src="https://user-images.githubusercontent.com/41171425/98861528-6ae11500-2433-11eb-9156-72e314bdf196.png">

[2020-11-11 20:45] faid0n opened #6501 "g++ builds in wrong directory: ${workspaceFolder}\file.exe instead of ${fileDirname}\file.exe"
While in tasks.json the destination argument for g++ is clearly `"${fileDirname}\\${fileBasenameNoExtension}.exe"`, it decides to build in `"${workplaceFolder}\\${fileBasenameNoExtension}.exe"` ...

I have posted this in stack overflow: [SO Question](https://stackoverflow.com/questions/64770090/g-doesnt-compile-example-exe-in-directory-of-example-cpp-vscode-with-g)
But as I searched I started to s

[2020-11-11 21:02] michelleangela commented on #5773
@bcaddy
Colorization in comments is determined by VS Code via it's [C++ TextMate grammar](https://github.com/jeff-hykin/cpp-textmate-grammar) and is not determined by the C++ Extension (vscode-cpptools). You might consider opening an issue in the repo for the C++ TextMate grammar used by VS Code, which is here: https://github.com/jeff-hykin/cpp-textmate-grammar

[2020-11-11 21:05] Colengms commented on #6483
Hi @schlopp96 .  It sounds like you are saying that the compiler arguments you specify in `task.json` do not appear to be used when you build your project using task.json.  Is that right?  If so, could you please post the content of your `tasks.json` file?

The image you posted appears to be of the terminal.  And, the first command, which fails, appears to have been entered into the terminal.  As

[2020-11-11 21:10] bcaddy commented on #5773
Thank you!

[2020-11-11 21:17] michelleangela commented on #6500
@sean-mcmanus is this related to https://github.com/microsoft/vscode-cpptools/issues/2345?

[2020-11-11 21:18] Colengms commented on #6108
Hi @xiaoma20082008 .  This issue is tracking the need to make arbitrary changes to colors in a theme, and is not related to colorization bugs.  Normally, I'd suggest opening a new issue for this, but I suspect this repro's with the C/C++ Extension disabled, and is by design.

The C/C++ Extension provides semantic colorization (colorization for tokens that require compilation to identify).  VS Code

[2020-11-11 21:39] Colengms commented on #6497
Hi @JeanMiK .  Thanks for reporting this.  There appears to be an issue with how the extension is handling ".C" files, which are (internally) mapped to C++ using the `files.association` setting.

[2020-11-11 21:42] faid0n commented on #6501
(Somebody add the "tasks" tag and possibly the "bug" tag if my statement is correct)

[2020-11-11 21:59] RiccardoRossi commented on #5029
just to tell that for me it takes minutes (many minutes!)

admittedly i have a very large project,  but as of now it is simply unusable

[2020-11-11 22:10] michelleangela commented on #6501
This has been fixed with https://github.com/microsoft/vscode-cpptools/pull/6482

[2020-11-11 22:12] michelleangela commented on #6501
Closing as duplicate of https://github.com/microsoft/vscode-cpptools/issues/6386

[2020-11-11 22:12] #6501 closed, assigned to nobody

[2020-11-11 23:23] Colengms commented on #6488
Hi @shankFab .  I don't think we have enough information to repro your issue.  I'm not easily able to repro an issue with the following code:

[code]

Can you provide the following?
* A snippet of code that reproduces the issue
* Your configuration (the content of your `c_cpp_properties.json` file)
* The output of the C/C++ output channel, with `"C_Cpp.loggingLevel": "Debug"` set, leading up to th

[2020-11-11 23:29] Colengms commented on #6467
Hi @qcnhy .  Can you provide all of the output in the C/C++ channel?  There is a known issue in which this error could occur if a file is open multiple times in VS Code, each with different path/filename casing.  Can you confirm if multiple instances of the file were open with different casing (perhaps already open in VS code when launched) ?

[2020-11-11 23:32] Colengms commented on #6492
Hi @ssoher .  Thanks for reporting this.  I believe this is a dupe of https://github.com/microsoft/vscode-cpptools/issues/4192 , so closing this as a duplicate.  Please let me know if I'm mistaken.

[2020-11-11 23:32] #6492 closed, assigned to nobody

[2020-11-12 00:18] Colengms commented on #6444
Hi @denis-shienkov .  The compilerPath field of SourceFileConfiguration is optional.  I just did a quick test, and leaving this field undefined appears to work as expected, but does not provide IntelliSense with any system include paths or system defines.

[2020-11-12 00:35] DaMammoth opened #6502 "Doesn't work"
OS: Windows 10, build 19042.610.
 VS Code version: October 2020 (version 1.51)
Extension version: v1.1.1
Other extensions: N/A
Issue: There isn't even an option for a C debugger/compiler. There are only ones for C++. When I press either, it just brings me to settings.JSON, and does nothing else.
Steps:
1. Press "F5" or click debug/run.
2. Click on one of the C++ compilers. There is no C compiler.

[2020-11-12 00:50] DaMammoth commented on #6502
Oh, never mind. I just realized that this STUPID extension, doesn't do CRAP. I have NO idea why this thing even exists. I can't use GNU, so I was going to use this instead, but you need GNU Y|TO RUN IT. What a piece of absolute crap.

[2020-11-12 00:50] #6502 closed, assigned to nobody

[2020-11-12 01:39] athisun commented on #4833
@Colengms I'm not sure this is the case for everyone, but I wasn't able to follow your guide to attach a debugger since the cpptools and cpptools-srv processes are not listed in the process picker, even immediately after restarting vscode or reinstalling the cpptools extension. I'm using cpptools 1.1.1 and having the same issue as above on macOS 10.15.7, vscode 1.51.1.

[2020-11-12 01:55] Colengms commented on #4833
Hi @athisun .  If you have already seen the message, "Connection to server got closed. Server will not be restarted.", then those processes would no longer be running.  If the issue occurs immediately open launch, it's unlikely you'll be able to connect a debugger quickly enough.  Rather, that guidance is for when there is some step that seems to cause the issue, and you can connect the debugger b

[2020-11-12 02:11] athisun commented on #4833
Thanks @Colengms. No luck with raising the logging level to debug - the only output from cpptools is the one line `[Error - 11:57:15 AM] Connection to server got closed. Server will not be restarted.`. The Tasks, Extensions channel remains blank. The C/C++ channel has a single line `Finished installing dependencies`.

I have tried reinstalling, downgrading to 1.1.0, uninstalling and deleting the e

[2020-11-12 02:21] Colengms opened #6503 "Extension failing immediately on macOS"
Thanks @Colengms. No luck with raising the logging level to debug - the only output from cpptools is the one line `[Error - 11:57:15 AM] Connection to server got closed. Server will not be restarted.`. The Tasks, Extensions channel remains blank. The C/C++ channel has a single line `Finished installing dependencies`.

I have tried reinstalling, downgrading to 1.1.0, uninstalling and deleting the e

[2020-11-12 02:21] Colengms commented on #4833
@athisun I'm moving this to a new issue: https://github.com/microsoft/vscode-cpptools/issues/6503

[2020-11-12 02:32] Colengms commented on #6503
@athisun We don't seem to be repro'ing this issue for the majority of Mac users, so information about your environment, configuration, etc., might help us understand what is happening.  What version of macOS you are using?  What version of VS Code are you using?  (Perhaps start to create a new GitHub issue, so you can see the information we request there).  Does the issue repro immediately after i

[2020-11-12 04:26] WardenGnaw commented on #631
This should be fixed in 1.1.0.

[2020-11-12 04:26] #631 closed, assigned to nobody

[2020-11-12 04:33] WardenGnaw commented on #977
You can now specify breakpoints to use full path in v1.1.0 via `sourceFileMap`.

Example:
[code]

[2020-11-12 04:40] shivammalviya712 commented on #6192
Hii!! I had the same issue, so I just made cpptools and cpptools-srv executable using "chmod +x <filename>". Now it's working.

[2020-11-12 04:41] WardenGnaw commented on #446
Closing with not enough information.

If this issue is still occuring, please open a new issue with the requested information.

[2020-11-12 04:41] #446 closed, assigned to pieandcakes

[2020-11-12 04:42] WardenGnaw commented on #585
Closing issue with no recent updates.

If this issue is still occuring, please open a new issue.

[2020-11-12 04:42] #585 closed, assigned to nobody

[2020-11-12 04:44] WardenGnaw commented on #682
Closing issue with no recent updates.

If this issue is still occuring, please open a new issue.

[2020-11-12 04:44] #682 closed, assigned to pieandcakes

[2020-11-12 04:46] WardenGnaw commented on #3648
Closing due to being an external issue with GDB 7.6.1.

[2020-11-12 04:46] #3648 closed, assigned to pieandcakes

[2020-11-12 04:47] WardenGnaw commented on #1899
Closing due to being an external issue with lldb-mi.

[2020-11-12 04:47] #1899 closed, assigned to WardenGnaw

[2020-11-12 04:49] WardenGnaw commented on #6402
Closing due to not enough information and being an SSH Extension scenario.

[2020-11-12 04:49] #6402 closed, assigned to nobody

[2020-11-12 04:53] WardenGnaw commented on #908
In v1.1.0, we removed a layer that converted the launch.json to XML back to JSON which caused escaping issues in `setupCommands`.

Please reopen the issue if you are still experiencing this problem.

[2020-11-12 04:54] WardenGnaw commented on #6134
Duplicate of https://github.com/microsoft/vscode-cpptools/issues/909

[2020-11-12 04:54] #6134 closed, assigned to nobody

[2020-11-12 04:59] WardenGnaw commented on #503
Won't fix since Apple is EOLing 32-bit

https://support.apple.com/en-us/HT208436

[2020-11-12 04:59] #503 closed, assigned to nobody

[2020-11-12 05:00] WardenGnaw commented on #364
Closing due to inactivity.

[2020-11-12 05:00] #364 closed, assigned to pieandcakes

[2020-11-12 05:01] WardenGnaw commented on #553
This should be resolved in v1.1.0 with `sourceFileMap` and set `useForBreakpoints` to be true.

[2020-11-12 05:01] #553 closed, assigned to nobody

[2020-11-12 05:04] WardenGnaw commented on #1317
This should be resolved in v1.1.0.

[2020-11-12 05:04] #1317 closed, assigned to nobody

[2020-11-12 05:06] WardenGnaw commented on #1218
Closing due to inactivty.

[2020-11-12 05:06] #1218 closed, assigned to nobody

[2020-11-12 05:13] WardenGnaw commented on #3268
In v1.1.0, if you use `sourceFileMap` and `useForBreakpoint` it will use the full path to set a breakpoint instead of the file name.

[2020-11-12 05:13] #3268 closed, assigned to WardenGnaw

[2020-11-12 05:13] WardenGnaw commented on #4022
Closing due to not enough info. Please update to the latest extension version and open a new issue if this problem is occuring.

[2020-11-12 05:13] #4022 closed, assigned to pieandcakes

[2020-11-12 05:17] WardenGnaw commented on #3835
We reccomend setting up `VS Code Remote - Containers` instead of using pipeTransport to build and debug your C++ apps in Docker.

[2020-11-12 05:17] #3835 closed, assigned to nobody

[2020-11-12 07:13] shubham721 commented on #6369
Starting: "/Users/shubham.goyal/.vscode/extensions/ms-vscode.cpptools-1.1.1/debugAdapters/lldb-mi/bin/lldb-mi" --interpreter=mi
dyld: lazy symbol binding failed: Symbol not found: __ZN4lldb20SBCommandInterpreter15SetPromptOnQuitEb
  Referenced from: /Users/shubham.goyal/.vscode/extensions/ms-vscode.cpptools-1.1.1/debugAdapters/lldb-mi/bin/lldb-mi
  Expected in: /Applications/Xcode.app/Contents/Sha

[2020-11-12 07:49] lch2000 commented on #6475
@WardenGnaw Well, now I can see the output in the console. But I still can't type in the vscode's terminal when debugging to the line "cin". Someone says that it is the reason for cygwin. I think you are able to deal with it.
![image](https://user-images.githubusercontent.com/56639010/98909979-80bb0c80-24fd-11eb-8afd-67f02728939e.png)
Then step over.

![image](https://user-images.githubusercontent

[2020-11-12 07:50] denis-shienkov commented on #6444
@Colengms ,

Yes, I forgot to mention, that I did same test previously. I tried to do not set the compiler path, but to do set the include paths and defines. But the intelli sense did not work too.

Maybe the `undefined` compiler path may be as a workaround instead of a new `is_compiler_supported` option.. But it does not work.

[2020-11-12 08:25] psclkhoury commented on #977
@WardenGnaw Can you give a better example on how to use this? Do I have to do this for each breakpoint I set or what? What are `<compiler-path>` and `<source-path>`?

I don't agree with the solution. By default I should be able to set a breakpoint and the full path should be sent to the debug engine without any extra action.

This seems more like a workaround than a fix.

[2020-11-12 08:26] lch2000 commented on #6475
@WardenGnaw I find that MinGW can't type in the terminal too. By the way MinGW can output the charsequence when not adding "endl".

[2020-11-12 08:40] fsabr opened #6505 "No formatter for 'cpp' files. After updating Code OSS"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Arch Linux (5.9.6 Zen)
- VS Code Version: 1.50.1 (Code OSS)
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- I recently updated Code OSS as part of a system update. After the u

[2020-11-12 08:49] zchrissirhcz opened #6506 "undefined identifier "__builtin_neon_vst1_v" for NDK-r21b arm64-v8a platform"
**Type: LanguageService**
I'd like to use VSCode for developing Android NDK projects, containing arm neon intrinsics in my snippet.

I can use `Ctrl+Mouse` to go to arm neon intrinsics macros definition, but in my source code, IntelliSense just gives **red wavy curves**.

No more red wavy curves for arm neon intrinsics marcos is expected.

**Describe the bug**
- OS and Version: Windows10  (10.0.19

[2020-11-12 09:30] zchrissirhcz commented on #6506
To be precise, this squirrel is due to IntelliSense errors in `arm_neon.h`. It can't recognize `__fp16`:

![image](https://user-images.githubusercontent.com/3831847/98921818-ad2a5500-250c-11eb-9ee8-103d26fa4097.png)
![image](https://user-images.githubusercontent.com/3831847/98921836-b4516300-250c-11eb-8f14-92c1984fa95b.png)

[2020-11-12 10:20] sstaub opened #6507 "Color Theme for C++ Class Object"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS Catalina 10.15.7
- VS Code Version: 1.51.0
- C/C++ Extension Version: 1.1.1
- Other extensions you installed (and if the issue persists after disabling them): PlatformIO

The color of a class object (e.g. MyClass myObject) in C++ is interpreted as the color of a variable ("scope": "variable").
It should possible to give the cl

[2020-11-12 11:21] xiaoma20082008 commented on #6108
Thanks for your replying  @Colengms
The dark theme(Visual Studio C/C++) is my default theme and the C/C++ Extension is enabled, but it's also appearing.
Why I commented here is that I checked the issues then found this issue is similar to my case but I'm not sure if other user had open a same issue or a new future also I'm not sure whether it's a bug .

ps: I tried the [TextMate](https://github.co

[2020-11-12 11:49] fsabr commented on #6505
Ok reinstalling the extension fixed this.

[2020-11-12 11:49] #6505 closed, assigned to nobody

[2020-11-12 12:35] letmaik commented on #3470
Just ran into the same issue again. I used VS Code remote and the extension filled up the disk completely, which I didn't notice. After a restart I couldn't ssh in and had to do an [elaborate recovery on Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-recovery-disks-portal-linux) (of course, freeing up disk space via Azure's serial console would theoreti

[2020-11-12 18:44] WardenGnaw commented on #977
`<compile-path>` is the path that GDB returns when a breakpoint is hit.
`<source-path>` is the path that you want to see in the editor.

For scenarios where you do not build on a different machine or move the source files before compiling, `<compile-path>` and `<source-path>` will be exactly the same.

With the following, all breakpoints (except the first one the debug adapter uses to break at ent

[2020-11-12 18:51] WardenGnaw commented on #6475
Ah. I can reproduce the integratedTerminal issue with Cygwin. Thank you for pointing this out.

Are you using the MinGW from https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/installer/mingw-w64-install.exe/download?

[2020-11-12 19:20] aschlicht commented on #5773
I open an issue in the cpp-textmate-grammer repo, as suggested in other comments, for [in] and [out] syntax coloring.
https://github.com/jeff-hykin/cpp-textmate-grammar/issues/520

[2020-11-12 20:28] sean-mcmanus commented on #6342
I've filed a new issue for a crash in the scenario at https://developercommunity.visualstudio.com/content/problem/1254580/c-intellisense-crashes-after-making-an-edits-and-c.html .

[2020-11-12 20:31] psclkhoury commented on #977
@WardenGnaw I tried:
[code]

And I got an error:
![image](https://user-images.githubusercontent.com/9846892/98992228-3f425580-252d-11eb-88aa-353460db3835.png)

I then tried to put the real path instead of `${workspaceFolder}` (so `c:/path/to/root`) and the breakpoint was set in all files with the same name.

I think most users will never have to deal with that, so it do not understand why the defa

[2020-11-12 20:44] JohnnyLAmpAz commented on #6386
Same happening here. The var `${relativeFileDirname}` (and that part in `${fileDirname}`) is just null during the build task, therefore cannot handle either source files or build destination path in subdirectories of the root project dir.

Project tree:
[code]
Build task (relevant section):
[code]
Output of build task:
[code]

[2020-11-12 20:52] WardenGnaw commented on #977
Can you enable logging by adding the following to your `launch.json` and share the `-break-insert` logs in `Debug Console`?
[code]

When doing that, you can filter and check to see if MIEngine is telling GDB to bind with the specific path for files under that path.

Here's an example of two files with the same name `foo.cpp` in associated folders called A/B under the project `D:/Projects/cpp`
![im

[2020-11-12 20:56] Colengms commented on #6507
Hi @sstaub .  The C/C++ Extension provides semantic colorization.  The underlying syntactic colorization is from VS Code (and the TextMate grammar you referred to).  You can confirm which colors are coming from us vs. VS Code by enabling/disable the C/C++ Extension, or the `C_Cpp.enhancedColorization` setting.  However, you will need to reload the window, due to https://github.com/microsoft/vscode

[2020-11-12 21:05] Colengms commented on #6503
Hi @athisun .  Could you check if the issue might be specific to one of the folders in your multi-root workspace, by opening each folder individually to see if the issue repro's?

[2020-11-12 21:16] psclkhoury commented on #977
I do not see any logging with `break-insert` after enabling the `engineLogging`. I only see this which has the correct path.

![image](https://user-images.githubusercontent.com/9846892/98997379-b7604980-2534-11eb-8f07-b2bf57c61b94.png)

[2020-11-12 21:17] Trass3r commented on #977
I can't follow. If you don't have the source code you can't set a breakpoint from the code editor, only manually via the breakpoints view and that user input should be passed on as-is.

Anyway can't the debug adapter decide on its own if a full path is ok, like with File.Exists or whatever?

[2020-11-12 21:29] sean-mcmanus commented on #6272
I don't repro this bug with msvc/cl.exe with 1.1.1. However, I get an "identifier "operator==" is undefined" in Linux mode: https://developercommunity.visualstudio.com/content/problem/1254622/c-intellisense-gives-an-incorrect-identifier-opera.html .

[2020-11-12 21:36] WardenGnaw commented on #3141
Closing: Using "Build and Debug Active File" when right clicking a file will generate a tasks/launch.json for this scenario.

[2020-11-12 21:36] #3141 closed, assigned to nobody

[2020-11-12 21:37] Colengms commented on #6444
Hi @denis-shienkov .

Are you saying that you provided all system include paths and all system defines, in additional to project include paths and defines?

To clarify, I'm not referring to the project's include paths and defines.  You would need to specify all system include paths  (locations of `iostream`, `stdlib.h`, etc.), so standard C/C++ headers can be found by IntelliSense.  And, you would

[2020-11-12 22:17] bobbrow commented on #6469
This is a duplicate of #531

[2020-11-12 22:21] bobbrow commented on #1708
A new issue #6285 was opened which addresses this.

[2020-11-12 22:21] #1708 closed, assigned to nobody

[2020-11-12 22:23] bobbrow commented on #1742
Closing stale issue

[2020-11-12 22:23] #1742 closed, assigned to nobody

[2020-11-12 22:25] bobbrow commented on #1780
@sean-mcmanus I was talking to @Colengms about this today. He said you made a change to update_range that might have addressed this.  Do you know if it did?

[2020-11-12 22:31] bobbrow commented on #2557
@Colengms can you check if this is still an issue?

[2020-11-12 22:36] bobbrow commented on #4192
This appears to be a duplicate of #2667. We'll track it with that one.

[2020-11-12 22:36] #4192 closed, assigned to nobody

[2020-11-12 22:47] bobbrow commented on #2735
Closing. There wasn't enough interest in working through this further.  The current behavior is by design.

[2020-11-12 22:47] #2735 closed, assigned to nobody

[2020-11-12 22:52] bobbrow commented on #2764
Looks like a dupe of #2557

[2020-11-12 22:52] #2764 closed, assigned to nobody

[2020-11-12 22:58] bobbrow commented on #2786
We've made a lot of changes in the past 2 years that may have improved this scenario. @katjie are you still experiencing this problem?

[2020-11-13 01:20] sean-mcmanus commented on #3883
This is a bug with our stuff -- it repros with
[code]
And deleting the ';' and adding it back, and then switching documents and cursor positions inside methods in both files.

It's not an issue with temporary results (or the issue with temporary results is a different issue).

[2020-11-13 01:54] Colengms commented on #3883
@sean-mcmanus I'm not sure what you're referring to specifically, but the issue I opened against VS repro's in VS.  And, IntelliSense should probably not ever generate an error that indicates `type A cannot be assigned to type A` (assuming there is a non-deleted assignment operator).

[2020-11-13 02:04] sean-mcmanus commented on #3883
It does generate that error, seemingly correctly, when there's no semi-colon -- that is considered "by design" due to the incompleteness of the statement. However, I'm seeing a bug AFTER the semicolon is added, as if an old document is being used to generate errors.

[2020-11-13 02:36] Colengms commented on #2667
This is currently blocked on a VS Code issue: https://github.com/microsoft/vscode/issues/110537

I looked for an existing issue against VS Code that was tracking this and could not find one, so created a new one.

[2020-11-13 03:18] lch2000 commented on #6475
@WardenGnaw Oh sorry, I installed the wrong MinGW version before. I have already downloaded a fit one from the website you provided. Now it's all ok. I can type in the integraded terminal. To be honest, the guide of setting vscode+cygwin on the internet is so poor. I was confused about it. Thanks to your help, I can start writing C++ code in vscode.

[2020-11-13 04:04] WardenGnaw commented on #6475
Thank you for letting us know. We will look into improving the docs for using VS Code C++ extension + Cygwin.
From this we know there is an issue with Cygwin 10.1-1 which is an external issue.

I will be closing this issue for now. Please re-open if you are still experiencing issues on starting debugging / using the integrated terminal.

If it is other issues, please file a new bug.

Thank you for

[2020-11-13 04:04] #6475 closed, assigned to WardenGnaw

[2020-11-13 06:15] aradove opened #6508 "VSCode with C++ does not index workspace folder"
Issue Type: <b>Bug</b>

I'm trying to get my project indexed in VSCode, but when pressing "Go to Definition", I only get a rolling bar at the top of the editor which then disapear. The definition is never found, and no message is given.

![image](https://user-images.githubusercontent.com/9294134/99230285-721b7080-27ef-11eb-8910-f95de5390043.png)

 It is a git project with multiple subrepositories,

[2020-11-13 07:44] denis-shienkov commented on #6444
Hi @Colengms ,

Yes, as you can see on the beginning of this theme, I provide all required compiler include paths.

F.e. a provided path `c:\Program Files (x86)\IAR Systems\Embedded Workbench 8.4\arm\inc\cpp\` contains the `iostream` file, but the intelli sense fails to found this `iostream` file.

Yes, it is not a problem, because our build system provide this. I just need to add this macros to t

[2020-11-13 10:45] azavor commented on #2974
With C/C++ extension 1.1.1, SSH extension 0.56.0, and VS Code 1.51.1 code outline now works. Not sure which update fixed it.

[2020-11-13 11:02] katjie commented on #2786
@bobbrow Just like you guys, Catch2 has changes a lot in the past two years. I unfortunately don't have the clone from back-in-the-days, but I can say that as I see it right now, it does not show the same problem when I open the project files. I've also not seen this behaviour any other time over the past two years, so from my perspective it is no longer an issue.

[2020-11-13 12:06] BadHermano opened #6509 ""File not found" - Changed Directory"
Hi Guys,

i have a problem with CPP tools of Visual studio code.
I attached Visual Studio code to a process.
Sometimes he tries to access a function in a diffrent file.
Then he doesn't find the file. THe path which is showing is also wrong.
If i say him to jump out the program runs normally till it tries to open another function again in a diffrent file.
Also here he is using a wrong path.
These p

[2020-11-13 16:00] XiaWuSharve commented on #5497
I have the same problem debugging C++ programs.The terminal didn't output anything and of course can't get inputs.You say there's an issue with mingw,but I don't know the concrete steps to solve this problem.Thanks a lot.

[2020-11-13 16:19] manum45 commented on #6454
Thanks for the feedback, I'll try to create a repro file in Monday.

[2020-11-13 16:52] AravindGopala opened #6510 "Switching between header and source file does not work unless the src file folder is opened in the sidebar"
**Type: LanguageService**

**Describe the bug**
About:
When the src and header are in different folders, when we open the header file and tried to switch to the src file by F12 on one of the function declarations in the header file or use Alt + O to switch to the src file, this will not work unless the folder containing the src file is opened in the sidebar.

- OS and Version: Ubuntu 20.04
- VS Co

[2020-11-13 17:36] hansaya commented on #6381
I ran into the same problem on v1.1.1 and vscode 1.51.1. Bug got into the latest release?

[2020-11-13 18:03] WardenGnaw commented on #6509
In your `launch.json` you can add `sourceFileMap` to help the debug adapter map files from the old path to your new path.

Example:
[code]

Reference: https://github.com/microsoft/vscode-cpptools/blob/f6d75776884ede4a56cac917d3233407c069bb29/Extension/package.json#L1462-L1503

[2020-11-13 18:17] schlopp96 commented on #6483
The first command was not entered by me, but by Visual Studio itself. When I mean "run" the code, I mean that Visual Studio Code has a button that lets you test your code, like with Python, or any other dynamically-typed language. However, for C++, that button basically functions as a "build-and-run" button, so that when you click it, it builds the file, and then runs through it immediately after.

[2020-11-13 18:57] sean-mcmanus commented on #6466
You could also request more C documentation at https://github.com/microsoft/vscode-docs/issues .

[2020-11-13 18:57] #6466 closed, assigned to nobody

[2020-11-13 19:10] WardenGnaw commented on #1147
Closing due to inactivity.

[2020-11-13 19:10] #1147 closed, assigned to pieandcakes

[2020-11-13 19:13] WardenGnaw commented on #5533
Closing due to inactivity

[2020-11-13 19:13] #5533 closed, assigned to WardenGnaw

[2020-11-13 19:16] WardenGnaw commented on #5861
The thread and process exit messages logging is available in v1.1.0.

This should be in the vsdbg version 16.4.202272. You can find this at `%USERPROFILE%\.vscode\extensions\ms-vscode.cpptools-1.1.1\debugAdapters\vsdbg\bin\vsdbg.exe`

[2020-11-13 19:16] #5861 closed, assigned to WardenGnaw

[2020-11-13 19:50] Colengms commented on #6483
Hi @schlopp96 .  The Run (or the "Run and Debug" button) in the Debug panel is driven by the contents of the `launch.json` file.  Perhaps it was auto-generated incorrectly?  Can you provide the contents of that file?  If automatically generated, it may include a `preLaunchTask` field, which should refer to an entry in your `tasks.json` file.

There appears to be a bug related to this in VS Code: h

[2020-11-13 21:13] Colengms commented on #6444
Hi @denis-shienkov .  Can you provide more details on the behavior you are seeing with the compilerPath set to undefined (and all system include paths and defines provided) ?  Can you provide the output of the `Log Diagnostics` command while a file in open in that scenario?  It should work, but this is uncharted territory, so perhaps there are some issues you could help us identify and address.

[2020-11-13 21:13] sean-mcmanus commented on #6444
I'm seeing `Unable to resolve include path: C:/Program Files (x86)/IAR Systems/Embedded Workbench8.4/arm/inc/cpp` in the logs.

[2020-11-13 21:14] #2786 closed, assigned to Colengms

[2020-11-13 21:16] BadHermano commented on #6509
Hi warden, thank you very much for your answer and the solution approach but is there no more user friendly solution like in visual studio where immediately if a file was not found the file browser opens to navigate to the source file ? Because otherwise I have to always restart the debugging and edit the launch json file and manually add for each file the paths. Thanks again for your help

[2020-11-13 21:26] AnthonyParkssonos commented on #6035
@TTimo, Intellisense isn't just being killed, i'm seeing this:

![image](https://user-images.githubusercontent.com/50883726/99122736-e3c7a480-25cc-11eb-9d45-30d8e885dec4.png)

[2020-11-13 21:26] sean-mcmanus commented on #6439
The error is valid for the cl.exe compiler, so my guess is that you're incorrectly configured for msvc/cl.exe mode instead of gcc mode, in which case the code compiles and we don't give squiggles. Are you able to correctly configure for gcc?

[2020-11-13 21:29] Colengms opened #6511 "Need an error message when gdb cannot be found when generating launch.json"
I ran into a problem on Windows, with mingw_w64 (10.2.0, installed via MSYS package - which is currently the proper source of mingw_w64), and using an insiders build of VS Code which includes the fix for https://github.com/microsoft/vscode/issues/109939.  I had not yet installed gdb in MSYS.  With no `tasks.json` and no `launch.json`, I used the "Run and Debug" button, and selected my mingw64 path

[2020-11-13 21:45] sean-mcmanus commented on #6454
I got a repro of a "classic deadlock" -- it might be the same issue you're hitting.

[2020-11-13 22:31] Colengms commented on #6511
I suppose the error that the path is invalid is technically referring to the root of the issue.  However, since we generated this file, we should have provided a warning in the process of generating it, and should not have inserted a path that is invalid (does not refer to a file, and is not a valid path on Windows).

[2020-11-13 22:32] WardenGnaw commented on #2609
Closing as resolved.

[2020-11-13 22:32] #2609 closed, assigned to pieandcakes

[2020-11-13 22:35] WardenGnaw commented on #6509
We do not have a way to provide this path to the debug adapter once we have sent the path to VS Code to open.
We currently have a feature request for navigating to the correct source file here: https://github.com/microsoft/vscode-cpptools/issues/5361

[2020-11-13 22:36] sean-mcmanus commented on #6454
Oh, no, I think the deadlock I found/fixed is a different one (repro involves switching between case sensitive to case insensitive modes).

[2020-11-13 22:39] Colengms commented on #6508
Hi @aradove .  Could you describe a specific operation that does not work as you expect, and provide the output of the C/C++ output channel leading up to the repro, as well as the output of the `Log Diagnostics` command after the repro?  Given the include path specified in c_cpp_properties.json, the tag parser should have indexed all files in your workspace.  However, not all of the extensions fea

[2020-11-13 23:06] Colengms opened #6512 "Allow multiple custom configuration providers"
It would be possible to support multiple custom configuration providers in the same workspace folder.  They could be queried in the order specified.  The type of `configurationProvider` could be `string | string[]`.

[2020-11-13 23:06] sean-mcmanus commented on #6424
Also, FYI using 3800 includePaths will probably negatively impact performance of cpptools-srv.exe. Using recursive includes (paths that end with "**") might improve performance via eliminating include paths that are not actually used in a TU.

[2020-11-14 00:18] sean-mcmanus opened #6514 "1.2.0-insiders: Hover over variables of type span shows "<error-type>""
Requires 1.2.0-insiders (not released yet).

See the repro at https://github.com/microsoft/vscode-cpptools/issues/6251, then hover over a variable of type span.

It shows `<error-type>`.

Needs to use C++20.

[2020-11-14 00:40] bubbercn commented on #5805
I've been experiencing this issue when debugging C++ program in macOS. When this happens, I have to turn to Xcode which works perfectly. So I would have to guess lldb works fine and it is a lldb-mi specific issue.

[2020-11-14 01:12] sean-mcmanus commented on #6431
I think the logs should be sufficient (I haven't heard otherwise). Andrew might be busy.

[2020-11-14 01:23] TTimo commented on #6035
Oh you're on Windows. As I understand it's a completely different mechanism there. This discussion has been mostly about memory consumption on Linux.

[2020-11-14 01:27] sean-mcmanus commented on #6489
We intentionally want to always download these files even if the current workspace is not C++; however, we could fix it so that the notification is hidden if the activation requirements for the C/C++ extension have not been hit.

[2020-11-14 01:57] sean-mcmanus commented on #6486
Why are you downgrading to 1.0.0? You need to get 1.1.1 to get the bug fix for the Linux arm issue.

1.1.1 is not an insider version. You can set extensions.autoUpdate to false to stop updating, otherwise, our C_Cpp.updateChannel set to "Insiders" may auto-update to the latest version.

[2020-11-14 02:08] sean-mcmanus commented on #6496
FYI, the offline vsix failed to installed because you double-clicked it which invoked the VS installer (the "Install from VSIX" command from inside VS Code is required to load a VS Code .vsix). But if deleting the install.lock worked, then the offline vsix isn't need.

[2020-11-14 02:38] sean-mcmanus commented on #6484
Is this still an issue? Could you elaborate on what the error is? Is this just an IntelliSense error?

[2020-11-14 02:51] sean-mcmanus commented on #6500
@michelleangela No it's unrelated. It looks like an IntelliSense bug.
@bobbrow Did you already create a VS bug for this?

[2020-11-14 03:00] sean-mcmanus commented on #6500
@venelin-phonebook Thanks for reporting this. I've filed a issue on the VS parser that we share: https://developercommunity.visualstudio.com/content/problem/1256096/cc-intellisense-gives-parameter-is-not-allowed-for.html

[2020-11-14 03:11] GustavoOS commented on #1162
Come on, 3 years... it's getting ridiculous

[2020-11-14 05:47] benvanik commented on #2908
Yeah, and it also has some issues with remote workspaces and is lacking features that would make vscode shine like using CodeActionKind so clang tidy fixes can be applied nicely in the UI. I think clang-tidy fits in line with the cpptools including clang-format support and I'm hopeful a cpptools implementation would use all some of the cool vscode features :)

[2020-11-14 07:36] denis-shienkov commented on #6444
Yes, but this file exists:

![iostream-png](https://user-images.githubusercontent.com/8415796/99142336-318feb80-2665-11eb-8135-54c126ba9946.png)

[2020-11-14 08:31] Parthiv-657 opened #6515 "Cannot debug cpp files using VSCODE"
- OS and Version: WSL 2 in windows 10
- VS Code Version:1.51
- C/C++ Extension Version: C/C++,   C++ Intellisense, code runner

This doesnt happen everytime, but when i try to debug cpp files the debugger shows this
"Stopped due to shared library event (no libraries added or removed)
Loaded '/lib64/ld-linux-x86-64.so.2'. Symbols loaded.

Breakpoint 1, main () at {here it displays file path}"

and

[2020-11-14 09:51] ldarshan1991 commented on #6485
Thanks @WardenGnaw for picking up this request.

[2020-11-14 09:58] ldarshan1991 commented on #6431
okay

[2020-11-14 13:56] frenchiveruti commented on #6484
I have no idea Sean, that's the problem, to be able to report an issue on VSCode you need a degree in Comp. Sci.
That's why I closed it.

[2020-11-14 20:10] shammabeth commented on #6035
I have a solid repro for this bug, to the point that it's become super annoying.
I have a terminal window ready to go always. Whenever this happens I end up killing cpptools manually and then restarting vscode. It's usually eaten up all of my 64GB RAM by that time. Sadly, turning off cpptools is not an option, as I need to use the debugger.

Is there any logging I can turn on and send?

[2020-11-14 21:44] TTimo commented on #6035
@shammabeth have you tried adding a bunch of patterns to `files.watcherExclude` (see https://github.com/microsoft/vscode-cpptools/issues/6035#issuecomment-683175161) - my problems went away after I did that.

[2020-11-15 01:35] sean-mcmanus commented on #4418
@mrdc FYI, if the C_Cpp.intelliSenseCacheSize is not equal to 0 then the page faults could be due to the usage of large memory mapped cache files, so you could try changing that setting to 0, but the trade-off would be more CPU usage to re-compute the cached data.

[2020-11-15 03:36] nschmeller commented on #1587
I came to this repo to file this issue--super glad it's already being worked on!

Could I get access to the preview repo? Thanks!

[2020-11-15 04:15] schlopp96 commented on #6483
Sure thing! Here is my launch.json:
![launchJSON](https://user-images.githubusercontent.com/71921821/99162740-9596cc00-26c6-11eb-8308-caba56025329.png)

I should also maybe note, that I followed the exact tutorial for setting up these documents made by VSC themselves two different times due to this issue, so hopefully it wasn't something caused by my own stupidity... ALSO thank you so much for hel

[2020-11-15 11:38] Zeinab-Rahmani opened #6516 "How to add multiple include path to task.json?"
I am trying to debug this repository: [MP-SPDZ][1], in which many `.h`, `.hpp` and `.cpp` files are placed in various folders. Additionally, in each `.cpp` file, several header files are included.

To be clearer here is what the file tree looks like :

              -mascot-party.cpp
              -SPDZ.cpp
              -SPDZ.hpp
              -Player-Online.cpp
              -Player-Online.hpp

[2020-11-15 15:50] durga-koppisetti commented on #316
![Screenshot (5)](https://user-images.githubusercontent.com/74443703/99189669-4fa23c80-2788-11eb-8d2a-73051da43c17.png)

[2020-11-15 15:51] durga-koppisetti commented on #316
can anyone help me to run my first program in c

[2020-11-15 22:23] sean-mcmanus commented on #6516
Add ${workspaceFolder} to your include path. Does that fix the issue?

[2020-11-15 22:32] sean-mcmanus opened #6517 "Replace msgpack with libuv in ThirdPartyNotices.txt"
https://github.com/libuv/libuv/blob/v1.x/LICENSE

[2020-11-16 00:53] cttpp commented on #16
Any updates?

[2020-11-16 01:28] BackMountainDevil opened #6518 "No C/C++ extension on the Open VSX marketplace (for Arch Linux, VSCodium, etc.)"
Type: General

**Describe the bug**
- OS and Version: Linux Deepin 2020
- VS Code Version: VSCodium 1.51.1
- C/C++ Extension Version: none
- Other extensions you installed (and if the issue persists after disabling them): python
- A clear and concise description of what the bug is.
There is no a c/c++ extension on VSCodium marketplace....

**Expected behavior**
Would you publish one to [open-vsx.o

[2020-11-16 08:05] aflyhorse opened #6519 "task.json ignored ${fileDirname} and dump output binary into ${workspaceFolder}"
Type: Debugger

**Describe the bug**
- OS and Version: Win10 2004, WSL Debian buster (latest)
- VS Code Version:1.51.1
- C/C++ Extension Version: v1.1.1
- Other extensions you installed (and if the issue persists after disabling them): WSL, Python, Jupyter
- A clear and concise description of what the bug is.

Since the (default) tasks.json contain ```"${fileDirname}/${fileBasenameNoExtension}"```

[2020-11-16 08:41] aradove commented on #6508
Hi @Colengms , thank you for taking the time with my issue. I updated the question with the information that it is when I try to use "Go to Definition", available with pressing shortcut F12 and right click.

I can try using MSYS2 to install the latest minGW. To me it seems to be unlikely the fault but I will nontheless test it out to rule out possible errors.

[2020-11-16 08:47] sean-mcmanus commented on #6518
Our license doesn't support vscodium, only VS Code. We've had previous issues like this. Maybe we could keep this open as a request to change our license?

In particular, see https://github.com/microsoft/vscode-cpptools/tree/master/RuntimeLicenses

[2020-11-16 08:50] sean-mcmanus commented on #6519
This is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/6386 -- it'll be fixed in our next release (1.2.0-insiders).

[2020-11-16 08:50] #6519 closed, assigned to nobody

[2020-11-16 09:24] psclkhoury commented on #6424
@sean-mcmanus Thanks for the tip, but I already tried to put only the root folder of all the includes appended with "**" but it doesn't work. I will get suggestions to add missing include paths to `c_cpp_properties.json` and the tag parser will be used instead of intellisense. Even though all of the includes are under `${workspaceFolder}` or the other root path.

The simplest way I found is to par

[2020-11-16 09:56] wlmr opened #6520 "extension not available on the marketplace"
Type: General
Noticed a few days ago that none of the functionality provided by the extension was present. After having removed it, when trying to install it it wasn't present in the marketplace. Also tried `ext install ms-vscode.cpptools` with the result of "no matching command". When trying a manual install with the .vsix the output is: "The C/C++ extension failed to install successfully. You wi

[2020-11-16 10:46] aradove commented on #6508
Log diagnostics on my old configuration
[code]

[2020-11-16 10:52] aradove commented on #6508
With Msys instead
[code]

[2020-11-16 11:20] Zeinab-Rahmani commented on #6516
Thank you for your reply. I have already added `${workspaceFolder} `to the include path in `task.json `as follows:
[code]
 Where do you mean should I add it?

[2020-11-16 12:11] ghost commented on #5051
Same issue here. I'm running win10 as well.
![grafik](https://user-images.githubusercontent.com/73653200/99251170-2b3c7380-280d-11eb-88c9-c3ab50dde3d6.png)

[2020-11-16 13:03] manum45 commented on #6454
I just noticed, the file is not 40k lines but 400k, mostly #defines. I created a header with which I can reproduce the issue. It contains ~450k #defines. But I have problems uploading it here, probably due to the company firewall. Could you create such a header yourself? Else I will recreate it on my private computer and upload later.

<details>
<summary>Code used to generate repro file (Python 3)

[2020-11-16 13:11] AlexanderNarbekov opened #6521 "Support for viewing variables in hex/bin mode when debugging"
VSC has this support since version 1.50:
https://code.visualstudio.com/updates/v1_49#_contributable-context-menu-for-variables-view
https://github.com/microsoft/vscode/issues/28025#issuecomment-722687806
But does the extension support it?( It doesn't work out of the box for me.)

[2020-11-16 13:35] langemol opened #6522 "Empty string in args throws IndexOutOfRangeException since v1.1.0"
Type: Debugger

Since version 1.1.0 having empty strings in the args array will give an IndexOutOfRangeException when trying to Start Debugging. This worked fine in version 1.0.1.
Issue: In launch.json  `"args":[ "a","","","b"]`
Workaround: add extra escaped quotes in empty argument ` "args":[ "a","\"\"","\"\"","b"],`

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.51.1
- C

[2020-11-16 15:52] BackMountainDevil commented on #6518
Thanks for your answer. Actually, it is impolite to ask your company you change the license. Maybe just like VSCodium, rebuild a clean one. Is that ok?
 According to this [comment](https://github.com/Microsoft/vscode/issues/60) from a Visual Studio Code maintainer:
[code]
Thanks all the time.

[2020-11-16 16:02] mario-galenai opened #6524 "Superuser access is required to attach to a process, but authorisation can't be confirmed since there is an extra line in the terminal."
Type: Bug in the terminal.

**Describe the bug**
- OS and Version:
Distributor ID: Ubuntu
Description:    Ubuntu 19.10
Release:        19.10
Codename:       eoan

- VS Code Version:
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:31:29.624Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.3.0-64-generic

- C/C++ E

[2020-11-16 16:51] GideonUng opened #6525 "Large header files breaking intelisense / highlighting / autocompletion / linting"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.1
- Other extensions you installed (and if the issue persists after disabling them): -
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- Large header files breaking intelisense / highlighting / auto completion / linting

**St

[2020-11-16 17:43] ghost commented on #1723
Debugging would be fantastic, but I can't figure out how to include the "mpiexec -n " prefix in launch.json. Surely there is some way to do this, yes? I tried adding it as a prelaunch task but the system requires that I include it as a prefix to running the a python script. Any help would be greatly appreciated.

[2020-11-16 18:10] sean-mcmanus commented on #6518
A "clean" C/C++ extension with just the MIT license (i.e. TypeScript on GitHUb) would not include the cpptools/cpptools-svr binaries listed under https://github.com/microsoft/vscode-cpptools/tree/master/RuntimeLicenses , so it wouldn't be usable. Therefore, the license would need to be changed for those binaries.

[2020-11-16 18:11] sean-mcmanus commented on #6520
We're tracking this with https://github.com/microsoft/vscode-cpptools/issues/6518 (there are other previous issues as well).

[2020-11-16 18:11] #6520 closed, assigned to nobody

[2020-11-16 18:24] sean-mcmanus commented on #6525
It sounds like the IntelliSense process is crashing. We need more repro info. We aren't able to repro this issue and we haven't gotten other reports of this, in regards to headers like Windows.h and the standard library headers. Can you provide the logging from running the C/C++: Log Diagnostics command? In particular, the cppStandard and compilerPath used and any important defines. Also, if you c

[2020-11-16 18:35] sean-mcmanus opened #6526 "IntelliSense process crash reporting and recovery stopped working with 1.2.0-insiders"
I think we want to fix this before 1.2.0-insiders is released.

[2020-11-16 18:43] GideonUng commented on #6525
From short testing it seems like intelisense isnt crashing but every time i switch back and forth between tabs the intelisense refresh gets significantly slower.

I several of the large header files open and ctrl-tabbed between them without opening any new ones.
the debug console tells me that after each window switch the intelisense reload got slower.
from the console (on a ryzen 7 3700X):
`Updat

[2020-11-16 18:53] GideonUng commented on #6525
`c_cpp_properties.json`:
[code]

[2020-11-16 18:57] sean-mcmanus commented on #6525
Yeah, a crash would show "Failed to send request to server" in the logging (and break in the debugger), so it sounds like you're not hitting a crash.

Does the memory usage also increase as the update time increases?

Does the issue repro without the Vulkan SDK?

[2020-11-16 19:00] GideonUng commented on #6525
Yes memory usage of intelisense server goes up to 4-5gb
Yes it appears without referencing the vulkan.hpp or vulkan.h headers (problem appears for both)
It also appears when just using C
And when simply including `windows.h`
Problem seems to be consitant on windows and linux. But not sure if they have the same origin

[2020-11-16 19:10] sean-mcmanus commented on #6525
Windows is limited to around 3 GB (32-bit process), at which point it is expected to crash from an out of memory, so I assume the 4-5 GB is on Linux?

You're seeing cpptools-srv using the memory/CPU and not cpptools, right?

Are you using windows.h on Linux too?

What version of the cl.exe headers and Windows headers are you using or what version of gcc/clang headers? e.g. the logging related to
[

[2020-11-16 19:13] phil-blain commented on #1723
Tangentially related: have a look at [`tmpi`](https://github.com/Azrael3000/tmpi). It's not as cool as debugging MPI executables in VSCode could be, but it's a *major* improvement over `mpirun -np $n xterm -e gdb --args ./my_executable` since keyboard input is multiplexed to each process (by default). Note that it only works for OpenMPI (not MPICH) for the moment though.

[2020-11-16 19:36] WardenGnaw commented on #6521
The extension does not contribute to the `"debug/variables/context"` yet.

I have marked this as a feature request. Thank you for letting us know it is available.

We will need to add
[code]
to our launch.json and implement the new `<COMMAND>`

https://github.com/microsoft/vscode-cpptools/blob/b4e2a8457f0d5a5a5c8222dc750d0d3fef8c12a4/Extension/package.json#L44

[2020-11-16 19:55] WardenGnaw commented on #6522
Thank you for reporting this bug.

I can reproduce the issue and we will be investigating a fix.

[2020-11-16 20:23] sean-mcmanus commented on #6502
What C compiler do you have installed? It's working for me with the mingw C compiler:

![image](https://user-images.githubusercontent.com/19859882/99304059-bb2aef00-2806-11eb-9aca-02eda1cd6b70.png)

If it says stdio.h doesn't exist, that means the compilerPath wasn't set to a valid compiler.

We have docs at https://code.visualstudio.com/docs/cpp/config-mingw, although you'd have to change it for

[2020-11-16 20:27] davinci26 opened #6527 "Failed to install extension"
Type: General

**Describe the bug**
- OS and Version: Windows Version 2004 (OS Build 20259.1)
- VS Code Version:  1.51
- C/C++ Extension Version: N/A
- Other extensions you installed (and if the issue persists after disabling them): N/A
- A clear and concise description of what the bug is.

Failed to install C/C++ extension.

From the console I see the following logs:
[code]

**Expected behavior**

[2020-11-16 21:00] sean-mcmanus commented on #6527
This appears to be an issue with VS Code itself and/or the marketplace (because our extension isn't even installed at this point). Can you file an issue at https://github.com/microsoft/vscode/issues ?

A possible workaround is to follow the offline vsix instructions at https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.1 .

[2020-11-16 21:00] #6527 closed, assigned to nobody

[2020-11-16 21:51] WardenGnaw commented on #6524
Thank you for reporting this issue. Just a couple of questions

Is this with the same C/C++ Extension Version? If so, this may be on how VS Code is writing to the terminal and they may be injecting the carriage return

[2020-11-16 21:52] WardenGnaw commented on #6515
Can you add the following to your `launch.json` and share the output from the `Debug Console`?
[code]

[2020-11-16 21:55] sean-mcmanus commented on #6503
This sounds like it could be the same issue as https://github.com/microsoft/vscode-cpptools/issues/6126 , i.e. the platformIO issue that we haven't been able to get repro for yet.

[2020-11-16 22:16] Colengms commented on #6483
Hi @schlopp96 .  Based on your `launch.json` (since it has no explicit calls to g++, and doesn't reference any tasks in your `tasks.json`), it's unclear to me why it would be invoking `g++` when run.

To clarify, when you run, does that UI look like this? :

![image](https://user-images.githubusercontent.com/49173979/99314062-5dea6a00-2815-11eb-9374-32ecabdedae5.png)

Also, based on the images you

[2020-11-16 22:24] Colengms commented on #6508
Hi @aradove .  When the C/C++ Extension parsed files, there is a little cylinder icon on the bottom of the window:

![image](https://user-images.githubusercontent.com/49173979/99315144-0baa4880-2817-11eb-86f5-2f28ec6e5b63.png)

If this icon is visible, does the issue repro if you wait for it to eventually complete and dismiss?

If something is going wrong with parsing or the Go To Definition opera

[2020-11-16 22:43] sean-mcmanus commented on #6444
There is a missing space before 8.4 in the string `C:/Program Files (x86)/IAR Systems/Embedded Workbench8.4/arm/inc/cpp"`, i.e. it looks like the configuration provider is sending an invalid path.

[2020-11-16 23:59] sean-mcmanus commented on #6506
__fp16 support hasn't been implemented yet. I've filed a bug on VS (our shared parser) at https://developercommunity.visualstudio.com/content/problem/1257543/c-intellisense-doesnt-support-fp16-in-clang-mode.html .

There might be additional arm neon intrinsic issues though.

[2020-11-17 00:34] sean-mcmanus opened #6530 "1.2.0-insiders CMake Tools ignores “-isysroot”, “/Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk”"
We should fix this regression.

[2020-11-17 00:52] mario-galenai commented on #6524
Yes, with the same version of C/C++ ext. I reported it to VSCode first, but
they told me to report it to you, that is the github for the extension
C/C++.

Thanks for looking into this,

On Mon, Nov 16, 2020 at 4:51 PM Andrew Wang <notifications@github.com>
wrote:

[2020-11-17 01:07] sean-mcmanus commented on #2974
@azavor 1.1.1 only fixed https://github.com/microsoft/vscode-cpptools/issues/6453, so unlikely to fix this issue. It's possible a dangling cpptools process was locking the database, which could cause the outline to not work.

[2020-11-17 01:22] sean-mcmanus commented on #6510
I'm not reproing this bug. Could you provide more info and/or screenshots? What exactly does "opened in the sidebar" mean? Could you more fully describe what the workspace contains? Is this related to multi root?

[2020-11-17 01:30] sean-mcmanus commented on #6381
@hansaya It hasn't been fixed.

[2020-11-17 01:47] sean-mcmanus commented on #6512
Was there a known, mainstream scenario where we expect one configuration provider to not be able to provide a configuration but the fallback to be able to?

[2020-11-17 02:04] sean-mcmanus commented on #6484
You can see the source of the error:
![image](https://user-images.githubusercontent.com/19859882/99333324-4fac4600-2835-11eb-8670-29d582336176.png)
so if it says "gcc" that's an error from the compiler (or if the error appears in the Terminal window) or if it says "C/C++" then that's an IntelliSense error.

If you can give more info on the error you're hitting we might be able to figure out what's

[2020-11-17 02:36] sean-mcmanus commented on #6525
Also, FYI, C_Cpp.intelliSenseMemoryLimit, which will restart cpptools-srv after a certain point when high memory usage is detected (defaults to 4 GB, i.e. 4096 MB) -- that's intended to fix cases where memory is accumulated over a period of time in which restarting cpptools-srv is expected to reduce the memory usage. You might want to try adjusting that setting (e.g. either 2 GB or 6 GB).

[2020-11-17 02:36] ghost commented on #6518
You can use [Clangd ](https://open-vsx.org/extension/llvm-vs-code-extensions/vscode-clangd) extension in VScodium.

If you want to use Cmake Tools with it, follow this [workaround](https://github.com/microsoft/vscode-cmake-tools/issues/654#issuecomment-592983916)

[2020-11-17 02:39] sean-mcmanus commented on #6035
@shammabeth We would be interested in getting a repro for the cpptools memory problem. This might be related to https://github.com/microsoft/vscode-cpptools/issues/6424

[2020-11-17 02:40] Colengms commented on #6512
Not that I know of.  This is based on a chat with Bob regarding https://github.com/microsoft/vscode-cpptools/issues/6150 .  That feature currently only applies if only 1 provider is registered.  If a second registers, it reverts to not using a config provider, as it's unclear which to use.  But, it should be possible to support multiple config providers.  If/when we do, we auto-configuration could

[2020-11-17 02:45] sean-mcmanus commented on #316
@durga-koppisetti We have some docs at https://code.visualstudio.com/docs/cpp/config-mingw . "helloworld" isn't a valid file -- it seems to be helloworld.exe....there might be other issues too.

[2020-11-17 02:46] sean-mcmanus commented on #16
@cttpp Not yet. Our current focus for 1.2.0 (January release) is improving stability and fixing bugs.

[2020-11-17 03:22] Parthiv-657 commented on #6515
@WardenGnaw  I added the configuration to launch.json and here is the output of debug console
[code]

[2020-11-17 03:34] paul-reilly opened #6531 "MSVC compile_commands.json - Intellisense not handling -external:I includes"
Issue Type: <b>Bug</b>

If our compile_commands.json contains `-experimental:external` and include paths such as `-external:IC:/myincludepath`, Intellisense does not appear to handle these paths, resulting in a case of the dreaded squiggles with files `#include`d from these locations.

Extension version: 1.1.1
VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34

[2020-11-17 05:56] sean-mcmanus commented on #6531
I see it described at https://devblogs.microsoft.com/cppblog/broken-warnings-theory/ , but not in the current docs (https://docs.microsoft.com/en-us/cpp/build/reference/compiler-options-listed-alphabetically?view=msvc-160).

[2020-11-17 06:33] paul-reilly commented on #6531
Yes, it does seem as though it has been stuck in `experimental` limbo for 3 years.

[2020-11-17 06:34] BackMountainDevil commented on #6518
The [Clangd ](https://open-vsx.org/extension/llvm-vs-code-extensions/vscode-clangd) extension requires the clangd language server. Emm, is that work with gcc??

[2020-11-17 07:10] aradove commented on #6508
Hi @Colengms , I  had the icon in the bottom corner when I opened the project. Also when I made a reset of the intellisense database. It dissapears after 20-30 seconds.
![image](https://user-images.githubusercontent.com/9294134/99357023-7dcc6d00-28ab-11eb-8dd3-f661022b1c3d.png)

So when it is finished, I only get this when pressing "Going to definition". I.e. I can only find local file calls to th

[2020-11-17 07:36] AravindGopala commented on #6510
Hi Sean, Side bar is the location where the directory tree for a folder is present in the vs code, I tried to reproduce the issue outside our project, but unsuccessful, I tried to debug the issue, seems like the issue is due to cmake tools failed to configure which is breaking the path. I am closing this issue, thank you.
-

[2020-11-17 07:36] #6510 closed, assigned to nobody

[2020-11-17 07:58] sean-mcmanus commented on #6531
cl /? Gives “/external:I <path>      - location of external headers”, so it looks like it got promoted out of experimental (i.e. /experimental:external doesn’t appear to be needed anymore). The missing docs might be a "bug", not sure yet.

[2020-11-17 08:34] denis-shienkov commented on #6444
Oops, guys, sorry. It is my fault. All works as expected, even with non-undefined `compilerPath` property. Many thatnks for your time and help. Sorry.

[2020-11-17 08:34] #6444 closed, assigned to nobody

[2020-11-17 09:18] wlmr commented on #6520
Ok. I thought, #6518 was specific to VScodium but I see now that you changed the title to include Open VSX marketplace.

[2020-11-17 09:19] paul-reilly commented on #6531
Oh yeah I see that it's in cl help. I just checked and it seems that it still can't be used without `/experimental:`:
[code]

[2020-11-17 11:17] #5843 closed, assigned to nobody

[2020-11-17 11:43] #6139 closed, assigned to nobody

[2020-11-17 14:58] frenchiveruti commented on #6484
Hello Sean. I appreciate the effort but I had to reset my computer for an unrelated problem and now I have vsc and cpptools working fine, I know how to "redo" the so called 'bug' but it really isn't worth the time, as the docs are already extensive and accurate enough to not fall into any of these issues.
thanks

[2020-11-17 15:56] bobbrow commented on #1587
@nschmeller, you have been added.  For all those who gave a 👍 to the comment earlier, I have granted you access and it appears that many of you still have an invitation pending.  If you haven't accepted already, please [go here](https://github.com/microsoft/vscode-makefile-tools/invitations).

And just a side note, we do plan to make this repo public very soon, so access will not be gated by invit

[2020-11-17 17:11] wj32 opened #6534 "cpptools-srv crashes on Linux in form_exception_specification_for_generated_function"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 14.04.5
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.1
- Other extensions you installed (and if the issue persists after disabling them): Not relevant
- Does this issue involve using SSH remote to run the extension on a remote machine?: Yes
- A clear and concise description of what the bug is, including informatio

[2020-11-17 17:25] mak626 commented on #6386
**Temporary fix**

In `tasks.json` file

change `"type": "cppbuild"`  to  `"type": "shell"`

[2020-11-17 19:04] sean-mcmanus commented on #6534
Thanks for reporting this. We're working on improving the stability of IntelliSense with C++20. This specific crash is not currently on our radar to fix yet, but we'll continue to monitor its impact. We would also probably need to find an isolated repro.

[2020-11-17 19:07] manum45 commented on #6454
[some_header.zip](https://github.com/microsoft/vscode-cpptools/files/5555642/some_header.zip)
This file should work.

[2020-11-17 19:30] sean-mcmanus opened #6535 "Please take the vscode-cpptools GitHub survey"
As part of our ongoing efforts to improve the vscode-cpptools GitHub repo, we’ve created a survey to better understand your experience. We would appreciate your feedback. You have the option to reply anonymously or to supply contact details.

https://www.surveymonkey.com/r/92RLF7R?Source=Microsoft/vscode-cpptools

[2020-11-17 19:53] sean-mcmanus commented on #6508
Does the Outline view show results?

Does this repro for all cases or only certain definitions?

We're looking for "tag parser" messages in the C/C++ logging, such as

[code]

Also, what is the size of the browse database and is it being modified when edits are made? You can use `"C_Cpp.default.browse.databaseFilename": "${workspaceFolder}\\.vscode\\vc.db"` to more easily locate the database and v

[2020-11-17 20:03] sean-mcmanus commented on #6531
Yeah, you're right (I was mistaken).

[2020-11-17 20:11] sean-mcmanus commented on #6516
You've added subfolders of ${workspaceFolder} -- it looks like those 5 subfolders should be replaced by a single reference to ${workspaceFolder}, because your `#include` statements reference the subfolders directly, e.g. `#include <Process/file.h>` (if you have other references to the files in the subfolders directly, such as `#include <file.h>` then you could keep the subfolders in the includes l

[2020-11-17 20:33] sean-mcmanus commented on #6524
@mario-galenai Version 1.1.1 of our extension requires VS Code 1.49.0 or newer, so 1.42.1 would only be able to use version 0.27.1 of the C/C++ extension. Does this issue repro with 0.27.1 of our extension with the latest VS Code?

[2020-11-17 20:56] Colengms opened #6536 "Update docs to refer to latest mingw-w64"
Opening this issue to track updating https://code.visualstudio.com/docs/cpp/config-mingw to refer to the latest version of mingw-w64 (10.2.0), which is provided as a package in MSYS2.  https://www.msys2.org/

[2020-11-17 23:24] mario-galenai commented on #6524
Yes, the issue is with the latest VScode.
1.51.1
e5a624b788d92b8d34d1392e4c4d9789406efe8f
x64

[2020-11-17 23:27] mario-galenai commented on #6524
The version of the Extension C/C++ is: v1.1.1

[2020-11-17 23:27] sean-mcmanus commented on #6524
@WardenGnaw Do you recommend pushing the issue back to VS Code?

[2020-11-17 23:28] sean-mcmanus commented on #6524
@mario-galenai But did you use the "Install Another Version" to choose 0.27.1 with extension.autoUpdate to set to false to see if the old verison of our extension with the new version of VS Code repros the bug?

[2020-11-17 23:30] mario-galenai commented on #6524
I don't understand your question, but I did not use "Install Another
Version" at any moment.

[2020-11-17 23:33] sean-mcmanus commented on #6524
Could you run the command:
![image](https://user-images.githubusercontent.com/19859882/99463228-226d9f80-28ea-11eb-805d-465e8a3f38c9.png)
and select C/C++ and then 0.27.1? That would enable us to determine if the bug is with versions of our extension post-0.27.1.

[2020-11-17 23:48] sean-mcmanus commented on #6524
@mario-galenai Could you let the VS Code team know that we don't think it's a bug with our C/C++ extension, because when you use 0.27.1 of our extension in VS Code 1.42.0 the bug doesn't repro, but it does repro for 1.51.0, which implies that it's a VS Code regression.

[2020-11-18 02:14] sean-mcmanus commented on #6454
Okay, thanks -- I'm seeing cpptools stuck using lots of CPU while updating the database -- VS has the same issue. I'm looking into if that's an algorithm bug or not (i.e. the code uses recursion and might not scale).

However, I wasn't able to hit a condition yet where our main input thread would get stuck (i.e. hover shows output with C_Cpp.loggingLevel set to "Debug"). The parse_file thread has

[2020-11-18 02:29] sean-mcmanus commented on #6386
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.2

[2020-11-18 02:29] #6386 closed, assigned to nobody

[2020-11-18 02:29] sean-mcmanus commented on #6501
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.2

[2020-11-18 02:29] sean-mcmanus commented on #6519
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.2

[2020-11-18 03:05] Kanstarry9T opened #6538 "Run-> add configuration ->C++ (GDB/LLDB) "Cannot read property 'includes' of undefined"
Type: Debugger

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll dow

[2020-11-18 04:22] sean-mcmanus commented on #6538
If you access Help->Toggle Developer Tools->Console do you see a call stack for that error?

You're using 1.1.2 of the extension, right?

Also, any other repro details?

[2020-11-18 04:42] gegogi commented on #6538
I second this.
Using 1.1.2.

![image](https://user-images.githubusercontent.com/639708/99484441-c5cebb00-29a3-11eb-84dc-f24e00322d47.png)

[2020-11-18 04:55] SgtPooki commented on #1994
VSCode can't even handle renaming files with different casing properly.. wut..?

[2020-11-18 05:00] gegogi commented on #6538
Looks like this commit might cause the problem.

https://github.com/microsoft/vscode-cpptools/commit/df8523e5509bf8cb2cdde0805c8d9cc87117c8d4

[2020-11-18 05:02] sean-mcmanus commented on #6538
@gegogi Thanks for the info -- you are correct.

[2020-11-18 05:14] sean-mcmanus commented on #6538
It appears to be line https://github.com/microsoft/vscode-cpptools/blob/release/Extension/src/Debugger/configurationProvider.ts#L158 (or the similar one). I repro the bug when I delete the "command" field in my tasks.json. Does your tasks.json not have a "command" field for some reason? Do you have a C/C++ compiler installed?

[2020-11-18 05:32] gegogi commented on #6538
This is my tasks.json and it has command field.
Compiler (VC Toolset) is also installed and I can compile.
Is there any way that I can debug against my local installation of cpptools?

[code]

[2020-11-18 06:02] sean-mcmanus commented on #6538
That's okay -- I figured it out (see https://github.com/microsoft/vscode-cpptools/pull/6539). A workaround is to change the task's "type" from "shell" to "cppbuild".

[2020-11-18 06:26] gegogi commented on #6538
When I use "cppbuild", it does not expand variable like ${workspaceFolderBasename} in compiling.
That's why I use "shell".

[2020-11-18 07:05] mirkojpn87 opened #6540 "C++ Intellisense too slow on Unreal Project"
C/C++ Extension and Unreal Engine 4.25

To Check this :
Create a new Unreal Engine Project, Create a New C++ class and ope it with VSCode, you'll se how much intellisense is slow, 10-15 seconds to get a response from intellisense.. any fix?

[2020-11-18 07:16] sean-mcmanus commented on #6540
That is a known issue. See https://github.com/microsoft/vscode-cpptools/issues/5849 .

[2020-11-18 07:41] sean-mcmanus commented on #6538
@gegogi Thanks for letting us know -- fixed with https://github.com/microsoft/vscode-cpptools/pull/6539/commits/ad9f80789efddbc4a0691a63d626ee7a1c8fbc08 . Unfortunately the workaround mentioned previously doesn't work in that case.

[2020-11-18 07:48] sean-mcmanus commented on #6538
Well, a potential workaround is to use 1.0.1 (until we can get a 1.1.3 or 1.2.0-insiders released).

[2020-11-18 09:23] fgropengieser opened #6541 "Debug session not started without any feedback"
***Environment***
- OS and Version:
     Host: macOS Catalina
     Working within Ubuntu 18.04 docker container with Remote Containers extension
- VS Code Version: 1.51
- C/C++ Extension Version: 1.1.2
- Remote-Containers Extension Version: v0.148.1

***Description***
I am working within an Ubuntu 18.04. docker container as root. When I run the debug launch configuration, the debug toolbar (with p

[2020-11-18 10:37] Zeinab-Rahmani commented on #6516
Thank you for the detailed explanation. Yes, this solved the problem. I needed to add `${workspaceFolder}` to my include path as well as all the 5 subfolders.

However, new errors have appeared as:
`error: ‘PREP_DIR’ was not declared in this scope (In file ssl_sockets.h) `
Then later it says:
[code]
**Note** This variable is defined in their` makefile` as follows:
` PREP_DIR = '-DPREP_DIR="Player-

[2020-11-18 10:49] reddi2 opened #6542 "Please help me how to run c programm in visual studio"
Issue Type: <b>Bug</b>

GCC and G++ commands are not working here in  windows
please do help me

Extension version: 1.1.2
VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz (4 x 2496)|
|GPU Status|2d_ca

[2020-11-18 10:56] reddi2 opened #6543 "Please help me how to run c programm in visual studio"
Issue Type: <b>Bug</b>

GCC and G++ commands are not working here in  windows
please do help me
how to run c program in vs

Extension version: 1.1.2
VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.18363

[2020-11-18 11:53] ciechowoj commented on #6471
Hi Sean, thanks for you reply.

So, as a PoC I hacked it in the vscode-languageclient module which is a dependency of vscode-cpptools. So, maybe vscode-languageclient is a right place to make the modification. I think it should be possible to implement it by adding some custom handling to `createProtocolFilter`s but it may require rewriting there some code from vscode-languageclient.

Below I filt

[2020-11-18 12:42] Kanstarry9T commented on #6538
I changed the "type" in task.jason from "shell" to "cppbuild", now it works, thanks a lot for your help @sean-mcmanus, attached is my task.jason file.

{
    "tasks": [
        {
            "type": "cppbuild",
            "label": "C/C++: clang++ build active file",
            "command": "/usr/bin/clang++",
            "args": [
                "-g",
                "${file}",
                "-

[2020-11-18 15:17] fuckusername commented on #570
Three years later I have the same request now, because my embedded arm board only has busybox as shell, it doesn't support so much arguments to ps, I have to change processId each time before a remote debug.

[2020-11-18 16:23] eathtespagheti commented on #6543
Duplicate of #6542, please close this

[2020-11-18 16:24] eathtespagheti commented on #6542
Issues are not for this, plus seems a GCC/G++ configuration problem, unrelated with vscode-cpptools

[2020-11-18 17:31] DaMammoth commented on #6502
I have no compiler. That's why I was using this.

On Mon, Nov 16, 2020 at 3:24 PM Sean McManus <notifications@github.com>
wrote:

[2020-11-18 18:16] WardenGnaw commented on #6541
Can you add the following to your `launch.json` and share the output from the `Debug Console`?
[code]

[2020-11-18 18:19] WardenGnaw commented on #6543
If the difference between this question and #6542 is how to use C/C++ in Visual Studio, then this is not the correct place for this question. This GitHub repo is for VS Code's C/C++ extension.

However, you can use this reference for Visual Studio: https://docs.microsoft.com/en-us/cpp/overview/visual-cpp-in-visual-studio?view=msvc-160

[2020-11-18 18:19] #6543 closed, assigned to nobody

[2020-11-18 18:20] WardenGnaw commented on #6542
You can get gcc/g++ from Cygwin or MinGW.

You can use this guide to help you get started: https://code.visualstudio.com/docs/cpp/config-mingw

[2020-11-18 19:10] michelleangela commented on #6540
Closing as duplicate.

[2020-11-18 19:10] #6540 closed, assigned to nobody

[2020-11-18 22:04] Trass3r commented on #4827
Indeed. It can be installed via
[code]

Then one can test the current state by removing
[code]
from `~/.vscode-server/extensions/ms-vscode.cpptools-*/dist/main.js`, reloading and running
[code]
But...
[code]

[2020-11-19 01:32] sean-mcmanus opened #6545 "F5 without a workspace folder opens settings.json with no failure message"
Seems like it should say that opening a workspace folder is required like it doesn't when Configure Default Build Task is done.

[2020-11-19 01:33] sean-mcmanus commented on #6502
Our extension doesn't install a compiler -- we require you install one yourself.

Also, the settings.json appearing is because we require that you open a workspace folder. I've filed an issue to show a better error message https://github.com/microsoft/vscode-cpptools/issues/6545 .

[2020-11-19 01:59] Colengms commented on #5894
@sean-mcmanus #5866 appears to be due to use of `**` causing a path to be moved to the end, after system paths.  Is that by-design, or should we disregard a path with `**` if it's also a system path?  If by-design, I could add log output or a configuration warning.

Can you refer me to other instances that might be due to different causes?  I'm not seeing obvious problems that could cause reorderi

[2020-11-19 02:04] Welsoon opened #6546 "Debug multiple C++ files "undefined reference""
**Describe the bug**
I'm tring to compile and debug muliple C++ files in VSCode, and this is my reference:https://code.visualstudio.com/docs/cpp/config-linux. I can compile my program in both VSCode tasks.josn and command line, I can also debug it in termianl by GDB. But I cant debug in VSCode using lanuch.json.
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.51.1
- C/C++ Extension Version: v1

[2020-11-19 04:32] boocs commented on #6358
I believe I have the same problem just came to the wrong conclusion with my 4.26 bug guide even though the fix works for me.

 The first command should be the compiler path and UE4 doesn't set it for my config (Windows) and I guess other configs as well. So I'll have to write another UE4 bug report, with the correct info, if someone hasn't done so already.

VSCode does now complain about this as w

[2020-11-19 05:13] Saladin1812 commented on #6358
@boocs I don't think compiler path is the main issue as on Linux Unreal Engine uses clang for compilation and if clang is not found or not mentioned in the json file it defaults to  usr/bin/clang
So not finding a compiler is not an issue on Linux if you have clang installed at a system level. So my compiler is working but still those same errors on 4.26.. your fix did worked tho.

[2020-11-19 07:09] aradove commented on #6508
Here is the database file.

![image](https://user-images.githubusercontent.com/9294134/99632777-1561c500-2a3e-11eb-8470-c63a0b3d1770.png)

A small edit in a file made it grow from 900kb to 1.4kb.

It is a problem for all definitions in any file.

If I run log diagnostics there is no line with ```tag parsing file:...```. Or did you mean I find it elsewhere?

[2020-11-19 08:06] fgropengieser commented on #6541
Hi! I did that. But there is no output at all on the Debug Console.

[2020-11-19 10:19] manum45 commented on #6454
I can reproduce the main thread callstack with switching between files and hovering over symbols.
But there is still debug logging happening on hover. If this is an indication the main thread might not be stuck. Is it possible that only the parser thread is stuck?

Shortly after the parser attempts to parse the large file it also prints "Database safe to open", but the symbol in the status bar at

[2020-11-19 10:56] TryerGit commented on #6546
The problem you have is that your tasks.json is not configured to build file.cpp.

I suggest that you use make in order to build multiple file projects.

For instance, in your case, I would suggest to have a tasks.json thus:

{
    "label":
    "command": "make",
    "args": [
        "CONF=Debug",
        "-C",
        "./.vscode"
        ]
...other stuff.
}

What the above does is that it looks

[2020-11-19 11:49] boocs commented on #6358
I updated my fix. Has nothing to do with the -include flag. Just need some placeholder as first command. Let me know if this fix works as well.

[code]

https://gist.github.com/boocs/31e6c2e54815b7ba6246ee20315acf96#Step-10

[2020-11-19 12:22] dibalavs opened #6547 "F2: rename static variable is very slowwwwwww."
**Type: LanguageService**
I try to rename static global variable.
I pressed F2, entered new name and pressed Enter.
VSCode is doing something for 5 more minues. and found 1900 files where need to rename.
But this is **static**  variable. it does not exists out of this (.c) file.
I think refactoring feature for renaming static identifiers can be improved.
![image](https://user-images.githubusercont

[2020-11-19 12:24] krzikalla opened #6548 "INCLUDE environment variable distracts IntelliSense"
**Type: LanguageService**

**Describe the bug**
- OS and Version: WIndows -> Linux (Remote SSH)
- VS Code Version:  1.51.1
- C/C++ Extension Version: 1.1.2

I have loaded a module, which sets the INCLUDE environment variable. The module contains an older version of the code I am developing (and thus INCLUDE points to a bunch of older header files).
When browsing to a symbol (Go to definition), Int

[2020-11-19 12:33] Welsoon commented on #6546
Thank you for your help!
I change tasks.json and creat makefile like your suggestion, and make it.
here is my code
*tasks.json*
[code]
a simple *makefile*
[code]
then I can build and debug my program in vscode.
I will learn to creat makefile like your suggestion later.
thanks again!

[2020-11-19 12:59] liuyatao commented on #4568
@Ecordonnier  This works for me. It's great!

[2020-11-19 16:46] WardenGnaw commented on #6541
I believe this is an issue with the Remote Containers extension connecting to the debug adapter. If there are no logs there, it means the debugger failed to start up.

[2020-11-19 17:03] fuckusername opened #6549 "step-over show "end-steping-range" then quit when remote debug with gdb7.10 through pipetransport(ssh)"
Type: Debugger

    Can not step-over when certain printf was encountered, message from the debug console said:
    *stopped,reason="end-stepping-range"
    and then vscode seemed in a long waiting of this printf to return,
    but the target process and gdb was still waiting on the target board.

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.51
- C/C++ Extension Version:

[2020-11-19 17:03] tyeth commented on #3797
"symbolsearchpath": "https://msdl.microsoft.com/download/symbols",

and I stuck it above my configurations section.

[2020-11-19 18:13] DaMammoth commented on #6502
There is no compiler that I can get that works with Windows.

On Wed, Nov 18, 2020 at 8:33 PM Sean McManus <notifications@github.com>
wrote:

[2020-11-19 19:16] sean-mcmanus commented on #5894
** moving to the end is "by design", but ** shouldn't be used with system paths. Maybe that's the only issue?

[2020-11-19 19:26] sean-mcmanus commented on #6454
By "main input thread" I'm referring to a different thread that handles most of the messages like hover requests and not the main_loop thread. If you get debug logging on hover, then the main input thread is not blocked, which matches what I'm seeing, so I think just the parsing thread is stuck. "Database safe to open" just occurs after no writes to the database have occurred after a few seconds,

[2020-11-19 20:24] sean-mcmanus commented on #6547
Looks like around 9893 files have the text "thread" and we return lexical results like string/comment references which could be in other files (although we could add some setting to change that behavior).

Also, the static variable could be accessible by other files that are in the same TU, although our search isn't limited to files in the TU.

After the search phase, the confirming phase has an i

[2020-11-19 20:46] sean-mcmanus commented on #6548
Can you add the folder with the unwanted files to your files.exclude setting?

Our global symbols don't have a concept of priority or fallback for symbols at different paths.

[2020-11-19 20:54] sean-mcmanus commented on #6502
What compilers have you tried and why are they not working for you? You could also use WSL on Windows to build with gcc/clang in a Linux environment.

Have you tried https://visualstudio.microsoft.com/vs/community/ or https://docs.microsoft.com/en-us/cpp/build/building-on-the-command-line?view=msvc-160 ?

[2020-11-19 21:29] james2432 opened #6550 "Debugging session doesn't start, no feedback from terminal (GDB)"
Type: Debugger

**Describe the bug**
- OS and Version: Arch linux (latest)
- VS Code Version: 1.51.1
- C/C++ Extension Version: v.1.1.0-insiders4
- Other extensions you installed (and if the issue persists after disabling them): GitLens
- Description of problem: Code compiles, breakpoints are not stopped on and debug session never started

**To Reproduce**
code project example here:
https://github

[2020-11-19 22:38] mcandre opened #6551 "Doxygen not highlighting for C++ files"
**Type: LanguageService**

Doxygen annotations are not highlighting for C++ files. By contrast, Doxygen annotations ARE highlighting fairly well for C files.

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run

[2020-11-19 22:50] sean-mcmanus commented on #6516
The "build active" file template was intended for building single files, so there might be issues with building/linking multiple files.

You could add a -D arg to your tasks.json args for PREP_DIR.

We're working on a Makefile Tools extension that will be able to build and provide IntelliSense directly from the makefile, see https://github.com/microsoft/vscode-cpptools/issues/1587 .

You could als

[2020-11-19 23:06] Colengms commented on #6456
@WardenGnaw

[2020-11-19 23:09] Colengms commented on #6546
It looks like this has been addressed.  If I'm mistaken, please let us know, and we can re-open this.

[2020-11-19 23:09] #6546 closed, assigned to nobody

[2020-11-19 23:21] WardenGnaw commented on #6456
The error: `Remote 'g' packet reply is too long` comes from GDB.

Which version of GDB and GDB Server are you using? There seems to be reports of older gdbserver having this issue.

Related:
https://sourceware.org/bugzilla/show_bug.cgi?id=13984

[2020-11-19 23:47] sean-mcmanus commented on #6471
You've made a change to https://github.com/microsoft/vscode-languageserver-node/blob/90f4ba145eb656b8af160b03a54ff196d505b546/client/src/common/client.ts#L1695 , which I don't think they would accept. I don't think it's fixable unless the code is switched to not use the LSP, e.g. https://github.com/microsoft/vscode-cpptools/blob/master/Extension/src/LanguageServer/Providers/workspaceSymbolProvider

[2020-11-19 23:50] pn1k opened #6552 "cpptools crashed on remote linux"
**Type: LanguageService**

**Describe the bug**
- OS and Version: local OSX 10.12 remote ubuntu 14.04
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2
- Other extensions you installed (and if the issue persists after disabling them): n/a
- Does this issue involve using SSH remote to run the extension on a remote machine?: yes

~/.vscode-server/extensions/ms-vscode.cpptools-1.1.2/bin/cppt

[2020-11-20 00:17] sean-mcmanus commented on #6551
Can you give an example? If it's a colorization issue issue then it's probably caused by https://github.com/jeff-hykin/cpp-textmate-grammar , see some existing issues: https://github.com/jeff-hykin/cpp-textmate-grammar/issues?q=is%3Aissue+is%3Aopen+doxygen

[2020-11-20 00:26] sean-mcmanus commented on #6552
Hmm...that code doesn't exist with our pending 1.2.0-insiders, so it might be "fixed" (or it could crash at a different spot with our new code).

Do you have any more repro details?

[2020-11-20 00:35] DaMammoth commented on #6502
I have tried GNU, mingw, and the Visual Studio one. None of them worked.

On Thu, Nov 19, 2020 at 3:55 PM Sean McManus <notifications@github.com>
wrote:

[2020-11-20 00:41] sean-mcmanus commented on #6502
What do you mean by not working? What error do you get? Did they install? What happens when you run the Developer Command Prompt (i.e. `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\Tools\VsDevCmd.bat`) and type "cl"?

[2020-11-20 01:49] mttbx opened #6553 "Can't pause or insert break points"
I noticed that this problem exists for years, what's the difficulty to solve it?
By the way, I found that the extension "cortex debug" can pause and insert break points.

[2020-11-20 01:56] Colengms commented on #5894
I was mistaken in my previous comment.  I'm seeing use of `**` add subdirectories of system paths to the end of the list of includes, but the order of everything before that is maintained.  It's possible an issue arises when these paths are added, due to duplicate filenames and the wrong ones being found.  But, the order of paths should prevent that.  So, I'm still looking for a repro for an issue

[2020-11-20 02:25] mttbx commented on #6553
I found in "cortex debug", they do these things automatically:
exec-interrupt
break-insert
exec-continue

[2020-11-20 03:03] yamsjix commented on #6387
Thanks for @Colengms 's answer. Emm, I just want to hide this warning message.
What's more,  a new improve is my ideas, which analyze smoothly without fully supported compiler, after written some symbols configurations or describes.

[2020-11-20 06:37] lattice0 commented on #3579
Still suffering from this. Very hard to read source codes, specially linux kernel which relies on lots of nested macros :(

[2020-11-20 06:42] sean-mcmanus commented on #3579
@lucaszanella I mentioned at https://developercommunity.visualstudio.com/content/problem/556656/c-intellisense-macro-expansion-fails-to-fully-work.html that the VS Code issue has more upvotes (versus the 2 on their page).

[2020-11-20 06:42] KrestenHelstrup commented on #1587
Could you give me access also ?
When do you estimate that the repo will be public ?

[2020-11-20 07:15] EJammy opened #6554 "Extension crashes in specific code structure"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.19041
- VS Code Version: latest
- C/C++ Extension Version: latest
- A clear and concise description of what the bug is:

Crashes with the following code
![image](https://user-images.githubusercontent.com/27494262/99769312-17f91300-2b41-11eb-8770-023b58b38ed0.png)

Does not crash with other declarations or not ass

[2020-11-20 08:18] krzikalla commented on #6548
Didn't help. Even after resetting and rescanning the unwanted file pops up. Maybe the wanted file isn't found, since I can't choose one of several findings. How can I debug Intellisense?

[2020-11-20 08:49] psclkhoury commented on #977
@WardenGnaw Can we reopen this issue? The solution is not working for me.

[2020-11-20 09:20] thoratou commented on #6552
+1

Same issue on my side with similar settings:

OS and Version: local Windows 10 remote rhel7
VS Code Version: 1.51.1
C/C++ Extension Version: 1.1.2
Other extensions you installed (and if the issue persists after disabling them): n/a
Does this issue involve using SSH remote to run the extension on a remote machine?: yes

[2020-11-20 09:24] Clinkz24 opened #6555 "Windows Kits 10.0"
Type: Debugger

I edit my c_cpp_properties.json, but IntelliSense still can't find corecrt.h.

**Describe the bug**
- OS and Version:
- VS Code Version:
Version: 1.51.1 (user setup)
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:34:32.027Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18363

- C/C++ Extension Version:

[2020-11-20 10:25] Trass3r commented on #4827
Ok it's way easier: https://github.com/sgerrand/alpine-pkg-glibc#installing

[2020-11-20 11:05] sean-mcmanus commented on #6454
The processing appears to be doing some N^2 update that even takes over 5 minutes with just a 20k line file (your example is over 40 times as big), which seems buggy to me, so I've filed a bug on VS (due to our shared code) at https://developercommunity.visualstudio.com/content/problem/1263948/updating-cc-intellisense-and-browsing-information-1.html . They may be more likely to fix the issue if yo

[2020-11-20 12:07] natsumxd commented on #16
This is very important to me and hope to see this feature soon

[2020-11-20 13:42] james2432 commented on #6550
Seems it's related to : https://github.com/microsoft/vscode/issues/109939
As I installed 1.1.2 manually and seems to have fixed it!

Closing issue

[2020-11-20 13:42] #6550 closed, assigned to nobody

[2020-11-20 14:31] KristofMerey opened #6556 "Missing warnings"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win10
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2
- Other extensions you installed (and if the issue persists after disabling them): I disabled all the other installed extensions (Coverage Gutters, GitLens, Hex Editor, Live Share, Remote - WSL) but the problem still exists.
- Does this issue involve using SSH remote t

[2020-11-20 15:34] DaMammoth commented on #6502
Nevermind, I'm just using CLion as my IDE for C and C++.

On Thu, Nov 19, 2020 at 7:41 PM Sean McManus <notifications@github.com>
wrote:

[2020-11-20 19:39] sean-mcmanus commented on #6554
Thanks for reporting this. I've filed a bug against our shared parser with VS at https://developercommunity.visualstudio.com/content/problem/1264458/cc-intellisense-crashes-in-linux-mode-with-foo-f-f.html .

FYI, that code appears to be non-standard C++ that doesn't compile with cl.exe: error C4576: a parenthesized type followed by an initializer list is a non-standard explicit type conversion syn

[2020-11-20 20:02] sean-mcmanus commented on #6555
Can you try removing `"windowsSdkVersion": "8.1"`?

Also, are  you really trying to use 10.0.10240.0? I'm seeing only the ucrt folder under C:\Program Files (x86)\Windows Kits\10\Include\10.0.10240.0 -- is that what you see? Can you use a newer version of the SDK? Our code won't recognize a Windows SDK that just has a ucrt folder. If you add a "um" and "shared" folder, then that could trick our co

[2020-11-20 20:27] sean-mcmanus commented on #6556
Thanks for reporting this. Until we have a fix, a workaround is to change the task's type to from "cppbuild" to "shell" (you may need to Reload Window after the change).

[2020-11-20 21:12] diablodale commented on #6555
Perhaps related to the known issue https://github.com/microsoft/vscode-cpptools/issues/5335

[2020-11-20 21:42] bshoshany opened #6558 "C++ debug session fails to use the GCC compiler argument -std=c++20 as specified in tasks.json"
Type: Debugger

**Describe the bug**

- OS and Version: **Windows_NT x64 10.0.19042**
- VS Code Version: **1.51.1**
- C/C++ Extension Version: **1.1.2**
- Other extensions you installed (and if the issue persists after disabling them): **When disabling all extensions except the C/C++ extension (which is required to reproduce the issue), the issue still occurs.**
- A clear and concise description o

[2020-11-20 21:57] diablodale opened #6559 "warning "Unable to resolve configuration with compilerPath "...rc.exe". Using "cl.exe" instead.""
**Type: LanguageService**

A new unexpected warning appears in its own dedicated output window/tab "c/c++ configuration warnings"

[code]

That path in the warning does exist and I can use that exact path at a CMD prompt and it does run the RC compiler. I have no idea what this warning is warning me about and I have yet seen any side affects.

### Describe the bug
- OS and Version: Microsoft Windo

[2020-11-20 22:10] Colengms commented on #6555
Hi @Clinkz24 .  Your use of `compileCommands` takes precedence over your other settings in `c_cpp_properties.json`.  When that field is set, the command-lines in your `compile_commands.json` are assumed to contain all of the information necessary to configure IntelliSense.  They should be complete command lines, capable of successfully compiling your sources.  IntelliSense should be using the same

[2020-11-21 00:19] heartacker commented on #6542
vscode is powerful but Obscure

[2020-11-21 01:27] sean-mcmanus commented on #1587
@KrestenHelstrup Bob might be on vacation...might be back Nov 30th.
@andreeis Might know more about an ETA (not sure if she'll get this message though).

[2020-11-21 01:31] sean-mcmanus commented on #6559
Yeah, I think you can ignore the message. We're not handling rc.exe ideally in regards to the warnings.

[2020-11-21 01:38] sean-mcmanus commented on #6548
You could set C_Cpp.loggingLevel to "Debug" or the hidden value of "7" and look for "tag parsing" logging to try to see why it is tag parsing those files that should be excluded. Your files.exclude and C_Cpp.exclusionPolicy might not be set correctly.

If the wanted file isn't shown in the list of results, the it isn't found.

The cpptools process is closed source so you'd need to work at Microsof

[2020-11-21 01:43] sean-mcmanus commented on #6558
It sounds like you're hitting bug https://github.com/microsoft/vscode/issues/109939, which is fixed with VS Code Insiders. Let me know if I'm mistaken.

[2020-11-21 05:27] #6445 closed, assigned to nobody

[2020-11-21 05:29] vratzrover3 commented on #6445
I solved it by first compiling my code in "Command Prompt." After compiling I compiled it again in VS Code terminal by using "g++ nameoffile.cpp -o run", and then changing the settings of "default code run" in terminal.

[2020-11-21 06:20] ytimenkov opened #6560 "Highlighting breaks after macro expanding to C++ attribute"
VSCode cpptools extension 1.1.2.

On this file: https://github.com/google/flatbuffers/blob/master/include/flatbuffers/flatbuffers.h

Highlighting after `FLATBUFFERS_ATTRIBUTE` is broken.
![image](https://user-images.githubusercontent.com/7413219/99869247-d8c2d480-2bc9-11eb-9467-e1add03896c5.png)

If I comment it out it restores:
![image](https://user-images.githubusercontent.com/7413219/99869262-e

[2020-11-21 12:46] aallrd commented on #6456
I am using an internal build of the GDB 10.1 release, for both GDB and GDB server.
I read some threads relating this issue to a target architecture mismatch between the host, the target and what GDB detects but in my case everything is x86_64.
It also seems to be weirdly random (or I am missing some context), since I just tried the same setup and I was able to set the value of the variable...
Some

[2020-11-21 13:14] aallrd commented on #1025
@pieandcakes, from your [previous reply](https://github.com/microsoft/vscode-cpptools/issues/1025#issuecomment-328944627), can you please confirm if the command `-exec-jump foo.c:10` issued in the Visual Studio Code debug console (GDB) is expected to fail?

[2020-11-21 16:44] mocabe commented on #6293
I have similar issue on Ubuntu. `cpptools-srv` suddenly start to allocate huge amount of memory until OOM killer kicks in.
I attached gdb to `cpptools-srv` and paused process after it started to eat memory.
Here's stacktrace of thread allocating memory:

[code]
At this point,  total memory usage of `cpptools-srv` was over 20GB.
edit: code-insiders cpptools-1.1.2

[2020-11-21 17:33] TryerGit opened #6561 "Formatting while typing similar to Visual Studio IDE"
**Type: LanguageService**
<Formatting currently seems to miss obvious indentations already available in Visual Studio IDE>

**Describe the bug**
- OS and Version: Linux Ubuntu 20.10
- VS Code Version:1.51.1
- C/C++ Extension Version: 1.1.0

**Steps**
E.g. 1

[code]
E.g. 2

[code]
E.g. 3

[code]
[code]
All of these examples work and indent/format correctly automatically in Visual Studio IDE automat

[2020-11-22 07:12] BackMountainDevil commented on #6518
Here are some solution I found:
1.  Just gcc command line like this
[code]
I use that for less operation for a few days
2. just make command like this
[code]
But you need to make a Makefile before like this one, this will use less word
[code]
3. Use extendsion called Code Runner, install it . Make Sure  it check in Setting "Run in Termianl"
see [this](https://github.com/formulahendry/vscode-code-r

[2020-11-22 10:23] UR3IQO opened #6562 "Breakpoints are broken in cpptools-1.1.2 (incorrect source path mapping)"
Type: Debugger

**Describe the bug**
- OS: `Windows 8 x64`
- VSCode version:
[code]
- C/C++ Extension Version: 1.1.2

I have recently upgraded cpptools from v1.0.1 to v1.1.2. After that I am unable to set breakpoints (they are set in disabled state). I am debugging program that runs on the board with ARM processor and Linux OS (the gdbserver runs on that board). On the PC side gdb-9.2 is used. The

[2020-11-22 14:04] PowerfulCat opened #6563 "Variable template parameter name pass"
Issue Type: <b>Feature Request</b>

[code]

Extension version: 1.1.2
VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.19041

[2020-11-22 14:15] Omar-mohammed-ibrahim opened #6564 "can't stop the code from running"
Issue Type: <b>Bug</b>

i just want to say that my language isn't good as it's my second language so please don't judge my mistakes at writing my issue.

when i finished the code and started to run it, the code commands didn't appear in the output.
and when i tried to end running the code, i couldn't cause i didn't find the (stop) button.
when i tried to rerun the code it told me (the code is alre

[2020-11-22 14:55] bshoshany commented on #6558
Thanks, I tried this with the Insiders build and I can confirm that the issue is indeed fixed.

[2020-11-22 15:50] aavraham commented on #16
We really need call hierarchy :(

[2020-11-22 16:49] #6558 closed, assigned to nobody

[2020-11-22 17:13] bshoshany opened #6565 "IntelliSense doesn't update correctly after pasting of multi-line code"
**Type: LanguageService**

**Describe the bug**
- OS and Version: **Windows_NT x64 10.0.19042**
- VS Code Version: **1.51.1**
- C/C++ Extension Version: **1.1.2**
- Other extensions you installed (and if the issue persists after disabling them): **When disabling all extensions except the C/C++ extension (which is required to reproduce the issue), the issue still occurs.**
- Does this issue involve

[2020-11-22 21:18] ConnectMyEV opened #6566 "cpptools fails on raspbian desktop buster"
Type: General

**Describe the bug**
- OS and Version: raspbian desktop buster (running on intel x86-64 Virtual Machine)
- VS Code Version: 1.32
- C/C++ Extension Version: 0.27.1
- Other extensions you installed (and if the issue persists after disabling them): No other extensions installed
- A clear and concise description of what the bug is.
 cpptools supplied by the extension fails to tun. As a

[2020-11-22 21:19] thijstriemstra commented on #6503
same issue here with macOS 10.15.7 (19H15) and:

<img width="399" alt="Screenshot 2020-11-22 at 22 18 33" src="https://user-images.githubusercontent.com/305679/99917455-b2f41780-2d10-11eb-9453-bac6daf4a909.png">

Building/syntax highlight doesn't work anymore: unable to code!! 👎

<img width="985" alt="Screenshot 2020-11-22 at 22 19 54" src="https://user-images.githubusercontent.com/305679/99917476

[2020-11-23 00:55] boocs commented on #6358
I created a barebones, nothing to do with Unreal, test and it acts the same way.

So it could be Epics 4.26 bug - They should put a \"\" in place of a compiler path and let VSCode fallback to a compiler it finds.

It could also be VSCode's extension bug - They shouldn't throw away the first parsed command if it's determined to not be a compiler. But then you'd have to determine if it's a bad compi

[2020-11-23 03:22] Clinkz24 commented on #6555
sorry,I didn't get back to you immediately. I didn't see the github notification email...
* remove 'windowsSdkVersion' or set "windowsSdkVersion":"10.0.10240.0" doesn't solve the my problem.
* actually,I don't use 10.0.10240.0, I hava other compilation tool (xmake),it is work find on my code. I just want VsCode not to show those error messages and to jump to the header files normally.

[2020-11-23 03:34] Clinkz24 commented on #6555
sorry,I didn't get back to you immediately. I didn't see the github notification email...
What you said should be right.'includePath' works when I remove 'comile_commands.json'.
my Visual Studio 2015 show my windowsSdk Version is 8.1,but it jumps correctly to 'corecrt.h' in '10.0.10240.0'.
My code needs same libraries,so I don't want to set headers to contain directories, and they have versions.
I

[2020-11-23 05:10] ghost commented on #6518
@BackMountainDevil compiling is so easy, what we need is auto-completion and syntax error highlighter.

Cland extension works fine for me on VScodium.

[2020-11-23 08:10] UndefBhvr opened #6567 "Incorrect IntelliSense for functions with auto args"
Issue Type: <b>Bug</b>

The result type of  `read1()` is `void`, but IntelliSense marked it as `int`.

![屏幕截图 2020-11-23 154344](https://user-images.githubusercontent.com/46280451/99939874-06647500-2da6-11eb-916b-f8a5475788af.jpg)

In `main()` , the first time I tried to watch it, Intellisense worked correctly.
![屏幕截图 2020-11-23 154518](https://user-images.githubusercontent.com/46280451/99939854-f

[2020-11-23 09:33] shudingbo commented on #4854
need the feature

[2020-11-23 09:47] fgropengieser commented on #6541
So, how to proceed with this issue? Open up another one for the Remote Containers extension?

[2020-11-23 10:19] huanghantao opened #6568 "The priority of includePath does not seem to be in effect?"
This is my configuration:

[code]

But search for two definitions:

<img width="964" alt="image" src="https://user-images.githubusercontent.com/22836925/99950901-3b79c300-2db8-11eb-80c0-6f5cb103c281.png">

I just want it to show the first one, which is under the workspaceFolder. The second one I don't want to show.

What's wrong with my configuration?

[2020-11-23 10:23] huanghantao commented on #6568
I've reset the database, but it doesn't work.

[2020-11-23 11:01] aeschli opened #6569 "semantic tokens: use 'method' instead of 'member'"
After requests in microsoft/language-server-protocol#1087 we decided to deprecate the 'member' token type in favor of a new 'method' token type.

The 'method' token type stands for all types of member functions (also if the language calls it differently)

VSCode issue: microsoft/vscode#111172

@Colengms FYI

[2020-11-23 12:32] bmacnaughton commented on #4854
it's true that developing node-addons is a relatively small portion of all c/c++ work that is done, but it seems that are implementations that do not require node-gyp/node-addon-specific work, e.g., allow an environment variable that is automagically integrated into the search paths but uses late-evaluation so that it can incorporate NVM settings or similar.

closing due to "not enough upvotes" fo

[2020-11-23 12:37] shudingbo commented on #4854
You are right!!

[2020-11-23 14:18] manum45 commented on #6454
Thanks for looking into it and creating the issue. I added a comment to it.
I'll keep an eye on it, meanwhile I will use the files.exclude workaround.

[2020-11-23 20:27] ItsCubeTime opened #6570 "Outliner not detecting variables in functions (C++)"
**Describe the bug**

Outliner not detecting variables in functions (C++)

- OS and Version: Win 10
- VS Code Version: 1.51.1

- C/C++ Extension Version:
1.1.2
- Other extensions you installed:
![image](https://user-images.githubusercontent.com/20190653/100011788-899bc000-2dd2-11eb-8214-5877ff262d30.png)

**Steps to reproduce**
Install the .cpp extension as well as WingW64 compiler, create a .cpp

[2020-11-23 20:35] Colengms commented on #6569
I gather this change will need to wait until VS Code 1.52 is released.

[2020-11-24 00:44] Colengms commented on #6560
Hi @ytimenkov I'm able to repro, however I'm also able repro with the C/C++ Extension disabled, so it doesn't seem to be the cause.  The C/C++ Extension provides colorization for semantic tokens.  Colorization for syntax is coming from VS Code and it's TextMate grammar for C/C++.  That grammar is contributed by from this repo: https://github.com/jeff-hykin/cpp-textmate-grammar  I'd suggest followi

[2020-11-24 01:08] Colengms commented on #6561
Hi @TryerGit .  The C/C++ Extension supports two format engines, `clangFormat` and `vcFormat`, settable with the `"C_Cpp.formatting"` setting.  It sounds like you are using clang-format, as you are setting the fallbackStyle (which is only used if `"C_Cpp.clang_format_style"` is set to `file` and no `.clang-format` file is found).

When using clang-format, the C/C++ Extension will only format on ty

[2020-11-24 01:31] sean-mcmanus commented on #6293
@mocabe handle_reference_highlight occurs when the cursor select an identifier. Does the bug only repro with certain identifiers? Do the identifiers have lots of references in the file? Are you able to repro the issue without invoking a reference highlight? Are you able to determine which function call never returns as the memory is increasing, i.e. which function is stuck in a loop causing endles

[2020-11-24 01:47] sean-mcmanus commented on #6563
How do I get your code sample to compile? I get errors with cl.exe. IntelliSense may not be able to give info correctly if the code doesn't compile.

[2020-11-24 01:52] PowerfulCat commented on #6563
sorry, i forget to note this code is pseudo-code, the full version as follow
[code]

[2020-11-24 01:54] sean-mcmanus commented on #6564
Your question appears to be with the C/C++ Compile Run extension or some other extension (not the C/C++ extension). We're not familiar with those other extensions.

[2020-11-24 01:54] #6564 closed, assigned to nobody

[2020-11-24 01:57] Colengms commented on #6567
Hi @ILSYT .  Thanks for reporting this.  This also repro's in VS, so I opened an issue there.  (We share code for IntelliSense with VS).  That issue is here: https://developercommunity.visualstudio.com/content/problem/1266761/incorrect-intellisense-for-functions-with-auto-arg.html

[2020-11-24 02:00] PowerfulCat commented on #6563
when i call the 'x', the IntelliSense just hint double 'list' as the parameter name.

[2020-11-24 02:24] sean-mcmanus commented on #6565
It becomes fixed after my cursor moves to a new line. Is that you're seeing?

![image](https://user-images.githubusercontent.com/19859882/100038004-12f1c900-2db8-11eb-96ec-c665e31882cb.png)

I think the issue is we need to invoke the cursor change update after a multiline paste.

[2020-11-24 02:46] bshoshany commented on #6565
Weird, I checked now and it does indeed seem to work as intended after I simply move the cursor, but I could **swear** it didn't before 😮 Thanks for your quick response. At least it seems to be an easy bug to fix.

[2020-11-24 04:57] TryerGit commented on #6561
I am able to confirm that E.g. 1 and E.g. 2 get resolved with the `clangFormat` and `Format On Type` checked. See below.

![Peek 2020-11-24 10-12](https://user-images.githubusercontent.com/70434658/100050106-c1d8e800-2e3e-11eb-95a7-87c8bb4a2c59.gif)

However, E.g. 3 although contrived does not work completely. I agree this workflow is constructed and may not happen in normal
course of action/event

[2020-11-24 05:17] ytimenkov commented on #6560
Ah, I see... I thought that when enabled LS takes colorization over completely.

[2020-11-24 05:17] #6560 closed, assigned to nobody

[2020-11-24 08:03] xr commented on #6503
same issue with my project as well, but when i
1, remove the project form the workspace and then add it back
2, add the compiler path manually

seems work for me.

[2020-11-24 08:08] krzikalla commented on #6548
C_Cpp.exclusionPolicy is set to the default (checkFolders). With the raised logging level  I can see, that the files are indexed, but I can't see, why. And it looks, like changing "files.exclude" has absolutely no effect. I even tried "**/*.hpp", but it still indexes all folders and finds hpp header files.

[2020-11-24 09:11] aeschli commented on #6569
Yes, you better wait until 1.52 is out (or restrict the extension to 1.52)

[2020-11-24 09:38] Clinkz24 commented on #6555
I copy folder(um and shared) from windows kit 8.1 to windows kit 10.0.10240.
look solve my problem :)
so I close this issues.
thanks guys.

[2020-11-24 09:38] #6555 closed, assigned to nobody

[2020-11-24 09:51] SPAstef opened #6571 "sizeof keyword not recognized in C++ mode"
Hello,
I'm running the 1.1.2 version of the C/C++ tools extension. When in C++ mode, the `sizeof` operator doesen't get recognized if not parenthesized. Example:

C mode:
![image](https://user-images.githubusercontent.com/9153046/100077072-32cdcf00-2e42-11eb-8980-22719edce059.png)

C++ mode:
![image](https://user-images.githubusercontent.com/9153046/100077164-509b3400-2e42-11eb-91ce-12b02a31c920.p

[2020-11-24 10:11] MalcolmMielle opened #6572 "Alternate keyword are not recognized"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- alternate keywords "and" and "or" are not recognized even with the permissive flag enabled

**Steps to reproduce**
![Screenshot 2020-11-24 105349](https://user-images.github

[2020-11-24 10:56] MalcolmMielle commented on #6572
Actually it's the compiler who doesn't get those. Not the language server, my bad.

[2020-11-24 10:56] #6572 closed, assigned to nobody

[2020-11-24 11:23] #6188 closed, assigned to nobody

[2020-11-24 11:43] #3436 closed, assigned to nobody

[2020-11-24 14:11] bigbigrain opened #6573 "'must be size_t' error with gcc on Windows"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2
- Other extensions you installed (and if the issue persists after disabling them): i disabled all other extensions.
- A clear and concise description of what the bug is.
When i use "https://github.com/nlohmann/json" this c++ lib, using their user defined literal "_json" it w

[2020-11-24 19:31] sean-mcmanus opened #6574 "IntelliSense doesn't support __float128 (or Q literals) for gcc/clang on Linux"
Use code `__float128 f;` with gcc or clang on Linux (maybe other OS's).

Bug: It gives an IntelliSense error: identifier “__float128” is undefined”.

Reported for VS at https://developercommunity.visualstudio.com/content/problem/1267710/c-intellisense-doesnt-support-float128-for-linux-m.html .

[2020-11-24 20:28] sean-mcmanus commented on #6574
Bug#2: The __float128 literal Q isn't recognized: `auto f = 2.718281828459045235360287471352662498Q;`

[2020-11-24 21:26] sean-mcmanus opened #6575 "__builtin_coro_* methods aren't recognized by IntelliSense in gcc mode with -fcoroutines arg"
Repro is with 1.2.0-insiders:

[code]
[code]

Bug: IntelliSense doesn't recognize the `__builtin_coro_*` methods. It works with clang mode (which doesn't need the -fcoroutines arg). The case is valid with g++ 10 or newer.

[2020-11-24 21:27] Colengms commented on #6573
Hi @bigbigrain .  Since you are using gcc on Windows, are you using MinGW or another gcc compiler?  There are some issues with gcc on Windows due to different implementations handling int sizes differently.  We are currently tracking this with https://github.com/microsoft/vscode-cpptools/issues/5457 (as it was previously reported due to use of size_t in operator new).

If you are using MinGW, I wo

[2020-11-24 21:35] Colengms commented on #6571
Hi @SPAstef .  By 'recognized', are you are referring to colorization?  I can repro, but even with the  the C/C++ Extension disabled, so it does not appear to be the cause.  While the C/C++ Extension provides colorization for Semantic tokens, syntactic tokens (such as for keywords, like sizeof) are provided by VS Code using TextMate grammar for C/C++.  That grammar is contributed by this repro: ht

[2020-11-24 22:03] Colengms commented on #6570
Hi @ItsCubeTime.  It's currently by-design that the outline does not descend into functions.  We can use this issue as a feature request to track changing this behavior.  Feature requests are generally prioritized based on the number of upvotes.

[2020-11-24 22:04] SPAstef commented on #6571
Thanks a lot! I opened an issue there! In the meantime, is there any way to add a custom keyword manually?

[2020-11-25 00:04] Colengms commented on #1878
Hi @Kwizatz .  Are you still seeing this issue?  I'm not able to easily repro with the latest versions of packages (mingw_w64, cmake) in MSYS2.  Though, I'm seeing other issues - specifically that MSYS2's CMake is failing to configure the latest version of mingw_w64.  Do you have an example project you can share that I should be able successfully configure with the latest MSYS2 packages installed,

[2020-11-25 00:11] mreale commented on #6547
F2 refactoring in VSCode the most dangerous thing I ever used in a IDE.

[2020-11-25 00:11] #3045 closed, assigned to nobody

[2020-11-25 00:18] sean-mcmanus commented on #6566
Your Raspbian OS is ARM right? We didn't add support for Linux ARM until version 1.0.0, which requires VS Code 1.44.0: https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.0 . You also may be hitting other bugs that have been fixed in our latest version.

Raspbian Buster should be able to download the latest VS Code and C/C++ extension versions.

[2020-11-25 00:34] sean-mcmanus commented on #6568
It sounds like there are 2 issues.

1. ${workspaceFolder}/** (recursive includes) will cause all those sub folders to get the lowest priority, so any subfolders that should be included before the other non-recursive includes should be explicitly added non-recursively, e.g. add ${workspaceFolder} to your includePath (and/or subfolders).
2. Multiple definitions should not appear if the current TU is

[2020-11-25 00:39] Colengms commented on #3450
Hi @Lennon925 Are you still seeing this issue?  I'm not able to repro.  We have since changed how IntelliSense is configured for clang/clang-cl, which likely addressed this issue.  I will close assuming this is fixed, but let us know if you still see a problem.

[2020-11-25 00:39] #3450 closed, assigned to nobody

[2020-11-25 00:40] sean-mcmanus commented on #4854
@bmacnaughton We'd probably be willing to accept a PR that adds that setting.

[2020-11-25 00:42] Kwizatz commented on #1878
Hi @Colengms ,
Last time (back in August) it got so annoying that I wrote these (cmake):

[code]
Disabling those, yes I still see the wrong paths:
[code]

And again, I see squiggly lines on local includes.

I don't have a minimal example project, but I am not doing anything particularly weird, I am using the cmake that gets installed with MSYS2 Mingw-w64:

[code]

The only suspect thing might be t

[2020-11-25 00:45] ConnectMyEV commented on #6566
Dear Sean,
No. My computer is using an Intel Xeon processor.
The raspbian in question is running as a Virtual Machine on this computer.
When I run "hostnamectl", I get the following. Note that the architecture says x86-64. (Please ignore that it now says Debian 9 because after my unsuccessful attempt to upgrade to "Raspbian Buster", I had to go back to "Raspbian Stretch" and that's why it shows De

[2020-11-25 00:53] Colengms commented on #4118
I'm not able to repro this.  Since this should be a pretty simply scenario to repro, I assume this has been addressed.

[2020-11-25 00:53] #4118 closed, assigned to nobody

[2020-11-25 00:55] Kwizatz commented on #1878
MSYS2 provides cygpath a cygwin utility to translate paths, maybe you could add some sort of trap or callback for paths and a setting variable for the path to cygpath and run all paths through the utility if set on the settings.json file, do nothing if it doesn't exist?

[2020-11-25 01:15] sean-mcmanus opened #6576 "Format on `;` with vcFormat isn't working"
With C_Cpp.formatting set to vcFormat see the repro:

[code]

The bug doesn't repro with VS.

This was originally reported as part of https://github.com/microsoft/vscode-cpptools/issues/6561

[2020-11-25 01:17] sean-mcmanus commented on #6561
@TryerGit I've filed a new issue on the 3rd issue (seems like it could be a widespread formatting bug): https://github.com/microsoft/vscode-cpptools/issues/6576

[2020-11-25 01:26] sean-mcmanus commented on #6503
If anyone is able to get a crash call stack for the cpptools crash that could help us diagnose/fix it. We have info on one approach to get that at https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv, but those steps may not work because cpptools may exit out after the attach occurs (we have a potential fix for that but it hasn't been checked in

[2020-11-25 01:29] sean-mcmanus commented on #6548
"**/*.hpp" is a file-based exclusion. What syntax for exclusion are you using? The exclusion policy needs to be changed to checkFilesAndFolders if you want file-based exclusions to work.

[2020-11-25 01:47] Colengms commented on #6536
Another issue that should be addressed when updating this doc: https://github.com/microsoft/vscode-cpptools/issues/4670

[2020-11-25 01:53] Colengms commented on #6576
@sean-mcmanus I'm not repro'ing this. Did you also set? "editor.formatOnType": true. If so, there is more info needed, as simply copying and pasting that code, I see it format when I type ";" over the existing instances.

[2020-11-25 02:10] sean-mcmanus commented on #6547
@mreale Can you explain what was dangerous about it? Was it just the speed or did it rename incorrect code?

[2020-11-25 02:22] sean-mcmanus commented on #6566
What does it show when you run `/home/pi/.vscode-oss/extensions/ms-vscode.cpptools-0.27.1/bin/cpptools` and `file  `/home/pi/.vscode-oss/extensions/ms-vscode.cpptools-0.27.1/bin/cpptools` from the command line?

FYI, our extension doesn't support running on .vscode-oss (Code OSS), only the official VS Code distro.

[2020-11-25 02:26] sean-mcmanus commented on #6536
It'd be nice to add docs for how to get the 10.2 version. We could add other mingw versions if we find a reason.

[2020-11-25 02:31] sean-mcmanus commented on #6576
You're right -- I was confused because typing } was invoking format on type behavior -- is that the real bug? It seems like type } shouldn't format if formatOnType is disabled.

[2020-11-25 02:36] sean-mcmanus commented on #6576
Oh -- looks like the formatting on } is coming from VS Code.

[2020-11-25 02:46] sean-mcmanus commented on #6576
@Colengms Any idea how to disable that behavior? Changing editor.autoIndent isn't working.

[2020-11-25 02:46] #6576 closed, assigned to nobody

[2020-11-25 02:46] sean-mcmanus commented on #6561
@TryerGit Changing the formatOnType setting to true fixed it.

[2020-11-25 02:49] sean-mcmanus commented on #6563
Okay, thanks for the info. I repro the bug in VS too. I file a bug tomorrow.

[2020-11-25 02:55] ConnectMyEV commented on #6566
Dear Sean,
Yes, I do recognize that Microsoft extension is not guaranteed to work on code-oss and perhaps the support for the virtual machines for raspbian is also out of scope for you. Hence I did an immediate reversal to "Raspbian Stretch". I will live with it for now. Although it would be good to address this, it's not stopping me now.

In the meantime, when I try to run cpptools from the comma

[2020-11-25 03:02] sean-mcmanus commented on #6576
I filed bug https://github.com/microsoft/vscode/issues/111265

[2020-11-25 03:06] sean-mcmanus commented on #6566
That means the binaries didn't get downloaded installed, possibly a known issue that was fixed with newer releases. A potential workaround could be to use the offline vsix at https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.1 .

[2020-11-25 04:09] ConnectMyEV commented on #6566
Dear Sean,
I will try that some time tonight, but the binary file exists in the said
directory. I did not post the output of ls -lai, but I see cpptools being
present.
When I am in front of the computer, I will post output of ls -lai
I will also try your workaround and let you know.
Thanks.

On Tue, Nov 24, 2020, 7:07 PM Sean McManus <notifications@github.com> wrote:

[2020-11-25 04:31] #6515 closed, assigned to nobody

[2020-11-25 04:52] TryerGit commented on #6561
@sean-mcmanus @Colengms

Please see below an if-else construct where braces are automatically added, which, in my view should not be default.

Secondly, else does not align with if unless user manually does formatting.

I am doing this with clang-format and format on type checked/true.
![Peek 2020-11-25 10-18](https://user-images.githubusercontent.com/70434658/100184621-ee0c6b80-2f07-11eb-8f5e-8bb

[2020-11-25 06:10] shudingbo commented on #4854
Thank you for the first

[2020-11-25 09:15] baiwfg2 opened #6578 "strange C++ symbol jumping"
**Type: LanguageService**

**Describe the bug**
- OS and Version: mac 10.14.5
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.1.2
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including information about the workspac

[2020-11-25 09:19] baiwfg2 commented on #6578
It works well most of time. It just happens in this case.

[2020-11-25 10:40] krzikalla commented on #6548
I tried all possible combinations of exclusionPolicy and (wildcarded) patterns. To no effect. Even if I insert a particular full-pathed filename in files.exclude, that file is still indexed and will be found.
All editing happens in the workspace settings. "search.exclude" in the same settings file works as expected BTW.

[2020-11-25 11:06] Jimbo99 commented on #6559
In case it is useful to know, Sean,  in the past week I've started getting the same warning appearing when using a different compiler. The compiler is XC8 made by Microchip (microchip.com) for their microcontrollers.

`[25/11/2020, 10:50:44] Unable to resolve configuration with compilerPath "C:/Program Files (x86)/microchip/xc8/v1.38/bin/cpp.exe".  Using "D:\PIC18\bin\cpp.exe" instead.`

Been usin

[2020-11-25 12:14] bmacnaughton commented on #4854
i'll take a look. thanks for the opening.

[2020-11-25 12:22] h2s0109 opened #6579 "IntelliSense can`t recognize the #include MACRO(No definition found)"
**Describe the bug**
- OS and Version: WIN10
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.1

**Steps to reproduce**
1. define the MCUCARD_TYPE_PATH "Test2.h" at Test1.h
![image](https://user-images.githubusercontent.com/21095801/100226531-3b69f680-2f63-11eb-84ef-962fc63bc002.png)
2. #include MCUCARD_TYPE_PATH at C file
![image](https://user-images.githubusercontent.com/21095801/1002266

[2020-11-25 12:25] ItsCubeTime commented on #6570
Thanks for your reply @Colengms .

Why not make it an option in the settings file? The extension API supports hierarchies and the Python extensions does make use of it already like so variables in functions are displayed in a tree.

Also in: https://github.com/microsoft/vscode-cpptools/issues/4124 (which was closed as a dup to #2230 ) it was said that "We just started work on this feature for 0.26

[2020-11-25 15:38] mreale commented on #6547
I use platformIO extension and sometimes the refactoring process freezes and after that I got an half-refactored (and messed) source code.  Also I had to double check the refactoring preview to ensure that only the intended source in my project will be affected since I (rarely) got files out of my source tree (mcu and framework libraries) marked to refactoring.  I had no time to investigate the co

[2020-11-25 16:04] ConnectMyEV commented on #6566
Dear Sean,
As I stated earlier, the cpptools file exists and it has execution permissions. See the output of "ls -lai" below:
pi@raspberry:~/.vscode-oss/extensions/ms-vscode.cpptools-0.27.1/bin $ ls -lai
total 25148
790748 drwxr-xr-x  3 pi pi     4096 Nov 24 18:50 .
668115 drwxr-xr-x  9 pi pi     4096 Nov 24 18:50 ..
790926 -rwxr-xr-x  1 pi pi 15045520 Nov 24 18:50 cpptools
790927 -rwxr-xr-x  1 pi

[2020-11-25 17:05] benjamin-cates opened #6580 "Invalid squiggle for macro in conditionally included header"
**Describe the bug**
- OS and Version: Originally it was Manjaro 20.2 (Kernel 5.9.10), but I was also able to reproduce it in Windows 10.
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2
- Other extensions you installed (and if the issue persists after disabling them):
    - Vim
    - file-size
    - WordCounter
    - I have seen this error before I installed some of these, and I was abl

[2020-11-25 18:46] WardenGnaw commented on #6562
Thank you for reporting this bug.

It looks like we are not checking to see if we are debugging via GDB server and should not convert to HostOSPath if so.
https://github.com/microsoft/MIEngine/blob/f3fafeb3dd1e7f50390d81e1348d1b29b31150b2/src/MICore/LaunchOptions.cs#L320

[2020-11-25 18:54] WardenGnaw commented on #6553
The cpptools extension automatically interacts with the debug adapter (MIEngine) which communicates with GDB with -exec-interrupt/-break-insert/-exec-continue.

Could you share your scenario and logs when you add the following to your `launch.json`?
[code]

[2020-11-25 19:19] voidtrance opened #6581 "IntelliSense update seemingly stuck in an endless loop"
Hi,

I am filing this as a general question as I am not sure if it is an actual issue.

I am working on a rather large project with large number of files (c/c++). For my settings, I've tried to limit the "includePath" and "browser.path" directories as much as I can. However, after starting VSCode and opening the workspace, the IntelliSense engine starts updating but seems to never finish.

I am wo

[2020-11-25 19:34] sean-mcmanus commented on #6561
@TryerGit clang-format formatting mode only supports ';' for format on type. A related issue is https://github.com/microsoft/vscode-cpptools/issues/5982 .

The braces appear for else because you invoked the else snippet. VS Code invokes completion/snippets when Enter is used (I don't know how to change that). We could reduce the priority/order of the else snippet to be less than the keyword priori

[2020-11-25 19:51] michelleangela commented on #6578
@baiwfg2

Could you run the command `C/C++: Log diagnostics` from the VS Code command palette and share the output? It will show what include paths the IntelliSense refers to.

[2020-11-25 20:30] sean-mcmanus commented on #4249
Bug2 still repros, but bug 1 does not -- the hover doesn't show any specific overloads (and instead shows +2 overloads).

[2020-11-25 20:37] Colengms commented on #6559
@diablodale The extension should not attempt to configure a compiler from `compile_commands.json` unless it has a default file extension that indicates the file is C/C++ (such as .cpp, .c, .h, .cxx, etc.), or is specified in a `files.association` settings indicating C or C++.  Could you confirm that you have not specified the file name or file extension being passed to your RC, compiler as a C or

[2020-11-25 20:51] diablodale commented on #6559
I do. See original post in section "folder's settings.json"
My intention is to get `ifdef`, parsing, and colorization of RC files.

[2020-11-25 21:02] Colengms commented on #6559
This would seem to be by design, if you've indicated that RC files be treated like C/C++ files.  Would you like to convert this issue into a feature request for support of parsing and colorization of .rc files (in such a way that does not require disguising them as C/C++ files) ?

[2020-11-25 21:21] Jimbo99 commented on #6559
@Colengms Thank you for the information. Very helpful. I can see from the debug info that the XC8.exe compiler is causing issues currently so I'll work on that.

[2020-11-25 21:29] diablodale commented on #6559
ok. I have no strong disagreement with the 'by design' for file.associations (ab)use to have intellisense for RC files. The benefit is worth the new warning.

I'll leave this issue open as @Jimbo99 scenario is under investigation

[2020-11-25 21:41] Colengms commented on #6580
Hi @Unfit-Donkey .  I'm not easily able to repro this issue.  Your `c_cpp_properties.json` will refer to a compiler detected on your system.  For example, I have MSVC installed, and the generated `c_cpp_properties.json` on my machine configures the extension for use with MSVC, which does not provide `unistd.h`.  If I reconfigure the extension to use Mingw_w64, I get no squiggles with the code you

[2020-11-25 22:04] Colengms commented on #6579
Hi @h2s0109 .  Thanks for reporting this.  This appears to be a dupe of https://github.com/microsoft/vscode-cpptools/issues/5261 .    So, closing this as a dupe.  Let me know if I'm mistaken.

[2020-11-25 22:04] #6579 closed, assigned to nobody

[2020-11-25 22:18] Colengms commented on #6581
Hi @voidtrance .  The native component of the extension (the cpptools process) uses standard input/output to communicate with the TypeScript component.  So, it would be expected that you'd seen this communication channel in use almost constantly when not idle.

Regarding the update that never finishes; could you set `"C_Cpp.loggingLevel": "Debug"` and check the C/C++ Output channel for activity at

[2020-11-25 23:13] #6436 closed, assigned to elahehrashedi

[2020-11-26 00:35] sean-mcmanus opened #6582 "else<Enter> invokes snippet completion, interferring with the single line case"
See https://github.com/microsoft/vscode-cpptools/issues/6561#issuecomment-733462766 .

Giving the else keyword snippet higher priority should be an easy fix.

[2020-11-26 00:36] sean-mcmanus commented on #6561
I filed a new issue to track the else issue: https://github.com/microsoft/vscode-cpptools/issues/6582

[2020-11-26 00:50] benjamin-cates commented on #6580
Here are the contents of `c_cpp_properties.json`:
[code]
I can reproduce the issue by using the automatically generated `c_cpp_properties.json`. If I change `cStandard` to `c17` and `cppStandard` to `c++14`, or if I add `/usr/include/**` to the `includePath`, or if I add `"intelliSenseMode": "gcc-x64"` to the configuration, nothing changes. Therefore, I think it is unlikely the problem is with the

[2020-11-26 02:06] sean-mcmanus commented on #6526
Recovery is fixed, but there might be a regression in regards to reporting.

[2020-11-26 03:44] sean-mcmanus opened #6583 "Hover doc comments don't work if there's a selection"
[code]

Select "ii" and doc comments stop working on i.

[2020-11-26 04:08] sean-mcmanus commented on #6570
We implemented the new document symbol API, but symbols in functions was never a part of that. Our paid product (Visual Studio 2019) doesn't support workspace/outline symbols for local variables either. The reason is that our symbol parser and doesn't run inside of function bodies. The functionality doesn't exist, so adding an option is not sufficient. If it's implemented, then we might not even n

[2020-11-26 04:16] #6578 closed, assigned to nobody

[2020-11-26 04:19] sean-mcmanus commented on #6547
@mreale Half-refactoring can occur if some references are incorrectly not marked as confirmed/selected. One such bug we just fixed is https://github.com/microsoft/vscode-cpptools/issues/4249 . But our rename/FAR accuracy is still not 100%, so it is recommended that you look at the preview and then compile your code after the change. There are some complicated scenarios related to overloads, templa

[2020-11-26 04:22] sean-mcmanus commented on #6566
Okay, then can your execute "cpptools" and "file cpptools" via the command line to see what it gets? We need info on what is wrong with those binaries.

[2020-11-26 04:29] sean-mcmanus opened #6584 "Happy Thanksgiving (in the U.S.)"
...so there may be a delay in addressing GitHub issues (till November 30).

[2020-11-26 04:47] ConnectMyEV commented on #6566
pi@raspberry:~/.vscode-oss/extensions/ms-vscode.cpptools-0.27.1/bin $ ls -lai
total 25148
790748 drwxr-xr-x  3 pi pi     4096 Nov 24 18:50 .
668115 drwxr-xr-x  9 pi pi     4096 Nov 24 18:50 ..
790926 -rwxr-xr-x  1 pi pi 15045520 Nov 24 18:50 cpptools
790927 -rwxr-xr-x  1 pi pi 10633424 Nov 24 18:50 cpptools-srv
790749 drwxr-xr-x 15 pi pi     4096 Nov 24 18:49 messages
790776 -rw-r--r--  1 pi pi

[2020-11-26 04:57] sean-mcmanus commented on #6566
Okay...I don't know what is going on then. The file info says your binary is the 64-bit binary and you appear to have permissions, so executing ./cpptools should work.

What results do you get with ~/.vscode-oss/extensions/ms-vscode.cpptools-0.27.1/bin/LLVM/bin/clang-format? Those binaries should be similar to the Ubuntu binaries at https://releases.llvm.org/download.html .

[2020-11-26 05:08] pmattione commented on #4243
Was this ever resolved?  I have the same problem as the original poster: The debugger can't pause while running gdb with sudo via an indirection (gcc 10.2). This is directly in Ubuntu, nothing remote.

Debug Console upon Pause:
[code]

My /usr/bin/gdbsudo:
[code]

My launch.json:
[code]

VSCode version:
[code]

[2020-11-26 05:10] TryerGit commented on #6561
@sean-mcmanus @Colengms

I switched format style to `VcFormat` and when `else` is halftyped, it shows `else` keyword and `else` snippet is not even available. However, on pressing a single `{` after else (keyword), the `}` autocompletes.

So, this works fine for me. I have to re-evaluate why I chose `clang-format` over `VcFormat` in the first place. As of now, all of the issues I have mentioned in

[2020-11-26 05:10] #6561 closed, assigned to Colengms

[2020-11-26 05:43] ThinBuffalo opened #6585 "It's always "Activating Extensions...""
Type: Debugger

**Describe the bug**
- OS and Version:Windows 7 x64
- VS Code Version:1.51.1
- C/C++ Extension Version:v1.1.2
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
When I use any command for this extension, you are prompted: "Activating Extensions..." and nothing happens.
And sometimes when vscode is

[2020-11-26 05:44] pmattione commented on #4243
You can even repro this with:

[code]

[2020-11-26 06:10] sean-mcmanus commented on #6585
It sounds like cpptools.exe is crashing.

Win7 is at it's end of life: https://www.microsoft.com/en-us/windows/windows-7-end-of-life-support-information

@bobbrow Do we still support Win7?

[2020-11-26 07:32] rhish9h commented on #6280
I have a similar issue for C code. Peek definition stopped working on the second attempt. Should I add the issue's details here or create a new issue?

[2020-11-26 14:44] mreale commented on #6547
I agree that's a very complicated business specially with non dynamic languages, like C/C++ and it's hard to address every possible scenario.

Thanks for your time!

[2020-11-26 17:19] rjra100 opened #6586 "GDB pretty-printing of unordered_map<std::type_index, T> crashes connection to debugger"
Issue Type: <b>Bug</b>

To reproduce:

- Compile (with debug info) any code including a std::unordered_map containing std::type_index. For example:
[code]
- Put a breakpoint after the map has some data in it (the return line above)
- Set up a launch.json similar to this:
[code]
- Launch the debugger. At the breakpoint, look at the variables (in the variables or watch window, or by hovering).

Actu

[2020-11-26 17:50] ItsCubeTime commented on #6570
Hi @sean-mcmanus , thanks for the insights.

Well I'm glad you seem to like the idea at least conceptually. For me personally I think it would be a rather big workflow improvement to be able to quickly be able to look up object names in the outliner when working with nested objects.

I will just hope someone will be able to pick this up at some point (and that there will grow an interest for it fr

[2020-11-27 04:51] ThinBuffalo commented on #6585
I can use it on another computer with the same configuration, but not this one.

[2020-11-27 10:22] nav9 opened #6587 "Making the project creation and use more intuitive"
Type: General

Hi. This is an offshoot of this feature request https://github.com/microsoft/vscode/issues/111339 which they requested me to post here. It's basically about making the project creation and use a more intuitive process.

[2020-11-27 15:29] dortamiguel opened #6588 "Unused variables are not highlighted in the editor"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macos 10.15.6
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2
- Description of what the bug is: When a variable is unused the editor doesn't warn that is unused.

**Steps to reproduce**
Create a variable a don't use it

**Expected behavior**
When I create a variable I will expect vscode to highlight the line with a warnin

[2020-11-28 03:17] tkreindler opened #6589 "Architecture arm64 is not supported."
Type: General

Now that Visual Studio Code - Exploration pretty much fully supports Apple Silicon, is there an open issue for porting this extension over? Not to oversimplify matters but it seems like a pretty trivial port.

**Describe the bug**
- OS and Version: Mac OS Big Sur, arm64
- VS Code Version: Exploration - Latest Version

[2020-11-28 06:00] TryerGit commented on #6587
A *project* means different things in different contexts. In Visual Studio IDE, a project usually refers to a `.vcxproj` file. While I can understand your pain at transitioning to VSCode, please note that my view is that it is a sophisticated and powerful text editor (I do not work for Microsoft and am an anonymous user, so caveat emptor) and **not** an IDE. Its power comes precisely from the fact

[2020-11-28 08:46] athisun commented on #6503
@Colengms Sorry for the delay. I found some time today to continue debugging this issue. I wasn't able to do as much as I'd hoped, but here are the results of my testing.

I opened each folder in my multi-root workspace one-by-one using the "File > Open..." dialog. For all of the PlatformIO folders in the workspace, the extension (v1.1.2) outputs the following on the "C/C++ Configuration Warnings"

[2020-11-28 11:07] arpitgupta1214 opened #6590 "no space when two > are used consecutively."
Issue Type: <b>Bug</b>

declare a 2-D vector
vector<vector<int> >
and save the file.
The formatter changes it to:
vector<vector<int>> (removing the space in > >)
This leads to a compilation error in g++.

Extension version: 1.1.2
VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-11T01:11:34.018Z)
OS version: Darwin x64 20.1.0

<details>
<summary>System Info</summary>

[2020-11-28 12:17] Novae28 commented on #5051
I am facing the same issue. Kindly help me out cuz I am unable to debug my c++ files.

[2020-11-28 15:35] Saladin1812 commented on #6358
@boocs  Its working.. yes an extension fix may be good @sean-mcmanus  any suggestions regarding this ? We will have to replace all

`"command": "`
TO
`"command": "\"\"`
in compileCommands_YourProjectName.json

for 4.26 unreal release..
Can you make sure this is an extension bug or an engine upstream bug ?

[2020-11-28 22:15] diablodale commented on #1626
Yes, please!
The Microsoft Concurrency Runtime function `Concurrency::receive()` throws a timeout exception. This is predicted and *desired*...not errant. And I try/catch that exception. However, vscode spams my debug console with an exception about 15 times/second because I am `receive()` ~60 times/second and many of them intentionally timeout.

I would prefer that the launch.json schema and its

[2020-11-29 09:53] xymeng16 commented on #6589
Clone this repo into your Mac and modify the activate(context: vscode.ExtensionContext) function at line 36 in extension/main.ts by adding one condition in the following if expression as:
[code]
Then build it and export an VSIX extension file to install it. I am using this modified version for 3 days on my C++ development without any bug of this extension.

[2020-11-29 12:50] baldvin-kovacs opened #6591 "Standard setting is ignored on MacOS, error squiggles for C++11 features, and cannot debug"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS 10.15.7
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2
- Other extensions you installed (and if the issue persists after disabling them):CMake Tools, and yes.
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- A clear and concise description of what the bug is, including info

[2020-11-29 15:31] AverageComet250 opened #6592 "How do I use compile_commands.json"
So I've been looking into ultralight and uses the below to build a project

[code]

I'm not fully sure what vscode does to build projects (and whether its this plugin or the cmake one that I need to change the settings for), but I know it isn't this. It seems I need a `compile_commands.json` file that I tell this plugin to use at the project level but I cant find documentation on this or anything

[2020-11-29 17:10] arnonshp commented on #6035
Killing the IntelliSense when it reaches 4GB is not the solution I was expecting. It's the same as saying "we do not have IntelliSense support for large workspaces." The IntelliSense engine should be capable of crunching large workspaces without increasing memory imprint. Using disk storage along with some smart caching mechanism is just one option. Killing the engine and starting the parsing agai

[2020-11-29 18:12] bmacnaughton commented on #4854
@shudingbo - as a workaround (not sure when i'll be able to get to this - there's a bit of a learning curve for me on vscode and vscode-cpptools) you can create a .vscode/c_cpp_properties.json file like:

[code]

i did change the code for nvm to create the `NVM_INC` env var so this was possible; the PR was accepted pretty quickly.

[2020-11-29 22:34] baldvin-kovacs commented on #6591
The linked video shows how running a build gets rid of the error squiggles, but then running a debug immediately brings them back.

It seems that the debugger executes a build without the --std=c++17 setting, ignoring all the configuration and everything, and it seems that the intellisense behavior simply takes the results of the last compilation.

So it is likely a debugger bug.

https://drive.go

[2020-11-29 23:32] baldvin-kovacs commented on #6591
I wrote a wrapper for clang++, which logs what parameters was it called with. In fact, I can see that Visual Studio Code omits the standard parameter when it compiles for debugging, so it seems that it does not use the tasks.json entry for compilation for debug. Below are logs for successive calls, it was using -std=c++17 when I did Cmd-Shift-b, a successful compilation, and it does the compilatio

[2020-11-30 00:16] huye commented on #5877
Likewise, the large number of "unnamed_struct" entries affect the use of the outline.

[2020-11-30 00:20] baldvin-kovacs commented on #6591
Using the below wrapper for clang++, Visual Studio Code debugging starts working. So my problem is simply the fact that it does not set the -std=c++17 flag when it compiles for debugging under MacOS:

[code]

[2020-11-30 02:07] shudingbo commented on #4854
My workspace has More than 10 Adon.  If use .vscode/c_cpp_properties.json, in one addon the cpptool always jump to another addon's define...

[2020-11-30 05:02] #4325 closed, assigned to nobody

[2020-11-30 07:53] stertingen commented on #5558
I have the same issue when working on a ROS workspace. (ROS workspace consists of 3 directories: src, build and devel, with devel being some sort of install target location. There are many files in these directories, but not too many IMHO: 670 files in 192 directories)

VS Code 1.49.1
C/C++ extension: 1.1.2
ROS extension: 0.6.4
WSL: Ubuntu 20.04 (Linux 4.4.0-18362-Microsoft # 1049-Microsoft Thu Au

[2020-11-30 08:10] rlabrecque commented on #1211
What needs to happen for this to move forward? Which part needs to be implemented and roughly where?

It seems like this mostly works in cppdbg with gdb.

cc: @WardenGnaw

More Info:

https://marketplace.visualstudio.com/items?itemName=vsdbgplat.MicrosoftChildProcessDebuggingPowerTool

https://github.com/microsoft/vscode-cpptools/issues/5505#issuecomment-629528619

https://github.com/microsoft/vsc

[2020-11-30 09:58] baldvin-kovacs commented on #6591
Now I'm even one step closer to understand it:

Renaming the the default build task to foobar in tasks.json (changing the label to it), and then using foobar in launch.json to reference it solves the problem: then I don't need the wrapper from my previous post, then I can simply provide -std=c++17 manually in tasks.json. This has the extra advantage that I can also provide link flags and so on.

S

[2020-11-30 11:31] Y7n05h opened #6593 "Ignore library files during debugging"
Type: Debugger

In the debugging function, vscode failed to follow the configuration of gdb to skip some files.

**Describe the bug**
- OS and Version:`Arch Linux`  `Linux x64 5.9.10-arch1-1`
- VS Code Version:
[code]

- C/C++ Extension Version:`v1.1.2`

**To Reproduce**

[code]

When I add a breakpoint on line 6 and perform single-step debugging, I will enter the library file, but I want the debu

[2020-11-30 16:20] llilakoblock commented on #5591
I can confirm this behavior in latest vscode, and latest cpptools. Its unrelevant to project opened. Opened several projects cloned from github in vscode. Adding any symbols in cpp code, even spaces or tabs - causes continuous errors:

![изображение](https://user-images.githubusercontent.com/58418838/100634430-57451200-3340-11eb-8dce-e0a1e642b258.png)

Result's in bugged (not full, no new code) in

[2020-11-30 17:12] aghArdeshir opened #6594 "Huge .cache folder (4.8G) - ipch"
Type: General

- OS and Version: Ubuntu 20.10
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2
- Other extensions you installed: Remote Development Collection, VSIntellicode, GitLens, ESLint, Prettier, LiveServer
- A clear and concise description of what the bug is.

**Additional context**

VSCode is installed using snap

[2020-11-30 18:24] michelleangela opened #6595 "Support Apple Silicon ARM64 architecture natively"
VS Code now works on Apple Silicon (https://github.com/microsoft/vscode/issues/101662).

This is a feature request to enable the language server binaries to also run on Apple Silicon natively.

The feature request to have the debugger binaries run on Apple Silicon natively is tracked by https://github.com/microsoft/vscode-cpptools/issues/7035.

**Note:** the cpptools, cpptools-srv, and debugger bi

[2020-11-30 18:26] michelleangela commented on #6589
This feature request requires changing our closed source code.

Duplicating this to https://github.com/microsoft/vscode-cpptools/issues/6595

[2020-11-30 18:26] #6589 closed, assigned to nobody

[2020-11-30 18:34] michelleangela commented on #6592
For the C++ Extension to use the compile_commands.json file, place its full file path into the [c_cpp_properties.json](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference) file. This file is used to configure the C++ Extension IntelliSense. You can edit the file by running one of the two commands: `C/C++: Edit Configurations (JSON)` or `C/C++: Edit Configurations (UI)`. If you

[2020-11-30 18:38] michelleangela commented on #6594
This cache folder stores cached precompiled headers or "ipch" files that the IntelliSense engine uses to improve performance. You can limit the size of the cache by changing the setting value of `C_Cpp.intelliSenseCacheSize`

![image](https://user-images.githubusercontent.com/38734287/100649962-10cbc500-32f8-11eb-9664-b637d7e10d00.png)

[2020-11-30 19:10] WardenGnaw commented on #6593
Duplicate of: https://github.com/microsoft/vscode-cpptools/issues/811#issuecomment-613912937

[2020-11-30 19:10] #6593 closed, assigned to nobody

[2020-11-30 19:12] WardenGnaw commented on #6586
Thank you for reporting this issue, we will investigate this bug.

[2020-11-30 19:13] AverageComet250 commented on #6592
I know that but what do I actually put in the `compile_commands.json` file

[2020-11-30 19:38] michelleangela commented on #6592
The compile_commands.json file is generated by CMake and it is not usually modified for the C++ Extension to use, unless there is some special case or workaround that needs to be done. https://cmake.org/cmake/help/latest/variable/CMAKE_EXPORT_COMPILE_COMMANDS.html

[2020-11-30 19:39] #6584 closed, assigned to nobody

[2020-11-30 19:43] sean-mcmanus opened #6596 "Handle /await in compilerArgs with cl.exe"
...

[2020-11-30 20:04] RogFedex commented on #6559
Adding my observation:
The below warning message is observed
Unable to resolve configuration with compilerPath "C:\Program Files (x86)\GNU Arm Embedded Toolchain\9 2020-q2-update\bin\arm-none-eabi-gdb.exe".  Using "cl.exe" instead.

My Settings is as below
"C_Cpp.default.compilerPath": "C:\\Program Files (x86)\\GNU Arm Embedded Toolchain\\9 2020-q2-update\\bin\\arm-none-eabi-gdb.exe"

[2020-11-30 20:56] bobbrow commented on #6559
@RogFedex
Did you mean to use the cross compiler for `gcc` instead of `gdb` (the debugger)?

[2020-11-30 21:43] RogFedex commented on #6559
Intention is to use gdb for debugging C++ code and cross compiler arm gdb
for C code. How do i configure ?

On Mon, Nov 30, 2020 at 12:56 PM Bob Brown <notifications@github.com> wrote:

[2020-11-30 21:54] Colengms commented on #6580
Hi @Unfit-Donkey .  Thanks for reporting this.  I've got a repro.  The issue also repro's in VS, which shares the same code for IntelliSense.  I opened an issue against VS here: https://developercommunity.visualstudio.com/content/problem/1272933/c-intellisense-invalid-squiggle-for-macro-in-condi.html

[2020-11-30 22:03] Colengms commented on #6571
Hi @SPAstef .  I suspect there would be more to it than manually adding a keyword, as the same keyword gets colorized correctly in other contexts.  The issue would seem to be with regular expressions in the TextMate grammar which would need to be updated to properly match the keyword also for the syntax that is failing.  Jeff's TextMate grammar repro would probably be the best place to discuss how

[2020-11-30 22:03] #6571 closed, assigned to Colengms

[2020-11-30 22:26] sean-mcmanus commented on #4249
The find all references on the template method overload now shows all the uses for all overloads. Ideally, it would exclude the non-matching overloads...we could file a new issue for that if anyone thinks it's important enough.

[2020-11-30 22:35] Colengms commented on #6590
Hi @arpitgupta1214 .  What is your `cppStandard` version, and which formatting engine are you using?  If using clang-format (default), it should correctly either add or remove spaces between angle-brackets, based on your `cppStandard`.  Support to disambiguate template angle-brackets from `<<` and `>>` operators was added in C++11.    A value of `c++03` or `c++98` should result in adding/preservin

[2020-11-30 22:41] sean-mcmanus commented on #6280
@rhish9h Can you file a new issue? Unless you're reproing the exact same issue with a crash of cpptools-srv and can provide a crash call stack.

[2020-11-30 22:47] elahehrashedi commented on #6591
This issue has been resolved in Vs Code insiders release (not the c/c++ extension): https://github.com/microsoft/vscode/issues/109939

one way to make it work is to use the latest Vs Code insider version,
The workaround is to modify the name of the tasks.

[2020-11-30 22:47] #6591 closed, assigned to nobody

[2020-11-30 22:59] WardenGnaw commented on #6586
I can reproduce and fixed the crash but for some reason MIENgine does not display `unordered_map<type_index, int>` correctly.

Actual:
![image](https://user-images.githubusercontent.com/3953714/100675904-b002b380-331c-11eb-8c2a-0c9fea79be98.png)

[code]

[2020-11-30 23:02] sean-mcmanus commented on #6585
You mean on another Win7 machine? Do you know what is special about the computer that it doesn't work on?

Are you able to somehow get a crash dump for the cpptools.exe process?

[2020-11-30 23:16] sean-mcmanus commented on #6588
Is this a request for when building or for IntelliSense squiggles?

1.0.2 has a bug that can cause warnings to not appear for `cppbuild` build tasks (https://github.com/microsoft/vscode-cpptools/issues/6556) that should be fixed with our pending 1.2.0-insiders. See
![image](https://user-images.githubusercontent.com/19859882/100676878-a67a4b00-331e-11eb-83bd-54c1636ad1c8.png)

Is that sufficient? I

[2020-11-30 23:36] Colengms commented on #6585
I have a Win7 machine set up for testing, but am not repro'ing any obvious issue.  @ThinBuffalo Is there more you can tell us about the configuration of the machine that repros?

[2020-11-30 23:45] sean-mcmanus commented on #6587
@nav9 We need more info about you're looking for. What OS and compiler and build system do you intend to use? Did you see the tutorial docs at https://code.visualstudio.com/docs/cpp/config-msvc, https://code.visualstudio.com/docs/cpp/config-wsl, etc.?

VS Code doesn't really have "projects". You're expected to install whatever compiler and build systems you need yourself since those are available

[2020-12-01 00:17] Colengms commented on #6592
@AverageComet250 The format specifications for `compile_commands.json` can be found here: https://clang.llvm.org/docs/JSONCompilationDatabase.html

It would be possible to manually compose `compile_commands.json`.  Though, unless individual files need to be configured differently, it would seem simpler to specify the same information in `c_cpp_properties.json`.  Support for `compile_commands.json`

[2020-12-01 00:29] sean-mcmanus commented on #6503
@athisun Are you able to provide repro steps? I tried to piece together a repro from what you described but I'm not reproing a crash. I'm not sure what I'm doing differently.

[2020-12-01 01:16] Colengms commented on #6559
@RogFedex Did you mean to specify `arm-none-eabi-gcc` instead?  `gdb` refers to a debugger.  I suspect you are not using the debugger executable to compile code.  The `C_Cpp.default.compilerPath` setting (or the `compilerPath` field in `c_cpp_properties.json`) refers to the compiler to configure language services (IntelliSense) based on.  We query that compiler for system includes and system defin

[2020-12-01 01:16] #6559 closed, assigned to Colengms

[2020-12-01 02:03] sean-mcmanus commented on #5051
@WardenGnaw I seem to hit this too -- I can't get mingw debugging to work on Windows (cl.exe on Windows and gdb works on Linux works).

[2020-12-01 02:12] sean-mcmanus commented on #5051
@WardenGnaw I got my issue fixed via copying over the extension's debugAdapters folder to the one in my enlistment...so my failure is probably not what the users are hitting, unless their debugAdapters folder is somehow corrupted.

[2020-12-01 02:36] sean-mcmanus commented on #6358
Sure, I can create a bug -- but does someone have a simple repro?

[2020-12-01 02:45] sean-mcmanus commented on #6035
@arnonshp IntelliSense memory size (in cpptools-srv) is not related to workspace size. cpptools-srv only operates over a single TU (.cpp plus headers), so you can get IntelliSense to use many GB simply by preprocessing all the C++ system headers into a single .cpp file. You can change the C_Cpp.intelliSenseMemoryLimit to handle unexpected scenarios for Linux/Mac (for Windows our shipped binary is

[2020-12-01 02:55] sean-mcmanus opened #6597 "Outline grouping is incorrect with anonymous typedefs"
Repro is
[code]
in a .c file and view the Outline view.

Uncomment the `// test` to get the expected behavior.

Originally reported as a sub-issue of https://github.com/microsoft/vscode-cpptools/issues/5877

[2020-12-01 02:55] sean-mcmanus commented on #5877
@huye Thanks for clarifying -- I've filed a new issue at https://github.com/microsoft/vscode-cpptools/issues/6597 to track the outlining issue, which is separate from the naming issue described at https://developercommunity.visualstudio.com/idea/1133225/request-better-handling-of-typedefed-unnamed-struc.html .

[2020-12-01 03:38] huye commented on #6597
If the problem is not solved, you can hide them or set them to the default collapsed state. Do not interfere with our quick jump from the outline to the code.

[2020-12-01 07:08] escherstair commented on #6506
__qsub intrinsic has the same problem too, even with
`"intelliSenseMode": "gcc-arm"`

[2020-12-01 07:14] chintan-mishra commented on #6518
@rouisibra

Which C and C++ compiler are you using with Clangd plugin?

LLVM Clang or GCC?

How is the performance, and code completion experience?

[2020-12-01 08:44] aneel56 opened #6598 "no required output only"
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\Windows 10\Documents\c c++> cd "c:\Users\Windows 10\Documents\c c++\program.cpp\" ; if ($?) { g++ hello.cpp -o hello } ; if ($?) { .\hello }
c:/mingw/bin/../lib/gcc/mingw32/9.2.0/../../../../mingw32/bin/ld.exe: c:/mingw/bin/../lib/gcc/mingw32/9.2.0

[2020-12-01 08:48] jon2180 opened #6599 "'Squiggles are disabled for this translation unit' warning appeared on the macro definition."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 20H2
- VS Code Version: v1.51.1
- C/C++ Extension Version: v1.1.2
- Other extensions you installed (and if the issue persists after disabling them): twxs.cmake, ms-vscode.cmake-tools
- Does this issue involve using SSH remote to run the extension on a remote machine?:wsl(ubuntu 20.04)
- A clear and concise description of

[2020-12-01 08:52] arnonshp commented on #6035
Thank you Sean. I'm sorry, I thought the cpptools large memory consumption was directly related to the IntelliSense DB which is created.
I opened this issue originally on cpptools large memory consumption (see first post on this issue).

[2020-12-01 09:07] arpitgupta1214 commented on #6590
I am using c++11 standard and the microsoft c++ tools for formatting.

On Tue, 1 Dec, 2020, 4:06 am Colen Garoutte-Carson, <
notifications@github.com> wrote:

[2020-12-01 09:12] rhish9h commented on #6280
Hey, I'm pretty much a newbie with this and not sure what cpptools-srv is exactly. But I followed the above solution to open the project with the actual path instead of the symlink, and it works fine now.

So the issue (peek definition not working) existed when I opened the project with symlink, works well when project is opened with real path.

[2020-12-01 10:00] jon2180 commented on #6599
I have solved this issue

[2020-12-01 10:00] #6599 closed, assigned to nobody

[2020-12-01 11:57] aghArdeshir commented on #6594
Thanks! Well, I think my problem is solved, but I still think its strange to have ~5GB of cache data, for a single project. But I don't know the internals.

Thanks @michelleangela

Should I close the issue?

[2020-12-01 12:06] boocs commented on #6358
I can put up the one I tested before. I'll need to look at it again to make sure everything is good and I'll post the link.

[2020-12-01 12:51] nav9 commented on #6587
Thank you Sean. Well, if the IDE and extensions are designed to be as such, then there is nothing more for me to say. I apologize for taking up your time.
I was using it on Ubuntu 16.04. gcc 4.5.

[2020-12-01 12:51] #6587 closed, assigned to nobody

[2020-12-01 14:34] boocs commented on #6358
Here it is: [https://github.com/boocs/compilecommands](https://github.com/boocs/compilecommands)

[2020-12-01 16:04] tenry92 commented on #1485
I think I had the same issues as many here. For me, it looked like this:

![image](https://user-images.githubusercontent.com/11708191/100764349-87e78300-33f6-11eb-9c56-8c065afc193c.png)

Also some other defines from libpng further up looked like that. Found the following workaround by @adarshmk further up:

And indeed, my test code were like #include this and that, define a struct, and then #inclu

[2020-12-01 16:16] bobbrow commented on #6599
Thanks for letting us know. We're glad you were able to solve this.

[2020-12-01 16:23] bobbrow commented on #6592
If you are using CMake, then we recommend you install the [CMake Tools](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cmake-tools) extension.  If you let that extension configure your project, you will not need compile_commands.json.  If you have any trouble configuring it, [open an issue here](https://github.com/microsoft/vscode-cmake-tools/issues/new) and we can help you out.

[2020-12-01 16:29] bobbrow commented on #6585
We have enough users still on Win7 that we would investigate a major blocking issue were it to arise, but that hasn't been the case yet.

[2020-12-01 16:47] AverageComet250 commented on #6592
I want to make it so that the build option runs

[code]

Instead of

`cmake .` or whatever the build button underneath the terminal or file does

Also I am using the cmake tools extension and my objective is to change what the build button on the bar at the bottom does

[2020-12-01 18:12] sean-mcmanus commented on #6598
Does program.cpp define a main function? The linker error indicates main is missing.

[2020-12-01 19:06] aallrd opened #6602 "[GDB] Very slow var-create on simple std::string"
Type: Debugger

**Describe the bug**
- OS and Version: RHEL 7.6
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2
- Other extensions you installed (and if the issue persists after disabling them): no other extensions

I am remotely debugging a big monolith binary running on a remote server with a **gdbserver 10.1.0** attached to it.
On my local development environment I have a copy of thi

[2020-12-01 19:14] michelleangela commented on #6594
I forgot to mention that the cache under the default path is the total of all workspace that have cached precompiled headers. That is if the same path is used for all workspace, then the cache of all workspace will be stored under the same path, unless user specifies a different cache path per workspace.

![image](https://user-images.githubusercontent.com/38734287/100785822-11329180-33c6-11eb-869b

[2020-12-01 19:14] #6594 closed, assigned to nobody

[2020-12-01 19:33] sean-mcmanus commented on #5591
@llilakoblock How do you know cpptools is crashing? The error messages in your screenshot don't indicate a crash and normally occurs under normal conditions (it was a VS Code bug). A crash would be indicated by "[Error - 10:51:19 AM] Connection to server got closed. Server will not be restarted." appearing in a log pane named "cpptools". The other symptoms you describe appear more severe than a cr

[2020-12-01 19:42] sean-mcmanus opened #6603 "VS Code uses non-stop CPU and memory after the cpptools process is killed"
Reproed on Windows with VS Code and VS Code Insiders, 1.1.2 and 1.2.0-insiders.

[2020-12-01 19:55] Colengms commented on #6590
Hi @arpitgupta1214 .  Could you provide the contents of or `c_cpp_properties.json` and any other relevant `C_Cpp` settings in your settings.json files?

[2020-12-01 19:57] sean-mcmanus commented on #6603
It's stuck in an infinite "loop" involving: `                        allClients.forEach(client => { allClients.replace(client, true); });`.

[2020-12-01 21:02] Colengms commented on #6592
Hi @AverageComet250 .  With CMake Tools installed, you should see a text button at the bottom of the window that allows selection of build configuration type (Release, Debug, RelWithDebInfo, MinSizeRel), . Alternatively, you can use `CMake: Select Variant` command.  With both a variant and a 'kit' selected, and a valid CMakeLists.txt file, run the `CMake: Configure` command to generate the build s

[2020-12-01 21:14] AverageComet250 commented on #6592
I think my variant is Release and I'm using the x86_64 visual studio 2019 kit. I will test the cmake configure command and come back on whether that works.

Thanks

[2020-12-01 22:07] sean-mcmanus opened #6605 "Add some method to query GitHub issues 72 hour SLA"

[2020-12-01 22:23] #6556 closed, assigned to nobody

[2020-12-01 23:50] #6603 closed, assigned to nobody

[2020-12-02 02:05] Colengms opened #6608 "Failure to select a debug configuration results in 'unknown error'"
Using `create a launch.json file`, after selecting an 'Environment', if I click away from the 'build configuration' menu to dismiss it, I get an error, "An unknown error occured.  Please consult the log for more details".

In this case, the user is cancelling the operation, and we probably shouldn't display an 'unknown error' message.

[2020-12-02 02:46] jpan127 commented on #5227
I've been noticing this for as long as I have used VScode.  Thankfully it often fixes itself for awhile when I `pkill -f cpptools`. Today, I just saw it ate up a good chunk of my 64GB RAM **and 90% of my 100GB swap space**.  There's either a memory leak or the logic is memory inefficient or there are no memory constraints or something about bazel symlinks 🤷 .

I promptly disabled following symlink

[2020-12-02 03:27] Colengms opened #6610 "[Web CodeSpaces] Debug Environment options are based on browser platform instead of VM platform"
When connecting to web-base/GitHub CodeSpaces from Windows:

![image](https://user-images.githubusercontent.com/49173979/100824322-cab35600-340a-11eb-8388-e717c561eebf.png)

When connected from Linux or Mac:

![image](https://user-images.githubusercontent.com/49173979/100824438-02ba9900-340b-11eb-8bec-f5f527491bb6.png)

This seems like a CodeSpaces issue, not a cpptools issue.  Opening it here for

[2020-12-02 05:01] sean-mcmanus commented on #6608
Yeah, this is a known issue -- I didn't see a way to fix it. Did anyone have any idea what we're doing wrong to avoid that?

[2020-12-02 08:31] arpitgupta1214 commented on #6590
c_cpp_properties.json :
[code]
settings.json:
[code]

[2020-12-02 08:49] SpyrosMourelatos commented on #1946
Any schedule about that yet?

[2020-12-02 12:47] icegood opened #6611 "Crosscompilation and custom sysroot option"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux ice-ubuntu 5.8.0-31-generic #33-Ubuntu SMP Mon Nov 23 18:44:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- VS Code Version:
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:31:29.624Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.8.0-31-generi

[2020-12-02 13:02] ejoia opened #6612 "Microsoft Visual Debugging and Run Error - Projects, also."
Please bare with me as I am jsut beginning on my journey of Software Design.  My visual code automatically creates a "setting.json" file after I attempt to debug and run my .cpp file.  I just want to run the program and see if it is a functional program, while using an user interface to integrate input(s) when I run the programs.  How do I configure my program to do these things? These are the C++

[2020-12-02 14:50] DBJDBJ commented on #6450
it seems IT definitely meets "the bar to fix" >:(

![image](https://user-images.githubusercontent.com/145155/100888137-0f47fb80-34b6-11eb-8ee1-7d13ad9daac3.png)

2020-12-02

Has started out of the blue? all of a sudden CTRL+SHIFT+B does not work, menu "Terminal->Run Tasks" does not work repeatedly ... just reinstalled the VS Code  ... still the same problem

[2020-12-02 15:11] DBJDBJ commented on #6450
ok now it works all of a sudden ... i went to cpp file done CTRL+CHIFT+B and it worketh ... but since then it works whatever is the active file ... ok ...

few more tries ... it seems it gets confused when not starting from a cpp file ... then I start it from a CPP file and all is fine ...?

[2020-12-02 15:21] DBJDBJ commented on #6450
And now the next heisenbug

![image](https://user-images.githubusercontent.com/145155/100892240-651ea280-34ba-11eb-9730-7c7326476b7f.png)

the task repeats itself in the terminal menu

[2020-12-02 16:31] WardenGnaw commented on #6612
For documentation about using Microsoft Visual C++ with the VS Code C++ Extension you see the debugging section of the  ["Hello World" example](https://code.visualstudio.com/docs/cpp/config-msvc#_debug-helloworldcpp). This will tell you to use the "Windows" configuration for the debugger.
If you are looking to pass arguments to your program, you can this to the `"args": []` in the generated `launc

[2020-12-02 16:56] ejoia commented on #6612
I just want to run the program, momentarily, and am not trying to program the debugger.  I'm going to look through this but my vs code won't just run my program with a user interface.

[2020-12-02 17:44] barabaka commented on #4638
Same issue on Windows. It started after installing 'Git Lens' plugin. I removed the plugin but the issue was still there. For me the problem was in *.code-workspace file. Git Lens adds the following line there but then fails to clear it when uninstalled:
`"uri": "gitlens://319c334/........" `
It also adjusts the "name" to include Git revision. I removed the URI line and adjusted the name, now the

[2020-12-02 17:46] WardenGnaw commented on #6602
The `-var-create` on `myVar` is getting the local variable information to display on the `locals` window. The `elapsed time 65195` is the amount of time it took to process in GDB.

It most likely would be a perf bug on GDB which can be reported at https://sourceware.org/bugzilla/
[code]

#2901 would not help since the debug adapter still needs to communicate with GDB on getting local variables.

1

[2020-12-02 19:43] mkgvb opened #6613 "Compound 2 cpp applications one doesnt start"
This is similar to issue #6431
My launch.json is pretty much the same however I see from the log that it is stuck at waiting for connection. One application always starts usually the first one listed in the compound. The issue is intermittent but happens most of the time, sometime changing any argument in launch.json helps mitigate the issue.

Version: 1.51.1 (user setup)
Commit: e5a624b788d92b8d3

[2020-12-02 20:30] Colengms commented on #6611
Hi @icegood .  Thanks for reporting this.  We've recently implemented parsing of sysroot args, so this should be addressed by our next full release (1.2).  We used https://github.com/microsoft/vscode-cpptools/issues/1575 to track that fix, so closing this as a dupe.

[2020-12-02 20:30] #6611 closed, assigned to nobody

[2020-12-02 20:48] Colengms commented on #6610
Seems to be specific to Chrome.  Does not repro with Edge.

[2020-12-02 21:33] Colengms commented on #6590
Hi @arpitgupta1214 .  Your configuration indicates `"cppStandard": "c++20"`.  C++20 allows the space to be removed from between those angle-brackets.  It sounds like perhaps you are not also passing `-std=c++20` (or `-std=gnu++20`) when you compile, leading to the compilation error.  To ensure IntelliSense (and formatting) are aligned with how you are configuring the compiler when compiling, `cppS

[2020-12-02 22:24] melroy89 commented on #5815
Yes please!!!

[2020-12-02 22:51] melroy89 commented on #6535
You are aware of another survey? https://www.research.net/r/VBVV6C6

[2020-12-02 23:04] bobbrow commented on #6587
For what it's worth, the VS Code team is working on [improvements to the Welcome screen](https://github.com/microsoft/vscode/issues/106715) which provides an opportunity for us to explore defining some "getting started" type tasks (e.g. create a C++ project).  While it's true we don't try to be an IDE by packaging compilers and such together, I think there are some things we can do to make the out

[2020-12-02 23:52] bobbrow commented on #6535
@danger89, yes we are aware. The survey you linked is about the C++ development experience.  The survey @sean-mcmanus linked is about your experience interacting with us on GitHub.  It is temporary and will be removed in a few weeks.

[2020-12-02 23:59] bobbrow commented on #6518
Unfortunately, this issue is not something that we are going to be able to address.  We've discussed the licensing terms with our product managers and legal team and it doesn't look like anything is going to change (at least for now).  I'm closing this issue to set the correct (though understandably disappointing) expectations for folks.

[2020-12-02 23:59] #6518 closed, assigned to nobody

[2020-12-03 02:58] Trass3r commented on #5815
Shouldn't be done on a debug adapter level.
See https://github.com/microsoft/vscode/issues/105417#issuecomment-687004553

[2020-12-03 02:58] #5815 closed, assigned to nobody

[2020-12-03 12:02] aallrd commented on #6602
Hello,
Thank you for the feedback.
Are you sure that the elapsed time is spent in gdb?
Because I tried the below scenarios and got instant breakpoint hit and value displayed for my variable `myVar` without VSCode:
- gdb directly attached to the PID on the remote server
- gdb connected with `target remote <host>:<port>` to the gdbserver attached to the PID on the remote server

[code]
I have also t

[2020-12-03 12:25] mundodisco8 opened #6615 "[Feature Request] Add an option to choose if comments are automatically folded"
**Type: LanguageService**

**Describe the Issue**
- OS and Version: Windows 10 20H2
- VS Code Version: 1.51.1
- C/C++ Extension Version: 1.1.2

When I fold my code with "Fold All" or "Fold Level X", my comments are folded too.  I use decorated comment blocks to separate areas of my code thematically, and I like to keep the details of a function visible even if the code is collapsed. The current be

[2020-12-03 14:16] bshoshany opened #6616 "IntelliSense doesn't work properly with C++20 modules in MSVC"
**Type: LanguageService**

**Describe the bug**
- OS and Version: **Windows_NT x64 10.0.19042**
- VS Code Version: **1.51.1 (also tried with Insiders, the issue still occurs)**
- C/C++ Extension Version: **1.1.2**
- Other extensions you installed (and if the issue persists after disabling them): **When disabling all extensions except the C/C++ extension (which is required to reproduce the issue),

[2020-12-03 14:46] bshoshany opened #6617 "Debugging doesn't work with Clang 11 on Windows"
Type: Debugger

**Describe the bug**
- OS and Version: **Windows_NT x64 10.0.19042**
- VS Code Version: **1.51.1 (also tried with Insiders, the issue still occurs)**
- C/C++ Extension Version: **1.1.2**
- Other extensions you installed (and if the issue persists after disabling them): **When disabling all extensions except the C/C++ extension, the issue still occurs.**
- A clear and concise descri

[2020-12-03 18:07] WardenGnaw commented on #6602
The time calculated from `time elapsed` is from when we queue up a `-create-var` and send it to GDB to when GDB returns the output for that specified command.

Related codepaths:
https://github.com/microsoft/MIEngine/blob/1ccfd123289100f2415450d68b6011766941cc3d/src/MICore/CommandFactories/MICommandFactory.cs#L336

https://github.com/microsoft/MIEngine/blob/9470e98d946772ed1ace9ab68e9fbd4d88090b42

[2020-12-03 18:39] WardenGnaw commented on #6617
We are dependent on lldb-mi and are investigating a way to ship it on our own for LLVM 10+.

We currently support lldb on macOS since we can link to XCode's version of liblldb.framework but there are many ways for Windows/Linux users to download liblldb.

lldb-vscode.exe is actually its own VS Code extension that speaks VS Code Debug Adapter Protocol and not GDB-MI.
See https://github.com/llvm/llv

[2020-12-03 18:41] WardenGnaw commented on #6613
Still investigating #6431

From your logs it looks like its hanging on connecting to the integrated terminal. Does configurating your `launch.json` to `"externalConsole":true` progress you further?

[2020-12-03 20:05] Colengms commented on #6615
Hi @mundodisco8 .  The C/C++ extension provides folding ranges to VS Code, but I don't believe there is currently a way for it to 'control' them.

Included in the information provided to VS Code by the extension is a range 'type', including a `FoldingRangeKind.Comment` type.  It would seem that VS Code would have sufficient information to provide the feature you are requesting.  Addressing this in

[2020-12-03 20:22] bshoshany commented on #6617
I see, thanks for the clarification. Hope to see official support for the latest LLVM versions in VS Code soon.

Would you mind expanding on what you mean by "there are many ways for Windows/Linux users to download liblldb"? (Unfortunately I'm not very familiar with how LLVM works - I've been using GCC and MSVC until now.)

What would be the most reliable way of debugging Clang in VS Code on Windo

[2020-12-03 20:28] boocs commented on #6358
4.26.0 was just released (Out of Preview). No fixes.

The workaround I posted still works.

[2020-12-03 20:59] sean-mcmanus opened #6618 "cwd is incorrectly set to the compiler's folder with cppbuild tasks"
Regression with 1.1.0.

Also, the cwd for the debugger doesn't have this problem, but it has the problem that MinGW's compiler path isn't used if it's not on the path.

[2020-12-03 22:00] #6618 closed, assigned to nobody

[2020-12-03 22:29] Colengms commented on #4415
This seems to be related to the length of the namespace alias:

![image](https://user-images.githubusercontent.com/49173979/101095839-6bbd2080-3573-11eb-814d-8af315484844.png)

It also doesn't appear to repro when not used as part of a range-based for loop.

[2020-12-04 00:31] Colengms commented on #4415
Although there is a different symptom, I'm seeing a related issue in VS (which we share IntelliSense code with).  In VS, hover operations seem to be returning the wrong results within range-based for loops (which we also repro, though slightly differently - only with the first character in the token).  It's possible that these incorrect positions are affecting our colorization ranges.  That issue

[2020-12-04 01:10] Saladin1812 commented on #6358
@sean-mcmanus  A simple repro is

1. Install Unreal Engine 4.26 using the Epic Games Launcher or built it from source on Windows or Linux respectively.
2. Having VS Code with latest cpp extension.. Create a new cpp project, Generate the vscode project files

Expected result:  After all the parsing and updating intellisense is done the vscode intellisense should understand classes :: and not show o

[2020-12-04 01:52] WardenGnaw commented on #6617
`lldb-mi` is an additional tool that calls into liblldb which has functions which actually debugs the process. MI is `machine interface` which makes it easy to programmatically change the debugger state and read a well formatted structure for output. Reading console output from lldb is a bit more difficult.

At the moment, we recommend [CodeLLDB](https://marketplace.visualstudio.com/items?itemName

[2020-12-04 01:56] mu001999 opened #6623 "Failue to assign a std::variant"
[code]

I have set `cppStandard` to `c++17` and compiled it successfully. But I got the red underline with the error says:

[2020-12-04 02:38] #6491 closed, assigned to Colengms

[2020-12-04 02:38] sean-mcmanus commented on #6538
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.3

[2020-12-04 02:38] #6538 closed, assigned to nobody

[2020-12-04 02:39] sean-mcmanus commented on #6556
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.3

[2020-12-04 02:39] sean-mcmanus commented on #6603
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.3

[2020-12-04 02:39] sean-mcmanus commented on #6618
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.3

[2020-12-04 03:56] llilakoblock commented on #5591
@sean-mcmanus Well, i did not say a word about "crashing" in my comment. I'm just confirming the exact same behavior as described in first comment by @akbyrd except the language server crash, it seem to be running normaly in my case, but...

![изображение](https://user-images.githubusercontent.com/58418838/101119732-07df3a00-35fd-11eb-96f4-82809fe44b41.png)

You are saying that this picture is nor

[2020-12-04 04:46] bshoshany commented on #6617
Thank you for the explanation. Hoping to see improved official LLDB debugging support soon!