[2019-10-21 08:27] AsceticBoy commented on #4464
Same Problem

[2019-10-21 08:49] oysteinskotheim commented on #429
When I try to open a remote C++ project in VS Code using SSH (the remote host is an NVIDIA Jetson TX2) I get "Architecture arm64 is not supported". The same error that I get when trying to run VS Code and the C++ extension locally on my NVIDIA Jetson TX2.

[2019-10-21 08:53] oysteinskotheim commented on #429
+1 for this. I really need it for development on NVIDIA Jetson TX2.

It also seems to be required for opening remote projects on the Jetson TX2 via the "Visual Studio Code Remote - SSH" extension running on my PC (which already has the C++ extension installed locally).

[2019-10-21 09:09] anatolyburakov commented on #4073
Yes, adding `fileLocation` directive to the problem matcher have fixed the issue for me.

[2019-10-21 09:09] #4073 closed, assigned to nobody

[2019-10-21 10:21] ebarti commented on #429
Ouch. It looks like there is experimental support for ARMv8l in the VSCode insiders edition, but it claims it migth not work for ARMv8 https://code.visualstudio.com/docs/remote/linux

I believe that in VS update >= 15.9 the visual C++ compilers and libraries for ARM64 became generally available.

[2019-10-21 11:36] rianquinn commented on #4428
This appears to be fixed

[2019-10-21 11:36] #4428 closed, assigned to nobody

[2019-10-21 11:42] tombenes commented on #4408
I can't see any other processes I could attach to and see call stacks - I'm checking every single one I can find with ps, and their stacks looks like I posted. Those are processes from server machine - if I should check local vscode processes as well, let me know

[2019-10-21 13:08] theunwisewolf commented on #3981
Any update on this issue?

[2019-10-21 14:15] junessi opened #4470 "namespace named `interface` causes extension to loop infinitely"
Issue Type: <b>Performance Issue</b>

Since some weeks this extension starts to run some processes to ocuppy cpu(2 - 4 cores) for inifite time, even if I left it run for the whole week, it never stop. Now my vscode hangs for some second after I type a word, it not possible for me to use this ext any more.

Extension version: 0.26.0
VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a6606

[2019-10-21 14:25] yeggles commented on #2266
@bobbrow I was asking if the issue of nested make files was resolved.  The solution you posted would only work if all sequential make calls were made relative to the root Makefile.  @nattgris had explained my issue perfectly, but I have no way of controlling how the imported libraries do their nested make calls.  The only viable solution for this edge case would be the implementation of regex in t

[2019-10-21 14:53] fpvision opened #4471 "&"warning: GDB: Failed to set controlling terminal: Operation not permitted\n""
Type: Debugger

**Describe the bug**
yet an other: "&"warning: GDB: Failed to set controlling terminal: Operation not permitted\n""

- OS and Version:
Kubuntu 18.04

- VS Code Version:
1.39.2
- C/C++ Extension Version:
 0.26.0

- A clear and concise description of what the bug is.

I just updated vscode  to 1.39.2 and starting getting this error, all extensions are updated
when I start debugging

[2019-10-21 15:01] yeggles opened #4472 "Add cache to task inputs of the promptString type"
It would be useful for task inputs to offer the ability to cache the last used input.

A possible solution could be for the "promptString" GUI to have the appearance of the "pickString" GUI, but also offering a textbox where new values could be typed.  If the user just presses enter than it will use the last value.  If no value has ever been input then it would use the suggested default.

[2019-10-21 16:30] bobbrow commented on #2266
@yeggles, I don't believe the nested makefile issue is resolved.  I think you'd need a feature from VSCode to make it work.

[2019-10-21 16:36] bobbrow commented on #4469
VS Code provides the same feature in the breadcrumbs bar now, so we removed our custom implementation.  You can use the `breadcrumbs.focusAndSelect` command to achieve the same purpose.

Thank you for using the C++ extension!

[2019-10-21 16:36] #4469 closed, assigned to nobody

[2019-10-21 16:43] bobbrow opened #4473 "Add documentation for ${command:cpptools.activeConfigname}"
@bobbrow It works fine.

Where can I find the documentation related to this feature? Pages [Customizing default settings](https://code.visualstudio.com/docs/cpp/customize-default-settings-cpp) and [c_cpp_properties.json reference](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference) for the **C++ extension**, and page [Integrate with External Tools via Tasks](https://code.visu

[2019-10-21 16:44] bobbrow commented on #4473
This was an oversight.  I created an issue to improve the documentation.

[2019-10-21 16:47] bobbrow commented on #1270
Use the `${default}` variable to insert the values from `C_Cpp.default.includePath` into your `c_cpp_properties.json`:

[code]

(https://code.visualstudio.com/docs/cpp/customize-default-settings-cpp#_updated-ccpppropertiesjson-syntax)

[2019-10-21 17:21] md-software commented on #4464
Same problem for me!

[2019-10-21 17:25] michelleangela commented on #4466
For comparison, this is the behavior on Visual Studio

![image](https://user-images.githubusercontent.com/38734287/67227942-1cf30c80-f3ed-11e9-8461-fc47ce0d6a98.png)

[2019-10-21 18:07] pieandcakes commented on #1527
@z7z8th Thank you for your investigation. Let me take that fix and do some additional testing.

Thanks!

[2019-10-21 19:08] sean-mcmanus commented on #4472
Is this a request for VS Code (https://github.com/microsoft/vscode/issues) or was there a particular C/C++ task input you wanted our extension to cache input for?

[2019-10-21 19:11] sean-mcmanus commented on #4468
Our tool by default uses clang-format 6.0 -- what version of clang-format are you using to generate the .clang-format? Can you provide the .clang-format you're using? Can you set your C_Cpp.clang_format_path to match the version of the clang-format used to generate the .clang-format?

If this is a bug still, could you enabled logging (https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and

[2019-10-21 19:26] sean-mcmanus commented on #4452
You may need to add the "disruptive macro" to the a cpp.hint file: https://docs.microsoft.com/en-us/cpp/build/reference/hint-files?view=vs-2019 , i.e. if evaluating the macro is required in order to correctly parse the code, e.g.
[code]
If you consistently get an error message when tag parsing the file with the definition in it, then our parser might be hitting an error. Are you able to provide a

[2019-10-21 19:34] ebubekirtrkr commented on #4464
same problem for me

[2019-10-21 19:37] amansheaven commented on #3829
It means just lldb-mi not the complete Xcode, if possible as simple as
`brew install lldb-mi`

Same issue here :(

[2019-10-21 19:48] sean-mcmanus commented on #4465
If you want to find out what is causing the CPU usage, you could enable debug logging (https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and/or attach a debugger and view the call stacks. My guess is that you may have a symlink that points to some large directory, such as your root drive (see https://github.com/microsoft/vscode-cpptools/issues/3123). You could change the browse.path setti

[2019-10-21 19:52] sean-mcmanus commented on #4470
Can you enable debug logging (https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and/or attach a debugger and view the call stacks. Or are the database or flame icons showing a status? One possibility is that you may have a symlink that points to some large directory, such as your root drive (see #3123). You could change the browse.path setting to include less folders (or use "*" to make t

[2019-10-21 19:58] sean-mcmanus opened #4475 "Add a feature to escape formatting for a line or a block of text"
I want you to add a feature to escape formatting for a line or a block of text to get results like this:
[krijgertje's solution](https://codeforces.com/contest/1200/submission/58929470)
 Some code is better understood when written in one line.
What I suggest is a quick key combination like <kbd> CTRL</kbd> + <kbd>/</kbd> which comments a line when no text is selected or comments an entire selectio

[2019-10-21 20:00] sean-mcmanus commented on #1322
@hk2281 Could you open a new issue with more repro details? Is your intelliSenseEngine set to "Default" and your errorSquiggles setting set to "Enabled" or "EnabledIfIncludesResolve" (and includes are resolved).

[2019-10-21 20:17] sean-mcmanus commented on #4408
Yeah, you should attach to the process that is using lots of CPU. In the normal remote scenario, the process would be on the remote machine (but if the remote-ssh runs differently, maybe it could be running locally?). If you're not seeing 10+ call stacks, then the tool you're using to see the calls stacks must not be showing you all the call stacks in a process. In the call stacks you've posted, I

[2019-10-21 20:23] sean-mcmanus commented on #3981
@askamn We were never given enough repro info. It sounded like our code was not processing the function arguments correctly...the screenshots showed lots of error squiggles (seemingly due to missing includes), so that could be the cause. Let us know if you have more repro details on a case were Go to Def fails.

[2019-10-21 21:13] sean-mcmanus commented on #4464
We're having problems reproing this bug. Can someone use Help->Toggle Developer Tools and provide the call stack of the undefined reference? You have a mingw compiler installed, right?

[2019-10-21 22:06] sean-mcmanus commented on #2908
It looks like Visual Studio has added support for clang-tidy: https://devblogs.microsoft.com/cppblog/code-analysis-with-clang-tidy-in-visual-studio/ ...but VS doesn't run on Mac/Linux.

[2019-10-22 03:12] sun-xm commented on #1270
Cool. Thanks very much Bob.

[2019-10-22 03:41] chongchai opened #4476 "can you add a configuration to disable rename feature?"
I may use other extension with rename feature. If these extension are installed together, the rename feature will be conflicted.
So can you provider a configuration to control the rename feature?

[2019-10-22 04:54] zhangyafeikimi commented on #4468
[code]

[2019-10-22 04:55] zhangyafeikimi commented on #4468
content of .clang-format
[code]

[2019-10-22 04:59] zhangyafeikimi commented on #4468
setting my own C_Cpp.clang_format_path works!
Thanks very much.

[2019-10-22 05:02] #4468 closed, assigned to nobody

[2019-10-22 05:10] koutoftimer commented on #4464
@sean-mcmanus
[console.ts_137.log](https://github.com/microsoft/vscode-cpptools/files/3753889/console.ts_137.log) and [notificationsAlerts.ts_38.log](https://github.com/microsoft/vscode-cpptools/files/3753890/notificationsAlerts.ts_38.log) appears in Developer Tools console. I think you are looking for this

[code]

[2019-10-22 07:22] hensz commented on #4469
Great, thanks a lot. Just a short follow-up question: Is there a way to see these discontinued features/commands and the respective replacements?

[2019-10-22 07:29] hensz commented on #4469
By the way, I just noticed that the command focusAndSelect is not quite the same as Navigate. The advantage of Navigate is: At least on my machine focusAndSelect needs quite some time until all information is read so that I can jump to a certain location in the file (currently it takes > 30 seconds), whereas Navigate was available nearly instantly. I'm not sure how this was implemented, but I real

[2019-10-22 07:31] fpvision commented on #4471
SOLVED

Sorry for the disturbing, y'all
I must have deleted a wrong file, somewhere
to make it work
I deleted all files in

$ rm -rf ~home/.config/code
$rm -rf  ${workspacedir}/.vscode

sudo apt-get purge  code
sudo apt-get install code

voilâ, it works again and I'm happy

[2019-10-22 07:31] #4471 closed, assigned to nobody

[2019-10-22 08:04] EthanG45 commented on #3829
I hope to see this bug fixed soon. I understand the devs were waiting to see if anything changed with the release of Catalina, but it seems this issue was known about since June? I will try out the  CodeLLDB extension since I rely pretty extensively on the C debugger. I hope it goes well getting the official debugger working again.

[2019-10-22 08:46] alexz4321 commented on #483
Yes. Same issue. Version 1.39.2.
BUT peek definition will work after you open source code file once.

[2019-10-22 08:57] migue99angel commented on #4464
Same problem for me

[2019-10-22 09:47] tombenes commented on #4408
Maybe those are the stacks you are looking for
[gdb.txt](https://github.com/microsoft/vscode-cpptools/files/3754757/gdb.txt)

[2019-10-22 10:22] la10736 commented on #1035
Is there any mentoring instruction? I can think to try to work on it if you get me any hints on where should I look.

I like vcode but our project use nested function intensely so I cannot adopt it if this issue is not solved.

[2019-10-22 12:00] billchenchina commented on #4464
Same problem for me

[2019-10-22 13:14] jaudiger opened #4477 "Incorrect C statement code folding when define in the middle"
Reference: https://github.com/microsoft/vscode/issues/82851

- VSCode Version: 1.39.2
- OS Version: Windows 10 (64 bits) + ArchLinux WSL

Steps to Reproduce:

1. Use the following code inside a `test.c` file:

[code]

2. Try to minimize the if statement with this arrow:

![image](https://user-images.githubusercontent.com/31616285/67106490-066d6b00-f1cb-11e9-84d1-e897366678a5.png)

![image](https:/

[2019-10-22 13:58] thpica opened #4478 "Language server crashing"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 16.04
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0
- Other extensions you installed (and if the issue persists after disabling them):
  - `vector-of-bool.cmake-tools-1.1.3`

Cannot get Intellisense to work, the log shows `Failed to read response from server: 22`.
I managed to attach to `Microsoft.VSCode.CPP.Int

[2019-10-22 17:06] michelleangela commented on #4477
This is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/407

[2019-10-22 17:06] #4477 closed, assigned to nobody

[2019-10-22 17:12] j-blandford commented on #3829
@EthanG45 CoreLLDB worked perfectly for me!

[2019-10-22 18:07] xiuliren commented on #3711
I still have this issue in
[code]

I have to start vscode with sudo to attach gdb.

[2019-10-22 18:22] sean-mcmanus commented on #4478
We are aware of that IntelliSense process crash, but it's not a high hitter and we don't know of a repro. Are you able to isolate the code that is causing the crash, via a binary search of removing code until it doesn't crash? That would help us get it fixed. Can you tell if it's caused by code in a gcc system header? It's trying to parse a macro and it's hitting some unexpected condition.

[2019-10-22 18:36] sean-mcmanus commented on #2939
This bug was fixed with 0.26.0. Let us know if anyone is still hitting it.

Our next release will have some other fixes involving an incorrect "expression must have a constant value" in other scenarios (see https://developercommunity.visualstudio.com/content/problem/280487/constexpr-constructor-with-initializer-list.html ).

[2019-10-22 18:36] #2939 closed, assigned to nobody

[2019-10-22 18:40] sean-mcmanus commented on #4478
Actually, the crash is a top hitter for Visual Studio itself on Windows, so maybe they'll be able to fix it (not sure yet).

[2019-10-22 19:00] sean-mcmanus commented on #4476
We register our rename provider at https://github.com/microsoft/vscode-cpptools/blob/release/Extension/src/LanguageServer/client.ts and our settings are at https://github.com/microsoft/vscode-cpptools/blob/release/Extension/package.json if anyone wants to contribute a pull request for this (or other "disable" settings).

[2019-10-22 19:10] travisdowns commented on #1800
The [solution mentioned](https://github.com/Microsoft/vscode-cpptools/issues/1800#issuecomment-492132766) by @hlide worked for me.

[2019-10-22 19:32] sean-mcmanus opened #4479 "Outline/breadcrumbs takes > 30 seconds"
By the way, I just noticed that the command focusAndSelect is not quite the same as Navigate. The advantage of Navigate is: At least on my machine focusAndSelect needs quite some time until all information is read so that I can jump to a certain location in the file (currently it takes > 30 seconds), whereas Navigate was available nearly instantly. I'm not sure how this was implemented, but I real

[2019-10-22 19:32] sean-mcmanus commented on #4469
I think this was the only removed command.

I've filed a new issue.

[2019-10-22 19:33] sean-mcmanus commented on #4479
@hensz Can you provide more info on what is taking 30 seconds? What do you see during this time? Is this the time for the Outline/breadcrumbs to populate? We haven't seen this type of slowness before. Does your file have a lot of lines or symbols or something else unusual?

The Outline/breadcrumb view added ranges and nesting structure which takes longer to compute.

[2019-10-22 19:40] bobbrow commented on #4479
With a machine as powerful as yours, this is definitely not expected.  focusAndSelect is pretty snappy on my more modest 8 core machine.  "Go to symbol in file" has known performance problems, but I don't believe it is the data source for focusAndSelect.  I expect focusAndSelect to be using the data already present in the Outline view as the data source.

Have you taken a performance trace of VS C

[2019-10-22 19:49] sean-mcmanus commented on #4408
The call stack shows our IntelliSense process is parsing template code. Are you able to isolate which template code is causing the problem and provide a code sample? Do you know if the template code is from compiler library code? Does this slowness repro in other TUs without templates?

[2019-10-22 19:53] sean-mcmanus commented on #1035
@la10736 Our parser code is not open source.

[2019-10-22 20:24] tombenes commented on #4408
Quick info I can provide now is that pretty big part of code is templated, because we are using boost visitors. Also, it slows down even more, when file containing gtest dependencies is opened. Something strange is happening then - all cpptools processes are using only about 1% of cpu, while there is always one using up to 100% while parsing other files.
(More specific info tomorrow, as I can't ac

[2019-10-22 21:11] la10736 commented on #1035
Ok, fine!

[2019-10-22 22:16] sean-mcmanus commented on #4464
We got a repro after changing the display language (investigating a fix).

[2019-10-22 22:39] sean-mcmanus commented on #4464
Using "Configure Display Language" to switch to "en" is a workaround, but we found the cause of the bug and should have a fix soon (the release might not be till Thursday though due to other fixes we're working on).

UPDATE: PR at https://github.com/microsoft/vscode-cpptools/pull/4480 .

[2019-10-22 22:55] EthanG45 commented on #3829
@JamesBlandford I only briefly was setting up the configuration for it last night, and it seems promising.

[2019-10-23 02:10] sean-mcmanus opened #4481 ""build and debug active file" string is not localized"
Along with "build active file". It looks like it's possible to localize the strings and the code should still work...an extra task gets created if the name doesn't match (i.e. after a language change), but that seems okay, same as if the user manually renamed the task.

[2019-10-23 02:12] sean-mcmanus opened #4482 "Snippet strings are not localized"
Change the display language, and then invoke autocomplete. The various strings shown in completion/snippet results from the engine are not translated.

[2019-10-23 10:51] thpica commented on #4478
Thanks @sean-mcmanus for the quick response.
I tried to narrow it down but I end up in a dead end.
I cannot disclose the source I am working on, but all the macros I use in the section crashing Intellisense come from the following library: https://github.com/msgpack/msgpack-c.
Most notably it vendors https://github.com/boostorg/preprocessor.

[2019-10-23 10:59] chfanghr commented on #4464
I didn't reproduce this on Ubuntu 19.10.
![Screenshot_20191023_184506](https://user-images.githubusercontent.com/40087668/67386256-2f28a280-f5c7-11e9-99eb-75b2d4123166.jpeg)
![Screenshot_20191023_185343](https://user-images.githubusercontent.com/40087668/67386258-2f28a280-f5c7-11e9-8182-8d244a84d53c.jpeg)

[2019-10-23 11:26] escape0707 opened #4483 "Using statement won't get autocomplete if on the last line"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.18362 & Linux x64 5.3.7-arch1-1-ARCH
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0

When coding on a new `.cpp` file in a empty workspace withour `.vscode` folder and settings, the using statement won't always get appropriate autocomplete when it's on the last line. (...Maybe? Anyway append a space

[2019-10-23 11:48] theunwisewolf commented on #3981
@sean-mcmanus It stops working randomly. What happened was I was working on my project (which uses this extension + the vector-of-bool.cmake one), everything was working fine. Suddenly I noticed that I could no longer Cmd + Click to go to definitions or open header files. Doing a right-click on any function or a header file and then on "Go to definition" gave me the error "No definition found" (Fo

[2019-10-23 13:50] hensz commented on #4479
My experience is like this:
I open a cpp file. Then the breadcrumb bar displays the path, split up into its pieces. If I run the command focusAndSelect now I can select one of the files in the current folder. When I wait a couple of seconds (the ~30 seconds I initially wrote) the breadcrumb bar changes into path plus '...'. Now I can run the command and actually navigate to other parts of the file

[2019-10-23 17:57] #1527 closed, assigned to pieandcakes

[2019-10-23 20:18] amansheaven commented on #3829
I tried running C++ Compiler with CodeLLDB extension, it worked although I couldn't workout with the arguments. I have attached my tasks.json & launch.json in the post! it might help you out

tasks.json

`
{
    "version": "2.0.0",
    "tasks": [
      {
        "label": "clang++ build active file",
        "type": "shell",
        "command": "clang++",
        "args": [
          "${fileBasename}

[2019-10-23 21:13] Feresey opened #4484 "Wrong type definition"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Arch Linux x86_64
- VS Code Version:  1.39.2
- C/C++ Extension Version: 0.26.0

**To Reproduce**

highlight a variable of this type or type name

**Expected behavior**
size_t = unsigned long

**Screenshots**

![image](https://user-images.githubusercontent.com/33696249/67433969-d4f10700-f5f1-11e9-82ff-bb9f7c4147f0.png)

Version 0.25.

[2019-10-23 21:34] Feresey opened #4485 "Error initializing debug configurations"
Type: Debugger

**Describe the bug**
- OS and Version: Arch Linux x86_64
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0
- Other extensions you installed (and if the issue persists after disabling them): Russian Language Pack for Visual Studio Code

Debug does not started)
The extension displays the following message:

(filesystem is writable)
No new entries appear in the extension log

[2019-10-23 21:43] #4485 closed, assigned to nobody

[2019-10-23 21:43] Feresey commented on #4485
sorry of duplicate

[2019-10-24 03:59] ruokid commented on #3829
我也碰到了这个问题，安装了CodeLLDB也不行，运行后直接打印了，并没有命中断点

版本 10.15
没有安装 XCode
VSCode版本: 1.39.2

![531627AD-8AB0-48FE-A745-CB86539399FB](https://user-images.githubusercontent.com/22818757/67452256-339b9c80-f655-11e9-95b8-15c8582da3a3.png)

[2019-10-24 05:31] boardkeystown commented on #429
Please add ARM support for raspberry pi 2 and 3. Thank you ❤

[2019-10-24 06:00] abowloflrf commented on #3829
@cxstdio

 **`launch.json`**
[code]

[2019-10-24 06:06] ruokid commented on #3829
非常感谢，可以了

[2019-10-24 08:27] nurp commented on #1777
I keep seeing these warning popping up one above another and it is so distracting.
I have a very big project open (android source code) but not all projects have Makelist.txt so compile_commands is not generated for a certain project. I didn't have these errors before.
Would be great to have a way to ignore it and never see again.

[2019-10-24 14:46] xdubx commented on #4464
have same problem on ububtu 18.1

[2019-10-24 15:00] robot527 commented on #16
I'll also appreciate this feature.

[2019-10-24 15:39] amansheaven commented on #3829
is is solved? 🧐

[2019-10-24 20:34] penagos opened #4487 "GDB settings not honored per debug session"
**Type: Debugger**

**Describe the bug**
OS and Version: Debian 9 x86_64
VS Code Version: 1.39.2
C/C++ Extension Version: 0.26.0
GDB Version: 8.3.1

**To Reproduce**
Create a simple hello world program and two distinct debug configurations, both of which target the same executable. Launch both sessions concurrently where in session 1 you issue `-exec set auto-solib-add off` and in the other you is

[2019-10-24 20:51] Kalivix opened #4488 "Windows 10 VS code debugger for C++ not stopping for anything"
Type: Debugger

**Describe the bug**
Windows 10 Version	10.0.18362 Build 18362

 VS Code Version: 1.93.2
- C/C++ Extension Version: 0.26.0:
- Other extensions you installed: Non
- When running the debugger is doesn't matter what breakpoints I put in it and no information ever appears in the debug side panels.

**To Reproduce**
I downloaded MinGW64 and placed it in the C drive, changed the PATH to

[2019-10-24 22:14] sizeCPP opened #4489 "C/C++: Configuration Edit (UI) not found"
I got an error on vscode when i look for the C/C++ ConfigurationEditUi an error occures

_Version: 1.39.2 (user setup)
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:35:18.241Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362_

[2019-10-24 23:18] Colengms commented on #4489
Hi @sizeCPP .  Can you provide more information?  I can't repro by executing the command on the command palette.

Are you using the command palette to execute the command, or executing it programmatically?  If the command is offered on the command palette, it's unclear to me why it could not be found.  The C/C++ extension should always be registering that command.  You might try reinstalling the e

[2019-10-25 01:53] Nimamoh commented on #1184
@sean-mcmanus any chance to see the fix come back one day?

[2019-10-25 07:04] Lennon925 opened #4490 "Any plan to improve the speed of "Find all references"?"
As I known, the speed of "ccls" and "clangd" is fast.

[2019-10-25 08:29] ghost commented on #3298
I am facing the same problem.
@pieandcakes
What if the command `history -c` is executed each time after integrated terminal debug operation is finished in order to clear the current command entered in the current terminal session?

I think it a feasible way to do so...

![Screenshot from 2019-10-25 16-33-22](https://user-images.githubusercontent.com/34411102/67556143-35dd2400-f745-11e9-8ac7-519c2d

[2019-10-25 10:38] astinaam commented on #2376
Setting "targetArchitecture": "x86_64" in launch.json doesn't work?

[2019-10-25 11:21] sizeCPP commented on #4489
Hey, @Colengms i wanted to **open** the  `C/C++ IntelliSenseConfigurations`
 wich should start after i search  `Edit Configurations (UI`) in the **command palette** but when i try to run it, it shows me that **it can't be found**.  Edit: Other Extensions work fine (i tested 3 different)

[2019-10-25 11:48] junessi commented on #4470
Neither database nor flame icon was being shown. The is no symbol link in my directory. I reduced my project to one cpp file which has only 6 lines and was running with one core 100% usage, after I closed vscode, the extension was still running with one core 100% for infinite time, some time later even with two cores(both were running with 100% usage). I attached the process with gdb and saw the f

[2019-10-25 13:55] ytimenkov commented on #4414
It's unclear whether this is fixed or not? Because cpptools 0.26.0 can't ~couple~ cope (on-screen keyboard :|) with ranges 0.9.1...

[2019-10-25 14:05] tayloryoeuth opened #4491 "Error message saying "unused parameter" for "int main(int argc, char* argv[])""
Type: Debugger

Hello I currently have the C/C++ plug in and I am getting an error message that prevents me from running my code. It states I have unused parameters "argc" and "argv" for my "int main(int argc, char* argv[])" . I am currently running VS Code on a Macbook as well.
<img width="761" alt="Screen Shot 2019-10-25 at 10 05 26 AM" src="https://user-images.githubusercontent.com/57007054/675

[2019-10-25 15:03] infalmo commented on #3298
That would clear the entire command history, which is not intended.

[2019-10-25 16:22] smuroff commented on #4444
@sean-mcmanus, I had the same issue which @Logonz described.
Everything works fine after I'd open **_Command Palette_** and ran **_C/C++: Reset IntellSense Database_**.

@sean-mcmanus thank you!

[2019-10-25 16:58] ghost commented on #3298
@infixint943
No, `history -c` does clear the entire command history, but only the current bash session (that is, everything that is still only in memory and not yet written to disk). Therefore, it does not affect the bash_history file.

It only clears the debug commands in the integrated terminal, which is what we want. In addition, it does not affect other currently open terminal bash sessions, s

[2019-10-25 17:16] michelleangela commented on #4489
@sizeCPP , can you provide detailed reproducible steps that includes whether you opened a workspace folder or opened a *.cpp file, or any other steps you did?

[2019-10-25 17:17] Colengms commented on #4489
Hi @sizeCPP ,

I understand that you are selecting this command from the command palette and it's simply not working.  Since this is not repro'ing for everyone, there may be something specific about your environment that we need to determine to investigate and address the issue.

* Does uninstalling and reinstalling the C/C++ extension correct the issue?

* You mentioned that 'other extensions' wo

[2019-10-25 17:22] Colengms commented on #4491
Hi @tbycodes .  The C/C++ Extension for VS Code provides language services such as IntelliSense.  It does not provide compile and build support.  Is there another extension you are using that is providing the "C/C++ Compile Run" output in your snapshot?

The output you referred to appear to be compiler warnings, not errors.  I would expect warnings would not prevent you from successfully compiling

[2019-10-25 17:33] sevi1603 commented on #4464
I installed VSCode today which came in English by default. Still had this problem though. Setting the language to en again as described by sean-mcmanus fixed the problem for me.

[2019-10-25 17:38] Colengms commented on #4064
Hi @qian2501 .  Are you still seeing this issue?

Is heap corruption occurring in the extension process, or is it occurring in the process you are debugging?

[2019-10-25 17:46] Colengms commented on #4163
Hi @igormcoelho .  It looks like this issue is regarding the C# Extension for VS Code, not the C++ Extension for VS Code.  Is that correct?  If so, I'd suggest opening the issue here: https://github.com/OmniSharp/omnisharp-vscode/issues

[2019-10-25 17:47] michelleangela commented on #4490
Duplicating this to https://github.com/microsoft/vscode-cpptools/issues/4051

[2019-10-25 17:47] #4490 closed, assigned to nobody

[2019-10-25 17:47] #4163 closed, assigned to nobody

[2019-10-25 17:49] Colengms commented on #4464
Hi @sevi1603 .  I suspect the issue with detecting the current language should be addressed by https://github.com/microsoft/vscode-cpptools/pull/4474 , which will also be in the next release.

[2019-10-25 17:55] Colengms commented on #4381
Note: The action needed here for cpptools is to upgrade to newer versions of dependencies as they address the issue.

[2019-10-25 18:02] pieandcakes commented on #4348
`solib` is the gnu term for shared library

[2019-10-25 18:03] pieandcakes commented on #4349
yes, that is correct. `lib` = `library`

[2019-10-25 18:03] #4349 closed, assigned to pieandcakes

[2019-10-25 19:33] hensz commented on #4479
Hi @sean-mcmanus!

The files are not that large. However, the entire code base is rather large. But since it worked fine before with Navigate (and also other IntelliSense features) I doubt that the size is an issue here.

btw, today I noticed something: Most of the time I'm working with Remote Development. Now when I open a file with the Go to File command I see lots of files twice: One with a rel

[2019-10-25 19:39] hensz commented on #4479
I just recorded the performance trace while I opened a file that previously worked fast with focusAndSelect as stated in the previous command. Now it takes much longer again. I recorded about 30 seconds, and the breadcrumb showed no "..." symbol - in fact, even now, several minutes later VS Code is still displaying the progress indicator in the outline.

[2019-10-25 19:40] hensz commented on #4479
[Profile-20191025T213855.zip](https://github.com/microsoft/vscode-cpptools/files/3773537/Profile-20191025T213855.zip)

[2019-10-25 19:52] Colengms commented on #1035
This repro's in VS.  (We share common IntelliSense components with VS).  I opened a bug against VS here: https://developercommunity.visualstudio.com/content/problem/794903/intellisense-in-gcc-mode-does-not-recognize-nested.html

[2019-10-25 20:33] sizeCPP commented on #4489
Thanks for the replies.
My displayed language on vscode was C++ and i tried  all the C/C++ commands all worked fine.
I deinstalled all the extensions that include c/c++ and reinstalled only the one i really need thats the C/C++ extension by microsoft and it worked. I guess some of the extensions didnt work together.|

[2019-10-25 20:33] #4489 closed, assigned to nobody

[2019-10-25 21:29] moojek opened #4494 "Formater does works in one folder while does not in another"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Manjaro Linux, kernel: 5.0.1-MANJARO
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0
- Other extensions you installed (and if the issue persists after disabling them): Bracket Pair Colorizer, Discord Presence, HTML Preview, LaTeX Workshop, Material Icon Theme, Noctis, Power Mode, Todo Tree, vscode-pdf
- A clear and conci

[2019-10-25 22:14] e13h commented on #3278
@pieandcakes
I am having a similar problem but I am definitely using the `-g` flag. Here is my code and logs.

my configuration:
macOS 10.15 Catalina
VS Code 1.39.2

The problem I am having is that I can't get the debugger to stop at a breakpoint. Here is a screen recording for a simple walkthrough of what I am seeing.

![ezgif-5-90a20d78794b](https://user-images.githubusercontent.com/12199891/676

[2019-10-25 22:20] sean-mcmanus commented on #4494
Are you using a multi-root workspace? If so, I believe this is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/2107 and will get fixed after we re-write our extension to have a single language server per-workspace with one format provider and document handler.

[2019-10-25 22:23] pieandcakes commented on #4488
can you tell me where you set the breakpoint and an engine log?

[2019-10-25 22:23] sean-mcmanus commented on #4491
Yeah, you can also try adding -Wno-unused-parameter to your build command line.

[2019-10-25 22:27] #2523 closed, assigned to nobody

[2019-10-25 22:38] Colengms commented on #4484
Hi @Feresey , I think I misunderstood your issue in my previous reply.

It looks like you're seeing a difference between versions of the C//C++ Extension.  In the latest version, it's identifying size_t as an unsigned int, and in a previous version it was correctly identified as an unsigned long.  Is that correct?

I don't believe we do anything special in the C/C++ Extension regarding size_t.  We

[2019-10-25 23:30] bobbrow opened #4496 "Fix unreliable integration tests"
The integration tests are failing and blocking PRs periodically.  We need to investigate and fix the problem.

[2019-10-25 23:44] TomerShech commented on #3271
THANKS

[2019-10-26 01:51] sean-mcmanus commented on #4478
Our code uses msgpack-c, but I wasn't able to repro any crash with 2.1.1 or 3.2 on Windows or Linux and we use a bunch of MSGPACK macros. It's possible msgpack needs to be configured with certain defines or certain include files need to be used or the msgpack macros need to be used in specific way.

[2019-10-26 02:23] sean-mcmanus commented on #1777
@nurp You didn't have these errors before what? We haven't changed this behavior in a long time. One potential workaround is to multiple workspace folders. Would an option to "don't show again" be good or did you have another solution?

[2019-10-26 02:32] sean-mcmanus commented on #1184
@Nimamoh Yeah, my PR still exists on the server-side -- if anyone wants to submit a PR on the TypeScript side to add some methodCompletion setting that would help. We've been pretty busy with higher priority stuff...not sure when our schedule would free up more to finish this.

[2019-10-26 02:40] sean-mcmanus commented on #4470
The call stack shown is waiting for another thread to complete. Can you provide the call stack of the thread that is actually doing work?

Do you know what is triggering the shutdown? Are these dangling processes from a previous shutdown or do they appear again after opening the folder? Can you kill the processes?

[2019-10-26 02:42] sean-mcmanus commented on #4414
"can't couple"? Do you mean you get squiggle errors?

[2019-10-26 05:51] ytimenkov commented on #4414
It works like a charm in general, but I've added a simple call to views::trabsform and when I open the file this happens:
1. IntelliSense process takes 100% cpu
2. Hovering on things just shows "loading"
3. Autoformatting does nothing.

I think at first I got squiggles under `view::` and `|` complaining "no candidate for some brace-initialized thing" and symptoms above. Then I killed LS process an

[2019-10-26 15:07] reservoirinvest commented on #4488
I am having a similar issue as @Kalivix.

Followed steps outlined in [Get Started with C++..](https://code.visualstudio.com/docs/cpp/config-mingw)

[code]

[code]

[code]

[code]

The debugger keeps looping without any errors, but does not give any `VARIABLE` output.

Tried in two Windows 10 machines. Also tried changing compiler to [MingGW](https://nuwen.net/mingw.html). Have the same issue.

[2019-10-26 15:37] Stormwaker opened #4501 "Cannot find definition"
OS and Version: macOS 10.15
VS Code Version: 1.39.2
C/C++ Extension Version: 0.2.2

After choosing "Go to Definition" I'm met with "No definition found", even though definition for that struct is in the same file and IDE like CLion doesn't have an issue with finding that definition.

[2019-10-26 15:58] moojek commented on #4494
Do you mean one workspace with few folders? Yes, I am. Sorry for dupliacte, I couldn't found the issue anywhere. When could it possibly work again?

[2019-10-26 21:11] Shadowblitz16 commented on #407
+1 I have OCD and cannot stand to program with visual studio code right now.
code folding should act the same as it does in visual studio 2019 `void function() { ... }`

[2019-10-27 07:56] aws-haoyuli commented on #3829
Hi do you know why cppdbg can't work here? According to the documentation(https://code.visualstudio.com/docs/cpp/launch-json-reference), cppdbg should be used here. Also, I found the program can't print along with debugging process with this configuration. Thanks!

[2019-10-27 08:22] abowloflrf commented on #3829
because the bug with official extension still exist, the config change is only to use another extension (CodeLLDB) instead

[2019-10-27 09:01] tdjastrzebski commented on #3978
@michelleangela I ended up developing my own build tool. See **Build++** VS Code extension. It can read setting from **c_cpp_properties** file but it does not have to.
Extension builds task for every available configuration.
It still would be very nice to be able to read the current selected configuration.

[2019-10-27 09:36] wgqimut commented on #4452
@sean-mcmanus  Finally, I figure out the failed reason, the parser can't parse `list_for_each_entry_safe` macro, the macro definition is in the `list.h`:
[code]
when I add  a cpp.hint file, and fill the `#define list_for_each_entry_safe` in this file, my missing symbol then can be found when I "go to symbol in a file".

**BTW**, when I add cpp.hint file and reset intellisense database, I have to r

[2019-10-27 11:49] Feresey commented on #4484
[0.25.1.log](https://github.com/microsoft/vscode-cpptools/files/3775791/0.25.1.log)
[0.25.1.diagnostics.log](https://github.com/microsoft/vscode-cpptools/files/3775799/0.25.1.diagnostics.log)

[0.26.0.log](https://github.com/microsoft/vscode-cpptools/files/3775792/0.26.0.log)
[0.26.0.diagnostics.log](https://github.com/microsoft/vscode-cpptools/files/3775800/0.26.0.diagnostics.log)

**test file:**

[2019-10-27 11:56] Feresey commented on #4484
![image](https://user-images.githubusercontent.com/33696249/67634193-ba58af80-f8c9-11e9-8c3f-5412f6a3168d.png)

oh yes, I see the reason.
I don’t even know why the default version of gcc-x86 was chosen instead of gcc-x64.
Anyway thanks for the help!

[2019-10-27 13:46] EmbeddedBacon commented on #4271
When use VS Code and the remote extension to edit on a Raspberry Pi (v3 in this case) I see the error:

Architecture arm is not supported.
Source: C/C++ (Extension)

This is the issue tracking this feature, correct?

[2019-10-28 04:42] zhang456xi commented on #2460
But the errors still exists for a GCC item.
![image](https://user-images.githubusercontent.com/24366039/67652483-167e0b00-f980-11e9-8e5b-76a2ae039c7f.png)
namespace std
{
  typedef long unsigned int size_t;
  typedef long int ptrdiff_t;
  typedef decltype(nullptr) nullptr_t;
}
defined by /usr/include/x86_64-linux-gnu/c++/7/bits/c++config.h

[2019-10-28 07:46] jclydepng opened #4502 "Task not found"
Type: Debugger

I followed all the instructions properly but when I started to debug, it keeps on saying "Could not find the task 'C:/mingw/bin/g++.exe'"

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Plea

[2019-10-28 07:56] nurp commented on #1777
@sean-mcmanus , there is no "don't show again" option. The only option is "manage extension" and it opens the page for C/C++ ms-vscode.cpptools.
So I can't make it ignore it. But I removed the compile_commands.json from sub project folder and restarted vscode. Seems that restart was also required to get rid of the warning.

[2019-10-28 13:49] junessi commented on #4470
I can kill the process with `kill -9 PID`. It is not from previous shutdown, because every time I killed all cpptools ext processes then started new analysis, and using `kill -9` is the only way to shut it down. After debugging the the thread which runs for ever, I found the following callstack:
[code]
this thread keeps looping from line 517 to 531 in file memmove-vec-unaligned-erms.S, it seems ge

[2019-10-28 15:59] bobbrow commented on #4484
We're glad you were able to resolve this!

[2019-10-28 15:59] #4484 closed, assigned to nobody

[2019-10-28 17:10] hctim opened #4503 "constructor function attribute takes arguments - but IntelliSense marks as error."
**Type: LanguageService**
**Describe the bug**
- OS and Version: Ubuntu (private build)
- VS Code Version: `ms-vscode.cpptools`
- C/C++ Extension Version: `Version 0.26.0: October 15, 2019`
- Other extensions you installed (and if the issue persists after disabling them): N/A
- A clear and concise description of what the bug is.

The [constructor function attribute](https://gcc.gnu.org/onlinedocs/

[2019-10-28 17:30] michelleangela commented on #4501
@Stormwaker , the current latest version of C/C++ extension by Microsoft is 0.26.0. You specified **version 0.2.2**, did you mean 0.26.0 or are referring to a different extension?

If you're using the C/C++ extension by Microsoft, can you run the command `C/C++: Log Diagnostics` and share the log?

[2019-10-28 18:31] Colengms opened #4504 "Rename UI fails to rename symbols after the document cursor moves in VS Code 1.40.0-insiders"
This is related to:
https://github.com/Microsoft/vscode/issues/82146
https://github.com/microsoft/vscode/issues/83459

In VS Code 1.40.0-insiders, Rename operations that require disambiguation (display rename UI due to unconfirmed references found) will likely fail to apply. We are working with the VS Code to identify the proper solution.

[2019-10-28 19:26] sean-mcmanus commented on #4503
Thanks for reporting this. I've filed a bug on VS at https://developercommunity.visualstudio.com/content/problem/796872/cc-intellisense-in-gccclang-mode-shows-attribute-c.html .

[2019-10-28 20:56] michelleangela commented on #4464
Fixed in 0.26.1

[2019-10-28 20:56] #4464 closed, assigned to nobody

[2019-10-28 20:57] michelleangela commented on #1527
Fixed in 0.26.1

[2019-10-28 20:58] michelleangela commented on #4422
Change set included in 0.26.1

[2019-10-28 22:04] pieandcakes commented on #4488
@Kalivix  What version of the MinGW toolset are you using? Do you know how you got the one in WindowsApp ? can you remove that from your path and try again?

@reservoirinvest can either of you check and see what is in your `Debug Console` window? Any errors from `gdb` will be displayed there.

I suspect it isn't able to actually run the program because `mingw`'s `/bin` folder isn't in your Windows

[2019-10-28 22:04] sean-mcmanus commented on #4479
It looks like the database is being built still, which might cause database access to be slower. What does it show when you hover over the database icon in the status bar? Also, does it show "tag parsing" messages when you enable debug logging (https://code.visualstudio.com/docs/cpp/enable-logging-cpp)? Using the "Pause Parsing" command might help. If your database or workspace is too large (lots

[2019-10-28 22:08] pieandcakes commented on #4502
@jclydepng Based on the information you provided, it sounds like you have a `preLaunchTask` in your `launch.json` pointed to `C:/mingw/bin/g++.exe` but you don't have a corresponding task named that in your `tasks.json`.

[2019-10-28 22:10] pieandcakes commented on #4487
@penagos Each session should launch its own instance of `OpenDebugAD7` which in turn launches `MIEngine`. The configuration provided in `launch.json` is passed by the VS Code debug protocol. If you have specified an override, make sure its in both launch blocks. If you can provide the `launch.json` for this scenario and an `engineLog` that would help .

Also, does this happen with two concurrent `

[2019-10-28 22:14] pieandcakes commented on #4467
We have feature requests outstanding feature requests for them. please upvote the corresponding item. You can add `label:debugger` and `label:"Feature Request"` to your search terms to find them.

As this is an open source project, we welcome contributions from the community if people want to see a feature we haven't implemented yet.

[2019-10-28 22:16] #4467 closed, assigned to nobody

[2019-10-28 22:17] #491 closed, assigned to pieandcakes

[2019-10-28 22:18] pieandcakes commented on #479
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:18] #479 closed, assigned to pieandcakes

[2019-10-28 22:19] #466 closed, assigned to pieandcakes

[2019-10-28 22:20] #102 closed, assigned to nobody

[2019-10-28 22:23] #501 closed, assigned to nobody

[2019-10-28 22:26] pieandcakes commented on #730
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:26] #730 closed, assigned to nobody

[2019-10-28 22:26] sean-mcmanus commented on #4414
Yeah, if you could provide a preprocessed repro file that would help us.

[2019-10-28 22:26] pieandcakes commented on #967
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:26] #967 closed, assigned to nobody

[2019-10-28 22:26] pieandcakes commented on #919
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:26] #919 closed, assigned to nobody

[2019-10-28 22:27] sean-mcmanus commented on #4494
We're planning to have it fixed for 0.26.2.

[2019-10-28 22:27] #861 closed, assigned to nobody

[2019-10-28 22:28] pieandcakes commented on #1104
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:28] #1104 closed, assigned to pieandcakes

[2019-10-28 22:29] pieandcakes commented on #1078
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:29] #1078 closed, assigned to pieandcakes

[2019-10-28 22:31] pieandcakes commented on #1633
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:31] #1633 closed, assigned to nobody

[2019-10-28 22:31] pieandcakes commented on #1601
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:31] #1601 closed, assigned to nobody

[2019-10-28 22:33] pieandcakes commented on #1385
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:33] #1385 closed, assigned to pieandcakes

[2019-10-28 22:36] pieandcakes commented on #1930
This is a MinGW gdb 8.1 issue and not something within our control as the extension.

[2019-10-28 22:36] #1930 closed, assigned to pieandcakes

[2019-10-28 22:37] pieandcakes commented on #2449
This isn't going to be something we can fix.

[2019-10-28 22:37] #2449 closed, assigned to nobody

[2019-10-28 22:37] sean-mcmanus commented on #4452
My guess is the Reload Window is required because of caching of the cpp.hint (I see a 10 second cache, but maybe it could be cached for longer). Your or I could file a separate issue to investigate that if you want.

[2019-10-28 22:38] #4452 closed, assigned to nobody

[2019-10-28 22:38] pieandcakes commented on #2244
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:38] #2244 closed, assigned to WardenGnaw

[2019-10-28 22:39] pieandcakes commented on #2652
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:39] #2652 closed, assigned to pieandcakes

[2019-10-28 22:40] pieandcakes commented on #2645
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:40] #2645 closed, assigned to pieandcakes

[2019-10-28 22:40] sean-mcmanus commented on #4271
Running on ARM is being tracked by https://github.com/microsoft/vscode-cpptools/issues/429 and https://github.com/microsoft/vscode-cpptools/issues/2506. This issue is related, but would repro even on a non-ARM machine that was targeting ARM.

[2019-10-28 22:40] pieandcakes commented on #2568
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:40] #2568 closed, assigned to pieandcakes

[2019-10-28 22:43] pieandcakes commented on #2778
@Stiffjobs for some reason, gdb does not like Chinese characters in its file paths. Please rename the working directory or change the `cwd` setting in your `launch.json` to a path without those characters.

[2019-10-28 22:43] #2778 closed, assigned to pieandcakes

[2019-10-28 22:47] pieandcakes commented on #941
Duplicate of #206 (assembly) and #509 (memory)

[2019-10-28 22:47] #941 closed, assigned to nobody

[2019-10-28 22:48] pieandcakes commented on #4467
#206 for Disassembly
#509 for memory view

[2019-10-28 22:50] pieandcakes commented on #2962
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:50] #2962 closed, assigned to WardenGnaw

[2019-10-28 22:50] pieandcakes commented on #2889
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:50] #2889 closed, assigned to pieandcakes

[2019-10-28 22:51] pieandcakes commented on #3304
Thank you for reporting an issue. We do not have enough information at this time to act upon this issue. Please try our latest version and if it is still occuring, provide more information including configurations, logs and version information and reopen this issue.

[2019-10-28 22:51] #3304 closed, assigned to pieandcakes

[2019-10-28 22:52] sean-mcmanus commented on #4504
It only repros after the document cursor moves (although clicking the leaf reference in the tree view will trigger the cursor change as well).

[2019-10-28 22:55] EmbeddedBacon commented on #4271
@Thanks, Mr. @sean-mcmanus .   I will make sure to watch these two other threads.  Thanks!

[2019-10-28 23:10] sean-mcmanus commented on #2460
@zhang456xi I'm not able to repro the issue (your headers might be different)? I see a global size_t defined at `/7/include/stddef.h`. Are you using Go to Def on size_t?

[2019-10-28 23:13] sean-mcmanus commented on #1777
@nurp Yeah, I was suggesting we could add a "don't show again" option to the notification.

[2019-10-28 23:55] sean-mcmanus commented on #4470
This is a regression compared to 0.25.1, right? The getDocumentSymbol got changed with new code to handle nested scopes in the outline view. Unfortunately, the call stack doesn't show the line numbers so we're not sure where the memmove is being attempted.

This code gets run when a document opens and the problem should be specific to a particular document's text, i.e. it doesn't repro with a simp

[2019-10-29 00:09] zhang456xi commented on #2460
![image](https://user-images.githubusercontent.com/24366039/67726183-fe5dc880-fa1f-11e9-8844-08247807641f.png)
Go to Def shows 'size_t' defined in `/usr/lib/gcc/x86_64-linux-gun/7/include/stddef.h` in line 216 'typedef \_\_SIZE_TYPE\_\_ size_t', and '\_\_SIZE_TYPE\_\_' defined in line 213 '#define \_\_SIZE_TYPE\_\_ long unsigned int'.
Log Diagnostics shows item have included path:  '/usr/lib/gcc/x

[2019-10-29 00:50] wgqimut commented on #4452
Why the tag parser can’t parse list_for_each_entry_safe? It can parse the other macro in the list.h, why not this one

[2019-10-29 01:27] sean-mcmanus opened #4505 "No error squiggles appear with VS Code Insiders if "(" or ")" is in the path"
Root cause is a VS Code Insider change...not sure if we need to fix this ourselves yet.

[2019-10-29 01:49] sean-mcmanus commented on #2460
Okay, I repro it now -- I was hitting the VS Code Insiders bug that was breaking error squiggles: https://github.com/microsoft/vscode-cpptools/issues/4505 .

[2019-10-29 01:57] zhang456xi commented on #2460
Thanks

[2019-10-29 02:13] sean-mcmanus opened #4506 "Incorrect IntelliSense error in gcc/clang mode: "first parameter of allocation function must be of type 'size_t'""
But the errors still exists for a GCC item.
![image](https://user-images.githubusercontent.com/24366039/67652483-167e0b00-f980-11e9-8e5b-76a2ae039c7f.png)
namespace std
{
  typedef long unsigned int size_t;
  typedef long int ptrdiff_t;
  typedef decltype(nullptr) nullptr_t;
}
defined by /usr/include/x86_64-linux-gnu/c++/7/bits/c++config.h

_Originally posted by @zhang456xi in https://github.com/m

[2019-10-29 02:17] sean-mcmanus commented on #4506
@zhang456xi Thanks for reporting this. I've filed a VS bug at https://developercommunity.visualstudio.com/content/problem/797098/cc-intellisense-with-gccclang-mode-reports-incorre.html .

[2019-10-29 02:18] sean-mcmanus commented on #4506
Actually, the original issue seems to be the same bug, so I'll close this.

[2019-10-29 02:18] #4506 closed, assigned to nobody

[2019-10-29 02:19] sean-mcmanus commented on #2460
I've filed a VS bug at https://developercommunity.visualstudio.com/content/problem/797098/cc-intellisense-with-gccclang-mode-reports-incorre.html .

The original issue was from a year ago -- not sure if this is the same issue or a recent regression.

[2019-10-29 02:30] sean-mcmanus commented on #4452
You mean why can't it parse it without the cpp.hint? It's because the tag parser doesn't not evaluate macros; therefore, any macros that require expansion in order to parse correctly will fail to parse without the cpp.hint.

[2019-10-29 02:32] sean-mcmanus commented on #4381
@Colengms Do you know which dependencies?

[2019-10-29 02:32] neoyong opened #4507 "The clang-format version currentlly not support key words 'AlignConsecutiveMacros'"
My file '_clang-format' include a keyword 'AlignConsecutiveMacros' . When I use the 'Alt+shift+f' to format my c/c++ source file , the output window gives me a error info:
"c:\Users\Administrator\.vscode\extensions\ms-vscode.cpptools-0.26.1/bin/../LLVM/bin/clang-format.exe" -style="file" -fallback-style="LLVM" -assume-filename="f:\****\ext_button.h"
YAML:14:25: error: unknown key 'AlignConsecutive

[2019-10-29 02:33] sean-mcmanus commented on #4381
Looks like yauzl->fd-slicer->pend (maybe).

[2019-10-29 03:03] zhangyafeikimi commented on #4467
So, my question is if there is a plan for these feature?

[2019-10-29 06:59] lsmgeb89 opened #4508 "zombie processes holding a lock on the browse database"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 14.04 LTS
- VS Code Version:
[code]
- C/C++ Extension Version: `Version 0.26.1: October 28, 2019`
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
All "Go to Definition" returns "No definition found for ...".
But if my mouse hovers over th

[2019-10-29 09:48] tuyuwei commented on #2438
hi..
I am similar to his question。
My set a breakpoint!
error message:
Warning: Debuggee TargetArchitecture not detected, assuming x86_64.
=thread-selected,id="1"

[2019-10-29 09:59] tuyuwei commented on #2438
OS and Version: Mac OS Catalina 10.15
VS Code Version: 1.39.2
C/C++ Extension Version: 0.26.1

[2019-10-29 10:51] vakokako opened #4509 "Header autocomplete and header/source switch for "*.cu" "*.cuh" files"
Hi, I'm developing in Cuda right now and just adding `*.cu` and `*.cuh` to `files.associations` in settings works for syntax parsing.
However, when I try to autocomplete `#include <Header.cuh>`, it doesn't show files with `.cuh`/`.cu` extensions.
Also switching between `.cuh`/`.cu` as header/source doesn't work.

Is there any setting that can control this?

[2019-10-29 11:43] duddie commented on #807
Hi, has anyone sorted it out?

[2019-10-29 16:06] janwilmans opened #4510 "Rename (F2) function not working in certain scenarios"
Rename works for a local variable, dubble click on the name, edit the value and press enter.
![image](https://user-images.githubusercontent.com/5933444/67785672-e3b24080-fa6d-11e9-9e5b-407c6700d7d7.png)

Becomes :

![image](https://user-images.githubusercontent.com/5933444/67785696-ef056c00-fa6d-11e9-90a2-6cf6ca7878f4.png)

So far so good.

However, if the variable can't be looked up, like here:

[2019-10-29 17:22] Colengms commented on #4505
@sean-mcmanus , Is the issue that VS Code now encodes all URI's in a new way?  If so, we should encode the same way when converting from path to URI.  Or, is the issue that VS Code is giving us inconsistent encodings for URIs?  The later would seem to be a VS Code bug.

[2019-10-29 17:31] Colengms commented on #4510
Hi @janwilmans .  I believe what you are seeing is that the selected symbol has not been detected by IntelliSense.  Since there are no 'unconfirmed' matches, we do not display the Rename UI.  Instead, we immediately apply the rename.  In this case, we are applying the rename to all 0 of the found references.  We should probably display a message in this case that IntelliSense was unable to detect

[2019-10-29 17:52] michelleangela commented on #4507
Duplicating to issue that's tracking to update clang-format https://github.com/microsoft/vscode-cpptools/issues/2887

[2019-10-29 17:52] #4507 closed, assigned to nobody

[2019-10-29 18:25] sean-mcmanus commented on #4510
Yeah, VS shows "A definition for the symbol 'duck' could not be located."

[2019-10-29 18:26] sketch34 commented on #3815
I can't seem to get the problemMatcher to work for MSVC builds at all. I've tried $msCompile as well as the custom pattern suggested here. The batch file actually calls a python script that uses CMake / Ninja / CL. I don't think those details matter (?) because there is regular old CL output in the terminal amongst all the CMake stuff.

[code]

Example error output that isn't being detected:

[cod

[2019-10-29 18:32] sean-mcmanus commented on #4509
Unfortunately, the types are currently hardcoded. We might need to add some setting to indicate which files are headers versus source files in addition to just files.associations. The switch header source is being tracking with https://github.com/microsoft/vscode-cpptools/issues/3199 , but we can use this issue to track the completion.

It might just be easier to add those types to our hardcoded l

[2019-10-29 18:39] sean-mcmanus commented on #4508
We're not able to repro this and haven't heard of any other users hitting this yet so we need more repro info. What does Find All References show? Does doing a Reset IntelliSense Database fix it? Does hovering over a 0 show (int)0?

[2019-10-29 18:41] sean-mcmanus commented on #4505
From what I saw, the Insiders version encodes URIs differently from the non-Insiders (not 100% if there are inconsistent cases)...but our extension would need to behave correctly for both cases somehow.

[2019-10-29 19:50] sean-mcmanus commented on #3815
@sketch34 I'm not able to repro that bug. Any ideas what is required for the repro? You could try filing a bug with VS Code as well, since we don't ship the "$msCompile" problemMatcher.

[2019-10-29 19:53] janwilmans commented on #4510
Yes, vs2019 shows:
![image](https://user-images.githubusercontent.com/5933444/67803890-33a0ff80-fa8e-11e9-8c23-b621c7087648.png)

when you try to

![image](https://user-images.githubusercontent.com/5933444/67803954-54695500-fa8e-11e9-8580-d29916642f59.png)

doesn't even popup the rename edit box, which makes it at least very clear that nothing is going to be renamed :)

[2019-10-29 20:14] sketch34 commented on #3815
Hmm that's the extent of the setup it I think. Unless there is some issue with how the output is coming via:

.bat script -> python -> cmake/ninja -> cl.exe

And maybe the problemMatcher somehow doesn't see the output.

[2019-10-29 21:25] sarahkittyy commented on #3274
I haven't experienced this in a while and behavior seems ok so i'm just gonna close this ig

[2019-10-29 21:25] #3274 closed, assigned to nobody

[2019-10-29 23:13] sean-mcmanus commented on #4467
@WardenGnaw @pieandcakes It's not on any current schedule, right?

[2019-10-29 23:33] nerdyyatrice commented on #16
Any update on the development milestone of this feature? I just jumped into a code base with 2M+ lines of code.  Using "find all references" alone is not going to carry me to the other end.

[2019-10-29 23:50] sean-mcmanus commented on #16
@nerdyyatrice It's targeted to start investigating post-v1, so we might have more to scheduling details after we ship 1.0 in January.

[2019-10-30 02:43] DCGroothuizenDijkema opened #4512 "Bitwise left shift assignment"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro 1809
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them): Issue persists after all other extensions are disabled.
- A clear and concise description of what the bug is: defining the bitwise leftshfit assignment operator for a clas

[2019-10-30 03:22] SunXuan90 opened #4513 ""Improved Member Function Completion" not working"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windos 10 1903 18362.356
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

In https://devblogs.microsoft.com/cppblog/vs-code-cpp-extension-january-2019-update/ I see that the c/c++ vscod

[2019-10-30 03:35] lsmgeb89 commented on #4508
@sean-mcmanus
Tonight, when I try to reproduce it again by upgrading `0.25.1` to `0.26.1`, the bug disappears.
I am guessing the real problem is zombie `cpptools` processes.

Because in the morning, I saw this error `Unable to add file to database, error = 0x8064000a: /xxx/yyy`. And then I found this issue https://github.com/microsoft/vscode-cpptools/issues/2296.

I did `ps -aux | grep 'cpptools'`

[2019-10-30 07:48] nickaleks opened #4514 "Debugging in VSCode is significantly slower than using command line"
Type: Debugger

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version:
[code]
- C/C++ Extension Version: 0.26.1
- Other Extensions: CMake (syntax highlighting, Clang-Format. Disabling them does not work.

When starting a debugger in VSCode, any action (step over, hitting a breakpoint) takes unreasonable amount of time. Sometimes it causes OS to suggest force quit for a window. I've

[2019-10-30 11:10] 6502 commented on #3565
Tried again MS intellisense for C++ recently but this "design" makes it unusable for me.

Probably is ok for people writing a plethora of tiny functions that do trivial things but dealing with my code now I get gigabytes of leaks per minute just moving around the cursor (I've a problem remembering names thus my code tend to be quite a bit more intricate and nested than what most feel comfortable w

[2019-10-30 12:07] junessi commented on #4470
The tests above were based on 0.26.0. Today I updated my extension to 0.26.1 and reduced my code to one line which still causes the issue:
`my::name::space::interface::ClassA::Number n;`

This line of code is global(not in any namespace nor function). If I remove the `interface` from the line:
`my::name::space::ClassA::Number n;`
Then this issue disappeared.

This behavior is reproducible in linux

[2019-10-30 13:43] darksectordds opened #4515 "IntelliSense could not find dependency from current header"
Hello. For a long time I can not get rid of issue such as

Exactly the same problem exists when include the `algorithm` file.

![dependency of vector not found](https://user-images.githubusercontent.com/11490033/67861996-5be23a00-fb32-11e9-9e73-2f727717f4ba.png)

The full path to algorithm and vector are in

And dependence is contained in

### Visual Studio Code
[code]

### c_cpp_properties.json
[

[2019-10-30 16:49] jonno85uk commented on #3326
I am having to do the same thing as @SilverGekko .
Regularly killing the process.
This is on Ubuntu 18.04 VS-Code-1.39.2

[2019-10-30 16:55] grigorig commented on #4508
I can confirm this: IntelliSense stopped working for me, and it was caused by old cpptools processes idling, even after VSCode stopped. Killing those processes and starting up VSCode again fixed it.

[2019-10-30 17:19] michelleangela commented on #4515
In c_cpp_properties.json, can you try changing the `compilerPath` setting to the path of _g++.exe_ and set `intelliSenseMode` to `gcc-x64`? The language server uses the compiler path to infer the path to the C++ standard library header files. Though since the path to the header files are listed in `includePath`, the language server should have also picked them up. @sean-mcmanus is that correct?

[2019-10-30 17:21] Colengms commented on #4512
Hi @DCGroothuizenDijkema .  There are 2 types of colorization occurring when using the C/C++ Extension: syntactic and semantic.  Syntactic colorization is applied by VS Code itself, based on TextMate grammar for the language.  Language keywords are colored this way.  The C/C++ Extension adds semantic colorization as a layer over syntactic colorization.  Semantic colorization colors user-defined sy

[2019-10-30 17:21] jizhanwang opened #4516 "A strange syntax problem"
![error](https://user-images.githubusercontent.com/45527532/67882178-c91abd00-fb7c-11e9-9a83-7f128c74ca43.png)

[2019-10-30 17:27] Colengms commented on #4516
Hi @SeeYouBesideSky .  Assuming this is a C file (not cpp), I believe you are seeing correct behavior.  Dynamic initialization is not allowed in C.  Using cl.exe, you should get: error C2099: initializer is not a constant.

Let us know if there is additional information to consider.

[2019-10-30 17:30] pieandcakes commented on #4467
@zhangyafeikimi We haven't done any planning of features beyond the next release and these are not features that will be in the next release.

[2019-10-30 17:31] pieandcakes commented on #2438
@tuyuwei please refer to the [tagged Mac OS Catalina issue](https://github.com/microsoft/vscode-cpptools/issues/3829) and comment there.

[2019-10-30 17:43] pieandcakes commented on #4514
The reason it is not the same as command line gdb is because we need significantly more information than you would get when hitting a breakpoint when you stop.

We make requests for:
* stack frames per thread
* stack frame variables
* all variables + children to show up in the watch window

Each of these results in a command sent to gdb and a response. If you want to see what is sent and received,

[2019-10-30 17:43] #4514 closed, assigned to pieandcakes

[2019-10-30 17:47] jeff-hykin commented on #4512
@DCGroothuizenDijkema you can install the [Better C++ Syntax](https://marketplace.visualstudio.com/items?itemName=jeff-hykin.better-cpp-syntax&ssr=false#review-details) to get the fix that was just pushed just now with `v1.14.11`.

Thanks for pointing this out, this is caused by a more general ordering issue that we were unaware of (`<` came before `<<=`). Good news is, its not to hard to fix and

[2019-10-30 17:49] jizhanwang commented on #4516
Thank you, I got it. But when I run it in my IDE , no error occured. So, can I change some setting to block this warning?

[2019-10-30 18:00] nickaleks commented on #4514
Is it possible to somehow limit the number of information which is loaded? Let's say I'm interested in a single thread only, can the stacktraces of other threads be not loaded anyway? The same for the children of the variables. Instead of loading everything in advance, request variable information only when I expand particular object.

I don't know whether it's possible, or even that useful, just

[2019-10-30 18:05] Colengms commented on #4516
Hi @SeeYouBesideSky .  Which compiler are you using?  gcc, clang, cl?  Is the IntelliSenseMode configured to match the compiler?  If the compiler accepts it, and IntelliSense is configured to match that compiler, this would seem to be an IntelliSense bug.

[2019-10-30 18:13] DCGroothuizenDijkema commented on #4512
Brilliant: all fixed. @jeff-hykin and @Colengms, thank you both very much.

[2019-10-30 18:13] #4512 closed, assigned to nobody

[2019-10-30 18:15] pemgithub commented on #3831
I get the error when trying to step into Google ANGLE source code (on Ubuntu in Visual Studio Code).  It prevents debugging.  I am not able to step into code.  When I step lines of code, it just prints the error:

Here is my launch.json:
[code]
![image](https://user-images.githubusercontent.com/13956322/67886525-d006e880-fb06-11e9-8af2-8ead3c58132d.png)

[2019-10-30 18:44] jizhanwang commented on #4516
I‘m using KEIL5, I just write code in VScode and then run them in Keil, I have not set anything, so the IntelliSenseMode is MSVC-64, I checked on the internet, Keil has it's own compiler, (°_°!)  .So this syntax is only abled in Keil. but I still have to say "Thank you so much!!!"

[2019-10-30 18:50] darksectordds commented on #4515
Thanks. It's helped me.

[2019-10-30 19:09] pieandcakes commented on #4514
We get the requests from VS Code for the information which is sent to us using the VS Code Debug Adapter protocol. The problem lies in that each request from VS Code, we need to make multiple requests to gdb to get the data in the correct format to return. If you look at the `"traceResponse"` logging instead, you can see what we get from VS Code and what we return.

In order to get less data, VS C

[2019-10-30 19:11] pieandcakes commented on #3831
@pemgithub Does that source code exist on your machine in the location specified based on your `cwd`? If not, you can set up a `sourceFileMap` to point to the correct location.

[2019-10-30 20:00] Colengms commented on #4516
Great.  Since we understand what is happening here, I will close the issue.  If there is anything additional, let us know.  :)

[2019-10-30 20:00] #4516 closed, assigned to nobody

[2019-10-30 20:14] bobbrow commented on #1057
Thank you for your feature request.  We are closing it because there does not appear to be enough interest from the community.  If we get more votes on this, we will reconsider and reopen the issue.

[2019-10-30 20:14] #1057 closed, assigned to nobody

[2019-10-30 20:19] bobbrow commented on #1079
Thank you for the feature suggestion.  There are a few Google Test extensions available for VS Code now, and we believe that adding a problem matcher to those extensions is the better route.

[2019-10-30 20:19] #1079 closed, assigned to nobody

[2019-10-30 20:21] michelleangela commented on #4515
Closing as resolved.

[2019-10-30 20:21] #4515 closed, assigned to nobody

[2019-10-30 20:25] bobbrow commented on #1169
Sorry, I know this issue is old, but do you still have a problem with this?  Code within a disabled preprocessor block should not be evaluated by the linter.

[2019-10-30 20:25] #1169 closed, assigned to nobody

[2019-10-30 20:27] bobbrow commented on #1186
We believe this issue has been addressed in the latest version of the extension.  If you are still experiencing problems, please let us know.

[2019-10-30 20:27] #1186 closed, assigned to nobody

[2019-10-30 20:36] #1266 closed, assigned to nobody

[2019-10-30 20:40] bobbrow commented on #1285
We added the ability to consume the active configuration in version 0.22.0, but forgot to update this thread.  You can use `${command:cpptools.activeConfigName}` to get the "name" of the active configuration for your tasks.  We don't have a way to link includes and defines at this time.

[2019-10-30 20:48] bobbrow commented on #1315
Closing this older issue.  The `compilerPath` property should address the problem.

[2019-10-30 20:48] #1315 closed, assigned to nobody

[2019-10-30 20:49] michelleangela commented on #3978
@tdjastrzebski , the extension has the command `${command:cpptools.activeConfigName}` to get the "name" of the active configuration. Will that work? For more info, see https://github.com/Microsoft/vscode-cpptools/issues/1524

[2019-10-30 21:03] bobbrow commented on #1360
We decided not to do this.  The only way to show multiple overloads in the completion list is to add all of them to the list.  This would result in N duplicate entries.  For auto-complete, we feel that this is overkill and doesn't align with the implementations of other language servers.  We will show the overloads after the `(` token is typed so that you can scroll through them and pick the right

[2019-10-30 21:03] #1360 closed, assigned to nobody

[2019-10-30 21:41] pemgithub commented on #3831
@pieandcakes thank you for the help; I was able to get it working by changing this:
`"cwd": "${workspaceFolder}/out/Debug",`

[2019-10-31 00:32] michael-mayes commented on #1169
Hi Bob. This problem did persist for quite some time after my original report, but certainly has not shown it self in the last few months

Thanks for getting back to me and for your continued efforts

[2019-10-31 01:24] pemgithub commented on #3831
@pieandcakes using cwd fixed it for code that's relative to my cwd.  However, for a different project, I also wanted to step into external code (from libGLESv2.so which I built from source)...  For external code, I got a similar error - "./../../src/libGLESv2/libGLESv2_autogen.cpp".  So I added the following to my launch.json (which seems to have worked):
`"sourceFileMap": {
"./../../src/": "~/pem

[2019-10-31 04:24] lsmgeb89 commented on #4508
@grigorig I agreed with you.

The thing is `cpptools` processes should not be zombie or left when switching versions or in any other cases.
By the way, just by switching versions back and forth, you can easily reproduce the zombie `cpptools` processes.

[2019-10-31 05:40] tuyuwei commented on #2438
OK, thanks!!

[2019-10-31 09:11] ruokid commented on #3829
yes,no difference in use...yet?

[2019-10-31 12:53] Yuan-Hang opened #4518 "Can I use coredumpctl to debug dump files in vscode?"

[2019-10-31 15:55] EricJeffrey commented on #3306
Say I meet the problem and you know what I found?
My Code is ****!
I just have a
`buffer[1024 * 4 * 1024];`
inside my code and that's all I got after spending all night trying to figure out what happened.

Say it, I am foolish.

[2019-10-31 19:41] tdjastrzebski commented on #3978
@michelleangela, I do not think this would work. What I am looking for is a way for my extension to read activeConfigName from cpptools extension or, better yet, subscribe to some event and be notified whenever it changes.

[2019-10-31 23:30] idanemergi opened #4520 "c_cpp_properties.json location"
The extension always creates the c_cpp_properties.json under "${workspaceFolder}.vscode" folder.
Is there a way of setting a different location to that file as with C_Cpp.default.browse.databaseFilename?

I like to keep my source code folders clean as much as possible

Extension version: 0.26.1
VScode version: 1.39.2
I'm working on windows 10.
Thanks.

[2019-11-01 02:11] zengletian1491 opened #4521 ""Go to Definition" does NOT work after upgrading to Version 1.39.2"
When I do the  “Go to Definition" operation, "no definition for  .. " appears on the screen! I do not find a solution. Could you please give me a hand? Thanks very much!

[2019-11-01 06:00] JasonLeeCn opened #4522 "The intelligent prompt shall give some information when use #if, #elif."
Issue Type: <b>Feature Request</b>

Some time we need check the macro value for pre-process using #if, #elif. But now the extension is not give any intelligent prompt.

Extension version: 0.26.1
VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

[2019-11-01 07:09] tripsus commented on #2778
I also faced similar problem while trying to debug Cpp code on VSCode.

For me adding "C:\cygwin64\bin" to **PATH** in environment variables did the trick.
Although VSCode _launch.json_ had **miDebuggerPath** set to "_C:\\cygwin64\\bin\\gdb.exe_" it didn't work. Manually adding to PATH in environment variables fixed the error.

[2019-11-01 07:45] Qone2 opened #4523 "When i start debugging with gdb.exe, it hangs forever and never terminates."
Type: Debugger

**Describe the bug**
- OS and Version: windows 10 1903 build 18362.418
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them): korean language pack, python
- A clear and concise description of what the bug is.
after build complete, i tried to debug my code. but debug process is never ending.
stil

[2019-11-01 12:22] zengletian1491 commented on #4521
I solved it today.
Solution：
1、reinstall the VSCODE
2、type "C/C++" in the left upper corner of the VSCODE, as shown in the following:
![2019-11-01_202001](https://user-images.githubusercontent.com/53558305/68024421-09954a80-fce5-11e9-82d3-e04bf2beb3f8.png)
3、select "C/C++ 0.26.1" and install it.
Well done!

[2019-11-01 15:42] AmeGong commented on #3373
Thank you, I solve my problem following your instructions, although I don't why it works.

[2019-11-01 16:47] michelleangela commented on #4521
Closing as resolved.

[2019-11-01 16:47] #4521 closed, assigned to nobody

[2019-11-01 18:21] SanjayVyas opened #4524 "VSC 1.39.2 with C++ extension 0.26.1 formatter corrupting code"
**Type: LanguageService**

When using formatter in C++ file, it corrupts the code, by inserting bits an pieces of existing code into various location. The issue does not start immediately after opening VSC, but after a while.

Following is one such example

Code before formatting
[code]
Code after formatting
[code]
It is becoming impossible to use vscode as the corruption happens in random places

[2019-11-01 18:28] sean-mcmanus commented on #4524
Are you using a multi-root workspace? We have a similar issue at https://github.com/microsoft/vscode-cpptools/issues/1073 .

[2019-11-01 18:31] sean-mcmanus commented on #4522
What do you mean by "intelligent prompt"? We show hover info. Do you mean autocomplete?

[2019-11-01 18:35] sean-mcmanus commented on #4520
Not really. You can set some settings at the user level via C_Cpp.default.* settings (or the workspace folder level, but that is saved under `${workspaceFolder}/.vscode/settings.json`)

[2019-11-01 18:44] bobbrow commented on #3978
The current selected configuration is available via the command @michelleangela shared.  Though it sounds like you want to invoke it via TypeScript, which is possible by calling:
[code]

[2019-11-01 18:48] ykuchin commented on #2792
I have same problem.
Any updates?

[2019-11-01 19:11] sean-mcmanus commented on #4505
Latest VS Code Insiders has it fixed.

[2019-11-01 19:11] #4505 closed, assigned to nobody

[2019-11-01 20:05] SanjayVyas commented on #4524
Looks like formatting issue maybe happening due to recent vim extension. I have installed an earlier version 1.11.0 to see if formatting still corrupts.

[2019-11-01 20:19] sean-mcmanus commented on #4513
That "feature" (a 1 line change) was removed because it caused unforeseen regressions -- the blog should be edited to remove mentioning that feature (I mentioned this to the blog author to do this at the time, but it looks like it didn't happen). A different design that adds ( automatically is being tracked at https://github.com/microsoft/vscode-cpptools/issues/882 .

[2019-11-01 20:38] sean-mcmanus commented on #4508
@michelleangela @Colengms Are you able to repro the zombie process when switching versions? It isn't reproing for me (on Windows or Linux) -- I see the processes get killed after VS Code reloads with the new extension version.

[2019-11-01 20:46] sean-mcmanus commented on #3565
@6502 We're tracking a fix for this at https://github.com/microsoft/vscode-cpptools/issues/4119 . I may have mentioned this already, but our implementation is borrowed from VS (on Windows) which uses a 32-bit process, so it auto-cleans itself in your scenario via crashing from an out of memory and then just restarting so users don't notice any problem (unlike on Linux/Mac where memory just keeps i

[2019-11-01 20:48] sean-mcmanus commented on #4119
https://github.com/microsoft/vscode-cpptools/issues/3565 is the same issue -- not sure if we want to close that as a duplicate or not.

[2019-11-01 20:58] sean-mcmanus commented on #4470
Thanks a lot -- we got a repro -- the usage of keyword "interface" is causing the problem.

[2019-11-01 22:03] pieandcakes commented on #2792
@ykuchin This is a bug in `gdb`.

I missed the comment last year, so i've filed bug: https://sourceware.org/bugzilla/show_bug.cgi?id=25153 . Someone on that side will need to investigate and fix the issue and publish it as part of a future gdb update.

I'm closing this for now as it isn't going to be resolvable in the extension.

[2019-11-01 22:04] #2792 closed, assigned to pieandcakes

[2019-11-01 22:05] pieandcakes commented on #4523
Can you change the VS Code default terminal to use the `cmd` shell instead of `powershell`  and see if it reproduces?

[2019-11-01 22:07] pieandcakes commented on #4518
Hi, I don't know what coredumpctl is. Is that a different extension?

for debugging, we support any debugger that uses gdb's `mi` (Machine Interpreter) mode.

[2019-11-01 22:07] #4518 closed, assigned to pieandcakes

[2019-11-02 04:24] silverling commented on #1199
The other possibility is that you miss ```**``` at the end of your path in **"includePath"**  in ```c_cpp_properties.json```
For example, it should be like ```/usr/include/**```, but not ```/usr/include/```

[2019-11-02 07:34] 6502 commented on #3565
Ah ok, sorry for the sarcasm... I misunderstood the "by design" comment. I'ts not by design at all but it's a genuine bug. I can understand that it's not considered critical because probably 99% of the users are using the 32-bit crashing version and do not notice any problem (2 Gb of memory use is considered normal and perfectly acceptable today).

[2019-11-02 07:34] #3565 closed, assigned to nobody

[2019-11-02 19:33] travishaagen commented on #2879
I think the ask here, and what I would like, would be for _stop_ in the debugger to be configurable so that we could send SIGTERM instead of what it does now which is SIGKILL.

Other plugins do this: https://github.com/Microsoft/vscode-node-debug2/issues/101

[2019-11-02 20:18] JBamberger opened #4526 "Launch.json creation fails with german locale"
Type: Debugger

**Describe the bug**

- OS and Version: Windows_NT x64 10.0.18362
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them): No other extensions are installed.

The extension cannot create the `launch.json` file with a debug configuration if the locale is set to German. Trying to create such a confi

[2019-11-02 23:20] torresdale opened #4527 "Could not find the task 'C:/MIngw/bin/g++.exe'."
Type: Debugger
I am having the error message whenever I try to run a program.

Everything has been properly installed and the variable path properly configured.
![Error](https://user-images.githubusercontent.com/57095414/68078078-71918100-fe0a-11e9-8a2a-7bb63364da21.PNG)

**Describe the bug**
Version: 1.39.2 (user setup)
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:35:18.24

[2019-11-03 01:57] rhaschke commented on #2635
I have similar issues: Having multiple matching header files found in c_cpp_properties.json's `includePath`, it seems to pick the last match (instead of the first one).

[2019-11-03 07:11] Qone2 commented on #4523
@pieandcakes
i did just before but it looks same

[code]

[code]

[2019-11-03 07:27] shasha101 opened #4528 "Unable to compile .cpp codes"
Type: Debugger

**Describe the bug**
- C/C++ Debugger for VS Code

I've followed all the steps shown in "Get Started with C++ and Microsoft C++ compiler (MSVC)" yet I keep receiving below error message in **OUTPUT** when I try to run code:

'g++' is not recognized as an internal or external command,
operable program or batch file.

**and the following error message in TERMINAL:**
Executing task: c

[2019-11-03 10:05] tdjastrzebski commented on #3978
@bobbrow  Thank you, I will check it out. It should work, albeit no notifications.
Please close this issue.

[2019-11-03 12:58] robrey commented on #1863
It is very complex, I am trying to resolve my electronic problem in C++ and I do not have time to resolve  configurations problems. Is there another debugger? Please.

[2019-11-03 13:17] qian2501 commented on #4064
Sorry, I should have closed this issue, we couldn't find anything useful yet, but we don't observe this issue on other main branches, so I think this is supposed to be our fault.

[2019-11-03 13:17] #4064 closed, assigned to nobody

[2019-11-03 18:12] lattice0 opened #4529 "name followed by '::' must be a class or namespace name"
I get the following error:

`name followed by '::' must be a class or namespace name`

On this line of code:

`Singleton::instance()->addStream(id, myObject);`

In the `Singleton` part

Here's the Singleton class:

[code]

Both clang and gcc compile with no error. Should vscode cpp tools intellisense really display an error?

[2019-11-04 03:51] baiwfg2 commented on #510
Here's an issue I met. I work on mac's vscode, and I don't want code related to linux platform to be inactive. The following is not what I want. `#else` part should be highlighted. How could I do that ?
![image](https://user-images.githubusercontent.com/5157680/68098717-56ea0580-fef9-11e9-8230-5b964b5dcc52.png)

[2019-11-04 07:50] xgdgsc opened #4531 "valgrind integration"
Hope an function of calling valgrind and such tools for checking memory errors be integrated in launch templates or debug options.

[2019-11-04 10:54] brainstorm commented on #3829
None of the suggestions above works for me on Catalina 10.15.1 with XCode 11.2 and there's no `lldb-mi` to be found on my system after re-installing CodeLLDB extension either :/

[2019-11-04 16:18] cstrahan commented on #3925
@sean-mcmanus May I ask, where is the source located?

Edit: for the native binary, that is.

[2019-11-04 16:45] puremourning commented on #3829
Just for reference, it looks like `lldb-mi` has been removed from upstream lldb source tree and is now available as a separate module.

https://github.com/lldb-tools/lldb-mi

[code]

[2019-11-04 17:47] mluparu commented on #4513
I've updated the blogpost to reflect the fact that the feature is no longer supported.

[2019-11-04 18:18] #3978 closed, assigned to nobody

[2019-11-04 18:20] Colengms commented on #4526
Hi @JBamberger .  Thanks for reporting this.  This looks like a bug in our recent localization work.

[2019-11-04 18:30] michelleangela commented on #1863
@robrey , please file new issues about the specific configuration problems and debugger.

For the configuration issue, please provide logs from running the `C/C++: Log diagnostics` command.

For debugger issue, please provide copies of your `tasks.json` and `launch.json` files if you have them.

[2019-11-04 18:56] Colengms commented on #4529
Hi @lucaszanella .  I'm unable to repro an error squiggle with the code you provided.  I did need to add a bit to get it to compile.

[code]

I've tried with gcc, clang, and msvc modes.

Could you provide a complete, stand-alone example of the repro?

[2019-11-04 19:21] ssoher commented on #4192
I came here to report this issue, this seems to be *my* problem on Windows.

[2019-11-04 19:51] genericptr commented on #3829
I had no problem using lldb-mi from an older version of Xcode and I see the news about lldb-mi being removed from the lldb source tree.

1) Does this mean lldb-mi is deprecated?
2) What exactly is CodeLLDB? I'm seeing it's a replacement but isn't it just a wrapper around LLDB? Maybe they use the normal LLDB because they know lldb-mi is going away?

[2019-11-04 19:54] amansheaven commented on #3829
Are you working on VS Code, I did posted a way to fix it with a extension but the task part is not well written. Check it out it might work for you

[2019-11-04 20:18] sean-mcmanus commented on #4528
What is your task.json that you're using to compile? The "Executing task" log appears to be missing the workspaceFolder paths for the .exe and .cpp files.

Empty settings.json is okay.

[2019-11-04 20:20] sean-mcmanus commented on #4527
What is your launch.json?

[2019-11-04 20:36] sean-mcmanus commented on #1199
@Lynn-Speng Using "/usr/include/**" is not recommended because the ordering of the recursive includes is arbitrary and likely to break for system headers that require a particular ordering. It is better to set your compilerPath to get the correct system includes and ordering, or to manually enter all the system paths in the correct order.

[2019-11-04 20:42] sean-mcmanus commented on #3565
@6502 It's important to our Linux users who have code bases that repro the issue. The 32-bit version only runs on Windows. I was trying to explain why the issue exists.

[2019-11-04 20:47] sean-mcmanus commented on #510
@baiwfg2 There's a thread on this issue at https://github.com/microsoft/vscode-cpptools/issues/1083 . Cross-platform support (e.g. Mac to Linux) is a missing feature, with some potential workarounds users have found. Using the VS Code remoting extensions to remote into a Linux machine from Mac would also work.

[2019-11-04 20:51] sean-mcmanus commented on #3925
@cstrahan It's not available to people external to Microsoft (i.e. closed source). Only our TypeScript component is open source.

[2019-11-04 22:33] Colengms commented on #2856
Hi @g-arjones .  I've been working on some improvement to how the C/C++ extension decides which source file to use to open a TU for a header file.  We will use the following heuristics:

 - Source files are preferred. If no source file is found that includes the header (directly, or indirectly), the header itself is used.
 - Source files with the same name as the header (without extension) are pre

[2019-11-04 22:39] EthanG45 commented on #3829
@genericptr I am also concerned about this. Having to use the CodeLLDB debugger is a work around at the moment that I hope doesn't stick around for much longer.

[2019-11-04 22:41] g-arjones commented on #2856
Sounds perfect to me. I can't think of a reasonable layout that wouldn't fit one of these scenarios.

One question though, how does the extension decide what's a "source file"? I've seen projects that use .cc,.cpp,.c++,.cxx and .c. Can we configure that in the extension?

[2019-11-05 00:06] XiangpengHao commented on #4222
Just to say the problem still exists for me, with the latest version

[2019-11-05 02:35] silverling commented on #1199
OK, I learned it. Thanks!

[2019-11-05 05:20] jkmartindale commented on #4453
I've found that even when installing the VSIX on my remote, I get the downloading messages that run for a while before failing:

[code]

[2019-11-05 06:06] ghost commented on #3829
感谢大佬

[2019-11-05 08:05] PDostalek opened #4535 "[loc][Query][vscode-cpptools] Localizability of verbosity level"
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
The verbosity of logging in the Output Panel. The order of levels from least verbose to most verbose is: None < Error < Warning < Information < Debug.

File Name:
Src\vscode-extensions\vscode-cpptools.xlf

Qu

[2019-11-05 08:21] ranjithpp commented on #3139
i am on 1.39.2 vs code,
Can't create IntelliSense client for <filename> error is coming.

[2019-11-05 09:31] geusr opened #4536 "Symbols missing after update to 0.26.0 on Windows 7"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 7
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them): gitlens, powershell

After upgrading to 0.26, the outline view is empty and the breadcrumbs only available up to file level.

**To Reproduce**

1. Update to cpptools 0.26.1 and relo

[2019-11-05 09:50] lemmaa commented on #429
+1 for cpptools ARM support

[2019-11-05 10:02] puremourning commented on #3829
In the end I have just switched to `lldb-vscode` which ships as part of `lldb`. It's really good, but doesn't support the external terminal launch that vscode-cpptools does.

https://github.com/llvm/llvm-project/tree/master/lldb/tools/lldb-vscode#table-of-contents

[2019-11-05 10:37] torresdale commented on #4527
[cid:39df236e-ce8d-490a-a6a7-63f56c11c3d8][cid:9d88befe-ecec-4f0e-b647-656fd796e9a4]
________________________________
From: Sean McManus <notifications@github.com>
Sent: Monday, 4 November 2019 8:20 PM
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: torresdale <torresdale@outlook.ph>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vscode-cpptools] Could not find

[2019-11-05 12:42] Sothan commented on #3829
@amansheaven

Thanks a lot, I spend a few hours working on this issue. Now everything is settled.

BTW, I'm working on Catalina 10.15.1 with XCode 11.2, my config files as following:

task.json
[code]
launch.json
[code]

I highly recommend you figure out what exactly these parameters mean, or you might be lost like me. Just refer to the official document for insights.

[2019-11-05 14:08] SanjayVyas commented on #4524
I suspected the formatter and then vim, but I now suspect its another extension called pisoniq headers. pisoniq has a feature of updating the header on save, and it may be causing the corruption. Will observe for a while more to confirm.

[2019-11-05 14:56] y1yang0 commented on #3829
Same problem

[2019-11-05 17:37] bobbrow commented on #4318
At this time we don't have enough information to investigate this issue.  If you are able to provide some repro steps for us, we can reopen this issue and investigate further.  Thank you!

[2019-11-05 17:37] #4318 closed, assigned to nobody

[2019-11-05 17:38] bobbrow commented on #4352
At this time we don't have enough information to investigate this issue. If you are able to provide some additional information for us, we can reopen this issue and investigate further. Thank you!

[2019-11-05 17:38] #4352 closed, assigned to nobody

[2019-11-05 18:02] Colengms commented on #4535
That is correct.  These are potential values for the setting.

[2019-11-05 18:06] bobbrow commented on #1329
This issue has been answered and the original post has been updated to locate the answer more quickly.  Closing.

[2019-11-05 18:06] #1329 closed, assigned to nobody

[2019-11-05 18:54] bobbrow commented on #4536
Could be related to #4470?  Can you share an example code file that reproduces the issue?

[2019-11-05 19:37] sean-mcmanus commented on #4536
I'm not able to repro it (we need a repro to investigate further).

I don't think it's related to https://github.com/microsoft/vscode-cpptools/issues/4470 .

It's possible it's some problem related to the C++/CX change.

[2019-11-05 19:39] sean-mcmanus commented on #3139
@ranjithpp Can you create a new bug with more repro details? "Failed to create IntelliSense client" is just a general symptom.

[2019-11-05 23:17] kei2e commented on #1975
Any solutions to this yet?
I have a similar issue: VSCode on Ubuntu 19.1, with C/C++ 0.26.1 extension installed. When I try to format a selected part of my code, I receive the error:

    [Error - 6:16:27 p.m.] Connection to server got closed. Server will not be restarted.
    [Error - 6:16:27 p.m.] Request textDocument/rangeFormatting failed.

[2019-11-05 23:48] sean-mcmanus opened #4539 "Crash after formatting selection"
Any solutions to this yet?
I have a similar issue: VSCode on Ubuntu 19.1, with C/C++ 0.26.1 extension installed. When I try to format a selected part of my code, I receive the error:

    [Error - 6:16:27 p.m.] Connection to server got closed. Server will not be restarted.
    [Error - 6:16:27 p.m.] Request textDocument/rangeFormatting failed.

_Originally posted by @kei2e in https://github.com/mi

[2019-11-05 23:48] sean-mcmanus commented on #4539
@kei2e Our language server process is crashing. Can you attach a debugger to the Microsoft.VSCode.CPP.Extension.linux and provide a callstack or give more repro details? Are you using a multi-root workspace?

[2019-11-06 00:28] kei2e commented on #4539
@sean-mcmanus sorry, I am very new to this. Can you plz give me some instructions on how to attach a debugger to Microsoft.VSCode.CPP.Extension.linux?

No, I am not using a multi-root workspace.

[2019-11-06 01:56] sean-mcmanus commented on #4539
There are some docs at https://code.visualstudio.com/docs/cpp/cpp-debug.

You basically just need to create a launch.json file with a "(gdb) attach" config and set the program to the full path of the Microsoft.VSCode.CPP.Extension.linux binary (e.g. `/home/user/.vscode/extensions/ms-vscode.cpptools-0.26.1/bin/Microsoft.VSCode.CPP.Extension.linux`). Then click the Start Debugging button and repro t

[2019-11-06 02:02] sean-mcmanus commented on #4539
Also, we have no known crashes involving formatting, so anything special about your environment or format settings you could think of could help (might be related to Ubuntu 19).

[2019-11-06 02:06] sean-mcmanus commented on #4539
Also, if you could set the C_Cpp.clang_format_path to another clang-format such as from http://releases.llvm.org/download.html , it's possible that could fix/workaround the issue.

[2019-11-06 02:07] sean-mcmanus commented on #4539
Looks like other users have hit this at https://github.com/microsoft/vscode-cpptools/issues/3559 .

[2019-11-06 12:17] janwilmans opened #4540 "freezing the ui for N seconds."
The whole vscode ui freezed for ~30 seconds.

Type: General

![image](https://user-images.githubusercontent.com/5933444/68297631-c138ac80-0097-11ea-84f1-aa0b89b0c399.png)

**Describe the bug**

Version: 1.39.2
Commit: 6ab5985
Date: 2019-10-15T15:33:40.634Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.19.0-6-amd64

Steps to Reproduce:

it happene

[2019-11-06 15:39] kei2e commented on #4539
@sean-mcmanus thanks for the instructions and help!
I am working on it to provide you with more info .. in the meantime, I tried the formatter on a separate test.cpp file and got the following:

[code]

[2019-11-06 15:49] anatolyburakov opened #4543 "Platform-specific headers and analyzer"
We have a project that has a number of platform-specific headers that are enabled or disabled via the build system (rather than through `#ifdef`-ery). This confuses the code analysis, because an include like this:
[code]
may include `windows/os_specific.h` or `linux/os_specific.h` or `freebsd/os_specific.h`, depending on the build configuration (the relevant path is included by the build system).

[2019-11-06 16:09] kei2e commented on #4539
Okay .. it was fixed by installing clang-format,
`sudo apt install clang-format`
and adding
`{
  "C_Cpp.clang_format_path": "/usr/bin/clang-format"
}`
to `settings.json`, as suggested by **penguingovernor** at [#3174](https://github.com/microsoft/vscode-cpptools/issues/3174). Now the formatter appears to be working fine in both workspaces.

I still do not know what exactly is going on. But let me

[2019-11-06 17:25] bobbrow commented on #4527
It looks like something didn't copy over correctly when you sent it via email.

[2019-11-06 17:28] bobbrow commented on #4453
@jkmartindale which VSIX did you download?  This is the one you want: https://github.com/microsoft/vscode-cpptools/releases/download/0.26.1/cpptools-linux.vsix.  It should be about 19.6 MB in size.

The standalone VSIX's on our Release page don't attempt to download anything.

[2019-11-06 18:00] michelleangela commented on #4540
This could be a VS Code client issue and not an issue with the C/C++ extension. The extension does not have compiling capabilities.

Does the issue reproduce if the extension is also disabled? Were you doing other operations while it was compiling (such as scrolling through a file, hovering over a symbol)?

[2019-11-06 19:07] torresdale commented on #4527
Those were 2 screenshots actually. So I need to send it in just one screenshot?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bob Brown <notifications@github.com>
Sent: Thursday, November 7, 2019 1:25:23 AM
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: torresdale <torresdale@outlook.ph>; Author <author@noreply.github.com>
Subject:

[2019-11-06 19:08] konradsa commented on #4067
@sean-mcmanus I am having a similar, possibly related issue. I am using the latest main release 1.39.2 and the latest Remote SSH extension to connect to a Linux host. When not using a compile_commands.json file, Intellisense is doing okay, but not very accurate. Trying to make it more accurate with a compile_commands.json though causes many the *.C files I have to be parsed as C instead of C++. Th

[2019-11-06 19:29] bobbrow opened #4544 "Use the markdownDescription property for settings"
settings descriptions in `package.json` that reference enum values should use the `markdownDescription` property instead of `description`.

[2019-11-06 21:42] WardenGnaw commented on #4531
This would be done with an additional task in `tasks.json`.

You can use
[code]
and you will get
[code]

then you can use `setupCommands` in `launch.json` to run
[code]
* assuming you have one vgdb process running.

[2019-11-06 22:41] michelleangela opened #4547 "[work item] Setup E2E CI test environment and tools"
**Requirements:**
Using an Azure pipeline, build extension and execute test using VS Code test framework

[2019-11-06 22:52] michelleangela opened #4548 "[work item] Add test framework for new E2E CI tests"
**Requirements:**
- can execute full extension (typescript and language server) to validate IntelliSense features
- can easily add new scenarios/tests
- customization per platform
- output results to any reporting tool
- can run locally with native binaries

**Implementation:**
- use VS Code commands to invoke UI actions and check UI states
- create simple test case that validates simple IntelliSe

[2019-11-06 23:02] michelleangela opened #4549 "[work item] Report test results to a host"
**Requirements:**
Test results from daily runs are reported to a test host coverage

[2019-11-06 23:04] michelleangela opened #4550 "[work item] Investigate benchmark testing"
- Determine type of performance
- Can consistent machines or test environments be used?

[2019-11-06 23:06] michelleangela opened #4551 "[work item] Feature test: quick info"
Add test to validate `Quick info`

[2019-11-06 23:07] michelleangela opened #4552 "[work item] Feature test: find all references"
Add test to validate find all references.

Use command `vscode.executeReferenceProvider`

[2019-11-06 23:08] michelleangela opened #4553 "[work item] Feature test: rename"
Add a test to validate rename symbol.

Use command `vscode.executeDocumentRenameProvider`

[2019-11-06 23:10] michelleangela opened #4554 "[work item] Feature test: squiggle update"
Add a test to validate squiggles are updated on edit.

[2019-11-06 23:11] michelleangela opened #4555 "[work item] Feature test: autocomplete"
Add a test to validate `autocomplete` and suggestion list.

Use command `vscode.executeCompletionItemProvider`

[2019-11-06 23:12] michelleangela opened #4556 "[work item] Feature test: go to definition"
Add test to validate `Go to Definition`

[2019-11-06 23:13] michelleangela opened #4557 "[work item] Feature test: go to declaration"
Add a test to validate `Go to Definition`

[2019-11-06 23:14] michelleangela opened #4558 "[work item] Feature test: symbol search"
Add a test to validate symbol search.

Use command `vscode.executeWorkspaceSymbolProvider`

[2019-11-06 23:15] michelleangela opened #4559 "[work item] Feature test: signature helper"
Add a test to validate signature helper.

Use command `vscode.executeSignatureHelpProvider`

[2019-11-06 23:16] michelleangela opened #4560 "[work item] Feature test: tag parser"
Add a test to validate tag parser.

[2019-11-06 23:17] michelleangela opened #4561 "[work item] Feature test: semantic colorization"
Add test to validate semantic colorization.

Use commands
`vscode.executeDocumentColorProvider`
`vscode.executeColorPresentationProvider`

[2019-11-06 23:49] Colengms commented on #4543
Hi @anatolyburakov .  Which features are you getting incorrect results from?

There are 2 underlying technologies in the C/C++ Extension; IntelliSense and tag parser.  IntelliSense is based on a first pass compile of the source code, and leverages include paths.  The tag parser builds a database of all symbols, and leverages your browse path(s).  I believe both include and browse paths default to

[2019-11-07 05:09] bobbrow commented on #4543
To add to this, if you are using recursive includePath for IntelliSense, we give priority to non-recursive paths, so you can create configurations for each platform in this manner which will allow you to get the squiggles right for each OS:

(pseudo-code)
[code]

[2019-11-07 05:11] bobbrow commented on #4527
I think you need to do images via the website. This is what got posted instead of the screenshots:

[cid:39df236e-ce8d-490a-a6a7-63f56c11c3d8][cid:9d88befe-ecec-4f0e-b647-656fd796e9a4]

[2019-11-07 05:58] rkubik opened #4562 "Unable to set conditional breakpoint containing double-quotes: "Problem parsing arguments: break-insert -f -c""
Type: Debugger

Problem: Unable to set conditional breakpoints (expressions) that contain double-quotes. I can side step the issue by escaping all of the double-quotes in the expression but that is not intuitive for those who use the UI for debugging and are unfamiliar with GDB/MI. I'd argue that vscode should escape all user-provided expressions (conditional breakpoints, watches, etc.) that are p

[2019-11-07 06:52] lfjbb opened #4563 "haven't auto indent whenever press enter。"
![捕获](https://user-images.githubusercontent.com/35714131/68454930-15c55e80-0235-11ea-9dbb-fe99575c9c20.PNG)
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

1. Go to '...'
2. Click

[2019-11-07 07:30] torresdale commented on #4527
________________________________
From: Bob Brown <notifications@github.com>
Sent: Thursday, 7 November 2019 5:12 AM
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: torresdale <torresdale@outlook.ph>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vscode-cpptools] Could not find the task 'C:/MIngw/bin/g++.exe'. (#4527)

I think you need to do images via the websit

[2019-11-07 07:31] torresdale commented on #4527
![001](https://user-images.githubusercontent.com/57095414/68368731-a0458980-0173-11ea-86af-848db254718f.PNG)
![002](https://user-images.githubusercontent.com/57095414/68368735-a0de2000-0173-11ea-8bad-f2b554957e27.PNG)
![003](https://user-images.githubusercontent.com/57095414/68368736-a0de2000-0173-11ea-9e4f-786715320e48.PNG)

[2019-11-07 07:50] yaqwsx commented on #1914
I am working on a project (CMake project inside the directory RoFILib: https://github.com/paradise-fi/RoFI/tree/SMT/RoFILib). The process `/usr/share/code/code /usr/share/code/resources/app/out/bootstrap-fork --type=extensionHost` causes 100% load on one of the CPU cores all the time the project is open. This basically makes it unusable as it drains the battery on a laptop quickly. Might this be r

[2019-11-07 08:28] emmenlau opened #4564 "C_Cpp.dimInactiveRegions not working with #if false in VSCodeVim with Light+ theme"
Issue Type: <b>Bug</b>

I've enabled `"C_Cpp.dimInactiveRegions": true` and set `"C_Cpp.inactiveRegionOpacity": 0.45` in `settings.json`. However code blocks in
[code]
do not show any change in color or opacity. I've tried various other values for background color or opacity, and tried other types of undefined statements, all to no avail. See attached image for an example. I would expect the code

[2019-11-07 08:55] geusr commented on #4536
Hi again

I have this problem for all my source folders, even when they contain only a single C file. I have attached a zipped source folder as an example.

[exec_test.zip](https://github.com/microsoft/vscode-cpptools/files/3818653/exec_test.zip)

0.26.0 and 0.26.1 both have the same issue.

Also I have tried to reinstall vscode, which didn't help.

My extension folder looks like this

Mode

[2019-11-07 10:15] anatolyburakov commented on #4543
This has actually fixed my issue! Thanks!

[2019-11-07 10:15] #4543 closed, assigned to nobody

[2019-11-07 10:30] ibukanov opened #4565 "Navigating C++ code may chage the modification date for a header"
**Type: LanguageService**
When opening a C++ file via Intelli Sense navigation, the file modification time may change. This is very annoying when working on a big C++ project when pressing F12 to go to the symbol definition results in a timestamp update for a header resulting in a lengthy re-compilation.

I noticed that this especially likely to happen when Intelli Sense cannot decide which symbol

[2019-11-07 13:36] emmenlau commented on #4564
Its possible that this issue resolved itself by completely removing the intellisense configuration, restarting vscode and adding the same configuration again.
It seems that intellisense confused itself to such an extent that it was _not_ sufficient to restart vscode or to make minor changes to the config.

[2019-11-07 13:36] #4564 closed, assigned to nobody

[2019-11-07 16:47] python152 opened #4567 "miDebuggerArgs to enable LD_PRELOAD doesn't seem to have any effect"
Type: Debugger

**Describe the bug**
- OS and Version: CentOS 7.7
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1

I am trying to use "miDebuggerArgs" option to enable `LD_PRELOAD`, see json configuration below. However, it doesn't seem to have any effect. The command line I use with gdb that works as `gdb --args env LD_PRELOAD=/path/to/intercept.so prog`.

**To Reproduce**

[code]

[2019-11-07 17:40] slawmilcz opened #4568 "The option -enable-pretty-printing doesn't work for remote debugging with gdbserver"
Type: Debugger

The  pretty-printers don't work for remote debugging with gdbserver,
whilst they do work for local debugging with gdb only.

target machine with Ubuntu 18.04:
gdbserver :10000 ./test_app

host machine with Ubuntu 18.04:
Visual Studio Code - debugging

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1

**To Reproduce**

T

[2019-11-07 18:22] michelleangela commented on #4563
Can you provide an example of when auto indent does not occur when pressing enter? Is it pressing enter after a statement or within function arguments?

Is your auto indent related to https://github.com/microsoft/vscode-cpptools/issues/1993 or https://github.com/microsoft/vscode-cpptools/issues/883?

[2019-11-07 19:11] michelleangela commented on #4536
Was able to reproduce on Windows 7 only.

Version 0.26.0 adopted the DocumentSymbol API https://github.com/microsoft/vscode-cpptools/issues/2230, so it could be related to that change.

Verified that outline view works for TypeScript to rule out issue being specific to VS Code client.

[2019-11-07 19:16] SPAstef opened #4569 "Enhanced colorization and intellisense not working on Linux"
**Type: LanguageService**
**Describe the bug**
- OS and Version: Clear Linux 31520
- VS Code Version: code-insiders-1.40.0-1573062522, tried also VS Code stable 1.39
- C/C++ Extension Version: 0.26.1, tried also 0.26 and 0.25
- Other extensions you installed (and if the issue persists after disabling them): Customize UI, Java Extension Pack, Italian language pack, markdown lint, Material Icon Them

[2019-11-07 19:26] Colengms commented on #4569
Hi @SPAstef .  I don't believe this is something that is impacting most users, so we could use some additional information about what's happening on your system.  Could you try enabling debug logging using the setting: `"C_Cpp.loggingLevel": "Debug"`?  That may output some clues to the C/C++ output channel.  Also, if you run `C/C++: Log Diagnostics` after opening a source file, that might provide

[2019-11-07 20:37] SPAstef commented on #4569
[code]

[2019-11-07 20:37] SPAstef commented on #4569
-------- Diagnostics - 7/11/2019, 21:37:20
Version: 0.26.1
Current Configuration:
{
    "name": "Linux",
    "defines": [],
    "compilerPath": "/usr/bin/gcc",
    "includePath": [
        "${workspaceFolder}/**"
    ],
    "compilerArgs": [],
    "cStandard": "c11",
    "cppStandard": "c++20",
    "intelliSenseMode": "gcc-x64",
    "browse": {
        "path": [
            "${workspaceFolder}/**"

[2019-11-07 20:52] PoetaKodu commented on #664
I would love that!

[2019-11-07 20:54] Colengms commented on #4569
It looks like the extension is getting initialized, successfully creating a TU for the file (ord.c), and successfully processing IntelliSense.

Could you provide a screen snapshot?  Perhaps the issue has something to do with the font and UI issues you mentioned.

[2019-11-07 20:57] Colengms commented on #4565
Hi @ibukanov .  I'm not able to repro this issue myself.  Can you repro this with a simple, isolated example?  If so, can you share that, and the specific steps you are using to repro?  Perhaps there is a step involved that you are doing different than I am.

Do you have other extensions installed?  If so, can you repro with them disabled?

[2019-11-07 21:11] exocode commented on #664
@davidbitton sorry, no.. some other genius did that for all of us  :-)

[2019-11-07 22:05] SPAstef commented on #4569
@Colengms you mean a screenshot? I am away from the PC now, but there's nothing interesting to see. Normal syntax highlighting works fine, and "normal" function snippets are ok. Only problem is that highlighting is not semantic and "special" function aren't suggested even after setting the right "#define". Now, this last problem might be related to the fact that the function search is (I guess) pr

[2019-11-07 22:07] SPAstef commented on #4569
Sorry if I'm making a bit of a mess here with this bug report, I know it started as a color issue and it starts getting a bit convoluted. So let's just stick to the colors now. I'm almost sure both problems are related to the language server executable but I'm not the expert here so it's just a feeling.

[2019-11-07 22:27] #1481 closed, assigned to nobody

[2019-11-07 22:27] #2229 closed, assigned to nobody

[2019-11-07 22:30] bobbrow commented on #1483
We have no plans to integrate clang-rename at this time.  We recently implemented rename via #296 and released it with version 0.26.0.  If we get more requests for this feature we can reconsider.

[2019-11-07 22:30] #1483 closed, assigned to nobody

[2019-11-07 22:35] bobbrow commented on #1530
We're going to close this older issue that appears may have been resolved.  Please let us know if you need any further help with this issue.

[2019-11-07 22:35] #1530 closed, assigned to nobody

[2019-11-07 22:48] bobbrow commented on #1660
We recommend using VS Code's [integrated support for WSL](https://code.visualstudio.com/docs/remote/wsl).  We won't be making any major changes to our "non-remote" implementation going forward.

[2019-11-07 22:48] #1660 closed, assigned to nobody

[2019-11-07 22:51] bobbrow commented on #1689
We don't have enough information to address this issue and since there hasn't been any activity on this issue in a very long time, we're inclined to think that the issue has been resolved.  If you continue to experience this problem, please let us know and help us get the information we need to investigate it.

[2019-11-07 22:51] #1689 closed, assigned to nobody

[2019-11-07 22:55] bobbrow commented on #1693
This appears to be fixed in the latest version of the extension.

[2019-11-07 22:55] #1693 closed, assigned to nobody

[2019-11-07 22:56] bobbrow commented on #1733
We are not currently planning on doing this work.  I see an extension in the Marketplace that appears to do what you want.  Feel free to give it a try.

https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.todo-tree

[2019-11-07 22:56] #1733 closed, assigned to nobody

[2019-11-07 23:35] Colengms commented on #4569
Semantic colorization, inactive regions, and squiggles, are all applied by the same IntelliSense pass.  Your logs show that this IntelliSense pass is successful.  There would seem to be some information about your repro that we're missing that might explain what is happening.

If you specify an inactive block with an else, is one side dimmed?

[code]

If one side is dimmed, that would seem to poin

[2019-11-08 00:03] SPAstef commented on #4569
VS Code is installed, executed and displayed all on the same OS, it's not on WSL/VM/container. Installed via RPM, on installation I had to specify --nodeps, otherwise some errors kicked in, but that's the normal way to install RPM on Clear Linux, otherwise none would install. I did not try `#if 0`, I did try, actually I have:
`#define MACRO`
`#ifndef MACRO`
`...`
`#endif`

But the portion is not d

[2019-11-08 02:48] SashaOv opened #4571 "[WSL2] Debugging with gdb gets stuck"
Type: Debugger

**Describe the bug**
- OS and Version:
    Microsoft Windows [Version 10.0.19013.1102]
    WSL 2
    Ubuntu 18.04

- VS Code Version: 1.40.0 (Also happens with recent Code Insiders)
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

I am working through the C++ tutorial

[2019-11-08 03:51] dwlsalmeida commented on #4418
I am also affected while browsing source code for the Linux kernel. This dramatically slows down the UI, making the editor unusable.

This hasn't helped.

Would you guys please have a look at this? @sean-mcmanus @bobbrow

It's been a few days already and the parsing never completes.

[2019-11-08 05:42] lfjbb commented on #4563
actually , it's does work everywhere and everytime

[2019-11-08 06:14] michelleangela commented on #4563
Closing as resolved.

[2019-11-08 06:39] lfjbb commented on #4563
is there something wrong with my vscode or don't have this function yet？

[2019-11-08 07:05] michelleangela commented on #4563
Hi @lfjbb

I closed the issue as resolved because of the comment:

From the screenshots you provided, the circled blue line means an edit was done to that line.
![image](https://user-images.githubusercontent.com/38734287/68456081-bb36ee80-01b1-11ea-9bdc-19ab19983416.png)

Sorry if I misunderstood the issue you are reporting. Is the issue about the editor is not doing an auto indent or is the issue

[2019-11-08 07:15] lfjbb commented on #4563
sorry, there is a typing error
actually , it's doesn't work everywhere and everytime, the editor is not doing an auto indent。
if the editor doing an auto indent. the screenshots should be like this one:
![捕获](https://user-images.githubusercontent.com/35714131/68457105-71deb180-023a-11ea-832e-55f678363715.PNG)
![捕获](https://user-images.githubusercontent.com/35714131/68457154-89b63580-023a-11ea-966e

[2019-11-08 09:08] lfjbb commented on #4563
this problem may cause by a conflict with vsc-python-indent extension. I uninstall that extension. then the "enter" key doesn't work. with the help from microsoft/vscode I sloved the "enter" key problem and uninstall  vsc-python-indent extension then everything is fine.  but I can't reproduce this problem now.
thanks!!

[2019-11-08 09:45] SPAstef commented on #4569
Ok I have an update to make:
1) Colorization works correctly and nicely if the code resides in an absolute path (e.g. /home/username/project).
2) Semantic colorization stops working if I access the project through a soft link (e.g. /home/username/project is a link to /run/media/windows_drive/project)
3) Wrong header inclusion is wrong either way (/usr/include/bits instead of /usr/include), this me

[2019-11-08 10:07] hensz commented on #4479
Hi!
Sorry for the delay, I was on vacation.
The database icon hover says "parsing files" until the symbols are loaded. After that the icon disappears.

The log output first shows (rather fast) this here:

Checking for syntax errors: file:///...workspace...
Queueing IntelliSense update for files in translation unit of: /...workspace...
idle loop: reparsing the active document
Checking for syntax er

[2019-11-08 11:43] wangzhen11aaa opened #4572 "Debug does not stop at the break points."
Type: Debugger
lldb

**Describe the bug**
- OS and Version: Mac Catalina
- VS Code Version: 1.40
- C/C++ Extension Version: clang 11
- Other extensions you installed (and if the issue persists after disabling them):

1. launch.json

{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.

[2019-11-08 13:52] kenwu-wu commented on #4431
Not sure if I should post this here, or create another issue, but DIM inactive region doesn't seem to be working when accessing the file via REMOTE-SSH.

[2019-11-08 14:04] #4563 closed, assigned to nobody

[2019-11-08 14:10] vascokk commented on #429
That's kinda "chicken or egg" problem. Maybe if it was an option, people will start using it and it will show in your telemetry?

[2019-11-08 14:36] blooop commented on #4465
I noticed that this extension was running even after I had closed VS code 10 minutes ago.

While writing this comment I opened a closed VS code a number of times and a new 100% usage process was spawned each time I opened and (properly) closed vs code.

[code]

[2019-11-08 16:28] leaon4 commented on #7
How to close this feature?
Actually, the Chinese error tips are not helpful to learn c/c++.

[2019-11-08 16:35] rhymu8354 commented on #1485
I also see the problem originally reported, embedding Lua 5.3 into my programs written in C++.  All macros defined in the Lua headers have red squigglies and the hover tooltips say they're both defined and undefined:

![image](https://user-images.githubusercontent.com/41497796/68494269-fca3ba00-0202-11ea-8f75-23e64e30a0f6.png)

The problem doesn't happen in Visual Studio, only VSCode, even though

[2019-11-08 16:43] leaon4 commented on #4422
@zhangyafeikimi 请教一下，如果关闭这个功能？其实这个功能有时反而没用。比如报错提示，英文提示反而对学习者更有帮助，搜索起来也更方便

[2019-11-08 16:53] michelleangela commented on #7
@leaon4 , the C/C++ extension follows the display language setting of VS Code. If you would like the extension to be in English or some other language, the [VS Code display language](https://code.visualstudio.com/docs/getstarted/locales) must be set to that language.

[2019-11-08 17:25] wangzhen11aaa commented on #4572
Use lldb command, we can debug this file and add breaking point.

The following is parts of my code.
  cout << "\n gquiz.size() : " << gquiz.size() << endl;
  cout << "\n gquiz.top() : " << gquiz.top() << endl;
  cout << "\n gquiz.pop() ";
  gquiz.pop();

setting mode 1:
In vscode, whith these configuration.
1.
            "name": "(lldb) Launch cunit",
			"type": "cppdbg",
			"request": "launch",

[2019-11-08 18:50] Colengms opened #4573 "IntelliSense does not work if folder opened through a symbolic link"
This is derived from: https://github.com/microsoft/vscode-cpptools/issues/4569

Repro:
- On Linux, create a local directory. (i.e. 'mkdir actual')
- Create a source file (test.cpp) in that directory, with the following contents:

[code]

- Create a symbolic link to that local directory. (i.e. 'ln -s actual softlink')
- Open the 'softlink' folder into VS Code.

Seeing: inactive regions are not dimm

[2019-11-08 18:52] Colengms commented on #4569
Hi @SPAstef .  I was able to repro an issue with symbolic links, with a minimal example - just a source file, and a soft link to another local directory.  I created https://github.com/microsoft/vscode-cpptools/issues/4573 to track that issue.

Wrong header inclusion would seem to be a separate issue.  Can you provide a simplified example I might use to repro locally?

[2019-11-08 18:59] bryceschober commented on #4102
@sean-mcmanus: Can you clarify how symbol search is supposed to work?

Our use-case is a fairly common one, I think: We have a repository that includes a bunch of other repositories as third-party libraries. For this use-case we really want to be able to clearly declare a distinction between:
1. First-party sources:
    - These symbols are most important for resolution and references
    - These s

[2019-11-08 19:17] SPAstef commented on #4569
Well, I have a stdio.h header in the /usr/include/bits directory, and one in the /usr/include.
You can just try making an "Hello, world!" C program with stdio to check that... Also try this:
[code]

and check if the fileno function is available (you might have to add a `#define SOME_POSIX_MACRO` according to your system, check `man fileno`.

[2019-11-08 19:24] SPAstef commented on #4569
Also, about the soft link problem: When I start the debugger, and I allready have the file opened via the soft link, the debugger opens it up again in the absolute path. It's like if they are somehow seen as two different folders, even if when I make a change in one "version", obivously the other one gets immediatly updated too. I think I might have had some issues with breakpoints actually, but n

[2019-11-09 00:07] sean-mcmanus commented on #4067
@konradsa Our compile commands code just checks if the document is a C or C++ file based on the files.associations. The same code path should be hit for compile commands and non-compile commands. I.e. I don't know what is causing that. Your issue appears to be the opposite of the reported bug though.

[2019-11-09 00:09] pieandcakes commented on #4572
This is a known issue.
Duplicate of: https://github.com/microsoft/vscode-cpptools/issues/3829

[2019-11-09 00:09] #4572 closed, assigned to nobody

[2019-11-09 00:12] pieandcakes commented on #4571
This sounds like it is a WSL2 issue where it never hits a breakpoint or stops.

[2019-11-09 00:12] sean-mcmanus commented on #4527
I don't think preLaunchTask accepts an executable -- the executable should be wrapped in a task in a tasks.json file.

[2019-11-09 00:14] sean-mcmanus commented on #1914
@yaqwsx Is this caused by https://github.com/microsoft/vscode-cpptools/issues/4470 ? We plan on releasing a fix Monday.

[2019-11-09 00:15] pieandcakes commented on #4567
@python152 Please enable [engineLogging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-debug-adapter) in your `launch.json`. At the top, it will show what we are calling `gdb` with.

[2019-11-09 00:15] sean-mcmanus commented on #1914
@yaqwsx Actually, does your issue repro with our C/C++ extension disabled? The 4470 issue would have CPU usage in the Microsoft.VSCode.CPP.Extension.linux process.

[2019-11-09 00:16] pieandcakes commented on #4568
@slawmilcz When you say they don't work, are you saying that gdb <-> gdbserver doesn't support pretty printing or that our extension is doing something wrong?

[2019-11-09 00:41] pieandcakes commented on #4571
@SashaOv Our speculation is its an issue in WSL2 since if you switch back to WSL1's filesystem it works (per internal testing). We need to investigate what the problem is and communicate it to the WSL2 team.

[2019-11-09 01:13] Colengms commented on #4569
@SPAstef , Your system include paths look correct.  They've are retrieved from the compiler, and appear to be in the correct order.  As long as I define "_POSIX_C_SOURCE" (Ubuntu 18.04, gcc 7.4), I see the proper prototype and doc comment when hovering over fileno.  (I've also tried with gcc-9)

Are you certain you are using the right #define to enable fileno?  :)  Can you confirm against other fu

[2019-11-09 01:38] sean-mcmanus commented on #4418
@dwlsalmeida Are you hitting https://github.com/microsoft/vscode-cpptools/issues/4470 ?

[2019-11-09 01:47] sean-mcmanus commented on #4479
@hensz What `%` of files is showing as being parsed? Does parsing ever get past 100%? Does clicking the icon and choosing Pause Parsing make the outline faster?

Our extension may not currently be capable of handling a 22 GB source directory. https://github.com/microsoft/vscode-cpptools/issues/3123 is a related issue.

[2019-11-09 01:48] sean-mcmanus commented on #4465
@blooop Are you hitting https://github.com/microsoft/vscode-cpptools/issues/4470 ? The main process is supposed to be killed when VS is closed, but something may be preventing that on your machine.

[2019-11-09 01:51] sean-mcmanus opened #4576 "Undefined identifiers using Lua 5.3"
I also see the problem originally reported, embedding Lua 5.3 into my programs written in C++.  All macros defined in the Lua headers have red squigglies and the hover tooltips say they're both defined and undefined:

![image](https://user-images.githubusercontent.com/41497796/68494269-fca3ba00-0202-11ea-8f75-23e64e30a0f6.png)

The problem doesn't happen in Visual Studio, only VSCode, even though

[2019-11-09 01:53] dwlsalmeida commented on #4418
I don't think so, because the database icon is showing, unlike #4470

[2019-11-09 01:53] sean-mcmanus commented on #4576
@rhymu8354 Can you use the C/C++: Log Diagnostics command with that source file active? Do you see any incorrect includes or defines in the output? Our IntelliSense engine is not seeing lua_newtable definition (the hover info is coming from a different system).

What is a "MCVE"?

[2019-11-09 02:02] sean-mcmanus commented on #4418
@dwlsalmeida I believe the database icons showing or not is unrelated because the operations are on different threads. When you hover do you see the progress `%` change? Are you able to click the database icons and choose "Pause Parsing"?

[2019-11-09 02:17] dwlsalmeida commented on #4418
yes, but it never completes. It either crashes or roll back when I check out a different branch.

yes but it does not help.

My issue is that this basically freezes the UI, even after choosing "low" in the settings.

[2019-11-09 02:19] sean-mcmanus commented on #4102
Yeah, if we had the concept of a "workspace folder" scope, then the third part symbols in the other workspace folders would be excluded, although you would have to open the 3rd party folders in a different workspace folder -- we're in the process of re-writing our multi-root folder support. A "workspace" scope would exclude the symbols from the compiler or other external symbols.

The "Cannot conf

[2019-11-09 02:23] sean-mcmanus commented on #4418
@dwlsalmeida Our extension runs out of process from the VS Code UI, so it's rare that we could cause the UI to freeze until we're causing the entire OS to have problems. What processes do you see using the CPU? Does this problem repro when you disable our C/C++ extension?

Does this repro when you revert to 0.25.1 of our extension via the "Install Another Version..."?

[2019-11-09 02:32] wangzhen11aaa commented on #3829
Vscode 1.40 can not find lldb debug environment when restart
VSCode Version: 1.40
OS Version: mac Cantalina
Steps to Reproduce:

Debug one program using lldb in launch.json.

{
"type": "lldb",
"request": "launch",
"name": "Launch",
"program": "test_priority_queue",
"args": [],
"cwd": "${workspaceFolder}"
}

Vscode will tell you it does not support this type.

You go to extensions market and instal

[2019-11-09 02:36] wangzhen11aaa commented on #3829
Can not start debugging because no launch configuration has been provided. what's this?

[2019-11-09 02:37] wangzhen11aaa commented on #3829
But i have the launch.json.
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [

        {
            "type": "lldb",
            "request": "launch",
            "name": "Launch",
            "progra

[2019-11-09 02:47] wangzhen11aaa commented on #3829
launch.json in .vscode direcotory.
![image](https://user-images.githubusercontent.com/7311971/68521557-46f96980-02dd-11ea-9fb7-e02ff2516453.png)

workspace:
![image](https://user-images.githubusercontent.com/7311971/68521566-5b3d6680-02dd-11ea-8304-879e0d2a63c5.png)

When I use debug:
![image](https://user-images.githubusercontent.com/7311971/68521577-77d99e80-02dd-11ea-8b28-9538c7d32ed2.png)
Then

[2019-11-09 03:43] wangzhen11aaa commented on #3829
I just found the problem. You need to reload the project with some extension named reload.
![image](https://user-images.githubusercontent.com/7311971/68522428-25e94680-02e6-11ea-89a1-ef58270ed2a1.png)

[2019-11-09 05:13] bobbrow commented on #4527
That is correct.  preLaunchTask needs to be the "name" of another task (presumably one that has g++.exe as the "command").

[2019-11-09 05:41] torresdale commented on #4527
It was already that way when I had it installed.
Sorry Im really new to this. Do I delete or or change something ?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bob Brown <notifications@github.com>
Sent: Saturday, November 9, 2019 1:14:10 PM
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: torresdale <torresdale@outlook.ph>; Author <a

[2019-11-09 07:36] DAVIDSystems commented on #4464
I still have the issue in version: 0.26.1
please look to the lower right. I use win10 German, but with en settings in VSC
![image](https://user-images.githubusercontent.com/40237707/68524857-db5ad080-02cb-11ea-96fd-99b608d2f541.png)

[2019-11-09 10:03] blacksky9727 commented on #4527
i have same problem as torresdale. and i'm also new to this.

[2019-11-09 11:19] vic-3pg commented on #429
Support for aarch64 (Jetson Nano) would be awesome! 🚀

Keeping the ball rolling ...

[2019-11-09 13:50] KingaChou opened #4577 "clang-format invalid sometimes"
Issue Type: <b>Bug</b>

The clang-format is normal at the outset. I set the configuration that format on save the file.
But suddenly it is invalid and I have no idea. Even if I use the shortcut key.
I can see the progress of  ms-vscode.cpptools-0.26.1 is running.
After I reopen the workspace, the clang-format is normal again.

Extension version: 0.26.1
VS Code version: Code 1.40.0 (86405ea23e39373

[2019-11-09 14:18] KingaChou commented on #4577
![image](https://user-images.githubusercontent.com/4949336/68529621-8060c200-033b-11ea-80ca-85f7f95083a2.png)
![image](https://user-images.githubusercontent.com/4949336/68529943-bfdcdd80-033e-11ea-8d33-457e551b0cad.png)

[2019-11-09 14:26] michaelafruiz commented on #4527
I have same issue as well.

[2019-11-09 17:27] rhymu8354 commented on #4576
[code]

I don't think any of the includes or defines are wrong.  `Runner.cpp` should be finding `lua.h` and other Lua includes inside of `E:\PROJECTS\MOONUNIT\LUA\SRC` which is in the include path.

Source for `Runner.cpp` is here in github:  https://github.com/rhymu8354/MoonUnit/blob/master/src/Runner.cpp
I also have the Lua source here:  https://github.com/rhymu8354/Lua

A MCVE is [Minimum Compl

[2019-11-10 00:19] moojek opened #4578 "Parameter hints does not support macros"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Manjaro Linux, kernel: 5.0.1-MANJARO
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them): Bracket Pair Colorizer, Discord Presence, HTML Preview, LaTeX Workshop, Material Icon Theme, Noctis, Power Mode, Todo Tree, vscode-pdf
- A clear and conci

[2019-11-10 02:41] zhusjfaker commented on #2456
<details>
<summary>Engine Log</summary>
--> E (output): {"type":"event","event":"output","body":{"category":"console","output":"1: (149) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'\n"},"seq":2}
1: (149) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'
--> E (output): {"type":"event","even

[2019-11-10 02:45] zhusjfaker opened #4579 "cpptools breakpoint doesn't work on vscode"
launch.json

{
    // 使用 IntelliSense 了解相关属性。
    // 悬停以查看现有属性的描述。
    // 欲了解更多信息，请访问: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [{
        "name": "g++ build and debug active file",
        "type": "cppdbg",
        "request": "launch",
        "program": "${fileDirname}/${fileBasenameNoExtension}",
        "args": [
            "--interpreter=mi

[2019-11-10 02:47] zhusjfaker commented on #4579
It's been two days since I tried to fix it   '/usr/bin/lldb' or '/Users/zhushijie/.vscode/extensions/ms-vscode.cpptools-0.26.1/debugAdapters/lldb/bin/lldb-mi'

[2019-11-10 03:32] zhusjfaker commented on #3829
lldb 类型不支持 需要装什么样的扩展吗

[2019-11-10 03:45] ykuchin opened #4580 "Debugger dosn't show variables from std::map when that variable type has configured in natvis"
VSCode Version:
1.40.0
86405ea
x64

OS Version:
Linux portable 5.0.0-32-generic #3418.04.2-Ubuntu SMP Thu Oct 10 10:36:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
GNU gdb (Ubuntu 8.2-0ubuntu118.04) 8.2

Steps to Reproduce:

1. build and run attached project
2. stop at nb.cpp:30
3. look at variable 'm' and 'v' in 'locals'
You can see natvis-configured variables in vector, but you can't see variables

[2019-11-10 15:26] ghost commented on #3829
Mac先要安装微软那个c/c++拓展。然后配置task和launch我目前是vscode最新版，没问题。我的lldb是xcode自带的。

[2019-11-10 19:16] nag11nag opened #4581 "[cppvsdbg] Allow stdin to the debuggee"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 (1903)
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1
- Other extensions you installed: CMake Tools (1.2.1)
- A clear and concise description of what the bug is.
When launching the console debugger, COUT text is displayed correctly. CIN input is not passed to the program.

**To Reproduce**
launch.json:
[launch.json.txt]

[2019-11-11 01:39] SashaOv commented on #4571
Hi @pieandcakes thanks for your reply. When I invoke gdb manually, it stops on breakpoint no problem:
[code]

Do you still think it's a WSL 2 issue? Could be more of a gdb version issue, like you guys cannot parse the output of this version:

[code]

[2019-11-11 08:39] Victsz commented on #3731
@sean-mcmanus after cmake tools update,

I change accordingly
    "C_Cpp.default.configurationProvider": "ms-vscode.cmake-tools",

but the intellisense engine not working
![image](https://user-images.githubusercontent.com/8154646/68573027-d2235c80-04a1-11ea-8da6-b174666df225.png)
I tried cmake reconfigure , windows reload, reset intellisense database

[2019-11-11 09:49] nickaleks opened #4582 "Remote debugging when using Remote Development Extension?"
Type: Debugger

**Describe the bug**
- OS and Version: ubuntu 18.04
- VS Code Version: 1.40.0
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them): Remote Development Pack

I am trying to debug application which is developed on the remote machine using vscode remote development extension. When i go to the debug window, I have configura

[2019-11-11 10:24] a4z commented on #3829
just got hit by the same problem,  Catalina 10.15.1 and Xcode 11.2
wonder what the 'official' recommendation for solving this problem is

here I see 2 different plugin as workaround suggested,

* https://github.com/llvm/llvm-project/tree/master/lldb/tools/lldb-vscode
* https://github.com/vadimcn/vscode-lldb

or, installing just lldb-mi ?

* https://github.com/lldb-tools/lldb-mi
not in brew so far,

[2019-11-11 10:43] nickaleks commented on #4582
Nevermind, I've reloaded vscode and suddenly everything works.

[2019-11-11 10:43] #4582 closed, assigned to nobody

[2019-11-11 13:47] SPAstef commented on #4569
@Colengms the define to use in my system is _USE_POSIX. This is what happens when peeking the definition of a "normal" function. fileno() just points back to the same file where it's being used.
![Schermata del 2019-11-11 14-45-54](https://user-images.githubusercontent.com/9153046/68591892-055def80-0492-11ea-9f09-eae1a56d15e5.png)

[2019-11-11 18:16] bobbrow commented on #3731
@Victsz We didn't change the configurationProvider to `ms-vscode.cmake-tools` yet because we need to make a change to cpptools to support it first.  We plan to support both ids during this transition.  If you change it back to `vector-of-bool.cmake-tools` it should work again.

[2019-11-11 18:24] Colengms commented on #4569
@SPAstef, I do not doubt that the function is not being defined as expected.

Incorrect headers or incorrect defines are generally configuration issues.  The reason I asked about other headers that are not being included as expected, was to rule out the possibility that this specific header is actually being included properly but parsed differently than expected due to additional needed defines, e

[2019-11-11 18:39] SPAstef commented on #4569
Just tried again with a new from-scratch source file, and the function (along usleep() and nanosleep(), using different macros) where actually correctly found. Most likely it's an inclusion order error on my side, I have several sources and headers, have to double-check the inclusion tree. Sorry for the bother :P

[2019-11-11 18:54] Colengms commented on #4569
No bother.  :)   Glad to help.  Since we have https://github.com/microsoft/vscode-cpptools/issues/4573 tracking the symbolic link issue, and the remaining issues in this thread are resolved(?), I'll close this one.  Feel free to re-open if there is something we missed.

[2019-11-11 18:54] #4569 closed, assigned to nobody

[2019-11-11 19:21] sean-mcmanus commented on #4578
The bug repros in VS so I've reported it at https://developercommunity.visualstudio.com/content/problem/815657/cc-intellisense-parameter-hints-highlights-the-wro.html .

[2019-11-11 19:56] sean-mcmanus commented on #4577
What do you mean by "it is invalid"? What symptom or error is occurring with formatting? Are you using a multi-root workspace?

[2019-11-11 20:47] pieandcakes commented on #4571
@SashaOv in looking at the log you provided, `gdb` never stops. This tells me that its either a WSL2 issue or an issue with the gdb that is being provided in WSL2. Either way, it isn't something that the extension can fix. I'm working with another team that is doing some investigation for the issue so we can send information to the WSL2 team.

I think the difference in this scenario is that its be

[2019-11-11 20:52] pieandcakes commented on #2456
@zhusjfaker Please reference pinned issue #3829. Yours is not this issue.

[2019-11-11 20:52] sean-mcmanus commented on #4464
@DAVIDSystems This is bug https://github.com/microsoft/vscode-cpptools/issues/4526 . It will be fixed when our pending 0.26.2-insiders ships (soon). You should also be able to workaround the issue via using Configure Display Language to set it to English (our extension is using German, incorrectly, if the language hasn't been set...we might open another bug on that).

[2019-11-11 20:57] pieandcakes commented on #4579
@zhusjfaker I commented on the other comment you left. This is a duplicate of #3829 because you are using macOS Catalina.

[2019-11-11 20:57] #4579 closed, assigned to nobody

[2019-11-11 21:01] sean-mcmanus commented on #4527
You need to create a build task in tasks.json. See https://code.visualstudio.com/docs/cpp/config-mingw#_create-a-build-task . I don't know how your preLaunchTask got populated with the g++.exe path.

[2019-11-11 21:01] pieandcakes commented on #4581
@nag11nag With `cppvsdbg` (Visual Studio Debugger) there currently isn't a way to pass stdin input other than through a  file with `<` redirection to your application.

If you were willing to switch to using `cppdbg` and one of the available GNU toolsets (MinGW, Cygwin, WSL), that scenario will work.

I'll mark this as a feature request that we need to investigate as to how to fix it.

[2019-11-11 21:32] sean-mcmanus opened #4586 "Add support for 'ms-vscode.cmake-tools' configurationProvider id"
@Victsz We didn't change the configurationProvider to `ms-vscode.cmake-tools` yet because we need to make a change to cpptools to support it first.  We plan to support both ids during this transition.  If you change it back to `vector-of-bool.cmake-tools` it should work again.

_Originally posted by @bobbrow in https://github.com/microsoft/vscode-cpptools/issues/3731#issuecomment-552554283_

[2019-11-11 22:03] blacksky9727 commented on #4527
Thank you for this information. I'll try this if it works for me.

On Tue, Nov 12, 2019, 5:01 AM Sean McManus, <notifications@github.com>
wrote:

[2019-11-11 22:18] slawmilcz commented on #4568
Hi, I don't know if the problem is in your extension or somewhere between gdb and gdbserver.
I see that your extension does provide an option to enable pretty-printers also for the configuration with gdbserver, so I assumed that gdb <-> gdbserver should support it. However I failed to run it successfully on my side and I found no special instructions on your website to apply. So please advice if y

[2019-11-11 23:00] blacksky9727 commented on #4527
Is it the same MinGw? It says MinGw-64w. My school said that i should use
MinGW.

On Tue, Nov 12, 2019, 5:01 AM Sean McManus, <notifications@github.com>
wrote:

[2019-11-11 23:04] pieandcakes commented on #4568
The default json adds that flag if you use gdb. It doesn't necessarily mean it works with gdb <-> gdbserver.

[2019-11-11 23:38] sean-mcmanus commented on #4527
You could change the paths described in the docs to use MinGW instead of MinGW-w64...if your school said to use "MinGW" they could mean either "MinGW" or "MinGW-w64": https://stackoverflow.com/questions/25582110/what-is-the-difference-between-mingw-mingw-w64-and-mingw-builds .

[2019-11-12 01:00] michelleangela commented on #4536
@geusr , can you try the following workaround?

Copy the files `msvcp140.dll` and `vcruntime140.dll` that are in folder:
`C:\Users\%username%\.vscode\extensions\ms-vscode.cpptools-0.26.1\LLVM\bin`

to folder:
`C:\Users\%username%\.vscode\extensions\ms-vscode.cpptools-0.26.1\bin`

Note that for this workaround, these files need to exist in both folders.

[2019-11-12 01:21] Victsz commented on #3731
@bobbrow
 I did not make the change out of no reason.
In fact, after update cmake tools extension without any setting changes, the intellisense is not working then I had to check release log and tried to solve problem by update configurationProvider  setting.
I change back my setting and tired to jump to header  but the blue bar just keep looping
![image](https://user-images.githubusercontent.com/

[2019-11-12 02:42] sean-mcmanus commented on #3731
@Victsz We're releasing a 0.26.2-insiders tomorrow which has a bunch of bug fixes...your issue with CMake tools may be a new issue though that we haven't been able to repro/diagnose yet. Do you know if the regression is caused by the newer version of the C/C++ extension or the CMake extension?

I got CMake Tools to be configured on Linux (it keeps choosing the wrong kit on startup though, but it g

[2019-11-12 03:27] bbkiwi commented on #3104
Hi Sean I'm getting this crash. 0.26.1 with vcode version 1.40 MAC OS X 10.10.5
I also have the same set up on Ubuntu and there is no problem.
[code]

[2019-11-12 03:32] sean-mcmanus commented on #3104
@bbkiwi The crash message is generic, i.e. you're probably hitting a different crash from this particular one that got fixed in March. Are you able to attach a debugger to get a call stack of the crash or provide more repro info, preferably in a new bug?

[2019-11-12 06:44] Saafo commented on #3829
I've also been troubled by this issue in my exam week.....
I spent about three hours last night until 1 a.m. to solve this problem until I found that it is not my mistake here.
I'm using Catalina 10.15.1 and Xcode 11.2.

I've tried about the CodeLLVM extension this noon. It works fine and my breakpoints start to work again. but I've got a problem: How can I enable the external console if I want to

[2019-11-12 07:02] Victsz commented on #3731
It is about the newer verison of CMAKE tools which in my case update just 2 or 3days ago.

Its a remote ssh project from win10 and it can find the kit correctly

I`m not sure about the last question, from my point of view, its not actually parsing the cmake files.

[2019-11-12 07:07] zhangyafeikimi commented on #4422
@leaon4 你的问题是什么?

[2019-11-12 07:20] Victsz commented on #3731
Is it possible to provide a way to rollback CMAKE tools,  I tried pick another version but it`s not working.
![image](https://user-images.githubusercontent.com/8154646/68650382-d57d1d80-055f-11ea-8bec-9dcecfca3eca.png)

[2019-11-12 09:21] bbkiwi opened #4590 "C/C++ language server crash"
**Type: LanguageService**

As requested by @sean-mcmanus in #3104, I'm filing a separate issue for this problem.

**Describe the bug**
- OS and Version: OSX Yosemite 10.10.5
- VS Code Version:

Version: 1.40.0
Commit: 86405ea23e3937316009fc27c9361deee66ffbf5
Date: 2019-11-06T17:09:34.601Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 14.5.0

- C/C++

[2019-11-12 09:42] geusr commented on #4536
@michelleangela Your proposed workaround fixed my problem!

Thanks a lot!
- Roman

[2019-11-12 10:42] slawmilcz commented on #4568
OK, I understand that you don't have any evidence for this feature to work with gdbserver.
Do you have any other extensions with debugging helpers for libstdc++ that could be used successfully for remote debugging with gdbserver? Thank you for your support.

[2019-11-12 11:58] normal-cock commented on #1816
![image](https://user-images.githubusercontent.com/2618306/68669763-46cfc700-0586-11ea-9324-4a1f9d4708f7.png)
![image](https://user-images.githubusercontent.com/2618306/68669776-52bb8900-0586-11ea-88d8-87b5780adf93.png)
Microsoft.VSCode.CPP.Extension.darwin eta out my cpu and memory. The size of memory used is even up to 19GB.

My environment is:

By the way, `Frameworks` and `/Applications/XCode.

[2019-11-12 13:55] dwlsalmeida commented on #4418
@sean-mcmanus actually now I do not think this is caused by this extension. There's countless 'git' and 'sort' instances being spawned by vscode and these are eating all the CPU and RAM. I can also reproduce with this extension off.

edit: Yep, not related to you guys at all, sorry..

[2019-11-12 15:36] leaon4 commented on #4422
@zhangyafeikimi 不好意思，“如何”打成了“如果”。是想请教一下如何关闭翻译功能，还是想看英文的报错提示信息。不知道如何配置

[2019-11-12 17:57] pieandcakes commented on #4568
@slawmilcz [This](http://tomszilagyi.github.io/2018/03/Remote-gdb-with-stl-pp) article seems to solve the gdbserver problem. It looks like a problem with where the pretty printers are located in that they need to be in the same spot on both machines.

Let me know if that helps.

[2019-11-12 18:39] Colengms commented on #1816
Hi @normal-cock .  It looks like the original issue in this thread was tracked down to a problem with parsing the frameworks directory.  There hasn't been activity on this issue since June.  Since excluding Frameworks does not help, I suspect you are seeing a new issue.

What version of the C/C++ Extension are you using?  There have recently been some fixes to issues that could cause these symptom

[2019-11-12 19:21] sean-mcmanus commented on #3731
@Victsz I hit the same issue. See https://github.com/microsoft/vscode-cmake-tools/issues/904 .

If you look at your C/C++ logs you can see the input includePaths the CMake Tools extensions sends us.

[2019-11-12 19:31] andyj513 opened #4592 "Attach not working"
Type: Debugger
- OS and Version: Windows 10 (remote debugging on Ubuntu 18)
- VS Code Version: 1.40.0
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them): I have other extensions installed, but can't disable them all because some are needed for Remote Development
- Attach (to debug) was working, but now does not work

I'm relatively n

[2019-11-12 19:49] sean-mcmanus commented on #4590
If it's crashing on startup, then you won't be able to attach the debugger probably.

If you can get our Microsoft.CPP.Extension.darwin process to run without crashing, then you could attach a debugger via adding the (lldb) attach config, and setting the "program" field to the full path of that executable. You don't need a symbol path set.

One way to potentially pause the executable is to launch

[2019-11-12 19:51] sean-mcmanus commented on #4590
If you could make sure no files are open or if you change your browse.path to be empty, that could potentially avoid the crash (long enough to attach a debugger).

[2019-11-12 19:53] sean-mcmanus commented on #4590
Actually, the Mac OS logs crashes at `<HOME>/Library/Logs/DiagnostiReports` so you might be able to get the crash call stack that way.

[2019-11-12 21:46] michelleangela commented on #2856
Fixed in version 0.26.2-insiders, please try it out and let us know what you think. Vsix is available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders

[2019-11-12 21:47] michelleangela commented on #2528
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:48] michelleangela commented on #4320
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:48] michelleangela commented on #4470
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:48] michelleangela commented on #4504
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:49] michelleangela commented on #4510
Rename experience improved in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:49] michelleangela commented on #4526
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:50] michelleangela commented on #4536
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:51] michelleangela commented on #4586
Support added in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:51] michelleangela commented on #3980
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:52] michelleangela commented on #3979
Default cache path updated for Mac and Linux in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:53] michelleangela commented on #4119
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:54] michelleangela commented on #4409
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:56] michelleangela commented on #1560
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 21:59] michelleangela commented on #4420
Fixed in version 0.26.2-insiders, available at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders.

[2019-11-12 22:42] joelspadin-garmin commented on #4243
I'm seeing an issue with the same symptoms and log output, but in a completely different scenario.

* OS and Version: Ubuntu 18.04.3 LTS and Windows 7 (6.1.7601)
* VS Code Version: 1.40.0
* C/C++ Extension Version: 0.26.1

I'm working on a project which uses a gdbinit script to connect to a remote ARM Linux device via SSH. When I debug from a Windows machine, our toolchain has GDB version 8.0, and

[2019-11-12 23:01] pieandcakes commented on #4243
Hi @joelspadin-garmin,

Can you make sure that you have `engineLogging` set for the Linux scenario? I need the `gdb` logging.

Can you also run: `-list-target-features` on the Linux `gdb` and let me know if `async` is available?

Are you using `ssh` to run `gdb` on the ARM device? The `launch.json` is not showing enough information for me to duplicate this scenario.

If you don't want to post here

[2019-11-12 23:55] slawmilcz commented on #4568
Yes, this article was very helpful for me to understand how to set up pretty-printers for remote debugging with gdbserver. For the configuration with both local and remote machines running on Ubuntu 18 all I had to do was create on the local machine in its home directory the .gdbinit file with correct path to the libstdc++ pretty-printer. Many, many thanks for your help!

[2019-11-13 00:24] Colengms commented on #1489
Do we have a way to repro this?  "the includePath code action shouldn't prompt to add paths that already exist in the includePath"

My understanding is that if the path already existed in the includePath, intelliSense should have found the file, and shouldn't have squiggled.  Removing duplicates would seem to be addressing a symptom.  Perhaps the real issue is lingering of stale squiggles (from be

[2019-11-13 00:48] reservoirinvest commented on #2925
I had the exact same problem and was struggling. It really is wierd.

Looks like manually editing file in JSON in vs code introduces extra invisible characters. This would be a question to developers?

[2019-11-13 02:18] Colengms commented on #1110
It looks like "Visual Studio" is a synthetic clang-format style.  For that style, we construct a command line to clang-format based on the LLVM style, with an IndentWidth and TabWidth based on the VS Code tab size, and various other settings.  For all other styles, we are using the predefined clang-format styles without changes.

Is this by-design, or should we always override the clang-format sty

[2019-11-13 02:29] ruokid commented on #3829
**"terminal": "external"**

[2019-11-13 02:31] KingaChou commented on #4577
Thank you for your reply.
Just like what the picture 2 show, when I save the 'test.cpp', it doesn't do the clang-format, which the space and tab is still exist.
After I close the workspace and reopen it, I save the 'test.cpp' again, it can do clang-format is normally.
The problem and ouput dialog of the terminal also show nothing wrong.
I guess if something file not ok affect it, such as wrong gra

[2019-11-13 02:33] bbkiwi commented on #4590
Hi Sean, My son Colin who is a professional developer has been helping me. He wrote this bug report. I looked and found a crash report as above which I will attach. He is away now. Cheers, Bill
Note I upgraded to the lastest insider.

[Microsoft.VSCode.CPP.Extension.darwin_2019-11-13-132439_Guests-MacBook-Pro.crash.txt](https://github.com/microsoft/vscode-cpptools/files/3839157/Microsoft.VSCode.CP

[2019-11-13 03:55] sean-mcmanus commented on #4590
The crash is occurring in the global scope constructor of an unordered_set:
0   Microsoft.VSCode.CPP.Extension.darwin	0x000000010603b1d3 std::__1::unordered_set<std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> >, std::__1::hash<std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > >, std::__1::equal_to<std::__1::basic_string<char,

[2019-11-13 04:18] dstodev opened #4594 "CTest Status Bar Formatting"
Type: General

Formatting of the text for CTest in the status bar appears malformed.

**Describe the bug**
- OS and Version: Windows 10 -- Version 10.0.19013 Build 19013
- VS Code Version: 1.40.0
- C/C++ Extension Version: 0.26.2-insiders
- Other extensions you installed (and if the issue persists after disabling them): Issue persists when _only_ cmake-tools is enabled (including disabling the C/C

[2019-11-13 05:03] Saafo commented on #3829
It works! Thanks very much.
BTW, could you please tell me how do you know we should use the "terminal:external" key-value in launch.json? Is there any documents?

[2019-11-13 06:19] escape0707 opened #4595 "Linting: in-class friend function not identified."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux x64 5.3.10-arch1-1
- VS Code Version: 1.40.0
- C/C++ Extension Version: 0.26.2-insiders

In-class friend function definition not identified by linter/parser.

**To Reproduce**

Open `test.cpp` which contains the following code:

[code]

**Expected behavior**

Don't report problems as `g++` doesn't complain during compilation.

[2019-11-13 07:02] windless0530 commented on #4192
Thanks.

And yes, now I can 100% reproduce the issue by this way:
1. make a.h in the left group and a.cc in the right group.
2. focus on another doc in the left group.
3. focus on a.cc in the right group.
4. press key shortcut, trying to switch to a.h

Sounds that the lack of API you mentioned can explain.

[2019-11-13 09:31] Lennon925 opened #4596 "Remote development"
- VS Code Version: 1.40
- Remote Development: 0.17.0

maybe this question is not related with cpptools extension. But I think you maybe encounter it and know how to solve it.

Currently I use remote development to develop extension which can run on linux. My extension source code is on the linux machine and on windows I use remote development to open source code and start to debug. But extension a

[2019-11-13 09:49] felwolff commented on #3139
I may have a similar problem here. I get the "Failed to create IntelliSense client for .../config.h", where config.h is created by autotools. This results in many inactive code region which are protected by ifdefs defined in config.h. This is super annoying and pretty hard to work with.
Unfortunately, it's hard to reproduce, it only occurs in this one project. I'm using v0.26.2-insider. How can I

[2019-11-13 11:45] JoelSantosRico opened #4597 "Random "cannot open source file NNNN.h" errors break intellisense"
**Type: LanguageService**

**Describe the bug**

From time to time, the extension will be unable to find a library and will disable intellisense for the whole translation unit. The path to that library, and any dependency of that library, is set in the settings file, as intellisense works some times. I can ctrl+click on it and the "missing" file will open. Also, given that the path for those files

[2019-11-13 13:52] SanjayVyas commented on #4524
Now I am running ONLY C++ extension and no other extension, yet face the default formatter corruption

[2019-11-13 14:02] g-arjones commented on #2856
@michelleangela @Colengms Does not work for me, unfortunately. I still have to open the source file first. Does the extension recognize .cc and .hh as sources and headers?

[2019-11-13 14:59] Radik0 opened #4598 "vs code 找不到头文件(header file not found)"
[code]
C:\Users\15873>clang -v
clang version 9.0.0 (tags/RELEASE_900/final)
Target: x86_64-pc-windows-msvc
Thread model: posix
InstalledDir: C:\Program Files\LLVM\bin

这是配置的 clang 和mingw

下面是配置后出错
系统 win10
vs code 版本版本: 1.40.0 (user setup)
提交: 86405ea23e3937316009fc27c9361deee66ffbf5
日期: 2019-11-06T17:02:13.381Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Wi

[2019-11-13 16:31] E-train-Liu opened #4600 "Inconsistent Language with VSCode"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Family
    - Original Default Language: zh-CN
    - Display Language set to: en-US
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them): No
- A clear and concise description of what the bug is.

    The Snippet Suggestions given by C/

[2019-11-13 17:40] michelleangela commented on #4594
@dstodev, this seems like an issue with the cmake-tools extension and not the C/C++ extension if the issue still persists when C/C++ extension is disabled. Please report the issue at the [cmake-tools repository](github.com/microsoft/vscode-cmake-tools/issues).

[2019-11-13 17:40] #4594 closed, assigned to nobody

[2019-11-13 17:44] joelspadin-garmin commented on #4243
`engineLogging` is already true in my `launch.json`. Did you want me to provide logs where that is the _only_ logging option set, or is there some logging you're expecting that isn't showing up?

Both Linux and Windows versions of GDB output this, so it looks like async is not available.

[code]

Yes. The custom `-target-select` command from my launch.json is implemented by the gdbinit script and

[2019-11-13 18:21] Colengms commented on #4600
Hi @E-train-Liu .  Is all text associated with the C/C++ Extension in Chinese?  Could you check the C/C++ output channel?  And, perhaps check the strings used in the Find All References or Rename UI ?

Could you try the following and let us know if it works around the issue? :
 - Install a language pack
 - Switch the language
 - Switch the language back to English

[2019-11-13 18:21] michelleangela commented on #4597
@sean-mcmanus, is this a multi-root issue?

[2019-11-13 18:31] SanjayVyas commented on #4524
The problem definitely seems to be with C++ extension and default formatter. VS code is now unusable to write C++ code as I scared I will lose the code when it gets formatted. It doesn't start immediately, but happens after editing for a while. Once it happens, the code is munged and unrecoverable. I have to manually recall what I had written and fix line by line.

[2019-11-13 18:38] michelleangela commented on #4524
Do you have any format settings configured? Such as `editor.defaultFormatter` or `C_Cpp.clang_format_path`, `C_Cpp.formatting`?

[2019-11-13 18:53] bobbrow commented on #1110
We could add a setting that allows you to override the tab width with the one provided by VS Code.  This would be a feature request.

[2019-11-13 19:01] dstodev commented on #4594
Oops, my mistake--I thought that's where I posted this issue, but I read the repo names too quickly and saw microsoft/vscode-cpptools as microsoft/vscode-cmake-tools. I'll post this issue there instead.

[2019-11-13 19:18] joelspadin-garmin commented on #4243
I just now discovered that you probably meant I should run `-list-target-features` while the debugger is attached to the remote device. If I run `-exec -list-target-features` in VS Code's debug console, it looks like async **is** available.

[code]

I also tried compiling GDB 8.3.1 from source for ARM, and it behaved the same way as the version 7.11.1 that is part of our toolchain, so I don't thin

[2019-11-13 19:23] Colengms commented on #4595
Hi @escape0707 .  Thanks for reporting this.  The C/C++ Extension shares common code with Visual Studio for IntelliSense.  I was able to reproduce something similar in Visual Studio, and have opened the following:
https://developercommunity.visualstudio.com/content/problem/819122/incorrect-squiggle-on-use-of-in-class-friend-funct.html

[2019-11-13 19:28] pieandcakes commented on #4243
@joelspadin-garmin I was looking for the `gdb` output for the Linux scenario and all that is in the block above is the VSCode Protocol messages. I see now that the linked issue is the same problem. Let me see if i can track down a raspberry pi and try gdb <-> gdbserver.

[2019-11-13 20:57] Colengms commented on #3883
I'm fairly confident this issue is covered by [this](https://developercommunity.visualstudio.com/content/problem/714374/intellisense-error-unable-to-assign-type-to-own-ty.html) VS issue.  It's related to fragment parsing, and a reparse of the TU causes the squiggle to resolve itself.  It does repro in VS, however VS will reparse the TU more aggressively than we do in VS Code.

[2019-11-13 23:30] Colengms commented on #3892
Hi @Lennon925 .  Can you provide a few repro scenarios?  Or, perhaps some screenshots?

I've cloned the Linux repo, set compilerPath to MinGW, and set intelliSenseMode mode to gcc-x64.  I am seeing various squiggles due to platform headers that aren't available (i.e. arpa/inet.h) and some headers that appear to be generated at build time.  Because of that, I'm seeing a lot of missing types and def

[2019-11-14 02:21] risalfajar commented on #882
Still waiting for this feature to be implemented. It is this feature that keeps me using CLion instead of VSCode.

[2019-11-14 04:19] ChihweiLHBird commented on #2506
I would like to run VS Code on the surface pro x in the future. ^_^

[2019-11-14 08:05] nemo-rui-chen opened #4602 "Outline view can't refresh with adding "**/.*" in File.exclude"
Issue Type: <b>Bug</b>

Outline view will refresh itself if I change the files like exchange the position of any two functions.
However, when I add a item "**/.*" in "File.exclude " setting and exchange functions in the same way, it can't refresh.  After I remove the item and restart vscode, It can work again.

Extension version: 0.26.1
OS version: Windows_NT x64 10.0.17763

<details>
<summary>Sys

[2019-11-14 08:37] normal-cock commented on #1816
Hi @Colengms . Thanks for your quick reply.
The version of my C/C++ Extension is `0.26.1`. The issue occur only if I enable the C/C++ extension and open a C/C++ source file.

The sample file has been attached.
[“Microsoft.VSCode.CPP.Extension.darwin”的取样.txt](https://github.com/microsoft/vscode-cpptools/files/3845424/Microsoft.VSCode.CPP.Extension.darwin.txt)

[2019-11-14 10:05] mcxiaoke commented on #3326
Same issue for me. "Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin" is using 6.8 GB memory, auto complete and code formatting not working sometimes.  Visual Studio Code 1.40.1 macOS 10.14.6

[2019-11-14 12:01] Mirko-von-Leipzig commented on #2887
Using the clang-format from PATH would be great. Spent quite some time trying to figure out why my `clang-format -dump-config` wasn't working.

[2019-11-14 13:15] anatolyburakov opened #4603 "IntelliSense: no support for GCC alignment attrubite"
Issue Type: <b>Bug</b>

The following code compiles fine:
[code]
but produces an IntelliSense error because it does not take the `__attribute__((__aligned__(16)))` into account.

Extension version: 0.26.1
VS Code version: Code - Insiders 1.41.0-insider (c408a2c02d78982b1f83819c587c02bb59af9f93, 2019-11-13T06:25:23.355Z)
OS version: Windows_NT x64 10.0.17763
Remote OS version: Linux x64 4.15.0-70-g

[2019-11-14 16:08] andyj513 commented on #4592
I've disabled all Extensions except "Remote - SSH", "Remote Development" and (on the remote machine) "C/C++".  Also, it looks like VS Code updated to 1.40.1.  Remote Debugging (with Attach) still does not work, but now has slightly different behavior.  Now, after I select the process to attach to, the debugging toolbar does appear.  But there is a moving/scrolling line under the Debug header which

[2019-11-14 18:12] Colengms commented on #1816
Hi @normal-cock .  Based on your stacks, the CPU usage is related to tag parsing, and perhaps resolving of recursive includes.

Is this a very large codebase?  Tag parsing will parse all of the files in your workspace.  If this hasn't been done before, or hasn't been able to complete, it can take quite a while, particularly if there are a lot of files to scan.  During this time, it's expected that

[2019-11-14 18:15] mdzahidh opened #4605 "Can't create IntelliSense client for <filename>"
Hi I am seeing these errors/warning a lot, pretty much for every file in my project lately.

There are two issues:
1.
[code]

2. Sometimes when I CTRL+Click, the Find all references pops up and fails. Why is it popping up Find all Ref ?

The filename has no special character or anything. This happens in both my Linux box and Windows box.

What might be happening ?

[2019-11-14 18:16] Colengms commented on #3326
Hi @mcxiaoke .  Could you try the latest insiders ([0.26.2-insiders](https://github.com/Microsoft/vscode-cpptools/releases)) ?  This build addresses an issue with memory usage of the IntelliSense process.

[2019-11-14 18:31] michelleangela commented on #4603
Thank you for reporting this issue.

The C/C++ extension uses the same IntelliSense engine as C++ IntelliSense on Visual Studio and this issue was reproducible on Visual Studio. I filed the bug at https://developercommunity.visualstudio.com/content/problem/820990/intellisense-no-support-for-gcc-alignment-attrubit.html

[2019-11-14 18:34] xNMCx opened #4606 "Breakpoints not working on VS Code 1.40 (Manjaro 18.1 - GDB debugger)"
Type: Debugger

- OS and Version: Manjaro 18.1
- VS Code Version: 1.40
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them): Git Graph 1.18 (It does)
- A clear and concise description of what the bug is. I simply put a breakpoint in my code (it doesn't matter where because I always get the exact response) and it just ignore it.

This i

[2019-11-14 19:03] michelleangela commented on #4605
Which version of the extension does the issue occur on? Can you share the following 2 logs:

1. Log from running the command `C/C++: Log diagnostics`
2. [Logs for the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server).

[2019-11-14 19:11] michelleangela commented on #4598
@Radik0, can you clarify if the error is from IntelliSense or from trying to compile the code? Are you using gcc for IntelliSense and Clang for compiling?

Is 问题描述：在编译程序的时候显示找不到头文件 translated correctly as "Problem Description: Display header file not found when compiling program"?

[2019-11-14 22:20] bobbrow commented on #1767
I believe we actually addressed this last year, but we lost track of this issue.  If you continue to have a problem with this, please let us know.

[2019-11-14 22:20] #1767 closed, assigned to nobody

[2019-11-14 22:33] bobbrow commented on #1906
We disabled this fallback scenario, so all squiggles are red now.

[2019-11-14 22:33] #1906 closed, assigned to nobody

[2019-11-14 22:37] bobbrow commented on #1931
We added support for the \*\_builtin\_\* functions to IntelliSense last year, but lost track of this issue.  Please let us know if you need anything else.

[2019-11-14 22:37] #1931 closed, assigned to nobody

[2019-11-14 22:47] bobbrow commented on #1969
Closing older issues.  If you continue to experience this problem, please send us the logging information requested, as well as the output of running the "Log Diagnostics" command.  Thank you!

[2019-11-14 22:47] #1969 closed, assigned to nobody

[2019-11-14 23:59] E-train-Liu commented on #4600
1. Yes, it seems all text in C/C++ extension have such problem. And I recently found that the popup info generated by C/C++ extension is also in Chinese. See the screenshot below. I am sorry I am too busy recently to test those thing. I'll try my best to give the testing result soon .

    ![image](https://user-images.githubusercontent.com/38714576/68905888-90611300-073a-11ea-99cf-036ec501175a.png

[2019-11-15 00:56] Prj1508 opened #4607 "Specifying miDebuggerPath in launch.json file for a container debug"
Type: Debugger

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll dow

[2019-11-15 01:03] Prj1508 commented on #4607
OS and Version: Ubuntu 16.04
VS Code Version: /C++ Extension Version:0.26.1
Other extensions you installed (and if the issue persists after disabling them):
A clear and concise description of what the bug is.

I am trying to debug C++ code in a container and in launch.json file, I have specified debugger path as
"miDebuggerPath": "/usr/bin/gdb",

but VS code complains
"Unable to start debugging. T

[2019-11-15 01:36] Colengms commented on #4600
Hi @E-train-Liu .  The last image you posted contains a string provided by a library we are using for localization, [vscode-nls](https://github.com/microsoft/vscode-nls).  Since the C/C++ Extension is not attempting to determine the proper language in that case, I believe this is an issue with VS Code and the vscode-nls library.  I've opened an issue here: https://github.com/microsoft/vscode/issue

[2019-11-15 02:21] rewrking opened #4608 "Support adding source/header extensions for Switch Header/Source functionality"
- OS and Version: Windows 10
- VS Code Version: 1.40.1
- C/C++ Extension Version: 0.26.2-insiders

I have a codebase I'm writing right now where template implementation code is split up into .inl files (also typically used for inline/constexpr functions). While they're mainly just to keep header files "clean", I was thinking it would be nice to be able to swap to them from the header files themsel

[2019-11-15 06:08] Victsz commented on #3731
@sean-mcmanus  After cmake 1.2.2 I can jump to header definition.
But the intellisense engine does not prompt for variables.
![image](https://user-images.githubusercontent.com/8154646/68920762-3fd8cc80-07b1-11ea-8e82-b0673c59e01d.png)
![image](https://user-images.githubusercontent.com/8154646/68920784-5d0d9b00-07b1-11ea-8378-d67349455310.png)
![image](https://user-images.githubusercontent.com/8154

[2019-11-15 08:52] nico87 opened #4609 "High CPU usage after switching GIT branch"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.40.1
- C/C++ Extension Version: 0.26.1
- Other extensions you installed (and if the issue persists after disabling them): native debug and SSH FS. The issue persists after removing them

When I switch branch using the system terminal outside VS Code, the cpp extension spikes the CPU at 100% and does

[2019-11-15 11:36] nunojsa opened #4610 "Missing struct auto-complete on definition"
- OS: Arch Linux and Ubuntu18.04
- VS Code Version: 1.40
- C/C++ Extension Version: 0.26.2
- Other extensions you installed (and if the issue persists after disabling them): Docker, Markdown, CMake, DeviceTree (and the issue persists after disabling them).

I guess this is more a feature request than actually an issue.
This feature is something I had in previous IDE's and, although it's not the mo

[2019-11-15 13:09] CodeLife2012 opened #4611 "How to get the lldb Interactive Interpreter?"
Can't find any place to input lldb command(bt, thread, expr...).  Try to run it in debug console.

![image](https://user-images.githubusercontent.com/4277861/68945588-b1357100-07eb-11ea-8760-858ccc45b4e9.png)

My launch.json:
[code]

[2019-11-15 13:55] esride-jts opened #4612 "Access violation when using x64 MSVC C++ Debugger"
Type: Debugger

**Describe the bug**
- OS and Version: Windows x64 10.0.177763
[main-dump.zip](https://github.com/microsoft/vscode-cpptools/files/3851745/main-dump.zip)

- VS Code Version: 1.40.1
- C/C++ Extension Version: Version 0.26.2-insider: November 12, 2019

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
Steps to reproduce the behavior:
1. Compile and debug

[2019-11-15 14:09] blooop commented on #4465
I have classes similar to  "foo_interface" but not a namespace with "interface" by itself.  I noticed the problem when I ran the capt'n proto interface generator that produces header files and .cpp files based on the .capnp definition files.    A quick look at the autogenerated files do not seem to use interface as part of the namespace either but there might be files in capt'n proto library that

[2019-11-15 16:51] karan-k-deepr commented on #4409
Yeah, it is working fine. CHEERS

[2019-11-15 17:37] prideout opened #4613 "Feature request: open a header file, ask why it is (or isn't) indexed."
I would love to find out why Intellisense is (or isn't) parsing a particular file, so that I can figure out how to fix my exclusion / inclusion lists.  Imagine if I could open a header file and do "C/C++: View IntelliSense information for current file", which would show me if the current file is being indexed, and if so, the list of rules that led to it being indexed.

[2019-11-15 17:37] prideout commented on #4613
Some more context:

This is probably due to some global configuration on my machine but I can't figure out why `CPP.Extension` has recently been consuming 100% CPU on my machine, even for small projects with minimal content in their `c_cpp_properties.json`. Here's one of my typical config files:

[code]

I enabled Debug logging and noticed some redundancy in the global locations that are being ind

[2019-11-15 18:19] ashanhol opened #4614 "Intellisense (and most features of this extension) Not Working"
Fact: **My code is able to build correctly using non vscode command line and goma build tools. I have copied my c_cpp_properties.json against someone who's C/C++ extension works correctly on this code base and they are identical.**
Expect: Features of this extension expected to work correctly.
Actual:
- "Go to definition" frequently sits and spins without producing result. Inconsistently able to w

[2019-11-15 19:30] Colengms opened #4615 "Find All References and Rename UI's should sort alphabetically by filename"
FAR and Rename UI isn't currently sorting the list of files, making it very difficult to find the file you're looking for if the list is long.

[2019-11-15 19:40] laicore commented on #877
hi, there is a problem with input during debugging, the debugging console does not allow you to enter anything, and no other window opens
launch.json
[code]

[2019-11-15 20:04] Colengms opened #4617 "Find All References and Rename not leveraging existing TUs"
I have a header-only library.  There is 1 source file that includes all of the headers.  The source file is correctly selected to create the translation unit, when any of the headers are opened.

However, if I use Find All References, or Rename, a bunch of additional IntelliSense processes are spawned.  Since every header should already be in the single existing TU, it should not be necessary to s

[2019-11-15 20:56] sean-mcmanus commented on #4596
Yeah, we have hit the same issue and haven't found a solution. My workaround was to install a "debug" vsix on the remote machine that had more logging.

I found the issue you posted at https://github.com/microsoft/vscode-remote-release/issues/1830 .

[2019-11-15 21:13] #4596 closed, assigned to nobody

[2019-11-15 21:34] Colengms commented on #2856
@g-arjones .  Could you provide the output from "Log Diagnostics" after opening the header?  That will show what source file was selected for the header.

Are you using the cmake-tools extension?  If so, you will need at least v1.2.2, as there was an issue that could could the source file path not to be included in the browse path.

[2019-11-15 21:51] sean-mcmanus commented on #4597
The repro as described is multi-root, so the root cause could be due to that.

@joel-felcana Are you able to repo the issue with only 1 workspace folder? We're re-writing our multi-root implementation which could fix this.

[2019-11-15 21:57] sean-mcmanus commented on #4524
Is this a multi-root workspace?

[2019-11-15 22:10] sean-mcmanus commented on #4602
Looks like a bug with our exclusion parsing code.

[2019-11-15 22:15] sean-mcmanus commented on #1816
Yeah, it's stuck enumerating files -- same root issue as https://github.com/microsoft/vscode-cpptools/issues/3123 .

[2019-11-15 22:18] sean-mcmanus opened #4618 "Pick the clang-format in PATH over the one bundled with the extension"
The right thing to do is to pick the clang-format in PATH over the VSCode one.

_Originally posted by @ncihnegn in https://github.com/microsoft/vscode-cpptools/issues/2887#issuecomment-487843841_

[2019-11-15 22:25] sean-mcmanus commented on #4605
In regards to issue 2: VS Code Insiders is invoking Find All References when Ctrl+Click (or go to def) is invoked on the definition itself. There's a thread at https://github.com/microsoft/vscode/issues/73081 .

[2019-11-15 22:30] sean-mcmanus commented on #3731
@Victsz I don't understand. What does "edit configurations: [["includePath"]]" mean? Is there a bug still? With CMake Tools or the C/C++ extension?

[2019-11-15 22:45] Colengms opened #4619 "Chinese language strings are not displayed on systems with case-sensitive file systems"
There is a casing mismatch between the local identifier used for Chinese (zh-tw/zh-TW, zh-cn/zh-CN), and the folder/file names containing localized strings.  As a result, on Linux, switching to Chinese (traditional or simplified) results in English strings.

[2019-11-15 22:53] sean-mcmanus commented on #4610
I filed a bug for VS at https://developercommunity.visualstudio.com/content/problem/822907/cc-intellisense-list-members-doesnt-work-with-desi.html .

We added support for designated initializers for C++20 (see https://github.com/Microsoft/vscode-cpptools/issues/3491 ). However, we may need to more support for the C99 extension.

[2019-11-15 22:58] sean-mcmanus commented on #4465
@blooop "foo_interface" should be okay. Does your issue still repro with 0.26.2-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.2-insiders .

If it's still not fixed, are you able to attach a debugger to the process using CPU and get a call stack?

[2019-11-15 23:29] sean-mcmanus commented on #4614
Can you use the C/C++: Log Diagnostics command to see what includes and defines we're using and if they're incorrect? By default we use recursive includes, which doesn't give 100% correct result in all workspaces (e.g. if the non-deterministic includePath ordering causes the wrong file to get used).

I tried a version of chromium and wasn't able to repro the bug.

Go to Def on `#include` lines doe

[2019-11-16 01:13] mdzahidh commented on #4605
ah, falling back to Peek References may work for other language but for the C/C++ it gives a pretty horrible experience as it out of nowhere locks up all intellisense ! :(

[2019-11-16 07:16] zhangyafeikimi commented on #4422
把语言插件停用就变成英文了

[2019-11-16 07:55] xgdgsc commented on #4614
I also began to see this intellisense not working properly since maybe a day or two. Might after vscode update?

here' s my ` C/C++: Log Diagnostics command` output. I tried reinstalling C++ extension. This is stable version, not insider version.

[code]

[2019-11-16 07:58] xgdgsc commented on #4614
Just tried insider build and also not showing auto complete correctly.

[2019-11-16 09:59] yaqwsx commented on #1914
@sean-mcmanus Thanks, it seems it was caused by #4470.

[2019-11-16 14:33] moojek commented on #4578
Thank you

[2019-11-16 16:40] anatolyburakov opened #4622 "IntelliSense sometimes missing inner class definitions"
The following code is displayed fine whenever C++ file is just opened:

[code]
If i edit the return type to be wrong, we (predictably) get errors about incorrect type, and about declaration/definition mismatch:

![2019-11-16_16-37-36](https://user-images.githubusercontent.com/37181601/68996260-800e7c80-088f-11ea-933d-b4462424fad4.png)

However, if i then edit the definition back, the error about t

[2019-11-16 19:46] E-train-Liu commented on #4600
I recently found that the problem may really caused by my Windows 10.

My initial windows edition installed is "Windows 10 Family Chinese Edition" (Not equivalent to Window 10 Family whose displaying language was set to zh-CN, the "Chinese Edition" not let the user to choose displaying language except zh-CN). My organization update my Windows to "Windows 10 Family". Then, I change the displaying l

[2019-11-16 23:01] gb-esat commented on #4089
Would it be possible to support variable highlighting for @param[in,out]? Thanks!

http://www.doxygen.nl/manual/commands.html#cmdparam

![Untitled](https://user-images.githubusercontent.com/56022622/69000279-d207de80-0931-11ea-9a4e-1ed872717849.png)

[2019-11-16 23:15] matter123 commented on #4089
@gb-esat Created https://github.com/jeff-hykin/cpp-textmate-grammar/issues/418 for that

[2019-11-16 23:32] janwilmans commented on #407
![image](https://user-images.githubusercontent.com/5933444/69000544-a6eda280-08d1-11ea-91f5-d7aa7e9b1d00.png)

I don't care who fixes it, could you please resolve it amongst yourselves, fix the relevant issue and close the other.  see https://github.com/microsoft/vscode/issues/84977

[2019-11-17 03:10] xgdgsc commented on #4614
It started working well for me after reinstalling stable release after trying insider.

[2019-11-17 03:36] normal-cock commented on #1816
I've found the reason of the issue in my condition. In my workspace, there's a [Ant-d](https://ant.design/index-cn) project which contains a `node_modules` folder where there are a large number of intermediary files. I've tried to add `**/node_modeules` in  `files.exclude` so that `node_modules` would not be scanned. However, `file.exclude` doesn't work as my expect because of issue as https://git

[2019-11-17 07:01] pidanself commented on #3829
[MANUAL](https://github.com/vadimcn/vscode-lldb/blob/v1.4.0/MANUAL.md) contains these informations. And I have a question. My output couldn't display in terminal when debugging like this:
<img width="1440" alt="截屏2019-11-17下午3 00 56" src="https://user-images.githubusercontent.com/42794155/69004250-12c02180-094b-11ea-88bd-3e3f0dea8a1e.png">

[2019-11-17 07:29] DeaglePC commented on #877
very good!!!!!!!!it's works for me!!!!!!

[2019-11-17 07:30] DeaglePC commented on #877
just set `"pipeProgram": "bash.exe",`   not  `"pipeProgram": "C:\\Windows\\Sysnative\\bash.exe",`

[2019-11-17 07:53] Saafo commented on #3829
Maybe you should go to your desktop to see if there is the terminal.app here....

[2019-11-17 08:01] keipei25 commented on #4527
hi,
did anyone already solve this issue? we have the same problem and i have been dealing with this for almost 2 months. and still couldn't find the answer. not sure why my school provides invalid codes for beginners like me.

[2019-11-17 08:10] RigoLigoRLC commented on #4605
https://pasteboard.co/IH4Ekzg.png
I'm having the same problem with the latest version of C++ Tools plugin 0.26.2-insiders. The elements.hpp file was working fine last night and it suddenly died today. Deleting the entire plugin folder and reinstalling it don't work out.

@michelleangela here are my logs, if you'd like to see

C/C++ Log Diagnostics output:
https://pastebin.com/mTyrW9pu
C/C++ Debug

[2019-11-17 08:18] pidanself commented on #3829
可以弹出终端并正常调试，但是在调试的过程中我的代码中printf输出的内容不会显示在终端上，只有调试结束后内容才会显示在终端，不知道这是否算是正常？

[2019-11-17 09:01] blacksky9727 commented on #4527
Yeah. Same
I really don't know how to fix it. I don't know anything about it. And the
professor of the subject didn't answer my questions and emails. How am i to
know any of this? I'll definitely have a fail grade in this class.

On Sun, Nov 17, 2019, 4:01 PM keipei25, <notifications@github.com> wrote:

[2019-11-17 09:04] blacksky9727 commented on #4527
Someone gave me a help about it but not sure of it. Because it says MinGW
-w64 not MinGW . The school said use MinGW.

On Sun, Nov 17, 2019, 5:00 PM sky black, <darkskyblack97@gmail.com> wrote:

[2019-11-17 09:23] torresdale commented on #4527
Still cant fix it 😥

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: blacksky9727 <notifications@github.com>
Sent: Sunday, November 17, 2019 5:04:18 PM
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: torresdale <torresdale@outlook.ph>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vscode-cpptools] Could not find the task 'C

[2019-11-17 09:31] blacksky9727 commented on #4527
If i can't still fix it. I might need a real IT to fix it. I don't know any
IT so that might be difficult. But i need to find a way to fix it or else i
might fail. Just let me know if you fix it too. If i can't fix it, i can't
do the machine problem that i need to do.😥😭

On Sun, Nov 17, 2019, 5:23 PM torresdale, <notifications@github.com> wrote:

[2019-11-17 17:11] michaelafruiz commented on #4527
Hey guys,

See the link For the same issue

https://github.com/jmadoremos/amaoed-cpp-template/commit/710912524e78959c9e20a1922ff1894e5b872541

Please create a ticket/post a student concern on our online portal and ask for the updated project/source folder. I’m just not sure guys if I can provide you here the project/source folder due to data privacy of our school. Our professor will definitely
 pr

[2019-11-17 22:07] blacksky9727 commented on #4527
She isn't responding to any of my emails though. Some of the professors l
responds if you directly email them. And what kind of ticket/post a concern
should i do? They are too many and i can't find the right one. Like
academic concerns,content dev etc.

On Mon, Nov 18, 2019, 1:12 AM Michael Angelo, <notifications@github.com>
wrote:

[2019-11-17 22:35] zrno commented on #1410
The vscode update 1.38 added support for data read/write breakpoints. Would it be now possible to integrate that feature into this extension?

[2019-11-17 23:25] michaelafruiz commented on #4527
Academic concerns then lesson/module/presentation topic inquiry

[2019-11-18 05:08] xgdgsc commented on #4614
I was wrong, completion of type works but not class methods

[2019-11-18 06:27] Wanye1062271859 opened #4623 "[Internal testing] Only one message "The terminal process terminated with exit code:1" show on terminal window after building project"
According to the tutorial: https://code.visualstudio.com/docs/cpp/config-msvc
Configure the c_cpp_properties.json, launch.json and tasks.json and create helloword.cpp.
After building the project, only one message "The terminal process terminated with exit code: 1" show on the terminal window

![image](https://user-images.githubusercontent.com/29274719/69029071-e4a41580-0a0e-11ea-9e5d-72d1b8638be0.

[2019-11-18 06:50] Wanye1062271859 opened #4624 "[internal testing] Debug failed with error tips "Invalid 'cwd' value ' C:\Windows\System32\MSVCprojects\helloworld\helloworld.cpp'. The system cannot find the path specified. ""
According to the tutorial: https://code.visualstudio.com/docs/cpp/config-msvc, Debugging the sample project after creating helloworld.cpp, the error " **Invalid 'cwd' value ' C:\Windows\System32\MSVCprojects\helloworld\helloworld.cpp'. The system cannot find the path specified.** " pops up, actually the helloworld.cpp is existing.

![image](https://user-images.githubusercontent.com/29274719/690303