[2018-02-13 22:54] sean-mcmanus commented on #1524
I was thinking that that the setting would be read/write but would be updated to match a valid value if invalid input was used and if the current config name changed, it would update the setting. I'm not aware of any technical problem with keeping the 2 settings in-sync, but there could be.

Oh, I remember wanting to be able add a setting to our package.json as an extension provided built-in varia

[2018-02-13 23:07] bobbrow commented on #1524
What I'm hung up on is that I *really* want the setting to be read-only.  Sorry for being a stickler on this.

If our extension exported a read-only API (or if writing to the environment works), your extension could consume that and save the config name to your own setting (e.g. `fooExtension.activeConfig`) that could be consumed by your tasks if you want to continue using tasks.

[2018-02-13 23:14] bobbrow commented on #1553
duplicate of #1550

[2018-02-13 23:14] #1553 closed, assigned to nobody

[2018-02-14 00:13] cheeseandcereal opened #1554 "'Failed to initialize debugger terminal.' when workspaceFolder contains a space"
Trying to debug a cpp program in Linux Mint with VSCode 1.20.

My launch.json is simply the auto-generated file, no modifications.

Whenever the workspaceFolder contains a space, the debugger terminal will fail to start (likely due to the need of some quotes somewhere).

When moving the entire workspace to a path without any spaces, debugging works fine.

[2018-02-14 02:14] LordHog opened #1558 "Watch Window: Pressing the del key while editing removes the whole entry"
While editing a watch entry then pressing the del key would remove the entry.  I don't believe this should be the case as it should delete a character and not the whole entry.  After the entry is remove all the other entries remain in a darken state until double click on another entry

![delentry](https://user-images.githubusercontent.com/970098/36184592-9ad9eb8e-10e9-11e8-9b0e-7f29931fa0bb.gif)

[2018-02-14 02:34] Anketell opened #1559 "VSCode incorrectly reports namespaced base class std::unique_ptr assignment as error"
OS: Ubuntu 16.04 LTS
VSCode ver: 1.20.0
C/C++ Ext ver: 0.14.6

1. Enter the following code into an editor and save.
<pre>
#include &lt;memory&gt;

namespace b
{
    class Base
    {
    };
}

namespace d
{
    class Derived : public b::Base
    {
    };
}

int main( void )
{
    auto p = std::make_unique< d::Derived >();

    std::unique_ptr< b::Base > q = std::move( p );

    return 0;
}
</pre>

[2018-02-14 03:06] DemoCrazer commented on #1546
Thank you for your answer.
I set `sourceFileMap` path like this:

[code]

Now it works fine :)

[2018-02-14 03:24] sean-mcmanus commented on #1559
Repros on Linux/Mac, but not Windows; however, it repros in VS 2017 on Windows. Looks like the same symptom as in https://github.com/Microsoft/vscode-cpptools/issues/1395 but we didn't have a repro. I filed a VS 2017 bug at https://developercommunity.visualstudio.com/content/problem/198343/incorrect-c-intellisense-error-no-suitable-user-de.html (not sure if that's publically accessible bug it's ta

[2018-02-14 03:45] Anketell commented on #1559
@sean-mcmanus You're right, it's not publicly accessible.

However, it seems to differ from #1395 in that the following code doesn't report an error:

<pre>
#include &lt;memory&gt;

namespace a
{
    namespace b
    {
        namespace c
        {
            class Base
            {
            };
        }
    }
}

int main( void )
{
    auto p = std::make_unique< a::b::c::Base >();

    std::un

[2018-02-14 05:35] ZhijiaCHEN commented on #811
Hi,
I have the same problem with latest version of vscode when I tried do debug  64 bit program. I received the error: "Unable to open 'main.cc': File not found (file:///d/.../main.cc)." But it works fine when I debug 32 bit program. I guess this might have something to do with my gdb debugger. But I have no idea how to pin down the problem, as I am a novice in gdb debuger(I relied on Visual Studi

[2018-02-14 05:38] ntphx commented on #811
Its telling you it cannot find the file you're trying to debug. You need to
go and check your debugging config file and make sure you're providing the
correct workspace root etc...

On 14 Feb 2018 06:35, "ZhijiaCHEN" <notifications@github.com> wrote:

[2018-02-14 06:39] pieandcakes commented on #811
@ZhijiaCHEN what @radiowest says is correct. You need to determine if the "file" gdb is saying is on your machine is actually on your machine in the location it is looking for it or not. We pass back whatever paths are passed into your compiler that are compiled into the symbols for your binary. That is what we get from gdb. Most likely you moved the executable and need to then set up `sourceFileM

[2018-02-14 06:43] 0x00deaf commented on #1294
Well, even if this workaround works for this particular code it does not work for my code project.

Is there any other ways to make intellisense from taking 100% cpu for each opened file (each creates its own thread) that totally hangs the operting system ( 4.15.1-2-ARCH # 1 SMP x86_64 GNU/Linux)

The only solution for me and my team-mates was to do run it with 'nice 20 code'. At least I am able t

[2018-02-14 08:10] cmh1027 opened #1560 "Cpp IntelliSense is not working with certain characters in the file path"
Even though I set the path of MinGW like document says (https://code.visualstudio.com/docs/languages/cpp)
But autocompletion doesn't work at all.

        {
            "name": "Win32",
            "includePath": [
                "C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/include/*",
                "C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/atlmfc/include/*",

[2018-02-14 11:45] zbendefy commented on #1550
Followup:
I tried the following:
- Set "terminal.integrated.shell.linux": "/usr/bin/gnome-terminal", but it didnt work, VSCode cant find the specified file. I checked on the file system but its there.

Next I tried to locate the file in the integrated terminal (which is an sh instead of the regular terminal), and when I ran ls on /usr/bin, there was no gnome-terminal there (even though in the file

[2018-02-14 14:10] djanthony93 opened #1561 "Getting #include errors (intelliSense) for every Arduino project (even basic examples)"
Basically I opened the AnalogReadInput built-in Arduino example and it can't recognize any class out of the sketch. For my own sketches I get #include errors (like #include <LiquidCrystal.h>) even if I specify the correct path to my MinGW folder which is "C:\\MinGW\\lib\\gcc\\mingw32\\6.3.0\\include\\c++".
These are the `arduino.json` and `c_cpp_properties.json` autogenerated by the `Arduino-initi

[2018-02-14 15:21] Tyriar commented on #1550
FYI `"terminal.integrated.shell.linux": "/usr/bin/gnome-terminal"` will never work, gnome-terminal is a terminal emulator just like VS Code's integrated terminal. Both gnome-terminal and the integrated terminal run shells like bash, sh, zsh, etc.

[2018-02-14 16:10] eskild commented on #1137
Hm... I'm seeing runaway CPU on macos right now, 1.20.1, cpptools-0.15.0-insiders.

I'm on a somewhat slow, but stable, VPN from home, and was just shutting down vscode for the day.

I have several left-over processes, and one run-away from the first startup of vscode earlier today. The other ones appear to come from subsequent startups.

    me 77002  99.7  0.0  4307212   2724   ??  R    10:00AM

[2018-02-14 16:24] bobbrow commented on #1560
[This is the document](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md) you want to follow.

[2018-02-14 17:05] pieandcakes commented on #1554
@cheeseandcereal Thanks for reporting this. I'll take a look.

[2018-02-14 17:12] huww98 commented on #1535
I added `__SIZE_TYPE__=long unsigned int` in `c_cpp_properties.json` defines list and solved this problem. In my case, I'm using `std::size_t`.

[2018-02-14 17:45] WardenGnaw commented on #1527
@Muttsu The "set target-async on" comes from MIEngine which the extension uses as part of the debug adapter.

https://github.com/Microsoft/MIEngine/blob/8e4eae7c0bc5b363ceef02002c95db9384f1ec29/src/MICore/CommandFactories/gdb.cs#L203

[2018-02-14 18:38] benchuk opened #1562 "Go to definition is failing on arduino projects"
Happens on windows more than on mac
Some times it works and than stopps
Also platform io is installed
Latest version on cpptools and vscode
Seems to work better in atom environment

[2018-02-14 19:22] thejcannon commented on #1524
Environment variables would get messy, since the user could have several instances of vscode running.

For insight, I don't explicitly need a setting. My extension will be generating c_cpp_properties.json, tasks.json and launch.json (and keeping them up to date if the user changes their dependencies, etc...). So all I need is the current configuration when they want to do something (like launch th

[2018-02-14 19:26] sean-mcmanus commented on #1294
@0x00deaf You can set the intelliSenseEngine to "Tag Parser" to disable the IntelliSense process until we can get the infinite processing fixed. 0.16.0 is going to add a compilerPath option and set the compiler defines correctly (and maybe a language version option) which may fix the issue if it's caused by incorrect flags/defines being passed to our parser. But if it's still not fixed, we may nee

[2018-02-14 19:37] sean-mcmanus commented on #1561
Did you follow this guide for MinGW? https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md. The includePath is not recursive. You may also need certain defines set. If that doesn't work we could investigate more.

[2018-02-14 19:39] hgroene opened #1565 "identifier "strcmp" is undefined"
While typing the following code strcmp is suggested, the function signature is shown, and string.h is identified as the location of the definition. strcmp is then underlined with a red squiggle with the error 'identifier "strcmp" is undefined'.

This is happening with VSCode 1.20.1 on Ubuntu 16.04 LTS

[code]

[2018-02-14 20:24] sean-mcmanus commented on #1535
FYI, our March update should add `__SIZE_TYPE__` automatically for compilers like clang that set it (it'll be set behind the scenes and won't appear in the c_cpp_properties, because the list of compiler defines is long), although the compilerPath might need to be changed if we guess the wrong compiler like /usr/bin/gcc which doesn't set that define.

[2018-02-14 21:01] sean-mcmanus commented on #1565
I'm not able to repro a problem. Is your includePath set correctly? What version of cpptools do you have?

[2018-02-14 21:10] hgroene commented on #1565
Cpptools is 0.14.6.
Include path is below; /usr/include is the very first directory.

I've checked several of the functions that are declared in string.h and they behave the same way. VSCode knows to suggest the function, knows the function signature and that they are declared in string.h. And then it tells me the functions are undefined. The code compiles and runs without any problems

[code]

[2018-02-14 21:13] sean-mcmanus commented on #1565
Did you fix the issue? If not, you can try calling `/usr/bin/gcc -Wp,-v -E -xc -x c++ /dev/null` or whatever your compiler is and making sure the order of the system include paths match. We plan to improve this for March so you just need to set your compilerPath and the system includes will be handled correctly.

[2018-02-14 21:28] hgroene commented on #1565
Here's the output of your gcc command.
[code]

[2018-02-14 21:31] sean-mcmanus commented on #1565
Can you add ` /usr/include/c++/5
 /usr/include/x86_64-linux-gnu/c++/5
 /usr/include/c++/5/backward
 /usr/lib/gcc/x86_64-linux-gnu/5/include
 /usr/local/include
 /usr/lib/gcc/x86_64-linux-gnu/5/include-fixed
 /usr/include/x86_64-linux-gnu
 /usr/include` to the bottom of your includePath list? You might need to remove some of the existing system paths too.

[2018-02-14 21:38] nico87 commented on #323
Same problem here! Ubuntu 14.04. It worked fine until I updated to intellisense 0.14.6.

[2018-02-14 21:39] hgroene commented on #1565
I replaced the system paths with the ones the gcc command listed and the issue has gone away.
Thanks for your help.

[2018-02-14 21:39] #1565 closed, assigned to nobody

[2018-02-14 21:54] zbendefy commented on #1550
Ah thanks! I tried /bin/bash, and it appeared (the integrated terminal is now the bash instead of sh), but debugging still doesnt work (the same error message appears, that no terminal was found to launch the debugger)

So what does the error message mean? Which terminal is it trying to launch? The external one?

[2018-02-14 22:03] sean-mcmanus commented on #1137
Our main process will kill the IntelliSense process when it's shutdown, but it's possible our main process may have crashed beforehand. The IntelliSense process is stuck waiting for another thread to shutdown -- we've added code that aborts the waiting if it takes too long. Are you able to get call stacks for the dangling main processes? I've witnessed some random dangling main processes and crash

[2018-02-14 23:16] sean-mcmanus commented on #323
@nico87 We're releasing 0.15.0 tomorrow which has an updated IntelliSense parser. Let us know if it still repros and any hints on how to repro the memory issue. What was your previous version? 0.14.5 or something earlier? We haven't received many reports of regressions due to 0.14.6.

[2018-02-15 01:24] zanito opened #1567 "[Feature Request] find references in the c/cop code would be a very nice feature to have"
Hi VSCode team

I would like to congratulate the team on a fantastic work that has been done both on VSCode and on the amazing cpptools. I’ve been playing with it in a large code base and so far I think it works great. One feature I do find lacking is the “find references” for symbols in the code. Is this feature planned? is there a rough estimate for when will this feature be made available? I gu

[2018-02-15 02:21] sean-mcmanus commented on #1567
Yes, find all references is our most up-voted feature: https://github.com/Microsoft/vscode-cpptools/issues/15 is the issue tracking this. We plan to implement the feature but we don't have an estimated timeframe.

[2018-02-15 06:07] cmh1027 commented on #1560
I changed it as instruction, but It still doesn't work.

        {
            "name": "Win32",
            "includePath": [
                "${workspaceRoot}",
                "C:/MinGW/lib/gcc/mingw32/5.3.0/include/c++",
                "C:/MinGW/lib/gcc/mingw32/5.3.0/include/c++/mingw32",
                "C:/MinGW/lib/gcc/mingw32/5.3.0/include/c++/backward",
                "C:/MinGW/lib/gcc/mi

[2018-02-15 06:59] nico87 commented on #323
I was on 0.14.5 until yesterday, when I updated.
Looking forward to 0.15.0! :-)

[2018-02-15 07:50] zbendefy commented on #1550
Note that there is a similiar recent issue in the Issue tracker: https://github.com/Microsoft/vscode-cpptools/issues/1554

However neither of my workspace folder nor my app launch path contains a space.

[2018-02-15 09:02] zanito commented on #1567
Thank you very much! I tried to search for an issue that already traced this but I failed to find it. Sorry for the entropy :). I will close this issue then

[2018-02-15 09:02] #1567 closed, assigned to nobody

[2018-02-15 10:22] gagbo commented on #1187
Thanks for your answer, for the record it definitely seems to be related to not querying the compiler for includes :
- When I keep a default (blank) c_cpp_properties.json file, I have no issues with system includes but the project includes are not found (in a rather complex cmake project)
- When I add the compileCommands key to the c_cpp_properties json, all project includes are found without prob

[2018-02-15 10:37] mbodmer commented on #1285
This would make vscode a viable option for not so simple c++ projects. Especially the current active build configuration should be available in tasks. It does not make a lot of sense to have different configurations in  c_cpp_properties.json and then not being able to use these while building. Usually at least the build directory would be different depending on configuration.
I hope this gets it i

[2018-02-15 11:07] mbodmer commented on #1285
This topic has already been disussed in #742, but seems still be an issue.

[2018-02-15 14:36] LastLightSith opened #1568 "visual studio code showing wrong autocomplete suggestions in c++(SDL)"
I am trying to learn SDL in C++ So auto-complete is very essential for me.VS code was working fine with SFML but due to android problems I started learning SDL and now auto-completions for SDL is not working correctly . It always suggest some wrong members ,even If I didn't include any library . I don't have enough experience with VS . I came to VS from neovim only for auto completions which not w

[2018-02-15 14:54] LastLightSith commented on #1568
![screenshot_2018-02-15_20-12-59](https://user-images.githubusercontent.com/29699740/36262585-e7ec777a-128d-11e8-90e3-e281ba2e3af8.png)

I had tried restring ,updating and deleting .vscode dir but nothing happened

[2018-02-15 17:09] bobbrow commented on #1560
that error implies that the extension crashed.  Can you try setting `__GNUC__=5` to match your version of MinGW?

[2018-02-15 17:12] pieandcakes commented on #1558
@LordHog thank you for reporting this. The watch window is not owned by our extension but rather VS Code. Can you file the issue [here](https://github.com/microsoft/vscode) so they can look into it?

[2018-02-15 17:14] pieandcakes commented on #1550
Hi, we use gnome-terminal by default and fallback to xTerm. if you have neither one installed, currently the extension won't work. We have an issue to integrate more terminal options but haven't had the time to invest in it yet.  For gnome-terminal, there have been reports of an issue with a newer version of gnome-terminal changing the entry point from an executable to a script, which is causing i

[2018-02-15 17:25] bobbrow commented on #1568
See #13.  We are still working on getting the correct IntelliSense results for non-member identifiers.  The items that currently show up in the list for "quick suggestions" come from our extension's tag parser database.  The symbols that show up in this list are controlled by the `"browse.path"` setting in your **c_cpp_properties.json** file and not by any `#include` lines in your source files.  I

[2018-02-15 19:14] 0xabu commented on #984
I'm still seeing something very like this issue. How/where was it fixed?

My specific scenario is:
1. Open a file in the editor using the explorer, so it has the correct case (in this case, …/Relocation.c). Keep it open.
2. Run a build task that produces an error in this file using both the msCompile problem matcher and a build tool that lowercases all filenames (so the reported error is in …/relo

[2018-02-15 19:25] zbendefy commented on #1550
The issue is wierd because on my home machine, with the same version of everything (min18.3, vscode 1.20), the debugging works.

Now the difference in the two, is that if I enter "ps ax", there is a difference between the two.

On the faulty machine, where debugging doesnt work, "ps ax" returns only processes of vscode.
Also on the faulty machine, there is no such file as "/usr/bin/gnome-terminal"

[2018-02-15 19:32] bigwave-in-boulder commented on #510
Any update to this?

[2018-02-15 19:47] #1513 closed, assigned to nobody

[2018-02-15 19:55] pieandcakes commented on #984
@0xabu This is only fixed for debugging, and not for build.

For debugging, we are intercepting the filename from the debugger, checking the file system for the file and returning the right casing to VS Code so it will open the file with the correct disk casing.

For Build, you would need to send that over to [VS Code](https://github.com/microsoft/vscode/issues) to address since I think all that t

[2018-02-15 20:06] sean-mcmanus commented on #1524
Another previous request was https://github.com/Microsoft/vscode-cpptools/issues/742 .

[2018-02-15 20:06] pieandcakes commented on #1550
@zbendefy Do you have the same level of access on the faulty machine? I saw [this](https://github.com/Microsoft/vscode-cpptools/issues/409#issuecomment-335670023) post where someone had this comment:

python /usr/bin/gnome-terminal to lunch the terminal.but this is a python file , i guess vscode just find the file gnome-terminal and do something.

Can you check that and see if that might be the pr

[2018-02-15 20:10] sean-mcmanus commented on #510
@bigwave-in-boulder Yeah, we should be releasing the feature today in 0.15.0 (and the feature has been in the 0.15.0-insiders release for 2 weeks: https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0-insiders ).

[2018-02-15 20:14] thejcannon commented on #1524
I can prototype a read-only setting and see how it turns out. Might feel clunky to the user, depending on some of the design decisions.

What I'm imagining is that if the user changes it to be invalid, it "snaps" back to the valid value. Similarly if the user re-configures the c_cpp_properties, it "snaps" to a valid value.

It's too bad I can't dynamically set enum values. That would be pretty use

[2018-02-15 20:16] lambage commented on #1162
*bump*

[2018-02-15 20:19] sean-mcmanus commented on #1524
What do you mean by "re-configures the c_cpp_properties"? What is being snapped to a valid value?

The package.json can be dynamically modified with different enum values, but the problem is that the change won't be picked up until the extension reloads.

[2018-02-15 20:31] LordHog commented on #1558
@pieandcakes Okay, created on VSC forum (https://github.com/Microsoft/vscode/issues/43780)

[2018-02-15 20:31] #1558 closed, assigned to nobody

[2018-02-15 20:34] thejcannon commented on #1524
"re-configures the c_cpp_properties" means if the user removes some configurations (maybe the current one?)
"snapped to a valid value" means if they try to go from `"C_Cpp.configName": "Foo"` to `"C_Cpp.configName": "Food"` (where "Food" isn't a valid name). The extension would (somehow) listen to the change, and change it back to `"C_Cpp.configName": "Foo"`.

Although I'll admit, I haven't though

[2018-02-15 20:51] sean-mcmanus commented on #1524
Ah, the "it" you're referring to is the setting snapping to valid value and not the c_cpp_properties.json changing.

I don't think I've seen documentation on the package.json re-writing behavior. We do it in main.ts in the rewriteManifest() method and we also potentially do it in processCpptoolsJson() in abTesting.ts, but that code isn't currently hittable. We used to do more package.json re-writi

[2018-02-15 22:24] #1466 closed, assigned to grdowns

[2018-02-15 22:31] sean-mcmanus commented on #23
@csholmq Fixed with 0.15.0, but the intelliSenseEngine needs to be "Default".

[2018-02-15 22:33] sean-mcmanus commented on #510
@amigo421 @agauniyal @bigwave-in-boulder Inactive region highlighting has been added with 0.15.0.

[2018-02-15 22:35] sean-mcmanus commented on #889
@rezorrand Inactive code colorization was added in 0.15.0.

[2018-02-15 22:36] sean-mcmanus commented on #934
@xueyunquan Inactive code colorization has been added in 0.15.0 (intelliSenseEngine needs to be "Default" though).

[2018-02-15 22:37] sean-mcmanus commented on #1276
@veto-gh Inactive code colorization has been added in 0.15.0 (intelliSenseEngine needs to be "Default" though).

[2018-02-15 22:44] sean-mcmanus commented on #1137
@eskild @ihalip @deepskyblue86 0.15.0 fixed the source_file_for_seq crash (at least for most scenarios, an additional fix for remaining scenarios may occur later). The dangling IntelliSense processes should be reduced as well. Can you file a new bug for any additional crashes or dangling processes? We've seen some remaining cases happening randomly that we'll continue to investigate later.

[2018-02-15 22:44] #1137 closed, assigned to nobody

[2018-02-15 22:50] sean-mcmanus commented on #1497
@pe224 We believe 0.15.0 has the fix (i.e. it stopped reproing for me). Let us know if the issue is still reproing for you.

[2018-02-15 22:50] #1497 closed, assigned to nobody

[2018-02-15 22:52] sean-mcmanus commented on #1067
@HypermagiK @Ortix92 @EECSGEEK The bogus `<typeinfo> must be included before typeid is used` error has been fixed with 0.15.0. We're still aware of additional bogus errors that we have issues tracking that we plan to have fixes in the next couple months or so. If you notice a new issue, providing a repro will help us get a fix sooner. Thanks.

[2018-02-15 22:52] #1067 closed, assigned to nobody

[2018-02-15 22:54] sean-mcmanus commented on #1313
@Yanpas The bogus `compound literals are not allowed` error has been fixed with 0.15.0.

[2018-02-15 22:54] #1313 closed, assigned to nobody

[2018-02-15 22:56] sean-mcmanus commented on #1461
@ytimenkov We believe the `scan_expr_full` crash has been fixed with 0.15.0, because it was fixed in VS 2017, but we'll monitor our crash data to see if the problem still exists for us (i.e. due to differences in code paths).

[2018-02-15 22:56] #1469 closed, assigned to nobody

[2018-02-15 22:56] #1337 closed, assigned to nobody

[2018-02-15 22:57] #1472 closed, assigned to nobody

[2018-02-15 22:59] sean-mcmanus commented on #1474
@raghavk92 Has your issue been fixed with 0.15.0? We fixed the issues the other users added to the issue, but I'm not sure if they're the same.

[2018-02-15 22:59] #1474 closed, assigned to nobody

[2018-02-15 22:59] #1475 closed, assigned to nobody

[2018-02-15 23:01] sean-mcmanus commented on #1531
@segevfiner Snippets after # should work now with 0.15.0.

[2018-02-15 23:01] #1531 closed, assigned to nobody

[2018-02-15 23:03] #1510 closed, assigned to nobody

[2018-02-15 23:04] sean-mcmanus commented on #314
@JuHo1117 Fixed with 0.15.0.

[2018-02-15 23:04] #314 closed, assigned to nobody

[2018-02-15 23:38] #1434 closed, assigned to nobody

[2018-02-16 00:24] sean-mcmanus commented on #852
@nwgh @aenima1891 A workaround is to modify the bin/msvc.json file in same folder the Microsoft.VSCode.CPP.Extension process is in by appending code to the "defaults" array like:
`      "-D_USE_DECLSPECS_FOR_SAL=1",
      "--preinclude",
      "F:\\forcedInclude.h"
    ],`
We might be able to add a setting to c_cpp_properties.json in the next release, since that file gets overwritten on updates.

[2018-02-16 00:25] sean-mcmanus commented on #1089
@tksuoran A workaround is to modify the bin/msvc.json file in same folder the Microsoft.VSCode.CPP.Extension process is in by appending code to the "defaults" array like:
`      "-D_USE_DECLSPECS_FOR_SAL=1",
      "--preinclude",
      "F:\\forcedInclude.h"
    ],`
We might be able to add a setting to c_cpp_properties.json in the next release, since that file gets overwritten on updates.

[2018-02-16 00:28] sean-mcmanus commented on #1536
@bcuriel A workaround is to modify the bin/msvc.json file in same folder the Microsoft.VSCode.CPP.Extension process is in by appending code to the "defaults" array like:
`      "-D_USE_DECLSPECS_FOR_SAL=1",
      "--preinclude",
      "F:\\forcedInclude.h"
    ],`
We might be able to add a setting to c_cpp_properties.json in the next release, since that file gets overwritten on updates.

[2018-02-16 00:50] sean-mcmanus commented on #1461
Actually, looks like this bug still exists, but the hit count doesn't appear high enough to push for the team to fix it (given other crashes/bugs on their plate), but we'll continue to monitor the hit rate. If you can provide a snippet of code that repros the crash, that might help with a fix.

[2018-02-16 02:46] abhisina opened #1569 "Intellisence file gets reset on restart"
Version 1.20.1
Commit f88bbf9137d24d36d968ea6b2911786bfe103002
Date 2018-02-13T15:31:21.019Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
OS Linux Ubuntu 16.04 LTS

Issue: The file c_cpp_properties.json gets reset to an empty value file on each restart of VSC.

[2018-02-16 02:48] sean-mcmanus commented on #1569
I think this is caused by the cmake-tools-helper extension. Please uninstall that one. Let us know if you still have issues. Another previous report: https://github.com/Microsoft/vscode-cpptools/issues/1500

[2018-02-16 02:48] #1569 closed, assigned to nobody

[2018-02-16 04:04] d-bahr commented on #827
Following up with some new information...

I have been able to reproduce on a native linux host. My `launch.json` looks roughly like this:

[code]

I see with logging enabled that the stdout is getting sent from gdbserver to gdb:

[code]

 So it seems that gdb is receiving stdout, but I suppose that either the MI engine or VSCode isn't parsing it out. My suspicion is that the MI engine isn't parsi

[2018-02-16 07:05] DABH commented on #871
Anyone know if there's a way to disable/suppress this clang error/warning (maybe on a per-line or per-file basis, or even globally...) while we wait for a proper fix?  (Either way, thanks for addressing this problem!)

[2018-02-16 08:37] deepskyblue86 commented on #1137
@sean-mcmanus I'm using the 0.15.0 preview since when you asked us to try it. I'm happy with it, no issue at all. I'll try the official release today!

[2018-02-16 08:54] pe224 commented on #1497
Can confirm. Thanks for the fix!

[2018-02-16 09:07] zbendefy commented on #1550
I found the problem. It's that for some reason, the new faulty VSCode is running inside flatpak (hence the virtual machine I mentioned), and in flatpak the debugger cannot start!

I Installed it trough the Linux Mint software manager, and it installs it with flatpak. Ubuntu may be affected too.

If I install it trough the website .deb, it works all right.

[2018-02-16 09:27] sean-mcmanus commented on #871
@DABH You could try hiding the code from our IntelliSense compiler via surrounding the code by `#ifndef __INTELLISENSE__
#endif
`. You could also change the C_Cpp.errorSquiggles setting to "Disabled".

[2018-02-16 10:16] pe224 opened #1570 "C++11 list initialization error"
VS Code version: Version 1.21.0-insider
CPPtools version: 0.15.0
MinGW toolchain bundled with Qt install on Win10

c_cpp_properties
[code]

output of g++.exe -std=c++11 -v -E -x c++ -
[code]

test.cpp
[code]

It shows an error where vector `test` is initialized:
`the definition of std::initializer_list does not contain the expected constructor`

The program compiles fine with `g++ -std=c++11`

May

[2018-02-16 11:08] ArnaudNe commented on #1466
Hi,

First, thank you for this awesome extension.

Concerning this feature, I understand that it may be useful for many people, but I would love to see a setting that could disable it if wanted.

Indeed, I use VSCode as my main editor, but I use IAR Workbench as embedded system programming/debugging platform. A lot of my defines are declared in the IAR Project file, and this feature greys almost a

[2018-02-16 11:35] csholmq commented on #23
Seems to work great!

[2018-02-16 11:42] BladLust opened #1571 "Always shows problem "file not found" in and only in the first include heading."
* Operating System and version: Windows 10 pro build 1709
    * VS Code version : 1.20.1 not Insiders build
    * All the extensions and example code below

![2018-02-16_193211](https://user-images.githubusercontent.com/33929696/36305823-3cc10488-1350-11e8-8134-1c37bf6be766.png)

 my c_cpp_properties.json code, and I'm sure I wrote the directory right.
![2018-02-16_193148](https://user-images.gith

[2018-02-16 12:36] cmh1027 commented on #1560
Still doesn't work, without error message. I just guess that it is because of my mingw. Maybe I have to use Visual studio 2017 when I write cpp code. Thanks for helping me

[2018-02-16 12:46] veto-gh commented on #1276
Thank you for the heads-up! (I already followed #1466 closely)
And it works like a treat on Ubuntu 16.04, great work guys!

Off-topic: Is there a request/issue I can follow which allows the IntelliSenseEngine to parse defines and includes (obtained by pkg-config) from a makefile? Should I create one?

[2018-02-16 14:39] philographer opened #1573 "Documentation Has missing link"
Current on master branch docs has missing links
please refer to https://github.com/Microsoft/vscode-cpptools/pull/1572

[2018-02-16 14:46] ghost commented on #510
How do you disable this feature now ! I have many defined that are passed by makefile ! Now 80% of my code is grey.....

[2018-02-16 15:47] ghost commented on #1466
@sean-mcmanus  Hi, is there a way to disable this new function, like @eskild, many defined are passed by makefiles.  Now almost all my code is grey.  I'm not sure to understand the "defines" in the c_cpp_properties. There is no way I'm inputting all the defines there. Please, is there a way to turn this off or revert back to the last version of VS CODE.... Thanks !

P.S.: I'm a bit of a noob with

[2018-02-16 16:05] ghost commented on #230
Is there a way to disable inactive regions greying now ? Thanks

[2018-02-16 16:55] bobbrow commented on #1571
Which file is not found?  Do you have any other extensions installed?  I believe our extension says "cannot open source file %s".

[2018-02-16 16:57] bobbrow commented on #1560
Where did you get your MinGW from?

[2018-02-16 16:58] bobbrow commented on #1276
@veto-gh I don't think there is a feature request to parse defines and includes from a makefile.  Please create one.

[2018-02-16 17:00] bobbrow commented on #1573
PR accepted.  Thank you!

[2018-02-16 17:00] #1573 closed, assigned to nobody

[2018-02-16 17:07] bobbrow opened #1574 "Add a setting to disable inactive region code graying"
There are some cases where graying the code is undesirable for developers. A setting needs to be added to allow developers to disable the inactive region highlighting.

Consider also adding a lightbulb action to allow developers to toggle this without visiting the settings.json file.

See #1466 for a workaround if you need to disable this immediately.  We'll target March (possibly in the insiders

[2018-02-16 17:34] grdowns commented on #1466
## **EDIT: As of v0.16.0, there exists a setting to disable inactive region colorization. Look at my post below for directions on how to change the setting**

Hey @ArnaudNe. Your request is completely reasonable and we think there should be a way to turn off the setting as well. ~~We are currently working on a new way to expose our extension's settings, which is currently targeted for March.~~

Fo

[2018-02-16 17:57] nwgh commented on #852
@sean-mcmanus a setting would be great (since I use this for multiple checkouts, some of which may have different definitions in my force-include), but in the meantime, the workaround is awesome! Thanks!

[2018-02-16 18:44] bobbrow commented on #1570
I can reproduce this error.  Add `"__SIZE_TYPE__=unsigned int"` to your `"defines"` in **c_cpp_properties.json** and it should resolve the error.

[2018-02-16 18:49] pieandcakes commented on #1550
@zbendefy good to know. Thanks for solving it.

[2018-02-16 18:49] #1550 closed, assigned to pieandcakes

[2018-02-16 19:25] sean-mcmanus commented on #1571
The "file not found" tooltip message is from the C/C++ Clang Command Adapter extension and not the C++ extension (see also https://github.com/Microsoft/vscode-cpptools/issues/1352 ).

[2018-02-16 19:25] #1571 closed, assigned to nobody

[2018-02-16 19:41] sean-mcmanus commented on #510
@Darkstarxt You can set intelliSenseEngine to "Tag Parser". You could also follow the steps at https://github.com/Microsoft/vscode-cpptools/issues/1466#issuecomment-366304132. However -- if you see gray text, it means the code is not visible to the IntelliSense engine, so you won't get any of those features for that section of code.

[2018-02-16 20:37] imerin opened #1575 "compileCommands setting does not appear to account for --sysroot/target options"
* Ubuntu 16.04
    * VS Code version 1.20.1
    * C/C++ extension version 0.15.0

I'm cross compiling and using the --sysroot option with gcc.  The extension does not seem to account for this when loading the compile_commands.json file.  It correctly includes the header paths specified with the -I option to gcc, but does not include the headers in e.g. sysroot/usr/include.

Removing all entries fr

[2018-02-16 21:28] pe224 commented on #1570
That fixed it, thanks.

[2018-02-16 21:28] #1570 closed, assigned to nobody

[2018-02-16 21:59] sean-mcmanus commented on #1575
We should be able to add support for --sysroot for the next update.

[2018-02-16 22:59] sean-mcmanus commented on #912
@Cerh @thomashw We believe this is fixed (for the most part) in 0.15.0. Let us know if there's still an issue.

[2018-02-16 22:59] #912 closed, assigned to nobody

[2018-02-17 00:05] segevfiner commented on #65
WinDbg still has it's strengths in comparision to the Visual Studio debugger for native code. It would be quite nice if this exension supported it.

[2018-02-17 00:17] sean-mcmanus commented on #65
@segevfiner Yeah, I'm re-activating this -- it isn't a duplicate of the existing Windows debugging that was implemented. I suspect the debugger team may not have the capacity to implement it though, but most of the debugger code is open source so maybe we could take a pull request?

[2018-02-17 01:31] djanthony93 commented on #1561
EDIT: I've followed the guide above setting my c_cpp_properties.json like this:

[code]

Now it gives me:

[code]

When I click the yellow bulb over the #include statement it says "edit includePath setting" only

[project folder](https://i.gyazo.com/96cfeb893cd9bb08ef030e7d89674820.png)

[2018-02-17 07:23] tofutim commented on #1023
did you ever figure this out? I'm also getting this strange include_next missing string.h error, in my case:

[code]

and my clang++ output looks like

[code]

any tips on overcoming this issue?

oddly I don't have an include folder in `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/usr`

[2018-02-17 08:14] tofutim commented on #1023
I made an SO entry on this issue. https://stackoverflow.com/questions/48839127/qmake-derived-clang-in-osx-10-13-cannot-find-string-h

[2018-02-17 08:17] tofutim commented on #1023
Tims-Air:hello tim$ /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.13.sdk/usr/include hello.cpp

[2018-02-17 09:40] R3D9477 opened #1576 "Can't launch debugging for C application (Linux)"
Hi. I tried to launch debugging process, but had exception:

`The C/C++ extension is still installing. See the output window for more information.`
(output window is empty and have not any information!)

Linux Mint 18.3 x64
VSCode 1.20.1
vscode-cpptools 0.15.0
gdb 7.11.1

[c_hello_world_mscpptools.zip](https://github.com/Microsoft/vscode-cpptools/files/1733549/c_hello_world_mscpptools.zip) with la

[2018-02-17 14:05] ankurparihar commented on #757
@igorPhelype

I solved it on my machine with these steps :

1. add `#include <bits/stdc++.h>` header file to your program
2. then if you click this newly added line you will see a small yellow bulb
3. after clicking the bulb you will see options for including more paths
4. add all paths until the green or red underline is gone

So after adding all include paths this should work fine and mine file

[2018-02-17 15:10] J-Vaughan opened #1577 "Hovering over C string, IntelliSense shows garbage data"
## Issue

When hovering over a string of any length in a C language file, IntelliSense
shows garbage data. This resembles what happens to me if I read out of bounds
in a string.

## Reproduction

With the C/C++ IntelliSense extension enabled, hover over a string inside a
macro or function, and the tooltip will show the string followed by a number of
garbage characters.

### Example 1

[code]

####

[2018-02-17 17:58] davidjpfeiffer opened #1578 "Windows include for MinGW can not include chevrons"
Windows 10 version 1709
VS Code version 1.19.1 (not using the Insiders build)
C/C++ extension version 0.15.0
No other VS Code extensions installed

Steps to reproduce the problem:
 - Configure plugin according to [recommended Windows template for MinGW](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md)
 - Write C++ hello world program
 - Get intellisen

[2018-02-17 20:19] parkovski opened #1579 "std::string_view intellisense missing (CMake, VC++ 2017)"
I'm using cpptools 0.15.0, VSCode 1.20.1, VS2017 15.5.6, Win10 insiders 17074, CMake tools 0.10.4. I am working on a CMake project using the VS2017 generator to build, and setting C++17 mode using these options (I know compile commands doesn't do anything with my current generator):
[code]

I have no problem with `std::optional`, and everything compiles fine, but I get intellisense warnings about

[2018-02-17 21:16] huili80 opened #1580 "Very SLOW to start up GDB debugging session"
I use VSCode on linux to debug c++ programs. I have the latest stable version of both vscode and cpptools. I've noticed that, after starting vscode or reloading it, when i press F5 to attach gdb to a running program, it takes several minutes for the "pid selection" drop down to show up. This appears to only when launching a debugging session for the very first time after starting or reloading vsco

[2018-02-17 21:20] huili80 opened #1581 "Incorrect intellisense warning in launch.json for gdb attach"
In a launch.json that's configured to launch gdb to attach, intellisense warns that "Property setupCommands is not allowed" even though it actually is allowed and I use it to enable pretty printing.

[2018-02-17 21:28] huili80 opened #1582 "Need to be able to configure whether to continue running a program after attaching gdb to it"
It seems vscode automatically continues the running program after attaching gdb to it, unlike in a standalone gdb session running program would be stopped after attached.

Maybe it's already possible to configure in launch.json to NOT continue the program after gdb is attached, in that case can anyone tell me what that configuration is? Otherwise such ability would be nice to have.

[2018-02-18 00:50] juliendehos commented on #1345
I have the same error with nixos-17.09 and nixos-unstable.
When running, `~/.vscode/extensions/ms-vscode.cpptools-0.15.0/bin/Microsoft.VSCode.CPP.Extension.linux` it says
`bash: /home/.../.vscode/extensions/ms-vscode.cpptools-0.15.0/bin/Microsoft.VSCode.CPP.Extension.linux: No such file or directory`.

Nixos does not rely on the Filesystem Hierarchy Standard. Packages are stored in /nix/store and

[2018-02-18 05:18] bobbrow commented on #1539
To leave empty comment lines, you should probably be able to do it with the following (note the trailing space at the end of the continuation string)
[code]
I didn't test this in the implementation I just pushed, but I will try it later.

[2018-02-18 14:06] cmh1027 commented on #1560
I can't remember. It has been 2 years since I downloaded it.
Would it work if I reinstall minGW? (Is IntelliSense available for every versions of minGW?)

[2018-02-18 15:02] kevinmoran opened #1584 "Preprocessor block folding"
[code]

If I try to collapse foo() in VSCode it will only fold as far as `#if 0` due to the tab alignment. Aligning preprocessor statements to the left regardless of the alignment of the block itself is an extremely common style. It would be lovely if code folding understood that they are inside a function and should be folded with it.

[2018-02-18 15:03] ghost opened #1585 "Need a way to target a specific Windows SDK/Visual Studio version"
I created a `c_cpp_properties.json` file from the default template to use with MSVC on Windows, and it looks like the system includes must be included in the include path. On my computer these paths are as follows:

[code]

This makes it impossible to share the `c_cpp_properties.json` to other users who might have different versions of Visual Studio or Windows SDK installed (or if they're installe

[2018-02-18 18:23] ebuka-o opened #1586 "C/C++: Language identifier identifies C's .h files as C++ syntax highlighting doesn't work as a result"
- C/C++ Extension Version: 0.15.0
- VSCode Version: 1.20.1
- OS Version: Windows 10 1709

Other Extensions Downloaded (although C/C++ is the only one I'm using actively):
- C# Version: 1.14.0
- Language Support for Java Version: 0.19.0
- Ocaml Version: 0.643
- Prolog Version: 0.0.4
- Ruby Version: 0.16.0

Note: I noticed this issue right after I updated to VS Code 1.20.1. I posted this issue to Mi

[2018-02-18 20:53] attdona commented on #1484
Just to add another example of this issues with a minimal snippet (it took time to understand this side effect in a real project with a lot of includes and the macro define distant from uint8_t type declaration):

    #include <stdint.h>

    //#define PIPPO  static __inline

    uint8_t myInt;

    PIPPO uint8_t myf(void);

If the `#define PIPPO` is commented you have red marker, as expected, on

[2018-02-18 21:54] veto-gh opened #1587 "Parse #defines and #includes from Makefile"
VSCode cpptools is now able to display preprocessor blocks as inactive (see #1466).

To make this feature (and others) work reliable with Makefiles it would be great if the extension could parse preprocessor commands specified in Makefiles, most commonly defines and includes:
[code]
(full documentation [here](https://gcc.gnu.org/onlinedocs/gcc/Preprocessor-Options.html#Preprocessor-Options))

In t

[2018-02-18 22:02] veto-gh commented on #1276
Done, see #1587.

[2018-02-19 13:44] varnk opened #1588 "Go To Declaration has stopped working"
Just recently the C++ Go To Declaration quit working.  In fact, none of the symbol look-ups are working.  Not sure why.

[2018-02-19 14:35] palotasb opened #1589 "Support C++ alternative tokens for binary operator `and`, `or`, `not` etc."
I am not sure if this is a valid bug report here or not, but using `"intelliSenseMode": "msvc-x64"` the tokens mentioned in the title cause parsing errors. I can switch to `clang-x64` but that intellisense-mode is less smart, so I prefer not to do it.  One possible fix for me as a user is that I can add a bunch of defines to support code that has these alternative tokens while using MSVC intellise

[2018-02-19 15:55] ghost commented on #1528
Having the exact same problem. MinGW 4.5.1. All the required `include` paths have been added to `c_cpp_properties.json`. Tried both recursive and non-recursive paths. I can confirm `stddef.h` exists in the path but the green squiggly line appears below the `#include` statement. Message in the Problems pane says

![image](https://user-images.githubusercontent.com/7196815/36386477-dfad82ce-1563-11e8

[2018-02-19 19:27] kylegmaxwell commented on #1419
If the user hits enter, I think it would make more sense to format the last line that they were on, not the new line that is created, since that line will usually be blank. If it is not blank then format both lines.
For example, the user types:
do->something(                );\<enter\>
Which results in:
do->something();
\<cursor\>
Also, probably more useful would be to format all lines showing mod

[2018-02-19 20:25] Gruntfuggly commented on #1419
I wrote an extension to format modified lines, but there's actually a bug in clang-format which means that you can't actually format a single line. If you specified a range of characters within a line, or a line range of only one line, it insists on formatting the line and the next one. 8-(

[2018-02-19 22:52] joenano commented on #1027
what a nightmare for 2018

[2018-02-19 23:51] Anketell opened #1590 "VSCode reports SYS_* identifiers as undefined"
OS: Ubuntu 16.04 LTS
VSCode ver: 1.20.0
C/C++ Ext ver: 0.14.6

1. Enter the following code into an editor and save.

<pre>
#include &lt;unistd.h&gt;
#include &lt;syscall.h&gt;
#include &lt;stdint.h&gt;
#include &lt;iostream&gt;

int main( void )
{
    uint8_t u8;

    syscall( SYS_getrandom, &u8, 1, 0 );

    std::cout << static_cast< int >( u8 ) << std::endl;

    return 0;
}
</pre>

VSCode incor

[2018-02-20 08:18] timothyr commented on #710
This is one of the top links from google, and the link is out of date.
Here's the most recent config and a little tutorial:

**1) Ctrl+Shift+P then type `C/Cpp: Edit Configurations`
2) Add the following to the config file:**
[code]
**3) Ctrl+Shift+P then type `C/Cpp: Select a Configuration`
4) Select WSL**

Happy coding.

[2018-02-20 09:27] sean-mcmanus commented on #1577
I'm not able to repro this. Do you have UTF-8 characters > 1 byte in your file?

[2018-02-20 09:29] sean-mcmanus commented on #1578
I don't think `#include "<iostream>"` is valid syntax. Do you mean `#include <iostream>`?

[2018-02-20 09:34] mundodisco8 commented on #1588
Hey!

Same here. My .vscode folder is empty, and when I try to create a new c_cpp_properties.json I get a
"command 'C_Cpp.ConfigurationEdit' not found" error. It started to happen yesterday, when I updated to the latest version. As a matter of fact, none of the c/cpp commands work. I tried uninstalling the extension and reinstalling but doesn't help. @varnk, can you check if you have these issues

[2018-02-20 09:53] sean-mcmanus commented on #1579
It works for me with the latest VS 2017 15.6 Preview. I think your version of the library might require _HAS_CXX17 defined. You might be passing c++latest to your compiler which might be causing that _HAS_CXX17 to be defined.

[2018-02-20 10:12] sean-mcmanus commented on #1585
Maybe we should add some special variable like `{latestVCPath}` and `{latestWindowsSDKPath}`? That would also solve the annoying problem that causes the paths to become invalid after a newer version is installed and the old one removed.

[2018-02-20 10:17] sean-mcmanus commented on #1584
I don't believe we can implement this yet -- see https://github.com/Microsoft/vscode/issues/3422 .

[2018-02-20 10:23] sean-mcmanus commented on #1586
The grayed out code is because the code is inactive to our IntelliSense parser. You can add things to the defines or set the intelliSenseMode to "Tag Parser". We're adding a setting to disable colorization in our next version. And we have an issue on VS Code to support opacity so it isn't gray: https://github.com/Microsoft/vscode/issues/43004 .

[2018-02-20 10:31] sean-mcmanus commented on #1589
I'm not able to repro the problem. Are you using a .c or .cpp file? I get the error with a .c file.

[2018-02-20 11:04] simon-p-r opened #1591 "Debugger cannot enter c code"
Hi

I am having a problem with debugging a  project with Visual Code cpptools.  The problem is I cannot enter breakpoint within debug mode the files appear as blacked out.  Hopefully the attached picture shows the problem.  I have tried various things and the symbols for the dll according to console are being loaded so unsure why I can't access the code.  Project is x86 is this causing the problem

[2018-02-20 11:06] MicroCheapFx commented on #900
I guess I managed that.

I actually did compile gdb from cygwin64 environment for x86_64-pc-linux architecture from a windows10 host.

I manage to launch it as client for a remote linux gdbserver to debug a program from CLI.

But I'm not able to make it work within VSCode, as I was following [this article walkthrough](https://medium.com/@spe_/debugging-c-c-programs-remotely-using-visual-studio-cod

[2018-02-20 11:36] ghost commented on #1585
I think that'd make sense for MSVC, but I think there's also the problem of having to specify the default include path for other compilers? Could the default include paths be queried from the compiler?

[2018-02-20 12:08] ghost commented on #1589
I'm hitting this as well, with a `.cpp` file. I'm using VS Code 1.20.1 and vscode-cpptools 0.15.0. Right now I'm just working around this by defining these keywords as preprocessor defines in the `c_cpp_properties.json` file.

I feel like we should be able to specify compiler flags in the `c_cpp_properties.json` file, so we could just specify `/Za` or `/FI ciso646` when using these alternative key

[2018-02-20 12:13] ghost commented on #1589
I think this is correct. At least Visual Studio 2015 does not support these alternative keywords out of the box (even though they're standard), and requires you to specify either `/Za` or `/FI ciso646` to get them.

[2018-02-20 13:32] varnk commented on #1588
I tried to uninstall and re-install too.  It didn't seem to fix the problem.    I get a bunch of messages in the console window that seem to indicate that there are updates that can't be installed, but the marketplace doesn't seem to have any connectivity issues, just the plug-in does.

Downloading package 'C/C++ language components (Windows)'  Failed. Retrying... Failed. Retrying... Failed. Retry

[2018-02-20 16:14] bcuriel commented on #1536
Thanks for looking into this further. Adding it to the c_cpp_properties.json would be a big help.

I've been trying to locate the file you mentioned though and I'm coming up empty. Closest thing I think I can find is the cpp directory under resources/app/extensions but none of the json files have a "defaults" array and running a find on the directory tree comes up empty for that file name. Tried o

[2018-02-20 17:07] bobbrow commented on #1576
The Output window has many log channels.  Did you happen to switch it to the "C/C++" channel?

![image](https://user-images.githubusercontent.com/12818240/36437985-66965ee6-161d-11e8-9121-d9cdf5658580.png)

[2018-02-20 17:13] bobbrow commented on #1560
I am able to get IntelliSense to work with MinGW from both http://mingw.org and http://msys2.org in combination with [this guide](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/MinGW.md)

[2018-02-20 17:14] bobbrow commented on #1276
Thank you.

[2018-02-20 17:22] R3D9477 commented on #1576
@bobbrow I'm reinstalled all extensions just now and it solved the problem.
Thank you for participating!

[2018-02-20 17:22] #1576 closed, assigned to nobody

[2018-02-20 17:28] bobbrow commented on #1419
@kylegmaxwell for your second request, does `editor.formatOnSave` do what you want?

![image](https://user-images.githubusercontent.com/12818240/36438937-345da44a-1620-11e8-9676-d6b4670fb427.png)

[2018-02-20 17:33] bobbrow commented on #710
@timothyr can you clarify why you think the WSL documentation is out of date?  What you've posted looks like the "old" WSL config which is also in the documentation.

[2018-02-20 17:50] bobbrow commented on #1577
I think I know what this is.  I'll send you a PR, Sean.

[2018-02-20 18:00] bobbrow commented on #1536
you can find it in the `~/.vscode/extensions/ms-vscode.cpptools-<version#>/bin` folder (on Windows, replace `~` with `%userprofile%`)

[2018-02-20 18:25] ArnaudNe commented on #1466
Thank you @grdowns for the complete solution 😊
Looking forward to March iteration !

[2018-02-20 19:10] sean-mcmanus commented on #1588
Can you download the offline .vsix that matches your OS at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.15.0 and do "Install from VSIX..."?

[2018-02-20 19:13] varnk commented on #1588
Yes, downloading the VSIX and manually installing it seems to work.

[2018-02-20 19:20] sean-mcmanus commented on #1585
We already query the compiler for the default include path for clang/gcc-based compilers and we're adding a compilerPath setting in case the compiler we guess is incorrect. On Windows we do other stuff to locate the VC and Windows SDKs, but the problem with "forcing" this always is that sometimes the version we choose is not the one desired (i.e. too new).

[2018-02-20 19:35] timothyr commented on #710
@bobbrow I checked again and you're right, it's included. I missed it the first time because WSL has been out of beta for >9 months. Perhaps the labels should be switched. The current "Beta" instructions are working for the release, and the current "Release" instructions are deprecated.

[2018-02-20 19:43] sean-mcmanus commented on #1589
We plan to add a cVersion and cppVersion setting, but we don't plan to add support for other compiler flags yet until we know of ones that are important enough and that can be translated into flags our parser understands. No one on our team is able to repro the problem you two are seeing (on multiple machines) so there must be something different with your environment. It's possible another extens

[2018-02-20 19:47] bcuriel commented on #1536
Thanks! I got it working with "--preinclude \<path to a precompiled header\>" That makes things SOOO much nicer. Love this tool, keep up the awesome work. Hopefully you can squeeze that setting in soon.

[2018-02-20 19:53] pieandcakes commented on #900
@MicroCheapFx Are you attempting to remote gdb debug to gdbserver? if so, please create another issue and we can help you as that scenario works. This issue is for debugging Visual C++ (not GNU C++) using the Visual Studio Windows Debugger and a request to create a wire protocol for that.

[2018-02-20 19:55] pieandcakes commented on #1591
@simon-p-r When you compiled, did you specify the command flag to include symbols for debugging? for g++ the flag is `-g`. By looking at your screenshot, that seems to be what you are missing.

[2018-02-20 19:57] pieandcakes commented on #1582
@huili80 At this time, that isn't possible. Can you tell me why this is important and different than hitting `Break All` or `pause` after you attached? As attaching is non-deterministic, I don't understand the difference.

[2018-02-20 19:59] pieandcakes commented on #1581
@huili80 can you share a screenshot of this? Usually this indicates either the extension isn't installed correctly or you have a duplicate block or you have `attach` specified instead of `launch`.

[2018-02-20 20:00] pieandcakes commented on #1580
@huili80 is this local or remote debugging? which OS are you doing this on?

[2018-02-20 20:10] ghost commented on #1585
I see. I feel like it might be useful being able to specify version ranges for these (something like `"windowsSDK": "[10.0,11.0)"`), but even just `${latestVCPath}` and `${latestWindowsSDKPath}` would be great.

[2018-02-20 20:29] ghost commented on #1589
I'm using the VS 2017 15.3.5 headers. This is what I'm seeing:

![image](https://user-images.githubusercontent.com/3168386/36447589-79dcaf1c-168d-11e8-892c-0fe0ad188871.png)

[2018-02-20 20:47] huili80 commented on #1580
Linux, local. The executable is fairly big though, ~1GB in size, not sure if this may have something to do with the slowness.

[2018-02-20 20:48] huili80 commented on #1581
It's ```attach```. What's strange is, even though intellisense says ```setupCommands``` isn't allowed, i can still use it to enable pretty printing.

[2018-02-20 20:50] pieandcakes commented on #1581
@huili80 Are you sure it (the pretty printing) is working? I'll take a look at the code and see if it gets passed because i didn't think it did. If it does, i can update the schema in `package.json` to have it back.

[2018-02-20 20:55] pieandcakes commented on #1580
@huili80 the code is [here](https://github.com/Microsoft/vscode-cpptools/blob/master/Extension/src/Debugger/attachToProcess.ts) and it is calling into [this](https://github.com/Microsoft/vscode-cpptools/blob/master/Extension/src/Debugger/nativeAttach.ts#L114) `ps` call to get the list of processes and filtering it out. I don't know why it would be slow for it on the first time though, unless its l

[2018-02-20 21:19] #1546 closed, assigned to nobody

[2018-02-20 21:20] pieandcakes commented on #1491
@Addie2595 if this is still a problem, please update the issue and reopen. Thanks

[2018-02-20 21:20] #1491 closed, assigned to pieandcakes

[2018-02-20 21:23] huili80 commented on #1581
Yes, pretty printing definitely is enabled by way of setupCommands for attach, just like for launch, as of the latest version of both vscode and cpptools.

		Sent from iPhone

On Tue, Feb 20, 2018 at 3:56 PM -0500, "Pierson Lee" <notifications@github.com> wrote:

@huili80 Are you sure it (the pretty printing) is working? I'll take a look at the code and see if it gets passed because i didn't think

[2018-02-20 21:28] J-Vaughan commented on #1577
Opening the file today, without making any edits or anything, doesn't reproduce the behaviour. It's strange, selectively showing itself.

On another note, the file is encoded in UTF-8. I'm also using Fira Code with ligatures enabled, if that matters. Thanks for looking into it!

Edit: As soon as I added a line (`puts("WIP");`) into the file, all the strings in the buffer started showing the garbag

[2018-02-20 21:40] J-Vaughan commented on #1577
For exact replication, the file I used and my settings are [here](https://gist.github.com/J-Vaughan/776484e9798107e5c53215d0b8c7304c)

[2018-02-20 22:02] sean-mcmanus commented on #1589
Ah, okay, I'm reproing the problem now (my settings were messed up).

You can workaround this issue by changing the `bin/msvc.64.intel.json` file's contents so that lines 5-13 match:
`      "--no_ms_permissive",
      "--microsoft_bugs",
      "--microsoft_version",
      "1910",
      "--pack_alignment",
      "8",
      "-D_CPPUNWIND=1",
      "-D_MSC_VER=1910",
      "-D_MSC_FULL_VER=191024210"

[2018-02-20 22:23] sean-mcmanus commented on #1577
Yeah, it looks like Bob has a fix for this.

[2018-02-20 23:15] kylegmaxwell commented on #1419
@bobbrow Unfortunately not. I tried that and it updated the whole file. I am working on a large code base where that is undesirable when I make a small change to a file. I am happy to file a separate feature request if that would be helpful.

[2018-02-20 23:47] bobbrow commented on #1419
@kylegmaxwell you might want to file that request with the VS Code team.  Our extension could potentially roll out an implementation for it, but it would be great if all languages could take advantage of it.

[2018-02-21 00:15] fiigii opened #1592 "[Question] How to disable conditional-compile-based coloring?"
Today, after I updated the latest VS Code, most of the conditional-compiled code path becomes gray.
The cpptools/vscode seems not able to find compile-flags from CMake files. How can I disable the feature?
![image](https://user-images.githubusercontent.com/1263030/36456304-1c9c6dd0-1659-11e8-8fab-8754cc43b37c.png)

[2018-02-21 00:26] sean-mcmanus commented on #1592
There's one workaround at https://github.com/Microsoft/vscode-cpptools/issues/1466 . You can also set the intelliSenseEngine to "Tag Parser". We're planning to add a setting to disable this in our next release.

[2018-02-21 00:33] fiigii commented on #1592
@sean-mcmanus Thank you!

[2018-02-21 00:33] #1592 closed, assigned to nobody

[2018-02-21 00:37] huili80 commented on #1582
You're right about this being the same as hitting ```pause```. In fact, what i currently do is: hit ```pause```, run a few gdb commands prepended with ```-exec```, then hit ```continue```. The difference is, unlike in a standalone gdb session, where i can use a customized function to attach to a process, which runs the extra gdb commands before continues the program. With vscode, i can't automate

[2018-02-21 00:38] pieandcakes commented on #1582
@huili80 Its something we can consider. I know we continue on attach now after we set up the debugger so a flag here would be possible.

[2018-02-21 01:01] #1581 closed, assigned to pieandcakes

[2018-02-21 02:01] simon-p-r commented on #1591
@pieandcakes pieandcakes the compiler was missing the /Zi flag even though I set it to debug builds, I forced a rebuild and it has no worked.   Thanks for your swift response!

[2018-02-21 02:01] #1591 closed, assigned to nobody

[2018-02-21 02:02] WardenGnaw commented on #1544
@pieandcakes Looks like an issue specifically with GNU gdb (GDB) (Cygwin 7.12.1-1) 7.12.1

When ```-exec-interrupt``` runs, it returns
[code]

[2018-02-21 02:31] huili80 commented on #1580
I found something interesting. Immediately after opening up a project or reloading the window, if i press F5 to launch a debugging session, i see an error complaining that renderer1 couldn't find the launch.json file, even thought the file definitely exits. The following is from renderer1's log (with actual paths replaced with ```${...}```)
[code]

[2018-02-21 06:59] GriffenJohn opened #1594 "C/C++ IntelliSense engine problem"
I'm using vs code to write c code for a week, and found a problem(don't know if this is a bug).
I opened an exist C project folder and fixed the include path problems, none error occurred and the IntelliSense engine worked quite well. But soon I found that in somewhere it just didn't show the function's arguments (/the member list) when I finished typing a function name (/a structural variable). F

[2018-02-21 07:04] GriffenJohn commented on #1594
![intellisense](https://user-images.githubusercontent.com/36688398/36467107-37c7f808-1718-11e8-9fd8-3b2f6aec4a7f.gif)

[2018-02-21 08:21] MicroCheapFx commented on #900
@pieandcakes That's what I was trying to do. My bad, I did not understand this issue very well then...
Sorry or false hopes if any.

[2018-02-21 09:10] BillDenton commented on #1466
Note the path for Windows is:
C:\Users\<user>\**.vscode**\extensions\ms-vscode.cpptools-0.15.0\out\src\LanguageServer
In our code base there is no chance of getting the defines right, as they are from a mixture of source code and build system (scons). I've not even managed to get the include paths set correctly. As well as off switch, it might be useful to have a simple switch where only #if etc t

[2018-02-21 11:14] cmh1027 commented on #1560
I just noticed that the problem is not related to my MinGW. If I remove all paths of c_cpp_properties, include lines like #include <iostream> make a lightbulb, saying "Include file not found in browse.path".
And the bulb disappears after I added a path. This definitely means that intellisense reads files from paths I add, but It doesn't make autocorrection for some reason

[2018-02-21 11:17] cmh1027 commented on #1560
This is my setting (I changed __GNUC__ to 7 after I updated my gcc to 7.2.0)
[code]

[2018-02-21 11:35] mundodisco8 commented on #1588
Same here, VSIX solved the issue. Any idea why the extension broke?

On 20 February 2018 at 19:13, varnk <notifications@github.com> wrote:

[2018-02-21 17:07] bobbrow commented on #1594
I am having a hard time seeing what is being typed, but it looks like #13 which I am working on right now.  I'm hoping to have it ready for the March release.

[2018-02-21 17:10] bobbrow commented on #1466
With the new setting the extension should be able to revert back to the previous behavior when disabled, so `#if 0` should go back to doing the colorization defined by the regex grammar.

[2018-02-21 17:18] bobbrow commented on #1560
That config won't be able to find any system headers.  Can you add the system header paths back in so that all of the `#include` statements can resolve? (run the `gcc -v -E -x c++ -` command again and copy the paths to "includePath" and "browse.path")  Then paste it in here.  We'll work from that point.

Note also that GCC 7.2.0 might also need you to add `"__SIZE_TYPE__=unsigned int"` to the "def

[2018-02-21 18:57] manbearian opened #1596 "Please add support for intellisence for /clr"
I have a C++ project with code that must be compiled with /clr.

Please add support for intellisence for /clr

[2018-02-21 19:22] sean-mcmanus commented on #1588
That's the reason we have the offline .vsix's available. For whatever reason, the online downloading mechanism fails to work sometime for some people. We haven't been able to identify any reason for the failure. It works in general. We're not able to repro any problem. When the online installer fails, we should show a message with a link to the offline .vsix to install.

[2018-02-21 19:22] #1588 closed, assigned to nobody

[2018-02-21 21:54] WardenGnaw commented on #1523
@s22chan Sorry for the delay, I tried reproducing your issue but could not get the hang.

Here is the project I was working with.
[pythonProject.zip](https://github.com/Microsoft/vscode-cpptools/files/1745842/pythonProject.zip)

I also included the makefile to show the commands I was using to create the project.

I am using
- Python 3.6.4,
- Python 6.2.1
- Apple LLVM version 9.0.0 (clang-900.0.39.

[2018-02-21 23:42] s22chan commented on #1523
@WardenGnaw sorry looks like the hang is a bit more complicated: I'm unable to reproduce it out of my build environment.

[2018-02-22 02:58] GriffenJohn commented on #1594
![main c - stm32f7 - visual studio code 2018_2_22 10_32_36 00_00_00-00_00_20](https://user-images.githubusercontent.com/36688398/36517403-de803c6a-17bc-11e8-891e-ca6c9efed337.gif)

this is a clear picture, I don't think it's the same as #13  Code complete is OK, the structural member is matching well, problem is suggestions didn't show up in some lines.

[2018-02-22 03:18] sean-mcmanus commented on #1594
@bobbrow I think it's an issue with the signature help not working. The IntelliSense process might be crashing? We might need a repro. The high hitting add_expression_to_index crash can occur with signature help invocation. Not sure if the tag parser signature help is supposed to be used in that situation.

[2018-02-22 07:36] tkazik commented on #1528
I got it from here:

https://sourceforge.net/projects/mingw-w64/

Maybe I should also try another one...

[2018-02-22 08:19] dirkseidel commented on #1348
I have switched on engineLogging, trace and traceResponse.
In the latest call I got 5 error messages:
Unexpected token in JSON at position 7885.
Unexpected token in JSON at position 7159.
Unexpected token n in JSON at position 3873.
Unexpected token in JSON at position 6305.
Unexpected token n in JSON at position 2995.
Unfortunately the largest JSON appearing in the log output is around 3000 bytes

[2018-02-22 10:34] smartdevoloper commented on #1596
digitel convertion stsy in life

[2018-02-22 12:58] ianchen-tw commented on #239
same problem here

[2018-02-22 13:35] cmh1027 commented on #1560
[code]
Actually, it doesn't make autocorrection not only for system headers but also for my header in same folder. Is there any configuration that turns off autocorrection? It doesn't seem like a problem of path setting

[2018-02-22 14:08] varnk commented on #1588
As a suggestion, is there some way that the plug-in symbol-lookups can continue to function after the online download failure occurs?  Right now, when the download fails, the plug-in will no longer be able to jump to symbols until a successful VSIX update is applied.

[2018-02-22 15:48] cszang opened #1597 "Cannot jump to definition of local variable"
I am using the latest stable VSCode 1.20.1 on macOS 10.13.3 with a vanilla setup except for having installed cpptools 0.15.0 from the extension manager.

Considering a very basic file

[code]

I can jump to the definition of `example`, but not to the definition of `myinteger`. I believe this should be possible? Which settings am I possibly missing? Hovering over `myinteger` correctly says `int myi

[2018-02-22 17:07] bobbrow commented on #1588
The problem is that VSCode deletes the previous version's binaries when it auto-upgrades you so there's no way to revert back at that point.  If this is a recurring problem, you could add `"extensions.autoUpdate": false` to your settings.json.  Unfortunately, our extension doesn't have much control over the update process.

[2018-02-22 17:10] bobbrow commented on #1588
(but you did get me thinking about whether we could try downloading the matching VSIX for you from GitHub automatically, and maybe extracting the dependencies from there.  That might give us some insight into whether the download failure is caused by our CDN or your proxy settings.  hmm...)

[2018-02-22 17:12] bobbrow commented on #1597
This doesn't work yet.  We are in the process of transitioning between two different IntelliSense engines.  Goto definition doesn't work for local variables yet, but hover does.  We are tracking this with #255.

[2018-02-22 17:12] #1597 closed, assigned to nobody

[2018-02-22 18:06] bobbrow commented on #1560
Ok, based on your paths, it looks like you're using msys2.  MinGW and mingw-w64 both put the c++ folder under `lib/gcc`.  I pasted your config into my instance of VSCode and it works fine for me with a minor change from `c:/mingw` to my installation root so I'm confused as to what is going wrong for you.  Can you paste a code sample, screenshot, or GIF so I can see exactly what you're talking abou

[2018-02-22 18:09] varnk commented on #1588
I have a feeling that it is a proxy issue.  I don't know much about our IT infrastructure, but if I were to guess, there is probably a firewall rule that allows GitHub through.  That may be the reason why marketplace updates work, but the plug-in symbol update do not.

[2018-02-22 19:37] bobbrow commented on #885
Closing this old issue which seems to be resolved.  Please reopen or create a new issue if your question has not been answered yet.

[2018-02-22 19:37] #885 closed, assigned to nobody

[2018-02-22 20:16] pieandcakes commented on #1580
That seems to be an issue in [VSCode](https://github.com/Microsoft/VSCode/issues) but are you sure that this is causing the problem? You may want to try and file an issue there to see if this can cause latency.

[2018-02-22 20:26] pieandcakes commented on #1348
@dirkseidel You can probably turn off engineLogging and just do trace/traceResponse. Json parsing is done for communication between our extension and VSCode so either we are sending invalid data or VSCode is. I'd like to see why the data is bad. Can you try and change the encoding for the `launch.json` to `en` and see if it still has a problem? I'm wondering if the fact that `enca launch.json` is

[2018-02-22 21:01] J-Vaughan commented on #1577
Thanks! :+1:

[2018-02-22 23:01] pieandcakes commented on #1554
@cheeseandcereal: @WardenGnaw tried this out with Mint 18.3 and we can't duplicate the original issue (without my fix) with the workspace having a space in it. Can you share more details on what your configuration is?

[2018-02-23 00:57] huili80 commented on #1580
I'm not sure whether it's the cause or not. I'll try file an issue with vscode. Thanks.

[2018-02-23 00:57] #1580 closed, assigned to pieandcakes

[2018-02-23 02:35] DonoA opened #1598 "Doc Blocks don't remain starred on subsequent lines"
Not fully sure if this is a c/c++ extension bug or not, however documentation blocks no longer continue their star formatting like the used to.
For example, this is what happens now when I go to a new line:
![capture](https://user-images.githubusercontent.com/6405401/36575261-ec3af68c-17fe-11e8-98aa-0d51d0d0a053.PNG)
This is what used to happen:
![capture](https://user-images.githubusercontent.com

[2018-02-23 03:18] sean-mcmanus commented on #1598
We never implemented continuation via /* -- we do it for /**. Our next release will make it more customizable -- https://github.com/Microsoft/vscode-cpptools/issues/1539 ...so /* would be doable.

[2018-02-23 03:21] cheeseandcereal commented on #1554
After playing around with it some more, it turns out the issue isn't the space in the workspaceFolder as I originally thought. It's actually the existence of a single single quote in the path of the workspaceFolder. For example, having my project in "/home/user/A Program" works fine, but moving this project to the directory "/home/user/A' Program" causes the issue with the debugger.

[2018-02-23 03:41] DonoA commented on #1598
I see, however this does not seem to be working either. I start a comment with `/**` and hit enter and nothing follows.

[2018-02-23 07:35] ribomo commented on #103
Any update on this issue? I'm using gdb version 8.1 on Arch Linux and are still encouturing this issue.

[2018-02-23 08:05] dirkseidel commented on #1348
language `en' is also unknown/not supported on my system.
enca -L none .vscode/launch.json  gives
7bit ASCII characters

I have attached the log file
vscodeDebug.log
 which corresponds to the following messages:
Unexpected token  in JSON at position 8060.
Unexpected token  in JSON at position 2844.
Unexpected token  in JSON at position 4607.

The unexpected tokens all seem to be new lines in this

[2018-02-23 08:20] cmh1027 commented on #1560
![no](https://user-images.githubusercontent.com/22341329/36584457-a6092a3a-1871-11e8-9d24-7b140e40c325.gif)
( in cpp )

![no2](https://user-images.githubusercontent.com/22341329/36584521-ef0c59d2-1871-11e8-8713-a656d8d57fb3.gif)
( in javascript )

Sorry for my short English. I hope that you can understand what I mean.
Cpp intellisense doesn't show the list

[2018-02-23 10:42] ndtreviv commented on #87
I've got v 1.20.1 for Mac and am still experiencing this problem.
I have my headers in an include directory, and have specified:
[code]
in both `includePath` and `browse: { path [` areas of the c_cpp_properties.json file, and _still_ it persists in telling me that it can't find the header files.

Can you give an example project layout and c_cpp_properties.json that will make this IDE happy?

[2018-02-23 13:28] wolf99 opened #1599 "How do I set the default configuration?"
I have MSYS2 on my Windows PC and have added configuration to `c_cpp_properties,json` to allow IntelliSense to know about it. However, whenever I start VS Code the selected configuration is always set back to `Win32`. Is there some way I can tell cpp tools that this folder uses a different configuration? (`MinGW64` in this case) while still keeping `Win32` available to be selected?

This is my add

[2018-02-23 14:42] Garzet opened #1600 "Integrated terminal for debugging"
Is there a way to use integrated Terminal for debugging/launching code instead of Debug Console?

Currently, I'm using external console window for debugging code in VSCode, but it's not very convenient while debugging on full screen since it goes into background. The problem with the Debug Console is that it does not allow input, so my program is stuck if it requires any input and I don't use the

[2018-02-23 14:57] aenima1891 commented on #852
@sean-mcmanus  Thank you for the reply. I'll be waiting impatiently the c_cpp_properties.json setting, since every project has its own forced include files

[2018-02-23 16:02] weinand opened #1601 "compiled a.exe is not launching"
_From @SPK-RPI on February 22, 2018 6:48_

### Issue Type
Bug

### Description

my root folder is in onedrive i have compiled a programe in c++ the generated a.exe file was launching in debugger before until now.the programe is running when i run outside vs code but not in it.

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:34:36.336Z)
OS ve

[2018-02-23 17:25] bobbrow commented on #1598
Just double checking...  does the status bar in the lower right corner say that the file is a C or C++ file?

![image](https://user-images.githubusercontent.com/12818240/36606658-3fb37af8-1879-11e8-97a1-11bccd659541.png)

I don't repro this on 0.15.0 with VS Code 1.20.1.  `/**` followed by <kbd>Enter</kbd> works for me.

[2018-02-23 17:26] bobbrow commented on #1598
(do you have any other extensions installed that might be interfering?)

[2018-02-23 17:32] DonoA commented on #1598
I am in C mode and I have disabled all other plugins. When I set the file to C++ (its in C normally) this still does not work. Just to be sure, this should work all the time right? I don't need to be directly above a function for this to work, correct?

[2018-02-23 17:42] huili80 opened #1602 "No definition/declaration found even though mouseover correctly shows the type"
Intellisense clearly knows the type, but when i click on "go to/peek declaration/definition" it tells me no declaration/definition found. I'm certain that intellisense knows the type because it correctly figured out whether a type is a ```class``` or a ```struct``` when mouseover it. But what could cause it not be able to jump to or peek the declaration/definition? All of my ```C_Cpp.*``` configs

[2018-02-23 17:44] pieandcakes commented on #1348
@dirkseidel that helped figure out what the problem is. It looks like `gdb` is sending the `\n` newline character and that is causing the parsing issue on VS Code's side. [This](https://bugs.chromium.org/p/v8/issues/detail?id=616) bug that I found tells me it is not valid JSON.

I'll take a look and see if this is something we can fix. Since I can't duplicate it, can you send me a log with the sam

[2018-02-23 17:51] huili80 commented on #1602
Not only this happens for types, it's the same with enums too. Mouseover even shows the correct numeric value of a enumerator but it can't peek or go to the definition.

[2018-02-23 17:54] bobbrow commented on #87
If you rename you c_cpp_properties.json to something else (e.g. c_cpp_properties.json-old) and then run the "Edit Configurations..." command again, the extension will attempt to generate a new file with the correct paths filled in to match your Mac.  If won't have `${workspaceRoot}/include`, but it should have the system header paths, which is what I'm assuming you're missing based on your post.

[2018-02-23 18:05] jamie-pate commented on #1351
![image](https://user-images.githubusercontent.com/682658/36609224-0631e5b4-1881-11e8-878c-e744f57bd67d.png)

The IO usage is killing my system.

Unfortunately I have spinning rust and I think it's becoming a bottleneck when one core is run at full tilt.

`parsing 19790/30690 (66%)` (the number is slowly moving up)

[2018-02-23 18:37] bobbrow commented on #1560
There must be something else going on.  This works fine for me:
![autocomplete](https://user-images.githubusercontent.com/12818240/36610213-4ee3141a-1884-11e8-88fb-e725826e88a9.gif)

If you set `"C_Cpp.loggingLevel": "Information"` you should be able to see if the IntelliSense processes are crashing.  We will log it to the Output Window in the "C/C++" channel.  Also, check your settings to see if

[2018-02-23 18:44] bobbrow commented on #1599
That sounds like a bug.  We don't have a way to set a "default" configuration right now, but we should be saving the active configuration when you close VSCode so that you can start where you left off the next time you open the folder.  Do you use a multi-root workspace?

[2018-02-23 18:51] bobbrow commented on #1598
It is regular expression based.  It should work everywhere.  What are your indentation settings?

![comments](https://user-images.githubusercontent.com/12818240/36611097-34e5e4c2-1887-11e8-83c7-1fb29ecf7f15.gif)

[2018-02-23 18:52] bobbrow commented on #1602
Thank you for your feedback.  We're still working on this.  See #255.

[2018-02-23 18:52] #1602 closed, assigned to nobody

[2018-02-23 18:58] bobbrow commented on #1351
@jamie-pate, we index your entire workspace by default.  If our extension is causing an I/O bottleneck for you, you have some options:
* lower the priority of the indexing service by clicking the database icon and choosing something other than "highest"
* Run the "Edit Configurations..." command and change the "browse.path" array to reduce the number of folders that we index.  [More information he

[2018-02-23 19:12] sean-mcmanus commented on #1598
We're not able to repro any issue with 0.15.0. It's possible another extension is interfering. @bobbrow  Any ideas what could cause a failure? Oh, I didn't see Bob's comment :)

[2018-02-23 19:19] draeger-charles-wilson opened #1603 "SQLite crash/corruption when database is on a remote filesystem"
I've just updated to 1.20.1 / 0.15.0 and foolishly deleted the previously working versions whose numbers I do not recall (late December updates). The auto update of the cpptools extension failed to be able to download its bits and so I installed it from the (self-contained) VSIX file. Unfortunately, the extension seems possessed to make a JSON RPC call which fails. The result being no Intellisense

[2018-02-23 19:21] bobbrow commented on #1603
We have self-contained downloadable versions available here: https://github.com/Microsoft/vscode-cpptools/releases

[2018-02-23 19:22] jamie-pate commented on #1351
Clicking the database icon only presents `Pause Parsing` from the quicklist

[2018-02-23 19:26] bobbrow commented on #1351
@sean-mcmanus, did we not add the option to change the parsing priority from the icon?
@jamie-pate, you can change the setting manually.  It is `"C_Cpp.workspaceParsingPriority"`

[2018-02-23 19:28] draeger-charles-wilson commented on #1603
As stated in the problem, I downloaded the self-contained VSIX version of the extension.

[2018-02-23 19:35] bobbrow commented on #1603
Ok. I read the _and_ here to mean that you were still talking about the VSIX that failed.

In that case, it looks like the extension is crashing.  Can you add `"C_Cpp.loggingLevel": "Information"` to your settings.json and then restart VSCode?  Then paste any logging messages you see in the Output window for the "C/C++" channel here.  In the meantime, I'll take a look at the codeAction event handl

[2018-02-23 19:39] sean-mcmanus commented on #1351
Yeah, I never added that option...it was never even spec'd out. Maybe a Change Priority option could be added that triggers a 2nd dropdown with the list of available options.

[2018-02-23 19:53] draeger-charles-wilson commented on #1603
Did that, and the output is provided. I put the logging level setting in my user setting file.

[2018-02-23 19:53] DonoA commented on #1598
The only possible issues as I see it is that I don't have the `msys2` in the corner of my screen and that my node version is `7.9.0`. If you cannot reproduce with those settings I think it is fair to call this un-reproducible.

[2018-02-23 19:59] pieandcakes commented on #1601
@spk-rpi can you provide a launch.json configuration? Also when you say it isn't running in VSCode, are you saying you can't debug it or you get an error message that is telling you it fails to launch?

[2018-02-23 20:01] pieandcakes commented on #1600
@Garzet We don't have integrated Terminal yet (see #371)  and we have plans to do it, just that it hasn't been done yet. There is no current method to enter input in the debug console.

[2018-02-23 20:02] #1600 closed, assigned to nobody

[2018-02-23 20:09] DonoA commented on #1598
I did some more research and located the developer console (sorry, should have checked this earlier). The output was the following: https://hastebin.com/exiducivar.tex

[2018-02-23 20:27] sean-mcmanus commented on #1598
It looks like the node_modules/vsocde-languageclient is not getting installed for some reason. You could try uninstalling/reinstalling the extension or running npm install in the ms-vscode.cpptools-0.15.0 folder. Not sure yet how we can auto-detect/fix this.

[2018-02-23 20:36] DonoA commented on #1598
I ran npm install from my node command line, restarted vs code and reloaded the plugin and now things are working.  npm installed a __lot__ of dependencies, the only one already installed was `vscode-extension-telemetry@0.0.11`.

Thanks so much for your help!

[2018-02-23 21:24] bobbrow commented on #1603
Where did you provide the output?  The messages you pasted at the beginning of this issue are not from the "C/C++" Output channel.

[2018-02-23 21:31] bobbrow commented on #1598
Glad it's working for you now.  This is really concerning if we can't trust VS Code to upgrade our extension properly. 😕  I'm considering adding code to check if the old binaries are still around since we've seen cases of that as well.

[2018-02-23 21:31] #1598 closed, assigned to nobody

[2018-02-23 21:55] graysonwebster commented on #1474
I'm having this issue on 0.15.0

[2018-02-23 22:23] sean-mcmanus commented on #1474
@graysonwebster Is the Microsoft.VSCode.Cpp.IntelliSense.Msvc process crashing, using CPU, or stuck? Our next release will fix a bug that can cause the red flame to get stuck if the process crashes.

[2018-02-23 22:35] graysonwebster commented on #1474
I'm on Mac and I see a process named Microsoft.VSCode.CPP.Extension.darwin. When I launch VSCode, according to Activity Monitor it uses nearly 100% CPU for about 30 seconds and then drops to 0%, but the red flame does not go away and IntelliSense still doesn't work.

[2018-02-23 22:55] sean-mcmanus commented on #1474
@graysonwebster Yeah, the IntelliSense process has crashed (the other process is the main process). We've fixed a bug causing 50% of our Mac crashes for the next release. You can check your `<user>/Library/Logs/DiagnosticsReports` folder for the crash details. If it says add_expression_to_index on the crashing thread, then it's the fixed crash.

[2018-02-23 23:05] graysonwebster commented on #1474
I see a crash report from about 3 weeks ago for the process (not seeing add_expression_to_index), but it doesn't look like the current crashes are producing any logs.

[2018-02-24 02:09] WardenGnaw commented on #1348
@dirkseidel I am having trouble reproducing this issue.

Can you reproduce the issue with running a simple project that has an infinite loop printing "Hello World" on the Linux box and attaching to it?

[2018-02-24 17:57] arnaudbuy commented on #429
+1, I am also interested ...

[2018-02-24 19:32] codecae commented on #1276
It appears this change is suddenly dimming large amounts of code in our project with multiple targets that span various configurations.  Unfortunately, I now have to disable this plugin in order to effectively browse my code and retain syntax highlighting.  Is there a way to make this feature configurable?

[2018-02-25 03:04] cmh1027 commented on #1560
![default](https://user-images.githubusercontent.com/22341329/36637650-9abd3e6a-19d8-11e8-892b-2138249a4cba.PNG)
Here's the error log

[2018-02-25 03:34] LlorandoLau opened #1605 "command 'extension.cppdbgAdapterExecutableCommand"
I am using c/c++ 0.15.0 for debugging. But it shows error: "command 'extension.cppdbgAdapterExecutableCommand' not found." My launch.json is as follow:

{
    "configurations": [

        {
            "name": "(gdb) Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/main.exe",
            "args": [],
            "stopAtEntry": false,

[2018-02-25 08:21] veto-gh commented on #1276
They are working on a setting (see #1574).

For a temporary workaround to disable it please see the thread I mentioned above (#1466).

[2018-02-25 11:30] BuWH opened #1606 "can't run code"
**the source code:**

#include <iostream>
using namespace std;

int main(){
    cout<<"hello";
    return 0;
}

**after I "Run Code":**

wenhedeMacBook-Pro:.vscode wenhe$ cd "/Users/wenhe/Documents/我的坚果云/编程/折腾/.vscode/" && g++ test -o  && "/Users/wenhe/Documents/我的坚果云/编程/折腾/.vscode/"
clang: error: argument to '-o' is missing (expected 1 value)

**And then:**
wenhedeMacBook-Pro:.vscode wenhe$ g++ t

[2018-02-25 21:08] stmon opened #1607 "Active preprocessor blocks greyed out"
Version 0.15.0: February 15, 2018

When using macro specified below the code that should be active is greyed out. It seems that defined() operator inside macro is not working properly. When defined() is used directly the code is colorized correctly.

[code]

![image](https://user-images.githubusercontent.com/1108331/36646516-cbf3245e-1a78-11e8-93bb-49cd0b61a817.png)

[2018-02-25 22:18] wolf99 commented on #1599
Hi @bobbrow, no, I am seeing this with a single-root workspace. I can do some more experimenting with the nature of this tomorrow now I know there is supposed to be active config recall.

[2018-02-26 01:39] 0xdw commented on #1605
Same here. Im also get this message when debug.
`command 'extension.cppdbgAdapterExecutableCommand' not found`

**launch.json**
[code]

[2018-02-26 01:46] 0xdw commented on #1605
Try to uninstall extension and remove the extension folder from VSCode extensions directory (_ms-vscode.cpptools-0.15.0_) and install again. **This works for me. :)**

[2018-02-26 02:30] 3v1n0 opened #1608 "Failed to query default include paths for use with compile_commands.json"
Running vscode in ubuntu 16.04 (from snap package), when providing my compile_commands.json this extension complains about that, with no other infos.

So I can't really debug it (nor I can't find where this is emitted from, I only notice is in `bin/Microsoft.VSCode.CPP.Extension.linux`

This is weird, since clangd doesn't seem to complain about that when using `vscode-clang`.

Not sure if this is

[2018-02-26 04:17] mattmular opened #1609 "red squiggle under #include <iostream>"
My code:
`#include <iostream>
using namespace std
int main() {
cout << "Hello World!";
return 0;
}`

c_cpp_properties.json:
[code]

I found someones includePath and browser.path settings because I've spent hours trying to get this to work, it removed the red squiggle under "#include <iostream>" but iostream clearly doesn't work. How do I find out what to put in my includePath and browse.path setti

[2018-02-26 10:07] sean-mcmanus commented on #1607
This scenario works for me. @bobbrow @grdowns Are you guys able to repro this?

[2018-02-26 10:20] sean-mcmanus commented on #1609
intelliSenseMode should be clang-x64. You're also missing some required defines. Have you seen https://github.com/Microsoft/vscode-cpptools/blob/e6d8d1fb28dd38f3a1e39762dad4744c9705bad4/Documentation/LanguageServer/MinGW.md ?

[2018-02-26 10:29] sean-mcmanus commented on #1608
What compiler or script is being referenced in the "command" in your compile_commands.json? gcc or something else?

[2018-02-26 11:59] weinand opened #1610 "VS Code becomes unresponsive inside Docker container"
_From @davefinster on February 26, 2018 5:50_

- VSCode Version: 1.19.3
- OS Version: 4.13.0-32-generic #35-16.04.1-Ubuntu SMP

Steps to Reproduce:

1. Open VS Code to my current project (reasonable C++ project)
2. Right click on a symbol and select "Show Declaration"
VS Code becomes unresponsive with this printed in the console (running --verbose)
[code]

Does this issue occur when all extensions

[2018-02-26 11:59] weinand commented on #1610
_From @kdkeyser on February 26, 2018 8:55_

I run into the same issue. Behaviour seen both with C++ as well as a Haskell project, so likely unrelated to the plugins. Same project/plugins running natively (so not in docker) works fine.

[2018-02-26 12:25] stmon commented on #1607
OK, I changed IntelliSenseEngine to "C_Cpp.intelliSenseEngine": "Tag Parser", and it is working now.

[2018-02-26 12:28] draeger-charles-wilson commented on #1603
The error provided was from the output window. Snip now attached.
![vscode c error](https://user-images.githubusercontent.com/33490168/36670528-92b162be-1af0-11e8-91ab-5cdbb02f2685.PNG)

[2018-02-26 14:07] 3v1n0 commented on #1608
For reference my `compile_commands.json` are generated by both Meson builder and [Bear](https://github.com/rizsotto/Bear), every line of it is generally something like:

[code]
So the compiler is just the generic `cc` (which in this system is indeed `gcc-5`).

Speaking of which, would be possible to force this extension to use a different compiler or compiler stack for this? As sometimes I've to r

[2018-02-26 14:39] dirkseidel commented on #1348
@pieandcakes vscodeDebug.log
This file corresponds to the messages:
Unexpected token  in JSON at position 7583.
Unexpected token i in JSON at position 4058.

It is not always a problem with a newline. In the second message here it is the token "i" and very often it is "C" which is the problem

@WardenGnaw The simple "Hello World" doesn't cause any problems.

[2018-02-26 15:01] bobbrow commented on #1524
FYI, I've been discussing this with the VSCode team and asking them for a way to do this that doesn't require us to expose a setting or an API.
https://github.com/Microsoft/vscode/issues/43782

[2018-02-26 15:14] thejcannon commented on #1524
I like the sound of that. It definitely allows for more interesting things, while keeping the active config private in the cpptools extension.

[2018-02-26 17:38] wolf99 commented on #1599
I've thrown together a very basic C++ program in a new directory, with the following `c_cpp_properties.json`. If I select the MinGW64 configuration, the green squiggles in the includes go away. If I then close and immediately reopen vscode it shows Win32 as the selected configuration, the green squiggles are back and I get a prompt to configure includePath for better IntelliSense results.

[code]

[2018-02-26 17:55] stmon commented on #1607
When my IntelliSenseEngine is set to "Default" the code is greyed out but
when I change it to "Tag Parser" code is colorized as should be.

On 26 February 2018 at 11:07, Sean McManus <notifications@github.com> wrote:

[2018-02-26 18:05] bobbrow commented on #1560
Thanks.  That looks helpful.  I'll try adding some extended characters to my path and see if I can reproduce.  Would you be able to paste those characters here as well?  We do have tests that cover folders with wide characters in them, but these particular characters may be causing a problem for our extension for some reason.

[2018-02-26 19:10] WardenGnaw commented on #1605
@LlorandoLau @DininduWanniarachchi

Which version of VsCode are you using?

Also, does this error occur if you first click on a .c/.cpp file then try to F5?

[2018-02-26 19:13] sean-mcmanus commented on #1610
It repros without the C++ extension, right? Why is this our issue? Where does "Show Declaration" come from? I don't see that. I see "Go to" and "Peek" Definition. Our "Go to Definition" can get blocked by our IntelliSense thread, but it won't cause VS Code itself to be unresponsive.

[2018-02-26 19:16] sean-mcmanus commented on #1603
@draeger-charles-wilson That is not the C/C++ output channel.

[2018-02-26 19:26] draeger-charles-wilson commented on #1603
My mistake. How do I access the C/C++ output channel?

[2018-02-26 19:26] grdowns commented on #1607
I have not been able to repro this on Ubuntu 16.04. @stmon does this bug manifest immediately on re/load of the file, or does it only manifest after performing some edits on the file? If it's the former, does opening the file in a new instance of VSCode still cause the bug to manifest?

[2018-02-26 19:33] pieandcakes commented on #1606
@BuWH you have a few issues with your code and your commands

You need to include a library, you can't just have #include

clang: error: argument to '-o' is missing (expected 1 value)

When compiling with `-o` you need to specify your output target. Clang gives you an error here which looks like you are ignoring. Also, you need to compile with the `-g` flag for symbols.

I don't know what you are

[2018-02-26 19:33] bobbrow commented on #1603
It's in the drop down box to the right of the tabs (where "cpptools: PMA" is in your screenshot).  If you're using a multi-root workspace it will be "C/C++: PMA", otherwise it should just be called "C/C++".

[2018-02-26 19:34] sean-mcmanus commented on #1608
@3v1n0 Your command looks good -- I don't know why our attempt to query the includePaths from "cc" is failing. @bobbrow Any ideas? We're in the process of adding a compilerPath setting for our next release, which will override the version we attempt to get from the compile_commands.json, so maybe that will be a workaround for you, although we do the same type of querying so it could still fail, bu

[2018-02-26 19:36] pieandcakes commented on #1348
@dirkseidel How are you able to determine which characters they are? Also, I don't see those errors in either of the log files you provided. Our debug adapter only sends JSON from the adapter to VS Code, so knowing what we are sending to see this error would be helpful. By going through both logs, my assumption was the '\n' character which seems to be an invalid assumption.  Are you sure this JSON

[2018-02-26 19:43] draeger-charles-wilson commented on #1603
Not seeing it.

![drop_down](https://user-images.githubusercontent.com/33490168/36691462-46ce1f8a-1b2d-11e8-9eab-183e99ad94e0.PNG)

Note: I restarted and it attempted to load the language server 5 times. Apparently yielding the 5 entries in the menu.

![no_reload](https://user-images.githubusercontent.com/33490168/36691757-13753938-1b2e-11e8-9ebc-77f5f95117b0.PNG)

[2018-02-26 19:47] pieandcakes commented on #1544
@qian6 This sounds like an issue with Cygwin. Can you see if you try an older version (7.11) and see if it reproduces?

[2018-02-26 20:04] dirkseidel commented on #1348
A popup from VSCode appears at the top of the window stating "Fehler" in red and then the error message like:
"Unexpected token
 in JSON at position 5733. Der Debugadapter wird beendet."

The new line only shows up when pasting it in here. In the popup window it is one line and the newline looks like a whitespace character.
I always assumed that the error was thrown by cpptools but I was also wond

[2018-02-26 20:05] sean-mcmanus commented on #1599
Thanks for reporting this -- we're able to repro the bug. It's resetting to the OS default if there are 3 or more configs. You can work around this by deleting one of the unused configs.

[2018-02-26 20:10] WardenGnaw commented on #1606
@BuWH The error ```ld: warning: ignoring file test, file was built for unsupported file format ( 0x23 0x69 0x6E 0x63 0x6C 0x75 0x64 0x65 0x20 0x3C 0x69 0x6F 0x73 0x74 0x72 0x65 ) which is not the architecture being linked (x86_64): test
Undefined symbols for architecture x86_64:
"_main", referenced from:
implicit entry/start for main executable
ld: symbol(s) not found for architecture x86_64
clang

[2018-02-26 20:18] pieandcakes commented on #1348
@dirkseidel can you peek in the output window and see if there is a more detailed message?

[2018-02-26 20:34] dirkseidel commented on #1348
As far as I can see there is nothing to peek in. Only the message I posted already. The only thing I can do is close it with ESC or click on "Schließen" on the right of the window.

[2018-02-26 20:34] sean-mcmanus commented on #1603
It looks like our language service process is crashing 5 times and causing the extension to not be loadable. I don't know what could be causing this. I'm not aware of any widespread crashing on Windows (0.15.0 fixed our previous high hitting Windows crashes). Maybe it's some issue with Win7? Did you install the 0.15.0 vsix or an older one?

[2018-02-26 20:35] weinand commented on #1610
@sean-mcmanus you are right, you can close this and I will reopen the original issue.

[2018-02-26 20:37] #1610 closed, assigned to nobody

[2018-02-26 20:38] pieandcakes commented on #1348
Interesting. Do these messages get preceeded by any specific command or action that you have done? That might be our deserialization of JSON from VS Code then. Do you have any non-English characters (umlaut, ß, etc) in any of your locals or watch variables? I'm trying to figure out how I can reproduce this from my side to debug it.

[2018-02-26 20:42] draeger-charles-wilson commented on #1603
I have uninstalled and reinstalled from the current bits. Is it trying to phone home for something? We have a very aggressive firewall. Could this be a telemetry issue? I'd submitted an issue previously where the default for telemetry was set to not send by default for similar reasons.

[2018-02-26 20:49] dirkseidel commented on #1348
I just start the debugger with e.g. F5 and then wait. Most of the time the debugger crashes shortly after the stack trace is shown. All our variables are usually in English but of course I don't know if this is true for the whole code.

[2018-02-26 20:51] sean-mcmanus commented on #1603
I don't think telemetry code can be causing any issues -- you can disable telemetry via setting telemetry.enableTelemetry to "false".

[2018-02-26 21:07] bobbrow commented on #1603
JSON RPC is for inter-process communication, not telemetry.  You might want to try attaching to the extension process on launch and then sending us a callstack.  There is a good article on [setting up WinDbg to attach on process launch](https://bugslasher.net/2011/03/26/how-to-debug-a-process-as-soon-as-it-starts-with-windbg-or-visual-studio-2010/).  The process you want to attach to is `Microsoft

[2018-02-26 22:49] 0xabu commented on #1040
I think I just hit this on vscode 1.20.1 / cpptools 0.15.0.

Microsoft.VSCode.CPP.IntelliSense.Msvc.exe is holding a file handle, even after I closed that file in vscode. Of course I don't have a syscall trace prior to the problem, but I will try to take a dump of the intellisense process before killing it in case that it useful to anyone.

[2018-02-27 01:28] leoliuasia commented on #1527
@WardenGnaw My CodePage is 65001. The potential fix does not work.

[2018-02-27 02:14] mancini0 opened #1611 ""Configuring Intellisense" link in C/C++ Release 0.15.0 notes gives "404 page not found.""
* VS Code version and if you are using the Insiders build :
                      Version 1.19.3
                      Commit 7c4205b5c6e52a53b81c69d2b2dc8a627abaa0ba
                      Date 2018-01-25T10:32:23.601Z
                      Shell 1.7.9
                      Renderer 58.0.3029.110
                      Node 7.9.0
                      Architecture x64
    * C/C++ extension version

[2018-02-27 02:17] mancini0 commented on #1611
Closing as #1515 should  fix this

[2018-02-27 02:17] #1611 closed, assigned to nobody

[2018-02-27 04:45] cmh1027 commented on #1560
Failed to spawn IntelliSense process: Unable to start child process!
Shutting down IntelliSense server: C:\USERS\최민혁\DESKTOP\WORKSPACE\TEST.CPP
Failed to create IntelliSense client. Can't create intellisense client for C:\USERS\최민혁\DESKTOP\WORKSPACE\TEST.CPP
Checking for syntax errors: file:///c%3A/Users/%EC%B5%9C%EB%AF%BC%ED%98%81/Desktop/workspace/test.cpp

Here, thanks

[2018-02-27 07:32] shaoyabo opened #1612 "why MIDebugEngine will create a "varxxx" and delete it at once after -stack-list-arguments ?"
vscode:1.19.0
ms-vscode.cpptools:0.14.6
the remote linux  be suse11 sp3 ,  when we use F10 ,the gdb very slow;
we find   MIDebugEngine  will  create a "varxxx" and delete it at once   after -stack-list-arguments; They have wasted a lot of time .
see log  :
1: (240376) <-2012-stack-list-arguments 0 0 37
1: (240423) ->2012^done,stack-args=[frame={level="0",args=[name="this",name="msg"]},frame={level

[2018-02-27 10:39] zhangmn799 commented on #1544
It can also repro when I install cgwin64-gdb(7.11)

[2018-02-27 11:10] alex-che commented on #852
By an unfortunate coincidence the force-include is not supported within the compile_commands.json also (#1252).

[2018-02-27 11:35] AdiJurca commented on #612
I can reproduce this too.  When I start VSCode it works fine, I can switch between .h and .cpp files, go to symbol, I have autocomplete. After I start modifying or writing code, this all stops.
It seems that the Microsoft.VSCode.CPP.Extension.exe gets stuck because if I kill it in task manager or restart VSCode, everything works again. Until I write some more code. Then it gets stuck again.

I hav

[2018-02-27 11:46] 3v1n0 commented on #1608
Mh, ok... Thanks, let me know if I can provide some better debugging bits, other than posting the error.

[2018-02-27 11:52] miv-ableton opened #1613 "Red squigle under all C++ stdlib includes when using compile_commands.json, on MacOS"
Hi!

I'm getting Intellisense warnings when including any c++ stdlib header when using a `compile_commands.json` file on a Mac.

VSCode version is _1.20.1_.

The configuration section includes the correct path to the stdlib includes in the `includePath` section, but that section is apparently ignored when accessing a file defined in `compile_commands.json`.

The `compile_commands.json` entries do

[2018-02-27 13:26] rianquinn opened #1614 "Intellisense not working with mapped drive"
I have a VM with ssh enabled and use SFTP Net Drive 2017 to map the VM's file system to Windows 10 which works great. VSCode can work on the file without issue, but Intellisense doesn't seem to work, stating that it cannot find files.

- VSCode Version: 1.20.1
- OS Version: Windows 10

Steps to Reproduce:

1. Map VM file system using SFTP Net Drive
2. Open project, and Intellisense will not work.

[2018-02-27 14:28] stmon commented on #1607
This bug manifest immediately when opening the file but it must be first saved after editing.
I am running vscode (1.20.1 x64) on windows 10 enterprise. It doesn't matter where I open the file the behavior is the same.

It seems that when using #if directive directly everything works but when it is called through macro the coloring fails.

Line 3. -> OK
Line 4. -> NOT OK

[code]

[2018-02-27 18:00] draeger-charles-wilson commented on #1603
I've not used WinDbg myself and while I was able to get it to stop on launch of the extension, continuing execution merely saw that process sit. If I dismissed WinDbg itself, this was repeated 4 more times and then the final error message would appear.

I took another look at my c_cpp_properties.json and discovered that one of my mounted volumes referenced in the 'includePath' section was no longe

[2018-02-27 18:20] bobbrow commented on #1603
Yeah, the extension should only print out those initial lines when you make a change to your VSCode settings (or when the extension first launches) so it's definitely crashing somewhere.

I'm surprised that WinDbg didn't break in when the extension crashed.  You may need to tell it to break on first chance exceptions (from the menu: Debug -> Event Filters... -> select "C++ EH exception" and enable

[2018-02-27 18:35] draeger-charles-wilson commented on #1603
Side note: The c_cpp_properties.json updates the version from 2 to 3. The current documentation describes version 2. Is there an update describing what the differences are?

[2018-02-27 18:43] draeger-charles-wilson commented on #1603
I was able to catch the exception in VS2017

Exception:

`Unhandled exception at 0x00E66407 in Microsoft.VSCode.CPP.Extension.exe: 0xC0000006: In page error reading location 0x00150000 (status code 0xC0000054).
`
Registers:

`EAX = 0069A478 EBX = 00150000 ECX = 0000000C EDX = 006AA598 ESI = 00150000 EDI = 046BE8A0 EIP = 00E66407 ESP = 046BE850 EBP = 046BE8D4 EFL = 00010282
`

Threads:

[code]

Cal

[2018-02-27 18:44] bobbrow commented on #1603
version 3 adds the `"macFrameworkPath"` property (which should be essentially a no-op upgrade for your config)

[2018-02-27 18:44] bobbrow commented on #1603
Were you able to get a callstack at the crash site?

[2018-02-27 18:55] bobbrow commented on #1603
Hmm... the symbols weren't resolved.  @sean-mcmanus we published symbols for this, right?

@draeger-charles-wilson, in Visual Studio could you do "Debug" -> "Save Dump As..." and then email the crash dump to us so we can debug it?  That would be super helpful.  c_cpp_support@microsoft.com

[2018-02-27 18:57] draeger-charles-wilson commented on #1603
Will do. Any subject line recommendations?

Emailed as subject: 'cpptools-0.15.0 fails while attempting JSON RPC call  #1603'

[2018-02-27 19:10] bobbrow commented on #1603
Thanks.  Unfortunately, I was unable to open that dmp file in any of my debuggers. ☹️ It's possible that our  email scanner strips out information from zipped files, or it could be related to the error you mentioned.  Are you able to open it in Visual Studio on your PC?

[2018-02-27 19:14] draeger-charles-wilson commented on #1603
Looks corrupted on this end. Let me switch VS instances. Hopefully the dump will complete.

[2018-02-27 19:16] WardenGnaw commented on #1612
Duplicate of https://github.com/Microsoft/MIEngine/issues/694

[2018-02-27 19:16] #1612 closed, assigned to nobody

[2018-02-27 19:19] draeger-charles-wilson commented on #1603
Neither VS2017 preview or VS2017 (current) would save the dump correctly. I had to fall back to VS2015 to get a valid dump file. Sending now.

[2018-02-27 19:23] sean-mcmanus commented on #1614
Can you give more info on what files intellisense can't find? Are some files found? If you're using a clang/gcc-based compiler you should use the clang-x64 intelliSenseMode. Also, you should remove the Microsoft/Windows paths if you're not using those. You may also want to add the includePath's to the browse.path.

[2018-02-27 19:25] stmon commented on #1607
@grdowns @sean-mcmanus.... you were probably not able to reproduce the issue because the default intelliSenseMode on Linux is set to "clang-x64"? Correct me if I am wrong.
If I add c_cpp_properties.json file and set "intelliSenseMode" from "msvc-x64" to "clang-x64" everything works as should.
Of course this will not work if I open the file alone in new window.

[2018-02-27 19:29] sean-mcmanus commented on #1607
@stmon Yeah, you're right. We're able to repro the bug now. Thanks for reporting this.

[2018-02-27 19:41] draeger-charles-wilson commented on #1603
My capture in VS2015 was at the initial entry. My bad.

The debugger doesn't appear to be able to create a dump file if I attempt to capture the heap also.

It does work if I leave off the heap. Once more down to the beach dear friends.

[2018-02-27 20:00] sean-mcmanus commented on #1607
Oh, it turns out this is "by design". The Microsoft cl.exe emulated with msvc-x64 mode behaves this way, and it doesn't repro with clang-x64 mode, because the gcc/clang compiler behaves as your code intends. Which compiler are you using? You should make sure the intelliSenseMode matches your compiler.

[2018-02-27 20:00] #1607 closed, assigned to nobody

[2018-02-27 20:12] sean-mcmanus commented on #1603
We publish symbols -- I'm able to get them internally via https://symweb. I don't know how that translates into external users getting the symbols.

Just the call stack text without the heap should be okay.

[2018-02-27 20:14] tbrezinski opened #1616 "Provide option to override default (gnome terminal) and launch with xTerm OR allow fallback when gnome terminal fails to launch with xTerm"
I regularly use vscode remotely via ssh X11 forwarding when debugging code that uses dedicated hardware.  I am unable to debug unless I uninstall gnome-terminal since gnome-terminal does not seem to work over X11 forwarding.  Attempting to debug with gnome-terminal installed comes up with the message "Unable to start debugging. Failed to initialize debugger terminal."

Per statement by @pieandcake

[2018-02-27 20:17] stmon commented on #1607
I am using gcc. This should then not be a problem if the source file is open within workspace/folder.
Thanks for your effort.

[2018-02-27 20:47] sean-mcmanus commented on #1603
Oh, it's a crash deep inside SQLITE3 when we try to create the browse database. Are you able to change your browse.databaseFilename to a valid location? It might have some problem creating the database files at the default workspace storage location. Or it could be a SQLITE3 bug? I haven't seen any other crashes like this before, so it seems like some rare special case.

Do you have multiple VS Co

[2018-02-27 20:55] bobbrow commented on #1603
We do have code that checks the path is valid before we attempt to open the DB, so my theory is that the database is readable, but corrupted and needs to be reset.  Changing the `"browse.databaseFilename"` for the active config in your c_cpp_properties.json file will work around the problem, but you'll probably want to delete the old database too.  Please let us know whether you set `"browse.datab

[2018-02-27 21:05] bobbrow commented on #612
When it gets stuck, do you see increased CPU usage in any `Microsoft.VSCode.CPP.Extension.exe` or `Microsoft.VSCode.CPP.IntelliSense.Msvc.exe` processes?  If you are able to attach a debugger to the runaway process and send us the callstack (linux/mac) or a dump file (Windows), we should be able to determine the cause of the hang.

[2018-02-27 21:13] bobbrow commented on #1535
#1293 should cover this.

[2018-02-27 21:13] #1535 closed, assigned to nobody

[2018-02-27 21:18] bobbrow commented on #1484
This should be covered by #1293.

[2018-02-27 21:18] #1484 closed, assigned to nobody

[2018-02-27 21:18] pieandcakes commented on #1616
@grimbeaver I think the problem you are running into with gnome-terminal might be the issue where they replaced the executable with a script, per this [comment](https://github.com/Microsoft/vscode-cpptools/issues/409#issuecomment-335670023).

We have had requests to do the work but haven't had time to do it. The changes would be inside [MI Engine](https://github.com/microsoft/miengine).

[2018-02-27 21:19] bobbrow commented on #1465
This should be covered by #1293.

[2018-02-27 21:19] #1465 closed, assigned to nobody

[2018-02-27 21:21] pieandcakes commented on #1616
We have #515 tracking the gnome-terminal option, but if you want just a workaround for xterm, that might be a quick fix.

[2018-02-27 21:22] sean-mcmanus commented on #1603
Yeah, if the database is somehow corrupt you could do a Reset IntelliSense Database command.

[2018-02-27 21:29] bobbrow commented on #1603
That command won't work if the extension crashes on launch. You'll need to manually remove it.

[2018-02-27 22:41] sean-mcmanus commented on #1603
Ah, yeah :). The default location is under `%APPDATA%\Code\User\workspaceStorage`.

[2018-02-28 01:09] bobbrow opened #1619 "Every time a file is saved the tag parser scans dependencies"
When saving an edited file, we tag parse it again to ensure the database is up to date.  It appears that we are also re-scanning the \#includes unnecessarily.  The timestamps are usually the same so no actual parsing happens, but this is needlessly doing a stat on potentially tons of files each time you save your edits.

[2018-02-28 01:23] sean-mcmanus commented on #1619
This is intentional -- is this causing any observable performance issue? It should only do a stat 1 time per file...I don't think that should cause a detectable performance impact.

[2018-02-28 02:00] skelliam opened #1620 "Expose the inactive lines color setting so it can be set via color scheme"
It's true that Visual Studio does *not* (I don't think) allow changing this, but Eclipse and others do.  Specifically I would like to have a shaded background for inactive preprocessor blocks, like the first image in issue #510.  (In fact, this image may have come from Eclipse)

So in the color scheme, could we have a scope like "meta.preprocessor.inactive" or something, that would let users adjus

[2018-02-28 04:02] ssilverman opened #1622 "In .gitignore: ".vscode/*.db" should be ".vscode/*.db*""
The .gitignore file is modified to include ".vscode/&ast;.db". Instead, because of the ".browse.c_cpp.db-shm" and ".browse.c_cpp.db-wal" files, should the .gitignore contain ".vscode/&ast;.db&ast;"?

VSCode Version: 1.120.1

[2018-02-28 04:09] sean-mcmanus commented on #1622
Where is this .gitignore file? Is this something you added or that we add?

[2018-02-28 04:18] owent commented on #1535
@bobbrow But in this case, this plugin use the right compiler and headers. There are two types, ::size_t and ::std::size_t, but it shows ambiguous when I use size_t. It should just use ::size_t .

I think #1293 is another problem which let users to specify the toolchains.

[2018-02-28 05:38] huww98 commented on #1535
I can reproduce this with a very simple piece of code:
[code]

If I don't define `__SIZE_TYPE__` in `c_cpp_properties.json`, size_t is reported as ambiguous. If I define this, the error disappeared. So I do think this problem is related to #1293.

In your case, maybe you include a `using namespace std` by accident?

[2018-02-28 06:54] #1590 closed, assigned to nobody

[2018-02-28 07:45] AdiJurca commented on #612
I don't see increased CPU usage. In fact it's like the Microsoft.VSCode.CPP.Extension.exe doesn't use the CPU at all when this happens. It's like it gets stuck waiting for some resource, which prevents it from modifying the symbols DB it has created.

At first I thought it had problems accessing the DB file so I put it in a more accessible location, gave full permissions to the folder for all user

[2018-02-28 08:21] aeschli opened #1623 "Cpp: Don't disable syntax highlighting when vscode doesn't find the macro definition."
_From @zouyxdut on February 24, 2018 11:35_

I have some codes like following:

[code]
How to enable syntax highlight for such code? I don't want this feature.

_Copied from original issue: Microsoft/vscode#44326_

[2018-02-28 08:21] aeschli commented on #1623
@zouyxdut What extension do you use for C++? ms-vscode.cpptools?

[2018-02-28 08:21] aeschli commented on #1623
That's what I see without any extensions enabled:
![image](https://user-images.githubusercontent.com/6461412/36727239-d43bdad0-1bbc-11e8-9dc9-8ca44eeb7529.png)

Please give a more complete example to illustrate the problem.

[2018-02-28 08:21] aeschli commented on #1623
_From @zouyxdut on February 28, 2018 2:44_

I installed ms-vscode.cpptools, when I disable this, the problem solved.

I guess this feature was introduced recently, since I‘ve never met this before.

[2018-02-28 09:42] LlorandoLau commented on #1605
@DininduWanniarachchi @WardenGnaw I'm sorry to reply so late. I forgot to check it.

I have updated it after the error occured. And a new one showed as pictures followed:
![default](https://user-images.githubusercontent.com/28216165/36780628-7b6a597a-1cae-11e8-9bc3-ca58d640e0f4.PNG)

You could see no c/c++ configuration is allowed. I have copied launch.json file which I have showed before under th

[2018-02-28 11:08] AdiJurca commented on #612
I installed Process Explorer and analyzed the behavior using that.
I found that I was right it is waiting for some resource. I think it's trying to write to a file and can't. This is the stack for a thread, from Microsoft.VSCode.CPP.Extension.exe, that tries to write to a file:

[code]
What file could it want to write to? I checked the Handles section in Process Explorer and the only files it has

[2018-02-28 12:27] draeger-charles-wilson commented on #1603
The database file location, which was working until this update, has been set in the c_cpp_properties.json file.

 `"databaseFilename": "${workspaceRoot}/.vscode/browse.vc.db"
`

I've tried deleting the database files and the result is the same.

[2018-02-28 13:12] draeger-charles-wilson commented on #1603
@sean-mcmanus I only have the one instance of Code open. As indicated in the above comment, the database location is workspace-relative.

[2018-02-28 13:18] draeger-charles-wilson commented on #1603
If I make the database location somewhere outside the workspace the error does not manifest. This isn't really a good solution as the database really should be with the workspace.

Please note that the path I've been using is the one provided in the documentation. (which doesn't indicate what the defaults are)

[2018-02-28 13:21] owent commented on #1535
@huww98  ``` __SIZE_TYPE__ ``` is undefined maybe the problem. but If I  include a ``` using namespace std; ``` by accident, it should also use std::size_t instead of showing ambiguous.

[2018-02-28 13:24] tbrezinski commented on #1616
@pieandcakes no it is not that they replaced it with a script.  I tried the workaround mentioned in that comment and it still does not work.  Plus it works just fine locally, only remotely has a problem.  I am fine with using xterm.  I just would like to be able to set which of the supported terminals I prefer to use.

[2018-02-28 13:25] draeger-charles-wilson commented on #1603
Assuming that you can't make the workspace-relative path work, shouldn't there be two settings here:
[code]
This would allow for better control over use, as either one could be defaulted.

[2018-02-28 13:55] ghost commented on #911
I have the same problem. Happens here with std::vector on Linux Mint 18.3, VS Code 1.20.1.
With `using namespace std;` the reported error vanishes.

[2018-02-28 15:48] draeger-charles-wilson opened #1624 "'No' is not a helpful Intellisense error message"
Version 1.20.1
Commit f88bbf9137d24d36d968ea6b2911786bfe103002
Date 2018-02-13T15:34:36.336Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
OS Windows 7

C/C++ Output message (info level set):

`Checking for syntax errors: file:///e%3A/Users/wilsonch/Documents/projects/wilsonch_M540_VG7.0_int/PMAComps/iris_include/cord_rcdr_interface.h`

Output:

![intellisense message](https://use

[2018-02-28 16:03] bpetto35 opened #1625 "When using a WSL mingw32/Win10 configuration, __cplusplus is still 199711L"
OS: Window10 and LSW Ubuntu 17.10
VSCode:

C/C++: 0.15.0

VisualCode is run directly on Windows
From internal terminal, I open a bash.

Mingw32 is
[code]

In the following code
[code]
VisualCode/C++ intellisense prompt an error

In the file c_cpp_properties.json, I have set all path to a local installation of mingw-w64 because VisualCode cannot search path with LSW :/
I have a Visual Studio 2017 c

[2018-02-28 17:51] akbyrd opened #1626 "Disable logging for first chance exceptions but not unhandled exceptions"
The codebase I'm currently working has a dependency that uses exceptions for flow control. The (handled) first chance exceptions get logged and it causes so much spam it makes the console useless. I have to disable logging.exceptions in my launch configuration, but that has the side effect of disabling *all* exceptions. Now when a real exception occurs I can't see it in the console.

I'd like to b

[2018-02-28 18:12] pieandcakes commented on #1616
@grimbeaver We can look at adding that option.

I do most of my Linux through X11 remoting also so I wonder if there is something new in 17.10 that is causing this. I'll try and get it installed sometime soon and see if I can figure it out too.

[2018-02-28 19:13] ssilverman commented on #1622
VS Code automatically updates an existing .gitignore file with some .vscode/*xxx* additions. I was referring to one of the lines it added.

[2018-02-28 19:16] sean-mcmanus commented on #1535
@owt5008137 I don't know if this is a duplicate or not, but if this still repros after our next update, we'll re-active it. We're trying to have an insider's build ready next week and the non-insider the following week.

UPDATE: WSL support for compilerPath did make it to 0.16.1, but we're planning for it with the April release.

[2018-02-28 19:20] pieandcakes commented on #1626
@akbyrd Are you using GNU C++ or Visual C++?

[2018-02-28 19:44] Ladinstar commented on #1041
Hello here ! I have the same problem but i use codeblocks in windows to compile. Help me please !

[2018-02-28 20:03] sean-mcmanus commented on #612
@AdiJurca Are you able to send us a mindump ( c_cpp_support@microsoft.com )? We're still investigating why our symbols are not publically available on Windows. I've never seen our process stuck on a writing to a file. Are you sure another thread isn't stuck? Our most common issue is getting stuck on a mutex held by another thread. Can you try to manually delete the database file after the process

[2018-02-28 20:18] sean-mcmanus commented on #1603
That is very strange. Workspace-relative database paths are working for me (and others) and I don't know a reason why they would not -- we just replace the ${workspaceRoot} variable with the folder path. Does it work if you replace the ${workspaceRoot} with the actual path? Does it work if the database path is in a sibling or parent folder or does it need to be on a different drive? The crash appe

[2018-02-28 20:19] akbyrd commented on #1626
Oops, sorry. I'm using Visual C++.

[2018-02-28 20:27] sean-mcmanus commented on #1624
As far as I can tell, the "No" message is not from our extension. Do you have another extension installed that could be outputting that?

[2018-02-28 20:28] draeger-charles-wilson commented on #1603
The problem was manifest on a Clearcase view (the actual volume is remote mounted). Is it possible that the issue is a timeout problem?

Due to an unrelated issue I physically copied the entire tree to a local drive. The problem does not manifest in this case.

The triplet of files is present, so the virus scanner possibility seems unlikely.

[2018-02-28 20:32] draeger-charles-wilson commented on #1624
That's the only extension of note. (Python, Markdown PDF) I can't imagine what else would be stuffing an Intellisense error message at the exact location of the ~~~~~ marker.

[2018-02-28 20:36] akbyrd opened #1627 "${workspaceFolder} not resolved in c_cpp_properties.json"
I just ran into a bit of a headache with the properties file not supporting the new ${workspaceFolder} variable. I was updating my older configuration files to use the new variable and ended up spending some time trying to figure out why includes simply would not resolve. Then I stumbled across this comment:

https://github.com/Microsoft/vscode-cpptools/issues/1392#issuecomment-354736588

Accordin

[2018-02-28 20:39] akbyrd commented on #1627
As a side note, the fact that the properties file doesn't allow comments or trailing commas causes some friction. At this point I think all the other configuration files support it (tasks, launch, settings, etc) so it catches me off guard when I have to edit a C++ config file.

[2018-02-28 20:47] sean-mcmanus commented on #1624
We always report the "#include errors detected..." message as the 1st message, so there shouldn't be any message beforehand. What happens if you change the C_Cpp.intelliSenseEngineFallback to "Disabled"? Or C_Cpp.errorSquiggles to "Disabled"? Or C_Cpp.intelliSenseEngine to "Tag Parser"?

If you can clone our GitHub repo and Launch Extension from VS Code you should be able to see the message we sen

[2018-02-28 21:00] sean-mcmanus commented on #1603
Yeah, looks like there's some problem with the ClearCase view -- we've never heard of any user using that until now, although we have had some reported failures involving other remote file systems. I don't know if a timeout is occurring. You could try reducing your browse.path to create a smaller database file to see if that works (i.e. doesn't time out).

[2018-02-28 21:07] sean-mcmanus commented on #1625
Your intelliSenseMode should be clang-x64 if you're using mingw32. See https://github.com/Microsoft/vscode-cpptools/blob/e6d8d1fb28dd38f3a1e39762dad4744c9705bad4/Documentation/LanguageServer/MinGW.md . Does that solve your issue? Our next release will enable your to set a path to the mingw compiler you're using and obtain all the correct defines (and be able to set the cppStandard version).

[2018-02-28 21:17] sean-mcmanus commented on #1041
@Ladinstar Can you provide more repro info, preferably in a new issue: https://github.com/Microsoft/vscode-cpptools/issues/new .

[2018-02-28 21:40] malafaya commented on #1466
In my case, I have a section of code inside an #ifdef xxx but it is defined: when I hover the variable it says "#define xxx 1". So I don't understand why it's not colored.

[2018-02-28 21:50] sean-mcmanus commented on #1627
Yeah, I think https://github.com/Microsoft/vscode-cpptools/issues/1392 is tracking adding ${workspaceFolder}. I wanted to get it added for March, but looks like Bob removed it.

We're planning to migrate away from c_cpp_properties.json and move to settings.json, which allows comments (our current json parser is the strict kind).

[2018-02-28 21:56] sean-mcmanus commented on #1466
@malafaya Is your intelliSenseEngine set to "Default"? By "not colored" do you mean "gray"? When you hover over a literal number, does it show something like (int)100? If not, then the intelliSense is falling back to the tag parser for the "xxx" variable so the variable might be not be visible to the intelliSense engine.

It looks like when the intelliSenseEngine crashes, the inactive regions are

[2018-02-28 23:22] sumonto commented on #230
Folks this is a big issue for me, 99% of my code is greyed out any workaround?

[2018-02-28 23:27] sean-mcmanus commented on #230
@sumonto We added a setting for our next release, see https://github.com/Microsoft/vscode-cpptools/issues/1574 . https://github.com/Microsoft/vscode-cpptools/issues/1466 has a workaround (setting intelliSenseEngine to "Tag Parser" is another workaround, gray text isn't getting seen by intellisense so that code wouldn't loose any functionality that wasn't already missing).

[2018-02-28 23:37] sumonto commented on #230
@sean-mcmanus Thanks appreciate the prompt reply

[2018-02-28 23:38] malafaya commented on #1466
@sean-mcmanus IntellisenseEngine is set to Default. Yes, sorry: "not colored" as in "gray". Hover a numeric literal shows nothings.
I restarted VSCode hoping to get it fixed but to no avail.
I'll wait for that magic setting that will always show colors no matter what defines you have.

[2018-02-28 23:48] sean-mcmanus commented on #1466
@malafaya Something in the translation unit is crashing our intelliSense process causing it to fall back to the tag parser for hover, which is where the "#define xxx 1" is coming from (we fixed one common case causing 50% of the issues for our next release). You could try adding the macro to the "defines" list to make sure the intellisense sees it, but if it still crashes it might not update the c

[2018-03-01 01:03] pieandcakes commented on #1527
@leoliuasia What region is your English keyboard setting?

[2018-03-01 07:41] leoliuasia commented on #1527
@pieandcakes  English(United States) with keyboard layout: US.

[2018-03-01 08:51] bpetto35 commented on #1625
It solves the issue of the define of the __cplusplus value. That's fine.

Don't know why now, all my winsock2 functions are undefined, weird. Another issue perhaps, I will dig in it.

Consider this as resolve. Thanks to point me the md file I was looking for.

[2018-03-01 08:51] #1625 closed, assigned to nobody

[2018-03-01 09:52] polomora opened #1628 "Documentation: how import existing C++ code into a new project"
VS Code: v 1.20.1
C/C++: 0.15.0

I cannot find explained in the documentation how to import an existing C++ codebase into a VSC project / workspace. There are lots of questions about this on SO and elsewhere. Also, the concept of workspace is not clearly explained in the documentation. As fat as I can see, it is simply a way to maintain common user settings.

I want to move to VSC after trying out

[2018-03-01 12:06] domingguss commented on #1622
I even opt for ignoring the whole `.vscode` folder!

Because the only file that will not be ignored is `settings.json`, but in my setup (using the Platform IO plugin) it contains a hardcoded path which other users obviously don't need.

Is this folder being re-generated by VSCode?
If so, then it seems to me that `.vscode` in your `.gitignore` will suffice.

[2018-03-01 14:10] ssilverman commented on #1622
Personally, I add the whole .vscode folder too because of all the hardcoded paths.

[2018-03-01 14:15] ssilverman commented on #1622
I’ll add that I was asked to put this issue here. It was originally issue [#44474](https://github.com/Microsoft/vscode/issues/44474) in the /vscode repository.

[2018-03-01 16:05] AdiJurca commented on #612
@sean-mcmanus I've sent you the dumps I could create to that email address.

I can not say for sure that writing the file was the cause of the stuck. All of the other threads were waiting for one or more condition variables(I checked their stacks too). So it might be what you say that it's stuck on a mutex. I jumped to the file writing conclusion because of the restricted system that I am working

[2018-03-01 16:07] pieandcakes commented on #1527
@leoliuasia @muttsu we are having problems reproducing this issue.

I’ve tried installing non-US windows and changing locales and keyboards but I can’t seem to get my Windows installation to report code page 65001. Can either of you provide some guidance as to what other configuration you did? It doesn’t matter what I change I still get my base code page.

Win 10 installation: Simplified Chinese
k

[2018-03-01 16:14] pieandcakes commented on #1628
VS Code is designed as a lightweight code editor which has language services, build tasks and debugging. It is not a full fledged IDE.

Workspaces in VS Code is supposed to allow you to open your codebase’s root folder and allow you to start code editing and provide you a language service experience based on that folder. The language service will parse the folder for information and VS Code will c

[2018-03-01 17:37] bobbrow commented on #1619
Oh, right.  A `#include` line could have been added which would require us to reparse dependencies.  I filed this because I was seeing a lot of log messages after each save and I wasn't editing `#includes` at the time.

[2018-03-01 17:37] #1619 closed, assigned to nobody

[2018-03-01 17:42] bobbrow commented on #1623
This is covered by #1574.  The setting will be added in the next release.

[2018-03-01 17:42] #1623 closed, assigned to nobody

[2018-03-01 18:06] bobbrow commented on #1603
I would recommend you always keep the database on a local drive for performance and reliability reasons.  You should be able to continue to use the same path you've always used if you really want though.  We just recommend you delete the database that is currently there because it appears to be corrupted.

[2018-03-01 18:08] bobbrow commented on #1627
Did I?  Oops.  I'll add it back.

[2018-03-01 18:24] bobbrow commented on #1622
VSCode has acknowledged this is their issue.  Closing...

[2018-03-01 18:24] #1622 closed, assigned to nobody

[2018-03-01 18:40] draeger-charles-wilson commented on #1624
Is it possible that the message is being truncated?
`
No such file or directory (77, 1)`

[2018-03-01 19:29] bobbrow commented on #1627
I see why I removed it.  I thought that item was tracking a different feature (a new workspace variable).  I renamed the issue so that I don't get confused again.

[2018-03-01 19:35] pieandcakes commented on #1605
@LlorandoLau the error is because something is happening to our registration in our package.json that happens when the extension is loaded. Can you provide your version of VSCode also?

[2018-03-01 20:10] sean-mcmanus commented on #612
The code is stuck writing to the stdin of clang-format. Is the file really big? Maybe you can try turning off formatting or using a different version of clang-format. I don't see any error in our code yet. The IntelliSense thread isn't involved.

 	ntdll.dll!_ZwWriteFile@36() Line 167	Unknown
 	KERNELBASE.dll!WriteFile(void * hFile, const void * lpBuffer, unsigned long nNumberOfBytesToWrite, unsig

[2018-03-01 20:21] sean-mcmanus commented on #1624
All of our IntelliSense error messages begin with lowercase letters, such as "no" (and we never show a "no such file or directory" message, which is the ENOENT message that VS Code itself sometimes shows), so "No" is either from another source or there is something really bizarre occurring like a memory corruption, but I've never seen a memory corruption leading to garbage messages. If you can pro

[2018-03-01 22:47] bobbrow commented on #1613
I think this will be covered by #1293.  @sean-mcmanus can confirm.

[2018-03-01 22:50] sean-mcmanus commented on #1613
Yeah, that should be covered.

[2018-03-01 23:17] bobbrow commented on #1257
This is a duplicate of #897.  We're looking to implement this for April.

[2018-03-01 23:17] #1257 closed, assigned to nobody

[2018-03-01 23:29] bobbrow commented on #1229
We are investigating deprecating c_cpp_properties.json in favor of settings.json.  That work should resolve this issue.

[2018-03-01 23:32] 3v1n0 commented on #1229
As a trick, what I do right now is saving a single `c_cpp_properties.json` file in the workspace folder and the using symlinks in all the other folders. It works fine even for tasks and other things that I want to share.

[2018-03-02 04:10] LlorandoLau commented on #1605
@pieandcakes 1.20

[2018-03-02 13:06] polomora commented on #1628
Many thanks pieandcakes for the clarification.

[2018-03-02 13:29] draeger-charles-wilson commented on #1603
That's a reasonable enough recommendation, but the crash condition is still lurking. Will you be able to handle the SQL fail condition?

If need be I'd be willing to run with an more chatty version of the extension.

[2018-03-02 15:29] 0xdw commented on #1605
@WardenGnaw  This happened when try to F5. Which means when i'm going to debug my code. Here it the version that i'm using. Currently this is the latest one

Version 1.20.1
Commit f88bbf9137d24d36d968ea6b2911786bfe103002
Date 2018-02-13T15:34:36.336Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

[2018-03-02 15:31] 0xdw commented on #1605
@WardenGnaw But after done i provided process, it's worked for me.

[2018-03-02 15:53] weinand opened #1631 "Visual Studio Code doen't load zsh when debuging which was configed"
_From @flashlib on February 9, 2018 0:54_

My setting is as following:
[code]

But the shell is using **sh** when debuging, I find by the following code:

    #include <stdlib.h>
    #include <stdio.h>

    int main(int argc, char **argv) {
        system("tom");
        return EXIT_SUCCESS;
    }

The output of Debug Console is:
[code]

But in the embeded terminal, when I run ```tom```, the outpu

[2018-03-02 15:53] weinand commented on #1631
_From @flashlib on February 9, 2018 1:58_

I think I have found the reason, the CMake uses /bin/sh as its Shell, following is from my Makefile:
[code]

I tried to change it to /bin/zsh, but it didn't make sense.
Any suggestion would be appreciated!

[2018-03-02 17:10] bpetto35 opened #1632 "WSL/Mingw32 and native debug"
OS: Window10 and WSL Ubuntu 17.10
VSCode:

C/C++: 0.15.0
Mingw-w64 6.3 installed on both WSL and Windows 10

My setup is quite exotic so I do not consider this as a issue.
I edit in VisualCode, I compil in WSL using cmake/mingw-w64 and run on Windows 10

I can use the Windows 10 Mingw-w64 gdb but I have to setup many directories and many substitute-path in order to setup breakpoint and so on.

On

[2018-03-02 19:34] WardenGnaw commented on #1632
@bpetto35 Do you have MinGW in WSL?

For your issue, I think you want to use the `sourceFileMap`. Something similar to this.
[code]
We mention how to do this in this [article](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/Windows%20Subsystem%20for%20Linux.md#example-launchjson-for-launching).

Please, let me know if you have any other questions.

[2018-03-02 20:21] sean-mcmanus commented on #1603
Our crashes related to SQLite are very low compared to other crashes, so we might get around to fixing those for a while. SQLite is an OSS project so the bug could exist in the version we're using or we could have a bug in our API (we updated our version used last year, which fixed some crashes). Wrapping the code in a exception handler to prevent a crash might also work.

[2018-03-02 21:25] WardenGnaw commented on #1605
@DininduWanniarachchi Can you go to your .vscode/extensions and zip up your ms-vscode.cpptools-* folder and post it here? I am hoping to reproduce your issue using the version you have installed.

Also, is there anything specific you are doing when you encounter this issue? E.g. Open VsCode and the only file it sees is a non-c or cpp file.

[2018-03-02 21:50] ripopov commented on #583
The problem is that terminal on linux closes immediately after debugged process exits, so you never know what was the output.

[2018-03-02 23:31] Ladinstar commented on #1041
thank you i have founded the solution !

[2018-03-03 02:10] 0xdw commented on #1605
@WardenGnaw But this is working now. I have deleted my old extension and reinstalled. Attached one is working.

I remember that happened after i updated VSCode from previous version to this version.

[ms-vscode.cpptools-0.15.0.zip](https://github.com/Microsoft/vscode-cpptools/files/1777014/ms-vscode.cpptools-0.15.0.zip)

[2018-03-03 05:22] Wetmelon commented on #687
I'd still like to see this inference working.  This is a very common practice in code I work with - for example, the entire STM32 HAL uses anonymous structs.

With the correct includePaths setup in the properties file, and the  following settings:
[code]

Example:
[code]
`
TIM_HandleTypeDef htim2;
htim2.something = 0;
`

I get red squiggles under `something` as expected, with an error/hover messag

[2018-03-03 09:17] giacat-tran0198 opened #1633 "[CYGWIN] Error when debug langage C by gdb. Errror: The program has exited"
hello everyone,
I have just installe VSC and i try to use cygwin and suyu but it can't debug. It show:
Suyu:
Breakpoint 1, 0x000000000040156d in main ()
[Inferior 1 (process 3572) exited normally]
The program has exited with code 0 (0x00000000).
and
cygwin:
ERROR: Unable to start debugging. Unexpected GDB output from command "-exec-run". Error creating process /cygdrive/d/C C++/a.exe, (error 193).

[2018-03-03 15:22] Dario17 opened #1634 "Go To/Peek Definition Blackened In C++ Visual Studio"
Plz Help, I Have This For A Time Now And Its Pissing Me Off, Ive Tried To Find A Fix For It But  Can't Find It... , Look At The Picture:
![problem](https://user-images.githubusercontent.com/35172707/36935942-b8d99fda-1efe-11e8-81e4-d390f736554a.png)

The Go to/peek Things Are Black :(
In C# The Go To/ Peek Definition Works

Greetings :)
Dario

[2018-03-03 19:13] GreatDanton commented on #1474
Can confirm on Debian 9 (vscode 1.20.1, cpp extension 0.15.0) intellisense shows red flame and stops showing suggestions at completely random intervals (sometimes at start up, sometimes while you work). I found out disabling cpp extension and reenabling it sometimes fixes this problem (not always).

If disabling disabling/reenabling does not fix the problem, close your editor, check your processes

[2018-03-03 20:13] Muny commented on #634
I also wish for this feature to be implemented.

[2018-03-03 22:00] Dario17 commented on #1634
Nevermind I Fixed It Finely

[2018-03-03 22:00] #1634 closed, assigned to nobody

[2018-03-03 22:12] Muny commented on #399
Any update on the status of the implementation of this functionality?

[2018-03-04 00:15] amwps290 opened #1635 "std has no member cout,Cygwin"
this is my code:

[code]

This is my json file:

[code]

This is my environment:

[code]

I checked the other issues, but did not find a solution！

[2018-03-04 06:57] tsalinger opened #1636 "Recent changes greys out the code in C file, when they are under a macro and the macro is defined in a header file /.h file"
--This issue has been moved from [Microsoft/vscode](https://github.com/Microsoft/vscode/issues/44210)--
Author is @pdp166.
### Issue Type
Bug

### Description

1.  create test.h with below code:
     #define MACRO11
2.  create test.c with below code:
     if defined(MACRO11)
     #include "test.h"

      int main()
      {
          //do something
      }
      #endif

3.   Observation:  Code in t

[2018-03-04 15:20] darrenhp opened #1637 "[mac osx][gcc] #include errors (intelliSense)"
I use the compiler by the command "g++-7" (installed by homebrew).
The include paths is listed below:
[code]
So I configure  "c_cpp_properties.json" like this :
[code]
But I include  <bits/stdc++.h>， got 3 errors
[code]
[code]
[code]

[2018-03-04 16:57] james-b-yu commented on #1635
Try changing
`"intelliSenseMode": "msvc-x64",`
to
`"intelliSenseMode": "clang-x64",`

The option "msvc-x64" is used for Microsoft's visual c++ compiler, whilst "clang-x64" is used for g++ or clang.

[2018-03-04 17:40] james-b-yu opened #1638 ""Discovering files" icon not responsive to theme"
After enjoying the extension for several months now, I have noticed that the "Discovering files" icon in the right-hand side of the status bar does not respond to the theme. This makes it virtually useless in light themes when it becomes virtually invisible.
![image](https://user-images.githubusercontent.com/31538456/36948389-19dde8bc-1fd2-11e8-8337-2917ea205bd1.png)
The icon is indeed there as it

[2018-03-04 18:07] munael commented on #1178
Happens for me with WSL on Windows 10 Creators Update, VSCode 1.21.

I have Clang 7.0 installed on Ubuntu but can't get cpptools to choose it over the default `clang++-3`. I guessed that was part of the issue--old Clang not supporting some feature--but that seems implausible.

[2018-03-04 18:28] munael opened #1639 "Can't easily see or specify `clang` executable (or C++ version) used for Intellisense"
I'm suspecting that the intellisense engine doesn't actually make use of any external executable for parsing or linting, but found no literature to confirm this.

If that is not the case, how do we change the command line arguments passed to the executable (for example to tell it to force a specific C++ std)?

[2018-03-04 21:23] adtennant commented on #1350
This is also occurring with the 7.3 gcc stdc++ libraries on OSX.

[2018-03-05 08:57] bpetto35 commented on #1632
I have installed MinGW (i686-w64-mingw32) toolchain in both environment Windows 10 and WSL.

Windows 10 MinGW is
[code]

WSL Ubuntu version is
[code]

I assume a 7.2 version is able to debug a 6.3 build, perhaps I'm wrong.

After setting the sourceFileMap, I receive the following message
[code]

Could it be possible to launch the debug application in a suspend state ? Like it is when doing directl

[2018-03-05 09:38] chongchai opened #1640 "cpptools extension loads slowly in vscode"
I ask the same question in [vscode #45041](https://github.com/Microsoft/vscode/issues/45041)
### Env
- VSCode Version: 1.20.0
- OS Version: windows 7
- extension installed: ms-vscode.cpptools 0.14.6

### My Case
I open a c++ project and press F5 to debug. But after pressing F5,  it needs to wait 20 seconds to start debug process. So i check the startup performance and find the ms-vscode.cpptools u

[2018-03-05 11:11] DollarAkshay commented on #69
@pieandcakes Okay. I finally switched to Cygwin GDB and installed the `gcc-debuginfo`. It works on windows now 😄  Thank you.

Now it shows only the basic array for a vector. If I want it to show like the capacity, size and other data members, like how VisualStudio does it, I will have to use a custom `.gdbinit` file ?

[2018-03-05 12:31] AdiJurca commented on #612
@sean-mcmanus You were right. It started working very well after I turned of clang formatting. The files I was editing were not large (under 100 lines). I still think this is related to how restricted this machine is. I tested on another machine that I have and on that one it works fine.

I think there is another place where it tries to write to stdin to the Intellisense exe because after a while

[2018-03-05 12:48] rianquinn commented on #1614
Sorry for the delay, I wanted to play with this some more and I still cannot figure it out. It cannot find any files from the mapped drive at all. However, if I place some of the files on the C drive, it works fine. I also tried putting the files on my D drive, which is a secondary hard drive that I have, and that worked fine too. But placing those same files on my G drive, which is my mapped driv

[2018-03-05 13:18] ioeric commented on #785
+1. This would also allow users to use other C++ language servers without sacrificing the debugger.

[2018-03-05 16:37] yunxing commented on #785
+1. This makes it much easier to use vscode + clangd.

[2018-03-05 16:48] bobbrow commented on #1636
Yes, we gray out the inactive code blocks so you can see what code would be compiled.  If you move `#include "test.h"` above the `#if defined(MACRO11)`, the region will be colored again.  What you have described does not appear to be a bug.

We are also going to expose a setting in the next release that lets you turn off the inactive region colorization.  You can follow #1574.

[2018-03-05 16:48] #1636 closed, assigned to nobody

[2018-03-05 17:01] bobbrow commented on #1638
I didn't realize we were setting a color for this icon.  In any case it looks like VSCode has opened up the statusbar item API to allow for us to link these icons to the [theme colors](https://code.visualstudio.com/docs/getstarted/theme-color-reference).  Should be an easy fix.  Thanks for the report.

[2018-03-05 17:05] bobbrow commented on #1178
In the upcoming release you will be able to set the path to your compiler and we'll get the default include path and defines from it.

[2018-03-05 17:07] bobbrow commented on #1639
In the March update you will be able to specify your stdver in c_cpp_properties.json.  For now we auto-select c++17 (which is not fully implemented yet, but has many of the features available now).

[2018-03-05 17:56] rianquinn commented on #1614
Another interesting issue is that it cannot even find relative includes like:

[code]

The error I get is: `cannot open source file "xxx"`

[2018-03-05 20:01] pieandcakes commented on #69
@DollarAkshay I assume so. We don't do anything special for visualization so it is whatever `gdb` provides us through pretty printing.  There may be some expression shortcuts that you can find online that might give you what you are looking for too that you can add to the `watch` pane.

[2018-03-05 20:41] sean-mcmanus commented on #1638
Yeah, we had discussions about this previously -- it was decided to hardcode the colors to the red flame and the white database icon, but I didn't realize a theme had a white status bar. We should probably change this to statusBar.foreground (see https://code.visualstudio.com/docs/getstarted/theme-color-reference ). Not sure if there's any themes with a red status bar we need to handle.

[2018-03-05 22:22] sean-mcmanus commented on #399
@Muny- Unfortunately, it is not on our schedule yet. We listen to the survey feedback to prioritize work (e.g. C/Cpp: Take Survey) so our main focus right now is helping get IntelliSense configured correctly for users. In terms of new features this is about the 3rd most voted issue, when counted as a duplicate of https://github.com/Microsoft/vscode-cpptools/issues/658 .

[2018-03-05 22:54] sean-mcmanus commented on #1640
Have you tried reproing this with our latest version 0.15.0? We do some one-time installation on the 1st run, but it sounds like this is occurring repeatedly? Our extension typescript is open source, so you may be able to step into the typescript debugger to see what it's stuck on. Our extension is expected to finish activating very quickly, within a second or so (we're not able to repro any issue

[2018-03-05 22:58] pieandcakes commented on #1640
@sean-mcmanus I think the `activateResolvedTime` is the entire extension activation, not just the debugger. I have a feeling that it isn't the debugger causing the `activateResolvedTime` of 21300, and that it is doing all the other activation events too.

[2018-03-05 23:00] pieandcakes commented on #1633
@ilove3q add `"logging": { "engineLogging": true} ` to your `launch.json` and see what the response for `-exec-run` comes back as.

[2018-03-05 23:04] sean-mcmanus commented on #612
@AdiJurca I don't know what could be causing the WriteFile to get stuck, this is the first time I've heard of that happening. The common failure we've heard about is with certain remote file systems, but the symptom is different (crashes).

[2018-03-05 23:22] sean-mcmanus commented on #1640
Yeah, you're right, but I don't know of any language service code that could cause such a delay during activation -- we definitely had one bug that could cause this in 0.14.5, but this is the 1st report I've seen a problem with 0.14.6+. I think we need a repro or for the user to launch the extension from the source and provide us with a typescript call stack.

[2018-03-05 23:45] pieandcakes commented on #1640
You can comment out either of the activation calls and see which one is causing it. AFAIK it shouldn't be the debugger because on activation, we are only making 2-3 API calls back to VSCode to provide configurations.

Could it be the download retry?

[2018-03-05 23:49] pieandcakes commented on #1628
@polomora If you need additional help, please reopen this issue.

[2018-03-05 23:49] #1628 closed, assigned to nobody

[2018-03-06 02:10] chongchai commented on #1640
@sean-mcmanus  opening a C/C++ file, I see a red fire icon in the bottom right within a second. So activation is fast. I think activation time is euqal to ` codeLoadingTime + activateCallTime` from the table in my first post.  I check the command 'Developer: Show Running Extensions' and find the c/c++ plugin activation time is about 270 ms.

But `activateResolvedTime` is still about 20 sec.

I'll

[2018-03-06 02:43] chongchai commented on #1640
seems to find the problem related to network.

My network is behind proxy. When I set the proxy in the settings.json as follows:
[code]
the `activateResolvedTime ` will be the normal 2 secs.

However, when I delete the proxy setting, the time will be up to 20 secs.

ps: I have set the proxy in the internet options and I can search and install extension in the vscode.

[2018-03-06 06:29] sean-mcmanus commented on #1640
We also download a very small config file called cpptools.json at the very end of the activation, so it looks like that's the cause (assuming it's not the 1-time download of OS files). We previously blocked activation on this, but it looks like it got moved to the end of activation -- is it still blocking something or just making activation ending look like it's taking a long time?

[2018-03-06 08:31] chongchai commented on #1640
I check the time for `downloadCpptoolsJson.`
If not set proxy, it needs about 20 secs to return timeout error.
if set, the time comes to 1-3 secs.

So I think `finalizeExtensionActivation` in `processRuntimeDependencies` is the main cause.

[2018-03-06 08:47] danie6 opened #1642 "Debug: Debug adapter process has terminated unexpectedly"
VS Code version:1.19.1
C/C++ extension version:0.14.6
VS version:Microsoft Visual Studio Professional 2017 (15.1)
When I compile MIEngine with vs2017,and copy the following files to  **.vscode\extensions\ms-vscode.cpptools-0.14.6\debugAdapters\bin** folder:
*Microsoft.MICore.dll
*Microsoft.MICore.XmlSerializers.dll
*Microsoft.MIDebugEngine.dll
My reference document:https://github.com/Microsoft/vsc

[2018-03-06 11:41] chongchai commented on #1640
cpptools.json file just contains:
[code]
I didn't dive into the source code.  So I'm confused about why the extension needs to download cpptools.json during activation.

@sean-mcmanus can you give me some explanation? Thank you in advance.

[2018-03-06 12:02] weinand opened #1643 "targetArchitecture in launch.json not working"
_From @salvioli on March 5, 2018 23:42_

### Issue Type
Bug

### Description

I have the following 32 bit executable compiled for i386:
[code]
When I launch qemu with the command (to wait for a gdb client incoming connection):
[code]
with the following configuration of launch.json:
[code]
I see the following error as expected because target architecture is not matching with the real one:
[code]
if

[2018-03-06 12:02] weinand commented on #1643
VS Code doesn't have builtin C++ support. Please file issues like this against the C++ extension.

[2018-03-06 16:21] ArtyMcLabin commented on #541
I have this problem in 2018.
My .h files are in "${workspaceRoot}/Proj/Public",
.cpp files are in   "${workspaceRoot}/Proj/Private",

can't switch by either Alt+O or right click menu.

both these folders exist in browse.path and includePath of c_cpp_properties.json

Any clues?

[2018-03-06 16:49] jyavenard opened #1644 "Clang Format option no longer works with recent version of clang-format"
If "C_Cpp.clang_format_path" is set to null, or to an old 5.0 version of clang-format, Command-K Command-F works as expected, and everything is formatted as it should be.

However, more recent version of clang-format (first noticed with version clang-format version 5.0.0 (trunk) (llvm/trunk 295482))
Then Command-K Command-F does nothing.

I'm assuming it's a version issue...

[2018-03-06 17:05] bobbrow commented on #1644
Usually when formatting does nothing it's because:
1. clang-format is emitting an error (which we don't show you) or
2. the extension is blocked by an IntelliSense operation that never returns (another issue we need to fix).

I think the first item is the most prevalent and I have a code change which will output the error so you can address whatever the problem might be.  But I haven't fully teste

[2018-03-06 17:44] jyavenard commented on #1644
Would you have a suggestion to test what arguments are passed to clang-format so that I can better test and report the problem?

[2018-03-07 00:19] lumonix commented on #1062
@sean-mcmanus did this fix make it into the latest vs_code (for Linux)?
Our code base is also enormous (100,000's of files), but I'm ok with the initial cache building taking an hour or more as long as it is quicker next time opening VS code..

Is there a github link to the bug-fix you mentioned went into the pre-release?
Thanks!

[2018-03-07 02:19] joe3524 opened #1645 "The terminal process terminated with exit code: 2"
I got this error message while building a C file using VSCode and gcc, not g++.

[code]

 This was when I tested a simple .c file with VSCode.

[code]

 It's strange that when I build a cpp file with g++, it works. But it doesn't when I specifies 'gcc' in tasks.json file.

Here is my tasks.json:

[code]

I'm running macOS 10.13.3, VSCode 1.20.1.

[2018-03-07 03:37] techwoes commented on #15
While it's not as awesome as intellisense based symbols/tags, vscode-ag (silver searcher) is pretty fast to do searches. Although I wish it was more configurable, such as only searching cpp/c/h files like the command line version. Currently it searches everything in the folder. It might be an acceptable work around until the intellisense feature is available.

[2018-03-07 04:10] feluxe commented on #1644
I have the same problem.

[2018-03-07 04:14] wiasliaw opened #1646 "Error in VS code: "can't open source file 'iostream' ","identifier: cout,cin,endl is undefined""
Using compiler Mingw-w64 on Win10, but
`#include<iostream>

using namespace std;
int main(){
    int a;
    cin >> a;
    cout<<a<<endl;
    return 0;
}
`
will get error:

c_cpp_propertiess.json
`            "name": "Win32",

            "includePath": [
                "${workspaceRoot}",
                "C:/Program Files/smingw-w64/x86_64-7.2.0-posix-seh-rt_v5-rev1/mingw64/lib/gcc/x86_64-w64-min

[2018-03-07 05:34] Haizs commented on #1167
Well I set "6" as "C_Cpp.loggingLevel" and I found the errorSquiggles count right in output.
Is there a `textDocument/codeAction` missing when don't have a folder open?

![image](https://user-images.githubusercontent.com/5794171/37075262-f5bb5960-220b-11e8-9e29-d2ed554e1a35.png)
![image](https://user-images.githubusercontent.com/5794171/37075258-f0b79744-220b-11e8-8778-c747d34cc73f.png)

[2018-03-07 06:28] Aukstkalnis commented on #299
Well, I was searching the web and found something called PlatformIO. It has IDE like environment for VS Code and debugger is included via Native Debugger extension. So I think I have found the answer for this question. Case can be losed :)

[2018-03-07 06:28] #299 closed, assigned to nobody

[2018-03-07 09:17] bpetto35 commented on #1632
Sorry, but sourceFileMap did not bring a solution.
I will work with a .gdbinit file.

BTW, does the launch task generate a .gdbinit file ?

[2018-03-07 11:10] Misiu commented on #399
@sean-mcmanus thanks for update.
Do You know when this might be added? It isn't in March and April milestones.
Ideally there should be a roadmap with features You guys currently work on and with those that are in backlog and their order.
This would answer all those annoying questions (including mine 😄) when certain feature will be added.

[2018-03-07 15:57] bobbrow commented on #1167
When you don't have a folder open, we intentionally don't show the squiggles because users can't configure the include path for single files right now and people would get upset seeing squiggles that they can't fix.  IntelliSense should work for the symbols that we are able to resolve though.

[2018-03-07 17:25] rei-vilo commented on #399
Please also consider the keywords and formatting of Doxygen _de facto_ standard.

References:

+ Feature Request — Support for doxygen Documentation #658
+ [Doxygen website](http://www.stack.nl/~dimitri/doxygen/)

[2018-03-07 17:31] rei-vilo commented on #742
@czgtest

Maybe you can help on this issue too.

[2018-03-07 17:59] Jussif commented on #1381
I had the same problem. The way I could solve the problem is uninstall the c/c++ extension and then, installing it again.

[2018-03-07 18:09] bobbrow commented on #1285
https://github.com/Microsoft/vscode/issues/43782

[2018-03-07 18:09] bobbrow commented on #742
https://github.com/Microsoft/vscode/issues/43782

[2018-03-07 20:25] sean-mcmanus commented on #1640
We don't really need it now, but it could be used in the future. We used it in the past to selectively enable the IntelliSenseDefault for a certain percentage of users. Our intent was that users shouldn't be impacted by the download because it should occur asynchronously at the end of activation, but it looks like it's blocking debugging, so we should fix that.

[2018-03-07 21:06] sean-mcmanus commented on #1062
Yeah, this was fixed with 0.14.6. Looks like I just forgot to close this duplicate issue (https://github.com/Microsoft/vscode-cpptools/issues/1288 ).

[2018-03-07 21:06] #1062 closed, assigned to nobody

[2018-03-07 21:12] ghost commented on #230
I'm trying to add my typedef type to the colorizer, but I'm unable to. Is there a way to add explicit type name to the colorizer ? I have tried creating a custom theme with yo code, and playing with editor.token option without success.

The problem seems to be that the colorizer does not associate any scope to my type def, so it's impossible to colorize.

I understand that  updating textMate live

[2018-03-07 21:27] sean-mcmanus commented on #399
@Misiu I don't know when we'll start work on doc comments. We don't have a roadmap currently, but you could try asking @ronglums for one: https://blogs.msdn.microsoft.com/vcblog/2018/02/20/visual-studio-code-cc-extension-feb-2018-update/ . But VS Code itself doesn't offer much of a roadmap either, from what I can tell: https://github.com/Microsoft/vscode/milestones .

[2018-03-07 22:31] pieandcakes commented on #1633
Also what version of Cygwin are you using?

[2018-03-07 22:34] pieandcakes commented on #1642
@danie6 Did you make changes that you need to build MIEngine? What version of Linux are you running this on to debug your Linux program?

[2018-03-07 22:36] pieandcakes commented on #1631
@flashlib What is your code trying to do? Are you trying to make a system call "tom" but use the zsh shell?

[2018-03-07 22:42] WardenGnaw commented on #1645
Tasks.json is directly supported by VsCode. I have opened an issue for you at https://github.com/Microsoft/vscode/issues/45239.

A potential fix is to put quotes around the ${file}, the error is due to an in-escaped parenthesis.

[2018-03-07 22:42] #1645 closed, assigned to nobody

[2018-03-07 22:53] WardenGnaw commented on #1632
@bpetto35 The c++ extension launch does not create a .gdbinit file.

To figure out whats going wrong in your previous comment, can you add the following to your launch.json?
[code]
It will say which GDB command it is failing on.

Are you attempting to debug a process on WSL with VsCode?

[2018-03-08 01:06] tristan957 commented on #968
@sean-mcmanus I will be leaving this comment in order for people to +1 support for clang-tidy support

[2018-03-08 01:28] joe3524 commented on #1645
Although I left my response on [Microsoft/vscode#45239](https://github.com/Microsoft/vscode/issues/45239), I'd like to say Thank you again here.

[2018-03-08 03:28] vscpp commented on #1404
@sean-mcmanus, could you give priority for this issue? I have several copy of my code, the disk always show full and need to clean the temp file. Thanks.
![image](https://user-images.githubusercontent.com/26138585/37131499-98419ef8-22c3-11e8-873e-5294642e03b1.png)

[2018-03-08 03:47] sean-mcmanus commented on #1404
Yeah, sorry for the repeated delay. This is sort of low priority for us, because there is a workaround of modifying your link to VS Code with `Code.exe --user-data-dir <dir>`. Does that workaround not work for you for some reason? But one warning -- if you do any extension host debugging from VS Code, you'll need to add `"--user-data-dir=<path>"` to the args or the extension will fail to load (mig

[2018-03-08 06:46] zhangmn799 commented on #1544
@pieandcakes Attach  seems like unsupport Cygwin and Mingw in windows. But it should support gdb in Linux.
this issue also repro in Ubuntu 14.04/Ubuntu 16.04.   Launch.json as following:
![launch](https://user-images.githubusercontent.com/26423555/37136028-cc21c9d4-22da-11e8-9696-5f77e41f6cc6.PNG)
F6(Pause) is invalid.
![f6](https://user-images.githubusercontent.com/26423555/37136900-76e2b8a8-22de

[2018-03-08 07:11] TorosFanny opened #1651 "mistake on identify include path"
* Platform: ArchLinux
* VS version: 1.20.1
* C/C++ extension version: 0.15.0
* Other extensions you installed and if the issue persists after disabling them: 'C/C++ Clang Command Adapter(disabled, but the issue still present)', 'C++ Intellisense(disabled, but the issue still present)'
* step-by-step instructions to reproduce the issue: I open a project with comments like the following, and the the

[2018-03-08 09:52] Pogsquog commented on #1259
I had the same problem. It was due to some issue with my handcrafted .clang-format file.
I resolved the issue by using -dump-config as suggested above, to create a .clang-format file, and then modifying it to suit me.
It is curious that clang-format gave no errors, despite there being something obviously wrong with the file I had supplied to it originally.

[2018-03-08 12:41] bpetto35 commented on #1632
I attempt to debug a Win32 application built using a mingw toolchain in the WSL bash environment.

Here the excerpt with the error
[code]

[gdbtestgamepad.zip](https://github.com/Microsoft/vscode-cpptools/files/1793146/gdbtestgamepad.zip)

It seems `sourceFileMap` does not equal to set `substitute-path`  but breakpoints are inserted.

As far as I can understand, it seems the gdb failed to write or

[2018-03-08 12:42] danie6 commented on #1642
@pieandcakes Yes,I tried to use my compiled MIEngine library, but it has not been successful.I did not make any changes, just compiled with vs2017.My linux environment is suse 11 sp3,Before replacing MIEngine, the program can be debugged.So I do not know what it needs to rely on? Thanks for your reply.

[2018-03-08 16:54] bolu61 commented on #1527
@pieandcakes I think I had the beta option that let me use some universal UTF-8 encoding in locale settings. I'm going to uncheck that and see if it works.
Edit: It worked, but I also changed the locale to en-US, so I can't tell which actually solved the problem. I'm pretty sure that this setting was not there until recent insider releases...

[2018-03-08 17:13] bobbrow commented on #1651
When you open a header file, we attempt to identify a .cpp file that includes it so that we can compute IntelliSense with a more useful context.  The error you are seeing is because the .cpp file we attached this header to has some include errors.  If you open up the file that is redacted in your screenshot, you will see which `#include` error is causing the problem.

[2018-03-08 17:16] bobbrow commented on #1259
I am working on a change to the extension that will display the clang-format errors we encountered in the Output window so that you can figure out what is wrong.  I will try to have it ready for the March release next week.

[2018-03-08 21:12] JelleRoets commented on #898
problem with this approach (starting gdbserver as a prelaunch task) is that the debugger will only start when the prelaunch task has successfully exited (with return code 0). But the (prelaunch) task starting a gdbserver will of course not exit before you are finished debugging, as a consequence the debugger will wait forever to actually start and the gdbserver will wait until a gdb debugger conne

[2018-03-08 21:48] pieandcakes commented on #1544
Attach is supported for MinGW/Cygwin, but the problem is because pause requires users to go to the terminal and press `Ctrl + C` to interrupt the app before breakpoints are bound and for pause to work. you can do it before or after. That has been documented before and is by design as its a limitation of the tool set.

[2018-03-08 21:48] WardenGnaw commented on #1643
@salvioli [targetArchitecture](https://github.com/Microsoft/vscode-cpptools/blob/e6d8d1fb28dd38f3a1e39762dad4744c9705bad4/launch.md#targetarchitecture) has been deprecated. Was this a previously working configuration?

Is there a reason that you need to specify the target architecture instead of our automatic detection of the architecture ?

[2018-03-08 21:49] pieandcakes commented on #898
@JelleRoets can you try and add `&` to your command to launch it and exit and not wait for it to terminate? Also, `prelaunchtask` is a [VS Code](https://github.com/microsoft/vscode/issues) feature and not one implemented by us so we don't control what happens.

[2018-03-08 23:20] jyavenard commented on #1104
I believe the issue on windows is that $workspaceRoot contains single \ in the path.
When used as part of a command the single \ are removed... $workspaceRoot should be using either / or \\ when used with tasks.json

[2018-03-09 00:21] bobbrow commented on #13
We just posted an insider release with the finished auto-complete implementation.  If you want to get an early preview, you can install the VSIX that matches your OS and tell us what you think.

https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders

[2018-03-09 00:24] bobbrow commented on #852
We just posted an insider release with support for forced include files.  There is a new `"forcedInclude"` string array property in the **c_cpp_properties.json** configuration schema that you can use to set the forced includes.  If you want to get an early preview, you can install the VSIX that matches your OS.

https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders

[2018-03-09 00:25] bobbrow commented on #1574
We just posted an insider release with the new setting to disable the inactive region colorization.  If you want to get an early preview, you can install the VSIX that matches your OS from the link below.

https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders

[2018-03-09 00:47] pieandcakes commented on #1642
@danie6 I found the problem. there is a bug in the configurations in MIEngine. I'm getting a fix now.

[2018-03-09 00:53] sean-mcmanus commented on #1440
This crash is the "copy_cached_token" crashed if anyone else is seeing it. We've reported the bug to the Edison Design Group (https://www.edg.com/ ), but we don't know when they'll get around to fix it (you could try asking them directly). We're not seeing enough users hitting this crash to increase the priority yet, but we'll continue to monitor the crash data to prioritize parser-related crashes

[2018-03-09 00:58] sean-mcmanus commented on #1640
Should be fixed in https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders . Let us know if you're still reproing it or if you discover any other regression with that so we can fix it before the final release next week.

[2018-03-09 01:03] sean-mcmanus commented on #1639
Please try out https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders and let us know if there are any issues we should fix before our final release next week.

We improved our ability to guess the clang compiler on Linux OS's if it exists. The compilerPath should show the version we guess, so let us know if you think our guess can be improved or if there's any problems with ch

[2018-03-09 01:05] sean-mcmanus commented on #1627
${workspaceFolder} is now supported in our Insiders build: https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders . Let us know if you find are any issues we should fix before our final release next week.

[2018-03-09 01:08] sean-mcmanus commented on #1252
-include is now supported in our Insiders build: https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders . Let us know if you find are any issues we should fix before our final release next week.

[2018-03-09 01:13] sean-mcmanus commented on #1554
This should be fixed in our Insiders build: https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders . Let us know if have any issues with that.

[2018-03-09 01:17] sean-mcmanus commented on #1536
Precompiled headers is now supported via the forcedInclude setting in our Insiders build: https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders . Let us know if you find are any issues we should fix before our final release next week.

[2018-03-09 01:47] pieandcakes commented on #1642
I have a PR out for it: https://github.com/Microsoft/MIEngine/pull/696 Once this is in, please rebase on master and rebuild `Desktop.Debug` or `Desktop.Release` and copy the same three files and you should be unblocked.

[2018-03-09 02:10] sean-mcmanus commented on #1554
Hmm...I'm seeing "attach" debugging broken on Linux with 0.16.0-insiders (works with 0.15.0), but launch seems to work. UPDATE: It got fixed.

[2018-03-09 02:47] TorosFanny commented on #1651
Can you give more detail to what you said? I can't figure out your point. Sorry.

[2018-03-09 03:11] sean-mcmanus opened #1655 "gdb Attach debugging is broken with 0.16.0-insiders"
Do gdb attach debugging on Linux.

Bug: No symbols load, can't debug. Launch seems to work.

Reverting back to 0.15.0 fixes it for me.

[2018-03-09 03:26] chongchai commented on #1640
I use the v0.15.0 codebase and remove the `return` from the line `return cpptoolsJsonUtils.downloadCpptoolsJsonPkg();` as you did in commit 42698a85cdf3f5a47ba6972612ac3b9fe4311baf.

The activation delay issue is fixed.

[2018-03-09 03:28] sean-mcmanus commented on #1640
Ah, okay, that should be the same.

[2018-03-09 03:48] 7kemZmani commented on #998
This is actually no longer an issue in `vscode: 1.21.0` with `ms-vscode.cpptools: 0.15.0`
thank you guys for the awesome extension.

[2018-03-09 03:48] #998 closed, assigned to nobody

[2018-03-09 04:14] bcuriel commented on #1536
Not sure what the proper way is to report insider build bugs.

I installed the insiders VSIX under OSX version 1.20.1. and experienced some crashes of the language server.

If I use the forcedInclude setting, I receive a message that the language server crashed five times and was being disabled (it would crash each time I opened a c++ file, so if I opened 5, it blew up).

I attempted to figure out

[2018-03-09 06:00] zhangmn799 opened #1656 "It can't hit breakpoint in vscode graphic interface when (gdb) launching"
**Environment data**
VS Code version:1.21.0
C++ Extension version: 0.16.0-insiders
Debugger: cygwin64
OS: Win10 RS2
Gdb Version: Cygwin 7.11.1-2

**Steps to reproduce**
1.Create a folder named test, create a file named a.cpp in test as following:
![main](https://user-images.githubusercontent.com/26423555/37192565-2e8aa0e8-23a1-11e8-8322-f2a0f1e3198d.PNG)
2.Compiled project with command "g++ -g -o

[2018-03-09 07:02] sean-mcmanus commented on #1536
Thanks a lot for reporting this. We're able to repro the crash -- it occurs when the forced include file has a #include file that can't be found. We should have a fix soon.

[2018-03-09 07:59] sean-mcmanus commented on #852
FYI a crash was found if the forcedInclude has a #include reference that can't be found. We're working on a fix: https://github.com/Microsoft/vscode-cpptools/issues/1536 .

[2018-03-09 08:59] giacat-tran0198 commented on #1633
I use the last version. Thanks for your repond

[2018-03-09 10:47] f3rm4rf3r commented on #941
Is this in the roadmap for this extension?

[2018-03-09 10:48] zhangmn799 opened #1657 "F12(Go to defination) is invalid in c++ project."
**Environment data**
VS Code version: 1.21.0
C++ Extension version: 0.16.0-insiders
Debugger: cygwin64
OS: Win10 RS2

**Steps to reproduce**
1.Create a folder named test, create a file named main.cpp in test as following:
int Sum(int a,int b)
{
    return a+b;
}
int main()
{
    int a =10;
    int b =20;
    cout<<Sum(a,b)<<endl;
    return 0;
}
2.Compara project with command "g++ -g -o main.exe m

[2018-03-09 10:54] mgr-inz-rafal commented on #1644
The same here with
[code]

Formatting doesn't work, there's no error message or any other feedback.

[2018-03-09 11:21] hdost opened #1658 "[Feature Request] SSH Build on Linux"
Provide a mechanism to build code on Linux VM/remote Linux machine. From local machine
Similar to how: https://blogs.msdn.microsoft.com/vcblog/2017/02/08/targeting-windows-subsystem-for-linux-from-visual-studio/ works.

[2018-03-09 12:06] csholmq commented on #13
Local variables are now working correctly! 🎊

I also noted that I didn't need to define __GNUC__ for the IntelliSense to start working. I only had to switch to clang-x64 for my ARM code to be supported!

[2018-03-09 13:15] articulatesnail opened #1659 "Unable to Step next or hit breakpoints"
OS: Windows 10
 VS Code version: 1.20.1
 C/C++ version:  0.15.0
When I start debugging I'm able to enter my inputs in the terminal window, and I don't appear to hit any breakpoints in the GUI. When I attempt to step over, into, or out, I get an error saying:

"Unable to step next. Operation failed with error code 0x80004004."

In the debug console it states:
`ERROR: Unexpected GDB output from comm

[2018-03-09 15:48] bcuriel commented on #1536
Doesn't look like that bug. I've attached come logs from that folder.

________________________________
From: Sean McManus <notifications@github.com>
Sent: Friday, March 9, 2018 2:02:50 AM
To: Microsoft/vscode-cpptools
Cc: Brandon Curiel; Mention
Subject: Re: [Microsoft/vscode-cpptools] Precompiled header support (#1536)

Thanks a lot for reporting this. Does the call stack of crashing thread at /

[2018-03-09 16:30] bobbrow commented on #1651
Let's say you open "foo.h" which is included by "foo.cpp".  Our engine detects that foo.h is included by foo.cpp and we start an IntelliSense server for foo.cpp.  Let's say that foo.cpp also includes "bar.h", but the includePath is not set up and we can't find bar.h.  In this case foo.cpp has an "include error" and our policy is to disable squiggles for the whole translation unit (which consists o

[2018-03-09 16:34] bobbrow commented on #1656
Thanks for the bug report.  There seems to be another issue with gdb debugging as well #1655.  May be related.

[2018-03-09 16:44] bobbrow commented on #1657
Are there unsaved changes in the file?  This is currently the expected behavior if you haven't saved the file since the "Sum" function was added.  We will be working on making this experience better in the future though.

[2018-03-09 16:49] bobbrow commented on #13
Yes, you shouldn't need to set the compiler's default defines anymore either. 😃

[2018-03-09 16:50] bobbrow commented on #1568
We just posted an insider release with the finished auto-complete implementation.  If you want to get an early preview, you can install the VSIX that matches your OS and tell us what you think.

https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders

[2018-03-09 17:08] weinand opened #1660 "${workspaceFolder} does not convert correct path to gdb in WSL"
_From @ajssousa on March 9, 2018 16:10_

- VSCode Version: 1.21.0
- OS Version: Windows 10 1709

Hi.

I have the WSL using Ubuntu and want to use gdb installed on WSL through the VSC.
Evertything works fine if i use the full path like in WSL (e.g. /mnt/c/Users/..)

The problem is if i want to use relative paths, the VSC is not converting an passing right to gdb inside WSL.

Steps to Reproduce:
1.

[2018-03-09 17:08] weinand commented on #1660
_From @vscodebot[bot] on March 9, 2018 16:10_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [Global launch object in settings broken (#44050)](https://www.github.com/Microsoft/vscode/issues/44050)
- [GDB error (#43472)](https://www.github.com/Microsoft/vscode/issues/43472)

[2018-03-09 17:41] ajssousa commented on #1660
Following the answer from Weinand in the old issue topic (vscode #45418):

weinand commented:
Today VS Code knows nothing about WSL. All WSL support must come from a debug extension.
--

My answer:

Ok, the WSL is the final use of the debug but the problem is not WSL.

The ${workspaceFolder} variable is always converting to Win32 type path. This is correct since I'm in Windows.
But it is possible

[2018-03-09 18:19] bobbrow commented on #1660
If we can get a hook to resolve variables for tasks.json and launch.json, then we could define additional variables that would allow you to do this.  The syntax might be slightly different, but it would at least give our extension some control over variable resolution.  We have no way to do this right now.

Would you mind adding your scenario to this issue and upvoting it? https://github.com/Micro

[2018-03-09 18:24] TorosFanny commented on #1651
thank you, i will check it when it is Monday.

[2018-03-09 18:32] ajssousa commented on #1660
Sure, I already added my scenario to the issue.

[2018-03-09 20:02] sean-mcmanus commented on #1536
I don't see a crash log (the textDocument/codeAction error can happen when there's any sort of crash). It's possible it could be another crash related to forcedInclude (I assumed we only had 1 such crash). We just need a call stack of the crash.

[2018-03-09 21:06] bcuriel commented on #1536
I had attached some .crash files from that directory. Did they not come through or were you referring to something else?

From: Sean McManus [mailto:notifications@github.com]
Sent: Friday, March 9, 2018 3:03 PM
To: Microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>
Cc: Brandon Curiel <brandon@megaspaceindustries.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vscode-

[2018-03-09 21:19] Yanpas commented on #15
BTW there is very powerful C++ extension cquery (https://marketplace.visualstudio.com/items?itemName=cquery-project.cquery)

It is blazingly fast, has all IDE features, including this one. I guess it's more reasonable to make this extension an official C++ one
![aa](https://camo.githubusercontent.com/f8ab4941b43a02e326422726a87b85ea6d1e94b9/68747470733a2f2f707470622e70772f476c53512e706e673f7261773

[2018-03-09 21:22] WardenGnaw commented on #1655
Fix in https://github.com/Microsoft/MIEngine/pull/697

[2018-03-09 21:39] WardenGnaw commented on #1656
Breakpoints are hit, however the glyph is missing.

This is due to https://github.com/Microsoft/vscode/issues/45311

[2018-03-09 21:39] #1656 closed, assigned to WardenGnaw

[2018-03-09 21:40] sean-mcmanus commented on #1536
Yeah, I don't see any .crash files attached anywhere. Did you send it via email? You can use the c_cpp_support@microsoft.com alias. We only need the crashing thread call stack and not the entire file...we probably only need the top 3 or so lines of the call stack for Microsoft.VSCode.CPP.Extension.darwin.

[2018-03-09 21:42] sean-mcmanus commented on #1656
Oh, this is the yellow arrow missing (a VS Code issue I've seen in Insiders) -- it's a different issue from the attach bug.

[2018-03-09 22:08] bcuriel commented on #1536
One of my crashes was the squiggle one you mentioned. Here is the other, I included the whole stack just in case.

Application Specific Information:
terminating with uncaught exception of type std::__1::system_error: recursive_mutex lock failed: Invalid argument
abort() called

Thread 3 Crashed:
0   libsystem_kernel.dylib        0x00007fff65a47e3e __pthread_kill + 10
1   libsystem_pthread.dylib

[2018-03-09 22:42] WardenGnaw commented on #1659
@articulatesnail Did you compile with ```-g```?

If you did, can you also copy what appears in the output window when you enable logging. You can do this by adding the following to you launch.json.
[code]

[2018-03-09 22:54] agauniyal commented on #15
What do you mean by official?

[2018-03-09 23:04] Yanpas commented on #15
Default suggested one with green star label

[2018-03-09 23:15] elrasguno opened #1661 "C++ Debugging broken (lldb error)"
Issue Type: <b>Bug</b>

Halp! I got the latest version automatically and got this error trying to debug C++:

[code]

VS Code version: Code 1.21.0 (9a199d77c82fcb82f39c68bb33c614af01c111ba, 2018-03-07T10:54:22.798Z)
OS version: Darwin x64 16.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz (8 x 2800)|
|Load (avg)|4, 4, 4|
|Memory

[2018-03-09 23:15] bobbrow commented on #1259
The change I referenced above is in the main branch.  Starting with the March update, we will write the error text into the Output window so you can see what the error is.

[2018-03-09 23:52] sean-mcmanus commented on #1536
The IntelliSense crash is an existing crash the repros with 0.15.0 and isn't related to forcedInclude (it's about 2% of our crashes, so it's relatively low priority right now). We're not sure when that will be fixed, and we don't know of a repro yet.

[2018-03-10 00:27] pieandcakes commented on #1661
@elrasguno sounds like an issue where the entire file `liblldb.3.8.0.dylib` wasn't extracted. Can you reinstall the extension? That should force a redownload and extraction.

[2018-03-10 02:12] sean-mcmanus commented on #1536
We've updated the 0.16.0-insiders with a fix for the finish_update_squiggles crash: https://github.com/Microsoft/vscode-cpptools/releases/download/v0.16.0-insiders/cpptools-osx.vsix .

[2018-03-10 02:28] #1655 closed, assigned to WardenGnaw

[2018-03-10 03:15] sean-mcmanus commented on #852
FYI, the crash has been fixed with the latest 0.16.0-insiders.

[2018-03-10 03:57] articulatesnail commented on #1659
Sorry, what does it mean to "compile with -g"? What setting specifies what I compile with?

[2018-03-10 08:38] #1646 closed, assigned to nobody

[2018-03-10 08:43] Zhangbixu opened #1662 "peek and go to definiton cannot work after ctrl+v"
peek and go to definiton cannot work after ctrl+v until I restart VSCODE. When I hang the mouse on a variable, it displays "loading"; When I press F12, it cannot go to the definition.

[2018-03-10 17:21] james-b-yu opened #1663 "New global/local variable completion not respecting variable name hiding"
***The new global/local variable completion is awesome!***
...but not when lots of name hiding happens:

Normally, it works normally:
![image](https://user-images.githubusercontent.com/31538456/37244665-7bc011ca-2484-11e8-89ef-2d8bc240bda2.png)

In this next code, there is a simple case of name hiding. It still works well, so one would assume name hiding isn't an issue:
![image](https://user-image

[2018-03-10 18:10] Noah11012 opened #1664 "Intellisense doesn't pickup overloaded class constructors' parameter list"
Operating System: Linux Mint Cinnamon Edition
Version of OS: 18.3
VS Code Version: 1.21.0
C/C++ Extension Version: 0.15.0

Zipped C/C++ Extension Settings:
[c_cpp_properties.zip](https://github.com/Microsoft/vscode-cpptools/files/1799635/c_cpp_properties.zip)

Intellisense doesn't show the available list of overloaded constructors for a class unless you first put a semi-color then type a parenthes

[2018-03-10 18:18] elrasguno commented on #1661
Hello! Thanks for the quick response. I did try uninstalling, reloading, and reinstalling the C++ extension, but it was still broken. As it turns out, uninstalling from VS Code did not delete the `.vscode/extensions/ms-vscode.cpptools-0.15.0` directory on my machine.

After manually deleting the `~/.vscode/extensions/ms-vscode.cpptools-0.15.0` directory, then installing from VS Code, I'm back in b

[2018-03-10 21:43] pieandcakes commented on #1661
@elrasguno I think its a problem with the unzipping library and how it unzips the lldb package that we download. Without hardcoded checksums I don't know if we can get around this.

The uninstall issue is strange and should only be stuck if there is a file open.

I'm glad you are back in business. I will close this issue.

[2018-03-10 21:43] #1661 closed, assigned to pieandcakes

[2018-03-11 01:32] AndrewDi opened #1665 ""cannot open source file "c++ header file"""
* Operating System : Windows 10 1706
    * VS Code version : 1.21.0
    * C/C++ extension version : 0.15.0
    * MinGW on Windows
    * Gcc 6.3

I configuration vscode with cpptools to write CPP, but hit an issue:
Simple hello world code:
![image](https://user-images.githubusercontent.com/7589147/37248481-4c5bbe18-250e-11e8-8370-a27e608debc5.png)

On problem view:
![image](https://user-images.gith

[2018-03-11 01:55] sean-mcmanus commented on #1659
You pass -g to your compiler on the command line (or the "args" for your build task).

[2018-03-11 01:57] sean-mcmanus commented on #1662
Is there a red flame in the bottom right? Can you wait for that to go away?

[2018-03-11 02:05] yaroslavsadin opened #1666 "Inactive regions colorization doesn't work in certain header files"
Hi,

While working on a project I noticed that some header files missing dim inactive regions feature. For example #ifdef and #else are both active at the same time. I reduced this to two simple test cases. In order to reproduce just open each folder in vs code and note that inactive region feature is broken in "dir1/header.h" for both cases. Although in the test2 the issue has gone after fixing i

[2018-03-11 02:11] sean-mcmanus commented on #1663
In regards to the name hiding issue, it looks like VS 2017 has the same, so it might not be easy to fix (I'll file a bug with them).

I think we can get the global :: operator to work (we just overlooked it), but it will only list global variables, and not local variables.

[2018-03-11 02:15] sean-mcmanus commented on #1664
VS 2017 has the same bug. I'll file an issue with them.

[2018-03-11 02:51] sean-mcmanus opened #1667 "No parameter help appears for constructors when using {}"
Use code like

struct s { s(int i) {} };
int main()
{
	s ss{} // No parameter help appears here, but it does with VS 2017.
}

[2018-03-11 02:59] sean-mcmanus commented on #1664
This looks like it's a "design flaw" of the C++ language. At the point where you type the (, the C++ parser is unable to determine if you're typing a constructor for a variable or a function declaration (e.g. QFile file(int a);). I'll ask the VS team to double check.

A workaround in VS 2017 is to use Class var{} syntax to do the construction, but we don't implement that yet: https://github.com/Mi

[2018-03-11 03:46] sean-mcmanus commented on #1666
Thanks a lot for the repro. We were already working on a related bug fix which may encompass this. The IntelliSense operations are all failing because it is mistakenly using the translation unit for main.c in the other directory, but then it later finds that the dir/header.h is not in that translation unit so it fails all IntelliSense ops. Renaming the main.c header to header2.h or adding the dir/

[2018-03-11 03:57] sean-mcmanus commented on #1665
Can you try using our 0.16.0-insiders ( https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.16.0-insiders ) and setting the compilerPath to the "G:\MinGW\bin\gcc.exe" (new property in c_cpp_properties.json). This is expected to query gcc for the correct system includes and also the defines, the lack of which could be causing the headers to not be found.

[2018-03-11 05:38] Marksuifeng opened #1668 "stdio.h file not found"
windows version 1709
vscode version 1.21.0
![1](https://user-images.githubusercontent.com/16861930/37250167-4f96a8b8-2531-11e8-855d-f358d601d639.PNG)
![3](https://user-images.githubusercontent.com/16861930/37250169-51264eea-2531-11e8-817f-1a94267f9531.PNG)

[2018-03-11 06:55] Zhangbixu commented on #1662
No, there is not any flame found there.

[2018-03-11 07:24] AndrewDi commented on #1665
After upgrade cpptools to 0.16.0-insiders,problem still exists.
![image](https://user-images.githubusercontent.com/7589147/37250844-37c278de-2540-11e8-8a8f-1ffc2afb9a97.png)

[2018-03-11 07:31] AndrewDi commented on #1665
Alter turn log level to information,plugin give some logs,but seems didn't helpful:

IntelliSense Engine = Default.
The extension will use the Tag Parser for IntelliSense when #includes don't resolve.
Autocomplete is enabled.
Error squiggles are enabled.
File exclude: **/.git
File exclude: **/.svn
File exclude: **/.hg
File exclude: **/CVS
File exclude: **/.DS_Store
File exclude: **/.vscode
Search

[2018-03-11 10:51] Artalus commented on #368
So, what's the progress?

[2018-03-11 14:08] KarolisMil commented on #16
I would also appreciate this feature. Highly used feature... I finally could switch from eclipse to Visual code.

[2018-03-11 16:38] aigolang commented on #757
@bobbrow
Hi bobbrow, could you please help me resolve the issue in "intelliSenseMode": "msvc-x64"?

I get the following 3 errors in VS Code from Win10:
1. identifier "string" is undefined"
2. no operator "<<" matches these operands -- operand types are: std::ostream << const char [10]
3. argument list for variable template "endl" is missing

after add the "includePath" and "browse"->"path" as the

[2018-03-12 02:22] zhangmn799 commented on #1657
I have saved the file include "Sum" function. Then F12. And some customers also meet this issue.

[2018-03-12 03:15] nathanaelg commented on #906
Did you ever work out what the problem was @theseankelly I'm also having the same issue...

[2018-03-12 08:46] aowrew-fp commented on #1348
Hello, I'm also having an issue with the debugger. I'm on Debian sid with latest updates applied.

After hitting F5, generating the launch json file and updating the paths, the task fails with a message:

My launch.json contents:

[code]
The debug console only shows:

[code]

Is there anything else I can provide to help fix this issue?

[2018-03-12 09:35] pieandcakes commented on #1348
@aowrew-fp Can you see if reinstalling the extension fixes your issue? Also, when you installed Deb, which language/locale did you install it with? I haven't seen this on Debian either. We are still trying to reproduce this in house so we can debug it and see where it is failing.

when you get this error above, if you go to the output window for VS Code do you see any information in there about th

[2018-03-12 11:10] aowrew-fp commented on #1348
@pieandcakes thanks for your reply - I have tried reinstalling the plugin and reloading VSC.
My locale settings are (and I believe those are the ones I've installed with):

[code]
I've recorded how the error appears, you can see here - https://vimeo.com/259658475

[2018-03-12 12:42] #1665 closed, assigned to nobody

[2018-03-12 12:59] ksemianov commented on #1430
I have a similar issue. Here is the code to reproduce:
[code]

I guess IntelliSense doesn't parse properly these macros in `pcl/point_cloud.h` defined in `pcl/register_point_struct.h`:
[code]

[2018-03-12 15:54] kcloze opened #1669 "why disable code highlighting？"
I want to show all code, are there some configs to disable this?
SW_COROUTINE is not defined.
![image](https://user-images.githubusercontent.com/1489176/37293995-d0f07dac-264f-11e8-9afb-ca92075a10f6.png)

[2018-03-12 16:23] ThadHouse opened #1670 "Enable full offline installs"
I'm working in an environment where there is not always internet, potentially never internet on systems I would like to use the vscode cpp extension. Is there a way it would be possible to separately download the native dependencies (I don't mind having to download the ones for all architectures) and have a way for the extension to find them to allow a fully offline install with full functionality