[2017-01-26 03:59] sean-mcmanus commented on #453
In 0.10.0, the "Include files missing" message goes away after the file is closed.

[2017-01-26 03:59] #453 closed, assigned to nobody

[2017-01-26 04:47] sean-mcmanus commented on #447
We currently go to the definition if it's available. We also have the declaration info available but VS Code doesn't seem to provide an API for us to send the data appropriately. One potential solution would be to add a command to switch to "declaration mode", which causes the next GoTo/Peak Definition to go to the declaration instead (i.e. Ctrl+F12 and then F12 or Alt+F12). Going to the declarati

[2017-01-26 04:52] roblourens commented on #458
Thanks!

[2017-01-26 04:52] sean-mcmanus commented on #444
0.10.0 fixes this for the case when the switch target is visible in another pane (which is the case for the repro provided by the user). The fix for non-visible documents is pending more API from VS Code. I'll close this for now.

[2017-01-26 04:52] #444 closed, assigned to nobody

[2017-01-26 04:55] sean-mcmanus commented on #454
I think we need more repro info. Otherwise, I assume switching to the full IntelliSense autocomplete would fix this.

[2017-01-26 05:14] sfshameem5 commented on #454
Okay, Thank you for the support.

On Thu, Jan 26, 2017 at 10:25 AM, Sean McManus <notifications@github.com>
wrote:

--
-sham-

[2017-01-26 13:11] csholmq opened #462 "c_cpp_properties.json giving warning."
Just installed 0.10.0 and it seems as if everything stopped working. No database is produced, so I'm not sure if the language server is actually doing anything active.

`Problems loading reference 'file:///c%3A/Users/sholmq/.vscode-insiders/extensions/ms-vscode.cpptools-0.10.0/boolean': Unable to load schema from 'c:\Users\sholmq\.vscode-insiders\extensions\ms-vscode.cpptools-0.10.0\boolean'`

Her

[2017-01-26 13:31] sean-mcmanus commented on #462
That is a warning. I see that too when opening c_cpp_properties.json, but everything still works. Maybe the two are unrelated. How do you know no database is being produced?

[2017-01-26 13:46] yamcenutzer opened #463 "0.10.0 (linux) extension cannot parse workspaces with cyclical symlinks"
neither clang, nor any thing else,
Are the key bindings a well kept secret?

CTRL-K CTRL_F
CTRL_I
CTR-SHIFT I
alt-shift l
....

[2017-01-26 13:49] sean-mcmanus commented on #462
The warning is a bug with our c_cpp_properties.schema.json. If you remove lines 62-64 from that file the warning will go away. It should be fixed in our next update. However, I'm still not aware of any other negative side effects of this warning.

[2017-01-26 13:51] csholmq opened #464 "Trigger database rebuild"
After looking at https://github.com/Microsoft/vscode-cpptools/issues/415#issuecomment-268133937 I found the new location for the database file. But this leads me to two questions:

1. What triggers a rebuild of the database? According to https://github.com/Microsoft/vscode-cpptools/issues/262, it's not triggered by changes in `c_cpp_properties.json`. This is also the case for adding entries to `fi

[2017-01-26 13:58] sean-mcmanus commented on #464
The database doesn't rebuild, other than via manually deleting or renaming it. It's a known problem we would like to fix. I've also never seen "Unload Language Server" have any effect.

[2017-01-26 13:58] csholmq commented on #462
@sean-mcmanus You are completely correct. They were unrelated. My issue was that the database file is now stored elsewhere than project root by default.

Your suggestion did the trick. Thanks!

[2017-01-26 13:58] #462 closed, assigned to nobody

[2017-01-26 14:00] sean-mcmanus commented on #463
Hmm...text formatting works for me on Linux. Do you have other formatters installed? When you right-click in a cpp file it should show Format Document in the context menu.

[2017-01-26 15:20] yamcenutzer commented on #463
as it turns out,
starting a new 'folder' with only a few files in them works.
however, starting code on the top level dir of a real world non-trivial directory tree with not only cpp files in them.... nada
dunno what's going wrong here. In this 'big' diriectory tree none of the cpp file will format. It shows the 'format Document' in the context menu, but just doesn't do it.
The same works in the '

[2017-01-26 16:11] sean-mcmanus commented on #463
Is the config text red in the bottom right when you do the format? We had bugs where the formatting would get blocked by the parser thread (which can take a long time for big workspaces) but we think it's fixed now. Does Go To Definition work? Are you using 0.10.0? .clang-format files in the directory will change how the formatter behaves.

[2017-01-26 16:34] yamcenutzer commented on #463
using 0.10.0
.clang-format is in the top dir
 just deleted .vscode folder and starting from scratch...
 it finds nothing, keeps complaining that it can't find include files (even those in /usr/include)
 I have added the appropriate folders to c_cpp_properties.json

if I go to the green squiggly lines beneath the 'missing' include files it just says 'Loading'.. for an hour now
It seems something br

[2017-01-26 16:36] sean-mcmanus commented on #463
Okay, I'll investigate a repro.

[2017-01-26 16:41] yamcenutzer commented on #463
some more details:
I'm running this on a fedora 20 machine (i know... its old, but have no choice for this project)
- both code and the extension are up to date
- the project in question is, as I said, a directory tree using recursive gcc make
- the directory tree contains quite a number of symlinks to directories, this recreating parts of the tree in various places.
I do assume, that on linux the

[2017-01-26 16:45] sean-mcmanus opened #465 "file.associations gets junk with * added (non-standard headers aren't added)"
1. Go to definition on a #include.

Bug: If it's a standard header, some junk with * gets added to the files.associations setting (they can safely be deleted and shouldn't cause any problem). If the file type is not registered as a C++ file by default by VS Code, then the header doesn't get added to files.associations (e.g. "*.inc"). The adding of extensionless headers like "string" works.

The bu

[2017-01-26 17:23] bobbrow commented on #463
For the vc.db issue, see https://github.com/Microsoft/vscode/issues/18808.  If you close and reopen the folder (or reload the window), the db will be created in the right place.  For the first time you open the folder, we have to choose a temp folder elsewhere (e.g. /tmp/loose)

[2017-01-26 17:23] sean-mcmanus commented on #463
fedora 20 seems new enough (if it were too old, our process wouldn't run at all). What is the file extension of the file that isn't recognized as cpp? The browsing functionality (go to def, etc.) currently uses hardcoded file extensions and doesn't read files.associations, so non-standard C++ files won't work well unless the file is #included (we plan to fix that). Is this a regression from 0.9.3?

[2017-01-26 17:29] yamcenutzer commented on #463
@ bobbrow: I have tried to reopen the offending folder multiple times. it gets stuck. Let me delete all files and try again...
OK did that, now it starts creating a a vc.db file, but never finds anything. I have to clode and reopen to see what it has found (on a simple folder). The big one never gets ready

@ sean-mcmanus: the file that isn't recognized is .cpp or .h

I think it looks like a regre

[2017-01-26 17:43] sean-mcmanus commented on #463
If things like Go To Definition don't appear in the menu, it means our language server process Microsoft.VSCode.CPP.Extension.linux is not running and failed during initialization/launch. Unfortunately, the VS Code extension publishing system doesn't allow the publishing of multiple versions of an extension, so there isn't a good way to get an older version. One way would be to install VS Code 1.5

[2017-01-26 17:55] yamcenutzer commented on #463
doesn't look like an option to me. Would I be able to update code to 1.8 without updating the extension?
I think I still have a machine with 0.9.3, I'll try there

Anything else I could try= turn on some debugging of the extension or something?

[2017-01-26 17:59] bobbrow commented on #463
@yamcenutzer, we have run the extension on large folders with lots of non-C/C++ code in them and the extension works ok.  I wonder if there is an issue with the db.  Have you tried deleting any previous db's and then reopening the folder?  `~/.config/Code/User/workspaceStorage/*` and `/tmp/loose/*`

[2017-01-26 18:01] yamcenutzer commented on #463
..workspace i deleted multiple times, /tmp/loose  is new , trying that...
..nope..  smal dirs yes,  big dir NO

big dir means ~14000 folders with ~51000 files worth ca. 9.4G
again, there are symlinks in subfolders to other subfolders...

it was working before I updated the extension this morning

[2017-01-26 19:15] bobbrow commented on #463
Do any of your symlinks point outside of the workspace root folder?  I think I might be seeing an issue with that.  That has not been tested very well in the past.  0.9.3 seems to work a little better, but there are other problems in that version as well.

[2017-01-26 21:04] yamcenutzer commented on #463
I don't think so, but I'm not sure, there are way too many to verify quickly.

BTW, this has nothing to do with formatting. The original issue just seems to be the result of the initial parsing to fail. Being blocked or whatever. Maybe change the title of the issue?
Also, it seems that the language service sometimes fails completely in this case, such that the file is then not recognized as cpp at

[2017-01-26 23:29] chandangreddy opened #466 "No console output while debugging a C++ library on Linux"
Hi,
Is there an option that I need to set to see the stderr and stdout in the debug console?
By default, I am not seeing any output in the debug console.

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.4.0-45-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|lualinter|dcr30|1.0.3|
|python|donjayamanne|0.5.0

[2017-01-27 00:54] mousetraps opened #467 "Warning for c_cpp_properties.json"
_From @neilyoung on January 26, 2017 16:40_

- VSCode Version: Version 1.9.0-insider (1.9.0-insider)
- OS Version: Mac OSX Sierra

Steps to Reproduce:

1. Install cpp extension cpptools

2. Create a c_cpp_properties.json by following the instructions here https://code.visualstudio.com/docs/languages/cpp

3.Watch problem output. I get this warning/error there
file: 'file:///Users/me/Documents/Ardui

[2017-01-27 00:54] mousetraps commented on #467
_From @sean-mcmanus on January 26, 2017 17:29_

This is a bug with our C++ extension (0.10.0). The warning shown should have no negative effect. We'll have a fix in the next update. Removing lines 62-65 from c_cpp_properties.schema.json should remove the warning. Bugs related to c_cpp_properties.json (or other C++ extension features) should be reported at https://github.com/Microsoft/vscode-cpptoo

[2017-01-27 00:54] mousetraps commented on #467
_From @neilyoung on January 26, 2017 17:31_

Thanks. I don't have such a long file. Mine is just this:

{

    "configurations": [
        {
            "name": "Mac",
            "includePath":
				["/Users/me/.platformio/packages/framework-arduinoespressif8266/cores/esp8266/",
				"/Users/me/.platformio/packages/framework-arduinoespressif8266/libraries/",
				"/Users/me/.platformio/packages/fram

[2017-01-27 00:54] mousetraps commented on #467
_From @sean-mcmanus on January 26, 2017 17:34_

The bug is not inside the c_cpp_properties.json it's inside the schema file that is installed inside the root of the extension folder. Your c_cpp_properties.json is okay and doesn't need to be changed. You can safely ignore the warning and closing the file should remove the warning message.

[2017-01-27 00:54] mousetraps commented on #467
_From @neilyoung on January 26, 2017 17:38_

Ah ok. Thanks for elaborating

[2017-01-27 01:08] AlexPoulsen opened #468 "std::cin not accepting input on macOS Sierra 10.12.2"
I'm running code with [Code Runner Extension](https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner) and when using std::cin, it does not accept any input.

This may be more of a VSCode issue, as that may prevent input, even when desired. If this is an VSCode issue, not an extension issue, I'll post an issue there.

~~Additionally, If I was able to run it in the Terminal (a

[2017-01-27 01:26] #468 closed, assigned to nobody

[2017-01-27 04:24] sean-mcmanus commented on #467
The bug is fixed in our working branch and should be released in our 0.10.1 update.

[2017-01-27 08:27] yoyo930021 commented on #69
macOS for lldb
have any function?

[2017-01-27 12:25] csholmq commented on #467
You can close this. Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/462

[2017-01-27 12:54] sean-mcmanus commented on #467
Ok.

[2017-01-27 12:54] #467 closed, assigned to nobody

[2017-01-27 14:52] yamcenutzer commented on #463
OK I tried again with a clean checkout of the project. No joy.
It is simply either too big or contains a link pointing out somewhere.

I actually tried a smaller working tree and added a link to it pointing out, and I can confirm this breaks the language service. Not good

I am still wondering, why it seems that the previous version of the extension 0.9.3 did show something. Unfortunately I can't

[2017-01-27 16:52] siyideng commented on #178
Still occurs on VS Code ver 1.8.1 and C/C++ tools 0.10.0, on macOS

![image](https://cloud.githubusercontent.com/assets/5482521/22379360/e2ab3a3e-e46d-11e6-8ada-0f8f68a9482b.png)

[2017-01-27 16:53] BillDenton opened #469 "Can't disable CLangFormat"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|read-only-indicator|alefragnani|0.6.0|
|alignment|annsk|0.3.0|
|Doxygen|bbenoist|1.0.0|
|vscode-astyle|chiehyu|0.6.0|
|python|donjayamanne|0.5.6|
|EditorConfig|EditorConfig|0.3.4|
|copy-relative-path|enochc

[2017-01-27 16:57] sean-mcmanus commented on #178
This bug appears to be tracking multiple different crashes. Which crash scenario did you want fixed? We haven't fixed the "unsaved file" or Arduino crashes yet.

[2017-01-27 17:31] sean-mcmanus commented on #469
The setting currently needs to be "disabled" not "false" (and a restart is required), although we intend to change it to a boolean format.enable so that it's consistent with the other VS Code settings and people don't get confused by this again.

[2017-01-27 17:33] sean-mcmanus commented on #469
Let me know if you're still not able to get our formatting to be disabled (i.e. if we have some bug I'm not able to repro).

[2017-01-27 17:33] #469 closed, assigned to nobody

[2017-01-27 18:06] BillDenton commented on #469
OK. Working now. Thanks. Would be better if a restart wasn't required - like other options.

[2017-01-27 18:26] BillDenton commented on #430
Also just seen this error. Is there anywhere I can look to see the cause?

[2017-01-27 18:36] sean-mcmanus commented on #469
Requiring a restart was the quick/easy default implementation (many other VS Code "enable" settings also require a restart). Getting it to work without a restart would take more work/investigation.

[2017-01-27 18:37] sean-mcmanus commented on #430
What did you do to cause it? There are several conditions where this is known to occur (unsaved file, non-glibc 2.18 OS, non-64-bit OS). We need more info. What is your OS?

[2017-01-27 18:55] yamcenutzer commented on #463
Thanks for changing the title.
Unfortunately it's not that simple .
I have been trying various things, and sometimes it works with links pointing outside, sometimes it doesn't.
The big project is the only one that is not working reproducably and causes the language service stop altogether. I also haven't yet found an outside link in that project, they are actually all 'within'.

It must be a combi

[2017-01-27 20:01] BillDenton commented on #430
Windows Professional 7 64bit

[2017-01-27 20:42] sean-mcmanus commented on #430
Are you using an unsaved file? How far can you get before the crash message appears?

[2017-01-27 22:11] bobbrow commented on #463
I was unable to get the bug to repro when I tried to debug it so I don't have a solution just yet.

If you're blocked on this and want to go back to 0.9.3 for now, feel free to send me a mail (my user tag @ microsoft.com) and I can send you a copy of the old extension.

[2017-01-28 00:38] pieandcakes commented on #466
@chandangreddy it should be in the external console if you enable `"externalConsole": true` in your `launch.json`

[2017-01-30 07:38] randombenj commented on #424
Any plans whether this will be fixed at all?

[2017-01-30 11:19] BillDenton commented on #454
As far as I can tell go to function/variable definition only works when they are global. I'm not sure about macro definitions. It is often very slow, sometimes happening after I've given in and started doing other edits. Is this expected behaviour until "full IntelliSense" is implemente? What will "full IntelliSense" provide and what is the time scale for implementation? Quite a few of my colleagu

[2017-01-30 13:09] sean-mcmanus commented on #454
Locals not being findable is "by design". The slowness is not "by design" -- it depends on which feature you're observing as slow. The header switching has a known slowness on 1st use. If it's red in the bottom right config then certain features like Go to Definition may not work yet because it's still parsing files in the workspace root or include paths. If you have a repro with a slow behavior w

[2017-01-30 13:16] sean-mcmanus commented on #424
Not yet.

[2017-01-30 13:54] BillDenton commented on #454
Is this guide https://msdn.microsoft.com/en-us/library/dn957937.aspx an indication features?
Just to help me understand what to expect at the moment:
1. No symbols that inside the current file are find-able by Go to Definition.
2. If I have a enum in a header file I should expect to be able to go to the enum value from another file? This doesn't seem to work for me.
3. Similarly for typedefs, vari

[2017-01-30 14:40] sean-mcmanus commented on #454
Yeah, that doc describes the C++ IntelliSense in Visual Studio that we are working to get work in VS Code, but we might not have support for all the features at once.

Only symbols local to a function shouldn't be findable -- file local scope elements in the current file should be findable still.

The Go To Definition is supposed to work on aStruct, but not pStruct->val1 or pStruct, because they a

[2017-01-30 14:43] yamcenutzer commented on #463
The problem is that the directory tree in question has cyclic symlinks (symlink loops)!
This is unfortunately quite common it seems when using symlinks and therefore any file parser should detect it. (find does)

[2017-01-30 14:52] BillDenton commented on #454
I don't think that go to enum works for me. However, I generally find that the go to definition doesn't work. Occasionally it appears to work. Are there any logs that I check to see what it is doing?

[2017-01-30 15:03] sean-mcmanus commented on #454
We have logging with debug builds, but not in the released one. The red configuration in the bottom right should tell if it's parsing the workspaceRoot and includePaths. You can also change the databaseFilename to a path you can easily find and observe how the size of the database file increases. It should gradually increase in size while the red indicator is shown (to many MB).

[2017-01-30 15:12] BillDenton commented on #454
There's no red in the bottom right. Where do I set the databaseFilename (couldn't find anything in File, Preferences, User Settings?

[2017-01-30 15:15] sean-mcmanus commented on #454
It's in c_cpp_properties.json (C/Cpp: Edit Configurations command creates it). The database could be in a bad state, so deleting/renaming it could fix problems.

[2017-01-30 15:38] BillDenton commented on #454
Trying it now. I've put:
"databaseFilename" : "${workspaceRoot}\\.vscode\\browse.db"
Then I quit and restarted VS Code.
Now when I looked at a cpp, h or c file, I saw a red flame next to a red Win32 in the bottom right (just before the smiley face). This disappeared after about a minute. However, I still can't see the database file. I do  have view "Hidden files and folders" and "Hide protected op

[2017-01-30 15:53] sean-mcmanus commented on #454
Oh, we don't support ${workspaceRoot} in the databaseFilename yet (only the includePath), but we'll try to add it to avoid this confusion again. The databaseFilename default is C:/Users/\<user\>/AppData/Roaming/Code/User/workspaceStorage or a potentially a temp/loose location. It's good to hear that Go to Definition seems to be working better, although it looks like I hit a bug where the enum valu

[2017-01-30 16:09] BillDenton commented on #454
I had looked around /users/<user>/appdata, but was looking for a "VS Code" type name so didn't notice code. Looking in the C:/Users/<user>/AppData/Roaming/Code/User/ I see a cryptic directory names (presumably corresponding to all my workspaces/folders). After looking through them I found ".BROWSE.VC.DB" (296,684 KB), ".BROWSE.VC.DB-shm" (32 KB) and ".BROWSE.VC.DB-wal" (3,561 KB) with dates from a

[2017-01-30 16:19] sean-mcmanus commented on #454
Yeah, the cryptic names are guids for the workspace folder. You found the correct files. Deleting the browse database files will cause it to be cleanly re-build. In various cases the browse database can accumulate old data, such as when an include path is removed, so deleting the browse database should fix that up. There could also be other buggy scenarios where the database could be messed up, bu

[2017-01-30 16:27] bobbrow commented on #463
Agreed.  I will update the title.

[2017-01-30 17:18] yamcenutzer commented on #463
thanks

[2017-01-31 07:01] BillDenton commented on #430
I think there may have been an unsaved file. The message only appeared once. I think I just restarted VS Code.

[2017-01-31 08:27] ghost commented on #323
I have the same (not all the time) on fedora 25.

there is my directory structure :

* .vscode
    * c_cpp_properties.json
    * launch.json
    * tasks.json
* hello_world.cpp
* variables.cpp
* a.out

**.vscode/c_cpp_properties.json**
[code]

**.vscode/launch.json**
[code]

**.vscode/tasks.json**
[code]

**hello_world.cpp**
[code]

**variables.cpp**
[code]

I did nothing more than installing cppto

[2017-01-31 10:09] chandangreddy commented on #466
I had set "externalConsole" to false, I do not see any output. I tried with the "externalConsole": true, I see an external terminal but no output at all. Right now I am redirecting the output to log file, which is correctly populated.

[2017-01-31 19:54] pieandcakes commented on #466
@chandangreddy So you aren't seeing stdout in either the external console or the DebugConsole?

I can't seem to repro this on Ubuntu 16.04. Can you provide a code snippet and possibly which specific Linux distro you are running on?

[2017-01-31 19:55] pieandcakes commented on #449
@JewsOfHazard Did enabling the `"externalConsole"` work for you?

[2017-01-31 20:01] loganintech commented on #449
Yes sorry I didn't get back to you. That did open the external console and I was able to input text.

However, is there a way to change syntax on that command that runs in the external console? The shell I use has a slightly different command for the status code ($status instead of $?)
It's ultimately not a big deal but might be interesting to consider.

[2017-01-31 20:03] pieandcakes commented on #449
@JewsOfHazard There is work to use the VSCode integrated console which may allow you to make changes but this work hasn't been done yet. Issue #35 is tracking that

[2017-01-31 20:03] #449 closed, assigned to pieandcakes

[2017-02-01 00:09] Hunter522 opened #470 "Debugger not highlighting current line when using "pipeTransport" in Windows"
I am using "pipeTransport" to remote debug over SSH but the debugger doesn't seem to highlight the current line when I do this in Windows. I've tested this on Linux with the same HelloWorld example and see that it works. See the screenshots as to what I mean.

Some notes:
 - Is this some kind of file path mapping issue?
 - Continue and step into/out/over seem to work and I can see the variables on

[2017-02-01 15:44] cfstras commented on #310
Another hint for people suffering from this: I accidentally had both the "C/C++", and the "C++ Intellisense" extensions installed. Disabling the latter fixed it for me.

[2017-02-01 19:13] ampatel21 commented on #298
FYI, the vsix extensions can be opened as a zip file on your internet machine.  I extract the extension and view the package.json file in order to determine the links to the runtime dependencies I will need.  I then download all the runtime dependencies.  This will reduce the need to burn files twice.

Now back on my offline network I put the runtime dependencies on my local webserver.  I then pro

[2017-02-01 19:18] sg- commented on #374
@sean-mcmanus When is your next release?

[2017-02-01 19:19] sg- commented on #442
@pieandcakes Any update on a planned release version for this?

[2017-02-01 19:21] pieandcakes commented on #442
@sg- I am taking a look at it this week. If testing goes well and it is approved, it should be our next release sometime this month.

[2017-02-01 19:25] pieandcakes commented on #470
@Hunter522 It seems there is a bug in the source mapping. I'll take a look.

[2017-02-01 19:37] sean-mcmanus commented on #374
I removed the ${workspaceRoot} for 0.10.0, but other people on our team wanted to add it back...so maybe in a future release we'll add some setting to allow people to remove it. If you really want it out, you can modify the javascript code that adds the ${workspaceRoot} in ms-vscode.cpptools-0.10.0/out/src/LanguageServer/C_Cpp_ConfigurationProperties.js line 208/211. Without the workspace root, it

[2017-02-01 19:41] sg- commented on #374
Is there a way to override the behavior in the meanwhile?

[2017-02-02 01:28] pieandcakes commented on #470
@Hunter522 Hi, I tried this using cygwin64's ssh to an Ubuntu machine and I can't duplicate this.

can you add the following to your `launch.json`?
[code]

We are looking for these two lines:
[code]
[code]

The top one is what gdb is returning for the stopping event with the fullname of the location.  The second one is what we are sending back to VSCode.

[2017-02-02 04:03] agasy18 commented on #338
Yes, it works on Sierra, thank you.

[2017-02-02 04:03] #338 closed, assigned to nobody

[2017-02-02 16:28] Hunter522 commented on #470
@pieandcakes  Thanks for looking into this.

Ok added the logging stuff to my `launch.json` and here is what I see:

[code]

[code]

I've also attached my full debug console log here: [debug-console-log.txt](https://github.com/Microsoft/vscode-cpptools/files/748296/debug-console-log.txt)

[2017-02-02 17:23] daldr-ntml opened #471 "Version 0.10.0 "Go-to-definition" is not excluding symbols found in files.exclude"
I am running 0.10.0 with the Insiders release of Code.  The release notes state:

"Go-to-definition now excludes symbols found in files.exclude file"

but I'm finding that Go-to-definition is ignoring files.exclude:

![image](https://cloud.githubusercontent.com/assets/7724321/22560297/fda69042-e96b-11e6-830b-e0b886a8f0f2.png)

![image](https://cloud.githubusercontent.com/assets/7724321/22560346/22

[2017-02-02 17:28] daldr-ntml commented on #471
On second thoughts, it is expanding the correct (non-excluded) definition.  Should it be offering the excluded ones as well?

[2017-02-02 17:31] sean-mcmanus commented on #471
We have a bug with the excluded files not being removed from the database when the setting is changed. It has been fixed (and we're planning to release a bug fix update ASAP), but in the meantime a workaround is to delete the .browse.vc.db after adding an exclude.

[2017-02-02 17:38] daldr-ntml commented on #471
Thank you. That fixed it.

[2017-02-02 17:39] daldr-ntml commented on #471
Sorry, I think I should not have closed this.

[2017-02-02 17:40] pieandcakes commented on #470
@Hunter522 I looked at the file you sent. I noticed this:

[code]

We are sending the right slash but your version of gdb is doing something weird where it has the wrong one in the symbols. Can you check your cmake project and see if it is passing the wrong slashes?

We get this from gdb:
`1: (1620) ->*stopped,reason="breakpoint-hit",disp="keep",bkptno="1",frame={addr="0x000106f2",func="main",args

[2017-02-02 17:40] sean-mcmanus commented on #471
Yeah, the bug still exists in 0.10.0 :)

[2017-02-02 18:47] sean-mcmanus opened #472 "Light bulb (code action) appears on most lines with VS Code 1.9"
We're working on releasing a fix for this ASAP. In the future, we should probably do more testing with the insider's release so we're not caught off guard by changes like this.

[2017-02-02 19:03] sean-mcmanus commented on #472
The bug has been fixed in our pending 0.10.1 release.

[2017-02-02 21:17] Hunter522 commented on #470
I see what you mean by GDB reporting incorrect paths from what it sees in the symbols. I tested by building my program in a different directory on host platform, transferring file over to target platform, then debugging it, and I see
[code]

Note it says `odroid-cmake-gcc-standalone` prefixed now for some reason...(this is the dir I built in, src files live in the other folder)

I will look into t

[2017-02-02 21:19] pieandcakes commented on #470
@Hunter522 I'm going to close this for now. If you need more help, please comment/reopen or open another issue.

[2017-02-02 21:19] #470 closed, assigned to pieandcakes

[2017-02-02 21:43] pieandcakes commented on #442
@janjongboom I've submitted your proposed fix. We can't do the same for debugServerPath because the problem is that its the machinename and port that its expecting to connect to so its not searchable.

[2017-02-02 22:06] pieandcakes commented on #416
If this is still an issue, please comment/reopen.

[2017-02-02 22:06] #416 closed, assigned to pieandcakes

[2017-02-02 22:20] pieandcakes commented on #57
@mhobelsb If this is still an issue, we enabled a `sourceFileMap` option that should allow you to map one to the other.

[code]

Please comment/reopen if this is still an issue. Thanks

[2017-02-02 22:20] #57 closed, assigned to nobody

[2017-02-02 22:21] pieandcakes commented on #69
@yoyo930021 If you download our new version, `cpptools 0.10.0` , we have enabled the python pretty printers on macOS. You can also look at natvis and write your own visualizer file which we also support.

[2017-02-02 22:22] pieandcakes commented on #69
This issue should be resolved as we have added the gdb pretty printer commands by default in the `launch.json` file. Please comment/reopen if this is still an issue.

[2017-02-02 22:22] #69 closed, assigned to nobody

[2017-02-02 22:24] pieandcakes commented on #71
@elyuh We now include `lldb` with our extension which might work better. This should no longer be an issue. Please comment/reopen if you have further questions.

[2017-02-02 22:24] #71 closed, assigned to nobody

[2017-02-03 00:21] pieandcakes commented on #93
If this is still an issue, please comment/reopen. I haven't been able to duplicate this.

[2017-02-03 00:21] #93 closed, assigned to pieandcakes

[2017-02-03 00:25] pieandcakes commented on #85
Update: We are waiting for necessary fixes from the WSL team that should be out in the next major update to Windows 10 called Creator's Update. We also have some bug fixes in our extension that should be released with our monthly February release. This will enable users to use the `pipeTransport` option to connect to bash on WSL.

[2017-02-03 00:34] pieandcakes commented on #107
@anpilog you can also enable `"logging": { "trace": true, "traceResponse": true}` in the `launch.json` and see what commands we send to gdb and get back. This may help you see what is or isn't being set up.

Also we recently enabled `pipeTransport` and this can be configured to connect directly to the remote `gdb` instance without gdbserver.

[2017-02-03 00:35] pieandcakes commented on #145
#85 is tracking this issue. I have posted an update there. I will be closing this issue and updating that one when I have more information.

[2017-02-03 00:35] #145 closed, assigned to pieandcakes

[2017-02-03 05:12] kevinmoran opened #473 "Breakpoint in included header gives weird behaviour"
Mac OS Sierra

I set a breakpoint in a header I'm including in "main.cpp" called "Terrain.h". I run the program and hit that breakpoint. If I click on the breakpoint in the editor to remove it, an additional breakpoint appears in the Breakpoints list that's apparently in the file "Terrain.h ." ( a space and period/full stop after the actual name)

Clicking the two breakpoints in the Breakpoints br

[2017-02-03 05:17] kevinmoran commented on #473
![screen shot 2017-02-03 at 3 15 01 pm](https://cloud.githubusercontent.com/assets/15050023/22580369/950515fa-ea23-11e6-8296-e4f10ee15771.png)

And here's a screenshot of the result, you can see both files in the bottom left.

[2017-02-03 11:32] chris-ray commented on #85
+1 please :-)

[2017-02-03 12:17] hmenzagh opened #474 "Light bulb always asking to add include path, when it's already set"
VSCode Version: Latest, 1.9.0
OS Version: OSX 10.12
Extention Version : 0.10.0

Hi, I just noticed (maybe it's recent) that every time I type a new line in a .c file on vscode (or even when I clic on a function name), there is the yellow lightbulb that appears and that asks me to add an include path to the settings. But possible includes specified .. I can't get rid of it and it's driving me crazy

[2017-02-03 15:56] sean-mcmanus commented on #474
Yes, it's caused by different code action behavior in VS Code 1.9. We have made a fix (in the C++ extension) and are working to release it ASAP. See https://github.com/Microsoft/vscode-cpptools/issues/472 .

[2017-02-03 16:23] #474 closed, assigned to nobody

[2017-02-03 16:31] johnmellor opened #475 "Non-recursive includes from workspaceRoot"
Currently `${workspaceRoot}` is [implicitly included](https://github.com/Microsoft/vscode-cpptools/issues/72#issuecomment-226257014) in the includePath, and is _recursively_ searched for header files.

This causes problems in projects which have files with the same name in different paths. For example:

[code]

Now when a file does `#include "base/string16.h"`, VS Code finds _all three_ of the str

[2017-02-03 16:42] sean-mcmanus commented on #475
The Go to Definition just looks at the strings16.h and ignores the "base/" part. We may be able to fix this in a future release.

We may add a setting to remove the workspaceRoot, but as a workaround for now, ${workspaceRoot} could be manually removed by modifying the javascript (this will cause # symbol search to not find stuff in non-opened source files, but opened source files will still have s

[2017-02-03 22:12] pieandcakes commented on #172
@sprinkle131313 with our 0.9.3 release, we updated to enable gdb's pretty-printing in launch.json as a default. This should resolve this issue. Please comment/reopen with more information if it doesn't

[2017-02-03 22:12] #172 closed, assigned to pieandcakes

[2017-02-03 23:53] sunnyps commented on #323
I can reproduce this consistently on Linux with the Chromium repository (src directory) and VS Code 1.9.0. Memory usage goes up to 60G before my workstation (64G RAM) becomes unresponsive. This does not happen on my Windows workstation. This is with stock configuration for the extension i.e. no extra include directories and the following configuration in VS Code settings.json:
[code]

[2017-02-04 01:33] sean-mcmanus commented on #323
I'm not able to repro that. It only uses 380 MB RAM on my Linux machine and the database is 1.4 GB. I don't know what could be causing the difference. Maybe another extension is interfering?

[2017-02-04 07:36] sunnyps commented on #323
My DB was ~687MB. 380 MB RAM usage is about what I see on my Windows machine. On Linux the memory usage stays constant at either ~600MB, ~1700MB or ~3100MB for a while before suddenly ballooning out of control.

I purged the old DB and I've left vs code running to create a new one over the weekend.

[2017-02-05 20:28] UR3IQO opened #476 "natvis does not seems to work correctly with gdb"
Hi, All!

I am using cpptools 0.10.0 and vscode 1.9.0. I use vscode for embedded development and debug with  gdb (arm-none-eabi-gdb). Debugging works finely! I tried to add some visualization using .natvis file, but it seems visualization works only partially. For example I was able to unroll the array using _ArrayItems_, but I am unable to just display string using _DisplayString_ or create synth

[2017-02-06 07:07] owent opened #477 "Code formating will break the text content if there is any multibyte character in it"
This problem has been solved in [Clang-Format](https://marketplace.visualstudio.com/items?itemName=xaver.clang-format) long time ago.
Related commit is https://github.com/xaverh/vscode-clang-format-provider/commit/86e773b4acce9e14b8610d2576c11fb56de43433

[2017-02-06 09:36] rfjakob opened #478 "Typo in 0.10.0 Change History: 2016 instead of 2017"
Should read January 24, **2017**

Screenshot from https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools :

![2016](https://cloud.githubusercontent.com/assets/286847/22641646/e12fdd30-ec57-11e6-99a4-c8d0471d7c5f.png)

[2017-02-06 12:26] sean-mcmanus commented on #478
Thanks for noticing :)

[2017-02-06 12:39] sean-mcmanus commented on #477
Thanks for reporting this. The bug has been fixed and will be in our next update (hopefully, out tomorrow, but it could be delayed if we find other issues).

[2017-02-06 21:05] pieandcakes commented on #476
@sov1178 Do you have a code snippet that I can apply this to for investigation?

[2017-02-06 21:54] xaverh commented on #303
Thanks, It's working!

[2017-02-06 21:59] pieandcakes commented on #476
@sov1178 Also, can you make sure you have the property `"showDisplayString": true` set in your launch.json?

[2017-02-07 04:19] UR3IQO commented on #476
@pieandcakes

Thanks a lot! Adding _showDisplayString_ to launch.json solved described _DisplayString_ problem. I think it should be added tho the launch.json documentation ( https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md ).

[2017-02-07 04:54] UR3IQO commented on #476
But adding _Condition_ attribute to _DisplayString_ element do not produce expected result.
Here is an example. Struct TCB with member _state_ and the following .natvis
[code]

The last _DisplayString_ is always used independently of state member value.

[2017-02-07 13:57] sunqi1993 opened #479 "in the single step mode,gdb always crash at the "}" of the main funtion"
In the MinGW(version 4.8.1), i use gdb.exe(version7.6) to debug at the breakpoint:
When the single step cursor goes to the right bracket of the main function and  i press F11 ，it always cause a problem like that:
![image](https://cloud.githubusercontent.com/assets/12682690/22693515/95d9503c-ed7e-11e6-8539-ff1c7a31f11e.png)
It's a small bug,thing goes well except this situation.

otherwise gdb(vers

[2017-02-08 07:23] csholmq opened #480 "setupCommands information is incorrect"
![image](https://cloud.githubusercontent.com/assets/1297882/22727206/df9abcfc-edd7-11e6-9815-f9c5e48a45c5.png)

[2017-02-08 09:46] sleepymole opened #481 "The "Show Fixes" is nothing but "Add include path to setting""
![screenshot1](https://cloud.githubusercontent.com/assets/17199941/22731073/59fb49f2-ee24-11e6-8bb1-49b8ba8406ed.png)
I have included path to "c_cpp_properties.json". However, the "show fixes" is always there whenever I am coding.
![screenshot2](https://cloud.githubusercontent.com/assets/17199941/22731469/be649460-ee25-11e6-9eb4-643153e0c5bb.png)

[2017-02-08 14:53] sean-mcmanus commented on #481
The bug was introduced in our extension by a change to the VS Code 1.9 update. A fix will be released soon.

[2017-02-08 16:47] bobbrow commented on #481
Tracked by #472

[2017-02-08 16:47] #481 closed, assigned to nobody

[2017-02-08 18:41] pieandcakes commented on #480
@csholmq Thanks for noticing. I'll update the help text.

[2017-02-08 19:22] pieandcakes commented on #480
The wording will be changed in the next release.

Thanks

[2017-02-08 19:22] #480 closed, assigned to pieandcakes

[2017-02-08 19:52] pieandcakes commented on #476
@sov1178 I put an update in the `launch.json` help text and I will probably update the `launch.md` file also. I'll need to investigate the Condition statement.

[2017-02-08 19:58] pieandcakes commented on #479
@sunqi1993 Can you enable logging in your launch.json by adding
[code]
and repro and send me the contents of the logging? I suspect for the first option that we are passing a path to VSCode that it isn't able to find the code file for.

The second issue, is that gdb 7.9 on MinGW? Can you provide more information for that one so I can investigate?
Thanks

[2017-02-08 21:05] pieandcakes commented on #476
@sov1178 so I tried it with the std::vector with the following block and if I change the size of my vector from 1 to 200 to 500 I see the different DisplayStrings:
[code]
Can you enable
[code]
and see if you see the call to gdb to evaluate state==0 or state==128?

In my instance:
[code]

[2017-02-08 21:11] pieandcakes commented on #450
@kiransj2 What OS are you running this on?

[2017-02-08 22:29] pieandcakes commented on #476
I wrote up an example to try and be similar to yours:
//file.natvis
[code]
//main.cpp
[code]

I set a breakpoint in `output` method and the `return 0;` lineand I can see that the first call through its `a`, second call through its `b` and third time it says `{state=100}`.

[2017-02-08 22:37] #380 closed, assigned to pieandcakes

[2017-02-08 23:18] pieandcakes commented on #363
If you both enable `"logging": { "trace": true, "traceResponse": true }` you can see what is being requested if that will give more info.

[2017-02-09 04:43] UR3IQO commented on #476
@pieandcakes thank you for the response! I set ``"engineLogging": true`` and it looks like gdb gets correct input and replies with the correct answer:
[code]
but I see the difference in return values. In my case gdb returns **0** and **1** instead of **true** and **false** (as in your case), also the type is **int** instead of **bool**. It seems it might be the source of the problem. Also I forgot

[2017-02-09 08:05] csholmq commented on #472
I'm experiencing odd behaviour switching between to C files. Could this be attributed to the lightbulb issue?

- Sometimes switching between files lock up by "Add include path to settings" popping up for no reason. In some cases the file is rendered but jumps to the top when attempting to scroll. Other times it's selected but won't show until you start scrolling.
- Also experienced the tabs not re

[2017-02-09 10:16] Litewhite commented on #430
same problem on the environment below:
- VSCode Version: Code 1.9.1 (f9d0c687ff2ea7aabd85fb9a43129117c0ecf519, 2017-02-08T23:44:55.542Z)
- OS Version: Linux x64 4.9.0-1-amd64
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-theme-onedark|akamud|1.1.0|
|python|donjayamanne|0.5.8|
|code-runner|formulahendry|0.6.9|
|cpptools|ms-vscode|0.10.0|
|Ruby|rebornix|0.10.4|
|java|redhat|0.0.10|

[2017-02-09 11:16] sunqi1993 commented on #479
@pieandcakes
Thanks for your reply, actually i want to upload a log-file.but sadlly the log infoformation has hunders of lines and i can't use "ctrl+a ctrl+c"  to select and copy the debug console window, so i copy the key information in the debug console
[code]
For the second issue, MinGW doesn't have a new release and contain a unfixed bug for a long time,so  i use TMD-GCC as an alternative to s

[2017-02-09 13:05] sean-mcmanus commented on #472
Those issues sound completely different and like VS Code bugs. Our extension doesn't control any of the rendering/UI details -- the lightbulb appears just by sending them a diagnostics message. I have not experienced the behavior you have described so far.

[2017-02-09 13:07] csholmq commented on #321
@pieandcakes `pipeTransport` didn't solve anything for the original topic of this issue I'm afraid. Still unable to get debugging running.

Not entirely sure, but despite setting `customLaunchSetupCommands` to blank and `launchCompleteCommand` to `None`, there still are some commands being fired off after my last `monitor connect` command.

Here is my configuration.

[code]

Why is this present?
[

[2017-02-09 13:13] sean-mcmanus commented on #430
Does the memory usage problem start immediately without taking any actions? Does it repro for all projects? We're still trying to get a repro. Are you using any Unicode characters with values > 0xffff or >0xff in identifiers?

[2017-02-09 13:17] csholmq commented on #472
It immediately disappears when I disable the Cpp extension. All other extensions still enabled. I'm on latest insiders release.

Here I recorded when I:

1. Try switching between tabs. As you can see, the file is selected and the canvas is refreshed, but the tab isn't until I click it once again.
2. I then try scrolling down one of the files and select a line, switch to the other tab and then when

[2017-02-09 13:24] Litewhite commented on #430
Up to now, the memory problem seems occur ramdomly, I'll report later if finding any useful clue. And I'm not using Unicode characters(> 0xffff or >0xff ) in identifiers ;)

[2017-02-09 14:14] csholmq commented on #321
Unwanted commands still being fired are:

`gdb-set target-async on`
`gdb-set solib-search-path [path]`
`interpreter-exec console "info sharedlibrary"`
`stack-list-frames 0 1000` (which fails for me as there is no stack nor stopped target)
`gdb-exit` (due to previous error I assume)
`logout`

[2017-02-09 14:42] jrieken commented on #472
In VS Code we have changed the strategy how we automatically ask for code actions. Before we would do that only when the cursored moved into a diagnostics range which effectively limited this to 'code fixes'. Now, we also ask for code actions when moving from word to word to support that non-fixe-code-actions, like refactorings, can be advertised via the light bulb.

[2017-02-09 14:42] sean-mcmanus commented on #430
If it's a gradual memory increase and the config in the bottom right is red, then it could be due to a problem with our handling of symbolic links in an infinite recursion.

[2017-02-09 14:44] csholmq commented on #472
@jrieken That's neat. But the could the behavior in my GIF be explained by this? Not switching tabs properly, jumping to top when scrolling and opening the `Add include paths to settings` for seemingly no reason?

[2017-02-09 14:45] sean-mcmanus commented on #472
We have a fix for the lightbulb everywhere releasing today, so maybe that will fix this other issue? I'm still not reproing what you're seeing, but I'm on 1.9.1 still. I'll try the insider's release...

[2017-02-09 14:48] jrieken commented on #472
https://github.com/Microsoft/vscode-cpptools/issues/472#issuecomment-278661539 - funky. the context menu with the fixes should only shows when the light bulb is clicked or when the `editor.action.quickFix` command is explicitly invoked. By default that is bound to `Cmd+.` do you have customisations in that area?

[2017-02-09 15:00] sean-mcmanus commented on #472
I'm reproing the bug now (with scrolling, auto-appearing quick fix). It only repros with the Insider Release and not 1.9.1. No customisations. I'll see if it repros after our pending update...

[2017-02-09 15:05] csholmq commented on #472
@sean-mcmanus Excellent. Then it's not me going mad :)
@jrieken Ctrl+Tab only. No custom keyboard shortcuts. On Win 10 with swedish keyboard layout if that matters.

[2017-02-09 15:12] jrieken commented on #472
just came in: https://github.com/Microsoft/vscode/issues/20306

[2017-02-09 15:14] sean-mcmanus commented on #472
I've verified that it's fixed with our pending 0.10.1 update. We're planning to release it today. Well, it's fixed for the C++ scenario...there might be other quickFix providers that have problems.

[2017-02-09 15:54] jrieken commented on #472
I hope not 🙈 I theory with <kbd>Cmd+.</kbd> users could have always requested code actions at any position. My guess is that extensions have different filtering in place - based on the diagnostics, word, or offset..

[2017-02-09 18:18] sollapse opened #482 "include paths are broken"
It seems that include paths are not being resolved when setting them in the c_cpp_properties.json object. I'm running VS Code on Ubuntu 16.04.

![image](https://cloud.githubusercontent.com/assets/14261598/22797203/1179e70c-eec3-11e6-9101-9f49714dcce3.png)

[2017-02-09 18:25] sean-mcmanus commented on #482
Does re-starting VS Code fix this? 0.10.0 may have had some bugs with updating the includePath. We're releasing a 0.10.1 update soon (today?) that might fix this.

[2017-02-09 18:30] sollapse commented on #482
Restarting VS Code does not solve the issue. Along with deleting the json config and recreating the file with an app restart.

[2017-02-09 18:48] sean-mcmanus commented on #482
Hmm...then I'm not able to repro what you are seeing. I believe your .browse.vc.db is corrupted. You should delete it or change the databaseFilename in c_cpp_properties.json (it should be a full path). The symptom you are a seeing occurs when we fail to locate the filename in the .browse.vc.db. There may have been some problem recursing through your workspace, which occurs before the includePath i

[2017-02-09 19:19] csholmq commented on #472
Omnisharp apparently has the same issues.

[2017-02-09 19:26] sollapse commented on #482
This file does not seem to have been created. How would I generate it?

[2017-02-09 19:37] sean-mcmanus commented on #482
It should auto-generate when you open a workspace. There have been some bugs where it can fail to be created, but if you specify the full path in the databaseFilename, that should work, e.g. /home/user/newProject.db . It's at /home/user/.config/Code/user/workspaceStorage/guid/ms-vscode.cpptools/.browse.vc.db by default.

[2017-02-09 19:52] pieandcakes commented on #321
@csholmq Those unwanted commands are part of the `MIEngine` setup. You can see the code [here](https://github.com/Microsoft/MIEngine/blob/master/src/MIDebugEngine/Engine.Impl/DebuggedProcess.cs#L483) is where the `target-async` is fired. When we launch, we break at the first possible moment and setup the debug engine and during that process it does a stack-list-frames to walk the stack and then co

[2017-02-09 20:34] veda87 opened #483 "Peek definition is not working for the code that is in samba server"
Recently, I installed VS code on my Windows machine and added C/C++ extension to enable peek definition.

My code (which is in multiple folders) is currently on my Linux (samba server) and I mounted the server as a network drive. I was able to open the code using the VS code. But unable to do peek definition or declaration.

Note: if my code resides on my Windows local drive, everything works fine

[2017-02-09 22:53] csholmq commented on #321
@pieandcakes I see. Thank you for the explanation! I will look into modifying the MIEngine to better fit my needs. I'll get back to this issue once I have collected some more info.

[2017-02-09 23:00] csholmq commented on #472
@sean-mcmanus Confirmed fix to work in 0.10.1 ! :tada: :clap: 👍

[2017-02-09 23:04] csholmq commented on #471
Works in 0.10.1 👍

[2017-02-09 23:48] #472 closed, assigned to nobody

[2017-02-09 23:48] #471 closed, assigned to nobody

[2017-02-10 03:25] anpilog commented on #107
@pieandcakes Thanks for update.
I'll try. Shell we close this conversation and continue at #321 ?
Seems like same issue to me.

[2017-02-10 03:26] anpilog commented on #321
@csholmq check out my launch.json from #107

[2017-02-10 06:10] owent commented on #477
Fixed in 0.10.1

[2017-02-10 06:10] #477 closed, assigned to nobody

[2017-02-10 06:27] csholmq commented on #321
@anpilog Very similar case. I think my issue is that the debugger (or MIEngine) assumes that the target is stopped and tries to fetch the stack frame when there is none. In my case specifically, I connect to a custom monitor (i.e not gdbserver) where all I want is to setup using a few monitor commands and then be able to manually `p My_Variable`.

[2017-02-10 08:19] seanmiddleditch opened #484 "debugger hangs, building with LTCG fixes it"
I have a project with some peculiar behavior. It builds several executables and DLLs on Win64 in either Release or Debug perfectly. The resulting binaries from either configuration run and execute correctly from either Explorer or from Visual Studio 2017rc. The debugger in VS2017 works correctly with the binaries from either configuration.

With Visual Studio Code and vscode-cpptools, debugging th

[2017-02-10 15:04] csholmq commented on #189
Still no context awareness. Is this coming along?

[2017-02-10 15:08] sean-mcmanus commented on #189
Yes, it's being worked on.

[2017-02-10 15:18] csholmq opened #485 "Alt+O doesn't honor files.exclude"
When swithching to matching header file, which is in another folder, all goes well. But switching back picks another matching source file (same folder as header file). Despite excluding all .c files in that folder.

E.g having src/file.c open and hitting Alt+O.
[code]

Rule: `"**/obj/*.c": true`

[2017-02-10 15:21] csholmq opened #486 "Move documentation to Wiki."
Currently, there is some documentation in the extension itself (clang settings, keyboard shortcuts), some documentation in launch.md (debugger example) in the repo and some documentation in the wiki (pipe transport functionality).

My suggestion would be to move the documentation to the wiki where it can be easily structured.

[2017-02-10 16:04] sean-mcmanus commented on #483
I'm not able to repro any problem with 0.10.1 and VS Code 1.9.1/1.10.0 with a Linux samba 4.3.11-Unbuntu server and Win10 host. Peek definition is working for files in the workspace root and files in the includePath. Your host machine will need to have access to the files with the definition in it and they have to be set to the correct includePath for your configuration (in c_cpp_properties.json).

[2017-02-10 18:21] sean-mcmanus commented on #485
Yes, you are right, The current header switching doesn't use the browse database and just creates its own isolated data structure and search which doesn't look at any of the exclude settings (in addition to other problems). We've implemented header switching using the browse database so this should be fixed in the next update, assuming we don't find some problem with the new implementation that ca

[2017-02-10 18:43] caslan opened #487 "[LLDB] Exit code of debuggee always reported as 0"
1. Create a simple debuggee that returns a non-zero value from main.
2. Run the debuggee in the debugger

OBSERVED:
The exited event says the exit code is 0

EXPECTED:
The exited event gives the correct error code

[2017-02-10 19:14] pieandcakes commented on #486
@csholmq Yes, that is a task I have assigned to myself to try and add documentation to the Wiki. I'm up for some community help though so if anyone else wants to help, that would be great. I don't think we're planning on moving away from the blog model for release information.

[2017-02-10 19:19] pieandcakes commented on #484
@seanmiddleditch Can you tell me which version of VSCode and the extension you are using? There was an issue that was resolved with an update of the Visual C++ Debugger that was released around the time we put out `0.10.1`. If you can, try and uninstall and reinstall the extension which should download a new copy of the debugger and see if this issue continues to repro.

[2017-02-10 19:20] pieandcakes commented on #478
This is resolved. Closing

[2017-02-10 19:20] #478 closed, assigned to nobody

[2017-02-10 19:44] pieandcakes commented on #484
Also, would it be possible to save a dump of both `msvsmon.exe` and `clrdbg.exe` using Visual Studio and sending that to me?

[2017-02-10 20:02] veda87 commented on #483
Here is the test I'm using

I have a root folder TestVScode which has sub-folders folder-1 & folder-2  which has the codes.

My configuration is

[code]

When I tried to go to declaration using `F12`, I'm getting the following error

`Unable to open 'BOXTEST.HPP': File not found (z:\TESTVSCODE\FOLDER-1\SRC\BOXTEST.HPP).`

Even if I tried to create a new file, I'm getting

`A system error occured (

[2017-02-10 20:29] csholmq commented on #486
@pieandcakes I think the Wiki is restricted though. I can't seem to find any edit button :)

[2017-02-10 20:31] pieandcakes commented on #486
@csholmq What if there is a directory within the code that has documentation instead of in the wiki? Would that work? Then we can take contributions from the community.

[2017-02-10 20:36] bobbrow commented on #483
It looks like you have a * in your include path for Z:/TestVSCode.  The * means to only add the current folder to the include path.  Remove the * and it should recursively add all sub directories as well.

[2017-02-10 20:41] bobbrow commented on #486
You should be able to clone the wiki, make edits, and send a pull request, no?

[2017-02-10 20:47] bobbrow commented on #483
What is the actual casing of the file path?  This could also be a case-sensitivity issue for Linux.

[2017-02-10 20:55] csholmq commented on #486
@pieandcakes That would work! Similar to launch.md then?
@bobbrow Don't think that's how it works. But I could be wrong.

[2017-02-10 20:55] sean-mcmanus commented on #483
If your host is a Windows machine, the default config will be Win32, so that would be the easier config to use, but you want to make sure your includePath is correct for the Linux files you want. I'm still not able to get a repro, but when you create a file, we should not be causing a system error, so it sounds like there is some other problem with either VS Code or Samba. The casing is strange (l

[2017-02-10 21:00] pieandcakes commented on #486
@bobbrow I pushed a branch to the wiki but I can't figure out how to create a PR.
@csholmq That should be fine. I can then probably port it over to the wiki.

[2017-02-10 21:03] bobbrow commented on #486
I just tried editing my clone and submitted directly to master.  That worked for me.  That seems analogous to what would happen if you edited directly via the website.

[2017-02-10 21:05] pieandcakes commented on #486
@bobbrow I added you as an admin, so that's probably why you can do it. I don't think the general public can do that.

[2017-02-10 21:08] bobbrow commented on #486
I just found a setting that restricts editing the wiki to users with push access and toggled it off.  @csholmq, can you see if the Edit button is available to you now?

[2017-02-10 21:24] pieandcakes commented on #486
I don't know if I want to open up the wiki to anyone to update without a Pull Request. I think we can do it one of two ways.
1) We can clone the vscode-cpptools.wiki into a branch in the main repo and manage changes there, sort of like http://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github
2) We can keep our documentation in the main repo and not use the wiki.

Which

[2017-02-10 21:42] csholmq commented on #486
@bobbrow No button, no.
@pieandcakes I vote for the second one. More apparent than the wiki perhaps.

[2017-02-10 22:03] bobbrow commented on #486
Yeah, @pieandcakes toggled it back off, so I wouldn't expect it to work anymore.  In the absence of that option, I vote for number 2 as well.

[2017-02-10 22:46] veda87 commented on #483
On my Linux server. The directory structure is $HOME/TestVScode/Folder-1
I mounted my HOME on Z drive.

If I access those files in Windows Explorer, It is "Computer > Veda (... Linux address...)(Z:) > TestVSCode > Folder-1

Question: I don't know why the casing changes? Any reason for it?

[2017-02-10 22:46] seanmiddleditch commented on #484
@pieandcakes  - very latest of both (vsvcode 1.9.1 and and cpptools 0.10.1) exhibited the behavior, but I didn't try a full uninstall first - I'll give that a go when I'm back at the workstation. Do you have a handy link to instructions on getting the dump files you asked for? (a quick Google search didn't educate me on the details)

[2017-02-10 22:49] pieandcakes commented on #484
@seanmiddleditch You would need to Attach to the process as managed and then you can follow these instructions as they should be the same (use the method with Visual Studio): https://blogs.msdn.microsoft.com/debugger/2009/12/30/what-is-a-dump-and-how-do-i-create-one/

[2017-02-10 23:28] seanmiddleditch commented on #484
Ah, _those_ kinds of dump files. :) Roger, will get those over when I'm at the workstation.

[2017-02-11 05:46] rorywalsh opened #488 "debug output and xterm on Linux?"
It seem the only way to see any program debug info output is through the floating xterm window that launches with the debug session. Setting  "externalConsole": false, doesn't seem to make a difference. Is this something that will looked into in the future?

[2017-02-11 13:47] yuyoyuppe opened #489 "Incorrect integration with clang-format"
clang-format accepts `-assume-filename=` argument which, quoting the man, does the following:

`vscode-cpptools` indeed uses its stdin, while supplying these arguments:
`-style=file -fallback-style=LLVM -sort-includes=0 -assume-filename=/tmp/test.cpp`

Note that the value of `-assume-filename` is incorrect: we get a path to the source file instead of a style config. Could you please fix that as we

[2017-02-11 14:09] yuyoyuppe commented on #489
As a workaround on Linux, you can replace clang-format at `~/.vscode-insiders/extensions/ms-vscode.cpptools-0.10.1/LLVM/bin/clang-format` with a perl script:
[code]

[2017-02-11 18:51] seanmiddleditch commented on #484
Just tried completely uninstalling the plugin and then code itself, then reinstalling. Debugger still hangs, but the behavior is now _slightly_ different (it now creates _two_ threads after loading winmmbase and then hangs, whereas before it very consistently only created one).

Grabbing dumps now.

[2017-02-11 19:03] seanmiddleditch commented on #484
The dump files are too big to post on GH even when 7zipped, so they're over at https://dl.dropboxusercontent.com/u/1395243/dumps.7z

[2017-02-11 23:50] csholmq commented on #13
@sean-mcmanus @pieandcakes Anything in the roadmap? :)

[2017-02-12 00:53] sean-mcmanus commented on #483
I don't know where the changed casing is coming from (we have code that changes the casing on Windows but that doesn't appear to be causing the problem). If you're not able to create a folder then it sounds like a VS Code bug and would repro without our extension. Can you file a bug with them? I assume you can create a folder without using VS Code. It's possible another VS Code extension could be

[2017-02-12 01:05] sean-mcmanus commented on #13
Yes, the IntelliSense engine will enable a better autocomplete (code completion) experience. It is being actively worked on now. It was delayed for a few months by work being done in Visual Studio 2017 (and other factors).

[2017-02-12 05:58] csholmq commented on #13
@sean-mcmanus Nice to hear :) Looking forward to improvements on this already excellent extension!

[2017-02-13 13:16] sean-mcmanus commented on #489
The clang-format docs are not worded correctly. -assume-filename is supposed to take the name of the file being formatted (when the text of the file is passed to clang-format from stdin). Using it enables header sorting to work correctly with file.h on top of file.c. When style=file, the style document for the current directory is .clang-format or _clang-format. You can see another example usage a

[2017-02-13 13:16] #489 closed, assigned to nobody

[2017-02-13 16:01] pieandcakes commented on #488
@rorywalsh on Linux we currently need the window to be able to support displaying the output of the debuggee and gdb. we have an issue in our backlog to look at integrating the debugger terminal within VS Code #35.

[2017-02-13 16:01] #488 closed, assigned to nobody

[2017-02-13 17:37] rorywalsh commented on #488
Thanks.

On 13 February 2017 at 16:01, Pierson Lee <notifications@github.com> wrote:

[2017-02-13 22:22] pieandcakes commented on #484
@seanmiddleditch Thanks. I've downloaded it and will take a look as soon as I get a chance.

[2017-02-14 01:49] sunzhec2702 opened #490 "[0.10.0] Cpptools extension is consuming too much disk IO."
Hi,

I am using vs code in Ubuntu in a virtual machine. Recently I upgraded the cpptools extension to 0.10.0.
This version is consuming too much I/O from command iotop. And of course, the vs code hang and I have to kill the extension.

After go back to 0.9.3, this issue disappears.

[2017-02-14 01:54] pieandcakes commented on #484
@seanmiddleditch Looks like an issue with linker changes in Visual Studio 2017 RC and our debugger. Can you try and copy the file from `C:\Program Files (x86)\Microsoft Visual Studio\2017\<Version>\Common7\IDE\Remote Debugger\x86\msdia140.dll` and replace the one in `C:\Users\<username>\.vscode\extensions\ms-vscode.cpptools-0.10.1\debugAdapters\vsdbg\bin` and see if it works? I suspect it is the n

[2017-02-14 10:02] opensw opened #491 "Bug: debugger breakpoints on Yocto"
Hello there, I am trying to use Visual Studio Code 1.9.1 and cpptools 0.10.1 to debug an embedded application on a remote device (Yocto distro); following the behavior of the debugger:
1) If I do not put manually any breakpoints before to start the debugging session then it is not possible to stop in anyway the application at breakpoints added during runtime;
2)  When I start a debugging session,

[2017-02-14 19:05] pieandcakes commented on #491
@opensw What is your current OS?

[2017-02-14 19:06] pieandcakes commented on #490
@sunzhec2702 Can you try 0.10.1? The language team made some fixes that might resolve your issue.

[2017-02-14 19:28] pieandcakes commented on #491
@opensw
So I tested this on Ubuntu 16.04 and tried remote to another Linux machine I had running Centos:
1. I can't duplicate this at all. I created a program with function calls and a loop and I start the debugger. I set a breakpoint as its running in the main loop and it breaks immediately when it is hit.

2. I set `stopAtEntry` to be true and it stops on my very first line in `main.cpp`.

3. Se

[2017-02-14 20:02] opensw commented on #491
Hello there :)

At work I have Kubutnu 16.04 (it is essentially the same like yours).

I am using makefile and the flag is set to -og (it is the same like -o0 -g).

**To reply to your 1th, 2th and 3th point**
With standard gcc, gdb and gdbserver is working properly, my issues are with remote debugging on arm on Yocto distro. To replicate the issues you need:
- On the host machine, Yocto poky 1.8;

[2017-02-14 20:06] pieandcakes commented on #491
@opensw What do you get when you use the `pipeTransport` block with SSH? I assume that you have gdb on the target device, this should allow you to debug as if you are on the device with actual gdb on the arm device. I'll see if I can find some hardware to try this but I don't think I have the hardware to try your specific scenario. Can you enable in your `launch.json`:

[code]
and send me the log

[2017-02-14 20:11] pieandcakes commented on #476
@sov1178 So I've found where we have the check for the condition and there is a bug in the code in that we're looking for specifically a value of `"true"` to be returned from gdb from the evaluation.

[Pull Request](https://github.com/Microsoft/MIEngine/compare/master...pieandcakes:users/piel/natvisFix)

[2017-02-14 20:26] opensw commented on #491
A crash, tomorrow at work I will try again but before to do it I have some questions:
1) With pipeTransport, will cpptools copy to the target the file specified in "program" field of launch.js? If no, I need to copy it manually via ssh but how does pipeTransport know where I copied it (to run properly gdb)?
2) On target device, do I need to copy also the source code and use sourceMap option?
3) I

[2017-02-14 20:48] noct commented on #484
@pieandcakes

I have a similar issue to the above, using: VS2015 Update 3, vscode 1.9.1, and cpptools 0.10.1

I've only attempted debugging with Debug x64 binaries, but the result is the hang described above. Your suggestion to copying `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Remote Debugger\x86\misdia140.dll` over the provided  appears to fix the issue and the application

[2017-02-14 20:52] pieandcakes commented on #484
@noct Thanks. We are planning on updating the dependency in our release once Microsoft Visual Studio 2017 RTM goes out. It isn't that it is hanging. We have to break on entry to setup debugging and then continue running, but in this instance its taking it a bit to build the full pdbs in the background. This is also why enabling /LTCG fixes the problem also.

[2017-02-14 22:18] yuyoyuppe commented on #489
Oh, my bad, I've actually had .clang-format file over two dirs up and tested this workaround by moving it even further up the tree. clang-format will actually scan [up until the drive root path](https://github.com/llvm-mirror/clang/blob/release_39/lib/Format/Format.cpp#L1728), which is quite unexpected, but nevertheless stated in the same docs:

Perhaps it would be better to implement some `-style

[2017-02-14 22:34] seanmiddleditch commented on #484
I probably won't be able to get to it until tomorrow evening but I'll try that fix soon as I can.

[2017-02-15 01:26] pieandcakes commented on #491
@opensw
1. No, you would need to build/copy it there. You specify the regular `"cwd"` and `"program"` fields with the path that they are on the remote device.
2. On the machine running VSCode you need to have the source there and then specify the sourceMap option to map the compile-time location to the location on this machine.
3. Yes that is correct. `pipeTransport` uses ssh and we get the `gdb`

[2017-02-15 01:37] pieandcakes commented on #486
@bobbrow @csholmq The documentation folder is in the main repo. Hopefully as we create content, the README.md will be update with some basic navigation.

[2017-02-15 01:37] #486 closed, assigned to nobody

[2017-02-15 02:51] seanmiddleditch commented on #484
I found a few moments to try it out. Confirmed the fix, though I had to alter the instructions a bit.

My machine doesn't  have a `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Remote Debugger` directory at all (not sure how to get that; I seem to have all the relevant packages selected in the VS installer) but I found multiple other copies buried in the VS 14.

Interestingly, th

[2017-02-15 02:58] sunzhec2702 commented on #490
@pieandcakes I've tried 0.10.1 and I cannot repro this issue :)
Close this issue.

[2017-02-15 02:58] #490 closed, assigned to nobody

[2017-02-15 10:41] opensw commented on #491
Hi,
   with pipeTransport it is worst then the previous method with my launch.js:
1) Cannot stop at main;
2) Cannot stop at any breakpoints (before/after gdb is running).

I do not know, until I will not find a solution I will use Qt Creator for debugging.

Cheers

[2017-02-15 10:42] opensw commented on #491
And for log, unfortunately is not possible to copy full text from Visual Studio Code Debug Console, I have selected only the relevant part reported as followed:

`1: (144) LaunchOptions<PipeLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'
1: (150) LaunchOptions  ExePath='/home/root/tcp-serv'
1: (150) LaunchOptions  WorkingDirectory='/home/root/'
1: (150) LaunchOpt

[2017-02-15 13:46] pieandcakes commented on #484
@seanmiddleditch The instructions I left were to use the one from your Visual Studio 2017 RC installation. Can you try that one and see if it works also?

[2017-02-15 18:05] chaopeng opened #492 "Can we have a setting field to turn off "search include paths""
Can we have a setting field to turn off "search include paths"?

Currently I am working on chromium code base with vscode and vscode-cpptools. It works great even on laptop. But on laptop "search include paths" consuming too much battery and it is useless on chromium code base.

[2017-02-15 19:35] bobbrow commented on #492
We will add this soon.  This is covered by #374.  If you need an immediate fix, you can work around the issue by manually editing this extension file:

[code]

lines 157 and 160 insert ${workspaceRoot} into the include path array before sending it over to the language server extension.  Remove these lines and it should solve your problem until we get a proper setting added to the extension.

[2017-02-15 21:20] UR3IQO commented on #476
@pieandcakes Great!

[2017-02-15 22:12] pieandcakes commented on #491
@opensw So I tried a hello world app on Raspbian OS on a RaspberryPi3 running GDB version 7.7.1 and I can't duplicate any of the breakpoint issues. I can set breakpoints while running, pause (break all) into code and stop. I wasn't able to set stopAtEntry so I am looking into that scenario.

I tried yocto on the Pi but it doesn't have gdb or g++ to compile and I didn't have the time to find and fi

[2017-02-15 22:56] opensw commented on #491
Hi, thank you for your debugging effort :)

If you are using poky 2.2, set in **poky-morty-16.0.0/build/conf/local.conf** EXTRA_IMAGE_FEATURES ?= "debug-tweaks tools-debug eclipse-debug" to include gdb, gbserver etc.

For gcc etc you need to install the toolchain on local machine (to generate the toolchain you need to use bitbake meta-toolchain or similar for your platform). After this step you ne

[2017-02-16 03:13] incredibleXM opened #493 "Fail to Update C/C++ Dependencies and Debugger won't start"
Here is the problem
![image](https://cloud.githubusercontent.com/assets/19206969/23005612/1e7d0eb4-f438-11e6-9868-310d3e523cbd.png)
![image](https://cloud.githubusercontent.com/assets/19206969/23005628/2ff38bf0-f438-11e6-96c1-92bfd9f698c4.png)
When I press F5 to Debug(while Compiler can be used correctly)
![image](https://cloud.githubusercontent.com/assets/19206969/23005701/88f86e78-f438-11e6-912d

[2017-02-16 06:57] seanmiddleditch commented on #484
@pieandcakes  Whoops, I copied the source path from the other guy's comment and didn't realize it was the 2015 install directory. Copied the `msdia140.dll` version 14.10.24930.0 from the correct path you provided and can confirm that it does fix the issue. Thank you, and I appreciate your patience with my bumbling. :)

[2017-02-16 16:27] sean-mcmanus commented on #493
The extension needs to download additional OS-specific components or the debugger won't work. You will need access to the internet and correct http proxy settings. Are you able to download https://go.microsoft.com/fwlink/?linkid=841505 ?

[2017-02-16 16:54] CDitzel opened #494 "c++11"
I cant seem to get the c++11 standard to work inside VS Code.

e.g. syntax like

double a{5};

should work right?

what am I doing wrong?

[2017-02-16 17:08] sean-mcmanus commented on #494
It works for me. What specific feature are you trying to use and what are the results? The C++ extension doesn't provide a compiler or build tools.

[2017-02-16 17:10] CDitzel commented on #494
thank you for your reply

I am using standard gcc/g++ 4.9

code snippet is

using namespace std;
int main(){
    std::cout << "hi" << std::endl;
double a{5};
}

also it does not compile with a task defined like:

    // See https://go.microsoft.com/fwlink/?LinkId=733558
    // for the documentation about the tasks.json format
    "version": "0.1.0",
    "command": "g++",
    "isShellCommand": true

[2017-02-16 17:31] CDitzel opened #495 "tasks.json for compiling source file"
I am trying to compile a small program "test.cpp"

#include < iostream >
using namespace std;

int main(){
    std::cout << "hi" << std::endl;

double a = 5;

}

via the definition of a task, that looks like this:

{
    "version": "0.1.0",
    "command": "g++",
    "isShellCommand": true,
    "args": ["-o", "-std=c++11", "test", "test.cpp"],
    "showOutput": "always",
    "echoCommand": true
}

[2017-02-16 17:48] sean-mcmanus commented on #494
Your args are in the incorrect order. Use "args": ["-o", "test", "-std=c++11", "test.cpp"]. It was treating the -std arg as in the parameter for the -o arg.

[2017-02-16 17:48] #494 closed, assigned to nobody

[2017-02-16 17:53] sean-mcmanus commented on #495
Your args are in the incorrect order. Use "args": ["-o", "test", "-std=c++11", "test.cpp"]. It was treating the -std arg as in the parameter for the -o arg.

[2017-02-16 18:11] CDitzel commented on #495
thanks a lot. And can I also run make and cmake commands in the task.json?

[2017-02-16 18:43] incomingstick commented on #85
Will there be some sort of documentation for this feature, and an announcement for when this will be available?

[2017-02-16 18:45] pieandcakes commented on #85
@incomingstick I will add a documentation page in the repo on how to get it to work once Windows 10 Creator's Update is available to the general public.

[2017-02-16 18:46] sean-mcmanus commented on #495
Yes.

[2017-02-16 18:46] #495 closed, assigned to nobody

[2017-02-16 21:12] pieandcakes commented on #493
@incredibleXM If you restart VSCode, it should try again. It needs to download dependencies that our extension needs before you can start debugging.

[2017-02-16 21:41] MathiasMagnus commented on #156
I know, hope never dies, but could you give us a heads up where this feature is inside the pipeline? There have been no words from it from the CMake side (as far as @vector-of-bool is concerned).

[2017-02-17 01:02] kevinmoran commented on #172
It would make a HUGE difference if I could type "some_pointer,x" in the watch window to view some_pointer as an array with x elements.

As it stands I have to use LLDB's memory read syntax, which I constantly have to google and sometimes doesn't seem to work. I've actually resorted to printf debugging for large arrays the last few days. Could we please reopen this issue or can I open another to lo

[2017-02-17 01:07] pieandcakes commented on #172
@kevinmoran We have updated our version of the shipped LLDB to allow lldb's python pretty printer to work. Your other option is to look at our [Natvis visualizer option](http://aka.ms/natvis#Anchor_8). The commands you are putting in the watch window are sent to the underlying debugger to evaluate.

[2017-02-17 01:11] pieandcakes commented on #491
@opensw I was able to get it setup on the Raspberry Pi. there were a few issues surrounding stopAtEntry that I fixed but the set breakpoint or pause items I was not able to duplicate. Please find below a copy of the `launch.json` I created to test this. The fixes should be in the next release. This configuration should work and I added comments in it to help clarify:

[code]

[2017-02-17 01:22] incredibleXM commented on #493
Problem solved. Something went wrong with ISP. Thanks anyway.

[2017-02-17 01:22] #493 closed, assigned to nobody

[2017-02-17 01:24] kevinmoran commented on #172
Thanks for getting back to me, have a decent solution now. For anyone who found themselves here Googling this same problem, you can put this in the watch window:
`*(int(*)[10])some_pointer
`
to print "some_pointer" as a 10-element array of type int.

Would still argue that having a simpler solution is a basic debugger feature that should be added, this is way too much syntax/thinking/remembering t

[2017-02-17 01:26] sean-mcmanus commented on #156
Yes, it's still in the pipeline, near the front.

[2017-02-17 06:46] agauniyal commented on #156
@xwvvvvwx but it has some irritating bugs, check out the issues.

[2017-02-17 07:07] vector-of-bool commented on #156
I'd really like there to be some tighter integration with the build system. With the capabilities brought by cmake-server, I think that support for C and C++ in VSCode can be brought to parity with more heavy-duty IDEs. I also work in an environment with many custom include paths and compile flags, and when those are not used when processing the source files the resulting editing experience is nex

[2017-02-17 07:29] sean-mcmanus commented on #156
Yes, I agree. Visual Studio 2017 supports CMake in the open folder scenario with IntelliSense, but that only runs on Windows. Support for CMake (in the C++ extension) is further down the pipeline for VS Code.

[2017-02-17 07:56] CDitzel opened #496 "How to include additional path for auto-completion and suggestions?"
I am still having trouble wrapping my head around some of the features.

VS Code, when opened in a directory, is parsing all the existing files and upon completion, the red flame vanishes and auto completion is enabled. Is that understanding correct?

No, whats the difference between auto-completion, suggestions that turn up while typing and Intelli Sense?

Also, my project depends on includes and

[2017-02-17 08:11] sean-mcmanus commented on #496
Currently, the files aren't fully parsed and only non-local variables are added to the database. So autocomplete and other features will usually generate "too many" results, sometimes invalid in the context, or local vars will be missing. Our team refers to "IntelliSense" as the IntelliSense engine used by Visual Studio C++ (versus the currently "browse engine"), but VS Code refers to it more gene

[2017-02-17 09:29] opensw commented on #491
Good morning, I really appreciate your efforts to reproduce the issues, thank you a lot.

I adapted your launch.js to my setup but I have the same issues with breakpoints (for "C++ Launch (gdbserver)" and "C++ Launch (ssh)" too).

The only relevant difference between my configuration and yours is the target device, then:
1) For compiler I have this setting `"arm-poky-linux-gnueabi-g++  -march=armv

[2017-02-17 09:48] ueqt opened #497 "How to reload all symbols"
I add `*.pc` file association to `c`
and when I create a new pc file, symbols can load correct
but for my old pc files, no symbols loaded, I can't go to definition to these files
if I create a new file, and copy codes from old pc file, it works for new file

So do we have a command to reload all symbols?

[2017-02-17 11:33] sean-mcmanus commented on #497
The behavior I'm seeing is that the symbols get loaded when the file is opened, so you could either open all your old *.pc files or delete/rename the browse database to start over (i.e. do an edit configuration and give the databaseFilename a new value, originally named .browse.vc.db ). We plan to change this in the future so that changing the files.associations will add/remove the symbols for the

[2017-02-17 13:44] CDitzel commented on #496
All right. Thank you.

And will there a full-fetched auto-complete (comparable to the one in Studio) in VS Code in the near future?

[2017-02-17 13:54] jankap commented on #310
I can confirm this answer. I had C++ Intellisense installed too, but disabled. Uninstalling solved it though!

[2017-02-17 16:28] sean-mcmanus commented on #496
Yes, we are working on it.

[2017-02-17 16:28] #496 closed, assigned to nobody

[2017-02-17 16:37] sean-mcmanus commented on #310
Yes, we fixed it so extensionless headers can be found and go to definition from the header should open the file and associate it with C++ (autocomplete and quickinfo in #include still doesn't work well).

[2017-02-17 18:33] CDitzel commented on #495
if I may ask one more question.

if I need to cd first into a build directory within my project directory before calling make etc.

how can I facilitate this in a task.json?

[2017-02-17 18:46] CDitzel opened #498 "task.json for compiling in build directory"
I am trying to define a task which lets me build my project by cd into the build folder and calling make there, etc. However, I cant seem to find a proper task.json config for that task.

What I tried is

{
    "version": "0.1.0",
    "command": "cd build && make install -j12 && cd ..",
    "isShellCommand": true,
    "args": [],
    "showOutput": "always",
    "echoCommand": true,
}

But this jus

[2017-02-17 18:52] sean-mcmanus commented on #495
I'll answer your question in the newer post you made.

[2017-02-17 19:03] sean-mcmanus commented on #498
The answer is that your command should be a script file that has the commands you want to run in it (the path is based on your workspace root). We have a blog post about building at https://blogs.msdn.microsoft.com/vcblog/2016/03/31/cc-extension-for-visual-studio-code/#building .

[2017-02-17 19:13] CDitzel commented on #498
Thnaks Sean,

I also found this on Stack Overflow

{
    "version": "0.1.0",
    "command": "sh",
    "isShellCommand": true,
    "args": ["-c"],
    "showOutput": "always",
    "suppressTaskName": true,
    "options": {
        "cwd": "${workspaceRoot}/build"
    },
    "tasks": [
        {
            "taskName": "cmake",
            "args": ["cmake ."]
        },
        {
            "taskName

[2017-02-17 19:22] sean-mcmanus commented on #498
Yeah, running a command like sh/cmd with -c or /c with && between the commands (or whatever the command shell takes) also works. For some bizarre reason VS Code wants to output a " at the very end when I use the cmd method.

[2017-02-17 22:34] ghost commented on #298
@Jevyn I recently installed VS Code on my Windows 8.1 and I can't install any extension.
I have this error:
Updating C/C++ dependencies...
Downloading package 'C/C++ language components (Windows)' Failed at stage: downloadPackages
Error: ENOENT: no such file or directory, open 'C:\Users\Me\AppData\Local\Temp;C:\mingw64\bin;\package-6184ueCuLKhZbbn2.tmp'
So I tried to install them in a offline mode

[2017-02-17 23:06] sean-mcmanus commented on #298
You have the right folder. You can skip #3 on Windows (otherwise you have to run chmod 775 to set the binaries as executable). For #4, you should also make changes to the package.json (i.e. manifestObject below):
           manifestObject.activationEvents = [
                "onLanguage:cpp",
                "onLanguage:c",
                "onCommand:extension.pickNativeProcess",
                "

[2017-02-17 23:52] pieandcakes commented on #491
@opensw I'm compiling on the device itself with the compiler that is included during the build.

I made this line `EXTRA_IMAGE_FEATURES ?= "debug-tweaks tools-debug tools-sdk eclipse-debug"` and it installs G++ according to the information for `tools-sdk`

[2017-02-18 02:03] ghost commented on #298
@sean-mcmanus Thanks for the response. After doing all, I have this error in the debug console:

You may only use the C/C++ Extension for Visual Studio Code with Visual Studio
Code, Visual Studio or Xamarin Studio software to help you develop and test your
applications.

[2017-02-18 03:16] sean-mcmanus commented on #298
That's just the license text. It appears in the Debug Console window when you start debugging. Afterwards it should show which symbols are loaded or not. What feature is not working for you?

[2017-02-18 06:41] caslan opened #499 "[LLDB]The console windows is not closed after debugging stopped"
Sample code attached.

Configuration:

VSCode(Stable) + cpptools(0.8.0)

Steps to repro:

1) Compile the sample code: clang++ -g a.cpp b.cpp c.cpp -lpthread

2) Open the sample code folder in vsocde.

3) Set a BP at line 40 in c.cpp

4) Set debug type to Launch, then F5 break.

5) stop debugging

Expected:

The console window will be closed also after debugging stopped.

Actual:

The console windo

[2017-02-18 06:44] caslan opened #500 "Evaluate doesn't work as expect during core dump debugging"
Configuration:

Ubuntu 14 x64 + Cpptools 20160720.1

VSCode : 1.3

Repro Steps:

1. Copy the source code from
[main.zip](https://github.com/Microsoft/vscode-cpptools/files/784837/main.zip)

2. Compile the source: g++ -g exception.cpp main.cpp -o myapp

3. Enable the core dump: ulimit -c unlimited

4. Launch the application to generate the core dump:

    ./myapp "-CallRaisedUnhandledException"

5.

[2017-02-18 06:46] caslan opened #501 "[LLDB] Attach will cause debuggee process continue to run to exit"
Internal bug id: 235277
Configuration:

1. VSCode(Stable) + cpptools(0.7.1) + LLDB(3.8.0)

2. Sample code attached.

Steps to repro:

1) Compile the sample code: clang++ -g a.cpp b.cpp c.cpp -lpthread

2) Run the debuggee app: ./a.out

3) Open the sample code folder in vsocde.

4) Set a bp in line 44 in a.cpp

5) Add the process ID of the current app process in launch.json

5) Set debug type to be

[2017-02-18 06:48] caslan opened #502 "[MinGW]To restart debugging need hit the Restart button two times"
Internal bug id: 266662

Configuration:

VSCode(1.5.2)+ CPP Extension(20160917.1)

Sample Code:

//a.cpp

#include"iostream"
using namespace std;

sleeping()
{
    while(true)
    {
        cout<<"the process is running"<<endl;
    }
}
int main()
{
    sleeping();
    return 1;
}

steps to repro:

1. Compile the sample code: g++ -g -O0 a.cpp -o a.exe

2. Open the source code folder in vscode

3. C

[2017-02-18 06:49] caslan opened #503 "[C++ on Mac]Step to end of a function will has a unexpected break in 32-bit app"
Internal bug id: 236208

Sample code attached.

Configuration:

VSCode(Stable) + cpptools(0.7.1)

Steps to repro:

1) Compile the sample code: g++ -g a.cpp b.cpp c.cpp -lpthread -m32

2) Open the sample code folder in vsocde.

3) Set a BP at line 40 in a.cpp

4) Set debug type to Launch, then F5

5) Step into

6) Step Over 3 times

Expected:

Break at line 16 in a.cpp

Actual:

Break somethere loo

[2017-02-18 06:50] caslan opened #504 "Didn't display warning message when attempt to debug mismatched core and application"
Internal bug id: 245741

Configuration

Ubuntu14  x64

Install latest verson of vscode and cppdebug extension.

Repro:

1. Compile following C++ code with x64 by default:  g++ -g  main.cpp - o a.out

int main()
{
     int i=0;

     i=i/i;
     return 0;
}

2. Compile the same code with x86: g++ -g -m32 main.cpp -o a.out-x86

3. Run the x64 program "a.out" and collect the core dump

4. Launch vsco

[2017-02-18 06:52] caslan opened #505 "[C++ on Mac]Reattach will cause the process exit"
Internal bug id: 236195
Sample code attached.

Configuration:

VSCode(Stable) + cpptools(0.7.1)

Steps to repro:

1) Compile the sample code: g++ -g a.cpp b.cpp c.cpp -lpthread

2) Run the app: ./a.out

3) Open the sample code folder in vsocde.

4) Add the process ID in launch.json

5) Set debug type to Attach, then F5(the process is waiting for input)

6) Reattach

Expected:

Reattach succeed, si

[2017-02-18 07:17] caslan opened #506 "[LLDB] The breakpoint can not be hit for F5 after a 'Step over' into a function"
Internal bug id: 259942

Configuration:

VSCode(stable)+ CPP Extension(20160902.1)+ LLDB

Steps to repro:

1. Copy the debuggee, and open it with VSCode.

[src.zip](https://github.com/Microsoft/vscode-cpptools/files/784851/src.zip)

(You can compile by yourself,please use the command:

step 1: clang++ -g -O0 -std=c++11 -shared -fpic -m64 mylib.cpp -o mylib.so

step 2: clang++ -g -O0 -pthread -std=

[2017-02-18 08:21] caslan opened #507 "Source not available if the path contains unicode char when hit bp"
Internal bug id: 196744

Repro:

1) Puting your source code under path like: /home/tester/Documents/test司法

2) Open in VS Code

3) Set some BP

4) F5 tostart debugging

Expected:

VS Code is able to find the place to stop in source code

Actual:

Stopped at a place and show:

Source /home/tester/Documents/test345217270346263225/a.cpp is not available.

Investigation:

There is no such path /home/t

[2017-02-18 14:23] eduluc12 opened #508 "Autocomplete not work correctly (std::cout for example)"
Hi, I have a question when I typed std:: of the library iostream in VSC this not autocomplete correctly for example I need std::cout but this not appear.

**I use Visual C++ for the compilation**

![image](https://cloud.githubusercontent.com/assets/20527692/23093842/8e430684-f5bb-11e6-9175-508e82b25edd.png)

![image](https://cloud.githubusercontent.com/assets/20527692/23093847/a304033e-f5bb-11e6-8

[2017-02-18 19:10] joshthielen opened #509 "[Feature Request] Memory viewer when debugging"
Could you please add a memory browsing window to enable viewing of memory contents when debugging with gdb? It would also be great if the contents of watch variables / pointer locations could be easily shown in the memory browsing window (e.g. context-sensitive menu with 'View memory here').

[2017-02-18 21:06] mhalber commented on #178
Hi - I am experiencing a similar issue. I am not working on "unsaved files" or Arduino. The cpp extension functionality like "Go To Definition" simply never work, and the message about language server crashing shows up sporadically. I've attempted  to reinstall the vscode completely,
however issue persist even after reinstall. I've found information regarding specifying full path to "browse.VC.db"

[2017-02-18 23:18] zhelnio commented on #509
I'm also waiting for this. The small workaround to watch one addr is to define memory pointer and add it to watching values. This is working for me.

[2017-02-19 00:09] ghost commented on #298
When I use the launch green bottom, it gives me this error:
The system cannot find the file specified.
Actually I can't even build the code, and there is no .exe file.

[2017-02-19 08:22] daniel-brosche commented on #78
This is my solution which works fine:

1.) run app on remote host
`gdbserver localhost:4444 ./program`

2.) configure launch.json for remote debugging
[code]

3.) Hit F5 have FUN!

[2017-02-19 17:39] be5invis commented on #180
Any progress?

[2017-02-20 02:18] kiransj2 commented on #450
Ubuntu

[2017-02-20 11:06] jankap commented on #180
There are 2 clang solutions:
https://github.com/mitaki28/vscode-clang
https://github.com/kube/vscode-clang-complete

both not very active though...
A built in (actively maintained) clang solution would be awesome; this enables the possibility to use clang compatible compilers as well, for example the ARM/Keil armclan compiler v6 (ARM Cortex m0-m7 development).

[2017-02-20 17:16] DanielGibson commented on #16
Having this feature would be awesome!
In Eclipse it also works for class fields, enum constants and global variables (showing functions they're used in, and expanding the function call hierarchy from there). To be better than Eclipse, making it work for macros as well would be extra cool :)

It's really invaluable to understand and navigate non-small code bases.

[2017-02-20 19:40] amigo421 opened #510 "highlight the code, based on preprocessor definitions"
is it possible to implement like this does most of IDEs:
grayed (or other highlightiing) the code blocks of inactive preprocessor definitions.
look at the screenshot to understand what I mean
![image](https://cloud.githubusercontent.com/assets/3259933/23139466/91108c02-f7bd-11e6-8282-166b2a3cbf70.png)

[2017-02-21 05:20] ApoorvaJ opened #511 "[GDB] follow-fork-mode child"
GDB has a command called `set follow-fork-mode child` that instructs GDB to follow the forked process. I couldn't find a way to do this with this plugin.

I tried adding various permutations of `"-exec set follow-fork-mode child"` to the setup commands in the launch.json, but wasn't able to get it to work.

Is it possible to set this up from launch.json?

[2017-02-21 09:48] CDitzel opened #512 "Some issues I want to clearify"
I am loving VS Code so far (using the latest stable build), but unfortunately a few things really bug me:

1. mouse-wheel scrolling inside code files is really awkward, slow and unresponsive. Using the scrollbar at the side works fine, but the mouse wheel scroll seems delayed and almost unuseable. Is this a known problem or is the issue with me? Also marking file sections with pressed left mouse i

[2017-02-21 11:04] Shanz88 opened #513 "Debug for C++ No Output on Visual Studio"
Hi,

I just downloaded the newest version of Visual Studio.  I added the C++ app to the program languages.  However, when I select the environment for C++ when I try to Debug, theres no output.  I am trying to run just a simple Hello World program.

Can anyone tell me whats going on?

[2017-02-21 13:25] sean-mcmanus commented on #16
Visual Studio has this, but VS Code doesn't currently have any interface to enable a call hierarchy (other than possibly some unusual interface involving repeated dropdown popups). Maybe someone could file a feature request with VS Code to enable this, if it's not already been requested? This would require the IntelliSense engine from our end. It's not on our radar to implement this yet though (Fi

[2017-02-21 13:42] sean-mcmanus commented on #513
Do you mean Visual Studio Code? Do you mean the C++ extension? Are you building your app? How exactly are you invoking the debugger? Have you looked at some of the docs/blogs, such as https://blogs.msdn.microsoft.com/vcblog/2016/03/31/cc-extension-for-visual-studio-code/#debugging ?

[2017-02-21 14:11] sean-mcmanus commented on #512
1. There is no known issue with mouse wheel scrolling. We don't control any scrolling-related code and none of our extension code should run in the general scrolling scenario. It sounds like either a VS Code bug or an issue with your mouse wheel. I don't know what "marking file sections with pressed left mouse" means. The size of the directory probably shouldn't matter -- it just affects how long

[2017-02-21 14:32] sean-mcmanus commented on #510
VS Code doesn't provide any interface for the C++ extension to report which range of text is inactive and we don't control any of the colorization (it's done by atom/language-c), so I don't think this is currently possible.

[2017-02-21 15:07] sean-mcmanus commented on #508
This is a bug (should be fixed in our next update). We are accidentally not shipping the "cpp.hint" file as part of our .vsix. As a workaround, you can add the file "cpp.hint" to Users/\<user\>/.vscode/extensions/ms-vcode.cpptools.-0.10.1 with contents:

#define _STD_BEGIN namespace std {
#define _STD_END } ;
#define _STD std::

Or on Linux:

#define _GLIBCXX_VISIBILITY(arg)

But you'll need to ge

[2017-02-22 01:21] Shanz88 commented on #513
Hi Sean,

Yeah I'm using Visual Studio Code with the C++ extension on a Windows PC.

I just read from the article you sent me:
"The debugging experience currently only works out-of-the-box for Linux –
Ubuntu 14.04 (x64). We are working on OS X support as well, the current
experience requires manual installation steps and has some limitations
<https://marketplace.visualstudio.com/items?itemName=ms-

[2017-02-22 13:11] sean-mcmanus commented on #513
Oh, that article is a little out-of-date. You can debug on Windows now. You just select C++ (Windows) when selecting the debug configuration. You can either launch the app or attach to an already running app. Make sure you build with debug info. Can you show some screenshots or something? I don't understand what step you're stuck at. You should see output in the Debug Console.

[2017-02-22 13:40] sleutho opened #514 "Support for skipFiles and/or NoStepInto"
It would be great to be able to exclude namespaces and or wildcard-matches during debugging, so I don't have to step over/into std, boost and other system or framework libraries.

Node debugging already supports skipFiles.

[2017-02-22 18:39] pieandcakes commented on #511
@ApoorvaJ Do you have a simple code example I can try out for this?

[2017-02-22 18:44] pieandcakes commented on #513
@Shanz88 If you enable `"externalConsole": true` in your `launch.json` do you see a window popping up with your output?

[2017-02-22 18:51] ApoorvaJ commented on #511
[code]

Compile using the `gcc -g fork.c` option on command line on Linux to enable debug symbols. Open in gdb using `gdb ./a.out` Set breakpoints on both printfs. Try running. You'll only ever hit the main process breakpoint.

To hit the other one, type in `set follow-fork-mode child` into gdb, and then run again. You'll now only hit the forked process breakpoint.

I'd like to control this behavi

[2017-02-22 19:05] pieandcakes commented on #511
@ApoorvaJ Thanks. I'll take a look and let you know.

[2017-02-23 06:07] IntrepidPig opened #515 "Can I work around using gnome-terminal or xterm?"
I'd rather use terminator than gnome terminal for debugging, but apparently I can't so I've been trying to work around it. I think the only options the debugger uses is --title and -x which terminator both supports. I've tried the following things:

- Making a symlink to /usr/bin/terminator as /usr/bin/gnome-terminal -> `Unable to start debugging: Input string was not in the correct format`
- Maki

[2017-02-24 09:00] rokups opened #516 "Enable breakpoints for nim language"
It is as easy as adding [this](https://github.com/WebFreak001/code-debug/blob/master/package.json#L57). Please enable it. Current workaround is installing my linked extension so we can add breakpoints in nim code, then we can use microsoft cpp extension debugger to debug nim code and it works.

[2017-02-24 11:10] tanis2000 commented on #226
@damienpontifex  I see that this issue has been closed, does that mean that support for `compile_commands.json` has been added? How do you use it?

[2017-02-24 11:29] ma-ric commented on #117
Please enable code folding also
* on whole class definitions (all between {}; ), not only on the  subsections defined by class access modifiers (private,  protected, public).

* and on continues comment blocks.

Thanks!

[2017-02-24 11:49] agauniyal commented on #226
@tanis2000 there are alternate plugins for autocompletion, the best being - https://github.com/richard1122/vscode-youcompleteme. It supports reading from `compile_commands.json` but there are two irritating bugs atm, one from vscode and another is partially reproducible. There is no support(yet?) for `compile_commands.json` parsing with vscode-cpptools plugin.

[2017-02-24 11:51] agauniyal commented on #515
@IntrepidPig  There is an option for setting external terminal in user settings of vscode(the global user settings for editor, not this plugin).

[2017-02-24 16:41] sean-mcmanus commented on #117
The code folding behavior is from VS Code itself and is based on the indent position only. VS Code doesn't currently have any API for modifying the code folding behavior. This is being tracked at https://github.com/Microsoft/vscode/issues/3422 .

[2017-02-24 16:41] #117 closed, assigned to nobody

[2017-02-24 17:35] CDitzel opened #517 "git support of vscode"
I am working a large directory and opened vscode in the root folder.

However, in the git area I am only shown the changed files of that very directory rather than those of subdirectories as well.

How can i change that?

[2017-02-24 17:45] sean-mcmanus commented on #517
Maybe try changing "git.allowLargeRepositories" to true? You should see the git changes in the subdirectories too. It works for me. Make sure your .gitignore file isn't excluding stuff. It's also possible that git is crashing or taking too long. Our C++ team doesn't control any of the git stuff in VS Code.

[2017-02-24 17:49] CDitzel commented on #517
thank you

[2017-02-24 22:10] pieandcakes commented on #517
The VSCode repo is https://github.com/Microsoft/vscode

[2017-02-24 22:10] #517 closed, assigned to nobody

[2017-02-24 22:13] pieandcakes commented on #516
@rokups You are welcome to add it to your local copy of the `package.json` file. I'll ask and see if this is something we would support but at this time we are focused on C and C++.

[2017-02-24 22:45] pieandcakes commented on #515
@agauniyal that will only change the terminal in VSCodeand not the output terminal for your application.

@IntrepidPig At this time, there isn't anything you can do to change the behavior. This is what we pass to gnome-terminal:
[code]

the block of code is in:

https://github.com/Microsoft/MIEngine/blob/master/src/MICore/TerminalLauncher.cs

This is an open source repo so if you would like to con

[2017-02-24 22:48] pieandcakes commented on #513
@Shanz88 also, are you using `g++/gdb` or `Visual C++` with our extension on Windows? Can you post your `launch.json` ?

[2017-02-24 22:49] pieandcakes commented on #512
Please file these questions/issues at https://github.com/Microsoft/VSCode .

Thanks

[2017-02-24 22:49] #512 closed, assigned to nobody

[2017-02-26 16:34] sylwa06 opened #518 "Visual studio code + clang-format has not effect under Linux"
Clang-format VS code pluggin is running but does'nt make the job at all on my linux system.
Exactly the same approach works nicely under Windows 10.

I've installed VS code 1.9.1 along with the Clang-Format pluggin 1.1.1 under a scientific linux :

[code]

My settings.json looks to be properly set up :

[code]
But nothing occurs when saving a .h or .C code file...

I did the exactly same approach

[2017-02-27 06:01] Shanz88 commented on #513
Hi Pierson,

I'm using Visual studio code, with the C++ (GDB//LLDB) extension.

My json settings are below:
 // Associate schemas to JSON files in the current project
  "json.schemas": [],
  // Enable/disable default JSON formatter (requires restart)
  "json.format.enable": true,
  // Traces the communication between VS Code and the JSON language server.
  "json.trace.server": "off",

Is this what

[2017-02-27 13:19] sean-mcmanus commented on #518
We don't own the Clang-format extension. Can you file a bug with them? Are you using the C++ extension? If your issue only repros when the C++ extension is installed then we could be causing a problem. The C++ extension implements formatting too, but Scientific 7 is not supported unless you install glibc >= 2.18 (and we require a 64-bit OS). You can try setting "C_Cpp.formatting": "Disabled".

[2017-02-27 13:50] sylwa06 commented on #518
Hi Sean,
many thanks for your answer.

Yes I've installed the ms-vscode.cpptools as well.
Set "C_Cpp.formatting": "Disabled" doesn't help.
I've just filed an issue to xaver.clang-format.
I'll let you know if I get some answer from there.

All the best

[2017-02-27 19:12] #465 closed, assigned to nobody

[2017-02-27 19:14] #458 closed, assigned to nobody

[2017-02-27 19:18] bobbrow commented on #400
This should be fixed in the current version of the extension: 0.10.1.  Please reopen if you are still having issues with the parameter hints.  Thank you!

[2017-02-27 19:18] #400 closed, assigned to nobody

[2017-02-27 19:26] bobbrow commented on #358
The database should be in your %appdata% folder by default now.  If not, you can set a specific path by editing the c_cpp_properties.json file (use the "C/Cpp: Edit Configurations" command if you don't have this file yet).

Please reopen if this doesn't work for you.

[2017-02-27 19:26] #358 closed, assigned to nobody

[2017-02-27 20:25] bobbrow commented on #312
We fixed this in the atom/language-c grammar and are waiting for VS Code to pick it up.
see: https://github.com/atom/language-c/issues/154
also: #460

[2017-02-27 20:25] #312 closed, assigned to nobody

[2017-02-27 20:32] bobbrow commented on #132
This has been fixed.  Please reopen if you continue to see this issue.

[2017-02-27 20:32] #132 closed, assigned to nobody

[2017-02-27 20:34] #36 closed, assigned to jgoshi

[2017-02-27 20:38] bobbrow commented on #433
Please reopen if Sean's answer didn't resolve your issue for you.  Thanks!

[2017-02-27 20:38] #433 closed, assigned to nobody

[2017-02-27 20:41] bobbrow commented on #401
Please reopen if you are still experiencing an issue with the limitSymbolsToIncludedHeaders setting.  We are not seeing any problems on our side.  (You may need to delete your old browse database if it has already been populated with symbols you don't want)

Thanks!

[2017-02-27 20:41] #401 closed, assigned to nobody

[2017-02-27 20:52] chaneyw commented on #121
I think I am experiencing this same bug but the above comments about enabling logging no longer seem to apply (the .json file has changed format, editing the "variables" line for the .dll instead causes VS Code to want to reinstall the extension which deletes any change made)

I am getting a popup console that says "warning gdb failed to set controlling terminal operation not permitted" and a debu

[2017-02-27 21:20] chaneyw commented on #121
It seems to be crashing on gflags::ParseCommandLineFlags().
Programs not using gflags are functioning.
Breakpoint in main() before ParseCommandLineFlags and it will run up to this point.

[2017-02-28 10:16] sylwa06 commented on #518
Hi Sean,
The problem comes from the outdated version of LLVM library installed on my scientific linux.
Thanks for your help.
With best regards
Sylvain

[2017-02-28 10:43] vishalmehta1991 opened #519 "Auto indentation for template object of object"
**std::vector< std::vector<int> > var**

Auto indentation by cntrl+shift+I cause std::vector<std::vector<int>> var, causing compilation failure with regards to operator >>, a space has to be maintained in templated object declaration.

- VSCode Version: Code 1.9.1 (f9d0c687ff2ea7aabd85fb9a43129117c0ecf519, 2017-02-08T23:44:55.542Z)
- OS Version: Linux x64 4.4.0-64-generic
- Extensions:

|Extension

[2017-02-28 13:08] #518 closed, assigned to nobody

[2017-02-28 13:08] #519 closed, assigned to nobody

[2017-02-28 16:54] zgoda commented on #415
I found that by installing this extension I created symbol databases in all my workspaces in `$HOME/.config/Code/User/workspaceStorage`. Closed VSC, manually removed all these files and they did not get recreated. Indeed, strange behaviour.

[2017-02-28 18:23] sean-mcmanus commented on #415
@zgoda The .browse.vc.db files should get recreated when you re-open the folder, but if you change the databaseFilename then they'll get created at that location instead. Do things like Go To Definition work for you?

[2017-03-01 08:40] zgoda commented on #415
@sean-mcmanus none of features provided by the plugin and related to symbols work (go to definition, arguments list in tooltip, docstrings, etc.). If I hover over symbol I get only "loading...", the "red flame" stays forever, includes are not resolved.

[2017-03-01 09:55] zgoda commented on #415
I changed database location so now relevant bits of plugin configuration:

[code]

After couple of VSC restart and database delete cycles symbol collection process finally finished and symbol-related features started working.

[2017-03-01 12:59] sean-mcmanus commented on #415
Yeah, it sounds like something was preventing the browse database from being created, most likely a lingering or crashing Microsoft.VSCode.Cpp.Extension.linux process. We do not have a good repro yet, but are working to improve the reliability.

[2017-03-01 18:34] masaeedu commented on #454
@sean-mcmanus Is the port of the C++ intellisense experience from Visual Studio going to be done in this repo, or factored out as an external component/language service?

[2017-03-01 18:50] masaeedu commented on #21
@delmyers I'm most interested in the language service that provides (or will provide) Intellisense for C++. For the current fuzzy intellisense experience, how are you obtaining the symbols throughout the codebase? Is this something that can be open sourced? Is it e.g. based on Clang, or some proprietary analysis engine for C/C++ code?

[2017-03-01 20:48] sean-mcmanus commented on #454
The C++ IntelliSense work is closed source so there's not really a "repro". We mostly just use GitHub for the forum and documentation.

[2017-03-01 20:51] sean-mcmanus commented on #21
Our browse database and the IntelliSense engines are closed source and not based on clang. It can't be open sourced due to non-open sourced license dependencies.

[2017-03-01 21:10] masaeedu commented on #21
@sean-mcmanus Fair enough, thanks for the info. I think it might still be very useful if you could introduce a clean boundary between the language service itself and whatever proprietary tools you're using to supply analysis data. That way you get open source contribution to the language service, and the community gets the ability to build an analysis engine on top of Clang/GCC guided by the langu

[2017-03-01 23:17] Valmadson opened #520 "Debugger aborted Linux"
Hi,
Debugging my app started window show message "HelloWorld" and abort immediately, don't stop in breakpoint.

Any suggestions to solve the problem ?

===============
Information
===============

I just downloaded the version 1.9 of Visual Studio Code.

Install Extensioins : C/C++ Microsoft Extension, C/C++ CLang, CMake, CMake Tools, Native Debug, LLDB Debugger.

tasks.json
=========
{
    "versi

[2017-03-01 23:34] pieandcakes commented on #511
@ApoorvaJ We use gdb's MI command structure. This is the block you need to add to your `launch.json` section:

[code]
Note: There is a bug in the current release version that crashes and makes it so that this doesn't work. I have fixed it (and referenced the [Pull Request](https://github.com/Microsoft/MIEngine/pull/564)) and it will be in our `0.10.2` release.

[2017-03-02 00:14] gregg-miskelly opened #521 "launch.json template should switch from 'command.' to 'command:'"
In VS Code 1.10, the `${command.` was deprecated, and gives a warning to switch to `${command:`. But the C++ template still use the '.' version.

[2017-03-02 00:40] pieandcakes commented on #513
@Shanz88 please try and locate your `launch.json` file. If you switch to the `Debug` view, when you hit the gear, it should open the `launch.json` file which will launch the debugger against your application. You will need to create a `task.json` to compile your code OR manually compile it from the command line.

[2017-03-02 00:41] pieandcakes commented on #511
@ApoorvaJ `0.10.2` is live. Closing this issue because it is resolved.

[2017-03-02 00:41] #511 closed, assigned to pieandcakes

[2017-03-02 00:49] chaopeng commented on #492
In 0.10.2, `"C_Cpp.addWorkspaceRootToIncludePath": false` works for me. Thank you.

[2017-03-02 00:50] bobbrow commented on #492
great to hear!

[2017-03-02 00:50] #492 closed, assigned to nobody

[2017-03-02 00:51] bobbrow commented on #508
This should be fixed in 0.10.2.  Please reopen if you continue to see the issue.

[2017-03-02 00:51] #508 closed, assigned to nobody

[2017-03-02 00:51] bobbrow commented on #497
This should be fixed in 0.10.2.  Please reopen if you continue to see the issue.

[2017-03-02 00:51] #497 closed, assigned to nobody

[2017-03-02 00:52] bobbrow commented on #485
This should be fixed in 0.10.2.  Please reopen if you continue to see the issue.

[2017-03-02 00:52] #485 closed, assigned to nobody

[2017-03-02 00:54] bobbrow commented on #475
A new setting was added in 0.10.2 that allows you to disable the automatic recursive parsing of the `${workspaceRoot}`.  Let us know if that resolves your issue.

[2017-03-02 00:54] #475 closed, assigned to nobody

[2017-03-02 00:56] bobbrow commented on #374
A new setting was added in 0.10.2 that will allow you to disable automatic recursive parsing of the `${workspaceRoot}` folder.

[2017-03-02 00:56] #374 closed, assigned to nobody

[2017-03-02 00:56] bobbrow commented on #231
This should be fixed in 0.10.2.  Please reopen if you continue to see the issue.

[2017-03-02 00:56] #231 closed, assigned to nobody

[2017-03-02 01:02] bobbrow commented on #445
You should be able to add `"files.associations": { "*.rc": "cpp" }` to your workspace settings.json to associate that file extension with the cpp language (goto: File->Preferences->Settings).

[2017-03-02 01:11] #425 closed, assigned to nobody

[2017-03-02 01:59] boozook opened #522 "[C++ on Mac] strange things in completion"
VSCode: `1.10.0`
cpptools: `0.10.2`

At top of any completion list for any thing in any place (C++ / __Objective-C__) I see "`Pattern`" with various icons and hints (at right side of list).

It starts after VSC was updated from `1.9.1` to `1.10.0` (latest stable).

![screen shot 2017-03-02 at 04 35 34](https://cloud.githubusercontent.com/assets/888526/23489690/e95d47d0-ff04-11e6-8ec1-229e6ebfef8c.

[2017-03-02 02:10] boozook commented on #522
Wrong repo, sorry.

[2017-03-02 02:10] #522 closed, assigned to nobody

[2017-03-02 03:13] sean-mcmanus commented on #445
But it would interpret the .rc file as C++ file, so I'm not sure if the result will be good enough.

[2017-03-02 08:59] pieandcakes commented on #476
@sov1178 this fix is in version `0.10.2` Released today

[2017-03-02 08:59] #476 closed, assigned to pieandcakes

[2017-03-02 09:00] pieandcakes commented on #450
@randombenj core dump threads should be fixed in `0.10.2`

[2017-03-02 09:01] pieandcakes commented on #450
@kiransj2 this issue should be fixed in `0.10.2`

[2017-03-02 09:01] #450 closed, assigned to pieandcakes

[2017-03-02 09:03] pieandcakes commented on #442
@janjongboom this change is in our `0.10.2` release.

[2017-03-02 09:03] #442 closed, assigned to pieandcakes

[2017-03-02 11:03] vscpp opened #523 "Can not auto show data structure member when coding"
For a data structure:
typedef struct {
  UINT16 Address;
  UINT8  Data;
} DATA_STRUCTURE;

DATA_STRUCTURE DataStructure;

when I type DataSturcture.   , it should show Address or Data, I can select one like other editor. but nothing showing.
I set ""C_Cpp.autocomplete": "Disabled",", if set to "Default", many rubbish data.
I suppose C/C++ extension for VS code should focus on editor experience. VS

[2017-03-02 11:07] janjongboom commented on #442
\o/

[2017-03-02 11:11] vscpp opened #524 ""Go to Definition" unavailable in a function"
For a function:
void Foo (int Data)
{
  Data = 1;     -> Here, select "Data" and right click "Go to Definition", report: No Definition found "Data"
}

C/C++ extension: 0.10.2

[2017-03-02 11:43] Gruntfuggly opened #525 "Stops working after a short while"
After a short while (20 minutes of development?), something seems to break. I can no longer format the document or visit declarations, etc.

There is nothing specific I can see in the console, except for:

//usr/share/code/resources/app/out/vs/workbench/electron-browser/workbench.main.js:142 Connection is closed.e.onUnexpectedError @ //usr/share/code/resources/app/out/vs/workbench/electron-browser

[2017-03-02 11:43] Gruntfuggly commented on #525
This is with the latest version: 0.10.2

[2017-03-02 12:56] sean-mcmanus commented on #524
Known issue. Local variable symbols won't be available until we switch to the IntelliSense engine.

[2017-03-02 12:56] #524 closed, assigned to nobody

[2017-03-02 13:05] sean-mcmanus commented on #525
There are multiple instability issues we are working on fixing for the next release (that also reproed in earlier versions, not new to 0.10.2), but I'm not sure if this is one of them. Is the Microsoft.VSCode.Cpp.Extension process using CPU? It sounds like either the process or the main thread has crashed.

[2017-03-02 13:47] sean-mcmanus commented on #523
Address and Data are supposed to be found by autocomplete. There's a bug that randomly causes it to not work. We're working on a fix.

[2017-03-02 13:53] Gruntfuggly commented on #525
Not seeing any CPU usage. Here are some more errors from the console, though:

8x //usr/share/code/resources/app/out/vs/workbench/electron-browser/workbench.main.js:142 Cannot read property 'document' of undefined: TypeError: Cannot read property 'document' of undefined
    at /home/nscott/.vscode/extensions/ms-vscode.cpptools-0.10.2/out/src/LanguageServer/C_Cpp.js:101:76
    at e.invoke (/usr/sha

[2017-03-02 14:03] sean-mcmanus commented on #525
We have a repro with an internal project, but it doesn't repro with other projects, assuming it's the same bug in which parsing a particular file causes the failure. Using a different/smaller workspace that doesn't have the bad file or adding a files.exclude might be a workaround, but I don't have a good way yet to tell which file is causing the problem (without using a debugger). Our parsing exec

[2017-03-02 15:37] yamcenutzer commented on #463
not fixed in 1.10.1 February 2017 update

[2017-03-02 15:52] sean-mcmanus commented on #463
Yes, it hasn't been fixed yet, but it's high on our list, after a bunch of general stability issues. Also, 1.10.1 is the VS Code version and is unrelated to the C++ extension version (0.10.2).

[2017-03-02 18:06] yamcenutzer commented on #463
Glad to hear that its 'high' on the todo list, even though everyone agrees that cyclical symlinks are bad, nevertheless the same 'everyone' tends to have them in deep legacy linux trees.
And, there seems no chance whatsoever I can get rid of that legacy build system anytime soon :-(

Also, yes, I meant vscode 1.10.1 with 0.10.2 extension version.... Did both updates today

Thx for the update

[2017-03-02 18:08] sean-mcmanus commented on #463
Yes, both updated around the same time yesterday (coincidence).

[2017-03-02 20:06] pieandcakes commented on #520
@Valmadson Your `task.json` shows you compiling with output as ${file}.o but your executable you are debugging is: ePath='/home/valmadson/prg/python/projetos/vscode/primeiro' Are you sure you are debugging the same output that you are compiling?

[2017-03-02 20:47] hth313 commented on #206
A register display would be very useful in situations like this, having it update as you step around.

[2017-03-02 21:22] pieandcakes commented on #521
Fixed. Will be included in a build after `0.10.2`

[2017-03-02 21:22] #521 closed, assigned to pieandcakes

[2017-03-02 21:50] zhelnio opened #526 "Current execution row is not highlighting in debug mode after last update"
problem screen:
It is stopping on breakpoint at line 73, but this line is not highlighted
![2017-03-03_00-44-47](https://cloud.githubusercontent.com/assets/6334288/23528476/16c1905e-ffab-11e6-951f-9d0e6f644e95.png)
version info:
![2017-03-03_00-46-20](https://cloud.githubusercontent.com/assets/6334288/23528479/186134e6-ffab-11e6-8ed2-54e83fd13bfd.png)

[2017-03-02 22:15] Izikiel commented on #206
If I'm not mistaken, since it's been a couple of years since I used it, the sublime gdb plugin for sublime text 2 supported asm debugging, showing registers and everything (https://github.com/quarnster/SublimeGDB).  Probably there is a way for it to be done on vs code

[2017-03-02 23:27] Valmadson commented on #520
Yes pieandcakes, I sure.

Maybe because it's 32-bits ?

primeiro.cpp
#include < iostream >

using namespace std;

int main() {
    string message = "Hello World \n";
    cout << message << endl;
    return 0;
}

[2017-03-02 23:37] pieandcakes commented on #520
That shouldn't matter. Can you clear your log and try once and send it to me? I don't know where in your log it starts or ends. Also, it seems you have a breakpoint in a testcurso.py file that is also being sent to our debugger.

Can you also change `"stopAtEntry": true` and see if it stops when you enter main?

[2017-03-03 00:22] guoqingaa commented on #399
Another year has passed, do not support this feature, to mention the depressed.
Add support for doc comments, the urgent need for this feature.
[code]

[2017-03-03 00:30] Valmadson commented on #520
I clear my log with "Clear Console"

I removed breakpoint from the testcurso.py, that was inside the folder.

Change "stopAtEntry": true

Debugging >>> Show in top VSCode this message above

[Error]  Unable to open 'Unknown Source': File not found (/Unknown Source).  [Create File] [Cancel]
Press [Cancel] show other error and pres (Step Over F10) to continue

[Error]  Unable to open 'libc-start.c':

[2017-03-03 00:48] pieandcakes commented on #520
@Valmadson This looks like you aren't compiling with `-g`. I setup an Ubuntu 16.04 32bit machine and tested this. If you run: `g++ -g primeiro.cpp -o primeiro` and then set a breakpoint or `stopAtEntry` it works. If you don't set the `-g` flag, then you get the errors you are seeing above.

[2017-03-03 00:51] pieandcakes commented on #526
@zhelnio Which OS is this on? I tried it on Ubuntu 14.04 with VSCode `1.10.1` the latest `0.10.2` extension and a C file and a breakpoint and I don't see this at all. Will need more information.

[2017-03-03 01:14] Valmadson commented on #520
In your case, show messages in top ?

      Unable to open 'Unknown Source': File not found (/Unknown Source).
      Unable to open 'libc-start.c': File not found (/build/glibc-tpy382/glibc-2.23/csu/libc-start.c).

What file are you waiting for?            File not found (/Unknown Source)

you have this file /libc-start.c in the folder?

[2017-03-03 01:17] pieandcakes commented on #520
No. I only get that error if I compile `g++ primeiro.cpp  -o primeiro`. To fix it and allow user breakpoints you have to compile with `-g`. You only get the `Unknown Source` and `libc-start.c` behavior if you forget to use `-g`

[2017-03-03 01:28] Valmadson commented on #520
You could show the tasks.json and launch.json ?

[2017-03-03 03:31] sean-mcmanus commented on #399
XML doc comments is expected to be supported once signatureHelp is implemented via the IntelliSense engine. The current implementation doesn't support doc comments.

[2017-03-03 03:39] guoqingaa commented on #399
Thank you for your reply, but c / c ++ function annotation style support is very necessary in the development of the input code and read the code a lot of help.
Xml style, such as C #
[code]
c/c++ style, such as:
[code]

[2017-03-03 07:27] zhelnio commented on #526
Windows 7 SP1 x64.
I'm using it for remote debug.
VSCode config: https://github.com/zhelnio/memos/tree/master/public/00_mips_ftdi_debug/src
It worked good about day or two ago, and its behavior changed after last update.

[2017-03-03 12:21] amigo421 opened #527 "no intellisense. please assist"
hi team.
vscode is up to date (latest), Win10/x64, c++/msvc2015 build tools.

I remember I was facing with the same issue a lot time ago , but don't remember how to solved this.
please remind:
no intellisense functionality for standard library , but build process is okay.
it just shows a tooltips with a symbols from current folder and subfolders only.
(CMakeTools is in use for the build)

just for

[2017-03-03 12:43] Valmadson commented on #526
in my notebook, too not highlighted in debug.

vscode 1.9
linux 32

[2017-03-03 13:11] sean-mcmanus commented on #399
The C/C++ comment should still be supported, but it would appear as just a raw block comment as it does today in Visual Studio 2017 (the XML comments are parsed and the comment for the active param is shown). If you want better support for non-XML comments, it would probably be better addressed via a Visual Studio feedback site, such as https://visualstudio.uservoice.com/forums/121579-visual-studi

[2017-03-03 13:24] sean-mcmanus commented on #527
Changing the c_cpp_properties.json setting limitSymbolsToIncludeHeaders to false will cause the files in the includePath to be parsed and symbols to be generated. Otherwise, it will only parse includePath files that have been #included by a C++ file under the ${workspaceRoot}. However, we have some random bugs we're currently fixing which may cause some files not to be parsed, if you think you're

[2017-03-03 13:28] amigo421 commented on #527
there is no file *.vc.db
how to generate this?
by the way, I didn't use c_cpp_properties.json (was no such file) but , okay, let me try to generate this

[2017-03-03 13:30] sean-mcmanus commented on #527
It should be under C:\Users\\<user\>\AppData\Roaming\Code\User\workspaceStorage . You can also give a new location with the databaseFilename setting (in c_cpp_properties.json). In some cases it might appear in the %tmp% directory.

[2017-03-03 13:36] amigo421 commented on #527
ah, I see, I previuosly thou that db file in .vscode like "large" VS keeps this in .vs subfolder.
and yes, cleaning up those folders (with db files) solved the problem.
thank you!

[2017-03-03 13:36] #527 closed, assigned to nobody

[2017-03-03 13:42] sean-mcmanus commented on #527
Yeah, we used to put the database in the workspace .vscode folder by default, but we changed it for some reason. And we're planning to fix problems that can cause the database to need to be deleted.

[2017-03-03 15:39] UR3IQO commented on #526
Windows 8 x64 and VSCode 1.10.1/cpptools 0.10.2 does not highlight current line too. It was ok before the last update. Unfortunately I have updated both VSCode and cpptools, so it is unclear whether this problem caused by VSCode update or cpptools update.

[2017-03-03 15:42] sean-mcmanus commented on #526
The bug repros for me too. Stepping will get the line to highlight but all further stepping doesn't work unless a breakpoint is hit.

[2017-03-03 18:05] pieandcakes commented on #520
Here are my files:
`primeiro.cpp`
[code]
`tasks.json`
[code]

`launch.json`
[code]

I've verified that i'm running our version of the extension `0.10.2` and VSCode version `1.10.1`

[2017-03-03 19:10] Valmadson commented on #520
Please, Could inform : distribution linux and version.

[2017-03-03 20:32] pieandcakes commented on #520
![image](https://cloud.githubusercontent.com/assets/17558378/23567960/6e6beab8-000d-11e7-8d6f-a91f61d85c72.png)

[2017-03-03 20:34] pieandcakes commented on #526
@sov1178 @zhelnio I'm wondering if you step back to VSCode 1.9 if that works? Or can either of you give me a good repro application since I can't seem to reproduce it.

@Valmadson 's issue is different and documented in #520
@sean-mcmanus is working on Windows with our Visual C++ debugger and is also a separate issue.

[2017-03-03 20:47] zhelnio commented on #526
@pieandcakes if I'll give you some access to my PC could it help to find the problem?

[2017-03-03 20:53] pieandcakes commented on #526
I would need to be able to debug it with debug bits. if you do a simple hello world project or a basic threading project does it reproduce for you?

[2017-03-03 20:59] zhelnio commented on #526
@pieandcakes Well....I have something like this: a small remote debug project for the MIPSfpga SoC. Send me some mail (my email is in my profile) and I'll give you the  join.me link or anydesk.com access

[2017-03-03 21:04] pieandcakes commented on #526
@zhelnio Sure. Let me send you some steps to get diagnostic logging first so I can try that before we try connecting to your machine.

[2017-03-03 21:06] zhelnio commented on #526
@pieandcakes Ok, I am ready

[2017-03-04 01:38] pieandcakes commented on #526
@zhelnio Thank you. I have submitted a fix: https://github.com/Microsoft/MIEngine/pull/565 for the issue I see with your log.

Once it is approved I will work on getting a build out to you to test.

@sov1178 If you can enable `"logging": { "engineLogging": true } in your `launch.json` and retry and send me the block that is sent in the `thread-info` call, I can confirm that it is the same issue th

[2017-03-04 01:47] Jackie-Yang opened #528 "[Feature Request] Support gdbserver debugging (miDebuggerServerAddress) when pipeTransport is used"
Our project is very huge, so we connect to our server using ssh, and use gdb on our server (our project is on our server too), now I can use gdb on my computer to debug, but it is to slow, can I use gdb on my server to debug?

[2017-03-04 05:58] UR3IQO commented on #526
@pieandcakes I have rollback the cpptools to 0.10.1 and problem disappeared. So I can confirm the problem is in cpptools extension.

I have enabled logging and found  `thread-info` call (it was called once during initialization):
[code]
Here is a piece of the log with the exchange on breakpoint hit:
[code]
P.S. it appeared I cannot copy the whole debugger output to the clipboard (only a small piec

[2017-03-04 07:11] veerajskhokale opened #529 "C++ syntax highlighting not working properly when constructor initializer list has multiple lines"
VSCode Version: Code 1.10.1 (653f873, 2017-03-02T00:47:58.633Z)
OS Version: Linux x64 4.4.0-64-generic
Extensions:
Extension	Author	Version
githistory	donjayamanne	0.1.5
vscode-clang	mitaki28	0.2.1
cpptools	ms-vscode	0.10.2
vscode-icons	robertohuertasm	7.3.0
Material-theme	zhuangtongfa	2.1.3
Steps to Reproduce:

Syntax highlighting for keywords like noexcept and delete is not working as shown in t

[2017-03-04 15:43] Burnett01 commented on #265
//Removed my previous comment as I figured how to use this thing. Jacdavis tutorial is what I use now. (Check above). However, would be nice if vscode could support gdbserver --multi option, as proposed in #78  Because that would allow us to have multiple vscode-editors connected to one gdbserver.

[2017-03-04 15:48] floooh opened #530 "[Windows][Visual C++] Debugger hangs after launch"
Hello,
I'm trying to integrate my own cmake build wrapper with the C/C++ extension (https://github.com/floooh/fips), this calls "cmake --build" to build executable targets (which on Windows calls the Visual Studio build system). I have the Visual Studio 2015 Community Edition installed which provides the compiler.

When trying to debug the executable targets which have been built like this, I get

[2017-03-04 15:54] floooh commented on #530
PS: I should also mention that executables are built into a separate output directory, outside of the usual Visual Studio or cmake build directories. So if the debug adapter tries to look for typical Visual Studio files (like .vcxproj or .sln) it will not find them if it starts walking up the directory hierarchy from the executables (I'm assuming here that you are trying to find out if the executa

[2017-03-05 00:16] devnoname120 commented on #127
Is there an update about this? It's rather annoying.

[2017-03-05 05:29] navidR opened #531 "Add support for CoreGuideLine Checker"
Both Microsoft and Clang (tidy) does provide infrastructure for CoreGuideLine checker. I estimate this is trivial amount of job to add *official* support to one of them to this extension.

https://github.com/Microsoft/GSL
https://www.nuget.org/packages/Microsoft.CppCoreCheck
http://clang.llvm.org/extra/clang-tidy/

[2017-03-05 15:58] amigo421 commented on #531
Agreed, static analysis is required.

[2017-03-05 16:02] amigo421 commented on #510
seems that is possible,
please look at the linked request in vscode repository,
the reply there refers to the API for the discussed feature

[2017-03-06 09:43] dvirsky opened #532 "Latest version crashes and messes up code"
(On Mac OS Sierra) Since upgrading to the latest version of VSCode an the plugin, I'm getting constant crashes of the language server on C projects. eventually VSCode tell me that since the server has crashed 5 times in 3 minutes it will not be restarted, and that's it.

While working looks like the formatting is putting garbage in files and messing up the code.

Is there any way to revert to the

[2017-03-06 09:53] dvirsky commented on #532
Looks like a collision with another extension. scratch that. sorry!

[2017-03-06 09:53] #532 closed, assigned to nobody

[2017-03-06 11:03] opensw commented on #491
@pieandcakes I have just gave another try to Visual Studio Code (last release with last cpptools) and I do not have anymore the above issue. Nice.

[2017-03-06 11:16] opensw opened #533 "make error catch (feature)"
Hello there, will be nice to have an error handler from output console; I mean, if I want to compile a file with gcc/g++ or make (from task.json) and during compilation there are some errors, will be great to (Ctrl +) click on the error showed on output console of Visual Studio Code and to be redirected to specified file at specified line number and column number (like in Eclipse).

The syntax err

[2017-03-06 14:30] sean-mcmanus commented on #529
This is a bug with atom/language-c, which is used to implement all the C/C++ syntax highlighting in VS Code (the C++ extension doesn't implement any colorization). It seems like the root cause is the same as in https://github.com/atom/language-c/issues/101 .

[2017-03-06 16:52] bobbrow commented on #127
You can disable it by adding `"editor.autoClosingBrackets": false,` to your settings.json file, but we'll need to talk to the VS Code folks and figure out why this might be happening.  We don't get a callback for it and I don't reproduce this problem in TypeScript files, so it could possibly be an issue with the atom grammar for C++.

[2017-03-06 17:09] amigo421 opened #534 "includePath setting on Win platform"
please add pre-set the paths to known include folders, VC+WinSDK.
I see you added to VC include folder (by the way, I have an installed VC 14 and 15, but only 14 was added into the paths),
but didn't do this for all (all means shared, um, ucrt, winrt)  folders from Windows Kits.
I believe you know this better than me how to detect the installations of WinSDKs.
I suppose this can be determined from

[2017-03-06 17:59] sean-mcmanus commented on #534
Yeah, it's been on our TODO list for a long time. We don't have an ETA yet.

[2017-03-06 19:09] bobbrow commented on #534
@amigo421, how would you like for this to work?  Hard-coding specific paths into the extension doesn't always result in the behavior everyone expects (as you've noted above) and requires us to update the extension whenever new SDK versions are released.  Since both the VC and Windows SDKs update periodically and developers don't always want to target the latest SDK (perhaps they have a preview SDK

[2017-03-06 19:26] amigo421 commented on #534
thank you for the detailed reply.
first of all, when I was talking about includePath , I kept in the mind a navigation (throu the sources) only, not a build process itself.
your extension (or vscode itself) doesn't support  c++ build systems like cmake/qmake/msbuild natively. so I suppose that a selection of the kit should be a responsibility of the build system setting.

you can see how cmake-too

[2017-03-06 19:42] pieandcakes commented on #526
@sov1178 Thanks for the update.

You have the same issue that @zhelnio was having above where we have a bug when the `target-id` inside the `-thread-info` call is returning text that does not contain an actual Thread ID.

I have a pull request out for the fix:
https://github.com/Microsoft/MIEngine/pull/565

I am hoping to release a small bugfix update this week to resolve this but I need to coordi

[2017-03-06 19:44] pieandcakes commented on #533
@opensw `task.json` parsing and handling is done by VSCode and not by our extension. As such, I don't know of a way we can do what you are suggesting. I would suggest you go to https://github.com/Microsoft/vscode/issues and file an issue with them.

Thanks

[2017-03-06 19:48] pieandcakes commented on #530
@floooh the debug adapter is expecting the code files to be in the same space as listed in the `.pdb` files. If you enable `"logging": { "engineLogging": true } do you see that it is running? Also, is the pause button enabled in the debug toolbar at the top?

[2017-03-06 19:49] pieandcakes commented on #528
@Jackie-Yang please see https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/PipeTransport.md

[2017-03-06 19:50] pieandcakes commented on #520
@Valmadson have you been able to get it working?

[2017-03-06 19:59] opensw commented on #533
Done :)

[2017-03-06 20:06] pieandcakes commented on #533
Thanks. I'm going to close this issue then.

[2017-03-06 20:06] #533 closed, assigned to nobody

[2017-03-06 20:45] floooh commented on #530
Thanks for the reply. I can open and debug the executable in standard Visual Studio, so I think the PDB contains the right paths to the sources.

Enabling logging doesn't seem to help (see screenshot). The pause button is enabled, but pressing it, or the restart button doesn't do anything. Pressing the red stop button makes the debug button overlay disappear, but other then that nothing else of in

[2017-03-06 20:51] pieandcakes commented on #530
@floooh Sorry. I gave you the wrong tag for logging. It should be  `"logging": { "trace": true }`.

Its interesting that its just sitting there and not pausing. I'd be interested to see what the log shows.

The warning is for licensing to state the Visual C++ debugger can only be used with the supported products.

[2017-03-06 21:05] floooh commented on #530
This is the output I'm seeing with tracing on:

[code]
...that's all, nothing coming after that setExceptionBreakpoints.

And I managed to debug a separate standard Hello World program (Win32 Console Application) compiled in Visual Studio 2015, the first few lines logging lines look slightly different (there's no setExceptionBreakpoint cmd as far as I can see):

[code]

...but since I have now a w

[2017-03-06 21:09] pieandcakes commented on #530
You may be running into: https://github.com/Microsoft/vscode-cpptools/issues/484 if you have accidently compiled against a version of Visual Studio 2017.

[2017-03-06 21:19] mysterytony opened #535 "c_cpp_properties.json not giving correct c++ library path under windows"
- VSCode Version: 1.10.1
- OS Version: windows 10
I have Visual Studio 2017 Community RC version installed.

Steps to Reproduce:
1. create a `.cpp` file, write a `#include` statement, for example, `#include <iostream>`
2. hover the mouse on the yellow lightbulb and generate `c_cpp_properties.json`
3. the `includePath` property is not correct in my case. The default is `C:/Program Files (x86)/Micro

[2017-03-06 21:36] bobbrow commented on #535
Yes, this value is currently hardcoded.  We are tracking this in #534 if you want to add any additional input.

[2017-03-06 21:36] #535 closed, assigned to nobody

[2017-03-06 21:58] floooh commented on #530
Further investigation: I'm definitely compiling against VS2015 (Community Edition). But the VSCode debugger seems to depend on the path where VSCode is started.

I have the following directory structure (it's a cmake out-of-source build, with another separate directory for the executables):

[code]

When I'm starting VSCode from inside project, debugging hangs, but when I start VSCode from the dir

[2017-03-06 22:01] pieandcakes commented on #530
Ok thanks! Please let me know what you find. I'm wondering if the source in the PDB is more relative. I know VSCode has a notion of `${workspaceRoot}` which is the folder which is opened in VSCode but I don't see anything in your `launch.json` that points to that.

[2017-03-06 23:24] Valmadson commented on #520
thanks for your attention.

I update VSCode to 1.09 to 1.10

my launch.json
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "C++ Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceRoot}/main",
            "args": [],
            "stopAtEntry": false,
            "cwd": "${workspaceRoot}",
            "environme

[2017-03-07 00:51] pieandcakes commented on #520
This tells me you have a problem with g++ on your machine. If you can open a Terminal window and manually compile by using `g++ -g main.cpp -o main.o` does it work? Also `-o main.o` tells me that you are compiling the output as `main.o` and you are expecting `main` which are not the same as you are missing the file extension `.o`.

The `-o` isn't for it to create an object file, but to set the out

[2017-03-07 01:32] Valmadson commented on #520
[image: Imagem inline 1]
I will go read the VS Code documentation
<https://code.visualstudio.com/Docs/editor/tasks>

[2017-03-07 01:40] pieandcakes commented on #520
Your image didn't come through.

[2017-03-07 11:39] floooh commented on #530
Minor new piece of information: on my Windows7/VS2015-Professional-box at work everything works out of the box. My home config where the problem happens is Win10/VS2015-Community-Edition. Investigation intensifies...

[2017-03-07 13:30] Valmadson commented on #520
[image: Imagem inline 1]
​and now thats ok ?

[2017-03-07 16:20] freddiehaddad opened #536 "C_Cpp.clang_format_style not functioning correctly"
In my settings.json file for my project, I have set the following extension settings:

[code]

However, applying formatting with Ctrl+Shift+I doesn't honor these settings. It seems as if only the LLVM rule is applying, but not the tab/indentation properties.

[2017-03-07 19:08] pieandcakes commented on #520
Still no image. If you hit preview do you see it? I don't see anything. Might be a GitHub issue.

[2017-03-08 01:01] pieandcakes opened #537 "pipeTransport's cwd/program combination doesn't seem to work on windows"
Setting pipeTransport's cwd and then just specifying the program combination doesn't seem to work properly on Windows.

**Workaround**: Specify the full path in the pipeTransport's program field.

[2017-03-08 01:03] pieandcakes opened #538 "${command:pickRemoteProcess} doesn't seem to work when using Bash on Windows"
Its causing an unknown OS type error to come back.

[2017-03-08 07:34] jduo opened #539 "Debugger switches threads too frequently"
I have a Node.js application which loads a C shared object. If I put breakpoints in the shared object, the debugger can trigger the breakpoint on any thread. But every time I step, it switches back to thread 1, making it very difficult to follow through the workflow.

Using lldb directly does not do this.

[2017-03-08 10:23] ghost opened #540 "`Connection is closed` after 5 or 6 minutes"
after the latest update the extension close automatically after like 5 or 6 minutes, i then have to reload vscode to get it to work again here is the log
[log.txt](https://github.com/Microsoft/vscode-cpptools/files/827290/log.txt)

[2017-03-08 13:46] sean-mcmanus commented on #540
The log shows you're editing/saving on Linux and then our extension process dies. If you just open a workspace and don't do other actions and let the Microsoft.VSCode.CPP.Extension.linux process run, does it fail still? What does the memory/CPU usage of the process look like before/after it stops working? If you could narrow down the actions you do to the smallest possible set that would help find

[2017-03-08 14:53] Jackie-Yang commented on #528
@pieandcakes Wow, it's very useful! But it seems that "miDebuggerServerAddress" can not use after I set the PipeTranspor??? Is that I can't use them at the same time?
Before I set the PipeTranspor
![before](https://cloud.githubusercontent.com/assets/18381153/23708688/c3fe0c02-0451-11e7-83b2-4c4a740ea8b4.PNG)
After I set the PipeTranspor
![after](https://cloud.githubusercontent.com/assets/18381153/

[2017-03-08 15:03] sean-mcmanus commented on #540
I hit a repro with 0.10.2, but I'm not sure if it's the same as yours. The CPU usage went to 0%, the Linux config got stuck red, and it was during the parsing phase (missing #include says "Include not found"). This indicates a failure occurred while parsing and the main thread is not responding. The good news is the bug is fixed with 0.10.3 (out today). So if the bug still repros, then you're hitt

[2017-03-08 15:49] sean-mcmanus commented on #510
Ok, but showing inactive regions will have to wait till after we add the IntelliSense engine (which processes #define/#ifdef).

[2017-03-08 18:05] amigo421 commented on #510
thank you!

[2017-03-08 21:39] bobbrow commented on #482
Please reopen if you are still having a problem with this on the latest version of the extension.

[2017-03-08 21:39] #482 closed, assigned to nobody

[2017-03-08 21:50] bobbrow commented on #498
Closing this issue as it appears to be resolved.

[2017-03-08 21:50] #498 closed, assigned to nobody

[2017-03-08 22:51] pieandcakes commented on #539
@jduo Can you give me an example app and a set of steps to repro this? Also please let me know which OS Version you are running into this on?

[2017-03-08 22:53] bobbrow commented on #306
I'm not sure if this is still an issue for you, but I just linked to an issue I created for VS Code related to this.  [VS Code also has a setting](https://code.visualstudio.com/docs/editor/extension-gallery#_auto-update-extensions) to automatically update extensions (if that is an option)

[2017-03-08 22:53] pieandcakes commented on #528
@Jackie-Yang Why would you ssh to a remote gdb and then connect to a gdbserver instead of just using ssh to connect to the final instance of gdb? This isn't a scenario that is currently supported but if you can explain why you want it, we can add it to the backlog.

[2017-03-08 23:17] Jackie-Yang commented on #528
@pieandcakes My program is running on ARM ,and my code(almost 20G) is on server, so I need to debug my program by using gdbserver, I used to mount server to my PC, then use gdbserver to debug ARM program, but it is slower than using gdbserve on server, so I want to use pipetranspor to connect server, and debug ARM program by using gdbserver.

[2017-03-08 23:22] Jackie-Yang commented on #528
@pieandcakes Did I make it clear ?

[2017-03-08 23:45] bobbrow commented on #149
This is not something that we plan to add to the C++ extension at this time.

[2017-03-08 23:45] #149 closed, assigned to nobody

[2017-03-09 00:02] bobbrow commented on #291
This should be fixed in the latest version of the extension.  Please reopen if you are still having issues.

[2017-03-09 00:02] #291 closed, assigned to nobody

[2017-03-09 00:08] Valmadson commented on #520
Pierson, update vscode to 1.10.2 and debug is fine.
​
Thanks for all.

[2017-03-09 00:17] pieandcakes commented on #520
Thanks for the update.

[2017-03-09 00:17] #520 closed, assigned to pieandcakes

[2017-03-09 03:17] sean-mcmanus commented on #539
This might be what I experienced when stepping with our extension process. The bug doesn't repro all the time though so I don't know if still have a repro.

[2017-03-09 03:52] amigo421 commented on #291
This works for me, thanks!

[2017-03-09 06:29] 1100101 opened #541 "C_Cpp.SwitchHeaderSource does not work anymore"
After opening a .cpp or .hpp file, switching to the respective other file via Alt+O does not work anymore.
Both files are located in the same folder, next to each other.
Source file extension: .cpp
Header file extension: .hpp

Pressing Ctrl+Shift+P and selecting "Switch header/source" does not work either.

- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:5

[2017-03-09 06:50] ghost commented on #540
almost every time this happened i get this warning first
`[Extension Host] rejected promise not handled within 1 second`
then this errors
[log.txt](https://github.com/Microsoft/vscode-cpptools/files/829990/log.txt)
and i get more then one `.browse.vc.db` the biggest is 16MB,
the extension was fully working right before the crash

[2017-03-09 11:22] dwilliamson commented on #430
I get this all the time, requiring a restart every 10-20 minutes. The project is very simple.

- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.10.2|;

---

Steps to Reproduce:

1. Load up folder of attached project.
2. Add/edit ne

[2017-03-09 12:00] josesimoes opened #542 "Show function documentation for C/C++ function with Intellisense"
Would like to know if Intellisense (auto-completion and hover) is supposed to show documentation for the specified function or variable. Similar to what Visual Studio shows.
If yes, what is the proper format of the comments to show that on VS Code Intellisense?
If not, please consider this as a suggestion for a future enhancement.

[2017-03-09 13:51] janjongboom commented on #475
That patch does not solve the problem described in this issue (it helps a bit though).

Let's say I have a directory structure like this:

[code]

I create my ``c_cpp_properties.json`` like this:

[code]

However, the includePaths are searched through recursively and thus `folder2` is still added to intellisense.

We need a setting to not search through includePaths recursively.

Related: #374.

/

[2017-03-09 15:23] janjongboom opened #543 "Passing linux escaped file paths on Windows to GDB is not possible"
I have a debug configuration that connects to a remote target and flashes a binary:

[code]

However... GDB expects the file passed in to have the backslash escaped. It's easy to do if you have control over the path, e.g.:

[code]

But I don't want users to have to configure this themselves.

Can we get:

* A special variable `escapedWorkspaceRoot` with escaped backslashes.
* Or I'm open to better

[2017-03-09 16:13] fpascutti commented on #530
I am also experiencing this issue: debugging hangs when run from the project directory but works from another directory.

I compared the [ProcessMonitor](https://technet.microsoft.com/en-US/sysinternals/processmonitor.aspx) logs focusing on `clrdbg.exe`.

I found out that for the freezing case, the last events are `CreateFile`, `QueryBasicInformation` and `CloseFile` on the debugged process. They

[2017-03-09 16:36] bobbrow commented on #475
You need to add a * to the end of the path if you don't want it to be recursive.

[code]

[2017-03-09 16:42] bobbrow commented on #542
We don't show documentation yet.  It is on our backlog and is tracked by #399
Thank you for the feedback.

[2017-03-09 16:42] #542 closed, assigned to nobody

[2017-03-09 16:49] josesimoes commented on #399
Adding my vote for this. It would be really awesome.

Question (if this is possible to answer at this time): is the format above (mentioned by @guoqingaa) the one that is going to be supported?

[2017-03-09 16:54] sean-mcmanus commented on #399
As I said in my previous post, all comments would be supported, but only the XML tags will be recognized specially, unless we decide to add additional parsing of the comments.

[2017-03-09 17:02] #303 closed, assigned to nobody

[2017-03-09 17:05] sean-mcmanus commented on #541
I'm not able to repro the bug. I suspect another extension is interfering by having another Alt+O command. You can also try right-clicking ad selecting the Switch Header/Source option. Can you repro the bug with the other extensions disabled?

[2017-03-09 17:17] bobbrow commented on #536
The fix will be released in a future update

[2017-03-09 19:20] ramya-rao-a opened #544 "preview to show multiple line but no \n kept as orginal code"
_From @andyysj on March 9, 2017 3:14_

- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-clang|mitaki28|0.2.2|
|cpptools|ms-vscode|0.10.2|
|vim|vscodevim|0.6.2|;

---

Steps to Reproduce:

1. Push mouse on one multiple lines function name, the pr

[2017-03-09 19:20] ramya-rao-a commented on #544
@andyysj Can you share a screenshot?

[2017-03-09 19:20] ramya-rao-a commented on #544
_From @andyysj on March 9, 2017 9:6_

Oh, I just found it is that Macro will not be previewed well if there are
multiple lines.

On Thu, Mar 9, 2017 at 2:50 PM, Ramya Rao <notifications@github.com> wrote:

[2017-03-09 19:20] ramya-rao-a commented on #544
So the issue is that while hovering on a function name whose declaration spans multiple lines, the preview does not have `\n` ?
And this is in a cpp file?

[2017-03-09 19:20] ramya-rao-a commented on #544
_From @sean-mcmanus on March 9, 2017 18:55_

It sounds like an issue with our cpptools extension on "hover". The macro definition is shown without new lines in the hover tooltip. The behavior is "by design" and matches Visual Studio behavior. You can report issues with the C++ extension at https://github.com/Microsoft/vscode-cpptools/issues .

[2017-03-09 19:21] ramya-rao-a opened #545 "include file not found in include path"
_From @Eraldoosantos on March 9, 2017 16:45_

- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.10.2|;

---

Hello, I've had some problems when I was programming in C language. So, everytime when I put the headers (includes) appeare

[2017-03-09 19:21] ramya-rao-a commented on #545
_From @sean-mcmanus on March 9, 2017 18:41_

The location for C++ extension issues is: https://github.com/Microsoft/vscode-cpptools/issues .

You should click the yellow lightbulb to add your include path to the includePath setting in c_cpp_properties.json.

[2017-03-09 19:27] eraldooneto commented on #545
Sorry, @ramya-rao-a! I don't understanding you.  When I click in the yellow lightbulb nothing happen, I do not know which folder I should open first. Could you tell me step by step? I'm so frustrated because of it. Thank you!

![image](https://cloud.githubusercontent.com/assets/18681091/23766790/f511af7c-04e4-11e7-8a1e-f975eb1522bc.png)

[2017-03-09 20:02] pieandcakes commented on #543
@janjongboom The piece where this would be implemented is https://github.com/Microsoft/MIEngine which is opensource and if you would like you can contribute to. Otherwise, I can add it to the backlog.

[2017-03-09 20:07] pieandcakes commented on #543
@janjongboom also, if you use `"pipeTransport"` and ssh directly to the device, we don't change any of the path formats to Windows. Does that scenario work for you?

[2017-03-09 20:38] bobbrow commented on #545
The extension expects you to open a folder in your file system first - click the file icon in the upper left corner - before you can set include paths (it needs to know where to save the c_cpp_properties.json file).  It looks like you just opened a single file in the editor.

[2017-03-09 20:42] bobbrow commented on #545
Adding a screen shot:
![545](https://cloud.githubusercontent.com/assets/12818240/23769911/d87c62d6-04c5-11e7-8cae-2ffe222459ba.png)

[2017-03-09 20:44] sean-mcmanus commented on #544
Yeah, showing the newlines in the hover would be better.

[2017-03-09 20:51] sean-mcmanus commented on #540
Can you try 0.10.3 and see if it still repros?

[2017-03-09 20:52] sean-mcmanus commented on #525
Does this still repro with 0.10.3?

[2017-03-09 20:55] sean-mcmanus commented on #178
The fire icon means where scanning/parsing the workspace and includePaths, until that is finished some definitions may not be found. Can you try 0.10.3? We fixed a number of issues.

[2017-03-09 20:56] sean-mcmanus commented on #430
I wasn't able to repro your issue. Can you try 0.10.3 to see if it's fixed? If you could narrow down the repro requirements that would help a lot.

[2017-03-09 20:56] bobbrow commented on #75
package.json is not the correct location for this.  Have you tried manually adding an association to files.associations in your settings.json file? (File -> Preferences -> Settings)

[code]
We can't override the default file set that maps to "c" and "cpp" languageIds in our extension, so if these extensions are already mapped by VSCode, it might not work.  VSCode owns the mapping of file extension

[2017-03-09 21:22] eraldooneto commented on #545
![image](https://cloud.githubusercontent.com/assets/18681091/23771314/4bab93ec-04f5-11e7-8003-f7f740e35cdb.png)

@bobbrow

[2017-03-09 21:23] eraldooneto commented on #545
@bobbrow , What I have to do now?

[2017-03-09 21:28] bobbrow commented on #545
Add the path to your Windows SDK installation in the Win32 configuration's `includePath` (I'm assuming the latest in the example below):
[code]

[2017-03-09 22:18] eraldooneto commented on #545
Thank you, Mr. @bobbrow !

[2017-03-09 22:43] dwilliamson commented on #430
That would be difficult, I'm just coding without thought so anything can happen in those 10 minutes.

Are there no crash dumps or stack traces I can give you? It's a shame this is not open-source as I'd be more than happy to dig into it.

I will update to the latest version tomorrow morning and see what happens.

[2017-03-09 22:58] sean-mcmanus commented on #408
Can you try 0.10.3? It should be fixed now.

[2017-03-09 22:58] #408 closed, assigned to nobody

[2017-03-09 22:59] sean-mcmanus commented on #406
I fixed this a while ago.

[2017-03-09 22:59] #406 closed, assigned to nobody

[2017-03-09 23:00] bobbrow commented on #391
Are you still having this issue?  If the symbol is defined in multiple locations, the peek definition view opens up to help disambiguate.

[2017-03-09 23:04] sean-mcmanus commented on #391
Yeah, this is by design. I'm closing it. It doesn't repro if there's only 1 definition found.

[2017-03-09 23:04] #391 closed, assigned to nobody

[2017-03-09 23:15] bobbrow commented on #383
Does your code file have all those blank #includes?  Can you share a small repro file with us to help investigate?

[2017-03-09 23:44] #545 closed, assigned to nobody

[2017-03-09 23:44] sean-mcmanus commented on #120
Yeah, Visual Studio has this (also code snippets, which is similar).

[2017-03-09 23:50] sean-mcmanus commented on #128
This bug doesn't seem to repro with 0.10.3.

[2017-03-09 23:50] #128 closed, assigned to nobody

[2017-03-09 23:58] sean-mcmanus commented on #381
Is anyone still having problems with headers not being found? 0.10.3 has bug fixes related to this.

[2017-03-10 00:02] sean-mcmanus commented on #366
This should be fixed now.

[2017-03-10 00:02] #366 closed, assigned to nobody

[2017-03-10 00:43] sean-mcmanus commented on #430
Okay. I need to know what symptom you're getting. Does the Event Viewer show that the Microsoft.VSCode.CPP.Extension.exe has crashed? Or is the process still alive but you see "Loading..." in the tooltip and nothing works? If the app is crashing you can get a user-mode dump via https://msdn.microsoft.com/en-us/library/windows/desktop/bb787181(v=vs.85).aspx . Do you get the crashed 5 times message?

[2017-03-10 00:43] wbogocki commented on #381
I can confirm that it's fixed for me. I'm unsure if it's because of the patch or something else but it randomly started working last month. Anyhow, thanks! :)

[2017-03-10 00:45] #381 closed, assigned to nobody

[2017-03-10 00:48] bobbrow commented on #421
We are tracking auto-completion with issue #13

[2017-03-10 00:48] #421 closed, assigned to nobody

[2017-03-10 00:53] bobbrow commented on #436
Are you still seeing this issue?  I cannot reproduce what you describe.  Please provide some more details, or let us know if the issue is fixed.

[2017-03-10 01:08] #437 closed, assigned to nobody

[2017-03-10 01:14] bobbrow commented on #418
This should be fixed in the latest version of the extension. 0.10.3

[2017-03-10 01:14] #418 closed, assigned to nobody

[2017-03-10 01:16] #415 closed, assigned to nobody

[2017-03-10 01:18] bobbrow commented on #130
This should be fixed now.

[2017-03-10 01:18] #130 closed, assigned to nobody

[2017-03-10 01:49] sean-mcmanus commented on #389
We have fixed a number of issues that could have lead to crashes. I tried the repro with 0.10.3 and #FName works with Unreal Engine 4.15.

[2017-03-10 01:49] #389 closed, assigned to nobody

[2017-03-10 08:10] janjongboom commented on #475
@bobbrow Great!

[2017-03-10 08:35] huhutm commented on #178
This issue still exist in version 0.10.3.

[2017-03-10 08:43] janjongboom opened #546 "Non-recursive includePath does not work"
According to #475 you can define includePaths to be non-recursive by adding `/*` at the end of the folder name. This does not work for me on VsCode 1.10.2 with C/C++ plugin 0.10.3.

My vscode configuration is here: https://gist.github.com/janjongboom/13e96a66b5b167597c70070b15c71696

And when I type `D5` in my editor it shows a symbol from a file which is not in this list...

![screen shot 2017-03

[2017-03-10 08:57] janjongboom opened #547 "Intellisense does not seem to be context-aware"
I'm wondering if I have some configuration set up wrong, but Intellisense with the C/C++ plugin seems to be context unaware and always show all symbols.

E.g. I have the following header file:

[code]

When I now start typing in my `main.cpp` (which references this header file), I get suggestions for all symbols (including the private function):

![screen shot 2017-03-10 at 09 56 34](https://cloud

[2017-03-10 09:08] fpascutti commented on #530
It seems that, if I let the debugger running (frozen), I eventually get an error message in Visual Studio Code:

[2017-03-10 09:22] janjongboom opened #548 "MIMode 'GDB' should respect 'cwd'"
I'm having trouble getting GDB to find my ELF file on Windows. I now realize why:

**LocalTransport.cs**

[code]

Why is `cwd` only respected with MIMode set to `Lldb`?? I want this for GDB as well. When I change my mode to lldb I can suddenly find my ELF file again (but cannot debug).

[2017-03-10 09:23] janjongboom commented on #543
@pieandcakes I found the underlying issue, see https://github.com/Microsoft/vscode-cpptools/issues/548.

Closing this.

[2017-03-10 09:23] #543 closed, assigned to nobody

[2017-03-10 09:28] janjongboom commented on #548
**Note:** This seems to be handled by:

**DebuggedProcess.cs**

[code]

But... this code is only executed when you don't have custom setup commands (which I do), but in there I do not have access to the escapedDir, thus running into the issue in #543.

[2017-03-10 09:45] kripod opened #549 "Add default include paths as a global configuration variable"
As of now, include paths can only be set for projects by using `.vscode/c_cpp_properties.json`. I think it would be nice to have a global - *overridable* - default for include paths to be checked *(e.g. `C:/MinGW`)*, alongside the project-specific paths.

Project-specific include paths should have higher precedence than global ones.

[2017-03-10 11:03] freddiehaddad commented on #536
Did your changes make it into the March 7 release (v0.10.3)?

I ask because one of the issues fixed according to https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools

now shows the following error for the value in my original post regarding `"C_Cpp.clang_format_style": "{ BasedOnStyle: LLVM, IndentWidth: 8, UseTab: Always, BreakBeforeBraces: Linux, AllowShortIfStatementsOnASingle

[2017-03-10 15:06] lygstate commented on #383
the qt header file does not have .h suffix， when vscode do auto complete， it's can not handling it properly

[2017-03-10 16:45] bobbrow commented on #546
Did you modify the includePath for a folder that was already open in VS Code?  We don't currently remove symbols for directories after they've already been parsed - even if you change the includePath.  You might need to delete the DB and have the extension rescan your folder using the new includePath.  Sorry for the annoyance.  We're working on making this better.

Based on your gist, it looks lik

[2017-03-10 16:57] bobbrow commented on #547
We don't have context aware auto-complete implemented in the extension yet.  We're tracking that with issue #13.  Seeing all of your symbols as you type is expected right now.  The `C_Cpp.autocomplete` setting in settings.json that allows you to disable our folder results and just use VS Code's local file parsing results, but that won't hide private methods either.

[2017-03-10 16:57] #547 closed, assigned to nobody

[2017-03-10 17:03] bobbrow commented on #549
#368 and #410 cover this scenario, albeit in slightly different ways.  We haven't decided what exactly we would like to do to enable this scenario at this point, but it's on our radar.

[2017-03-10 17:03] #549 closed, assigned to nobody

[2017-03-10 17:12] bobbrow commented on #536
No it was not in that release.  Yesterday's release went out mainly to address some issues with the debugger in 0.10.2, and the fix for this issue hadn't gone into the master branch yet when we built the release.

I saw the same warning as you in the json file while testing this.  You can safely ignore it.  If it is too much of an annoyance I can remove the validation for that field, but that woul

[2017-03-10 17:42] dwilliamson commented on #430
I added my comment here because I am seeing exactly what the issue text says:

![image](https://cloud.githubusercontent.com/assets/1532903/23806107/54a0abcc-05b8-11e7-84ef-719f47a28abd.png)

This is with 0.10.3. The executable is no longer in the process list, there is no "Loading..." and I am not aware of any memory/cpu problems at the time of the crash. At least, I'm a i7-6800 with 6 cores (setu

[2017-03-10 17:47] bobbrow commented on #430
On Windows, the browse DB should be under %appdata%/Code/User/workspaceStorage/{hash}/ms-vscode.cpptools/

Does it still crash for you if the duplicate files are all closed, or do you only get a crash after debugging?

[2017-03-10 17:49] dwilliamson commented on #430
Thanks.

I can't remove the duplicate files from the list of recently opened files but I can close them (i.e. they're still selectable).

There has been a debugging session but I've had it crash without debugging.

[2017-03-10 17:50] dwilliamson commented on #430
The largest DB file I have is 35MB.

[2017-03-10 17:57] dwilliamson commented on #430
Took about 5 minutes to crash that time. No crash dumps, unfortunately:

![image](https://cloud.githubusercontent.com/assets/1532903/23806761/e2911ee2-05ba-11e7-992f-3982f4fab793.png)

I've added `CustomDumpFlags` just in case it expects the key even though the dump type says not to use it.

[2017-03-10 17:59] dwilliamson commented on #430
Nope. That was a quick one!

[2017-03-10 18:00] bobbrow commented on #430
If you have a version of Visual Studio or windbg installed, you should be able to attach to the Microsoft.VSCode.CPP.Extension.exe process and save a dump when it crashes and breaks in to the debugger.

[2017-03-10 18:01] dwilliamson commented on #430
I'll try that next week, thanks for the help. I'm heading off work for the weekend.

[2017-03-10 18:28] pieandcakes commented on #548
@janjongboom Could you add `"-environment-cd"` to your `customLaunchSetupCommands`? We allow for custom setup commands to override our basic behavior, as per our [launch](https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md) file. If you want to get around it, use `"setupCommands"` instead of `"customLaunchSetupCommands"` to provide commands in addition to the ones we run.

[2017-03-10 18:29] pieandcakes commented on #538
No Repro. Seems to be a machine issue at the time.

[2017-03-10 18:29] #538 closed, assigned to nobody

[2017-03-10 18:30] pieandcakes commented on #528
@Jackie-Yang Yes. I'll mark it as an enhancement and add it to the backlog. Thanks

[2017-03-10 18:32] pieandcakes commented on #526
@zhelnio @sov1178 This is fixed in `0.10.3` release. Please update the extension and if it is still happening comment/reopen this issue please.

Thanks

[2017-03-10 18:32] #526 closed, assigned to pieandcakes

[2017-03-10 18:35] pieandcakes opened #550 "[Windows][Visual C++] Debugger shows wrong thread active when a breakpoint hits"
A few users reporting Visual C++ debugger is showing the wrong callstack/thread occasionally when a breakpoint is hit.

***Repro needed***

[2017-03-10 18:37] sean-mcmanus commented on #178
@huhutm Can you provide more repro info? I need to know what OS you're on. What is the size of the .browse.vc.db? What is the behavior of the Microsoft.VSCode.Cpp.Extension process before and after the failure? I assume you're getting the message "The C/Cpp Language Server server crashed 5 times"? What actions are being done before the crash? Does it crash without any actions? We have a parsing th

[2017-03-10 18:37] pieandcakes commented on #484
Since VS 2017 RTW has shipped, adding this for vNext

[2017-03-10 18:41] pieandcakes commented on #530
@fpascutti Can you enable `"logging": { "trace": true }` and send me your output? I'm interested to see if it isn't able to find the executable that you are trying to debug.

@floooh if you can send me the entire trace for a working and not working case, I'd appreciate it.

If either of you don't want to post it here, you can email me (email address is in my profile) and reference this issue.

[2017-03-10 18:51] pieandcakes commented on #334
Resolved this with @hth313 over email. The fixes are in place in `0.10.2`

[2017-03-10 18:51] #334 closed, assigned to pieandcakes

[2017-03-10 18:54] pieandcakes commented on #479
@sunqi1993 I think I need more of the log as I need the information returned about the stopping event from gdb. Can you enable `"logging": { "engineLogging": true }` and look for something that starts with `stopped` ?

We require `MI` command mode from gdb and for the second one, if you do the same logging as above and send it in I can see what we send and what your version of gdb is sending back.

[2017-03-10 18:59] sean-mcmanus commented on #546
Unfortunately, the "*" is not working on Linux/Mac -- it works on Windows. The bug should be easy to fix for the next release.

[2017-03-10 19:27] zhelnio commented on #526
@pieandcakes Perfect! It works good. Thank you!

[2017-03-10 19:44] dacap commented on #541
I'm suffering this same issue. In my case the language service crashes 3 times or 5 (I'm not sure) and a message popup at the top saying that the service wasn't going to be restarted again. Is there a way to restart the language service? Can I share some information that might be useful to you? (e.g. a crash log/memory dump?)

[2017-03-10 19:44] sean-mcmanus commented on #547
Without the IntelliSense engine, the context we have available is from the calling point (e.g. if there's a ::, ., or -> before or after) and the ability to filter out different categories of symbols, e.g. if there's a :: on the right the autocomplete will only show things like classes that are able to be scoped. Generally, the current implementation will include too much, and it would only be con

[2017-03-10 19:45] rtve opened #551 "Not all C++ keywords are color coded"
I have noticed that not all C++ keyword are color coded.  Keyword such as sizeof, static_cast, dynamic_cast, and reinterpret_cast are not color coded.

[2017-03-10 19:52] sean-mcmanus commented on #536
Yeah, I think we should remove the enum for this setting, since it can take arbitrary strings.

[2017-03-10 20:00] 1100101 commented on #541
I just installed Visual Studio Code (stable) on a different machine (Windows 10 this time).
The app was never installed on this PC before.
Installed just the C++ extension, created two files `MyClass.hpp` and `MyClass.cpp`.
Switching between them by pressing Alt+o does not work.
Right-clicking and selecting "Switch header/source" does nothing.

Is there any console or log where I might see a warni

[2017-03-10 20:09] bobbrow commented on #551
This is a vs code issue.  I moved it to their repository. https://github.com/Microsoft/vscode/issues/22419

[2017-03-10 20:09] #551 closed, assigned to nobody

[2017-03-10 20:22] bobbrow commented on #541
Have you explicitly opened a folder, or just the individual files? Many of our extension's features are expecting you to open a folder first.  This defines the ${workspaceRoot} variable among other things.

We'll add a backlog item to display some sort of message if you try to use a feature that depends on a folder being open.

![open folder](https://cloud.githubusercontent.com/assets/12818240/238

[2017-03-10 20:28] 1100101 commented on #541
I just opened individual files, not a folder.
But that feature worked just fine that way until recently, without opening a folder.

[2017-03-10 20:36] sean-mcmanus commented on #541
We changed the implementation to require the browse database. Is there a reason you don't open the folder the file is in instead? The open file scenario has been low priority for us, so lots of features don't work with it. It's possible we could get it working though.

[2017-03-10 20:39] 1100101 commented on #541
Well, I primarily use Visual Studio (the IDE) for development. But since I have to work with many C++ projects, I often use VS Code to look up something in a specific file that is currently not loaded in a Visual Studio instance.
With C++ the need for switching between header and source is self-explanatory.

I'd very much appreciate it if that feature would work without opening a folder again.

[2017-03-10 20:39] sean-mcmanus commented on #383
I'm not able to repro the bug on Linux (although I am able to repro some other bugs). What is the exact QT header you are trying to include and what version of QT are you using and what folder are you opening? I'm seeing the headers are found like QList, QHash, etc., but the files.associations is not properly recognizing the file as C++ (seems like a VS Code bug, which stopped reproing after I cop

[2017-03-10 20:46] dacap commented on #541
Maybe related, I think this feature should work in a simple way: 1) check if there is a file with the same title but with the other extension in the same directory, 2) if that is not the case and we have a folder open, use the new logic. Here is an example about some weird behavior when there are several candidates for the same `.h`/`.cpp` file:

![invalid-other-file](https://cloud.githubuserconte

[2017-03-10 21:04] sean-mcmanus commented on #541
@1100101 Sure, since it's a regression in previous behavior we'll increase the priority.
@dacap That is a bug. Thanks for a repro. It's supposed to select the header/source in the same folder first.

[2017-03-10 21:52] sean-mcmanus commented on #551
The "bug" is that the default VS Code theme is making the color the same as normal text. Themes like Monokai don't repro the issue. They say the bug is with whatever theme you're using. See https://github.com/atom/language-c/issues/151 .

[2017-03-10 22:25] jwatte-imvu commented on #178
I run into this writing Arduino code, so I'd like to see it fixed for that case.
However, if there are multiple crashing cases, perhaps actually fixing all of them would be best ;-)

Arduino projects are C++ projects that have one "main" file in a file named ".ino" and the allows additional .cpp and .h files in the same directory, plus references to external libraries where .cpp and .h files go in

[2017-03-10 23:13] sean-mcmanus commented on #541
@dacap If you're getting a crash, can you attach a debugger and get a dmp? We're still trying to figure out why we're not getting any crash dmps on Windows.

[2017-03-10 23:35] sean-mcmanus commented on #178
@jwatte-imvu We need info on how to repro the crash. What is your OS? 64-bit Ubuntu? Does it crash immediately or after editing for a few minutes or after only letting the parsing thread work after opening a workspace? I can open the Arduino-1.8.1 folder and open example .ino files and I don't get any crashes.

[2017-03-10 23:52] jwatte-imvu commented on #178
My OS is 64-bit Windows 10 Pro. I separately also have Visual Studio 2015 Pro installed.
The crash happens after a number of minutes of editing.
I installed an update of the C++ tools today, and it identifies itself as version 0.10.3.
Open an Arduino project as a folder, preferable one with a .ino file as well as a few .cpp and .h files, and you should see this happening if you work on it for a bi

[2017-03-10 23:54] dacap commented on #541
@sean-mcmanus In my case, I'm on macOS, I've several `Microsoft.VSCode.CPP.Extension.darwin_2017-03-10...crash` files. Is there a place/email address where I can send/upload these files?

[2017-03-10 23:56] sean-mcmanus commented on #541
Can you email them to c_cpp_support@microsoft.com ?

[2017-03-10 23:59] jwatte-imvu commented on #178
There are no public symbols on the Microsoft symbol server, so the stack trace isn't particularly useful, but I did get a dmp file.

![microsoft vscode cpp extension](https://cloud.githubusercontent.com/assets/14279884/23817747/64438940-05aa-11e7-9640-da9f52b75690.png)

Unfortunately, the dump file is too big to upload in this issue tracker.
I have put a copy of it on the web at:
https://watte.net

[2017-03-11 00:01] dacap commented on #541
I've just sent them, I hope it helps!

[2017-03-11 00:26] bobbrow commented on #178
That was super helpful.  @sean-mcmanus, this looks like it's caused by the recent updates to parameter help.

[2017-03-11 00:29] bobbrow commented on #178
@jwatte-imvu, the crash is on line 59, char 24 of one of your source files.  Parameter help is being invoked on what looks like a simple open parenthesis and it fails to find a function identifier before the open paren because this isn't a function call.

[2017-03-11 01:07] sean-mcmanus commented on #178
The bug has been fixed and we'll release it in our next update (hopefully early next week). The bug reproed whenever there's a non-alphanumeric character, a whitespace, and ( is typed. It was caused by a fix to signatureHelp in 0.10.2.

[2017-03-11 01:19] bobbrow commented on #287
We're asking VS Code to fix this: https://github.com/Microsoft/vscode/issues/22419

[2017-03-11 01:19] #287 closed, assigned to nobody

[2017-03-11 02:21] jwatte-imvu commented on #178
Glad you could find it! I parenthesize sub-expressions with some frequency, so that would be why I would see this problem frequency. Looking forward to the fix!

[2017-03-11 05:37] vscpp opened #552 "Press space key when select multi-lines"
For coding style reason, sometimes, we need a backspace for multi-lines.
Currently, when select multi-lines, press space key, the codes deleted.
When press Tab key for multi-lines, the function is fine.
Will you improve this feature? Thanks.

[2017-03-11 06:03] vscpp commented on #524
Do your developers have a schedule to enable IntelliSense engine?

[2017-03-11 20:34] yamcenutzer commented on #463
out of curiosity,
where would I notice if this gets fixed, here or in the vscode repo?

[2017-03-11 21:44] sean-mcmanus commented on #552
I don't understand what you are asking for. Backspace, space, and tab with multiple lines selected is controlled by VS Code itself and not our extension, and it appears to be working "by design". Can you post your feature request to https://github.com/Microsoft/vscode/issues ?

[2017-03-11 21:48] sean-mcmanus commented on #524
Yes, we have a schedule. It's not publically disclosed though. The 1st IntelliSense engine feature is planned to be released "soon", assuming there are no unforeseen delays.

[2017-03-11 21:50] sean-mcmanus commented on #463
When this gets fixed, it'll be in the ReadMe or Changes notes in the extension page, and we'll close this issue as fixed, and you'll get an update.

[2017-03-12 02:46] wuqiling97 commented on #381
Thanks! The version 0.10.2 has fixed this bug.

[2017-03-12 18:51] leomikezee commented on #329
Same problem.

[2017-03-13 01:17] lippens opened #553 "[OS X]Breakpoint triggered in a newly opened editor other than the opened editor in which the breakpoint is set."
I'm using Code 1.10.1 with CppTools 0.10.3 on macOS Sierra 10.12.3.
After configuring the "lauch.json" and "task.json", I first set a breakpoint at main():10 in an opened editor "main.cpp", and then switch to Debug mode, hit the "Start debugging", the debugger works well, but the program breaks at main():10 in a newly opened editor "_main.cpp_".
It seems to be very strange to me that the Debugger

[2017-03-13 01:58] wgj opened #554 "C++ namespace suggestion triggers on C label"
- Cpptools version: 0.10.3
- VSCode version: 1.10.2
- OS Version: MacOS 10.12.3

When typing a label in C, Intellisense adds a suggestion for C++ class members. I believe the suggestion should only appear on the second consecutive colon.

![screen shot 2017-03-12 at 6 46 15 pm](https://cloud.githubusercontent.com/assets/463564/23838709/b64fddae-0755-11e7-9643-a031264609ac.png)

![screen shot 2017-

[2017-03-13 06:22] UR3IQO commented on #525
@sean-mcmanus Don't know if I had the same problem, but 0.10.2 was very unstable and language service stopped after several minutes of coding. 0.10.3 is more stable, but it sill stops from time to time (4 times in the last two days). I am not sure but it seems there is some interaction with the debugger.

[2017-03-13 09:30] fpascutti commented on #530
Note that I just upgraded the extension to **0.10.3** but it does not seem to change anything.

Here are the traces for the *freezing* case:
[code]

And the following are the traces for a working case (initial ones):
[code]

[2017-03-13 09:36] fpascutti commented on #530
While testing and trying to gather some useful logs I managed to **have it work** and I believe I found the root cause of the issue.

I made it work by deleting all files from the `%APPDATA%\Code\Local Storage` directory (`*.localstorage` and `*.localstorage-journal` files).

I believe that the root cause of the issue is that VSCode tries to set exception-related breakpoints that are not supported

[2017-03-13 11:51] UR3IQO opened #555 "C language syntax highlighting breaks after declaring pointer to function argument"
Hi, All!

I know cpptools extension does not provide c/c++ syntax highlighting (it uses the built-in VS Code atom/language-c), so I posted it to vscode firstly [#22519](https://github.com/Microsoft/vscode/issues/22519), but they told to ask here...

- VSCode Version: 1.10.2
- OS Version: Windows 8
- Extensions:  cpptools / ms-vscode / 0.10.3
- Language: C

Steps to Reproduce:
1. Create .c or .h fi

[2017-03-13 12:06] fpascutti commented on #530
I confirmed that the root cause (in my case) are the **Exception Breakpoints** set by TypeScript/JavaScript debugging.
If there are any the debugger freezes.
If I clear them from the `%APPDATA%\Code\Local Storage\file__0.localstorage` database then no freeze occurs.

I created a small script that clears the `debug.exceptionbreakpoint` entry for my project (from the `Local Storage` SQLite database)

[2017-03-13 12:22] johnfredcee commented on #430
I am having this problem, too with a relatively small mingw based project in Windows 10. I'm now watching the process with procmon so I can figure out what it's doing before the crash. One thing I noticed in the procmon log was that the extension was query/reading *.o files until I excluded them using the exclude files filter. Is it supposed to be doing that?

[2017-03-13 12:25] johnfredcee opened #556 "Option to set where the browse DB is stored"
As of 0.10.3 it seems that browse data is built dynamically under %APPDATA%. In my case this is on a SSD which is tight on space and this is space-hungry when I use it on large projects. Some option to be able to store it elsewhere would be good.

[2017-03-13 14:00] nilanjan opened #557 "Hex/Binary display of debug variables in C++"
OS - Linux and Mac

Hex (Octal, Binary etc.) display of variables in watch or variable window in debug is not available. This is absolutely imperative for the C++ developers.

Please provide support.

[2017-03-13 15:45] bobbrow commented on #556
You can change the DB location by editing the `databaseFilename` property for the configurations you care about in your c_cpp_properties.json

[2017-03-13 15:48] sean-mcmanus commented on #554
The autocomplete on ":" is a bug. It looks like it only repros if your computer is slow enough.

Also, the autocomplete commitment on Enter (and ;) is very annoying. In our next update, we're removing that by default for C/C++. You can add this to your settings to manually remove it:
      "[cpp]": {
        "editor.acceptSuggestionOnCommitCharacter": false,
        "editor.acceptSuggestionOnEnter

[2017-03-13 16:28] sean-mcmanus commented on #554
Actually, we're still deciding if we want to add this setting by default...seems like we need more feedback from what users think. Visual Studio behaves this way when no result is selected in the autocomplete list, but VS Code always selects an item.

[2017-03-13 17:29] floooh commented on #530
I can confirm the behaviour reported by @fpascutti , deleting the *localstorage files makes debugging work for me. I guess it worked on my Win7 machine because I never did any Javascript debugging there.

[2017-03-13 17:42] johnfredcee commented on #430
The DB files don't seem to be excessively large. Although I have the db name set to  "databaseFilename" : "chunks.vs.db" - I have both that *and* a .BROWSE.VC.DB under my AppData\Roaming\Code\User\workspaceStorage\9579cac8ebcc1d93e3a73c892073cd93\ms-vscode.cpptools with modification times within a couple of minutes of the crash times.

[2017-03-13 18:03] bobbrow commented on #430
Can you create a new issue about the two DB's in the save location so it doesn't get lost under this topic about crashes? I believe what you are seeing is expected - we likely created the default DB before you set the databaseFilename property in the json file.

Regarding the *.o stuff.  We should be querying all files under your workspace to see if they are files or folders, but I wouldn't expect

[2017-03-13 18:17] johnfredcee commented on #430
I mention it, because just before the crash there is a whole stream of reads of .BROWSE.VC.DB, 4096 bytes at a time. Not sure why it touches it, if I change the name..

[2017-03-13 18:17] pieandcakes commented on #530
@floooh @fpascutti Thanks for the troubleshooting. I'll see if I can reproduce this on my side. We shouldn't be hanging if we get parameters we don't know about. We should just be ignoring them and continuing.

Just so I understand, if I create a JS project, set the breakpoint settings and then open a C++ project and debug it, it will reproduce?

[2017-03-13 18:18] johnfredcee opened #558 "Still uses BROWSE.VC.DB even when rename option selected"
The DB files don't seem to be excessively large. Although I have the db name set to "databaseFilename" : "chunks.vs.db" - I have both that and a .BROWSE.VC.DB under my AppData\Roaming\Code\User\workspaceStorage\9579cac8ebcc1d93e3a73c892073cd93\ms-vscode.cpptools with modification times within a couple of minutes of the crash times.

[2017-03-13 18:18] johnfredcee commented on #558
(This is on a small C project of just five files)

[2017-03-13 18:28] bobbrow commented on #554
We're doing a little more testing of this on our side to try to tune the behavior better.  In the meantime, you can also try toggling this setting in your settings.json file if you don't want to disable committing real suggestions with the Enter key:
[code]

[2017-03-13 18:54] pieandcakes commented on #557
@nilanjan I'll add it to the backlog but in the meantime you can use the gdb-mi [command](http://www.sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI-Variable-Objects.html): `-var-set-format` in the debugConsole by typing `-exec -var-set-format <name of variable> <format>`. The difficulty we have is offering context menu options to allow the change of the format, which would require VSCode changes. Yo

[2017-03-13 18:58] pieandcakes commented on #553
@lippens This could be two things: 1) the path casing is different in one file versus the other. If you hover over the tab, you should be able to see if the casing is exactly the same or not. 2) This could be that the source at compile time is different than then one you have open and you have the same source file in two locations.

We pass the path back to VSCode and VSCode's editor opens the fil

[2017-03-13 19:07] sean-mcmanus commented on #525
Yes, it's a bug with signatureHelp. \<non-identifierChar\>\<whitespace\>( triggers a crash. We've fixed it and we're planning to release a fix ASAP.

[2017-03-13 19:17] sean-mcmanus commented on #555
Yeah, the person on the vscode forum who closed your original issue didn't understand the situation. To get these colorization bugs fixed, someone needs to take the time to fix it. https://github.com/atom/language-c/issues might be your best bet. Or if anyone wants to contribute to the open source fix,

[2017-03-13 19:45] floooh commented on #530
@pieandcakes at least for me it doesn't seem to be *that* simple :/ debugging a small hello-world JS file via node and then going back to C++ debugging does not bring the startup hanging back. may be @fpascutti has a better repro.

[2017-03-13 20:42] johnfredcee commented on #556
So, it's a full path and just not a filename?

[2017-03-13 20:46] sean-mcmanus commented on #556
It was initially intended to a be a full path, but a name will also work. It only works for your current workspace though and if you want to clean up space you'll need to delete your workspaceStorage folder in AppData. I put a request for VS Code to add a setting to change the workspaceStorage location to another drive (or we could add a setting ourselves), so that the default isn't on the C drive

[2017-03-13 20:54] cpagravel opened #559 "definition results are returned inside of comments"
This is a known shortcoming stated in the [VS Code help page](https://code.visualstudio.com/docs/languages/cpp).

I'm currently using Sublime text 3 with the [EasyClangComplete](https://packagecontrol.io/packages/EasyClangComplete) plugin for this, but would really like to try VS Code. Is there any chance of this feature getting added soon?

In my C++ project I have a lot of initialize methods for

[2017-03-13 21:00] cpagravel commented on #559
As an example, even the comments in my code match function calls.

![example](https://cloud.githubusercontent.com/assets/9516565/23875086/89c5b9de-080e-11e7-91ba-aa733048a9d2.png)

[2017-03-13 22:45] nilanjan commented on #557
Does it work for lldb too?

[2017-03-13 23:19] pieandcakes commented on #557
@nilanjan I don't have my MacBook with me but I can try it tomorrow and let you know.

[2017-03-14 02:28] lippens commented on #553
Sorry for closed the issue by mistake.

The two tabs indicated the path, and what's more, It seems that the VS Code or the CppTools treated the two editor as two different files or something else.

I will refer "main.cpp" to the editor I opened in "Editing" view mode, and "_main.cpp_" to the editor opened automatically in "Debugging" view mode. Here is what I found:
1. "main.cpp" and "_main.cpp_"

[2017-03-14 02:35] lippens commented on #553
I upgraded VS Code to 1.10.2 this morning, and tested with a simple program which contains only one file main.cpp, and everything works OK. And then I reopened my project which contains several .hpp and the main.cpp, and the tests fails.
So if any of you want to reproduce the scenario, an simple main.cpp program will be insufficient, I guess.

[2017-03-14 08:09] weinand opened #560 "C++: Searching include paths takes forever if there are large sub-directories"
_From @navsan on March 14, 2017 0:13_

I tried using VS Code with a C++ project containing a large non-source directory with thousands of files (profile outputs, logs, etc.). The editor was unable to search the include path even after about an hour. Copying just the source files into a new directory and opening it in VS Code resolved the issue.

- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707

[2017-03-14 08:34] eddy-geek commented on #404
Is this on the roadmap? Is it technically difficult?

I feel like this highly useful navigation feature (the only approximation of "Call hierarchy" we can have for now) should be higher priority...

It's also a jarring user-experience, I spent a few minutes hitting Shift+F12 repeatedly and wondering why vscode was broken, until I found out that it worked everywhere else (python, typscript, go...)

[2017-03-14 08:59] UR3IQO commented on #555
OK. It looks like I have fixed it (not sure if I didn't broke something else :) ). Now I see that current C syntax file in VSCode repository was heavily modified recently (against the one in VSCode v.1.10.2). So the fix could not be applied to the current version (and I do not know if the problem exists in the development version of VSCode), but if somebody need a fix for the VSCode 1.10.2 here is

[2017-03-14 09:33] UR3IQO opened #561 "Can we reference the expression being evaluated within the natvis rule?"
Are there any way to reference the expression being evaluated from the natvis rule?

Here are some examples what I am talking about.

Consider we have `color_t` type defined as `typedef uint32_t color_t;`, also let's suppose we have a special variable `$_self` which references current expression. Now we can write natvis rule:
[code]
So we can see color information in a human readable format.

Anot

[2017-03-14 09:35] UR3IQO commented on #555
I checked the most recent C grammar from VSCode repository and it also fixes the problem :)

[2017-03-14 11:34] fpascutti commented on #530
@pieandcakes, I believe you can reproduce with my [gluino](https://github.com/fpascutti/gluino) project.

1. clone the repository
1. launch `npm update --dev`
1. open the folder in VSCode
1. launch the `test` task (to make sure everything is built)
1. debug the `test:typescript` configuration
1. debug the `test:c++.win` configuration => **Freeze**

At least that is how I could reproduce the freeze

[2017-03-14 15:06] klinki opened #562 "C/C++ syntax highlighting broken after macro definition"
After defining macro, syntax highlighting is broken.
Example:
[code]

If I terminate macro with `;` it works as expected. But certain macros cannot be terminated with `;`.

[![Screenshot from 2017-03-14 16-03-35.png](https://s11.postimg.org/aztz7zdwj/Screenshot_from_2017_03_14_16_03_35.png)](https://postimg.org/image/6dxuzmsdb/)

[![Screenshot from 2017-03-14 16-03-13.png](https://s3.postimg.org/c

[2017-03-14 15:56] bobbrow commented on #404
Yes, it's on the roadmap, but it's not first in line.  We can't really do this very accurately until proper intellisense is added in.  The tag parser we use for autocomplete right now doesn't have any semantic knowledge of symbols.  It doesn't see local variables either.

[2017-03-14 15:59] bobbrow commented on #555
Thanks for checking.

[2017-03-14 15:59] #555 closed, assigned to nobody

[2017-03-14 16:07] bobbrow commented on #562
This would be a bug in the C grammar.  You can file an issue here: https://github.com/atom/language-c/issues

[2017-03-14 16:15] sean-mcmanus commented on #560
This could be the symlink problem. I think we need to fix the symlink problem before we can be sure whether there are other issues.

[2017-03-14 16:18] sean-mcmanus commented on #555
Yeah, the Insider build recently took the newer atom/language-c which fixed a few issues.

[2017-03-14 16:22] sean-mcmanus commented on #562
The bug is already fixed in atom/language-c and the Insiders build of VS Code.

[2017-03-14 16:22] #562 closed, assigned to nobody

[2017-03-14 16:26] bobbrow commented on #560
By default the extension scans (but doesn't parse) all the files in the folder you have opened.  We can't return accurate #include results until we know whether the file exists somewhere in your folder or not.

While we can't tell right now if this is the symlink problem or not, if you want to exclude that large folder, go to Code -> Preferences -> Settings, copy the `files.exclude` setting to you

[2017-03-14 16:32] bobbrow commented on #558
We should delete the old DB when `databaseFilename` changes

[2017-03-14 16:36] bobbrow commented on #552
It sounds like @vscpp is asking for an indentation feature.  But yes, our extension would not be able to control that.  We don't get keystroke messages from VS Code.  If you would like to request this feature, please go to the link @sean-mcmanus shared.

[2017-03-14 16:36] #552 closed, assigned to nobody

[2017-03-14 16:37] sean-mcmanus commented on #560
That should work, but you also can't search/browse in "output" anymore. Does that matter to you? Having our own exclude setting might be better.

[2017-03-14 16:44] bobbrow commented on #540
In the log, I see:
[code]
This looks like an issue with the gas extension, not the C++ extension.  Try disabling or reinstalling that extension and see if it helps.

[2017-03-14 16:44] #540 closed, assigned to nobody

[2017-03-14 16:47] bobbrow commented on #436
I will close this for now.  If you are still seeing this issue, please reopen and share which version of the extension and VS Code you are using.  Thank you.

[2017-03-14 16:47] #436 closed, assigned to nobody

[2017-03-14 16:49] bobbrow commented on #411
I see nullptr is highlighted as a keyword in VS Code 1.10.2.  Please let us know if you are still having an issue with this.