[2020-02-13 19:52] serjche commented on #4966
Hi @Colengc, thanks for the quick response :).

[2020-02-13 19:54] sean-mcmanus commented on #4963
Setting the hardcoded "<path_to_the_cpptools>" will break after a new version of the extension gets installed. Should we add a setting or variable that enables using the extension's clang-format or do we think a "minimum version" setting is sufficient?

[2020-02-13 20:04] sean-mcmanus commented on #4961
Thanks for letting us know.

[2020-02-13 20:12] t0ni0 opened #4967 "Intellisense auto-complete is very slow for larger files"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Enterprise
- VS Code Version: 1.42.0
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is: After files are done parsing and Intellisense has updated (both flame and database icons have disappeared), au

[2020-02-13 20:19] sean-mcmanus commented on #4934
Ah, okay.

Your usage of "browse.path" appears incorrect -- it should be
[code]
i.e. you can add the "path" property next to your existing limitSymbolsToIncludedHeaders property.

Have you been able to see the "C/C++" debug logging yet to see what files are getting "tag" parsed? That info can help diagose issues with an incorect browse.path.

80 MB seems too small if you have a really large worksp

[2020-02-13 20:20] lor1x commented on #4965
Hi @Colengms!

Thank you for your reply!

I have tried not defining the function inline and this is the error it has thrown me before and again now that I tried it again:
Undefined symbols for architecture x86_64:
  "Test::prt()", referenced from:
      _main in main-f74463.o
  "Test::Test()", referenced from:
      _main in main-f74463.o
ld: symbol(s) not found for architecture x86_64
clang: erro

[2020-02-13 20:26] Colengms commented on #4965
Hi @lor1x  .  How are you building your project?  The C/C++ Extension does not provide build services (other than Build and Debug Active file, but it looks like you have multiple files).

Is it possible that Test.cpp is not included in your build?

[2020-02-13 20:27] sean-mcmanus commented on #4967
Which process is using the CPU? Microsoft.VSCode.CPP.Extension or Microsoft.VSCode.CPP.IntelliSense.Msvc?

Can you run C/C++: Log Diagnostics with that file open? What memory usage is reported and how many include paths?

Does changing the includePath setting to not use "**" (recursive includes) make it faster, e.g. if you just use the explicit list of include paths shown from the Log Diagnostics

[2020-02-13 20:28] sean-mcmanus commented on #4967
Also, how many lines is the file?

Also, what is your intelliSenseCacheSize setting? (sounds like the default of 5 GB)

[2020-02-13 20:28] lor1x commented on #4965
I used the C/C++ extension and Run Code extension, both giving me the same error to build this test program. I have them (Test.h prototype class, Test.cpp where I insert the working code of the class and main.cpp where I create the object to access that function of that class in those files).

I have included the launch.json and c_cpp_properties.json configs on my first post @Colengms.

Thank you

[2020-02-13 20:38] Colengms commented on #4965
To clarify, the C/C++ Extension does not build.  It provides language services, such as IntelliSense.  For the compile error you are seeing (unresolved symbols), you may need to follow up with the extension(?) providing build services.  (Run Code extension?).  The issue looks like Test.cpp is not being linked by your build, hence the symbols defined within it are not resolved.

Regarding the squig

[2020-02-13 21:08] t0ni0 commented on #4967
Hello Sean, thanks for the quick response.

Microsoft.VSCode.CPP.IntelliSense.Msvc which revs up to about 20% CPU for the duration of the "Loading..."

Under translation unit configuration, it says 52MB, and I have 16 include paths of which 7 are Microsoft. The rest are part of my workspaceFolder. My whole project is approximately 20k lines.

I just tried that and removing everything from the incl

[2020-02-13 22:12] sean-mcmanus commented on #4967
Okay, thanks for the info. Your scenario is expected to be fast for IntelliSense processing, so it looks like you may be hitting some unexpected performance bug. It's possible the virus monitoring could affect the performance.

Can you attach a debugger to the IntelliSense process to get a call stack when it's using the high CPU during autocompletion? Windows binaries have symbols available in VS

[2020-02-14 00:13] t0ni0 commented on #4967
Thanks for the suggestions. When I have some more time soon I'll try the debugger and try to isolate the issue as best as I can. For now, looking at the debug logs, the hang up is always right after this sequence:
[code]
And the changes do seem to queue up, so for example when I type "num" all at once, it first sends 1 change to the server, presumably for "n", then idles for a few seconds, then I

[2020-02-14 00:21] t0ni0 commented on #4967
Just tried with other similar sized repos and cannot reproduce this slowness. I will take some time to try to narrow down the cause on this particular repo.

[2020-02-14 00:33] Colengms commented on #4929
Hi @pedro-w .  I'm having trouble repro'ing this.  I created a fresh VM (without VS), installed the VS 2019 Build Tools (with C++ Build Tools checked), opened a new folder in VS Code (with no `c_cpp_properties.json`), opened a .cpp file to trigger the C++ Extension (v0.26.3) to start up.  Then I ran the command `C/C++: Edit Configuration (JSON)`, and saw that it populated a newly created `c_cpp_pr

[2020-02-14 00:47] sean-mcmanus commented on #4967
It looks like the IntelliSense updating is really slow for your TU, possibly due to usage of certain template libraries that take a long time for us to parse. Another user reported a similar issue at https://github.com/microsoft/vscode-cpptools/issues/3907 (looks like we never followed up on investigating that repro or the profiler logs). This parsing code is shared by VS, so it's likely they have

[2020-02-14 00:55] KuddLim commented on #3326
Close vscode, delete all files under .vscode and relaunch vscode.
When vscode asks you let vscode allow intellisense for your project, deny it.
That solved my problem.

[2020-02-14 05:29] theironrobin commented on #429
Also interested in this. Another Pinebook Pro user looking to create C applications for Pine products.

[2020-02-14 07:58] kartikeyshetty opened #4969 "Intellisense database residing on remote-ssh host is recreated at times"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS 10.15.3 & RHEL 7 on remote-ssh extension
- VS Code Version: 1.42.0
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): ms-vscode-remote.remote-ssh-edit version 0.49.0

I use the "remote-ssh" plugin to connect to a RHEL 7 machine hosting a large C codebase ( aroun

[2020-02-14 08:01] fnafnio opened #4970 "Nested Macro not expanding correctly with gcc/clang mode (or msvc mode with /Zc:preprocessor)"
**Type: LanguageService**

- OS and Version: Windows 10 Enterprise 10.0.16299
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3

I'm working on a macro heavy C firmware project and am having issues with nested macros that fail to correctly expand.

**To Reproduce**
[code]

**Expected behavior**
I would expect the macro to correctly expand to something like
[code]
**Screenshots**

![image

[2020-02-14 08:08] pedro-w commented on #4929
I'll check the fresh install stuff but it might take me a while to set up a VM etc.

I can say straight away that I don't have the `_Instances` path that you mentioned. I guess this is the reason why your server can't find the file?
[code]
I have installed and uninstalled Visual Studio 2019 Community in the past and maybe that has caused some confusion in the configuration.
Anyway if I can get a f

[2020-02-14 08:09] chongchai opened #4971 "environment in launch.json takes no effect when using pipeTransport"
**Describe the bug**
It seems 'environment' in launch.json takes not effect in the gdb remote debug.

- OS and Version: win10
- VS Code Version: vscode 1.40
- C/C++ Extension Version: 0.26.1

**To Reproduce**
1. I use this launch.json to debug a c++ project.
[code]
2. The program in the remote linux(`/usr/code/test/test_demo`) will output the environment like follows:
[code]
3. I will get the outp

[2020-02-14 08:45] pedro-w commented on #4929
OK I have made some progress. I installed VS code and the Build tools on a real Windows 10 PC which had never had either on before. Everything worked as you describe. I saw that `%ProgramData%\Microsoft\VisualStudio\Packages` contained a whole bunch of directories named after packages (I assume) as well as the `_Instances` directory.

Back on my PC, I found another path on my *D:* drive (I've got

[2020-02-14 08:56] HackerBaloo commented on #4934
[latest.zip](https://github.com/microsoft/vscode-cpptools/files/4203517/latest.zip)

I have now adjusted and trimmed my browsing settings. and the result is a 346 MB DB. Attached also the output when all files are tag parsed after a reset of the DB.
But for some reason when I now execute "Go to Symbols in File" the progress never seems to stop.
And then I tested a restart of Code, and now it works

[2020-02-14 09:54] samloescher commented on #4962
Hey @michelleangela, I can't reproduce the issue with a different language target (here's the example in python https://github.com/microsoft/vscode/issues/90362#issuecomment-586016465), and the VSCode team are pretty sure it's the C++ plugin and they don't do any parsing of `args`. Is there any possibility there is parsing happening in the plugin? Unfortunately this bug presumably is right near th

[2020-02-14 10:54] samloescher commented on #4962
It looks like it's because behaviour in linux in bash, e.g.

[code]

I'm having some trouble printing out the exact command which is launch to inspect the string escaping, I've read through https://code.visualstudio.com/docs/cpp/launch-json-reference but can't seem to find it anywhere obvious of just printing it out, and when keeping the console open after launching it looks like it executed somet

[2020-02-14 11:23] ivankravets commented on #2780
PlatformIO users also experience this issue https://github.com/platformio/platformio-core/issues/3379

How is it difficult to fix it? Do we have any workarounds?

/cc @valeros , @sstaub

[2020-02-14 12:01] tgrohens commented on #4959
Hi @Colengms, thank you for taking the time to investigate this.

In order to reproduce everything clearly, I have the following folder structure:
[code]

In all cases except in the folder `Thèse`, colorization works as intended, so I'm really not sure what is happening.
I was using the CMakeTools extension for other purposes and the problem remains even when it's uninstalled, and I'm not using re

[2020-02-14 12:57] pagdot commented on #2780
@ivankravets I just took a (quick) look into it and it may be a problem with the actual (external) languageserver. I don't think it is open source :/ because there are only links to binaries.

[2020-02-14 12:59] ivankravets commented on #2780
This extension is open source. Microsoft claims that VSCode is open source.

[2020-02-14 13:14] pagdot commented on #2780
Yeah, kind of... But it seems to use a closed source language server. In the [package.json Line 1779](https://github.com/microsoft/vscode-cpptools/blob/master/Extension/package.json#L1779) is the download link for binaries containing the languageserver. This repo only seem to contain the client. I haven't seen a reference to the source of the actual languageserver. If you find its source I will ta

[2020-02-14 13:28] ivankravets commented on #2780
This is the main reason why do we have a lot of issues and a slow development process. The community can't contribute and help.

@robotdad what is a reason for keeping this project close sourced?

[2020-02-14 13:51] heretic13 opened #4972 "[cppvsdbg] rust. some strings not visible in debugger"
Type: Debugger
MSVC C++ debugger (I dont know version).

- OS and Version: Windows 10 x64
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3

Some valid utf-8 strings cannot displayed in debugger. Absolutely correct string is not displayed in the debugger. Writes "invalid characters in string". If I remove any character from the string, it displays normally.

Sample rust program source co

[2020-02-14 13:52] heretic13 commented on #4972
Source code
[main.rs.txt](https://github.com/microsoft/vscode-cpptools/files/4204709/main.rs.txt)

[2020-02-14 13:54] heretic13 commented on #4972
![bug](https://user-images.githubusercontent.com/11976009/74537162-9ab5c780-4f4a-11ea-86fd-dc424a512599.PNG)
Output in debug window

[2020-02-14 17:26] michelleangela commented on #4962
@pieandcakes or @WardenGnaw , is there a way to get the original command from launch.json that is used to launch a program? On Linux, the args that are passed to a program are not parsed correctly which results in incorrect input.

[2020-02-14 18:35] Colengms commented on #4959
Hi @Juiblex .  Since the issue is specific to the folder containing an extended character, I'm fairly confident you are seeing the same issue as: https://github.com/microsoft/vscode-cpptools/issues/4712 .  That issue can cause internal comparisons between 2 different representations of the same path to appear unequal.  That would explain why IntelliSense errors are reported to the problems pane, a

[2020-02-14 18:50] pieandcakes commented on #4962
If you enable engineLogging, it should show the command we send to `gdb` including the debuggee and its arguments.

[2020-02-14 19:55] sean-mcmanus commented on #4969
If you set C_Cpp.loggingLevel to "Debug" and view the C/C++ panel and look for text "Database safe to open" and no further "tag parsing file" messages appear, then it's safe to exit. If the process crashes, then it's possible the safety check won't be written. If you edit a file and then do a Reload Window or close VS Code before the safety check is written (after 5 seconds) then the database safe

[2020-02-14 20:01] Colengms commented on #4970
Hi @fnafnio .  Does this compile without error for you?  I'm seeing that this does not compile with cl.exe or g++.  Though, clang appears to accept it.

[code]

Specifically, it looks like PROCESS_PID will first be expanded into multiple arguments before being passed to OS_DEFINE_PROCESS.  However, OS_DEFINE_PROCESS accepts only a single argument, resulting in the other values being blank.  This w

[2020-02-14 20:17] sean-mcmanus commented on #4969
Actually, it looks like under normal exit conditions we are writing the safety check. Let us know if you find a repro where we aren't -- i.e. if we're unable to cleanly shutdown before VS Code kills our process.

[2020-02-14 20:27] sean-mcmanus commented on #4934
Go to Symbol in File could get stuck if our parsing queue is backed up with work. Let us know if you find a consistent repro.

[2020-02-14 21:05] Colengms commented on #4544
This is potentially problematic, as our settings descriptions get localized.  We could see problems if the localization team does not use markdown in translations, or uses characters that inadvertently trigger markdown formatting.

[2020-02-14 21:06] sean-mcmanus commented on #2780
- It's easy to fix. See my comment https://github.com/microsoft/vscode-cpptools/issues/2780#issuecomment-582145983 .
- But you're correct that the fix is in our closed source language server.
- The main reason the language server is closed source is because our parser is licensed from another company's closed source parser. There are potential changes in the (not short term) future that could allo

[2020-02-14 21:13] ivankravets commented on #2780
@sean-mcmanus thanks so much for the quick answer! Yes, I got you. We did a quick fix on our side https://github.com/platformio/platformio-core/commit/fbfbf340c12caf56d8566e24df8c14441d5c9c68 and plan to publish bugfix release of PIO Core 4.2.1 next week.

Could you check this `mbed/.vscode/c_cpp_properties.json`  https://pastebin.com/RfiSbpTZ?

- Are structure and data goo?
- Do you have any hint

[2020-02-14 21:13] Colengms commented on #3220
The issue this was originally created to track has been addressed.  Memory usage of the IntelliSense process is monitored and is reset if unaccounted for growth is detected.  Though, 3G is not unreasonable for the intelliSense process to use with a sufficiently complex codebase.

There may still be issues related to memory.  If you are seeing a similar problem, please open a new issue with specifi

[2020-02-14 21:13] #3220 closed, assigned to nobody

[2020-02-14 21:22] Colengms commented on #4544
I have this issue open against nls-dev, which doesn't appear to have gotten any attention.  We could look at contributing this to nls-dev.  https://github.com/microsoft/vscode-nls-dev/issues/21

[2020-02-14 21:28] Colengms commented on #3326
The issue this was originally created to track has been addressed.  We have also fixed bugs that we suspect were the cause of memory issues with the extension process referred to in this thread.  There may be additional memory issues.  If anyone is still seeing problems related to memory usage, please open a new issue with specific repro information, rather than adding a potentially new scenario t

[2020-02-14 21:28] #3326 closed, assigned to nobody

[2020-02-14 21:32] sean-mcmanus commented on #2780
@ivankravets The data looks fine to me. The empty `""` in arrays is fine -- we just ignore them. I don't have any hints/recommendations.

[2020-02-15 05:30] Makogan commented on #106
Trying to revive this thread. I also find it extremely annoying to type the characters and I am not satisfied with having to do a work around by maping it to a shortcut.

Also, can we get variable autocompletion when pressing tab? Please?

[2020-02-15 08:46] KuddLim commented on #3326
I'm still having this issue with latest version of vscode when using intellisense. I'll create a new issue when I'm back to office next week.

[2020-02-15 21:50] fabiopakk commented on #3246
Hi Andrew and Bill,

Just for the record I've figured independently from this thread that a simple white space in the file name of the source file is enough to make VSCode ignore the breakpoints, for example "Binary Search.cpp". It can, however, have white spaces in the path preceding the file name, like "C++ Examples/BinarySearch.cpp". The later works fine on a macOS/LLVM setup.

[2020-02-16 02:09] Infinite-U commented on #2889
Today when I am programing in Java with VSC, I set "java.debug.settings.console":  "externalTerminal" in settings.json. But it failed to debug. So I turn it back into "integratedTerminal". According to this, I want to know if C program can also run in the integrated terminal. So I tried just as assignees does, but failed again. Later, however, I adapted @mahonelee 's opinion and succeeded. So, tha

[2020-02-16 03:23] graphitical commented on #3829
I followed @puremourning  advice and I'm back up and running. Thanks!

[2020-02-16 11:21] hamaney commented on #1240
This issue happens also if u try to edit `c_cpp_properties.json` file while it is staged by git.

[2020-02-17 07:48] fnafnio commented on #4970
It does indeed compile with both Keil ARM compiler v5.04 and GNU Arm Embedded Toolchain
Version 9-2019-q4-major, I haven't tried different compilers yet as those are the only ones relevant to the project.

So this might have something to do with Macro expansion order? Shouldn't, after all preprocessor passes, all macros just be fully expanded? Guess I need to read up on the preprocessor

Edit:  Fi

[2020-02-17 09:04] marty1885 commented on #2506
Well, bumping the issue again.

I'm running a few AArch64 servers for HPC and a AArch64 workstation. Having IntelliSense on them would be great that I don't have to write code on x86 then copy everything to ARM for testing. Instead I could have my entire workflow on ARM. Otherwise vscode on ARM is quite a good experience.

The same would be for RISC-V and PPC64. PPC64 have already been an establis

[2020-02-17 10:13] tgrohens commented on #4959
Hi @Colengms. Thanks for fixing this!
I also realized I wasn't getting Git decorations, and it seems like this is the same issue.
I've been using that workaround and I'm looking forward to the next release!
Cheers,

[2020-02-17 10:23] OtmarZ commented on #4936
Hi!

To void any influence of other things, I removed and installed Ubuntu App (18.04 LTS) on WLS system again + gdb 8 + C++ extension - not more. I kept above files. Now VSCode is wating for .. (see Debug Console Output):
1: (185) LaunchOptions</LocalLaunchOptions>
1: (307) DbgCmd:echo $$ > /tmp/Microsoft-MIEngine-Pid-aa88igpn.9xl ; cd "/mnt/c/UserData/_tmp/code" ; DbgTerm=`tty` ; set -o monitor

[2020-02-17 10:33] zmt0516 opened #4975 "Unable to read file when click problems"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
Steps to reproduce the behavior:
1. Go to 'Problems'
2.

[2020-02-17 10:36] RafaGago commented on #827
I'm having this error too.

In my case I'm manually running gdbserver through a pipe to docker like this:
[code]
I can't modify the container and it has no network connectivity. That's my reason for piping "target remote" through docker exec gdbserver.

I too see that the actual output is reaching vscode with lines like this one:

`1: (25102) ->&"[----------] 5 tests from MyTest (2563 ms total)\n"

[2020-02-17 10:40] zmt0516 commented on #4975
I use mingw-64 as C++ compiler on Win10.

The compilation process and results are fine.

However, I can not locate the error or warning by click the line of problems console.

[2020-02-17 10:56] valeros opened #4976 "IntelliSense complains about missing header if workspace contains several projects"
VSCode mistakenly reports that a header file is missing even though I can open this file using `Go to definition` and all symbols from this file are perfectly visible in the main file. This only occurs when there are several project folders in the workspace:

![vscode-workspace](https://user-images.githubusercontent.com/886732/74646891-582aff80-5183-11ea-8bee-1a1799fe4a1b.png)

Originally reported

[2020-02-17 11:07] RafaGago opened #4977 "No stdout from remote target when debugging over a "target remote" pipe"
Type: Debugger
gdb

- OS and Version:  ubuntu 18.04 LTS
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.3

I don't know if it's the same as:
https://github.com/Microsoft/vscode-cpptools/issues/827

But as the issue was 2.5 years old I open a new one.

I'm unable to see gdbserver's output. The output is sent back to VSCode, so it's a parsing error.

I'm running my application through a "t

[2020-02-17 11:14] Smexey opened #4978 "Negative values not printing in output console on windows"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 17763
- VS Code Version: 1.42.1
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
Outputing stdout using internal console does not work for negative numbers.

**To Reproduce**
This code will not output -1 to debug consol

[2020-02-17 22:41] mfloriani commented on #4841
Hi @Colengc ,
I was able to solve by doing as you recommended. First I uninstalled the extension, then I removed the extension folder in .vscode folder and finally I reinstalled the extension.
Thanks!

[2020-02-18 11:57] eszlari opened #4979 "disable IntelliSense when vscode-clangd is detected"
To simplify the setup, it would be nice, if IntelliSense was automatically disabled, when the [vscode-clangd](https://marketplace.visualstudio.com/items?itemName=llvm-vs-code-extensions.vscode-clangd) extension is installed.

[2020-02-18 14:08] TheMarkie opened #4980 "C++ Intellisense does not apply code conformance"
I've recently migrated my C++ project from VS to VS Code. While I find that VS Code already handles highlighting and compiling pretty well, Intellisense is kinda lacking and broken.

For example: My codebase is old and require these options:
- `/Zc:wchar_t-`
- `/Zc:forScope-`
- `/Zc:inline`
- `/Zc:implicitNoexcept-`

Compiling using MSBuild or CL is completely fine, only highlighting and error rep

[2020-02-18 15:59] samloescher commented on #4962
I'm not entirely sure to where `enableLogging` flag is meant to be set, so I've modified my launch.json to look like the following:

[code]
And in the debug console I'm seeing:
[code]

Which if paste out for reference looks to be concatenated to :
`\bin\echo {1,2} \"{3,4}\" "{5, 6}" "(7,8)"` -> `1 2 "3" "4" {5, 6} (7,8)`

Here's some things I've tried so far and their corresponding debug console a

[2020-02-18 17:01] bhallaY commented on #3829
Hey,

I was trying to follow @puremourning advice but ran into an issue. It seems that a full install of Xcode.app is required for llvm, is there a workaround specific to this advice if I can only have the Command Line Tools installed and not the full install? I have looked at another issue where this is a problem, but the solution there seems to have been fixed by the home-brew team but doesn't w

[2020-02-18 17:34] thanhlev opened #4981 "Intellisense does not show the variable name, although the variable is right above it."
[Issue](url) Type: <b>Bug</b>

Intellisense does not show the variable name, although the variable is right above it.

Extension version: 0.26.3
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:23.649Z)
OS version: Linux x64 4.19.0-8-amd64

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2

[2020-02-18 18:18] Colengms commented on #4970
Hi @fnafnio .  It looks like the macro expansion behavior differs between compilers.  With the code in your most recent reply above, I see MSVC (cl.exe) reports an error on the squiggled line, but gcc does not.  If I switch to using "gcc-x64" intelliSense mode, the squiggle is removed.

Are you setting the intelliSense mode?  You can use the "C/C++: Log Diagnostics" command to see what IntelliSens

[2020-02-18 18:26] pieandcakes commented on #2889
@Infinite-U this is the page for the C/C++ extension. It sounds like you need to ask the question on the Java extension's page.

[2020-02-18 18:26] pieandcakes commented on #2889
@Epikem the change for the timeout is in the next release.

[2020-02-18 19:03] pieandcakes commented on #4962
Thanks for investigating. my assumption is you would want something like `"\"\{1,2\}\""` but I'll see if I can figure out the correct order and also how it can be more predictable. It looks like its non deterministic at this point.

[2020-02-18 19:17] Colengms commented on #4975
Hi @zmt0516 .  I see that the path is incorrect - it looks like the entire path is repeated except for the filename.  However, I'm not able to easily repro.

In the images you posted, it looks like you had clicked on a problem entry reported by the gcc problem matcher (as it says gcc at the end of the line).  Does this repro only on problems reported gcc, or does it also repro on the lines that in

[2020-02-18 19:22] pieandcakes commented on #4977
can you see if setting `filterStdout` to `false` in your `launch.json` will fix the issue?

[2020-02-18 19:31] Nadeem-Ullah commented on #1863
I am running .cpp file on VS Code to compile and run it. But I don't know how to setup VS code environment for it to debug. I have run the following code on it and it gives me these errors:
#include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (D:\ENG BOOKS\7th semester\fyp\FYP\FYP\Identification based Pill Dispensor\project data\tablet project\

[2020-02-18 20:25] sean-mcmanus commented on #4980
We haven't added support for those cl.exe compiler args/flags.

[2020-02-18 20:26] sean-mcmanus commented on #4981
Can you provide more repro info?

[2020-02-18 20:30] sean-mcmanus opened #4982 "Include path errors"
I am running .cpp file on VS Code to compile and run it. But I don't know how to setup VS code environment for it to debug. I have run the following code on it and it gives me these errors:
#include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (D:\ENG BOOKS\7th semester\fyp\FYP\FYP\Identification based Pill Dispensor\project data\tablet project\

[2020-02-18 21:57] sean-mcmanus commented on #4976
This is fixed in our pending 1.0 release with our new multi-root implementation, but only when the includePath is changed to be like "${workspaceFolder}/inc" instead of just "inc". I'll look into why the implicit "${workspaceFolder} appears to work in single root.

[2020-02-18 21:59] Colengms commented on #2307
Isidor mentioned he was mistaken in the [vscode issue](https://github.com/microsoft/vscode/issues/53687), and that there is not currently a way for extensions to influence the order of the currently open editor tabs.  He referred to [this issue](https://github.com/microsoft/vscode/issues/15178) as tracking that potential feature.

[2020-02-18 23:28] sean-mcmanus commented on #4976
@valeros "inc" without "${workspaceFolder}" is probably not going to be supported for multi-root in our next release (we could change this to a feature request to add support for that) -- it happens to work "unintentionally" in the single root case (as a byproduct of path canonicalization), but that mechanism gives the wrong workspace folder in the multiroot case. Can you add the ${workspaceFolder

[2020-02-19 00:47] sean-mcmanus opened #4983 "Fully support relative paths in includePath"
Right now, relative paths will sometimes work in the includePath, but with the new multiroot implementation it will probably fail, because it just uses the current working directory, which is probably incorrect for the multiroot scenario.

The original repro with relative paths is at https://github.com/microsoft/vscode-cpptools/issues/4976 .

The workaround is to manually add ${workspaceFolder} to

[2020-02-19 00:48] sean-mcmanus commented on #4976
I filed issue https://github.com/microsoft/vscode-cpptools/issues/4983 to track the relative path issue.

[2020-02-19 07:39] RafaGago commented on #4977
Unfortunately not.

BTW, I updated VS Code to 1.42 yesterday.

[2020-02-19 07:44] RafaGago commented on #4977
Maybe you can reproduce it by running the same commands, but piping "ssh" instead of "docker" to your local host.

[2020-02-19 08:03] valeros commented on #4976
I used relative paths just for that synthetic example, so relative paths actually not a problem because we use absolute paths when rendering our template for `c_cpp_properties.json` file. So in our case it's all right as long as it works properly with absolute paths.

Thanks!

[2020-02-19 08:17] ghost opened #4984 "Array size error when using 2+ variable length arrays"
Type: Debugger
- OS and Version: Ubuntu 18.04.4
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3

Steps to Reproduce:

Compile the following code with `clang-9 -g test.c` then set a breakpoint on line 10. array1 will use whatever size array 2 has. If array 2 is larger you can access/change out of bounds memory. I was not able to reproduce the error using lldb-9 and lldb-mi-9

[code]
Her

[2020-02-19 10:03] kartikeyshetty commented on #4969
Unfortunately i still haven't found a way to reproduce this consistently. But i see a case ( which may or may not be related to this particular issue) where the database is being cleaned and re-parsed.

We have a particularly large C codebase. When a user pulls this code from git and adds it as a workspace it takes 4-5 hours for the extension to index it completely . To get away with this substant

[2020-02-19 14:23] lujfsd opened #4985 "breakpoint not triggered on MAC"
Issue Type: <b>Bug</b>

breakpoint not triggered on MAC

Extension version: 0.26.3
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz (4 x 2900)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_sta

[2020-02-19 14:29] TheMarkie commented on #4980
Thank you for the quick reply.

The goal should be to allow the Intellisense to work almost 1 to 1 to how the code is compiled, no? I'm not sure how the Intellisense works exactly but if fundamentally it just parses the output from cl.exe then we cacn have an "experimental" option that allows all kinds of args in compilerArgs or the use of a command file.

Maybe since MSBuild is available for C++

[2020-02-19 15:10] fnafnio commented on #4970
I was setting intellisenseMode to gcc-x64, but as I gathered from the Log Diagnostics output, the extension defaulted to "msvc-x64" as if I hadn't changed it.
Setting the compilerPath to, in this case, an up to date version of MinGW-gcc the squiggles.

![image](https://user-images.githubusercontent.com/1956282/74838598-243b1000-5324-11ea-8d19-4b498c69407d.png)

Now both macros are expanded, but wi

[2020-02-19 19:20] Colengms commented on #4970
Hi @fnafnio .  I'm able to repro the issue with the macro not being fully expanded on hover, with Visual Studio.  (the C/C++ Extension shares common code for IntelliSense with VS).  I've opened a bug against VS here: https://developercommunity.visualstudio.com/content/problem/923319/in-gcc-intellisense-mode-nested-macros-may-not-be.html

[2020-02-19 21:22] sean-mcmanus commented on #4969
Your logging doesn't show tag parsing. It just shows that 41k files were found in the search phase. Are you saying the tag parsing occurs afterwards?

If you set your C_Cpp.loggingLevel to the hidden value of "7" (and maybe Reload Window) you should be able to see logs related to why a file needs to be re-tag parsed, such as the timestamp being different.

[2020-02-20 01:39] sean-mcmanus commented on #4982
@Nadeem-Ullah Can you update your includePath setting and/or run C/C++: Log Diagnostics to see what includePath is being used?

[2020-02-20 01:40] Colengms commented on #4959
Closing this as a duplicate.

[2020-02-20 01:40] #4959 closed, assigned to nobody

[2020-02-20 01:43] Colengms commented on #4929
@pedro-w .  Thanks for digging into this.  I think you are absolutely correct.

[2020-02-20 07:50] BrightXiaoHan opened #4988 "Start gdb fail when attach debug a program.(Authentication is needed to run `/usr/bin/gdb' as the super user)"
Type: Debugger

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.42
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): Python
- A clear and concise description of what the bug is:
I want to mix debug C++ and python code. So I launch my python program with ptvsd. Then I start my python debug configuration and

[2020-02-20 08:40] bvschaik opened #4989 "Extension randomly gets stuck communicating with the IntelliSense process on Mac"
Issue Type: <b>Bug</b>

I'm working with a fairly large C codebase (~75k lines of code), and the plugin stops working at random.

When it does:
- Code completion is not available
- File outline is not available
- Checking for errors/warnings stops working
- Quick fixes and function documentation remain on "loading..."
- Sometimes, CPU usage for the C/C++ plugin process goes up and remains high unt

[2020-02-20 18:01] michelleangela commented on #4989
@bvschaik, you can[ enable logging for the language server ](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server) to get info on what the server is processing at the time when IntelliSense features are not working.

In addition to the language server logs, can you also provide the following info:
- When opening the project on VSCode, are there files al

[2020-02-20 18:19] Colengms opened #4990 "Switch to using new VS Code WorkspaceEditMetadata API for Rename"
VS Code has added a new API for previewing refactor operations.  https://github.com/microsoft/vscode/issues/77728

 Creating this issue to track switching to using it instead of our own Rename UI.

[2020-02-20 18:28] mikepelley opened #4991 "Remap directory names inside include directive"
**Type: LanguageService**

Our build system copies source files and includes into certain directories and then does the build. A consequence of this is that some .c files have includes like this:

`#include <subdir/myapp.h>`

In this case, "subdir" only exists in the build tree after a build has been implemented. In the source tree there is an include directory that contains myapp.h directly.

Is

[2020-02-20 18:35] bvschaik commented on #4989
@michelleangela I've enabled debug logging, if it happens again I will post the log.

Regarding your other questions:

It differs. Sometimes I have none, sometimes a couple of dozen. Since I didn't pay attention to the number of open files when starting VSCode, I don't know what happens if there are none or 1 open at the start. I'll try to keep track of that.

No, I just have the one project/direc

[2020-02-20 18:35] Colengms opened #4992 "Switch to using VS Code Semantic Tokens API for colorization"
VS Code is implementing an API for Semantic Colorization.  https://github.com/microsoft/vscode/issues/86415

Opening this issue to switching to using that instead of our own semantic colorization implementation.

Proposed mappings from our tokens to VS Code tokens:

Token | old TextMate Scope | new Token Type | standard/custom | new Token Modifier | Fallback
-- | -- | -- | -- | -- | --
Class Templ

[2020-02-20 18:37] t0ni0 commented on #4967
Thanks for taking the time to investigate this with me. I have determined that the cause of my problem was indeed DLP and Anti-Virus software causing the Intellisense server process to slow down to snail pace. The DLP software actually spawns a monitoring thread for every working thread as I could see in the call stack. I think the only solution for me is to request an exemption for the extension.

[2020-02-20 18:37] #4967 closed, assigned to nobody

[2020-02-20 18:49] #4955 closed, assigned to nobody

[2020-02-20 18:57] rishav394 commented on #1184
@akrsnr How are you getting that awesome IntelliSense while you are typing the code? Is that an extension?

[2020-02-20 19:31] nomanaadma commented on #1184
@rishav394  it is a built in feature of vscode

[2020-02-20 20:23] rishav394 commented on #1184
@akrsnr Strange. I don't get that kind of intellisense. Atleast not on the stable version of vscode. That's so useful.

[2020-02-20 22:17] #4934 closed, assigned to nobody

[2020-02-20 22:21] bobbrow commented on #4859
Can you run the "C++: Log Diagnostics" command?  This should tell you what the include path was determined to be.  If "omp.h" is not in one of those folders, then that would explain why there is a squiggle.

[2020-02-20 22:29] bobbrow commented on #4614
We're tracking #4655 as the fix for this.

[2020-02-20 22:29] #4614 closed, assigned to nobody

[2020-02-20 22:35] bobbrow commented on #4613
`files.exclude` only works for files within your `${workspaceFolder}` so you wouldn't be able to exclude these external files that way.  We should only be adding paths for headers that your compiler is using and clang has the ability to choose gcc headers.

What do you see when you run `/usr/bin/clang -v -E -x c++ - /dev/null` in your terminal?  It should print out a list of system include paths a

[2020-02-20 22:41] bobbrow commented on #4590
This does not appear to be an issue with the C++ extension.

[2020-02-20 22:41] #4590 closed, assigned to nobody

[2020-02-20 22:46] bobbrow commented on #4520
We do not plan to support placement of c_cpp_properties.json outside of the code folder at this time.

[2020-02-20 22:46] #4520 closed, assigned to nobody

[2020-02-20 22:47] #4513 closed, assigned to mluparu

[2020-02-20 22:52] bobbrow commented on #4459
We took care of this already.

[2020-02-20 22:52] #4459 closed, assigned to nobody

[2020-02-20 22:55] bobbrow commented on #4450
This is a VS Code issue tracked by microsoft/vscode#82791

[2020-02-20 22:55] #4450 closed, assigned to nobody

[2020-02-20 22:56] bobbrow commented on #4446
Will be addressed with #4992

[2020-02-20 22:56] #4446 closed, assigned to nobody

[2020-02-20 22:58] bobbrow commented on #4440
Closing duplicate issue.

[2020-02-20 22:58] #4440 closed, assigned to nobody

[2020-02-21 02:36] fcharlie commented on #3683
@sean-mcmanus I am eager to know if there is any recent progress on this issue.
PS: I am using Remote-WSL to develop C ++ projects. If I am running Ubuntu, I can also use Atom (Linter-Clang) as an alternative.

I took a look at the commits for this project and it seems that there haven't been any recent commits to the 'intellisense' issue.

[2020-02-21 03:47] hellyzh opened #4994 "Intellisense not work if not install visual studio with C/C++ compiler"
Intellisense not work as below, but if I installed visual studio with C/C++ compiler, it can work well.
The "compilerPath" I used is g++.exe, not visual studio. So visual studio should not give impact to intellisense. Please check  diagnostic logs.

![image](https://user-images.githubusercontent.com/49181894/75002090-4789ca80-549e-11ea-8cfc-1e617bd46fcb.png)

[diagnostics_notwork_not_installed vis

[2020-02-21 04:46] amit13091992 commented on #574
@sean-mcmanus
Can you please tell me for JS as well. For my React project this issue is happening.

[2020-02-21 08:09] chongchai commented on #429
I am also look forward to the linux arm support

[2020-02-21 12:18] alejnp opened #4995 "Setting default configurations available to all folders"
Currently, when you open up a folder and it loads the extension, you are moved to a configuration based on your system. For example on Linux, you get the following:

[code]

In this configuration, you can set things like the IncludePath or different Defines, and you can modify it on `.vscode/c_cpp_properties.json` to include additional configurations.

Is it possible to define a User-global list o

[2020-02-21 12:42] paedocypris commented on #4612
I have the same issue as the original poster, also with a CMake project. However, I can debug the executable generated by calling devenv on it and using visual studio to debug it.

I am using VS2017 if that matters.

[2020-02-21 12:54] tlwetteronline commented on #4975
Hi @Colengms,

I think I have the same problem, so perhaps I can answer your last question. In the embedded terminal (bash with Ubuntu in my case), I get the correct path, and can navigate to the code via Alt+Click. But in the problems tab, the workspace path seems to be prepended, e. g.:

Terminal:
g++-8 -Wall [...] -c /home/nowcastglobal/prozess/nowcastweather/src/io/fileConfiguration.cpp -o /ho

[2020-02-21 13:05] Ts-OV opened #4996 "Deadlock in VC debug config parsing logic (attach to gdbserver)"
Type: Debugger

- OS and Version: Ubuntu Linux 18.04.4 LTS x64, 4.15.0-88-generic
- VS Code Version: Version: 1.42.1
- C/C++ Extension Version: Version 0.26.3: January 22, 2020
- Other extensions are disabled
- A clear and concise description of what the bug is.

_**Deadlock in VC debug config parsing logic (attach to gdbserver)**_

**Steps to Reproduce:**

1. Add debug configuration template:
[co

[2020-02-21 15:36] ololobus commented on #1816
I still have the same issue. Microsoft.VSCode.CPP.Extension.darwin utilizes 100% of CPU even with `C_Cpp.workspaceParsingPriority` set to `low`.

[2020-02-21 16:21] davidgtl opened #4997 "Error: Cannot find module 'vscode-nls'"
**Type: LanguageService**

**Describe the bug**
- OS and Version: 5.3.0-28-generic #30~18.04.1-Ubuntu
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): No other extensions
- A clear and concise description of what the bug is.

Syntax highlight and code navigation are not working

**To Reproduce**

1. Open

[2020-02-21 16:30] Ts-OV commented on #4996
If using `"request": "launch"` (_despite sounds a bit illogical, as we're attaching to already running process, just supplied with gdbserver i-face_) without `"processId"` as advised in https://github.com/microsoft/vscode-cpptools/issues/577, the DB session init breaks with complain:
`remote replied unexpectedly to 'vMustReplyEmpty': timeout`
(_Note. Plain acrh specific gdb can connect fine to the

[2020-02-21 16:44] Ts-OV commented on #4996
Ok. After second try worked ;)
Update the instructions then (https://code.visualstudio.com/docs/cpp/launch-json-reference).
It sounds really illogical to use `"request": "launch"` to actually do the _attach_

[2020-02-21 16:44] #4996 closed, assigned to nobody

[2020-02-21 17:16] rsvargas commented on #3918
It would be nice to have something like `sourceFileMap` for file path translation for when build commands are executed inside a container, as their path roots will be different than the ones seen by vscode.

I'm currently using sed to change the paths, but it needs to be rebuilt every so often.

[2020-02-21 18:18] Colengms commented on #4997
Hi @davidgtl .  Has this issue been occurring since the extension was installed?  We have been receiving reports of the extension not getting properly installed, perhaps due to VS Code being closed while the install was still in progress.  Could you try uninstalling it, closing VS Code, ensuring the extension directory is removed from the install location (likely in: ~\.vscode\extensions), and rei

[2020-02-21 18:26] Colengms commented on #4995
Hi @Alxe .  Would setting default configuration values in your user/global settings.json help?

[code]

[2020-02-21 18:36] michelleangela commented on #4989
@bvschaik thanks for providing more info. Since a consistent repro steps have not been determined yet, we'll need the logs to further see what's happening when the issue occurs. Perhaps the logs will show some consistent processing behavior when the issue occurs.

[2020-02-21 18:50] Colengms commented on #4994
Hi @hellyzh .  Both of the logs you posted appear to be configured identically, other than being from different folders/projects.  Could there have been another change to your system other than installing VS?  Or, could there have been a common dependency that installing VS may have altered?  Are there files still present under C:\USERS\HELLY\APPDATA\LOCAL\ARDUINO15\PACKAGES\AZ3166\HARDWARE\STM32F

[2020-02-21 18:51] davidgtl commented on #4997
"Have you tried turning it off and on again?" Thanks! worked like a charm.
I had tried to reinstall both the extension and the application, but forgot about the existence of ~/.vscode. I don't believe it ever worked properly on this machine, I had just basic syntax highlighting and just assumed it was a misconfiguration problem on my part

[2020-02-21 18:51] #4997 closed, assigned to nobody

[2020-02-21 19:27] kamala-nayana commented on #69
Pretty printing is not working for me. I am using gdb in ubuntu.
![Screenshot from 2020-02-22 00-56-15](https://user-images.githubusercontent.com/30267517/75065113-2bbe0d00-550e-11ea-82c3-3cc81b1cd783.png)

[2020-02-21 20:13] sean-mcmanus commented on #3683
@fcharlie The bug is being tracked by https://developercommunity.visualstudio.com/content/problem/858569/incorrect-cc-intellisense-error-enable-if-attribut.html -- it could use more upvotes. It would need to get fixed in our closed source code shared with VS so you wouldn't see any IntelliSense parsing fixed in our open source commits.

[2020-02-21 20:15] sean-mcmanus commented on #574
@amit13091992 Does using [js]: { "editor.quickSuggestions": true } not work? Our extensions should not be affecting JavaScript quickSuggestions. Have you tried asking the VS Code team about your issue?

[2020-02-21 20:19] sean-mcmanus commented on #1816
@ololobus Can you file a new issue with more repro details?

[2020-02-22 01:12] sean-mcmanus opened #4998 "[cppvsdbg] "expression must have a pointer type" in the Watch window for types that implement operator->()"
1. Use the cppvsdbg debugger.
2. Use object->val in the Watch window, where object is a type that implements operator->().

Bug: The Watch windows shows the error "expression must have a pointer type"  instead of evaluating the operator->(), which returns a pointer type and then using that result to do the ->val to access the value.

[2020-02-22 05:08] amit13091992 commented on #574
No @sean-mcmanus It did not work, any suggestions for how can i resolve it.

[2020-02-22 05:35] hellyzh commented on #4994
1. Confirmed files are present under C:\USERS\HELLY\APPDATA\LOCAL\ARDUINO15\PACKAGES\AZ3166\HARDWARE\STM32F4\1.6.5\
2. The prior line shows not found "mbed.h". But mbed.h is under the folder. And nothing changed, after installed Visual studio C/C++ compiler, intellisense will work, I tested on two servers.

Please check screenshots:
A. not install visual studio:
![image](https://user-images.github

[2020-02-22 07:36] alejnp commented on #4995
Unfortunately, no, it wouldn't help. That setting "just" pastes one ore more paths to the default IncludePath.

My use case is more related to versioning. A library may have several versions, with different headers/interfaces sharing the same header hierarchy, with a different root path i.e. `${Root Folder}/mylib-${Version}/same/name/space.h`.

I want to be able to choose which version is used in

[2020-02-22 14:03] stonedreamforest commented on #664
+1

[2020-02-22 19:13] logoff commented on #3174
In Manjaro Linux the solution I found is similar. Installing clang-format:

`pamac install clang-format-all-git`

And then editing `settings.json` as @penguingovernor exposed in [his comment](https://github.com/microsoft/vscode-cpptools/issues/3174#issuecomment-463944461).

[2020-02-22 19:26] QuanDev2 commented on #1329
I'm sorry, copy it and paste it to where?

[2020-02-23 02:55] zmt0516 commented on #4975
Thank you very much @Colengms .
You gave me ideas for solving this question.
I added this in tasks.json and everything is OK now.
`
"problemMatcher":  {
                "base": "$gcc",
                "fileLocation": [
                    "absolute"
                ],
                "pattern": {
                    "regexp": "^(.*):(\\d+):(\\d+):\\s+(.*)$",
                    "file": 1,

[2020-02-23 02:55] #4975 closed, assigned to nobody

[2020-02-23 10:44] FranciscoPombal opened #4999 "Yet another erroneous "expression must have a constant value" intellisense problem"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04 (latest updates and HWE)
`$ uname -isrvmop`: `Linux 5.3.0-40-generic #32~18.04.1-Ubuntu SMP Mon Feb 3 14:05:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): Issue persists even with a

[2020-02-24 04:13] ahicks92 commented on #3387
I'm having the same problem.  The diagnostics show that it's in msvc-x64 even if the compiler path is clang and the IntelliSense mode is explicitly set.  My c_cpp_properties.json:

[code]

i've also tried this without the compile_commands.json, and with/without the CMake configuration provider enabled, which is using Clang.

[2020-02-24 04:39] huanghantao opened #5000 "Can vscode dynamically adjust the follow-fork-mode?"
My program looks like this: I have a master process, the master process forks a manager process, and the manager process forks the worker process.
Assuming that I set the follow-fork-mode child, only breakpoints can end up in the worker process.
Can I set the follow-fork-mode child to stop the breakpoint in the manager process, and then set the follow-fork-mode parent to stop the breakpoint in the

[2020-02-24 06:49] dufuhang commented on #3829
It persists after I tried every workaround above....What shoule I do...

[2020-02-24 09:13] Ehlarm commented on #429
+1 please for Raspian (Pi4) "Architecture arm is not supported" :(

g++ & gdb (Raspbian 8.2.1-2) 2018?
Electron: 7.1.7
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux arm 4.19.97-v7l+

[2020-02-24 09:32] fcharlie commented on #3683
@sean-mcmanus Because IntelliSense is closed source software, we can't get the latest progress, so I want to let you know the progress of the repair. Thanks.

[2020-02-24 14:32] ghost opened #5001 "[Feature Request] Debug Console input history suggestions (VSCode 1.42 feature) does not work with cpptools"
Type: Debugger

**Describe the bug**
- OS and Version: Debian 9
- VS Code Version: 1.42.1
- C/C++ Extension Version: 26.3
- Other extensions you installed (and if the issue persists after disabling them): Issue persists with all extensions disabled
- A clear and concise description of what the bug is.
In VSCode 1.4.2, support was added for debug console input history suggestions: https://code.visu

[2020-02-24 16:17] psclkhoury commented on #4957
I realized that I am using the `msCompile` problem matcher which comes from vscode and not the `gcc` one that comes from the `c/c++ extension`.

I solved my problem by writing a custom problem matcher for linking errors and combining it with the `msCompile` one.

[code]

I will close this issue.

[2020-02-24 16:17] #4957 closed, assigned to nobody

[2020-02-24 17:03] mfornet commented on #3829
After hitting against this issue, I started using [CodeLLDB](https://marketplace.visualstudio.com/items?itemName=vadimcn.vscode-lldb) and its working perfectly.

[2020-02-24 17:11] DBJDBJ opened #5003 ""PROBLEMS" Tab click does not find a file, obviously there"
![image](https://user-images.githubusercontent.com/145155/75174501-f80efd00-5730-11ea-82ac-a9511a2352e4.png)

Issue Type: <b>Bug?</b>

Code is up to date as is the C++ extension. Recently I started noticing this problem ..

After CTRL+CHIFT+B , I go to "Problems" click to the offending line and message pops up:

"Unable to open <file name here>: Unable to read file '\': "

Even if I see the said f

[2020-02-24 17:24] DonizeteVida commented on #3829
The same. I try CodeLLBD and works with no hard. Here I need to compile with flag '-g' to generate some files, so debug on CodeLLBD works To C use: 'gcc name.c -o a.out -g'. To C++ use 'g++ -g *'.

{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Launch",
            "type": "lldb",
            "request": "launch",
            "program": "${workspaceFolder}/a.out",

[2020-02-24 18:12] Colengms commented on #4999
Hi @FranciscoPombal .  I believe this is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/4736 , tracked by https://developercommunity.visualstudio.com/content/problem/854941/intellisense-shows-squiggle-for-use-of-gcc-compile.html in VS.  You may want to add a comment and/or upvote that issue.

In your case, log10() is not declared as constexpr, yet the compile is able to resolve

[2020-02-24 18:19] Colengms commented on #5003
Hi @DBJDBJ .  Were these warnings generated by the C/C++ Extension, or were they generated by cl.exe?  Given the compiler warning codes (i.e. C4129), I suspect these are coming from the compiler.  If so, could you look at the build output to see if there is an anomaly with that error message?

You may be seeing an issue with the `$msCompile` problem matcher, which is part of VS Code, not added by

[2020-02-24 18:59] Colengms commented on #3387
@sean-mcmanus , I believe what both @AlexMax and @camlorn are reporting is currently 'by design'.  On Windows, if we detected clang.exe or clang-cl.exe, and detect 'Windows Kits' within it's system includes, we change the IntelliSense mode to msvc, to account for Clang having enabled support for MS language extensions.  However, that means we will squiggle gcc/clang language extensions instead.

[2020-02-24 20:54] Colengms commented on #4994
Hi @hellyzh .  Are your logs from different machines, or the same machine?  They are 9 minutes apart, use different paths (START2 and START3), and the repro is the second one (9 minutes later).  Am I correct to interpret that as:
 * VS was initially installed
 * There was no repro with the first project (START2)
 * VS was uninstalled
 * The second project (START3) repro'ed.

Can you repro with STA

[2020-02-24 21:25] sean-mcmanus commented on #574
@amit13091992 I don't know. Can you ask someone on the VS Code team?

[2020-02-24 22:12] ahicks92 commented on #3387
Any workaround or way to change this?  My project isn't using (nor does it plan to use) Microsoft language extensions, and I don't think the CMake kits will let us work around this without customization.  It seems to me that if someone is going out of their way to explicitly specify the setting, then principle of least surprise is that the setting is obeyed.

Dropping `windowsSdkVersion` appears t

[2020-02-24 22:35] Colengms commented on #3387
Hi @camlorn .  If, when we query clang, it returns Windows Kits paths as system headers, it will have enabled MS language extensions.  Otherwise, Windows headers would not successfully compile, and you would see squiggles from our extension that refer into system headers.  Currently, you will see fewer IntelliSense issues in msvc mode than clang mode, when using clang on Windows.

I see here:  htt

[2020-02-24 23:05] FranciscoPombal commented on #4999
@Colengms Thanks. Closing as duplicate.

[2020-02-24 23:05] #4999 closed, assigned to nobody

[2020-02-25 01:54] hellyzh commented on #4994
I used same machine, same project. Intellisense works after installed VS and reset intellisense database.
1. before installing VS:
[diagnostics_beforeVS.log.txt](https://github.com/microsoft/vscode-cpptools/files/4247693/diagnostics_beforeVS.log.txt)
[c_c++_beforeVS.log.txt](https://github.com/microsoft/vscode-cpptools/files/4247694/c_c%2B%2B_beforeVS.log.txt)
![image](https://user-images.githubus

[2020-02-25 02:13] hellyzh commented on #4994
Since I made a VM snapshot, I restore it to not installing VS status, and tried reset intellisense database. Intellisense still not work, logs as below.
[c_c++_beforeVS_resetintellisensedatabase.log.txt](https://github.com/microsoft/vscode-cpptools/files/4247748/c_c%2B%2B_beforeVS_resetintellisensedatabase.log.txt)

[2020-02-25 04:11] amit13091992 commented on #574
Sure thank you for the reply.

[2020-02-25 05:25] bvschaik commented on #4989
@michelleangela Funny, after enabling logging it has not happened again, but I haven't done very much development work. I'll continue monitoring this and will post logs once it locks up again.

[2020-02-25 06:13] dufuhang commented on #3829
@DonizeteVida @mfornet
 emm,I installed that extension,but the output showed this messages below:
[code]
while I debugging with codelldb everytime.And I can't also open the download link.Maybe the net in my home or github have something wrong.I guess the codelldb works well if the net is well.

[2020-02-25 12:15] DBJDBJ commented on #5003
@Colengms Ignore the code please, it is irrelevant.  I click on the line and  V.Code does not behave as expected. I fail to see how this problem can come from the CL? I repeat: I go to "problem tab", I click on the file name (please see the image) and instead of focus being pushed to the edit window to that line I see the message as on the image.

[2020-02-25 12:26] DBJDBJ commented on #5003
Please peruse this image

![image](https://user-images.githubusercontent.com/145155/75247472-47593a00-57d2-11ea-9e3c-f06eb0ae9480.png)

VScode error message says "unable to resolve non existing file ....", while that same file is in the editor above ... Huh?

Lines 34, 35 in the code are deliberate mistake.

[2020-02-25 17:01] galvesribeiro opened #5005 "[gdbserver] Tasks.json task stuck even when isBackground = true"
Hello folks!

I have the following `tasks.json`:

[code]

And the following `launch.json`:

[code]

Following the numbers on the `tasks` array you will see that when I press F5, it build and pack the project (1), deploy it to the target device (3), ask the device to go into the debug mode (4).

The step 4 is where my problem exist. In order for the device to be able to _really_ start the `gdbserve

[2020-02-25 18:33] Colengms commented on #5003
The C/C++ Extension is not the only source of items on the Problems tab.  Compile errors are also reported on the Problems tab.  When a problem is reported by the C/C++ extension, it is either followed by "C/C++", or just the line and column numbers.  i.e. :

![image](https://user-images.githubusercontent.com/49173979/75274807-57fcb680-57b8-11ea-8ad1-a13478d053a5.png)

![image](https://user-images

[2020-02-25 20:20] DBJDBJ commented on #5003
Thanks ... Your reply is informative but what might be the role of the "Create File" blue button in case of pure compilation errors?

This info Might help: In case I actually click on that "Create File" button it creates the empty file, but in the root of the drive, in my case D:  ...

It might be my setup, but VC builds and debugs completely OK in this and other projects...

ps: problem matcher i

[2020-02-25 21:29] pieandcakes commented on #4612
@paedocypris I am still unable to reproduce it. I've looked at the issue that @esride-jts linked in the original post which points to virus scanning on the executable maybe causing a problem.

I've tried both a VS 2019 CMake and a VS 2017 CMake C++ hello world project then debugged with this extension and I can't duplicate the read access violation.

[2020-02-25 21:35] pieandcakes commented on #5005
@galvesribeiro I don't have as much experience with `task.json` as that is a feature wholly owned by the actual VS Code team (https://github.com/microsoft/vscode) but it looks like that task isn't completing so its hung on step 5 and you are wondering what can be done to get around it.

I think the way tasks.json is supposed to work is that it is sequential and that each task is meant to complete

[2020-02-25 21:37] galvesribeiro commented on #5005
@pieandcakes Thanks for the reply. The problem is that they told it is an extension problem and they told me to open the issue here (https://github.com/microsoft/vscode/issues/91342#issuecomment-590777355).

So, who would be the one that can help us? o.O

[2020-02-25 21:42] pieandcakes commented on #5000
This isn't something we support. In looking at the `gdb` [Fork](https://sourceware.org/gdb/onlinedocs/gdb/Forks.html) documentation, `follow-fork-mode` doesn't allow for you to debug that way.

 You want to set `detach-on-fork` mode set to `off` and then following the instructions [here](https://sourceware.org/gdb/onlinedocs/gdb/Inferiors-and-Programs.html#Inferiors-and-Programs) to switch between

[2020-02-25 21:43] #5000 closed, assigned to pieandcakes

[2020-02-25 21:44] pieandcakes commented on #4985
Duplicate of #3829

[2020-02-25 21:44] #4985 closed, assigned to nobody

[2020-02-25 21:45] pieandcakes commented on #4988
You can get around this by changing your `ptrace_scope` setting. Here is some information about it:
https://github.com/Microsoft/MIEngine/wiki/Troubleshoot-attaching-to-processes-using-GDB

[2020-02-25 21:47] pieandcakes commented on #4984
where did you get the error then? Were you using gdb ?

[2020-02-25 21:55] pieandcakes commented on #4947
@HongmouZhang this looks like a bug with the version of `gdb` that is shipping in MSYS2. You will need to file a bug with that tool maintainer.

[2020-02-25 21:55] #4947 closed, assigned to nobody

[2020-02-25 23:51] pieandcakes commented on #4998
@sean-mcmanus does this happen in VS also?

[2020-02-25 23:56] sean-mcmanus commented on #4998
I'll check...

[2020-02-26 00:04] pieandcakes commented on #4998
Yea, it doesn't work there either. I think the EE isn't doing the right thing. You should file a bug and send it to the cppEE person.

[2020-02-26 00:28] ghost commented on #4984
No I am using lldb (mi 9) on Ubuntu which may try to act like gdb. The debugger seems to work in most cases but with two var length arrays vscode gets it wrong. I attached a screenshot. vscode incorrectly claims array1 has a length of 2 as you can see on the left side of the screenshot. vscode seems to be whatever length the second array (or last) array is. Since vscode is using lldb-mi-9 to debug

[2020-02-26 00:35] sean-mcmanus commented on #4998
I filed bug https://developercommunity.visualstudio.com/content/problem/929993/cc-expression-evaluator-gives-expression-must-have.html .

UPDATE: Which got dup'd to https://developercommunity.visualstudio.com/content/problem/491328/debugger-fails-to-evaluate-overloaded-arrowstar-op.html

[2020-02-26 00:46] pieandcakes commented on #4998
So the workaround would be to call `object.operator->()->val` in your `object->val` scenario. This is a bug in the Expression Evaluator and i don't know if it is solvable.

[2020-02-26 00:50] pieandcakes commented on #69
@knayan111 Please run `info pretty-printer` in `gdb` and let me know if you have them installed.

[2020-02-26 00:55] Colengms commented on #4994
Hi @hellyzh .  I think I'm able to repro the issue.  What I'm seeing does not appear to be specific to installation of VS.  But, the existance of VS changes the timing of our initialization (because we broke CL.exe if found on the system), making the repro more likely to happen.

The good news is: I'm no longer able to repro the issue with our latest code in development (which we expect to release

[2020-02-26 01:03] #3906 closed, assigned to nobody

[2020-02-26 02:28] Colengms opened #5009 "Clang IntelliSense on Windows needs to be a combination of MSVC and Clang modes"
The following is from #3906:

Currently, we are always switching to MSVC IntelliSense mode for clang.exe or clang-cl.exe, on Windows (whenever we see "Windows Kits" paths returned by the compiler when probed, which appears to be always).  Clang enables some MSVC compatibility (required to compile windows headers?).  Unfortunately, not using a Clang IntelliSense mode will cause squiggles for valid

[2020-02-26 02:45] JillianQuinn commented on #3829
I just upgraded to Mac OS Catalina and I am using CodeLLDB and these configurations worked for me:

**### tasks.json file:**
[code]

**### launch.json file:**
[code]

[2020-02-26 03:22] hellyzh commented on #4994
I tried open the mbed.h for serveral seconds and run "Developer: Reload Window", looks like not work.
![image](https://user-images.githubusercontent.com/49181894/75308784-3d930d80-588a-11ea-84e4-0a6049318d3a.png)

[2020-02-26 08:19] RobRuckOB opened #5011 "Custom browse configuration path irregularities"
**Type: LanguageService**
Whilst looking at another unrelated issue with the C/C++ extension I turned on debug logging and saw something unusual in the paths listed in the "Custom browse configuration received:" section. Specifically, there are repeated lower-cased versions of paths (I can just about believe that's intentional due to platform differences) and/or paths with the workspace folder app

[2020-02-26 13:51] HackerBaloo commented on #2901
VSCode now shows "load more stack frames" but it is still a lot slower to debug in a deeper callstack it seams, perhaps we need to be able to set the number of frames loaded to improve this. I'm more than willing to investigate this further.
I do experiance very slow debugging, the last step-into took 25 s. And I have noticed that this happens in our deep request threads, if I set a breakpoint in

[2020-02-26 14:17] RATIU5-zz opened #5012 "IntelliSense throws #include errors with valid include paths"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro 10.0.17763
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): C++ IntelliSense

I loaded an empty OpenFrameworks project which generated the vscode files. I modified the `c_cpp_properties.json` so all the paths for my `Win32` b

[2020-02-26 15:26] eternalphane commented on #925
currently the only workaround is to copy custom natvis files to `GlobalVisualizersDirectory`, which is `~/.vscode(-insiders)/extensions/ms-vscode.cpptools-x.y.z/debugAdapters/vsdbg/bin/Visualizers`.

Ref:
https://github.com/microsoft/MIEngine/blob/7afd062458dc8533fbfb6b6bb9a15cdab5d1029e/src/DebugEngineHost.VSCode/HostConfigurationStore.cs#L45-L50

[2020-02-26 17:55] Colengms commented on #5011
Hi @RobRuckOB .  The "Custom browse configuration received:" in the log is referring to the custom configuration provider, and a browse configuration that we received from.  This looks like an issue with CMake Tools extension.  If you are seeing the issue without the CMake Tools extension, which other config provider were you using?  We would not log this message if we did not receive it from a co

[2020-02-26 18:13] Colengms commented on #5012
Hi @Akidus .  In order to provide IntelliSense, it's necessary to do a 'first pass' compilation (parse) of the source file, including resolving all #include'd headers and parsing/compiling them as well.  If we cannot find a header, we cannot provide accurate IntelliSense for files that include it.  It's necessary to either use `c_cpp_properties.json` to configure the C/C++ Extension with all of th

[2020-02-26 18:28] Colengms commented on #4994
Hi @hellyzh .  I see an anomaly in the last image you posted.  With "mbed.h" open, the first error you are seeing is that "mbed.h" cannot be opened.  The only way I know this is possible is with use of a `#include_next` statement.  Could you check if that error is associated with a `#include_next` statement?  If so, could you check for locations of other "mbed.h" files?

[2020-02-26 20:19] RATIU5-zz commented on #5012
The file lies in this directory: `C:\Developer\of_v0.11.0_vs2017_release\libs\cairo\include\cairo` (this is currently not linked to the directory because this was built for vs and I'm using the mingw32 compiler which does not include a cairo.h), as well in `C:\msys64\mingw32\include\cairo`.   Here is also the `c_cpp_properties.json`:

`{
    "env": {
        "ofPath": "C:/Developer/of_v0.11.0_vs20

[2020-02-26 21:06] bonfire62 opened #5014 "Renaming hangs IDE, takes long time to return"
**Type: LanguageService**

**Describe the bug**
- OS and Version: _Windows w/ Remote Development on linux CentOS_
- VS Code Version: _1.42.1_
- C/C++ Extension Version: _0.26.3_
- Other extensions you installed (and if the issue persists after disabling them): _disabled all extensions_
- A clear and concise description of what the bug is.
Renaming Variable take an unusual amount of time to return

[2020-02-26 22:33] sean-mcmanus commented on #5014
This is "by design". It has to compile the translation units the references are found in, in order to "confirm" the references. We have other issues that track improving performance. If you have the files open with the references and IntelliSense is done processing them, then it should be faster.

[2020-02-26 23:32] pieandcakes commented on #2901
@HackerBaloo One of the issues we have is that for each frame, we make 2-3 requests to the debugger to get information such as the frame's variables and their types so that we can display all that information in the frame. This causes additional delay.

If you want to take a look, the MIEngine adapter is [here](https://github.com/microsoft/miengine) and [these](https://github.com/microsoft/vscode-

[2020-02-26 23:36] Colengms commented on #5012
Hi @Akidus .  Your configurations do not include "defines" sections.  Is it possible that defines are being generated by the build system to control whether or not cairo should be used?  If so, those will need to be added to your configuration(s).

[2020-02-26 23:56] RATIU5-zz commented on #5012
@Colengms thanks for your reply. I have not used "defines" before and am not sure how to configure them/how to use them. That could be the solution; what would I need to add in the "defines" section?

[2020-02-27 01:20] Colengms commented on #5012
@johnratius For information on adding defines to your c_cpp_properties.json, we have documentation [here](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference).  But, determining what defines you need requires some knowledge of your build system (contents of your makefile).  I see from the image you posted that you also have a vcxproj file.  You might try opening the vcxproj in

[2020-02-27 01:33] RATIU5-zz commented on #5012
I looked at the Preprocessor Definitions and I found these only:

[code]
I will try adding these and edit in the results.

Same error occurred. I decided to add the cario.h path to the includes, but another error came up saying that another library, videoInput.h, cannot be found.

The makefile that is being included by the one in my current directory is this:

[code]

[2020-02-27 01:35] hellyzh commented on #4994
There is no `#include_next` statement in mbed.h, but I found if I double click on the file mbed.h to open it, the first problem for Arduino.h will change from `cannot open source file "mbed.h"` to `cannot open source file "mbed_stats.h"`.
![image](https://user-images.githubusercontent.com/49181894/75403978-2b75a580-5944-11ea-96a5-ff1d8a552722.png)
 If open mbed_stats.h, the problem will change bac

[2020-02-27 05:15] BrightXiaoHan commented on #4988
Thanks for your reply. This works for it. But
[code]
this prompt let me input the password to get root privilage. But it raise error directly.
Why this happend.

[2020-02-27 07:11] RobRuckOB commented on #5011
Thanks @Colengms, that was my first suspicion (CMake Tools, I mean), so I made sure to remove it from my c_cpp_properties.json file. But I guess that wasn't enough to properly clean it out.

I'll take this bug over to the CMake extension, thanks for looking.

[2020-02-27 07:12] #5011 closed, assigned to nobody

[2020-02-27 07:34] farqq commented on #3288
Is there any solution now?

[2020-02-27 08:01] Lennon925 commented on #3773
@sean-mcmanus one of my workmate has the same issue with this. The latest extension verison and vscode. I don't know where is wrong.

[2020-02-27 08:32] bvschaik commented on #4989
@michelleangela I finally got a lock-up today. It suddenly stopped while I was editing a line to reverse two bitwise operators. Last few lines of the log:

	Checking for syntax errors: file:///Users/bianca/projects/julius/src/graphics/screenshot.c
	Queueing IntelliSense update for files in translation unit of: /Users/bianca/projects/julius/src/graphics/screenshot.c
	cpptools/getCodeActions: 322
	t

[2020-02-27 16:20] ololobus commented on #1816
@sean-mcmanus I definitely can, but what kind of debug information I could provide? I have tried to attach this lang server process with `lldb`, but it has no debug symbols. I have found https://msdl.microsoft.com/download/symbols, but it seems to work only on Windows, while I have a problem on macOS

[2020-02-27 16:37] penagos commented on #106
I would also find this fix to be extremely useful. Some sort of setting we could toggle to directly pipe commands to GDB and not to the VSCode REPL interface. Or allow extensions to override this.

[2020-02-27 16:59] 3AceShowHand commented on #69
This also happens to me. I am using mac 10.14.6, with vscode 1.42, c/c++ plugin is 0.26.3, gdb 8.3. I cannot see the content of any STL containers, this is awful.
![image](https://user-images.githubusercontent.com/7138436/75466526-4b00e280-59c5-11ea-8bdb-550e0c8d80d5.png)
@pieandcakes, is there any suggestion to help me solve the problem ?

[2020-02-27 17:25] omendezmorales opened #5018 "InvalidOperation exception when trying to view Registers in debugging session"
Issue Type: Bug

Entered a debug session using 1-1.cpp from this [repo](https://github.com/usernamegenerator/CrackingTheCodingIntervew4th) , and then set a breakpoint in line 28 (within the uniqueCharUsingArray function) .
The debug session looks like it broke, and in the Debug console, I read:
_"Stopping due to fatal error: Invalid OperationException: No handler registered for request of type 're

[2020-02-27 18:53] pieandcakes commented on #4988
is the process you are attaching to running as `root` or a different user? If so, you will need to elevate.

[2020-02-27 18:56] pieandcakes commented on #106
I think the last suggestion that was easy to implement would be to offer an alternative to `-exec` by using the ` character.

would that be sufficient to get around this issue? The setting idea would require more work and probably wouldn't happen as quickly.

@Makogan

I'll see if there is a separate feature request for this and if not, i'll create one.

[2020-02-27 18:59] pieandcakes commented on #69
@knayan111 @JinLingChristopher In reading this [StackOverflow article](https://stackoverflow.com/questions/11606048/how-to-pretty-print-stl-containers-in-gdb) it looks like you are missing the `stl` pretty printers. You will need to figure out where you can get those for the `gdb` you are using. Unfortunately I don't know where that would be.

I would expect something like `libstdc++` or something

[2020-02-27 19:28] lochem2-718 commented on #4531
I would also like valgrind integration, maybe as an option in for launch.json like gdb.

[2020-02-27 19:44] penagos commented on #106
Having the ` character as an alternative in the interim would certainly help but I'd still like to see some mode where we could directly talk to the debugger without prefacing commands (whether or not that entails adding a setting for the current debug console to differentiate between evaluating expressions in the target lang/debugger or providing a mechanism for debugging extensions to create and

[2020-02-27 20:27] michelleangela opened #5019 "Unexpected autocomplete suggestion list after typing a "." for float or doubles"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win10
- VS Code Version: 0.26.3

**To Reproduce**

1. Start typing a float or double
2. When typing "." after a digit pause for a second and see that autocomplete suggestion list displays with unexpected suggestions.

**Expected behavior**
No suggestion list displays after typing a "." for a float or double.

**Screenshots**
![image

[2020-02-27 20:31] HunterZ opened #5020 "Support automatically folding inactive regions"
**Type: LanguageService**

**Describe the bug**
- OS and Version: RHEL 7.5 64-bit
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): twxs.cmake, ms-vscode.cmake-tools, slevesque.vscode-hexdump
- A clear and concise description of what the bug is.

Would like a way to fold/collapse all inactive code regions.

[2020-02-27 20:43] michelleangela commented on #5020
This is a duplicate of #407. Please up-vote #407.

[2020-02-27 20:43] #5020 closed, assigned to nobody

[2020-02-27 20:56] segevfiner commented on #106
I think this is the way that it is because the debug adapter protocol (DAP henceforth) only supplies a request for evaluating an expression in the debugged language. The debug console is hardwired to use that request and has no clean way to expose alternative command lines, such as the debugger's own CLI.

It stands to reason that the `-exec` hack is the best whoever developed it could come up wit

[2020-02-27 21:14] karwa commented on #106
The fact that this issue is still open is both tragic and hilarious.

This was actually one of the reasons I ditched VSCode. Who has time for an IDE that makes debugging your code _even harder_?

[2020-02-27 22:19] HunterZ commented on #407
I want to make sure that this bug covers the ability to automatically (on either file open, or user command) fold inactive code regions (especially due to preprocessor macros). The bug title+description don't make this clear, so I wrote bug #5020 which was closed as a duplicate of this. Thanks.

[2020-02-27 22:32] sujiacong commented on #2118
I am interested in this

[2020-02-27 22:53] pieandcakes commented on #5018
@omendezmorales According to the [DebugAdapterProtocol](https://github.com/microsoft/vscode-debugadapter-node/blob/master/protocol/src/debugProtocol.ts) the request type `read-register-list` isn't part of the official protocol and this is the expected error message since the extension is now getting a request type that is unknown.

[2020-02-27 22:53] #5018 closed, assigned to pieandcakes

[2020-02-27 22:58] pieandcakes commented on #4935
You can add them in the exception pane. Is your suggestion to provide those (disabled) by default or is it not stopping when you add those exceptions?

[2020-02-27 23:08] sean-mcmanus opened #5022 "Find All References and Rename stops working after Rename is canceled"
1. Do Rename on some code that takes long enough for the progress indicator to appear.
2. Click the Cancel button in the progress indicator.
3. Do a Find All References or Rename.

Bug: Endless progress bar occurs.

[2020-02-27 23:20] pieandcakes commented on #4942
You can add the support by changing the installed extension's `package.json`. You would need to add a block such as:

[code]

and then add in the breakpoint section:
[code]

This will tell VSCode that breakpoints set in your file should go to our extension. If we get enough upvotes we can look at adding it as part of the official extension.

[2020-02-27 23:21] pieandcakes commented on #4942
There should be a `make` support issue already if you want to go upvote that one.

[2020-02-27 23:29] sean-mcmanus opened #5023 "Semantic colorization doesn't update after deleting settings.json with colorization changes"
1. Put
[code]
in settings.json.
2. See the colors update with code
[code]
3. Delete settings.json.

Bug: The colors don't update. Reload window fixes it. The new colorization implementation might fix this: https://github.com/microsoft/vscode-cpptools/issues/4992

[2020-02-27 23:31] MedAzizTousli opened #5024 "Problem with passing input to std::cin during debugging"
Type: Debugger
- OS: Windows 10
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed: No other extensions
- A clear and concise description of what the bug is:
The main issue that I have is the inability to **pass input to std::cin** using VSCode debugging tool for C++. I tried different things that I found online, the main one was enabling `"externalConsole

[2020-02-28 02:51] sean-mcmanus commented on #3288
@farqq Not yet.

[2020-02-28 03:00] sean-mcmanus commented on #4989
It sounds like our main process is stuck perhaps in a deadlock. When it gets stuck, does killing the Microsoft.VSCode.CPP.IntelliSense.darwin process cause it to start working again? Are you able to attach to the processes to get a call stack of where the threads are stuck (threads that are doing work and not just waiting). We're planning to release an insiders update on Monday with lots of change

[2020-02-28 03:02] sean-mcmanus commented on #1816
Our Mac binary should have debug symbols embedded in it and call stacks should be visible. Does it say "no symbols loaded" when you attach with a debugger?

[2020-02-28 03:03] sean-mcmanus commented on #1816
@ololobus Are you on Catalina? We're planning to release a fix for Mac debugging on Monday: https://github.com/microsoft/vscode-cpptools/issues/3829 .

[2020-02-28 03:06] xzhang515 commented on #4859
Hi, I'm having the same problem, would you please help to check my log? Thanks!

-------- Diagnostics - 2/27/2020, 6:56:25 PM
Version: 0.26.3
Current Configuration:
{
    "name": "Mac",
    "includePath": [
        "${workspaceFolder}/**"
    ],
    "defines": [],
    "macFrameworkPath": [
        "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/Syste

[2020-02-28 03:28] sean-mcmanus commented on #4859
Is your clang version supposed to be 5.0? Do you have the correct kit selected with CMake Tools?

[2020-02-28 03:36] Makogan commented on #106
I agree with what @penagos said,the \` character is certainly better than -exec, but it's still infinitely many more characters than not typing anything. Of course, beggars can't be choosers, if the \` character is the only feasible solution I'll be satisfied, but in an ideal world, using the integrated debug mode as one would a regular terminal for GDB would be a dream come true.

[2020-02-28 03:57] bvschaik commented on #4989
I sampled the stuck process in Activity Monitor, which results in call stacks for every thread (most of which are waiting): [Sample of Microsoft.VSCode.CPP.Extension.darwin.txt](https://github.com/microsoft/vscode-cpptools/files/4265182/Sample.of.Microsoft.VSCode.CPP.Extension.darwin.txt)
List of open files for the process: [open_files.txt](https://github.com/microsoft/vscode-cpptools/files/426519

[2020-02-28 04:26] pieandcakes commented on #106
@Makogan In a perfect world we would be able to tell the difference between an Eval request and a repl call within the debug adapter but with the way it was designed, we don't know this at all at the layer where we communicate with gdb. To change the behavior to allow for it to be a direct gdb terminal would require a major refactoring.

[2020-02-28 04:37] penagos commented on #106
@pieandcakes thanks for adding support for `. Instead of modifying the debug console to directly communicate with GDB would it be just as much work to invert what is classified as a debugger command? I.e. if I toggle **invertREPLExec**, \<command\> now maps to the debugger, and -exec \<command\> is evaluated as a REPL call? I personally never use the debug console to evaluate expressions (in C++).

[2020-02-28 05:13] chrismooredev commented on #429
I would love to see ARM support for my personal Chromebook, using the [Linux (Beta)](https://support.google.com/chromebook/answer/9145439) subsystem.

With greater Chromebook adoption in K12, it would also lower the barrier of entry to using Microsoft's VSCode for native development for educational, and personal student use.

[2020-02-28 10:10] ololobus commented on #1816
I am on Catalina, and stacktrace (during 100% load by Microsoft.VSCode.CPP.Extension.darwin) looks like:

[code]

It is OK to see ASM instructions for syscalls, but I guess, that for Microsoft.VSCode.CPP.Extension.darwin (frame 6) I should see more details, doesn't it? Probably #3829 will fix the issue.

[2020-02-28 11:01] sukuya commented on #2456
When I run `lldb-mi` executable from the terminal, it loads `gdb`. Any reason for that?

[2020-02-28 12:26] Yanpas opened #5027 "Pause analysis doesn't work"
**Type: LanguageService**

**Describe the bug**
- OS and Version: arch linux 5.5
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

1. Open big project
2. Click the icon with cylinder in the status bar and select Pause analysis
3. Micr

[2020-02-28 17:52] Colengms commented on #5027
Hi @Yanpas .  Thanks for reporting this.  I can repro.

[2020-02-28 17:55] xzhang515 commented on #4859
Hi,

Thank you for your reply. My clang version is 11.0.0. How to select correct kit with Cmake Tools?

[2020-02-28 18:02] pieandcakes commented on #106
Yes, because in the depths of [MIEngine](https://github.com/microsoft/miengine) it ends up going down the same evaluation path as normal watch windows because by design, this was supposed to be similar to a watch window request. As such, at the protocol level we don't have a good way to issue direct commands to the debugger and since it goes down the same path as a watch window request, there isn'

[2020-02-28 18:18] amir9480 commented on #664
I also created an extension for generating implementations last week.
With namespace, nested class/namespace, classes with templates and methods with templates support.

![screenshot](https://user-images.githubusercontent.com/16279288/75574465-9a055100-5a73-11ea-87b5-f9faa26cf29b.gif)

[amir9480/vscode-cpp-helper](https://github.com/amir9480/vscode-cpp-helper)

https://marketplace.visualstudio.com

[2020-02-28 18:28] pieandcakes commented on #2456
@sukuya It shouldn't unless you have it mapped. I know it "emulates" gdb's MI mode so it will say (gdb) as that was what is expected by all the tools out there when a debugger is running in mi mode.  If you are saying that it is actually gdb then there might be a symlink somewhere.

[2020-02-28 18:40] bobbrow commented on #4246
This is a duplicate of #3683.

[2020-02-28 18:40] #4246 closed, assigned to nobody

[2020-02-28 18:48] bobbrow commented on #4859
@flysumo I'm going to create a new issue for your problem.  This will help us organize the responses better.

@stanpcf, If you can share the "Log Diagnostics" output with us, we can continue to try to help.  Otherwise we are unable to proceed and will close the issue.

[2020-02-28 18:56] bobbrow opened #5028 "Configuration issue"
Hi, I'm having a problem, would you please help to check my log? Thanks!
[code]

_Originally posted by @flysumo in https://github.com/microsoft/vscode-cpptools/issues/4859#issuecomment-592288622_

[2020-02-28 18:57] bobbrow commented on #5028
Is your clang version supposed to be 5.0? Do you have the correct kit selected with CMake Tools?

*Orignally posted by @sean-mcmanus in #4859*

[2020-02-28 18:58] bobbrow commented on #5028
Hi,

Thank you for your reply. My clang version is 11.0.0. How to select correct kit with Cmake Tools?

*Originally posted by @flysumo in #4859*

[2020-02-28 19:11] rvanlaar commented on #4942
Hi @pieandcakes  thank you for your response.

This is great. It works.
One note: the extension for bison/yacc is .y.

The contributes part in the package.json looks like:
[code]

[2020-02-28 19:47] rvanlaar commented on #4942
I tried searching for a `make` support issue, but couldn't find it.
If there is one that you know of, could you point me to it?

[2020-02-28 20:00] jandyman opened #5029 "Cache results of Find All References"
I'm not sure if others are having this problem, but I'm finding Find All References to be very slow on several projects which aren't even that big. In addition, I haven't figured a way limit the scope of the searches. In all other senses, the navigation and Intellisense are better than Eclipse (my previous goto for this), but Find All References is both too slow and something I use ALL the time. I

[2020-02-28 20:13] sean-mcmanus commented on #5028
@flysumo Can you [enable logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and look in the logs for a reason why clang 5.0 would be getting picked up? It might be falling back to some old compiler on your machine. Your log diagnostics output should show "--clang_version=11000".

The commands are CMake: Scan for Kits and Select a Kit.

[2020-02-28 20:27] xzhang515 commented on #5028
@sean-mcmanus Here is the log:
-------- Diagnostics - 2/28/2020, 12:24:38 PM
Version: 0.26.3
Current Configuration:
{
    "name": "Mac",
    "includePath": [
        "${workspaceFolder}/**"
    ],
    "defines": [],
    "macFrameworkPath": [
        "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks"
    ],
    "compilerPath":

[2020-02-28 20:44] sean-mcmanus commented on #4989
Thanks a lot for the tracing logs. You appear to be hitting the same issue we've been recently seeing in our automated tests on Mac in which communication to the IntelliSense process gets randomly stuck (our build lab repros it, but we haven't gotten local repros yet). We started noticing this regression after our Mac's machines updated to XCode/Clang 11, which suggests that an OS change may be to

[2020-02-28 21:04] sean-mcmanus commented on #1816
You've got the call stack for 1 thread, but that is not the thread that is using CPU. Are you able to get the stack for the thread that is doing work?

Is the CPU used on extension launch even if no C/C++ files are opened? Does the CPU usage started after a file is opened? Does the CPU usage go away after a while? Is there a database or flame icon in the status bar? Does hoveirng over them show an

[2020-02-28 21:12] bvschaik commented on #4989
You mean during such a lock-up? I'm not sure, the Macbook on which the extension got stuck yesterday has been rebooted, so it's in a clean state now and has not yet locked up.

Looking at the processes: I have one Microsoft.VSCode.CPP.Extension.darwin process, and two Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin processes. On my personal Macbook, I currently have three Microsoft.VSCode.CPP.Extens

[2020-02-28 21:17] sean-mcmanus commented on #5027
Do you have files open? If files are open, that can cause parsing of possible include dependencies of that file to occur even if the "pause parsing" is used.

Also, the pausing won't start until the dependencies of the currently "in progress" source file has all its dependencies finished parsing, so it may take a few seconds to actually pause if it's parsing system headers still, for example. Is t

[2020-02-28 21:27] bobbrow commented on #4942
Integrated support for `make` is something we've seen requested in our survey results, but I don't think an issue was ever opened on GitHub requesting this.  If you wouldn't mind opening an issue for others to find and upvote, we would appreciate it.

[2020-02-28 21:28] sean-mcmanus commented on #5028
The configuration for CookiesEngine.cpp looks correct, but the ModelMeshComputer.cpp appears to have incorrect configurations. Can you check the C/C++ Output window logging for "Custom configurations received" and look if it's returning incorrect data (e.g. bad compilerPath).

[2020-02-28 21:35] sean-mcmanus commented on #4989
Yes, there should be 1 "IntelliSense" process per open file up to a core limit. If you close files and wait several seconds, then the processes should close. Doing a Find All References or Rename can also spawn temporary IntelliSense processes.

[2020-02-28 21:38] Yanpas commented on #5027
Yes, I had several files open, after hitting pause nothing happened after a minute or so.  Compiling 5-6 files would be much faster. Intellisence began indexing after I made svn switch (changed a branch), which doesn't affect system headers. And it felt like not only open files were being processed. I don't have any logs to prove it but anyway current UX is sad.

[2020-02-28 21:40] xzhang515 commented on #5028
where to find the "custom configurations received"?

I tried to use intellisense in CookiesEngine.cpp. It doesn't work either.

[2020-02-28 21:41] pieandcakes commented on #4936
If you change `"externalConsole": false` does it work? It looks like per the DeveloperTools window they are expecting `xterm` (or whatever you have configured as the `Terminal -> External: Linux Exec` in `File` -> `Preferences` -> `Settings`) to be on the machine and it isn't. I keep getting:
[code]

I'm going to open an issue on their page.

[2020-02-28 21:48] sean-mcmanus commented on #5027
Our next release will have a fix for the "switch branch" scenario, which would reduce IntelliSense parsing (different from the workspace parsing): https://github.com/microsoft/vscode-cpptools/issues/2806 .

[2020-02-28 21:49] MedAzizTousli commented on #5024
Problem solved. I just needed to step over in VSCode debug interface so that the external console let me write in it.

[2020-02-28 21:52] sean-mcmanus commented on #5028
Yeah, we need info from the "C/C++" log (enabled via setting C_Cpp.loggingLevel to "Debug") and not the "C/C++ Diagnostics" log.

What symptom do you see with CookiesEngine.cpp? Is it unable to find an include file?

[2020-02-28 21:52] #5024 closed, assigned to nobody

[2020-02-28 22:02] xzhang515 commented on #5028
-------- Diagnostics - 2/28/2020, 1:53:45 PM
Version: 0.26.3
Current Configuration:
{
    "name": "Mac",
    "includePath": [
        "${workspaceFolder}/**"
    ],
    "defines": [],
    "macFrameworkPath": [
        "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks"
    ],
    "compilerPath": "/usr/bin/clang",
    "cStandard

[2020-02-28 22:03] pieandcakes commented on #4936
I filed Microsoft/vscode-remote-release#2453 for it.

[2020-02-28 22:23] sean-mcmanus commented on #5028
The info in the C/C++ Diagnostics logs is insufficient. Can you provide info from the C/C++ logs described at https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server ?

Is your C_Cpp.intelliSenseEngineFallback set to "Disabled" (the default)?

[2020-02-28 22:38] pieandcakes commented on #4887
The terminal output should be in the Terminal tab under `cppdbg: <program name>` where `<program name>` is the name of your program.

I tested with a basic printf/scanf app and it shows up.

When you enable enginelogging, the communication between our debugadapter and the debugger will show up in the `Debug Console` and that was what I was looking for. If `externalConsole` is set to false, your ou

[2020-02-28 22:38] #4887 closed, assigned to pieandcakes

[2020-02-28 22:44] xzhang515 commented on #5028
-------- Diagnostics - 2/28/2020, 1:53:45 PM
Version: 0.26.3
Current Configuration:
{
    "name": "Mac",
    "includePath": [
        "${workspaceFolder}/**"
    ],
    "defines": [],
    "macFrameworkPath": [
        "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks"
    ],
    "compilerPath": "/usr/bin/clang",
    "cStandard

[2020-02-28 22:57] sean-mcmanus commented on #5028
The logging that begins with
[code]
is not the logging we need.

Can you provide the C/C++ logs?

![image](https://user-images.githubusercontent.com/19859882/75593545-8ab5e180-5a3a-11ea-8ca4-7d5cc02064a5.png)

[2020-02-28 23:25] xzhang515 commented on #5028
Sorry for the mistake. Here is the log:

-------- Diagnostics - 2/28/2020, 1:53:45 PM
Version: 0.26.3
Current Configuration:
{
    "name": "Mac",
    "includePath": [
        "${workspaceFolder}/**"
    ],
    "defines": [],
    "macFrameworkPath": [
        "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks"
    ],
    "compil

[2020-02-28 23:26] ArcticLampyrid commented on #664
@amir9480 Great work.

[2020-02-28 23:30] sean-mcmanus commented on #4989
I got a repro on Mac (via doing Find All References on std::string in the LLVM project) -- it randomly got stuck.

[2020-02-28 23:44] sean-mcmanus commented on #5028
That's still the wrong log.

[2020-02-28 23:53] sean-mcmanus commented on #5029
Find All References scope limitation is being tracked at https://github.com/microsoft/vscode-cpptools/issues/4102 .

We need more info on what stage is too slow for you. What does the status indicator in the bottom right show for the majority of your wait time? Does it mention "files confirmed"?

Our telemetry indicates that most of our users are experiencing acceptable performance for Find All Re

[2020-02-29 01:22] jandyman commented on #4102
I cannot get any of the exclusion techniques to work for a project I'm dealing with. Inside the build folder(s), there are .i files generated, which I do not wish to scan. I've tried this in settings.json:

{
  "files.exclude": {
    "**/Build/*": true
  },
  "search.exclude": {
    "**/Build/*": true,
  }

and this in c_cpp_properties.json:

"browse": {
                "path": [

[2020-02-29 01:31] jandyman commented on #5029
I moved my comment about scope to #4102

I'm running a brand new Macbook Pro, so there is no problem with cores or such. I suspect that the reason I see a difference with Eclipse is that it builds an index once and reuses it, whereas VS code is compiling all the files. I don't see anything but a progress bar at the top of the UI until the Find All References search is almost completely done, so I

[2020-02-29 01:59] sean-mcmanus commented on #5029
You're supposed to see a UX like the following after 3 seconds:
![image](https://user-images.githubusercontent.com/19859882/75598831-b1ccdd00-5a53-11ea-805e-0f5b2f4477f9.png)

How long is Find All References taking for you?

[2020-02-29 10:22] ololobus commented on #1816
Oh, my bad, I will try to switch threads if the issue occurs next time. It has not came up for a while after setting `C_Cpp.workspaceParsingPriority` to `low` and several VSCode/OS restarts.

Not sure, I almost always have C files open, while using VSCode.

Yes.

There is a flame icon with 'Updating IntelliSense...' message.

I will try to get more debug info next time, thanks.

[2020-02-29 12:56] HackerBaloo commented on #2901
OK, I'm very confused about how to setup a debugging environment for VSCode - gdb on Ubuntu 18.04.
First, if I want to log what happens, I found this instruction:
https://github.com/microsoft/VSDebugAdapterHost/wiki/Logging
But that seems to be an instruction for Visual Studio, not for VSCode.
And then for debugging:
[How To Debug MIEngine](https://github.com/microsoft/vscode-cpptools/blob/master/

[2020-02-29 13:25] dbsxdbsx commented on #664
@amir9480,nice work, and it would be better  to add creating declaration.  Anyway, good job!

[2020-02-29 14:00] HackerBaloo commented on #2901
Well, I found out how to turn logging on, and it helped me understand the problem.
[step-out.zip](https://github.com/microsoft/vscode-cpptools/files/4270370/step-out.zip)
I found that some var-create took a very long time.
I then tried to disable our own python pretty-printers.
First todays test case took around 13 s to step, but after disabling our pretty-printers it came down to around 5 s. Much

[2020-02-29 16:18] Garph opened #5031 "namespace "std" has no member intellisense errors with clang on Windows"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro 1909
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

All members of `std` namespace have `namespace "std" has no member foo` warning. See the screenshot below for the mo

[2020-03-01 02:11] SharquiX opened #5032 "Unable to start the C/C++ Language Server (Missing binary Microsoft.VSCode.CPP.Extension.exe)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1909
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Unable to start the C/C++ language server. IntelliSense features will be disabled. Error: Missing binary at c:\Users\sha

[2020-03-01 08:25] kesongyue opened #5033 "Does this cpptools support debug adapter protocol"
I download the source and I find this cpptools just an extension , which do not support vscode debug adapter protocol(DAP), right? Did I miss anything?

[2020-03-01 10:54] AlexandreRoy5 opened #5034 "Provide symbolLoadInfo for visual studio debugger"
Type: Debugger

Using **symbolLoadInfo** with cppvsdbg.

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Hello, is it possible to make the option **symbolLoadInfo** work for the Visual Studio debugger

[2020-03-01 13:37] BrightXiaoHan commented on #4988
It's not root user.

[2020-03-01 19:18] Jx0520 commented on #2341
hi,I met the same problem as you. How did you solve it?

[2020-03-02 01:37] sukuya commented on #2456
It just says `gdb`. Thanks @pieandcakes for the clarification.

[2020-03-02 07:36] stanpcf commented on #4859
-------- Diagnostics - 2020-3-2 15:32:17
Version: 0.26.3
Current Configuration:
{
    "name": "Linux",
    "defines": [],
    "compilerPath": "/usr/lib64/ccache/clang",
    "cStandard": "c11",
    "cppStandard": "c++14",
    "intelliSenseMode": "clang-x64",
    "configurationProvider": "vector-of-bool.cmake-tools",
    "compileCommands": "${workspaceFolder}/build/compile_commands.json",
    "inclu

[2020-03-02 08:28] XiaoPengProsper opened #5035 "mips64(mips64el) cpu architecture support missing"
Type: mips64(mips64el) cpu architecture support missing
vscode with cpptools do not support mips64(mips64el) cpu architecture
I have noticed that cpptools support x86, arm, arm64, mips, x64, amd64, x86_64 but mips64

[2020-03-02 11:13] a-styuf opened #5036 "Incorrect error message on code using __weak"
C/Cpp tools (0.26.3) are used for embedding soft tasks (stm32+cubeMX+keil).

I have error messages "expected ';'" in each case, when i using `__weak` (figure 1).
I try to redefine `__weak` as shown ARMtool-keil help:

[code]
And I get another error "expected a type specifier" (figure 2).

When i find definition of `__weak `, keil redirects me to this definition:

[code]

But VSCode can't link `__w

[2020-03-02 11:17] embryonic commented on #583
Its surprising that its been two years and this issue is still open.

I am using Windows and Implementing comment from @bobbrow worked for me. As suggested I added following code to launch.json:

[code]

My launch.json is now as follows after updating:
[code]

[2020-03-02 12:08] Helloimbob commented on #4015
Just to add some further investigation - in csh only the obsolete backtick syntax for command substitution is used and not the POSIX compliant $().

I think there should be configurable option to use the backtick command substitution syntax in the process picker for csh users. I'm going to try and work on a pull request to add this.

[2020-03-02 12:15] ivankravets commented on #4976
@bobbrow @sean-mcmanus Is it possible to publish 0.26.x bugfix release and close this issue? We have a ton of reports and developers write bad feedback about our extension due to this issue:
- https://community.platformio.org/t/include-errors-detected/5858

We ask them to use 1 project per 1 workspace. However, this is not the right solution and most people think that the problem is with PlatformI

[2020-03-02 15:42] DvoryankinEvgeny commented on #1098
Hello @pieandcakes
Is it still impossible to remotely debug C++ application using cppvsdbg? I have the same situation like @paulolamas. My application builds by cl.exe and I have to debug my application on the VM because of the risk of OS corruption. I'm using vscode for editing code and switching to VS for debugging is so annoying.

[2020-03-02 16:38] jandyman commented on #5029
Why the three second wait? I looked at it a bit more, and it looks like in both the projects I've been looking at, the dialog comes up at something like three seconds but then the search is finished not too long afterwards. So the total search may be five seconds or so. You may say that five seconds isn't bad. But when you are using the IDE to navigate across an existing codebase and diagnose call

[2020-03-02 17:08] henryju opened #5038 "Expose "effective" SourceFileConfiguration to other extensions"
Hi,

Context: I am a developer of the [SonarLint](https://www.sonarlint.org/vscode/) static code analyzer. We (SonarSource) have a [C/C++ analyzer](https://www.sonarsource.com/products/codeanalyzers/sonarcfamilyforcpp.html), and this is one of the most voted feature request by our users to add support of analyzing C/C++ code in VSCode:
https://community.sonarsource.com/t/sonarlint-for-vscode-c-c-s

[2020-03-02 18:02] Utku-Savas commented on #2341
Hi, I have the same problem. I compiled opencv from scratch instead installing a pre-build version.
VsCode Version: 1.42.1
Cmake Version: 3.17.0
Mingw-w64 Version: 8.1.0

c_cpp_properties

    {
    "configurations": [
        {
            "name": "Win32",
            "includePath": [
                "${workspaceFolder}/**",
                "C:/Users/arcanine/Downloads/opencv-4.2.0/build/install/

[2020-03-02 18:10] Colengms commented on #5031
Hi @Garph .  Could you run the "C/C++: Log Diagnostics" command, while that file is open, and post the output?  It should indicate how IntelliSense is configured.

Also, consider using the CMake Tools extension.  It acts as a 'configuration provider' to the C/C++ extension.

[2020-03-02 18:13] michelleangela commented on #5032
@SharquiX Based on the error
[code]
the binary of the extension failed to download or install.

Can you try re-installing the extension by doing the following:
1. From VS Code, uninstall the C/C++ extension
2. Go the folder where VS Code extensions are stored and ensure the folder  `c:\Users\shawn.vscode\extensions\ms-vscode.cpptools-0.26.3` is deleted. If it's not deleted, manually delete it.
3.

[2020-03-02 18:15] Colengms commented on #5036
Hi @a-styuf .  Did you mean to use `__attribute__` ?  (Two T's).

[2020-03-02 18:40] pieandcakes commented on #2901
@HackerBaloo our documentation is to build and debug remotely the extension from Windows. If you want to debug on Linux you can use VS Code and the Mono extension.

The problem is our goal is to decorate the entire stackframe with its variables. I think we can do the all/none approach but having it pick and choose is difficult.

Natvis files will make more calls to gdb and then do the visualizatio

[2020-03-02 18:45] pieandcakes commented on #1098
@DvoryankinEvgeny It isn't supported as of now. We suggest for now using Visual Studio Community Edition if you want to do remote Visual C++ debugging until support has been added.

[2020-03-02 18:54] pieandcakes commented on #4015
@Helloimbob The remote code is [here](https://github.com/microsoft/vscode-cpptools/blob/e0253a5f157d6aeb474dbdc973fa00aad1a03399/Extension/src/Debugger/attachToProcess.ts#L38) and the command that we pass is [here](https://github.com/microsoft/vscode-cpptools/blob/e0253a5f157d6aeb474dbdc973fa00aad1a03399/Extension/src/Debugger/nativeAttach.ts#L109).

[2020-03-02 19:00] zipzit commented on #2341
@Utku-Savas   I know it's sorta dated, but I did once create a pretty detailed [compile OpenCV from scratch blog entry.](https://dogfeatherdesign.com/opencv-3-0-microsoft-visual-studio-2015-cmake-and-c/)  The visual GUI CMake tool was pretty useful.  Perhaps that would help?

On the other hand I know there have been changes to windows and C++ lately with the Visual C++ 2008 64bit command prompt (w

[2020-03-02 19:40] pieandcakes commented on #5033
@kesongyue This extension uses [MIEngine](https://github.com/microsoft/MIEngine) to translate debugAdapter to gdb's MI command.

There are instructions [here](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/Debugger/How%20To%20Debug%20MIEngine.md) on how to set it up and debug it.

[2020-03-02 19:40] #5033 closed, assigned to nobody

[2020-03-02 20:09] Jx0520 commented on #2341
@Utku-Savas Hi，I have successfully solved it by adding the path correctly.  First, you need to make sure you have successfully compiled opencv with MinGW and  GUI CMake tool .  Then you can find the required file path：
`D:\opencv\build\x64\MinGW\install\include`
 `D:\opencv\build\x64\MinGW\install\include\opencv`
 `D:\opencv\build\x64\MinGW\install\include\opencv2`

Finally, add the correct opencv

[2020-03-02 20:14] kbthomp1 opened #5039 "Autocomplete fails for templated class/struct"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Mojave 10.14.6
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

intelliSense autocomplete fails to deduce type of templated class declared in templated class/function.

**To Repro

[2020-03-02 20:25] sean-mcmanus commented on #4859
As I mentioned previously, our extension is failing to query `/usr/lib64/ccache/clang`, which could lead to problem if anything requires correct system includes/defines. If you could run `/usr/lib64/ccache/clang -Wp,-v -E -dD -x c++ /dev/null` you could see system includes/defines that we normally would try to process.

Are you able to locate omp.h? It appears to be an openmp library, which could

[2020-03-02 20:35] Colengms commented on #5039
Hi @kbthomp1 .  I'm able to repro (a minimal version of) your issue in Visual Studio as well.  (The C/C++ Extension shares code for IntelliSense with VS).  I've opened a bug against VS here: https://developercommunity.visualstudio.com/content/problem/936260/intellisense-instance-of-template-stored-in-auto-d.html

[2020-03-02 20:51] sean-mcmanus commented on #4976
@ivankravets Yeah, sorry about that. We're looking into releasing 0.27.0-insiders as soon as possible: https://github.com/microsoft/vscode-cpptools/blob/master/Extension/CHANGELOG.md#cc-for-visual-studio-code-change-log . There were a huge amount of changes so we want to make sure there are no major regressions before shipping the release 0.27.0 (and we also have a couple Mac-only bugs we want to

[2020-03-02 20:53] ivankravets commented on #4976
Thanks! We will wait for 0.27..0.

[2020-03-02 21:45] bobbrow opened #5040 "async functions should not be using Promise APIs"
There are a number of places in the extension where async/await is being mixed with Promise/.then (example: `githubAPI.ts`).  The preferred paradigm is async/await.  Using Promises directly with .then is discouraged.

[2020-03-02 23:54] AllMightyTae opened #5041 "Output after debugging not showing."
Type: Debugger

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.18362
- VS Code Version: 1.42.1(user setup)
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): MinGW
- A clear and concise description of what the bug is:
When I run a debug the separate output window does not display as I want it to.
This is what is shown in

[2020-03-03 01:50] kesongyue commented on #5033
Thanks！I know the connection between debugApapter and gdb. I want to ask if this cpptoosls communicating with vscode just by extension or DAP?

[2020-03-03 01:53] pieandcakes commented on #5033
So MIEngine converts VSCode DAP (in OpenDebugAD7) to AD7 and then converts AD7 to gdb. AD7 is the set of debugging interfaces that Visual Studio supports so that part of MIEngine is also used in Visual Studio.

[2020-03-03 02:30] xzhang515 commented on #5028
I have already set the c_cpp: logging level to be debug, and output window to be C/C++.
Is this the information you needed?

cpptools/getDiagnostics: 1612
terminating child process: 63640
terminating child process: 63641

[2020-03-03 03:23] sean-mcmanus commented on #5028
There should be lots more logging. Are you using a multi-root workspace folder? In that case, we might be sending the logs to a "cpptools: subfolder" location instead (our pending Insider release fixes that).

[2020-03-03 03:26] tanhakabir opened #5044 "IntelliSense within remote ssh broken"
**Type:** IntelliSense

**Describe the bug**
- OS and Version: Mac Mojave 10.14.6, remote with Linux 4.12.14-lp151.28.36-default x86_64
- VS Code Version:  1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): C/C++ GNU Global (0.3.2), Visual Studio IntelliCode (1.2.5), Git History (0.6.0)

When using the [remote ssh extension](

[2020-03-03 03:32] a-styuf commented on #5036
Oh, sorry. Yeas, I already used two T's `__attribute__` afterwards. But the result was the same.
Figure 2 and the text were fixed.

[2020-03-03 03:42] penagos commented on #106
I see; in looking at the interface between AD7/VSCode it does appear that the mechanism used to implement -exec requests, as you stated, was to extend the variable evaluation request, so hijacking that request likely isn't trivial. It would be great though if this could be considered on a future release!

[2020-03-03 06:54] guozc09 commented on #4833
Hi @Colengms . I use version 0.26.3 of cpptools. When using VSCode in an offline environment, this problem occurs when opening a C file. But , this problem does not exist in the online environment.

[2020-03-03 07:06] DvoryankinEvgeny commented on #1098
You broke my heart :(
Thank you for answer :)

[2020-03-03 07:27] guozc09 commented on #4833
I did not have this problem when I rolled back to the 0.24.1 version. However, it is not clear which version of the problem occurred between 0.24.1 and 0.26.3.

[2020-03-03 09:48] stanpcf commented on #4859
thx for reply, below is log. I can't find omp.h(new to openmp), but code run(cmake && make && run) success with omp.h
[code]

[2020-03-03 10:45] HackerBaloo commented on #2901
About the all/none or pick and choose, it's just annoying in my case that while most variables are created in 1 or 2 ms, there are 6 out of 50 var-create operations that is more than one digit in elapsed time.
This four are more or less totally uninteresting, and consume almost all of the time.
std::istream& elapsed time 2197  // who looks at istream in the debugger?
std::istream& elapsed time 214

[2020-03-03 12:50] HackerBaloo commented on #2901
BTW for other reading this, to turn on the log:
put this in one of you debug targets in launch.json
"logging": {
    "trace": false,
    "traceResponse": false,
    "engineLogging": true
}
You get more output if you turn on the two trace settings, but I found it useful with just engineLogging. You get the output in the debug console.

[2020-03-03 13:19] wymhuster commented on #5029
I met the same issue. It seems that vscode just search file every time and don't have index in memory

[2020-03-03 13:47] HackerBaloo commented on #2901
I found a little bit of a workaround, I registered an extremely simple pretty printer like this:
[code]
That shaved of 500 ms from the istream and 300 ms from my message buffers, so now I'm down to ~ 4 s to step, a lot better than 13 s at least, and I now which variables that cause trouble.
But there must still be something wrong, somewhere, to need 1600 ms to prepare to show "null_printer" for st

[2020-03-03 14:09] christian-vorhemus opened #5045 "No error squiggles appear in code"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10.0.18363.657
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): Several; disabling didn't fix the issue

I don't see any error squiggles at all in VSC in C++ code. Other features like "Go to Definition" or autocomplete work fine. It

[2020-03-03 17:31] pieandcakes commented on #2901
I would think we would show it for the current frame only and ignore the rest, but the feature will need to be specced out so it is a defined behavior.

If you look at the engineLog, that contains the requests from us to `gdb` and `gdb`'s response. It also should include timings. unfortunately if the time is being spent by `gdb` you're probably better off filing an issue with `gdb` to let them kno

[2020-03-03 17:37] pieandcakes commented on #440
Duplicate of #75

[2020-03-03 17:37] #440 closed, assigned to nobody

[2020-03-03 17:38] pieandcakes commented on #103
This is an older issue and hasn't had any updates. Please comment/open a new issue if it is still happening.

[2020-03-03 17:38] #103 closed, assigned to nobody

[2020-03-03 17:43] pieandcakes commented on #257
This is an older issue and hasn't had any updates. Please comment/open a new issue if it is still happening.

[2020-03-03 17:43] #257 closed, assigned to nobody

[2020-03-03 17:49] pieandcakes commented on #499
This is a configuration in Terminal and isn't controlled by the extension.

[2020-03-03 17:49] #499 closed, assigned to nobody

[2020-03-03 17:50] pieandcakes commented on #502
This does not repro on 0.27.0

[2020-03-03 17:50] #502 closed, assigned to nobody

[2020-03-03 17:50] pieandcakes commented on #516
Duplicate of #75

[2020-03-03 17:50] #516 closed, assigned to nobody

[2020-03-03 17:54] pieandcakes commented on #567
This is an older issue and hasn't had any updates. Please comment/open a new issue if it is still happening.

[2020-03-03 17:54] #567 closed, assigned to pieandcakes

[2020-03-03 17:55] pieandcakes commented on #577
This is an older issue and hasn't had any updates. Please comment/open a new issue if it is still happening.

[2020-03-03 17:55] #577 closed, assigned to pieandcakes

[2020-03-03 18:10] Colengms commented on #5036
Hi @a-styuf .  What OS is this on?  Could you run the `C/C++: Log Diagnostics" command, and post its output as well as your configuration (`c_cpp_properties.json`)?

The __weak keyword appears to be specific to ARM compilers.  Adding support for ARM IntelliSense Modes is tracked by https://github.com/microsoft/vscode-cpptools/issues/4271

`__attribute__` is a gcc/clang extension.  If you are using

[2020-03-03 18:19] Colengms commented on #4833
Hi @guozc09 .  This is not an issue being reported by other users of 0.26.3.  There would seem to be something specific about your environment or scenario.  In order to help, we need more information.

We have had reports of corrupted installs of the extension, perhaps due to shutting down VS Code while installation was still in progress.  Try uninstalling the extension, ensuring its directory is

[2020-03-03 18:27] Colengms commented on #5045
Hi @christian-vorhemus .  Is there anything at all listed in under the Problems tab?  If there is a configuration issue and IntelliSense cannot resolve #included headers, that will result in a single squiggle at the top of the file.

I see that you have a number of other extensions.  Could any other extension be trying to provide language services for the file you are editing?  Perhaps try with al

[2020-03-03 18:34] michelleangela commented on #5044
@tanhakabir , can you provide logs from the following to help us get more info on what could be happening when IntelliSense stops working:

1. Running `C/C++: Log Diagnostics` from VS Code command palette
2. Logs from [enabling logging for the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)

[2020-03-03 18:45] HackerBaloo commented on #2901
Sounds great, I would be an eager beta tester of that.

I will investigate that more tomorrow.

[2020-03-03 20:46] sean-mcmanus commented on #5044
Also, the C/C++ GNU Global extension may provide conflicting functionality with our extension, so you may want to try disabling that one.

[2020-03-03 20:47] sean-mcmanus commented on #5044
Also, what distro is your Linux OS?

[2020-03-03 21:06] rvanlaar opened #5047 "[FEATURE REQUEST] Make support"
Please support `configure` and `makefiles`.

I would like for VSCode to figure out which configure options there are and have support for makefiles when creating build tasks.

As per: #4942 Making a new issues for this.

[2020-03-03 21:21] sean-mcmanus commented on #4859
I see omp.h under `/usr/include`. Do you have that there?

Also, your output from directly querying clang doesn't match the Log Diagnostics results. Can you [enable logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and look for error messages related to querying the compiler also the configuration provider info that we receive from CMake Tools.

[2020-03-03 22:14] sean-mcmanus commented on #5029
@jandyman @wymhuster Yeah, our implementation is based on VS's implementation, which doesn't store all the reference info in a database (which Eclipse/XCode might do), so 3-5 seconds is currently "by design". Our database just enables us to quickly locate files that have the references, but those files still need to be re-parsed if an existing TU doesn't exist already. We could cache those: https:

[2020-03-03 22:27] jandyman commented on #5029
I get it. But 3-5 seconds is painful when you are using to instantaneous navigation, it is THE major pain point when using VSCode as a C++ dev tool. And previous search results aren't saved either, so you can't go back to the search you did three minutes ago. Combine this with the #4102 issue (unsolved for me), and you get an experience that is not fun. Especially when VS Code feels "so close" in

[2020-03-03 23:21] sean-mcmanus commented on #5029
After (if?) VS Code supports streaming of references results, then some results could be showed immediately and then more would be added as they're confirmed (which is what VS does) which might make it seem faster (e.g. the files with the most textual references could have their results streamed first).

I've filed a bug on VS at https://developercommunity.visualstudio.com/content/problem/937753/c

[2020-03-03 23:32] jandyman commented on #5029
Well, thanks for your help at least. There is one piece of behavior that is a little suspicious. When I do a Find All References for a symbol that has no "other references" (which are usually worthless anyway), the results are instantaneous. Makes me suspicious of what is going on getting those "other references".

Do you have any comments on my experience with #4102? Is that expected behavior?

[2020-03-03 23:46] sean-mcmanus commented on #4102
Can you change your files.exclude to "**/Build"? I don't think the "/Build/*" regex is correct. We also disable "file-based" exclusions due to performance issues, so folder-based regex's are preferred (the C_Cpp.exclusionPolicy can enable file-based exclusions).

There is no way to suppress the "Other references", but they're not expected to decrease performance to compute.

[2020-03-03 23:49] sean-mcmanus commented on #5029
What are the exact types of the "other references" when you see the slowness? The other references are not expect to increase the performance. Are the "other" references in different TUs and of type "Cannot confirm" or "Not a Reference" -- if so, then the extra time would be from our trying to parse those extra TUs.

[2020-03-04 00:02] jandyman commented on #4102
The "/Build/*" regex **does** work in terms of excluding files from the browser, so I figured it would also work for the references, but I will try again.

[2020-03-04 00:07] sean-mcmanus commented on #4102
Hmm, that is odd. `"/Build/*"` isn't working for me, but I see "**/Build/*" applying a file exclusion (i.e. requires C_Cpp.exclusionPolicy set to "checkFilesAndFolders").

[2020-03-04 02:50] Garph commented on #5031
Log Diagnostics Output:
[code]

[2020-03-04 02:56] Garph commented on #5031
I gave the Clang Tools extension a try and while it can configure/build my project the Intellisense errors remain unchanged while Cmake Tools is my configuration provider. As an aside, I had to change to compiler binaries to clang-cl to support Cmake Tools' use of windows compiler switches.

[2020-03-04 02:58] sean-mcmanus commented on #2887
Our Insider release ships with clang 9.0.1: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders

[2020-03-04 02:59] sean-mcmanus commented on #4772
Our Insider release ships with clang 9.0.1: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders

[2020-03-04 02:59] sean-mcmanus commented on #4433
Our Insider release ships with clang 9.0.1: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders

[2020-03-04 03:00] sean-mcmanus commented on #3174
Our Insiders release fixes the clang-format dependency problems: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders

[2020-03-04 03:01] sean-mcmanus commented on #3271
Our Insiders release fixes the clang-format dependency problems: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders

[2020-03-04 03:01] sean-mcmanus commented on #4664
Our Insiders release fixes the clang-format dependency problems: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders

[2020-03-04 03:02] sean-mcmanus commented on #4539
Our Insiders release should fix this clang-format issue: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders

[2020-03-04 03:03] sean-mcmanus commented on #4819
Our latest Insiders released added support for -iframework in compile_commands.json: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders

[2020-03-04 03:05] sean-mcmanus commented on #4870
cpptools.setActiveConfigName is available in our Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders

[2020-03-04 03:05] sean-mcmanus commented on #4963
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders

[2020-03-04 03:06] sean-mcmanus commented on #1768
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. But there's a known issue
[code]

[2020-03-04 03:07] sean-mcmanus commented on #3829
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. But there's a known issue
[code]

[2020-03-04 03:08] sean-mcmanus commented on #2346
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders.

[2020-03-04 03:10] sean-mcmanus commented on #2492
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. But there's a known issue
[code]

[2020-03-04 03:11] sean-mcmanus commented on #4929
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders.

[2020-03-04 03:11] sean-mcmanus commented on #4889
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders.

[2020-03-04 03:11] sean-mcmanus commented on #4717
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders.

[2020-03-04 03:11] sean-mcmanus commented on #4798
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders.

[2020-03-04 03:12] sean-mcmanus commented on #4712
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders.

[2020-03-04 03:12] sean-mcmanus commented on #2889
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders.

[2020-03-04 03:12] sean-mcmanus commented on #2806
Fixed in our latest Insiders release: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders.

[2020-03-04 03:14] sean-mcmanus commented on #4976
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:15] sean-mcmanus commented on #4731
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:15] sean-mcmanus commented on #4711
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:16] sean-mcmanus commented on #4682
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:16] sean-mcmanus commented on #4597
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:17] sean-mcmanus commented on #4445
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:17] sean-mcmanus commented on #4261
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:18] sean-mcmanus commented on #3285
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:18] sean-mcmanus commented on #3183
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:18] sean-mcmanus commented on #3145
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:19] sean-mcmanus commented on #2968
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:19] sean-mcmanus commented on #2821
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:20] sean-mcmanus commented on #1073
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:20] sean-mcmanus commented on #1357
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:20] sean-mcmanus commented on #2107
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 03:24] sean-mcmanus commented on #4994
Our latest Insiders release has a new multi-root implementation (which fixes this bug): https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders. Please let us know if you find any multi-root-related bugs or regressions so we can prioritize fixing those for 0.27.0.

[2020-03-04 04:11] escape0707 commented on #4717
Thanks for your hardwork on this. But I'm sorry that I can't test it in C++ project for now. Feel free to close this issue if it's confirmed fixed XD!

[2020-03-04 04:32] a-styuf commented on #5036
Hi, @Colengms. Thank you for help!
My OS is Windows 10 Pro.  And my c_cpp_properties.json is there:
[code]
And "C/C++: Log Diagnostics" result is presented below:
[code]
In ARM-keil help described that there's a difference between `__weak` and `__attribute__((weak))`, but it's possible to use both of them in arm-projects. There is a nuance in using these keywords in functions, but they are the sam

[2020-03-04 05:14] VictorYing commented on #2107
It's working for me. Thanks for all the work on this @sean-mcmanus! This really goes a long way towards keeping more of my workflow in vscode as I now lack one more a reason to run formatting from a separate command line.

[2020-03-04 05:22] hellyzh commented on #4994
Confirmed this issue has been fixed in the insider release.

[2020-03-04 06:52] zhiayang commented on #3183
Hi Sean, thanks for the update! I'll give it a try when I have the time (:

[2020-03-04 08:07] Utku-Savas commented on #2341
@Jx0520 Hi, I tried your solution, but this time another error occured.
![opencv2](https://user-images.githubusercontent.com/23260717/75857902-257e3980-5e08-11ea-8b4a-0a04b24196db.PNG)
c_cpp_properties.json

    {
    "configurations": [
        {
            "name": "Win32",
            "includePath": [
                "${workspaceFolder}/**",
                "C:/Program Files/mingw-w64/x86_64-8.

[2020-03-04 08:27] fregloin commented on #2806
Thanks a lot!

[2020-03-04 08:28] pedro-w commented on #4929
I have installed the insiders release and am happy to report that the drop-down now contains the correct path to the compiler. I was able to follow the "Configure VS Code for Microsoft C++" article that I mentioned above from beginning to end. Thanks for your help with this!

Quick question - since I also have the MSVC 32-bit compilers and the cross compilers installed, I would have expected them

[2020-03-04 08:35] tanhakabir commented on #5044
openSUSE Leap 15.1

[2020-03-04 08:36] HackerBaloo commented on #2901
It seems to me that:
"engineLogging": true is what is needed to see what I get from gdb, but I'm not sure. Is the elapsed time here, time spent in gdb?
and with:
"trace": true
I also get the requests to gdb I think.
What I have found out today is that is not as simple as std::istream always takes a lot of time, in a simple sample project it takes just around 1 ms to create that variable.

So would

[2020-03-04 08:38] tanhakabir commented on #5044
Disabling the C/C++ GNU Global extension didn't seem to have an effect.

[2020-03-04 08:48] tanhakabir commented on #5044
Not really sure which logs you were looking for but here are some from the different outputs that I thought would be relevant:

C/C++ Diagnostics:
[code]

Log (Remote Server):
[code]

Log (Window):
[code]

Log (Remote Extension Host):
[code]

[2020-03-04 09:02] christian-vorhemus commented on #5045
Hello @Colengms

The problems tab is empty:
<img src="https://user-images.githubusercontent.com/3229424/75860378-024d8d00-5dfc-11ea-97ad-7254778aad46.png" width="400">

Also, there are no squiggles at the first directive:
<img src="https://user-images.githubusercontent.com/3229424/75860464-29a45a00-5dfc-11ea-9743-feeec0448663.png" width="400">

Here is the output of C/C++: Log Diagnostics:
[code]

[2020-03-04 09:17] dprandle commented on #4819
Thank you! removed the above work around and seems to be working great!!!

[2020-03-04 09:17] #4819 closed, assigned to nobody

[2020-03-04 09:49] sean-mcmanus commented on #4929
The bitness of the compiler shown doesn't currently have any effect for cl.exe in regards to IntelliSense, which can have its bitness changed via the msvc-x64 or msvc-x86 intelliSenseMode settings.

[2020-03-04 10:18] valeros commented on #4976
I cannot reproduce this issue with 0.27.0, so many thanks @sean-mcmanus

[2020-03-04 10:59] skwasniak opened #5048 "Doxygen memberdoc comments are not displayed correctly when hovering mouse on the function"
**Type: LanguageService**

**Describe the bug**
[code]
If you would like to document function parameters, there is a very convenient way of doing it with the doxygen's one-liner comment:
http://doxygen.nl/manual/docblocks.html#memberdoc

Below is an example of such a comment:
[code]
Unfortunately, the extension will only display `@brief` and `@return` fields for the above code.

**To Reproduce**
1

[2020-03-04 13:53] FungluiKoo opened #5049 "Unable to start the C/C++ language server [Error: TypeError: vscode.workspace.workspaceFolders is not iterable]"
**Describe the bug**
- OS and Version: Windows 10 Home 1909
- VS Code Version: 1.42.1 (user setup)
- C/C++ Extension Version: 0.27.0
- Other extensions you installed (and if the issue persists after disabling them): ms-python.python, ms-vscode-remote.remote-wsl
- A clear and concise description of what the bug is: A similar issue appeared two months ago, and last week I uninstalled all the extensi

[2020-03-04 14:16] guozc09 commented on #4833
Hi @Colengms ，Thank you for your answer.
**We have had reports of corrupted installs of the extension, perhaps due to shutting down VS Code while installation was still in progress. Try uninstalling the extension, ensuring its directory is removed from %USERPROFILE\.vscode\extensions, and reinstalling it.**
A: I have tried this method before, but it still has no effect.

**If that does not address

[2020-03-04 16:01] ghost commented on #4711
This seems to be working very well now.

Thanks, Sean!

[2020-03-04 16:04] gascenciom1998 commented on #5049
I have the same problem but uninstalling and reinstalling does not solve it for me

[2020-03-04 17:09] merlynomsft commented on #5029
Just a quick comment from the C++ IntelliSense team -- we're listening and appreciate the feedback on Find All References.  We understand how important it is to provide results as quickly as possible and we're continuing to invest in and improve the responsiveness of Find All References.

[2020-03-04 17:35] 11tyOne opened #5051 "VSCode debugger doesnt work when trying to debug a c++ program"
Type: Debugger

- OS and Version:   Windows 7 ultimate
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.27.0-insiders
- Other extensions: eslint, php debug, php intellisense, php extension, pip packages, python

The problem:
I just installed vscode yesterday with MinGW (MinGW itself had a lot of problem downloading from sourceforge though i used osdn) and tried compiling a simple hello world

[2020-03-04 17:58] mgaudet opened #5052 "What's the best way to work with source control in VSCode to ensure the C/C++ integration stays up to date"
**Type: LanguageService**

When using VSCode, I tend to use the terminal to jump around between revisions a lot because I am more productive when I do this.

However, this appears to challenge the C/C++ integration plugin, as when I change revisions it has an incomplete view of the types that may have changed from one revision to the next. For example, if I have a file open, and update to a new re

[2020-03-04 18:12] pieandcakes commented on #2901
with `engineLogging` those are the commands in `mi` format that we send to `gdb` and its responses. If you send those to the `gdb` project they should be able to investigate further.

As a side note, can you try regular `gdb`  (not `mi` mode) and see if its slow too? They will probably want to know if it is a bug in their `mi` interface code.

[gdb/mi](https://sourceware.org/gdb/onlinedocs/gdb/GDB

[2020-03-04 18:29] 11tyOne commented on #5051
@pieandcakes @WardenGnaw Please help

[2020-03-04 18:48] pieandcakes commented on #5051
@11tyOne I don't understand what you mean by "doesn't work". According to the log you provided, your program exited normally.

and then `gdb` ended because your program ended.

If you are expecting a console window to pop up, you need to change `externalConsole` to `true` in your `launch.json`.

[2020-03-04 18:56] bobbrow commented on #5049
Thank you for reporting this issue.  If you are repeatedly hitting this error, you can set the `C_Cpp.updateChannel` setting back to `"Default"` while we investigate it.

Quick question though.  Do you have multiple folders open in a workspace, just one folder, or no folders open?

[2020-03-04 19:03] michelleangela commented on #5048
The extension does not support Doxygen documentation yet. Please up-vote the issue tracking the feature request at https://github.com/microsoft/vscode-cpptools/issues/658.

[2020-03-04 19:03] #5048 closed, assigned to nobody

[2020-03-04 19:20] michelleangela commented on #5049
We found a repro, which involves opening just a file and not a folder or workspace.

1. Close a folder or workspace if you have one open.
2. Open a source file.

[2020-03-04 19:24] Colengms commented on #5036
Hi @a-styuf .  Based on the diagnostics log, it looks like clang.exe and msvc-x64 IntelliSense modes are being used.  It looks like we are failing to query your compiler (armclang.exe), and falling back to clang.exe found on your system.  This should be addressed by #4271.  In the meanwhile, I'd suggest setting the compiler path to a blank string (`""`) to avoid falling back to another compiler.

[2020-03-04 20:08] kaidokert commented on #1201
One more vote. Setting all environment vars, launch arguments with unit test filters etc again separately is quite annoying.
Debuggers start really slowly in larger projects, due to big symbol tables, being able to make minor edits to code and hit Ctrl+F5 to trigger rebuild and run would really speed iterations.

[2020-03-04 20:58] #5049 closed, assigned to nobody

[2020-03-04 21:04] kukosek commented on #266
_had the same error with **openOCD**, so if somebody is looking for a solution maybe this will help:_
I started openOCD in terminal and realized that it doesn't print

but the final line is

So i changed the text of `serverStarted` and now it works. So try to run openOCD from your terminal and put the last text it prints when it successfully starts and put it into the variable `serverStarted`.
[
M

[2020-03-04 22:32] steen-lund opened #5057 "AmigaOS4 support"
Hi,

I use macOS to cross compile for Amiga OS 4 and use VS Code as text editor.

![Screen Shot 2020-03-04 at 23 16 49](https://user-images.githubusercontent.com/56094634/75928410-a07a3b00-5e6e-11ea-9f35-add173b00fc5.png)

As you can see in the screenshot it complaints about to few arguments, but actually this is a feature of the ppc-amigaos-gcc as the first argument is implicit.
Eg an API is decl

[2020-03-04 22:40] steen-lund commented on #5057
ignore the `file not found` problem in the screenshot, it compiles fine and after tweeking my c_cpp_properties.json the problem is gone.

[2020-03-04 22:50] sean-mcmanus commented on #5057
One "workaround" is to set C_Cpp.errorSquiggles to "Disabled".

Our IntelliSense compiler only guarantees support for standard C and C++ and not compiler-specific extensions, except for certain common extensions in clang and gcc. If that APICALL can get added to the C language standard, then our IntelliSense compiler is likely to pick up support for that eventually, e.g. our extension is adding su

[2020-03-04 23:05] steen-lund commented on #5057
Thanks, I'll disable the error squiggles.
I highly doubt the Amiga specific APICALL will be added  to either gcc upstream or the C standard :)
I was hoping there was someway to extend the parser, but ... oh well ... :)

[2020-03-04 23:59] michelleangela commented on #5044
From the posted logs, it looks like the extension process is terminating at some point.

Can you also provide the full logs from the language server? Instructions to get logs from the language server are here https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server. This logging is different from running the command `C/C++: Log Diagnostics`

Also, for the o

[2020-03-05 01:43] sean-mcmanus commented on #5049
Thanks a lot for reporting this. It's fixed with 0.27.0-insiders2: https://github.com/microsoft/vscode-cpptools/releases/tag/0.27.0-insiders2

[2020-03-05 02:12] sean-mcmanus commented on #5052
We added code in our "didChange" handler that would only send "FileChanged" notifications if the file has a modification time within 10 seconds due to what seemed like a VS Code bug where we would be getting erroneous onDidChange messages for files that never changed. See https://github.com/microsoft/vscode-cpptools/blob/master/Extension/src/LanguageServer/client.ts#L1837 .

Do you know if when yo

[2020-03-05 03:28] sean-mcmanus opened #5059 "0.27.0-insiders2 can sometimes crash after adding multiple folders at once"

[2020-03-05 05:34] 11tyOne commented on #5051
@pieandcakes Yes i did expect another console window to pop up and yes it works when i set externalConsole to true but it still doesnt work when externalConsole is false. it is supposed to show hello world in powershell right? but no it doesnt the terminal just shows that error message  and exits

[2020-03-05 05:37] 11tyOne commented on #5051
what i mean by "doesnt work" is that it never prints hello world to the screen (when "externalConsole": false )

[2020-03-05 08:28] jfostier commented on #1201
Another vote. I am writing performance-critical code and I often want to benchmark runtime in release mode. The command line arguments I specify in launch.json are not passed to the command.

[2020-03-05 09:57] vudaoanhtuan commented on #3829
Debugger freezes when program reading input from keyboard.
Program:
[code]
Debugger works perfectly but it freezes when hitting line `cin >> a >> b;`.
I try redirecting input by add args in launch.json but it not working.

[2020-03-05 10:19] yoyomolinas commented on #429
I also look forward to arm support.

[2020-03-05 10:19] nunojsa commented on #4894
So, is this supposed to be fixed with the latest release? The outline still breaks pretty easily when checking out to different branches. I guess, the bigger the project the easier this comes up.

![image](https://user-images.githubusercontent.com/28741857/75971961-d3561a80-5ed2-11ea-9c18-832ab7168536.png)

One thing that I notice when this happens is that "tagging parsing file:" becomes really sl

[2020-03-05 11:02] puremourning commented on #3829
Did you set externalConsole true?

[2020-03-05 13:48] vudaoanhtuan commented on #3829
I want to use the internal console so I set it to false.
It works with Ubuntu OS but not MacOS.

[2020-03-05 14:27] Forgoys commented on #2831
1. Click "Select encoding" on the bottom-left.
2. Choose "Reopen with encoding".
3. Choose "Simplified Chinese (GBK)"

[2020-03-05 16:08] ghita commented on #121
Happening same thing to me. Very hard to make this work, remote debugging to work in WSL. At some point I saw in wsl that there were multiple opened debugging instances for same executable, some leftovers but don't know if that is the issue.

[2020-03-05 16:23] mgaudet commented on #5052
Thanks for the feedback! So, I can confirm using `stat` that using `hg up` does change the modification time on a file changed.

Is there a way to ask vscode if it's successfully watching a particular file? Or to get those `rootPathFileWatcher.onDidChange` notifications logged somewhere so I can do some further diagnostics?

[2020-03-05 17:09] cttpp commented on #16
Any updates?

[2020-03-05 17:51] olzhas commented on #1073
I am affected by the bug. My working directory is a symlink, and once in a while when I reformat  the code my file becomes corrupted. I am using /0.27.0-insiders2

[2020-03-05 18:21] mickare opened #5060 "Load "envFile" after running "preLaunchTask""
**Type: Debugger**

I need to setup environment variables from a `setup.bash` file for a ROS project.

The default ROS development cycle is:
[code]

Since the cpp debugger happily ignores sources environment variables in the `preLaunchTask` and also likes to ignore forced `~/.profile` initialization in a VSCode Devcontainer context with Docker,
i thought I could easily bypass this problem, by runn

[2020-03-05 19:30] sean-mcmanus commented on #4894
@nunojsa What version are you using? The fix for CPU usage after switching branches is fixed in https://github.com/microsoft/vscode-cpptools/issues/2806 is fixed in 0.27.0-insiders.

[2020-03-05 19:33] sean-mcmanus commented on #5052
You might see some error in the Toggle Developer Tools console if VS Code hits a file watcher error.

You could also set your C_Cpp.loggingLevel to "Debug" to and look for a "fileChanged" logging message (but unfortunately we don't log the file that changed yet).

[2020-03-05 20:10] sean-mcmanus opened #5061 "Formatting with a symlinked folder may randomly corrupt files"
I am affected by the bug. My working directory is a symlink, and once in a while when I reformat  the code my file becomes corrupted. I am using /0.27.0-insiders2

_Originally posted by @olzhas in https://github.com/microsoft/vscode-cpptools/issues/1073#issuecomment-595361067_

[2020-03-05 20:13] sean-mcmanus commented on #5061
@olzhas Can you provide more info? What OS are you on? Does it repro with a single root workspace folder or does it require multiple root folders? Do you know of a way to make the "once in a while" more consistent?

The root cause might be related to other known symlink issues, such as https://github.com/microsoft/vscode-cpptools/issues/4573 or https://github.com/microsoft/vscode-cpptools/issues/3

[2020-03-05 20:14] sean-mcmanus commented on #1073
@olzhas We only fixed the multi-root cause of the corrupt files. The symlink issue is probably caused by a different issue, so I've filed https://github.com/microsoft/vscode-cpptools/issues/5061 to track that.

[2020-03-05 21:15] #4941 closed, assigned to Colengms

[2020-03-05 21:55] Colengms commented on #5009
This is a dupe of: https://github.com/microsoft/vscode-cpptools/issues/3387

[2020-03-05 21:55] #5009 closed, assigned to nobody

[2020-03-05 22:07] bobbrow opened #5062 "Add logging for file watcher events"
You might see some error in the Toggle Developer Tools console if VS Code hits a file watcher error.

You could also set your C_Cpp.loggingLevel to "Debug" to and look for a "fileChanged" logging message (but unfortunately we don't log the file that changed yet).

_Originally posted by @sean-mcmanus in https://github.com/microsoft/vscode-cpptools/issues/5052#issuecomment-595406679_

We should log

[2020-03-05 22:09] bobbrow commented on #5038
I think we could do this without a modification to the API.  I would rather expose this information as a Command.

[2020-03-05 22:10] #5036 closed, assigned to nobody

[2020-03-05 22:13] bobbrow commented on #5027
This behavior is expected when the dependencies of a source file have not yet been determined.  When using recursive includes (e.g. an includePath with ** in it), we require parsing dependencies so we can determine the correct include path.

[2020-03-05 22:13] #5027 closed, assigned to nobody

[2020-03-05 22:15] bobbrow commented on #4991
Are you able to use symlinks to achieve your goal?

[2020-03-05 22:23] bobbrow commented on #4232
We think we might have fixed this.  Can you try again with the latest version of the extension?  If it's not fixed, we can reopen the issue.

[2020-03-05 22:23] #4232 closed, assigned to nobody

[2020-03-05 22:26] sean-mcmanus opened #5063 "0.27.0-insiders2 sometimes crashes after changing color themes with a multiroot workspace"

[2020-03-05 22:34] bobbrow commented on #4218
The original issue is caused by installing an incompatible extension "C++ IntelliSense".  If you are still having configuration issues with other files in your workspace, please open a new issue with details about your configuration and we can troubleshoot from there.  Thanks!

[2020-03-05 22:34] #4218 closed, assigned to nobody

[2020-03-05 22:36] bobbrow commented on #4212
I think the problem is caused by a bug in the case-sensitive path handling we do for WSL.  The database is supposed to be cleared when switching out of a case-sensitive configuration.

[2020-03-05 22:37] bobbrow commented on #4212
We're not really investing much energy into our WSL implementation anymore.  We recommend using VS Code's Remote-WSL extension isntead.

[2020-03-05 22:37] #4212 closed, assigned to nobody

[2020-03-05 22:39] bobbrow commented on #4199
It seems that no one is running into this behavior or that they understand the experience.  We won't fix this unless more people vote for it.

[2020-03-05 22:39] #4199 closed, assigned to nobody

[2020-03-05 22:44] bobbrow commented on #4185
This looks like the same issue as #4576.  Closing this in favor of that one since it has more repro information in it.

[2020-03-05 22:44] #4185 closed, assigned to nobody

[2020-03-05 22:49] bobbrow commented on #4180
Coming back to this issue.  In this source file, do you write an implementation of your class methods inside the class declaration, or do you forward declare them in a header file and implement them elsewhere (outside the class declaration)?

For example:
[code]

[2020-03-05 22:54] bobbrow commented on #4178
Unfortunately, we can't change the environment after you launch VS Code.  We don't have permission to do that.  You do have an opportunity to run a script as part of your `tasks.json` command, but those variables won't exist and be available to our extension.  This would need to be a feature request on the VS Code team if you want to modify the environment after launching the editor.

[2020-03-05 22:54] #4178 closed, assigned to nobody

[2020-03-05 22:55] bobbrow commented on #4158
This should be fixed in the latest version of VS Code.  They import the syntax from the Better C++ Syntax extension from time to time.

[2020-03-05 22:55] #4158 closed, assigned to nobody

[2020-03-06 01:13] bsekura opened #5066 "Frequent spurious errors (squiggles) on correct code"
Version: 0.27.0-insiders2

Language service frequently gets confused and reports spurious errors (red squiggles) when the code is actually compiling correctly. Reloading the window fixes the problem, but it's extremely tedious.

[2020-03-06 01:20] sean-mcmanus commented on #5066
What OS are you on? If you're on Mac, do you see any crash logs related to the cpptools-srv process under ~/Library/Logs/DiagnosticReports .

Do you know if this is a regression compared to 0.26.3?

Are you using a multi-root workspace?

Are you using a workspace that has a symlink on the path?

Are you using a custom configuration provider?

[2020-03-06 02:04] lujfsd commented on #4180
The second method, declare them in a header file and implement them in cpp

[2020-03-06 02:18] rido-min commented on #1201
+1, I want to reuse args from launch.json. Also enable to start from the terminal.

[2020-03-06 03:05] sean-mcmanus commented on #5066
Also, does setting your C_Cpp.intelliSenseCacheSize to 0 fix it?

[2020-03-06 03:57] reporter123 commented on #2905
Why is this still marked "more info needed"? What information are you waiting for?

[2020-03-06 05:53] farqq opened #5067 "How to choose cpptools OS version when use remote-ssh"
hi，我是在win10系统上通过vscode的remote-ssh插件在linux主机上远程开发，由于一些原因只能手动安装cpptools.vsix。想问下我该选择哪个操作系统下的vsix？([realease列表](https://github.com/Microsoft/VSCode-cpptools/releases))还有当有多个操作系统共存时选择vsix的原则是什么？

Hi, I'm a remote deveolper who writing code with vscode by using remote-ssh plugin in win10, while the code files are saving in cloud machine which OS is Linux.
Now I'm confusing about which vsix to download,

[2020-03-06 07:40] nunojsa commented on #4894
@sean-mcmanus that is the version I'm running...

[2020-03-06 08:40] henryju commented on #5038
Thanks for considering this.
As a personal choice, I would prefer to rely on a clean API, documented, possibly versioned. I feel using commands to exchange data between extensions is a bit 'hacky'.
But in the end this doesn't make a big difference for us, so it's up to you :)
If you could provide a custom/experimental build of vscode-cpptools with this API/command, I would be more than happy to tr

[2020-03-06 09:35] johvik opened #5068 "clang_format_sortIncludes ignores .clang-format setting at startup"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Fedora 31
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.27.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

The `Format Document` command does not work as exepcted. I can run the command and it does some kind of formatting b

[2020-03-06 09:38] bsekura commented on #5066
OS: Windows 10 Pro 1909 18363.639
The workspace is not multi-root, but does have symlinks on include paths.
It has been happening for several versions now, I'm sorry I cannot tell which version it started happening.

I will try the setting you mentioned.
Thank you

[2020-03-06 14:57] CreatorZZY opened #5069 "Header File could not found although added to includePath in c_cpp_properties.json"
![image](https://user-images.githubusercontent.com/38124587/76094096-fe3c8d80-5ffc-11ea-8e5c-624e36a188f4.png)
I have no idea what have happened.
I cann't found the std lib header file, since i install opencv(apt-get install libopencv-dev). but actually I can Compile the source file.

[2020-03-06 15:05] ghost commented on #977
Any updates on this bug?
Thanks!

[2020-03-06 16:20] Zephor5 commented on #1852
hey, i have the same issue that the code navigation fail to work after i started vscode for a while, and restart fix this. except that I didn't notice any updating intellisense icon on the status bar.

    Version: 1.42.1
    Commit: c47d83b293181d9be64f27ff093689e8e7aed054
    Date: 2020-02-11T14:44:27.652Z
    Electron: 6.1.6
    Chrome: 76.0.3809.146
    Node.js: 12.4.0
    V8: 7.6.303.31-elect

[2020-03-06 17:50] michelleangela commented on #5067
For remote development, the C/C++ extension will run on the remote machine. If the remote machine is Linux, the Linux vsix will need to be installed on that remote machine.

You can let VS Code manage installing extensions on the remote machine. For more information about installing extensions on the remote machine using VS Code, go to https://code.visualstudio.com/docs/remote/ssh#_managing-extens

[2020-03-06 17:55] michelleangela opened #5070 "Code navigation fails after a while, restarting fixes issue"
hey, i have the same issue that the code navigation fail to work after i started vscode for a while, and restart fix this. except that I didn't notice any updating intellisense icon on the status bar.

    Version: 1.42.1
    Commit: c47d83b293181d9be64f27ff093689e8e7aed054
    Date: 2020-02-11T14:44:27.652Z
    Electron: 6.1.6
    Chrome: 76.0.3809.146
    Node.js: 12.4.0
    V8: 7.6.303.31-elect

[2020-03-06 17:59] michelleangela commented on #5070
@Zephor5, can you provide the following logs when navigation or IntelliSense stops working to help us further investigate the issue?

1. Logs from running `C/C++: Log Diagnostics` command
2. Logs from the [language server logs](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)

[2020-03-06 18:07] michelleangela commented on #5069
@CreatorZZY, can you verify that the path of the library header files set in c_cpp_properties.json is valid? The extension also tries to find system include paths based on the provided compilerPath settings. It could be that the extension is failing to query the compilerPath to get the system include paths.

Can you also sharing the following two logs:
1. The log output from running `C/C++: Log Di

[2020-03-06 19:03] cstrahan commented on #3995
I'd like to help with this. @sean-mcmanus what do I need to do to see a log of what `vscode-cpptools` extension is currently doing? E.g. how do I know if it's using the `compile_commands.json` that I specified, rather than (possibly) silently failing?

The competing [`vscode-clangd`](https://marketplace.visualstudio.com/items?itemName=llvm-vs-code-extensions.vscode-clangd) extension mostly "just w

[2020-03-06 19:22] cstrahan commented on #3995
I followed [this page](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) to set the language server debug level, and this is what I now see:

[code]

I see nothing about reading the `compile_commands.json`, so maybe it is being read... or maybe it's not?

The thing that confuses me:

[code]

Shouldn't these be ignored, if `compile_commands.json` is being used?

[2020-03-06 19:49] sean-mcmanus commented on #3995
When you run C/C++: Log Diagnostic with C/C++ file active (after the flame icon disappears), does the info appear to match your compile_commands.json?

The "Folder: ... will be indexed" is for our workspace database. If you see folders missing, you should add them to
[code]
because we don't generate that correctly from the compile_commands.json (there's an issue tracking that...I think we just use

[2020-03-06 19:49] sourav-dey commented on #2276
I am also having the same problem. I followed: https://code.visualstudio.com/docs/cpp/config-clang-mac
I need to run it twice or thrice sometimes to make it run successfully.

❯ ls -al ~/.vscode/extensions/ms-vscode.cpptools-0.27.0-insiders2/debugAdapters/lldb-mi/bin                                                                                                       [11:49:29]
total 5576
drwxr-xr

[2020-03-06 19:59] #5063 closed, assigned to nobody

[2020-03-06 19:59] cstrahan opened #5071 "Find All References & Outline broken when using compile_commands.json"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 19.10
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.27.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them): None

**To Reproduce**

1. Set up vscode-cpptools to use `compile_commands.json`
2. Set the workspace to a Bazel based project, like [Envoy](https://github.com/envoypro

[2020-03-06 20:09] sean-mcmanus commented on #4894
We made some fixes, but there might be additional issues or it could be "by design". After the branch change, we will try to reparse files that have been recently modified. Are you using a single or multi root workspace? If the Outline doesn't match, it means we haven't re-tag parsed the opened file yet...does that eventually occur or does it get skipped? Does doing a save or edit save fix it? I r

[2020-03-06 20:11] cstrahan commented on #5071
If you're interested in testing with the Envoy source tree (as per my repro steps above), you can:

* Install the appropriate version of Bazel, or (as I would highly recommend) install [Bazelisk](https://github.com/bazelbuild/bazelisk) and let it handle everything for you
* Checkout the envoy source tree
* Follow the instructions at https://github.com/grailbio/bazel-compilation-database to generat

[2020-03-06 20:23] sean-mcmanus commented on #5068
Thanks a lot for reporting this. It's a regression with 0.27.0-insiders2. We should be able to have a fix for 0.27.0-insiders3.

[2020-03-06 20:45] michelleangela opened #5072 "IntelliSense and colorization broken when using coroutines"
This issue is to keep track of IntelliSense coroutines issues reported on Visual Studio at https://developercommunity.visualstudio.com/content/problem/941925/intellisense-and-colorization-broken-with-using-co.html

**Repro steps:**
1. Open empty folder on VS code
2. Add a new source file to folder
3. Add following sample code with coroutines:

[code]
4. See that async_func1() is highlighted with t

[2020-03-06 20:47] sean-mcmanus opened #5073 "#include completion exits out for header files that start with a number"
Try #include "123.h". include completion aborts after the "1" is typed.

[2020-03-06 21:00] nunojsa commented on #4894
The outline just stops working, so I hope it's not "by design" :smile:

And actually now it seems to be worst than before. Even restarting code seems not to fix it. The outline does come up on the first file but as soon as I switch files it breaks.

On my setup I'm using compile_commands.json and when switching branches and in a project as big as Linux, a lot of files are refreshed and for sure th

[2020-03-06 22:05] kitizz commented on #5070
Also seeing this issue!

1.
[code]

2.
[code]

[2020-03-06 22:27] tanhakabir commented on #5044
No specific error just no suggestions load

Although while I was testing, it seems if I give it about 30 seconds, between typing, it sometimes is able to resolve suggestion.

C/C++:
[code]

[2020-03-06 22:32] RobFosterNYC opened #5074 "Running C++ code will not allow user to input text in Terminal"
They immediately closed my issue and tagged it , saying its the fault of your extension.
https://github.com/microsoft/vscode/issues/92178

[2020-03-06 22:38] RobFosterNYC commented on #5051
It would be nice that instead of a console popping up,
Why not use the internal console thats part of VS-Code, such as the Output and the Terminal
to interact the same way as a popped-up console. ??

Just a thought as I am having similar issues.

[2020-03-06 22:59] david4embedded opened #5075 "VSCode says : "Debug adapter process has terminated unexpectedly (read ECONNRESET)""
Type: Debugger

**Describe the bug**
- OS and Version: Raspbian Buster
- VS Code Version: 1.28.2
- C/C++ Extension Version: 0.21.0
- When I try to start debugging, breakpoints are not reached with this message :
**"Debug adapter process has terminated unexpectedly (read ECONNRESET)"**
<details>
<summary>
Launch.json
</summary>

[code]
</details>

[2020-03-06 23:16] sean-mcmanus opened #5076 "0.27.0-insiders2 "Cannot read property 'updateVisibleRange' of undefined" occurs after editing a document too early"
1. Open a folder.
2. Make edits immediately.

Bug: Cannot read property 'updateVisibleRange' of undefined occurs.

[2020-03-06 23:23] michelleangela commented on #5070
@kitizz

Logs of your c_cpp_properties.json look fine. The language server logs do not show any failures. Are there more logs from language server? Also, do you have a multiroot workspace? Did you make any source control changes such as changing branches? Were there other actions or steps done that leads to navigation failing consistently?

[2020-03-07 00:02] sean-mcmanus opened #5078 "C_Cpp.intelliSenseCachePath description has an incorrect strikeout in the description"
Usage of `~` appears to cause VS Code to render text as a strikeout:

![image](https://user-images.githubusercontent.com/19859882/76131573-d4b34000-5fc3-11ea-9161-2c157cd21a09.png)

 Ignore the extra `\` in the screenshot (I added that).

[2020-03-07 00:08] WardenGnaw commented on #5075
Could you [enable logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_logging-for-mi-debuggers) and share the output?

[2020-03-07 00:13] WardenGnaw commented on #2276
@sourav-dey Could you make another issue on this and also share your tasks.json and launch.json?

[2020-03-07 00:58] sean-mcmanus commented on #5069
The "file not found" message is not from our extension. It's from another extension you have installed.

[2020-03-07 01:01] sean-mcmanus commented on #5069
It's probably from the C/C++ Clang Command Adapter extension. Let us know if you still have a problem after disabling that extension and using ours. Or you can set our C_Cpp.intelliSenseEngine setting to "Disabled" if you can figure out how to get the other extension working instead.

[2020-03-07 01:01] #5069 closed, assigned to nobody

[2020-03-07 01:12] sean-mcmanus commented on #5070
Also, can you check ~/Library/Logs/DiagnosticReports for any crash logs from our cpptools-srv process?

[2020-03-07 01:37] WardenGnaw commented on #2905
Could you enable [engine logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_logging-for-mi-debuggers) and share that here?

What is the path of the file that you expect it to open vs the path that it actually opens?

[2020-03-07 01:37] sourav-dey opened #5079 "[macOS Catalina] Unable to debug with 'externalConsole': true"
Type: Debugger
OS: MacOS
Version: 10.15.3
Debugger: LLDB
cpptools version: Version 0.27.0-insiders2

launch.json:
[code]

tasks.json:
[code]
Logs:
[code]

Opens up a external terminal window with log:
[code]

Followed: https://code.visualstudio.com/docs/cpp/config-clang-mac
Now I need to run twice or thrice sometimes for the debugger to work properly with the same code.

[2020-03-07 01:39] sourav-dey commented on #2276
Sure. Here it is: https://github.com/microsoft/vscode-cpptools/issues/5079

[2020-03-07 01:40] sean-mcmanus commented on #5074
@pieandcakes @WardenGnaw Is this a known issue with the debugger?

Maybe try setting the externalConsole setting to "true" in your launch,json.

[2020-03-07 01:47] WardenGnaw commented on #5079
Can you run `DevToolsSecurity -status` in your terminal, and what does it output?

[2020-03-07 01:49] #5076 closed, assigned to nobody

[2020-03-07 01:57] sean-mcmanus commented on #5071
The warning message means we're still parsing files in the workspace for symbols.

The generation of the compilation database is failing for me.

[code]

@Colengms @michelleangela Are you guys able to create the compile_commands.json?

[2020-03-07 02:03] sourav-dey commented on #5079
[code]

[2020-03-07 02:04] sean-mcmanus commented on #5071
Have you set your browse.path? https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference

It looks like we don't even add "${workspaceFolder}" to the browse.path (even with 0.26.3). That might be a bug...

[2020-03-07 02:05] WardenGnaw commented on #5079
Thank you!

Can you enable DevToolsSecurity? You can do that by running `DevToolsSecurity -enable`. There will be an elevated prompt.

Do you still encounter the issue when you start debugging after that?

[2020-03-07 02:09] sourav-dey commented on #5079
[code]
[code]
Yes, I am still having the same issue.

[2020-03-07 02:22] sean-mcmanus commented on #5071
Can you add
[code]
to your c_cpp_properties.json or set C_Cpp.default.browse.path?

It looks like compile_commands.json hasn't auto-added ${workspaceFolder} for a very long time.

[2020-03-07 03:04] sean-mcmanus commented on #4894
Yeah, I see what's happening -- the didChange change tag parsing that is from switching branching is getting put in the front of the same queue as the open file parse request, so it could get stuck behind a lot of work. For files that aren't opened, they should get pushed to the back of the queue, so the open files take precedence. Does that sound like what you're seeing? Otherwise, I'll need more

[2020-03-07 03:31] david4embedded commented on #5075
Hi,

I added logging settings as :+1:  ,
            "logging": {
                "trace":true,
                "traceResponse": true,
                "engineLogging": true
            }

and I can see the output being shown this way:

1. Extensions
/home/pi/.vscode/extensions/ms-vscode.cpptools-0.21.0/debugAdapters/OpenDebugAD7: line 32: mono: command not found/home/pi/.vscode/extensions/ms-vscod

[2020-03-07 03:55] bigOconstant commented on #429
Installed vscode build on raspberry pi. Sad to see Architecture arm is not supported. +1.

[2020-03-07 04:04] pieandcakes commented on #5074
@RobFosterNYC Can you post your `launch.json` file for me? If you are using our extension (`cpptools` or `"type": "cppdbg"` in your `launch.json`) then please try @sean-mcmanus 's suggestion above.

I took a look at your original issue and I noticed you mention you use the RUN CODE extension but I was unable to find information on what that is. Your screen shot doesn't show you using this extensio

[2020-03-07 04:07] kitizz commented on #5070
@michelleangela
That's all from the language server from a couple of clicks.
I don't have a multiroot workspace.
I do switch branches very often, but there are usually small changes between them.

Right now navigation and symbols are just failing totally, and I can't seem to get it back. Restarting doesn't appear to fix it. The Outline panel isn't showing at symbols either.

I'm connecting to an u

[2020-03-07 04:08] kitizz commented on #5070
@sean-mcmanus
Oh yup, here's one from earlier today:
[code]

Ah, never mind, not a crash

[2020-03-07 04:10] sean-mcmanus commented on #4894
Actually, it's a little more complicated. Our parse_file queuing needs some re-working -- it runs into problems if too many files are changed, i.e. it can accumulate a backlog and some case it won't re-queue higher priority work if the work already exists in the queue, so if you open a file that is number 7000 in the queue, it'll have to parse those 7k files beforehand.

Looks like we regressed th

[2020-03-07 04:21] sean-mcmanus commented on #4894
Wait...you said restarting VS Code didn't fix it? That is usually a sign that a dangling process has locked the database.

[2020-03-07 04:24] sean-mcmanus commented on #5070
Sounds like the same issue https://github.com/microsoft/vscode-cpptools/issues/4894 . We can accumulate a bunch of parsing requests that can block the opened files from getting parsed first, but doing a Reload Window after switching branches is expected to fix that.

Do you have a dangling cpptools process that is locking the database?

[2020-03-07 05:34] RobFosterNYC commented on #5074
@pieandcakes
Sorry, my apologies.  the extension is called --->>>  Code Runner.
But in the right click menu its called RUN CODE.  sorry about my typo.  :(
and yes I already have C++ extension installed for a long time now.
Also,  Im hoping you guys would create a feature that would allow users to use the internal console instead of the external console.
.
 anyways this screenshot shows what I see

[2020-03-07 05:39] 11tyOne commented on #5051
YES! Exactly my point!

[2020-03-07 05:40] 11tyOne commented on #5051
@pieandcakes could you help us with something like that?

[2020-03-07 06:21] kitizz commented on #5070
Reload windows wasn't working. A full reboot of the machine seems to have unblocked the tubes. So it may have been a dangling cpptools... sorry I'm unable to confirm for you!

[2020-03-07 10:23] vikrantsingh47 commented on #1374
This issue is still not fixed in vscode

[2020-03-07 10:30] Chamber6821 opened #5080 "+1 please for Raspian (Pi3) "Architecture arm is not supported""

[2020-03-07 10:32] Chamber6821 commented on #429
+1 please for Raspian (Pi4) "Architecture arm is not supported"

[2020-03-07 19:02] Zephor5 commented on #5070
hey, it's ok today and i just don't known why.  it did happen in the last days. i will give the info if it stops working.

[2020-03-08 02:23] rtviii commented on #5045
I have the same problem.

[2020-03-08 03:39] Noboroto commented on #5045
You can try command
C/C++: Enable Error Squiggles.
I tried enable in settings before but it didn’t  worked and I used this command. I tried this command by Ctrl P (Windows 10) and this feature was enabled

[2020-03-08 10:15] farqq commented on #5067
Thanks a lot.
BTW, I can't let vscode manage the installing because my machine is behand a strict firewall.

[2020-03-08 10:15] #5067 closed, assigned to nobody

[2020-03-08 12:59] DainVerd commented on #429
+1 without intellisense and debugger on Raspberry PI is pain

[2020-03-08 16:07] mikedld opened #5081 "Light bulb influences code indent when tabs-based whitespace is rendered"
**Describe the bug**
- OS and Version: Linux
- VS Code Version: 1.43.0-insider (was present on previous versions as well)
- C/C++ Extension Version: 0.26.3 (was present on previous versions as well)
- Other extensions you installed (and if the issue persists after disabling them): a few, the issue persists
- When `C_Cpp.dimInactiveRegions` and `editor.renderWhitespace` are enabled and tabs are use

[2020-03-08 17:52] FungluiKoo commented on #5049
Thank you guys for fixing the issue :)

[2020-03-08 17:53] FungluiKoo commented on #5049
@gascenciom1998  I meant to reinstall a previous steady version, like 0.26.3, not to reinstall the same (latest) version

[2020-03-08 18:43] zhiayang commented on #3183
Alright, from my preliminary testing it looks like everything works like it should and the definitions etc. are updating properly.

thanks so much for fixing this (:

[2020-03-08 18:44] zhiayang commented on #2968
As mentioned in #3183 this has indeed been fixed in the insiders2 release which i'm currently running. thanks again!

[2020-03-09 06:09] stanpcf commented on #4859
no omp.h under `/usr/include`.
log diagnostics results shows
[code]

[2020-03-09 07:04] Prathik-Jain commented on #1587
Hi @idanpa ,
Bear seems like an option, do want to tell us how you have set it up, to work with vs code, or do you extract the lines and put them in `c_cpp_properties.json`?

Thanks :small_airplane:

[2020-03-09 07:25] Prathik-Jain commented on #1587
Got it,
`"compileCommands": "${workspaceFolder}/.vscode/compile_commands.json"`
adding this line in the first object of `configurations` array in the `c_cpp_properties.json` file works!

[2020-03-09 08:45] an-dr-eas-k opened #5082 "No references found, but notification dialog says: 2/2 files confirmed"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win 10
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3 and 0.27.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them): None

"No references found" popup on method with references.

**To Reproduce**

1. Follow the steps to create the hello world example on https://code.visualstudio.

[2020-03-09 09:01] LauritsLL commented on #634
Yes I am also really looking forward to this feature being added!
Any news yet?

[2020-03-09 11:17] SuperWig commented on #4178
Unless I'm misunderstanding, that's now on the draft iteration plan for March.

Should this issue be renamed and reopened (or a new one created) for when that lands to add @sean-mcmanus' suggestion?

[2020-03-09 11:57] cfriedt commented on #429
I'm also using VS Code on my Aarch64 Chromebook, and having a functional C++ editor + Debugger would be very helpful.

[2020-03-09 15:57] michelleangela commented on #5080
Duplicate of https://github.com/microsoft/vscode-cpptools/issues/429

[2020-03-09 15:57] #5080 closed, assigned to nobody

[2020-03-09 17:13] Colengms commented on #5082
Hi @an-dr-eas-k .  I'm not easily able to repro this issue, using 0.27.0-insiders2.  There may be something about your configuration that's contributing to the repro.  Could you do the following? :
 * Enable logging using `"C_Cpp.loggingLevel": "Debug"`, repro again (starting from a fresh launch), and post the output from the C/C++ output channel.
 * After repro'ing, and with the the files still o

[2020-03-09 17:21] realAP commented on #429
### WORKAROUND
**Tested on Pi4 Linux Buster 4.19.66-v7l+ #1253 armv7l GNU/Linux**

Hello,
i had the same problem and would describe an other approach to get code completion for **cmake based projects** until this issue is fixed.

Get Started:
1. Open vscode and connect over ssh to your pi
1. install this plugin at your pi, https://marketplace.visualstudio.com/items?itemName=cquery-project.cquery
T

[2020-03-09 17:25] pieandcakes commented on #5074
@RobFosterNYC It looks like Code Runner's issues page is [here](https://github.com/formulahendry/vscode-code-runner/issues). It seems like the issue you are having is with their extension and I won't be able to help you with that.

If you want to use the integrated terminal with our extension,  we have support. You change the value of `externalConsole` to `false` in your `launch.json` and it shoul

[2020-03-09 17:27] pieandcakes commented on #634
My [previous comment](https://github.com/microsoft/vscode-cpptools/issues/634#issuecomment-571770770) explains how to use the integrated terminal. If this doesn't work, please file a new issue.

[2020-03-09 17:28] pieandcakes commented on #5051
You should be able to use the integrated terminal by setting `externalConsole` to `false` in your `launch.json`. The original issue that is reported needs to be investigated as it should be working.

@WardenGnaw Can you investigate?

[2020-03-09 17:33] Colengms commented on #5081
Hi @mikedld .  I'm not able to easily repro.  Are there any other extensions installed that might be doing this?  The positioning of the light bulb and its effect on the contents of that line, are not behaviors our extension should be effecting.  We simply return a list of actions.

[2020-03-09 17:42] 11tyOne commented on #5051
I just said above that it works completely fine when external console is true. i also said that it doesnt work when external console is false, the integrated terminal doesnt show anything other than the error message. That is the problem now

[2020-03-09 19:06] TylerMSFT opened #5085 "Build and Debug Active File could provide the latest supported std standard, if using a known compiler and compiler version."
Type: General

**Describe the bug**
- OS and Version: MacOS 10.15.3
- VS Code Version: 1.42.1
- C/C++ Extension Version: 0.26.3
- Configuring a default build tasks for Clang always defaults to c++98.  Per Bob Brown: "When this feature was implemented it was focused around gcc/g++ where the default standard version for latest compilers was c++14.  A better solution would be for to build a table of

[2020-03-09 19:20] Colengms commented on #5023
This looks like a VS Code issue.  Editing settings.json, within VS Code or externally, results in the expected onDidChangeConfiguration notification.  However, deleting the file, or copying the file to the .vscode directory, does not appear to trigger a notification.

Curiously, it looks like we get 2 invocations of file watcher events in .vscode, but not in other directories.  (This also appears

[2020-03-09 19:31] mikedld commented on #5081
I think I may have missed one more piece... I've tried it again now and wasn't able to reproduce either until I realised that when this is happening I'm actually working through a Remote SSH extension connecting from Linux to Windows (native, w/o WSL). Failed to reproduce it locally, but was able to reproduce once connected to a Windows SSH target.

If you could please move this issue to the appro

[2020-03-09 19:40] Colengms commented on #5023
I've opened the following issue against VS Code: https://github.com/microsoft/vscode/issues/92288

[2020-03-09 19:48] LauritsLL commented on #634
@pieandcakes It doesn't help at all to use `externalConsole: false`, and I don't think that this should be an issue, as it doesn't seem like this is a bug. What about a new property like `console: ‘integratedTerminal’`, like in python, which would then show all output in integrated terminal?

[2020-03-09 20:37] OscarKro commented on #2506
I have always used Ubuntu and other operating systems on all sorts of devices. I'm trying a Chromebook right now which has aarch64/arm64 processor. I really need this feature. Any updates on this? I want to use vscode, but not without intellisense for c++.

[2020-03-09 20:39] OscarKro commented on #429
I really need Intellisense working for c++ on arm64 architecture... Would be nice if this is implemented

[2020-03-09 22:17] pieandcakes commented on #634
@WardenGnaw Can you look into this?

[2020-03-09 23:06] sean-mcmanus commented on #4894
I figured out an easy way to fix the issue where fileChanged events would block out didOpen/didSave work for the Outline view to update.

[2020-03-09 23:42] sean-mcmanus commented on #1374
@vikrantsingh47 cout being undefined is just a symptom. Can you file a new issue with more repro info?

[2020-03-10 01:07] sean-mcmanus commented on #4859
It looks like g++ is failing to be queried.

What does it output when you run `/usr/lib64/ccache/g++ -fopenmp -O3 -mavx2 -mbmi2 -g -O0 -fPIC -Wp,-v -E -dD -x c++ /dev/null`?

This logging is not normal:
[code]

[2020-03-10 01:15] sean-mcmanus commented on #4178
@SuperWig What's on the draft iteration plan for March? You mean for VS Code? I don't see any related issue. Can you add a link to that?

[2020-03-10 03:48] stanpcf commented on #4859
run `/usr/lib64/ccache/g++ -fopenmp -O3 -mavx2 -mbmi2 -g -O0 -fPIC -Wp,-v -E -dD -x c++ /dev/null`, which shows(contain chinese launguage, you shold translate to english)
[code]

[2020-03-10 04:05] baiyongrui commented on #2887
Hello, after installed the 0.27.0-insiders2, I still get clang-format 6.0.0.

- OS and Version: macOS 10.15.3
- VSCode version: 1.43.0

**To Reproduce**
[code]

[2020-03-10 05:47] cstrahan commented on #5071
@sean-mcmanus I tried adding that, but Go To Definition/Declaration and Find All References are still not working. My c_cpp_properties.json:

[code]

I will note that, surprisingly, hovering over symbols will show their type and any comments, so clearly the code is being parsed at least partially as expected, and those symbols are being properly resolved... but G.T.D and F.A.R. are both broken.

P

[2020-03-10 07:33] nunojsa commented on #4894
Happy to hear that :+1:

So, yes. After reboot, the outline comes for the opened file (on the saved session) and it does not work for any other file (apparently). It might be a timing thing and Im not waiting enough time for the outline to come up (in that case it's a long time for an outline).

Either way, I will wait for the next release and hopefully this is fixed!

[2020-03-10 08:35] SuperWig commented on #4178
@sean-mcmanus Yes for VS Code, "Allow extensions to customize the environment of terminal processes" is in the iteration plan for March.

There wasn't a linked issue when I saw it yesterday but it's there now as https://github.com/microsoft/vscode/issues/46696

[2020-03-10 10:14] an-dr-eas-k commented on #5082
Thank you for your help.

### c/c++ output
[code]

### c/c++ log diagnostics
[code]

### c_cpp_properties.json
[code]

[2020-03-10 11:31] muesli commented on #2252
Confirmed, I'm also facing this issue.

[2020-03-10 15:24] christian-vorhemus commented on #5045
@Noboroto - just tried it but didn't help.

[2020-03-10 15:40] Zephor5 commented on #5070
[code]

@michelleangela  here is the language server logs for a navagation, it worked but slow.

[2020-03-10 17:38] Colengms commented on #2887
Hi @baiyongrui .  Thanks for reporting this.  As a temporary work around, you could delete the contents of `LLVM/bin`, as well as `install.lock`.  The next time launched, it will download the proper version of clang-format.

[2020-03-10 18:33] sean-mcmanus commented on #4859
Yeah, the failure is caused by the Chinese characters output by gcc: https://github.com/microsoft/vscode-cpptools/issues/4542 . Are you able to get gcc to output English text somehow?

[2020-03-10 19:23] Colengms commented on #1139
We think this was addressed (in 0.26.2).  If anyone is still experiencing a similar problem, please open a new issue.

[2020-03-10 19:23] #1139 closed, assigned to nobody

[2020-03-10 19:33] michelleangela commented on #5070
@Zephor5

**From the logs:**
- The extension failed to get a response from the IntelliSense server. Can you also provide logs from running `C/C++: Log Diagnostics` command to verify there is a translation unit available for the source file?
- Is the slow navigation only during startup of VS Code or loading/opening of any files after startup?  It could be the extension is still initializing to crea

[2020-03-10 20:13] sean-mcmanus commented on #5071
It's still failing with
[code]

[2020-03-10 20:18] cstrahan commented on #5071
@sean-mcmanus Sorry for the back-and-forth.

From https://github.com/envoyproxy/envoy/blob/master/bazel/README.md, this should work on Ubuntu:

[code]

For Fedora:

[code]

[2020-03-10 20:20] WardenGnaw commented on #5079
@sourav-dey Thanks for all the info. I will need to grab a new machine and see if I can reproduce this issue.

What version of XCode are you using?

[2020-03-10 21:09] WardenGnaw commented on #5060
This would be due to how VS Code handles launching the debugger.

It goes from `resolveDebugConfiguration` -> `resolveTasks` -> `createDebugAdapterDescriptor`.

We read and setup the envFile in resolveDebugConfigurations since that is the only time we can handle the debug configuration before it is sent off to the debug adapter.

You will need to reach out [VS Code](https://github.com/microsoft/vs

[2020-03-10 21:18] sourav-dey commented on #5079
Cool, sure.
I am using XCode Version 11.3.1 (11C504)

[2020-03-10 21:27] #4015 closed, assigned to WardenGnaw

[2020-03-10 22:43] sean-mcmanus commented on #5071
Okay, thanks for the additional setup steps. I got the compile_commands.json to be generated, but I'm getting the error
`"${workspaceFolder}/compile_commands.json" could not be parsed. 'includePath' from c_cpp_properties.json will be used instead.`...looking into that.

But I get all the symbols for the Outline view -- the compile_commands.json processing shouldn't affect that.

If you do a "Reset

[2020-03-11 01:28] dnwillia commented on #2887
That worked

[2020-03-11 04:38] stanpcf commented on #4859
thx for your help. but the failure exists.
![image](https://user-images.githubusercontent.com/13925796/76382916-288fa180-6395-11ea-998c-b505fa013b61.png)

[2020-03-11 04:49] sean-mcmanus commented on #4859
Did you change it so that gcc output English when it's invoked from our extension process? i.e. in your C/C++ logs, do you see the new g++ being used instead of clang from before?

[2020-03-11 05:49] sean-mcmanus opened #5090 "0.27.0-insiders2 IntelliSense crashes on Mac 10.12 or earlier after a settings change"
Is anyone using our latest Insiders release able to provide any info on the crash of cpptools-srv that contains the call stack frame

[code]

The crash log might be under `~/Library/Logs/DiagnosticReports` on Mac -- is there a "Dyld Error Message" in the log?

It seems like the Mac crash logger is not giving us the full crash frame or it's some how an abnormal crash.

[2020-03-11 06:33] culyee opened #5092 "a question about symbols dispalyed in outline"
**Type: LanguageService**
Recently, I have been doing work about display in vscode's OUTLINE. Now, I meet a problem as described:
There is a single file, when Ido some changes, like deleting some lines:
delete the enum member `FRI`
![image](https://user-images.githubusercontent.com/56422381/76387820-b02fdd00-63a2-11ea-8aea-8224e9300f7d.png)
cpptools update data immediately and correctly in OUTLINE

[2020-03-11 06:34] ddengster opened #5093 "Debugging callstack window: show information like thread id, and current function"
Type: Debugger

So I have to click through all the callstacks of each thread in order to find out what's happening. With 20 threads, this becomes a huge chore. Can we postfix the test_trajectory headers with extra information like the callstack's current function? Similar to what your counterparts do in Visual Studio 2019

![joint_trajectory_controller cpp - ros2_controllers - Visual Studio Code_0

[2020-03-11 07:09] stanpcf commented on #4859
### 1. log diagnostics results shows
[code]

### 2.run `/usr/lib64/ccache/g++ -fopenmp -O3 -mavx2 -mbmi2 -g -O0 -fPIC -Wp,-v -E -dD -x c++ /dev/null` shows
[code]

[2020-03-11 07:16] sean-mcmanus commented on #5092
I'm not sure what you mean by "mine", but an old version of our extension would not update the Outline view after an edit -- we added code a year or so ago in our language server process that reparses the file 3 seconds after an edit, i.e. if you set the C_Cpp.loggingLevel to "Debug" you should see something like:
[code]
so that reparse allows us to send back the updated symbols.

The TypeScript t

[2020-03-11 07:57] sean-mcmanus commented on #5090
It looks like our AutoPch code is incorrectly getting run for users of Mac 10.12 or older.

[2020-03-11 08:59] culyee commented on #5092
@sean-mcmanus Hi sean, thanks for your answer. "mine" means the extension I developed. I have read the code you provided, but i didn't find any event that can notify language server process to reparse the  file. can you tell me  which event can lead to reparsing?

[2020-03-11 12:54] jeremyong commented on #3145
I'm encountering this bug on the latest VSCode and insiders CPP release. Clang format suddenly stops working until a restart. (not using multi-root)

[2020-03-11 14:08] carlhua commented on #5029
What is the rationale to not store reference into a database? Space is cheap, and when we are dealing with large codebases, I would argue its extremely painful to wait 5+ seconds for the references to show up. It would be highly desirable to give user the option to store the references like Eclipse. This is one of the few reason (I think the last one) that I cannot switch back to Vscode. I would h

[2020-03-11 15:36] armorais commented on #429
+1
Using remote SSH extension with RPi3 and Jetson Nano.

[2020-03-11 16:15] netbsduser commented on #4790
I presume the telemetry doesn't apply because the FreeBSD port is built from the OSS codebase.

@everything411 The cpptools run on FreeBSD with minimal adjustment; just ensure you have the 64-bit Linux binary compatibility module loaded. There are a very few places in the codebase which explicitly check for Linux, and adding support for FreeBSD is as simple as adding the appropriate checks for Fre

[2020-03-11 17:41] michelleangela commented on #5068
Is this issue related to the [old Clang format 6.0.0 in 0.27.0-insiders2](https://github.com/microsoft/vscode-cpptools/issues/2887?email_token=AJHQTT3QEHOUZWFIOI26H73RG3SONA5CNFSM4GHVCQ72YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEONZC3I#issuecomment-596891400)?

[2020-03-11 17:43] michelleangela commented on #3145
@jeremyong, we had reports of Clang format issues in 0.27.0-insiders2 and have a fix in the next 0.27.0-insiders3.

Perhaps the issue you encountered is related to these:
- [old Clang format 6.0.0 in 0.27.0-insiders2](https://github.com/microsoft/vscode-cpptools/issues/2887?email_token=AJHQTT3QEHOUZWFIOI26H73RG3SONA5CNFSM4GHVCQ72YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEONZC3I#i

[2020-03-11 18:12] sean-mcmanus commented on #5068
@michelleangela No. It was a different fix.

[2020-03-11 18:17] sean-mcmanus opened #5095 "clang-format stops working with 0.27.0-insiders2"
I'm encountering this bug on the latest VSCode and insiders CPP release. Clang format suddenly stops working until a restart. (not using multi-root)

_Originally posted by @jeremyong in https://github.com/microsoft/vscode-cpptools/issues/3145#issuecomment-597615083_

[2020-03-11 18:18] sean-mcmanus commented on #5095
@jeremyong That issue sounds different from our other clang-format issues -- most likely the main input thread is getting stuck -- does hover also get stuck saying "Loading..." when formatting fails?

Also, it sounds like 0.26.3 is reproing the issue so it's an existing issue. It could have been fixed by one of the many other fixes though, so maybe we should wait till we release 0.27.0-insiders3 t

[2020-03-11 18:27] sean-mcmanus commented on #4790
@JX7P You got FreeBSD to work via just changing our open source TypeScript? We haven't tested our closed source language server binary on FreeBSD and our IntelliSense parser appears to have some BSD-specific tweaks to deal with things like system header differences, so you might experience some IntelliSense bugs related to that unless we build a specific BSD binary. Also, the debugger components m