[2020-01-10 20:45] sean-mcmanus commented on #4819
It looks like our compile commands code doesn't handle "-iframework", just "-framework" and "-F", i.e. the fix would be to add support for that.

As a workaround, you may want to try removing the compileCommands and setting your configurationProvider to be "ms-vscode.cmake-tools" (with the CMake Tools extension installed). We expect the config experience with CMake Tools to be better than with jus

[2020-01-10 20:49] pieandcakes commented on #4817
Between locally/remotely are you sing the exact same `gdb`? If you look at the log, when it binds the breakpoint, what is the `breakpoint-created` or `breakpoint-modified` message? does it point to the memory address that the library is loaded in? There also should be a request for `symbol-list-line` that might tell you if we're looking in the right spot.

If you want to create a sample that allow

[2020-01-10 20:53] pieandcakes commented on #4818
can you give me a concrete example of the relative file path vs the absolute file path? you should be able to get both when you hover over the tab. I'm not understanding the problem.

[2020-01-10 22:02] HamzaHajeir commented on #1329
That's already added,.

As I'm not fully absorbed the PATH concept, could something be wrong here ?

![image](https://user-images.githubusercontent.com/32960423/72189232-044f2d00-3405-11ea-8337-ef6aa30a7c97.png)

@pieandcakes  Thanks for reference, But mine is a bit different, As it didn't work even after a restart (actually .. it was shut down - power on)

[2020-01-10 22:13] 0xDedSec42 commented on #882
It would be really awesome to get this feature.

[2020-01-10 22:16] pieandcakes commented on #1329
Those are all supposed to be inherited by VS Code. You may want to start an issue there about the `$env:path` variable not showing the correct path values and see what they say.

[2020-01-10 22:48] Colengms commented on #4712
I've tracked this down to a potential issue in VS Code.  It appears to be changing the encoding from use of a combining character to the combined equivalent, and does not recognize the original as the same path.  If VS Code keeps this behavior, we will at least need sufficient information about what modifications may be made to the encoding, to ensure we make the same modifications when receiving

[2020-01-10 23:36] payonel commented on #4818
sure! thanks for reading my bug report :)

spoiler, turns out this bug repros when home is symlinked to /data/home

and now that i go to test this to get exact data you are asking for, i realize this one bit more complicated than i first thought. also, I was wrong about "relative path" -- you'll see in my explanation.

assume we are using remote-ssh plugin to open `/home/user/code` on a remote mac

[2020-01-10 23:48] pieandcakes commented on #4818
If that is the problem, It probably isn't something we can fix cheaply. VS Code won't do any string processing on the filepath we return and we're probably getting the "correct" one for `/data/home` from the symbol file (you can confirm this by looking in the engineLog) and sending it to VS Code. Unfortunately VS Code doesn't reconcile that those files are the same and we as the debug adapter don'

[2020-01-10 23:49] pieandcakes commented on #4818
Also, really strange this doesn't manifest locally.

[2020-01-11 00:03] payonel commented on #4818
now that i understand the root cause, i can work around the problem by opening /data/home/user/code instead, then the paths should match

with regards to no local repro, that isn't AS true as I first thought -- my local system doesn't use a /home -> /data/home link, so it's not the same test. I suspect vscode running directly on the remote machine would repro this (i dont have X on the remote to t

[2020-01-11 00:08] payonel commented on #4818
ok this has nothing to do with centos, nor the home dir, just if part of the path is a symlink, then the break point will open the "real" path

[2020-01-11 00:29] Colengms commented on #4384
This appears to have been fixed in the context of other issues.

[2020-01-11 00:29] #4384 closed, assigned to Colengms

[2020-01-11 00:52] dprandle commented on #4819
Couple things...
First - unfortunately using cmake tools as the configuration provider still doesn't work.. And I copied the compile commands everywhere in my project just to be sure... here is what running log diagnostics on one of my files looks like

[code]

Second - looks like the extension doesn't pull in the selected kit correctly if cmake finds more than just clang on Mac... This is what ha

[2020-01-11 01:02] Colengms commented on #3061
Hi @BSG-75 .  Are you still seeing an issue with recent versions?  When we see symptoms such as these, the next step is to narrow down the code that intelliSense is failing to parse.

[2020-01-11 01:05] Colengms commented on #3035
@kevinuav Are you still seeing this issue?  Since we haven't heard back, I'm going to close this issue.  If it is still a problem, please re-open.

[2020-01-11 01:05] #3035 closed, assigned to nobody

[2020-01-11 01:07] Colengms commented on #3280
The linked bug in VS appears to have been fixed, so closing this one as well.  If there is still an issue here, please re-open.

[2020-01-11 01:07] #3280 closed, assigned to nobody

[2020-01-11 01:18] Colengms commented on #3396
@clover1967 Are you still seeing this issue?  I'm going to close this, since we haven't heard back from you.  If you are still seeing an issue, please re-open.

[2020-01-11 01:18] #3396 closed, assigned to nobody

[2020-01-11 01:22] Colengms commented on #3380
@jkhoogland I suspect this has since been addressed.  If you are still seeing an issue, please re-open.

[2020-01-11 01:22] #3380 closed, assigned to nobody

[2020-01-11 01:37] Colengms commented on #3854
I believe this has been addressed, since we do auto-detect the user's latest installed cl.exe location.  We have also since added the separate compilerArgs settings.  Closing this issue.  If there is still an issue, please let us know.

[2020-01-11 01:37] #3854 closed, assigned to nobody

[2020-01-11 01:39] Colengms commented on #3773
@isidord Are you still seeing this issue?  Closing this, as we haven't heard back.  If you are still seeing an issue, please re-open.

[2020-01-11 01:39] #3773 closed, assigned to nobody

[2020-01-11 01:43] Colengms commented on #3906
I believe this should be addressed, as of 0.26.3-insiders, as previously we were not probing clang-cl correctly.

[2020-01-11 01:43] Colengms commented on #4241
I believe this should be addressed, as of 0.26.3-insiders, as previously we were not probing clang-cl correctly.

[2020-01-11 01:51] Colengms commented on #4074
Hi @bonfire64 .  Are there any additional clues, such as a particular operation that might be associated with the crash, or if this only happens when a particular file is open? Also, could you try attaching a debugger to Microsoft.VSCode.CPP.Extension.linux to capture stacks when the crash occurs?

[2020-01-11 02:22] 0xUrsa commented on #2889
Also having this error. Thx @christian-vorhemus for solution.

My sys info:
VSCode: 1.41.1
C/C++ 0.26.3
MinGW-W64-builds-4.3.5
Windows 10: Windows 10 Pro 10.0.18363 / 18363

[2020-01-11 02:27] modavi commented on #2492
I don't believe I have the original main.c anymore, but it was literally just a sample like this...

[code]

[2020-01-11 06:31] zjh3029 commented on #4810
yes, It's GBK.   thanks

[2020-01-11 06:31] #4810 closed, assigned to nobody

[2020-01-11 07:25] sean-mcmanus commented on #4819
For the 1st issue, it looks like we would obtain the frameworks from querying the compilerPath/compilerArgs from CMake Tools and they don't send us that info directly, but the compiler may not be labeling the -iframework with "(framework directory)" like it does with the MacOSX.sdk framework (but it looks like gcc might be outputing the framework with that text, unlike clang, because we correctly

[2020-01-11 08:29] sean-mcmanus commented on #4819
Also, fixing https://github.com/microsoft/vscode-cpptools/issues/1755 would fix this as well, since we correctly respond to "-iframework" when it's a compilerArg -- so a potential workaround is to set your compilerPath to something like `"/usr/bin/clang++ -iframework /Users/dprandle/Qt/5.12.6/clang_64/lib -isysroot /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs

[2020-01-11 11:49] marzojr opened #4831 "Intellisense issue with initialization of nested enum"
**Type: LanguageService**

**Description**
- OS and Version: Windows 10, Ubuntu 19.10, probably others
- VS Code Version: 1.41.1 (probably earlier versions too)
- C/C++ Extension Version: 0.26.3-insiders3 (probably earlier versions too)
- Issue happens even with all other extensions disabled

**To Reproduce**
1. Create a c++ file with the following code:

[code]
2. Save the file
3. Intellisense wi

[2020-01-11 14:30] JFXTK opened #4832 "Microsoft.VSCode.CPP.IntelliSense.Msvc.exe crash on hover over nested struct name in C file"
OS and Version: Win7
VS Code Version: 1.41.1
C/C++ Extension Version: 0.26.3-insiders3
When edit one of my project,  Microsoft.VSCode.CPP.IntelliSense.Msvc.exe crashes frequently, after every time reload window,  Microsoft.VSCode.CPP.IntelliSense.Msvc.exe will crash in about tow minute when edit c file.
-----------------------------------------------------
I attach Microsoft.VSCode.CPP.IntelliSens

[2020-01-11 14:31] sveinse commented on #4799
Thanks @sean-mcmanus

- I use multiple split panes of the same file in one VS Code instance
- It usually hangs after scrolling or intellisense navigation (F12)
- When it happens it is the "window" process which consumes CPU, not the extension host or its children
- The strange include path is fixed, but it does not change the overall behavior. Thus I believe it is unrelated
- I was able to profile

[2020-01-11 20:00] Nyarn-WTF commented on #429
+1 for Jetson nano and RPi4

[2020-01-11 22:46] HamzaHajeir commented on #1329
Thanks, Submitting issue guide got me in trouble : As After I **disabled all extensions**. then only 2 env path variables shown. instead of many variables (before disabling).. thus my extension (PlatformIO) was no longer recognized even after enabling.

The solution to this second issue is : appending its path to system variables.

Now it's recognized and works well.

[2020-01-12 00:11] dprandle commented on #4819
Success! The only compiler arg that's necessary for IntelliSense to work correctly (I tried including/not including all shown above) to include is the -iframework pointing to the Qt lib. I'm guessing this would be true of any other 3rd part framework one would want to use in VSCode. As you mentioned earlier - I think IntelliSense is not recognizing the -iframework arg in compile_commands.json, but

[2020-01-12 19:27] iShibi opened #4833 "Connection to server got closed. Server will not be restarted."
This message is showing up in the Output terminal of "cpptools: untitled".
This happens whenever I create a C file. I tried to downgrade the C\C++ extension but the problem remained unsolved. Due to this no suggestion are showing up when I am coding in a C file.

[2020-01-12 22:01] Azenor1er opened #4834 "[MinGW] Build/debug active file says there is no compiler"
Type: General

**Describe the bug**
- OS and Version: W10 Pro, ver 1903
- VS Code Version: 1.41.1
- C/C++ Extension Version: 1696 ? I guess ?
- Other extensions you installed (and if the issue persists after disabling them): Noone
- A clear and concise description of what the bug is.
I just install VS Code on my new computer to continue my prog. I download the extension C++ Build And Debug Active

[2020-01-13 01:30] dakersnar commented on #3220
Has a fix for this been found? I'm having a similar issue, also while working with pegtl.

[2020-01-13 03:53] monstertango opened #4835 "Breadcrumbs or outline can't show properly a symbol which contains a macro"
**Describe the bug**
VSCode Version: Code Insiders
Version: 1.42.0-insider
Commit: 7e64866
Date: 2020-01-09T06:44:40.132Z
Electron: 6.1.6`//example.cpp
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 4.15.0-66-generic

C/C++ Extension Version: ms-vscode.cpptools-0.26.3-insiders3
- Other extensions you installed (and if the issue persists after disabling them):
Git Bla

[2020-01-13 07:12] tinyvan opened #4836 "The paths of problems matched by problemmatcher is wrong."
![al](https://user-images.githubusercontent.com/27542299/72237906-0c7eb680-3617-11ea-8fe6-7ad8898bded4.png)

[2020-01-13 07:17] tinyvan commented on #4836
Forgive my poor English....
I am only a ~~junior high school~~ student.
我只是个~~初中~~学生

[2020-01-13 10:33] isidorn opened #4837 "Contribute to debug start experience"
Hi VS Code dev here :wave:

Last milestone we have introduced a Start View for debugging. More about this can be found here https://github.com/microsoft/vscode/issues/84677
So when the user has no `launch.json` file this view should help him start debugging.

This view is currently language agnostic and not very cluttered thus we are slowly looking in opening it up to extensions. We have two optio

[2020-01-13 11:23] Ulysiss commented on #4837
This is a problem. It costs me a lot of time and exhausted entheusiasm.

Warning:
{
	"resource": "vscode/c_cpp_properties.json",
	"owner": "_generated_diagnostic_collection_name_#0",
	"code": "768",
	"severity": 4,
	"message": "Unable to load schema from 'cpptools-schema:/c_cpp_properties.schema.json': Request vscode/content failed with message: cannot open cpptools-schema:/c_cpp_properties.schema

[2020-01-13 16:20] jphw opened #4838 "CPP.IntelliSense and CPP.Extension constant cpu load 50% on huge project"
**Env**
MacBook Pro (15-inch, 2018)
OS and Version: OS X 10.14.6 (Mojave)
VS Code Version: 1.41.1
C/C++ Extension Version: 0.26.2

**Conditions**
1) pull Electron (I mean entire Electron) sources and add them as a folder to Workspace
2) open multiple .h or .cpp files
3) wait a few minutes (you don't even need to type anything or use intellisense actively)

**Issue**
Microsoft.VSCode.CPP.IntelliSen

[2020-01-13 16:36] esweet431 opened #4839 "Do you use the CMake Tools extension?"
Microsoft recently became the primary maintainer of the [CMake Tools extension for VS Code](https://github.com/microsoft/vscode-cmake-tools). If you use this extension, then we're interested in your feedback to help us better understand your workflow and build the right features for you. Sign-up for a 25 minute call with a member of the C++ development team to discuss the CMake Tools extension her

[2020-01-13 16:48] slootmat opened #4840 "Features in Mingw C++ tutorial not present in C++ extension"
Issue Type: <b>Bug</b>

--------------------------------------------------------------------------
1. g++ --version typed in fresh command prompt after setting PATH did not recognize command, but calling the mingw64 console from that windows command prompt did work.
2. intellisense example, right click on msg. did not produce any response
3. Dropdown list for  Terminal > Configure Default Build Ta

[2020-01-13 17:16] viewv commented on #4062
I have this problem too. Intelliscence find a compilation error but try to open a file with the duplicate path.

[2020-01-13 17:32] pieandcakes commented on #4818
Correct. this isn't a problem we can solve as we don't know what the editor has open. It would be up to [VS Code](https://github.com/microsoft/vscode/issues) to solve it.

[2020-01-13 17:32] #4818 closed, assigned to pieandcakes

[2020-01-13 18:43] pieandcakes opened #4841 "Unable to load schema 'c_cpp_properties.schema.json'"
This is a problem. It costs me a lot of time and exhausted entheusiasm.

Warning:
{
	"resource": "vscode/c_cpp_properties.json",
	"owner": "_generated_diagnostic_collection_name_#0",
	"code": "768",
	"severity": 4,
	"message": "Unable to load schema from 'cpptools-schema:/c_cpp_properties.schema.json': Request vscode/content failed with message: cannot open cpptools-schema:/c_cpp_properties.schema

[2020-01-13 18:45] pieandcakes commented on #4837
Biggest issues I see are:
* Finding the correct debugger for their scenario on Windows
* Compiling (aka how to compile, syntax, etc)
* Configuring debugging for their specialized scenario such as remote ARM debugging, or some one-off setting.

[2020-01-13 19:55] Colengc commented on #4841
Hi @Ulysiss .  What version of the cpptools extension are you using?

It looks like there is a file missing.  We have received reports that extension installation can fail if VS Code is exited while installation is in progress, leaving a partial install.  Could you try uninstalling and reinstalling the extension?  Before reinstall, delete the left over extension directory, so it gets fully repopul

[2020-01-13 20:01] Colengms commented on #4833
Hi @shibi391 .  I'm able to create a C file without seeing this repro.  Can you provide additional context that might help us identify the cause?  Are there any settings you're using in c_cpp_properties.json or settings.json?

Is this specific to a particular file encoded (i.e. non UTF-8), or are there extended Unicode characters in the path?

[2020-01-13 20:10] Colengms commented on #4832
Hi @JFXTK .  Thanks for reporting this to us.  I'm able to repro with the file you provided.  We will investigate.

[2020-01-13 20:18] Colengms commented on #4832
It looks like this issue also repro's in Visual Studio.  (We share common code for IntelliSense with Visual Studio).  I've opened a bug against VS here: https://developercommunity.visualstudio.com/content/problem/883246/vcpkgsrvexe-crash-on-hover-over-nested-struct-name.html

[2020-01-13 20:19] michelleangela commented on #4836
@KazDelphi, it looks like the `workspaceFolder` path is duplicated in the path for the file `Government.cpp`. Did you configure any path settings in VS Code or in c_cpp_properties.json? If you made any configurations, can you share those info?

[2020-01-13 20:47] sean-mcmanus commented on #4831
Thanks for reporting this. It repros with VS too, so I've filed a bug at https://developercommunity.visualstudio.com/content/problem/883249/cc-intellisense-error-with-initialization-of-neste.html .

[2020-01-13 21:10] sean-mcmanus commented on #4799
I think VS Code is tracking improving this at https://github.com/microsoft/vscode/issues/77140 . Until then, you could try changing C_Cpp.enhancedColorization to "Disabled" -- does that fix it?

[2020-01-13 21:25] tomasalles opened #4842 "Debugger not displaying address correctly"
Hello,

I am working with vscode on arch linux with gcc, when I debug and my program gets to a FILE *pointer, in the next instructions it always changes address to 0x0...

The code compiles and runs flawlessly otherwise.

[2020-01-13 21:54] kjpus opened #4843 "[Feature Request] natvis ArrayItems length limited to 50. Make it user configurable."
Type: Debugger

**Describe the bug**
- OS and Version:
Windows 10
- VS Code Version:
1.42.0-insider
- C/C++ Extension Version:
0.26.2
- Other extensions you installed (and if the issue persists after disabling them):
Remote-SSH 0.48.0
- A clear and concise description of what the bug is.
ArrayItems only displays up to 50 items.

**To Reproduce**
*Please include a code sample and `launch.json` conf

[2020-01-13 21:58] sean-mcmanus commented on #4834
Thanks a lot for reporting this. We have a fix at https://github.com/microsoft/vscode-cpptools/pull/4844 / (mistaken `||` instead of `&&`). A workaround is to set your compilerPath (in c_cpp_properties.json) to anything non-empty, such as "a" (or a valid path). If that workaround doesn't work, then you could be hitting a different bug.

[2020-01-13 22:21] kkaja123 commented on #4731
Leaving my repro notes here in case it helps:
It appears that the extension exclusively uses the settings file from the **first** folder added to a multi-root workspace, instead of using the settings file of the folder that the open file is from. From what I can tell, the settings files from subsequent folders are completely ignored.

Since the settings files are ignored, the include paths won't b

[2020-01-13 22:21] sean-mcmanus commented on #4840
Issue 3 appears to be the same as https://github.com/microsoft/vscode-cpptools/issues/4834 -- setting your compilerPath to the mingw compiler (or any non empty-string) should be a workaround.

Not sure about issues 1 and 2. Using C/C++: Log Diagnostics with the desired file active may show what is wrong with the IntelliSense configuration.

[2020-01-13 22:25] sean-mcmanus commented on #3220
@dakersnar Not yet. You're getting an IntelliSense process using how much memory? Is the pegtl a project we can try out? Is it https://github.com/taocpp/PEGTL or some other one? Can you provide any other repro info?

[2020-01-13 22:48] sean-mcmanus commented on #4835
This is "by design". Macros that require evaluation in order for correct parsing require a cpp.hint file in the project with contents like `#define MACRO_1( s )`. Adding that and doing a C/C++: Reset IntelliSense Database and then Reload Window should fix it.

[2020-01-13 22:48] #4835 closed, assigned to nobody

[2020-01-13 23:57] WardenGnaw commented on #4842
Could you [enable logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-debug-adapter), run to the point of where your file pointer changes and share the output here?

[2020-01-14 01:35] sean-mcmanus commented on #4802
@Colengms I still see this reproing with 0.26.3-insiders3 and our latest code -- from the logging it looks like the correct browse.path is getting used, but the parse_root is operating on a copy of old data.

[2020-01-14 01:36] sean-mcmanus opened #4845 ""No symbols found" occurs after an "abort" occurs, such as when a configuration provider is used"
If a document is open using a configuration provider is set, it will cause the document symbol request to abort and it doesn't re-request the document symbols, causing "No symbols found" to appear in the Outline view. May only repro with files that are "large enough".

[2020-01-14 02:34] nerdmaennchen commented on #3220
As it happens, my project involving pegtl is now in a usable state and is on GH

To reproduce the memory issue, please check out the "demo" branch of https://github.com/nerdmaennchen/qrqma and then try F12 when the corsor is on any symbol from the pegtl namespace and then watch the memory consumption.

Thanks again for looking into this!

[2020-01-14 03:13] sean-mcmanus commented on #3220
@nerdmaennchen I'm not reproing the bug. How are you configuring that project? Our extension doesn't currently support auto-configuration of Makefile projects. What compilerPath are you using with any defines? I tried with g++-8. If you can do a C/C++: Log diagnostics with the file that causes the memory issue that could help determine what configuration info is being used.

[2020-01-14 03:28] nerdmaennchen commented on #3220
To compile/index the demo you should not need to specify any fancy compiler flags apart from C++17 and -Isrc/.
The actual compile call (for src/main.cpp) would be the following:
[code]

Within a new vscode window I simply do the following:
- open die folder that contains the repository
- navigate to src/qrqma/grammar/atom.h
- in line 12 mark the ``one`` part of ``pegtl::one``
- hit F12

If you'd l

[2020-01-14 04:31] windless0530 commented on #4654
I am not sure of it because I had already customized my database path to my workspace folder to avoid the issue.

[2020-01-14 06:45] tinyvan commented on #4836
All configs are default.I didn't change anything.

[2020-01-14 06:52] sean-mcmanus commented on #4836
This sounds like https://github.com/microsoft/vscode-cpptools/issues/3878 . You need to change your problemMatcher to use an "absolute" or "autoDetect" setting for the "fileLocation".

[2020-01-14 06:52] tinyvan commented on #4836
This is my `tasks.json`.
[code]

[2020-01-14 07:04] sean-mcmanus commented on #4836
Yes, changing it to
[code]
should fix it (or "autoDetect" instead of "absolute").

[2020-01-14 07:13] tinyvan commented on #4836
Thank you....
Will you fix it in the next version?

[2020-01-14 07:18] sean-mcmanus commented on #4836
The PR at https://github.com/microsoft/vscode-cpptools/pull/3916 (back in July), fixes it, but it requires a dependency on a newer VS Code version, so the current plan it to ship that fix for 1.1 or so.

[2020-01-14 08:11] Gargony commented on #4714
@Colengms thx, I'll check it.

[2020-01-14 09:53] isidorn commented on #4837
Great, thanks for providing those.
And how could we potenitaly help users solve those issues? Is a button like "Set debugger" good enough for the first one, or would you require something much more elaborate? Any ideas?

[2020-01-14 11:16] ltWolfik opened #4847 "IntelliSense squiggles gcc attribute constructor with priority"
Example:
[code]
Error message: `attribute "constructor" does not take arguments`

Extension Version: 0.26.2

[2020-01-14 11:53] joolzg opened #4848 "C/C+ extension IntelliSence arm64"
Type: General

**Describe the bug**
- ubuntu 18.04 LTS
Version: 1.42.0 (user setup)
Commit: 22e4d75bd07b1ec7362c69da9dda7667eae95374
Date: 2020-01-13T06:29:20.418Z
Electron: 7.1.7
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux arm64 4.9.140-tegra

- C/C++ IntelliSence:

On starting i get asked to install c++ intellisence as i the project is a c++ project. If i say yes th

[2020-01-14 12:26] #4836 closed, assigned to nobody

[2020-01-14 14:32] TheButlah commented on #3782
Another reason why this is important: it reduces the number of places developers need to change when they modify the documentation of a parent class. If I had to update the documentation of every class that implements an interface every time I revise the documentation of that interface, it would be a large amount of work and would be prone to subclass documentation getting out of sync with the par

[2020-01-14 15:55] plwalsh commented on #3923
Any movement on this one recently? My RHEL machine periodically locks up when the `/tmp` directory becomes full due to this issue.

[2020-01-14 16:50] pieandcakes commented on #4837
I reviewed your github issue and PR and it looks like your goal is to provide "one button" or some simple way to get running/debugging. I think having a `Set Debugger` would be good.

Is the goal to have this for simple single file projects? Is the goal here for more complex projects to start from a state where compilation is done already? If so, the user would also need an option to select an exe

[2020-01-14 16:51] pieandcakes commented on #4848
Hi @joolzg. This looks like a duplicate of #2506. Please comment or upvote that issue

[2020-01-14 16:51] #4848 closed, assigned to nobody

[2020-01-14 17:00] pieandcakes commented on #4843
@kjpus This is by design. Natvis is an expensive procedure as for each item, we need to make queries to the debugger to get information, we have capped this to 50. If you have a better suggestion on a size limit, please let us know.

Code:
[The size limit](https://github.com/microsoft/MIEngine/blob/f342bf345dbc5a896d767786b9fa9ef1ee641ead/src/MIDebugEngine/Natvis.Impl/Natvis.cs#L155) and [where it

[2020-01-14 17:01] tomasalles commented on #4842
Does this help?
<details>
<summary>language service logs</summary>
initialized
workspace/didChangeConfiguration
IntelliSense Engine = Default.
Autocomplete is enabled.
Enhanced Colorization is enabled.
Error squiggles are enabled if all header dependencies are resolved.
File exclude: **/.git
File exclude: **/.svn
File exclude: **/.hg
File exclude: **/CVS
File exclude: **/.DS_Store
File exclude: **

[2020-01-14 17:12] pieandcakes commented on #4780
I see a few problems in engine log you provided. symbol loading should be done automatically but it looks like the version of `gdb` that is being used in the `interpreter=mi` mode is not loading the symbols.

I see the `solib-search-path` and `file-exec-and-symbols` paths being set:
[code]

but when the initial breakpoint is set, it looks like no symbols are loaded and gdb doesn't try and load any

[2020-01-14 17:17] pieandcakes commented on #4780
I would expect to see `->=library-loaded` events coming from `gdb`. Can you see if you can run `info sharedlibrary` and see what is actually loaded? If you can't get it while running in VS Code, you can start `gdb` with the `--interpreter=mi` flag to start it in `mi` mode.

[2020-01-14 17:48] isidorn commented on #4837
The goal of this view is currently to be shown when the user has no `launch.json` - so it intended for beginner users who have issues with seting up debugging.

As for the selecting an executable, could that be done as part of the C++ start action. You could ask the user via quick pick and depending on the answer fill in the `launch.json` on the fly?

[2020-01-14 18:17] pieandcakes commented on #4837
We have been tossing that idea around.

[2020-01-14 19:05] jasonwilliams commented on #3022
Even glob support would be nice, vscode-lldb added this to their debugging extension recently and its been helpful:
https://github.com/vadimcn/vscode-lldb/blob/master/CHANGELOG.md#070
https://jason-williams.co.uk/debugging-rust-in-vscode

[2020-01-14 19:27] WardenGnaw commented on #4842
@tomasalles That is the language server logs, could you share the debugger logs?

[2020-01-14 19:42] slootmat commented on #4840
Hello, thanks for taking this up. My issue #3 was that of not finding  the
expected items on the menu dropdown list. I have done what the tutorial
instructed regarding setting PATH variable to the file path of the MINGW64
compiler. That step is not in question. I am able to launch the Mingw64
console from the windows command window after setting the PATH variable.
Please confirm or correct my unde

[2020-01-14 20:16] sean-mcmanus commented on #3923
No change. You can probably workaround this via disabling the extensions.autoUpdate or setting C_Cpp.updateChannel to "Default".

[2020-01-14 20:28] sean-mcmanus commented on #4840
The compilerPath is a setting in c_cpp_properties.json (from C/C++: Edit Configurations) -- which is not normally necessary to use the build and debug feature, but there's a bug that is causing the feature to fail when the compilerPath is blank. Setting the C_Cpp.default.compilerPath may also work (but I haven't verified that). The bug is causing the compilers on the PATH to not be shown in the dr

[2020-01-14 20:35] michelleangela commented on #4840
@slootmat , how did you open VS Code? Was it through a Windows command prompt?

[2020-01-14 20:35] sean-mcmanus commented on #4847
Duplicate of https://github.com/microsoft/vscode-cpptools/issues/4503 . You can upvote the VS bug if you have a Microsoft account: https://developercommunity.visualstudio.com/content/problem/796872/cc-intellisense-in-gccclang-mode-shows-attribute-c.html

[2020-01-14 20:35] #4847 closed, assigned to nobody

[2020-01-14 20:38] jgunthorpe commented on #2782
When the gnu options are supported will they auto configure from the compile_commands.json?

ie my project emits a compile_commands.json that includes -std=gnu11, will all the red squiggles go away once this is fixed? We expect the project to compile in glibc's -D_DEFAULT_SOURCE mode as is the default for all the -std=gnu* options. Not in STRICT_ANSI mode as vs code defaults to.

It is a significa

[2020-01-14 20:47] sean-mcmanus commented on #2782
@jgunthorpe If your project uses one "std" then I believe it would work to just set that in the c_cpp_properties.json; however, if you require the "std" to be picked up in the compile_commands.json command arguments, then we would also need to fix https://github.com/microsoft/vscode-cpptools/issues/1755 (the workaround for that for non-std flags is to pass the arguments in the compilerPath or comp

[2020-01-14 21:03] WardenGnaw commented on #4837
For this scenario, do we want `Run and Debug` to do the same as `Build and Debug Active File`?

We already show this dropdown for that:
![image](https://user-images.githubusercontent.com/3953714/72382387-00096500-36ce-11ea-840e-1f6cfbfd3ec8.png)

If users do not know how to customize `launch.json` they probably just want F5 to automatically build and debug a simple app (e.g. a Hello World program)

[2020-01-14 21:13] jgunthorpe commented on #1755
@sean-mcmanus I think this case is quite important. We are looking at using vs code more widely and one of the blockers is how much expert configuration it seems to need. We'd like people to just point it at the top of a git tree that uses cmake, or the linux kernel and have everything auto-setup based on that.  cmake is the most complete extension right now, and it tells vs code all the right com

[2020-01-14 21:25] sean-mcmanus commented on #1755
@jgunthorpe We recommend cmake users use the CMake Tools extension as their 1st choice for configuring, without compile_commands.json. It can properly set the c/cppStandard (although the gnu standards don't work yet).

[2020-01-14 21:37] jgunthorpe commented on #1755
@sean-mcmanus ??? I am testing with the CMake Tools extenion, and it invokes cmake with options to force it to produce compile_command.json?? Are you saying it shouldn't do that? I'm confused how things can possibly work with out compile_command.json, or how the CMake Tools extension is supposed to automatically detect that the cmake files are switching into gnu11 mode. There isn't a cmake standar

[2020-01-14 21:43] sean-mcmanus commented on #1755
@jgunthorpe CMake Tools implements our vscode-cpptools-api (https://github.com/microsoft/vscode-cpptools-api/blob/master/api.ts) and sends us "custom configuration" data with all the config info we need. The generation of a compile_commands.json is not needed, i.e. just set our configurationProvider (to "vector-of-bool.cmake-tools" or "ms-vscode.cmake-tools" and unset the compileCommands setting -

[2020-01-14 21:50] slootmat commented on #4840
I can open VS Code in three ways:
1. from the windows command prompt after using cd to e in the folder that
the project top level was.
2. By opening a file from the VS Code GUI already opened, but without
having been opened from a VS Code workspace  file.
3. By navigating to a defined VS code workspace file that I defined by
saving "Workspace as", when there was not yet a workspace file defined.

[2020-01-14 22:12] jheaff1 commented on #3942
I too would very much like to have this issue resolved. Until the enhanced colorization is functional via remote development, I will continue to use the clunky Eclipse C++ editor

[2020-01-14 22:56] michelleangela commented on #4840
Initially I thought you'd have to open VS code from the Windows command prompt, but this is not necessary.

I was able to execute `g++ --version` in the [VS Code integrated terminal](https://code.visualstudio.com/docs/editor/integrated-terminal) when I restarted or reloaded VS Code after installing mingw64, otherwise the integrated terminal will not recognize it. I'm assuming you've also restarted

[2020-01-15 00:19] jgunthorpe commented on #1755
@sean-mcmanus Yes, I was certainly prompted, and if that is a bug, OK. Hum, I see, cmake-tools requests the compilation database and it looks like it only uses it with tryCompileFile - which seems like a lot of work when it could just invoke ninja directly to compile a single object file.

I also see that cmake-tools contains a command line parser for gcc options and does parse the -std option (pa

[2020-01-15 00:57] sean-mcmanus commented on #1755
I'm not sure how we'd make it more uniform (code lives at different locations). Yeah, when we add the gnu standards, it should work for cmake projects.

[2020-01-15 04:35] sana-ajani opened #4849 "Use CustomEditor API for Configuration UI"

[2020-01-15 04:38] sana-ajani opened #4850 "Use VS Code CustomEditor API for Configuration UI"
C++ extension currently has their C++ Configuration UI in a web view, can use the VS Code Custom Editor API Proposal: https://github.com/microsoft/vscode/issues/77131

[2020-01-15 04:38] #4849 closed, assigned to nobody

[2020-01-15 04:40] sana-ajani opened #4851 "Stay * activated, but trigger *real* activation when C/C++ file is loaded"
From C++/VS Code sync meeting:

Delay *real* activation of C++ extension. Want to avoid notification that contents of extension have changed and the user needs to reload

Possible Solutions:
- Potentially have one extension that is language activated and one for tools that is always * activated that downloads platform specific bits and fetches latest, because extension should be ready to go

[2020-01-15 05:14] sean-mcmanus commented on #4851
I think VS Code's platform specific marketplace should eliminate the need to use "*" activation...not sure what their timeframe is on that yet though.

[2020-01-15 09:28] n4ll3ec commented on #3829
same issue +1
macOS: 10.15.2
VS Code: 1.41.1
C/C++ version: 0.26.3-insiders3: January 8, 2020

[2020-01-15 09:57] tomasalles commented on #4842
Hello again Andrew, I've posted to imgur my settings in launch.json, and the setting in workspace for debug logging, but I only see those possible outputs, check https://imgur.com/gallery/q38oSXs

Am I missing something here?

Regards,
tomasalles

[2020-01-15 10:21] isidorn commented on #4837
@WardenGnaw agree that users would want F5 to just work. Which is automatically build and debug.
So the best experience would be if the C++ is creating a launch configuraiton on the fly that it also fils in the `preLaunchTaks` so the active file gets built. is that doable? Or would you need a special command for this? If you want a seperate button than we would need to contribut another button whi

[2020-01-15 13:50] kjpus commented on #4843
@pieandcakes Thanks for your response. I understand the reasoning but could this be made configurable (either in launch.json or as a user/workspace setting), rather than a hard-coded number?

[2020-01-15 16:45] arthurphilippe opened #4852 "Auto-complete shows non-class members in the class initializer list"
**Type: LanguageService**

*I don't know if that qualifies as a bug or if this is the intended autocompletion behaviour.*

**Describe the bug**
- OS and Version: Archlinux
- VS Code Version: 1.41.1
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
1. Start implementin

[2020-01-15 17:54] bobbrow commented on #4756
Got it.  Thanks.  Are we able to add the "fixed (release pending)" tag to this issue @sean-mcmanus or is this a duplicate of the other "insiders won't install in remote" issue?

[2020-01-15 19:40] sean-mcmanus commented on #4756
@bobbrow The issue morphed into the fixed issue. The originally issue is missing binaries, which doesn't have a resolution, other than it will be fixed when the have platform a specific marketplace.

[2020-01-15 19:49] michelleangela commented on #4838
@jphw , can you share the [language server logs](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server) of the issue occurring? Perhaps the logs will show the work happening in the processes.

[2020-01-15 19:52] sean-mcmanus commented on #4852
The first issue repros with VS so I've reported a bug at https://developercommunity.visualstudio.com/content/problem/886129/cc-intellisense-autocomplete-shows-non-class-membe.html .

The 2nd issue doesn't repro with VS so it's a bug with our completion code, although it's semi-"by design" (or a known limitation) and doesn't repro for built-in types like "int". I've moved it to https://github.com/m

[2020-01-15 20:00] sean-mcmanus opened #4853 "Auto-complete shouldn't auto-invoke following a non-keyword type and should be manually invokable following a keyword type"
Originally reported at https://github.com/microsoft/vscode-cpptools/issues/4852 . It's a known issue since auto-complete was released so this may be duplicate of another issue.

[code]

Both bugs don't repro with VS.

[2020-01-15 20:21] bobbrow commented on #4838
Are you referring to the https://github.com/electron/electron repo?  I just cloned it on my MacBook and didn't have any trouble with version 0.26.2 (or 0.26.3 insiders).  About 1800 files are tag parsed and the extension made quick work of it.

Please confirm the repo and also turn on logging as @michelleangela suggested and we can take a further look.

[2020-01-15 20:43] WardenGnaw commented on #4842
Can you change the fields in the logging object to `true`?
e.g.
[code]

[2020-01-15 21:01] tomasalles commented on #4842
Done, want the output from debug console?

[2020-01-15 21:18] WardenGnaw commented on #4842
Yes, those logs will help with figuring out why the FILE* pointer is being set incorrectly.

[2020-01-15 21:22] tomasalles commented on #4842
<details>
<summary>debugger logs</summary>
<--   C (stepIn-18): {"command":"stepIn","arguments":{"threadId":2704},"type":"request","seq":18}
--> E (output): {"type":"event","event":"output","body":{"category":"console","output":"1: (9816) <-1046-exec-step\n"},"seq":626}
1: (9816) <-1046-exec-step
--> E (output): {"type":"event","event":"output","body":{"category":"console","output":"1: (9816) ->10

[2020-01-15 21:23] tomasalles commented on #4842
those are the logs as soon as I enter the function that reads the file

[2020-01-15 21:25] tomasalles commented on #4842
source code for function in case it helps
<details>
<summary>code</summary>

[code]
</details>

[2020-01-15 22:34] pieandcakes commented on #4851
We currently download platform specific files for both language service and debugger after * activation. If we choose to delay the activation, the user may be in a state where they assumed they were ready to go but then we need to download additional files. This becomes an issue if the user is then out of an area where they have internet connection.

As @sean-mcmanus says, once there is support fo

[2020-01-15 22:35] pieandcakes commented on #4788
This should be enabled via `gdb`'s `pretty-printing`. Are you planning on adding support in another way?

[2020-01-15 22:42] sean-mcmanus commented on #4772
We're tracking it with https://github.com/microsoft/vscode-cpptools/issues/2887 .

[2020-01-15 22:42] #4772 closed, assigned to nobody

[2020-01-15 22:51] sean-mcmanus commented on #4851
@pieandcakes I believe the user was requesting we always keep "*" as the activation event (not overwriting it), but then delaying "real activation" for anything that is "problematic" (unwanted, resource using), which is what our language server side does already.

[2020-01-16 01:45] bobbrow commented on #4851
@sean-mcmanus, yes, that is what we discussed in the VS Code sync meeting.  This is a request to investigate whether we can stay `*` activated so that we don't need to rewrite the package.json file.

[2020-01-16 03:03] iamJunPan commented on #121
Any update on this issue?  i also ran into it. Or somebody give me a workaround?  Many thanks.

[2020-01-16 03:23] bobbrow commented on #4756
Then should we close this as a duplicate?

[2020-01-16 03:28] sean-mcmanus commented on #4756
Yeah, I marked it as a duplicate a month ago, but left it open still.

[2020-01-16 03:28] #4756 closed, assigned to nobody

[2020-01-16 03:57] dnwillia-work commented on #2887
@sean-mcmanus Thanks for point out this issue.  As I said in issue 4772 it's nice to have the newer version bundled in a team environment with multiple developers using vs code.

One of the features I was looking for was additional controls over what code can be on a single line.  The old formatter changes one line statements a bit to often.

[2020-01-16 16:44] bmacnaughton opened #4854 "feature request: add node-gyp include paths"
When writing node-gyp-based C/C++ extensions to nodejs, node-gyp adds the currently active node include directory to the include path. the binding.gyp file can specify additional paths. These are not configured in system environment variables (and when using nvm the location of the node include directory is dynamic which is the real issue). When using node-addon-api, the `"<!@(node -p \"require('n

[2020-01-16 17:38] iCarletto commented on #4791
Hi, I'm not sure this is exactly related to this topic, but my extension does not allow me to set a Compiler Path from the UI. I cannot type or click in the box, there is only a red message: No compiler paths detected.
![immagine](https://user-images.githubusercontent.com/17774874/72548309-b320bc80-388e-11ea-8148-1df01567c947.png)
After manually setting the relative entry in the json file
`"compil

[2020-01-16 18:05] Colengc commented on #4791
Hi @iCarletto .  That looks like https://github.com/microsoft/vscode-cpptools/issues/4727 , which is being looked at right now.  In the meanwhile, the work-around is to edit the JSON file directly to change this settings.

[2020-01-16 22:00] bigbrett commented on #1083
Oh my god +1 this issue please this has been driving me crazy

[2020-01-16 22:27] bobbrow commented on #4724
I believe this will be addressed with #4737. I will close this as a duplicate.

[2020-01-16 22:27] #4724 closed, assigned to nobody

[2020-01-16 22:58] bobbrow commented on #4637
I think we need to remove this from the config and put it in a separate variable as soon as the message comes back from the language server.  It should never be a part of `c_cpp_properties.json` (as I have seen it appear in some issues).  We should probably clean up and configs we see that have it.

[2020-01-17 02:50] sean-mcmanus commented on #4834
Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.3-insiders4

[2020-01-17 03:11] stanpcf opened #4859 "I just want to know if somebody's vscode for c++ can auto-completion."
**Type: LanguageService**

**Describe the bug**
- OS and Version: centos7.2
- VS Code Version: latest
- C/C++ Extension Version: all version(about a year, I always use latest version)
- Other extensions you installed (and if the issue persists after disabling them): only vscode-cpptools installed
- A clear and concise description of what the bug is:
![image](https://user-images.githubusercontent.c

[2020-01-17 03:15] sean-mcmanus commented on #4859
Is your C_Cpp.intelliSenseEngine set to "Default"? Are there any squiggles in the file? Does the configuration info appear correct when you run C/C++: Log Diagnostics?

[2020-01-17 03:24] stanpcf commented on #4859
C_Cpp.intelliSenseEngine set to "Default" is useless. my project can make && run successful.

[2020-01-17 03:28] sean-mcmanus commented on #4859
Can you share the log from C/C++: Log Diagnostics or the C/C++ log when you set C_Cpp.loggingLevel to "Debug"?

Our extension doesn't automatically process makefiles to extract the correct includes and defines.

[2020-01-17 03:34] stanpcf commented on #4859
my settings.json
[code]
where to find Log Diagnostics

[2020-01-17 03:41] stanpcf commented on #4859
#### vscode info:
version: 1.41.1 (user setup)
commit: 26076a4de974ead31f97692a0d32f90d735645c0
date: 2019-12-18T14:58:56.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

I use vscode-ssh for remote develop. remote os is `Red Hat 4.8.3-9`

[2020-01-17 04:11] sean-mcmanus commented on #4859
C/C++: Log Diagnostics is a command issued from the View->Command Palette. You should have the file that isn't auto-completing correct active when you run the command.

[2020-01-17 05:50] stanpcf commented on #4859
C/C++: Log Diagnostics
[code]
![image](https://user-images.githubusercontent.com/13925796/72587461-52e25700-3930-11ea-9eee-12b3dadb7953.png)

[2020-01-17 05:52] zipzit commented on #2341
[Mingw-w64](http://www.mingw-w64.org/doku.php) is an advancement of the original mingw.org project, created to support the GCC compiler on Windows systems. It has forked it in 2007 in order to provide support for 64 bits and new APIs. It has since then gained widespread use and distribution.

[2020-01-17 06:13] sean-mcmanus commented on #4859
Your set /usr/lib64/ccache/clang with C++14 is failing to be queried for includes/defines and is falling back to /usr/bin/clang++ with C++11, which is a very old 3.4 version, which may be causing some issues. The screenshot also shows a squiggle -- looks like a header file can't be found.

However, those configuration issues shouldn't normally affect the autocomplete unless there's some unusual pa

[2020-01-17 06:19] WardenGnaw commented on #4842
The information provided is helpful! Seems like an issue with our code somewhere displaying the wrong value. Just a couple more questions:

Are you able to expand on the variable when it is showing `0x0`?
Are you using arch-x64?

[2020-01-17 08:01] Fakamakato opened #4861 "Error navigation from terminal to files in root folder"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win10 x64 1909
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.2
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Navigation to an error/warning doesn't work for files in the root, but works for files in subfolders.
**To Reproduce**

1

[2020-01-17 09:22] sean-mcmanus commented on #4861
What is your problemMatcher set to you in your tasks.json? It sounds like it might be a VS Code issue.

This thread might be related: https://github.com/microsoft/vscode-cpptools/issues/2266

[2020-01-17 10:51] elsucht opened #4862 "'C_Cpp.ConfigurationEditJSON' not found using remote ssh"
Using vscode with cpptools under Win10 and remote ssh to a Ubuntu based Jetson Nano machine.
Getting error messages :

Tried 0.26.1 with same issue. Reinstalling and/or restarting did not help.

- OS and Version: Win10 10.0.18362
- VS Code Version:  1.41.1
- C/C++ Extension Version: 0.26.2
- Remote SSH (on Host), Cmake, Cmake Tools, Python(on Remote)

in addition there is a porblem:

[2020-01-17 11:56] Fakamakato commented on #4861
I tried different options with problemMatcher, it did not help. Might be because i use Makefiile?

[2020-01-17 12:56] tomasalles commented on #4842
Yes, I use arch-x64, can you explain what do you mean by expanding on the variable?

[2020-01-17 13:00] pkeir commented on #513
In Windows 10, VS Code 1.41.1, setting `"externalConsole": true` in my launch.json does indeed produce an external console...and is helpfully updated after each usage of `std::cout`. This is significant when I am step debugging existing code which uses `std::cout`. In general I would though rather use the internal console ("DEBUG CONSOLE") of VS Code. Alas, output to `std::cout` seems only to be d

[2020-01-17 13:29] tomasalles commented on #4842
As soon as the pointer changed to 0x0 all the inside variables disappear. Check screen here : https://imgur.com/a/666mbwm
This is a big bummer as I have to resort to other IDE's to debug my code...

[2020-01-17 17:55] Colengms commented on #4862
Hi @elsucht .  I'm not able to repro this (with remoting into standard desktop Ubuntu).  Is there anything output to the C/C++ channel in the output window?

[2020-01-17 18:10] pieandcakes commented on #4773
@yannl35133 What do we need to do differently to support assembly file debugging? Can you provide more information on what different configuration options you need to enable it?

@DebugBSD If you want to give me a workflow of how you are debugging it today with Visual Studio, I can investigate what needs to happen.

[2020-01-17 18:14] pieandcakes commented on #4592
@andyj513 Thank you for your reply. For the external console = true, can you check your VS Code settings to see what you have the terminal settings set to? It looks like it has a problem with your default setting for that. If it is set correctly, let me know as that is a VS Code bug. [This](https://github.com/microsoft/vscode-cpptools/issues/2998#issuecomment-459214989) comment should help you fin

[2020-01-17 18:14] #4592 closed, assigned to pieandcakes

[2020-01-17 18:18] pieandcakes commented on #4740
It is required because that is what we tell `gdb` to load for symbols.

[2020-01-17 18:22] pieandcakes commented on #4740
For 1, we will need to parse the `config` and get the filename of `program` and filter [here](https://github.com/microsoft/vscode-cpptools/blob/master/Extension/src/Debugger/nativeAttach.ts#L155)

[2020-01-17 18:28] pieandcakes commented on #4740
For 4: https://github.com/microsoft/vscode-docs/pull/3352. I commented about the invalid entry as i suspect VS Code is not doing the right thing.

[2020-01-17 20:06] sean-mcmanus commented on #4861
But you're using the $gcc problemMatcher, right?

The default should be the same as
[code]

[2020-01-17 21:07] thatnerdjack opened #4863 "Cannot start server when running in remote SSH environment."
### Describe the issue

- OS and Version: MacOS 10.15.2
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.2
- Other extensions you installed (and if the issue persists after disabling them):
Locally: Remote - SSH, Remote - SSH: Editing Configuration Files
Remote: just this plugin
- A clear and concise description of what the bug is:
When I reload or start the window, I immediately get an e

[2020-01-17 21:12] sean-mcmanus commented on #4863
Your host OS is Mac and your target OS is what? It looks like our extension process is crashing on the remote machine.

[2020-01-17 22:08] domenic opened #4864 "compile_commands.json could not be parsed for the one generated by Chromium"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 v1909
- VS Code Version: 1.41.1 (user setup)
- C/C++ Extension Version: 0.26.2
- Other extensions you installed (and if the issue persists after disabling them): EditorConfig, ESLint, Glitch, Python, Remote - WSL, Rewrap, vscode-icons. I have not tried disabling them but can if you think that would possibly help.
- A clea

[2020-01-17 22:25] sean-mcmanus commented on #4864
It doesn't appear to valid JSON, according to our parser and according to what I see, which is
[code]
Looks like the string quotes aren't escaped? Your tool that outputs JSON has a bug? Or do you believe our parser has a bug?

[2020-01-17 22:28] domenic commented on #4864
Wow, thank you for the second set of eyes (especially so quickly). The problem is clearly on our side, so I will close this.

https://bugs.chromium.org/p/gn/issues/detail?id=140 for anyone else's reference.

[2020-01-17 22:28] #4864 closed, assigned to nobody

[2020-01-17 22:57] Colengms commented on #4381
This is blocked on: https://github.com/andrewrk/node-fd-slicer/issues/3

[2020-01-18 00:12] A-Mendi commented on #1768
Any updates on this issue?

lldb version:
lldb-1001.0.13.3 - Swift-5.0lldb-1100.0.30.11
Apple Swift version 5.1.3 (swiftlang-1100.0.282.1 clang-1100.0.33.15)

Mac OS version: 10.14.6

cpptools version: 0.26.2

VS code version:
1.41.1
26076a4de974ead31f97692a0d32f90d735645c0
x64

g++ --version:
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/Library/

[2020-01-18 02:57] thatnerdjack commented on #4863
Sorry! That would be Ubuntu 18.04.3 LTS

[2020-01-18 03:03] fangkyi03 commented on #4179
mac 10.15.2
I have the same problem

Issues an error:
Warning: Debuggee TargetArchitecture not detected, assuming x86_64.
=thread-selected,id="1"

[2020-01-18 03:04] sean-mcmanus commented on #4863
Does it crash even with a simple hello world project?

Are you able to get a call stack for the crash somehow? Such as via attaching a debugger before it crashes or configuring your OS to log the crash? The process is Microsoft.VSCode.CPP.Extension.linux on the remote machine.

We have a newer release at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.3-insiders4 , but I don't expec

[2020-01-18 03:06] fangkyi03 commented on #4179
--> E (output): {"type":"event","event":"output","body":{"category":"console","output":"1: (1016) ->\n"},"seq":213}
1: (1016) ->
--> E (output): {"type":"event","event":"output","body":{"category":"console","output":"1: (1020) <-logout\n"},"seq":215}
1: (1020) <-logout
--> E (output): {"type":"event","event":"output","body":{"category":"console","output":"1: (1024) Send Event AD7ProgramDestroyEven

[2020-01-18 03:10] fangkyi03 commented on #4179
1: (1044) ->1010^done,threads=[{id="1",target-id="Thread 1",frame={level="0",addr="0xffffffffffffffff",func="??",args=[],file="??",fullname="??",line="0"},state="running"}]
1: (1044) ->(gdb)
=thread-selected,id="1"
@"123"
1: (1049) 1010: elapsed time 5
1: (1051) Send Event AD7ProcessInfoUpdatedEvent
1: (1052) Send Event AD7ThreadCreateEvent
1: (1058) <--gdb-exit
1: (1058) ->^exit
1: (1058) ->=thre

[2020-01-18 03:11] fangkyi03 commented on #4179
--> E (output): {"type":"event","event":"output","body":{"category":"telemetry","output":"VS/Diagnostics/Debugger/Launch","data":{"VS.Diagnostics.Debugger.ImplementationName":"Microsoft.MIDebugEngine","VS.Diagnostics.Debugger.EngineVersion":"14.0.61023.1","VS.Diagnostics.Debugger.HostVersion":"14.0.61023.1","VS.Diagnostics.Debugger.AdapterId":"cppdbg","VS.Diagnostics.Debugger.Launch.Duration":457,

[2020-01-18 03:11] fangkyi03 commented on #4179
<--   C (setBreakpoints-3): {"command":"setBreakpoints","arguments":{"source":{"name":"a.cpp","path":"/Users/mac/Desktop/QuickJS/a.cpp"},"lines":[9,10],"breakpoints":[{"line":9},{"line":10}],"sourceModified":false},"type":"request","seq":3}
<--   C (setFunctionBreakpoints-4): {"command":"setFunctionBreakpoints","arguments":{"breakpoints":[]},"type":"request","seq":4}
<--   C (setExceptionBreakpoin

[2020-01-18 11:04] Fakamakato commented on #4861
Yes, that's right. I can put all source files into subfolders, than will be some kind of a solution.

[2020-01-18 11:04] #4861 closed, assigned to nobody

[2020-01-18 12:06] tachyon83 commented on #3829
I went through the same problem. My cpp code debugging started having problem right after I upgraded my macOS from Mojave to Catalina.
I had a similar problem whenever I did the OS update.
Sometimes I could fix the problem by reinstalling Xcode.

After a few hours of struggling, I finally got here.
I thought maybe upgrading Xcode could get this working.
But as mentioned above, it looks like upgrad

[2020-01-18 12:09] tachyon83 commented on #3829
Thank you very much for letting me know about CodeLLDB

[2020-01-18 12:58] VishalDhayalan commented on #429
This support is seriously a need. Hope ARM support is available ASAP.

Could others make sure they also upvote the original comment instead of only posting replies with a +1. Thanks!

[2020-01-18 15:22] stanpcf commented on #4859
nothing shows when I hover over the fin_line_count variable.

below show the autocomplete.
![image](https://user-images.githubusercontent.com/13925796/72665898-e35f8b00-3a47-11ea-99a3-5e72d8ccc63e.png)

![image](https://user-images.githubusercontent.com/13925796/72665976-84e6dc80-3a48-11ea-8f58-4230b041d8ce.png)

[2020-01-18 20:06] rozaydin commented on #429
+1 for Raspi 3 and 4

[2020-01-19 02:58] mdmorar commented on #429
+1 ARM64 Development Environment using VSCode for the Jetson TX2 and other Nvidia devices. I have tried using headmelted build of vscode and it seems to work for some items, but I still can't fully develop on it. Its missing alot of core things that make vscode great on an amd64 box like debugging, running code, alot of the iot and azure extensions don't work etc... there are alot of issues.

Ulti

[2020-01-19 09:35] windless0530 commented on #4192
Are there any updates about the solution to this issue? Thanks.

[2020-01-19 10:35] zmer007 commented on #3829
I installed CodeLLDB and change launch.json as follow, then it works.
[code]

[2020-01-19 13:04] hwhsuguest opened #4865 "Cannot Launch the C++ executable in Multi-Root Workspace?"
I want to use Multi-Root structure to edit and compile Multiple Project.
(Just like having multiple projects in a solution in Visual Studio)

However, I met some problems.

Whether I chose “g++(C-Project)” or “g++(…code-workspace)”, both of them can generate an executable.

After compiling, I used Launch to run the executable. Both “Launch(C-Project)” and “Launch(code-workspace)” failed.

I checke

[2020-01-20 01:49] andl opened #4866 "config includePath for project with generated code and NFS"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.2
- Other extensions you installed (and if the issue persists after disabling them): n/a
- A clear and concise description of what the bug is.

I'm trying to figure out what's the proper way to setup `includePath` in `c_cpp_properties.json` for an internal c++ pr

[2020-01-20 02:31] windless0530 opened #4867 "False positive case of intelli-sense: 'this declaration has no storage class or type specifier'"
**Type: LanguageService**

Usually the error 'this declaration has no storage class or type specifier' means some statement written outside functions. But here the intelli-sense of C/C++ extension reports it somewhere else, where there is no error when I compile it.

**Describe the bug**
- OS and Version: 10.15.2
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.2
- Other extensions you in

[2020-01-20 03:50] hhc97 commented on #882
Agreed, this feature would be excellent to have.

[2020-01-20 05:04] hwhsuguest commented on #4865
When I launch the exe, it shows the message:

Unable to start debugging. Program path ‘D:\HW_VSC\VSC-SPP-MINGW_MR\C-Project\test1.exe’ is missing or invalid.
GDB failed with message: “D:\HW_VSC\VSC-SPP-MINGW_MR\C-Project\test1.exe”: not in executable format: File format not recognized.
This may occur if the process’s executable was changed after the process was started, such as when installing an

[2020-01-20 07:34] magdumnikhil opened #4868 "Support '.' for includePath to reference the current TU's folder"
**Type: LanguageService**

**Describe the bug**
Mentioning "-I." or "-I./" in compilerArgs should include the directory in which source file exists.
Or "{fileDirname}" should be allowed in compilerArgs

- OS and Version: Ubuntu 18.04 (64-bit)
- VS Code Version: 1.41
- C/C++ Extension Version: 0.26.2

I have a limited number of project-specific include directories(around 5-6) but many source direct

[2020-01-20 08:25] elsucht commented on #4862
There is no C/C++ channel available in the output window. Looks like the installation does not go through normally. Every command I execute is not found...

the remote server logs

[2020-01-20 09:18:44.048] [remoteagent] [info] Downloaded extension: ms-vscode.cpptools /tmp/4a4167ee-519d-40f6-8ae4-01b44c946111
[2020-01-20 09:18:44.110] [remoteagent] [info] Removed the extension from uninstalled lis

[2020-01-20 08:53] Rvadrabade opened #4869 "Debug console output to file on disk have different format"
Type: Debugger

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.2
- Other extensions you installed (and if the issue persists after disabling them): No
- A clear and concise description of what the bug is as follows.

**To Reproduce**
Default configuration for build and launch were used.
Steps to reproduce the behavior with sample CPP c

[2020-01-20 10:11] elsucht commented on #4862
Tried the insiders version of vscode, remote ssh and cpptools and same issues exists.
At startup of vscode the message "Architecture arm64 is not supported. " appears. Could it be related to the issue?

[2020-01-20 13:12] PDostalek commented on #4816
@Colengms thx for reply, but which string is concatenated with? Cannot find the remaining part of that " The process has.."

[2020-01-20 13:19] PDostalek commented on #4815
Thanks !

[2020-01-20 13:19] #4815 closed, assigned to nobody

[2020-01-20 18:36] aliaksei-siarhei opened #4870 "possibility to set cpptools.activeConfigName from a different extension"
Type: General

I'm trying to make an extension for VS Code and possibility to control activeConfigName would be highly useful.

So far I only found how to bring "Select configuration" dropdown on the screen:
`vscode.commands.executeCommand('C_Cpp.ConfigurationSelect')`

Is there any hack/possibility to select configuration without user interaction?

[2020-01-20 21:35] rolandma commented on #4829
As of now, this failure is still happening. There's a setting in the extension

which automatically tries to load the latest preview, and cause this problem repeatedly. So before a fix is available, I suggest to disable the "insider" level, switch it back to default.

[2020-01-21 01:07] Wanye1062271859 commented on #4678
This issue doesn't reproduce in latest release version 1.41.1 now.

[2020-01-21 01:07] #4678 closed, assigned to nobody

[2020-01-21 06:36] allanleal opened #4871 "Outline view does not show methods in nested structs/classes"
Issue Type: <b>Bug</b>

Consider the following C++ class declaration using the pimpl idiom:

**Constant.hpp**

[code]

and here its definition:

**Constant.cpp**

[code]

The Outline View for the file `Constant.cpp` does now show the methods/variables inside the nested structure `Constant::Impl`.

![image](https://user-images.githubusercontent.com/5825588/72781041-a00c4480-3c20-11ea-8822-0ab6a3aa9

[2020-01-21 07:46] huanghantao opened #4872 "How do I filter the header file search path?"
Now, I have an include folder in my workspace that holds my header files. When I compile the code, I need to install the workspace header under /usr/include. This will cause the vscode search to find two defined places. Here is my configuration:

[code]

I don't want to search for /usr/include/myproject.

[2020-01-21 12:57] mjvankampen commented on #4523
OS and Version: windows 10 1909 build 18363.592
VS Code Version: 1.41.1 (user setup)
C/C++ Extension Version: 0.26.2
Other extensions you installed (and if the issue persists after disabling them): cmake tools, power tools, all else disabled

A few colleagues of mine do not have this issue. They are running Windows 1803, not sure if that can make a difference. I tried with/without UTF8 beta enable

[2020-01-21 14:15] Qone2 commented on #4523
@pieandcakes
wow now it works!
thanks a lot!!

[2020-01-21 16:57] bonfire62 commented on #296
How did you disable it? I'm having the same issue, where I will get the light progress indicator near the top toolbar scrolling upon rename, and nothing happens...

[2020-01-21 17:01] bonfire62 commented on #296
Having the same issue as described previously, Currently on 0.26.3-insiders. Looked through the logs, didnt see any weird output or disconnects, but I'm happy to collect logs and post if helpful!

[2020-01-21 17:07] bonfire62 commented on #296
seeing this
![image](https://user-images.githubusercontent.com/8891976/72826285-cab4c800-3c35-11ea-9ee5-7ea63c1b9acf.png)
Could it be caused by a large workspace? (number of files)

[2020-01-21 17:52] Colengms commented on #4816
There is no other string to concatenate with.  You have the complete string.  It is not a complete sentence.  We will update it to be the string I mentioned; "The process has not yet exited. Will sleep for {0} miliseconds and try again."

[2020-01-21 17:53] bobbrow commented on #4819
Thank you for posting such a kind review of the extension.  We really appreciate it.

[2020-01-21 17:58] Colengms commented on #4867
Hi @windless0530 .  Thanks for reporting this.  Can you reduce this to segment of code we can use to reproduce the issue, and share that with us?  Thanks.

[2020-01-21 18:09] Colengms commented on #4871
Hi @allanleal .  Thanks for reporting this.  It looks like the use of a scope in the struct declaration is not being handled properly.

[2020-01-21 18:26] WardenGnaw commented on #4869
This is due to the C++ extension debugger using`gdb` with the flag `--interpreter=mi`.

The `~` before the output indicates that it is a [console output](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI-Output-Syntax.html#GDB_002fMI-Output-Syntax).

"~" c-string nl

If you change the following commands to the associated [`mi` commands](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI.html)

[2020-01-21 20:07] sean-mcmanus commented on #4859
Looks like our parser is hitting some bad state around the fin_line_count definition, possibly due to the usage of the old clang version (3.4) or the intel compiler extensions. Are you able to provide an isolated repro or code sample, preferably using -E to generate a preprocessed file? Unfortunately, I don't believe we'll be able to fix this without a repro (and we haven't heard from other users

[2020-01-21 20:10] sean-mcmanus commented on #4192
Sorry, no update.

[2020-01-21 20:15] vsjha18 commented on #4687
Values like C_Cpp.intelliSenseEngine.

[2020-01-21 20:22] vsjha18 commented on #4687
In the package.json there are few settings with C_Cpp.default.* and few are like C_Cpp.intelliSenseEngine (without the "default") in the name. In what way they differ? It would be great if you can explain.

[2020-01-21 20:29] sean-mcmanus commented on #4866
There might not be an ideal solution, since our extension doesn't understand .proto files and doesn't have any mechanism to map that file to particular generated files.

You could try using the forcedInclude setting to add the specific generated headers to every TU. You could try changing the exclusionPolicy setting to checkFilesAndFolders and setting files.exclude to exclude the common.h, etc. fi

[2020-01-21 21:13] bobbrow opened #4873 "For auto-update, check that the insiders version is compatible"
Type: General

We take a dependency on a minimum version of VS Code in our extension.  There is a concern that we might try to download/install an insiders version that has a dependency on a newer VS Code version than is currently installed.  In that case, we might be attempting multiple times to update the insiders version.

[2020-01-21 21:29] sean-mcmanus commented on #4868
Our extension processes `#include ""` as including the current directory (see https://gcc.gnu.org/onlinedocs/cpp/Search-Path.html), which is what you want, and using "." in includePath is causing just the root path to be used instead of the current directory and "-I." causes the root "/" path to be added, which seems like a bug.

[2020-01-21 21:34] sean-mcmanus commented on #4859
Also, if you change the C_Cpp.errorSquiggles setting to "Enabled" instead of "EnabledIfIncludesResolve" you could potentially see the errors our parser is hitting which could explain why parsing is failing around that definition. In particular, the missing definitions in data_reader.hpp or it's missing dependency could be leading to the incorrect parsing.

[2020-01-21 21:39] sean-mcmanus commented on #4862
Our extension doesn't run on arm64 yet. We're tracking arm64 support at https://github.com/microsoft/vscode-cpptools/issues/2506 .

[2020-01-21 22:02] sean-mcmanus commented on #4870
The ConfigurationSelect command doesn't take an argument, so we'd need to add a command that takes an argument for the configuration to select (cpptools.activeConfigName is read only). I don't know of a workaround.

[2020-01-21 22:13] sean-mcmanus commented on #4872
I don't fully understand. Can you remove the "**" from "/usr/include/" to stop it from being recursive includes? You could also try adding folders to files.exclude.

[2020-01-21 22:16] sean-mcmanus commented on #296
@bonfire62 That's the normal progress indicator as it's confirming references. Is that getting stuck? Are you using a multi-root workspace?

[2020-01-21 22:23] sean-mcmanus commented on #4687
The intelliSenseEngine "Default" means "use the IntelliSense Engine" instead of just the "tag parser" or nothing at all. The usage of the word "default" is completely unrelated to the "C_Cpp.default".

The C_Cpp.default.* values get used when there is no c_cpp_properties.json to overwrite those setting or "in addition" if "${default}" is used in a list of items, like includePath.

[2020-01-21 22:24] sean-mcmanus commented on #4687
See also https://code.visualstudio.com/docs/cpp/customize-default-settings-cpp

[2020-01-21 23:16] lattice0 opened #4875 "feature request: recursive expansion of macros"
When a macro expands to another macro, this plugin won't expand it further, so I end up having to search for the other macros.

[2020-01-21 23:20] sean-mcmanus commented on #4875
Can you provide a specific example? We do some expansion, but there might be cases that aren't expanded or some bug may be occurring. This is what I'm seeing:

![image](https://user-images.githubusercontent.com/19859882/72851800-7de6e680-3c61-11ea-8809-c40ba14bbd7f.png)

[2020-01-21 23:24] lattice0 commented on #4875
@sean-mcmanus this example: https://github.com/ambrop72/aipstack/blob/master/src/aipstack/ip/IpStack.h#L136

I'm trying to read this code but there like 5 to 10 macro calls hidden in this one macro call. The macro expansion never worked for me recursively, it always showed another other macro for me, so I guessed it didn't have this feature.

[2020-01-21 23:46] sean-mcmanus commented on #4875
What are you seeing exactly? I'm seeing...

![image](https://user-images.githubusercontent.com/19859882/72852960-031fca80-3c65-11ea-8e3f-82ead2af5f95.png)

You're getting different results? What OS are you on? Have you changed any settings?

[2020-01-21 23:52] lattice0 commented on #4875
@sean-mcmanus I get

`AIPSTACK_AS_MAP(AIPSTACK_USE_TYPE, AIPSTACK_AS_MAP_DELIMITER_NONE, Arg, (Params, ProtocolServicesList))`

which are bunch of other macros.

I'm on debian9.

Just to be sure I opened a completely new debian9 VM, installed VSCode and then this CPP extension, did no configuraions. Opened the AipStack repo and it still expanded to macros, not to your output.

[2020-01-21 23:59] sean-mcmanus commented on #4875
Okay, I remember now -- this is a duplicate, see https://github.com/microsoft/vscode-cpptools/issues/3579#issuecomment-489224943 .

[2020-01-21 23:59] #4875 closed, assigned to nobody

[2020-01-22 01:33] ryancheung commented on #296
Remove the json key from c++ extension configuration file.

[2020-01-22 01:58] huanghantao commented on #4872
for example, it is file tree of my workspace:

[code]

I will install the `swoole-src/include` directory to `/usr/include/php/ext/swoole/include/`.

When I click on the header file jump, will show the two places, one is in my workspace, one is in `/usr/include/php/ext/swoole/include/`.

Here are the screenshots:

<img width="1014" alt="image" src="https://user-images.githubusercontent.com/22836925

[2020-01-22 02:00] sean-mcmanus opened #4877 "Add code action for C_Cpp.errorSquiggles "EnabledIfIncludesResolve""
There's a code action for "Enabled" and "Disabled" but not the default EnabledIfIncludesResolve (i.e. it should appear as an option next to "Disable error squiggles".

[2020-01-22 02:03] sean-mcmanus commented on #4872
Yes, can you remove "/usr/include/**"? That should normally be pulled in via setting your compilerPath. Or you can you just use "/usr/include"? You may need to use the C/C++: Reset IntelliSense Database command after doing the change.

[2020-01-22 02:12] huanghantao commented on #4872
@sean-mcmanus I can't remove `"/usr/include/**"`, because there are other headers in there that I have to use.

[2020-01-22 02:19] sean-mcmanus commented on #4872
Can you replace it by "/usr/include/" or `"/usr/include/<otherPaths>"`? Otherwise, can you add `"/usr/include/php/ext/swoole/include"` to your files.exclude setting?

[2020-01-22 02:34] huanghantao commented on #4872
thanks, `files.exclude` is effective. But here comes another problem. There are two source files under the same folder, one can find the header file correctly, the other cannot.

It's screenshots:

<img width="283" alt="image" src="https://user-images.githubusercontent.com/22836925/72860611-4419ec80-3d02-11ea-817b-7102454235e5.png">

<img width="927" alt="image" src="https://user-images.githubuser

[2020-01-22 02:43] sean-mcmanus opened #4878 "Peek References doesn't show "Other Reference" types"
Repros with 0.26.2 -- no users have complained about this bug in the past 2 months...so maybe it doesn't matter? Might be a trivial fix...it would be good to at least understand why it's not behaving like it's supposed to.

The progress indicator also shows "Find All References" instead of "Peek References", which hints at the underlying bug that we think it's a Find All References instead of a Pe

[2020-01-22 02:47] Rvadrabade commented on #4869
So, is there any way of getting same output from vs code without '~' or such similar character as we get from usual terminal gdb commands.
Main aim is to get output from vs code same as usual gdb like this https://github.com/Rvadrabade/gdb/blob/master/ptrArray_shell.txt instead of https://github.com/Rvadrabade/gdb/blob/master/ptrArray_vscode.txt

[2020-01-22 02:49] sean-mcmanus opened #4879 ""Compiler arguments" is not localized"
It's missing the data-loc-id like the other cases have.

[2020-01-22 03:02] sean-mcmanus commented on #4872
That is odd. Can you run the C/C++: Log Diagnostics command with both files active and compare the output of the "Includes" section? The recursive includes feature (i.e. "**") could cause different include paths to be used if the same "server.h" exists at different locations (since the ordering not deterministic) -- adding `"${workspaceFolder}/swoole-src/include"` as the first value in includePath

[2020-01-22 03:14] huanghantao commented on #4872
I reopened the vscode and the problem was solved. thanks!

[2020-01-22 03:14] #4872 closed, assigned to nobody

[2020-01-22 08:54] PDostalek commented on #4816
Many thanks

[2020-01-22 08:54] #4816 closed, assigned to nobody

[2020-01-22 11:39] toxazol commented on #2192
Hi, I'm having the same issue. checkFilesAndFolders - checked. Though I'm using WSL

[2020-01-22 15:47] bonfire62 commented on #296
@sean-mcmanus I let one instance of renaming run, and it returns after checking ~650 files and 2 usages in my first try, after around 5 minutes. I'm using the remote plugin from a windows client to a linux host

[2020-01-22 18:01] bobbrow commented on #4877
This is the way we designed it.  It seemed too complicated to try to explain in a menu item.

[2020-01-22 18:01] #4877 closed, assigned to nobody

[2020-01-22 18:03] #4862 closed, assigned to nobody

[2020-01-22 18:42] theGeekyLad commented on #2610
Had the same issue and after digging around for a while, this thread saved me! Here's what my configuration looks like:

[code]

## TL;DR

adding `"/home/thegeekylad/Downloads/arduino-1.8.9/hardware/tools/avr/**"` to `includePath` sorted it all out irrespective of `intelliSenseMode`.

[2020-01-22 19:23] pieandcakes commented on #4179
@fangkyi03 Yours is related to the Catalina issue #3829

[2020-01-22 19:25] pieandcakes commented on #4179
I'm assigning this to #3829 now since it will be worked as the same issue.

[2020-01-22 19:25] #4179 closed, assigned to pieandcakes

[2020-01-22 19:28] pieandcakes commented on #4523
@Qone94 we fixed an issue inside the handling of Windows Unicode beta.

@mjvk Do you see gdb starting at all?

[2020-01-22 19:53] sean-mcmanus commented on #2192
@toxazol Can you file a new issue with more repro info? Are you using WSL through the remote extensions? (that is the recommended method).

[2020-01-22 20:03] sean-mcmanus commented on #296
@bonfire62 What do you mean by "checking" ~650 files? Is it saying "searched" or "confirmed" in the progress UI? Searching is just lexical and should be fast and confirming is slow since it requires parsing. Both should scale to use up to your available cores, but you'll hit a performance issue if your machine doesn't have enough memory. The number of individual "uses" in files shouldn't noticeabl

[2020-01-22 20:05] hobbes78 commented on #483
This issue is also happening to me. I'm accessing from Windows a Samba share served from a Solaris machine.
- SunOS CMF-SOLARIS 5.10 Generic_141445-09 i86pc i386 i86pc
- Microsoft Windows [Version 10.0.18362.476]
- Visual Studio Code 1.41.1

[2020-01-22 20:46] pieandcakes commented on #4865
@houwayhsu It looks like you are using a different gdb.exe than the one that matches your compiler. I noticed that your compiler comes from a `c:\\mingw-64` folder but your debugger is  in `c:\\mingw\\`.

I wonder if you are compiling 64bit but you are debugging 32bit.

[2020-01-22 21:54] #2774 closed, assigned to nobody

[2020-01-22 22:03] sean-mcmanus commented on #4714
We shipped 0.26.3 -- we can reopen this if it still repros: https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.3 .

[2020-01-22 22:03] #4714 closed, assigned to nobody

[2020-01-22 22:04] #3607 closed, assigned to nobody

[2020-01-22 22:04] #3631 closed, assigned to Colengms

[2020-01-22 22:04] #4270 closed, assigned to Colengms

[2020-01-22 22:06] sean-mcmanus commented on #3874
The Insider channel should work with vscode-remote with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.3 (after we have our next Insiders available).

[2020-01-22 22:06] #3874 closed, assigned to nobody

[2020-01-22 22:06] #3972 closed, assigned to nobody

[2020-01-22 22:11] sean-mcmanus commented on #4414
Some performance improvement work was done for range-v3 with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.3 , but there is still room for better performance...not sure if it's sufficient to close this issue or not.

[2020-01-22 22:12] #4466 closed, assigned to Colengms

[2020-01-22 22:12] #4627 closed, assigned to nobody

[2020-01-22 22:12] #4649 closed, assigned to Colengms

[2020-01-22 22:13] #4760 closed, assigned to nobody

[2020-01-22 22:13] #4791 closed, assigned to nobody

[2020-01-22 22:13] #4802 closed, assigned to nobody

[2020-01-22 22:13] #4834 closed, assigned to nobody

[2020-01-22 22:16] sean-mcmanus commented on #3569
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.3 .

[2020-01-22 22:16] #3569 closed, assigned to Colengms

[2020-01-22 22:16] sean-mcmanus commented on #1300
The clang-format on the PATH should be used as of https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.3 .

[2020-01-22 22:19] sean-mcmanus commented on #2887
As a workaround for the bundled version being old, the clang-format on the PATH should be used as of https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.3 .

[2020-01-22 22:22] #3985 closed, assigned to Colengms

[2020-01-22 22:37] sean-mcmanus commented on #4845
The scenario I was hitting got fixed but it's possible the buggy symptom could still occur in other scenarios -- let us know if anyone has a repro for this.

[2020-01-22 22:37] #4845 closed, assigned to nobody

[2020-01-22 22:37] #3158 closed, assigned to nobody

[2020-01-22 22:38] #4000 closed, assigned to nobody

[2020-01-22 22:39] #4770 closed, assigned to nobody

[2020-01-22 22:40] sean-mcmanus commented on #3800
This issue should be fixed starting with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.3 .

[2020-01-22 22:40] #3800 closed, assigned to nobody

[2020-01-22 23:11] #4496 closed, assigned to nobody

[2020-01-22 23:13] #4696 closed, assigned to Colengms

[2020-01-22 23:15] pieandcakes commented on #4031
@matepek We are calling `-break-insert -f on <filename>:<linenumber>`.  We rely on `lldb` to bind  to the correct path.

@ToddMorrill @matepek can either of you tell me which version of the compiler you are using?

[2020-01-22 23:31] hectorzg commented on #429
+1 I'm using a pinebook pro and I would love to have cpptools.

[2020-01-23 02:00] hwhsuguest commented on #4865
@pieandcakes What do you mean? I checked my code again and again. I didn't find that I'm using compiler from "c:\\mingw-64".

[2020-01-23 06:14] tristan957 opened #4885 "Incorrect errors when __attribute__ is used on enum values in gcc mode"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Fedora 31
- VS Code Version: 1.41
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): TBD (how can I disable every extension except for this one? I have 50 extensions installed.)
- A clear and concise description of what the bug is.

There is an identifier exported fro

[2020-01-23 06:16] tristan957 commented on #4885
Important to note, my program currently compiles as is. Instructions to build can be found in the CONTRIBUTING.md page if needed.

[2020-01-23 06:21] Omegastick commented on #3335
I'm currently getting this on Ubuntu 16.04, and @amithrc 's fix didn't work.
Does anyone have a workaround?

[2020-01-23 07:47] Omegastick commented on #3335
Letting all the downloads fail tells you to download a version with all the dependencies from the releases page.

Getting a `.vsix` file from the downloads page and installing with `Ctrl+Shift+P` `Extensions: Install from VSIX...` seems to fix the problem.

[2020-01-23 09:00] vbaurea72 commented on #1787
This is stil not working when using `{}` brackets in a unix shell.

[2020-01-23 14:28] logidelic commented on #3326
Perhaps the extension process should be watching its own resident memory usage and should kill itself if it goes too high. I admit that this is an ugly band-aid, but until this is fixed somehow, VSCode can totally incapacitate a system. Yesterday I had to hard-power-off my system because of this.

(Of course another question is why Ubuntu's OOM killer didn't kick in properly, but that's outside th

[2020-01-23 14:30] tloka commented on #4195
Any news on this?

[2020-01-23 15:50] dcrivelli commented on #833
This seems not yet working either with VS2017 (15.9.19) and VS2019 (16.4.3). Still have to pause through 'kill -2'.

[2020-01-23 15:57] DeltaRazero commented on #4885
For me it appears that any identifier that is #include'ed is reported as undefined, even though that's not the case

[2020-01-23 19:02] pieandcakes commented on #4865
If you watch your first slide show, in the output window, it calls the compiler from that folder. @sean-mcmanus might be able to tell you how to change that.

[2020-01-23 19:05] pieandcakes commented on #1787
@vbaurea72 can you give me an example of what you are putting in your launch.json and what you are expecting to get to your application?

[2020-01-23 19:06] pieandcakes commented on #833
@dcrivelli this is for the extension for VS Code, not VS.

Please open a detailed issue for your scenario on https://github.com/microsoft/miengine with repro steps and i'll look into it.

[2020-01-23 19:28] Fuzzy67 opened #4887 "No stdout from remote target when debugging over WSL"
Type: Debugger
gdb

*No program output from stdout visible*
- OS and Version: W10/1809 with WSL Debian/Gnu
- VS Code Version:1.41.1
- C/C++ Extension Version: 0.26.3
- Remote Dvelopment Extension Version: 0.19.0

We debug a small extern linux target via the WSL1 installed on an W10 desktop PC using the Remote Development extension. So the WSL runs only in background.  Everything works well. Except

[2020-01-23 19:43] msafi commented on #4755
What's the name of the process that should be killed?

[2020-01-23 19:50] vsjha18 commented on #4687
I have a file called "student.h" with the following code.

[code]

main.c has the following code
[code]

Now while typing main.c following things happen.
- When I type #include I can see intellisense as "student.h". Which is nice.
- But when I type "struct st" I am expecting editor to suggest me "student" which doesn't happen. (using typedef in header file avoids this problem)
- After s is declare

[2020-01-23 20:15] vsjha18 commented on #4687
On the similar note for the following simple sunction
[code]

While calling this function, it provides suggestion of the function name which is good, and also shows its signature. But while typing the arguments between parentheses, there is not help provided for typing arguments.

Also there is no error shown if there is a type error or argument mismatch, is there any setting which can help enabli

[2020-01-23 20:40] kevindevos opened #4888 "Incorrect syntax highlighting with '%'"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Catalina 10.15.2
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): C++ Intellisense , issue persists after disabling it
- A clear and concise description of what the bug is: Typing: '%'  breaks syntax highlighting  until it finds anoth

[2020-01-23 22:04] GabeDeBacker opened #4889 "Extension is corrupting URIs from registered file system providers"
VSCode allows for special file-system schemes to be registered and used within VSCode for displaying content that may or may not actually be on the local file-system. This is done via the registerFileSystemProvider API.

The GitLens extension leverages this to show remote content and diffs of files:
Here is an example of a URI.
"gitlens://5a429c0/e%3A/repos/osNew/src/clientcore/windows/Core/ntuser

[2020-01-23 22:38] greblus commented on #4414
I confirm - It works great now, thank you! :)

[2020-01-23 22:56] kevindevos commented on #4888
Now on double thought this may be a problem in https://github.com/jeff-hykin/cpp-textmate-grammar instead.

[2020-01-23 23:05] #4888 closed, assigned to nobody

[2020-01-23 23:37] ghost opened #4890 "Prompt for specifying arguments when launching debugger"
Type: Debugger

In the Java extension for VS Code, when editing launch parameters, you can set args to be `"${command:SpecifyProgramArgs}"` which will prompt for arguments during launch the debugger.

Having such a feature for C++ would be great.

[2020-01-24 00:09] xisui-MSFT opened #4891 "Alternative way for providing debug configuration snippets"
Type: Debugger

Because of the implementation (src/debugger/extension.ts, line 129 - 136), the intellisense for the snippets will be shown
1) For all launch.json, at all locations
2) Under multi-root mode, not at all for workspace configuration file (.code-workspace).

[2020-01-24 01:09] pieandcakes commented on #4887
If you enable `engineLogging`, does `gdb` report that output? that would be the only way we would be getting your program's output in a remote scenario.

[2020-01-24 01:12] pieandcakes commented on #4890
If you are talking about for `mi` debuggers (`gdb`, `lldb`), the option exists. For your program its an array called `args`. For the debugger, its called `miDebuggerArgs`. Both can be added in your `launch.json`.

[2020-01-24 01:17] ghost commented on #4890
What do you set in `args` or `miDebuggerArgs` to prompt for arguments when you press F5 for run?

I am not talking about setting args myself in `launch.json`, but I want a prompt to show up when I actually run the launch configuration similar to this https://code.visualstudio.com/docs/java/java-debugging#_launch

[2020-01-24 01:18] pieandcakes commented on #4891
@WardenGnaw It is [this](https://github.com/microsoft/vscode-cpptools/blob/2b1054bf41a401da10ddc37d3b95168cf178c5d9/Extension/src/Debugger/extension.ts#L129) line. Do you know why we need the actual launch.json file?

[2020-01-24 01:23] WardenGnaw commented on #4891
[code]
We need to provide a document selector when we register the completion item provider for launch.json. This hooks into the `Add Configurations...` button displayed.

[2020-01-24 01:36] aliaksei-siarhei commented on #4870
@sean-mcmanus , thanks for the info!
I've submitted a PR to add `cpptools.setActiveConfigName` command. Please take a look at #4893

[2020-01-24 04:15] fangkyi03 commented on #3829
I have tried to install the latest version, but I still can't solve the debugging problem

[2020-01-24 08:23] arjangupta commented on #416
@eyesfree thanks so much for the tip!

For stepping through code that uses GTest and doesn't have the main function exposed, simply adding the `set(CMAKE_BUILD_TYPE Debug)` line and rebuilding worked.

[2020-01-24 08:57] Fuzzy67 commented on #4887
As you can see in our launch.json, engineLoggin is already enabled. And i see nothing in gdb log.
If this is not possible in the moment. Are there any plans to support it in the feature ?

[2020-01-24 12:20] nunojsa opened #4894 "Outline stops working"
- OS and Version: Arch linux
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): Bash IDE, bitbake, checkpatch, Cmake, Cmake tools, gitlens, Docker, devicetree, Code spell checker, Indent to bracket, Markdown all in one.

So, basically, What is happening is that the outline just stops working after some time

[2020-01-24 15:10] mjvankampen commented on #4523
I seem to have found the issue. It was something on the gdb server side. The error message was just very vague. I think this can be closed!

[2020-01-24 17:08] reporter123 commented on #121
The workaround is to set bash as the default shell in the latest vscode it is possible to set "terminal.integrated.automationShell.linux"="bash" which sets this only for vscodes automation. This resolves the issue for me.

[2020-01-24 18:19] Colengms commented on #4889
Hi @GabeDeBacker .  Thanks for reporting this.  It looks like we need to avoid uri schemes we don't recognize.

[2020-01-24 18:34] pieandcakes commented on #4890
Ok. I'll mark it as a feature request.

[2020-01-24 18:34] yunusemregul commented on #2521
I had the same problem on the same OS, Linux Mint, and researched it a bit then I found that I had the VSCode installed through Flatpak which sandboxes applications and thus also sandboxed include files, creates its own include directory and does not include "/usr/include". So VSCode could not see my official include directory.

Solved it by installing VSCode from Microsoft.

[2020-01-24 18:38] pieandcakes commented on #4887
@Fuzzy67 I don't see an engine log in your original issue text. I don't know how we would report it since our communication is with `gdb` and you are saying `gdb` doesn't show any of the output.

[2020-01-24 18:39] #4523 closed, assigned to pieandcakes

[2020-01-24 19:25] GabeDeBacker commented on #4889
@Colengms - Let me know if I can help...

[2020-01-24 19:35] Colengms commented on #4889
Re-opening until the fix is included in a release.

[2020-01-24 20:40] GabeDeBacker commented on #4889
@Colengms - sorry, didn't meant to close... :(

[2020-01-24 21:06] sean-mcmanus commented on #4865
Can you just specify the full path to the correct g++ compiler? It looks like the wrong one is getting picked up on the path or something. I don't see how this is multi-root related.

[2020-01-24 21:10] sean-mcmanus commented on #4755
@msafi It should start with Microsoft.VSCode.CPP.Extension (our next 0.27.0 release is renaming it to "cpptools" though).

[2020-01-24 21:32] sean-mcmanus commented on #4687
We tracking C "struct s" completion with https://github.com/microsoft/vscode-cpptools/issues/4661 .

I get completions with s. Are you not in a function? Your code should get a compile error if it's in a global context ("initializer element is not constant").

![image](https://user-images.githubusercontent.com/19859882/73104674-d1e50b80-3eab-11ea-802e-f8406131ce84.png)

I get argument info, but on

[2020-01-24 21:54] sean-mcmanus commented on #3326
@logidelic Yeah, we have discussed doing that, but in your case, killing the main process might just be equivalent to disabling our extension (setting intelliSenseEngine to "Disabled"). It sounds like you're still hitting the high memory usage with 0.26.3? We made some fixes we were hoping would help (https://github.com/microsoft/vscode-cpptools/issues/4714 ), but we were unable to get a repro. We

[2020-01-24 22:14] sean-mcmanus commented on #4195
C++ IntelliSense concepts support is still being worked on. I found a related VS bug at https://developercommunity.visualstudio.com/content/problem/745318/-cpp-lib-concepts-isnt-defined-in-vs-2019-1630-rel.html .

[2020-01-24 22:25] sean-mcmanus commented on #4894
The outlining appears stuck waiting for tag parsing. There's a database (cylinder) icon at the bottom in your status bar -- what does it show when you hover over that? Is that icon getting stuck? Is CPU usage infinite? That could mean our parser is stuck in an infinite loop.

What triggers this? Opening particular files? Your logs don't show a lot of tag parsing going on.

[2020-01-24 22:39] sean-mcmanus commented on #4885
Your project has a lot of dependencies. Can you build the source file that has the IntelliSense error with the -E flag so that it's output to a preprocessed file?

Also, if you could run the C/C++: Log Diagnostics command with the reproing file active and check to see if the includePath/defines are as expected that could help diagnose if there's a configuration issue or an IntelliSense parsing bug

[2020-01-24 22:49] #4414 closed, assigned to nobody

[2020-01-24 23:12] nunojsa commented on #4894
Unfortunately I cannot answer to your questions. I cannot say what trigger this. It just happens. There is no obvious trigger that I could identify so far...

Next time this happens I will take a look an see if one the CPUs is stuck with the extension...

I will also see what happens when I hover over the cylinder...

Hopefully I can find something helpful.

[2020-01-24 23:42] Angel215i opened #4897 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `cpptools`
- Extension Version: `0.26.3`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-01-24 23:44] sean-mcmanus commented on #4897
What is this about?

[2020-01-25 02:50] sean-mcmanus commented on #3235
@jin-qin This crash should be fixed with 0.26.3.

@amatosov-rbx Is your crash fixed? We did fix a crash with a similar call stack, but I'm not sure if 100% of the cases got fixed (see https://github.com/microsoft/vscode-cpptools/issues/3776 ).

So I'm closing this...let me know if anyone thinks it should be re-activated.

[2020-01-25 02:50] #3235 closed, assigned to nobody

[2020-01-25 02:58] sean-mcmanus commented on #3007
I believe this got fixed with in December with 0.26.2 from https://github.com/microsoft/vscode-cpptools/issues/1560 . Let us know if we should re-activate this.

[2020-01-25 02:58] #3007 closed, assigned to nobody

[2020-01-25 02:59] sean-mcmanus commented on #3009
I believe this got fixed with in December with 0.26.2 from #1560 . Let us know if we should re-activate this.

[2020-01-25 02:59] #3009 closed, assigned to nobody

[2020-01-25 05:30] hamidi2 commented on #3326
I've a new experience. I changed the OS from Debian 9 to Debian 10 (no upgrade, a clean install) and this solved the problem! Now I may load folders I couldn't before. I also changed DE from MATE to Cinnamon. I also changed the virtual memory size from 12GB to 100GB, although it's not so much used (4GB used once at most). I also changed the HDD to an SSD for / and swap. Maybe VSCode is using a lib

[2020-01-25 11:51] vctrro commented on #3707
I am observing the same bug in vsc1.41.1+ms-vscode.csharp.

[2020-01-25 14:08] stanpcf commented on #4859
[code click here](https://github.com/GBDT-PL/GBDT-PL/blob/b9f1cfb6c64cf4b9d50b4443495a4a1cabd65813/src/io/data_reader.cpp#L32)

[2020-01-25 15:52] legendecas commented on #4894
I encountered a very similar issue. Also, I noticed the "tag parser initializing" icon on the vscode right bottom corner of the window is showing up, which is occurring to me too.

[2020-01-25 16:30] Angel215i commented on #4897
I just purchased an SKR1.4 Turbo mother board for my CR10Mini 3D printer
and am having issues with VSCode. When i try to compile i get the following
(Tasks not found)
It worked before but now for some reason i cannot stop the tasks not found
i cannot clean it or anything i uninstalled vscode reinstalled it, deleted
out the marlin folder redownloaded it tried again. Watched videos about
performing

[2020-01-25 16:49] magdumnikhil commented on #4868
Thanks for confirming

[2020-01-25 17:10] Angel215i commented on #4897
I have no idea what to do please take control to help resolve this.  I apologize for my illiteracy

[2020-01-25 18:09] magdumnikhil opened #4898 "Intellisense fails with both modes (64-bit and 32-bit)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04 (64-bit)
- VS Code Version: 1.41
- C/C++ Extension Version: 0.26.3

I really don't know if this is a bug or something is wrong with the compiler itself.

When IntelliSense mode is set to gcc_x86, it shows message
"Compiler does not support 32-bit. Falling back to 64-bit intelliSenseMode."
and with IntelliSense mode gcc_

[2020-01-25 19:31] nomanaadma commented on #1184
Hello @sean-mcmanus I recently tried vscode and i found everything perfect i tried to move on from sublime but my only concern is that i can't insert parenthesis in auto-completing Methods
like when i type str_replace and select it from auto-completion box and press enter it should be str_replace(|) and cursor in between i searched a lot and couldn't find anything can you help me or let me know is

[2020-01-25 19:55] Colengms commented on #4898
Hi @magdumnikhil .  This is by-design.  You are seeing debug output for attempts to probe the compiler for system headers and system defines, which may vary depending on the architecture specified to the compiler.  Your flavor of gcc does not accept the command-line argument to specify 32-bit or 64-bit modes, so we're falling back to probing the compiler without specifying a bitness.  This process

[2020-01-25 19:55] #4898 closed, assigned to nobody

[2020-01-25 20:24] oktonion opened #4899 "c++03 mode bug with std::pair"
**Type: LanguageService**

**Describe the bug**
- Windows 10
- VS Code Version : 1.41.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): none

**In c++03 mode** intellisense is going nuts about `std::pair` default constructor:

**To Reproduce**

1. Install c++ extension
2. Create .cpp file with `std::pair` in it
3. Set c++ extensi

[2020-01-25 23:45] puremourning commented on #3829
I am publishing a build of lldb-mi that can be used with the new version of cpptools: https://github.com/puremourning/lldb-mi/releases

All you need to do is:

* `brew install llvm` (this is a dependency)
* Download the tarball (e.g. `cd $HOME/Downloads && curl -LO https://github.com/puremourning/lldb-mi/releases/download/1015/lldb-mi-db65c20a3d8e09d9ff2f3748c01cf43ec035a4d8.tar.gz`)
* Untar it so

[2020-01-25 23:48] puremourning commented on #3829
I'm trying to upstream the changes so that we can create a brew formula for it

[2020-01-26 13:21] legendecas commented on #4894
For my case, the C/C++ extension output tab indicates `Failed to read response from server: 22`

[2020-01-27 02:47] Epikem commented on #2889
In my case I found that short wait time in [MIEngine](https://github.com/microsoft/MIEngine) is causing timeout. If powershell terminal loading takes more than 5 seconds, connection timeouts.

[2020-01-27 08:15] vbaurea72 commented on #1787
I've figured out the problem. If you use an expression like this (with no spaces) (pyhton example):
[code]
Because latest vscode is automatically escaping double quotes (no needs for extra backslashes anymore) the final commandline will be:
[code]
but because "`{`" has a special meaning in linux shell the actual string that will be passed as argument will be `"something":10` which is wrong.

But t

[2020-01-27 08:20] Fuzzy67 commented on #4887
In my original post of the launch.json you can find this :

"logging": {
"trace": true,
"engineLogging": true
},

Isn't this what you mean ? Anyway ! My statement that I don't see anything related only to the output of the program to be debugged. Not on the gdb itself.

No idea what is different today. But today i can see the output of the programm. However, they are difficult to discover because

[2020-01-27 08:26] vbaurea72 commented on #1787
BTW: IMHO the best choice for this kind of thing would be to avoid any automatic backspacing, any hidden processing, and leave the user the choice to do whatever he wants so that he always knows what's going on without having to argue what automatic processing is done.

So I'd rather prefer if something like this was working:
[code]
despite being more complex to write it would be easier to underst

[2020-01-27 14:24] allanleal opened #4900 "Failure when inspecting data of a variable during debug for a variable next to asterisk"
Issue Type: <b>Bug</b>

Issue Type: <b>Bug</b>

The following screencast shows the problem. I have to insert at least one space between `*` and vector `y` to be able to inspect its data while hovering it.

![Peek 2020-01-27 13-04](https://user-images.githubusercontent.com/5825588/73182272-0c9fab80-4119-11ea-8e3b-a31d1c30223b.gif)

Extension version: 0.26.3
VS Code version: Code 1.41.1 (26076a4de97

[2020-01-27 14:32] alexr00 opened #4901 "Declare before use problems not detected in C++"
**Type: LanguageService**

**Describe the bug**
Version: 1.42.0-insider (system setup)
Commit: f3dbcea32a6b52ce819dc863e778fb8517357f61
Date: 2020-01-24T05:38:14.538Z
Electron: 7.1.7
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363
C/C++ Extension Version: 0.26.3

If I have a declare before use error, there are no errors shown.
Expected, where I've dele

[2020-01-27 14:55] alexr00 opened #4902 "Breakpoints jump when debugging ends"
Type: Debugger

Version: 1.42.0-insider (system setup)
Commit: f3dbcea32a6b52ce819dc863e778fb8517357f61
Date: 2020-01-24T05:38:14.538Z
Electron: 7.1.7
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363
C/C++ Extension Version: 0.26.3

The breakpoints I set jump when I start debugging (ok, this makes sense since they aren't resolved yet), and then jump bac

[2020-01-27 18:56] Colengms commented on #4901
Hi @alexr00 .  Thanks for letting us know.  This also repro's in VS, so I've opened a bug there also.  https://developercommunity.visualstudio.com/content/problem/897827/c-intellisense-does-not-detect-issue-with-use-befo.html

[2020-01-27 19:32] sean-mcmanus commented on #4899
What compiler and header libraries are you using to compile? It appears that you're using cl.exe with a pair header that will only compile with /std:c++14 or greater. Using the C/C++: Log Diagnostics command can show you more info on the headers that are being picked up.

[2020-01-27 19:56] sean-mcmanus commented on #4859
@stanpcf The headers are missing like data_reader.hpp -- is that available or can you compile with -E to get a preprocessed file?

[2020-01-27 20:05] sean-mcmanus commented on #1184
@nomanaadma We're tracking it with https://github.com/microsoft/vscode-cpptools/issues/882 . It seems to have a lot of upvotes, but it's not on our scheduled work yet.

[2020-01-27 20:07] sean-mcmanus commented on #4894
@legendecas The IntelliSense process is crashing. Can you attach a debugger to the Microsoft.VScode.CPP.IntelliSense.Msvc process to get a crash call stack? If it crashes on file open you could try cutting the code, attaching, and then pasting the code back so that it doesn't crash too early.

[2020-01-27 20:14] bobbrow commented on #4897
We will close this issue and you should open a new one with VS Code the same way you did as before, except this time, please also paste (<kbd>CTL</kbd>+<kbd>V</kbd>) the logs that are copied to your clipboard.

[2020-01-27 20:14] #4897 closed, assigned to nobody

[2020-01-27 20:37] tino-michael opened #4904 "debugger gives newtonsoft.json error on linux"
I am trying to set up a debugger for my C++ project on arch Linux.

My `launch.json` looks like this:
[code]

However, when I try to start the debugging, I get a popup window with a long error message about newtonsoft.json exceptions (in two parts because it's so long):
![code_debug_error_upper](https://user-images.githubusercontent.com/18286015/73211005-b0a24a80-414b-11ea-9a6b-4e704823ac05.png)
!

[2020-01-27 23:02] WardenGnaw commented on #4902
The "jump back" happens because the VS Code UI saves where the user has placed the breakpoints.
During a debugging session, the debugger tells the UI where the breakpoint is bound to in a specific file / line and the UI will update based on the location. This location is based on the symbol file.
Afterwards, the debugging session ends and VS Code restores the original location of the breakpoints.

[2020-01-27 23:02] #4902 closed, assigned to nobody

[2020-01-28 01:05] jxsavage commented on #429
+1 Also running RPi with remote extension

[2020-01-28 02:40] Angel215i commented on #4897
I don't even know how i did that before im not coding literate and have no
experience except from what was set up for me before.

On Sat, Jan 25, 2020, 11:29 AM Angel Riv <angel215riv@gmail.com> wrote:

[2020-01-28 03:51] tristan957 commented on #4885
[output.txt](https://github.com/microsoft/vscode-cpptools/files/4120547/output.txt)

[code]

[2020-01-28 05:31] deepthits commented on #3610
https://github.com/microsoft/vscode-cpptools/issues/3610#issue-441612668
Same issue seen even with 0.26.3, after rolling back to 0.26.2 it is working.

[2020-01-28 06:19] legendecas commented on #4894
@sean-mcmanus I noticed there is a lot of processes named `Microsoft.VScode.CPP.IntelliSense.Msvc.darwin` and `Microsoft.VSCode.CPP.Extension.darwin` while the extension doesn't work. Restarting VSCode these processes don't exit as expect. Then I tried to kill all of them and restarted VSCode the extension comes to alive again. So far I'm not able to reproduce the case anymore.

[2020-01-28 13:22] Cre3per opened #4905 "Segmentation fault in scan_expr_full"
**Type: LanguageService**

**Describe the bug**
- OS and Version: 5.4.15-arch1-1
- VS Code Version: 1.41.1, 26076a4de974ead31f97692a0d32f90d735645c0, x64
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): CMake, Code Spell Checker, TODO Highlight. Issue persists with these extensions disabled.
- The crash occurs sporadically. The mo

[2020-01-28 17:52] D-Roberts commented on #3829
@puremourning I was trying to use the lldb-mi release above, however it seems to require another llvm version than I have. I get this error:

dyld: Library not loaded: /usr/local/opt/llvm/lib/liblldb.9.0.0.dylib
  Referenced from: /Users/<my_username>/lldb-mi/usr/local/bin/lldb-mi
  Reason: image not found

I have liblldb.9.0.1.dylib (llvm 9.0.1 installed via Homebrew)

Do you have a suggestion to

[2020-01-28 19:45] sean-mcmanus commented on #4905
Yes, we are aware of this crash (and related ones that possibly share the same root cause). It's caused by our parser code inherited from VS. Unfortunately, we need to find a repro in order to get a fix. Switching files can trigger a "reparse" of the previous file and making edits can also trigger a reparse.

Freezing of your system is unusual though, since normally a crash is expected to just ter

[2020-01-28 20:37] sean-mcmanus commented on #4894
@legendecas Yeah, dangling processes can cause the "tag parser initializing" issue (causing the Outline view to not work) because the other processes have a lock on the database -- we need to investigate why that is occurring and/or some way to detect/kill the processes. I'm not aware of dangling processes causing crashes though.

[2020-01-28 21:01] puremourning commented on #3829
@D-Roberts  I rebuilt it yesterday against lldb 9.0.1, so grab the latest release.

[2020-01-28 21:06] fdwr commented on #3675
@KaeLL : Agreed. For comparison with other similar plugins, the Uncrustify plugin has this option to set your uncrustify.cfg file path (`uncrustify.configPath`).

[2020-01-28 21:45] D-Roberts commented on #3829
@puremourning  Thanks. Is this the correct release?

`curl -LO https://github.com/puremourning/lldb-mi/releases/download/1041/lldb-mi-db65c20a3d8e09d9ff2f3748c01cf43ec035a4d8.tar.gz`

I get the same error (looking for dyld: Library not loaded: /usr/local/opt/llvm/lib/liblldb.9.0.0.dylib).

[2020-01-28 21:52] sean-mcmanus commented on #4885
Thanks a lot for reporting this and providing all the info. I've filed a bug with the VS C++ team at https://developercommunity.visualstudio.com/content/problem/899823/cc-intellisense-reports-incorrect-errors-when-attr.html . If you have a Microsoft account you can upvote that.

The cause is the usage of `__attribute__` on enum values, which causes the following enum definitions to not be parsed c

[2020-01-28 21:59] sean-mcmanus commented on #4885
It's also possible your repro may need https://developercommunity.visualstudio.com/content/problem/796872/cc-intellisense-in-gccclang-mode-shows-attribute-c.html (https://github.com/microsoft/vscode-cpptools/issues/4503) to be fixed as well, because I see the deprecated attribute taking an argument in one case.

[2020-01-28 22:24] jmevel commented on #429
Another Pinebook Pro user here.

I actually wanted to use this laptop for learning C programming so I couldn't agree more, the C/C++ extension would be wonderful.

At some point I'll eventually program ARM microcontrollers with this device I hope...

If you make it available I'm sure many people will start using it.

[2020-01-28 22:43] puremourning commented on #3829
ugh. looks like the homebrew build for llvm 9.0.1 failed on Mojave (https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/version=mojave/55674/console) meaning that the CI build (which runs on Mojave) is still linking against 9.0.0.

for now, I would just downgrade your llvm to 9.0.0. if you still have it (`brew list --versions llvm`), then you can `brew switch llvm 9.0.0`.

Alternatively

[2020-01-28 23:59] jandyman commented on #3829
@zmer007 I was also able to get debug working with codelldb and the config file. One weird thing though. My first test program sends a message to cout, yet I don't see this output anywhere. I'm very new to using VS Code for C++, I've been waiting for the tools to be stable, so this may be a very stupid question. Other than that, it looks good!

[2020-01-29 19:17] flobsh opened #4908 "Undefined identifiers in librairies"
- OS: Linux 5.4.13-3 Manjaro 18.1.5
- VS Code (OSS): 1.41.1
- C/C++ Extension: 0.26.3

Hi,

I have an issue using VS Code with the C/C++ extension. Some identifiers are not recognized by Intellisense, although my includePath in ```c_cpp_properties.json``` seems fine.

For instance here I am trying to display the current time with ```time()``` from the ```ctime``` library. VS Code tells me that the

[2020-01-29 19:41] sean-mcmanus commented on #4908
Can you remove the 2 "/usr/include" paths from the includePath and then run the C/C++: Log Diagnostics command to see what system includes are getting used from /usr/bin/gcc?

[2020-01-29 20:12] flobsh commented on #4908
Sure, here is the output of the C/C++: Log Diagnostics command when I remove the two include paths:
[code]

In the ```main.cpp``` file it now shows an error message asking me to include both of the include paths that were previously here.

[2020-01-29 20:23] flobsh commented on #4908
The error messages are:
```#include errors detected. Please update your includePath. Error squiggles are disabled for this translation unit"``` ;
```Can't open source file "stddef.h" (dependancy of "iostream")```

(Sorry if the messages are inaccurate, I translated them from french)

[2020-01-29 20:24] #4619 closed, assigned to Colengms

[2020-01-29 20:33] Colengms commented on #4241
Hi @danielmrussell .  Since your config refers to CMake Tools as the configuration provider, that would override all other fields of that config with data returned from CMake Tools.  I believe we've addressed the scenario of using clang and CMake Tools on Windows (which selects clang-cl.exe).  Note that when switching configurations in CMake Tools you will need to run `CMake: Configure` in order f

[2020-01-29 20:33] #4241 closed, assigned to nobody

[2020-01-29 20:55] sean-mcmanus commented on #4463
I don't think this will get fixed by the multiroot (and settings) changes, but I'll double check...

[2020-01-29 21:04] Colengms commented on #1187
I believe this issue has been addressed.  Clang should receive clang mode intelliSense, unless Windows SDK headers are detected.    There have also been some fixes to querying clang for system includes and defines  If anyone on this thread is still experiencing a problem reported here, please open a new issue.

[2020-01-29 21:04] #1187 closed, assigned to nobody

[2020-01-29 21:07] sean-mcmanus commented on #4908
Your logging is missing the "Compiler Path: " info after "Memory Usage", which implies that /usr/bin/gcc was failed to be queried for system includes/defines. I'm not sure how the "/usr/include/c++/9.2.0" got on your includePath (which is missing lots of other normal gcc system paths) -- and the --gnu_version appears to be our default 80100 fallback. You might see more compiler querying (and fallb

[2020-01-29 21:14] WilmerSuarez opened #4909 "Goto definition on scoped functions does not perform goto declaration alternate command"
Whenever I click Go to Definition/Declaration for a function, the Go to References operation occurs.

[2020-01-29 21:18] sean-mcmanus commented on #4909
This is "by design" from recent VS Code changes. You can configure it via the settings editor.gotoLocation.alternativeDeclarationCommand and alternativeDefinitionCommand which default to editor.action.goToReferences.

However, maybe our C/C++ extension could overwrite these defaults if they're not good defaults for C/C++, so we can use this issue to track possibly changing those defaults.

[2020-01-29 21:24] tristan957 commented on #4885
@sean-mcmanus thanks. I will make sure to cast a vote for both issues. Issues aren't game breaking, so no problem at all.

[2020-01-29 21:53] ghost commented on #4909
I also find this change to be unintuitive.  I used to be able to Control + Click on a declaration/definition of a method to be able to cycle between the two. Now when I Control + Click on the definition it starts trying to do a peek of find all references. I just tried changing  editor.gotoLocation.alternativeDefinitionCommand to be editor.action.goToDeclaration but that doesn't seem to work. Any

[2020-01-29 21:56] Colengms commented on #4463
@sean-mcmanus  Since we're moving this setting (renamed to "languageServer.enabled") to 'window' scope, it should apply to all folders in a workspace.  Based on the title, is there still an issue in which disabling has 'no effect' (in your multiroot work)?

[2020-01-29 22:16] sean-mcmanus commented on #4909
Yeah, you're right, setting that doesn't work. According to the comment at https://github.com/microsoft/vscode/issues/73081#issuecomment-557491699 it's supposed to. Do you want to file a bug on VS Code? Otherwise, I could file the bug myself.

[2020-01-29 22:19] Colengms commented on #2111
I couldn't find a VS bug on this, and it still repro's in VS 2019.  I opened a new bug for it: https://developercommunity.visualstudio.com/content/problem/900784/intellisense-squiggle-on-use-of-a-constexpr-functi.html

[2020-01-29 22:22] sean-mcmanus commented on #4909
It appears to work for non-scoped functions, but definitions with a scope (i.e. class methods) don't work. The "goes to the same location" logic is probably broken in that case. It's possible the VS Code team could say our extension is to blame (not sure yet)…we return the same range data we always have.

Yeah, I forgot about the Ctrl+Click scenario -- that seems like the main reason to have this

[2020-01-29 22:28] Colengms commented on #2266
This issue appears to be resolved, so closing it.  If there is still an outstanding issue here, please let us know.

[2020-01-29 22:28] #2266 closed, assigned to nobody

[2020-01-29 23:05] flobsh commented on #4908
Thanks for your feedback.

I set the C_Cpp.loggingLevel to "Debug" but I got the same output as before.

I indeed have stddef.h at ```/usr/lib/gcc/x86_64-pc-linux-gnu/9.2.0/include```.

I have gcc and g++ installed, both at version 9.2.0 (I checked with the commands ```gcc --version``` and ```g++ --version```).

Here is the output of ```/usr/bin/gcc -Wp,-v -E -x c++ /dev/null```:
[code]

There are

[2020-01-29 23:16] sean-mcmanus commented on #4908
The output from setting C_Cpp.loggingLevel to "Debug" should not be "the same" because it goes to the "C/C++" pane and not the "C/C++: Diagnostics" pane. You should see some message like `Attempting to get defaults from compiler in "compilerPath" property: '/usr/bin/gcc'`.

Could your gcc be outputting non-English output when we query it? We fail to parse the output in that case.

The "more includ

[2020-01-29 23:17] Colengms commented on #2307
I don't see an API in VS Code to do this.  I've started a thread with @isidorn , who closed the [original issue](https://github.com/microsoft/vscode/issues/53687).  The grid editor layout appears to be for multiple files visible on screen at the same time, whereas @JMasak  seems to be asking for grouping of editor *tabs* at the top of the window.

[2020-01-30 00:25] peitschie commented on #3353
I had this issue, and it turned out to be caused by having the NoMachine server (https://www.nomachine.com) installed on my Windows box. Once I uninstalled NoMachine, I could suddenly debug again.

Perhaps something about how NoMachine hooks into processes and windows was interfering with the STDOUT/STDERR redirection behaviour in VSCode?

[2020-01-30 02:30] pieandcakes commented on #4904
The error seems to be saying that NewtonSoft can't parse your `environment` array due to it not finding the `Name` object.

[Here](https://code.visualstudio.com/docs/cpp/launch-json-reference#_environment) is the format for how `environment` is supposed to be specified.

Since it looks like you omitted the actual block, I can't for sure say why its happening.

[2020-01-30 02:31] pieandcakes opened #4913 "Invalid `environment` object causes crash"
if user specifies the environment block wrong such as missing the Name block, it crashes.

[2020-01-30 02:31] pieandcakes commented on #4904
filed https://github.com/microsoft/vscode-cpptools/issues/4913 to fix the crash.

[2020-01-30 02:32] #4904 closed, assigned to pieandcakes

[2020-01-30 02:33] pieandcakes commented on #4913
example: https://github.com/microsoft/vscode-cpptools/issues/4904

This should be in a try/catch block and have a more graceful error message.

[2020-01-30 02:35] pieandcakes commented on #4900
@allanleal Can you enable [engineLogging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_logging-for-mi-debuggers) and paste what it is sending `gdb`? In this case is `*` an arithmetic operation or for a pointer?

[2020-01-30 05:48] allanleal commented on #4900
@pieandcakes `*` is the multiplication operator in this case.

Here is what I get when hovering `x` in `A*x`:

[code]

The desired behavior would be:

[code]

which is what I get if I go there in the code and enter a space between `*` and `x` as in `A* x`.

[2020-01-30 07:30] tino-michael commented on #4904
The environment block was there (I put in an ellipsis for the code block here), I just interpreted the formatting incorrectly.
I set it up like
[code]

instead of
[code]

I changed it and it is starting now.
Maybe the documentation can be a bit more verbatim about this.

Thanks for your help!
cheers!

[2020-01-30 09:26] nicolapiazzalunga commented on #583
Following the tutorial https://code.visualstudio.com/docs/cpp/config-mingw on getting started with mingw, I can compile a basic helloworld.cpp file into an .exe file, but when running it from power shell, no output is displayed.

[2020-01-30 13:11] h135558 opened #4914 "Unable to launcher debugger"
Hi

When I try to launch gdb via f5 I get this error:

![error](https://user-images.githubusercontent.com/25818006/73451266-87f69c80-4367-11ea-823e-0e6fe22d6793.png)

The program compiles and works just fine, but debugging is not working.

launch.json
![launch](https://user-images.githubusercontent.com/25818006/73451906-f38d3980-4368-11ea-9bbe-db28eb6ab5e7.png)

tasks.json
![tasks](https://user-im

[2020-01-30 14:35] flobsh commented on #4908
Alright yes I didn't know it was displayed on a different pane. I have the message ```Attempting to get defaults from compiler in "compilerPath" property: '/usr/bin/gcc'``` and then it says that it failed to retrieve the include paths and the system defines.

Yes my output is in french so the issue surely comes from there. I assume I can change my ```LANG``` environment variable to change this beh

[2020-01-30 16:27] letmaik opened #4916 "Launch debug session from terminal: "code-gdb --args ./mytool --foo""
Type: Debugger

I often have the scenario that I have a terminal open where I'm running and testing a program that I'm developing. Wouldn't it be awesome if I could start a VS Code debug session directly from the terminal simply by prefixing my command with something like `code-gdb`?

The time it takes me to setup a real debug config in VS Code is insane, and often it's very specific to a certain

[2020-01-30 20:09] sean-mcmanus commented on #4908
Yeah, we tried to fix this bug (see the previous thread at https://github.com/microsoft/vscode-cpptools/issues/4542) by setting LC_ALL to "C" before launching gcc, but the fix didn't work. We've been able to get non-ENU languages to be set in the OS, but we haven't been able to get gcc to output the non-English strings (i.e. the lack of a repro makes it hard to verify if our fixes work).

Yeah, yo

[2020-01-30 22:29] amcquistan commented on #3829
I was having the same problem of the lldb-mi program saying it was looking for liblldb.9.0.0.dylib when in fact I have liblldb.9.0.1.dylib / llvm 9.0.1 installed

this is likely a terrible work around but its working for me at the moment so .... I will share nevertheless

I simply copyied  liblldb.9.0.1.dylib to liblldb.9.0.0.dylib (note I said copy not mv / rename)

this may cause upgrading issue

[2020-01-31 04:45] pieandcakes commented on #4900
@allanleal Unfortunately I think the hovered expression is provided by VS Code. Let me investigate and, if need be, I'll file an issue with them.

[2020-01-31 04:47] pieandcakes commented on #4916
@letmaik that would need to be provided by VS Code to provide an option to launch VS Code and start the debugger. Can you file an issue on [their](https://github.com/microsoft/vscode/issues) Github?

[2020-01-31 04:48] #4916 closed, assigned to pieandcakes

[2020-01-31 04:49] pieandcakes commented on #4914
which version of VS Code are you using? Its strange that its stripping the path separators in the command. I can't duplicate this with the latest VS Code release and extension.

[2020-01-31 12:49] stanpcf commented on #4859
that is avaiable to use
[code]

[2020-01-31 13:19] dzchoi commented on #723
In my opinion, in addition to supporting the normal "*" it would be also good have "**" as the `globstar` in bash.

From the bash manpage:

Then, we could use, for example,
- /my/path/\*\*/include
- /my/path/\*\*/include/\*\*/

[2020-01-31 13:59] ijash commented on #4908
i think i have similar issue

[2020-01-31 21:44] julianxhokaxhiu commented on #4183
Is there any progress on this? There is actually no IDE or editor who does such a thing, and it would make it great to have it on VSCode. Please consider implementing this ASAP!

[2020-01-31 21:58] puremourning commented on #3829
@amcquistan @D-Roberts I have fixed the dependency and pushed a new build - it now links against lldb 9.0.1 which Is the latest version in homebrew.

https://github.com/puremourning/lldb-mi/releases/download/1092/lldb-mi-66e8ed9af1812ca0bb6cfcc7023a35742e1bd323.tar.gz

[2020-01-31 22:07] sean-mcmanus commented on #4183
It's not on our schedule to implement yet. More upvotes would help.

[2020-01-31 23:27] sean-mcmanus commented on #4859
Everything autocomples correctly for me (Ubuntu 18):
![image](https://user-images.githubusercontent.com/19859882/73579933-c60fc100-4438-11ea-86da-e0e3203659ac.png)

I believe your compiler may be too old for our extension to handle correctly. Can you try upgrading gcc or clang?

I'm using...
[code]

[2020-02-01 13:36] stanpcf commented on #4859
Something is wrong when local os is windows. But everything correct with Mac. I use remote-ssh to develop. Below show work with mac.
![image](https://user-images.githubusercontent.com/13925796/73593209-76b2b900-453c-11ea-9db4-1ecbfcd3e0a5.png)

[2020-02-01 21:14] #4329 closed, assigned to pieandcakes

[2020-02-01 22:02] astraujums commented on #4350
I seem to have almost exactly the opposite problem. While using CMake Tools, I get the squiggles if I have no .vscode/settings.json file besides my CMakeLists.txt. I can get rid of squiggles if I add the file and have the following in it:
[code]
Attached are two tiny workspaces that show the difference. They also show a nuisance of CMake Tools trying to handle non-CMake folders in a multi-root wor

[2020-02-02 06:07] Bscout2011 commented on #4894
I have this issue as well. It started recently after I started using Git and pulling from a repository. Would Git have any effect on intellisense?

[2020-02-02 09:32] andl commented on #4866
after tried several suggestions, I found the best way that suit for our project is using build script to copy generated files from NFS back to project dir. Thanks a lot.

[2020-02-02 09:32] #4866 closed, assigned to nobody

[2020-02-03 07:13] h135558 commented on #4914
Hello again, sorry for the delay with answering.

I'm using VS Code version 1.41.1 and the C/C++ 0.26.3 plugin by Microsoft.

Debugging worked just fine for me up until recently. I wonder if maybe an update broke something.

[2020-02-03 07:27] h135558 commented on #4914
I got it working again by removing anything I could find related to VS Code in my AppData folder.

[2020-02-03 16:18] lanyizi opened #4917 "Intellisense not recognizing constexpr methods of captured values in lambda"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 18362
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.3
- I have CMake tools installed

**To Reproduce**

1. Write
[code]
2. Intellisense will say **"Expression must have constant value -- `*this` cannot be used as constant value"**
(For some reason my Intellisense won't give error messages in English, that erro

[2020-02-03 17:27] jpramosi commented on #407
If someone is looking for a solution, i have created this extension https://github.com/reapler/vscode-cfold because the preprocessor directives has driven me mad :)

[2020-02-03 17:55] pkeir commented on #3335
When I open a simple C++ folder (helloworld.cpp from the tutorial) recently, I get three VS Code popups:

[code]

They all fail. When I originally installed `ms-vscode.cpptools` I added our proxy to my settings.json; and installed from the command line. I am running VS Code 1.40.2 on Windows 10. I am reminded to update to 1.41.1, but I'd rather not, as I like to use the same setup as my students.

[2020-02-03 17:59] htyu commented on #363
Hello, has this fix been released? I'm still experiencing slow C++ debugging with gdb.

[2020-02-03 20:11] sean-mcmanus commented on #4350
@astraujums The "configurationProvider" property needs to be set in order for the CMake Tools extension to provide config data, which is "by design". Can you clarify if you still believe you are hitting a bug?

[2020-02-03 20:16] sean-mcmanus commented on #4894
@Bscout2011 If new files are pulled from Git, it can trigger more database work that could affect the Outline view. Are you able to get the Outline view to recover? Steps to try are to make sure no processes are dangling and possibly running "Reset IntelliSense Database" and Reload Window from the Command Palette.

[2020-02-03 21:02] pieandcakes commented on #363
@hoyFB this was released in 0.14.4. It specifically fixes this issue. If you have a problem with slowness, please file a more detailed new issue.

[2020-02-03 21:03] pieandcakes commented on #4914
Sounds like one of the downloads was corrupted. Thanks for letting us know.

[2020-02-03 21:03] #4914 closed, assigned to pieandcakes

[2020-02-03 21:05] pieandcakes commented on #4329
Its strange to see that `gdb` is aborting. I wonder if there is a bug in `gdb` for getting a value thats unexpected.

[2020-02-03 21:34] Colengms commented on #4917
Hi @BSG-75 .  I see that you are specifying compilerPath, configurationProvider, and compileCommands.  These are mutually exclusive.  I'd suggest using only one of them, and removing the other 2 to avoid confusion.

I believe the configurationProvider takes precedence.  CMake Tools provides an intelliSense mode.  I suspect it was configured to use cl.exe, and provided an MSVC intelliSense mode.  M

[2020-02-03 22:00] Colengms commented on #4917
This looks like an intelliSense bug.  It also repro's in VS, so I opened a bug [here](https://developercommunity.visualstudio.com/content/problem/904790/use-of-constexpr-non-static-function-fails-when-us.html ).  (The C/C++ Extensions shares intelliSense code with VS)

I had reduced your repro to avoid using std::array, and apparently that reduced it too much to repro the issue.  I was able to rep

[2020-02-04 04:16] haha454 commented on #1219
@graykode I think there is typo inside `setupComands`. The key should be `text` instead of `` ` ``, but anyway thanks for the great solution. It works!

[2020-02-04 07:58] astraujums commented on #4350
@sean-mcmanus I am "hitting" a solution in this case! 😄 I believe that the property was set when I clicked on "Allow" in the message that requested CMake Tools to configure IntelliSense. I did not realize initially that I need to preserve the files in the .vscode folder and not just the workspace file, which is why I was getting the squiggles back after every clean checkout.

There might be some i

[2020-02-04 08:30] pkeir commented on #206
@jacdavis How does "-exec disassembly" work? While debugging, I type "-exec disassembly" + RETURN in the DEBUG CONSOLE window, but receive only "identifier "exec" is undefined".

[2020-02-04 09:20] blueray453 opened #4919 "Debug Code That Uses Meson & Ninja"
- OS and Version: Linux Mint 19.3 Tricia
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.3

I want to debug Nemo source code using VSCode.

The way we do it using command line is mentioned in https://github.com/linuxmint/nemo/issues/2309

The summery of the process is -

[code]
One thing we do to save time after the initial build and install using `dpkg-buildpackage`, is instead run: `su

[2020-02-04 11:13] zwuis opened #4920 "IntelliSense does not detect type of member in class nested in template class"
I'm sorry for my poor English.

Type these codes:
[code]
Then move mouse to `num` in line 8.
It will show `<unknown> a_class<T>::a_struct::num`.

Extension version: 0.26.3
VS Code version: Code - Insiders 1.42.0-insider (705f01577dd37d6f17eaa683ab89b0c392fa1a7c, 2020-02-03T14:03:06.282Z)
OS version: Windows_NT ia32 10.0.18363

[2020-02-04 12:09] JabariD opened #4921 "'Access is Denied' Message When Compile C++"
Issue Type: <b>Performance Issue</b>

I get an "Access is Denied" message every time I try to compile and build a NEW C++ file.

C++ files that I made a while ago STILL work and do not give me an 'Access is Denied' message when compiled and built.

I can see the .exe files show up but then disappear after a few seconds which gives me the message "Access is Denied".

VS Code version: Code 1.41.1 (2

[2020-02-04 14:27] oridong opened #4922 "Can't debug on win10 (LLDB)"
Type: Debugger

**Describe the bug**
- OS and Version: win10pro  1709   internal 16299.15
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
LLVM 9.0.0-win64
MingW 8.1.0 release

when I press F5, it starts but not start the application ,and always keep t

[2020-02-04 15:02] nunojsa commented on #4894
So this happened for me again. It seems one of the extension processes is completing consuming one of my cpus...

![image](https://user-images.githubusercontent.com/28741857/73755593-8dd4ef00-4766-11ea-93f1-7f5e9eea3d85.png)

So, as soon as I killed the sleeping process/thread, the outline came back again. I guess a way to trigger this is checking out to different branches. I have changed branches

[2020-02-04 16:00] geromueller opened #4924 "no TM scope for variables"
Version 0.26.3

There are no TM scopes for variables. Neither local, global or class members.

[2020-02-04 18:52] gojimmypi commented on #4703
@pieandcakes  fwiw - I saw this same problem compiling the [nanoFramework](https://github.com/nanoframework/nf-interpreter):

[code]

 on 0.26.3. Reverting to  0.26.1 resolved it for me as noted by @LuisAyuso, [above](https://github.com/microsoft/vscode-cpptools/issues/4703#issuecomment-563155650).

Curiously, when re-installing the latest version (0.26.3) the problem was no longer present.

This

[2020-02-04 19:43] sean-mcmanus commented on #4921
Does this issue repro without the C/C++ extension installed? How are you invoking the compiler?

[2020-02-04 19:47] sean-mcmanus commented on #4894
@nunojsa We're tracking that issue with https://github.com/microsoft/vscode-cpptools/issues/2806. It should be fixed in our next release. Sounds like the same issue @Bscout2011 was hitting too.

[2020-02-04 19:48] Colengms commented on #4920
Hi @zwuis .  Thanks for reporting this.  I was able to repro this in Visual Studio.  (The C/C++ Extension for VS Code shares common code with Visual Studio, for IntelliSense).

I've opened the following bug against Visual Studio: https://developercommunity.visualstudio.com/content/problem/906115/intellisense-does-not-detect-type-of-member-in-cla.html

[2020-02-04 20:01] JabariD commented on #4921
Actually now I cannot even run and build ANY type of code, not just C++. JavaScript isn't working either (which was working before also). The "run code button" is grayed out.

I am using the MinGW compiler for C++.

But I am going to reset my computer and try again. Thanks for you help!
<img width="960" alt="screenshot" src="https://user-images.githubusercontent.com/52969350/73781851-fddf7700-475e

[2020-02-04 20:01] #4921 closed, assigned to nobody

[2020-02-04 22:25] sean-mcmanus commented on #2780
This looks like it would be an easy bug for us to fix -- we fixed it 4 months ago for forced includes that are specified in the compile_commands (i.e. if a non-valid path is in forcedInclude, then try appending each includePath to find the first one that is valid).

[2020-02-04 23:04] Colengms commented on #4924
Hi @geromueller .  VS Code provides syntactic/lexical colorization based on TextMate grammar.  The TextMate grammar for C/C++ is contributed to VS Code by @Jeff-hykin .  That repo is [here](https://github.com/jeff-hykin/cpp-textmate-grammar).

The C/C++ Extension provides semantic colorization as a layer on top of the VS Code's TM-based syntactic colorization.  The scopes used to color semantic to

[2020-02-04 23:10] jeff-hykin commented on #4924
Here's the issue you're looking for @geromueller https://github.com/jeff-hykin/cpp-textmate-grammar/issues/81

[2020-02-04 23:12] geromueller commented on #4924
Thank you @Colengms and @jeff-hykin  for the quick answers!

[2020-02-04 23:12] #4924 closed, assigned to Colengms

[2020-02-05 05:04] mvoggu commented on #3355
In my case, using internet connection provided my college which had a firewall,  led to the error.
Switching to my mobile network solved it.

[2020-02-05 11:22] jiajudu opened #4925 "sourceFileMap sometimes doesn't work in containers"
Type: Debugger

**Describe the bug**
- OS and Version: MacOS 10.15.3, attatch to container Ubuntu 19.10
- VS Code Version: 1.14.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is: sourceFileMap doesn't work for libstdc++ codes but work for glibc codes.

**To Reproduce**
*Please

[2020-02-05 14:03] pkeir commented on #3335
With help from [here](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools) I was able to get past the problem by downloading the latest version of the dependency cpptools-win32.vsix (which is also the correct option for 64-bit), and installing the package within VS Code via:

[code]

[2020-02-05 19:09] bobbrow commented on #2510
We're not likely to make any more changes to our WSL support now that the Remote-WSL extension is available.  Closing this issue.

[2020-02-05 19:09] #2510 closed, assigned to nobody

[2020-02-05 19:10] bobbrow commented on #2978
We're not likely to make any more changes to our WSL support now that the Remote-WSL extension is available.

[2020-02-05 19:10] #2978 closed, assigned to nobody

[2020-02-05 19:12] bobbrow commented on #2968
@sean-mcmanus I'm tagging this as relevant to the multi-root work you're doing. It should be addressed by that.

[2020-02-05 19:14] bobbrow commented on #3825
Can you try using the Remote-WSL extension?  We're not likely to make any changes to our WSL support now that that extension exists.

[2020-02-05 19:14] #3825 closed, assigned to nobody

[2020-02-05 19:30] pieandcakes commented on #206
@pkeir which debug `"type"` are you using? that command works for `gdb`.

[2020-02-05 21:30] am8525 opened #4926 "VS Code Intellisense: cannot find boost header files (lambda.hpp)"
Hi all,

Dealing with a frustrating issue here. Running MacOS Catalina 10.15.3, compiler set as /usr/bin/clang.

The title explains my issue quite concisely.
From Boost's "Getting Started" section on their official website [here](https://www.boost.org/doc/libs/1_72_0/more/getting_started/unix-variants.html), I have made sure of the following:

1. To compile anything in Boost, you need a directory

[2020-02-05 21:38] sean-mcmanus commented on #4926
You're able to compile and you're just trying to get IntelliSense to work, right?

It sounds like you should add the path to Boost to your includePath and just remove the browse.path. I recall that we support environment variables via syntax like `"${env.BOOST_ROOT}"`. Can you try that?

[2020-02-05 21:50] am8525 commented on #4926
Very interesting, that worked like a charm.

Is there any reason as to why includePath works better than the browse.path? Just a curious developer that is also a packrat for interesting information.

I notice that browse.path is for the Tag Parser and includePath for Intellisense. How is the Tag Parser related to Intellisense? Sorry for getting off-topic; you have solved my issue, though I am curi

[2020-02-05 21:58] sean-mcmanus commented on #4926
includePath is what is used by IntelliSense process for parsing of translation units. The "browse.path" paths are used to specify the locations to look for global workspace symbols (generated by our "tag parser") and stored in our persistent database, cross-TU. For example, you could add additional paths to the browse.path and it will cause Find All References to location references there, but the

[2020-02-05 23:10] Baky9912 opened #4927 "Run command starts Text Editor Settings"
Windows 10, recently started using VSC. I use mingw compiler and everything works fine if I compile and run with f6 and set flags with f7 but if I press run (or f5/ctrl f5) I get asked do I want c++(gdb/llldb), c++(windows), node.js or more. After I select either of the c++ options it opens a new window with Settings. It is probably a mistake on my end. I want to debug a c++ programme.

[2020-02-05 23:36] sean-mcmanus commented on #4927
What do you mean it opens a "new window with Settings"? Do you mean a launch.json? There are some docs at https://code.visualstudio.com/docs/cpp/config-mingw for the json files for building/debugging.

[2020-02-05 23:41] sean-mcmanus commented on #4463
Yeah, this is no longer applicable after the settings re-design.

UPDATE: The changed design was reverted.

[2020-02-06 03:19] bobbrow commented on #4926
I'm closing this issue as it has been resolved, but feel free to continue the discussion if you have further questions.

[2020-02-06 03:19] #4926 closed, assigned to nobody

[2020-02-06 05:19] xubury opened #4928 "header files added by gcc -include don't work correctly with the intellisense engine?"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Microsoft Windows 10 Pro 10.0.18362 N/A Build 18362
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):CMake CMake Tools
- A clear and concise description of what the bug is.

**To Reproduce**
Use -include compile option for a header file usin

[2020-02-06 05:31] xubury commented on #4928
Here's the log

<details>
<summary>Click to expand log</summary>

[code]
</details>

[2020-02-06 07:46] fefrei commented on #3825
I’m using that right now, currently without issues. Thanks!

[2020-02-06 09:22] Baky9912 commented on #4927
https://prnt.sc/qybpcx
https://prnt.sc/qybpw6
I use another extension to compile and run c++, I disabled it and I still have the same problem.
Pressing f5 prompts the first picture and clicking on any of the C++ options opens the second picture.

[2020-02-06 09:29] Baky9912 commented on #4927
I used to have only 1 file open. I opened at file and now I have problems configuring launch,json for win10. I will write here if I get it working.

[2020-02-06 10:54] pedro-w opened #4929 "Configuration - cl.exe installed with 'Build Tools for Visual Studio' not detected"
I am following the instructions in https://code.visualstudio.com/docs/cpp/config-msvc
When I get to step 2, in the Compiler Path box I see a red "(No compiler paths detected)"
From the command prompt, `cl.exe` is definitely on the path.
I can set it manually in the `c_cpp_properties.json` - should be `C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Tools\MSVC\14.24.28314\bin\Host

[2020-02-06 13:35] fincs commented on #1083
I almost exclusively use vscode in cross compilation scenarios. In the platform I target `sizeof(long) == 8`, however since my development machine happens to run Windows it's convinced that `sizeof(long) == 4`. As a result I've also had to use a forced include file to redefine standard types (uint64_t, size_t) to use long long instead of long; which also breaks other things that don't rely on thes

[2020-02-06 17:09] GoaLitiuM opened #4930 "Focus not restored properly after hovering over a symbol"
**Type: LanguageService**

When debugging and having the debugger on break, hovering over any symbol changes the cursor focus to text editor instead of back to the UI element which was previously focused on. This issue manifests when I use the document search while the debugger is paused and the focus suddenly changes back to editor without touching any keys other than enter in order to jump to th

[2020-02-06 17:58] Colengms commented on #4929
Hi @pedro-w .  It looks like you are using "Build Tools for Visual Studio 2019", and do not have Visual Studio 2019 (Preview) installed.  Is that correct?  If so, it looks like we may not be detecting the install location for Build Tools correctly.

[2020-02-06 18:01] Colengms commented on #4930
@pieandcakes  Would this be a debugger issue, or a VS Code issue?  I assume this is a VS Code issue.

[2020-02-06 18:11] Colengms commented on #4928
Hi @xubury .  It looks like the only standard C++ header being included is iostream.  And, it looks like "std" is not being squiggled, so appears to have been defined.  Could you try adding the following to your PCH, to see if it addresses the squiggles on string, ifstream, and stringstream?

[code]

[2020-02-06 18:35] zlin888 commented on #3829
Thanks, puremourning. It really works for me. (Catalina with lldb 9.0.1)

[2020-02-06 18:42] pieandcakes commented on #4930
UI issues should go to VS Code. The debugger gets the underlying call, but doesn't control how the info box/text editor behave.

[2020-02-06 20:00] GoaLitiuM commented on #4930
Ah, my mistake. Refiled it here: https://github.com/microsoft/vscode/issues/90167

[2020-02-06 20:00] #4930 closed, assigned to nobody

[2020-02-06 21:01] tdashroy commented on #861
Ran into this when trying to attach to a process running in WSL (distro is Debian Buster), using VSCode started from WSL.

VSCode would prompt with:
[code]

and responding with `y` resulted in:
[code]

The debugger looked like it was running (still had the little hover UI with the Pause, Restart, and Stop buttons being clickable), however nothing worked (breakpoints, breaking in, etc).

Tried @bug

[2020-02-06 21:11] pieandcakes commented on #861
@tdashroy I think the problem we are running into is that different shells across distros behave differently and one solution doesn't work for another.

The `ptrace_scope` setting to `0` is our recommended way to get around it but will not work for processes running for different `uid` values, which we have users doing also.

To add another layer of complexity,  we are also sending it through VS C

[2020-02-06 21:38] pedro-w commented on #4929
@Colengms yes, correct, it was "Build Tools for Visual Studio 2019" from https://visualstudio.microsoft.com/downloads/#other

[2020-02-06 22:20] bobbrow commented on #4909
Possibly related: #4871

[2020-02-06 22:40] bobbrow opened #4931 "knownCompilers showing up in c_cpp_properties.json"
In some bug reports we are still seeing the `knownCompilers` property showing up. We should delete this from all `c_cpp_properties.json` files and also make sure it doesn't appear in the log output.

[2020-02-06 22:46] bobbrow commented on #4859
Can you hover over the red squiggle here:
![image](https://user-images.githubusercontent.com/12818240/73985081-1ed6d200-48ef-11ea-9197-b8a6d9ae31a3.png)

and tell us what it says (on Windows)?  It seems some dependency is missing.  Please let us know if you are also using the CMake Tools extension as the "configurationProvider" on Windows as well.

Thank you.

[2020-02-06 22:48] bobbrow commented on #4626
Closing issue as duplicate of #3556

[2020-02-06 22:48] #4626 closed, assigned to nobody

[2020-02-06 22:51] bobbrow commented on #4622
Closing as duplicate of #3883

[2020-02-06 22:51] #4622 closed, assigned to nobody

[2020-02-06 22:55] ourarash commented on #1417
This command doesn't work anymore.

`Error: invalid option: --with-toolcain`

[2020-02-06 22:57] ourarash commented on #1768
How do you install lldb-mi?

This command doesn't work anymore:

`brew install llvm --with-lldb`

`Error: invalid option: --with-lldb`

[2020-02-06 23:27] limitz opened #4932 "Intellisense graying out section after not recognizing define as defined"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro for Workstations 10.0.18362
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.3
- Other extensions installed (and if the issue persists after disabling them): PlatformIO, issue persists.

The editor has grayed out a section of code because it thinks __IMXRT1062__ is undefined. The picture shows that it IS defi

[2020-02-06 23:50] Colengms commented on #4932
Hi @limitz .  Could you run the command `C/C++: Log Diagnostics` and post the output?  That should tell us how the intelliSense client is being configured.  Could you also set your debug output level using: `"C_Cpp.loggingLevel": "Debug",`, and post your C/C++ Output leading up to the issue (perhaps a fresh launch and opening the file in question) ?

[2020-02-07 00:21] TuxSH commented on #1083
The same issue leads to having squiggles when using string_view literals: "Type of 2nd parameter invalid (unsigned long) ... must be size_t" (have to undefine `__SIZE_TYPE__` with forcedInclude first)

[2020-02-07 02:23] xubury commented on #4928
![issue5](https://user-images.githubusercontent.com/46261364/73994949-33b87180-4992-11ea-98ae-9aa9c68abeee.png)
![issue6](https://user-images.githubusercontent.com/46261364/73994951-34e99e80-4992-11ea-8452-6b57d6000860.png)
![issue7](https://user-images.githubusercontent.com/46261364/73994960-37e48f00-4992-11ea-99e5-4f1314f318b6.png)
@Colengms hi, i add the headers you suggested to pch but the pro

[2020-02-07 02:33] sean-mcmanus commented on #4928
The issue is that we don't handle "-include" in compilerArgs, because we expect users to use our forcedInclude property instead to set this. The original intent of compilerArgs was simply for arguments that affect system includes and defines. This is the 2nd report of user using "-include" instead of "forcedInclude" so we could use this issue to track adding that "redundant" support as a feature r

[2020-02-07 02:35] sean-mcmanus commented on #4928
@xubury Are you able to use forcedInclude to workaround the issue?

[2020-02-07 02:44] sean-mcmanus commented on #4928
Oh...since the CMake Tools configuration provider is being used. It looks like this could be considered a bug with that -- it should be converting the -include to our forcedInclude setting.

It doesn't seem like specifying the forcedInclude property will work if the configuration provider is used. It's possible switching to setting compileCommands instead of configurationProvider might work (but y

[2020-02-07 03:31] stanpcf commented on #4859
## the red squiggle
No windows computer nearby. But  on Mac shows(Now I had rename the dir from `io` to `utils`)
![image](https://user-images.githubusercontent.com/13925796/73997602-f48e1e80-4999-11ea-9b08-6528f3520f58.png)
the red squiggle on windows shows as same as mac days ago.

![image](https://user-images.githubusercontent.com/13925796/73998265-1092bf80-499c-11ea-8acf-ac1d9eb3954b.png)

## c

[2020-02-07 05:59] gokcedilek commented on #3829
Hi, I am on macOS Catalina (with lldb-1100.0.30.12). I followed [this post](https://github.com/microsoft/vscode-cpptools/issues/3829?fbclid=IwAR3y6ZKeLfqHwAbJ-mdnieAqTh63iS0lH3dDTxDYh7E19BhzR91ik-JHZko#issuecomment-578454043) and the process worked fine. However, when I try debugging C++ in vscode (with a very simple hello-world program), after the "return 0" statement in main(), the debugger goes

[2020-02-07 07:58] ghost opened #4933 "When defining a macro definition, auto-completion does not work"
Type: Debugger

Autocomplete is available in the margins, but does not work when defining macro definitions.
After writing a macro definition, can automatically find the source of a defined target.
![{D}7PYK51%1MUMHNU7ATYCF](https://user-images.githubusercontent.com/49903949/74011335-8ad63a80-49c2-11ea-84e8-4b0b1b7bdcf2.png)
![JEQEXFW517F 09SOW34P156](https://user-images.githubusercontent.com/4990

[2020-02-07 08:36] gabyx commented on #1417
its `--with-toolchain`

[2020-02-07 08:39] HackerBaloo opened #4934 "Go to Symbol in File is slow"
[attached.zip](https://github.com/microsoft/vscode-cpptools/files/4169747/attached.zip)
**Type: LanguageService**
**What I run**
- OS and Version: Ubuntu 18.04
- C/C++ Extension Version: 0.26.3
- VS Code Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T15:04:31.999Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 4.15.0

[2020-02-07 08:45] HackerBaloo commented on #4934
Well that funny, I think I found a workaround just moments after submitting this issue, I had both a compile_commands.json and as fallback (I thought) I also have a rather wide includePath. If I removed the includePath it just take a couple of seconds.

[2020-02-07 09:09] YalandHong commented on #4776
The feature will be helpful for me. But I think auto-completing for the contents that are not included may not be appropriate, since there would be a huge amount of partly or fully matched suggestions.

In my opinion, this feature should be added in **"Quick Fix"**. I want it to show a list of choices for me and add the `#include` statement automatically (just like TypeScript in VS Code). Then I c

[2020-02-07 09:56] limitz commented on #4932
Hi @Colengms, thanks for the reply.

This is the output of Log Diagnostics:
[code]
And hoping I did this right, the output after reloading the editor and opening the file with loggingLevel set to debug:
[code]

[2020-02-07 10:03] limitz commented on #4932
Maybe worth noting that the code is not being compiled by msvc, as i'm compiling for embedded systems.
[code]

[2020-02-07 10:55] robUx4 opened #4935 "add an option to enable more exceptions with cppvsdbg"
Type: Debugger
cppvsdbg

- OS and Version: Win64 1909
- VS Code Version: 1.41.1
- C/C++ Extension Version: 0.26.3
- A clear and concise description of what the bug is.

I am debugging a program that sometimes launches some `_com_error` exceptions. In MSVC I can trigger the debugger to break on those exceptions (off by default). I would like to be able to catch those (turn on the debugger feature)

[2020-02-07 11:32] cawthorne commented on #429
This should be a high priority.

The number 1 super computer in the world on the green500 is ARM64. Need we say more??

[2020-02-07 13:53] OtmarZ opened #4936 "VSC C++ gdb integration with WSL not working"
Debuging with VSCode on Windows 10 with WLS integration (Windows Linux Subsystem) with Ubuntu 18.04.4 LTS not working.

**Describe the bug**
- OS and Version: Win10 17134.1246
- VS Code Version: 1.42.0 user setup
- C/C++ Extension Version:  0.26.3
- Other extensions you installed (and if the issue persists after disabling them):  cmake 0.0.17, cmaketools 1.2.3

VSCode 1.41.1 debugging a simple C++

[2020-02-07 15:40] D-Roberts commented on #3829
@gokcedilek with CodeLLDB I had the same issue and got it resolved following:
https://github.com/vadimcn/vscode-lldb/issues/258

[2020-02-07 16:22] rgw3d commented on #3617
@sean-mcmanus I'm running into the same issue here.

I'm on Windows 7, using https://github.com/billziss-gh/sshfs-win to get a sshfs file system on a Linux box. Both my Windows 7 and Linux box are offline otherwise I'd use the Remote Development extension.

I've tested with v0.26.3, cpptools-win32.vsix

[code]

Where Q is my mapped drive. It looks like it is making the paths uppercase. It also pro

[2020-02-07 18:06] Colengms commented on #4932
[code]

Hi @limitz .  It looks like your configuration is set to this empty one, and not the configuration titled "Win32" that contains the settings you are expecting.  Try using the "C/C++: Select a Configuration" command, or clicking on the current configuration name in the bar at the bottom of the window, to switch the configuration to "Win32".

I'll close this issue.  If it's not fully address

[2020-02-07 18:06] #4932 closed, assigned to nobody

[2020-02-07 19:37] sean-mcmanus commented on #4933
The same behavior exists in VS. I filed a VS issue at https://developercommunity.visualstudio.com/content/problem/911391/cc-intellisense-autocomplete-isnt-available-in-mac.html .

[2020-02-07 19:46] sean-mcmanus commented on #4934
The includePath might be copied over to the browse.path setting, which is used to generate global symbols and a filename cache -- the initial one-time slowness could be caused by the generation of these caches -- a similar issue was reported at https://github.com/microsoft/vscode-cpptools/issues/1127 .

I don't understand steps 6-7...are you saying the slowness repeats after those steps? This is a

[2020-02-07 20:07] sean-mcmanus commented on #4776
@YalandHong If we were to implement this, it would probably only apply to a limited number of commonly used standard C++ types. But yeah, a Quick Fix for adding `#include`s would be good too.

[2020-02-07 20:16] sean-mcmanus commented on #4936
It's working for me -- are you using the Remote - WSL extension to remote into the Linux/WSL system from Windows? You might want to change "cwd" to be "${workspaceFolder}" instead of "/usr/bin" as well.

[2020-02-07 20:25] HackerBaloo commented on #4934
Yes it the slowness was repeated after every time I added or removed an empty row in the file and then ran the command again.

[2020-02-07 20:32] sean-mcmanus commented on #3617
@rgw3d FYI, with Win10 you can remote to a local Linux system using WSL, which we support better because our extension runs using our Linux binary with the correct case sensitivity.

Our support for other Linux scenarios running on Windows is not expected to improve. In particular, it appears you're hitting issues with our Windows code running in case insensitive mode. A similar issue for forcing

[2020-02-07 20:57] sean-mcmanus commented on #4934
Sounds like you're hitting a different issue from the other one. Did you see logging in the C/C++ pane: see https://code.visualstudio.com/docs/cpp/enable-logging-cpp ? You can also run C/C++: Log Diagnostics to get info on the IntelliSense settings used by the current translation unit.

The issue didn't repro for me with just that 1 file. It's possible the processing is stuck due to IntelliSense b

[2020-02-07 22:08] rgw3d commented on #3617
@sean-mcmanus thanks for the quick response

Yeah if I could use WSL with Win10 I would, but I'm stuck with an older machine on an air-gapped network, unfortunately.

That totally makes sense regarding support

[2020-02-08 00:07] Colengms opened #4939 "Hide reserved identifiers in autocomplete list when _ has not been typed"
IntelliSense will provide suggestions that include anything and everything in system headers, a lot of which the user is unlikely to use.

![image](https://user-images.githubusercontent.com/49173979/74074250-1ef3d200-49c2-11ea-8f1b-1cb3c78343cb.png)

It may be possible to remove some of these identifiers, such as identifiers reserved for internal use by standard headers.

*(from: https://en.cppref

[2020-02-08 00:18] sean-mcmanus commented on #4939
There is an existing issue that is related: https://github.com/microsoft/vscode-cpptools/issues/1798

[2020-02-08 08:02] HackerBaloo commented on #4934
Unfortunately I can't share all of my code, but I guess that the amount of
files targeted by my include statements must matter. I will try the logging
instructions.

On Fri, 7 Feb 2020 at 21:57, Sean McManus <notifications@github.com> wrote:

--
____________________________
Björn Carlsson
Telefon 0704-10 69 77
Epost  mailto://b.r.carlsson@gmail.com
Blog    http://hackerbaloo.blogspot.com/
________

[2020-02-08 11:09] akrsnr commented on #1184
It can be solved by ticking `javascript.suggest.completeFunctionCalls` property up. Here is the gif.

https://gfycat.com/cleveractualhornbill

[2020-02-08 11:18] akrsnr commented on #882
It can be solved by ticking `javascript.suggest.completeFunctionCalls` property up. Here is the gif.

https://gfycat.com/cleveractualhornbill

[2020-02-08 13:48] Raymoun17 commented on #882
finally

Le sam. 8 févr. 2020 à 06:18, Soner <notifications@github.com> a écrit :

[2020-02-08 14:41] peter197321 opened #4940 "arm64 is not supported"
I am connecting to my device via VSCode I'm getting notification "Architecture arm64 is not supported"

![image](https://user-images.githubusercontent.com/46971586/74087070-58dbdb80-4a89-11ea-943b-353bba4626d4.png)

Any reason why?

[2020-02-08 16:14] ibmua commented on #4062
What is problemmatcher and how do you do that?

[2020-02-08 16:21] hhc97 commented on #882
@akrsnr Yes, but that only works for Javascript and not C.

[2020-02-08 16:32] ibmua commented on #4062
Okay, found it. In `tasks.json` inside of `.vscode` folder of the project changed
[code]
to
[code]

[2020-02-08 18:55] Veetaha opened #4941 "strict null checks in TypeScript"
While studying your source code to finish with https://github.com/rust-analyzer/rust-analyzer/pull/3053 I've stumbled with these lines of code.
https://github.com/microsoft/vscode-cpptools/blob/3fa056f4d57cb43f4ece6e3e6996af38aa208538/Extension/src/githubAPI.ts#L38-L43
From my perspective, it is apparent that if the release doesn't contain the needed `.vsix` file (which is a developer mistake that

[2020-02-08 19:41] gnojus commented on #3351
Same issue (with GO debugger)

[2020-02-08 20:57] HackerBaloo commented on #4934
[output.zip](https://github.com/microsoft/vscode-cpptools/files/4175127/output.zip)
Well unfortunately, the log output  doesnt tell the true story.

When I add an empty row and opens Go to Symbols in file, the log shows this;
[code]
but the progressbar continues 50 more seconds until the content is shown-

[2020-02-08 21:15] HackerBaloo commented on #4934
And today when I test again my workaround to remove the includePath setting doesn help anymore,

[2020-02-08 21:48] rvanlaar opened #4942 "[FEATURE REQUEST] Support debugging for YACC"
Type: Debugger

**Can't DEBUG YACC files.**

I wrote a short yacc file which had a problem.
I wasn't able to attach a debugger to the main function.

I would like to see the following:
- Being able to set and hit breakpoints in the original .y file
- Being able to hit breakpoints in the y.tab.c file (generated by yacc).
- have automatic task support for makefiles (should this be a new issue)?

- O

[2020-02-09 01:03] pauljurczak opened #4943 "Intellisense squiggles on commented lines"
I'm using Ubuntu 18.04, VS Code 1.41.1, C/C++ for Visual Studio Code 0.26.3. In some cases, I'm getting Intellisense squiggles on commented lines:

![intellisense1](https://user-images.githubusercontent.com/4933032/74094362-29cf6500-4a9d-11ea-8da1-022cf4b949cd.png)

Can you add a conditional to squiggle display code, which prevents this from happening?

[2020-02-09 04:50] KurtAshing commented on #4527
this one works to me. Thanks

[2020-02-09 06:40] tomatac commented on #3616
What about changing the default maximum cash to a reasonable amount: 100 MB and inform the user if more space is needed? What about purging some of the old cashed data?

[2020-02-09 06:41] tomatac commented on #3347
What about changing the default maximum cash to a reasonable amount: 100 MB and inform the user if more space is needed? What about purging some of the old cashed data?

[2020-02-09 08:07] HackerBaloo commented on #4934
BTW, what did you mean by: "You can also run C/C++: Log Diagnostics"?

[2020-02-09 08:36] stenosis commented on #4919
Hi. It's not Nemo but a different project that was build with Meson in mind that I'm currently working on.
To use the breakpoints in vscode I editied the task.json and launch.json files within the .vscode folder.

**launch.json**:
[code]

**task.json**:
[code]

[2020-02-09 08:43] dunaden001 opened #4944 "I need help finding out what the issue with my c_cpp_properties.json file is, lots of context in post"
**Type: LanguageService**

Please forgive any formatting issues: first Github issue submission.

**Describe the bug**
VSCode Details
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T15:04:31.999Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 4.13.0-43-generic (Mint 18.3)

C/C++ Extension Version: 0.26.3

Other extensi

[2020-02-09 10:37] hb9tst commented on #3347
I think that simply respecting the standard locations for cache data in each supported OS is the way to go. I say that as a sysadmin (although I'm also a developer using VS Code), because I have a lot of problems with students getting over disk quota in their homes due to VS Code cached data. Of course, they aren't aware at all of it. They are not professional developers, nor they have an in-depth

[2020-02-09 19:32] htyu commented on #363
@pieandcakes Thanks for the information. I'm attaching a trace log here. The problem was that after hitting a break point, stepping over a statement took a few seconds. The last break point in the log is

Thread 2 "ld.lld" hit Breakpoint 50, llvm::BranchProbabilityInfo::printEdgeProbability (this=0x7ffff544a250, OS=..., Src=0x7ffff000ef30, Dst=0x7ffff000a460) at /home/hoy/local/server-llvm/llvm-pr

[2020-02-09 22:05] Shane-Nycum opened #4945 "<Resolved>"

[2020-02-10 04:58] J-Sorenson commented on #2096
Seeing as how this got tagged "more votes needed," I've plugged in my vote.  The issue is that if I want to compile a debug version versus an optimized version, then I need to set it on _every_ subproject.  I can't combine it to a single root, because the submodules have different macro definitions.  What I need is the ability to change the configuration for the _whole_ project and have that trick

[2020-02-10 05:00] J-Sorenson commented on #2060
This would be nice, but I think #2096 would be the better implementation (at least for my setup).  Either way, we need at least one of these solutions to get developed.

[2020-02-10 05:36] tomatac commented on #743
This is still an issue. Why is it closed?

[2020-02-10 07:54] OtmarZ commented on #4936
Hi Sean!

Thx for your help!

Yes, I use the Remote WSL extension into Linux WSL system of WinX.

I changed now the "cwd" setup of the "task.json" to your suggested ${worksplaceFolder} and the timeout problem disappeared.
1st "but": I am wondering why the setup in the task.json prevents to start the debugger. I used the setup from launch.json to start the DBG and the tasks from task.json to compil

[2020-02-10 08:03] CreatorZZY opened #4946 "IntelliSense does not suggest members if accessed with an array index"
![image](https://user-images.githubusercontent.com/38124587/74131166-b7868e00-4c1e-11ea-9726-7c4653b01d7f.png)
![Snipaste_2020-02-10_15-54-43](https://user-images.githubusercontent.com/38124587/74131183-c53c1380-4c1e-11ea-87ba-ed53edd118ca.png)

Could not work out the Type:  pair**

[2020-02-10 10:11] nomanaadma commented on #1184
@akrsnr the solution you provided worked for javascript/typescript files but it didn't work for any other languages

[2020-02-10 11:44] FischLu opened #4947 "Debugger bug on Windows with MinGW gdb"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10, 1909
- VS Code Version:  1.41.1
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
Cannot debug the C++ code if there exists any instance of std::stringstream

**To Reproduce**
create a very simple main.cpp with t

[2020-02-10 12:18] PDostalek opened #4948 "[loc][Query][vscode_extension] Localizability of string: 0; "package.c_cpp.configuration.clang_format_path.description""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
The full path of the clang-format executable. If not specified, and clang-format is available in the environment path, that is used. If not found in the environment path, a copy of clang-format bundled with t

[2020-02-10 13:11] HackerBaloo commented on #4934
I tried to move: .config/Code/User/workspaceStorage/4f224539fa72c678bc070c0e1ef40450/ms-vscode.cpptools/.browse.VC.db
Which was 3.9 GB. And after that it seems to work better. But of course I don't know if it is temporary. Are you interested in my 3.9 GB file?

[2020-02-10 15:03] GertGrossmann opened #4949 "IntelliSense doesn't use includes pathes from the compiler given in compile_commands.json"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Remote-SSH Win -> Linux
- VS Code Version: 1.42.0
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
CMake Tools 1.3.0, issue persists after deactivation
- A clear and concise description of what the bug is.

'CMake Tools' generated a 'compile_commands.json' and this

[2020-02-10 16:07] HackerBaloo commented on #4934
After an afternoon of work the size of .browse.VC.db is still below 80 Mb, and the editor is still quick.

[2020-02-10 17:13] ghost commented on #2546
Follow these steps to re-enable your error squiggles
1.Open your vs code.
2.By click ctrl+shift +P  through your keyboard.
3.A tab will appear on screen
Search c/c++: enable error squiggles in it and click on it.
4.By this you can re enable your error squiggles again.
I hope this can help you.

[2020-02-10 18:03] kinahawi commented on #429
+1 Having cpp tools on Arm would be great for my work on Jetson Nano

[2020-02-10 18:08] labrat97 commented on #429
I’ve already commented here I think, but this is making me choose to familiarize myself with Jetbrains’ products over Microsoft’s. The longer that this doesn’t exist, the more emerging customers Microsoft is bound to lose. Almost everything done at my school revolves around ARM.

[2020-02-10 18:21] MiKom opened #4950 "[Feature Request] Automatic source file map configuration"
This is a feature request for quality-of-life improvement to debugging experience.

When regular Visual Studio is asked to step into function for which it doesn't have code, it opens up a file open dialog to locate the file. Once the user navigates to the directory that matches suffix of the requested file, this directory is automatically added to the solution configuration.

This is particularly

[2020-02-10 18:25] cfriedt commented on #4940
^^ Same same.
![Screenshot 2020-02-10 at 1 19 02 PM](https://user-images.githubusercontent.com/983494/74177989-cb26fa00-4c08-11ea-8b7d-adb16071bdf7.png)

[2020-02-10 18:28] Colengms commented on #4943
Hi @pauljurczak .  Is it possible an intelliSense pass had not yet completed yet after commenting out the line?  The colorization for the comment is applied by VS Code based on a syntactical parsing of the file.  Squiggles are semantic, based on a first pass compilation of the file, which may happen more slowly.

Did you perhaps have compilation errors present in the Problems output tab, from your

[2020-02-10 18:29] Colengms commented on #4941
Hi @Veetaha .  Thanks for the bug report and the suggestion to enable strictNullChecks.  We will take a look.

[2020-02-10 18:50] Colengms commented on #4948
clang-format is a utility that formats source code.  It is used when the user selects one of the format commands (format document, format selection).

This is referring to clang-format.  We search for it already installed on the system, and available (it's path is present in the PATH environment variable).  If not found, we fall back to using our own copy of the executable.

[2020-02-10 19:17] Colengms commented on #4946
Hi @CreatorZZY .  Thanks for reporting this.  This repro's with Visual Studio as well.  (Our extension shares common code for IntelliSense with VS).  I've opened an issue against VS [here](https://developercommunity.visualstudio.com/content/problem/913143/intellisense-does-not-suggest-members-if-accessed.html).

[2020-02-10 19:20] Colengms commented on #4940
Hi @peter197321 .  We're currently tracking this with: https://github.com/microsoft/vscode-cpptools/issues/429

[2020-02-10 19:20] Colengms commented on #4940
Closing as duplicate.

[2020-02-10 19:20] #4940 closed, assigned to nobody

[2020-02-10 19:38] sean-mcmanus commented on #4949
If you're using the CMake Tools extension, then you should be setting the configurationProvider setting instead of the compileCommands setting.

Do you have a compilerPath property set to /usr/bin/gcc? If so, that will overwrite the compiler path in the compile_commands.json.

Can you set C_Cpp.loggingLevel to "Debug" and view the output of the C/C++ pane to see what error is shown when it tries t

[2020-02-10 19:44] sean-mcmanus commented on #3616
@tomatac We switched the default IntelliSense cache location to be shared amongst workspaces. 100 MB is too small for the cache to be effective (one TU might be 100 MB). We already replace the old cache data with new cache data after the limit is hit.

[2020-02-10 19:49] sean-mcmanus commented on #3347
@hb9tst We've already switched to using a shared location for the IntelliSense cache data at "standard locations". Is there still an issue with our caching behavior?

[2020-02-10 19:56] sean-mcmanus commented on #743
@tomatac Could you open a new issue with more repro details?

[2020-02-10 19:58] sean-mcmanus commented on #4936
@pieandcakes @WardenGnaw Do you guys have any idea what is going wrong?

[2020-02-10 20:07] EmbeddedBacon commented on #429
@JamesMcDean Just to show the other side.  First, Clion is a paid product while VS Code doesn't cost anything to use, so long used within the terms of the license.  A few things I hate with JetBrains is their licensing model, it horrible.  I hate that CLion uses the output of the build process for their CTAGs/intellisense.  The CTAGs is a slow process especially with large projects.  VS Code with

[2020-02-10 20:08] sean-mcmanus commented on #4934
The C/C++: Log Diagnostics command can be run via the Command Palette in VS Code.

Yeah, if your database is 3.9 GB that could cause performance issues when we do operations that span the entire workspace.

We don't need your database file to diagnose the performance issue.

[2020-02-10 20:14] sean-mcmanus commented on #4941
@Colengms FYI, I looked into the structNullChecks several months ago, and it required a lot of changes. VS Code switched to using that last year.

Also, don't make these changes until I get my newMultiRoot2 branch checked in.

[2020-02-10 20:22] Colengms commented on #4944
Hi @MichaelAReed .  Based on the output of the Log Diagnostics command, your configuration looks valid and looks like making it into the intelliSense configuration for the file.  In your screenshot, I see there is an error trying to locate: "esp_err.h".  Can you confirm the location of that file?  Perhaps it's in a path that's not included.

Possibly unrelated, but consider using "gcc-x86" (32-bit

[2020-02-10 22:29] mike2003 commented on #542
How to fill in correctly so that service words are not visible?
![2020-02-11_01-30-12](https://user-images.githubusercontent.com/11754198/74196234-d9f3c800-4c6d-11ea-8a82-cd8702aa2ec9.jpg)

[2020-02-10 22:42] WardenGnaw commented on #4922
The protocol used for the Debug Adapter with GDB/LLDB is MI which is the machine interface. It is trying to run `D:/Include/LLVM/bin/lldb.exe --interpreter=mi` but lldb does not have the machine interface built into it, it requires `lldb-mi`.

You will need to have `miDebuggerPath` point to `lldb-mi.exe`

[2020-02-10 23:09] sean-mcmanus commented on #542
@mike2003 We're tracking that with https://github.com/microsoft/vscode-cpptools/issues/658 .

[2020-02-11 00:07] ryan-allen commented on #429
Super keen due to the fact there's a lot of new Windows 10 ARM laptops!!! <3

[2020-02-11 01:02] Veetaha commented on #4941
One cannot underestimate the power of strictNullChecks. This is an elegant solution to so-called 1-billion-dollar mistake.

In order to switch to strict-null-checks you can give me up to an hour or two and I will put postfix `!` operators everywhere where the nullability is unsound according to TypeScript compiler. This way you just silence the errors and get strict-null checks from day 1. This me

[2020-02-11 01:09] RongoDog commented on #2506
This feature would greatly help with the disconnect between Apple and Nvidia... Since we don't have access to Nsight because mom and dad are fighting, we're forced to use raw command line tools to debug on the Jetson line of products. It would be wonderful to have a least gdb debugging and remote development work well through the vscode UI. Other IDEs, such as eclipse don't seem to measure up... N

[2020-02-11 01:55] pauljurczak commented on #4943
Hi @Colengms, indeed this is a lingering squiggle from a line of code , which had errors and was removed.

[2020-02-11 01:57] #4943 closed, assigned to nobody

[2020-02-11 02:21] scratchmex commented on #1772
Same here. When `"externalConsole": true` the debugger gets stuck.

![vscode_debugger_stuck](https://user-images.githubusercontent.com/4014888/74206893-e6aef680-4c42-11ea-89f8-d5fbdc4acce5.gif)

EDIT:
For those who want to activate the external console to be able to stream a file to stdin like `< in.txt` and debug it, I've managed to do so including a piece of code.
[code]

[2020-02-11 03:42] dunaden001 commented on #4944
@Colengms You were very correct.  Turns out "esp_err.h" was in
"/home/mike/softwarePackageStorage/arduino_ESP/esp32/tools/someDirectory"
and I was only including
"/home/mike/softwarePackageStorage/arduino_ESP/esp32/tools/xtensa-esp32-elf/**"
so I just pulled out the "xtensa-esp32-elf" subdirectory and everything is shiny.

No idea how I made it this far and I managed to miss that, thank you very m

[2020-02-11 03:42] #4944 closed, assigned to nobody

[2020-02-11 06:44] GertGrossmann commented on #4949
Indeed there was a default config for 'compilerPath' coming from ${workspaceFolder}/.vscode/c_cpp_properties.json - I assume 'CMake Tools' had created this config. After removing this file everthing went fine. Thanks for the hint.
But I see a problem there. This c_cpp_properties.json hasn't come up in the dialog '@ext:ms-vscode.cpptools'. I only see tabs for 'User' (settings,json), for 'Remote [SS

[2020-02-11 07:15] HackerBaloo commented on #4934
Well the output of the Log Diagnostics command didn't give much new
information I think:
-------- Diagnostics - 2/11/2020, 8:12:30 AM
Version: 0.26.3
Current Configuration:
{
"name": "Linux",
"browse.path": [
"${workspaceFolder}/**",
"/home/bjornca/src/develop/artifacts/**"
],
"defines": [],
"compileCommands": "${workspaceFolder}/intermediate/compile_commands.json",
"compilerPath": "/usr/bin/clang

[2020-02-11 07:26] HackerBaloo commented on #4934
Just removing the database and letting it rebuild by itself was not a very
good idea apparently, it makes goto symbol in file fast, but
then C_Cpp.SwitchHeaderSource doesnt work until I first manually open the
file I want to switch to.
If I put back the big database the h/cpp switch works again, but then it is
to painful finding the method I'm looking for. 😖
Can I try to rebuild the database perha

[2020-02-11 07:32] HackerBaloo commented on #4934
Well, I tried what I think is the official way, "C/C++: Reset Intellisence
Database" and then "C/C++: Rescan Workspace" but then
C_Cpp.SwitchHeaderSource still doesn't work. Should I open a new issue on
that?

On Tue, 11 Feb 2020 at 08:26, Björn Carlsson <b.r.carlsson@gmail.com> wrote:

--
____________________________
Björn Carlsson
Telefon 0704-10 69 77
Epost  mailto://b.r.carlsson@gmail.com
Blog

[2020-02-11 08:15] #4949 closed, assigned to nobody

[2020-02-11 09:14] asherungar commented on #3829
@puremourning this worked great but now I'm facing issues with watched variables. trying to display them as hex I get an error:
'Unrecognized format of field "value" in result...'

[2020-02-11 09:56] tomatac commented on #3616
That makes sense. What about 1 GB? I believe that the default is 5 GB and there is no way to know what cash file is associated with what project. Is there an easy way to clear the cash?

[2020-02-11 11:55] PDostalek commented on #4948
Thanks for clarifying

[2020-02-11 11:55] #4948 closed, assigned to nobody

[2020-02-11 15:29] JoffreyAlto commented on #1786
Hello @pieandcakes : Is there any update about this issue ? I've also been using CPPVSDBG for a while and still can't copy large string values. Since I'm not using GDB, I couldn't figure out any kind of parameter that would allow to extend that characters limit.

This is really annoying, since copying and analyzing data from the variables tab is one of the major features for a real-time debugger.

[2020-02-11 17:19] dstodev opened #4953 "Erroneous LValue RValue Ambiguity"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Catalina 10.15.3
- VS Code Version: 1.42.0
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): CMake-Tools
- A clear and concise description of what the bug is:

With two functions:

[code]

Calling them like:

[code]

will cause a red squiggle to appear under `f

[2020-02-11 17:57] pieandcakes commented on #4936
It sounds like the debugger is trying to start debugging. Can you enable [engineLogging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_logging-for-mi-debuggers) and let me know what it outputs in the debugConsole?

[2020-02-11 18:00] pieandcakes commented on #1786
@JoffreyAlto I haven't had time to investigate yet, but it is on my list.

[2020-02-11 18:22] aaxdev opened #4954 "Type coloration broken in WSL paths"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro (18363.628)
- VS Code Version: 1.42.0
- C/C++ Extension Version: 0.26.3
- Other extensions you installed: Remote - WSL (0.42.3)
- The coloration is broken when using VS code from WSL paths.

**Details**

Some coloration are not working correcty like class names, variable, defines and enums.
I noticed the color of type

[2020-02-11 18:29] Colengms commented on #4953
Hi @dstodev .  Thanks for reporting this.  I was able to repro using VS as well.  (The C/C++ Extension for VS Code shares common code for intelliSense with VS).

I've opened the following bug against VS: https://developercommunity.visualstudio.com/content/problem/914403/erroneous-squiggle-for-lvaluervalue-ambiguity.html

[2020-02-11 18:55] jandyman commented on #3829
I'm wondering something, and I figure that maybe some others monitoring this thread are wondering the same thing. Do we expect the debug experience to be different with lldb-mi as opposed to using CodeLLDB?

[2020-02-11 19:31] sean-mcmanus commented on #4934
Log Diagnostics shows "no translation unit" -- that means no IntelliSense is running. Do you have the source file active?

If SwitchHeaderSource (or Go to Def or Find All Refs) doesn't work until you open a file, it means the file wasn't parsed, probably because it wasn't included from the includePath (or browse.path) setting. You can use files.exclude to exclude folders you don't need to make the

[2020-02-11 19:33] sean-mcmanus commented on #4934
Also, if you're using compile_commands.json, it will try to get includePaths from that, but you may need to set your browse.path setting to include all the folders that you want to be parsed for global symbols (see https://github.com/microsoft/vscode-cpptools/issues/1715 ).

[2020-02-11 19:41] sean-mcmanus commented on #4954
This is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/3942 .

[2020-02-11 19:41] #4954 closed, assigned to nobody

[2020-02-11 20:04] sean-mcmanus commented on #3616
@tomatac 5 GB is also the default used by VS and we haven't gotten enough user feedback to lower that default to 1 GB. Setting the intelliSenseCacheSize to 0 should clear the cache. If your intelliSenseCachePath is set to the default, then the files could be created from multiple projects, but if you search for files with .ipch extensions you can see the file names of the original files.

[2020-02-11 22:52] WardenGnaw opened #4955 "Migrate TSLint to ESLint"
VSCode now recommends using ESLint instead of TSLint.

See https://code.visualstudio.com/api/advanced-topics/tslint-eslint-migration

[2020-02-12 06:55] OtmarZ commented on #4936
Hi pieandcakes,
you have a nice nick :-)!

I added next lines to my gdb config in launch.json:

"logging": {
                "trace": false,
                "traceResponse": false,
                "engineLogging": true
            }

And the output in the debug console is that one:

1 : (201) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'
1: (

[2020-02-12 07:49] HackerBaloo commented on #4934
A new log diagnostics with the right file selected:
-------- Diagnostics - 2/12/2020, 8:48:31 AM
Version: 0.26.3
Current Configuration:
{
"name": "Linux",
"browse.path": [
"${workspaceFolder}/**",
"/home/bjornca/src/develop/artifacts/**"
],
"defines": [],
"compileCommands": "${workspaceFolder}/intermediate/compile_commands.json",
"compilerPath": "/usr/bin/clang++-6.0",
"cStandard": "c11",
"cppStan

[2020-02-12 08:02] HackerBaloo commented on #4934
And the h files I want to switch to are definitely included in the include
paths. Both from compile_commands.json and from browse.path. And I don't
get any squiggles for bad includes.

On Wed, 12 Feb 2020 at 08:49, Björn Carlsson <b.r.carlsson@gmail.com> wrote:

--
____________________________
Björn Carlsson
Telefon 0704-10 69 77
Epost  mailto://b.r.carlsson@gmail.com
Blog    http://hackerbaloo.bl

[2020-02-12 08:49] pedro-w commented on #4929
I was trying to see if I could help diagnose the cause myself but I can't find where in the code it actually looks for the compilers. I assume it's something to do with the `knownCompilers` property?
I have downloaded the latest code from this repo and am able to rebuild/debug it in VS code. Any hints as to where to start?

[2020-02-12 12:14] bbennetts commented on #1755
Hi,

As a 'me too', my use case is that I have a large monolithic project with much legacy code which has .c files some of which are compiled 'c++' others as 'c', also there are many files that have 'special' compilation configurations.  Using the compile commands compiler flags would resolve the problems that are blocking me using VSC, for this project.

[2020-02-12 14:53] psclkhoury opened #4957 "Linking error not shown in the Problems panel"
The linking errors are not shown in the Problems panel.
Using cl.exe and makefiles to build.

[2020-02-12 15:52] SSP6258 opened #4958 "debugger doesn't hit breakpoint in my c++ code when assign a map by array"
Type: Debugger

debugger doesn't hit breakpoint when assign a map with array.
However it can hit breakpoint normally when assign a map with insert method.

**Describe the bug**
- OS and Version: WIN10
- VS Code Version: v1.42.0
- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

[2020-02-12 17:10] tgrohens opened #4959 "Colorization/Inactive-Regions not working in certain folders"
- VSCode Version: 1.42.0 (also tested with Insiders build)
- OS Version: macOS 10.15.3
- C/C++ Version: 0.26.3

Hi, I'm having an issue with the dimming of inactive regions in C++.

For the exact same (small) file in two different folders, in one case the dimming works and in the other it doesn't.
I'm not able to tell what the difference is, as there is no Workspace configuration or `.vscode` fold

[2020-02-12 18:02] Colengms commented on #4959
Hi @Juiblex .  One side of the #else should be dimmed, no matter what.  So, it look like you are not getting intelliSense for that file.  I suspect you are seeing an issue due to: https://github.com/microsoft/vscode/issues/88455 ( https://github.com/microsoft/vscode-cpptools/issues/4712 ).

One of your paths has the unicode sequence %C3%A9, the other has %C3%A8.  We are likely not remapping the la

[2020-02-12 18:09] pieandcakes commented on #4936
@OtmarZ your app is called `source` ?

It looks like it is waiting for gdb to launch and it isn't happening. If you run `ps aux | grep gdb` do you see it running?

[2020-02-12 19:58] sean-mcmanus commented on #4929
Yeah, if you don't see the build tools for VS in the knownCompilers, then it's not being found by our closed source language server component.

[2020-02-12 20:38] sean-mcmanus commented on #4934
The include shown from C/C++: Log Diagnostics are from compile_commands.json and not the same used for workspace symbol searching/parsing (from browse.path), e.g. I don't see the develop/server folder under the browse.path. Can you add those folders or was that the cause of the large database?

If you set C_Cpp.loggingLevel to "Debug" you can see more diagnostics on the browse.path affect.

[2020-02-12 21:02] pedro-w commented on #4929
I thought I was losing my marbles when I couldn't find the code for setting knownCompilers! Anyway please let me know if I can provide any more info to help.

[2020-02-12 23:43] xisui-MSFT commented on #4891
There are two parts for providing a debug config https://vscode.readthedocs.io/en/latest/extensions/example-debuggers/, one is provideDebugConfigurations which provide the initial settings (or specifying initialConfigurations in package.json), and the other is to specify configurationSnippets, which provides the autocomplete stuff. Instead of the "standard" second part, you used a way to just inse

[2020-02-13 01:06] #4552 closed, assigned to michelleangela

[2020-02-13 01:06] #4551 closed, assigned to michelleangela

[2020-02-13 01:07] #4548 closed, assigned to michelleangela

[2020-02-13 02:19] WardenGnaw commented on #2276
@maane018 This might be a permission issue with the debugger executables.

Can you do `ls -al` on `~/.vscode/extensions/ms-vscode.cpptools-<version>/debugAdapters/lldb/bin/`

[2020-02-13 03:29] #4945 closed, assigned to nobody

[2020-02-13 06:15] HackerBaloo commented on #4934
develop/server is the workspace folder

On Wed, 12 Feb 2020 at 21:38, Sean McManus <notifications@github.com> wrote:

--
____________________________
Björn Carlsson
Telefon 0704-10 69 77
Epost  mailto://b.r.carlsson@gmail.com
Blog    http://hackerbaloo.blogspot.com/
____________________________

[2020-02-13 06:24] mjbvz opened #4961 "Use VS Code's CodeAction type instead of Command"
Hi, I work on VS Code's code actions. Our telemetry shows that your extension is returning `Command` types from at least one `CodeActionProvider`. A few years ago, we introduced a [`CodeAction` type](https://code.visualstudio.com/api/references/vscode-api#CodeAction) that brings a number of benefits over `Command`, including allowing workspace edits to be returned directly and letting extensions t

[2020-02-13 07:57] OtmarZ commented on #4936
Hi pieandcakes!

Yes the name of my compiled app is "source" (file with C code is "source.c" - name is not a perfect choice, just for this demo)

I typed in the VSCode "Terminal " your cmd's "ps aux | grep gdb" and the only result is the grep call itself - it seems that no gdb is running.

Do I need to start the gdb/gdb-server manual? I thought that VSCode starts the gdb local and remote in the WS

[2020-02-13 09:02] psclkhoury commented on #4957
@sean-mcmanus could you provide some hints of what should be done to try and give it a go myself?

[2020-02-13 09:44] tgrohens commented on #4959
Hi @Colengms!

I've taken a look at the other issue and I'm not quite sure I'm facing the same problem.

I believe IntelliSense is running, even with accents in the path.
I've recreated a new folder with the same name as the offending folder `Thèse` in a `test` directory, and I've added the snippet from https://github.com/microsoft/vscode/issues/88455 for clarity.
There, I do get both dimming and

[2020-02-13 10:05] samloescher opened #4962 "launch.json should pass arguments verbatim (Unexpected parsing args of format `{,}`)"
Type: General

Version: 1.42.0
Commit: ae08d5460b5a45169385ff3fd44208f431992451
Date: 2020-02-06T10:51:23.649Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 5.4.17-1-MANJARO

- C/C++ Extension Version: 0.26.3
- Other extensions you installed (and if the issue persists after disabling them): Issue persists after disabling them.

When providing argumen

[2020-02-13 13:00] voltflake commented on #1201
Also waiting for this feature.

[2020-02-13 13:38] anjiawei1991 opened #4963 "Add a minimum-required version check before using system installed clang-format"
my clang-format's version is 3.4.2 and has no option of -fallback-style.  but the latest cpptools extension use it.  and I can hardly upgrade clang-format based on my enviroment.

[2020-02-13 14:03] sochooligan commented on #2456
https://github.com/microsoft/vscode-cmake-tools/issues/1060

[2020-02-13 16:34] lor1x opened #4965 "Can't use classes in separate files"
Hi,

I recently started coding C++ in Visual Studio Code and trying to create a class in separate files (the class prototype and the cpp file where I would code the class).

Trying to do these I keep stumbling upon issues. One of them being this when I run the main function:
[code]

This is the class prototype I saved with the name Test.h
[code]

This is the Test.cpp
[code]

I will get highlighted

[2020-02-13 17:53] Colengms commented on #4963
Hi @anjiawei1991 .  Let's use this issue to track adding a minimum version check before trying to use the installed version of clang-format.  In the meanwhile, try  setting `clang_format_path` to the clang-format binary bundled with the extension:

`"C_Cpp.clang_format_path": "<path_to_the_CppTools_extension>\\LLVM\\bin\\clang-format.exe"`

[2020-02-13 18:01] serjche opened #4966 "Struct dot initializer not recognized by intellisense autocomplete"
**Type: LanguageService**

Hi, I'm not sure if this bug has been reported before.

I've noticed that the autocomplete engine is not finding the references for struct initialization with the "dot notation".
I believe this notation is only supported from C99 and beyond (please correct if I'm wrong).

Thanks for your attention.

**Bug description**
- OS and Version: Windows 7 Professional.
- VS Code

[2020-02-13 18:20] pieandcakes commented on #4936
when you are pressing `F5` to start debugging, it should start `gdb`. its after that has started, I'd like you try the `ps` command to see if `gdb` actually started too or if it hasn't started. The question here is whether there is an issue within VSCode's WSL remote extension or with the command we're sending.

[2020-02-13 18:21] Colengms commented on #4959
Hi @Juiblex .  That is odd.  Inactive and colorization ranges are generated as a result of the very same IntelliSense pass that generates squiggles.  (You are also not getting semantic colorization.  It's subtle, but the variable "x" in your repro is not the same color as the no-repro image).

Could you confirm based on the logs that the new folder you created uses the same encoding as the origina

[2020-02-13 18:22] pieandcakes commented on #2456
You shouldn't be targeting `lldb` but rather `lldb-mi`. For `lldb` we require the `lldb-mi` executable as it contains the `mi` instructions we need to communicate with the debugger.

[2020-02-13 18:38] Colengms commented on #4966
Hi @serjche .  Thanks for reporting this.  I was able to repro this issue with Visual Studio as well.  (The C/C++ Extension for VS Code shares common code for IntelliSense with Visual Studio).  I've opened a bug against VS here: https://developercommunity.visualstudio.com/content/problem/917598/struct-dot-initializer-does-not-trigger-auto-compl.html

[2020-02-13 18:47] Colengms commented on #4965
Hi @lor1x .  It looks like you are defining prt() both inline within the class, as well as outside of the class.  Here it's defined inline:

[code]

If you want to define prt() outside of the class, you will want to specify only a prototype within class (omit the curly braces and their contents).  i.e. :

[code]

The error message you posted;

[code]

appears to be outdated.(?)  It looks like you

[2020-02-13 18:52] michelleangela commented on #4962
The C/C++ extension does not parse arguments from the launch.json file. This issue is on the VS Code client side which parses the data from launch.json.

For reference, it was verified that this issue does not reproduce on Windows. On Linux, the issue does not also reproduce when executing the program directly from the terminal (that is not using launch.json):

`$./main.out "{1,2}" "\"{3,4}\"" "{5

[2020-02-13 19:35] sean-mcmanus commented on #4957
You could try to add a problem matcher or modify the existing one: That's what we do for gcc: https://github.com/microsoft/vscode-cpptools/blob/master/Extension/package.json#L76 .

If using the problemMatcher json isn't powerful enough, you could write a wrapper for gcc and/or it's linker that outputs its own diagnostics/problems (potentially also dealing with https://github.com/microsoft/vscode-c