[2020-08-31 21:38] sean-mcmanus commented on #6052
Does the code compile with gcc or clang? Do you have any sample code? Our parser doesn't parse any CUDA-specific code, so it's unlikely to be able to provide completions if there's any non-standard C/C++ code that only compiles with the CUDA compiler.

Our parser would only support GPGPU compute code if it could get added in a future C/C++ standard.

[2020-08-31 21:43] Meoli96 commented on #6043
@Colengms Not on my machine rn, i will provide the complete output of the extension asap, but the output about the formatting functionality was the one I included in the description.

@sean-mcmanus It cant be that. I mean, maybe that setting is wrong but it was always set up like that and it worked before. Reformatting the same code in the same folder (and with the same parent folder), with the sa

[2020-08-31 21:59] A-Debord commented on #6046
Yes I'm using the integrated terminal and I tried with both bash and zsh as
default shell (same results).

[2020-09-01 00:11] bobbrow commented on #5588
@pbannister (and anyone else on this thread who may be interested).  We are working on an extension that understands makefile projects such as the linux kernel and are nearing a point where we plan to have a public preview.

We have done some testing of the extension on the linux kernel repository but we could benefit from your expertise working in that codebase if you are interested in helping us

[2020-09-01 00:26] gautsang commented on #5918
Hi. Sorry for the late reply.

I'll give you a reference git address that causes the error. When you open this project, you will encounter countless PROBLEMS. This PROBLEMS is similar to my previous error.
If you fix the PROBLEMS of this project, my error will disappear as well.

![image](https://user-images.githubusercontent.com/44471252/91781407-33850980-ec35-11ea-96e5-0fa75c6a101a.png)

https:/

[2020-09-01 00:43] sean-mcmanus commented on #4451
@Colengms Do you mean it will be fixed with 0.30.0-insiders4 or it doesn't repro with 0.29.0 too?

[2020-09-01 00:54] sean-mcmanus commented on #6035
@AnthonyParkssonos watcherExclude is a VS Code setting, so you'd have to ask VS Code for a watchInclude setting. Also, our extension may need to watch other files, such as c_cpp_properties.json if you update that. Also, the VS Code watcher code is probably not causing the memory issue -- if you think our extension has a memory leak bug when too much file watcher changes occur I could file a new bu

[2020-09-01 01:18] sean-mcmanus commented on #6009
If anyone wants to try a preview of a Makefile extension that should configure things correctly instead of relying on recursive includes, see the comment at https://github.com/microsoft/vscode-cpptools/issues/5588#issuecomment-684113609 .

[2020-09-01 01:23] ryanpholt commented on #6009
@sean-mcmanus: I'm configuring things with a compile_commands.json file. I'm assuming that I would not benefit from the Makefile extension?

I see this autocomplete issue in the insiders release in certain files (but not all).

[2020-09-01 01:28] sean-mcmanus commented on #6009
@ryan-holt-1 Yeah, if you're using compile_commands.json, then your configuration should be okay unless you're hitting a bug with our handling of that. For you repro, what do you see in the C/C++ logging (maybe if C_Cpp.loggingLevel is set to "Debug"). Is there a "Failed" or "No IL" message?

[2020-09-01 02:38] heartacker commented on #557
[https://github.com/microsoft/vscode/issues/70377](https://github.com/microsoft/vscode/issues/70377)
[https://code.visualstudio.com/api/references/contribution-points#contributes.menus](https://code.visualstudio.com/api/references/contribution-points#contributes.menus)
seem that vscode has add something to invest debugging view. it's time to pick it up

[2020-09-01 03:04] lincoln310 commented on #1899
me five.

[2020-09-01 07:11] MatthiasFH opened #6060 "double hyphen is removed from config to debugger call"
Type: Debugger

**Describe the bug**
- OS and Version: MacOS 10.15.6
- VS Code Version: 1.48.2
- Other extensions you installed (and if the issue persists after disabling them): no change in the behaviour.

I have to pass arguments to a subprogram of my debuggee program. I do this by using a double hyphen `--`. Like so:
`program_name --some_option file.txt -- -subprog_arg`
If I use the below `laun

[2020-09-01 08:56] baldvin-kovacs opened #6061 "Allow configuring the terminal that is used for debugging when externalConsole=true"
Issue Type: <b>Feature Request</b>

Please allow configuring which terminal is used for debugging (I'm using cppvsdbg) when externalConsole is true.

That would allow to implement a terminal which doesn't disappear right after the program finished.

Note: there are bugs directly about the terminal disappearing right away:  [Don't immediately close the external console window when the program ends

[2020-09-01 14:01] Jaxx4Fun opened #6062 ""install in SSH: XXX" button looks clickable but actually nothing happened when clicked"
Type: General

The button "install in SSH: XXX" is enabled but nothing happened when clicked the button.

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.18363
- VS Code Version: 1.49.0-insider (user setup)
- C/C++ Extension Version: 1.49.0-insider (user setup)
- Other extensions you installed (and if the issue persists after disabling them):
  - Remote - SSH
  - C/C++ Extension install

[2020-09-01 15:37] longnguyen2004 opened #6064 "[Windows] Add wmain code snippet"
Since we have a `main` code snippet, can we have a `wmain` code snippet as well? It's mainly for completeness, and also using `wmain` is the only way to get Unicode from `argv` on Windows

[2020-09-01 17:16] Acwok commented on #5963
Same issue here with ros autocompletion.
Switching `"cppStandard": "gnu++14"` to `"cppStandard": "c++14"` in the `.vscode/c_cpp_properties.json` should do the trick.
with:
[code]

[2020-09-01 17:36] WardenGnaw commented on #6062
The extension download page is part of the VS Code itself, not the cpptools extension. I have move the issue over there.

[2020-09-01 17:36] #6062 closed, assigned to nobody

[2020-09-01 17:44] AnthonyParkssonos commented on #6035
@sean-mcmanus does your team support for dynamic memory profiling or something akin to valgrind-massif? im assuming cpptools must be doing some kind of dynamic memory allocation?

alternatively, can Telemetry be instrumented to obtain performance data?

[2020-09-01 18:00] Chris-Dickerson commented on #5496
DataPacket d;

In the debugger, I tried to print 'd':

`
-exec print d
$1 = {Id = 192 '�'Python Exception <type 'exceptions.ValueError'> Cannot find type std::__cxx11::list<unsigned char, std::allocator<unsigned char> >::_Node:
, PacketData = empty std::__cxx11::list, Index = 0 '\000', Length = 0, segment = pHeader0, VoltageData = {voltage = 0, {byte1 = 0 '\000', byte0 = 0 '\000'}}}
`

std::__cxx1

[2020-09-01 18:30] ryanpholt commented on #6009
@sean-mcmanus: The only thing that looks suspicious in the logs is this:

[code]

I see "Failed to read response from server: 8" as soon as I type the "." or "->". This only happens the first time I try asking for completion in a file. If I try it again, nothing happens.

Note that in 0.29.0, I do not see this. Instead, I see:

[code]

[2020-09-01 18:52] WardenGnaw commented on #1899
The VSCode C++ Extension does not directly work on `lldb` or `lldb-mi`. We use and build `lldb-mi` from the [lldb-mi repository](https://github.com/lldb-tools/lldb-mi) and publish it.

We build the debug adapter `MIEngine` to communicate with `lldb-mi`, but that will be in the `OpenDebugAD7` process.

If memory usage is high for the `lldb-mi` process, this is directly related to [LLDB](https://lld

[2020-09-01 19:11] sean-mcmanus commented on #6062
Works for me. Can you file an issue with the VS Code remote extension at https://github.com/microsoft/vscode-remote-release/issues? Our extension doesn't control the install process.

![image](https://user-images.githubusercontent.com/19859882/91895414-10b21f80-ec4c-11ea-94f7-547fa16b0741.png)

[2020-09-01 19:23] sean-mcmanus commented on #6035
We do dynamic memory allocation. I don't know what you mean by our team supporting memory profiling. If we can get a repro of the memory issue we could profile it to find the cause (we haven't investigated the potential file watcher repro yet).

We might be able to get a measure of the number of users impacted by excessive memory usage, but we would have to have some idea on what data structures a

[2020-09-01 19:30] sean-mcmanus commented on #6009
@ryan-holt-1 Yes, you're hitting a crash in cpptools-srv -- could be the same as https://github.com/microsoft/vscode-cpptools/issues/5960, which we have a repro for. If you can attach a debugger to cpptools-srv to get a crash call stack, I can determine if it's the same crash or different one.

[2020-09-01 19:31] cameronelliott commented on #4904
This page shows the wrong way to do this!!!

[https://code.visualstudio.com/docs/cpp/launch-json-reference](https://code.visualstudio.com/docs/cpp/launch-json-reference)

Would seem like a good thing to fix.

[2020-09-01 19:45] Host48 opened #6066 "Feature request: auto add declaration/implementation of functions"
Is it possible to get the auto insert declaration/definition feature that exists in Visual Studio?
![image](https://user-images.githubusercontent.com/25237346/91898645-539be380-ec9c-11ea-94b5-8a4967a8dc49.png)
Thank you.

[2020-09-01 19:58] sean-mcmanus commented on #6066
This is being tracked by https://github.com/microsoft/vscode-cpptools/issues/664. You could upvote that issue.

[2020-09-01 19:58] #6066 closed, assigned to nobody

[2020-09-01 20:05] Host48 opened #6067 "Intellisense window wrong syntax colouring"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows
- VS Code Version: 1.48.2
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): No other extensions
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

Intellisense window is not showing colours of theme altered in editor.sem

[2020-09-01 20:22] ryanpholt commented on #6009
@sean-mcmanus:

Thread 4 "cpptools-srv" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fed792f1700 (LWP 163755)]
0x00000000005d3ed9 in an_edge_symbol_impl_t<edge::symbol>::new_object(a_symbol*) ()
(gdb) bt 10
#0  0x00000000005d3ed9 in an_edge_symbol_impl_t<edge::symbol>::new_object(a_symbol*) ()
#1  0x00000000005c2305 in edge::class_scope_entry::get_using_declarations(edge::a

[2020-09-01 20:57] sean-mcmanus commented on #6009
@ryan-holt-1 Yes, that is the same crash as https://github.com/microsoft/vscode-cpptools/issues/5960 . I'm currently investigating that. The hit count is not severely high, but it could still be our highest hitting crash (and a regression).

[2020-09-01 21:59] sean-mcmanus commented on #5960
I've filed VS bug https://developercommunity.visualstudio.com/content/problem/1170465/c-intellisense-crashes-from-completion-in-clang-mo.html .

[2020-09-01 22:02] sean-mcmanus commented on #6009
@ryan-holt-1 I filed a bug on VS at https://developercommunity.visualstudio.com/content/problem/1170465/c-intellisense-crashes-from-completion-in-clang-mo.html and also emailed the VC team directly (i.e. the issue is caused by recent updates to our shared IntelliSense parser). I'm not sure how many other users on this thread were hitting that issue versus the other non-crash issue in the recursive

[2020-09-01 22:08] ryanpholt commented on #6009
@sean-mcmanus: Thank you!

[2020-09-01 22:40] Colengms commented on #6067
Hi @H0stman .  The C/C++ Extension implements a DocumentSemanticTokensProvider, which provides VS Code with semantic tokens for C/C++ files.  That appears to be working correctly.  I believe what you are seeing is VS Code behavior.  Semantic Token support is relatively new in VS Code, and it may not currently extend to hover windows  I'd suggest opening an issue in [the VS Code repo](https://githu

[2020-09-01 22:50] sean-mcmanus commented on #5990
Thanks for reporting this. Sorry for the delay in responding. The bug is with our IntelliSense code shared with VS. I've filed a bug at https://developercommunity.visualstudio.com/content/problem/1170470/c-intellisense-incorrectly-reports-a-class-a-ambig.html .

[2020-09-02 00:10] bobbrow commented on #6037
This issue was not resolved by the linked PR, but GitHub accidentally thought it was.

[2020-09-02 00:30] sean-mcmanus commented on #414
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . Let us know if you see any remaining bugs with non-UTF-8 encodings.

[2020-09-02 00:31] sean-mcmanus commented on #5334
Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . Let us know if you see any remaining bugs with non-UTF-8 encodings.

[2020-09-02 00:32] sean-mcmanus commented on #1439
The Shift JS issues should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . Let us know if you see any remaining bugs with that encoding.

[2020-09-02 00:33] sean-mcmanus commented on #4810
Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . Let us know if you see any remaining bugs with non-UTF-8 encodings.

[2020-09-02 00:33] sean-mcmanus commented on #4753
@BOT-Man-JL Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . Let us know if you see any remaining bugs with non-UTF-8 encodings.

[2020-09-02 00:35] sean-mcmanus commented on #4451
Either way, it should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . Let us know if you see any remaining bugs with non-UTF-8 encodings.

[2020-09-02 00:35] sean-mcmanus commented on #4447
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . Let us know if you see any remaining bugs with non-UTF-8 encodings.

[2020-09-02 00:35] sean-mcmanus commented on #3983
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . Let us know if you see any remaining bugs with non-UTF-8 encodings.

[2020-09-02 00:36] sean-mcmanus commented on #1236
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . Let us know if you see any remaining bugs with non-UTF-8 encodings.

[2020-09-02 00:36] sean-mcmanus commented on #806
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . Let us know if you see any remaining bugs with non-UTF-8 encodings.

[2020-09-02 00:38] sean-mcmanus commented on #2595
Support for `/Zc:__cplusplus` in compilerArgs was added with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 .

[2020-09-02 00:39] sean-mcmanus commented on #5984
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 .

[2020-09-02 00:39] #5984 closed, assigned to nobody

[2020-09-02 00:41] sean-mcmanus commented on #2506
Ubuntu 14-18, Debian 8-9, CentOS 7 support got added with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 (i.e. glibc 2.17 minimum).

[2020-09-02 00:41] #5993 closed, assigned to nobody

[2020-09-02 00:42] sean-mcmanus commented on #5993
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 .

[2020-09-02 00:45] sean-mcmanus commented on #6009
With https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 we added recursive includes diagnostics when conflicting includePaths are detected, which could help resolve the "No IL" issues. The completion crash is being tracked by https://github.com/microsoft/vscode-cpptools/issues/5960 . If there are other issues, please file a new issue.

[2020-09-02 00:45] #6009 closed, assigned to nobody

[2020-09-02 00:47] sean-mcmanus commented on #2345
With https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 , we show the IntelliSense error codes, so
[code]
could be used as a workaround for suppressing IntelliSense errors (replace 28 with the error code).

[2020-09-02 00:50] sean-mcmanus commented on #2712
With https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 , we show the IntelliSense error codes, so
[code]
could be used as a workaround for suppressing IntelliSense errors (replace 28 with the error code).

You could include that code in a file referenced in the forcedInclude property to have it added to every file in the workspace.

[2020-09-02 00:51] sean-mcmanus commented on #5875
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4. Thanks to @devabhishekpal

[2020-09-02 00:51] sean-mcmanus commented on #2184
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 .

[2020-09-02 00:52] sean-mcmanus commented on #5865
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 .

[2020-09-02 00:52] sean-mcmanus commented on #5168
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 .

[2020-09-02 00:53] sean-mcmanus commented on #4661
Issue 1 is fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 .

[2020-09-02 00:58] sean-mcmanus commented on #3372
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 .

[2020-09-02 00:58] sean-mcmanus commented on #2923
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 .

[2020-09-02 01:01] sean-mcmanus commented on #1905
The issue with C files was fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 .

[2020-09-02 01:04] sean-mcmanus commented on #6022
We fixed the issue with "alignas" etc. appearing as keywords in C with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4 . "_Alignof" etc. aren't added because using the macros defined in stdalign.h etc. is recommended instead (those macros will appear in completion after the headers are added).

[2020-09-02 02:23] Colengms commented on #414
Note that the C/C++ Extension will now use the file encoding specified in `files.encoding`, if there is no (known/supported) BOM detected in the file, and it's not UTF-16 (BE or LE).  However, we are not currently replicating the behavior of VS Code's `files.autoGuessEncoding`, which uses the jschardet library to detect the encoding of a file.

[2020-09-02 03:44] BOT-Man-JL commented on #4753
@sean-mcmanus It still has this problem...

![image](https://user-images.githubusercontent.com/17026165/91929659-76b4aa80-ed11-11ea-8573-0f9c5ed113dd.png)
![image](https://user-images.githubusercontent.com/17026165/91929690-8e8c2e80-ed11-11ea-9c41-fa3b7adc6294.png)

[2020-09-02 05:11] asharhasan20 opened #6069 "g++ is not recognized in vscode"
g++ is not recognized in vscode . couldn't find g++in build task
<img width="558" alt="Capture" src="https://user-images.githubusercontent.com/70622383/91934350-cd69b680-ed08-11ea-8543-188326ebb74d.PNG">

[2020-09-02 06:06] marco-fam commented on #6009
I don't know if I should report this under an already opened issue?
Anyway let me know if I need to move it.

After reading all the comments here I was able to isolate the include path that was giving me the
_textDocument/hover: file:///software/repo/alarm/alarm/main_tree_test.cpp (id: 18)
Quick info operation failed: FE: 'Compiler exited with error - No IL available'_

**_However the issue is sti

[2020-09-02 06:14] marco-fam commented on #5960
I added additional comments on the issues on intellisense not working due to
"Compiler exited with error - No IL available".
Perhaps it would be helpful to add additional debug info in the cpp extension when this situation occurs.
tested with 0.30.0-insiders4!

https://github.com/microsoft/vscode-cpptools/issues/6009#issuecomment-685323322

[2020-09-02 15:41] Trass3r commented on #5358
This also happens on WSL.
Possibly related to microsoft/MIEngine#452.

The problem is that gdb reuses stderr for its stdlog stream which receives all those debug msgs for example:
[code]
You won't see them without `"engineLogging": true`. I already thought gdb was broken.
[code]

[2020-09-02 15:43] Trass3r commented on #3530
Duplicates #5358.

[2020-09-02 16:25] apfel-dev commented on #2025
How can I get this information from VS code?
(and thanks for the info about the defines in the json file)

[2020-09-02 16:47] elahehrashedi commented on #4280
bugfix: https://github.com/microsoft/vscode/issues/105865

[2020-09-02 16:52] elahehrashedi opened #6071 "Regression in bypassing the launch.json in debug mode"
**Describe the bug**
- OS and Version: Win64
- VS Code Version: 1.49.0-insiders
- C/C++ Extension Version: 0.30.0-insiders4

Open a ".cpp" file in your project folder
Run the command "C/C++: build and debug active file"
Vs Code will throw this error: Configuration 'cl.exe - Build and debug active file' is missing in 'launch.json'.

in Vs Code Version 1.48.0, the extension can bypass creating the l

[2020-09-02 18:44] Meoli96 commented on #6043
@sean-mcmanus Actually removing that line fixed the issue. Im really sorry. The odd thing is that as i said that option was always there and it did never cause harm. Thank you very much for the assistance and im really sorry to have wasted your time. The issue can be closed.

[2020-09-02 19:17] Colengms commented on #4753
Hi @BOT-Man-JL .  It's not mentioned here, but have you set VS Code's `files.encoding` setting to `GB2312`?  The C/C++ Extension does not replicate VS Code's `files.autoGuessEncoding` behavior when opening files directly from disk, but should now use `files.encoding` when opening files from disk (if the file does not have a BOM, and is not UTF16 LE/BE).  If you are setting `files.encoding` and not

[2020-09-02 19:18] #6043 closed, assigned to nobody

[2020-09-02 19:37] Trass3r commented on #4843
I wonder if the elements could be loaded in chunks, maybe using [`indexedVariables`](https://microsoft.github.io/debug-adapter-protocol/specification#Types_Variable).

[2020-09-02 19:43] Trass3r commented on #688
The former usually works in gdb, the latter is not implemented yet, see microsoft/MIEngine#1031.

Interesting.

[2020-09-02 19:46] Trass3r commented on #3423
Indeed, VS's stl.natvis should be shipped with this extension.
This would also allow contributions.

[2020-09-02 19:54] Trass3r commented on #925
Looking at the code, that won't work for other backends though.

[2020-09-02 23:13] tmorg1195 opened #6074 "Debugger"
Type: Debugger

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll dow

[2020-09-02 23:36] DanWillans commented on #2452
@pieandcakes

I'd like to +1 this. Thank you for all the help in this thread but similar to @vanheck I cannot get the breakpoints that I set prior to attaching to the running process to bind on my loaded dll. It seems the symbols only get loaded once I ctrl+c the terminal of my application.

Are there any updates on this?

[2020-09-02 23:51] bobbrow commented on #6074
@tmorg1195 we are unable to investigate your issue as there is insufficient information provided.

[2020-09-02 23:51] #6074 closed, assigned to nobody

[2020-09-03 02:31] BOT-Man-JL commented on #4753
Hi @Colengms, my `files.encoding` was not set.

In my scenario, I suppose that `files.autoGuessEncoding` is necessary because each document is either UTF-8 or GB2312 (not the same encoding), or maybe other encoding.

[2020-09-03 05:03] edwood-grant opened #6075 "Mixed up default intellisense options"
**Type: LanguageService**

**Describe the bug**
When I change intellisense default mode, it seems that some settings are mixed up and show different values when setting some values. I happened to fond this when it was showing VLA intellisense errors on a C18 standard when it sohuldn't in clang on windows.

- OS and Version:  Windows 10
- VS Code Version: 1.48.2
- C/C++ Extension Version:  0.30.0-i

[2020-09-03 05:41] MatthiasFH commented on #6060
I took a second thought about a code example, you can see the effect with following code.

[code]

[2020-09-03 09:23] asharhasan20 commented on #1329
g++ is not recognized in build task.
<img width="558" alt="Capture" src="https://user-images.githubusercontent.com/70622383/92096953-2747aa80-edf5-11ea-856a-f02fc4aa89cd.PNG">

[2020-09-03 09:40] oren-nonamesecurity opened #6076 "No stdout and stderr while debugging with gdbserver"
Type: Debugger

**Describe the bug**
- OS and Version: Ubuntu 20.04
- VS Code Version: 1.48.2
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is

I have a launch configuration to connect to gdbserver running inside docker.
Everything works well, I can set breakpoints and see varia

[2020-09-03 11:07] HamzaHajeir commented on #1329
It seems you've missed installing [Git ](https://git-scm.com/downloads)in your system.

[2020-09-03 13:34] baiwfg2 commented on #5602
I met the same problem, 0.29.0. I launch multiple vscode windows, and it seems that cpptools has taken most of the memory

![image](https://user-images.githubusercontent.com/5157680/92121553-f8e5c180-ee2c-11ea-88ef-b5fd517354b6.png)

[2020-09-03 13:44] Chris-Dickerson commented on #5496
Today, a class will show up once, starting debug a second time -- the class is no longer available. Restarting the IDE it reacts the same way.

Version: 1.49.0-insider (user setup)
Commit: 8c9b4015feb0297d99c8051c35e85d208ffe83e3
Date: 2020-09-03T06:00:27.719Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

[2020-09-03 16:14] chrish42 commented on #5805
I'm having what looks like the same problem, on a big codebase (Apache Arrow). As soon as I get to a stack frame that contains more complex objects (that use STL collections in their implementation, the debugger freezes and does not respond to commands. Looking at things under the hood, VSCode is waiting forever on a reply to the following: `1: (18328) <-1041-var-create - - "parser" --thread 1 --f

[2020-09-03 17:38] sean-mcmanus commented on #414
@Colengms Should we open an issue to track the potential files.autoGuessEncoding?

[2020-09-03 17:42] sean-mcmanus commented on #6069
We have some docs at https://code.visualstudio.com/docs/cpp/config-mingw#_build-helloworldcpp . I think you need to provide the full path to g++.exe.

[2020-09-03 18:09] sean-mcmanus commented on #6009
@marco-fam The includePath ordering should match what you use to compile your code, so that the correct file can be included. It seems like "${workspaceFolder}/RTEMS/rtems4.11/nios2-rtems4.11/include" and maybe other sysroot-like include paths should only be used for files that are intended to use those. You might also look into setting the C_Cpp.default.systemIncludePath setting or making sure co

[2020-09-03 18:13] sean-mcmanus commented on #5960
@marco-fam If you're seeing "No IL available" it is not a crash, and it most likely caused by includePath or defines not being set correctly.

[2020-09-03 18:48] Colengms commented on #414
@sean-mcmanus That would be: https://github.com/microsoft/vscode-cpptools/issues/4753

[2020-09-03 19:21] sean-mcmanus commented on #2025
@apfel-dev Set the C_Cpp.loggingLevel to "Debug": https://code.visualstudio.com/docs/cpp/enable-logging-cpp

[2020-09-03 19:43] sean-mcmanus commented on #6075
We'll generally override the intelliSenseMode based on the compilerPath that is found. What compilerPath is being used? You could see via running C/C++: Log Diagnostics.

[2020-09-03 22:19] robotdad opened #6078 "IntelliSense shows improper comment when properly formatted"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.48.2
- C/C++ Extension Version: .29.0
- Other extensions you installed (and if the issue persists after disabling them): tons
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including information about the w

[2020-09-03 22:20] robotdad commented on #6078
Screenshot
![image](https://user-images.githubusercontent.com/1429895/92179134-f7020b00-edf8-11ea-98e8-0eadc954aea2.png)

[2020-09-03 22:34] sean-mcmanus commented on #6078
I don't think that error is applying to the comment -- we just show it there because it's the 1st line. What is the error? Usually, this issue occurs when opening a header that has an error in the TU it's in. Is main.c being included by another file?

[2020-09-03 22:38] sean-mcmanus commented on #6078
Oh, your logs show it's just the main.c, so that is odd for an error to appear. It might not be from our extension.

[2020-09-03 22:49] MumblingFumbler opened #6080 "Compiler argument in C/C++ configuration does not propagate to tasks.json for g++ compiler"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 7
- VS Code Version: 1.48.2
- C/C++ Extension Version: 13.515.576
- Other extensions you installed (and if the issue persists after disabling them): None
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including information about t

[2020-09-03 23:06] robotdad commented on #6078
Here is a wider screenshot as there are other errors as well, filed/described [here](https://github.com/microsoft/vscode-cpptools/issues/6079). So perhaps they are causing this squiggle.

![image](https://user-images.githubusercontent.com/1429895/92181952-57944680-edff-11ea-806e-89772fa5f2dd.png)

[2020-09-03 23:08] robotdad commented on #6078
I realize now I should have hovered.

![image](https://user-images.githubusercontent.com/1429895/92182037-88747b80-edff-11ea-9348-46e69bea3048.png)

I'm not sure what would be pulling in _ansi.h, but this project builds with CMake so I would not expect IntelliSense errors for missing includes.

[2020-09-03 23:12] sean-mcmanus commented on #6078
That is odd. I'll see if I can repro it. One guess is that it could be caused by a forcedInclude, but I don't see that being used in your logs.

[2020-09-03 23:24] sean-mcmanus commented on #6078
When I wasn't properly configured (no kit) I saw the _ansi.h message over the screen.h header. My guess is that the IntelliSense line numbers for the error are getting messed up somehow, causing the error to appear on the 1st line.

[2020-09-03 23:24] Colengms commented on #6078
Hi @robotdad .  Have you run `CMake: Configure` within this session?  The CMake Tools extension does not have a code model until Configure is run within that session.  Consider using `"cmake.configureOnOpen": true`, if you are not already.

Could you enable debug logging using `"C_Cpp.loggingLevel": "Debug"`, and repro the scenario from launch up until repro, and provide the output of the `C/C++`

[2020-09-03 23:25] sean-mcmanus commented on #6078
@Colengms I transferred the CMake configuration issue to https://github.com/microsoft/vscode-cmake-tools/issues/1425 .

[2020-09-03 23:50] robotdad commented on #6078
Interesting. Running configure fixed the errors for a moment, but then they came back. So maybe we disabled showing errors while configure was running? Why do I have to do that as a separate step? I already built the project.

I also then got this error which I don't understand. I am using a toolchain file, why do I now need to take extra steps to get things to work properly?
"The path to the comp

[2020-09-04 01:32] sean-mcmanus commented on #6078
I reproed the issue with the error on the comment. Haven't figured out how to build it yet...

[2020-09-04 05:21] xuancong84 commented on #5256
Hi all, I am on Mac Mojave 10.14.6, having the same problem. I have code-signed GDB with entitlement and GDB can debug my C++ program in standalone terminal. But VSCode cannot debug my program using GDB, error message being "Unable to start debugging. GDB exited unexpectedly with exit code 134 (0x86)."

I think the bug lies in VSCode's GDB interpreter. Anyway, I am pretty sure that VSCode develope

[2020-09-04 05:27] fengxiaohu opened #6081 "stepin function error in WSL"
Type: Debugger

**Describe the bug**

- OS and Version: WSL:Ubuntu-18.04 Windows10
- VS Code Version: 1.48.0 (user setup)
- C/C++ Extension Version: Version 0.30.0-insiders4: September 1, 2020
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is:
    I want to step into the function pthread_create.c of external libr

[2020-09-04 05:47] FayeeLee opened #6082 "VSCode C++ cin/cout/endl was not declared"
properities.json
{
    "configurations": [
        {
            "name": "Win32",
            "includePath": [
                "${workspaceFolder}/**"
            ],
            "defines": [
                "_DEBUG",
                "UNICODE",
                "_UNICODE"
            ],
            "compilerPath": "D:\\vscode\\mingw64\\bin\\gcc.exe",
            "cStandard": "c11",
            "cppS

[2020-09-04 07:50] jmspit commented on #3212
Annoying problem - please fix.

[2020-09-04 10:38] micyan01 commented on #484
I come with a more serious problem. When I use vscode run c++ elf, the program always hangs at the start. Then I can't move forward any step exception canceling "launch".
After all, I use "code --verbose" instead of "code" to start vscode. Then it works.

[2020-09-04 12:08] delta512 commented on #5256
Hi xuancong84, you should get the same problem in a standalone terminal by first invoking GDB, then loading your program from within the GDB's shell: (gdb) file "your-program-to-debug"

Actually this is an issue with GDB itself, under macOS only. Starting GDB and loading the "debugee" through interpreter commands (GDB's shell or GDB/MI interface) performs an additional task that makes the OS unhap

[2020-09-04 12:53] xuancong84 commented on #5256
Thanks @delta512 , you are right, I have tested. And I saw someone has already reported this bug to GDB's official Bugzilla thread. Hope it can get fixed soon -:)

[2020-09-04 17:16] sean-mcmanus commented on #6082
Can you provide the exact error message? Is this error from compiling or IntelliSense? Information from running C/C++: Log Diagnostics may help as well.

[2020-09-04 17:27] sean-mcmanus commented on #3212
To suppress this error, you can add
[code]
to some code in the TU, such as in a forcedInclude:
[code]
Starting with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders4, the error codes are added to the IntelliSense errors, so other invalid errors can be suppressed as well.

[2020-09-04 17:46] WardenGnaw commented on #6081
Not an error. Message is trying to open pthread_create.c which is a library file. Unless you have the source file it will not step into that method.

Duplicate of: https://github.com/microsoft/vscode-cpptools/issues/811

[2020-09-04 17:46] #6081 closed, assigned to nobody

[2020-09-04 18:23] michelleangela opened #6084 "Doxygen - Comment truncated if the character ‘\0’ appears in the comment"
If a Doxygen comment has the character '\0', then the text after it is truncated. Also reproduces on VS.

VS feedback ticket:
https://developercommunity.visualstudio.com/content/problem/1081005/%E6%B3%A8%E9%87%8A%E4%B8%AD%E5%A6%82%E6%9E%9C%E5%87%BA%E7%8E%B0%E4%BA%86%E5%AD%97%E7%AC%A6-0-%E4%BC%9A%E5%AF%BC%E8%87%B4%E5%AD%97%E7%AC%A6-0-%E4%B9%8B%E5%90%8E%E7%9A%84%E6%B3%A8%E9%87%8A%E6%97%A0%E6%B3%95%E

[2020-09-04 19:29] sean-mcmanus commented on #6078
How do you get Using Visual Studio install C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/Linux/gcc_arm/bin yes to be used?

[2020-09-04 19:32] sean-mcmanus commented on #6078
Well, I commented out the code that selected a compiler from my path, but then I get other errors: `[rollbar] Unhandled exception: Unhandled exception: Processing "data" event from proc stderr TypeError: message must be set {"data":{"type":"Buffer","data":[`

Compiling the C compiler identification source file "CMakeCCompilerId.c" failed.
Compiler: /arm-none-eabi-gcc.exe
Build flags: -mthumb;-mcpu

[2020-09-04 19:35] jgoeders commented on #5984
Thanks @sean-mcmanus!  This release preview seems to be working well on our platform.

[2020-09-04 19:39] sean-mcmanus commented on #6078
It looks like vswhere.exe isn't finding my VS 2019 16.8 Preview 3 gcc_arm.

UPDATE: I added -prerelease to fix that and reproed both bugs.

[2020-09-04 19:53] sean-mcmanus commented on #6080
The C/C++ build tasks do no auto-populate -I based on the includePath values added in c_cpp_properties.json. A similar request was made at https://github.com/microsoft/vscode-cpptools/issues/5985 . We could potentially add that in the future (after we check in https://github.com/microsoft/vscode-cpptools/pull/5659 ).

[2020-09-04 21:11] micyan01 commented on #530
Try "code --verbose"

[2020-09-04 21:20] deafwing commented on #5169
Hmm tried your approach and it didn't work ... any other ideas?

[2020-09-05 10:34] masterneko opened #6086 "class "Something" has no member "foo_alias""
I have this code:
[code]
This code compiles successfully but some_stuff.foo_alias has a red line under it in vscode. Hovering over it will say:
[code]

Note: This code must use C++ 14 or higher

[2020-09-05 10:40] #6086 closed, assigned to nobody

[2020-09-06 07:58] ashtul commented on #1211
Anything?
Any workaround in the meantime?

[2020-09-06 15:14] zengming00 commented on #429
我在我的安卓手机上利用linux deploy部署了一个linux环境
I deployed a linux environment using "linux deploy" on my Android phone

然后通过"npm install -g code-server"安装了code-server
Then installed code-server through "npm install -g code-server"

发现两个问题
Two problems found

首先C源码无法格式化
First, the C source code cannot be formatted

原因是以下文件没有可执行权限
The reason is that the following files do not have executable permissions
[code]

[2020-09-07 05:18] yoberner commented on #5045
I was having the same issue. Try using the "open folder" option when you first open a window, instead of opening a random file. It then started to work for me.

[2020-09-07 06:30] karanmiglani opened #6087 "How to input while debugging the C++ code."
I cant input the values while debuuging the code.
I have enabled extra console = true in my launch.json file
Launch.json

-:
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "n

[2020-09-07 10:34] #5496 closed, assigned to WardenGnaw

[2020-09-07 11:19] samuelyhsu commented on #882
This feature is really important, please

[2020-09-07 15:47] midnight-wonderer commented on #5591
I think I am in the same situation.
Same message in both `exthost.log` and developer console.

I am on Linux. (Ubuntu-based distro.)

I can get you stack trace samples from the developer console.

__sample1__
error (log.ts:197)
error (log.ts:330)
error (log.ts:390)
error (log.ts:390)
handleUnexpectedError (workbench.ts:120)
(anonymous) (workbench.ts:78)
onUnexpectedError (errors.ts:61)
t.onUnexpec

[2020-09-08 10:36] arnonshp commented on #6035
@sean-mcmanus please provide memory profiling instructions and I'll run it on my system. The link you sent deals only with CPU profiling. Could not understand which perf command/args I need to use to profile memory. If there's another tool you would like me to use, please let me know.

[2020-09-08 10:54] crispyricepc opened #6088 "Stopped due to shared library event during WSL debugging"
## System info
- OS and Version: Windows 10 2004, WSL2 Ubuntu 20.04
- VS Code Version: 1.48.2
- C/C++ Extension Version: v0.30.0-insiders4
- Other extensions installed: None

## Description
Launching using cppdbg on Linux causes gdb to hang, with the final message: `Stopped due to shared library event (no libraries added or removed)`

## To reproduce
Create new hello world project:
[code]
Add `lau

[2020-09-08 11:09] Jebug69 opened #6089 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.30.0-insiders4`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.48.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Jesse Ben-Emu\ms-vscode.cpptools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extens

[2020-09-08 11:14] Geometror commented on #882
I would like this essential feature too!

[2020-09-08 17:17] sean-mcmanus commented on #6089
There's not enough info. No ms-vscode.cpptools-unresponsive.cpuprofile.txt .

[2020-09-08 17:46] sean-mcmanus opened #6090 "Android code-server ARM issues"
我在我的安卓手机上利用linux deploy部署了一个linux环境
I deployed a linux environment using "linux deploy" on my Android phone

然后通过"npm install -g code-server"安装了code-server
Then installed code-server through "npm install -g code-server"

发现两个问题
Two problems found

首先C源码无法格式化
First, the C source code cannot be formatted

原因是以下文件没有可执行权限
The reason is that the following files do not have executable permissions
[code]

[2020-09-08 17:46] sean-mcmanus commented on #6090
@zengming00 We don't currently support running our extension on Android with code-server.
* The clang-format issue is being tracked by https://github.com/microsoft/vscode-cpptools/issues/5958 .
* The executable issue is related to code at https://github.com/microsoft/vscode-cpptools/blob/master/Extension/src/main.ts#L263 -- it must have some issue in regards to the platform checks. If you can run

[2020-09-08 17:51] sean-mcmanus opened #6091 "Add a log message explaining why "Open file" error squiggles are disabled"
I was having the same issue. Try using the "open folder" option when you first open a window, instead of opening a random file. It then started to work for me.

_Originally posted by @yoberner in https://github.com/microsoft/vscode-cpptools/issues/5045#issuecomment-688041962_

[2020-09-08 17:55] yoberner commented on #6091
Not sure exactly why it was happening, spend a few hours trying to fix it with no avail. But, when I would right click on a C file and click open in VSCode, it would not have the squiggles (although it did have some autocomplete), however, when first opening a VSCode window and then a folder and file from within the window, it then worked.

[2020-09-08 17:55] sean-mcmanus commented on #6091
@yoberner That is "by design", but we could do a better job explaining that error squiggles are intentionally disabled in the "Open File" scenario, i.e. we could log a warning message.

[2020-09-08 17:56] yoberner commented on #6091
Got it! Good to know. Thanks!!

[2020-09-08 18:31] sean-mcmanus opened #6092 "Add instructions on cpptools memory profiling to the wiki"
@sean-mcmanus please provide memory profiling instructions and I'll run it on my system. The link you sent deals only with CPU profiling. Could not understand which perf command/args I need to use to profile memory. If there's another tool you would like me to use, please let me know.

_Originally posted by @arnonshp in https://github.com/microsoft/vscode-cpptools/issues/6035#issuecomment-68878069

[2020-09-08 18:32] sean-mcmanus commented on #6092
@arnonshp We haven't written instructions on memory profiling yet. We had an internal task tracking that.

[2020-09-08 20:17] bobbrow opened #6093 "Add docs for memory profiling"
Add info on memory profiling to https://github.com/microsoft/vscode-cpptools/wiki/Troubleshooting-Performance-Issues .

Visual Studio "memory usage" tool is not available for profiling extension process
~~For Windows, use Visual Studio performance analysis tools~~
~~https://docs.microsoft.com/en-us/visualstudio/profiling/memory-usage-without-debugging2?view=vs-2019~~

For macOS, the Instruments to

[2020-09-08 20:21] bobbrow commented on #4473
We can add a section for supported variables here:

https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference#:~:text=cppStandard%20The%20version%20of%20the%20C%2B%2B%20language%20standard,can%20provide%20IntelliSense%20configuration%20information%20for%20source%20files.

[2020-09-08 22:00] bobbrow opened #6094 "Get the language server tests running on ARM"

[2020-09-08 22:16] styu99 commented on #5298
I'm also having similar issues with intellisense on a remote Ubunutu 18.04.5 LTS server trying to edit C++ files.

`[2020-09-08 17:12:52.776] [exthost] [error] [ms-vscode.cpptools] provider FAILED
[2020-09-08 17:12:52.776] [exthost] [error] undefined
[2020-09-08 17:13:54.239] [exthost] [warning] ms-vscode.cpptools - Code actions of kind 'quickfix 'requested but returned code action does not have a

[2020-09-08 23:13] sean-mcmanus commented on #5298
Those error messages from VS Code are not related and can be ignored. We would need info in our logs https://code.visualstudio.com/docs/cpp/enable-logging-cpp .

[2020-09-08 23:42] hongfanmeng opened #6095 "c++ build task repeat"
system : windows 10
plugin version: 0.30.0

when a try to config build task, there are repeat task there, can i remove them?
![image](https://user-images.githubusercontent.com/51071010/92537973-0a392e80-f270-11ea-8049-8fa7e28fd62f.png)

[2020-09-08 23:49] michelleangela commented on #6092
Closing as dup of https://github.com/microsoft/vscode-cpptools/issues/6093

[2020-09-08 23:49] #6092 closed, assigned to nobody

[2020-09-08 23:52] IvanAli opened #6096 "[macOS Catalina] Debugger sometimes doesn't start"
Type: Debugger

**Describe the bug**
- OS and Version: macOS Catalina 10.15.6
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.30.0

Clicking the green "Debug" button used to work fine before upgrading from Mojave to Catalina.
What happens now: Clicking the Debug button attempts to launch the debugging process, yet nothing happens. After a few unsuccessful tries, the debugging process finall

[2020-09-09 00:01] sean-mcmanus commented on #6095
They are from different compilers with the same name. I think we should add the full path so they can be distinguished. We're tracking already with https://github.com/microsoft/vscode-cpptools/issues/4278

[2020-09-09 00:01] #6095 closed, assigned to nobody

[2020-09-09 00:20] elahehrashedi commented on #6095
There are two reasons that result in having multiple tasks with the same name:
1. The tasks are from different compilers with the same name and different paths. We are taking care of this by showing the compiler path in details, in this PR: https://github.com/microsoft/vscode-cpptools/pull/5659
2. There might be a task in the tasks.json with the exact same name. In order to avoid this confusion, g

[2020-09-09 00:29] runner0353 opened #6097 "C/C++ IntelliSense gives "has no suitable copy constructor" and other errors but compiles with all compilers"
**Type: LanguageService**

![image](https://user-images.githubusercontent.com/36179001/92540155-4ec7c880-f276-11ea-8bca-832946ce96f6.png)

**Describe the bug**
- OS and Version:Ubuntu 18.04
- VS Code Version:
- C/C++ Extension Version:0.29.0
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote

[2020-09-09 00:39] sean-mcmanus commented on #6097
Are you able to provide a small sample of code that repros the problem? The example in your screenshot may require additional code (type info) in order to reproduce.

[2020-09-09 01:12] ocgltd commented on #1614
It seems that clang creates separate processes to compile, and the other processes don't have access to the network mapped drive.

I'm experiencing similar issue (in an unrelated project) and found this topic to be almost identical.  If you find a solutions that would be great.

[2020-09-09 01:16] runner0353 commented on #6097
![image](https://user-images.githubusercontent.com/36179001/92542868-8df91800-f27c-11ea-8cdd-a60b9ea08fd5.png)
![image](https://user-images.githubusercontent.com/36179001/92542917-ac5f1380-f27c-11ea-8b5d-972f942b623e.png)

[2020-09-09 07:39] Darker7 commented on #5178
I had a similar problem with recursive includes not working – or rather working inconsistently. Though it seems fairly exotic because I fixed it by rolling back to 0.28.3 but when I now rolled forward to 0.29.0 again to reproduce it, it was fixed but I'm starting rambling.
More structured:

- Version: 0.29.0 (non-Insiders)
- Problem: `{workspace}/src/checksum.h` is not being detected with `{worksp

[2020-09-09 11:52] zengming00 commented on #6090
我安装的vsix是此条评论中给出的版本：
[code]
所以它并不是最新的，我还没有尝试使用最新版本

clang-format的问题因为在那里有提到，所以我很快就发现它没有可执行权限，然后安装缺少的支持库后问题就解决了

当我准备调试一个程序时发现无法启动debug，我不知道发生了什么，***因为没有任何错误日志或提示***，我猜想可能像clang-format那样是可执行权限的问题，然后我就找到了mono.linux-arm64和mono.linux-armhf这两个文件，mono.linux-armhf确实是没有可执行权限，但给予权限后仍然无法启动debug，然后我看到了OpenDebugAD7发现它执行的是"mono.linux-arm64"，当我改成运行"mono.linux-armhf"成功解决了这个问题

在我的设备上uname -m的结果是aarch64，可能是linuxd

[2020-09-09 13:34] vanheck commented on #2452
https://github.com/Microsoft/vscode-cpptools/issues/2452#issuecomment-417409272

https://stackoverflow.com/questions/52000716/vscode-dbg-attach-local-process-to-debug-c-dll-which-is-used-by-c-sharp-dll

[2020-09-09 13:38] DanWillans commented on #2452
Thanks @vanheck - this also works for me. I'm just curious if there has been a fix for breakpoints attaching on debugger start up rather than pausing the application. It can make it tricky to catch initialisation bugs.

[2020-09-09 15:07] tristan957 commented on #4503
I have also run into this issue. I went to upvote the linked bug above, but when I went to sign up, I couldn't unsubscribe from the VS promotional materials. Looked like there might have been an invisible check mark. Running Chrome 85. I didn't want to sign up and receive promotional material.

[2020-09-09 17:54] michelleangela commented on #6097
@runner0353
Could you also provide the following two logs:
1. Log output from enabling the [language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)
2. Log output from running the command `C/C++: Log Diagnostics`

[2020-09-09 18:14] sean-mcmanus commented on #5178
@Darker7 The checksum.h might be getting stored in the database as "non-existent". Doing a Reset IntelliSense Database would be a way to fix it if that's the case.

[2020-09-09 18:23] sean-mcmanus commented on #4503
@tristan957 I'm not familiar with the VS promotional materials you're describing, but you could file a complaint at https://developercommunity.visualstudio.com/ , and/or add an email filter.

[2020-09-09 20:57] joske commented on #16
do not understand how anyone can use an IDE for anything more than a toy project without this... This is the single most used feature for me. Remember you READ more code than you WRITE. When refactoring/investigating, you need to know what the callers are.

[2020-09-09 21:23] sean-mcmanus commented on #6097
Yeah, we still don't have enough repro info from those screenshots. We need an isolated code sample that includes the error line and then all the dependent code that is required for the error to occur. And as Michelle mentioned, info in the logs will help us identify the compiler, intelliSenseMode, etc. used.

[2020-09-09 21:27] sean-mcmanus commented on #16
@joske Find All References is a potential workaround.

[2020-09-09 22:00] WardenGnaw commented on #6088
Can you add the following to your `launch.json` and share the output?
[code]

[2020-09-09 22:04] WardenGnaw commented on #6087
Are you unable to type in the external window when you are waiting for input?

[2020-09-09 22:07] WardenGnaw commented on #6096
The C++ extension does not own `"type": "lldb"`. It is owned by https://marketplace.visualstudio.com/items?itemName=vadimcn.vscode-lldb

If it is for this extension, it is:
[code]

[2020-09-09 22:07] #6096 closed, assigned to nobody

[2020-09-09 22:54] isadora-6th opened #6101 "IntelliSense not removes fixed errors until rebuild project C++"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro 2004 (19041.450) (also on 1907 had same issue)
- VS Code Version: 1.48.2
- C/C++ Extension Version:  v0.29.0
- Other extensions you installed (and if the issue persists after disabling them):
Extensions not affect this issue, disabled all when reproduced;
- Does this issue involve using SSH remote to run the extension

[2020-09-09 22:56] runner0353 commented on #6097
Unfortunately, this bug disappeared after I turned on the computer. If this bug happens again I will save the log file, thank you

[2020-09-09 23:18] sean-mcmanus commented on #6101
Does the problem show a source of "gcc"? It looks like the problem that is not removed is from the compiler and not IntelliSense, so you have to rebuild to get rid of that error.

[2020-09-09 23:21] isadora-6th commented on #6101
Error left in problems tab have faded `gcc` at right
![image](https://user-images.githubusercontent.com/55806417/92664334-5934a180-f30c-11ea-99ab-8f6489b11464.png)

how can i remove this error from list (or refresh?)

[2020-09-10 00:11] bobbrow opened #6102 "Update build pipelines and package.json to use -main instead of -master"
Type: General
When we rename the `master` branch to `main` we also need to update package.json and our build pipelines to work with the new name.

[2020-09-10 00:39] sean-mcmanus commented on #6101
The gcc error should be removed after building, but the the other error should auto-remove after edits are made. Is that not working for you?

[2020-09-10 00:51] #6048 closed, assigned to nobody

[2020-09-10 00:51] sean-mcmanus commented on #6064
Fix is in https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders5 .

[2020-09-10 00:52] sean-mcmanus commented on #4280
Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders5 .

[2020-09-10 00:56] sean-mcmanus commented on #6009
@ryan-holt-1 The new_object crash is fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders5 .

[2020-09-10 03:18] Hughen commented on #6009
always unable to auto complete...
[code]

[2020-09-10 03:20] brealisty commented on #3451
same problem,  debug not work, but the complied file work well.

[2020-09-10 05:47] brealisty commented on #3451
I did some tests, maybe this problem is due to file path. when use absolute path, it will be ok.

[2020-09-10 09:28] thiloschulz opened #6103 "Use the source file's workspace configuration when opening a header in a multi-root workspace"
I have been getting the dreaded "#include errors detected..." message in my workspace when opening some .h files and was investigating why this might occur. Apparently, when opening a .h file, VS Code always attempts to find a .c file which can be used as context for the test compilation shortly after cpptools/getSemanticTokens.

It now happens, that in my project the .c file used by VSCode might

[2020-09-10 12:05] isadora-6th commented on #6101
That's working for me, but how to remove `gcc` error after fix? Is it possible?

[2020-09-10 13:47] ryanpholt commented on #6009
@sean-mcmanus: Thanks! Can confirm that everything is working for me now.

[2020-09-10 15:57] tristan957 commented on #4503
For some reason it didn't ask me when I signed up today, so I sent an upvote to the upstream issue. I am working in a codebase close to the Linux kernel, so there is a lot of interest to me in seeing more of these attribute issues fixed up although the amount of people who would appreciate the fixes is probably close to 0. Thanks for the upstream report :)

[2020-09-10 16:58] sean-mcmanus commented on #1069
A potential workaround is to use
[code]

[2020-09-10 17:50] adambrickman commented on #6009
@sean-mcmanus  - Unfortunately, insiders5 still has the broken IntelliSense for me. No crashes though.

My include path is simply this:
"includePath": [
                "${workspaceFolder}/**"
            ],

Is that incorrect?

[2020-09-10 17:52] isadora-6th commented on #6101
Solved this problem by editing `tasks.json`
removing
[code]
to
[code]
Now not shows duplicating problem at all, thanks @sean-mcmanus for responses

[2020-09-10 17:52] #6101 closed, assigned to nobody

[2020-09-10 18:11] sean-mcmanus commented on #6009
@Hughen You're hitting a different crash. If you can attach a debugger to the cpptools-srv process to get a call stack that would help us identify which crash you're hitting.

@adambrickman If you're using a Linux repo, using "${workspaceFolder}/**" unlikely to give good results because it will pick up system headers in cases where workspace headers are required (which 0.30.0-insiders5 has added s

[2020-09-10 18:15] adambrickman commented on #6009
@sean-mcmanus - I think there is something more to it than this, especially since this behavior is new (never had an issue with this prior to 0.30.0).  Also, regardless of headers, shouldn't vscode be able to detect local function arguments or variables? Intellisense is totally dead.

E.g.
int myFun(int myData) {
   myD
   ^ // trying to intellisense here returns nothing, even though it is declare

[2020-09-10 18:27] crispyricepc commented on #6088
Sorry I managed to fix this on my own by making a backup of my /home folder and reinstalling WSL and Ubuntu. Definitely not the solution anyone experiencing this needed.

If it helps I think it had something to do with corrupted debug symbols, since running in the `gdb` command line causes a failed to load error, while executing using `./` seems to work fine

[2020-09-10 18:27] #6088 closed, assigned to nobody

[2020-09-10 18:49] sean-mcmanus commented on #6103
This sounds "by design" currently. It will use the configuration of the .c file if you open that file first, but if you open a header in a different workspace folder that doesn't have an active TU already, it will use the header's configuration. We haven't added the ability to switch TUs/configurations used by a header.

[2020-09-10 18:53] sean-mcmanus commented on #6103
But it seems like it would be better to use the configuration from the source file's workspace when it finds that.

[2020-09-10 19:15] johnwsmithv commented on #5044
I'm not sure if this was resolved or not, but I'm connecting to my schools server, onto my user account using remote -SSH. I'm working on C/C++ files, I have the C/C++ extension installed, and intellisense doesn't seem to work at all. I Ctrl + Space and it just says loading.. I control click on an included library like pthread and it never loads the file... Not exactly too sure what's going on and

[2020-09-10 19:22] sean-mcmanus opened #6105 "Change cStandard enum values c18 and gnu18 to c17 and gnu17"
Looks like c17 and gnu17 is preferred over c18 and gnu18.

[2020-09-10 20:08] sean-mcmanus opened #6106 "No squiggles will appear if opening a folder on Windows that has the wrong casing"
Something can cause VS Code to open a folder with the wrong casing, causing IntelliSense errors to not appear. I don't know how to get VS Code to behave that way though. The workaround is to open the folder with the correct casing. Let me know if anyone knows how to cause the wrongly cased folder to be opened with VS Code. I'm not sure if there's a way we can fix this or we should file a VS Code b

[2020-09-10 20:11] tzuriel-spearuav opened #6107 "auto formatting even when both formatOnSave and formatOnType are set to false"
Type: General

Working on a QT application, I have a .cc file that I'm editing and noticed upon save it generates a lot of editing to the file - such as indentation. This is unwanted behavior as I'm trying to do the most minimal changes on my forked repository while origin keeps getting updated.

My vscode preferences are set as follows :
	"editor.formatOnSave": false
	"editor.formatOnType": false

[2020-09-10 20:21] sean-mcmanus commented on #6106
Found a repro: use `code <path to workspace with the wrong casing>` (there could be other ways to repro this too).

[2020-09-10 21:12] bobbrow commented on #6024
This fix for this should be to remove the 'configurationProvider' setting from `c_cpp_properties.json` or clear the `C_Cpp.default.configurationProvider`.  We don't know how long it takes for a given provider to load so we make no determinations as to when to mark a provided configuration as stale.

[2020-09-10 21:12] #6024 closed, assigned to nobody

[2020-09-10 21:15] sean-mcmanus commented on #6106
The code tries to use the "correct" casing instead of the "wrong" case that VS Code is using, so it is skipping the IntelliSense errors when it finds the cases don't match. Not sure if this is related to the recent VS Code changes related to casing, but from our side the issue has existed for a long time.

[2020-09-10 21:20] bobbrow commented on #6067
This is not something that the C++ extension can fix.  We suggest opening an issue in the VS Code repository if you would like to see this fixed.

[2020-09-10 21:20] #6067 closed, assigned to nobody

[2020-09-10 21:25] bobbrow commented on #6106
We think this might be a VS Code issue.  They were supposed to have addressed casing issues with URI's.

[2020-09-10 21:27] sean-mcmanus commented on #6107
Do you have a remote, workspace, or workspace folder setting that uses a different formatOnSave value?

Can you set C_Cpp.loggingLevel to "Debug" and see what formatting messages are being reported?

We're not able to repro this so far.

[2020-09-10 21:33] sean-mcmanus opened #6108 "C/C++ Theme "Dark (Visual Studio C/C++)" theme doesn't match the latest VS C++ colors"
See the screenshot comparison:

![image](https://user-images.githubusercontent.com/19859882/92810450-68e6d100-f372-11ea-8822-5ee5bfb180d7.png)

[2020-09-10 22:04] tzuriel-spearuav commented on #6107
I don't have a local settings.json (but made sure by creating one at the root, see attached)
All other extensions are disabled.

I created a very simple cpp file (so unrelated to file extension) with the following content:
`const char* Class::units =  <<multiple spaces/tabs>> "km";`
Saving it will format it as follows:
`const char *Class::units = "km";`
(formatting moved the asterisk pointer and r

[2020-09-10 23:51] heartacker commented on #557
https://code.visualstudio.com/updates/v1_49#_contributable-context-menu-for-variables-view
looks like delicious on 1.49.0
![image](https://user-images.githubusercontent.com/1876302/92826604-7ac48480-f403-11ea-96b8-0759bcce3c72.png)

[2020-09-11 00:07] sean-mcmanus opened #6110 "Linux TypeScript checkin test is broken"
[3663:0910/235235.289015:FATAL:gpu_data_manager_impl_private.cc(439)] GPU process isn't usable. Goodbye.

Mac passes.

Seems related to
(node:1043) Electron: Loading non-context-aware native module in renderer: '/Users/runner/work/1/s/Extension/.vscode-test/vscode-1.49.0/Visual Studio Code.app/Contents/Resources/app/node_modules.asar.unpacked/vscode-sqlite3/build/Release/sqlite.node'. This is depr

[2020-09-11 00:18] sean-mcmanus commented on #6107
Your logs appear incomplete.

Can you include the messages for "textDocument/formatting", "textDocument/didChange", and "textDocument/didSave"?

[2020-09-11 00:59] sean-mcmanus commented on #4503
Using
[code]
in the TU is a potential workaround (i.e. it could be added to a forcedInclude file in your configuration).

https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders5 has IntelliSense error codes added.

[2020-09-11 01:01] sean-mcmanus commented on #6101
FYI, the errors you get from the gcc/problemMatcher may include additional errors not reported by the IntelliSense errors, but you can still check the gcc errors in your build output logging.

[2020-09-11 01:07] sean-mcmanus commented on #6009
@adambrickman You're getting the "No IL" in the logging, right? This doesn't repro in a simple project with a single test.cpp file, right? If you get the "No IL" then all IntelliSense functionality like local variable goto definition would break in addition to completion. If the TU is in a non-compileable state due to issues in the headers, then the behavior is non-deterministic so it may have wor

[2020-09-11 01:13] sean-mcmanus commented on #5044
@johnwsmithv We've been testing with the remote extension on remote ARM devices (with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders5 ) and have not been able to repro any IntelliSense problems. The latest 0.30.0-insiders5 should support CentOS 7.8 on ARM (previous Insiders would not).

Do you see no cpptools/cpptools-srv proceses running when VS Code is closed? If they'

[2020-09-11 01:14] sean-mcmanus commented on #6106
@bobbrow Should I file a VS Code bug?

[2020-09-11 02:00] YalandHong commented on #4662
I think it is (at least partial) duplicate of #3927

[2020-09-11 02:12] adambrickman commented on #6009
@sean-mcmanus - Strange.  This is failing in multiple projects (all of which are various versions of linux kernels).  The thing I have in common in them is my include path is either blank or "${workspaceFolder}/**".  The code-workspace is located in the root of the kernel folder.  If I go back to version 0.29.0, IntelliSense starts working again.  0.28.3 works as well, I just tried going back.  So

[2020-09-11 06:54] bojomojo opened #6111 "Watchpoints support"
Type: Debugger

This is a feature request to support debug watchpoints

all debuggers support it, why not have vscode cppdbg interface with gdb/lldb to support it.

[2020-09-11 08:12] sean-mcmanus opened #6112 "Get telemetry on the number of "No IL available" compiler errors"
See the issue at https://github.com/microsoft/vscode-cpptools/issues/6009 and several other issues reported in the past where "No IL available" would occur, due to the parser hitting an error condition. It would be good to get telemetry on this to see how widespread this is and if the number of occurrences goes up, since we've gotten a report of a 0.30.0-insiders regression.

[2020-09-11 08:14] sean-mcmanus commented on #6009
@adambrickman The usage of "${workspaceFolder}/**" can generate non-deterministic includePath orderings. You can see the orderings we choose via running C/C++ log diagnostics. If you can find a Linux source file that repros the issue with a set of includePath, defines, forcedInclude, etc. that will actually compile, then we could look into fixing that bug, either via looking at the recursive inclu

[2020-09-11 09:09] NikhilNautiyal opened #6113 "The program compiles and exits itself with no input and output!!"
![image](https://user-images.githubusercontent.com/49453460/92899375-5d5fdc80-f43c-11ea-98be-5a1820ac59cd.png)
it happens of there are more lines of code, with short programs the terminal works fine...but as soon as the lines exceed 25 or more I face this issue always, after months I found the solution to my compilation problems in VS and then this!!
Please help..

[2020-09-11 10:10] thiloschulz commented on #6103
Yes, that is exactly what happened in my case.

Agreed. I guess you're better qualified to judge this, than me, however.

[2020-09-11 11:31] tzuriel-spearuav commented on #6107
He're the full log -
[code]

[2020-09-11 14:12] JeanMiK opened #6114 "IntelliSense stops working "Quick info operation failed: FE: 'Compiler exited with error - No IL available'" when an #error is hit on Linux/Mac"
**Type: LanguageService**

When hovering over variables, Intellisense does no longer provide correct information with v0.30.0-insiders5.

For some variables, no information is shown at all, for others, it will show incorrect information.

For example, with a local variable
`int64_t foo;`
it would show declarations of other variables called foo inside the workspace, e.g.
[code]
sometimes, but not a

[2020-09-11 14:46] tristan957 commented on #4503
Sweet. I will be looking at that when it hits stable :). Should help tremendously in certain parts of the code.

[2020-09-11 15:05] Urban158 opened #6115 "Problems with #include definition in c++"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Performance Issue</b>

The program is not recognozing the #include and other variables

Extension version: 0.30.0-insiders5
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>Syste

[2020-09-11 18:41] sean-mcmanus commented on #6107
Those logs look like VS is sending us a textDocument/formatting LSP message as a result of textDocument/didSave.

If you create a test.js file with `var i =            0;` and do a save, does it format in that case too? If so, you should file a bug with VS Code at https://github.com/microsoft/vscode/issues .

You may also want to try https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0

[2020-09-11 18:51] sean-mcmanus commented on #6114
Can you provide the results of C/C++: Log Diagnostics? The error means our parser hit an unrecoverable error. It's possible the project in not configured correctly. Can you check whether the results of the Log Diagnostics match what you're using to compile the code with in regards to the includePath ordering?

We've received other reports of this at https://github.com/microsoft/vscode-cpptools/iss

[2020-09-11 18:55] Misery42 opened #6116 "vscode-server-insiders is compiled with GLIBC_2.28 causing problems on ARM"
Type: General

The terminal process failed to launch: A native exception occurred during launch (/lib/arm-linux-gnueabihf/libc.so.6: version `GLIBC_2.28' not found (required by /home/pi/.vscode-server-insiders/bin/bc38b0accb3c62180317c63dbe7323200977db0f/node_modules/node-pty/build/Release/pty.node)).

Was once fixed with:
https://github.com/microsoft/vscode-cpptools/issues/429

_Originally posted

[2020-09-11 18:56] sean-mcmanus commented on #6115
We need more info on, such as from running C/C++: Log Diagnostics from the Command Palette.

[2020-09-11 19:06] alexlamfb commented on #2506
Successfully installed on my arm64 system with the vsix package.  It works SO much better than the previous combo of plugins I was using.  A+++, would buy again.

[2020-09-11 19:12] sean-mcmanus commented on #6116
This is a bug with the remote SSH VS Code extension, right? Could you file a bug at https://github.com/microsoft/vscode-remote-release/issues and/or maybe https://github.com/Microsoft/node-pty/issues ? Sounds like it might be a regression with 1.50.0-insiders.

Our cpptools and cpptools-srv binaries should not have a glibc_2.28 dependency. You can verify that by running `readelf -a <path to cpptoo

[2020-09-11 19:15] sean-mcmanus commented on #6103
Yeah, it's common for headers to have preprocessor statements that can be configured differently by different source files in different workspaces.

The fix was trivial (couple lines).

[2020-09-11 19:22] sean-mcmanus commented on #4503
@tristan957 1.0.0 should be released Monday...should be identical to 0.30.0-insiders5 except for the version changes. diag_suppress should work with 0.29.0 and older as well, but you'd need to know the internal/unreported error code to use.

[2020-09-11 19:39] prutschman commented on #2506
Thank you! Up and running on nvidia linux4tegra on Jetson TX2 now!

[2020-09-11 20:11] Urban158 commented on #6115
Thanks but I reinstalled everything and it is working now. Thank you again!

Sent from my iPhone

[2020-09-11 20:16] Misery42 commented on #6116
I am not sure if this is related to rmote SSH VS Code extension. It has not updated since 9 days. And was working yesterday.
I have installed:

Remote - SSH (Nightly) 2020.09.2340
Remote - SSH: Editing Configuration Files (Nightly) 2020.9.2340

so i guess it must be related to pty.node due the 1.50.0-insiders update.

[2020-09-11 21:04] Misery42 commented on #6116
Using VS Code 1.49.0 and the newest vscode-cpptools 0.30.0-insiders5
Everything seemes fine since it has only requirement for VS Code 1.44.0 or later.

[2020-09-11 21:04] #6116 closed, assigned to nobody

[2020-09-11 23:39] michelleangela commented on #6115
Closing as resolved.

[2020-09-11 23:39] #6115 closed, assigned to nobody

[2020-09-12 01:23] WardenGnaw commented on #6111
Duplicate of https://github.com/microsoft/vscode-cpptools/issues/1410

[2020-09-12 01:23] #6111 closed, assigned to nobody

[2020-09-12 03:04] Spongman commented on #3684
i don't even see the thread Ids, just the process name, repeated 20 times.

[2020-09-12 03:16] bojomojo commented on #1410
Am I missing anything?
The issue is open since 2018 and I could not find anyinfo whether or not this is going to be done.

[2020-09-12 05:34] SuryanshVimlendra opened #6120 "Chunk of Thread header Inactive and can't be accessed"
**Type: LanguageService**

So I am trying to use thread header file. But the my vscode has problem accessing chunk of code inside the header file. And when I "GO TO DEFINITION" a large chunk of that header file is inactive.

**Describe the bug**
- OS and Version: WINDOWS 10 Home
- VS Code Version: version 1.49
- C/C++ Extension Version: 0.30.0-insider5
- Other extensions you installed (and if the

[2020-09-12 14:54] csorvagep opened #6121 "IntelliSense: forward parameter suggestion when using std::forward"
This is a feature request for function/constructor parameter suggestions.
If I use a function which uses std::forward, the suggested parameters should be also forwarded. For example using make_shared, vector.emplace_back, etc.

Here is the current suggestions:
![image](https://user-images.githubusercontent.com/2698569/92998105-3aa2f600-f518-11ea-8244-39cb48e93199.png)

And here's something like th

[2020-09-12 18:50] dopedup commented on #16
Setting aside the noise and afraid I'm being a part of it. First of all I appreciate the devs who're still tracking this feature and have a plan to release this. I know the ocean of comments above already has someone pointing it out. I just yearn for this feature in vscode. I use vscode for just about anything when it comes to editing files, be it .c, .md, .yaml, .py, .puml. Just not when it comes

[2020-09-12 19:02] JimmyDeemo commented on #230
Please can you tell me how to access this? Or does it not work with objective-c files?

<img width="267" alt="image" src="https://user-images.githubusercontent.com/4234718/93002991-cde92500-f532-11ea-960e-284a84948774.png">

[2020-09-12 20:47] johnwsmithv commented on #5044
Hey Sean, so sorry for the late reply. Thank you for your prompt response.

Here's some of the remote extension logging:
`[2020-09-12 16:36:58.337] [exthost] [info] ExtensionService#_doActivateExtension ms-vscode.js-debug {"startup":false,"extensionId":{"value":"ms-vscode.js-debug","_lower":"ms-vscode.js-debug"},"activationEvent":"onLanguage:json"}
[2020-09-12 16:36:58.337] [exthost] [info] Extens

[2020-09-12 22:24] sean-mcmanus opened #6125 "Create a separate release pipeline for preparing the binaries and preparing the vsix"
The existing single release pipeline no longer works without canceling it midway through, because the binaries have to be published first in a separate step due to the integrity hash codes in the packate.json that need to be updated.

The release steps are also out of date and should be updated.

[2020-09-12 22:54] sean-mcmanus commented on #3873
This issue can make the "No IL available" harder to diagnose, see https://github.com/microsoft/vscode-cpptools/issues/6114.

[2020-09-12 22:58] sean-mcmanus commented on #6114
In particular, the error is most likely occurring in a header file, which may have been "recoverable" in 0.29.0, but then due to undefined behavior in regards to how error handling is done, it could cause it to fail in 0.30.0-insiders, because the parser might be in a state where it can't continue to give additional errors due to previous errors (in the headers, not shown in the opened source file

[2020-09-12 23:01] sean-mcmanus commented on #6009
@adambrickman To explain this further -- the error is most likely occurring in a header file, which may have been "recoverable" in 0.29.0, but then due to undefined behavior in regards to how error handling is done, it could cause it to fail in 0.30.0-insiders, because the parser might be in a state where it can't continue to give additional errors due to previous errors (in the headers, not shown

[2020-09-12 23:40] edwood-grant commented on #6075
The compiler path points to clang, version 10.0. This is my setup in **c_cpp_properties.json**:
`"compilerPath": "C:/Program Files/LLVM/bin/clang.exe",`

The compiler path showing in the diagnostics is the same in both the **Current Configuration** and the **Translation Unit Configurations**.

It does seem that its showing wrong in the translation configurations section only. I may be doing someth

[2020-09-13 07:42] t0maszduda opened #6126 "PlatformIO error Connection to server got closed. Server will not be restarted"
after crash I have "Connection to server got closed. Server will not be restarted"

![Zrzut ekranu 2020-09-13 o 09 39 52](https://user-images.githubusercontent.com/56415244/93013071-6e782d00-f5a5-11ea-8989-98e8416167b4.png)
![Zrzut ekranu 2020-09-13 o 09 41 26](https://user-images.githubusercontent.com/56415244/93013074-6fa95a00-f5a5-11ea-87fa-c2dfe6ac1685.png)
![Zrzut ekranu 2020-09-13 o 09 41 36

[2020-09-13 12:27] nkdmSum opened #6127 "Formatter uses Tabs for alignment"
(I'm using tabs for indentation)

Tabs should be used for indentation, but never for alignment!
Sadly, that's what the formatter does.

1: Enter the following code:
[code]
2: Press SHIFT+OPTION+F (or whatever shortcut you have for formatting).
3: You get the following code:
[code]
Github (at least for me) uses 8 spaces for a tab, but I had set 4 spaces in vscode, so it formatted it accordingly.
As

[2020-09-13 16:00] ashishbinu opened #6128 "C/C++ debugger not working"
Type: Debugger

**Describe the bug**
- OS and Version: Manjaro Linux x86_64 , 5.8.6-1-MANJARO
- VS Code Version: 1.48.2
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): No other extensions installed
- I was trying to debug my c code but the debugger is not working . I tried to debug other c files and still the same problem.

My **

[2020-09-13 16:35] kaifastromai commented on #1211
I agree. This would be great.

[2020-09-13 16:52] tjx666 opened #6129 "syntax check is very slow"
**Type: LanguageService**

**Describe the bug**

[code]

Syntax check is very slow, maybe need 2~4 or more seconds but only a `hello world` project. UnLike javascript syntax check  can complete within 1 second.

**Steps to reproduce**

1. disable all extension except vscode-cpptools
2. create a file `test.cpp` and paste the following code:
[code]
3. remove the semicolon after `endl`.
4. syntax che

[2020-09-13 18:32] FazeelUsmani commented on #5664
![image](https://user-images.githubusercontent.com/8823157/93025684-96a37280-f61d-11ea-888f-8754ead59d26.png)

Even I'm facing the same issue

[2020-09-13 19:55] sean-mcmanus opened #6132 ""Comments are not permitted in JSON" appears when c_cpp_properties.json is open but hasn't been made active yet"
It goes away after the c_cpp_properties.json is made active. Not sure if there's a way to call setTextDocumentLanguage on the files open in the workspace beforehand.

[2020-09-13 20:50] sean-mcmanus commented on #6132
vscode.workspace.textDocuments doesn't contain first that haven't been activated yet.

[2020-09-13 20:54] sean-mcmanus commented on #6132
There's a thread at https://github.com/microsoft/vscode/issues/15178

[2020-09-13 21:30] sean-mcmanus commented on #6132
Oh...we can just check if the file exists, even if it's not open.

[2020-09-13 21:59] adambrickman commented on #6009
@sean-mcmanus - Thanks for the explanation.  I will have to try to get a consistent repro on a clean system when I get a chance, so it will be easier to investigate what is wrong.  It will help cut down on the variables.  I'll post back to this thread if that is OK if/when I get some results.

[2020-09-14 02:43] RahulSisondia commented on #6128
I think the problem mentioned at https://github.com/microsoft/vscode-cpptools/issues/3829 has resurfaced.
I am also facing the same issue.

[2020-09-14 05:37] Nathaniel7687 commented on #5703
@sean-mcmanus
Hi, I already filed this issue to vscode team but an engineer said this problem is caused by cpptools.
Here is the link that I issue, https://github.com/microsoft/vscode/issues/105119.

[2020-09-14 05:53] bobinspace opened #6134 "gdb Attach: Why does launch.json need program name when it can be inferred from "processId": "${command:pickProcess}"?"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10.0.18362
- VS Code Version: 1.49.0
- C/C++ Extension Version: v0.30.0-insiders5
- Other extensions you installed (and if the issue persists after disabling them): Native Debug
- A clear and concise description of what the bug is:

**To Reproduce**
*`launch.json` configuration:
[code]
Steps to reproduce the behavior:
1. With the above

[2020-09-14 08:39] JeanMiK commented on #6114
OK, back at work, could launch the C++ diagnostics.

Yes, it complains about potentially duplicate headers, but it is (only) in the system headers, don't know what / how I could change to remove these:

<details>
 <summary><strong>C++ diagnostics</strong></summary>

[code]

</details>

If I remember right, *not* adding /usr/include/** to the includePAth was giving (at least in some previous versio

[2020-09-14 13:25] ashishbinu commented on #6128
I also tried downgrading the cpp tools to version 0.27.0 . Still the same problem exists.

[2020-09-14 14:17] arttet commented on #5607
I am using `cppvsdbg` and I have similar problems.

[2020-09-14 15:37] bobbrow commented on #6116
The VS Code team reverted the dependency change and the insiders build should be back to normal now.

[2020-09-14 17:07] sean-mcmanus commented on #6107
@tzuriel-spearuav Also, if you're able to locate which version of VS Code or the C/C++ extension started reproducing the bug, that might help. The willSaveWaitUntil code hasn't changed for over a year and the formatting code hasn't changed much either, up until 1.0.0 that will be released today. Also, if you're able to repro the issue on other machines or other workspaces that might help identify

[2020-09-14 17:24] acestronautical commented on #2860
There is an important use case for this. I am debugging fortran and c code side by side as I convert from fortran to c. The variables are ordered differently in c as opposed to fortran (alphabetical), which makes side by side comparison difficult.

[2020-09-14 17:30] sean-mcmanus commented on #6107
@tzuriel-spearuav Another thing you could try is to clone https://github.com/microsoft/vscode-cpptools.git, open the Extension subfolder and do Launch Extension (development), and then try to debug any formatting or willSaveWaitUntil code, such as vscode-cpptools\Extension\node_modules\vscode-languageclient\lib\client.js line 539 that does `let vEdits = this._client.protocol2CodeConverter.asTextEd

[2020-09-14 17:42] WardenGnaw commented on #6128
@ashishbinu Could you provide more information on "C/C++ debugger is not working"? Can you not hit breakpoints, or can you not step through code?

@RahulSisondia #3829 is for `lldb`. This issue is using `gdb`. Can you open another issue with the problems you are encountering?

[2020-09-14 18:00] sean-mcmanus commented on #6134
I agree, it would be nice if code could be added to auto-fetch the name from the process id. The program name isn't needed for cppvsdbg, just cppdbg mode.

[2020-09-14 18:15] sean-mcmanus commented on #6120
You should remove the mingw path from your includePath, because it can interfere with the paths queried from your mingw compilerPath. After doing that, does it fix your issue? If not, can you run C/C++: Log Diagnostics after opening the source file and thread header?

[2020-09-14 18:59] sean-mcmanus commented on #230
@JimmyDeemo Our extension doesn't run on Objective-C/C++ files. Our parser isn't configured to parse it correctly, so semantic colorization wouldn't be correct.

[2020-09-14 19:00] ashishbinu commented on #6128
No , it was not even running the code and debugger was not able to hit any breakpoints.

![Screenshot_20200915_002904](https://user-images.githubusercontent.com/56691622/93126809-7a213c00-f6ea-11ea-8b37-d6a1a35ab7f1.png)

[2020-09-14 19:02] tzuriel-spearuav commented on #6107
@sean-mcmanus cannot reproduce this issue after re-installing vscode, neither on other systems. So I'm currently unable to reproduce any longer

[2020-09-14 19:04] sean-mcmanus commented on #5044
@johnwsmithv That is the "Log (Extension host)" pane logging. Can you switch to the "C/C++" and/or "C/C++ Diagnostics" output panes via the dropdown?

[2020-09-14 19:04] lextrounce commented on #2778
Or, in my case using mingw, I needed:
                {
                    // add the directory which contains gdb
                    // to stop the 0xc0000135 error
                    "name": "PATH",
                    "value": "%PATH%;C:\\Program Files\\mingw-w64\\x86_64-8.1.0-posix-seh-rt_v6-rev0\\mingw64\\bin"
                }

[2020-09-14 19:05] WardenGnaw commented on #6128
It looks like the debug sesion has started, it has stopped at `main` and the program is currently running.

The breakpoint fails to bind because it could not find the information it needs: `Module containing this breakpoint has not yet loaded or the breakpoint address could not be obtained.`
From:
[code]

How are you building your program?

[2020-09-14 19:07] JimmyDeemo commented on #230
Thanks for explaining. 👍

[2020-09-14 19:17] sean-mcmanus commented on #6075
Yeah, it should be using clang intelliSenseMode instead of msvc intelliSenseMode, along with some extra flags.

[2020-09-14 19:51] sean-mcmanus commented on #5664
@FazeelUsmani Make sure your includePath doesn't contain any system headers and your compilerPath is set correct and then run C/C++: Log Diagnostics and see if the output appears correct or not. Does that help?

[2020-09-14 19:53] sean-mcmanus commented on #5703
Yes, it's not a VS Code issue, it's a VS (Visual Studio 2019) issue, see https://developercommunity.visualstudio.com/content/problem/1093308/cc-intellisense-has-a-problem-with-certain-macros.html .

[2020-09-14 20:35] WardenGnaw commented on #6134
The `pickProcess` data is [implemented in the extension code.](https://github.com/microsoft/vscode-cpptools/blob/0820b5ef5239e5e9667e001e87b0ed0a00858b24/Extension/src/Debugger/attachToProcess.ts#L33)

However, if we can somehow provide the `program` field in the `launch.json` configuration, we can easily set `program` when `pickProcess` is used. At the moment, the `pickProcess` command only assig

[2020-09-14 20:57] sean-mcmanus commented on #6121
I've filed a feature request on VS at https://developercommunity.visualstudio.com/idea/1184443/cc-intellisense-forward-parameter-suggestion-when.html .

[2020-09-14 21:10] sean-mcmanus commented on #6127
I'm not reproing this. Can you provide your VS Code format related settings? Such as editor.tabSize, detectIndentation, insertSpaces, and C_Cpp.formatting? Also, is there a .clang-format file in your folder hierarchy?

[2020-09-14 21:16] #414 closed, assigned to Colengms

[2020-09-14 21:16] #429 closed, assigned to nobody

[2020-09-14 21:17] #2506 closed, assigned to nobody

[2020-09-14 21:19] #657 closed, assigned to tarik-brown

[2020-09-14 21:21] sean-mcmanus commented on #1961
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.0

[2020-09-14 21:21] #1961 closed, assigned to elahehrashedi

[2020-09-14 21:22] #2595 closed, assigned to elahehrashedi

[2020-09-14 21:23] #3078 closed, assigned to nobody

[2020-09-14 21:24] sean-mcmanus commented on #5908
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.0

[2020-09-14 21:24] #5908 closed, assigned to Colengms

[2020-09-14 21:24] #5875 closed, assigned to nobody

[2020-09-14 21:25] #5885 closed, assigned to Colengms

[2020-09-14 21:25] #6064 closed, assigned to nobody

[2020-09-14 21:26] #2184 closed, assigned to nobody

[2020-09-14 21:26] sean-mcmanus commented on #4280
There was a bug on Linux/Mac for 0.30.0-insiders5, but that is fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.0 .

[2020-09-14 21:26] #4280 closed, assigned to elahehrashedi

[2020-09-14 21:27] #5194 closed, assigned to nobody

[2020-09-14 21:29] Host48 opened #6135 "Overloaded function defined twice according to intellisense"
![image](https://user-images.githubusercontent.com/25237346/93139808-b43a1000-f6e1-11ea-89b0-c667b06205ed.png)
Error pointing to same line twice. Cpptools v. 1.0.0

[2020-09-14 21:30] sean-mcmanus commented on #3842
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.0

[2020-09-14 21:30] sean-mcmanus commented on #2497
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.0

[2020-09-14 21:31] sean-mcmanus commented on #4848
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.0

[2020-09-14 21:31] sean-mcmanus commented on #4862
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.0

[2020-09-14 21:32] sean-mcmanus commented on #4898
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.0

[2020-09-14 21:34] sean-mcmanus commented on #5852
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.0

[2020-09-14 21:38] #5352 closed, assigned to nobody

[2020-09-14 21:39] #5579 closed, assigned to nobody

[2020-09-14 21:40] #5727 closed, assigned to nobody

[2020-09-14 21:40] #5772 closed, assigned to nobody

[2020-09-14 21:41] #5776 closed, assigned to Colengms

[2020-09-14 21:41] Souldat commented on #3842
Your a legend. <3

[2020-09-14 21:41] #5783 closed, assigned to nobody

[2020-09-14 21:42] #5812 closed, assigned to Colengms

[2020-09-14 21:42] #5828 closed, assigned to nobody

[2020-09-14 21:42] #5819 closed, assigned to nobody

[2020-09-14 21:43] #5834 closed, assigned to nobody

[2020-09-14 21:43] #5836 closed, assigned to nobody

[2020-09-14 21:43] #5848 closed, assigned to Colengms

[2020-09-14 21:44] #6071 closed, assigned to nobody

[2020-09-14 21:44] #5904 closed, assigned to nobody

[2020-09-14 21:49] mjacobse opened #6136 "Text after Doxygen \ref and \f$ commands in a documentation item is ignored"
**Type: LanguageService**

- OS and Version: Manjaro Linux and Windows 10 1909
- VS Code Version: 1.49.0
- C/C++ Extension Version: 1.0.0

**Screenshots of examples**

![example_ref](https://user-images.githubusercontent.com/44684927/93140736-3e36a880-f6e3-11ea-8004-4e690a653dba.png)
![example_formula](https://user-images.githubusercontent.com/44684927/93140987-abe2d480-f6e3-11ea-8c47-8a19fb758e9a

[2020-09-14 21:49] sean-mcmanus opened #6137 "Add docs on how to get call stacks for crashing cpptools/cpptools-srv"
...

[2020-09-14 21:52] #5751 closed, assigned to elahehrashedi

[2020-09-14 21:52] #5873 closed, assigned to nobody

[2020-09-14 21:53] #5962 closed, assigned to Colengms

[2020-09-14 21:53] #5511 closed, assigned to Colengms

[2020-09-14 21:53] #5977 closed, assigned to elahehrashedi, jureid

[2020-09-14 21:53] #5897 closed, assigned to nobody

[2020-09-14 22:01] #5615 closed, assigned to nobody

[2020-09-14 22:01] #6003 closed, assigned to Colengms

[2020-09-14 22:08] sean-mcmanus opened #6138 "IntelliSense database is deleted on shutdown in certain scenarios"
Previous issue was https://github.com/microsoft/vscode-cpptools/issues/6021 . The issue sometimes doesn't repro.

In issue on VS Code was filed at https://github.com/microsoft/vscode/issues/106433 .

Only repros on Windows.

[2020-09-14 22:08] sean-mcmanus commented on #6021
We were able to repro the issue with the database getting deleted. The root cause is that shutdown was sometimes not getting executed. An issue on VS Code was filed at https://github.com/microsoft/vscode/issues/106433 . I filed a follow up issue at https://github.com/microsoft/vscode-cpptools/issues/6138 , since this issue morphed into adding telemetry.

[2020-09-14 22:08] #6021 closed, assigned to nobody

[2020-09-14 22:08] #5960 closed, assigned to nobody

[2020-09-14 22:09] #5896 closed, assigned to elahehrashedi

[2020-09-14 22:25] #6047 closed, assigned to elahehrashedi

[2020-09-14 23:00] sean-mcmanus commented on #6114
You definitely don't want to use "/usr/include/**" because system includes are order dependent, so you'll get a random order which is likely to not work.

Can you check if the includePath ordering you're using matches what you compile with? i.e. does running the following compile without errors?

[code]

If so, do you get IntelliSense errors when you run the command below and open BasicTest.out.cc

[2020-09-14 23:12] sean-mcmanus commented on #6126
I'm not able to repro. Does it repro with 1.0 still? Can you provide more repro details? Do you have a repro project you can provide?

Your first screenshot appears to show that cpptools crashed before the 1st screenshot. Were there other repro steps leading up to that?

[2020-09-14 23:26] sean-mcmanus commented on #6129
Yeah, VS has a 1 second delay, while we were using a 3 second delay. Maybe we could add a setting that to customize it (see https://github.com/microsoft/vscode-cpptools/issues/6142 ), but for now it seems like a 2 second delay might be better. We were concerned that a 1 second delay could trigger unnecessary squiggles while typing (since there are cases were we can update IntelliSense slower than

[2020-09-14 23:40] sean-mcmanus commented on #6107
Okay, that sounds good. Might have been some issue with your install.

We just published 1.0.0 of our extension so that might have something to do with it too.

[2020-09-14 23:40] #6107 closed, assigned to nobody

[2020-09-14 23:51] sean-mcmanus commented on #6135
What header are you including to get XMMatrixRotationRollPitchYaw? I'm not reproing the issue when including DirectXMath.h. The output of C/C++: Log Diagnostics could help as well.

[2020-09-15 00:08] sean-mcmanus opened #6139 "Look into potentially enabling sematic colorization for lexical scopes"
Right now, we still rely on VS Code's lexical colorization for things like strings and comments and other lexical cases, mainly due to performance issues. It's possible those performance issues might not be applicable with VS Code's new semantic colorization implementation. Might need more upvotes though.

[2020-09-15 00:50] zajo commented on #5783
Thanks!

[2020-09-15 01:16] sean-mcmanus opened #6142 "Add some intelliSenseUpdateDelay setting"
VS uses 1 second. We currently use 3 seconds, but our next release may change to 2 seconds.

Based on feedback at https://github.com/microsoft/vscode-cpptools/issues/6129 .

[2020-09-15 03:33] LuanVSO opened #6143 "add support for lldb-vscode.exe"
Type: Debugger

pretty much the title.
this may help with the issues discussed in #5415

**Additional context**
https://reviews.llvm.org/D50365
https://github.com/llvm/llvm-project/blob/master/lldb/tools/lldb-vscode/README.md

[2020-09-15 04:41] demidenko opened #6144 "edit focus lost after "rename symbol""
**Type: LanguageService**

- OS and Version: Ubuntu 18.04
- VS Code Version: 1.49
- C/C++ Extension Version: 1.0.0
- Other extensions you installed (and if the issue persists after disabling them): all off

Suppose simple c++ code
[code]

1. Go to `x` in `main`
2. F2 to call "rename symbol"
3. hint said "enter to rename", "shift+enter" to preview
4. rename to `y` and hit "enter"
5. vscode ignores

[2020-09-15 06:58] Alovchin91 commented on #5583
v1.0 was just released. Is Windows Arm64 support still planned for v1.1?

[2020-09-15 06:58] conkerkh opened #6145 "Debugging not possible on Ubuntu WSL2"
Type: Debugger
Debugger tries to start but quits without any sort of output in debug console, when downgrading to 0.29 everything works.

**Describe the bug**
- OS and Version: Ubuntu 20.04 WSL2 via Remote Plugin
- VS Code Version: current
- C/C++ Extension Version: 1.0.0 (most recent)
- Other extensions you installed (and if the issue persists after disabling them): no effect
- A clear and concis

[2020-09-15 10:14] ashishbinu commented on #6128
I first compiled the c code with gcc and  then hit F5 for debugging the code.

[2020-09-15 11:44] geranim0 commented on #5298
I was having the same problem. It takes 30 seconds to peak a definition, and the remote is a powerful machine. I tested LAN and intellisense works super fast.

[2020-09-15 11:52] Host48 commented on #6135
#define UNICODE
#define DEBUG
#include <d3d11_4.h>		 // D3D interface
#include <d3dcompiler.h> // shader compiler
#include <DirectXMath.h>
#include <winerror.h>
#include "WICTextureLoader.h"

This is all of my includes.

Log diagnostics:
cpptools/didChangeCppProperties
Attempting to get defaults from compiler found on the machine: 'C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/

[2020-09-15 12:59] amir9480 commented on #6066
@H0stman
For now, you can use my extension

https://marketplace.visualstudio.com/items?itemName=amiralizadeh9480.cpp-helper

[2020-09-15 13:14] tripjam commented on #5831
@Colengms I experience the same error as @jeffrey0407 and my debug log is almost exactly the same as his.

I've tried your suggestion to delete the database, as well as removing the extension completely according to #5806 , but the issue still persists.

May I know where is c_cpp_properties.json located?

[2020-09-15 15:44] JeanMiK commented on #6114
The first compilation does in fact fail, but not because of include file ordering, but because of a missing -D_RWCONFIG=m for the RogueWave class library.

Once I add it to the workspace's "defines", IntelliSense is working again. also with the Insiders version (now at 1.0.0).

So at least in my case, I can confirm that the underlying error was in the configuration itself, which previous versions

[2020-09-15 15:51] alexclewontin commented on #6114
As an additional data point, I am getting the issue in the 0.30 insiders releases AND the 1.0.0 releases, but not 0.29. I am assuming it is some issue in the underlying config for myself as well, and will dig into it, but I am happy to provide info and test. I can also confirm it is not an include file ordering issue.

[2020-09-15 16:28] rewrking opened #6147 "No intellisense in 1.0.0"
Type: General
Since switching to 1.0.0, I'm no longer getting any intellisense. I was also having this problem with the last set of insiders builds (I think since 2 or 3?), so I have been using 0.29.0.  Since the upgrade, this is what I'm seeing in the C/C++ extension output:

[code]

- OS and Version: Windows 10
- VS Code Version: 1.49.0
- C/C++ Extension Version: 1.0.0

I'm using GCC on windows

[2020-09-15 17:30] bobbrow commented on #6114
@alexclewontin can you try following what @sean-mcmanus and @JeanMiK did to compile the source file in the terminal to see if your configuration is correct?

For example:
1. Run the "Log Diagnostics" command to get the IntelliSense configuration for your source file from cpptools
2. Craft a compile command using the information in step 1 (assuming you're using a gcc-based compiler)
    1. use `-st

[2020-09-15 17:32] tjx666 opened #6148 "provide option to configure syntax error squiggles language"
[code]

My system language is Chinese, but I want to use English as the language of syntax error squiggles.

![screenshot_2020-09-16_00-58-41](https://user-images.githubusercontent.com/41773861/93244549-7f4ebb80-f7bc-11ea-88fa-79613528519a.png)

[2020-09-15 17:33] bobbrow commented on #6147
Can you follow the instructions in my comment in #6114 and let us know how that goes?

https://github.com/microsoft/vscode-cpptools/issues/6114#issuecomment-692863114

[2020-09-15 17:37] bobbrow commented on #5583
@Alovchin91, yes it is on the schedule for 1.1.0

[2020-09-15 17:43] sean-mcmanus commented on #6144
We force a preview because of the "Not a Reference" found. If we had a setting to filter out those types of references (similar to https://github.com/microsoft/vscode-cpptools/issues/4042) then the preview could be skipped in this case.

The focus being lost is very strange because it doesn't repro in TypeScript. I'm not sure what the difference is. It might be a VS Code bug unless there's some wa

[2020-09-15 17:44] bobbrow commented on #6129
We'll use #6142 to track this request.

[2020-09-15 17:44] #6129 closed, assigned to nobody

[2020-09-15 17:56] michelleangela commented on #6148
The extension follows whatever [display language is set for VS Code](https://code.visualstudio.com/docs/getstarted/locales). You can try setting VS Code to use English and the extension should follow that setting.

[2020-09-15 17:58] demidenko commented on #6144
Well,l I wrote not all: the way I described was with open bottom panel (with "Problems", "Output", "Terminal"...)
If I do it with closed panel it opens on preview then closes on shift+enter and focus is ok

[2020-09-15 18:00] rewrking commented on #6147
Also of note, I'm using bash as the terminal, so paths uses forward slashes.
[code]

This is the actual command that gets run (builds):
[code]
The includes in c_cpp_properties.json are more all-purpose, since the projects contains multiple build targets, but they shouldn't adversely affect the intellisense.

Per instructed in #6114, this is the command (with custom -o & -c):
[code]

With bash as t

[2020-09-15 18:06] rewrking commented on #6147
One thing that's weird is that "C:\MINGW64\INCLUDE" got added somewhere based on that Log Diagnostics command. That is actually a separate compiler in my case. (mingw 7.3.0 64-bit). Again though, I have a boilerplate project with almost the identical setup (same compiler paths, less includes), and it works. Log diagnostics added the same path in that case.

[2020-09-15 18:11] sean-mcmanus commented on #6144
One "workaround" is to hit F6....there are other keyboard command combinations that work too.

I don't think our extension has a way of fixing this, and it repros with the Python extension too -- can you file a VS Code bug (https://github.com/microsoft/vscode/issues) and mention it repros with the C/C++ and Python extensions (when the preview is used) but not TypeScript? I could file the bug mysel

[2020-09-15 18:30] WardenGnaw commented on #6143
lldb-vscode is its own extension that you can manually install: https://github.com/llvm/llvm-project/blob/master/lldb/tools/lldb-vscode/README.md#installation-for-visual-studio-code

If you wish to use lldb with the C/C++ extension, you can use `'miMode' : 'lldb'`

[2020-09-15 18:30] #6143 closed, assigned to nobody

[2020-09-15 18:49] sean-mcmanus commented on #6114
@bobbrow We have a repro with /linux/kernel/time/alarmtimer.c with `${workspaceFolder}/**`. In that case, it ends up hitting an #error line (such as in /linux/include/asm-generic/div64.h), so an easy repro is...

test.h
[code]
test.h
[code]

If we showed the errors in test.h, the user would see it and make it more obvious that a compile failure occurred.

I'm not sure yet why the behavior is diffe

[2020-09-15 18:51] alexclewontin commented on #6114
@bobbrow Okay so in my case. a preprocessor `#if !defined(...)` check was failing, and an `#error ...` directive was tripping. With that fixed, IntelliSense works properly.

Previously when hitting an `#error`, I'd get red squiggles, which was useful behavior.

EDIT: Ah, I see Sean beat me to it with a nearly identical case.

[2020-09-15 18:55] bobbrow commented on #6114
@sean-mcmanus we should talk with the VS team to get that change reverted.  IntelliSense shouldn't die because of an `#error` directive.

[2020-09-15 18:56] michelleangela commented on #4482
Is this a duplicate of https://github.com/microsoft/vscode-cpptools/issues/5370?

[2020-09-15 19:34] michelleangela commented on #6136
The Doxygen parser is shared code between Visual Studio and C++ extension.

Created a feedback ticket on Visual Studio
https://developercommunity.visualstudio.com/content/problem/1185851/text-after-doxygen-ref-and-f-commands-in-a-documen.html

[2020-09-15 19:35] bobbrow commented on #6147
In #6114 it sounds like we narrowed this down (or at least one cause of it) to the configuration resulting in an `#error` directive being processed which is tripping up the language server.

@andrew-r-king did you do your test compile with all the paths in the Log Diagnostics output? (including the wrong one)  We should figure out why you're getting an incorrect system include path.  [tagging @Col

[2020-09-15 19:43] rewrking commented on #6147
Yes, the compile command included the incorrect path. It was at least last in the list, so I think that's maybe why it didn't have any conflicts.

I looked at #6114 and tried the `#error` test in the working boilerplate project, but still got intellisense in that case.

[2020-09-15 20:03] taylorconor opened #6149 "cpptools process repeatedly orphaned and maintains extremely high CPU"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS 10.15.6
- VS Code Version:  1.49.0
- C/C++ Extension Version: 1.0.0
- Other extensions you installed (and if the issue persists after disabling them): None

The `cpptools` process repeatedly and consistently reaches 120%+ CPU within 5 seconds of opening vscode into my small (~50 file) C++ project, rendering the plugin useless:

[2020-09-15 20:12] WardenGnaw commented on #6128
Can you share your `tasks.json` or the command line you use to compile the code?

[2020-09-15 20:45] spacemonkd commented on #6084
Can I check this? @sean-mcmanus sir

[2020-09-15 20:59] Colengms commented on #6149
Hi @taylorconor .  Are you able to share your project?  A repro that we can investigate would help us a lot.

Does the issue happen if VS Code is launched with no files already open, and without opening a C/C++ file?  Or, does opening the first source file trigger the issue?  (Try opening only `c_cpp_properties.json` to cause the C/C++ Extension to activate, without yet parsing a source file).

Ca

[2020-09-15 22:19] Colengms opened #6150 "Automatically configure to use custom config provider if available and no other config exists"
Opening this issue to track automatic use of a custom config provider, if present/registered.  This would only occur if `c_cpp_properties.json` has not been created, or if the user specified any `C_Cpp` related settings at the workspace level, or any `C_Cpp.default.*` settings at the global level.  This might involve generating a `c_cpp_properties.json`, or perhaps configuring to use the provider

[2020-09-15 22:32] Colengms opened #6151 "Cannot attach debugger to cpptools on Mac"
Using the following `launch.json`, I'm unable to attach (to cpptools) on Mac Catalina 10.15.6.

[code]

This results in an immediate `Debugger has disconnected from the program /Users/Colen/.vscode/extensions/ms-vscode.cpptools-1.0.0/bin/cpptools` message.

[2020-09-15 22:42] taylorconor commented on #6149
Hi, thanks for the reply.

Unfortunately I can't share my project. If it helps, I can tell you that it's a c++17 project with very few small external dependencies (no large dependencies like boost), built and dependency managed using Bazel (although I'm not using the Bazel VS Code plugin). I can confirm that the issue is not reproducible on another, somewhat larger project. In that case, `cpptools

[2020-09-15 22:53] Colengms commented on #6149
Hi @taylorconor .  Is it possible there is a symbolic link in workspace folder, which creates a circular reference?  The issue could be that we're recursively processing the folder and are never able to finish.

When in this state, could you attach a debugger to the process and retrieve its stacks?  An easy way to do so would be to run the command:   `lldb -p <PID of process to debug>`
...  And th

[2020-09-16 00:10] elahehrashedi commented on #6137
the instructions are here:
https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-cpptools-srv

[2020-09-16 00:18] bobbrow commented on #6137
Thanks @elahehrashedi.  Something else to think about... Should we add commands to the extension that automatically set up and launch the debugger for `cpptools` and `cpptools-srv`?  I'm not sure if it works for attach, but it would be nice for people to not have to update the path every time the extension releases an update.

[2020-09-16 00:18] #6137 closed, assigned to elahehrashedi, Colengms

[2020-09-16 00:50] sean-mcmanus commented on #6145
Debugging with Ubuntu 20 (WSL2) is working for me. Nothing in our debugger changed from 0.29.0 to 1.0.0, so I'm not sure how this would be possible.

[2020-09-16 01:06] milan-r-shah commented on #5843
Hi @michelleangela ,
Sincere apologies for the late reply from my end & thank you so much for such a detailed response.

However, what did you mean by this:

especially, *"Note that I told CMake to use Clang-9 to compile "* I mean, I'm just running the code by running the following commands:
[code]

I have already been using **ms-vscode.cmake-tools** and while compiling the code, I don't get the e

[2020-09-16 01:15] sean-mcmanus commented on #6135
I repro the issue when my code uses "using namespace DirectX" which puts 2 ambiguous calls in to the global scope. Does your code compiler? Can you remove the "using namespace DirectX" or use DirectX::XMMatrixRotationRollPitchYaw ?

[2020-09-16 01:18] sean-mcmanus commented on #5831
c_cpp_properties.json should be under the ${workspaceFolder}/.vscode folder.

[2020-09-16 01:47] JWleo opened #6152 "[Feature Request] C++ Jupyter Notebook Integration"
![image](https://user-images.githubusercontent.com/32316654/93282641-6f0cff80-f801-11ea-9c4b-7983bf61d9e9.png)
it's so great to help us debug and do interaction on it

[2020-09-16 02:06] tjx666 commented on #6148
@michelleangela Ok, I fix it by [https://code.visualstudio.com/docs/getstarted/locales#_changing-the-display-language](https://code.visualstudio.com/docs/getstarted/locales#_changing-the-display-language)

[2020-09-16 02:06] #6148 closed, assigned to nobody

[2020-09-16 06:16] sean-mcmanus commented on #6009
@adambrickman We found/fixed the root cause -- IntelliSense was incorrectly aborting after any #error occurred (see https://github.com/microsoft/vscode-cpptools/issues/6114). It should be fixed in the next update.

[2020-09-16 06:24] ashishbinu commented on #6128
I am not using task.json . I used gcc to compile my code in konsole(terminal emulator) .The program is also going into the main code as it prints the Hello in terminal but after typing 3 as input to scanf() it seems to not respond.I have put two images of my terminal and debug console below :

![image](https://user-images.githubusercontent.com/56691622/93299179-46413600-f812-11ea-9b80-162362cba1f1

[2020-09-16 07:00] taylorconor commented on #6149
Hi! Yes, I have some default Bazel-related symlinks:
[code]

These do create a circular reference.

However the issue persists even after adding the following to my `settings.json`:
[code]

Here is the backtrace captured after the `cpptools` process has orphaned, with that file exclusion setting enabled: [backtrace.txt](https://github.com/microsoft/vscode-cpptools/files/5230220/backtrace.txt)

[2020-09-16 07:48] Darky-Lucera commented on #6128
The C/C++ debugger (GDB) also stopped working for me on Windows 10, MacOS (Mojave) and Linux (Ubuntu 18). I don't know exactly when because lately I have been working with python (some months) instead of C++ and when I have came back it has stopped working after update VSCode and the C++ plugin and CMake plugins.

Curiously, if I put a breakpoint and I press Debug or F5 it works but if I remove it

[2020-09-16 10:03] dsyx opened #6153 "[clang-format] Format C code incorrectly"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04.5 LTS
- VS Code Version: 1.49.0
- C/C++ Extension Version: v1.0.0

**Expected behavior**

This is my configuration file:

[code]

This is part of my code, it has been formatted:

[code]

In theory, my `delete` function declaration should be formatted as: `void delete(link p);`
However, the formatter added a space betwee

[2020-09-16 11:15] paulromano commented on #6149
I'm experiencing this same issue but running on Ubuntu 20.04, so it does not appear to be specific to macOS. The behavior is exactly as described, with a cpptools-srv process reaching 100% CPU usage and remaining orphaned even after closing VS Code.

[2020-09-16 11:49] Delta-in-hub opened #6154 "When I include bits/stdc++.h , IntelliSense won't work."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.19041
- VS Code Version:1.49.0 (user setup)
- C/C++ Extension Version: 1.0.0
- Compiler : TDM-GCC-64   gcc version 9.2.0 (tdm64-1)  Target: x86_64-w64-mingw32

When I include <bits/stdc++.h> in my file , the IntelliSense Engine won't work . But I  can still  `Go to Definition` of header file  or   ` Start Debuggi

[2020-09-16 12:14] cjwijtmans commented on #664
I would like the opposite feature. Auto generate a `.hpp` file on save(and update it every time saved). Would save a lot of time. Just use the same file path except use the `.hpp` extension. However this could be configured of course but it would be a sane default.

[2020-09-16 12:57] Veoramid commented on #6126
I have the same problem. I am installing the program for the first time. I want to try, but the build of the project does not work.

[2020-09-16 13:26] rewrking commented on #6154
I have a similar issue in #6147, so I decided to try this out...

I copied the contents of bits/std++.h into a project and started commenting out headers to see what breaks intellisense.

Specifically, it seems to be `#include <setjmp.h>` within `csetjmp`, so just doing this should be enough:

[code]

[2020-09-16 14:52] Host48 commented on #6135
Yes, i was using namespace DirectX and when I added DirectX:: in front of XMMatrixRotationRollPitchYaw it stopped giving me an error.

[2020-09-16 16:18] t0maszduda commented on #6126
I'm not able to repro. I don't remember how did this happen but it was as first time as @Veoramid

[2020-09-16 16:45] t0maszduda commented on #6126
Today I've had one "Connection to server got closed. Server will not be restarted"

[2020-09-16 16:56] moonlight16 commented on #6147
fwiw:
https://stackoverflow.com/questions/63908603/vscode-c-feature-go-to-references-is-broken-after-upgrade-to-v1-0-0

[2020-09-16 17:03] bobbrow commented on #6126
Just FYI, this is a message that a VS Code dependency of ours prints out when the extension process crashes.  The message is incorrect because we manage the restart of the extension instead of letting VS Code do it.  The message says "Server will not be restarted" because we tell VS Code not to do it for us and that's what they print out as a result.

Unless you see the message that says "The lang

[2020-09-16 17:37] kevinushey commented on #883
One of the main things I'd like to see is vertical alignment of arguments when defining a function. For example, in this case:

![vscode-indent](https://user-images.githubusercontent.com/1976582/93372192-653aca80-f808-11ea-9990-874cefe54a0c.gif)

I'd like to see the cursor indented to align on `int a`.

[2020-09-16 17:50] bobbrow commented on #883
We added support for the Visual C++ formatter in the 1.0 release.  You can achieve this with the following settings:
[code]
![indent](https://user-images.githubusercontent.com/12818240/93373607-6c62d800-f80a-11ea-8759-5f45f4832a59.gif)

[2020-09-16 17:51] WardenGnaw commented on #6128
@ashishbinu You need to compile with debug symbols e.g. `gcc -g file.c`

[2020-09-16 17:56] asahi-myzk commented on #6147
It happens if you add the code below into your code.

#pragma push_macro("__has_builtin")
#pragma pop_macro("__has_builtin")
#define A __has_builtin(0);
A;

[2020-09-16 17:57] bobbrow commented on #883
clang-format is capable of doing this too, just not as you type.  You have to invoke the "Format Document" command.
![indent2](https://user-images.githubusercontent.com/12818240/93374303-602b4a80-f80b-11ea-8ee1-af3fc54563b7.gif)

[2020-09-16 18:03] jay-pee commented on #5917
@WardenGnaw @sean-mcmanus would be great to get a short answer if this issue is rejected, going in the backlog or you waiting for pull request etc. thanks allot.

[2020-09-16 18:08] kevinushey commented on #883
Thanks! Unfortunately, the experience here is a bit janky for me -- there's a substantial pause between the time when I insert a newline, and when indentation is applied. It seems like sometimes the indentation attempt just ... times out? It's worth saying that I'm editing a file with a substantial number of large header includes (e.g. Boost); not sure if that effects things here.

![vscode-indent

[2020-09-16 18:08] WardenGnaw commented on #5917
@jay-pee Sorry, this issue fell through and I apologize for the delay in reponse.

I have not tested the compound scenario, but if the attach works if you launch the process without the compound configuration, this would be a timing issue based on how VS Code starts the compound configurations.

[2020-09-16 18:14] Colengms commented on #6149
@taylorconor I think this may be a case in which symlinks are not being handled properly, and `files.exclude` is not being applied.  (In `include_auto_complete::cache::populate()`).  A possible work-around would seem to be to ensure the symlink does not create a circular reference.

[2020-09-16 18:19] bobbrow commented on #883
Hmm...  The formatter shouldn't care about included files, so using boost shouldn't affect this at all.  I'm going to copy your comment over into a new issue and we can look into what's going on.

[2020-09-16 18:19] bobbrow opened #6156 "Formatting can be delayed by slow IntelliSense operations"
Thanks! Unfortunately, the experience here is a bit janky for me -- there's a substantial pause between the time when I insert a newline, and when indentation is applied. It seems like sometimes the indentation attempt just ... times out? It's worth saying that I'm editing a file with a substantial number of large header includes (e.g. Boost); not sure if that effects things here.

![vscode-indent

[2020-09-16 18:22] bobbrow commented on #6156
Adding @Colengms to help look into this.  As I said in the other issue, the formatter is purely lexical and doesn't require processing included headers, so it shouldn't be related to your usage of boost.  If you can [enable Debug logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) and share the output that appears when you try this, I think that would be a good starting point for t

[2020-09-16 18:22] WardenGnaw commented on #6145
Are you not getting logs when you added:
[code]

[2020-09-16 18:23] elahehrashedi opened #6157 "automatically set up and attach the debugger to cpptools/cpptools-srv"
add commands to the extension that automatically set up and attach the debugger to the cpptools/cpptools-srv so that the users don't have to update the paths every time the extension releases an update.

related to bug: https://github.com/microsoft/vscode-cpptools/issues/6134
wiki descriptions: https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools‐srv

[2020-09-16 18:35] kevinushey commented on #6156
Thanks! I think the debug log makes it clear what's happening here -- the language server is stalling while attempting to serve a completion request (triggered while I was typing), and then the indentation request only goes through after the completion request is canceled. Here is the log:

[code]

[2020-09-16 18:44] Colengms commented on #6156
There are a few possible issues here.  It's possible another IntelliSense operation was occurring, which can cause subsequent requests to our message handler (such as format on-type requests)  to be delayed.  @kevinushey , can you provide the output of the C/C++ channel while this repro's, perhaps using a similar animated image, so we can see the timing?  (The log you just posted as I was typing t

[2020-09-16 18:59] Colengms commented on #6156
Regarding the extra closing paren: That seems to be a VS Code issue.  I can repro with formatting disabled, by pressing enter between typing params, before typing the closing paren.

[2020-09-16 19:01] ashishbinu commented on #6128
Thanks , @WardenGnaw now the debugger is working fine

[2020-09-16 19:03] bobbrow commented on #6147
We have a fix for the `#error` issue and I also just verified that @MiyaMorg's example is fixed by the same changeset.  When we have an insiders build for the patch ready, we will let you know.  Thanks everyone for your help getting to the bottom of this!

[2020-09-16 19:20] michelleangela opened #6158 "Description of extension properties under settings UI not localized in WSL (or remote)"
This issue is to keep track of VS Code issue https://github.com/microsoft/vscode/issues/106371

[2020-09-16 20:08] kevinushey commented on #6156
Here's a live example with output:

![vscode-indent](https://user-images.githubusercontent.com/1976582/93387164-a4274b00-f81d-11ea-99a8-c8fd6b847dde.gif)

[2020-09-16 22:20] bobbrow commented on #6147
I'm going to have to go back on my statement about @MiyaMorg's example.  It worked when I tested the change with a debug build, but there's some optimization bug in the compiler when we build for release that caused the fix not to work for that case.  We'll need to continue to investigate that.  The `#error` issue is fixed in both build variants.

[2020-09-16 22:53] epccs opened #6159 ""##" (concat) macro-replacement"
In c_cpp_properties.json I should be able to put

[code]

and I think Intellisense should track it through #include <avr/io.h> which would then include "ioavr128da28.h". However Intellisense does not seem to know how to deal with this level of "##" (concat) macro-replacement.

[code]

I have been using forcedInclude for now

[code]

for referance my c_cpp_properties.json and an io.h

https://githu

[2020-09-16 23:36] bobbrow commented on #6159
Real quick, can you try removing the whitespace around the `=` operator in your defines and see if that makes a difference?  I didn't think we supported adding defines like that (it's not something I remember testing).

[2020-09-16 23:38] nholthaus commented on #6142
@sean-mcmanus as another point of reference, clion uses 500ms as the default. The 1s value from VS is probably a reasonable upper bound for the default value.

Personally, I set the delay down to 250. I'm not sure squiggles as you type is an issue people care about versus feeling snappy when you want it to.

The most important thing is having a setting though.

[2020-09-17 00:08] bobbrow commented on #6114
We published an insiders release with the fix for this.  Please try it out and let us know if you continue to have issues.
https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.1-insiders

[2020-09-17 00:08] bobbrow commented on #6009
We published an insiders release with the fix for this.  Please try it out and let us know if you continue to have issues.
https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.1-insiders

[2020-09-17 00:09] bobbrow commented on #6147
We published an insiders release with the fix for the `#error` issue.  We're still investigating the code sample in this issue.
https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.1-insiders

[2020-09-17 00:35] Colengms commented on #6159
Hi @epccs .  As Bob mentioned, it looks like the white space is an issue.  I'm able to repro, but not if the macro name is immediately followed by the "=".

You should be receiving an IntelliSense error in the Problems pane due to the macro not being parsed properly.  i.e. "command line error: invalid macro definition: ...".  Are you seeing that?

[2020-09-17 00:37] rewrking commented on #6147
Just tried it. It looks like the #error fix didn't address my issue... still seeing a bunch of "Quick info operation failed: FE: 'Compiler exited with error - No IL available'" in the output. I'm hoping it's that __has_builtin example above, but I'm not too sure. I have to dig through the headers I'm using (including 3rd party libraries) and track it down.

[2020-09-17 01:09] epccs commented on #6159
I guess it is working. The mouse over was not showing the full evaluation, but the error looks correct. I just need to figure out how to make it look in the place I have the file.

![concat_macro-replacement](https://user-images.githubusercontent.com/12041339/93407666-8cfd5300-f847-11ea-8861-0b914c651c01.png)

[2020-09-17 01:13] Colengms commented on #6153
Hi @dsyx .  I can repro the issue invoking clang-format directly via command line.  This appears to be external, and not something we can address from within the C/C++ Extension for VS Code.  You might consider opening a similar issue against LLVM/clang-format .

[2020-09-17 01:13] #6153 closed, assigned to nobody

[2020-09-17 01:22] Colengms commented on #6159
@epccs I believe it's a known issue that macros are only resolved 1 level deep on hover, not recursively.  (I'd be surprised if we don't already have an issue open for this, but am still searching for it.  I will mention it when/if I find it.  It's an issue in VS as well).  Otherwise, it sounds like your issue is resolved, so I'm going to close this.

[2020-09-17 01:22] #6159 closed, assigned to nobody

[2020-09-17 01:24] alexclewontin commented on #6114
Appreciate you getting it fixed so quickly. Test driving it now

[2020-09-17 02:21] rewrking commented on #6147
It's 100% the code sample MiyaMorg shared. For me, that pragma was inside `psdk_inc/intrin-impl.h`, from a combination of `#include <winuser.h>` and `#include <nlohmann/json.hpp>` (json lib)

[code]

[2020-09-17 05:31] Salil03 commented on #6154
I am getting a similar issue. After updating to version 1.0.0, I am no longer getting Intellisense. Also warnings for wrong syntax is not working, Even insiders version does not work.

[2020-09-17 06:41] Hughen opened #6161 "failed to autocomplete"
**Type: LanguageService**

My vscode can not be autocompleted, like this:
![image](https://user-images.githubusercontent.com/3334378/93428911-d8b90680-f8f2-11ea-9851-1145df42b32b.png)

**Describe the bug**
- OS and Version: Ubuntu 16.04
- VS Code Version: 1.48.2
- C/C++ Extension Version: v1.0.0
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue in

[2020-09-17 08:05] EMHacker-alt commented on #6126
I have the same problem. "[Error - 4:01:28 PM] Connection to server got closed. Server will not be restarted." I cannot build project, download or start the serial monitor. Please help !!!

[2020-09-17 08:08] EMHacker-alt commented on #6126
IntelliSense isn't working at all

[2020-09-17 09:28] Veoramid commented on #6126
This is the first time I installed the program. I pressed "next", "next", "next" ...
When it failed, I uninstalled the program and installed it again. Again it didn't work out.
Then I noticed that C ++ was missing. After that, I installed the earliest version 0.22 - the program worked for me and I launched platformio for esp8266.
I tried updating C ++ but nothing worked. Is it because I removed Ph

[2020-09-17 10:20] #6128 closed, assigned to nobody

[2020-09-17 11:07] GitMensch commented on #5191
@mqtthiqs I suggest to vote on the linking diagnostics issue. Did you create an issue for "duplicates are only resolved by location, not by text" already?
@sean-mcmanus Can you please commit the change concerning "note" to the repo? Or even better: let vscode handle "note" as "information" in general and for this extension only add it to the severity pattern (there are others using "note" as well

[2020-09-17 11:44] Delta-in-hub commented on #6154
exactly the same issue
And  this issue duplicates to [#6147](https://github.com/microsoft/vscode-cpptools/issues/6147) , I will close this one.

[2020-09-17 12:05] #6154 closed, assigned to nobody

[2020-09-17 13:10] vk-coder opened #6162 "Outline shows duplicate local variables for a Python function"
**Type: LanguageService**

**Describe the bug**
- OS and Version: openSUSE Leap 15.2
- VS Code Version: 1.49.0
- C/C++ Extension Version: v1.0.0
- Other extensions you installed (and if the issue persists after disabling them): cannot test with disabling all extensions because outline does not show anything with all extensions disabled
- Does this issue involve using SSH remote to run the extensio

[2020-09-17 14:55] tripjam commented on #5831
@sean-mcmanus The folder only has settings.json inside. Any further suggestions?

[2020-09-17 17:05] sean-mcmanus commented on #6162
This appears to be an issue with an extension that provides Python language services, which our C/C++ extension does not. For example, https://github.com/microsoft/vscode-python/issues .

[2020-09-17 17:05] #6162 closed, assigned to nobody

[2020-09-17 17:13] sean-mcmanus commented on #6161
Are you using the CMake Tools extension or another configuration provider? It appears to not be sending any configuration info for the pybind11.cc file. Where is the pybind11 folder located? Can you add that path to your includePath? Also, the results of C/C++: Log Diagnostics could help too.

[2020-09-17 17:20] bobbrow commented on #6161
VS Code 1.49.0 broke CMake Tools in some scenarios and we just published an update.  Please check and make sure you have CMake Tools 1.4.2 to restore the functionality.

[2020-09-17 17:49] sean-mcmanus commented on #4482
The autocomplete part was a duplicate, but the snippet part is not.

The snippets code needs a re-architecting though, to enable user-modification via sending the snippets from a TypeScript or a custom snippets json file, so I'm not sure if it's worth the effort to localize.

But the detail text "Code snippet for" could be easily localized.

[2020-09-17 17:53] sean-mcmanus commented on #6084
@devabhishekpal That is implemented in our shared code with VS, not in our our open source TypeScript.

[2020-09-17 19:07] spacemonkd commented on #6084
Okay sir

[2020-09-17 19:11] sean-mcmanus commented on #5843
"No active translation units." means the IntelliSense process hasn't loaded yet -- if you wait does it load later? Has the cpptools process crashed?

[2020-09-17 19:22] sean-mcmanus commented on #6126
Is anyone able to attach a debugger to the cpptools process before it crashes to get a call stack? https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv

Or does anyone have complete repro steps?

[2020-09-17 19:23] sean-mcmanus commented on #6135
Can this issue be closed? Or do you think our IntelliSense is behaving incorrectly still?

[2020-09-17 19:45] sean-mcmanus commented on #6149
@Colengms Circular symlink references shouldn't matter -- the file iteration code only go down a particular path one time, so there shouldn't be any infinite looping. The issue I know of is if there's a symlink to a large folder: https://github.com/microsoft/vscode-cpptools/issues/3123 . The lack of files.exclude checking shouldn't matter much for cache::populate() because it doesn't do a recursiv

[2020-09-17 20:01] milan-r-shah commented on #5843
Hi @sean-mcmanus
Thanks a lot for your reply. Nope, I tried waiting for different durations but it doesn't load. Just to confirm, how can I check whether cpptools process has been crashed or not? I mean I don't see any notifications/pop-ups in my VSCode.

I even tried reinstalling VSCode as well as all the extensions i.e. C/C++, CMake Tools, etc. But still, that didn't work either!

In fact, apart

[2020-09-17 20:02] epccs commented on #6159
Thank you. Also, I am very much enjoying VSCode.

[2020-09-17 20:06] sean-mcmanus commented on #6138
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.1-insiders

[2020-09-17 20:18] michelleangela commented on #6136
This might also be related to https://github.com/microsoft/vscode-cpptools/issues/6084

[2020-09-17 20:24] michelleangela commented on #5843
@milan-r-shah

This means that in the ms-vscode.cmake-tools extension, I selected the Clang-9 for the build kit. For the solution I tried, I used the ms-vscode.cmake-tools extension to build and not manually with the command line.

Could you confirm that the ms-vscode.cmake-tools extension was able to configure the project correctly? If the ms-vscode.cmake-tools configuration is successful and cor

[2020-09-17 20:53] sean-mcmanus commented on #5191
@GitMensch I was waiting for more feedback as to whether it was a good thing to change or not. We haven't gotten many complaints about this.

[2020-09-17 21:00] kevinushey commented on #6156
I would overall agree with this. Rather than relying on formatters to perform as-you-type indentation, I think that indentation should be handled by a custom command (bound to the Return key) that makes "best guesses" as to what the right indentation should be. Such an indentation system could either rely on regular expressions, or an ad-hoc walk of a simple tokenized representation of the documen

[2020-09-17 21:04] conkerkh commented on #6145
strangely I installed 1.01 and the problem disappeared. I don't know exactly what was going on perhaps some components of the extension didn't install correctly at the time, bu anyway looks like the problem is solved.

[2020-09-17 21:05] sean-mcmanus commented on #5831
You don't have a c_cpp_properties.json, which means it's just using the defaults.

Can you attach a debugger to cpptools before it crashes? See https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv .

Or do you know how we can reproduce the crash?

[2020-09-17 21:10] bobbrow commented on #6106
Yes, please.

[2020-09-17 21:10] Host48 commented on #6135
I mean, i don't know if I'm doing something wrong or if it is the plugin. But it seems odd to me that when a have the statement "using namespace DirectX" everything that is in that namespace behaves correctly except for that one function. I call other functions from the DirectXMath library and they don't give me any red squiggles. So I would assume that there is a bug.

[2020-09-17 21:12] sean-mcmanus commented on #5843
@milan-r-shah If cpptools is crashing, you would see a "Connection to server got closed. Server will not be restarted" message in a cpptools log. Or the cpptools-srv process could be crashing (a "Failed to read response from server" in the C/C++ logs).

I'm not aware of a known issue that could cause "No active translation units" and we haven't gotten other reports like this yet.

Does the issue r

[2020-09-17 21:13] #6145 closed, assigned to nobody

[2020-09-17 21:14] Host48 commented on #6135
Here is the entire file
[code]

[2020-09-17 21:23] #6144 closed, assigned to nobody

[2020-09-17 21:26] taylorconor commented on #6149
@sean-mcmanus yes, this issue persists even after deleting all symlinks in the project.

[2020-09-17 21:32] sean-mcmanus commented on #6106
I don't think it's a VS Code bug. The VS Code issue was https://github.com/microsoft/vscode/issues/12448 . They fixed it, but the problem is that VS Code itself using only 1 URI casing, but the problem is that we're internally changing that casing. I think we'd need to change our code to respect that casing that VS Code uses.

[2020-09-17 21:38] lapointexavier commented on #5591
Hitting a similar issue on some callback:
[code]

[2020-09-17 21:50] milan-r-shah commented on #5843
@michelleangela
Sorry for the late reply but as I was not used to compiling the code that way, it took me some time to figure that out. I have followed [this link](https://code.visualstudio.com/docs/cpp/CMake-linux)

My configurations:
| Command                       |    My Config          |
|---------------------------------|------------------------|
|`CMake: Select Variant`  | `RelWithDebInfo`

[2020-09-17 21:56] milan-r-shah commented on #5843
@sean-mcmanus got your point.
I think when I reinstalled VSCode and then C/C++ extension, `v1.0.0` got installed. So, now, how can I check whether this issue repro with `v0.29.0` ?

[2020-09-17 22:01] sean-mcmanus commented on #6135
I filed VS issue https://developercommunity.visualstudio.com/content/problem/1189555/cc-intellisense-gives-the-incorrect-error-more-tha.html .

However, it sounds like the root bug could be a duplicate of https://github.com/microsoft/vscode-cpptools/issues/5990 , which also has a VS issue tracking it.

The problem is IntelliSense is incorrectly putting the .inl code in the global namespace instead

[2020-09-17 22:15] arttet commented on #5607
@WardenGnaw, could you increase the priority of this issue?

[2020-09-17 22:24] Colengms commented on #3204
@patrykbajos @MrMartin92 , are either of you still seeing this issue?  There have been some improvements to our compiler probing over the past several months.  If you can still repro, can you enable debug logging using `"C_Cpp.loggingLevel": "Debug"`, and provide the output of the C/C++ channel after repro'ing?  That should now include the command line we used to probe the compiler for default inc

[2020-09-17 22:24] sean-mcmanus commented on #6149
I noticed the comment "Log Diagnostics provides no output" -- that would imply our extension is somehow deadlocked. The other logs show
[code]
as the last entry, so it looks like our main processing loop might be stuck in didOpen.

If you could try 0.29.0 to see if that repros the issue that could help narrow down the possibilities.

@paulromano Your issue is with cpptools-srv using CPU, which wou

[2020-09-17 22:31] Colengms commented on #4381
The module we are using directly is yauzl, which has a dependency on fd-slicer.

[2020-09-17 22:34] sean-mcmanus commented on #5591
@lapointexavier Are you seeing the "Connection to server got closed"? Are you able to get a call stack of the crash https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv ?

[2020-09-17 22:43] sean-mcmanus commented on #5843
The Install Another Version... option.
![image](https://user-images.githubusercontent.com/19859882/93535462-e45cfb00-f8fb-11ea-9404-28ea883c5c37.png)

[2020-09-17 22:46] Colengms commented on #4576
Hi @rhymu8354 .  Sorry for the delay.  Are you still seeing this issue?  If so, could you provide the configuration from your `c_cpp_properties.json` ?  If you are able to provide a MCVE we could investigate, that would be ideal.

Though, it's odd that you are seeing an indication that lua_newtable is undefined, when we clearly know it's defined as we provided the value it expands to.  Is it possi

[2020-09-17 23:23] Colengms commented on #6149
Hi @taylorconor .  The backtraces you provided include a stack with "shutdown" on it, so it looks like they were collected after quitting VS Code (while cpptools was lingering).  Could you collect another set from before terminating VS Code (i.e. While the Log Diagnostics command does not respond) ?  That could help us rule out some things that happen during shutdown.

Also, after removing the cir

[2020-09-18 00:17] jeremyong commented on #5937
Perennial problem for me on Windows as well. With clang, no matter where I put the compile_commands.json file (workspace root, build folder etc) or however much I rescan or reset the intellisense database, the extension doesn't seem to find the file (compile definitions specified there are never picked up, resulting in a number of erroneous red squiggles). I don't have a minimal reproduction case,

[2020-09-18 00:19] Colengms commented on #4576
I think this may be related to https://github.com/microsoft/vscode-cpptools/issues/5182 , which is a case of squiggles on macros that are indeed defined, and results in the macro being both successfully resolved and 'undefined' on hover.  I've been having trouble coming up with a Windows repro for https://github.com/microsoft/vscode-cpptools/issues/5182.  @rhymu8354 , if you have a Windows MCVE, i

[2020-09-18 00:22] sean-mcmanus commented on #5937
@jeremyong Is your compileCommands property set somewhere? This bug is with updating compile commands, but your issue sounds like it's not working at all. If you have the configurationProvider set then compileCommands won't be used -- the configuration provider should provide the configuration info.

[2020-09-18 00:23] jeremyong commented on #5937
I've tried changing the compile commands setting, but also removed the configuration provider, but also tried the built in cmake one (with setting the location to the workspace root).

[2020-09-18 00:26] jeremyong commented on #5937
If you don't mind, I really think the extension needs to be smarter. The configuration space is far too large, and when researching this, there are a ton of settings that don't even apply depending on other settings in a some opaque "action at a distance" manner. This makes the documentation unclear and troubleshooting pretty much impossible. Even simple things like an indicator at the bottom sayi

[2020-09-18 00:28] sean-mcmanus commented on #5937
We have a C/C++: Log Diagnostics command that can be used for diagnostics and you can set the C_Cpp.loggingLevel to "Debug" to get more logs in the C/C++ pane.

It sounds like the CMake Tools extension has an issue and isn't sending us the proper configuration info in your case. The logs mentioned above could be used to verify that.

[2020-09-18 00:33] sean-mcmanus commented on #5937
But if you disabled the configuration provider, then the compileCommands not picking up the defines would be our bug -- we'd need to look at the logs mentioned previously.

[2020-09-18 00:51] Colengms commented on #5937
@a5066987 Sorry for the delay.  I see that we received a notification that the file has changed (`cpptools/fileChanged`), but I do not see a `cpptools/didChangeCompileCommands` message indicating that we tried to parse it.  Could you attach the entire output from the C/C++ channel, as text rather than an image?  Also, could you post the contents of your `c_cpp_properties.json` file, so we can see

[2020-09-18 01:02] jeremyong commented on #5937
I enabled debug logging and what I got is very strange. The correct define is actually sent in the source file that uses the header (so I know the compile_commands.json is being resolved properly):

[code]

It then says `Shutting down IntelliSense server: -SNIP-` for that translation unit.

Immediately afterwards, it processes the header with essentially empty compile args.

[code]

meaning the he

[2020-09-18 02:17] sean-mcmanus opened #6163 "Header-only fallback occurs instead of using compileCommands configuration"
I enabled debug logging and what I got is very strange. The correct define is actually sent in the source file that uses the header (so I know the compile_commands.json is being resolved properly):

[code]

It then says `Shutting down IntelliSense server: -SNIP-` for that translation unit.

Immediately afterwards, it processes the header with essentially empty compile args.

[code]

meaning the he

[2020-09-18 02:18] sean-mcmanus commented on #6163
@jeremyong Are you opening a source file or a header file? Does IntelliSense work for a source file?

It sounds like there's some error associating the header file with a source file. One thing worth trying is the C/C++: Reset IntelliSense Database command, because source/header associations are stored there.

[2020-09-18 02:23] jeremyong commented on #6163
@sean-mcmanus The errors persist on the source file despite the log output indicating that the define was found with the correct compile command (so the error is on both source and header).

I've tried resetting the database, rescanning, reloading the whole thing, clean reconfigure, and combinations of the above.

[2020-09-18 02:29] sean-mcmanus opened #6164 "Add telemetry when language service is unresponsive"
There are various ways we could detect an unresponsive cpptools process.

Example of an issue is https://github.com/microsoft/vscode-cpptools/issues/6149 .

[2020-09-18 02:34] sean-mcmanus commented on #6163
Can you provide some of the output of C/C++: Log Diagnostics? That will show how the TU is being constructed.

[2020-09-18 04:30] GitMensch commented on #5191
Thanks for the follow up. Yes, it is a good thing to have that matched and according to the screen provided by @mqtthiqs it works well enough. Please include your change from March now.

I still suggest to include "note" as variant of "info" on the vscode side, instead of here, allowing it to be used in more language extensions easily - if this needs longer it is better to hard-wire "note" here fo

[2020-09-18 06:05] ammarfarsi opened #6165 "i have this problem in vs code can any help me ? #include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (C:\Users\user\Desktop\Marlin-2.0.x\Marlin\src\MarlinCore.cpp)."
i have this problem in vs code can any help me ?
#include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (C:\Users\user\Desktop\Marlin-2.0.x\Marlin\src\MarlinCore.cpp).

[2020-09-18 06:06] maxint commented on #664
Recommend another extensions: https://marketplace.visualstudio.com/items?itemName=amiralizadeh9480.cpp-helper
![](https://raw.githubusercontent.com/amir9480/vscode-cpp-helper/master/images/screenshot.gif)

[2020-09-18 07:24] Colengms opened #6166 "IntelliSense gives "No IL" (or crashes) in a certain scenario on macOS"
With 1.0.1-insiders, I noticed cpptools become unresponsive, though so far I only repro on macOS (Catalina 10.15.6).  Stacks are below.  cpptools-srv was at 100%.  An IntelliSense update appears to have been stuck.  I waited >10 minutes.  I have a project that repro's consistently, but reducing it may be difficult.

<details><summary>cpptools</summary>
<p>

[code]
</p>
</details>
<details><summary

[2020-09-18 07:24] Hughen commented on #6161
@sean-mcmanus
I'm using CMake Tools extension(v1.4.2), and I don’t understand what the other configuration you mentioned is.
my project tree: (/Code/project-1)
[code]
![image](https://user-images.githubusercontent.com/3334378/93568646-0c636180-f9c3-11ea-8756-12da3348b2e9.png)

[2020-09-18 07:34] Hughen commented on #6161
But my vscode is v1.48.2, and I upgrade vscode to 1.49.1, the problem still exists.
When the C/C++ extension is downgraded to 0.29.0, the autocomplete function returns to normal.
The normally log is:
[code]

[2020-09-18 08:22] ZijunHui commented on #5558
I have a similar experience on WSL2 as well. My files are stored in /mnt/ and Intellisense is extremely slow, requiring more than 3 seconds for the results to pop up. After moving the files to ~, there is no longer a delay (or a very small one). I suspect this is due to WSL2, which has suprisingly slow access speed for /mnt/

[2020-09-18 12:20] MrMartin92 commented on #3204
@Colengms
Yes I'm still seeing this issue with version 1.0.0 and 1.0.1-insiders.

Here are your requested log outputs. Unfortunately the debug log is in German. I tried to set everything to Englisch but it's still outputting in German. 🤔

The logs are from version 1.0.0.

- [cpptools_debug.log](https://github.com/microsoft/vscode-cpptools/files/5245312/cpptools_debug.log)
- [cpptools_diagnostics.l

[2020-09-18 16:17] bobbrow commented on #6161
In your logs I don't ever see CMake Tools sending the configuration for the source file.  Did you run the `CMake: Configure` command or set `cmake.configureOnOpen` to `true`?  CMake Tools has to configure the project before it can supply the IntelliSense configuration.

[2020-09-18 16:20] bobbrow commented on #6166
@Colengms, I see `perform_scheduled_routine_moves` in the second callstack log.  I remember adding code there to prevent infinite loops long ago.  I wonder if something regressed?

Original issue #981

[2020-09-18 16:29] bobbrow commented on #6165
Hover the mouse over the error and it should tell you which header it was unable to find.  When it does, you can update the `includePath` to help the extension locate that file by using the "Edit Configurations (UI)" command.

[2020-09-18 17:21] taylorconor commented on #6149
Thanks everyone for your replies and engagement.

@Colengms: yes the first backtrace was captured after VS Code shutdown. Here is one captured while it's still running: [backtrace_while_running.txt](https://github.com/microsoft/vscode-cpptools/files/5246909/backtrace_while_running.txt).

@Colengms: Interesting, I didn't know about the `Reset IntelliSense database` command! I have a mitigation:
1.

[2020-09-18 17:34] michelleangela commented on #6136
Determined this is a duplicate of #6084

[2020-09-18 17:34] #6136 closed, assigned to nobody

[2020-09-18 17:43] rhymu8354 commented on #4576
Hi @Colengms , I don't have a `c_cpp_properties.json` file.  It might be because I'm using CMake to provide IntelliSense configuration (through `"C_Cpp.default.configurationProvider": "vector-of-bool.cmake-tools"` in `settings.json`)?

[Edit: Isn't the equivalent of `c_cpp_properties.json` to be found in the [log above](https://github.com/microsoft/vscode-cpptools/issues/4576#issuecomment-55212025

[2020-09-18 17:44] rhymu8354 commented on #4576
With the latest version of cpptools, it does look like the extension the message came from is displayed:
![image](https://user-images.githubusercontent.com/41497796/93628715-df4f8880-f99b-11ea-964d-6f45b4993ec4.png)

[2020-09-18 17:49] rhymu8354 commented on #4576
I've been so far unable to reduce a project with this issue down to an MCVE.  It doesn't appear in small projects like [this one](https://github.com/rhymu8354/LuaCppTutorial), only larger ones.  I'll continue looking for whatever triggers it to start happening.

[2020-09-18 18:02] SimantoR opened #6167 "Language Server error when importing SDL2 headers"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 (Windows NT x64 10.0.19041)
- VS Code Version: 1.49.1
- C/C++ Extension Version: 1.0.1-insiders
- Other extensions you installed (and if the issue persists after disabling them): twxs.cmake (0.0.17) and ms-vscode.cmake-tools (1.4.2)
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

[2020-09-18 18:18] Martin0698 opened #6168 "Failed to download package on remote Linux (Error: unable to get local issuer certificate)"
Issue Type: <b>Bug</b>

Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Linux / x86_64)'  Failed. Retrying... Failed. Retrying... Failed. Retrying...Waiting 8 seconds... Failed. Retrying...Waiting 16 seconds... Failed to download https://go.microsoft.com/fwlink/?linkid=2135548
Failed at stage: downloadPackages
Error: unable to get local issuer certificate
	at TLSSoc

[2020-09-18 19:51] a5066987 commented on #5937
@sean-mcmanus It's basically an infinite loop indicating the file has changed. But anyway I'll find time to get a complete output for you.

[2020-09-18 21:30] MrMartin92 commented on #3204
I tried to experiment a little bit with the `compile_commands.json` and got it working.

I had to remove all appending header files and added the full path to the compiler `avr-gcc`. Both is necessary or otherwise it is not working.

Old `compile_commands.json`:
[code]

New working `compile_commands.json`:
[code]

~~Here are the log outputs with the working `compile_commands.json`.~~
- ~~[cpptools

[2020-09-19 01:22] szdytom opened #6169 "Couldn't start client cpptools"
Issue Type: <b>Bug</b>

Output of cpptools is

Launching server using command /home/szdytom/.vscode/extensions/ms-vscode.cpptools-1.0.1-insiders/bin/cpptools failed.

Then there is no intelliSense support or autocomplete

Extension version: 1.0.1-insiders
VS Code version: Code 1.49.1 (58bb7b2331731bf72587010e943852e13e6fd3cf, 2020-09-16T23:23:33.049Z)
OS version: Linux x64 5.4.0-47-generic

<detai

[2020-09-19 03:42] Hughen commented on #6161
Yes, my configguration of `cmake.configureOnOpen` set as `true`.

[2020-09-19 04:40] ammarfarsi commented on #6165
can you explain for me step by step, because I don't use vs code more. this is the problem in the picture. I don't know how I solve it
![image](https://user-images.githubusercontent.com/70930795/93659153-74fa1f00-fa53-11ea-9f22-55b415b8eb97.png)

[2020-09-19 08:13] roeniss commented on #513
not at all. it just launch my macOS default terminal window but nothing happen. It's 100% same as I open terminal by myself.

[2020-09-19 08:16] roeniss commented on #513
![image](https://user-images.githubusercontent.com/26613280/93662513-a565ab80-fa9b-11ea-8d60-a0bc151d30e2.png)
![image](https://user-images.githubusercontent.com/26613280/93662516-b31b3100-fa9b-11ea-95eb-1887a40eadbb.png)

(white dots on filename are relevant because I deleted some comments for clearness)

[2020-09-19 13:16] mingzhou6381 opened #6170 "debug doesn't run when define map in the code"
Type: Debugger

**Describe the bug**
- OS and Version: macOS Catalina. 10.15.6
- VS Code Version: 1.49.1
- C/C++ Extension Version:v1.0.1-insiders
launch.jason

 "version": "0.2.0",
    "configurations": [
        {
            "name": "clang++ - Build and debug active file",
            "type": "cppdbg",
            "request": "launch",
            "program": "${fileDirname}/${fileBasenameNoExten

[2020-09-19 15:35] charlesmacd commented on #6167
I was just looking into this same problem. My setup is similar to yours, and I'm using MinGW for a compiler.
For me, this problem comes from the inclusion of `<intrin.h>` as follows:

* SDL2.h includes SDL_cpuinfo.h
* SDL_cpuinfo.h includes intrin.h on line 58:

[code]
Just commenting out the `#include <intrin.h>` in SDL_cpuinfo.h re-enables Intellisense for the entire project.

If I make a dummy

[2020-09-19 15:50] ahmedula opened #6171 "VS code cannot edit in read only editor"
Type: General
So I can't edit a running program and when I enabled "whether to run code in integrated terminal" I could no longer run the program as another issue arose "no such file or directory" I searched and found that this may be related or caused by an extension, but What do I have to do to get around this? My extensions are: c/c++ code-runner Remote-WSL

[2020-09-19 15:51] ahmedula commented on #6171
I'm very new to this so if you can please explain it to me as if I was a 5-year-old.

[2020-09-19 16:46] SimantoR commented on #6167
I confirm on my end, the same thing @charlesmacd mentioned:
![image](https://user-images.githubusercontent.com/34289663/93672064-860e5480-fa82-11ea-85ce-e5b867b852c6.png)
![image](https://user-images.githubusercontent.com/34289663/93672075-a0483280-fa82-11ea-8195-63d822eab01e.png)

[2020-09-19 16:52] Merange opened #6172 "[Error - 18:49:18] Connection to server got closed. Server will not be restarted."
Issue Type: <b>Bug</b>

I compile with Arduino exytension and I recieve very often this error message

[Error - 18:49:18] Connection to server got closed. Server will not be restarted.

and a new cpptools output is opened

Extension version: 1.0.0
VS Code version: Code 1.49.1 (58bb7b2331731bf72587010e943852e13e6fd3cf, 2020-09-16T23:27:51.792Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summ

[2020-09-19 18:04] guillermo-gerard commented on #1162
Another bump :)

[2020-09-19 19:55] Veoramid commented on #5831
If I downgrade C / C ++ to 0.25 the error goes away. Since version 0.26 - the error appears
![image](https://user-images.githubusercontent.com/16515589/93687974-fb9e1300-faca-11ea-8e60-6eadbe02b1c7.png)
![image](https://user-images.githubusercontent.com/16515589/93687998-32742900-facb-11ea-9ed3-15758129e921.png)

[2020-09-20 01:38] runner0353 commented on #6097
![image](https://user-images.githubusercontent.com/36179001/93692289-ddb0cc80-fb23-11ea-94c6-01872322bdbc.png)
[log.txt](https://github.com/microsoft/vscode-cpptools/files/5251025/log.txt)
[Tref.txt](https://github.com/microsoft/vscode-cpptools/files/5251027/Tref.txt)
[TrefTest.txt](https://github.com/microsoft/vscode-cpptools/files/5251028/TrefTest.txt)

There is no problem with compilation, but

[2020-09-20 02:11] sunilvijendra commented on #5349
I have the same issue and macFrameworkPath has only "/Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk/System/Library/Frameworks. I do not have Xcode installed and only have command line tools to compile and build C++. So, there is no /Applications/Xcode.app!

OS and Version: macOS Catalina 10.15.6
VS Code Version: 1.49.1

Any workaround or fix available?

Output of C/C++ log diagnostics:

[2020-09-20 04:15] Veoramid commented on #6126
It might be interesting:
If I downgrade C / C ++ to 0.25 the error goes away. Since version 0.26 - the error appears
![image](https://user-images.githubusercontent.com/16515589/93694125-c3b9be80-fb10-11ea-9256-a80b1dcc6296.png)
![image](https://user-images.githubusercontent.com/16515589/93694133-e9df5e80-fb10-11ea-8d31-3e2512be00fb.png)

[2020-09-20 06:22] runner0353 commented on #6097
@sean-mcmanus

[2020-09-20 07:10] t0maszduda commented on #6172
the same issue: https://github.com/microsoft/vscode-cpptools/issues/6126

[2020-09-20 08:42] tripjam commented on #5831
I've tested from my end and the outcome is exactly the same as @Veoramid - since v0.26 the error starts to appear.

[2020-09-20 16:29] Doeke commented on #5456
For now I got around this issue by removing `configurationProvider` and `compileCommands` and adding necessary `includePath` paths. My `c_cpp_properties.json` looks like this:

[code]

[2020-09-20 19:56] celonymire opened #6173 "Intellisense for <ranges> and <concepts>"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Build 19041.508
- VS Code Version: 1.49.1
- C/C++ Extension Version: v1.0.0
- Other extensions you installed (and if the issue persists after disabling them): CMake Tools, CMake, indent-rainbow, Output Colorizer, Bracket Pair Colorizer 2
- Does this issue involve using SSH remote to run the extension on a remote machine?:

[2020-09-20 20:48] sthavens opened #6174 "Missing necessary flag when building in C with gcc"
Type: General
When building with gcc (I am using WSL2 but I don't think that it matters), gcc requires the "-lm" flag to link some headers. My issue was with "math.h".

**Describe the bug**
- OS and Version: Windows 10 20.04, WSL2, gcc 9.3.0
- VS Code Version: 1.49.1
- C/C++ Extension Version: 1.0.0
- Other extensions you installed (and if the issue persists after disabling them): Issue specific t

[2020-09-21 02:31] Xiaohong-Deng commented on #811
Can this problem be resolved if the files that are unable to be opened are in C standard library?

[2020-09-21 03:20] tasty0tomato opened #6175 "Windows下includePath设置项绝对路径不起作用"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows10专业版 2004
- VS Code Version: 1.49.1
- C/C++ Extension Version: 1.0.0
- A clear and concise description of what the bug is, including information about the workspace (i.e. is the workspace a single project or multiple projects, size of the project, etc).
我在vscode中使用第三方cpp库eigen，下载解压后在C/C++插件中配置了其绝对路径地址，但是在vscode中仍然无法运行成功。

**

[2020-09-21 03:52] Salil03 commented on #6169
Also when I tried reinstalling the extension after this issue, it couldn't download cpptools automatically. I had to download cpptools vsix manually and then install it.

[2020-09-21 06:25] #6175 closed, assigned to nobody

[2020-09-21 06:26] tasty0tomato commented on #6175
希望之后的人可以引以为鉴，该插件的作用为代码提醒，真正运行的配置文件为tasks.json

[2020-09-21 07:58] lemonchann opened #6176 "C/C++ Extension 1.0.0 some feature Not working When using in Remote-SSH remote development"
Type: General

**Describe the bug**
First of ALL: I use `Remote-SSH` Extension to connect to the Linux Centos remote server through the Host win10 for remote development.

When C/C++ Extension automatically upgraded from 0.29.0 to version 1.0.0, feature related to `Find reference`  doesn't work, but other features works well.  when Press `Shift+F12` the error log was output: `FE:'Compiler exited w

[2020-09-21 08:23] gzfrozen commented on #5456
@Doeke
Thank you for your suggestion.

I tried this in my project. Remove `configurationProvider` did make most of the red alerts disappear, however the language server seemed still can not find where the `std::out` is, it just ignored the alerts. Adding specific including path seemed make no difference.

[2020-09-21 09:10] Trass3r commented on #811
Doesn't matter where they come from.
Will be fixed with microsoft/MIEngine#1038.

[2020-09-21 16:11] bobbrow commented on #6147
We have a fix for this issue and are hoping to release it today.  Thanks for the help in identifying the case.

[2020-09-21 16:50] johnwsmithv commented on #5044
@sean-mcmanus hey sorry Sean, thank you for your reply.

I haven't actually been able to even SSH into my server using Remote -SSH. This is what the terminal says, and it just gets stuck there:

[12:48:07.850] Showing password prompt
[12:48:21.331] Got password response
[12:48:21.331] "install" wrote data to terminal: "*************"
[12:48:21.342] >

[12:48:26.890] > c9cd9219b40f: running

[12:48

[2020-09-21 17:24] lapointexavier commented on #5591
No unfortunately. I tried attaching to cpptools but it looks like the extension host starts logging these messages:
[code]
and cpptools is not crashing. I imagine these error are unrelated then..

[2020-09-21 17:29] michelleangela commented on #6168
@Martin0698

The extension failed to download the binaries for Linux on the remote machine because of error "unable to get local issuer certificate". Do you know if the remote machine is behind some firewall or under security restrictions?

Could you try installing the extension on the remote machine with the offline installs https://github.com/microsoft/vscode-cpptools#offline-installation?

[2020-09-21 17:49] sean-mcmanus commented on #6176
This is most likely a duplicate of https://github.com/microsoft/vscode-cpptools/issues/6114 (fix available with 1.0.1-insiders) or https://github.com/microsoft/vscode-cpptools/issues/6147 (fix should be available with 1.0.1 later today).

[2020-09-21 17:52] sean-mcmanus commented on #6172
@Merange
Can you attach a debugger to the cpptools process to get a crash call stack? (https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv).

Or provide more repro steps?

[2020-09-21 17:55] sean-mcmanus commented on #6126
@t0maszduda 0.25.1 is a year old. It's not obvious what change in 0.26.0 could have caused it (without a call stack of the crash).

[2020-09-21 17:55] michelleangela commented on #6174
@sthavens

Does the build work when the flag "-lm" is added to the args in tasks.json? The extension cannot determine any specific flags for building when the base build template is created in tasks.json. Any specific args/flags and additional include path must be specified manually.

[2020-09-21 18:02] michelleangela commented on #6169
@Salil03

From the manual installation, could you verify that the file cpptools and cpptools-srv exists under `/home/szdytom/.vscode/extensions/ms-vscode.cpptools-1.0.1-insiders/bin` ? IntelliSense is provided by these binaries.

Is this the first time you encountered a download issue on that Linux machine?

[2020-09-21 18:02] sthavens commented on #6174
The build does work when you add the flag. The reason that I suggest this update is that, unless if your file(s) to be compiled are either completely self-referencing or only need the most basic of header files (stdio.h and stdlib.h), your build will fail as it cannot compile the other headers unless if the flag is used.

[2020-09-21 18:03] t0maszduda commented on #6126
It is for @Veoramid

[2020-09-21 18:09] Salil03 commented on #6169
@michelleangela That linux machine belongs to @szdytom who is the original poster. I am having the same issue on a windows machine. I checked for equivalent path on my machine and `cpptools.exe` does exist. Also important note: **Reverting to 0.29.0 fixes the issue.**

[2020-09-21 18:18] michelleangela commented on #6169
@Salil03 Thanks for the clarification. Sorry I miss reading the posters. Does using version 1.0.0? Or is the issue only with insiders version?

@szdytom Could you verify that the files `cpptools` and `cpptools-srv` exist under `/home/szdytom/.vscode/extensions/ms-vscode.cpptools-1.0.1-insiders/bin`? Also, installing version 1.0.0 work? Or is this only with insiders version?

[2020-09-21 18:36] sean-mcmanus commented on #6165
If you open MarlinCore.cpp you should be able to see more info on which headers can't be found. You can also run C/C++: Log Diagnostics to see which include paths are being used by IntelliSense.

[2020-09-21 18:49] Salil03 commented on #6169
@michelleangela The issue occurs in both 1.0.0 and latest insiders version.

[2020-09-21 18:59] michelleangela commented on #6169
@sean-mcmanus  could this be an issue with the forward links?

[2020-09-21 19:13] sean-mcmanus commented on #6166
Does it repro with 1.0.0 or 0.29.0 too?

[2020-09-21 19:16] Colengms commented on #6161
@Hughen , Could you provide the config you are using from your `c_cpp_properties.json` ?

[2020-09-21 19:18] sean-mcmanus commented on #6166
@bobbrow Yeah, those infinite loop fixes appear to be removed currently.

[2020-09-21 19:26] idevices-mvicuna commented on #4392
This happens when attaching to gdbserver as well. If the app being debugged is waiting at spot where the initial breakpoint setting and variable window update raise exceptions you can't continue. Manually using gdb to attach to the remote will work fine.

Tested with:
Ubuntu 18.04
VSCode 1.38.1
ms-vscode.cpptools 0.27.1

[2020-09-21 19:29] Colengms commented on #6166
@sean-mcmanus It repro's with 1.0.0, but not with 0.29.0.

[2020-09-21 19:35] bobbrow commented on #6169
Not if it affects Insiders.  Insiders doesn't use forward links.

[2020-09-21 19:36] sean-mcmanus commented on #6166
Okay, seems like this should get into 1.0.1 or a 1.0.2.

[2020-09-21 19:58] Colengms commented on #3204
Thanks @MrMartin92 .  Is this compiler executable in the current env path?  If not, it would makes sense that it would need to be provided in `compile_commands.json`.  But, it sounds like it's failing to parse additional source (header) file paths on the command line for some reason.  I'll look into that.

[2020-09-21 20:07] MrMartin92 commented on #3204
Yes. The folder which contains the compiler is in the env path. I can also execute the compiler from the terminal without the full path.

[2020-09-21 20:22] sean-mcmanus commented on #6166
@Colengms Do you have a repro we could report to the VC team? The issue https://github.com/microsoft/vscode-cpptools/issues/981 got fixed in January, so the patch workaround was taken out, but it appears a new bug got recently introduced in 1.0.0 that might have a new root cause.

[2020-09-21 20:31] Doeke commented on #5456
@gzfrozen Unfortunately I tried a lot of things to get the intellisense from C/C++ extension to work for me and I'm not sure specifically what change made it work. You could try messing with workspace settings like `C_Cpp.default.intelliSenseMode`, `C_Cpp.vcpkg.enabled`, or `C_Cpp.default.compilerPath`

[2020-09-21 21:21] sean-mcmanus commented on #6171
I don't understand the problem you're hitting. Does your issue repro with the C/C++ extension disabled?

[2020-09-21 21:36] sean-mcmanus commented on #6167
This is most likely a duplicate of #6114 (fix available with 1.0.1-insiders) or #6147 (fix should be available with 1.0.1 later today).

[2020-09-21 22:38] sean-mcmanus commented on #6166
1.0.1 will change it from a hang to a "No IL"...we could morph this issue into tracking fixing "No IL" or create a new issue.

[2020-09-21 23:15] sean-mcmanus commented on #6173
__cpp_lib_concepts isn't defined, right, when you open "ranges"? I think this is "a work in progress" currently, but we can use this issue open to track that.

[2020-09-22 00:01] celonymire commented on #6173
@sean-mcmanus Right, it's not defined when I open the file. Thank you!

But on a side note: I was wondering why wouldn't it be defined? Since I can use the ranges functions fine and it actually compiles, but just the IntelliSense isn't working?

[2020-09-22 00:13] ghost opened #6178 "The portmacro.h file could not be automatically detected"
Normally, all the files can be retrieved by "${workspacefolder} / * *", but only the portmacro.h file will have problems. You must add the relative address of the portmacro.h file or change the name of the file, such as portmacrozzz.h.

[2020-09-22 00:26] sean-mcmanus commented on #6114
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.1 . Let us know if you encounter other "No IL" issues. We know of at least one other regression we're still working on: https://github.com/microsoft/vscode-cpptools/issues/6166 .

[2020-09-22 00:26] #6114 closed, assigned to nobody

[2020-09-22 00:26] sean-mcmanus commented on #6147
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.0.1 . Let us know if you encounter other "No IL" issues. We know of at least one other regression we're still working on: https://github.com/microsoft/vscode-cpptools/issues/6166 .

[2020-09-22 00:26] #6147 closed, assigned to nobody

[2020-09-22 00:28] sean-mcmanus commented on #6176
Can you update to 1.0.1 to see if this is fixed?

[2020-09-22 00:29] sean-mcmanus commented on #6167
Can you update to 1.0.1 to see if this is fixed?

[2020-09-22 00:31] rewrking commented on #6147
The new version works great. Thanks for figuring it out!

[2020-09-22 00:32] sean-mcmanus commented on #6178
Can you run C/C++: Log Diagnostics? Are the include paths correct?

[2020-09-22 00:55] sean-mcmanus commented on #6166
I'm getting a crash in the scenario...not sure yet if the crash is related to the "No IL" root cause or if it's causing by some difference in my repro (i.e. different system headers).

[2020-09-22 01:30] Colengms opened #6179 "Search for compile_commands.json compiler path in the PATH environment variable"
Saw this in the context of https://github.com/microsoft/vscode-cpptools/issues/3204#issuecomment-660494640 .  We recently added support for this when specified in `c_cpp_properties.json` with https://github.com/microsoft/vscode-cpptools/issues/5908 , but this is not yet supported in a `compile_commands.json`.  Unclear if this is required for custom config providers as well, but handling this in th

[2020-09-22 01:36] Colengms commented on #3204
Hi @MrMartin92 .  I created a [new issue](https://github.com/microsoft/vscode-cpptools/issues/6179) to track what I suspect you are seeing.  It looks like our logic to validate the compiler path does not take the environment paths into consideration.  You repro logs indicate you are falling back to the base configuration early, before even attempting to probe the compiler with the args, which woul

[2020-09-22 02:47] hyperedge56 opened #6181 "C/C++ debugger not outputting information on variables, watch and call stack. It also doesn't stop at breakpoints"
Type: Debugger

**Describe the bug**
- OS and Version: Windows_NT x64
- VS Code Version: 1.49.1
- C/C++ Extension Version: v1.0.1
- Other extensions you installed (and if the issue persists after disabling them):
- I try to debug my C program but all that happens is that it doesn't stop at breakpoints and there is no info shown in the debug columns. The breakpoints have the problem of "Module cont

[2020-09-22 03:11] ghost commented on #6178
@sean-mcmanus
How to run log diagnostics?

c_cpp...json:
`
...
"includePath": [
                "${workspaceFolder}/**",
                "stm32f103rct/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM3"
            ]
...
`
There is no problem with other files.
You must add the relative or absolute location of the file, or change the name of the file to solve the problem.

[2020-09-22 04:03] Salil03 commented on #6169
Good News: 1.0.1 fixes the issue. 😊

[2020-09-22 04:32] szdytom commented on #6169
Yeah, 1.0.1 works fine now, (but I have still no idea why itn't working on 1.0.0)

[2020-09-22 04:32] #6169 closed, assigned to nobody

[2020-09-22 04:50] hanzheteng commented on #226
Hello I encountered the same issue today - IntelliSense couldn't find 3rdparty include directory and I had to manually add them to the include path. It would be great if this can be done automatically (by looking into `include_directories` in CMakeLists.txt).

What is the current status of this feature request? Any recommendation to the plugin if available? I don't quite understand how to proceed

[2020-09-22 04:51] Kwizatz opened #6182 "Regression, MinGW GDB debugging no longer works. You can't do that when your target is `exec' file-exec-and-symbols"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10.0.19041
- VS Code Version:

Version: 1.49.1 (user setup)
Commit: 58bb7b2331731bf72587010e943852e13e6fd3cf
Date: 2020-09-16T23:27:51.792Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

- C/C++ Extension Version: v1.0.1

- Other extensions you installed (and if the issue

[2020-09-22 05:22] Hughen commented on #6161
@Colengms
I upgrade C/C++ extension to v1.0.1, and the problem alway exists. Only when I roll back to v0.29.0 will everything return to normal.
And the v1.0.1 `c_cpp_properties.json` is:
[code]

[2020-09-22 06:46] lemonchann commented on #6176
1.0.1 version works well Thanks for figuring it out!

[2020-09-22 07:39] PiliLatiesa opened #6183 "IntelliSense fails to deduce types of CRTP-based expression templates."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux x86_64
- VS Code Version: 1.49
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): None
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including information about the w

[2020-09-22 09:11] Trass3r commented on #4827
So what exactly isn't working and how does it depend on musl?

[2020-09-22 09:12] pirpyn opened #6184 "PipeTransport + pickRemoteProcess fails. Returns "Illegal variable name". Wrong quotes escaping."
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 1909 (Local) / RHEL 7.4 (remote-ssh) / RHEL 6.5 (pipeTransport)
- VS Code Version: 1.49.1
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): Not related

When using the pipeTransport functionality in attach mode, using pickRemoteProcess for processId, the output panel

[2020-09-22 09:16] sean-mcmanus commented on #6183
Thanks for reporting this. Yes, our parser is shared with VS so we'll track the issue with the VS issue you filed at https://developercommunity.visualstudio.com/content/problem/1192188/intellisense-fails-to-deduce-types-of-crtp-based-e.html .

[2020-09-22 09:18] #6176 closed, assigned to nobody

[2020-09-22 14:01] Lafuente opened #6185 "OUTLINE not match with file"
**Type: LanguageService**
C/C++

**Describe the bug**
- OS and Version: WINDOWS 7 64 bits FR (6.1.7601)
- VS Code Version: 1.49.1
- C/C++ Extension Version: 1.0.1

OUTLINE tree don't match the locations in the C++ file when using long
#if defined
#endif

It's look like the OUTLINE is shifted by the length of the defined sections

[2020-09-22 14:46] charlesmacd commented on #6167
I can confirm 1.0.1 fixed it so it was possibly related to #6147. It was not resolved with 1.0.1-insiders so probably was unrelated to #6114.

Thanks for your help with this Sean!

[2020-09-22 15:00] pjulien commented on #692
@pieandcakes

The reason this happens is because only the file name, not its file path is provided when setting the breakpoint.

[2020-09-22 16:37] pirpyn commented on #6184
The option "C_Cpp.debugger.useBacktickCommandSubstitution": true solves the issue

[2020-09-22 16:37] #6184 closed, assigned to nobody

[2020-09-22 16:57] alexferro opened #6186 "Partial Functionality of includePath when path given is in Win32 File namespace"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro 2004
- VS Code Version: 1.49.1 (and many past)
- C/C++ Extension Version: 1.0.1 (and many past)
- Other extensions you installed (and if the issue persists after disabling them): All are disabled and a clean reload
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and c

[2020-09-22 17:49] smellynailclippings opened #6188 "Cannot Open Source File "iostream""
I'm very new to C++, and am trying to learn it, but I've ran into an issue. I am getting "Cannot Open Source File iostream". I tried editing my includePath but I wasn't entirely sure what to actually update it to. I'm using Windows.

[2020-09-22 17:53] sean-mcmanus opened #6189 "__BLOCKS__ should not be defined when running IntelliSense with clang"
...because our IntelliSense parser doesn't have support for blocks, but we get back `__BLOCKS__=1` when querying clang compilers on Mac. This could potentially break IntelliSense with any code that checks `__BLOCKS__` and uses ^ blocks syntax (http://clang.llvm.org/docs/BlockLanguageSpec.html).

The fix (and workaround) is to pass -fno-blocks when querying clang compilers (with Mac clang -fblocks

[2020-09-22 18:09] sean-mcmanus commented on #6185
Could you clarify what you mean? Our symbol parser runs on both sides of an `#if` so the Outline will include symbols for code that isn't defined by IntelliSense (i.e. grayed out, inactive code).

[2020-09-22 18:14] sameermahant commented on #6188
Have you tried following steps given in following doc: [Configure VS Code for Microsoft C++](https://code.visualstudio.com/docs/cpp/config-msvc)
In that document "**To use MSVC from a command line or VS Code, you must run from a Developer Command Prompt for Visual Studio**" is really important.

[2020-09-22 18:17] sean-mcmanus commented on #6188
@SS4PPHIRE  You shouldn't edit your includePath for system defines. You should make sure you have a C/C++ compiler installed, and if it's not detected by default you should set the compilerPath. You can run C/C++: Log Diagnostics to see what compiler is getting used currently.

In addition to the docs @sameermahant mentioned (for cl.exe), you might also use WSL or mingw compilers on Windows:
https

[2020-09-22 18:33] cxxman commented on #1503
+1

[2020-09-22 18:45] Lafuente commented on #6185
![screenshot](https://user-images.githubusercontent.com/10392332/93923697-03042d00-fd14-11ea-8481-858710ad5211.jpg)

As example, in this screenshot, if I click on "changeVitesseCAN(String)" in the OUTLINE TREE, it go to the screen as you can see in the picture (line 2045).
"changeVitesseCAN(String)" is at line 2325 as shown in screenshot2.jpg
![screenshot2](https://user-images.githubusercontent.co

[2020-09-22 18:48] Lafuente commented on #6185
All functions in main.cpp are shifted per 280 lines in regard with OUTLINE TREE
i.e => initEEprom() display line 2065 when the function in main.cpp is at line 2345

[2020-09-22 18:55] yundddd opened #6190 "Syntax error: word unexpected (expecting ")")"
Hi, I encountered this error since version 1.0.0

`extensions/ms-vscode.cpptools-1.0.1/bin/cpptools: Syntax error: word unexpected (expecting ")")`

The language server does not start when VS code is started.

Downgrading back to 0.29.0 works again.

16.04.1-Ubuntu
VS Code: v1.48.2

[2020-09-22 19:14] Lafuente commented on #6185
This situation happen only in a specific project, and only with the main.cpp file.
I can provide the code if needed and if you don't disclose it.

[2020-09-22 19:15] WardenGnaw commented on #6182
The error is:
[code]

I just tested with MSYS2 x64
Ran:
[code]
and successfully debugged a simple program.

Couple of questions:
1. Can you run `C:\\Code\\AeonGUI\\mingw64\\bin\\OpenGLDemo.exe` from the command line?
2. Do you have a minimal project that you can share that runs into this issue?

[2020-09-22 19:32] Kwizatz commented on #6182
Hi @WardenGnaw ,
Yes, the file exists and runs without issue provided that "C:/Code/AeonGUI/mingw64/bin;C:/msys64/mingw64/bin" is part of the path.

You can test this with my project, [AeonGUI](https://github.com/AeonGames/AeonGUI)

clone it, move to the project root directory then run:

[code]

Then open the folder with vscode, you can build using the build task or from the terminal with make, th

[2020-09-22 20:00] omerbguclu commented on #3927
How many upvotes needs the rethink this issue? I will find it :)

[2020-09-22 20:03] WardenGnaw commented on #6182
I'm running into issues building the project:
[code]

Are there additional packages that I need to install?

[2020-09-22 20:33] Kwizatz commented on #6182
It does seem so, sorry:
[code]
should take care of libxml2 and freetype, but the missing opengl lib is strange, it should be part of the winapi package, try installing freeglut which should have it as a dependency:

[code]

[2020-09-22 20:36] sean-mcmanus commented on #6190
Our extension doesn't output `Syntax error: word unexpected (expecting ")"`. Is that text translated from another language?

[2020-09-22 20:38] Kwizatz commented on #6182
Ok, apparently:
[code]
so the package to install to get OpenGL is mingw-w64-x86_64-crt-git? 🤔I never had to manually install it. weird.

Edit:
It may be because you installed gcc (which is msys gcc) and not mingw-w64-x86_64-gcc?
on that note make sure you install mingw-w64-x86_64-gdb as well.

[2020-09-22 21:07] MaxmeTrn commented on #3787
I currently have the same issue while using VSCode Windows with the extension SSHFS and the server is under Linux distribution.

[2020-09-22 21:53] smellynailclippings commented on #6188
I got it working, but now I'm unsure as to how I start the file. Is there a command in terminal?

[2020-09-22 22:38] yundddd commented on #6190
Is there anyway to check who spit that out? This is literally what's outputted from cpptools' extension console.

[2020-09-22 23:11] sean-mcmanus commented on #6190
It looks like the error is from your OS or shell. What happens when you run `~/.vscode/extensions/ms-vscode.cpptools-1.0.1/bin/cpptools`? Do you get the same error message? Which binary did you install? Did you use an offline vsix?

[2020-09-23 00:19] sean-mcmanus commented on #6097
Thanks a lot for reporting this. I've filed a bug on our shared VS parser at https://developercommunity.visualstudio.com/content/problem/1194246/cc-intellisense-gives-has-no-suitable-copy-constru.html .

[2020-09-23 00:59] sean-mcmanus commented on #6151
Bob was mentioning he thought this was an issue with cpptools/cpptools-srv exiting out of the message loop, so I'm trying the workaround he created a year ago.

[2020-09-23 01:24] sean-mcmanus commented on #6151
That seems to work for cpptools, but not sure about cpptools-srv yet.

[2020-09-23 06:25] yundddd commented on #6190
You are right it came from my OS. For some reason vscode on my x86 system downloaded ARM version of the executable for both 1.0.0 and 1.0.1:

[code]

[code]

Version 0.29.0 looks fine:

[code]

I think this might be specific to code-server I'm using. See https://github.com/cdr/code-server/issues/2120
Feel free to close if this is not cpptools related.

[2020-09-23 06:47] Lafuente commented on #6185
Sorry, it was a typo error in the code (in the defined). There where missing a } that shifted all the code. I didn't see this before I test all the #if defined possibilities.
Thank you

[2020-09-23 06:47] #6185 closed, assigned to nobody

[2020-09-23 08:21] siddharthvaddem opened #6191 "How do I add the linkers for a library in c++ in VS.CODE . I want to be able to play audio files using the lwinmm lib"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including information about the workspace (i.e. is the workspace

[2020-09-23 08:37] gregbarski opened #6192 "MS Code: Launching server using command ms-vscode.cpptools-1.0.1/bin/cpptools failed."
After one on last auto-updates of MS Code extensions, it always fails to launch CPPTools which I use with Platform.io extension.

MS Code reports:

[code]

No other concious updates nor installation were made around that time.

PlatformIO 2.1.0

Version: 1.49.1
Commit: 58bb7b2331731bf72587010e943852e13e6fd3cf
Date: 2020-09-16T23:23:33.049Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8:

[2020-09-23 08:40] suzukajiang opened #6193 "intellisense did not work"
**Describe the bug**
- OS and Version:  win10
- VS Code Version:  1.49.1
- C/C++ Extension Version:  1.0.1

cpptools intellisense doesn't work after i update to 1.0.1 from 0.29.0.
it reported too many errors, and there is no any error in 0.29.0
it also happened in 1.0.0

pitcure  below is the log from 0.29.0
![IMG_20200923_162317](https://user-images.githubusercontent.com/34700091/93988081-e5d6698

[2020-09-23 09:38] programminghoch10 opened #6194 "Extend 'Rename Symbol' feature to support renaming macros"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.49.1
- C/C++ Extension Version: v1.01
- Other extensions you installed (and if the issue persists after disabling them): PlatformIO, Does persist.
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

Project size is irrelevant, happens also in one file as seen belo

[2020-09-23 10:13] CodeNameHawk opened #6195 "The bundled clang-format binary for Windows is built for x64 - should be x86 for compatibility with x86 and ia32 systems."
Issue Type: <b>Bug</b>

Press Shift+Alt+F not format text.

Formatting failed:
"c:\Users\Marian\.vscode\extensions\ms-vscode.cpptools-1.0.1/bin/../LLVM/bin/clang-format.exe" -style="{ BasedOnStyle: LLVM, UseTab: Never, IndentWidth: 4, TabWidth: 4, BreakBeforeBraces: Allman, AllowShortIfStatementsOnASingleLine: false, IndentCaseLabels: false, ColumnLimit: 0, AccessModifierOffset: -4, NamespaceInden

[2020-09-23 10:37] CodeNameHawk commented on #6195
I try run clang-format.exe
get error
"This version of C:\Users\Marian\.vscode\extensions\ms-vscode.cpptools-1.0.1\LLVM\bin\clang-format.exe is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher."

[2020-09-23 12:41] Pietroro opened #6196 "ROS Intellisense configuration"
- OS and Version: Ubuntu 20.04
- VS Code Version: 1.49.1
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): CMake, GitLens, Python, ROS, but the issue persists when all of them are disabled
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

Upon starting up a cleanly installed ROS workspace, bui

[2020-09-23 15:13] Nacandcheese opened #6197 "C/C++ extension failed to update."
Type: General
I was attempting to update my C/C++ extension and it gave me an error message.

**Describe the bug**
- OS and Version: Windows 10 Pro version 1903
- VS Code Version: VS Code 1.49.1
- C/C++ Extension Version: 1.0.1
- Other extensions installed: C/C++ Compile Run (Issue Persists), C# (Issue Persists) Debugger for Unity (Issue Persists)
- When attempting to update to the latest build, I

[2020-09-23 15:17] WardenGnaw commented on #6181
If you are using `"program": "${fileDirname}\\${fileBasenameNoExtension}.exe"` in your launch.json. I would reccomend using the genereated tasks/launch json for _build and debug active file._

If you open your c file and right click in the editor, you should see this option.

Are you compiling `gcc -g params10_exer2.c -o params10_exer2.exe`?

[2020-09-23 15:33] Nacandcheese commented on #6197
Rebooted the window... again. It asked me if I would like to install C/C++ and this time legitimately **did not** freak out and install improperly. Thanks for the time. If you have this issue, follow the steps and reboot the window, I guess.

[2020-09-23 15:33] #6197 closed, assigned to nobody

[2020-09-23 16:07] eurijk commented on #807
I'm seeing this on VSCode 1.49.1 using cppdbg if you start without any breakpoints and have stopAtEntry set to false.

I am able to see the CALL STACK, click on a thread, then pause via that means, or hot add a breakpoint, but it is strange behavior to not have the main pause button available.

[2020-09-23 16:42] elahehrashedi opened #6198 "Installation log: "clang-format" is missing on a "win" platform"
The telemetry is reporting that: "clang-format" is missing on a "win" platform. Either we are detecting the platform as "win" by mistake, or we are searching for both clang-format and clang-format.exe in windows platforms.

[2020-09-23 16:47] bobbrow commented on #6190
Sorry, we don't support code-server.

[2020-09-23 16:47] #6190 closed, assigned to nobody

[2020-09-23 16:52] bobbrow commented on #5980
We won't be making changes to our license agreements, but we were able to make progress on ARM/ARM64 versions of VS Code. 😃

Check it out!
https://github.com/microsoft/vscode/issues/6442#issuecomment-691111406

[2020-09-23 16:52] #5980 closed, assigned to nobody

[2020-09-23 17:31] WardenGnaw commented on #6182
I can also repro this with a simple hello world app.

What I can find so far is that the GDB 9.2 may be missing the `load` command.
[code]

Running `-file-exec-file ./bin/OpenGLDemo.exe` works, but `-file-symbol-file ./bin/OpenGLDemo.exe` causes the `"You can't do that when your target is 'exec'`

Without loading the symbols, the debugger does not have the necessary information to show variables,

[2020-09-23 17:38] jrray commented on #3335
Regarding proxy configuration, this extension currently tries to download https://go.microsoft.com/fwlink/?linkid=2143240 which redirects to https://download.visualstudio.microsoft.com/download/pr/ebeeef98-9fc6-4e24-8db3-1820882eacb4/d3ade0063f4613e9f9556d6f1fa8f056/bin_linux.zip

In our org we used the guidance on https://code.visualstudio.com/docs/setup/network for configuring our proxy, however

[2020-09-23 17:40] KindDragon commented on #925
Please allow adding a custom folder with visualizers. I want to use the same visualizers with Visual Studio 2019.

[2020-09-23 17:59] Kwizatz commented on #6182
I thought that could be a possibility, I'll see what I can find out.

[2020-09-23 18:11] Kwizatz commented on #6182
@WardenGnaw seems like it is a known issue and is being fixed at https://github.com/msys2/MINGW-packages/issues/7004,
so I am closing this.

Thank you very much for your help!

[2020-09-23 18:11] #6182 closed, assigned to nobody

[2020-09-23 18:12] linjiapro opened #6199 "C++ Autocomplete is slow on VSCode for mac development environment"
Auto complete is not automatically turned on for C++ on VSCode. I have a clean VSCode and this extension installed. I can force auto complete to happen by typing Ctrl+space.

My setting contains this:
"editor.quickSuggestions": true.

I googled it. It turns out that we had several related issues:
https://github.com/microsoft/vscode-cpptools/issues/572
https://github.com/microsoft/vscode-cpptools/i

[2020-09-23 18:23] Tyriar opened #6200 "win32 in configuration UI shows double text"
Type: General

**Describe the bug**
- OS and Version: Microsoft Windows [Version 10.0.19041.487]
- VS Code Version:

Version: 1.50.0-insider (user setup)
Commit: e80644fd7da69295b18e7f79403720dd1b155507
Date: 2020-09-22T10:11:29.896Z
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

- C/C++ Extension Version: 1.0.1
- Other extensions yo

[2020-09-23 18:25] Tyriar opened #6201 "Wrong background color for text areas in config UI with Insiders 1.50.0"
Type: General

**Describe the bug**
- OS and Version: Microsoft Windows [Version 10.0.19041.487]
- VS Code Version:

Version: 1.50.0-insider (user setup)
Commit: e80644fd7da69295b18e7f79403720dd1b155507
Date: 2020-09-22T10:11:29.896Z
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

- C/C++ Extension Version: 1.0.1
- Other extensions yo

[2020-09-23 18:28] linjiapro commented on #6199
Update:

Actually, you can toggle autocomplete from settings for C++ now. Doing that fixes the issue.

[2020-09-23 18:30] Will-huynh13 commented on #5079
Tried the proposed solution. I am not being prompted to allow terminal, instead the terminal opens up with just hello. No luck on my end. Any ideas?

[2020-09-23 18:36] platocrat commented on #4510
For anyone wondering about how to pass the _Rename Refactoring_ tutorial on Mac, first highlight the function or variable name, then press CMD + F2.

[2020-09-23 19:10] kkutsner commented on #2703
I tried to browse the code to see if I can hack it to see if it works, but it wasn't quite obvious.... I could grab the extension and try to build and spend a bunch of time to debug it to understand how everything works, but I wonder if someone can point out were to look at to hard code the `--import_dir` setting to see if it actually works.

[2020-09-23 20:31] Colengms commented on #6110
This is: https://github.com/microsoft/vscode/issues/106569

[2020-09-23 20:49] linjiapro commented on #6199
Reopening this. After I change autocomplete from settings for C++ to be default, the autocomplete takes more than multiple seconds to recommend something in large file, which is not very usable.

[2020-09-23 21:06] ShadyBoukhary commented on #1899
Me six. 30+ GB of memory used. I have to constantly manually kill the process.

Has anyone reported a bug to https://bugs.llvm.org/ ?

[2020-09-23 23:10] Colengms commented on #6194
This feature is currently specific to semantic symbols.  For example, if you have functions named foo() in multiple classes, and select just one class's instance of foo(), it should not rename foo() in unrelated classes.  I don't believe it's intended to perform the equivalent of a Replace All, which can be done using the Search pane.  We can consider this a request to extend the feature to macro

[2020-09-23 23:21] michelleangela commented on #6199
Could you provide an estimate of how large the file is? How many lines? Also, is the file part of large sized project? It could be the extension is still tag parsing the files and dependencies in the project. If you enable the [language server log](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server) it will show some logs on what the extension is proc

[2020-09-23 23:23] Colengms commented on #6195
Hi @CodeNameHawk .  Thanks for reporting this.  It looks like clang-format binary bundled with the extension on Windows is built for x64, and should be built for x86 instead.

[2020-09-23 23:33] michelleangela commented on #6196
Could you share the log output from running the command `C/C++: Log Diagnostics`? This will show what configuration info (includePaths, defines, etc) is being used for IntelliSense.

For more info about IntelliSense configuration for the C++ extension, see documentations at:
https://code.visualstudio.com/docs/cpp/customize-default-settings-cpp#_updated-ccpppropertiesjson-syntax
https://code.visual

[2020-09-23 23:37] linjiapro commented on #6199
The file itself is a CPP file that is less than 200 lines. The total project is fairly large given it integrates third-party libraries, such as Libtorch, and OpenCV.

[2020-09-23 23:39] michelleangela commented on #6191
@siddharthvaddem  is this a question on adding library dependencies to your build tasks.json? Or configuration the IntelliSense of the C++ extension to know where some libraries are?

[2020-09-23 23:42] michelleangela commented on #6192
Could you try uninstalling and re-install the extension? Sometimes it fails to install some binaries, such as the cpptools file.

Could you also verify that cpptools and cpptools-srv exists under `/home/username/.vscode/extensions/ms-vscode.cpptools-1.0.1/bin/`?

[2020-09-23 23:42] linjiapro commented on #6199
I think there could be a bug, I enabled language server log, opened a file, and type something there, and here is the log:

sending 1 changes to server
sending 1 changes to server
sending 1 changes to server
Checking for syntax errors: file:///Users/.........
Queueing IntelliSense update for files in translation unit of: /Users/........

Why everytime I type something, 1 change is sending to serve

[2020-09-23 23:47] michelleangela commented on #6193
Could you provide the errors in English? To change the VS Code Display Language, follow the instructions at https://code.visualstudio.com/docs/getstarted/locales. And if possible, could you copy-and-paste the text of logs to the issue?

Could you also provide the log output from running the command `C/C++: Log Diagnostics` for both version 0.29.0 and 1.0.1?

[2020-09-23 23:53] michelleangela commented on #6199
The message "sending 1 changes to server" is expected, where any changes in the document is sent to the IntelliSense engine in order to evaluate the correctness of the code.

Did the project finished tag parsing the third party libraries? The log about this will show "tag parsing <path to file>" and then end with "database safe to open".

[2020-09-23 23:54] bobbrow commented on #6199
If you can send us instructions on how to reproduce the problem, we can investigate.  Otherwise, unfortunately we don't have enough information to go on right now.  Thank you!

[2020-09-24 00:01] Colengms commented on #5871
Closing this now, since it's a code maintenance issue, not something that needs to ship.

[2020-09-24 00:01] #5871 closed, assigned to Colengms

[2020-09-24 00:08] linjiapro commented on #6199
I did see "tag parsing file:", but it does not end with "database safe to open".
Here is what it says:
tag parsing file: /Users/linjia/.......cpp
and there are also lots of logging like this:
Error squiggle count: 0
Error squiggle count: 0
Error squiggle count: 0
Error squiggle count: 0

Steps to reproduce:
Using the newest extension, open any large scale project, or can be a simple project but in

[2020-09-24 00:12] bobbrow commented on #6199
Sorry, that's not enough information to reproduce *your* problem.  There are plenty of large scale projects integrated with 3rd party libraries that work just fine.  We need specific steps that can be followed.  Pretend you are teaching a new member of the team how to get started writing code for your project.

[2020-09-24 00:31] linjiapro commented on #6199
I am experiencing the exact issue like this one: https://github.com/microsoft/vscode-cpptools/issues/5864

A more detailed step to reproduce:
the OS is macOS on an Apple laptop.

Follow the minimal example step by step: https://pytorch.org/cppdocs/installing.html
To properly reproduce, please get the downloaded libtorch folder under the project folder: ProjectRootFolder/ThirdParty/...

Open the pr