[2016-04-08 16:31] egamma opened #1 "Code completion with C/C++ extension"
_From @mhalber on April 3, 2016 18:51_

Hi,
I've been testing the new C/C++ extension, however I am running into some problems with code completion suggestions.

Here is an example with C/C++ extension installed, forcing suggestions using cmd+space.
It results in perpetual "Loading..." pop up:
![screen shot 2016-04-03 at 2 38 39 pm](https://cloud.githubusercontent.com/assets/6202456/14234198/bff5f

[2016-04-08 16:31] egamma commented on #1
// @asthana86 - pls adopt

[2016-04-08 16:32] egamma opened #2 "Path must be a string. Received undefined"
_From @vscodeerrors on April 6, 2016 7:50_

Issue Id: <b>d62ec6f0-0926-ab33-6205-be52435fc002</b><br /><br />_Versions_ <br />\- 0.10.13-insider<br />\-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />_Stack_ <br />TypeError: Path must be a string. Received undefined<br />    at assertPath (path.js:8:11)<br />    at Object.win32.join (path.js:221:5)<br />    at new ConfigurationProperties (C:\Users

[2016-04-08 16:32] egamma commented on #2
FYI @asthana86

[2016-04-08 16:32] egamma opened #3 "Cannot read property 'document' of null"
_From @vscodeerrors on April 6, 2016 8:13_

Issue Id: <b>098051f7-8a68-a04d-fe08-5331e1befd6f</b><br /><br />_Versions_ <br />\- 0.10.13-insider<br />\-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />_Stack_ <br />TypeError: Cannot read property 'document' of null<br />    at extensions\ms-vscode.cpptools-0.4.1\out\src\C_Cpp.js:59:24 <no sourcemaps><br />[vs/workbench/node/pluginHostProcess.js#L4:

[2016-04-08 16:32] egamma commented on #3
_From @jrieken on April 7, 2016 8:9_

fyi @egamma - that's what we see with C++ a lot

[2016-04-08 16:32] egamma commented on #3
FYI @asthana86

[2016-04-08 17:52] sridmad commented on #2
Fixed. 0.43 version of the extension should have the fix

[2016-04-08 17:52] #2 closed, assigned to sridmad

[2016-04-08 17:53] sridmad commented on #3
Fixed. 0.43 version of the extension should have the fix

[2016-04-08 17:53] #3 closed, assigned to sridmad

[2016-04-10 21:43] egamma opened #4 "Exception when run my extension with other extension"
_From @iHuahua on March 31, 2016 12:31_
- VSCode Version:0.10.11
- OS Version:Windows 7

Steps to Reproduce:
1. ext install cpptools
2. yo code
3. F5

it will stop on :
path.js:line 8
throw new TypeError('Path must be a string. Received ' + util.inspect(path));

_Copied from original issue: Microsoft/vscode#4823_

[2016-04-10 21:43] egamma commented on #4
_From @jrieken on April 1, 2016 14:17_

@iHuahua What do mean by `yo code`? do you create a new extension that you want to run? What is the _full_ reading of the console?

[2016-04-10 21:43] egamma commented on #4
_From @iHuahua on April 5, 2016 2:12_

@jrieken yeah, i want to create a new extension, everything is right until i run the new extension by F5. Than i had installed the "cpptools" before.

![qq 20160405101023](https://cloud.githubusercontent.com/assets/2878674/14269404/e265a4ce-fb16-11e5-87d1-bd660740193d.jpg)

[2016-04-10 21:43] egamma commented on #4
_From @jrieken on April 5, 2016 10:38_

this is an node-internal module. what's it the call stack from your code that leads to this?

[2016-04-10 21:43] egamma commented on #4
_From @iHuahua on April 5, 2016 11:18_

@jrieken i had removed the extension `cpptools`. can you try it by yourself?

1.In vscode, `Press F1`, `ext install cpptools`.
2.In cmd, `yo code` to create a new extension, and open it with vscode
3.In vscode, `Press F5`

[2016-04-10 21:43] egamma commented on #4
_From @jrieken on April 5, 2016 14:42_

`yo code` should not install anything related to cpp. Please report the top of the stack as I believe this is something with the `cpp tools`

[2016-04-10 21:43] egamma commented on #4
_From @iHuahua on April 6, 2016 3:46_

I am sorry to later for reply.
I am a cpp developer, so I had install extension `cpptools` before. I have not modify anything about .vscode.

![stack](https://cloud.githubusercontent.com/assets/2878674/14305264/241b8fb0-fbed-11e5-93ce-62af4ff1feb7.jpg)
![setting](https://cloud.githubusercontent.com/assets/2878674/14305265/242e2c60-fbed-11e5-80b2-11dbffa7316f.

[2016-04-10 21:43] egamma commented on #4
_From @iHuahua on April 6, 2016 3:47_

@jrieken If I have not reply in time, please email to me, ihuahua#live.com, # => @

[2016-04-10 21:43] egamma commented on #4
_From @jrieken on April 6, 2016 7:15_

Thanks, that's helpful. @delmyers Can you help? This seems to be an issue with the cpp-extension.

[2016-04-10 21:43] egamma commented on #4
_From @delmyers on April 8, 2016 19:4_

This looks like an exception in the language service for the extension. I'll get someone to look at it.

[2016-04-10 21:43] egamma commented on #4
_From @delmyers on April 8, 2016 19:20_

I am having trouble with the GitHub issue mover @egamma, can you help? I keep getting an exception: Cannot call "ez" on null.

[2016-04-11 16:45] sridmad commented on #4
This is a dupe of #2

[2016-04-11 16:45] #4 closed, assigned to sridmad

[2016-04-11 23:13] sridmad commented on #1
Fixed and should appear in 0.43 of the extension

[2016-04-11 23:13] #1 closed, assigned to sridmad

[2016-04-15 20:42] jgminder opened #5 "C++ Attach on Linux Mint 17.3 does not work."
I attempted to use the C++ Attach feature of Visual Studio Code using gdb on Linux Mint 17.3 and it did not work. I created a simple helloworld application. Launching the application for debugging (C++ Launch) worked fine but attaching to an existing process did not. I placed a cin statement in to ensure it was paused while I did the attach. Here's the console output:

=thread-group-added,id="i1"

[2016-04-15 21:16] delmyers commented on #5
@jgminder Thanks for the bug report. When you were attaching, did you attach to the same process that you used to launch? Was the program compiled with debug information, and what were the optimization options? We have seen some issues with applications that don't have correct debug symbols compiled into the binaries, with similar symptoms.

[2016-04-15 21:20] sridmad opened #6 "Don't create browse database when the folder does not have C / C++ source files"
from Xaver Hellauer - Review comments on extension's market place page

[2016-04-15 21:21] sridmad opened #7 "Localization"
From 白乐航 - User review comment on extension market place page

[2016-04-15 21:22] sridmad opened #8 "Add Windows support"
Multiple comments from User Reviews on extension marketplace page and other forums

[2016-04-15 21:24] sridmad opened #9 "Language service does not work in Windows 7/8/8.1 without VS2015 installed"
Multiple comments on various forums

[2016-04-16 00:39] rajesh-gali opened #10 "Intellisense and tags doesnt work in Windows 7"
Hi,
I have installed cpptools but Intellisense and symbols view is not working at all. Search for symbols command always displays "No Symbols Matching " message. I was wondering are there any dependencies to make it work for Windows?

Thank you,
Regards,
Raj

[2016-04-16 07:46] bpasero opened #11 "Parsing of NFS mounted drive is really slow (Ubuntu)"
_From @ashwinaj on April 14, 2016 22:47_
- VSCode Version: 1.0.0
- OS Version: Ubuntu 14.04 LTS

Steps to Reproduce:
1. Open an NFS mounted folder in VS Code with a mix of C++, js and python source code (1000's of files)
2. Let the parsing (indexing) begin i.e. creation of the symbols database for intelliSense

It is really slow (it's been running for 4 hours). This isn't the case with a similar s

[2016-04-16 07:46] bpasero commented on #11
@ashwinaj what do you mean by "parsing" / "indexing"?

[2016-04-16 07:46] bpasero commented on #11
_From @ashwinaj on April 15, 2016 10:59_

@bpasero  I mean creation of symbols for intellisense. The bar at the bottom always says "parsing" and never moves to complete.

[2016-04-16 07:46] bpasero commented on #11
@ashwinaj is this from an extension? can you attach a screenshot?

[2016-04-16 07:46] bpasero commented on #11
_From @ashwinaj on April 15, 2016 22:16_

@bpasero I apologize, I should've mentioned, it's using the following extension from Microsoft: https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools

Attached is a screenshot of this, highlighted in red at the bottom.

![vs_code](https://cloud.githubusercontent.com/assets/7064045/14576321/ea90d7b4-031c-11e6-8667-05aae5dc4f93.png)

[2016-04-16 12:34] csholmq opened #12 "Unclear configuration options"
From the original [blog post](https://blogs.msdn.microsoft.com/vcblog/2016/03/31/cc-extension-for-visual-studio-code/), I know that `includePath` is an available option. What else is there?

[2016-04-16 12:47] csholmq opened #13 "Support code completion"
Similar to how the extension [C/C++ Clang](https://marketplace.visualstudio.com/items?itemName=mitaki28.vscode-clang) supports code completion, wouldn't this be within the scope of this extension?

![code-completion](https://cloud.githubusercontent.com/assets/1297882/14581056/1c431e32-03e2-11e6-9e68-f61d2b9abf53.gif)

[2016-04-16 19:00] sridmad commented on #10
Dupe of issue #9

[2016-04-16 19:00] #10 closed, assigned to sridmad

[2016-04-16 19:01] sridmad commented on #12
At this point IncludePath is the only available option

[2016-04-16 19:01] #12 closed, assigned to nobody

[2016-04-17 12:44] egamma opened #14 "Browse.VC.db file being created out of nowhere"
_From @yoazmenda on April 15, 2016 15:7_
- VSCode Version: 1.0
- OS Version: Windows 10 x64

Every time I open a project (Java project) a 4mb "browse.VC.db" file is being created in my repository that can't be deleted.

Steps to Reproduce:
started happening after I tried editing C,C++ files.

_Copied from original issue: Microsoft/vscode#5350_

[2016-04-17 12:44] egamma commented on #14
_From @yoazmenda on April 16, 2016 11:15_

disapeared after uninstalling c/c++ extensions

[2016-04-17 12:44] egamma commented on #14
_From @BillyONeal on April 17, 2016 9:22_

Recent versions of the C++ extensions put this file into the .vscode folder.

[2016-04-17 16:17] csholmq opened #15 "Find all references (Experimental Version)"
Would be great to have _Find all references_ working. Huge helper in large projects.

[2016-04-17 16:19] csholmq opened #16 "Call hierarchy"
Perhaps the inverse to #15; to be able to view an entire call hierarchy of a function.

Seen it implemented in Eclipse.

[2016-04-18 15:34] oniledio opened #17 "Program does not exist"
on ubuntu 14.04
when trying to debug, causes this error:
launch: program '/home/leon/visual-studio/a01.cpp' does not exist

[2016-04-18 17:56] johnkemnetz commented on #17
@leoer what does your launch.json file look like?

[2016-04-18 20:25] tmakuch opened #18 "Additional Include Folders"
_Additional Include Folders_ would be great for IoT development.

[2016-04-19 12:12] oniledio commented on #17
@johnkemnetz

{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "C++ Launch (GDB)",
            "type": "cppdbg",
            "request": "launch",
            "launchOptionType": "Local",
            "miDebuggerPath": "/usr/bin/gdb",
            "targetArchitecture": "x64",
            "program": "${workspaceRoot}/a01.cpp",
            "args": [],
            "stopAtE

[2016-04-19 18:09] johnkemnetz commented on #17
@leoer My guess is that a01.cpp is the file you want to build into an executable program and debug, yes? If so, you'll need to set up a Tasks.json file that builds the .cpp into an executable program (eg. using gcc) then reference the executable program name (eg. "a.out") from the launch.json "program" property. See the last paragraph here:[http://code.visualstudio.com/docs/languages/cpp#_debuggin

[2016-04-19 18:09] #17 closed, assigned to nobody

[2016-04-19 23:31] delmyers opened #19 "GLIBC 2.18 dependency"
This was copied from the reviews on the extension page. Not sure if it is a language service issue, or a debugger issue.

[2016-04-20 11:01] jgminder commented on #5
I made sure it was the same process I launched.  All optimizations were removed and I ran gdb standalone without issue on the program so debug symbols should not be the issue.

[2016-04-20 15:25] outcoldman commented on #14
See https://github.com/Microsoft/vscode/issues/5510 - even when you just open simple file - this extension will create `.vscode` folder with `.browse.VC.db`

[2016-04-20 15:26] outcoldman opened #21 "Open source Microsoft C++ extension for VSCode"
Please open source Microsoft C++ extension

[2016-04-20 16:52] nebjamin99 opened #22 "Passing environment variables to debugger: 'env' or 'environment'?"
The documentation and examples for launch.json show the use of an object list (key/value pairs in {}) called 'env' for passing environment variables to a debugging session.

But on my version which I installed yesterday, it's an array ([]) called environment. Hovering over it to get Intellisense gives a description that corresponds with above.

How can I pass environment variables to the debugger?

[2016-04-20 17:23] delmyers commented on #22
What OS are you using?

We could be clearer in the examples. The key/value pairs should go inside the array. So, something like this:

[{"name":"value", "name2":"value2"}]

Also, it looks like setting environment variables isn't working on mac.

[2016-04-20 17:27] nebjamin99 commented on #22
Ubuntu 16.04 beta 2. Thanks for clarifying. That sorted it! Works great!

[2016-04-20 17:42] delmyers commented on #21
The extension uses several open source components. Most significantly, the debugger is based off of the open-source Microsoft MiEngine here:

http://GitHub.com/Microsoft/miengine

[2016-04-20 17:51] sridmad commented on #14
Duplicate of issue #6

[2016-04-20 17:52] #14 closed, assigned to nobody

[2016-04-20 17:59] outcoldman commented on #21
@delmyers great, this should make it really easy to open source the extension itself ;)

[2016-04-20 18:04] sridmad commented on #18
Following should allow you to specify additional include folders

CTRL + P to bring up the command windows. Type the following and hit enter

It will create a configuration file that allows you to specify additional include folders in the following format

[code]

[2016-04-20 19:29] csholmq opened #23 "Support #IFDEF"
Similar to how `#IF` is currently supported, it would be great if also `#IFDEF` worked.

Here's an animation to clarify.

![ifdef_animation](https://cloud.githubusercontent.com/assets/1297882/14687549/7f0017a0-073e-11e6-83fa-5e76a42084f0.gif)

[2016-04-21 04:23] jansanz opened #24 "Automatically include c++ std headers in OS X"
In OSX I noticed that any std headers were not found by default so I had to add to the include path:

[code]

[2016-04-21 13:02] abc100m commented on #9
To someone who can't running this extension on windows 7:

.vscode\extensions\ms-vscode.cpptools-0.5.0\bin\Microsoft.VSCode.CPP.Extension.exe
this file can not  running if you don't install VS2015 Redistributable Package.

on my laptop cpptools extersion works after installed "Microsoft Visual C++ 2015 Redistributable (x86) - 14.0.23026"

[2016-04-21 19:26] isidorn opened #25 "Do not edit every workspace with files inside .vscode folder"
1. Install VSCode c++ extension
2. Any workspace I open in vscode will get modified, even if it does not have C++ -> files will be added inside the .vscode folder

Optimally the extension would not touch the content of any workspace.
If that is not possible the extension should only touch the content of C++ workspaces. I believe this could be achieved by being activated on the event `onDebug:cpp`.

[2016-04-21 20:31] sridmad commented on #25
Duplicate of #6.

[2016-04-21 20:31] #25 closed, assigned to nobody

[2016-04-21 22:20] jmlewis1 opened #26 ".browse.VC.db file deleted and recreated on each restart of code."
I see you're storing a lot of information in a .browse.VC.db file.
This files takes hours to generate on large projects.  You can imagine my dismay when I realized that you're deleting this file, and recreating it from scratch every time I restart code.

[2016-04-21 22:21] jmlewis1 opened #27 ".browse.VC.db including files excluded in the workspace settings."
I have explicitly excluded some directories from my workspace in settings.json.

These files do not show up in the explorer, but when I search for symbols I see you're searching the excluded folders.

Looking at the .db file using sqlite3 I can see you have included files that are excluded in my settings.json.

[2016-04-21 22:38] sridmad commented on #26
We should not be re-creating the database file. Can you give me an idea about the size of the project and how long it takes to complete?

[2016-04-21 22:39] sridmad commented on #27
Yes we do not look at the settings currently. We will address it in an update

[2016-04-21 22:44] jmlewis1 commented on #26
millions and millions of lines of code, thousands, and thousands of files.  I don't know how long it takes to complete, it's never completed parsing the whole tree.

I've done smaller examples, with just 100s of thousands of lines of code, with 100s of files.  That completes in several minutes, with a database that's ultimately about 16MB in size.

I can clearly see, after shutting down code, and

[2016-04-22 02:31] feliperobledo commented on #5
had a similar problem. I've gone through almost all of the documentation to install MacPorts and Quartz to get GDB to work, but it just wont attach to the process. I get the same output as jgminder and my breakpoints are never hit.

[2016-04-22 07:06] dbaeumer opened #28 "spawn .../corerun ENOENT when trying to debug C++ on Mac"
_From @DanB91 on April 22, 2016 2:25_
- VSCode Version: 1.0.0 (1.0.0)
- OS Version: Mac OS X 10.11.4

Hi, I am trying to debug my program with the following configuration:

[code]

When I try to run this configuration I get the error: `spawn <home>/.vscode/extensions/ms-vscode.cpptools-0.4.2/debugAdapters/corerun ENOENT. Stopping the debug adapter.`

Can't seem to find this issue anywhere else. gd

[2016-04-22 12:03] DanB91 commented on #28
I just discovered that "corerun" was not in the debugAdapters directory.   I deleted the extension, reinstalled it and now it seems to be working.  Not sure why corerun was missing...

Feel free to close this issue.

[2016-04-22 15:42] delmyers commented on #28
All of these kinds of issues should go away now. The debugger portion of this extension no longer depends on corerun.

[2016-04-22 15:42] #28 closed, assigned to nobody

[2016-04-22 21:02] rajesh-gali opened #29 "Show All symbols command is very slow"
Searching for a symbol in very large C Project using Show All symbols command(Ctrl+t) is very very slow. Find In Files option is quicker than the show symbols command.

System: Windows 7 and .browse.VC.db file size approximately 1.1GB .

[2016-04-22 21:09] rajesh-gali commented on #26
I am using Windows 7 system and I see the same issue. .db file is around 1.1GB and takes around 5 minutes to complete it.

[2016-04-23 14:30] xlnzhang opened #30 "Can not work on win10"
This ext cannot run on my XPS13 Win10 laptop even after the VS2015 Runtime package has been installed.

[2016-04-26 13:02] Aukstkalnis opened #31 "Repetitive problem message when pointing to problem line"
VSCode Version: 1.0.0
OS Version: windows 7

Steps to Reproduce:
1. In one header create warning message
2. Include this header into multiple files
3. Compile and go, to problem Mach in this header
4. Problem message shows a list repetitive messages

It is strange to see list of problem messages that are the same.

[2016-04-26 21:21] eliahonader opened #32 "Mixed tabs and spaces when editing C code, when a 'settings.jason' for the workspace is set"
the settings.jason content is the following:
// Place your settings in this file to overwrite default and user settings.
{
    // The number of spaces a tab is equal to.
    "editor.tabSize": 3
}

when i open my C project (not a C++), then the tabSize is ignored.
VSCode indicates that tab size is '6'. I have to manually change the tab size to the 'configured tab size'.

[2016-04-27 10:20] chena1982 opened #33 "can't work on win7"
i install the c/cpp extersion by copy the .vscode/extersions/ms-vscode.cpptools-0.5.0 folder to a pc which can't connect to internet.
this pc use win 7, after install, ctrl+shift+o show "we have no symbol information". and cannot find "go defintion" on right button menu, and the staut bar show text "undefinedwin32".

[2016-04-27 10:36] savioret opened #34 "Need VS 2015 x86 redistributable in order to work on Windows"
If you are a Windows user (Win7 in my case), and don't have Microsoft Visual Studio Redistributable 2015 x86 installed on your system the extension does not work at all.
But the bug itself is the lack of information about it. Some people is complaining that the extension does not find any symbols and seems that this may be the cause.

If you manually try to run
`~\.vscode\extensions\ms-vscode.cppt

[2016-04-27 14:07] csholmq commented on #33
Sounds like a duplicate of https://github.com/Microsoft/vscppsamples/issues/9

[2016-04-27 14:07] csholmq commented on #34
Sounds like a duplicate of https://github.com/Microsoft/vscppsamples/issues/9

[2016-04-27 15:00] savioret commented on #34
Sure it is.

[2016-04-27 15:00] #34 closed, assigned to nobody

[2016-04-27 21:42] sridmad commented on #9
Fixed. Next update to the extension will have the fix.

[2016-04-27 21:42] #9 closed, assigned to sridmad

[2016-04-27 21:42] sridmad commented on #33
Duplicate of #9

[2016-04-27 21:42] #33 closed, assigned to nobody

[2016-04-28 02:00] chena1982 commented on #33
yes, it works now, thanks.

[2016-04-28 15:39] nebjamin99 commented on #22
I reopened this issue because I was mistaken when I said that sorted it.

When specifying anything in the 'environment' tag vscode reports the following error:

[code]

My debug launch script looks like this:

[code]

If I remove the contents of `environment` it loads the process fine (I just can't debug it as I need to pass LD_LIBRARY_PATH for some shared lib dependencies).

[2016-04-29 15:05] makhtardiouf opened #35 "Use the VSCode debugConsole instead of externalConsole"
Thanks team for this pretty good extension.
It works on the latest Kubuntu 16.04; Vscode 1.1.0-insider

Will the xterm dependency be eliminated?
- I'd rather pipe stdout/err to vscode's debug console, just like on gdb;
  (the Python extension does it)

Bug:
- Redirecting a file as input source is currently not functional; e.g. by setting "args": [" < input.txt"], in launch.json

[2016-04-29 15:32] j-stephan commented on #24
Same for Linux.

[2016-04-29 15:42] j-stephan opened #36 "Operating System becomes extremely slow when parsing the default C++ includes"
This is (partly) a duplicate of #26 and #24. On Linux the default include path is "/usr/include" which is fine for standard C programs. However, the C++ STL is missing by default (see #24) and has to be included in c_cpp_properties.json manually. Once this is done Visual Studio Code will start parsing the newly found includes (I assume those in /usr/include as well) which somehow makes the rest of

[2016-04-29 22:41] nikitozz opened #37 "Add support of preprocessor definitions to c_cpp_properties.json"
The extension should allow adding custom preprocessor definitions to _c_cpp_properties.json_. This would allow achieving the same results as with C++ **_/D_** compiler flag (https://msdn.microsoft.com/en-us/library/hhzbb5c8.aspx).

[2016-05-03 07:54] lasypig opened #38 "Can not work on 32-bit Linux"
Microsoft.VSCode.CPP.Extension.linux is a 64-bit binary, so can not work on my 32-bit ubuntu 14.04 OS.

[2016-05-06 01:55] dalianzhu commented on #26
I see the same issue.It applies only to small projects.When I opened the Linux kernel (i use ubuntu 14.04 x64) , it's almost unusable. No function prompts, no code references.Please fix it. I really like it.

[2016-05-06 20:16] jacdavis opened #39 "Microsoft.VSCode.cpp.extension.exe does not exit on deactivate causing uninstall to fail on windows"
1) Install the extension and open a cpp file to start intellisense.
2) Uninstall the extension
3) Check the .vscode folder or look at the running processes

EXPECTED: extension is removed
ACTUAL: Microsoft.VSCode.CPP.Extension.exe is left behind because it is running.

[2016-05-06 20:35] t-troebst opened #40 ""fstream" cannot be found while other headers work"
For some reason VS-Code always complains that it cannot find the fstream header even though all other C++ standard library headers work perfectly fine. For example, the following code reproduces the issue:

[code]

This happens on both Windows (using Visual Studio includes) and OpenSuse even though the fstream header is present in the include directory.

[2016-05-06 21:04] sridmad commented on #40
Not sure why we are seeing the behavior. Thanks for the report. We will investigate.

[2016-05-09 12:55] dbaeumer opened #41 "Repetitive problem message when pointing to problem line"
_From @alexxx537 on April 26, 2016 7:11_
- VSCode Version: 1.0.0
- OS Version: windows 7

Steps to Reproduce:
1. In one header create warning message
2. Include this header into multiple files
3. Compile and go, to problem Mach in this header
4. Problem message shows a list repetitive messages

It is strange to see list of problem messages that are the same.

_Copied from original issue: Microsoft

[2016-05-09 12:55] dbaeumer commented on #41
_From @bpasero on April 26, 2016 11:9_

@alexxx537 what language is this?

[2016-05-09 12:55] dbaeumer commented on #41
_From @alexxx537 on April 26, 2016 12:41_

It is C language. I am using C/C++ extension.

[2016-05-09 17:36] delmyers commented on #35
@makhtardiouf
Thanks for your input!

I believe that the VS code team is working on adding full terminal support to the editor. I've asked for an issue to direct you to, so that you can follow it.

[2016-05-09 17:37] delmyers commented on #41
@sridmad Sridhar, can you look at this?

[2016-05-09 17:38] delmyers commented on #39
@sridmad

[2016-05-09 17:39] delmyers commented on #32
@sridmad, is this an issue with the language service, or is it a vscode editor issue?

[2016-05-10 04:09] makhtardiouf commented on #35
Allright @delmyers , sounds good

[2016-05-10 10:43] bbenoist opened #42 "vscode-ext: Toggle header/source"
Hi,

It would be nice if the vscode C++ extension had a `Toggle header/source` feature.

![Example](https://raw.githubusercontent.com/bbenoist/vscode-togglehs/master/images/example.gif)

Actually, I've already implemented such a feature [bbenoist/vscode-togglehs](https://github.com/bbenoist/vscode-togglehs) but it would be better if it was directly available from the official extension IMO.

Exten

[2016-05-10 15:20] delmyers commented on #35
@makhtardiouf fyi, the embedded terminal window is actively being worked on: https://github.com/Microsoft/vscode/issues/143

[2016-05-11 13:34] isidorn opened #43 "Wrong output in Debug output of C/C++"
Copied from https://github.com/Microsoft/vscode/issues/6285
- VSCode Version: 1.1.0
- OS Version:   OS X Version 10.11.4

Steps to Reproduce:
1. Write the following code

[code]
1. output should be:

however the output is

The '9' is lacked.

[2016-05-11 14:26] sean93park opened #44 "Using network and disk"
VSCode.Cpp.Extension.exe (v 0.5.0) is keep using network about 9Mbps steady number (in task manager), maybe I'm using samba mounted disk from my Linux box for my project.
- For testing, left it with no source file opened.
- After uninstalling this extension, my HDD is now quiet.

[2016-05-12 09:37] KingLebron opened #45 "Task.ja=son for build"
Task.json is created as the followings:

[code]

However it report the following error, though there are `MergeSort.cpp` and `test.cpp` in the working dicrectory:

[code]

[2016-05-12 15:57] delmyers commented on #45
@sridmad

[2016-05-13 01:33] KingLebron commented on #45
Additional Information:
OS:  OS X 10.11.4
VSCode: 1.1.0
C/C++ Extension: 0.5.0

[2016-05-13 01:52] dvirsky opened #46 "Go to Definition opens a different copy of a file."
This happens on Linux with version 0.5.0 and vscode 1.0 and 1.1.0.

If I have a C file open, and it contains a function, and I click "go to definition" of that function, no matter from what open file (even from the same file) - this will cause the C file containing the function to be re-opened and appear twice in the active files list. The second file appears with the file's absolute path next to

[2016-05-13 05:00] choury commented on #40
On my machine, it can't find any STL header
![image](https://cloud.githubusercontent.com/assets/4332542/15238433/8bf48efe-190a-11e6-94e4-b458028bd45c.png)
While the path is correct:
![image](https://cloud.githubusercontent.com/assets/4332542/15238449/aa707758-190a-11e6-94b2-1f1a13f89568.png)

[2016-05-13 11:54] t-troebst commented on #40
On Windows I had to change the slashes to backslashes and on Linux you have to add the include path for the STL headers (something like "/usr/include/c++/{version}") to get the headers (except for fstream) to work.

[2016-05-13 21:06] vsccarl opened #47 "No Go to Definition/Peek Definition"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:
1. Open a C++ file.
2. Right click to bring up context menu

![cppnopeekgoto](https://cloud.githubusercontent.com/assets/12900364/15261889/cab82eda-1913-11e6-9a8c-369b152ffb52.PNG)

[2016-05-13 21:22] vsccarl opened #48 "Status bar color mismatch for C++ configurations"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:
1. Open a .cpp file
2. Observe the status bar

![cppconfigurationcolor](https://cloud.githubusercontent.com/assets/12900364/15262263/0d80a2f4-1916-11e6-9c84-ec9c1fca07e8.PNG)

[2016-05-13 21:28] sridmad commented on #42
We have this on out plate to add to the extension.

[2016-05-14 22:01] 99FallenAngel99 opened #49 "Request a windows version!!!"
Please i'm a new coder, please make a windows debugger version, it's so important

[2016-05-16 10:04] Ebiroll commented on #19
Maybe it is because of `GLIBC_2.18' dependency?

ldd bin/Microsoft.VSCode.CPP.Extension.linux
bin/Microsoft.VSCode.CPP.Extension.linux: /lib64/libc.so.6: version `GLIBC_2.18' not found (required by bin/Microsoft.VSCode.CPP.Extension.linux)
    linux-vdso.so.1 =>  (0x00007ffc5bb43000)

[2016-05-17 14:22] MrMYHuang opened #50 "Please support Visual C++ Build Tools 2015."
Please support Visual C++ Build Tools 2015 for debugging:
https://blogs.msdn.microsoft.com/vcblog/2016/03/31/announcing-the-official-release-of-the-visual-c-build-tools-2015/

[2016-05-18 09:34] Dan-McG opened #51 "Mammoth .browse.VC.db in .vscode after creating c_cpp_properties.json (Linux only)"
I've been through all the issues and there are many (both open and closed) that seem to report this bug and its associated behaviours but aren't linked:
#44 #39 #29 #26 #11 #6 (closed as duplicates #25 #14)

The problem: After installing the extension, as soon as you generate the c_cpp_properties.json file to declare the standard linux include location /usr/include, the extension goes off and buil

[2016-05-18 20:23] sumonto opened #52 "Intellisense does not work on OS X latest for C/C++"
Hi,
I have installed Complete C/C++ extension but I still don't see intellisense working for C/C++

Thanks.

[2016-05-19 19:08] SolarTorch opened #53 "Error when debugging"
ERROR: Unable to start debugging. Cannot access a disposed object.

i have already added the .o file in lunch.json

[2016-05-19 20:52] jgoshi commented on #41
In the repro steps, could you clarify the following?
1. What warning did you create (what does the header look like)?
3. Compile and go, to problem Mach in this header. Could you provide a screenshot? Are you building from the command line then opening up the header file in vscode?

[2016-05-20 06:12] Aukstkalnis commented on #41
When compiled and jumped to problem, the same message list problem is gone. I think it was fixed after update :) However, there is another problem that is related to this case.
This is how it looks:
![problem](https://cloud.githubusercontent.com/assets/9738294/15418722/de45beb2-1e69-11e6-8c44-630afde2c4ef.png)
But it is strange, that when I jump on both of them, one error disappears.
I created err

[2016-05-20 23:21] jgoshi commented on #41
Are you able to repro with the attached project? I'm not sure if I'm following your repro steps properly or the project is not set up properly but when I run it I don't get the duplicate error issue. Do you have a small sample where this repros? Or are you unable to create a repro you can share?

[ConsoleApplication1.zip](https://github.com/Microsoft/vscppsamples/files/275572/ConsoleApplication1.z

[2016-05-23 08:00] Aukstkalnis commented on #41
This is how I compile my task project and what error messages I get:

![consoleapplication1 7z](https://cloud.githubusercontent.com/assets/9738294/15464032/99f66748-20d5-11e6-845e-1db61f11149a.jpg)

Download picture and change extention from jpg to zip. I did this because I couldn't upload zip file.

[2016-05-23 16:42] delmyers commented on #53
@Githelang, We haven't seen this error. Can you let us know what OS/distro you are using? Version of VsCode? Do you have a small repro?

[2016-05-23 17:27] delmyers commented on #52
@sridmad

[2016-05-23 17:34] delmyers commented on #49
Hi @99Minecrafter99

Trust me, we have heard this feedback from many people over the past couple of months. This is our #1 ask, and we are listening :-)

I'm guessing that the thing that you are requesting here is debugging support on Windows, since we don't have it yet? We are planning on having GDB debugging available for binaries compiled with MinGW and Cygwin in the next release. That will mov

[2016-05-23 17:47] sridmad commented on #41
I suspect this is not related to the C++ extension.  #The extension does not intercept task invocations nor does it process the resulting output.

[2016-05-23 18:06] csholmq commented on #52
"Works" for me on and off. Mostly it does work. Not sure why.

OS X El Capitan running v1.1.1-insiders

[2016-05-23 23:30] eliotstock commented on #18
I can't get this to work. If I use:

[code]

Then place the cursor in a function name in main.c and hit F12, I'd expect to do to the definition of that function, which is in a file in ~/dev/nRF5_SDK_11.0.0_89a8197/external/segger_rtt. Nothing happens.

Can I expect this to work?

[2016-05-24 09:29] sushovannits commented on #28
Hi I installed the latest version of VSCode. I am trying to compile and debug a hello world in C++. I keep getting this error along with EPIPE error. Please help. I have MingW installed and from Windows cmd I can compile and debug a program in gdb.
![image](https://cloud.githubusercontent.com/assets/5388540/15499104/07811c82-21c0-11e6-8e8c-bc7d8c0f1062.png)

[2016-05-24 09:43] spinicist commented on #24
`/usr/include` doesn't exist on my system (El Capitan 10.11.5), so I had to add `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1`

[2016-05-24 09:45] spinicist commented on #18
This feature half works for me. However, it seems to fail if my includes have this form:
`# include <directory/header_name>`
I use the Eigen library a lot, and all the includes have `Eigen/` at the front. Includes that have no directory at the front seem to work fine with `includePath`.

[2016-05-25 14:43] matthewgao commented on #47
Hopes this can be fixed ASAP

[2016-05-26 11:11] radubacaran opened #54 "Extension finds no symbols"
I tried the latest variant (version in pic below) on a windows 7 machine, but regardless of what .c file I open, no symbols are shown.
The same software works fine on my home pc,

I tried reinstalling a couple of times, reinstalling VS code, the Insider variant of vs code, and removing all extensions except for cpptools.

![version](https://cloud.githubusercontent.com/assets/4575596/15572753/30092

[2016-05-26 20:18] ghost opened #55 ""program" issue (New in VS Code)"
Hello,

ich have an issue when i try to debug my simple c++ file i got an error:
`Unable to start debugging. Program path 'c:\Users\Zinyra\Desktop\C++\HelloWorld\main.cpp' is missing   or invalid.`

^^^^^^^^^^^^^^^^^
         My launch.json

I don´t know why. I hope anybody can help me.

Thanks !

[2016-05-26 21:08] radubacaran commented on #55
Debugging is not yet supported on windows. See here: https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools

[2016-05-26 21:24] ghost commented on #55
On the side below:

 **Windows**

Debugging on Windows is currently only supported for Cygwin and MinGW.

[2016-05-26 21:26] radubacaran commented on #55
Oh, I missed that completely. Now I notice they use backslashes instead of slashes for the path. Maybe try that and see if it works

`
User must manually set the path to GDB in launch.json if gdb is not on the path. For example: "miDebuggerPath":"c:\mingw\bin\gdb.exe" or "miDebuggerPath":"c:\cygwin64\bin\gdb.exe"
`

[2016-05-26 21:31] ghost commented on #55
Thanks for the awsner. I already set the
 `"miDebuggerPath":"c:/mingw/bin/gdb.exe",`

See it in my first post here.

I think the error is in the "program" section

[2016-05-26 21:33] radubacaran commented on #55
I was suggesting
using
`"miDebuggerPath":"c:\mingw\bin\gdb.exe",`
instead of
`"miDebuggerPath":"c:/mingw/bin/gdb.exe",`

It's a longshot, but maybe that will work...

[2016-05-26 21:35] ghost commented on #55
Nope now i got an error:

`Unable to start debugging. Launch options string provided by the project system is invalid. ",hexadecimal value 0x08, is an invalid character. Line 6, Position 25.`

[2016-05-26 23:22] krworks commented on #22
The correct format for this environment object is:

[code]

[2016-05-26 23:43] radubacaran commented on #55
Dumb question, do you have version
`Version 0.6.0: May 24, 2016
...
Support for debugging with GDB on Cygwin.`
For me at least, the extension repo still offers 0.5.0 to install.

[2016-05-27 07:45] ghost commented on #55
I think i have instaled the version 0.6.0, I take a look later.

Edit: Yes i have the version 0.6.0

[2016-05-27 13:50] aeschli opened #56 "What are .vscode/.browse.VC.db*?"
_From @Tyriar on May 26, 2016 18:37_

These 2 files are being created, no idea what they are:

[code]

Something to be concerned about or already fixed?

_Copied from original issue: Microsoft/vscode#6931_

[2016-05-27 13:50] aeschli commented on #56
_From @alexandrudima on May 26, 2016 18:41_

@Tyriar Maybe you have installed the cpp extension?

[2016-05-27 13:50] aeschli commented on #56
_From @Tyriar on May 26, 2016 18:44_

@alexandrudima ah that must be it, do you remember what the cpptools issue repo was?

[2016-05-27 14:49] delmyers commented on #56
@aeschli

Those files are nothing to worry about. They are just the databases that are used for enabling the C++ language service. They are needed for the go to symbol, go to declaration, and go to definition features.

With the latest update (https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools), they should only get created if you open a cpp or header file.

[2016-05-27 14:49] #56 closed, assigned to nobody

[2016-05-27 14:50] delmyers commented on #54
@sridmad, is this fixed with the latest update?

[2016-05-27 18:04] delmyers commented on #55
@Zinyra
There is currently a bug in the readme. The markdown didn't escape backslashes as expected. You will have to do the following:

"miDebuggerPath":"c:\\cygwin64\\bin\\gdb.exe"

Also, if you are going to debug with Cygwin, your application must have been compiled with Cygwin. You won't be able to compile MVC compiled binaries with Cygwin, for example.

[2016-05-27 18:57] delmyers commented on #47
@sridmad can you revisit? Was this fixed with the last update?

[2016-05-27 19:12] sridmad commented on #6
Fixed in 0.6 if extension

[2016-05-27 19:14] sridmad commented on #26
Deletion and recreation of browse.db should be addressed in 0.6 version of the extension. Please re-open if you continue to see the bug.

[2016-05-27 19:14] #26 closed, assigned to nobody

[2016-05-27 19:17] sridmad commented on #32
This does not involve the C++ extension and seems to be VSCode issue

[2016-05-27 19:23] sridmad commented on #41
Left comment in original issue indicating that this is VSCode issue and closing this

[2016-05-27 19:23] #41 closed, assigned to nobody

[2016-05-27 19:24] sridmad commented on #31
Duplicate issue #41.

[2016-05-27 19:24] #31 closed, assigned to nobody

[2016-05-27 22:59] jacdavis commented on #55
Also, it looks like your program is set to ${workspaceRoot}/**main.cpp** Is it a mistake? It looks like you are pointing it to a source file instead of a compiled binary.

[2016-05-28 02:38] eliahonader commented on #32
thank you for your reply :)

[2016-05-28 07:24] mhobelsb opened #57 ""the source \cygdrive\c\Users... not available""
Hello,
I am using VSC on Windows 10, Version 1.1.1 with C/C++ for VS Code 0.6.0. For debugging i use cygwin x64. The debugger starts just fine but I do not see the source code while debugging. As far as I can see it has something to do with the source code lookup path. Is there a way to map the source code lookup path?

Thx.
Martin

[2016-05-28 08:54] ghost commented on #55
Yes, i thougt the extension will compile my .cpp file to an program.
Can you tell me exactly what i must do ?

[2016-05-28 18:17] jacdavis commented on #55
You need to compile it with Cygwin's GCC/G++ compiler. If it is a single source file, open the Cygwin console, and type something like this from the folder where your source is:
g++ -g main.cpp
This will produce a debug build of the source file named a.exe in that folder. Note that if you have more than one file, or want other options, this gets more complex.

[2016-05-28 18:21] jacdavis commented on #57
Is your source code stored in the same location as it was compiled from? The symbol files produced by the compiler will point to the original source code path. In Cygwin, this was be a virtual unix style path mapped over the windows file system. The debugger will attempt to map that to a windows path using the cygpath utility included with Cygwin.

You are correct that if the source has been copie

[2016-05-28 18:35] ghost commented on #55
Okay i have compiled the file now i have an executable. So now i tried to launch it in Visual Code.

But in the launch.json is the type wrong.       "type": "cppdbg",

[2016-05-28 18:39] jacdavis commented on #55
"type":"cppdbg" is correct. Did you change program to point to a.exe?

[2016-05-28 18:41] ghost commented on #55
Yes.

This is the error message.
`Unable to start debugging. Launch options string provided by the project system is invalid. ",hexadecimal value 0x08, is an invalid character. Line 6, Position 28.`

[2016-05-28 20:21] jacdavis commented on #55
Can you please attach you launch.json file here exactly as-is so I can take a look?

[2016-05-28 20:40] Tyriar opened #58 "can i customize the default includepath in .vscode?"
_From @whr94621 on May 27, 2016 2:2_

I am using ubuntu 16.04 and the default includePath of Linux is always '/usr/include'.
I have always to add '/usr/include/c++/5.x' to the path manually.
Is there any way to modify the default includePath?
thx!

_Copied from original issue: Microsoft/vscode#6951_

[2016-05-28 20:40] Tyriar commented on #58
@whr94621 this issue should belong to the [cpptools extension](https://microsoft.gallery.vsassets.io/items?itemName=ms-vscode.cpptools) right?

[2016-05-28 20:40] Tyriar commented on #58
_From @whr94621 on May 28, 2016 11:44_

@Tyriar I am not so sure about where to put this issue...

[2016-05-28 20:59] jacdavis commented on #55
Try double backslashes in the gdb path like this
"miDebuggerPath":"c:\\cygwin64\\bin\\gdb.exe",

[2016-05-28 21:06] ghost commented on #55
Now i have this issue.

[2016-05-28 21:10] jacdavis commented on #55
Is that the correct path to where you have Cygwin gdb installed? If not, please verify you have Cygwin installed and have installed gdb through the Cygwin package manager.

[2016-05-28 21:16] ghost commented on #55
I had downloaded Cygwin there   https://www.cygwin.com

And the cygwin64 folder is on c

[2016-05-28 21:25] jacdavis commented on #55
I believe Gdb is not installed by default with cygwin. You need to use the Cygwin package manager to install it. If you do dir c:\cygwin64\bin\gdb.exe
does it say it is there?

[2016-05-28 21:28] ghost commented on #55
Oh no..... I don´t see it.. I reinstall Cygwin at the moment.  Thanks for the tipp!
I  report later the status

[2016-05-28 21:29] jacdavis commented on #55
When you install it, the installer will ask you which packages to install. You'll want to search for gdb. I believe the package is called Devel or something similar to that.

[2016-05-28 21:33] ghost commented on #55
I selected install all.

[2016-05-28 21:38] ghost commented on #55
Worked thanks.

But i have a question. Will the extension later support that feature without all that programs ? And can i compile my file later with the extension ?

[2016-05-29 07:57] mhobelsb commented on #57
hi,
thx, for the fast feedback. Yes, the source is stored in the same location as it was compiled from.
I did run the full path throught the cygpath.exe:

the path printed in VSC (source not available) is: "\cygdrive\c\Users\marti\Dropbox\01_Privat\03_Projekte\99_Sandbox\01_HelloWorld\helloWorld.c."
the original path (windows) is: "C:\Users\marti\Dropbox\01_Privat\03_Projekte\99_Sandbox\01_HelloWo

[2016-05-29 15:22] fuchangjie opened #59 "Doesn't seem to work on Ubuntu 16.04 32-bit"
vscode version: 1.1.1
cpptools version: 0.6.0
platform: ubuntu 16.04 32-bit

navigating code or debugging, doesn't seem to work at all, sigh...

[2016-05-29 15:57] bartmao commented on #59
My code can debug, but go to definition is quite slow when the code base size is large. When I load FFMPEG in Visual Studio Code, It never works for the navigating feature:(
I'm using 16.04 64-bit currently.

[2016-05-30 15:35] zethon opened #60 "Clang/LLDB support"
I saw a comment from 2 months ago that the "lldb support is not ready for public consumption" but I could not find any update or anything tracking this. Hence I've opened this issue is hopes that it can be updated when there is an update, or that someone can point me to an update if there is one.

[2016-05-30 20:04] radubacaran commented on #54
Still happens with 0.6.0

[2016-05-31 14:45] csholmq commented on #52
Intellisense only "works" in current file for me. When addressing a struct, the actual struct members are nowhere to be seen. The suggestions that do pop up are completely unrelated.

![intellisense](https://cloud.githubusercontent.com/assets/1297882/15678514/e6032200-274e-11e6-87ae-1623d0666ca7.gif)

And as you can see, the search is case sensitive. So not very fuzzy.

Win10.

[2016-05-31 16:11] jacdavis commented on #57
Thanks. It is very interesting that the cygpath output when run from the Cygwin console is different from the windows console. I suspect the actual issue though is the output from a windows console (which is how it is run by the debugger):
C:\cygdrive\c\Users\marti\Dropbox\01_Privat\03_Projekte\99_Sandbox\01_HelloWorld\helloWorld.c

It looks like cygpath has a bug here. As you've pointed out, the

[2016-05-31 16:17] jacdavis commented on #55
Thanks for the feedback!

You can configure vscode to compile using Tasks. It isn't as automatic as it would be in IDE like the free Visual Studio Community.
This page goes through the details. https://code.visualstudio.com/Docs/editor/tasks

[2016-05-31 17:56] delmyers commented on #60
Thanks, zethon, for adding this public request. We are tracking it.

[2016-05-31 18:06] sridmad commented on #59
Thanks for the feedback. We will take a look at the perf issues.

[2016-05-31 18:08] sridmad commented on #58
By default we specify /usr/include when we generate the config file. Language service will recursively iterate through the files under the set of given paths and add them to the database. You can definitely remove the default path and specify specific paths. We are also looking into allowing finer grained control of the folders we parse

[2016-05-31 18:11] sridmad commented on #30
Can you outline the steps required to repro the bug?

Thanks.

[2016-06-01 06:57] csholmq opened #61 "IntelliSense does not work on Win10"
From https://github.com/Microsoft/vscppsamples/issues/52#issuecomment-222711337

_Intellisense only "works" in current file for me. When addressing a struct, the actual struct members are nowhere to be seen. The suggestions that do pop up are completely unrelated._

![intellisense](https://cloud.githubusercontent.com/assets/1297882/15700820/ad59c78c-27d6-11e6-9d48-8352e6ea23ca.gif)

_And as you ca

[2016-06-01 08:54] jhasse commented on #42
I'm using a [different extension](https://marketplace.visualstudio.com/items?itemName=ryzngard.vscode-header-source) which uses `Alt+O` as the shortcut. I think it's a better one then F4, as I don't have to move my hands up ;) This is also Sublime Text's default shortcut :)

[2016-06-01 13:41] dbaeumer commented on #46
@sridmad how does the file URI look like you are returning in this case. This should work and there should be no need for you to do anything special besides returning a propery file url. Something like file:///home/.... What wonders me is that the file path at the end is ///home which indicates that either we do something wrong in the language client or vscode extension host API or the provided fi

[2016-06-01 16:38] sridmad commented on #46
Let me take a look at the experience on Windows and also the paths we return

[2016-06-01 17:18] dvirsky commented on #46
If you want me to help with debugging on Linux, let me know. BTW I've verified that it happens to other people as well.

[2016-06-01 18:37] dbaeumer commented on #46
@sridmad just to clarify: I tried a test bed under Windows, not the C++ extension.

[2016-06-01 20:35] delmyers commented on #61
@sridmad, was multi-file intellisense added with this release? Does it work for Win10?

[2016-06-02 06:13] mhobelsb commented on #57
I put the whole project in the home folder and unfortunatly it does not work.

[2016-06-02 09:19] matthewgao commented on #47
@delmyers yes, have tried in latest version, works perfect in windows.

[2016-06-02 16:39] jacdavis commented on #57
I'm really sorry to hear that. Does cygath still return an incorrect windows path to the new source location?

[2016-06-02 17:15] csholmq commented on #61
Perhaps I have an incorrect expectation of the IntelliSense at this stage. I can list all symbols, but there doesn't seem to be any solid support for e.g. structs.

[2016-06-02 22:34] iounpaladin opened #62 "Arch Linux 64-bit works, but gives error"
This is the error:
`Updating C++ Debugger dependencies...
Failed at stage: permissionChange
Error: ENOENT: no such file or directory, chmod '/home/proc-sys-daemon/.vscode/extensions/ms-vscode.cpptools-0.6.0/debugAdapters/mono.linux-x86'`

[2016-06-02 22:39] iounpaladin commented on #62
It works now. I reinstalled it.

[2016-06-02 22:39] #62 closed, assigned to nobody

[2016-06-03 13:56] mhobelsb commented on #57
I copied the folder to "C:\cygwin64\home\marti\01_HelloWorld" ... Hope this was the right directory you meant with "virtual cygwin file system home folder".
Debuggin there gives me: "Die Quelle \home\marti\01_HelloWorld\helloworld.c ist nicht verfügbar."

putting the path "\home\marti\01_HelloWorld\helloworld.c" in cygpath

C:\Users\marti>cygpath.exe \home\marti\01_HelloWorld\helloworld.c
/cygdriv

[2016-06-06 14:38] liuslnlp opened #63 "MSVC support"
"Warning: Debugging is currently only supported for Windows when using MinGW or Cygwin". In my opinion, we should Increase the support for Microsoft C++ compiler(MSVC).

[2016-06-06 20:54] dvirsky commented on #46
FWIW it still happens on VSCode 1.2.0

[2016-06-07 04:00] niedzielski commented on #6
This issue seems to still exist in VS Code v1.2 for Ubuntu with v0.6.1 of the extension. Here are the repro steps:

[code]

After exiting VS Code, `git status` shows:

[code]

The project has no C or C++ files and NPM dependencies aren't installed in this example.

[code]

[2016-06-07 15:06] worms commented on #54
Still broken in 0.6.1 as well

[2016-06-07 18:32] mirao commented on #40
I have the same issue with `#include <stdio.h>` on Ubuntu 16.04. I get the message "_Include file not found in include directory_". The path in config file is correct:

[code]

[code]

I'm able to compile and run the program.

Used SW:
- Ubuntu 16.04
- VSC 1.2.0
- CPP extension 0.6.0

**Update:** The issue doesn't happen in CPP 0.6.1

[2016-06-07 18:48] mirao commented on #40
Well, I've just updated CPP extension to 0.6.1 and the issue has disappeared. So you can ignore my issue. Thanks.

[2016-06-07 20:42] Miniwoffer opened #64 ""Include file not fount in include directory" when header files has no .h exstension"
Currently running ubuntu 16.04 LTS 64-bit.

The C/C++ for Visual Studio Code extension, does not seem to detect header files that does not have a .h extension in the include path.

When renamed the header files and added a .h extension, it seemed to find it no problem.

I experienced this when i tried to include this library https://www.webtoolkit.eu/wt

Extension ver: 0.6.1

Vs code ver: 1.2.0

[2016-06-08 01:32] TurkeyMan opened #65 "Support WinDbg as debugengine for windows?"
Please support WinDBG as Windows debug engine. Using GDB to debug local windows apps is pretty awkward.

[2016-06-08 01:33] TurkeyMan opened #66 "Support Visual Studio's 'Concord' debug engine in windows?"
Please support Visual Studio's Concord debug engine? Using GDB to debug local windows apps is pretty awkward. I think everyone agrees; Visual Studio has the best debugger in the world, and it's available to everyone via the free community edition.

[2016-06-09 05:58] jjgod opened #67 "Add includePath for OS X/iOS frameworks?"
How do I add `includePath` to find headers like `<CoreFoundation/CoreFoundation.h>` with OS X/iOS SDK? I haven't found a way yet.

<img width="349" alt="screen shot 2016-06-09 at 1 57 17 pm" src="https://cloud.githubusercontent.com/assets/1017/15920125/2b0366f6-2e4a-11e6-9479-8a8e79e369d0.png">

[2016-06-11 00:09] niedzielski commented on #6
Is it possible to reopen this issue be or should should I file a new bug?

[2016-06-12 02:36] samjegal opened #68 "Duplicated path result by search symbol"
<img width="312" alt="screen shot 2016-06-12 at 11 34 47 am" src="https://cloud.githubusercontent.com/assets/1227196/15988592/b2a3af28-3091-11e6-8ed0-2b1ac58824fd.png">

Duplicated path by search somthing symbol. But that's same result.

[2016-06-12 04:42] hungys opened #69 "Cannot inspect the content of STL containers in debugger"
Currently when I tried to inspect a STL container or a C++ string, the debugger are not able to provide useful information such as the content of a STL vector or string variable. As shown in the screenshot, I have a pretty printer registered to `.gdbinit` and I'm able to use `-exec print v` to see the content of a vector (even a string), but it seems the VSCode debugger doesn't know them.

![](htt

[2016-06-13 07:10] 0x6773 opened #70 "Completion options at wrong places"
Using `vscode : 1.2.0`
Some time cpptools(or vscode) gives code completion options at wrong places. Like this :
![animation](https://cloud.githubusercontent.com/assets/7235212/15999475/aa53c042-3163-11e6-9177-a56afb4926dd.gif)
See after `cin >> x;`, if I press `Enter` before `Esc` what happens.

[2016-06-14 06:40] elyuh opened #71 "Breakpoint is not loaded in Debug mode in Mac OSX El Capital."
Dear M,
I tried to use this on my Macbook running El Capital.
I strictly followed the installation manual as well as the addition steps to configure the tool correctly.
But when I run a debug session, the breakpoint couldn't be loaded hence the whole program is executed instead.
The same problem also happened when using it in Fedora 19 (I understand this OS is not officially supported yet but pret

[2016-06-14 13:40] zethon commented on #60
Keeping my fingers crossed for this!

[2016-06-15 07:19] dmazuronak opened #72 "$workspaceRoot is ignored during search of include files"
vscode marks all include files from the project directory as "not found", but the settings in c_cpp_properties.json includes the variable $workspaceRoot:

[code]

[2016-06-15 12:45] hyyu opened #73 "libc includes not found in vs code"
VS code doesn't find include paths such as /usr/include
![screenshot from 2016-06-15 14 45 20](https://cloud.githubusercontent.com/assets/13220072/16080189/d752c66a-3307-11e6-93f5-a721bd62d31e.png)

How is it possible to make vs code recognize it?

[2016-06-15 16:21] jacdavis commented on #71
elyuh,

If you debug your application with the same instance of gdb on your Mac, is it able to launch the target debuggee and hit breakpoints? If it is, this rules out any signing issues.

What flags to gcc/g++ did you use to compile your application? Did you pass -g to generate symbols? Are the symbols stripped or anything like that?

Thanks for the feedback.

Jackson

[2016-06-15 17:19] sridmad commented on #72
All files under the opened folder should be processed without having to require the path in includePath.

Do you have a small repro for the issue of includes under root folder not processed?

[2016-06-15 17:46] dmazuronak commented on #73
Hi,

you should put the path into includePath property in the file **c_cpp_properties.json** located in **.vscode** folder.

[2016-06-15 18:50] sridmad commented on #73
By default the extension does not process outside of the root folder. Adding the include path requires generating c_cpp_properties.json if it is not already present.

See Specifying Additional Include Directories for Better Symbol Support section in https://code.visualstudio.com/docs/languages/cpp

[2016-06-15 18:50] #73 closed, assigned to nobody

[2016-06-16 07:33] dmazuronak commented on #72
I've attached such [project](https://github.com/Microsoft/vscppsamples/files/317849/testproject.zip). First include is OK, but the second is marked as missing.

[2016-06-16 08:24] sandy081 opened #74 "if define MACRO, c++ Syntax colorization and highlighting is error"
_From @shudingbo on June 15, 2016 10:50_
- VSCode Version: 1.2.1,maybe all version
- OS Version:  win,linux

Steps to Reproduce:
1.  no define macro, highlighting OK.

[code]
1. if define macro, **following, highlighting colorization all is macro's color**

[code]

_Copied from original issue: Microsoft/vscode#7714_

[2016-06-16 12:55] hyyu commented on #73
Thank you for your answers. I'll be checking the help =)

[2016-06-17 06:09] TurkeyMan opened #75 "Allow breakpoints in other native languages source files"
C/C++ plugin integrates native debugging. I'm working on a mixed C++ and D project, but the IDE won't let me place breakpoints in `.d` files. I can step into those languages as you expect from GDB.
I suspect this may also be a problem for other native languages (rust, obj-c, etc?).

[2016-06-18 21:30] smile4u commented on #74
I also discovered this problem. There is small workaround - if you add semicolon at the end of the last (or each) macro highlighting will be recovered

[2016-06-20 14:36] jhasse commented on #75
I have the same problem with Fortran files (`.f`, `.F90`).

[2016-06-20 14:38] jhasse commented on #65
Why?

[2016-06-20 14:39] jhasse commented on #63
Possible duplicate: #65

[2016-06-20 14:41] jhasse commented on #64
But `iostream` works for me. The problem might be something else then the file extension.

[2016-06-20 18:57] dbaeumer opened #76 "c/c++ features request. pointer and function list."
_From @xsjqqq123 on June 19, 2016 14:42_
- VSCode Version:1.2.1
- OS Version:win 7

Steps to Reproduce:
1. I develop c++ app using this soft. I had installed most the c++ plugins,the operator "." work well when show functions list, but the operator "->" don't show any tips.
2. can this soft show a "function list" like source insight? when a click a func name ,can jump it fast?

_Copied from origin

[2016-06-20 20:31] delmyers commented on #65
@TurkeyMan Is there a particular reason that you would like to use WinDBG? I understand that GDB is awkward, but would you be willing to just have native Windows debugging (non GDB), or are there specific WinDBG features that you would like?

[2016-06-20 20:31] delmyers commented on #63
The two are similar, but not exactly the same if there is some specific WinDBG feature that the other user would like.

[2016-06-20 20:33] delmyers commented on #66
@TurkeyMan is this different from #65?

[2016-06-20 20:37] delmyers commented on #57
@jacdavis do you have any more info to give to this user?

[2016-06-20 20:44] jacdavis commented on #57
Unfortunately not.  Cygpath is still returning an incorrect path on this machine.

[2016-06-20 22:29] sridmad commented on #67
See Specifying Additional Include Directories for Better Symbol Support. in https://code.visualstudio.com/docs/languages/cpp

[2016-06-20 22:34] sridmad commented on #64
There are two issues.
1. Colorization. There is no colorization for extension less files.
2. Populating database with contents from these files: We have a hard coded list for STL files. We have to figure out a way to allow devs to add additional files to the list in an update.

[2016-06-20 23:13] jjgod commented on #67
@sridmad It doesn't solve my problem, Framework directory structure is not possible to express in `includePath`, as I clearly stated in my original comment. Please re-open this.

[2016-06-21 00:19] TurkeyMan commented on #66
Concord is the VS debugger, and isn't available as an independent software bundle. It's only useful to people who are also VS users. I suspect a lot of people use code because they don't have VS?
Concord is probably the best C++ debugger that exists on any platform anywhere, and as such it would be nice to be able to use it in code if available.

[2016-06-21 00:25] TurkeyMan commented on #65
@jhasse For one, you need to populate the binary with DWARF. Various annoyances exist, for instance, you can't place a new breakpoint without pausing execution first. There are lots of reasons that make GDB awkward for windows dev.

@delmyers What do you mean by 'native windows debugging'? When you say that, I suspect you mean WinDbg, which is exactly what I'm talking about(?).
It's an excellent w

[2016-06-21 00:28] TurkeyMan commented on #63
This is probably a duplicate of #66, not #65. The OP refers to compilers, but appears to be talking about debuggers, so it's not clear. Suspect OP means the debugger from the MSVC compiler distribution (ie, Concord).

[2016-06-21 00:50] TurkeyMan commented on #50
Do the Visual C++ Build Tools include the debugger? I thought that was a common complaint/feature request?

[2016-06-21 01:11] TurkeyMan commented on #65
Sorry, I think I might have understood the confusion; where I say WinDbg, I didn't mean that vscode should spawn the WinDbg UI (if that's what you took me to mean), I meant the debugengine it uses (CDB/KD right?) which are all bundled together in the same package.

[2016-06-21 01:42] myrfy001 opened #77 "Can't jump to the right place and can't find function"
When use VS Code to edit Contiki OS's source code,which can be found from https://github.com/contiki-os/contiki

for example, in contiki/core/net/rpl

when editing rpl_icmp6.c at line 420, can't jump to the defination of rpl_process_dio() . In fact, it can only jump to the Prototype of this function but can't find the body of this function.

[2016-06-21 07:03] kevinchee opened #78 "How can i attach to a remote C++ application?"
[https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools](url) says we can debug code locally or remotely.

I don't see how i can configure to attach to a **remote** application in `launch.json`.

Is this possible? If so, can i get help with an example of the `launch.json`?

[2016-06-21 07:35] jhasse commented on #65
Ah didn't know that, thanks :)

Don't these two disadvantages also affect Linux / Mac users?

[2016-06-21 15:36] eventualzenith opened #79 "C++ Extension Installation Problem"
I'm new to programming and coding (which is probably why I've messed up the installation process) and want to install this as a platform on which to run programs I learn. The instructions say to paste the command into Visual Studio Code (which I did) and then press enter (which I also did), but when I do, the cursor just moves onto a new line and does nothing. Like I said, it's probably just my ig

[2016-06-21 19:39] delmyers commented on #65
@TurkeyMan my question was more around whether or not there were specific windbg features that you like. You also filed an issue asking for Concord support. I was just wondering if supplying that would also satisfy this issue. Both Concord and Windbg are native non-gdb debuggers for windows.

[2016-06-21 20:10] IanMatthewHuff commented on #79
EventualZenith. Could you possibly share the instructions that you are looking at? I'm not fully sure from the context given so far what you are trying to do.

[2016-06-22 11:42] TurkeyMan commented on #65
@delmyers Well, the key feature is that WinDbg is bundled independently, ie, useful to users who don't have visual studio (ie, users in our Chinese office). Of course, WinDbg is also the windows kernel debugger, and it's an excellent debugger which has unique features that low-level devs might find useful, including a comprehensive plugin interface. I've required this in the past, but it's not rel

[2016-06-22 12:05] blakebarber opened #80 "Intellisense *.hh Files"
Using the latest release of Visual Studio Code with the latest release of the C/C++ Extension.  I'm adding my directory to the c_cpp_properties.json:

[code]

This seems to work fine for finding my include file so long as the include file is `*.h`, but if the include file is `*.hh` it doesn't get parsed.  There may be a setting to set file extensions the Intellisense feature parses, but I haven't

[2016-06-22 15:38] delmyers commented on #79
@eventualzenith when you type Ctrl+P, a small text box should show up at the top of VsCode. That is where you should paste the text. See the example in the picture on the home page of vscode: http://code.visualstudio.com

[2016-06-23 01:43] sridmad commented on #67
We will have to add the capability to specify frameworks. For the short term, if you add path to the root of the framework folder the headers should be picked up. This is ofcourse not feasible as a long term solution.
Example: "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/System/Library/Frameworks/Foundation.framework"

[2016-06-23 01:44] jjgod commented on #67
Awesome, that's good enough for me. I will try this. Thanks!

[2016-06-23 03:08] sridmad commented on #23
At this point syntax colorization as well as greying of preprocessor sections is handled by TextMate  bundle (https://github.com/atom/language-c). The bundle is dealing with #if 0 explicitly for colorization.

[2016-06-23 16:41] anorak commented on #79
I had this same issue.

For OSX VS you have to click the square box on the bottom left hand purple bar or (shift + command + P). This brings up a dialog box at the top filled with >Extensions:

Clear this text and paste in: ext install cpptools
Click on C/C++, it will install in a few seconds and prompt you to restart VS.

[2016-06-23 17:51] eventualzenith commented on #79
Thank you! It's working perfectly now.

[2016-06-23 18:43] anorak commented on #79
@eventualzenith Getting off topic from your original question, but since i can't PM you on GitHub...

Let me know if you figure out how to compile/build and run. I need to do some more digging, but haven't figured it out yet.

[2016-06-23 20:25] sridmad commented on #79
@anorak

You can build using tasks. See http://code.visualstudio.com/docs/editor/tasks for details
Setting up debugging for C++ is covered in https://code.visualstudio.com/docs/languages/cpp

[2016-06-23 20:25] #79 closed, assigned to nobody

[2016-06-23 20:34] sridmad commented on #54
There is a bug when a file is opened as opposed to a folder. Something we will investigate soon

[2016-06-23 20:35] sridmad commented on #48
This should be resolved as of 0.6.1 version of the extension

[2016-06-23 20:35] #48 closed, assigned to nobody

[2016-06-23 21:30] sridmad commented on #74
Looks like a Textmate bundle issue. I see the exact issue in atom.

[2016-06-23 21:31] sridmad commented on #74
This issue was moved to atom/language-c#152

[2016-06-23 21:31] #74 closed, assigned to nobody

[2016-06-24 10:10] StefanFabian opened #81 "IntelliSense shows everything - Context Awareness required"
While it's really good how IntelliSense finds everything in all the include files, it's rather annoying that it displays everything all the time.
What point is there in showing me functions that I can't even access in this context because I don't have the object that has that method?
This makes finding the stuff that I really need a real pain in the...
It's rather annoying to have to check every s

[2016-06-24 16:33] jacdavis commented on #78
Hi kevinchee. To attach to a remote application,  Launch an instance of gdbserver on the target machine using an open port number. Get the target machine's ip address and set "miDebuggerServerAddress" : "ipaddress:port" in the launch.json file where ipaddress is replaced by the remote machines ip address, and port is replaced by the port you launch gdbserver with.

Then, get the process id of the

[2016-06-24 16:34] delmyers commented on #65
@TurkeyMan, OK, I think I am going to close this as a duplicate of the Concord request for now, as it will make the discussions/planning more focused on our side. If there are more specific requests for WinDBG, then we can start discussions with the Windows team about that. Thanks.

[2016-06-24 16:38] delmyers commented on #63
Closing as duplicate of #66

[2016-06-24 16:38] #63 closed, assigned to nobody

[2016-06-24 16:39] #78 closed, assigned to nobody

[2016-06-24 16:40] delmyers commented on #60
@zethon, by the way, what platform are you debugging on (Windows, Linux, or Mac)?

[2016-06-24 19:22] sridmad commented on #81
Agree. We are looking into making it better and you should see improvements in the area in future updates.

[2016-06-24 19:23] sridmad commented on #80
I have fixed this and the fix should appear in a version of the extension > 0.7.0

[2016-06-24 19:23] #80 closed, assigned to nobody

[2016-06-24 23:51] TurkeyMan commented on #65
It's definitely not a duplicate of the Concord request though, unless there is some way Concord is available without VisualStudio? We have users in my office who are very keen to start using code (currently using QtCreator), what will they do without VS installs?

[2016-06-25 00:09] sridmad commented on #47
This should be fixed in recent updates.

[2016-06-25 00:09] #47 closed, assigned to nobody

[2016-06-25 00:27] sridmad commented on #45
The extension is not involved in dealing with tasks. The only reason I can think of for the files not to be found due to current directory not being set correctly.
- does invoking pwd as command show the correct directory?
- current working directory for the invoked tool should be the workspace root. You can also try explicitly setting the directory for the tool through options

  "options": {

[2016-06-25 00:32] sridmad commented on #42
Latest update (0.7.0) has source / header toggle. F4 is the short cut. We will think about adding Alt+O as an alternate shortcut.

[2016-06-25 00:32] #42 closed, assigned to nobody

[2016-06-25 00:35] sridmad commented on #30
This should be fixed in 0.6.1 or later of the extension

[2016-06-25 00:35] #30 closed, assigned to nobody

[2016-06-25 00:38] sridmad commented on #40
@t-troebst do you still see the behavior with latest version of the extension?

[2016-06-25 00:43] jgoshi commented on #72
I wasn't able to repro this. It appears fixed with the latest release (version 0.7.0).

[2016-06-25 00:53] jgoshi commented on #58
Run the C/CPP: Edit Configurations command to bring up your configurations file. In there you'll see the includePath property which is a comma-separated list of directories to search. You can specify a recursive search of all subdirectories, or use a '_' at the end to only look at files in the specified directory. For example:
/usr/include/c++/5.x - will search that directory and all subdirectorie

[2016-06-25 00:53] #58 closed, assigned to nobody

[2016-06-25 00:54] #72 closed, assigned to jgoshi

[2016-06-25 01:05] jgoshi commented on #77
Marking this as a won't fix since this is a difficult to parse corner case.

Anytime we have a brace as part of the conditional (as shown below), the function won't parse properly. The fix is to move the "{" out of the #ifdef block.

void foo()
{
    bool b;
#ifdef M1
    if (b) {
#else
    if (!b) {
#endif
        b = true;
    }
}

[2016-06-25 01:05] #77 closed, assigned to sridmad

[2016-06-25 20:36] t-troebst commented on #40
No, at least on Linux it appears to work fine now.

[2016-06-26 00:15] mdzyduan opened #82 "c symbol cant be resolved in header file that is customer defined file extensions"
for example： "files.associations": {"*.inc":"c"}

then ：#include "*.inc" in a c source code,

vscode dont know *.inc is a header file,and the symbol in *.inc cant be resolved.

[2016-06-26 00:22] mdzyduan opened #83 "functions and symbols reference feature needed"
functions and symbols reference not support now, if you  using vscode read a large project , you will find it is not  convenient .

[2016-06-26 09:16] fsacer opened #84 "Cannot debug Linux Mint 17.3"
I get **error while processing request 'launch' (exception: Invalid launch option type, is not supported.** while I try to debug on Linux Mint 17.3 with vscode 1.2.1 and C/C++ extension version 0.7.0. I have the following launch.json file:

[code]

[2016-06-26 22:45] mohsinhasan commented on #42
+1 for Alt+O. Is this something I can configure from a file?

[2016-06-27 06:05] kinreven commented on #83
agree

[2016-06-27 17:14] sridmad commented on #40
Closing the issue. If you seen it in other contexts please reopen the issue

[2016-06-27 17:14] #40 closed, assigned to nobody

[2016-06-27 19:51] sridmad commented on #37
The defines are not required for the browsing experience. Other features like full intellisense will require information about defines and we will add a mechanism when we add a features that requires it.

[2016-06-27 19:51] #37 closed, assigned to nobody

[2016-06-27 20:17] ghost opened #85 "Can Bash on Ubuntu For Windows be used with the VSCode extension?"
Can Bash on Ubuntu for Windows be used in place of Cygwin by the VSCode C++ extension for debugging?

[2016-06-28 06:47] csholmq commented on #81
@sridmad Any roadmap available for the public yet? E.g feature plan or perhaps a date for open sourcing?

[2016-06-28 08:11] csholmq commented on #61
@delmyers @sridmad
I believe this is very much connected with https://github.com/Microsoft/vscppsamples/issues/81.

Multi-file "IntelliSense" seems to work now - as in that struct members defined in other files show up. But with no context awareness it's pretty much a dull blade.

[2016-06-28 08:11] #61 closed, assigned to nobody

[2016-06-28 08:16] csholmq commented on #52
@sridmad I believe this can be closed. Works on El Capitan.

[2016-06-28 14:54] sumonto commented on #52
HiI could not get it to work please elaborate the steps

Thanks

On Tue, Jun 28, 2016 at 1:16 AM -0700, "Sebastian Holmqvist" notifications@github.com wrote:

@sridmad I believe this can be closed. Works on El Capitan.

---

You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub:
https://github.com/Microsoft/vscppsamples/issues/52#issuecomment-228

[2016-06-28 18:27] sridmad commented on #51
In 0.7.0 we added the ability to control the files that are processed and added to the database.

/usr/include - recursively add all files under the folder to the database
/usr/include/* - Do not recurse folders under /usr/include, just add the files in /usr/include to database

This should allow finer grained control of the files processed through judicious use of includepaths

We are also adding

[2016-06-28 18:31] csholmq commented on #52
@sumonto I just installed the extension and restarted VSCode. Do you get any errors in one of the console outputs?

[2016-06-28 18:41] sumonto commented on #52
Hi,What are your include path setting?
Date: Tue, 28 Jun 2016 11:31:47 -0700
From: notifications@github.com
To: vscppsamples@noreply.github.com
CC: sg1000@hotmail.com; mention@noreply.github.com
Subject: Re: [Microsoft/vscppsamples] Intellisense does not work on OS X latest for C/C++ (#52)

@sumonto I just installed the extension and restarted VSCode. Do you get any errors in one of the console ou

[2016-06-28 19:43] sridmad commented on #42
https://code.visualstudio.com/docs/customization/keybindings - see Customizing Shortcuts section

I have added Alt+O as an alternate binding for Switching between header and source. It should appear in 0.8.0 of the extension

[2016-06-28 19:45] mohsinhasan commented on #42
Sweet! Much appreciated.

-M

On Jun 28, 2016 12:43 PM, "sridhar madhugiri (msft)" <
notifications@github.com> wrote:

[2016-06-28 19:54] sridmad commented on #11
We are adding a way for the developer to specify path to database file in 0.8.0 that can be used as a mitigation.

Next step is to identify reliable way to determine that a path points to network share (on Linux and Mac) and create the database under temp folder.

[2016-06-28 20:04] sridmad commented on #36
In 0.7.0 we added the ability to control the files that are processed and added to the database.

/usr/include - recursively add all files under the folder to the database
 /usr/include/\* - Do not recurse folders under /usr/include, just add the files in /usr/include to database

This should allow finer grained control of the files processed through judicious use of includepaths

We are also addi

[2016-06-28 20:08] sridmad commented on #36
Both of the features should help reduce the number of files processed and the stress on the system. All files are processed in a single thread so most of the impact seems to be due to I/O, reading headers and writing to DB. If you continue to see perf issue after the above features are enabled, we can look for other mitigations.

[2016-06-28 20:09] sridmad commented on #39
These issues should be resolved with 0.7.0 of the extension. Please reopen the issue if you continue to see the behavior.

[2016-06-28 20:09] #39 closed, assigned to nobody

[2016-06-28 20:11] sridmad commented on #44
We will use #11 to track issues related to networking, #6 for loading the extension on startup

[2016-06-28 20:11] #44 closed, assigned to jgoshi

[2016-06-28 20:14] sridmad commented on #83
Duplicate of #15

[2016-06-28 20:15] #83 closed, assigned to nobody

[2016-06-29 07:59] dbaeumer opened #86 "Error on Ubuntu trying to debug using GDB "Invalid launch option type, is not supported""
_From @wirecat on June 26, 2016 18:9_
- VSCode Version: 1.2.1
- OS Version: Ubuntu 16.04 LTS

I am quite new to VS Code and g++... so I am highly suspicious I am the problem. Submitting this issue because I am unable to find anything on SO, github, or google.

Steps to Reproduce:
1. Make a simple HelloWorld.cpp which contains hello world.
2. Compile using "g++: g++ -g HelloWorld.cpp".
3. Add the f

[2016-06-29 07:59] dbaeumer commented on #86
_From @zhu-liang on June 27, 2016 7:3_

Go the same problem here. For step 6, mine was using absolute directory of my g++ compiled binary.

[2016-06-29 07:59] dbaeumer commented on #86
_From @zhu-liang on June 27, 2016 8:23_

Please try add
 "launchOptionType": "Local",
into your launch.json file and try again. Solved my side. Should be version problem.

[2016-06-29 07:59] dbaeumer commented on #86
@wirecat do you have a C++ extension installed.

[2016-06-29 07:59] dbaeumer commented on #86
_From @wirecat on June 28, 2016 18:38_

I hve the C/C++ extension from M$ installed.

[2016-06-29 07:59] dbaeumer commented on #86
_From @wirecat on June 28, 2016 18:45_

@zhu-liang Thank you! After I updated the C/C++ extension and put that option in I was able to start debugging. Is this a long term fix or something temporary on the insiders build?
Unsure of if I should be closing this or not.

[2016-06-29 18:52] xtrium-lnx opened #87 ""Include file not found in include directory" when directories contain environment variables"
Hi,
I'm trying to make the switch to vscode for a c++ project with multiple contributors. The project is currently developed on windows and current bug was only tested on this platform.

Since we're more than one, we've set up environment variables pointing to where our libraries' include files are.

When trying to add "${ZENVIRONMENT_PATH}/include" to the includePath of the project, vscode gives

[2016-06-30 02:03] sridmad commented on #87
Currently we are not expanding environment variables in includePath. Justin is looking at addressing the issue.

[2016-06-30 05:32] assumptionsoup opened #88 "Feature Request: Linting"
Some form of linting would be really awesome.  Something basic to help reduce the number of "Oh, I forgot a semi-colon/colon/bracket/type" could go a long way!

[2016-06-30 16:42] blakebarber commented on #80
This same issue appears to persist in version 0.7.1.  I just tried it out
and same symptoms.  If the file is `*.h` it's found just fine, if it's
`*.hh` then the include file cannot be found.  Thanks for looking into this!

Blake

On Fri, Jun 24, 2016 at 3:23 PM sridhar madhugiri (msft) <
notifications@github.com> wrote:

[2016-06-30 18:22] sridmad commented on #80
0.7.1 had a very small bug fix for a regression. 0.8.0 should have the changes to handle .hh files.

[2016-06-30 18:47] sridmad commented on #85
@rogersachan, Can you give us more context?

[2016-06-30 18:52] sridmad commented on #55
Closing as the original issue is resolved

[2016-06-30 18:52] #55 closed, assigned to nobody

[2016-06-30 18:53] sridmad commented on #55
and @jacdavis, answered the question about setting up build tasks

[2016-06-30 19:40] ghost commented on #85
Can Bash on Ubuntu for Windows be used in place of Cygwin for the VSCode C++ extension?

[2016-06-30 19:47] jgoshi commented on #64
The fix will be available in the next release, version 0.8.0

[2016-06-30 19:47] #64 closed, assigned to jgoshi

[2016-06-30 19:52] jgoshi commented on #51
In the next release, version 0.8.0, we also add a new switch to the c_cpp_properties.json file called limitSymbolsToIncludedHeaders. If you set that value to true we only add symbols for those files that are directly/indirectly included. This will greatly reduce the database size.

[2016-06-30 19:52] #51 closed, assigned to jgoshi

[2016-06-30 19:54] jgoshi commented on #11
In the next release, version 0.8.0, we also add a new setting to the c_cpp_properties.json file called databaseFilename. If you point that to a local drive this will speed things up.

[2016-06-30 19:54] #11 closed, assigned to jgoshi

[2016-06-30 20:10] jgoshi commented on #18
In the next release, version 0.8.0, we will support subdirectories in include paths (ex: #include <directory/header_name>).

As for the other part of this bug, we currently do not support "~" syntax such as "~/dev/nRF5_SDK_11.0.0_89a8197/components/ble". I'm closing this bug but you can track that work in the following issue.
#87

[2016-06-30 20:10] #18 closed, assigned to jgoshi

[2016-06-30 20:29] spinicist commented on #18
Looking forward to it.

[2016-06-30 22:07] jgoshi commented on #82
This will be fixed in the next release, version 0.8.0. Anything you explicitly include should now end up being parsed for symbols.

[2016-06-30 22:07] #82 closed, assigned to jgoshi

[2016-06-30 23:17] sridmad commented on #85
@delmyers do you know the answer?

[2016-06-30 23:58] jgoshi commented on #6
The fix will appear in the next release, version 0.8.0

[2016-07-01 10:48] lamqhoang opened #89 "Navigate to Symbol, Go to Definition, Go to Declaration are gone"
Hi,
This is the first time I'm working with Visual Studio Code. I installed the C/C++ extension  few days ago, it was working fine. Today those functions are gone. I tried to uninstall and reinstall the extension but it doesn't help.
What should I do?
Regards,
Hoang

[2016-07-01 12:00] TommasoScalici opened #90 "Breakpoints not hit when using GDB (MinGW)."
So, I'm trying out the extension and after being able to build and run a sample, I'm stuck with debugging. I configured gdb path, I can set breakpoints in the editor but they aren't hit while executing the application. Is there something that am I missing?
I'm using Visual Studio Code 1.2.1 with C/C++ extension 0.7.1 on a Windows 10 machine with MinGW (latest mingw32-base) installed.

Here are my

[2016-07-01 23:45] jgoshi commented on #54
This is fixed and will appear in the next release, version 0.8.0

[2016-07-01 23:46] #54 closed, assigned to jgoshi

[2016-07-02 22:09] ghost opened #91 "Unable to start debugging. No terminal is available to launch the debugger. Please install Gnome Terminal or XTerm"
I'm using rxvt-unicode, do I really need to install one of those? Can I set what terminal to use somewhere?

[2016-07-03 15:08] ivomachado commented on #90
You must compile with the -g option in the gcc.

[2016-07-03 20:53] TommasoScalici commented on #90
Whoops, good catch!
Thank you! 👍

[2016-07-03 20:53] #90 closed, assigned to nobody

[2016-07-06 08:52] ghost commented on #89
Hi,

Symbol/Definition navigation completely stops working when c_cpp_properties.json exists. If I delete only this file then navigation appears to work.

If c_cpp_properties.json exists then no browse.VC.db file is  generated.

C/C++ v 0.7.1, on Debian Sid (everything else seems fine - can do makefile builds fine, stop-mode debugging TypeScript).

Version 1.3.0-insider
Commit a1293f5056e79c3f0e2c

[2016-07-06 11:35] #67 closed, assigned to nobody

[2016-07-06 14:54] Hariharanmrgh opened #92 "error"
While installing c/c++  I had got an error like
"self signed certificate in certificate chain"
what can I do? please help me

[2016-07-06 16:55] delmyers commented on #91
Unfortunately, we can't support all terminals. We have to set up special stdin/stdout redirection in order to make gdb work correctly. Each terminal has a different way to do this, and the debugger must launch the terminal in order to do the redirection. Sorry for the inconvenience.

[2016-07-06 16:55] #91 closed, assigned to nobody

[2016-07-06 16:56] delmyers commented on #92
What OS are you using? Is this a Mac?

[2016-07-06 16:59] delmyers commented on #86
@dbaeumer, there was a short-lived bug in the debugger due to us accidentally releasing two binaries that were not in sync. After updating your C/C++ extension, that should have been fixed. Sorry for the inconvenience.

[2016-07-06 17:00] delmyers commented on #84
@fsacer, can you try updating the extension? There was a short lived bug in which this could occur because the we released two binaries that were not in sync.

[2016-07-06 17:06] delmyers commented on #69
@hungys, sorry for the delayed response. Try typing "-exec set print pretty" in the debug console. This will turn on pretty printing for gdb. We turned it off by default because of performance issues.

[2016-07-06 18:44] fsacer commented on #84
@delmyers, thanks it works now, just had to remove .vscode folder and readd the config. This can be closed now.

[2016-07-06 18:44] #84 closed, assigned to nobody

[2016-07-06 20:09] moisesguimaraes opened #93 "Unable to start debugging. Program path '...' is missing or invalid."
I'm getting the following error when trying to run the debugger. I'm on a OS X El Capitain and here is my configuration:

{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "client",
            "type": "cppdbg",
            "request": "launch",
            "launchOptionType": "Local",
            "targetArchitecture": "x64",
            "program": "${workspaceRoot}/ex

[2016-07-06 20:10] moisesguimaraes commented on #93
running the same string from '...' in the command line works as expected.

[2016-07-07 08:54] dmazuronak commented on #69
The option pretty print only affect the way how [gdb](http://www.delorie.com/gnu/docs/gdb/gdb_58.html) print structures.
The output in Varaiables windows remains unaffected.

[2016-07-07 17:13] jgoshi commented on #87
The fix is in the next release, version 0.8.0. We will resolve:
1. Environment variables using the syntax ${var}
2. '~' expansion to the user's home directory

[2016-07-07 17:14] xtrium-lnx commented on #87
Awesome ! Thanks for the quick reaction :)

[2016-07-07 17:41] mschuckmann commented on #69
I'm seeing the same thing, it would be really nice if VSCode could use the pretty printers when show STL variables in mouse hovers and the Watch window.

[2016-07-08 06:23] Jevyn opened #94 "Sym links not followed for includes on Linux"
Due to needing different structures for different versions, I used Linux symbolic links to link to the correct header.  These links are not being followed, causing the green squiggle to appear under the header in the gui.

Example to reproduce:

Some C file contains #include "version.h"

On the OS, version.h is a sym link to version_5.h
A squiggle will appear under version.h, even if I add this di

[2016-07-08 21:39] HildarTheDorf opened #95 "Intellisense: Types in namespace appear in global namespace."
Types within nested namespaces also appear in the global namespace. In the case of some standard lib types they don't appear in `std::` at all.

To reproduce:

`#include <memory>` then type `std::unique_`
Expected behavior: `unique_ptr` is suggested
Actual behavior: `unique_ptr` is not suggested. It is however suggested when just typing `unique_` without the `std:`: qualifier.

`namespace Foo { na

[2016-07-12 13:51] csholmq opened #96 "Honor *.exclude settings"
The indexing doesn't seem to honor the *.exclude settings and simply indexes all files within the project.

[code]

It would be nice if one could exclude the build directory (in my case **/out) as it only gives me grief and multiple matches.

[2016-07-13 04:37] rhoot commented on #40
I'm seeing this on OSX with 0.7.1.
<img width="327" alt="screen shot 2016-07-12 at 21 33 39" src="https://cloud.githubusercontent.com/assets/1258798/16791938/60dc3be8-4878-11e6-8664-7990e4a28036.png">

As for everyone above me, the path is correct:

[code]

[code]

[2016-07-13 04:44] rhoot commented on #40
Actually, I added a slash after `/usr/include` (to get `/usr/include/`) just for testing. It didn't make any difference, but once I removed the slash again and saved it magically started working. It is no longer telling me it can't find the headers.

[2016-07-13 15:00] abc100m opened #97 "how to use "Go to Declaration" feature?"
"Go to Definition" , press  F12  works well

now I want "Go to Declaration", how to jump to declaration?  I can't find any way to do this

[2016-07-13 23:01] weinand opened #98 "Unable to start debugging. No terminal is available to launch the debugger. Please install Gnome Terminal or XTerm."
_From @naveedrasheed on July 13, 2016 20:28_
- VSCode Version: 1.3.1
- OS Version: ArchLinux

Steps to Reproduce:
1. Build a C\C++ project.
2. Create launch.json
3. Try to start debugging.

I think there should be an option in launch.json to set terminal path as well.

_Copied from original issue: Microsoft/vscode#9231_

[2016-07-13 23:31] weinand opened #99 "issue with package.json"
_From @nate2009 on July 13, 2016 6:15_
- VSCode Version:
- OS Version:

Steps to Reproduce:
1. Cannot read file /home/iga/.vscode/extensions/ms-vscode.cpptools-0.7.1/package.json: ENOENT: no such file or directory, open '/home/iga/.vscode/extensions/ms-vscode.cpptools-0.7.1/package.json'.
2.

_Copied from original issue: Microsoft/vscode#9171_

[2016-07-13 23:31] weinand commented on #99
@nate2009 in what situation does this occur? Please provide **steps** not just an error message.

[2016-07-14 12:27] equinoxr opened #100 "CppTools Debugger says "Debug adapter process has terminated unexpectedly" on Arch Linux"
When I try to Debug my cpp which has a a.out file (made with -g in g++) vscode brings this failure on Arch Linux. Cant fix it because i have even no clue where vscode puts its log for this failure or even if it is producing logs...

is there hope to fix this? at least to include logs for problems like that?

Greetz Marcel

[2016-07-14 19:47] naveedrasheed commented on #98
The problem is xterm and gnome-terminal is hard-coded at terminal.ts.
`let defaultTerminalLinux = 'xterm';
if (env.isLinux) {
    if (fs.existsSync('/etc/debian_version')) {
        defaultTerminalLinux = 'x-terminal-emulator';
    } else if (process.env.DESKTOP_SESSION === 'gnome' || process.env.DESKTOP_SESSION === 'gnome-classic') {
        defaultTerminalLinux = 'gnome-terminal';
    }
}

expor

[2016-07-14 19:50] jmlewis1 commented on #26
I don't think I can reopen, but I'm still seeing this issue.

I just updated the cpptools extension to 0.7.1 , and VS Code to 1.3.1, and let it run creating my database for an hour or so.  The closed VS Code (while the database was still being created), then relaunched VS Code, and the database size dropped to 0, then started counting back up again.

[2016-07-14 20:00] jmlewis1 opened #101 "Prioritize parsing opened files"
Currently, you seem to parse in whatever order you find files in.

On a large project this is annoying.  If I explicitly open some file, those symbols may not become available until much later, when you finally get around to parsing that file.

It would be smarter if you could prioritize parsing any files I open first, then continue parsing other files in the background, to make code usable much f

[2016-07-14 20:17] paulmaybee commented on #69
Type "-exec -enable-pretty-printing" in the debug console.

[2016-07-14 22:30] edumunoz commented on #98
Hi @naveedrasheed,

What terminal emulator would you like to use?

For your reference, the code that launches the terminal emulator is not the one you copied (which is from the VSCode codebase), but rather it's here:

https://github.com/Microsoft/MIEngine/blob/master/src/MICore/TerminalLauncher.cs

(search for `LinuxTerminalLauncher`)

As you can see, one of the issues is that different terminal e

[2016-07-14 23:50] informatik01 commented on #40
I have Visual Studio Code **version 1.3.1** installed on Windows 10 and still see this issue despite the fact that the path to the include directory is correct:

[code]

[2016-07-15 02:36] hungys commented on #69
@delmyers @paulmaybee Thanks. It works now with `-exec -enable-pretty-printing`.
Btw, can we set it as the default configurations, or is there any roadmap to add this feature? Seems that we need to type that command in the debug console every time.

![STL debugging](http://i.imgur.com/DEewS4n.png)

[2016-07-15 03:20] hungys opened #102 "External terminal setting not applied to C/C++ extension"
I am trying this C/C++ extension on OS X. Every time I launch the C++ program from VSCode, it will open an OS X's built-in Terminal, even if I have set `terminal.external.osxExec` to be `iTerm.app`.

Is there any way to open iTerm instead of OS X's built-in Terminal app? and is there any plan to support using VSCode's integrated terminal without opening additional window?

[2016-07-15 08:18] Seg0r commented on #97
I got similar problem/question. I got code in C, when i use F12 (Go to Definition) on function name it goes to declaration in header file and not to definition in other source file... Please fix it as it is a most important feature in every IDE.
Peek definition also shows declaration. Both ways does not suggest other competing declarations/definitions.

[2016-07-15 12:36] peterazmanov opened #103 "GDB crashes under visual-studio-code with internal error"
Debugger can't pass certain point in my program, while debugging under visual-studio-code. If I run the session in terminal (outside of IDE) everything works normal. In simplified version debugger crashes only when entering the problem function. Here is output from VS code debug console:

[code]

Here is simplified self contained code (test.txt must contain at least 4 bytes):

[code]

Problem func

[2016-07-15 16:50] mschuckmann commented on #69
Yes works for me too and I second the need for some way to set it as the default configuration or event some way to provide a list of command gdb at launch.

I tried adding it my ~/.gdbinit file and it doesn't seem to work.

[2016-07-16 00:45] informatik01 commented on #40
### Solution (for Windows)

OK, I have managed to solve this issue on _Windows 10_. I found the answer on Microsoft's Visual Studio forum [here](https://social.msdn.microsoft.com/Forums/vstudio/en-US/0f580a73-6f11-4aa6-abbe-6bf1438734c2/standard-files-stddefh-stringh-missing-in-visual-studio-2015-rc?forum=vclanguage#answers).

The key was a quote from an article ["Introducing the Universal CRT"](h

[2016-07-17 01:54] TurkeyMan commented on #75
I just wanna ask if there's any movement on this? It's really holding up my work, and it seems like it should be a trivial fix?

[2016-07-17 13:46] weinand opened #104 "VSCode Debug C++, breaking point not working"
_From @freedomabcd on July 17, 2016 2:8_
- VSCode Version:1.3.1
- OS Version:Ubuntu 14.04

I debug an C++ project onUbuntu 14.04. I run cmake to produce an executable file and setting VSCode config file. When I press F5 to debug, the program runs well, but it doesn't stop at breaking point!

my source code is in ${workspaceRoot}/InfiniTAM
executable file is in ${workspaceRoot}/build

My config fil

[2016-07-17 13:46] weinand commented on #104
VS Code does not have a builtin C++ debugger. Moving this issue to C++ repository.

[2016-07-18 17:07] edumunoz commented on #102
Currently, no.

For the other two questions, you can check here some pointers for the code that does this in case you have suggestions or would like to submit a PR: https://github.com/Microsoft/vscppsamples/issues/98#issuecomment-232811482.

[2016-07-18 17:30] edumunoz commented on #104
Hi @freedomabcd,

Can you make sure your executable is built with debugging information?

[2016-07-18 20:43] delmyers commented on #98
@naveedrasheed, unfortunately, we can't simply add a terminal path for our launch options. The debugger has to interact with the terminal, and each terminal behaves differently, so we cannot support them all. Are you unable to install xterm?

[2016-07-18 20:43] #98 closed, assigned to nobody

[2016-07-18 23:37] sj-li commented on #104
@edumunoz you are right! thank you very much :D

[2016-07-19 14:15] albtdd commented on #40
I have the same issue:
![main](https://cloud.githubusercontent.com/assets/12040245/16953055/ec82d03c-4dcb-11e6-9bf2-b973375b8957.png)

SDL is in the right direcory (usr/include/SDL):
![c_cpp_config](https://cloud.githubusercontent.com/assets/12040245/16953060/f2ed9b28-4dcb-11e6-9491-418fed23de52.png)

![usr_include](https://cloud.githubusercontent.com/assets/12040245/16953062/f63699d8-4dcb-11e6-93

[2016-07-20 01:29] ghost commented on #85
@delmyers any update?

[2016-07-20 08:05] vsamy opened #105 "Include file not found"
Hi everyone,

So i ran into an issue when trying to include libraries like eigen or spacevecalg (https://github.com/jorisv/SpaceVecAlg).

The include is: `#include <Eigen/Core>`

I updated the include path in c_cpp_properties.json with
`"includePath": ["/usr/include/c++/4.9.3/", "/usr/include/eigen3/"]`
The Core module is indeed installed by default in "/usr/include/eigen3/Eigen/Core".

Same when

[2016-07-20 20:38] xiaochuanyu opened #106 "[Feature Request] Execute GDB commands without typing "-exec""
Is there a way to execute GDB commands without typing "-exec".
I find having to type "-exec" as a prefix to every GDB command cumbersome.
Perhaps a flag in the settings can be added to specify all commands in the GDB prompt to be interpreted as GDB commands only. This way there is no need to prefix GDB commands with "-exec".

[2016-07-20 21:07] pieandcakes commented on #99
@nate2009 Can you also try and reinstall the extension?

[2016-07-20 21:14] pieandcakes commented on #93
@moisesguimaraes Thank you for reporting this issue. Can you tell me which folder you opened in Visual Studio Code and if your executable is called "client"?

for example, when I open my project, I'm opening the folder /Users/piel/src/testproject and my program is called a.out, then my program parameter would just be ${workspaceRoot}/a.out .

[2016-07-20 21:19] pieandcakes commented on #85
@rogersachan Currently we only support MinGW and Cygwin. We can take this as a feature request

[2016-07-20 23:02] moisesguimaraes commented on #93
Hi @pieandcakes ,
Yes, my executable is called 'client'.

[code]

Thanks for your help.

[2016-07-21 00:01] KHeresy commented on #85
Please support this!
This make VSCode easier to use in Windows 10

[2016-07-21 00:02] ivomachado commented on #88
Any updates on this?

[2016-07-21 02:25] anpilog opened #107 "Bug in case of debugging BareMetal over GDB"
Hi,
- **does anyone have an idea how it could be fixed without waiting for next version of cpptools?**
- **hope it's going to be fixed in release**

**_Details**_

I've tried to debug baremetal arm MCU from VSCode and it seems working in general.
However there few pretty nasty nuances in configuration...

To get things running I had to manually specify custom lunch commands:
- connect to remote ta

[2016-07-22 18:36] lizp08780 opened #109 "Go to Declaration"
源代码在_.pc中，Go to Declaration只能到_.h文件中，而不是*.pc中。

[2016-07-22 21:00] pieandcakes commented on #8
We have support now with MinGW and Cygwin on Windows

[2016-07-22 21:00] #8 closed, assigned to nobody

[2016-07-22 21:02] #104 closed, assigned to nobody

[2016-07-22 21:03] pieandcakes commented on #104
Closing this issue as it looks resolved. Please reopen if this is not true.

[2016-07-22 21:06] pieandcakes commented on #100
@equinoxr would you be able to provide your launch.json file? Does this happen with a simple hello world project also? Which version of Arch Linux are you using?

[2016-07-22 21:06] pieandcakes commented on #92
@Hariharanmrgh Can you please provide more information such as your OS, when you get this error message?

[2016-07-23 00:19] pieandcakes commented on #5
Sorry for the delay. @jgminder Can you try it again? I'm using Linux Mint 7.3 in conjunction with VSCode 1.3.1 and our 0.7.1 extension and the attach seems to work fine. I notice I get a prompt to elevate as SU and I entered my password and i'm wondering if you are seeing that also

[2016-07-23 00:19] pieandcakes commented on #5
@ProjectDestiny Are you trying to do this on Mac or on Linux Mint?

[2016-07-23 00:21] pieandcakes commented on #19
I verified that the Debugger works on CentOS. @sridmad , I think this is a language service issue.

[2016-07-23 00:24] pieandcakes commented on #22
Closing as it looks like @krworks comment solves the problem

[2016-07-23 00:24] #22 closed, assigned to nobody

[2016-07-23 16:29] xingdl2007 opened #110 "Can't install on macOS"
Still "Installing" after a long time.
VS Code version : 1.3.1

[2016-07-23 16:51] m-j-w opened #111 "C/C++ include <header_with_underscore> not found"
- VSCode Version: 1.3.1
- OS Version: Windows 10

Steps to Reproduce:
1. install the C/C++ extension
2. set the include path correctly to the system headers' directory in c_cpp_properties.json
3. create a new C++ file that includes e.g. `<array>` and `<type_traits>`
4. observe that `<array>` is found, but `<type_traits>` is not, although both being in the same directory.

![image1](https://cloud.g

[2016-07-24 03:58] xiongyu0523 commented on #110
Yeah, I have the same problem on Windows 10, with the latest release.
I'm in China, is a google service used? or is a VPN required? I can install other extensions

[2016-07-24 13:15] m-j-w commented on #111
It also appears that the underscore only affects include files without file extension. E.g.

[code]

works quite fine.

[2016-07-25 08:37] fcharlie opened #112 "Inappropriate auto-completion"
Why comment line has AutoCompletion ?

C++ Extensions for auto-completion feature a lot of invalid insert, including header files do not have to be included, this problem has occurred in Visual Studio 2015 update 3 is almost disastrous.

![2016-07-25 16-23-33](https://cloud.githubusercontent.com/assets/6904176/17094918/9923f804-5284-11e6-922b-0a36688d1c1a.png)

![2016-07-25 16-35-48](https://cloud

[2016-07-25 17:36] delmyers commented on #110
Thanks, for your input. It seems that there have been problems with the marketplace these past couple of weeks. We are tracking down the right people to talk to try and get the issue resolved.

[2016-07-25 23:30] pieandcakes commented on #103
@peterazmanov I tried your scenario on Ubuntu 14.04 /w GDB 7.7.1. I compiled the above code with "g++ -g main.cpp -std=c++11" and then setting the breakpoints you are showing above. I'm able to step in and debug through the read_record method.

I'll attempt to setup an Arch Linux machine to see if I can repro on that.

[2016-07-25 23:42] pieandcakes commented on #93
@moisesguimaraes When you chose to open the folder in VSCode, did you open ~/workspaces/wolfssl/wolfssl/ or did you open ~/workspaces/wolfssl/wolfssl/examples/client/ ? I'm wondering why it can't find the executable for debugging.

[2016-07-26 06:44] b3sigma opened #114 "Losing case sensitive path causes problem on Linux"
Only reproduced when the vscpp extension is installed.

Repro: Linux Mint 17.3
- Open a folder with c source with a mixed case path like /home/user/Document/thing/
- Go to definition at least twice in a way that goes to two different files using a keyboard shortcut
  *\* Ex: start in main.c, then go to def of function in other.c, then go to def of function in third.c
- Use the keyboard shortcut fo

[2016-07-26 13:52] LFishi opened #115 "Debugger does not launch nor attach properly"
I am using:
- Ubuntu 16.04 (I know it is not supported officially)
- Latest VSCode version
- Latest "C/C++ for VSCode" version

My project structure looks like this:
- /home/lvier/mainProject/fooProject **(source code)**
- /home/lvier/mainProject/build/fooProject **(binaries)**

I am working in the sub-project "/home/lvier/mainProject/fooProject" and in "/home/lvier/mainProject/**build**/fooProjec

[2016-07-26 15:46] delmyers commented on #115
@jacdavis Can you take a look at this?
@LVier What version of gdb are you using?

[2016-07-26 15:48] LFishi commented on #115
The latest version:

[2016-07-26 16:05] jacdavis commented on #115
@LVier, I'm setting up a 16.04 machine now to see if I can repro this on attach. Any chance you can share your project with me?

[2016-07-26 16:36] LFishi commented on #115
@jacdavis: I have to consult this with my supervisors because this is a student project with an own implemented framework. Currently, I guess they will not allow me to do so - I can find out more on this thursday.

Otherwise: What is with creating a blank C/C++ project - are you able to use the request-type "attach" or does it also say "Attach is not supported"? (I didn't try out yet because of la

[2016-07-26 16:43] jacdavis commented on #115
Attach appears to be working fine for me on a basic app in Ubuntu 16.04. I'll try a dynamically loaded shared lib or use some threading libraries and see if that repros the issue you are seeing "Commands are only accepted when the process is stopped".

Also, as an aside, the request type for attach is supposed to be "launch". You shouldn't change this value to attach.  The key to making it attach

[2016-07-26 16:52] delmyers commented on #107
@anpilog I'm trying to understand your request right here. Remote debugging to an arm device isn't a scenario that we have tested. It seems that you are having issues because of spaces in your folder name, and that isn't working correctly for you. Also, it looks like you are debugging on Windows, correct? If we were to fix the problem with the path, would that be enough to unblock you?

[2016-07-26 16:53] jacdavis commented on #115
Okay, with a background thread created in the debuggee, it looks like I can repro this issue.
Thanks a lot for reporting this. I'll continue to investigate.

[2016-07-26 16:58] LFishi commented on #115
That's what I guessed, so I changed the request type back to "launch".
What I would prefer for the attach handling:
- Setting the "processId" with "pidof <processName>". In my case "processId": "pidof foo_sub1". It would be so much easier by doing so
- If the terminal does not ask me everytime, if I want to start gdb as superuser (and then after answering "Yes" prompting for PW).

What do you say?

[2016-07-26 17:29] jacdavis commented on #115
"I guess there is no workaround for me in the meanwhile?" - not sure yet. I'm still investigating.

[2016-07-26 19:28] peterazmanov commented on #103
After system update (4.6.4-1) and extension update (0.8.0), the sample crashes.
Output:

[code]

[2016-07-26 20:43] kieferrm opened #116 "Change "environment" to "env" in launch.json"
Moved from https://github.com/Microsoft/vscode/issues/9733:
- VSCode Version: 1.3.1 with C/C++ extension 0.7.1
- OS Version: Linux

Steps to Reproduce: Open launch.json and hover over "environment":
![bildschirmfoto zu 2016-07-26 09-14-41](https://cloud.githubusercontent.com/assets/80071/17129146/ad8f5b5c-5311-11e6-953c-d82ed8d6c60f.png)

I followed the example, but I'm getting `Incorrect type. Ex

[2016-07-26 21:01] m-j-w opened #117 "Consider enabling code folding on C++ namespaces"
Code folding is enabled on structs and control flow statements. Unfortunately not on namespaces.
In files with lots of helpers scattered throughout the file, code folding/collapsing those namespaces would be really helpful.

Thus, please consider enabling code folding on C++ namespaces. Thanks !

[2016-07-26 22:52] delmyers opened #118 "ctrl-shift-o shows too many symbols in version 0.8.0"
Taken from the reviews on our extension page:

shift+ctrl+o, to show current file symbols. but vscode show 9999 and more symbols? why? Is this a bug? when I change 0.8.0 to 0.7.1, it works well. Mac OS 10.11.5

[2016-07-27 00:46] jacdavis commented on #115
A change was recently made to detect the debuggee target architecture automatically. This check was not done properly and is getting rejected because the debuggee is in run mode when it executes on 16.04 attach with a thread created. Because this happens during the initialization phase, the engine shuts down the debug session.

As of right now, I don't think there is a work around. I'll keep you p

[2016-07-27 02:54] orsmile opened #119 "C/Cpp Language Server server crashed, when I click the "Go to Declaration""
When I click the Go to Declaration , I can't get no any response and vscode just show
"The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted."

I use windows 7 and source file in the remote server.
I use [https://github.com/Foreveryone-cz/win-sshfs](win-sshfs) to connect my remote server.

Please solved this issue thanks.

[2016-07-27 06:38] anpilog commented on #107
All is correct.

We can look on this issue like this:
Remote debug is a use case where I faced the issue.
And the issue is that path with white-space processed in a wrong way.
If I could use ${workspaceRoot} in customLaunchSetupCommands then it's definitely removes showstopper.

However there is other thing:
I would expect that if 'program' is defined then it's passed to gdb as argument and thus s

[2016-07-27 12:43] LFishi commented on #115
Btw, when I set "cwd" to "${env.build_foo}" then I can launch the program with vscode even though the debugger behaves as before and furthermore, no mapping to source file exist now. Of course this may not be intended but I just wanted to mention it.

[2016-07-27 21:06] pieandcakes commented on #116
@kieferrm the environment variables are name/value pairs within an array. Proper usage should be:
"environment": [{"name": "squid", "value": "clam"}, {"name": "squid1", "value": "clam1"}]

It is expecting an array which is defined by [ ] and then each name/value pair is within { }.

[2016-07-27 22:07] jgoshi commented on #111
![image](https://cloud.githubusercontent.com/assets/19478941/17194207/91a673da-53f2-11e6-9cc8-f267bade00df.png)
This works with the latest c++ extension (version 0.8.0). If you want any updates you make to the extensionless file to be parsed (for browsing) you need to update the file type as shown in the attached screenshot.

[2016-07-27 22:07] #111 closed, assigned to nobody

[2016-07-27 22:09] jgoshi commented on #105
This was just fixed an should appear in the next release (version 0.9.0)

[2016-07-27 22:09] #105 closed, assigned to nobody

[2016-07-27 22:20] jgoshi commented on #97
Which version of the C++ extension are you using? From version 0.8.0 on Windows you may have a slightly improved experience for this since we added a global cpp.hint file (handles common macros on Windows).

[2016-07-28 00:45] pieandcakes commented on #103
@peterazmanov I reproed your issue on Arch Linux and it seems to be a bug in GDB. We communicate with GDB using the MI interface and when we step into read_record, we call -stack-list-arguments to update the UI with the arguments list information for the stack. This seems to cause the error you see in your latest log:

value.c:824: internal-error: value_contents_bits_eq: Assertion `offset1 + lengt

[2016-07-28 08:57] xziya commented on #81
And it always shows the suggestions after punctuation like semicolon and left brace.

[2016-07-28 09:59] ayushdas opened #120 "C/C++ Keywords in auto complete"
The auto complete does not provide keywords like return,include,namespace...

[2016-07-28 14:53] moisesguimaraes commented on #93
~/workspaces/wolfssl/wolfssl/

[2016-07-28 15:21] delmyers commented on #115
@LVier, we checked in and released a fix. Can you try updating your extension, and let us know? Thanks.

[2016-07-28 15:21] #115 closed, assigned to nobody

[2016-07-28 16:12] LFishi commented on #115
**Yes and no:**
I can confirm that my first problem with the "C++ Attach"-config has been solved, thank you for this fast fix!
But my second problem with my "C++ Launch"-config I mentioned in my original post is still not working yet (same behavior as in the original post). Therefore I am not sure if this issue should yet be marked as "closed".

Furthermore, the following notes may be different "i

[2016-07-28 16:21] jacdavis commented on #115
Thanks for verifying the attach fix. We can't repro the launch issue with the debuggees we have used. Did you get a chance to speak to your supervisor about sharing the repro?

As for attach not prompting, if you install vscode as root, and give rights to vscode to debug, then you will not get prompted. Unfortunately in Linux, most attach scenarios require root permissions (unless the attach proce

[2016-07-28 16:30] delmyers commented on #103
@pieandcakes
Can you verify that the same thing happens inside GDB? That is, step into the method, and then call the same command -stack-list-arguments and see if the debuggee quits? If it does, then there is, unfortunately nothing we can do about this other than file a bug against GDB.

[2016-07-28 16:35] delmyers opened #121 ""warning gdb failed to set controlling terminal operation not permitted" when launching a GUI application."
Forked from #115

I am using:
•Ubuntu 16.04 (I know it is not supported officially)
•Latest VSCode version
•Latest "C/C++ for VSCode" version

My project structure looks like this:
•/home/lvier/mainProject/fooProject (source code)
•/home/lvier/mainProject/build/fooProject (binaries)

I am working in the sub-project "/home/lvier/mainProject/fooProject" and in "/home/lvier/mainProject/build/fooProje

[2016-07-28 16:50] delmyers commented on #121
@LVier
I've forked this issue from your original bug #115. Unfortunately, we can't repro it. Can you help us investigate it a bit? There is a way to enable logging for our debug engine, which can help us to track down the issue.

Please open your package.json file for the cpp tools extension:

`~./vscode/extensions/Microsoft.cpptools-<version>\package.json`

look for the following snippet:

[code]

[2016-07-28 16:56] delmyers opened #122 "Remove "root permissions" prompt when attaching in GDB"
This is a request inside #115. I separated it out just for tracking purposes. Unfortunately, we can't fix it. This is a limitation of GDB. One cannot attach to a process without root permissions. The work around is to install VsCode as the root user and debug your applications from that instance of VsCode. Unfortunately, launching VsCode as root will not work because permissions are not passed to

[2016-07-28 16:56] #122 closed, assigned to nobody

[2016-07-28 17:29] LFishi commented on #121
Sure, I may investigate it again this weekend and will inform you asap.

[2016-07-28 17:36] LFishi commented on #115
Thanks for the forking and further provided answers.
Unfortunately, no, I somehow forgot to ask again. I can write an email these days and see what they will respond.

**But the following note from my last answer still seems overlooked if I checked your answers right:**

[2016-07-28 18:05] pieandcakes commented on #103
@delmyers Yes, the same thing happens in GDB when I call -stack-list-arguments in that block of code. unfortunately there isn't a non-mi command that I can verify this in regular mode GDB.

[2016-07-28 18:25] pieandcakes commented on #93
@moisesguimaraes I'm wondering if its an issue with your version of GDB. Do you have it signed and are you able to debug your executable with GDB? Signing instructions are in the README.md that is located under ~/.vscode/extensions/<extension name>.

We released an update (0.8.1) that now supports debugging with lldb if you want to give that a shot instead. You will need to delete the launch.json

[2016-07-28 20:32] niedzielski commented on #6
Fixed! \o/ Thank you!

[2016-07-29 06:02] ADRIAGUSJO opened #123 "ejemplos"

[2016-07-29 13:23] Seg0r commented on #97
Problem still existed on 0.8.0.
I have just updated to 0.8.1 and nothing have changed. "Go to definition" jumps to declaration in header file :(
I found another bug: I tried to rename this header file, and now all old names shows in window with possible match...
![image](https://cloud.githubusercontent.com/assets/20472869/17249405/20e7ff10-55a0-11e6-9052-4ca98569460b.png)
after clicking in any it

[2016-07-29 17:34] peterazmanov commented on #103
I downgraded GDB to version 7.7.1 and the sample stopped crashing. I can now debug my program. Another problem which I encountered recently with the newest gdb has gone too (trying to stop on breakpoint GDB freezes, eats all memory and crashes). I didn't test versions between 7.7.1 and 7.11.1, maybe there is a newer version not affected by this bug.

[2016-07-29 18:32] yyxiongzju opened #124 "launch: program '/home/../a.out' does not exist"
It is so frustrating to use visual studio code for compiling c++ code on linux, and Mac. Here is my launch.json on Ubantu,
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "C++ Launch (GDB)",
            "type": "cppdbg",
            "request": "launch",
            "miDebuggerPath": "/usr/bin/gdb",
            "targetArchitecture": "x64",
            "program": "${w

[2016-07-29 18:44] #123 closed, assigned to nobody

[2016-07-29 18:51] delmyers commented on #124
@yyxiongzju Are you attempting to compile your application? VsCode does not have a project system, so you have to either compile at the command line, or create a build task. There is documentation about how to do it [here](https://code.visualstudio.com/Docs/editor/tasks). Here is an example build task for compiling GCC:

[code]

[2016-07-29 18:51] #124 closed, assigned to nobody

[2016-07-29 20:53] yyxiongzju commented on #124
Thank you for your help. I did construct a build task, tasks.json, like what I posted in the question. It did not help anyway. Any insight about this problem?

[2016-07-29 20:55] jacdavis commented on #124
Did you also add the prelaunch property to automatically execute your build task when you start debugging?

From: yyxiongzju [mailto:notifications@github.com]
Sent: Friday, July 29, 2016 1:54 PM
To: Microsoft/vscppsamples vscppsamples@noreply.github.com
Subject: Re: [Microsoft/vscppsamples] launch: program '/home/../a.out' does not exist (#124)

Thank you for your help. I did construct a build tas

[2016-07-29 20:57] delmyers commented on #107
@anpilog I tested this out today on my windows box using mingw/gdb where my ${workspaceRoot} has spaces in it, and I'm not seeing an issue. Could this be an issue with your version of gdb? What version are you using? Also, is it this portion:

[code]

[2016-07-29 21:12] delmyers commented on #107
@anpilog I was able to get this to work with mingw and gdb (I don't have one of the arm devices that you are working with), I just had to work around the fact that json and gdb will both try to escape the characters. For example:

`"text": "file ${workspaceRoot}/myfile.elf"`

Worked with any of the following:

`"text": "file \"${workspaceRoot}\\\\myfile.elf\""` (double escaped back slashes, and es

[2016-07-29 23:05] duncanhorn opened #125 "Intellisense is too agressive now"
E.g. If I type:

[code]

It'll give me suggestions after typing the closing '>' which is _super_ annoying since it's muscle memory to hit enter

[2016-07-30 14:19] mateodelnorte opened #126 "Where is the code?"
Just curious. :)

[2016-07-31 09:14] anpilog commented on #107
Hi @delmyers

I'm using GDB from GNU ARM Embedded Toolchain project https://launchpad.net/gcc-arm-embedded

[code]

And I've tried all combinations you mentioned. None worked for me.

I'll try latest version of GDB tomorrow and let you know.

BTW, do you know why `customLaunchSetupCommands` overrides `program` setting?

[2016-07-31 16:00] ZHOUYue67 commented on #73
Hi, @sridmad, is it possible to set those include paths in global settings? Sometimes I just want to edit a single .c file and not to create a workspace only for this purpose. I think headers like `stdio.h`, `string.h`, etc. should be available by default for every .c file.

[2016-07-31 16:06] ZHOUYue67 commented on #58
Hi, @sridmad, the ability of setting default include paths in global settings could be really useful. Sometimes I just want to edit a single .c file and not to create a workspace only for this purpose. I think headers like `stdio.h`, `string.h`, etc. should be available by default for every .c file even without a workspace (.vscode/c_cpp_properties.json).

[2016-08-01 08:58] nikibobi commented on #118
I can confirm this. I think it includes symbols from all of your includes and maybe is related to

[code]

I'm on Ubuntu 16.04

[2016-08-02 00:21] duncanhorn opened #127 "Apostrophes auto-complete to single quotes when used in a comment"
E.g. if I'm trying to type:

[code]

I'll end up with:

[code]

and will manually need to delete the extra apostrophe

[2016-08-02 09:46] Seg0r commented on #97
Update: I am not sure, but I guess that the problem with jumping to definition can be connected with non-standard files  extensions (*.sqc and *.ec). I got one *.c file, and it works well on functions from this file.

[2016-08-02 15:41] bfarley792 commented on #19
I'm using RHEL 7, but see the same thing.  The debugger works as expected, but I don't have Go to Definition, etc. and .browse.VC.db never gets created.  I also see the GLIBC_2.18 error with ldd on the extension (RHEL 7's GLIBC version is 2.17)

[2016-08-03 18:05] jgoshi commented on #101
This is fixed and will appear in the next release (version 0.9.0)

[2016-08-03 18:05] #101 closed, assigned to jgoshi

[2016-08-04 09:08] aeschli opened #128 "c/c++ ext error"
_From @amither on August 4, 2016 5:13_
- VSCode Version: Code 1.3.1 (e6b4afa53e9c0f54edef1673de9001e9f0f547ae, 2016-07-12T13:35:06.227Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1.install c/c++ ext
2. in my c++ project , error info : The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.

_Copied from original issue: Microsoft/

[2016-08-04 09:55] aeschli opened #129 "Compile task sticks around after Extension Development Host is closed."
- start vscode fresh
- open a extension sample code, e.g. https://github.com/DanTup/Dart-Code/
- in the settings unfilter the out folder, so it can be seen in the exlorer
- delete the out/src folder, create a empty src folder again
- press F5.
- Extension Development Host starts, open a dart file, all works fine, files are compiled
- shutdown the Extension Development Host
- delete the out/src fol

[2016-08-04 09:55] aeschli commented on #129
This issue was moved to Microsoft/vscode#10118

[2016-08-04 09:55] #129 closed, assigned to nobody

[2016-08-04 18:06] pieandcakes commented on #128
@sridmad Please investigate. Thanks

[2016-08-04 18:08] #86 closed, assigned to nobody

[2016-08-04 18:09] pieandcakes commented on #86
I am closing this since it has been resolved. Please reopen if you are still having problems.

[2016-08-04 18:30] ghost opened #130 "No handler found for the command: 'C_Cpp.ConfigurationEdit'. An extension might be missing an activation event."
OS - Ubuntu 16.04.1
Compiler - Clang 3.8 / GCC 5.4.0
VSCode version - 1.3.1

After installing the extension, I tried configuring the includePath, but clicking on light bulb didn't do anything. Then clicked on F1->C/Cpp Edit Configuration and got this error message

Steps to reproduce:
Fresh installation of VSCode 1.3.1 on Ubuntu 16.04.1
Install the C/C++ extension
Press F1 and Choose "C/Cpp Edit C

[2016-08-04 19:11] ro-kue commented on #125
Yep. I uninstalled the extension for this very reason.

[2016-08-05 14:03] jrieken opened #131 "IntelliSense fails after backspace"
ms-vscode.cpptools-0.8.1
- take the code below
- run the steps as show in the gif
- ctrl+space -> see suggestions
- type `a` -> suggestions are narrowed down
- delete `a` -> 🐛 default suggestions show

![aug-05-2016 15-41-07](https://cloud.githubusercontent.com/assets/1794099/17439010/24d8f468-5b26-11e6-8201-9d41888abb47.gif)

[code]

[2016-08-05 14:07] jrieken opened #132 "IntelliSense inside comments"
ms-vscode.cpptools-0.8.1
- have the code below
- add a line or block comment
- 🐛  I don't expect to see `main` or `addition` to show there

[code]

[2016-08-05 14:07] jrieken commented on #132
![screen shot 2016-08-05 at 16 07 08](https://cloud.githubusercontent.com/assets/1794099/17439119/b8d2c68a-5b26-11e6-9476-5566a3c57d1b.png)

[2016-08-05 17:41] jmlewis1 opened #133 "Issue 26 is still happening"
https://github.com/Microsoft/vscppsamples/issues/26

This is still happening.  And, I have no way of reopening the issue, as requested.

This is simple to reproduce.  Open a folder big enough to take a long time to parse, wait for it to finish parsing.  Close the folder, open it again, and the .db file immediately drops to 4k in size, and starts growing again.

[2016-08-05 17:57] dmh2000 opened #134 "#include doesn't follow paths on windows"
using Vscode 1.4 and latest cpptools, i find that if a #include directive has a path, it is not followed and you get the green squiqqles and warning that path is not set.  this occurs when the include path is set in the proproperties file. . this also occurs with system includes such as #include <sys/types.h> when the include path property is set to Visual Studio C include path.

examples
# includ

[2016-08-05 20:11] spookysys commented on #85
++ on this!
This would make using windows for developing cross-platform software a lot more feasible

[2016-08-05 23:23] waderyan opened #135 "debugging config file lacks documentation"
This comment was on [HN](https://news.ycombinator.com/item?id=12229015).

![image](https://cloud.githubusercontent.com/assets/2449568/17452888/e7537e3a-5b28-11e6-85a0-06cc6a7cbf5a.png)

Passing on.

[2016-08-06 00:35] ghost commented on #85
The Anniversary Update is now out! This at least gives you all some reason
to support Bash for Windows, no?

On Fri, Aug 5, 2016 at 4:13 PM spookysys notifications@github.com wrote:

[2016-08-06 05:06] bobo4629 opened #136 "the Chinese output problem"
when use the printf() and output the Chinese char
it will be uncoded

i think that the VScpp doesn't use the UTF-8 when output.

[2016-08-07 01:58] songwenshuai commented on #53
error:The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.

china，vision 1.4 windows 7

[2016-08-07 04:57] sczh01 opened #137 "Can't debug"
condition:
OS: Win7 professinal 64bit, Chinese version.
WINGW: 6.1
## Below sample code can enter debug UI.
# include <iostream>

int main()
{
    int i = 10;
    while (i >= 0)
        std::cout << i-- << " ";
    return 0;
}
## But can't enter debug UI by below sample code.
# include <iostream>
# include <vector>

using std::cout;
using std::endl;
using std::vector;

int main()
{
    vector<int>

[2016-08-07 04:57] sczh01 commented on #137
VSC version is 1.4

[2016-08-07 08:41] songwenshuai opened #138 "When I uninstall reinstall studio code Visual, and then again to install the C\C++ extension, each time the.C file to open the error, the following is the wrong tips:"
The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.

[2016-08-07 14:19] dundun163 opened #139 "keep installing for hours..."
i wonder how much time does it need

[2016-08-07 18:27] charlie-rbchd opened #140 "Error output not showing in Debug Console"
I can't seem to be able to see the error output of my programs when debugging inside of Visual Studio Code. I would normally expect the output from `OutputDebugString` to be redirected to the Debug Console.

I'm compiling using Mingw on Windows 10 and I'm debugging with GDB. The Debug Console shows the standard output and GDB's output properly. but the all of the output done using `OutputDebugStri

[2016-08-08 16:29] jacdavis commented on #140
It is not implemented and needs changes to vscode before it can be implemented. We need the ability to also redirect stdin of your app as well. In the meantime, please use the externalConsole:true property to get a new console window for your application.

From: Joel Robichaud [mailto:notifications@github.com]
Sent: Sunday, August 7, 2016 11:28 AM
To: Microsoft/vscppsamples vscppsamples@noreply.gi

[2016-08-08 17:25] jacdavis commented on #137
What was the error are you getting when if fails? I tried your sample (after fixing a few compilation issues) and was able to debug.

One thing to try, if you’re getting a message like this:
ERROR: During startup program exited with code 0xc0000139.
The program 'c:\temp\customerbug\a.exe' has exited with code 0 (0x00000000).

is to make sure the path to mingw is contained within the path vscode is

[2016-08-08 20:50] delmyers commented on #139
@dundun163

This, unfortunately, likely has to do with connectivity problems, and not with the extension itself. There is currently a workitem tracking adding a feature to vs code to give progress indication for downloading extensions. You can see it here:

https://github.com/Microsoft/vscode/issues/9725

In the meantime, please quit VsCode and try again.

[2016-08-08 20:50] #139 closed, assigned to nobody

[2016-08-09 01:12] charlie-rbchd commented on #140
Ok, thanks for letting me know, I will be using the externalConsole in the meantime.

[2016-08-09 07:30] jrieken opened #141 "annoying c/cpp auto completion"
_From @netjune on August 8, 2016 2:9_
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

insert the following c code in c file:
`int i;`

On the second 'i' char, there was completion with prefix 'i'. It is OK.
On the last ';' char, there should not be auto completion, BUT there was (with all

[2016-08-09 07:30] jrieken commented on #141
_From @aeschli on August 8, 2016 7:20_

@netjune Is this with the c/c++ extension?

[2016-08-09 07:30] jrieken commented on #141
_From @netjune on August 9, 2016 1:0_

Yes, it must be. I only installed the following two extensions:
(1) c/c++ (0.8.1)
(2) Toggle Header/Source (0.1.2)

[2016-08-09 11:07] LeHibou commented on #130
Same here on OSX and a fresh install.

[2016-08-09 14:34] NOhs commented on #125
I think it is related to this issue: https://github.com/Microsoft/vscppsamples/issues/141

[2016-08-09 16:36] jacdavis opened #142 "Debugging with chroot set doesn't work"
[code]

NOTE: This looks like it may actually be a bug in vscode:

With the above scenario, when executed the Visual studio code from chroot environment, got the below error:
[code]

[2016-08-09 16:40] jacdavis commented on #107
"BTW, do you know why  customLaunchSetupCommands  overrides  program  setting?" - customLaunchSetupCommands completely replaces the set of MI commands we use when launching. If you just want to add to the set of commands, you can use the setupCommands option to append to our default sequence.

[2016-08-09 16:43] jacdavis commented on #60
@zethon. We shipped lldb for mac in our last release. Is this what you were looking for? Are you also looking for lldb on Linux?

[2016-08-09 23:10] ampatel21 commented on #121
I get that exact error if my user shell is tcsh.  No problems using bash.

[2016-08-10 09:15] songwenshuai opened #143 "When I open the C file, there is an error.：The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted."
Updating C++ Debugger dependencies...

Warning: Debugging is currently only supported for Windows when using MinGW or Cygwin. Please refer to C:\Users\songwenshuai.vscode\extensions\ms-vscode.cpptools-0.8.1\README.md for troubleshooting information. Issues can be created at https://github.com/Microsoft/vscppsamples/issues

Finished

The C/Cpp Language Server server crashed 5 times in the last 3 mi

[2016-08-10 09:17] songwenshuai commented on #119
Hello, I also appeared in this error, how should I do?

[2016-08-10 12:34] ampatel21 opened #144 "centos 7 - (not supported)"
Filing a bug for unsupported Centos 7.

1) No .browse.vc.db created after selecting "C/Cpp: Edit Configuration", and doing Ctrl+S to save the file.  Folder consisted of a HelloWorld.cpp, and a Makefile.

2) When having HelloWorld.cpp open there are no green squiggle around include files that don't even exist.

centos 7 build 1511 x86_64
ms vs code 1.4
cpptools 0.8.1

[2016-08-10 13:00] ampatel21 commented on #144
Centos 7build 1511 installs glibc 2.17, cpptools requires glibc 2.18.

[2016-08-10 13:00] #144 closed, assigned to nobody

[2016-08-11 05:35] rkeithhill commented on #6
I'm on 0.8.1 and these two files are still being created on a project (vscode extension project) that is not a C++ project.

[2016-08-11 19:47] greazer commented on #143
We'd like to investigate. Any chance you have a repro you can share?

[2016-08-11 19:50] greazer commented on #141
Thanks for the report. The aggressiveness of the autocomplete will be fixed in our next release. With regard to minimal prefix length, there is currently no way to set this. After the we fix the aggressive behavior, see if you still feel it's necessary. If so, please feel free to request it again.

[2016-08-11 19:52] greazer commented on #138
I presume this is a dupe report of the "crashing 5 times in the last 3 minutes?"

[2016-08-11 19:54] greazer commented on #132
Yep, we are aware of this problem and working on a solution. Not sure if it'll make the August release, but we're attempting it.

[2016-08-11 19:55] greazer commented on #131
This will be fixed in the next release of the extension. Thanks!

[2016-08-12 08:15] MeirionHughes commented on #6
I was just about to complain about this; but I think its actually the C# add-on that is doing it for me.

[code]

[2016-08-12 17:54] sridmad commented on #130
Thanks for the bug report.

Can you share the contents of package.json for the extension after it has been installed?
It should be in ms-vscode.cpptools-0.8.1 folder in the following path

Windows %USERPROFILE%.vscode\extensions
Mac ~/.vscode/extensions
Linux ~/.vscode/extensions

[2016-08-12 18:00] ghost commented on #130
[code]

[2016-08-12 18:07] rrciisc opened #145 "VSC c/c++ extension: using gcc/gdb/git from WSL on windows 10 Anniversary update"
1. I have installed gcc, gdb, git on WSL (windows system for Linux), which is basically bash shell of Ubuntu.
2. I have linked my windows-home-directory with WSL home directory.
3. currently I write code in VSC (visual studio code), but use gcc, gdb (cgdb), git in WSL to compile and debug my code.

Please integrate C toolchain of WSL with VSC C/C++ extension.

[2016-08-12 21:47] songwenshuai commented on #143
Submit a report, how should I operate?

[2016-08-12 22:18] jgoshi commented on #96
This is now fixed and will appear in the next release (version 0.9.0)

[2016-08-12 22:18] #96 closed, assigned to jgoshi

[2016-08-12 22:18] jgoshi commented on #27
This is now fixed and will appear in the next release (version 0.9.0)

[2016-08-12 22:18] #27 closed, assigned to jgoshi

[2016-08-12 22:20] jgoshi commented on #143
Can you attach a small repro project with steps to cause the crash?

[2016-08-12 22:26] jgoshi commented on #134
What version of the cpptools are you using? Using your sample it works fine for me.

[2016-08-13 01:18] rkeithhill commented on #6
I dunno.  I uninstalled 0.8.1 of this extension and the problem went away.

[2016-08-13 01:21] dmh2000 commented on #134
i'll check on monday, but i had just downloaded VS code from the website https://code.visualstudio.com, installed it and I went to install cpptools and they were already there. so i think it was the most recent version a week ago.

[2016-08-13 01:29] jgoshi commented on #6
I just looked at the source code. It was fixed, then looks like there was a regression recently. So what you said makes sense. I’ll fix it again for the next release.

From: Keith Hill [mailto:notifications@github.com]
Sent: Friday, August 12, 2016 3:18 PM
To: Microsoft/vscppsamples vscppsamples@noreply.github.com
Cc: Justin Goshi jgoshi@microsoft.com; State change state_change@noreply.github.com

[2016-08-13 14:14] equinoxr commented on #100
@pieandcakes : hi,
thx 4 ur reply. here is my json file:

`
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "C++ Launch (GDB)",
            "type": "cppdbg",
            "request": "launch",
            "targetArchitecture": "x64",
            "miDebuggerPath": "/usr/bin/gdb",
            "program": "/home/equinox/code/test1/a.out",
            "args": [],

[2016-08-14 21:23] blakebarber opened #146 "Go To Definition Opens to Non-Standard Path"
Let's say I startup VS Code to my project directory that has two or more subdirectories that looks like this:

project/
----source/
--------foo.hh
--------foo.cc
----other_stuff/

Now I click on foo.cc in the explorer to open it in my editor.  All is well, I see `foo.cc` open up and the path shown in the "Open Editor" area is `source/foo.cc` .  Now just for fun I hit F4 to bring up the header file

[2016-08-15 09:03] jrieken opened #147 "c++ header <iostream> not recognised in vscode 1.4.0"
_From @claus022015 on August 13, 2016 8:46_
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04.1 LTS

Hi all,

I've discovered a small bug while trying to code in c++ using vscode. I have to point out that i`m a noob in vscode.
It doesn't recognise the iostream header, unless i edit c_cpp_properties.json file.
By default, in this config file the includePath is set to "includePath": ["/usr/include"

[2016-08-15 10:04] jhasse commented on #116
Ah I see thanks :)

What do you think about renaming this to `env` and make it behave just as with node.js debugging? This would make it more intuitive IMHO.

[2016-08-15 16:07] delmyers commented on #147
@sridmad, can you comment on this?

[2016-08-15 16:13] delmyers commented on #145
@rrciisc, I'd like to get a few more details about your request.
First, how are you launching VsCode? Are you launching from Windows or are you attempting to launch from the bash shell?
Second, are you requesting that we implement launch from VsCode, or would attach be good enough (for now, anyway)?
Finally, if this functionality were available in Visual Studio, rather than VsCode, would you use V

[2016-08-15 16:16] delmyers commented on #137
@sczh01, I would like to follow up quickly, as this issue has gone stale. Has your issue been resolved? Are you able to debug?

[2016-08-15 16:19] delmyers commented on #93
@moisesguimaraes, I just want to follow up quickly to see if your issue has been resolved. As Pierson indicated, we have a new release that now debugs on Mac using a build of lldb rather than gdb. Are you able to debug if you update your copy of the C++ tools?

[2016-08-15 20:28] Vaadwaur opened #148 "C++14 integer literal colorization"
Using C++14 integer literal breaks the colorization of the rest of the file.

Example:
`auto myvar = 1'000;`

[2016-08-15 21:10] jgoshi commented on #114
This works for me with the latest. Does it still repro for you?

[2016-08-15 21:41] eliotstock opened #149 "Support code coverage tool, eg. gcov"
I'd like to get a view of which lines of my code are executed when I run my tests.

One approach would be to generate the coverage data using an external tool such as gcov, but have VSC understand gcov's .gcov files and shade lines of code to show coverage in the editor.

Another might be to use the integrated debugging features somehow.

[2016-08-15 22:48] jgoshi commented on #134
Even though cpptools was already there, it was probably an older version (since it wouldn't get installed with VSCode). You would need to upgrade it (when you find the cpptools extension there should be a button to upgrade). The latest available version would be 0.8.1

[2016-08-16 00:29] jgoshi commented on #118
This is fixed and will appear in the next release (version 0.9.0)

[2016-08-16 00:29] #118 closed, assigned to jgoshi

[2016-08-16 00:30] jgoshi commented on #6
Ok this is fixed and will appear in the next release (0.9.0)

[2016-08-16 00:30] #6 closed, assigned to jgoshi

[2016-08-16 05:12] rrciisc commented on #145
1. I am launching VsCode from outside the bash shell. Its launched as normal windows executable program.
2. VsCode's console's integration with bash shell will help streamline the workflow. In your second question, are you talking specifically about gdb ? For the time being, I think setting breakpoints in VsCode and attaching to gdb session in bash shell (running in VsCode console) will be good en

[2016-08-16 07:03] alexdima opened #150 "Huge .browse.VC.db file"
Moved from Microsoft/vscode#10557

---

From @bharathitman
- VSCode Version: 1.4.0
- OS Version: Windows 10

Steps to Reproduce:
1. I was working on a simple angular 2 application for a few hours. When I was about to push the code I got an error saying there was this huge file .browse.VC.db (~720 MB in size). I had to add this to git ignore
2. I think I do get the purpose of the file, but is it su

[2016-08-16 07:05] egamma opened #151 "Unexpected token ]"
_From @vscodeerrors on April 6, 2016 8:21_

Issue Id: <b>f3cc2e1d-6230-6369-eb72-6ce5b5069350</b><br /><br />_Versions_ <br />\- 0.10.14-insider<br />_Stack_ <br />SyntaxError: Unexpected token ]<br />    at Object.parse (native)<br />    at ConfigurationProperties.handleConfigurationChange (C:\Users\a123.vscode-insiders\extensions\ms-vscode.cpptools-0.4.2\out\src\C_Cpp_ConfigurationProperties.js:

[2016-08-16 07:05] egamma commented on #151
FYI @asthana86

[2016-08-16 07:05] egamma commented on #151
_From @willbar on May 3, 2016 16:26_

I'm hitting this issue in 1.1.0-alpha (76625649235f4e9e4fbc9ec466f35061a944758a) and it prevents me opening any *.ts files.

[2016-08-16 18:13] TiagoRabello commented on #134
I'm facing the same problem while using VSCode 1.4.0 and cpptools 0.8.1. It seems to be a problem with the handling of `/` on `#include` directives.

If I write `#include "foo/bar.h"`, it won't find the file even if `foo` is visible from any of my include paths and `bar.h` exists. However, the same is not true if I use `\`, as in `#include "foo\bar.h"`.

There also seems to exist a weird cache beh

[2016-08-16 18:43] jgoshi commented on #134
Thank you for the details. This behavior (the '/' vs '\' directory separator) issue has been fixed and will appear in the next release (version 0.9.0)

[2016-08-16 18:43] #134 closed, assigned to jgoshi

[2016-08-16 19:45] TiagoRabello commented on #134
That's good to hear. Any ETA on next release ?

[2016-08-16 19:55] jgoshi commented on #134
We can't guarantee, but we normally strive to release an update once per month.

[2016-08-16 21:21] b3sigma commented on #114
Nope, looks like it's fixed. Thanks!

[2016-08-17 01:30] dmh2000 commented on #134
I updated cpptools and the issue was fixed. Not the / \ thing just the
search path problem

dave howard
dmh2000@gmail.com

On Aug 16, 2016 12:55, "Justin Goshi" notifications@github.com wrote:

[2016-08-17 12:11] rrciisc commented on #85
+1 for this.

[2016-08-18 02:04] hacqr opened #152 "Empty .browse.VC.db file bug"
If a file in the sub directory contains Chinese, .browse.VC.db is empty!

for example

/project
/project/test/测试.file

cd /project && code .

[2016-08-18 03:27] b3sigma commented on #114
Sorry, it looks like maybe the repro is just more finicky than I thought? Anyway, it's still happening. Here's some additional info:
- I have this setting different than default which might be relevant:
  // Controls if opened editors show as preview. Preview editors are reused until they are kept (e.g. via double click or editing).
  "workbench.editor.enablePreview": false,

Repro steps this time

[2016-08-18 03:49] lasypig opened #153 "Empty file with wired name appears"
VSCode Version: Code 1.4.0 (6276dcb, 2016-08-04T16:37:17.621Z)
OS Version: Linux ia32 3.13.0-93-generic
Steps to Reproduce:

open vscode
close
a file named ??Q@h?}@8 appeared, size 0

[2016-08-18 03:51] lasypig commented on #153
ref： https://github.com/Microsoft/vscode/issues/10569

[2016-08-19 04:48] agauniyal opened #154 "c++ intellisense?"
Is intellisense feature in the works? Because currently the suggestions (if shown) aren't even context aware.

[2016-08-19 05:20] agauniyal opened #155 "explicit format using clang format?"
Is there an option to explicitly format selected code using clang format?

[2016-08-19 05:47] agauniyal opened #156 "Add support for compile commands json"
Feature Request - Most of the build systems nowadays have support for generating compilation database file, vscode cpp plugin should also support it. For more information - http://clang.llvm.org/docs/JSONCompilationDatabase.html

[2016-08-19 06:35] hexler81 opened #157 "Include file not found"
- VSCode Version: 1.4
- C/C++Plugin Version: 0.8.1
- OS Version: Windows 10 64-Bit

Even though I have added the path to c_cpp_properties.json, the include files in that path are not being found.

The correspondig part of my c_pp_properties (which has been generated automatically by clicking the bulb icon on the include statement) looks like this:

The include statement that does not work, even th

[2016-08-19 20:41] jgoshi commented on #143
This is fixed an will appear in the next release (version 0.9.0)

[2016-08-19 20:41] #143 closed, assigned to jgoshi

[2016-08-19 21:13] jgoshi commented on #114
I'm sorry, I'm still not able to repro this. I might not be setting the files up (or the settings file) properly. Can you attach your sample (including your settings file)?

[2016-08-19 23:10] jgoshi commented on #94
This just got fixed (but will not make it into the upcoming release 0.9.0). It will appear in the following release (no guarantees but we try to release monthly).

[2016-08-19 23:10] #94 closed, assigned to jgoshi

[2016-08-19 23:59] jgoshi commented on #157
This has been fixed and will appear in the next release (version 0.9.0)

[2016-08-19 23:59] #157 closed, assigned to nobody

[2016-08-20 07:49] dougpuob commented on #52
I got the same problem, it showed members not belongs to that data structure in C.

vscode 1.4.0/Ubuntu

[code]

![screenshot from 2016-08-20 15-23-31a](https://cloud.githubusercontent.com/assets/3453968/17829801/6e3e61f2-66ec-11e6-9e1d-f2f2ed1a9f0e.png)

[2016-08-21 15:44] sgdgp opened #158 "c_cpp_properties.json is not getting generated"
I installed vscode 1.4 in windows 10 today and then installed the c/c++ extension.
On writing  #include<iostream>   and then after clicking on the light bulb it shows a message that to "Add include path to settings"
On clicking that nothing happens.
No c_cpp_properties.json is getting generated here.

[2016-08-21 16:06] #158 closed, assigned to nobody

[2016-08-22 06:54] alexdima opened #159 "Intellisense Lightbulb does not appear when green squiggle clicked in C++ file"
Moved from Microsoft/vscode#10695

---

From @DavidA2014
- VSCode Version: 1.4.0
- OS Version: Windows 10

Steps to Reproduce:
1. Open a folder with C++ files in it
2. With no c_cpp_properties.json file in .vscode directory ...
3. #include directives will be underlined with green squiggle
4. This link:

http://code.visualstudio.com/docs/languages/cpp

says:

When I click the green squiggle no ligh

[2016-08-22 07:57] jrieken commented on #1
_From @bpasero on August 8, 2016 11:51_

I tried to reproduce and failed. Things I tried:
* navigate through project and go back (works for me)
* create the same file with different casing and go back (works for me, I can go between the 2 files)

I doubt this is an issue with the history but rather the file maybe was modified and we did not get the event? However I also tried that and could not re

[2016-08-22 07:57] jrieken commented on #1
_From @maixuanhan on August 17, 2016 4:5_

**Reproduce steps:**

1. Prepare a Folder containing 2 C++ source files as below.
2. Open VSCode, menu File > Open Folder..., select the folder, click OK.
3. Single click on Test.h in the explorer view.
4. CTRL + single click on `doAction` function. It should jump to the implementation in .cpp file.
5. CTRL + single click on `mCount` inside the function.

[2016-08-22 07:57] jrieken commented on #1
_From @maixuanhan on August 17, 2016 4:9_

@bpasero : please try with above steps

[2016-08-22 07:57] jrieken commented on #1
_From @bpasero on August 17, 2016 4:27_

@maixuanhan what extensions do you have installed?

[2016-08-22 07:57] jrieken commented on #1
_From @maixuanhan on August 17, 2016 4:56_

@bpasero : only C/C++
https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools

[2016-08-22 07:57] jrieken commented on #1
_From @bpasero on August 20, 2016 6:6_

@maixuanhan there seems to be a bug in the C++ extension. When I follow your steps I can see the file `Test.cpp` opened twice in my tabs: The original one is the one I opened and the second one is the one opened via Goto definition.

When I look at the resource that gets opened when I click on `Test.cpp` it is:

`file:///home/ticino/Desktop/cpluscplus/Test.c

[2016-08-22 07:57] jrieken commented on #1
`file://%2Fhome%2Fticino%2Fdesktop%2Fcpluscplus%2Ftest.cpp` is an uri without a path but just an authority `scheme://authority/path`. See: https://tonicdev.com/57baaa462debe6150094e4e6/57baaa462debe6150094e4e7

@bpasero How/Why does the workbench try to open that?

[2016-08-22 07:57] jrieken commented on #1
_From @bpasero on August 22, 2016 7:39_

@jrieken if you follow the steps in https://github.com/Microsoft/vscode/issues/9876#issuecomment-240308278

[2016-08-22 07:57] jrieken commented on #1
I cannot reproduce to an error and I don't understand why this is assigned to me. The problem is that URI isn't used properly - the path ends up as authority for which it's common to normalise the casing (lowercase).

[2016-08-22 07:57] jrieken commented on #1
This is the data we are receiving from the extension. I wonder why we are getting so far...

![screen shot 2016-08-22 at 09 52 22](https://cloud.githubusercontent.com/assets/1794099/17847416/1fc5766a-684e-11e6-90f3-7e9a10336bc9.png)

[2016-08-22 07:57] jrieken commented on #1
This is how it looks from TypeScript (note the difference between *authority* and *path*). I'll forward to the CPP folks

![screen shot 2016-08-22 at 09 54 36](https://cloud.githubusercontent.com/assets/1794099/17847472/7475b256-684e-11e6-8c25-e5ecef323c05.png)

[2016-08-22 08:08] alexdima opened #160 "CTRL to look for methods definitions not working properly"
Moved from Microsoft/vscode#10750

---

From @Lucas001
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:49:32.489Z)
- OS Version: Linux x64 4.2.0-42-generic

Steps to Reproduce:

1.Press CTRL
2.Click in any method definition that has more than one scopes

In my case, I have multiple Update methods in many different classes that are not inherited. When I press C

[2016-08-23 04:01] pierregreborio opened #161 "Debugger not stopping on El Capitan"
Hello,
I think I followed all the instructions using LLDB debugger but when I set a breakpoint it never stops and execute the program to the end.

Here is a very basic code:

`#include <iostream>

int main() {
    std::cout << "Hello world" << std::endl;
}`

The breakpoint is on std::cout. And here is my launch.json:

`{
    "version": "0.2.0",
    "configurations": [
        {
            "name":

[2016-08-23 04:09] pierregreborio commented on #161
My bad, I wasn't generating the debug symbols. I added the argument in my task.json and it works.

In case someone else is looking for this:

{
    "version": "0.1.0",
    "command": "g++",
    "isShellCommand": true,
    "args": ["-pipe", "-O2", "-std=c++14", "${workspaceRoot}/${relativeFile}", "-o", "${fileDirname}/a.out", **"-g"**],
    "showOutput": "always",
    "problemMatcher": {
        "o

[2016-08-23 04:09] #161 closed, assigned to nobody

[2016-08-23 04:13] pierregreborio commented on #71
Make sure you have the -g option in your tasks.json:

"args": ["-pipe", "-O2", "-std=c++14", "${workspaceRoot}/${relativeFile}", "-o", "${fileDirname}/a.out", _"-g"_],

That option generates the debugging symbols

[2016-08-23 17:58] edumunoz opened #162 "Go to definition fails to open file"
On OS X 10.10.5 and the newest version of VSCode Insiders (a7190d61e061b969129776cedd13a77b68ec406b), opening files from the language service is failing. It seems like the forward slashes are being escaped but VSCode is not expecting that.

<img width="1006" alt="screen shot 2016-08-23 at 10 56 45 am" src="https://cloud.githubusercontent.com/assets/637952/17903436/4ff0a922-6920-11e6-94e8-c0e451def

[2016-08-23 18:10] jgoshi commented on #138
Can you try this when the next version (0.9.0) is released? We fixed a crash and it could be this same issue.

[2016-08-23 18:38] jgoshi commented on #150
![image2](https://cloud.githubusercontent.com/assets/19478941/17904752/4aaaf864-690c-11e6-9e40-6881f98edf78.png)
![image1](https://cloud.githubusercontent.com/assets/19478941/17904751/4aa3e498-690c-11e6-9658-3a42bd9d8aff.png)

This file is the database of symbols in your files. Depending on the size of the project the database can become large. The file sizes you listed look normal. You can exclud

[2016-08-23 18:38] #150 closed, assigned to nobody

[2016-08-23 19:28] jgoshi commented on #147
Can you try again with the next release of the c++ extension (version 0.9.0)? It works properly for me.

[2016-08-23 19:28] #147 closed, assigned to nobody

[2016-08-23 19:36] jgoshi commented on #146
Which OS version, VSCode version, and C++ extension version are you using? On my system (Ubuntu 16.04 with the latest VSCode version 1.4 and C++ extention 0.9.0 which will be released in the coming weeks) things work properly.

[2016-08-23 19:38] jgoshi commented on #128
This should be fixed in the next release (cpp extension version 0.9.0) using VSCode version 1.4. If it still repros for you at that time please reopen this bug.

[2016-08-23 19:39] blakebarber commented on #146
I'm using  Ubuntu 14.04, vscode 1.4, and extension 0.8.1. Looking forward
to 0.9.0.

On Tue, Aug 23, 2016, 3:36 PM Justin Goshi notifications@github.com wrote:

[2016-08-23 19:44] jgoshi commented on #68
Are you still seeing this with the latest version (VSCode 1.4 and cpp tools extension 0.8.1)?

[2016-08-23 19:46] jgoshi commented on #59
Could you try this again with the latest version (VSCode 1.4, cpptools 0.8.1)? There have been multiple improvements so things may work a little better for you now?

[2016-08-23 19:48] jgoshi commented on #46
Does this still happen with the latest stuff (VSCode 1.4, cpptools 0.8.1)?

[2016-08-23 19:52] jgoshi commented on #133
What OS version, VSCode version, and cpptools version are you currently using?

[2016-08-23 19:54] jgoshi commented on #119
Can you try this again with the next release (VSCode 1.4, cpptools 0.9.0)? If this still repros for you please reopen this bug.

[2016-08-23 19:54] #119 closed, assigned to nobody

[2016-08-23 20:19] jgoshi commented on #146
Do you have a user or workspace settings file? Could you send me that? I wonder if this has to do with different settings on the machines I'm testing on.

[2016-08-23 22:28] asthana86 opened #163 "cpp_props file creates redundant additional configuration section"
If I already have a CPP Props file created and then I perform the user action 'add include path' on a squiggle, the extension today adds an additional configuration section.

[2016-08-23 23:12] jgoshi commented on #1
This has been fixed and will appear in the next cpptools release (version 0.9.0).

[2016-08-23 23:13] jgoshi commented on #162
This has been fixed and will appear in the next cpptools release (version 0.9.0)

[2016-08-23 23:13] #162 closed, assigned to nobody

[2016-08-23 23:17] jgoshi commented on #146
Actually, this is fixed and will appear in the next release of cpptools (version 0.9.0). If you notice it after installing the new version please reopen the bug.

[2016-08-23 23:17] #146 closed, assigned to nobody

[2016-08-23 23:18] jgoshi commented on #114
I was able to repro and this has been fixed. It will appear in the next release of cpptools (version 0.9.0).

[2016-08-23 23:18] #114 closed, assigned to jgoshi

[2016-08-23 23:22] jgoshi commented on #68
This is fixed and will appear in the next cpptools release (version 0.9.0). If it still repros when you try that version, please reopen the bug.

[2016-08-23 23:22] #68 closed, assigned to nobody

[2016-08-23 23:24] jgoshi commented on #46
I was able to repro this and the fix will appear in the next release of cpptools (version 0.9.0).

[2016-08-23 23:24] #46 closed, assigned to nobody

[2016-08-24 01:29] jgoshi commented on #159
Which version of cpptools are you using? When I tried this with VSCode 1.4, cpptools 0.8.1, Windows 10 it worked (when I click the green squiggle (or put the keyboard cursor on that line using the arrow keys) then the lightbulb appears.

[2016-08-24 07:52] daldr-ntml commented on #159
Sorry, tried it again and I agree it works. Perhaps I just hovered over the squiggle previously.
Thanks for your reply. Please close this issue.

[2016-08-24 08:07] weinand opened #164 "Debug adapter process has terminated unexpectedly on Raspberry pi"
_From @mong87suk on August 24, 2016 0:47_
- VSCode Version: 1.5.0
- OS Version: Raspbian GNU/Linux 8.0 (jessie)

Steps to Reproduce:

I installed visual studio code on raspberry pi.

pi@KERNEL_BZ:~ $ uname -a
Linux KERNEL_BZ 4.4.13-v7+ #894 SMP Mon Jun 13 13:13:27 BST 2016 armv7l GNU/Linux

This is raspberry pi's information.

This is installation process
1. git clone https://github.com/mirosoft/v

[2016-08-24 08:07] weinand commented on #164
The cpp tools are not part of VS Code but a separate extension. I'll move this issue to the correct repository.

[2016-08-24 17:22] jgoshi commented on #159
Thank you for verifying.

[2016-08-24 17:22] #159 closed, assigned to jgoshi

[2016-08-24 20:10] Shivamnema commented on #87
Version 1.4.0
Commit 6276dcb0ae497766056b4c09ea75be1d76a8b679
Date 2016-08-04T16:49:32.489Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0
I'm using Ubuntu 16.04.  I'm facing the similar issue. Please suggest the way out.

[2016-08-24 20:25] leira opened #165 "Error pop up when trying to go to definition on OS X"
I created c_cpp_properties.json file under .vscode. When I click "Go to Definition", I always got an error pop up like this:

`Error Unable to open '': Invalid file resource (file://%2Fusers%2Fleira%2Fsource...%2Fregistry.h).
`

I replaced some of the path with '...'.

It actually showed the correct path, seems like the indexing worked well, but for some reason it didn't jump to the file. Did I mi

[2016-08-24 20:28] leira commented on #165
Forgot to mention, I'm running vscode Version 1.5.0-insider (1.5.0-insider) c4f365235906cd689e55376e44cc106003ac06b3.

[2016-08-24 21:50] jgoshi commented on #163
Just checked in a fix for this. It missed the upcoming release (0.9.0) so it'll appear in the release after that. Note that this will also fix your hover over cpp props properties since I save on file creation.

[2016-08-24 21:50] #163 closed, assigned to jgoshi

[2016-08-24 21:52] jgoshi commented on #165
This is fixed and will appear with the next cpptools release (version 0.9.0).

[2016-08-24 21:52] #165 closed, assigned to nobody

[2016-08-24 22:09] jgoshi commented on #87
What is your cpptools version?

[2016-08-24 22:11] jgoshi commented on #89
Could you try this again with the latest release (VSCode 1.4, cpptools 0.8.1) and let us know if it still repros?

[2016-08-24 22:37] jgoshi commented on #29
Could you try this again with the latest release (VSCode 1.4, cpptools 0.8.1)? Has the situation improved for you?

[2016-08-24 22:38] jgoshi commented on #36
Could you try this again with the latest release (VSCode 1.4, cpptools 0.8.1) and let us know if the situation has improved?

[2016-08-24 22:54] jgoshi commented on #160
Could you provide a small code sample?

[2016-08-25 00:12] mong87suk commented on #164
Hello @weinand
I'm filnus Jeong
I don't know who can fix this issue.
Could you assign a person who is the charge of this issue ?

Best regards,
Felinus Jeong

[2016-08-25 01:41] andrewcrawley commented on #164
Hi, @mong87suk

The C/C++ for Visual Studio Code extension has no official support for running on ARM platforms like the Raspberry Pi.  However, it may work if you manually install Mono on your Pi by following the instructions here: http://www.mono-project.com/docs/getting-started/install/linux/#debian-ubuntu-and-derivatives

You'll need to "apt-get install mono-runtime" at least, other packages m

[2016-08-25 01:45] pieandcakes commented on #135
@Andrew-MSFT  - Here is another request for more documentation for the debugging options. It looks like they would like more help/guidance for creating the launch.json.

@waderyan - Thanks. We have plans to revamp the documentation located at: https://code.visualstudio.com/docs/languages/cpp

[2016-08-25 02:34] mong87suk commented on #164
Hello, @andrewcrawley

Thank you for your support.
I'll try it.
if I have a question I'll let you know.

Best regards,
Felinus Jeong

[2016-08-25 03:57] mong87suk commented on #164
Hello, @andrewcrawley
Thank you for your comment.
You ask me to install Mono to fix the bug so I've installed below packages to run Mono.
1. sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
   echo "deb http://download.mono-project.com/repo/debian wheezy main" | sudo tee /etc/apt/sources.list.d/mono-xamarin.list
   sudo apt-get update

[2016-08-25 04:14] stevenxiao opened #166 "Cannot use ConfigurationEdit command"
while i am typing ConfigurationEdit, it shows me the error "command 'C_Cpp.ConfigurationEdit' not found".
 OS: Debian x86_64
 VS Code Version: 1.4

Is there anything that i missed after install the cpptools?

[2016-08-25 06:44] alexdima commented on #160
ping @Lucas001

[2016-08-25 11:37] sandy081 opened #167 "Colorization of large cpp/h files fails after so many lines"
_From @rchiodo on August 24, 2016 16:4_
- VSCode Version: 1.4.0
- OS Version: Windows 10 RS1

Steps to Reproduce:
1.  Open file C:\Program Files (x86)\Windows Kits\10\Include\10.0.10586.0\ucrt\stdio.h
2.  Colorization stops at about line 612 for me

![image](https://cloud.githubusercontent.com/assets/19672699/17938187/c22b4a92-69d9-11e6-927f-f5b030fc71c7.png)

_Copied from original issue: Microsof

[2016-08-25 11:51] skl131313 opened #168 "Allow Modifying Variable with Mouse Hover Preview while Debugging."
Currently when debugging, you can hover over a variable to see its value. It would be more convenient if the value could be modified from this preview window. Rather than having to search through the list of variables.

[2016-08-25 12:10] jpotyka commented on #93
Hello, i get the same error but i use the following setup:

Visual Studio Code:
Version 1.4.0
Commit 6276dcb0ae497766056b4c09ea75be1d76a8b679
Datum 2016-08-04T16:49:32.489Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0

C/C++ Extension:
0.8.1

OS:
Kali GNU/Linux 2.0 (sana) 64-Bit

[2016-08-25 14:12] jeffgabhart opened #169 "Intellisense - CamelCase suggestions"
It would be nice to have intellisense show suggestions based on the first and capiatlized letters. For example, typing all lowercase
`sro`
would match
`setReadOnly
`

[2016-08-25 21:25] pieandcakes commented on #168
@sprinkle131313 You should be able to add it to `watch` and modify it instead of searching through `variables`

[2016-08-25 21:31] pieandcakes commented on #164
@mong87suk - Our debugger has a dependency on Mono to run. For our supported OS versions, we download it for you.

The error you posted above is an error in the language service - @sridmad  - Do you support running on Raspbian?

[2016-08-26 15:21] sandy081 opened #170 "Invalid file resource . c++"
_From @leaxoy on August 25, 2016 11:17_
- VSCode Version:1.5.0-insiders
- OS Version:10.12

Steps to Reproduce:
1.  open a c file.
2. press f12 and then meet this error.
   ![vscode-error](http://o8z0dg641.bkt.clouddn.com/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202016-08-25%20%E4%B8%8B%E5%8D%887.19.06.png)

_Copied from original issue: Microsoft/vscode#10942_

[2016-08-26 18:04] sridmad commented on #164
The Linux binaries are built for X64 so I don't expect it to run on Pi.

[2016-08-26 20:07] davstew opened #171 "vscode 1,4 and .8.1 cpp extension browse file build never completes"
On very large c++ project the browse file never seems to complete building, there are about 15 additional include paths added in config, folder is ~100gb with 275k files.  Expect browse to file to take a long time on this size project, but seems to never complete, file has been around 1.75 gb for 24 hrs.

[2016-08-27 00:22] skl131313 opened #172 "Debugger Option to View Pointer as Array."
For dynamically allocated arrays are simply represented as a pointer, which has no other indicator that it is an array. It would be nice to have a feature to view a pointer as an array as to view more than simply the first element of the array. In the "variables" tab and also when previewing a variable by hovering over it while debugging.

[2016-08-27 00:46] Ludonope opened #173 "Wrong Include Path"
Hello,

When I click on the bulb and `Add include path to settings`
it successfully generate `c_cpp_properties.json`,
but the include path for Win32 is a wrong path:
`"includePath": ["c:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/include"]`

On my computer I only have `c:/Program Files (x86)/Microsoft Visual Studio 11.0`, the 14.0 version doesn't exist, and in this 11.0 version, some head

[2016-08-27 00:57] leira commented on #170
Same issue has already been reported as Microsoft/vscppsamples#165, According to @jgoshi, it has been fixed and will be in the next cpptools release (version 0.9.0).

[2016-08-28 05:29] mong87suk commented on #164
Hello @sridmad
Thank you for your support.
Could you let me know how to build the linux binaries for Pi ?

Best regards,
Felinus Jeong

[2016-08-28 09:54] evser commented on #119
@jgoshi, where can I find version 0.9.0??
I see only 0.81 here: https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools

[2016-08-28 10:33] zzt93 opened #174 "Fail to install c/c++ extension on Fedora 22"
As the following image shows, when I click install button, it show the error and fail to install the extension.
![screenshot from 2016-08-28 18-31-06](https://cloud.githubusercontent.com/assets/5842389/18033125/a6b8b27c-6ce0-11e6-965b-e17b8c38d650.png)

[code]

[2016-08-28 15:55] dvirsky commented on #46
Any ETA on 0.9.0? Besides this bug, the auto-completion suggestions are totally screwed up on the latest version. Is it at least possible to revert to 0.7?

[2016-08-28 22:36] wuzhijiexia opened #175 "The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted. #11059"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:
1. Install C/C++ extension
2. Started the extension then the error appear
3. Can't go to definition and declaration

[2016-08-29 06:06] Suraj-Yadav opened #176 "Formatting problem with characters like ☺☻♦"
Consider the following code

[code]

Adding ♦ in the string and formatting the code, I get

[code]

Removing the ♦ and formatting it again, I get

[code]

After this each format action doubles the number of �.

Using clang-format directly on the file does not have this problem.

Version: 1.5.0-insider
Commit: 31f1acb8c82b8a19256d5d56127d3f81edce3745
OS: Windows 10

[2016-08-29 06:51] sandy081 opened #177 ""Go to definition" command show wrong file."
_From @magpier84 on August 28, 2016 11:57_
- VSCode Version: 1.4.0
- OS Version: OSX 10.11.2
- C/C++: 0.8.1

Steps to Reproduce:
1. Select header file of some class in workspace file browser.
2. Go to definition of some its methods.
3. Cpp file is opened but its path isn't relative to root of the workspace. In "Open Editors" section it is displayed as path from root of the drive (cut on left side:

[2016-08-29 06:56] sandy081 opened #178 "The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted."
_From @wuzhijiexia on August 28, 2016 6:17_
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:
1. Install C/C++ extension
2. Started the extension then the error appear
3. Can't go to definition and declaration

_Copied from original issue: Microsoft/vscode#11059_

[2016-08-29 06:56] sandy081 commented on #178
_From @mrmlnc on August 28, 2016 22:12_

Please move this issue into repository of C/C++ extension: https://github.com/Microsoft/vscppsamples/issues.

![chrome_2016-08-29_01-11-18](https://cloud.githubusercontent.com/assets/7034281/18037142/a827bcd4-6d85-11e6-960a-74ffe90ad745.png)

[2016-08-29 16:51] jgoshi commented on #178
This should be fixed in the next release of the cpptools (version 0.9.0). This release should be available in the next week or so. If you still run into the issues at that time please reopen this bug.

[2016-08-29 16:53] jgoshi commented on #177
This is fixed in the upcoming release of cpptools (version 0.9.0) and should be available in the next week or so. If this still repros for you at that time please reopen the bug.

[2016-08-29 16:53] #177 closed, assigned to nobody

[2016-08-29 16:55] jgoshi commented on #175
This should be fixed with the upcoming release of cpptools (version 0.9.0) which will be release in the next week or so. If you still have problems at that time please reopen this bug.

[2016-08-29 16:55] #175 closed, assigned to nobody

[2016-08-29 16:57] jgoshi commented on #173
The includePath is just a hint, we pre-populate it with the expected path for people with that version of Visual Studio. If you don't have that version (or your header files are in a different location) then you can change the includePath as you have done.

[2016-08-29 16:57] #173 closed, assigned to nobody

[2016-08-29 16:59] jgoshi commented on #170
Yes it should be fixed. If you still see this issue with the upcoming release, please reopen this issue.

[2016-08-29 16:59] #170 closed, assigned to nobody

[2016-08-29 17:03] leira commented on #170
@jgoshi mind if I ask when will it be released?

[2016-08-29 17:13] jgoshi commented on #138
Version 0.9.0 is schedule for release in the next week or so. If this still repros at that time please reopen this issue.

[2016-08-29 17:13] #138 closed, assigned to jgoshi

[2016-08-29 19:29] jgoshi commented on #46
Version 0.9.0 should be available within the next week or so. We did some work on auto-completion but there's still many improvements we are currently working on for future releases.

[2016-08-29 19:35] dvirsky commented on #46
Cool. Right now it seems like the auto-complete defaults to all known symbols in a lot of trivial cases. I tried all configuration options to no avail.
Is there any way to downgrade to 0.7? it worked much much better in that sense.

[2016-08-29 22:34] jgoshi commented on #46
Sorry I'm not aware of any way to downgrade.

[2016-08-29 22:53] delmyers commented on #66
@TurkeyMan fixed.

[2016-08-29 22:53] #66 closed, assigned to nobody

[2016-08-29 22:58] Andrew-MSFT commented on #2
Thank you for reporting this, this issue is tracked on our official repo at https://github.com/Microsoft/vscode-cpptools/issues/164.

[2016-08-29 23:07] TurkeyMan commented on #66
Awesome work guys!

[2016-08-30 03:36] mong87suk commented on #164
Hello @Andrew-MSFT,
Thank you for your support.
I reported my issue :  Debug adapter process has terminated unexpectedly on Raspberry pi
@sridmad explain to me that The Linux binaries are built for X64 so I don't expect it to run on Pi.
Architecture of Pi is ARM : armv7l

Could you let me know how to build the linux binaries for ARM?

Best regards,
Felinus Jeong

[2016-08-30 04:19] IanChen83 opened #179 "Char array should be shown as string, not as nornal array"
Just moved this issue from [vscode](https://github.com/Microsoft/vscode/issues/11085#issue-173710908)

---
- Cpptools Version: 0.8.1
- VSCode Version: 1.3.1
- OS Version: Linux 4.7.1

As title, character array is shown as a normal array everywhere in debugging mode, which can be annoying when watching on a very long string.

![normal array](http://imgur.com/rTOwqeH.jpg)

Ideally, it should be show

[2016-08-30 06:56] #153 closed, assigned to nobody

[2016-08-30 06:56] #38 closed, assigned to nobody

[2016-08-30 12:03] be5invis opened #180 "Precise auto complete using clang."
And move the current behavior to the backup if clang is not installed.

[2016-08-30 14:57] TaQk opened #181 "Uncommented comments in default settings file"
![image](https://cloud.githubusercontent.com/assets/8940956/18094157/c64a14de-6ed2-11e6-8a54-845fda8e8a35.png)

[2016-08-30 15:05] TaQk opened #182 "The extension crashes during auto-formating"
![image](https://cloud.githubusercontent.com/assets/8940956/18094430/b55b0006-6ed3-11e6-9c76-696f831c7ed7.png)

![image](https://cloud.githubusercontent.com/assets/8940956/18094457/cc322e26-6ed3-11e6-9f2b-951a6f3e8408.png)

![image](https://cloud.githubusercontent.com/assets/8940956/18094482/e59b1436-6ed3-11e6-8605-c1bde97b8445.png)

[2016-08-30 15:45] harry-cpp opened #183 "The extension is complaining about finding header files but it actually loads them just fine"
VS Code is complaining about it being unable to find header files (which are present in "/usr/include" on my system, and that is the default path for the extension to look for them):

![screenshot from 2016-08-30 17-36-57](https://cloud.githubusercontent.com/assets/6773302/18095833/801e6978-6ed8-11e6-9fa8-36d42173c533.png)

But even tho it's complaining about it, the autocomplete works just fine:

[2016-08-30 18:42] sridmad commented on #154
Yes the feature is under development. Currently it does not very context aware.

[2016-08-30 18:42] #154 closed, assigned to nobody

[2016-08-30 18:44] agauniyal commented on #154
Thankyou, will be waiting for its full release.

[2016-08-30 18:47] sridmad commented on #149
Understanding gcov or other code coverage tool generated logs and highlighting the line / column in VSCode should most probably be a stand alone extension. Such an extension can exist side by side with C++ language service and debugging extension

[2016-08-30 18:50] be5invis opened #184 "`C_Cpp.clang_format_formatOnSave` has a delay for about 1 second."
Windows 10 x64, clang/LLVM 3.8.1

[2016-08-30 18:53] sridmad commented on #148
See https://github.com/atom/language-c/issues/154. VSCode uses atom text mate bundle.

[2016-08-30 18:53] #148 closed, assigned to nobody

[2016-08-30 18:53] delmyers commented on #63
@WiseDoge @jhasse, We released support for this with version 0.9.0, available now. Go check it out.

[2016-08-30 19:02] sridmad commented on #99
@nate2009. Please try installing the latest version of the extension. If you continue to see the issue please add a comment and we can reopen the issue.

[2016-08-30 19:02] #99 closed, assigned to nobody

[2016-08-30 19:05] be5invis opened #185 "The extension is complaining about finding missing headers of a #include within a #ifdef."
Like:

[code]

[2016-08-30 20:09] sridmad commented on #141
The aggressive auto complete should be fixed in 0.9.0 of the extension.

[2016-08-30 20:09] #141 closed, assigned to nobody

[2016-08-30 20:10] sridmad commented on #125
Aggressive auto complete should be fixed in 0.9.0 of the extension. Please update and let us know if the issues still occurs in the updated version.

[2016-08-30 20:10] #125 closed, assigned to nobody

[2016-08-30 20:13] sridmad commented on #109
Translation from search engine.

.pc The source code , Go to Declaration only to the .h file instead of \* .pc in .

[2016-08-30 20:15] sridmad commented on #131
This should be fixed in 0.9.0 version of the extension. Please update and let us know if the issue is resolved.

[2016-08-30 20:15] #131 closed, assigned to nobody

[2016-08-30 20:18] sridmad commented on #130
Can you try with 0.9.0 of the extension?

[2016-08-30 20:19] sean-mcmanus commented on #155
clang-format formatting of selected code has been added to version 0.9.

[2016-08-30 20:19] #155 closed, assigned to nobody

[2016-08-30 20:20] greazer commented on #182
Hi TaQk,

Can I assume you added this specific lpath to clang-format because you need it? I ask because with the latest release 0.9.0, we automatically include a build of clang-format that we have been able to test with. If you remove this setting, does the crash still occur?

Thanks

[2016-08-30 20:22] sridmad commented on #89
Can you try with the latest version of the extension 0.9.0 and let us know if still see the issue.

[2016-08-30 20:22] #89 closed, assigned to nobody

[2016-08-30 20:23] sridmad commented on #70
This should be fixed with 0.9.0 version of the extension.

[2016-08-30 20:23] #70 closed, assigned to nobody

[2016-08-30 20:28] sridmad commented on #92
Please try the latest version of the extension 0.9.0. If the issue exists in the latest version please add information to the issue about OS and VSCode version.

[2016-08-30 20:28] #92 closed, assigned to nobody

[2016-08-30 20:47] sean-mcmanus commented on #176
Thanks for reporting this. The bug still repros in 0.9. The exact behavior is somewhat random. I should have a fix in the next update.

[2016-08-30 20:56] sean-mcmanus commented on #182
We need more repro info, such as what version of clang-format.exe you're using. I can't repro this. We've only tested with the clang-format 3.8.0 and 3.8.1.

[2016-08-30 21:19] sean-mcmanus commented on #32
If you think this is a bug, I need more exact repro details, because I don't see any bug (and if it repros without our extension then it's not our bug). VSCode will detect the tab settings of an existing document and use that instead of the settings file. If you have mixed tabs/spaces, you can run Format Code with the desired IndentWidth, TabWidth, and UseTab settings.

[2016-08-30 21:19] #32 closed, assigned to nobody

[2016-08-30 21:32] sean-mcmanus commented on #184
I need more repro details. How large is your file? Does the delay occur when doing manual formatting? Seems like this may be expected. clang-format itself takes time and we do processing internally too. Do you want us to try to optimize it so it's faster?

[2016-08-30 22:52] songwenshuai commented on #119
After the update, the problem does not appear

[2016-08-31 00:55] karpinsn opened #186 "Attach on Windows should not require the program option in launch.json"
Currently I need to specify the program option in launch.json to attach to a process.

[2016-08-31 05:38] be5invis commented on #184
@sean-mcmanus
1. code is less then 100 lines. like this

[code]
2. No delay when manual formatting.
3. No delay for `clang-format` extension’s format-on-save.

[2016-08-31 05:41] mimorisuzuko opened #187 ".browse.VC.db"
I installed vscode-cpptools. So, vscode creates `.vscode/.browse.VC.db`. I understand its file is necessary for this extension. When I opened a Node.js project, however, its file is created. I would like to prevent it. Please, teach me.

[2016-08-31 06:11] wpp2014 opened #188 "Unable to launch in ubuntu"
bash: 无法设定终端进程组(-1): 对设备不适当的 ioctl 操作
bash: 此 shell 中无任务控制
Error: watch /home/wpp/.config/Code/User ENOSPC
    at exports._errnoException (util.js:890:11)
    at FSWatcher.start (fs.js:1323:19)
    at Object.fs.watch (fs.js:1351:11)
    at t.e.registerWatchers (/home/wpp/Desktop/VSCode-linux-x64/resources/app/out/vs/code/electron-main/main.js:7:164)
    at t.e (/home/wpp/Desktop/VSCode-linux-x64/r

[2016-08-31 07:57] dvirsky commented on #46
@jgoshi oh well. Is there a way to cause the extension not to do completions at all? there's another extension that uses clang and does decent completion, but lacks all the other great features yours has. I wish I could use both.

[2016-08-31 07:58] dvirsky commented on #46
maybe it's worth adding a configuration option to disable this.

[2016-08-31 08:09] csholmq opened #189 "Is IntelliSense working as expected?"
Here's a test case where I have `MotorIdxU8Ptr` which is a local U8\* variable and `CanOpenMyriad_Struct` which is a global struct.

With `"C_Cpp.autocomplete": "Disabled"`:

![disabled](https://cloud.githubusercontent.com/assets/1297882/18120842/092f34ac-6f62-11e6-822f-63143e615dac.gif)

In this example, fuzzy search helps me complete my symbol names but doesn't present me with any IntelliSense.

[2016-08-31 08:18] TaQk commented on #182
Dear Sir,
I have removed my local instalation of clang (I have been using this with other VSC extansion called clang-format but it doesn't work anymowe after I have installed the C/Cpp ext).
Next I have reinstalled the C/Cpp extension and removed all extra settings.

When I use shift+alt+f shortcut or context menu to auto-format code nothing happens. After 5 attemps VSC kills the C/Cpp extension.

[2016-08-31 09:12] lamqhoang commented on #89
Hi, I have not seen the issue since the lastest update.
Thanks

[2016-08-31 12:46] dahodge opened #190 "Data structure variable viewing"
The primary reason I wanted to use this was the ability to hover view variables at a breakpoint, but this doesn't work at all for structures like vectors or maps. Am I doing something wrong, or is this just not implemented? I can only see the first object in a vector if I dig through to find _M_start, and it is cluttered with things like _M_impl, std::_Vector_base, _M_end_of_storage, and other inf

[2016-08-31 13:29] NewProggie commented on #22
Hey,

I have the same error on OS X (running 10.11.6), running Code Version 1.4.0. Even though I'm passing environemnt variables to the debugger (in launch.json) with

[code]

it seems that the executable is run without those variable set beforehand.

**Edit**: My bad, it seems that in OS X lldb is started without any environment variables set, due to system protection. However, is there any way,

[2016-08-31 14:50] MrTortoise commented on #189
i just asked this question
http://stackoverflow.com/questions/39251274/visual-studio-code-is-not-autocompleting-std-in-c-on-ubuntu
Appears i met the same issue, i get the same results from disabled

(how did you do that screen grab image?) (thanks!)

[2016-08-31 15:02] paulmaybee commented on #190
Try turning on python pretty printing. In the debug console window enter "-exec -enable-pretty-printing".

[2016-08-31 15:31] csholmq commented on #189
(LICEcap)

[2016-08-31 16:02] jacdavis commented on #188
Thanks for reporting this issue.

We are not able to repro this issue with this information. Which version of Ubuntu are you running and on one processor architecture? Which version of GDB are you using? Are you running the standard installed version of bash on this Ubuntu?

ENOSPC is normally the error posix systems return when a device is out of disk space and/or memory. Can you confirm that you

[2016-08-31 16:12] dahodge commented on #190
I tried this and it seemed to work (it printed result-class: done) but I am not seeing anything different. I checked the Variables tab, the variable hover, and printing the vector name in the debug console, but they all looked exactly as they do in my screenshot above.

[2016-08-31 16:14] sean-mcmanus commented on #184
Thanks for the repro info. Unfortunately, I'm not able to repro this on my Windows or Linux machines. The only major difference I see between formatOnSave and manually formatting is that we do an additional save operation after the formatting is done. So it seems like something strange is going on in your repro. Maybe another VS Code extension or some virus scan process is causing a delay?

[2016-08-31 16:16] paulmaybee commented on #190
What OS and version of gcc are you using?

From: dahodge [mailto:notifications@github.com]
Sent: Wednesday, August 31, 2016 9:13 AM
To: Microsoft/vscode-cpptools vscode-cpptools@noreply.github.com
Cc: Paul Maybee paulmay@microsoft.com; Comment comment@noreply.github.com
Subject: Re: [Microsoft/vscode-cpptools] Data structure variable viewing (#190)

I tried this and it seemed to work (it printed r

[2016-08-31 16:24] dahodge commented on #190
Windows 7. I am using a MinGW package that contains gcc 6.1.0. I am using g++ for my launch task, not sure if this makes a difference (I'm pretty new to Windows developing).

[2016-08-31 17:06] be5invis commented on #184
@sean-mcmanus
I've uninstalled all the extensions except for `C/C++`, and the delay is still there.
I am using a `.clang-format` file.

[2016-08-31 17:16] delmyers commented on #190
@dahodge, vscode now works using the visual c++ compiler for Windows. Have you tried using that instead?

[2016-08-31 17:19] delmyers commented on #186
@jacdavis, is this true? Can we get away without adding the program option to the launch.json?

[2016-08-31 17:20] jgoshi commented on #133
Could you try this with the latest versions (VSCode 1.4 and cpptools 0.9.0)? And start from a clean state (meaning no existing database). If it still repros please reopen this issue and attach the database.

[2016-08-31 17:20] #133 closed, assigned to jgoshi

[2016-08-31 17:21] jacdavis commented on #186
Yes, it's a bug. I asked Nik to file it while I was showing him how to use the extension. It should be required for all gdb/lldb based scenarios, but is unnecessary in concord.

[2016-08-31 17:22] sean-mcmanus commented on #182
I'm reproing the bug now -- it seems to only repro on Windows 7. We'll look into getting a fix in a future release.

[2016-08-31 17:24] paulmaybee commented on #190
Looks like python scripting (and therefore pretty-printing) is not enabled in the mingw distributed version of gdb.

From: dahodge [mailto:notifications@github.com]
Sent: Wednesday, August 31, 2016 9:25 AM
To: Microsoft/vscode-cpptools vscode-cpptools@noreply.github.com
Cc: Paul Maybee paulmay@microsoft.com; Comment comment@noreply.github.com
Subject: Re: [Microsoft/vscode-cpptools] Data structure

[2016-08-31 17:33] sean-mcmanus commented on #184
I can't repro it with the .clang-format file I'm using. Can you repro it without the .clang-format file (i.e. using the default "Visual Studio" style we added)? Otherwise, can you attach the .clang-format file you're using.

[2016-08-31 17:35] be5invis commented on #184
@sean-mcmanus Switching style to “Visual Studio” still has a delay.
I’ve installed Clang/LLVM manually. Is it related?

[2016-08-31 17:42] be5invis commented on #184
Wait, I've tried a folder with only one .cpp file, and this time saving has no delay.
So it is a performance problem...
I am editing [this](https://github.com/caryll/otfcc), a project with many .c/.cpp files. I've set `dep/` and `lib/` into `includes` in `c_cpp_properties.json`.
It may be something else preventing format... I think.

[2016-08-31 18:05] jgoshi commented on #185
Are you saying (for example) that if you are on Windows and _WIN32 is defined the extension is still complaining about not finding unistd.h?

[2016-08-31 18:07] be5invis commented on #185
@jgoshi No, both unistd.h and mach/mach_time.h
And I cannot find any way to define a variable (like _WIN32).
![image](https://cloud.githubusercontent.com/assets/240091/18140579/bc4872d4-6fe8-11e6-960f-37fdabf883f3.png)

[2016-08-31 18:34] jgoshi commented on #183
I'm not able to repro this issue. Did you click on the header and add include path to settings? I'm not sure why the intellisense is showing up though, it isn't for me until I add the include path.

[2016-08-31 18:43] harry-cpp commented on #183
The include path is already added and that is why the intellisense is able to work. Header files are located in "/usr/include" on my system.

c_cpp_properties.json looks like:

[code]

It has not been modified since "/usr/include" is already set as the default path.

[2016-08-31 18:45] dahodge commented on #190
@delmyers,
To do that, do I just change the "command": "C:/MinGW/bin/g++" line in tasks.json to something else (and if so, what) ? I have not found any sort of guide that is remotely helpful in setting up a compiler other than the VS Code Docs page, which doesn't mention visual c++. Does that have something to do with clang? I've tried looking up both but don't really understand very well what the

[2016-08-31 18:53] sean-mcmanus commented on #184
I downloaded that project and set the includePaths and I didn't see a problem, but when I created over 1000 C++ files in the folder I started to repro the bug. The slowness is actually caused by our "browsing" code that is making the 1st save slow (the format/save that happens afterwards is fast). We'll try to get a fix in a future release. Thanks for reporting this problem and helping to discover

[2016-08-31 19:42] NewProggie opened #191 "Environment variables don't work with LLDB"
Hey,

in order to debug my executable, I need to pass an environment variable to the debugger. On console this would be something like:

[code]

I already tried configuring `launch.json`with `"setupCommands": [{"text": "env DYLD_LIBRARY_PATH=/my/foo/bar"}]` and `"customLaunchSetupCommands": [{"text": "process launch -v DYLD_LIBRARY_PATH=/my/foo/bar"}]` of which neither seem to work. Unfortunately,

[2016-08-31 20:01] paulmaybee commented on #191
Did you mean "configuring the environment variable in launch.json ..."?

[2016-08-31 20:03] sean-mcmanus commented on #184
I have a fix for the next release. I skip our browse parsing on the 1st save and just do it after the formatting or 2nd save.

[2016-08-31 20:17] NewProggie commented on #191
Yes, both actually. Neither seem to work.

[2016-08-31 21:16] Suraj-Yadav commented on #176
With the 0.9.0 update, the problem appears to have worsened. Now a code like

[code]

after formatting becomes

[code]

Again using clang-format directly works perfectly.

cpptools Version 0.9.0
clang-format version 3.8.1 (branches/release_38)
Version 1.5.0-insider
Commit 1de4d832ccb061c13cf70eaf0221fbaa86abfbdd
Date 2016-08-31T06:10:03.069Z

[2016-08-31 21:18] sean-mcmanus commented on #176
0.9 not was not the "next update". We didn't know about this problem until after 0.9 shipped. It should be fixed in a future update.

[2016-08-31 21:19] delmyers commented on #190
@dahodge,
You can install the Microsoft SDKs for creating Windows applications from here:
https://msdn.microsoft.com/en-us/microsoft-sdks-msdn.aspx

I think you can install the Windows 10 SDK even on your Windows 7 machine, you just have to make sure that you have all of your updates. After installing the SDK, you can compile your software using the command line. And, yes, you will have to change

[2016-09-01 00:06] billchenxi opened #192 "How to run the code"
Hi CPP team,
thank you so much for your effort. I have issue with the tools, I already installed everything you guys asked, and I still cannot configure out the right json files. Can you tell me what I need to do to make the debugger run in the Code?

What I did is I just create a .cpp file, then I click the debugger icon, but it keeps asking me to configure the launch.json. I have no idea how to

[2016-09-01 07:17] dbaeumer opened #194 "Cannot add include path to settings."
_From @Antranilan on August 31, 2016 22:19_
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:
1. Hover over any green squiggle in a source file (e.g. a #include statement).
2. Click the lightbulb that appears underneath the mouse cursor.
3. Click Add include path to settings.

c_cpp_properties.json

[2016-09-01 08:43] agauniyal commented on #180
https://github.com/Valloric/ycmd
Vim frontend to ycmd - http://valloric.github.io/YouCompleteMe/

Here's sample code to get connected to ycmd via javascript -

[code]

[2016-09-01 08:51] agauniyal commented on #180
If you change backend to clang or clang based completion systems, you get
- autocompletion
- advanced linting
- suggestions and code fixits(automatically fix problems with your code)
- code formatting
- automatic header file inclusion
- c++ official code guidelines recommendations

and many other things.

[2016-09-01 09:00] agauniyal commented on #13
Is this being worked on? this issue is relevant to https://github.com/Microsoft/vscode-cpptools/issues/180 though.

[2016-09-01 09:01] agauniyal commented on #81
two similar issues -
- https://github.com/Microsoft/vscode-cpptools/issues/180
- https://github.com/Microsoft/vscode-cpptools/issues/13

[2016-09-01 09:09] wpp2014 commented on #188
My Ubuntu is 16.04 x86_64 and the gdb's version is 7.11.1。The  vscode I used is 1.4.0。

[2016-09-01 13:24] bpasero opened #195 "CPP extension crashes a lot (once a day or so)"
_From @artagnon on August 30, 2016 23:32_
- VSCode Version: 1.6
- OS Version: El Capitan

Steps to Reproduce:
Okay, it's very hard to come up with reproduction steps. I'm describing the pattern. I work on a huge codebase, and ignore 90% of everything using `ignore` so that <kbd>Cmd+P</kbd> can work. I usually have a lot of tabs open (15+). Once a day or two, vscode becomes unresponsive, a stray vs

[2016-09-01 13:24] bpasero commented on #195
_From @dbaeumer on August 31, 2016 7:19_

@artagnon what kind of project are you working on (JS, TS, C#, ....). And could you provide use with the command line of the process that is causing 100% of CPU. That would help to track down what is causing this.

[2016-09-01 13:24] bpasero commented on #195
_From @dbaeumer on August 31, 2016 7:19_

@bpasero FYI

[2016-09-01 13:24] bpasero commented on #195
@artagnon can you find out which process is causing the high CPU load?

[2016-09-01 13:24] bpasero commented on #195
_From @artagnon on August 31, 2016 14:25_

I work in C++. Will give you the name of the process in a couple of days or
so: I forgot to note it down.
On Wed, Aug 31, 2016 at 3:56 AM Benjamin Pasero notifications@github.com
wrote:

[2016-09-01 13:24] bpasero commented on #195
_From @artagnon on September 1, 2016 1:11_

Today, it crashed when I'd left it idle for some time: so I don't have the name of that process. Don't we have some kind of crash logging? Atleast a stack trace?

[2016-09-01 13:24] bpasero commented on #195
@artagnon you can use the "Console" application on Mac to find the crash log:

<img width="1188" alt="screen shot 2016-09-01 at 06 37 26" src="https://cloud.githubusercontent.com/assets/900690/18155515/91901e18-700e-11e6-8716-90ab67c47f01.png">

[2016-09-01 13:24] bpasero commented on #195
_From @artagnon on September 1, 2016 13:1_

I have a ton of unique crash reports for the CPP extension.

[code]

std::thread destructor.

[code]

No idea what this is.

[code]

Stack overflow?

Anyway, it's painfully clear to me that the CPP extension is junk, and I will go back to using Atom until it is fixed. Let me know if there's anything I can do to help.

[2016-09-01 14:59] ghost commented on #130
Still doesn't fix the problem
![vscode bug](https://cloud.githubusercontent.com/assets/17906086/18172388/cc2675ee-7082-11e6-9667-f9e9db4fe1af.png)

[2016-09-01 16:19] delmyers commented on #195
@sridmad, looks like this could be a stack overflow in the language service. Can you take a look?

[2016-09-01 16:21] delmyers commented on #195
@artagnon FYI, your bug about the CPP extension has been moved here. We are looking into it.

[2016-09-01 16:41] delmyers commented on #192
Hi @billchenxi,

VsCode does not automatically build your project in the way that Visual Studio does. It is designed as a light-weight editor with some debugging features. It isn't a full IDE.

You will have to either compile your code using the command-line, or you can set up a tasks.json to do the compilation step for you. An example is in our documentation:

http://code.visualstudio.com/docs/la

[2016-09-01 16:41] #192 closed, assigned to nobody

[2016-09-01 17:35] sean-mcmanus commented on #182
I've fixed the bug (for the next release). It was actually a bug in the Win7 implementation of the WriteFile function, which was crashing on certain valid inputs, but I worked around the issue

[2016-09-01 18:10] delmyers commented on #191
@NewProggie,

Can you please post your complete launch.json? The way to get this to work would normally be via the "environment" option in the launch.json.

[2016-09-01 18:12] delmyers commented on #188
@wpp2014, have you confirmed that you have enough memory and disk space on your machine to perform this operation?

[2016-09-01 18:37] sridmad commented on #195
I suspect that there is some macro that is causing the parser to go to a bad state. We would need the list of include path and the libraries under the include path to repro and investigate.

[2016-09-01 18:42] sridmad commented on #130
Not sure what is happening. The handler is registered before the our language server starts so the code should have run.

Can you try completely uninstalling and reinstalling the extension?

We will take another look at this to see if there are some paths where we don't end up registering the handler.

[2016-09-01 18:55] sridmad commented on #81
@csholmq - We plan to implement more context aware intellisense in a couple of months.
Open source - we are actively discussing how and when we can open source the extension. We should have more about this in about a month.

@sinpen - auto complete after punctuations should be fixed in 0.9.0 of the extension. If you are still seeing the behavior please open an issue.