[2019-01-18 21:51] lfg6000 opened #3054 "outline hangs with each edit"
**Type: LanguageService**
- VSCode Version: 1.30.2
- OS Version: win 10
- C/C++ ms-vscode.cpptools Preview 0.20.2
- extension: Platformio ide 1.6.0

Steps to Reproduce:

1. Open a .cpp file
2. in outline view click on a method and notice the editor goes to the method in the .cpp file
3. make an edit in the .cpp
4. in outline click on a method and notice the editor does NOT go to the method in the

[2019-01-18 23:51] haovic commented on #3052
Are you sure that the fix for #2807 resolves this problem? It was mentioned in #2807 that the error only occurred when immediately editing a file, and that it appeared to have no adverse effects on anything else. In this case it appears to completely prevent intelliSense from functioning. Also, is there any ETA for the next release?

[2019-01-19 04:11] albznw commented on #2367
@dnakamura What do you mean by source directories?

[2019-01-19 05:58] bobbrow commented on #3052
Sorry, I read the title and assumed this was the same issue.  We plan to release an update on Tuesday next week.  You can install the pre-release version by downloading the .vsix from here: https://github.com/Microsoft/vscode-cpptools/releases/tag/0.21.0-insiders4 or changing the setting: `"C_Cpp.updateChannel": "Insiders"`

[2019-01-19 06:03] bobbrow commented on #3052
And if you remove `includePath` from your `c_cpp_properties.json` we will insert the default value: `["$workspaceFolder}/**"]` for you.

If you could [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/0.21.0-insiders4/Documentation/LanguageServer/Enabling%20logging.md) and share the logs with us, we can investigate further.

[2019-01-19 06:04] bobbrow opened #3055 "Monday January 21, 2019 is a holiday for us"
Please be aware that we will be on holiday this Monday so responses to issues may be delayed.

[2019-01-19 16:05] heator commented on #3051
I did nothing but vscode restored the C/C++ autocompletion. I wish it won't happen again.
### **All in all, vs code is a perfect tool(I like it and it makes me love coding more) even than those IDEs like pycharm ,clion and others**
@bobbrow

[2019-01-19 23:19] yannickbt64 opened #3056 "Feature req: Ability to generate definitions/declarations"
Hi,

We use here VSCode for application internals and QT creator for UI related stuff.
One feature I love about QT Creator is the ability to generate declarations/definitions.

Let me explain.
Let's say for example I'm inside "source.cpp", then I can rightclick on myClass::FunctionDefinition and I can click on "Add definition inside source.h", which will add the function prototype inside the myCla

[2019-01-20 02:09] lunxian commented on #15
need this feature!!!

[2019-01-20 02:10] lunxian commented on #16
need this feature. I think it's useful for large project.

[2019-01-20 06:13] erik2047 opened #3057 "environment variable settings lost on remote debug"
Type: Debugger

Summary: The environment variables I set in launch.json don't get passed to GDB when I try to do remote debugging through gdbserver.

- OS and Version: Ubuntu 18.04
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.20.1
- Other extensions you installed (and if the issue persists after disabling them): no other extensions are loaded
- A clear and concise description of what the

[2019-01-20 18:15] PhilParisot commented on #1839
It shouldn't be this complicated to use VC++ in VS Code. It should be built in or at least supported by the official C++ extension.

[2019-01-20 18:30] MaryRit opened #3058 "Unable to start debugging"
Type: Debugger

This problem occures every time I attempt to debug. I've tried re-launching the application or restarting the machine, didn't work. Tried to look it up everywhere, didn't work. Please help!

1) The launch.json file:

   {
            "name": "(lldb) Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolder}/lalala.cpp",

[2019-01-20 22:20] haovic commented on #3052
Thanks for the response. I've tried the pre-release version and now the errors in the Developer Console are gone. However, intelliSense and syntax error checking are still not working and I am getting a similar issue to #1377 with the following output in the logs:

[code]

I noticed that someone posted regarding this issue 5 days ago in that thread [here](https://github.com/Microsoft/vscode-cpptoo

[2019-01-20 23:06] kammoh commented on #296
For those looking for a solution, [vscode-ccls](https://github.com/MaskRay/vscode-ccls) provides refactoring (Rename Symbol) for C/C++/Objective-C.
You also need to build/install the [ccls server](https://github.com/MaskRay/ccls) and [configure](https://github.com/MaskRay/ccls/wiki/Visual-Studio-Code) the extension.
Seems to be working fine for me, VS Code 1.30 on macOS, YMMV.

[2019-01-21 02:19] Lennon925 commented on #3000
Hi sean-mcmanus,
If as you said, it's also impossible to fix issues about 'go to declaration' for other developers. What we can do is to find issues to submit them to you and wait for fixing, right?
In addition, is it possible to control cpptools when to update the symbols database in cpptools extension or vscode codes?

best regards,
Lennon

[2019-01-21 04:53] helloravi commented on #890
I am using MacOS Mojave. Please take a look at the log from engineLogging. Thanks for your quick reply.
[code]

[2019-01-21 05:16] chkp-roic commented on #2821
@bobbrow is there a way for outside contribution for this?

[2019-01-21 06:13] Timothy-Liu opened #3059 "Is this extension still in Preview stage?"
In the UI of Visual Studio Code, this extension still shows as Preview. Is that true?
![preview](https://user-images.githubusercontent.com/12801569/51455923-89c36400-1d00-11e9-880a-44a04c7c4d72.png)

[2019-01-21 06:48] Lennon925 commented on #3000
@sean-mcmanus

[2019-01-21 09:12] egamma commented on #2190
Needs to be re-tested given that the C++ issue is fixed.

[2019-01-21 22:34] pieandcakes commented on #890
@helloravi According to your log, `gdb` is getting an `unknown signal` from your program when it starts.
We tell `gdb` to run when we send `-exec-run` and the response from `gdb` is that error message.
[code]

I also noticed that it is having problems loading some of the symbols:
[code]
but i don't know if it is a cause of this or not. I assume the program runs under normal execution. What compile

[2019-01-22 00:49] CuriousRubick opened #3060 "goto/peak definition does not work for some 'noexcept' functions"
**Type: LanguageService**

**Describe the bug**
- OS and Version: win10, latest
- VS Code Version: latest, stable and insiders
- C/C++ Extension Version: latest, stable and insiders
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

Create a new project with a single header and src file. Create

[2019-01-22 01:06] lanyizi opened #3061 "IntelliSense cannot provide autocompletion or show syntax errors"
**Type: LanguageService**

**Describe the bug**
- VS Code Version: 1.30.2 (system setup)
- Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
- Date: 2019-01-07T22:54:13.295Z
- Electron: 2.0.12
- Chrome: 61.0.3163.100
- Node.js: 8.9.3
- V8: 6.1.534.41
- OS: Windows_NT x64 10.0.17134
- C/C++ Extension Version: 0.20.1

**To Reproduce**
Everytime I restart VSCode or reload window, it will end up on "In

[2019-01-22 05:40] helloravi commented on #890
@pieandcakes  Firstly thanks for taking the time to help me out.

It works with lldb but I am not able to trace the execution path of commands executed through CLI. Let me elaborate. I am trying to trace the path of a transaction in BItcoin. `bitcoind` runs the server. `bitcoin-cli` creates the transaction and sends it to `bitcoind` server. When I launch `bitcoind` with lldb. The debugger panel th

[2019-01-22 06:44] Lennon925 commented on #3000
@sean-mcmanus @delmyers @martinwoodward @Jaxkr

any update?

[2019-01-22 12:25] BecauseReasons commented on #3037
I've managed to fix the issue. The code compiles using command line. Now I'll have to make it work from VSCode :D

For the record. The issue was my MinGW library version. I've downgraded it to 8.1.0 x84-x64.
Also I had some issues with drivers linking so I've added -lgdi32 option to the linker (according to this StackOverflow thread: [https://stackoverflow.com/questions/22008845/glfw-mingw-link-er

[2019-01-22 12:37] jmsfez opened #3062 "Don't see the output (printf on stdout) of C program"
Type: Debugger

Hi, I **don't see the output (printf on stdout) of C program**, whether I run the program in debug mode (Debug | Start Debugging) or not (Debug | Start Without Debugging).

My configuration is:
— **macOS Mojave Version 10.14.2**
— VS Code Version **1.30.2**
— C/C++ Extension Version **0.20.1**
— **c_cpp_properties.json**
![image](https://user-images.githubusercontent.com/28300202/5

[2019-01-22 13:36] nurbles opened #3063 "Intellisense marks unnamed struct/union members as errors, but gcc does not"
**Type: LanguageService**
I am not sure if I am asking for a feature or reporting a bug. I believe it is about something that intellisense is doing wrong, but since it could have been intentionally left out (because a developer didn't know gcc supported this feature, perhaps) I may be asking for a new feature. Or, most likely, I just cannot discover the correct combination of settings to get intel

[2019-01-22 14:21] arijun opened #3064 "Tag database can get corrupted. We need an automatic way to resolve this."
**Type: LanguageService**

- OS and Version: Debian 8.10
- VS Code Version: - C/C++ Extension Version: 1.30.2 - 0.20.1
- Other extensions: Gitlens, vscode-icons

Using ctrl-shift-o to bring up the go to symbol menu, I immediately get the response "No symbols found". This is in all files in my project (in other projects it works).

After enabling logging, I see a whole lot of "Unable to add file to

[2019-01-22 20:59] #3055 closed, assigned to nobody

[2019-01-22 21:10] sean-mcmanus commented on #2437
@RoBaaaT A compiler shouldn't be required. We have tested on machines without any compiler and haven't seen this crash. It shows:
[code]
and it doesn't crash afterwards.

[2019-01-22 21:30] #3051 closed, assigned to nobody

[2019-01-22 21:38] pieandcakes commented on #3058
@MaryRit your problem is that your `program` target is the cpp file. You need to specify in the `program` field your executable, which looks like from your task is `lalala`.

The error message `Unable to start debugging. Program path '/Users/illa/Desktop/🖥MyProjects/🏈C++)/lalala.cpp' is missing or invalid.` tells us this.

[2019-01-22 21:38] #3058 closed, assigned to pieandcakes

[2019-01-22 21:42] pieandcakes commented on #3057
@erik2047 Thats by design. In the instance where you are debugging `gdb` to `gdbserver`, the entire program setup on the `gdbserver` side needs to be completed by you prior to starting debugging. This is explained in the documentation for `gdbserver`.

If you want to set it up through our `launch.json` i would suggest you look at using `ssh` through our `pipeTransport` settings instead.

[2019-01-22 21:42] #3057 closed, assigned to pieandcakes

[2019-01-22 21:42] pieandcakes commented on #3059
@Timothy-Liu Yes

[2019-01-22 21:42] #3059 closed, assigned to pieandcakes

[2019-01-22 21:45] pieandcakes commented on #3062
@jmsfez When debugging on macOS, you will see a separate `Terminal` window pop up with your output. This is due to a limitation within `lldb-mi` that doesn't allow us to redirect debuggee output.

[2019-01-22 21:45] #3062 closed, assigned to pieandcakes

[2019-01-22 21:48] pieandcakes opened #3066 "[macOs] Unable to trace execution on application"
Copied from #890 (https://github.com/Microsoft/vscode-cpptools/issues/890#issuecomment-456277596)

@helloravi says:
It works with lldb but I am not able to trace the execution path of commands executed through CLI. Let me elaborate. I am trying to trace the path of a transaction in BItcoin. bitcoind runs the server. bitcoin-cli creates the transaction and sends it to bitcoind server. When I launch

[2019-01-22 21:48] pieandcakes commented on #890
@helloravi Your issue isn't related to this issue. I've created #3066 for your issue.

[2019-01-22 21:50] pieandcakes commented on #3037
@BecauseReasons Thanks for providing the fix. I'll consider this closed.

You can probably add the new commandline parameters to your `tasks.json` compile command

[2019-01-22 21:50] #3037 closed, assigned to pieandcakes

[2019-01-22 23:08] sean-mcmanus commented on #2807
@haovic Have you tried 0.21.0-insiders4? This TypeError issue should be fixed in that.

[2019-01-22 23:09] sean-mcmanus commented on #2807
@haovic Oh, nevermind -- I found your response in the other thread.

[2019-01-22 23:24] sean-mcmanus commented on #3052
You're hitting:
ERROR_BAD_EXE_FORMAT
193 (0xC1)
%1 is not a valid Win32 application.
It appears that something is wrong with your Microsoft.VSCode.CPP.IntelliSense.Msvc.exe binary. I assume it won't run via the command line? Can you try re-installing? Via what method did you install the Insiders?

[2019-01-22 23:46] erik2047 commented on #3057
I assumed it was by design and wanted to make sure.  Thanks

[2019-01-22 23:47] pieandcakes commented on #3066
@helloravi So it looks like lldb doesn't support what `gdb` has in `set follow-fork-mode child` (https://sourceware.org/gdb/onlinedocs/gdb/Forks.html).

If you set that in your `setupCommands` in `gdb` does it start working?

Relevant `lldb` bug: https://bugs.llvm.org/show_bug.cgi?id=17972

[2019-01-22 23:50] #3005 closed, assigned to nobody

[2019-01-23 00:04] sean-mcmanus commented on #3009
Tried your repro project, but I'm still not reproing the bug, even with the the Chinese language pack enabled.

![image](https://user-images.githubusercontent.com/19859882/51573716-564b1b80-1e5f-11e9-8ec5-3f1156c591af.png)

[2019-01-23 00:09] sean-mcmanus commented on #3056
Thanks for the feedback. We eventually plan to add this -- it's already being tracked by https://github.com/Microsoft/vscode-cpptools/issues/664 .

[2019-01-23 00:09] #3056 closed, assigned to nobody

[2019-01-23 00:36] sean-mcmanus commented on #2821
@roiche The multi-root code is implemented in the open source TypeScript code, so it's possible you could contribute a fix for this...but we might also need to make additional changes to the closed source part too (not sure yet). It seems like we should the TypeScript to send the messages to all the clients and let the clients determine if they should handle it or not, but I'm not too familiar wit

[2019-01-23 00:57] pieandcakes commented on #3057
I don't think we can tell the schema to say if you specify one property that this other property should error so unfortunately we don't have a good mechanism to tell the user which properties won't be handled.

[2019-01-23 00:59] sean-mcmanus commented on #3060
Yeah, Bob discovered this bug last Thursday, but I was out sick so it won't make 0.21.0, but we'll try to fix it for our next Insider release in a few days.

[2019-01-23 01:04] sean-mcmanus commented on #3061
The IntelliSense process is crashing. Our pending 0.21.0 has multiple IntelliSense crash fixes, so let us know if that fixes it after we publish it. Can you attach a debugger to the process before it crashes (i.e. before hovering) to get a call stack? We may also need to get an isolated repro of the particular code that is causing the crash.

[2019-01-23 01:09] sean-mcmanus commented on #3000
Yeah, file bugs and feature requests to us and/or upvote existing issues. Bugs that are really quick/easy to fix we can usually get into the next Insider release, but more time consuming bugs could get stuck on our backlog for a while if we don't view them as having a high enough priority.

We don't have a feature that controls when the symbol database is updated, other than "pause parsing" comman

[2019-01-23 01:22] sean-mcmanus commented on #3064
Yeah, there's some problem adding the file to the database, which will cause the symbols to not get parsed/added. What is the error number? Is there a dangling Microsoft.VSCode.CPP.Extension process that has a file lock on the database file?

[2019-01-23 07:26] Lennon925 opened #3071 "going to definition errors about struct ,class and enum variables"
**Type: LanguageService**

**Describe the bug**
- VS Code Version:  1.30.2
- C/C++ Extension Version:  0.21.0-insiders4
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

when there are some errors before struct and class variables declaration, 'go to definition' about the member of this struct and class will be

[2019-01-23 07:41] RoBaaaT commented on #2437
@sean-mcmanus Does it maybe require some other part of the tools that are installed alongside Visual Studio? The only thing I changed to get it working was to install Visual Studio so I have no other idea why it would crash before that.

[2019-01-23 08:13] jmsfez commented on #3062
Thanks for your answer @pieandcakes.
I did not notice the opening of a Terminal window.
Is there an alternative solution to `lldb` that is better integrated, avoiding the use of an external Terminal window?

[2019-01-23 08:28] Lennon925 opened #3072 "feature that controls when the symbol database is updated"
Currently, cpptools will update symbol database automatically when you open project files and save files. When saving files, it will cause cpu usage percentage to raise because maybe too many extensions are monitoring 'Ctrl+S' this action. So could you provide some features that can control when the symbol database is updated. For example, I can create the symbol database by clicking a button manu

[2019-01-23 12:35] yspef opened #3073 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.20.1`
- OS Version: `Linux x64 4.9.0-8-amd64`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/facundo/ms-vscode.cpptools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu

[2019-01-23 16:06] DanPartelly commented on #106
well i tried again today , and I was able to evaluate c/cpp expressions . When I tried first time, no, nada, not even $rax. its ok as it is now

[2019-01-23 17:50] haovic commented on #3052
I have tried reinstalling both VSC Insiders as well as the cpp extension pre-release that bob provided. I downloaded VSC Insiders from the official VSC website and installed normally. To install the .vsix I went to extensions and chose to install from .vsix and opened the folder where the .vsix was located and chose the .vsix file.

I've located the Microsoft.VSCode.CPP.IntelliSense.Msvc.exe file

[2019-01-23 18:05] pieandcakes commented on #3062
@jmsfez Not with our extension at this time.

[2019-01-23 18:47] bobbrow commented on #3017
Does it work with `${env:LOCALAPPDATA}`?  There's a [special syntax for environment variables](https://code.visualstudio.com/docs/editor/variables-reference) if you don't want to use absolute paths.

[2019-01-23 19:20] tabedzki commented on #3017
Hey Bob, that does work. I'll update the previous comment to include it. Do you also know how to get it so that the `${workspaceRoot}` works? Currently that variable is the windows path (`C:\Users\tabedzki\AppData\Local\lxss\root\code\dmft-lc\`). From my understanding, there is something called `wslpath` in WSL but I do not know if that is something that could be combined with this to yield a simp

[2019-01-23 19:29] sean-mcmanus commented on #2437
@RoBaaaT We don't have any known non-OS external dependencies, i.e. we have "clean" VMs with just the OS for testing and our extension works, but it's possible in certain scenarios a dependency might exist, such as an a Visual C++ redistributable, possibly if the OS hasn't been updated to include it. We might be able to fix this if we had a crash call stack. This is the only report I remember of c

[2019-01-23 19:42] sean-mcmanus commented on #3073
No performance info is attached. We need more info.

[2019-01-23 19:55] victorabraham opened #3074 "vscode does not allow to type / keyboard not working inside vscode / vscode does not allow to edit files"
** Keyboard is not working inside vscode **
After I updated vscode to version 1.30.2, I am not able to edit/type in any files opened in it. It just does not recognize keyboard strokes.

**Describe the bug**
- OS and Version: OSx High Sierra
- VS Code Version: 1.30.2
- C/C++ Extension Version: Not installed
- Other extensions you installed (and if the issue persists after disabling them): Salesforc

[2019-01-23 19:59] victorabraham commented on #3074
It was a vscode bug. Raised in correct github repo. Closing this one.

[2019-01-23 19:59] #3074 closed, assigned to nobody

[2019-01-23 20:48] DanPartelly commented on #106
It works in the sense I am now able to directly eval C/C++ expressions , not typing GDB commands . try something like $rax to eval content of rax register or try to dereference a pointer, it should work.  Its not perfect ,  but at least evals native

[2019-01-23 20:55] sean-mcmanus commented on #3052
Yeah, missing some required OS DLL is a possibility. Can you open the binary in a dependency checker such as http://www.dependencywalker.com/ and see if anything appears to be missing -- you should see 4 bogus errors and 2 bogus warnings that you can ignore, but if you see more, then that is a problem.

![image](https://user-images.githubusercontent.com/19859882/51636447-1f800e80-1f0e-11e9-9d70-e4

[2019-01-23 21:22] haovic commented on #3052
This is what popped up when I opened the file:
![image](https://user-images.githubusercontent.com/34224185/51637788-ab079880-1f2a-11e9-858f-bd79bfa86007.png)

If you need the output of the modules window I can paste that as well, but for many of those .DLLs like API-MS-WIN-CORE-APIQUERY-L1-1-0.DLL there was an "Error opening file. The system cannot find the file specified (2)."

[2019-01-23 21:24] pieandcakes commented on #2996
Duplicate of #2922

[2019-01-23 21:24] #2996 closed, assigned to WardenGnaw

[2019-01-23 21:42] GeorgeCGV commented on #2417
@johnflux There is `forcedInclude` which you may use to include generated `autoconf.h`.
However, you would have to remove `compileCommands` completely, otherwise `forcedInclude` won't work. I am not sure if this is a bug or intended.

[2019-01-23 21:47] pieandcakes commented on #106
@DanPartelly @9527KGG Thanks for continuing the conversation. The `debugConsole` is owned by VS Code. All entries typed into that box are sent to the extension as an `EvaluateRequest` with a `context` of `repl`. This allows users to evaluate an expression quickly without adding the item to the watch window.
The protocol reference is [here](https://github.com/Microsoft/vscode-debugadapter-node/blob

[2019-01-23 21:51] sean-mcmanus opened #3075 "Hover macro expansion isn't formatted as c/cpp code"
It's formatted as markdown -- based on a comment from https://github.com/Microsoft/vscode-cpptools/issues/1734 .

UPDATE: Fixed with 0.22.0-insiders.

[2019-01-23 22:01] sean-mcmanus commented on #3052
I get the same the API-MS-WIN-CORE messages, so that is okay. There appears to be some issue with it loading 64-bit DLLs instead of the 32-bit ones. When you right-click to view the properties of Kernel32.dll does it show C:\Windows\SysWow64 ? Our binaries are 32-bit on Windows (64-bit on Mac/Linux).

[2019-01-23 22:11] haovic commented on #3052
It shows the location as C:\windows\system32

[2019-01-23 22:19] sean-mcmanus commented on #3052
Is your OS 32-bit or 64-bit? It should show in your Settings->About page:

![image](https://user-images.githubusercontent.com/19859882/51641064-12691c80-1f1a-11e9-9604-c28cfd492313.png)

[2019-01-23 22:21] haovic commented on #3052
Oops I should've specified that in my original post. It is 64-bit.

[2019-01-23 22:24] johnflux commented on #2417
A workaround is to replace  -imacros with -include, perhaps with a small sed script that you run after compiling.

[2019-01-23 22:29] sean-mcmanus commented on #3052
Does `C:\Windows\SysWOW64` exist on your machine? Does kernel32.dll exist in that folder? It appears something on your machine is causing our process to want to incorrectly load the 64-bit DLLs instead of the 32-bit ones. Does this repro with the 0.21.0 release we just shipped?

[2019-01-23 22:50] haovic commented on #3052
kernel32.dll exists in that folder. The error persists with the 0.21.0 release.

[2019-01-23 22:54] sean-mcmanus commented on #3052
If you open the Microsoft.VSCode.CPP.Extension.exe with the Dependency Walker does it show the same results (i.e. 64-bit DLLs)? If so, then it would suggest it's not related to the IntellSense process failure...unless there's some difference in our method of child process spawning versus how VS Code launches our main process.

[2019-01-23 23:02] #399 closed, assigned to grdowns

[2019-01-23 23:02] #1815 closed, assigned to nobody

[2019-01-23 23:03] #2736 closed, assigned to nobody

[2019-01-23 23:03] #1942 closed, assigned to nobody

[2019-01-23 23:03] #2807 closed, assigned to bobbrow

[2019-01-23 23:03] #3014 closed, assigned to nobody

[2019-01-23 23:04] #2820 closed, assigned to bobbrow

[2019-01-23 23:04] #1103 closed, assigned to nobody

[2019-01-23 23:05] #2987 closed, assigned to nobody

[2019-01-23 23:05] #2919 closed, assigned to WardenGnaw

[2019-01-23 23:06] sean-mcmanus commented on #2986
@JJChasel The bug you found with 0.21.0-insiders3 should be fixed now with 0.21.0.

[2019-01-23 23:06] #2986 closed, assigned to nobody

[2019-01-23 23:06] #2985 closed, assigned to nobody

[2019-01-23 23:06] #2981 closed, assigned to nobody

[2019-01-23 23:06] #2474 closed, assigned to nobody

[2019-01-23 23:06] #2912 closed, assigned to nobody

[2019-01-23 23:07] #2907 closed, assigned to nobody

[2019-01-23 23:08] sean-mcmanus commented on #2969
0.21.0 should fix this via avoiding the call to fsutil.exe on Windows 7. Let us know if you're still hitting this problem.

[2019-01-23 23:08] #2969 closed, assigned to nobody

[2019-01-23 23:09] #1184 closed, assigned to nobody

[2019-01-23 23:09] #1734 closed, assigned to nobody

[2019-01-23 23:10] #2763 closed, assigned to nobody

[2019-01-23 23:10] #2850 closed, assigned to nobody

[2019-01-23 23:11] #2953 closed, assigned to nobody

[2019-01-23 23:11] #2942 closed, assigned to nobody

[2019-01-23 23:11] #2734 closed, assigned to nobody

[2019-01-23 23:11] #2943 closed, assigned to nobody

[2019-01-23 23:11] #2927 closed, assigned to nobody

[2019-01-23 23:11] #2034 closed, assigned to nobody

[2019-01-23 23:11] #2082 closed, assigned to nobody

[2019-01-23 23:29] tewarid opened #3076 "miDebuggerPath value when gdb is in Windows PATH"
Type: Debugger
- OS and Version: Windows version 10.0.17763.253
- VS Code Version: 1.30,2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): NA

**To Reproduce**

Building and debugging any C program using MINGW64, when `miDebuggerPath` in `launch.json` is unspecified or set to `"gdb"`, results in the error below. System PATH variab

[2019-01-23 23:31] sean-mcmanus commented on #1504
The non-ASCII issue is fixed, but the subset issue was delayed to our next Insider release due to the VS Code 1.30 dependency requirement.

[2019-01-23 23:31] #1504 closed, assigned to nobody

[2019-01-23 23:31] #2913 closed, assigned to nobody

[2019-01-23 23:32] #2597 closed, assigned to nobody

[2019-01-23 23:32] #2422 closed, assigned to nobody

[2019-01-23 23:32] #1525 closed, assigned to nobody

[2019-01-23 23:32] #2883 closed, assigned to nobody

[2019-01-23 23:32] #2851 closed, assigned to nobody

[2019-01-23 23:32] #2849 closed, assigned to nobody

[2019-01-23 23:33] sean-mcmanus commented on #2843
@joueurh We shipped the fix for symlinked #include completion -- let us know if you're still having an issue.

[2019-01-23 23:33] #2843 closed, assigned to nobody

[2019-01-23 23:34] #2836 closed, assigned to nobody

[2019-01-23 23:35] #2822 closed, assigned to nobody

[2019-01-23 23:36] #2608 closed, assigned to nobody

[2019-01-23 23:36] #1785 closed, assigned to nobody

[2019-01-23 23:36] #2802 closed, assigned to nobody

[2019-01-23 23:37] sean-mcmanus commented on #2781
@mjbvz Our extension has removed our dependency on vscode.previewHtml.

[2019-01-23 23:37] #2781 closed, assigned to nobody

[2019-01-23 23:38] #2768 closed, assigned to nobody

[2019-01-23 23:38] #2737 closed, assigned to nobody

[2019-01-23 23:38] #2793 closed, assigned to nobody

[2019-01-23 23:38] #2620 closed, assigned to nobody

[2019-01-23 23:38] #2505 closed, assigned to nobody

[2019-01-23 23:38] #2766 closed, assigned to nobody

[2019-01-23 23:39] #2761 closed, assigned to nobody

[2019-01-23 23:39] #2478 closed, assigned to nobody

[2019-01-23 23:59] Wetmelon opened #3077 "c_cpp_properties.json compilerPath failes when path contains spaces"
**Type: LanguageService**

**Describe the bug**
- OS and Version:  **Windows 10**
- VS Code Version: **1.30.2**
- C/C++ Extension Version: **0.21.0**
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

"compilerPath:" in c_cpp_properties.json no longer supports paths with spaces.  It was working fine for the last

[2019-01-24 00:00] sean-mcmanus commented on #2470
@timedroid I believe 0.21.0 should have fixed this (we re-implemented the `#include` completion mechanism to give better performance). Can you try 0.21.0 and see if the performance is good enough? If not, what is the new call stack for the bottleneck?

[2019-01-24 00:07] Wetmelon opened #3078 "c_cpp_properties.json compilerPath doesn't seem to look at Windows PATH environment variable"
**Type: LanguageService**

**Describe the bug**
- OS and Version:  **Windows 10**
- VS Code Version:  **1.30.2**
- C/C++ Extension Version: **0.21.0**
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Using just the .exe name of a compiler in `compilerPath` in c_cpp_properties.json causes it to fail.  This has

[2019-01-24 00:15] sean-mcmanus commented on #3077
You need to change it to:
`"compilerPath": "\"C:/Program Files (x86)/GNU Tools ARM Embedded/7 2018-q2-update/bin/arm-none-eabi-g++.exe\" -mthumb -mcpu=cortex-m4 -mfpu=fpv4-sp-d16 -mfloat-abi=hard -specs=nosys.specs -specs=nano.specs -u _printf_float -u _scanf_float"`. As in, the path with spaces requires `\"` around it.

Does that fix the issue for you?

This requirement didn't change with 0.21.0.

[2019-01-24 00:21] pieandcakes commented on #3076
@tewarid Pretty sure you need to specify the file extension `.exe` on `gdb` in your `miDebuggerPath` for that to work.

[2019-01-24 00:21] sean-mcmanus commented on #3078
This is currently "by design", but given that we're looking to improve the configuration experience for our next release, this would be one way to help with that.

[2019-01-24 00:27] Wetmelon commented on #3077
Ok, I see the issue there.  Yes, that escaped path works.  The reason I only saw it crop up with 0.21.0 was because I am using a Windows environment variable called "ARM_GCC_ROOT" which contains the unescaped path `C:\Program Files (x86)\GNU Tools ARM Embedded\7 2018-q2-update`.  And then I have:

`"compilerPath": "${ARM_GCC_ROOT}/bin/arm-none-eabi-g++.exe -mthumb -mcpu=cortex-m4 -mfpu=fpv4-sp-d16

[2019-01-24 00:38] sean-mcmanus commented on #3077
The code for environment variable replacement is in our open source TypeScript at https://github.com/Microsoft/vscode-cpptools/blob/master/Extension/src/common.ts (resolveVariables function). That code has not changed from 0.20.1 to 0.21.0. We have never added quotes to environment variable expansion.

[2019-01-24 00:39] Wetmelon commented on #3077
Strange.  Anyway, sounds like it works by design and I'm dumb so thanks 😁

[2019-01-24 00:39] #3077 closed, assigned to nobody

[2019-01-24 00:43] sean-mcmanus commented on #3052
Also, have you ever gotten our IntelliSense process to work (i.e. is this a regression) or are you a new user? Are you able to use the Install Another Version... feature to select an older version that works?

[2019-01-24 01:07] haovic commented on #3052
Opening Microsoft.VSCode.CPP.Extension.exe with the Dependency Walker shows 64-bit DLLs as well. I'll try to do a little researching online as to what could be the issue. Do you have any suggestions?

I'm a new user and so far it hasn't ever worked.

EDIT: I also used Dependency Walker's 32-bit version and the paths for the DLLs are still the paths the 64-bit versions. I've also tried older versio

[2019-01-24 01:25] busticated commented on #2238
being able to manage a custom `cpp.hint` file / instructions via `CustomConfigurationProvider` would be helpful to me as well 👍

my use-case is similar - i have a handful of macros that intellisense cannot decipher but in my case i manage intellisense configuration on behalf of my users based on their project setup which they can (and do!) change fairly often. the upshot being that trying to handl

[2019-01-24 02:07] sean-mcmanus commented on #3052
Can you run ProcMon (Process Monitor) https://docs.microsoft.com/en-us/sysinternals/downloads/procmon and see what errors or suspicious info it reports? You can filter on "Process Name is Microsoft.VSCode.CPP.IntelliSense.Msvc.exe". You should see a Process Start operation and Load Image operations should be called on various DLLs -- the last events shown may give a clue to the problem. You may no

[2019-01-24 02:24] Lennon925 commented on #3071
@sean-mcmanus

Hi sean-mcmanus,

could you support these scenarios above？

Best Regards,
Lennon

[2019-01-24 02:26] sean-mcmanus commented on #2238
In case anyone doesn't know, "cpp.hint" is only used for "global symbols" saved to our database when our "Tag Parser" is run and not the IntelliSense process for a translation unit, so it can fix failures with Go to Symbol and Go to Definition outside of the current translation unit. The "IntelliSense" engine needs to get the macros via the includePath, forcedInclude, etc..

The tag parser will se

[2019-01-24 02:33] haovic commented on #3052
Case-sensitivity is not enabled on the path. I've attached the output that Procmon produces when I try running Microsoft.VSCode.CPP.IntelliSense.Msvc.exe manually. Nothing was popping up in Procmon when I was typing in VSCode, even though errors were showing up in the VSCode output. I tried taking a look at the Procmon output myself, but I'm no expert and couldn't tell which non-successes were oka

[2019-01-24 02:38] sean-mcmanus commented on #3071
Yeah, this looks like a bug -- IntelliSense-based Go to Definition should fall back to the Tag Parser results, which is what Visual Studio does. It may be quick to fix for our next release.

[2019-01-24 02:39] Lennon925 commented on #2861
@sean-mcmanus @bobbrow

Hi both,

I have same requirements with chongchai's. And I listed the requirements in issue 3072

Regards,
Lennon

[2019-01-24 02:45] sean-mcmanus commented on #3071
A workaround for this is to pass a forcedInclude.h file to the forcedInclude setting that has text "#include <non_existent>" -- then with the C_Cpp.intelliSenseEngineFallback set to Disabled it should cause Go to Definition to succeed (via falling back to the Tag Parser's results). Umm...but that will cause a "cannot open source file "non_existent"" error to occur in all your files, so that probab

[2019-01-24 03:06] elegracer commented on #2843
It seems that there's still a problem here.

My CMakeLists.txt has the following configuration:
[code]

<img width="819" alt="screen shot 2019-01-24 at 10 58 53" src="https://user-images.githubusercontent.com/11660695/51651494-143ce980-1fc7-11e9-9d2a-ad26c688cb28.png">

And it seems that the include still has an error.

vscode user settings:

[code]

c_cpp_properties.json

[code]

It's very strang

[2019-01-24 03:08] elegracer commented on #2843
The project can build btw.

[2019-01-24 03:14] sean-mcmanus commented on #3052
The ProcMon from the manual run appears okay to me -- it's using the 32-bit SysWOW64. The fact that no ProcMon data appears via our extension must mean that there is something special with how our main process is launching the child process. Can you run ProcMon, open some (small) workspace folder so our main process launches, clear the ProcMon log, change your includePath to an empty array and you

[2019-01-24 03:18] elegracer commented on #2843
Only when I follow the hint of the light bulb,

[code]

The warning disappears, but why cmake settings not working? It worked in the insider 4...

[2019-01-24 03:25] busticated commented on #2238
@sean-mcmanus i'm probably misunderstanding some nuance but fwiw i got here after finding https://github.com/Microsoft/vscode-cpptools/issues/2876

i'll open a new issue documenting my exact scenario 👍

[2019-01-24 03:32] sean-mcmanus commented on #2843
The only fix/change that was made after Insiders4 was avoiding signature help processing when typing `#include <`. It sounds like the `#include` completion is working (with symlinks), but you're experiencing some other configuration issues. I'm confused what you mean by "cmake settings not working". We do not actually parse CMakeLists.txt and instead rely on either a compile_commands.json to be ge

[2019-01-24 03:41] elegracer commented on #2843
It seems that there's an issue when reading "includePath" from CMake Tools, or ...? Because when doing `command+click` I can navigate to the specific file.

For your last sentence, it's really a dirty solution, because the path contains version number, which would fail in the next brew upgrade..

[2019-01-24 03:43] NeilBaner opened #3079 "Array with variable for dimension producing error, compiles correctly"
Issue Type: <b>Bug</b>

In C, creating a variable-length array produces an error in VSCode, but not in the compiler (gcc) and program works as expected.

1. Declare and assign an int variable (e.g. int dim = 7;)

2. Declare an array with dimension as that int (e.g. int array[dim];)

3. An error "Expression must have a constant value" is produced

4. Compiling the code (with gcc) does not produce a

[2019-01-24 03:58] sean-mcmanus commented on #2843
Yeah, if CMake Tools is working correctly, it should ignore the includePath property in c_cpp_properties.json. If you [enable debug logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) you can see includePaths we end up using -- you want it to not match what's in the c_cpp_properties.json since CMake Tools should be supplying it...yo

[2019-01-24 04:01] sean-mcmanus commented on #3079
This works for me. You need to set your compilerPath to a gcc/non-cl.exe compiler and set your intelliSenseMode to "gcc-x64". Does that fix it?

[2019-01-24 07:25] Lennon925 commented on #3071
local variables have the same behavior with them,too.

int testd1()
{
  xdsas
  int i = MONTH_1::JAN;
  int m = i+2;   /// variable 'i' can't go to definition.
}

[2019-01-24 07:40] lh123 opened #3080 "Auto-Complete doesn't work after struct keyword"
**Type: LanguageService**
- C/C++ Extension Version: 0.21.0

[code]

[2019-01-24 09:56] elegracer commented on #2843
After a loooooot of tests, it seems that when I delete `.vscode` directory, the usual prompt for setting the configuration provider won't show up?

<img width="867" alt="screen shot 2019-01-24 at 17 51 42" src="https://user-images.githubusercontent.com/11660695/51670228-263b7e00-2001-11e9-8f80-810d6424dbdc.png">

Anyway, I found the solution to the problem here, after resetting the configuration p

[2019-01-24 10:28] tewarid commented on #3076
@pieandcakes Yes, it does work with the `.exe` extension. I am wondering why it doesn't work without the extension (useful for cross-platform situations) or if you don't specify `miDebuggerPath` (gdb is in PATH).

[2019-01-24 10:57] Infl1ght commented on #992
I struggled a lot with debugging Node.js addon and finally I've got a solution. I think it is not problem for any OS except Windows, because node-gyp uses MSVCBuild for addon compiling and [you cannot change it](https://github.com/nodejs/node-gyp/issues/838). So you have to use MSVC debugger. Solution for Windows, VSCode and Node.js Addon is to add new launch configuration:
`    {`
`      "type":

[2019-01-24 11:04] everything411 opened #3081 "VSCode.CPP.IntelliSense segfault when open my code"
Issue Type: <b>Bug</b>

    /* my code begin */
    #include<cstdio>
    using namespace std;
    #define maxn = 1e5 + 7;
    struct nd
    {
        int l, r, v, lz;
    } seg[maxn << 2];
    /* something else */
    /* my code end */
Originally ,I write "const int maxn = 1e5 + 7;" and then I change it to use define, but I forget changing other parts of this line ,thus causing a syntax error. How

[2019-01-24 14:38] zlondrej commented on #2904
For now, you can use `HISTIGNORE` variable to set ignored patterns.
Just add `HISTIGNORE="env sh /tmp/Microsoft-MIEngine-Cmd*"` to your `.bashrc`.

[2019-01-24 14:52] Robominister commented on #3051
I am having an issue today, since upgrading cygwin and the gcc installation on my machine - intellisense for any standard library has completely broken. It was working fine previously.

**System:** Windows 7 64
**VSCode:** 1.30.2
**C/C++ extension:** 0.21.0

My cpp_properties.json is basically exactly as @bobbrow describes:
`{
    "configurations": [
        {
            "name": "Win32",

[2019-01-24 15:04] mihaiconstantin opened #3082 "Debugger fails when hovering over iterator"
**Type: Debugger**

**Describe the bug**
- OS and Version: Windows 10 NT x64, Version 1809, Build 17763.253
- VS Code Version: 1.30.2
  - Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
  - Electron: 2.0.12
  - Chrome: 61.0.3163.100
  - Node.js: 8.9.3
  - V8: 6.1.534.41
- C/C++ Extension Version: 0.21.0
- Other extensions you installed:
  - `CMake` -> the issue still persists after uninstalling i

[2019-01-24 15:18] Stypox opened #3083 "Add a way to edit/disable snippets."
Since commit c727ceca1b7d70868b34cbac124315f83cb247e5 snippets can't be neither edited nor disabled.
I use my personal snippets for C/C++, because I don't like the style used in the extension's snippets, so I disabled them using the ``C_Cpp.ToggleSnippets`` command.

I know snippets suggestion have recently been moved from ``cpp_snippets.json`` to the lexer (hardcoded) (see #2942 and #2945). I sug

[2019-01-24 15:25] dudamoos opened #3084 "Installing C/C++ package updates fails when multiple windows are open."
Issue Type: <b>Bug</b>

Have VSCode launch with multiple windows (configuring it to re-open all windows and then exiting and re-launching VSCode while multiple windows are open should do the trick). When The C/C++ extension tries to update it's dependencies, it will fail. Usually the downloading works just fine, but when trying to install the updated packages, the multiple extension host processes

[2019-01-24 16:38] elcojacobs commented on #2972
I am trying to use cquery with vscode but cquery seems to die continuously with a jsonrpc error `(   0.758s) [stdin        ]            lsp.cc:205   | Bad or missing jsonrpc version`. I assume because the language server is not responding as expected.
This is on ubuntu 18 (KDE Neon 5.14).

If I could help you find the cause of the crashes, I would gladly do so. But I don't know where to start.

My

[2019-01-24 17:34] 144026 opened #3085 "Debugger doesn't start"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Microsoft Windows version 10.0.17763.253
- VS Code Version: 1.30
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists a

[2019-01-24 19:18] ThatGuyMike7 opened #3086 "Language Server crashes since latest update of C/C++ 0.21.0"
C/C++ package says that the language server crashed when you open a source file that includes and uses functions from a custom shared library project.

Error message (displayed in bottom-right corner): **The language server crashed 5 times in the last 3 minutes. It will not be restarted.**

Error message (displayed in "Output"):
`[Error - 3:10:00 PM] Connection to server got closed. Server will no

[2019-01-24 20:00] sean-mcmanus commented on #3081
Thanks a lot for the repro. It's a bug with our parser in gcc/clang mode (not msvc/cl.exe mode). It's a regression starting with this release.

[2019-01-24 20:15] sean-mcmanus commented on #3071
I believe the local variable case is "by design" and it isn't a regression, and repros with Visual Studio as well -- the reason is because the error before "int i" causes our IntelliSense parser to not recognize the "int i" definition. However, I have filed a bug with the Visual C++ team at https://developercommunity.visualstudio.com/content/problem/435720/go-to-definition-doesnt-work-with-local-v

[2019-01-24 21:05] pieandcakes commented on #3076
@tewarid Because on Windows the file extension isn't assumed and is part of the file name. We don't do a lookup because we don't know what `gdb` you are using. A lot of people use cross compiled `gdb`s where the name isn't just `gdb.exe`.

[2019-01-24 21:11] oktonion opened #3087 "autoplace semicolon (after class, struct, enum definitions)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10, latest Ubuntu etc...
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): none

So the suggestion is to auto place semicolon after **class**, **struct**, **enum** and **union** definition. Since we have already autocompletion for th

[2019-01-24 22:13] sean-mcmanus commented on #3080
This is currently "by design" and how Visual Studio behaves. This changed as of 0.21.0 due to the fix for https://github.com/Microsoft/vscode-cpptools/issues/2734 . The reason is that when "struct " is used it could be a new struct declaration/definition and not a variable declaration of an existing type, so completion interferes with inputting the new type name when it completes to an existing ty

[2019-01-24 23:14] sean-mcmanus opened #3088 "Reprompt for the configuration provider if c_cpp_properties.json is deleted"
Suggested in https://github.com/Microsoft/vscode-cpptools/issues/2843#issuecomment-457136598 .

Maybe we can add other code to detect/prompt users for a missing configurationProvider setting as well.

Didn't make 0.23.0-insiders.

[2019-01-24 23:16] sean-mcmanus commented on #2843
@joueurh Thanks for the feedback. We're working on changes to improve the configuration experience, so I've created an issue to track this at https://github.com/Microsoft/vscode-cpptools/issues/3088 .

[2019-01-24 23:25] sean-mcmanus opened #3089 "If C_Cpp.updateChannel is Default and an insiders is available, show a prompt"
Showing the prompt should increase usage of the Insiders channel. The prompt should have a Don't Show Again option.

[2019-01-24 23:43] sean-mcmanus commented on #3083
Snippets can be disabled via the editor.snippetSuggestions to "none", but that would apply to all snippets (not what you want).

Yeah, it seems like we should add a setting to enable configuration of the snippet source, e.g. C_Cpp.snippetsSource "Disabled", "LanguageServer", "Custom", and a C_Cpp.customSnippetsPath to the cpp_snippets.json users want to use.

At the very least, we need a disable o

[2019-01-24 23:48] sean-mcmanus opened #3090 "cquery seems to die continuously"
I am trying to use cquery with vscode but cquery seems to die continuously with a jsonrpc error `(   0.758s) [stdin        ]            lsp.cc:205   | Bad or missing jsonrpc version`. I assume because the language server is not responding as expected.
This is on ubuntu 18 (KDE Neon 5.14).

If I could help you find the cause of the crashes, I would gladly do so. But I don't know where to start.

My

[2019-01-24 23:50] sean-mcmanus commented on #3090
@elcojacobs Can you file an issue with the CQuery extension at https://github.com/cquery-project/vscode-cquery/issues or are you saying there is some bug with how our C/C++ extensions interacts with CQuery? Is this is a regression from 0.21.0?

[2019-01-25 00:00] sean-mcmanus commented on #3086
Can you provide a sample repro project? Can you attach a debugger to the Microsoft.VSCode.CPP.Extension.exe process before it crashes and provide a call stack?

[2019-01-25 00:12] sean-mcmanus commented on #3087
We have struct/class/etc. snippets that do this. Have you tried that or is the snippet behavior not desirable? VS Code itself auto-completes the }, but there is no way for us to change that behavior and add a ";" at the end.

[2019-01-25 00:21] sean-mcmanus commented on #3087
I've filed a feature request with Visual Studio Code at https://github.com/Microsoft/vscode/issues/67090 (you could upvote that).

[2019-01-25 00:49] KaeLL opened #3091 "Commenting code inside peek dec/def with Monokai = blurred function name"
Since Peek doesn't work without the extension, I guess this belongs here, but Idk.

- VSCode Version: 1.30.2
- OS Version: Any

Steps to Reproduce:
1. Peek declaration or definition of a function with Monokai color theme;
2. Select code the includes the function name;
3. Ctrl + / to comment the line;
4. Voila.
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue per

[2019-01-25 01:04] sean-mcmanus commented on #3091
Can you open a VS Code bug? Our extension doesn't implement the Monokai theming. It might be covered by bug https://github.com/Microsoft/vscode/issues/64013 .

[2019-01-25 01:04] #3091 closed, assigned to nobody

[2019-01-25 01:57] sean-mcmanus commented on #3072
Are you using IntelliSense? We actually update the symbol database after every edit and not after saving when IntelliSense is used. Are you using recursive includes? Does the problem go away if you disable recursive includes? With recursive includes enabled, doing a save will trigger a parse to check for new #includes added, because it can affect which recursive include paths we use. Ctrl+S can al

[2019-01-25 02:30] aengusjiang commented on #2920
Any progress about this issue?

[2019-01-25 03:08] PhatDang opened #3092 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.21.0`
- OS Version: `Linux x64 4.15.0-43-generic`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/dangminhphat/ms-vscode.cpptools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes

[2019-01-25 03:35] sean-mcmanus commented on #3092
This is not actionable. Can you provide more info?

[2019-01-25 04:14] oktonion commented on #3087
Oh, thank you. It is confusing sometimes to distinguish the job of extension and the editor itself.

[2019-01-25 05:13] lh123 commented on #3080
But Ctrl + Space is only valid after struct keywork.
[code]

[2019-01-25 05:24] pieandcakes commented on #3082
@mihaiconstantin Can you remove `-enable-pretty-printing` and see if it still reproduces?

Edit: Never mind. I was able to get a repro for this.

[2019-01-25 06:16] Anmol-Singh-Jaggi opened #3093 "Extension tries to auto-update despite being told not to"
Type: General

- OS and Version: Windows 10 Enterprise 1709 16299.846
- VS Code Version: 1.28.1
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is.

Extension tries to update itself when VS Code is opened, despite extension auto-updates turned off in the preferences:
"extensi

[2019-01-25 06:20] pieandcakes commented on #3082
@mihaiconstantin if you enable `engineLogging` in your `launch.json` can you confirm what I see?

When I tried your scenario, I'm showing the problem is that `gdb` is crashing.

[code]
If that is what you see too, that's a toolset issue.

[2019-01-25 07:13] mihaiconstantin commented on #3082
@pieandcakes Thanks for the quick reply and suggestions. Based on your reply, here is a summary of the things I have tried:
- removed `-enable-pretty-printing`: it still reproduces
- enabled `engineLogging`: error still reproduces, however, I cannot get the exit code you indicated

I tried the following, and it still fails:

[code]

And the debug console output indicates:
[code]

[2019-01-25 07:18] alekseyt opened #3094 "Go to Symbol in File performance"
**Type: LanguageService**

**Describe the bug**
VS Code version: Code 1.30.2 (61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8, 2019-01-07T22:54:13.295Z)
OS version: Windows_NT x64 10.0.17763
C/C++ Extension Version: 0.21.0

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.21.0
vscode-todo-highlight|way|1.0.4

(1 theme extensions excluded)

**To Reproduce**

1. Open a set of cpp/h files
2.

[2019-01-25 07:40] alekseyt opened #3095 "Switch Header/Source performance"
**Type: LanguageService**

**Describe the bug**
VS Code version: Code 1.30.2 (61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8, 2019-01-07T22:54:13.295Z)
OS version: Windows_NT x64 10.0.17763
C/C++ Extension Version: 0.21.0

**To Reproduce**

1. Open cpp file
2. Switch Header/Source

Actual result 1: nothing happens (seemingly)
Actual result 2: header file opens after 30-60 seconds when i've already opene

[2019-01-25 08:33] pieandcakes commented on #3082
Ok. I tried with the unordered map. I can try it with your vector example. Its usually easier for me to reproduce if you provide a whole code sample with the issue.

What is `Foo` in your example?

[2019-01-25 09:36] zupalex commented on #399
Hi,

if I'm correct the doc comment support is now on the main branch. However I do not seem to be able to get the XML tag recognized. I followed the guidelines from [this page](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/summary) but when I hover on the function I documented using the <summary> tag, It displays everything as plain text, including the XML tags.

![vscod

[2019-01-25 10:41] hferreiro opened #3096 "support per build type/directory settings"
When building Chromium, there can be multiple build directories for different platforms in the same machine, for example chromeos, linux and android on a linux box. The extension lacks a way to select a different compile_commands.json per build type. This is needed because the different platforms may compile different source files.

[2019-01-25 11:30] BErasmus commented on #2034
Glad to see that UTF-8 is now much better supported. I noticed that some syntax highlighting problems remain, eg identifiers shown in the wrong color:
![untitled3](https://user-images.githubusercontent.com/39557872/51743374-1ffedd80-20a5-11e9-8a87-ef7b9beb131f.png)

[2019-01-25 12:04] ThatGuyMike7 commented on #3086
`Exception thrown at 0x75051812 in Microsoft.VSCode.CPP.Extension.exe: Microsoft C++ exception: antlr::NoViableAltException at memory location 0x0175D270.
Exception thrown at 0x75051812 in Microsoft.VSCode.CPP.Extension.exe: Microsoft C++ exception: antlr::NoViableAltException at memory location 0x0175CCC0.
Exception thrown at 0x75051812 in Microsoft.VSCode.CPP.Extension.exe: Microsoft C++ excepti

[2019-01-25 12:18] mihaiconstantin commented on #3082
My apologies for the delay in answering your question. I prepare a short example for you to reproduce.

[code]

With the following usage:

[code]

With the following output in the debug console:

[code]

[2019-01-25 12:52] hferreiro commented on #3096
I just noticed that there can be more than one configuration and those can be selected at runtime. Is there a way to setup the default configuration in the .code-workspace file so that I can just load a different workspace file sharing the same source dirs?

[2019-01-25 17:25] bobbrow commented on #3093
When you install the extension for the first time, we need to download additional OS-specific binaries in order to make the extension work.  If you install the "offline" VSIX package we upload to https://github.com/Microsoft/vscode-cpptools/releases, do you continue to have this problem?

You can try installing an older version (e.g. https://github.com/Microsoft/vscode-cpptools/releases/download/0

[2019-01-25 18:24] bobbrow commented on #399
We don't currently do any special parsing of comment content yet.  We will do doxygen first, but I don't think that there is an issue open for XML.  Could you open one?

[2019-01-25 18:27] bobbrow commented on #3086
Those exceptions are used for flow control in the tag parser and can be ignored.  If you can get a call stack of the crash, that would be super helpful.  Just keep using the extension with the debugger attached until you hit the crash.

[2019-01-25 18:29] bobbrow commented on #2034
Those colorization bugs would be due to the Atom grammar that is currently used by VS Code to color the file.  #230 is on our backlog and should cover this case.

[2019-01-25 18:59] pieandcakes commented on #3082
@mihaiconstantin The `AggregateException` ends up revealing the `gdb` error. I forgot I had https://github.com/Microsoft/MIEngine/pull/826 applied. I've gotten a fix for showing the actual error, but the problem is that the 64bit version of MinGW's 8.1 `gdb` is buggy and is crashing when we ask it to evaluate. I tried the 8.1 32bit version and it SIGSEVs as soon as I hover. I then tested with the

[2019-01-25 19:00] pieandcakes commented on #3082
The fix to reveal the actual error will be in our future release.

[2019-01-25 19:56] sean-mcmanus commented on #3080
I meant that we can fix/change it so that struct t^ would auto-complete when forced via Ctrl+Space.

[2019-01-25 20:17] sean-mcmanus opened #3097 "Process XML comments in documentation comments"
Hi,

if I'm correct the doc comment support is now on the main branch. However I do not seem to be able to get the XML tag recognized. I followed the guidelines from [this page](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/summary) but when I hover on the function I documented using the <summary> tag, It displays everything as plain text, including the XML tags.

![vscod

[2019-01-25 20:17] sean-mcmanus commented on #399
@zupalex I moved the XML issue to https://github.com/Microsoft/vscode-cpptools/issues/3097.

[2019-01-25 20:40] sean-mcmanus commented on #3094
I'm not able to repro the problem.

What do you mean by "parsing process starts again"? How do you know parsing is occurring? Go to Symbol in File doesn't invoke any parsing. However, it can be blocked if parsing is occurring to ensure that the Outline view has updated symbols. Do you know what action is occurring to cause additional parsing? If parsing is actually occurring you should see a "tag

[2019-01-25 20:58] sean-mcmanus commented on #3095
It sounds like something is blocking the main thread (i.e. I assume Go to Definition would also be delayed). The switch header/source operation itself isn't expected to take a long time. I'm not able to repro the bug though (with the large chromium repo). Can you attach a debugger to the Microsoft.VSCode.CPP.Extension.exe process and get the interesting call stacks that appear to be blocked doing

[2019-01-25 21:25] sean-mcmanus commented on #3096
Yeah, the current config is saved per-workspace, so you can just create 2 workspaces and set them to use different configs and then switch workspaces...is that what you're asking? The workspace default is saved into the VS Code's special storage area though, so it's not something that can be checked into source control.

[2019-01-25 21:32] sean-mcmanus commented on #2034
Or after VS Code supports tree-sitter: https://github.com/Microsoft/vscode/issues/50140 .

[2019-01-25 23:01] alekseyt commented on #3094
I assume that parsing is reoccuring because i see bluebar running in both explorer's outline and "quick open menu" when this happens, also "database icon" appears in status bar with tooltip text "Parsing open files".

![image](https://user-images.githubusercontent.com/993454/51776506-2f604400-2102-11e9-82ff-30a05977287a.png)

I might have misinformed you about steps to reproduce, i think steps 7-8

[2019-01-25 23:45] #1464 closed, assigned to nobody

[2019-01-25 23:53] RensAlthuis commented on #3042
@pieandcakes
So, I had some free time and decided to look in to this issue again. I found the problem, and came up with a solution. But it's rather convoluted and requires changes to the MIEngine (which you work on as well right?). I'm not really expecting you to read or do anything with this, I'm mostly just leaving this here if anyone else happens to run in to a similar problem and wants an expl

[2019-01-26 01:07] sean-mcmanus opened #3098 "Completion overwrites text to the right of the cursor"
Have some code like:
[code]
Typing : triggers completion, and a completion character is entered at | and the result is std::abs or std::abs() with the "var1" part on the right deleted.

I fixed this last week, but Bob was saying this was "by design" -- does anyone else not like this? Maybe we could add a setting to enable this to be configured? I think Visual Studio has some smarter processing tha

[2019-01-26 02:56] #2470 closed, assigned to nobody

[2019-01-26 02:56] python152 opened #3099 "C++ parsing erroring on opencv"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Mojave
- VS Code Version: Nov 2018 release
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

opencv 4.0.1 installed by homebrew, initially all three hpp files shows squiggles, after adding the path, both hi

[2019-01-26 03:00] sean-mcmanus commented on #3099
I suspect a dependency of dnn.hpp is not being found. What does the error say?

[2019-01-26 03:02] python152 commented on #3099
file not found is the only error.
![image](https://user-images.githubusercontent.com/17506882/51781858-d9cd6c80-20ec-11e9-827f-4866e6ba56d4.png)

[2019-01-26 03:09] sean-mcmanus commented on #3099
That error message is not from out extension. It might be from the C/C++ Clang Command Adapter extension. We might add a [cpp] provider to our error message to help avoid this confusion, but that other extension should add some [vscode-clang] source ID as well (not sure if they want to).

[2019-01-26 03:16] python152 commented on #3099
You are right!  I do have that extension enabled, and the problem went away when clang adapter disabled, even though I have no idea why clang extension does what it does, the ball is on their court. thanks.

[2019-01-26 03:16] #3099 closed, assigned to nobody

[2019-01-26 04:13] sean-mcmanus opened #3100 "Show a Warning message if the C/C++ Clang Command Adapter extension is enabled and C_Cpp.intelliSenseEngine is not Disabled"
30 or so users have reported error squiggles coming from the C/C++ Clang Command Adapter -- hopefully, showing this warning will help avoid the confusion?

[2019-01-26 06:50] pieandcakes commented on #3042
@RensAlthuis Thank you for investigating further and updating this issue. The C++ extension also uses MIEngine as the debug adapter to communicate between VS Code and `gdb` or `lldb`.

I'll take a look at your comment and see what we can do.

As for the VS Code side, I assume they have the terminal waiting for a key stroke to prevent it from closing after a debuggee's execution has ended. This see

[2019-01-26 08:16] lsmgeb89 opened #3102 "[regression] "compileCommands" is ignored when custom tool chain is used by project"
**Type: LanguageService**

**Describe the bug**
- OS and Version: `Ubuntu 18.04.1 LTS`
- VS Code Version:
[code]
- C/C++ Extension Version: `Version 0.21.0 January 23, 2019`
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is: Current version of `cpptools` ignores the `compileCommands` attribute so that header file

[2019-01-26 12:08] mihaiconstantin commented on #3082
@pieandcakes Thanks a lot for the information. I tried it and, indeed, it seems to work well with the Windows Subsystem Linux. I will take a look at the fix that allows for seeing the actual error. Shall I close this issue?

[2019-01-26 12:37] mihaiconstantin commented on #2889
I was setting-up vscode for a colleague (i.e, on Windows 7), using the configuration below. At that time it work, few days later it stopped working with the same message as you indicated. It works perfect on my computer (i.e., Windows 10).

I will investigate this further and write back. If you find anything new, please share below.

**Configuration on which it works:**
- OS and Version: Windows 1

[2019-01-26 12:52] Anmol-Singh-Jaggi commented on #3093
I just removed the HTTP_PROXY environment variable, and it stopped bothering me.
But I have been using this extension for quite some time, this was not the first time install.
I have now updated both the extension as well as VSCode to the latest versions.
Thanks for the response though.
If you need any more clarifications, let me know.

[2019-01-26 12:52] #3093 closed, assigned to nobody

[2019-01-26 14:48] Yatekii opened #3103 ""miDebuggerPath" completely ignored when "debugServerPath" is used"
**Describe the bug**
- OS and Version: Windows/Linux (Version does not matter)
- VS Code Version: Does not matter.
- C/C++ Extension Version: UPSTREAM (0.21.0)
- Other extensions you installed (and if the issue persists after disabling them): Does not have any influence.
- A clear and concise description of what the bug is:

When you specify a `debugServerPath` and a `debugServerArgs`, `miDebugger

[2019-01-26 15:40] ggruber4711 commented on #16
+1 for this feature
Coming from eclipse, this is a MUST HAVE

[2019-01-26 20:05] pieandcakes commented on #3082
Thanks for checking. I'll close it. Thanks

[2019-01-26 20:05] #3082 closed, assigned to pieandcakes

[2019-01-26 20:43] RolfNoot opened #3104 "The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted"
Type: General

**Since the new update 0.21.0:**
The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.
I've set  "C_Cpp.loggingLevel":"Debug" in the user-settings but there's no info in the CPPtools output window.

- OS and Version: Win 10
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- CMake-Tools / vector of bool
- Cortex-Debug / M

[2019-01-27 00:46] alekseyt commented on #3094
I've checked this on Windows and debug output is identical to output on Linux. Running build on all cores definitely increases parsing time or "parsing time" because i don't see tag parser messages in debug output. It just takes a long time to display symbols after i close some files in editor when CPU is busy.

[2019-01-27 00:49] alekseyt commented on #3095
Regarding

It's my bad, i messed up keybindings and hotkey for Switch Header/Source was bound to other actions too.

[2019-01-27 01:24] alekseyt commented on #3095
Regarding performance issue: i think i found conditions under which issue reliably reproduces. Sorry for the strange steps to reproduce:

1. Reboot Windows

While Windows is getting everything up and disk i/o is at 100%

2. Launch vscode
3. Start a long search in files (e.g. "abc")

While search is still running (disk i/o is at 100%)

4. Pick and open any cpp file in search
5. Switch Header/Source

[2019-01-27 13:53] nxyd opened #3105 "change "." to "->" automatically"
When i type a variable that is a pointer, then i type ".", and is it possible to change to "->" automatically?

[2019-01-27 21:50] celenac commented on #1323
I think I encountered a similar issue. While in gdb, I just typed

`run < source_file.txt`

(where `source_file.txt` is a stdin argument) to get gdb to step through a file with `getchar`.

[2019-01-28 01:51] aengusjiang commented on #2920
When I go back to version 0.19.1, it works.

[2019-01-28 02:33] aengusjiang commented on #2920
The C/C++ Extension Version:0.21 still have this issue.

[2019-01-28 02:48] anders-liu commented on #2499
Vote

[2019-01-28 07:09] starkblitz commented on #3105
I would definitely want this feature!

[2019-01-28 09:37] zupalex commented on #3097
Thanks for moving that to the appropriate section.
So if I understand correctly, this feature is coming and was not supposed to work with the current doc comment support?

[2019-01-28 12:27] elcojacobs commented on #3090
A downgrade to 0.20.1 seems to make it work without problems.

I don't know whether the bug is in cpptools or cquery, but changing the cpptools version makes a difference.

As soon as I upgrade to 0.21.0, I get errors like these:
[code]

[code]

The file exists though and 0.20.1 has no problems finding it.
It seems like the Intellisense fallback code for includes broke something. Let me know if th

[2019-01-28 16:28] sunyinqi0508 commented on #2870
The 0.21.0 update was released. This issue seems to be solved.

[2019-01-28 17:15] tanveerbadar commented on #230
virtual base classes/structs are not correctly colorized if you have a definition like:

class B : virtual public A
{
};

[2019-01-28 20:15] sean-mcmanus commented on #3105
Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/862 . Please upvote that issue.

[2019-01-28 20:15] #3105 closed, assigned to nobody

[2019-01-28 20:23] sean-mcmanus commented on #3104
Can you attach a debugger to get a call stack of the crash? The developer console log isn't helpful. Do you know what part of your configuration is triggering the crash?

[2019-01-28 20:28] sean-mcmanus commented on #3100
We might re-consider this later...

[2019-01-28 20:28] #3100 closed, assigned to nobody

[2019-01-28 21:24] therealkenc commented on #2870
The _internal_ console appears to be working again in 0.21.0. Thanks.

The _external_ console may still result in the reported behavior if vscode can't launch the default terminal program (typically `gnome-terminal` on Ubuntu). The reported behavior being the small red square (ie stop) button with no error reported. This is going to still be the case on other distributions where the external conso

[2019-01-28 21:43] tommyvct commented on #2870
Oh hell yeah! It worked on my WSL Ubuntu 1810!
I updated the new 239 version of 'systemd', and update the 'cpptools' to version 0.21.0, it now works!

[2019-01-28 22:00] sean-mcmanus commented on #3097
We haven't decided yet on if/when this will be implemented -- more upvotes would help. I think doxygen support is higher priority.

[2019-01-28 22:27] pieandcakes commented on #3103
@Yatekii The code is at https://github.com/microsoft/miengine as that is where everything is passed to and processed.

When a debugServer is specified, we will be using that debug server exclusively and no other debugger. Can you expand why you are using both?

CC: @Robotdad @paulmaybee

[2019-01-28 22:30] pieandcakes commented on #2870
@therealkenc when we made our `runInTerminal` change, we removed any requirement for `gnome-terminal`. If you are still seeing the requirement, you may be missing a setting in VS Code. If you [change](https://code.visualstudio.com/docs/editor/integrated-terminal#_configuration) your VS Code settings to use a different `terminal` does it work?

[2019-01-28 22:34] RolfNoot commented on #3104
I have no idea where it goes wrong. I have another project which is functioning fine so it might well be a config setting. It's extremely difficult to get a clue of what went wrong other that it tells the server crashed 5 times in the last 3 min. So if more info could be generated for the user, this would be extremely helpful.

I attached a debugger but I'm not sure where to look. This is the outp

[2019-01-28 22:37] sean-mcmanus commented on #3104
The debugger needs to be attached to Microsoft.VSCode.CPP.Extension.exe. Set "symbolSearchPath" to "https://msdl.microsoft.com/download/symbols". The call stack should be in the call stack window and the crashing thread should get focus when the crash occurs.

[2019-01-28 22:44] RolfNoot commented on #3104
How do I attach the debugger to Microsoft.VSCode.CPP.Extension.exe? I downloaded the source and do "Launch Extension" to start it. Do I have to use another method?

Also, where do I set "symbolSearchPath"?

[2019-01-28 22:57] sean-mcmanus commented on #3104
Yeah, we plan to add a "how to page" on getting crash call stacks. Does this screenshot explain it? You don't need the GitHub source and you don't need to do Launch Extension (it should be (Windows) Attach).

![image](https://user-images.githubusercontent.com/19859882/51872028-f7791c80-230c-11e9-927b-2afff6ed01c5.png)

[2019-01-28 23:06] therealkenc commented on #2870
That [link](https://code.visualstudio.com/docs/editor/integrated-terminal#_configuration) is about the shell not the terminal. There is no setting in VS Code (that I know of, anyway) that specifies the path or arguments to the terminal program. I am not even sure how VS Code determines the default terminal. The default _happens_ to be `gnome-terminal`, typically, on Ubuntu but that is not the issu

[2019-01-28 23:32] #2980 closed, assigned to nobody

[2019-01-28 23:38] pieandcakes commented on #2870
@therealkenc I agree that there should be some feedback when it can't be launched and I'll go open an issue on their side.

The `terminal` app can be changed in the VS Code settings:

![image](https://user-images.githubusercontent.com/17558378/51873538-6d33b700-2312-11e9-85cb-81222922d4a2.png)

[2019-01-28 23:42] pieandcakes commented on #2870
Filed: https://github.com/Microsoft/vscode/issues/67296

[2019-01-28 23:54] therealkenc commented on #2870
Awesome. That is very good to know - thank you so much for your help Pierson. So the applicable settings are:
[code]
You'll find that is the magic answer to everyone's #2842 problems as well. That `linuxExec` line needs to be changed by the user to something that actually runs on their rig, say `xterm` or whatever suits their distribution of choice. It is commonly going to be `x-terminal-emulator`

[2019-01-28 23:54] therealkenc commented on #2870
Calling this a wrap.

[2019-01-28 23:54] #2870 closed, assigned to pieandcakes

[2019-01-29 00:35] Yatekii commented on #3103
No, it will still use GDB and not just the server, but it will use the wrong GDB (At least I see the GDB CLI in VSCode ...). I need to pass various params into GDB and I need the ARM GDB.
Specificially I need to download a file onto my remote target (embedded MCU).
This behavior makes no sense if you still use some GDB on top of the server ;)

[2019-01-29 00:38] apeforest opened #3106 ""go to definition" function doesn't work on vs code for c/c++"
**Type: LanguageService**

"go to definition" function doesn't work (properly) on vs code for c/c++

**Describe the bug**
- OS and Version: MacOS 10.13.6
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
When right click GOTO defintion in any function i

[2019-01-29 00:49] pieandcakes commented on #2842
Can All of you check and make sure the external terminal you have specified in VS Code exists on your machine?

The settings are in the VS Code's Settings area:
[code]

[2019-01-29 00:51] sean-mcmanus commented on #3106
If you check the C/C++ Output window is there are disconnect message from a crash?

Does this repro for certain kinds of definitions?

[2019-01-29 01:08] sean-mcmanus commented on #3102
This was caused by the change for https://github.com/Microsoft/vscode-cpptools/issues/2793 . @bobbrow Prioritizing the compile_commands.json compiler over the compilerPath breaks users who relied on the opposite behavior -- i.e. we broke everyone who who used compilerPath to get around the ccache issue in compile_command.json (see https://github.com/Microsoft/vscode-cpptools/issues/1251, which fix

[2019-01-29 02:10] #3096 closed, assigned to nobody

[2019-01-29 02:10] #3092 closed, assigned to nobody

[2019-01-29 02:58] Lennon925 opened #3107 "Go to definition failed if included wrong head files"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:  1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

Code as below:

**classTest.h**
class CLassA {
public:
    CLassA(){}
    int WorkSecondsElapsed;
    int test(){retu

[2019-01-29 02:59] sean-mcmanus commented on #3107
This is currently "by design". You can change it via setting the intelliSenseEngineFallback setting to "Disabled"...we're planning to change the default setting to Disabled in a future release. Although, it's possible if the header has types that are required to parse, then Go to Def might still fail. Let us know if you're still seeing problems.

[2019-01-29 04:03] Lennon925 commented on #3107
Thanks for your reply. After setting intelliSenseEngineFallback to disabled, it's ok.

[2019-01-29 06:14] #3107 closed, assigned to nobody

[2019-01-29 06:19] Lennon925 opened #3108 "local variable between #ifdef and #endif can't go to definition if macro isn't defined."
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

codes as blow:

#define DEBUG_CHECK_RANGE 1;

void test()
{
    int count = 0;
#ifdef DEBUG_CHECK_RANGE0   // it's not defined
    int l

[2019-01-29 06:33] Lennon925 opened #3109 "local variable in a macro can't go to definition."
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

codes as blow:

#define do_div(n, base) ({   \\
    int count = 0;                 \\
    count++;                        \\

[2019-01-29 06:38] zehuac2 opened #3110 "Template Variable Specialization Error: "variable xx has already been initialized""
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS 10.14.12
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
  * C#
  * C# XML Documentation
  * CMake
  * Debugger for Unity
  * LaTeX Workshop
  * One Dark Pro
  * Pola Code
  * Verilog HDL/SystemVerilog
  * vscode-icons
  * x86 and x8

[2019-01-29 07:04] Lennon925 opened #3111 "symbol behind “goto“ can't go to definition correctly."
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

codes as blow:

void strtoull(bool isTure, int x)
{
    if (x > 36)
        goto destination;    //location1, "go to definition" for des

[2019-01-29 07:51] lsmgeb89 commented on #3102
@sean-mcmanus I see these different cases make this complicated.

Maybe note that the difference is not only about `"compileCommands"`.
In the second `c_cpp_properties.json`, there is one more path `"/home/bob/toolchain/include/**"`  under the `"includePath"` than the first one.

[2019-01-29 09:27] fredijude commented on #2484
@sean-mcmanus : To my knowledger and verification, In VS 2017 "Go to Symbol" supports search by the symbol in the format of #class::FuncationA.

[2019-01-29 11:56] jjimenezg93 commented on #2555
Hi, sorry for the late reply.

Today I tried to configure it again, and I think I got to the problem. As mentioned, I'm using an embedded system's SDK. We are provided the headers and this is the `c_cpp_properties.json`:
[code]

So, their SDK's headers are in the first two paths, and project's own headers are in the third one.

Now, the project has also an `src/global.c`, where macros and typedefs

[2019-01-29 15:40] sameersuterwala commented on #3036
I haven't been able to reproduce the issue with a smaller application, but I do have a couple more observations:
1) Context seems to matter:
 * The same file might not parse correctly depending on if the corresponding C/H is not open, but recover after the counterpart is opened
 * Opening the file via the solution explorer makes it more likely to parse correctly, versus jumping via class/method de

[2019-01-29 16:52] bobbrow commented on #3102
My fix for #2793 was incorrect.  The correct fix for #2793 is to not auto-populate the `compilerPath` when `compileCommands` is set.  I will fix this up.

[2019-01-29 16:56] bobbrow commented on #3108
The code inside the inactive preprocessor region is not compiled, so goto defintion cannot work for that case.  This is currently the expected behavior.

[2019-01-29 17:05] YassinMahmoudEl-Zouhery commented on #3110
is there any issue

[2019-01-29 17:25] allight opened #3112 "Using relative path for compiler in compiler_commands.json breaks intellisense"
Issue Type: <b>Bug</b>

Using a compile_commands.json which has the compiler as a path relative to the 'directory' entry causes completion and other intellisense features to fail.

Repro:

1) Download this example git project: https://github.com/allight/compile-commands-example (`git clone https://github.com/allight/compile-commands-example.git`)

2) run `./gen_compile_commands.json`

3) Open vsco

[2019-01-29 17:34] nurbles commented on #3063
Is this project still alive?  No comment or even acknowledgement of the message in over a week makes me think not.  Is there a different, newer and still maintained Intellisense extension?  If so, please let me know what it is called so I can switch to using it instead of this broken, um, somewhat less than complete one.  Thanks!

[2019-01-29 18:04] zehuac2 commented on #3110
Yes, the plugin is throwing a syntax error when the compiler does not.

[2019-01-29 18:16] bobbrow commented on #3063
Sorry, we have a lot of issues coming through and sometimes one is accidentally missed.  Thank you for bringing this to our attention.  We'll update this issue with a response today.

[2019-01-29 18:26] bobbrow commented on #3110
@sean-mcmanus this looks like a bug we had in the past.  Did we get a fix for it yet?

[2019-01-29 20:42] RolfNoot commented on #3104
Tried this. As soon as I attach the debugger, it won't crash anymore!

Observation:
1) Open VS Code
2) Attach debugger
3) Open .c file >>> no crash
4) Release debugger >>> Crash

[2019-01-29 20:47] sean-mcmanus commented on #3104
The only thing I know that could explain that is if when you attached with the debugger was stuck at a breakpoint. With the debugger attach, do things like hover still work?

[2019-01-29 21:05] sean-mcmanus commented on #3110
It got resolved as Won't Fix by the VS team -- we'll try to get it re-opened.

https://developercommunity.visualstudio.com/content/problem/281377/intellisense-problem-1.html
https://developercommunity.visualstudio.com/content/problem/368977/intellisence-error-when-using-variable-template-sp.html
https://developercommunity.visualstudio.com/content/problem/398349/intellisense-error-when-using-variab

[2019-01-29 21:10] RolfNoot commented on #3104
It is stuck indeed. If I remove "symbolSearchPath" from the Attach launch config, I'm able to halt on exception. if I add the "symbolSearchPath", it won't halt.

I see this thread causing an exception:
[code]

[2019-01-29 21:34] sean-mcmanus commented on #3104
It looks the debugger is stuck trying to download the symbols -- which you need in order to get the call stack. Can you try changing https://msdl.microsoft.com/download/symbols to http://msdl.microsoft.com/download/symbols or changing your VS Code http.proxy settings that might be interfering with the download?

[2019-01-29 21:37] RolfNoot commented on #3104
It was loading, it just took ages I notice. Finally able to provide you with this:

[code]

[2019-01-29 21:55] sean-mcmanus commented on #3109
I filed a bug (feature request) at https://developercommunity.visualstudio.com/content/problem/439673/c-intellisense-go-to-definition-doesnt-work-for-lo.html

[2019-01-29 22:02] helloravi commented on #3066
@pieandcakes
There is a bug in the latest update of MacOS(Mojave) which is preventing the GDB from working. People are working on fixing this. Until that point there is no fix for this.

I am able to debug on command line using `lldb`. I have to do a `process attach --pid 1405` (1405 should be replaced with the process id of the running executable).  VSCode works with lldb on a linux machine of a

[2019-01-29 22:03] sean-mcmanus commented on #3104
Okay, thanks -- yeah, we're familiar with that crash. It's been happening for a long time...it may have started to repro for you because of another bug which caused the compile_command.json compiler to be used instead of the compilerPath. We've been hesitant to fix this crash because we haven't been able to get a repro, but we may be able to fix it without a repro.

[2019-01-29 22:19] RolfNoot commented on #3104
If you like to work on this remotely at our system, please let me know and I'll set things up.

On the other hand, is there a current workaround so we're able to use it on our project?

[2019-01-29 22:38] sean-mcmanus commented on #3104
You may be able to workaround the issue via modifying your compile_commands.json to try to use your compilerPath compiler. You could also revert to 0.20.1.

It appears to be trying to query a WSL compiler on your machine, so disabling WSL might fix this too. For some unknown reason (that I'm not able to repro), querying the WSL compiler on your machine appears to be giving us back relative paths u

[2019-01-29 22:40] RolfNoot commented on #3104
Just found when we change in compile_commands.json the following:
`C:\\PROGRA~2\\GNUTOO~1\\82018-~1\\bin\\AR19DD~1.EXE`
to
`arm-none-eabi-gcc.exe`

solves the problem!

However, compile_commands.json is auto generated...

[2019-01-29 22:59] sean-mcmanus commented on #3111
I repro the problem. Visual Studio doesn't have this bug, so we must be doing something incorrectly.

[2019-01-29 23:03] RolfNoot commented on #3104
And some more info about this, it's the DOS 8.3 naming which gives problems. When changing to
`C:\\Program Files (x86)\\GNU Tools ARM Embedded\\8 2018-q4-major\\bin\\arm-none-eabi-gcc.exe`
it all goes well.

[2019-01-29 23:39] sean-mcmanus commented on #2484
Okay -- yeah, I'm not sure why I thought it didn't work in VS.

[2019-01-30 00:02] sean-mcmanus commented on #3063
We don't support the -fms-extensions flag at all for gcc/Linux. We support it with MinGW, but even with that case the bug described here still repros and it repros with VS too, so it looks like our parser doesn't support this scenario yet. I'll look into filing a bug with VS (the developer community site is buggy and not currently showing the bug I reported).

[2019-01-30 00:11] sean-mcmanus commented on #3112
I got a repro on Linux. It gets permanently stuck trying to read results back from the non-existent compiler.

[2019-01-30 01:16] sean-mcmanus commented on #2555
You should remove
[code]
and instead rely on the us querying /usr/bin/gcc for those paths.

You can [enable debug logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) to make sure we're using the correct include paths and defines.

The "variable is not a typename" would occur if our parser believes that it's defined as a variable (or

[2019-01-30 01:31] sean-mcmanus commented on #3110
They re-opened https://developercommunity.visualstudio.com/content/problem/281377/intellisense-problem-1.html so you can upvote that.

[2019-01-30 01:49] allight commented on #3112
The compiler totally exists. It is at a relative path from the command-entries 'directory' (assuming you have a clang installed). Everything about that command is supposed to be interpreted as though that directory is the $PWD.

This bug was found when using VSCode on the AOSP repository. For AOSP builds are handled by prebuilt compilers distributed with the code repository (hence they have paths

[2019-01-30 01:53] sean-mcmanus commented on #3112
Yeah, I meant to say it doesn't exist because of the bug which doesn't append the directory so it attempts to run a non-existent process. We'll try to release an Insiders fix Thursday.

[2019-01-30 02:14] sean-mcmanus commented on #3081
The bug also repros with Visual Studio 2019 Preview 2, so I filed a bug with them https://developercommunity.visualstudio.com/content/problem/439866/c-intellisense-process-vcpkgsrvexe-crashes-when-ho.html . People hitting issues like this should upvote that issue.

[2019-01-30 02:26] sean-mcmanus opened #3114 "Handle IntelliSense process crashes more like VS does"
1. VS respawns without requiring an edit after a crash.
2. VS doesn't clear the error squiggles after a crash.
3. VS doesn't have a 4 crashes in 3 minutes limit.

Behaving more like VS would make temporary crashes less noticeable. I think we just didn't want an infinite crash/respawn loop to occur.

[2019-01-30 03:21] sean-mcmanus commented on #3063
I filed a bug with VS 2017 at https://developercommunity.visualstudio.com/content/problem/439947/c-language-intellisense-marks-unnamed-structunion.html . Once that is fixed we can enable -fms-extensions with gcc/clang on Linux. But my bug got logged as internal instead of external, so it doesn't look like people can view it until they move it out of the Internal section.

@nurbles Yeah, sorry for

[2019-01-30 03:54] Lennon925 opened #3115 ""go to definition" error when there is a macro reference before function name"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

**#define __init __section**
void __init test(int nid)
{
	int mm = 0 ;
	mm ++;          //it's ok to go to definition.

[2019-01-30 04:08] sean-mcmanus commented on #3115
How is "void __section() test(int nid)" valid code? What compiler/flags are you using? I don't see this working with .cpp files either. I get an error squiggle.

[2019-01-30 06:05] Lennon925 commented on #3115
it's not valid. But I think local variables in functions should go to definition correctly.

[2019-01-30 06:16] Lennon925 commented on #3115
my sample code is from Linux source code. I removed the header including part and used my macro to make logic to understand easily. VsCode can't parse the macro with brackets and parameters for some reasons and this results in errors which local variables can't go to defintion.

[2019-01-30 06:51] astei commented on #1083
I would very much like this so that I can use this extension to do OS development within Visual Studio Code more effectively (cross-compiling from macOS/Ubuntu with a freestanding compiler). I can work without it but I appreciate having feedback as I work.

[2019-01-30 07:14] Lennon925 opened #3116 ""go to definition" about struct member failed when "pointer to incomplete class type is not allowed" occurs"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

**test.h**
struct pci_dev {
	int	bus;
};

**test.c**                                                   // don't includ

[2019-01-30 07:41] ChinaXing commented on #756
+1

[2019-01-30 09:06] JeFrRe opened #3117 "Symbols list: give declarations a different icon than definitions"
In the symbols list, is it possible to give the declarations a different icon than the one for the definitions?

Or put the declaration marker (declaration) at the start of the line? Like it is done in the navigation list. (which would also be more consistent I think)

[2019-01-30 09:57] jjimenezg93 commented on #2555
Hi @sean-mcmanus
Indeed, I had already tried removing default locations, but it doesn't seem to affect the problem.

I understand what you say, but it seems like a bug to me, right? Since it's explicitly defined as a typedef just a couple of lines before:

[code]

Thanks.

[2019-01-30 10:38] go2sh commented on #2966
I have the same problem. I create a CMake based extension and if the CMake configuration is updated, the internal model is updated and so the configurations. But it is not used. Both the browse configuration and the per-file configuration.

[2019-01-30 10:51] NeilBaner commented on #3079
Thanks for the tip. It works as expected now. Please forgive my ignorance,
I am only beginning to learn proper programming. Should I delete this issue
or something, then?

On Thu, 24 Jan 2019 at 12:01, Sean McManus <notifications@github.com> wrote:

[2019-01-30 16:37] astnexperiments commented on #572
I have tried both `"editor.quickSuggestions": true` and `"C_Cpp.autocomplete": "Disabled"` in my settings.json. Is there an update for this sort of problem? My autocomplete seems to work on any other file types other than my .c files (I haven't tried cpp files).

[2019-01-30 16:44] astnexperiments commented on #2064
I have tried adding this to my settings.json (among other things) but autocomplete still works for only files that are not c/c++. Is there an updated solution for this?

[2019-01-30 17:05] zupalex commented on #3097
Oh I see. I just thought from one of your comment that it was supposed to be the plan, to supprot doc xml.
I don't eally mind, doxygen is fine with me as wll, as long as at least one of the 2 is parsed eventually :-)

[2019-01-30 20:49] nurbles commented on #3063
FWIW, the anonymous struct/union stuff is also part of C11 and should also be working when C11 is selected as the cStandard.  At least, that is how I understand the cStandard setting for intellisense to be intended.

[2019-01-30 20:58] sean-mcmanus commented on #3063
I don't know whether it's in the standard or not, but if you enter that code into https://godbolt.org/ it doesn't compile with gcc or clang without the -fms-extensions, and our parser tries to mimic those compiler behaviors and not the standards (i.e. if the compilers don't follow it).

[2019-01-30 21:39] RolfNoot commented on #3104
More exactly when whitespaces are in the path, cmake converts the compiler location to DOS 8.3 path style. I've reinstalled the compiler in another path:
`C:\\GNUToolsARMEmbedded\\8-2018-q4-major\\bin\\arm-none-eabi-gcc.exe`
Which works okay for now as workaround.

[2019-01-30 21:56] fabiopolimeni opened #3119 "const reference return type is marked as an error by intellisense"
**Type: LanguageService**
C

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.31
- C/C++ Extension Version: 0.21
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

The character '&' is highlighted in red if part of a declaration/definition of the return type of a function.

**To Reproduce**

[2019-01-31 01:55] JalonWong commented on #2937
All comments are in one line.

![image](https://user-images.githubusercontent.com/5309088/52024708-c0894d80-253c-11e9-8e9f-8a4da44abe23.png)

I think this is better.
![image](https://user-images.githubusercontent.com/5309088/52025047-f418a780-253d-11e9-8810-eda59ff4ae95.png)

[2019-01-31 02:35] sean-mcmanus commented on #2937
Yeah, we're not yet sure how to fix this, because VS Code doesn't give us an API to check/suppress the newlines that they add themselves, which prevents us from doing accurate line wrapping.

One idea is that we can add the newlines when the end of the previous line or the start of the current line ends in a punctuation, which would fix the 1 word on a line problem:
[code]

[2019-01-31 02:46] sean-mcmanus commented on #3063
There's a public issue at https://developercommunity.visualstudio.com/content/problem/440407/c-intellisense-marks-unnamed-structunion-members-a.html -- so upvoting that would help get a fix.

[2019-01-31 02:53] sean-mcmanus commented on #3115
I reported a bug (feature request) at https://developercommunity.visualstudio.com/content/problem/441352/cc-intellisense-fails-to-work-in-a-function-body-a.html , so upvoting that issue would help get a fix.

[2019-01-31 03:13] sean-mcmanus commented on #3117
The fix for adding a declaration icon is being tracked by VS Code itself at https://github.com/Microsoft/vscode/issues/23927 .

However, I believe we can move the (declaration) to the front.

UPDATE: The fix was made, but the check in has been delayed till after the March release ships.

[2019-01-31 03:15] sean-mcmanus commented on #2555
I'm not able to repro the issue with typedef void* TYPE_A. My guess is that code before hand causes the parser to enter a bad state, skipping the typedef definition. Are you able to provide a simple repro project I can download?

[2019-01-31 03:18] sean-mcmanus commented on #3079
That's okay. We're planning to do work to help new user properly configure things and diagnose failures.

[2019-01-31 03:18] #3079 closed, assigned to nobody

[2019-01-31 03:23] sean-mcmanus commented on #572
@AustinMoninger Can you change editor.wordBasedSuggestions setting to true? We default it to being disabled because it interferes with C/C++ in general (i.e. completion occurs after "struct name<enter>").

[2019-01-31 03:27] sean-mcmanus commented on #3097
@zupalex Yeah, I thought doc xml would be automatically supported because VS does and we got the implementation from them, but it looks like adding the xml-stuff requires additional work.

[2019-01-31 03:29] sean-mcmanus commented on #3119
I'm not reproing a problem. Can you copy/paste the text of the error?

[2019-01-31 03:35] astnexperiments commented on #572
@sean-mcmanus That worked like a charm! Thanks. Only thing is that the extension is eating up processing power for some reason and making my fan be loud... I'll look at the other issues for that.

[2019-01-31 04:54] pieandcakes commented on #2998
@UniverseIsProprietary2 We use the VS Code Debug Protocol's `RunInTerminal` command now to launch external terminals on Linux. What that means is that the setting is now set in VS Code, which I think they default to xTerm.

You can change the setting in VS Code's `File -> Preferences -> Settings` by searching for Terminal.External. Here's a screenshot of the default setting:
![image](https://user-

[2019-01-31 04:54] #2998 closed, assigned to pieandcakes

[2019-01-31 04:55] pieandcakes commented on #2998
Pinning this so others running into it will know how to get around it.

[2019-01-31 05:02] pieandcakes commented on #2857
@weinard Our extension doesn't control build output. What sort of investigation would you like us to do? I took a look at Microsoft/vscode#63596 but don't see any hints.

[2019-01-31 05:03] pieandcakes commented on #2842
Closing this in favor of #2998. Please leave a comment there or here if you need more help

[2019-01-31 05:03] #2842 closed, assigned to pieandcakes

[2019-01-31 05:11] pieandcakes commented on #2785
@x0r13 can you let me know if you enable `engineLogging` if you get information and if so can you share it? Also, you say you are switching to `mate-terminal` do you see it start up in your process list?

[2019-01-31 05:12] pieandcakes commented on #2785
@s-martin Can you see if changing the [VS Code external terminal setting](https://github.com/microsoft/vscode-cpptools/issues/2998#issuecomment-459214989) works for you?

[2019-01-31 08:13] s-martin commented on #2785
@pieandcakes:
I just updated to 0.21 and the terminal was already set to `"terminal.external.linuxExec": "gnome-terminal"` and now it works again.
Thanks!

[2019-01-31 08:32] fabiopolimeni commented on #3119
Unfortunately, the only text I have is the one you can see in the screenshot

If you can't repro on your side I will try to disable some other extensions, they may are conflicting with the parsing.

[2019-01-31 08:43] JeFrRe commented on #3117
OK, thank you.

Have a nice day

JF

On Thu, Jan 31, 2019 at 4:13 AM Sean McManus <notifications@github.com>
wrote:

[2019-01-31 12:38] nurbles commented on #3063
Again, FWIW, removing the tag from the union in my example (Unnamed_u) allows the example to compile fine at https://goodbolt.org using the latest GCC with only the -std=c11 option enabled.  The -fms-extensions option allows union/struct with tags to also be used anonymously.

Also, thanks for listening!  These extra comments aren't additional complaints, just my attempt to make sure whoever ends

[2019-01-31 15:10] jazzmx commented on #2060
Same issue here. I need to copy the same `c_cpp_properties.json` file into each folder (root) of the workspace. I also have the multiple configurations issue: a native compile and a cross-compile configuration, so when I want to switch configuration, I need to manually switch each folder (root) in the workspace. Having a global workspace configuration file supporting multiple configuration would b

[2019-01-31 15:44] jazzmx commented on #2096
Just adding my voice to this as well! I already commented in the [#2096](https://github.com/Microsoft/vscode-cpptools/issues/2060) issue, as there is a close relation between those 2 requests.
To clarify: the request is to support multiple c-cpp configurations at the workspace level to allow sharing those to each folder of the multi-root workspace. In which file those settings should be added (i.e

[2019-01-31 18:26] aparks5 opened #3120 "Support tracepoint actions (Linux)"
it's pretty simple, vscode 1.30.2

launch gdb, try:

-exec trace source.cxx:line
-exec actions

(no response)

works fine when i launch gdb from the terminal

[2019-01-31 19:44] x0r13 commented on #2785
@pieandcakes engineLoggin is set to true. Output (line breaks added for better readability):

    (229) DbgCmd:echo $$ > /tmp/Microsoft-MIEngine-Pid-y2a475s2.ped ; cd /home/x0r13/git/test ;
    DbgTerm=`tty` ; set -o monitor ; trap 'rm /tmp/Microsoft-MIEngine-In-uqww6em7.pev /tmp/Microsoft-MIEngine-Out-ijwkjud2.uze /tmp/Microsoft-MIEngine-Pid-y2a475s2.ped /tmp/Microsoft-MIEngine-Cmd-u2al5244.l4i'

[2019-01-31 20:14] mill1000 opened #3121 "Unable to set non-recursive includePath in workspace root"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 (Windows_NT x64 10.0.17134)
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): None

I am unable to set a non-recursive includePath to the workspace root. I wish to add specific folders to the includePath, and exclude others. Howev

[2019-01-31 20:49] pieandcakes commented on #2785
@x0r13 Thats an unfortunate side effect of the terminal support. I'm wondering if what @therealkenc said in a different thread is true and that mate-terminal is just erroring out and VS Code isn't giving us good information. I'm going to consider this closed.

Thanks Everyone

[2019-01-31 20:49] #2785 closed, assigned to pieandcakes

[2019-01-31 20:55] pieandcakes commented on #3120
We don't currently support tracepoints.

@aparks5 what are you expecting to happen? I tried your scenarion and I get a response of *not available* back from gdb.

[2019-01-31 21:12] sean-mcmanus commented on #3063
So it sounds like removing the tag from the union solves your IntelliSense issue as well? It appears to do that for me. But having the tag and other -fms-extensions (such as designated initializers in C) would be preferred?

[2019-01-31 21:32] sean-mcmanus commented on #3119
That error is from our extension. It's caused by your file (I assume ".C") from being interpreted as a C instead of a C++ file (C doesn't allow references with &). Can you workaround the issue via adding `"*.C": "cpp"` to your files.associations setting? We have an issue tracking improving this scenario at https://github.com/Microsoft/vscode-cpptools/issues/2558 .

[2019-01-31 21:51] sean-mcmanus commented on #3121
The "Processing (recursive)" is controlled by the "browse.path" setting and not the "includePath" setting, i.e. use
[code]
That setting is for global symbol parsing (although if it's missing we attempt to populate it from the includePath). Since the includePath doesn't support `"*"`, it looks like we don't transfer the `"*"` over to the browse.path automatically, i.e. we can probably fix that so i

[2019-01-31 22:06] sean-mcmanus commented on #3121
Ah, it looks like your pull request transfers over the "*" -- that seems good to me.

UPDATE: Your fix shipped with 0.22.0-insiders.

[2019-01-31 22:07] mill1000 commented on #3121
Ah well, the whole browse.path vs includePath can be quite confusing. Haven't quite wrapped my head around it.

Yes copying over the non-recursive "*" got the behavior I was looking for. Quick fix.

[2019-01-31 22:13] aparks5 commented on #3120
I was expecting to be able to do anything in the Debug Console that I could do in gdb. Even if it gets written out to the file system and is not reflected in the Debug window.

[2019-02-01 00:25] therealkenc commented on #2998
FWIW for me anyway, the default started off life as `x-terminal-emulator` (not `xterm`). I'm on Ubuntu (aka Debian derrived). I found this code [here](https://github.com/Microsoft/vscode/blob/b2ac8d2dcfab452b3279057133335017b572d8a2/src/vs/workbench/parts/execution/electron-browser/terminal.ts#L14) which seems to try heuristics (existence `/etc/debian_version` and poking around environment variabl

[2019-02-01 00:56] pieandcakes commented on #2998
@therealkenc I've pinned it in the hopes that as the title suggests, people who run into this will look at the pinned issue and be able to quickly figure out if they are running into the same issue. There's [this](https://efficientuser.com/2016/10/12/steps-to-set-customized-external-terminal-in-vs-code/) article from 2016 but I can't find an official document from the VS Code team about the settin

[2019-02-01 01:35] therealkenc commented on #2870
[back here from [#2998](https://github.com/Microsoft/vscode-cpptools/issues/2998#issuecomment-459565516) so the setting doesn't get more burried than it needs to....]

I kind of figured; the non-obviousness isn't on you. It also apears that this was all a side-effect of addressing two-digit #35. No good deed goes unpunished.

[2019-02-01 01:38] pieandcakes commented on #2870
Correct. The original complaint is that we were rolling our own terminal support and only supporting xTerm and gnome-terminal so when we switched, it seems the users of our extension who expected it to just "work" were now stuck trying to figure out the "new" VS Code angle of it.

[2019-02-01 04:22] sean-mcmanus opened #3123 "Not checking files.exclude during the initial directory iteration can make the extension unusably slow for large folders"
I added a symlink to a huge folder with hundreds of thousands of subfolders. Even though the symlink is added to the files.exclude, all the folders are still being iterated over, making everything too slow, particularly if recursive includes are used (because takes "forever" to iterate through all the folders). I don't know how common this is. The root problem is that we're not checking folder exc

[2019-02-01 04:55] sean-mcmanus opened #3124 "Inactive regions are not made active until a 2nd edit/save is made"
[code]

After "foo" is first defined, the inactive region doesn't become active again...until another edit/save is done. Seems sort of low priority, but I initially thought the feature was completely broken. Oddly, when the "foo" definition is removed, the inactive region immediately takes effect.

The bug https://github.com/Microsoft/vscode-cpptools/issues/1779 sounds similar.

UPDATE: Fixed with

[2019-02-01 07:18] dsanz006 commented on #2060
There is a similar issue with the launch configurations in multiroot workspaces, as one would need one `launch.json` file per workspace folder. VS Code solves this issue by allowing to have worksapace launch configurations in the `.code-workspace` file, under the "launch" key, as described here: [https://code.visualstudio.com/docs/editor/multi-root-workspaces#_workspace-launch-configurations](url)

[2019-02-01 09:11] fabiopolimeni commented on #3119
Great @sean-mcmanus, the issue is fixed as far as I need.

[2019-02-01 09:11] #3119 closed, assigned to nobody

[2019-02-01 09:28] EmbersArc opened #3125 "Code formatter: Curly braces not in same column"
**Type: LanguageService**

- OS and Version: Ubuntu 16.04, Linux x64 4.4.0-141-generic
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Issue persists after disabling all other extensions

----

- A clear and concise description of what the bug is.

The default c/c++ formatter turns an initializer list from this

[code]

into this

[code]

Putting the last curly brace not below the fi

[2019-02-01 09:46] jjimenezg93 commented on #2555
Hello again.

I have solved the issue. The problem was that there were two preprocessor definitions missing and for some reason it was not graying out the appropriate code.

I have it sort of working now.

Thanks and sorry for the inconveniences.

[2019-02-01 09:46] #2555 closed, assigned to nobody

[2019-02-01 10:24] starkblitz commented on #1377
### Here are the version info
[code]

### Here is the output file of the extension:

[code]

### Here is my c_cpp_properties.json file:

[code]

[2019-02-01 13:06] nurbles commented on #3063
I checked and it does appear that removing the tags works.  That is a bit of a problem for me, since the headers I'm working with that contain all these things are created for and shared with several VS2017 projects that build Windows 10 software.  I'm working on the linux side of a communication channel and need to use the same data structures.  I can hopefully get the tags removed from the prima

[2019-02-01 20:35] sean-mcmanus commented on #3125
It can be configured via using the Cpp11BracedListStyle: false (see https://clang.llvm.org/docs/ClangFormatStyleOptions.html ). Example C_Cpp.clang_format_style setting is
`{ BasedOnStyle: LLVM, UseTab: Never, IndentWidth: 4, TabWidth: 4, AllowShortIfStatementsOnASingleLine: false, IndentCaseLabels: false, ColumnLimit: 0, Cpp11BracedListStyle: false }`. Does that work for you? I'm not sure if we w

[2019-02-01 20:40] eshadd commented on #530
Running into same problem but neither `"logging": {"trace": true},` nor `"logging": {"engineLogging": true},` give me any information in the DEBUG CONSOLE. The only thing that happens when I launch the debugger is that a an LXTerminal window opens up and all the debug controls are dimmed out except Stop. `"stopAtEntry": true,` does nothing.

Please help.

task.json:
[code]
launch.json:
[code]
c_cp

[2019-02-01 20:48] sean-mcmanus commented on #1377
@starkblitz Your report matches the 193 error reported in https://github.com/Microsoft/vscode-cpptools/issues/3052 . Can you run [ProcMon](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon), open some (small) workspace folder so our main process launches, clear the ProcMon log, change your includePath to an empty array and your compilerPath to an empty string (to reduce the ProcMon n

[2019-02-01 21:04] pieandcakes commented on #530
@eshadd The issue you have is not related to Visual C++. you are using GNU C++. Please check and see if your task is completing and the `.out` file exists. If it is there, please open a new issue.

[2019-02-01 22:51] sean-mcmanus opened #3126 "Re-lexing (`lex_document_to_line`) can be replaced with use of cached lexer line states."
We are re-lexing (a certain percentage of) the document for every hover or go to definition (instead of caching/resuing the results). For hover, it's a regression from adding document comments. Hover is usually expected to be faster than Go to Def, and with hover it just shows "Loading...", but Go to Def shows a progress bar indicator. Maybe the large file scenario isn't important enough (i.e. sql

[2019-02-02 06:38] TBBle commented on #2142
I just hit exactly this issue with clang-check, and in my case it was that the file was encoded (according to VIM) with `utf-16le`. Saving with encoding `utf-8` caused it to parse correctly. The error is coming from the YAML parser in Clang's libTooling, so not really a bug in vscode-cpptools, unless there is a way for vscode-cpptools to control the character encodings that clang-format etc. recog

[2019-02-02 10:34] kroton opened #3127 "[question] Option to disable completion committing for methods after ("
Is there any option to disable completion committing for methods after ( #1184 ?

It seems to me that the feature related to #1184 works well for method calls, but is not fit for variable definitions or method calls using macros.
For example, I have typed `std::vector<string> grid`, then I typed `(`, and finally I got `std::vector<string> __libcpp_thread_get_current_id()`.
Another case, I have typ

[2019-02-03 00:41] schiffy91 commented on #2843
I'm still seeing #include errors with symlinks. I'm using mainline llvm (downloaded via brew) on MacOS Mojave, and my `c_cp_properties` looks like:

[code]

I have a very basic project that does nothing:

[code]

I get the following IntelliSense error: `cannot open source file "wchar.h" (dependency of "vector")` and the lightbulb over `#include <vector>` shows this

<img width="553" alt="screen sh

[2019-02-03 02:58] schiffy91 commented on #2843
False alarm: There was a stale cache that made me think including the resolved path fixed IntelliSense. It turns out IntelliSense is fine – no bug here; instead, there's a "working-as-intended" quirk with Brew's installation of LLVM – not all the required files are self-contained. Adding `"/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk/usr/inclu

[2019-02-03 09:29] tkj666 opened #3129 "arguments suggestions underline wrong"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 x64
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/28040169/52175061-e3379280-27d8-11e9-962d-ee9a5b0cca07.png)

As you ca

[2019-02-03 09:47] tehKaiN commented on #429
At the moment of writing there are unofficial vscode builds for raspi and I had to use one to deploy some hotfixes on my app. Having this addon available in such build would simplify stuff when cross-compiling is out of option.

[2019-02-03 12:19] ShubhamAvasthi commented on #1377
I was also experiencing the 193 error with the `Default` intellisense engine. I solved it and intellisense now works perfectly. Hopefully, it helps.

- VSCode version : **1.30.2 (stable, not insiders)**
- C/C++ Extension version : **0.21.0**
- Compiler : **MinGW 32-bit**

My username is **Shubham Avasthi** on my windows machine (notice the space). I tried to get some insights from ProcMon as instr

[2019-02-03 13:46] dimka-rs commented on #2499
Probably, STM8 interrupt case falls here too. ISR is declared this way:
`void tim4_isr(void) __interrupt(ITC_IRQ_TIM4_OVF)`
vscode expects `{` instead of `__interrupt`.

[2019-02-03 15:56] giuscri commented on #172
or, even simpler: `*some_pointer@3`. Bonus point, check out `*argv@argc`!

[2019-02-03 18:09] ThadHouse commented on #3123
One thing I want to make sure of is I have an extension and a large scale project that doesn't use symlinks, but uses the API provider where some of the provided headers are in a `files.exclude` folder.  This seems pretty common too, especially with things like generated headers in something like a CMake build, where the generated file gets placed in the build folder. I want to make sure a fix for

[2019-02-04 07:43] EmbersArc commented on #3125
Ah, I see. Now the brace is in the right place, but there are additional spaces:
[code]
Not really better either. I wasn't aware that clang-format is always used for this. Might report there.
Thanks for your help.

[2019-02-04 07:48] LinAGKar commented on #2842
terminal.external.linuxExec was set to 1. Setting it to konsole works. I also tried xdg-terminal, but got the same problem.

[2019-02-04 10:20] wa8n opened #3130 "step over work unexpectedly."
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Windows_NT ia32 10.0.17134
- VS Code Version: 1.30.2
- C/C++ Extension Version:0.21.0
- Other extensions you installed (and if the issue persists after disablin

[2019-02-04 13:04] bigface008 opened #3131 "The debugger sometimes show no response when I debug a c program with getchar() in the head of 'while' loop."
Type: Debugger
The debugger sometimes show no response when I debug a c program(listed below) with getchar() in the head of 'while' loop. (Please forgive my poor English......

**Describe the bug**
- OS and Version: wsl(ubuntu16.04) on windows10(17134.523):
- VS Code: 1.30.2
- C/C++ Extension Version: 0.21.0

**To Reproduce**
1. Set break points at line 7 and line 11. Start the debugger.
2. The de

[2019-02-04 17:42] bobbrow commented on #612
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 17:42] #612 closed, assigned to nobody

[2019-02-04 17:43] bobbrow commented on #637
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 17:43] #637 closed, assigned to nobody

[2019-02-04 17:45] bobbrow commented on #740
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having issues resolving system headers, please set the `compilerPath` property in `c_cpp_properties.json` and remove any system include paths from the `includePath` property.

[2019-02-04 17:45] #740 closed, assigned to nobody

[2019-02-04 17:46] bobbrow commented on #745
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 17:46] #745 closed, assigned to nobody

[2019-02-04 17:50] bobbrow commented on #838
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 17:50] #838 closed, assigned to nobody

[2019-02-04 17:50] bobbrow commented on #874
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 17:50] #874 closed, assigned to nobody

[2019-02-04 17:51] bobbrow commented on #920
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 17:51] #920 closed, assigned to nobody

[2019-02-04 18:02] bobbrow commented on #936
This works for me with the latest version of the C++ extension.

![image](https://user-images.githubusercontent.com/12818240/52227286-f3488400-2863-11e9-82b3-5be327000da0.png)

![image](https://user-images.githubusercontent.com/12818240/52227319-065b5400-2864-11e9-9e4c-db559ed821f6.png)

[2019-02-04 18:02] #936 closed, assigned to nobody

[2019-02-04 18:05] bobbrow commented on #969
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 18:05] #969 closed, assigned to nobody

[2019-02-04 18:06] bobbrow commented on #974
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 18:06] #974 closed, assigned to nobody

[2019-02-04 18:07] bobbrow commented on #1061
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 18:07] #1061 closed, assigned to nobody

[2019-02-04 18:10] bobbrow commented on #1063
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 18:10] #1063 closed, assigned to nobody

[2019-02-04 18:13] bobbrow commented on #1084
This appears to work as expected with the latest version of the extension.  If you are still seeing issues, please let us know.

[2019-02-04 18:13] #1084 closed, assigned to nobody

[2019-02-04 18:15] bobbrow commented on #1086
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 18:15] #1086 closed, assigned to nobody

[2019-02-04 18:16] bobbrow commented on #1099
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 18:16] #1099 closed, assigned to nobody

[2019-02-04 18:17] bobbrow commented on #1107
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 18:17] #1107 closed, assigned to nobody

[2019-02-04 18:19] bobbrow commented on #1125
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 18:19] #1125 closed, assigned to nobody

[2019-02-04 18:19] bobbrow commented on #1144
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 18:19] #1144 closed, assigned to nobody

[2019-02-04 18:28] bobbrow commented on #1167
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 18:28] #1167 closed, assigned to nobody

[2019-02-04 18:29] bobbrow commented on #1168
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 18:29] #1168 closed, assigned to nobody

[2019-02-04 18:29] bobbrow commented on #1232
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 18:29] #1232 closed, assigned to nobody

[2019-02-04 18:30] bobbrow commented on #1280
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 18:30] #1280 closed, assigned to nobody

[2019-02-04 18:45] bobbrow commented on #1301
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 18:45] #1301 closed, assigned to nobody

[2019-02-04 18:50] bobbrow commented on #1307
I'm closing old issues marked "more info needed".

In this particular case, the functionality requested seems to be within the VSCode team's domain.  Our extension is not able to implement this behavior.

[2019-02-04 18:50] #1307 closed, assigned to nobody

[2019-02-04 18:52] bobbrow commented on #1328
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 18:52] #1328 closed, assigned to nobody

[2019-02-04 18:52] bobbrow commented on #1331
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 18:52] #1331 closed, assigned to nobody

[2019-02-04 18:56] bobbrow commented on #1332
This issue appears to be a duplicate of another issue: #1715

[2019-02-04 18:56] #1332 closed, assigned to nobody

[2019-02-04 18:58] bobbrow commented on #1333
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 18:58] #1333 closed, assigned to nobody

[2019-02-04 19:00] bobbrow commented on #1351
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 19:00] #1351 closed, assigned to nobody

[2019-02-04 19:04] bobbrow commented on #1373
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 19:04] #1373 closed, assigned to bobbrow

[2019-02-04 19:05] bobbrow commented on #1416
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 19:05] #1416 closed, assigned to nobody

[2019-02-04 19:06] bobbrow commented on #1437
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 19:06] #1437 closed, assigned to nobody

[2019-02-04 19:07] bobbrow commented on #1528
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 19:07] #1528 closed, assigned to nobody

[2019-02-04 19:08] bobbrow commented on #1551
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 19:08] #1551 closed, assigned to nobody

[2019-02-04 19:09] bobbrow commented on #1561
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 19:09] #1561 closed, assigned to nobody

[2019-02-04 19:12] bobbrow commented on #1637
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 19:12] #1637 closed, assigned to nobody

[2019-02-04 19:13] bobbrow commented on #1657
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 19:13] #1657 closed, assigned to nobody

[2019-02-04 19:15] bobbrow commented on #1662
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 19:15] #1662 closed, assigned to nobody

[2019-02-04 19:15] #1676 closed, assigned to nobody

[2019-02-04 19:16] bobbrow commented on #1677
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 19:16] #1677 closed, assigned to nobody

[2019-02-04 19:18] bobbrow commented on #1728
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 19:18] #1728 closed, assigned to nobody

[2019-02-04 19:20] bobbrow commented on #1729
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 19:20] #1729 closed, assigned to nobody

[2019-02-04 19:22] bobbrow commented on #1769
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 19:22] #1769 closed, assigned to nobody

[2019-02-04 19:26] bobbrow commented on #2480
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

If you are having trouble getting system includes to resolve, please remove any system include paths from `includePath` and set the `compilerPath` property in `c_cpp_properties.json` instead.

[2019-02-04 19:26] #2480 closed, assigned to nobody

[2019-02-04 19:28] bobbrow commented on #2236
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 19:28] #2236 closed, assigned to nobody

[2019-02-04 19:29] bobbrow commented on #1859
I'm closing old issues marked "more info needed".  If you are still having issues with the extension, please ensure you have installed the latest version and open a new issue with the issue details.

[2019-02-04 19:29] #1859 closed, assigned to nobody

[2019-02-04 19:37] sean-mcmanus commented on #3129
This has been fixed in our Insider build with https://github.com/Microsoft/vscode-cpptools/issues/2952 ...not sure when we'll release it yet.

[2019-02-04 19:37] #3129 closed, assigned to nobody

[2019-02-04 20:00] elcojacobs commented on #3090
With further testing, I don't think it is directly related to 0.21.0. Maybe it is a strange timing issue instead.

[2019-02-04 20:11] sean-mcmanus commented on #3127
The main scenario this break is when typing function declaration/definitions. I think we'll need to remove the commit characters.

There is not currently an option to disable it. One problem is that VS Code auto-selects completions (unlike VS), so if any commit characters are used they will be committed unintentionally whenever the list pops up. The other problem is that we shouldn't be offering s

[2019-02-04 20:16] bobbrow commented on #3127
@kroton have you tried `"editor.acceptSuggestionOnCommitCharacter": false`?  Does that solve your problem?  It seems to work for me.

[2019-02-04 20:26] bobbrow commented on #3030
Sorry for the late reply, this seems to have slipped through our notifications.

Can you share more information about your configuration?  From the logs you've shared it doesn't look like you are setting `compilerPath` in your `c_cpp_properties.json`  This could be causing the extension to use the tag parser for goto definition instead of using the semantic IntelliSense engine.  Tag parser doesn't

[2019-02-04 20:30] sean-mcmanus commented on #3127
@bobbrow Yeah, that is a workaround, but I still think we should remove it. And to not affect other languages
[code]

[2019-02-04 20:30] bobbrow commented on #3054
Yes, the Outline view needs more work done on it.  Our extension doesn't support it very well right now.  We are tracking this with #2230.  Can you please go upvote that issue?

[2019-02-04 20:36] bobbrow commented on #1223
We fixed the linked issue a while ago.  Is there still another problem that needs to be addressed here?  Thanks.

[2019-02-04 20:36] #1223 closed, assigned to nobody

[2019-02-04 20:39] bobbrow commented on #1562
I'm so sorry we missed your issue.  Something seems to have messed up in our notifications and I only saw this after searching for untagged issues with no response.

Are you still having issues with the extension?  Can you please provide more information (e.g. c_cpp_properties.json, a sample project)?

[2019-02-04 20:43] sean-mcmanus commented on #3052
@haovic From the other report of this, it sounds like the repro may occur when your user name has a space and you also have a file that matches the first word of your user name in the Users folder, so deleting that file might resolve your issue (we're still investigating a fix).

[2019-02-04 20:56] sean-mcmanus commented on #3123
Hmm...we already have files.exclude checkers that avoid parsing those files, but we apply the exclude filter after the huge list of folders is already generated (i.e. checking for exclusion on 100k folder unnecessarily). So Go to Definition on a target in a files.exclude folder or recursive includes for folders matching a files.exclude is not expected to work currently. Maybe we could use search.e

[2019-02-04 20:58] haovic commented on #3052
Hi Sean, that was exactly the issue! I had a file named "Victor" in my Users folder that was automatically generated by Xilinx Vivado if anyone else happens to have the same thing happen to them.

I also think it's worth mentioning that I realized this week that the issue wasn't just limited to VSCode or this extension, as I made a new C++ project in Visual Studio 2017 Enterprise and intelliSense

[2019-02-04 21:01] bobbrow commented on #2078
I'm sorry, this slipped through our notification system.  I found it while checking up on untagged issues with no response.

Our implementation of onTypeFormatting is a bit too naive, I'm afraid.  We're tracking this with #1419, which doesn't appear to have many upvotes.  If you can please upvote that issue, it helps us to prioritize which features/bugs are addressed next.

[2019-02-04 21:01] #2078 closed, assigned to nobody

[2019-02-04 21:26] eshadd commented on #530
The task is completing. VS Code compiles and creates the `.out` (see above screenshot). I went ahead and took out `"externalConsole": true` and it works fine. I'm OK with this but still am not sure why the launched terminal window didn't have the program running.

[2019-02-04 21:29] pieandcakes commented on #530
@eshadd Sounds like a compatibility with the terminal app you are using. If you have clear repro steps including distro and packages installed, please file another issue.

[2019-02-04 21:29] bobbrow commented on #2940
Please upvote issue #1163.  It helps us track priorities for extension work.  I will be closing this duplicate.

[2019-02-04 21:29] #2940 closed, assigned to nobody

[2019-02-04 21:35] sean-mcmanus commented on #3030
From the screenshot, it looks like error squiggles are showing, so (assuming those aren't from another extension) it wouldn't be using the tag parser unless there is a severe parser error that causes the local variable to no longer been interpreted as a local (i.e. I repro that behavior when I remove the { from the start of the function body).

[2019-02-04 21:46] sean-mcmanus commented on #3054
@bobbrow This should be unrelated to the document symbol api, which just enables us to supply ranges to symbols, unless perhaps if returning those ranges causes VS Code to send us less symbol requests (which I doubt). After an edit, VS Code sends us a new documentSymbol request so we probably need to optimize that better.

[2019-02-04 22:00] escaner commented on #3131
In my case, this (which looks weird, BTW unless you have a file named like that with parenthesis and all):
            "args": [" < input.log(just for input)"],
is being passed as an argument to the program, it is not interpreted by any shell and therefore stdin is not connected to any external file. Check the values for argc (2) and argv[1] (" < input.log(just for input)").

When you do a step ov

[2019-02-04 22:19] kroton commented on #3127
@sean-mcmanus @bobbrow
Thank you for the advice both. The workaround works for me too.

[2019-02-05 01:50] sean-mcmanus commented on #1184
FYI, our next Insider release will remove the ( commitCharacter (due to https://github.com/Microsoft/vscode-cpptools/issues/3127), but replace it with the "(|)" snippet, which is a "better" experience anyway.

[2019-02-05 01:52] sean-mcmanus commented on #3127
Our next Insider release will remove the ( commitCharacter, and replace it with the "(|)" snippet, which is a "better" experience anyway. We're keeping the < commitCharacter for struct/classes, since that scenario doesn't appear to cause a conflict.

UPDATE: (|) snippets is blocked by signature help not working: https://github.com/Microsoft/vscode/issues/67901 .

UPDATE2: We fixed the (|) snippets

[2019-02-05 03:17] sean-mcmanus commented on #1184
@dbaeumer We attempted to use snippets to add (|) but setting the CompletionItem.command to invoke signature help doesn't cause the signature help UI to appear: see https://github.com/Microsoft/vscode/issues/67901 .

UPDATE: It got resolved.

[2019-02-05 04:12] Astrantia opened #3132 "Debugger Spam"
Everytime I start debugger integrated terminal automatically opens up with these messages:
[code]
How to suppress them? It's becoming very annoying

[2019-02-05 05:32] Astrantia commented on #3132
@WardenGnaw

[2019-02-05 08:34] bigface008 commented on #3131
~~So if I want to connect stdin to the external file 'input.log', what value should the "args" option be? Is it like~~
[code]
~~? (Since I have something wrong with my debugger of vscode-cpptools now, I can't test it myself.)~~

It works in the right way. Thank you!

[2019-02-05 09:03] #3131 closed, assigned to nobody

[2019-02-05 09:27] dbaeumer commented on #1184
You can try to use the action `editor.action.triggerParameterHints` which should show the UI.

[2019-02-05 09:49] sVathis commented on #3104
I am getting a similar (albeit not the same) stack trace after opening a folder on a network drive containing the source code tree:

`
Microsoft_VSCode_CPP_Extension!_invoke_watson + 0xf
Microsoft_VSCode_CPP_Extension!_invalid_parameter + 0x63
Microsoft_VSCode_CPP_Extension!_invalid_parameter_noinfo + 0xc
Microsoft_VSCode_CPP_Extension!memcpy_s + 0x74
Microsoft_VSCode_CPP_Extension!microsoft::vc::

[2019-02-05 12:36] Udopia opened #3133 "Extension causes high cpu load"
[ms-vscode.cpptools-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-cpptools/files/2832111/ms-vscode.cpptools-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.21.0`
- OS Version: `Linux x64 4.15.0-43-generic`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/markus

[2019-02-05 17:02] remline commented on #2453
Confirmed that this crash still occurs with VS Code 1.30.2 and ms-vscode.cpptools 0.21.0.

Microsoft.VSCode.CPP.Extension.exe runs without crashing when launched from the command prompt. Is there a way to simulate how VS Code launches the executable?

[2019-02-05 17:55] puremourning commented on #2964
@qssq did you solve this? I have the exact same error reponse:

[code]

[2019-02-05 18:27] bobbrow commented on #3104
@sVathis, we plan to release an Insiders version this week that you can try out.

[2019-02-05 19:59] sean-mcmanus commented on #1184
@dbaeumer Yeah, thanks that worked. The docs were confusing when I searched for signature help apis (https://github.com/Microsoft/vscode/issues/67901#issuecomment-460776059).

[2019-02-05 20:31] Nazeehe opened #3134 "AutoComplete set to Disabled doesn't work"
Hey all,

Running VS Code:

Version: 1.30.2 (system setup)
Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date: 2019-01-07T22:54:13.295Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.17763

Extension: Version 0.21.0 January 23, 2019

When I upgraded to this version a few days ago, I lost my ability to have autocomplete be the default VSCode word bas

[2019-02-05 20:48] nebbles commented on #1073
Eventually got here after I set up a new project in the PlatformIO. The default there is to create a new folder at the target location and add that folder to the workspace. For projects where a directory (e.g. git) is already established, it immediately induces this issue of a file being a child of two folders in the workspace. This is probably something that PlatformIO should address as a default

[2019-02-05 20:56] sean-mcmanus commented on #3134
Our extension does this by default:
[code]

You can override those settings as a user setting, either globally or per-language. Is that sufficient? In order to change that default based on the auto-complete setting we would need to re-write the package.json.

[2019-02-05 21:10] Nazeehe commented on #3134
So here's what I put in my user settings:

{
    "C_Cpp.autocomplete": "Disabled",
    "editor.wordBasedSuggestions": true
}

that's it.

Assuming that's enough, it still doesn't work. I can't get any word based suggestions to show up.

[2019-02-05 21:16] Nazeehe commented on #3134
Ok! Figured it out. I had to copy both and set them to true.

Thanks all! Closing issue.

[2019-02-05 21:16] #3134 closed, assigned to nobody

[2019-02-05 21:20] sean-mcmanus commented on #3134
Yeah, it turns out the settings need to be overwritten for the c/cpp languages, because the per-language settings take precendence.

[2019-02-05 23:09] sean-mcmanus commented on #2453
@remline We have a fix for the get_file_path_actual_case crash for our next Insiders -- the repro occurs when we're passed 8.3 Windows filenames (or other possibly scenarios where the path becomes expanded). You can launch the extension from our GitHub TypeScript.

[2019-02-06 00:23] Rietty commented on #3083
Just cause I can't seem to find the info anywhere else, what's the release cycle for new updates generally? 6 weeks? Or are the iterations shorter? Just curious when I can expect this and future changes in.

[2019-02-06 00:34] sean-mcmanus commented on #3083
@Rietty We plan to release this fix in an Insiders this week. The non-Insiders might not be till March (i.e. 6 weeks from the previous release). You can check https://github.com/Microsoft/vscode-cpptools/releases for our previous update schedules.

[2019-02-06 00:43] Rietty commented on #3083
@sean-mcmanus Thanks for the reply. Good to know. Might switch to Insiders just for this then.

[2019-02-06 06:37] Astrantia commented on #3132
@sean-mcmanus is there a configuration that I didn't see? I set all logs to false.

[2019-02-06 06:42] sean-mcmanus commented on #3132
I don't know (I don't use the debugger integrated terminal). @pieandcakes Do you know?

[2019-02-06 19:46] sean-mcmanus opened #3136 "Add support for multi-line problems (VS Code 1.31.0)"
VS Code 1.31.0 just added it. We currently put multi-line problems onto the same line for IntelliSense errors (separated by --). We could also possibly split the include errors detect message onto multiple lines, since it can contain a long file path.

[2019-02-06 20:29] pieandcakes commented on #3132
@Astrantia that is the way VS Code's Run In terminal works. We send a command to VS Code to run in the terminal and that is what you are seeing.

[2019-02-06 23:21] SanderMertens opened #3138 "Intellisense does not seem to correctly resolve include files included with """
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS 10.14.1
- VS Code Version: 1.31.0
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
  - GitLens

**To reproduce**
I have a workspace with a single folder "foo" (not the workspace root), which contains a C project that looks like this:
1. A `foo/src/main.c` file

[2019-02-06 23:35] sean-mcmanus commented on #3116
This seems like it's probably has the same root cause as the other bug you reported, i.e. we're not falling back to the non-IntelliSense-based go to definition results when an error is involved (which Visual Studio does): https://github.com/Microsoft/vscode-cpptools/issues/3071 . We'll make sure both are fixed when we fix the other one.

[2019-02-07 01:58] sean-mcmanus commented on #2453
We believe 0.22.0-insiders has fixed the Windows crash caused by 8.3 filenames (i.e. with get_file_path_actual_case call stacks). You can easily get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases . Let us know anyone is still getting these crashes.

[2019-02-07 01:59] sean-mcmanus commented on #3104
We believe 0.22.0-insiders has fixed the Windows crash caused by 8.3 filenames (i.e. with get_file_path_actual_case call stacks). You can easily get it via setting the C_Cpp.updateChannel setting to Insiders, or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases . Let us know anyone is still getting these crashes.

[2019-02-07 02:03] sean-mcmanus commented on #3129
The signature help bug has been fixed with 0.22.0-insiders. You can get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases .

[2019-02-07 02:04] sean-mcmanus commented on #1504
The signature help bug has been fixed with 0.22.0-insiders. You can get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases .

[2019-02-07 02:06] sean-mcmanus commented on #3024
This debugger bug should be fixed with 0.22.0-insiders. You can get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases .

[2019-02-07 02:07] sean-mcmanus commented on #3060
Go to Def with noexcept methods is fixed with 0.22.0-insiders. You can get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases .

[2019-02-07 02:14] JoaoVictorDaijo opened #3139 "Intellisense won't work: "Failed to create IntelliSense client""
So I'm a noob here I'm still studying so I might have some problems to describe my issue.

I'm trying to use Intellisense but it just won't work. I think I configured my c_pp_properties in the correct way. Here it is (Yes I know I have multiple entries in the include, that was me trying to fix the problem):

`{

    "configurations": [
        {

            "name": "Win32",
            "includePa

[2019-02-07 02:20] sean-mcmanus commented on #3080
Manually invoking completion after `"struct <text>"` works with 0.22.0-insiders. You can get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases .

However, I just found a bug with it -- if there are >1000 results in your list (i.e. the list is "incomplete"), then the list will disappear with "No sugges

[2019-02-07 02:26] sean-mcmanus commented on #3139
Can you try out 0.22.0-insiders? It may have fixed this. You can get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases .

If it's still broken, the known workaround is to delete the document in `C:\Users\` that is the same as the first word in your user name.

[2019-02-07 02:30] sean-mcmanus commented on #3083
We added a "C_Cpp.suggestSnippets" that you can set to false with 0.22.0-insiders. You can get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases .

Is that sufficient? It should enable you to use another snippet provider to paste in the old snippet file we used to use.

[2019-02-07 02:31] sean-mcmanus commented on #3102
The compilerPath not getting used bug should be fixed with 0.22.0-insiders. You can get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases .

[2019-02-07 02:32] sean-mcmanus commented on #3112
Relative paths for compilers in compile_command.json should be fixed with 0.22.0-insiders. You can get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases .

[2019-02-07 02:33] sean-mcmanus commented on #3127
We've removed the commit characters with 0.22.0-insiders. You can get it via setting the C_Cpp.updateChannel setting to "Insiders", or downloading it manually from https://github.com/Microsoft/vscode-cpptools/releases .

[2019-02-07 03:00] KaeLL commented on #3121
True that. Seems like unnecessary redundancy. What's the difference between them, and does it justify having both? I mean, it's almost unquestionably easier to control recursion using the asterisk rather than 2 separate elements in the json file that do the same thing.

A little less important, but just as interesting: why 2 asterisks to signal recursion? It's essentially like forcing to or to not

[2019-02-07 03:05] sean-mcmanus commented on #3121
@KaeLL Originally, we just had the browse.path, which was automatically recursive and `"*"` was used to make it non-recursive, which is what @mill1000 wanted to set. Later we added includePath but it was non-recursive by default (`*` didn't do anything). Then we added recursive includes, but since browse.path already used `"*"` to mean non-recursive, we used `"**"` to mean recursive for the includ

[2019-02-07 03:09] KaeLL commented on #3121
So... shall I open an new issue requesting the said change?
To clear the confusion before it gets worse and harder to fix

[2019-02-07 03:16] sean-mcmanus commented on #3121
Sure, you can open an issue, but I don't think we would fix it. The current behavior with `"*"` and `"**"` isn't really broken. `"*"` always means non-recursive and `"**"` always means recursive. Changing it to the opposite would confuse our existing users and we'd have to update everyone's settings. I seem to recall there was some other tool that used "*" to mean non-recursive.

[2019-02-07 03:19] JoaoVictorDaijo commented on #3139
I changed the setting to insider, installed 0.22.0-insiders, reloaded the window as asked even closed and opened Visual Code unfortunately still the same issue and also the same problem showing in the console.
What this file do? I can just delete it with no issues?

Edit: Yes I moved that file to another place and this fixed my issue. But I still have the same question can I just delete this file

[2019-02-07 03:24] sean-mcmanus commented on #3139
Thanks for letting us know the bug wasn't fixed with 0.22.0-insiders (the issue we fixed must have been unrelated). We do intend to fix the bug -- we're just not sure when yet. Previously it was reported as https://github.com/Microsoft/vscode-cpptools/issues/3052 and https://github.com/Microsoft/vscode-cpptools/issues/1377 .

I don't know what the file is or what program created the file. Other us

[2019-02-07 05:22] fredijude commented on #2484
@sean-mcmanus : Will this be picked up and solved by anyone ASAP ? It would really help our organization to move into vs code itself instead of visual studio ide.

[2019-02-07 06:03] kroton commented on #3127
@sean-mcmanus
I've tried 0.22.0-insiders, and I'm very satisfied with the behavior. Thanks a lot.

[2019-02-07 16:42] IOOOTAlan commented on #2816
Have this issue too on vs code 1.30.1 on Linux_x64.

The fix reported by @lzyang2000 solves the issue for me too: I now see an xterm window pop up when gdb is starting, then all seems to works ok.

[2019-02-07 17:23] AndrewGaspar commented on #2939
I'm running into this with using `__func__` and `__PRETTY_FUNCTION__` in gcc and clang in constexpr contexts.

In my case, this is in the context of a macro where the values _could_ be non-constexpr, and I'd be okay with "lying" to VS Code to get the red squiggles to go away. Is there any way to detect Intellisense in the C Preprocessor?

[2019-02-07 17:27] AndrewGaspar commented on #2939
For example, I'd like to write something like
[code]

[2019-02-07 17:51] KaeLL commented on #3121
It's more about the redundancy and convolution of `browse.path`, `includePath`, `*`, `**`. It's ugly and dumb.
Anyway, I won't bother making a case for it, I'm just telling what it is. Thanks anyway.

[2019-02-07 18:44] eshadd commented on #2767
Type: Debugger

- OS and Version: Windows 10
- VS Code Version:

- Version: 1.30.2 (system setup)
- Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
- Date: 2019-01-07T22:53:57.820Z
- Electron: 2.0.12
- Chrome: 61.0.3163.100
- Node.js: 8.9.3
- V8: 6.1.534.41
- OS: Windows_NT ia32 10.0.17763

- C/C++ Extension Version: 0.21.1

- Other extensions you installed (and if the issue persists after disabl

[2019-02-07 19:02] pieandcakes opened #3140 "Unable to debug on Windows 10 with `"externalConsole": false`"
Type: Debugger

- OS and Version: Windows 10
- VS Code Version:

- Version: 1.30.2 (system setup)
- Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
- Date: 2019-01-07T22:53:57.820Z
- Electron: 2.0.12
- Chrome: 61.0.3163.100
- Node.js: 8.9.3
- V8: 6.1.534.41
- OS: Windows_NT ia32 10.0.17763

- C/C++ Extension Version: 0.21.1

- Other extensions you installed (and if the issue persists after disabl

[2019-02-07 19:04] pieandcakes commented on #2767
@eshadd I opened a new issue #3140 as this seems like a different problem.

[2019-02-07 19:06] pieandcakes commented on #3140
@eshadd Is this log from a failure instance? I'm looking at it and it looks like it was a successful debug session.

[2019-02-07 19:35] WardenGnaw opened #3141 "VS Code 1.31 Feature: Use input task to prompt user for program to debug"
From https://code.visualstudio.com/updates/v1_31#_custom-command-user-input-variables

We can use input variables to use the picker up to help users find the executable they want to run if they do not have a launch.json.

[2019-02-07 19:44] sean-mcmanus commented on #2484
It's been implemented. It should be in a "future" release, unless it gets cut for some reason.

[2019-02-07 19:48] eshadd commented on #3140
No, sorry, the log is actually from a successful run when I used `"externalConsole": true`. That's the only way I could get a log. Thought it might still be helpful although I should have let you know that before. Debugging and Debug console fail with`"externalConsole": false`.

[2019-02-07 19:55] AndrewGaspar commented on #2939
Ah, heh, I was pretty close: https://stackoverflow.com/questions/26724244/is-there-a-macro-defined-when-intellisense-is-parsing

[2019-02-07 20:38] n3rd4i opened #3142 "Preprocessor defines #warning (and custom #warn) are not supported"
**Type: LanguageService**

https://github.com/Microsoft/vscode-cpptools

**Describe the bug**
The preprocessor directives `#warning` and `#warn` are not suppored in Language Service.

- OS and Version:
[code]
- VS Code Version:
[code]
- C/C++ Extension Version:
[code]
- Other extensions you installed (and if the issue persists after disabling them): N/A

**To Reproduce**

1. Example:
[code]
2. See

[2019-02-07 20:49] sean-mcmanus commented on #3142
What is "#warn"? What compiler supports that? Where is that defined in the C/C++ language?

#warning is expected to work if we ever ship warning support -- it was implemented, but post-poned because we wanted to add the ability to suppress unwanted warnings first: https://github.com/Microsoft/vscode-cpptools/issues/828

UPDATE: And our extension doesn't implement any syntax colorization yet, so "#

[2019-02-07 20:51] pieandcakes commented on #3140
Can you enable `"engineLogging"` with `externalConsole` set to `false` and see if there is output in the `debugConsole`? You may have to switch from the terminal window back to see the logging if you have it set to `false`.

[2019-02-07 21:05] n3rd4i commented on #3142
Some embedded compilers support this `#warn` which is `#warning` preprocessor directive.
Example [doc](http://www.tij.co.jp/jp/lit/ug/sprui04b/sprui04b.pdf) page. 45

Maybe it could be a good Idea to allow users to customize this so the Language Service understand such syntax.

[2019-02-07 21:16] pieandcakes commented on #3130
Which tools package did you install to get your gcc/gdb and what version of gdb are you using?

Also, attaching an engineLog to your issue will help. I can't repro this with my 8.1 gdb on MinGW.

[2019-02-07 21:16] #3132 closed, assigned to pieandcakes

[2019-02-07 23:09] nbrachet commented on #3133
`cpptools` is making Code unusable:

- Extension Name: cpptools
- Extension Version: 0.21.0
- OS Version: Darwin 18.2.0
- VSCode Version: 1.31.0

[CPU-20190207T230320.465Z.cpuprofile.txt](https://github.com/Microsoft/vscode-cpptools/files/2843002/CPU-20190207T230320.465Z.cpuprofile.txt)

[2019-02-08 00:42] czyang commented on #2456
This solution does not work for me.
As an alternative solution, I build the project using the tool. And use this launch.js config to run the project via top debug button.
[code]

[2019-02-08 01:04] dmslabsbr opened #3143 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.21.0`
- OS Version: `Darwin x64 17.7.0`
[ms-vscode.cpptools-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-cpptools/files/2843231/ms-vscode.cpptools-unresponsive.cpuprofile.txt)

- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/dms/ms-vscode.

[2019-02-08 01:51] pieandcakes commented on #2456
@czyang That block uses our extension to kick off debugging whereas the above block you quoted is from @vector-of-bool 's CMake Tools Extension. If you can provide him more information, he might appreciate knowing what the cause is.

[2019-02-08 06:25] dirkseidel opened #3144 "Building up stack in debugger really slow"
After hitting a breakpoint it takes a really long time for the local variables to be displayed. The whole time the plugin is busy with building up the stack trace. In my case there are approximately 260 threads displayed and it can be seen that the plugin works on the threads one after the other. Stepping through the code takes roughly 50 seconds for the variables to show up for every single step,

[2019-02-08 07:01] lsmgeb89 commented on #3102
@sean-mcmanus @bobbrow
The bug is tested and confirmed fixed in the version 0.22.0-insiders.
Thanks!

[2019-02-08 08:02] dirkseidel commented on #3144
I just reverted to 1.30.2 and deactivated updates. Like this everything works fine again.

[2019-02-08 14:05] Stypox commented on #3083
Yes, that will do for me, thanks :-)

[2019-02-08 16:02] MikeWeller opened #3145 "clang-format based formatting breaks after a while since last VSCode update"
**Type: LanguageService**

Since the VSCode update a day or two ago, clang-format based formatting of C++ code stops working after a few times invoking the "Reformat Selection" or "Reformat Document" commands. Once it gets into this state, even introducing a deliberate error in my .clang-format and trying to format doesn't print out an error in the Output window, which it usually does before it ge

[2019-02-08 16:08] MikeWeller commented on #3145
Note there is a previous similar report here but since it is a few years old and was closed with no apparent resolution: https://github.com/Microsoft/vscode-cpptools/issues/1090

[2019-02-08 16:13] MikeWeller commented on #3145
Also worth mentioning it breaks for all tabs once this happens.

[2019-02-08 16:36] MikeWeller commented on #3145
After playing some more, I don't think those particular log messages I saw were relevant.

[2019-02-08 18:37] sean-mcmanus commented on #3145
It sounds like the main input thread of the extension is stuck? The formatting work is done on the main input thread, so if some other main thread work could block the formatting. When formatting doesn't work, do any other features like hover or go to definition work?

Is this a multi-root folder?

It sounds like you're saying this is a regression? If you downgrade our extension to 0.20.1 does the

[2019-02-08 18:45] Toizi commented on #2453
@sean-mcmanus thanks for the update. I can confirm on my end that the issue seems to be fixed now (llvm example).

[2019-02-08 19:08] pieandcakes commented on #3144
@dirkseidel Do you mind getting me some logs for your instance before and after? If so I can send specific instructions on how to generate a log to disk.

[2019-02-08 21:18] gcwenger commented on #3145
@sean-mcmanus I was also experiencing this bug with clang-format not working with C/C++ Extension Version: 0.21.0.
Downgrading to 0.20.1 seems have fixed the ability to use clang-format for me.
For me the other questions you asked re formatting don't apply because I have formatting disabled (in favor of cquery use):
[code]

[2019-02-08 23:05] dirkseidel commented on #3144
@pieandcakes Please let me know how to generate the logs to disk.

[2019-02-09 02:41] sean-mcmanus commented on #3138
The "navigate" or Go to Def on `#include` feature currently doesn't use IntelliSense's include path so it can show too many files -- see https://github.com/Microsoft/vscode-cpptools/issues/2564 for the issue tracking that.

I tried to follow all your setup steps, but I'm not able to reproduce any other bug. Is this the correct setup in the screenshot? Can you send us or attach an isolated repro pr

[2019-02-09 02:51] pfeerick commented on #1399
Doing a `sudo apt install libtinfo5` on Ubuntu 18.10 fixed it for me... must have broken something when removing unused packages / changing DE.

[2019-02-09 02:56] pfeerick commented on #263
You may need to make sure you have the libtinfo5 package installed if you are on ubuntu/debian... I must have removed it whilst updating / pruning packages as part of changing DE... the real fix though would be to remove the need for the dependency...

[2019-02-09 04:29] pieandcakes commented on #3144
* In your `VS Code extension folder` find the following file: `.vscode\extensions\ms-vscode.cpptools-0.21.0\out\src\Debugger\extension.js`.
* Scroll down to `function registerAdapterExecutableCommands()` and replace this block:
[code]
with this block, specifying the logfile location to replace `<log file location>`
[code]
* Restart debugging

If you can do this for the working and non-working case

[2019-02-09 11:16] wrightwriter opened #3147 "Debbuger error: MIEngine-cmd: syntax error: "(" unexpected on debugger launch."
**Description**
- OS and Version: Ubuntu 18.10
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them): C#
- After successful compilation to "a.out" with g++, launching the debugger through VSCode results in a terminal started with the error:
[code]

[2019-02-09 11:50] ghost opened #3148 "Please support disassembly and C/C++ with Assembly code debugging"
Type: Debugger
**Input information below**
Hi, I'm using the vscode C/C++, x86 and x86_64 Assembly extensions to develop C/C++ and Assembly programs, today I compile a C/C++ program with Assembly code, when I create launch.json to debug run, I setting a breakpoint at assembly language caller at C/C++ source file, after debugger step into assembly function, vscode not showing current line at assemb

[2019-02-10 17:01] PodyNoo commented on #429
i would be also interested in support for Linux on ARM CPUs

[2019-02-11 01:24] wa8n commented on #3130
I used TDM-GCC-64, and the version of gdb is  7.9.1.
[debugconsole.txt](https://github.com/Microsoft/vscode-cpptools/files/2849642/debugconsole.txt)
my test code:
[code]

[2019-02-11 01:25] Lennon925 commented on #3071
@sean-mcmanus ，

Taking the liberty to ask，How long will you take to fix this issue ?

[2019-02-11 01:53] pieandcakes commented on #3130
According to the log you are stopped after completing a Step request. Which version of the TDM tool set are you using?

[2019-02-11 02:01] pieandcakes commented on #3147
What do you have `externalConsole` set to? Can you try and reinstall the extension?

[2019-02-11 02:05] pieandcakes commented on #3148
If you debug with `gdb` and you step, does it end up in your assembly code? Is there a restriction in `gdb` or some additional configuration commands we need to send to `gdb` to allow this to work? You say you installed another extension. Does it work with that extension?

This extension is primarily a C/C++ extension but if you can provide more information on how this is supposed to work we may b

[2019-02-11 02:10] ghost commented on #3148
That extensions just provided assembly code syntax highlight.I think, maybe the cpptools can provide assembly debugging feature.

[2019-02-11 02:14] pieandcakes commented on #3130
Ok. I tried it with 5.9.1_3 of TDM. The step over is stopping, but on this line:
[code]

we then ask for a list of frames:
[code]

But the only frame available is the `operator<<` frame which is not in your code. There is no frame available that is within your code which is why there is no execution pointer. If you set a line on `cout<<` and continue, you will see that breakpoint get hit and it wi

[2019-02-11 02:14] #3130 closed, assigned to pieandcakes

[2019-02-11 02:17] pieandcakes commented on #3148
@c4dr01d If you tell me how to get gdb to debug into assembly, I can investigate. Otherwise unless someone from the community is willing to do the work, it isn't something that I can do at this time.

[2019-02-11 02:34] ghost commented on #3148
@pieandcakes I using the gdb debugged Linux kernel, when I toggle a breakpoint at assembly code, the gdb will stop, then I can use nexti command to track kernel behaviors. That code is combined C and assembly code, when C program call assembly code, gdb will step in to assembly source file,when assembly program call C program, gdb will step into C source file.

[2019-02-11 04:57] fredijude commented on #2484
@sean-mcmanus : Your quick response and initiation are always appreciated. Thanks :)

[2019-02-11 05:09] fredijude opened #3149 "Change C_Cpp.workspaceSymbols "Just My Code" to work for non-system directories outside the current workspace"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Window 10
- VS Code Version: 1.31.0 or before
- C/C++ Extension Version: 0.21.0

- Open a c++ workspace with multiple folder paths and no files being opened at the beginning.  The "Go to Symbol in Workspace" doesn't work. Once when you open a cpp file in a folder path of the workspace, then the it works for that folder path. This is

[2019-02-11 10:03] EsmeAioli opened #3150 "[WSL] Debugger throwing errors - Command failed...$(uname) was unexpected at this time"
Type: Debugger
**Input information below**

There seems to be similar issues with gdb, but I'm definitely never seen this issue before.
![image](https://user-images.githubusercontent.com/24488417/52556556-e27dac80-2e27-11e9-9639-ed46a579ac45.png)

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue

[2019-02-11 11:50] rei-vilo commented on #742
@bobbrow What do mean by **more info needed**?

[2019-02-11 14:35] remline commented on #2453
I confirmed that the error is fixed for me with VS Code 1.31.0 and cpptools 0.22.0-insiders. Thanks, @sean-mcmanus !

[2019-02-11 18:42] bobbrow commented on #742
I removed that tag while doing some issue cleanup last week.  It was set a long time ago before we understood the issue.

[2019-02-11 19:04] WardenGnaw commented on #3148
This is similar to https://github.com/Microsoft/vscode-cpptools/issues/1980

The issue is that VS Code does not expose or allow us to add debugging icons for nexti or stepi

[2019-02-11 20:18] sean-mcmanus commented on #3149
This is because our extension doesn't activate until a C/C++ file is open or a C/C++ command is used unless a .vscode/c_cpp_properties.json exists. The reason is because we don't want our extension wasting CPU for non-C++ projects users open. Is creating the .vscode/c_cpp_properties.json a sufficient workaround or did you have some other solution in mind?

[2019-02-11 20:57] eshadd commented on #3140
Yeah, that's part of the problem. Per my original issue post, if I set `externalConsole` to `false`, I get nothing in the DEBUG CONSOLE.

[2019-02-11 21:28] sean-mcmanus commented on #3071
Not sure. The fix should be quick, but I'm busy with other stuff. Hopefully for 0.22.0 in the next month.

[2019-02-11 22:35] soda3x commented on #296
Any word on when this feature is coming?

[2019-02-11 22:56] pieandcakes commented on #3140
Can you look in your C/C++ extension's folder for `debugAdapters/bin/WindowLauncher.exe` and see if it is there and you can run it from a command window?

Also, I assume you are running the extension as your local user and not as Administrator.

[2019-02-11 23:08] sean-mcmanus commented on #296
@soda3x Our Find All References and Renaming work got delayed. Might be June, not sure yet.

[2019-02-11 23:12] jockm commented on #296
@sean-mcmanus That can only describe that as deeply disappointing.  Doubly so for an issue that has been open for 28 months now...

[2019-02-11 23:19] salda commented on #296
Probably they want to handle MACROs too :D

[2019-02-12 00:02] WardenGnaw opened #3153 "Integration Tests not properly reporting failures"
Travis-CI succeeds the PR even though the integration test is failing.

From https://travis-ci.org/Microsoft/vscode-cpptools/builds/489786920?utm_source=github_status&utm_medium=notification,  ```extensibility tests v1``` is failing

[2019-02-12 01:15] bhack commented on #2081
This could be related generally to remote file-system/containers issues:
https://github.com/Microsoft/vscode/issues/35671
https://github.com/Microsoft/vscode/issues/35671

[2019-02-12 03:07] ghost commented on #3148
@WardenGnaw how about disassemble? and show disassembly code? that feature can implement?

[2019-02-12 04:26] sean-mcmanus opened #3154 "Prevent users from using recursive includePath on system paths"
The ordering of recursive includes is non-deterministic, so using it with system paths will probably not work correctly.

[2019-02-12 05:32] fredijude commented on #3149
Apologies. Let me explain the problem a little more in detail.

Assume
- A workspace "WS"
- WS containing two folders under it - "FolderA" and "FolderB"
- Both the folders have 'c_cpp_properties.json' settings file under respective .vscode.
- FolderA has definitions of ClassA
- FolderB has definitions of ClassB
- Open the workspace WS

Problem Statement
- open "Go to Symbol in Workspace"
- search

[2019-02-12 08:34] MikeWeller commented on #3145
Downgrading the C++ extension to the previous version (0.21.0) did not help. Downgrading VSCode to 1.30.2 does fix the issue. I haven't tried going to 0.20.1 of the extension.

[2019-02-12 10:24] hjmallon opened #3155 "[MacOS] Debug program as root user"
Type: Debugger

I have recently been using VSCode to debug a root daemon on macOS. This is due to a current bug in XCode that means I cannot use it. I am starting VSCode with sudo and everything works fine. However I think it would be useful if there was a switch to enable an OS password prompt on debug start to run a program as root (something like gksu on Linux and UAC on Windows as well as macO

[2019-02-12 12:31] xujintao opened #3156 "launch: program '/home/pi/testc/a.out' does not exist"
os: ubuntu18.04
vscode: 1.31.0
c/c++ extention: 0.21.0

When i press F5 in vscode, it tips launch: program '/home/pi/testc/a.out' does not exist.
I can g++ -g main.c and gdb a.out in terminal.

my main.c:
[code]

launch.json:
[code]

tasks.json:
[code]

[2019-02-12 14:37] outofmemo commented on #3030
Yes, you are right. The engine switches to the tag parser because of #include errors. So I will disable `Intelli Sense Engine Fallback`.

[2019-02-12 14:37] #3030 closed, assigned to nobody

[2019-02-12 18:46] gcwenger commented on #3145
@MikeWeller Agreed. Although downgrading the C/C++ Extension initially seemed to help, I later had clang-format become unresponsive again.
I've since downgraded to 1.30.2 (and selected "none" for the Update Channel to avoid it upgrading right back to 1.31). In 1.30.2 invoking clang-format via "Format Document" seems to be reliable again.

[2019-02-12 19:09] abinmathewabraham opened #3157 "Goto definition functionality on a function call is showing the extern declaration instead of the definition."
Issue Type: <b>Bug</b>

1) Create two .c files and one .h file
2) .h file should have an extern declaration.
3) One .c file should have the definition of the above declared function.
4) Other .c file should having the code to call the function.
5) From the code which is calling the function, use the goto definition and it will take you to the extern declaration.

Extension version: 0.21.0
VS Code

[2019-02-12 20:39] BaronZemo commented on #2901
I've noticed this issue as well over the past couple of months, and two developers I work with have noticed this as well. I timed it, and it takes about 36 seconds to do a Step call.

[2019-02-12 21:21] sean-mcmanus commented on #3149
Oh, yeah, that's the multi-root workspace scenario, so our extension is activated but there is 1 language server process per folder with its own settings, so if you want to find symbols in FolderA from FolderB then you need to modify either the includePath or browse.path setting (in the c_cpp_properties.json or C_Cpp.default.* in settings.json). The default is "${workspaceFolder}" which only appli

[2019-02-12 21:23] sean-mcmanus commented on #3149
You can use `${workspaceFolder:FolderName}` in the settings to refer to the other folders (https://github.com/Microsoft/vscode-cpptools/issues/1774 ).

[2019-02-12 23:20] sean-mcmanus commented on #3154
Actually, this probably doesn't matter in most cases because the system includes from the compilerPath will be used before any recursive ones.

[2019-02-12 23:20] #3154 closed, assigned to nobody

[2019-02-12 23:39] sean-mcmanus commented on #3145
Yikes, it sounds like you guys are describing a regression with VS Code 1.31.0 and not our extension? I don't seem to be able to repro the issue.

Our 0.22.0 release should fix the formatting getting blocked by IntelliSense operations (in most cases).

[2019-02-12 23:44] sean-mcmanus commented on #3157
I'm not able to reproduce the bug. The code that is calling the function has a `#include` to the header file, right? Does this repro with a "extern int test();" method or does the signature of the function need have certain requirements?

[2019-02-13 00:22] bobbrow opened #3158 "didChangeCustomConfiguration doesn't update the IntelliSense server in some cases"
There is a race condition in the config provider stuff where an IntelliSense server may not be updated with the config provider's request. The scenario is this:

1. user opens a file in the editor.
2. user closes the file before the config provider sends the configuration
3. config provider sends the configuration
4. user reopens the file

What happens is that the IntelliSense server stays alive f

[2019-02-13 02:07] WardenGnaw commented on #3148
Disassembly is possible but there is an requirement around implementing a custom view for VS Code.

See https://github.com/Microsoft/MIEngine/issues/816

[2019-02-13 03:38] JasonLearning commented on #230
Can class names and struct names to be colorized yet?And I'm interested what's the first one in TODO list.

[2019-02-13 03:46] sean-mcmanus commented on #230
@JasonLearning Not yet. We're working on improving the configuration experience, performance, and build tasks.

[2019-02-13 04:23] tlbtlbtlb opened #3159 "Language server goes off and indexes my entire disk"
**Type: LanguageService**

The language server has been cranking away for many minutes, seemingly indexing my whole disk. Here are some places I caught it looking, captured with `lsof -p <vscode pid>`:

[code]

It even tried to index my contacts, prompting an OSX dialog asking for permission.

I think the root cause is that I accepted its suggestion to add my home directory to the include paths. E

[2019-02-13 04:40] sean-mcmanus commented on #3159
You mean you set your includePath to `${HOME}`? Can you just remove that? In what situation did it suggest you add that path? Yeah, it will follow symlinks. You can use the "Reload Window" command to restart the language servers. You can also use the `Reset IntelliSense Database` command to restart parsing. You can add paths to files.exclude to avoid parsing certain folders, although we still chec

[2019-02-13 06:37] fredijude commented on #3149
@sean-mcmanus : I have around 25 folders in my multi root workspace. Is it possible to set the include path to all folders that is there in the workspace in a easy way.

Also, I am not able to configure the above requirement too. I have tried includepath as well as browse.path settings.

[2019-02-13 06:57] sean-mcmanus commented on #3149
You mean you have 25 workspace folders? That would potentially cause 25 language server processes to be running and using CPU, which is not a scenario we have optimized for yet.

You can set the "C_Cpp.default.includePath" or "C_Cpp.default.browse.path" in your workspace folder settings and then the folders should use that by default, or if folders have additional includes you can use "${default}"

[2019-02-13 06:58] abinmathewabraham commented on #3157
# func_declaration.h
extern void print_test(void); //goto definition from main.c will take us here

# func_defs.c
#include<stdio.h>

void print_test() //ideally goto definition from main.c should take us here
{
	printf("Testing...\n");
}

# main.c
#include<stdio.h>
#include "func_declaration.h"

int main()
{
	printf("Testing VSCode\n");
	print_test();   //execute goto definition here
	return 0;
}

[2019-02-13 07:04] fredijude commented on #3149
@sean-mcmanus : Yes i do have 25 workspace folder as my project itself consists of around 5k files and the codebase is pretty large enough.

Yes, the Go to Symbol still isn't working after the configuration.

[2019-02-13 07:06] sean-mcmanus commented on #3157
Yeah, I'm still not reproing the bug -- Go To Def is going to the definition in func_defs.c.

Does your c_cpp_properties.json settings have anything unsual set? Do you see any error squiggles? Do you see any error messages when you [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md).

[2019-02-13 07:24] sean-mcmanus commented on #3149
You also need to set limitSymbolsToIncludedHeaders to false.
[code]

That causes the file in the other workspace to be parsed, but I'm still seeing a bug where Go to Symbol in Workspace is not returning symbols from other workspaces.

[2019-02-13 07:34] sean-mcmanus commented on #3149
I got it to work -- you need to change the setting "C_Cpp.workspaceSymbols": "All". I forgot that we recently added that. Then you need to make sure the symbol gets parsed (i.e. the database icon in the bottom right might need to finish or at least parse the file you want symbols for).

FYI, our pending builds have fixed some performance issues you may encounter due to symbol requests not being ca

[2019-02-13 08:37] abinmathewabraham commented on #3157
# c_ccp_properties.json
{
    "configurations": [
        {
            "name": "Mac",
            "includePath": [
                "${workspaceFolder}/**"
            ],
            "defines": [],
            "macFrameworkPath": [
                "/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/System/Library/Frameworks"
            ],
            "compilerPath": "/usr/bin/gcc",

[2019-02-13 08:50] abinmathewabraham commented on #3157
# Logs after enabling debug
textDocument/hover
cpptools/activeDocumentChange
cpptools/textEditorSelectionChange
cpptools/textEditorSelectionChange
textDocument/codeAction
**textDocument/definition**
textDocument/didClose
textDocument/codeAction
cpptools/activeDocumentChange
cpptools/textEditorSelectionChange
cpptools/textEditorSelectionChange
textDocument/didOpen
Checking for syntax errors: file:/

[2019-02-13 09:08] rivergold opened #3160 "command 'C_Cpp.GoToDeclaration' not found"
Type: General

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.30.2
- C/C++ Extension Version: 0.21.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
    When I use `ctrl` + `F12` to go to a declaration, occur error command 'C_Cpp.GoToDeclaration' not found

I have tried other lower C/

[2019-02-13 09:20] rokrust commented on #692
Will this be fixed any time soon? If not, could someone explain how I can fix this problem myself? I assume this can be fixed by adding the path to the file name that is sent to the MIEngine, but I'm having trouble finding where in the code this is done exactly.

I appreciate any help you can offer!

[2019-02-13 12:54] bklxxjjz opened #3161 "(Mac OS Mojave) Debugging C: ERROR: Unable to start debugging. Unexpected LLDB output from command "-exec-run". Command 'exec-run'. Invalid process during debug session. EXIT CODE 42"
Type: Debugger
**Debugging C: ERROR: Unable to start debugging. Unexpected LLDB output from command "-exec-run". Command 'exec-run'. Invalid process during debug session. EXIT CODE 42**

**Describe the bug**
- OS and Version: OS Mojave 10.14.3
- VS Code Version: 1.22.2
- C/C++ Extension Version: 0.17.4
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and

[2019-02-13 14:06] tomasiser opened #3162 "Comment of a templated method does not get parsed if above template"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.31.0
- C/C++ Extension Version: 0.21.0

**To Reproduce**
Compare the standard Doxygen way of commenting templated methods:
[code]
and this non-standard way:
[code]

In the first (correct) case, the documentation comment does not get shown when the method is hovered.

**Expected behavior:**

The docume

[2019-02-13 15:50] joelspadin commented on #2453
I can also confirm that the language server no longer crashes immediately with 0.22.0-insiders. Thanks!

[2019-02-13 17:14] bobbrow commented on #3149
Be very careful about setting `"limitSymbolsToIncludedHeaders": false`.  It will cause the extension to parse all of the standard library (even the parts you don't use).  You don't want to do this 25 times.

[2019-02-13 17:39] reszes98 opened #3163 "exceptions in debug mode"
Type: Debugger
**Input information below**

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.17763
- VS Code Version:1.13.1.1
- C/C++ Extension Version: 0.21.0
- A clear and concise description of what the bug is.
I have codeblocks, visual studio, and visual studio code, when i'm debugging everytime in testclass.h at testclass2 and ~1 stops because an exception has occurred, but the othe

[2019-02-13 18:27] Zenome84 opened #3164 "natvis is failing to read conditional with variables with Eigen"
I am running Visual Studio 2017 15.9.5
I am trying to make an addition to a natvis for the Eigen library available [here](https://bitbucket.org/eigen/eigen/src/tip/debug/msvc/eigen.natvis)

I am basically making a variant of: `<Type Name="Eigen::Matrix&lt;*,-1,-1,*,*,*&gt;">` for `Eigen::Map`.
I used the code already in place in the natvis as a platform:

[code]

Using trial and error, I know that

[2019-02-13 18:43] tlbtlbtlb commented on #3159
I have a library called tlbcore. The repo is in $HOME/tlbcore.  The `.cc` files in tlbcore have `#include "tlbcore/xxx.h"`, which works when the library is installed in /usr/local/include/tlbcore. But when I'm editing in $HOME/tlbcore, the language server doesn't find them and suggested "Add $HOME to your includePath" which I clicked.

It surprised me that that indexes the entire home directory. R

[2019-02-13 19:03] kevenv opened #3165 "Intelli Sense Engine Fallback shouldn't be default"
**Type: LanguageService**

**Describe the bug**
- C/C++ Extension Version: 0.21.0
- I thought intellisense was broken since I tried to check the members functions of some object by typing '.' but it just threw me all the symbols anywhere in my project, which is not what I expected. It took me forever to realize that the intellisense engine fallbacks to TagParser (so not context aware) by default w

[2019-02-13 19:15] bobbrow commented on #3165
Yes, we are planning to change the default for this value alongside some upcoming configuration improvements.  Thanks for opening an issue to track it.

[2019-02-13 19:24] sean-mcmanus commented on #3160
Our process is probably failing to start. I assume other C_Cpp commands also fail? We haven't gotten other reports of 0.21.0 failing yet. Your machine might be lacking some runtime shared library our Microsoft.VSCode.CPP.Extension.linux process requires. Are you sure you have 0.21.0 and not 0.22.0-insiders? Does 0.22.0-insiders fail too? When you do Help->Toggle Developer Tools does it show any er

[2019-02-13 19:29] sean-mcmanus opened #3166 "Function doc comments gets shown for the function's parameters"
Hover over a parameter to a function that has a comment above it and it incorrectly shows the function comment for the parameter.

[2019-02-13 19:39] pieandcakes commented on #3144
Thanks @dirkseidel  for the logs. After looking at them, it looks like with 250+ threads, in VS Code 1.31, we are receiving a StackTrace request for each thread when stopping, which is why it is taking much longer.

I've opened https://github.com/Microsoft/vscode/issues/68648 on their page for them to look into it.

[2019-02-13 19:44] pieandcakes commented on #3163
@roland1998 What compiler/debugger are you using on Windows when this happens? What are the versions of the toolset? What exceptions are you seeing?

From the looks of your project, you are using MinGW and my assumption is that you don't have the `bin` folder of the toolset in your path, so that when the program is launched it can't find it. This is a configuration issue related to your toolset an

[2019-02-13 19:48] pieandcakes commented on #3155
@hjmallon I will mark it as a feature request. We have a similar situation on Linux where we will elevate with psexec but I don't know the corresponding side on MacOS.

[2019-02-13 19:49] sean-mcmanus opened #3167 "Go to Definition doesn't work with local variables if there's a syntax error on the previous line"
local variables have the same behavior with them,too.

int testd1()
{
  xdsas
  int i = MONTH_1::JAN;
  int m = i+2;   /// variable 'i' can't go to definition.
}

_Originally posted by @Lennon925 in https://github.com/Microsoft/vscode-cpptools/issues/3071#issuecomment-457094275_

[2019-02-13 19:49] pieandcakes commented on #3164
@Zenome84 Can you write me a small test app that shows what is wrong? I can debug our code and find out why the natvis implementation we have isn't handing it correctly if you can get me that.

[2019-02-13 19:50] sean-mcmanus commented on #3167
I believe the local variable case is "by design" and it isn't a regression, and repros with Visual Studio as well -- the reason is because the error before "int i" causes our IntelliSense parser to not recognize the "int i" definition. However, I have filed a bug with the Visual C++ team at https://developercommunity.visualstudio.com/content/problem/435720/go-to-definition-doesnt-work-with-local-v

[2019-02-13 19:52] pieandcakes commented on #3156
Can you confirm that your a.out is actually in the folder `/home/pi/testc/` ? We do a file check to make sure that the file `a.out` is actually there and that seems to be failing.

Also, if you want to use your task as part of the `launch` you need to add a `preLaunchTask` inside your `launch.json` with the `label` name as the `task` name.

[2019-02-13 19:53] pieandcakes commented on #3150
@WardenGnaw can you look into this?

[2019-02-13 20:28] Zenome84 commented on #3164
In the following example, `mat1` will correctly display in watch, while `map1` will not. However, if you use `<Size>$i==0 ? 3 : 5</Size>` for both instances, then map1 will display.

[code]

[2019-02-13 20:45] sean-mcmanus commented on #2824
I think I reported this internally earlier, but I have filed a public issue at https://developercommunity.visualstudio.com/content/problem/456437/c-intellisense-gcc-mode-wont-allow-builtin-expect.html so it can be upvoted.

[2019-02-13 21:04] giuscri commented on #2382
In my case the extension stopped working out of the blue. The message "waiting for v8 protocol on stdin/stdout" is always printed; that's not a symptom of something wrong.

In my case, the project I was debugging crashed even before reaching the entry, letting the extension waiting forever for the debugger to reply back.

Luckily, the _CALL STACK_ window showed me that and a rebuild of the project

[2019-02-13 21:06] sean-mcmanus commented on #2479
We have improved the scenario via adding (declaration) to the instances that are declaration, but there is still a bug with the use of "struct s" as a type (not a declaration). It's being tracked by https://developercommunity.visualstudio.com/content/problem/456439/cc-intellisense-incorrectly-treats-struct-mystruct.html so you can upvote that.

[2019-02-13 21:42] sean-mcmanus commented on #3157
Do these files all exist under the workspace folder?

The "failed to create IntelliSense client" error is bad -- does that still repro (it's not in  your 2nd debug log).

If you switch the C_Cpp.intelliSenseEngine setting to "Tag Parser" does Go to Definition work?

[2019-02-13 22:59] sean-mcmanus commented on #3159
The reason it indexes the entire home drive is because by default we copy the includePath setting over to the browse.path setting if the browse.path setting doesn't exists. You can prevent this via setting:
[code]
If the file watchers on your OS are working, then removing things from the includePath should be detected and the parsing should be aborted (it did when I tried it on Windows/Linux). If

[2019-02-13 23:06] bobbrow commented on #3159
Maybe for the case where browse.path is not set, we should copy entries from the `includePath` and add the non-recursive specifier `/*` (with the exception of `${workspaceFolder}`)

[2019-02-13 23:11] sean-mcmanus commented on #3159
@bobbrow Hmm...not sure -- it would break Go to Definition for everyone relying on the previous behavior. Maybe it's okay as long as we maintain the recursive browse.path behavior when recursive includePaths are used?

[2019-02-13 23:21] sean-mcmanus commented on #3034
VS Code is tracking this with https://github.com/Microsoft/vscode/issues/56525 .

[2019-02-13 23:29] tlbtlbtlb commented on #3159
That seems like a better default

On Wed, Feb 13, 2019 at 15:06 Bob Brown <notifications@github.com> wrote:

--
Trevor Blackwell   tlb@tlb.org    650 776 7870

[2019-02-14 00:01] bobbrow commented on #3159
@sean-mcmanus, you're right. Indexing libraries outside the workspaceFolder might suffer.  Instead, we could change the light bulb code action to insert a non-recursive include path instead.

[2019-02-14 00:16] sean-mcmanus commented on #3159
Yeah, that sounds good to me.

[2019-02-14 01:53] rivergold commented on #3160
There are some reasons caused the program failed to start. After I uninstall the extension, restart the computer and reinstall the extension, it can work……

[2019-02-14 01:59] arminAnderson commented on #2937
Having that new line character, at least when you have this:

`//A`
`// `
`//B`

would be really helpful. Forcing everything into one long wrapping line makes the doc hover look bad in almost every situation. I'm not sure how hard it is to make `// ` cause a new line in the hover tooltip, plus the other situations a newline should be in, but the intention of anyone who just does `//` followed by a

[2019-02-14 02:39] sean-mcmanus commented on #3160
Restarting your computer shouldn't be required, but re-installing the extension and/or restarting VS Code may have fixed it. If this is specific to Go to Declaration, then using the built-in Go to Declaration might fix this: https://github.com/Microsoft/vscode-cpptools/issues/2959 .

[2019-02-14 02:42] xujintao commented on #3156
@pieandcakes
After ctrl + shift + B, vscode popup this:
![image](https://user-images.githubusercontent.com/5418373/52782079-20c5d680-3089-11e9-8781-070686ec3514.png)
then this:
![image](https://user-images.githubusercontent.com/5418373/52782130-47840d00-3089-11e9-8451-ccfe7b9476ff.png)
tasks.json add group field automaticlly, then a.out comes out, and also F5 works.
so, ctrl + shift + B is build t

[2019-02-14 03:30] mxdh opened #3168 "Intellisense does not seem to correctly resolve private inheritance."
Issue Type: <b>Bug</b>

Sorry,my English is not good.
[code]

[code]

Enter "q.", the IntelliSense prompt contains "push_back", but "deque" is a private inheritance.

Extension version: 0.21.0
VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 6.1.7601

[2019-02-14 03:38] rgw5267 opened #3169 "can't auto complete"
版本: 1.31.1 (system setup)
提交: 1b8e8302e405050205e69b59abb3559592bb9e60
日期: 2019-02-12T02:20:54.427Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

I have configured c_cpp_properties.json.

**Screenshots**
- If it is modified from the middle, it will not auto complete.

![image](https://user-images.githubusercontent.com/1254990/52760939-5f896b80-

[2019-02-14 03:42] sean-mcmanus commented on #3168
This is Visual Studio bug https://developercommunity.visualstudio.com/content/problem/203146/intellisense-doesnt-honour-private-inheritance.html . Unfortunately, they closed it as "low priority". I can see if I can reopen it, so more upvotes can occur.

[2019-02-14 03:54] sean-mcmanus commented on #3169
Can you try using Ctrl+Space to invoke completion (i.e. that is the intended workaround)? The current behavior appears to be "by design" (with the "can auto complete" at the end behavior being some unintentional deviation from how Visual Studio behaves)...although maybe we could change it to complete in the start/middle cases (I'm not sure why VS doesn't).