[2019-09-25 08:02] PDostalek commented on #4312
Perfect, thanks

[2019-09-25 08:02] #4312 closed, assigned to Colengms

[2019-09-25 08:22] PDostalek opened #4326 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.giving_up""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
giving up

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
We are not sure how this "giving up" is going to be used throughout the context. Would you mind giving us a little more information? Thanks.

[2019-09-25 08:40] PDostalek opened #4327 "[loc][Query][vscode-cpptools] Localizability of 0; "dist/src/LanguageServer/nativeStrings.files_removed_from_database""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
{0} file(s) removed from database

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
Please clarify placeholder. Is it this just volume or something different ?

[2019-09-25 09:34] spinicist commented on #4315
@pieandcakes Thanks for that tip. With `engineLogging` enabled and a bit of searching, I established that the `setupCommands` needs to be `"text": "platform shell command"` - note the lack of escaped quotes. However - from https://stackoverflow.com/questions/29594866/lldb-term-environment-variable-not-set-even-though-it-is-set?noredirect=1 I discovered that what happens in a `platform shell` stays

[2019-09-25 09:38] ddobrev opened #4328 "Allow stepping from C# to C++ and vice versa when debugging"
I have a solution with both C# and C++ projects, the C# project invokes C++ code with P/Invoke. I want to be able to step in and out of the C++ code when debugging, just like Visual Studio can.

[2019-09-25 12:45] SC0x1 opened #4329 "Running GDB on a stripped executable lead to error: Unrecognized format of field "addr""
Type: Debugger

When we try to debug a **"stripped"** executable file using a core-file (obtained from a google breakpad library) it leads us to the following error:

`
ERROR: Error while trying to enter break state. Debugging will now stop. Unrecognized format of field "addr" in result: {level=0,addr=<unavailable>,func=??,args=[],arch=i386:x86-64}
`

**launch.json** config:
[code]
**System config

[2019-09-25 13:03] Gorbykov commented on #429
+1 for NVIDIA Jetson support.

[2019-09-25 13:28] PDostalek opened #4349 "[loc][Query][vscode-cpptools] Localizability of 0; "package.c_cpp.debuggers.symbolLoadInfo.exceptionList.description""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
List of filenames (wildcards allowed) separated by semicolons ';'. Modifies behavior of LoadAll. If LoadAll is true then don't load symbols for libs that match any name in the list. Otherwise only load symbol

[2019-09-25 13:29] PDostalek opened #4348 "[loc][Query][vscode-cpptools] Localizability of 0; "package.c_cpp.debuggers.symbolLoadInfo.loadAll.description""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
If true, symbols for all libs will be loaded, otherwise no solib symbols will be loaded. Default value is true.

File Name:
Src\vscode-extensions\vscode-cpptools.xlf

Query:
what is a solib?

[2019-09-25 13:35] PDostalek opened #4347 "[loc][Query][vscode-cpptools] Localizability of 0; "./src/LanguageServer/references.comment.reference.upper""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
COMMENT REFERENCE

File Name:
Src\vscode-extensions\vscode-cmake-tools.xlf

Query:
Does this mean "a reference to a comment"?
Or maybe it means "to make a comment for a reference" or "to place the reference w

[2019-09-25 13:41] sventec commented on #2610
FWIW, the newest version of vscode (1.37.1) on a clean Windows install was working fine with the default configuration for me, simply editing compiler path/etc to the install locations. This points to my original issue _probably_ being a problem with configs.

[2019-09-25 13:59] rhfiesta commented on #4320
- Default setting.

- Error log details:

- Sorry, the source code is not available. But it seems that the issue may be caused by the headers including some source files which cannot be open in the search path.

- May not be an issue, but I feel not friendly enough?

[2019-09-25 15:47] HasanChoton commented on #2230
Please support

[2019-09-25 17:07] michelleangela commented on #4320
Can you try including the **path** to the missing files under the property setting `includePath` in c_cpp_properties.json? The values in c_cpp_properties.json are used to configure IntelliSense, such as telling IntelliSense which defines to use, or which headers/paths to use to look for files.

To edit the c_cpp_properties.json, you can create/edit it by running the command `C/C++: Edit Configurat

[2019-09-25 18:09] michelleangela opened #4331 "No error squiggles in c_cpp_properties.json for invalid path or file"
**Type: LanguageService**

Repro steps:
1. Set any of properties that takes path or file in c_cpp_properties.json with invalid input

Expected results: error squiggles invalid input

Actual result: no error squiggles

Note: input validation works in configuration UI editor.

[2019-09-25 18:28] michelleangela commented on #4301
This seems to be by design, as it's expecting `;` to be some statement which would not be inline with `while(...)`.

**For example:**

Start with
[code]

then format document, which results in:
[code]

[2019-09-25 18:37] esynr3z opened #4350 "Multiple include errors generated when use cmake-tools as a configuration provider for cpptools"
Trying to use CMT (cmake-tools) with a CMake simple "hello-world" project.
Project can be configured, built and debugged - no problems here. But it's quite annoying that all includes of standart headers underlined with red squiggly lines:

This happens only if I choose to use cmake-tools as a configuration provider for cpptools. If "none" option is chosen - squiggly lines disappear.

Is it an expe

[2019-09-25 18:54] sean-mcmanus opened #4332 "Change "C/C++ References" Output panel to "C++ Peek References" and only create it when Peek occurs"
...this is with 0.26.0-insiders, due to the UI tree view being used.

The "Warning" messages can be sent to the C/C++ window instead (but with Peek it should still be shown in the C/C++ Peek References window, or it won't be visible).

[2019-09-25 19:00] sean-mcmanus opened #4333 "Add an Expand All button to the references tree views"
There's a collapse all button.

Adding "Expand All" to the main "References: Results" would require us to replace VS Code's tree view container for the Confirmed References.

[2019-09-25 19:54] Jasdriel commented on #3007
@sean-mcmanus I tried to but no luck, I even can do the formating:
![image](https://user-images.githubusercontent.com/51973231/65634677-9d138700-df93-11e9-967e-c6311ddcb8fe.png)

[2019-09-25 20:57] sherryyshi commented on #3039
Hi @sean-mcmanus ,
Bob mentioned that you will be enabling this through the `compilerArgs` param. FYI to enable C++/CX we specify the following compiler args:
`ZW`,  `/ZW:nostdlib`, `/FU<platform.winmd>`, `/FU<Windows.winmd>`, `/AI<metadataDirectory>`

Currently the `.winmd` files are passed into the `forcedInclude` param - let me know if we should change that.

Also, let me know if you want me to

[2019-09-25 23:25] michelleangela commented on #4331
No bug, the property `enableConfigurationSquiggles` needs to be set to `true` to show any squiggles.

[2019-09-25 23:25] #4331 closed, assigned to nobody

[2019-09-26 00:35] HutchinsonVandyke commented on #1262
OK I am having a similar problem, but I think it differs from the both. VS Code was working great until the debugger began giving me false positives on coding mistakes. I decided to compile in my command terminal with MinGW. After that I have been getting this message when I do a build task:

`cl.exe : The term 'cl.exe' is not recognized as the name of a cmdlet, function, script file, or operable

[2019-09-26 02:01] sean-mcmanus opened #4338 "Add a search or file filter to the References/Rename UI"
Because when I care about references in the current file, it's hard to locate that file when there 200 other files in the UI. The ability to search was possible with the Output window.

[2019-09-26 02:44] bobbrow commented on #4350
This is not expected.  We'll need a bit more information though.  Can you [enable debug logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp) for the cpptools language server, reload your window, and then share the "custom configuration" sent for your source file?  That should let us know what CMake Tools is sending to cpptools.

[2019-09-26 03:40] kk9265 opened #4339 "Failed to 'continue' debug through gdb attach in vscode while terminal gdb is fine"
hi, i have a problem with remote debugger.
this cause by epoll_wait which has a system block return -1 with errno EINTR catched by gdb.
In terminal, i can simply input c to skip, but in vscode this
![QQ图片20190926113344](https://user-images.githubusercontent.com/51905973/65656379-3ef9a900-e052-11e9-89b6-f91f774e2c33.png)
 cannot work.
what can i do ?
the same issue as #2283

thx for your attention

[2019-09-26 06:44] esynr3z commented on #4350
This is what appears in the output pane after I select GCC kit, and perform cmake configure:
[code]

main.c:
[code]

[2019-09-26 13:24] rhfiesta commented on #4320
The IntelliSense is working and autocomplete is available when all missing files are included in the searchable path.

After the autocomplete is available, other header files which include unsearchable files could also be anlyzed intelligently.

Therefore, the IntelliSense can actually handle headers that include unsearchable files, but it was unavaliable at first.

[2019-09-26 16:51] userr2232 commented on #2844
I solved this by resetting all permissions from all Apps. I don't know if there is a command to reset the permissions related to the terminal only. I used this command:
`tccutil reset All`
Then I got the popup asking for permission and clicked Ok and everything worked fine again.

[2019-09-26 16:56] michelleangela commented on #4320
By "searchable path", do you mean adding the header path to the `includePath` in c_cpp_properties.json?

Are the "unsearchable files" the files the ones that needed to be set under `includePath` for IntelliSense to find?

[2019-09-26 17:24] pieandcakes commented on #1262
@HutchinsonVandyke I think you are mixing toolsets. `cl.exe` is for Visual C++. MinGW uses `gcc` or `g++` for c/c++ compilation. If you want to use `cl.exe` make sure that you have the Visual C++ compiler installed and on the path.

[2019-09-26 22:25] josepharhar commented on #3831
I'm using this feature to debug chromium on linux and It looks like I'm running into the same issue:
[code]
Here is my launch.json:
[code]

[2019-09-26 22:52] sean-mcmanus commented on #4326
Giving up is used in the context of "The code has been trying for 16 seconds, now it's reporting that it's "giving up" instead of continuing to wait."

[2019-09-26 22:54] sean-mcmanus commented on #4327
Place holder is a number, like "10 files(s) removed from database".

Note: The English string should probably use "the database" to be more grammatically accurate.

[2019-09-26 23:10] pieandcakes commented on #3831
@josepharhar we don't support sourceRequest currently so we return a failure to VS Code which I had assumed would allow debugging to continue. Can you let me know if this ends up terminating the debug session? I can try and change the code there but i haven't been able to get a repro where i can set it up and debug the scenario.

[2019-09-26 23:46] bobbrow opened #4343 "cpptools should remember the previous custom browse path"
**Type: LanguageService**

Extensions using the CustomConfigProvider API may not be able to provide a browse path in the time that cpptools expects.  This is problematic because if the provider takes too long to initialize, subsequent folder opens will change the effective browse.path which can result in multiple wrong files being added/removed to/from the database.

cpptools should remember the p

[2019-09-26 23:48] bobbrow commented on #4343
This can probably be done easily in this function of client.ts:
[code]
If the config is valid, update the cache for that folder (use PersistentFolderState).
If the config is empty or invalid, check to see if there is a cached one.

[2019-09-27 00:29] josepharhar commented on #3831
It does not terminate debugging, I can unpause execution and hit the same breakpoint i set over and over again. Setting up chromium to repro would take a long time if you haven't done it before unfortunately, and I'm not sure what's wrong to provide a good repro. All I know is that with regular gdb it works fine.

Not sure if this helps, but I also get this message in the debug console when I firs

[2019-09-27 00:59] mkitby commented on #1284
Was this feature implemented? cpptools cannot exclude path for symbol searching result.

For example, I want to exclude path ${workspaceFolder}/.xxxx. The following settings does not work. go to def still find symbols in ${workspaceFolder}/.xxxx

c_cpp_properties.json
[code]

settings.json
[code]

[2019-09-27 01:56] sean-mcmanus opened #4345 "Find All References (Rename) gives "Not a reference" for constructors of templated classes"
Repro is below.
[code]

[2019-09-27 05:31] idanpa commented on #1587
I use [Bear](https://github.com/rizsotto/Bear) to generate the appropriate compile_commands.json from Makefiles.
I use a task which is doing `make clean; bear -a -o .vscode/compile_commands.json make all;` to refresh the database.

[2019-09-27 06:14] iamlk opened #4346 "#ifdef XXX #else #endif gray code Bug"
Type: Debugger

**Describe the bug**
- OS and Version: MacOS 10.14.6
- VS Code Version:1.38.1
- C/C++ Extension Version:0.25.1

- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
Steps to reproduce the behavior:
1. #define something

[2019-09-27 06:49] lmlong commented on #2230
the outline should not be plain,  it shall be a tree like view  that have the member/methods  unders the class name . Currently I cannot find a specified method through the outline as many similar classes are in one big cpp file

[2019-09-27 10:48] esynr3z commented on #4350
Can problem be here?

[code]
Should compiler and InilliSenseMode be the same?

Made some experiments. When I add
[code]
to my CMakeLists.txt - squiggly lines disappear, but I can't build the project.

How to force cmake-tools to sent other intelliSenseMode (e.g. gcc-x64)?
Or, how to pass additional include directories to cpptools, when cmake-tools used as a provider, and not add these includes to

[2019-09-27 13:29] rhfiesta commented on #4320
I found it has nothing to do with the `includePath`.

I built a header and source file sample that can reproduce the issue as follows:

ac_test.h
[code]
ac_test.cpp
[code]

1. Put `ac_test.h` and `ac_test.cpp` in a same path and open the folder in vscode.

1. Close vscode and delete all buffers (globalStorage / snippets / workspaceStorage) under `C:\Users\%Users%\AppData\Roaming\Code\User` to clea

[2019-09-27 14:06] zeyugao commented on #449
@pieandcakes I can't enable ```"externalConsole":true``` when using vscode-cmake-tools with Visual Studio as kits. The extension controls the ```launch.json``` when debuging.

The extension generates the config for cpptools as below

[code]

As for the ```cppdbg```, the cpptools use the integrated terminal to debug. I can use it to input the stuff. But the ```cppvsdbg``` not.

[2019-09-27 15:07] litist commented on #4243
When i try to add a breakpoint i get:

while pressing pause gives on debug info and has no effect.
Pressing stop also gives no debug information, the debugger control is gone but the debugged program keeps running in the terminal.

[2019-09-27 15:10] Silmathoron commented on #2900
@zhiqiu where are you trying to set the breakpoint? In order to work, the breakpoint must be in an executable or library which has been compiled with debug symbols so if it's inside one of the cpp files of tensorflow, make sure that you compiled it yourself with debug symbols, I'm afraid I cannot tell you much more than that...

[2019-09-27 15:28] litist commented on #4243
With traceRespone enabled i, get following on breakpoint setting:

--> E (output): {"type":"event","event":"output","body":{"category":"console","output":"1: (16711) Send Event AD7BreakpointErrorEvent\n"},"seq":345}
1: (16711) Send Event AD7BreakpointErrorEvent
--> R (setBreakpoints-9): {"type":"response","request_seq":9,"success":true,"command":"setBreakpoints","body":{"breakpoints":[{"id":1,"ver

[2019-09-27 16:21] bobbrow commented on #4350
I don't suspect the missing headers to be related to the `intelliSenseMode`.  IntelliSense uses `compilerPath` to determine the system include path and defines which tend to be compatible between gcc and clang in most cases.  I think this is more of a problem with the `includePath` that cpptools is discovering.

When you run `/usr/bin/gcc -v -E -x c /dev/null`, what does gcc print out under `#incl

[2019-09-27 16:26] bobbrow commented on #4350
What I'm getting at is that the system include path that cpptools is reporting looks wrong to me.
[code]
I don't expect a c++ path to be in there when you are compiling C99 code.  I expect something more like this (though this is a slightly older compiler):
[code]

[2019-09-27 16:36] bobbrow commented on #4347
This seems like the wrong repo.  Moving issue to cpptools.

[2019-09-27 16:38] bobbrow commented on #4348
This looks like a cpptools string.  Moving to cpptools.

[2019-09-27 16:39] bobbrow commented on #4349
This looks like a cpptools string.  Moving to cpptools.

[2019-09-27 16:52] esynr3z commented on #4350
[code]

[2019-09-27 17:41] pieandcakes commented on #4243
@litist can you run it again with `engineLogging` set to `true`? The `traceResponse` log only shows what VS Code sends our debug adapter and what we respond with. I'm interested in what `gdb` is doing.

[2019-09-27 17:44] pieandcakes commented on #3831
@josepharhar It is something that VS Code is requesting from us through the [`debugAdapterProtocol`](https://github.com/microsoft/vscode-debugadapter-node/blob/master/protocol/src/debugProtocol.ts#L973). The error, if it isn't stopping debugging, should be ignorable.

[2019-09-27 17:47] pieandcakes commented on #449
@zeyugao please file an issue with the cmake extension to allow you to set `"externalConsole": true`. This is currently the only way with `cppvsdbg` to allow you to process stdin with your debuggee.

[2019-09-27 17:47] pieandcakes commented on #4328
@ddobrev You would need a VS Code debugger extension that can debug c++ and C#. This extension only supports C++.

[2019-09-27 17:48] #4328 closed, assigned to pieandcakes

[2019-09-27 17:56] ddobrev commented on #4328
@pieandcakes seriously? Really? How the hell is VS Code generally held in high regard if this is the way you "work" around here? [I reported the issue to VS Code itself first](https://github.com/microsoft/vscode/issues/81405) and the person "responsible" over there did absolutely nothing whatsoever but send me here without even making the effort to post the issue himself. Now you do identically th

[2019-09-27 17:57] bobbrow commented on #4350
Yes, that looks better.  I'm not sure why cpptools didn't get the right one.  But it looks like this bug should be transferred over there for investigation

[2019-09-27 17:58] bobbrow commented on #4350
One other thing I didn't notice earlier from the log is that cpptools is changing the intelliSenseMode to gcc, so having CMake Tools send clang doesn't seem to matter.

[2019-09-27 18:07] pieandcakes commented on #4329
@SC0x1 which `gdb` are you using?

Per the gdb/mi [documentation](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI-Stack-Manipulation.html) we're expecting `addr` in address format or to not be specified.

Offending [line of code](https://github.com/microsoft/MIEngine/blob/master/src/MIDebugEngine/Engine.Impl/DebuggedThread.cs#L315) is calling [`TryFindAddr`](https://github.com/microsoft/MIEng

[2019-09-27 18:09] pieandcakes commented on #4339
Can you tell me more about your scenario? Why can't you type `input c` in the terminal? is that a command to `gdb`? Can you share an `engineLog` to confirm that it is the same issue?

[2019-09-27 18:16] pieandcakes commented on #4328
I'm not sending you back to VS Code. I can take this as a Feature request but in all honesty, this is a `C/C++` extension and not a `C# and C/C++` extension so it isn't something that we will implement. I didn't mark it as a feature request because I don't want to mislead you.

You are saying that you are reporting a bug but this isn't a bug. You are looking for an extension to fill the gap to pro

[2019-09-27 19:07] litist commented on #4243
This was the only output i got with engineLogging enabled.

[2019-09-27 19:34] sean-mcmanus opened #4351 "Squiggles can appear incorrectly after a multi-line edit (find/replace, rename, etc.)"
Repro: change method to method2:

[code]
Bug: Squiggles appear (until the cursor position is changed).

[2019-09-27 19:37] pieandcakes commented on #4243
You should have:
[code]

in your `launch.json` which will give you everything we send and receive to `gdb`. If you aren't seeing anything in the `debugConsole`, please post your configured `launch.json`.

[2019-09-27 19:59] sean-mcmanus commented on #4346
I'm not able to repro the bug. Is the bug that half the defines are grayed out strangely? Is there some special requirement?

[2019-09-27 20:03] sean-mcmanus commented on #4318
Does the bug repro without our C/C++ extension? If so, can you file your bug at https://github.com/microsoft/vscode/issues

[2019-09-27 21:09] sean-mcmanus commented on #4306
Thanks for reporting this. The bug also repros in VS, so I've filed a bug at https://developercommunity.visualstudio.com/content/problem/752497/cc-intellisense-based-go-to-definition-fails-for-m.html . You could upvote that if you have a Microsoft account.

[2019-09-27 23:04] #3114 closed, assigned to nobody

[2019-09-27 23:15] bobbrow commented on #2227
This was completed

[2019-09-27 23:15] #2227 closed, assigned to nobody

[2019-09-27 23:56] xoxota99 opened #4352 "No features of the language service working in VSCode"
Version: 1.38.1
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:31:32.854Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

Steps to Reproduce:

1. Open a .cpp or .h file
2. Attempt to Cmd-click any normally clickable thing (Class name, variable name, include file, etc). Observe infinite spinner (knight-rider light across

[2019-09-28 01:16] iamlk commented on #4346
Restart ccptools and VScode,it's get back to normal.
Thanks~

[2019-09-28 01:16] sean-mcmanus commented on #4302
I got the bug to repro with VS. It's caused by clang's std::pair causing our parser to crash when the 2nd template argument isn't a complete type (other repros of the crash may also be possible). I've filed a VS bug: https://developercommunity.visualstudio.com/content/problem/752637/cc-intellisense-crashes-when-parsing-clangs-stdpai.html

[2019-09-28 01:41] sean-mcmanus commented on #4352
Does this repro with or without the C/C++ extension?

[2019-09-28 01:42] sean-mcmanus commented on #4352
If you're seeing the Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin process repeatedly crash/disappear after hoving, then it's likely a duplicate of bug https://github.com/microsoft/vscode-cpptools/issues/4302 .

[2019-09-28 01:45] sean-mcmanus commented on #4352
However, the "infinite spinner" and format failure seems to imply the main process is not available and not just the IntelliSense process. Do you see any error messages in the C/C++ log or via Toggle Developer Console?

[2019-09-28 02:10] sean-mcmanus commented on #4273
It's a VS Code bug: https://github.com/microsoft/vscode/issues/81200

[2019-09-28 02:12] sean-mcmanus commented on #1184
@robot110011 No, the issue got "postponed" (see my last comment).

[2019-09-28 02:28] xoxota99 commented on #4352
With the C++ Extension.

I will check that next time this happens.

I don't know where those are. Can you tell me how to find them?

[2019-09-28 02:33] sean-mcmanus opened #4353 "gcc-x86 and clang-x86 intelliSense modes aren't working"
It's getting set to the x64 versions.

[2019-09-28 02:34] sean-mcmanus commented on #4269
@gentooise Ah, yeah, thanks for reporting that -- I see in the code where it's setting it to gcc-x64. I filed bug https://github.com/microsoft/vscode-cpptools/issues/4353 . I think we'll be able to fix that for our next release (update: it should be fixed in our next Insiders release, today or tomorrow).

[2019-09-28 02:44] sean-mcmanus opened #4354 "FYI, we're still catching up on issues..."
If you're GitHub comment hasn't been addressed in the past week, we've been busy trying to get 0.26.0-insiders shippable -- we'll try to catch up next week. If not, you can pinging us.

[2019-09-28 07:14] smwikipedia commented on #4306
Thanks. So Visual Studio and Visual Studio Code share some implementations?

[2019-09-28 18:44] #4301 closed, assigned to nobody

[2019-09-28 21:13] NULL0B opened #4355 "Repeating working dir on opened problems, can't find the file to go to line"
Im working on /root/Desktop/Project/file.c  in latest vscode stable and i have warnings on my code:
Example:
Under Problems Tab on vscode:
file.c
 |----"warning ... gcc[5,30] "

So when i touch the warning to go there vscode thows an error msg "Unable to open file.c. Unable to read /root/Desktop/Project/root/Desktop/Project/file.c"
it seems that is repeating the working folder in the find path.

[2019-09-29 00:43] VictorYing commented on #2107
I just experienced this bug, then came here and found this issue. I'm really glad to see the cause has been identified.

As I only run auto-formatting occasionally, it looks like I'll be using this as a workaround for now. For now I've set some keybindings for "Format Document With... " and "Format Selection With..." and am selecting the correct formatter from the dropdown each time. It's not idea

[2019-09-29 01:51] Lennon925 opened #4356 "cpptools can't recognize far/near keyword"
![捕获](https://user-images.githubusercontent.com/39362073/65824614-92f8cd80-e29e-11e9-8388-517224fb3294.PNG)

error shows: "expected a ';' "

[2019-09-29 04:08] kk9265 commented on #4339
the log
[enginelog.txt](https://github.com/microsoft/vscode-cpptools/files/3666341/enginelog.txt)
it's true that a exception occurred by epoll_wait,  a system block return -1 with errno EINTR which is normal, and also can be found in terminal. The different thing is that in terminal i can input c to continue, but in vscode i cannot. The pic may expland more clearly.
in terminal :
![QQ图片20190929120

[2019-09-29 07:00] renkun-ken commented on #3559
Crash no longer occurs with the latest release.

[2019-09-29 16:47] litist commented on #4243
This is my configuration:
[code]
and this is what i get in the debug console, after setting three different breakpoints.

1: (1761) ->(gdb)
1: (1762) 1019: elapsed time 1
1: (1763) Send Event AD7EntryPointEvent
1: (1765) <--exec-continue
1: (1765) ->^running
1: (1765) ->*running,thread-id="all"
1: (1765) ->(gdb)
1: (17518) Send Event AD7BreakpointErrorEvent
1: (19023) Send Event AD7BreakpointError

[2019-09-29 17:27] colinaaa commented on #1069
I'm using Catch2, and I'm getting the same problem!

[2019-09-29 22:03] ismailhkose commented on #811
I desperately need a solution to this issue. GDB's `skip` command doesn't work at all.

[2019-09-29 22:29] ghost opened #4357 "Debugger not stopping on breakpoints on macOS Catalina"
**Info**

- OS and Version: macOS Catalina 10.15 Beta (19A573a)
- VS Code Version: `1.38.1`
- C/C++ Extension Version: `0.25.1`
- Other extensions: `vscodevim.vim`, unlikely to be related

**Bug**

The debugger won't break at any of my breakpoints or at the start of `main`. The program runs through and exits successfully. My breakpoints all look normal, not greyed out or anything:

<kbd><img width

[2019-09-30 03:59] ismailhkose commented on #811
@pieandcakes
It seems VSCode do not use `next` command in GDB, and uses `step` command. This behavior need to be fixed in VSCode.

[2019-09-30 05:13] smwikipedia commented on #4306
I have upvoted that VS bug report. I see this issue was removed from the 0.26.1 milestone. Kind of disappointing. Could you reveal if it will be covered in any future milestones? Thanks. @sean-mcmanus

[2019-09-30 05:21] smwikipedia commented on #4318
This issue happens from time to time but I have no steady way to reproduce it yet.
I will come back if more info is available.

[2019-09-30 06:01] ismailhkose commented on #1980
Has this feature been implemented?

[2019-09-30 07:59] zhiqiu commented on #2900
@Silmathoron Thanks for your reply. I tried a tiny demo to mix debug python and c++, the python script imports c++ extension written with pybind11. It worked and the program execution stoped at C++ breakpoints well. I don't know why the real extension (call it X) I want to debug not work. I guess the difference between X and demo includes,  (1) the file size, X is 800+M, while demo is 1M;  (2) the

[2019-09-30 10:11] BigZG opened #4358 "Can't debug c++ program"
Issue Type: <b>Bug</b>

I think i had configurate the c++ extension correctly,but i still can't lauch c++ program debug.This make me angry,and i does't show any message to tell me what 's wrong,it just let me keep waitting.

Extension version: 0.25.1
VS Code version: Code - Insiders 1.39.0-insider (601e3e0762ac93e03cfef8336be8223bf32754e1, 2019-09-30T07:41:01.671Z)
OS version: Windows_NT x64 10.0.

[2019-09-30 11:51] SC0x1 commented on #4329
@pieandcakes to analyze the core-dump files we are using `gdb` version `8.3` and `WSL`.
We can execute these commands (using bat file) without any issue
[code]
Output log: [out.log](https://github.com/microsoft/vscode-cpptools/files/3670846/out.log)

Also, we were trying another approach, using `customLaunchSetupCommands`
**launch.json** config:
[code]
But, this time it gave us the following error

[2019-09-30 12:34] ZweiEuro commented on #3559
I just updated and the Error still occures for me
![pretty_error](https://user-images.githubusercontent.com/18036573/65878880-58bb2900-e38f-11e9-881d-62187f5a8228.png)

[2019-09-30 13:54] renkun-ken commented on #3559
Maybe there are different problems. I'll leave it open for now.

[2019-09-30 15:06] mdmorar commented on #429
+1 for NVIDIA Jetson Support

[2019-09-30 18:11] sean-mcmanus commented on #4356
Our parser has near/far support disabled (same as the VS default). How exactly are you getting your compiler to support that? i.e. what compiler/flags? I see it used for 16-bit compilation with older Microsoft compilers.

[2019-09-30 18:41] bobbrow commented on #2230
The fix for this will be in 0.26.0.

[2019-09-30 18:57] sosaucily commented on #1284
It did work for me in the end. I added the folders I didn't want searched into settings.json under "files.exclude" and "search.exclude" as in the example above (I used full path).

Then I closed VSCode and deleted the database files from .vscode, and reopened. Without deleting the DB it kept the references to the unwanted files.

[2019-09-30 20:05] sean-mcmanus opened #4359 "Crash with completion"
I got the same issue on Mac OS (10.14.6)

Here is the crash log.
[Microsoft.VSCode.CPP.Extension.darwin_2019-09-24-105103_Jins-MacBook-Pro.crash.log](https://github.com/microsoft/vscode-cpptools/files/3647862/Microsoft.VSCode.CPP.Extension.darwin_2019-09-24-105103_Jins-MacBook-Pro.crash.log)

**This issue started from version `0.22.0`, I have tested all versions since `0.22.0`, all of them have th

[2019-09-30 20:27] benripka commented on #1123
I've noticed that for me this occurs often when I try to debug with gdb's follow-fork-mode enabled. This makes the debugger try to jump into code it may not have access to. Just a note.

[2019-09-30 20:32] sean-mcmanus commented on #4359
@jin-qin Do you have any more repro details? Other than doing a completion, what other operation occurred beforehand? Does it happen all the time or randomly?

[2019-09-30 20:42] sean-mcmanus commented on #4300
Did the suggestion work of changing your intelliSenseMode work (and/or setting your compilerPath)? Let us know if this is still an issue.

[2019-09-30 20:42] #4300 closed, assigned to nobody

[2019-09-30 20:55] sean-mcmanus commented on #3039
@sherryyshi Yeah, thanks for the info. We process the /ZW and /AI, but not the /ZW:nostdlib and /FU flags, i.e. we automatically use the platform.winmd and windows.winmd -- did you need those set in a special way that is different from their default locations. I can send you a .vsix with the change when I get it finalized/tested.

[2019-09-30 21:04] sean-mcmanus commented on #4320
Yeah, the problem is that we're associating headers with TUs in which the header is not actually used due to being in an inactive region.

[2019-09-30 21:12] IgPugliese opened #4360 "Function inside function marks error"
Issue Type: <b>Bug</b>

int a(){
bool b(){ <- here marks error
return false;
}
return 0;
}

Extension version: 0.25.1
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:30:08.229Z)
OS version: Linux x64 5.0.0-29-generic snap

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-6100 CPU @ 3.70GHz (4 x 800)|
|GPU Status|2d_ca

[2019-09-30 21:18] sean-mcmanus commented on #4352
The C/C++ error log should be in the VS Code Output pane (if an error was written too it), see https://code.visualstudio.com/docs/cpp/enable-logging-cpp
. The Toggle Developer Console is available in the Help menu.

[2019-09-30 21:22] sean-mcmanus commented on #4306
Yeah, our low level parsing and IntelliSense code is shared. We plan to share more later.

It was removed from 0.26.1 because we don't know when the fix will get in -- it depends on when the VC++ team decides to fix. I was able to fix it for your specific repro via changing a hard-coded array size, but I don't think that is the correct fix.

[2019-09-30 21:51] sean-mcmanus commented on #4360
How are you getting that to compile? What compiler and settings are you using?

[2019-09-30 21:54] sean-mcmanus commented on #4355
This should be fixed by https://github.com/microsoft/vscode-cpptools/pull/3916. As a workaround, you should be able to change the problemMatcher for your build task to use a different fileLocation, such as "autoDetect" or "absolute".

[2019-09-30 22:07] jin-qin commented on #4359
@sean-mcmanus
It happens all the time.
Here are the operation steps:
1. Open VSCode
2. Open a header or source file with some c++ codes.
3. Wait a minute.

[2019-09-30 22:13] #4354 closed, assigned to nobody

[2019-09-30 22:14] #4346 closed, assigned to nobody

[2019-09-30 22:16] sean-mcmanus commented on #4359
There must be something causing the creation of our browse database to fail. Can you change the browse.databaseFilename setting to some location like "${workspaceFolder}/.vscode/vc.db" and make sure it is written? That should fix the crash, but we should also add some checks to avoid crashing if the database never got created.

[2019-09-30 22:30] IgPugliese commented on #4360
here is all the info i think you need:
`code -v
1.38.1
b37e54c98e1a74ba89e03073e5a3761284e3ffb0
x64`

https://imgur.com/a/KuulOoh

[2019-09-30 22:40] sean-mcmanus commented on #4360
Our parser doesn't currently handle the GCC nested functions extension. We're tracking this with https://github.com/microsoft/vscode-cpptools/issues/1035 .

[2019-09-30 22:40] #4360 closed, assigned to nobody

[2019-09-30 23:08] WardenGnaw commented on #4358
To help us further investigate this issue, can you share your `launch.json`?

[2019-09-30 23:17] jin-qin commented on #4359
But version `0.21.0` works fine, and it has got trouble since version `0.22.0`, you can check the difference between version `0.21.0` and `0.22.0`

[2019-09-30 23:43] bobbrow commented on #4359
There are a lot of changes between versions, so this is not a trivial thing to do.  Can you try the workaround that @sean-mcmanus suggested and let us know if it fixes the problem?  That will help us have a better idea of where to look.

[2019-10-01 01:09] BigZG commented on #4358
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "(gdb) Launch",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceFolde

[2019-10-01 01:31] sean-mcmanus commented on #414
I hit this accidentally after opening header file that somehow got encoding "UTF-8 with BOM" -- IntelliSense was broken due to offsets being all off by one.

[2019-10-01 08:55] aenima1891 commented on #319
"watch" variables binary representation would be very useful

[2019-10-01 15:10] GoToCoding opened #4362 "vscode-cpptools's code colorization breaks with c++17"
### vscode-cpptools's code colorization breaks after writing some lines with c++17 code

- OS and Version: OS: Darwin x64 18.6.0
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed: [remote ssh](https://code.visualstudio.com/docs/remote/ssh) only.

VSCode can't color lines with code like next:
[code]
![image](https://user-images.githubusercontent.com/165425

[2019-10-01 15:19] seanheinrichs commented on #877
@sivum This worked perfectly for me. Thanks!

[2019-10-01 16:56] ItaloYeltsin commented on #2506
Looking forward for this feature!

[2019-10-01 17:54] Colengms commented on #4362
Hi @GoToCoding

The C/C++ extension provides semantic colorization, but syntactic colorization is coming from VS Code and the TextMate grammar is uses.  The TextMate grammar for C and C++ in VS Code is contributed by Jeff Hykin.  You can get his latest grammar, which may not have made it into VS Code yet, try his 'Better C++ Syntax' extension.  His repo is here: https://github.com/jeff-hykin/cpp-t

[2019-10-01 18:18] orblazer commented on #3139
Hello,
This bug is still present in `0.25.1`. The error :
[code]

Thanks.

[2019-10-01 18:28] bobbrow commented on #4323
It would be nice if we could use this feature, but the standard does not dictate a first line comment that must appear in the standard headers.  I suppose we could write a regex that covers the most popular ones, but this seems like a brittle solution.

[2019-10-01 19:40] WardenGnaw commented on #4358
I'm not seeing any issues with your `launch.json` either. Could you also provide your `tasks.json` and [enable logging](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_logging-for-mi-debuggers) and see what output you get?

[2019-10-01 19:51] bobbrow commented on #4319
This will be covered by #2755

[2019-10-01 19:51] #4319 closed, assigned to nobody

[2019-10-01 19:56] bobbrow opened #4364 "Fit and Finish issues for v.1.0"
- [x] Rename language server binaries (and update build pipelines + resource.in on Windows)
  * cpptools.exe (win32)
  * cpptools (linux/mac)
  * cpptools-srv.exe (win32)
  * cpptools-srv (linux/mac)
- [x] Update the "FileDescription" of the language service binary (for Windows)
- [x] Rename settings with non-conforming names (e.g. clang_format)
  - Consider rename of `C_Cpp` -> `cpptools`
- [x] R

[2019-10-01 20:13] borbmizzet opened #4366 "Feature Request: Group Results of Find All References"
**Type: LanguageService**

Please add options in the Find All References View to group results of Find All References by:

- File, Type
- File, Type, Member
- File, Type.Member
- Namespace
- Namespace, File, Type
- Namespace, File, Type, Member
- Namespace, File, Type.Member
- Directory Structure

Note: Members could be global (such as in C), in which case the Type would be ignored.  Global member

[2019-10-01 20:44] GoToCoding commented on #4362
Hi @Colengms

[Better C++ Syntax](https://marketplace.visualstudio.com/items?itemName=jeff-hykin.better-cpp-syntax) plugin really helps, thank you!

[2019-10-02 00:21] sean-mcmanus opened #4369 "Rename during Find All References doesn't show the "canceled" references results."
1. Find All References.
2. Rename before the Find All References is finished.

Bug: The Find All References results are not updated with the "canceled" (preview) state.

May not be high enough priority to fix?

[2019-10-02 01:13] sean-mcmanus opened #4370 "Find All References fails to confirm references with C dynamic array parameters"
Do Find All References with
[code]
Bug: It says they're not a reference.

[2019-10-02 02:02] BigZG commented on #4358
{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "c++(gcc)",
            "type": "shell",
            "command": "g++",
            "args": [
                "-g",
                "${workspaceFolder}/school_experiment/Test4/Ex_Student_1.cpp"
            ],
            "group": {
                "kind": "build",
                "isDefault": true
            }
        }
    ]

[2019-10-02 02:06] rockboynton commented on #1162
bump

[2019-10-02 02:08] sean-mcmanus opened #4371 "Find All References fails to show Comment references that occur on the 1st line"
Use
[code]
The Comment reference is not reported.

[2019-10-02 02:51] sean-mcmanus opened #4372 "Rename (and Find All References) gives incorrect results for comment references with UTF-8 characters > 1 byte"
Use code:
[code]
The rename (and find all references) has the incorrect ranges for the comment references.

[2019-10-02 02:59] sean-mcmanus commented on #296
Rename is available to try out with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders . If you find bugs, please file new issues so we can fix them before the final release.

[2019-10-02 03:00] sean-mcmanus commented on #2230
The fix is available in https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders .

[2019-10-02 03:01] sean-mcmanus commented on #4366
We have an improved UI at https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders . But it may not have all the grouping options you want yet.

[2019-10-02 03:02] sean-mcmanus commented on #3324
The fix is available with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders .

[2019-10-02 03:03] sean-mcmanus commented on #2874
The fix is available with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders . Let us know if it's not working for you.

[2019-10-02 03:03] sean-mcmanus commented on #4078
The fix is available with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders . Let us know if it's not working for you.

[2019-10-02 03:03] sean-mcmanus commented on #4168
The fix is available with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders . Let us know if it's not working for you.

[2019-10-02 03:04] sean-mcmanus commented on #4193
The fix is available with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders . Let us know if it's not working for you.

[2019-10-02 03:04] sean-mcmanus commented on #4269
@gentooise The x86 mode not being used should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders . Let us know if it's not working for you.

[2019-10-02 03:05] sean-mcmanus commented on #4262
The fix is available with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders . Let us know if it's not working for you.

[2019-10-02 03:05] sean-mcmanus commented on #4211
The fix is available with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders . Let us know if it's not working for you.

[2019-10-02 04:10] teki commented on #3270
Experiencing the same issue. (strangely I have the same issue with the clangd 9 plugin)
Any log to check? The C/C++ one does not have any interesting, where can I find the log of the LSP process? (MacOS, running: 0.26 insider build, will downgrade to released version)

[2019-10-02 05:43] hananawi opened #4373 "can not run a program without debugging"
Type: Debugger

**Describe the bug**
- OS and Version: centos 8
- VS Code Version:
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*

{
    // Use IntelliSense to learn about possible attributes.

[2019-10-02 07:17] LinAGKar opened #4374 "go to definition etc often takes tens of seconds to perform when ~/.config/Code is on NFS"
**Type: LanguageService**

**Describe the bug**
- OS and Version: OpenSUSE Leap 15.1
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them):
  - Bookmarks
  - CMake
  - Debugger for Chrome
  - Git History
  - GitLens
  - Language-Cython
  - Markdown Preview Enhanced
  - markdownlint
  - Python
  - TSLint
  - XML

[2019-10-02 07:38] Arcitec commented on #1839
Is it possible to use VS Code + Microsoft Visual C++ Build Tools (and Windows 10 win32 SDK), to compile Visual Studio win32 projects?

Strange that I can't find any webpages with a tutorial how to do this... But it seems possible?

[2019-10-02 07:40] Finkman opened #4375 "Version 0.26.0-insiders breaks language server"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.26.0
- Other extensions you installed (and if the issue persists after disabling them): C/C++ Clang Command Adapter, C++ Intellisense, CMake, Cmake Tools.
Issue persists even after disabling the extensions.
- A clear and concise description of what the bug is.

Afte

[2019-10-02 07:40] gentooise commented on #4269
That's perfect:
`IntelliSense Mode: gcc-x86`

Thanks.

[2019-10-02 07:51] Gargony commented on #1839
@VideoPlayerCode, check this https://code.visualstudio.com/docs/cpp/config-msvc

[2019-10-02 07:55] Kuldaen opened #4376 "0.26-insiders - Language Server crashes"
Issue Type: <b>Bug</b>

I just switched to the 0.26-insiders version and get this crash straigth away
[Error - 08:53:08] Connection to server got closed. Server will not be restarted.

Extension version: 0.26.0-insiders
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:30:08.229Z)
OS version: Linux x64 5.0.0-29-generic snap

<details>
<summary>System Info</summa

[2019-10-02 07:57] Kuldaen commented on #4376
sorry forgot to add the logs
[code]

[2019-10-02 07:59] yuranu commented on #4375
Confirm same issue here, on Fedora 30 after updating to 0.26.0.
For now switched back to 0.25.1 as a workaround.

[2019-10-02 08:26] Finkman commented on #4376
Same here :-/

Duplicate of #4375

[2019-10-02 09:17] karan-k-deepr commented on #4375
I am also getting the same error today now switched back to the previous version `0.25.1` and disable auto-update extensions because of this.

[2019-10-02 09:50] anatolyburakov commented on #4073
This behavior has changed with recent versions: the path gets resolved correctly (it no longer shows up as "/"), but VSCode cannot find it when i try to go to the error, displaying the following error:

[code]

EDIT: actually no, the path doesn't resolve correctly - it seems to resolve the GCC path from source tree, not from build tree (i have an out of tree build).

The path displayed by GCC is:

[2019-10-02 11:39] #4304 closed, assigned to Colengms

[2019-10-02 11:44] PDostalek commented on #4305
Thanks

[2019-10-02 11:44] #4305 closed, assigned to Colengms

[2019-10-02 11:46] #4307 closed, assigned to Colengms

[2019-10-02 11:49] PDostalek commented on #4327
Thank you

[2019-10-02 11:49] #4327 closed, assigned to nobody

[2019-10-02 11:51] PDostalek commented on #4326
Thanks for clatification

[2019-10-02 11:51] #4326 closed, assigned to nobody

[2019-10-02 12:41] jin-qin commented on #4359
I tried yesterday, could not work.
@sean-mcmanus @bobbrow

[2019-10-02 13:49] MatejMarecek commented on #4375
I have the same problem (Windows 10)

[2019-10-02 16:04] gentooise commented on #2060
Hi @sean-mcmanus I'm trying to follow your instructions here, because I have the same issue.
But as soon as I remove `c_cpp_properties.json` from specific folder I get this _additional_ configuration that seems to pollute my environment:

[code]

This is my `c_cpp_properties.json`:

[code]

which I wanted to replace with the following defaults in my `.code-workspace` file:

[code]

Basically, I th

[2019-10-02 16:40] ArekSredzki commented on #4375
Same for Ubuntu 16.04

[2019-10-02 17:22] pieandcakes commented on #4243
@litist I think you cut out too much in the log. I'm interested in the breakpoint binding messages. If you don't want to post the log publicly, feel free to send me an email referencing this issue and I can look at it privately.

[2019-10-02 17:25] bobbrow commented on #4375
We are seeing crashes with the document outline in our telemetry that we didn't see in our testing.  We have removed the release for now while we investigate the issue.  We're sorry about the disruption this has caused!

You can revert back to 0.25.1 by changing the `"C_Cpp.updateChannel"` setting to `"Default"`.  You shouldn't need to disable auto-update of all extensions for this.

[2019-10-02 17:27] pieandcakes commented on #811
@ismailhkose we support `next` when you perform a `step-over` command (F10) versus a `step` which is a `step-in` command (F11).

[2019-10-02 17:27] bobbrow commented on #4376
Yes, this is a duplicate of #4375

We are seeing crashes with the document outline in our telemetry that we didn't see in our testing.  We have removed the release for now while we investigate the issue.  We're sorry about the disruption this has caused!

You can revert back to 0.25.1 by changing the `"C_Cpp.updateChannel"` setting to `"Default"`.  You shouldn't need to disable auto-update of all

[2019-10-02 17:27] #4376 closed, assigned to nobody

[2019-10-02 17:29] ahmed-ais commented on #3298
Since the text in question is just one line, how about removing that line from the output by filtering it out? something along this way: `THE_DEBUGGING_COMMAND | head -n 1`

[2019-10-02 17:29] pieandcakes commented on #4329
You will need to move all the commands you have in `setupCommands` to `customLaunchSetupCommands`. `setupCommands` provides additional commands to the ones we provide but I think you want to override what we are providing and provide your own commands instead, which is what `customLaunchSetupCommands` do . Can you try that and see if it works?

[2019-10-02 17:32] pieandcakes commented on #877
The configuration to support debugging WSL without the  `vscode-wsl` extension are also located [here](https://code.visualstudio.com/docs/cpp/config-wsl#_configure-debug-settings).

[2019-10-02 17:33] pieandcakes commented on #3298
@ahmed-ais our command sets a termination clause to clean up the `fifo` files we create. I will try the `head -n 1` command but I suspect that won't get run until after termination which by that point it will be too late.

[2019-10-02 17:35] ahmed-ais commented on #3298
Well, if this is going to work, then you should try this one instead:  `| head -n -1` since the previous one is wrong.

[2019-10-02 17:54] Colengms commented on #4347
This string is part of our "find all references" feature.  A "comment reference" is a type of reference.  It refers to a source code 'comment' (text that does not contain source code instructions, rather a programmers comments/documenation), which contains a reference being searched for.

[2019-10-02 17:55] Colengms commented on #4348
@pieandcakes or @WardenGnaw , can you comment?

[2019-10-02 17:56] Colengms commented on #4349
@pieandcakes or @WardenGnaw , can you comment?

[2019-10-02 18:13] eldaroid commented on #2971
Can you also help me please.
What does it mean?
Loaded '/usr/lib/system/libsystem_notify.dylib'. Symbols loaded.
Loaded '/usr/lib/system/libsystem_sandbox.dylib'. Symbols loaded.
Loaded '/usr/lib/system/libsystem_secinit.dylib'. Symbols loaded.
Loaded '/usr/lib/system/libsystem_kernel.dylib'. Symbols loaded.
Loaded '/usr/lib/system/libsystem_platform.dylib'. Symbols loaded.
Loaded '/usr/lib/system

[2019-10-02 18:23] antonxo commented on #2971
@eldaroid looks like your get_next_line started and exited without stopping on a breakpoint. If you haven't set a breakpoint in your code, then do. If you did, but it doesn't work - check that you compile with gcc using debug flags. If none of this helps - you should show your debug config in VSCode.
P.S. hello from Kyiv 42 school)

[2019-10-02 20:43] bobbrow commented on #3270
@teki if you are using 0.26.0-insiders, you could be hitting #4375.  We took down that release and are investigating the crashing issue (we have a repro).

[2019-10-02 21:22] rajabala commented on #4078
Thanks! Just checked and it does work. However, rename symbol doesn't. I'll file another ticket for that :)

[2019-10-02 21:38] bobbrow commented on #4375
We found a repro and are preparing a fix.

[2019-10-03 07:44] RJ-MC opened #4380 "Debugger gets stuck, shows nothing"
Type: Debugger

**Describe the bug**
- OS and Version: Win10
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): Code Runner 0.9.14
- Normally run with Code Runner, but get stuck when debug.

**To Reproduce**
CPP file:
[code]
`launch.json` file:
[code]

Steps to reproduce the behavior:
1. Open `cpp` file
2.

[2019-10-03 08:56] barynton opened #4381 "Buffer() is deprecated due to security and usability issues."
Type: General
Error: Buffer() is deprecated due to security and usability issues.

- OS and Version: Windows X64 10.0.17763
- VS Code Version: 1.38.1
- C/C++ Extension Version:  0.25.1

Stack trace with NODE_OPTIONS=--throw_deprecation

Error: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
	at show

[2019-10-03 13:27] crazydef commented on #2762
Just give us an option to disable this whole message.  It's useless.

And incredibly tedious having to click to close it *all*the*fscking*time*.

[2019-10-03 14:45] SC0x1 commented on #4329
It gives us the following error:

`ERROR: GDB exited unexpectedly. Debugging will now abort.`

Output log: [vsc_debug_console.txt](https://github.com/microsoft/vscode-cpptools/files/3686620/vsc_debug_console.txt)

**launch.json** config:
[code]

[2019-10-03 15:40] TishSerg opened #4382 "AArch inline asm: "unknown register name" clobber list"
**Type: LanguageService**

**The bug**
- OS and Version:
[code]
- VS Code Version:
[code]
- C/C++ Extension Version: 0.25.1 (problem exist in v0.23.1 too)
- No other extensions are installed
- AArch-specific (ARM) register names aren't recognized in the `clobber list` of `inline asm` statement. Nevertheless the code successfully compiles and works.

**To Reproduce**

1. Go to any C function body.

[2019-10-03 17:31] pieandcakes commented on #2762
@crazydef The message is not from the extension.

How this works is that we hit a breakpoint (or a stopping point) and VS Code asks us for a file path as part of a stack walk . We return said file path. VS Code tries to load the file and then says "I can't find it." and shows you the message. VS Code has an option of [`presentationHint`](https://github.com/microsoft/vscode-debugadapter-node/blob/m

[2019-10-03 17:50] Colengms commented on #4381
Hi @barynton .  Are you seeing this at runtime?  Normally I would expect this to be a deprecation warning, not an error.  Note that cpptools does not invoke "new Buffer" anywhere.  However, there are _several_ common dependencies that have not yet addressed the deprecation of new Buffer().

[2019-10-03 18:58] sean-mcmanus commented on #4374
Normally it might take a second or so. My guess is that hover documentation comment lookup is causing the slowdown. I think might need a repro for the "tens of second" case though...it sounds like there's something unusual going on in your project, unless you get the same behavior with a simple project.

[2019-10-03 20:12] sean-mcmanus opened #4383 "Usage of "struct foo* f;" in C incorrectly generates a declaration for "foo""
Use
[code]

The Outline view incorrectly shows "foo::foo" being a declaration.

This bug has existed in VS for a long time, so it's probably too low priority for them to fix.

https://developercommunity.visualstudio.com/content/problem/759968/usage-of-struct-foo-f-in-c-incorrectly-generates-a.html

[2019-10-03 20:32] sean-mcmanus commented on #4375
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders2 .

[2019-10-03 20:32] #4375 closed, assigned to nobody

[2019-10-03 20:32] sean-mcmanus commented on #3270
@teki Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders2 .

[2019-10-03 20:34] sean-mcmanus commented on #4293
Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders2 .

[2019-10-03 21:44] bobbrow commented on #4338
We can't do this in the references UI.  We'd need the VS Code Team to support this too.  Can you open a feature request for them to consider it?

[2019-10-03 21:57] bobbrow commented on #4269
I'm coming late to the discussion.  We should write up some documentation about how to work with unsupported compilers.

I think a better approach is to use a combination of the `C_Cpp.default.systemIncludePath` and `C_Cpp.default.defines` settings, but we should validate this will provide the expected results before writing up the documentation.

[2019-10-03 22:22] eldaroid commented on #2971
Wow, it's cool indeed, can we move into russian language, because i can`t describe my troubles in english

[2019-10-03 23:27] sean-mcmanus commented on #4370
Oh, that's odd -- I'm not reproing a bug anymore. I might have been hitting a different issue that got fixed. Let us know if anyone still hits this.

[2019-10-03 23:27] #4370 closed, assigned to nobody

[2019-10-04 00:41] Colengms opened #4384 "Switching between configs with different (or with/without) providers, does not switch providers"
Using a workspace with multiple configs, some with a custom config provider and some without, I'm seeing that selecting a config does not cause a custom config to be requested from the new provider.

If I launch into a config without a provider, and switch the a config with a provider, the provider is not used.  It looks like ```onSelectedConfigurationChanged``` is invoked, but is not handling pro

[2019-10-04 02:33] sean-mcmanus commented on #4359
You tried what? Did the database file not get created? Do you see any errors when you enable logging: https://code.visualstudio.com/docs/cpp/enable-logging-cpp

[2019-10-04 02:42] jin-qin commented on #4359
The crash log: [Microsoft.VSCode.CPP.Extension.darwin_2019-10-03-224158_Jins-MacBook-Pro.crash.log](https://github.com/microsoft/vscode-cpptools/files/3688759/Microsoft.VSCode.CPP.Extension.darwin_2019-10-03-224158_Jins-MacBook-Pro.crash.log)

I tried to do what you told me 3 days ago, and I did not see any database file get created, and here is the error info:

[code]

[2019-10-04 04:08] teki commented on #3270
Does not crash anymore,  thanks! (Have a different problem now.)

[2019-10-04 05:00] Gargony commented on #3270
@sean-mcmanus After update to 0.26.0-insiders-2 I got with problem
"Connection to server got closed. Server will not be restarted."
Its happens after several minutes after start and work

And what I should do to vscode-cpptools detect compiler?
I was mentioned what I have Visual Studio Build Tools 2017 installed but vscode-cpptools can not detect it.

My c_pp_properties.json:
{
    "configurations

[2019-10-04 06:09] LinAGKar commented on #4374
This seems to happen for all projects. Symlinking ~/.config/Code onto a local drive makes it way better, so it seems like there is an extreme performance penalty when the profile is on NFS.

[2019-10-04 07:50] luni64 commented on #4193
Works for me, thanks a lot

[2019-10-04 07:50] #4193 closed, assigned to nobody

[2019-10-04 08:26] barynton commented on #4381
Hi @Colengms. Yes you are right, it's a warning. I see it when debugging my extension. Haven't check other cases. I didn't know the source of the problem and I ran debug with --throw_deprecation option and breakpoint on uncaught exceptions, so it was marked as an error.

The main problem was that I didn't know what causes the warning. It looks like "(node:23508) [DEP0005] DeprecationWarning: Buffe

[2019-10-04 11:45] Finkman opened #4386 "[linux] 0.26.0-insiders2 eating entire RAM"
Type: General

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.26.0-insiders2

After vs code automatically update the extension to 0.26.0-insiders2, my pc got stuck. I saw the the extension is utilizing all of my memory and the system starts swapping.

There is even no chance to take a screenshot, since the snipping tool crashes under that

[2019-10-04 12:58] Novakov commented on #4375
I think I'm seeing this issue in 0.26.0-insiders2 release. `Microsoft.VSCode.CPP.IntelliSense.Msvc.exe` process is crashing frequently (in Process Explorer I can see that there are few instances started and dying one by one, sometimes one or two survives a bit longer).

`Procdump` reports following exception: `Exception: E06D7363.?AUa_cfe_exception@@`.

Should I report this as new issue?

[2019-10-04 16:11] zhang456xi opened #4387 "IntelliSense is different between header file and source file"
**Type: C/C++**

**Describe the bug**
- OS and Version: Windows 10 Version 1903
- VS Code Version:1.38.1
- C/C++ Extension Version:0.25.1
- Other extensions you installed (and if the issue persists after disabling them): Remote-WSL
- A clear and concise description of what the bug is.
The macro \_WIN32 is different between header file and source file when open folder in Windows

**Screenshots**
![

[2019-10-04 17:07] ArekSredzki commented on #4375
@sean-mcmanus I too am still seeing this issue in `0.26.0-insiders2` on Ubuntu 16.04. Additionally, my computer seems to freeze momentarily when VS Code is open with this configuration.

[2019-10-04 17:11] ArekSredzki commented on #4375
It turns out to be memory related (https://github.com/microsoft/vscode-cpptools/issues/4386)

[2019-10-04 17:13] ArekSredzki commented on #4375
![image](https://user-images.githubusercontent.com/879918/66226346-67efee80-e68f-11e9-9521-b9262ce399f6.png)
It just keeps consuming all ram, crashing and then restarting to do the same

[2019-10-04 17:28] gabeluci commented on #2283
I'm facing this too (while debugging VLC 3.0.9, but oddly it doesn't happen with VLC 4.0.0). A workaround is described [here](https://stackoverflow.com/a/44369359/1202807), which is to use the GDB command `delete`, to delete the offending breakpoint.

So in VS Code, after you start debugging and it halts, you do this by typing:

    -exec delete 1

in the debug console. Then continue execution.

T

[2019-10-04 17:40] vitorlana commented on #1772
Same issue here

[2019-10-04 18:20] gabeluci commented on #4339
If those two breakpoints are ones you created, just delete them. (top right of the breakpoints window is an icon to "Delete All Breakpoints")

If you did not create these (or one of them) you can delete them by typing:

    -exec delete 1

in the debug console, where `1` is the breakpoint number. Then you can continue.

[2019-10-04 19:00] sean-mcmanus commented on #4386
Is anyone able to provide more repro info? We're not able to repro this yet. Does it only repro with certain projects or configurations? i.e. does it repro with an simple `int main(){ return 0; }` project or does adding `#include` to gcc headers of a certain gcc version? Is this with a C or C++ project? Are you using compileCommands or configurationProvider? Is it reproing with any open source pro

[2019-10-04 19:42] sean-mcmanus commented on #4387
Can you run C/C++: Log Diagnostics commands with each file active to compare the output and look for a problem? 0.25.1 had a bug with gcc-x86 not being used, so you should see "gcc-x64" mode used...it looks like it's somehow not able to find a C++ compiler and falling back to cl.exe mode. Are you sure you have a g++ installed? Can you change your "compilerPath" to "/usr/bin/g++"? It looks like you

[2019-10-04 19:56] Finkman commented on #4386
Sorry for leaving so many open questions. I hope to find some time to investigate in this next week.
All I can answer is, that the on my workstation the extension occupied all of the 16GB within ~5s.

[2019-10-04 20:15] sean-mcmanus commented on #4073
This seems like a VS Code remote bug? Can you file a bug at https://github.com/microsoft/vscode-remote-release/issues/ ? I could also try to file the bug there for you, but their template is asking for more info:
- VSCode Version:
- Local OS Version:
- Remote OS Version:
- Remote Extension/Connection Type: SSH/Docker/WSL

[2019-10-04 20:20] sean-mcmanus commented on #4078
@rajabala Rename Symbol should give the same results as Find All References (the backend implementation is shared). I'm not able to repro this bug with Rename. Did you file a bug or do you have more repro info?

[2019-10-04 20:29] sean-mcmanus commented on #4338
This is possible via adding a search/filter button, which triggers a command dropdown in the command palette area -- this is what the TODO extension does with their "Filter tree (Press 'Enter' to confirm or 'Escape to cancel), which changes to "Clear filter" after a filter is added.

[2019-10-04 20:38] sean-mcmanus commented on #4359
We need to figure out why our code isn't able to create our database. Can you enable debug logging (https://code.visualstudio.com/docs/cpp/enable-logging-cpp ) and see what errors it shows when you just open a C/C++ workspace? Under normal conditions you should see "Code browsing service intialized", "Discovering files...", and "tag parsing file:" messages (you may need to do a Reset IntelliSense

[2019-10-04 20:42] sean-mcmanus commented on #3270
@Gargony Other users have reported some sort of memory leak that is leading to a crash, but we're still looking for a way to repro that.

As for configuring with the build tools, did you follow the steps at https://code.visualstudio.com/docs/cpp/config-msvc ?

[2019-10-04 20:44] sean-mcmanus commented on #3270
What do you mean by vscode-cpptools "cannot detect" your compiler? What error are you seeing? What does "C/C++: Log Diagnostics" show?

[2019-10-04 20:47] sean-mcmanus commented on #4374
Yes, our database files get saved under the ~/.config directory by default so that if that is remote then it could slow down all database accesses. You could also try setting the browse.databaseFilename to a local path/file.

[2019-10-04 20:52] sean-mcmanus commented on #4375
@Novakov Your issue with the IntelliSense process crashing is different from the other issues. We need more info as to what is causing the crash and/or a call stack. We are not aware of any new regression involving the IntelliSense process, but we do have a fix pending for our next release for a high hitting IntelliSense crash, see https://github.com/microsoft/vscode-cpptools/issues/4302 .

[2019-10-04 20:55] sean-mcmanus commented on #4386
Sure, if anyone could try doing the repro with 0 files open at startup, that could help narrow down the cause, i.e. our document symbol code only runs when a file is opened/active, but our tag parser code runs on workspace open.

[2019-10-04 21:55] sean-mcmanus opened #4388 "Document outline can be incorrect when scopes have the same name"
One repro is below
[code]

[2019-10-04 21:59] sean-mcmanus opened #4389 "Document outline shows no results with nested namespaces"
Use code
[code]
The document outline shows "No symbols found".

[2019-10-04 22:23] sean-mcmanus opened #4390 "Stack overflow crash (with sometimes long CPU usage) occurs with nested namespaces with same name children"
Use repro
[code]
It leads to a stack overflow crash (or sometimes long CPU usage). This is our highest hitting crash in Insiders.

[2019-10-04 22:30] sean-mcmanus commented on #4386
FYI, we've detected a bug involving nested namespaces that have children with the same name that can lead to a stack overflow crash (https://github.com/microsoft/vscode-cpptools/issues/4390), but we haven't been able to get a repro for the high memory usage issue yet.

[2019-10-04 22:51] sean-mcmanus opened #4391 "C/C++ IntelliSense incorrect error when referencing a variable in an anonymous namespace"
Use the code below in a C++ file:
[code]
Bug: There’s a “i” is ambiguous IntelliSense error when the code compiles.
The code is from https://en.cppreference.com/w/cpp/language/namespace

I reported a bug with VS at https://developercommunity.visualstudio.com/content/problem/761600/cc-intellisense-incorrect-error-when-referencing-a.html .

[2019-10-04 23:33] zhang456xi commented on #4387
thank you! there is no g++ install on WSL but install on Windows by MinGW.

[2019-10-04 23:33] #4387 closed, assigned to nobody

[2019-10-05 00:26] sean-mcmanus commented on #4386
I finally got a repro:
[code]

[2019-10-05 00:31] sean-mcmanus commented on #4390
This is similar to https://github.com/microsoft/vscode-cpptools/issues/4386, but this issue only repros when the child namespace has the same name and the other issue is with a single namespace with differently named scopes.

[2019-10-05 01:27] markhu commented on #2710
Find All References seems a little flaky in 2019...  at least it doesn't seem to work as well as Go To Definition. My fingers are becoming gnarled into the position to quickly CTRL-SHIFT-F to find in files, which is pretty much the same thing. 😅

Possibly related to
* https://github.com/Microsoft/vscode/issues/52127 or
* https://github.com/microsoft/vscode/issues/75492
--although my project is Pyt

[2019-10-05 01:34] sean-mcmanus commented on #2710
@markhu We've fixed some Find All References bugs with 0.26.0-insiders2 (it has crashes with nested namespaces though (e.g. namepsace a::b {}), so you'd want to avoid using the insiders if your code uses nested namespaces). If you have more repro details on what case is failing we can look into fixing it.

[2019-10-05 11:24] Novakov commented on #4375
@sean-mcmanus OK, thanks for the link. I will try to reproduce my issue in more controlled manner and create new issue if it will be unrelated to the one you metioned.

[2019-10-05 13:45] abdullahwaqar commented on #4386
I can confirm this as it is taking all the swap memory too and the version i have is not even the insider version.

[2019-10-05 14:18] gabeluci commented on #4339
You say that "terminal gdb is fine", but when you try in terminal GDB, are you setting breakpoints _before_ you run, like VS Code is doing? Try this in terminal GDB:

[code]

You might find that it fails there too. If it does fail, then I wonder if setting the breakpoints _after_ starting execution works differently. Give that a try:

[code]

[2019-10-05 14:24] enbyted commented on #4386
Any Idea which version doesn't have this bug? I've tried 0.25.0, 0.25.1, latest insiders and all of them cause the same problem in my project.
Strange thing is that this started happening few hours after updating to 0.26.0-insiders2 and I can't correlate this to any code change during that time.

My details:

 - OS: Ubuntu 19.04
 - VS Code: 1.39.0-insider
 - Using vector-of-bool cmake tools as con

[2019-10-05 15:21] gabeluci opened #4392 "[MinGW] "break main" fails to create a breakpoint in specific scenarios, preventing execution"
Type: Debugger

- OS and Version: Windows 10.0.17763
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1

This is not technically VS Code's problem, but hear me out.

When starting to debug, VS Code issues the `break main` command to GDB to set a breakpoint at the `main()` function before it runs (even when `stopAtEntry` is `false`).

In some rare cases, execution stops with:

But the outp

[2019-10-05 15:34] Finkman commented on #4386
so maybe using CMake is one thing we all have in common.
Maybe the bug come from an incompatibility with cmake (ep the cmake extensions) and therefore is also entertaining us when rolling back to a previous version of the c/cpp extension...
(Just thinking out loud)

[2019-10-05 15:36] ArekSredzki commented on #4386
I use Bazel so I don’t think that CMake is relevant

[2019-10-05 19:29] xmkg commented on #4386
I got the same problem too, eats up all of available ram in seconds.

My details:

OS: Debian Sid
VS Code Details:
- Version: 1.39.0-insider
- Commit: c8252b63f547674d2faf361d4181bb76b0b5f81a
- Date: 2019-10-04T09:24:45.417Z
- Electron: 4.2.10
- Chrome: 69.0.3497.128
- Node.js: 10.11.0
- V8: 6.9.427.31-electron.0
- OS: Linux x64 4.19.0-4-amd64

VS Code Extensions:
- Arduino 0.2.27
- Ayu (theme) 0.

[2019-10-06 09:48] fguilleme commented on #3369
Basically the same when I try to debug darktable

[2019-10-06 20:07] jabaa commented on #1139
I'm working on a system with 8 GB memory. The current project includes

Poco/1.9.4@pocoproject/stable
boost/1.69.0@conan/stable
fmt/5.3.0@bincrafters/stable

with Conan and builds with CMake. Intellisense reserves enough resources to freeze the whole system for over 30 minutes. After this time I can start to try to kill. It's still difficult to login into a new terminal because the login process o

[2019-10-07 02:29] Gargony commented on #3270
Yes I have the same

[2019-10-07 02:30] Gargony commented on #3270
I mean this:
vscode-cpptools UI:
![image](https://user-images.githubusercontent.com/9786086/66281336-1345b100-e8e5-11e9-8fb3-24dc917e318d.png)

CMake Tools:
![image](https://user-images.githubusercontent.com/9786086/66281345-1e98dc80-e8e5-11e9-9a6d-b230a680b7e6.png)

[2019-10-07 07:07] TinBryn opened #4393 "false error accessing member of element of array of anonymous struct inside a struct"
Issue Type: <b>Bug (corner case)</b>

I have a struct of the form similar to this
`
struct foo {
    struct {
        int bar;
    } bars[24];
};
`

I'm accessing a `bar` with `f.bars[i].bar;` but it shows the error "expression must have pointer-to-object type". But the code compiles fine regardless.

As it is an anonymous inner struct I don't see a way to break this expression up, and I don't hav

[2019-10-07 07:53] tanffn commented on #3786
Using Version 0.26.0-insiders2 The issue still persists
It does (re)open the file but with all caps.

[2019-10-07 09:17] melhior61 commented on #4239
@pieandcakes Thank you very much for your response!!! The setting ("avoidWindowsConsoleRedirection": true) really helped, right now I can start debugging from the internal console. Thank you very much!

However, unfortunately, right now there seems to be another problem:(
Namely, the application being debugged does not deliver any output (OUTPUT tab of the terminal fpr "C/C++") with the following

[2019-10-07 09:37] anatolyburakov commented on #4073
@sean-mcmanus i've created one myself: https://github.com/microsoft/vscode-remote-release/issues/1623

[2019-10-07 09:55] karan-k-deepr commented on #296
@sean-mcmanus VC showing progress bar running continuously while renaming a variable. Sometimes this case happens immediately, and sometimes it works fine. 🤔
When the progress bar is running continuously then I have to restart the full VC code to work it again.
Getting Error: `Connection to server got closed. Server will not be restarted.`

[2019-10-07 14:23] TrayfourYu commented on #35
Hello,im wondering whats the meaning of *"/usr/bin", "/bin/sh", "/usr/bin/gdb"*.would like to help me out? and i will really appreciate it.

[2019-10-07 17:02] iazzam opened #4395 "Status bar C/C++ extension field no longer shows function name"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04.3 LTS
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.26.0-insiders2
- Other extensions you installed (and if the issue persists after disabling them): Astyle, Go, vscode-proto3. Issue persists after disabling all other extensions.
- A clear and concise description of what the bug is.
The status bar used to show

[2019-10-07 17:55] bobbrow commented on #4395
This is actually expected.  We removed our custom UI and are now using the common "breadcrumbs" UI provided by VS Code which is at the top of the file just under the tab name.

![image](https://user-images.githubusercontent.com/12818240/66335847-b5b76180-e8f0-11e9-855c-2c925c9e4e4f.png)

The following settings control its appearance:

![image](https://user-images.githubusercontent.com/12818240/663

[2019-10-07 18:21] sean-mcmanus commented on #4393
I'm not able to repro that error. Can you give more info on your configuration, such as from C/C++: Log Diagnostics?

[2019-10-07 18:23] jin-qin commented on #4359
FYI

[code]

[2019-10-07 18:39] sean-mcmanus commented on #4386
@abdullahwaqar We're not aware of any issue like this with 0.25.1, so setting C_Cpp.updateChannel to "Default" is the recommended workaround until we can get a fix (probably later today). Maybe VS Code is still using the insider version? Or if you manually switched to 0.25.1 without changing the updateChannel setting, it could be auto-updating back to 0.26.0-insiders2. If it really does repro with

[2019-10-07 18:44] Finkman commented on #4386
@sean-mcmanus for me, switching back to 0.25.1 is fine.

[2019-10-07 18:47] sean-mcmanus opened #4396 "No compiler in config UI with VS build tools"
I mean this:
vscode-cpptools UI:
![image](https://user-images.githubusercontent.com/9786086/66281336-1345b100-e8e5-11e9-8fb3-24dc917e318d.png)

CMake Tools:
![image](https://user-images.githubusercontent.com/9786086/66281345-1e98dc80-e8e5-11e9-9a6d-b230a680b7e6.png)

_Originally posted by @Gargony in https://github.com/microsoft/vscode-cpptools/issues/3270#issuecomment-538818848_

[2019-10-07 18:48] sean-mcmanus commented on #3270
@Gargony I created a new issue to track the compiler dropdown missing entries: https://github.com/microsoft/vscode-cpptools/issues/4396 .

[2019-10-07 18:58] sean-mcmanus commented on #296
@karan-k-deepr "Connection to server got closed" means our main process has crashed. We have some known crashes we plan to fix in our pending 0.26.0-insiders3. By "progress bar" do you mean the progress bar in the document or the progress in the bottom right? If the rename side panel is open, then the progress bar in the document is expected until the rename is confirmed.

[2019-10-07 20:22] BastianBlokland opened #4397 "Intellisense reports diagnostic on lambda to std::function conversion"
**Type: LanguageService**

**Describe the bug**

- OS and Version: Macos `10.14.6 (18G103)`.
- VS Code Version: `1.38.1`.
- C/C++ Extension Version: `0.26.0-insiders2` & `0.25.1` (without other plugins).
- Compiler:
[code]

Intellisense reports diagnostic on lambda to `std::function` conversion.

In the following program a diagnostic is reported.
[code]
Reported diagnostic:  `no suitable user-defi

[2019-10-07 20:48] enbyted commented on #4386
@sean-mcmanus
for me installing the -insiders2 version triggered the bug and downgrading (with updateChannel on Default) doesn't fix the issue.

Though the same codebase in non-insider vscode with 0.25.1 cpptools doesn't repro (this one has never seen -insiders2).

Something is persistent here somehow. It's a normal - local - workspace with cmake c++ project and two ReactJS / typescript projects.

[2019-10-07 20:57] sean-mcmanus commented on #4397
I wasn't able to repro this with Mac clang 11.0 (based on clang 8), so it could be specific to the non-Xcode clang 9.0.

[2019-10-07 21:42] sean-mcmanus commented on #4397
I was able to get the repro, but in order to get stdlib.h to be found, I had to add the XCode's path to /usr/include. Do you know how you configured your compiler to get the correct path to stdlib.h? When I do C/C++: Log Diagnostics, the includes shows:
[code]
Is yours different?

[2019-10-07 22:08] BastianBlokland commented on #4397
Thanks for looking into this, i forgot to mention i have these env args set:
[code]

C/C++: Log Diagnostics is the same for me (full log is in the folded section of the op):
[code]

Here's the output of `/usr/local/opt/llvm/bin/clang++ main.cpp --verbose`
[code]

[2019-10-07 22:08] RichardEWillis commented on #811
@Maratk1n

If running Visual Studio Code on windows and accessing Linux on WSL then the "sourceFileMap" should be changed to:
"/build/glibc-LK5gWL": "C:\\Users\\<<user>>\\AppData\\Local\\Packages\\CanonicalGroupLimited.UbuntuonWindows_<<something>>\\LocalState\\rootfs\\usr\\src\\glibc"

or similar. The above is for Ubuntu.

This change worked for me. The linux styled path in the OP was confusing t

[2019-10-07 22:13] BastianBlokland commented on #4397
I believe the `stdlib.h` was added to `/usr/include` by running `xcode-select --install`, but i'm not 100% sure.

[2019-10-07 22:35] xmkg commented on #4386
0.25.1 works fine for me too. had to disable plugin auto-update feature.

On Mon, 7 Oct 2019, 21:39 Sean McManus, <notifications@github.com> wrote:

[2019-10-07 22:35] sean-mcmanus commented on #4397
Thanks for the info. I got repro using VS. I've reported the bug at https://developercommunity.visualstudio.com/content/problem/763979/cc-intellisense-errors-with-clang-90-functional-no.html .

[2019-10-07 22:54] sean-mcmanus commented on #4359
Yeah, something is causing the database creation to fail (turns out we don't log a user-visible message in that case). I got a repro via denying permissions to the database folder. Can you double-check that you have access to the database and can create files at the databaseFilename location?

We've made some fixes for our pending 0.26.0-insiders3 that should fix the crashing, but you'll see "Init

[2019-10-07 23:04] sean-mcmanus commented on #4386
@enbyted VS Code may be caching the insider extension version? If you do a Reload Windows does it show "0.25.1" as the C/C++ extension.

[2019-10-07 23:29] enbyted commented on #4386
@sean-mcmanus Yes it does. I've tried reloading, restarting, rebooting. It's weird, cause I can't duplicate the issue on another machine.
I'll try purging and installing vscode-insiders again, maybe that'll clear whatever got stuck for me.
Seems like some random problem, not really related to this issue, or caused by it, no idea. In any case, I've got working non-insiders vscode, so it's not a big

[2019-10-08 00:51] sean-mcmanus commented on #4388
This bug still repros. A simpler repro is
[code]

[2019-10-08 01:14] heartacker commented on #4262
Hi, after Manual installation  and "Rescan C/C++ intellisense data". IT WORKS 👍

[2019-10-08 02:34] jin-qin commented on #4359
Well, I believe I have the permission to create files, but I am not sure if I can access to the database, because I have never seen such a database file in the workspace.

[2019-10-08 02:40] TinBryn commented on #4393
Strange, I've tried restarting vscode a few times to see if that fixed it, but suddenly it actually fixed it.

If it comes back it's from my repo https://github.com/TinBryn/CITS2002-SIFS-2019 in library/mkdir.c
and the header library/sifs-internal.h

I'm actively working on this, but the problem expression is `dirblock.entries[i].blockID`

[2019-10-08 02:43] sean-mcmanus commented on #4393
It could be an issue with a stale ipch (IntelliSense cache file) that went away after the incorrect cache file got updated.

[2019-10-08 03:00] TinBryn commented on #4393
Sounds plausible, what would have triggered the cache to update? The issue went away when I closed an reopened the workspace, but not when I closed and reopened vscode.

[2019-10-08 03:00] kk9265 commented on #4339
It‘s very really appreciated for your prompt reply!  I use the command "gdb attach" for my debuging , which maybe like  VS Code doing. It can be fine when you delete all breakpoints, but it happens when you insert a breakpoint in your code. I wonder it's the problem that gdb rise a exception which occurred by epoll_wait, makes vscode insert a  breakpoint that cannot be insert, so the continue comm

[2019-10-08 05:52] Liuary opened #4399 "In vscode, after using template class, C++ can not use this pointer in function implementation, and can not directly create function implementation through domain function."
Issue Type: <b>Bug</b>

Create the following classes：
[code]

VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enable

[2019-10-08 07:07] DelphianOracle opened #4400 "0.26.0-insidersX freezes my laptop"
Now I 'm use 0.25.1 and it works fine, but after update to 0.26.0-insidesX version, Microsoft.VSCode process which uses cpp extension, consumes all available resources, even the mouse cursor stops moving (12gb ram and CPU i5-4200U).

PS:
cat /etc/issue
Ubuntu 18.04.3 LTS \n \l

[2019-10-08 08:22] karan-k-deepr commented on #296
@sean-mcmanus Today I tried several times but got this error again after some trial. And progress bar at the upper side of window, Also it doesn't open any rename window this time.
![image](https://user-images.githubusercontent.com/35223688/66379320-33c44880-e983-11e9-9693-1fd577c3189f.png)

I believe it is something related to the parsing of files because I can see it is printing some lines withi

[2019-10-08 10:08] vlkv commented on #4400
Me too. Please fix this ASAP.
![vscode_eats_all_memory](https://user-images.githubusercontent.com/146375/66387269-4f077600-e9cc-11e9-809a-b6346539fc5b.png)

C/C++ for Visual Studio Code Change Log
Version 0.26.0-insiders2: October 3, 2019

Version: 1.38.1
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:30:08.229Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.

[2019-10-08 10:17] iiropeltokangas commented on #4078
I would also find it very helpful to find all base class references when using "Find All References" on a derived class' function, i.e.  the OP's example, when using the feature on BarTask::Sync, I would like to see all references to Task::Sync as well.

[2019-10-08 10:25] vlkv commented on #4400
Oh, this issue is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/4386

[2019-10-08 12:21] liquid245 commented on #3829
Same problem.

[2019-10-08 12:41] gabeluci commented on #4339
I see. Still, can you try in GDB directly?

I believe this is more an issue with GDB and your build than with VS Code. VS Code is just telling GDB to set a breakpoint. GDB says "ok, I can do that", then when it comes time to actually mark the breakpoint, GDB reports that it cannot access the memory address where that instruction is.

So you would do something like this from the terminal (where "pi

[2019-10-08 12:59] tjohnsonhvac commented on #429
+1 for armhf

[2019-10-08 14:14] Euruson commented on #4325
It turned out that the integrated console is not compatible with mingw32.
The integrated console works fine with mingw64.

[2019-10-08 15:13] #4395 closed, assigned to nobody

[2019-10-08 16:39] bobbrow commented on #4400
Yes, we plan to release an update today with the fix.  We're sorry for the inconvenience!

[2019-10-08 16:52] daravi commented on #4386
Same here. On CentOS 7 and disabling auto-update on 0.25.1 has solved it so far. (hi @ArekSredzki!)

[2019-10-08 17:50] Colengms commented on #4399
Hi @Liuary .  Using the code below, I do see suggestions.

[code]

This is the same code you posted, with a couple syntax corrections.  Specifically, the semicolon at the end of the class declaration, and the return type and template arg in the function implementation.

[2019-10-08 17:59] Colengms commented on #4311
@PDostalek Tagging you as FYI that this issue is still open.

[2019-10-08 18:00] Colengms commented on #4310
@PDostalek Tagging you as FYI that this issue is still open.

[2019-10-08 18:00] Colengms commented on #4309
@PDostalek Tagging you as FYI that this issue is still open.

[2019-10-08 18:00] Colengms commented on #4308
@PDostalek Tagging you as FYI that this issue is still open.

[2019-10-08 18:00] Colengms commented on #4276
@PDostalek Tagging you as FYI that this issue is still open.

[2019-10-08 20:17] #4400 closed, assigned to nobody

[2019-10-08 21:02] darktears commented on #1211
I (and the rest of the Chromium community) would really love this!

[2019-10-08 22:18] ghost commented on #3829
Just spent the last hour banging my head against the table trying to figure out what I was doing wrong and then I find this issue!

So add me to the list of effected users.

I'm on Catalina, VSCode 1.38.1, C/C++ extension 0.26.0-insiders2, Xcode 11 so all the default Apple clang, lldb, etc.

[2019-10-08 22:53] WardenGnaw commented on #4357
Duplicate of https://github.com/microsoft/vscode-cpptools/issues/3829

[2019-10-08 22:53] #4357 closed, assigned to nobody

[2019-10-08 23:26] WardenGnaw commented on #3829
This is an issue with the lldb-mi that the extension ships with.

A temporary work around would to be set your `miDebuggerPath` in your `launch.json` to `/Applications/Xcode.app/Contents/Developer/usr/bin/lldb-mi`

This workaround may have issues with debugging since there is a difference in the version cpptools extension releases and the version in Xcode.

[2019-10-09 00:27] sean-mcmanus commented on #4393
The cache would update after an edit to the header file. Closing and reopening the workspace should be identical to closing/reopening vscode. Let us know if you figure out a way to repro this in the future.

[2019-10-09 00:27] #4393 closed, assigned to nobody

[2019-10-09 00:45] sean-mcmanus commented on #4078
@iiropeltokangas That's how it should behave with 0.26.0-insiders2. Let us know if you're not seeing that.

[2019-10-09 00:56] sean-mcmanus commented on #296
@karan-k-deepr If you can attach a debugger to the crashing process to get a call stack or provide more repro details. 0.26.0-insiders2 has a known crash when a document is opened related to the Outline view, but we haven't been able to repro any crash involving rename yet.

[2019-10-09 02:30] sean-mcmanus commented on #4372
With 0.26.0-insiders3, it's still buggy when the utf-8 > 1 byte characters occur in non-comment identifiers before the comment, such as
[code]

[2019-10-09 03:32] sean-mcmanus opened #4407 "Canceling Find All References while an existing operation is "confirming" references on an open file can cause the results to show "Cannot confirm reference""
1. Find All References on something that takes a long time.
2. Find All References on something fast (i.e. local variable) while the previous operation is "confirming".

Another possible repro is to just to Cancel the operation while it's confirming results for an open file and then do the 2nd Find All References.

Bug: It shows the results for step 2 as "Cannot confirm reference" instead of confi

[2019-10-09 03:37] sean-mcmanus commented on #4386
The memory usage/crash problem is fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders3 .

[2019-10-09 03:37] #4386 closed, assigned to nobody

[2019-10-09 03:37] #4389 closed, assigned to nobody

[2019-10-09 03:39] sean-mcmanus commented on #4359
We've fixed the crashes with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders3 . Are you still seeing crashes? You should probably see "Initializing..." instead...not sure if that solves your issue of failing to create the database though.

[2019-10-09 05:27] ueoo commented on #3829
@WardenGnaw
Unable to start debugging. The value of miDebuggerPath is invalid.

[2019-10-09 06:43] infalmo commented on #3887
Any idea on how to manually correct this?

[2019-10-09 08:26] mdyring commented on #3829
Also seeing this. macOS Catalina and I need to install CodeLLDB extension to get things working.

[2019-10-09 09:02] tombenes opened #4408 "Remote-SSH: "Updating IntelliSense" (red flame) stuck (or taking very long), freezing whole IntelliSense"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 connecting with SSH to Red Hat Enterprise Linux Server 7.5
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): Remote-SSH, can't disable
- A clear and concise description of what the bug is.

IntelliSense functions like "go to defin

[2019-10-09 09:05] karan-k-deepr opened #4409 "Renaming symbol accepting special characters"
New renaming of symbol feature within version `0.26.0-insiders2` is accepting **special characters**, and after mistaken **press enter** to change symbol name. Then there is no possible way to undo the changes, then I have to traverse each and every file to manually to change the name.

[2019-10-09 09:07] liquid245 commented on #3829
@WardenGnaw Thx for solution! It's work for me.

[2019-10-09 09:20] liquid245 commented on #3829
@WardenGnaw no luck with work around, error like @hologerry have.

But I'v try to find some valid path using `sudo find / -name lldb-mi` have same error or:
`MI: Error: Driver. LLDB Debugger.
MI: Error: Driver Manager. Driver 'Machine Interface Driver Version: 1.0.0.9' (ID:'MIDriver') initialise failed. Driver. LLDB Debugger.`

paths:`
/System/Volumes/Data/usr/local/Cellar/llvm/9.0.0/bin/lldb-mi
/

[2019-10-09 09:21] floooh commented on #3829
@hologerry @WardenGnaw The workaround does not work for me either, there's no ```lldb-mi``` file anywhere in the Xcode11 application directory (only ```lldb```). I guess Xcode11 removed lldb-mi.

[2019-10-09 09:28] ueoo commented on #3829
The CodeLLDB extension will get this working.
@floooh @liquid245 Try this.

[2019-10-09 10:03] floooh commented on #3829
I have the CodeLLDB extension installed and do indeed use this as a workaround for debugging, but I don't understand how it makes the proposed workaround for the C/C++ extension work (I can't find a lldb-mi file in the CodeLLDB's extension directory either).

[2019-10-09 10:31] ueoo commented on #3829
@floooh
With CodeLLDB, no need for `lldb-mi` any more, just config the `launch.json` as the repo's [readme](https://github.com/vadimcn/vscode-lldb) says.

[2019-10-09 11:06] gentooise commented on #4269
Thanks for the hint. I tried your approach, but it is partially working for me. It is ok for `C_Cpp.default.systemIncludePath`, but not for `C_Cpp.default.defines`.

In particular, I'm using `C_Cpp.default.systemIncludePath` and `C_Cpp.default.defines` in place of  `compile.bat`, and I also set `"C_Cpp.default.compilerPath": ""` to avoid further compiler queries.

However, according to [this](http

[2019-10-09 15:02] LoveGlitchCoffee opened #4410 "Monaco stylesheet incorrectly overriding Theme colouring"
Type: General

**Describe the bug**
- OS and Version: MacOXS
- VS Code Version: 1.38.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): Oblivion++, C#, CMake Tools, Clock in Status Bar, Docker, Doxygen Documentation Generator, Emacs Friendly Keymap, GitLens, Markdown, Todo Tree, YAML. Problem persist even with only C++ and Oblivio

[2019-10-09 15:23] ghost commented on #3829
@WardenGnaw My (clean) install of Catalina with Xcode only has lldb not lldb-mi

[2019-10-09 15:57] bobbrow commented on #4409
We will fix this before the official release.  Thanks for reporting it!

[2019-10-09 17:27] Colengms commented on #4410
Hi @ParityB1t .  The colors applied by IntelliSense are due to a feature called 'semantic colorization'.  Theming documentation for semantic colorization can be found [here](https://code.visualstudio.com/docs/cpp/colorization-cpp).  Since semantic colorization requires some new theme 'scopes', it's possible the colors in some themes are not ideal.  You can customize the colors, or disable the feat

[2019-10-09 17:35] Colengms commented on #4409
Rename in TypeScript appears to accepts special characters as well (and applies them).  Perhaps that would be a VS Code issue?  Also, renaming does not save changes, it opens modified files in an unsaved state.  Undo/Control-Z will undo a rename, or the modified files can be closed without saving.

[2019-10-09 17:53] michelleangela commented on #4408
@Cansisti , can you [enable logging for the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server) and share the logs of the repro?

[2019-10-09 18:08] LoveGlitchCoffee commented on #4410
perfect explanation. thank you

[2019-10-09 18:08] #4410 closed, assigned to nobody

[2019-10-09 19:04] jabaa commented on #1139
It seems that the new update 0.26.0-insiders3 fixed the problem. My machine doesn't freeze anymore and I can work with that project again.

[2019-10-09 19:14] #4390 closed, assigned to nobody

[2019-10-09 19:18] sean-mcmanus commented on #4302
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders3 . Let us know if you're still seeing frequent crashes with that.

[2019-10-09 19:19] sean-mcmanus commented on #4400
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders3 .

[2019-10-09 19:19] sean-mcmanus commented on #4376
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders3 .

[2019-10-09 20:00] ciphax commented on #3829
I found a workaround:
- Download Xcode 10.3 from [here](https://developer.apple.com/download/more/) and extract it somewhere
- Set `miDebuggerPath` in your `launch.json` to `PATH_TO_XCODE.app/Contents/Developer/usr/bin/lldb-mi` as [suggested](https://github.com/microsoft/vscode-cpptools/issues/3829#issuecomment-539746166) by @WardenGnaw

[2019-10-09 21:38] jxramos commented on #3733
@sean-mcmanus , would this be the correct syntax to adopt?

[code]

[2019-10-09 22:13] sean-mcmanus commented on #3733
@jxramos `${default}` needs to be `"${default}"`.

[2019-10-09 22:17] #4362 closed, assigned to nobody

[2019-10-09 23:01] michelleangela commented on #2578
Closing this issue due to long inactivity. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-10-09 23:01] #2578 closed, assigned to WardenGnaw

[2019-10-09 23:26] flip111 opened #4411 "extension opens system header instead of project header"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 19.04
- VS Code Version: 1.33.1
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): antlr4

I opened this folder in vscode `/home/flip111/spksrc/distrib/gcc-9.2.0`. I saw that this folder was created `/home/flip111/spksrc/distrib/gcc-9.2.0/.vscode`.

When i look

[2019-10-09 23:53] WardenGnaw commented on #3829
We are aware of issues on macOS Catalina and the version of lldb/lldb-mi that comes bundled with the extension. The current workaround is to point `miDebuggerPath` to `lldb-mi` shipped in Xcode 10.3 ([Thank you @kegato](https://github.com/microsoft/vscode-cpptools/issues/3829#issuecomment-540165923)!). If you upgrade to the latest Xcode, they have stopped shipping `lldb-mi` and you will not be abl

[2019-10-10 00:56] sean-mcmanus commented on #4411
Are you using Go to Def on the `#include <obstack.h>`? If so, then it's bug https://github.com/microsoft/vscode-cpptools/issues/2564 .

Otherwise, can you run C/C++: Log Diagnostics and look what the includePath is being used and see if the paths are correct?

[2019-10-10 01:39] flip111 commented on #4411
I use it on `chunkfun` in

https://github.com/gcc-mirror/gcc/blob/gcc-9_2_0-release/libiberty/obstack.c#L92

[code]

[2019-10-10 02:09] sean-mcmanus commented on #4411
Your includePath doesn't include any workspace folder path. What is your workspace folder? The "${workspaceFolder}/**" will only recursively find headers that are under that path -- is the header in a parent path of the workspace folder?

[2019-10-10 04:40] xahon opened #4413 "Signature popup not opening without arguments"
**Type: LanguageService**

Signature popup won't open if you just opened a parenthesis.
[code]
Note: the second line has invalid parameter type `string`, deque doesn't have any like that

**Describe the bug**
- OS and Version: Ubuntu 18.04.3
- VS Code Version:
Version: 1.39.0-insider
Commit: c8252b63f547674d2faf361d4181bb76b0b5f81a
Date: 2019-10-04T09:24:45.417Z
Electron: 4.2.10
Chrome: 69.0.3497.

[2019-10-10 09:13] karan-k-deepr commented on #4409
I tried with Visual Studio 2017 rename functionality. It blocks the user to insert a dot(.), comma(,) etc in the renaming of a symbol. Also, we have to be careful while closing other opened files, we might lost some of our important work. Even if renaming accepts some restricted special characters, there should be a clean way to revert changes.
I really like this feature though 😃 .

[2019-10-10 09:39] tombenes commented on #4408
Hey @michelleangela, thanks for your response.
It looks like today's patch 1.39.0 fixed the performance issue, but other, strange thing happens:
- Sometimes, instead of finding proper symbol, F12 shows a list of hundreds same symbols (like it it not context aware, even if engine is set to default and tag parser fallback is disabled).
- It's able to find the same symbol in one place, but few lines

[2019-10-10 10:12] jryans commented on #4302
Seems to be fixed for me with 0.26.0-insiders3, thanks a bunch! 😄

[2019-10-10 10:19] gerekon commented on #941
Would be nice feature

[2019-10-10 10:20] gerekon commented on #206
Please add

ASM window
Memory window
Register window

[2019-10-10 10:39] PDostalek commented on #4347
Many thanks !

[2019-10-10 10:39] #4347 closed, assigned to nobody

[2019-10-10 10:49] flip111 commented on #4411
Hi @sean-mcmanus i don't really understand what you are saying. You say my includePath doesn't include a workspace folder path. But i see in the logs:

[code]

`${workspaceFolder}/**` looks like a workspace folder path to me. Do you mean a path additionally to this path?

I was assuming that `${workspaceFolder}` would be the directory which the `.vscode` directory is located which in my case is `/

[2019-10-10 11:12] greblus opened #4414 "Intellisense update takes forever with ranges-v3 (with high CPU usage)."
After installation of ranges-v3 headers for my C++ project updating of Intellisense takes forever
with a very high CPU usage. I tried it on Linux and Windows, both with VS Code version 1.39.0, cpptools 0.26.0-insiders3.

My only workaround for now to keep VS Code somewhat usable is to remove ranges-v3 from include path and compile the project by hand with -I compiler flag pointing to ranges header

[2019-10-10 13:33] TH3CHARLie opened #4415 "Incorrect Syntax Highlight with std::filesystem"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS Mojave 10.14.6
- VS Code Version: 1.39.0
- C/C++ Extension Version: 0.26.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is.

After aliasing the std::filesystem namespace, using the alias to call constructor leads to incorrect

[2019-10-10 16:28] bobbrow commented on #4414
Ranges v3 has definitely caused IntelliSense some trouble in the past (see: https://developercommunity.visualstudio.com/content/problem/396030/vs2017-v1593-c-intellisense-is-very-slow.html).  We use the same engine as Visual Studio 2019, so I expected most of the performance issues to be fixed.

One of the suggestions is to use the [range-v3-vs2015](https://github.com/microsoft/Range-V3-VS2015) fo

[2019-10-10 16:34] bobbrow commented on #4411
Does your compiler exist in the `/home/flip111/spksrc/distrib/gcc-9.2.0` folder?
(for example: `/home/flip111/spksrc/distrib/gcc-9.2.0/bin/g++`)

If it does, you should change the `"compilerPath"` to point to it instead of using `/usr/bin/clang`.

[2019-10-10 16:43] bobbrow commented on #4413
Some background on this particular issue can be found here: https://en.wikipedia.org/wiki/Most_vexing_parse

It is recommended to use `{}` for passing parameters to the constructor.  The extension should do the right thing when you use `{}` instead of `()`

[2019-10-10 16:58] michelleangela commented on #4408
If VS Code 1.39.0 fixed the performance issue, then it seems like the issue was VS Code related and not caused by the C/C++ extension.

As for the following:

Are there any info from the language server logs of what operations the language server is doing and what the responses are? If it doesn't seem like IntelliSense is not context aware, then it may not be responding or could have shut down.

C

[2019-10-10 17:16] Colengms commented on #4409
@karan-k-deepr .  A rename is part of the undo/redo stack. You should be able to undo a rename operation by issuing an Undo.

[2019-10-10 17:19] bobbrow commented on #4177
I cloned the repo and did Peek References on `wav_header`.  Like @sean-mcmanus says, it's fast if the files to confirm are already loaded.

![minimp32019-10-1010-08-58](https://user-images.githubusercontent.com/12818240/66590792-666a6e80-eb46-11e9-8fe9-01b163687066.gif)

If I add an additional reference in a new file, it slows down because we have to compile that extra file.

![minimp32019-10-1010

[2019-10-10 17:19] #4177 closed, assigned to nobody

[2019-10-10 17:27] Colengms commented on #4415
Hi @TH3CHARLie .  Thanks for letting us know.  :)

[2019-10-10 18:00] BastG57 opened #4417 "can't find headers files C++ during compilation"
Hi,
I swear i've spend A DAY searching for it, but I cant find a solution (even in past issues) so i'm now searching for help
To be clearer here is what the concerned file tree looks like :
[code]
I want to compile Server.cpp (where my main function is), which includes Sensor.h, but I keep getting the same error message at the compilation (Using code runner and g++, windows 10 x64)

Ive tried all

[2019-10-10 18:13] michelleangela commented on #4417
The C/C++ extension does not compile code but provides IntelliSense or code editing features.

How are you trying to build? Are you using `tasks.json`, via command line, or some other method?

If you're using a task in `tasks.json` to build your code, such as this [build task example](https://code.visualstudio.com/docs/cpp/config-mingw#_create-a-build-task), does it specify the required source and

[2019-10-10 18:18] bobbrow commented on #4246
I don't see any errors with StringRef.h with 0.25.1 or 0.26.0-insiders3 on my MacBook.  I was on the llvm subfolder though since I didn't find instructions to get CMake configured for the lldb project.

[2019-10-10 18:20] michelleangela commented on #4417
I missed the part that you're using "code runner" for compilation. I would try posting your build issue at  [code runner issues page](https://github.com/formulahendry/vscode-code-runner/issues) and provide them with any "code runner" related configurations.

[2019-10-10 18:41] destenson opened #4418 "Excessive resources used by C/C++ extension"
Issue Type: <b>Performance Issue</b>

Open a large project with >150k source files and this extension uses up to 50% of my CPU and ~40% of my hard drive's I/O constantly. When I disable the extension, the issue goes away.

Extension version: 0.25.1
VS Code version: Code 1.39.0 (9df03c6d6ce97c6645c5846f6dfa2a6a7d276515, 2019-10-09T06:58:03.188Z)
OS version: Linux x64 4.15.0-64-generic

<details>
<s

[2019-10-10 19:06] bobbrow commented on #4054
Closing this issue as we do not have enough information to make further progress on it.  We reverted the scoping for the clang format path which should address the machine scoping issue.  Please retry your scenario with the latest version of the extension and let us know if you continue to have issues.

Thanks!

[2019-10-10 19:06] #4054 closed, assigned to nobody

[2019-10-10 19:07] BastG57 commented on #4417
Thanks for suggestion, i've just tried to uninstall code runner, and compile directly with g++ from terminal, but I get the exact same error : (

[2019-10-10 19:31] michelleangela commented on #4417
Are you passing the the absolute path to the header file (Sensor.h) to the compiler arguments? Can you share the command line and arguments you're using?

[2019-10-10 19:32] vaiden commented on #3829
lldb-mi from XCode 10.1 seems to work as well, at least for c code.

[2019-10-10 19:58] p-i- commented on #3829
Could anyone hazard an approximate ETA on this fix?
If it's a few days I'll wait. If it's over a month I'll try CodeLLDB...

[2019-10-10 20:01] BastG57 commented on #4417
I tried somthing like that
D:/MinGW/bin/g++.exe -g c:\~FilePath\Server.cpp -o c:\~FileDestination\Server.exe
So I didnt mention Sensor.h, but I dont understand why I should! (Already included in Server.cpp needed library?)
That dosnt seems logical, I have like 10 different classes (with Inheritances) in the program,  so that means I should write them all?? And what happens when you have thousands

[2019-10-10 20:04] flip111 commented on #4411
There are no binaries distributed along with the source code of gcc. See https://github.com/gcc-mirror/gcc/tree/gcc-9_2_0-release

[2019-10-10 20:12] joelspadin commented on #3942
Do you have any examples for how to override colors in user settings? It would be nice if I could just copy colors from my theme into settings until this gets properly fixed.

I tried setting several of the scopes listed on https://code.visualstudio.com/docs/cpp/colorization-cpp in my remote machine's settings.json, but nothing changed. What I tried:

[code]

[2019-10-10 20:15] genericptr commented on #3829
Just read this thread and found out `lldb-mi` is missing in Catalina. Can we build/distribute a stand-alone copy of it?

[2019-10-10 20:16] bobbrow commented on #4411
Thanks for the update.  This is one of the tricky corner cases we face when we find includes with duplicate names.  You should be able to set priority on your local copy of the includes by adding `"/home/flip111/spksrc/distrib/gcc-9.2.0/include"` to the `"includePath"` array like this:

[code]

[2019-10-10 20:19] flip111 commented on #4411
Thanks @bobbrow that fixed it. May i note that this is not very intuitive, imo project files should get priority. The issue can be closed if wontfix. Or leave open to change priority of include files and/or add help information about this.

[2019-10-10 20:23] bobbrow commented on #4418
The extension is likely indexing your workspace and preparing a database when you first open the folder.  The CPU usage should go away after the extension completes.  You can reduce the CPU usage by setting the `"C_Cpp.workspaceParsingPriority"` setting to `"low"`.

[2019-10-10 20:47] michelleangela commented on #4417
When the header files you include in a source file (*.cpp) are not in the same folder as the source file that `#include` them, then the compiler will need to know the path to the included header files that are located in a different folder.

You specify include paths to the g++ compiler by using the `-I` include compiler option. For example:
[code]
You can also try to add the full path of the head

[2019-10-10 20:56] Colengms commented on #3942
Hi @ChaosinaCan .  Thanks for reporting this.  It looks like the failure to find the theme files may be causing semantic colorization to abort instead of proceed with what settings are available.  I will investigate.

Also, there are a number of scopes not included in the documentation (as they were existing scopes, not newly added), which would also need to be added in settings, as we are also re

[2019-10-10 21:06] BastG57 commented on #4417
It worked with -I ! Thank you I didnt know that ^^

[2019-10-10 21:21] #4417 closed, assigned to nobody

[2019-10-10 21:36] joelspadin commented on #3942
Already upvoted. Thanks!

[2019-10-10 21:43] bobbrow commented on #4296
This is to support a workaround.  I think the idea to add a systemDefines setting is a better way to approach this issue.

[2019-10-10 21:46] #4274 closed, assigned to nobody

[2019-10-10 21:53] bobbrow commented on #4076
We'll be addressing this with #4119

[2019-10-10 21:53] #4076 closed, assigned to nobody

[2019-10-10 21:54] #3976 closed, assigned to nobody

[2019-10-11 00:45] Colengms commented on #225
I believe this has been addressed.  Testing with HWND, I see that it auto-completes.

[2019-10-11 00:45] #225 closed, assigned to nobody

[2019-10-11 01:04] Colengms commented on #938
This issue is external to cpptools.  The TextMate grammar for C++ (in VS Code) is correctly identifying the token as `keyword.operator.alignof.cpp`.  It's up to the theme to apply a color to it.

https://github.com/microsoft/vscode/issues/80783 is tracking adding some C/C++ specific tokens to the default themes in VS Code.  I commented there about alignof, specifically.

Closing this issue.  If so

[2019-10-11 01:04] #938 closed, assigned to nobody

[2019-10-11 09:08] karan-k-deepr commented on #4409
I tried undo as well but it only works when rename happen within the file. But not when rename happened across multiple files. Example:
[code]

[code]

Now issue a rename of `test_me` to `test.me`. It will rename variable in `MyClass.h` and `MyClass.cpp`.
And when you issue an undo command (`Ctrl + Z`) then it will undo changes within the current open file, but not across all files.

[2019-10-11 11:17] gerekon commented on #3351
I have the same issue, but with opening regular file for writing. Debugging with GDB from command line works well.
Errno code is "No such file or directory".
I use Ubuntu 18.04

[2019-10-11 12:05] tombenes commented on #4408
[diagnostics_success.txt](https://github.com/microsoft/vscode-cpptools/files/3717423/diagnostics_success.txt)
[diagnostics_not_found.txt](https://github.com/microsoft/vscode-cpptools/files/3717424/diagnostics_not_found.txt)

Hey. I'm attaching two logs, one when F12 worked, and another when it showed "No definition found" on the same exact symbol, in the same file. I removed some paths, let me kno

[2019-10-11 12:24] PDostalek commented on #4308
Closing, thx

[2019-10-11 12:24] #4308 closed, assigned to Colengms

[2019-10-11 12:28] PDostalek commented on #4309
Closing, thx

[2019-10-11 12:28] #4309 closed, assigned to Colengms

[2019-10-11 12:32] PDostalek commented on #4310
perfect, closing

[2019-10-11 12:32] #4310 closed, assigned to Colengms

[2019-10-11 12:36] #4311 closed, assigned to Colengms

[2019-10-11 13:05] spinicist commented on #4315
Hi,

For posterity - I never did manage to fix this. I worked round it by using static instead of dynamic linking.

[2019-10-11 13:05] #4315 closed, assigned to pieandcakes

[2019-10-11 14:27] WSLUser opened #4419 "Create default tasks for building projects such as Windows Terminal in VS Code"
Currently you can build Windows Terminal and similar projects by using Visual Studio, but a default task for VS Code doesn't currently exist. Therefore I'd like to request an implementation made from the project's tutorial: https://devblogs.microsoft.com/cppblog/building-your-c-application-with-visual-studio-code/ to allow building C/C++ after installing the extension. Per https://github.com/micro

[2019-10-11 15:49] Byongsoo opened #4420 "Extension does not work with non-ASCII path"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro
- VS Code Version: 1.39.1
- C/C++ Extension Version: Version 0.26.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them):
![image](https://user-images.githubusercontent.com/56447120/66665350-53ac8280-ec89-11e9-8d72-b70b5022f506.png)
- A clear and concise description of what the b

[2019-10-11 17:32] Colengms commented on #620
Closing this old issue.  It's likely been addresse.

[2019-10-11 17:32] #620 closed, assigned to nobody

[2019-10-11 17:39] Colengms commented on #1964
This is a crasher from 1.5 years ago, with no activity since.  I assume this has been addressed.  Closing.

[2019-10-11 17:39] #1964 closed, assigned to nobody

[2019-10-11 17:41] Colengms commented on #1957
This issue appears to have been addressed.  Closing.

[2019-10-11 17:41] #1957 closed, assigned to nobody

[2019-10-11 17:43] Colengms commented on #1847
This appears to have been addressed.  There has been no activity in 1.5 years.  Closing.

[2019-10-11 17:43] #1847 closed, assigned to nobody

[2019-10-11 17:52] Colengms commented on #2516
This appears to have been addressed.  The example code no longer reports a problem.

[2019-10-11 17:52] #2516 closed, assigned to nobody

[2019-10-11 17:56] Colengms commented on #2972
Closing this crasher issue due to inactivity for the last 10 months.  If you're still seeing this issue, please let us know.

[2019-10-11 17:56] #2972 closed, assigned to nobody

[2019-10-11 17:59] Colengms commented on #2678
I believe this was addressed in 0.23.0.  From the change log:

* Change the `Disabled` value for `C_Cpp.errorSquiggles` to stop showing missing header squiggles. [#3361](https://github.com/Microsoft/vscode-cpptools/issues/3361)

* Add a new (default) value of `EnabledIfIncludesResolve` to `C_Cpp.errorSquiggles`, which only shows error squiggles if include headers are successfully resolved. [PR #34

[2019-10-11 17:59] #2678 closed, assigned to nobody

[2019-10-11 18:22] destenson commented on #4418
I've been using VS Code with this project for months and this behavior just started in the last week or so.

[2019-10-11 18:33] Colengms commented on #2665
Closing this due to inactivity for the last year.  If you're still seeing this issue, please let us know.

[2019-10-11 18:33] #2665 closed, assigned to nobody

[2019-10-11 18:38] Colengms commented on #3086
Closing due to inactivity (and because we're not getting reports of this issue with more recent versions).  If you are still seeing the issue, please let us know.

[2019-10-11 18:38] #3086 closed, assigned to nobody

[2019-10-11 18:40] Colengms commented on #3157
Closing because we believe this was fixed (by https://github.com/microsoft/vscode-cpptools/issues/3609 ).  If you are still seeing the issue, please let us know.

[2019-10-11 18:40] #3157 closed, assigned to nobody

[2019-10-11 18:55] Colengms commented on #1178
This looks to have been addressed.  Please let us know if this is still an issue.

[2019-10-11 18:55] #1178 closed, assigned to nobody

[2019-10-11 20:21] ranolfi commented on #2172
I'm having a problem where one specific macro defined in the linux kernel code is triggering an intellisense error:

The macro is `WARN_ON_ONCE` and everywhere it is used the error is the same. In one instance (in the file I'm working on), I ran the C preprocessor to figure out exactly what is triggering the error, and it seems to be the `__inline` statement:

![image](https://user-images.githubus

[2019-10-11 20:32] elcojacobs commented on #2972
I switched to ccls instead of cquery and have not had any issues recently. :)

[2019-10-11 20:34] kisielk commented on #3584
I have the same problem with a different compiler. I have `compilerPath` set to `/usr/local/bin/arm-none-eabi-g++` and also set `"macFrameworkPath": []` but it looks like the intellisense engine is still querying the default g++ compiler for its paths and putting those first.

I get the following in the debug log:

[code]
where ... is the contents of "includePath".

Interestingly though, I have
[c

[2019-10-11 22:57] sean-mcmanus commented on #4418
What process is using the CPU/IO? Is there a database or flame icon showing?

It's possible a symlink was added to your project that suddenly caused a big increase in file processing (see https://github.com/microsoft/vscode-cpptools/issues/3123 ).

0.25.1 shipped August 28th, so our extension should not have had a behavior change in the last week.

[2019-10-12 00:05] sean-mcmanus commented on #4408
I'm seeing memory usage being reported as 0 in the not_found case. That could mean the IntelliSense process crashed. `limitSymbolsToIncludedHeaders` is the default.

https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0-insiders3 has some known IntelliSense crashes fixed.

[2019-10-12 01:32] sean-mcmanus commented on #4420
Can you disable the "C++ IntelliSense" extension? That might be interfering with our "C/C++" extension.

[2019-10-12 02:22] sean-mcmanus commented on #2172
@ranolfi

We tracking support for the gnu versions at https://github.com/microsoft/vscode-cpptools/issues/2782 .

The error is caused by usage of "asm __inline" which is a gcc extension that our parser does not support.

[2019-10-12 02:48] cloudhan commented on #3347
For now, I just simply move the directory to a large drive and symlink it.

[2019-10-12 03:28] Ez2Mi opened #4421 "After the new update of vsc, C/C++ IntelliSense list doesn't display my variable in .cpp"
vscode version: 1.39
os: win10

After the new update of vsc, C/C++ IntelliSense list doesn't display my variable in .cpp.

still work in class
still work in .h

Didn't install new extensions.

example:

int main(){
    int ABC = 123;
    int CBA = A...         //IntelliSense list doesn't display ABC.
}

int func(){
    int ABC = 123;
    int CBA = A...         //IntelliSense list doesn't display A

[2019-10-12 03:31] Ez2Mi commented on #4421
![shot](https://user-images.githubusercontent.com/49085007/66694231-df52fd00-ece3-11e9-95b6-225f2d3865f8.PNG)

[2019-10-12 10:22] Ez2Mi commented on #4421
it's fine when i reinstall my vscode

[2019-10-12 10:22] #4421 closed, assigned to nobody

[2019-10-12 10:44] daandemeyer commented on #4415
I have similar issues in comments:

![image](https://user-images.githubusercontent.com/9395011/66700163-fc8cc900-eced-11e9-9ce2-362b55a8f338.png)

https://github.com/DaanDeMeyer/reproc/blob/2de7a05360d39d495942c48730c804623a5398f5/reproc/include/reproc/reproc.h#L205

I'm not actually using the C/C++ extension however. Do I have to make an issue in the main repository or does this repository also h

[2019-10-12 11:05] rustyx commented on #263
Install `libtinfo5`:

    $ sudo apt-get install libtinfo5

[2019-10-12 13:41] zeved commented on #429
this would be really really usefull as I just managed to install VS Code on a Jetson Nano but I can't use the C++ tools :(

+1 for ARM support

[2019-10-12 16:02] derast commented on #3888
I had faced a similar problem after update the extension.

1- Delete **.vscode/c_cpp_properties.json** file
2- Ctrl + Shift P and pick **C/C++ Edit configurations JSON**
3- Add yours paths to **includePath**

[2019-10-12 17:29] jemmy512 commented on #1786
@pieandcakes Is there any solution? LLDB also meets this problem, this is unacceptable

[2019-10-12 20:10] monkeycoder99 commented on #296
I'm using 1.39.0 full info from about below and I get the dancing document status with C++ RENAME bar on the left-hand-side. There's content in there that's valid (Pending Rename items and Candidates for Rename items). The problem is, I have no idea what to click or press to get anything to apply. Eventually, if I click in the document and press a key, everything goes away, but the rename NEVER wo

[2019-10-13 05:31] zhangyafeikimi opened #4422 "chs i18n improvement"
https://github.com/microsoft/vscode-cpptools/blob/master/Extension/i18n/chs/package.i18n.json
clang format被翻译成“clang 格式”, 建议保持英文不变.

".clang 格式文件", 应该是 ".clang_format 或者 _clang-format 文件", 这个参考这里:
https://clang.llvm.org/docs/ClangFormatStyleOptions.html
同时也参考英文的翻译:
https://github.com/microsoft/vscode-cpptools/blob/master/Extension/package.nls.json

[2019-10-13 06:55] PaoloZhang commented on #1342
Please Remove below lines：

"customLaunchSetupCommands": [
{ "text": "target-run", "description": "run target", "ignoreFailures": false }
],

[2019-10-13 13:41] Byongsoo commented on #4420
Hi sean-mcmanus,
I have uninstalled the "C++ IntelliSense" and re-started the VS code.
But result is same.

![image](https://user-images.githubusercontent.com/56447120/66716596-6dc19e80-ee0a-11e9-8606-d1839850d14c.png)

![image](https://user-images.githubusercontent.com/56447120/66716599-75814300-ee0a-11e9-9ac7-c2d148716c9a.png)

Heare is my "c_cpp_properties.json" file.

{
    "configurations": [

[2019-10-13 15:54] rustyx commented on #2887
[**clang-format 9**](https://releases.llvm.org/9.0.0/tools/clang/docs/ClangFormatStyleOptions.html) is out, with tons of new features.

Would be nice to have it bundled with the vscode cpp extension, to avoid the extra work of getting it and configuring it manually.

[2019-10-13 18:04] xmkg opened #4424 "Intellisense not working properly when template class is defined in cpp file (0.26.0-insiders3)"
**Type: LanguageService**

Intellisense failing to auto-complete in template class function definitions in cpp files when auto-complete target is included after template class declaration header file. This is hard-to describe, so let me illustrate instead;

Consider we have following header files

**foo.hpp**
[code]

**bar.hpp**
[code]
And I want to define foo class in cpp file, **foo.cpp**

**foo

[2019-10-13 19:02] mdmorar commented on #429
+1 for Nvidia Jetson Support for JetPack 4.2 and up
+1 for ARM64 support

[2019-10-13 19:43] Muntasir2001 commented on #1329
https://www.youtube.com/watch?v=xj-A3REo2SY

This video shows everything, about how to instal and use MinGW on windows

[2019-10-13 20:19] Muntasir2001 commented on #1329
When I try to build, I get this error. Can someone help me with this..?

/usr/bin/bash: F:MinGWbingcc.exe: command not found
The terminal process terminated with exit code: 127

[2019-10-14 06:26] tehKaiN commented on #2908
There's an extension for clang-tidy (https://marketplace.visualstudio.com/items?itemName=alesiong.clang-tidy-linter) but apparently it's incomplete (some TODOs) and discontinued (last update about year ago).

So, what's the decision for supporting linting in vscode-cpptools? Is it on the roadmap or should we rely on other extensions?

[2019-10-14 06:32] Lennon925 opened #4425 "Any way to remove menu "Find All References"？"
Hi Sean,
Currently I want to remove menu "Find All References" and register my own menu so that I can call cpptool "Find All References" to implement my own feature. Any way to remove this menu in cpptools code?

[2019-10-14 08:49] theFlyingCat04 opened #4426 "Go To definition jumps to the wrong definition when using a lambda as an argument in a function"
Hi there!

**Describe the bug**
- OS and Version: Linux Mint 19 (as well as inside a Cent OS docker image)
- VS Code Version: 1.30.1
- C/C++ Extension Version: ms-vscode.cpptools@0.26.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them): doesn't matter, bug is also reproducible with all other extensions disabled
- Description: When you use a lambda function

[2019-10-14 10:45] tombenes commented on #4408
Hey,
I'v updated extension to insiders version, and while it fixed the 0 memory usage issue, the old one is back.

* I'm working with pretty large file with many (190) includes, and everything works fine.
* After opening some other files or making changes to toe large one, red flame (actually white in insiders version) appears and everything seems to be blocked by "updating intellisense".
* Can't

[2019-10-14 10:57] tombenes commented on #4408
I'm almost sure that saving a file is what causes IntelliSense to freeze. Log after modifying releated header file:
[code]

[2019-10-14 13:00] rafaelchen commented on #664
it would be really useful feature :)

[2019-10-14 15:31] rianquinn opened #4428 "Highlight issue with "constexpr static""
**Type: LanguageService**
Highlighting

**Describe the bug**
- OS and Version: Any OS
- VS Code Version: 1.40.0
- C/C++ Extension Version: 0.25.1
- Other extensions you installed (and if the issue persists after disabling them): shows up with other extensions disabled
- A clear and concise description of what the bug is: The "constexpr" in "constexpr static" is not highlighted correctly.

**To Rep

[2019-10-14 15:41] bobbrow opened #4429 "switch Header/Source doesn't account for files.exclude"
If a header with the same name exists in multiple places in the workspace folder, the extension may not switch to the one you expect.  In the event that you attempt to work around this with the `files.exclude` setting, the extension won't actually take that into account for switch header/source.

Addressing #2635 might also improve this scenario without the need for `files.exclude` support.

[2019-10-14 15:51] bobbrow opened #4430 "Revisit the missing #include message/behavior"
When a header file is opened and a `#include` fails to resolve in a linked source/header (but not in the opened one), we disable squiggles and add a squiggle to the opened file.  This behavior confuses people and we should rethink how we do this.
* change it to a warning?
* show a warning icon somewhere in the UI?
* update the error message to be more prescriptive? (i.e. "open file [foo] and see w

[2019-10-14 16:59] michelleangela commented on #296
@monkeycoder99, if you hover over the "PENDING RENAME" title menu bar, controls for the rename list will appear, see screenshot below. Use the checkmark button to commit or apply pending rename items. Editing a file will cause rename to cancel automatically.

The rename view container will only appear if there are other references results or non-confirmed references like a string reference. If you

[2019-10-14 17:08] monkeycoder99 commented on #296
Thanks. When I hover, I can see some useful tooltips but in dark mode, these buttons are invisible.
![vscode rename (3)_LI](https://user-images.githubusercontent.com/35289977/66769790-d476a480-ee6a-11e9-9918-a7009c81f916.jpg)

[2019-10-14 17:11] michelleangela commented on #4420
Can you run the command `C/C++: Log Diagnostics` to verify the actual values from c_cpp_properties.json that are given to the language server?

[2019-10-14 17:20] Colengms commented on #4428
Hi @rianquinn .  Syntactic colorization is provided by VS Code using TextMate grammar.  The C/C++ extension adds semantic colorization as a layer over VS Code's syntactic colorization.  An easy way to rule out semantic colorization is to set `C_Cpp.enhancedColorization` to `Disabled` and see if the issue still repros.  This issue does, so appears to be with syntactic colorization.

VS Code's TextM

[2019-10-14 17:21] rianquinn commented on #4428
I think this is a general issue with highlighting as this seems to happen regardless of the keywords and more about the total number of decorators a function might have. For example:

![image](https://user-images.githubusercontent.com/5932003/66770348-ed9d4680-eea6-11e9-9035-a342f0c6f607.png)

![image](https://user-images.githubusercontent.com/5932003/66770395-0dcd0580-eea7-11e9-85de-acf75daddaed.

[2019-10-14 17:22] michelleangela commented on #296
@monkeycoder99 , I am not able to repro the issue of the buttons being invisible on dark theme with 0.26.0-insiders3. Is there a particular theme you're using that could be causing this? Can you verify if the buttons are also invisible for other dark themes?

[2019-10-14 17:33] michelleangela commented on #4422
Filed an internal issue for localization team to consider this improvement and update the string.

[2019-10-14 17:41] rianquinn commented on #4428
https://github.com/jeff-hykin/cpp-textmate-grammar/issues/398

[2019-10-14 17:54] Colengms commented on #4424
Hi @mustafakemalgilor .  Thanks for reporting this.

I'm able to repro in VS, with gcc IntelliSense Mode.  (VS and the VS Code C/C++ extension share some common code for IntelliSense).

I've opened a bug against VS here for tracking:  https://developercommunity.visualstudio.com/content/problem/776487/incorrect-intellisense-in-clang-or-gcc-mode-with-t.html

[2019-10-14 18:01] RogFedex opened #4431 "Dim Inactive region not working"
Issue Type: <b>Bug</b>

Would expect the inactive regions are dimmed correctly based on definitions included in file that are forcedinclude

Extension version: 0.26.0-insiders3
VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(T

[2019-10-14 18:04] Colengms commented on #4425
Hi @Lennon925 .  We are not modifying the menu directly.  I believe Find All References appears in the context menu as a result of there being an Extension for that file type that either has registered a ReferenceProvider or has indicated that it supports the operation via the Language Server Protocol.  I'm not aware of a good way for you to patch this feature in one Extension using another Extens

[2019-10-14 18:08] Colengms commented on #4431
Hi @RogFedex .  In a simple example, inactive regions appear to be working as expected.

![image](https://user-images.githubusercontent.com/49173979/66773010-e0666480-ee72-11e9-8ce3-4ba0b0b0df16.png)

Can you provide an example?  Perhaps incorrect inactive regions are the symptom, and there is a configuration issue preventing the expected defines?

[2019-10-14 18:16] Colengms commented on #4415
Hi @DaanDeMeyer .  If not using the C/C++ Extension, I would suggest reporting the issue in the main VS Code repo: https://github.com/microsoft/vscode

[2019-10-14 18:32] monkeycoder99 commented on #296
I tried to disable all theming I could find. Besides the built in theme support in settings, I also had One Dark Pro (but disabled it). I've included a couple additional SS below. The first two are light and dark themes while hovering the mouse over a bar in the Explorer pane (built-in). The last is hovering the mouse of the Pending Rename bar for C++ Rename pane. Explorer pane buttons work/are vi

[2019-10-14 18:56] RogFedex commented on #4431
Hi,

It was working fine for me too but lately I’m seeing some issues after adding configurations forcedInclude in c_cpp_properties.json file with the location of header file where the definitions are included.. The definitions exit in multiple location across workspace and I would like to use the definition from specific header file and that is what I have added in forcedInclude. When I search fo

[2019-10-14 19:23] Colengms commented on #4431
If there is a #else and code on neither side is dimmed, that would seem to point to IntelliSense failing to parse the file.  Is it possible that one or more of the forcedInclude's is not being found?  Or, are there any squiggles prior to the code expected to be dimmed that might refer to a earlier issue (include not found?) preventing the rest of the file from being processed?

Can you distill the

[2019-10-14 19:41] Colengms commented on #892
This looks to have been addressed.  unnamed enums now display with ```<unnamed>::```.

![image](https://user-images.githubusercontent.com/49173979/66778189-df87ff80-ee7f-11e9-9a42-6047d58673f7.png)

[2019-10-14 19:41] #892 closed, assigned to nobody

[2019-10-14 19:46] Colengms commented on #1143
It looks like this has been addressed.  I cannot repro (with Tag Parser or Default) on a recent build.  Closing.  If there is still an issue here, please let us know.

[2019-10-14 19:46] #1143 closed, assigned to nobody

[2019-10-14 19:52] RogFedex commented on #4431
I remember disabling squiggles recently.. Will it be a reason for it ? How do we reenable it ? All forcedIncluded header files are valid and exist in the workspace. Yes #else and #if code are not dimmed

[2019-10-14 19:55] sean-mcmanus commented on #2908
@tehKaiN It's not on our extension's roadmap currently.

[2019-10-14 19:59] Colengms commented on #4426
Hi @theFlyingCat04 .  I was able to repro this issue in VS.  (VS and VS Code share some common code for IntelliSense).  I opened an issue against VS here: https://developercommunity.visualstudio.com/content/problem/776567/go-to-definition-goes-to-stdfunction-constructor-i.html

[2019-10-14 20:05] sean-mcmanus commented on #4408
Saving will trigger the reparsing of the active document. It sounds like it's just taking a really long time. Something code in the source file may be causing our parser to hit problems. Can you attach a debugger and provide a call stack of the process that is stuck updating?

[2019-10-14 20:08] sean-mcmanus commented on #4429
This should be working. How did you repro this? I suppose it could repro if the excluded file somehow ended up in the database when it shouldn't be...in that case, adding an extra exclusion check should fix it.

[2019-10-14 20:10] Colengms commented on #4431
Inactive region dimming is dependent on 2 settings.  IntelliSense needs to be enabled (`C_Cpp.intelliSenseEngine` set to `"Default"`).  And, `C_Cpp.dimInactiveRegions` needs to be set to `true`.  As far as I know, these 2 settings should be sufficient.

IntelliSense identifies inactive regions.  So, if there is something preventing intelliSense (such as headers not found, or code it's failing to p

[2019-10-14 20:19] sean-mcmanus commented on #4425
Yeah, our extension would need to add a setting to disable registering as a "Find All References" provider.

[2019-10-14 20:39] Colengms commented on #1833
We can no longer access the code that was shared which repro's this issue.  Closing due to inactivity for 1.5 years.  If there is still a problem here, please let us know.

[2019-10-14 20:39] #1833 closed, assigned to nobody

[2019-10-14 20:39] michelleangela commented on #296
Can you check if the images for the buttons exist under the extension package path? The path to images should be under `/home/<userfolder>/.vscode/extensions/ms-vscode.cpptools-0.26.0-insiders3/assets`. You should see these files https://github.com/microsoft/vscode-cpptools/tree/master/Extension/assets

If the images exists, can you try modifying the path to the referenced images in file `/home/<u

[2019-10-14 20:44] Colengms commented on #1770
It looks like this issue was reopened to track something also tracked by #3448 .  Since #3448 has been addressed, I assume this has been addressed as well.  Closing.

[2019-10-14 20:44] #1770 closed, assigned to nobody

[2019-10-14 20:48] Colengms commented on #2296
This issue appears to have been addressed.  Closing.  If there is still an issue here, please let us know.

[2019-10-14 20:48] #2296 closed, assigned to nobody

[2019-10-14 21:05] Colengms commented on #3045
It looks like this repro's with Tag Parser, but not with IntelliSense.

[2019-10-14 21:11] Colengms commented on #3345
This issue appears to have been addressed.  Closing.  Please let us know if there is still an issue here.

[2019-10-14 21:11] #3345 closed, assigned to nobody

[2019-10-14 21:14] Colengms commented on #3352
There have been no updates on this issue for several months.  The initial reporter has not responded beyond the initial post.  Closing.  If there is still an issue here, please let us know - we can re-open it.

[2019-10-14 21:14] #3352 closed, assigned to nobody

[2019-10-14 21:16] Byongsoo commented on #4420
Here is resutl of command "C/C++: Log Diagnostics".

-------- Diagnostics - 2019. 10. 15. 오전 6:13:17
Version: 0.26.0-insiders3
Current Configuration:
{
    "name": "Win32",
    "includePath": [
        "${workspaceFolder}/**"
    ],
    "defines": [
        "_DEBUG",
        "UNICODE",
        "_UNICODE"
    ],
    "windowsSdkVersion": "10.0.17763.0",
    "knownCompilers": [
        {

[2019-10-14 21:24] Colengms commented on #3841
The error due to use of `class` in a C language file appears to be by-design.  The reporting user has not responded since the initial posting.  Closing.  If there is still an issue here, please let us know.

[2019-10-14 21:24] #3841 closed, assigned to nobody

[2019-10-14 21:30] michelleangela commented on #4420
The values of the c_cpp_properties.json look okay, but the message "No active translation units" indicates that there are no IntelliSense language server working. Do you have the setting `C_Cpp.intelliSenseEngine` configured to something other than "Default"? Do you have the setting `C_Cpp.intelliSenseEngineFallback` to `Disabled`?

Another logging you can check is [language server log](https://co

[2019-10-14 22:12] monkeycoder99 commented on #296
I have no assets directory in that location. Here's what's there:
[code]

[2019-10-14 22:21] michelleangela commented on #296
We checked the shipped packages and they include the assets directory. Perhaps something went wrong when the extension was updated or installed? Can you try re-installing?

[2019-10-14 22:29] monkeycoder99 commented on #296
Uninstall/reinstall fixed the problem. Not sure how this happened. Maybe something with an earlier install that switched to the Preview version?

[2019-10-14 22:41] pieandcakes commented on #1329
@Muntasir2001 You are confusing MinGW and WSL. You can use WSL which is Linux tools running inside WSL, or MinGW which is running on Windows itself. Your error message below is telling me you are trying to run your MinGW path in WSL:

[code]

I can tell this because it is running the command in `/usr/bin/bash`

[2019-10-14 22:43] pieandcakes commented on #1786
@JemmyWong Any solution for truncation in `cppvsdbg` will be in the debugger itself and will not apply to `lldb`. You can try the solution for `gdb` for `lldb`

[2019-10-14 22:43] michelleangela commented on #296
It's hard to guess how the folder was not installed. But if you get a consistent repo of a folder or files missing after installation, please create a new issue for it for us to look at.

[2019-10-15 01:12] Lennon925 commented on #4425
Hi Sean, if you disable registering as a "Find All References", we will not be able to get results by vscode command "vscode.executeReferenceProvider". Unless you provide your own context menu and command. If so, we can call cpptools command to get references results and meanwhile you can remove "Find All References" this context-menu.

[2019-10-15 01:39] sean-mcmanus commented on #4425
VS Code itself is adding the "Find All References" command to the menu whenever an extension registers as a references provider. Did you have a suggestion of what change we could make? It sounds like it would require VS Code changes. Is this a problem with 0.25.1 and 0.26.0-insiders3?

[2019-10-15 02:44] Lennon925 commented on #4425
It's not very important and let it go.

[2019-10-15 02:44] #4425 closed, assigned to nobody

[2019-10-15 07:55] tombenes commented on #4408
I'm not sure if this is the stack you want:
[code]
Can't say if it shows anything

[2019-10-15 08:10] mixandmatch025 opened #4433 "Update to clang-format 9.0.0"
Could you update clang-format to the latest 9.0.0 version?

[2019-10-15 08:12] #4433 closed, assigned to nobody

[2019-10-15 08:13] mixandmatch025 commented on #4433
didn't see an already open issue - #2887

[2019-10-15 10:55] tombenes commented on #4408
Also a backtrace from `Microsoft.VSCode.CPP.Extension.linux`
[code]

[2019-10-15 11:13] ivancho-ifa opened #4434 "Symbols from included file are not recognized although F12 works"
Issue Type: <b>Bug</b>

1. Open a C++ project folder in VS Code.
When parsing is finished this error is noticed:
![Inkedvs-code-intellisence-problem_LI](https://user-images.githubusercontent.com/13264246/67005390-29285280-f0eb-11e9-9371-5620f36d6a7f.jpg)

The funny thing is that when I press `F12` for any element declared in the `sslUtils.h` file if works. But it is marked as not existing in the *

[2019-10-15 12:17] mixandmatch025 commented on #2887
do you know where I can download a new clang-format.exe?

[2019-10-15 12:17] ivancho-ifa commented on #4434
Also noticed with `std::chrono_literals` under the same configuration:
![InkedInkedvs-code-intellisence-problem-chrono_literals_LI](https://user-images.githubusercontent.com/13264246/67005513-6db3ee00-f0eb-11e9-84d8-f6135023bbaa.jpg)

[2019-10-15 12:51] Byongsoo commented on #4420
The C_CPP:IntellisenseEngineFallback has alread set to disable(Default)

![image](https://user-images.githubusercontent.com/56447120/66832478-f8360980-ef94-11e9-9a90-33d6b27be939.png)

I did not set any configuration related with C_Cpp.intelliSenseEngine.

When I check the language server log, I can find below error.
Do you know any solution to solve below error message?

C:\PROGRAM FILES (X86)\MI

[2019-10-15 15:34] Byongsoo commented on #4420
### Root Cause
I find the root cause!!!
I have got a hint from https://github.com/Microsoft/vscode-cpptools/issues/1560.

There is non-ASCII characters(Korean) in the user path.
This is root cause.
My case : "C:\Users\공"

VS code basic folders were made in the user path by default.
%LocalAppData%\Programs\Microsoft VS Code
%UserProfile%\.vscode
%AppData%\Code
%AppData%\Visual Studio Code

So if th

[2019-10-15 16:06] bobbrow commented on #4420
Yes, we do plan to support this.  I thought we had already taken care of it, but it appears we lost track of the issue.  @Colengms or @michelleangela, can one of you work on a fix for this?

[2019-10-15 16:22] bobbrow commented on #4429
The repro is basically the same as #2635.  Just have multiple copies of the same file in different locations in the workspace folder.  Then try to exclude a subtree.

[2019-10-15 16:41] bobbrow commented on #3584
@kisielk can you share your `c_cpp_properties.json` file?  The log output that shows `"Folder:"` may not match your `"includePath"` if the `"browse"` setting is being used.

[2019-10-15 16:44] kisielk commented on #3584
Here it is:
[code]

[2019-10-15 16:49] bobbrow commented on #3584
The paths are coming from `"configurationProvider": "vector-of-bool.cmake-tools"`.  When you use a `configurationProvider` our extension delegates configuration to the other extension.  We only use the `includePath` and `browse` settings when CMake Tools fails to provide the configuration.

[2019-10-15 16:55] kisielk commented on #3584
Hm I see, I've got the cmake extension configured to use the same compiler so it's still weird that it would getting system paths in there...

[2019-10-15 16:59] bobbrow commented on #3584
Can you search the debug log for "Custom browse configuration received" and see what CMake Tools is sending for the `compilerPath`?

[2019-10-15 17:00] michelleangela commented on #4420
Duplicated this to #1560 and will close this issue.

[2019-10-15 17:00] #4420 closed, assigned to nobody

[2019-10-15 17:01] bobbrow commented on #3584
It could be that the wrong Kit is set?

An example of Kits on my machine:
![image](https://user-images.githubusercontent.com/12818240/66852811-a8265b00-ef32-11e9-9c71-7014bb97edda.png)

[2019-10-15 17:04] kisielk commented on #3584
It seems to have the right `compilerPath`:
[code]

I have the kit set to `GCC for arm-none-eabi 8.2.1`

[2019-10-15 17:15] Colengms commented on #4434
Hi @ivancho-ifa .  Would you be able to isolate this into a stand-alone example that you could share with us, so we could investigate directly?

[2019-10-15 17:50] pieandcakes commented on #4373
Duplicate of #1201. Please upvote that issue

[2019-10-15 17:50] #4373 closed, assigned to nobody

[2019-10-15 17:52] pieandcakes commented on #4380
Does the app exit? If you change `externalConsole` to `true` does it work? Which version of MinGW are you using (version number and bitness)?

[2019-10-15 18:01] pieandcakes commented on #4392
@gabeluci Thank you for doing the research. It looks like there isn't a `gdb/mi` [command](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI-Program-Execution.html#GDB_002fMI-Program-Execution) for `starti` although there is one for `start`.

We use the breakpoint at `main` to set up the debugging session. If the user specifies `stopAtEntry` to be `true` then we don't automatically continue.

F

[2019-10-15 18:03] pieandcakes commented on #4434
@Colengms Tagging as Language Service. Please add additional tags/assignments as needed.

[2019-10-15 18:46] sean-mcmanus commented on #4408
No, those call stacks threads are not doing any work -- they're blocked waiting for stuff. Do you see any threads that appear to be doing work? Usually, those threads will have more stack frames. You should double check that you're attached to the process that is using CPU. The initial "flame" period may be doing work in the main process instead of the IntelliSense process (such as recursive inclu

[2019-10-15 18:48] sean-mcmanus commented on #2887
@mixandmatch025 Prebuilt binaries section of http://releases.llvm.org/download.html .

[2019-10-15 19:09] gabeluci commented on #4392
Debugging with MinGW, yes. In my case (using VLC 3 as an example) the binaries were built on Linux (cross-compiled for Windows). I haven't actually tried building with MinGW.

[2019-10-15 19:27] sean-mcmanus commented on #4382
Thanks for reporting this. I reported it to the VS team at https://developercommunity.visualstudio.com/content/problem/778258/cc-intellisense-shows-unknown-register-name-with-a.html .

It's possible we may also need to add support for ARM IntelliSense mode and -std=gnu11 for all the errors to disappear (we have other issues tracking those).

[2019-10-15 19:47] sean-mcmanus commented on #4434
For the 1st issue, it looks like recursive includes is using the path to the other file with the same name. You may be able to fix it via adding `"${workspaceFolder}/bora/apps/trusted-host-services/common/include"` before `"${workspaceFolder}/**"`. Go to Def on the `#include` doesn't use the correct IntelliSense path (we have another issue tracking that).

For the issue with chrono_literals, you m

[2019-10-15 20:00] sean-mcmanus commented on #3584
Looks like the intelliSenseMode got changed to "clang-x64" incorrectly? It's possible there was some failure querying the compiler. Can you see what defines are shown when you enable logging? https://code.visualstudio.com/docs/cpp/enable-logging-cpp

[2019-10-15 20:17] kisielk commented on #3584
I think the problem is the CMake tools extension is not providing the full compiler path, and the C++ extension doesn't search for it in `/usr/local/bin` I see this:
[code]

[2019-10-15 20:18] tombenes commented on #4408
Unfortunately, there are no other processes from cpp extension folder that are running during the hang.
The thing that I'm most curious about is that once upon a save IntelliSense updates in about 0.2 second, sometimes it takes much longer (minutes) and there are cases in which it hangs (or takes more than 20 minutes) and only restarting vscode helps.
I'll be trying to find out what concrete chang

[2019-10-15 20:25] kisielk commented on #3584
Ok, I think I have got it working now...
I had to define my own kit for the CMake Tools extension. The default one it scanned looked like this:

[code]

Note that there's no `"CXX"` key (other kits have this). I created my own kit that looks like:

[code]

and now the IntelliSense engine seems to be working correctly.

It looks like this may be happening because there's a `/usr/local/bin/arm-none-

[2019-10-15 21:28] sean-mcmanus commented on #3039
We added support for `/ZW`, `/ZW:nostdlib`, `/FI`, `/FU`, and `/AI` compiler arguments. See https://docs.microsoft.com/en-us/cpp/cppcx/compiler-and-linker-options-c-cx?view=vs-2019 . compilerPath needs to be set for "cl.exe" except in the special case where a custom configuration provider is used, in which case compilerPath can be "", but the path to vccorlib.h needs to be in the includePath (in a

[2019-10-15 22:12] michelleangela commented on #4420
@Byongsoo , I'm trying to reproduce the error 267, which means "The directory name is invalid", by using the Korean character 공 for a user name, but I could not reproduce it. The Windows OS language and VS Code were also set to Korean. Are there any other language settings you have configured on your laptop?

[2019-10-15 22:21] michelleangela commented on #1560
@powergee, does your desktop and laptop system have different language or encoding settings?

I couldn't reproduce the issue with the following:
- created a username path with Korean character
- set the Windows OS language to use Korean
- set VS Code to use Korean language pack

[2019-10-15 22:23] michelleangela commented on #1560
@melhior61, you referenced this issue from #4239, are you also using non-ASCII characters in your user path?

[2019-10-15 23:00] jeff-hykin commented on #4428
Thanks @Colengms, I can confirm this is a C++ grammar issue and not a cpptools issue.

[2019-10-15 23:05] Byongsoo commented on #4420
@michelleangela, could you delete all below folders and re-insatall VS code?
%LocalAppData%\Programs\Microsoft VS Code
%UserProfile%.vscode
%AppData%\Code
%AppData%\Visual Studio Code

As far as I komw, there is no more language settings on my laptop.

[2019-10-15 23:30] michelleangela commented on #4420
@Byongsoo, thanks. Deleting and re-installing the VS Code files didn't repro the issue. However there was one more language settings that I changed which did caused the issue. You have to [change the Code Page](https://knowledgebase.progress.com/articles/Article/4677) to Korean

[2019-10-15 23:36] Byongsoo commented on #4420
@Michelleangela, It`s good(?) news. :)
I hope you fix this issue and release new version.
Thank you for supporting.

[2019-10-16 01:49] movingChurch commented on #2506
i want that...

[2019-10-16 02:43] #7 closed, assigned to nobody

[2019-10-16 02:43] sean-mcmanus commented on #296
Rename is available in 0.26.0.

[2019-10-16 02:43] #296 closed, assigned to Colengms

[2019-10-16 02:44] sean-mcmanus commented on #2230
Improved document symbols are available with 0.26.0.

[2019-10-16 02:44] #2230 closed, assigned to Jasdriel

[2019-10-16 02:45] sean-mcmanus commented on #3039
C++/CX is available with 0.26.0.

[2019-10-16 02:45] #3039 closed, assigned to nobody

[2019-10-16 02:45] #4079 closed, assigned to nobody

[2019-10-16 02:46] sean-mcmanus commented on #1718
RSP file support is available with 0.26.0 -- let us know if there's still a problem.

[2019-10-16 02:46] #1718 closed, assigned to Jasdriel

[2019-10-16 02:46] sean-mcmanus commented on #3324
Fixed with 0.26.0.

[2019-10-16 02:46] #3324 closed, assigned to WardenGnaw

[2019-10-16 02:47] #3440 closed, assigned to nobody

[2019-10-16 02:47] #3567 closed, assigned to nobody

[2019-10-16 02:47] sean-mcmanus commented on #4198
Fixed with 0.26.0.

[2019-10-16 02:47] #4198 closed, assigned to nobody

[2019-10-16 02:47] #2874 closed, assigned to Jasdriel

[2019-10-16 02:48] #4078 closed, assigned to nobody

[2019-10-16 02:48] #4150 closed, assigned to nobody

[2019-10-16 02:48] #4162 closed, assigned to nobody

[2019-10-16 02:48] #4211 closed, assigned to nobody

[2019-10-16 02:49] #4262 closed, assigned to nobody

[2019-10-16 02:49] #4279 closed, assigned to nobody

[2019-10-16 02:49] #4293 closed, assigned to Jasdriel

[2019-10-16 02:49] #4345 closed, assigned to nobody

[2019-10-16 02:49] #4351 closed, assigned to nobody

[2019-10-16 02:49] #4353 closed, assigned to nobody

[2019-10-16 02:50] #4359 closed, assigned to nobody

[2019-10-16 02:50] #4371 closed, assigned to nobody

[2019-10-16 02:50] #4372 closed, assigned to nobody

[2019-10-16 02:51] #4168 closed, assigned to nobody

[2019-10-16 02:51] #4332 closed, assigned to Jasdriel

[2019-10-16 02:51] #4343 closed, assigned to Colengms

[2019-10-16 02:52] #4302 closed, assigned to nobody

[2019-10-16 02:52] #4407 closed, assigned to nobody

[2019-10-16 05:09] lijh8 opened #4440 "Return type listed along with function name in Outline view"
![66886647-ab8d1580-f00a-11e9-90b9-2aa93ff0ea5d](https://user-images.githubusercontent.com/9011764/66889721-1001a200-f016-11e9-802c-41abe638419f.png)

- C/C++ Extension Version:
Id: ms-vscode.cpptools
Version: 0.26.0

[2019-10-16 05:16] luni64 opened #4441 "clang-format IndentPPDirectives: BeforeHash"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win10
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0

Using IndentPPDirectives: BeforeHash generates an error:
`YAML:21:21: error: unknown enumerated scalar
  IndentPPDirectives: BeforeHash`
The same works using the clang-format extension and disabling formatting in c/c++

**Expected behavior**
Should support IndentPPDi

[2019-10-16 07:17] tehKaiN opened #4442 "Extension doesn't use editor's language settings for tooltips"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win10 1809 x64 PL
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0
- Other extensions you installed (and if the issue persists after disabling them): irrelevant, I think.
- A clear and concise description of what the bug is: it uses my OS language for tooltips instead of one selected in vscode settings

**To Reproduce**
1

[2019-10-16 07:19] psclkhoury commented on #2230
@sean-mcmanus I am using 0.26.0 but the `Follow Cursor` option in the outline is not working.

[2019-10-16 08:29] tombenes commented on #4408
Today I just opened a file I've been working on yesterday. It feels like it's just not using any cache or database - I didn't change anything, yet it was updating for 10 minutes.
`ps` during a hang looks like this
[code]
I checked all three processes with `top -H`, and both Msvc ones has 52 sleeping processes, even one using 10% cpu.

[2019-10-16 09:19] DeadRabbits307 opened #4443 "c_cpp_properties.json: browse property path recursive search not working"
**Type: LanguageService**
As described [here](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference) an entry in browse/path like `${buildroot_root_dir}output/build/linux-4.15.16/drivers` shall recursive search all subdirectories of `drivers`. But this is not the case. I have to add each subdir to get to the definition of an function like:

[code]
Only
[code]
does not enable the

[2019-10-16 09:42] zhchy1996 commented on #3829
It's work for me!Thank you!

[2019-10-16 10:05] hsx2117 commented on #3829
Whether  a stand-alone copy of it worked?

[2019-10-16 11:21] theFlyingCat04 commented on #4426
Thanks @Colengms for the quick response. Let's see what the VS Team is able to do there.

[2019-10-16 12:50] Logonz opened #4444 "includePath does not recursively scan for header files."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win7
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0
- Other extensions you installed (and if the issue persists after disabling them): Disabled all
- A clear and concise description of what the bug is.

"include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (*)."
Setti

[2019-10-16 12:59] higaski opened #4445 "Duplicates in outline view"
Version 0.26.0 started to produce duplicates (or just now even triplicates) of every entry in the outline view.

E.g.
- C/C++
-- void foo()
-- int main()
- C/C++
-- void foo()
-- int main()

Although every C/C++ top bulletpoint can be collapsed thats still very confusing.

Version: 1.38.1
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-16T10:22:16.623Z
Electron: 4.2.11
Chrome: 69.0.

[2019-10-16 13:21] Yanpas opened #4446 "enhancedColorization makes smooth scrolling lag"
Type: General

**Describe the bug**
- OS and Version: kubuntu 19.04
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

With enabled C_Cpp.enhancedColorization evene relatively small cpp files (150 lines) tend to lag on scrolling. I have 1080 GTX, core i7

[2019-10-16 13:54] huangyxi opened #4447 "Function comments in GBK appear garbled when hovering over this function"
Type: General

**Describe the bug**
- OS and Version: Windows_NT x64 10.0.18362
- VS Code Version: 1.39.2 (user setup)
- C/C++ Extension Version: 0.26.0
- Other extensions you installed (and if the issue persists after disabling them): No
- A clear and concise description of what the bug is:
The comment text (GBK encoding) where the mouse hovering on the function is garbled.

**To Reproduce**
- `m

[2019-10-16 13:56] awmorgan commented on #2230
This 0.26.0 removed Alt+N C/C++ Navigate...

Is there the new way to do what the 0.25.1 Alt+N keyboard shortcut did?

Ctrl+Shift+O is close to previous functionality, but it seems to have dropped the declaration qualifier that was so you can see the difference between declaration and definition in the symbol list.

[2019-10-16 14:24] Logonz commented on #4444
Downgrading to versions:
1.37.0 in VSCode
0.25.1 in C/C++ (cpptools)
Seems to have solved the issue somewhat atleast, I have no idea what caused the issues.

[2019-10-16 16:00] fv2018 commented on #1162
bump

[2019-10-16 16:05] michelleangela commented on #4442
The c_cpp_properties.json config file is implemented by the C/C++ extension, whereas the launch.json and tasks.json files are implemented by VS Code. Please report the issue at VS Code repository: https://github.com/microsoft/vscode/issues

[2019-10-16 16:11] tehKaiN commented on #4442
I'm afraid you have misread my issue. The problem is that c_cpp_properties.json **is using non-english locale when should not**. Also, screenshots are only from .json file, the same problem is apparent with error descriptions in tooltips.

![obraz](https://user-images.githubusercontent.com/16180344/66937706-3e947280-f040-11e9-817a-aa9052ff48ee.png)

Note that I've marked strings in Polish fron C/C

[2019-10-16 16:16] michelleangela commented on #4442
@tehKaiN, you're right, I'm sorry for misreading your issue.

Can you try to change the display language on VS Code by running the command [configure display language](https://code.visualstudio.com/docs/getstarted/locales#_changing-the-display-language) and see if that fixes the issue?

[2019-10-16 16:19] tehKaiN commented on #4442
Whoa, it worked! I guess it's some kind of cache problem. Many thanks for that fix!

[2019-10-16 16:19] #4442 closed, assigned to nobody

[2019-10-16 16:45] choury commented on #2607
Met the same issue

[2019-10-16 16:46] michelleangela commented on #4445
@higaski, can you provide an isolated sample file that reproduces the issue? Can you elaborate on what "top bulletpoint can be collapsed" is causing confusion?

[2019-10-16 17:05] higaski commented on #4445
Of course. Here is a screenshot of what my outline looks like with the attached "main.cpp" file. As you can see both functions (void foo and int main) are shown twice for whatever reason. When I first posted the issue 4h ago I somehow even ended up with three copies...?

![duplicates_in_outline](https://user-images.githubusercontent.com/13762516/66941442-27a54e80-f047-11e9-81a2-f6224c41d213.png)

[2019-10-16 17:06] bobbrow commented on #3584
Thanks for validating.  I'm going to move your issue over to the CMake Tools repo for further investigation.  There has been no additional activity on the original issue, so I'll close this issue for now.

[2019-10-16 17:06] #3584 closed, assigned to nobody

[2019-10-16 18:16] Colengms commented on #4446
I'm not seeing a discernable difference between the lag with or without enhancedColorization enabled, with significantly larger files.  Could there be something else going on in your case?

We only apply text decorations to (just beyond) the immediately visible region of the file.  So, the size of the file actually should not matter.  The process of parsing the document and applying the text decor

[2019-10-16 18:39] jarodwen commented on #3559
*UPDATED* Seems this can be fixed by specifying the clang-format path in the settings.

See this issue after updating vscode this morning to 1.39.2; on fedora 30:

[code]

Here are the vscode version information:

[code]

CPP plugin is 0.26.0

[2019-10-16 19:11] ChronosWS commented on #1017
+1, thread exit messages are almost completely useless, especially in ASP.NET Core apps where there are always threads starting and stopping.

[2019-10-16 19:45] michelleangela commented on #4420
@Byongsoo, we're working on a fix and is targeted to be in 0.26.1 or next release.

[2019-10-16 19:57] akbyrd commented on #1017
Issue created 2 years ago. Eesh.

[2019-10-16 19:59] Colengms commented on #4426
It looks like that issue was duped to: https://developercommunity.visualstudio.com/content/problem/661818/wrong-go-to-definition-location.html

I'd suggest up-voting it, as vote count is often used to set priorities.

[2019-10-16 20:09] michelleangela commented on #1560
**Root cause:**
If the [code page](https://knowledgebase.progress.com/articles/Article/4677) on Windows is Korean or some language with non-ASCII characters and there are non-ASCII characters in directory path of IntelliSense executable, then the extension will fail to create the IntelliSense process.

[2019-10-16 20:33] michelleangela commented on #4445
@higaski, thanks for the sample file and screenshot. I still can't repro the issue though.

**I tried with VSCode:**
Version: 1.39.1
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Date: 2019-10-10T23:30:33.955Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.15.0-46-generic

Do you have any other extensions for C/C++ besides vscode-cpptools enabl

[2019-10-16 22:05] #4129 closed, assigned to nobody

[2019-10-16 22:05] EmbeddedBacon commented on #4129
Not sure how to trouble shot this, doesn't seem to be happening as often.  If becomes an greater issue will create a new ticket.

[2019-10-16 22:11] RogFedex commented on #4431
Ok, Thanks for the details. In my setup IntelliSense and dimInactiveRegions
are enabled. I added valid and existing files in forcedInlcude
in C_Cpp_properties.json and observed the issue of no dimming of either #if
and #else statements (for sometimes it was working good and failed later).
I tried moving all the forcedInclude connfigurations to settings.json
file (C_Cpp.forcedInclude) and it seems

[2019-10-16 22:14] EmbeddedBacon commented on #3874
When to update this extension for today while running VS Code 1.39.1 and now see it on the host machine, Windows 10

Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Windows)' (5692 KB)  Failed. Retrying...(5692 KB)  Done!
Downloading package 'ClangFormat (Windows)' (1054 KB)  Done!
Downloading package 'Visual Studio Windows Debugger' (13316 KB)  Done!

Installing pa

[2019-10-17 00:42] Colengms commented on #3980
Same issue as https://github.com/microsoft/vscode-cpptools/issues/2528

[2019-10-17 00:53] Colengms opened #4449 "Actual case should be used for logged paths on Windows"
This is similar to the UNC path issue tracked by https://github.com/microsoft/vscode-cpptools/issues/3980 (https://github.com/microsoft/vscode-cpptools/issues/2528 and likely others).

On Windows, we're logging some paths with actual case, and some paths that are canonicalized into all upper case.  Control-clicking on a link in upper case causes the file to be opened in a tab reflecting all upper

[2019-10-17 02:12] pelrun commented on #4434
I've been hitting something similar. It only seems to happen on large codebases with recursive includes, and reordering the includes can sometimes (temporarily) resolve it. Is there a size limit on the intellisense db or some other reason parsing may be silently terminated before fully traversing the include tree?

[2019-10-17 05:31] movingChurch commented on #429
+1

[2019-10-17 05:40] harokyang opened #4450 "How to change the feedback language of Intellisense"
I use a Chinese language OS, but set the build enviornment to English for project requirement(env variable VSLANG=1033)

Before the latest vscode update, everything works fine
But after the update, Cpp-tools intellisense now give Chinese language feedback

Now I have mixed language feedback in PROBLEMS tab, CN from the intellisense, EN from the compiling result

How can I force intellisense to use

[2019-10-17 06:42] Atom2004 opened #4451 "format a macro function with a Chinese annotation, the slash alignment fails."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1903
- VS Code Version: 1.39.2 x64
- C/C++ Extension Version: 0.26.0: October 15, 2019
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.
  Write an MACRO function in an *.c file or *.h file like the screenshot below, with some Chinese a

[2019-10-17 06:45] wgqimut opened #4452 "some symbol couldn't found when "go to symbol in a file or workspace""
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS version 10.15
- VS Code Version: Version: 1.39.2
- C/C++ Extension Version:0.26.0 (Remote SSH CentOS Linux release 7.5.1804 (Core))

**To Reproduce**

when I go to symbol in a file(`X.c`) or workspace, some symbol can't found, even though "go to this symbol's definition" is ok, "find all this symbol's reference" is also workin

[2019-10-17 07:21] Neonit commented on #4450
Same problem here with German. IntelliSense suddenly changed the language of my error messages to (assumingly) system language without my consent. I don't want that.

[2019-10-17 07:38] higaski commented on #4445
Disabling all my other extensions didn't change anything. What did though was creating a new workspace. So apparently the problem is caused by any of my workspace settings... now the question is which one. :)

[2019-10-17 07:38] GoaLitiuM commented on #1017
We get a pretty useless "enableDebugHeap" option but not this? Come on...

[2019-10-17 07:43] melhior61 commented on #1560
@michelleangela Thank you for your question!
No, I don't, the user path is strictly ASCII-compatible.
Sorry for the late response!

[2019-10-17 08:14] ebarti commented on #429
In the meantime, if you have a machine with windows installed, I recommend you follow:

https://code.visualstudio.com/docs/remote/remote-overview

or, if you have Visual studio:

https://devblogs.microsoft.com/cppblog/linux-development-with-c-in-visual-studio/

I got tired of waiting for cpptools to be compatible with ARM, so I am now using my fully featured VS to develop all code that goes into m

[2019-10-17 08:27] Muntasir2001 commented on #1329
@pieandcakes , Ok I found out the issue. I am using Git terminal as a default terminal for VS code. That's why it was not working with mine. It was able to compile manually though.
Anyway, Thank You

[2019-10-17 08:46] Logonz commented on #4429
I think i know why this is happening.
I configure files.exclude in the .vscode folder in settings.json.
If i open the folder as a workspace it selects the wrong header when using switch header/source.
But if i instead use Open Folder it selects the correct header and seems to exclude the files from Settings.json.

[2019-10-17 12:11] Yanpas commented on #4446
Here is a profile from vscode dev tools. Maybe it's vscode's issue.

[Profile-20191017T150945.json.txt.gz](https://github.com/microsoft/vscode-cpptools/files/3739150/Profile-20191017T150945.json.txt.gz)

[2019-10-17 12:22] rlivings39 commented on #3666
This is one of the major missing workflow items using GDB in vscode for me as well. I make heavy use of breakpoint commands:
[code]
for a lot of the debugging we do and can't perform this directly in the vscode debug environment.

I believe that the Emacs GDB integration (i.e. `M-x gdb`) uses GDB MI and supports such multi-line commands. Supporting this would greatly help those transitioning from

[2019-10-17 13:22] shudingbo opened #4453 "Linux Can't Downloading components"
Type: General

Can't Downloading components:

notify like this:
 **c/c++ Extension: Downloading 1/4: C/C++ language componsnts(Linux x86_64)**

**Describe the bug**
- OS and Version: centos 7/8
- VS Code Version: 1.39.1
- C/C++ Extension Version: 0.25.*,  0.26 AND another
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what th

[2019-10-17 13:45] kim-jhyeon commented on #1560
@michelleangela Thank you for your reply!
My laptop and desktop had the same language and encoding settings (Korean).
After I read your comment about the root cause, I checked my system locale setting of my laptop and changed it to English (United States). After that, C/C++ IntelliSense worked fine. However, g++ compilation didn't work because it couldn't read Korean characters. I thought I could

[2019-10-17 15:51] ajuric commented on #429
Need this desperately for Nvidia Xavier.

C++ development (which needs to be done on the platform because of testing) is just impossible without IntelliSense and debugging.

Furthermore, I'm also using ROS extension, which depends on this vscode-cpptools, meaning that I cannot even use that ROS extension.

[2019-10-17 16:43] webpolis commented on #2064
Yep, nothing. I also configured the settings, added all included paths.. . but even a basic `std::` will bring "No Suggestions".

[2019-10-17 17:15] michelleangela commented on #4450
What display language is your VS Code set to? If it's not English, can you try [changing the language display on VS Code](https://code.visualstudio.com/docs/getstarted/locales#_changing-the-display-language) to English and see if that changes the IntelliSense feedback language?

[2019-10-17 17:30] michelleangela commented on #4445
Please let us know if you figure out which workspace settings so we can try to fix the issue.

[2019-10-17 17:42] michelleangela commented on #2064
@webpolis, can you run the command `C/C++: Log Diagnostics` and [enable logging for the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server) and then share both logs?

[2019-10-17 17:53] ebarti commented on #429
See above. It is totally possible. I code on my windows machine, and build and test on my Rpi.

[2019-10-17 18:02] RogFedex commented on #4431
Just want to let you know that adding forcedinclude in settings.json (
C_Cpp.forcedInclude) is not working consistently. forcedInclude is not
effective at all but i don't see 'no dimming óf inactive code' issue.
I add the forcedInclude in C_Cpp_properties.json then forcedInclude is
effective but i observe the 'no dimming óf inactive code' issue. Hope this
information helps.

On Wed, Oct 16, 2019 a

[2019-10-17 18:08] xor2k commented on #3491
Hey there, what is the state of this issue? Seems to be fixed in Visual Studio:

https://developercommunity.visualstudio.com/content/problem/540560/c-intellisense-doesnt-support-designated-initializ.html

[2019-10-17 18:16] Colengms commented on #4450
The C/C++ Extension uses [vscode-nls](https://github.com/microsoft/vscode-nls).  We should be displaying in the same language as VS Code menus, etc., based on the setting of the 'Configure Display Language' command.  Are you seeing the C/C++ Extension use a language other than what VS Code is set to?

There is an issue that might result in language settings being out of sync; if you remove a langu

[2019-10-17 18:32] sean-mcmanus commented on #4447
We're tracking non-UTF-8 support with https://github.com/microsoft/vscode-cpptools/issues/414.

[2019-10-17 18:32] #4447 closed, assigned to nobody

[2019-10-17 18:35] sean-mcmanus commented on #4451
Does the issue repro with UTF-8? We're tracking GBK support with https://github.com/microsoft/vscode-cpptools/issues/414 .

[2019-10-17 18:39] sean-mcmanus commented on #4452
Can you provide more info on the symbols that can't be found? Is there a macro used that requires evaluation in order to parse? What is the error message?

Go to Def and Find All References may be using IntelliSense symbol info, which Go to Symbol doesn't use (i.e. it only does "tag parsing", which doesn't evaluate preprocessor macros).

[2019-10-17 18:49] pieandcakes opened #4454 "[Feature Request][gdb] Support Multiline commands"
Type: Debugger

Request for support for user entered multiline commands in the debugConsole.

Please see this issue: https://github.com/microsoft/vscode-cpptools/issues/3666#issuecomment-543148969

[2019-10-17 18:50] pieandcakes commented on #3666
I've created #4454 to track the feature request for multiline commands. Please upvote there.

I'll use this issue to track the hang.

[2019-10-17 18:51] jinay1991 commented on #3123
I had the exact same issue and after setting `files.watcherExclude` it stopped consuming CPU. Although I have a feeling that it is more of the VSCode issue instead of this plugin as even with NO PLUGIN installed, behaviour was same until I set `files.watcherExclude`.

The process consuming CPU was `watcherHelper`

[2019-10-17 19:06] thecodewarrior commented on #239
If you're on a mac and use another app as your default terminal you can just change the shell that Terminal.app uses:
![image](https://user-images.githubusercontent.com/5467669/67039600-8665d900-f0d6-11e9-85bc-90c7a98fa4bb.png)

[2019-10-17 19:22] Colengms commented on #4431
Hi @RogFedex .  The setting "C_Cpp.forcedInclude" should work only in c_cpp_properties.json.  In settings.json, the setting to set a default for all projects would be "C_Cpp.default.forcedInclude".

Would you be able to isolate a stand-alone example of a region not becoming inactive when expected, that you can share with us?

[2019-10-17 19:30] sean-mcmanus commented on #4443
Are you using 0.24.0? Does it repro after you update to 0.26.0?

[2019-10-17 19:36] sean-mcmanus commented on #4444
One thing to try is to do a Reset IntelliSense Database in case certain folders are incorrectly marked as "nonexistent". You could also do a C/C++: Log Diagnostics command to see how the recursive include paths are getting resolved for a particular file -- are the paths with the headers in the output includes list?

[2019-10-17 19:38] RogFedex commented on #4431
Thanks. correcting it to  C_Cpp.default.forcedInclude has helped to get
forcedInclude working. Atleast now the dimming of the inactive code is also
working.
If there is no difference in the logic of having forcecInclude in
settings.json and c_cpp_properties.json file then i will come across the
same problem again.. I will keep you updated on that.
Its not possible to share the project workspace th

[2019-10-17 20:01] sean-mcmanus commented on #3491
This is fixed with 0.26.0 -- you need to set the cppStandard to "c++20" though. Let us know if it's not working for you.

[2019-10-17 20:07] sean-mcmanus commented on #3491
Oh -- I'm seeing it work for gcc and cl.exe, but not clang. Is that what you're seeing? There might be some additional issue for clang.

[2019-10-17 20:26] bobbrow commented on #2230
@psclkhoury can you open a new issue with more information about your problem?  We've tested out the `Follow Cursor` feature in the Outline view and it is working for us.  There may be something special about your code that we're not handling well.
![image](https://user-images.githubusercontent.com/12818240/67044683-a77ff700-f0e1-11e9-81ae-403eabbd1bfe.png)

@awmorgan, there is a command "Focus Br

[2019-10-17 20:42] sean-mcmanus commented on #4440
This appears to be a duplicate of https://github.com/microsoft/vscode-cpptools/issues/4383 .

[2019-10-17 21:21] ldsolano17 commented on #2506
Looking for support as well!

[2019-10-17 21:43] #690 closed, assigned to nobody

[2019-10-17 21:53] bobbrow commented on #742
Sorry, I should have resolved this issue a long time ago.  VS Code added a feature that lets us do [this](https://github.com/microsoft/vscode-cpptools/issues/742#issuecomment-334995844) and we added a command to get the active configuration name that you can use in your tasks.json.

`${command:cpptools.activeConfigName}`

[2019-10-17 21:53] #742 closed, assigned to nobody

[2019-10-17 21:56] bobbrow commented on #849
This is a duplicate of #723

[2019-10-17 21:56] #849 closed, assigned to nobody

[2019-10-17 22:03] sean-mcmanus commented on #3491
The code specifically disables C++20 designated initializer support for clang, because it hasn't been implemented yet -- see https://clang.llvm.org/cxx_status.html .

i.e. we (VS) added support for the C++20 feature and not the c99 extension behavior of gcc and clang prior to C++20.

Are you okay with waiting till clang implements C++20 designated initializers and using that or did you want a new

[2019-10-17 22:25] sean-mcmanus commented on #4441
The version of clang-format we bundle doesn't support that. We're tracking upgrading to 9.0 at https://github.com/microsoft/vscode-cpptools/issues/2887. You could set the C_Cpp.clang_format_path to a newer version of clang as a workaround.

[2019-10-17 22:25] #4441 closed, assigned to nobody

[2019-10-17 22:28] sean-mcmanus commented on #4408
We still don't have enough repro or call stack info. Have you tried using the C/C++ debugger to attach to the process that is using CPU and see the call stack? https://code.visualstudio.com/docs/cpp/cpp-debug

[2019-10-17 22:47] pelrun commented on #4434
One more thing that seems to cause this: The Problem window has a long-standing issue where dangling entries raised by extensions stick around even though the extension has forgotten about them. They then permanently generate squiggles even though there is no longer an underlying reason to. At the moment the only way to clear them is the Reload Window command.

[2019-10-17 23:30] sean-mcmanus commented on #4429
Hmm...the files.exclude either applies to the workspace or the workspace folder...I'm not able to repro the bug with a workspace.

I did repro a bug where adding to the files.exclude is not updating the database, which could repro this bug, but doing a Reset IntelliSense Database fixes it.

[2019-10-17 23:34] bobbrow commented on #4409
Related vscode issue: https://github.com/microsoft/vscode/issues/45384.  You may want to upvote this.  It seems that other languages are not doing validation.  We may align with them.

[2019-10-17 23:37] sean-mcmanus commented on #4434
@pelrun We have a max folder depth of 20, but no size limit.

Do you know how to repro the stuck error squiggles?

[2019-10-18 00:03] pelrun commented on #4434
Unfortunately not; it's never happened reliably, but if I can find a sensible repro case I'll document it. What I'll do in the meantime is determine whether my symptoms are purely due to leaked problem window entries (and intellisense is working fine), or if there's a mix of both that issue and a persistent intellisense one.

[2019-10-18 01:27] rei-vilo commented on #742
Thank you!

[2019-10-18 02:23] Megumism opened #4455 "Fail to debug though followed 'Get Started with C++ and Mingw-w64' step by step"
Type: Debugger

**Describe the bug**
- OS and Version: Win10 1903
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0
- Other extensions you installed (and if the issue persists after disabling them):
- - Chinese (Simplified) Language Pack for Visual Studio Code
- - Live Server
- - Markdown PDF

- Fail to debug though followed [Get Started with C++ and Mingw-w64](https://code.visualstudio.

[2019-10-18 02:39] harokyang commented on #4450
Well that works for me
By changing Display Language to en fix the issue

The question is I did not install any other language for vscode, the en is the default one
But now explicitly select the only option in the language list did fix it

Can I suppose that even a fresh installed vscode displayed as English, the actual display language value is not en?

[2019-10-18 07:16] ivancho-ifa commented on #4434
The solution suggested by @sean-mcmanus worked for me. Feel free to close the issue. Thanks!

[2019-10-18 07:20] psclkhoury commented on #2230
@bobbrow I realized that it is only not working in some files, I will try to see what is causing it and then open a new issue. Thanks

[2019-10-18 07:21] DeadRabbits307 commented on #4443
I updated  to 0.26.0, this fixed it! (working in an offline environment)

In addition: the OUTLINE now works again. With 0.24.0 the "Follow Cursor" functionality did not work. I don't know if this is related to vscode-cpptools...

Thanks anyway!

[2019-10-18 07:32] psclkhoury opened #4456 "Follow Cursor in outline view (and Breadcrumbs) not working with nested namespaces"
In 0.26.0, follow cursor does not work with nested namespaces

This will not work
[code]
But this will work

[code]

I also saw that follow cursor was not working in some stl headers on windows, but I don't know what is causing that.
Example:
`C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\VC\Tools\MSVC\14.20.27508\include\vector`
`C:\Program Files (x86)\Microsoft Visual Studio\2

[2019-10-18 09:39] higaski commented on #4445
The problem doesn't seem to be the workspace settings but rather something with the folders added to it.

Any chance that this could have something to do with either a CMakeLists.txt or c_cpp_properties.json file?

When I remove all the project folders from my workspace and just add the example above everything works fine. Once I add a complex project (like 100k lines of code, multiple dependencie

[2019-10-18 11:16] #4455 closed, assigned to nobody

[2019-10-18 11:17] Megumism commented on #4455
no Chinese in the path……

[2019-10-18 12:49] baiwfg2 commented on #404
I found version 1.36.1 on mac had already support `find all references` functionality. Good !

![image](https://user-images.githubusercontent.com/5157680/67095571-d03ee400-f1e8-11e9-8977-a0f19175b898.png)

[2019-10-18 13:34] valdersea commented on #3797
If you want to load those symbols , you can add
`"symbolsearchpath"="https://msdl.microsoft.com/download/symbols"`
to launch.json. Then vscode will download those symbols wanted when debugging automaticly.

[2019-10-18 13:34] hajlyx commented on #4453
Same problem.
Stucked in "Downloading 1/4: C/C++ language componsnts" process.

- OS and Version: Ubuntu 18.04

- VS Code Version: 1.39.2

- C/C++ Extension Version: 0.26

[2019-10-18 16:00] bobbrow commented on #4443
Thanks for confirming!

And yes, we fixed the Document Outline in 0.26.0.

[2019-10-18 16:00] #4443 closed, assigned to nobody

[2019-10-18 16:26] bobbrow commented on #4453
We're hoping to eliminate this step in the near future when the Marketplace adds support for OS-specific extension packages.

In the meantime, you can download the OS-specific packages directly from our [releases page](https://github.com/microsoft/vscode-cpptools/releases/tag/0.26.0) and use the `Install from VSIX...` command to install it.

[2019-10-18 16:34] bobbrow opened #4458 "Don't start the language server until VSCode indicates that the file is opened in the editor"
VSCode sends a `textDocument/didOpen` message in cases besides when a document is made visible in the editor.  In these cases we end up spawning an entire language server just to shut it down again.  CTL+hover is one such case.  VSCode [does not intend to update the LSP](https://github.com/microsoft/vscode/issues/78453) for this, so we need to do something else.

We should consider adding logic to

[2019-10-18 16:45] michelleangela commented on #4422
Issue resolved in pull request https://github.com/microsoft/vscode-cpptools/pull/4457

[2019-10-18 16:45] #4422 closed, assigned to nobody

[2019-10-18 16:54] michelleangela commented on #4445
It sounds like there may be an issue with the IntelliSense database. Can you try running the command `C/C++: Reset IntelliSense Database` for the workspace that has complex projects and see if that does anything?

Can you also run `C/C++: Log Diagnostics` and share the logs?

[2019-10-18 17:31] higaski commented on #4445
Ok, describing the behavior of that bug is becoming increasingly difficult, even if I'd have to do it in my first language, so please bear with me. :)

So I currently have two projects in my workspace. One is a pretty simple Qt application with rather oldschool style C++ and the other one a library for an embedded system using pretty much the latest features of GCC/Clang and also including the GTe

[2019-10-18 17:31] Colengms commented on #915
Hi @xueyunquan .  Are you still seeing this issue?  From your description, it sounds like IntelliSense parsing was failing due to encountering an issue when parsing certain code.  Since your last response, there have been quite a few fixes to IntelliSense parsing.  I'm hoping the issue you were seeing may have since been addressed.

[2019-10-18 17:33] borbmizzet commented on #4366
As far as I can tell, 0.26 only has Group-By-File.  Only slightly more useful than a standard grep/find-all.  Is the Find All References functionality context-aware at all internally?

[2019-10-18 18:24] bobbrow opened #4459 "Need to support new vscode setting"
**Type: LanguageService**

There is a new setting in vscode that controls auto-complete. https://github.com/microsoft/vscode/issues/10266

They default to a behavior that is opposite of ours, so we should probably change the default value in our `package.json`.  We still need clarity on what exactly should be done though since the LSP doesn't tell us which version of auto-complete is being request

[2019-10-18 18:25] bobbrow commented on #4459
From the linked issue:

[2019-10-18 18:25] sean-mcmanus commented on #4434
Okay, I'm closing this -- if anyone has more repro details of another bug, that can go in a new issue.

[2019-10-18 18:25] #4434 closed, assigned to nobody

[2019-10-18 18:44] yeggles commented on #2266
I just ran into this issue.  Was this ever resolved?

[2019-10-18 18:46] yeggles commented on #4073
I deleted my comment since this issue appeared to be most relevant to what I am seeing:
[https://github.com/Microsoft/vscode-cpptools/issues/2266](url)

[2019-10-18 20:36] sean-mcmanus opened #4460 "Outline view shows extra stuff when a folder is added that exists as a files.exclude in another folder"
1. Open a folder that has a files.exclude for a subfolder.
2. Add that subfolder as an additional root folder.
3. Open a file in that folder.

Bug: The outline view shows a bunch of garbage and extra stuff.

[2019-10-18 20:37] sean-mcmanus commented on #4445
We got a repro on Linux -- seems to repro with any multi-root folder.

[2019-10-18 20:49] CelticMinstrel opened #4461 "Outline does not list function-local structs or classes"
**Type: LanguageService**

- OS and Version: Win10
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0

A `union`, `struct`, or `class` nested in a function body is not shown in the outline.

**To Reproduce**

Create a document with the following code and activate the Outline View.

[code]

**Expected behavior**

I would expect `mystruct` to be nested under `main` in the outline (with `bre

[2019-10-18 20:50] sean-mcmanus commented on #4366
The context-awareness (or type checking) is shown for "confirmed results" which are reported in the top section. If you don't have any results there then the IntelliSense type checking could be failing somehow. The "other results" can group by file or by "reference type".

[2019-10-18 20:55] sean-mcmanus commented on #4461
Yeah, I noticed TypeScript does this -- however, our document symbol parsing code only runs at the global scope, so we don't have the local variables or local classes available, unless we somehow did an additional query from the IntelliSense process.

[2019-10-18 20:56] CelticMinstrel commented on #4461
I could see reason not to show local variables, as that might clutter the outline; but at the very least, local classes with member functions should be shown in my opinion.

[2019-10-18 21:03] sean-mcmanus commented on #4461
I have filed a VS bug https://developercommunity.visualstudio.com/content/problem/784673/cc-local-function-scopes-are-not-shown-in-the-navi.html . So if they fix that, then maybe we could get their fix or do something similar.

[2019-10-18 21:12] puremourning commented on #3829
For anyone else in a bind, if you can get gdb to work `brew install gdb`, then follow the instructions to codesign gdb, then setting `miMode` to gdb makes the cpptools debugger work again (at least under vimspector)

[2019-10-18 21:36] bobbrow commented on #2266
The solution is [here](https://github.com/microsoft/vscode-cpptools/issues/2266#issuecomment-490678031).  VS Code doesn't know the basepath for relative paths, so you need to tell it.

[2019-10-18 21:51] bobbrow commented on #2544
This looks like a duplicate of #2564

[2019-10-18 21:51] #2544 closed, assigned to nobody

[2019-10-19 00:04] sean-mcmanus opened #4462 "Find All References (and Rename) gets stuck (doesn't work) after doing the operation on files belong to different workspaceFolders"
With a multroot workspace, do Find All Refs (or Rename) with a file belonging to one workspace and then do an operation on a file in another workspace.

Bug: The Find All References gets stuck.

[2019-10-19 02:31] sean-mcmanus opened #4463 "Setting intelliSenseEngine to "Disabled" has no effect for folders in a workspace"
...it only works if the setting is set on the workspace itself (or in the non-multiroot scenario).

Ideally, certain folders could have the language server stuff disabled, but maybe that's too unusual of a scenario to worry about?

[2019-10-19 02:35] wgqimut commented on #4452
@sean-mcmanus the symbol  is a function which uses some macro definition, I'm not sure which macro evaluation failed make the symbol founding failed, the whole tag parsing process's error message is just `Tag parsing XXX.c/h encountered a error, but it may not matter. Let us know if symbols in the file can't be found`, but for the file contains the missing symbol, the tag parsing is okay.

[2019-10-19 05:55] sun-xm commented on #1270
Is there a way to append includePath in workspace c_cpp_properties.json to the default one defined in the user's global settings.json but not to overwrite it?

[2019-10-19 16:50] rei-vilo commented on #742
@bobbrow It works fine.

Where can I find the documentation related to this feature? Pages [Customizing default settings](https://code.visualstudio.com/docs/cpp/customize-default-settings-cpp) and [c_cpp_properties.json reference](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference) for the **C++ extension**, and page [Integrate with External Tools via Tasks](https://code.visu

[2019-10-19 20:15] koutoftimer opened #4464 "With non-EN display languages: Unable to create 'launch.json' file inside the '.vscode' folder (Cannot read property 'name' of undefined)."
Type: Debugger

**Describe the bug**
- OS and Version: Win 10
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0
- Other extensions you installed (and if the issue persists after disabling them): no other extensions installed

Following [Get Started with C++ and Mingw-w64][1] and stopped at "Configure debug settings" because of an error message "Unable to create 'launch.json' file inside

[2019-10-20 02:41] lattice0 opened #4465 "The CPP extension keeps running at 40% CPU even if I leave vscode minimized for 12 hours"
**Describe the bug**
- OS and Version: Debian 9
- VS Code Version: 1.39.2
- C/C++ Extension Version: 0.26.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is:

Even if I let vscode minimized (that is, I do no work on it), the extension keeps running at 25% or even 40% CPU usage, even if I go to sleep. There's no

[2019-10-20 07:44] sky3141 commented on #4464
Same problem, and v0.25.1 works well.

[2019-10-20 14:51] z7z8th commented on #1527
This issue blocked me several days until I know it's caused by UTF BOM.
After some debugging, I found that the BOM does not come from the PIPE, but comes from the input stream of the debugger(gdb for me).

In file https://github.com/microsoft/MIEngine/blob/master/src/WindowsDebugLauncher/DebugLauncher.cs :
I think the UTF BOM is already in the BaseStream when creating the debugger process.
So the

[2019-10-20 15:16] mxdh opened #4466 "Template class cannot be displayed as a tree view in the outline"
Issue Type: <b>Bug</b>

**Type: LanguageService**

**To Reproduce**
[code]

**Screenshots**
<img width="960" alt="批注 2019-10-20 230534" src="https://user-images.githubusercontent.com/20399194/67161705-90663100-f38f-11e9-8799-bf4c1f38d704.png">

**Expected behavior**
<img width="960" alt="批注 2019-10-20 230753" src="https://user-images.githubusercontent.com/20399194/67161713-9d832000-f38f-11e9-91a5-

[2019-10-20 15:59] CodingByteFly commented on #3140
I have the same problem. If I setting "externalConsole:false",I can't see the result of `printf("hello world!");`and I can't enter the content by using th interge terminal when the scanf() was used.
What vscode-cpptools version I used is 0.26.0.

[2019-10-20 21:00] manassingh2611 commented on #883
I want you to add a feature to escape formatting for a line or a block of text to get results like this:
[krijgertje's solution](https://codeforces.com/contest/1200/submission/58929470)
 Some code is better understood when written in one line.
What I suggest is a quick key combination like <kbd> CTRL</kbd> + <kbd>/</kbd> which comments a line when no text is selected or comments an entire selectio

[2019-10-20 21:34] hk2281 commented on #1322
why the extension of intellisense for vscode, does not highlight possible compilation errors

[2019-10-21 01:24] shelfofclub commented on #1322
???

[2019-10-21 01:45] phanthaiduong22 commented on #1527
Excuse me, Where is DebugLauncher.cs located in my computer.

Thanks

[2019-10-21 02:59] z7z8th commented on #1527
@phanthaiduong22
You need to download the MIEngine source code to get that file. It's part of the source code of the c/c++ extension. the source code needed to be built in visual studio to generate windowsdebugadapter.exe and serveral other files. but your problem is not related to this issue.

[2019-10-21 03:19] zhangyafeikimi opened #4467 "Any plan to support code disasm and CPU register window for debugging?"
Any plan to support code disasm and CPU register window for debugging?

[2019-10-21 03:25] zhangyafeikimi opened #4468 "clang-format failed to work when style=file"
- VSCode Version: 1.39.1
- OS Version: macOS 10.13.6

Steps to Reproduce:

1. My settings.json include the following lines:
[code]
Note that the default style is *file*.
2. Dump a clang format config at the project root dir:
[code]
3. Edit a .cc file in a *messy* format, then save it.
The file remains the same.

[2019-10-21 06:53] nattgris commented on #2266
As I said in https://github.com/microsoft/vscode-cpptools/issues/2266#issuecomment-434703970 , any fixed build path, regardless of how it's configured, will not solve the full problem. But since the OP's specific problem can use the mentioned solution, maybe the lack of make-style subdir tracking should be handled in a separate issue?

[2019-10-21 07:22] hensz opened #4469 "command 'C_Cpp.Navigate' not found"
Hi there!

Since some time, the command C_Cpp.Navigate is not working anymore, I get the above mentioned error message. This occurs both with native VS Code (1.35.0) on my Linux box (SLES 12.3) with cpptools v0.26.0 and on my Windows VS Code (1.39.1) with cpptools v0.26.0 with using Remote Development.

The command worked fine since when I started to use VS Code. Even if the index was wrong, I use