[2019-06-13 17:42] #3749 closed, assigned to nobody

[2019-06-13 17:44] bobbrow commented on #3749
And as far as a recommendation goes, we use the "CMake Tools" extension by `vector-of-bool` and are pretty satisfied with it.

[2019-06-13 17:46] daldr-ntml commented on #3749
@bobbrow Thanks very much for your help.

[2019-06-13 18:48] sean-mcmanus commented on #3731
@feijie825 You can change the C_Cpp.errorSquiggles setting.

[2019-06-13 19:01] sean-mcmanus commented on #3764
We have pending "fix" for a similar issue caused when 2 files with different casings get opened by VS Code on Windows: https://github.com/microsoft/vscode-cpptools/issues/3229 . However, our fix is just to give users a warning and disable IntelliSense. We really want VS Code to stop opening 2 different editors for the same file -- this can also occurs on Linux with symlinks too (there's an existin

[2019-06-13 20:12] sean-mcmanus opened #3765 "c_cpp_properties.json squiggles don't appear for multiple occurrences of errors"
Use something like

[code]

There's a squiggle on the 1st "0" and the "1", but not the 2nd "0".

Regression starting with 0.23.0.

[2019-06-13 21:07] cur1ousss commented on #647
but isnt LLVM for macOS?
i am beginner so please correct me if i am wrong
also could you please explain how to solve the error for linux system example ubuntu

[2019-06-13 21:16] sean-mcmanus commented on #647
@cybrpnkkrtos LLVM is cross-platform: http://releases.llvm.org/download.html , but not installed on Linux by default usually.

[2019-06-13 21:52] sean-mcmanus opened #3768 "IntelliSense sometimes enters an invalid state after making edits, closing the file without saving, then reopening it"
Use some code in a saved C++ file, then make some edits, close the file without saving changes, and then reopen the file.

Bug: IntelliSense sometimes enters an invalid state, as if it's operating on the doc with the unsaved edits. This can cause the colorization to appear incorrect (or other stuff based on IntelliSense, such as hover, reference highlighting, go to def, etc.).

[2019-06-14 03:41] YassinMahmoudEl-Zouhery commented on #3740
which visual studio are you using

[2019-06-14 06:05] lluo-rbx commented on #3270
Any updates on this issue? This is also happening constantly on extension version 0.23.1 with vscode version 1.35.1 - loading a fairly large C++ project causes the "connection got closed" to appear every 5 or so minutes, and before that the CPU usage of `Microsoft.VSCode.CPP.Extension.darwin` (and some other similar/related processes) is insanely high (~90% CPU usage, and the fan is spinning like

[2019-06-14 07:40] aeschli commented on #3764
Different casing would explain it. When comparing remote URIs we do this always case insensitive. That's of course not really correct.
Can you query the real file name of the header file before opening it?

[2019-06-14 07:56] mgr-inz-rafal commented on #2266
I'm not sure, but I think I tried such regex or similar. Even though it correctly matches the groups (see the picture below), VSCode still takes me to the top of the file.

![image](https://user-images.githubusercontent.com/22395284/59493058-a5cfc980-8e8a-11e9-8204-ef4a11b40d60.png)

[2019-06-14 08:04] graphitemaster opened #3771 "The non-standard interface identifier breaks intellisense"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux x64 5.1.3-arch1-1-ARCH
- VS Code Version:
Version: 1.35.0
Commit: 553cfb2c2205db5f15f3ee8395bbd5cf066d357d
Date: 2019-06-05T22:12:50.056Z
Electron: 4.1.4
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.30-electron.0
OS: Linux x64 5.1.3-arch1-1-ARCH
- C/C++ Extension Version: 0.23.0
- Other extensions you installed (and if t

[2019-06-14 10:48] feijie825 commented on #3731
@sean-mcmanus  Thank you. I've tried to change the settings.  But it didn't work.

[2019-06-14 13:20] dcharkes opened #3772 "Debugging with gdbserver64 on android: Unable to start debugging. The target process has exited."
Type: Debugger

I cannot use VSCode to debug with gdbserver on an android phone, even though using gdb on commandline works.
gdbserver exits as soon as VSCode connects, which in turn makes the debugger report that the target process has already exited.

**System**
- OS and Version: Linux Debian 4.19.37-2rodete1
- VS Code Version: 1.31.1
- C/C++ Extension Version: 0.23.1
- Other extensions you inst

[2019-06-14 13:36] isidord opened #3773 "Unable to start the C/C++ language server. IntelliSense features will be disabled. Error: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined"
**Type: LanguageService**

**Describe the bug**

The extension doesn't work.
I have the error message:

"Unable to start the C/C++ language server. IntelliSense features will be disabled. Error: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined"

- OS and Version: win 10
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.23.0
- Other extensio

[2019-06-14 13:37] sandy081 opened #3774 "Flag machine specific configurations like paths as machine scoped"
I am developer from VS Code and we introduced Machine Scope for configurations in [1.34](https://code.visualstudio.com/updates/v1_34#_machinespecific-settings) which will help in [remote set ups](https://code.visualstudio.com/docs/remote/remote-overview).

I would like to encourage extension authors to adopt to machine scope if you have any settings that you think they are scoped to machine like `

[2019-06-14 16:01] jiayuqicz commented on #15
you also have to install gnu-global，And run command “gtags” in the root of project.
1. download: http://adoxa.altervista.org/global/
2. add /bin to your PATH
3. run command "gtags" in the root of project.

![image](https://user-images.githubusercontent.com/6240102/59522074-647a0100-8f00-11e9-8401-ed2a85c251d2.png)

[2019-06-14 16:57] yamcenutzer commented on #296
ahh,
find all references has been moved again

[2019-06-14 19:19] sean-mcmanus opened #3776 "Tag Parser crash in get_identifier_details"
Any updates on this issue? This is also happening constantly on extension version 0.23.1 with vscode version 1.35.1 - loading a fairly large C++ project causes the "connection got closed" to appear every 5 or so minutes, and before that the CPU usage of `Microsoft.VSCode.CPP.Extension.darwin` (and some other similar/related processes) is insanely high (~90% CPU usage, and the fan is spinning like

[2019-06-14 19:25] sean-mcmanus commented on #3776
@lluo-rbx We need more info. The issue you originally posted to was a different repro with the same error message.

It sounds like the process is crashing. Can you provide the callstack of the crashing thread from crash logs at ~/Library/Logs/DiagnosticReports?

Can you try setting your C_Cpp.workspaceParsingPriority to "low" or using the C/C++: Pause Parsing command?

You could also temporarily e

[2019-06-14 20:18] pieandcakes commented on #3772
@dcharkes Can you enable the logging block? I see that you added the three properties to your launch.json but they need to be in a `"logging": {}` object.

[code]

[2019-06-14 20:26] sean-mcmanus commented on #3764
Our language server process does attempt to get the "real name" of the header file. I'm not able to repro the user's issue. A repro project might help.

[2019-06-14 20:26] bobbrow commented on #15
We're getting closer to having a preview available for this feature.  However, it doesn't look like it will be ready in time for our current release.  We plan to have it ready for Insiders in the first half of July.  Thank you for your patience and understanding.

[2019-06-14 20:29] bobbrow commented on #296
Yes, we have a bit more work to do on that feature, but are planning to have it ready for Insiders in the first half of July.

[2019-06-14 20:35] sean-mcmanus commented on #2266
What is the exact regular expression you're using in the json? e.g. the `\` will need to be escaped to `\\`.

[2019-06-14 20:49] sean-mcmanus commented on #3771
I believe it's caused by our "tag parser" being run with Microsoft C++/CLI and C++/CX mode enabled. It doesn't affect the IntelliSense results if IntelliSense is used for things like hover, but it does affect the symbols/outline view. VS has the same bug so I filed it at: https://developercommunity.visualstudio.com/content/problem/608651/cc-intellisense-struct-interface-is-incorrectly-pa.html . Yo

[2019-06-14 20:56] sean-mcmanus commented on #3731
@feijie825 How did you disable the squiggles originally?

[2019-06-14 21:17] lluo-rbx commented on #3776
Yes, lots of crash logs there! here is one below; note that this is not only happening on macOS, it also happens on Ubuntu 18.04 loading the same project (same vscode / cpptools versions) - I did change the parsing priority to low a while ago (following instructions from some other posts here), and 50% of the time the CPU usage is at 25%, but when the "connection got closed" message was about to s

[2019-06-14 21:23] lluo-rbx commented on #3776
Another one:
[code]

[2019-06-14 21:25] lluo-rbx commented on #3776
More if you want:
[code]

[2019-06-14 22:20] bobbrow commented on #230
We have released an [insiders build](https://github.com/microsoft/vscode-cpptools/releases/tag/0.24.0-insiders3) with the colorizer improvements.

We would encourage you to try out the feature and provide feedback on the experience.  Please note that many VS Code themes don't have full support for all of the code items (yet), so you might need to augment your themes with customizations.  There is

[2019-06-14 22:31] sean-mcmanus commented on #3773
Can you check the Toggle Developer Tool output to see if there's a call stack? We're not able to repro that -- do you know what could be special about your repro?

[2019-06-14 22:42] sean-mcmanus commented on #3776
Those are IntelliSense process crashes which are lower priority and don't lead to the "Connection got closed". Do you see any crash logs for "Microsoft.vscode.cpp.extension.darwin"?

The "low" 25% CPU usage is only for background parsing -- if you open a file it will trigger additional parsing that will use more CPU, but for a shorter period of time.

Fixing the IntelliSense process crashes usuall

[2019-06-14 23:08] sean-mcmanus commented on #3111
Fixed with 0.24.0-insiders (available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-14 23:10] sean-mcmanus commented on #3229
0.24.0-insiders shows a warning if files with different casing are opened (with IntelliSense disabled in the 2nd file), available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-14 23:12] sean-mcmanus commented on #3481
Fixed with 0.24.0-insiders (available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-14 23:14] sean-mcmanus commented on #3609
Fixed with 0.24.0-insiders (available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-14 23:16] sean-mcmanus commented on #3637
Fixed with 0.24.0-insiders (available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-14 23:16] sean-mcmanus commented on #3642
Fixed with 0.24.0-insiders (available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-14 23:18] sean-mcmanus commented on #3655
Fixed with 0.24.0-insiders (available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-14 23:19] sean-mcmanus commented on #3662
Fixed with 0.24.0-insiders (available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-14 23:19] sean-mcmanus commented on #3685
Fixed with 0.24.0-insiders (available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-14 23:19] sean-mcmanus commented on #3690
Fixed with 0.24.0-insiders (available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-14 23:20] sean-mcmanus commented on #3712
Fixed with 0.24.0-insiders (available by setting "C_Cpp.updateChannel" to "Insiders").

[2019-06-15 00:31] camilojm27 commented on #3700
![image](https://user-images.githubusercontent.com/14319090/59544784-e0f9e900-8eda-11e9-8a14-aa9909a93c60.png)
I have the same issue, the linting does not work after the last update

[2019-06-15 00:37] sean-mcmanus commented on #3700
@camilojm27 Where in your screenshot do you expect a squiggle?

Can you provide more repro info?

You may also want to try 0.24.0-insiders: https://github.com/microsoft/vscode-cpptools/releases/tag/0.24.0-insiders

[2019-06-15 00:44] camilojm27 commented on #3700
![image](https://user-images.githubusercontent.com/14319090/59544916-8bbed700-8edc-11e9-96c9-712187b63c22.png)

@sean-mcmanus i have the insiders one and this is what the code should look like

[2019-06-15 01:03] sean-mcmanus commented on #3700
The Insiders build added it's own IntelliSense-based semantic colorization. It sounds like you're experiencing a bug with that? You can disable it by changing C_Cpp.enhancedColorization. If you can give more details about what Color Theme you are using we could investigate a repro.

[2019-06-15 05:00] bobbrow commented on #3700
I repro with the Tomorrow Night Blue theme built in to VS Code.  It looks like we broke some themes.  This should move to a new issue though.

[2019-06-15 05:08] bobbrow opened #3779 "0.24.0-insiders - Syntax colorization broken on some themes"
**Type: LanguageService**

In 0.24.0-insiders, there are some themes rendering the syntax highlighting incorrectly.  if this affects your theme, please add a comment to this issue.  We are working out which ones were broken with our syntax highlighting change.

To disable the new syntax highlighting, set `"C_Cpp.enhancedColorization": "Disabled"` and you will get the old behavior again.

Known the

[2019-06-15 05:13] bobbrow opened #3780 "0.24.0-insiders - Syntax colorization showing incorrect background color for highlighted lines"
**Type: LanguageService**

Some themes highlight the selected line with a color that doesn't match the unselected lines' background color.  In these cases the new syntax highlighting doesn't honor the theme.  This affects multiple themes.

It gets more visible when you select things:
![image](https://user-images.githubusercontent.com/12818240/59547339-40172800-8ef2-11e9-9a3a-81e9de085389.png)

To

[2019-06-15 05:49] bobbrow commented on #3700
I created #3779 and #3780

[2019-06-15 07:12] Victsz commented on #3731
Is it possible to take CMakelists, if there is one, as reference for include path searching?

[2019-06-15 08:31] notAlaanor opened #3781 "0.24.0-insiders - Noticeable latency with enhanced colorization"
**Type: LanguageService**

With Enhanced Colorization enabled there is a noticeable amount of latency when typing and simply moving around the document.

Disabling Enhanced Colorization immediately fixes this issue.

Note: Is this a flaw of using the Decorations API?

[2019-06-15 10:16] heimskr commented on #3780
I'm having this issue too for the same set of themes. It also affects my usual theme, unfortunately. I have a lot of other themes installed too (too many, really—still trying to find the perfect theme) and I went through them to check which ones are affected. I first started experiencing the issue within the past few hours or so. Before then, everything worked fine.

Affected:
- Abyss
- Clymate Po

[2019-06-15 11:21] diabolicle commented on #3546
VSCode recently added the ability to hide statusbar items so I'm going to close this issue.

[2019-06-15 11:21] #3546 closed, assigned to nobody

[2019-06-15 11:41] manasjoshi14 commented on #3779
Affects the Monokai theme.
"C_Cpp.enhancedColorization": "Disabled" resolved it.

[2019-06-15 15:27] Pigzaum commented on #3779
This is affecting the Atom One Dark when using `"editor.renderWhitespace": "all"`.
The white spaces inside a comment are highlighted in the same color as words, for example:

![comment](https://user-images.githubusercontent.com/14007530/59553219-67a8d780-8f68-11e9-8f38-3191d1d20444.png)

`"C_Cpp.enhancedColorization": "Disabled"` resolved it as well.

[2019-06-15 15:30] matepek opened #3782 "Showing the documentation for virtual methods through inheritance."
Hello,

I usually document the interface like:
[code]

Documenting the `override`-ed method is often redundant so I don't do it much.

It would be nice if the hover would show the interface's documentation for the overridden method (if it is not provided for it of course).

[2019-06-15 18:10] TurkeyMan commented on #2932
I have a colleague who prefers VSCode to our company standard VS rollout, and this ticket would really help him with his workflow.

[2019-06-15 18:16] gregg-miskelly commented on #2932
@TurkeyMan is your scenario also for D language support? If not, can you elaborate a bit more on your scenario.

[2019-06-15 18:23] raiadi2008 opened #3783 "shows problem for __gcd(num1, num2)"
Issue Type: <b>Bug</b>

the __gcd(num1, num2) shows error in problem section how ever its a part of algorithm standard header which i have explicitly mentioned in the program but still it shows error however compilation gives no problem at all

Extension version: 0.23.1
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 10.0

[2019-06-15 18:24] raiadi2008 commented on #3783
![Screenshot (3)](https://user-images.githubusercontent.com/49565745/59554949-cd2cb080-8fc8-11e9-91ea-df08d9e80557.png)
this is one of the sample

[2019-06-15 18:40] TurkeyMan commented on #2932
Yes, it is @rainers work (above) specifically that I refer to. He maintains an unusually high quality language integration to VS, and it would be nice to have that experience available to VSCode aswell.
Our studio uses VS primarily, but some users prefer VSCode.

[2019-06-15 18:43] TurkeyMan commented on #2932
Currently, those users have VS and VSCode both open, they edit in Code, and switch back to VS to build & run, which looks very annoying to me as a bystander ;)

[2019-06-15 18:59] adyavanapalli commented on #2025
Just for future readers:
I got it to work without including any headers in the `"defines"` array. My `.vscode/c_cpp_properties.json` file contained the following configuration:

[code]

My guess is that having `"intelliSenseMode"` set to `"${default}"` (which defaults to `"gcc-x64"`) fixes the issue.

[2019-06-15 20:17] pLago123 opened #3784 "Broken highlight selection"
Issue Type: <b>Bug</b>

version 0.24 cannot display highlighter when selecting text for this extension. I have to rollback to the previous 0.23.1

Extension version: 0.23.1
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i

[2019-06-15 21:08] shalva97 commented on #3784
same problem here, default themes are ok but all others are broken
![image](https://user-images.githubusercontent.com/22417494/59556405-1bdf4800-8fd3-11e9-871f-f86a96b9c0e9.png)

[2019-06-15 23:00] lluo-rbx commented on #3776
Okay, so this is pretty consistent, all the crashes pretty much generate the same output as below: (hope this helps)

[code]

[2019-06-16 00:19] hmarcuzzo commented on #3784
Same problem here!

[2019-06-16 01:32] hferreiro commented on #3664
Please consider using $XDG_CACHE_HOME and fall back to ~/.cache on Linux following the XDG Base directory specification: https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

There's a comprehensive proposal on how files should be organized in each platform for vscode here: https://github.com/microsoft/vscode/issues/3884.

[2019-06-16 03:18] bobbrow commented on #3784
Thanks for reporting this issue. We are tracking it with #3780.

[2019-06-16 03:18] #3784 closed, assigned to nobody

[2019-06-16 09:35] TomiCode commented on #3779
Also affects the [vscode-ayu](https://github.com/ayu-theme/vscode-ayu) themes, example below. Of course disabling the mentioned option fixes the issue.
<img width="523" alt="Zrzut ekranu 2019-06-16 o 11 34 05" src="https://user-images.githubusercontent.com/1648325/59562251-b323ba00-902a-11e9-9787-c3a04a8c9be0.png">

[2019-06-16 13:24] vng opened #3786 "[0.24-insiders][macos] Dummy error in output after opening file with Cmd+click"
**Type: LanguageService**
Always getting this error when opening file with Cmd+click:
[code]
**Describe the bug**
- OS and Version: MacOS latest
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.24-insiders
- Other extensions you installed (and if the issue persists after disabling them): CMake, Python, Rust

**To Reproduce**
[code]

Just open any file with Cmd+click on any symbol ...

**Expe

[2019-06-16 16:07] 52coder commented on #3786
Got this problem too with 10.14.5 (18F132) with newest vscode and 0.24.0-insiders ,full warning message:

This file (/Users/coder52/Downloads/vscode/mycode/handle_message.h) is already opened in the editor but with a different casing. IntelliSense features will be disabled on this copy of the file.

Also I got a problem with terminal suddenly appear with some json error.

[2019-06-16 16:17] 52coder commented on #3786
cpptools sometimes will produce some error with this problem,maybe it's a same problem，I tried just open one vscode,still got the same error message.

[Error - 12:14:08 AM] Connection to server got closed. Server will not be restarted.
[Error - 12:14:08 AM] Request textDocument/hover failed.
Error: Connection got disposed.
	at Object.dispose (/Users/coder52/.vscode/extensions/ms-vscode.cpptools-0.

[2019-06-16 20:31] tomasiser commented on #3779
@Pigzaum
Whitespace character rendering in comments has wrong colors also in the default theme:
![image](https://user-images.githubusercontent.com/10374559/59569179-37575b00-9086-11e9-80c6-dc4f018208d5.png)
I believe it should have the same color as everywhere else.
Furthermore, changing the color with:
[code]
does not affect the comments.

The same problem occurs with strings:
![image](https://us

[2019-06-16 22:12] Sean-Nerq commented on #3430
I tried with gdb and it worked

[2019-06-16 22:12] #3430 closed, assigned to nobody

[2019-06-16 23:27] zrno commented on #3786
same problem on windows 10.

[2019-06-17 05:00] mohsenomidi opened #3787 "Can not format via ssh: There is no formatter for 'cpp'-files installed"
Hi,

C++ formatter on remote host

**Describe the bug**
- OS and Version: Microsoft Windows 10 Enterprise (10.0.17763 N/A Build 17763)
- VS Code Version: 1.35.1
- C/C++ Extension Version: 023.1
- Other extensions you installed (and if the issue persists after disabling them): "Kelvin Schoofs(SSH FS) version (1.16.2)
- A clear and concise description of what the bug is:

I am using vscode for my C+

[2019-06-17 07:01] Lak4CYUT commented on #234
God, you solved my big problem!! Thanks.

[2019-06-17 07:05] mgr-inz-rafal commented on #2266
I use the one you proposes, copy&pasted as is in your post. Just to create the picture above I had to modify it slightly.

To increase sureness, this is my entire tasks.json as it is right now. VSCode still only jumps to the top of the file.

[code]

[2019-06-17 07:26] aeschli commented on #3764
@wanghc78 added in https://github.com/microsoft/vscode-remote-release/issues/666#issuecomment-502562212:

Here is a screenshot for a C project (jerryscript https://github.com/jerryscript-project/jerryscript). You can see the same file is opened from two paths
- _jerry-core/include/jerryscript.h_
- _/mnt/d/workspace/IoT/jerry-core/include/jerryscript.h_

![jerry](https://user-images.githubuserconte

[2019-06-17 08:30] jugglingcats commented on #3740
Hi @pieandcakes, sorry for delay following up. I have the same as you:

[code]

[2019-06-17 08:30] dcharkes commented on #3772
@pieandcakes here is the output of logging: https://gist.github.com/dcharkes/c8791385ca1cd56649359a998ab00f24

[2019-06-17 08:35] HaoQChen commented on #2890
It does not work for me. My Qt version is 5.10.

[2019-06-17 08:53] pedzed commented on #3586
Related: https://github.com/Microsoft/vscode/issues/71579

[2019-06-17 12:23] Timmmm opened #3788 "Issue with externalConsole when Debugging via SSH"
- Type: Debugger
- OS and Version: macOS 10.14.4
- VS Code Version: 1.36.0-insider (f291714906cdcb02830b8cfe2485a3c23415b5fe)
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): Remote - SSH

If I connect to a Linux system from Mac using the `Remote - SSH` extension, and then I try to debug a C++ program using this extension it works

[2019-06-17 14:54] Dantee296 commented on #3161
@WardenGnaw i am facing same issue , any update here

[2019-06-17 16:11] Xenoamor commented on #3183
For what it's worth putting the root workspace as the last one also worked for me

[2019-06-17 16:31] ScreamZ opened #3789 "No auto-completion on typescript interface with classes implement"
**Type: LanguageService**
**Describe the bug**
- macOS Mojave 10.14.5
- VSCODE : 1.35.1
- TS 3.5.1

**To Reproduce**

Create a file with the following :
[code]

In constructor or any method using `this.` and auto-completion doesn't give anything.

But if I give the wrong types, the compiler complain (also red line on IDE).

**Expected behavior**

I should get auto-completion.

[2019-06-17 17:21] Colengms commented on #3779
Please upvote the following issue: https://github.com/microsoft/vscode/issues/49462

[2019-06-17 17:37] Colengms commented on #3780
Please up-vote the following issue: https://github.com/microsoft/vscode/issues/75642

[2019-06-17 17:47] jpan127 opened #3790 "Highlighting screwed up"
Issue Type: <b>Bug</b>

The most recent update caused many themes to invert the highlighting of text.  If I highlight a block of text, many of the tokens are not highlighted, but the spacing is.  I have tried a few themes and they are broken now.

Extension version: 0.24.0-insiders
VS Code version: Code - Insiders 1.36.0-insider (15b7c86d86319b187a5ef255c170184a8519c5af, 2019-06-14T10:33:50.651Z)

[2019-06-17 17:50] gregg-miskelly commented on #2932
Makes sense. This is something we are interested in supporting, but we haven't yet found the cycles to go and implement it.

[2019-06-17 17:51] Colengms commented on #3790
This is a dupe of: https://github.com/microsoft/vscode-cpptools/issues/3780

To disable the new syntax highlighting, set "C_Cpp.enhancedColorization": "Disabled" and you will get the old behavior again.

The underlying VS Code issue is here: https://github.com/microsoft/vscode/issues/75642

[2019-06-17 17:57] jpan127 commented on #3790
Thank you, will close.

[2019-06-17 17:57] #3790 closed, assigned to nobody

[2019-06-17 18:07] pieandcakes commented on #3772
In the log I see the following two lines:

[code]
Do either of those errors mean anything to you? I don't know what is in the `.gdbinit` file or why its looking for the other file and if failing to find it is stopping debugging.

We also see:
[code]
which seems to be what the error is telling us, that the target process has exited. I don't know if that is expected either.

[2019-06-17 18:45] sean-mcmanus commented on #3764
@wanghc78 What source file are you opening? Your database could have corrupt data. Could you try doing a Reset IntelliSense Database command?

In WSL "mode", I opened that jerryscript-master folder and created a jerryscript.c file next to the jerryscript.h file and did SwitchHeaderSource but it went to the 1 correct file (without the /mnt shown in the breadcrumb). I was using VS Code Insiders.

[2019-06-17 18:56] sean-mcmanus commented on #3779
One potential "fix" for the the editor.renderWhitespace issue is:
1. If the user has the "all" setting set, then disable enhancedColorization by default.
2. If the user has the "boundary" setting set, then exclude > 1 whitespace from decorations.

[2019-06-17 20:05] sean-mcmanus commented on #3731
@Victsz You can use the CMake Tools extension and set the configurationProvider (in c_cpp_properties.json, or the C_Cpp.default one) to "vector-of-bool.cmake-tools".

[2019-06-17 20:40] sean-mcmanus commented on #3782
VS 2019 doesn't implement this feature either. It looks like it would be possible, but not currently high on our priority list.

[2019-06-17 20:55] sean-mcmanus commented on #3783
What implementation of algorithm are you using? What language standard? I'm seeing std::gcd being part of the numeric header with C++ 17. I don't see __gcd in algorithm. If you do a C/C++: Log Diagnostics command you can see what includePath and compiler is being used. You might be using the wrong library that doesn't have __gcd defined. Also, it would help to provide the text of the "problem" so

[2019-06-17 21:12] michelleangela commented on #3644
This issue only occurs when making edits on the VS Code settings UI editor. The text field of the UI editor auto saves too fast while typing. Therefore whenever it saves as a user is typing, the extension gets incomplete input value for the IntelliSense path.

This fast auto saving is due to VS Code issue [Auto save in new settings results in multiple validation errors when typing text]( https://g

[2019-06-17 21:55] sean-mcmanus commented on #3776
It looks like the crash started with 0.22.1 after we introduced IntelliSense caching for Mac. Does setting your IntelliSenseCacheSize to 0 fix the issue for you? Or does reverting back to 0.22.0 fix the issue?

I've filed an internal bug on VS for the parser crash as well.

If you could [enable debug logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Ena

[2019-06-17 21:59] michelleangela commented on #3644
Two workarounds:
- Edit the IntelliSense path in the settings.json file. The extension will only get a notification change when the json file is saved.
- Instead of typing the path on the VS Code settings UI editor, copy the complete value for the path into the input text field.

[2019-06-17 22:33] laura-ft commented on #2546
you can also go into files->preferences->settings ( or simply do ctrl+, ) and search for squiggles ( they can be found in workspace ) and there it shows its current state, from where you can change it to enabled again

[2019-06-17 22:55] sean-mcmanus commented on #3787
It sounds like you need to install the C/C++ extension or some other formatting extension on the remote machine. Are you able to format with some other extension like the clang-format extension? That "there is no formatter" message is from VS Code itself, so I'm not sure how our extension could be causing it.

[2019-06-17 22:57] sean-mcmanus commented on #3786
That "different casing" code is only supposed to run on Windows. @andreeis Are you able to investigate this?

[2019-06-17 22:58] sean-mcmanus opened #3792 "Crash with hover"
cpptools sometimes will produce some error with this problem,maybe it's a same problem，I tried just open one vscode,still got the same error message.

[Error - 12:14:08 AM] Connection to server got closed. Server will not be restarted.
[Error - 12:14:08 AM] Request textDocument/hover failed.
Error: Connection got disposed.
	at Object.dispose (/Users/coder52/.vscode/extensions/ms-vscode.cpptools-0.

[2019-06-17 23:00] sean-mcmanus commented on #3792
This is our top crash with Insiders. Unfortunately, I'm not seeing what the cause is from the crash call stacks.

@52coder Can you provide any more info on how to get the crash to occur? What is special about what you are hovering over or what actions are required to get the repro? Is the repro only when the "different casing" issue occurs?

[2019-06-17 23:14] sean-mcmanus commented on #2266
That is strange. I don't see why that isn't working. It could be a VS Code bug.

[2019-06-17 23:17] sean-mcmanus commented on #3789
Please file the bug at https://github.com/microsoft/TypeScript/issues or https://github.com/microsoft/vscode/issues . This is for the C/C++ extension.

[2019-06-17 23:17] #3789 closed, assigned to nobody

[2019-06-18 00:23] WardenGnaw commented on #3161
@Dantee296 Can you [enable logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and share it here? This will help with the investigation.

[2019-06-18 00:35] Dantee296 commented on #3161
@WardenGnaw

1: (149) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'
1: (161) LaunchOptions  ExePath='/Users/dantee296/Desktop/Working/GitProject/Library-iPhone/libusbmuxd/tools/iproxy-iproxy.o'
1: (161) LaunchOptions  WorkingDirectory='/Users/dantee296/Desktop/Working/GitProject/Library-iPhone/libusbmuxd'
1: (161) LaunchOptions  ExeArguments=

[2019-06-18 00:36] Dantee296 commented on #3161
**Task.json**

{
    // See https://go.microsoft.com/fwlink/?LinkId=733558
    "version": "2.0.0",
    "tasks": [
        {
            "label": "echo",
            "type": "shell",
            "command": "make",
            "args": [],
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "problemMatcher": []
        }
    ]
}

**Laun

[2019-06-18 01:55] Lennon925 commented on #3782
I hope cpptools can implement this feature "go to implement" so that we can use class inheritance.

[2019-06-18 02:34] wanghc78 commented on #3764
I used Ctrl+Shift+P, and then "C/C++: Reset IntelliSense Database".  The problem is still there.

I opened _jerry-main/main-unix-snapshot.c_, and Ctrl+click the `#include "jerryscript.h"` line to open _jerryscript.h_.

But I found another information to help you repeat the bug. The project's absolute path inside WSL is _/mnt/d/workspace/IoT/jerryscript_. But I also created a symbolic link at my ho

[2019-06-18 02:40] sean-mcmanus commented on #3764
Okay, yeah that symlink is the cause. It could be https://github.com/microsoft/vscode-cpptools/issues/3288 or https://github.com/microsoft/vscode-cpptools/issues/2140.

[2019-06-18 02:44] raiadi2008 commented on #3783
Intelli sense Mode : msvc-x64,
adding the numeric header does no help.
changed the c++ standard to c++17.
issue still exist

[2019-06-18 02:47] raiadi2008 commented on #3783
i don't understand the statement "what implementation of algorithm are you using?" probably cuz i am just a 2nd year student at my college.

[2019-06-18 02:51] sean-mcmanus commented on #3783
It sounds like you're using the MSVC implementation. Do you know what version? I don't believe __gcd is implemented by the MSVC headers. If you're intending to compile with gcc/clang headers instead, you should set your compilerPath to your compiler you're using (and change the intelliSenseMode).

[2019-06-18 02:54] raiadi2008 commented on #3783
thank you, changing the intellisense mode to clang or gcc completely resolves my problem

[2019-06-18 03:00] #3783 closed, assigned to nobody

[2019-06-18 04:42] TallOrderDev commented on #1863
Is there a VS code for mac version of this?

[2019-06-18 05:29] mohsenomidi commented on #3787
@sean-mcmanus thanks for your response.
for more clarification, my remote host is Ubuntu Linux Box, and it just like the remote drive, there is no development tools on it, and it can only accessible via ssh, then i can access on those files via ssh, therefore it is impossible to use any extension on that machine to format the codes.

Now i will access to my Linux files via network(SSH) and i edit

[2019-06-18 06:15] Dantee296 commented on #3161
@WardenGnaw any update

[2019-06-18 06:51] jsss333 opened #3794 "C++ for mac won't download or show in visual studio"
Downloaded it on Visual studio code but its not showing up when i launch VS? I have even tried parallels and visual box, nothing is working

[2019-06-18 06:54] jiyupack commented on #3792
I have the same problem.

[2019-06-18 08:10] ScreamZ commented on #3789
Allright, done :) Thanks

[2019-06-18 08:27] tusijun commented on #3792
same problem on my MacOS

[2019-06-18 09:01] firs003 commented on #3792
Same problem on Win7, but it disappears after I re-installed the earlier version 0.23.1

[2019-06-18 09:25] rj-leichen opened #3795 "Intellisense can interpret macro meanwhile displays squiggle saying "identifier undefined""
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1809
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.24.0-insiders
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Intellisense suddenly displayed squiggles under previously correct macros. When mouse hover on macro, it could

[2019-06-18 11:10] dcharkes commented on #3772
Ah good spotting! I put the two commands in there that I used in the command line.

[code]

Without the `.gdbinit` it works like a charm! :+1: Thanks!

[2019-06-18 11:10] #3772 closed, assigned to pieandcakes

[2019-06-18 13:49] Shachlan opened #3796 "Format on save creates gibberish"
macOS 10.14.15
VSCode 1.35.1 (also seen on previous versions)
C/C++ version: 0.23.1 (also seen on previous versions)
Other extensions -
alesiong.clang-tidy-linter
austin.code-gnu-global
CADENAS.vscode-glsllint
christian-kohler.npm-intellisense
christian-kohler.path-intellisense
dbaeumer.vscode-eslint
eamodio.gitlens
eg2.vscode-npm-script
esbenp.prettier-vscode
firsttris.vscode-jest-runner
formulah

[2019-06-18 14:07] frankzhangv5 commented on #3271
Ubuntu 19.04 Fix this bug:
sudo apt-get install libncurses5-dev
locate libncurses.so
# output : /usr/lib/x86_64-linux-gnu/libncurses.so.6
sudo ln -s /usr/lib/x86_64-linux-gnu/libncurses.so.6 /usr/lib/libtinfo.so.5

[2019-06-18 15:21] WardenGnaw commented on #3788
Issue can be due to runInTerminal with remote-ssh. Reported an issue at https://github.com/microsoft/vscode-remote-release/issues/723

[2019-06-18 15:42] WardenGnaw commented on #3161
Do you see a prompt when start debugging?

macOS requires authorization when running the debugger with Developer Tools. It should say something like
```Developer Tools Access is trying to take control of another process. Enter your password to allow this.```

If you do not have authorization then lldb will fail to `-exec-run`.

[2019-06-18 16:39] michelleangela commented on #3794
@jsss333 , are you referring to [Visual Studio for Mac](https://visualstudio.microsoft.com/vs/mac/)? Visual Studio for Mac does not support C++. You can upvote the feature request at https://developercommunity.visualstudio.com/content/idea/356171/support-projects-with-c-c14-c17-language-with-inte.html

[2019-06-18 17:49] wanghc78 commented on #3764
Thank you for figuring it out. It's similar to #3288, symbolic resolution caused two different paths.
- The VSCode Explorer uses the path following the symbolic link
- The cpp extension header/source flip or link through symbols follow the absolute path without symbolic link.

[2019-06-18 18:23] sean-mcmanus commented on #3796
Formatting works "in general", but it sounds like you're hitting an "unsupported scenario". Are you using a multi-root workspace? Does the Format Document command have the same effect? I would recommend setting the C_Cpp.formatting to Disabled and trying another C++ formatting extension to see if they have the same problem or not.

[2019-06-18 18:43] sean-mcmanus commented on #3795
The squiggle is coming from a different system (IntelliSense parsing) than the hover (tag parser), and the systems can use different search paths. Can you run the C/C++: Log Diagnostics command and verify that the info (i.e. include path) shown is sufficient to find the WAIT_TIME_DEF? Is this squiggle issue a regression from 0.23.1?

We're tracking the hover crash with https://github.com/microsoft

[2019-06-18 19:19] sean-mcmanus commented on #1863
@TallOrderDev VS Code (and our extension) is available for Mac.

[2019-06-18 19:28] sean-mcmanus commented on #3787
Hmm, it may also be a bug with the Kelvin Schoofs(SSH FS) extension, i.e. if the bug also repros with the clang-format extension. You could try using an alternative SSH extension like "Remote - SSH".

[2019-06-18 19:37] sean-mcmanus commented on #3792
Our current hypothesis is that the crash is caused by incorrect handling of invalid UTF-8 characters. We'll try to get a fix for our next Insiders. Until we release the fix, setting C_Cpp.updateChannel to "Default" may be your best workaround.

UPDATE: I believe we have fixed the issue. I think we can release an update with the fix "soon" (at least by Thursday).

UPDATE: There were 2 different cas

[2019-06-18 21:11] sean-mcmanus commented on #2936
This got fixed a long time ago.

[2019-06-18 21:11] #2936 closed, assigned to nobody

[2019-06-18 21:30] sean-mcmanus commented on #3786
@zrno What problem are you seeing on Windows? If you're just getting crashes that is being tracked by https://github.com/microsoft/vscode-cpptools/issues/3792 . Do you folders have case sensitivity enabled? Is there something special about the URIs/filenames that are being opened that might cause our code to incorrect think it's a duplicate?

[2019-06-19 00:39] sean-mcmanus commented on #3786
@andreeis Do you have enough info to fix this? I don't know how to repro it. I guess we could just disable all these code paths on Linux/Mac, even if we don't understand why it's failing.

Does anyone know what is special about the URIs that causes this issue to occur? Our code thinks a duplicate file is being opened. Are there symlinks on the path?

[2019-06-19 02:23] ducalex commented on #3786
I'm getting the same problem on windows 8.1 and cpptools 0.24.0-insiders. No two files of the same name exist in the project. No symlink. No network drive. Single VS Code instance open. The files in the log were not previously opened. It was working fine in previous cpptools.

Log after opening a few dozen random files in the project (most didn't trigger the error):

[code]

[2019-06-19 02:49] YangJiao1996 opened #3797 "[windows] [Visual C++] Unable to open 'exe_common.ini' error when stepping over"
Type: Debugger
**Input information below**

**Describe the bug**
- OS and Version: Windows 10.0.17763
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.24.0-insiders
- Other extensions you installed (and if the issue persists after disabling them):

| Extention | Version | If disabling works
|--------------------------|-----------------| -------|
| Anaconda Extension Pack | 1.0.1 | No
| Brack

[2019-06-19 02:52] zrno commented on #3786
@sean-mcmanus Same problems as @ducalex . Nothing spectacular in the uri of my files. I don't have crashes, only the annoying message pop up. Reverting the version fixed it.
`"C:\Projects\abc\ExampleModule\Submodule\SubSubModule\AlertSeverity.h"` just as an example.

[2019-06-19 03:32] manas42 commented on #3795
Downgrading to 0.23.1 solved the problem yesterday. I have upgraded to 0.24.0-insiders again but the problem has not been reproduced. Will upload more log if it occurs again.

[2019-06-19 04:59] sudiptog81 commented on #2610
I've fixed this issue by appending `"C:\\\\Program Files (x86)\\\\Arduino\\\\hardware\\\\tools\\\\**"` to the `includePath` array in `.vscode\c_cpp_properties.json`.

[2019-06-19 05:29] llint commented on #3776
Setting `IntelliSenseCacheSize` to 0 didn't help. After enabling the logging, it was hard to see which file was being parsed while the crash happened (seems the process gets restarted and parsing starts all over again, and the log output is flooding), only roughly, it was some 3rd party source code (cannot share more info) that caused logging something like "tag parser encountered an error, but it

[2019-06-19 05:36] mohsenomidi commented on #3787
@sean-mcmanus: i am trying to configure Microsoft/ Remote SSH, it is too hard to configure the extension, but in my first try, i can not use this extension to connect.
if i have any success to use this extension for connecting will make comment

[2019-06-19 06:01] Shachlan commented on #3796
I'm using a regular workspace, and I'll try to repro manually.
Do you have a suggestion for an alternative formatting extension?

[2019-06-19 08:04] Dantee296 commented on #3161
i think i allowed it . any way to get it back ?

[2019-06-19 09:53] Novakov commented on #3481
Seems to be working fine :)

[2019-06-19 09:58] dcarapic commented on #1017
I would also really like this. Currently I have a mix of standard console output and bunch of Loaded/thread exited messages which do not provide any value.

[2019-06-19 13:36] bjda opened #3798 ""-imacros" in compile_commands.json-parsing ignored"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1803 17134.706
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.24.0-insiders
- Other extensions you installed (and if the issue persists after disabling them): None

The extension does not seem to care about defines included in compilation through the -imacros flag in compile_commands.json. The specific context is

[2019-06-19 16:43] davydden opened #3799 "Type hierarchy / inheritance"
I was curious if there are any plans to visualize type hierarchy starting from a selected class? Something similar to what Eclipse’s [type hierarchy of a class](https://eclipsebook.in/c-cpp-development/reading-code/type-hierarchy/) or [CodeGraph for VS](https://marketplace.visualstudio.com/items?itemName=YaobinOuyang.CodeAtlas) do.
That would be useful for large projects.

[2019-06-19 17:00] dfdumaresq commented on #1017
While we've been waiting for this, searching the VSCode console has improved greatly.
Try clicking in the console and typing (On Mac) CMD-F, then type your search term. Use the arrow keys to jump to next and previous.

[2019-06-19 18:37] sean-mcmanus commented on #3798
See https://github.com/microsoft/vscode-cpptools/issues/2417.

[2019-06-19 18:37] #3798 closed, assigned to nobody

[2019-06-19 18:43] WardenGnaw commented on #3161
If you restart your machine, you should be able to get the prompt back.

[2019-06-19 19:46] sean-mcmanus commented on #3786
@ducalex @zrno That is really strange -- I don't see how that is possible and haven't been able to get  repro yet. Are you seeing multiple didOpen with [debug logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) enabled? We have a pending fix for the Linux/Mac repros, but not the Windows case yet.

[2019-06-19 20:02] ducalex commented on #3786
@sean-mcmanus The easiest way to reproduce seems to be ctrl+click on a function to open its definition file, it does the error almost every time. It is less frequent but still present when opening the files via the explorer.

Here's a the full log from VS Code startup to the occurrence of the error: https://gist.github.com/ducalex/41afd76d9f90c69a211a3530d30b34e2

[2019-06-19 20:58] ducalex commented on #3786
Probably not terribly useful, but here's a clip showing the problem: https://i.imgur.com/rwsGnol.mp4

[2019-06-19 22:01] sean-mcmanus commented on #3796
I think the other known problem can occur if you open a symlinked folder.

The only other formatting extension I'm familiar with is the "clang-format" extension.

[2019-06-19 22:34] bjda commented on #2417
I tried to patch this, but I can not seem to find the section of cpptools that parses the flags in compile_commands.json. Where in the code is the parsing of compile commands defined?

[2019-06-19 22:37] sean-mcmanus commented on #3799
It's not currently planned. VS has an object browser which shows the types hierarches in a tree view, which would probably be implemented before a fancier graph visualization.

[2019-06-19 23:10] pieandcakes commented on #3797
@YangJiao1996 This error is because the top frame in the callstack is in the VC runtime and you don't have the necessary files to debug it. You can ignore this error and select a line in the callstack where your code exists.

[2019-06-19 23:11] pieandcakes commented on #3797
The other errors are because you don't have the symbol files (`.pdb`) for them and is also expected.

Your link points to this issue.

[2019-06-19 23:16] pieandcakes commented on #3754
To find the `debugConsole`, go to `View -> Debug Console`. You should see some output from logging. Also, when it is hanging, can you confirm whether or not your gdb.exe program is running?

[2019-06-19 23:18] sean-mcmanus commented on #2417
It's in our closed source language server code....so you'd have to have access to the Microsoft repo to fix it.

[2019-06-19 23:33] dfelder commented on #2995
The problem seems to be connected to node oversubscription.
[code]
works for me.

[2019-06-20 00:35] YangJiao1996 commented on #3797
@pieandcakes Got it. Thank you!

[2019-06-20 00:35] #3797 closed, assigned to pieandcakes

[2019-06-20 00:54] yaweiw commented on #3655
@sean-mcmanus we tried and noticed the performance is better than 0.19.0 but still worse than 0.17.7 which we are using atm. What's the difference?

[2019-06-20 01:22] lujfsd opened #3800 "提示c/c++已经更新到0.24.0版本，reload后没有生效"
Issue Type: <b>Bug</b>

在WSL中，系统提示"The C/C++ Extension has been updated to version 0.24.0-insiders. Please reload the window for the changes to take effect.",点击reload后，没有生效。会一直提示
![1560993752(1)](https://user-images.githubusercontent.com/3353399/59811539-f6d53700-933c-11e9-9a0b-ab0b7e6ff2c0.jpg)

Extension version: 0.23.1
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019

[2019-06-20 01:43] sean-mcmanus commented on #3655
0.19.0 and after does an additional lexing pass for the source file (always happens, even in Tag Parser mode), which slow down Go to Def if your source file is large (we plan to improve the performance on this later). It also will run IntelliSense on the file and potentially O(N) additional work (only in Default intelliSenseEngine mode), so could try setting the intelliSenseEngine to TagParser to

[2019-06-20 02:01] sean-mcmanus commented on #3800
What is your question? You can set the C_Cpp.updateChannel to "Default" to switch back to 0.23.1.

[2019-06-20 02:03] lujfsd commented on #3800
new version 0.24.0 is not effect after reload.

[2019-06-20 02:06] sean-mcmanus commented on #3800
Do you mean the pop up keeps re-appearing? If you can check the extensions folder to see if the 0.23.1 and/or 0.24.0-insiders folder are still there that would help.

[2019-06-20 02:20] lujfsd commented on #3800
yes. it's re-appear.my extensions folder as below:
![1560997003(1)](https://user-images.githubusercontent.com/3353399/59813546-84685500-9344-11e9-9062-c139e0ab5516.jpg)
just 0.23.1

[2019-06-20 02:29] sean-mcmanus commented on #3800
Okay, it looks like the download/install is failing for some unexpected reason and we don't handle the error well. Until we're able to figure out a fix, your best option is to change the updateChannel setting. The code that is causing this failure is open source if you feel like debugging it yourself with our release branch, but you'd have to change the "testingInsidersVsixInstall" variable to "tr

[2019-06-20 02:30] lujfsd commented on #3800
OK，Thanks

[2019-06-20 03:34] johnflux commented on #2417
Any chance of a fix for this? It should be simple to just treat it like -i

On Thu, 20 Jun 2019, 08:18 Sean McManus, <notifications@github.com> wrote:

[2019-06-20 04:56] andreeis commented on #3786
Thank you for reporting this issue and giving us a repro. We have a fix for the windows case too. It will be included in the next insiders update.

[2019-06-20 05:16] abdoulayegk commented on #3615
I have this problem on visual studio can anyone help me?
"{
	"resource": "/c:/Users/T440s/Desktop/C/test1.c",
	"owner": "_generated_diagnostic_collection_name_#2",
	"severity": 8,
	"message": "#include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (C:\\Users\\T440s\\Desktop\\C\\test1.c).",
	"startLineNumber": 1,
	"startColumn": 1,
	"endLineNumber

[2019-06-20 05:30] starsharp06sharp opened #3801 "cant format code over Remote-SSH"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 7 Professional 64bit
- Remote OS Version: CentOS 7 x86-64
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them):
Remote Development
Remote - SSH
- A clear and concise description of what the bug is.

**To Reproduce**
1.Connect to remote h

[2019-06-20 07:03] psclkhoury opened #3802 "Watching for file changes outside the workspace folder"
Intellisense does not detect changes to header files that are not in the workspace folder. I have to reload vscode for it to work.

Most of our header files are generated when building and are placed outside the workspace folder. When a function signature changes or a new member is added in a header file, intellisense will not update unless vscode is reloaded.

The path of the include files is in

[2019-06-20 07:18] JasonLeeCn opened #3803 "When "Goto Define" is in another file, it will given a warning if the file is not opened."
Issue Type: <b>Bug</b>

Example: Test_FuncB is in file TestB.c, and be using in TestA.c. The TestB.c file is not open.

If using "Go to Define" for jump to Test_FuncB in TestA.c file, it will given a warning as follow:

This file (d:\xxx\TestB.c) is already opened in the editor but with a different casing. IntelliSense features will be disabled on this copy of the file.

But if the TestB.c file is

[2019-06-20 08:03] bjda commented on #2417
It should represent quite a small change, and would go a long way toward being the preferred editor for embedded development with Zephyr. In the meantime, I'll try @johnflux 's workaround approach.

[2019-06-20 10:31] fexolm opened #3804 "identifier is undefined for typedefs to structs or enums"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.24.0-insiders
- Other extensions you installed (and if the issue persists after disabling them): CMakeTools 1.1.3

IntelliSense and linter can not find typedefs in header file, while I can go to symbol definition.

**To Reproduce**

clone google/cpu_features repositor

[2019-06-20 10:44] fexolm commented on #3804
Possibly duplicate of https://github.com/microsoft/vscode-cpptools/issues/3795
Fixed by downgrade to stable version.

[2019-06-20 10:44] #3804 closed, assigned to nobody

[2019-06-20 12:13] #3071 closed, assigned to nobody

[2019-06-20 12:15] Lennon925 commented on #3111
I tested on version 0.24 and it's OK.

[2019-06-20 12:15] #3111 closed, assigned to nobody

[2019-06-20 14:58] daldr-ntml opened #3805 "How to show value of string in Watch or hover?"
Type: Debugger

- OS and Version: Centos 7.6 (using Remote SSH)
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): Remote SSH

I doubt this is a bug, this is more a usage question.  If I debug and reach a breakpoint in the scope of a std::string variable, that variable is shown nicely in the VARIABLES windo

[2019-06-20 15:41] 52coder commented on #3792
sorry for a late response, thanks for your work to fix this problem.

[2019-06-20 15:46] xtan999 commented on #811
The debugger is stopped and whatever I clicked, step out, continue will simply exit the program. How could I ignore it safely by stepping back into my code?

[2019-06-20 17:43] pieandcakes commented on #811
@leonplust You can choose where your code lies by using the `Call Stack` window. If you are wanting to ensure you stop at a specific line of code, you can set a breakpoint. By using `step out` you will at some point step out of your program running.

[2019-06-20 19:40] johnknoop commented on #1184
Is this now in the stable version? If so, how do I turn this feature on?

[2019-06-20 19:44] michelleangela commented on #3803
Thank you for reporting the issue.

This is a duplicate of #3786

[2019-06-20 19:44] #3803 closed, assigned to nobody

[2019-06-20 19:45] sean-mcmanus commented on #3801
I suspect this is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/3774 .

[2019-06-20 20:33] TheGreatRambler opened #3809 "Weird text appears when format on save is used"
cpp file
[code]

ajshort.include-autocomplete
ban.spellright
brunnerh.file-properties-viewer
CoenraadS.bracket-pair-colorize
dbaeumer.vscode-eslint
formulahendry.code-runner
Gruntfuggly.todo-tree
HookyQR.beautify
ms-python.python
ms-vscode.cpptools
msjsdiag.debugger-for-chrome
PhilHindle.errorlens
redhat.java
shakram02.bash-beautify
shinnn.stylelint
sleistner.vscode-fileutils
twxs.cmake
vscode-ico

[2019-06-20 20:35] TheGreatRambler commented on #3809
Here is my clang format file

[code]

[2019-06-20 20:53] kisielk commented on #3145
Is there any progress or ETA on this issue at all? It's pretty critical to my workflow to the point where I'm looking at switching to a different programming environment because of the problems this has been causing.

[2019-06-20 21:14] sean-mcmanus commented on #3615
@Abdoulaye20 I don't understand what your problem is. Can you give more info, preferably in a new issue?

[2019-06-20 21:55] vardhan commented on #3713
I'm happy work on a patch if someone can point me where to look.

[2019-06-20 22:20] sean-mcmanus commented on #3801
Can you just add `"C_Cpp.clang_format_path": ""` to your Remote settings? That seemed to fix it for me.

UPDATE: Also, fixed with 0.24.0-insiders2, but the vsix needs to be manually installed on the remote side.

[2019-06-20 22:57] sean-mcmanus commented on #3774
@sandy081 I have a pull request at https://github.com/microsoft/vscode-cpptools/pull/3810, but I don't understand how to test it or observe a change, because for both resource and machine scopes. And the only documentation I could find is at https://code.visualstudio.com/updates/v1_34#_machinespecific-settings .

[2019-06-20 23:10] sean-mcmanus commented on #3802
0.24.0-insiders added a Rescan Workspace command, which is a manual workaround.

I think the fix would involve add fs.watch calls for browse.path/includePath outside of the workspace (preferably avoiding dups).

A related issue is https://github.com/microsoft/vscode-cpptools/issues/4211 -- we don't handle "change" events even for files in the workspace.

[2019-06-20 23:26] sean-mcmanus commented on #3809
I think this is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/1073 (and others?) .

[2019-06-20 23:27] sean-mcmanus commented on #3774
@sandy081 Oh -- I see that the settings with "machine" scope cause the setting to not appear under the Workspace and Folder UI. Are there other differences?

[2019-06-20 23:57] sean-mcmanus commented on #2417
@johnflux Yeah, it looks like we'll be able to fix it for 0.25.0-insiders in July.

[2019-06-21 00:06] sean-mcmanus commented on #1184
@johnknoop The fix got reverted due to it causing unexpected regressions, and the alternative fix using "snippets" got post-poned until we can add some setting like methodCompletion: "AddNoParens", "AddLeftParen", "AddBothParens".

[2019-06-21 00:08] sean-mcmanus commented on #3145
@kisielk No progress yet, but a lot of people are complaining about this, so I feel like it's something we should fix maybe for July/August.

[2019-06-21 00:11] sean-mcmanus commented on #3713
@vardhan It's in our closed source code, but we might be able to fix it.

[2019-06-21 00:27] peeeeter commented on #3145
Yeah, still not sure exactly how my issue relates, I haven't done any work to test single directory workspaces.  I have recently confirmed that there's nothing in the log that's unusual when it stops working.  You just don't see clang I/O any more.  Intellisense other stuff still scrolls by as normal.  It breaks all the time.  I use Ctrl-Shift-I pretty much constantly, and I have to restart vscode

[2019-06-21 00:47] chenlhuawei opened #3811 "extension escalation error"
[Error - 上午8:39:13] Connection to server got closed. Server will not be restarted.
[Error - 上午8:39:14] Request textDocument/hover failed.
Error: Connection got disposed.
	at Object.dispose (C:\Users\chenl\.vscode\extensions\ms-vscode.cpptools-0.24.0-insiders\dist\main.js:2556:22)

[2019-06-21 01:09] sean-mcmanus commented on #3145
@kisielk @peeeeter  Have you tried setting C_Cpp.formatting to "Disabled" and using the clang-format extension instead?

@peeeeter Your issue might get fixed when we fix the multi-root issue...that would be the case if you see that the logs where formatting is occurring don't also show a didOpen message. Otherwise, we'd need to somehow get a repro or more diagnostics. The formatting runs on our "m

[2019-06-21 01:10] sean-mcmanus commented on #3811
This should be fixed in our next Insiders, either Friday or Monday: https://github.com/microsoft/vscode-cpptools/issues/3792 .

Until we have a fix, you can change C_Cpp.updateChannel to "Default" to use the non-Insiders build.

[2019-06-21 01:10] #3811 closed, assigned to nobody

[2019-06-21 01:22] sean-mcmanus commented on #3771
VS closed it as "low priority" so either this issue or that one needs more upvogtes. I thought it was be a simple fix, but it looks like it is not.

[2019-06-21 02:42] chenlhuawei commented on #3811
thanks,i will try it

[2019-06-21 07:23] anbarrasu commented on #3285
i have the exact problem in multi root workspace. Only one of the formatter works with selected. It is really annoying. Is there any temporary solution?

[2019-06-21 08:12] sandy081 commented on #3774
As mentioned machine scope setting has two characteristics

1. It cannot be overridable at workspace/folder level
2. In remote set up, value defined in user settings is ignored.

[2019-06-21 08:17] daldr-ntml commented on #3805
I think I wasn't inspecting the variable in a reasonable way. Closing this issue.

[2019-06-21 08:17] #3805 closed, assigned to nobody

[2019-06-21 09:29] starsharp06sharp commented on #3801
this method works for me as well, thx

[2019-06-21 14:20] TheGreatRambler commented on #3809
I do, in fact, have a multi-root workspace organized that way. WOW! Reducing the roots of my workspace to 1 have actually fixed many errors! Previously, my intellisense wouldn't update and I would have errors stick around for no apparent reason, but that is now fixed. MY header detection works now! I think I will submit a pull request to add a warning against multi-root workspaces on the readme. T

[2019-06-21 14:20] #3809 closed, assigned to nobody

[2019-06-21 18:07] sean-mcmanus commented on #3285
@anbarrasu You could try setting C_Cpp.formatting to "Disabled" and using another formatter like the "clang-format" extension, but I haven't tried if that works yet.

[2019-06-21 19:40] Yguy16 commented on #1863
I hava this same problem but I do not know how to write a compiler path please help

[2019-06-21 19:42] KRMisha commented on #3347
May I suggest that on Linux, the ipch folder be put under `~/.cache/vscode-cpptools`? (Or equivalently, `$XDG_CACHE_HOME/vscode-cpptools`.) That way, the cached files do not appear as configuration dotfiles in the user's home directory, reducing clutter and making their purpose more obvious, and can also be easily excluded when backing up or synchronizing files, for instance. This is more in line

[2019-06-21 19:46] sean-mcmanus commented on #1863
@Yguy16 You set the "compilerPath" setting to the path to your compiler. What OS/compiler are you using?

[2019-06-21 19:47] Yguy16 commented on #1863
vs code @sean-mcmanus

[2019-06-21 19:48] Yguy16 commented on #1863
@sean-mcmanus im windows do i not have a compiler than?

[2019-06-21 19:56] sean-mcmanus commented on #1863
@Yguy16 You can use many different compilers on Windows, but if you're using cl.exe or a WSL compiler, then we usually should auto-detect that and you shouldn't need to set a compilerPath unless you want to add compiler arguments. See https://code.visualstudio.com/docs/cpp/config-msvc , or https://code.visualstudio.com/docs/cpp/config-wsl, or https://code.visualstudio.com/docs/cpp/config-mingw .

[2019-06-21 19:59] Yguy16 commented on #1863
I dont know why it is not auto detecting @sean-mcmanus. It does it on my mac but i think I fixed by disabling the squigle lines

[2019-06-21 20:01] sean-mcmanus commented on #1863
@Yguy16 You may not have a compiler installed? You can run the C/C++: Log Diagnostics command to see what compiler path we are auto-detecting.

[2019-06-21 20:03] Yguy16 commented on #1863
I do think I have a compiler on my windows but it does not have the same error while testing on my mac
@sean-mcmanus so should I just stick to coding on my mac?

[2019-06-21 20:04] Yguy16 commented on #1863
@sean-mcmanus this is the basic  cpp cod I have and it says 'g++' is not recognized as an internal or external command,
operable program or batch file.

#include <iostream>

using namespace std;
int main()
{
std::cout << "helloworld\n";

return 0;

}

[2019-06-21 20:06] Yguy16 commented on #1863
@sean-mcmanus I ran a similar piece of code on my mac and it worked so ill stick to that thank you

[2019-06-21 20:32] lawsonfulton commented on #2908
Here's another vote for clang-tidy

[2019-06-21 20:41] kisielk commented on #3285
@sean-mcmanus I tried your suggestion (using the extension "clang-format") but when I save I just get the message "Extension C/C++ cannot format <filename>" in the status line. So it looks like the C/C++ extension is still taking priority / blocking the other one from running.

[2019-06-21 20:49] sean-mcmanus commented on #3285
You need to reload window -- afterwhich, our extension should not register as a format provider. A popup to reload should appear...after setting the C_Cpp.formatting to "Disabled".

[2019-06-21 20:51] kisielk commented on #3285
I did that, even restarted VSCode entirely. I still get the same "Extension C/C++ cannot format" message every time I save, and no formatting applied from clang-format.

[2019-06-21 20:59] sean-mcmanus commented on #3285
That is strange. I just tried the repro (with a single workspace) and it worked for me after setting "clang-format.executable". I have never seen that error message before and I don't see it in the vscode source code, so I don't know where it is coming from.

[2019-06-21 21:11] kisielk commented on #3285
It's in source code here: https://github.com/microsoft/vscode/blob/01423e458d496588ba0d32f9afb17937a571260b/src/vs/workbench/contrib/format/browser/formatActionsMultiple.ts#L97

[2019-06-21 21:18] koenlek opened #3813 "UI feature request: show status of parsing/indexing"
**Type: LanguageService**

**Issue**
Currently, it's hard to tell what the status of workspace parsing/indexing is.
When opening a very large workspace, this can take many minutes or even hours. However, apart from seeing a busy process in a process manager like htop, I found no way to see if indexing is ongoing. Moreover, originally I wasn't even aware that parsing was ongoing, I just figured out

[2019-06-21 21:25] sean-mcmanus commented on #3285
Ah, thanks for finding that -- that result was in my search, but I skipped it accidentally :).

It looks like somehow VS Code is still trying to use the C/C++ extension to formatting -- I wasn't able to repro it, but it seems like it'd be a VS Code bug. Can you try using Format Document With and selecting the "Clang-Format" extension (or another formatter?).

[2019-06-21 21:28] kisielk commented on #3285
It works fine if I use "Format Document With", and "clang-format" is the only option there.

[2019-06-21 21:29] koenlek commented on #3813
Ok. Just spotted the "updating intellisense" icon in the bottom right corner... Not sure how I couldn't have seen that before...

[2019-06-21 21:34] sean-mcmanus commented on #3285
Yeah, and then choose the "Configure Default Formatter" option in the dropdown -- my guess is your default formatter is somehow set to C++ even though we didn't register as a formatter.

[2019-06-21 21:41] kisielk commented on #3285
Ah gotcha. That seems to work. I'll use this for now, I had previously uninstalled the clang-format extension because it was conflicting with the other formatter, but I'll use this for now while I wait for a fix for this.

[2019-06-22 14:38] PierreMarchand20 commented on #2995
What do you mean ? Where do you put this `environment ` ?

[2019-06-22 16:20] dfelder commented on #2995
It defines an environment variable in your launch configuration. The effect is the same as the -oversubscribe flag. That was the difference between external and internal shell for me.
I only had this problem for openmpi. Mpich works out of the box.

[2019-06-23 08:38] DeltaRazero commented on #3813
I would've liked if it could be disabled though, it gets fairly annoying since moves the other icons on the status bar left of it every time it is updating

[2019-06-23 11:16] gildor2 opened #3815 "Visual C++ problem matcher"
Hi team,

I'm using VS Code cpptools extension with CL.exe compiler backend, and I never understood why only GCC problem matcher exists in settings. I've created own problemMatcher, and using it for a few months already with no troubles. I'd like to contribute it, however I'm C++ programmer and doing a pull request for extension is quite difficult for me. Hopefully you can integrate the following

[2019-06-23 19:17] SashaOv opened #3816 "Debugging via container: debugger hangs"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Mac OS 10.14.5, the container is Ubuntu 18.04
- VS Code Version: 1.36.0-insider
- C/C++ Extension Version:
- Other extensions you installed (and if the issue pe

[2019-06-23 19:37] SashaOv commented on #3816
Based on suggestions in #2998 I tried to install `xterm` or `gnome-terminal` in the container with no luck

[2019-06-23 21:30] humanosc commented on #811
I have the same problem in a Remote WSL project with a slightly different error message.

[code]

I have tried to skip the source as recommended before with this gdb command but with no effect.

[code]

In the gdb I have checked if the skipping is activated with:

[code]

Can somebody help me why this is not working?

[2019-06-24 00:53] JWleo opened #3817 "Can the latest VSCode support the debug for multi-process in c++?"
@WardenGnaw
if yes. How to do it?
Please give a hint.
Thank you!

[2019-06-24 01:32] XuChen-Zhao opened #3818 "This file (....) is already opened in the editor but with a different casing. IntelliSense features will be disabled on this copy of the file."
I used vscode as a editor.When I updated the C/C++ to the 0.24.0 , there will be some warning "This file (....) is already opened in the editor but with a different casing. IntelliSense features will be disabled on this copy of the file. ". But Iopend this file only once.I could find out how to disable the warning and how to fix this warning .
When I install the 0.23.1 version, there is not this w

[2019-06-24 02:35] CMinHong commented on #3818
啊我也遇到同样的问题，现象是鼠标停留到某个方法上就这样了。

[2019-06-24 02:43] XuChen-Zhao commented on #3818
是的，目前还没有找到解决方法。我已经将C/C++插件改为0.23.1版本，并取消了插件的自动更新。

------------------ 原始邮件 ------------------
发件人: "CMinHong"<notifications@github.com>;
发送时间: 2019年6月24日(星期一) 上午10:35
收件人: "microsoft/vscode-cpptools"<vscode-cpptools@noreply.github.com>;
抄送: "赵旭辰"<348961724@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [microsoft/vscode-cpptools] This file (....) is already opened inthe editor but with a dif

[2019-06-24 11:43] graphitemaster commented on #3771
That's a shame. I have tons of classes named `interface` (38 of them to be exact) where they only differ by namespace and not having working intellisense, goto definition, etc is really dishearting. I can't think of a better name for them either to work around it without violating consistency in coding style anyways.

[2019-06-24 14:08] daldr-ntml opened #3819 "cpptools seems not to be receiving compiler path from CMake Tools"
**Type: LanguageService**

- OS and Version: Windows 10 1803 host with remote ssh access to Centos 7.6
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): vscode-cmake-tools 1.1.3

I am running a remote session over SSH to a Centos 7.6 machine.  Centos 7.6 has gcc 4.8 by default, which doesn't support C++14,

[2019-06-24 16:41] michelleangela commented on #3818
Thank you for reporting the issue.

This is a duplicate of #3786

[2019-06-24 16:41] #3818 closed, assigned to nobody

[2019-06-24 17:19] shravankgit opened #3820 "How to highlight erros in visual studo code editor for c++ language?"
Issue Type: <b>Bug</b>

Could you please answer the following question, I wrote everything in that question.

How to highlight erros in visual studo code editor for c++ language?

https://stackoverflow.com/questions/56730323/how-to-highlight-erros-in-visual-studo-code-editor-for-c-language

I tried everything like downgrading `vscode` and `C/C++ IntelliSense` version etc, but not achieved.

please

[2019-06-24 17:22] sivum commented on #877
For anyone that has similar issue that is on Windows 10 Pro. Version 1809.
If you have WSL enabled and installed your distro. and you can do a whereis command for bash , I modified my launch config slightly to following and it works

"pipeTransport": {
                "pipeCwd": "",
                "pipeProgram": "bash.exe",
                "pipeArgs": ["-c"],
                "debuggerPath": "/usr

[2019-06-24 17:58] WardenGnaw commented on #3816
@SashaOv Are you using the [`Remote - Container`](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers ) extension for this scenario? We also support container debugging via [`pipeTransport`](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/PipeTransport.md#docker-example).

[2019-06-24 18:08] WardenGnaw commented on #3817
Are you debugging multiple processes or are you wanting to debug child processes?

[2019-06-24 18:26] pieandcakes commented on #811
@humanosc can you try less in your glob pattern? try `glibc-2.24/**/*` ?

Beyond that, it will need to be what `gdb` is doing with the skip command. For reference: [https://sourceware.org/gdb/onlinedocs/gdb/Skipping-Over-Functions-and-Files.html](https://sourceware.org/gdb/onlinedocs/gdb/Skipping-Over-Functions-and-Files.html)

[2019-06-24 19:44] sean-mcmanus commented on #3460
We decided to leave the lexical colorization to VS Code (the Better Syntax extension), and just add semantic colorization.

[2019-06-24 19:44] #3460 closed, assigned to Colengms

[2019-06-24 20:09] sean-mcmanus commented on #3820
You should disable the "C/C++ IntelliSense" extension and set intelliSenseEngineFallback to "Disabled". Does that fix it?

[2019-06-24 20:27] sean-mcmanus commented on #3819
There is a compilerPath path property in our vscode-cpptool-api that the CMake Tools extension could set, but it may not be set -- you can check if it's being set or not via [enabling debug logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md). If they don't set it, then it could a bug with the CMake Tools extension. I believe setting

[2019-06-24 20:30] sean-mcmanus commented on #3815
VS Code already ships with a $msCompile problem matcher. Can you try using that as your "base" problem matcher? You shouldn't need to set the pattern. Let us know if that is insufficient.

[2019-06-24 20:46] sean-mcmanus commented on #3813
We're adding a 3rd progress UI for Find All References (might not have any icon though) -- it might be a good idea to create 1 progress icon that incorporates all 3 status.

The database icon is for "tag parsing" and the red flame is for IntelliSense updating. Both could use some improvement.

VS Code Insiders allows removing all the C/C++ status bar info in the right-click options, but not on a p

[2019-06-24 20:52] ScottHutchinson commented on #296
I sure wish we had this rename feature in VSCode, because when I try to do it in VS 2017, it sometimes freezes and I have to End Task. I was sure that VSCode would have it. Very disappointed.

[2019-06-24 20:54] sean-mcmanus commented on #3771
Maybe you could use "abstract" or "abstract_class" or "abstract_interface" instead, since "abstract" doesn't have this problem. In standard C++, "interfaces" are implemented using "abstract classes" anyway.

[2019-06-24 20:56] Jimbo99 commented on #296
As mentioned above, it is now in the July milestone (along with "find all references" - they are linked) - see https://github.com/microsoft/vscode-cpptools/milestone/39. So fingers crossed! And best of luck to the VSCode devs involved.

[2019-06-24 23:19] bobbrow commented on #3035
Hi there,

I was looking through old issues and found this one.  I'm so sorry this issue didn't get any attention when you opened it.  Are you still having trouble with your `compile_commands.json` files?  If you could provide some additional information we can help you debug this (e.g. run the "Log Diagnostics" command to check how the source file was configured and see if that matches your compi

[2019-06-24 23:24] bobbrow commented on #3031
If you install the latest insiders version of the extension (set the "C_Cpp: Update Channel" setting to "Insiders"`) and then turn on the "Enhanced Colorization" setting, you can try out our improved colorization feature.  I will mark this as a duplicate of #230.

[2019-06-24 23:24] #3031 closed, assigned to nobody

[2019-06-24 23:27] bobbrow commented on #3299
The documentation was updated

[2019-06-24 23:27] #3299 closed, assigned to nobody

[2019-06-24 23:29] #3625 closed, assigned to nobody

[2019-06-24 23:31] bobbrow commented on #3654
We are unable to reproduce this problem.  If you have any additional information you can share, please let us know and we can reopen the issue and investigate further.  Thank you!

[2019-06-24 23:31] #3654 closed, assigned to nobody

[2019-06-24 23:37] bobbrow commented on #711
We have some new documentation available for various platforms.  macOS is [here](https://code.visualstudio.com/docs/cpp/config-clang-mac)

[2019-06-24 23:37] #711 closed, assigned to nobody

[2019-06-24 23:39] #992 closed, assigned to nobody

[2019-06-24 23:44] #3004 closed, assigned to nobody

[2019-06-24 23:52] peeeeter commented on #3145
Yes, I tried that, but The Ctrl-Shift-I key binding just doesn't work, and
doesn't seem to work with the new extension.  It just says:

![image](https://user-images.githubusercontent.com/8388441/60059239-844bba80-96a0-11e9-9127-433364aa61ab.png)

On Thu, Jun 20, 2019 at 6:09 PM Sean McManus <notifications@github.com>
wrote:

[2019-06-25 00:10] sean-mcmanus commented on #3145
@peeeeter There is some bug with VS Code that is saving our extension as a the default formatter when it no longer a format provider (I wasn't able to repro it though). Other users have reported that using the "Configure Default Formatter..." to select "clang-format" fixes the issue.

[2019-06-25 00:32] WardenGnaw commented on #2955
The version of lldb-mi that we ship has changes that are not in master/lldb. These changes prevent the debug adapter from intermittent hanging the debugger (lldb).

We are still investigating on upgrading our version of lldb that we ship to the latest to have the visualizers working.

[2019-06-25 00:32] #2955 closed, assigned to nobody

[2019-06-25 00:34] wedizeru opened #3822 "c_cpp_properties.json"
I’m trying to set up my VS code so i can start coding CPP. I was using a youtube video as a guide to help me set this thing up but when i got to the part that talks about the c_cpp_properties.json i got confused because the person’s and mine outlook didn’t match and i try to use other source include the VS code website but that didn’t help as well. I will attach what mine looks like so you help me

[2019-06-25 00:45] sean-mcmanus commented on #3822
I don't understand. What issue needs to be fixed? What setting do you need help setting?

[2019-06-25 00:45] JWleo commented on #3817
### the code just like this:

[code]

### when debugging this one,i need to know the change of data in each processes with running. Data in each processes don't share same memory.

###  If i did't describe it clearly, And you can check [**other cases**](https://stackoverflow.com/questions/329259/how-do-i-debug-an-mpi-program) to understand.

[2019-06-25 00:47] WardenGnaw commented on #3817
We currently do not have this feature yet. The request is at https://github.com/microsoft/vscode-cpptools/issues/1723

[2019-06-25 00:47] #3817 closed, assigned to WardenGnaw

[2019-06-25 00:54] wedizeru commented on #3822
i just want to set up VS code for CPP.

[2019-06-25 00:55] JWleo commented on #3817
Thank you for answering.

[2019-06-25 00:57] wedizeru commented on #3822
im not sure what extension to add or what other steps to take so i used a youtube video as a reference to help me set it up.

[2019-06-25 01:33] sean-mcmanus commented on #3822
What compiler are you using to build? Or which compiler do you want to use, e.g. cl, clang, or gcc?

[2019-06-25 01:34] wedizeru commented on #3822
Gcc

[2019-06-25 01:34] sean-mcmanus commented on #3822
If you're using Mingw/gcc, see https://code.visualstudio.com/docs/cpp/config-mingw . The page has links to help for cl.exe and WSL compilers as well.

[2019-06-25 01:35] sean-mcmanus commented on #3822
Our extension is the "C/C++" extension.

[2019-06-25 02:04] felipeek opened #3823 "Bug in switch-case"
Please disconsider, it was my mistake :)

[2019-06-25 02:06] #3823 closed, assigned to nobody

[2019-06-25 05:38] TallOrderDev commented on #1863
Above @stwupton provides a config example for windows, which has worked on my windows machine. I'm curious if there is a Mac version of this solution. As I also work with VS code on mac and would like to not have to vm to windows to use VS Code for C++.

[2019-06-25 06:17] gildor2 commented on #3815
Hi Sean,
Thanks, $msCompile works well. I think it should be explicitly mentioned somewhere that Visual Studio (especially CL.EXE) may use this problem matcher, otherwise I had to read everything everywhere to find correct words - I think you'll agree that the word "Microsoft" in description of another Microsoft's product are too hard for being recognized as description of VS build system. Any des

[2019-06-25 06:21] VereNicolson commented on #1234
Using version Version: 1.35.1 (user setup) on windows 10 I am getting this issue. Quickly makes files become a "Large file" to Github. Have added [vscode/.BROWSE.C_CPP.2.DB] to gitignore and solves part of the problem.

[2019-06-25 06:42] SashaOv commented on #3816
@WardenGnaw thanks for the information, let me try this setup. Wish this option were more discoverable.

[2019-06-25 07:09] mgr-inz-rafal commented on #2266
Yes, that could be it. Is there a way to enable some debug diagnostics for the problem matcher to see what exactly is going on after I click on the error message?

[2019-06-25 08:15] fefrei opened #3825 "Warning: Path is not a file: AppData\Local\Packages\CanonicalGroupLimited.UbuntuonWindows_79rhkp1fndgsc\LocalState\rootfs\usr\bin\gcc, despite IntelliSense working"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1903
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): None

I'm getting this warning when trying to set `"compilerPath": "/usr/bin/gcc"`:

    Path is not a file: "C:\Users\felix\AppData\Local\Packages\CanonicalGroupLimited.Ubunt

[2019-06-25 08:20] Lennon925 opened #3826 "Can't find system headers"
C_Cpp_Properties.json as follow:

{
    "configurations": [
        {
            "name": "Win32",
            "includePath": [
                "${workspaceFolder}/**",
                "${default}"
            ],
            "defines": [
            ],
            "intelliSenseMode": "msvc-x64",
            "browse": {
                "databaseFilename": "${workspaceFolder}/.vscode/BROWSE.VC.DB"

[2019-06-25 10:55] daldr-ntml commented on #3819
Thanks for your reply.  I have created an issue in the CMake Tools repo: https://github.com/vector-of-bool/vscode-cmake-tools/issues/702.

Actually, I'm not sure that CMake Tools isn't providing the correct compilerPath. The cpptools debug output does not appear to show it.  What I do know from the cpptools debug info is that the browse path is set to the g++ 4.8.2 header files (as shown in the ou

[2019-06-25 11:52] daldr-ntml commented on #3819
Update: I have identified devtoolset 7's include paths:

    $ cpp -v
    Using built-in specs.
    COLLECT_GCC=cpp
    <snip>
    Thread model: posix
    gcc version 7.3.1 20180303 (Red Hat 7.3.1-5) (GCC)
    COLLECT_GCC_OPTIONS='-E' '-v' '-mtune=generic' '-march=x86-64'
    <snip>
    #include "..." search starts here:
    #include <...> search starts here:
     /opt/rh/devtoolset-7/root/usr/lib

[2019-06-25 12:06] mgr-inz-rafal commented on #2266
OK, today I updated the VSCode and it looks like the issue is fixed :)

[2019-06-25 13:41] Phycanva opened #3827 "Problem: C/C++ Debugger never works"
Type: Debugger
My debugger(gdb) doesn't work with C/C++ tools.
After configuring correctly(I think), I pressed the debug button. My program is complied and into an executable file. but debugger never starts.

Details:
1. When external terminal is false, integretad terminal just shows blue words and is stuck there, I can't input anything. When external terminal is ture. Nothing happened after closi

[2019-06-25 15:07] Alonzzzo2 commented on #15
I installed Global (apt install) version 6.6.2 and ran gtags, the GPATH, GRTAGS, GTAGS files were created, restarted VSCode but still 'Find All References' doesn't work.
Can you tell me what I'm missing?
Thanks

[2019-06-25 15:46] bobbrow commented on #296
@Jimbo99 the July release is actually going to slip into August because we got a little behind on our June release, but yes, renaming is coming soon.  We are working to have an insiders build with Find all References in July, with rename support shortly after.

[2019-06-25 16:18] Jimbo99 commented on #296
@bobbrow Thank you for the update and clarification. I get the impression this kind of stuff goes right through the lower levels of how the editor works, so just very glad you are working on it and we can see the light at the end of the tunnel now! :) Keep up the great work.

[2019-06-25 16:24] jockm commented on #296
@Jimbo99 Well yes and no.  Remember that other languages already support Find All References, Rename, and other far more advanced refactors already... for years now.  The only area where it might be an editor issue is that is has been said that some UI changes might be needed (though not adequately explained IMHO).  None of that prevented a partial implementation.  This seems to be more an issue w

[2019-06-25 17:25] jpetkau commented on #2609
I'm seeing the same thing with CL-compiled files; the common factor is that the files are compiled with relative paths to debug symbols (i.e. the debug info contains "foo/bar/baz.cpp" as the source file name). VSCode seems to insist on opening these files relative to "%APPDATA%\Local\Programs\Microsoft VS Code", even though that's not where my workspace is.

There doesn't seem to be any setting te

[2019-06-25 17:46] pieandcakes commented on #2609
@jpetkau If you are running into that relative path issue, you can add the `sourceFileMap` object to your `launch.json`  and override it with a fully qualified path.

[2019-06-25 17:57] bobbrow commented on #2266
Using `.*` in regular expressions subjects you to the whims of the implementation.  For example, it could choose to match the `:` as well if it wanted.  It's safer to use something more specific, like `[^:]*` at the beginning to ensure it matches anything but a colon.

[2019-06-25 18:40] michelleangela commented on #3826
Hi @Lennon925 , I cannot reproduce this. Do you have any cpptools settings configured?

My repro steps were:

1. Open VS Code and create new folder for new workspace
2. Use the C_Cpp_Properties.json you provided
3. Create header file in folder
4. Try to add `#include <vector>`
Result: IntelliSense was able to find vector

I used this cl.exe from Visual Studio 2015.
![image](https://user-images.git

[2019-06-25 18:47] lluo-rbx commented on #3776
would the fix make it to the 0.24 release?

[2019-06-25 18:58] sean-mcmanus commented on #1863
@TallOrderDev See https://code.visualstudio.com/docs/cpp/config-clang-mac . If you have specific question/problem on Mac, please file a new issue. Yguy16 seemed to be unable to build on Mac.

[2019-06-25 19:03] sean-mcmanus commented on #3815
We have docs at https://code.visualstudio.com/docs/cpp/config-msvc that use the $msCompile problem matcher. What exactly are you suggesting should be changed?

[2019-06-25 19:46] michelleangela commented on #3826
@Lennon925 , my repro actually uses a different compiler path even though I specify in C_Cpp_Properties.json to use Visual Studio 2015.

I ran the `C/C++: Log Diagnostics` command and saw the extension is actually using the compiler path and include path from Visual Studio 2019. So it looks like the extension uses whatever cl.exe it finds on the machine.

Do you have other cl.exe installed by any

[2019-06-25 19:51] man-jai opened #3829 "Can't debug on macOS Catalina (LLDB)"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: macOS 10.14
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.24.0
- Other extensions you installed (and if the issue persists after disabling them):
- A c

[2019-06-25 19:56] Spongman commented on #2922
I get this exception when trying to click on a frame in the callstack while debugging an attached process.

ms-vscode.cpptools v 0.23.1

[code]

[2019-06-25 19:56] WardenGnaw commented on #3829
Can you share the output when you enable [logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging)?

[2019-06-25 19:58] WardenGnaw commented on #3827
Can you share the output when you enable [logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging)?

[2019-06-25 20:00] man-jai commented on #3829
<details>
<summary>
LLDB Engine Logging
</summary>

[code]

</details>

[2019-06-25 20:10] sean-mcmanus commented on #296
@jockm Yeah, the C++ case is more difficult than other languages, but we had other priorities up until the past month.

[2019-06-25 20:10] Spongman commented on #3662
where can i get this 0.24.0? i have this in my settings.json:

[code]

[2019-06-25 20:13] sean-mcmanus commented on #3776
Yeah, it's in 0.24.0-insiders2 we're working on releasing soon.

[2019-06-25 20:13] WardenGnaw commented on #3829
From the logs, it looks like the breakpoint is ready:
[code]

But your program is recieving a SIGINT and exiting:
[code]

[code]

Do you stop if you enable `stopAtEntry` in your launch.json?
Just add:
[code]

[2019-06-25 20:14] sean-mcmanus commented on #2266
@bobbrow But that doesn't work for Windows paths that have a colon in it, but there's probably a more complicated regex that would work.

[2019-06-25 20:15] man-jai commented on #3829
stopAtEntry is already set to true from the json file that I have provided, and no it does not stop sadly

[2019-06-25 20:17] sean-mcmanus commented on #3825
I don't repro this problem, with Ubuntu or Ubuntu 18.04. The only way I was able to repro it was when I did not have gcc installed. Can you run the C/C++: Log Diagnostics command to see what gcc path it is using when you use the "/usr/bin/gcc"?

[2019-06-25 20:24] gildor2 commented on #3815
Thank you for the link. It seems this page appeared months later than I started to use VS Code for MSVC compiler (page shows April 2019 date, WebArchive confirms that). I've read tons of documentation, spent hours trying to google information, and penetrated through all things myself. The only help was available is for gcc/linux.

I think such significant documentation updates should be mentioned

[2019-06-25 20:25] Spongman opened #3831 "Could not load source ... 'SourceRequest' not supported.."
Version: 1.35.1
Commit: c7d83e57cd18f18026a8162d042843bda1bcf21f
Date: 2019-06-12T14:27:31.086Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Linux x64 4.18.0-24-generic

- C/C++ Extension Version: 0.24.0

[code]

Steps to reproduce the behavior:
- attach to gdb process
- click pause
- double click on stack frame

it opens a source window with the following contents:

th

[2019-06-25 20:28] pieandcakes commented on #2922
@Spongman this is a protocol issue and there is a fix in `0.25.0-insiders` for it.

This is issue #3662

[2019-06-25 20:30] pieandcakes commented on #3662
I get this exception when trying to click on a frame in the callstack while debugging an attached process.

ms-vscode.cpptools v 0.23.1

[code]

_Originally posted by @Spongman in https://github.com/microsoft/vscode-cpptools/issues/2922#issuecomment-505598489_

[2019-06-25 20:31] pieandcakes commented on #3831
Duplicate of #3662

[2019-06-25 20:32] pieandcakes commented on #3662
@Spongman You can download the insiders from our [release page](https://github.com/microsoft/vscode-cpptools/releases)

[2019-06-25 20:32] sean-mcmanus commented on #3815
Maybe we can blog about the new docs for the June/July blog -- @tara-raj ?

[2019-06-25 20:51] wedizeru commented on #3822
i followed the steps you shared from the website but im having a trouble with my launch.json. it says that "matches multiple schemas when only one must validate". I don't understand what this mean

![Capture](https://user-images.githubusercontent.com/52183278/60132421-4dcd7880-9750-11e9-8a20-107898198f80.PNG)

[2019-06-25 21:02] sean-mcmanus commented on #3822
That is strange. I don't get that error. It could be caused by another extension you have installed? @pieandcakes @WardenGnaw Have you seen this error before?

[2019-06-25 21:04] lluo-rbx commented on #3776
As an aside, I see that the actual binaries are downloaded from the links as provided in the `package.json`, am wondering is the source code (C++?) for the actual binaries on github?

[code]

[2019-06-25 21:07] melroy89 commented on #296
What is more important than C++ from the past 2 years xD...? Nothing is more important than C & C++ 😏😝

[2019-06-25 21:08] sean-mcmanus commented on #3776
The source for the binaries is closed source and not on GitHub.

[2019-06-25 21:11] fefrei commented on #3825
This is the output (with a configuration that also has some `includePath` entries, previously omitted because the problem happened without them):

[code]

[2019-06-25 21:16] pieandcakes commented on #3822
No I haven't, If you can provide the list of extension you have installed, that would help.

[2019-06-25 21:20] wedizeru commented on #3822
i've only installed c/c++ extension

[2019-06-25 21:22] sean-mcmanus commented on #3825
That output looks correct. Hmm, not sure why the config squiggle would appear, but you could get the incorrect squiggle to go away via `"enableConfigurationSquiggles": false` in the root (or the matching C_Cpp.default.enableConfigurationSquiggles setting).

@michelleangela @Colengms Any ideas how this incorrect squiggle could occur or are you able to repro it?

[2019-06-25 21:25] fefrei commented on #3825
While I don't know the internals, I find it really suspicious that I configure `/usr/bin/gcc`, and the debug output lists `/usr/bin/gcc`, but the squiggle complains about the Windows version of that path.

[2019-06-25 21:29] pieandcakes commented on #3822
Can you check your `c:\\users\\<username>\\.vscode\\extensions` folder and tell me what you see in there?

[2019-06-25 21:34] sean-mcmanus commented on #3825
The code that implements this squiggle is in our open source TypeScript, so theoretically you could debug it to see why it's failing for you if you use the "release" branch. The code runs on Windows so we need to convert the path to the Windows path, which appears to work successfully, so I don't know why it would fail to be found.

[2019-06-25 21:36] fefrei commented on #3825
Hm, OK. Another thought: While the file does exist, it's a 0-byte file, because it's a symbolic link on the Linux side. Maybe this is tripping something up?

[2019-06-25 21:42] sean-mcmanus commented on #3825
That should still work. It's a symbolic link to gcc-7 for me as well. The only case it would fail is if there was a symbolic link in the WSL version of the path that we would need to translate on the WSL side in order to get the correct Windows path. Your OS matches mine as well, so I don't know what is different that could be causing the failure.

[2019-06-25 21:43] sean-mcmanus commented on #3825
Oh, wait, it shouldn't be 0 bytes -- are you sure it's really 0 bytes? Size on Disk can be 0 bytes, but it should contain text when opened in notepad (i.e. Size not 0).

[2019-06-25 21:47] fefrei commented on #3825
It appears to have 0 bytes:

![image](https://user-images.githubusercontent.com/3078885/60135972-45eaf400-97a3-11e9-8a9a-5279a8f2024e.png)

And – suspiciously – Notepad cannot touch it:

![image](https://user-images.githubusercontent.com/3078885/60136006-5d29e180-97a3-11e9-923c-069fd17529c1.png)

However, the files look fine with WSL goggles on:

![image](https://user-images.githubusercontent.com/

[2019-06-25 22:05] sean-mcmanus commented on #3825
It might be because you upgraded to the "WslFs file system format"...I'm checking that out now...

[2019-06-25 22:18] sean-mcmanus commented on #3825
I reproed it -- the WslFs file system format is the cause.

[2019-06-26 00:47] natet commented on #3347
I for one would like a setting or command that would clear this cache from within VSCode (similar to the clean solution in Visual Studio). I'm an educator that frequently zips up my directories to post as examples for my students to look over. When this change was made I suddenly started getting zips that were too large to post to our LMS.

[2019-06-26 01:10] schutztj commented on #1816
+1
This process will run for over an hour (granted I have a large project, but this still seems absurd) and will completely drain my battery.  Until this issue is resolved, this plug-in will remain disabled.  Please let me know if there are any diagnostics that I can provide to help diagnose.

[2019-06-26 01:20] sean-mcmanus commented on #1816
@schutztj You could [enable debug logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) to see what files are being parsed and if symbols aren't need for those directories you could add them to the files.exclude. You could also attach a debugger and provide a call stack. You could also set the "browse.path" to empty or a smaller subse

[2019-06-26 01:58] sean-mcmanus opened #3833 "Insiders updateChannel doesn't work with WSL remote"
The local version uses 0.24.0-insiders2, but my WSL remote incorrectly defaults to "Default" and then doesn't switch after changing it to Insiders. I thought we tested this earlier and it was working for the WSL remote scenario.

[2019-06-26 01:59] sean-mcmanus commented on #3833
It gives the error C/C++: Install vsix -- Failed to find VS Code script in the developer console.

[2019-06-26 02:02] sean-mcmanus commented on #3776
Fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it.

[2019-06-26 02:05] sean-mcmanus commented on #3833
Manually downloading/installing the vsix in the WSL remote is a workaround.

[2019-06-26 02:12] sean-mcmanus commented on #3786
Fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it.

[2019-06-26 02:12] Phycanva commented on #3827
Thank you, I will try and response about 2 hours later.

[2019-06-26 02:12] sean-mcmanus commented on #3803
Fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it.

[2019-06-26 02:13] sean-mcmanus commented on #3779
Fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it.

[2019-06-26 02:14] sean-mcmanus commented on #3780
Fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it.

[2019-06-26 02:15] sean-mcmanus commented on #3700
@camilojm27 The selection bug is fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it.

[2019-06-26 02:15] sean-mcmanus commented on #3790
Fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it.

[2019-06-26 02:17] sean-mcmanus commented on #3792
Fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it.

[2019-06-26 02:17] sean-mcmanus commented on #3811
Fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it.

[2019-06-26 02:18] sean-mcmanus commented on #3795
Crashes and related issue should be fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it. Let us know if you're still having issues.

[2019-06-26 02:20] sean-mcmanus commented on #3781
Fixed with 0.24.0-insiders2. Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install it.

Let us know if you're still seeing lag issues. After scrolling > 150 lines, it's expected there might be a slight lag in the semantic colors being updated.

[2019-06-26 02:26] sean-mcmanus commented on #3385
@pieandcakes @WardenGnaw What milestone should this be moved to?

[2019-06-26 02:39] sean-mcmanus commented on #3792
Actually, there are still crashes...some of our fixes might not have worked.

[2019-06-26 03:02] camilojm27 commented on #3700
@sean-mcmanus Thanks for everything, work perfectly, i love vscode team <3

[2019-06-26 03:51] sean-mcmanus opened #3834 "0.24.0-insiders2 crashes in certain cases (mostly after edits and documentHighlight)"
We're not sure what the cause is yet. It may also crash on hover, completion, or squiggles update (less likely).

UPDATE: Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.24.0-insiders3 ..

[2019-06-26 04:14] Phycanva commented on #3827
Hi!
What I enabled:
trace, traceResponse, engineLogging.
Here are the results:

Have a good day!

[2019-06-26 04:56] bobbrow commented on #3347
@natet, the setting that controls the cache size is `C_Cpp.intelliSenseCacheSize`.  Set this to 0 and the extension will delete the cache.  Starting in 0.24.0-insiders, we also changed the default cache location to be outside of your workspace folders, so you probably won't even need to do that anymore.

[2019-06-26 05:13] humanosc commented on #811
The problem still exists:

[code]
with this simple program it always prompts this error message when I continue debugging with Step over (F10) at the last breakpoint.

![grafik](https://user-images.githubusercontent.com/6309696/60152672-adc02f80-97e1-11e9-897d-de7be373769f.png)

Is there no way to skip such files?

[2019-06-26 05:14] bobbrow commented on #2266
Yes, that won't work for Windows paths, but I was thinking @mgr-inz-rafal was dealing with a linux path in this case.

[2019-06-26 05:47] bobbrow commented on #3644
@michelleangela, but don't we delete the old path when it changes?  Is the problem that we're trying to delete the folder while the IntelliSense cache is still being built and we just give up because we don't have access?

[2019-06-26 08:22] yaweiw commented on #3655
@sean-mcmanus ok. we will test and get back. thanks.

[2019-06-26 12:44] shrnv99 commented on #2546
You can try to click on Also modified in user/workspace in the error squiggles settings to make them both enabled. I am not sure what both of them individually means but it certainly worked for me.

[2019-06-26 13:37] notAlaanor commented on #3781
The performance has improved tremendously (scrolling through a 600+ line file).

Thanks for the work on this extension.

[2019-06-26 13:37] #3781 closed, assigned to nobody

[2019-06-26 15:14] maxcurzi commented on #3387
I'm also seeing a similar issue on 1.35 (it used to be fine before).
Now all structs that are defined as __attribute((packed)) are not supported anymore with the F12 lookup elsewhere in the code.
![image](https://user-images.githubusercontent.com/30084738/60192106-44fea480-982d-11e9-91b2-4ca932ea6b4d.png)

[2019-06-26 15:23] kagonzalez opened #3835 "Feature Request: Container debugging launch profile"
Type: Debugger
A debugging profile that allows users to debug from a container using the pipeTransport options

**Describe the bug**
- OS and Version: Antergos Linux kernel: 4.19.50-1-lts
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): N/A because its not really an issue
- A clear and concise description

[2019-06-26 17:33] natet commented on #3347
@bobbrow I guess I wasn't clear in what I was asking. I don't want the cache to be eliminated, I simply want the ability to clear it at some point prior to preparing the zip file. But, if it's being stored outside the workspace, I guess that solves my problem.

[2019-06-26 17:48] lluo-rbx commented on #3776
Wow, after I updated to the 0.24.0-insiders2, everything works like a charm! Excellent work! I have a feeling that vscode+cpptools is actually becoming the best C++ dev env on non-Windows platforms!

[2019-06-26 18:00] pieandcakes commented on #811
@humanosc using `skip` was the information I found when doing a search. Unfortunately there isn't another way currently.

[2019-06-26 18:40] HyPNOTIQ opened #3836 "Can't parse envFile"
Type: Debugger

- OS and Version: Windows 10 1809
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.23.1

"envFile" does not work if set path using variable substitution. "${workspaceFolder}/.env" results in "Can't parse envFile ${workspaceFolder}/.env". Works fine if set absolute path without variable substitution.

[2019-06-26 18:52] coroner4817 opened #3837 "6/25 update mess up mtk definition in vscode"
**Type: LanguageService**

I am using a custom css (https://github.com/robb0wen/synthwave-vscode) for the vscode theme and yesterday's update seems mess up the mtk definition within vscode for c++ (https://github.com/microsoft/vscode/search?q=mtk&unscoped_q=mtk)

The color of the theme for c++ looks wrong today and if I disable this c/c++ extension, it back to normal.

[2019-06-26 19:10] sean-mcmanus commented on #3837
It sounds like you're using 0.24.0-insiders2 with enhancedColorization set to "Enabled". Setting that to "Disabled" should also work around the issue. We added semantic colorization using decorators.

However, we should figure out if it's some bug with how we are assigning scopes or if the theme should be changed.

[2019-06-26 19:56] coroner4817 commented on #3837
Thanks disable it works for me.

[2019-06-26 20:09] Colengms commented on #3837
Hi @coroner4817 .  I've installed the SynthWave '84 theme and Custom CSS and JS Loader extension.  When enhancedColorization is enabled, I see a number of elements with new colors, due to being newly recognized by this feature.  (Such as local variables, global variables, functions where called, types where instantiated).  These colors seem to be aligned with similar elements in TypeScript files w

[2019-06-26 20:54] coroner4817 commented on #3837
@Colengms  This is what I see on Ubuntu 16.04. You might haven't enable the glow on the SynthWave '84 theme. You need to reload the vscode window:
https://github.com/robb0wen/synthwave-vscode#to-enable-the-glow
https://github.com/be5invis/vscode-custom-css#getting-started

Before 0.24.0-insiders2, the theme always looks like the second one.

**enhancedColorization enabled c++ code:**
![Screenshot

[2019-06-26 21:12] Colengms commented on #3837
@coroner4817 , I believe if you compare against a TypeScript file, you will see C++ files have similar colors for variables and types, whereas you are not actually getting the proper colors for variables (i.e. arr and pivot) in Python files, likely for the same reason as they were missing from C++ files.

Tokens colored by enhancedColorization are likely missing the 'glow'.  We are using TextEdito

[2019-06-26 21:28] sean-mcmanus commented on #3819
It looks like the configuration provider is not being used at all (for compilerPath or anything else like includePath). It seems like we need to investigate how this could happen and/or add more logging in regards to what is failing.

[2019-06-26 22:16] sean-mcmanus commented on #3387
@MC-8 I repro this with a C file with 0.23.1, but it appears to be fixed with our 0.24.0-insiders2 release (set your updateChannel to "Insiders").

[2019-06-26 23:21] coroner4817 commented on #3837
@Colengms TypeScript for me also looks similar to the second one.

Anyway if the first screenshot should be the correct one which pick up all the proper colors then I guess I just disable enhancedColorization. It's too colorful for me.

You can close this one if it's a non-issue.

[2019-06-26 23:38] Colengms commented on #3837
@coroner4817 This looks like a side-effect of the custom CSS and our use of TextEditorDecorations.  The CSS is applied to certain CSS classes, but when TextEditorDecorations are applied they involve dynamically created CSS classes which take precedence. Unfortunately, I don't think we can address this from our side, at least not easily.  There are plans to add a better mechanism to VS Code to faci

[2019-06-27 00:07] Raymoun17 commented on #882
is it fixed yet ? coming from PyCharm this feature is a must for me

[2019-06-27 01:18] coroner4817 commented on #3837
Thanks for explanation.

[2019-06-27 01:18] #3837 closed, assigned to nobody

[2019-06-27 06:10] yangshuang-developer commented on #3654
I get the errors too,
fatal error LNK1112: module machine type 'x86' conflicts with target machine type 'x64'
config as the document say.

[2019-06-27 06:13] yangshuang-developer commented on #3654
env:
msbuild tools vs 2019, version 14.21.27702
start from  Developer Command Prompt,
errors:
fatal error LNK1112

[2019-06-27 06:18] yangshuang-developer commented on #3654
https://code.visualstudio.com/docs/cpp/config-msvc ,this document

[2019-06-27 07:17] dancon opened #3841 "how deal with `class` keyword in c program?"
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOS 10.14.5
- VS Code Version: 1.35.1
- C/C++ Extension Version: typedef struct class Class;
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/6836599/60244871-f1a05b00-98ed-11e9-93a7-d9b54e87e

[2019-06-27 07:34] yangshuang-developer commented on #3654
I finded the solution, you should start code frome x64 Native  Tools Command Prompt.
The the link error LNK1112 is gone

[2019-06-27 07:59] wohenniubi commented on #513
@pieandcakes set externalConsole to false in the launch.json file is the solution.

[2019-06-27 09:25] michalsc commented on #429
+1 on this. When I develop code for ARM with VS Code and cpptools I usually use armhf/aarch64 crosscompilers. However, it would be nice to be able to work on ARM directly (RPi4/RockPro64 for example) using Remote Extension and C/C++ Tools.

[2019-06-27 10:20] daldr-ntml commented on #3819
@sean-mcmanus Thanks for looking into this.

[2019-06-27 12:27] visstro commented on #3833
Could you describe how to fix it manually?

[2019-06-27 12:46] aleexf commented on #3543
This error sometimes appears in the "output" section:

[Microsoft.VSCode.CPP.IntelliSense.output.log](https://github.com/microsoft/vscode-cpptools/files/3334745/Microsoft.VSCode.CPP.IntelliSense.output.log)

[2019-06-27 13:12] visstro commented on #3833
Ok, there is actually no remote stuff magic here.
According to: https://code.visualstudio.com/api/advanced-topics/remote-extensions#installing-a-development-version-of-your-extension
1. Download manually from releases to your local: https://github.com/microsoft/vscode-cpptools/releases
2. In extensions tab choose "Install from VSIX".

Seems like it will keep auto updating even after manual install

[2019-06-27 14:33] Souldat opened #3842 "Unable to start the C/C++ language server (remote SSH on raspbian)"
Unable to start the C/C++ language server (remote SSH on raspbian)

Raspbian - Stretch
vscode insiders 1.36.0
CPP Tools version: 0.24.0-insiders2 (and some previous versions tested as well)
Other extensions installed: Python
Remote SSH (nightly)

Issue:
I'm using the new remote SSH features for remote debugging / running on a raspberry pi 3b+. The python side of my application seems to be working

[2019-06-27 18:14] graphitemaster commented on #3771
They're not interfaces in that way. They're not virtual and inherit + implement them. They're just static interfaces to components of a larger system. Almost singletons.

[2019-06-27 18:45] sean-mcmanus commented on #3841
It is interpreting the code as C++ instead of C. What is the file type? Can you make sure the files.association settings haven't added the file type as C++?

[2019-06-27 18:47] sean-mcmanus commented on #3842
Our binaries don't run on ARM currently. See https://github.com/microsoft/vscode-cpptools/issues/429 and https://github.com/microsoft/vscode-cpptools/issues/2506 to upvote those.

[2019-06-27 18:47] #3842 closed, assigned to nobody

[2019-06-27 18:51] Souldat commented on #3842
Thanks Sean, I was under the impression that support had been added based on some previous readings elsewhere since some of the original posts regarding this issue but good to know its still currently not supported.

[2019-06-27 18:54] Souldat commented on #429
Just wanted to voice my upvote for this as well. Would be really huge considering the newly added SSH remote debug / development in the latest version of visual studio code for working with systems like the raspberry pi from windows.

[2019-06-27 18:55] Souldat commented on #2506
Just wanted to voice my upvote for this as well. Would be really huge considering the newly added SSH remote debug / development in the latest version of visual studio code for working with systems like the raspberry pi from windows.

[2019-06-27 19:19] WardenGnaw commented on #3835
We have documentation on how to setup docker [here](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/PipeTransport.md#docker-example).

We will consider making this a configuration available to select if there is a higher ask for it.

[2019-06-27 20:19] pieandcakes commented on #3836
@WardenGnaw Assigning to you. Is there a way to support sending each string to VS Code for variable parsing?

[2019-06-27 20:19] michelleangela commented on #3644
Correct, it's supposed to delete the previous path when it changes. I think the bug of the previous path not getting deleted was introduced when typescript sends `cpptools_updateIntelliSenseCachePath` to the extension, where it first updates the path before the check if it changed is executed.

[2019-06-27 20:20] pieandcakes commented on #3835
We can start with documentation if that would be helpful.

[2019-06-27 21:00] tomocafe opened #3845 "Syntax highlighting broken with enum keyword in function argument"
Issue Type: <b>Bug</b>

1. Open a new editor, then add the following C++ code:

[code]

2. Set the syntax to C++
3. Observe (almost) no syntax highlighting between the beginning of function `func` and the first `}` character in the function

![vscode_cpp_enum_arg_bug](https://user-images.githubusercontent.com/20233563/60300418-c3b61900-98e3-11e9-9b3e-21dce010645e.PNG)

## Expected result:

Delete

[2019-06-27 21:12] lluo-rbx commented on #3776
Unfortunately, I noticed some more crashes with `0.24-insiders2` (below are two distinct crashes for `Microsoft.VSCode.CPP.Extension.darwin`, and I can paste more intellisense crashes if you need them): - but regardless, the `0.24-insiders2` version is definitely much much stabler than before!

[code]

[code]

[2019-06-27 21:55] Colengms commented on #3845
Hi @tomocafe .  This looks like an issue with vscode's C++ TextMate grammar.  There is a "Better Syntax" extension that handles this properly.  My understanding is that we'd like to ingest the TextMate grammar from this extension into vscode at some point.  @jeff-hykin is the author and may be able to comment.

[2019-06-27 22:17] pralhadsapre opened #3846 "Code navigation stops working if one symbol couldn't be resolved"
**Type: LanguageService**

- OS and Version: Mac OS 10.14.3
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.23.1

This is something I noticed when using VS Code with a codebase with almost 20K+ files. There are tons of symbols here with cases where a symbol is found in multiple places due to header file generation.

When I reset the Intellisense DB and start navigating to definitions of sym

[2019-06-27 22:53] sean-mcmanus commented on #882
@Raymoun17 Not fixed yet -- needs settings added.

[2019-06-28 00:07] busticated opened #3849 ""identifier is undefined" but project compiles without error..."
**Type: LanguageService**

**Describe the bug**
identifiers defined in header file are not recognized in code file.

- OS and Version: macOS 10.13.6
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): Particle Workbench ([link](https://marketplace.visualstudio.com/items?itemName=particle.particle-vscode-pack

[2019-06-28 00:15] busticated commented on #3849
staring at the debug log for a bit, this jumped out at me:

[code]

we're sending in `'${workspaceFolder}/**'` as the first item in the `includePath` array - my understanding was that this was the way to recursively include the VSCode workspace folders - is that correct?

later on i see:

[code]

so i assume that means those directories are being indexed? 🤷‍♂

[2019-06-28 00:31] jeff-hykin commented on #3845
This is an issue with an earlier version of the C++ Syntax. Thankfully it has been fixed upstream, but it will take a bit for it to get pulled into the regular VS Code. @tomocafe If you want the fix right now download the [Better Syntax](https://marketplace.visualstudio.com/items?itemName=jeff-hykin.better-cpp-syntax) extension and the latest syntax will automatically be applied.

[2019-06-28 00:52] #3836 closed, assigned to WardenGnaw

[2019-06-28 02:36] RonDen opened #3851 "Why Cannot use `string` in this tools"
Type: General

I wander why this simple code doesn't work in this tools.

[code]
When I compile it, there is no output and no bug report. When I remove the 2 lines before `cout << "Hello world" << endl;` then it works.
It seem the bug is in the `string`.

- OS and Version: Windows10
- VS Code Version: 1.35.1(user setup)
- C/C++ Extension Version:   latest
- Other extensions you installed (and if t

[2019-06-28 02:42] sean-mcmanus commented on #3776
The get_working_set_size is a known issue for a long time that is below our "crash threshold" -- let us know if you figure out a good way to repro it. The get_identifier_details crash should be fixed -- are you sure you're using the latest binaries. 0.24.0-insiders3 has fixed a bunch of other crashes.

[2019-06-28 02:43] sean-mcmanus commented on #3081
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.24.0-insiders3 . Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install the latest Insiders vsix. Or if that doesn't work (such as in the remote scenario), manually download and install the vsix that matches the target OS.

[2019-06-28 02:45] sean-mcmanus commented on #3836
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.24.0-insiders3 . Set the "C_Cpp.updateChannel" setting to "Insiders" to auto-install the latest Insiders vsix. Or if that doesn't work (such as in the remote scenario), manually download and install the vsix that matches the target OS.

[2019-06-28 02:58] RonDen commented on #3851
It seems can't use any `stl` container in MinGW, include `vector` and others.

[2019-06-28 07:38] DeltaRazero commented on #3851
``cin`` produces a character array ``char[]``. A ``string`` object and ``char[]`` are not the same.
If you want to input string, you could use ``getline()`` (see https://www.programiz.com/cpp-programming/strings).

Moreover, I think that this issue is not related to VSCode or the c/cpp tools extension.

[2019-06-28 08:52] hb9tst commented on #3347
Joining this discussion a bit late... I appreciate that there is a proposal to change this behaviour. I think that `%LOCALAPPDATA%` is the right choice on Windows, whereas `%USERPROFILE%` is NOT (I don't know why many programs write data there, it's not supposed to be used that way). For Linux, I'd strongly support using `$XDG_CACHE_HOME`, as for example here we have a setup with home directories

[2019-06-28 09:07] Lennon925 opened #3852 "Squiggles are disabled for this translation unit"
**Describe the bug**
- C/C++ Extension Version: 0.24.2-insider

Currently I set compile_commands.json and includePath in my c_cpp_properties.json, but some errors occur like this: "#include errors detected. Consider updating your compile_commands.json or includePath. Squiggles are disabled for this translation unit".

I wonder when this error will occur ? Any solution to solve this? Any ways to re

[2019-06-28 09:18] Lennon925 opened #3853 "Question: intelliSense Cache"
Hi

1. If I set intelliSenseCacheSize=0, which function will be slower than before? Such as auto-completion, go-to-definition or colorization?

1. I noticed that every time I open or switch a file, the flame will occur on the right of status bar. I think cpptools is parsing something. it's right? what's parsed on this time? It's possible to stop parsing file or when you open code folder first, cpp

[2019-06-28 09:49] pedro-w commented on #3347
I believe you would ideally use [URLsForDirectory:inDomain](https://developer.apple.com/documentation/foundation/nsfilemanager/1407726-urlsfordirectory) with [NSCachesDirectory](https://developer.apple.com/documentation/foundation/nssearchpathdirectory/nscachesdirectory?language=objc) and [NSUserDomainMask](https://developer.apple.com/documentation/foundation/nssearchpathdomainmask/nsuserdomainmas

[2019-06-28 12:55] notAlaanor commented on #3851
No, `std::istream& operator>>(std::istream&, std::string&)` is a completely viable overload here. The reason that `Hello world` isn't printed is because `std::cin` blocks until it receives console input.

Still, this issue has nothing to do with VSCode or this extension.

[2019-06-28 13:05] maxcurzi commented on #3387
@sean-mcmanus That worked, thanks ;)
After changing that setting (insiders3 now) and reloading everything, the parser had some hiccups in recognizing (and coloring) the uint16_t type (but all other uintx_t were correctly pointing to stdint.h) but restarting VS code fixed that. No big deal, just reporting for posterity this strange, yet one-off, behavior.

EDIT: @sean-mcmanus  actually, few minutes

[2019-06-28 15:56] bobbrow commented on #3851
@notAlaanor is correct.  When you are using `std::cin`, your program is probably hung because the "Debug Console" does not accept program input.  see https://github.com/microsoft/vscode/issues/17463.  If you set `"externalConsole": true` in your `launch.json` a console window will open up when you launch your program and you will be able to type into that.

[2019-06-28 15:56] #3851 closed, assigned to nobody

[2019-06-28 16:19] rkeithhill opened #3854 "c_cpp_properties.json is not viable for use on teams - compilerPath needs to be more flexible"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1903
- VS Code Version: 1.35.1
- C/C++ Extension Version:  0.23.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

We normally commit files like this for the workspace.  So that when team members grab the repo it will just work for th

[2019-06-28 16:31] DeltaRazero commented on #3851
Oops, my bad

[2019-06-28 17:35] bobbrow commented on #3851
Another issue could be that your `"cwd"` is pointing to `${workspaceFolder}` instead of `"C:\\Users\\LuoD\\Documents\\MinGW\\mingw64\\bin"`.  Your MinGW-built binary has a dependency on some of the dll's in the bin folder unless you statically link libstdc++.  So your program won't run unless it can find those dlls, or if you add the following args to your build task:

[code]

[2019-06-28 18:06] lluo-rbx commented on #3776
Hmm, 06/26 (`get_identifier_details`) seems to have mixed versions, so I'm not sure (probably it was before the insiders2). 06/27 (`get_working_set_size`) is definitely the `insiders2` only. So I believe there is only one crash now (`get_working_set_size`) - cannot remember exactly, but this happened together with when I sync'ed new code from p4, and cause the parallel git repo to report a lot of

[2019-06-28 18:23] lluo-rbx commented on #3776
Here is a new one happening when opening the project from a new dir (like a refresh open):

NOTE: this crash is very consistent, always thread 23, at exactly the same location every time! Hope this is an easy fix.

[code]

[2019-06-28 18:32] Spongman commented on #3831
i don't think this is a dupe. if it is, it's not fixed. i'm running  0.24.0-insiders3 on 1.35.1, and i get the same error.

[2019-06-28 18:35] Spongman commented on #3662
maybe it's worth removing the incorrect/misleading comments above?

[2019-06-28 18:38] sean-mcmanus commented on #3854
Our code already auto-detects the user's latest installed cl.exe location if doesn't exist, so you shouldn't need to check in the compilerPath setting, i.e. can you just remove it, or are you adding arguments to the end of the path? We plan to add a separate compilerArgs setting later.

[2019-06-28 18:40] rkeithhill commented on #3854
No, not adding any cl args.  Good to know that it can be removed.  Although I don't recall adding it in the first place but it's been a while.

[2019-06-28 18:40] sebirdman commented on #3795
@sean-mcmanus  i'm still seeing this on 0.24.0-insiders3

[code]

[2019-06-28 18:40] Spongman commented on #3831
ok, it seems like the source paths are resolved relative to the process' current working directory, which doesn't seem right. shouldn't they be resolved relative to either the debuggee's path itself, or some other directory?

[2019-06-28 18:49] ducalex opened #3856 "Color standard types/macros (i.e. bool/true/false/uint32_t in C) as keywords"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 8.1
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.24.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Many items in C/C++ are aliases or macros and therefore they get assigned unintuitive colors when using enhancedCo

[2019-06-28 19:16] #3624 closed, assigned to WardenGnaw

[2019-06-28 19:16] WardenGnaw commented on #3624
https://github.com/microsoft/vscode-cpptools/pull/3723

[2019-06-28 19:16] Spongman commented on #3831
and what's worse, is that you can't set `cwd` for `attach` configurations, and if the child process changes its working directory to something else, it breaks source lookup in the debugger. and setting `.` in the sourceFileMap doesn't help.

[2019-06-28 19:23] WardenGnaw commented on #1632
Closing old issue. Please create a new issue if you are still encountering problems. I would also try this scenario with the new [`Remote - WSL`](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl) extension.

[2019-06-28 19:23] #1632 closed, assigned to WardenGnaw

[2019-06-28 19:25] WardenGnaw commented on #1675
Closing issue. Please file a new ticket with more information if you are still encountering issues.

[2019-06-28 19:25] #1675 closed, assigned to WardenGnaw

[2019-06-28 19:25] WardenGnaw commented on #1870
Closing issue. Please file a new ticket with more information if you are still encountering issues.

[2019-06-28 19:25] #1870 closed, assigned to WardenGnaw

[2019-06-28 19:25] WardenGnaw commented on #1885
Closing issue. Please file a new ticket with more information if you are still encountering issues.

[2019-06-28 19:25] #1885 closed, assigned to WardenGnaw

[2019-06-28 19:25] sean-mcmanus commented on #3853
The initial creation of the TU will be slower, as well as any update that involves a change that visible in a global scope affecting the entire TU, e.g. edits outside of a method, as well as any time the active document changes (because we want to ensure a clean parsed state). Auto-complete in a function/method, go to def, and colorization generally aren't affected, unless the operation is blocked

[2019-06-28 19:31] sean-mcmanus commented on #3852
The text "squiggles are disabled" is incorrect is the errorSquiggles setting is "Enabled" (it's correct if the setting is "EnabledIfIncludesResolve".

The error occurs when a `#include` header can't be found. You could try using the C/C++: Log Diagnostics command to see if the paths are setup correctly.

There is no way to remove that particular error, unless all errors are removed via the errorSq

[2019-06-28 19:46] sean-mcmanus commented on #3846
What do you mean by "navigating to definitions of symbols"? Are you using Go to Def/Decl or Go to Symbol? Do you know what operation causes it to enter a broken state?

Under normal conditions, a reload window should not cause a reparsing of the symbol database, just a rescan for any potentially changed files. Are you saying a Restart IntelliSense Database is required to fix the issue, which does

[2019-06-28 20:13] pieandcakes commented on #3662
@sean-mcmanus Why is @Spongman not able to update through the insiders channel?

[2019-06-28 20:19] Colengms commented on #3856
Hi @ducalex .  It looks like your example is from a C file.  Is that correct?  bool, true, and false are keywords in C++, and should be colored as such in a C++ source file.  The behavior you are seeing is aligned with the behavior of Visual Studio.  It sounds like you are asking for certain defines and typedefs from standard library headers be colored as language keywords.  We could keep this ope

[2019-06-28 20:45] sean-mcmanus opened #3858 "Tag parser crash with get_attribute_sections_details"
Here is a new one happening when opening the project from a new dir (like a refresh open):

NOTE: this crash is very consistent, always thread 23, at exactly the same location every time! Hope this is an easy fix.

[code]

_Originally posted by @lluo-rbx in https://github.com/microsoft/vscode-cpptools/issues/3776#issuecomment-506832714_

[2019-06-28 20:49] sean-mcmanus commented on #3776
I moved the get_attribute_sections_details crash to a new bug at https://github.com/microsoft/vscode-cpptools/issues/3858 .

[2019-06-28 20:52] sean-mcmanus commented on #3858
We can't tell yet how wide spread (i.e. what priority) this crash is. UPDATE: It's not a "high" hitting crash, but still in the top 3.

@lluo-rbx Are you able to locate the file that is being tag parsed when the crash occurs and then locate the attribute that is causing the crash? This might be hard to fix unless we can get a repro.

It's a "regression" from possibly the previous attribute crash f

[2019-06-28 21:07] pralhadsapre commented on #3846
Hi Sean,

Thanks for your reply.

To clear out the ambiguity when I mentioned "navigating to definitions of symbols" I only meant "Go to definition" since I was CMD + Left Clicking on the symbols.

Using the IntelliSenseEngine set to "Default" I do need to Reset the IntelliSense Database which triggers a reparse. However I should say that I tried navigating in the problematic files after changing

[2019-06-28 21:09] j-bro commented on #638
I get the same error, any insight?

[2019-06-28 21:24] sean-mcmanus commented on #3854
Yeah, we auto-add the auto-detected compilerPath when it's first created, but if it doesn't exist, it will still try to auto-detect a compilerPath behind the scenes.

[2019-06-28 21:26] Colengms commented on #3849
Hi @busticated .  I think I'm able to repro.  In my repro, the issue occurs after I've renamed or moved a file (i.e. songs.h).  Perhaps you had opened the folder in VS Code prior to moving files to the inc directory.  My repro appears to be related to ipch, perhaps retaining an incorrect path to the file from before the move/rename.  If you delete your ipch directory, does that clear up the proble

[2019-06-28 21:30] ducalex commented on #3856
@Colengms that is correct, it is in C.

Yes I'd like the keywords from stdbool.h and stdint.h and stddefs to be colored like other basic types, which seems to be the default behavior of VS Code.

I guess I just got too used to VS Code default behavior, but mimicking Visual Studio is just as valid so I understand!

[2019-06-28 21:33] sean-mcmanus commented on #3795
0.24.0-insiders3 does appear to have fixed the all the "major" crash regression compared to 0.23.1, so it sounds like you're hitting a different issue. Are you able to get a crash call stack, such as via attaching to the Microsoft.VSCode.Cpp.Extension.linux process? Are you able to identify what action causes the crash (the Connection to server got closed.) or if you can repro it without any files

[2019-06-28 21:38] busticated commented on #3849
@Colengms thanks for taking a look :pray:

good call - i completely forgot about `./.vscode/ipch` 🤦‍♂

i removed that directory, reloaded the window, and now i'm able to "Peek Definition" on what were previously flagged as undefined identifiers :clap::tada:

that said, when i first re-opened VSCode and my project but before deleting `ipch`, those "identifier is undefined" errors were still present

[2019-06-28 22:00] #2134 closed, assigned to WardenGnaw

[2019-06-28 22:00] #2186 closed, assigned to WardenGnaw

[2019-06-28 22:03] WardenGnaw commented on #2402
Closing issue. Please create a new ticket with any additional information requested here if you are still encountering issues.

[2019-06-28 22:03] #2402 closed, assigned to WardenGnaw

[2019-06-28 22:04] sean-mcmanus commented on #3846
The "Tag Parser" mode is not ideal and doesn't do full parsing and type checking or squiggles, etc., but it sounds like the additional type checking that the IntelliSense is doing has a bug that is excluding results that it should not, if the bug always repros when the red flame disappears then there's a bug with how we handle the IntelliSense type checking, but if the bug happens after editing, t

[2019-06-28 22:57] Colengms commented on #3849
I was able to repro a similar issue in VS.  (cpptools leverages some shared code from VS).  That issue is here:  https://developercommunity.visualstudio.com/content/problem/627568/ipch-issue-after-file-moverename-intellisense-colo.html

[2019-06-28 23:24] lujfsd opened #3859 "format down"
i got some troubles about format，
before format:
![image](https://user-images.githubusercontent.com/3353399/60375956-64205080-9a3e-11e9-9616-ff32e0c33ed7.png)
after format:
![image](https://user-images.githubusercontent.com/3353399/60375969-769a8a00-9a3e-11e9-9929-b3dac58cd0d4.png)
details below：
issues:[#76292](https://github.com/microsoft/vscode/issues/76292#issue-462015898)
someone can give me

[2019-06-29 00:01] sean-mcmanus opened #3860 "Switch to using $XDG_CACHE_HOME on Linux"
Please consider using $XDG_CACHE_HOME and fall back to ~/.cache on Linux following the XDG Base directory specification: https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

There's a comprehensive proposal on how files should be organized in each platform for vscode here: https://github.com/microsoft/vscode/issues/3884.

_Originally posted by @hferreiro in https://github.com/m

[2019-06-29 00:03] sean-mcmanus commented on #3860
Also see https://github.com/microsoft/vscode-cpptools/issues/3347#issuecomment-506658208

[2019-06-29 00:04] sean-mcmanus commented on #3347
@hb9tst I created a new issue to track the $XDG_CACHE_HOME at https://github.com/microsoft/vscode-cpptools/issues/3860

[2019-06-29 00:27] sean-mcmanus commented on #3387
__attribute is expected to fail in msvc-x64 mode, because the cl.exe compiler doesn't support it.

Could you move the uint16_t issues to a new issue? I don't have enough info to repro it. We have 1 known bug with the IntelliSense cache sometimes causing headers to not get loaded correctly.

The insiders build added semantic colorization from IntelliSense. See https://github.com/microsoft/vscode-cp

[2019-06-29 00:49] Lennon925 commented on #3852
Hi Sean,

I set the errorSquiggles to 'Enabled' and the error still occur. And there is no errors in output window after I use 'Log Diagnostics'.

![1](https://user-images.githubusercontent.com/39362073/60377562-e1ea5900-9a4a-11e9-824f-1765435e4c0c.PNG)

And output as follow:

`-------- Diagnostics - 2019/6/29 上午8:43:44
Version: 0.24.0-insiders3
Translation Unit Mappings:
[D:\Lennon\xxxx\xxxx.c]:

[2019-06-29 00:59] Lennon925 commented on #3853
OK. Thanks for your reply!
I think if avoid parsing in scenarios where there are no edits or change,it will be faster than before. I hope this feature can be convert to a feature.

[2019-06-29 01:04] pralhadsapre commented on #3846
I double checked for the .ifc file Go to Def issue. Sorry for the confusion but that file is indeed parsed correctly and shows up as one of the possible definitions.

For the IntelliSense issue, after the point that the code navigation was broken, I didn't see the red flame or the database icon. So I am positive that the parsing was completed. I know that doesn't help you a lot to narrow down the

[2019-06-29 01:12] Lennon925 commented on #3853
Is it possible that after opening code folder first time cpptools parse the whole code files and store results, if no code change, cpptools can get results from results stored before. When code changed, re-parse related code files and update their results to db.

[2019-06-29 01:20] sean-mcmanus commented on #3852
Yeah, the IntelliSense process can't locate stddef.h. How are you setting your system includes? Did you set a compilerPath? Setting that explicitly might fix the issue.

[2019-06-29 01:21] sean-mcmanus commented on #3852
If you're using compile_commands.json, it looks like it might have some problem getting the compilerPath from there.

[2019-06-29 01:22] sean-mcmanus commented on #3852
We have a bunch of known bugs with compile_commands.json that we want to fix.

[2019-06-29 01:33] sean-mcmanus commented on #3853
It's "possible" but it would probably be a "major work item" and something that we would want to have the VS team implement in our shared low level parsing code, i.e. we'd file a feature request at https://developercommunity.visualstudio.com/spaces/62/index.html . My assumption is that they haven't done that because they expect users to edit the files and the open/activeDocChange scenarios are exp

[2019-06-29 02:01] paulzhn commented on #3385
@pieandcakes Sorry for the delay... The problem still exists, which means when I change `externalConsole` to false it cannot work. However when changed to true, it works in external console.

[2019-06-29 02:05] paulzhn commented on #3385
![](https://user-images.githubusercontent.com/8180364/60378447-43172a00-9a55-11e9-9a4a-2948632baf25.png)
When using intergrated terminal, it looks like this, and nothing happened then.

[2019-06-29 03:48] Phycanva commented on #3827
Looking forward to your reply.

[2019-06-29 06:14] maxcurzi commented on #3387
Thanks, I will create a new issue for the uint16_t then once I gather more reliable reproduction steps.

[2019-06-29 10:16] Lennon925 commented on #3852
I set compilerPath to "D:\Lennon\MinGW\bin\gcc.exe", but it still can't find system header file "features.h" which is in "D:\Lennon\MinGW\lib\gcc\mingw32\5.3.0\include\c++\parallel" folders.

[2019-06-30 04:16] venkata-ram opened #3861 "cant run debugging for c programs..."
There is no problem on debugging untill yesterday...
 But from today morning when i start debugging active file it shows "Unable to start debugging. Unable to establish a connection to GDB. Debug output may contain more information."

--> E (output): {"event":"output","body":{"category":"console","output":"1: (216) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDeb

[2019-06-30 10:07] Eusebius1920 commented on #2738
Any news on this?

[2019-06-30 11:46] oleksiisedun commented on #2610
Had the same issue. Fixed it by updating c_cpp_properties.json file. Added next lines to includePath:
[code]
And set
`"intelliSenseMode": "gcc-x64"`

I am sure this should be done automatically by Arduino extension.

[2019-06-30 22:52] tomas-silveira commented on #1768
Same problem! Vectors doesn't show its elements.
I'm currently using this task file:

and this launch file:

Has anybody found any solution for MinGW (windows 10)? Enabling pretty printing didn't help.
Thanks!

[2019-07-01 08:06] steamprodz opened #3862 "C++ syntax highlighting"
**Type: LanguageService**

**Describe the bug**
- OS and Version: CentOS Linux release 7.3.1611
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.24.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them): austin.code-gnu-global, jcmordan.mark-as-excluded, teabyii.ayu, thewolfs.cppcolorizationupgrade, ms-python.python
- A clear and concise description of

[2019-07-01 15:30] bobbrow commented on #3385
When using `"externalConsole": false` the output goes to the "Debug Console" window, not the "Terminal"

To answer @pieandcakes question from a while ago (sorry, I didn't see it earlier), the build and debug active file feature generates a launch.json that you can edit.

[2019-07-01 15:42] bobbrow commented on #3862
Thank you for your issue report.  This is actually the expected behavior.  Your theme has colors for user-defined types and variables, but the regex parser used previously couldn't identify them all.  We have now added a layer on top of this that correctly identifies the tokens in your code.

You have a few options as to how to work with this:
1. Disable the new colorization by setting the `"C_Cpp

[2019-07-01 15:42] #3862 closed, assigned to nobody

[2019-07-01 16:11] CanCanZeng commented on #15
@jiayuqicz what platform do you use, windows or Linux?

[2019-07-01 17:11] pieandcakes commented on #1768
@tomas-silveira I can't find the issue now but i remember that users were saying they needed to include a `gdb` specific python or pretty printing package to enable it in MinGW/Cygwin by default.

[2019-07-01 17:12] pieandcakes commented on #3385
@paulzhn it should go to the Terminal as that was how it was working before but i think with a recent change by VS Code it is broken. As of now, you can see it in the `debugConsole`

[2019-07-01 18:00] pieandcakes commented on #3861
@venkata-ram Your error tells you whats wrong:
`--> R (launch-2): {"request_seq":2,"success":false,"command":"launch","message":"Unable to start debugging. Unable to establish a connection to GDB. Debug output may contain more information.","body":{"error":{"id":1005,"format":"Unable to start debugging. Unable to establish a connection to GDB. Debug output may contain more information."}},"seq":38

[2019-07-01 18:21] sean-mcmanus commented on #3859
We need more repro info. Are you using multi-root? Are you using UTF-8 files? Does it repro without making other edits beforehand? Does it repro with a simple file?

[2019-07-01 18:25] #3504 closed, assigned to WardenGnaw

[2019-07-01 18:53] tomocafe commented on #3845
Better Syntax indeed solves this issue. Thanks!

Not sure if I should close this issue or leave it open to track until it's pulled into mainline. I'll leave this to the maintainer's discretion.

[2019-07-01 19:39] mdzahidh opened #3864 "doesn't pick up changes in compile_commands.json at runtime."
Extension Version: 0.24.0-insiders3
Vscode version: 1.36.0-insider
OS: Linux, Fedora

We have a script that changes the compile_commands.json while vscode/cpptool is running, but unfortunately the cpptools doesn't seem to pick up the changes until we restart vscode (rescan workspace doesn't seem to handle this case). Are there ways to trigger this ? It would be really nice if cpptools picked up th

[2019-07-01 19:54] sean-mcmanus commented on #3852
1. You should use g++.exe for C++ (if you really want C with gcc.exe, then make sure it's non-0 byte file that is executable on Windows, i.e. you might need to use mingw32-gcc.exe instead).
2. When you do C/C++: Log Diagnostics, you should see the "D:\Lennon\MinGW\lib\gcc\mingw32\5.3.0\include\c++\" (in caps).

Are you able to get it working now?

[2019-07-01 20:47] sean-mcmanus commented on #3864
Yeah, we have code that handles the change to the compile commands and updates the IntelliSense args, but somehow it's not working so we need to debug it further.

[2019-07-01 21:38] andreeis commented on #2994
Does IntelliSense still get progressively slower with the last insiders? We made a fix that may have addressed this issue but we don't know for sure since we weren't able to create a good repro for this scenario.

[2019-07-01 21:39] andreeis commented on #3427
Does IntelliSense still get progressively slower with the last insiders? We made a fix that may have addressed this issue but we don't know for sure since we weren't able to create a good repro for this scenario.

[2019-07-01 21:52] bobbrow commented on #599
We are tracking this with #296

[2019-07-01 21:52] #599 closed, assigned to nobody

[2019-07-02 01:16] lujfsd commented on #3859
![image](https://user-images.githubusercontent.com/3353399/60475248-017ebd00-9ca9-11e9-9b5f-26f1c277fe1c.png)
just main.cpp file,and encodeing with UTF-8.
Reproduce as below:
include multi file,
keep coding,coding....., the c_cpp parse is always running.... and then save file.this issue is coming.
you can try it.

[2019-07-02 01:32] Lennon925 commented on #3852
I used g++.exe and did C/C++: Log Diagnostics and saw:
![捕获](https://user-images.githubusercontent.com/39362073/60475895-127cfd80-9cac-11e9-982e-d3a6fbff6825.PNG)

There is no this path : "D:\Lennon\MinGW\lib\gcc\mingw32\5.3.0\include\c++" and error still errors.

[2019-07-02 01:38] sean-mcmanus commented on #3852
Those are the C/gcc paths and the C++ paths are supposed to appear beforehand -- it looks like it's interpreting the file as "C" and not "C++". What "Standard Version" is reported from the Log Diagnostics?

[2019-07-02 02:06] Lennon925 commented on #3852
my file is a c file which name is xxx.c and ’Standard Version‘ is 'C11'

[2019-07-02 02:39] sean-mcmanus commented on #3852
What happens when you run `D:\Lennon\MinGW\bin\g++.exe -Wp,-v -E -xc -dD -x c++ nul`? It's supposed to show the C++ include paths in the "search starts here" output. My guess is it's outputting some path format that we're not converting correctly to a usable path that exists.

[2019-07-02 02:44] Lennon925 commented on #3852
As below:

![捕获](https://user-images.githubusercontent.com/39362073/60478803-49581100-9cb6-11e9-8fd8-c8320073b43c.PNG)

[2019-07-02 02:49] sean-mcmanus commented on #3852
Yeah, that's the correct output -- I don't know why we are not picking those up. @bobbrow Any ideas on how to get more diagnostics?

[2019-07-02 08:40] ranqiyu commented on #882
yes, this feature is very important. from visual studio 2017 and use c++ ' user.

[2019-07-02 08:49] ranqiyu commented on #862
Is this feature added to the Cpptool?

[2019-07-02 13:20] Il-Capitano opened #3867 "Syntax highlighting broken when assigning the value '}' to a member in an enum"
**Type: bug**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.35.1
- C/C++ Extension Versions: 0.23.0 - 0.24.0-insiders3  (possibly all are affected)
- Other extensions you installed (and if the issue persists after disabling them): none

When assigning the value `'}'` to an element in an `enum` or `enum class` the syntax highlighting is broken, it seems to think that the c

[2019-07-02 14:50] jiayuqicz commented on #15
windows

[2019-07-02 14:53] jiayuqicz commented on #15
eh…，I don't know，it just work on my computer. maybe you can try to read the instruction of the extention and try again

[2019-07-02 16:32] bobbrow commented on #3852
I might be missing something, but it sounds like this is a .c file so @Lennon925 is getting the correct include path for C.  Why do you want to include "features.h" from the C++ path?  Is it valid to be including that file?

[2019-07-02 17:19] Colengms commented on #3867
Hi @Il-Capitano .  Thanks for reporting this.  There appear to be 3 issues here.  The character constant is not colored correctly, brace-matching is broken, and later code is colored incorrectly with the string constant color.  I believe these issues are related to the Text Mate grammar for C/C++, in VS Code.  @jeff-hykin has contributed to C/C++ grammar, and may be able to assist.  :)

[2019-07-02 17:28] jeff-hykin commented on #3867
Yup this is a bug, and a very strange one (the `}` in the string should be completely invisible to the external pattern). I've created an issue to track it [here](https://github.com/jeff-hykin/cpp-textmate-grammar/issues/278)

[2019-07-02 18:24] sean-mcmanus commented on #862
@ranqiyu It's not added yet. We're working on other features. It has not been scheduled.

[2019-07-02 20:24] pieandcakes commented on #2738
I was able to investigate this and see that this broke when [this](https://github.com/microsoft/MIEngine/pull/751) fix was introduced. I'm currently working on a fix for this.

[2019-07-02 22:11] pieandcakes commented on #3831
@Spongman Since I don't have a good repro, can you confirm that you are still seeing a NotImplementedException with `0.24.0-insiders3` or some other error?

For the source paths, we resolve them as your symbol file has them. if you want, you can specify `sourceFileMap` to redirect where the source files should be. You need a path as we don't support just the `.` character.

[2019-07-03 01:19] Lennon925 commented on #3852
Output window give this error:cannot open source file "features.h". I don't know why to include this header. My code files don't include 'features.h'

[2019-07-03 01:54] sean-mcmanus commented on #3852
It sounds like parallel/features.h should not be being used. Are you able to track down which file is attempting to use that?

From the error message, you are using compile_commands.json, so the output from C/C++: Log Diagnostics might be incorrect (looking at [debug logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) might be more

[2019-07-03 02:39] Lennon925 opened #3870 "The flame still occurs when I switch file or open file in vscode"
Hi, I comment out these code as following in main.js which is located in cpptools installed folder, but the flame still occurs on the status bar when I open a file. How to stop symbols parsing when switching or opening a file?

`activeDocumentChanged(document) {
        this.notifyWhenReady(() => {
            //this.languageClient.sendNotification(ActiveDocumentChangeNotification, this.languageCl

[2019-07-03 03:14] Lennon925 commented on #3852
I searched my code and didn't find any code like this: '#include <features.h>'. And I removed compile_commands.json, the behavior is the same with previous.

and debug info as follow:
textDocument/codeAction: 195
cpptools/activeDocumentChange
cpptools/textEditorSelectionChange
cpptools/textEditorSelectionChange
idle loop: reparsing the active document
Checking for syntax errors: file:///d%3A/Lenno

[2019-07-03 03:17] Lennon925 commented on #3852
In addition, If my code folder includes .c file and .cpp file, I should use gcc.exe or g++.exe for compilerPath?

[2019-07-03 05:15] ed-alertedh commented on #1715
What I gather from other issues is that the reason for holding off is due to an eventual plan to consolidate all the paths into one setting, is that a fair summary?

I would really like this feature as I am trying to use conan to manage my dependencies and this means the locations of the headers are dynamic, e.g. `/home/devuser/.conan/data/zlib/1.2.11/conan/stable/package/880e5642afc26dae7f4019501

[2019-07-03 13:03] hgruniaux opened #3871 "Bad coloring of block comments in templates"
Issue Type: <b>Bug</b>

### To reproduce
Type this in a C++ soure file (e.g. main.cpp):
[code]

### Expected
The C-style block comment should be correctly highlighted.

### Actual
The comment is not correctly highlighted, instead `/* */` is considered as multiple C++ operators by the syntax highlighter.

### Screenshot
![image](https://user-images.githubusercontent.com/42495291/60593663-8a7a1f00-9

[2019-07-03 13:47] floooh commented on #3829
Not sure if the problem is related, but breakpoints stopped working for me when I upgraded to the macOS Catalina and Xcode11 betas (not sure if the bug is triggered by the macOS or Xcode update).

Both "Stop At Entry" as well as breakpoints don't work (neither breakpoints set before the debugging session starts, nor breakpoints set during the debugging session).

Using the CodeLLDB extension still

[2019-07-03 17:25] Colengms commented on #3871
Hi @HubertGruniaux .  This looks like an issue with the Text Mate grammar in VS Code insiders.  I'm not able to repro with a non-insiders build of VS Code, though it does repro if I enable the "Better C++ Syntax" extension.  ( @jeff-hykin has been contributing grammar to VS Code, which is also available in that extension).

[2019-07-03 17:53] man-jai commented on #3829
Hi, sorry I forgot that I had updated to Catalina...I do not however have the Xcode beta. I'm guessing since we are both experiencing the issue, that it is a 10.15 beta issue. codelldb works however, I can confirm!

[2019-07-03 19:20] sean-mcmanus commented on #3870
Trying to disable active document change message will probably break other stuff.

The update on switching or opening files isn't expected to take more than a few seconds. Can you explain why the red flame appearing is a problem? We could potentially add some setting to configure this, but we haven't received enough complaints and neither has VS which has the same behavior.

[2019-07-03 20:49] Colengms commented on #3834
This looks to be fixed in 0.24.0-insiders3

[2019-07-03 20:49] #3834 closed, assigned to nobody

[2019-07-03 20:50] #3780 closed, assigned to nobody

[2019-07-03 20:50] #3779 closed, assigned to nobody

[2019-07-03 20:52] Colengms commented on #2988
This looks to be fixed in VS Code.

[2019-07-03 20:52] #2988 closed, assigned to nobody

[2019-07-03 20:57] Colengms commented on #529
This appears to be fixed in VS Code.

[2019-07-03 20:57] #529 closed, assigned to nobody

[2019-07-03 21:20] atyshka commented on #429
+1 on this. Now that experimental support for armv7 is being added for raspberry pi in VSCode remote development, adding support in this extension would be a logical next step. arm64 support would also be great for those of us developing with the Jetson family of boards.

[2019-07-03 21:33] sean-mcmanus commented on #3852
Does the error message for the missing include have a "dependency of"? Usually you can keep opening the headers to see where the source of the missing include is. I would guess some incorrect system header is going down a C++ code path instead of a C code path.

Either gcc.exe or g++.exe should work as long as the files exist and are callable -- we pass in the -x c or c++ flag depending on the fil

[2019-07-03 21:37] sean-mcmanus commented on #1715
The reason is that the work hasn't been high enough priority, but since we're fixing compile_command.json related issues for July/August, maybe we could fix this?

In most cases, we expect users to be able to set the browse.path to the root of all folders that will need to have global symbols found, as a workaround for us not automatically doing that based on the compile_commands.json.

[2019-07-03 21:44] TrevorMuraro commented on #429
Also +1 - I was looking for a good remote development toolkit for an embedded Linux project (developing on a pi), and this would be a great thing to have.

[2019-07-03 22:38] sean-mcmanus opened #3873 "Report problems/errors for all included headers"
In VS, all the headers in a TU show errors in the error list (with the ability to filter to only show errors for the current file). See also https://github.com/microsoft/vscode-cpptools/issues/3207 , which is related.

[2019-07-03 23:02] #2378 closed, assigned to nobody

[2019-07-03 23:03] michelleangela commented on #2419
Closing this issue. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-07-03 23:03] #2419 closed, assigned to nobody

[2019-07-03 23:04] michelleangela commented on #2483
Closing this issue. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-07-03 23:04] #2483 closed, assigned to nobody

[2019-07-03 23:05] #2537 closed, assigned to nobody

[2019-07-03 23:06] michelleangela commented on #2368
Closing this issue. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-07-03 23:06] #2368 closed, assigned to nobody

[2019-07-03 23:08] michelleangela commented on #2616
Closing this issue. Please try the suggested solution. If your issue still persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-07-03 23:08] #2616 closed, assigned to nobody

[2019-07-03 23:08] #2619 closed, assigned to nobody

[2019-07-03 23:09] Colengms commented on #1037
This looks to be working now.  F12 to go to definition on use of an overloaded operator is navigating to the definition.

[2019-07-03 23:09] #1037 closed, assigned to nobody

[2019-07-03 23:09] michelleangela commented on #2671
Closing this issue. If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-07-03 23:09] #2671 closed, assigned to nobody

[2019-07-03 23:14] Colengms commented on #1140
This appears to have been addressed.  That code no longer squiggles.

[2019-07-03 23:14] #1140 closed, assigned to nobody

[2019-07-03 23:16] Colengms commented on #1135
Closing due to no activity on this issue for almost 2 years.  Please reopen if there is still an issue here.

[2019-07-03 23:16] #1135 closed, assigned to nobody

[2019-07-03 23:35] Colengms commented on #1666
This appears to have been addressed.  The examples provided no longer repro the issue.

[2019-07-03 23:35] #1666 closed, assigned to nobody

[2019-07-04 00:21] Colengms commented on #2284
I don't see this stack anywhere in recent crash data.  Closing.

[2019-07-04 00:21] #2284 closed, assigned to nobody

[2019-07-04 00:30] jeff-hykin commented on #3871
This was an issue, and it was fixed just now.
@HubertGruniaux
if you want the changes immediately, install the Better C++ Syntax extension
if you're okay with waiting a few days, you can use the VS Code Insider's release
if you're okay with waiting awhile, the changes will eventually be pulled into VS Code stable

[2019-07-04 00:32] EmbeddedBacon opened #3874 "Insider update channel not working with vscode-remote"
Hello,

  VSCode recently updated to 1.36 and the Remote-SSH extension was recently updated as I was waiting for this action item to be addressed, [Handle Proxy Issues on Remote](https://github.com/microsoft/vscode-remote-release/issues/231)

  I am able to install extension on the remote session which the main extension is this one, vscode-cpptools.  This extension was installed/updated to 0.23.1

[2019-07-04 00:49] Colengms commented on #2314
This appears to be addressed.

[2019-07-04 00:49] #2314 closed, assigned to nobody

[2019-07-04 00:54] lluo-rbx commented on #3858
Over the past few days, this crash doesn't come back to me. It feels like it happened during fresh loading/parsing the project.

[2019-07-04 00:58] Colengms commented on #2622
This appears to have been addressed.  Code snippet for main() now includes int return type.

[2019-07-04 00:58] #2622 closed, assigned to nobody

[2019-07-04 02:10] sean-mcmanus commented on #3874
This appears to be the same issue as https://github.com/microsoft/vscode-cpptools/issues/3800 . There must be some unknown failure during the installation and we don't log enough info.

0.24.0 is the latest now, but you'll probably hit the same issue again with 0.25.0-insiders.

[2019-07-04 02:15] sean-mcmanus commented on #2738
Fixed with 0.24.0.

[2019-07-04 02:15] #2738 closed, assigned to pieandcakes

[2019-07-04 02:16] #3081 closed, assigned to nobody

[2019-07-04 02:16] #3801 closed, assigned to nobody

[2019-07-04 02:16] sean-mcmanus commented on #3774
Fixed with 0.24.0.

[2019-07-04 02:16] #3774 closed, assigned to nobody

[2019-07-04 02:17] #3776 closed, assigned to nobody

[2019-07-04 02:18] #3786 closed, assigned to andreeis

[2019-07-04 02:18] #3765 closed, assigned to nobody

[2019-07-04 02:18] #3481 closed, assigned to nobody

[2019-07-04 02:18] #3229 closed, assigned to nobody

[2019-07-04 02:19] #3642 closed, assigned to nobody

[2019-07-04 02:19] #3655 closed, assigned to nobody

[2019-07-04 02:19] sean-mcmanus commented on #3792
The crashes got fixed with 0.24.0-insiders3 and not 0.24.0.

[2019-07-04 02:19] #3792 closed, assigned to nobody

[2019-07-04 02:21] sean-mcmanus commented on #3662
@pieandcakes I'm not sure. Some users have issues (most don't) -- we probably should add better error messages.

This should be fixed with 0.24.0.

[2019-07-04 02:21] #3662 closed, assigned to pieandcakes

[2019-07-04 02:21] #3685 closed, assigned to nobody

[2019-07-04 02:23] #3690 closed, assigned to nobody

[2019-07-04 02:24] sean-mcmanus commented on #3664
We're tracking the $XDG_CACHE_HOME issue with https://github.com/microsoft/vscode-cpptools/issues/3860 .

[2019-07-04 02:24] #3664 closed, assigned to nobody

[2019-07-04 02:25] #230 closed, assigned to Colengms

[2019-07-04 02:25] #3596 closed, assigned to nobody

[2019-07-04 02:25] #3712 closed, assigned to nobody

[2019-07-04 02:25] #3637 closed, assigned to nobody

[2019-07-04 02:45] EmbeddedBacon commented on #3874
@sean-mcmanus After seeing your post, I started a remote editing session to see if v0.24.0 would be seen and then install it.  I did install it, but as the dependencies were downloaded/installed the following was seen on the Output Window:

[code]

Edit:  Okay, after shutting down VSC and re-launching the remote session it seems the installation completed okay:

[code]

[2019-07-04 03:57] tianxiaxi opened #3876 ".natvis not supported base class members by lldb on mac"
Type: Debugger
When I use `.natvis` file for data visualizer in VSCode, we got the following error:
`error: error: no member named 'Base' in 'Object'\nerror: expected expression\nerror: 2 errors parsing expression\n`

And we have found 2 issues during debug data visuallize:
1. `.natvis` does not support base class members for derive classe
2. `std::string / std::vector` could not be customized by

[2019-07-04 04:32] babelf1sh commented on #1329
@regunHD What worked for me was adding the file path to the git bash shell (C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Git) to the System Environment Variables in the Control Panel (how to do that [here](https://www.architectryan.com/2018/03/17/add-to-the-path-on-windows-10/). Then restart VS Code and it should work. Also, check out [this page](https://code.visualstudio.com/docs/cpp/conf

[2019-07-04 07:40] JasonLeeCn opened #3877 "The "OUTLINE" will not given symbols when open a file."
Issue Type: <b>Bug</b>

The "OUTLINE" will given a tip "No symbols found in document xxx" when open file. It will stay this state untill the file context was be modify. When modify file, it can se the symbols in "OUTLINE". If close file and then re-open the file, it will also given no symbols with a tip "No symbols found...".

Extension version: 0.24.0
VS Code version: Code 1.36.0 (0f3794b38477eea

[2019-07-04 12:21] krzikalla opened #3878 "Intellisense stopped working after update"
**Type: LanguageService**

**Describe the bug**
- OS and Version: SUSE Linux Enterprise Desktop 12 SP2
- VS Code Version: 1.36
- C/C++ Extension Version: 0.24.0
- A clear and concise description of what the bug is.
After updating VS Code from 1.26 and the C/C++ Extension some symbols can't be found anymore.
I am unable to pinpoint the nature of symbols. Apparently it only affects symbols related t

[2019-07-04 12:24] venkata-ram commented on #3861
thank you for response.yes gdb is present in the path C:\mingw\mingw32\bin\gdb.exe and now it is fine thank you.

[2019-07-04 12:24] #3861 closed, assigned to pieandcakes

[2019-07-04 14:54] igrr commented on #833
It seems that this is fixed by https://github.com/microsoft/MIEngine/commit/ecc1b0ec8555e1551a13d523795d31d630e48e5c.

[2019-07-05 04:02] #3870 closed, assigned to nobody

[2019-07-05 04:27] zhiayang opened #3879 "Support for `/std:c++latest`, `c++2a`, etc."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10, 1903
- VS Code Version: 1.36.0
- C/C++ Extension Version: 0.24.0

**To Reproduce**
1. Change the value of `cppStandard` in `c_cpp_properties.json` to something like `c++latest` or `c++2a`.
2. Plugin complains that it is not one of the accepted values, which must be one of `c++98, c++03, etc. etc.`

It would be very usefu

[2019-07-05 05:27] mkitby commented on #2601
@jbuckAI @bobbrow

I have the similar issue, I already set the "compilerPath": "" , but Go To Definition still finds 5 definitions, the last one in IAR complier directory is what I need, but the others header files are located in cygwin64 folder. How to exclude cygwin64 folder?

![Code_2019-07-05_13-24-48](https://user-images.githubusercontent.com/15389150/60699877-5bd98100-9f28-11e9-8ad6-72df5a6f

[2019-07-05 05:28] MyFreeGit opened #3880 "Microsoft.VSCode.CPP.Extension.linux Segmentation fault on Redhat when using Remote extension (get_working_set_size)"
I use VSC 1.36 with remote development extension with SSH to Red Hat linux server. All source code and building tools are located in Red Hat linux server. The C/C++ extension version is 0.24 which is installed and running on linux. The VSC client is running on windows laptop.
The C/C++ extension has crashed a few times. I use the gdb to check the coredump, I've found:
Core was generated by `/home/

[2019-07-05 07:57] WattsC-90 opened #3881 "#if <define> == <value> not being recognised and greyed out correctly"
**Type: LanguageService**

The VSCode editor appears to be misunderstanding or not interpreting #if statements correctly in the code I am viewing.

The scenario:

my C file looks like this:
[code]

**Describe the bug**
- OS and Version: Win 10, 1809 - 17763.557
- VS Code Version: 1.35.1
- C/C++ Extension Version: 0.24.0 (i think)
- Other extensions you installed (and if the issue persists after di

[2019-07-05 08:50] Lennon925 commented on #15
@sean-mcmanus
when this feature is finished, I hope cpptools can support this commands: getReferencesCommand.
When I pass file uri, line and column as parameters of this command, it can return all references location to me regardless of this file is opened or not.
Could you add this feature to "Find all references" for me ?

[2019-07-05 08:54] #3853 closed, assigned to nobody

[2019-07-05 08:56] zhiayang commented on #3881
This is not a bug with the compiler or the extension, this is a part of the C preprocessor. Going through the steps:

1. You have defined `MYVAR` to be `hello`, so doing the replacement:
[code]

2. Neither `goodbye` nor `hello` are defined. When the preprocessor encounters undefined symbols, it substitutes 0:

[code]

3. Only the first true branch is evaluated. `0 == 0` is `true`, so the first bra

[2019-07-05 09:02] WattsC-90 commented on #3881
@zhiayang Thank you, it makes sense, and then also makes sense why the original example works, as the numbers are already defined. I am not particularly adept with C, as you can tell.  Sorry to have wasted your time.

[2019-07-05 09:02] #3881 closed, assigned to nobody

[2019-07-05 10:25] yh-sb opened #3882 "vscode stucks after opening big cpp file: Window is no longer responding"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.36.0
- C/C++ Extension Version: 0.24.0
- Other extensions you installed (and if the issue persists after disabling them):

**To Reproduce**

1. Open big .cpp file with a lot of code (example of such file is attached in "additional context" below)
2. Wait about 5-8 seconds and see that vscode doesn't

[2019-07-05 10:52] Timmmm commented on #15
Until this is ready, I have things working pretty well with the vscode-clangd extension and this extension both enabled. Here are the key things you need to add to your settings:

[code]

Also I then symlink `compile_commands.json` from my source directory to the build directory.

It is a *little* flaky. Sometimes clangd seems to get stuck and I have to reload the window. Also while error squiggle

[2019-07-05 10:59] #3882 closed, assigned to nobody

[2019-07-05 11:01] yh-sb commented on #3882
Closed since it isn't cpptools issue. It is reproduced on pure vscode without installed extensions.
Created separate issue: https://github.com/microsoft/vscode/issues/76710

[2019-07-05 15:37] bobbrow commented on #2601
The extension should be removing those paths after you set the `compilerPath` to "".  If you run the "Reset IntelliSense Database" command, does it fix the problem?  If not, can you please open a new issue for this?

[2019-07-05 16:00] bobbrow commented on #3879
We are planning to add this for the next release.  Currently, our `c++17` value should actually be `c++latest` right now though.  But do note however, the MSVC compiler and the IntelliSense engine are not synchronized to the exact same set of features.

[2019-07-05 16:06] bobbrow commented on #3878
Can you provide a little more information about the problem and maybe a small sample where it doesn't work?  We did integrate the latest set of updates for IntelliSense from Visual Studio, so it's possible that something regressed, but this isn't enough information for us to work with.

[2019-07-05 20:32] bobbrow opened #3883 "Incorrect squiggles after changing struct definition in header file"
Using the following code as the starting point, you can get IntelliSense to tell you that type T cannot be assigned to type T if you change the definition of type T in the header file.

**1.h**

[code]

**1.cpp**

[code]

The way I repro this is by opening both files in the editor, adding some fields to `struct Inner`, and then switching focus to 1.cpp.  At that point, I get a squiggle on the equa

[2019-07-05 21:25] sean-mcmanus commented on #3858
@lluo-rbx Yeah, we have code that will cause a crashing file to not be parsed if it caused a crash the 1st time. If you did a Restart IntelliSense Database, it may crash again.

[2019-07-05 21:31] sean-mcmanus commented on #3879
C++20 is being tracked by https://github.com/microsoft/vscode-cpptools/issues/3448 , so I think this issue is a duplicate.

There shouldn't be a need to expose compiler-specific "c++latest" or "c++2a".

We're using c++latest with msvc mode, but the compiler version hasn't been updated to the latest VS 2019 cl.exe yet, so lots of the C++20 features are not working.

[2019-07-05 21:35] sean-mcmanus commented on #3607
This seems to be our top hitting main process crash, but users haven't complained about it much so far.

[2019-07-05 21:37] sean-mcmanus commented on #3880
This is our 2nd highest hitting main process crash, but the number of users affected seems low.

[2019-07-05 21:39] dennykhoerniawan opened #3884 "fails to install with latest version"
Hi,

After 0.24.0 update, I keep getting
//////////////////////////////////////////////////////////////////
Updating C/C++ dependencies...

Downloading package 'C/C++ language components (Linux / x86_64)' (8683 KB)  Done!
Downloading package 'ClangFormat (Linux / x86_64)' (812 KB)  Done!
Downloading package 'Mono Framework Assemblies' (5368 KB)  Done!
Downloading package 'Mono Runtime (Linux / x86

[2019-07-05 21:44] bobbrow commented on #3879
Thanks @sean-mcmanus, I was thinking we had an issue for this already, but was clearly searching with the wrong keywords. 😄

[2019-07-05 21:44] #3879 closed, assigned to nobody

[2019-07-05 22:05] michelleangela commented on #3884
Hi @dennykhoerniawan,

Is it correct that you are trying to install on your Linux machine? Could you provide the system information of the machine you're trying to install it to?

Did installation work on your previous upgrades or manual installation of the extension? If so, did you do anything differently before?

[2019-07-05 22:18] dennykhoerniawan commented on #3884
@michelleangela, just edited the original post, im using my mac, accessing code on a linux server using remote-ssh extension, red hat rel7 to be exact.

I use the extensions tool to install it previously, and it was working fine. when I open extensions in VSCode it shows 2 sections, "Local - installed" and "ssh: <host-name>: installed".  Other C/C++ Intellisense tools I have tried before automatic

[2019-07-05 22:58] michelleangela commented on #3884
I searched for the error code "122" from "Unknown system error -122", this [post on error-122](https://github.com/npm/npm/issues/16604) says it's an error on disk quota exceeded. Can you try to do a manual install or upgrade of some large npm packages and see if you get the same error?

[2019-07-05 23:26] reporter123 commented on #121
The message seems to only happen if using something other than bash as the default shell.

[2019-07-05 23:54] hudsontek commented on #1237
The last line does the job. You can omit the rest lines safely.

[2019-07-05 23:57] sean-mcmanus commented on #3877
@Colengms I think one of your changes submitted on Friday fixed this -- do you know which? What's the best way to get this into a 0.24.1?

UPDATE: Upvote this if you want us to release a 0.24.1 with a fix.

[2019-07-06 00:14] sean-mcmanus commented on #833
@igrr So it's fixed with 0.24.0? It has an updated MIEngine.

[2019-07-06 00:17] sean-mcmanus opened #3886 "getReferencesCommand"
@sean-mcmanus
when this feature is finished, I hope cpptools can support this commands: getReferencesCommand.
When I pass file uri, line and column as parameters of this command, it can return all references location to me regardless of this file is opened or not.
Could you add this feature to "Find all references" for me ?

_Originally posted by @Lennon925 in https://github.com/microsoft/vscode-c

[2019-07-06 00:21] sean-mcmanus commented on #3886
@Lennon925 Can you explain why this would be useful? Why would this command be used instead of opening the file and invoking the Find All References at the line column? The Find All References command would have to "open" the file and do the IntelliSense parsing regardless of whether the file is opened in the editor or not.

[2019-07-06 03:17] zhiayang commented on #3879
Ah, my bad, that didn't turn up when I was searching. Thanks for clearing that up!

[2019-07-06 03:56] mkitby commented on #2601
"Reset IntelliSense Database" command can fix the problem, thank you for the help.

[2019-07-06 13:50] VesCodes commented on #230
Really appreciate we have typedef colourisation now! However one issue that introduces is that it seems to always take precedence over whatever the original scope colourisation was? In this example case `AClass` gets scoped as an `entity.name.type`, which it is, BUT the original scope for this scenario is `entity.name.scope-resolution` which I'd rather it retain so it retains the same colouration

[2019-07-06 15:12] infalmo opened #3887 "range-based loop pretty printing"
When using range-based loop, some unwanted info is shown in the variables. Only the value of the variable should be shown in my opinion.
![Screenshot from 2019-07-06 20-38-51](https://user-images.githubusercontent.com/45997896/60757914-641be400-a02e-11e9-9515-469134654be5.png)

[2019-07-07 00:00] LongChampion commented on #3877
Hello everybody, I am having an "opposite" broblem. When i create new .cpp or .h file, the outline panel display many line with content "{}__7". Is this another bug?
![image](https://user-images.githubusercontent.com/47727306/60762195-d3242780-a084-11e9-96a0-794536fc4758.png)
My system infomation:

- OS: Ubuntu 18.04.2 LTS (Linux kernel 4.18.0-25-generic)
- VS Code version 1.36
- Extension: ms-vsc

[2019-07-07 03:53] ArtsJrn opened #3888 "Error after installing Microsoft C/C++ Extension"
As title states, the extension from **Microsoft** *C/C++* in the visual code's recommended extensions list keeps returning an error every time I try to install it.

The error goes like this: `Failed to parse "\.vscode\c_cpp_properties.json": ENOENT: no such file or directory, open '\.vscode\c_cpp_properties.json'`

Now I also keep getting these error messages from the Problem section of the lower

[2019-07-07 14:44] amiralisalimi opened #3889 "[gdb] Debugger break data into chunks"
Type: Debugger

**Describe the feature request**
- OS and Version: Arch linux (5.1.15-arch1-1-ARCH)
- VS Code Version: 1.36.0
- C/C++ Extension Version: 0.24.0
- Other extensions you installed (and if the issue persists after disabling them): Nothing
- A clear and concise description of what the feature request is:

I expect the debugger to break my data into chunks like below picture:

<img width

[2019-07-07 15:31] kzhui125 opened #3890 "VSCode will crash when opening this cpp file"
[code]
[2.cpp.zip](https://github.com/microsoft/vscode-cpptools/files/3365815/2.cpp.zip)

[2019-07-07 16:55] matter123 commented on #3890
@kzhui125 This should be fixed in the upstream textmate grammar with version v.12.15 of marketplace.visualstudio.com/items?itemName=jeff-hykin.better-cpp-syntax.

if you want the changes immediately, install the Better C++ Syntax extension.
if you're okay with waiting a few days, you can use the VS Code Insider's release.
if you're okay with waiting a while, the changes will eventually be pulled i

[2019-07-07 18:12] Appendme commented on #3617
`Quick info operation failed: FE: 'Compiler exited with error - No IL available'`

C++ Diagnostics:
https://gist.github.com/Appendme/db4ef611390ded0dc1a2e8f40a872eaf#file-vscode-uppercase-path-L48-L52

Vscode brings the path to uppercase?

[2019-07-07 20:28] hpg-mheck opened #3891 "No way to disable C style comment automatic closing tags"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
Any
- VS Code Version:
Current as of 07JUL2019
- C/C++ Extension Version:
Current as of 07JUL2019
- Other extensions you installed (and if the issue persists after disabling them):
Persists with cpptools only
- A clear and concise description of what the bug is.
When I type forward slash asterisk ("/*"), a space, another asterisk, a

[2019-07-08 01:20] Lennon925 commented on #3886
Because I want to implement multi-level "find all references". Currently there is only one level results when you click "find all references". I want to pass document uri and symbol position to cpptools server regardless of the this document is opened or not in editor and hope it can return all references to me so that I can implement multi-level "find all reference" like below:
![123](https://use

[2019-07-08 02:01] kzhui125 commented on #3890
@matter123
Thanks.

[2019-07-08 02:01] #3890 closed, assigned to nobody

[2019-07-08 02:31] Lennon925 opened #3892 "Stability about Cpptools behavior"
Currently cpptools behavior is not stable and it depends on configuration in c_cpp_properties.json. If I have set compile_command.json, its behavior is better and more stable. But in many cases, I have no the compile_command.json or project folder lacks of some header files, maybe codes can't compile correctly.
You can download linux source code in window and you will find cpptools have some obvio

[2019-07-08 04:09] trusktr commented on #295
Can I ask why? (Just curious). Is it because the `enter` key annoyingly auto-completes instead of making a new line?

What I find works is:

- disable `editor.acceptSuggestionOnEnter` so that enter key won't get in the way.
- disable `editor.acceptSuggestionOnCommitCharacter` so that typing certain sequences won't autocomplete

Basically, I like that to have _one and only one_ way to perform auto-

[2019-07-08 08:24] Lennon925 opened #3893 "Question: Ipch file can be zipped to shrink storage space?"
Currently ipch file is very large and occupies large storage space. These files can be zipped to shrink storage space? And what is storaged in these ipch files?

[2019-07-08 08:50] krzikalla commented on #3878
I couldn't create a small sample. The affected project is large and contains a lot of templates.
It appears to happen always inside class definitions and often also in namespace scope. Toggling Intellisense options seems of no help. Neither switching to Tag Parser nor taking clang-x64 instead of msvc-x64 makes a difference. No problems are shown in the "problems" tab.
(there is an error on startup

[2019-07-08 09:12] moelang opened #3894 "Window blocked when open header file"
Issue Type: **Bug**
When open [this](https://github.com/microsoft/vscode-cpptools/files/3367516/tf.txt) header file, window blocked.

**Describe the bug**
- OS and Version:
Windows 10 1903 18362.207
Ubuntu 18.04.2 LTS
- VS Code Version:
1.36.0(user setup)
- C/C++ Extension Version:
0.24.0

**To Reproduce**
Change [tf.txt](https://github.com/microsoft/vscode-cpptools/files/3367516/tf.txt) extension

[2019-07-08 09:21] EndOfTheGlory commented on #3640
Hey,I am installing this online and it still give me such an error.Should I perhaps dobwload for offline enviroment?I don't even know why this problem occured in the first place.

[2019-07-08 09:33] septag commented on #3427
I've just installed the insiders version and working with a project to see if it happens.
will get back to you..

[2019-07-08 12:50] moelang commented on #3894
I found this bug made by vscode, blocked at line 93:
`public:
  /************* Constants ***********************/`

[2019-07-08 12:50] #3894 closed, assigned to nobody

[2019-07-08 13:37] Jesmine0902 opened #3895 "Cplex configration on Linux (c++ compliler and linker options)"
Type: General
**Input information below**
I want to use Cplex in my c++ program. However, the configuration is confusing. In the tutorial, I need to finish two configurations: compiler and linker options. The details are shown as bellow.
[https://www.ibm.com/support/knowledgecenter/SSSA5P_12.8.0/ilog.odms.cplex.help/CPLEX/GettingStarted/topics/set_up/GNU_Linux.html](url)

Compiler options
Tell you

[2019-07-08 15:46] michelleangela commented on #3893
The ipch files serve as precompiled headers for the IntelliSense engine; the files have precompiled headers information on #include files in a source file. These cached ipch files can reduce the parsing time of #include files in a source file to speedup IntelliSense processing time. The IntelliSense engine reads and uses an ipch file anytime it is processing a source file, and it looks for ipch fi

[2019-07-08 15:47] #3893 closed, assigned to nobody

[2019-07-08 18:22] pieandcakes commented on #2664
This should be fixed with `0.24.0`

[2019-07-08 18:22] pieandcakes commented on #2664
Related to https://github.com/microsoft/vscode-cpptools/issues/2738

[2019-07-08 18:22] #2664 closed, assigned to pieandcakes

[2019-07-08 18:27] pieandcakes commented on #3887
@infixint943 We don't control what is printed during pretty-printing. All of that comes from the Python pretty printers installed with `gdb`.

[2019-07-08 18:27] #3887 closed, assigned to pieandcakes

[2019-07-08 18:35] pieandcakes commented on #3889
Why would the data be broken into chunks? Is this something `gdb` will do or are you requesting we break the data into arbitrary chunks?

[2019-07-08 18:59] Spongman commented on #3831
so, what should i set my `sourceFileMap` to, in order to handle paths like this: `./../../content/app/content_main.cc` ?

nothing i have tried works.

again. this is an `attach` configuration, and the debuggee changes the cwd.

i don't understand why i can't just map './../..' to some directory in my project, and have all paths with that prefix mapped to that location. the '.' in those paths is so

[2019-07-08 19:18] sean-mcmanus commented on #3891
I have also hit this issue and been "annoyed" by the result when I want `/*comment*/`. However, it's caused by VS Code itself and not our extension. Can you file your issue at https://github.com/microsoft/vscode/issues ?

[2019-07-08 19:26] sean-mcmanus opened #3897 "{}__7 appears many times in the Outline panel with new files"
Hello everybody, I am having an "opposite" broblem. When i create new .cpp or .h file, the outline panel display many line with content "{}__7". Is this another bug?
![image](https://user-images.githubusercontent.com/47727306/60762195-d3242780-a084-11e9-96a0-794536fc4758.png)
My system infomation:

- OS: Ubuntu 18.04.2 LTS (Linux kernel 4.18.0-25-generic)
- VS Code version 1.36
- Extension: ms-vsc

[2019-07-08 19:27] sean-mcmanus commented on #3897
@LongChampion That is a strange bug. I haven't been able to repro it yet though. It's possible it could be fixed in our next update, but I'm not sure. Is this a regression from 0.23.1 (or one of the 0.24.0-insiders releases)?

@Colengms @michelleangela Are you able to repro it?

[2019-07-08 19:38] HoriKyouko commented on #3588
I'm getting a similar issue when creating my own max function the intellisense is saying there is an error with the declaration of my max function (seen below are the function and error):

int max(int num1, int num2){
    return (num1 > num2) ? num1 : num2;
}

should "expected an identifier" then says:
"#define max(a,b) (((a) > (b)) ? (a) : (b))
Expands to:
(((int num1) > (int num2)) ? (int num1)

[2019-07-08 19:45] kkaja123 commented on #1079
Here's a sample output:
[code]

I've tried creating a problem matcher for this but I can't seem to get it right:
[code]
or for multiline capturing:
[code]
https://regex101.com/r/QbYxwf/1 shows that the main regex should be correct, but I don't see any problems generated after running the task.

[2019-07-08 19:52] michelleangela commented on #3897
I cannot repro this either. Were there specific steps done when creating the folder and new .cpp or .h files?

[2019-07-08 20:07] sean-mcmanus commented on #3888
We need more repro info. Are you opening a folder? Does the folder contain a ".vscode" folder and a "c_cpp_properties.json" file? Can you do an Edit Configuration command to create that file?

[2019-07-08 20:15] sean-mcmanus commented on #3617
@Appendme We only preserve the case when we detect WSL mode on Windows. It looks like in your case we think it's a Windows case insensitive path. Can you file a new bug with more repro info? It looks like we don't handle paths with `"\\WSL$"` correctly. How did you get that path to be used?

[2019-07-08 20:27] sean-mcmanus commented on #3892
Do you mean the IntelliSense state becomes incorrect after making edits? Or do these issues happen without any edits? Do you know if the stability got worse at a certain release? Is this with the IntelliSense caching enabled or disabled? (e.g. we have seen some cases of cache corruption, see https://developercommunity.visualstudio.com/content/problem/627568/ipch-issue-after-file-moverename-intelli

[2019-07-08 20:45] dennykhoerniawan commented on #3884
@michelleangela, seems like youre right, i tried deleting the older version that was still there to make space and reinstall the extension and it works.

And I just found out that I am only allowed to have 1GB in my home directory. So to solve my issues in long term, I need to understand what those files are, and how to remove them out of my home directory. Do you know how to configure the path fo

[2019-07-08 20:53] sean-mcmanus commented on #3886
Our cpptools server reacts to the LSP textDocument/references message (see https://microsoft.github.io/language-server-protocol/specification#textDocument_references ). You may be able to invoke that through the vscode.executeReferenceProvider command (see https://code.visualstudio.com/api/references/commands ), which should return the references results without invoking any UI. So additional user

[2019-07-08 21:03] sean-mcmanus commented on #3878
Can you give more info about what "symbols can't be found" means? Does the symbol not appear in the Outline view after making an edit to the file? (we have a known issue where symbols won't appear in the Outline view before an edit is made). Is hover or go to definition failing to find the symbol? Is the symbol not found even in the file that defines it? Does it give an error squiggle about someth

[2019-07-08 21:09] sean-mcmanus commented on #3640
@EndOfTheGlory It could be some proxy issue from our OS-specific download -- after VS Code allows OS-specific vsix's this issue should get fixed. Yeah, the workaround is to use the Install from VSIX command with the "offline" vsix on our releases page.

[2019-07-08 21:16] sean-mcmanus commented on #3895
This doesn't appear to be a question on how to configure our C/C++ extension. You should try to get your code and Cplex to compile on the command line first (or using the build task). Maybe the Cplex developers can help?

The c_cpp_properties.json does not get used by your compiler to build. It is only used for configuring our IntelliSense parser.

[2019-07-08 21:26] sean-mcmanus commented on #3588
@HoriKyouko It seems to be picking up a max macro from some other location. Did you set your compilerPath to your gcc compiler? It might be picking up a VC++ header instead.

[2019-07-08 21:31] michelleangela commented on #3884
The VS Code workspaceStorage is always on the home drive. However, you can change the path where the C/C++ extension stores the Tag Parser's browse symbol database to be elsewhere other than under the default workspaceStorage location. To change the default path, set `C_Cpp.default.browse.databaseFilename` to your desired location. The database will increase with the size of its associated workspa

[2019-07-08 21:53] amiralisalimi commented on #3889
@pieandcakes Because it's absolutely easier to access the data on the debugger panel.
Also this debugger (I'm on your newest version of this extension, 0.24.0, gdb version 8.3, and vscode version 1.36.0) does not show array items with index larger than 999.

I think this is more related to the behavior of your extension than gdb. There is no problem on accessing array items on gdb itself (I mean o

[2019-07-08 22:12] pieandcakes commented on #3889
Thank you for clarifying. I'll mark it as a feature request

[2019-07-08 22:23] sean-mcmanus commented on #3671
This is still a top crash.

[2019-07-08 22:48] Mossop opened #3898 "IntelliSense client fails when using clang-x64 mode on Windows"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1903
- VS Code Version: 1.36.0
- C/C++ Extension Version: 0.24.0
- Other extensions you installed (and if the issue persists after disabling them): Tested with nothing but the extension I am developing.
- A clear and concise description of what the bug is.

I have been working on a configuration provider to pick up includ

[2019-07-08 23:17] sean-mcmanus commented on #3898
Can you attach to the Microsoft.VSCode.CPP.IntelliSense.Msvc.exe process after opening the file? If it crashes too fast, you can cut all the contents, attach, and then paste the contents to make it crash.

We could/should also investigate the repro.

It’s with clang-cl.exe – we don’t support that scenario very well currently. You could try adding -fms-extensions to the end of the compilerPath.

[2019-07-08 23:51] pieandcakes commented on #3831
Looking at the implementation it might work on `.` if you include a slash (`/` or `\`).

Here is the implementation we use: https://github.com/microsoft/MIEngine/blob/29c6569861b2042c43f04d8d78b2566db2e2ef1f/src/OpenDebugAD7/PathMapper.cs#L19

[2019-07-09 00:10] resk8 commented on #3335
any updates on this? i cant install the newer vscode without having the C++ extension broken when downloading through a proxy

[2019-07-09 00:50] sean-mcmanus commented on #3335
@resk8 No update yet. I asked the VS Code team for an update at https://github.com/microsoft/vscode/issues/23251 .

[2019-07-09 01:40] Mossop commented on #3898
I don't currently pass the compiler path in the configuration. It seems to confuse intellisense into thinking it is dealing with a WSL compiler and switches to gcc intellisense mode.

I managed to catch the crash:

[code]

I'm going to see if I can narrow this down some to make this easier to reproduce.

[2019-07-09 01:46] resk8 opened #3899 "SIGABRT mono crash when using gdb to debug on cpp tool version 0.24.0"
After updating cpp tools to 0.24.0, im starting to get this SIGABRT error relate to OpenDebugAd7 i think

here are the logs.
Debug info from gdb:[New LWP 163720]
[New LWP 163721]
[New LWP 163727]
[New LWP 163728]
[New LWP 163729]
[New LWP 163730]warning: File "/nfs/site/disks/are3/dev_tools/vscode-ec/lib/glibc/2.18.90-333.1/lib64/libthread_db-1.0.so" auto-loading has been declined by your `auto-lo

[2019-07-09 02:07] sean-mcmanus commented on #3898
From your logs, it's using clang-cl.exe with clang-x64 mode, which has some known bugs such as https://github.com/microsoft/vscode-cpptools/issues/3296 if -fms-extensions isn't added. You could also try msvc-x64 mode (it could give better results depending on what you're compiling).

Yeah, for a crash like that, our parser team usually needs an "isolated repro" in order to fix (i.e. with no `#incl

[2019-07-09 02:53] Mossop commented on #3898
It's not clear to me where I would add -fms-extensions when I am not passing the compiler path.

Unfortunately the code uses some clang internal functions that aren't recognised by msvc-x64 mode.

[2019-07-09 03:05] Lennon925 commented on #3886
OK,That is what I want. Thank you very much!

[2019-07-09 03:08] sean-mcmanus commented on #3898
From the logs you provided, it doesn't appear that the custom configuration provider is being used and instead it shows it's using
Attempting to get defaults from compiler in compile_commands.json file: 'c:/Users/Dave/.mozbuild/clang/bin/clang-cl.exe' . So if you set the compilerPath to that, then you'd add the -fms-extensions afterwards. You could also set the compilerPath via the config provider

[2019-07-09 03:23] Mossop commented on #3898
As I said, when I provide it by SourceFileConfiguration.compilerPath it decides that it is a WSL compiler and adds a bunch of unwanted includes to the list.

[2019-07-09 07:48] nimrod1802 opened #3900 "Symbol search not working"
Just installed and configure VSCode with the cpptools on MAC (VSCode version 1.36.0).
The symbol search (⌘T) does NOT work (the list is always empty).
The "Quick open" (⌘P) and "Go to definition" (F12) features work.

Any suggestions?

Thanks!

[2019-07-09 08:17] LongChampion commented on #3897
@sean-mcmanus
This is a video show how to repos this issue.
[https://drive.google.com/open?id=12E4GPqlI8mLO72xhNZtsDpK6Z4zy8LiC](https://drive.google.com/open?id=12E4GPqlI8mLO72xhNZtsDpK6Z4zy8LiC)
My settings.json
![image](https://user-images.githubusercontent.com/47727306/60871120-551a7900-a25c-11e9-9a9c-4d40cdbdbeb9.png)
I am using ms-vscode.cpptools 0.24.0 (NOT insider build)

[2019-07-09 08:37] BillDenton opened #3901 "Variable colourisation stopping part way through a variable"
**Type: LanguageService**

Variable colour highlighting stops part way through a variable. For example, if I enter:
int Class::VariableName[];
I get
![image](https://user-images.githubusercontent.com/17859340/60872556-c6dace80-a22c-11e9-9762-842e4eda2944.png)

With the extension disabled, I get
![image](https://user-images.githubusercontent.com/17859340/60872753-2c2ebf80-a22d-11e9-87f3-13c3bcf444a

[2019-07-09 08:42] dk1301 opened #3902 "Goto Definition works only for intelliSenseEngine = “Tag Parser” for vscode 1.36 in ubuntu 16.04 VM"
**Type: LanguageService**

**Describe the bug**

OS and Version: Ubuntu VM 16.04 amd64 on windows 7 host (gcc/g++ 5.4.0
VS Code Version: 1.36.0
C/C++ Extension Version: 0.24.0
Other extensions you installed (and if the issue persists after disabling them): This is the only extension I use

**A clear and concise description of what the bug is.**
When I use Goto Definition over a function the vscode

[2019-07-09 09:36] krzikalla commented on #3878
In the outline view appears nothing - even after editing. Hover and "go to definition" finds very few symbols - and apparently only after editing. The kind of found symbols does not depend on the file location. There are no error squiggles anywhere - not even at the includes (which can't be opened too).

If I have compiler errors in the problem tab, then I can't open them and get the pop-up (Error

[2019-07-09 10:25] BillDenton opened #3903 "Remove untracked files from browse database when they are closed in the editor"
**Type: LanguageService**

**Describe the bug**
Version: 1.36.0 (user setup)
Commit: 0f3794b38477eea13fb47fbe15a42798e6129338
Date: 2019-07-03T13:25:46.372Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17134
- C/C++ Extension Version:
Name: C/C++
Id: ms-vscode.cpptools
Description: C/C++ IntelliSense, debugging, and code browsing.
Version

[2019-07-09 14:08] rpavlik commented on #3662
Confirmed fixed, btw - looks like a small typo (message is "'SourceRequest' not supported.." with two periods) but definitely better than hanging :) thank you!

[2019-07-09 14:52] jason-watkins commented on #3901
I haven't observed the above, but I'm having all kinds of colorization issues with C++ right now that I assume must stem from the same source.

As another data point, the extension currently seems to be unable to correctly tokenize (some?) user-defined types. The screenshot below shows that the entire line of the function body up to the `=` is a single TextMate token.

![tokenize_fail](https://use

[2019-07-09 15:39] rewrking opened #3904 "Comment block always auto-adds end symbol"
Type: General
This started happening in one of the recent extension updates.
Let's say you want to comment out some c++ code that's already written somewhere (an extremely common use-case). Typing "/*" now auto-adds "*/" directly after it. This is super annoying because you have to backspace out the last 2 characters.

**Describe the bug**
- OS and Version: all
- VS Code Version: 1.36.0
- C/C++ Ex