[2020-10-20 02:50] sean-mcmanus commented on #6348
The include_next should open the next stdint.h in your includePath, which could be under `/usr/local/Cellar/arm-gcc-bin/9-2020-q2-update/lib/gcc/arm-none-eabi/9.3.1/include-fixed` or `/usr/local/Cellar/arm-gcc-bin/9-2020-q2-update/arm-none-eabi/include`. Are you able to open one of those files to look for any inactive regions that shouldn't be inactive?

Another thing to try is to change the cStan

[2020-10-20 02:51] foreverhui opened #6355 "[Error - 2:46:36 AM] Connection to server got closed. Server will not be restarted. /root/.local/share/code-server/extensions/ms-vscode.cpptools-1.0.1/bin/cpptools: 1: /root/.local/share/code-server/extensions/ms-vscode.cpptools-1.0.1/bin/cpptools: Syntax error: word unexpected (expecting ")")"
[Error - 2:46:36 AM] Connection to server got closed. Server will not be restarted.
/root/.local/share/code-server/extensions/ms-vscode.cpptools-1.0.1/bin/cpptools: 1: /root/.local/share/code-server/extensions/ms-vscode.cpptools-1.0.1/bin/cpptools: Syntax error: word unexpected (expecting ")")

using C++ extension@1.0.1 with code-server，having this error。cause I can't use other extensions above c+

[2020-10-20 03:31] sean-mcmanus commented on #6349
This appears fixed with our 1.1.0-insiders2 release (i.e. __cpp_impl_coroutine is defined when c++20 is used). Can you try setting C_Cpp.updateChannel to "Insiders" to try that out?

[2020-10-20 03:53] GuLicheng commented on #6343
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/vscode-cpptools"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年10月20日(星期二) 上午8:49
收件人:&nbsp;"microsoft/vscode-cpptools"<vscode-c

[2020-10-20 04:31] huntc commented on #6348
I've got a `stdint.h` in `/usr/local/Cellar/arm-gcc-bin/9-2020-q2-update/arm-none-eabi/include`. Opening that shows that it:

[code]

...and opening that shows that `uint8_t` is declared:

![image](https://user-images.githubusercontent.com/694893/96540336-26a59d80-12e9-11eb-9425-35e5c55d36e3.png)

`__uint8_t` is accordingly declared in `_default_types.h` of the same folder:

![image](https://user-

[2020-10-20 06:21] AllenPocketGamer commented on #2778
@lextrounce
Amazing, it actually worked!!
Thanks!

[2020-10-20 07:07] DBJDBJ commented on #6340
Basically, this changes the Windows behaviour for "some customers". Namely, the ones who have

1. installed VS Code
2. are using *.js files from a command line

If I am windows admin and if I try to run my js file from a command line as I did for last 20+ years, I do not want VS Code opened with it instead.

I assume this is a matter of registry setup for when  VSCode is installed. Can I kindly su

[2020-10-20 10:41] grigorig opened #6356 "Compiler probe failure with clang and -Xclang arg"
### Brief Issue Summary

Either cmake-tools or cpptools (I'm not quite sure) apparently aren't correctly probing clang on my system, resulting in broken IntelliSense. This only applies if I use precompiled headers in my project. gcc works as expected with precompiled headers.

### Expected:

cmake-tools use my compiler (Kit) configuration and build system information to provide IntelliSense.

###

[2020-10-20 12:12] #5014 closed, assigned to nobody

[2020-10-20 12:13] ytimenkov commented on #6349
Hmm... I already have `C_Cpp.updateChannel` set to "Insiders" however I don't see any updates...
I use Remote SSH extension but C/C++ are on 1.0.1 both locally and remotely.

[2020-10-20 12:20] ytimenkov commented on #6349
Ok, maybe "autoUpdate" needs to be set to true (which I have set to false).

After manually downloading vsix I can confirm that `__cpp_impl_coroutine` correctly seen by IntelliSense.

[2020-10-20 12:20] #6349 closed, assigned to nobody

[2020-10-20 16:00] bobbrow commented on #6356
This would be a cpptools issue.  I believe the new compiler probing in 1.1.0-insiders2 does not handle this correctly.  It does remove `-include` lines but I don't think it accounts for `-Xclang`.

Tagging @Colengms

[2020-10-20 16:22] D-Chic opened #6357 "I can't type"
Issue Type: <b>Bug</b>

The editing page doesn't show the normal cursor blinker but a blinking rectangle and now I can't type my code

Extension version: 1.1.0-insiders2
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T14:53:05.704Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5250U CPU

[2020-10-20 16:45] TheJCAB commented on #6272
Hi! I just confirmed that this is not limited to operators, but any friend functions called from friend functions. For instance:

![image](https://user-images.githubusercontent.com/22421744/96617752-d7477900-12b8-11eb-808b-86c4e2135425.png)

Same thing: ambiguity of the definition with itself, but reported differently (with the filename and without).

[2020-10-20 17:41] WardenGnaw commented on #6354
Duplicate of https://github.com/microsoft/vscode-cpptools/issues/5712

[2020-10-20 17:41] #6354 closed, assigned to nobody

[2020-10-20 18:49] Colengms commented on #6356
The problem appears to be that we aren't handling `-Xclang`, so were not aware that it's a argument pair, and are processing the second part of that arg ("-include"), and removing only that from the probe.

The documentation of clang command line options [here](https://clang.llvm.org/docs/ClangCommandLineReference.html) indicate:

[code]

It's unclear to me why this is needed.  It seems like all o

[2020-10-20 18:58] grigorig commented on #6356
cmake added this a while ago, here's the MR: https://gitlab.kitware.com/cmake/cmake/-/merge_requests/4360
I don't fully understand why, but I haven't looked at this in detail.

I think my immediate problem can simply be solved by always passing through the argument that follows `-Xclang` verbatim?

[2020-10-20 19:59] sean-mcmanus opened #6358 "Error squiggles with Unreal Engine 4.26 built from source on github and using latest patches"
I am using latest Unreal Engine 4.26 built from source on github and using latest patches... VS code intellisense is half broken.. It shows error squiggles on freshly created classes.. It doesnt understand the  ::  or  \:    and suggests to use ;  instead in a freshly created c++ class..
![Screenshot from 2020-10-18 22-33-10](https://user-images.githubusercontent.com/40650341/96506818-e48f4400-127

[2020-10-20 20:07] michelleangela commented on #6358
@jatin-cbs

Could you provide your IntelliSense configuration settings by running the command `C/C++: Log Diagnostics`?

Could you also provide logs from enabling the [language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)? The logs will show which includePaths are parsed and sent to the IntelliSense engine. The first thing to ensure is

[2020-10-20 20:24] Colengms opened #6359 "Args to -Xclang should be processed for includes/defines"
Currently, we are not looking at the args passed after -Xclang for includes to add to browse paths.

[2020-10-20 20:26] Colengms commented on #6356
I can address the issue with the probe failing, but have opened another issue to track parsing include paths out of args passed after -Xclang : https://github.com/microsoft/vscode-cpptools/issues/6359

[2020-10-20 20:36] Colengms commented on #5894
TODO: Add telemetry and warnings around detecting when system includes from compiler probe are duplicated in includePath

[2020-10-20 21:34] sean-mcmanus commented on #6346
Currently it uses either the compilerPath's system includes or the systemIncludePath without combining them. Are you able to add those additional system includes in the includePath?

[2020-10-20 21:37] sean-mcmanus commented on #6355
Same issue as https://github.com/microsoft/vscode-cpptools/issues/6190 . Our extensions doesn't support running in code-server.

[2020-10-20 21:37] #6355 closed, assigned to nobody

[2020-10-20 21:38] dslijepcevic commented on #6346
Unfortunately no. And the documentation says anything that looks like a system path is ignored in user includes. I think this could be easily solved by allowing "${default}" entry in `C_Cpp.default.systemIncludePath` that would insert compiler paths.

[2020-10-20 23:05] Colengms opened #6360 "Compiler probe does not handle -U"
A command line could include a `-U` or `--undefine-macro` that undefines a previously defined macro.  In which case, it should be removed from the list of defines.

[2020-10-20 23:39] Colengms commented on #6357
Hi @D-Chic  Does this repro with the C/C++ Extension disabled?  If not, are there any particular repro steps, or other clues you could share?  Or, if it does not repro when disabled, you might consider following up in: https://github.com/microsoft/vscode

A editor UI issue would seem to be a VS Code issue.  I'm not aware of how the extension should have this effect in the editor itself.

[2020-10-20 23:53] michelleangela commented on #4350
@esynr3z
Could you try the latest insiders version of the extension and see if the issue is resolved? If the issue still reproduces, could you provide the following logs:

1. Log output from enabling the [language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)
2. Log output from running the command `C/C++: Log Diagnostics`

[2020-10-21 00:00] WardenGnaw commented on #6352
Which debugger are you using? `cppdbg` or `cppvsdbg`

[2020-10-21 00:16] sean-mcmanus commented on #6343
I reported a bug on our shared VS component at https://developercommunity.visualstudio.com/content/problem/1227674/cc-gives-error-with-gcc-81-string-view-header-due.html , although it might be duplicate of other issues.

[2020-10-21 01:04] sean-mcmanus opened #6361 "Go to Definition doesn't work correctly for #include_next"
A repro scenario and more info can be found at https://github.com/microsoft/vscode-cpptools/issues/6348

[2020-10-21 01:23] BenthamWu commented on #1162
one more bump:)

[2020-10-21 01:24] sean-mcmanus commented on #6348
Yeah, I got the gcc/arm-none-eabi headers on Mac and I'm not reprong the issue. When you run C/C++: Log Diagnostics after opening main.c and the sys/_stdint.h do you see that they both share the same TU?

Another possibility to try is to set intelliSenseCacheSize to 0 to see if there's a bug with that.

Do you get squiggles with
[code]
?

If you run `/usr/local/bin/arm-none-eabi-gcc -E -std=c99 /p

[2020-10-21 03:23] huntc commented on #6348
Thanks so much for replying @sean-mcmanus. I thought it might be easier to create a reproducible test case for you. Here's an nRF BLE template project: https://github.com/titanclass/vs_ble_app_template. If you follow the README and open up the workspace as it suggests, you should then be able to open `main.c` and see the problems. HTH.

[2020-10-21 03:50] CreateLex commented on #6358
There has been major bug for Mac users using Xcode or Visual Studio code. It still hasn't been resolved yet. I tried 4.26 previews and they still havent worked.

[2020-10-21 04:54] zajo opened #6362 "Intellisense can't see friend operator!= from friend operator=="
**Type: LanguageService**

This line in Boost LEAF implements `operator!=` in terms of `operator==`: https://github.com/boostorg/leaf/blob/develop/include/boost/leaf/error.hpp#L624

Intellisense reports:

[code]

I'm guessing it is confused by the fact that these are friend definitions (rather than member functions) that are accessible only via ADL.

More information:

[code]

[2020-10-21 06:30] Colengms commented on #6356
This appears to be an issue in CMake Tools as well.  The cpptools fix should address the scenario in which the source file is in CMakeLists.txt (can get a custom config).  Source files not in CMakeLists.txt would fall back to a 'custom browse config', where CMake Tools is not handling the args properly.  PR for a potential fix: https://github.com/microsoft/vscode-cmake-tools/pull/1497

[2020-10-21 08:40] ytimenkov opened #6363 "Language server crashes on C++20 coroutines"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux Ubuntu 20.04
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.1.0-insiders2
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- boost 1.74

**Problem**
1. Code is initially parsed but problems show "no viable 'operator delete' found for coroutine state deallocation" on a function.
2

[2020-10-21 09:18] wisepotato commented on #4823
@Colengms  an upvote being the thumbs up emoji? its a bit unclear

[2020-10-21 09:42] csgregg commented on #5795
I am experiencing this too, but not consistently. It happens on some functions but not others and I cannot see what the determining factor is. Even with overloaded functions, it doesn't do it consistently between them. I just can't pin it down.

It's a real pain as I want to put the doxygen comments with the declarations following best practice - comment 'what it does' in the header and 'how it wo

[2020-10-21 10:27] GitMensch opened #6364 "extension preview (marketplace) shows garbage"
This is not only related to this extension, but very recognizable with it, so I'm posting it here.

This is what the extension preview looks like:
![preview](https://user-images.githubusercontent.com/6699539/96706994-983c2500-1397-11eb-93cc-062239ca4e46.png)

the "garbage descriptions" come from https://github.com/microsoft/vscode-cpptools/blob/master/Extension/package.json and are normally transl

[2020-10-21 11:20] mxdh opened #6365 "C++ syntax highlighting error"
Issue Type: <b>Bug</b>

In the "Cold Horizon" theme, `#define NULL ((void *)0)` shows incorrect syntax highlighting.
![屏幕截图 2020-10-21 191555](https://user-images.githubusercontent.com/20399194/96712941-73b16e80-13d2-11eb-9725-81d1a4f732ff.png)
![屏幕截图 2020-10-21 191751](https://user-images.githubusercontent.com/20399194/96712953-7744f580-13d2-11eb-973f-4b11bfbbe95c.png)
![屏幕截图 2020-10-21 191814](h

[2020-10-21 12:34] hasenradball opened #6366 "[BUG]: Compiler ARGS not taken over/considered when running build with g++ on Win10"
- VSCode Version: 150.1
- OS Version: Win 10.0.18363
- c/c++: v1.1.0-insiders2

### General Information
When compiling a simple c++ programm like "hello world" or just want to compile 2 or 3 files and link them together by adapting the `tasks.json` file, every change in the file works until the **`args`** part.
I you change the **`args`**like change the output filename or using `*.cpp` instead of

[2020-10-21 15:01] iskettan opened #6368 "Command 'C/C++: Edit Configurations (UI)' resulted in an error (command 'C_Cpp.ConfigurationEditUI' not found)"
Hello,

I recently encountered a new issue with the C/C++ extension. (I am using the remote ssh tool).

All the C/C++ commands don't work. I tried to edit Configuration (UI) command, and the Reset Intellisense Database. All of them show me this error:

Command 'C/C++: Edit Configurations (UI)' resulted in an error (command 'C_Cpp.ConfigurationEditUI' not found)

Command 'C/C++: Reset IntelliSense

[2020-10-21 16:07] #6322 closed, assigned to nobody

[2020-10-21 16:07] irfan-hossain-bhuiyan commented on #6322
Yeah,external window:false

[2020-10-21 16:54] 0ffffffffh commented on #6352
I'm using cppvsdbg. (Visual Studio Windows).

[2020-10-21 17:18] michelleangela commented on #6358
@CreateLex is there a reference (post/link) to an issue using XCode? Is this issue due to some change in Unreal Engine?

[2020-10-21 18:10] shubham721 opened #6369 "Debugger not working"
Type: Debugger

Hi team
I have set up the vscode for c++ in the following article as described. But When I am trying to follow the debugger setup steps, I am getting the following error and my debugger is not able to start.

**Error**
Unable to start debugging. Unable to establish a connection to LLDB. The following message was written to stderr:

dyld: lazy symbol binding failed: Symbol not found

[2020-10-21 18:18] shubham721 commented on #6369
**launch.json**

{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
      {
        "name": "clang++ - Build and debug active file",
        "type": "cppdbg",
        "request": "launch",
        "pro

[2020-10-21 18:49] sean-mcmanus commented on #6340
It would be a VS Code issue (or a Windows issue?).

[2020-10-21 19:14] sean-mcmanus commented on #6346
And are you able to determine why adding it to C_Cpp.default.includePath doesn't work, i.e. when you do C/C++: Log Diagnostics, what is wrong with the resulting Includes that are used? We only consider it a system include if it matches what the compilerPath returns as a system include, and we exclude it in that case, because it causes the include path ordering to be incorrect. The only potential d

[2020-10-21 19:34] rahatchd commented on #2908
is the thumbs up reaction enough? bc i'd like to cast a vote for this feature.
specifically clang-tidy.

clang-tidy and cppcheck are the only reasons i still use clion, but i would much rather use vscode

[2020-10-21 20:10] Colengms commented on #6350
Hi @prateekma .  We're looking into this.  We have another certificate we can use that seems to support hardening, and are looking for a way to validate it (without an App Store account).  Also, I'm not yet certain there wouldn't be licensing issues for a 3rd party distributing our extension.

[2020-10-21 20:18] sean-mcmanus commented on #6348
Yeah, I did all the setup stuff and I get no squiggles and go to def on uint8_t goes to the sys/_stdint.h file.

The only difference I see in your logging is /Users/myuser/Projects/testing/hsms/hsms-cortex-m/target/generated/includes. How do I get that? That could be the cause of the problem if there's a file in that location which matches a system include, in which case it would cause the wrong s

[2020-10-21 20:28] Colengms commented on #6350
@prateekma Would it be a feasible alternative for your application to trigger installation of our extension, by invoking the following command line?  `code --install-extension ms-vscode.cpptools`

[2020-10-21 20:47] sean-mcmanus commented on #6362
Thanks for reporting this. I've filed a bug on our parser, shared with VS, at https://developercommunity.visualstudio.com/content/problem/1229376/c-intellisense-gives-error-no-operator-matches-the.html .

[2020-10-21 20:57] Kri-Ol commented on #2908
PLease!

[2020-10-21 21:02] wolf99 opened #6370 "Discerning highlight portions of words is broken"
Type: General

**Describe the bug**
- OS and Version: Windows 10 1909
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them): Almost any dark colour theme
- A clear and concise description of what the bug is: Symbol is highlighted when cursor is present within symbol, same colour used to highlight selected text w

[2020-10-21 21:03] wolf99 commented on #6370
Further testing shows it works for some things in a C file

![image](https://user-images.githubusercontent.com/281700/96787128-25f43080-13e9-11eb-9aea-c6c44c5eaa65.png)

Except here I have selected ASSERT using the shift and cursor keys
![image](https://user-images.githubusercontent.com/281700/96787199-43c19580-13e9-11eb-8a33-73b9b540a5c2.png)

[2020-10-21 21:03] Colengms commented on #6364
This is an issue in VS Code, currently tracked here: https://github.com/microsoft/vscode/issues/54111

[2020-10-21 21:10] Colengms commented on #6365
Hi @mxdh .  Does this repro with the C/C++ Extension disabled?  The C/C++ Extension provides colorization of semantic tokens, which are symbols that essentially require compilation to identify.  Colorization based on syntax is still handled by VS Code, and is based on TextMate grammar for C/C++.  I'd suggest following up in this repo, which is the source of VS Code's TextMate grammar for C/C++: ht

[2020-10-21 21:13] huntc commented on #6348
The sample project I set up doesn’t have that generated include path. So just confirming, you don’t get the squiggles with the sample project I provided?

[2020-10-21 21:13] huntc commented on #6348
I’ll get the logs from my sample so we can compare them.

[2020-10-21 21:26] Colengms commented on #6370
Hi @wolf99 .  The C/C++ Extension does not specify the colors involved in the scenarios you are describing, so this is external to us.  I'd suggest following up in the VS Code repo: https://github.com/microsoft/vscode   Or, with the authors of the themes you are seeing the issue with.

What you describing sounds like it _might_ be related to semantic colorization.  Semantic tokens essentially requ

[2020-10-21 21:29] michelleangela commented on #2046
**Fix:** When the "Headers" folder is not found under a framework folder, try to get and index the actual "Versions/Current" folder under the framework folder. Use the "Versions" folder as a fallback.

[2020-10-21 21:38] Colengms commented on #4823
Hi @wisepotato Yes, use the thumbs-up (+1) reaction to upvote.

[2020-10-21 21:46] wolf99 commented on #6370
Hmm sounds good... except that if I disable the C/C++ extension the problem goes away and, as mentioned I am testing with is with only the theme and the C/C++ extension enabled - so no other extensions causing it.
The theme and VS Code are still at work during this test, l so not the theme nor VS Code.

I'm sorry I'm not clear from your info if disabling the C/C++ extension will affect semantic co

[2020-10-21 22:06] Colengms commented on #6370
@wolf99 There are a couple of features that involve the C/C++ Extension providing editor ranges to VS Code, such as semantic tokens (which I described above), and document highlighting - which occurs when you select a symbol and highlights all other occurences of that symbol in the file.  I suspect you are seeing the result of one of those 2 features.  However, the colors used in both of those fea

[2020-10-21 22:28] huntc commented on #6348
One thing: how did you install the `arm-gcc` toolchain on your Mac? I used `brew`, but perhaps there's a better way, and perhaps that's the issue? I shall look into this also.

[2020-10-21 22:41] Daltz333 commented on #6350
Unfortunately, our environment requires that everything be installable offline and without internet access.

[2020-10-21 22:44] huntc commented on #6348
I did appear to have a couple of things related to arm-gcc on my brew path so I completely uninstalled them and then re-installed via `brew install arm-none-eabi-gcc`. Having then enabled logging for the C/C__ extension, here's the output from the sample project (still getting the errors):

[code]

[2020-10-21 23:10] huntc commented on #6348
Here's the output having uninstalled arm-gcc view brew and then installed [the official ARM developer distro](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads) - same outcome with the errors:

[code]

[2020-10-21 23:11] sean-mcmanus commented on #6366
I repro the issue. Looks like a regression from 1.1.0-insiders/2. Downgrading to 1.0.1 and changing the task type to "shell" should be a workaround.

[2020-10-21 23:13] Colengms commented on #6350
@prateekma @Daltz333 Unfortunately, the license we publish the extension under, which is available in the License tab of our extension page in VS Code, indicates:

distributable code, subject to the terms above), provide the software as a
stand-alone offering for others to use ...

As such, I don't believe the scenario of publishing an application to the Mac Store that includes our extension, is s

[2020-10-21 23:21] ThadHouse commented on #6350
This issue, which I asked years ago, stated distribution for offline use was fine, assuming you were using the VSIX files from the releases page, and using them in official copies of VS Code.

https://github.com/microsoft/vscode-cpptools/issues/2274

When did that change? We do use the extension with official VS Code, it's just an offline method of installing into VS Code.

[2020-10-21 23:29] sean-mcmanus commented on #6368
What OS are you on (for the remote machine)? What version of the extension are you trying to install? What method of installation, from the marketplace or a .vsix?

[2020-10-21 23:37] Colengms commented on #6350
I'm going to need to defer to legal to address that question.  We are currently doing so, in the context of: https://github.com/microsoft/vscode-cpptools/issues/5784  Inclusion within a Mac App Store application might introduce some nuances.

We can switch to a hardened cert.  However, we do not publish via the Mac App Store, so addressing issues with notarization may not be something we can suppo

[2020-10-21 23:38] ThadHouse commented on #6350
We're not distributing through the App Store, but we want to be able to sign and notarize our app, which is a stricter requirement outside of the app store then inside of it. That notarization is failing with the above errors. We have no plans for app store distribution.

[2020-10-21 23:40] ThadHouse commented on #6350
As for the license, both 2274 and 5784 have people saying the intent of the license is to only work with official VS Code. We are following that, and do only work with official VS Code. So for now, we're going to stick with the guidance given in 2274.

[2020-10-21 23:43] Colengms commented on #6350
@ThadHouse Can you provide an example, other than inclusion in a Mac App Store application, which requires notarization, and cannot support online installation of our extension?  So far, we have had no requirement to support notarization.

[2020-10-21 23:44] sean-mcmanus commented on #6350
Yeah, we want to allow users to be able to distribute the .vsix, so I think that should be okay for now -- we noticed the license restriction in regards to sharing/distributing of the binaries later on (in thread https://github.com/microsoft/vscode-cpptools/issues/5784), but we've asked our legal team to clarify and/or modify the license a month ago, but we haven't gotten an answer yet.

[2020-10-21 23:51] ThadHouse commented on #6350
Starting in macOS Catalina, if you distribute an App outside of the App Store, it must be notarized, or it will not be allowed to be ran.

We're basically building an installer that installs VS Code, installs some plugins into it, and installs a bunch of offline file dependencies, all for an offline robotics competition setup. To do this, the extension is included as a resource in the app, and all

[2020-10-22 01:19] sean-mcmanus commented on #6348
I'm using gcc 9.2.1 and the nRF5_SDK_17.0.2_d674dde. Your logging seems to match mine, except you're missing the logging `
[code]
Using C/C++: Log Diagnostics might give more info.

[2020-10-22 01:27] huntc commented on #6348
Sorry, I don't understand. My log output has both `stdver` and `intelliSenseMode` set.

How do I enable C/C++: Log Diagnostics?

[2020-10-22 01:28] Colengms commented on #3296
The symptoms here appears to specific to clang-x86 on Linux and Mac.  These keywords are not accepted by clang when building for x64 on Linux and Mac (compilation fails).  On Windows, these are all supported properly for both clang and clang-cl and both x86 and x64, as a result of cpptools always providing `-ms_extensions` to the IntelliSense process.

@sean-mcmanus Do you have a link to the feedb

[2020-10-22 01:33] Colengms commented on #3704
The tracked issue has been fixed, and I'm no longer able to repro this in recent builds of the C/C++ Extension.  Closing as fixed.

[2020-10-22 01:33] #3704 closed, assigned to nobody

[2020-10-22 01:34] sean-mcmanus commented on #6348
I don't see it at the logs at https://github.com/microsoft/vscode-cpptools/issues/6348#issuecomment-713920833

It's a command from the View->Command Palette.

[2020-10-22 01:38] sean-mcmanus commented on #3296
I'm not sure...I'll check...

[2020-10-22 01:42] huntc commented on #6348
That's odd... there were in the one following at https://github.com/microsoft/vscode-cpptools/issues/6348#issuecomment-713946437

Ah, thanks. Here you go:

[code]

[2020-10-22 01:46] Colengms commented on #4424
The linked bug in VS was fixed, but the issue still repro's with the C/C++ Extension, for some reason.

[2020-10-22 01:50] Colengms commented on #4426
The tracked issue is fixed, and I'm no longer able to repro this issue in a recent build of the C/C++ Extension.  Closing as fixed.

[2020-10-22 01:50] #4426 closed, assigned to nobody

[2020-10-22 01:57] sean-mcmanus commented on #6348
Yeah, that logging looks correct, except my memory usage is being reported as 41 MB instead of 27 MB, which could be an indication of some error.

Did you try setting the C_Cpp.intelliSenseCacheSize to 0?

Did you try running `/usr/local/bin/arm-none-eabi-gcc -E -std=c99 /path/to/main.c > /path/to/main.out.c`?

@Colengms @michelleangela Are any of you able to repro this?

[2020-10-22 02:18] Colengms commented on #5072
I believe this has been addressed by recent work.  I'm no longer able to repro the issues described here.

[2020-10-22 02:18] #5072 closed, assigned to nobody

[2020-10-22 02:37] Colengms commented on #5444
@MoritzMaxeiner  Are you still seeing this issue?  I'm no longer able to repro.  I believe this may have been addressed by recent work to support concepts.  `__cpp_concepts` should now be defined as expected.

[2020-10-22 02:37] #5444 closed, assigned to nobody

[2020-10-22 02:43] Colengms commented on #5773
Taking this out of tracking, as the tracked VS issue appears to have been fixed.

[2020-10-22 03:05] Colengms commented on #4273
The tracked issue has been fixed.  Closing this one.  The behavior appears to have changed since this issue was created.  If you're still seeing a similar problem, I'd suggest opening an issue in the VS Code repo: https://github.com/microsoft/vscode

The C/C++ Extension provides results for this operation, but UI navigation is handled by VS Code.

[2020-10-22 03:05] #4273 closed, assigned to nobody

[2020-10-22 03:08] Colengms commented on #4715
Closing this issue, as we don't generally track issues with TextMate grammar in this repo.

[2020-10-22 03:08] #4715 closed, assigned to nobody

[2020-10-22 03:09] huntc commented on #6348
The issue persists with the cache size set to 0.

This appears to work given your earlier code sample - also, my full Nordic project builds fine via `make`.

[code]

[2020-10-22 03:11] Colengms commented on #5081
Since this is related to VS Code UI and not something we can address in the C/C++ extension, closing this issue.

[2020-10-22 03:11] #5081 closed, assigned to nobody

[2020-10-22 03:12] Colengms commented on #5429
Taking this out of tracking, as the blocking VS Code issue has been fixed.

[2020-10-22 03:17] Colengms commented on #5546
Closing this, as we don't generally keep tracking issues open in this repo for issues with VS Code's TextMate grammar.  Since this has been addressed in the Better Syntax extension, it should just seem to be a matter of time until VS Code gets an updated grammar.(?)

[2020-10-22 03:17] #5546 closed, assigned to nobody

[2020-10-22 03:20] Colengms commented on #5780
Closing this, as it was created just to be pinned, for users who might have been impacted as these changes were introduced.

[2020-10-22 03:20] #5780 closed, assigned to nobody

[2020-10-22 03:24] Colengms commented on #6022
Closing this, as we don't generally track issues with VS Code's TextMate grammar in this repo.  If there is a detail here that I missed that can be addressed by the C/C++ Extension, please let me know.  :)

[2020-10-22 03:24] #6022 closed, assigned to nobody

[2020-10-22 03:25] Colengms commented on #6158
Removing from tracking, as the linked issue appears to have been addressed.

[2020-10-22 06:05] stansotn commented on #833
I am having the same problem with embedded ARM. More details in [#807 ](https://github.com/microsoft/vscode-cpptools/issues/807#issuecomment-714254674)

[2020-10-22 06:11] stansotn commented on #807
I am having the same issue when debugging a remote embedded target. Every time I run gdb in a terminal, everything works fine, that is I can ctrl+c interrupt any time and read the registers, memory etc.. When debugging in vscode, pause button does nothing, there is no way to interrupt execution, though breakpoints work fine.

Am I doing anything wrong? Please let me know if you would like more inf

[2020-10-22 08:06] Trass3r commented on #977
Also got bitten by this on v1.0.1

[2020-10-22 08:14] MoritzMaxeiner commented on #5444
I'm not seeing this issue anymore, either, thanks.

[2020-10-22 09:20] nm-bls opened #6372 "Intellisense for std::span"
Issue Type: <b>Bug</b>

When converting a std::vector to std::span, Intellisense reports a problem:

Compilation using c++20 works fine.

Extension version: 1.1.0-insiders2
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T14:44:48.716Z)
OS version: Linux x64 5.8.15-201.fc32.x86_64

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7

[2020-10-22 10:22] mxdh commented on #6365
Yes，it does.
Thank you.

[2020-10-22 10:54] #3964 closed, assigned to nobody

[2020-10-22 14:34] MarcosPetrucci commented on #2811
@dougdew I have the exact same problem as you. I manage to find gdb in "\\wsl$\Ubuntu\usr\bin\gdb", so I added

`"miDebuggerPath": "\\\\wsl$\\Ubuntu\\usr\\bin\\gdb",`

In my Json, but when I run it I get this in the terminal:

`Command 'cmd' not found, but there are 17 similar ones.`

And, after some seconds:

![image](https://user-images.githubusercontent.com/31253602/96886564-15c86980-145a-11eb-

[2020-10-22 15:20] CyrilleBenard commented on #1503
Same needs within GO

[2020-10-22 16:57] sean-mcmanus commented on #6348
When you open /tmp/main.out.c do you get the same squiggles?

[2020-10-22 17:19] sean-mcmanus commented on #6372
Can you provide a code sample? And what compiler is being used?

[2020-10-22 17:23] fiendish commented on #696
Upvotes? Is github reddit now? Is it common for the actions bot to close things that have already been assigned?

[2020-10-22 17:35] sean-mcmanus commented on #696
@Colengms Any idea why this was assigned to you a year ago?

[2020-10-22 17:48] sean-mcmanus commented on #6372
In particular, I'm hitting this crash: https://developercommunity.visualstudio.com/content/problem/1209658/c-intellisense-process-crashes-when-using-span-wit.html

[2020-10-22 17:52] WardenGnaw commented on #6369
Can you upgrade to the latest XCode Command Line tools and have xcode point to that? You can do this by running:
[code]

[2020-10-22 18:38] sean-mcmanus commented on #6366
@elahehrashedi The problem is that F5 (Build and Debug Active File) is causing the wrong build task to be run, i.e. the default build task is not run (it's using the pre-generated task). I see it working correctly when Run Build Task is used.

[2020-10-22 18:40] sean-mcmanus commented on #6366
@hasenradball A workaround is to change the label in tasks.json and the preLaunchTasks to match that new name in launch.json.

[2020-10-22 19:03] hasenradball commented on #6366
Ok thanks for the reply.
But why is it only in win10 the case?

[2020-10-22 19:14] Colengms commented on #696
We sometimes assigned things in triage for the purpose of further investigating, or validating against the latest version of the extension when we suspect an issue may already have been addressed, etc..  We also assign things when waiting for responses from the user (we now have a bot that will ping the assignee to get back to the user, if we missed their response).  Assignment doesn't necessarily

[2020-10-22 19:15] hasenradball commented on #6366
@sean-mcmanus I testet your proposal. BUT it does not work. same behavior as before.
My actual workaround is making a batch file with the following code:
`g++ -o test.exe *.cpp`

With the batch erverything works fine.

[2020-10-22 19:22] wolf99 commented on #6056
Yes please!

[2020-10-22 19:23] wolf99 commented on #6370
Thanks for the added info!
You are correct about the dupe.

[2020-10-22 19:23] #6370 closed, assigned to nobody

[2020-10-22 19:45] hasenradball commented on #6366
@sean-mcmanus
One Question, is it possible to use a makefile in vscode?

[2020-10-22 19:55] sean-mcmanus commented on #6366
Yeah, you're right -- I'm seeing changing the label/name causes the correct tasks to be run, but the args are not correct still, i.e. there appear to be 2 bugs in the same scenario.

However, I'm hitting this bug on Mac/Linux as well. I'm pretty sure this bug would occur on Mac/Linux if 1.1.0-insiders or 1.1.0-insiders2 is used. Could Mac/Linux be using 1.0.1?

We have a Makefile Tools extension t

[2020-10-22 20:25] bobbrow commented on #6366
@hasenradball, let me know if you are interested in joining the preview and I will send you an invite to the repository where you can download the Makefile Tools extension.

[2020-10-22 21:09] lkrzysciak commented on #807
Add to launch.json file debugServerPath and debugServerArgs parameters in order to run gdb server with the plugin. I had the same issue before that.

My launch.json file

[code]

It was tested with arm-none-eabi-gdb debugger as well.

[2020-10-22 21:22] bobbrow commented on #5545
This appears to be a clang-format bug.  We recommend entering a bug in their system to let them know about the problem.  https://bugs.llvm.org/

Thank you.

[2020-10-22 21:22] #5545 closed, assigned to nobody

[2020-10-22 21:41] huntc commented on #6348
No squiggles.

[2020-10-22 22:08] Colengms commented on #5773
Hi @aschlicht Regarding colorization; The C/C++ Extension provides colorization for semantic tokens, but syntax based colorization is provided by VS Code via it's TextMate grammar for C/C++.  Given that the colorization you are referring to is in comments, it would be coming from VS Code.  You might consider opening an issue in the repo for the C/C++ TextMate grammar used by VS Code, which is here

[2020-10-23 00:03] sean-mcmanus opened #6375 ""C/C++ Build and Debug Active File" and "F5" are causing the wrong build task to be run, i.e. the default build task is not run (it's using the pre-generated task)"
@elahehrashedi The problem is that F5 (Build and Debug Active File) is causing the wrong build task to be run, i.e. the default build task is not run (it's using the pre-generated task). I see it working correctly when Run Build Task is used.

_Originally posted by @sean-mcmanus in https://github.com/microsoft/vscode-cpptools/issues/6366#issuecomment-714684171_

[2020-10-23 01:35] inbright2alter commented on #2786
I have encountered a similar kind of issue:
<img width="542" alt="intellisense_issue" src="https://user-images.githubusercontent.com/54186438/96946454-14924d80-14e9-11eb-8fe9-9ab75eadd298.png">
Obviously size_t is a typedef, but intellisense seems to over-expand this typedef and produce an error

Edit: so I checked it out, and it appears so that clang-x64 intellisense setting is triggering this, e

[2020-10-23 01:49] Colengms commented on #3491
The original tracking issue did not completely address the issue.  Opening another issue against VS: https://developercommunity.visualstudio.com/content/problem/1230928/class-type-not-suitable-for-us-with-designators-gc.html

[2020-10-23 01:51] sean-mcmanus commented on #2786
@ldelenger We are tracking that issue with https://github.com/microsoft/vscode-cpptools/issues/6343 which in turn is tracking https://developercommunity.visualstudio.com/content/problem/1227674/cc-gives-error-with-gcc-81-string-view-header-due.html .

[2020-10-23 01:52] stansotn commented on #807
@lukas9409 Amazing! Thank you, it works! What's wrong with running the gdb server in a separate terminal?

[2020-10-23 01:59] sean-mcmanus commented on #5583
We have a Windows ARM64 1.1.0-insiders3 vsix at https://github.com/microsoft/vscode-cpptools/releases/download/1.1.0-insiders3/cpptools-win-arm64.vsix . Debugging isn't enabled yet though.

[2020-10-23 02:00] sean-mcmanus commented on #6216
I'm closing this issue since it doesn't have enough info.

We have a Windows ARM64 1.1.0-insiders3 vsix at https://github.com/microsoft/vscode-cpptools/releases/download/1.1.0-insiders3/cpptools-win-arm64.vsix . Debugging isn't enabled yet though.

[2020-10-23 02:00] #6216 closed, assigned to nobody

[2020-10-23 02:04] sean-mcmanus commented on #6142
This is available in https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders3 .

[2020-10-23 02:04] sean-mcmanus commented on #2046
The fix is available in https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders3

[2020-10-23 02:05] sean-mcmanus commented on #4786
The fix is available in https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders3

[2020-10-23 02:06] sean-mcmanus commented on #6356
The fix is available in https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders3 (not the CMake Tools issue).

[2020-10-23 02:22] sean-mcmanus commented on #6366
The fix is available in https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders3 , but the launch.json label and tasks.json name has to not match the default generated. one. If you're still reproing the bug then we might need more repro info.

This is a screenshot of the "${workspaceFolder}\\*.c" compiling multiple .c files in the workspace using mingw on Windows.
![image](https:/

[2020-10-23 02:39] sean-mcmanus commented on #6350
The 1.1.0-insiders3 vsix has cpptools/cpptools-srv mac signed with hardening https://github.com/microsoft/vscode-cpptools/releases/download/1.1.0-insiders3/cpptools-osx.vsix , the clang-format binary will have hardening for clang-format 11 (with the Developer Certificate, not the App Store Certificate...not sure if that matters), but I'm not sure when we'll release that yet.

The debugger binaries

[2020-10-23 03:28] elahehrashedi opened #6376 ""C/C++ build and debug active file" doesn't show the compilers path in the API"
after running "C/C++: Build and debug active file"
![image](https://user-images.githubusercontent.com/16143955/96955345-3ae4c880-14aa-11eb-90a9-293b50c79e8f.png)
the compilers paths should be visible

[2020-10-23 03:31] elahehrashedi commented on #4278
The user is getting this screen after running "Run and debug" or pressing "F5". I fixed this issue and sent a PR.
![image](https://user-images.githubusercontent.com/16143955/96952776-7bd9de80-14a4-11eb-89ed-58c38593ab91.png)
the paths are not visible:
![image](https://user-images.githubusercontent.com/16143955/96953165-4da8ce80-14a5-11eb-9c8f-1eac785fe0ea.png)
I solved this problem for "Run and De

[2020-10-23 04:14] Hughen commented on #6161
@Colengms
I'm very sorry to reply you now, I took a long vacation.
You are right, I found that my `CMakeLists.txt` file did not contain `pybind11` related packages, which caused this problem.

When I put `add_subdirectory(pybind11)` in `CMakeLists.txt`, and the everything is back to normal.

[2020-10-23 04:14] #6161 closed, assigned to Colengms

[2020-10-23 04:27] CreateLex commented on #6358
Yes. this issue is due to an unreal engine generated project error. still waiting for them to resolve this issue for Mac users. using Xcode and visual studio code. The cpp defines array is empty.

You tube Link.

https://www.youtube.com/watch?v=oGUnRNMyjsU&t=5s

[2020-10-23 04:59] shubham721 commented on #6369
Hi @WardenGnaw
Getting this when I ran second command.
--> R (launch-2): {"type":"response","request_seq":2,"success":false,"command":"launch","message":"Unable to start debugging. Unable to establish a connection to LLDB. The following message was written to stderr:\r\n\r\ndyld: lazy symbol binding failed: Symbol not found: __ZN4lldb20SBCommandInterpreter15SetPromptOnQuitEb\r\n  Referenced from:

[2020-10-23 05:22] DBJDBJ commented on #6340
@sean-mcmanus  many thanks for a reply. It is a windows issue provoked by VS Code installation. namely WSH (aka Windows Scripting Host) does not function as it was after Electron "hijacks" the `*.js` files as a part of VS Code installation.

Namely `cscript.exe` looses its association with `*.js` files.

To repeat

write `wrong.js`
[code]
Try to execute it on its own. VS code opens it. You close t

[2020-10-23 05:51] hasenradball commented on #6366
Hi thank you is the fix automatically installed?
How to install a specific version of c/c++?

On my linux I have also the insiders2 instslled.

[2020-10-23 06:14] lkrzysciak commented on #807
Frankly speaking I don't know. That's really good question for the plugin development team. I suppose that plugin need to know it is remote session. If you set miDebuggerServerAddress (you can delete debugServerPath and debugServerArgs) it still works. However this solution is not enough for me, due to _setupCommands_ are called before remote connection (the _monitor_ commands only works with remo

[2020-10-23 06:54] hasenradball commented on #6366
@sean-mcmanus Hi I tested the insiders2/3 on my **MAC** and there is absolutely no problem on the MAC.
Only change the tasks.json and it works fine.

on the Win Machine I will test it today..

[2020-10-23 08:07] emptyVoid opened #6378 "Format On Save (modifications) formats entire file when resolving merge conflicts"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro x64 2004 19041.572
- VS Code Version: 1.50.1 (system setup)
- C/C++ Extension Version: 1.0.1
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

With `Format On Save` enabled and `Format On Save Mode` set to **modifications** VSCode formats entire C++ file when saving the file whi

[2020-10-23 08:10] hasenradball commented on #6366
@sean-mcmanus
Hi I tested now the Insiders3 on Win10.
I have done the following:
1) changes the args field in the tasks.json (e.g. the output file name, build multiple cpp files)
2) start Build Task via menue.

Result:
everything is fine now, args are taken over an considered on Win10!

Thanks for your Support!!!

![grafik](https://user-images.githubusercontent.com/26808969/96973211-e2e4ab00-1517-

[2020-10-23 08:15] grigorig commented on #6356
Hm... I'm not seeing any changes here with 1.1.0-insiders3. I still see exactly the same issue.

Edit: To clarify, the compiler probe still fails, options are still processed the same way, even after resetting IntelliSense etc.

[2020-10-23 08:59] hasenradball commented on #6366
@sean-mcmanus Hi I have one short question....

Is it possible to add the Standard Build activity to the Activity bar to the left?
I havent found to modify the activity bar.

![grafik](https://user-images.githubusercontent.com/26808969/96978489-b41e0300-151e-11eb-925b-e542bf0b8d90.png)

[2020-10-23 09:26] kartikeyshetty opened #6379 "During debug, Ctrl + C on application throws "close failed in file object destructor: sys.excepthook is missing lost sys.stderr""
Type: Debugger

- OS and Version: RHEL8
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.0.1

In my cppdbg debug session, the application starts in terminal with the debug console opened.  The launch.json looks like this :

[code]

In the application, if i hit 'Ctrl + C', i expect it to drop into the gdb prompt. It is what happens when i debug the application outside of VSCODE.

STEPS outsid

[2020-10-23 10:54] nm-bls commented on #6372
Contrary to the original issue, this does not seem to pop up in all cases:

[code]

I did not experience any crashes on Fedora with gcc. The code compiles and runs fine, however code completion on the span objects doesn't work either.

[2020-10-23 12:38] malife commented on #1162
Add on bump to the list :-)

[2020-10-23 13:59] #6347 closed, assigned to nobody

[2020-10-23 17:52] michelleangela commented on #6375
What are the repro steps for this issue? Is this from creating a new build task or from an existing one?

[2020-10-23 18:31] ryanpholt opened #6381 "Debugger not hitting breakpoints in 1.1.0-insiders3"
After the recent update to cpptools v1.1.0-insiders3, I am no longer able to hit breakpoints. I can still "pause" the debugger and then step/print expressions etc. It is just breakpoints that no longer work. If I revert to cpptools v1.0.1, then breakpoints work again. I also recall that they worked with insiders2.

I'm on Debian 10.

VSCode Version: 1.50.1
C++ Extension Version: 1.1.0-insiders3

H

[2020-10-23 20:14] ryanpholt opened #6383 "Multiroot workspace: Only one folder is tag parsed when each folder is configured with its own compile_commands.json"
See title. I work on a multiroot workspace. If I configure each folder with its own compile_commands.json, then only one folder gets tag parsed. However, if I configure with a single compile_commands.json via the "default" option in the workspace settings, then they all get tag parsed.

Download the [repro](https://github.com/microsoft/vscode-cpptools/files/5431557/test.zip).

The zip file contain

[2020-10-23 22:54] Saladin1812 commented on #6358
@michelleangela

https://pastebin.com/FefTGxj3

here is the log you asked for.

[2020-10-24 15:31] gitspeaks opened #6385 "Can't run C program, Remote-SSH, Ubuntu Server 20.10 on Raspberry Pi 4"
Local Setup: VS Code 1.50.1 running on Windows 10 (PC)
Remote Setup: Ubuntu Server 20.10 (32bit) running on Raspberry Pi 4 (4gb) (OS Boot from USB Flash Drive. No SD Card inserted)

Post Ubuntu Server installation:

sudo apt install build-essential
sudo apt-get install gdb

Successfully established SSH connection through Windows Terminal to remote Ubuntu Server.

1. Opened Remote-SSH connection th

[2020-10-24 17:11] gitspeaks commented on #6385
Installed new Ubuntu Server 20.10 (64bit) image on WSL from:

https://cloud-images.ubuntu.com/groovy/current/groovy-server-cloudimg-amd64-wsl.rootfs.tar.gz (*)

by running:

[code]

as instructed by:

https://discourse.ubuntu.com/t/installing-ubuntu-20-10-on-wsl/18941

Here I'm able to run the program in a Remote-WSL session taking the same steps and extension version as I detailed initially.

![5

[2020-10-24 23:31] BowenLi1994 opened #6386 "The generated active file is shown in the root of workspace"
Type: General

**Describe the bug**
- OS and Version:8.04.5 LTS (Bionic Beaver)
- VS Code Version:1.50.1
- C/C++ Extension Version: v1.1.0-insiders3
- Other extensions you installed (and if the issue persists after disabling them):C++ Intellisense,GitHub Pull Requests and Issues,GitLens
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include code sample and `task.js

[2020-10-25 10:50] shubham721 commented on #6369
Hi,
Any update on this?

[2020-10-25 22:12] huntc commented on #6348
OK, so it turns out that it was the version of the Nordic SDK that was somehow causing the problem. By [upgrading to 17.0.2](https://www.nordicsemi.com/Software-and-tools/Software/nRF5-SDK/Download), all then appeared ok.

I'm going to close out this issue. Thank you so much for the support and your responsiveness. Much appreciated.

[2020-10-25 22:12] #6348 closed, assigned to nobody

[2020-10-26 01:44] yamsjix opened #6387 "More support on symbol resolved of the include files of std"
**Type: C/C++**

**Describe the bug**
- All windows version :
- All versions:
- C/C++ Extension Version 1.50/1.48/1.46...:
- I'm read/write project log4c  on windows, All files include and ABI symbol from c/c++ std cannot be resolved.

**Steps to reproduce**

1. Open project of log4c.
2. Open file  appender_type_mmap.c
3. Errors occurses at  all includes such as fcntl.h and sys/mman.h

**Expected

[2020-10-26 07:58] ipa64 commented on #2499
Nothing new ?

[2020-10-26 11:54] ItsDrike opened #6388 "Publish to OpenVSX"
Arch Linux (Linux based operating system distribution) has decided to switch the marketplace for extensions from the [MS Visual Studio Marketplace](https://marketplace.visualstudio.com) to [OpenVSX](https://open-vsx.org/) in [this commit](https://git.archlinux.org/svntogit/community.git/commit/trunk?id=b62a02ec645f16528c0269faf12e362a55efda75).

[Here](https://www.gitpod.io/blog/open-vsx/) are som

[2020-10-26 13:38] gitspeaks commented on #6385
This issue is specific to Pi 4 running Ubuntu Server 20.10 32bit.

Things work OK on 64bit.

[2020-10-26 17:36] vanshizzles opened #6389 "100% CPU Usage"
Issue Type: <b>Performance Issue</b>

I just open VS code normally to a medium sized C/C++ repo and cpptools is constantly using 100% CPU.

Extension version: 1.1.0-insiders3
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T14:53:05.704Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750

[2020-10-26 17:38] #6389 closed, assigned to nobody

[2020-10-26 18:26] btgoodwin commented on #5586
I'm in a similar struggle.  I found it suggested on SO to create a script that basically does `pkexec /usr/bin/gdb "$@"` and then set `miDebuggerPath` to point at it (I put mine in my workspace folder).  In my configuration and environment then, I tried using `sudo` in place of `pkexec`.  I received the same error as you about input/output.

I've also tried going the suggested route of an "attach"

[2020-10-26 18:34] WardenGnaw commented on #6381
We have done a change to upgrade sourceFileMappings and how it binds breakpoints from `-insiders2` to `-insiders3`, this change may have caused an issue.

Looks like the second breakpoint failed to bind.
[code]

Can you also provide logs with:
[code]

Thank you.

[2020-10-26 18:38] WardenGnaw commented on #6385
Can you enable logging and share it to help us figure out which command it is stuck on?

[code]

Thank you.

[2020-10-26 18:42] ryanpholt commented on #6381
@WardenGnaw: I have attached [withTraceResponseAsWell.txt](https://github.com/microsoft/vscode-cpptools/files/5440726/withTraceResponseAsWell.txt)

Let me know if I can provide any more info. Thanks!

[2020-10-26 19:01] WardenGnaw commented on #6381
I think I found the bug.

It is due to having multiple `editorPath's (<target-paths>)` being the same and it will only use the first one to bind the breakpoint with. [Source](https://github.com/microsoft/MIEngine/blob/728f403c563c2c50c46542e9b44271a7f8d5895b/src/MIDebugEngine/Engine.Impl/DebuggedProcess.cs#L2180)

It is running
[code]

I believe you can workaround this in `-insiders3` by not using

[2020-10-26 19:02] sean-mcmanus opened #6390 "C/C++: Log Diagnostics sometimes shows a blank "C/C++ Diagnostics""
This might be a VS Code bug...I'm not sure how to repro this consistently yet. But it repros quite frequently. Seems to happen the 1st time it's run, but then stops reproing. I've reproed it on multiple machines.

[2020-10-26 19:25] sean-mcmanus opened #6391 "Windows ARM64 (1.1.0-insiders3): Windows SDK paths aren't auto-detected for IntelliSense"
...this is causing missing include errors when `#include <string>` etc. are used.

One workaround is to add the paths manually, e.g.
[code]

Also, the "windowsSDKVersion" in the default c_cpp_properties.json is blank instead of something like "10.0.18362.0".

[2020-10-26 19:33] sean-mcmanus opened #6392 "Windows ARM64 debugging doesn't work"
cppvsdbg/cl.exe debugging doesn't work.

cppdbg/mingw-w64 debugging doesn't work if std::vector/string/etc. are used.

[2020-10-26 19:36] ryanpholt commented on #6381
@WardenGnaw: That worked! Thanks!

[2020-10-26 19:44] sean-mcmanus opened #6393 "F5 (Build and Debug Active File) doesn't generate a tasks.json template and launch.json is missing stuff if no compiler is detected"
Do F5 (Build and Debug Active File) with no default compiler detected -- it could actually exist, but just not at a location we look at, so the user would need to manually add the paths, but it would be easier to do if the other stuff wasn't missing, e.g.

1. tasks.json doesn't get created.
2. launch.json is created but is missing the `"program": "${fileDirname}\\${fileBasenameNoExtension}.exe"` a

[2020-10-26 19:56] sean-mcmanus opened #6394 "Windows ARM64 (1.1.0-insiders3): mingw32 isn't auto-detected as a "known compiler""
As a result, the launch.json/tasks.json has to be manually configured (see https://github.com/microsoft/vscode-cpptools/issues/6393). It probably isn't detected for IntelliSense either (although I have cl.exe installed/chosen so I'm not sure).

[2020-10-26 20:03] michelleangela commented on #6358
@jatin-cbs

The logs from the language server look okay. Could you also send the IntelliSense configuration log by running `C/C++: Log Diagnostics` from the VS Code command palette?

The issue could be an incorrect IntelliSense configuration (like the file that has the class that is being used is not specified in the includePath property) _or_ there is an issue with Unreal engine.

[2020-10-26 20:17] WardenGnaw commented on #6386
This is by design. VS Code only looks a tasks/launch configurations in the ${workspaceRoot} which is the folder you have opened.

Any configurations in subfolders are not looked at by VS Code so we do not generate in subfolders. If you wish to have it generated in the subfolder. Please open VS Code with that folder.

[2020-10-26 20:26] discapes opened #6395 "IntelliSense false error `cannot call non-constexpr function "std::array<_Tp, _Nm>::array()"`"
**Type: LanguageService**

- OS and Version: Linux arch 5.9.1-arch1-1
- VS Code Version: 1.51.0-insider (f5d3ba4d61146b78f0c75c82f3f85232d3409bc1)
- C/C++ Extension Version: v1.1.0-insiders3

**Steps to reproduce**

1. Open a new folder and add a .cpp file
2. Add this code to the file
[code]
Compiling with g++ bug.cpp -c gives out no errors or warnings, but IntelliSense raises an error on the last

[2020-10-26 20:49] sean-mcmanus commented on #6395
I think this is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/5833 (which is tracking https://developercommunity.visualstudio.com/content/problem/1127113/c-intellisense-gives-the-error-expression-must-hav.html ).

But we can keep this open to make sure it's fixed when the other issue is fixed.

[2020-10-26 21:27] sean-mcmanus commented on #6394
Looks like an issue with mingw32 (doesn't work) versus mingw64 (works).

[2020-10-26 22:35] sean-mcmanus commented on #6391
Looks like a problem with the ARM64 process not reading the WOW6432Node regkey value.

[2020-10-27 04:01] o-u-p commented on #3288
mark

[2020-10-27 05:45] sean-mcmanus commented on #6356
@Colengms Can you follow up on this?

[2020-10-27 05:56] sean-mcmanus opened #6397 "Investigate other potential bugs with the x64/ARM64 build caused by incorrect regkey lookup"
One bug was https://github.com/microsoft/vscode-cpptools/issues/6391 , but there could be more cases of the same issue.

[2020-10-27 06:25] sean-mcmanus commented on #6378
Thanks for reporting this. I didn't repro this in a normal edit/save scenario (only the modifications were formatted) -- can you confirm that that is the same behavior you're seeing, i.e. the bug only repros with a GIT merge conflict? I can investigate the Git Merge conflict scenario later.

[2020-10-27 06:35] sean-mcmanus commented on #6383
Thanks for reporting this...should be fixed in our next release.

[2020-10-27 06:58] emptyVoid commented on #6378
Yes, the issue manifests during GIT merge conflict only. Normal edits work as expected for me too.

[2020-10-27 08:53] alphagocc opened #6398 "Can't correctly highlight the code"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Window 10 20H2 19042.608
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.0.1

**Steps to reproduce**

![image](https://user-images.githubusercontent.com/28982331/97278298-90d3ba80-1874-11eb-9e69-06d4a836f879.png)
Write code like above
return if and [] aren't highlight
But IntelliSense and autocomplete is OK

[2020-10-27 10:30] Iipal opened #6399 "Documentation for what is already implemented for Doxygen support?"
**Type: LanguageService**

- OS and Version: Windows 10 and WSL Ubuntu-20.04 via Remote-WSL.
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.1.0-insiders3

What I want is - just documentation for what is already implemented related to Doxygen code documentation from this [topic](https://github.com/microsoft/vscode-cpptools/issues/658). Thanks

[2020-10-27 10:34] psclkhoury commented on #977
3 years later still no fix? @pieandcakes Will you accept a PR for this or is it in the closed source part of the code?

[2020-10-27 11:06] gitspeaks commented on #6385
Attached.

[log.txt](https://github.com/microsoft/vscode-cpptools/files/5444799/log.txt)

[2020-10-27 11:15] Trass3r commented on #977
I think it's all open source by now.

[2020-10-27 11:26] #6027 closed, assigned to nobody

[2020-10-27 11:26] #5966 closed, assigned to nobody

[2020-10-27 14:15] ldarshan1991 commented on #6379
Even I am facing the same issue.
Can someone from VS team take a look at this issue?

[2020-10-27 17:04] cs96and commented on #5121
I'm seeing this issue too when trying to use LLDB as the debugger.  I tried setting the `setupCommands` to change the directory but it makes no difference

                {
                    "description": "Set working directory",
                    "text": "-environment-cd ${workspaceFolder}",
                    "ignoreFailures": false
                }

[2020-10-27 19:46] dslijepcevic commented on #6346
Thanks for the clarification. It actually works with `C_Cpp.default.includePath`. The documentation on `C_Cpp.default.systemIncludePath` was a bit confusing about silent removal of (any) system includes.

[2020-10-27 19:54] sean-mcmanus commented on #6398
I don't understand. Can you provide a complete code example? What type of highlighting are you referring to?

[2020-10-27 20:53] michelleangela commented on #4473
Note: the variable `${command:cpptools.activeConfigname}` can be used in tasks.json and launch.json

[2020-10-27 22:26] sean-mcmanus commented on #6366
Extensions can add their own activity bars. What do you mean by "Standard Build activity"? We weren't planning to add a build activity bar. I'm not sure what would be in that pane. If you have an idea for how that would be useful, could you file a new feature request issue?

[2020-10-27 22:48] WardenGnaw commented on #6379
The SIGINT is going to be captures by the intergrated terminal process `gnome-terminal` that is spawned by the debugger which runs gdb as a child process. Sending SIGINT to the integrated terminal will stop it since it does not forward the signal to the child process.

You will want to try this with this in your `launch.json`
[code]
so you can directly send that signal to the program.

[code]
This

[2020-10-27 22:59] Colengms commented on #6387
Hi @yamsjix . `sys/mman.h` is linux system header, which would explain why it was not found on Windows.  You would likely need to configure your `c_cpp_properties.json` with the appropriate #defines macros, etc., such that the project is configured for Windows.  The C/C++ Extension essentially needs the same information as the build system, as IntelliSense involves compilation.
 When using VS Code

[2020-10-27 23:03] hasenradball commented on #6366
Hi in the c++ extension at the left there is a button for starting Debug.
Is it possible to add a button at this activity bar for starting the default build?
As a short cut.

[2020-10-27 23:04] Colengms commented on #6388
Hi @ItsDrike .  Thanks for letting us know.  We'll look into this.

[2020-10-28 00:01] sean-mcmanus commented on #6372
Okay, thanks for the repro details. I repro the issue now. It might share the same root cause as the previous span issues. Investigating...

[2020-10-28 00:26] #4278 closed, assigned to elahehrashedi

[2020-10-28 01:22] Saladin1812 commented on #6358
Its probably not an issue with the engine as codelite is working and also qtcreator with clang....intellisense which has been entirely reworked in 4.26 release as per the unreal engine github commits, is also having this issue and he is on Fedora 32 so it is also not distro specific.. maybe UBT bug

https://pastebin.com/1yjwHPgC  Here are the logs `C/C++: Log Diagnostics` @michelleangela

[2020-10-28 01:49] skipper2cic opened #6402 "VS Code does not properly disconnect the debug adapter in Remote SSH Extension if connection is lost"
Type: General

After reboot the remote machine, SSH connection was stable for a while, then disconnection repeats again.
The followings were shown even the user has not been connected via vscode for several days.

ps auwx | grep vscode
root 5898 0.0 0.0 112712 984 pts/7 S+ 17:01 0:00 grep --color=auto vscode
user 28392 0.0 0.1 920200 48596 ? Sl Oct22 0:00 /home/user/.vscode-server/extensions/ms-vs

[2020-10-28 04:32] ghuser404 opened #6403 "Go to Definition acts like Go to References"
Have `foo()` declared in foo.h, defined in foo.cpp and used in main.cpp. Pressing F12 on either declaration or definition will **sometimes** show all references instead of going to declaration/definition.

[2020-10-28 05:08] rpriyanshu9 opened #6404 "Syntaxing errors not shown in the problem panel of VS code."
**Syntaxing errors are not shown in the problems panel and also not in the editor itself.**

- OS and Version: Windows 10
- VS Code Version: 1.50.1 (user setup)
- C/C++ Extension Version: v1.1.0-insiders3

**Steps to reproduce**
1. Go to VS Code
2. Open a `.cpp` file
3. Write some code with incorrect syntaxing
4. Check the editor for red error lines or problems panel

<details>
  <summary><strong>

[2020-10-28 05:26] rpriyanshu9 commented on #6404
Sir/Ma'am please respond to this, i am facing problems in coding in this situation.

[2020-10-28 06:22] alphagocc commented on #6398
Ok
I've modified my code
You can see the problem more clear.
![image](https://user-images.githubusercontent.com/28982331/97399777-cc2fc100-1928-11eb-82ef-241078be978a.png)
The full code i've pasted here
https://paste.ubuntu.com/p/QmZKpzwNxT/

[2020-10-28 09:14] Mingming-Git commented on #6126
I have the message"The language server crashed 5 times in the last 3 minutes. It will not be restarted.  source: C/C++(Extension)". Is there anyway can I recover or use cpptools? Try to uninstall and install vscode or uninstall c/c++ extension are not useful.
I only want to recover my vscode envrionment, but It seems like no way, right?

[2020-10-28 11:26] #6044 closed, assigned to nobody

[2020-10-28 12:32] aka-mj commented on #5678
I'm seeing the same issue under linux, except cpptools is using 100% of the CPU and consuming all the memory and swap space till its full and the system grinds to a halt.

[code]

[2020-10-28 15:39] mnschipper opened #6406 "variable uint8_t is not a type name issue with a not supported compiler"
**Type: LanguageService**

Hi,
I am using VSCode 1.50.1 with C/C++ IntelliSense extension 1.1.0-insiders3 on Windows 10 in combination with a very old IAR cross compiler. This compiler and the libraries don't support a stdint.h include file. So, I created my own types.h file. In this header file there is a typedef for a uitn8_t type. Some lines below this typedef a new type is defined based on the

[2020-10-28 16:33] pierce-martin commented on #5558
Same issue for me. Files are under the home directory. Versions are:
- vscode: 1.50.1
- WSL: Ubuntu 18.04
- C/C++ extension: 1.0.1 (both local and remote)

Main issue I see is tab completion is slow and go to declaration/definition doesn't work. I see cpptools CPU usage spike as well.

[2020-10-28 17:16] TryerGit opened #6407 "Launch.json for WSL does not allow for relative address of program to launch and debug"
Type: Debugger

WSL does not allow for relative address in launch.json for "program" to launch.
- OS and Version: Windows
- VS Code Version: 1.50
- C/C++ Extension Version:1.0.1
- Other extensions you installed (and if the issue persists after disabling them): C++ Intellisense 0.2.2, multi-command 1.4.0, vscodevim, vscode-pdf. Yes
WSL debug configuration in launch.json only accepts absolute addres

[2020-10-28 18:21] jay-pee commented on #1410
Would love to see this feature...

[2020-10-28 18:41] WardenGnaw commented on #6402
Is the process that is being debugged still alive?

If the VS Code client crashes or does not have the ssh connection to send a `disconnect` request to the debug adapter, there is no good way for it to know to close unless the debugged process dies.

[2020-10-28 18:51] WardenGnaw commented on #6407
I could not get the relative path to work for the windows case. If you want to use relative paths, you will want to use `${workspaceFolder}`.

E.g. `${workspaceFolder}/.vscode/x64/Debug/windows.exe`

By design, we validate that the program exists if you are debugging without `pipeTransport`, since this is the one GDB will be spawning.
https://github.com/microsoft/MIEngine/blob/2268582b48c40e416ecf

[2020-10-28 19:23] TryerGit commented on #6407
@WardenGnaw I am not sure how you tried it, but for me, using .vcxproj stored in the .vscode folder works just fine with relative addressing.

tasks.json:

[code]

This task is referenced in launch.json thus:

[code]

With the above setup, I have been using relative addressing for path to the executable to launch and debug just fine under windows. It needs .vcxproj within .vscode folder and ClComp

[2020-10-28 19:23] Colengms commented on #6404
Hi @rpriyanshu9 .  Thanks for reporting this.  Based on the lack of a project folder referred to in the title bar of the image, it looks like you are opening an individual source file without also opening a project folder.  There appears to be a bug in this scenario, which we will investigate.  You should be able to work around the issue by opening a project folder containing your source files.

[2020-10-28 19:42] Colengms commented on #6404
@rpriyanshu9 Actually, this behavior is currently be by-design.  When opening only a single file, we don't have sufficient context to configure IntelliSense for the file.  No squiggles are shown, to avoid showing a lot of incorrect squiggles.  Putting your source files in a folder and opening the folder should address the isuse.

[2020-10-28 19:43] #6404 closed, assigned to nobody

[2020-10-28 19:47] Colengms commented on #6398
Hi @alphagocc .  The C/C++ extension provides colorization for semantic tokens, which are symbols that essentially require compilation to identiy.  For syntactic tokens, colorization is provided by VS Code and it's TextMate grammar for C/C++.  The source of that TextMate grammar in VS Code is this repo: https://github.com/jeff-hykin/cpp-textmate-grammar   There is often some time between when fixe

[2020-10-28 19:47] #6398 closed, assigned to nobody

[2020-10-28 20:00] Colengms commented on #6403
Hi @ghuser404 I believe this behavior is coming from VS Code, not the C/C++ Extension.  The extension registers 'providers' for these operations, but VS Code decides when to invoke them.  Some possibly relevant VS Code issues are:

https://github.com/microsoft/vscode/issues/90012
https://github.com/microsoft/vscode/issues/85403

[2020-10-28 20:11] TryerGit commented on #6407
@WardenGnaw Using your suggestion, I have setup for linux as well as WSL, the same configuration that refers to

`"program": "${workspaceFolder}/.vscode/dist/Debug/GNU-Linux/linux",`

and this works fine on both linux and WSL alike. So, there is no longer any need to have full path beginning `/mnt/` and therefore a separate configuration for WSL.

Thanks!

[2020-10-28 20:11] #6407 closed, assigned to nobody

[2020-10-28 20:24] Colengms commented on #6406
Hi @mnschipper .  I'm unable to easily repro your issue, so I'd like to get more information about how things are getting configured for you.  Could you share the following?

 * The output in the `C/C++` output channel leading up to the repro, with `"C_Cpp.loggingLevel": "Debug"` set.
 * The output in the `C/C++ Diagnostics` channel having run `C/C++: Log Diagnostics` after the repro.
 * The outpu

[2020-10-28 20:25] WardenGnaw commented on #6407
I believe `tasks.json` launches the shell in `${workspaceFolder}` so relative paths will work for any commands executed for that.

Unfortunately the debugger requires a full path to the program.
A possible feature can be to check to see if the `program` path is a relative one and concat it with `cwd`.

[2020-10-28 20:48] majaeger commented on #6356
I am still hitting the issue in insiders3 as well

[2020-10-28 21:03] #6291 closed, assigned to nobody

[2020-10-28 21:07] Colengms commented on #4833
Hi @iShibi .  Are you still seeing this issue with a recent build of the extension?

[2020-10-28 21:10] Colengms commented on #5031
Hi @Garph .  We've recently addressed some issues with IntelliSense w/clang-cl.  Are you still seeing this issue with the latest insiders build of the extension?

[2020-10-28 21:18] #5448 closed, assigned to nobody

[2020-10-28 21:20] Colengms commented on #5452
I believe we are tracking the size_t issue with: https://github.com/microsoft/vscode-cpptools/issues/5457

[2020-10-28 21:20] #5452 closed, assigned to nobody

[2020-10-28 21:21] #5547 closed, assigned to nobody

[2020-10-28 21:27] ghost commented on #5558
I upgraded my computer from a 2c4t VDI to a 16c16t VDI and switched from WSL1 to WSL2. The issue has been improved significantly. Though I'm not sure if it's due to CPU performance or WSL1 -> WSL2.

[2020-10-28 21:44] Colengms commented on #6163
@jeremyong Are you still seeing this issue?

What you describe (the shutting down of a source file TU and use of a header-only TU) is the behavior we would expect if we discovered that the source file we selected does not actually include the header file, after defines have been resolved.

Are you seeing that `RP_WINDOWS` is not defined when opening that source file as well, or is that issue only

[2020-10-28 21:46] Colengms commented on #6356
I believe we have a fix for this, pending release.  We may release a 1.1.0-insiders4, or we may skip directly to 1.1.0.

[2020-10-28 21:59] Colengms commented on #5429
Although the blocking issue has been addressed by VS Code, it's still in insiders and not yet available in a general release.  This will need to be delayed until the next VS Code release.  This will also involve a dependency on that new VS Code version.

[2020-10-28 22:55] Colengms commented on #6265
@WardenGnaw

[2020-10-28 22:56] Colengms commented on #6170
@WardenGnaw

[2020-10-28 22:57] WardenGnaw commented on #6265
Thank you for reporting this issue.  We’ll let you know if we need more information to investigate it.

[2020-10-28 22:58] WardenGnaw commented on #6170
Thank you for reporting this issue.  We’ll let you know if we need more information to investigate it.

[2020-10-28 23:00] Colengms commented on #6113
Hi @NikhilNautiyal .  The C/C++ Extension provides IntelliSense and other features, but it is not directly involved in how your project is compiled or executed.  I'm not familiar with the "Code" output channel.  Is there another extension involved in compiling and executing your code?  If so, I'd suggest following up with an issue against that extension.

[2020-10-28 23:00] #6113 closed, assigned to nobody

[2020-10-28 23:01] Colengms commented on #6076
@WardenGnaw

[2020-10-28 23:03] Colengms commented on #5902
@WardenGnaw

[2020-10-28 23:04] #5319 closed, assigned to nobody

[2020-10-28 23:05] WardenGnaw commented on #6076
Thank you for reporting this issue.  We’ll let you know if we need more information to investigate it.

[2020-10-28 23:05] WardenGnaw commented on #5902
Thank you for reporting this issue.  We’ll let you know if we need more information to investigate it.

[2020-10-28 23:07] Colengms commented on #5244
@WardenGnaw

[2020-10-28 23:10] Colengms commented on #5177
@WardenGnaw

[2020-10-28 23:11] Colengms commented on #5154
@WardenGnaw

[2020-10-28 23:12] WardenGnaw commented on #5177
Thank you for reporting this issue. We’ll let you know if we need more information to investigate it*

[2020-10-29 00:01] Colengms commented on #2930
@Feacur Our multi-root support has changes significantly since this issue last had activity.  Are you still seeing this issue?

[2020-10-29 00:07] Colengms commented on #2966
Hi @ThadHouse .  Are you still seeing this issue with recent versions of the extension?  I'm not currently easily able to repro an issue with already-open files getting configured, or providers changing on the fly.  Can you confirm whether this is still an issue for you?

[2020-10-29 00:17] ThadHouse commented on #2966
I'll check again this weekend.

[2020-10-29 00:30] Colengms commented on #3413
I believe this issue was addressed in v1.0.0 of the extension.  Closing as fixed.

[2020-10-29 00:30] #3413 closed, assigned to nobody

[2020-10-29 00:39] Colengms commented on #3768
I'm not able to repro this issue anymore.  It may have been addressed as part of my edge_host/edge_filebuf changes to fully handle snapshot sessions (which were needed for code folding).  IntelliSense  should now see the file restored to its saved contents.  Closing.

[2020-10-29 00:39] #3768 closed, assigned to nobody

[2020-10-29 00:50] Colengms commented on #4028
Having the extension filter out compiler args that it thinks are invalid would seem to be problematic.  If we assert that we know what arguments are valid, we need to maintain a complete database of the several hundred args for gcc/clang and CL.  That becomes fragile for users who want to use a compiler based on gcc, which has additional args.  We would need to keep track of every variant out ther

[2020-10-29 01:01] Colengms commented on #4958
@WardenGnaw

[2020-10-29 01:04] Colengms commented on #5107
I believe I did so, in the process of adding configuration warnings, in the context of: https://github.com/microsoft/vscode-cpptools/issues/5259

[2020-10-29 01:04] #5107 closed, assigned to nobody

[2020-10-29 01:12] Colengms commented on #5181
@boocs Are you still seeing this issue?  I suspect this has since been addressed, as I'm not able to reproduce the issue in a recent version of the extension.

[2020-10-29 01:36] Colengms commented on #5508
My understanding was that system headers should always use header-only fallback, as it shouldn't be necessary to include the user's symbols in a system header.  In populate_filename_cache(), we explicitly exclude any file found under a system path, from the include graph.  The scenario in which we are using a source file for a system header TU, would seem to be the bug.  Perhaps we are failing to

[2020-10-29 01:44] Colengms commented on #5936
I believe the issue with not processing the args from a `compile_commands.json`, has been addressed.  It should now pass that argument along when probing the compiler, preventing the compiler from returning system paths.  It's currently by design that the `compilerArgs` in the base config are not merged with the compiler args in a `compile_commands.json`.  Specifying a `compilerPath` in the base c

[2020-10-29 01:44] #5936 closed, assigned to nobody

[2020-10-29 04:21] boocs commented on #5181
Yep the bug still happens. The only difference is I don't get the log message 'Failed to open the file' anymore.
Opening twice also still fixes it.

I also tried moving it to my C: drive and same thing happens.

I'm  using v1.0.1 (Sept 21)

[2020-10-29 04:49] ghuser404 commented on #6403
@Colengms Thanks for letting me know about this feature. However, there is a comment about cpptools:

1. How does cpptools change this default? Is it configurable?
2. I noticed that it only works correctly when both .h and .cpp files are open. Otherwise, it still shows the references, which is undesirable. So the cpptools's new default doesn't work consistently. To me, it seems like a bug in eithe

[2020-10-29 07:31] iShibi commented on #4833
Yes. I just reinstalled the extension v1.0.1 and got the same error. Just to make sure I did everything right, I uninstalled the extension, deleted the extension folder from `C:\Users\myName\.vscode\extensions` and reinstalled the extension once again. It installs everything correctly but after that, it throws this error: `[Error - 12:57:02 pm] Connection to server got closed. Server will not be r

[2020-10-29 07:51] Luka234 commented on #3103
I have similar (or same) situation with exception that it **all worked** with C/C++ Extension Version **v1.0.1** and stop working in **v1.1.0-insiders3**.

With `launch.json` below, this is (valid) behavior that I observe with v1.0.1 (in windows):
 * jlinkgdbserverstart.bat is executed (`debugServerPath`) and I can see jlink server instance running in windows
 * arm-none-eabi-gdb.exe (miDebuggerPa

[2020-10-29 07:55] irfan-hossain-bhuiyan opened #6409 "g++ debugger crashing on specific command."
the script->
[code]

breakpoint at line 7

output->9 as expected.

but when i write-->"vb[0]" on debug console the whole thing crush with error-->
[code]

my launch.json:
{
[code]

and task.json:
[code]
same thing happen when
script-->
[code]
and on debug console calling
`cv.get_a()`

[2020-10-29 09:58] mnschipper commented on #6406
Hi @Colengms,

Here is the loggings of the C/C++ output channel:
`cpptools/didChangeCppProperties`
`Skipping probe of compiler due to explicitly empty compilerPath`
`Code browsing service initialized`
`Skipping probe of compiler due to explicitly empty compilerPath`
`  Folder: C:/SOFTWARE4.Y/MBX2/ will be indexed`
`Populate include completion cache.`
`textDocument/didOpen: file:///c%3A/software4.Y

[2020-10-29 10:40] atrantan opened #6410 "GDB connection to OpenOCD server through localhost:3333 is not working anymore"
Type: Debugger

Recent updates of cpptools or vscode "integrated debugger" make my GDB setup command `-target-select remote localhost:3333` not working anymore. I'm using `openocd` as debug server and specify it using the `debugServerPath` entry in `launch.json`
For the moment, I need to downgrade to C/C++ Extension Version: v1.0.0 to make it work.

**Describe the bug**
- OS and Version: Windows 1

[2020-10-29 11:32] mnschipper commented on #6406
I found what compiler argument was causing this issue `-D__GNUC__=0`.
Still weird that when I specify I am not using a GNU C compiler IntelliSense is going mad on stdint types??

[2020-10-29 12:02] mnschipper commented on #6406
Hmmm, I was to early with my conclusion that it works now.
After switching between 2 files the errors squiggles are there again :-(
This is the log output:
<pre>
cpptools/didChangeCppProperties
Skipping probe of compiler due to explicitly empty compilerPath
Code browsing service initialized
Skipping probe of compiler due to explicitly empty compilerPath
  Folder: C:/SOFTWARE4.Y/MBX2/ will be index

[2020-10-29 13:48] mnschipper commented on #6406
Ok, now I know what was causing the problem: compiler specific types. I have added these as empty defines and now it works like a charm.
<pre>
             "defines": [
               "callt=",
                "near_func=",
                "far=",
                "huge="
              ],
</pre>

[2020-10-29 13:48] #6406 closed, assigned to Colengms

[2020-10-29 17:38] sean-mcmanus commented on #6375
F5 or Build and Debug Active File -- with no tasks.json/launch.json.

[2020-10-29 17:40] sean-mcmanus commented on #2499
@ipa64 The issue at https://developercommunity.visualstudio.com/idea/1122536/c-intellisense-request-to-support-sdcc-mcs51-decla.html needs more upvotes...unfortunately, we don't have a way to link upvotes on GitHub to developer community upvotes.

[2020-10-29 17:50] WardenGnaw opened #6411 "debugServerPath is not used in 1.1.0-insiders3 if miDebuggerServerAddress is not specified"
I have similar (or same) situation with exception that it **all worked** with C/C++ Extension Version **v1.0.1** and stop working in **v1.1.0-insiders3**.

With `launch.json` below, this is (valid) behavior that I observe with v1.0.1 (in windows):
 * jlinkgdbserverstart.bat is executed (`debugServerPath`) and I can see jlink server instance running in windows
 * arm-none-eabi-gdb.exe (miDebuggerPa

[2020-10-29 17:50] WardenGnaw commented on #3103
@Luka234 Your issue seems to be specific to 1.1.0-insiders3. I have moved it to its own issue: https://github.com/microsoft/vscode-cpptools/issues/6411

[2020-10-29 17:52] WardenGnaw commented on #6411
@Luka234 Thank you for reporting this and using insiders.

There seems to be a bug that in json that it checks to see if `launchOptions.MiDebuggerServerAddress` for debugServerPath configuraiton.

https://github.com/microsoft/MIEngine/blob/728f403c563c2c50c46542e9b44271a7f8d5895b/src/MICore/LaunchOptions.cs#L447

[2020-10-29 17:57] WardenGnaw commented on #6411
https://github.com/microsoft/MIEngine/pull/1070

[2020-10-29 18:03] sean-mcmanus commented on #6397
There was a bug when the VC compiler wasn't installed at the default location.

[2020-10-29 18:25] Colengms commented on #6403
I believe that commenter was mistaken.  Extensions override defaults using a `configurationDefaults` section in their `package.json`.  Ours does not contain overrides for anything under `editor.gotoLocation`, nor do I see any references to these setting in our code.

Related: https://github.com/microsoft/vscode-cpptools/issues/4909

[2020-10-29 18:31] Colengms commented on #4833
Hi @iShibi .  I asked as this issue is currently blocked due to needing more information.  That error message indicates that our native process crashed.  We asked if you could attach the debugger to collect call stacks when it crashes, which should point us directly to the issue.  Can you attach the debugger to the cpptools process, and collect those stacks for us?  Some guidance is here: https://

[2020-10-29 18:37] Victor333Huesca opened #6412 "IntelliSense not working correctly with anonymous members"
**Type: LanguageService**
IntelliSense not handling anonymous union member with named unions.

**Generic information**
- OS and Version: `Ubuntu 20.04`
- VS Code Version:  `1.51.0-insiders`
- C/C++ Extension Version: `1.1.0-insiders3`
- Tested with all other extensions disabled and it does not solve the issue.

**Details of the issue**
In the code sample [1]  the IntelliSense recognize correctly t

[2020-10-29 19:23] Colengms commented on #5181
Hi @boocs.  Perhaps there is some additional information needed about your repro.  In my case, I have a drive Z:, with no ".vscode" directory, and when I set `C_Cpp.default.browse.databaseFilename` to `Z:\\.vscode\\cache\\browse\\${workspaceFolderBasename}\\global.vs.db`, I immediately see the entire tree of folders created, and see that the extension start tag parsing into the new database.  I'm

[2020-10-29 20:17] WardenGnaw commented on #6410
I believe this is similar to https://github.com/microsoft/vscode-cpptools/issues/6411

Thank you for using insiders and reporting the issue!

We are currently investigating a fix at: https://github.com/microsoft/MIEngine/pull/1070

-----

**Side question:**
For your scenario, do you not use `miDebuggerServerAddress` because it does not use the correct `MIDebuggerPath`? Or do you prefer the `launch

[2020-10-29 20:22] atrantan commented on #6410
@WardenGnaw my `launch.json` file is inspired from an auto-generated file from the online arm mbed compiler. But if the `miDebuggerServerAddress` makes the job, I'll use that

[2020-10-29 20:39] sean-mcmanus opened #6413 "boost_1_74_0\boost\dll\import_class.hpp fails to tag parse"
boost_1_74_0\boost\dll\import_class.hpp fails to tag parse (on Windows) -- works with the latest VS.

[2020-10-29 21:51] sean-mcmanus commented on #6363
Thanks for reporting this. It's not related to https://github.com/microsoft/vscode-cpptools/issues/6251 (different crash). I've filed a bug on our shared parser code for VS at https://developercommunity.visualstudio.com/content/problem/1238527/c-intellisense-crashes-when-using-c20-co-await-wit.html .

[2020-10-29 22:37] sean-mcmanus commented on #6388
The OpenVSX is for VS Code "compatible" editors, but our extensions has a license that limits it to run only in VS Code and not other "VS Code compatible" editors. So I think this issue is a Won't Fix unless we decide to change our license terms.

[2020-10-29 22:41] WardenGnaw commented on #6410
@atrantan I will be closing this as duplicate of https://github.com/microsoft/vscode-cpptools/issues/6411

We will have a fix for this issue the next release.

Again, thank you for reporting this bug and using insiders!

[2020-10-29 22:41] #6410 closed, assigned to WardenGnaw

[2020-10-29 22:45] WardenGnaw commented on #6350
For the debugger, we will not be signing the mono runtime binaries. That is an issue on the mono project. However, we are looking into moving to the dotnet runtime and those will be signed as of .NET 5.

Binaries in `VSIXTest.zip/cpptools-osx.vsix/extension/debugAdapters/lldb` are only used for macOS High Sierra and lower. We do not plan on runtime hardening these binaries.

We will investigate ad

[2020-10-29 22:47] sean-mcmanus commented on #6126
@Mingming-Git What version of the C/C++ extension are you using? Are you able to attach a debugger to cpptools before it crashes to get a callstack? Or are you able to provide repro steps that I can follow? I haven't been able to repro this crash yet.

[2020-10-29 23:24] sean-mcmanus commented on #6378
Okay, thanks. I've reproed the bug.

[2020-10-29 23:50] prateekma commented on #6350
Will you distribute a separate VSIX for macOS Mojave and higher without `VSIXTest.zip/cpptools-osx.vsix/extension/debugAdapters/lldb`? Even including the binary in the VSIX will fail notarization; Apple has no way to check if it's being used.

[2020-10-30 00:01] sean-mcmanus commented on #6378
This appears to be a bug with VS Code itself and not our extension. See the screenshot:
![image](https://user-images.githubusercontent.com/19859882/97644541-d5438f80-1a07-11eb-8331-0765bf31106a.png)

VS Code is sending us a range that encompasses the whole file (at https://github.com/microsoft/vscode-cpptools/blob/release/Extension/src/LanguageServer/Providers/documentRangeFormattingEditProvider.t

[2020-10-30 00:27] WardenGnaw commented on #6350
Installing using the vsix from the market place will only download the correct version to use.

This is based on `"versionRegex": "10\\.(1[0-3]|[0-9])(\\..*)*$"`

See:
https://github.com/microsoft/vscode-cpptools/blob/3dd3e8857f1b0a9093757901978a4900505d8fa3/Extension/package.json#L2633-L2660

[2020-10-30 00:29] ThadHouse commented on #6350
We're depending on the vsix from the releases page, not the marketplace. So that doesn't help.

[2020-10-30 00:30] sean-mcmanus commented on #6403
@Colengms I think we wanted to override editor.gotoLocation, but we never followed up on that to investigate what the best user experience would be.

[2020-10-30 00:38] WardenGnaw commented on #6350
I could not find an official documentation about the end of life for High Sierra, but it is guessed to be EOL at the end of November 2020.

We can potentially remove it from the package but it is also dependent on how many users are still on that OS.

[2020-10-30 00:38] ghuser404 commented on #6403
I've overridden these settings, but for some functions it still either doesn't jump to declaration, jumps to something unrelated in external code or shows references.
[code]

[2020-10-30 00:42] sean-mcmanus commented on #6412
What compiler are you using? I'm not able to get the code below to compile with gcc 10.2 or clang 11 (with -std=c++17 -fms-extensions). What code are you using that compiles?
[code]

[2020-10-30 01:02] boocs commented on #5181
I tried different hard drives.

Instead of using my UE4 projects, I went barebones with just a folder and some blank C++ files. It still happens.

I also tried a barebones user config and it still happens.
    "C_Cpp.intelliSenseCacheSize": 0,
    "C_Cpp.default.intelliSenseMode": "msvc-x64",
    "C_Cpp.intelliSenseCachePath": "k:\\\\.vscode\\\\cache\\\\default\\\\user",
    "C_Cpp.default.browse.

[2020-10-30 01:25] Victor333Huesca commented on #6412
I tried with __gcc 10__ and 9, clang gives a warning about MS extensions but still compiles. It seams to works since quite some time.
Here is an example on compiler explorer: https://godbolt.org/z/ffq5Wj
Maybe you need to compile it as **C** and not **C++**.

[2020-10-30 01:26] sean-mcmanus commented on #6412
Oops, yeah, I was using C++ instead of C.

[2020-10-30 01:36] sean-mcmanus commented on #6412
I'm using -fms-extension and gcc 10.2, but I'm reproing the bug crash or other failures. Do you have an idea what is different with my repro and/or can you provide output from C/C++: Log Diagnostics?

![image](https://user-images.githubusercontent.com/19859882/97649855-9583a480-1a15-11eb-82ee-ca909489c5db.png)

[2020-10-30 02:08] Mingming-Git commented on #6126
@sean-mcmanus I'm sorry, my vscode is offline. I can't transfer the log to here.

I use vscode ssh remote. It can't go to reference during i modify the code. And it just reports the problem when I restart vscode.
Just FYI: My code is git code, so I switch branch frequently. the problem are not exist when I just open local code by vscode.

The vscode version: 1.49.0(stable)
c/c++ intellisense exten

[2020-10-30 02:18] ipa64 commented on #2499
Thank you @sean-mcmanus
I upvoted here and on your both vsCode requests

[2020-10-30 02:51] Mingming-Git commented on #6126
@sean-mcmanus  I check the linux server and vscode has many same process. The vscode and extensions works normal when I killed all of them.

To all, FYI:
The problem of "Connection to server got closed. Server will not be restarted": maybe you can update the extension to solve it(remember to delete extension in vscode server and user/.vscode).
The problem of "The terminal process failed to launch:

[2020-10-30 05:14] emptyVoid commented on #6378
Originally I filed the bug as https://github.com/microsoft/vscode/issues/109022, though they deemed it as extention-caused.
Could you please add the info to that issue or may be open a new one.

[2020-10-30 14:30] ldarshan1991 commented on #6379
I tried the proposed solution but it didn't work.
If I used `"externalConsole": true` in `settings.json` under the launch configuration then application is not launching itself

[2020-10-30 14:35] ItsDrike commented on #6388
Oh, that's a shame since for Arch Linux and all other linux distributions based on it, the "original" VS Code editor is the `code` repository in pacman, and that is now using OpenVSX, rather than the original MS Marketplace. The reasoning behind it was to support open source more since there are some parts about VS Code editor which aren't fully open and I assume using OpenVSX in the original edit

[2020-10-30 16:41] ryanpholt opened #6417 "1.1.0-insiders3: Setup commands do not work when attaching"
See launch config:

[code]

In 1.1.0-insiders3, the "setupCommands" do not execute (only when attaching?). However, in previous versions they do. In 1.0.1, for example, if I enable engineLogging, I see:

[code]

However, in 1.1.0-insiders3, I do not see this in the logs. Running `-exec show directories` confirms that the setup command did not run.

This is a problem for me because we build with `-

[2020-10-30 17:28] sean-mcmanus commented on #6378
I asked them to reopen it.

[2020-10-30 18:12] WardenGnaw commented on #6417
Looks like in JSON we only set it for the launch case.
https://github.com/microsoft/MIEngine/blob/1b5b5e87d767e1feacebf690ad3bd6fefd2924ae/src/MICore/LaunchOptions.cs#L1889

However this is a common option between launch and attach.

@ryan-holt-1 Thank you for using insiders and filing this issue!

To workaround this issue, you can install VS Code Cpptools 1.0.1
![image](https://user-images.github

[2020-10-30 18:44] wgledbetter commented on #6368
I was having a similar issue on Fedora 32 with VSCode 1.50.1 and C/C++ 1.0.1

Cpptools was installed through vscode extension manager.

Errors:
Command 'C/C++: Reset IntelliSense Database' resulted in an error (command 'C_Cpp.ResetDatabase' not found)
Command 'C/C++: Rescan Workspace' resulted in an error (command 'C_Cpp.RescanWorkspace' not found)

A full re-install seems to have fixed it. Make s

[2020-10-30 18:51] sean-mcmanus commented on #6413
Strange, I don't repro this anymore. Maybe there was some special repro requirement.

[2020-10-30 18:51] #6413 closed, assigned to nobody

[2020-10-30 20:13] WardenGnaw commented on #6409
Thank you for reporting this issue. We’ll let you know if we need more information to investigate it

[2020-10-30 21:26] #5857 closed, assigned to nobody

[2020-10-30 21:34] bobbrow commented on #6388
We need to follow up with the VS Code team about this.

[2020-10-30 22:28] bobbrow commented on #6346
Thanks for confirming.  Yes, this should work with:

**settings (User/Workspace)**
[code]

**c_cpp_properties.json**
[code]

[2020-10-30 22:28] #6346 closed, assigned to nobody

[2020-10-30 22:34] bobbrow commented on #6399
Thank you for the request. We'll take a look and see where this would best fit in our documentation or if a new topic needs to be created.

[2020-10-30 22:46] bobbrow commented on #6340
This issue would be caused by the VS Code editor, not the C++ extension.  If you could open an issue here: https://github.com/microsoft/vscode/issues/new/choose, the right team should be able to take a look.

Thank you!

[2020-10-30 22:54] sean-mcmanus commented on #6388
@bobbrow FYI, there's another related thread at https://github.com/open-vsx/publish-extensions/issues/86 in regards to Platform.IO which has a dependency on our C/C++ extension.

[2020-10-30 22:58] bobbrow commented on #696
We could investigate this as part of #1083 which is potentially scheduled for 1.2.0.

I think what we're calling "upvotes" may be more correctly referred to as "reactions" on GitHub.  Perhaps we should update the bot to say it needs more `:+1: reactions` (assuming it will support writing markdown)

[2020-10-31 00:01] bobbrow commented on #6158
Is there anything we need to do here or can we close this?

[2020-10-31 01:37] sean-mcmanus commented on #6372
I've filed a new VS bug for this issue at https://developercommunity.visualstudio.com/content/problem/1240036/c-intellisense-for-c20-linux-gcc-mode-gives-no-sui.html .

[2020-10-31 12:07] JacquesLucke commented on #6334
I haven't had enough time to further look into this in the last couple of days. I'll close this until I've got some more information.

[2020-10-31 12:07] #6334 closed, assigned to nobody

[2020-10-31 13:24] #6173 closed, assigned to nobody

[2020-10-31 20:35] KaungZawHtet commented on #6152
+1 to this

[2020-11-01 09:08] boocs commented on #5181
More testing:

I thought it was the ${workspaceFolderBasename} variable causing the bug but I was wrong. I tried other variables and they acted the same way.

I:\\.vscode\\cache\\browse\\${config:editor.snippetSuggestions}\\user.vs.db
I:\\.vscode\\cache\\browse\\${env:USERNAME}\\user.vs.db

So I tested this:
I:\\.vscode\\cache\\browse\\test\\user.vs.db

And it doesn't work either! It acted the sam

[2020-11-01 11:30] NikhilNautiyal commented on #6113
Yes, I use a "Code Runner" extension, it's that 'play' button on top right.

[2020-11-01 15:52] ivankravets commented on #6388
Wooow! 👀   It is something new for the PlatformIO which we didn't know... It looks like we are locked and our customers as well.

If Microsoft prefers to lock others just to VSCode, we will stop using this extension. Indeed, we use only 5% of the functionality (just code completion) and the rest of PlatformIO tools and services are fully independent of VSCode and are our native implementation incl

[2020-11-01 19:10] boocs commented on #5181
More info:

It always fails the first time on the last sub directory + filename.

So if I use this:
`I:\\1\\2\\3\\4\\5\\6\\7\\8\\9\\0\\USER.VS.DB`

Only this is created the first time:
`I:\\1\\2\\3\\4\\5\\6\\7\\8\\9`

If I use this:
`I:\\1\\2\\3\\4\\5\\USER.VS.DB`

Only this is created the first time:
`I:\\1\\2\\3\\4`

[2020-11-01 20:22] CrossR commented on #6388
It may be possible to do something like the MS C# plugin.

tl;dr someone forked the repo and released an extension without the proprietary parts https://github.com/muhammadsammy/free-omnisharp-vscode, such that it could be published on OpenVSX.

Of course, for that to happen the license here would need to be clarified as to what is MIT licensed and what is not, to ensure any forked ext fits with t

[2020-11-02 03:09] Sunbreak commented on #5968
Our team are evaluating Flutter for Windows. Debug through the Dart part is quite a pleasure. Looking forward to debug C++ part as well.

Thumbed up

[2020-11-02 07:14] zengming00 commented on #6090
I found a solution, change the output of 'uname -m'
[code]
Create file  `/usr/bin/uname`, and the content is:
[code]
Set executable permissions
[code]

---

If use js code to detect hardware, it should be more reliable than `uname -m`
[code]

[2020-11-02 08:38] Victor333Huesca commented on #6412
Mhh, looks like I did a bit too far in my intention to reduce to the minimal sample.
After some more investigation I thing I got the actual problem. The type deduction for S1 does work with fully qualified type (`struct S1`) but fails when using a typedef. Here is an illustration (https://godbolt.org/z/ePd9cd):
[code]

The absence of `struct` when declaring the anonymous S1_t somehow disturb the p

[2020-11-02 09:41] irfan-hossain-bhuiyan commented on #6409
I want to know is this problem is occuring only in my computer or it is a bug.

[2020-11-02 11:24] JessyDL opened #6422 "Debugger: natvis breaks when using enum class template argument types"
Type: Debugger

**Describe the bug**

Debugger does not display custom natvis visualizer when any of the template type arguments is an enum class. This does not happen in Visual Studio (showcasing the natvis itself is working), but does in VSCode.

- OS and Version: Windows_NT x64 10.0.19041 (using WSL2 Linux x64 4.4.0-19041-Microsoft)
- VS Code Version: Code 1.50.1 (d2e414d, 2020-10-13T15:06:15.7

[2020-11-02 12:58] frenchiveruti opened #6423 "Debbuger doesn't change local variables to it's actual value."
Issue Type: <b>Bug</b>

Given that images speak for a 1000 words.
![imagen](https://user-images.githubusercontent.com/1095997/97870401-d841c700-1d0a-11eb-80ab-52f6d8dcfdf8.png)
![imagen](https://user-images.githubusercontent.com/1095997/97870459-ea236a00-1d0a-11eb-9891-c2698ebba06a.png)
![imagen](https://user-images.githubusercontent.com/1095997/97870476-ee4f8780-1d0a-11eb-9799-8e1ee89e74ba.png)

[2020-11-02 14:45] psclkhoury opened #6424 "Missing include path caused cpptools-srv to grow to 5.5G. Only 400MB needed after missing path was added."
**Type: LanguageService**

Intellisense is not working in a certain file. I don't know the cause yet so I am not able to make a simple repro.

I see in the logging
[code]

In the extension host logging, I see
[code]

But I get this message when opening most files so I dont think this is the cause.

Is there a way that I can get more info/logging on what is causing it to fail?

Extension Version 1.

[2020-11-02 15:12] frenchiveruti commented on #6423
Here's the code if you want to check it out.
[proyecto3.zip](https://github.com/microsoft/vscode-cpptools/files/5475984/proyecto3.zip)

[2020-11-02 16:36] robotdad commented on #6388
I'm unfamiliar with the issues here around the license. I'll do some research and report back.

[2020-11-02 16:52] hunyadi-dev commented on #1503
I am looking for something similar as well :(

[2020-11-02 18:20] WardenGnaw commented on #6423
Can you enable logs and share the output up till you reach the `if (m < z)`.
[code]

[2020-11-02 19:40] weisun76 commented on #6417
Hi WardenGnaw,

I met the same issue. When I tried to downgrade C/C++ to 1.01, it always automatically upgrade it after reloading. Anyway, hope you can fix this issue soon.

Regards,
Wei

[2020-11-02 20:10] sean-mcmanus commented on #5181
Hmm, I'm still not reproing this bug. I don't see what could be causing the bug via code review either.
![image](https://user-images.githubusercontent.com/19859882/97914034-1687b800-1d04-11eb-935c-1a3c5bdcf8cb.png)

[2020-11-02 20:27] #6422 closed, assigned to nobody

[2020-11-02 20:36] frenchiveruti commented on #6423
You forgot to tell me where do I edit this line or where do I find this engineLogging parameter.

[2020-11-02 20:38] sean-mcmanus commented on #6424
Can you attach a debugger to cpptools-srv.exe to get a crash call stack (see https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv ). Info from C/C++: Log Diagnostics might also help.

[2020-11-02 20:46] WardenGnaw commented on #6423
This will be in your `launch.json`.

[2020-11-02 20:55] sean-mcmanus commented on #6388
I believe the primary reason for the license restriction was due to the cppvsdbg debugger on Windows/cl.exe, which isn't applicable to Linux anyway (see https://github.com/microsoft/vscode-cpptools/blob/master/RuntimeLicenses/vsdbg-LICENSE.txt ). We were considering loosening the license restriction for Linux ARM/ARM64, but then VS Code published a release for ARM/ARM64 so then we didn't see a rea

[2020-11-02 20:59] sean-mcmanus commented on #6417
You need to set the extensions.autoUpdate to false or C_Cpp.updateChannel to "Default".

[2020-11-02 21:13] frenchiveruti commented on #6423
Hi, this is my actual launch.json:
[code]

[2020-11-02 21:13] frenchiveruti commented on #6423
~~Where do I add it? Anywhere?~~

[2020-11-02 21:19] frenchiveruti commented on #6423
[Log output.txt](https://github.com/microsoft/vscode-cpptools/files/5478089/Log.output.txt)
Is this it? I think I did it

[2020-11-02 21:36] WardenGnaw commented on #6423
From the logs, you are using GDB 7.6.1 and it is reporting at line 118 the values of:
 `x` is `5`
`y` is `4`
`z` is `8`
`m` is `0`

Related logs:
[code]

This would be a bug on GDB since the VS Code C++ extension is just an adapter to communicate with GDB with the extension.
I would recommend upgrading the version of GDB used.

I did a quick test with your project with GDB 8.1 and the `m = y` seem

[2020-11-02 21:39] pespinho opened #6426 "Disable Error Squiggles for specific files."
**Type: LanguageService**

**Expected behavior**

It would be nice to have an option for disabling the error squiggles for specific files in the workspace.
Something like a gitignore file, but for error squiggles.

Use case: I have an arduino file in workspace that is not part of the main code in workspace. For this file it is nice to have the c/c++ highlights, but the squiggles are annoying.

[2020-11-02 21:40] pespinho opened #6427 "Option to disable the error squiggles for specific files in the workspace"
**Type: LanguageService**

**Expected behavior**

It would be nice to have an option for disabling the error squiggles for specific files in the workspace.
Something like a gitignore file, but for error squiggles.

Use case: I have an arduino file in workspace that is not part of the main code in workspace. For this file it is nice to have the c/c++ highlights, but the squiggles are annoying.

[2020-11-02 21:47] sean-mcmanus commented on #6426
We're tracking this with https://github.com/microsoft/vscode-cpptools/issues/1231 .

[2020-11-02 21:47] #6426 closed, assigned to nobody

[2020-11-02 21:47] sean-mcmanus commented on #6427
We're tracking this with https://github.com/microsoft/vscode-cpptools/issues/1231 .

[2020-11-02 21:47] #6427 closed, assigned to nobody

[2020-11-02 23:34] gerzarko opened #6428 "Bug for not showing syntax errors"
Issue Type: <b>Bug</b>

the ide do not show the syntax error writted on porpouse for the errors in C language, I tried to disable and enable a lot of things and follow differents solutions that are in the web and in the vscode website.

Extension version: 1.1.0-insiders3
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T14:53:05.704Z)
OS version: Darwin x64 19.6.0

[2020-11-02 23:43] frenchiveruti commented on #6423
Alright, I wish my college gave me a better understanding on how the hell does GDB work and how to make it run **properly** on windows.
Sadly they prefer the "Just use Linux" mantra and the "use linux or bye bye"
I am stuck with an unknown issue. You can close this thread because it seems has nothing to do with VS.Code
And you're right, I tried with GDB on a shell and it also has a problem on that

[2020-11-02 23:53] sean-mcmanus commented on #6428
Does your code give errors with your compiler or only warnings? We only support showing squiggles for errors currently.

[2020-11-02 23:54] frenchiveruti commented on #6423
Hi, sorry to go off the topic but you may be able to help me with this one @WardenGnaw . I used MinGW and the installed version I have is indeed 7.6.1-1 but I don't have a newer version available to be installed, how can I find the source of my issue?

[2020-11-02 23:57] sean-mcmanus commented on #6423
@frenchiveruti Maybe see http://mingw-w64.org/doku.php/download ?

[2020-11-02 23:58] sean-mcmanus commented on #6423
Or https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/installer/mingw-w64-install.exe/download

[2020-11-02 23:59] WardenGnaw commented on #6423
If you are interested sticking with Windows, we recommend installing this version of [MinGW](https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/installer/mingw-w64-install.exe/download) mentioned in our [docs](https://code.visualstudio.com/docs/cpp/config-mingw).

If you are interested in more of a Linux like scenario, you can use the C+

[2020-11-03 00:13] frenchiveruti commented on #6423
Thank you both, I'll close this and try to solve the issue on my end.
You both have been very helpful!
Have a nice day :D

[2020-11-03 00:13] #6423 closed, assigned to nobody

[2020-11-03 03:23] frenchiveruti commented on #6423
I ended up following this: https://code.visualstudio.com/docs/cpp/config-wsl
Great documentation, very easy to follow and it just works fine.

[2020-11-03 04:01] baiwfg2 opened #6430 "show matching bracket line on the top when cursor placed beside a bracket"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version: 1.46
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including information about the workspace (i.e. is the

[2020-11-03 04:55] sean-mcmanus commented on #6412
I've filed a bug on the crash on our shared VS parser at https://developercommunity.visualstudio.com/content/problem/1241877/c-intellisense-process-crashes-after-invoking-comp.html ; however, I'm not understanding the "no crash" repro for the
`struct S2 {
struct S1_t;
};`
case because I'm not getting code that compiles. Can you provide a full code sample that compiles?

[2020-11-03 05:06] sean-mcmanus commented on #6430
Yeah, that works in VS, but not in VS Code (it's implemented in a code layer that hasn't been ported to VS Code). See https://devblogs.microsoft.com/cppblog/c-productivity-improvements-in-visual-studio-2019-preview-2/#QuickInfoClosingBrace.

[2020-11-03 08:58] psclkhoury commented on #6424
Here is the callstack:

[code]

I also saw this in the debug console, looks related:

[code]

[2020-11-03 09:53] ldarshan1991 opened #6431 "Compound configuration with two C applications; sometimes doesn't launch both application"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.1.0-insider3
- Other extensions you installed (and if the issue persists after disabling them): Bookmarks, ccls, GitHub pull request and issue, Gitlens, macros, meld diff, numbered bookmark, python, scope4code, text marker, todo tree, yangster.
- A clear and concise description

[2020-11-03 09:56] Victor333Huesca commented on #6412
_Tanks for the feedback!_
Indeed the struct with typename does not compile, Monday morning sorry :p
Still the issue with using the typename as anonymous member that compiles but confuses the VS parser. Hopefully we will get feedback on your bug report.

[2020-11-03 10:54] boocs commented on #5181
I tested the setting with the rest of the settings files: Workspace, Folder, and Language and the bug happens with all of them.

**I tried the zip version of VSCode Insiders and the bug is gone**.

Not sure what that means though.

[2020-11-03 11:48] ivankravets commented on #6388
@sean-mcmanus thanks for the explanation! I see that @bobbrow already told the legal team (https://github.com/microsoft/vscode-cpptools/issues/5980#issuecomment-697685314):

![Screen Shot 2020-11-03 at 13 46 03](https://user-images.githubusercontent.com/1760209/97981515-15758a00-1ddb-11eb-94bb-87de6295c2ef.png)

Is it possible to split this extension into 2 parts: debugging (where we have a licens

[2020-11-03 15:56] 544892012 opened #6433 "Semantic prompt failed"
Type: Debugger

**Describe the bug**
- OS and Version: windows x64
- VS Code Version: 1.50.1
- C/C++ Extension Version: 1.0.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
Steps to reproduce the behavior:

Semantic prompt sudde

[2020-11-03 16:03] gerzarko commented on #6428
It give errors with the compiler, but when I have a syntax error it don't show it. And this is happening not only with the languages you have to compile all at once (C), it happens to with my python code too.

[2020-11-03 18:02] sean-mcmanus commented on #5165
I'm not reproing this bug anymore (with 1.0.1).

[2020-11-03 18:02] #5165 closed, assigned to nobody

[2020-11-03 18:06] sean-mcmanus commented on #6378
Looks like they fixed the bug in VS Code Insiders...might have to wait till tomorrow's build (not sure).

[2020-11-03 18:06] #6378 closed, assigned to nobody

[2020-11-03 18:26] sean-mcmanus commented on #6433
We need more repro info. I'm not able to repro the bug with code
[code]
Do you have a code sample that repros the bug, along with settings (like the OS, compiler, cppStandard, etc.)?

[2020-11-03 18:37] sean-mcmanus commented on #6428
The Python issue would have to be caused by another extension because our C/C++ extension doesn't provide Python language errors.

Does `int i&;` give an error? Is your C_Cpp.errorSquiggles setting set to "Disabled"? Otherwise, can you give a code example that doesn't show an error?

[2020-11-03 19:23] michelleangela commented on #5753
Can no longer reproduce issue (see screenshot of result from repro steps). Closing as resolved.

Did a find all references on a symbol from a file in **folder_1**, and results also included symbols from file in **folder_2**.
![image](https://user-images.githubusercontent.com/38734287/98030990-b279f800-1dc6-11eb-88a0-2036ac9e0b49.png)

[2020-11-03 19:23] #5753 closed, assigned to michelleangela

[2020-11-03 19:36] michelleangela commented on #6158
Closing as issue was addressed.

[2020-11-03 19:36] #6158 closed, assigned to nobody

[2020-11-03 19:58] boocs commented on #5181
More:

If I go back to the original VSCode version and use --user-data-dir, to specify a new user data dir, the bug is still there.

All extensions disabled except the one.

Also tried a new --extensions-dir

[2020-11-03 20:46] sean-mcmanus commented on #6424
Thanks for the call stack. We've been able to locate the line of code that is crashing.

[2020-11-03 21:20] Muph0 opened #6434 "Update clang-format to 12"
Type: General

**Describe the bug**
- OS and Version: Fedora 32
- VS Code Version:
[code]
- C/C++ Extension Version: `ms-vscode.cpptools@1.0.1`

**There already exists an issue here: https://github.com/microsoft/vscode-cpptools/issues/2887 but it has been locked, so I'm opening a new one**.
clang-format has updated to 12, but vscode still uses bundled version 10.0.0. Can you please upgrade to the

[2020-11-03 21:31] sean-mcmanus commented on #6424
Actually, it looks like we identified a different null reference but this is a bad_alloc, which I don't see the cause for. Do you have any more repro details in regards to what is special about that particular file, such as any particular file encoding?

[2020-11-03 21:35] bobbrow commented on #6388
@ivankravets, For what it's worth, this is not a policy change.  It has always been this way.  We have been very clear that we don't support forks of VS Code like VS Codium, headmelted, etc because we are not licensed to run with those editors.  The surprise for us (cpptools) was that Arch had its own fork of VS Code and was previously violating VS Code's license by linking directly to the Microso

[2020-11-03 22:07] sean-mcmanus commented on #5181
Yeah, I repro the bug with 1.0.1 now -- it appears to be fixed with 1.1.0-insiders3. Our plan is to release 1.1.0 on Thursday unless we hit some unexpected delay.

[2020-11-03 22:33] sean-mcmanus commented on #6434
LLVM 12 isn't released yet, right? We were planning to update to clang-format 11 in 1.2 possibly.

[2020-11-03 22:39] #6375 closed, assigned to elahehrashedi

[2020-11-04 00:06] sean-mcmanus opened #6436 "Add localization to strings in LanguageServer\cppBuildTaskProvider.ts"
I see several user facing strings that aren't localized, for example:
1. "compiler: "
2. "Generated task by Debugger".
3. "Starting build..."
4. "Build finished with error".
5. "Build finished successfully"

Not sure if " build active file" can be localized (it's possible it may intentionally be in English due to technical reasons, in which case a comment should be added).

[2020-11-04 00:18] #6376 closed, assigned to elahehrashedi

[2020-11-04 02:26] sean-mcmanus commented on #5287
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders4

[2020-11-04 02:27] sean-mcmanus commented on #6383
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders4

[2020-11-04 02:27] #6391 closed, assigned to nobody

[2020-11-04 02:27] #6394 closed, assigned to nobody

[2020-11-04 02:27] #6397 closed, assigned to nobody

[2020-11-04 02:29] sean-mcmanus commented on #6411
@Luka234 Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders4 .

[2020-11-04 02:29] #6411 closed, assigned to WardenGnaw

[2020-11-04 02:29] sean-mcmanus commented on #6417
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.0-insiders4

[2020-11-04 02:29] #6417 closed, assigned to WardenGnaw

[2020-11-04 05:01] andrewleech commented on #6411
I had this same issue in 1.1.0-insiders3 and can confirm that it's resolved for me in 1.1.0-insiders4

[2020-11-04 05:03] #6365 closed, assigned to nobody

[2020-11-04 05:22] fabriciofx commented on #5678
@sean-mcmanus @dangerousHobo Just to report, I figure out what was causing this problem. As @sean-mcmanus have said, the problem is due the filesystem. My home dir is mounted in an Windows 10 NTFS filesystem, which WSL mount and use as 9p (Plan9) filesystem. After I moved my home dir to a ext4 partition, the problem vanished. So, I'll close this issue.

[2020-11-04 05:22] #5678 closed, assigned to nobody

[2020-11-04 10:51] JANMAY007 opened #6437 "Run Button not available"
Issue Type: <b>Feature Request</b>

In my c/c++ code file I am not able to find the run button and if I use ahortcut then it saya that .json file have some problem of MiDefaultPath is wrong but I have not made any changes then how does it gone wrong?
How to make button visible back?

Extension version: 1.1.0-insiders4
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-

[2020-11-04 11:30] malyjak opened #6438 "[C - Windows (cl)] VS Code integrated debug console is not working properly for I/O"
While debugging C program on Windows 10 with `"externalConsole": false` set in `launch.json` all output must be finished with `fflush(stdout)` even when containing '\n' character in the end of `printf` function. Otherwise, the output is shown in the debug console only after program terminates. For input the problem is even worse. Using for example `fgets` function, the console will wait for input.

[2020-11-04 11:32] psclkhoury commented on #6424
@sean-mcmanus Most of the files are `ASCII text, with CRLF line terminators` and `ANSI (Windows-1252)` encoding on Windows.

[2020-11-04 11:53] ivankravets commented on #6388
@bobbrow Thanks for the details!

From a business point of view, Microsoft did everything correctly. Nevertheless, VSCode is still a community project and would be good if Microsoft respects it. Over [1,000 contributors...](https://github.com/microsoft/vscode/graphs/contributors)

The community needs a neutral and independent registry for the VSX packages and [Open VSX](https://open-vsx.org/) is a

[2020-11-04 12:16] JANMAY007 commented on #6437
Its MiDebuggersPath

[2020-11-04 12:17] sahin52 opened #6439 "Gives error when an empty array is declared"
char line[80]={};
This line shows an error, which mustn't happen
if I write like this:
char line[80]={'a'};
it doesn't give error.
I have downloaded gcc, but I couldn't use it for debug while writing code.
OS: windows 10
VS Code: latest version 2020-11-4
Other extensions: No related extension for this problem.

[2020-11-04 17:38] bodgergely opened #6441 "c++ auto convert Dot to -> when dealing with std smart pointer types"
**Type: LanguageService**

**Steps to reproduce**
1. Type '.' after a "smart pointer" (`std::unique_ptr`/`std::shared_ptr`) variable and we see the members of the 'smart pointer' type.

**Expected behavior**
1. Type '.' after a "smart pointer" (`std::unique_ptr`/`std::shared_ptr`) variable and **show the members of the wrapped type instead of the smart pointer type**. When the member is chosen, co

[2020-11-04 18:46] WardenGnaw commented on #6438
This is by the language's design. printf writes to output buffer which is waiting to be flushed.
If no flushing occurs nothing will print until a flush is triggered which is via calling fflush or `\n`. The end of the program calls `exit()` which flushes the output buffer.

<del>I can not reproduce this issue. Can you share your project + your launch.json/tasks.json?</del>
Sorry misread the title,

[2020-11-04 19:32] Yevano commented on #1485
I was having the same problem on Linux with GCC. For me the problem was that vs code was pointed to the wrong default includes for the compiler. I think this happened because I have both GCC 9 and 10 installed with 9 being the default (the one the gcc symlink points to).

[code]

I was already aware of this, but I never thought about this potentially being a problem for vscode, especially since I

[2020-11-04 19:57] liuzqt opened #6442 "Is it possible to set priority or exclude directories when searching header files?"
**Type: LanguageService**

I'm developing a library, and I installed it to the default location in my system.

So there're two copy of header files,

- one under system default locaiton `/usr/include/`
- the other under my project dir

when I'm editing source files under my project dir, I hope it use the header files under my project instead of the header files I've installed to my system, but it

[2020-11-04 20:33] Colengms commented on #6356
@majaeger @grigorig Are you still seeing this issue with 1.1.0-insiders4 ?

[2020-11-04 20:43] grigorig commented on #6356
Yes, this fixes the problem. Thanks!

[2020-11-04 21:53] Colengms commented on #6441
Hi @bodgergely .  The C/C++ Extension currently supports this behavior.  I see that this works as expected using a simple example.

![image](https://user-images.githubusercontent.com/49173979/98171625-e3c8f580-1ea4-11eb-8c6b-6b4172f39580.gif)

Does a simple example such as this work for you?  If so, are you seeing an issue in a particular scenario?

[2020-11-04 21:59] Colengms commented on #6439
Hi @sahin52 .  I'm unable to easily reproduce this issue, in either a .c or .cpp source file, and regardless of what `cStandard` or `cppStandard` setting I use.  Can you provide more information, such as your configuration (the contents of your `c_cpp_propertiers.json`), the output of the C/C++ output channel with `"C_Cpp.loggingLevel": "Debug"` enabled and leading up to the repro, as well as the

[2020-11-04 22:13] Colengms commented on #6424
Hi @psclkhoury A bad_alloc exception would seem to suggest running out of memory.  cpptools-srv.exe is currently a 32-bit process on Windows.  Do you see it grow to ~4G as this occurs?

[2020-11-04 23:46] Colengms commented on #2519
I believe this has been addressed by a combination of fixes since this issue was reported, such as using a more recent build of clang-format.  I'm no longer able to repro.

[2020-11-04 23:46] #2519 closed, assigned to nobody

[2020-11-05 00:09] Colengms commented on #6237
The colon character is used to delimit paths in includePath, similarly to how paths are delimited in the environment PATH (i.e. in `echo $PATH`) on both Linux and Mac (whereas a semi-colon is used as the delimiter on Windows).  Paths with colons in them are not supported or escapable in the env path, so similarly would seem unsupportable, unless we were to remove support for delimiters in includeP

[2020-11-05 00:32] Colengms commented on #3231
I believe this issue has since been address, likely in a more recent version of Cygwin.  I'm unable to repro with the latest Cygwin64 and g++ 10.2.0.  If you are still seeing an issue here, please let us know.

[2020-11-05 00:32] #3231 closed, assigned to nobody

[2020-11-05 00:47] Colengms commented on #3720
Hi @hsmyers .  Are you still seeing this issue?  Recent versions of MinGW appear to return Windows style paths.  I'm not able to easily repro an issue finding sys/time.h using recent versions of the C/C++ Extension and MinGW.

[2020-11-05 00:53] Colengms commented on #3815
Since docs are available (and no longer new), and the $msCompile problem matcher is part of VS Code, this would seem to not be an issue specific to the C/C++ Extension.  If there is something here specific to the C/C++ Extension, please let us know, and we can reactivate or open a more specific bug.

[2020-11-05 00:53] #3815 closed, assigned to nobody

[2020-11-05 01:04] Colengms commented on #4369
@sean-mcmanus Is this issue still valid?  I see the same behavior with regards to the FAR results when I issue a Rename while it's in progress, as I see when just cancelling the FAR request.

[2020-11-05 01:09] Colengms commented on #4732
This issue was labeled as a 'question' and appears to have been answered.  If there is something more here, please let us know.  :)

[2020-11-05 01:09] #4732 closed, assigned to nobody

[2020-11-05 01:11] Colengms commented on #4757
This issue was labeled as a 'question' and appears to have been answered. If there is something more here, please let us know. :)

[2020-11-05 01:11] #4757 closed, assigned to nobody

[2020-11-05 01:25] Colengms commented on #4840
Hi @slootmat , are you still seeing an issue mentioned here?

I believe we used to fail to probe MinGW if it's path was not also set in the environment path.  We worked around this internally, and recent versions of the extension should probe MinGW properly without requiring a work around.

If there is a remaining issue here you are still seeing, could you clarify with an example?

[2020-11-05 01:36] Colengms commented on #5052
Hi @mgaudet .  Are you still seeing this issue?  Some improvements have been made since you originally opened this issue.  Also, we now log the path associated with the fileChanges message.

[2020-11-05 01:40] Colengms commented on #5113
@gentooise Are you still seeing this issue?  Some improvements have been made since you opened the issue.  Using the latest version (currently 1.1.0-insiders4), there should be more detail in the log regarding compiler probing and configuration.

[2020-11-05 02:04] Colengms commented on #5777
I believe this has been addressed by recent work to add logging around compiler probing.  If we fail to probe the compiler with the requested language standard, we downgrade, or fall back to the default.  If any changes are made to the language standard, messages are output to the C/C++ Configuration Warnings channel.  Closing this as fixed.

[2020-11-05 02:04] #5777 closed, assigned to nobody

[2020-11-05 02:07] Colengms commented on #5893
I believe this has been addressed by recent work to add logging around compiler probing. The compiler probe command line is logged.  If we fail to probe the compiler, messages are output to the C/C++ Configuration Warnings channel. Closing this as fixed.

[2020-11-05 02:07] #5893 closed, assigned to nobody

[2020-11-05 02:11] Colengms commented on #5940
Hi @DBJDBJ Are you still seeing this issue?  With a recent build of the extension (1.1.0-insiders4), and having set cppStandard to either c++17 or c++20, I'm no longer able to repro the issue.

[2020-11-05 02:14] JewinH commented on #1211
any news?

[2020-11-05 02:28] Colengms commented on #6012
Hi @yihuajack .  Your VS 2019 log diagnostics file indicates it's actually using clang-cl, not VS 2019, due to the file receiving a configuration from CMake Tools.  Your log titled ""Log.Diagnostics.CMake.CMake.Tools.Disabled.txt" does not appear to have CMake Tools disabled.  It is still configured to be used, and clang-cl was used.  Perhaps check if the setting, "C_Cpp.defaults.configurationProv

[2020-11-05 02:35] Colengms commented on #6042
Hi @amosran . You could install LLVM 12 on your system.  If clang-format is in the env path, and newer than our bundled version, we should use it instead.  Or, you could specify it using the `C_Cpp.clang_format_path` setting.

We are tracking upgrading the bundled version of clang-format using https://github.com/microsoft/vscode-cpptools/issues/6434 .  Closing this one.

[2020-11-05 02:35] #6042 closed, assigned to nobody

[2020-11-05 03:01] weisun76 commented on #6417
Hi Sean,

Thank you so much!

I tested and confirmed it works. VSCode is really a great software and it
helps us a lot.

Best regards,
Wei

On Tue, Nov 3, 2020 at 8:29 PM Sean McManus <notifications@github.com>
wrote:

[2020-11-05 03:28] hsmyers commented on #3720
It has been so long that I no longer remember the details. I also have
moved on to other toolchains—vscode with wsl2, where everything works as
expected… You may as well close the issue!

--hsm

On Wed, Nov 4, 2020 at 5:48 PM Colen Garoutte-Carson <
notifications@github.com> wrote:

[2020-11-05 08:48] psclkhoury commented on #6424
@Colengms  After updating to `Version 1.1.0-insiders4: November 3, 2020` of the extension, I started having the same issue in another file and not in the previous file anymore.

I get the exception at around 3GB:
![image](https://user-images.githubusercontent.com/9846892/98217768-3bba3780-1f4b-11eb-8f63-e0391529220b.png)

[2020-11-05 09:31] DBJDBJ commented on #5940
@Colengms sorry but we have moved away from MinGW. I trust you have tested and this now works correctly.

Alas, we are now experiencing IntelliSense issues while using clang-cl.exe ... But that is also endemic to VStudio, too. If time I will detail another issue.

[2020-11-05 09:31] #5940 closed, assigned to Colengms

[2020-11-05 09:34] ShiquanYu opened #6443 "Show wrong color on code block and can't autocomplete"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 16.04
- VS Code Version: 1.48
- C/C++ Extension Version: 1.01
- Other extensions you installed (and if the issue persists after disabling them): vscode-icon
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including information about

[2020-11-05 09:35] beachstrider commented on #5521
Thanks Rob, your solution is really straightforward and useful.

[2020-11-05 11:21] denis-shienkov opened #6444 "Add 'is_compiler_supported' to cpptools API"
**Type: LanguageService**

We are create an own extension to support the [QBS build system](https://github.com/denis-shienkov/vscode-qbs).
(it is something like [cmake-tools extension](https://github.com/microsoft/vscode-cmake-tools)).

**Describe the bug**

- OS and Version: Windows 10
- VS Code Version: 1.51
- C/C++ Extension Version: v1.1.0-insiders4

We are use the custom `cpt.CustomConfigurat

[2020-11-05 11:30] Rigel-Alves commented on #6237
Thanks @Colengms for your reply, but the problem is that it was working before, around 1 year ago. Then VS Code's behavior changed and it stopped working (see above).

[2020-11-05 11:32] vratzrover3 opened #6445 "The term 'nameofmyfile' is not recogonized as name of cmdlet, function, script file, or operable program."
![WhatsApp Image 2020-11-05 at 4 29 19 PM](https://user-images.githubusercontent.com/73995581/98235675-26afc980-1f88-11eb-9ff8-ccc9cde35be6.jpeg)
I have tried running VS Code as Administrator but hasn't worked for me. I have downloaded the latest versions of MinGW and VS Code. I have also pasted the bin folder of MinGW in system variables, but still isn't working,

[2020-11-05 11:35] boocs commented on #5849
I've been working on an extension that helps with Intellisense speed in header files. It's pretty simple and seems to work. For header files it just changes the Intellisense mode to tag parser and for source files it changes it back to Default Intellisense  (context aware). I don't think you'd miss Context Aware Intellisense in header files. Intellisense is nearly instant in header files with the

[2020-11-05 11:39] boocs commented on #6358
Check my guide for the #defines 4.26 bug. It might be the reason.
[https://gist.github.com/boocs/31e6c2e54815b7ba6246ee20315acf96#Step-10](https://gist.github.com/boocs/31e6c2e54815b7ba6246ee20315acf96#Step-10)

[2020-11-05 11:43] julian-poidevin opened #6446 "C_Cpp.vcFormat.indent.preserveComments setting does not seems to be working"
**Type: LanguageService**

**Describe the bug**
- OS and Version: **Win 10 Family version Version 1903 (`18362.1139`)**
- VS Code Version: **`1.50.1`**
- C/C++ Extension Version: **`v1.1.0-insiders4`**
- Other extensions you installed (and if the issue persists after disabling them): **N/A**
- Does this issue involve using SSH remote to run the extension on a remote machine?: **No**
- A clear and

[2020-11-05 11:55] bodgergely commented on #6441
@Colengms First of all thanks for getting back so quickly!
You are right, the issue comes up only with unique_ptr/shared_ptr. Would be really nice to extend this functionality somehow to work with these smart pointers. Most of the time people want to actually dereference instead of accessing the member of unique_ptr/shared_ptr.
Not sure if this is doable in a clean way, but less and less people us

[2020-11-05 16:37] mgaudet commented on #5052
I haven't really noticed it as badly as I used to for sure.

[2020-11-05 16:37] bobbrow commented on #6441
We currently have the same behavior as Visual Studio for smart pointers.  Are you seeing the `->` members listed in the auto-complete list when you type a `.` (as suggested in your first comment)?  I was pretty sure we didn't do that yet.

@Colengms, @sean-mcmanus do you know if there is an issue open on Developer Community for this?  I was thinking this had been requested before.

[2020-11-05 17:10] bodgergely commented on #6441
@bobbrow Thanks for getting back.
Yes, when typing `.` I get the members of the smart pointer instead of the members of the wrapped pointer type. I understand that this is correct behaviour and in 1% of the cases you might actually want to access a member of the smart pointer type like (`.get()`). And yes, it works the same way in Visual Studio 2019 as well.

Of course defaulting `.` to show the m

[2020-11-05 17:19] Saladin1812 commented on #6358
@boocs so this is a unreal project generation bug in the UBT rather than the vscode extension I think @boocs  should this be closed ?

[2020-11-05 17:35] boocs commented on #6358
I'm not sure whose bug it is but the truth is it could be fixed rather easy with a UBT change. Should the first -include in a compile command file be blank? When researching the -include flag it did mention something special about the first -include command but I don't know.

I contacted Epic through a bug report about this twice. Once with a general problem and second time with the specific reaso

[2020-11-05 18:21] Saladin1812 commented on #6358
@boocs probably they won't in 4.25 there is a patch which someone sent as a pull request to fix the defines but it never got accepted and I don't think they will update unreal 4.25 branch any more after 4.25.4. Is compile commands in 4.26 faster parsing than the 4.25 tho..

[2020-11-05 18:24] Saladin1812 commented on #6358
I will test it again and tell if this fixes it for me.. Thanks for the read me and you can also include https://gist.githubusercontent.com/ericwomer/142650e65473087073f30e5fb97fd6e8/raw/7955b060b4b8e7fcf2719630797a0de358092985/ue4_25-defines-fix.patch

This patch and apply it with...  git apply ue4_25-defines-fix.patch
Inside the unreal engine directory..
You can include this in your readme for pe

[2020-11-05 18:41] bobbrow commented on #6442
If you add the project dir location to the includePath, we will prioritize it over the recursive path:

[code]

You can also remove what you have for "browse".  The values you have would be auto-populated based on `includePath` and the default setting for `limitSymbolsToIncludedHeaders`.

[2020-11-05 18:44] boocs commented on #6358
It's a separate issue so probably not. It may help in Source files but mine has already been decently fast. At least once Intellisense loads on switching to a source file. Fire symbol on the bottom info bar is for context aware Intellisense and cylinder symbol for tag parser Intellisense.

When typing inside a function of a source file the fire symbol shouldn't come on unless you're creating a new

[2020-11-05 18:48] bobbrow commented on #6388
We agree that a clarification would help and are working with our legal team on that as well.  This is tracked by #5784

[2020-11-05 18:56] boocs commented on #6358
Does this need a full source code build to work?

[2020-11-05 19:02] bobbrow commented on #6430
This seems like a feature that VS Code should be able to do generically instead of having the languages all implement it.  Is there a feature request for VS Code to do it?

[2020-11-05 19:18] #6090 closed, assigned to nobody

[2020-11-05 19:20] Saladin1812 commented on #6358
@boocs  This should probably work in the binary version as well.. you can apply it even if you downloaded Unreal Engine as zip or tar from github You just need git installed which probably you would have installed..  As the changes in this patch are done to
/Engine/Source/Programs/UnrealBuildTool/Configuration/UEBuildModuleCPP.cs
These files are identical in the Binary version as well.. However I

[2020-11-05 19:28] bobbrow commented on #6338
Related to #3883?

[2020-11-05 19:52] sean-mcmanus commented on #3883
@Colengms The linked VS issue was marked "by design". Should this issue be closed?

[2020-11-05 19:53] sean-mcmanus commented on #6338
@bobbrow No, it's not related.

[2020-11-05 20:38] #3720 closed, assigned to nobody

[2020-11-05 20:42] Colengms commented on #6424
I believe you are seeing an out of memory issue.  Is the code involved extremely complex, such as a template library?  Or, it's possible you are repro'ing a bug that is causing memory to grow when it should not.  Either of these possibilities would relate to the code being parsed, and investigating it would require an isolated repro.  Is this code you would be willing to share, so we can investiga

[2020-11-05 20:44] Colengms commented on #6237
@Rigel-Alves The reason it started repro'ing is that we 'fixed' a bug in which the wrong path separator was used on Mac and Linux.  (We were using semi-colon, despite Linux and Mac using a colon instead).  The correct behavior you had previously seen was actually the consequence of a "bug", arguable.

[2020-11-05 20:48] sean-mcmanus commented on #6388
@bobbrow There is no legal team follow up pending in regards to https://github.com/microsoft/vscode-cpptools/issues/5784 (I was going to close that eventually). We follow the same licensing pattern as https://github.com/OmniSharp/omnisharp-vscode, e.g. it has a MIT license on the GitHub repo, but a RuntimeLicenses folder that applies to the downloaded binaries and the binaries themselves include t

[2020-11-05 20:52] Colengms commented on #3883
@sean-mcmanus The issue is definitely not by design.  Rather, Russell seems to have punted it because it's less offensive in VS (due to more frequent full parses), and has not provided sufficient guidance for us to address it.  I've followed up with multiple people, including Jim, and so far have not been unable to uncover what we are expected to do differently to cause a reparse at the right time

[2020-11-05 21:03] sean-mcmanus commented on #6424
@Colengms Maybe we could release the 64-bit Windows offline vsix for 1.1.0 for users to try if they require more memory on Windows -- that would allow us to determine if the memory usage is just "high" (i.e. "by design" with possible room for optimization) or "unbounded" (i.e. a bug).

[2020-11-05 21:04] Colengms commented on #6441
I've opened a feature request against VS here: https://developercommunity.visualstudio.com/idea/1246258/extend-dot-to-arrow-conversion-feature-to-smart-po.html
(We share common code for IntelliSense with VS)

[2020-11-05 21:05] bobbrow commented on #6388
We should put something in the root readme.md then so that it shows up on the first page.

[2020-11-05 21:25] Colengms commented on #6446
Hi @julian-poidevin .  Thanks for catching this.  This was a regression in 1.1.0-insiders4.  We had corrected the setting name, but missed an occurrence.  This should be addressed shortly as we release 1.1.0.

[2020-11-05 21:34] bodgergely commented on #6441
@Colengms This is awesome! I highly appreciate the attention I got for this. Speaks volumes of how cool VS Code community is becoming.

[2020-11-05 22:14] bobbrow commented on #5417
I think the problem is that you need to add `c:\mingw\bin` to the `environment` in your launch.json.  Binaries built with MinGW take some dependencies on the dlls in that folder, if I recall correctly.

[2020-11-05 22:16] #6089 closed, assigned to nobody

[2020-11-05 22:17] sean-mcmanus commented on #6430
@bobbrow VS Code just has generic brace matching, but obtaining the block of code associated with the `{}` requires language level lexical processing. So I don't think this can implemented generically without being buggy.

[2020-11-05 22:17] bobbrow commented on #6102
#5858

[2020-11-05 22:29] #6248 closed, assigned to nobody

[2020-11-05 22:32] Colengms commented on #6364
Since this is tracking a VS Code issue that is not specific to our extension, we're going to close this tracking issue.  Please follow up with the issue in the VS Code repo.

[2020-11-05 22:32] #6364 closed, assigned to nobody

[2020-11-05 22:38] bobbrow commented on #4782
Closing as duplicate of #1419

[2020-11-05 22:38] #4782 closed, assigned to nobody

[2020-11-05 22:40] bobbrow commented on #6395
Closing as duplicate of #5833

[2020-11-05 22:40] #6395 closed, assigned to nobody

[2020-11-05 23:41] #6125 closed, assigned to nobody

[2020-11-05 23:42] gerzarko commented on #6428
Perfect, I have a vscode error with the the json file. So I delete the file, and it works great now. Thank you and sorry for bothering.

[2020-11-05 23:44] #6428 closed, assigned to nobody

[2020-11-06 00:11] sean-mcmanus commented on #1485
@Yevano Do you have g++-10 installed? What happens if you change your compilerPath to /usr/bin/gcc-10? You shouldn't need to add system includes to your includePath. You can use the C/C++: Log Diagnostics command to get more info on the system includes that are obtained from the compilerPath.

[2020-11-06 00:14] Colengms commented on #6444
Hi @denis-shienkov .  Could you provide the following information, to help us investigate this?

* The output of the `C/C++` output channel leading up to the repro (with `"C_Cpp.loggingLevel": "Debug"` set).
* Any contents from the `C/C++ Configuration Warnings` output channel, leading up the repro.
* The output of the `Log Diagnostics` command, after the repro.

I believe if we fail to probe a co

[2020-11-06 00:21] Colengms commented on #6443
Hi @ShiquanYu .  Would you be able to provide the output of the C/C++ output channel leading up to the repro?  Or, if that is difficult to capture, perhaps all contents of the C/C++ output channel after the repro occurs?  Also, after the repro occurs, can you provide the output of the `Log Diagnostics` command (if it works)?

I suspect there is a crash occurring, at which point auto-complete (and

[2020-11-06 00:27] heartacker commented on #557
FYI![Screenshot_2020-11-06-08-25-43-271_GitHub.png](https://user-images.githubusercontent.com/1876302/98311252-e85aee80-2009-11eb-9496-38f0d0234a21.png)

[2020-11-06 00:31] sean-mcmanus commented on #4369
Yeah, I'm not reproing it now.

[2020-11-06 00:31] #4369 closed, assigned to nobody

[2020-11-06 00:41] sean-mcmanus commented on #6445
What is "./determine"? Does it exist? Does it run in a cmd shell?

[2020-11-06 01:08] sean-mcmanus opened #6450 "cppbuild is not registered in tasks.json after installation until a reload window occurs"
1. Install the offline or online vsix.
2. Do Configure Default Build Task.

Bug: Tasks.json squiggles on the "type": "cppbuild".

Doing a Reload Windows fixes it. No "Reload Window" prompt is shown though.

[2020-11-06 01:15] ShiquanYu commented on #6443
Hi @Colengms.
Thank you for your prompt reply, this problem almost drives me crazy.
I find a log under the path `/home/.config/Code/logs`, and i find some errors in file `renderer1.log` under the path
[code]
Is this what you call `Log Diagnostics`? if not, how can i output the `Log Diagnostics`.
Thank you vvvvvery much!

[2020-11-06 01:27] Colengms commented on #6443
Hi @ShiquanYu .  As we update the C/C++ Extension, we sometimes rely on fixes and improvements made to VS Code itself.  It looks like we now require v1.49.0 of VS Code, which is more recent than the version you have installed.  Could you upgrade to a more recent version of VS Code?  On Ubuntu, that would seem to involve installing updates.  Or, if you did not install using a package manager, you m

[2020-11-06 01:48] shirans7 opened #6451 "VSCode with WSL - Debug mode of C won't show printf commands unless using /n"
VSCode Version: 1.50.1
OS Version: Windows 10 (build 2004) with WSL enabled
When debugging a C language code with gdb there is no output showing if using the following print command:
printf("%d", i);  but using the same command with /n printf("%d\n", i) makes the output showed in the terminal.

I have created this sample code to show the differences:
![image](https://user-images.githubusercontent.

[2020-11-06 01:52] Colengms commented on #6443
Hi @ShiquanYu .  We think the error message you posted may actually not be the root cause.  It looks like we are trying to install an Insiders version that does not apply to your version of VS Code, due to an incorrect version check.  But, perhaps would not lead to an issue with the version you already had installed.

Do you see an entry for "C/C++" in the `Output` view ('View' menu -> 'Output')?

[2020-11-06 02:44] ShiquanYu commented on #6443
Hi @Colengms. Sorry for my late reply, because of the problem disappeared after i install the version 0.29.0 of cpptools and update it to 1.01, but there is also show the same error message in file `renderer1.log` .
The first time this problem occurred is the VS Code 1.50, then i remove vscode, delete the folder `.config/Code` `.cache/vscode-cpptools` `.vscode`, reboot my computer, and download th

[2020-11-06 02:46] Trass3r commented on #557
You should link to it instead of posting a screenshot: https://github.com/microsoft/vscode/issues/28025#issuecomment-722687806

[2020-11-06 03:12] sean-mcmanus commented on #6450
This only repros when installing the offline vsix (or cpptools.vsix) and not when upgrading from the the marketplace.

Seems like it might not meet the bar to fix.

[2020-11-06 05:24] lch2000 commented on #2778
@pieandcakes  Sir, I need your help. I use cygwin's gdb in vscode, but i can't launch the debugger (mingw's gdb is OK). I'm sure environment variable setting is no problems.

this is the information debug console output:  (I have already used `"logging": {"engineLogging": true},`)

ERROR: Unable to start debugging. Unexpected GDB output from command "-exec-run". Error creating process /usr/bin/C:\

[2020-11-06 05:35] lch2000 commented on #2778
@pieandcakes  And it seems that I can't type into the integrated terminal when debugging (use mingw's gdb). In other words, when I control the program run to the line "scanf" or "cin", but at this time we can't type on the bottom integrated terminal. It is strange that I can type in when using external terminal. Is this because input and output console must be CMD rather than powershell?

[2020-11-06 06:43] GitMensch commented on #6364
I agree that this is mainly an upstream bug. Do you see any possibility that the upstream issue may be tackled this year? It effects every extension that use localization in its package.json.

The workaround for the bug (which possibly should be applied here - and then it would be reasonable to keep it open) would be to temporarily remove the translation from this extensions package.json.

... and

[2020-11-06 06:51] julian-poidevin commented on #6446
Sorry I did close the issue supposing this was already fixed. Is it ? Which version can I use that does not have the bug ?

[2020-11-06 08:43] denis-shienkov commented on #6444
Hi, @Colengms , many thanks for your quick answer, so:

1) `C/C++` channel output:

[code]

2) `C/C++ Configuration warnings` output:

[code]
3) `Log Diagnostics` output:

[code]

[2020-11-06 09:32] aallrd commented on #4979
Hello,
I am interested in this feature as well.
My main usage for the cpptools extenstion is for the debug configurations.
I would be fine with a simple flag to disable all the IntelliSense mechanism (files discovery, parsing, caching, ...).

[2020-11-06 09:52] psclkhoury commented on #6424
@Colengms It's not very heavy in templates, but it has a lot of includes and there is a lot of files in the repo. Unfortunately I am not allowed to share the code but I will try to find a repro.

[2020-11-06 10:15] Simran-B commented on #5591
I'm also getting these messages in Output (logs of extension host).

- Version: 1.50.1 (user setup)
- Commit: d2e414d9e4239a252d1ab117bd7067f125afd80a
- Datum: 2020-10-13T15:06:15.712Z
- Electron: 9.2.1
- Chrome: 83.0.4103.122
- Node.js: 12.14.1
- V8: 8.3.110.13-electron.0
- Betriebssystem: Windows_NT x64 10.0.19041

While trying to debug the issue, there were also other messages about a timeout,

[2020-11-06 11:35] VinceW31 opened #6453 "Version 1.1.0 sometimes does not install cpptools binaries on Windows"
After updating C++ extension in VS code to ver 1.1.0 then Platform IO reports the following when trying to compile:
Missing binary at c:\Users\vince\.vscode\extensions\ms-vscode.cpptools-1.1.0\bin\cpptools.exe

I looked in the bin folder and the file cpptools.exe is missing.
![2020-11-06](https://user-images.githubusercontent.com/33267094/98361860-3381fb00-2024-11eb-986b-4431c094763c.png)

I reloa

[2020-11-06 11:39] manum45 opened #6454 "Parser Stuck at "reparsing the active document" for a file with lots of #define"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1809
- VS Code Version: 1.51.0
- C/C++ Extension Version: v1.1.0
- Other extensions you installed (and if the issue persists after disabling them): I installed Pylance just before the issue occurred again, not sure if it is related. After removing Pylance again it still is stuck
- Does this issue involve using SSH remote

[2020-11-06 15:20] Prehistoricman commented on #4382
![image](https://user-images.githubusercontent.com/5530868/98382707-73a4a600-2043-11eb-9ccf-6850163c0c44.png)

Same issue - I included "eax" just for demonstration. I would have thought that changing intelliSenseMode to "gcc-arm" would fix this. Intellisense is only recognising x86 registers.

[2020-11-06 16:09] MrMartin92 commented on #3204
Hi, @Colengms and sorry for the late response. I switched to bear that's why forgot about this issue.

I tested it again with version 1.1.0 and your fix #6179, which is working great by the way.

The following logs are with a `compile_commands.json` generated with bear. This is working perfectly.
[cpptools_diagnostics.log](https://github.com/microsoft/vscode-cpptools/files/5502154/cpptools_diagnos

[2020-11-06 16:20] boocs commented on #5181
Fixed with v1.1.0 on VSCode v1.51.0

[2020-11-06 16:20] #5181 closed, assigned to nobody

[2020-11-06 17:01] aallrd opened #6456 "Cannot edit variable values in the watch window (remote 'g' packet reply is too long)"
Type: Debugger

**Describe the bug**
- OS and Version: RHEL 7.6
- VS Code Version: 1.51.0 (user setup)
- C/C++ Extension Version: 1.1.0 (latest)
- Other extensions you installed (and if the issue persists after disabling them):
 - mjcrouch.perforce
 - llvm-vs-code-extensions.vscode-clangd
 - Issue persists after disabling them
- A clear and concise description of what the bug is.

I am remote debu

[2020-11-06 17:05] aallrd commented on #1025
Hello,
We also need this feature in order to be able to properly debug on Visual Studio Code as we do on Visual Studio.
I understand that there is no "set next statement" method yet in the UI, but I tried to manually issue the `-exec-jump foo.c:10` command in the Visual Studio Code debug console and it failed, is it expected?

[2020-11-06 17:30] bobbrow commented on #6430
That's fair, but I still think support should be available via a "Provider" API of some sort that we would code against.  I don't think we should do our own thing here.  VS Code aims for consistency across languages where ever possible.

[2020-11-06 17:38] ghost opened #6457 "Code Analysis (Important C6282 warnings doesn't show)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1909
- VS Code Version: 1.51.0
- C/C++ Extension Version: 1.1.0

The C6282 warnings doesn't show when I write for example `if(y=0)` instead of `if(y==0)` which they are both correct for the compiler but it is usually a mistype by the user.

Visual Studio Code:
![vscode](https://user-images.githubusercontent.com/73853380/9

[2020-11-06 17:45] bobbrow commented on #6364
If we remove translation then the commands and settings won't show the correct translations while being used in the product.  I would argue that that has priority over the explanation page in the Marketplace.

We review issues from time to time and make changes to our process periodically. This issue was more generic and didn't seem to be worth tracking here, so we decided to close it.  Most of th

[2020-11-06 17:46] bobbrow commented on #6446
Yes, we released the fix in 1.1 yesterday.

[2020-11-06 17:46] #6446 closed, assigned to Colengms

[2020-11-06 17:48] bobbrow commented on #4979
It is already possible to disable our extension's IntelliSense with the `"C_Cpp.intelliSenseEngine": "Disabled"` setting.

This request is about automatically doing that when vscode-clangd is detected.  Adding this feature would require another setting to control it and we would not likely want to have it on by default.  Since you would have to go and fiddle with a setting to enable this feature a

[2020-11-06 17:52] aallrd commented on #4979
Indeed, I actually found this setting today.  Thank you for pointing it out.

[2020-11-06 17:55] #4979 closed, assigned to nobody

[2020-11-06 18:03] Trass3r commented on #4979
I've been using
[code]
Are the other 2 redundant?

[2020-11-06 18:10] bobbrow commented on #4979
Yes.  If IntelliSense is disabled, then autocomplete and errorSquiggles settings will not be processed.

[2020-11-06 18:37] sean-mcmanus commented on #6431
@WardenGnaw I repro the bug consistently. The 1st time both apps debug. The 2nd time, one of them fails with

1: (130) LaunchOptions{"name":"gcc.exe - Build and debug active ...
1: (233) Wait for connection completion.

1: (20285) Send Event AD7MessageEvent

![image](https://user-images.githubusercontent.com/19859882/98402338-f44fac00-201b-11eb-8a05-23641e6d7156.png)

[2020-11-06 18:43] WardenGnaw commented on #6431
Can you share the engineLogs?

This can be done by adding
[code]
in your launch.json

[2020-11-06 19:10] michelleangela commented on #6453
@VinceW31 could you try uninstalling the extension (ensure that the folder for version 1.1.0 is deleted too upon uninstall) and re-installing it instead of letting it update? We've had cases when it does not update properly which we have not found a solid repro for.

[2020-11-06 19:11] sean-mcmanus opened #6458 "IntelliSense failure with arangodb"
I'm also getting these messages in Output (logs of extension host).

- Version: 1.50.1 (user setup)
- Commit: d2e414d9e4239a252d1ab117bd7067f125afd80a
- Datum: 2020-10-13T15:06:15.712Z
- Electron: 9.2.1
- Chrome: 83.0.4103.122
- Node.js: 12.14.1
- V8: 8.3.110.13-electron.0
- Betriebssystem: Windows_NT x64 10.0.19041

While trying to debug the issue, there were also other messages about a timeout,

[2020-11-06 19:13] sean-mcmanus commented on #6458
@Simran-B I'm not sure if any of those are actual errors or not (most are "expected"). Do you see a "Failed to read response from server" message in the "C/C++" output window?

[2020-11-06 19:30] sean-mcmanus commented on #6454
The "idle loop: reparsing the active" document results in a "no-op" when the IntelliSense mode is "Tag Parser", but it sounds like it's hitting a deadlock? I haven't been able to repro that yet. Can you attach a debugger to cpptools to get a call stack for the deadlocked threads? See https://github.com/microsoft/vscode-cpptools/wiki/Attaching-debugger-to-cpptools-or-cpptools%E2%80%90srv .

[2020-11-06 19:34] sean-mcmanus commented on #6454
In particular, are you saying you get no more logging after the "idle loop" logging? The parsing that it's referring to is IntelliSense parsing (which you've disabled) and there is no tag parsing expected after as a result of that log message.

[2020-11-06 19:45] azavor commented on #2974
It still does not work on C/C++ extension version 1.1.0 both for MacOS Catalina and Fedora 33 VS Code version 1.51.0, remote SSH extension 0.55.0. Only OUTLINE panel shows now text "The active editor cannot provide outline information".

[2020-11-06 19:47] sean-mcmanus commented on #4382
I think the VS issue at https://developercommunity.visualstudio.com/content/problem/778258/cc-intellisense-shows-unknown-register-name-with-a.html may need more upvotes.

[2020-11-06 20:02] sean-mcmanus commented on #6430
The provider API is the same textDocument/hover, the same as what VS uses. Were you thinking that VS Code should provide something additional?

[2020-11-06 20:09] sean-mcmanus commented on #6458
@Simran-B I'm not seeing a bug with arangodb with files under arangod > IResearch.

[2020-11-06 20:21] sean-mcmanus commented on #6457
The C6282 message is from the VS compiler and not the VS IntelliSense, which doesn't support warning level messages. We have an issue at https://github.com/microsoft/vscode-cpptools/issues/828 to track the potential of adding warning level IntelliSense messages. You can get the C6282 warning message in VS Code by adding
[code]
to your args array in your build task (if no effect occurs, make sure y

[2020-11-06 20:27] sean-mcmanus commented on #6431
@WardenGnaw I did the repro with those log settings and provided the logs at https://github.com/microsoft/vscode-cpptools/issues/6431#issuecomment-723236379 . Did you need more info/logs? The logs I provided are when the failure occurs.

[2020-11-06 20:28] WardenGnaw commented on #6431
That is not the full log since the following is not a valid launch configuration.

[2020-11-06 20:32] sean-mcmanus commented on #6453
Are you on a 32-bit Windows OS?

[2020-11-06 20:55] Tony763 commented on #6453
I have the same problem.
Windows 10 Pro x64
C/C++ ver 1.1.0
VSCode 1.51.0.
At start of VS I get message that C/C++ language server was not started.
Files are missing as well.

[2020-11-06 21:06] julorenz117 opened #6459 "High and constant CPU usage"
![Constant and High CPU usage](https://user-images.githubusercontent.com/60625130/98414759-d3de1c80-2030-11eb-8c75-958ce2300723.png)

[2020-11-06 21:07] #5761 closed, assigned to Colengms

[2020-11-06 21:07] #6112 closed, assigned to Colengms

[2020-11-06 21:08] #6105 closed, assigned to Colengms

[2020-11-06 21:08] sean-mcmanus commented on #6431
Ah, okay. Also, I was using trace instead of traceResponse.

--> E (output): {"type":"event","event":"output","body":{"category":"console","output":"1: (148) LaunchOptions{\"name\":\"App2\",\"type\":\"cppdbg\",\"request\":\"launch\",\"program\":\"c:\\\\\test2.exe\",\"args\":[],\"stopAtEntry\":false,\"cwd\":\"C:\\\\",\"environment\":[],\"externalConsole\":false,\"MIMode\":\"gdb\",\"miDebuggerPath\"

[2020-11-06 21:08] #6075 closed, assigned to Colengms

[2020-11-06 21:08] #6179 closed, assigned to Colengms

[2020-11-06 21:08] #6189 closed, assigned to Colengms

[2020-11-06 21:08] #5259 closed, assigned to Colengms

[2020-11-06 21:08] #6332 closed, assigned to Colengms

[2020-11-06 21:08] #6339 closed, assigned to Colengms

[2020-11-06 21:08] #6356 closed, assigned to Colengms

[2020-11-06 21:12] #6279 closed, assigned to nobody

[2020-11-06 21:15] sean-mcmanus commented on #6453
@Tony763 If you uninstall the C/C++ extension, restart VS code, and then reinstall the C/C++ extension does the issue repro? When I do that, my "C/C++" Output logging shows:
[code]
What do you see?

[2020-11-06 21:17] #6383 closed, assigned to nobody

[2020-11-06 21:17] #5287 closed, assigned to nobody

[2020-11-06 21:17] #6142 closed, assigned to nobody

[2020-11-06 21:17] #5817 closed, assigned to elahehrashedi

[2020-11-06 21:17] #6195 closed, assigned to elahehrashedi

[2020-11-06 21:18] #6205 closed, assigned to nobody

[2020-11-06 21:18] #6207 closed, assigned to nobody

[2020-11-06 21:18] #6138 closed, assigned to nobody

[2020-11-06 21:18] #3674 closed, assigned to elahehrashedi

[2020-11-06 21:18] #6103 closed, assigned to nobody

[2020-11-06 21:18] #6198 closed, assigned to elahehrashedi

[2020-11-06 21:18] #5270 closed, assigned to elahehrashedi

[2020-11-06 21:18] #6097 closed, assigned to nobody

[2020-11-06 21:18] #2046 closed, assigned to nobody

[2020-11-06 21:18] #5759 closed, assigned to elahehrashedi

[2020-11-06 21:18] #4786 closed, assigned to elahehrashedi

[2020-11-06 21:18] #6366 closed, assigned to elahehrashedi

[2020-11-06 21:18] #4473 closed, assigned to michelleangela

[2020-11-06 21:19] #5781 closed, assigned to elahehrashedi

[2020-11-06 21:20] #6132 closed, assigned to nobody

[2020-11-06 21:20] #5583 closed, assigned to nobody

[2020-11-06 21:23] VinceW31 commented on #6453
I did just that and deleted the folder manually. Then in platform IO I reinstalled from scratch but the new bin folder is still missing the exe file, it's missing on your github bin folder too. On 6 Nov 2020 19:11, Michelle Matias <notifications@github.com> wrote:
@VinceW31 could you try uninstalling the extension (ensure that the folder for version 1.1.0 is deleted too upon uninstall) and re-inst

[2020-11-06 21:24] VinceW31 commented on #6453
No, 64 bitOn 6 Nov 2020 20:32, Sean McManus <notifications@github.com> wrote:
Are you on a 32-bit Windows OS?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-06 21:25] VinceW31 commented on #6453
Yes, that's exactly it. Reverting to ver 101 fixes it. On 6 Nov 2020 20:56, Antonín Skala <notifications@github.com> wrote:
I have the same problem.
Windows 10 Pro x64
C/C++ ver 1.1.0
VSCode 1.51.0.
At start of VS I get message that C/C++ language server was not started.
Files are missing as well.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub,

[2020-11-06 21:29] Tony763 commented on #6453
@sean-mcmanus  I cannot locate C/C++ log
![image](https://user-images.githubusercontent.com/5598750/98416431-5db4d680-207f-11eb-8201-061bbdf14495.png)

[2020-11-06 21:31] sean-mcmanus commented on #6453
Do you see the C++ pane in the Output window after installing?

![image](https://user-images.githubusercontent.com/19859882/98416666-616f3b80-2034-11eb-8d2f-768502374a5c.png)

[2020-11-06 21:34] Tony763 commented on #6453
No, C/C++ option is missing in panel. I only get instant message about C/C++ not starting.

[2020-11-06 21:37] VinceW31 commented on #6453
After installing ver 1.1.0 the cpptools application file is not in the bin folder like it was in ver 101.  Its also missing from your own Bin folder on the Github code.

[2020-11-06 21:41] Yevano commented on #1485
Yup 🤦 I changed the compiler path as you said and that fixed it. No need to specify the include path myself.

[2020-11-06 21:44] Myzhe opened #6460 "Type and variable size indicator"
**Type: LanguageService**
I was recently exposed to an IDE which displays the size of a type (also structs and classes) or variable when hovering over the semantic object. So basically it just shows the number `sizeof(type)` would give you. It proved to be very handy when optimizing for memory usage and working with bit fields.

Here is a simple mock-up I made:
![Screenshot from 2020-11-06 22-25-5

[2020-11-06 21:48] sean-mcmanus commented on #6453
For some unknown reason, the online binaries are not getting downloaded/installed. I'm not sure yet how that would be possible or what change from https://github.com/microsoft/vscode-cpptools/pull/6448 could be causing that.

A potential workaround is to download/install the offline vsix which has the binaries preinstalled: https://github.com/microsoft/vscode-cpptools/releases/download/1.1.0/cppto

[2020-11-06 21:49] ghost commented on #6457
@sean-mcmanus These warning appear before compilation in Visual studio, I am not an expert but I don't understand how it is from the VS compiler when it appears before compilation

[2020-11-06 21:50] ipolevoy-work opened #6461 "Resolving recursive includes needs to support an "abort" when the extension is shutting down."
Type: General

Using VSCode remote extensions, the remote system is CentOS 7.8 VM.
**Seems to be happening only for files hosted on shared fs using vmhgfs-fuse
(mounted with vmhgfs-fuse on /home/admin/shared type fuse.vmhgfs-fuse (rw,relatime,user_id=0,group_id=0,allow_other))**
Noticed a number of cpptools and cpptools-srv process hanging after I gave quit the VSCode
Most of the cpptools processe

[2020-11-06 21:53] willem640 commented on #5550
Hi! I'm having this problem too, any news?

[2020-11-06 21:53] VinceW31 commented on #6453
For now Ive just reinstalled the earlier extension version 1.0.1 in VSCode and its working fine, so happy using that for now.  Good luck getting it sorted.

[2020-11-06 21:56] Tony763 commented on #6453
@sean-mcmanus  For now it is working (with vsix), if You need a future testing, ping me.

[2020-11-06 22:06] manum45 commented on #6454
Yes there is no more logging after that. Before the "idle loop" logging it seems "tag parsing file: ..." was logged for every parsed file, after that no more logging, the counter is stuck, go to definition etc only works partially.
I will try and get a call stack on Monday.

[2020-11-06 22:09] sean-mcmanus commented on #6424
This is the 1.1.0 64-bit Windows VSIX: https://download.visualstudio.microsoft.com/download/pr/17062e60-bd73-48b7-bc31-54d71ef5d48d/2895a0d0eda48a734f6575e103524c42/cpptools-win64.vsix .

If you can try that version and see what memory usage occurs that may solve your issue (or use unbounded memory). We haven't released that vsix more generally because we're not sure yet how useful it would be com

[2020-11-06 22:09] bobbrow commented on #6430
Yes. I don't know what logic they use to implement "smart select" (another scope-related feature in the editor), but I figured there must be a way to influence how it works.  And if not, then we need them to add an API for it.  When they have the data model for that, they should be able to implement this feature as well.

[2020-11-06 22:14] bobbrow commented on #6461
Is that the only thread alive, or can you share the full backtrace with all threads so we can see what else is going on?

[2020-11-06 22:15] bobbrow commented on #6461
(...and thank you for reporting this!  We've seen spurious instances of processes not shutting down and we could certainly benefit from your help getting to the bottom of this.)

[2020-11-06 22:24] Colengms commented on #3204
Hi @MrMartin92 I believe the issue is the `-MF` arg that we are not currently stripping from the compiler probe.  That argument appears to be invalid if not accompanied by the source file (which we strip out).  The command lines we used to probe the compiler are logged in the debug output.  Could you confirm that is the only arg that needs to be removed to get a successful probe of the compiler?

[2020-11-06 22:28] sean-mcmanus commented on #6457
Are you using some VS extension that gives real-time warnings? I don't see C6282 listed in the docs for cl.exe at https://docs.microsoft.com/en-us/cpp/error-messages/compiler-warnings/compiler-warnings-by-compiler-version?view=msvc-160 . What is the text of the warning?

[2020-11-06 22:29] Myzhe commented on #6460
The IDE I used was Qt Creator. I also know of other users who are currently missing such a feature in IntelliSense. Hopefully the suggestion on visualstudio.com will gain some traction.

[2020-11-06 22:35] sean-mcmanus commented on #6459
This is most likely caused by tag parsing.

See https://github.com/microsoft/vscode-cpptools/wiki/Troubleshooting-Performance-Issues#windows on ways to get more diagnostics info.

You may also be able to get more info via setting C_Cpp.loggingLevel to "Debug".

[2020-11-06 22:37] ipolevoy-work commented on #6461
After some more investigation - it looks like the problem is happening only if I exit VS Code prior to Intellisence finishing scanning and parsing all the files in my workspace (which is pretty big and it takes couple of minutes)

[2020-11-06 22:38] Link1J opened #6462 "Support C++20 non-type templates"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1909
- VS Code Version: 1.51.0
- C/C++ Extension Version: 1.1.0

Support C++20 non-type templates

**Steps to reproduce**

Code example, Compiles with MSVC 19.27 or newer and GCC 9.1 or newer and their respective C++20 flags.
[code]

**Expected behavior**

No error squiggles, and auto type deduction not reporting `<error-

[2020-11-06 22:39] ipolevoy-work commented on #6461
Here is gdb bt output with threads
[code]

[2020-11-06 22:46] ipolevoy-work commented on #6461
By the way - it seems every time I connect to the remote, intellisence is fully rescanning the workspace directory. I'm surprised that a DB with last scan results is not saved on disk?

[2020-11-06 22:51] sean-mcmanus commented on #6430
@bobbrow What are you referring to in regards to "smart select"? How is that related to this issue? I think we would just need to port the VS implementation into our hover implementation.

[2020-11-06 22:52] ghost commented on #6457
@sean-mcmanus `warning C6282: Incorrect operator: assignment of constant in Boolean context. Consider using '==' instead`

In visual Studio it appears right after I save the file and not while typing it but in VSCode it doesn't and I don't use any other extension that checks C++ code.

[2020-11-06 22:53] sahin52 commented on #6439
here is a link to the files: The problem is on simpleRaytracer.c https://drive.google.com/drive/folders/1r_0PevARwuA3ldoaq9oq-PuSOvxMoNfJ?usp=sharing
I probably have a problem on my cpp downloads. Thanks in advance. The error is on 148 and 166th rows.

[2020-11-06 22:56] bobbrow commented on #6461
If the extension is not properly shutting down, either the "clean" bit is not being set in the DB or it's "locked" to that process which results in the extension creating a new one.

Thanks for the additional stacks.  I think the issue is with Thread 9.  Thread 9 is trying to figure out how to resolve `#include` statements in a source file and this can take a long time if the workspace parsing has

[2020-11-06 23:02] sean-mcmanus commented on #6461
Also, a rescan is "by design" (i.e. the enumerate_files), which is separate from a reparse (the database recreation Bob was referring to).

I think the issue is enumerate_files doesn't have an abort and is unrelated to thread 9 (recursive includes), i.e. the bug should repro without recursive includes (shutdown is stuck on thread 2, not thread 9).

It's possible the recursive includes case could b

[2020-11-06 23:08] bobbrow commented on #6430
I didn't mean to distract you with the smart select thing.  All I was trying to get at is that as smart select (SHIFT+ALT+Right Arrow) expands its selections, one of the stopping points is matching curly braces.  So VS Code is already partitioning the source file into regions (or maybe it does it on the fly).  The fact that it does this means that they could also be doing the highlighting suggeste

[2020-11-06 23:10] bobbrow commented on #6430
In other words, the feature as requested belongs on VS Code's plate in my opinion.  The ability to supply better information to VS Code so that the feature works well would be on our plate, but it requires an API for us to provide that data.

[2020-11-06 23:15] bobbrow commented on #6461
Fair point.  I didn't consider Thread 2 because we have an abort in the tag parsing logic, but that doesn't apply at the stage it's currently in.

[2020-11-06 23:23] KaungZawHtet commented on #6460
+1 to quick type info display

[2020-11-06 23:56] ghost opened #6464 "Unable to start C/C++ language server Missing cpptools.exe"
Good Day,

I am experiencing a issue when starting VSCode the extention C/C++ IntelliSense does not start as the error refers to cpptools.exe binary is missing. I have re-installed, VSCode, PlatformIO, and C/C++ extension with no success, I have downloaded the offline installer and it also has a error as it does not find the VSCode installation I have on my machine.

Please advise for a possible r

[2020-11-06 23:57] ghost commented on #6464
![image](https://user-images.githubusercontent.com/50953663/98425073-87c8c180-209c-11eb-9a67-1c3b21943a37.png)

[2020-11-07 00:02] calgagi commented on #6451
Have you tried flushing stdout after printing?

printf writes to the output stream `stdout`, and then `stdout` waits to be flushed (so it can then be displayed in the terminal). It must be flushed to be displayed which is normally accomplished via newline characters (`\n`) since `stdout` is line-buffered.

You can also manually flush an output buffer with `fflush`.

Try adding this after your prin

[2020-11-07 00:13] sean-mcmanus commented on #6462
Thanks for reporting this. I've filed a bug with our shared VS parser at https://developercommunity.visualstudio.com/content/problem/1247486/c-intellisense-gives-squiggles-and-with-constexpr.html .

I also hit a crash at https://developercommunity.visualstudio.com/content/problem/1247485/c-intellisense-process-crashes-after-deleting-stri.html after deleting the headers...not sure if matters though

[2020-11-07 00:24] sean-mcmanus commented on #6457
Ah, that's a "code analysis" warning: https://docs.microsoft.com/en-us/cpp/code-quality/c6282?view=msvc-160 .

This isn't implemented in VS Code yet, in particular because the VS code analysis only works with cl.exe, although clang might have some equivalent functionality (I don't know if gcc has an equivalent code analysis).

We can use this issue to track that feature.

[2020-11-07 00:30] sean-mcmanus commented on #6464
We got a report from 2 other users at https://github.com/microsoft/vscode-cpptools/issues/6453 , so we'll that issue to track this. One user was able to workaround it via installing the offline vsix at https://github.com/microsoft/vscode-cpptools/releases/download/1.1.0/cpptools-win32.vsix (you're saying that didn't work?) and another downgraded to 1.0.1 (you'll need to change the extensions.autoU

[2020-11-07 00:30] #6464 closed, assigned to nobody

[2020-11-07 00:37] sean-mcmanus commented on #6430
VS Code's smart selection and brace matching is only able to handle `{}` regions. Getting the correct code region for the code before the `{` on hover requires language specific parsing.

It sounds like you're asking for additional UI in addition to the hover UI that VS supports. Adding the hover support over } that VS supports would require no VS Code APIs. If you want additional UI that appears

[2020-11-07 00:45] sean-mcmanus commented on #6430
I've filed a feature request on VS for the auto-quick info when the cursor is at } at https://developercommunity.visualstudio.com/idea/1247494/c-auto-show-quickinfo-closing-brace-info-on-brace.html .

[2020-11-07 00:48] sean-mcmanus commented on #6460
@KaungZawHtet FYI, we use the thumbs up to tracking +1 upvotes:
![image](https://user-images.githubusercontent.com/19859882/98426937-de5bde80-204f-11eb-99df-d17744a05896.png)

[2020-11-07 01:29] ShiquanYu commented on #6443
Hi @Colengms . I have been testing all day, the problem seem to have been fixed.

The following is how this problem happened and how it disappeared magically:

### Happend

1. I'm coding with vscode(both `c` and `python`, 4 vscode windows)
1. Use cv2.show to view images
1. The system stuck for several minute(memory is enough, maybe there is something upgrade background, now i close all autoupdate)

[2020-11-07 02:31] vratzrover3 commented on #6445
Determine is the name of my CPP File.
./determine is code to run the program

[2020-11-07 02:31] vratzrover3 commented on #6445
Determine is the name of my CPP File.
./determine is code to run the program

[2020-11-07 03:15] Saladin1812 commented on #6358
@sean-mcmanus   There is an issue now Unreal Engine 4.25 intellisense.. We fixed the defines and other stuff.. But now its showing error on include CoreMinimal.h

cannot open source file "sys/sysctl.h" (dependency of "CoreMinimal.h")
CoreMinimal.h needs sys/sysctl.h    Is there something that needs to provide this can you confirm ?

[2020-11-07 03:16] Saladin1812 commented on #6358
Cannot open source file "sys/sysctl.h"  means it is expecting to find this file somewhere.. Can someone investigate this..

[2020-11-07 05:32] benchLi commented on #6453
It works!

[2020-11-07 07:14] Saladin1812 commented on #6358
Also if I can skip this sys/sysctl.h would be great..  Because of 1 wrong error in Unreal Include paths Vscode disables error checking in the whole cpp file

[2020-11-07 07:50] Saladin1812 commented on #6358
Oh I got the issue
/home/shuriken/Applications/UnrealEngine/Engine/Extras/ThirdPartyNotUE/SDKs/HostLinux/Linux_x64/v16_clang-9.0.1-centos7/x86_64-unknown-linux-gnu/usr/include/

This is the path I added to includePaths and it solved the issue.. The main issue is Unreal Engine uses bundled clang and VS Code uses system clang. So including this solves it as sys/sysctl.h is a part of this directory :

[2020-11-07 12:10] VinceW31 commented on #6453
No, it still does not work with VSCode and Platform IO.  The compiler refuses to start.  Ver 1.0.1 still works fine.

[2020-11-07 12:29] benchLi commented on #6453
I downloaded the file cpptools-win32,vsix, unload the old  extension, and install from VSIX command. Finally, it works.

[2020-11-07 15:00] ghost commented on #6464
Hi Sean,

Thank you for the reply, I was running the installation of the extension directly from the downloads folder after some reading I downloaded the version in your link and installed it manually in VS code; viola all is good again.

Thank you for the assistance much appreciated;

Kind Regards
Jonathan Gainsford | TACCESS – Klerksdorp | 36 Williams Street Wilkoppies | Office +27 (0) 18 474 20

[2020-11-07 16:43] malyjak commented on #6438
[io-demo.zip](https://github.com/microsoft/vscode-cpptools/files/5505112/io-demo.zip)
Exactly. If a char array contains '\n' it should be flushed by standard, but it is not in internal debugger window. I prepared some test code which should help demonstrate these issues. I also enclose some screenshots describing the problems. Please note for example how debugger variables and even highlighted deb

[2020-11-07 22:17] Host48 opened #6465 "Doxygen comment generation"
Doxygen comment generation like it works in Visual Studio with C# would be great.

[2020-11-07 22:42] sdudnic opened #6466 "Where is the documentation for C (not C++)?"
I see there is great doc for C++, but why do you name the C/C++ but talk only about C++? How to compile the C programs?

Also, is not really clear how to compile multiples files (.h, +.c ) together

[2020-11-07 23:17] timothylabounko commented on #6386
I ran into this issue as well, and I think there are several inconsistencies here, or I'm misunderstanding how to think about this.

${file} points to the active file using the full path, but ${fileDirname} in tasks.json ends up being evaluated to the root folder instead of the subfolder. This seems counter to the examples in https://code.visualstudio.com/docs/editor/variables-reference

Additiona

[2020-11-08 03:49] qcnhy opened #6467 "打开的文件实例无效。忽略文件 c:\Users\qcnhy\Documents\C\b.c 的 IntelliSense 消息。"
**Describe the bug**
- OS and Version:20180.1000
- VS Code Version:1.51.0
- C/C++ Extension Version:1.10
- Other extensions you installed (and if the issue persists after disabling them):none
- Does this issue involve using SSH remote to run the extension on a remote machine?:no
- A clear and concise description of what the bug is, including information about the workspace (i.e. is the workspace a

[2020-11-08 06:04] skyleaworlder commented on #6459
I also encounter this tough problem...

And this problem occured 3 days ago the first time on my `VS Code / "C/C++"` perhaps.

From my Debug Log, it seems that `cpptools` are stuck in the next step of `cpptools/cpptools_finishUpdateSquiggles`.

[2020-11-08 06:52] liuzqt commented on #6442
@bobbrow that solve my problem, thanks!

[2020-11-08 09:00] mrdc commented on #4418
The same issues with cpptools-srv.exe 1.1.0.3 in VS Code 1.51.0, Win 10 x64 1909:
a lot of hard page faults (system has enough free RAM), makes system unresponsive.
Hard page faults for cpptools-srv.exe are abnormally higher than for any other process in system: like 70-100 times higher value.

[2020-11-08 09:07] FerhatBingol opened #6468 "Unable to start the C/C++ language server. IntelliSense features will be disabled. Error: Error: Unable to read process.env.HOME"
Type: General

I use
- 3.6.2 as a code-server
- C/C++ 1.0.1 vscode-cpptools
- ubuntu 18.04 server (VPS)

When I install the extension first I get:

_"The C/C++ extension failed to install successfully. You will need to repair or reinstall the extension for C/C++ language features to function properly."_

When I click on REPAIR button, it gives:

_"Unable to start the C/C++ language server. Intelli

[2020-11-08 10:18] ruilvo opened #6469 "Support for the Visual Studio C++ Core Guidelines checker"
From my experience, the [Visual Studio Core Guidelines Checker ](https://devblogs.microsoft.com/cppblog/tag/cppcorecheck/) is the best static analysis tool I've seen so far.

I would love to have it on Visual Studio Code's C++ ecosystem, and I'm sure many more as well.

There is even a [description on how it can be used outside Visual Studio](https://devblogs.microsoft.com/cppblog/how-to-use-the-c

[2020-11-08 12:44] rizwankhan13 opened #6470 "IntelliSense Not working"
Unable to start the C/C++ language server. IntelliSense features will be disabled. Error: Missing binary at c:\Users\Rizwan\.vscode\extensions\ms-vscode.cpptools-1.1.0\bin\cpptools.exe

[2020-11-08 20:38] ciechowoj opened #6471 "Too many definitions to select from."
**Type: LanguageService**

**Describe the bug**
This is feature request.

The 'Go to Definitions' functionality is a priceless tool to explore the code. Usually we are interested in some specific definition and not all of them. The issue is especially painful, when doing TDD with abstract classes/interfaces and a lot of derived mock classes. Usually we care only about the real implementation and n

[2020-11-08 22:00] frenchiveruti opened #6472 "Debbuger throws error when I issue a "Step into""
- VSCode Version: 1.51.0
- OS Version: Windows 10 / Linux 4.4.0-18362-Microsoft #476-Microsoft Fri Nov 01 16:53:00 PST 2019 x86_64 GNU/Linux

I'm using this: https://code.visualstudio.com/docs/cpp/config-wsl
I'm running Debian WSL, I run VSCode using "code ." on a debian terminal.
When I try to use the debugger and DO A SINGLE STEP (the ↓ arrow on the top options) y get this error:
![imagen](https

[2020-11-09 00:08] HoangNhan105 commented on #6470
I had same problem, can't fix yet.

[2020-11-09 00:42] WardenGnaw commented on #6472
This is GDB providing you the file when you step into the printf function but since you did not build the standard library, the file path it provides is unavaliabe.

Duplicate of https://github.com/microsoft/vscode-cpptools/issues/811

[2020-11-09 00:42] #6472 closed, assigned to nobody

[2020-11-09 00:57] frenchiveruti commented on #6472
And... can I solve it? I have deadlines due to college. And I can't see if anything works.
Thanks

[2020-11-09 01:05] WardenGnaw commented on #6472
The debugger is currently stopped at `libc.so.6!_printf(const char * format)` which is in `printf.c`.

If you are looking to look at the source code for printf, you can download the sources at https://www.gnu.org/software/libc/sources.html and use `sourceFileMap` to remap to file to a local path.

[2020-11-09 01:06] frenchiveruti commented on #6472
Okay sorry but too much technical jargon, I have no idea what you're talking about.
Pity.

[2020-11-09 07:27] Biditmangal commented on #6470
I guess it is a recent problem

[2020-11-09 07:27] Biditmangal commented on #6470
I am facing this too and can't proceed further

[2020-11-09 08:20] skhrshin opened #6473 "IntelliSense for clang-cl produces incorrect error with boost::function"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro 1909
- VS Code Version: 1.51.0
- C/C++ Extension Version: 1.1.0

When I specify the path to clang-cl.exe to compilerPath property of c_cpp_properties.json, incorrect errors appear in the problems window. Using boost::function is an easy way to reproduce it.

**Steps to reproduce**

1. Make sure you have installed Clan

[2020-11-09 08:38] MrMartin92 commented on #3204
Hi @Colengms,
I can't confirm that. I removed just `-MF` and the file path for the .d file (I tested it also with the .d file path present and just removing `-MF`, no difference). And the problem still occurs.

[cpptools_diagnostics.log](https://github.com/microsoft/vscode-cpptools/files/5508973/cpptools_diagnostics.log)
[cpptools_debug.log](https://github.com/microsoft/vscode-cpptools/files/55089

[2020-11-09 08:55] MrMartin92 commented on #3204
All three files have in common, that `_AVR_IO_H_` gets checked if it is defined. If it is not defined a error (`#error "You must #include <avr/io.h> and not <avr/fuse.h> by itself."`) is generated. Could it be possible that `_AVR_IO_H_` is not defined while probing and therefore the `#error` hinders the probing?

EDIT:
I removed all `_AVR_IO_H_` checks to test my theory and indeed, now it is worki

[2020-11-09 10:16] swarnendubiswas opened #6474 "`{$workspaceRoot}\.vscode\db*` files gets created"
Type: General

I have a `.vscode` directory, I also have `c_cpp_properties.json` file configured. However, I get to see `{$workspaceRoot}\.vscode\db*` files getting created for every C/C++ project I am working with.

This did not happen a few releases earlier, I am not sure what changed or what am I doing wrong.

![Screenshot from 2020-11-09 15-38-05](https://user-images.githubusercontent.com/7343

[2020-11-09 12:23] lch2000 opened #6475 "[cppdbg] Cygwin 10.1-1: intergatedTerminal unable to take input"
@WardenGnaw I use cygwin's gdb in vscode, but I can't launch the debugger. I'm sure the environment variable setting is no problem.

This is the information debug console output: (I have already set `"logging": {"engineLogging": true}` )
_**ERROR: Unable to start debugging. Unexpected GDB output from command "-exec-run". Error creating process /usr/bin/C:\Users\Lch\Desktop\hello/c:\Users\Lch\Deskt

[2020-11-09 12:38] skyleaworlder commented on #6459
update IntelliSense time(s): 0.254
     D:\EXERICISE\CPPEXERCISE\METOCARLO\BMP.HPP
cpptools/getDocumentSymbols
cpptools/getDocumentSymbols
Database safe to open

[2020-11-09 13:02] manum45 commented on #6454
Here are the callstacks when parsing is stuck:

<details>
  <summary>Main Thread</summary>
ntdll.dll!_NtReadFile@36() (Unknown Source:0)

KernelBase.dll!ReadFile() (Unknown Source:0)
cpptools.exe!__read_nolock() (Unknown Source:0)
cpptools.exe!__read() (Unknown Source:0)
cpptools.exe!common_refill_and_read_nolock<char>() (Unknown Source:0)
cpptools.exe!__fgetc_nolock() (Unknown Source:0)
cppto

[2020-11-09 13:18] j-ulrich opened #6476 "Document customConfigurationVariables property and cpptools.activeConfigCustomVariable command"
The `c_cpp_properties.json` file supports a `customConfigurationVariables` property and the plugin provides the `cpptools.activeConfigCustomVariable` command to access those custom configuration variables for example from the `tasks.json`. This allows a flexible integration of the  C/C++ configurations with the VS Code Tasks.

However, neither the `customConfigurationVariables` property nor the re

[2020-11-09 14:38] psclkhoury commented on #6424
After trying the 64bit version, I think I know what is causing the bad alloc exception.

When I used the 64bit version, the used memory kept increasing until it reached ~5.5GB. After that, there was a logging that the extension will fallback to the tag parser for intellisense operations, and there was an include error in the problems panel.

When I fixed the missing include path by adding it to th

[2020-11-09 18:40] michelleangela commented on #6470
This seems to be a duplicate of https://github.com/microsoft/vscode-cpptools/issues/6453

[2020-11-09 18:42] michelleangela commented on #6465
This is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/5683

[2020-11-09 18:42] #6465 closed, assigned to nobody

[2020-11-09 18:45] michelleangela commented on #6358
@jatin-cbs If UnrealEngine ships with its own compiler, you can set the property "compilerPath" to that path as the C++ extension tries to get includes based off the compilerPath.

[2020-11-09 19:01] WardenGnaw commented on #6475
I just tried with `GDB Cygwin 8.3.1-1` and could not reproduce this issue.

Is it possible for you to share the full log from `"logging": {"engineLogging": true}`?

It will be interesting to see what `solib-search-path`, `environment-cd`, and `-file-exec-and-symbols` are set to.

[2020-11-09 20:18] #6442 closed, assigned to nobody

[2020-11-09 20:29] Colengms commented on #6469
Hi @ruilvo .  Thanks for suggesting this.

[2020-11-09 20:33] Colengms commented on #6443
Hi @ShiquanYu .  I'm glad to hear the issue has been addressed.  I suspect there was an issue with downloaded dependencies that failed to be fully installed.

[2020-11-09 20:33] #6443 closed, assigned to Colengms

[2020-11-09 20:37] Colengms commented on #6474
Hi @swarnendubiswas .  Is it possible you have configured the following setting?  `C_Cpp.default.browse.databaseFilename`
`{$workspaceRoot}` appears to be a typo.  It should be `${workspaceRoot}`.  I do not see this typo in our code.

[2020-11-09 20:57] Colengms commented on #6473
Hi @skhrshin .  Thanks for reporting this.  The issue also repro's in VS.  (We share common code for IntelliSense with VS).  I have opened an issue against VS here: https://developercommunity.visualstudio.com/content/problem/1248677/intellisense-error-for-boostfunction-in-clang-mode.html

[2020-11-09 21:04] Colengms opened #6478 "When querying the compiler, all input files should be stripped"
We're currently stripping out the expected (source file) input arg from the command line, but should also strip out any other input files, to avoid compiler probe failures.

[2020-11-09 21:05] Colengms commented on #3204
Hi @MrMartin92 .  As part of fix for this, we will also strip any input file arguments (any arg that refers to a file on disk, and not a continuation of the prior arg).

I'm going to move this issue to https://github.com/microsoft/vscode-cpptools/issues/6478 , and close this one as I believe the original issue has been addressed.

[2020-11-09 21:05] #3204 closed, assigned to Colengms

[2020-11-09 21:59] Colengms commented on #6468
Hi @FerhatBingol .  Thanks for reporting this.  It looks like `process.env.HOME` can potentially fail, and we should be using `os.homedir()` instead.

[2020-11-09 22:27] sean-mcmanus commented on #6453
We believe the cause of this bug is the call to "wmic os get osarchitecture" is failing.

A pending fix is at https://github.com/microsoft/vscode-cpptools/pull/6480 .

[2020-11-09 22:44] Colengms commented on #6466
Hi @sdudnic .  The C/C++ Extension supports both C and C++ files.  I think most documentation specifically for this extension should be applicable to using it with either C or C++ files.

The C/C++ Extension does not actually build/compile code.  It provides 'language services', such as features that involve navigation, error detection, colorization, etc., to provide a rich editing experience.  Wh

[2020-11-09 23:34] Colengms commented on #6444
Hi @denis-shienkov .  I think the issue here is that cpptools does not know how to query the IAR compiler for system defines and system headers, so is falling back to the base configuration.  This would happen with any compiler we don't know how to query.

Implementing support for the IAR compiler might address this issue for that compiler, but this would still be a problem for other compilers we

[2020-11-09 23:58] Colengms commented on #6439
Hi @sahin52 .  I'm not sure why I wasn't able to repro before in a C file.  Although that syntax is valid in a C++ file, it's not valid in C.  When I try to compile using MSVC, I get the following errors:

[code]
I believe you could specify just a single 0 element, and C will fill the remaining elements with 0's.

[code]

This behavior of C is specified here in:
C11 standard (ISO/IEC 9899:2011):
6

[2020-11-10 00:16] Colengms commented on #6424
Hi @psclkhoury .  To confirm, the issue with memory use was cleared up by adding an include path that was missing, and memory usage has been reduced to 400MB despite ~3800 include paths still in use?

This seems like either a leak related to resolving headers, or perhaps due to code that IntelliSense continued to parse after not finding that header, which it was possibly parsing incorrectly due to

[2020-11-10 00:34] Colengms commented on #6321
Hi @cengels .  I think we got to the bottom of this, so am closing this issue.  If there is more to discuss, let me know.  :)

[2020-11-10 00:34] #6321 closed, assigned to Colengms

[2020-11-10 00:42] illera88 commented on #1196
Can't still llvm not be used as a debugger in a Linux system?

[2020-11-10 00:50] Zhenghao-Liu commented on #6470
Rollback version 1.0.1 can solve this problem for a moment. Hope to fix this bug as soon as possible

[2020-11-10 01:09] sean-mcmanus commented on #6470
It should be fixed now with 1.1.1: https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.1.

[2020-11-10 01:09] #6470 closed, assigned to nobody

[2020-11-10 01:09] sean-mcmanus commented on #6453
It should be fixed now with 1.1.1: https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.1.

[2020-11-10 01:09] #6453 closed, assigned to nobody

[2020-11-10 01:10] sean-mcmanus commented on #6090
@zengming00 This should be fixed now with 1.1.1: https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.1. .

[2020-11-10 01:20] sean-mcmanus commented on #6464
It should be fixed now with 1.1.1: https://github.com/microsoft/vscode-cpptools/releases/tag/1.1.1.

[2020-11-10 01:25] sean-mcmanus commented on #6438
@WardenGnaw So should the "by design" label be removed. Was there another issue tracking this already?

[2020-11-10 01:31] WardenGnaw commented on #6438
Duplicate of https://github.com/microsoft/vscode-cpptools/issues/5386

[2020-11-10 01:31] #6438 closed, assigned to nobody

[2020-11-10 02:04] Colengms commented on #5429
The type we need is not yet present in @types/vscode 1.51.0.  It's expected to be in 1.52.0.

[2020-11-10 03:21] rizwankhan13 commented on #6470
Yes , it is fixed now .
Thanks !

[2020-11-10 03:44] swarnendubiswas commented on #6474
Thanks, it is a mistake in my settings. I had `"C_Cpp.default.browse.databaseFilename": "{$workspaceRoot}/.vscode/db"` in my `settings.json`. That should fix it.

[2020-11-10 03:44] #6474 closed, assigned to Colengms

[2020-11-10 05:21] lch2000 commented on #6475
@WardenGnaw Hello, this is the complete debug console output :

1: (85) LaunchOptions{"name":"g++.exe - 生成和调试活动文件","type":"cppdbg","request":"launch","logging":{"engineLogging":true},"program":"c:\\Users\\Lch\\Desktop\\hello\\hello.exe","args":[],"stopAtEntry":false,"cwd":"C:\\Users\\Lch\\Desktop\\hello","environment":[],"externalConsole":false,"MIMode":"gdb","miDebuggerPath":"D:\\cygwin\\bin\\gdb

[2020-11-10 05:26] lch2000 commented on #6475
@WardenGnaw  And I have also made a screen recording. If you need it, I will send it to your email.

[2020-11-10 05:42] lch2000 commented on #6475
@WardenGnaw It seems that gdb can't attach to the process. And the gcc/g++ which I install is just gcc/g++ core, rather than mingw gcc/g++ core. This picture is the page of cygwin's installation. But actually mingw's gdb doesn't work in my vscode too.  I'm not sure what to say is meaningful. This problem is really really annoying.

![image](https://user-images.githubusercontent.com/56639010/986324

[2020-11-10 07:53] denis-shienkov commented on #6444
Hi, @Colengms ,

Yes, because not all compilers can provide such features (as pre-defined macros && compiler include paths).

Ok, it can be a workaround. Because in our case, the our build system provides all required stuff, but not a comiler.

So, do we need to wait for this new `is_compiler_supported()` feature?

[2020-11-10 08:29] psclkhoury commented on #6424
@Colengms Yes that is correct.

I will try to come up with a self-contained example. I will post it here if I manage to do it.

[2020-11-10 08:48] VinceW31 commented on #6453
Yes, confirm that ver 1.1.1 installs, works and compiles correctly now.  Cheers guys and gals, great job!

[2020-11-10 12:29] schlopp96 opened #6483 "C++ WILL NOT Recognize "-std=c++17" Language Standards When Running Code."
**TL;DR:** Whenever I attempt to set the "language standard" to "-std=cxx1z", or "-std=c++17", the compiler does NOT seem to recognize these commands, even when set through UI, or when directly set using the JSON document. HOWEVER, if I manually add said arguments to the command-line within the terminal that is built-in to VS Code, then it runs the code correctly. Strangely this only occurs with V