[2018-08-20 23:08] nscheer commented on #1044
@pieandcakes Ok, thanks for your feedback!

[2018-08-20 23:21] pieandcakes commented on #2438
@timothyk120 you need to compile your .cpp file before you debug.  The program will be the executable that comes out after you compile it.

if you are on a mac, you can compile using `g++ -g <your .cpp files separated by space> -o <your executable name>` and then put your executable name in the `program` field.

[2018-08-21 00:14] timothyk120 commented on #2438
Thanks for the response. The debugger runs now but when I run it the debug console just outputs a bunch of stuff but doesn't actually let me debug the code.

Here is what the debug console outputs:

Warning: Debuggee TargetArchitecture not detected, assuming x86_64.
=thread-selected,id="1"
Loaded '/usr/lib/dyld'. Symbols loaded.
Loaded '/usr/lib/libc++.1.dylib'. Symbols loaded.
Loaded '/usr/lib/li

[2018-08-21 00:16] pieandcakes commented on #2438
@timothyk120 Did you change `stopAtEntry` to true or set a breakpoint? Otherwise it will run your app under a debugger. The exit with code 0 tells us that your program ram correctly.

[2018-08-21 02:00] timothyk120 commented on #2438
Thanks for the reply, I set a breakpoint and it works now. Not sure what stopAtEntry is though, is that something I should have set to true? And do I always have to set a breakpoint in order to be able to step through my code?

[2018-08-21 04:48] xLobito commented on #2433
@bobbrow

I appreciate your workaround for the bug. In fact, it's kinda annoying when you're working with a project which uses it a lot (In my case I use it quite often), so I will try to use this workaround and see how does it works.

Kind regards!

[2018-08-21 06:32] mnelissen commented on #2393
It works for me, when I enter the following into the debug console in visual studio code:
[code]
GDB prints the correct string "line", while in the GUI the obj->name stays empty.

[2018-08-21 08:08] Tanja-4732 commented on #658
+1

Please have it support _**syntax highlighting**_ inside of the Doxygen comments.
That'd be great.

:heart: VS ode

PS: Consider adding an extension-request-tag or something like that to this issue, in case you aren't interested in implementing this functionality natively.

[2018-08-21 09:45] #2431 closed, assigned to nobody

[2018-08-21 11:38] suzukajiang opened #2439 "It takes a few seconds to start reindex when i add a #include in .c files..."
vscode:  1.26.1
Cpptools: 0.18.1
Windows 7

It takes a few seconds to start reindex when i add a #include in  .c files...

[2018-08-21 15:36] bobbrow commented on #2439
Are you talking about refreshing the squiggles?  We do that on an idle timer or when the file is saved to avoid doing too much expensive work

[2018-08-21 16:35] sherryyshi opened #2440 "Relative paths in #include are not tag parsed if they are not in the browse.path"
When there is a relative path in a `#include` statement, the path does not get tag parsed unless it is listed in the browse.paths, even though its parent is listed.

For example, if we have `#include <foo\bar.h>`, where `bar.h` is inside a directory `some\include\path\foo`, and browse.path includes `some\include\path\`, `bar.h` will not be tag-parsed.

Is this expected?

[2018-08-21 16:46] bobbrow commented on #2440
I'll need a bit more info to say for sure.

* Are you excluding `foo` from tag parsing by using `some\include\path\*` (non-recursive) in the browse.path?
* Is `some\include\path` in the `${workspaceFolder}`?

[2018-08-21 16:58] sherryyshi commented on #2440
Are you excluding foo from tag parsing by using `some\include\path\*` (non-recursive) in the browse.path?
--> Yes

Is `some\include\path` in the `${workspaceFolder}`?
--> Not necessarily. But we also list `${workspaceFolder}\*` (non-recursive) in the browse.path since our workspace folder can be very large. What is the expected behavior in either case?

[2018-08-21 17:11] bobbrow commented on #2440
We tag parse everything under the workspace folder that is included by the browse.path.
For headers outside the workspace folder, we only parse them if they are included by another file.
We tag parse all source files included by the browse.path regardless of whether they are in the workspace folder or not.

I was able to reproduce your issue, and I understand the reason why the file is not picked

[2018-08-21 18:31] pieandcakes commented on #2438
@timothyk120 `stopAtEntry` will automatically stop at the first line of your `main()` method when launching. Its an option you can set if you want to start debugging at the beginning of main without setting a breakpoint.

[2018-08-21 18:31] #2438 closed, assigned to pieandcakes

[2018-08-21 18:37] btashton commented on #833
@pieandcakes can you clarify where/how I should be sending `-exec <command>`  I can reproduce this and am happy to work on it.

[2018-08-21 18:39] pieandcakes commented on #833
@btashton the `-exec <command>` option is issued in the debug console.

With the version that was release, `0.18.0`, there should be an available workaround. The change was [here](https://github.com/Microsoft/MIEngine/commit/c73b1175854e5abf128a8044d0a3963f00a0d35a), but it requires you to use a [`pipeTransport`](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/P

[2018-08-21 18:50] btashton commented on #833
Interesting.  When I run via GDB I am able to halt the processor without an issues.  But using the pause button in vscode I get this where the pause does nothing and I eventually hit another breakpoint.

[code]

[2018-08-21 18:52] pieandcakes commented on #833
@btashton

How are you halting the processor when you are using GDB?

[2018-08-21 19:46] btashton commented on #833
I send a SIGINT via ctrl-c or kill -2 The output looks like this:
[code]

[2018-08-21 20:08] pieandcakes commented on #833
@btashton right. That's what we do based on my comment. When you are using gdbserver though I don't think it goes through (but i'll have to check).

[2018-08-21 20:36] suzukajiang commented on #2439
I have opened autosave in vscode, it would be saved every second. But the refresh did't happened until about ten seconds later，and the autocompletion didn't work until the refresh finished.

[2018-08-21 20:38] btashton commented on #833
@pieandcakes I have openocd providing the gdbserver that this is connecting with.  Let me know if there is any more information I can give you that would be helpful.

[2018-08-21 20:45] bobbrow commented on #2439
autosave doesn't currently work very well with the extension because it will queue off a lot of tasks to update the squiggles and that will delay autocomplete results the larger your files get.  It's something we need to improve, but I just thought I would let you know for now.

[2018-08-21 20:56] suzukajiang commented on #2439
I've tried ctrl + s  after I finished typing, but it didn't work.  But the refresh works well when i modified the.c file except add a #include.

[2018-08-22 00:41] suzukajiang commented on #2439
I have found the reason, there is no "browse.path" in c_cpp_properties.json by default。thank you very much!!!!

[2018-08-22 01:52] LeThiHyVong commented on #658
@Bernd-L I am using an alternative syntax parser ([Reloaded C/C++](https://marketplace.visualstudio.com/items?itemName=reloadedextensions.reloaded-cpp) with [Reloaded Themes](https://marketplace.visualstudio.com/items?itemName=reloadedextensions.reloaded-themes)), hope it usable.

[2018-08-22 06:22] Tanja-4732 commented on #658
@LeThiHyVong Yes, I've been using it too, however, it still lacks Doxygen-command auto-completion (=IntelliSense). Also, it can't display a popover-like bubble with the documentation of a method. (or something else).

 The functionality described above really needs to be implemented into the Microsoft C++ plugin.

[2018-08-22 07:47] christophe-calmejane commented on #657
Hi,

any update on this issue?
Is there a way (more than 1y later) to enable "Visual Studio" formatting in VSCode?

[2018-08-22 09:05] JiayinCao opened #2441 "Random error 'Exception has occurred' gets quite frequent"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: MacOS High Sierra, Version 10.13.6
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after

[2018-08-22 09:06] JiayinCao commented on #2441
<img width="2560" alt="screen shot 2018-08-22 at 10 42 33 am" src="https://user-images.githubusercontent.com/5715405/44454255-9ba7ba80-a62d-11e8-8ba3-0ff931e2d6bd.png">

Above is one of the screenshot for the error

[2018-08-22 12:49] cprada87 commented on #121
@dsanz006 You fix it? If you have not, Any other way besides terminal?

[2018-08-22 13:20] sghoshjr commented on #513
@gurkanctn It works on Win10. Set externalconsole to true and flush your stdout after writing to it, otherwise you may not get an output.

[2018-08-22 14:09] sguillia opened #2442 "Struct definition inside function not supported"
Type: LanguageService

**Description**

The language service fails to parse struct definitions that occur inside function scope.

Please take a look at those screenshots.

Screenshot 1
![vscode-bug-cpp-1](https://user-images.githubusercontent.com/15984272/44468031-9a25c480-a624-11e8-9941-c10ab4ebb2cf.PNG)
Screenshot 2
![vscode-bug-cpp-2](https://user-images.githubusercontent.com/15984272/44468034-

[2018-08-22 14:31] dsanz006 commented on #121
I haven't fixed it, still happening, and couldn't find any alternative solution

[2018-08-22 14:58] bobbrow commented on #657
Unfortunately, we do not have an update on this issue.  Personally, I would love to have this feature as well, but it hasn't gotten enough upvotes to make it to the top of the backlog.

[2018-08-22 15:01] christophe-calmejane commented on #657
Where should we upvote it?

[2018-08-22 15:08] bobbrow commented on #2442
I think the problem is the green squiggle at the top of the file.  It causes us to switch IntelliSense over to our tag parser implementation which does not parse out local variables and types.

![image](https://user-images.githubusercontent.com/12818240/44472008-11863480-a5e2-11e8-8658-022deedd25ad.png)

Can you share your `c_cpp_properties.json` file?  I suspect that either something is misconfig

[2018-08-22 15:09] bobbrow commented on #657
Add a +1 to the first comment in this issue.

[2018-08-22 16:00] christophe-calmejane commented on #657
Like I just did? (I don't see yours, still you say you want this feature as well, did I miss something?) thanks!

[2018-08-22 16:02] bobbrow commented on #657
Yes, that's correct.  Since we manage the backlog, I haven't been voting on things since I can add my vote in on the fly. 😄

[2018-08-22 22:30] KazNX commented on #239
+1
As a workaround, I've been setting `"externalConsole": false`, but this is an unsatisfactory fix.

[2018-08-23 06:58] arminAnderson opened #2443 "Incorrect error squiggles when using new to create an array of struct pointers"
Type: LanguageService

**Describe the bug**
- OS and Version: Win 10, 1803
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): Plastic theme, still persists
- A clear and concise description of what the bug is:

Line of code:
`SDL_Texture **rTextures = new SDL_Texture *[count];`

Error message:

For some rea

[2018-08-23 09:20] sguillia commented on #2442
The file `c_cpp_properties.json` file does not exist.

I indeed ignored the green squiggles because I don't care if standard headers are not found.

It is normal that the extension didn't find them because they are in an unusual directory.

When removing `#include <stdio.h>`, the autocompletion works and propose `d`, `e` and `f`.
But how can I force the extension to stay in the "normal" mode?

I d

[2018-08-23 11:09] aengusjiang opened #2444 "Can‘t attach remote linux process - sh failure"
Type: Debugger
**Input information below**

![image](https://user-images.githubusercontent.com/22406984/44521802-f06b3400-a706-11e8-98db-6c2a2bf94329.png)

sh: 1: [: Linux: unexpected operator
sh: 1: [: Linux: unexpected operator
please help me to solve this issue.
thanks.

**Describe the bug**
- OS and Version: Windows 10 1803
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.0: August 17

[2018-08-23 11:16] edsousa84 opened #2445 "Add additional SO Lib Search Path to debuger"
Type: Debugger

- OS and Version: Ubuntu 18.04 64bit and 14.04 32bit
- VS Code Version: 1.26.1 64bit and 125.0 32bit
- C/C++ Extension Version: 0.18.1
- Installed extensions:

- Description of the bug:
I what to use a external (.so) shared lib on my code that is not located on the standard /usr/lib. The shared lib is on the repository of the project.
The code compiles correctly and I can run the c

[2018-08-23 16:21] jondo2010 commented on #2375
Ok, running 0.18.1 now.

My workspace folder contains a symbolic link (`${workspaceRoot}/bazel-werkstatt/external/local_files`) which resolves to root folders on my disk, `/usr/share`, `/usr/src`, etc.

I have tried several permutations of `files.exclude`:

    files.exclude: {
        "/usr/src/**": true,
        "/usr/share/**": true,
        "${workspaceRoot}/bazel-werkstatt/external/local_file

[2018-08-23 16:44] bobbrow commented on #2442
Click on the green squiggle, then click on the lightbulb that appears and select "force semantic IntelliSense"

[2018-08-23 17:21] bobbrow commented on #2443
This reproduces with an even simpler snippet of code (with MinGW or WSL on Windows):

[code]

It appears to be an inconsistency with the `__SIZE_TYPE__`, but we need to investigate more.  It doesn't repro in clang/gcc mode if `compilerPath` is set to empty string (e.g. disabled), so it appears that the defines returned by the compiler are influencing this behavior.

[2018-08-23 21:30] arminAnderson commented on #2443
Thank you for the fast reply and adding it to the list! It's this kinda stuff that makes me happy to support vscode

[2018-08-24 04:45] tomdinh commented on #1329
@indrajitsg You are right add the MinGW path to system path and restart the command line interface MinGW compiles flawlessly in all cmd, Powershell and VScode integrated terminal.
@pieandcakes @liamsain  Confirmed not a vscode-cpptools issue. On Linux and WSL (xfce) MinGW run smoothly with vscode-cpptools.
@regunHD Alternatively, you can use **Chocolatey** to install MinGW like this tutorial https

[2018-08-24 07:20] lapcca opened #2446 "#include errors detected with WSL"
I met the #include errors detected error with my simple hello world and configuration  with WSL

background:
Version: 1.26.1
Commit: 493869ee8e8a846b0855873886fc79d480d342de
Date: 2018-08-16T18:38:57.434Z
Electron: 2.0.5
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64
C/C++ plugin:0.18.1

[code]

#### I found vs code always complain about the **asm/error.h" for **all the firs

[2018-08-24 08:44] sguillia commented on #2442
When removing `#include <stdio.h>`, the autocompletion works as expected.

When forcing semantic IntelliSense (`"C_Cpp.intelliSenseEngineFallback": "Disabled"`), the autocompletion does not work for any of the structures I've declared (`item1` and `item2`).

If I remove the include, then it works again as expected, no matter if semantic IntelliSense was forced.

[2018-08-24 11:20] Thanduel commented on #2444
I have the same issue.

my versions
- Windows 10 1803 build 17134.228
- vs code version 1.26.1
- C/C++ Extension Version: 0.18.1

I noted that the behaviour is changed by removing the pipeArg -c.  What follows is the ouput in that case.  I'm not really sure what is going on there but it does appear that the sh call has the -c arg even though it has been removed from the pipeArgs.

[code]

Launch.j

[2018-08-24 14:41] xrEngine512 commented on #273
+1

[2018-08-24 14:49] Cekerel commented on #98
Why not install a gnome-terminal or xterm?

[2018-08-24 15:10] LinArcX commented on #98
@Cekerel  why install them?

[2018-08-24 15:16] bobbrow commented on #2442
Thanks for the info.  I can reproduce your issue.  We'll investigate.

[2018-08-24 17:15] bobbrow commented on #2446
Thanks for reporting this.  It appears to be the same issue as #2223.  In the `/usr/include` folder I see a symlink from asm -> asm-x86, but the extension is not following the link.  It seems this will block any usage of the std headers on this distro.  I'm surprised no one else has reported this yet.

Until we get a fix for this, you can turn off the tag parser fallback stuff by clicking on the l

[2018-08-24 17:55] ilgan opened #2447 ""Go to Declaration" option does not navigate to the namespace file."
Type: General
After updating the VS Code and the extensions (both manually, due to network restrictions), the "Go to definition" option disappeared. "Go to declaration" option doesn't work.

- Win 10:
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): ms-python.python

Uninstalled previous version of VS Cod

[2018-08-24 18:28] bobbrow commented on #2447
Are there any `Microsoft.VSCode.CPP.Extension.exe` processes running?  There is definitely something odd going on if "goto definition" isn't appearing in your context menu.

Is there any additional information you can share with us?  Are you able to simplify this down to a small folder without any proprietary IP that we can download?  This works fine for me on Windows.

You can also try [enabling

[2018-08-25 00:33] WZRPW commented on #510
@sean-mcmanus , I installed IntelliSense on my Visual Studio. I have defined a few macros (.e.g., OPENCV and CUDA etc) in Makefile and I use task.json to call my Makefile to build the project. Now the problem is that VSCode could not recognize all my macros defined in Makefile. See the below screenshot. I actually defined OPENCV in Makefile but VSCode could not recognize it thus lines 16 and below

[2018-08-25 17:42] viridia opened #2448 "Error squiggles don't always update when typing"
Type: LanguageService

**Describe the bug**
- OS and Version: Ubuntu 18
- VS Code Version:  1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them):
  -- Just the TypeScript linter, which should not be relevant.
- A clear and concise description of what the bug is.

The red error squiggles sometimes don't update when I finish typin

[2018-08-25 22:29] ddavidtran commented on #1768
Is there any updates on the fix or should the current workaround with using Xcode's lldb be the temporary fix as described by @ftrofin ? Having the same problem with only seeing type and size = 0.

[2018-08-26 02:18] tinlittle commented on #1768
Bump, @ddavidtran, no, there doesn't seem to be any movements on this bug.

@WardenGnaw and @pieandcakes, can you give us an indication that this issue is being worked on?

Without the ability of diagnostics when stopped at a breakpoint in VS Code, I am spending more time with Xcode than I would like to.

[2018-08-26 05:22] XZiar commented on #2444
Same issue here.
output is:

Windows 10 1803 build 17134.228
vs code version 1.26.1
C/C++ Extension Version: 0.18.1

[2018-08-26 13:16] gurkanctn commented on #513
Hello, thanks for the response. I had already tried this method but it doesn’t work — at least for me.

(I have tried it about a month ago, and the latest update may have solved it? I don’t know)

Gürkan Çetin

Saptarshi Ghosh <notifications@github.com> şunları yazdı (22 Ağu 2018 16:20):

[2018-08-26 13:45] ThePiyushGupta commented on #1772
same problem here

[2018-08-26 15:01] graph opened #2449 "some process for cpp extension are not under the child of vs code"
Type: LanguageService
**----- Input information below -----**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Ubuntu 18
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1

![image](https://user-images.githubusercontent.com/1088059/44629549-0e

[2018-08-27 02:41] lapcca commented on #2446
Thanks for your reply.

[2018-08-27 05:55] wafei opened #2450 ""go to definition" function doesn't work on vs code for c/c++"
hello,
i can't figure out how to get the function( "go to the definition" ) working.

 i already installed the extensions:  the c/c++ extension(0.18.1),  the c/c++ clang command adapter(0.2.2), the c++ intellisense(0.2.2).  and the command gtags or clang works well.

I don't know why doesn't work the vs code behavior to 'go to definition' when I do 'command + click' or 'F12'.

vs code version:  1.

[2018-08-27 06:41] chkp-roic commented on #2237
Hi @bobbrow , do you know if and when this feature is planned?
I need this feature for a project and I might implement it myself or search some sort of a workaround to this.

[2018-08-27 06:56] bingozhu0197 opened #2451 "Can't disable hover tip, it is annoying"
Type: LanguageService
**----- Input information below -----**
hover tooltips is annoying. It can't be disabled with:
   "editor.parameterHints": false,
    "editor.hover": false,
    "editor.quickSuggestions": false,
    "C_Cpp.intelliSenseEngine": "Tag Parser",
    "C_Cpp.PeekDeclaration": false

**Describe the bug**
- OS and Version: windows 7
- VS Code Version:  1.26.1
- C/C++ Extension Version

[2018-08-27 08:04] vanheck opened #2452 "VSCode attach dbg to a local process to debug C dll which is used by C# dll (breakpoint isn't working)"
Versions:
- OS and Version: Windows 10 x64
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- MinGW with gcc: gcc (x86_64-posix-sjlj-rev0, Built by MinGW-W64 project) 7.3.0
- GDB: GNU gdb (GDB) 8.1
- c#: .NET standard 2.0

I'd like to debug the C DLL `quickfuncs.dll`, compiled with -g (debug symbols) by MinGW64, in VSCode. Functions from this DLL is called from C# DLL (also compiled wit

[2018-08-27 08:50] Srekel commented on #1464
This is one of my main gripes with the cpp extension at the moment. At least I think it's the same issue. Sometimes the autocomplete doesn't update with things that are more reasonable when things are filtered out, even though it obviously knows about them in some sense. See the gif:

(climb_direction_x is a local variable in the same function)

![cppautocomplete](https://user-images.githubusercon

[2018-08-27 13:01] sheepwall commented on #145
+1

[2018-08-27 14:31] remline opened #2453 "The language server crashed 5 times in the last 3 minutes."
Type: LanguageService
Upon opening any C file, "The language server crashed 5 times in the last 3 minutes. It will not be restarted."

- OS and Version: Windows 7 SP1
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions: None

I will attach logs if I figure out how. The instructions in "Enabling logging.md" did not reveal the "C/C++" option in the log filter selector.

[2018-08-27 15:12] bobbrow commented on #2237
As we speak, I am working on version 2 of the API which includes this feature.  Expect an update this week with support in cpptools rolling out in September.

[2018-08-27 15:19] bobbrow commented on #510
@Iamthegeekdavid, tasks.json is not used by IntelliSense.  Take a look at `c_cpp_properties.json` (you can use the "Edit Configurations..." command to open it).  There is a property in the configuration called `defines` where you can add macros that should be applied for IntelliSense.

Full reference here: https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/c_cpp_

[2018-08-27 15:22] bobbrow commented on #2448
Thank you for opening this issue.  I have seen some similar strange behavior recently too and it's on my list of things to investigate.  We can track that with this issue.

[2018-08-27 15:24] bobbrow commented on #2449
Those look like MIEngine processes from the debugger.  Changing the bug type...

[2018-08-27 15:36] bobbrow commented on #2450
We're going to need a little more information about your workspace to answer that.  If you have a `c_cpp_properties.json` file in your `${workspaceFolder}/.vscode` folder, can you please share that?  Is the definition you are trying to navigate to defined in a source file under your `${workspaceFolder}`?

[2018-08-27 15:38] bobbrow commented on #2451
I believe `"editor.hover.enabled": false` is the setting you are looking for.

[2018-08-27 15:38] #2451 closed, assigned to nobody

[2018-08-27 15:47] bobbrow commented on #1464
Can you check the problems window and see if the extension is using the tag parser for IntelliSense?  The extension does suggest local variables but only if all of the `#include` statements successfully resolve (or if you disable the `#include` checking).

In any case, the original issue has already been resolved, so if you are able to resolve the problems in the problems window and continue to ge

[2018-08-27 15:48] EricTheMagician commented on #409
I also had this problem on ubuntu 18.04.
I had installed it with snap, but then I uninstalled it and reinstalled with the .deb package.

[2018-08-27 15:53] bobbrow commented on #2453
Unfortunately, when the extension crashes VS Code removes our logging channel.  You can try using the old logging method which writes logs to files: https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Archive/Enabling%20logging.md

We also need to write up some instructions for debugging crashes.

[2018-08-27 16:23] chkp-roic commented on #2237
Thanks for the update!

[2018-08-27 17:44] jdwieber commented on #2268
Hello. I see in version 1.26 of VS Code that we can now open an URI as a folder. Does that bring us any closer to this being supported in cpptools? Thanks.

[2018-08-27 18:14] bobbrow commented on #2268
I'm sorry, at this time we don't have an ETA as to when this issue will be addressed.

[2018-08-27 18:48] ilgan commented on #2447
*Issue is Resolved*

**Steps for the fix:**
1. Download extension file .vsix
2. Manually install the extension.
3. In pop up (bottom right corner) that asks to configure the extension, choose "Edit/Configure".
4. the cC_cpp_properties.json will be created.
5. Save and exit.

**NOTE:** my previous attempts to create c_cpp_properties.json with needed properties failed.

c_cpp_properties.json content

[2018-08-27 18:51] ilgan commented on #2447
@bobbrow
1. The logger did not show any information at all, thus I did not include it. Should have mentioned it.
2. The "can't find definition" message doesn't provide any information either.

I think the issue was that somehow c_cpp_properties.json hasn't been created on teh extension installation, as I tried to find it on my drive last week and couldn't.

[2018-08-27 19:55] bobbrow commented on #2447
So it's working for you now?  Feel free to close the issue if that's the case.  Based on what you've said, it seems that the extension may not have installed successfully which could explain why nothing was working.

[2018-08-27 19:57] GoaLitiuM commented on #1017
This would help everyone, especially if the program you are debugging has tens of threads starting and stopping at times. The option already exists in Visual Studio, so why not in VSCode as well?

[2018-08-27 19:59] #2447 closed, assigned to nobody

[2018-08-27 20:08] chaopeng commented on #2338
I found what is change on Chromium.
Chromium recently set `strip_absolute_paths_from_debug_symbols` default to true on args.

strip_absolute_paths_from_debug_symbols seems to set the absolute file path to symbol.

If anyone have same issue, the work around will be:

[code]

@pieandcakes is it possible vscode fix this? I think vscode maybe assuming the symbols using relative path.

[2018-08-27 23:29] sean-mcmanus commented on #2443
You should be able to add "-fno-ms-extensions" to the end of your compilerPath to work around this issue, although it might regress other errors (such as https://github.com/Microsoft/vscode-cpptools/issues/2363 ).

UPDATE: Should be fixed with https://github.com/Microsoft/vscode-cpptools/releases/download/0.19.1-insiders/cpptools-win32.vsix .

[2018-08-28 00:38] sean-mcmanus commented on #1139
@hungys It sounds like it could be a bug, but I don't know of a repro.

[2018-08-28 00:41] sean-mcmanus commented on #2328
@huww98 The only thing that changed in 0.18.1 is that we were incorrectly adding the -fms-extensions flag to non-MinGW compilers, so I'm not sure how 0.18.1 could have broken this -- only the Windows binary was changed. What OS are you on? What exactly is the bug/crash you are hitting?

[2018-08-28 00:55] sean-mcmanus commented on #2274
What exactly are you including in a zip and redistributing? I believe the intent of the license was to make sure non-open source binaries weren't being re-used outside of VS Code. For complicated legal questions I can I get you in contact with our lawyer -- I just need to know what email to use (I couldn't find your email on GitHub).

[2018-08-28 01:02] ThadHouse commented on #2274
I just wanted to include the vsix downloaded from the releases page, directly for use in VS Code. I work with the libraries for a high school robotics competition of about 3000 teams, where we need to be able to support teams at areas without internet access. Our plan is to have an offline installer where users can just download a single zip from us and know that they have everything needed to run

[2018-08-28 01:11] sean-mcmanus commented on #2274
Yeah, you can distribute the offline vsix's at https://github.com/Microsoft/vscode-cpptools/releases -- the intent is for those to be used in offline scenarios, i.e. distribution on a CD or whatever.

[2018-08-28 01:44] ThadHouse commented on #2274
Ah ok. Thanks for clarifying that helps us a lot.

[2018-08-28 01:54] WZRPW commented on #510
@bobbrow the pre-defined MACRO feature is good on my VSCode now. I wonder if c_cpp_properties.json only affect the code displaying but will not impact building my project, i.e., code compiling and linking.
Thanks,

[2018-08-28 02:16] bingozhu0197 commented on #2451
You are right. I missed with "editor.hover": false from old suggestions. Really thanks for your help!

[2018-08-28 03:21] wafei commented on #2450
i do have a c_cpp_properties.json file , the 'includepath' is generated automatically.
and the definition is in the source file under my ${workspaceFolder}, but when i do 'go to the definiton', it showed me 'no definition found for ... '

c_cpp_properties.json :
`{
    "version": 4,
    "configurations": [
        {
            "name": "IAR",
            "intelliSenseMode": "clang-x64",

[2018-08-28 04:46] bobbrow commented on #510
Correct, c_cpp_properties.json is just for IntelliSense, not for compiling or linking.

[2018-08-28 04:51] bobbrow commented on #2450
Are you trying to do goto definition on a local variable (in a function)? That doesn't work yet and #255 will address that.

[2018-08-28 05:04] wafei commented on #2450
local variable doesn't work, but global variable neither

[2018-08-28 05:43] Srekel commented on #1464
Aha. Yes, it seems like it is using the tag parser. So, provided I fix my includes it ought to work? Going to try that, thanks :)

[2018-08-28 09:51] huww98 commented on #2328
@sean-mcmanus I'm on Windows and using WSL / Ubuntu 18.04 / g++-8.

I just copy and paste the code in the issue description, then IntelliSense stops working. And I received `Failed to read response from server: 18` from output window, just as described above.

[2018-08-28 11:35] shinsei90 opened #2456 "[OSX] Unable to start debugging when using CMake Tools Extension and Selecting `Run with debugger`"
Type: Debugger
**lldb-902.0.79.7**
**Apple LLVM version 9.1.0 (clang-902.0.39.2)**

**Describe the bug**
- OS and Version: Mac OS X 10.13.6
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- CMAKE Tools
- I got the following message on a pop up windows:

Unable to start debugging. Unable to establish a connection to LLDB. The following message was written to stderr:

lldb: unrecognized

[2018-08-28 12:03] sprknd opened #2457 "Can't compile with "arpa/inet.h""
**Type: LanguageService**

C/C++

**Describe the bug**
- OS and Version: WIndows 10 Pro 17134.228
- VS Code Version: 1.25.1
- C/C++ Extension Version: 0.18.1
- A clear and concise description of what the bug is.

I have WSL using Ubuntu and followed [this](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Windows%20Subsystem%20for%20Linux.md) guide to compile na

[2018-08-28 12:16] Berrysoft commented on #2457
You are running g++ on Windows, but not WSL.

[2018-08-28 12:24] sprknd commented on #2457
@Berrysoft Thanks for pointing this out. I changed g++ to gcc on WSL but same result

[2018-08-28 12:26] wafei commented on #2450
so strange, the function works well in a minor project, maybe it can't work when the project is too complex?

[2018-08-28 14:20] derasd commented on #763
Hi,
I'm using Visual Studio Code Ver. 1.26.1 with PlatformIO 0.17.5 and when I try to debug a esp32doit-devkit with a esp-prog debugger I get the same error as @gojimmypi at one point in this thread.

[code]

I tried using the original platformio-debug configuration as well as the native debug configuration suggested by @ivankravets in this thread.

[code]

but both fail with above error.

I could

[2018-08-28 14:33] alan23273850 commented on #827
For @pudding8757 's answer, I specify my debuggerPath as follows and it works!

"debuggerPath": "**stdbuf -i0 -o0 -e0** /usr/bin/gdb"

stdbuf here is used to disable buffer of all three channels.

[2018-08-28 14:37] alan23273850 commented on #1072
I specify the debuggerPath in my **launch.json** file and it works!

"debuggerPath": "**stdbuf -i0 -o0 -e0** /usr/bin/gdb"

stdbuf here is used to disable buffer of all three channels.

[2018-08-28 14:41] sprknd commented on #2457
Solved: Conflicted with MinGW gcc.

[2018-08-28 14:41] #2457 closed, assigned to nobody

[2018-08-28 14:41] derasd commented on #763
As a last possibility I tried @gojimmypi 's side note and disabled RTOS in ESP32.cfg

[code]

and it seems to work now.

[2018-08-28 14:56] hoffmael commented on #509
This is a standard feature I look for in any debug GUI. It is extremely helpful to observe the data structure's memory as the code executes to get a full understanding of the system.

I hope this can be prioritized and implemented in a milestone soon

[2018-08-28 15:03] jovere opened #2458 "dimInactiveRegions causes redraw issues"
Type: General
If `dimInactiveRegions` is enabled and a dimmed region is shown, redraw issues occur.  Screen flickers in random places and text or sections of screen disappear completely.

- OS and Version:
`Linux buildPC 4.15.0-33-generic #36~16.04.1-Ubuntu SMP Wed Aug 15 17:21:05 UTC 2018 x86_64 GNU/Linux`
- VS Code Version:
[code]
- C/C++ Extension Version: `0.18.1`

**Expected behavior**
Drawin

[2018-08-28 15:29] remline commented on #2453
Thanks, Bob. I gave the logging a try. Five log files were created, but all of them were empty (zero bytes). The empty files were named: vscode.cpp.log.4064.txt; vscode.cpp.log.5428.txt; vscode.cpp.log.8596.txt; vscode.cpp.log.11636.txt; vscode.cpp.log.12256.txt.

I tried log levels 5, 6, and 7.

[2018-08-28 15:31] bobbrow commented on #1464
You can either fix your include path (preferred) or turn off the fallback behavior (click the lightbulb that appears when you highlight the squiggle and choose "force semantic IntelliSense").

[2018-08-28 15:39] bobbrow commented on #2450
It is also possible that macros are interfering with the tag parsing of the global variables.  Is the source code public?  Can I download it to check?

[2018-08-28 15:43] bobbrow commented on #2458
I've never seen anything like that before.  I think you should open an issue in the [vscode repo](https://github.com/Microsoft/vscode/issues/new/choose).  This extension doesn't have control of any of the rendering/UI code.

[2018-08-28 15:43] #2458 closed, assigned to nobody

[2018-08-28 17:15] mdmozibur opened #2459 "False red underline with no compilation error"
Issue Type: <b>Bug</b>

Just use this code and see the red underlines:

[code]

also, here is my include path for win32:

[code]
Extension version: 0.18.1
VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-7100 CPU @ 3.90G

[2018-08-28 17:42] bobbrow commented on #2459
Mixing includes from both MinGW and MSVC is almost certainly not what you want.  I recommend removing all the system includes from your `includePath` and setting `compilerPath` to point to your MinGW compiler instead:

For example:
[code]

[2018-08-28 17:43] bobbrow commented on #2459
If you are using MinGW, you will also want to make sure you set:

[code]

[2018-08-28 17:55] sean-mcmanus commented on #2328
@huww98 Can you attach a debugger to the Microsoft.VSCode.CPP.IntelliSense.Msvc.exe process before the crash occurs (i.e. you can comment out the code that causes the crash, and then edit the code to cause a crash with the debugger attached) -- and then provide the call stack? Do you know which header file is causing the crash? We are aware of a "high-hitting" crash involving "get_file_path_actual

[2018-08-28 18:03] joelspadin commented on #1117
I have a similar situation, and I tried setting up a script but wasn't able to get it to work. Our toolchain's version of GDB depends on the PYTHONHOME environment variable being set to a Python 2.7 installation, but setting the variable globally breaks Python 3.x installations, so our build tools generate the following Python script:

[code]

The relevant portions of my `launch.json` are:

[code]

[2018-08-28 20:25] pieandcakes commented on #145
@Sheepwall If you look at #85, there is documentation that has been created to support this scenario. Please file a new issue if you are having problems.

[2018-08-28 20:30] pieandcakes commented on #2338
@chaopeng If you include a log we can see what the non-working condition is doing and possibly come up with a fix. We take the path that is given to us by the debugger (`gdb` in this case) and pass it back to VS Code to open. If VS Code can't find it, then it will give the error you have.

If the question is if VS Code will fix this, you can propose it to them on their [issues](https://github.com/

[2018-08-28 20:35] copeland3300 commented on #2138
Update: see last paragraph

I'm also running into this issue...mine may be related to the fact that I'm using ssh and X11 forwarding.

I'm on Ubuntu 16.04 Desktop.

Error is the following:

[code]
I had also gotten a different error, but can't replicate it at the moment.

One solution I found was to uninstall gnome-terminal completely, which forces it to use xterm.

It would be nice if we could ei

[2018-08-28 20:45] chaopeng commented on #2338
@pieandcakes sorry for the dumb question. Where can I get the log you need. I don't see logs in `OUTPUT` or `DEBUG CONSOLE`, I check the source in this repo but don't know which line I should add log to.

[2018-08-28 20:49] pieandcakes commented on #2338
Logging instructions can be found [here](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging). Specifically we are looking for `engineLogging`

[2018-08-28 21:00] bobbrow commented on #2453
When the extension starts up it should create that log file and immediately write `Log initialized. Verbosity level = N` (where N is the log level you set).  It must be crashing before flushing that message to the log file.

Perhaps you can try installing [procdump](https://docs.microsoft.com/en-us/sysinternals/downloads/procdump) as the post-mortem debugger?  I have been having trouble getting po

[2018-08-28 21:16] chaopeng commented on #2338
Thank you @pieandcakes. I check the log. Chromium actually set the path relative to the executable file now. Change cwd fix it.

[2018-08-28 21:16] #2338 closed, assigned to pieandcakes

[2018-08-28 22:03] RicBent opened #2460 "IntelliSense does not recognize changed size_t definiton"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux (Manjaro 17.1.12 Hakoila)
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): None
- Description: IntelliSense does not recognize changed size_t definiton.

I am developing bare metal code for an ARM system with the arm-none-eabi compile

[2018-08-28 22:17] bobbrow commented on #2460
It is likely a size mismatch since the IntelliSense modes we currently support are all 64-bit.  The defines I see in that configuration appear to be 32-bit.

As an aside, I don't think you need to list out all of the includes and defines since the `compilerPath` is being set.  This gist may have been authored before we supported compiler arguments in the `compilerPath` setting.

[2018-08-28 22:42] RicBent commented on #2460
Yeah, size_t is defined as an unsigned int which is 32-bit on my target platform.
Is there a way to disable that IntelliSense error? It renders VSC pretty much useless for my project when it flags almost every file for these errors.

[2018-08-28 22:44] sean-mcmanus commented on #2460
We have work in progress that exposes the error codes, which could be added to an ignore list setting, but we don't have an ETA on when the work will be completed -- see https://github.com/Microsoft/vscode-cpptools/issues/2345 .

[2018-08-28 23:30] RicBent commented on #2460
Thanks.
For now I just tell VSC to include a non-project file that has a different definition for size_t :)

[2018-08-29 01:30] sean-mcmanus commented on #2345
https://github.com/Microsoft/vscode-cpptools/issues/791 is somewhat related (i.e. we could attach an error code to missing include messages to allow users to filter them out).

[2018-08-29 06:03] fredijude opened #2461 "There is no way to specify "everything except" in files.exclude settings"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- In the workspace setting, Files.exclude doesn't allow any way of specifying for the requirement of "exclude everything except the files with this".

[2018-08-29 07:47] #2459 closed, assigned to nobody

[2018-08-29 07:48] mdmozibur commented on #2459
Ok, setting intellisense mode to gcc-x64 solved the problem. Thanks @bobbrow

[2018-08-29 08:55] czgtest commented on #2444
Same issue here when I debug c module solution

[2018-08-29 09:03] formulahendry commented on #2444
Same issue here using C/C++ Extension Version: **0.18.1**, while it is working using **0.17.7**.

[2018-08-29 11:38] n-p-e opened #2462 "Debugger broken because of Chinese characters in file name."
Type: Debugger

- OS and Version: Windows 10 1803
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions: Clang-Format, Code Runner, and a few themes. Disabled them and the issue persisted

- Bug: When debugging the debugger notice "Can't open file". Chinese characters in the file name become meaningless numbers.
example:
"test 测试.cpp" (original) / “test 262342312324.cpp” (

[2018-08-29 14:42] q962 opened #2463 "Comment ; ctrl+ mouse Cursor pointing Comment display location?"
**Type: LanguageService**

ming64

**Describe the doubt**
- OS and Version: win10
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them):  vscode-cpptools Exclusive function
- I don't know if `ctrl + cursor points` is used to display comments.
For now, I think it is, Or a small piece of content after the stateme

[2018-08-29 14:51] q962 commented on #2463
For the statement, the comment can be displayed normally below, but just now, it has become how many definitions are displayed.

![image](https://user-images.githubusercontent.com/15686075/44795709-f2893300-abdd-11e8-929d-cdc32614d8b0.png)

[2018-08-29 15:35] bobbrow commented on #2463
We don't display comments yet.  It's on our backlog.  #399

[2018-08-29 16:31] n-p-e commented on #2462
I got no idea about which part of the debugger threw this error message. It seems that g++ and gdb are working normally, but VSCode can't control them because the extension got a wrong file name, which has numbers instead of Chinese Characters.

[2018-08-29 18:14] pieandcakes commented on #1768
After @WardenGnaw's investigation, it looks like it will take longer than we originally anticipated and other work outside of this extension is currently taking up our time. We have this on our list of tasks to do and hope to revisit it again when we are finished.

[2018-08-29 18:21] pieandcakes commented on #2462
@coffee-sgr The problem is in `gdb` when driven in MI mode. It doesn't seem to understand characterization correctly. If you enable [logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging), you can see our communication with gdb and its response. It is responding with the incorrect filenames, which is how we get them.

This is a duplicate of #

[2018-08-29 18:21] #2462 closed, assigned to nobody

[2018-08-29 18:24] pieandcakes commented on #2456
@shinsei90 can you post your `launch.json` ?
It seems like you have `MIMode` set to `gdb` instead of `lldb` and you are pointing to the wrong debugger executable. For `lldb` we use the executable `lldb-mi` which allows us to drive the debugger through protocol messages.

Also, we default to using our included `lldb` when `miDebuggerPath` is not specified. The version of `lldb` we include specifica

[2018-08-29 18:34] sean-mcmanus commented on #2461
This is being tracked by VS Code itself with issue https://github.com/Microsoft/vscode/issues/869 . You could upvote or add comments to that issue.

[2018-08-29 18:34] #2461 closed, assigned to nobody

[2018-08-29 18:40] blastrock opened #2464 "Add a way to import include paths and flags from conan's ycm file"
**Type: LanguageService**

**Describe the feature**

I use [the conan package manager](https://conan.io/) in my c++ projects. Conan compiles project dependencies and generates cmake scripts to use them in your project.

Conan has another generator which is called "ycm" (referring to vim's plugin YouCompleteMe). This generator generates a json file that looks like:

[code]

This file is usually rea

[2018-08-29 19:38] pieandcakes commented on #2452
@vanheck By the point you are binding the breakpoint, has the C++ code been invoked? I assume you are using PInvoke which will cause the native dll to not load until it is called. If it isn't loaded yet, the breakpoint won't bind until it hits.

For more debugging information, please enable `"engineLogging": true` in your logging block to see what `gdb` is doing when we request the breakpoint. I'd

[2018-08-29 19:41] pieandcakes commented on #2445
@priestnot Please enable [engineLogging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and post the library loads.

[2018-08-29 20:43] shinsei90 commented on #2456
of course here is my `launch.json`:
[code]

[2018-08-29 20:48] pieandcakes commented on #2456
@shinsei90 That's the `launch.json` you are using when you got that error message? Our default is to use our version of `lldb` which is not under `/usr/bin/lldb`.

[2018-08-30 00:02] q962 commented on #2463
🆗

[2018-08-30 08:48] ptrsr opened #2466 "Folders created through WSL do not work with intellisense"
**Type: LanguageService**

Originally I was working on a c++ project through WSL. I cloned the repo with git through WSL. When opening the project and enabling the extension, nothing happens: it's like the extension isn't enabled at all. I created a new folder on my desktop with a simple main.cpp in which it did work.

With some experimenting I found out that all folders that are created with the

[2018-08-30 08:58] J-Vernay commented on #2466
I confirm the bug exists. I noticed the bug is present when the .cpp file is created either  through Windows (using Notepad++) and WSL (using nano).

I am using Windows 10 Edu 10.0.17134, with WSL Ubuntu 18.04 LTS (installed from Microsoft Store), using VS Code 1.26.1 and the version 0.18.1 of C/C++ Extension.

[2018-08-30 09:14] J-Vernay opened #2467 "IntelliSense not finding include directories with lower case"
**Type: LanguageService**

I was trying to use wxWidgets (built from source) when I discovered the headers are not found by IntelliSense. After trying to fix it, I found that directories containing at least one lower case character are not found.

A gif is available at the end of this post.

After trying some names, what I found : `Test`, `test` are not found, but `TEST` is found. As shown in the

[2018-08-30 09:58] shinsei90 commented on #2456
Yes, that was the `launch.json` I used when I got the error message.

[2018-08-30 10:06] vanheck commented on #2452
Flow:
1. Run command `"C:\Program Files\dotnet\dotnet.exe" exec "D:\Server\bin\Debug\netcoreapp2.0\Server.dll" Parameter1=test`
2. go to postman and send message which is processed in `quickfuncs.dll` (load library)
3. in VSCode run "(gdb) Attach to process" and select PID for `dotnet.exe`
4. in VSCode set the brakpoint at first command in first function in quickfuncs.dll
5. again send message by

[2018-08-30 12:11] n-p-e commented on #602
I'd like to know how to avoid this bug. If it is something about gdb, is removing Chinese the only solution?

[2018-08-30 15:40] bobbrow commented on #2466
What is the value of `compilerPath` in `c_cpp_properties.json`?

My guess would be that WSL creates the folder with the case-sensitive flags on.  The C/C++ extension doesn't support that right now unless you are also using the compiler from WSL (e.g. `"compilerPath": "/usr/bin/gcc"`)

[2018-08-30 15:42] bobbrow commented on #2466
possibly duplicate of #1994

[2018-08-30 15:45] bobbrow commented on #2467
There isn't generally a discrimination about file path casing on Windows, but I suspect this is related to #2466 which you also commented on.  This sounds like a duplicate of that issue.  Is this the behavior you see when you open a folder created by a WSL `mkdir` command?

[2018-08-30 15:53] J-Vernay commented on #2467
No, I tested this with a folder created with the Windows File Explorer.

[2018-08-30 17:43] pieandcakes commented on #602
@coffee-sgr As far as I know that is the only solution. We have the same problem with any Unicode characters, whether it be Chinese or not. If you find another workaround, please let us know.

[2018-08-30 17:51] pieandcakes commented on #2452
@vanheck With MinGW you have to send Ctrl+C to the debuggee to pause. The pause button doesn't work because we can't send SIGINT through `gdb`'s MI protocol. The command we typically use is `-exec-interrupt` but that doesn't work. The procedure (unfortunately) is:

1. Hit `pause` in the UI
2. Go to the debuggee and press `Ctrl+c`.

At that point the debuggee should stop. It is only then that the b

[2018-08-30 19:28] alan23273850 commented on #1527
Is there any progress now? I'm very excited about the coming new fix!

[2018-08-30 19:34] intijk commented on #407
C++ folding without supporting this feature basically is useless for cross platform project.

[2018-08-30 21:35] cooper352 commented on #1017
@GoaLitiuM Where is this option in Visual Studio? I've been trying to disable thread exit messages in the console window, but can only find an option to disable them in the  output window.

[2018-08-30 21:51] akbyrd commented on #1017
Right clicking in the Output Window is the way I normally get to it:

![thread exit](https://user-images.githubusercontent.com/484784/44881333-1b540b80-ac64-11e8-8311-2ed2c2ef0c9e.png)

[2018-08-30 23:27] goabove1970 commented on #996
I have a similar question, this is not clear to me what exactly I should add to the  "Preferences: Open User Settings" to make the "C/Cpp: Edit configurations" work. Thanks.

[2018-08-30 23:32] timedroid opened #2470 "Intellisense Stuck for Long Time After Adding Header"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 7 64-bit
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them):

Sometimes while adding an #include "Blah.h", intellisense hangs for a very long time (>8 minutes). A red squiggle is displayed with error "Cannot open source file "Blah." (n

[2018-08-30 23:43] bobbrow commented on #996
When you don't have a folder open, you can set the `"C_Cpp.default.*"` settings to configure IntelliSense instead of using the `c_cpp_properties.json` file (which is the file that "Edit configurations" command creates).

[2018-08-31 01:33] wafei commented on #2450
i have done nothing, but today it all works well, confused

[2018-08-31 06:06] alan23273850 commented on #1660
Hello everyone, I have just used the following workaround to solve this issue.

![image](https://user-images.githubusercontent.com/10044077/44895172-b52fbd00-ad25-11e8-92f9-b4f0b4a6e6aa.png)

Three options "**program**," "**cwd**," "**debuggerPath**" should be focused.

The most interesting one is "**debuggerPath**." In my setting, I first **cd** to the file's directory, and then compile the progr

[2018-08-31 06:15] alan23273850 commented on #1660
Originally I want to use @lfurzewaddock 's extension because it seems very conveience. However it only supports **workspaceFolder**. I wonder what if the extension can support more paths such as $fileDirname or $file, etc. That makes the extension more popular.

[2018-08-31 07:10] BenjaminDbb commented on #1660
@alan23273850
thank you.
I tried and it works now. BTW, it is better to add:
`  "sourceFileMap": {
             "/mnt/c/" : "C:\\"
      }`
in the launch.json, otherwise "FILE not found"

[2018-08-31 07:13] alan23273850 commented on #1660
@BenjaminDbb

Thanks! I've originally added that line but it seemed useless on my computer so I commented it out.
Maybe for some devices it is still required. Thank you for your advice.

[2018-08-31 08:01] vanheck commented on #2452
@pieandcakes
**Great, if it is paused first and then the SIGINT is sent manually, it works. Thank you.**

But if I send the breakpoints at first and then launch the `(gdb) Attach to process`, beakpoints doesn't work. Here is the output:
[code]

[2018-08-31 10:20] masoudr opened #2471 "Remote debug with cross compile tools"
Hi,
I'm trying to test a simple `c/c++` app with using Linaro cross compile tools and gdb server.
1. I created a new project and added `tasks.json` and `launch.json` files.
`tasks.json`:
[code]
`launch.json`:
[code]
I can build my app without any problem.
2. I move the `out` file to target machine and started `gdbserver` with `gdbserver :1234 ./out`
When I open debug in vscode I see this error on

[2018-08-31 10:42] csholmq commented on #2424
This keeps haunting my colleague @mheden. Same setup as me (VSCode-Insiders 1.27.0 with C++ ext 0.18.1) and _WIN32 is always enabled on his end, but not on mine. Same SW project.

Any way of confirming which options are being sent to the compiler?

[2018-08-31 11:09] arminAnderson commented on #2443
Yeah that seems to do the trick, I'll keep that in there for now. Thanks for the heads up, I appreciate it

[2018-08-31 14:06] doingnz commented on #206
I have just spent days looking for alternatives to VSCode because I would like to have assembler, memory and register windows. Reworking a large open source project based on VSCode/CMmake to a new tool is considerable effort. There are many people asking for a memory view for a long time. Please do consider adding such a window. Memory view can execute the GDB x command after each step / trace as

[2018-08-31 14:08] doingnz commented on #509
yes please add this is a standard feature

[2018-08-31 14:54] prolands commented on #286
as for version 18.01 having problem with 99% of cpu utilization

[2018-08-31 15:30] ivankravets commented on #763
@derasd PlatformIO does not use this debugger anymore. We have written our own with advanced features, such as memory and common registers viewers, peripheral registers, disassembly, etc.
Our debugger it built-in in our extension https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide

Could you try it?

[2018-08-31 16:12] bobbrow commented on #2450
Perhaps the extension took a long time indexing the files.  We display a database icon in the status bar while the source files are being parsed.

Let us know if you continue to have any problems in the future.

[2018-08-31 16:12] #2450 closed, assigned to nobody

[2018-08-31 16:24] bobbrow commented on #2470
Thanks for the bug report.  We'll investigate.  The most expensive operation of building the suggestion list for `#include` is repeatedly calling `stat` on the filesystem to discover the list of files we should suggest.  I'm surprised it's taking so long though.  Are you working with an SSD drive or a spinning HDD?  Regardless, this work should be offloaded to a thread so as not to disrupt Intelli

[2018-08-31 16:37] edsousa84 commented on #2445
@pieandcakes I have reinstalled vscode and it now works.
I did not understand what happen.

Thank you.

[2018-08-31 16:45] regexus opened #2472 "Structured bindings in for-loop with map/unordered_map."
Hello guys,

I have noticed some incompatibilities with the C++17 standard for structured bindings in for-loop with maps and unordered maps.

The following code compiles and runs just fine, but generates IntelliSense errors:

[code]

Currently it looks like that:
![screenshot_000052_vs_code_structured_bindings](https://user-images.githubusercontent.com/25210091/44924810-c809b800-ad4c-11e8-879b-596

[2018-08-31 17:45] #2445 closed, assigned to nobody

[2018-08-31 17:53] pieandcakes commented on #2452
It looks like we don't get the `SetBreakpoints` call from VS Code until after we've already restarted the debuggee.

[2018-08-31 17:55] pieandcakes commented on #2471
@masoudr can you enable [engineLogging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and share what the error is?

[2018-08-31 18:00] sean-mcmanus commented on #2424
@csholmq Yeah, the _WIN32 defined is probably the cause -- why is that defined in his case? What OS/compiler is being used? On Windows, -fms-extensions or -fno-ms-extensions can be added to the compilerPath to modify the behavior (MinGW has -fms-extensions set by default).

You can see (some of the) flags we pass to our compiler by setting the C_Cpp.loggingLevel to Debug and then opening a new .cp

[2018-08-31 18:02] bobbrow commented on #2472
Can you share your configuration?  I'm not seeing the same error as you.  It works fine for me with `"intelliSenseMode": "msvc-x64"` on Windows 10 + VS 15.9 preview + latest Windows SDK installed:

![image](https://user-images.githubusercontent.com/12818240/44928416-aee11700-ad0c-11e8-9144-74e7fe0ed794.png)

I get a different error when using MinGW/WSL with clang/gcc mode (this looks like a bug):

[2018-08-31 18:09] bobbrow commented on #2472
I was able to reproduce the error if I set the cppStandard to c++14.  Do you happen to have a `c_cpp_properties.json` file in your .vscode folder that is overriding your `C_Cpp.default.cppStandard` setting?

![image](https://user-images.githubusercontent.com/12818240/44928975-39764600-ad0e-11e8-8b54-99c94a8e094d.png)

[2018-08-31 18:10] sean-mcmanus commented on #206
@doingnz You could try using Visual Studio 2017 -- they have some remote to Linux ability: https://blogs.msdn.microsoft.com/vcblog/2016/03/30/visual-c-for-linux-development/ .

[2018-08-31 18:11] sean-mcmanus commented on #286
@prolands We need more info in order to diagnose/fix the issue, preferably in a different issue.

[2018-08-31 18:25] regexus commented on #2472
Hello Bob,

thank you for the quick response and you are right! The c_cpp_properties.json was overriding my C_Cpp.default.cppStandard setting to C++11. I have started the project as C++11, switched later to C++17 and simply forgot about the c_cpp_properties.json file.

It would be probably not bad, if the extension would show a notification that there is a conflict in settings and that c_cpp_prope

[2018-08-31 18:50] timedroid commented on #2470
It is a slow spinning drive. This is on a corporate laptop that has super-invasive filesystem filters as well.

[2018-08-31 19:03] timedroid opened #2473 "GDB Remote Attach Fails with "Linux: unexpected operator""
Type: Debugger

**Describe the bug**
- OS and Version: Windows 7
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them):
- Process picket command fails due to unexpected operator

**To Reproduce**
[code]
Steps to reproduce the behavior:
1. Try to connect to Ubuntu 16.04 using above config
2. Get error message co

[2018-08-31 21:46] #2472 closed, assigned to nobody

[2018-08-31 21:56] bobbrow commented on #2470
And to clarify, the `stat` calls should only be happening when the header search path changes. We do cache the results.  Adding new files to the project should not reset the cache.

[2018-08-31 22:06] pieandcakes commented on #2402
@esmg1 Did you compile your code? If so, which compiler did you use? Can you share your `launch.json` configuration?

[2018-08-31 22:07] pieandcakes commented on #2473
Thank you for reporting this issue. This is a duplicate of #2444

[2018-08-31 22:07] #2473 closed, assigned to nobody

[2018-08-31 22:12] pieandcakes commented on #2444
This seems to be affecting all instances of remote process picking due to this change #2340

[2018-08-31 22:16] bobbrow opened #2474 "structured bindings squiggle on MinGW/WSL - cannot instantiate std::tuple_element"
**Type: LanguageService**

**To Reproduce**
Try to use structured bindings in gcc/clang mode on Windows
[code]

![image](https://user-images.githubusercontent.com/12818240/44928556-0b443680-ad0d-11e8-8458-bb5bf02dcfe4.png)

This works fine with gcc/clang mode on Linux so it could just be a config issue.

[2018-08-31 22:17] bobbrow commented on #2474
Related: #2472

[2018-08-31 22:24] pieandcakes commented on #2444
@timedroid pointed out what is wrong in #2473 and a fix.

In the mean time the workaround would be to modify
`.vscode\extensions\ms-vscode.cpptools-0.17.7\out\src\Debugger\attachToProcess.js` located in your user profile folder (`%userprofile%` for Windows, `~/` for Linux).

Update line 92/93 to say:

[code]

The fix will be in the next update.

[2018-08-31 22:30] #2444 closed, assigned to WardenGnaw

[2018-09-01 08:04] csholmq commented on #2424
He's on Win10. We haven't configured anything but set IntelliSenseMode to gcc-x64 (ARM code project).

So no external compiler used. Would prefer to have it that way since each project comes with the compiler bundled and has a unique path.

Will try to compare output when he's back in the office.

[2018-09-01 08:35] arminAnderson commented on #2448
@bobbrow I am also having an issue with the error squiggles.

I was going to open an issue but this line from the original post,

 has been happening every time I change a file with my project and I'm pretty sure the same mechanisms are at play here.

For a specific example, right now I have Main.cpp and Camera.h. Inside of Camera.h, I had an inline function which was being called in Main.cpp. I d

[2018-09-01 09:33] aejsmith commented on #35
I'd also like to know if there's any progress on this.

[2018-09-01 09:55] derasd commented on #763
Well I am using PlatformIO 0.17.5  but debugging failed with above error. Thats why I tried native debugger (and config) which failed as well with the same error. Only disabling RTOS helped (for both).
So I would say I am using PlatformIO debugger right now or do I miss something?

[2018-09-01 10:46] jcageman opened #2476 "[cppvsdbg] Debug visualizers (natvis) cannot be customized or modified"
Type: Debugger
- OS and Version: Windows 10 1803
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1

I am trying to use a custom .natvis file for my rust project using cpptools.
I have the following added to the launch.json according to the [documentation](https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md)

[code]
showDisplayString shows as a not allowed property, althoug

[2018-09-01 11:27] pewscorner opened #2477 "Outline view can't find symbols in already opened file on startup or workspace switch"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): Persists with all other extensions disabled.
- A clear and concise description of what the bug is.
When switching to - or starting VSCode with - a workspace where the file currentl

[2018-09-01 15:50] masoudr commented on #2471
I just edited the `tasks.json` file and make it simpler here is the output of debug console with setting engineLogging:

[code]

[2018-09-01 16:33] taylorgordon20 opened #2478 "C++17 auto in function template triggers false-positive error"
[code]

Results in "f" being underlined with an error squiggle and the message:

`no instance of function template "Foo::foo" matches the argument list -- object type is: Foo`

[2018-09-01 20:54] bool3max opened #2479 "Duplicate symbols listed in "@" symbol search when symbol is being used in function prototype or typedef(Ctrl-Shift-O)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Arch x64 (Linux 4.18.3)
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is:

The *symbol search* function in the command pallette (Ctrl-Shift-O) lists symbols which are return values o

[2018-09-02 15:50] mipac commented on #683
I try vscode for c++ on linux and refactoring does not work, for the moment I hope 😊
I agree with some comment it's an important feature, enough to choose this IDE or not

but it's very promising! I'm really surprised by this portable editor++ and I will follow his evolution 😊

[2018-09-03 09:49] mheden commented on #2424
It seems like the problem is caused by having `clang` installed and having it in the path.

With `clang` in the path, regardless of what setting I use in `C_Cpp.default.intelliSenseMode` the intellisense mode will be `msvc` for some reason. If I rename the  `clang`  bin directory the `C_Cpp.default.intelliSenseMode` setting is working as intended.

[2018-09-03 12:18] malchera commented on #409
Any updates on this matter? Still not working for RHEL7.4. `sudo` is not an option for me, as I am working on a cluster.

I'd vote for reopening this issue as this does not seem to be fixed.

[2018-09-03 13:16] Flamefire commented on #407
@hoffmael Great example why this is required. I ran into pretty much the same thing. What is even worse: It breaks folding of whole namespaces making that completely useless.

Note why this breaks (https://github.com/Microsoft/vscode/issues/57696#issuecomment-418108134):

[2018-09-03 14:10] vanheck commented on #2452
Should I do something with it?

[2018-09-03 14:37] harmishhk commented on #861
Workaround by @bugraaydogar works, however I still always get the prompt "Superuser access is required to ... ". Is there any way to avoid this prompt and directly start the debug session? Or save my preference 'y' for this prompt on first use and not ask again every time I start a debug session?

[2018-09-03 14:39] rtosman commented on #296
When you do bring over intellisense please base it on libclang. In the current intellisense (in VisualStudio 2017) I have code that compiles correctly (I am using the clang tools extension with clang 6.0: https://marketplace.visualstudio.com/items?itemName=LLVMExtensions.llvm-toolchain) but according to intellisense the source has errors, because (I presume) it uses a faulty msvc front end (it is

[2018-09-03 15:27] yrpark99 commented on #2437
Hello,

I have exactly same issue, and eagerly looking for a fixed solution, but no luck.
Actually I have not seen this issue with old version (vscode + cpp tools).

Thank you.

[2018-09-03 16:36] sumonero commented on #296
I think it's better to just say not to use VS2017's compiler.
I have the same problem from the start of VSCode project.
I would prefer GCC.

[2018-09-03 16:46] sivamukesh opened #2480 "cannot open source file "stddef.h" (dependency of "stdio.h")"

[2018-09-03 16:47] sivamukesh commented on #2480
how to solve the issue faced while compiling a c code

[2018-09-03 17:03] rtosman commented on #296
I'm not using msvc, I am using clang, however, intellisense still uses the msvc front end apparently, which leads to a disconnect between what is actually compilable and  what intellisense thinks is compilable. If intellisense is based on libclang (for vscode) then everything will be good, if it is based on msvc then it will be bad. I can live with the issue in Visual Studio, but I would like to n

[2018-09-04 07:26] zigang93 commented on #273
ya.. i am facing this issue too..
codebase around 1xxx file

[2018-09-04 11:51] showching opened #2481 "when editing cpp files with nested #if directives, screen becomes zig zag jig jag"
**Type: LanguageService**

**Describe the bug**
- OS and Version: CentOS 7.5
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): GBKtoUTF8, Git History, gitignore, Python
- A clear and concise description of what the bug is.
When editing cpp files with nested #if directives, screen becomes zig zag jig jag.
*

[2018-09-04 15:57] bobbrow commented on #2477
I have an idea of what this might be.  VS Code only queries us once and if it does it before the database has been initialized, we return no results.  The behavior was added long before outline view existed. There's no way for us to distinguish between a request for outline view versus a standard document symbol request (which can be discarded in hopes that another one will come in).

[2018-09-04 16:09] bobbrow commented on #2424
@mheden are you setting `"compilerPath"` property at all?  If you don't then our extension will look for one.  And if we find and query Clang for the include path on Windows, it will list the Windows SDK (if installed).  The Windows SDK does not work with gcc/clang mode IntelliSense, so we switch back to msvc under the hood.

If you are working on an ARM code project as @csholmq mentions, then I w

[2018-09-04 16:16] bobbrow commented on #296
@rtosman, our IntelliSense engine has [clang and gcc compatibility modes](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/c_cpp_properties.json.md#intellisensemode).  If you are seeing incorrect error squiggles with those modes, please open a new issue and we'll investigate getting them fixed.  This issue is about support for renaming.

[2018-09-04 16:21] bobbrow commented on #2481
Our extension isn't in control of any of the editor's rendering.  Can you open an issue in the [VSCode repository](https://github.com/Microsoft/vscode/issues/new/choose)?

[2018-09-04 16:45] rtosman commented on #296
@bobbrow , I was referring to what *visual studio* does, in the context of this discussion with reference to the comment from @sean-mcmanus "Yeah, most of the top features are dependent on the multiple translation unit IntelliSense component, which hasn't been ported from VS 2017 yet."

I have compatibility mode in *vscode* set to "clang-x64" and it works fine within the limitations discussed.  My

[2018-09-04 17:00] sumonero commented on #296
I would like to base it on GCC.

[2018-09-04 17:09] rtosman commented on #296
@sumonero sure, that works as well. The specific code in question compiles fine with gcc as well, so I have no hard data to prefer clang over gcc in that respect.

[2018-09-04 17:24] bobbrow commented on #296
We actually do not use MSVC for IntelliSense (nor does Visual Studio).  We use a different front-end which supports msvc, gcc, and clang modes.  If you can open an new issue and show us which cases are providing incorrect squiggles for you, we can work to improve our existing implementation.

I'm not following you. Our goal is to provide an accurate linting experience, so if there are false errors

[2018-09-04 17:47] rtosman commented on #296
@bobbrow my apologies, I didn't think this was a forum where it would be appropriate to report issues with *Visual Studio* (and they really don't bother me that much as I use *vscode* predominantly).

No, I have not had issues with *vscode* (I wasn't surprised as I didn't believe that it was doing sufficient analysis to detect the type of error that is being reported by intellisense on *Visual Stu

[2018-09-04 18:33] sean-mcmanus commented on #2478
Thanks for reporting this. It repros with VS 2017, so I've reported it there: https://developercommunity.visualstudio.com/content/problem/327851/c17-auto-in-function-template-triggers-false-posit.html .

UPDATE: The fix will be in our next Insiders release (0.21.0-insiders), probably next week.

[2018-09-04 19:06] sean-mcmanus commented on #296
@rtosman You're supposed to be able to get IntelliSense to work with clang in VS via setting the CppProperties.json correctly -- see https://docs.microsoft.com/en-us/cpp/ide/non-msbuild-projects?view=vs-2017#configure-intellisense-with-cpppropertiesjson . If you have problems getting that to work, I would recommend using the "Report a Problem..." feature in VS (I created an issue at https://develo

[2018-09-04 19:09] sean-mcmanus commented on #2480
@sivamukesh Yeah, do you have a compilerPath set? Can you provide your c_cpp_properties.json?

[2018-09-04 19:42] rtosman commented on #296
@sean-mcmanus  Correct me if I am wrong, but I believe the CppProperties.json file only works for "Open Folder" projects.  Can CppProperties.json be used with solution file based projects as well?

I am using a solution and I have set the toolchain to "llvm" in the project properties so I expect that setting to be passed on to intellisense.

[2018-09-04 19:45] sean-mcmanus commented on #296
@rtosman Yeah, you're right, it's for Open Folder, not projects. If you're using the a project, the "mode" is supposed to be picked up by IntelliSense from the project.

[2018-09-04 19:52] rtosman commented on #296
@sean-mcmanus  thanks for confirming. We are off track now though, as I really wasn't look for a fix to Visual Studio, as I use VS Code mostly :-)

FWIW. I did try setting the intellisense mode in c_cpp_properties.json under vscode to "msvc-x64", and I didn't get the errors that I get with Intellisense under Visual Studio 2017.

[2018-09-04 20:15] rtosman commented on #296
@sean-mcmanus  @bobbrow  Actually, after looking carefully at my *vscode* intellisense configuration, I realized I had a misconfiguration.  I fixed the misconfiguration, and now I do get the erroneous error report from intellisense on *vscode* (the same as I get with intellisense on Visual Studio).

Here is my c_cpp_properties.json file:
{
    "configurations": [
        {
            "name": "Win

[2018-09-04 20:26] sean-mcmanus commented on #296
@rtosman As mentioned previously, the msvc front-end is implemented in cl.exe (c1xx.dll), and we don't use any of that code. Clang on Windows uses Microsoft extensions (msvc-x64 mode, not clang-x64) in order to compile the Windows headers and it is a different mode than the non-Windows clang (i.e. via /usr/bin/clang with WSL). What bug are you experiencing exactly? Can you file a new issue with th

[2018-09-04 20:29] BillPlunkett commented on #833
I'm also encountering this issue. Has there been any resolution?

[2018-09-04 20:30] rtosman commented on #296
@sean-mcmanus Did you look at my compiler explorer link from my comment above. That details the error very concisely.  The error log from my actual code base (the compiler explorer link is a reduced example) within vscode is:
![image](https://user-images.githubusercontent.com/6283239/45056043-95123d80-b046-11e8-88f4-665dc762e746.png)

Yes, now that I know it exists in vscode I will file a report.

[2018-09-04 20:31] btashton commented on #833
@billplunkett I never did come to a solution. Still happy to dig in if @pieandcakes has any ideas.

[2018-09-04 20:35] pieandcakes commented on #833
@btashton This is something that's on my list to investigate but I haven't gotten to it yet. To clarify, you were sending `kill -2 <pid>` locally (not on the gdbserver side) to pause debugging?

[2018-09-04 20:37] BillPlunkett commented on #833
Yes, kill -2 <pid> works for me as well.

[2018-09-04 20:39] btashton commented on #833
Yes that is correct. In my case OpenOCD is providing the gdbserver protocol.

[2018-09-04 20:39] BillPlunkett commented on #833
I'm running VSCode 1.26.1; target is Raspberry PI

[2018-09-04 20:39] rtosman opened #2482 "Intellisense marks up code with errors when the code compiles without error"
**Type: LanguageService**

**Describe the bug**
- OS and Version:  Windows 10
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): N/A
- A clear and concise description of what the bug is.

Intellisense reports a scoping error with a lambda that doesn't actually exist. In fact, msvc fails to compile the code,

[2018-09-04 20:42] BillPlunkett commented on #833
Apologies, I am issuing the kill -2 pid command from a shell on the target.

[2018-09-04 20:43] pieandcakes commented on #833
@billplunkett can you try and do it on the local side or are you running on Windows?

[2018-09-04 20:45] BillPlunkett commented on #833
Sure.  I'm running Linux.  How exactly do you suggest I send kill -2 pid to the target from my dev machine?

[2018-09-04 20:46] pieandcakes commented on #833
@billplunkett I'm looking for you to issue `kill -2 <pid of gdb>` on your dev machine. I'm trying to ascertain if this will then send SIGINT to the target through `gdb`. If that works, then it'll make it easier for me to put in a fix.

[2018-09-04 20:48] BillPlunkett commented on #833
Got it.  Unfortunately, that seems to have no effect.

[2018-09-04 20:52] pieandcakes commented on #833
@billplunkett can you try and add
[code]

to your `launch.json` and then try the local kill again? @am1ko above says that worked for them.

[2018-09-04 20:53] BillPlunkett commented on #833
hahaha, you're one step ahead of me, @pieandcakes.  When I add the following:
"setupCommands": [
{
"text": "set target-async off"
},
I am able to pause by issuing kill -2 pid locally to gdb!

[2018-09-04 20:54] pieandcakes commented on #833
@BillPlunkett ok good to know. I'll see if I can get a fix in for next release.

[2018-09-04 20:55] BillPlunkett commented on #833
Awesome, thank you.

[2018-09-04 21:08] sean-mcmanus commented on #2482
Thanks for reporting this. We currently force the "clang-x64" mode to be "msvc-x64" mode (required to parse the Windows headers) leading to https://developercommunity.visualstudio.com/content/problem/327884/c-compiler-fails-to-compile-lambda-that-captures-a.html , but it seems like we need to use some additional flags to differentiate the "clang on Windows" scenario for when clang.exe behavior is

[2018-09-04 21:23] jeremyong opened #2483 "Intellisense errors are associated with case-insensitive files on Windows"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 17134.228
- VS Code Version: 1.26.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

Errors and warnings reported after a C++ compilation are associated with case-insensitive files such that clicking

[2018-09-04 23:26] sean-mcmanus commented on #2482
Is your compilerPath supposed to use clang++.exe (with the .exe). It looks like it may be falling back to another default compiler. You can check what compiler is being used via setting the C_Cpp.loggingLevel to "Debug" and viewing the C/C++ output window after opening a new file.

I'm getting a crash when c++17 is used, but I repro the "undefined" issue when c++14 is used.

[2018-09-04 23:49] rtosman commented on #2482
@sean-mcmanus It seems to be working ok (perhaps it is finding the compiler on the system PATH?)

Here is the output with C_Cpp.loggingLevel set to "Debug"

textDocument/documentSymbol
sending compilation args for {path redacted for privacy}/FRAME.CPP
  include: C:\SFML-2.5.0\INCLUDE
  include: C:\PROGRAM FILES\LLVM\LIB\CLANG\8.0.0\INCLUDE
  include: C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO\

[2018-09-05 00:18] sean-mcmanus commented on #2482
If it's not crashing for you, it might be because I'm using newer 15.9 VC++ headers or my clang version is different (6.0).

Yeah, the use of "msvc" mode is intentional; otherwise, the VC++ headers fail to get parsed. It looks like our parser doesn't emulate the "clang on Windows" scenario well (a major amount of work).

The most likely fix will be when cl.exe fixes the bug and then our IntelliSen

[2018-09-05 00:25] rtosman commented on #2482
Yeah, it seems like you probably need a "clang with -fms-compatibility -fms-extensions" mode.

[2018-09-05 00:37] sean-mcmanus commented on #2482
We use -fms-extensions for MinGW on Windows and that works, but clang + -fms-extensions (haven't tried -fms-compatibility yet) still isn't parsing the VC++ headers -- we might need to dig further into why.

[2018-09-05 00:39] rtosman commented on #2482
I've never been able to compile windows code without both switches.

[2018-09-05 00:51] showching commented on #2481
But the issue appears when the extension is enabled and disappear when it is disabled. Maybe it's the VSCode issue, but I'm afraid they would say it's an extension issue, because I works without the extension. So, could you please troubleshoot first, and confirm it's a VSCode issue? Thanks!

[2018-09-05 01:02] sean-mcmanus commented on #2481
That's okay if the issue only repros with our extension -- the repro appears to require our extension's usage of the transparent rendering for inactive text blocks -- there is virtually no way our extension could be the cause of the bug still because we implement none of the rendering -- we just tag the text as being non-opaque, which works in general except for when VS Code has this bug.

[2018-09-05 01:49] showching commented on #2481
Just reported it to VS Code, hope they will take the issue and resolve it. Thanks!

[2018-09-05 03:11] qzxuhui commented on #230
so until now, Is there any progress on
"highlighted the structure/class name when it be used to declare an object" ？
thanks.

[2018-09-05 06:08] fredijude opened #2484 "search symbol using the pattern of "Class::Function" is not working"
Type: Symbol Search Across Files
I am working on a c++ code base. i want to search the member function of a specific class using go to a symbol in workspace/file by inputting "#Class::FunctionA". This doesn't work as expected. It's not able to filter and give the result.

OS and Version: Windows 10
VS Code Version: 1.25.1
C/C++ Extension Version: 0.18.1

[2018-09-05 12:19] csholmq commented on #2424
@bobbrow Right. Since the compiler is embedded with each project I don't have a system default one. So I would prefer to keep it blank at this time.

Is this all working for me because I have WSL installed and it succeeds to detect GCC there? And subsequently because @mheden had Clang installed it detected that first.

[2018-09-05 15:17] bobbrow commented on #2483
Did you create a case-sensitive folder on Windows?  We don't currently support those unless you are also referencing a WSL compiler in your c_cpp_properties.json configurations.

[2018-09-05 15:25] bobbrow commented on #2484
Are you seeing multiple symbols for FunctionA attached to other types?  If so, then this is a duplicate of #255 which we are working on right now.

[2018-09-05 15:36] bobbrow commented on #2424
In the search for compilers on Windows, we will pick GCC on WSL before we will pick Clang.

If you are doing mostly ARM development, I don't think it will hurt to set `C_Cpp.default.compilerPath` to your ARM compiler.  You can always set "compilerPath" in `c_cpp_properties.json` to override the default, and if you forget to set it for a given folder, you will at least have something closer to corr

[2018-09-05 17:45] chkp-roic opened #2486 "Custom launch configuration provider"
Type: Debugger
Is there a feature allowing me to add a custom launch configuration provider like the one used for includePath, defines and so on?
Does the debugger looks for symbol in the project browse.path?

This feature would be really useful for me, if it doesn't exist, does it somewhere on the roadmap?

[2018-09-05 17:56] pieandcakes commented on #2486
@roicpp The debugger does the searching based on what you set `cwd` to. If you want to specify additional paths, you can add `additionalSOLibSearchPath` to your `launch.json` to tell `gdb` or `lldb` where to find the additional symbols, or use `symbolSearchPath` for the Windows C++ debugger.

[2018-09-05 17:57] pieandcakes commented on #2486
On the first question about the provider, I don't understand what you are looking for. Our code is in this repository under the `Extension` folder if you want to look through it. We welcome contributions by the community.

[2018-09-05 17:58] pieandcakes commented on #2356
Closing until more information is provided.

[2018-09-05 17:58] #2356 closed, assigned to nobody

[2018-09-05 18:01] bobbrow commented on #2486
@roicpp is looking for integration with a build system extension to provide the symbol paths without requiring additional configuration in `launch.json`.  The language server does this for `c_cpp_properties.json` with our exported API. https://www.npmjs.com/package/vscode-cpptools.

[2018-09-05 18:07] chkp-roic commented on #2486
True @bobbrow , thanks for the clarification.
@pieandcakes , regarding my first question, I've already checked the source and could not find anything. Basically I want my extension to provide launch configurations on the fly, similar to vscode registerTaskProvider or cpptools CustomConfigurationProvider.

[2018-09-05 18:08] pieandcakes commented on #2486
If its for `launch.json` it should be the same as the Custom Configuration Provider but you would have to still "choose" it.

[2018-09-05 18:12] chkp-roic commented on #2486
I don't think I completely understood you. The user should choose the desired "launch task" or launch.json. I want my extension to be responsible for supplying those different launch configuration on the fly without first defining a launch.json file.

[2018-09-05 18:13] bobbrow commented on #2486
oh, are you the extension author @roicpp?  If you are writing the extension, I thought VSCode exported an interface that would let you do this:

**vscode.d.ts**
[code]

Or is this just to aid in creating json entries in launch.json?  @pieandcakes would have more experience with this than I would.

[2018-09-05 18:13] sean-mcmanus commented on #230
@qzxuhui No work has started on that yet -- it's around number 6 on our major feature TODO list.

[2018-09-05 18:15] pieandcakes commented on #2486
Yea, that's the interface you have to provide. We do it [here](https://github.com/Microsoft/vscode-cpptools/blob/master/Extension/src/Debugger/extension.ts#L32) which calls into our `configurationProvider.ts` code. What that will do is provide additional entries in the drop down for configurations when there is no `launch.json`.

If you are looking for configurations for the `Add Configuration` bu

[2018-09-05 18:25] sean-mcmanus commented on #2484
@bobbrow My Go to Def work shouldn't alter the symbol search behavior. The `#Class::FunctionA` syntax isn't even supported in the VS 2017 "Go to Symbol".

[2018-09-05 18:25] pieandcakes commented on #2374
Currently, since it is an unhandled exception, they are always caught as we're assuming a program crash shortly after. In this case, my assumption is that the AV program catches it through a different process (which we can't detect) and it doesn't crash. I'll see if I can find more information and I'll let you know.

[2018-09-05 18:29] chkp-roic commented on #2486
Thanks for the info guys!
I believe most of my code will be similar to yours(gdb/gdbserver...), except stuff like symbol fetching and 1st transferring gdbserver to the target machine.
I hoped code duplication could be avoided, but I guess interacting directly with vscode APIs will give me the greatest flexibility.

[2018-09-05 18:35] jeremyong commented on #2483
No I'm not using that feature at all and I am using the MSVC compiler. Clicking all errors and warnings result in the same "File not found" issue with an all-lowercase path (which is otherwise correct) and I'm forced to navigate manually for each error making the editor somewhat unusable.

[2018-09-05 18:45] sean-mcmanus opened #2487 "No way to set the VC++ include path when the compilerPath is clang on Windows"
If the compilerPath is cl.exe, the path is used to obtain the matching headers, but if the compilerPath is clang.exe then there's no way to change the VC++ system header path used, which is a problem when the latest one that is chosen is not the one desired -- an additional setting could be added, but I assume few people actually hit this problem though.

[2018-09-05 19:38] bobbrow commented on #2483
Does the output in the terminal show all lower-case file names?  That would mean that your build system is changing the filenames to lower-case.

What build system and problem matcher are you using?  Can you share the relevant task from your `tasks.json`?  Have you verified that the path is actually correct?  Sometimes build systems will return a relative path from the wrong root folder and VS Cod

[2018-09-05 20:38] pieandcakes commented on #2374
On the other hand if you want the error not to show up in the output window, you can add:
[code]
to your `launch.json` and it won't fill up your output window, but it will also suppress all other exceptions. You will still stop at them though.

[2018-09-06 00:38] sean-mcmanus opened #2488 "Step into specific ability"
Debugging with VS allows "Step into specific", which is useful when the currently line has a bunch of contructors/conversions that get invoked for parameters to a function (e.g. shared_ptr move constructors), so "Step into specific" enables stepping into the actual method that is desired.

Using Go to Def and setting a breakpoint in the definition is sometimes a workaround (versus a bunch of step

[2018-09-06 10:45] yamcenutzer commented on #409
this used to work  but I forgot how far back that was, obviously earlier than the oldest 17.3 version that is available from releases.
also using Centos/RHEL 7.xx

[2018-09-06 11:01] chrisjallen commented on #1517
@melak47 Hi did you find any resolve to this, could you point me to any ticket made on vs code? Thanks

[2018-09-06 13:26] yamcenutzer opened #2489 "Centos/RHEL7: Unable to start debugging. Failed to initialize debugger terminal."
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
-Centos 7.3, 7.4, 7.5:
- VS Code Version: 1.26.1
- C/C++ Extension Version: 017.3 ... 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): cm

[2018-09-06 16:54] 3v1n0 opened #2490 "Syntax highlighting is wrong when using double-quote as a char ('"')"
Versione: 1.26.1
Commit: 493869ee8e8a846b0855873886fc79d480d342de
Data: 2018-08-16T18:34:20.517Z
Electron: 2.0.5
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architettura: x64

This is what I'm getting when opening a C file with this code:

[code]

Which generates this. I'ts like the ending `'` isn't keept in consideration for terminating the string.

![immagine](https://user-images.githubu

[2018-09-06 18:06] g-arjones opened #2491 "Variable expansion does not work for default setttings"
Type: General
- OS and Version: Ubuntu 16.04
- VS Code Version: 1.27.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): none
- Variables expansion do not work for default settings

Steps to reproduce the behavior:
1. Open user settings.json
2. Add ""C_Cpp.default.compileCommands": "${workspaceRoot}/build/compile_commands.json"

**

[2018-09-06 18:50] sean-mcmanus commented on #2490
Hmm...I don't see any bug. Do you know what you could be doing differently? What version of VS Code are you using? What OS?

![image](https://user-images.githubusercontent.com/19859882/45178608-07138f80-b1cb-11e8-9ac0-8060e96d6440.png)

[2018-09-06 19:17] sean-mcmanus commented on #2491
Hmm...it's working for me. It's possible something else is causing your compile_commands.json to not be used. In the error message we send back, we show "${workspaceFolder}" intentionally. If the path doesn't exist, it will be silently ignored (it might be better if we showed some warning message). @bobbrow Are you able to repro any issue?

[2018-09-06 19:27] bobbrow commented on #2490
It could be a bug with a certain theme. None of the default VS Code themes italicize keywords. @3v1n0 what theme are you using?

[2018-09-06 19:28] g-arjones commented on #2491
Is ${workspaceFolderBasename} supposed to be expanded as well?

[2018-09-06 19:29] bobbrow commented on #2491
We don't currently support that particular variable.

[2018-09-06 19:31] g-arjones commented on #2491
Is there any way to get the path where the .code-workspace file is?

[2018-09-06 19:32] bobbrow commented on #2491
I don't believe VS Code has a variable for that.  https://code.visualstudio.com/docs/editor/variables-reference

[2018-09-06 19:33] g-arjones commented on #2491
Any plans to add support for ${workspaceFolderBasename} ? Maybe I can open a pull request for that if you point me in the right direction...

[2018-09-06 19:48] bobbrow commented on #2491
You could search for usages of `util.resolveVariables` and add `"workspaceFolderBasename": <value>` to the  `additionalEnvironment` passed in.
* For `configurations.ts` you should be able to get that value by extracting it from `this.rootUri`.
* For `client.ts` you should be able to get it from `this.Name`.

[2018-09-06 19:58] g-arjones commented on #2491
Great! I will give it a try... Thanks.

[2018-09-06 20:00] yamcenutzer commented on #2489
I tried to point the vscode guys to this issue:
They closed it.
https://github.com/Microsoft/vscode/issues/58091

[2018-09-06 20:05] kaloianm opened #2492 "C++ debugging on macOS gets stuck with message "Unrecognized format of field "msg" in result""
Hello,

I am occasionally using VSCode and the Microsoft C++ extension for MongoDB server development on macOS. When I try to debug any of the produced binaries (which are compiled with debugging information enabled and no optimizations), the debugger just gets stuck and the process remains stuck in unkillable state.

OS version: macOS 10.13.6
VS Code Version: 1.27.1
C/C++ Extension Version: 0.18.

[2018-09-06 22:07] 3v1n0 commented on #2490
This is vscode 1.26.1.

It's not theme dependent, but it works properly if you set "Language: C", while it doesn't if you select "Language C/C++".

[2018-09-06 22:18] sean-mcmanus commented on #2490
Yeah, I tried with C and C++. Is there some additional code beforehand that is required for the repro?

[2018-09-06 23:04] 3v1n0 commented on #2490
Nope, I've noticed that in [this file](https://git.savannah.gnu.org/gitweb/?p=gettext.git;a=blob;f=gettext-tools/src/x-javascript.c;h=2db00abe6cd058de2743f787bd6c801d78791a79;hb=HEAD#l1197)

[2018-09-07 00:49] mattaereal commented on #409
I'm using Arch Linux updated to date, and I'm having the same issues described above.

[2018-09-07 01:00] pieandcakes commented on #2489
@yamcenutzer I think your comment that the extension fails is incorrect. You should point them to the comment that 1.23 + latest extension works fine but 1.26.1 + latest extension does not. That seems to be why they closed it.

Beyond that, I know a `gnome-terminal` update changed the executable in the `bin` folder to be a script calling the actual executable now which someone reported being a pro

[2018-09-07 01:04] pieandcakes commented on #2489
[Here](https://github.com/Microsoft/vscode-cpptools/issues/409#issuecomment-335670023) is the actual comment

[2018-09-07 01:05] pieandcakes commented on #409
Can any of you who are not running into the RHEL sudo issue see if [this](https://github.com/Microsoft/vscode-cpptools/issues/409#issuecomment-335670023) comment fixes your problem?

[2018-09-07 01:10] pieandcakes opened #2493 "Debugging sudo process on RHEL/Centos not working"
See comments from https://github.com/Microsoft/vscode-cpptools/issues/409#issuecomment-377609558 on down.

[2018-09-07 01:10] pieandcakes commented on #409
For the RHEL/Centos problem, I filed a new issue: #2493

[2018-09-07 03:38] hawkinchina opened #2494 "when you define new struct type without name, the ouline display _unnamed_struct_1afa_1 info"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macos 10.13
- VS Code Version: 1.27.0
- C/C++ Extension Version: 0.18.1

 **Detail Test Issue description**
           When you define a new struct type without name, just like typedef struct { ... } MyNewBufferContext. the ouline of VS Code display _unnamed_struct_1afa_1 and  its field variables and MyNewBufferContext. is it ok? or

[2018-09-07 03:58] g-arjones commented on #2491
Done: #2495

[2018-09-07 05:14] Evan-Nishi opened #2496 "Please Help!"
I need help trying to set up visual studio code to program c.  I am trying to use coderunner and whenever I try to run my program this message keeps popping up.    "#include errors detected. Please update your includePath. IntelliSense features for this translation unit (C:\\Users\\evank\\Desktop\\C coding lang\\.vscode\\Storage for c\\Test.c) will be provided by the Tag Parser."

I don't know how

[2018-09-07 05:50] nebulabox commented on #2496
https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Getting%20started%20with%20IntelliSense%20configuration.md

[2018-09-07 06:20] snanurag commented on #16
waiting for this feature. Daily waste like an hour because of absence of this feature!!

[2018-09-07 08:59] melak47 commented on #1517
@chrisjallen #255

[2018-09-07 10:08] jackcoach opened #2497 "Missing mono executable - Ubuntu 16.04 (aarch64)"
I compiled and launched VsCode Version: 1.28.0
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41

The architecture is aarch64 (Nvidia Jetson TX2).

Then I installed the cpptools extension via VSIX file, but when I launch the debug process I always get the  "Debug adapter process has terminated unexpectedly" error - after which I cannot launch anymore debugs.

The Intellisense fea

[2018-09-07 11:50] Kaznov opened #2498 "[C++] Single quotes in numeric literals used with user-defined numerals are parsed incorrectly"
Issue Type: <b>Bug</b>

If .cpp file contains following code:
[code]

From the second line on, everything after single quote is highlighted as a string literal.

Extension version: 0.18.1
VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:34:20.517Z)
OS version: Linux x64 4.15.0-33-generic

[2018-09-07 12:42] yamcenutzer commented on #2489
Let me summarize this differently:

cpp-tools debugging does not work on Centos7 when installed on top of vscode 1.26 or later. I don't know about other *IXEN, (esp. older ones from the 'enterprise' world with ancient glibc, gcc etc) but wouldn't be surprised if there are similar problems there.
Centos/RHEL is not exactly a rarity in the real world.

If I set up a new Linux (Centos) machine today

[2018-09-07 14:07] Evan-Nishi commented on #2496
Thank you very much!

[2018-09-07 14:17] ymn1k commented on #65
WinDbg has extremely useful feature which is Time Travel Debugging.

[2018-09-07 17:12] bobbrow commented on #2494
This is expected.  The unnamed struct is the "definition" and `MyBufferContext` is the typedef alias.  Since there may be more than one unnamed struct in a translation unit, the IntelliSense engine assigns unique names to each one.  Perhaps we can make the unique name look less strange, but we followed Visual Studio's implementation for this.

[2018-09-07 17:24] bobbrow commented on #2498
it's the user-defined literal (`ms`) that's tripping up the colorizer.  This is https://github.com/atom/language-c/issues/127

[2018-09-07 17:26] bobbrow commented on #2496
Thanks for jumping in here @nebulabox!

[2018-09-07 17:26] #2496 closed, assigned to nobody

[2018-09-07 17:35] pieandcakes commented on #2497
@jackcoach if you build your own VS Code, your extensions are installed into `~/.vscode-oss-dev` .

It looks like you are on ARM64. If so, you need to download a separate supported `mono` executable for that architecture as we don't support it out of the box.

[2018-09-07 17:45] pieandcakes commented on #2497
We use `mono` version `4.2.3.4` but It looks like they don't even have an arm64 package until `4.6.1.3`. You can try downloading it from [here](http://download.mono-project.com/repo/debian/pool/main/m/mono/mono-runtime-sgen_4.6.1.3-0xamarin1_arm64.deb) or using a package manager to download latest. All you need is the `mono` executable which should be labeled `mono-sgen`.

[2018-09-07 17:47] pieandcakes commented on #2489
@yamcenutzer Can you confirm the issue is that `gnome-terminal` is a python script and that is the problem? I'm working on supporting the VS Code style terminal which should remove this dependency but if that is the problem, it might be something we can try and fix quickly.

[2018-09-07 20:01] pieandcakes commented on #2492
@kaloianm Can you enable [engine logging](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and see what the error in the msg field is?

Is this from the UI? Can you confirm by trying `-exec thread list` in the VS Code debug console to see
if they are actually stopped? Our debug engine should always stop all threads and continue all threads so th

[2018-09-07 20:13] yamcenutzer commented on #2489
I'll try this weekend at home. out of office now..

[2018-09-07 20:14] pieandcakes commented on #2489
Ok thank you!

[2018-09-07 21:46] go2sh commented on #2230
Microsoft/language-server-protocol#327 is fixed. This feature would rock the world. Especially for editing large files and classes.

[2018-09-07 22:13] #2491 closed, assigned to nobody

[2018-09-07 22:54] ivankravets commented on #763
@derasd Please move your issue to https://community.platformio.org/c/troubleshooting/pio-plus

We've released recently new v1.1.1 version of our IDE. Please update.

Also, this thread could be useful https://community.platformio.org/t/esp32-pio-unified-debugger/4541/

[2018-09-07 23:18] zerog2k opened #2499 "request to support sdcc mcs51 declarations (__sfr, __sbit, etc)"
sdcc, which is quite popular open-source, free embedded compiler, uses special extensions for intel 8051 (aka mcs51) define special function registers and other similar things (like code, ram space, etc)
e.g.
[code]

extensions are discussed further in section 3.5.1 of sdcc user guide:
http://sdcc.sourceforge.net/doc/sdccman.pdf

We are using sdcc for a new platformio intel-mcs51 platform, (https:

[2018-09-08 02:00] sean-mcmanus commented on #2159
@BSCCO This is a bug with the parser -- it's failing when "interface" is a parameter. Visual Studio has the same bug. I've filed it at https://developercommunity.visualstudio.com/content/problem/331482/c-go-to-definition-fails-when-interface-is-paramet.html .

[2018-09-08 03:57] sean-mcmanus opened #2500 "Outline doesn't update correctly after edits"
When new symbols get added to the current document, the Outline isn't updated until another edit occurs (after saving) -- this is because we return the documentSymbol results before we've finished processing the edits.

[2018-09-08 04:01] Evan-Nishi commented on #2496
Wait how do I tell what to input in the json

[2018-09-08 07:08] jackcoach commented on #2497
Hello, I installed the updated mono executable and the debugger runs just fine, thank you very much!

Still, the Intellisense feature fails to start when opening my project's folder, giving me these error messages:

[code]

[2018-09-08 11:00] pewscorner commented on #2477
I never see the issue for python and javascript files (and the breadcrumb display works fine in those files too, whereas it often fails in c/cpp files even when the symbols are available).

The ms-python.python extension somehow manages to populate the outline view correctly, even though it takes a long time to gather the symbol info. Before the symbol info is available, the outline view displays

[2018-09-08 14:05] huili80 commented on #2244
any updates on this?

[2018-09-08 14:10] yamcenutzer commented on #2489
installed a new centos7 in a VM (it really is easy on a win10 hyperv, no hitches, gen2 and go).
- gnome-terminal is a binary /usr/bin/gnome-terminal
- I can invoke gnome-terminal from my ssh client, but NOT from the terminal window in vscode (1.27)

update: I found an old pc and installed C7 on it to test vscode run natively (not over ssh/X).
Apart from everything GUI being faster (obviously) the

[2018-09-08 18:22] Evan-Nishi opened #2501 "Visual studio code"
I keep getting this error when editing my c code in visual studio code.
 'gcc' is not recognized as an internal or external command,
operable program or batch file.
Also I don't know how to edit my include path to allow me to use  the include path.  When I click on the light bulb it takes me to c_cpp_properties.json.   I could really use some help.  Thanks! #545

[2018-09-08 19:02] bool3max commented on #2501
This is the place for bug reports related to the extension, not a place to ask for help.

I find it absolutely stunning that a person will construct an entire issue report on GitHub before they go and read the instructions for the software they have trouble using.

Take a look at [this](https://code.visualstudio.com/docs/languages/cpp) article.

[2018-09-08 19:25] Evan-Nishi commented on #2501
I actually looked at this document because it was linked on the help page of the VS code and installed the C/C++ extension already, but the green line under the #include<stdio.h> did not direct me to add to includepath.     I also did not find anything that helped on the gcc error.  I apologize that I used the "issues" section of GitHub in the wrong way.  Could you please direct me to a website wh

[2018-09-08 20:16] bool3max commented on #2501
Well for one, you didn't even specify the platform you were on, the `C/C++` compiler which you're using (both of which are crucial for the issue you're having), nor any of the versions (which are all predefined in the issue template for this repository), so even if someone wanted to help you (me right now) they couldn't.

[2018-09-08 22:37] Evan-Nishi commented on #2501
Oh sorry, I'm on windows 10, I am using code runner extension to run my C and I am using version 0.9.4 for code runner, 0.18.1 for the c extension and I am using 1.27 for the vs code.  By the way can you please recommend me to a website where I can ask theses questions?

[2018-09-09 08:01] hawkinchina commented on #2494
OK. thanks a lot..

[2018-09-09 08:01] #2494 closed, assigned to nobody

[2018-09-10 02:18] PaleNeutron commented on #1839
[code]
An alternative way, save these code as `build.bat` then call it in task.json.
[code]

Not graceful, but work.

[2018-09-10 11:24] femvc commented on #2480
I have this error, too, c_cpp_properties.json like this

{
    "configurations": [
        {
            "name": "Win32",
            "includePath": [
                "${workspaceFolder}/glibc/**"
            ],
            "defines": [
                "_DEBUG",
                "UNICODE",
                "_UNICODE"
            ],
            "intelliSenseMode": "msvc-x64"
        }
    ],
    "ver

[2018-09-10 15:18] bobbrow commented on #2497
If you run `/home/nvidia/.vscode-oss-dev/extensions/ms-vscode.cpptools-0.18.1/bin/Microsoft.VSCode.CPP.Extension.linux` in a terminal window, do you get any errors?

[2018-09-10 15:26] bobbrow commented on #2477
Each language extension implements this differently.  If you close and reopen the c file, do you get an Outline on the second try?  If you don't then my hypothesis is incorrect.

[2018-09-10 15:32] bobbrow commented on #2501
It's ok to ask questions here.  The configuration file documentation is here:  https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/c_cpp_properties.json.md

To edit the configuration, open the Command Palette (<kbd>CTL</kbd>+<kbd>SHIFT</kbd>+<kbd>P</kbd>) and start typing "Edit Configurations" to find the "C/Cpp: Edit Configurations..." command.

The settings you

[2018-09-10 15:39] bobbrow commented on #2480
@femvc which compiler are you using?  Based on what I see here, the extension is probably unable to find your compiler and related system headers.  Can you try setting the `compilerPath` property (you might need to change `intelliSenseMode` to `gcc-x64` if you're using MinGW)?

[2018-09-10 16:28] jackcoach commented on #2497
Hello @bobbrow , there's nothing in there named Microsoft.VsCode.CPP.Extension.linux, the content of the bin folder is the following:

[code]

[2018-09-10 17:17] huili80 opened #2502 "gdb error: Unrecognized format of field "id" in result"
trace logging output as follows (sorry for posting this again as a new issue, but the original issue #2244 is not getting any response ever since it was marked as more info needed).

E output: {"category":"stderr","output":"ERROR: Error while trying to enter break state. Debugging will now stop. Unrecognized format of field "id" in result: result-class: done\r\nthreads: [{id=1,target-id=Thread 0x7

[2018-09-10 17:35] bobbrow commented on #2497
It seems that the extension is not installed properly.  Can you try reinstalling it?  If the version from the extension gallery is not working, you can try downloading the full package from our releases page (This is the 64-bit linux package: [cpptools-linux.vsix](https://github.com/Microsoft/vscode-cpptools/releases/download/v0.18.1/cpptools-linux.vsix)) and using the "Install from VSIX" command

[2018-09-10 18:12] sean-mcmanus commented on #2477
I believe I have I've already fixed this on Friday while investigating https://github.com/Microsoft/vscode-cpptools/issues/2500 . We weren't waiting till accurate results were available before returning document symbol results. However, I'm not able to repro the original issue with 0.18.1 (and VS Cod Insiders), so maybe something else is happening (I assume the browse database isn't ready...I assu

[2018-09-10 18:30] sean-mcmanus commented on #2501
Yeah, the question policy is a little confusing because VS Code itself wants questions asked at StackOverflow (https://stackoverflow.com/questions/tagged/visual-studio-code ), but our C/C++ extension just uses GitHub for questions.

I don't think the error message is coming from our extension. Can you disable the C/C++ extension and see if it still repros? Where are you specifying "gcc" in your se

[2018-09-10 19:14] joelspadin commented on #2453
I'm running into a problem with the same symptoms.

* OS and Version: Windows 7 SP1
* VS Code Version: 1.27.1
* C/C++ Extension Version: 0.18.1

I have a project with two configurations: a Windows build, and a build that uses a Yocto toolchain to cross compile to ARM Linux. When using the Windows configuration, the C++ language service works fine. As soon as I switch to the Linux configuration and

[2018-09-10 22:16] sean-mcmanus opened #2504 "Outlining view gets stuck with infinite progress bar if >1 symbol request occurs"
Repros via an edit/save/edit/save, go to symbol in workspace then edit/save, etc.

[2018-09-10 22:47] akbyrd commented on #407
+1 We definitely need language based folding. The current indentation based implementation is completely unnatural with preprocessor directives and public/private specifiers where a common pattern is to leave them left aligned with no indentation. `#endif` lines end up as folding nodes and weird, ugly things happen.

A common part of my workflow is to `Fold All` to get an overview of a file. With

[2018-09-10 23:49] rbit opened #2505 "Tuple Covariance Crashes Intellisense Process"
**Describe the bug**
- OS and Version: macOS 10.13.6
- VS Code Version: 1.27.1
- C/C++ Extension Version: 0.18.1

Exercising tuple covariance will crash the intellisense process. This snippet will cause a crash:
[code]

The snippet compiles and runs without warnings:
[code]

The C/C++ output will show entries like this:
[code]

[2018-09-11 00:20] sean-mcmanus commented on #2505
It's not reproducing for me. What is your compilerPath and intelliSenseMode? Assuming clang, do you know what version you're using (i.e. for tuple).

[2018-09-11 00:50] rbit commented on #2505
compilerPath and intelliSenseMode are not explicitly set. For this repro, I created a new folder, and added the file tst.cpp.

System clang:
[code]

[2018-09-11 01:59] sean-mcmanus commented on #2505
Okay, thanks. I've reproed the bug. Something with the Mac C++ headers is crashing our parser (at "copy_type_with_substitution"). Looks like about 10% of Mac crashes.

UPDATE: This has been fixed with our pending 0.21.0-insiders we plan to release some time next week.

[2018-09-11 02:19] amtlib-dot-dll commented on #2489
Workaround: Add this snippet to your `launch.json` and the internal terminal of VS Code will be used instead
[code]

[2018-09-11 02:20] amtlib-dot-dll commented on #35
Workaround: Add this snippet to your `launch.json` and the internal terminal of VS Code will be used instead :joy:
[code]

[2018-09-11 05:57] britalmeida commented on #407
Here is an example of how the braces look collapsed on the same line (although they weren't originally):

![inline_folding](https://user-images.githubusercontent.com/2300915/45340726-08acd100-b598-11e8-9a3b-0c9185ac5819.png)

This is quite important to get the code to fit the screen in the case of big files with many functions.

[2018-09-11 06:53] jackcoach commented on #2497
Hello, previously I had tried to uninstall and reinstall it several times both using the extension manager and the vsix file found on the repo.

Now using the file you gave me I reinstalled the extension, two executable files are present in the bin directory (Extension.linux and Intellisense.Msvc.linux), but still when I open VsCode it gives me the following error:

`Unable to start the C/C++ lang

[2018-09-11 07:06] cedriclmenard commented on #1899
I'm experiencing the same issue. Only when I build for Debug, not in Release (using CMakeTools).

[2018-09-11 09:40] yamcenutzer commented on #2489
Yes that works, but not with sudo.
I was debugging a service as sudo using a script containing:

#!/bin/sh
sudo gdb $@

and in the launch.jsion using "miDebuggerPath': "pathtoscript"

I'll need to find out how another level of indirection can be added.

My current workaround is to fall back to vscode 1.25.1

[2018-09-11 09:41] yamcenutzer commented on #2489
oops, I pressed the close button

[2018-09-11 10:21] amtlib-dot-dll commented on #2489
Can you attach to the process rather than launch it?

[2018-09-11 10:58] yamcenutzer commented on #2489
never tried, since I need to debug the startup

[2018-09-11 13:04] amtlib-dot-dll commented on #2489
You can start a `bash` process with your required privilege, attach to it, and use the `exec` command

[2018-09-11 15:39] bobbrow commented on #2497
Is aarch64 an ARM64 variant?  I naively assumed it was a 64-bit build.  We don't currently ship a binary compatible with ARM or ARM64.

[2018-09-11 15:54] jackcoach commented on #2497
Yes @bobbrow , the cores are actually Nvidia Denver2 (ARMv8, 64bit) CPUs.

Is there a way for me to crosscompile the project in order to get compatible binaries?

Cheers

[2018-09-11 16:00] hoffmael commented on #296
Symbol based refactoring is highly desired for my workflow. The multi select ctrl+F2 renaming is insufficient as it applies the rename, often incorrectly, across the whole file. This would bring C++ up to speed with other VS code languages that support all the refactoring features listed here: https://code.visualstudio.com/docs/editor/refactoring

[2018-09-11 16:07] bobbrow commented on #2497
Unfortunately, there is no way for you to do this right now.  We have not opened the source for the language server binaries.  ARM64 is not on our roadmap yet, but we can take it into consideration.

[2018-09-11 16:13] jackcoach commented on #2497
Yes please take it into consideration, it would be great to have every feature of this extension available for this architecture.

Thank you for your time!

[2018-09-11 16:13] #2497 closed, assigned to nobody

[2018-09-11 16:16] bobbrow opened #2506 "Add ARM64 support (linux)"
#2497 was opened as a result of missing ARM64 support on linux.  Please upvote this issue if you need support for aarch64.

[2018-09-11 16:17] bobbrow commented on #2497
I created a feature request for this.  Please go upvote #2506 so we can start to get a count of users who would benefit from this.

[2018-09-11 16:50] omicronns opened #2507 "If compile_commands.json contains @file notation content of file is not used by language service."
**Type: LanguageService**

If command line inside `compile_commands.json` contains included file content using `@file` notation, content of the file is not parsed as a part of command. For example if command line looks like:
[code]
and `includes_CXX.rsp` file content like:
[code]
I get:
[code]

If I copy and paste content of `includes_CXX.rsp` file into `compile_commands.json` in place of `@includ

[2018-09-11 16:54] bobbrow commented on #2357
I believe this is a duplicate of #1718

[2018-09-11 16:54] #2357 closed, assigned to nobody

[2018-09-11 16:56] bobbrow commented on #2507
Thanks for the feedback. This is a duplicate of #1718.  Can you go upvote that issue?

[2018-09-11 16:56] #2507 closed, assigned to nobody

[2018-09-11 17:10] hoffmael commented on #1162
Advanced refactoring is highly desired for my workflow. This would bring C++ up to speed with other VS code languages that support the refactoring features listed here: https://code.visualstudio.com/docs/editor/refactoring

[2018-09-11 21:14] heshuimu opened #2508 "Framework Search Paths in compile_commands.json is not used"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS 10.13.6
- VS Code Version: VSCode 1.27.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): CMake, CMake Tools
- A clear and concise description of what the bug is:

When using `compile_commands.json` generated by CMake and a custom Mac framework is included, fr

[2018-09-11 21:22] heshuimu commented on #2508
**Workaround:**

Add the framework to `/Library/Frameworks` by copying or symlinking.

[2018-09-11 22:27] pieandcakes commented on #2502
@huili80 Its marked need more info because we need a solid repro so that we can try fixes on it. If you have a solid repro that I can use to fix the problem, then please post it there.

[2018-09-11 22:27] pieandcakes commented on #2502
Duplicate of #2244

[2018-09-11 22:27] #2502 closed, assigned to pieandcakes

[2018-09-11 22:57] micmelesse opened #2509 "nested outline in C++"
It would be useful if the members and methods in a C++ struct or class could be nested in the outline view. Especially when the outline is sorted by position.

Consider the following outline view of the `coins.h` file in the bitcoin repo. A nested view would be very useful to get a quick high level view of the file.

![image](https://user-images.githubusercontent.com/16394078/45387738-d0bf8100-b5c

[2018-09-11 23:21] sean-mcmanus commented on #2509
This is a duplicate of https://github.com/Microsoft/vscode-cpptools/issues/2230 , which is tracking the newly added support for hierarchical symbols. You could upvote that issue.

[2018-09-11 23:21] #2509 closed, assigned to nobody

[2018-09-12 05:21] xueyunquan commented on #2506
I'd like to support this one. There are more and more aarch64 boards out there which run Desktop GUIs. Direct on-board coding & debugging would be very cool.

[2018-09-12 10:37] yamcenutzer commented on #2489
too far fetched.
I was thinking, why do we even need a terminal?
Visual Studio (not code) can remote debug a linux machine (not sure about sudo).
I thought VsCode was using the same engine connecting to gdbserver.

[2018-09-12 13:53] kayle opened #2510 "compile_commands.json doesn't work with WSL"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win10
- VS Code Version: 1.27
- C/C++ Extension Version: 0.18.1

**To Reproduce**

c_cpp_properties.json:
[code]

compile_commands.json:
[code]

**Expected behavior**

I expect the WSL paths from compile_commands.json to get translated to the corresponding Windows paths.

**Screenshots**

![image](https://user-images.githubuserconte

[2018-09-12 15:37] amtlib-dot-dll commented on #2489
https://github.com/Microsoft/vscode-cpptools/issues/2489#issuecomment-420123838 This is just telling VS Code to "remote debug" a local process

[2018-09-12 15:49] amtlib-dot-dll commented on #2489
Perhaps changing `pipeProgram` to `sudo` may do the trick, that is "remotely" run your executable via `sudo` rather than `ssh`

[2018-09-12 19:21] gabrieldelaparra commented on #409
Nope. At least I do not have the `.real`.

[2018-09-12 20:55] mattaereal commented on #409
That gnome-real thing is like super weird, I've been using gnome since ages and never saw another gnome-terminal besides the default one :/. Also, modifying system applications like that in order to fix something else does not seem the correct way to deal with it.

[2018-09-13 03:45] MichaelBrazeau opened #2512 "[lldb] input redirection not working"
I've tried serval other posts suggestions and none seem to work.
I have a simple program that uses cin/cout and I want to use a .txt to test my code.

i've tried putting "<inputfile.txt" in args but when the debugger reaches any line that uses cin it crashes. Honestly  i'm not sure if that is what happens but it doesn't really work.

heres my launch.json file
{
    // Use IntelliSense to learn abo

[2018-09-13 05:09] FusEcho commented on #811
It works for me ,3ks!

[2018-09-13 07:01] PaleNeutron commented on #35
@Chemik , terminal won't appear if set `"externalConsole": false`, but `stdout`&`stderr`  still won't redirect to integreted terminal in vsc.

[2018-09-13 09:12] gbonacini opened #2513 ""Go to definition" doesn't work if the declaration contains a preprocessor macro"
**Type: LanguageService**

**Describe the bug**
- OS and Version: OSx 10.11
- VS Code Version: 1.27.1
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): vim plugin , python (disabled in that project )
- Concise description of what the bug is:
If in the header file is present a declaration like this :
void                   checkSshH

[2018-09-13 10:54] penut85420 commented on #2480
@bobbrow i've change to gcc-x64, but still have the same problem
btw i'm using mingw

hey i find this file at "..\\MinGW\\lib\\gcc\\mingw32\\6.3.0\\include",
and i successfully eliminated this warning
this is what my setting look like:
[code]

[2018-09-13 16:20] bobbrow commented on #2480
I don't recommend setting the system include path manually.  I recommend setting `compilerPath` so that the extension can ask the compiler what the system include path is.  For example:

[code]

[2018-09-13 16:53] bobbrow commented on #2496
It depends on your operating system.  It looks like you are on Windows.  Which compiler are you using to build your code?  If you look in your `.vscode/c_cpp_properties.json` file, the extension may have identified a compiler on your PC already.

[2018-09-13 18:21] Evan-Nishi commented on #2501
How can I specify my gcc in settings? I was told by my friend that code runner extension will just run code once install it.  I think I need to specify gcc and configure json also but I keep getting confused.   I was also told I need to download a library or something

[2018-09-13 18:43] bool3max commented on #2501
Learn to compile C from the command line before you use any "code runner" extensions. It will make things easier. Then, read the documentation of the `C/C++` extension which tells you which JSON fields you need to fill to tell it where your compiler executable resides.

[2018-09-13 18:44] sean-mcmanus commented on #2513
This is a "by design" limitation of our parser. You need to put the macro in a cpp.hint file. See https://go.microsoft.com/fwlink/?linkid=865984 .

[2018-09-13 18:44] #2513 closed, assigned to nobody

[2018-09-13 19:03] youngspe commented on #1772
As a workaround I was able to have the `tty` configuration in GDB point to the result of `tty` in a separate bash terminal, have the terminal `sleep infinity`, and then start debugging. To make it a little quicker I set up a script to find the tty for a new terminal, create a symlink to it. In launch.json I set GDB's `tty` configuration to that symlink and made the script my prelaunch task so as t

[2018-09-13 20:01] bobbrow commented on #2501
@pErs0nZ if you are having trouble with a code runner extension, unfortunately this is not the place to ask.  This forum is for the Microsoft C/C++ extension.  I may have wrongly assumed that you were having trouble configuring IntelliSense.  We can help you with that here (and that's actually what my instructions above were assuming).

The issues page for the code runner extension appears to be h

[2018-09-13 22:53] renkun-ken opened #2514 "no operator "=" matches these operands"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS 10.13.6
- VS Code Version: 1.27.2
- C/C++ Extension Version: 0.18.1
- Compiler: clang 6.0.0

The code analyzer incorrectly marks the statement using `=` with an error in the following code:

[code]

where the `spdlog` headers are the latest release from https://github.com/gabime/spdlog/releases/tag/v1.1.0.

[code]

is marked t

[2018-09-13 22:56] ricokahler commented on #2448
I have this issue as well and it's maddening at times. I only work in javascript and typescript files and my extensions are:

- Code Spell Checker
- DotENV
- ESLint
- Git Blame
- Lisp
- Prettier
- Python
- vscode-styled-components
- WakaTime

@viridia, that's my same guess. it's like they throttle instead of debounce. Also: I don't work in cpp so i don't think this is specific to cpp tools

---

.

[2018-09-13 23:43] Evan-Nishi commented on #2501
Ok thanks

[2018-09-13 23:43] #2501 closed, assigned to nobody

[2018-09-14 01:12] penut85420 commented on #2480
Wow thank u! I didn't notice this parameter.

[2018-09-14 06:15] liudonghua123 commented on #1004
I have the same problem, need features like Ctrl+F5 run features like Visual studio.

[2018-09-14 08:19] gbonacini opened #2515 "cpp.hint is ignored"
**Type: LanguageService**

**Describe the bug**
- OS and Version: 10.11.6
- VS Code Version: 1.27.2
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): vim, the issue persists
- A clear and concise description of what the bug is: VSC seems ignore to cpp.hint file

**To Reproduce**

1. Create a function declaration in an header file l

[2018-09-14 08:46] XobSod opened #2516 "std::array initialization marked as error"
**Describe the bug**
- OS and Version: Linux Mint 18.1
- VS Code Version: 1.27
- C/C++ Extension Version: 0.18.1

**To Reproduce**
testFile.cpp contains
[code]
Problem is reported:
`no instance of constructor "array" matches the argument list -- argument types are: (int, int, int, int, int)`

**Expected behavior**
As code is valid, no problems should be reported.

**Additional context**
c_cpp_prpo

[2018-09-14 10:24] FooBarWidget opened #2517 "Feature request: allow running setup commands after loading executable"
Type: Debugger

**Describe the bug**
- OS and Version: macOS 10.12.6
- VS Code Version: 1.27.2
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): Auto Comment Blocks, Better TOML, Bookmarks, CodeLLDB, EditorConfig, Git Blame, Go, hexdump, Markdown TOC, Monokai Pro, Ruby, Ruby Solargraph, Rust (rls), SpellChecker

My application make

[2018-09-14 14:22] merlijn-sebrechts opened #2518 "Relative problem paths don't take `cwd` into account"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version:  1.27.1 5944e81f3c46a3938a82c701f96d7a59b074cfdc x64
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

The problemMatcher doesn't take the `cwd` of a task into account when resolvi

[2018-09-14 19:56] sean-mcmanus commented on #2515
Thanks for reporting this. I'm able to repro the bug. Features that use IntelliSense (hover) should show the actual value of the macro (not the cpp.hint), but the Go to Def and navigation at the bottom should use the cpp.hint. The IntelliSense compiler will expand all macros, but our symbol engine doesn't not, which is why the cpp.hint is required for those features.

[2018-09-14 21:36] hoffmael opened #2519 "All Intellisense functionality stops working after editing code for a few minutes"
I have a small project where after editing fore a few minutes, all intellisense functionality consistently stops working. There are no error messages in the extension output even at DEBUG level logging, log output simply stops and eventually an error popup notification says "Extension Host is unresponsive". Restarting the extension host gets intellisense working again until the next time it stops.

[2018-09-14 22:05] sean-mcmanus commented on #2519
STL vectors are not C variable length arrays. It doesn't appear from your logs that the IntelliSense process is crashing. It's possible you're hitting a thread deadlock. If you can attach a debugger and give us the call stacks or the call stacks for a thread that appears to be doing work that is deadlocked (we use a lot of threads that are usually just idle).

[2018-09-14 22:22] hoffmael commented on #2519
Can you provide instructions on how to attach a debugger to get the call stacks?

[2018-09-14 22:38] sean-mcmanus commented on #2519
You can use the VS Code C++ debugger. We have some docs at https://code.visualstudio.com/docs/languages/cpp#_debugging-your-code (not sure if the docs are sufficient). You just need to set `"symbolSearchPath": "http://msdl.microsoft.com/download/symbols"` and then do Start Debugging with the "(Windows) Attach" config on the Microsoft.VSCode.CPP.Extension.exe process.

[2018-09-15 00:28] leofelipe222 commented on #756
I see the issue intermittently, if I use the "Go to Definition" and "Peek Definition" it keeps loading for along time (even within the same file) and eventually works, but sometimes it works immediately. I am coding in Python and using the Microsoft Python extension. I am using VSCode version 1.27.2.

[2018-09-15 00:59] sean-mcmanus commented on #756
@leofelipe222 This is the C++ extension page -- it sounds like you may want to file an issue with the Python extension at https://github.com/microsoft/vscode-python/issues .

[2018-09-15 01:06] leofelipe222 commented on #756
Will do, thanks.

[2018-09-15 02:06] sean-mcmanus commented on #2515
Actually, I think I was mistaken before. I'm not able to repro any bug. If you put your cursor in the function definition does the navigation bar update correctly? I'm seeing it work correctly. You may need to edit/save the file after modifying the cpp.hint to get it to reparse. Without the cpp.hint, the nav bar says (Global Scope):

![image](https://user-images.githubusercontent.com/19859882/4558

[2018-09-15 06:21] gbonacini commented on #2515
Hi Sean,

as specified in your instruction ( "You may need to edit/save the file after modifying the cpp.hint to get it to reparse" ), I added a comment in my source code, saved the file, and now it work perfectly !
In cases like this one, is there a procedure to force the reparsing without add something in the source code ?
By the way, thank you for your effort, in the last times VSC code improve

[2018-09-15 13:26] DanPartelly opened #2520 "please remove the need to type -exec in debug console to execute a native debugger command"
Type: Debugger

Given the fact that the debugger GUI in Visual Studio code is still quite primitive and does not provide anything more than the basics, one still has to use native debugger commands in console quite intensely for non-trivial debugging. (really, even if you would have enough features in  debug UI to rival Visual Studio debug commands would still be necessary IMO)

Having to prefix a

[2018-09-15 13:57] alosoft commented on #1863
thanks man worked for me too

[2018-09-15 16:50] hoffmael commented on #2519
Heres the call stack of the thread that looked like it was doing something after the extension hung, hopefully you can make some sense out of it.
All the other threads looked idle: waiting on multiple objects, waiting on single object, or wait for alert by thread ID.
[code]

[2018-09-15 20:31] rybertm-old opened #2521 "Not all files are being included from path in "includePath" inside c_cpp_properties.json"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux Mint Cinnamon 19 Tara

- VS Code Version: 1.27.2

- C/C++ Extension Version: ms-vscode.cpptools

- Other extensions you installed: austin.code-gnu-global, issue persists after disabling it.

-I am starting to use openGl and freeglut API, I have it installed and after I include the path to the header files needed the tool and i

[2018-09-16 02:24] Parushgit opened #2522 "[Unable to debug a basic C++ program]"
Type: Debugger
**Input information below**
I just created one `.cpp` file and now I am trying to debug it. I put the debugger and all it does is `exit with code 0`.

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: MacOSX
- VS Code Version: V 1.24.1
- C

[2018-09-16 18:07] TheAifam5 opened #2523 "No registers/peripherals/memory/disassembly while debugging bare metal software (aarch64)"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 x64
- VS Code Version: 1.27.2
- C/C++ Extension Version: 0.18.1

**To Reproduce**
launch.json:
[code]

tasks.json:
[code]

Steps to reproduce the behavior:
1. Use one of the examples from: https://github.com/bztsrc/raspi3-tutorial
2. Compile it and build kernel8.img file
3. Run debugger with the configuration written above.

So I am

[2018-09-17 05:11] yagehu opened #2524 "incorrect clang-format -style formatting"
After I correctly set `C_Cpp.clang_format_path` and format a cpp document, the file doesn't get formatted, and there is no error output. I have verified that error gets printed to output correctly by setting  `C_Cpp.clang_format_path` to some non-existent path. e.g.

[code]

If I run the command `clang-format -style={ BasedOnStyle: LLVM } -fallback-style=LLVM -sort-includes=0 -assume-filename=<som

[2018-09-17 13:43] sunnyjain commented on #1329
@liamsain  I was facing the same issue, with the help of this issue thread.
-> I added the g++ to the path
-> tried running on my cmd, which worked, but could not get it running on the VS's terminal.
-> then i changed 2 things
`"version": "2.0.0",
    "tasks": [
        {
            "label": "echo",
            "type": "shell",
            "command": "E:\\MinGW\\bin\\g++.exe",
            "args":

[2018-09-17 14:20] canfoderiskii commented on #2192
Hi, @sean-mcmanus

Really need this feature!

Here is my example:

The image below shows I excluded a few unrelated platform's header files, leaving only one platform header file(see side bar on left side).
![image](https://user-images.githubusercontent.com/10685920/45628600-fc100780-bac6-11e8-997a-fb047c91fb26.png)

All those platform header files have symbol `GPIO_TypeDef` and this symbol is com

[2018-09-17 14:27] ruabmbua opened #2525 "Use only debugger adapter from extension"
Type: General
Hi!

I wonder if it is possible to extract just the debug adapter part of this extension, and build a new extension with it. I am using the cquery-language server as my C++ plugin in vscode, but it does not provide a debugger. Now I am trying to use vscode-cpptools with cquery, but both extensions loaded at the same time results in both not working at all (for example the compiler er

[2018-09-17 15:18] bool3max commented on #2479
Any progress on confirming my issue?

[2018-09-17 15:58] bobbrow commented on #2521
Can you try setting `"C_Cpp.loggingLevel": "Debug"` and then run the "Reload Window" command?  This will reset IntelliSense for that file and print out the include path that we used for it in the Output Window (in the C/C++ channel).

[2018-09-17 16:01] bobbrow commented on #2522
Did you try compiling with the `-g` option to produce debug information needed by gdb?

[2018-09-17 16:11] bobbrow commented on #2525
Does disabling the language server not work for you?
[code]

[2018-09-17 16:25] bobbrow commented on #2479
Are you also defining an alias for the struct?  I don't repro with the following code:

[code]
but I do with the following (which is currently the expected behavior):
[code]

Can you share a code snippet that manifests your problem?

[2018-09-17 16:44] ruabmbua commented on #2525
I will try it as soon as possible. I did not know Disabled was an option.

[2018-09-17 17:44] rybertm-old commented on #2521
![vscode](https://user-images.githubusercontent.com/41039940/45640121-2098bf00-ba88-11e8-87cf-871af3bba203.png)
Did what you said but issue still persists, but thank you fot the suggestion.

[2018-09-17 17:58] sean-mcmanus commented on #2515
We've already fixed the saving requirement in our September release, but it's not available to try out yet (it will auto-parse/update after around 3 seconds of idle): https://github.com/Microsoft/vscode-cpptools/issues/202 is the issue tracking that. UPDATE: Fixed with 0.19.0.

[2018-09-17 17:58] #2515 closed, assigned to nobody

[2018-09-17 18:13] sean-mcmanus commented on #2519
Yeah, that is the main input thread, so if that gets stuck, then most features will get blocked. It's stuck trying to invoke clang-format.exe. We fixed a similar bug with a freeze when formatting in May (https://github.com/Microsoft/vscode-cpptools/issues/2007 ), which occurred when formatting large enough files, but it stuck on the ReadFile -- in this case it's somehow getting stuck sending the t

[2018-09-17 18:20] bobbrow commented on #2521
Did you look at the Output window and check the include path that the extension reported?  I was hoping you could paste it here so I can take a look.

[2018-09-17 18:31] sean-mcmanus commented on #2521
It sounds like the /usr/include folder is not being used. This could occur if recursive includes is used and the required files are found at a different location (i.e. gl folder with gl.h but not freeglut.h).

It's also possible there was a failure adding those particular files to the database or it got mistakenly added to our "never found" list. You can try doing a Reset IntelliSense Database ope

[2018-09-17 18:59] sean-mcmanus commented on #2524
What version of clang-format are you using? We intentionally do no use quotes around the style on Linux, because it doesn't accept that (we use quotes on Windows). This is the way we've always done it, so I'm not sure what is special about your scenario that could be causing this.

[2018-09-17 19:22] hoffmael commented on #2519
I'm using the built-in clang-format.exe ("C_Cpp.clang_format_path": null) and using the following style:
[code]

I don't ever see clang-format.exe in the process explorer or task manager when I hit the hang. Which maybe indicates a race condition on receiving the completion signal from clang-format.

Formatting the whole file manually also recreates the hang.

For now setting "C_Cpp.formatting": "

[2018-09-17 19:25] rybertm-old commented on #2521
There is an output in the "Problems" section of the .cpp file that quotes:

"#include errors detected. Please update your includePath. IntelliSense features for this translation unit (/home/rybert/Desktop/Programacao/OpenGL/PNM_Files/main.cpp) will be provided by the Tag Parser."

I don't know if I am quoting the right output window, but that is the only one I see which shows something.

[2018-09-17 19:29] rybertm-old commented on #2521
The only recursive include path I am using is the default ${workspaceFolder}. The header in question, "freeglut.h" is in the same folder as "gl.h", wich the Intellisense recognizes, and the GL directory, wich is to be included, is inside the general "/usr/include" directory of my system. I already tried resetting the database, including "usr/include/GL" directly but nothing fixed the problem.

Tha

[2018-09-17 19:45] bobbrow commented on #2521
The Problems window is not the one I'm referring to.  There is a tab called "Output" in the same panel.  Some screenshots here:  https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md

[2018-09-17 19:48] sean-mcmanus commented on #2192
@canfoderiskii It looks like you're using file-based exclusions. Does setting the C_Cpp.exclusionPolicy to "checkFilesAndFolders" fix the issue for you? FYI, having a long list of file exclusions will slow down our operations because it's expensive to run the exclusion checking for every file. We're currently working on IntelliSense-based Go to Def, which should fix the "too many incorrect" result

[2018-09-17 20:00] rybertm-old commented on #2521
All paths mentioned in the Output:

"initialized
workspace/didChangeConfiguration
IntelliSense Engine = Default.
The extension will use the Tag Parser for IntelliSense when #includes don't resolve.
Autocomplete is enabled.
Error squiggles are enabled.
File exclude: **/.git
File exclude: **/.svn
File exclude: **/.hg
File exclude: **/CVS
File exclude: **/.DS_Store
File exclude: **/.vscode
Search exc

[2018-09-17 20:05] rytisss opened #2526 "Stopped due to shared library event (no libraries added or removed) when trying to debug with shared library"
In my project i am building shared library (.so) and linking it to my application. When i try to launch debug, i get following:

=thread-group-added,id="i1"
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
The

[2018-09-17 20:18] DanPartelly commented on #2526
breaking in gdb on .so load events is controlled by the following command (0 to disable, 1 to enable)

set stop-on-solib-events 0

type the command in debugger command window , and it should disable library events. You can check the current  behavior with

show stop-on-solib-events

in the command window.

Check your ~/.gdbinit file. Check commands within. Also check if your distribution vendor Ub

[2018-09-17 20:24] aremmell commented on #2520
+1

[2018-09-17 20:36] sean-mcmanus commented on #2521
Yeah, /usr/include is being correctly sent as an include path to our IntelliSense process, so I'm not sure what could be causing this. We may need to try out the repro using GL headers later...

[2018-09-17 20:45] sean-mcmanus commented on #1815
@bobbrow The VS team supposedly implemented this recently, but I haven't tried their pulling in their changes yet.

[2018-09-17 22:26] yagehu commented on #2524
[code]

I set `C_Cpp.clang_format_path` to `/usr/bin/clang-format`.

Please advise if there's other info I can provide to help locate the problem. Thanks!

[2018-09-17 22:28] rybertm-old commented on #2521
Thank you for helping. And for reference, I am using the "freeglut3-dev" package.

[2018-09-17 22:37] sean-mcmanus commented on #2524
Can you explicitly add a single or double-quote (i.e. using `\"` in settings.json) to the C_Cpp.clang_format_style (or _fallbackStyle) as a workaround? When I do that with the installed clang-format 6.0.0 it fails with "Invalid value for -style". I don't know yet how to detect these different input requirements -- it seems very unlikely that clang-format would break the input requirements like thi

[2018-09-18 01:08] canfoderiskii commented on #2192
Hi, @sean-mcmanus

My bad, I missed `C_Cpp.checkFilesAndFolders` earlier. This configuration actually works.

Is there any suggestion for avoiding adding too many file exclusion in my scenario? There are various platforms' code in the same directory and I have to exclude most of them.

[2018-09-18 01:52] sean-mcmanus commented on #2192
@canfoderiskii Well, if you can do something to only exclude folders that would be preferred -- we just use the checkFolders default so the initial Open Folder experience is faster (and is sufficient for most projects). However, the only code that has its performance affected is when it says "Discovering files: " over the database icon in the bottom right, which may be fast enough if your workspac

[2018-09-18 03:52] sean-mcmanus commented on #273
Our implementation was unnecessarily doing a query for all the matching files for each #includes line in a in a file even when the Go to Def was not on a #include line, so our next release will have that fixed, which may fix some of the performance issues...it's hard to tell exactly what performance issue people are hitting without more info -- if there's a red flame in the bottom right, then the

[2018-09-18 09:43] prolands commented on #286
@sean-mcmanus
do you need any specific information?
in general I have medium sized project with coupe of hundreds files nothing special I even not edit this just open and I have constant cpu load 100% for hours it simple never stops hogging cpu (the only way to stop it is kill the process)  This behaviour reproducible in 100% cases.
------ this list of open files from process monitor
txt
/Users/us

[2018-09-18 11:31] bool3max commented on #2479
The following snippet, when saved as a `.h` file, gives the following results in `OUTLINE` view, `Ctrl+O` symbol search, `Alt+N` search and `Ctrl + T` symbol search:
[code]
---
![2018-09-18_1537270058_599x124](https://user-images.githubusercontent.com/12991998/45684480-c7439500-bb46-11e8-8b5d-855ac4014c07.png)
---
The first `flag` symbol belongs to the struct tag definition, which is OK, but the 2

[2018-09-18 12:03] Niko-O opened #2528 ""Go to Definition/Declaration" in file with UNC path opens new tab"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 (10.0.17134.285) 64 bit
- VS Code Version:
[code]
- C/C++ Extension Version: 0.14.0
- Other extensions you installed (and if the issue persists after disabling them):
  - hexdump for VSCode
  - Intel HEX format
  - macros
  - Yes, the issue persists after disabling all extensions (except for `C/C++`, of course).
- A clear

[2018-09-18 12:36] jcrawford commented on #1201
I would also love to see a Launch Without Debugging feature added to vscode.

[2018-09-18 12:51] chuxubank commented on #1201
In some cases, you can use [Code Runner](https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner)  an alternative.

[2018-09-18 13:41] canfoderiskii commented on #2192
@sean-mcmanus Got it. Thank you for the reply.

[2018-09-18 14:29] ruabmbua commented on #2525
It works, thanks!

[2018-09-18 14:29] #2525 closed, assigned to nobody

[2018-09-18 17:28] bobbrow commented on #2479
Oh, I see.  Yeah, it's probably because of the `struct` keyword before each reference to `flag`.  We'll investigate.

[2018-09-18 18:00] sean-mcmanus commented on #286
@prolands That sounds like a bug. We haven't seen reports like that before. A couple hundred files is small and shouldn't use so much CPU. It could be stuck in some infinite loop. Can you attach a debugger (such as VS Code) to get the call stack for threads that appear to be doing work and not blocked? Or use some sort of Mac core dump or tracing tool to get call stacks? You can also try setting t

[2018-09-18 18:10] yagehu commented on #2524
I don't what I did that fixed it. I uninstalled all other C/C++ related extensions. It may be a legacy extension conflict. Thanks for the help anyways!

[2018-09-18 18:10] #2524 closed, assigned to nobody

[2018-09-18 18:11] sean-mcmanus commented on #2479
VS 2017 shows similar results for global symbols, although they don't seem to have an Outline view. Yeah, looks like our symbol parser or our usage isn't correctly handling the C-style "struct name" usage.

[2018-09-18 18:18] sean-mcmanus commented on #2528
VS Code has a known problem with opening different files on Windows if the casing is incorrect (https://github.com/Microsoft/vscode/issues/12448 ). We have code to retrieve the file system casing from Windows, but that seems to be buggy with UNC paths.

[2018-09-18 18:25] sandakith commented on #583
In Ubuntu it would always use a basic type of console (that does not have any copy/paste features also). And externalConsole: false/true does not redirect to Debug console. is there a solution to copy content from the DebugerTerminal that VSCode use in Ubuntu/Linux?

[2018-09-18 18:37] rytisss commented on #2526
I think it is actually the thing that i don't know how to add shared library to my configuration file:
My configuration:
{
// Use IntelliSense to learn about possible attributes.
// Hover to view descriptions of existing attributes.
// For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
"version": "0.2.0",
"configurations": [
{
"name": "(gdb) Launch",
"type": "cppdbg",
"req

[2018-09-18 18:52] Niko-O commented on #2528
I see. Would it be possible to reuse the opened folder's path as-is? That is, "Go to Declaration" would use `\\Bar\Foo\Baz\Test.c` if the currently opened folder is `\\Bar\Foo` and likewise `\\bar\foo\Baz\Test.c` if the opened path is `\\bar\foo` instead of asking Windows to deduce the casing.

[2018-09-18 19:11] sean-mcmanus commented on #2528
Yeah, we could probably do something like that to fix it...we haven't investigated it yet.

[2018-09-18 19:25] rytisss opened #2530 "Loading shared library to debug with executable"
What i am doing basically is building shared library and linking it to my executable. Project build and runs just fine. But when it come to debugging i can't do it (---If i debugging executable alone, there not problems, i can debug and everything works). Problem appears when i am launching debbuger. This is output with logging:

=thread-group-added,id="i1"
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.

[2018-09-19 08:26] ozkanakgul commented on #756
I've same problem. The version that I'm using is 1.27.2 . I have one working vs code project and any other projects ( actually opened source code folders) and newly created ones are not working. I've tried all the things you suggest but it did not worked for me.

[2018-09-19 08:46] schperplata opened #2532 "Empty item in env field inside c_cpp_properties.json causes error"
**Type: LanguageService**
Issue Type: <b>Bug</b>

I'm playing around with using VS Code for embedded project. I have created a c_cpp_properties.json file, where I am planing to list all directories and files inside of different "env" fields and than passing this values to "configuration" "includePath", "browse" and "define" fields.

The problem specifically is caused by an empty field, followed by

[2018-09-19 12:45] coder3101 commented on #1914
@sean-mcmanus The issue is that after that red flame goes away it again comes back as soon as a new letter is typed in the file. (Even changing comments causes flame to recompute). Making the whole experience very bad.

[2018-09-19 13:12] TedaLIEz opened #2533 "[Objective-C] support for Objective-C file navigation"
**Type: LanguageService**

I tried to use this cpptools with the config below to help to navigate between header and source files in my Objective-C project, but it fails to navigate. I wonder if this tools can provide Objective-C navigation. Or maybe my configuration is wrong?

My configuration in my workspace `.vs_code` folder:
`c_cpp_properties.json`
[code]

- OS and Version: MacOS  10.13.6
- VS

[2018-09-19 16:49] antonio-petricca commented on #861
I solved running Code by this alias:

`alias Sc='sudo code-insiders --user-data-dir="~/.vscode-root"'`

[2018-09-19 16:54] cgebbe commented on #103
Similar issue with gdb and Visual Code Studio here:

[code]

Ubuntu 16.04
gdb  7.11.1
gcc  5.4.0
vscode  1.27.2

I can start gdb in terminal and run the program in the gdb terminal without issues.

@mlimber : You mentioned that you cleared out old breakpoints and watches. Since I am also seeing a breakpoint: How do you do it? In MY code, I don't have any breakpoints enabled. However, gdb is notici

[2018-09-19 16:56] bobbrow commented on #2532
The replacement logic is using a "falsy" check to see if a replacement should be made.  It probably needs to handle an empty array separately.

[2018-09-19 17:09] thorade commented on #2079
I think the new landingpage is here:
https://visualstudio.microsoft.com/visual-cpp-build-tools/

[2018-09-19 17:55] leofelipe222 commented on #756
If you are coding in Python what solved the problem for me was disabling the "Python: Jedi" feature. You can do that by going to "File -> Preferences -> Settings", search for Jedi, disable and reload. I hope this helps you.

[2018-09-19 18:42] sean-mcmanus commented on #756
@ozkanakgul Can you create a new issue with more repro details? Are you using the C++ extension version 0.18.1? On what OS?

[2018-09-19 18:56] sean-mcmanus commented on #1914
@coder3101 We have a 3-5 second timer that goes off to re-compiler the changes/squiggles (and a 2nd one 10 seconds later as a hack to fix a bug we need to investigate). Is the red flame after editing too slow? We're aware that some projects cause our IntelliSense engine to use too much memory and is too slow to re-parse so you may be experiencing that. We intend to investigate/fix those issues in

[2018-09-19 19:09] sean-mcmanus commented on #2533
Our C/C++ extension does not support Objective-C and we do not currently plan to, because it would involve too much work with too few users requesting/using it. You could try another VS Code extension that has Objective-C support (e.g. C/C++ Clang Command Adapter -- I haven't tried using Objective-C with that though).

[2018-09-19 20:29] rytisss commented on #103
Similar problem here. It appear only when declaring an object from share library in my main.cpp. without it, everything is fine.

Ubuntu 16.04
gdb 7.11.1
gcc 5.4.0 or 6.4.0
vscode 1.27.2

My launch.json file:
{
// Use IntelliSense to learn about possible attributes.
// Hover to view descriptions of existing attributes.
// For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387

[2018-09-19 21:00] WardenGnaw commented on #2518
Tasks.json and problem matchers is not part of the vscode-cpptools extension. Redirected to the vscode repo at https://github.com/Microsoft/vscode/issues/58980

[2018-09-19 21:00] #2518 closed, assigned to nobody

[2018-09-19 21:30] X-Wei commented on #575
Will it be possible in the future to be able to config this "--no_warning" flag in the C_cpp_extension's configuration ?

[2018-09-19 21:38] WardenGnaw commented on #2522
You will need to compile with the `-g` flag. Closing for now. Please reopen if you are encountering any more issues.

[2018-09-19 21:38] #2522 closed, assigned to nobody

[2018-09-19 21:43] WardenGnaw commented on #2520
Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/106

Please continue discussion on that issue.

[2018-09-19 21:43] #2520 closed, assigned to nobody

[2018-09-19 21:45] pieandcakes commented on #103
@rytisss Do you have a repro project you can share for your scenario?

[2018-09-19 22:09] bobbrow commented on #1443
There is an API for this now, but we do have another feature tracking code folding.  I'll move this over there.  #407

[2018-09-19 22:09] #1443 closed, assigned to nobody

[2018-09-19 22:15] sean-mcmanus commented on #575
@X-Wei Yeah, we have warning enabling almost done (we just wanted to add a setting to enable particular warnings to be disabled before we turn it on), and that work has been post-poned (see https://github.com/Microsoft/vscode-cpptools/milestone/26 ) in favor of shipping IntelliSense-based Go to Definition sooner.

[2018-09-19 22:46] bobbrow commented on #2350
`notifyReady` method is added to v2 API.  Support in cpptools will be in the next release.

[2018-09-19 22:53] bobbrow commented on #2237
support for this has been committed (#2531)

[2018-09-20 05:49] ozkanakgul commented on #756
@leofelipe222 I'm coding c/c++. Thank you.

@sean-mcmanus I'm not sure when it started. But ignored this for months. But I have to investigate big project and need code navigation. So I need this. Then for about 1-2 days I'm trying to solve this problem. I think as you said it is a little bit different problem from the listed ones above. Because I have one working directory. If I put new directory

[2018-09-20 14:36] DanPartelly commented on #106
Given the fact that the debugger GUI in Visual Studio code is still quite primitive and does not provide anything more than the basics, one still has to use native debugger commands in console quite intensely for non-trivial debugging. (really, even if you would have enough features in debug UI to rival Visual Studio debug commands would still be necessary IMO)

Having to prefix a native debugger

[2018-09-20 17:39] DanPartelly commented on #2520
I posted there, but that issue is 2 years old, and prolly nobody gave a damn. Meanwhile, debugging with gdb in Visual Studio Code is and remains a nightmare.

[2018-09-20 19:41] sean-mcmanus commented on #756
@ozkanakgul We try to use the includePath setting in c_cpp_properties.json, which we copy over to the (actual) browse.path setting for Go to Def. You can set C_Cpp.loggingLevel to "Debug" to see which files get parsed after doing a Reset IntelliSense Database command. "*" at the end means non-recursive symbol search (so symbols in sub folders won't be found) and "**" means recursive includePath fo

[2018-09-20 20:51] WardenGnaw commented on #106
The purpose of [VSCode Debug Console](https://code.visualstudio.com/docs/editor/debugging#_debug-console-repl) is to evaluate expressions. In order to allow users to access more advanced features of gdb, we utilized the Debug Console to also communicate with GDB. To allow us to differentiate a GDB command vs an actual expression, we added the `-exec` prefix.

[2018-09-20 20:52] WardenGnaw commented on #642
Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/106

[2018-09-20 20:52] #642 closed, assigned to pieandcakes

[2018-09-20 20:53] WardenGnaw commented on #2044
Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/106

[2018-09-20 20:53] #2044 closed, assigned to nobody

[2018-09-20 20:55] WardenGnaw commented on #1980
You will want to submit a feature request to [VsCode](https://github.com/Microsoft/vscode/issues) for adding debug buttons for `step instruction` and `next instruction`.

[2018-09-20 20:55] #1980 closed, assigned to WardenGnaw

[2018-09-20 21:25] xiaochuanyu commented on #106
Alternatively, what about having the concept of different modes in the Debug Console?
I imagine an interface like this in the console:
[code]
There could even be a indicator in the UI to show what mode you are currently in.

[2018-09-21 00:58] sean-mcmanus opened #2535 "Hover/QuickInfo results are off by one to the left"
Hovering will give the results for the symbol/character to the left, e.g. hovering over the "+" in "int1+int2;" will show the info for int1 instead of "+" and hovering over ";" will show info for int2.

example repro:
[code]

See the existing VS bug at https://developercommunity.visualstudio.com/t/cc-hovergoto-def-doesnt-work-on-the-with-var1var2/1440951

[2018-09-21 01:09] sean-mcmanus opened #2536 "IntelliSense-based Go to Definition falls back to the previous implementation if the definition isn't in the same TU"
This is applies to 0.19.0 or later.

[2018-09-21 01:10] sean-mcmanus commented on #979
This will be fixed in the next release as long as the operators definition/declaration is the same TU (and IntelliSense is enabled), which is the case for iostream <<. If the definition is in a different source file, that is being tracked by https://github.com/Microsoft/vscode-cpptools/issues/2536 .

[2018-09-21 05:33] DanPartelly commented on #106
I assume you mean evaluate JS expressions.  That all OK  when you develop JS and totally inappropriate when you develop native (or really anything else than JS) code of any kind.  I would go as far as saying your current design is broken:

1. When you are in a C++ project with cpptoools extension active you are by definition debug C++
2.You do not want to evaluate expressions in any other language

[2018-09-21 07:09] PijushManna opened #2537 "How to set the compiler path"
I don't know how to set the compiler path. Every time i set it in c_cpp_properties.json . Whenever i go to some other folder the error again comes. Need a parmenent solution. and please make a youtube video how to do that . because most of the time you written in description doesn't work.

[2018-09-21 09:23] sean-mcmanus commented on #2537
You can set C_Cpp.default.compilerPath in settings.json. Are you able to get that to work? c_cpp_properties.json is just for the current workspace folder.

[2018-09-21 13:14] bewster opened #2538 "GDB remote breakpoint not behaving as expected since 0.18.0"
Type: Debugger

**Describe the bug**
- OS and Version: Debian 8.10 (in a Docker container)
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.18.0

After updating to the latest extension I am unable to use the debugger.  The breakpoint is hit; but the UI doesn't do anything.  "Continue" has no effect.  Can "stop" debugging.

If I set stopAtEntry to false.  App runs but "Pause" has no effect.

[2018-09-21 19:19] enelson1001 opened #2539 "C++ autocomplete not working for private functions/methods"
**Type: LanguageService**

**Describe the bug**
When using autocomplete to add a private member function/method to the class the drop-down list of suggested functions/methods only contains public functions/methods.

- OS and Version: Linux Mint 18.3
- VS Code Version: 1.27.2
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them):
- A cle

[2018-09-21 19:27] sean-mcmanus commented on #2539
This is a duplicate of https://github.com/Microsoft/vscode-cpptools/issues/1955. A workaround is to invoke completion (e.g. Ctrl+Space) a 2nd time with the cursor on the same location (you need to use Esc, or cursor left/right to get rid of the 1st completion popup though, since VS Code doesn't allow the 2nd Ctrl+Space while the 1st popup is visible).

[2018-09-21 19:27] #2539 closed, assigned to nobody

[2018-09-21 22:37] pieandcakes commented on #2530
Your program, `TestYolo4Video` is existing with `0x000000b1`. Can you tell me what that error code is? Is it relying on some environment variables that are missing when being run under the debugger?

[2018-09-21 22:39] pieandcakes commented on #2526
You would need to specify `additionalSOLibSearchPath` in your `launch.json`. The documentation is referenced [here](https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md).

[2018-09-21 22:45] pieandcakes commented on #2517
As a workaround you can try and specify `launchCompleteCommand` as `none` and issue the commands yourself in debugConsole using `-exec <command` and at the end pass `-exec -exec-run`.

You should probably be setting your breakpoints in the breakpoint window and not in the setupCommands window.

[2018-09-22 03:26] hoebat opened #2542 "error while processing request 'launch' (exception: libc.dylib) vscode"
Type: Debugger
**Input information below**

This is not really debugger related but when I'm both attempting to debug or to run the program

<img width="510" alt="screen shot 2018-09-22 at 11 24 04 am" src="https://user-images.githubusercontent.com/1455572/45912818-139a1800-be5a-11e8-87b3-51f339cfce1f.png">

**Describe the bug**
- OS and Version: OSX 0.13.5 (17F77)
- VS Code Version: Version 1.27.

[2018-09-22 04:51] sean-mcmanus commented on #2477
This bug isn't fixed -- if a file is open on workspace load it won't have symbols until an edit, close/open, etc. occurs. The problem is that VS Code requires us to send back a document symbol result or it "stop working" and we're not ready to send the symbol info yet.

[2018-09-22 08:52] pewscorner commented on #2477
@sean-mcmanus and @bobbrow, you seem to be implying that this is a VS Code problem because it doesn't allow the extension enough time to provide the symbols. But, as I wrote earlier, other language extensions don't seem to have this problem, and seem to be able to tell VS Code to wait until the symbols are ready. So this option must somehow already be available in the API, I would think.

[2018-09-22 12:28] idealvin opened #2544 "c++ relative include error on macos 10.13.6"
In my `log.cc`
[code]

Then go to definition of `"../flag/flag.h"`, resulting in multiple definitions:

<img width="247" alt="3" src="https://user-images.githubusercontent.com/12691466/46239030-53667f80-c3c5-11e8-9b30-91cd3eab475c.png">
<img width="396" alt="1" src="https://user-images.githubusercontent.com/12691466/46239027-4f3a6200-c3c5-11e8-9c8f-1509fe5b7eff.png">
<img width="910" alt="2" src="

[2018-09-22 21:13] #2321 closed, assigned to nobody

[2018-09-22 21:34] septag opened #2545 "Syntax checker complains on C features (MSVC)"
**Type: Syntax checker**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.27.2
- C/C++ Extension Version: 0.18.1

I'm writing a C99 file that has designated initializers, the code compiles with no errors with msvc compiler, but the syntax checker complains:

[code]

it complains ```expected an expression```

here's my c_cpp_properties.json:

[code]

[2018-09-23 06:17] Hopson97 opened #2546 "How can I re-enable error squiggles?"
I accidentally disabled error squiggles, and I have no idea how to re-enable them.

I had an error, and a light bulb appeared. I clicked on it, and then it disabled error checking.

Thanks!

[2018-09-23 06:25] Hopson97 commented on #2546
In the config file, `"C_Cpp.errorSquiggles"` was set to "Disabled"

[2018-09-23 06:32] Hopson97 commented on #2546
Only works when a file is saved now. Used to work "on the fly", how can I get this working? Thanks!

[2018-09-23 17:01] pflannery commented on #1839
So far i've got this working (with debugging too)

The `compile` task in side the `tasks.json` launches a `cmd.exe` process and runs `vcvarsall.bat` before running the `cl.exe` command.

[code]

The `(Windows) Launch` configuration runs the `compile` task before launching the program.

[code]

[2018-09-23 21:50] leifcr opened #2547 "Support Backslash and forward slash in include statements"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.27.2
- C/C++ Extension Version: Version 0.18.1: August 17, 2018
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is.

**To Reproduce**

Create a CPP file and add
```#include <TestLibrary\somefile.h>```

Intellis

[2018-09-23 21:51] leifcr commented on #2547
Related #696

[2018-09-24 06:56] ravirajawasthi opened #2548 "Unable to open 'isoc99_scanf.c': File not found"
Type: Debugger
Unable to open 'isoc99_scanf.c': File not found (file:///build/glibc-Cl5G7W/glibc-2.23/stdio-common/isoc99_scanf.c).

**error while debugging file**
- OS and Version: Ubuntu 16.04
- VS Code Version: 1.27.2
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is.

**

[2018-09-24 10:33] powertomato commented on #2368
I ran into this issue about a week ago, after it was working previously. The log revealed thousands of
`"Unable to add file to database, error = 0x8064000a: /usr/include/..."` errors.
Killing all extension processes and rebooting the machine didn't help.

I found #2296. The suggestion there is to add `"databaseFilename": "${workspaceFolder}/.vscode/vc.db"` to c_cpp_properties.json

I cannot confir

[2018-09-24 16:33] certik opened #2549 "Where is the recommended way to put c_cpp_properties.json ?"
**Type: LanguageService**

I have successfully setup the vscode's C++ extension to work with one of our open source projects and send a PR (https://github.com/symengine/symengine/pull/1427) to add the `c_cpp_properties.json` into the git project itself, so that vscode works out of the box for other developers, not just me.

Is that the recommended approach? Or should the `c_cpp_properties.json` fi

[2018-09-24 19:38] WardenGnaw commented on #2548
This is by design. When you stop in code that is not owned by you (such as library code in this case, the fopen method), the debugger will return where the library thinks the source should be but since its a glibc library, you probably don't have the source files (which is why it gives the error). You should be able to ignore it and continue debugging.

[2018-09-24 19:38] #2548 closed, assigned to WardenGnaw

[2018-09-24 19:40] WardenGnaw commented on #2538
Can you share your engineLogging the includes hititng continue?

[2018-09-24 21:48] sean-mcmanus commented on #2477
@pewscorner Yeah, it looks like it's a bug with our task queuing system, because when using the "fixed" code for this, the documentSymbol request is randomly blocking the event that is needed to give correct document symbols. Bob is investigating a fix -- not sure if it will make the September release or not.

[2018-09-24 22:01] sean-mcmanus commented on #2545
I'm not seeing any bug. I suspect the issue is that you're using MSVC 14.0's cl.exe. Is that what you're actually using to compile? Can you upgrade to VS 2017's compiler?

![image](https://user-images.githubusercontent.com/19859882/45981661-b2657680-c00a-11e8-85c1-a8acb25edf73.png)

[2018-09-24 22:05] sean-mcmanus commented on #2546
Normally, the error squiggles will update on a timer. There is a known bug that sometimes requires a save (or waiting 10 seconds).

[2018-09-24 22:08] sean-mcmanus commented on #2547
What compiler are you using and what is your compilerPath? Is there a reason you're using msvc-x64 mode on Linux?

[2018-09-24 22:15] sean-mcmanus commented on #2549
If you're able to set the c_cpp_properties.json in a way that works on different computers that would be okay. If that doesn't work, you may need to have additional instructions on how to modify the c_cpp_properties.json and/or set the C_Cpp.default.* values correctly.

[2018-09-25 00:54] sariyn opened #2550 "[Linux] Cannot launch gnome-terminal when launching as a different user"
Hello,
I want to run vscode/cpp under a different user, e.g. with su -l or sudo -u.
When I do, I have to add this to my launch.json to clear an accessibility bus error.
    "environment": [{"name": "NO_AT_BRIDGE", "value": "1"}],

Afterwards I get stuck at a second error:
term-stdout: # Error constructing proxy for org.gnome.Terminal:/org/gnome/Terminal/Factory0: Unknown or unsupported transport “

[2018-09-25 03:22] sudosteve opened #2551 "Too resource intensive. (probably a duplicate, ignore)"
Type: General
**Input information below**

Uses 60%+ of my 2012 macbook pro cpu and causes the temperature to be 10 degrees higher than it is with the extension uninstalled

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Ext

[2018-09-25 06:35] #2551 closed, assigned to nobody

[2018-09-25 06:59] Hopson97 commented on #2546
I understand, thank you! Seems to be working OK now.

[2018-09-25 06:59] #2546 closed, assigned to nobody

[2018-09-25 09:03] mkpankov opened #2554 "Breakpoints are set using just filename what causes them to multiply"
Type: Debugger

Setting a breakpoint in a file `mod.rs` (or any file for that matter, that intersects with other files in libraries) causes multiple breakpoints to be set.

For example, I set a breakpoint at `/home/mkpankov/projects/cargo/src/cargo/core/compiler/context/mod.rs:147` by clicking on the left of the line number.

Then I run the `cargo` under debugger, it stops at breakpoint (wrong one

[2018-09-25 10:28] septag commented on #2545
It's weird, I just opened the project today and noticed that errors are gone (still on msvc14) and I didn't change anything since last time.

Anyway, sorry to waste your time
Thank you for your support

[2018-09-25 12:20] jjimenezg93 opened #2555 "Symbols from files included in "includePath" underlined in red"
**EDIT**: It looks like forcing the use of "C_Cpp.intelliSenseEngine": "Tag Parser" in the settings solves the issue...

---
**Type: LanguageService**

**Describe the bug**
- **Ubuntu 18.04**
- **VS Code Version 1.27.2**
- **C/C++ Extension Version 0.18.1 (August 17, 2018)**

I'm configuring an embedded C project which makes use of an SDK and, if I add to the "includePath" the SDK headers (so I ca

[2018-09-25 13:02] lijh8 opened #2556 "Outline won't highlight corresponding function entry when clicking inside C function body in editor"
Outline won't highlight corresponding function entry when clicking inside C function body in editor, while the status bar at the bottom can show the corresponding function prototype in its C/C++ Navigation.

If vscode can deal with big files and provide both file and project wide outlines (symbol lists) with performance as good as Source Insight, it can replace the later source code editor for lot

[2018-09-25 14:48] WZRPW commented on #510
@bobbrow , hi Bob, one more question. I found that "debug disabled for cuda code in vscode". I wrote one issue about it: https://github.com/kriegalex/vscode-cuda/issues/4    Nobody replies yet. I wonder if you have any clue on this. Thanks,

[2018-09-25 18:21] sean-mcmanus commented on #2551
@sk8ersteve You could try setting the C_Cpp.workspaceParsingPriority to "low" (or do Pause Parsing, if the database icon in the bottom right is showing), and/or the intelliSenseEngine to "Tag Parser" or "Disabled". Removing the "**" from your includePath in c_cpp_properties.json may also help (if the red flame is showing too long).

[2018-09-25 18:49] sean-mcmanus opened #2557 "Switching a source files language from C to C++ (or the reverse) switch the Iangauge used by IntelliSense"
It looks like the language is being cached for a particular file and doesn't update after the language changes. This is most likely a regression from a few updates ago when the code was refactored.

I hit this while investigating https://github.com/Microsoft/vscode-cpptools/issues/2545 .

[2018-09-25 18:50] sean-mcmanus commented on #2545
I was able to reproduce the bug -- it occurs when the file is mistakenly associated with the C++ language instead of C. I filed a bug in regards to IntelliSense not switching the language correctly (https://github.com/Microsoft/vscode-cpptools/issues/2557 ).

[2018-09-25 19:07] sean-mcmanus opened #2558 "Prevent "*.C": "cpp" from getting added to files.associations and/or force "*.c" to use C IntelliSense"
Due to bug https://github.com/Microsoft/vscode/issues/59369 .

...and force "*.C" files to be C++.

[2018-09-25 19:07] sean-mcmanus commented on #2545
There is another bug -- VS Code's files.associations setting can get `"*.C", "cpp",` added to it, but VS Code doesn't take the casing into account, incorrectly causing all .c files to be associated with C++ instead of C. I've filed a VS Code bug at https://github.com/Microsoft/vscode/issues/59369 and a bug on our side to attempt to workaround that bug at https://github.com/Microsoft/vscode-cpptool

[2018-09-25 19:21] sean-mcmanus commented on #2556
This is being tracked with https://github.com/Microsoft/vscode-cpptools/issues/2230 . The symbols we send back to VS Code don't have a range associated with them yet. They updated their API.

[2018-09-25 19:21] #2556 closed, assigned to nobody

[2018-09-25 19:51] sean-mcmanus commented on #2477
Bob's change at https://github.com/Microsoft/vscode-cpptools/pull/2553 fixed the blocking issue, so our next release should have this fix.

[2018-09-26 03:53] pieandcakes opened #2561 "[Feature Request] On Linux, detect version of gdb and provide notice to update to latest"
Chrome debugging has issues where gdb cannot inspect variables unless using newer/newest gdb.

[2018-09-26 06:08] ozkanakgul commented on #756
@sean-mcmanus I've changed both include path and browse path but it did not work. Actually I'm not sure that I'm doing in right way. Because I couldn't find file named c_cpp_properties.json in file system. I just did my changes in settings files (settings.json). I've added these lines to both workspace settings and user settings. But still it does not work. Do you have any idea about what the actu

[2018-09-26 18:19] sean-mcmanus commented on #756
@ozkanakgul We have some info at https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Getting%20started%20with%20IntelliSense%20configuration.md . Can you look at (and/or provide) the C/C++ output window to see what paths are being used?

[2018-09-26 18:30] pieandcakes commented on #2561
Request from user debugging Chrome at CppCon. Says that older gdb does not show certain variables when debugging newer clang compiled code, but updating to newer gdb has fixed the problem.

Would like us to either download/install newer version or prompt user to update to newer version.

Also try to compile clang with -ggdb flag to make the symbol format more gdb compatible.

[2018-09-26 18:33] pieandcakes commented on #2554
@mkpankov We currently send `filename:line number` when sending breakpoint request to make it work with fuzzy paths (relative folder compilation, different machine, etc). What I see here is you are requesting the ability for us to send full paths only when binding breakpoints.

[2018-09-26 18:36] pieandcakes commented on #2550
@Sariyn To solve the terminal problem we are trying to get away from calling one specific terminal and switching to using VS Code's terminal implementation. #35 is something that we are working on right now and will be available in a future release.

For your current situation, we don't have an override to force cpp to run a program with a different user level.

[2018-09-26 18:37] pieandcakes commented on #2542
can you share what version of clang you are compiling with?

[2018-09-26 18:40] pieandcakes commented on #2523
@TheAifam5 Those tool windows are not provided by this extension, so I assume without work on our side that probably isn't going to work. What are you installing that gives you those debug windows?

[2018-09-26 18:42] pieandcakes commented on #2512
@MichaelBrazeau lldb-mi does not respect input redirection. You can reference #1219 for more information.

[2018-09-26 18:43] pieandcakes commented on #2512
Marking as a duplicate of #1219 and closing. Please comment there

[2018-09-26 18:43] #2512 closed, assigned to nobody

[2018-09-26 19:30] sariyn commented on #2550
Got it, thanks!  Will look forward to the integrated terminal in that case.

[2018-09-26 20:17] milanpiskla commented on #2453
I got the same error on Win 10, VS Code 1.27.2, C/C++ Extension 0.18.1

[code]
Please note that I was not able to copy/paste the stacktrace directly as it disappeared immediately. This one was ocr-ed from the screenshot, thus not 100% accurate.

[2018-09-26 20:35] sean-mcmanus commented on #2453
@milanpiskla That log is not helpful -- are you able to attach a debugger to the Microsoft.VSCode.CPP.Extension.exe before the crash occurs and get a call stack? Or do you have any repro details?

[2018-09-26 21:08] sean-mcmanus opened #2564 "Go to Definition on a #include path doesn't use the IntelliSense info"
It should go to the definition that is actually being used by the current translation unit (i.e. not showing all the files that match the include path).

[2018-09-26 21:29] milanpiskla commented on #2453
@sean-mcmanus Sorry, I have not been able to attach a debugger as the extension crashes quickly after starting VS Code

[2018-09-26 22:59] bobbrow commented on #2368
@powertomato it sounds like the DB at the default location was corrupted.  If you remove `databaseFilename` and then run the `"C/Cpp: Reset IntelliSense Database"` command, it should delete the old, corrupted one and replace it with a new one.

For the slow parsing issue, you might want to open a new issue since this one is about goto definition.

[2018-09-26 23:00] sean-mcmanus commented on #2453
@milanpiskla If you clone our repository at https://github.com/Microsoft/vscode-cpptools/tree/release, do a Launch Extension and put a breakpoint on the line after `languageClient.start();` you should be able to attach to the process before it crashes. Let us know if you have a problem doing that.

[2018-09-26 23:12] DABH opened #2565 "Highlighting matching conditional preprocessor statements #ifdef/#endif"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Debian 9
- VS Code Version: 1.27.2
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them): Python
- A clear and concise description of what the bug is.

I have two nested #ifdef's in a cpp file.  The highlighting when I click on them to see matching #ifdef's seems wrong (i

[2018-09-27 07:09] ozkanakgul commented on #756
@sean-mcmanus Thank you for your help. I checked out output window both working vs code folder and not working one and see that working vs code folder can do action below  (parses lots of file)

using Tag Parser for quick info
  tag parsing file: C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO\2017\COMMUNITY\VC\TOOLS\MSVC\14.15.26726\INCLUDE\VCRUNTIME_STARTUP.H
..
..

while not working one is like

[2018-09-27 09:04] powertomato commented on #2368
@bobbrow I should have mentioned I tried executing `"C/Cpp: Reset IntelliSense Database"` but nothing changed. That's why I asked for the default db location, so I could check if something is preventing from writing to that location.

[2018-09-27 10:24] bergeo opened #2567 "Intellisense and avr-gcc"
**Type: LanguageService**

- OS and Version: Windows 10
- VS Code Version: 1.27.2
- C/C++ Extension Version: 0.18.1

I'm using vscode and the cpptools for software developement for AVR microcontrollers using avr-gcc as a compiler.
Intellisense in vscode works just fine until i introduce a variable which should live in the flash of the microcontroller using the attribute `__flash` as in `const __fl

[2018-09-27 11:15] mkpankov commented on #2554
Yes, I'd like full paths for breakpoints.

[2018-09-27 12:41] miniyuan opened #2568 "Debug adapter process has terminated unexpectedly"
Type: Debugger
**Input information below**
Debug adapter process has terminated unexpectedly
**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version:windows 2008x64 r2
- VS Code Version:1.26
- C/C++ Extension Version:cpptools 0.18.1
- Other extensions you insta

[2018-09-27 14:39] TheAifam5 commented on #2523
@pieandcakes oh, now I see.. that's a "PlatformIO IDE" extension.
I will check if that problem with Threads is resolved now.

[2018-09-27 15:29] robclouth commented on #1768
I've been debugging with this: https://github.com/vadimcn/vscode-lldb
You can see the contents of vectors, it's fast, and you can specify the bundle rather than the exact executable of the app to debug.

[2018-09-27 15:30] robclouth commented on #1768
@pieandcakes Is there not something you can take from that other project to speed up the fix?

[2018-09-27 16:16] bobbrow commented on #2567
One way to get IntelliSense to skip over non-standard attributes that it doesn't understand is to add them to the `"defines"` array in your `c_cpp_properties.json` configurations so that they are replaced by whitespace by our parser:

[code]

[2018-09-27 16:47] pieandcakes commented on #1768
@robclouth I think they are using standard lldb whereas we use lldb-mi to use the MI protocol to communicate with lldb.

[2018-09-27 17:28] YousefSaber opened #2569 "my VSCode can't include "conio.h""
my VSCode can't include conio.h although I've included the include file path

elementary OS v0.4.1 Loki

VSCode v1.27.2

C/C++ extension v0.18.1

![image](https://user-images.githubusercontent.com/33742499/46163298-19915e00-c28b-11e8-93b3-459411fcd0cc.png)

![image](https://user-images.githubusercontent.com/33742499/46163329-3037b500-c28b-11e8-9de4-570eaf7df090.png)

[code]
[code]

[2018-09-27 18:04] bool3max commented on #2569
Uhh `conio.h` is not a standard header file. It's a MS-DOS era header file, provided by MS-DOS compilers, yet you're running linux. Are you sure you actually have it on your system?

[2018-09-27 18:33] sean-mcmanus commented on #756
@ozkanakgul It sounds like the database is corrupt or another dangling Microsoft.VSCode.CPP.Extension.exe process has locked the database. Can you do a Reset IntelliSense Database command?

[2018-09-27 18:34] YousefSaber commented on #2569
@bool3max I don't know

[2018-09-27 18:38] sean-mcmanus commented on #2368
@powertomato Your c_cpp_properties.json has the datatabase location set to ${workspaceFolder}/.vscode/vc.db , so I don't know why you want the default db location . One other possibility is that there is a dangling Microsoft.VSCode.CPP.Extension process that has a lock on the database, so it needs to be killed. This could also be some new issue we're not aware of yet. A user at https://github.com/

[2018-09-27 19:01] sean-mcmanus commented on #2569
@YousefSaber Why are you trying to include conio.h, i.e. what code do you want to use from that? It could be located in another header file. Where does the file exist on your file system?

[2018-09-27 19:10] YousefSaber commented on #2569
I'll try something else I'll close this thread for now

[2018-09-27 19:10] #2569 closed, assigned to nobody

[2018-09-27 19:27] ozkanakgul commented on #756
@sean-mcmanus I've tried to reset intellisense, but it did not work. Also I could not find Microsoft.VSCode.CPP.Extension.exe running in processes screen.

[2018-09-27 19:43] milanpiskla commented on #2453
@sean-mcmanus I launched the extension as you suggested and got this call stack from the debugger:

[code]

[2018-09-27 21:37] certik commented on #2549
@sean-mcmanus thanks for your feedback. I think that answers my question, so I am going to close it.

[2018-09-27 21:37] #2549 closed, assigned to nobody

[2018-09-27 22:57] sean-mcmanus commented on #2565
Yeah, our reference highlighting code only works on code items and not preprocessor keywords like #ifdef/endif -- we would have to check the current token and find the matching begin/end token.

[2018-09-28 00:45] sean-mcmanus commented on #202
The saving requirement for symbol updating has been fixed with 0.19.0.

[2018-09-28 00:45] #202 closed, assigned to nobody

[2018-09-28 00:46] sean-mcmanus commented on #845
The saving requirement for symbol updating has been fixed with 0.19.0.

[2018-09-28 00:48] sean-mcmanus commented on #848
The saving requirement for symbol updating has been fixed with 0.19.0.

[2018-09-28 00:49] #2535 closed, assigned to nobody

[2018-09-28 00:49] sean-mcmanus commented on #2532
This empty array environment variable bug is fixed in 0.19.0.

[2018-09-28 00:49] #2532 closed, assigned to nobody

[2018-09-28 00:51] sean-mcmanus commented on #2477
The Outline view not finding symbols for open files after workspace loading has been fixed with 0.19.0.

[2018-09-28 00:51] #2477 closed, assigned to nobody

[2018-09-28 00:51] #2500 closed, assigned to nobody

[2018-09-28 00:51] #2504 closed, assigned to nobody

[2018-09-28 00:53] sean-mcmanus commented on #2305
The parsing issues with compile_commands.json definitions should be fixed with 0.19.0 -- I think part of the fix made it into 0.18.0, but there were additional fixes afterwards.

[2018-09-28 00:53] #2305 closed, assigned to nobody

[2018-09-28 00:53] sean-mcmanus commented on #2237
The v2 API support has shipped with 0.19.0.

[2018-09-28 00:53] #2237 closed, assigned to nobody

[2018-09-28 00:53] #1526 closed, assigned to grdowns

[2018-09-28 01:03] sean-mcmanus commented on #559
Definitions should not longer be returned in comments with 0.19.0.

[2018-09-28 01:03] #559 closed, assigned to nobody

[2018-09-28 01:03] sean-mcmanus commented on #839
Hover should not longer return results in comments with 0.19.0.

[2018-09-28 01:04] #2350 closed, assigned to nobody

[2018-09-28 01:04] sean-mcmanus commented on #2240
@bobbrow This is fixed now, right?

[2018-09-28 01:12] sean-mcmanus commented on #979
Go to Definition on overloaded operators works with the "Default" intelliSenseEngine with 0.19.0 -- but only if the definition exists in the current translation unit, which is the case for the iostream << operator in your example. We're tracking the "not in the TU" case with https://github.com/Microsoft/vscode-cpptools/issues/2536 .

Also, for cases like "int1+int2" (with no space surrounding the

[2018-09-28 01:12] #979 closed, assigned to nobody

[2018-09-28 01:16] sean-mcmanus commented on #273
0.19.0 has Go to Definition performance improvements (described in my previous comment). If you're still getting performance issues, it could be due to another issue, such as the red flame blocking the go to definition (tracked in https://github.com/Microsoft/vscode-cpptools/issues/1928 ).

[2018-09-28 01:16] #273 closed, assigned to nobody

[2018-09-28 01:19] sean-mcmanus commented on #255
0.19.0 implements IntelliSense-based Go to Definition with local variables, but only if the definition exists in the same translation unit. The "out of the TU" case (i.e. non-local variables defined in a different C++ file) is still being worked on and will fall back to the previous behavior: see https://github.com/Microsoft/vscode-cpptools/issues/2536.

[2018-09-28 01:19] #255 closed, assigned to nobody

[2018-09-28 01:21] sean-mcmanus commented on #260
@felkar123 0.19.0 implements Go to Declaration with local variables (and the autocomplete was implemented a while ago).

[2018-09-28 01:28] sean-mcmanus commented on #1071
0.19.0 added IntelliSense-based Go to Definition which was expected to fix this, but there's a bug in which we incorrectly return all the overloads instead the matching one -- should be easy to fix for 0.19.1-insiders.

UPDATE: The overloads issue is fixed with https://github.com/Microsoft/vscode-cpptools/releases/tag/0.19.1-insiders .

[2018-09-28 01:52] sean-mcmanus opened #2573 "IntelliSense-based Go to Definition incorrectly falls back to the old implementation if used on a definition without a declaration"
Repros with the last "s1" in "struct s1 s1" in https://github.com/Microsoft/vscode-cpptools/issues/1290 , although a more "real" example would be go to def on foo in

[code]

Should be easy to fix for 0.19.1-insiders.

[2018-09-28 01:58] sean-mcmanus commented on #1290
Go to Definition on the "s1" in "struct s1" works with 0.19.0, but when done on the last s1 in "struct s1 s1;" it falls back to the old behavior -- I'm tracking that with https://github.com/Microsoft/vscode-cpptools/issues/2573 . Go to Def of the s1 global variable in the current file works correctly, just not on the identifier name in the definition itself (UPDATE: Fixed with https://github.com/M

[2018-09-28 02:01] sean-mcmanus commented on #1151
This has been fixed with 0.19.0 -- the ID variable works with completion and Go to Definition.

[2018-09-28 02:06] sean-mcmanus commented on #1464
Go to Defintion and autocomplete with local variables should work with 0.19.0. Let us know if you're still having issues with it.

[2018-09-28 02:08] sean-mcmanus commented on #1487
Go to Definition on aa.foo goes to A::foo with 0.19.0.

[2018-09-28 02:11] sean-mcmanus commented on #1479
@xueyunquan Go to Definition on "amdgpu_cs_submit_one" should work as of 0.19.0. The navigation issue requires adding the for each macros to a cpp.hint file.

[2018-09-28 02:12] sean-mcmanus commented on #1518
Go to Definition std::string:length should work correctly with 0.19.0 (I get the definition in xstring).

[2018-09-28 02:13] sean-mcmanus commented on #1597
Go to Definition on the myinteger local variable works with 0.19.0.

[2018-09-28 02:16] sean-mcmanus commented on #1602
Go to Definition for class and enum definitions should work with 0.19.0 (including anything else defined in the current translation unit, i.e. the cpp file or its included headers).

[2018-09-28 02:18] sean-mcmanus commented on #1837
Go to Definition on the local variable in your example should work with 0.19.0.

[2018-09-28 02:27] sean-mcmanus commented on #1087
@azydevelopment This has been fixed with 0.19.0 -- so my ETA of 3-6 months was way off, although we still have work to do if the definition is not in the current translation unit.

[2018-09-28 02:34] sean-mcmanus commented on #2265
With 0.19.0, this is fixed if the execute method is actually defined in the class itself (i.e. with a {} body) and it works if Go to Declaration is used. However, if the definition is in another cpp file, that work is being tracked by https://github.com/Microsoft/vscode-cpptools/issues/2536 .

[2018-09-28 02:38] sean-mcmanus commented on #1163
Go to Defintion on std::vector<>::cend() should work with 0.19.0. I don't think the browse.path population with compile_commands.json was implemented though.

[2018-09-28 02:42] sean-mcmanus commented on #680
Go to definition with local variables was implemented with 0.19.0 -- are you still having issues?

[2018-09-28 02:46] sean-mcmanus commented on #2373
@JingGuo218 Go to definition on functions defined using the macro TEST_DEF works with 0.19.0 -- it doesn't require adding a cpp.hint in the scenario described, but it would if the definition is not in the current translation unit. "test_func" also won't appear in the Outline view or Go to Symbol results though, which still use the symbol database for results.

[2018-09-28 02:55] sean-mcmanus commented on #2442
The Go to Definition on "bar" has been fixed with 0.19.0. I'm not able to repro the completion issue with the fallback even with 0.18.1 -- @bobbrow since you appear to have gotten a repro can you see if it's still a bug? Did you ever investigate this yet?

[2018-09-28 03:01] sean-mcmanus commented on #1517
@chrisjallen @melak47 The vscode issue tracking this is https://github.com/Microsoft/vscode/issues/31046 so please upvote that.

[2018-09-28 03:23] sean-mcmanus opened #2574 "Go to Definition fails in this example"
From https://github.com/Microsoft/vscode-cpptools/issues/1968:

[code]

[2018-09-28 03:24] sean-mcmanus commented on #1968
The Go to Definition failing with std::string::npos is fixed with 0.19.0, but the modified example I came up with still has a bug, which I'm tracking with https://github.com/Microsoft/vscode-cpptools/issues/2574 .

UPDATE: It got fixed with https://github.com/Microsoft/vscode-cpptools/releases/tag/0.19.1-insiders .

[2018-09-28 03:24] #1968 closed, assigned to nobody

[2018-09-28 11:59] powertomato commented on #2368
@sean-mcmanus As I wrote in my first comment I can only replicate this bug with the default db, if I change it, like in my c_cpp_properties.json, it works, as far as I'm concerned, I'm fine with that workaround.

However you have tagged this with "more info needed" and I'm just trying to provide as much info as I can.
With the default db even `"C/Cpp: Reset IntelliSense Database"` wont fix it, imp

[2018-09-28 12:26] bergeo commented on #2567
Thank's Bob, that fixes the issue for the Moment :-)

Cheers,
Georg

[2018-09-28 16:08] smlutz2 commented on #2526
@pieandcakes I am experiencing the same issue as the OP but in VS 2017 Professional (15.8.4). I am building and running in WSL through Visual Studio. I have set my Shared Library Search Path to the directory containing my libraries. My program builds and runs as expected when I run it from the command line, but I cannot debug in VS. Just like the OP, I can debug my application when I do not use my

[2018-09-28 16:20] #2567 closed, assigned to nobody

[2018-09-28 16:25] bobbrow commented on #2240
Yes.  The providers will need to update to the v2 API to get the fixed behavior.

[2018-09-28 16:38] sherryyshi commented on #2237
thanks!

[2018-09-28 16:38] sherryyshi commented on #2350
Thanks!

[2018-09-28 17:25] bobbrow commented on #2442
My repro involves recursive includes, and an empty `compilerPath` string which results in no include directories being sent to the IntelliSense server.  This causes an error in the server when *any* `#include` is attempted in the file.

For the time being, you should be able to work around this issue by adding any non-recursive path to your `includePath` in `c_cpp_properties.json` (e.g. "${workspa

[2018-09-28 18:08] sean-mcmanus commented on #2368
@powertomato Okay, I missed that detail -- the default db location is under a hashid folder in ~/.config/Code/User/workspaceStorage, so you can manually delete that entire folder (and VS Code will re-create it when we request a new default db). The Reset command is supposed to show a success/failure message...I assume it shows the success message, but still doesn't fix the issue.

[2018-09-28 21:29] swharden commented on #1201
Isn't CTRL+F5 already the default key binding for _Start (without debugging)_ (`workbench.action.debug.run`)? ~It seems to work for me out of the box too: F5 launches with debugging, CTRL+F5 launches without.~

***EDIT:*** In my case I don't think debugging is actually ever running properly, but at least CTRL+F5 is still "running without debugging". The only difference I see is that the call stack

[2018-09-28 22:23] safield commented on #230
Here are my findings on C++ syntax highlighting...

-Adding template diamond brackets to a method call breaks syntax highlight.
[code]

-there is no way to differentiate between a method declaration/definition, and a method invocation in a color theme. This behavior is present in similar editors to VSCode. In the following snippet, both "Foo" strings will be colored the same, where as in Sublime T