[2019-05-14 00:35] sean-mcmanus commented on #3340
What do you mean by "windows"? Do you mean you have multiple VS Code instances open? Do they all point to the same workspace folder? What do you mean by "IntelliSense database" -- do you mean the browse database (i.e. from "tag parsing file") or the in-process IntelliSense updating?

[2019-05-14 00:58] sean-mcmanus commented on #3636
Our parser doesn't currently support the -fblocks extension. I filed a bug (feature request) for VS at https://developercommunity.visualstudio.com/content/problem/566828/cc-intellisense-doesnt-support-fblocks-in-windows.html . If you have a Microsoft account you can login to upvote that.

[2019-05-14 01:03] vindicatorr commented on #3633
Just to put it out there, I set "C_Cpp.default.intelliSenseMode": "gcc-x64" in settings.json instead of msvc-x64, and that appears to have fixed the ever-increasing size issue.
The change of course changes the program used to "~/.vscode-insiders/extensions/ms-vscode.cpptools-0.23.0/bin/Microsoft.VSCode.CPP.IntelliSense.Msvc.linux"

And yes, /tmp uses the tmpfs which uses RAM: http://man7.org/linux

[2019-05-14 01:51] sean-mcmanus commented on #3633
Yeah, if you're on Linux (or not compiling with cl.exe), you probably want the gcc-x64 (or clang-x64) mode. I don't know why msvc-x64 mode would trigger the behavior describe, unless it was causing lots of crashes maybe.

[2019-05-14 02:19] sean-mcmanus commented on #3583
Should be fixed with 0.23.1.

[2019-05-14 02:19] #3583 closed, assigned to nobody

[2019-05-14 02:20] sean-mcmanus commented on #3615
Should be fixed with 0.23.1.

[2019-05-14 02:20] #3615 closed, assigned to Colengms

[2019-05-14 02:20] #3621 closed, assigned to nobody

[2019-05-14 02:22] Lennon925 opened #3642 "Intelli Sense Cache Path Bug"
- C/C++ Extension Version: 0.23.1

I set  "Intelli Sense Cache Path" to "D:/storageLocation/${workspaceFolderBasename}/".
If I have three folders which have the same name 'cpptools-demo‘ and have different storage path，it goes wrong.

Open first folder, it created cpptools-demo folder in D:/storageLocation
Open second folder, it create untitled folder in D:/storageLocation
Open third folder, it di

[2019-05-14 02:39] Gan-Jason commented on #3640
thanks,i make it after installing the offline vsix.lol

[2019-05-14 02:55] sean-mcmanus commented on #3642
Yeah, I'm seeing the ${workspaceFolderBasename} incorrectly being resolved to "untitled".

Also, I'm seeing bogus temporary paths getting created while the setting is changed in the UI editor. I filed a bug at https://github.com/microsoft/vscode-cpptools/issues/3644 .

There isn't a way currently to set the location to the "workspaceStorage" location. Is there an issue on this already?

[2019-05-14 03:04] sean-mcmanus commented on #3642
I have a fix at https://github.com/microsoft/vscode-cpptools/pull/3643 . I'm not able to repro the bugs after that.

[2019-05-14 03:07] sean-mcmanus opened #3644 "Bunch of bogus directories get created when editing the C_Cpp.intelliSenseCachePath setting"
Make edits to the intelliSenseCachePath setting, such as trying to change it to `C:/New Folder/${workspaceFolderBasename}` and it will create a bunch of bogus directories like `$`.

[2019-05-14 06:31] prashanjitghosh opened #3645 "Request to search for all references"
Issue Type: <b>Feature Request</b>

I use the VS code for C++ and C projects. I have also installed this extension. can you please tell if there is "Search for all refrences"  feature if not can you implement this?

Extension version: 0.23.1
VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c698247aeabd8, 2019-04-11T08:27:14.102Z)
OS version: Windows_NT x64 10.0.17763

[2019-05-14 07:55] Lennon925 commented on #3642
I tried to set ${workspaceFolderBasename} to cpptools database storage path, there is only one cpptool-demo folder when I opened many folders which have the same name but have different storage path.

If I use ${workspaceFolderBasename}, folders which have the same name but have different storage path will be regarded as a same folder, right?

[2019-05-14 07:56] Lennon925 commented on #3645
I need this, too.

[2019-05-14 08:30] hlide commented on #1800
Where? It is quite infuriating to have to type something similar in the console (you need `"stopAtEntry": true`) whenever I launch a debugger session. I just want to have it defined in one configuration of the launch.json so when I launch a debug session, it can execute that line then run the program until the exception raises.

EDIT1:
I happen to make it work with:
[code]
but I suspect it may not

[2019-05-14 09:12] rynz opened #3646 "Enable unlimited string size for gdb"
Type: Debugger
**Input information below**
Perhaps it is a good idea to change the default configuration for Windows and Linux to enable unlimited string size for gdb.

[2019-05-14 09:30] #2191 closed, assigned to nobody

[2019-05-14 09:58] Gruntfuggly commented on #3340
Multiple instances of vscode pointing at different workspace folders, but sharing libraries. They are modules in an overall project.

To be honest, it's hard to tell what database - it's the red flame icon which says "Updating Intellisense..." when I hover over it. Also the white 'database' icon seems to be shown at the same time quite often.

[2019-05-14 10:49] minkir014 commented on #3638
Closed as Solved.

[2019-05-14 10:49] #3638 closed, assigned to nobody

[2019-05-14 11:00] minkir014 commented on #3637
Remove `compiler path` setting intellisense works great without it.

[2019-05-14 11:03] minkir014 commented on #3636
C/C++ clang extension provide that.

[2019-05-14 12:00] boborbt commented on #3636
Hi minkir014, thanks for the hint.

I did not find exactly the package you mentioned, but its closest match: "C/C++ Clang Command Line Adapter" indeed solves the

[2019-05-14 12:00] #3636 closed, assigned to nobody

[2019-05-14 12:16] infalmo commented on #3298
Does anyone face the same issue? This seems to persist in every Linux OS I tried. Is there any short term fix for this?

[2019-05-14 13:44] minkir014 opened #3648 "Debugger Doesn't step into function"
When I launch the debugger it works but it can't step into functions like that:

![Screenshot (32)](https://user-images.githubusercontent.com/42807112/57702763-0a66f100-765f-11e9-962e-2b84debadf03.png)

When I make a step it goes like this

![Screenshot (33)](https://user-images.githubusercontent.com/42807112/57702800-1c489400-765f-11e9-9524-d314c642cdca.png)

[2019-05-14 14:53] joelvonrotz opened #3649 "Undefined Variables/Classes with content-aware Intellisense"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win 7 7601
- VS Code Version: 1.34.20-insider (has been tested too with normal version)
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them):
   - Better Comments
   - Bookmarks
   - Bracket Pair Colorizer 2
   - colorize
   - Doxygen Documentation Generator
   - Flat UI

[2019-05-14 16:42] KaeLL commented on #3591
Is there any more info you need?

[2019-05-14 17:02] noxabellus commented on #3645
I agree this would be great to have

[2019-05-14 17:20] michelleangela commented on #3645
The implementation for this feature is in progress and is being tracked by #15

[2019-05-14 17:20] #3645 closed, assigned to nobody

[2019-05-14 18:09] pieandcakes commented on #3298
@infixint943 This happens only on the Linux ones. If you use WIndows or macOs it won't show up.

Like I said above, this is something that we have as a requirement to support running in the integrated terminal and having VS Code launch our terminal.

[2019-05-14 18:20] pieandcakes commented on #3646
@rynz what is the reason to permanently turn this on? This does not seem like a good default setting to include for all users especially if they end up with really long strings. It looks like the default is 200. Is that too short?

[2019-05-14 18:21] pieandcakes commented on #3648
@minkir014 Please enable [engineLogging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging) and provide a log.

[2019-05-14 18:25] el3mentry opened #3650 "Garbage value for a specific program on vscode just in my system"
-   OS and Version:Win10 1809
-   VS Code Version: March 2019 (version 1.33)
-   C/C++ Extension Version:0.23.1
-   GCC Compiler Version: 8.1.0

**So, I am getting a garbage value on one of the outputs when I run a program,**

## TO REPRODUCE

Here is the code:
[**https://textuploader.com/1dkda**](https://textuploader.com/1dkda)
*[To find the perfect numbers within a entered range and print the nu

[2019-05-14 18:32] michelleangela commented on #3637
Hi @Kri-Ol, the usage of compiler `clang-cl.exe` with IntelliSense mode `clang-x64` should not show an incompatibility error message. You can use `clang-x64` with `clang-cl.exe` and just ignore the error. I'll change the logic that validates the compatibility; the fix will be available in a future release.

[2019-05-14 19:29] minkir014 commented on #3637
I say if he removed that setting that will work. It works for me greatly.

[2019-05-14 20:05] minkir014 commented on #3648
I understood what you mean ant this is `launch.json`

![Screenshot (36)](https://user-images.githubusercontent.com/42807112/57727945-fdfc8b80-7692-11e9-8033-2140fe7a2346.png)

and this is the output in the debug console before the step

`1: (315) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'
1: (340) LaunchOptions  ExePath='C:\Users\MINKIR\De

[2019-05-14 21:50] sean-mcmanus commented on #3642
Yeah, using ${workspaceFolderBasename} just uses the name and not the storage path -- the storage path creates a hash for the workspace. However, I think we could create our own ${workspaceStorage} variable that resolves to the storage path and add that to the AdditionalEnvironment in the exact same we do do for the ${workspaceFolderBasename}, which would allow users to use that location for the i

[2019-05-14 21:51] rynz commented on #3646
@pieandcakes to my knowledge Visual Studio does not impose a limit. For my personal use case, I needed to be able to copy byte arrays as hex from the debugger, and as I could not do it by inspecting the arrays (eg: watching `buf,x` it still only copies one value when you select many and also has a limit) I, therefore, converted them to strings where the default limit of 200 was not enough.

The re

[2019-05-14 21:53] GiuseppeCesarano commented on #1399
Guys don't download rnd shit from AUR if you have libtinfo.so.6.
Run: `ls /lib/ | grep libtinfo`.
if you can see libtinfo.so.6 then run:
`sudo link /lib/libtinfo.so.6 /lib/libtinfo.so.5`

[2019-05-14 21:59] GiuseppeCesarano commented on #3174
As i said in another similar issue, if you have libtinfo.so.6 you can create a simple system link instead of downloading new packages. Here's how!
Run: `ls /lib/ | grep libtinfo`
Then if you can see libtinfo.so.6
Run: `sudo link /lib/libtinfo.so.6 /lib/libtinfo.so.5`

[2019-05-14 22:13] sean-mcmanus commented on #3340
If you have 4+ VS Code windows open and you make an edit to a header file shared all the projects, then that will cause all 4+ processes to try to update after typing, even if the Windows are not active...it's not a scenario we have optimized for yet. Are you able to determine if that this is the cause of the OS freezes?

[2019-05-14 23:03] crioux commented on #3017
This is still broken on latest Insiders, as of today. I can reproduce it reliably. (running on Linux x86_64, installed via the apt repo)

Here's the debug configuration :

[code]

This is happening with local source code available in ${homedir}/foo, connecting to a remote gdbserver with no special options.

Click on an item in the call stack list to open the source file and this is what you get:

[2019-05-14 23:07] sean-mcmanus commented on #3591
I'm not sure yet. I think someone on our team needs to try the repro.

[2019-05-14 23:38] sean-mcmanus commented on #3649
Previously, the intelliSenseEngineFallback was set to Default instead of Disabled, so if a header was missing it would not show any squiggles. The completion comments are probably coming from the tag parser. Can you go to the definition of CAN and see why IntelliSense isn't compiling the definition? I would guess a define is not set. Also, it seems like you may want to set the intelliSenseMode to

[2019-05-15 00:02] sean-mcmanus commented on #3642
@Lennon925 I've also added a ${workspaceStorage} variable (which resolves to the full path of the storage location), so you could use that.

[2019-05-15 00:02] michelleangela commented on #3633
@vindicatorr, that's interesting for the behavior to change when the IntelliSense mode was set.

We'd like to understand more of what's happening with the repro. Could you provide the following when the issue occurred?

- A copy of your `c_cpp_properties.json` settings

- A copy of the output from running command `C/C++: Log Diagnostics`. Note that you will need a source file open prior to running

[2019-05-15 00:08] sean-mcmanus commented on #3616
Our current plan is to switch to a shared path like `<AppData>/.cpptools` so the default is a 5 GB limit (not sure when that work will ship though, unless someone wants to submit a pull request themselves). The main argument against turning it off by default is that we're worried about too many users getting reduced performance if the default is off...we're still discussing this internally though.

[2019-05-15 00:21] machstriking opened #3652 "Unable to launch external console on MacOS when using GDB"
Type: Debugger

**Describe the bug**
- OS and Version: MacOS Mojave
- VS Code Version: 1.33.1
- C/C++ Extension Version:0.23.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

When trying to debug on macOS using gdb instead of lldb external console is not started, even when `"externalConsole": true` is set in

[2019-05-15 01:37] sean-mcmanus commented on #3410
https://developercommunity.visualstudio.com/content/problem/520117/linting-error-for-expimp-template-template-class-d.html

[2019-05-15 01:48] sean-mcmanus commented on #3167
The VS team closed it as "by design".

[2019-05-15 01:48] #3167 closed, assigned to nobody

[2019-05-15 03:44] Summon528 commented on #1527
Is this actually fixed? cause debugger still hangs if I enable UTF-8.  I'm using v0.23.1

[2019-05-15 08:53] joelvonrotz commented on #3649
Hi Sean
I was able to fix it. The whole mbed library is huge and it seems that adding one include path to a completely different compiler fixed the problem for now.

[2019-05-15 08:54] joelvonrotz commented on #3649
So it's my bad.

[2019-05-15 08:54] #3649 closed, assigned to nobody

[2019-05-15 09:03] pfeerick commented on #1399
Random, eh? I don't think so. libtinfo5 is the shared library for ncurses v5, as opposed to libtinfo6 to match ncurses v6. However, if linking to the wrong version if you have it installed already works for you, you could have simply said that.

![image](https://user-images.githubusercontent.com/5500713/57762927-c13c9d00-7743-11e9-929d-376d583f30f9.png)

[2019-05-15 09:49] GiuseppeCesarano commented on #1399
Okay i did check the AUR installer, it pulls the files from the GNU ftp server, so isn't random shit. That being said, i checked the ncurses's releases notes and v6 is backwards compatible with v5, so it's still better create a system link instead of installing an older version of the same lib. Sorry i never feel confident using the AUR if i don't check the installer.

[2019-05-15 11:26] ghost opened #3653 "Undeclared variables are not highlighted/underlined"
Issue Type: <b>Bug</b>

{
 //int a = 2;
 a = 5;
}

Expected: Any visual representation that a is undeclared.

Extension version: 0.23.1
VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c698247aeabd8, 2019-04-11T08:27:14.102Z)
OS version: Windows_NT x64 6.1.7601

[2019-05-15 13:23] KaeLL commented on #3591
The steps to reproduce are as follow:
Copy the `$IDF_PATH/examples/get-started/hello_world` folder into the workspace folder;
Do a minimum setup of the `c_cpp_properties.json` files, adding `%IDF_PATH/components/**` to `includePath`, and the path to xtensa's GCC on `compilerPath`, and there you have it. Changing the c standard and intellisense mode isn't vital, but don't help either.

[2019-05-15 15:07] Gruntfuggly commented on #3340
The problem definitely gets worse with more windows open.

[2019-05-15 15:57] kavehv commented on #1816
I've been running into this even more recently (currently on 0.23.1).  It's killing the battery on my MBP and consuming enough CPU that it won't charge on its 85W charger when VS Code is open to any C/C++ file in our source tree.

The only steps I take are opening VS code with my project, then switching to a C++ file.

Furthermore, I have tried putting both `"C_Cpp.default.macFrameworkPath": [],`

[2019-05-15 16:17] WardenGnaw commented on #3652
We have noted this in our [documentation](https://github.com/microsoft/vscode-cpptools/blob/master/launch.md#externalconsole), but external console does not work with MacOS because of the limitations of lldb-mi.

[2019-05-15 16:21] WardenGnaw commented on #3650
This is neither a language service or debugger issue. It will reproduce if you run it without VS Code.

I would recommend debugging through your code to find out why `SumTotal` may be the value, you think it is.

[2019-05-15 16:21] #3650 closed, assigned to WardenGnaw

[2019-05-15 17:05] michelleangela commented on #3653
Hi @nimodia, I was not able to reproduce the issue.

My repro steps were:

1. Open folder
2. Create cpp file
3. Add the repro code

To help determine whether this could be a configuration issue on IntelliSense settings or a bug on IntelliSense itself, could you send the following:

- Repro steps of how you opened or created the file. Did you open/create the file without opening a folder first?

-

[2019-05-15 17:44] pieandcakes commented on #1527
@Summon528 No I think this was closed by accident. The codepage issue has not been fixed. I have been unable to determine why we are receiving a UTF-8 BOM from gdb and unfortunately this is still causing problems.

[2019-05-15 19:25] Colengms commented on #3591
Hi KaeLL,

I've installed esp-idf and xtensa-esp32-elf.  I configured the hello world example directly in it's existing location, using a configuration essentially identically to the second c_cpp_properties.json you provided (but with my own parent dir instead of Documents).  That config did not include any references to $IDF_PATH.  I'm not reproing the squiggles you reported, on esp_chip_info_t o

[2019-05-15 19:27] #3381 closed, assigned to Colengms

[2019-05-15 20:10] NicTanghe opened #3654 "Visual studio 2019 build tools provides error C1034: iostream: no include path set The terminal process terminated with exit code: 2"
Type: General
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: widows 10
- VS Code Version: code -v
1.33.1
51b0b28134d51361cf996d2f0a1c698247aeabd8
x64

visual studio version:
NOT installed only build tools 2019 and c++ buil

[2019-05-15 20:32] sean-mcmanus commented on #3654
c_cpp_properties.json is just for configuring IntelliSense with our C/C++ extension and not building. The task.json has its own args you need to add something like
`
"/I",
"C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\BuildTools\\VC\\Tools\\MSVC\\14.20.27508\\include",
`
to the args.

[2019-05-15 20:47] resk8 commented on #881
any updates?

[2019-05-15 21:21] pieandcakes commented on #881
@resk8 I don't have a JLink device and I need additional information to know what the issue is.

[2019-05-15 21:21] sean-mcmanus commented on #1816
I believe the `/Applications/XCode.app` is being brought in from querying your compiler, so you could set your compilerPath to "" to resolve that. You could also try adding the paths to files.excludes.

I don't know of any changes we've made recently to the tag parsing that would cause CPU usage to increase.

[2019-05-15 21:25] kavehv commented on #1816
I think a significant part of it seems to be that it has to go through NFS.

Off topic, but I've been trying out the Remote extension that's part of the insiders version of VSCode and it is fantastic.  That will probably be my long term solution to this.  It indexes our entire codebase in about a minute.  I seem to run into issues when there's a decent amount of overhead involved in transacting wi

[2019-05-15 21:26] sean-mcmanus commented on #3039
Do you need support for the /AI command line for adding directories to search for files when using `#using`? I'm not sure how important that is to add.

UPDATE: We'll just enable /AI on the compilerPath for now...we might support it via includePath later on.

[2019-05-15 23:05] bobbrow commented on #3654
You shouldn't have to add the system include path to the task.  Do you get the same error when you try compiling in the Developer Command Prompt with the same arguments?

[2019-05-16 00:39] Dellyjoe commented on #3610
Hello everyone,

I have a similar issue, I have a tinkerbaord S which I have installed VSC. from Headmelt. I have extensions C/C++ and platformIO installed. I use platformIO to do my coding in, which when I build it uses c/c++ to do some of the work.

I'm not sure how to fix this, it never worked for me. Is this extension not able to work do to me being on an arm processor. ?

[2019-05-16 00:56] sean-mcmanus commented on #3610
@Dellyjoe Yes, our binary isn't built for arm yet (we have another issue tracking that...it's around our 9th most requested feature).

[2019-05-16 01:04] Dellyjoe commented on #429
+1 here. Trying to use platformIO which depends on C/C++ Extensions. Sadly I guess I will have to wait, and can't code on my Tinkerboard

Thank you,
Joe

[2019-05-16 01:08] sean-mcmanus commented on #429
@Dellyjoe You could try using platformIO with a different IDE or with a different C/C++ extension that runs on arm. Even if we did build for arm, our binary might use too many resources for the arm device to handle.

[2019-05-16 01:51] yaweiw opened #3655 "[Regression] "Go To Definition" performance downgrade in v0.20.0"
Relevant issue #3480

We've managed to identify a performance regression in v0.20.0. We tested "Go To Definition" performance between v0.19.0 and v0.20.0 using the same repo. The performance downgrade is distinct. As there were a few bug fixes wrt GTD in v0.20.0, it doesn't surprise me if regression bugs were introduced. We've roll back to 19 and everything works just fine.

[2019-05-16 01:58] yaweiw commented on #3655
@sean-mcmanus @Lennon925

[2019-05-16 01:58] sean-mcmanus commented on #3655
Is the performance regression you are seeing dependent on the size of the file and is the main process using the CPU? We started re-running our lexer on Go to Def in that build. We plan to eventually cache the lexing. If the IntelliSense process is using CPU then that is a different issue.

[2019-05-16 02:19] yaweiw commented on #3655
We noticed the slowness when the definition of functions is in another subfolder. It seemed irrelevant to the size of the source code file. The size of the repo however is quite big and browse.db is around 1.6GB. We are not seeing high CPU utilization on the machine at that moment. Not sure how cached lexing has anything to do with it. My gut feeling is we should look into the performance of how s

[2019-05-16 02:40] sean-mcmanus commented on #3655
Yeah, looking at the linked issue, it sounds like a database querying issue. You can verify this if Go to Definition is fast for local variables and slow when definitions are in a different TU, which requires a database look up. Does 0.19.0 actually work correctly? It's possible 0.19.0 was buggy and failing to query the database for the definition. I'm not aware of any change that would have made

[2019-05-16 02:47] sean-mcmanus commented on #3655
I see one fix where we were not querying the database if the definition wasn't found in the TU and #include headers were missing and intelliSenseEngineFallback is Disabled, but in that case it would give "No results" with 0.19.0.

[2019-05-16 02:59] yaweiw commented on #3655
locals or symbols within the same TU is fast. Slowness only happens across different TUs.
Test results:
0.19.1 insiders1 is as good as 0.19.0. insiders2 is slower than insiders1 but better than insiders3. insiders3 is as slow as 0.20.0. We also noticed massive Current Disk Read Queue Length from PerfMon, which indicates burst of Disk Reads that initiated by cross TU GTD.

[2019-05-16 03:31] sean-mcmanus commented on #3655
Yeah, the change made in 0.19.1-insiders3 could cause up to 3 times as many database operations as it retries with less strict type checking. It might be possible to avoid the 2 extra iterations if we build 3 results simultaneously in 1 pass (not sure yet). That could reduce the time by 1/3 or so.

[2019-05-16 03:36] yaweiw commented on #3655
cool looking forward to that. thanks mate @sean-mcmanus

[2019-05-16 05:09] ghost commented on #3653
I observed that issue is NOT reproducible when working with new files in new folder. However, with my project files, I see this issue. So this seems to be some configuration issue.
However, I could NOT share the c_cpp_properties.json due to some constraints.

It would be helpful if you could let me know the configurations that might cause this problem.

Thanks,
Mangesh Nimodia

[2019-05-16 07:45] crashdown0815 commented on #3610
Same issue here on windows. Since 0.23.0. Reinstall does also not work.
Is there another way to fetch the executables as work around?
E.g. from where is the extension fetching them?

[2019-05-16 08:49] minkir014 commented on #3648
What's the news?

[2019-05-16 09:06] xscavx commented on #3423
Did you know any workaround? Maybe some gdb setting?

[2019-05-16 10:03] tehKaiN commented on #429
@sean-mcmanus ARM platforms are not limited to raspi though. There are lots of armhf boards which have more than 2GB of RAM and way more powerful CPU (e.g. RockPi 4, RockPro64)

[2019-05-16 10:07] JavierReyes945 commented on #3616
The counter argument would be the massive impact that the feature adds on a system, specially if no information is given at installing time, or even a big note in the README. Keep in mind, as said before, that VSCode product is considered a **text editor** with extensible capabilities (user chooses if/when to enable them). Such default behavior is acceptable for an IDE-like product (where disk spa

[2019-05-16 12:28] MarkDunn-ObjectiveIntegration commented on #429
+1
Running VSCode with clang-9 courtesy of 'headmelted'. on a Pine64
Although I have 'lldb-mi' and 'lldb-vscode' I have not yet found a working plugin for lldb

[2019-05-16 12:29] Lennon925 commented on #3642
Thanks very much!

[2019-05-16 12:49] KaeLL commented on #3591
I'm not having issues with the hello_world example anymore. I guess VSCode must've figured it out, and it was just a matter of pre compiling a bunch of stuff, Idk (my ipch folder is 198MB now).
I'm still having issues on the main project I'm working on at work, though, giving me a bunch of 'expected a declaration'. Also, correct me if I'm wrong, but does IntelliSense break when multiple header fil

[2019-05-16 14:24] leso-kn commented on #3369
I'm facing the same issue. Loading a GdkPixbuf from png files will fail when debugging from vscode.

I didn't yet figure out why this is happening either or how to work arround it (except for debugging via the terminal). In fact it took quite some time unitl i noticed this is actually related to the vscode debugger. I was assuming theres an issue within my code.

My specs:

**Platform** Ubuntu 19.

[2019-05-16 16:03] pieandcakes commented on #3648
@minkir014 This seems like a `gdb` bug. According to the [documentation](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI-Program-Execution.html#GDB_002fMI-Program-Execution), we should be calling `-exec-next` to get to the next line which is what we do.

[code]

The log shows that the next time `gdb` stops, its on line 12, which is what you are saying is wrong. From this, I can say we are doi

[2019-05-16 16:14] bobbrow commented on #3632
We should change the behavior and let the vscode setting override ours.  We were doing the opposite previously.

[2019-05-16 16:26] bobbrow commented on #3153
Integration tests are working now

[2019-05-16 16:26] #3153 closed, assigned to nobody

[2019-05-16 16:41] bobbrow commented on #3610
@crashdown0815 check your `%userprofile%/.vscode` folder and delete the `ms-vscode.cpptools-<ver>` folder.  Sometimes there is a `.obsolete` file there listing our extension that prevents reinstall.  Removing the entry that points to our folder can also fix it.

If the extension is unable to fetch the executables, you can try installing our "offline" version instead.  Those can be found here: http

[2019-05-16 16:42] #3587 closed, assigned to nobody

[2019-05-16 16:56] bobbrow commented on #3311
Closing as duplicate of #1163

[2019-05-16 16:56] #3311 closed, assigned to nobody

[2019-05-16 16:57] bwilv commented on #396
I am having problems setting up my launch.json file. I don't know how to resolve the Pylint syntax error, I have tried to delete and relaunced a new launch.json...but I can not seem to remedy this error. Thank you.
![Capture](https://user-images.githubusercontent.com/34752775/57872635-19be7980-77da-11e9-903b-9a84254ca196.JPG)

[2019-05-16 17:04] #3233 closed, assigned to nobody

[2019-05-16 17:11] bobbrow commented on #3209
Closing stale issue marked "more info needed".  If you are still having issue with the extension, please reopen and provide the information requested.  Thank you!

[2019-05-16 17:11] #3209 closed, assigned to nobody

[2019-05-16 17:12] bobbrow commented on #3208
Closing external issue not caused by our extension.

[2019-05-16 17:12] #3208 closed, assigned to nobody

[2019-05-16 17:15] bobbrow commented on #3187
This issue appears to have been resolved (add the `-I` paths to your tasks.json). Please reopen if there is any remaining issue.

[2019-05-16 17:15] #3187 closed, assigned to nobody

[2019-05-16 17:37] Colengms commented on #3591
Hi @KaeLL,

My understanding is that peek/goto definition should resolve to the same header that is found when compiling, following standard include path search rules.  IntelliSense and tag parser should both resolving to the same files.  If you find otherwise, could you open an issue with instructions on how to repro (ideally, a self-contained repo we could pull and see the issue.  That avoids a

[2019-05-16 18:58] zhihaoy commented on #3423
My workaround is to combine my custom .nativs with stl.natvis shipped with Visual Studio 2017; worked pretty well.

[2019-05-16 19:14] user4223 commented on #2464
I would really like to have support for this, conan is great step to make real world c++ projects portable and to solve the library dependency hell. Unfortunately, vscode-cpptools are currently unable to resolve the includes properly when conan is used, it would be great when it would do!

[2019-05-16 20:39] michelleangela commented on #3653
Are there unresolved #includes on your project files, that is IntelliSense can't find included header files? If there are, then error squiggles will be disabled for the file with unresolved #includes.

By default, error squiggles are not shown if the setting `C_Cpp.errorSquiggles` is set to `EnabledIfIncludesResolve` and `C_Cpp.intelliSenseEngineFallback` is `Enabled`. Set `C_Cpp.errorSquiggles` t

[2019-05-16 20:50] minkir014 commented on #3648
I am using gcc 8.2.0 with its gdb.

[2019-05-16 21:50] pieandcakes commented on #3382
Honestly this is not a scenario I've tried so if someone in the community can attempt it and post, that would be great.

The `command:pickRemoteProcess` option fires before any of the `launch.json` is parsed so you wouldn't be able to start the debugServer through the `setupCommands`.

[2019-05-16 21:53] pieandcakes commented on #3385
@paulzhn with the default `g++.exe build and debug active file`, does the external console come up? From what I understand (and @bobbrow can correct me if i'm wrong) that "command" uses a built in `launch.json` and doesn't allow additional configuration.

Based on your files that you linked, it should be working when you change `externalConsole` to `false` to use the integrated terminal. Does it w

[2019-05-16 21:55] pieandcakes commented on #396
@bwilv This is the `C/C++` extension's github. I think the Python one is somewhere different.

To regenerate your `launch.json` you need to delete the file from the `.vscode` folder in your workspace root and go through creating debug configurations again.

[2019-05-16 21:59] pieandcakes commented on #3648
According to your log you are using `gdb` version `7.6.1` YOu will probably want to file a bug with whichever toolset you got your `gdb` from.

[2019-05-16 22:25] ghost commented on #172
If you do what @giuscri suggests and put a breakpoint in the function that computes the pointer, the watch will stall indefinitely and cannot be deleted (Windows 10)

eg `*tests()@4` will stall if there is a breakpoint in `tests()`, a function which returns a pointer to a list of test results.

reloading the window after this happens seems to fix it.

[2019-05-17 00:55] Lennon925 commented on #3655
@yaweiw @sean-mcmanus ,
In addition, I found it's very slow if you use "Ctrl" + mouse left button to go to definition.

[2019-05-17 00:57] Lennon925 commented on #3642
you added a  ${workspaceStorage} variable for cpptools database, too?

[2019-05-17 01:32] #3148 closed, assigned to nobody

[2019-05-17 01:33] yaweiw commented on #3655
@Lennon925 Ctrl + click works the same as F12. What's happening under the hood is cross TU query against the browse.db file that was generated by Tag Parser. Correct me if wrong @sean-mcmanus

[2019-05-17 05:09] ghost commented on #3653
Thanks for the reply. Yes some of my files have unresolved #includes.
However, error squiggles are not shown even for the files that do not have any unresolved #includes.

I tried the modifying the settings you mentioned but still error squiggles are not shown.

See below a screenshot of how it appears:
![VSIntellisenseError](https://user-images.githubusercontent.com/29398545/57904369-138ad480-789

[2019-05-17 06:33] Managor commented on #3547
I think I found a method to investigate this. Running `gcc -dM -E main.c` I'm able to list all the preprocessor defines. Piping that to grep I'm able to search individual defines as in `gcc -dM -E main.c | grep __USE_XOPEN2K`. For starters `_GNU_SOURCE` is not found on that list.  `__USE_UNIX98` yields nothing but `__USE_XOPEN2K` finds `#define __USE_XOPEN2K 1`. It's defined in two places and is d

[2019-05-17 08:00] Lennon925 commented on #3655
There is a little difference between them. When you use ctrl+click, you can go to definition until underline appears. Sometimes underline can't appear for long time.

[2019-05-17 14:19] merlijn-sebrechts commented on #1915
Note: if you can change the GCC commands themselves, you can fix this issue by using only absolute paths in GCC calls.

[code]

and then change the problemmatcher to use absolute paths.

[code]

[2019-05-17 15:49] rpavlik opened #3662 "Debugger hangs on break if dbgsym packages are installed, SourceRequest"
Issue Type: <b>Bug</b>

I'm on Debian Testing/Buster. The project I was working on when hitting this bug was [SolveSpace](https://github.com/solvespace/solvespace) - will attach the launch config (I had it set to break on a glib warning, which one occurs when you go to exit the app). But I don't expect those specifics to matter too much.

Initially, I had function names for a number of stack frame

[2019-05-17 16:48] aleexf commented on #3543
Yes, if I kill the process and edit the file new process spawns and all works good. Here is call stack:
[«Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin».txt](https://github.com/microsoft/vscode-cpptools/files/3192339/Microsoft.VSCode.CPP.IntelliSense.Msvc.darwin.txt)

[2019-05-17 19:37] pieandcakes commented on #3646
I think it would be good to document the ability to change it and how to configure it but I don't believe that setting it to unlimited is the right thing to do. @WardenGnaw mentioned adding a separate configuration document for additional `gdb` commands and linking it in the [launch.md](https://github.com/microsoft/vscode-cpptools/blob/master/launch.md) file under setupCommands and I believe that

[2019-05-17 22:35] michelleangela commented on #3653
Can you enable debug logging by setting `C_Cpp.loggingLevel` to `Debug` and then select `C/C++` from the output window:
![image](https://user-images.githubusercontent.com/38734287/57959280-f407a200-78b7-11e9-9e0d-86494fea2b4f.png)

Can you compare the output of debug logging and the output of the command `C/C++: Log Diagnostics` for when the error squiggles work on a new folder and when it doesn't

[2019-05-18 00:21] sean-mcmanus commented on #3655
Ctrl+Mouse click can potentially be slower, because it could cause a hover to be queued beforehand. We had an unrelated hover perf issue that could cause 2X database accesses that I fixed while investigating https://github.com/microsoft/vscode-cpptools/issues/3596 .

We plan to release an insiders with these Go to Def (hover) perf fixes as soon as we have the semantic colorization finished.

Yeah,

[2019-05-18 00:45] sean-mcmanus commented on #3655
The slowness that got fixed should have only been happening for functions/methods. If you're seeing slowness in another scenario that would be a different issue.

[2019-05-18 01:17] sean-mcmanus commented on #3543
@aleexf Those call stacks show no work -- it's just waiting for requests. Is the problem with the Microsoft.VSCode.CPP.Extension.darwin getting stuck?

[2019-05-18 01:29] EmbeddedBacon opened #3663 "Commenting out a symbol then trying to navigate to the function leads to "No definition found for... function_name""
Issue Type: <b>Bug</b>

I noticed when commeting out a function/variable (i.e., symbol) leads to "No definition found for... function_name".  Is that by design?  I would still like to search for a symbol even if it commented out

Extension version: 0.23.1
VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 10.0.14393

[2019-05-18 01:47] sean-mcmanus commented on #3663
That is "by design". We do not parse definitions of symbols inside of comments.

One alternative if to surround the code in
[code]
...which will allow the Go to Def to work still.

[2019-05-18 01:53] sean-mcmanus opened #3664 "Change the default intelliSenseCachePath/databaseFilename to "~/.cpptools" instead of ${workspaceFolder}/.vscode and ${workspaceStorage}"
This would prevent the space used by all ipch across all workspaces to be bounded by the intelliSenseCacheSize instead of being unbounded (i.e. the size limit wouldn't be per workspace).

[2019-05-18 02:01] sean-mcmanus commented on #2506
@bobbrow We seem to have 2 issues tracking "ARM" -- should we consolidate it to 1? I can't tell how the upvotes are for ARM in general or just ARM64, i.e. is this issue a duplicate of https://github.com/microsoft/vscode-cpptools/issues/429 ?

[2019-05-18 02:04] sean-mcmanus commented on #429
@bobbrow Might be worth spending some cycles to scout what the blocking issues (if any) there are for building linux-arm/linux-arm64 binaries, and/or rechecking telemetry on what the usage of VS Code ARM is currently.

[2019-05-18 02:05] EmbeddedBacon commented on #3663
Ah, that is an unfortunate user annoyance.  The #if/#endif is nice if I am blocking out a section of code, but if I have comments which reference the function/symbol, I much rather that the tools allow me to navigate to that symbol other than me having to revert to find in files.  Perhaps you might consider adding a flag to allow a user be able to find that symbol, even if in a comments section.

[2019-05-18 05:29] sean-mcmanus commented on #3663
Oh -- the "Find All References" in VS has an option to find "references" in comments, so we can use this issue to track that. Version 1 of "Find All References" won't have this ability though. And it's unlikely that Go to Def would.

Also, the VS has a fancy UI that allows users to decide if they want references/renames in comments to appear, so we'd have to figure out some design to accomplish th

[2019-05-18 05:45] GaurangTandon opened #3665 "[Feature request] View only the breakpoints in the current file in the debugger tab"
Type: Debugger

- OS and Version: Ubuntu 18.04.2
- VS Code Version: 1.34.0
- C/C++ Extension Version: 0.23.1

**Launch.json**

        {
            "name": "g++ build and debug active file",
            "type": "cppdbg",
            "request": "launch",
            "program": "${fileDirname}/${fileBasenameNoExtension}",
            "args": [],
            "stopAtEntry": false,
            "cwd":

[2019-05-18 08:08] Managor commented on #3547
If I take the output of `gcc -dM -E main.c`, copy it to the start of my `main.c` and delete `#define _BITS_PTHREADTYPES_COMMON_H 1` and `#define _PTHREAD_H 1`, `pthread_rwlock_t` won't show up as undefined.
I hope these bits of information help

[2019-05-18 10:37] vindicatorr commented on #3633
It's interesting that you mentioned the c_cpp_properties.json settings... I took a look and saw I ALREADY HAD "intelliSenseMode": "clang-x64", yet msvc was being used before I entered the intellisense setting to gcc in settings.json.

I didn't see any Log for C/C++ (which seems to be a good sign), so I went into settings and changed it from Error to Debug.
I saw "Attempting to get defaults from co

[2019-05-18 13:45] zb3 opened #3666 "Debug console hangs when trying to execute multiline gdb commands"
### Environment

[code]

### The bug

So I know I can send commands to gdb using the `-exec` prefix. However, some gdb commands seem to require entering multiple lines (I couldn't find any delimiters for them), and when they're used with `-exec`, the console seems to hang.

When I try to send multiline command lines line-by-line, after entering the first one, the console just hangs, here's the log

[2019-05-18 17:47] NicTanghe commented on #3654
It works from the development console it just gives some error about the semantics but it does compile.

Could the issue be that the task.json is just not showing up ?

[2019-05-18 18:02] NicTanghe commented on #3654
without changing annything i now get the following error in vscode ??

fatal error LNK1112: module machine type 'x86' conflicts with target machine type 'x64'
The terminal process terminated with exit code: 1

(deleting obj file did not work)

[2019-05-18 23:05] SX-GitHub commented on #2506
@sean-mcmanus This shouldn't be considered as duplicated. I've seen too many projects claiming support "ARM" but leave ARM64/AArch64 behind, one of the reasons is Raspberry Pis are so popular (ARMHF which is 32 bit) many developers prioritized ARMHF higher. However, virtually all newer Pi-like SBCs are ARM64, I'm also expecting the overdue Raspberry Pi 4 to be ARM64.

[2019-05-19 13:25] NicTanghe commented on #3654
For now i'm using a code runner to bind F8 to run cl on the current file. As a workaround

Issue not yet fixed

[2019-05-19 14:16] BionicRabbit3 commented on #1035
+1 I'd be really glad to see this feature added.
I really like the error squiggles in general because they are genuinely helpful in finding bugs even before compilation.
It's just really annoying how a single use of a nested function fills the entire rest of the file with those squiggles...

[2019-05-19 21:17] mikegormack commented on #3458
@sean-mcmanus  do you need further info for this issue? Thanks

[2019-05-20 00:12] easyaspi314 opened #3667 "Should update the repo description"
Currently, the repo's description is "Official repository for filing issues against and getting support for the Microsoft C/C++ extension for VS Code"

Unless I am mistaken, that is the old description from when this was a stub.

Now that the C++ extension is open source and the repo is more than just for filing issues, we should just change it to "Official repository for the Microsoft C/C++ exten

[2019-05-20 00:39] mxdh opened #3668 "C++ syntax highlighting error"
Issue Type: <b>Bug</b>

https://github.com/microsoft/vscode/issues/73858

![捕获1](https://user-images.githubusercontent.com/20399194/57990600-cb132700-7ada-11e9-9f02-0011a5afce66.PNG)

![捕获2](https://user-images.githubusercontent.com/20399194/57990604-cfd7db00-7ada-11e9-9235-0bad425e813b.PNG)

[code]

Extension version: 0.23.1
VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758,

[2019-05-20 06:08] Lennon925 commented on #3655
Thanks for your reply and I am very looking forward to the semantic colorization.

[2019-05-20 06:10] shadababe04 commented on #354
thanks alot!!!

[2019-05-20 06:17] crashdown0815 commented on #3610
@bobbrow thanks for the fast feedback.
Got it working. However I cannot tell which was approach was working. I tried the solution mentioned in microsoft/vscode#73485 as well before commenting here because it was not working first time either.

I'll keep it in mind next time it happens and good to know where to find the offline package. Didn't know those contain everything as I have seen some exten

[2019-05-20 15:04] doasm opened #3669 "What's the meaning of this?"
1: (64) LaunchOptions<LocalLaunchOptions xmlns='http://schemas.microsoft.com/vstudio/MDDDebuggerOptions/2014'

1: (69) LaunchOptions  ExePath='E:\workspace\c\training_c\hello.exe'

1: (69) LaunchOptions  WorkingDirectory='E:\workspace\c\training_c'

1: (69) LaunchOptions  ExeArguments='2&gt;CON 1&gt;CON &lt;CON'

1: (69) LaunchOptions  MIMode='gdb'

1: (69) LaunchOptions  MIDebuggerPath='E:\mingw\

[2019-05-20 15:18] doasm commented on #3669
when i set windows region unicode ,it run like this,is it a bug?

[2019-05-20 17:20] Colengms commented on #3668
Hi @mxdh ,

Could you clarify the issue here with the C++ extension?  Currently, colorization is coming only from vscode, so would not be the extension.  If you are referring to the squiggle on the new operator in your example, that would be coming from the extension, but looks to be correctly indicating a type incompatibility.

 - Colen

[2019-05-20 17:42] matter123 commented on #3668
@mxdh This was fixed upstream at jeff-hykin/cpp-textmate-grammar in version 1.8.9, see jeff-hykin/cpp-textmate-grammar#128

The fix should make it to vscode the next time the grammars are updated. If you need the fix now, It has already been updated in insiders, or you can install marketplace.visualstudio.com/items?itemName=jeff-hykin.better-cpp-syntax&ssr=false

[2019-05-20 18:52] sean-mcmanus commented on #3667
Sounds good to me -- I've updated the description. It already said "This is the official repository for the Microsoft C/C++ extension for VS Code" in the ReadMe.md.

Also, only the TypeScript/client side of the extension is open source (the server/C++ side is not).

[2019-05-20 18:52] #3667 closed, assigned to nobody

[2019-05-20 19:08] sean-mcmanus commented on #3116
This is fixed in 0.23.1.

[2019-05-20 19:08] #3116 closed, assigned to nobody

[2019-05-20 19:28] sean-mcmanus opened #3670 "IntelliSense squiggles don't update after a header is renamed"
After a header is renamed that is used in a source, the IntelliSense squiggles don't update to reflect the change. In some cases, the even editing/save the file doesn't pick up the changes from the rename, i.e. the file in the `#include <>` no longer exists, but IntelliSense doesn't complain about it -- it seems like it's using some cached version of the non-existent file.

I hit this while doing

[2019-05-20 19:32] sean-mcmanus commented on #3378
Should be fixed 0.23.1.

[2019-05-20 19:32] #3378 closed, assigned to nobody

[2019-05-20 19:45] sean-mcmanus opened #3671 "IntelliSense process crash with push_class_and_template_reactivation_scope_full"
One of our top IntelliSense processes crashes is with push_class_and_template_reactivation_scope_full (offset 39). If anyone is hitting this and knows a repro, please let us know so we can fix it. The crash started with version 0.21.0.2 of our binary.

[2019-05-20 20:27] WardenGnaw commented on #3669
Yes. From ```&"\357\273\2771001-gdb-set target-async on\n"```
We see that it has ```\357\273\277``` which is the [byte order mark](https://simple.wikipedia.org/wiki/Byte_order_mark) and it is messing up the command for GDB.

In your Region Setting, do you have `Use Unicode UTF-8 for worldwire language support on`?

![image](https://user-images.githubusercontent.com/3953714/58050019-0d505e80-7b03-1

[2019-05-20 20:31] WardenGnaw commented on #3665
The vscode cpptools extension does not control the UI for the breakpoints window, that would be the VS Code. Please file an issue on their [issues page](https://github.com/Microsoft/vscode/issues).

[2019-05-20 20:31] #3665 closed, assigned to nobody

[2019-05-20 20:51] bobbrow commented on #3610
VS Code's standard extension update route installs our "online" package which will download our dependencies after the extension loads.

The "offline" versions come pre-packaged but we can't put them in the Marketplace that way since we don't get to specify which OS our package applies to.  These versions assume you are installing on a machine not connected to the Internet.  In the event that you

[2019-05-20 20:51] #3610 closed, assigned to nobody

[2019-05-20 20:57] bobbrow commented on #1035
Please add a +1 (thumbs up) to the first post so we can track the priority of this feature request better.
![image](https://user-images.githubusercontent.com/12818240/58051469-1e02d380-7b07-11e9-8e3c-3230aa4ebf1e.png)

[2019-05-20 21:10] bobbrow commented on #3654
Are you saying that code runner works?
Did you open VS Code from inside the Developer Command Prompt so that it can inherit the build environment?

[2019-05-20 22:01] sean-mcmanus commented on #3071
@Lennon925 I think this is fixed with 0.23.1, but I'm not 100% because your repro steps did not explicitly say what variable Go to Def is failing for in your second example.

[2019-05-20 22:51] EmbeddedBacon commented on #3663
Thank you, @sean-mcmanus .  I think having this feature would be very very helpful.

[2019-05-20 23:47] mxdh commented on #3668
I mean C++ syntax coloring error.
Thank you very much.

[2019-05-20 23:47] #3668 closed, assigned to nobody

[2019-05-21 00:29] pieandcakes commented on #3666
I think the hang is a bug, although I think its `gdb` thats hanging because its expecting other input.

From [here](https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI-Stream-Records.html#GDB_002fMI-Stream-Records):

The console output stream contains text that should be displayed in the CLI console window. It contains the textual responses to CLI commands.

I also don't know what we would do to

[2019-05-21 00:39] pieandcakes commented on #3662
@rpavlik Thank you for reporting this. Does this happen quite consistently for you? if so, can you do me a favor and get me a `traceResponse` log for when it happens? To do that, you would want to add `"logging": {"traceResponse": true}` to your `launch.json` and restart debugging.

AFAIK we don't support SourceRequest (which is what the exception is) but I can't understand why VS Code is sending

[2019-05-21 00:43] michelleangela commented on #3633
The process **Microsoft.VSCode.CPP.IntelliSense.Msvc.linux** is the IntelliSense process spawned per translation unit. So you will usually see one per source file that is currently opened for editing.

For clarification, `intelliSenseMode` does not determine which IntelliSense process is used (and yes there is only one IntelliSense program). I think the confusion is from the name "msvc" in the pro

[2019-05-21 01:00] ghost opened #3672 "[Windows][Powershell] debugger launches external terminal even if `"externalConsole": false` is set"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.34.0
- C/C++ Extension Info: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): Issue persists
- A clear and concise description of what the bug is:

I have "externalConsole" set to false in my launch.json. However, sometimes a useless external console opens anyways; specif

[2019-05-21 01:05] sean-mcmanus commented on #3642
Yes, at https://github.com/microsoft/vscode-cpptools/pull/3643 -- it hasn't been checked in yet, but it should soon.

[2019-05-21 01:53] sean-mcmanus commented on #3547
Yeah, this is caused by the fact that the default "-std" with gcc is a version that has gcc extensions enabled, but instead our default uses a non-gcc extension standard version.

[2019-05-21 02:10] sean-mcmanus commented on #3458
Yeah, I'm still not able to repro this issue. @michelleangela @Colengms Are any of you guys able to repro this? I was able to repro this a few months ago.

[2019-05-21 02:12] mikegormack commented on #3458
My project is embedded and has a large number of files. Unfortunately its commercial so its not easy to share the project. Anything I can do to help debug?

[2019-05-21 02:34] sean-mcmanus commented on #3458
Are you able to create a simple dummy folder with a single .cpp/.h to repro this? I tried, but wasn't able to repro it so maybe the repro requirements are more complex.

[2019-05-21 03:42] zbl-96 opened #3673 "remote clang-format failed"
Issue Type: <b>Bug</b>

I use remote-ssh to debug c++ code on ubuntu,but clang-format failed,the output:
[code]
I have no problem testing on ubuntu physical machine and mac.
Then i install clang-format  use this command
[code]
format extension can be used,but my setting are invalid.
![image](https://user-images.githubusercontent.com/20126585/58066600-924b7e80-7bbc-11e9-8f9a-c04fb47ce18b.png)
It wi

[2019-05-21 07:46] RogerPanBUAAedu commented on #15
This issue is still not fixed until now. Both on my Win10 and Ubuntu platform.

[2019-05-21 08:00] dunhor opened #3674 "CTRL+SHIFT+B no longer gives the option to set up a build task when a cpp file is open"
**Type: LanguageService**
When I do the key combo 'CTRL+SHIFT+B' on a new directory (not configured for any build task), it would previously prompt me to set up a new task. This was wonderful since I likely wanted to invoke cmake/ninja/etc. It is now, however, only presenting me the option to invoke cl.exe on the active file. While I can still go in and manually set up a new build task, it was ver

[2019-05-21 11:13] doasm commented on #3669
yeah，i have done it

[2019-05-21 12:57] KaeLL commented on #3591
So far, no. I'll close the issue and if I ever manage to reproduce it, I'll open another one. Thanks anyways.

[2019-05-21 12:57] #3591 closed, assigned to Colengms

[2019-05-21 13:07] KaeLL opened #3675 "Feature request: Path to clang-format file"
Give us the option to specify the path to the clang-format file on our settings.json. Code bases usually keep one in order to standardize coding style, but would be amazing if I could format the files with my own .clang-format file without touching the file from the code base.
As an extension of this, an option to choose which .clang-format file to use would be most needed when selecting Format Do

[2019-05-21 14:07] NicTanghe commented on #3654
The code runner works and i opened VS Code from inside the Development console.
Do you need anny logs or info.

[2019-05-21 14:55] NSExceptional commented on #3382
Hmmm. That tells me it's just not something VS Code supports right now, since you have to pick a process—in this scenario, the process is already chosen for you.

[2019-05-21 16:31] bobbrow commented on #3654
I am unable to reproduce your problem, but I don't know what's missing at this point.  Perhaps it's because all of my machines have Visual Studio installed, but really that shouldn't matter since iostream comes with your BuildTools installation.  If you type `set` in your VS Code terminal window (assuming CMD is your shell), do you see the correct build environment variables set?

[2019-05-21 16:48] bobbrow commented on #3458
Does `hal_flash.h` have an include guard?  Or is it changing preprocessor defines based on the contents of `hal_encrypt.h`, `Clock.h`, `NVM_Parameters.h`?

[2019-05-21 18:33] sean-mcmanus commented on #3673
That "Command failed" message is not from our extension. Do you have another formatting extension installed?

Can you logon to the remote machine and see if the ~/.vscode/extensions/ms-vscode-0.23.1/LLVM/bin/clang-format executable exists and if it is runnable via the command line?

If you install clang-format via "apt install" you will need to set the C_Cpp.clang_format_path to that location to u

[2019-05-21 20:05] sean-mcmanus commented on #3674
Yeah, we recently changed it to add those default build tasks -- maybe we can add the "default" that was previously shown to the list as well, so the previous behavior is still obtainable.

[2019-05-21 20:38] sean-mcmanus commented on #3675
The current workaround is to set the C_Cpp.clang_format_style (to an inline { ... } format and not a file path). Is there a reason that isn't sufficient?

[2019-05-21 20:57] KaeLL commented on #3675
I don't know. Maybe because I intend on overriding a lot of rules, making inline overriding silly; cluttering the settings file with the whole clang-format stuff is also silly; and because, like you said, it's a workaround.

[2019-05-21 23:07] mbward opened #3676 ""C_Cpp.clang_format_fallbackStyle": "Visual Studio" is a poor default"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux
- VS Code Version: 1.32.3
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

1. Install both `vscode-cpptools` and `xaver.clang-format` extensions
2. Set the setting `"clang-format.style": "{Based

[2019-05-21 23:07] mbward commented on #3676
The template guided me to set Type: LanguageService, but I'm not sure if that's correct. Please feel free to reassign as needed.

[2019-05-21 23:09] sean-mcmanus commented on #3676
The xaver.clang-format is another extensions. This sounds like a bug with that extension? Let us know if you repro the issue with that other one disabled.

[2019-05-21 23:11] sean-mcmanus commented on #3676
You can disable our extension's formatting via the C_Cpp.formatting setting.

[2019-05-21 23:20] mbward commented on #3676
Yes, but again, none of this should happen *by default*. I asked `xaver.clang-format` to reformat my code. I never asked the C/C++ extension to reformat my code.

[2019-05-21 23:31] sean-mcmanus commented on #3676
Did you use the "Format Document With..." command and then select the default formatting to be the other extension?

[2019-05-21 23:36] mbward commented on #3676
The only similar menu item I have is "Format Document" (Ctrl+Shift+I), but I don't explicitly use it.

I did enable `"editor.formatOnSave": true` long ago.

[2019-05-21 23:48] sean-mcmanus commented on #3676
They added the ability to configure the default formatter in 1.33 of VS Code: https://code.visualstudio.com/updates/v1_33#_default-formatter-selection .

[2019-05-22 01:51] zbl-96 commented on #3673
Sorry, I saw that  clang-format is provided by your extension, so guess the message is from yours.
And my remote machine returns.
![image](https://user-images.githubusercontent.com/20126585/58141453-0a29af80-7c76-11e9-971f-ae1d296981ce.png)
I have not set C_Cpp.clang_format_path.And i need report this issue to remote-ssh extension ?
Anyway, thank you very much for your help.

[2019-05-22 07:47] mdzahidh opened #3677 "Code navigation is blocked by 'update intellisense'"
I have been noticing that code navigation, such as goto-declaration/definition, CTRL click, seems to get blocked when the language server is updating intellisense. We have certain .cpp files in our codebase that takes a long time to compile (expected) but unfortunately this also makes code navigation almost unworkable on those files.

Even a small change/edit in those files will trigger "update in

[2019-05-22 07:48] #3609 closed, assigned to nobody

[2019-05-22 07:51] JasonLeeCn opened #3678 "The function not define or declare before using shall given an error."
Issue Type: <b>Feature Request</b>

eg.:

void funA()
{
}

void main(void)
{
    funA();
    funB(); //The funB is not exit in the project. But hear is no error given.
}

The C shall take it as "int funB()". But it will case link error.  And is can not run correct if the function is not exit ( not declare or define) also. So, please given an error for this case.

Extension version: 0.23.1
VS Code

[2019-05-22 07:56] psclkhoury opened #3679 "Outline does not follow cursor"
The outline in C++ files does not follow the cursor (the option is enabled) unless the cursor is explicitly placed on the Symbol.

If my cursor is in the body of a function, the outline does not follow:
<img width="527" alt="VS_1" src="https://user-images.githubusercontent.com/9846892/58156903-7c4ec400-7c77-11e9-8c71-fb7bf2c26757.png">

Even if the cursor is on the same line but not ON the symbol,

[2019-05-22 13:58] polyval commented on #1696
@WardenGnaw Could you please tell me how can I change the behavior of the stop button so that it can detach the gdb from the process rather than terminate it. I can hit the pause button then input “-exec detach” to do it, I guess there must be somewhere in the code that I can customize the behavior.  Can you help me with that? Thanks.

[2019-05-22 15:13] EvgeniyPeshkov commented on #2590
I've developed and published syntax highlighting extension based on Tree-Sitter. It provides universal syntax coloring engine for almost any programming language (currently, C and C++ are supported OOTB).
Constructing entire syntax tree, Tree-sitter efficiently overcomes all limitations of built-in TextMate grammars. Being context-aware, it's able to parse complex language structures providing com

[2019-05-22 16:04] WardenGnaw commented on #3669
When you disable that setting does debugging work like normal?

[2019-05-22 16:16] WardenGnaw commented on #1696
VS Code now has a way to contribute to the [debug toolbar](https://code.visualstudio.com/api/references/contribution-points#contributes.menus).

This feature will need to register a command that sends a disconnect request to the debug adapter.

[2019-05-22 17:56] Colengms commented on #3678
This looks like the same issue as: https://github.com/microsoft/vscode-cpptools/issues/828

Which compiler is your compilerPath set to?

CL issues a warning.  We currently show squiggles only for errors.  An issue tracking squiggles for warnings is: https://github.com/microsoft/vscode-cpptools/pull/2379

In gcc, you can enable a warning using -Wmissing-prototypes.  Or, make it an error using -Werr

[2019-05-22 18:03] bobbrow commented on #3679
Thank you for your feedback.  This looks like a duplicate of #2230.  Can you please go add your +1 to that issue?

The extension does update the status bar with the current function and you can also navigate to functions that way.  VS Code created the Outline view later, but we haven't updated our implementation to go through that route yet.  It's on our backlog.

[2019-05-22 18:03] #3679 closed, assigned to nobody

[2019-05-22 18:07] pieandcakes commented on #515
This should be fixed with our implementation of VS Codes `RunInTerminal` protocol. You can now specify which terminal application to use in the VS Code settings. This was released in version `vscode-cpptools version 0.20.0`

[2019-05-22 18:07] #515 closed, assigned to nobody

[2019-05-22 18:26] sean-mcmanus commented on #3677
IntelliSense-based Go to Def/Decl needs the updating to finish before it can work. Theoretically, we could move the Go to Def handling to a separate thread and fall back to the non-IntelliSense Go to Def if IntelliSense is busy, but the results might be disappointing (e.g. 100 "size()" methods being returned).

[2019-05-22 18:50] mdzahidh commented on #3677
Can we not use cached data for this? Because most of the file didn’t change.

[2019-05-22 19:23] sean-mcmanus commented on #3677
The IntelliSense type info needed for Go to Def is not cached, and we can't get any Go to Def type info from the IntelliSense process if it's currently updating.

[2019-05-22 19:32] rpavlik commented on #3662
Well, I'd never had it happen before but I never had those packages installed before. I kept them installed just long enough to record the data.

I re-installed those packages, added the traceResponse config to launch, and it was perfectly reproducible. I got this: (didn't see anything too sensitive - this is all open source code, and I just used solvespace master as of right now.)

[traceresponse

[2019-05-22 19:49] mdzahidh commented on #3677
Any plans on working on this? It will improve responsiveness and overall productivity on large codebase dramatically

[2019-05-22 20:30] pieandcakes commented on #3662
Thanks. That helps a lot. I'll see if we can make a fix to avoid stopping debugging.

[2019-05-22 21:17] sean-mcmanus commented on #3677
The updating of IntelliSense is not supposed to take a long time under normal circumstances, particularly if you're just editing inside of a method. I think we would need to fix that issue. Is your intelliSenseCacheSize non-zero? We have some known bugs where the updating may be updating more stuff than is necessary.

[2019-05-22 21:52] mdzahidh commented on #3677
We have a lot of files that use heavy templates and therefore takes a lot of time to compile normally (which is our fault). Problem is, when we edit those files - even small edits - code navigation becomes paralyzed. We see the red flame icon, and seems like cpptools invokes the compiler (as defined in the compile_commands.json) on these files that generally takes long time to compile.

I will che

[2019-05-23 00:44] mikegormack commented on #3458
Yes it does. I found that the problem was due to two files with the same name within an SDK (for different SDK configurations) being in the include path. Due to the complexity of the project and the dependencies it is hard to determine what exactly it was tripping up on. Either way if it was possible to display a more sensible error message this would be helpful. Cheers

[2019-05-23 01:05] bobbrow commented on #3458
Sorry, does your "yes" apply to the include guard question or the changing preprocessor defines question?

And are you saying that you solved the problem by fixing your includePath?

[2019-05-23 01:41] parindawm opened #3681 "Brace matching does not account for inactive regions"
Issue Type: <b>Bug</b>

![Capture17052019](https://user-images.githubusercontent.com/50728959/58219839-e54d3f00-7d3e-11e9-908e-562f1b4c83fd.PNG)
please make test.cpp file using following code
#undef x
int main()
{
int a=0, b=0,c=0;
#ifndef x
if(b==2){
if(a==0){
}
else
#else
if(c==1){
#endif
a=1;
}// wrong matching
return 0;
}// wrong machine

Observe wrong bracket pairing at commented places. "//

[2019-05-23 01:45] parindawm commented on #3681
![Capture23052019](https://user-images.githubusercontent.com/50728959/58219905-2e04f800-7d3f-11e9-9cb4-521a90d0001a.PNG)
screen capture disabling the  Other extensions (other than vscode-cpptools )

[2019-05-23 03:04] robotwxy commented on #15
I find a solution, install and run "gtags" in your project folder, after "GPATH", "GRTAGS", "GTAGS" files are created in your folder, your "peek references" function will work normally.

[2019-05-23 05:33] liushiqi9 commented on #15
Really looking forward to it!!!

[2019-05-23 05:50] JasonLeeCn commented on #3678
I not set compilerPath. It stay default setting for "clang-x64". The macro not define it will show as error squiggles, but the function not define will take as int_void function and no error squiggles.

[2019-05-23 08:01] Lennon925 commented on #3664
I hope you can combine intelliSenseCachePath and cpptools database storage path to be one path which name may be “cpptoolsStoragePath”. And then you can add subfolders for intelliSenseCache and db storage path. If so, we just need to set this path 'cpptoolsStoragePath'.
It's strange to set database filename instead of database storage path.

Such as:
If I don't set cpptoolsStoragePath,it's like th

[2019-05-23 09:21] #3278 closed, assigned to WardenGnaw

[2019-05-23 15:26] tapika commented on #2526
I'm seeing similar issue with shared objects. When debugging and you see in next step that application is about to load dynamic library (=shared object), during that period of time "Debug" > "Step Over (F10)" does not work correctly - as debug session is terminated. This can happen in global your own global function call or actual function which performs that .so loading, like

`iconv_t    cd_to =

[2019-05-23 16:30] ForWhomTheBellCodes commented on #3530
I verified the stderr issue still exists with:
VS Code Version: 1.34.0
C/C++ Extension Version: 0.23.1

[2019-05-23 18:27] peeeeter commented on #3145
@MikeWeller, @sean-mcmanus  This has been plaguing me for several months. I kept assuming lots of people must experience this and it would get fixed very quickly.  Can you give me some debug hints?  When i attach to these processes I'm just in the middle of random asm. Did you download the source and do a debug build of the extension? (Is the source even available for this?)

[2019-05-23 18:52] sean-mcmanus commented on #3681
Our extension doesn't currently implement brace matching. The behavior is coming from VS Code's handling, which doesn't understand that the other brace is in an inactive region (which our extension adds).

[2019-05-23 19:19] sean-mcmanus commented on #3664
Yeah, I think we should be able to use the same workspace storage hash for the per-workspace browse database files as well.

[2019-05-23 19:28] sean-mcmanus commented on #3145
@peeeeter If you're on Windows you need to set `"symbolSearchPath": "https://msdl.microsoft.com/download/symbols"` in your launch.json config. You don't need a debug build or the source (which isn't available for the C++ processes), but it's possible the root cause is an open source TypeScript issue, particularly if you're using multiple workspace folders, which is not debugged via attaching to th

[2019-05-23 22:48] peeeeter commented on #3145
@sean-mcmanus I am indeed using multiple workspace folders.  Thanks, I got it going... let's see if I turn up anything.  Of course now it seems to be working for the last 15 minutes....

[2019-05-24 00:51] #3678 closed, assigned to Colengms

[2019-05-24 01:05] kim-jhyeon commented on #1560
I'm experiencing a similar problem recently and I tried many attempts to find out the cause of this problem, but I couldn't solve this problem. IntelliSense is still not working with default engine. (With the tag parser engine, IntelliSense doesn't crash.)

### Environment
- Windows 10 x64
- VSCode 1.34.0
- C/C++ Extension 0.23.1
- MinGW g++ 6.3.0

### Information Output
[code]

In my case, there

[2019-05-24 04:16] davidbien commented on #2599
It seems silly that vscode doesn't support cuda-gdb because it is a superset of gdb - i.e. it supports all gdb commands but adds some cuda commands. So it would seem that vscode could easily support cuda-gdb with very minor changes and if you wanted to use cuda-gdb specific commands then you could type them indirectly. I think there must be a sneaky way to do this temporarily by just ln -s cuda-gd

[2019-05-24 04:29] davidbien commented on #2599
So this is what I did:

/usr/bin/gdb

Then debug the application using "gdb" in the launch.json config. It works quite a bit. I can't set breakpoints by using F9 ( or the menu item "Toggle Breakpoint") but I am currently debugging __device__ methods and am able to set a breakpoint by going to the breakpoints view, clicking "+" and specifying a __device__ method and it will break there.

Almost act

[2019-05-24 04:31] WZRPW commented on #2599
@davidbien , thanks for your quick suggestion. I will give a try soon. Lots of other work to do recently. ^_^

[2019-05-24 06:32] Lennon925 commented on #230
Is it possible to set different colors for macro/struct/Union/enum variables and local/global variables if semantic-based finished?

[2019-05-24 07:15] fcharlie opened #3683 "Defined __clang__ under Linux, but enable_if attribute parse error"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
[code]

- VS Code Version:
[code]

- C/C++ Extension Version: `Version 0.23.1: May 13, 2019`

[code]

- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**E

[2019-05-24 07:58] pieandcakes commented on #2599
@WeiZRPW @davidbien if the problem is telling us to look for a different executable, you can specify `miDebuggerPath` in your `launch.json` and point to the `cuda-gdb` location instead of copying the file over to `/usr/bin/gdb`

[2019-05-24 08:34] UR3IQO opened #3684 "Show thread name and additional info"
Type: Debugger
Feature request.

I use gdb to remote debug baremetal application running RTOS. VSCode shows threads correctly, but it does not show any additional information gdb provides.
Here is the output of the ```info thread``` command:
[code]
And here is VSCode window:
![Снимок экрана (1446)](https://user-images.githubusercontent.com/25171239/58313846-2b75d180-7e17-11e9-9cf6-117d0b28cd51.png

[2019-05-24 09:01] JasonLeeCn opened #3685 "Some time all typedef enum give re-declared error when delete --no warnings in file msvc.json"
Issue Type: <b>Bug</b>

When delete "--no_warnings" line in file "msvc.json".
In some complex project (code files forlder) all typedef enum type given an error as follow:
"typedef name has already been declared (with similar type)"  in all hearder files. But some projects no this problem.  I checked the typedef enum, it just define one times.

Extension version: 0.23.1
VS Code version: Code 1.34.0

[2019-05-24 09:09] JasonLeeCn opened #3686 "Add always show error squiggles count in explorer window files name right side."
Issue Type: <b>Feature Request</b>

Now, the error squiggles count show in file name of explorer need click the file one time. Request for a option to automatic show all files error sguiggles count. It will better and more benefit for fix errors.

Extension version: 0.23.1
VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 1

[2019-05-24 09:50] aminukano585 commented on #230
Nice to hear this, so we should expect the rollout in a months time or less right?

[2019-05-24 10:26] Gruntfuggly opened #3687 "Add system include path support for pre-VS2015 compilers"
I'm trying to get my Windows set up to work properly, but at the moment I get errors saying it can't find source files even though I can control+click on the files and open them.

Config:
[code]
![image](https://user-images.githubusercontent.com/376658/58321669-b3a7a700-7e16-11e9-9a76-ba5257a8f873.png)

[2019-05-24 10:58] yedane opened #3688 "Support Dynamic SQL syntax"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win 10
- VS Code Version: 1.34
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them):

We have to use dynamic SQL statements, and in the synthax we have to put a ":" before a variable, but it seems that break the IntelliSense.
Please have a look on the documentation below

[2019-05-24 11:18] BXDM commented on #316
I use python also have this problem!

[2019-05-24 14:08] CelticMinstrel commented on #3586
Would also be great to have quick fix for code typos, eg `unit8_t some_variable;`. Bonus points if it can be done with compilers other than clang.

[2019-05-24 15:27] AvivC commented on #296
Just walking by to remind everybody that this is really important :dancing_men:

[2019-05-24 15:48] Jimbo99 commented on #296
Absolutely would love to have this.

As an aside, with the current way it works can anyone suggest a more efficient way than I do now when I want to rename part of a long symbol name? This is what I do currently:

1) Select symbol name to be renamed
2) Invoke Replace in Files (ensuring case and whole word filters are selected)
3) Copy and Paste symbol name from Search box to Replace box (since I o

[2019-05-24 15:59] peeeeter commented on #3145
@sean-mcmanus Before stops working, format doc has tons of log activity and shows the I/O from clang-format and such.  After stops working, symptom which I believe is consistent with @MikeWeller, is that there is no log activity.  Pressing Ctrl-Shift-I simply has no effect and there is no log activity.

[2019-05-24 16:00] peeeeter commented on #3145
@sean-mcmanus Let me know if you have other ideas for debugging/more info I could provide.  In some cases, formatting the document fails on the first try after restarting code and even just minor modifications to a file.

[2019-05-24 16:20] bobbrow commented on #230
@Lennon925 you can customize the colors using the `"editor.tokenColorCustomizations"` setting.  I'm not seeing a good reference online on all the scopes available, so we might need to write up some documentation on this ourselves.  Not all themes provide colors for all of the scopes either, so we expect people to need to make some customizations to get the exact colorization they want.

@aminukano

[2019-05-24 16:23] bobbrow commented on #3687
Can you run the "Log Diagnostics" command and share the output?  That will print out which paths the extension eventually ended up using for your IntelliSense.

[2019-05-24 16:32] pieandcakes commented on #3684
@sov1178 The [VS Code DebugAdapter Protocol (DAP)](https://github.com/microsoft/vscode-debugadapter-node/blob/master/protocol/src/debugProtocol.ts#L149) doesn't support this.

They have a proposal that you can upvote [here](https://github.com/microsoft/vscode-debugadapter-node/issues/149)

[2019-05-24 16:33] pieandcakes commented on #3684
Until the DAP supports it there isn't anything we can do to display a name.

[2019-05-24 16:38] #1684 closed, assigned to nobody

[2019-05-24 17:09] Colengms commented on #3688
Hi @yedane,

I don't think I have enough information to repro your issue.

The 'main.c' and 'Header file' you provided appear to be the same file.  Did you intend to send another file?  Perhaps one which declared the macros you are using?

Consider creating a repo with a self-contained example of the issue, which we could pull to investigate.

Thanks,
 - Colen

[2019-05-24 17:27] kalpaj12 opened #3689 "Can't indent Cpp files"
**Type: LanguageService**

- OS and Version: Ubuntu 19.04
- VS Code Version: 1.34.0
- C/C++ Extension Version: 0.23.1

I'm not able to Format / Indent my C++ files.

**Steps to Reproduce**
Using `ctrl + shift + i` gives the following output:

`Formatting failed:
/home/kalpaj_ag/.vscode/extensions/ms-vscode.cpptools-0.23.1/bin/../LLVM/bin/clang-format -style=file -fallback-style=google -assume-file

[2019-05-24 18:39] tlemo opened #3690 "#else is confused with the C++ else keyword"
Issue Type: <b>Bug</b>

Type #else and watch the suggestions list

![else_snippet_bug](https://user-images.githubusercontent.com/13824553/58349619-9e337c80-7e18-11e9-93b5-49976efe50f2.PNG)

Extension version: 0.23.1
VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 10.0.16299

[2019-05-24 18:45] bobbrow commented on #3689
This sounds familiar.  Can you take a look at #3174 and see if that helps you?

[2019-05-24 19:02] yedane commented on #3688
Hello @Colengms,

My bad, I edited my post

[2019-05-24 19:20] davidbien commented on #2599
Thanks Pierson. I wondered if there were such an option. It doesn’t work well enough for me to want to use it. Using Nsight Eclipse actually works - even if the key bindings are annoying.

[2019-05-24 20:00] pieandcakes commented on #2599
Unfortunately I don't have experience with CUDA debugging. If you would like to help us improve it, please open another issue and let me know what doesn't work or could work better and I'll work with you to get logs and such to help figure out what is wrong.

[2019-05-24 20:32] sean-mcmanus commented on #3690
How do you repro that? It isn't reproing for me.
![image](https://user-images.githubusercontent.com/19859882/58355161-4ef54800-7e28-11e9-8990-be2984741a5f.png)

[2019-05-24 20:33] sean-mcmanus commented on #3690
Oh -- I got it to repro after invoking the completion after the entire word is typed. This might be semi-"by design".

[2019-05-24 20:34] sean-mcmanus commented on #3690
Are you able to repro the issue when actually typing "#else"? If I paste "else" I repro it...might be timing dependent if your initial typing isn't processed fast enough.

[2019-05-24 20:37] tlemo commented on #3690
@sean-mcmanus : the auto completion happens after typing the whole #else as you observed. To make things worse, if statement snippets are enabled VS Code will insist on inserting { }

[2019-05-24 20:39] tlemo commented on #3690
(and yes, it repros while typing, no pasting required)

[2019-05-24 20:42] BrunoXL opened #3691 "Runn task.json with make command"
I'm trying to configure `tasks.json` to run a `make` commad.

Tasks. json is as follows:
![image](https://user-images.githubusercontent.com/11648780/58354982-5d079080-7e49-11e9-94bb-4198666bc294.png)

On execute <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>B</kbd> it gives me error:

However, when I run from command line `make -j4` everything goes perfect.
It is not related to configure my project or any

[2019-05-24 20:44] bobbrow commented on #3691
Can you try setting "options.cwd" to the location where your makefile resides (e.g. ${workspaceFolder}, perhaps)?  I think it's trying to run make in the `/usr/bin` folder.

[2019-05-24 20:49] BrunoXL commented on #3691
Ok @bobbrow that worked, but I didn't caught why set `options.cwd`?

[2019-05-24 20:56] bobbrow commented on #3691
I'm not sure I understand.  You may not need to set it at all if it defaults to ${workspaceFolder}.  Was that added automatically to your tasks.json?

[2019-05-24 21:05] BrunoXL commented on #3691
I do not remember set it anytime. It was added automatically for sure.

[2019-05-24 21:15] sean-mcmanus commented on #3690
Thanks for reporting this. It repros 100% if the previous preprocessor is a "#if 0" (which can unintentionally invoke the "else" snippet when enter is pressed). It should be fixed in our next update unless we hit some issue after further testing. Similar bugs would occur for other preprocessor keywords (not just "else"), which have been fixed as well.

[2019-05-24 21:28] tlemo commented on #3690
Great, thanks!

On Fri, May 24, 2019, 2:15 PM Sean McManus <notifications@github.com> wrote:

[2019-05-24 22:00] bobbrow commented on #3691
How did you generate the tasks.json?  Or, which template did you pick?

[2019-05-24 22:08] Colengms commented on #3688
Dynamic SQL is not standard C++.  Is it implemented using macros, a special compiler, or a preprocessor?

We don't support this syntax.  We could consider this a feature request..

[2019-05-24 22:13] BrunoXL commented on #3691
I hit <kbd>Ctrl</kbd><kbd>Shift</kbd><kbd>P</kbd> and pick `Tasks: Configure Taks`.

[2019-05-24 22:41] sean-mcmanus commented on #3685
It repros with .c files (possibly other projects are using C++).

[2019-05-24 22:49] bobbrow commented on #3691
And after that, which template did you pick?

[2019-05-24 23:13] BrunoXL commented on #3691
I do not remember which template was, but it was a default one.

[2019-05-24 23:13] jamesadevine commented on #1816
Hiya,

<img width="882" alt="Screenshot 2019-05-24 at 16 08 29" src="https://user-images.githubusercontent.com/4742697/58360601-8cfd6680-7e3e-11e9-9a57-4238c181b12f.png">

Once again seeing high cpu usage recently, must have been the May update. 70% -> 30% battery in about 20 minutes!

Sample of process attached.
[sample-process.txt](https://github.com/microsoft/vscode-cpptools/files/3218833/sampl

[2019-05-25 01:14] Lennon925 commented on #230
@bobbrow

It can't solve my problem to customize the colors using the 'editor.tokenColorCustomizations' setting. Because it can't distinguish variables type. It colorize ENUM/Struct/Union/Macro with the same color.

[2019-05-25 01:50] sean-mcmanus commented on #230
@Lennon925 We support local/global var colors with variable.other.local and variable.other.global, and macros with entity.name.function.preprocessor, but enum/struct/union appear to just map to entity.name.type -- @Colengms would it be easy/possible to distinguish between enum/struct/unions?

[2019-05-25 02:01] sean-mcmanus commented on #3683
Our next release has an updated parser which may have fixed this already, but I can't tell because I don't have an isolated repro. If you could provide an isolated repro sample code I could check or file a bug with the parser team.

[2019-05-25 02:13] sean-mcmanus commented on #3683
I got the repro using the linked GitHub project.

UPDATE: The bug still repros in our pending Insider release.

[2019-05-25 02:14] fcharlie commented on #3683
@sean-mcmanus OK. You can use my absl fork and example: https://github.com/fcharlie/abslexample

[2019-05-25 02:57] Lennon925 commented on #230
It seems that it works just for definitions. For references, it doesn't work.
![3](https://user-images.githubusercontent.com/39362073/58363753-dd76d180-7edb-11e9-8ea1-28dd9a6fb597.PNG)

[2019-05-25 03:29] sean-mcmanus opened #3693 "2 squiggle updates get sent on file open"
It would be better to only send 1. They both appear to take about the same amount of time.

[2019-05-25 04:28] kalpaj12 commented on #3689
Thanks @bobbrow! I **guess** the issue is due to minimal installation of ubuntu during its set up. I have no issues on my desktop [selected full ubuntu installation] where as for my laptop [ selected minimal installation ], I seem to have a missing package. I guess this extension could first check if clang-format and other essential packages are installed or not, and if not, then proceed with a wa

[2019-05-25 04:28] kalpaj12 commented on #3689
For now, I'll try #3174 and let you know if this works! Thanks though! Good day.

[2019-05-25 04:43] kalpaj12 commented on #3689
[This](https://github.com/microsoft/vscode-cpptools/issues/3174#issuecomment-463944461) works!

[2019-05-25 06:09] suzukajiang opened #3694 "Is there any plan to suport find reference"

[2019-05-25 08:11] taringi commented on #3689
yip, that fix works. We really need extension to check if dependencies are met

[2019-05-25 10:25] #3646 closed, assigned to pieandcakes

[2019-05-25 18:34] yedane commented on #3688
It's preprocessor.

Is it possible to ignore it during intellisense parsing ?

[2019-05-25 19:47] togna commented on #2738
I'm having the same issue. For anyone else here looking for the old version of vscode: https://code.visualstudio.com/updates/v1_22.

[2019-05-26 03:27] davidbien commented on #2599
I have a feeling that there is some complex stuff going on for the Nvidia's Nsight Exclipse's integration of cuda-gdb. Apparently there is an interface other than the text interface to gdb? Anyway, it is reasonably opaque to the end user. However and at the same time, when I broke into the debugger I broke into a *DEVICE* method ( i.e. a GPU method - not a CPU method ) and in VSC I was able to loo

[2019-05-26 10:22] mxdh opened #3696 "Mismarked problems"
Issue Type: <b>Bug</b>

MinGW-w64 8.1.0

1.
<img width="960" alt="2019-05-26 (3)" src="https://user-images.githubusercontent.com/20399194/58380396-18dad400-7fa0-11e9-83a9-92f14f4a2490.png">

2.
<img width="960" alt="2019-05-26 (4)" src="https://user-images.githubusercontent.com/20399194/58380402-22643c00-7fa0-11e9-906e-89f860e00615.png">

<img width="960" alt="2019-05-26 (5)" src="https://user-ima

[2019-05-26 10:23] xor2k commented on #3491
For some reason it now worked, I‘ve just upvoted https://developercommunity.visualstudio.com/content/problem/540560/c-intellisense-doesnt-support-designated-initializ.html

[2019-05-26 13:22] dunderX opened #3697 "delete"
the form got reset

[2019-05-26 13:24] #3697 closed, assigned to nobody

[2019-05-26 13:28] dunderX opened #3698 "NullReferenceException on Linux when trying to debug"
- OS and Version: **Linux Manjaro**
- VS Code Version: **1.34.0**
- C/C++ Extension Version: **0.23.1**
- Other extensions you installed (and if the issue persists after disabling them): **none**
- A clear and concise description of what the bug is:
**got "Stopping due to fatal error: NullReferenceException: Object reference not set to an instance of an object" on CONSOLE DEBUG. just tried to debu

[2019-05-26 19:39] zcgeng commented on #15
Looking forward to it, too.
But if you are super eager to use "Find all references" right now you can just install [scope4code](https://marketplace.visualstudio.com/items?itemName=xulion.codescope). It's very easy and works immediately without any configuration (except installing `cscope` by a single line of `sudo apt-get install cscope`).

[2019-05-26 21:02] adrwor opened #3699 "Closing nested parenthesis"
Issue Type: <b>Bug</b>

The following describes the steps and issue:

1. Open parenthesis, closing parenthesis automatically: "()"
2. insert something between these parenthesis: "(something)"
3. add an opening parenthesis inside: "((something)"
4. now when typing ")" after "something" but before the closing parenthesis, it won't show, the cursor just shifts to the right: "((something)"

Maybe this

[2019-05-27 02:37] dirthsj opened #3700 "Linting seems to have issues with typedefs and structs"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Manjaro Stable, patch [2019-05-26](https://forum.manjaro.org/t/stable-update-2019-05-26-kernels-xfce-4-14-pre1-virtualbox-libreoffice/88908)
- VS Code Version: Code - OSS v 1.34.0-2 (installed via Manjaro repo)
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): cpplin

[2019-05-27 07:10] dunderX commented on #2998
what's up with that? still doesn't work for me

https://github.com/microsoft/vscode-cpptools/issues/3698

[2019-05-27 08:20] doasm commented on #3669
yes

[2019-05-27 08:24] MB1151 opened #3701 "Error Highlighting"
Issue Type: <b>Bug</b>

The errors in my C++ code are not getting highlighted(underlined) with red lines although i installed the C/C++ extension.  I didn't check with other languages.

Extension version: 0.23.1
VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:22.738Z)
OS version: Darwin x64 18.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---

[2019-05-27 14:40] psclkhoury opened #3702 "Cannot open source file "CppUnitTest.h""
Hi,

I'm working on a simple project where all the include files are in the workspace folder. I did not define a c_cpp_properties.json file because everything is working correctly except for 1 (system?) include file: 'CppUnitTest.h' which is available in:
`"C:/Program Files (x86)/Microsoft Visual Studio/2017/Professional/VC/Auxiliary/VS/UnitTest/include"` .

In this article it is specified that it

[2019-05-27 15:07] linonetwo commented on #2803
For who comes here from google:

After you install vcpkg, please delete `.vscode/c_cpp_properties.json` and let it regenerate by `cmd + shift + P` then `>c++` then `C/C++ Edit Configuration (UI)`

Then a new config file with correct `includePath` will be generated, for example:

[code]

Then all the `xxx file not found Clang` will just go, after a second.

[2019-05-27 15:23] linonetwo commented on #2803
No, still not working:

[code]

https://github.com/microsoft/vcpkg/issues/6640

[2019-05-27 16:54] #3691 closed, assigned to nobody

[2019-05-27 19:01] cjdb opened #3703 "char8_t literals not correctly highlighted"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.34
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

C++17 introduced a new character literal type, `u8'x'`. At present, this messes with the syntax highlighting, as shown in the a

[2019-05-27 23:58] pparuzel opened #3704 "Static construction of a non-copyable object shows errors"
**Type: LanguageService**

**Describe the bug**
- OS and Version: **MacOS 10.14.5**
- VS Code Version: **1.34.0**
- C/C++ Extension Version: **0.23.1**
- Other extensions installed (and if the issue persists after disabling them): **N/A**

Although, the "cppStandard" is set to "c++17" an error is inconsistently shown when defining a **static** object by auto + explicit constructor.

**To Reproduce

[2019-05-28 01:54] yaweiw commented on #3655
@sean-mcmanus any updates?

[2019-05-28 05:32] w136111526 opened #3705 "Linux GCC reference issue"
Hello, my development environment is Linux gcc. I have written a flyeg C++ test program. I want to compile it through task.json. There is an unresolvable symbol. How do I reference the. so file it depends on? My parameters are set to:
task.json
{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "echo",
            "type": "shell",
            "command": "g++",
            "arg

[2019-05-28 07:11] psclkhoury commented on #3436
@sean-mcmanus It would be nice if you support CppProperties.json or something similar because for a big project the c_cpp_properties.json and the global settings is not very efficient. compile_commands.json might be the solution but they are not straightforward to generate if CMake is not used. We are still using makefile to build and some vcxprojs.

[2019-05-28 12:06] cgw28716 commented on #3145
I also have the same issue and restart code will work for a while.
I find that each time it doesn't work, use "format document with" command and there are several c/c++ in the menu.
![image](https://user-images.githubusercontent.com/14054747/58476675-18b11480-8117-11e9-9881-9cf1c6394fb0.png)

[2019-05-28 13:47] Gruntfuggly commented on #3687
[code]

[2019-05-28 13:49] Gruntfuggly commented on #3687
Looks like `"C:\\Program Files (x86)\\Microsoft Visual Studio 10.0\\VC\\include"` is missing?

[2019-05-28 14:31] Clovel opened #3706 "[enum class|struct] symbol has trouble being detected"
**Type: LanguageService**

When creating an `enum class`, the symbol is not recognized correctly, but the code compiles and runs fine.

**Describe the bug**
- OS and Version: Win10 + WSL Ubuntu 18.04.02 LTS
- VS Code Version: 1.34.0
- C/C++ Extension: 0.23.1

**To Reproduce**

1. Create a Enum.hpp with a `enum class Direction` declaration with `NONE`, `RIGHT` & `LEFT` entries inside a namespace of

[2019-05-28 16:12] bobbrow commented on #3687
I think I see the problem now.  It's because you are using compile_commands.json and our extension doesn't have code to support looking up the older compiler (compile_commands doesn't list out the system header paths explicitly).  If you happen to have a newer compiler available on your PC (e.g. the Visual Studio Build Tools SKU), you can set the `compilerPath` property to override what's in compi

[2019-05-28 16:32] Gruntfuggly commented on #3687
That's a shame - using `compile_commands.json` makes things so much simpler in all other respects. Unfortunately I'm a bit stuck with the compiler...

[2019-05-28 17:07] michelleangela commented on #3694
Yes, the feature "Find all references" is in progress, see issue #15.

[2019-05-28 17:07] #3694 closed, assigned to nobody

[2019-05-28 17:12] michelleangela commented on #3696
@mxdh , can you clarify what is mismarked in the screenshots? Also, can you copy and paste the contents of your `c_cpp_properties.json`?

[2019-05-28 17:45] pieandcakes commented on #3698
@dunderX can you paste a `launch.json` that has the logging that fails? I can't duplicate your error. Note you need to have the outer logging object and then specify the individual logging types within it: `"logging": { "engineLogging": true }` for example to enable engine logging.

[2019-05-28 18:08] dunderX commented on #3698
I did it,
but also changed "program" to the full path instead of "${fileDirname}/${fileBasenameNoExtension}".
Now it's started. I guess this "${fileDirname}/${fileBasenameNoExtension}" doesn't point to the right executable file.
Is there any way I can check what those values are and how to make sure they are set automatically for the next times?

thanks

[2019-05-28 18:22] crayzeewulf opened #3707 "IntelliSense does not find symbols in current namespace"
**Type: LanguageService**

This appears to be related to issue #1029 but the example below is much simpler.

**Describe the bug**
- OS and Version: Ubuntu 18.04.2 LTS
- VS Code Version: 1.34.0
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): None
- If there is a symbol, say `BarError`, inside a namespace, say `Foo`, in a header an

[2019-05-28 18:24] michelleangela commented on #3699
This sounds like a feature request for VS Code and not specific just to C++ extension. Please re-file issue at https://github.com/microsoft/vscode/issues

[2019-05-28 18:24] #3699 closed, assigned to nobody

[2019-05-28 18:38] pieandcakes commented on #3698
Those are resolved by VS Code and unfortunately without enabling a setting like `traceResponse` logging,  where you can see what we are sent, there doesn't seem to be a good way to see the values.

[2019-05-28 18:41] dunderX commented on #3698
thanks, I'll figure it out.

[2019-05-28 18:41] #3698 closed, assigned to nobody

[2019-05-28 22:12] sean-mcmanus commented on #230
@Lennon925 We haven't shipped the feature yet -- if you're using the in-progress TypeScript branch, it won't work due to the binaries not being published yet -- I think we'll need to publish the pre-release binaries when the change is ready to be checked in in order for the GitHub tests to pass.

UPDATE: Fixed via https://github.com/microsoft/vscode-cpptools/pull/3651 and https://github.com/micros

[2019-05-28 23:03] sean-mcmanus commented on #3688
@yedane You could surround the SQL code in
[code]
...but I don't think there's any way for us to auto-detect this.

[2019-05-29 00:27] bobbrow commented on #3687
Actually, I think there is another way.  Can you try setting `C_Cpp.default.systemIncludePath` and add the VS 10.0 path?

According to [this document](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Customizing%20Default%20Settings.md), it should be used instead of the compiler path.  I'm not able to test this out right now so if you get to this before me, ple

[2019-05-29 00:54] WardenGnaw commented on #3705
Questions like this is part of the compiler toolset, not part of the cpptools extension.

From https://gcc.gnu.org/onlinedocs/gcc/Link-Options.html, you will need to link the library that you are using.

[code]

[2019-05-29 01:02] sean-mcmanus opened #3709 "High CPU due to parse_file"
Hiya,

<img width="882" alt="Screenshot 2019-05-24 at 16 08 29" src="https://user-images.githubusercontent.com/4742697/58360601-8cfd6680-7e3e-11e9-9a57-4238c181b12f.png">

Once again seeing high cpu usage recently, must have been the May update. 70% -> 30% battery in about 20 minutes!

Sample of process attached.
[sample-process.txt](https://github.com/microsoft/vscode-cpptools/files/3218833/sampl

[2019-05-29 01:04] sean-mcmanus commented on #3709
@jamesadevine Hmm...that is the 1st report we've seen of any sort of performance regression like this with our latest update, which doesn't really change any of that code in the sample-process.txt. It looks as if your database might have gotten invalided for some reason and it's re-parsing files. One thing to double check is that your database isn't getting clobbered via having multiple different

[2019-05-29 01:38] mxdh commented on #3696
@michelleangela As we all know, the header files in MinGW can be compiled correctly, but C/C++ marks many errors in it.

Such as bits/stl_vector.h

Who is wrong?

[code]

[2019-05-29 01:51] sean-mcmanus commented on #3700
I'm not able to repro this. Can you give more info, such as a specific usage of Example? If you could run the C/C++: Log Diagnostics command and provide some info there it might help as well.

[2019-05-29 01:56] sean-mcmanus commented on #3701
Do you have missing include files? What is your intelliSenseEngine, intelliSenseEngineFallback, and errorSquiggles settings? -- those settings could cause squiggles to not appear.

[2019-05-29 02:08] sean-mcmanus commented on #3702
That path is not considered a system include path because our code doesn't auto-add those include paths in the Auxiliary directory. You should be able to work around this via setting the C_Cpp.defaults.systemIncludePath (or C_Cpp.defaults.includePath) to those defaults you want. Is that workaround sufficient?

[2019-05-29 02:12] sean-mcmanus commented on #2803
@linonetwo You're not describing a bug with our extension, right? If so, can you file a new issue?

[2019-05-29 02:28] sean-mcmanus commented on #3703
Our extension doesn't implement the colorization currently (it's implemented via VS Code itself using the textmate grammar linked below), but in our development branch that does implement colorization it has your example fixed. You could also file a bug with the extension https://github.com/jeff-hykin/cpp-textmate-grammar/issues and download install that extension after it fixes the issue.

[2019-05-29 03:03] linonetwo commented on #2803
Good news: when I creating a new issue, I saw `- Other extensions you installed (and if the issue persists after disabling them):`

And I disabled the `C++ advanced lint` and error just gone.

So the config I posted actually work with `C/C++` extension.

[2019-05-29 03:35] bobbrow commented on #3702
Don't use `C_Cpp.default.systemIncludePath` unless you intend to override the entire system include path.

Use
[code]

[2019-05-29 03:38] dirthsj commented on #3700
Well dang, I'm trying to reproduce this so hard with the files I originally discovered it on and it just won't do it anymore.

It was definitely doing this though.

The file I had this on was essentially two linked lists with identical items but in different orders, so all the standard linked list operations apply.

[code]
[code]
etc.

I'll keep trying to find a solid reproduction case.

Here's th

[2019-05-29 07:04] psclkhoury commented on #3702
okay thanks! That should work perfectly!

[2019-05-29 07:04] #3702 closed, assigned to nobody

[2019-05-29 08:19] Gruntfuggly commented on #3687
That does seem to work. The only includes it doesn't now find are where they have this format:
`#include "./Bookmarks.h"`
it seems happy where the includes are in a subfolder, e.g.
`#include "database/IBookmarkStorage.h"`
but not when they are in the same folder.

[2019-05-29 08:20] Gruntfuggly commented on #3687
If you're wondering why we use the `./`, it's because the project is huge and contains header files with the same names.

[2019-05-29 08:44] #3523 closed, assigned to nobody

[2019-05-29 10:17] caodingpeng commented on #3433
i also met this problem. vscode is freezes when c/c++ plugin activated

[2019-05-29 15:37] francescoandreussi opened #3710 "include file not found dilemma"
Hi, I extensively read about similar issues before opening this one, but I tried almost everything and I am still at square one.
I paste down here my VSCode window with my includes (not highlighted), the error in the terminal tab and my IncludePath option.

Thank you in advance.

![fnfClangVSCode1](https://user-images.githubusercontent.com/18213477/58570328-15fa1080-8238-11e9-8673-0ee9514fcd17.png

[2019-05-29 15:42] bobbrow commented on #3687
Is the extension not finding `Bookmarks.h` at all, or is it finding the wrong one?  I would be surprised if using `./` made any difference.  If you remove it (just as a test) you will get the same error, correct?

When you run the `Log Diagnostics` command where does the folder containing `Bookmarks.h` show up in the list (if at all)?

[2019-05-29 16:02] lukaszmoroz opened #3711 "Launching/Attaching as root not working due to a broken shell script"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**

- OS and Version:
[code]

- VS Code Version:
[code]

- C/C++ Extension Version:
[code]

- A clear and concise description of what the bug is.

I wanted to debug a process that r

[2019-05-29 17:14] Colengms commented on #3688
Hi @yedane,

I think if the Dynamic SQL were C++ preprocessor based, squiggles would be correct.  IntelliSense parsing should consider macro contents.  However, it's unclear to me what could be within a preceding macro that would make a ":" valid before a variable name.  My suspicion is that it's not preprocessor based.

[2019-05-29 17:22] pieandcakes commented on #977
@psclkhoury It is on our list for current work planning.

[2019-05-29 17:48] jamesadevine commented on #3709
Hi @sean-mcmanus,

Yes I almost definitely had more than one VS code instance pointing to the same folder tree. As a user (with no understanding of the implementation) I wouldn't expect multiple processes to invalidate the database. I work on https://github.com/Microsoft/pxt/ and my workflow is usually:

1 x workspace containing all the files with folders containing CPP files.
1 x workspace contai

[2019-05-29 19:51] sean-mcmanus commented on #3704
Thanks for reporting this. I have filed a bug on Visual Studio 2019 at https://developercommunity.visualstudio.com/content/problem/588115/c-intellisense-shows-invalid-errors-with-static-co.html . If you have a Microsoft account, you can login to upvote that issue.

[2019-05-29 19:55] drq883 commented on #1994
Please put this on the high-priority list. Until you update it, I'll be using Atom instead. There are many nice features in VSCode, but this is a show-stopper for me.

[2019-05-29 19:55] Colengms commented on #3706
Hi @Clovel,

I'm not able to repro this.  In a new folder, I created tmp.h, and tmp.cpp.  In tmp.h I have:
[code]

In tmp.cpp, I have:
[code]

... No squiggles are shown.  Do you see anything different in my example from your repro?

[2019-05-29 20:55] sean-mcmanus commented on #3655
@yaweiw We're still finishing up the colorization work...we haven't decided on a release date for the 0.24.0-insiders build yet. I was hoping at least by some day early next week.

UPDATE: Maybe around June 11th?

[2019-05-29 21:12] Clovel commented on #3706
Hi.

The few differences I can think of :
* Very large project, maybe Intellisense is having issues with that.
* The squiggles appear in a `.cpp` file that implements a class that is in the same namespace as the Enum. The variable is declared in a member function of said class.

Thanks for the help.
Clovel

[2019-05-29 21:30] sean-mcmanus commented on #3145
@peeeeter It doesn't sound like the issue you describe is a known issue, and may be unrelated to the multiroot issue (which can cause corrupted output after formatting). What do you see in the C/C++ [debug logs](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md)? Do other extension features fail too? It almost sounds like the extension is s

[2019-05-29 22:38] michelleangela commented on #3696
Your c_cpp_properties.json looks correct. The MingGW system include paths should have been obtained for the IntelliSense because the `compilerPath` is set.

Can you run the command `C/C++: Log Diagnostics` while one of the header files with the IntelliSense errors is opened and copy and paste the output? Do the errors only show up on system header files?

[2019-05-30 01:43] sean-mcmanus commented on #3707
I've filed a bug on Visual Studio 2019 (the source of the bug) at https://developercommunity.visualstudio.com/content/problem/588356/c-intellisense-autocomplete-fails-to-locate-namesp.html . If you have a Microsoft account you can login to upvote that issue.

One potential workaround is to surround the method with `{}` instead having the try/catch around the body.

[2019-05-30 01:56] sean-mcmanus commented on #3710
The error you are getting is from your compiler and not our C/C++ extension. Your compiler or build system doesn't read the includePath from c_cpp_properties.json. You need to add the include paths to your command line somehow, e.g. -I "path".

[2019-05-30 01:56] #3710 closed, assigned to nobody

[2019-05-30 02:05] sean-mcmanus commented on #3709
What is your databaseFilename setting? The default/unchanged? If you're using 3 different workspace folders in the graph shown it should be creating 3 different browse.vc.db files for each workspace in your workspaceStorage location. If you don't need the C/C++ symbols in some workspaces you can add the C/C++ folders to your files.exclude setting for that particular workspace to avoid parsing the

[2019-05-30 03:52] crayzeewulf commented on #3707
Thanks.

Another workaround that does not require one to change the C++ code is to use [vscode-clangd](https://marketplace.visualstudio.com/items?itemName=llvm-vs-code-extensions.vscode-clangd)  extension. It produces the correct expected completions.

[2019-05-30 04:59] Victsz commented on #1073
@sean-mcmanus , in my case, even only one instance of that file, this issue will still have chance to raise.
And use save without format will be just fine

[2019-05-30 05:18] jamesadevine commented on #3709
My databaseFilename setting is either not specified or set to ${default}! :smile:

[2019-05-30 05:48] adashen commented on #3389
Any update of this issue? It really block the user on windows for linux docker container

[2019-05-30 05:50] jeff-hykin commented on #3703
@cjdb Fixed! just install `Better Syntax` v1.11.3

[2019-05-30 06:46] yedane commented on #3688
@Colengms

Dynamic SQL is implemented by using PRO C, it's finally a precompiler that transform into C code: [PRO C](https://stackoverflow.com/questions/4793705/what-is-pro-) [More information](http://infolab.stanford.edu/~ullman/fcdb/oracle/or-proc.html)

Here is an code example before and after compilation: [Simple example](http://dbaworkshop.blogspot.com/2007/04/simple-hello-world-program-using

[2019-05-30 16:38] wcscmp opened #3712 "gcc problem matcher does not catch fatal errors"
$gcc problem matcher does not match fatal errors
Possible solution would be:
"regexp": "^(.*):(\\d+):(\\d+):\\s+(?:fatal )?(warning|error):\\s+(.*)$"
It would be great to also catch linker errors, like undefined reference as an errors

[2019-05-30 17:05] Colengms commented on #3706
Hi @Clovel,

So far, I'm not able to repro the issue.  I suspect there are other factors.  Could you perhaps create a standalone repo that demonstrates the issue, that we could pull to investigate?  That would take out a lot of the guesswork.

Thanks,
Colen

[2019-05-30 17:19] Colengms commented on #3688
Thanks @yedane.  Since the syntax is processed by an alternate (pre)compiler and not C++ preprocessor macros, that would explain the squiggle.  Let's keep this issue open as a feature request to support (or at least not squiggle) Dynamic SQL syntax.

[2019-05-30 18:00] michelleangela commented on #1264
We need more information to fully investigate this issue. If you update to the latest version of the extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:00] #1264 closed, assigned to nobody

[2019-05-30 18:04] gbbosak opened #3713 "compile_commands.json -idirafter flags in Clang are not detected as include files"
**Type: LanguageService**

Including a path with -idirafter in a compile_commands.json results in the parser not detecting it as an include path. More information on -idirafter can be found here: https://clang.llvm.org/docs/genindex.html

Additional flags that do the same thing are: --include-directory-after <arg>, --include-directory-after=<arg>

These flags are supported in both Clang and GCC.

[2019-05-30 18:13] michelleangela commented on #1397
We need more information to further help with this issue. Please verify whether the issue still persists when the C/C++ extension is disabled. If the issue still persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:13] #1397 closed, assigned to nobody

[2019-05-30 18:20] drew-512 commented on #2146
Bump!

First off, shoutout to the VS Code dev team for making such a badass piece of software!  It just keeps getting better and the Go support is so lovely.  Thanks so much and and sending y'all good vibes!  <3

Anyway, yes, I get the complexity around Ctrl+C mysteriously not arriving to a given debug process.  However, maybe it's easy/doable to have SIGINT or SIGTERM make it when coming from the

[2019-05-30 18:21] michelleangela commented on #1692
Closing this issue as the last activity on it is more than a year ago.

If you update to the latest version of the C/C++ extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:21] #1692 closed, assigned to nobody

[2019-05-30 18:44] michelleangela commented on #1635
Closing this issue as the last response is more than a year old.

If you update to the latest version of the C/C++ extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:44] #1635 closed, assigned to nobody

[2019-05-30 18:46] michelleangela commented on #1697
Closing this issue as the last response is more than a year old.

If you update to the latest version of the C/C++ extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:46] #1697 closed, assigned to nobody

[2019-05-30 18:47] michelleangela commented on #1579
Closing this issue as the last response is more than a year old.

If you update to the latest version of the C/C++ extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:47] #1579 closed, assigned to nobody

[2019-05-30 18:48] michelleangela commented on #1586
Closing this issue as the last response is more than a year old.

If you update to the latest version of the C/C++ extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:48] #1586 closed, assigned to nobody

[2019-05-30 18:50] michelleangela commented on #1749
Closing this issue as the last response is more than a year old.

If you update to the latest version of the C/C++ extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:50] #1749 closed, assigned to nobody

[2019-05-30 18:51] #2439 closed, assigned to nobody

[2019-05-30 18:54] michelleangela commented on #1282
Closing this issue as the last response is more than a year old.

If you update to the latest version of the C/C++ extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:54] #1282 closed, assigned to nobody

[2019-05-30 18:55] michelleangela commented on #2398
Closing this issue as the last response is more than a year old.

If you update to the latest version of the C/C++ extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:55] #2398 closed, assigned to nobody

[2019-05-30 18:55] michelleangela commented on #2001
Closing this issue as the last response is more than a year old.

If you update to the latest version of the C/C++ extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 18:55] #2001 closed, assigned to nobody

[2019-05-30 19:00] michelleangela commented on #1578
Closing this issue as the last response is more than a year old.

If you update to the latest version of the C/C++ extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-30 19:00] #1578 closed, assigned to nobody

[2019-05-30 19:52] ekkis commented on #1815
@sean-mcmanus could you explain how to set the feature you indicate above? I'm running VSCode 1.34.0 and have red squiggles under a `uint128_t` declaration

I don't think I have Insiders installed... so the real question is, when will that code be merged into production?

[2019-05-30 20:36] sean-mcmanus commented on #3712
I fixed the fatal error. I don't know of a way to get the linker errors to match, because they don't have a column or severity in the message...well, it's easy to create a pattern that will match with a column/severity omitted, but I don't how to get the problem matcher to match the linker and non-linker styles at the same time.

[2019-05-30 22:51] sean-mcmanus commented on #1815
We expect users to use `using uint128_t = __uint128_t;` Or add `uint128_t=__uint128_t` do your defines section.

[2019-05-30 23:09] pieandcakes commented on #2146
@drew-512 this is the C++ extension. If you are asking for VS Code to support it for Go, you will need to ask either [VS Code](https://github.com/microsoft/vscode/issues) or the Go extension you are using.

For C++ this is currently on the list of items to tackle.

[2019-05-30 23:18] sean-mcmanus commented on #3709
In your scenario, we have a bug in which multiple workspace folders that have the same leaf name get mapped to the same database file -- are you hitting that scenario? I have a fix for that at https://github.com/microsoft/vscode-cpptools/pull/3715 .

i.e. can you examine your `${AppData}/Roaming/Code/User/workspaceStorage/<GUID>/ms-vscode.cpptools` folder to see what buggy behavior is occurring wi

[2019-05-31 01:19] melroy89 commented on #296
Let's hope we get full refactoring features for C/C++ this year.

[2019-05-31 09:10] cjdb commented on #3703
@sean-mcmanus I previously [filed an issue][issue] with vscode for a different colourisation problem, and they deemed it an extension problem (despite the issue being replicated without any extensions enabled), and was directed here by @tyriar. I'd appreciate direction on where to submit future bug reports, or help understanding why the initial issue should have been directed here, and this issue

[2019-05-31 09:45] Iipal opened #3716 "Not enough info in outline tab for typedefs"
**Type: LanguageService**

- OS and Version: macOS Mojave (10.14.5)
- VS Code Version: Insiders 1.35.0
- C/C++ Extension Version: 0.23.1

Not enough info in outline tab for typedefs. Typedef for what data type ? Please add more info for typedefs.
<img width="695" alt="Screen Shot 2019-05-31 at 12 37 13 PM" src="https://user-images.githubusercontent.com/31858171/58696994-6c369300-83a1-11e9-8d7f-185

[2019-05-31 10:43] jeff-hykin commented on #3703
This issue was "an extension problem" since the Better Syntax extension is the upstream source for the VS Code built-in C++ syntax. It's just an extension so that the latest changes can get pushed out and tested without waiting for a full VS Code release.

If it's a code-color issue with C, C++, Objective-C or Objective-C++, post it on jeff-hykin/cpp-textmate-grammar. It is almost always a syntax

[2019-05-31 11:18] mxdh commented on #3696
Sorry to bother you.
This problem has now disappeared, maybe the C/C++ extension crashed at the time.

[2019-05-31 11:18] #3696 closed, assigned to nobody

[2019-05-31 15:36] peeeeter commented on #3145
@sean-mcmanus In the debug logs I see that the clang-format logging has stopped, but I still see other intellisense logging. Other intellisense features still work. Thanks for the other hints about attaching a debugger, but do you have any suggestions for where to set a breakpoint or inspect, given that other features are still working?

[2019-05-31 18:22] sean-mcmanus commented on #3704
They said it's a duplicate of https://developercommunity.visualstudio.com/content/problem/495584/c17-copy-elision-not-respected-by-intellisense.html -- if that gets fixed I'll double check that this issue is fixed as well.

[2019-05-31 18:30] dnicolson opened #3717 "C/C++.log for writing: Operation timed out"
Type: General

When running `npm test` there are strange errors caused by the C/C++ extension.

**Describe the bug**
- OS and Version: macOS 10.14.5 (18F132)
- VS Code Version: 1.34.0
- C/C++ Extension Version: 0.23.1

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yo code` with default options
2. Run `npm test`

**Expected behavior**
The C/C++ extension not to log anything. After the t

[2019-05-31 18:47] sean-mcmanus commented on #3717
This is bug https://github.com/microsoft/vscode/issues/73441 -- fixed with the latest VS Code Insiders.

[2019-05-31 18:47] #3717 closed, assigned to nobody

[2019-05-31 18:49] sean-mcmanus commented on #3717
But that error shouldn't repro if the C/C++ extension is disabled (it seems like the disabling might not be working for you?).

[2019-05-31 18:50] dnicolson commented on #3717
It looked unique as the filename and error message is different.

[2019-05-31 18:53] sean-mcmanus commented on #3717
The log in https://github.com/microsoft/vscode/issues/73441 has "Diagnostics" at the end because it's from the C/C++: Log Diagnostics command, but the same root issue occurs for the normal C/C++ output window (log).

[2019-05-31 18:54] sean-mcmanus commented on #3717
The other error message differences might be due to the OS being used (my error is from Windows).

Let us (or the VS Code team) know if the bug still repros with Insiders...it could be another spot in VS Code hitting the same issue with parsing "C/C++" incorrectly.

[2019-05-31 18:58] ekkis commented on #1815
ah.  awesome

[2019-05-31 19:05] sean-mcmanus commented on #3716
The Outline view is not intended to provide detailed type info because it is just meant for navigating to the definition. It is only supposed to show the Name and an icon -- the only reason we added "(typedef)" is because VS Code doesn't currently support a dedicated icon for typedef.

In your example, the target type is short (size_t), but in other cases it could be a long string, which the Outli

[2019-05-31 19:11] Tyriar opened #3718 "Notice: terminal.integrated.shell.* can be null in the upcoming v1.35"
See https://github.com/microsoft/vscode-python/issues/5743 and https://github.com/microsoft/vscode/issues/74233, you may also be affected by this. If you detect the shell based on the `terminal.integrated.shell.*` setting you can no longer do this unless the user has specified a shell.

[2019-05-31 19:58] sean-mcmanus commented on #3718
I don't see that setting in our code.

@WardenGnaw @pieandcakes Are you guys checking this setting somewhere else or can I close this issue?

[2019-05-31 20:03] michelleangela commented on #1562
We need more information to fully investigate this issue. If you update to the latest version of the extension and your issue persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-05-31 20:03] #1562 closed, assigned to nobody

[2019-05-31 20:05] #2117 closed, assigned to nobody

[2019-05-31 20:06] #2192 closed, assigned to nobody

[2019-05-31 20:10] michelleangela commented on #1686
Closing this issue as the last response is more than a year old.

Update to the latest version of the C/C++ extension and see if issue still persists. Please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-05-31 20:10] #1686 closed, assigned to nobody

[2019-05-31 20:11] michelleangela commented on #1954
Closing this issue as the last response is more than a year old.

Update to the latest version of the C/C++ extension and see if issue still persists. Please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-05-31 20:11] #1954 closed, assigned to nobody

[2019-05-31 20:19] michelleangela commented on #1678
Closing this issue as the last response is more than a year old.

Update to the latest version of the C/C++ extension and see if issue still persists. Please re-open the issue and reply with additional information that can help us investigate the issue.

[2019-05-31 20:19] #1678 closed, assigned to nobody

[2019-05-31 20:25] michelleangela commented on #1861
Closing this issue as the last response is more than a year old.

[2019-05-31 20:25] #1861 closed, assigned to nobody

[2019-05-31 20:25] michelleangela commented on #1843
Closing this issue as the last response is more than a year old.

[2019-05-31 20:25] #1843 closed, assigned to nobody

[2019-05-31 20:26] michelleangela commented on #1467
Closing this issue as the last response is more than a year old.

[2019-05-31 20:26] #1467 closed, assigned to nobody

[2019-05-31 20:56] pieandcakes commented on #1116
This will be tracked via the MIEngine bug.

[2019-05-31 20:56] #1116 closed, assigned to nobody

[2019-05-31 20:58] pieandcakes commented on #966
This should be fixed. please reopen if it isn't . I tried with the code in your screenshot and it works for me.

[2019-05-31 20:58] #966 closed, assigned to pieandcakes

[2019-05-31 21:01] pieandcakes commented on #3718
We don't use it specifically as we tell VS Code to run stuff in the terminal through the DA's `RunInTerminal` command. @Tyriar are you suggesting that we need to check that value now or do i need to ask VS Code for clarification?

[2019-05-31 21:09] sean-mcmanus commented on #3145
@peeeeter Are you able to repro your issue with a single workspace Folder? My guess is that if it's the multi-root folder issue then the formatting logging is going to the log for a different workspace folder. Our mutli-root support is buggy, particularly if folders are children of other folders, and it can cause didOpen messages to not be sent do language server instances that later get sent form

[2019-05-31 21:09] cjdb commented on #3703
Thanks for clarifying! I think the issue can be closed now.

[2019-05-31 21:09] #3703 closed, assigned to nobody

[2019-05-31 22:04] EmbeddedBacon commented on #1954
Over the past six months the vscode-cpptools has been more stable, at least for me.  I don't recall seeing this issue for a number of months now.  Though, I don't pay a great deal of attention to the Output console for C/C++.  Great work by the vscode-cpptools team.

[2019-05-31 22:07] pparuzel commented on #3704
Awesome, thank you!

[2019-05-31 22:54] Tyriar commented on #3718
Only if you were reading that setting and using the value, assuming it would always be `string` do you need to do anything (as it is now a `string | null`).

[2019-06-01 00:59] pieandcakes commented on #3718
@Tyriar Thanks for clarifying it. We currently don't do anything with that value so I'll close this. Thank you for the heads up regarding the change.

[2019-06-01 00:59] #3718 closed, assigned to pieandcakes

[2019-06-01 01:09] w136111526 commented on #3705
That is to say, when I write task.json's args argument, I can write it like this, for example:
"args":
[
"SRC / *. Cpp ",
"-O",
"${workspace Folder} / FFmpeg _ test. out",
"-I",
"usr/local/include/avffmpeg",
"-l",
"avffmepg.so, dlib.so",
"-g",
"-STD = C + + 11"],
 is this correct? And if I want to make it like makefile, how do I write a macro definition?

[2019-06-01 02:33] sean-mcmanus commented on #3705
It's correct if the compiler doesn't give errors. I think you can set macros using -D. I don't know what you mean by "make it like makefile".

[2019-06-01 10:45] w136111526 commented on #3705
@sean-mcmanus
Hello, I 've added the command to the linked SDL dynamic library using the task.json file build C++ project.
Still reporting errors / usr/bin / LD: cannot find-l / USR / local/lib / libSDL2. so
My code is as follows,How can I change it?:
{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "echo",
            "type": "shell",
            "command": "g++",

[2019-06-01 16:29] hsmyers opened #3720 "Still can't open (find) <sys\time.h>"
Issue Type: <b>Bug</b>

Add:
#include <sys\time.h>
to source file. The c_cpp_properties.json file has this in the Win32 include path:
        "includePath": [
            "${workspaceFolder}/**",
            "c:/msys64/usr/include/**",
            "c:/mingw64/x86_64-w64-mingw32/include/**"
        ],
Both of the last two entries should satisfy the search as they both have subdirectories of 'sys' w

[2019-06-01 16:46] Iipal commented on #3716
@sean-mcmanus Fully agree with you, thanks for answer.

[2019-06-01 16:47] #3716 closed, assigned to nobody

[2019-06-01 17:36] IMAN4K opened #3721 "no include path set!"
### Description
Having another include error!
It should just automatically work fine with the MSVC14 as the build tool and add the correct include path, but when trying to build a simple hello world it throws out the following error:
[code]
And here is the c_cpp_properties.json :
[code]
### Configuration
- OS: `Windows10(1809)`
- VS Code Version: `1.34.0`
- C/C++ Extension Version: `0.23.1`

[2019-06-01 19:15] noodlecollie commented on #2838
This would also be useful for me. I keep getting large stacks of post-debug terminals hanging around demanding attention from me.

[2019-06-01 19:41] roberth commented on #1152
@bobbrow "Reload Window" also kills running Terminals and may have other side effects.

I don't think anyone will discover this method unless they're vscode maintainers.

[2019-06-01 19:45] Clovel commented on #3706
Ok, I don't really have the time right here, but I will try to make you a simple example as soon as possible. Will report here.

Clovel

[2019-06-02 18:04] enricoboschi commented on #3701
I don't know if it helps, but I had the same issue on Manjaro x64 18.0.4 and fixed it simply opening the folder containing the file with VSCode.

[2019-06-03 06:18] SolarTorch opened #3722 "Cannot open output file"
Type: Debugger

Get error message

- OS and Version: Windows 10 1903
- VS Code Version: 1.34.0
- C/C++ Extension Version: 0.23.1
- I followed the instruction [Get Started with C++ and WSL](https://code.visualstudio.com/docs/cpp/config-wsl) and modify launch.json as below:

`

    "configurations": [
        {
            "name": "(gdb) Launch",
            "type": "cppdbg",
            "request":

[2019-06-03 06:32] shubhsboson commented on #3425
Same here , using external console works but there's too much of switching between windows.

[2019-06-03 07:09] #3721 closed, assigned to nobody

[2019-06-03 07:57] chongchai commented on #3556
@sean-mcmanus any plan to implement this feature？I alse want to modify the extension's snippet for some different code style.

[2019-06-03 10:57] exocode commented on #664
Is this something you are looking for?:

It is able to preserve existing methods and inclusions

![2019-06-03 12 55 16](https://user-images.githubusercontent.com/1597621/58797001-165f2680-85ff-11e9-9b97-46e02c5c2547.gif)

https://github.com/reignofwebber/vscode-c-cpp-definition-generator

[2019-06-03 13:35] davidbitton commented on #664
@exocode yep! your work?

[2019-06-03 17:20] shahab1992 commented on #1329
Thanks for sharing, administrator worked for me too :)

[2019-06-03 17:31] bobbrow commented on #3720
It looks like you are trying to set system include paths manually.  This is not recommended for GCC-family compilers because you will be missing some paths and defines.

Try setting something like `"compilerPath": "c:/mingw64/x86_64-w64-mingw32/bin/gcc.exe"` instead.  (i'm guessing your compiler path, yours may be slightly different)

[2019-06-03 17:35] bobbrow commented on #1152
I am currently working on a "rescan workspace" feature that should have a similar effect.  #3658

[2019-06-03 18:00] hsmyers commented on #3720
Sorry, no change. Still says:
{
"resource": "/c:/Users/hsmyers/Documents/LilyPond/mug/timestamp.c",
"owner": "clang",
"severity": 8,
"message": "'sys\\time.h' file not found",
"startLineNumber": 10,
"startColumn": 10,
"endLineNumber": 10,
"endColumn": 22
}
with c_cpp_properties set to:
{
"configurations": [{
"name": "Win32",
"includePath": [
"${workspaceFolder}/**",
"c:/msys64/usr/include/**"
],
"

[2019-06-03 18:04] pieandcakes commented on #3722
`/usr/bin/ld` is the linker. You are getting a compiler error. Please include what your compile command/`task.json` file contains.

[2019-06-03 18:04] bobbrow commented on #3720
Did you try removing `"c:/msys64/usr/include/**"` from the `"includePath"`?

If that still doesn't work, can you run the "C/C++: Log Diagnostics" command (in the command palette) and share the output with us?

[2019-06-03 18:12] hsmyers commented on #3720
If I remove " c:/msys64/usr/include/**" from the "includePath I get
multiple 'cannot open source file…' errors.

I'll run the diagnostic log next and get back to you.

On Mon, Jun 3, 2019 at 12:04 PM Bob Brown <notifications@github.com> wrote:

[2019-06-03 18:15] SolarTorch commented on #3722
`

    "version": "2.0.0",
    "tasks": [
        {
            "label": "make",
            "type": "shell",
            "command": "g++",
            "args": [
                "-g",
                "-o",
                "${workspaceFolder}/${fileBasenameNoExtension}.out",
                "helloworld.cpp"
            ],
            "group": {
                "kind": "build",
                "isDe

[2019-06-03 18:16] hsmyers commented on #3720
From C/C++ Log Diagnostics:

-------- Diagnostics - 6/3/2019, 12:13:55 PM
Version: 0.23.1
Translation Unit Mappings:
[C:\Users\hsmyers\Documents\LilyPond\mug\timestamp.c]:
C:\USERS\HSMYERS\DOCUMENTS\LILYPOND\MUG\TIMESTAMP.C
Translation Unit Configurations:
[C:\Users\hsmyers\Documents\LilyPond\mug\timestamp.c]:
Process ID: 16364
Memory Usage: 15 MB
Compiler Path: c:/msys64/usr/bin/gcc.exe
Includes:

[2019-06-03 18:19] pieandcakes commented on #3722
If you commandline compile, do you get the .out file?

[2019-06-03 18:21] SolarTorch commented on #3722
No. There is no .out file.

[2019-06-03 18:32] pieandcakes commented on #3722
You tried to run `g++ -g -o <workspaceFolder>/helloworld.out helloworld.cpp` (replacing workspaceFolder with your folder) and it doesn't work?  That sounds like the issue is outside the extension since it doesn't work from the command line.

[2019-06-03 18:36] SolarTorch commented on #3722
But it does work to if I compile directly with `g++ -g -o helloworld.out helloworld.cpp `

[2019-06-03 18:40] SolarTorch commented on #3722
I see what the problem is. `<workspaceFolder>` gives the folder location under Windows, but the compiler needs the location under WSL.

[2019-06-03 18:45] #3722 closed, assigned to pieandcakes

[2019-06-03 19:20] sean-mcmanus commented on #3720
I've reproed the issue -- our attempt to query the compiler is failing with "Compiler include path not found: c:\\msys2\\usr\\bin\/lib/gcc/x86_64-pc-msys/7.3.0/include", etc. If you [enable debug logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) you could double check that you see a similar error.

Recursive includes should never

[2019-06-03 19:30] sean-mcmanus commented on #3720
The compiler at `c:/msys64/usr/bin/gcc.exe` appears to be intended to be run from within a Linux-type environment that expects Linux style paths -- do you have an alternative compiler under msys64 such as `C:\\msys64\\mingw64\\bin\\gcc.exe` that returns Windows paths?

Otherwise, it looks like we'd need to add code to get correct root when we receive the "/lib/..." path -- we have code that does t

[2019-06-03 19:40] sean-mcmanus commented on #3705
Does that file exist at /usr/local/lib/libSDL2.so?

[2019-06-03 19:42] goretkin commented on #2230
Could you clarify which part is closed source?

[2019-06-03 19:52] sean-mcmanus commented on #3701
@enricoboschi Yeah, that's good advice. We intentionally disable error squiggles in the Open File scenario.

[2019-06-03 19:55] hsmyers commented on #3720
Yes, for small utilities I use C (or Perl). I've found that either style
seems to work in the .json file, both forward slashes, and traditional
backward slashes. I'll switch and see if it makes a difference. The msys2
compiler install is designed for windows. If I were using windows linux I'd
use gcc 8.x…

With suggested changes, the only difference in the log is the revised path
for the compiler.

[2019-06-03 19:57] sean-mcmanus commented on #3556
@chongchai We'd like too eventually, but we're all busy working on other higher priority stuff currently. If someone could help out with a pull request with the TypeScript changes that would help (we'd still have to add some language server side changes to handle the new snippets).

[2019-06-03 19:59] sean-mcmanus commented on #2230
@goretkin The code that is in Microsoft.VSCode.CPP.Extension.* and Microsoft.VSCode.CPP.IntelliSense.Msvc.*.

[2019-06-03 20:09] sean-mcmanus commented on #3720
Does C:/msys64/usr/include/sys/time.h exist for you?

Another possible cause of the failure is if your paths have the Windows case-sensitive file paths enabled.

[2019-06-03 20:21] hsmyers commented on #3720
Yes, the directory 'sys' exists within the directory 'include' with time.h
present.

Regards case sensitivity for paths, I would have had to enable that on a
per-directory basis and there is no reason I would have done that. I find
it ironic that 'nix requires this yet still cannot handle spaces in the
path cleanly.

On Mon, Jun 3, 2019 at 2:09 PM Sean McManus <notifications@github.com>
wrote:

[2019-06-03 20:28] sean-mcmanus commented on #3720
...unless your mys64 installer enabled case-sensitive file paths on those directories (my msys2 installer didn't do this). You could double check by running `fsutil.exe file queryCaseSensitiveInfo C:\msys64\usr\include`.

[2019-06-03 21:41] hsmyers commented on #3720
I get:

C:\>fsutil.exe file queryCaseSensitiveInfo C:\msys64\usr\include
Case sensitive attribute on directory C:\msys64\usr\include is disabled.

On Mon, Jun 3, 2019 at 2:28 PM Sean McManus <notifications@github.com>
wrote:

[2019-06-03 22:32] bobbrow commented on #3720
Can you tell us which distro of MinGW this is?  I installed msys64 a while back, but my compiler actually lives in `C:\msys64\mingw64\bin\gcc.exe`, not `C:\msys64\usr\bin\gcc.exe`.  Unfortunately, I do not reproduce your issue when I use this compiler.  If you [enable debug logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md), and re

[2019-06-03 23:16] hsmyers commented on #3720
I get:
C:\>gcc -v -E -x c
gcc: warning: ‘-x c’ after last input file has no effect
Using built-in specs.
COLLECT_GCC=gcc
Target: x86_64-pc-msys
Configured with: /msys_scripts/gcc/src/gcc-7.4.0/configure
--build=x86_64-pc-msys --prefix=/usr --libexecdir=/usr/lib
--enable-bootstrap --enable-shared --enable-shared-libgcc --enable-static
--enable-version-specific-runtime-libs --with-arch=x86-64
--with

[2019-06-03 23:19] bobbrow commented on #3720
The `-` at the end of the command is important.  The compiler won't print out the paths without it.  Can you rerun the command with the `-` at the end?

[2019-06-03 23:21] hsmyers commented on #3720
C:\>gcc -v -E -x c -
Using built-in specs.
COLLECT_GCC=gcc
Target: x86_64-pc-msys
Configured with: /msys_scripts/gcc/src/gcc-7.4.0/configure
--build=x86_64-pc-msys --prefix=/usr --libexecdir=/usr/lib
--enable-bootstrap --enable-shared --enable-shared-libgcc --enable-static
--enable-version-specific-runtime-libs --with-arch=x86-64
--with-tune=generic --disable-multilib --enable-__cxa_atexit --with-

[2019-06-03 23:24] hsmyers commented on #3720
Before I forget (again) I don't use vscode to compile, I do that from the
command line.

On Mon, Jun 3, 2019 at 5:20 PM Hugh S. Myers <hsmyers@gmail.com> wrote:

[2019-06-04 03:03] w136111526 commented on #3705
@sean-mcmanus Thank you. I 've solved the problem. The parameters are misspelled.

[2019-06-04 04:11] bobbrow commented on #3720
Ok, this confirms what @sean-mcmanus was saying about the linux-style paths.

command line.

That's ok.  We just use the compiler to query the system include paths and default \#defines.

[2019-06-04 04:12] #3705 closed, assigned to nobody

[2019-06-04 09:41] tejasvi opened #3725 "Allow skipping certain files while debugging"
I'm working with c++ and it would be very helpful if there was a way to skip library files while debugging.

[2019-06-04 11:58] jackxujh commented on #3341
I am having the same issue with some files in my projects. So what is a *linkage block*?

[2019-06-04 13:27] Nowhk commented on #3415
@sean-mcmanus news about this fix? Thanks

[2019-06-04 14:17] hsmyers commented on #3720
The issue is the appearance of an error message in problems window
(sys\time.h file not found) that by all rights should not be there since
the file is located in the path as given.

The 'project' is a short 'C' compilation which includes <sys\time.h>.

On Tue, Jun 4, 2019 at 7:36 AM MickeyElZouhery <notifications@github.com>
wrote:

[2019-06-04 16:25] satyajitghana commented on #3326
Same problem here, i'm on arch linux (faced the same issue while on WSL Ubuntu), it eats away more than half of my memory, ipch files are 400mb each, and 4-5 of them, here is my settings for the extension, i think could be because of the boost library i'm using.
[code]
[code]

[2019-06-04 16:25] peeeeter commented on #3145
@sean-mcmanus Sorry, I'm in a tough dev cycle that I haven't been able to mess with a single workspace setup.  I'm highly motivated to help but after this sprint is over.  :-)

[2019-06-04 17:08] jake-freeman commented on #2994
I am also seeing this issue, it seemed to have gotten significantly worse after the VS Code 1.34.0 update. My Cpp config is bellow:

[code]

Let me know if there is any other information you would like!

[2019-06-04 18:22] sean-mcmanus commented on #3341
@jackxujh I think a linkage block means something like `extern "C" {}`.

[2019-06-04 18:27] sean-mcmanus commented on #3415
A fix is not currently scheduled because we're busy with other higher priority features.

This might be a bug with clang-format (not sure).

[2019-06-04 20:58] pieandcakes commented on #3725
Can you clarify what you mean by "skip library files" while debugging? Are you saying don't load the symbols?

[2019-06-04 23:43] ThadHouse commented on #3603
I'll try to reproduce this again later this week. The debug logs iirc showed the defaults being sent to the server rather then the API provided directories, but I'll double check.

[2019-06-04 23:45] ThadHouse opened #3727 "Add way to restart language server for a specific file"
https://github.com/microsoft/vscode-cpptools/issues/3603 and https://github.com/microsoft/vscode-cpptools/issues/2966 are still open, and I still randomly see at least 2966, which seems like a race condition somewhere. Closing the file, waiting for the language server for that file to close, and reopening always solves both issues, so it would be nice if there was a way to manually reset the langu

[2019-06-05 01:52] tejasvi commented on #3725
I mean to not show standard headers while stepping into an operation. It gets tedious with each minor operation like a variable declaration. An alternative could be to step over but it not plays well with recursive code.

[2019-06-05 02:14] Victsz commented on #1073
Is there any workaround or suggestion practice for this issue? It`s really annoying.

[2019-06-05 02:43] sean-mcmanus commented on #1073
@Victsz You could either not use multi-root workspaces or set C_Cpp.formatting to "Disabled" and use another extension for formatting.

[2019-06-05 05:30] Aukstkalnis commented on #3157
To understand this issue we should go back to reading C language specification. So lets dive in.
First, you define a function in func_defs.c file.
[code]
Then, you declare it in func_declaration.h file:
[code]
Now, lets check what we have. We have "void print_test()" function definition and "void print_test(void)" declaration. Wait... Something is not right... print_test() and print_test(void) are

[2019-06-05 05:31] ghost commented on #1073
@Victsz
My workaround is to stop using symbolic links in my directory structure.
@sean-mcmanus
Are we supposed to open the bug upstream to vscode ?

[2019-06-05 08:11] vince-zeng commented on #483
I met the same issue (Win10  + Ubuntu Samba). And I have to  do the network driver map on Win10 to fix it.

[2019-06-05 09:59] daldr-ntml commented on #1839
@bobbrow Hi Bob, a couple of questions related to using msbuild with VS Code:

1. The document link in https://github.com/microsoft/vscode-cpptools/issues/1839#issuecomment-475350756 is now broken. Has that document been published?

2.  In your comment https://github.com/microsoft/vscode-cpptools/issues/1839#issuecomment-476742549 you mention:

Is there any progress on fixing that?

3. Is there an

[2019-06-05 14:43] gdeban commented on #1235
@sean-mcmanus

This does not work for me. I am having the same issue as @andreaolivotto even after changing the compiler path and intellisenseMode
[code]
and
[code]

_WIN32 is still seen as defined. Hovering over it displays the following tooltip:
[code]
No definition or declaration is found when using the context menu "go to ...".

[2019-06-05 16:16] ghost opened #3728 "Debugging stops at code file not on machine/Performance tools Feature request"
Issue Type: <b>Bug</b>

Multi threaded program.
Hit pause or break.
`Unable to open 'cthread.c': Unable to read file (Error: File not found (d:\agent\_work\4\s\src\vctools\crt\crtw32\stdcpp\thr\cthread.c)).`

I do not have a D:\ drive. it seems that the extension is referencing a static file path that was used during development, please fix!

Also consider adding Ram / CPU Usage graph, similar to

[2019-06-05 16:39] prime31 opened #3729 "[Mac] Debug Console prints a carriage (\n) return and a newline (\n) for every printf"
Issue Type: <b>Bug</b>

printf produces a lot of extra noise in the Debug Console. Rather than just printing the data you pass to it a lot of extract chars get placed in the output making it hard to read.

Run the following program and open the Debug Console to view the log output.

[code]

Expected output:
[code]

Actual output:
[code]

Extension version: 0.23.1
VS Code version: Code 1.34.0 (a622

[2019-06-05 17:01] hudsonmiranda291 opened #3730 "Incorporate CMake Tools extension"
The CMake Tools extension (https://github.com/vector-of-bool/vscode-cmake-tools) for VSCode with 727k installs is currently looking for a primary maintainer (https://github.com/vector-of-bool/vscode-cmake-tools/issues/691). I think it would make sense to incorporate it on cpptools to improve CMake support.

[2019-06-05 17:32] Georacer opened #3731 "Intellisense squiggles appear even though headers are discovered"
**Type: LanguageService**

Hello everyone,
I'm having some issues with the Intellisense feature of the C++ extension of VSCode.

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version: 1.34.0
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): Anaconda Extension Pack, Docker, Gitlens, Python and others
- A clear and co

[2019-06-05 18:10] pieandcakes commented on #3728
@ninja-1337 you are stopped in library code. Move to a portion of the call stack where your code exists and then you will see your source code.

For the RAM/CPU performance tools monitoring, we will take it into consideration but as theres no protocol for it in VS Code, it won't be something we will get to until VS Code supports it.

[2019-06-05 18:10] #3728 closed, assigned to pieandcakes

[2019-06-05 18:12] pieandcakes commented on #3729
@prime31 That is from `lldb-mi`. If you want to see your output without that, change the setting `"externalConsole": true`.

[2019-06-05 18:12] #3729 closed, assigned to pieandcakes

[2019-06-05 18:14] pieandcakes commented on #3725
@tejasvi The problem is there does not exist a mechanism within the debugger for us to tell it not to send us frames which are not in your code. I would suggest a workaround of setting a breakpoint in code you want to debug and run to those points using `F5`.

[2019-06-05 18:34] sean-mcmanus commented on #3727
By language server I assume you mean the Microsoft.VSCode.CPP.IntelliSense.Msvc.exe process -- you could trying do some a "kill Microsoft.VSCode.CPP.IntelliSense.Msvc.exe" command.

It sounds like fixing the root bugs might be a better solution. I think they're caused by our didOpen event getting delayed for the custom config provider, but then we receive other messages that aren't delayed.

[2019-06-05 18:37] ThadHouse commented on #3727
I don't want to kill the whole process, I notice in the debug logs that after about 20 seconds it receives a message saying `shutting down language server for file *`. So I don't know if its just 1 process with multiple files, or 1 process per file, but a way to restart just the server parsing for that file.

Another option would be a button to reforce sending the API data to get intellisense.

I

[2019-06-05 19:01] sean-mcmanus commented on #3157
@Aukstkalnis I believe this issue has already been fixed with https://github.com/microsoft/vscode-cpptools/issues/3609 -- it should be available next week with our Insiders release. If it's not fixed in that release or if you believe it's a different bug, could you provide a simple test case that repros a bug so we can check if it's fixed with our internal builds?

[2019-06-05 19:08] sean-mcmanus commented on #1073
@giellamoswhard If I remember correctly the symbolic link repro and multi-root repro are 2 different root causes that lead to same document corruption after formatting due to the didOpen not getting received for one of the documents.

I don't think VS Code is buggy, although VS Code already has bugs related to duplicate files getting opened with different casing, causing issues if our extension do

[2019-06-05 19:16] sean-mcmanus commented on #1839
@DavidA2014 https://code.visualstudio.com/docs/cpp/config-msvc

VS Code itself ships the $msCompile problem matcher, so you could look if they have a bug already or file a new one.

[2019-06-05 19:22] sean-mcmanus commented on #1235
@gdeban It sounds like we may be failing to query the compiler (and falling back to a cl.exe compiler). Can you run the C/C++: Log Diagnostics command after opening a file and see what compiler and mode and include paths it's using? Or you could enable debug logging and see if the _WIN32 define is getting set by your compiler: https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/

[2019-06-05 19:27] bobbrow commented on #3730
Thank you for reaching out.

We have been in contact with @vector-of-bool in regards to this.  I was meaning to reply to that issue so that the community would be aware, but had not done so yet.  I will do it now.

[2019-06-05 19:27] #3730 closed, assigned to nobody

[2019-06-05 19:32] sean-mcmanus commented on #3731
F12 on `#include` does not follow the same paths as IntelliSense error squiggles (we haven't gotten around to fixing that bug yet).

So if you're getting squiggles on the headers it means IntelliSense isn't able to find the files via the includePath used.

Can you run the C/C++: Log Diagnostics command with the file with error squiggles to see what IntelliSense settings are getting used and if the

[2019-06-05 19:36] #1839 closed, assigned to nobody

[2019-06-05 19:38] prime31 commented on #3729
That’s odd. Is there anyway to workaround having to spawn an external console? Having to pop up a separate console every run kills the nice workflow Code provides. Should I open a bug with lldb directly or is this expected behavior?

[2019-06-05 19:40] bobbrow commented on #1839
@DavidA2014
We don't have a guide for using VS Code with a Visual Studio solution.  Our extension does not parse those project files.  Our strategy is to provide language services in this extension and let other extensions manage build systems (e.g. CMake, Arduino).  Creating an extension that can understand sln/vcxproj would fall under that umbrella, but we haven't started that work yet.

[2019-06-05 19:46] sean-mcmanus commented on #3727
We never output "shutting down language server for file" -- do you mean `Shutting down IntelliSense server: <file>`? That shutdown terminates the IntelliSense process for the translation unit and not the main extension process. It's one process per translation unit.

[2019-06-05 19:46] bobbrow commented on #3727
This would be a relatively easy thing to add.

[2019-06-05 21:08] pieandcakes commented on #3729
VS Codes integrated terminal as a console is blocked because lldb-mi currently has no support to redirected `tty` in its codebase.

[2019-06-05 21:30] gbbosak commented on #3713
Any updates on this?

[2019-06-05 21:40] sean-mcmanus commented on #3713
We're currently working on higher priority features. We don't have this fix scheduled yet.

[2019-06-05 21:53] gbbosak commented on #3713
Thanks for the update!

[2019-06-05 23:38] dacut opened #3733 "Automatically add "${default}" when generating c_cpp_properties.json and a C_Cpp.default.* property is set"
**Type: LanguageService**

This is coming from a new C/C++ user of VSCode (I've coded in C/C++ for a long time, and in VSCode for other languages for a couple years now), but I found this unintuitive (= spent an hour pulling my hair out). Some of it is definitely confusion over where pieces of VSCode live and what belongs to whom, but it's just from installing the "C/C++ extension" to do C/C++ dev

[2019-06-05 23:55] sean-mcmanus commented on #3733
You can pull in the C_Cpp.default.includePath settings via using `${default}` in your c_cpp_properties.json includePath.

@bobbrow @michelleangela It seems like we should auto-add the ${default} for newly created c_cpp_properties.json?

[2019-06-05 23:59] sherryyshi opened #3971 "Custom config provider extension users should not see the message "Please update your includePath.""
Currently when an include search path does not resolve, the message displayed to users is "#include error detected. Please update your includePath." This message is not helpful for custom configuration providers, since we don't want the users to update the includePath themselves, which would override the results the config provider provides.

In our scenario, the user would see this every time at

[2019-06-06 00:48] jayoungo opened #3734 "The "Format on save" action leads to a build error."
- OS and Version: Ubuntu 16.04
- VS Code Version: 1.34.0
- C/C++ Extension Version: 0.23.1

For simple code `test.cpp` below:
[code]
After I save my file, the "Format on save" function will remove the space in `vector<vector<int> > a;`, it become `vector<vector<int>> a;`.
If I use `$ g++ test.cpp`, I got an error below:
[code]
Whether it is a mistake, or it result from my wrong usage? Thank you ve

[2019-06-06 01:48] sean-mcmanus commented on #3734
This is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/3578 . See that issue for a workaround.

[2019-06-06 01:48] #3734 closed, assigned to nobody

[2019-06-06 02:58] jiayuqicz commented on #15
please install C++ Intellisense extention
it has been solved

you also have to install gnu-global，And run command “gtags” in the root of project.
1. download: http://adoxa.altervista.org/global/
2. add /bin to your PATH
3. run command "gtags" in the root of project.

![image](https://user-images.githubusercontent.com/6240102/59522074-647a0100-8f00-11e9-8401-ed2a85c251d2.png)

![image](https://user

[2019-06-06 04:36] fsaizwei commented on #15
shift+F12 still not working for me with intellisense?

[2019-06-06 06:03] rohitkotak opened #3735 "problem matcher for IAR toolchain"
- OS and Version: windows 10
- VS Code Version: 1.34.0
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): NA
- A clear and concise description of what the bug is: When ctrl-select on the compilation error/warning message on the terminal, it should navigate the window to that line of the file which causes the error/warning. But it is

[2019-06-06 06:09] ghost commented on #2971
Thanks ! Your help helped me !! Very well !

[2019-06-06 07:07] mgr-inz-rafal commented on #2266
Just got bitten by this issue after I switched from developing on the virtual machine to VSCode on Windows + WSL...

The workaround with "problemMatcher" and "fileLocation: relative" didn't help and I cannot play with the makefiles.

Hope there's gonna be some ultimate solution delivered in the future since this is really annoying :/

![image](https://user-images.githubusercontent.com/22395284/590

[2019-06-06 08:48] windless0530 commented on #15
me either

[2019-06-06 08:53] windless0530 commented on #15
Eager to use this feature. This is the only issue that stops me from switching to Code from CLion.

[2019-06-06 09:00] tejasvi commented on #3725
So is the feature more suited for vscode?

[2019-06-06 09:07] Gongyihang commented on #3718
"code-runner.executorMap": {
        "c": "cd $dir && clang '$fileName' -o '$fileNameWithoutExt.exe' -Wall -g -Og -static-libgcc --target=x86_64-w64-mingw -std=c11 && & '$dir$fileNameWithoutExt'",
        "cpp": "cd $dir && clang++ '$fileName' -o '$fileNameWithoutExt.exe' -Wall -g -Og -static-libgcc --target=x86_64-w64-mingw -std=c++17 && & '$dir$fileNameWithoutExt'"
},

and after I use ‘;’ to rep

[2019-06-06 09:18] Georacer commented on #3731
Sure! Here it is. Blurred out my username, though.

[code]

[2019-06-06 09:22] Georacer commented on #3731
Maybe this is what is wrong:
Even though in the intellisense configuration window, for the Include Path, I have spectified:
[code]
the `acado` folder isn't actually parsed recursively; note how the `/**` is omitted in the diagnostic log.
This makes me think that the actual headers (which reside deeper in the folder) are never actually loaded.

[2019-06-06 09:59] gdeban commented on #1235
@sean-mcmanus It is in fact falling back to an other compiler.
[code]
I was just messing around without properly setting up the compiler, so I'll have to get this done before I can get more information from the debug logging option. It will certainly solve my issues. Thanks for the help!

[2019-06-06 12:37] raiadi2008 opened #3736 "doesn't shows problem for cpp files"
Issue Type: <b>Bug</b>

The code editor doesn't reports any problem in the PROBLEMS section even if my code is wrong or i am using some undifined variable, how ever it does shows error for non-matching brackets and comma but not for the wrong code as used to do before, this problem probably arose after installing Python extension, but i am not very sure about it.

Extension version: 0.23.1
VS Code

[2019-06-06 17:05] michelleangela commented on #3736
@raiadi1999, can you verify if the issue also reproduces when the Python extension is disabled? Did you change any default settings for the C++ extension? Are there any file exclusion settings set by Python or VS Code in `settings.json` for the workspace scope or user scope?

[2019-06-06 17:17] pieandcakes commented on #3725
@tejasvi The feature needs to exist in the debugger (`gdb`, `lldb` etc) for us to be able to leverage it.

[2019-06-06 17:18] pieandcakes commented on #3718
@Gongyihang I don't know what you posted and why that is here in this post? you need to provide more information. Your comment has nothing to do with this issue.

[2019-06-06 18:20] raiadi2008 commented on #3736
uninstalling every single extension and then reinstalling intllisense and c/cpp extension worked fine for me. However just disabling the python extension does no fruitful help to me. but after doing the steps i mentioned above it started working fine even after installing python extension. Thanks for the help

[2019-06-06 18:20] #3736 closed, assigned to nobody

[2019-06-06 18:52] sean-mcmanus commented on #3971
We have a custom/different message for compile_commands -- looks like a custom message for custom config providers was just an oversight.

This is actually a bug with the C/C++ extension and not the API (https://github.com/microsoft/vscode-cpptools/issues) -- not sure if we should move it.

[2019-06-06 19:35] Quincunx271 opened #3737 "Don't automatically run IntelliSense on large files"
**Type: LanguageService**

**Description of the problem**

IntelliSense automatically runs even on large files, devouring memory until it is eventually killed.

- OS and Version: Ubuntu 16.04
- VS Code Version: 1.35.0
- C/C++ Extension Version: 0.23.1

**To Reproduce**

- Create a large cpp file, approximately 350,000 lines long.

  I did this by compiling the following with `-E` to produce a larg

[2019-06-06 20:04] sean-mcmanus commented on #3735
You would need to create a problem matcher that matches the errors output by your tool. We just ship a $gcc problem matcher. It probably belongs in a separate IAR extension and not the C++ extension.

[2019-06-06 21:39] adnandzebic commented on #3387
Can confirm same issue here..

[2019-06-06 21:51] adnandzebic commented on #3387
For now I am avoiding the default "msvc" setting for the mode by specifying "gcc-x64" or "clang-x64" in settings.json:

```"C_Cpp.default.intelliSenseMode": "gcc-x64"```

[2019-06-07 02:24] tejasvi commented on #3725
In that case, gdb [allows](https://sourceware.org/gdb/onlinedocs/gdb/Skipping-Over-Functions-and-Files.html) to skip certain files given their location. However, there is no way to specify using directories. But it is theoretically possible for vscode to not show the header and give an artificial step-into command to the debugger. Am I missing something?

[2019-06-07 02:34] rajesh-gali opened #3739 "Unable to attach to GDB server without exec_run"
I was trying to debug arm elf file using ocd GDB server and gdb debugger.
My scenario is that, I have to attach to the GDB server without download the binary files.
Eg:
1. Run the GDB Server (server listening at :1000 port)
2. gdb Image.elf
3. target remote :1000
4. symbol-file Image.elf

Is it possible to achieve above steps in VSCode?

My configuration is:

            "name": "(GDB) Attach",

[2019-06-07 09:40] rohitkotak commented on #3735
Below is my custom problem matcher:
[code]

I have attached compilation log with error.
[IAR_build_log.txt](https://github.com/microsoft/vscode-cpptools/files/3265330/IAR_build_log.txt)

Please have a look and let me know if I missed anything.

[2019-06-07 09:51] jugglingcats opened #3740 "Gdb problems resuming and terminating (WSL + FreeRTOS)"
**Describe the bug**
- OS and Version: Windows 10 Pro 1809 with Ubuntu WSL
- VS Code Version: 1.35.0
- C/C++ Extension Version: 0.23.1
- A clear and concise description of what the bug is

I am developing a FreeRTOS project under Linux (WSL). I have followed the steps to get basic compile and run working: https://code.visualstudio.com/docs/cpp/config-wsl.

When debugging I can set a breakpoint but

[2019-06-07 15:31] CelticMinstrel commented on #2230
It's not entirely clear from the opening post, but this issue is about making the outline hierarchical, right?

[2019-06-07 15:41] chuggafan opened #3741 "Code highlighting fails if casting to a certain syntax of pointer"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 latest
- VS Code Version: 1.35
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): Git lens (issue persists)
- A clear and concise description of what the bug is.
Color highlighting fails for the rest of the line if you cast like this:

[code]

For the rest

[2019-06-07 16:41] resk8 commented on #3335
Any updates on this issues?

[2019-06-07 16:51] bobbrow commented on #3614
@sean-mcmanus, are we still having problems with this?

[2019-06-07 17:08] pieandcakes commented on #3725
Thanks for pointing that out as I didn't know about the `skip` feature. The problem from our side is being able to determine whether or not the user wants to skip the code such as in the case of a user defined lib versus a `std` lib that are outside the workspace. I think if it was something the users could configure that would be great.

@tejasvi if you can try it by setting the option in `setupC

[2019-06-07 17:24] Colengms commented on #3741
Hi @chuggafan,

Currently, colorization is provided by VS Code.  It uses TextMate grammar to colorize.  You might get improved results with <a HREF="https://marketplace.visualstudio.com/items?itemName=jeff-hykin.better-cpp-syntax">this extension</a>.

We are actually in the process of implementing colorization based on IntelliSense, which we hope to include in the next release of the C/C++ extensi

[2019-06-07 18:51] sean-mcmanus commented on #3735
In your tasks.json, can you try adding the problem matcher?
[code]

@bobbrow Is this something we would be willing to accept a pull request for to add our built-in problem matchers? I don't know how many other users would benefit from this.

[2019-06-07 18:54] sean-mcmanus commented on #2230
@CelticMinstrel Hierarchical is one aspect, but other issues would be fixed as well via switching to the newer API that returns more info about symbol ranges, such as breadcrumbs.

[2019-06-07 19:07] sean-mcmanus commented on #3335
@resk8 It hasn't been resolved, but I heard that there will be "external changes" that are expected to enable our extension to fix this in the coming months (July?) -- I'm not sure if the change is publically disclosed though so I can't give more info, unless @bobbrow can find where he heard about it.

[2019-06-07 19:10] sean-mcmanus commented on #3614
@bobbrow I don't know. I assume so, since I never investigated it. I mark stuff as "investigate" when I want other people to investigate because I'm too busy.

[2019-06-07 19:56] Trevinlc1997 opened #3742 "String visualizer for text variables"
The same feature that visual studio has, as shown in this link https://docs.microsoft.com/en-us/visualstudio/debugger/string-visualizer-dialog-box?view=vs-2019

But it may not be a high demand feature. I personally want it to check formatting, etc.

[2019-06-07 20:04] bobbrow commented on #3335
It's this issue: https://github.com/microsoft/vscode/issues/23251.  It sounds like they plan to enable this soon, but I haven't confirmed with them as to whether they are on track to deliver it this month or not.  When this goes live we will no longer need to download our dependencies anymore.

[2019-06-07 20:28] michelleangela commented on #3742
This feature is not specific to C/C++ language and can benefit other languages. It may be better suited for VS Code to implement. Please file this feature request at VS Code's repro at https://github.com/microsoft/vscode/issues.

[2019-06-07 20:30] Trevinlc1997 commented on #3742
Alright thanks. I honestly can't tell which I should post to.

On Fri, Jun 7, 2019 at 3:28 PM Michelle Matias <notifications@github.com>
wrote:

[2019-06-07 20:39] michelleangela commented on #3742
@Trevinlc1997 , you're welcome.

Usually, any features or concerns specific or implemented by the Microsoft C/C++ extension should be posted on the [vscode-cpptools repo](https://github.com/microsoft/vscode-cpptools). For any general features or concerns not specific to any extensions or expected to ship as an in-box feature with VS Code client, should be posted on the [vscode repo](https://github

[2019-06-07 20:39] #3742 closed, assigned to nobody

[2019-06-07 20:49] pieandcakes commented on #3740
In your `gdb`, can you check your settings for SIGTRAP? From my Ubuntu machine, I have:
Command: `info signals`

SIGTRAP       Yes       Yes     No              Trace/breakpoint trap

[2019-06-07 21:17] WardenGnaw commented on #3739
Are you trying to attach to a process or launch a program, the name and type of your launch.json does not match.

Can you also share the output when you [enabled logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/FAQs.md#how-to-enable-logging)?

To skip the -exec-run command you can use [`launchcompletecommand`](https://github.com/microsoft/vscode-cpptools/blob/master/

[2019-06-07 22:16] michelleangela commented on #3664
<h3>Proposed changes to default path of IntelliSense cache path</h3>

We propose using the user directory as the new default IntelliSense cache path (see proposed new default path below). The proposed solution will, by default, reduce the disk space usage and alleviate implications on source control for users who have not configured the cache.

As part of this proposed change, the extension will a

[2019-06-07 22:21] michelleangela commented on #3664
Referencing issues

- .vscode caching too much data since update #3347
- Disable IntelliSense caching by default? #3616

[2019-06-08 03:42] CelticMinstrel commented on #2230
Oh yeah, I noticed when the new breadcrumbs showed up that it doesn't tell me which function I'm in.

[2019-06-08 07:19] dngo10 opened #3744 "Header capital not found"
Hi, the problem is cpp tools seems to find the folder, but it only shows headers with lower ".h" extension, but with not capital ".H"

Not sure how to fix.

![Screenshot from 2019-06-08 00-12-39](https://user-images.githubusercontent.com/34533770/59143761-ff179480-8982-11e9-8ee7-2ba3e929473c.png)

![Folder](https://user-images.githubusercontent.com/34533770/59143764-0474df00-8983-11e9-876f-28b902b

[2019-06-08 15:59] vakokako commented on #3733
@sean-mcmanus Yes, that'd be super helpful!

[2019-06-08 16:03] leosdad commented on #15
I don't think so

[2019-06-08 20:50] IIvexII commented on #647
thanks

[2019-06-08 20:54] ghost opened #3745 "I can't compile Visual Studio in linux."
I have added sqlite and zmq libraries. The code I wrote with zmq works when I compile it on the console. but the same code is not compiled in visual studio.  I'm leaving a picture of the error. I'll be happy if you can help me. thank you for giving a time.

![IMG-20190531-WA0002](https://user-images.githubusercontent.com/38009153/59152235-bcb88b00-8a48-11e9-839b-e1370b953262.jpg)

[2019-06-09 03:56] Victsz commented on #3145
@sean-mcmanus I dont really understand what  multi-root workspace means, my workspace structure is as below. And the files are corrupting frequently.

![image](https://user-images.githubusercontent.com/8154646/59154783-1bafeb80-8aad-11e9-8673-4f82fd598cae.png)

[2019-06-09 21:24] parkovski commented on #1770
This seems to have come up again... `_MSVC_LANG` should be `201703L` for C++17, but it is `201704L`, which causes C++20 features to show up in intellisense (see `yvals_core.h:230` - `#if _STL_LANG > 201703L`).

[2019-06-10 04:06] KentoNishi commented on #1660
I solved the issue by using @alan23273850's setup. Here is the full snippet, ready to copy-paste into launch.json's configurations!
[code]

[2019-06-10 11:44] Sharrp commented on #583
@alexgomes09 that's clever, thank you!

[2019-06-10 15:22] henaiguo opened #3746 "launch gdb error on wsl"
I'm a newer in vscode&wsl, and I get error when starting with this tutorial
[https://code.visualstudio.com/docs/cpp/config-wsl](https://code.visualstudio.com/docs/cpp/config-wsl)

The error is:
<img width="398" alt="image" src="https://user-images.githubusercontent.com/14122312/59205641-dfc47580-8bd5-11e9-907b-07674c7989d8.png">

My config files are:
<img width="663" alt="image" src="https://user-

[2019-06-10 16:35] bobbrow commented on #3347
Copying comment from #3664 here for all followers of this issue to see:

<h3>Proposed changes to default path of IntelliSense cache path</h3>

We propose using the user directory as the new default IntelliSense cache path (see proposed new default path below). The proposed solution will, by default, reduce the disk space usage and alleviate implications on source control for users who have not con

[2019-06-10 17:22] mday64 commented on #3664
In general, I like the proposal.

One minor nit: the name ".cpptools" is a bit generic; if I saw it in my home directory, I don't think I would realize it had anything to do with VSCode.  I already have a `~/.vscode` directory.  What about putting it inside there, say, `~/.vscode/cpptools`?  Or, if that's a problem for some reason, maybe `~/.vscode_cpptools`?

[2019-06-10 17:52] pieandcakes commented on #3745
The error you are getting is a debugging error which is saying that it is expecting for `gdb` to start the program `/home/utku/Desktop/.vscode/launch` but it can't find that executable. What program are you trying to debug? If it is `launch` can you run `file launch` in that directory and tell me what it says?

If you are trying to compile the code, I need to see your `cpp build active file` task

[2019-06-10 17:59] newbrain commented on #3347
Would it be possible to use an already existing, Code related, path?
On Windows, the path for most of the settings and some cached data is `%APPDATA%/Code` and would be a better choice (saving stuff directly in `%USERPROFILE%` is not IMHO very Windows-like).
For Linux (and I suppose Mac) we already have the `.config/Code` and `.vscode` directories.

[2019-06-10 18:42] ozbeka commented on #3042
I have the same issue. If I go into the _/tmp/Microsoft-MIEngine-Cmd-wn924gm2.kaq_ and swap the escaped double quotes here _...\"Superuser..._ and here _...Do you want to continue? [y/N]\"..._ with single quotes. I can call the command "env sh /tmp/Microsoft-MIEngine-Cmd-wn924gm2.kaq " succesfully. I think the temprorary script _Microsoft-MIEngine-Cmd-wn924gm2.kaq_ might be created with an error c

[2019-06-10 18:49] pieandcakes commented on #3042
@davidsgrogan @Thalley @ozbeka Your issue is different than the reported issue here. Theres a similar issue (https://github.com/microsoft/vscode-cpptools/issues/3711) that will track the sudo problem you are reporting.

[2019-06-10 18:49] pieandcakes commented on #3711
I get
[code]
until I press a key, then the terminal shows
[code]

I am using attach with an explicit process id, no selection dialog.

Same issue? Any workaround aside from running `sudo code .`?

_Originally posted by @davidsgrogan in https://github.com/microsoft/vscode-cpptools/issues/3042#issuecomment-480096784_

[2019-06-10 18:50] pieandcakes commented on #3711
I have the exact same problem as you @davidsgrogan

If you find a solution, please let me know.

_Originally posted by @Thalley in https://github.com/microsoft/vscode-cpptools/issues/3042#issuecomment-491822687_

[2019-06-10 18:50] pieandcakes commented on #3711
I have the same issue. If I go into the _/tmp/Microsoft-MIEngine-Cmd-wn924gm2.kaq_ and swap the escaped double quotes here _...\"Superuser..._ and here _...Do you want to continue? [y/N]\"..._ with single quotes. I can call the command "env sh /tmp/Microsoft-MIEngine-Cmd-wn924gm2.kaq " succesfully. I think the temprorary script _Microsoft-MIEngine-Cmd-wn924gm2.kaq_ might be created with an error c

[2019-06-10 19:08] sean-mcmanus commented on #3744
It's a bug (doesn't repro on Windows). I'm surprised it took so long for anyone to report this.

https://github.com/microsoft/vscode-cpptools/issues/3048 probably has the same root cause.

UPDATE: #3048 isn't fixed (different root cause).

[2019-06-10 19:35] sean-mcmanus commented on #3145
@Victsz Your issue could have a different cause. What is the [SSH: ...] next to the folder? It could be related to that. If you [enable debug logging](https://github.com/microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Enabling%20logging.md) and you can look to make sure a didOpen message is sent for the same folder that gets the format or if there's some other error going on.

[2019-06-10 19:38] sean-mcmanus commented on #1770
@parkovski This is a known issue, semi-tracked by https://github.com/microsoft/vscode-cpptools/issues/3448 . We are incorrectly forcing the C++17 version to C++latest, causing some C++20 behavior.

[2019-06-10 19:47] sean-mcmanus commented on #3664
I agree that ".cpptools" is too generic. Maybe we should use the full extension name "ms-vscode.cpptools".

[2019-06-10 20:48] bobbrow commented on #3347
Our extension doesn't own the `%APPDATA%/Code` folder so it wouldn't be right for us to dump stuff in there.

Our choice for the user folder was motivated by discoverability and the trend of cross platform tools increasingly putting configuration and cached stuff in this location.  (e.g. Android Studio, Cocos Creator, Atom, Gradle, and Conan - just to name a few).  But we could also consider putti

[2019-06-10 20:54] WardenGnaw commented on #3746
@HelloLucio That documentation is only for running and debugging your application remotely on WSL. To make it work with what you currently have, you will need to add `pipeTransport` to your `launch.json`.

If you wish to edit, compile, and debug under WSL, you should use [VS Code Remote - WSL](https://code.visualstudio.com/docs/remote/wsl).

[2019-06-10 21:11] mday64 commented on #3347
(I mentioned this in #3664, too.)  How about you create a `cpptools` directory inside the `~/.vscode directory` (the one where your installed extensions go)?  That keeps the VSCode-related stuff together.  Sorry, I don't know what that would look like on Windows.

[2019-06-11 06:52] mgr-inz-rafal commented on #2266
Hi,
I can now navigate to the correct line from the **Problems** tab by using the following matcher:

[code]

But still, when I scroll through the **Terminal** and I do the Ctrl+Click on an error, Visual Studio opens the correct file, but the cursor stays on the 1st line, not the one mentioned in the error.

The exemplary error message looks like this:
`/home/rafal/Software/App/src/camera/ctrl.cpp

[2019-06-11 10:10] pedro-w commented on #3347
I would say that it's better to follow the platform-specific guidelines (see for example [what Chrome does](https://chromium.googlesource.com/chromium/src/+/master/docs/user_data_dir.md)) but doing what other VSCode extensions are doing is also a precedent for you. Tricky. At least it might be sensible to use a more specific directory name ( `.vscode.cpptools` ?) as your suggestion might not be ob

[2019-06-11 10:32] sparshgoyal2014 commented on #2546
hey!..plz help me i have the same problem ...i tried very much ...i also tried by enabling the options but these don't work for me..

[2019-06-11 11:16] tionebrr commented on #3725
Yes please ! A documented guidance would be absolutely great.
Following.

[2019-06-11 12:36] z7z8th commented on #2664
still not working.

[2019-06-11 13:19] henaiguo commented on #3746
@WardenGnaw It works, thanks!

[2019-06-11 13:19] #3746 closed, assigned to WardenGnaw

[2019-06-11 13:45] Wid-Mimosa opened #3748 "Cannot debug c++ using gdb in Windows10, version 1903"
- OS and Version: win 10 1903
- VS Code Version: 1.35.0
- C/C++ Extension Version:0.23.1
- Other extensions you installed (and if the issue persists after disabling them):code runner 0.9.10
- A clear and concise description of what the bug is.
Recently I update the windows to version 1903, then this problem occurs.
I can use gdb to debug my program and use g++ to compile my program in windows cmd.

[2019-06-11 15:18] daldr-ntml opened #3749 "Problem configuring MSVC compiler - red squiggles"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 1803
- VS Code Version: 1.35.0
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them): CMake Integration

I have created a new project to build a single .cpp file using CMake and the Visual Studio 2017 compiler.  Build succeeds using CMake but vscode-cpptools is

[2019-06-11 15:23] bobbrow commented on #3735
Based on the [documentation](https://code.visualstudio.com/Docs/editor/tasks#_defining-a-problem-matcher) it doesn't seem like you need the first two regexp's.  Can you try removing them and see if it still works for you?  If so, we can add this to our `package.json`.

[2019-06-11 15:50] npatel99 opened #3750 "Extension downloading"
Issue Type: <b>Bug</b>

I install vscode version 1.35.0 in my ubuntu OS and also install extension. But when I am trying to open my c/c++ code in VScode then in terminal some packages are trying to download automatically and it is showing "Downloading package 'C/C++ language components (Linux / x86_64)'  Failed. Retrying....."
please tell me what to do..?

Extension version: 0.23.1
VS Code version

[2019-06-11 16:32] daldr-ntml commented on #3749
Perhaps I have misunderstood. Do the red squiggles indicate errors reported by the CMake generator?

[2019-06-11 17:37] michelleangela commented on #3664
Based on the feedback posted so far, the request is for the name to show that the folder is related to VS Code as well as the extension cpptools. Is this correct?

[2019-06-11 18:13] WardenGnaw commented on #3750
You may want to grab the cpptools-linux.vsix [offline installer](https://github.com/microsoft/vscode-cpptools/releases) for the vscode-cpptools extension. You will want to go to the debug tab and use the `install from vsix...` selection from the dropdown.

[2019-06-11 18:17] sean-mcmanus commented on #3749
Please provide the text of the error squiggles so we can determine the source (in the Problems window).

[2019-06-11 18:36] sean-mcmanus opened #3751 "$gcc problem matching not working with WSL"
Just got bitten by this issue after I switched from developing on the virtual machine to VSCode on Windows + WSL...

The workaround with "problemMatcher" and "fileLocation: relative" didn't help and I cannot play with the makefiles.

Hope there's gonna be some ultimate solution delivered in the future since this is really annoying :/

![image](https://user-images.githubusercontent.com/22395284/590

[2019-06-11 18:37] sean-mcmanus commented on #3751
@mgr-inz-rafal -- the issue you originally posted to seemed unrelated. The problem matcher is open source if anyone wants to contribute a fix. You can also overwrite most of the fields in your task.json.

[2019-06-11 19:23] mgr-inz-rafal commented on #3751
OK, thanks for creating the separate issue. Earlier today I fiddled a little bit with different regex patterns set manually in `tasks.json` but with no luck.

[2019-06-11 19:54] bobbrow commented on #3664
Combining suggestions from this thread with the other one, how does this sound?

#### Windows
`%LocalAppData%\vscode-cpptools`

#### Linux/macOS
`~/.vscode-cpptools`

[2019-06-11 19:55] bobbrow commented on #3347
Combining suggestions from this thread with the other one, how does this sound?

#### Windows
`%LocalAppData%\vscode-cpptools`

#### Linux/macOS
`~/.vscode-cpptools`

[2019-06-11 20:36] Friday32 opened #3753 "[Windows] Problem re-attaching to a running process with GDB"
Type: Debugger
- GDB 7.6.1
- OS and Version: Windows 10
- VS Code Version: 1.35.0
- C/C++ Extension Version: 0.23.1

I'm working on an extension that adds company specific functionality for C/C++ code.  It uses cpptools to attach to a running process .

My testing scenario.
1. Launch VSCode and open my extension project.
2. Run a debug session for the project that launches another instance of VSCo

[2019-06-11 22:32] rajesh-gali commented on #3739
I am trying to attach to a GDB server/port (not process) . Consider there is an micro-controller with an application running and a JTAG/OCD GDB servers are running. And I was trying to connect to micro-controller running application via GDB server.

In this case we do not want to download or restart the application again all we need is load the symbol file and connect to GDB server using "target r

[2019-06-11 22:34] michelleangela commented on #3664
The other default path option for **Windows** can be `%LocalAppData%\Microsoft\vscode-cpptools` to further indicate that this folder and its contents is from a Microsoft component.

We would like to hear your feedback on any preference.

[2019-06-11 22:35] michelleangela commented on #3347
The other default path option for **Windows** can be `%LocalAppData%\Microsoft\vscode-cpptools` to further indicate that this folder and its contents is from a Microsoft component.

We would like to hear your feedback on any preference.

[2019-06-12 00:28] z7z8th commented on #511
can't switch to child process in VS code version 1.34.0

[2019-06-12 00:36] z7z8th commented on #511
Also, can't switch to child process in VS code version 1.35.0

[2019-06-12 01:29] #3748 closed, assigned to nobody

[2019-06-12 01:31] Wid-Mimosa opened #3754 "Problem debugging c/c++ in windows10 ver 1903"
Type: Debugger
**Input information below**

- OS and Version: win 10 1903
- VS Code Version: 1.35.0
- C/C++ Extension Version:0.23.1
- Other extensions you installed (and if the issue persists after disabling them):code runner 0.9.10

A clear and concise description of what the bug is.
Recently I update the windows to version 1903, then this problem occurs.
I can use gdb to debug my program and us

[2019-06-12 06:01] ArcherLew opened #3755 "C_Cpp.clang_format_sortIncludes dosn't work"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows7x64
- VS Code Version: 1.35.0
- C/C++ Extension Version: 0.23.1
- Other extensions you installed (and if the issue persists after disabling them):
  C/C++ Clang Command Adapter, Code Runner, Noctis
- A clear and concise description of what the bug is.
I set "C_Cpp.clang_format_sortIncludes" to false ,but when i press alt+shi

[2019-06-12 06:04] rohitkotak commented on #3735
There is no impact whatever I change into the problemMatcher. When I ctrl+click on error message on TERMINAL, it navigates me to the first line of that file only.

Also, I verified on link [https://regex101.com/] that this regexp is correct to parse the correct line number.

[2019-06-12 06:44] jeff-hykin commented on #3741
Temp fix was created just now on `v1.11.7` of the extension. There's likely a similar case with enums that will probably get fixed sometime this weekend.

[2019-06-12 06:44] mxdh opened #3756 "C/C++ cannot mark the wrong declaration order"
Issue Type: <b>Bug</b>

[code]

C/C++ should report an error because `fa` is not declared

Extension version: 0.23.1
VS Code version: Code 1.35.0 (553cfb2c2205db5f15f3ee8395bbd5cf066d357d, 2019-06-04T01:17:12.481Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6500 CPU @ 3.20GHz (4 x 3192)|
|GPU Status|2d_canvas:

[2019-06-12 09:11] daldr-ntml commented on #3749
The errors are:

`#include errors detected. Please update your includePath. Squiggles are disabled for this translation unit (C:\SVNProj\<snip>\trunk\Software\Prototypes\CPlaneTest\CPlaneTest.cpp).`

`cannot open source file "windows.h" (dependency of "C:\SVNProj\<snip>\trunk\Software\Prototypes\CPlaneTest\CPlaneTest.cpp")`

I thought it wasn't necessary to specify system include paths for MSVC pr

[2019-06-12 11:49] ridoy19 commented on #1329
Really, Microsoft should put your answer in front line 💯

[2019-06-12 13:48] yamcenutzer commented on #296
I agree this is a missing feature.

However, for this to work, you need 'find all references', aka #15 first, no?
Otherwise you would be renaming the wrong things. no?

SO, in my order of importance:
1. find all references
2. renaming (the found references)

since 'find all references' is also 3 years+ old, and currently scheduled for this month, I see light at the end of the tunnel.

[2019-06-12 17:20] bobbrow commented on #3749
@DavidA2014, can you add the "windowsSdkVersion" property to your configuration?  It seems to be missing.

For example:
[code]

[2019-06-12 17:49] bobbrow commented on #3735
Can you try this one instead?  `.*` can give unpredictable results so I try to use `[^]` instead when possible.

[code]

[2019-06-12 17:52] bobbrow commented on #3755
Capital 'F' comes before lower-case 'a'.  This could be a clang-format issue.  The sorting may be case-sensitive.  What happens if you use lower-case letters for `GLFW`?

[2019-06-12 19:22] sean-mcmanus commented on #3756
I've filed VS bug https://developercommunity.visualstudio.com/content/problem/605076/cc-cannot-mark-the-wrong-declaration-order.html . However, from what I understand it may be a "by design" limitation of the implementation, so I do not expect it to get fixed.

[2019-06-12 21:08] sean-mcmanus commented on #2266
@mgr-inz-rafal You have to change the pattern to something like
[code]
to get rid of the missing "severity" in the input. You could also override the default "severity" if you want.

[2019-06-12 21:10] sean-mcmanus commented on #2546
@sparshgoyal2014 Did you open a workspace or folder?

[2019-06-12 21:15] pieandcakes commented on #3753
Which distribution (mingw/cygwin/msys2) are you using?

This is a known problem that we haven't been able to solve. At the bottom of the disconnect request you'll notice we send `-exec-interrupt` and there isn't anything else. this is because async break into the `gdb` process on Windows currently requires user interaction. We time it out and the UI looks like it disconnects, but you can verify th

[2019-06-12 21:23] michelleangela commented on #2215
We need more information to further investigate this issue.

If you update to the latest version of the extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-06-12 21:23] #2215 closed, assigned to nobody

[2019-06-12 21:27] michelleangela commented on #1938
Closing this issue.

If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-06-12 21:27] #1938 closed, assigned to nobody

[2019-06-12 21:27] michelleangela commented on #2222
Closing this issue.

If you update to the latest version of the C/C++ extension and your issue still persists, please re-open the issue and reply with additional information that can help us investigate your issue.

[2019-06-12 21:27] #2222 closed, assigned to nobody

[2019-06-12 21:28] michelleangela commented on #306
Closing this issue as the last response is more than a year old.

[2019-06-12 21:28] #306 closed, assigned to nobody

[2019-06-12 21:31] michelleangela commented on #1024
Closing this issue as the last response is more than a year old.

[2019-06-12 21:31] #1024 closed, assigned to nobody

[2019-06-12 21:31] michelleangela commented on #1111
Closing this issue as the last response is more than a year old.

[2019-06-12 21:31] #1111 closed, assigned to nobody

[2019-06-12 21:32] michelleangela commented on #1166
Closing this issue as the last response is more than a year old.

[2019-06-12 21:32] #1166 closed, assigned to nobody

[2019-06-12 21:34] michelleangela commented on #1516
Closing this issue as the last response is more than a year old.

[2019-06-12 21:34] #1516 closed, assigned to nobody

[2019-06-12 21:34] michelleangela commented on #1606
Closing this issue as the last response is more than a year old.

[2019-06-12 21:34] #1606 closed, assigned to nobody

[2019-06-12 21:34] michelleangela commented on #1624
Closing this issue as the last response is more than a year old.

[2019-06-12 21:34] #1624 closed, assigned to nobody

[2019-06-12 21:35] michelleangela commented on #1720
Closing this issue as the last response is more than a year old.

[2019-06-12 21:35] #1720 closed, assigned to nobody

[2019-06-12 21:35] michelleangela commented on #2076
Closing this issue as the last response is more than a year old.

[2019-06-12 21:35] #2076 closed, assigned to nobody

[2019-06-12 21:47] WardenGnaw opened #3758 "Windows remoteProcessPicker does not work"
When F5'ing a launch.json that is configured to use remoteProcessPicker on windows, it will fail to send the script correctly and return a `....` command not found.

[2019-06-12 22:06] #3758 closed, assigned to WardenGnaw

[2019-06-12 22:08] FriskyDev opened #3759 "Ctrl+Shift+B -> cl.exe build active file -> CRASH"
Issue Type: <b>Bug</b>

1. Create  a folder
2. Add hello world code

[code]

3. Type Ctrl+Shift+B
4. Select "C/C++: cl.exe build active file"
5. Watch the BOOM

Extension version: 0.23.1
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T15:16:14.389Z)
OS version: Windows_NT ia32 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Inte

[2019-06-12 22:10] FriskyDev commented on #3759
![image](https://user-images.githubusercontent.com/1686727/59389806-2c1dcb80-8d24-11e9-82ac-c53725d5fd09.png)

[2019-06-12 22:15] FriskyDev commented on #3759
So, apparently this is caused by opening the Terminal window. Right after I filed this, I reloaded so that I could cl.exe from the command line, and when I `` Ctrl+` ``, or `View -> Terminal Window`, I get the same crash as above.

Note, this is a brand new fresh install of 19H1, followed by a fresh install of VS Code, followed by a fresh install of Visual Studio 2019 Community (C++ parts only, of

[2019-06-12 22:19] sean-mcmanus commented on #3759
For cl.exe, you need to launch Code from the VS developer command prompt or you should get an error message from us.

I'm not able to repro the crash, but it sounds like a VS Code bug. Our extension normally should not be able to cause a "The window has crashed" result.

[2019-06-12 22:33] sean-mcmanus opened #3760 "Default build tasks (Ctrl+Shift+B) should not use the compilerPath if it's invalid"
It should use the "knownCompilers" instead. The Build and Debug Active File command behaves correctly.

This is when an old c_cpp_properties.json has an old compilerPath set to a non-existent file (e.g. old cl.exe path).

[2019-06-12 23:52] sean-mcmanus commented on #3664
@michelleangela The browse.databaseFilename was not changed to use the same default location...should a new issue be created for that?

[2019-06-13 00:02] sean-mcmanus commented on #3460
Fixed via https://github.com/microsoft/vscode-cpptools/pull/3651 and https://github.com/microsoft/vscode-cpptools/pull/3738 .

[2019-06-13 00:14] michelleangela commented on #3664
We should create a new issue for that. This thread was for IntelliSense cache path.

[2019-06-13 00:32] sean-mcmanus opened #3762 "Change the default databaseFilename to "~/.vscode-cpptools/<workspaceStorage-GUID>" instead of ${workspaceStorage}"
I hope you can combine intelliSenseCachePath and cpptools database storage path to be one path which name may be “cpptoolsStoragePath”. And then you can add subfolders for intelliSenseCache and db storage path. If so, we just need to set this path 'cpptoolsStoragePath'.
It's strange to set database filename instead of database storage path.

Such as:
If I don't set cpptoolsStoragePath,it's like th

[2019-06-13 02:03] FriskyDev commented on #3759
Agreed. It looks like opening the terminal window is actually the culprit. I suspect the first thing that happens is that a terminal windows is opened. Doing this by itself crashes VS Code in the same way.

In running this repro several times, at one point I did see the message that you must be running from a command prompt (which is normally how I roll). When I opened a developer prompt and opene

[2019-06-13 02:03] #3759 closed, assigned to nobody

[2019-06-13 04:52] feijie825 commented on #3731
How can I make it appear again when I disable these squiggles?

[2019-06-13 08:44] daldr-ntml commented on #3749
@bobbrow, thanks for your reply. I have added that line but it makes no difference.

    {
        "configurations": [
            {
                "name": "Release",
                "includePath": [

                ],
                "defines": [
                ],
                "browse": {
                    "limitSymbolsToIncludedHeaders": true,
                    "databaseFilename": "${w

[2019-06-13 08:51] aeschli opened #3764 "Switch to header file opens file in a different editor."
VSCode Version: VSCode insider 1.36.0-insider
Local OS Version: Windows 10 1803
Remote OS Version: WSL ubuntu 16.04
Remote Extension/Connection Type: WSL
Steps to Reproduce:

From https://github.com/microsoft/vscode-remote-release/issues/666#event-2408627629

Prepare a C project, e.g. example, with lib.c and lib.h. And put it in a windows folder. Make sure it can be accessed through /mnt/c/somePat

[2019-06-13 08:52] aeschli commented on #3764
I tried to reproduce, but wasn't able. Switch to header file is contributed by the cpp extension. Maybe there's something special in that code. Moving to the cpp extension.

@sean-mcmanus If you can point me to the code then I can see if there's something problematic there.

[2019-06-13 13:10] ArcherLew commented on #3755
That works ! when i use "glfw/glfw3.h", resorting do not happen again ! Thanks a lot !

[2019-06-13 13:10] #3755 closed, assigned to nobody

[2019-06-13 13:50] Friday32 commented on #3753
The package I am using, repository version 2013072300, comes from running mingw-get downloaded www.mingw.org .

It sounds like using a another distribution that has a newer version of gdb won't help, since it's a known problem without a resolution.

I'm wondering if it's possible to hook into the detach method of the debug taskbar and extend the functionality to kill gdb. It's not ideal but is bet

[2019-06-13 16:58] bobbrow commented on #3749
Oh, hang on, you're using CMake Tools to provide the configuration.  Do you have `C_Cpp.default.configurationProvider` set to `vector-of-bool.cmake-tools`?  It's not in your configuration, so I wasn't expecting that.  When another extension provides the configurations, `c_cpp_properties.json` is not used.

Did you select a compiler "Kit" in CMake Tools?  It appears that it is not providing correct

[2019-06-13 17:03] Georacer commented on #3417
I'd like to report this as well.
Having
[code]
in my `settings.json` has no effect when IntellisenseEngine is enabled;
While creating comment blocks with the Doxygen documentation generator extension, an extra `*/` is appended below the autogenerated `*/` closing comment.

[2019-06-13 17:26] daldr-ntml commented on #3749
@bobbrow Sorry, I should have told you that I'm using CMake, but I didn't realise there was a dependency on your extension. I'm actually using the 'CMake Integration' extension (if you think I could make a better choice please tell me).  The settings.json file of my root folder contains:

    {
        "C_Cpp.intelliSenseEngine": "Default",
        "C_Cpp.default.configurationProvider": "go2sh.cma

[2019-06-13 17:42] bobbrow commented on #3749
Oops.  I read your log wrong.  I'm not very familiar with the "CMake Integration" extension.  This appears to be an issue with that extension.  I would recommend you [open an issue in their repo](https://github.com/go2sh/cmake-integration-vscode/issues).