[2020-07-11 23:47] GoaLitiuM opened #5763 "Add support for "Just My Code" debugging"
Visual Studio debugger supports skipping source files during Step In operations by reading the non-user code filters from `*.natjmc` and `*.natstepfilter` files under ``C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\Packages\Debugger\Visualizers`` folder when Just My Code is enabled in VS settings. The debugger bundled with the VSCode extension comes with a similar folder, b

[2020-07-12 10:20] SulthanNK opened #5764 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.28.3`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.47.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Sulthan\ms-vscode.cpptools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-

[2020-07-12 10:22] #5764 closed, assigned to nobody

[2020-07-12 10:22] SulthanNK opened #5765 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `cpptools`
- Extension Version: `0.28.3`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.47.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-07-12 14:43] LezendarySandwich opened #5766 "I was facing issues in getting squiggles when I copied bigger code. Normally it worked fine. I am not sure what went wrong"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including information about the workspace (i.e. is the workspace

[2020-07-12 20:07] TheJCAB opened #5767 "Option to remove intellisense errors from the problems window"
Hi! Due to [an issue I'm having with CMake tools similar to 4350](https://github.com/microsoft/vscode-cpptools/issues/4350) (and also another proprietary extension that also feed data to C/C++ intellisense), I'm experiencing a very frequent barrage of intellisense errors whenever I open files. All these errors go into the problems pane/window and obfuscate (mix with) the real compilation errors th

[2020-07-12 20:33] IGHMC-Reg opened #5768 "Extension issue"
CPP Tools showing as unresponsive and VSC very slow editing a medium (ish) project
- Issue Type: `Bug`
- Extension Name: `cpptools`
- Extension Version: `0.28.3`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.47.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-07-12 20:45] TheJCAB commented on #4350
I'm having an identical problem. I do have a .vscode\settings.json, which includes:

"C_Cpp.default.configurationProvider": "ms-vscode.cmake-tools"

(no longer vector-of-bool :), but otherwise the same solution @astraujums detailed)

So this might be a completely different issue.

The project is vanilla CMake, with MSVC 2019 16.7 as the toolset. The symptom is identical. Building works great, but

[2020-07-12 21:13] sslupsky opened #5769 "colourization not working"
**Type: LanguageService**
Since release of 0.29.0-insiders2, colourization stopped working

**Describe the bug**
Version: 1.47.0
Commit: d5e9aa0227e057a60c82568bf31c04730dc15dcd
Date: 2020-07-09T08:01:54.115Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 18.7.0

colourization of macros, types and dimming has stopped working.

I have restarted vscode

[2020-07-12 21:20] sslupsky commented on #5769
I should also note that when I mouse over the macros, they appear in the popup.  If I right click on them and Go To Definition, the source file opens.  So, it appears Intellisense is working.

I am using compileCommands.json.  Here is the log diagnostics for the file selected in the above screenshots:
[code]

[2020-07-13 00:28] Michanne commented on #1046
I get this issue when trying to add a WSL-created directory as an include path. Create any directory from WSL and try to use it as an include path, giving the error:

`Unable to retrieve file system information for xxx. error = -1`

The directory works fine, is not corrupted, files can be accessed as normal from the file explorer as well as VSCode, but completely breaks the Intellisense apparently

[2020-07-13 09:22] idealvin opened #5770 "C++ std::unordered_map insert std::pair bug"
**Type: LanguageService**

**Describe the bug**
- OS and Version: win10, Windows_NT x64 10.0.18362
- VS Code Version: 1.47.0 (system setup)
- C/C++ Extension Version: v0.29.0-insiders2

**Code**
[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/12691466/87288218-a3c4b800-c52d-11ea-9aa5-67aee525bb44.png)

[2020-07-13 09:45] gvcallen commented on #5762
Not yet. For me, it is crucial to be able to change the colors of individual variables etc. It changes things such as how I name my variables, coding efficiency etc. Would love a resolution to this

[2020-07-13 09:52] JON95Git commented on #5762
Well, I tried many things. For me, just changing theme resolved this. I used to code using "Dracula Dark Vibrant" theme. When I changed to another theme, my variable color setting was applied.

[2020-07-13 12:25] mrmarkuese commented on #429
+1 For this

[2020-07-13 15:39] justinkb commented on #5456
Running into this as well. Did some digging, the issue seems to be that there isn't even a MAIN.ipch generated, so I'm guessing the process fails entirely, instead of producing a bad intellisense cache. Any pointers on how to debug the process generating that cache file?

edit: think I narrowed this down to do the following:

If cmake tools provides the c++ configuration, https://github.com/micros

[2020-07-13 18:05] Colengms commented on #5762
Hi @gvcallen , @JON95Git .  Thanks for reporting this.  We recently switched to VS Code's Semantic Tokens API for our semantic colorization.  While we should be able to maintain backwards compatibility with our old token scopes, some of those mappings were missing.  This should be fixed in the next release (or when 0.29.0 is released).

[2020-07-13 18:12] Colengms commented on #5769
Hi @sslupsky .  I believe you are seeing an issue with IntelliSense not working, not semantic colorization specifically.  Note in your diagnostics output it indicates, "not ready", which implies that we haven't received a response from the IntelliSense process yet.  Hover and Go To Def can work without IntelliSense results.  Could you provide log output, using `"C_Cpp.loggingLevel": "Debug"`, from

[2020-07-13 18:17] Colengms commented on #5770
Hi @idealvin .  I'm not able to easily repro this.  Since there is no error indicated when you hover, is it possible this red squiggle is due to a failed prior compilation?  Errors reported by a problem matcher (from compiler output) will linger until the next attempt to compile.

What is listed in your 'Problems' output?

Can you post your configuration (compilerPath, etc.)?

[2020-07-13 18:24] sean-mcmanus opened #5772 "clang-arm mode can cause missing system headers if --target isn't used for clang compilers"
We use hard-coded default --target values for clang-arm (and clang-arm64) which may not cause the compiler to exclude the system headers (e.g. on Raspberry Pi 3 with a "triplet" target armv6k-unknown-linux-gnueabihf).

We should try to get a correct --target via launching the compiler with --version and checking for something like `Target: <triplet>`.

The user workaround is to manually add the "-

[2020-07-13 18:25] michelleangela commented on #5766
@LezendarySandwich
Could you provide more information about the issue by filling out the "bug template" questions and adding [logs from the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server))?

[2020-07-13 18:26] bobbrow commented on #5767
You can try using the problem filters to only show the errors coming from the compiler.

![image](https://user-images.githubusercontent.com/12818240/87339380-5d566580-c4fb-11ea-80ff-02eda3cc9e4a.png)

As opposed to:

![image](https://user-images.githubusercontent.com/12818240/87339419-6d6e4500-c4fb-11ea-8c4e-509720d128c3.png)

There is a feature request open on the vscode team to enable filtering

[2020-07-13 18:29] michelleangela commented on #5768
@IGHMC-Reg
Could you provide information about the issue? About how many files is a medium project?

Could you also collect [logs from the language server](https://code.visualstudio.com/docs/cpp/enable-logging-cpp#_enable-logging-for-the-language-server)) while reproducing the issue?

[2020-07-13 18:30] bobbrow commented on #5706
I corrected the typo.

[2020-07-13 18:34] michelleangela commented on #5765
@SulthanNK
Could you provide more information about the issue the extension is having? Or was this issue auto-generated?

[2020-07-13 18:36] idealvin commented on #5770
Hi @Colengms . This is my config:

[code]

[2020-07-13 18:48] SulthanNK commented on #5765
I just open this issue from the VS Code, what kind of information that you need?  @michelleangela

[2020-07-13 19:15] michelleangela commented on #5765
Could you fill out our bug template form below:

**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including inform

[2020-07-13 19:30] IGHMC-Reg commented on #5768
Hi Michelle

Thank you for following up, I'm refactoring 'Marlin' which is available on GitHub if you are looking for more details but the folder properties shows 6,6561 files, 462 folders for a total of 249MB.

However I'm only working with a tiny subset: its on an Atmega variant of Arduino and I have about half a dozen files open at a time, its against one of the relatively larger files that I'v

[2020-07-13 19:30] michelleangela opened #5773 "Support direction (or "['dir']") optional attribute of Doxygen \param"
Feature requested on Visual Studio at https://developercommunity.visualstudio.com/t/support-dir-optional-attribute-of-doxygen-param/1112281

**Feature details:**
This is a feature request to support parsing of the direction (or **‘[‘dir’]’**) optional attribute of the Doxygen command **\param '[‘dir’]'**

Information about the direction or “dir” attribute:
https://www.doxygen.nl/manual/commands.ht

[2020-07-13 19:33] michelleangela commented on #5706
Created a feature request on Visual Studio to support **'['dir']'** of command Doxygen `\param` so that `[in]` or `[out]` are also parsed.
https://developercommunity.visualstudio.com/content/problem/1111522/support-dir-optional-attribute-of-doxygen-param.html.

GitHub issue that's tracking request:
https://github.com/microsoft/vscode-cpptools/issues/5773

[2020-07-13 19:43] michelleangela commented on #5706
The fix for this is in progress and will be included in release of 0.29.0.

[2020-07-13 19:44] IGHMC-Reg commented on #5768
Hi again Michelle

I realised the first file I sent wasn't at debug level, here's two examples, one whilst the problem is being observed and one after vscode is freshly opened and the workspace is loading

Regards
Greg

________________________________
From: Reg Migrant <regmigrant@hotmail.com>
Sent: 13 July 2020 20:30
To: microsoft/vscode-cpptools <vscode-cpptools@noreply.github.com>; microsoft/v

[2020-07-13 20:13] mjohngreene commented on #4523
@pieandcakes I am having trouble getting a GDB session going.  I do not want to pass any executable arguments and, therefore, my launch.json has

`"args": []`

However, this generates a strange output on the Debug Console:

`1: (150) LaunchOptions  ExeArguments='2&gt;CON 1&gt;CON &lt;CON'`

which leads me to think it might be related to the "Windows Unicode Beta" feature you alluded to above.  I h

[2020-07-13 20:27] bobbrow opened #5774 "Investigate issue with mk_errinfo ordering issue"
This is causing build issues in our pipelines periodically

[2020-07-13 20:28] bobbrow opened #5775 "language server improvements"
Onboarding more of the common components from VC++ into the extension.  This specifically tracks the onboarding of cross platform IntelliSense system, queues, and work items.

[2020-07-13 21:09] sean-mcmanus opened #5776 "compilerArg isn't used if compilerPath isn't explicitly set"
I wanted to add a compilerArg (using the existing default CompilerPath), but it didn't get used until I explicitly added the compilerPath.

[2020-07-13 21:17] sean-mcmanus commented on #5776
Or it should give some sort of warning that the compilerPath is required to be explicitly added.

[2020-07-13 21:27] sean-mcmanus commented on #5744
Yes, we include snippets and go to definition support.

[2020-07-13 21:30] sean-mcmanus commented on #1046
@Michanne Are you using WSL2? Are you using the Remote - WSL extension to the connect? That is the recommended method.

[2020-07-13 22:44] Colengms commented on #5770
Hi @idealvin . Your config looks fine.  Since there was not an error indicate when hovering, it's not yet clear to me what the squiggle is for, or if it's coming from the cpptools extension.

Can you provide the content of the "Problems" panel?  If should list the issue associated with that squiggle.

[2020-07-14 02:34] idealvin commented on #5770
@Colengms

[code]

[2020-07-14 05:22] Colengms commented on #5770
@idealvin Sorry, I didn't recognize the localized text.

I'm not certain whether the squiggle is invalid or due to the MSVC standard library headers not being error-free if compiled with C++11.  But, since CL.exe does not support earlier standards than C++14, I believe you will want to set `cppStandard` to at least `c++14`.  That appears to remove the squiggle.

https://docs.microsoft.com/en-us/cp

[2020-07-14 05:36] Colengms opened #5777 "Promote, warn or disallow if language standard version is not supported by the compiler"
For recent versions of CL.exe, the minimum supported language standard version is C++14.

https://docs.microsoft.com/en-us/cpp/build/reference/std-specify-language-standard-version?view=vs-2019

Similarly, older versions of compilers would not support newer language standards.

Perhaps if a language standard version is specified that is not supported by the compiler, it should be promoted to one t

[2020-07-14 05:41] idealvin commented on #5770
Hi @Colengms
I set the cppStandard to c++14 and it works well now. Thanks.

[code]

[2020-07-14 05:42] #5770 closed, assigned to nobody

[2020-07-14 07:59] BillDenton commented on #5773
Ensure "[in.out"] and not having "[dir]" is supported.

[2020-07-14 17:35] pieandcakes commented on #4523
@mjohngreene That line you are referencing is the console redirection flags we need to pass the debuggee to get the output to show up in the integrated terminal. @WardenGnaw  to help find out why gdb isn't starting.

[2020-07-14 17:36] nurquhar commented on #429
+1 remote SSH Jetson NX (arm64)

[2020-07-14 17:50] Adobe-Android commented on #2908
I still think that clang-tidy support should be added as a first-party feature, but it looks like progress has been made in this space. I'm happily using the following extension: https://marketplace.visualstudio.com/items?itemName=notskm.clang-tidy

[2020-07-14 17:53] mjohngreene commented on #4523
Thanks, @pieandcakes.  I appreciate the feedback.  The problem was not related to the issue I highlighted, though.  Apologies for the confusion.

[2020-07-14 19:33] thewirv commented on #5497
I have the same problem using MSVC pipeline on Windows. Using the external console works just fine, but when trying to use the integrated one, it doesn't even print the first `cout` statement.
And btw, without any `cin` statements, everything also works perfectly fine in the integrated console.

Versions:
* OS: Windows 10 Pro 64-bit, Version 2004 (OS Build 19041.329)
* VS Code: 1.47.1
* C/C++ Exte

[2020-07-14 21:51] michelleangela opened #5778 "Symbol search by "#" on Mac cannot find all matched items"
**Type: LanguageService**

**Describe the bug**
Searching symbols by "#" in command palette cannot file all of the matched items. Seems to be an issue on Mac.

Found by internal testing.

[2020-07-14 22:06] michelleangela opened #5779 "Document format doesn't work after adding .clang-format to Linux"
**Type: LanguageService**

**Describe the bug**
After adding .clang-format to Linux, document format doesn't work. See attached gif.
![test_VSCode](https://user-images.githubusercontent.com/38734287/87481135-98cc5f00-c5e3-11ea-8738-8f2afba7d898.gif)

**Expected behavior**
When .clang-format is added to project folder and used for document formatting, formatting should work.

[2020-07-14 22:09] michelleangela commented on #5779
I can't reproduce this, even when the .clang-format syntax is correct.

[2020-07-14 22:13] michelleangela commented on #5779
From the gif of the repro, the failure of format may not be getting logged because it's not in English.

[2020-07-14 22:19] Colengms opened #5780 "Semantic Colorization is not working?"
With 0.29.0, the Semantic Colorization feature has been migrated to VS Code's new Semantic Tokens API.  Depending on which version of VS Code is used and which theme is used, this feature may regress for some users.

For Semantic Colorization to work as expected with >=0.29.0, either:

a) Upgrade to a version of VS Code >=1.47
b) Use a theme that opts-in to semantic highlighting.  (All themes bund

[2020-07-14 22:37] michelleangela opened #5781 "Update task build info on tutorials"
With the new custom builds task, the tutorials listed at https://code.visualstudio.com/docs/languages/cpp#_hello-world-tutorials will need to be updated.

**Note:** ensure the debugging console output is update as well.

[2020-07-14 23:54] bobbrow commented on #5736
It turns out that the solution described above sounds a lot like feature request #1110.  This could be a duplicate.

[2020-07-15 02:13] ljdai16427 opened #5782 "The launch.json can't debug cpp file"
I have set my .vscode file according to the instruction: https://code.visualstudio.com/docs/cpp/config-mingw. And I also have added the MinGW64 path to the system path. But, when I run tasks.json file, **Terminal->Run Build Task...**, the prompt **-Terminal will be reused by tasks, press any key to close it -** doesn't appear  although a  file called ${fileBasenameNoExtension}.exe still is generat

[2020-07-15 05:03] zajo opened #5783 "Bug with template parameters expanded from a macro"
**Type: LanguageService**

First thank you for the excellent work, to my pleasant surprise Intellisense on Windows works nearly perfectly. I'm reporting an issue which isn't super important, but it is the only part of my library it has problems with.

For portability between C++11 and 17 I use a macro for deducing nontype template arguments:

[code]

Intellisense ignores the macro, reporting error

[2020-07-15 06:11] GitMensch opened #5784 "Please clarify license"
In any case it would be very good to [add a license to this repository ](https://docs.github.com/en/github/building-a-strong-community/adding-a-license-to-a-repository) (the GitHub way, which will also set the project attribute, which currently has unknown license and points to the license file).

Then "something" is strange: https://github.com/microsoft/vscode-cpptools/blob/master/LICENSE.txt say

[2020-07-15 09:15] ghost commented on #509
I too would love this feature :heart:

[2020-07-15 09:26] YLiu-5 commented on #191
Hi, I just made it work by adding the environment in the file setting.json, instead of launch.json.

[2020-07-15 15:35] JeanMiK commented on #5736
Yes, it is basically the same idea. Only difference I can see so far is that by the proposal by @sean-mcmanus, the system would always add Standard, UseTab, IndentWidth, TabWidth, and AccessModifierOffset with the dynamic values from VisualStudio unless the user provided an explicit value in the  Clang_format_fallback Style setting, while  #1110 was talking of an additional setting to tell the sys

[2020-07-15 15:37] happybeing commented on #16
Yep, missing this a lot.

[2020-07-15 16:04] #4981 closed, assigned to nobody

[2020-07-15 17:36] sean-mcmanus commented on #5241
VS fixed it in a component that isn't shared yet, i.e. we'd need to make a different fix.

[2020-07-15 17:46] michelleangela commented on #5779
Resolved offline. The issue may have been caused by user's machine. With new configuration of Linux virtual machine. could no longer reproduce the issue.

[2020-07-15 17:46] #5779 closed, assigned to nobody

[2020-07-15 17:57] gzfrozen commented on #5456
@justinkb **Thank a lot for your investigation.**

After saw your comment, I did some build and debug on the file you mentioned:
https://github.com/microsoft/vscode-cpptools/blob/e17ff5e93ef4061472328d4afff86d152e5fcb03/Extension/src/LanguageServer/configurations.ts#L432
and change it into:
[code]
which means now it can pass the test with the combination of "clang-cl.exe" and "clang-x64".
However

[2020-07-15 18:18] sean-mcmanus commented on #5784
Sure, I'll see if renaming the License fixes the GitHub license issue: https://github.com/microsoft/vscode-cpptools/pull/5786

See the discussion at https://github.com/microsoft/vscode-cpptools/issues/2274 . In summary, the MIT license applies to the source code checked into the GitHub repository. The vsix includes/bundles other components/binaries not published in this GitHub repo that has a diff

[2020-07-15 18:18] justinkb commented on #5456
For my project I switched to a mingw GCC compiler for now, but I'd be happy
to help fox this issue for clang-cl. Let me know when you find some time to
take a look at this

On Wed, Jul 15, 2020, 7:57 PM gzfrozen <notifications@github.com> wrote:

[2020-07-15 19:02] GitMensch commented on #5784
For the license issue: what seem to always help is to just delete the license file and then re-add it with the "assistant" as outlined in the GH documentation.

Quoting from the extension license that you've referenced:

Share the vsix = share the software, isn't it?

Furthermore:

So I may not use it in Eclipse Theia or a self-compiled version of the "vscode" repo, may I?

But it seems that I may

[2020-07-15 19:46] bobbrow commented on #5784
The intent of the license(s) is that our binaries are only to be used by the Visual Studio family of products, while the TypeScript code is free to copy/use (MIT).  Which means that no, you may not use the binaries or the VSIX in Eclipse Theia or any other IDE.

I think your point has been taken.  We should work with our legal team to update the license to make this more clear.  Thank you for open

[2020-07-15 21:37] sean-mcmanus commented on #5783
Thanks for reporting this. I've filed a bug at https://developercommunity.visualstudio.com/content/problem/1114791/cc-intellisense-gives-error-parameter-pack-was-ref.html .

I also got some IntelliSense process crashes when I used "cl.exe /P /std:c++latest /I ...\leaf-develop\include ...\leaf-develop\test\match_test.cpp" to create a stand alone TU, so I've reported that at https://developercommuni

[2020-07-16 02:23] RedZone908 commented on #1485
I have the same error as @susundberg, and I worked around it the same way. I have a macro #define IS_EQUAL_TO 0 that shows up with red squigglies when I try to reference it in a different file... unless I move the include that has that macro to the very beginning of that file, in which case the red squigglies go away. I am using VS Code on Debian Linux when I see this happen.

Would be nice if we

[2020-07-16 09:08] linchuan4028 opened #5790 "intelligence feature too slow"
It's look like the cpptools process too much files.  Here is the log

[code]

[2020-07-16 09:09] linchuan4028 commented on #5790
here is the configuration
[code]

[2020-07-16 09:10] linchuan4028 commented on #5790
Can anyone help to figure out why it process so many files and cost too much CPU

[2020-07-16 13:36] hyuuko1 commented on #5780
It works well in my machine.
![@GZM_PS_TGKY)L@OX8IE7CS](https://user-images.githubusercontent.com/44204137/87677113-f6130c80-c7ab-11ea-8582-81cb647f43fb.png)
before 0.29.0:
![)2(OU)C29M1Y6LJU9AH4TR9](https://user-images.githubusercontent.com/44204137/87677245-1fcc3380-c7ac-11ea-8028-7dd902a72aca.png)
theme: Default Dark+

[2020-07-16 15:04] Michannne commented on #1046
@sean-mcmanus No not using WSL2, and I tried both with the Remote extension and also just creating a fresh project and adding a WSL folder to the browse.path or includePath depending on the engine.

I was able to resolve this issue another way, I create a folder for my repos by symlinking a C:/ drive folder, i.e. ~/repos -> /mnt/c/repos.

Like this, I am able to use intellisense on the Windows-sid

[2020-07-16 16:54] bobbrow commented on #5790
Mac frameworks are the costliest part of the scanning process because there are many, many files under those folders.  It looks like you're already using the MacOSX10.15.sdk (pulled in by /usr/bin/clang), can you try removing `/System/Library/Frameworks` and `/Library/Frameworks` from your `C_Cpp.default.macFrameworkPath` and see if that speeds things up a little?

The high CPU usage should only b

[2020-07-16 18:13] olijaun opened #5791 ""identifier is undefined" with version 0.29.0"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux  4.15.0-111-generic #112-Ubuntu SMP Thu Jul 9 20:32:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- VS Code Version: 1.47.1
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): GitLens 10.2.2, No
- Does this issue involve using SSH remote to run the extension on a re

[2020-07-16 19:35] sean-mcmanus commented on #5791
The error may not be appearing in 0.28.3 because the IntelliSense process may be crashing or otherwise erroring out.

Are you getting any missing includes?

What do you see when you do Go to Definition on getPluginInstancePointer? I'm seeing the variable not being defined, because the macros are not defined that are surrounding the definition.

[2020-07-16 20:01] #658 closed, assigned to nobody

[2020-07-16 20:02] sean-mcmanus commented on #862
The fix is available with 0.29.0.

[2020-07-16 20:02] #862 closed, assigned to elahehrashedi

[2020-07-16 20:03] sean-mcmanus commented on #4138
The fix is available with 0.29.0.

[2020-07-16 20:05] sean-mcmanus commented on #3105
Fixed with 0.29.0.

[2020-07-16 20:05] sean-mcmanus commented on #2621
Fixed with 0.29.0.

[2020-07-16 20:11] #3932 closed, assigned to nobody

[2020-07-16 20:12] sean-mcmanus commented on #3933
@luminox This should be fixed with 0.29.0.

[2020-07-16 20:12] #3933 closed, assigned to nobody

[2020-07-16 20:15] sean-mcmanus commented on #3942
Semantic colorization works with remote development with 0.29.0.

[2020-07-16 20:15] #3942 closed, assigned to Colengms

[2020-07-16 20:15] sean-mcmanus commented on #5666
Fixed with 0.29.0.

[2020-07-16 20:22] sean-mcmanus commented on #3733
With 0.29.0, we add ${default} to includePath automatically if C_Cpp.default.includePath is set. Is that sufficient to close this issue?

[2020-07-16 20:22] #4826 closed, assigned to nobody

[2020-07-16 20:24] #5370 closed, assigned to Colengms

[2020-07-16 20:25] #5498 closed, assigned to Colengms

[2020-07-16 20:25] #5512 closed, assigned to Colengms

[2020-07-16 20:25] sean-mcmanus commented on #5675
Should be fixed with 0.29.0.

[2020-07-16 20:31] #5557 closed, assigned to schultetwin1

[2020-07-16 20:32] #5568 closed, assigned to nobody

[2020-07-16 20:32] #5584 closed, assigned to nobody

[2020-07-16 20:33] #5618 closed, assigned to nobody

[2020-07-16 20:33] #5619 closed, assigned to nobody

[2020-07-16 20:34] #5687 closed, assigned to nobody

[2020-07-16 20:34] #5697 closed, assigned to nobody

[2020-07-16 20:34] #5731 closed, assigned to Colengms

[2020-07-16 20:35] #5738 closed, assigned to Colengms

[2020-07-16 20:35] #5470 closed, assigned to WardenGnaw

[2020-07-16 20:36] sean-mcmanus commented on #2297
Is this issue not fixed?

[2020-07-16 20:36] #3076 closed, assigned to WardenGnaw, pieandcakes

[2020-07-16 20:37] WardenGnaw commented on #2297
It is fixed for cppdbg.

Tracking for cppvsdbg is at https://github.com/microsoft/vscode-cpptools/issues/5676

[2020-07-16 20:37] #2297 closed, assigned to nobody

[2020-07-16 20:38] sean-mcmanus commented on #5706
Can this issue be closed (with 0.29.0) or were there additional feedback to follow up on and open new issues for?

[2020-07-16 20:38] #4992 closed, assigned to Colengms

[2020-07-16 20:40] sean-mcmanus commented on #5272
Fixed with 0.29.0.

[2020-07-16 20:40] #5272 closed, assigned to nobody

[2020-07-16 20:40] sean-mcmanus commented on #3204
Is this fixed with 0.29.0?

[2020-07-16 20:41] sean-mcmanus commented on #1755
Should be fixed with 0.29.0.

[2020-07-16 20:41] #1755 closed, assigned to nobody

[2020-07-16 20:42] sean-mcmanus commented on #5627
Fixed with 0.29.0.

[2020-07-16 20:42] #5627 closed, assigned to nobody

[2020-07-16 20:43] sean-mcmanus commented on #5762
Fixed with 0.29.0.

[2020-07-16 20:43] #5762 closed, assigned to Colengms

[2020-07-16 20:48] michelleangela commented on #5706
This can be closed. I created new issues of the other issues.

[2020-07-16 20:48] #5706 closed, assigned to nobody

[2020-07-16 20:55] sean-mcmanus commented on #5784
Yeah, what Bob said. Also, our debugger component outputs the restrictive license clause in the output window when it runs and also disables itself when invoked from non-VS Code hosts such as vscodium (see https://github.com/VSCodium/vscodium/blob/master/DOCS.md#proprietary-debugging-tools ), so it's possible cpptools/cpptools-srv could do something similar in the future.

[2020-07-16 21:11] bobbrow commented on #5776
@Colengms can you take a look at this?  I was thinking this was supposed to work because the Windows team has a custom config provider extension that depends on this behavior.  It could be that this only is a problem for standard `c_cpp_properties.json` configs.

[2020-07-16 21:30] dacut commented on #3733
I would think so.

[2020-07-16 21:41] bobbrow commented on #1110
We won't be making any changes to the default styles.  The second case you offered ("BasedOn": Google) could work if we do the feature requested in #5736.  I think we'll track this request with that issue instead.

[2020-07-16 21:41] #1110 closed, assigned to nobody

[2020-07-16 21:43] #3733 closed, assigned to elahehrashedi

[2020-07-16 21:44] bobbrow commented on #4654
This should have been addressed by the change to use XDG_CACHE_HOME on linux.  If anyone else is still having a problem with this, please open a new issue.  Thank you!

[2020-07-16 21:44] #4654 closed, assigned to nobody

[2020-07-16 22:00] bobbrow commented on #4693
The 3 config thing was from a while ago, I just tried this and didn't reproduce the incorrect config selection.  But we only auto-config the first time you open a folder or if you make changes to the config that remove the currently selected config.  Otherwise we will continue to use the previously selected config.

If you are still having a problem with this, let us know.  I will close the issue

[2020-07-16 22:00] #4693 closed, assigned to Colengms

[2020-07-17 00:48] WardenGnaw commented on #5782
If `${fileBasenameNoExtension}.exe` is still being generated. Does debugging work if you remove the `preLaunchTask` in `launch.json`?

[2020-07-17 04:16] linchuan4028 commented on #5790
do we add some default path to the conf? I have removed the C_Cpp.default.compilerPath  and C_Cpp.default.macFrameworkPath in the conf, however it doesn't work

[2020-07-17 04:35] GitMensch commented on #5784
Hmm, are that debugger and the cpptools-srv in an external repo and just used from this extension?

If not I could just drop the restriction from the code and publish a cpptools-free.vsix with a working debugger and cpptools server - or did I misunderstood something?

[2020-07-17 04:43] subramanyakrishna commented on #688
Can anyone please tell how to use watch window

[2020-07-17 08:50] Chin-ma commented on #1329
Thanks for the help it helped me a lot

[2020-07-17 09:12] mollychen12 commented on #4250
I encountered the same error,and when I change as using double backslashed,it does't work ,confused~

[2020-07-17 12:05] magdumnikhil commented on #658
Only doxygen comments above function definition are parsed and shown over tooltip. Comments above function declaration are ignored.

Is there any setting which decides this?

[2020-07-17 13:04] xatian opened #5794 "IntelliSense reports Problems that are not there."
**Type: LanguageService**

**Describe the bug**
- OS and Version: **Debian Bullseye**
- VS Code Version: **1.46.1**
- C/C++ Extension Version: **0.29.0**
- Other extensions you installed (and if the issue persists after disabling them): **None**
- Does this issue involve using SSH remote to run the extension on a remote machine?: **No**
- A clear and concise description of what the bug is, includi

[2020-07-17 17:24] spott commented on #1899
I am also seeing this issue.

Let me know if there is anything that I can collect in order to help work this out.

[2020-07-17 17:30] ryanpholt commented on #3249
Note that this makes it really hard to use the new "Logpoint" feature because the debug console is flooded with:

"Stopped due to shared library event:"

messages. Is there anyway to hide the shared library event output?

[2020-07-17 17:39] michelleangela opened #5795 "Only Doxygen comments above function definition are parsed"
Only doxygen comments above function definition are parsed and shown over tooltip. Comments above function declaration are ignored.

Is there any setting which decides this?

_Originally posted by @magdumnikhil in https://github.com/microsoft/vscode-cpptools/issues/658#issuecomment-660070996_

[2020-07-17 18:27] WardenGnaw commented on #688
@kulalsk2 While debugging, in the left pane you will see an area for `Watch` under `Variables`.
![image](https://user-images.githubusercontent.com/3953714/87818892-3ad88b00-c820-11ea-863d-5f56ab9bc653.png)

In there you can type any expression want to look at.
![image](https://user-images.githubusercontent.com/3953714/87818938-4b890100-c820-11ea-98a5-2ea6960f2961.png)

You can look at variables, y

[2020-07-17 18:55] sreitbauer opened #5796 "No include autocomplete with Visual Assist"
**Type: LanguageService**

**Describe the bug**
I'm using Visual Assist 10.9.2382 in Visual Studio 2019 and vcpkg 2020.06.15. When I try to include a header file, there is no autocomplete for folders and files from vcpkg. vcpkg itself works fine, but the missing autocomplete is quite annoying. With Visual Assist disabled, everything works again.

**Expected behavior**

Folders and files should be

[2020-07-17 21:16] michelleangela commented on #5795
@magdumnikhil , there is no setting to choose which comment (declaration or definition) gets displayed in the tooltip.

However, I was not able to reproduce the behavior of _only comments from definitions are displayed in the tooltip_. Could you provide a sample repro for this?

The repro I tried was the following, where hover over function call displays comments from declaration
![image](https://

[2020-07-17 21:25] michelleangela commented on #5796
Is this an issue from Visual Studio or the C/C++ extension for VS Code?

To report issues for Visual Studio, follow instructions at https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

[2020-07-17 23:19] bobbrow commented on #5784
I suppose you could try to replicate the debugger and cpptools server functionality on your own, but it seems like you would have more success starting from scratch (or another project like clangd) than starting with our TypeScript code and trying to implement all of our protocol messages.

[2020-07-17 23:24] bobbrow commented on #5790
What is the list of folders in "Folder <...> will be indexed" after you make that change?  Is it smaller than before or the same?

I also want to clarify what you think is "too slow".  Is it the amount of time it takes to process those files, or is it the time it takes to update the linter in the file? (it looks like it took about 2 seconds in the log you shared)

[2020-07-18 01:16] UberUser opened #5797 "Host system headers found/used when cross-compiler specified"
Issue Type: <b>Bug</b>

Hi,

First of all, I have to say that Code is amazing! IDEs that will support non-native toolchains on Linux with remote display on a Mac (however accomplished) are few. All I've tried compromised on some aspect of the full experience. Until Code. It's the fastest, best looking, least piggy, and least hassle. I'd almost pay if I had to. :)

There is however one small thing

[2020-07-18 03:09] Voha888 opened #5798 "Intellisense for C++: Values for enum variables/arguments prediction"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 x64
- VS Code Version: 1.47.2
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): platformio

I'd like to propose improvement to how does IntelliSense operate on enums.

Currently if you have code like following and you press Ctrl+Space inside parentheses of

[2020-07-18 07:51] GitMensch commented on #5784
@bobbrow Thank you for the explanation. I'd really prefer if there would be a documentation entry about the licensing explained above and the external dependencies that are necessary to actually have a working extension (and those having a different license). Could you try to get something written in https://code.visualstudio.com/docs/cpp/faq-cpp about this?
Where exactly do you think the legal te

[2020-07-18 10:08] IanNicki commented on #429
+1 using code-server on my ARM-64 Raspberry Pi.

[2020-07-18 12:21] wangdefawaz opened #5799 "Not able to give input to the program."
Type: Debugger
When I run the program the the debug starts but when the control reaches the input line the debug stops.

- OS: macOS Catalina and Version:10.15.6
- VS Code Version:1.47.2
- C/C++ Extension Version:0.29.0
- Other extensions you installed (and if the issue persists after disabling them):Python by Microsoft. After disabling nothing happens.
- The debugger works fine as long as there i

[2020-07-18 13:05] allen505 opened #5800 "Error collect2: fatal error: cannot find 'ld' when debugging"
Type: Debugger
I am trying to run a simple `Hello World` program(the issue pertains to other programs I tried too). I get the following error, when I tried to run the debugger
[code]
I tried running the command
`/usr/bin/g++ -g /home/.../test.cpp -o /home/.../test` itself and it compiled successfully.

**I remember using the debugger a couple of weeks ago and it used to work fine. I haven't had an

[2020-07-18 14:51] MrMartin92 commented on #3204
For me it is still not working.

Here is a sample source file I created for testing. You can see the section with `__AVR_DEVICE_NAME__` is not active and therefore all symbols like `DDRD` are missing. On the other hand `__AVR__` is working fine. You can see I have installed version 0.29.0 on the left side.

![Bildschirmfoto von 2020-07-18 16-31-11](https://user-images.githubusercontent.com/4492249

[2020-07-18 16:09] vincentbryan opened #5801 "word-base AutoComplete not working when I set "AutoComplete" as "Disabled""
**Type: LanguageService**

**Describe the bug**
- OS and Version: MacOs 10.14.6
- VS Code Version: June 2020 (version 1.47)
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including informati

[2020-07-18 20:53] zwangz commented on #860
Same issue here

[2020-07-18 21:03] SarangKulkarni commented on #2499
My workaround for this is to edit `.vscode/c_cpp_properties.json` and edit the` "defines" `array so that intellisense thinks that the additional keywords are pre-processor defines. Something like:

[code]
When you mouseover `__interrupt(nn)` in your actual code, you will see some garbage tooltip of
 "`#define __interrupt(IntelliSense_Hack)`" but that's only assumed by vscode and not by sdcc / your

[2020-07-19 01:47] LucasGit commented on #429
+1 Remote SSH + RPI4
wanna it !

[2020-07-19 05:12] ThadHouse commented on #5276
Definite +1 to this. I've been adding SourceLink support to all of my projects, and it really is awesome. Since full VS and WinDbg support it, VS Code would be an amazing addition to supporting that functionality.

[2020-07-19 07:19] DEAGS3000 commented on #1899
Me too. VSCode on mac os 10.14.5, with lldb-mi in cpp-tools extension. this will only happen when I'm trying to do step over in a certain member function.

[2020-07-19 07:28] m4p1e opened #5802 "cant identify friend class"
Type: General

**Describe the bug**
- OS and Version: Linux maple 5.3.0-kali2-amd64 # 1 SMP Debian 5.3.9-3kali1 (2019-11-20) x86_64 GNU/Linux
- VS Code Version: 1.46.1
- C/C++ Extension Version: v0.29.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include code sample and `task.json

[2020-07-19 07:39] zajo opened #5803 "Intellisense confused matching forward declaration with type definition"
**Type: LanguageService**

[code]

In a header file I have:

[code]

In a cpp file:

[code]

Then, in the same cpp file, the following line:

[code]

For which Intellisense reports the following problem:

[code]

It appears that Intellisense fails to understand that the declaration and the definition of `thread_local_signal_data::connection_list` match (for brevity I omitted the namespaces in the

[2020-07-19 13:50] Vanuan commented on #1162
@sean-mcmanus So you're saying `cpptools-srv` is closed source? Is it possible to run cpptools extension with `clangd` as LSP server? Or should we look into https://marketplace.visualstudio.com/items?itemName=llvm-vs-code-extensions.vscode-clangd ?

[2020-07-19 14:46] nkdmSum opened #5804 "Inline assembly-highlighting and strange highlighting of '__asm__' keyword"
When you use inline assembly like this:
`__asm__
(
    "movl $1, %eax"
    "movl $2, %ecx"
)`
The assembly-code is the same colour as strings.

I understand that there is no standard assembly highlighting but it could be useful if you could select one(Extension) in the settings.

Also: The `__asm__` is only highlighted in blue if the '(' is in the same line. Else it's white.

This is how it looks

[2020-07-19 15:35] sslupsky commented on #5769
@Colengms Apologies, I was away last week.

I added the settings to my settings.json and restarted vscode.  The log output doesn't appear to have changed:
[code]
Though, the "not ready" does not appear in this output.  I noticed the vscode updated to 1.47.2 today as well.  Note however, the colourization issue still remains and the colours are not working properly.
Here is the output from the deve

[2020-07-19 15:41] sslupsky commented on #5769
I disabled the "Arduino" extension.  That cleaned up the error message in the log (Main) output:
[code]
However, the C/C++ output window still shows the "Failed to query compiler" messages and the Intellisense server shutdown message.

[2020-07-19 15:48] sslupsky commented on #5769
FYI, my vscode is set up for development with the Zephyr RTOS.  The target is an ARM Cortex M0 32-bit micro controller.  I use the arm-none-eabi-gcc toolchain.  More specifically, I have the "8-2018-q4-major" version of this toolchain installed.  /usr/local/bin/arm-none-eabi-gcc is a link as follows:
[code]

[2020-07-19 16:35] sslupsky commented on #5769
I downgraded the Intellisense extension to version 0.28.3 and the colourization works as before.  So, this issue appears to be related to 0.29.0-insiders2

The C/C++ log output for 0.28.3 appears to be similar to what I observed for 0.29.0-insiders2:
[code]

[2020-07-19 17:55] Trass3r commented on #2488
For reference: https://docs.microsoft.com/en-us/visualstudio/debugger/debugger-feature-tour?view=vs-2019#step-into-a-property

[2020-07-19 19:46] rser1911 commented on #3298
It was very annoing for me and i make this fix for me
May be it will be useful for someone..

I create file __~/.local/bin/bash__ with

[code]

and make in execute
```$ chmod +x ~/.local/bin/bash```

[2020-07-19 21:38] zwangz opened #5805 "LLDB debugger hangs (using 100% cpu) at launch if std::map is uninitialised"
Type: Debugger

**Describe the bug**
- OS and Version: macOS 10.14.6  (Darwin x64 18.7.0)
- VS Code Version: 1.47.2
- C/C++ Extension Version: 0.29.0
- Issue:

Similar log to [#860](https://github.com/microsoft/vscode-cpptools/issues/860#issuecomment-612632659)
When using `include <map>`and `std::map`/`std::multimap` without initialisation the debugger hangs at launch and is stuck at `-var-create

[2020-07-20 01:34] #5744 closed, assigned to nobody

[2020-07-20 03:50] crimsonskylark commented on #5588
I'm having the same problem and am available for testing (or providing any debug information that may help). Feel free to tag me.

[2020-07-20 05:26] sherief commented on #815
I came here because I'm running into this same exact issue and I think a monument should be built somewhere for someone because it has been three years and "Fix embedded debugging on Windows by simply respecting the current working directory" is still an unresolved issue, it's like watching 12 Angry Men meets Dr. Strangelove.

[2020-07-20 06:31] mikekasprzak commented on #1994
This upper-casing behavior is beyond frustrating. The number of hours I lost tracking this down, and knowing that the code to fix this exists but it's hidden behind some "magic" path detection code and not a setting... 😠.

**EDIT**: Aaand it sounds like the "workaround" no longer works. Cool.

Anyway, until this gets fixed, here's some advice for my fellow Linux travelers to deal with it.

## What

[2020-07-20 07:54] magdumnikhil commented on #5795
In my current workspace, this is getting reproduced, but I can't share the it directly.
Also, I'm seeing some error squiggles for #includes, possibly that can be the reason for this.

I will try to get rid of those, and comment again.

[2020-07-20 11:49] N3jk0v commented on #1450
I am having a similar issue where breakpoints dont work. I tried configuring my jason file, but to not avail.
(I followed the following guide: https://www.linkedin.com/pulse/python-remote-debugging-visual-studio-code-raspberry-pi-mircea-dogaru/)
launch.json file
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Deploy And Run On Remote",
            "type": "

[2020-07-20 13:51] alexeyr commented on #201
A better workaround is `-fno-limit-debug-info` (see https://bugs.llvm.org/show_bug.cgi?id=24202#c9), because

According to that thread, installing a `-dbg`/`-dbgsym` version of libstdc++ should work as well, but it didn't for me.

[2020-07-20 15:01] Aris1401 opened #5806 "Need help: Connection to server got closed. Server will not be restarted."
Type: General
With Visual Studio Code I'm having the issue: **Connection to server got closed. Server will not be restarted.**

**Describe the bug**
- OS and Version: Windows 7 x86
- VS Code Version: 1.47.2
- C/C++ Extension Version: 0.29.0
- Issue: Few times after I installed the c++ tools and created the first source file, I'm getting some errors that say **Connection to server got closed. Serve

[2020-07-20 17:12] TheJCAB opened #5807 "Go to definition for command-line defined macros should be able to find the build file where the macro is defined"
**Type: LanguageService**

When a macro is defined by the build system (say, a "-D" argument on the compiler command-line), intellisense will account for this fact by using the definition as it compiles and analyzes the code. The easiest way to see this is the colorization between some `#if` and `#endif` that depend on the macro. Also, hovering the mouse cursor over the macro will provide the defi

[2020-07-20 17:28] olijaun commented on #5791
Hi
Thanks for looking into this. "Go to Definition" works fine on getPluginInstancePointer(). But as you say, according to the "highlighting" it is not active. But the variable is set (see DistrhoPluginInfo.h):

[code]
"Go to definition" for DistroPluginInfo.h also works.

With Version 0.28.3 vscode recognizes the Variable as set to "1". So it really boils done to the question: "why does 0.29.0" i

[2020-07-20 17:36] bobbrow commented on #5807
As discussed offline, unfortunately, we can't "say" anything due to restrictions in the language server protocol.  We can only give VS Code a file location for it to navigate to. For `c_cpp_properties.json` and `compile_commands.json` configurations, this could be relatively straightforward.  For custom providers like the one @TheJCAB is using, this would require some additional API to communicate

[2020-07-20 17:44] michelleangela commented on #5802
@m4p1e  can you provide your c_cpp_properties.json or IntelliSense configuration settings?

[2020-07-20 17:48] bobbrow commented on #5801
Our extension disables the word-based suggestions because in most cases they confuse our developers.  To turn them back on, add the following settings into your "User" settings file to override our defaults:
[code]

[2020-07-20 17:48] #5801 closed, assigned to nobody

[2020-07-20 17:54] WardenGnaw commented on #5800
This is VS Code's task execution's error. It has not reached the debugger yet.

However, can you run `/usr/bin/g++ -g /home/.../test.cpp -o /home/.../test` in the commandline?
Does it work or does it show the same error?

[2020-07-20 17:54] lefebvresam commented on #5567
For an unknown reason, the problem looks solved.

[2020-07-20 17:56] WardenGnaw commented on #5799
There is no `intergratedTerminal` support for macOS. You will need to set `"externalConsole": true` and then you will be able to provide input.

[2020-07-20 17:59] WardenGnaw commented on #5805
@zeeepw Thanks for the very detailed issue.

I will need to validate if this occurs in `lldb` with the non-MI commands.

[2020-07-20 18:07] bobbrow commented on #5784
I think that the legal team could improve the license at the root and separate it into sections that cover or redirect to the subareas in the source tree.  Placing a simple license at the root is not likely to provide the clarity that has been requested.

I don't think we'll be adding much documentation about external dependencies since that won't help any 3rd party developers who are interested i

[2020-07-20 18:22] wangdefawaz commented on #5799
Tried that. A blank terminal opens up. No prompt for input. Attaching the screenshot of terminal and the editor.
![Screenshot 2020-07-20 at 11 46 29 PM](https://user-images.githubusercontent.com/65999939/87971766-78206f80-cae3-11ea-8e7d-2baf1db5969c.png)
![Screenshot 2020-07-20 at 11 46 43 PM](https://user-images.githubusercontent.com/65999939/87971771-7a82c980-cae3-11ea-973e-5906c60abb47.png)
And

[2020-07-20 18:23] Colengms commented on #5769
Hi @sslupsky.  Each time you see "cpptools/finishUpdateSquiggles" indicates a successfully completed intelliSense pass.

I see the following in your log output: "cpptools/getSemanticTokens".  This indicates the semantic tokens request is being processed.

Could you try invoking the "Developer: Inspect Editor Tokens and Scopes", and clicking on something you expect to be colored?  This should now i

[2020-07-20 18:40] GitMensch commented on #5784
It is good, but at least I thought for some time that to contribute to improving the debugger I'd contribute to this extension, while most parts possibly are out of scope. This is the part where the external dependency notes (as "scope of this extension") may be useful.

Thank you for the warning about looking for a different start when trying to create / contribute to a full free cpp extension, t

[2020-07-20 19:18] Colengms commented on #5806
Hi @Aris1401.  Since it sounds like this is happening even with the simplest of files, could you try reinstalling the extension?  I'd suggest uninstalling it from within VS Code, removing the extension directory from `%USERPROFILE%\.vscode\extensions`, then reinstalling it.  That should ensure a fresh re-install.

If the issue continues, could you enable debug logging using `"C_Cpp.loggingLevel":

[2020-07-20 20:26] WardenGnaw commented on #5799
Looks like VS Code is having issues launching the externalConsole. Can you see if the the solution in https://github.com/microsoft/vscode-cpptools/issues/5079#issuecomment-626090192 works?

[2020-07-20 23:23] sean-mcmanus commented on #5403
Actually, it doesn't work with the vsix from the marketplace, which still uses clang-format 9. We'll fix that for our next release. The offline vsix should work though.

Should be working again with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders (and should be fixed with 0.30.0), but be aware that it may be falling back to the vcFormat implementation if no .clang-format

[2020-07-20 23:39] sean-mcmanus commented on #5194
0.29.0 still ships with clang-format 9 -- the offline vsix for 0.29.0 has clang-format 10 though.

[2020-07-21 01:39] UberUser commented on #5797
"There is no gnu/stubs-32.h in my sysroot, but there is one in /usr/include."

Whoops, I misstated this. There is no /usr/include/gnu/stubs-32.h installed on the host used in the reported configuration either.

What's germane is that there is no reference to "gnu/stubs-32.h" anywhere in my sysroot headers (but it is included from /usr/include/gnu/stubs.h). It's only looked for because somewhere al

[2020-07-21 01:48] wangdefawaz commented on #5799
Thanks, solved the problem. Now it takes the input. But the output doesn't show up on terminal until the end of the program when debugging. Is this normal?

**Look at the present line in the debugger.**
![Screenshot 2020-07-21 at 7 13 18 AM](https://user-images.githubusercontent.com/65999939/88003201-e84de600-cb21-11ea-99df-9a10632a5b2a.png)
![Screenshot 2020-07-21 at 7 13 30 AM](https://user-imag

[2020-07-21 02:00] allen505 commented on #5800
No, it does not show any error. It runs well and generates the test executable

[2020-07-21 02:07] m4p1e commented on #5802
c_cpp_properties.json
[code]

user setting.json
[code]

workspace setting.json
[code]

default setting.json didnt motified.

[2020-07-21 02:09] UberUser commented on #5794
"The second problem is because your extension believes that unix is a macro defined to 1."

That is not a problem because "unix" is supposed to be a macro expanding to 1 (on Unix systems only of course -- it expands to 0 on non-Unix systems).

You admit "unix" is not the best name for a variable anyway, so why not just change it to something better? And what did you hope to prove by trying to use

[2020-07-21 02:11] WardenGnaw commented on #5799
That is by the design of C++. You can have it immediate output to the window if you add `\n` to your printf statements.

For more information, you will want to look into `Flushing the Output Buffer in C++`.

[2020-07-21 02:28] Elastino opened #5808 "Coloring and IntelliSense follows host computer, and defines platform incorrectly."
**Type: LanguageService**

**Describe the bug**
- OS and Version: Darwin x64 19.5.0
- VS Code Version: 1.48-insider
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): N/A
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including informatio

[2020-07-21 03:57] sean-mcmanus commented on #5808
I believe this is the same issue as https://github.com/microsoft/vscode-cpptools/issues/1083 (we don't support cross compilation on the Mac targetting non-Mac platforms yet).

[2020-07-21 04:00] sean-mcmanus commented on #5797
Sounds like https://github.com/microsoft/vscode-cpptools/issues/5035 ?

[2020-07-21 04:37] wangdefawaz commented on #5799
Thank you solved that problem as well.

[2020-07-21 04:53] ymkim92 opened #5809 "Autocompletion doesn't work for local variable"
**Type: LanguageService**
I can autocomplete functions and global variables but can't auto complete local variables.
When I disable cpptools, local variables can be autocompleted.

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.47.2
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve

[2020-07-21 06:31] Elastino commented on #5808
Thank you for updating, I thought it was working fine until 0.28.3.

[2020-07-21 06:31] #5808 closed, assigned to nobody

[2020-07-21 06:43] sean-mcmanus commented on #5774
It was resolved.

[2020-07-21 06:43] #5774 closed, assigned to nobody

[2020-07-21 08:26] xatian commented on #5794
My issue is not about fixing or avoid errors. Instead, it is about inconsistent error-reporting between VSCode and g++ (errors VSCode shows me and errors that pop up when hitting build). I don't care which specific errors or warnings are reported. But I never encountered an IDE where the JIT-compiler (the one that runs all time) reports something different than the errors I get when hitting "build

[2020-07-21 09:18] adrianghc opened #5811 "Doxygen comments to the right of members or fields do not parse if they span multiple lines"
**Type: LanguageService**

**Describe the bug**
- VS Code Version: 1.47.2
- C/C++ Extension Version: 0.29.0

For struct members or class fields, I will often write a comment next to it instead of above it in order to reduce clutter. Since I use rulers, these comments very often extend across more than one line, e.g. something like

[code]

Hovering above `owner` I would expect the comment to be sh

[2020-07-21 10:54] BillDenton commented on #5141
@sean-mcmanus Any update? I'm on 0.29.0 and each VS Code window usually takes out a physical core on my 6 core Windows laptop. I notice that there are quite a few other performance issues, for example, #5678, #5574, #4418,

[2020-07-21 11:14] superRaptor911 commented on #882
status of this feature?

[2020-07-21 12:44] RaavnAndRina opened #5812 "Semantic colorization doesn't work on multiroot project"
**Type: LanguageService**

**Describe the bug**
- OS: Fedora 31, Windows 7 64x
- VS Code: 1.47.1
- Extension: v0.29.0
- Issue persists with all other extensions disabled and after clean installation

On multiroot project, semantic colorization works only in the first workspace folder (colorization of custom types, c macros, declared functions). However, all other IntelliSense features (hover text,

[2020-07-21 12:54] paroj commented on #5811
the comment does not belong to "owner" like that. Run doxygen and you will see it.

[2020-07-21 13:38] adrianghc commented on #5811
Well, this format does work in IntelliSense if there is only one line, and anyway none of the [suggestions for multiline documentation after members](https://www.doxygen.nl/manual/docblocks.html#memberdoc) seem to work either. Am I missing something?

[2020-07-21 15:28] Trass3r commented on #509
For reference, here's the DAP spec change: https://github.com/microsoft/debug-adapter-protocol/pull/50
WIP implementation: https://github.com/microsoft/MIEngine/issues/816#issuecomment-661945883

[2020-07-21 15:50] Trass3r commented on #5516
JMC requires debugger support for the `__CheckForDebuggerJustMyCode` hooks.

[2020-07-21 15:53] Trass3r commented on #811
I agree it should behave just like VS once #206 is implemented.
In the meantime maybe this error popup could be changed to auto-close after a few seconds.

[2020-07-21 17:56] bobbrow commented on #5809
It looks like semantic IntelliSense is disabled here.  What is the value of the `C_Cpp.intelliSenseEngine` setting in your workspace?  Based on the symptoms, it appears that it is set to "Tag Parser".  Try setting it to "Default."

[2020-07-21 18:01] Trass3r commented on #206
At least with `set disassembly-flavor intel` 😉

[2020-07-21 18:01] WardenGnaw commented on #5799
Closing issue for now. If you have any other issues, let us know.

Thank you.

[2020-07-21 18:01] #5799 closed, assigned to nobody

[2020-07-21 18:05] michelleangela commented on #882
@superRaptor911 the status of this feature request has not changed. It's under the milestone that's post version 1.0.0 of the extension.

[2020-07-21 20:38] Trass3r commented on #206
For the record the feature _is_ in the DAP by now microsoft/debug-adapter-protocol#50, microsoft/debug-adapter-protocol#49
More information is in https://github.com/microsoft/MIEngine/issues/816#issuecomment-661936509.
It is implemented for embedded use-cases in PlatformIO and https://github.com/Marus/cortex-debug.
For desktop applications it would be also useful whenever you don't have source cod

[2020-07-21 21:28] pbannister commented on #5588
Had similar problems, which I seem to be past with a couple of defines, and an explicit list of include directories.

My current `.vscode/c_cpp_properties.json` file note the `defines`, `compilerArgs` and `includePath` values. (You will need to adjust the include path for your kernel version.)

[code]

Note the include path may vary somewhat for your kernel and distribution. To get a dump of all t

[2020-07-21 22:17] Trass3r opened #5815 "PerfTips like in VS"
Type: Debugger

Would be nice to have PerfTips with execution time like in Visual Studio:
https://docs.microsoft.com/en-us/visualstudio/profiling/perftips#perftips-1

microsoft/vscode#105417

[2020-07-21 22:34] Colengms commented on #5804
Hi @nkdmSum , The C/C++ extension (as of 0.29.0) provides semantic tokens to VS Code for colorization, but a lot of colorization is still coming from VS Code for syntactically identified keywords, etc., based on TextMate grammar.  The command `Developer: Inspect Editor Tokens and Scopes` now indicates whether something is colored semantically.

It looks like `__asm__` is not colored semantically,

[2020-07-21 22:34] #5804 closed, assigned to nobody

[2020-07-21 22:44] Colengms commented on #5812
Hi @RinaAndRaven .  Thanks for reporting this.  We indeed have an issue with semantic tokens not being handled properly in multiroot.  We've made a fix, which should be available in our very next release or insiders build.

[2020-07-22 00:23] michelleangela opened #5817 "Get path of newer Windows SDKs that are installed partially"
Issue found from internal usage of extension.

It seems there's a way to partially install Windows SDK where not all include paths in the root path of the SDK are installed. The extension currently gets the version of Windows SDK by via searching for "um" include path within an SDK's root path to get the SDK's version and to the other include paths under that SDK folder. If the "um" include path i

[2020-07-22 01:01] sean-mcmanus opened #5818 "Separate our ThirdPartyNotices.txt into Distribution and Repository versions"
See what the Python extension does at https://github.com/Microsoft/vscode-python .

Also, the notices for gcc and LLVM need to be updated (possibly others).

[2020-07-22 01:03] ciwei100000 commented on #5791
I am having the similar "identifier is undefined" issue. I can confirm mine are well defined in the header files and the code can be compiled successfully. Those errors sometimes will disappear if I open the header file containing the definitions of those identifiers in the vs code window. However, they usually occur again after I close the header files. And if the identifiers spread across differ

[2020-07-22 02:42] Colengms commented on #5791
Hi @olijaun .  It looks like the wrong version of `DistrhoPluginInfo.h` is being picked up by our intelliSense process.  Since it's been configured to consider your entire source tree as an include path, this may actually be valid behavior.  To ensure things work properly with multiple separate projects that contain headers of the same name, I'd suggest using a multiroot workspace, so you can prov

[2020-07-22 02:51] thehigherlife commented on #5273
i'm seeing similar behavior too with smaller project sizes. usually once i'm starting to jump definitions.  once the CPU is high, it does not go down without a restart of vscode.

[2020-07-22 07:22] jeb5 commented on #1787
I'm trying to pass a url as an argument to python.

[code]

But the ampersand character "&" has a special meaning, and so I need the argument to be surrounded by double quotes.

`args: ["\"https://www.google.com/search?hl=en&q=python\""]` Doesn't work, and is interpreted as `python foo.py \"https://www.google.com/search?hl=en&q=python\"` for some reason.

Adding a space does make vscode put quotes

[2020-07-22 08:23] ce3a commented on #1083
+1 !!!!

[2020-07-22 08:43] CordreSmith opened #5819 "C++/CLI Reference assemblies"
I am currently unable to include the `System::Data` namespace to my project.

I have added the switch to my `c_cpp_properties.json` file:
[code]

I have also added the path to my referenced assemblies to my include path, as specified in #1987:
[code]

However, I still get an error `name followed by '::' must be a class or namespace name`, if I do:
[code]

The current work around for me is:
[code]

[2020-07-22 08:55] ljdai16427 commented on #5782
Tnahk you for advising it. I just replace VS Code 64bit with VS Code 32bit, and it can do it

[2020-07-22 09:31] FreezeHands opened #5820 "Problem with spaces in the first line of output"
I was trying to create a star pattern in jupyter notebook on Visual Studio code, with this code:

        def pattern(n):
            k=2*n-2
            for i in range(0,n):
                for j in range(0,k):
                    print(end=' ')
                k-=1
                for j in range(0,i+1):
                    print('* ',end='')
                print('\r')
        pattern(4)
But for

[2020-07-22 12:05] OnkelDon commented on #5227
Same issue here. It seems as soon as linux kernel is in the search/intellisense path, the leak happens after some time, it eat up all the 32GB! Sometimes I replace the cpptools binary with a script which changes ulimit settings (ulimit -v 8000000), but it's gone after every update. Would be nice if this become a setting or so.

Environment:
- Ubuntu 18.04
- 8 (16) cores
- 32GB RAM
- v0.29.0

Linux

[2020-07-22 15:22] jheaff1 commented on #4004
Any update on this? I have the same issue where pipeCwd is ignored when attaching

[2020-07-22 15:53] subramanyakrishna commented on #688
Thanks a lot sir

[2020-07-22 16:52] bobbrow commented on #5820
This sounds like a python issue.  Can you open an issue here instead: https://github.com/Microsoft/vscode-python/issues

[2020-07-22 16:52] #5820 closed, assigned to nobody

[2020-07-22 17:01] bobbrow commented on #5273
@shinze, is it this codebase? https://github.com/qmk/qmk_firmware/
@thehigherlife, do you have repro steps that we can follow to get the extension into this state? It's difficult for us to address these runaway CPU issues without a project that reproduces the problem.

[2020-07-22 17:06] bobbrow commented on #5809
@ymkim92 did you delete your comment?  I saw you set "C_Cpp.intellisenseEngineFallback": "Enabled".  You should disable that setting (or we should just delete it from the extension).  That setting will cause the extension to use the Tag Parser when it fails to resolve one of your `#include` statements.  I suspect that's what's happening in your WSL project.

[2020-07-22 17:37] J-Fields commented on #5700
The formatted doxygen popup only recognizes `\exception` (not `\throw` or `\throws`), and `\throws` isn't even highlighted in the actual text.

[2020-07-22 18:01] Josh798 commented on #5588
I was having a very similar issue and the solution proposed by @pbannister solved it for me. I am on VS Code version 1.47.2 and C/C++ extension version 0.29.0.

Note my `c_cpp_properties.json` looks vastly different than his, but temporarily adding `ccflags-y := $(ccflags-y) -xc -E -v` to the Makefile as suggested spit out the information I needed to know.

[2020-07-22 18:05] iamWing commented on #5415
Okay, so I've tested once again and I've got it working on Ubuntu 18.04.

Here's how:

1. Install the following packages via `apt`
[code]
2. Create soft links for executable files so things can work as expected
[code]
3. Build the `lldb-mi` executable from source
[code]

These should be it. And here's my `launch.json`. Basically just the default one from `clang++` preset and changed nothing if I r

[2020-07-22 18:23] Trass3r commented on #3214
Should be shown in the variables view after exiting or stepping over a function, just like in VS.
Requires DAP support I guess, @weinand?

[2020-07-22 18:39] shinze commented on #5273
@bobbrow Yes, and if I remember I was editing this particular file. https://github.com/qmk/qmk_firmware/blob/master/keyboards/kyria/keymaps/default/keymap.c

[2020-07-22 18:52] sean-mcmanus commented on #5776
I hit this issue again today, when I added compilerArgs with "/clr" etc. with the intent of it applying to the default cl.exe compiler -- it didn't work until I manually added the compilerPath to be "cl.exe".

[2020-07-22 18:56] thehigherlife commented on #5273
@bobbrow the basic steps to reproduce it have been, working in vscode usually on a project that uses the arduino extension. Start right clicking "Go To Definition" through different libraries.  CPU starts pegging.

[2020-07-22 19:23] sean-mcmanus commented on #5819
Using
[code]
works with 0.28.1, but there was a regression with 0.28.2 that broke the handling of the /FU flag (and others) -- looks like it's a quick/easy fix.

[2020-07-22 19:27] weinand commented on #3214
@Trass3r no, VS Code's new JavaScript debugger shows return values without DAP support:

<img width="775" alt="2020-07-22_21-25-52" src="https://user-images.githubusercontent.com/1898161/88219572-176b7100-cc62-11ea-8eee-b762609186e3.png">

[2020-07-22 19:57] michelleangela commented on #5700
To display other Doxygen comment tags, set the setting `C_Cpp.simplifyStructuredComments` to false. This setting was added to resolve issue https://github.com/microsoft/vscode-cpptools/issues/5706.

[2020-07-22 20:07] sean-mcmanus commented on #5819
The fix should be in 0.30.0-insiders (processing of /FU and /FI). If you try 0.28.1 and hit other issues, let us know because those would be different bugs.

[2020-07-22 20:46] dannypike opened #5821 "error reported as "qualified name is not allowed" on preprocessor macro that compiles OK"
Issue Type: <b>Bug</b>

It appears as though the C++ extension does not like this code in a header file:
[code]

where mikado.h contains this macro:
[code]

It compiles OK, both in Visual Studio and Emscripten, but the VSCode editor underlines it with this [error message](https://prnt.sc/tmtmd9).

Is it perhaps confused because it's trying to scan and "understand" the header file as an stand-alone

[2020-07-22 20:55] benjaminc247 opened #5822 "Request: Option to Always Show C/C++ Configuration in Status Bar"
As of the latest release I am able to tie my build task and launch command back to the c/c++ configuration, which is awesome!

I have one problem though, the c/c++ configuration does not show up in the status bar unless I have c/c++ files open. It would be nice to be able to quickly change configurations, build, and run without necessarily opening a file. I realize I can select the configuration f

[2020-07-22 21:00] bobbrow commented on #5588
Adding `"__section(x)="` to the `defines` array (plus the ones from @pbannister's comment) seems to resolve the squiggles around `__exit` for me.  I'm not 100% confident though because I still have a squiggle under a `#include` telling me it can't find a generated header (generated/asm-offsets.h).  Having never worked on the linux kernel I'm not sure how to get those files generated.

[2020-07-22 21:08] UberUser commented on #5797
Why yes, that request for MIPS support covers my 2nd little add-on request. (I assume if any MIPS support were added it would be for both 32 and 64 bit.)

[2020-07-22 21:08] andres-pcg commented on #1772
I'm having same issue. I hope someone can pay attention to this some day. It's been two years and no answers so far

[2020-07-22 21:09] sean-mcmanus commented on #5821
`#include <memory>` needs to be in the TU (source plus headers) somehow. It looks like that is missing in your repro? If you run C/C++: Log Diagnostics you can see info on how we are constructing the TU. The source file we are automatically choosing for the TU is probably not including that header (or is building a header only fallback TU if we fail to locate an includer source file).

I think it'

[2020-07-22 21:31] Trass3r commented on #3038
Return value is covered by #3214.
Regarding gdb, looks like you could instead of stepping over the function step into it and the execute finish:
https://stackoverflow.com/questions/267674/how-to-inspect-the-return-value-of-a-function-in-gdb

[2020-07-22 21:31] sean-mcmanus commented on #5822
Yeah, I've hit this issue too, mostly when my cursor is the Output logging.

The code that filters by cpp is at https://github.com/microsoft/vscode-cpptools/blob/release/Extension/src/LanguageServer/ui.ts#L164 .

So it would be pretty trivial to add/remove some filter at that spot (if the file types are general enough to be added without a setting), but more work to add a setting to always show it

[2020-07-22 21:48] Trass3r commented on #3214
Apparently [this](https://github.com/microsoft/vscode-js-debug/commit/fd6f258ec9968d61639a082ed02e49b0f249fe44) commit.
But a bit weird to see the return value while being inside the function rather than after returning.

[2020-07-22 22:07] pbannister commented on #5588
@bobbrow I do not seem to have any squiggles, anymore. Note the list of include directories I gave are specific to Ubuntu 20.04 LTS. Your Linux distribution might require something a bit different. The check is to add the extra flags to `ccflags-y` and then read the actual include options.

You might find this command gives easier to read output. (Need to adjust if `/usr/lib/gcc` is not your compi

[2020-07-22 22:11] #5796 closed, assigned to nobody

[2020-07-22 22:12] bobbrow commented on #5273
Thank you @shinze. I don't have a mac to try on right now, but I can see if I get similar results on linux.

@thehigherlife Go to definition can incur parsing costs when you open a file that hasn't been parsed before. And you're saying that the CPU pegging is permanent instead of temporary (i.e. it doesn't go away until you restart VS Code)?

[2020-07-22 22:20] bobbrow commented on #5273
@shinze , can you share your configuration for qmk_firmware?  While opening that file you mentioned it starts out with a squiggle on the `#include` because I don't have `QMK_KEYBOARD` defined.

[2020-07-22 22:26] UberUser commented on #5794
Ah, well that's easy to fix: realize that since they are independent uncoordinated implementations of a very complex definition they are highly unlikely to be exactly in sync all of the time.

Commendations for using both -Wall and -Wextra. Though it's hard to measure, doing that probably saves time in the long run.

I was trying to help. I still am.

Well, I'm new to it, but is it only pointing o

[2020-07-22 22:28] sean-mcmanus commented on #5798
I've filed a feature request on VS. If they add it, we might be able to get the fix from them.

https://developercommunity.visualstudio.com/idea/1122535/intellisense-for-c-values-for-enum-variablesargume-1.html

[2020-07-22 22:34] sean-mcmanus commented on #3204
@Colengms Are you able to repro this? Or do we need more info?

[2020-07-22 22:41] sean-mcmanus commented on #2499
I've filed a feature request on VS (if they add support, we would probably get it too due to shared code): https://developercommunity.visualstudio.com/idea/1122536/c-intellisense-request-to-support-sdcc-mcs51-decla.html

[2020-07-22 23:05] bobbrow commented on #5794
Hey, sorry we're jumping in on this issue late!  Let's please be respectful here.  We expect this to be a safe place to collaborate on issues.  Our code of conduct guide can be found here: https://opensource.microsoft.com/codeofconduct/

Regarding the `unix` predefined macro, this is inherited from our front end parser that handles IntelliSense.  Tracing through the code, it looks like 'unix' is a

[2020-07-22 23:06] ymkim92 commented on #5809
Thanks @bobbrow ,
Autocompletion works after changing `C_Cpp.intelliSenseEngine` to "Default".
But I found follow-up problems after that.
Please see the following code and comments:

[code]

What I found from the above test is that if data type is not defined or can't find it, intellisense doesn't work after that.
Is this correct behavior?
But I think it could work for local variable within `Func3

[2020-07-22 23:14] bobbrow commented on #5809
Usually the compiler can recover from an undefined symbol.  In this case it looks like the `&` after the undefined type breaks the compiler for the remainder of the source file.  Removing the `&` but keeping the undefined type appears to be a recoverable error.

This behavior is in our shared compiler code with Visual Studio.  Would you be willing to open an issue on [Developer Community](https://

[2020-07-22 23:17] ymkim92 commented on #5809
Thanks @bobbrow ,

I didn't know you could check my comment even if I delete it.
I wrote the previous comment without reading your comment for my deleted one. I am sorry.

[2020-07-22 23:19] bobbrow commented on #5809
I get email notifications, so I can still read it in my inbox if it was deleted. 😃 Hopefully my comment was still helpful.

[2020-07-22 23:19] weinand commented on #3214
@connor4312 VS Code should not use private protocol. If DAP is not sufficient to support showing return values, please create a DAP feature request.

@Trass3r you are invited to file a feature request for whatever you want to add to the DAP.

[2020-07-22 23:21] ymkim92 commented on #5809
It was very helpful. Thank you so much 👍.

[2020-07-22 23:24] connor4312 commented on #3214
@weinand js-debug doesn't use anything private/special in DAP. We just return a variable that we name "Return value."

js-debug will show the return value whenever it's present in the information we get from the runtime. This happens right after you step over a "return" statement, before the function is popped from the stack (though if you're running with sourcemaps, this location can be obscured;

[2020-07-22 23:30] #5809 closed, assigned to nobody

[2020-07-22 23:32] weinand commented on #3214
@connor4312 thanks for your confirmation that you are not using private protocol! :-)

[2020-07-22 23:50] UberUser commented on #5794
I think "unix" is still needed unless compiling to standard that says it should not be defined. In any case "\_\_unix\_\_" is the official variant now. Not sure if "__unix" is a also official or a nonstandard poor man's alternative. You might be standards-correct in not having "__unix" even though it's widely implemented.

No matter what you do then you'll be right according to somebody. :)

More

[2020-07-22 23:55] sean-mcmanus commented on #5803
Thanks a lot for reporting this. I've filed a bug on VS at https://developercommunity.visualstudio.com/content/problem/1122584/c-intellisense-confused-matching-forward-declarati.html (it's from a shared component).

[2020-07-23 00:04] sean-mcmanus commented on #1162
@Vanuan Yes, cpptools-srv (and cpptools) is closed source and covered by a more restrictive [EULA](https://github.com/microsoft/vscode-cpptools/blob/master/Extension/LICENSE.txt), not the [MIT license](https://github.com/microsoft/vscode-cpptools/blob/master/LICENSE.md). Yeah, you can try https://marketplace.visualstudio.com/items?itemName=llvm-vs-code-extensions.vscode-clangd . We have not invest

[2020-07-23 00:13] #5567 closed, assigned to nobody

[2020-07-23 00:19] sean-mcmanus commented on #5802
@michelleangela Were you able to repro this? Did you need more info or did you want me to try to repro it?

[2020-07-23 00:24] sean-mcmanus commented on #5141
Unfortunately, we haven't had a chance to investigate this further yet.

[2020-07-23 00:51] sean-mcmanus commented on #5797
Okay, I'm a little confused on how I can repro this or diagnose what is going unexpected. Can you run C/C++: Log Diagnostics and see if the Includes has the sysroot paths or not?

Oh, that other request was for MIPS64, but if we ever get around to supporting MIPS we might add a new issue for tracking 32-bit as well. We're currently working on ARM support (MIPS hasn't gotten enough requests yet).

[2020-07-23 01:02] sean-mcmanus commented on #5794
Yeah, I'm 6 days late in noticing this issue -- can someone summarize if there's anything we should follow up on in regards to this? Do we need to file a bug on VS (for our shared parser code)?

[2020-07-23 02:03] harishcholleti opened #5825 "Unable to lunch bash terminal in VSCode"
The terminal process failed to launch: Path to shell executable "C:\WINDOWS\sysnative\bash.exe" does not exist.

[2020-07-23 02:18] UberUser commented on #5794
I'm not sure if you're asking your co-workers or the world at large. If the latter, IMHO the answer is no (as the current behavior is baseline correct), unless you're committed at a high level to faithfully replicating the foibles of every compiler you support. In that case, you'd need to

1. Treat  "unix" as defined or not depending on the compiler options. E.g. it would be defined for "g++ t.c"

[2020-07-23 02:56] UberUser commented on #5797
I'll bet you could repo it by setting "Compiler path" to any cross compiler (or perhaps it's only gcc), opening a trivial program such as "hello world", and observing that <stdio.h> will resolve to /usr/include/stdio.h, instead of wherever the cross compiler's sysroot is located (as determined by "gcc -print-sysroot").

The log diagnostics show

Includes:
        /usr/include/c++/4.8.2
        /us

[2020-07-23 03:26] nikhilmaddirala commented on #5610
@fengxinming — Did you manage to solve this? I'm facing the same error! Thanks! :)

[2020-07-23 05:40] dannypike commented on #5821
@sean-mcmanus Thanks for your response.

That makes sense but, in my case, all of the ```std``` library headers are in the precompiled header for the project. I prefer not to have duplication, if I can avoid it - the [DRY principle](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself).

Would you consider adding an option to the Intellisense that would allow me to give it name of a pre-compiled

[2020-07-23 06:18] shinze commented on #5273
@bobbrow I've just installed the build environment. https://docs.qmk.fm/#/newbs_getting_started

[2020-07-23 08:03] heartacker opened #5826 "IntelliSense fail for marco"
**Type: LanguageService**

there is no suggestion for macro code. intellisense can't understand the `hh` as pointor. but it can under stand `hhh` as a csr pointor.
please support this, thank very much.
[code]
![image](https://user-images.githubusercontent.com/1876302/88263903-69ada000-ccfd-11ea-8d9f-8bda65afbe85.png)

[2020-07-23 08:24] domingguss commented on #5256
me three on macOS 10.14.6 , same issue with gdb 9.2, but in Eclipse O_o

[code]

[2020-07-23 08:53] heartacker commented on #5826
sorry
it works with brackets
`#define hh ((csr *)(0x10000000))`

[2020-07-23 08:53] #5826 closed, assigned to nobody

[2020-07-23 11:14] CordreSmith commented on #5819
@sean-mcmanus thank you for the fast response. Will test this when new update releases.

[2020-07-23 11:52] Trass3r commented on #3038
That's an easy one and already handled in the official natvis:
[code]

It is much worse that template code and thus in particular STL is riddled with member typedefs. This is severe!
For example I wrote this for std::optional:
[code]
Without the `($T1)` `value` gets a type like _Optional_payload::ResultType (which is a typedef of course) and when expanding the value node all the nested visualizati

[2020-07-23 12:05] Trass3r commented on #3214
Interesting read: https://stackoverflow.com/questions/267674/how-to-inspect-the-return-value-of-a-function-in-gdb
So in theory instead of stepping over a call you could do something like stepping into it and then execute finish. Or a platform-dependent approach like inspecting RAX etc.

[2020-07-23 15:28] tionebrr commented on #862
Hello folks. I love the fact that it has been fixed. Thanks!
I have 0.29.0. But I can't find how to enable the auto dereferencement.

[2020-07-23 15:43] NSExceptional commented on #862
@sean-mcmanus I have a simple question about how this was implemented.

Some background: I suggested this feature to the PHP intellisense developer—the exact same way you guys made it work—but he said it should be a "client-side" feature implemented by another extension and not the language server.

My question is this: does the LSP provide an API for modifying text behind the cursor when an autoc

[2020-07-23 16:44] xatian commented on #5794
Yeah ... I think this issue is not unreasonable :-) I am aware that different compilers produce different errors/warnings but I thought that the setting "IntelliSense Mode" takes care of that. Meaning that the actual compiler that I specify is used to parse the code. If you use something else in the background than of course there will be discrepancies.

What purpose has the setting "IntelliSense

[2020-07-23 17:15] bobbrow commented on #5794
To disable the error underlines, set the `"C_Cpp.errorSquiggles"` setting to `"Disabled"`.

[2020-07-23 17:24] bobbrow commented on #862
LSP Relevant section: https://microsoft.github.io/language-server-protocol/specification#textDocument_completion

The `CompletionItem` object has a property called "additionalTextEdits" that lets you make changes to the document behind the cursor.  We replace the `.` with a `-` using the "additionalTextEdits" and put the `>` preceding the name of the member.

[2020-07-23 17:25] xatian commented on #5794
@bobbrow nice! This solves my problem.

Question is ... does it solve this issue here? You did not answer my question regarding the "IntelliSense Mode" - setting. Do you care about inconsistent error-reporting across compilers?

[2020-07-23 17:25] bobbrow commented on #862
@tionebrr, feel free to open a new issue with details about what you are trying and what you expect to see.

[2020-07-23 17:30] sean-mcmanus commented on #5541
Seems to not repro anymore.

[2020-07-23 17:30] #5541 closed, assigned to nobody

[2020-07-23 17:44] bobbrow commented on #5794
There are a number of settings we need to send to the IntelliSense compiler when we set it up: the compiler to emulate, the size of certain types, the include path, the defines, and various other switches.  The purpose of the values in the "configurations" section of `c_cpp_properties.json` is to give us the information we need to configure IntelliSense.

We do care about inconsistent error report

[2020-07-23 17:48] bobbrow commented on #5821
We do have such an option.  It is called "forcedInclude" in [c_cpp_properties.json](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference)

[2020-07-23 17:50] NSExceptional commented on #862
Thanks so much! Just what I was looking for.

[2020-07-23 18:28] sean-mcmanus commented on #5797
We query the compiler for system includes. What is output when you use "gcc -Wp,-v -E -x c++ /dev/null"? A similar issue might be https://github.com/microsoft/vscode-cpptools/issues/5113 .

[2020-07-23 18:30] Prehistoricman opened #5828 "Inactive regions don't dim in non-root folders"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 Pro
- VS Code Version: 1.47.2
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): CMake, Python, SVN, Verilog-HDL/SystemVerilog
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

I have a workspace with two folders: the

[2020-07-23 18:32] Prehistoricman commented on #5828
May be related to #5812? I don't have custom colours set up however.

[2020-07-23 19:05] sean-mcmanus commented on #5828
Yeah, it's related to https://github.com/microsoft/vscode-cpptools/issues/5812 and will be fixed in our next release.

[2020-07-23 19:27] dannypike commented on #5821
@bobbrow . Thank you, that's perfect!

I missed that when I scanned the docs; I think that I may need to [drive to the nearest castle](https://www.theguardian.com/politics/video/2020/may/25/dominic-cummings-says-he-drove-to-barnard-castle-to-test-his-eyesight-video), tomorrow.

[2020-07-23 19:27] #5821 closed, assigned to nobody

[2020-07-23 20:09] ridiculousfish commented on #3858
@sean-mcmanus I have a repro: clone [this repo](https://github.com/ridiculousfish/cpptools-crash), open it in vscode, and open the `array-functions.cpp` file. cpptools should immediately crash.

The file is a JS file renamed with a .cpp extension. In my main repo it's a js file - unclear why cpptools is looking at it in the first place, but a repro is a repro!

[2020-07-23 21:04] Colengms commented on #5819
Reopening for now.  We'll close this issue when the fix is released.

[2020-07-23 21:06] sean-mcmanus commented on #3858
Thanks for finding the repro. I've filed a bug on VS at https://developercommunity.visualstudio.com/content/problem/1124049/vs-crashes-when-opening-a-particular-c-file.html (crash is from our shared code).

However, we should not be parsing JS files -- we explicitly only parse files registered as C/C++ or that have file types we treat as C/C++ or are `#included` by a file registered as C/C++, so I

[2020-07-23 21:07] captainzonks commented on #5791
I'm having this issue as well. I'm on Manjaro and using a variety of libraries and includes.

Modifying the c_cpp_properties.json will suddenly fix everything for a moment (everything is found, squiggles disappear) but within a few minutes they're all lost again and the squiggles return. It doesn't matter what I modify or change in the json file (such as ciwei100000 suggesting switching from gnu++

[2020-07-23 21:26] sean-mcmanus commented on #5791
@captainzonks We need more repro info about your particular configuration (such as from C/C++: Log Diagnostics). Modifying the c_cpp_properties.json is probably triggering a reparse, and when that finishes the squiggles are appearing.

[2020-07-23 21:46] sean-mcmanus commented on #5794
I've filed a bug on VS for the "unix" issue: https://developercommunity.visualstudio.com/content/problem/1124102/c-intellisense-incorrectly-defines-unix-in-stdcver.html . I could move that to a new issue if we're going to use this issue to track other issues.

[2020-07-23 21:48] sean-mcmanus commented on #5794
@bobbrow @Colengms Is Colen going to follow up on the template issue?

[2020-07-23 21:49] captainzonks commented on #5791
@sean-mcmanus

[code]

---

I'm looking again at the squiggles. And I think it's primarily macros that IntelliSense is having an issue with. And oddly, upon hovering over the macros it'll pop out the definition (...expands to: ...) but then beneath the definition it'll have "identifier "PROT_WRITE" is undefined" (for example, from the mmap() function). Does that make sense?

Also, that Diagnostics

[2020-07-23 21:55] bobbrow commented on #4909
setting `editor.action.revealDeclaration` as the alternate definition command seems to work for this issue.  I'm not sure what `editor.action.goToDeclaration` is supposed to do or why it doesn't work for this case.

[2020-07-23 21:57] #4878 closed, assigned to nobody

[2020-07-23 22:03] sean-mcmanus opened #5829 "PROTO_WRITE not defined with g++ 10.1"
@sean-mcmanus

[code]

---

I'm looking again at the squiggles. And I think it's primarily macros that IntelliSense is having an issue with. And oddly, upon hovering over the macros it'll pop out the definition (...expands to: ...) but then beneath the definition it'll have "identifier "PROT_WRITE" is undefined" (for example, from the mmap() function). Does that make sense?

Also, that Diagnostics

[2020-07-23 22:03] sean-mcmanus commented on #5829
That is odd. I don't repro the issue with gcc 10.0 (might be specific to 10.1?). I see PROTO_WRITE defined at /usr/include/x86_64-linux-gnu/bits/mman-linux.h . Does Go to Defintion return any results for that?

Most likely IntelliSenese thinks the definition is in an inactive region due to some particular defines.

[2020-07-23 22:06] sean-mcmanus commented on #5791
@captainzonks I've moved your issue to https://github.com/microsoft/vscode-cpptools/issues/5829

[2020-07-23 22:14] captainzonks commented on #5829
@sean-mcmanus

Go to Definition works just fine. It knows where everything is. That's what is weird. Even my own defined Macros in another header also get squiggles (but it knows where to find them).

[2020-07-23 22:38] ridiculousfish commented on #3858
Yes, I did indeed have `"*.js": " cpp"` in my settings.json. Not sure how it got there - perhaps due to `C_Cpp.autoAddFileAssociations` which is also enabled? Our project has a mix of C++ and JS and they share a lot of identifiers.

[2020-07-23 22:47] sean-mcmanus commented on #5829
I added the /usr/include/SDL2, but the issue still didn't repro.

After the Go to Defintion, do you see the definition as being inactive?

@Colengms @michelleangela Are any of you able to repro this?

I guess it could be a gcc 10.1 specific issue. Looks like gcc 10.2 fixes a bunch of bugs. Is there an easy way to get the gcc 10.1 binaries? I got the gcc 10.1 source, but I haven't gotten it to buil

[2020-07-23 22:59] sean-mcmanus commented on #3858
It sounds like there could be a bug with the autoAddFileAssociations. If you delete the `"*.js"` entry that should workaround the crash, but if you see `"*.js"` return, let us know if you can find out what is triggering that -- it's supposed to only do the auto add in cases that are valid. Our database should have no knowledge of what identifier are in the .js file until it's parsed as C/C++, so I

[2020-07-23 23:16] Colengms commented on #5794
I opened the following against VS for the template issue: https://developercommunity.visualstudio.com/content/problem/1124151/c-intellisense-error-involving-default-template-ar.html

[2020-07-23 23:17] Colengms commented on #5811
Hi @adrianghc .  Thanks for reporting this.  I'm also able to repro in VS.  (Some code involved is shared with VS).  I've opened the following bug against VS: https://developercommunity.visualstudio.com/content/problem/1124109/issues-with-multi-line-c-doxygen-doc-comments-afte.html

[2020-07-23 23:18] Colengms commented on #5791
Closing this, as I believe olijaun's issue has been addressed.

[2020-07-23 23:18] #5791 closed, assigned to nobody

[2020-07-23 23:19] Colengms commented on #5791
Also, the following issue is tracking makefile support: https://github.com/microsoft/vscode-cpptools/issues/5791

[2020-07-24 02:05] captainzonks commented on #5829
@sean-mcmanus
No, no inactive. "mman-linux.h" opens and those defines aren't wrapped in anything that would make them inactive.

Another example, the same issue is with "_rdtsc()" define for "__rdtsc()" in ia32intrin.h. It goes to the definition just fine too and that's not wrapped either.

[2020-07-24 02:19] UberUser commented on #5797
And here I thought that it was the headers in the sysroot that were used. I'm happy to find out about this other set.

The requested output plus an example of the paths simplified:

[code]

[2020-07-24 06:33] jeffrey0407 opened #5831 "Need help with an error: "Connection to server got closed. Server will not be restarted""
**Type: LanguageService**
With Visual Studio Code I'm having the issue: Connection to server got closed. Server will not be restarted.

**Describe the bug**
- OS and Version: Windows 10 x64
- VS Code Version:1.47.2
- C/C++ Extension Version:0.29.0
-Issue: The first time I installed VSCode and C/C++ I'm getting an error that says ** Connection to server got closed. Server will not be restarted.** I

[2020-07-24 13:05] aallrd commented on #714
Hello,
I can confirm this is not working with cpptools 0.29.0, it sets a regular breakpoint:
[code]
Manually calling the command `-exec ignore <BREAKPOINT_NUMBER> <HIT_COUNT>` in the debug console after transforms it successfully in a conditional breakpoint.

[2020-07-24 14:53] Nufflee opened #5832 "Identifier renamer breaks when identifier contains "$" (dollar sign)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 v1903
- VS Code Version: 1.48.0-insiders
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): N/A
- Does this issue involve using SSH remote to run the extension on a remote machine?: no
- A clear and concise description of what the bug is, including informat

[2020-07-24 15:24] thehigherlife commented on #5273
@bobbrow  It seems to peg, a quit & restart of vscode does not cause the CPU to ramp again.

[2020-07-24 18:24] Colengms commented on #5832
Hi @Nufflee .  This looks similar to this issue: https://github.com/Microsoft/vscode/issues/51084

There does appear to be a way for the C/C++ Extension to correct the string.  However, I'd suggest also opening a bug against VS Code, in case they would prefer to address this in their default cpp language support, by updating the pattern they use for `wordPattern` in `cpp\language-configuration.jso

[2020-07-24 20:45] Colengms commented on #5831
Hi @jeffrey0407 .  I noticed the following in your log:

[code]

The extension appears to crash as it starts parsing files (which writes to the database).  Normally, you could reset the database using the `C/C++: Reset IntelliSense database` command, but that would require the extension to be running at the time.  You may need to delete the database directly.  If you have not modified the setting

[2020-07-24 22:36] MichaelKim opened #5833 "IntelliSense showing error with constexpr array of size 65536"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 19041
- VS Code Version: 1.47.2
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): None
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- The workspace is a folder containing a single file with the example below.

**

[2020-07-25 01:08] pbannister commented on #5588
Maybe a warning. Intellisense has stopped working for regular C++ projects. (As in, WTF??)

Intellisense still works just fine in my driver project, but a simple hello-world example created from scratch cannot find `<stdio.h>`. (In disbelief, trying creating several from-scratch new projects, all with same result.)

Right. Deleted ~/.vscode/. Rebooted. Installed C/C++ extension from Microsoft (ver

[2020-07-25 02:15] bobbrow commented on #5588
Can you run the C++ Log Diagnostics command and paste the result here? I suspect something is going on in your settings.

[2020-07-25 02:17] Agonz937 commented on #5169
@nantha42 Thank you that helped me out.

[2020-07-25 08:14] minecraft2048 opened #5834 "Default cStandard is incorrectly c11 instead of gnu18 when the default compiler is gcc"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 20.04 LTS
- VS Code Version:Version: 1.46.1
- C/C++ Extension Version: v0.29.0
- `CRTSCTS` from `termios.h` is squiggled with `identifier "CRTSCTS" is undefined`  but it can compile on gcc without any problems

**Steps to reproduce**

1. Enter this source file:
[code]
2. Try compiling the code with `gcc -o test2 test2.c` and

[2020-07-25 12:56] ShenTonyM opened #5835 "Bugs: Intellisense autocomplete fails in Tensorflow project. However the feature works good in other project"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04 and Windows 10
- VS Code Version: 1.47.2
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): Python, Code Runner, Git History, Gitlens, Todo Tree
- Does this issue involve using SSH remote to run the extension on a remote machine?: Fails both local and rem

[2020-07-26 01:52] heartacker opened #5836 "ParameterHints within Doxygen comment - that uses colon after param"
hi, c_cpp has support Doxygen comment.
thus, it would be great if  Parameter Hints support them.
<img width="681" alt="c++" src="https://user-images.githubusercontent.com/1876302/88469571-8c220200-cf25-11ea-86fc-2521813e28a7.png">

[2020-07-26 08:02] abhishek-sankar commented on #694
Same error. How do I fix this?
<img width="1104" alt="Screenshot 2020-07-26 at 1 32 22 PM" src="https://user-images.githubusercontent.com/41414202/88474482-7112ba80-cf44-11ea-81fe-c63c2b556793.png">

[2020-07-26 09:56] madhu-GG commented on #2013
2 year old bug? Nice.

[2020-07-26 16:16] mebuis commented on #5400
I have the same problem
I want to use vscode to debug linux kernel....

[2020-07-26 16:27] zwangz commented on #5805
Hello, has there been any progress pls?

[2020-07-27 08:21] codingoverdrive commented on #429
Great to see this merged. Any idea when it will be released and available for use? Is there any way to get early access otherwise? Desperately need this for development on the pi.

[2020-07-27 10:56] sirbabyface commented on #2013
I think this is fixed.

[2020-07-27 13:18] heartacker opened #5837 "c_cpp_peroperty.json error when i change include path"
Every time I **change/add/remove** the `include` path, It gets an error and only thing is to restart vscode

![image](https://user-images.githubusercontent.com/1876302/88546015-59bff400-d04e-11ea-8131-1144b8d9248b.png)

[2020-07-27 13:19] heartacker commented on #5837
{
	"resource": "/f:/ATCProjectFiles/MCU/NXP/S32K146_Study/.vscode/c_cpp_properties.json",
	"owner": "languageErrors25",
	"severity": 8,
	"message": "Parse error on line 74:\n...**\"                \"C:\\\\Keil_v5\\\\ARM\\\\P...\n----------------------^\nExpecting '}', ':', ',', ']', got 'STRING'",
	"startLineNumber": 74,
	"startColumn": 17,
	"endLineNumber": 74,
	"endColumn": 86
}

[2020-07-27 14:32] jkhoogland commented on #1073
Hi,
sorry to reopen, but I have been having this exact issue with random corrupting of files on saving with clang-format on.

OSX 10.15.3
VSC 1.47.2
cpptools 0.29.0
clang-format 10.0

It is very hard to nail down a reproducible example, but I have switched off all extensions but cpptools 0.29.0.
When I select format-on-save using clang format, at random times, the file gets corrupted on saving.

W

[2020-07-27 14:34] giellamo commented on #1073
@jkhoogland do you have links in your Path?

[2020-07-27 16:16] jkhoogland commented on #1073
No, I work in files in a repo, no soft links.

[2020-07-27 16:51] bobbrow commented on #429
We hope to do an Insiders release with this support enabled sometime this week.  We have compiled the binaries with a raspi 3 sysroot.  To be transparent with everyone, we are only looking at Raspberry Pi ARM support right now.  Other devices will be unsupported at this time, but if the binaries are capable of running on other boards, they will not be blocked.  ARM64 support is tracked by a separa

[2020-07-27 17:42] Colengms commented on #5776
I have tried a number of things, with no repro.

[2020-07-27 18:04] Colengms commented on #5776
Only repro's if the default compiler is not explicitly set.

[2020-07-27 19:44] michelleangela commented on #5836
@heartacker

The extension supports parameter hints. The name of the parameter is used as the key to find its corresponding comment from the Doxygen comment structure. It looks like from the screenshot, the name of the param in the comment has `:` and the actual parameter does not. The Doxygen parser will not be able to match `E4E2x:` with the actual parameter name `E4E2x`. Could you try removing

[2020-07-27 20:02] djose1164 opened #5840 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cpptools`
- Extension Version: `0.29.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.47.3`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\djose\ms-vscode.cpptools-unresponsive.cpuprofile.tx
[ms-vscode.cpptools-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-cpptools/files/

[2020-07-27 20:05] bigOconstant commented on #429
Thanks, I'm on the arm64 build of raspberry pi os with the new 8gig model so would much appreciate a arm64 build to test.

[2020-07-27 20:35] sean-mcmanus commented on #5797
Is your compilerPath set to the mipsel-linux-gcc compiler? From the Includes logging earlier it appears it's not getting used. If you set C_Cpp.loggingLevel to "Debug" do you see any more compiler querying diagnostics in the C/C++ logging that can explain why it appears to be falling back to some other compiler with gcc 4.8 headers?

[2020-07-27 20:44] peter-pri commented on #429
I am running my own vscode build for ARM64  on a Raspberry OS 64 bit OS and a Jetson Nano. On both systems it runs very well. I modified the build scripts to use less memory. Hopefully this not necessary with the 8GByte Version of the Raspberry 4B. I did not have the time to test it yet. Getting an official build for vscode and the cpptools would save me a lot of time :-)

[2020-07-27 21:31] sean-mcmanus commented on #5273
@thehigherlife It sounds like the CPU usage is from the Go to Definition. If you set C_Cpp.loggingLevel to "Debug", you may be able to see more in regards to what processing is occurring that is causing the CPU usage. Attaching a debugger (or a profiler tool) and providing us with the call stacks might also help to diagnose what is causing the CPU usage.

[2020-07-27 22:03] sean-mcmanus commented on #5834
Change your cStandard property to gnu11 to fix the issue
[code]
Let us know if you think there's a bug with the default cStandard not being set correctly (I think it should be gnu11 by default if we detect a gcc compiler by default).

[2020-07-27 22:17] sean-mcmanus commented on #5833
Thanks for reporting this. I've filed a bug on VS at https://developercommunity.visualstudio.com/content/problem/1127113/c-intellisense-gives-the-error-expression-must-hav.html .

[2020-07-27 22:23] sean-mcmanus commented on #5834
Yeah, I just reproed a bug where cStandard is being set to c11 by default instead of gnu11 (cppStandard is correctly gnu++14).

[2020-07-27 22:26] sean-mcmanus opened #5842 "c_cpp_properties.json is generated with intelliSenseMode clang-x64 instead of gcc-x64 with gcc"
The default intelliSenseMode uses gcc-x64 when gcc is chosen as the default compiler, but when the c_cpp_properties.json is generated it replaces that with clang-x64.

[2020-07-27 22:48] sean-mcmanus commented on #5834
The bug repros when the compiler reports `__STDC_VERSION__` 201710L. Should be trivial to fix. The default of gnu18 should be used (we were only handling the case where the compiler reported a 2018 version).

[2020-07-27 22:51] UberUser commented on #5797
Yes

I assumed that setting goes in .vscode/c_cpp_properties.json. I added
`"C_Cpp.loggingLevel": "Debug"`
to the end of my one configuration, and ran Log: Diagnostics again.

The only change in output was in the process info and the addition of the logging level setting itself.  That makes me wonder if I did that right...

Further details: I temporarily replaced the compiler path with a script th

[2020-07-27 23:28] sean-mcmanus commented on #5797
By "C/C++ logging" I mean the "C/C++" logging section and not the "C/C++ Diagnostics" section.

The "ignoring nonexistent directory" is commonly occurring and unlikely to cause an issue.

[2020-07-27 23:28] milan-r-shah opened #5843 "C++ IntelliSense works fine except for PCL (Point Cloud Library)"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04 (also, Ubuntu 16.04)
- VS Code Version: 1.47.2
- C/C++ Extension Version: v0.29.0
- Other extensions you installed (and if the issue persists after disabling them): CMake Tools (by Microsoft), CMake (by twxs), Python (by Microsoft)
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

[2020-07-28 00:45] UberUser commented on #5797
Er, Ok, but where is that? I don't see it as as command to run nor is it a choice in the drop down that includes the "C/C++ Diagnostics" section:

![Screen Shot 2020-07-27 at 5 23 25 PM](https://user-images.githubusercontent.com/68451404/88605386-954ac600-d02e-11ea-8d62-a66d7a1f06e2.png)

With the last choice listed there though there's the following at the end of the output:

[code]

That seems l

[2020-07-28 01:10] sean-mcmanus commented on #694
@AbhishekS-2099 Can you download https://github.com/microsoft/vscode-cpptools/releases/download/0.29.0/cpptools-osx.vsix and run the "Install from VSIX" command in VS Code?

We don't know what is causing that particular permission denied error.

[2020-07-28 01:21] abhishek-sankar commented on #694
I tried that, but the error was persistent. I tried running VS Code as a root user and it got fixed. The present extensions work now. I still can't add new extensions though.

[2020-07-28 01:26] sean-mcmanus commented on #5835
I'm seeing `Quick info operation failed: FE: 'Compiler exited with error - No IL available'` in the logs.

How do I get mkldnn.hpp to resolve? I assume I have to build the 3rd party dependency somehow?

[2020-07-28 01:40] WardenGnaw commented on #5840
Please attach `C:\Users\djose\ms-vscode.cpptools-unresponsive.cpuprofile.txt`

[2020-07-28 02:01] Colengms commented on #5477
Currently, this is by design.  We changed it due to feedback we received from the VS Code team at #3774 .  Closing this issue.

[2020-07-28 02:01] #5477 closed, assigned to nobody

[2020-07-28 03:35] a5066987 opened #5844 "Pointer modifier recognized as different token"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Win10 10.0.19042.421
- VS Code Version: 1.48.0 Insider
- C/C++ Extension Version: 0.29.0
- Does this issue involve using SSH remote to run the extension on a remote machine?:  **No**

Why the first "*" is recognized as `storage.modifier.pointer.cpp` but the second one is `keyword.operator.cpp`? Is this a bug or a feature? I think bo

[2020-07-28 03:52] djose1164 commented on #5840
[ms-vscode.cpptools-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-cpptools/files/4985865/ms-vscode.cpptools-unresponsive.cpuprofile.txt)

[2020-07-28 05:05] ghost opened #5845 "Parameter Name Hints shown inline"
Now that we have doxygen comment supported to help code readability, it would be also useful to have a CLion-like name hint to be shown inline all the time (just like named parameters)

So that instead of this
![image](https://user-images.githubusercontent.com/53231928/88621427-a517e800-d0ca-11ea-974e-5578688cb26b.png)

we get this instead

![image](https://user-images.githubusercontent.com/532319

[2020-07-28 07:52] photex commented on #3815
I have a similar situation. Output from another tool seems to prevent the problem matcher from working. The task runs a tool (tmbuild) which runs premake, which runs msbuild I guess, which runs cl.exe. The paths appear correct and the output is colored correctly. I can ctrl+click on the file and jump to the line. But there is no output in the "Problems" tool window.

VS Code 1.47.3 (June 2020)

[2020-07-28 07:55] photex commented on #3815
Also, the [documentation](https://code.visualstudio.com/docs/cpp/config-msvc) only demonstrates functionality if a person uses cl.exe directly in the task definition window.

If I try this with a CMake project, using the CMake-tools extension the output window is used instead of the terminal since it builds without a task. I can't ctrl+click on the file path, but I *do* get errors and warnings lis

[2020-07-28 08:53] mbrunnen commented on #3189
Also not solved there, just closed.

[2020-07-28 09:40] mbrunnen opened #5846 "Unable to load shared libraries for the debugger"
I am not able to pass the shared library search path to my debugger within vscode. I have cpptools version `v0.29.0` with vscode `v1.47.3` on linux and my `launch.json` looks like this:
[code]

I still get the error, that the Library was not found. The same command run in a shell with the environment variable works perfectly, but in vscode I get this output:

[code]

Also setting "AdditionalSOLibS

[2020-07-28 15:29] mbrunnen commented on #5846
Seems to be similar to #3189.

[2020-07-28 15:50] hyh19962008 opened #5847 "Adding custom language tokens into the cpptools"
Yah Hi, we have a proprietary language which is based on c++. It's compatible with the c++ grammar and tokens while adding some other tokens and grammar. So, we wanted to add those tokens into the cpptools extension so that intellisense can work functionally but not printing red wavy line and emitting syntax error message on those tokens. I wonder if you guys is able to tell me where to start ? Is

[2020-07-28 16:06] ak-karimzai commented on #4975
@zmt0516  can u show me your tasks.json file i try to do something like that but no result

[2020-07-28 16:06] ak-karimzai commented on #4975
[code]

[2020-07-28 16:48] bobbrow commented on #5847
I'm sorry, there's not much we can do to help here.  Our parser is not open source, so there is no way for you to implement this feature.

If you are just adding intrinsics, these can be handled by adding entries to the `"defines"` array in `c_cpp_properties.json` to make them look like standard C++ types, or make them invisible to our parser.  (e.g. "myint_t=int32_t", "myattribute=")

[2020-07-28 16:48] #5847 closed, assigned to nobody

[2020-07-28 16:51] michelleangela commented on #5842
@sean-mcmanus  the issue  https://github.com/microsoft/vscode-cpptools/issues/5352 was created because of this potential mismatched with IntelliSenseMode and compiler.

[2020-07-28 17:36] sean-mcmanus commented on #5842
Oh, so you're saying this is a duplicate?

[2020-07-28 17:45] michelleangela commented on #5842
Yes, closing as a duplicate.

[2020-07-28 18:04] sean-mcmanus commented on #5837
Could you provide the text of c_cpp_properties.json? Or just the text of the includePath section. Also, what edits are you making?

[2020-07-28 18:28] sean-mcmanus commented on #1073
@jkhoogland If anyone can find a set of reproducable steps, that would help debug/fix the document corruption issue. Most likely, the formatting itself is not the cause of the corruption, but some other operation previously which corrupts the internal document object that is the input to the formatter.

[2020-07-28 18:37] StevenFrawley commented on #2506
Need this to develop on both an ARM64 target (Jetson), and for same but remotely from Ubuntu.
Needed to support government work, which I know is sometimes an oxymoron...

[2020-07-28 18:42] #5842 closed, assigned to nobody

[2020-07-28 18:45] vbrzeski commented on #5245
I have had the same problem FYI. It may be wise to change this behavior for an out-of-the-box experience that I have been enjoying out of VS Code so far :)

[2020-07-28 18:54] ryanpholt opened #5848 "Compiler probe fails if relative paths as passed through for unhandled args"
Starting with 0.29.0, I had to set the compiler path explicitly even though I have configured intellisense with a compile_commands.json file. The compiler to use is in the compile_commands.json and so I would have expected that it would be automatically picked up. I also noticed that it doesn't fallback to a default compiler either. Is this expected?

[2020-07-28 19:04] sean-mcmanus commented on #5797
I don't see the "C/C++" logging section in your screenshot. Are you sure the loggingLevel is set to "Debug" and the extension is running? See https://code.visualstudio.com/docs/cpp/enable-logging-cpp .

The [ms-vscode.cpptools] provider FAILED error message is okay and unrelated. There's another VS Code issue tracking that.

[2020-07-28 19:36] sean-mcmanus commented on #5844
The issue is inherited from VS Code itself, which is then inherited from the Better C++ Syntax extension, which I've filed an issue on at https://github.com/jeff-hykin/cpp-textmate-grammar/issues/493

[2020-07-28 19:36] #5844 closed, assigned to nobody

[2020-07-28 21:07] UberUser commented on #5797
No, I'm not sure at all. That's why I said "I assumed that setting goes in .vscode/c_cpp_properties.json." and said I added it there. However with the directions from your link I see that that setting goes in .vscode/settings.json. With it set there I get

[code]

[2020-07-28 21:12] sean-mcmanus commented on #5840
Looks like some issue with the collectSettings code taking too long. Do you have a repro? Do you have a lot of settings set? I don't seem to be able to detect a performance issue when profiling.

[2020-07-28 21:15] Rasie1 opened #5849 "IntelliSense is unresponsive with Unreal Engine 4"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10 10.0.18362
- VS Code Version: 1.47.2
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): CMake, Contextual Duplicate, Encode Decode, GitLens, Graphviz, Increment Selection, indent-rainbow, markdownlint, Path Intellisense, Prettier, Prettier-Stanard, Python,

[2020-07-28 22:00] djose1164 commented on #5840
Yes, I have repo and a lot of settings set. Perhaps that's the cause of the issue?

[2020-07-28 23:20] Colengms commented on #5848
Hi @ryan-holt-1 .  Do you happen to have `C_Cpp.default.compilerPath` set?  I'm able to repro with that set, but I'm unable to repro without it set.  It seems to be using this value, even though it should not when `compileCommands` is also set.  I have a fix for this, which should be available in our next insiders.  However, if that is not set in your repro, could you provide additional informatio

[2020-07-29 01:33] heartacker commented on #5837
there is the condition
![cpp_json](https://user-images.githubusercontent.com/1876302/88746143-65123d00-d17e-11ea-94ed-477f28b9d7c4.gif)

[2020-07-29 01:41] blanerhoads commented on #1899
Me three

[2020-07-29 02:11] jkhoogland commented on #1073
right, I really wish I could find some reproducible, but have not yet found it. Will try to find it and let you know.

[2020-07-29 05:57] JunHilot1990 commented on #4527
Thanks men

[2020-07-29 06:17] xgdgsc commented on #5521
I also see this. Especially misleading with `else if` folded.

[2020-07-29 08:44] pinzhenx opened #5850 "Unable to evaluate unordered_map keyed by pointer address"
Type: Debugger

**Describe the bug**
Version: 1.47.1
Commit: 485c41f
Date: 2020-07-14T00:13:57.513Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.3.0-62-generic
C/C++ Extension Version: v0.29.0
GDB Version: GNU gdb (Ubuntu 8.2-0ubuntu1~18.04) 8.2

**To Reproduce**

Got the wrong results in the Variables pane. The expected result was shown in the de

[2020-07-29 08:58] smdmori commented on #2146
Tried this in 1.47.2 on Ubuntu in python environment, and it's still happening.

[2020-07-29 10:11] Shoreshen commented on #5471
I met the same problem when debugging my kernel. Currently the only way is to press pause button soon after start debugger, then type "-exec hbreak Start_Kernel". Hope someone can teach me how to halt by itself

[2020-07-29 10:30] maxim-babenko commented on #5621
I have upgraded to 0.29.0 but still suffer from this problem.

To me it seems related to the fact that cpptools is traversing files it should definitely not be touching at all.

Here's my code-workspace file:
https://gist.github.com/maxim-babenko/28326adad81b70b1a199b49f6a438b59

I'm seeing tons of newfstatat calls to files outside of the supposed indexing range.

Also here are some results of ls

[2020-07-29 11:04] GiovanniDicanio opened #5851 "CppVsDbg debugger hangs when trying to interactively debug user input"
Type: Debugger
**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): None
- When trying to debug C/C++ programs that read user input (e.g. using `scanf`), the debugger hangs when stepping over the input instruction.

**To Reproduce**

Try to debug the following

[2020-07-29 12:05] Quaziz-creator opened #5852 "Cannot find arm64 bit version"
Type: General

**Describe the issue**
On https://github.com/microsoft/vscode-cpptools im promised that a 64bit version exist on https://github.com/Microsoft/vscode-cpptools/releases but i can't at all find it.

**Screenshots**
![image](https://user-images.githubusercontent.com/56341199/88798008-7c642100-d1a4-11ea-9bb0-6749d7b1e8ee.png)
![image](https://user-images.githubusercontent.com/56341199/88

[2020-07-29 12:06] #5852 closed, assigned to nobody

[2020-07-29 12:07] Quaziz-creator commented on #5852
Realised a bit too late that it did not state arm64 but only 64 bit versions of linux

[2020-07-29 12:10] umasankar-yedida commented on #5799
I have tried this approach, but still it shows blank terminal. Also, when I click on Stop, it shows *timeout after 1000 ms*. Don't know what that means.. :(

[2020-07-29 12:14] Rullec commented on #664
Waiting for it!

[2020-07-29 12:17] grigorig commented on #4614
This started to appear recently for me. There is nothing obvious in the diagnostics log at all. I'm using version 0.29 of the extension. Is this a regression?

[2020-07-29 14:31] photex commented on #3815
Howdy! I've determined the problem to be something that occurs when you're using a *.code-workspace instead of just opening a folder.
For whatever reason, task output in a workspace is delivered to the Terminal tab instead of the Output tab. That's most obvious difference and the result is that I'm seeing errors and warnings in the Problems tab correctly again and can cycle through issues using F8

[2020-07-29 16:20] GiovanniDicanio opened #5853 "Make it possible to compile and debug C/C++ code even when VS Code is launched using its icon"
OS: Windows 10
VS Code Version: 1.47.3
Microsoft C/C++ Extension Version: 0.29.0

When launching VS Code from its icon, I get errors when trying to compile and debug C/C++ code.
It seems VS Code must be launched from the Visual Studio Developer Command Prompt to properly build and debug C/++ code.

Please make it possible to simply launch VS Code from its icon, and have it work properly.

[2020-07-29 16:47] GiovanniDicanio opened #5854 "Output is not displayed in the integrated VS Code Debug Console when stepping over output instructions"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): None
- When stepping over output lines like `printf()`, no output is displayed in the integrated VS Code Debug Console.

**To Reproduce**
Consider the following simple C code:

[code]

`launc

[2020-07-29 17:19] bobbrow commented on #5621
1. Do you have any symlinks that could be sending our indexer here?
2. We may traverse some paths but we won't parse the actual files in those paths if they are excluded.

If you enable "C_Cpp.loggingLevel": "Debug", our extension will print out the files that it is actually parsing in the Output Window (you have to select the "C/C++" log channel from the drop down box to see it).

[2020-07-29 17:21] bobbrow commented on #5852
Correct.  We are working on ARM64 support now: #2506.

[2020-07-29 17:24] bobbrow commented on #664
We began investigating this, but it won't likely be completed in time for the 0.30.0 milestone.

[2020-07-29 17:30] maxim-babenko commented on #5621
1. Not likely.
2. Our monorepo is pretty big, some millions of files in total. Like I mentioned before, we use FUSE for accessing it. So even traversing the whole source tree (via FUSE, again) could take quite a while; and it is not needed, in fact I expect vscode not to touch the directories listed in the exclusion list.

I have "C_Cpp.loggingLevel": "Debug" in my settings.json

[2020-07-29 17:48] maxim-babenko commented on #5621
A complete log is here:
https://gist.github.com/maxim-babenko/13b66261e7e1309364432f16df3e9e1f

[2020-07-29 18:02] maxim-babenko commented on #5621
OK, 1) above is more interesting; indeed there's a link
$ stat /home/babenko/arc/arcadia/.arc
  File: '/home/babenko/arc/arcadia/.arc' -> '/yt/nvme1/babenko/arc/store/.arc'

But .arc is in files.exclude, so why does vscode follow it?

[2020-07-29 19:23] sean-mcmanus opened #5856 "Change Insider updateChannel mechanism to not rely on GitHub hosted vsix's"
The code in getTargetBuildInfo needs to be changed to not reference vsix's hosted on the GitHub releases page. I was thinking it could just be a .txt file that contains an fwlink that references the vsix.

[2020-07-29 19:45] sean-mcmanus opened #5857 "Remove the non-MIT EULA (Extension/License.txt) from GitHub and move it into the binaries zip file and vsix build process"
- [x] 1. Remove the non-MIT (restrictive) [license](https://github.com/microsoft/vscode-cpptools/blob/master/Extension/LICENSE.txt) to avoid confusion with the [MIT license](https://github.com/microsoft/vscode-cpptools/blob/master/LICENSE.md).
- [x] 2. Possibly added references to the [marketplace license](https://marketplace.visualstudio.com/items/ms-vscode.cpptools/license) (or to a new fwlink t

[2020-07-29 20:01] sean-mcmanus opened #5858 "Rename master branch to main (after GitHub fixes issues with it)"
Refer to https://github.com/github/renaming#later-this-year . The guidance appears to be to wait till the rename issues are fixed with GitHub.

[2020-07-29 20:12] WardenGnaw commented on #5851
We do not have support for the intergrated terminal for `cppvsdbg`.

We are tracking that here https://github.com/microsoft/vscode-cpptools/issues/5386

[2020-07-29 20:12] #5851 closed, assigned to nobody

[2020-07-29 20:26] nlieb commented on #5550
Also seeing this issue with Clang++10. Would love to see this supported in Clang configurations if possible. Is it a simple matter of enabling this check for Clang?

[2020-07-29 22:54] Zulqarnain-cc34 commented on #2480
thank you

[2020-07-29 23:11] #4829 closed, assigned to elahehrashedi

[2020-07-29 23:54] ospilos commented on #5324
It works fine up to V0.25.1
It crashes as soon as I add a project into my workspace with V0.26.0 - V0.29.0

[2020-07-30 00:22] sean-mcmanus commented on #5797
Your logging appears to be missing info. Can you try opening the workspace without any files open, and then open inode.c?

[2020-07-30 01:01] sean-mcmanus commented on #5843
IntelliSense works for me, but I did randomly hit the issue you were seeing -- I'm not sure the repro steps are yet (UPDATE: I tried a bunch of times more, but I wasn't able to get it to repro any further). If you do a Reset IntelliSense Database command that might fix the issue. Another thing to try is to stop using the "**" and use
[code]

Are you able to get it working?

![image](https://user-i

[2020-07-30 01:10] sean-mcmanus commented on #5845
I've filed a feature request on VS at https://developercommunity.visualstudio.com/idea/1130438/c-intellisense-inline-parameter-name-hints.html , although it's possible we would still need to do some more work to setup VS Code specific code lens providers if they decide to implement the feature.

[2020-07-30 01:10] pbannister commented on #4350
Had the same symptom, though perhaps a different cause. Now solved.
Started with a dead-simple hello-world program, and got the error squibbles. Enabled debug cpptools logging (as suggested by @bobbrow above). One line caught my eye:
[code]
Attached the complete log: [cpptools-log.txt](https://github.com/microsoft/vscode-cpptools/files/4998182/cpptools-log.txt)

Brute force ... this is on Linux, c

[2020-07-30 01:14] sean-mcmanus commented on #5847
@hyh19962008 You could also try wrapping the custom tokens used with
[code]

[2020-07-30 01:23] sean-mcmanus commented on #5849
Sorry, we're a little behind on addressing/investigating issues (we have a 0.30.0-insiders release pending, and some of us have been taking vacation time). Might not get around to this till Monday.

One thought is that the large number includePaths will cause slowness in cpptools-srv (IntelliSense). Replacing all those with "C:\\Program Files\\Epic Games\\UE_4.25\\Engine\\**", may help performance

[2020-07-30 01:33] maidamai0 opened #5861 "disable some debug console messages"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 2004
- VS Code Version:1.47.3
- C/C++ Extension Version: 0.29.0
- A clear and concise description of what the bug is.

How do disable messages with the yellow color such as the one about `pdb` and 'thread'
I find these messages very annoying and mixed with my console output sometimes.
[code]

**To Reproduce**
* Code sample
[code]
*

[2020-07-30 01:51] UberUser commented on #5797
I quit and restarted, and yea! I get a couple of very clear error messages. Full log after my comments on it.

The "unrecognized argument" is because I had my compiler options all on one line. I happily pasted them in there without noticing the instruction "One argument per line". Doh! So Ok, after correcting that, much happiness, and parsing too. The compiler and sysroot headers were found and sc

[2020-07-30 06:26] shubhamgupta372 commented on #1481
I am also facing this issue while working on a remote server folder through ssh. The process discovery of files seems to get stuck and IntelliSense doesn't work. I have around 50K files in the project repo. It will be a big relief if you take this issue for fixing.

[2020-07-30 07:57] macdems commented on #1580
GDB is known to launch slowly in such cases. It have very inoptimal symbols loading...

[2020-07-30 09:36] ApurvZ opened #5862 "Compatibility issues with arm64 on Ubuntu"
![Screenshot_20200730-100049_VNC Viewer](https://user-images.githubusercontent.com/43213555/88903434-55275580-d271-11ea-8501-ae3ed07c6404.jpg)
I am running Ubuntu19 with desktop environment on Android, but that shouldn't be an issue, as arm64 version of vs code is running well. A lot of people were asking the same earlier, to port it to arm64 for raspberry pie. Hope the issue gets fixed!

[2020-07-30 12:43] yannickowow commented on #206
+1 for this
I would like to know, in order to do it properly, VS Code needs to provide an UI for Assembly, same as Source View, to provide at the same time SteppingGranularity for the "Next Request", and supports for instructionBreakpoints.
Or is it a work to provide in DebugAdapter side, like CppTools.

[2020-07-30 14:14] akurniawan opened #5864 "Autocomplete becomes really slow when including third party library"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS Catalina (10.15.6)
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): CMake, CMake Tools
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, incl

[2020-07-30 15:23] KaeLL opened #5865 "IntelliSense resolution failing if prepending user defined type identifier with negation operator"
**Type: LanguageService**

- OS and Version: Clear Linux 33560
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): Git Graph
- Does this issue involve using SSH remote to run the extension on a remote machine?: No

![code_bug](https://user-images.githubusercontent.com/4423144/88940143-ceb54880-d25d-11ea-871c

[2020-07-30 16:51] tapr00t opened #5866 "identifier "namespace" is undefined - and other bogus errors"
When opening files, sometimes bogus problems are detected, but sometimes not.  It seems to be more likely to happen if many files are opened quickly.  Once a file is opened with the "bogus" errors, it seems to retain the bogus errors for a while.  If I restart VSCode, the file seems to open normally without the error.

**c_cpp_properties.json**
[code]

**DEBUG output log (bogus errors):**
[code]

[2020-07-30 18:06] WardenGnaw commented on #5861
You can disable these outputs by adding a `logging` block into your `launch.json` and disable `moduleLoad` and `threadExit`. See the [package.json](https://github.com/microsoft/vscode-cpptools/blob/236ea2af7a64402200822149889b85e1f6dfc996/Extension/package.json#L1752) for more information.

[2020-07-30 18:12] Richhoef opened #5867 "Exclude System Included symbols/variables from autocomplete"
**Type: LanguageService**

Is it possible to exclude the symbols/variables/etc which are found by the `systemIncludePath` from the auto complete?
I only want symbols/variables which are found in the files under the `includePath` and/or the `browse.path` to be suggested to me when I type. Now, the first things that are suggested are always many many variables which I have never used and probably wi

[2020-07-30 19:01] maxim-babenko commented on #5621
@bobbrow any ideas on this?

Is there any documentation on how C++ indexer handles project folders/includes directories/exclusion lists?

Ultimately, I need to limit the directories the indexer is allowed to visit to a certain subset; are there any best practices here?

[2020-07-30 19:07] bobbrow commented on #5621
We currently have some issues with symlinks which we plan to address in an upcoming release.  Unfortunately, I don't have a workaround for you right now.  To reduce the traversal, I think the extension would need to change its policy around cataloging files.

[2020-07-30 19:07] ryanpholt commented on #5848
Sorry for the late response. I do not have a c_cpp_properties.json. The only configuration I had, prior to 0.29.0, was to set

"C_Cpp.default.compileCommands"

in my workspace settings. Starting with 29.0, I got errors such as:

"cannot open source file "stddef.h""

which seemed to be because the system include paths were not being set. If I explicitly set

"C_Cpp.default.compilerPath"

in my work

[2020-07-30 19:13] maxim-babenko commented on #5621
Thank you for the response!

OK, I think I can live with the indexer always following the symlinks; anyway, the destination is a relatively small (in terms of the number of files) directory our VCS uses internally.

Another problem is that I'm seeing cpptools traversing parts of the project folder that are explicitly excluded; and this is not likely to be symlink-related. Is there any way to figur

[2020-07-30 19:38] bobbrow commented on #5621
Is the extension actually parsing those excluded files, or is it just doing a `stat` on them?  It's currently expected that it does `stat` on files under the paths you provide in `includePath` or `browse.path`.  The exclusion settings apply to all remaining operations like parsing, symbol search, etc.  To stop the extension from `stat`ing these files requires the policy change I was referring to e

[2020-07-30 19:51] maxim-babenko commented on #5621
Oh, I see. I'm not seeing any reads in strace, just stat-related calls. Hence it seems that the behavior is as expected. Still it takes _a lot_ of time for this traversal to finish so I'm looking forward to the improvements you mentioned. Are there any issues I could subscribe to not to miss the relevant release?

[2020-07-30 21:16] sean-mcmanus commented on #5862
If you click on the License link in the top right of our extension page (https://marketplace.visualstudio.com/items/ms-vscode.cpptools/license), it says:
`
INSTALLATION AND USE RIGHTS. You may only use the C/C++ Extension for Visual Studio Code with Visual Studio Code, Visual Studio or Xamarin Studio software to help you develop and test your applications.
`
That excludes headmelted running on arm

[2020-07-30 21:16] bobbrow commented on #5840
How many settings?  Can you share them?  Otherwise, I don't think we have the information we need to resolve this issue.  Thanks!

[2020-07-30 21:21] bobbrow opened #5869 "Test improvements"
C# test driver code is hitting lots of Code Analyzer warnings with VS 2019. Might be good to fix those.

[2020-07-30 21:22] bobbrow opened #5870 "Reliability issues with some of the automated tests"
- [x] Add some mechanism to deal with tests that have known random failures, such as having alternative baselines, or a retry count for tests that have known random failures. But it would be good to not completely bury the failures (which could be real bugs).
- [x] recursive_includes test has a random failure on Linux (potentially a real race condition bug).
- [x] fix custom configuration test fai

[2020-07-30 21:24] bobbrow commented on #5870
Ideally, this would not be needed, but we could update the affected test(s) so that they are more stable.

[2020-07-30 21:24] bobbrow opened #5871 "Refactor "providers" out of client.ts"
Move Provider classes from `client.ts` into their own source files.

[2020-07-30 21:38] bobbrow commented on #5740
We haven't been receiving a ton of feedback about this.  We'll close this for now, but if we get more upvotes on it, we can consider a change here.

[2020-07-30 21:38] #5740 closed, assigned to nobody

[2020-07-30 22:23] geoffrey4444 commented on #1903
Just wondering if anything has changed in the past two years that might make it possible to address this? I do a lot of template metaprogramming in VSCode, and matching the angled brackets would be very nice to have.

[2020-07-30 22:25] djose1164 commented on #5840
Hmmm, 10-15 maybe. I did a clean install of vscode and it's ok. Thanks!

[2020-07-30 22:25] #5840 closed, assigned to nobody

[2020-07-30 22:30] sean-mcmanus commented on #5837
Are you inserting a comma or some other character? It could be some character encoding issue. If you could provide the actual characters that are causing the failure I can see what is causing it.

[2020-07-30 22:34] sean-mcmanus commented on #5837
That error is not coming from our extension or from VS Code -- it must be from some other extension you have installed. I don't see a source for the error in the Problem window.

[2020-07-30 22:38] heartacker commented on #5837
I'm not sure it's a coding problem.But when I reload the windows，There is no problem with parsing. I'll paste the code later.

[2020-07-30 22:40] sean-mcmanus commented on #5837
This is what is normally expected from VS Code when there's some syntax error:
![image](https://user-images.githubusercontent.com/19859882/88981467-e0591900-d27a-11ea-882a-a6cb720a5b30.png)
It comes from VS Code's json schema.

[2020-07-30 22:41] heartacker commented on #5837
ok.By the way, Is there any easy way to determine which ext cause this problem?3q

[2020-07-30 22:42] sean-mcmanus commented on #5837
Extensions that post error/warnings are supposed to provide the source (e.g. json in my screenshot), but whoever is posting that diagnostic is not posting a source, so I don't know a way to detect the source other than to disable/enable trial and error.

[2020-07-30 22:48] sean-mcmanus commented on #4614
@grigorig Could you file a new issue with more repro details? We're not aware of a regression like this.

[2020-07-30 22:53] bobbrow commented on #5621
I'm renaming this issue to cover the policy change.  If you want to subscribe to any of the symlink bugs, you can search for issues with the "symlink" label on them.

[2020-07-30 22:55] sean-mcmanus commented on #5853
We're tracking this request with a previous request at https://github.com/microsoft/vscode-cpptools/issues/4742 .

[2020-07-30 22:55] #5853 closed, assigned to nobody

[2020-07-30 23:13] sean-mcmanus opened #5873 "clang compiler detection incorrectly looks for clang-10.0 instead of clang-10"
I'm not sure for how far back clang-10 naming versus clang-10.0 naming was used, maybe as far back as clang-4. I'm also not sure if the naming on Windows or with clang-cl is any different.

[2020-07-30 23:28] sean-mcmanus commented on #5550
@nlieb It doesn't seem simple to me -- it's a bug with our parser You could try asking for more info at https://developercommunity.visualstudio.com/content/problem/1044574/c-intellisense-errors-occur-when-using-designated.html .

[2020-07-31 00:54] maidamai0 commented on #5861
Thanks! No module loaded logs anymore.
But I still get thread and program exit log with `threadExit` and `processExit`  disabled.
[code]
Gives:
[code]

[2020-07-31 00:57] sean-mcmanus commented on #5873
From what I'm seeing clang-7 was the first release to drop the .0 (clang-6.0 was the last with the .0). If anyone knows of a variation from that, les us know.

[2020-07-31 01:06] sean-mcmanus opened #5874 "There may be a delay in GitHub responses..."
...due to our team taking vacations, working on other non-VS Code tasks, working on issues with our pending 0.30.0-insiders release with ARM support, etc.

We'll try to get caught up next week so we can be more responsive to incoming issues.

The current response time might be 2 days (or longer if it's been tagged as "investigate")...if you haven't gotten a response in over 2 days, send us a ping,

[2020-07-31 02:10] heartacker opened #5875 "c_cpp_properties document improvements"
It is better to add some ref url to the config UI for new coming. it's hard to Find the document of  c/c++ each time we text a config.

![image](https://user-images.githubusercontent.com/1876302/88992133-22cf3400-d315-11ea-884b-503aa08a74c2.png)

BTW, After searching for a long time, I could not find any documents related to the setting of environment variables，although supported.
For many beginne

[2020-07-31 03:34] heartacker commented on #5837
Try one by one, finally get it

[2020-07-31 03:34] #5837 closed, assigned to nobody

[2020-07-31 04:28] antoche commented on #4781
This affects me too. Keen to hear about a fix.

[2020-07-31 13:25] heartacker opened #5877 "Display typedef name of struct in outline instead of unnamed_struct"
I'm not sure outline is provided by this ext, but if so, It wil be great to optimize the ouline to improve the show of typedef (enumeration and struct) using its alias.
![image](https://user-images.githubusercontent.com/1876302/89039069-0b736380-d374-11ea-86a8-cc74a78ed8ab.png)

[2020-07-31 15:54] milan-r-shah commented on #5843
Hi @sean-mcmanus ,
Sincere apology for the late reply from my end and thank you so much for all the suggestions.

Just to confirm, what did you mean by?

Being not that much expert, I don't know about this!

For another method, you are right: `"/usr/include/pcl-1.8/**"` does not work. I had to replace it with:
[code]

However, I noticed that the changes I made in **c_cpp_properties.json** file wer

[2020-07-31 18:31] Devil7DK commented on #429
Waiting for release :p

[2020-07-31 19:24] bcaddy opened #5879 "Debugger does not display values of C++ STL Containers within an object"
Type: Debugger

VSCode Version: 1.47.3
OS Version: macOS 10.15.6, remotely debugging on Red Hat Linux 3.10.0-1062.4.1.el7.x86_64
C/C++ Extension Version: 0.29.0
Steps to Reproduce:

Create an object with a public C++ STL container (vector in this case)
Run debugger, all public STL containers in the object show their value as {...}
I have a struct called Grid1D which contains several std::vector. W

[2020-07-31 19:50] xor2k commented on #429
My office is full of Raspis and Nvidia Jetsons. When I wanted to show my collegue how cool Visual Studio Code CppTools are, there was this "ARM unsupported" error message and he said "ha ha"

[2020-07-31 21:17] Colengms commented on #4781
Hi @antoche .  The parsing of args from `compile_commands.json` has changed significantly since this issue was opened.  If you're seeing an problem now, it may be new.  I'd suggest opening a new issue.

Note that `compile_commands.json` is a json file, so must include escaping of both slash and quote, if both are intended to be passed on the command line.

Note that the following results in defini

[2020-07-31 21:17] #4781 closed, assigned to nobody

[2020-07-31 22:52] TheJCAB opened #5880 "Confusing intellisense error due to missing (and arguably not needed) enum value (most compilers pass the code)"
**Type: LanguageService**

- OS and Version: Windows 10 WSL with Ubuntu 20.
- VS Code Version: Version: 1.47.2 (user setup)
Commit: 17299e413d5590b14ab0340ea477cdd86ff13daf
Date: 2020-07-15T18:22:06.216Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041
- C/C++ Extension Version: 0.29.0

**Steps to reproduce**

Just load this code:

[code

[2020-07-31 23:01] Colengms commented on #5877
Hi @heartacker .  Thanks for suggesting this.  I opened a bug against VS for a similar issue.  As we share a lot of code with VS, we will likely inherit a fix from them.

https://developercommunity.visualstudio.com/idea/1133225/request-better-handling-of-typedefed-unnamed-struc.html

[2020-08-01 02:56] ShenTonyM commented on #5835
@sean-mcmanus
Please git clone https://github.com/oneapi-src/oneDNN.git
And the we can include `include/mkldnn.h`
[code]

[2020-08-01 03:30] heartacker commented on #5836
https://github.com/doxygen/doxygen/issues/7928#issuecomment-667031139

The hint works within the standard format.
BTW, doxygen tolerates colons.

[2020-08-01 05:47] FRTI64 commented on #3829
I have installed C/C++ 0.29.0.

But I still have the same problem

It open a Terminal and do nothing

This is my launch.json
[code]
and this one is task.json
[code]
macOS 10.15.6

Apple clang version 12.0.0 (clang-1200.0.26.2)

lldb-1200.0.26.4

What should I do?

[2020-08-01 11:57] ghost opened #5881 "A small Typo in the error message"
I wrote some code like this

[code]
And the Error i am getting there is small typo -

![Image](https://i.imgur.com/au0Z0BA.png)

This error message should be **expression must be a modifiable value**
I tried hard to find the file, but i dont think its possible for me.

[2020-08-01 12:35] Roman-Koshelev opened #5882 "Completion doesn't work for lambda auto parameters"
Autocompletion works in the following situations.
1)
![2020-08-01_15-15-46](https://user-images.githubusercontent.com/34384083/89101810-3610fb00-d40c-11ea-8603-c6fbb1cf9fec.png)
2)
![2020-08-01_15-17-12](https://user-images.githubusercontent.com/34384083/89101813-3a3d1880-d40c-11ea-8b07-c97d7b043326.png)

Is it possible to make autocomplete work in such a context?
3)
![2020-08-01_15-20-28](https:/

[2020-08-01 13:58] maxim-babenko commented on #5621
Is there any ETA for this task?

[2020-08-01 23:40] Colengms commented on #5881
Hi @yanjanendra .  `lvalue` is a technical term, referring historically to the left side of an assignment expression.  https://en.cppreference.com/w/cpp/language/value_category

[2020-08-01 23:40] #5881 closed, assigned to nobody

[2020-08-02 09:49] FRTI64 opened #5883 "Can't debug on macOS Catalina (LLDB)"
Type: Debugger

**Describe the bug**
- OS and Version: macOS 10.15.6
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

**To Reproduce**
*Please include a code sample and `launch.json` configuration.*
**launch.json**
[code]
**tasks.json**
[code]
When I

[2020-08-02 09:52] FRTI64 commented on #5883
the DEBUG CONSOLE
`Warning: Debuggee TargetArchitecture not detected, assuming x86_64.`

[2020-08-02 09:54] FRTI64 commented on #5883
Or I will unistall CLT

compiled by gcc and debugged by gdb(use brew)?

[2020-08-02 10:41] maxshevelev commented on #429
Also waiting for linux support for arm64. VSCode looks cool but without proper platform support it sucks.

[2020-08-02 10:48] madhu-GG commented on #2013
Not fixed in this version

Trying to input string via cin from WSL (program complied with clang++):

![image](https://user-images.githubusercontent.com/19236928/89121334-a470be80-d4db-11ea-869f-5c5010a6da56.png)

Version: 1.47.3 (user setup)
Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e
Date: 2020-07-23T13:12:49.994Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.

[2020-08-02 15:19] kyle-goodwin opened #5884 "Cannot remove MinGW from the include path in source files"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.29.0
- Cannot remove MinGW from the include path in source files.

**Steps to reproduce**
1. Create C source file.
2. Type `#include <stdint.h>`

**Expected behavior**
Should indicate the file does not exist. Instead it finds the file in `C:\MinGW\include`.

**Screens

[2020-08-02 17:58] kyle-goodwin commented on #5884
This behavior appears to have been caused by the compiler path defaulting to MinGW and then automatically selecting some related include paths. I have not set any defaults for this. In the absence of a explicit path or default path the behavior should be an error, not silently configuring hidden paths.

[2020-08-03 01:55] DigiTec commented on #1235
If anyone else hits this, I was able to set clang-arm as the intellisenseMode and that fixed most of my problems. The clang compiler was pointing to one that was specified in an NDK of Android and was correct, but I still had _WIN32 until I changed the mode.

[2020-08-03 02:44] antoche commented on #4781
Hi,

I think the issue is you are assuming that the arguments in compile_commands.json will be parsed by a command-line interpreter. If that is so, then yes the user needs to add extra escaping for the shell parser. But I believe it is the wrong approach.

I'm using a python-based build system (waf) which at no point relies on command-line interpreting. Here is a minimal example reproducing what t

[2020-08-03 03:34] ghost commented on #5881
Thanks i am noob in c-plus-plus then i thought it misspelled.

[2020-08-03 08:25] heartacker opened #5885 "Use jsonc parser for c_cpp_properties.json"
settings is using json with comment format,
c_cpp_p.json does not have the same bahavier as setting.json
hopes that Commas  `,` is supported in c_cpp_p json file to make it easier for users to write configurations
otherwise, some time it is very very annoying
[code]
[code]
![image](https://user-images.githubusercontent.com/1876302/89160957-7b683080-d5a4-11ea-8745-a6be7d6f66e3.png)

[2020-08-03 08:48] nurquhar commented on #429
We could not wait and were now using Clion for Remote Host Jetson NX development (ARM64)... I hope Vscode/arm64 arrives soon as path back to VS may seem unnecessary.

[2020-08-03 12:29] paulmadejong commented on #5256
Still the same problem with gdb 9.2.1 and latest VSCode 1.47.3

[2020-08-03 13:46] bigOconstant commented on #429
Visual studio can do it over ssh if you are trying to use another ide. https://docs.microsoft.com/en-us/cpp/linux/connect-to-your-remote-linux-computer?view=vs-2019

[2020-08-03 15:01] nurquhar commented on #429
Sorry my bad, my comment was not clear. I should have said 'path back to VScode'. i.e. Not meaning Visual Studio.

We could have used Visual Studio (with or without VisualGDB) except that some of the team are on Mac's instead of Win10. Although VS is available on the Mac now it is not the same product as on Windows. VScode would have offered an IDE environment capable of running on Windows, Mac's

[2020-08-03 15:19] mhlau233 commented on #4745
check this
https://bugzilla.redhat.com/show_bug.cgi?id=839263

[2020-08-03 16:42] michelleangela commented on #5836
Thanks for confirming that the colon after the parameter is supported by Doxygen. I'll mark this as a bug to fix.

[2020-08-03 17:28] WardenGnaw commented on #5883
Have you tried the solution in this issue?

https://github.com/microsoft/vscode-cpptools/issues/5079#issuecomment-626090192

[2020-08-03 17:34] bobbrow commented on #5884
This is the designed behavior.  Most people want the extension to work without having to mess around with the configuration files.  If you want to disable the automatic compiler detection, set the `compilerPath` property to `""` in `c_cpp_properties.json`.

[2020-08-03 17:34] #5884 closed, assigned to nobody

[2020-08-03 17:39] bobbrow commented on #5621
Sorry, no.  We do not set ETAs on tasks until they are selected into a release milestone.

[2020-08-03 17:46] bobbrow commented on #5840
Glad to hear it.  10-15 settings is not very many.  I was thinking you were going to say 100 or so. 😄

[2020-08-03 17:55] kyle-goodwin commented on #5884
I'm not sure I agree with the designed behavior, I would expect if something gets automatically and silently changed to be made aware of it in the c_cpp_properties.json file, but now I know. Thank you for the answer and solution. Adding `    "C_Cpp.default.compilerPath": ""` to settings.json appears to give me the behavior I want.

[2020-08-03 17:57] bobbrow commented on #1903
No.  Unfortunately, no "provider" has been added to allow our extension to do this.  But perhaps this could be done with decorators. Please add a 👍 to the first post in the issue to add your vote for us to investigate. If it gets enough votes, we will look into it.

[2020-08-03 18:12] bobbrow commented on #5884
Once the `c_cpp_properties.json` has been written to disk, we avoid touching it.  If you open a new folder and generate a `c_cpp_properties.json` for the first time, the compiler should be written to it.  I think this would address your concern in most cases.

Is this a case where the `c_cpp_properties.json` file already existed, or was it newly generated without the `compilerPath` set (which I wo

[2020-08-03 18:13] bobbrow commented on #5884
Though I am curious... why don't you want the extension to find C/C++ system headers for you?

[2020-08-03 18:22] bigOconstant commented on #429
There is other options for c++. I've been using kdevelop on my pi4 directly.  Use what works for you and your team I just hate to see someone pay for an ide when there are so many good free one's out there.

I do love using VSCode for everything so you don't get that context switch slow down.

[2020-08-03 21:03] maxim-babenko commented on #5621
Just to make sure we're on the same page:
* currently there's no way to avoid cpptools traversing the whole project folder
* C_Cpp.exclusionPolicy=checkFolders makes no difference here

Did I get everything correct?

Is there any way to figure out the exact list of files that were _indexed_ by cpptools (just to verify that nothing redundant was actually processed)?

[2020-08-03 21:17] hacantorcooke commented on #2060
Is there any update/workaround on this? Like others, I essentially need configurations at the workspace level. The defaults would work except they seem to only allow one entry, not an array of configurations. I.E. it seems workspaces have no concept of configurations. I want my includes/defines to change based on configuration.

Another concept would be VS Code treating the folder I want to add li

[2020-08-03 22:52] Colengms commented on #4781
Hi @antoche .  I think I understand what you're saying.  I can see an argument for not considering shell parsing in `arguments` values.  But, I believe a 'command line' form would imply shell parsing.

On the page you referenced, it shows this example:

[code]

Although the content of the define refers to quotes, I don't believe there is enough info here to infer that this use of quotes is expecte

[2020-08-03 23:43] bobbrow commented on #5621
You can avoid traversing the whole project folder by picking specific subfolders to parse in the `browse.path` property in `c_cpp_properties.json` instead of `${workspaceFolder}`.  You can avoid traversing sub folders by placing an asterisk at the end of any path in that array.  For example:
[code]
The exclusion policy setting only applies to file parsing, not indexing.

If you set the `C_Cpp.logg

[2020-08-03 23:44] heartacker commented on #5836
if colon follow parameter and also have space, that is accept. like `@para arg: args for method`
but using colon instead of space is wrong format, no need to be Compatible .`@para arg:args for method`, beacuse doxygen will identify `arg:args` as the para name.

[2020-08-04 04:04] VamosCC commented on #3877
this bug is still appeared in 0.29.0, vscode version 1.45.1, ubuntu 18.04.

[2020-08-04 07:25] maxim-babenko commented on #5621
Thanks for the pointers!

Will vscode still be traversing folders listed in C_Cpp.default.includePath?

[2020-08-04 07:31] justKidrauhl opened #5889 "ERROR: GDB exited unexpectedly. Debugging will now abort."
Type: Debugger

**Describe the bug**
- OS and Version:
Windows_NT x64 10.0.18362
- VS Code Version:
1.47.3
- C/C++ Extension Version:
v0.29.0
- Other extensions you installed (and if the issue persists after disabling them):
C++ Intellisense
- A clear and concise description of what the bug is.
The debugger exited unexpectedly.

**To Reproduce**
*Please include a code sample and `launch.json` conf

[2020-08-04 07:34] maxim-babenko commented on #5621
I tried listing the relevant directories in browse.path and now it's for the first time that VSCode is able to complete the indexing process (I see no HDD icon in the status bar).

However now I'm getting no intellisense in many files and "Updating intellisense" flame icon is ON forever.

C++ debug logs contain the phases

IntelliSense client not available, using Tag Parser for go to definition.
I

[2020-08-04 07:58] maxim-babenko commented on #5621
After 10 mins of background activity I see the following in the log:
Update IntelliSense time (sec): 683.689

Hopefully it's a one-time scenario.

[2020-08-04 11:13] Linus-XZX opened #5890 "STL function "random_shuffle" cannot be properly detected using C++ Intellisense"
Issue Type: <b>Bug</b>

Platform: macOS 10.15.6 (19G73).

**Steps for reproduction:**
Create a .cpp file that has `#include <algorithm>`, which contains the STL function `random_shuffle`, and use the function in the file.
For example (`#include <algorithm>` happens beforehand):

**Expected behavior:**
No errors be reported for the file in the editor (assuming no other errors exist).

**Actual beha

[2020-08-04 11:32] heartacker opened #5891 "semantic analysis error"
[code]

[code]

![image](https://user-images.githubusercontent.com/1876302/89289041-30741900-d689-11ea-8b1d-aa794183094d.png)

[2020-08-04 11:33] heartacker commented on #5891
![image](https://user-images.githubusercontent.com/1876302/89289182-61544e00-d689-11ea-930b-a053af34224c.png)

[2020-08-04 17:08] kyle-goodwin commented on #5884
Not wanting to modify a preexisting `c_cpp_properties.json` is a fair point. When generating a new `c_cpp_properties.json` I do not get the compiler path added despite it appearing in the diagnostics log. You are correct in that, if this behaved for me as you described, it would address my concern.

This is a case of a newly generated `c_cpp_properties.json` without the `compilerPath` set.

[2020-08-04 17:09] kyle-goodwin commented on #5884
I have multiple C compilers. It's not that I don't want the extension to include headers for me, it's that I don't want compiler A's headers when I'm working with B. Granted, if I setup my compiler path this won't be an issue, but if I forget, I expect an error, not compiler A's headers snuck in.

[2020-08-04 17:19] kyle-goodwin commented on #5884
![image](https://user-images.githubusercontent.com/45823898/89323994-8e3a3e00-d654-11ea-92d5-6b2148c60856.png)

1. `test.c` was created and includes one line: `#include <stdint.h>` with no errors.
2. `C/C++: Log Diagnostics` was run showing the MinGW paths.
3. `c_cpp_properties.json` was generated without MinGW in `includePath` or `compilerPath`.

[2020-08-04 17:25] kyle-goodwin commented on #5884
Strangely this only seems to affect source files. `test.h` which is identical to `test.c` except for the extension does not give me a link to the MinGW header. It also doesn't immediately give me a squiggly line either, I have to reload vscode which is slightly annoying.

[2020-08-04 18:04] WardenGnaw commented on #5889
Can you add the following to your launch.json and share the output from Debug Console?
[code]

[2020-08-04 18:42] sean-mcmanus commented on #5324
@ospilos We need more repro and/or a call stack of the particular crash you are hitting (preferably in a new issue). "Connection to server got closed." is a generic symptom of the cpptools-srv process crashing.

[2020-08-04 19:02] sean-mcmanus commented on #5797
The "Compiler does not support 32-bit." message is incorrect/misleading and in this case just means the compiler doesn't support the -m32 flag. It looks like gcc-x86 is being used (correctly).

I'll create a new issue tracking better error reporting when an invalid compilerArg is used: https://github.com/microsoft/vscode-cpptools/issues/5893

[2020-08-04 19:05] sean-mcmanus opened #5893 "Give better diagnostics when invalid compilerArgs are used"
See the thread at https://github.com/microsoft/vscode-cpptools/issues/5797 . An invalid compilerArg was used and caused the wrong system includes to be used. Maybe we can detect that and show an error squiggle or pop or error level logging (instead of hidden in debug logging).

There may be other invalid configurations we could expose warnings for better as well.

[2020-08-04 19:06] #5797 closed, assigned to nobody

[2020-08-04 19:17] sean-mcmanus commented on #1481
@shubhamgupta372 50k files shouldn't be "too large" to process. You might be hitting a different issue. Is cpptools using CPU? Can you attach a debugger to get a call stack to see if it's really enumerating through files in the workspace or not?

[2020-08-04 19:18] #5862 closed, assigned to nobody

[2020-08-04 19:25] sean-mcmanus commented on #5864
I think `intelliSenseCachePath` needs to be a full path. Can you try "${workspaceFolder}/.vscode"?

Some performance related fixes have been made in the configuration provider scenario with our pending 0.30.0-insiders update, but I haven't checked yet if this issue is fixed by that yet.

[2020-08-04 19:31] sean-mcmanus commented on #5865
Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/2184 (and https://github.com/microsoft/vscode-cpptools/issues/5168 ). You can upvote the VS issue at https://developercommunity.visualstudio.com/content/problem/407956/cc-intellisense-no-member-list-appears-after-typin.html (if you have a Microsoft account).

[2020-08-04 19:31] #5865 closed, assigned to nobody

[2020-08-04 19:42] sean-mcmanus commented on #5866
You should remove the system includes from your includePath. Otherwise, the includePath ordering can become incorrect. And `"**"` shouldn't be used at the end of system header include paths because `"**"` creates order-independent paths that are checked at the end of the other includes.

If you compare your include logging with the results of running `gcc -Wp,-v -E -x c++ /dev/null` you'll want th

[2020-08-04 19:45] sean-mcmanus opened #5894 "Handle system includes in includePath better or give better diagnostics"
We still keep getting reports of users adding system includes in includePath, most likely a result of the code action that prompts for that. This is causing the system includes to be in the wrong order so headers can't be found.

See https://github.com/microsoft/vscode-cpptools/issues/5866 for one example, but there are many more.

[2020-08-04 19:55] sean-mcmanus commented on #5867
Yeah, we'd have to add completion filtering based on the file path, possibly checking files.exclude or some other new setting.

[2020-08-04 20:27] tapr00t commented on #5866
If I drop my path to include only:
[code]

Then I get these "real" types of include errors, which seems to be persistent.  They don't come and go like the errors above through restarts.  So I think I need something on my path to satisfy them:
![image](https://user-images.githubusercontent.com/3802245/89340582-f34e5d80-d66d-11ea-8ed2-a52517ec6697.png)

Running your gcc command gives similar results

[2020-08-04 20:36] tapr00t commented on #5866
1. Files are opening and intellisense is normal.
2. Open a bunch of files until something "breaks", and begins report bogus errors in all files:
![image](https://user-images.githubusercontent.com/3802245/89342255-838da200-d670-11ea-8f71-9ea100f11d11.png)
3. Either restart VSCode, or change "intelliSenseMode" to something else, causes intellisense to be "fixed":
![image](https://user-images.githubu

[2020-08-04 20:37] sean-mcmanus commented on #5621
I haven't followed this entire discussion, but it sounds like this is a duplicate of https://github.com/microsoft/vscode-cpptools/issues/3123 . Our initial file enumeration code doesn't check files.exclude until later on.

[2020-08-04 21:35] sean-mcmanus commented on #5740
Sounds like gcc 11 may set c++17 as the default, so it'll eventually not be an issue as users migrate to that.

[2020-08-04 22:08] sean-mcmanus commented on #5875
We have docs at https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference . Is that the URL you'd like added to the UI?

[2020-08-04 22:19] sean-mcmanus commented on #5843
It's in the Command Palette:
![image](https://user-images.githubusercontent.com/19859882/89350437-deb99780-d664-11ea-9d1d-30ffbbd88a07.png)

I was thinking doing a Reset IntelliSense Database command might fix the issue because it saves some "does not exist" headers, and those headers might be incorrectly getting added to that list when the recursive includes code is run.

The recursive includes `

[2020-08-04 22:21] sean-mcmanus commented on #5879
@WardenGnaw I also hit this recently when trying to do debugging on Linux/gdb. I couldn't get values for strings.

I seem to recall this used to work previously on my other Linux machine with an older OS/compiler.

[2020-08-04 22:48] sean-mcmanus commented on #5835
Okay, thanks, for the info. I'll try that out tomorrow.

[2020-08-04 22:48] heartacker commented on #5875
yes.thanks

[2020-08-04 22:49] sean-mcmanus commented on #5880
A VS bug has been filed at https://developercommunity.visualstudio.com/content/problem/1136090/cc-intellisense-gives-an-incorrect-error-not-a-cla.html . You could upvote that if you have a Microsoft account.

[2020-08-04 23:24] sean-mcmanus commented on #5882
Thanks for reporting this. I've filed a bug on VS at https://developercommunity.visualstudio.com/content/problem/1136105/cc-intellisense-completion-doesnt-work-for-lambda.html (the issue is from VS shared code). You could upvote that if you have a Microsoft account.

[2020-08-05 00:24] sean-mcmanus opened #5896 "Don't downgrade from an unreleased insiders vsix to the released vsix if updateChannel is "Default""
...should only affects internal users, so not sure if it's high enough priority, since the workaround is to use "Insiders" updateChannel or autoUpdate "false".

[2020-08-05 01:02] sean-mcmanus commented on #2060
@hacantorcooke No update. You could potentially use multiple different workspaces with different workspace C_Cpp.default.* settings.

[2020-08-05 01:07] sean-mcmanus commented on #3877
@VamosCC Your scenario is probably different with the same symptom. Can you open a new issue with more repro details? You may want to close all VS Code instances and then make sure all the cpptools process are killed -- otherwise, those processes can lock the database and prevent the Outline from populating.

[2020-08-05 01:31] justKidrauhl commented on #5889
**All info from Debug Console:**
[code]

[2020-08-05 04:11] zajo commented on #5783
I confirm this is fixed in v0.30.0-insiders. Thanks!

[2020-08-05 05:14] gandyli opened #5897 "Bug with IntelliSense - <algorithm> with c++20 and gcc-10.2.0"
**Type: LanguageService**

**Describe the bug**
- OS and Version: macOS Mojave(10.14.1)
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.30.0-insiders
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including informa

[2020-08-05 05:31] srijanc commented on #2630
This issue seems to have re-surfaced with the new version update v0.30.0-insiders. Things are working perfectly with v0.29.0. Please assit this. I have tested it with previous versions to claim this. (I am using VSC on a Ubuntu Server via SSH connect.

With latest version
![image](https://user-images.githubusercontent.com/43124192/89375235-9c5d8c80-d730-11ea-8bbb-da7e549e6fd7.png)

With older vers

[2020-08-05 06:43] my-vegetable-has-exploded opened #5898 "Format fails when saving file"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Windows 1909
- VS Code Version:  1.47.3
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, including information about the wo

[2020-08-05 08:56] sundalin0512 commented on #5611
Extension version: 0.29.0
VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T15:51:39.791Z)
OS version: Linux x64 5.4.0-42-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10700K CPU @ 3.80GHz (16 x 3799)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseline: enabl

[2020-08-05 09:46] akurniawan commented on #5864
Thank you very much for the suggestion @sean-mcmanus. It works for the `intelliSenseCachePath`, but the latency is not getting better, unfortunately. Do you have any other suggestion that I can try?

[2020-08-05 10:07] GiovanniDicanio opened #5899 "Don't immediately close the external console window when the program ends"
Type: Debugger

**Describe the bug**

- OS and Version: Windows 10
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): none

When debugging and running C/C++ code on an external console (`"externalConsole": true` in `launch.json`), the console window is immediately closed at the end of the program.

This is

[2020-08-05 15:59] Saad2012 opened #5901 "format doesn't work"
**Type: LanguageService**

**Describe the bug**
- OS and Version: Linux Focal Fossa
- VS Code Version: 1.48.0 code-insiders
- C/C++ Extension Version: 0.30.0-insiders
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?: No
- A clear and concise description of what the bug is, includi

[2020-08-05 16:18] ryanpholt commented on #5848
This does not seem to be fixed for me in 0.30.0 insiders. In fact, now it seems that I do not have a workaround because now it does not fallback to the `C_Cpp.default.compilerPath`. For some reason, it is still not getting the compiler from the compile_commands.json. When I look at the logs, I see `Attempting to get defaults from compiler found on the machine:`. The compiler it finds is "gcc" but

[2020-08-05 16:44] adel-belkhiri opened #5902 "VSCode debugger unable to pause a program running under root rights"
Unable to pause a program running under root rights.

VSCode version: 1.47.3
C/C++ extension : v0.30.0 ; v0.29.0 and v0.28.3.
OS : Ubuntu 18.04 (Kernel : 4.19.5)
gdb version : 8.1.0.
Architecture: x86_64

This issue happens while I was trying to debug a program with root rights using a bash script wrapping the gdb command. The content of the script is the following :

pkexec /usr/bin/gdb $*

I tri

[2020-08-05 17:07] gvcallen commented on #882
Would really like this feature and surprised its taking so long.

[2020-08-05 17:07] DavidMunozGit commented on #657
Hey your fix broke something,
Now it is not working the .clang-format (default option) in windows 10 I just do this quick test and the extension doesn't update anything.
![image](https://user-images.githubusercontent.com/38535594/89442212-07e53100-d714-11ea-9ea1-b81f3f3a687d.png)

[2020-08-05 17:17] sean-mcmanus commented on #5901
Is this a regression compared to 0.29.0?

Can you provide a code sample that fails to format? What is the result of formatting `int foo(){return 0;}`?

We need more info on your formatting settings. With 0.30.0-insders, a new `vcFormat` value for `C_Cpp.formatting` uses a new formatting implementation, which is also used if the `C_Cpp.clang_format_style` is set to `Visual Studio` (or if the `C_Cpp

[2020-08-05 17:19] tarik-brown commented on #657
@travid112 Hi! Have you made sure to update the C_cpp: Formatting settings to either clangFormat or Default?

![image](https://user-images.githubusercontent.com/66319838/89443478-327bbd80-d705-11ea-8d8c-c6b79b036648.png)

[2020-08-05 17:23] sean-mcmanus commented on #5898
Are you sure you have 0.29.0 and not 0.30.0-insiders?

Does formatting fail with Format Document instead of format on save?

Are you able to provide a repro code sample and a list of edit steps to make that can cause a repro?

We need more info on your formatting settings. With 0.30.0-insders, a new vcFormat value for C_Cpp.formatting uses a new formatting implementation, which is also used if the

[2020-08-05 17:34] Colengms commented on #5848
Hi @ryan-holt-1 .  I don't currently have a repro for what you are describing.  A scenario involving only `C_Cpp.default.compileCommands` seems to be working for me.  Could you please provide any/all `C_Cpp` related settings, the output of the `C/C++: Log Diagnostics` command while a misconfigured file is open, and the output of the C/C++ channel leading up to the issue?

Note that the `Attempting

[2020-08-05 17:39] sean-mcmanus commented on #5897
Is this a regression, i.e. does it repro with 0.29.0?

How are you obtaining gcc-10.2.0?

Setting `C_Cpp.intelliSenseCacheSize` to 0 may be a workaround for the issue.

[2020-08-05 17:49] WardenGnaw commented on #5889
This looks like a bug with this version of gdb (8.1 for x86_64-w64-mingw32). Can you try updating the version of gdb or retrieving a different version?

[2020-08-05 17:52] ryanpholt commented on #5848
I attached bad.txt and good.txt. They show the log output for 0.30.0 and 0.29.0, respectively.

Notice that in bad.txt I get `Attempting to get defaults from compiler found on the machine:` but in good.txt I get `Attempting to get defaults from compiler in "compilerPath" property:`. I also attached a single entry in my compile_commands.json.

Here are my settings:
[code]

[bad.txt](https://github.

[2020-08-05 17:54] ryanpholt commented on #5848
Ah.. I see in the logs:

[code]

Any idea why this is happening?

[2020-08-05 17:56] Saad2012 commented on #5901
after format (the new lines didn't get fixed by the format also)

[code]

thank you for the response , I wasn't aware of these settings before .
i was just using the default settings  :
[code]

now the format is good and back when I added   "C_Cpp.clang_format_style": "Emulated Visual Studio"`

[code]

[2020-08-05 18:00] sean-mcmanus opened #5903 "Doxygen comment tags aren't ended after a blank line"
Use code
[code]

Hover over shuffle.

The "Details..." comment is incorrectly combined with the Nothing comment.

The issue repros with doxgyen comments in the gcc headers.

A bug on VS is filed at https://developercommunity.visualstudio.com/content/problem/1137513/doxygen-comment-tags-arent-ended-after-a-blank-lin.html

[2020-08-05 18:15] sean-mcmanus opened #5904 "Doxygen tag with __first,__last renders as <b>first</b>,last"
Use code
[code]
hover shows:

![image](https://user-images.githubusercontent.com/19859882/89448731-da48b980-d70c-11ea-9ac2-7833a3d7b272.png)

Doesn't repro with Visual Studio.

I noticed the issue when using gcc 9.3 headers (random_shuffle).

[2020-08-05 18:20] #5901 closed, assigned to nobody

[2020-08-05 18:20] Saad2012 commented on #5901
solved

[2020-08-05 18:21] Colengms commented on #5848
Hi @ryan-holt-1 .

I'm not familiar with `glnxa64`.  If that is not an x86 or x64 compiler, it would explain our inability to detect the bitness of the compiler, which we do to try to correct the IntelliSenseMode.  This shouldn't be a problem.  Those errors may also be due to other args preventing the compiler probe from working:

I noticed the following in the bad output:

[code]

This error is c

[2020-08-05 18:34] sean-mcmanus commented on #5890
That's because IntelliSense and your algorithm header is configured such that random_shuffle is removed: see https://meetingcpp.com/blog/items/stdrandom_shuffle-is-deprecated.html .

You should be able to change your "cppStandard" setting to "c++14" to fix the issue.

[2020-08-05 18:34] #5890 closed, assigned to nobody

[2020-08-05 18:36] GiovanniDicanio opened #5905 "Array visualizer font is too small; please make it easily customizable, or at least scale accordingly to the font size used in the text editor"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): none

Try to hover over a C `char[]` array, like:

`char name[] = "Connie";`

The visualizer displays its content using a font that is too small, as shown in the attached screenshot.

This is

[2020-08-05 18:37] ryanpholt commented on #5848
I removed `-ferror-limit=0` from my compile_commands.json but I still see the same problem. Here is the output of `C/C++: Log Diagnostics`:
[code]

[2020-08-05 18:39] sean-mcmanus commented on #5891
Can you give the output of the C/C++: Log Diagnostics command?

Your intelliSenseMode may be incorrect. It looks like it's expecting a different size_t value than the configured architecture expects.

[2020-08-05 18:46] sean-mcmanus commented on #5884
Is there any issue here that needs to be followed up on, i.e. reopened or a new issue created?

If you want to exclude headers from a compiler you're not using from the database, you can add the path to files.exclude.

[2020-08-05 18:58] sean-mcmanus commented on #5866
Your ".C" files are being interpreted as C instead of C++. You should check your files.associations settings and make sure you have something like "*.C": "cpp" in your files.associations.

[2020-08-05 19:00] Colengms commented on #5848
@ryan-holt-1 Could you also post an updated `C/C++` output with the command line arg corrected?  I'd like to confirm there isn't another issue detected after that one was resolved.  I suspect we may still be failing to probe glnxa64 g++.

[2020-08-05 19:06] tapr00t commented on #5866
Ok, thank you so much, that seems to have fixed everything!

[2020-08-05 19:06] #5866 closed, assigned to nobody

[2020-08-05 19:08] sean-mcmanus opened #5906 "Configuration provider Insiders regression -- includes not found"
This issue seems to have re-surfaced with the new version update v0.30.0-insiders. Things are working perfectly with v0.29.0. Please assit this. I have tested it with previous versions to claim this. (I am using VSC on a Ubuntu Server via SSH connect.

With latest version
![image](https://user-images.githubusercontent.com/43124192/89375235-9c5d8c80-d730-11ea-8bbb-da7e549e6fd7.png)

With older vers

[2020-08-05 19:10] ryanpholt commented on #5848
Sure, I have attached "new_bad.txt".

[new_bad.txt](https://github.com/microsoft/vscode-cpptools/files/5030658/new_bad.txt)

[2020-08-05 19:11] sean-mcmanus commented on #5906
You're using the CMake Tools configuration provider, right? Can you provide info from C/C++: Log Diagnostics?

@Colengms Could this be related to your recent configuration provider changes?

[2020-08-05 19:14] ryanpholt commented on #5848
Note that glnxa64 just means x64 Linux.

[2020-08-05 19:14] sean-mcmanus commented on #5874
Finally caught up (excluding some issues marked as "investigate") and released 0.30.0-insiders .

[2020-08-05 19:14] #5874 closed, assigned to nobody

[2020-08-05 19:42] sean-mcmanus commented on #5611
So it's using around 22 GB in your logging?

Are you able to provide any more repro info? Does it repro with a simple project?

[2020-08-05 19:48] bobbrow commented on #5866
Wait, @sean-mcmanus, I thought we fixed it so that *.C files automatically switch to C++.  Did that break?

[2020-08-05 19:54] bobbrow commented on #5884
It sounds like there might be an issue with populating the `compilerPath` when a new `c_cpp_properties.json` is created.  Would you be able to check and see @sean-mcmanus?

[2020-08-05 19:54] sean-mcmanus commented on #657
@travid112 Also, are you doing Format Document or Format on Type or Format on Save? Can you provide a code sample and an example .clang-format file?

See also https://github.com/microsoft/vscode-cpptools/issues/5901 (i.e. set `C_Cpp.clang_format_fallbackStyle` to `Emulated Visual Studio` if you want to get the previous formatting behavior). You could also try changing the vcFormat.* settings (see

[2020-08-05 20:08] Colengms commented on #5848
@ryan-holt-1 I've tried installing MATLAB with a trial license, but it did not appear to have installed that specific version of gcc/g++.  Can you tell me what package you are using that installed this?  Since the x64 bitness detection is not working with that compiler, it would appear to be something different than a standard x64 compiler (such as the one that would be installed to the default lo

[2020-08-05 20:12] sean-mcmanus opened #5907 "Some of the vcFormat.* settings defaults don't match VS default values"
I noticed vcFormat.space.aroundAssignmentOperator and aroundBinaryOperator are defaulting to "ignore" instead of "insert". There might be more settings that don't match VS's defaults.

[2020-08-05 20:38] ryanpholt commented on #5848
It is just the compiler we use for development -- it does not ship with MATLAB. My understanding is that it is just gcc 8.3 that ships with Debian 10: https://packages.debian.org/buster/gcc-8

I attached "probe.txt" with the result of running our compiler (with all the compile_commands.json arguments as well) with `-Wp,-v -E -dD -x c++ /dev/null` appended to the end.
[probe.txt](https://github.com

[2020-08-05 20:39] bobbrow opened #5908 "Search for compilerPath in the PATH environment variable"
A customer suggested this feature in an extension review.  If `compilerPath` is not an absolute path to a compiler, we could see if it is in the `PATH` and determine the absolute path ourselves.

[2020-08-05 20:49] bobbrow commented on #5621
`C_Cpp.default.includePath` is included in the search only in cases where `browse.path` is not set.  The other requirement is that `includePath` is not set or `includePath` contains the string "${default}".

Wow, that's impossibly slow!  Please let us know if you continue to see that.  If so, please share the steps you followed to make it happen so we can debug it.

[2020-08-05 20:53] Trass3r commented on #3214
Indeed the stopped event after stepping out contains the return value:
[code]

https://github.com/microsoft/MIEngine/blob/54b7d6b6dcc11d99297bcad8df765870f4e80da0/src/MIDebugEngine/Engine.Impl/DebuggedProcess.cs#L1238

[2020-08-05 20:53] sean-mcmanus commented on #429
[0.30.0-insiders](https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders) adds ARM (armhf) support when using the VS Code Remote Development extension (we tested it using Remote SSH). ARM64/AARCH64 support is still [in progress](https://github.com/microsoft/vscode-cpptools/issues/2506) (expected for the final 0.30.0 release). Let us know if there are other ARM targets that you w

[2020-08-05 20:59] bobbrow commented on #5621
@maxim-babenko, if #3123 looks like the same issue to you, we will close this one and track the issue there.

[2020-08-05 21:09] milan-r-shah commented on #5843
Hi @sean-mcmanus ,
Thanks for your reply. I tried resetting IntelliSense Database but it didn't make any difference. I still have to mention all the subdirectories explicitly **c_cpp_properties.json**.

Also, could you please tell me what should I do so that the changes I made in **c_cpp_properties.json** file in one project reflect in all the other projects? Right now, I have to update **c_cpp_pr

[2020-08-05 21:29] dchichkov commented on #4418
I'm having issues with cpptools consuming memory, to the levels that it freezes the workstation for short periods.  A Ubuntu 18.04 / 16Gb / ms-vscode.cpptools-0.27.1.

Just had to switch to switch to text console to kill cpptools, as it managed to freeze X.

[2020-08-05 21:44] Colengms commented on #5848
The reason it no longer works in 0.30.0-insiders is due to a 'fix' for the fact that we should be honoring the compiler from `compile_commands.json`, even if `C_Cpp.default.compilerPath` is set.

Unfortunately, I'm not repro'ing this issue easily with what seem to be equivalent configurations.  So, my questions are aimed at trying to figure out what is different with your environment.  Once I can

[2020-08-05 21:52] sean-mcmanus commented on #5901
I've filed an issue in regards to the "vcFormat" or "Visual Studio" fallback style at https://developercommunity.visualstudio.com/content/problem/1137727/cc-formatting-doesnt-work-as-expected.html .

[2020-08-05 22:02] ryanpholt commented on #5848
I guess I meant that I assume it still had to probe the compiler set by `C_Cpp.default.compilerPath` to get the system includes, no? The compiler I specified was the same as the one in the compile_commands.json.

I attached "probe2.txt" which is the same as "probe.txt" but I added `-m64`. It seems to have been accepted.
[probe2.txt](https://github.com/microsoft/vscode-cpptools/files/5031442/probe2

[2020-08-05 22:07] sean-mcmanus commented on #5866
@bobbrow It works for me -- I see it adding "file.C" : "cpp" to the files.association setting. It's possible there's some scenario when that doesn't occur. I think we'd need more repro details.

[2020-08-05 22:16] sean-mcmanus commented on #5843
Yeah, I don't have an explanation for why recursive includes isn't working for you.

Do the projects all use the same includes? You could set C_Cpp.default.includePath at the User setting level and those could be referenced using ${default} in your includePath in c_cpp_properties.json.

[2020-08-05 22:52] Colengms commented on #5848
I think the reason it didn't repro when using `C_Cpp.default.compilerPath` in 0.29.0 is because we would probe that compiler for defaults without including the args present in your `compiler_commands.json`.  With `compile_commands.json`, we probe the compiler separately for each different set of relevant arguments, as the build system could hypothetically be configuring the compiler differently on

[2020-08-05 23:25] sean-mcmanus commented on #657
@emptyVoid @christophe-calmejane  https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders has support for the various Visual Studio formatting settings instead of using the "emulated" clang-format implementation. Let us know if you have any feedback on that (note: you may want to change some of the default settings, see https://github.com/microsoft/vscode-cpptools/issues/5907 ).

[2020-08-06 00:13] Colengms opened #5910 "Avoid adding Windows SDK include paths if already specified as include paths"
Currently, if the `windowsSdkVersion` is not set, the latest Windows SDK installed on the system is used.  If include paths that refer into a prior Windows SDK are also specified, multiple Windows SDKs will be parsed.

If a Windows SDK is specified via include paths, additional Windows SDK paths should not be added.

[2020-08-06 00:23] sean-mcmanus commented on #5885
This is fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders. However, comments will give squiggles unless the default JSON file type is changed to "JSON with comments", which will be fixed in our next release (see https://github.com/microsoft/vscode-cpptools/pull/5911 ).

[2020-08-06 00:31] bobbrow commented on #5867
This feels like too big of a hammer to solve the problem.  I think that #1798/#4939 would address the root cause of the issue (too much info) and make the completion list more manageable.  I wouldn't think that you'd really want to remove completions for all STL types (which is what I assume are the types of files pointed to by your `systemIncludePath`.

(And as an aside, if it is the standard C/C

[2020-08-06 00:42] sean-mcmanus commented on #5910
If it's hard to detect Windows SDK header paths in includePath maybe we could make setting a blank windowsSdkVersion cause the default to not be auto-added.

[2020-08-06 00:50] sean-mcmanus commented on #5579
Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders

[2020-08-06 00:51] sean-mcmanus commented on #5727
Should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders

[2020-08-06 00:57] ryanpholt commented on #5848
Makes sense. Thanks! I'll look out for the next insiders.

[2020-08-06 00:58] sean-mcmanus commented on #5812
@Colengms I'm seeing this not fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders. Same as https://github.com/microsoft/vscode-cpptools/issues/5828 . Are you able to repro that?

[2020-08-06 00:59] sean-mcmanus commented on #5819
This should be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders . Let us know if you're still hitting issues getting it to work.

[2020-08-06 01:00] sean-mcmanus commented on #5834
Fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders .

[2020-08-06 01:04] sean-mcmanus commented on #5828
This was supposed to be fixed with https://github.com/microsoft/vscode-cpptools/releases/tag/0.30.0-insiders, but I'm still seeing the bug repro, so there might still be more work to do.

[2020-08-06 01:25] sean-mcmanus commented on #5835
I'm still investigating this (I'm seeing includes not found with 0.30.0-insiders, but it's not showing me which ones).

[2020-08-06 02:23] my-vegetable-has-exploded commented on #5898
[code]

[2020-08-06 02:28] srijanc commented on #5906
Yes, I am using the CMake Tool configuration provider.
I am not very sure what exactly you mean by saying "C/C++: Log Diagnostics"?
I am attaching 2 logs, one is extension log and another is debug log for C/C++.
Please let me know how to extract that specific log (the one you have requested).
[C_C++_Debug.log](https://github.com/microsoft/vscode-cpptools/files/5032192/C_C%2B%2B_Debug.log)
[exthost

[2020-08-06 03:04] hengyuekang opened #5912 "v0.30.0-insiders：i can not use format document and have to keep it 0.29"
**Type: LanguageService**

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:
- A clear and concise description of what the bug is, including information about the workspace (i.e. is the workspace

[2020-08-06 03:11] KingOfDuck commented on #5079
This one just solved my problem 😁

[2020-08-06 03:51] zouquan741 opened #5913 "ERROR: Exception while processing MIEngine operation. Unrecognized format of field ""0x000000010034c5e5 \"*\\x86H\\x86�" in result: result-class: done."
Type: Debugger

**Describe the bug**
- OS and Version: macOS 10.15.6
- VS Code Version: 1.47.3
- C/C++ Extension Version: 0.29.0

When I debug openssl, and try to explore the content of X509_PUBKEY->algor->algorithm, the error occur.
Then none of the operation work except stop debugging.
![image](https://user-images.githubusercontent.com/13255981/89488160-d6369d80-d7d9-11ea-8d24-bf52b5061422.png)

[2020-08-06 03:58] Nov3n commented on #5912
the same problem occured to me,2

[2020-08-06 04:06] gandyli commented on #5897
It doesn't repro with 0.29.0.
I compiled the source on https://gcc.gnu.org with the command following:
[code]
After I set `C_Cpp.intelliSenseCacheSize` to 0, I can still see the message `std 没有成员 vector`.

[2020-08-06 05:17] justKidrauhl commented on #5889
I tried to debug with the GDB command line, it exited normally.
[code]

[2020-08-06 05:33] robokamran commented on #5908
Thank you for creating this issue 🙏🏻 many other VSCODE extensions that work with CPPTools have a problem with this and cannot create independent extensions. e.g. take a look at [here](https://github.com/bmd-studio/stm32-for-vscode/issues/25)
I believe it could be better that all paths in the json config have access to the PATH environment variable.

[2020-08-06 07:15] zbz-cool commented on #1162
bump

[2020-08-06 07:36] zouquan741 commented on #5913
I found a simple way to reproduce this:
![image](https://user-images.githubusercontent.com/13255981/89504449-97650f80-d7fa-11ea-8f45-b37a8f04fda3.png)

main.c:
[code]

launch.json:
[code]

[2020-08-06 07:57] andyp1per commented on #4418
I have to do this regularly. @sean-mcmanus please, please at least provide a way of turning off cpptools!

[2020-08-06 08:00] justKidrauhl commented on #5889
I figure out that it's a bug with my gdb. [https://stackoverflow.com/questions/62782459/gdb-exited-unexpectedly-when-debugging-with-vscode](url)
I don't know how to fix it, but I suppose it has nothing to do with vscode/cpptools. So, this issue can be closed. Thanks a lot for your reply!

[2020-08-06 11:29] dhl2011dj opened #5914 "0.30.0-insiders - Formatting fails if document contains multi-byte characters"
**Type: LanguageService**

**Describe the bug**
- OS and Version:Windows_NT x64 10.0.1836
- VS Code Version:1.47.3 (user setup)
- C/C++ Extension Version:v0.30.0-insiders
- Other extensions you installed (and if the issue persists after disabling them):
- Does this issue involve using SSH remote to run the extension on a remote machine?:YES

**Steps to reproduce**

1. Update the extension c/c++ to

[2020-08-06 13:26] gracicot opened #5915 "language server crashes on 0.30.0-insiders"
Type: General

**Describe the bug**
- OS and Version: Arch (rolling)
- VS Code Version: Code - OSS 1.47.3 (from the arch repo)
- C/C++ Extension Version: 0.30.0-insiders
- Other extensions you installed (and if the issue persists after disabling them): CMake-tool, gitlens, CMake test-exporer
- The extension fails to load correctly. It did worked with the non-insider version and I don't know how to

[2020-08-06 13:34] maxim-babenko commented on #5621
I don't think #3123 is the duplicate. It is certainly related as I do not want cpptools to follow the links blindly, but it's not the only issue here.

I still struggle to avoid cpptools traversing the irrelevant parts of my codebase.

My current workplace settings are
https://gist.github.com/maxim-babenko/4b76d78ec91f5c489c59113ae14dd579

As per your advice, I listed the relevant paths in C_Cpp.d

[2020-08-06 14:08] jay-pee opened #5917 "Debug: Compound - Python / Attach C Process doesn't work"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 1909
- VS Code Version: 1.48-insder
- C/C++ Extension Version: v0.29.0
- Other extensions you installed: Python extension

**To Reproduce**
1. Open folder in VS Code
2. Create a new python file:
[code]
3. Add launch.json config:
[code]
4. Select the compound launch in the debugger and start it (F5)
5. See the error Message

![image](ht

[2020-08-06 15:06] gautsang opened #5918 "there are PROBLEMS in my code."
Type: General

**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.47.0
- C/C++ Extension Version: 0.29.0
- Other extensions you installed (and if the issue persists after disabling them): nothing
- A clear and concise description of what the bug is.

My code always shows that there is a problem.

![image](https://user-images.githubusercontent.com/44471252/89489507-a42b3880-d7e5

[2020-08-06 15:29] hacantorcooke opened #5919 "Switch Case Snippet"
Hey all,

Really enjoying the extension so far! I have a small feature request that is hopefully only a couple of minutes to implement!

When coding in C, a pretty common pattern is a switch case that covers all enum values such as:
[code]

It would seem that intellisense already has most of the info to do this, so making a snippet that auto-generates a switch case like this given an enum would be

[2020-08-06 15:49] hncat opened #5920 "Ctrl F（find） cannot be used"
Issue Type: <b>Bug</b>

After downloading the latest C/C++, the Ctrl+F shortcut will not work properly

Extension version: 0.29.0
VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 4.15.0-106-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2020-08-06 15:55] steelbiker opened #5921 "Can not find C or C++ for VS on Mac using extension tab"
Type: General

I followed the steps on the VS website for finding and downloading C and C++ for VS on Mac. They did not appear when I searched. I made sure I was accessing the gallery and not searching the downloaded extensions. I also refreshed.

**Describe the bug**
- OS and Version:
- VS Code Version:
- C/C++ Extension Version:
- Other extensions you installed (and if the issue persists after d

[2020-08-06 17:33] sean-mcmanus commented on #5921
What do you mean by "VS on Mac"? What VS website are you referring to? Our C/C++ extension only runs in VS Code and not VS for Mac.

[2020-08-06 17:37] sean-mcmanus commented on #5920
I'm not reproing the bug. Our extension doesn't add any keymappings for Ctrl+F -- see https://github.com/microsoft/vscode-cpptools/blob/master/Extension/package.json and search for "key".

Does the issue go away after disabling the C/C++ extension?

[2020-08-06 17:43] sean-mcmanus commented on #5918
Can you copy/paste the characters of the error so I can search for it?

Also, are you able to provide an isolated code sample that repros the error?

[2020-08-06 17:49] sean-mcmanus commented on #5915
Our extension is detected missing files. How are you getting the Insider build? Are you manually installing https://github.com/microsoft/vscode-cpptools/releases/download/0.30.0-insiders/cpptools-linux.vsix or using the updateChannel mechanism?

You can get the non-Insiders by setting the C_Cpp.updateChannel to "Default". You may also need to uninstall 0.30.0-insiders and install 0.29.0.

[2020-08-06 17:52] sean-mcmanus commented on #5912
We changed the behavior of the "C_Cpp.clang_format_fallbackStyle" default value of "Visual Studio" to use the new vcFormat implementation. You can get the old behavior via changing the "C_Cpp.clang_format_fallbackStyle" to "Emulated Visual Studio".

Do you think we should change it so the default formatting behavior doesn't unexpectedly change for users without requiring user's change their settin

[2020-08-06 17:57] gracicot commented on #5915
@sean-mcmanus Thank you for the instruction to roll back. Strangely enough, after a few restarts and reload, it started working again. Maybe because I tried building it and suddenly it got the files it needed? It also worth noting that I forgot my laptop running a ssh session on the computer I was getting the error.

The console output now reads:
[code]

I would have liked to provide more info, bu

[2020-08-06 18:11] sean-mcmanus commented on #5898
Does the issue repro if you change "C_Cpp.formatting" to "clangFormat", "C_Cpp.clang_format_style" to "Emulated Visual Studio", and "C_Cpp.clang_format_fallbackStyle" to "Emulated Visual Studio"? Our extension has clang-format bundled, so it will use that if you don't have it installed globally.

So far we haven't been able to witness document corruption. So if we could get some repro like
1. Past