[2018-06-21 20:24] rickstaa commented on #2164
Thanks a lot for looking into it except from these issues I think you build an amazing app. I enabled "Debug" like you said and checked the output of the C/C++ panel I attached the output below.

- The  format document command works like a charm.
- The go to definition only works on my own defined classes not on any of the standard libraries or included headers. It does also not work on structs I

[2018-06-21 20:26] cksmith commented on #2056
@pieandcakes Deleting that folder and reinstalling did the trick, thanks!.

[2018-06-21 20:28] sean-mcmanus commented on #2164
You need to change your "intelliSenseEngine" setting to "Default" instead of "Tag Parser".

[2018-06-21 20:35] rickstaa commented on #2164
O your right that's it! Sorry for taking your time. I don't know how it happend but in the user settings file there is a command overwriting the intelliSenseEngine settings. Can this be caused by installing a lot of plugins?

[2018-06-21 20:38] sean-mcmanus commented on #2164
It's possible for another extension to change/modify our settings...I haven't heard of any extensions that do that though. If enabling an extension causes the setting to change back to Tag Parser you may need to disable that extension.

[2018-06-21 20:39] #2164 closed, assigned to nobody

[2018-06-21 20:57] esmirnov commented on #1796
Hello! Could you describe how the recursive includes will work in my scenario? Does it just look for the file inside each directory under ${workspaceFolder}? Thank you!

[2018-06-21 21:30] sean-mcmanus commented on #2165
Thanks for reporting this. Yeah, our typescript is throwing an exception in this case. We'll see if we can release this in our pending update -- if not, it'll go in the next update. See https://github.com/Microsoft/vscode-cpptools/pull/2166 . This code has been around since February, so maybe VS Code changed how its APIs behave?

[2018-06-21 21:41] sean-mcmanus commented on #1796
Yeah, if you use ${workspaceFolder}/** then for every #include <path> it will go through and see if the existing non-recursive includes are able to find it; otherwise, it will recursively try to find a path that satisfies the include and add that path. If you set your C_Cpp.loggingLevel to "Debug" and then open a file that relies on recursive includes, you should see in the C/C++ section of the Ou

[2018-06-21 21:42] wpaul-magicleap commented on #2165
Wow, thanks for the quick fix!

[2018-06-21 22:34] ARHollisSr commented on #647
@yuanhuihe Thanks!

[2018-06-21 22:36] peterlevi commented on #1472
I can confirm "Go to Symbol in File..." is most times very very slow on 1.24.1
(on Ubuntu 16.04) on a largish Python file (~1500 lines) - most times I'm just looking at the animated thingie. Second time it sometimes appears fast, next time it's slow again. Using it on this file: https://github.com/peterlevi/ojo/blob/master/ojo/ojo.py (vscode started directly in the root of that whole repo)

![vsco

[2018-06-21 23:18] sean-mcmanus commented on #1472
@peterlevi Could you file your issue with the python extension? This is the C/C++ extension.

[2018-06-21 23:56] #2149 closed, assigned to pieandcakes

[2018-06-22 00:11] Stonepia opened #2167 "Error with IntelliSense and Debugging when set to Unicode UTF-8 worldwide."
Type: LanguageService , Debug

- OS and Version: Windows 1803
- VS Code Version:  1.24.1
- C/C++ Extension Version: 0.17.4

**Describe the bug**
When the **Beta: Use Unicode UTF-8 for worldwide language support ** option is on, the Intellisense of msvc cannot use the "go to definition". It cannot find the correct path of headerfile. (with default generated c_cpp_properties.json)

When set the incl

[2018-06-22 01:04] #2165 closed, assigned to nobody

[2018-06-22 02:05] sean-mcmanus opened #2169 "C/C++ extension process become dangling on Linux/Mac"
On Linux/Mac, if VS Code is closed while the red flame is in the bottom right, the 2 language service processes can become dangling. Repros with 0.17.4 and probably earlier versions. The repro might require a large enough project or something.

[2018-06-22 03:35] sean-mcmanus commented on #1297
compile_commands.json auto-detection has been added to 0.17.5. Be careful not to hit the "Don't Ask Again" button or the prompt won't ever show up again (we could change it to be per-workspaceFolder if enough users complain).

[2018-06-22 03:35] #1297 closed, assigned to nobody

[2018-06-22 03:36] #1907 closed, assigned to grdowns

[2018-06-22 03:36] #2068 closed, assigned to nobody

[2018-06-22 03:38] sean-mcmanus commented on #1908
Should be fixed with 0.17.5.

[2018-06-22 03:38] #1908 closed, assigned to nobody

[2018-06-22 03:38] #2031 closed, assigned to grdowns

[2018-06-22 03:38] sean-mcmanus commented on #2053
Should be fixed with 0.17.5.

[2018-06-22 03:38] #2053 closed, assigned to nobody

[2018-06-22 03:39] sean-mcmanus commented on #2080
We fixed one crash with 0.17.5. Let us know what other crashes are still occurring. I don't think we had enough info for the canonicalize crash.

[2018-06-22 03:39] #2080 closed, assigned to nobody

[2018-06-22 03:39] #2090 closed, assigned to nobody

[2018-06-22 03:40] sean-mcmanus commented on #2165
Fixed with 0.17.5.

[2018-06-22 03:41] sean-mcmanus commented on #2056
Should be fixed with 0.17.5.

[2018-06-22 03:41] #2056 closed, assigned to pieandcakes

[2018-06-22 03:41] #2109 closed, assigned to nobody

[2018-06-22 03:41] sean-mcmanus commented on #2132
Should be fixed with 0.17.5.

[2018-06-22 03:41] sean-mcmanus commented on #2144
Should be fixed with 0.17.5.

[2018-06-22 03:42] sean-mcmanus commented on #2163
Should be fixed with 0.17.5.

[2018-06-22 03:42] #2102 closed, assigned to nobody

[2018-06-22 03:45] sean-mcmanus commented on #1585
0.17.5 enables targeting a specific Visual Studio version via setting the compilerPath to the cl.exe used, but there's no way to set the Windows SDK used yet.

[2018-06-22 05:39] jayoungo commented on #2162
@sean-mcmanus After tests about this problem, I found that if I:
**Uninstall C/C++ extension, and keep setting "editor.formatOnType" true**
or
**Install C/C++ extension, and keep setting "editor.formatOnType"  false**
This problem disappeared, but I can't acquire the auto format (such as add space on both side of "=") while coding.
When I installed C/C++ extension and keep setting "editor.formatOn

[2018-06-22 05:46] sean-mcmanus commented on #2162
@RMyang Okay, thanks for the info. It looks like it's a bug with our OnType formatting. I recommend you set our C_Cpp.formatting to "Disabled" and see if another formatting extension implements this correctly, such as the clang-format extension until we can get a fix (or set the formatOnType to false). We only handle formatting when ";" is entered so it's not particularly useful.

[2018-06-22 06:50] adarshmk commented on #1485
I have the same issue. As a workaround, moving the #include so that its not in the middle, gets rid of the error squiggles

[2018-06-22 07:52] daldr-ntml commented on #2132
Working nicely now. Thanks.

[2018-06-22 08:30] rosenk commented on #1297
@sean-mcmanus Quick question: Is there plans to open source this extension?

[2018-06-22 09:28] suzukajiang opened #2170 "Didn't support find references."
- OS and Version:  windows 7 64bits
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5-insiders

[2018-06-22 11:49] rickstaa commented on #2164
Sean one more question If I may. Why does the syntax checker not work in the following code document? I think it is due to the fact that the header files were not found. Can I disable this behaviour that visual code doesn't display errors when a header file is not found? I am working on a singularity image so the header files are there but just not seen by visual code.

Thank a lot in advance,
Gre

[2018-06-22 12:53] fr43nk commented on #1796
So the recursive algorithm also finds the correct include file even if it is located parallel to the current directory? Like:
[code]

[2018-06-22 13:48] simon-p-r commented on #2146
Repo is here https://github.com/simon-p-r/vscode-debugger-signal

[2018-06-22 15:58] bobbrow commented on #1585
We should add a new Windows-only property to `c_cpp_properties.json` like we did for Mac Frameworks.

[2018-06-22 16:45] peterlevi commented on #1472
Thank you, sorry for the confusion, filed here: https://github.com/Microsoft/vscode-python/issues/2050

[2018-06-22 16:52] bobbrow commented on #410
Two other features have since been added to the extension that may also address this issue:

* recursive includes - you can use `**` syntax to tell the extension to automatically select include paths that contain the header files your source files are including.  The `**` must (currently) be at the end of the path string.  For example, ${workspaceFolder}/** instructs the extension to use any path

[2018-06-22 17:23] aartoni opened #2171 "Can't format. Language client is never ready"
## Bug description
- OS and Version: macOS 10.13.5
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5
- Other extensions installed: ARM (dan-c-underwood.arm), Code Runner, Java Extension Pack, LaTeX Workshop, VSC-Prolog, Italian Language Pack. Disabling them didn't fix the issue.

Extension's log states that "Language client is not ready yet" each time I try to format a C/C++ document, ev

[2018-06-22 17:28] VALLIS-NERIA opened #2172 "Can we support GCC C extensions?"
For example, typeof keyword, variable length and zero length arrays. Currently many of them are treated as unknown identifiers and the IntelliSense raises many errors.

http://gcc.gnu.org/onlinedocs/gcc-4.6.2/gcc/C-Extensions.html

[2018-06-22 18:09] sean-mcmanus commented on #1297
@rosenk The typescript part is already open source. We don't currently plan to open source the C/C++ part, in part, due to dependency on licensed third party code that can't be open sourced.

[2018-06-22 18:10] sean-mcmanus commented on #2170
This is https://github.com/Microsoft/vscode-cpptools/issues/15 .

[2018-06-22 18:10] #2170 closed, assigned to nobody

[2018-06-22 18:13] sean-mcmanus commented on #2164
Yes, you can change the "intelliSenseFallbackMode" to "Disabled", but from your screenshot I don't see the green squiggle that is supposed to appear under missing headers. If you look for the Microsoft.VSCode.CPP.IntelliSense.Msvc process and it appears and then disappears after opening the file, then it means something in the headers is causing a crash during parsing.

[2018-06-22 18:15] sean-mcmanus commented on #1796
Yes. In that case, "/Project/module2/h" would be added to the include path -- only for the myfile.cpp though (or other source files that reference the file).

[2018-06-22 18:21] sean-mcmanus commented on #2171
@bobbrow @grdowns Is anyone else able to repro this? I'm not able to.

[2018-06-22 18:24] sean-mcmanus commented on #2172
Our parser supports some of the extensions, although we may need to do additional work to get the features turned on, but some of the extensions our parser doesn't support.

[2018-06-22 18:47] rickstaa commented on #2164
Ah sorry, I accidentally only send you the screenshot in which it was working. But your answer was the one I was looking for thanks a lot!

[2018-06-22 19:42] adamfk commented on #2084
@sean-mcmanus: I would strongly prefer it to just show a peek when multiple definitions are found. Jumping to and peeking the same source is rather distracting/confusing.

As a whole though, the extension is amazing :)

[2018-06-22 21:45] sean-mcmanus commented on #2084
VS Code itself controls that behavior -- we just return a list of results. See https://github.com/Microsoft/vscode/issues/31046 for an issue on their side. Also, when we implement Go to Definition using the IntelliSense engine (instead of a fuzzy symbol lookup), then only 1 definition should be found.

[2018-06-22 22:00] bobbrow commented on #2171
@AlessioAtroni do you see any `Microsoft.VSCode.CPP.Extension.darwin` processes running on your Mac?  This isn't an error we've seen before.  It comes from the LSP implementation ([this repo](https://github.com/Microsoft/vscode-languageserver-node/)) that communicates with our language service and implies that our service is either not running, not responsive, or crashed.

If you set `"C_Cpp.loggi

[2018-06-22 23:11] aartoni commented on #2171
@bobbrow Process `Microsoft.VSCode.CPP.Extension.darwin` isn't running

But C/C++ filter does appear, here is the log

## Log (Debug level)
[code]

[2018-06-23 00:53] sean-mcmanus opened #2173 "There's a potential crash on saving when recursive includes are used"
I hit it once, but I'm not sure how exactly. It might require adding/removing "**". Should be fixed in our next update. The crash call stack will have "textDocument_didSave" at the top.

[2018-06-23 01:50] sean-mcmanus opened #2174 "Crash on Linux/Mac when "**" is used as the includePath or browse.path"
It will show "Language client is not ready yet" in the Toggle developer tools when the crash occurs on startup.

[2018-06-23 01:52] sean-mcmanus commented on #2171
The Language client is not ready message can occur when our main process crashes. I just hit this when I had a includePath with just "**" in it: https://github.com/Microsoft/vscode-cpptools/issues/2174 , which we should have a fix for in our next update. If you can attach a debugger and/or get a call stack of the crash we can confirm if it's the same crash or a different one.

[2018-06-23 05:27] VALLIS-NERIA commented on #2172
Yes. Some extensions are rarely used but some occurs everywhere in the linux kernel but still not supported. e.g.  ``__attribute__``, ``typeof``, and GNU style variable parameter of macros.
[code]

Getting errors like "expected an expression" or "expected a ';' " really destroys the experience.

[2018-06-23 10:53] caspian-yez opened #2175 "identifier "__auto_type" is undefined of atomic_store"
Type: LanguageService

**Describe the bug**
- OS and Version: Ubuntu 16.04.4 LTS
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5
- Other extensions you installed (and if the issue persists after disabling them): autoconf, Git History, Markdown TOC, Python, File Templates for VSCdoe
- A clear and concise description of what the bug is.

for `atomic_store` prompting `identifier "__auto_t

[2018-06-23 11:45] karera123 opened #2176 "C/C++ Intellisense process crashing"
Issue Type: <b>Bug</b>

Everytime I open vscode and edit a c/c++ file, intellisense doesn't work. When I check Task Manager, Microsoft.VSCode.CPP.Intellisense.Msvc.exe is not running.

Extension version: 0.17.5
VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Valu

[2018-06-23 12:13] aartoni commented on #2171
## Additional context

I noticed this only happens if I format the file with no opened folder in VSCode, this happens for both .c and .cpp files.

## Debug console output (from git-cloned extension)
[code]

[2018-06-23 13:58] vincentmathis opened #2177 "Duplicate system include path in user config not being auto-removed"
**Describe the bug**
- OS and Version: Windows 7 64bit
- VS Code Version: 1.24.1
- C/C++ Extension Version: Should be the newest.

IntelliSense didn't find stdlib.h in C:/MinGW/include
Other headers in this path were no problem though.

I changed the path to C:\\MinGW\\include and now it finds stdlib.h
Using forward slashes worked fine a few days ago.

[code]
Changing it to
[code]
shows ```cannot

[2018-06-23 16:29] ghost commented on #1018
Please add support for this. The debug console causes extreme stuttering when printing messages to the standard output at a sufficiently fast rate. See Microsoft/vscode#52728.

[2018-06-23 20:53] n3rd4i opened #2178 "[WSL] Intellisense does not work without g++ (e.g. only with gcc installed)"
Type: LanguageService

**Describe the bug**
- OS and Version: Microsoft Windows [Version 10.0.17692.1000]
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5
- Other extensions you installed (and if the issue persists after disabling them): N/A

**Probably documentation issue**, as in the docs: **vscode-cpptools/Documentation/LanguageServer/Windows Subsystem for Linux.md**, there is **no c

[2018-06-23 21:18] parkovski commented on #2146
There's probably an issue relating to this in just about every Windows terminal project. They've been impossible to make work consistently, and I think most people have given up on them until the PTY API is made stable. The only thing that consistently works is finding the hidden console window and sending it WM_KEYDOWN/WM_KEYUP messages.

[2018-06-24 03:11] cmh1027 opened #2179 "Error appears, but intellisense works"
![gif](https://user-images.githubusercontent.com/22341329/41815461-b07c9e18-77a6-11e8-9db3-87baa74464c4.gif)
As you can see, there's a squiggle under the iostream header, saying cannot open source file "corecrt.h"
And this is the same as every header file.
However, intellisense works even though the squiggle appears. I can ignore it and just use it, but I think that I should let you know this stra

[2018-06-24 03:30] a616781689 opened #2180 "I don`t define __GNUC__ in c_cpp_properties.json but it was definned"
![qq 20180624112510](https://user-images.githubusercontent.com/31605348/41815561-58a9623e-77a1-11e8-90d7-13f9d36d139b.jpg)

[2018-06-24 10:25] X1aSheng opened #2181 "inactive region colors should be disabled when Tag Parser fallback is active"
Issue Type: <b>Bug</b>

when i use the #if() #elif() #elif() #end ,
the color was wrong. please fix it,you can see it in the pictruce.

Extension version: 0.17.5
VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4590 CPU

[2018-06-24 10:27] X1aSheng commented on #2181
![tim 20180624182736](https://user-images.githubusercontent.com/37097029/41818199-4aacf69c-77dc-11e8-9a8a-44f7f8b62415.png)

[2018-06-24 10:37] X1aSheng commented on #2181
![tim 20180624183650](https://user-images.githubusercontent.com/37097029/41818264-94b25600-77dd-11e8-8d4f-260c1a49b9ac.png)

[2018-06-24 12:20] momadacoding commented on #2031
When the .h file and .cpp file is in the same folder, the .cpp file could not find the .h file.
Maybe the same as https://github.com/Microsoft/vscode-cpptools/issues/994
I use the code in https://github.com/jjuiddong/Introduction-to-3D-Game-Programming-With-DirectX11 , and add the                 "${workspaceFolder}/Common/**" to the includePath
Anyway to add the current folder to includePath ?

[2018-06-24 15:13] kris-mlguy opened #2182 "argc=1 even after specifying args in launch.json in VS code"
Type: Debugger

- OS and Version: Ubuntu 16.04
- VS Code Version: 1.18.1
- C/C++ Extension Version: C/C++ 0.16.1 (Microsoft)
- I'm trying to debug a C program in VS code, the executable of which requires multiple arguments for debugging. While debugging is in progress, I see that argc = 1 under the variables section even after specifying the arguments (each argument in separate quotes) under args

[2018-06-24 15:40] chriztheanvill commented on #2162
Hello. I have the same bug. As @sean-mcmanus said. With C_Cpp.formatting disabled, everything works.

[2018-06-24 22:06] TheAifam5 commented on #2142
Must be something with `IncludeCategories`. Crashes when is defined.

[2018-06-25 10:15] toh-ableton commented on #2084
@sean-mcmanus what about virtual methods? How would you expect this to work once the IntelliSense engine is used?

[2018-06-25 10:19] ytimenkov commented on #2173
I hit this so often that extension gives up on loading language server and I have directory full of core dumps.
(At least my issue looks similar, though in my case includes provided by compilation database and `c_cpp_properties.json` is almost auto-generated).
[code]

[2018-06-25 15:50] Ezekiel-DA opened #2183 "command:pickRemoteProcess with pipeTransport fails on linux target running procps 3.2.8"
Type: Debugger

# Details
- OS and Version: Windows 10 (version 1703)
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5
- Other extensions you installed (and if the issue persists after disabling them): N/A
- A clear and concise description of what the bug is:
VS Code fails to list the remote processes running on the target remote (found through `pipeTransport` to a docker container, in

[2018-06-25 15:59] bobbrow commented on #2177
The bug is that our duplicate path removal logic is failing to remove your `c:/MinGW/include` path.  The system include path requires very specific ordering for GCC/CLang because of the use of `#include_next` so when you provide the compilerPath we attempt to remove any duplicates so that your config does not accidentally disrupt the ordering.

This is a bug we should fix, but fortunately, you can

[2018-06-25 16:35] bobbrow commented on #2178
Are you developing in C or C++?  It is my understanding that if you don't install g++ you won't have any c++ headers to work with so you wouldn't be able to compile your code either.  But we can update the documentation to be more explicit here, or you are welcome to submit a PR with the documentation changes and we'll happily review it.

But there is an actual bug in the extension here, so thank

[2018-06-25 16:41] bobbrow commented on #2179
Can you try using the "compilerPath" property in `c_cpp_properties.json` instead of manually listing the system include paths and defines?

Something like this:
[code]
Also, make sure you've updated to the latest version of the extension: 0.17.5.  I expected to see `"version": 4` in your config file.

[2018-06-25 16:45] bobbrow commented on #2180
We try to auto-detect your compiler so that IntelliSense will work without any effort on your part.  If we picked the wrong one, you can either add the correct compiler to your `c_cpp_properties.json` file, or to the `C_Cpp.default.compilerPath` VS Code setting.

[2018-06-25 16:51] bobbrow commented on #2181
When you hover over `ENABLE_LEAK_SENSOR`, `ENABLE_TDS` or any of the other symbols you marked as true, do you get a tooltip that shows they are defined?

If no tooltip appears, can you check and make sure that they are listed in the `"defines"` array in your `c_cpp_properties.json` file?

For example:
[code]

[2018-06-25 17:20] bobbrow commented on #2142
@TheAifam5, if you are having issues with IncludeCategories, can you post a new issue?  I do not see any problem with it in this case.

@iViscosity, do you have a hex viewer extension installed?  The "hexdump for VSCode" extension works well if you don't.  Please open your .clang-format in the hex viewer and check the first few bytes to see if they are ASCII characters or byte markers.  Clang-Form

[2018-06-25 17:20] #2142 closed, assigned to nobody

[2018-06-25 18:28] BrandonShockley opened #2184 "Code suggestions for multiple struct members don't appear in addition or subtraction expressions"
Type: LanguageService
**----- Input information below -----**

**Describe the bug**
- OS and Version: Linux Mint 18.2
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5
- Other extensions you installed (and if the issue persists after disabling them): CMake, Makefile support, Python, Shader languages support. Issue persists after disabling.
- When typing an addition or subtraction express

[2018-06-25 18:56] sean-mcmanus commented on #2172
Your first line, the declaration, is missing a ";", so the "expected a ;" appears correct.

After correcting that, the code you use should work without any errors. If there are errors, you may need to set your compilerPath correctly or provide more repro details.

I'm pretty sure there are some GNU extensions we don't support though (from previous users reporting problems with them).

[2018-06-25 19:10] sean-mcmanus commented on #2175
A previous issue with the same error is https://github.com/Microsoft/vscode-cpptools/issues/1448 , but that got fixed by setting the compilerPath to gcc. My best guess is that we're not able to query the compiler you're using for the correct includes/defines (i.e. this works for me with the normal gcc compiler). Can you set your C_Cpp.loggingLevel temporarily to "Debug" and then open a C/C++ file

[2018-06-25 19:20] sean-mcmanus commented on #2175
Oops, actually, I am hitting the "__auto_type" issue with gcc-6 (not clang though). Looks like our parser isn't configured correctly to handle the __auto_type gcc extension. I couldn't work around the issue via forcing the --gcc or --gnu_version. I'm not sure when we'll get around to fixing this...

[2018-06-25 20:50] iitgrad commented on #833
I'm also encountering this issue.  Has there been any resolution?

[2018-06-25 20:54] sean-mcmanus commented on #2176
We need more repro info. Are you saying that it's working before you do an edit? Are you able to attach a debugger before it crashes and then get a call stack of the crash location?

[2018-06-25 20:58] pieandcakes commented on #833
@iitgrad Can you try my previous response and let me know if this works?

[2018-06-25 21:03] sean-mcmanus commented on #2173
@ytimenkov Thanks for the info. Ah, if you're using some extension that is causing the "**" to be added/removed from the includePath a lot that would cause this to repro (and there might be other repro scenarios we're not aware of). We plan to release an 0.17.6-insiders with the fix this week.

[2018-06-25 21:40] pieandcakes commented on #2182
@KrishnanParameswaran I wrote a sample program and am not getting the same value:
![image](https://user-images.githubusercontent.com/17558378/41877314-a8ea0aa2-7885-11e8-844f-0c3ef2397d36.png)

[2018-06-25 21:40] pieandcakes commented on #2182
Please provide a repro project.

[2018-06-25 22:39] sean-mcmanus commented on #2031
This bug is just for #include completions. The IntelliSense engine already adds the current folder automatically so any file that uses #include "header.h" should find header.h if it's in the same directory as the source file. Recursive includes is only required if header.h is in a subfolder. It's possible that some required defines are missing. Which header file can't be found? It would be better

[2018-06-25 22:52] sean-mcmanus commented on #2084
Visual Studio uses the single compile-time type for go to definition and not the run-time type of the object (i.e. base->func() goes to the base class, not multiple subclass definition), so that's how we would behave unless we did something special.

[2018-06-25 23:37] pieandcakes commented on #2167
@Stonepia For debugging, this is a duplicate of #1527 . We are investigating options to fix it but the core issue is that when we convert to UTF-8, a BOM is sent which gdb doesn't know what to do with and then it hangs.

[2018-06-25 23:37] pieandcakes commented on #2167
@sean-mcmanus or @bobbrow can help with whether the Intellisense issue is a known bug or not.

[2018-06-25 23:38] WardenGnaw commented on #2183
Workaround would be to delete the `-` in .vscode\extensions\ms-vscode.cpptools-<version>\out\src\Debugger\nativeAttach.js for psLinuxCommand.

[2018-06-25 23:48] bobbrow commented on #2169
possibly related: #2075

[2018-06-26 00:34] sean-mcmanus commented on #2184
Thanks for reporting this. I'm able to repro it. It appears to not repro on Windows, which is unexpected (it turns out, my Linux machine was slower, making the repro easier).

UPDATE: Looks like edits were incorrectly getting queued async so the completion request would randomly occur before the required edits.

[2018-06-26 00:41] pieandcakes commented on #2146
@simon-p-r I have your repo but I can't figure out how to build. I installed your tool set items below and then ran `vcpkg install libuv`, I set the libuv Library path environment variable. and then tried both cmake and cmake-js's builds.

[2018-06-26 00:41] WardenGnaw commented on #2130
During the start of GDB/LLDB. This will also need to run `-list-target-features` and validate that `‘reverse’` is in the result list.

In order to run the commands, users will need to run `-exec console "target record-full"` from the debug console in order for the commands to work. Enabling this at the start will be slow for larger programs, and if users do want this they can insert it into the `s

[2018-06-26 00:41] #1904 closed, assigned to WardenGnaw

[2018-06-26 00:43] pieandcakes commented on #2130
The "target record-full" would be something that has to be manual as there doesn't seem to be a way to specify it from VS Code's UI

Another hurdle will be that `-list-target-features` command isn't runnable until the `target` is set in gdb which might be after the capabilities has been returned.

[2018-06-26 01:40] X1aSheng commented on #2181
![image](https://user-images.githubusercontent.com/37097029/41884211-f8e087f8-7924-11e8-8550-cc50389eb284.png)

[2018-06-26 01:57] sean-mcmanus commented on #2181
We're not able to repro the problem, so there must be something unusual occurring in your scenario. What happens if you add "#define ENABLE_LEAK_SENSOR" right before the #if (ENABLE_LEAK_SENSOR)? What happens if you use #if (ENABLE_LEAK_SENSOR) in an otherwise empty .c file?

[2018-06-26 02:03] caspian-yez commented on #2175
I'm sorry, I deleted too much config when removing personal info. "includePath" and "path" had config: `/opt/arm-linux-gnueabihf/arm-linux-gnueabihf/sysroot/usr/include`.
It's really annoying to have error prompting wherever there is `atomic_store` `atomic_load` but the extension still helps a lot in coding.

[2018-06-26 06:13] ytimenkov commented on #2173
@sean-mcmanus Just for the record: I'm not using any other extension. As I understand these recursive includes come from cpptools querying compiler for include paths:
[code]
And I don't see a way to disable or work around this. I tried to override `browse.path` in my `c_cpp_properties.json` but it has no effect.

[2018-06-26 10:11] liudonghua123 commented on #145
+1

[2018-06-26 10:18] job-gordon opened #2186 "In vscode I could not attach a remote process"
Type: Debugger
**Describe the bug**
- OS and Version: Win7 business
- VS Code Version: 1.23.1    x64
- C/C++ Extension Version: 0.17.5
- A clear and concise description of what the bug is.
launch.json:
 {
            "name": "(gdb) Attach",
            "type": "cppdbg",
            "request": "attach",
            "program": "${workspaceFolder}/src/xxx",
            "MIMode": "gdb",
            "m

[2018-06-26 13:15] ghost opened #2187 "The language server crashed 5 times in the last 3 minutes. It will not be restarted."
Issue Type: <b>Bug</b>

This error appears after trying to save the file:

[Error - 15:09:31] Connection to server got closed. Server will not be restarted.
[Error - 15:09:31] Request textDocument/codeAction failed.
Error: Connection got disposed.
	at Object.dispose (/home/andrej/.vscode/extensions/ms-vscode.cpptools-0.17.5/node_modules/vscode-jsonrpc/lib/main.js:825:25)
	at Object.dispose (/home/

[2018-06-26 13:25] simon-p-r commented on #2146
Sorry that was not clear, you need to run build.js script with node.  It needs to find version of libuv installed by vcpkg

[2018-06-26 15:43] bobbrow commented on #2187
This sounds like #2173. We plan to publish an insiders package with the fix this week.

[2018-06-26 16:08] jfg118 commented on #2130
Perhaps a general option in the Debug Configuration to "Enable Reverse Debugging at startup" with a note that it Requires Reverse GDB.

This would allow the user to have different Debug Configurations, some with reverse debugging enabled and others without.

[2018-06-26 17:23] karera123 commented on #2176
I don't know if this helps:
[code]

[2018-06-26 18:39] sean-mcmanus commented on #2173
Those are not recursive includePaths -- they are recursive browse.paths. `"*"` means non-recursive for browse.path (not recommended if you actually need to navigate to those files in subfolders), `"**"` means recursive for includePath, and browse.path is recursive by default and includePath is not. We ignore "*" in includePath and "**" in browse.path. Yeah, it's sort of confusing.

So, I'm not rea

[2018-06-26 20:13] bobbrow commented on #723
With 0.17.5 you should be able to use `/my/path/**` and it will add all of the relevant paths.  Let us know if that works for you.

[2018-06-26 20:17] bobbrow commented on #863
This issue is addressed by the recursive includes feature.  Adding `${workspaceFolder}/**` to your `includePath` will auto-add the necessary paths to match your `#include` lines.  You can also use the `**` syntax for folders outside the workspace if you are using some other library (like QT) that has a lot of folders that need to be included: `/path/to/library/**`

[2018-06-26 20:17] #863 closed, assigned to nobody

[2018-06-26 20:41] sean-mcmanus commented on #2178
@bobbrow Were you going to update the docs?

[2018-06-26 21:04] bobbrow commented on #2178
I'm not sure that there's a need to update the docs after we fix the bug.  g++ shouldn't have been a pre-requisite.

[2018-06-27 00:58] raggesilver commented on #1035
Is there at least a way to disable (suppress) that warning?

[2018-06-27 01:00] sean-mcmanus commented on #1035
@raggesilver What warning are you referring to? You can set errorSquiggles to "Disabled" to disable all messages, but we don't have a way to remove certain ones.

[2018-06-27 01:26] lentotski commented on #634
+1

[2018-06-27 01:41] sean-mcmanus commented on #2104
Oh, this was a regression caused by recursive includes.

[2018-06-27 03:01] sean-mcmanus commented on #261
Actually, I guess this can be considered a duplicate of https://github.com/Microsoft/vscode-cpptools/issues/7 .

[2018-06-27 03:01] #261 closed, assigned to nobody

[2018-06-27 03:03] #383 closed, assigned to nobody

[2018-06-27 03:06] lygstate commented on #383
maybe its fixed， I am testing under win32

[2018-06-27 03:13] sean-mcmanus commented on #387
Go to Definition doesn't work on "ns::member" when using "namespace n = another::ns;". It's expected to be fixed when Go to Defintion is implemented with the IntelliSense engine. We might have another bug on this but I couldn't find it.

[2018-06-27 03:15] sean-mcmanus commented on #383
Yeah, we can re-open this if you're stilling hitting an issue...I remember we did install QT and fixed some bug a few months ago, but my trial license expired :(

[2018-06-27 05:24] dprandle commented on #785
As long as multi-translation unit intellisense is not a near-future item, this should be high priority. It is very unfortunate that I have to manually go in and edit out.js again after every update is released in order to have cquery run the show and cpptools as a debugger extension only

[2018-06-27 13:01] weinand opened #2190 "How to run the debuggee in the debug console or in the integrated terminal"
I would like to debug a C++ program on linux without installing any additional terminal emulators like Gnome Terminal or XTerm.

Setting "externalConsole" to false doesn't help.

Is there a way to configure the debug session so that it uses VS Code's debug console or the integrated terminal?

[2018-06-27 17:37] z2665 opened #2191 "Auto-Completion runs very slowly"
Type: LanguageService
**----- Input information below -----**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: windows10 1803
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5
- A clear and concise description of what the bug is.

I want to u

[2018-06-27 18:19] sean-mcmanus commented on #785
@dprandle The typescript code that would implement this disabling is open source, so we could accept a pull request to add some `disableLanguageServer` option. I understand why this is important to you and others, but the number of requests haven't been particularly high.

[2018-06-27 18:27] pieandcakes commented on #2190
@weinand not at this time. We have a backlog item to do the work. (#35)

[2018-06-27 19:06] weinand commented on #2190
@pieandcakes thanks!
Please note, that using the integrated terminal is really trivial since VS Code does all the heavy lifting. Just send a "runInTerminal" DAP request from your adapter back to VS Code and you are in business.
See https://github.com/Microsoft/vscode-node-debug/blob/8c584b207fe91448f18de997f57fe5fbaaae3ce1/src/node/nodeDebug.ts#L1073-L1082

[2018-06-27 19:07] MikeGameDev opened #2192 "IntelliSense Parse Directory Exclusions"
Type: LanguageService
C/C++

**Describe the bug**
- OS and Version: Windows 10 RS4
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5
- Other extensions you installed (and if the issue persists after disabling them): None
- A clear and concise description of what the bug is:

IntelliSense seems to parse every folder within a workspace without any regard for the "files.exclude" workspace s

[2018-06-27 19:12] sean-mcmanus commented on #2192
Hmm...we are supposed to look at files.exclude. Can you provide more info? Are you excluding certain folders? How do you know those excluded folders are being parsed? Are you opening files in those excluded folders? Are you using WSL? Are you using recursive includes? If you set the C_Cpp.loggingLevel to "Debug" you can see which files we are parsing, although you may need to do a Reset IntelliSen

[2018-06-27 19:20] ghost opened #2193 "#ifndef claims to have no #endif to close it"
I'm on windows 8.1

This isn't the exact code i used, but typing this out claims that #ifndef does not have a #endif to close it
#ifndef FILE_H // "The endif for this directive is missing"
#define FILE_H
#ifdef _WIN32
#pragma once
#endif

[2018-06-27 19:22] ghost commented on #2193
There is also a red line under #endif stating "the #endif for this directory is missing"

[2018-06-27 19:29] sean-mcmanus commented on #2193
Yeah, you're missing the 2nd #endif, right?

[2018-06-27 19:35] ghost commented on #2193
This entire issue would just be my lack of knowledge in programming. I did not know a second #endif was required

[2018-06-27 19:35] #2193 closed, assigned to nobody

[2018-06-27 22:13] sean-mcmanus commented on #2162
I'm not able to repro this bug. Any advice on how to get it to occur?

[2018-06-27 23:21] sean-mcmanus commented on #1905
This sounds the same as https://github.com/Microsoft/vscode-cpptools/issues/2184 . We had a bug were edits randomly weren't being processed before the completion request. Let us know if this still repros after we ship 0.17.6.

[2018-06-28 01:22] GriffenJohn opened #2196 "Outline doesn't show all items up"
![gif2](https://user-images.githubusercontent.com/36688398/42007464-def7ee78-7ab2-11e8-8aad-f9925e4cee63.gif)
The last two items in outline was out of border when I clicked extension and clicked explorer back.
Change the size of outline window would make them show up again.

[2018-06-28 01:35] sean-mcmanus commented on #2196
Our extension doesn't populate any outlines -- is this from another extension?

[2018-06-28 01:58] surify commented on #1905
sure

[2018-06-28 06:34] GriffenJohn commented on #2196
OK, maybe this function is supported by vs code.

[2018-06-28 07:19] greennerve commented on #2171
I encountered the same issue.

- OS Version:    Ubuntu 18.04(4.15.0-23-generic #25-Ubuntu SMP Wed May 23 18:02:16 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux)

- VS Code Version:  1.24.1

- C/C++ Extension Version:  0.17.5

- Other extensions installed:  Python(Microsoft)

Log:
[code]

[2018-06-28 12:35] toxmc commented on #688
debugger PHP7  shows only first element of zend_string
![image](https://user-images.githubusercontent.com/3990846/42034401-7e7343f8-7b12-11e8-9c7c-b8186e9ff896.png)
![image](https://user-images.githubusercontent.com/3990846/42034436-9a14b34e-7b12-11e8-9866-cad9a304793d.png)

sos...
how can i do display all?

[2018-06-28 13:24] spinicist commented on #1219
Hi,

Is there any progress on this issue? I am still experiencing it. It's the only problem I have with the C++ plugin, everything else works great.

[2018-06-28 13:39] vballworld opened #2197 "GDB error while trying to enter break state due to level field; carry over issue from VS"
I'm running into the same issue as others have raised for VS (not VS Code):
https://github.com/Microsoft/MIEngine/issues/144
https://github.com/Microsoft/VSLinux/issues/71

Seems like VS has this bug fixed, but VS Code does NOT. For others, the full msg I get when trying to gdb my multi-threaded application and trying to break at a given point is as follows:

ERROR: Error while trying to enter bre

[2018-06-28 14:51] jayoungo commented on #2162
@sean-mcmanus In my tests, this problem occurred almost every time. The extensions and settings are like the pictures above, and I added "...\Microsoft VS Code\bin" to User Environment Variable "Path". In addition, with the same extensions and settings, the VS Code in my Ubuntu 16.04 works well all the time.

The gif below recorded the errors while coding:
![vscodeerror1](https://user-images.githu

[2018-06-28 15:54] ThadHouse opened #2198 "Cpp Tools API Repo Private"
I was interested in looking at the code for the Cpp Tools API package posted to npm. It gives a github link to a MIT licensed repo, however the repo link does not work, and appears to either be wrong or a private repo. Any timeline on making that repo public?

`https://github.com/Microsoft/vscode-cpptools-api`

[2018-06-28 16:04] bobbrow commented on #2198
The repo is currently private.  We are working on it.  There is a process we have to go through to publish a new public repo and it's not finished yet.  If you add version 1.2.2 to your package.json npm should download the API for you to look at.

[2018-06-28 16:04] bobbrow commented on #2198
I also plan to put some more sample code on the landing page too.

[2018-06-28 18:47] sean-mcmanus commented on #2162
I reproed the bug -- it occurs when non-ASCII characters are in the file path (I noticed those characters in your GIF in the file open dialog).

UPDATE: Oh, that's odd, it stopped reproing…I reproed it again -- there appears to be some randomness (so I'm not sure yet if the non-ASCII path is required or not). The internal document is getting corrupted (input to formatting) -- this will cause most

[2018-06-28 19:31] WardenGnaw commented on #2196
This is a preview feature for VSCode. https://code.visualstudio.com/updates/v1_24#_outline-view

You can submit an issue on their [repository](https://github.com/Microsoft/vscode/issues).

[2018-06-28 19:31] #2196 closed, assigned to nobody

[2018-06-28 19:55] pieandcakes commented on #1219
@spinicist Are you also using it on Mac? The gdb on Linux fix seems to work, but I haven't had time to investigate it yet on Mac.

Edit: I see your comment above. I'll see if I can take a look at this soon.

[2018-06-28 20:04] pieandcakes commented on #2197
@vballworld Can you provide a engine log for this? The MIEngine fix that went into VS is the same code we use in this extension.

[2018-06-28 20:09] pieandcakes commented on #2197
@vballworld I think I remember this issue. The comment I received from @paulmaybee was that the issue is using an incorrect version of gdb which partially caused the problem.

[2018-06-28 20:45] sean-mcmanus commented on #2162
@RMyang  The bug occurs when our didOpen processing gets delayed until the folder settings are received and then a didChange occurs before the didOpen. A workaround should be to wait a few seconds before making edits to a document (only when the extension hasn't been previously activated). You can view the C/C++ logs and wait till you see a didOpen occur after didChangeFolderSettings. Something on

[2018-06-28 21:03] bobbrow commented on #2015
The bare-bones support for this was released in 0.17.5.  Improved support is available in the pending 0.17.6 release.

[2018-06-28 21:03] #2015 closed, assigned to nobody

[2018-06-28 21:23] bobbrow commented on #1034
Logging is now integrated in the UI and verbosity is controlled with the `C_Cpp.loggingLevel` setting.  If you are still experiencing trouble with the extension, please reopen this issue and share your log output with us (preferably with loggingLevel set to "Debug").

[2018-06-28 21:23] #1034 closed, assigned to nobody

[2018-06-28 21:37] peteer22r opened #2202 "intellisense - overflow for signed int values"
Issue Type: <b>Bug</b>

In this minimal repro, static_assert fail only in intellisense.
While compyling on any c++ compiler it's ok.
Intellisense reports value for 'actual' as '4294901760' which is obvious overflow for signed int.

[code]
Extension version: 0.17.5
VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:47:35.732Z)
OS version: Linux x64 4.17.0-2-MANJAR

[2018-06-28 22:29] pieandcakes commented on #1219
So I tested this with `lldb-mi` on Mac and using `-exec-arguments` it doesn't seem like theres a way to pass an input file. Sadly this seems like a bug within `lldb-mi` and not something we can work around.

[2018-06-28 22:51] bobbrow commented on #2202
Looks like the problem has to do with the constexpr function since inlining the bit shift into the assignment of actual makes the static_assert succeed.  `static_assert(4294901760 == expexted)` also works so there's definitely something weird going on in here.  Visual Studio has the same problem, so I'll hand the bug off to them to look at.  Thanks for the concise repro!

[2018-06-29 01:01] kris-mlguy commented on #2182
So I happened to update the extension to the latest version (0.17.5 released on 21st June 2018) and now argc gives the right value. There is a mention of Intellisense update (on args provider) in changelog. Would like to know if that is related to argc issue as well

[2018-06-29 01:04] sean-mcmanus commented on #2182
The IntelliSense args provider is different from the debugger one. 0.16.1 is 3 months old so some debugger change since then could have fixed it.

[2018-06-29 01:06] pieandcakes commented on #2182
@KrishnanParameswaran i'm glad its working. I think we did a better job handling args but it might not be called out in the change log.

[2018-06-29 01:06] #2182 closed, assigned to pieandcakes

[2018-06-29 01:19] toxmc opened #2204 "i want use printf to output string,result output string length"
Type: Debugger

![image](https://user-images.githubusercontent.com/3990846/42068115-b0eb013a-7b7c-11e8-92c2-ab8378bd869e.png)

why not print "test"???

**Describe the bug**
- OS and Version: Mac OS 10.13.5 (17F77)
- VS Code Version:1.24.1 (1.24.1)
- C/C++ Extension Version: 0.17.5

[2018-06-29 01:43] phord commented on #808
A primordial thing is here, but I haven't used it yet: https://github.com/yorver/rtags-vscode

[2018-06-29 01:59] toxmc commented on #2204
😂the function printf will return string len

[2018-06-29 01:59] #2204 closed, assigned to nobody

[2018-06-29 02:10] sean-mcmanus opened #2205 "Database deletion fails if non-ASCII characters are on the path on Windows"
When the setting is "C_Cpp.default.browse.databaseFilename": "${workspaceFolder}/.vscode/vc.db",

Reset IntelliSense Database -> The IntelliSense database could not be reset. To manually reset, close all VS Code instances and then delete this file: C:\ﯷﯷﯷﯷﯷﯷﯷﯷﯷﯷ/.vscode/vc.db

Only repros on Windows.

[2018-06-29 02:30] azydevelopment commented on #2107
Sorry for the delay. I set settings.json but where do I actually see the output messages?

[2018-06-29 02:38] sean-mcmanus commented on #2107
![image](https://user-images.githubusercontent.com/19859882/42070352-c299bbb4-7b0a-11e8-9b30-cdf5cedf889d.png)

[2018-06-29 02:39] sean-mcmanus commented on #2107
Oh -- we just found/fixed a bug with internal document corruption that is revealed when formatting occurs -- see https://github.com/Microsoft/vscode-cpptools/issues/2162 . Let us know if you think that's the same bug. It sounds like the same bug to me (caused by editting too soon after the extension activates with documents open).

[2018-06-29 02:46] azydevelopment commented on #2107
Interesting. In either case, here are my two log files.

[log1.txt](https://github.com/Microsoft/vscode-cpptools/files/2147574/log1.txt)
[log0.txt](https://github.com/Microsoft/vscode-cpptools/files/2147575/log0.txt)

In them you should be able to see a few examples of formatting, some of which I put in a tab change and some where I didn't. In both cases, folder 0 and folder 1 in the workspace see

[2018-06-29 02:48] liudonghua123 commented on #1072
I have also had this issue.

[2018-06-29 02:55] sean-mcmanus commented on #2107
Your issue is different (didChange isn't coming too soon). What exactly is the bug in the logs I should be looking for? I need to find with what operation the buggy result first appears.

VS Code has a "detectIndentation" setting, which can alter the formatting behavior in regards to tabs/spaces (with the default "Visual Studio" formatting style, we get our tabSize and insertSpaces directly from V

[2018-06-29 04:44] azydevelopment commented on #2107
The very first formatting event is already different in the two files. Notice how one of them has 2 extra spaces indent for the inner part of the class.

<img width="951" alt="log_compare" src="https://user-images.githubusercontent.com/29720335/42073579-67ca4f2a-7b1c-11e8-8a1b-1b3cba9294a1.png">

[2018-06-29 04:49] lh123 opened #2206 "The Parameter hints does not suggest the best match"
Type: LanguageService
**----- Input information below -----**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Win10
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5
- A clear and concise description of what the bug is.

**To Reproduce**
Ste

[2018-06-29 05:06] azydevelopment commented on #1087
Wondering if this is on the radar anywhere. Also just putting a comment here so it doesn't autoclose :P.

[2018-06-29 05:06] azydevelopment commented on #1086
Not sure if this was ever root caused.

[2018-06-29 05:07] azydevelopment commented on #1085
Was this fixed? I vaguely remember this potentially having been fixed.

[2018-06-29 06:50] toxmc commented on #688
![image](https://user-images.githubusercontent.com/3990846/42077411-669520d2-7bab-11e8-9cd4-0f41de40461f.png)
vscode VS lldb
![image](https://user-images.githubusercontent.com/3990846/42077457-954b8b1e-7bab-11e8-9469-465ceea468f7.png)
lldb can shows all

[2018-06-29 07:12] cmh1027 commented on #2179
I changed my configuration, but it still shows a squiggle. with a same error message.
And I just found one more thing.
![abc](https://user-images.githubusercontent.com/22341329/42078310-f17acf16-7bb6-11e8-88a0-4fd4f58225b7.gif)
It certainly seems that VS Code knows and recognizes where header files are.

[2018-06-29 08:35] azydevelopment opened #2207 "Ctrl + click on class name gives me two choices, the class itself, or the constructor"
Issue Type: <b>Bug</b>

Repro steps:
* Download [test.zip](https://github.com/Microsoft/vscode-cpptools/files/2148456/test.zip)
* Open folder in VSCode
* Open 1.h
* Ctrl + click CSPIBus
* Notice it gives you two choices, the class definition (which is the desired behaviour), and going to the constructor of that class definition (that's a little weird and I feel like not intended behaviour).
* Open

[2018-06-29 08:45] Gruntfuggly commented on #2156
Since updating to 0.17.5 my machine locks up for seconds at a time. It seems to be parsing thousands of files now...

[2018-06-29 12:40] GitMensch opened #2208 "FR: add option to import configuration/tasks from VS solution/project file(s)"
Type: LanguageService

VSCode can be used with the cpptools to edit, build and debug C++ projects. Currently all configurations, task, etc. must be created manually.

For projects that already have a VS solution / project file(s) (sln + cprojx/cproj) it would be nice to add an import configuration/tasks from these.

[2018-06-29 13:57] jayoungo commented on #2162
@sean-mcmanus Just as you said, if I wait a moment before editing, everything works well! Thanks a lot!

[2018-06-29 14:48] bobbrow commented on #2206
There is currently no type deduction in parameter hints.  The best we do right now is match the number of arguments when deciding which one to mark as the active one.  This is the same behavior as Visual Studio 2017.

The only difference right now is that VS Code doesn't let us know if you changed which overload you're looking at, so we don't have any control over how they reset the selected overl

[2018-06-29 14:52] bobbrow commented on #1087
It might be covered by #255 when we change from using the browse engine for code navigation to using the semantic information from the IntelliSense engine.  This works in Visual Studio, so I suspect it will work for us when we get that code ported over.

[2018-06-29 15:03] bobbrow commented on #1086
Can you paste the build output from VS 2013?

[2018-06-29 15:10] spinicist commented on #1219
Thanks for testing!

That's a shame. If you run `lldb` from the command-line on Mac, you can pass an input file with the following syntax:

[code]

But I guess that isn't terribly helpful for launching with VS Code.

[2018-06-29 15:25] bobbrow commented on #2179
It's just missing a dependency, so many of the included types will likely be available for IntelliSense.  corecrt.h is a Windows SDK header, and your GIF is showing a Visual Studio header in the auto complete list, so it seems like the extension thinks you're using Visual Studio's headers, not MinGW's.

Can you set `"C_Cpp.loggingLevel": "Debug"`, reload the folder, then share the "C/C++" logs fro

[2018-06-29 15:26] bobbrow commented on #2207
Code navigation doesn't use semantic information right now.  This should be covered by #255.

[2018-06-29 15:41] bobbrow commented on #2156
Is it actually parsing files (setting `"C_Cpp.loggingLevel": "Debug"` and checking the "C/C++" log in the Output window will confirm)?

My first inclination is that you could be having trouble with the recursive includes feature.  If you are using recursive includes (e.g. an `includePath` entry ends with `/**`) then we will attempt to calculate your include path dynamically when you open a source

[2018-06-29 15:48] Gruntfuggly commented on #2156
If I hover over the 'database' icon on the status bar, it says something like
`Parsing file nnn / mmm (x%)`
and sometimes seems to get stuck.
I don't have any include paths ending with '/**' though.

I don't really mind it parsing a large amount of files - it's the lock ups which are a pain.

[2018-06-29 16:03] bobbrow commented on #2156
If you are able to tell from the logs where it's getting stuck, that might help us understand your issue better.  If the extension hasn't finished parsing the folders listed in the "browse.path", then every time you open a source file in the editor, the extension will go off and parse that file and its `#include`s recursively so that code navigation will work.  That might be what's happening when

[2018-06-29 16:34] renkun-ken opened #2209 "Frequently crash with textDocument/documentSymbol request on file save"
Type: LanguageService

**Describe the bug**
- OS and Version: macOS 10.13.5
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5

When I'm editing a C++ source file, when I save the file, an error frequently occurs and for 5 times the language server crashes and never restarts:

[code]

Now close the folder and reopen the folder, then the intellisense client simply cannot be started.

[code

[2018-06-29 18:05] pieandcakes commented on #1219
hmm. let me see if theres more documentation available. Unfortunately, `lldb` hasn't implemented the `mi` commands completely the same as `gdb` so determining what works in `gdb` means it might not work with `lldb`. I'll see if I can find a workaround but if it looks like its behind another flag we may need to do additional work to expose another property in the `launch.json` for you to enter.

[2018-06-29 19:05] sean-mcmanus commented on #2107
The behavior of 0.h (no space to the left of "public") can occur when the VS Code's tabSize gets changed from 4 to 2 (detectIndentation can do this automatically if it detects a tabSize of 2). I don't understand why clang-format behaves that way though -- we pass the tabSize to IndentWidth, so it's strange that decreasing the indentWith to 2 sets the public with an indentation of 0 (I assume it's

[2018-06-29 19:11] sean-mcmanus commented on #2156
Oh, I have never seen "Parsing files" get "stuck" or my machine locking up. The machine locking up would indicate too many resources are being used, which is different from a thread getting stuck (no resource usage), so I'm a little confused as to which symptom you're hitting. There is a command to pause the parsing, but only for the background parsing, and not the parsing invoked from opening a p

[2018-06-29 19:16] sean-mcmanus commented on #2209
This appears to be bug https://github.com/Microsoft/vscode-cpptools/issues/2173. We might release an insiders today with the fix (our official release mechanism is having issues).

[2018-06-29 19:34] sean-mcmanus commented on #1085
It's not fixed.

What did get fixed is Go to Def with #include "type1/type.h", which previously would find the type0 incorrectly.

[2018-06-29 19:57] sean-mcmanus commented on #2207
Actually, I think there are 2 bugs here.
1. Go to Def on <class>:: should only return "scope" results.
2. Go to Def on a class name without a trailing ( should filter out constructors.
I think these should be pretty easily fixable.

[2018-06-29 20:35] sean-mcmanus commented on #2207
Yeah, issue 1 was a simple off-by-one bug -- when checking for "::" we find the first ":" but not the 2nd. And the same bug was causing too many results (i.e. functions/types) to appear before a ->. Using ::: incorrectly gives "correct" results. For Issue 2 we can filter out the constructors when it doesn't end with ( or ;.

[2018-06-29 23:03] bobbrow opened #2212 "Allow users to set the inactiveRegion color"
From PR #2061

Add an `inactiveRegionColor` setting that allows users to set the region color.  It should work alongside the opacity setting.  If not set, we leave the color alone.  If set, we change the color of the inactive regions.  VSCode accepts ThemeColors for the decoration, so those could potentially be allowed too.

[2018-06-30 02:26] thecoder138 commented on #2128
Hello,

Sorry initial info I provide was incorrect, the issue is not with std::shared_ptr but with boost::shared_ptr usage as below, please not that intellisense worked perfectly before the recent update.

Heres how you should be able to reprod the issue, but you'll need a boost library,

file: my_ptr.h
#include <boost/smart_ptr.hpp>
typedef boost::shared_ptr<my_struct> my_struct_shared_ptr;
my_st

[2018-06-30 03:03] sean-mcmanus opened #2214 "Edit Configuration fails to create c_cpp_properties.json after it's deleted with VS Code Insiders 1.25.0"
Looks like they added a feature that causes the deleted file to be viewed (showing "deleted from disk") which prevents the new c_cpp_properties.json from being generated.

[2018-06-30 04:09] cmh1027 commented on #2179
I can not understand what you mean by "share the "C/C++" logs from the Output Window"
Do you mean this log?
[code]

It seems that include path is wrong like you said.

[2018-06-30 04:18] sean-mcmanus commented on #2179
Yeah, that's the log file. You're missing the Windows SDK in your includePath, which is where correct.h is from. It looks like it's trying to use "cl.exe" as your compiler instead of mingw. Setting your compilerPath to the mingw compiler might fix it as Bob suggested earlier.

[2018-06-30 04:47] sean-mcmanus commented on #2214
I filed bug https://github.com/Microsoft/vscode/issues/53368 .

[2018-06-30 07:08] renkun-ken commented on #2209
Glad to know that!  Looking forward to the fix.

[2018-06-30 10:17] Gruntfuggly commented on #2156
I can't 100% say it's the extension causing it to lock up, but I reverted to the previous version and it seemed to go away. Then when I updated again I noticed it happening again. I'll see if I can get something from the logs...

[2018-07-01 06:03] cmh1027 commented on #2179
[code]
I set c_cpp_properties.json like above.
But strangely,
[code]
It still seems like getting files from the VS folder, not the minGW.

![gf](https://user-images.githubusercontent.com/22341329/42131578-334f96e4-7d40-11e8-8065-1fc49241e8ff.gif)

And I just found out that autocompletion doesn't always work. It just works from time to time.

[2018-07-01 06:26] z2665 commented on #2191
I find the reason.  My project is on the NAS. I use samba to connect the server.  When I move the project to my computer. The Auto-Completion works well.

[2018-07-01 06:58] jogo- commented on #1998
@CS9031 or @pieandcakes Have you even try the above workaround ?

[2018-07-01 12:29] Shrey-Viradiya opened #2215 "Problem in VS code"
Type: LanguageService

**I'm using latest version of VS code but i'm Having some problem like this**

**[Error - 17:53:58] Starting client failed
Launching server using command c:\Users\shrey\.vscode\extensions\ms-vscode.cpptools-0.17.5\bin\Microsoft.VSCode.CPP.Extension.exe failed.**

**Describe the bug**
- OS and Version: Windows 10 home, version 1803
- VS Code Version: 1.24.1
- C/C++ Extension

[2018-07-01 14:22] #2128 closed, assigned to nobody

[2018-07-02 01:54] X1aSheng commented on #2181
sorry .  i can send you the source code pack to you ,it's really an important bug need fix.
[source20180704.zip](https://github.com/Microsoft/vscode-cpptools/files/2163903/source20180704.zip)

[2018-07-02 03:11] goodloop commented on #2158
same thing happens on mac version with extension 0.17.5

[2018-07-02 07:35] renkun-ken commented on #2209
A simple walk-around is to modify `"${workspaceFolder}/**"` to the actual include folders `c_cpp_properties.json`.

[2018-07-02 09:50] dsanz006 commented on #1285
This would be a very nice feature to have. Right now, when I want to change my configuration from `debug` to `release`, I have to change it 2 times, once for the C/C++ extension IntelliSense engine and once for my build configuration.

Another possibility, which would achieve similar results, would be to have different tasks for each configuration on tasks.json, and then reference one of these tas

[2018-07-02 10:18] dsanz006 commented on #121
Similar issue here: When executing my C++ GUI application, I get the following first line on the terminal window:

`&"warning: GDB: Failed to set controlling terminal: Operation not permitted\n"`

I also get a new file created in the execution directory, named "2". The content of this file is: "-e c 1".

I only get it if I execute it from inside VSCode, not if I execute it manually from an extern

[2018-07-02 11:06] WorldofBay opened #2216 "Extension indexes the whole drive when no folder is opened"
I'm on windows but I'm sure it is patform-independent, maybe someone wants to confirm.

Expected CPU and Disk load on empty VS Code: idle
Experienced CPU load on empty VS Code with C/C++ extension: up to 1 full core
Experienced Disk load on my SSD: spikes up to 30%

Opening a c++ file in VS Code triggers the C/C++ extension to parse files even without a folder opened. The problem is that parsing f

[2018-07-02 15:17] bobbrow commented on #2179
Where did you save your `c_cpp_properties.json` file?  Based on the log you've shared it looks like you've opened the whole drive `C:` as the workspace folder which means the extension would be looking for the `c_cpp_properties.json` file under `C:\.vscode\c_cpp_properties.json`.  If it's not at that location, it would explain why setting `C_Cpp.default.compilerPath` works, but updating your `c_cp

[2018-07-02 15:25] bobbrow commented on #2215
Can you check that the file exists and that you have executable rights?  You can also try deleting the `c:\Users\shrey.vscode\extensions\ms-vscode.cpptools-0.17.5` folder and re-installing the extension.

[2018-07-02 15:30] Shrey-Viradiya commented on #2215
which more info do you need?

[2018-07-02 15:35] bobbrow commented on #2216
Can you set the `"C_Cpp.loggingLevel"` setting to `"Debug"`?  Then open an empty VS Code and a cpp file and watch the Output window for messages that say what we are parsing.

On Windows, I would only expect us to parse the Visual Studio/Windows SDK headers on your machine that are included by the source file you opened.  We will also index all of those headers, but shouldn't parse them unless you

[2018-07-02 15:37] bobbrow commented on #2215
Does `c:\Users\shrey.vscode\extensions\ms-vscode.cpptools-0.17.5\bin\Microsoft.VSCode.CPP.Extension.exe` exist?
Can you double click on it in File Explorer and make it run?

[2018-07-02 15:39] Shrey-Viradiya commented on #2215
![screenshot 23](https://user-images.githubusercontent.com/40735908/42173292-31a0e774-7e3c-11e8-954b-4b97043a47d8.png)

it shows like this

[2018-07-02 16:57] FancyBanana opened #2217 "Windows Debugging not stopping correctly against clang 6.0.0 compiled binaries"
Type: Debugger

**Describe the bug**
- OS and Version: Windows 10 Education 1803
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.5
- Other extensions you installed (and if the issue persists after disabling them): It fails pretty well on it's own :)

- A clear and concise description of what the bug is.

I can't debug a binary compiled using clang 6.0.0 x32 with debug symbols.
I tried us

[2018-07-02 18:53] sean-mcmanus commented on #2158
@goodloop The previous crash was fixed. It's the same symptom (crashing) but a different cause. We fixed some crashes in our pending 0.17.6 update for today (it fixes our highest hitting crashes, so it most likely fixes your issue). If you're still hitting the crashes in that release, please provide the crash logs from you user Library/Logs/DiagnosticReports folder (just the crashing call stack, n

[2018-07-02 18:57] sean-mcmanus commented on #2216
This might be partially due to bug https://github.com/Microsoft/vscode-cpptools/issues/2156  (causing system source files to be parsed) , which should be fixed in the pending 0.17.6 (due today, unless there's a delay).

[2018-07-02 19:49] pieandcakes commented on #2217
@FancyBanana Thank you for your report.

When you say that its not bringing you to the lines of code, where do you set the breakpoints and what line is it taking you to?

[2018-07-02 19:52] pieandcakes commented on #1998
That fix won't work since we have to be compatible across Linux/Windows/MacOS we can't make a PInvoke call to a Windows library as it doesn't exist on Linux/Mac.

[2018-07-02 20:04] jogo- commented on #1998
I'm not sure this bug also affects Linux/Mac.

[2018-07-02 20:09] pieandcakes commented on #1998
@jogo- Yes, this is an issue on Linux also. I tested with Ubuntu 16.04 and 18.04 and can repro the same issue. It seems to be an issue within `gdb`'s MI interfacing.
[code]

[2018-07-02 20:11] FancyBanana commented on #2217
I had 3 breakpoints in these places:
[code]

It doesn't take me to any line at all, or any file for that matter. It's like it ignores source files completely.

[2018-07-02 20:17] pieandcakes commented on #2217
@FancyBanana Ok thanks. I'll take a look, but it looks like `clang` isn't putting the symbols in the right format as far as I can tell.

`windows`
I don't think clang is putting the pdb information in the format that the VS Debugger recognizes. Because of this, the debugger can't load it. I don't think this is a supported scenario with the VS Debugger, but @gregg-miskelly might be able to better c

[2018-07-02 20:34] FancyBanana commented on #2217
Could you propose a solution for that? I know that's outside of scope of your support but at this point i'm a bit frustrated because I've been fiddling couple days before addressing you.

[2018-07-02 21:11] tfcollins140 opened #2219 "[Linux] Debugger fails to stop at breakpoint if set on the first line of main()"
Type: Debugger
I'm trying to debug C using visual studio code on a Mint VM, code is as follows:

    #include <stdio.h>

    int main(int numargs, char* argvector[])
    {
       printf("test\n");
      return(0);
    }

Compiled with:

    gcc test.c -g -o test

based on the output of ls -l, I can verify that gcc is adding symbols.
When I attempt to debug this program using vs-code using the C/C+

[2018-07-02 21:48] sean-mcmanus commented on #2207
Should be fixed with 0.17.6.

[2018-07-02 21:48] #2207 closed, assigned to nobody

[2018-07-02 21:48] #2205 closed, assigned to nobody

[2018-07-02 21:49] sean-mcmanus commented on #2162
@RMyang Should be fixed with 0.17.6.

[2018-07-02 21:49] #2162 closed, assigned to nobody

[2018-07-02 21:49] sean-mcmanus commented on #2183
Should be fixed with 0.17.6.

[2018-07-02 21:49] #2183 closed, assigned to WardenGnaw

[2018-07-02 21:50] sean-mcmanus commented on #2187
Should be fixed with 0.17.6...unless you were hitting a different crash.

[2018-07-02 21:50] #2187 closed, assigned to nobody

[2018-07-02 21:50] sean-mcmanus commented on #2184
Should be fixed with 0.17.6.

[2018-07-02 21:50] sean-mcmanus commented on #1905
Should be fixed with 0.17.6.

[2018-07-02 21:50] #1905 closed, assigned to nobody

[2018-07-02 21:52] sean-mcmanus commented on #2178
Should be fixed with 0.17.6.

[2018-07-02 21:52] #2178 closed, assigned to nobody

[2018-07-02 21:52] #2174 closed, assigned to nobody

[2018-07-02 21:52] sean-mcmanus commented on #2171
Is this fixed with 0.17.6? We fixed some issues that could cause it.

[2018-07-02 21:53] sean-mcmanus commented on #2173
Should be fixed with 0.17.6.

[2018-07-02 21:53] #2173 closed, assigned to nobody

[2018-07-02 21:53] sean-mcmanus commented on #2209
Should be fixed with 0.17.6.

[2018-07-02 21:53] #2209 closed, assigned to nobody

[2018-07-02 21:53] #2105 closed, assigned to nobody

[2018-07-02 21:54] #2104 closed, assigned to nobody

[2018-07-02 21:54] pieandcakes commented on #2217
@FancyBanana I'm trying to figure out what format clang compiles into. I'm thinking the right thing to do would be to use gdb/lldb but I am also running into what you are hitting.

Unfortunately, the `lldb-mi` that ships with this package seems to be broken. I downloaded LLVM 6.0.0 from the LLVM site.

[2018-07-02 21:55] sean-mcmanus commented on #2156
0.17.6 fixed this, but not the system framework case on Mac. And @Gruntfuggly 's issue might be different.

[2018-07-02 22:20] greennerve commented on #2171
It's working now after upgrading to 0.17.6

[2018-07-02 22:23] pieandcakes commented on #2217
@FancyBanana We are still investigating but I wanted to give you an update. After reading the `clang` documentation, I think you want to specify `-g` for debug symbols. I don't know what `--debug` does as it doesn't seem to be listed in the help file. Adding `-v` to the compile command shows it is using the MSVC linker so it *should* work with the VS Debugger.

[2018-07-02 22:31] pieandcakes commented on #2217
@FancyBanana It looks like the object file that is generated by `clang` doesn't include the `.cpp` source file information.

You can check this by running [cvdump.exe](https://github.com/Microsoft/microsoft-pdb/blob/master/cvdump/cvdump.exe) against the `.pdb` file with the `/sf` flag. Searching inside the output, we don't see the `.cpp` showing up in the object file (in this case, `clang` generat

[2018-07-02 22:40] FancyBanana commented on #2217
I've found the solution: specifying `-gcodeview` flag worked, now i can use Windows debugger.
Also `-g` is shorthand for `--debug`

[2018-07-02 22:42] pieandcakes commented on #2217
oh awesome! thanks for the information.

[2018-07-02 22:45] #2171 closed, assigned to nobody

[2018-07-02 22:50] pieandcakes commented on #2217
After you mentioned it, I found this [document](https://clang.llvm.org/docs/MSVCCompatibility.html).

[2018-07-02 23:34] cmh1027 commented on #2179
![1](https://user-images.githubusercontent.com/22341329/42191004-5f91be88-7e9b-11e8-9297-d85d7e91ee29.PNG)
![2](https://user-images.githubusercontent.com/22341329/42191005-5fbb8f74-7e9b-11e8-880f-35aae9b6dca1.PNG)
The workspace is not under `C:`, but looks like above.
Do I have to set some specific path configuration, rather than just putting `c_cpp_properties.json` file in the .vscode folder whic

[2018-07-02 23:50] bobbrow commented on #2179
You have to open the `c:\users\coder\desktop\workspace` folder in VS Code, not the `C:\` folder.

[2018-07-03 00:32] #2217 closed, assigned to pieandcakes

[2018-07-03 00:37] pieandcakes commented on #2219
@tfcollins140 Set your breakpoint on the next line (line 6) and it will stop. We automatically set a breakpoint on the first line of the `main()` method so we can setup debugging. The problem is that once we get the debugger setup, we `-exec-continue` which gets us past the first line inside `main()` and unfortunately it causes a step around the printf statement. The workaround is to not set a bre

[2018-07-03 00:37] #2219 closed, assigned to pieandcakes

[2018-07-03 00:56] raggi commented on #1982
I would like this too, but I need a bit more than just the compiler path.

Starting the string with e.g. ${workspaceRoot} to get to the clang binary works ok, but I also need to specify --sysroot and --target to get correct behavior.

I would like for these settings to be split out a bit more:

* minimally compilerPath: support repeated replacement of `${workspaceFolder}` (this would enable me to

[2018-07-03 07:27] WorldofBay commented on #2216
I have not set any of the C_Cpp.default options yet.

**Output:**

[code]
and then a long list of
`Removed file`
of temporary files in C:\ProgrammData, C:\Programm Files and C:\Users
[code]
Then CPU spike is done (~5 minutes).

So it actually didn't parse anything this time. It did previously (according to the gui icon).
I also noticed that the CPU spike was done a lot faster this time.
Might be t

[2018-07-03 07:40] ThadHouse opened #2221 "Increased messages with new Tools API"
I noticed with the new tools API in 0.17.6, there are a lot more messages that get popped up towards the user. The first is the message stating that my extension would like to configure IntelliSense for the folder. I know this is more on my end, because I start my extension up whenever any c or c++ file is opened because I have no easy way to detect otherwise, but I feel like this could cause othe

[2018-07-03 10:54] YuvalFatael commented on #785
+1.

[2018-07-03 12:20] decimad opened #2222 "Language Server crashing"
Beginning with 0.17.4 the language server would "crash 5 times in the last 3 minutes" when parsing my (gcc-targetting) cmake project (through compile_commands). Setting debug level to debug level to "Debug" does not log any information, in fact the output window for the extension is not even opened. Any help in pinpointing the problem or getting some diagnostics would be very welcome.

[2018-07-03 13:42] tfcollins140 commented on #2219
I had no breakpoint set though? Regardless I still have the same issue in non-test code, even with a break point set on the second line in main.

[2018-07-03 14:37] n3rd4i opened #2223 "[WSL] GCC system headers redirection is not parsed"
Type: LanguageService

**Describe the bug**
- OS and Version: 10.0.17134.112
- VS Code Version: 1.24.1
- C/C++ Extension Version: 0.17.6
- Other extensions you installed (and if the issue persists after disabling them): N/A

`vscode-cpptools` does not handle redirected header files.

**To Reproduce**
Steps to reproduce the behavior:

1. Fresh installed WSL with gcc and libpng (`sudo apt install li

[2018-07-03 15:35] bobbrow commented on #2221
Thanks for the feedback @ThadHouse.  We added the "allow" message to put the developer in control of who is providing their IntelliSense configurations.  The previous system was a free-for-all and non-deterministic.  As you stated, this message can be silenced on a per folder basis, so we don't expect it to be too big of a nuisance.  Though I think we'll need to add a command for developers to see

[2018-07-03 15:37] bobbrow opened #2224 "Add a command to list the available custom config providers"
If a developer dismisses the configuration prompt permanently, or wants to change providers, there's no easy way to do it.  We should add a command that allows them to change the provider without opening `c_cpp_properties.json` or divining the extension's id.  #2221

[2018-07-03 15:54] ThadHouse commented on #2221
For the second set of message, I think removing it for headers at all times would be ok. And then removing it for all files during debugging, as when debugging we will likely open library source files that wouldn't be directly configured. I'll keep thinking about things too, as I realized by using the API my extension has no way of providing intellisense for its own library headers without directl

[2018-07-03 15:59] ThadHouse commented on #2221
I think if possible, the first time in a folder no intellisense is provided pop up the message, and then change to a status bar icon? That might work.

[2018-07-03 17:11] bobbrow commented on #2216
It should be faster the second time because we only re-parse files when the timestamp changes.  But this is very bad.  I just opened an empty window and saw the same thing.  The extension is trying to index the whole drive.  The CPU spike the second time is from the extension indexing the drive.  We'll get this fixed for the next release.

[2018-07-03 17:36] bobbrow commented on #2222
What is your operating system?

You can try cloning our repo and building and running it.  [Instructions here](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Building%20the%20Extension.md).

Then set a breakpoint in Extension/src/LanguageServer/client.ts on the line containing `this.outputChannel.appendLine`.  When you press F5 to debug, you will see all messages coming in

[2018-07-03 17:46] bobbrow commented on #2223
I believe this is the same root cause as #2140

[2018-07-03 18:13] pieandcakes commented on #2219
@tfcollins140 I guess i'm not understanding. What error code are you referring to?

This means that your program exited normally. The window that spawns for your program is tied to the debugger and when debugging ends, that window closes which means you can't see your output.

If you are referring to a different error, please let me know. Everything else in the block you provided is informational

[2018-07-03 19:06] sean-mcmanus commented on #2216
@bobbrow On Windows, it will also cause the main process to crash from an out of memory if there are too many files on the drive. The bug doesn't appear to repro on Linux, but if it did, it would eat up most of the memory on the machine due to the 64-bitness.

[2018-07-03 19:17] sean-mcmanus commented on #2222
I assume you're on 0.17.6, right? We fixed some known crashes post-0.17.4.

[2018-07-03 19:23] sean-mcmanus commented on #2223
I think #2140 was just about #include completion not treating symlinks as directories.

I have never seen redirection via using just using the path like "libpng16/png.h" before -- maybe it's some gcc extension?

[2018-07-03 19:36] bobbrow commented on #2223
What I mean is that we don't work with symlinks at all on Windows.  You're right though that we should treat this separately since #2140 is about the `#include` autocompletion, and the fix for this would be in the IntelliSense server's file provider (I believe).

[2018-07-03 19:39] sean-mcmanus commented on #2223
Oh...you mean the "png.h" file with "libpng16/png.h" is a symlink? Ok, I guess that could count as a duplicate then.

[2018-07-04 00:33] sean-mcmanus opened #2225 "Infinite memory gets used (until bad_alloc) if the code action suggestion gets invoked with no folder opened"
Open a file without a workspace folder. Click your mouse into a #include <ftp.h> line or something that causes a code action suggestion for missing include paths to appear.

Bug: The main processes gets stuck in an infinite loop using infinite memory until it crashes from a bad_alloc. Depending on the OS/hardware, it might cause the OS's UI or other apps to behave sluggishly due to page swapping o

[2018-07-04 00:52] sean-mcmanus commented on #2156
@Gruntfuggly If you're opening C/C++ files without folders, you might be hitting the infinite memory bug https://github.com/Microsoft/vscode-cpptools/issues/2225 . And in the same scenario it'll try to index your entire drive: https://github.com/Microsoft/vscode-cpptools/issues/2216 (also possibly running out of memory), but that bug only repros on Windows.

[2018-07-04 02:23] sean-mcmanus opened #2226 "Add code action to suggest adding missing paths to #include strings that don't resolve"
Right now when there's a missing header, we suggest an include path to add, but it's also possible the include path is set as desired and the #include string itself is what should be modified instead, so we could suggest a code action to make the edit. I think this low priority, since the user will already get a "missing header" error and they could figure out on their own what the correct path to

[2018-07-04 02:29] sean-mcmanus opened #2227 "Add code action to install vcpkg libraries when headers belonging to those libraries are detected"
If something like #include "zlib.h" isn't found in the include path and vcpkg is available, we could look up if a vcpkg library exists that contains the header and show a code action to install the library, which would resolve the missing include. Maybe we could also install vcpkg itself?

[2018-07-04 04:09] cmh1027 commented on #2179
Thanks! I didn't know that I have to open the folder in VS Code to use intellisense. It was my mistake.

[2018-07-04 04:09] #2179 closed, assigned to nobody

[2018-07-04 07:54] avetrella commented on #1262
Using mingw-w64 should solve the problem.
You can switch to:

[2018-07-04 09:18] Gruntfuggly commented on #2156
I'm still seeing this with 1.17.6. All the files opened in the window are within the workspace folder. My paths are:
[code]

The 'database symbol' is displayed in the status bar and hovering shows parsing n out of m files (%) usually in the thousands. It does update, but randomly locks the whole machine for 5-20 seconds.

[2018-07-04 11:04] powertomato commented on #1474
I ran into this or a very similar issue on Linux. I was using it to work with the z3-code base (https://github.com/Z3Prover/z3)

Z3 also uses CMake. So @gcjyzdd's fix might work. However the build script of z3 also generates some code which ends up in the build folder so I can't exclude it fully.

Here is my cpp-config:
[code]

I will try without the line: `"${workspaceFolder}/build/src"`

As for

[2018-07-04 12:31] wtyp commented on #2084
I'm also having the same issue, I don't have 2 definitions for a function, only 1.
That means that the "code lens" is opened each time I uses it for no reason, will this be fixed?

[2018-07-04 13:03] josesimoes commented on #985
wanted to keep this alive: any progress or plans for looking into this?

[2018-07-04 16:29] BrandonShockley commented on #2184
It's still happening on my system with version 0.17.6

[2018-07-04 16:40] sarlv commented on #2106
Hello. I am using a library where some header files are in uppercase f.e. Fl_Window.H. Unfortunately files with so kind names do not appear in autocomplete. This does not apply to files in lowercase f.e. fl_types.h. Maybe I need to set some params in c_cpp_properties.json for uppercase file names?

[2018-07-04 22:39] Kuxe commented on #2222
I can confirm that the issue that @decimad describes is present on 0.17.6 using Windows 10. Setting the debug level to "Debug" doesn't log any information for me either. Similar to @decimad, I have a cmake project that generates compile.commands.json.

[2018-07-05 01:17] ThadHouse opened #2228 "API Provider does not respect clang-x64 intellisense mode on windows"
I'm still working on more debugging, but with the update to 0.17.6 our include orders are weird. We have some users on gcc using Linux, and no matter how our include files are included (<> or "" ) the system included directories are searched before the added user directories. We have a library (opencv) that is both installed as a system library, but we want to use our own version. When we add an i

[2018-07-05 09:59] decimad commented on #2222
Yes, there were similar crashes reported, that were planned to be resolved with 0.17.5, yet they obviously were not 100% related. So I hoped for 0.17.6, only after this didn't fix the problem I felt like it would be reasonable to open another issue.

[2018-07-05 16:41] bobbrow commented on #2179
My comment was incorrect due to a bug I was unaware of at the time.  I thought that you had opened the root folder `C:\` on your hard drive, but in fact, you had no folder open at all and the extension was mistakenly treating that as opening the root folder.

You don't *have* to open a folder in VS Code to use IntelliSense.  But in that case you will need to use the `C_Cpp.default.*` settings to c

[2018-07-05 16:45] bobbrow commented on #2156
Just a shot in the dark, but is the extension crashing and restarting?  I would check and see if the PID of `Microsoft.VSCode.CPP.Extension.linux` is changing after these lockups.

[2018-07-05 16:57] bobbrow commented on #2106
We either do full case-sensitivity, or no case-sensitivity.  It's not separated by upper and lower casings.  If you are having trouble with this, please open a new issue with more details about your problem and we can look into it.  Thanks!

[2018-07-05 17:01] bobbrow commented on #2228
This can be the behavior if you are using a recursive `includePath` (e.g. `${workspaceFolder}/**`).  The workaround is to force the folder with the duplicate header names above the recursive path like this:

    "includePath": [
        "${workspaceFolder}/path/to/duplicate/named/headers",
        "${workspaceFolder}/**"
    ]

[2018-07-05 17:03] ThadHouse commented on #2228
I'm using the new extension API and definitely no recursive paths in what I'm sending.

[2018-07-05 17:04] bobbrow commented on #2228
Can you share the custom config object you are sending?  Feel free to redact any sensitive info.

[2018-07-05 17:06] bobbrow commented on #2222
@Kuxe, @decimad, if either of you can follow my instructions to see if anything is being logged at all, that would be super helpful.  The trouble with VS Code is that they delete our logs when the extension crashes, so you don't always get to see them.  We might need to add another debug setting to persist the logs for such cases, but for now, breakpoints are the only option. (besides, maybe [this

[2018-07-05 17:22] ThadHouse commented on #2228
Here is the config I am sending.
[code]

And here is the output from logging in Debug mode.
[code]

Theres also another issue too. Its ignoring the compiler settings, and also not actually including all the directories I provide. Should I do those as 2 separate issues, or keep those in here for now?

[2018-07-05 17:35] bobbrow commented on #2228
I think the problem is your `uri`.  It should be using the [file scheme](https://en.wikipedia.org/wiki/File_URI_scheme).  The extension is probably err'ing out when you send the config so it doesn't apply it.

I should also add some logs to the debug spew for when custom configs are provided.

[2018-07-05 17:40] ThadHouse commented on #2228
The URI is actually passed as a string through the extension API. So I was assuming it took the fsPath of the passed in URI. Is that not the case? If so, that should be documented.

Also, I am not getting the message saying my extension cannot provide configuration for the file. Whereas if I do mess up that URI to point to a bad directory I do get the error message.

Below is where my code is set

[2018-07-05 17:44] ThadHouse commented on #2228
But, if I do switch that from fsPath to toString(), it does semi work again.

[code]

However, it is still missing some of my passed in include directories. The following are the ones passed in, and its missing half of them.

[code]

Also, it still doesn't recognize some files as matching, even though my api is definitely returning proper configurations.

[2018-07-05 17:54] ThadHouse commented on #2228
It also seems to be doing some parsing before updating the compiler args. As when walking through intellisense, `_MSC_VER` seems to be set, although in GCC its definitely not set.

[2018-07-05 17:56] ThadHouse commented on #2228
Sorry for all the messages. One thing that might be better before the API gets more commonly used is to change the `uri` parameter of `SourceFileConfigurationItem` to actually take a Uri object. Since that library already depends on vscode, that shouldn't be a problem, and then how that gets parsed doesn't matter. Especially since the Uri object is actually what gets sent to the get provider funct

[2018-07-05 17:58] bobbrow commented on #2228
Thanks for catching that.  I will update the API to type it to vscode.Uri.  Look for an updated version later today.

The error message only appears when a new file is opened.  If you are providing multiple configs at once as a response to calling didChangeCustomConfiguration, there is no message.

If our extension loads before yours, it is possible that the wrong config will be sent at the beginn

[2018-07-05 18:03] ThadHouse commented on #2228
I do call `didChangeCustomConfiguration`. The thing that is making me think there is something weird with the parsing is that both `_MSC_VER` and `__GNUC__` are both defined in the same file. The MSVC one is 1914, which is what my local MSVC is, and `__GNUC__` is 5, which is also right for my compiler. And `_MSC_VER` is not in the defines list that the logging showed was passed for the file.

[2018-07-05 18:12] pieandcakes commented on #985
We haven't had time to look into this. I'll mark it "help wanted" to see if anyone would like to contribute.

[2018-07-05 18:14] bobbrow commented on #2228
ok. i'll take a look.

[2018-07-05 18:17] ThadHouse commented on #2228
I'll try and build a more minimal repro when I have a chance. I am using a GCC linux cross compiler for windows, so thats how I am using GCC on a windows machine. If you want the exact compiler, it can be gotten here (the 2018 windows installer)

http://first.wpi.edu/FRC/roborio/toolchains/

However, any GCC cross compiler should work.

[2018-07-05 18:17] bobbrow commented on #2228
When cpptools sends `_MSC_VER` it sends 1914, so I'm not sure where the 1913 is coming from.  A repro would be great.

[2018-07-05 18:18] ThadHouse commented on #2228
I was mistaken when I wrote 1913, it was sending 1914.

[2018-07-05 18:19] bobbrow commented on #2228
ok.  It should only send that when intelliSenseMode is "msvc-x64', but there could be a bug here.

[2018-07-05 18:26] sean-mcmanus commented on #2156
Oh, yeah, we intentionally changed the behavior (in 0.17.5) so that the non-workspace source files are parsed if they're not in "system" paths provided by the compiler (https://github.com/Microsoft/vscode-cpptools/issues/2053 ). Setting the C_Cpp.workspaceParsingPriority to "low" might reduce the machine locking. It sounds like everything is behaving correctly except for your machine locking up. A

[2018-07-05 18:35] ThadHouse commented on #2228
https://github.com/ThadHouse/cpptoolsrepro

Heres a minimal repro. Open the debugging for the extension into the `ReproductionFolder` In the repo. You can either use the compiler I posted above, or your own cross compiler, and then change it in the extension. It defaults to the compiler posted above.

[2018-07-05 18:36] sean-mcmanus commented on #1474
@powertomato I don't fully understand what bug you're experiencing or how to repro it. Are you hitting https://github.com/Microsoft/vscode-cpptools/issues/2169 ? The build folder shouldn't cause any issues (there was a previous issue with recursive includes, but it was fixed, and you're not using recursive includes). You can set files.associations to set more files to be parsed as C/C++, but there

[2018-07-05 18:41] sean-mcmanus commented on #2084
@wtyp The code lens opens because we incorrectly detect 2 definitions, right? That is intentional to allow users to manual select the correct definition. Getting the correct definition is being tracked by https://github.com/Microsoft/vscode-cpptools/issues/255 . The VS Code issue to stop automatically jumping to a definition is https://github.com/Microsoft/vscode/issues/31046 .

[2018-07-05 18:48] sean-mcmanus commented on #2184
@BrandonShockley I'm not able to repro any issue. Can you provide any suggestions on how to more easily repro the problem? We definitely fixed a bug here with edits getting delayed that caused completion to fail, but you could be hitting some other issue.

[2018-07-05 19:08] ThadHouse commented on #2228
@bobbrow quick question so I can commit the few changes that I made. I noticed that api version 1.3.0 was published. Is that still compatible with vscode cpp 0.17.6, or will I need to wait for an update?

[2018-07-05 19:13] bobbrow commented on #2228
Don't use it yet.  I might have to revert it.  I published it to start testing in our extension because it looked safe, but tests are failing and it looks like the serialization doesn't work as expected.  For compat reasons, I might have to leave this property as string until the next major API revision (v2.0.0).

[2018-07-05 19:17] ThadHouse commented on #2228
Ok. So we'll just have to document to use `.toString()` on the passed in Uri to get it into the configuration that gets returned.

[2018-07-05 19:20] bobbrow commented on #2228
yep.  I'm doing that now and adding a code example to the comment.

[2018-07-05 19:24] ThadHouse commented on #2228
Cool. And hopefully the repro posted above and help you figure out the other issue. Its making this unusable for building any programs with libraries.

[2018-07-05 19:29] sean-mcmanus commented on #2222
I think we need a call stack of the crash, via attaching a debugger to the process before the crash occurs.

[2018-07-05 20:11] bobbrow commented on #2228
1.3.1 is published and is now just documentation updates - no API changes.  I'll try to take a look at your repro this afternoon.

[2018-07-05 20:51] bobbrow commented on #2228
I see the bug in our extension.  The provided intelliSenseMode is not being used correctly so the translation unit is being compiled in msvc-x64 mode (the default for Windows) with GCC headers.  That's not going to work...  I'll get a fix out for the next version of the extension.  Good find!

[2018-07-05 20:59] bobbrow commented on #2228
As for the missing paths, can you verify that they exist?  We do have code that trims out invalid paths.  We should probably log those to the debug channel too...

[2018-07-05 21:02] ThadHouse commented on #2228
They definitely do exist, because they're needed for compilation and the files do compile. If you can print out which paths get ignored, and why they get ignored I could probably find it quick. If thats on the language server side if you can get me a way to use a custom language server I'll happily test.

Any chance this update would come out sometime next week? Or should I remove it from my exten

[2018-07-05 21:17] bobbrow commented on #2228
It seems the GCC/Clang on Windows scenario for custom providers is completely blocked by this bug, so I wouldn't recommend turning this on in your extension for Windows if this is a key scenario for you.  You could leave it in for other OSes though.  I'm contemplating adding a method to the API that will give you cpptools' version number so you can conditionally turn it off too.  I'm wary of that

[2018-07-05 21:23] bobbrow commented on #2228
I forgot to mention that there is a way to make it work in the current version and I expect it may not be a problem if your users already have a `c_cpp_properties.json` or use the `C_Cpp.default.intelliSenseMode` setting.  If `intelliSenseMode` is set to `clang-x64` in either of those locations, then it works as expected.

[2018-07-05 21:39] ThadHouse commented on #2228
Our use case is almost exclusively GCC/Clang on windows, but good to know about the workaround.

Turns out the header issue was my fault. I was running a clean, and wasn't registering in my head that that deleted the directories I was looking for. So the clang-x64 issue is the only issue I currently see.

[2018-07-06 01:46] BrandonShockley commented on #2184
I'm not sure what else I can specify. I tried the same thing I put in the bug description on a Windows machine and the bug happens on it too.

[2018-07-06 01:59] sean-mcmanus commented on #2184
Is the bug random when typing? What happens if you press Ctrl+Space with existing text? If you could run our extension from our typescript you could view the C/C++ Debug Protocol pane which shows logs about what messages are being sent, such as the logs below which show the correct completion. Does it repro with a new file? It's possible other code beforehand is causing a failure.

[code]

[2018-07-06 02:47] BrandonShockley commented on #2184
In experimenting, I think I discovered another bug. I had a test.c file open with `int i = test.foo + test.` as in the description (with some extra global variables defined), I closed out of the editor, deleted the test.c file, opened the editor (with its copy of test.c intact), and saved the file. The autocomplete then worked for the second `test.`, but it also included some of the global variabl

[2018-07-06 07:15] ThadHouse opened #2229 "Allow setting of timeout for extension API provider."
In one of my projects, the enumeration attempting to fine the header dirs for a specific file can take more then a second (it requires about 150 globs and takes about 1.5 seconds at the worst case. Either a user setting, or better a setting in the actual provider to set what it's longest expected parse time would be very helpful. I would agree with some sort of cap, but forcing 1 second might be s

[2018-07-06 07:34] lmapii commented on #756
having similar / the same issue. since a few weeks jumping to declarations / definitions would no longer work ... it looks as if it is able to find the symbols (see 01_hover) but when i try to navigate to it it'll fail (02_go)

<img width="641" alt="01_hover" src="https://user-images.githubusercontent.com/7037131/42365733-9447c800-80ff-11e8-81dc-db895d6b8de7.png">

![02_go](https://user-images.git

[2018-07-06 08:07] Gruntfuggly commented on #2156
It doesn't crash or restart as far as I can see - just blocks for a period. Surprisingly, it locks everything in the VM - even the mouse.

I'l adjust the parsing priority and give that a try.

[2018-07-06 08:48] jrieken opened #2230 "Adopt new DocumentSymbol API"
With the 1.25 release we have finalised the API for the [outline tree](https://code.visualstudio.com/updates/v1_25#_outline-view). A `DocumentSymbolProvider` should now return [document symbols](https://github.com/Microsoft/vscode/blob/bd953248ad6a8e2f8896bfb78b3ae40e0fd47426/src/vs/vscode.d.ts#L2474) which can represent a hierarchy and that can differentiate between the full range of  a symbol an

[2018-07-06 08:49] jrieken commented on #2230
This depends on https://github.com/Microsoft/language-server-protocol/issues/327

[2018-07-06 08:53] sheinzle opened #2231 "GDB pretty-printer slow // Natvis alternative?"
I am having performance issues when debugging my C++ extensions for our Python project (VSCode 1.25.0, Ubuntu 18.04)

In a nutshell, stepping over to the next line takes up to 5 seconds. Doing the same in command line gdb (with pretty printing), stepping over the same lines executes instantaneously.

I am still trying to reproduce the problem with a smaller test-file, however without luck so far.

[2018-07-06 10:04] WongBean opened #2232 "clang-format.exe can not use, always crash, force me to replace the format exe"
Type: LanguageService
**----- Input information below -----**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Windows7
- VS Code Version: 1.23.1
- C/C++ Extension Version: 0.17.6
- Other extensions you installed (and if the issue persists after disabl

[2018-07-06 14:48] kghose opened #2233 "Whatever you did, breaks everything ..."
(Folks, I know this is not helpful, but I just don't have the time to diagnose the errors when a massive breakage of functionality occurs with a new version of VSCode + cpptools. Here's my best guess ...)

The update at the start of this month broke most things related to the language service (the "error squiggles"). I think what is happening is that the older version relied on `c_cpp_properties.j

[2018-07-06 15:37] kghose commented on #2233
Ok, the way I was able to go back to the original (working) state, was to blow away the "compiler" section. I compile by hand, so I don't need this and I don't know how it got there.

I don't understand what changed to create this behavior, but it is pretty disruptive.

[2018-07-06 16:09] bobbrow commented on #2184
I can repro if I use a C file, not C++.  I think that was the missing detail.

[2018-07-06 16:13] bobbrow commented on #2184
It repros in Visual Studio too.  I'll open a bug for them.

[2018-07-06 16:34] bobbrow commented on #2229
Is there any way you can pre-compute those and save them for later, or do you expect projects to be sufficiently large that this would be a resource hog?  With most CMake projects I've seen, the configurations are identical across multiple source files and can be aliased.  I don't know enough about your build system to say whether this works for you or not.

The problem with adding an API for this

[2018-07-06 16:42] ThadHouse commented on #2229
I'm trying to go through right now and see if there is anything I can do to speed up my side. Basically I have a project with over 80 binaries, and its finding which binary the uri matches that takes the time. But I'm working on seeing if I can speed up that loop enough to not matter.

Can I use the cancellation token to detect if a timeout happened, because that might also work too for my case. I

[2018-07-06 16:56] bobbrow commented on #2230
What are the rules to update the outline view?  I turned it on for a bit and it seemed to be stale as I added new code items to the file.  We currently only update our document symbols list when the file is saved, but the outline didn't update when I saved the file.

EDIT:
Ah, I get it now.  We use the LSP to communicate with VS Code, so we're using the SymbolInformation stuff you mentioned above.

[2018-07-06 17:03] graph opened #2234 "C++ Include paths not found for framework packages"
Type: LanguageService
**----- Input information below -----**

**Describe the bug**
- OS and Version: Mac
- VS Code Version: 1.25
- C/C++ Extension Version: 0.17.6
- A clear and concise description of what the bug is.

Can't find includes in frameworks.

**To Reproduce**

1. add include path in c_cpp_properties.json that refers to a SomeLibrary.framework
2. see include errors by the intellisense f

[2018-07-06 17:06] kghose commented on #2233
Actually, that just hides the problem: the error squiggles go away but it's clear that cpptools can't do it's language services because it doesn't know where the definitions are coming from.

[2018-07-06 17:17] bobbrow commented on #2229
Yes, you should be able to use the cancellation token to detect a missed deadline.

[2018-07-06 17:27] bobbrow commented on #2234
I'm not seeing what you're seeing.  Can you provide some additional information or share a repro with us?  Do you have `compilerPath` or `macFrameworksPath` set in `c_cpp_properties.json`?

![image](https://user-images.githubusercontent.com/12818240/42392246-0424e412-8107-11e8-83f1-f2f04c4db18a.png)

[2018-07-06 17:34] bobbrow commented on #2233
We added a feature to auto-detect a compile_commands.json file and use it for you, but a consent dialog is supposed to appear first.  You should be able to dismiss that dialog and not be bothered again.  If you did accidentally allow it, you should be able to remove the `compileCommands` property from `c_cpp_properties.json` to disable the compile_commands.json file.

Let me know if that helps, an

[2018-07-06 17:45] kghose commented on #2233
Hi @bobbrow thanks for replying.

I've reinstalled vscode and the cpptools extension and I do get the dialog.

I've removed the `.json` file in the build directory and the entire `.vscode` directory and restarted.

Things are back to normal now - autocomplete and static checking works.

I've done this before but without removing the `.json` in the build directory. I suspect that was the critical p

[2018-07-06 17:57] bobbrow commented on #2233
By accepting that dialog, you are telling the extension that the IntelliSense config for the whole workspace should be available in that `compile_commands.json` file.  There is no way for us to know whether that file is up-to-date or not, but we will revert back to using `c_cpp_properties.json` if the file you've opened isn't serviced by the `compile_commands.json` file (which is what happened whe

[2018-07-06 18:24] ThadHouse commented on #2229
@bobbrow I'm finding a couple more quirks in testing the API stuff. Should I just keep creating issues, or is there another channel to discuss things before creating full issues?

[2018-07-06 18:29] bobbrow commented on #2229
Feel free to email us here if you would like to discuss stuff offline: c_cpp_support@microsoft.com

[2018-07-06 18:32] sean-mcmanus commented on #756
@lmapii The symbol's definition must not be found in your browse.path setting. You can try deleting your browse.path or copying the includePath over. Are you able to get it working?

[2018-07-06 19:24] kghose commented on #2233
@bobbrow I suspect that that last part is not working - the fallback to the `c_cpp_properties.json` may be failing. It was only when I deleted `compile_commands.json` did things go back to working. Also, the widget that allows you to add include paths when you click on the error squiggles seems to alter `c_cpp_properties.json` and not `compile_commands.json`

[2018-07-06 19:38] bobbrow commented on #2233
Yes, the widget intentionally does not alter `compile_commands.json`.  `compile_commands.json` is a file produced by your build system and we have no knowledge about that at this time.

But to address the fallback issue.  Can you tell me step by step what you are doing when this happens?  Are you opening a .cpp file or a .h file?  Do you see the warning message that compile_commands is not being u

[2018-07-06 19:54] sean-mcmanus commented on #2232
Hmm, I don't know why it would crash. We just use the version at http://releases.llvm.org/6.0.0/LLVM-6.0.0-win32.exe . You can also set the "C_Cpp.clang_format_path" setting to the clang-format binary you want to use. What version do you use that doesn't crash?

[2018-07-06 20:09] decimad commented on #2222
Okay, since I can't take all day at work to get myself used to debugging this, I'm currently getting the hang of it at home, where I can't reproduce the problem though.
The settings.json of the debugee instance seems to come from the debugging host instance ,vscide seemingly, yet the c_cpp_properties.json is taken from the debuggee open folder .vscode? It's always a bit fiddely to get the cpp tool

[2018-07-06 20:12] graph commented on #2234
the default frameworks is fine. I'm talking about a proprietory framework that is included in the project. I didn't know about `macFrameworksPath` I will look into that and report back.

[2018-07-06 20:21] bobbrow commented on #2234
Ah.  If this is your own framework, then add the parent folder of `SomeLibrary.framework` to the `macFrameworksPath` and you should be good to go.

[2018-07-06 20:33] bobbrow commented on #2215
(not sure why I missed this update...)

Hmm... it looks like you have access.  Did you install this week's 0.17.6 update and does it still have the same problem?

[2018-07-06 20:34] graph commented on #2234
I tried the following:

[code]

And it's not working. I'm looking at the [documentation here](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/c_cpp_properties.json.md)

I'm including the framework header in .cpp files. This include thing is feeling kind of buggy to me. I have also added

[code]

And most pod includes are found but some aren't. I'm new to vs co

[2018-07-06 20:38] bobbrow commented on #560
Please let us know if this is still a problem with the most recent version of the extension.  We have fixed a lot of issues in the past year.

[2018-07-06 20:38] #560 closed, assigned to nobody

[2018-07-06 20:39] pieandcakes commented on #2231
@sheinzle It looks like instead of _Mylast and _MyFirst it might be _M_start and _M_finish in your natvis. If you update that does it work?

There's an [article](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/natvis/Natvis.md) in our documentation that might help you get started. It points to the full Natvis documentation.

[2018-07-06 20:41] bobbrow commented on #571
We now print clang-format errors to the Output window to help you diagnose issues with the file format.  If you are still having problems with this, let us know.

[2018-07-06 20:41] #571 closed, assigned to nobody

[2018-07-06 20:52] bobbrow commented on #587
@nilanjan, is this still a problem for you?  You should be able to shrink down the `c_cpp_properties.json` file if you have the most recent version of the extension installed and use the `compilerPath` property instead.
[code]

Please reopen if you are still having issues.

[2018-07-06 20:52] #587 closed, assigned to nobody

[2018-07-06 21:00] sheinzle commented on #2231
@pieandcakes - Thanks for the link to the articles, that's where I got the `std::vector` example from.

You're right, the Linux implementation of std::vector uses `_M_start`/`_M_finish` (actually `_M_impl._M_start`).

Here's the complete example, maybe somebody else finds this useful:

[code]

Performance is good with Natvis now. Thanks for the quick help!

[2018-07-06 21:01] pieandcakes commented on #2231
@sheinzle Thanks! Let me know if you need more help. Closing for now.

[2018-07-06 21:01] #2231 closed, assigned to pieandcakes

[2018-07-06 21:03] bobbrow commented on #621
If you have any additional info to share with us (e.g. an open source repo, a `c_cpp_properties.json` file, etc), we can attempt to investigate further.  Unfortunately, this issue is not currently actionable.  You can also try the latest version of the extension and see if the issue has been fixed already.

[2018-07-06 21:03] #621 closed, assigned to nobody

[2018-07-06 21:23] bobbrow commented on #2234
What does the folder layout look like?  There should be a folder or symlink in `${workspaceFolder}/MyProject/FrameworksDir/SomeLibrary.framework` called `Headers` that points to the location of the header files.  Does your framework have it?  If not, the extension is probably skipping that path.

When you say that some includes aren't found, do you mean there are red or green squiggly lines under

[2018-07-06 21:28] Yuri6037 opened #2236 "Pre-compiled headers and defines"
Type: LanguageService
**----- Input information below -----**
**Describe the bug**
- OS and Version: Ubuntu 18.04 (Kernel 4.15.0-23-generic)
- VS Code Version: 1.25.0-insider
- C/C++ Extension Version: 0.17.6
- Other extensions you installed (and if the issue persists after disabling them): None except C/C++ Support
Hello,
I'm trying to use Visual Studio Code for a large project. This project is c

[2018-07-06 22:36] graph commented on #2234
I see red squiggles for some of the cocoapod includes that aren't found. and SomeLibrary.framework does have a folder called `Headers` that points to location of headers. I left work. Next week I'll try "Debug" and report back.

[2018-07-06 22:57] sherryyshi opened #2237 "Add browse.path API for CustomConfigurationProviders"
Type: LanguageService
**----- Input information below -----**

Currently there is no API for passing browse.path information from a "CustomConfigurationProvider". The only way to pass it in is to populate the c_cpp_properties.json file. Ideally there should be an API to allow this to be passed in memory.

[2018-07-06 23:19] sherryyshi opened #2238 "API for cpp.hint for CustomConfigurationProviders"
Type: LanguageService
**----- Input information below -----**

Can there be an API or some other way for CustomConfigurationProviders to provide cpp.hint information for expanding macros? Currently the only way to provide this information is to write to the cpp.hint file, which is in the extension install directory, and would cause VSCode to alert the user that their extensions have been modified

[2018-07-06 23:57] sherryyshi opened #2240 "“Configure your IntelliSense settings to help find missing headers.” should not show if there are CustomConfigurationProvider extensions"
Type: LanguageService
**----- Input information below -----**

This message directs users to edit their c_cpp_properties.json file, which might conflict with CustomConfigurationProvider behaviors.

[2018-07-07 00:03] sean-mcmanus commented on #2238
Do you want to change the cpp.hint file used or simply add an additional cpp.hint file? The current workaround is to add the cpp.hint file in the user's workspaceFolder root (which appends and doesn't replace the shipped cpp.hint). We could change it to check the .vscode folder as well. We could also add a cppHintPath setting or property: https://github.com/Microsoft/vscode-cpptools/issues/640

[2018-07-07 03:23] Trevinlc1997 commented on #658
I just want to bump and say this would be really helpful as documenting code without Doxygen just feels awkward, to be honest.

I'll have my friend learn the VSCode API just to try and implement something like requested ;)

[2018-07-07 10:25] Ankeraout commented on #1474
I also get this problem whenever I code with VSCode. I updated this morning to 1.25 version, and I still have the red flame staying forever :
![image](https://user-images.githubusercontent.com/15966256/42409837-36b1630e-81e0-11e8-8f97-4010b1c26d19.png)
I am running Debian 9.4 on x64 PC, with XFCE.
I have the 0.17.6 version of C/C++ extension.
I only use VSCode for editing source code, not for comp

[2018-07-07 16:20] ThadHouse opened #2242 "Header autocomplete not working for compile_commands or provider API"
With the addition of the Provider API, I noticed that header file intellisense does not use anything for providing intellisense other then the c_cpp_properties.json settings. This should be added for compile_commands and the provider API to provide uniformity.

[2018-07-07 16:25] ThadHouse commented on #2228
I renamed this issue to actually match what the found issue in here was.

[2018-07-08 03:19] nathanaelg commented on #1672
I think this is fixed now, I'm using the information from compile_commands.json instead of specifying include directories and defines.

[2018-07-08 03:19] #1672 closed, assigned to nobody

[2018-07-08 03:36] goodloop commented on #2158
@sean-mcmanus looks good for me with 0.17.6.  Thanks!

[2018-07-08 09:38] Lumneeboii opened #2243 "cant include header file"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2018-07-08 14:34] lmapii commented on #756
i've tried deleting the browse.path as well as adding the folder to it, didn't change. i have ${workspaceRoot} in the browse.path and until recently that was enough since the search is recursive. only for the include path i had to add all the folders "manually"

EDIT: i've deleted and re-created the workspace, seems to be running now ...

[2018-07-08 15:03] huili80 opened #2244 "gdb error: Unrecognized format of field "id" in result"
Getting something like the following consistently on some code path (but not others):

ERROR: Error while trying to enter break state. Debugging will now stop. Unrecognized format of field "id" in result: result-class: done
threads: [{id=1,target-id=Thread 0x7f1b0fc19740 (LWP 39409),name=...

[2018-07-08 17:55] kghose commented on #2233
Hi @bobbrow

1. I'm opening a `.cpp` file when this happens.
1. I see the dialog that I pasted initially
1. From then on, I can't get rid of the error squiggles because clicking "add to incudePath" alters `c_cpp_properties.json` but does not seem at take effect.
1. This all goes away by deleting `compile_commands.json`
1. Once `compile_commands.json` is deleted, I actually do not see any options t

[2018-07-08 21:51] GeorgeBComan commented on #286
Just go to /Users/"Your Username"/.vscode/extensions/ms-vscode.cpptools"Your Version"/bin/ (find your extension folder on your OS if you are not on mac) delete "Microsoft.VSCode.CPP.Extension.darwin" and create an empty txt file with the same name. Restart vscode and cpu usage is gone, One feature is gone too, but you won't even notice probably.

[2018-07-09 00:52] GeneralOneill commented on #2025
I am still facing this issue. Intellisense is able to locate`<netdb.h>` but does not identify the symbols defined in that file. I am using the 0.17.6 release.
![image](https://user-images.githubusercontent.com/1

![image](https://user-images.githubusercontent.com/1497792/42425735-d1682fb8-82d5-11e8-97a5-a2d1dd7ab257.png)

I am using WSL's gcc to compile my code, and I have set up my `c_cpp_propert

[2018-07-09 04:45] GeneralOneill commented on #2025
I misunderstood @tristan957's comment about adding `_GNU_SOURCE` to the defines. I was not sure what he meant. But like he said, adding `_GNU_SOURCE` to the `defines` in `c_cpp_properties.json` fixed the issue.

[code]

[2018-07-09 07:30] jrieken commented on #2230
Yeah, Dirk is on it. I hope the LSP updates soon

[2018-07-09 10:02] powertomato commented on #1474
@sean-mcmanus It's like @Ankeraout described. After some time, seemingly random, Intellisence just stops working and I get an endless "Loading..." tooltip and the red flame on the bottom right. Sometimes it takes just a few minutes, sometimes it's hours. CPU usage seems normal.

From what I can tell it happens more often with the large Z3 code base, than with smaller projects. In fact I couldn't r

[2018-07-09 11:01] decimad commented on #2222
Hrmm, okay, I put a Breakpoint to extHostOutputService.ts:38 ... no error messages regarding the language server go through there (except "channel has been closed"
Then I put a breakpoint at client.ts:257 since that seems to create the language server process. All in all I have 4 ms intellisense language server related processes open, of which 1 goes away and is restarted again repeatedly. I attac

[2018-07-09 14:36] h2s0109 opened #2245 "No definition problem"
Type: LanguageService
**----- Input information below -----**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: window 10
- VS Code Version:1.25
- C/C++ Extension Version:0.17.6
- Other extensions you installed (and if the issue persists after disabling

[2018-07-09 15:16] bobbrow commented on #2243
I'm sorry, we're unable to determine what your issue is.  Please reopen and provide some additional information.

[2018-07-09 15:16] #2243 closed, assigned to nobody

[2018-07-09 15:18] bobbrow commented on #2233
But is the `"compileCommands"` property set in your configuration in `c_cpp_properties.json`?

[2018-07-09 15:21] bobbrow commented on #286
@GeorgeBComan that turns off pretty much everything but the debugger support.  If you would like to have a setting that does this for you, I recommend upvoting #785

[2018-07-09 15:25] hary66 opened #2246 "Updating C/C++ dependencies..."
Type: General
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version:
Linux raiselife 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux

- VS Code Version:
Version: 1.25.0
Commit: 0f080e5267e829de46638128001

[2018-07-09 15:26] bobbrow commented on #2025
@GeneralOneill, our WSL support allows for linux-style paths, so you can set `"compilerPath": "/usr/bin/gcc"` in your configuration and we'll pick it up.  That also allows you to simplify your `includePath`/`browse.path` by removing the system include paths from them.  You also shouldn't need to set `_GNU_SOURCE` in the `defines` if the `compilerPath` is set.

[2018-07-09 15:30] kghose commented on #2233
Hi @bobbrow  thanks for responding. I got this behavior both when there was a `compileCommands` section and when I deleted it. I'm happy to try and replicate with a fresh minimal project - I would need a pointer on how to get the `compileCommands` section and the `compile_commands.json` - I did not put these in manually and whatever automation triggered their creation, I did not put in motion deli

[2018-07-09 15:53] bobbrow commented on #2245
Thanks for the easy repro.  Macros were not being considered as matches when followed by a dot.  I have a fix for this.

[2018-07-09 16:13] bobbrow commented on #2246
Press <kbd>CTL</kbd>+<kbd>SHIFT</kbd>+<kbd>P</kbd> to open the command list, then type "VSIX" to filter out the other commands

[2018-07-09 16:16] bobbrow commented on #2233
So you're saying that the extension is using your `compile_commands.json` file even when you don't have `"compileCommands"` set in your `c_cpp_properties.json`?

And easy way to try this out in a new workspace is to just copy the `compile_commands.json` file into the new workspace and see if the extension starts trying to use that instead of the stuff in `c_cpp_properties.json`.

[2018-07-09 16:17] vballworld commented on #2197
@pieandcakes I'm using the correct version of arm-oe-linux-gnueabi-gdb (version 7.9.1) for my application. I don't get this issue on CLion when debugging w/ the exact same setup so the issue seems to be w/ VS Code/its debugger.

[2018-07-09 16:22] GeneralOneill commented on #2025
@bobbrow so my `c_cpp_properties.json` now looks like this.
[code]
However once again, intellisense is unable to locate symbols from `netdb.h`, but everything else seems to work fine. I have linked my code snippet [here](https://gist.github.com/GeneralOneill/e078eec9de77195d5463e59a1e10cec3).

If I put `_GNU_SOURCE` back into the `defines` everything works fine.

[2018-07-09 17:01] bobbrow commented on #2025
The following question seems relevant: https://stackoverflow.com/questions/33076175/why-is-struct-addrinfo-defined-only-if-use-xopen2k-is-defined.

I had to add `#define __USE_XOPEN2K` to server.h to get the `addrinfo` struct to be defined.  I'm not sure why adding it to the `"defines"` array didn't work though.  I need to investigate that.

[2018-07-09 17:09] bobbrow commented on #2025
I got it.  The correct thing to do is add `_POSIX_C_SOURCE=200112L` to the `"defines"` array instead of `#define __USE_XOPEN2K`.

[2018-07-09 17:16] kghose commented on #2233
@bobbrow while trying to replicate, I had some interesting experiences and I'll bundle them here before trying to proceed further.

# Path auto magic
VSCode seems to do some auto-magic for include paths without manually adding them and even without a CMakeLists.txt file. I created a simple project

[code]

`#include "a.hpp"` briefly shows the error squiggle and then disappears. I thought this was

[2018-07-09 17:25] bobbrow commented on #2233
Squiggles may appear briefly when a file is opened and we are indexing the workspace.  The default experience will try to auto-find header files for you, so that you don't have to play around with `c_cpp_properties.json`.  This is normal behavior.  You can still create a `c_cpp_properties.json` file by opening the command pallete: <kbd>CTL</kbd>+<kbd>SHIFT</kbd>+<kbd>P</kbd> and selecting "C/Cpp:

[2018-07-09 18:30] kghose commented on #2233
@bobbrow

Very interesting! I guess I did not need that extension after all! - all that extension may have done is set `"editor.formatOnSave": true`. I have `"C_Cpp.formatting": "Default"` (the software default I believe). Naturally, because of my ignorance, no `C_Cpp.clang_format*` settings have been touched. In my actual project I have a `.clang-format` file.

## The main thread
1. Use `cmake -D

[2018-07-09 18:30] #2233 closed, assigned to nobody

[2018-07-09 18:36] sean-mcmanus commented on #1474
@Ankeraout Does IntelliSense still work, i.e. is the bug just with the icon getting stuck? I just saw the bug with the red flame getting stuck, but IntelliSense still works -- we've had that bug for a couple months or so, if I can figure out a way to repro it consistently I can fix it...may switching git branches causes it. We're tracking this with https://github.com/Microsoft/vscode-cpptools/issu

[2018-07-09 19:04] sean-mcmanus commented on #2222
The crash is not with our typescript code, it's with the Microsoft.VSCode.CPP.Extension process. You can use the typescript code via setting a breakpoint after the languageClient.start() and then using a C++ debugger to attach to the language server process. You can use either VS Code to debug it, Visual Studio, or another debugger. If you're on Windows you just have to set your symbol path to "sy

[2018-07-09 19:15] graph commented on #2234
I enabled the debug and restarted. I see lines that say "SomeFramework.framework/A/Headers" will be indexed". In my private framework there is no "A" folder. just a "MyFramework.framework/Headers/*.{h,hpp}". Maybe the plugin doesn't check that? I modified the folder structure in the framework manual to have an "A/Headers" and restarted vs code that didn't help.

I see all sorts of lines saying "Pr

[2018-07-09 19:37] decimad commented on #2222
It looked to me as if the language server was exiting the "natural" way on first glance. I'll dig into it further tomorrow, including having a look at the exit code.

[2018-07-09 21:02] sean-mcmanus commented on #2077
I reproed this with 0.17.6...but I still don't know how to repeat the repro.

[2018-07-09 21:16] bobbrow commented on #2234
It doesn't need an `A` folder.  `MyFramework.framework/Headers` should work.  The only difference between the system libraries and yours appears to be that `Headers` is not a symlink in your case.  But our code is not checking whether it's a symlink or not.

I'll add a debug string in that code and see if we can figure out what's going on in the next release.

[2018-07-09 21:26] bobbrow commented on #2234
Nevermind, I just set up a repro and found the bug.  `${workspaceFolder}` is not being resolved for some reason.  Can you try using the absolute path instead of the variable?  I'll work on a fix for this.

[2018-07-09 21:50] WardenGnaw commented on #2244
Can you enable trace logging and copy the output here?

You can do this by adding the following to your launch.json
[code]

[2018-07-09 22:21] sherryyshi commented on #2238
Editing the current cpp.hint file is not ideal because it would trigger a reload prompt. I think either detecting a cpp.hint file in the .vscode folder or adding a cppHintPath property in c_cpp_properties.json would work for our purposes. Also, what about adding an API in CustomConfigurationProvider? That way all the communication between cpptools and providers would be in one place?

[2018-07-09 23:12] huili80 commented on #2244
I synced my workspace to the latest revision this morning and for some reason I can no longer reproduce this error. I'll see if I can roll back my workspace to reproduce it, or encounter it again in the future. If/when it does happen again, I'll enable trace logging and post the output back here.

[2018-07-09 23:43] WardenGnaw commented on #2244
Sounds good. I'll mark this as needs more info for now.

[2018-07-10 06:57] Christian-Marx opened #2248 "Cannot override value of __cplusplus macro with c_cpp_properties.json"
Issue Type: <b>Bug</b> (I suppose - please correct me if my usage is wrong.)

I searched for a similar existing issue but didn't find anything matching exactly. The closest match might be [#1770](https://github.com/Microsoft/vscode-cpptools/issues/1770).

Steps to reproduce:

1. Create a default c_cpp_properties.json and switch intellisenseMode to msvc-x64:

[code]

2. Create a file foo.h:

[code]

[2018-07-10 08:21] decimad commented on #2222
VS.Community reports that the process exited with return value 0, short after which the close handler is in the extension is run.

[2018-07-10 10:08] bad-ed opened #2249 "Unable to set breakpoint in concurrency runtime task callback"
Type: Debugger

- OS and Version: Windows 7
- VS Code Version: 1.25.0
- C/C++ Extension Version: 0.17.6

Given the simple program:
[code]

Trying to set breakpoint on line `int a = 0` makes Visual Studio Code unusable. It stops at breakpoint, but the line is not highlighted, it is not possible to continue execution.

Visual Studio (not Visual Studio Code), however, correctly handles this breakpoin

[2018-07-10 11:41] benibak opened #2250 "compiler not see my library"
- OS and Version: Windows 10
- VS Code Version:  1.25
- C/C++ Extension Version: 0.17.6
-MinGW 6.3.0
my code
[code]

my c_pp_properties.json

[code]

intellisense is see my library, but compiler not

result ;

[code]

[2018-07-10 13:24] mrkrynmdsco commented on #634
+1

[2018-07-10 13:41] GeorgeBComan commented on #286
@bobbrow I stil have suggestions, at least that's what I remember, I'll try today and come back with an answer

[2018-07-10 14:18] graph commented on #2234
Full path works in removing the errors. I noticed another couple of issues

- Autocomplete for include in private library doesn't work but I don't get any errors with full path in c_cpp_properties.json
- There are multiple headers in the framework, only the one that matches the framework name gives no errors. I have hpp files in the framework and those give errors if I include them.

[2018-07-10 15:29] Nicolaze commented on #103
I'm using gdb version 8.1 on Windows7 64bit , when a function have a return value, i use step out ,it crashes.
vscode version 1.25.0
mingw-w64，x86_64-8.1.0-win32-seh-rt_v6-rev0
g++ version 8.1.0
gdb version 8.1.0

[2018-07-10 15:55] bobbrow commented on #2248
This is actually the expected behavior.  cl.exe only recently started [setting this macro correctly](https://blogs.msdn.microsoft.com/vcblog/2018/04/09/msvc-now-correctly-reports-__cplusplus/).  We don't have support in the extension to turn on the switch yet.

[2018-07-10 15:59] bobbrow commented on #2250
If you do not add include paths to your compiler command line via `-I`, but `foo/foo.h` exists relative to `main.cpp`, then you should be able to use `#include "foo/foo.h"` (notice the double-quotes) and it will compile.  Otherwise, you need to pass in the additional include path to the compiler so it knows where to look for `foo/foo.h`

[2018-07-10 16:02] bobbrow commented on #286
VS Code will always try to pop up suggestions even without our extension installed.  Take a look at the `"editor.quickSuggestions"` and `"editor.wordBasedSuggestions"` settings if you want to turn that off entirely.

[2018-07-10 16:06] bobbrow opened #2251 "Autocomplete for Framework headers doesn't work"
We didn't add support for framework headers when implementing the `#include` autocompletion feature.

[2018-07-10 16:06] bobbrow commented on #2251
RE: #2234

[2018-07-10 16:13] bobbrow commented on #2234
I opened #2251 for the first issue, but I don't repro the second issue.  Can you open a new issue with some more details, maybe?

I created `MyF.framework/Headers` and put `a.h` and `b.hpp` in it then included them like this:
[code]
and I don't get any squiggles.  The declarations from the headers are available in the source file so I know it's working.

[2018-07-10 19:11] pieandcakes commented on #103
@Nicolaze That seems to be an issue with MinGW 64bit's gdb on 8.1. Unfortunately this is an issue with the toolset and not our extension. Our suggestion would be either to downgrade the version of gdb or if you don't need 64bit, the 32bit version seems to work fine.

[2018-07-10 19:54] graph commented on #2234
The second point I also can't reproduce anymore. I guess it just took a while for the indexer to index the files. Thanks so much! Your support for a free product is amazing. I look forward for next release :)

[2018-07-10 20:22] sherryyshi commented on #2221
Can there also be a setting for users to disable the notifications for the current session, or current workspace, or permanently (whichever makes more sense)?

[2018-07-10 20:56] nholthaus opened #2252 "When using recursive include paths for Qt, code doesn't find header files without a .h extension"
Type: LanguageService
**----- Input information below -----**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Win 10
- VS Code Version: 1.25.0
- C/C++ Extension Version: 0.17.6
- Other extensions you installed (and if the issue persists after disablin

[2018-07-10 21:23] sean-mcmanus commented on #2248
But it sounds like he's not using cl.exe? If you set your compilerPath to a compiler that sets __cplusplus correctly by default then it should work.

[2018-07-10 22:46] andreamatt opened #2253 "Clang not installing (i think)"
Type: General
- OS and Version: Windows 10 x64
- VS Code Version: 1.25.0 x64
- C/C++ Extension Version: 0.17.6
- Other extensions installed: none

Code example:
[code]

I expected it to format, but nothing happens.
I checked file diff between my laptop (with this issue) and my pc (without it).
Basically, inside user/.vscode/extensions/ms-vscode.cpptools-0.17.6/LLVM/bin there is no clang-format.exe

[2018-07-10 22:49] bobbrow commented on #2248
`intelliSenseMode` is `msvc-x64` in the config above, so I'm assuming cl.exe.  I looked at the engine code and it should be setting this variable to a higher value for clang mode.

[2018-07-10 22:52] sean-mcmanus commented on #2252
I think you're hitting a bug where the extension file is being added to our "non-existent" list in our database. As a workaround for this, you can do a Reset IntelliSense Database command and/or remove the empty browse.path setting (or copy the includePath settings over). Does that fix it for you? If that doesn't fix it for you, then you're hitting some new issue. The .h and extensionless files ar

[2018-07-10 22:59] bobbrow commented on #2248
@Christian-Marx, is there any reason you didn't want to have IntelliSense mimic your compiler more closely? You should be able to set the `compilerPath` property in your config to the path of your non-cl.exe compiler and then change the `intelliSenseMode` to `clang-x64` and let the extension figure out the system includes/defines for you.

[2018-07-10 23:03] bobbrow commented on #2253
Are you able to download clang-format.exe directly? https://go.microsoft.com/fwlink/?LinkID=872610
The link seems to be working for me.  I expected that the installation would fail if any of the downloads failed.

[2018-07-10 23:05] pieandcakes commented on #2249
@bad-ed Thank you for reporting this issue. As a workaround, please unzip and place the file Asyncstackwalk.natvis from [AsyncStackWalk.zip](https://github.com/Microsoft/vscode-cpptools/files/2182402/AsyncStackWalk.zip)
in your %userprofile%\\.vscode\\extensions\\ms-vscode.cpptools-0.17.6\debugAdapters\vsdbg\bin folder and try it again.

This should be fixed in a future release.

[2018-07-10 23:13] andreamatt commented on #2253
Yes, download works.
But still, even placing it manually, nothing happens when i format.
Is there a log about formatting somewhere?

[2018-07-10 23:14] sean-mcmanus commented on #2253
You can set the C_Cpp.loggingLevel to Debug to see formatting logging in the C/C++ pane of the Output window.

[2018-07-10 23:21] andreamatt commented on #2253
Done. No output at all.
I'm sure vscode it's trying to format though.
If i set clang path to "anything", it gives error, but still no output.

[2018-07-10 23:25] bobbrow commented on #2253
Did you select the `C/C++` filter in the Output window?  It's kind of hidden in the upper right corner of that panel.

[2018-07-10 23:28] andreamatt commented on #2253
sorry didn't notice that.
[code]

[2018-07-10 23:29] nholthaus commented on #2252
I tried both removing browse.path, and copying include settings into it. No change. Resetting the database also resulted in no change.

[2018-07-10 23:41] bobbrow commented on #2253
Is there a `"Formatting raw output:"` or `"Formatting failed:"` message?

[2018-07-10 23:42] sean-mcmanus commented on #2252
It's possible recursive includes is picking the wrong includePaths due to files with the same name. If you set your C_Cpp.loggingLevel to Debug and then open a new file, you should be able to see what includePaths we end up using after the "sending compilation args" logging in the C/C++ tab in the Output window, so you can see if we're missing an include file or if the required ordering is incorre

[2018-07-10 23:45] andreamatt commented on #2253
Do you mean inside the Output?
No, this is what happens if i only open vscode on that file and format once.
[code]

[2018-07-10 23:49] bobbrow commented on #2253
Yeah, I mean inside the output.  One of those messages should be appearing unless the formatting is completely hung.  Do you see any hung `clang-format.exe` processes in TaskManager?

[2018-07-10 23:53] andreamatt commented on #2253
No, none.
I tried manually removing clang-format.exe.
Now it gives
[code]

[2018-07-10 23:54] andreamatt commented on #2253
Is there any way i can delete everything about vscode and be sure about starting again with a clean system?

[2018-07-11 00:07] sean-mcmanus commented on #2253
You can uninstall our extension and then restart VS Code. You should double check that the ms-vscode.cpptools-0.17.6 folder is gone afterwards. And then re-install the extension.

It sounds like clang-format.exe is crashing and we get stuck waiting for the results, but we're supposed to time out after 10 seconds and give an error.

[2018-07-11 00:12] andreamatt commented on #2253
Done as you said. This time clang-format.exe was installed.
Still doesn't format, and the output is exactly the same

[2018-07-11 00:18] andreamatt commented on #2253
Is it possible that there are issues related to installed cygwin/mingw/LLVM somewhere else on the disk?

[2018-07-11 00:21] sean-mcmanus commented on #2253
This is really strange, I don't see yet how this is possible.

Other Cygwin/mingw/LLVM shouldn't affect this if the clang_format_path is set to the default of null -- you could try setting the path to your own LLVM clang-format.exe binary that you know works. You might want to make sure the clang-format.exe you're using runs from the command line...even though we still should be showing better err

[2018-07-11 00:24] andreamatt commented on #2253
I had tried installing LLVM by myself and setting its path, but it didn't fix the issue. The behaviour was the same.
If i try multiple formattings, they all give the same output
[code]

[2018-07-11 00:30] andreamatt commented on #2253
I don't think clang-format.exe goes on timeout. It doesn't appear at all in task manager when i format.
Not even for an instant

[2018-07-11 00:33] andreamatt commented on #2253
I think i found the issue. I am missing some vc redist requirements. If i start clang-format.exe from the bin folder, it gives a missing msvcp140.dll error. I'll try installing some redist right now

[2018-07-11 00:35] andreamatt commented on #2253
Done. Was missing vcredist 2015. Sorry for all the trouble.
Now it all works just fine.

[2018-07-11 00:35] #2253 closed, assigned to nobody

[2018-07-11 00:49] andreamatt commented on #2253
@sean-mcmanus @bobbrow
I don't see vcredist in any of vscode's requirements.
Maybe it's only a clang requirement, and if so, you should probably include it inside your extension

[2018-07-11 01:31] sean-mcmanus commented on #2253
Hmm...yeah, looks like it's a requirement of clang-format.exe. LLVM itself ships with this in the bin folder, so it looks like we should do the same...there could be other dependencies too. Thanks for informing us of this issue.

[2018-07-11 06:34] DenisYaroshevskiy commented on #938
Hi! Just a ping in case this would boost the ticket's priority)

[2018-07-11 07:05] Christian-Marx commented on #2248
@sean-mcmanus, right - I'm using VS Code as an editor only, but still would like to have correct syntax highlighting. My compiler is a cross compiler for ARM.

@bobbrow, that's interesting - how would the extension figure out the correct value of __cplusplus and other defines when I set the _compilerPath_ property to the path of my compiler? Does it invoke the compiler to get the predefined values

[2018-07-11 07:26] witaly-iwanow commented on #286
macOS 10.12, Code 1.24.1 (just updated to 1.25.0, but don't think it's gonna help), C/C++ plugin 0.17.6:
<img width="795" alt="screen shot 2018-07-11 at 14 17 27" src="https://user-images.githubusercontent.com/37587207/42556574-3ee021d0-8516-11e8-96e8-fed4ecd98f4c.png">

[2018-07-11 09:12] bad-ed commented on #2249
It helped. Many thanks!

[2018-07-11 12:10] yaochx opened #2254 "editor action 'FormatDocument' not use .clang-format file"
Type: LanguageService

**Describe the bug**
- OS and Version: Ubuntu 16.04
- VS Code Version:1.25.0
- Commit: 0f080e
- C/C++ Extension Version: 0.17.6
- other Extensions: C/C++ Clang Command Adapter | C/C++ Snippets | C++ Intellisense | cppcheck etc.

I add a clang format file at root directory of source code.
When pressing ctrl + a, then ctrl + k, ctrl + f, using edictor.action.formatselectoin to

[2018-07-11 14:59] powertomato commented on #1474
@sean-mcmanus I'm now able to (semi) reliably reproduce the problem I'm having. It seems it is a symptom of #2077. (Semi because I cannot reproduce #2077 itself reliably)

To reproduce it you have to wait for #2077 to occur. Then close and reopen VScode.
For me this leads to stale "Microsoft.VSCode.CPP.IntelliSense.Msvc.linux" and "Microsoft.VSCode.CPP.Extension.linux" processes. They seem to inte

[2018-07-11 15:17] bobbrow commented on #2248
Compilers like gcc allow us to query the system includes and defines, so when you set the compilerPath we can just ask the compiler what to use.  It seems that gcc might let you override `__cplusplus`, but msvc doesn't.

[2018-07-11 16:30] GeorgeBComan commented on #286
@bobbrow The way you are doing it is better, I just disabled whtever was causing the cpu usage. Thank you

[2018-07-11 19:02] sean-mcmanus commented on #938
@DenisYaroshevskiy This is bug https://github.com/atom/language-c/issues/246, so it needs to be fixed there, so maybe you could upvote that issue? A fix was made in a forked repo of atom/language-c, but not the official repo, so someone could also to porting that fix.

[2018-07-11 19:07] sean-mcmanus commented on #286
@witaly-iwanow This appears to be bug https://github.com/Microsoft/vscode-cpptools/issues/2225, if you don't have a folder open (otherwise, it would be another bug, which we would need a repro or call stack).

[2018-07-11 19:11] sean-mcmanus commented on #2254
Do you have the clang-format extension installed? It's possible another extension is executing the format document. If you set our C_Cpp.loggingLevel to "Debug" do you see messages about formatting input/output in the C/C++ section of the Output window?

[2018-07-11 19:17] sean-mcmanus commented on #1474
@powertomato I recall we have a fix for #2077 on Windows, but we're still working on Linux/Mac.
 The dangling process issue is https://github.com/Microsoft/vscode-cpptools/issues/2169 , which is also related. The good news is that we're actively working on a fix for our next release, although I don't think it will make the Insiders release. So I think this will solve the issues you are having.

[2018-07-11 20:20] #1796 closed, assigned to nobody

[2018-07-11 20:21] #1988 closed, assigned to nobody

[2018-07-11 21:11] sean-mcmanus opened #2255 "Add Windows clang-format.exe dependencies (and update the version)."
...otherwise it fails to run if users don't have the vc++ 2015 redist.

[2018-07-11 21:12] sean-mcmanus commented on #2255
The original issue that hit this is https://github.com/Microsoft/vscode-cpptools/issues/2253 .

[2018-07-11 21:30] bobbrow commented on #2252
This works for me using both the Windows and WSL versions of QT.  I noticed your includePath is starting from the QT Src/ folder.  I don't have this folder in my installation.  Do the headers live in there?  I installed the msvc2017 kit and found the headers in there.

![image](https://user-images.githubusercontent.com/12818240/42600284-9dd1e5b6-8516-11e8-97e2-63d0ed280a61.png)

![image](https://u

[2018-07-11 21:45] sean-mcmanus commented on #2184
No ETA on when the VS team will be able to provide a fix for this...we'll update this when we have more info.

[2018-07-11 22:34] sean-mcmanus commented on #1753
A related VS issue might be https://developercommunity.visualstudio.com/content/problem/278730/intellisense-only-issue-no-instance-of-function-te-1.html . Repros with functional. No ETA on when this will get fixed yet.

[2018-07-11 22:52] sean-mcmanus commented on #2172
Related to https://developercommunity.visualstudio.com/content/problem/194258/cpppropertiesjson-support-stdgnu17-when-using-gcc.html .

[2018-07-12 00:39] sean-mcmanus opened #2256 ""int &" type incorrectly reported instead of "int" for deduced auto variable"
#include <utility>
#include <iostream>
using namespace std;

int main()
{
	pair<int, int> p { 1, 2 };
	auto[a, b] = p; // hover over a shows “int &a” instead of “int a”
	a = 10;
	cout << p.first << a << endl;
	return 0;
}

The bug repros with VS 2017 too. I'll link to the VS-side bug if/when it gets created.

The previous issue was https://github.com/Microsoft/vscode-cpptools/issues/2101 .

[2018-07-12 00:40] sean-mcmanus commented on #2101
The bogus error will be fixed in our pending 0.17.7-Insiders update, but the "int &" bug still repros (even with VS 2017), so I created a new bug for that: https://github.com/Microsoft/vscode-cpptools/issues/2256 .

[2018-07-12 01:51] sean-mcmanus commented on #1014
This appears to be fixed in our pending 0.17.7-Insiders.

[2018-07-12 01:53] sean-mcmanus commented on #1395
Might be the same as https://github.com/Microsoft/vscode-cpptools/issues/1559 . It was marked as fixed at https://developercommunity.visualstudio.com/content/problem/198343/incorrect-c-intellisense-error-no-suitable-user-de.html, but it turns out it still repros...so no ETA on an actual fix.

UPDATE: https://developercommunity.visualstudio.com/content/problem/286802/vs2017-pro-editor-complains-pol

[2018-07-12 01:58] #1430 closed, assigned to nobody

[2018-07-12 02:02] sean-mcmanus commented on #1440
The crash has been fixed with 0.17.7-Insiders, but the code will generate an error -- I assume until our compiler supports the C++20 feature (no ETA). We could create another bug for this if you want.

[2018-07-12 02:19] sean-mcmanus commented on #1198
Hmm...the VS team "Won't Fixed" it -- more people will need to upvote the VS issue (or this one).

[2018-07-12 03:10] yaochx commented on #2254
thanks to your reply, @sean-mcmanus
1. Extensions relative to C/C++ are 'C/C++', 'C/C++ Clang Command Adapter', 'C++ Intellisense', 'C++ Snippets'
2. the output message only shows " Checking for syntax errors: file:///home/collin/***/predictor_manager.cpp "

[2018-07-12 03:14] yaochx commented on #2254
When I open another project like [apollo](https://github.com/ApolloAuto/apollo), the formatting functions work well.
So there's no problem with current vscode and its user setting.
Although I try to find out the differences betwen their workspace settings, but till now I do not succeed to fix it.

[2018-07-12 05:52] Christian-Marx commented on #2248
Are you saying that it's beyond the control of your extension whether the `__cplusplus` value defined in _c_cpp_properties.json_ is overridden later on, before being passed to IntelliSense?

[2018-07-12 06:22] Christian-Marx commented on #2248
I like the approach of asking the compiler what to use for `__cplusplus` and other predefined macros. Could you imagine adding an option in _c_cpp_properties.json_ for configuring the compile switch to be used for that?

For example:

`"compileSwitchPredefinedMacros": "--c++ --predef_macros - "`

[2018-07-12 09:46] salda opened #2258 "empty nested quotation mark strings in configurations stopped working"
Type: Debugger
**Input information below**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Ubuntu 16.04 latest stable
- VS Code Version: latest stable
- C/C++ Extension Version: latest stable
- Other extensions you installed (and if the issue persists

[2018-07-12 12:29] ghost opened #2259 "Library files not installed in a system directory are not parsed properly"
Type: LanguageService

My project is using Conan to install dependencies. The only important detail to note is that conan installs library files in a directory within the user's home directory. VSCode detects that these headers exist but fails to parse them correctly, showing syntax errors for valid use of library functions. If the same library is installed globally then this extension displays no

[2018-07-12 13:17] ytimenkov opened #2260 "Ambiguity between conversion operator to reference and rvalue reference"
I was playing with trompeloeil mocking framework.

cpptools' static analysis makes lot of use from static_assert's in it and it looks much easier to write tests that it was before with C++98-only frameworks.

However I've noticed that cpptools report some problems which are not problems for compiler.

Type: LanguageService
- OS and Version: CentOS7 with gcc-6
- VS Code Version: 1.25.0 0f080e5267e8

[2018-07-12 14:45] deitry commented on #1360
It will be nice to have a key-bindable action to switch between different overloads description. Or all overloads could be displayed in Intellisense list, each with its own description, like it is implemented in QtCreator.

Anyway, it could be very useful feature, because you often want to check what you can pass to a function _before_ you start entering something in parameters.

[2018-07-12 15:00] rollbear commented on #2260
Can you try again with the latest fixes on the master branch? I pushed a set of work-arounds, only an hour or so ago, for two clang c++-17 bugs, and the problems are similar enough, and the fix is for exactly that code.

/Björn

On 12 July 2018 15:17:43 CEST, Yuri Timenkov <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-07-12 15:06] rollbear commented on #2260
F.Y.I. @AndrewPaxie

[2018-07-12 17:01] Ankeraout commented on #1474
@sean-mcmanus I also (just on my screen right now) the bug where I don't have the red flame, but the suggestions keep saying "Loading...".
Also this time, it looks like there are 4 processes running.
Two of them are taking 10% of the CPU, and the remaining ones 30% and 5%.

Two are /usr/share/code/code with no arguments (10% CPU and 5% CPU)
Another one is the same file but with --type=gpu-process

[2018-07-12 18:03] bobbrow commented on #2248
I'm saying that just for "msvc-x64" mode, you can't override `__cplusplus`.  I tried overriding it for "clang-x64" mode by adding it to the "defines" array, and it worked for me.

We do support some compiler switches already.  You can try adding them directly to the `compilerPath` property (so that the "path" includes the arguments as well)

[2018-07-12 18:52] slysherz commented on #1440
Thanks a lot for you work : )

This hasn't been bothering us at all. Obviously it would be nice if it could be fixed in the future, but it's not a priority unless someone else needs it.

[2018-07-13 00:35] WardenGnaw commented on #2258
Can you enable engine logging and share the output here?

[2018-07-13 01:00] sean-mcmanus commented on #2077
I'm still reproing this on Linux with 0.17.7-insiders.

[2018-07-13 01:01] sean-mcmanus commented on #1474
@powertomato @Ankeraout We believe https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.7-insiders has fixed the issues caused by dangling/stuck processes (although there could be a race condition scenario that could hit the issue, not sure...I haven't hit that yet). Are you still having issues with that? The red flame getting stuck still repros, but maybe less often (I think we fixed s

[2018-07-13 05:50] fr43nk opened #2265 "Goto definition doesn't lead to right class"
In my program I have the following class structure:

[code]
in a main file I instantiate the two working classes.
[code]
Now when I Ctrl-click on the ```mw1.execute``` method I get a list with all the classes where ```execute``` is implemented. But I think it should lead directly to the class.

- OS and Version: Windows 7
- VS Code Version: 1.25.1
- C/C++ Extension Version: 0.17.6

[2018-07-13 06:00] thirtytwobits opened #2266 "Problem Matcher for GCC doesn't use the correct path when building in subfolders."
Issue Type: <b>Bug</b>

We use make to build our software. To build I have to setup a task that does the following:

[code]

Setting this up as a shell task and using the $gcc problemMatcher the problem links do not find the file because they do not include the `subproject` folder in the path.

There needs to be a way to specify the root path to use for the problem matcher.

Extension version: 0.1

[2018-07-13 08:01] lmapii commented on #756
Something's not right here: A few days ago I've re-created the workspace and things were working normally. But I've experienced (regularly) that the extension breaks after some point.

What happens is that after a while it'd stop being able to follow the declarations/definitions, it's stuck "Loading", both with hover and the "busy" progress below the filename in the editor. It doesn't go away anym

[2018-07-13 08:21] ytimenkov commented on #2260
I've tried master and it still has same issue.

It appears that issue exists only in `decltype()` context in trompeloeil (I guess that's why this operator is not defined). After I've ran preprocessor for the above example I get squiggles in
`using t = decltype((m).trompeloeil_self_mock_func(trompeloeil::ne(0)));`

Then I came up with another example, which is completely stand-alone:
[code]

While

[2018-07-13 10:43] salda commented on #2258
I prolly need to obfuscate a lot for that, but I will try to do it.

[2018-07-13 12:44] rollbear commented on #2260
They're only used in unevaluated context to do SFINAE selection for function matching, hence no need for implementation (in fact, it's not even possible to implement them.)

Your `VeryConvertable` type may not be a fair example for the problem. `trompeloeil::duck_typed_matcher` has SFINAE conditions to remove some alternatives. It would be nice if the error message included the type of `V`.

I do

[2018-07-13 12:52] salda commented on #2258
@WardenGnaw I guess it's easily reproducible.
[C++_output.txt](https://github.com/Microsoft/vscode-cpptools/files/2192678/C%2B%2B_output.txt)

[2018-07-13 13:19] ednoferreira commented on #756
I was having this issue ("No definition found for ...").
Resolved by reloading PHP extension pack.

[2018-07-13 14:18] lmapii commented on #756
I don't have the PHP extension pack installed. Right now I'm trying to disable and re-enable it for the workspace but the file discovery takes ages.

[2018-07-13 14:53] bobbrow commented on #2265
Thanks for the feedback.  The current implementation is not aware of the context.  We are tracking this with #255.  Please go and upvote that issue.

[2018-07-13 14:53] #2265 closed, assigned to nobody

[2018-07-13 15:00] bobbrow commented on #2266
Have you seen [this documentation](https://code.visualstudio.com/Docs/editor/tasks#_defining-a-problem-matcher)?

I believe the problem in your case is that our built-in problem matcher only matches paths relative to the `${workspaceFolder}`.  If you defined your own in `tasks.json` (you can copy ours from the package.json or use the one in the example linked above), and changed the `fileLocation`

[2018-07-13 16:47] powertomato commented on #1474
@sean-mcmanus Thanks, I have installed the pre release. It has been running for several hours without any problems! I will keep it running over the weekend, but it already seems much better now.

[2018-07-13 17:34] thirtytwobits commented on #2266
That works but it's a lot of copy and paste. Could a parameter be added to the task so the build root could be passed into the extension's matcher? Something like this:

[code]

And the matcher would then have:

[code]

[2018-07-13 17:56] bobbrow commented on #2266
We don't own the tasks system so I think you would have to ask the VS Code team for a new parameter on the task schema.  You might be able to make it work with an environment variable added to

[code]
and then reference that in your custom problem matcher with the `${env:VAR}` syntax.  If that works, we would accept a PR into our repository if you added that problem matcher to package.json.

[2018-07-13 18:40] decimad commented on #2222
So, in order to sum it up. In my experiments the Language Server did not crash but dit exit early with code 0, which the extension takes for a crash. Any help pinpointing the reason for the early exit would be very appreciated, although it seems hard to do without the sources and my knowledge ;)

[2018-07-13 18:43] bobbrow commented on #2259
It seems to be a problem with our `clang-x64` intelliSenseMode.  This works on Windows with `msvc-x64` mode.

*Notes for us: To repro, you just need to clone `range-v3` and paste in the code above using `clang-x64` intelliSenseMode*

[2018-07-13 18:52] thirtytwobits commented on #2266
The below example appears to work for bash shells but isn't portable. I didn't know about the options in the task so thanks. I'm not sure what a portable version of this would look like though.

[code]

[2018-07-13 18:56] bobbrow commented on #2266
I imagine it would be something like:

[code]

Though I'm not sure if VS Code would resolve the variable inside the variable or not.  `"matchFolder"` might have to be an absolute path.

[2018-07-13 19:05] sean-mcmanus commented on #756
@Imapii Yeah, we had some bugs that could cause what you're seeing -- we fixed a bunch of issues in 0.17.7, we have an insiders pre-release at https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.7-insiders , which is close to the final version we plan to ship next week.

[2018-07-13 19:10] jlj-ee opened #2267 "Passing options to gdb"
I have the following debug configuration:
[code]
It works, but I was hoping to be able to add to the command-line options that are passed to gdb. In the debug console, I can see ``Starting: "C:/MinGW/mingw64/bin/gdb.exe" --interpreter=mi``. Is there any way to setup launch.json to pass other options than ``--interpreter=mi`` to gdb as it is called (i.e. before it is running)?
It looks like ``setup

[2018-07-13 19:10] sean-mcmanus commented on #2260
So...is there a bug with our extension? 0.17.7-insiders fixed a bunch of erroneous errors (one of our files went from 7 to 1 bogus error with Linux/clang/libc++): https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.7-insiders .

[2018-07-13 19:13] thirtytwobits commented on #2266
weird. That doesn't work. `${env:PWD}` resolves and if I echo `$matchFolder` it is set in the shell environment but the variable is just blank if i use it as `${env:matchFolder}` in the fileLocation. That makes no sense at all.

[2018-07-13 19:21] jdwieber opened #2268 "includePath support for non-local paths `ssh://` in particular"
Type: LanguageService
**----- Input information below -----**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: Windows 7 Enterprise
- VS Code Version: 1.25.1
- C/C++ Extension Version: 0.17.6
- Other extensions you installed (and if the issue persists

[2018-07-13 19:33] jlj-ee commented on #2267
I see from [here](https://github.com/Microsoft/vscode-cpptools/issues/861#issuecomment-323166952) that I can wrap the call to gdb in a batch file, e.g.:
[code]
and then place the path to my batch file in the ``"miDebuggerPath"`` launch.json option. This works. However, it would be preferable to define the additional flags in launch.json, in case the required options passed to gdb by the extension

[2018-07-13 20:39] bobbrow commented on #2266
It could be a bug in VS Code.

[2018-07-13 20:51] bobbrow commented on #2268
We currently don't support URI syntax in the `includePath` nor any scheme besides `file://` right now.  Marking as a feature request.

[2018-07-13 21:11] bobbrow commented on #589
Source file linting (squiggles) and better autocomplete suggestions were added to the extension mid-last year.  If you are having any trouble setting that up, feel free to reopen this issue.

[2018-07-13 21:11] #589 closed, assigned to nobody

[2018-07-13 21:19] sean-mcmanus commented on #589
@bobbrow The issue is with build tasks and not IntelliSense features, right?

[2018-07-13 21:34] bobbrow commented on #589
It sounds like it's about both.  The original comment was solved with tasks and problem matchers.  The second comment is about autocomplete and was solved with #13.

[2018-07-13 21:35] WardenGnaw commented on #2258
@salda Thank you for sharing the logging.

Just to clarify. You want to pass in an empty string after the `--password` argument?

[2018-07-13 21:45] sean-mcmanus commented on #2256
Appears to be  VS bug https://developercommunity.visualstudio.com/content/problem/229224/intellisense-displays-wrong-type-for-structed-bind.html -- upvote that if anyone wants a fix.

[2018-07-13 21:50] jdwieber opened #2269 "Support for passing custom parameters to clang-format"
Please add a C_Cpp.clang_format_options to enable passing custom parameters to the clang-format executable. For instance:

[code]

or something taken from the env

[code]

[2018-07-13 21:58] sean-mcmanus commented on #2269
Your usage of --assume-filename is incorrect -- it doesn't take a .clang-format file as input (clang-format docs are incorrect). The .clang-format file is obtained by being the current directory or any parent directory. Do you have another reason to pass args?

[2018-07-13 22:44] pieandcakes commented on #2267
@jlj-ee You should be able to use `"miDebuggerArgs"` to specify additional args.

I see its missing from our [launch.md](https://github.com/Microsoft/vscode-cpptools/blob/master/launch.md) documentation and I'll get it added.

[2018-07-13 22:44] #2267 closed, assigned to pieandcakes

[2018-07-13 23:01] salda commented on #2258
@WardenGnaw Yes and I checked the commit and seems you hit the point and solved it :)

[2018-07-13 23:19] bobbrow commented on #627
Regardless of what's going on in the 1st crash (I see 3 threads throwing exceptions at the same time), we don't need to use exceptions for flow control here.  We can fix this up and at least remove that potential point of failure.

There's still a parser crash in here which may be fixed with a more recent version of the extension.  0.17.7-insiders has a preview of that.

[2018-07-13 23:21] bobbrow opened #2271 "Don't use exceptions for flow control during shutdown/resetting message queues"
Type: LanguageService

Extracted from #627. The message queues should not use exceptions for flow control.

[2018-07-14 00:37] albe-rosado commented on #2219
same here, on ubuntu and solus os, @tfcollins140 are you using the c++ project generator extension?

[2018-07-14 01:42] sean-mcmanus opened #2272 "0.17.7 regression -- "qualified name is not allowed" with LLVM vector header"
[code]
Gives incorrect "qualified name is not allowed -- detected during: -- instantiation of class \"std::__1::__is_constructible<<unnamed>, _Tp, _Args...> [with <unnamed>=false, _Tp=std::__1::allocator<st>, _Args=<>]\" at line 2072 of \"/usr/include/c++/v1/type_traits\" -- instantiation of class \"std::__1::__is_constructible_void_check<<unnamed>, _Tp, _Args...> [with <unnamed>=false, _Tp=std::_

[2018-07-14 01:59] sean-mcmanus commented on #2222
If you attach and check for it to break on ALL C++ and Win32 Exceptions (the default doens't have them all checked), you should at least get one break during shutdown, because we throw a terminate_threads to exit. Do you see any abnormal call stacks when you do this?

![image](https://user-images.githubusercontent.com/19859882/42719659-6db878e0-86ce-11e8-9259-e99b74b4e54c.png)

Otherwise, can you

[2018-07-14 10:12] lmapii commented on #756
i've installed the pre-release and set up the workspace again, i'll see what happens, thanks !

[2018-07-14 20:01] jlj-ee opened #2273 "Control gdb output to Debug Console"
Type: Debugger
- OS and Version: Windows 10.0. 4393 x64
- VS Code Version: 1.25.1
- C/C++ Extension Version: 0.17.6
- Using mingw-w64 8.1.0

Using a minimal example for a sample program:
[code]

It would be nice to have more control over what gdb messages are printed in the Debug Console.
``launch.json`` provides logging options for ``moduleLoad``, ``engineLogging``, ``trace``, ``exceptions``, ``p

[2018-07-15 03:59] ThadHouse opened #2274 "Which licence pertains to the source files"
In all the source files for the extension, the license header says to look in the project root for license information. Is the project root considered the root of the repo, or the root of the extension folder. The root of the repo is MIT, whereas the root of the extension is a custom Microsoft license with much more restrictions. Which ones applies to the source files for the extension?

Mainly I

[2018-07-15 22:07] d07RiV opened #2275 "IntelliSense for 32 bit pointers"
Type: LanguageService

Is there any way to use intellisense with 32-bit pointers? According to docs, `intelliSenseMode` can be `msvc-x64` or `clang-x64`, and both of these show `sizeof(void*)` as 8, which is not appropriate for my project.

[2018-07-16 01:10] DianaNites commented on #2048
Would like to chime in here that i have conceptually the same issue. I was just about to make my own issue on this, actually.

I'm using GDB to debug my C++, and my project also has assembly files compiled with GDB debug information. The ability to set breakpoints in my asm files would be helpful.

The same workaround of changing the file association to C/C++ also allows debugging and breakpoints

[2018-07-16 01:53] DianaNites commented on #2048
This actually can be solved with the `debug.allowBreakpointsEverywhere` setting, apparently added in Microsoft/vscode#13507

[2018-07-16 03:17] WongBean commented on #2232
I use the version of LLVM is 6.0.0, when I enter .vscode\extensions\ms-vscode.cpptools-0.17.6\LLVM\bin, add input clang-format.exe --version in the windows cmd, then it crash

[2018-07-16 05:04] ytimenkov commented on #1461
I haven't observed this crash recently (don't even remember which boost header I opened).

[2018-07-16 05:45] maane018 opened #2276 "(MacOS High Sierra) ERROR: Unable to start debugging. Unexpected LLDB output from command "-exec-run". Command 'exec-run'. Invalid process during debug session"
Type: Debugger
OS: MacOS
Version: 10.13.6
Debugger: LLDB

launch.json:
[code]

Logs:
[code]

Folder Structure:
![screen shot 2018-07-16 at 11 14 27 am](https://user-images.githubusercontent.com/11513835/42744355-76a4cfc2-88e9-11e8-94d2-e82b253e5320.png)

[2018-07-16 06:00] ytimenkov commented on #2260
@sean-mcmanus I've tried 0.17.7-insiders and I still get this ambiguity (please see minimal stand-alone snippet in my comment above).
As this code compiles by most of compilers there is something to be improved in the language server (I saw other bug where LS confuses values with references for C++17).

[2018-07-16 06:05] ytimenkov commented on #2260
@rollbear I don't think SFINAE in this case makes any difference:

In the first snippet `V` is `int` (sorry, Markdown are angle brackets as assumed they're html tag).

What SFINAE (`invoke_result_type`) tries to filter out is whether call to
`template <typename X, typename Y> lambdas::not_equal::operator()(const X& x, const Y& y) const -> decltype(x != y)` is valid.

With both `T` and `V` being in

[2018-07-16 06:43] rollbear commented on #2260
You're absolutely right that the SFINAE has nothing to do with it. My suspicion was wrong there. But that the conversion operator is templated does have something to do with it. Look at:

https://godbolt.org/g/4Xrcf8

You can choose a number of different compilers with the same result.

I'm asking C++ language lawyers why this is, but have so far not received any answers.

[2018-07-16 07:37] Sagexs opened #2277 "intellisense not working under Linux with ros"
I am using Ubuntu 16.04, visual code 1.25 with ajshort.ros and ms-vscode.cpptools extension

if I create an object of a class, the list of attributes and methods are completely confused. I get suggestions for methods of completely different classes see here
![lgg4n](https://user-images.githubusercontent.com/8236340/42747174-8ea5ec40-88db-11e8-8ea9-7f9cdabfd053.png)

[2018-07-16 08:31] Carter-1024 opened #2278 "includePath doesn't work"
Type: LanguageService
**Describe the bug**
- OS and Version:
Ubuntu 14.04
- VS Code Version:
1.25.1
- C/C++ Extension Version:
Version 0.17.6: July 2, 2018
- Other extensions you installed (and if the issue persists after disabling them):
- A clear and concise description of what the bug is.

When I include file like <linux/***>, it can't be loaded in even I have added it to c_cpp_properties.json

[2018-07-16 10:18] ShuminY opened #2279 "Question: how to build dynamic library on MacOS"
How could I use VS Code to build dynamic library file (on MacOS)? I have the cpp files and would like to build them into a dynamic library file (e.g. libxxx.so, or libxxx.dylib on MacOS). Thanks!

[2018-07-16 11:50] adrian-constantin opened #2280 "Wrong "problem in file" reported"
Type: LanguageService
**----- Input information below -----**
Looks like a problem with an extern object declaration that includes the class definition

**Describe the bug**
- OS and Version: Ubuntu 18.04 LTS
- VS Code Version: 1.25.1
- C/C++ Extension Version: 0.17.6
- Other extensions you installed (and if the issue persists after disabling them):
    C/C++ intelliSense 0.2.2
- A clear and conci

[2018-07-16 15:08] bobbrow commented on #2275
Not currently.  It is on our backlog to support additional IntelliSense modes.

[2018-07-16 15:09] bobbrow commented on #2232
@sean-mcmanus this might be the dll dependency issue.

[2018-07-16 15:12] bobbrow commented on #2277
Are there any problems listed in your problems window?  By default, our extension will use a less accurate form of IntelliSense if we are unable to resolve `#include` lines in your source files.

[2018-07-16 15:15] bobbrow commented on #2278
Please share your `c_cpp_properties.json` file.

[2018-07-16 15:15] Christian-Marx commented on #2248
Thanks for clarifying. I was able to override the `__cplusplus` value in "clang-x64" mode using the `defines` section. However, I still wanted to look a bit further into the approach of asking the built-in values from the compiler. I tried adding compiler switches to the `compilerPath` property directly. That didn't seem to work, so I tried to narrow the problem further down.

In order to rule out

[2018-07-16 15:45] bobbrow opened #2281 "Goto definition problem"
Type: LanguageService
Moved from #1163
@Flamefire said:

I have the same (or very similar) problem (cpptools + CMake tools):
- Open a CMake project & Configure with CMake tools
- Set `compileCommands` to the `compile_commands.json`
- Add `...foo/include` to `browse.path` (Shows up as `Folder: ...foo/include/ will be indexed`)

Results:
- Navigate to include file included with `#include <foo.hpp>`

[2018-07-16 15:45] bobbrow commented on #2281
@bobbrow said:

@Flamefire, can you provide a small example where this is the case?  Note: that if you're trying to do goto def on a symbol scoped by a namespace alias (and maybe also a typedef), this doesn't work currently.  [0.17.7-insiders](https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.7-insiders) has a fix for the namespace alias issue.

For example:
[code]

Many other GotoDe

[2018-07-16 15:46] bobbrow commented on #2281
@FlameFire said:

Not really, the code I'm using is not open source (yet) and I can't reduce this. I'll try to describe what I can:

Work dir: ~/git/project/subdir/
Build dir: ~/build/project
Compile command (from compile_commands.json): `"/usr/bin/g++-6  -DBOOST_VARIANT_DO_NOT_USE_VARIADIC_TEMPLATES -I~/git/project/subdir/component/.. -isystem ~/foo/include   -Wall -Wextra -Werror -O3 -DNDEBUG

[2018-07-16 15:46] bobbrow commented on #2281
@bobbrow said:

Things I can rule out:
* compile_commands.json does not currently affect goto definition.
* `#include` does not affect goto definition (unless the header lives outside of `${workspaceFolder}`). Symbols are found based on the value of `browse.path` (or `includePath` if `browse.path` is not present).

In the case where you added the new `#include` line, did you save the file before C

[2018-07-16 15:47] bobbrow commented on #2281
@FlameFire said:

The headers of class1/2 are outside the workspaceFolder if this matters.

Yes I did save. I also get the out "Checking for syntax errors" message for that file, but only, when I switch the editor tab to another file (and not yet back)

I'm pretty sure there is no GCC extension used. `gnu++11` is just the default from CMake (we should change that). But you are right with the `(Glo

[2018-07-16 15:47] bobbrow commented on #2281
@bobbrow said:

Headers outside the workspace are not parsed by default.  They will be parsed if you open them in the editor or another file includes them.

Ok, so now that we know there's a tag parser failure involved, you may be able to help us figure out the symbol that is causing the failure.  It's usually related to macros, but it doesn't have to be.  If you start from the top of class2's hea

[2018-07-16 15:47] bobbrow commented on #2281
@FlameFire said:

I have the feeling it is not parsed at all although it is included the the component.cpp. As I said: I replaced the whole contents of that header and it still failed to parse that. I'll try again on monday and wait longer than I did before but I doubt it will change anything. Other ideas? Is there debug output of the tag parser?
BTW: What do you mean with the DB icon?

[2018-07-16 15:47] bobbrow commented on #2281
@bobbrow said:

You can set `"C_Cpp.loggingLevel": "Debug"`, run the "Reset IntelliSense Database" command and then look in the Output window with the C/C++ filter applied.  You should see a bunch of "tag parsing file:" messages.  Search the output for your header.  As long as it is included by at least one file in the workspace, it should be parsed.

[2018-07-16 15:48] bobbrow commented on #2281
@FlameFire said:

Note: I had to restart VSC to have the log level have any effect. It seems I also had to explicitly use
[code]
However this did not help:
- I had reopened the folder and my symbols (including navigation) worked
- Navigation to include files broken: Not working at all or e.g. `#include <foobar/event.hpp>` jumped into a boost header that had a `event* classmember_` line. Looks like

[2018-07-16 15:48] bobbrow commented on #2281
@bobbrow said:

So the problem was fixed by reloading the window?

That's strange... GotoDef shouldn't be affected by that setting.

I'm going to move this to a new issue since the current issue is about something else.

[2018-07-16 16:04] Flamefire commented on #2281
Not sure if it was "fixed" or what exactly changed. I just had to reopen the window as I did close it on Friday. My guess is, that the tag parser took over and provided the symbols but I have nothing to really base that on.

Well it seems that the `Default` IntelliSense is broken in a way that affects the tag parser. Are you sure, that GoToDef is based ONLY on the tag parser? Anything else I can p

[2018-07-16 16:19] bobbrow commented on #2248
It's an interesting experiment, but I would strongly recommend against integrating this into your daily workflow.  If something is not working right with getting the information from your compiler, we'd like to understand the issue so we can fix it.  This is supposed to be as easy as adding `FOO=1` to the "defines" array in `c_cpp_properties.json`.  The documentation for `compilerPath` is [here](h

[2018-07-16 16:20] Flamefire commented on #2281
Sorry again, it seems to have been a mistake on my side although I could not find much documentation related to this: `${workspaceFolder}` must be in `browse.path` for this to work. I removed it and run into the same issue again.

However the inconsistency in the database could be considered a bug: Half of the stuff was working, the other stuff was not (probably everything after removing the `brow

[2018-07-16 16:24] bobbrow commented on #2281
For files not included by `browse.path` we remove symbols from those files from your DB when those files are closed so as not to pollute your workspace's DB.  Is that what's happening?

[2018-07-16 17:52] pieandcakes commented on #2276
@maane018 can you share how you compiled this and which version of the compiler you are using?
The error shows:  `1: (741) <-1007-exec-run
1: (5253) ->1007^error,msg="Command 'exec-run'. Invalid process during debug session"`.

Also do you have python 2.7 installed? I'm showing this error from lldb also:
[code]

[2018-07-16 18:28] Flamefire commented on #2281
Not exactly. To summarize what I experienced:
- component.cpp is in `workspaceFolder` but not in `browse.path`, it includes `class1.hpp` and `class2.hpp`
- class1/2.hpp are in `browse.path` (and even in the same folder)
- GoToDef was working in component.cpp to (probably) all local symbols and to class2.hpp but not to class1.hpp
- Adding additional includes to component.cpp made GoToDef for header

[2018-07-16 19:11] sean-mcmanus commented on #2274
The MIT license at the root applies to all the stuff under the root (i.e. the GitHub open source typescript code). The license under the extension folder isn't intended to be applied to the contents under the Extension folder on GitHub; instead, it's what gets packaged in the .vsix that gets shipped to end users (i.e. the non-open source binaries and compiled javascript) -- this is the same end us

[2018-07-16 19:17] sean-mcmanus commented on #2232
Yeah, it's probably https://github.com/Microsoft/vscode-cpptools/issues/2255 -- vc++ 2015 redist DLLs are missing. A workaround would be to download the matching LLVM install for your OS at http://releases.llvm.org/download.html , and then set the C_Cpp.clang_format_path to point to the binary.

[2018-07-16 19:31] sean-mcmanus commented on #2278
Adding `<parentPath>/linux` to the c_cpp_properties.json isn't correct (`<linux>` won't be found) -- you should add `<parentPath>` or `<parentPath>/**` (if you need subpaths to also be added).

[2018-07-16 19:49] sean-mcmanus commented on #2279
Are you able to build a dynamic library from the command line? You need to first figure out how to build from the command line and then you can use that command line in VS Code via a build task: https://code.visualstudio.com/Docs/editor/tasks .

[2018-07-16 20:43] sean-mcmanus opened #2282 "IntelliSense stops working on a header file after the #include is removed from the source file"
1. Have a cpp file #include a header file.
2. Verify the header file has intellisense (e.g. hover over 0 shows (int)0).
3. Remove the #include in the source file.

Bug: The header loses intellisense instead of falling back to header only intellisense. Reloading the extension fixes the issue.

[2018-07-16 20:51] sean-mcmanus commented on #2280
What is the definition of MainLoop?

I used
[code]

What compilerPath is being used? I'm not able to repro this so far with gcc or clang compilerPath on Linux.

![image](https://user-images.githubusercontent.com/19859882/42782905-2222f0ee-88ff-11e8-9580-b6df1a859338.png)

[2018-07-16 22:22] bobbrow commented on #2281
Did you save the file before doing GotoDef in this case?  The browse DB is not continuously updated as you type.  You must save component.cpp first.

I'm not following... I thought there was only a problem with class1.hpp. (though earlier in the thread it was class2 that had problems - are you having issues with both files or did the names just get swapped for this example?)

I just looked at the

[2018-07-17 01:40] Carter-1024 commented on #2278
[code]

in cpp source file, I add just like #include <linux/kthread.h>.
kthread.h located at /home/xx/xx/xx/kernel/msm-4.9/include/linux/, but file can't be open show in vs code.

I have tried two path
                "/home/xx/xx/xx/kernel/msm-4.9/**",
or
                "/home/xx/xx/xx/kernel/msm-4.9/include/**",

can't work

[2018-07-17 01:48] TuringChenChao commented on #763
Dear @pieandcakes,
         I meet a problem that I can not stop target when debug Xtensa MCU on VSCode. From the below logs, it seems xt-gdb didn't receive ctrl-c SINGAL.

[code]

But all the sequence can run successfully on the terminal as below:

[code]

So, I think it is not caused by xt-gdb's MI mode. Could you help me fix this issue or tell me how to do more test?

Thank you!

[2018-07-17 02:06] sean-mcmanus commented on #2278
Can you try doing a "Reset IntelliSense Database" command (in case the database has some invalid data used for recursive incluedes)?

When you set the C_Cpp.loggingLevel to debug and view the C/C++ section in the Output window, and then Reload Window, and open a .cpp file, you can view the "sending compilation args for" which shows which include paths we're actually using -- are we missing the msm

[2018-07-17 02:18] sean-mcmanus commented on #2255
Duplicate of https://github.com/Microsoft/vscode-cpptools/issues/2232 .

[2018-07-17 02:18] #2255 closed, assigned to nobody

[2018-07-17 03:02] ShuminY commented on #2279
thank you.

[2018-07-17 03:02] #2279 closed, assigned to nobody

[2018-07-17 03:10] sean-mcmanus commented on #2232
If you uninstall the extension, close/reopen VS Code (because VS Code caches it), and then reinstall the extension you should get the correct clang-format dependencies (you should see 2 dlls next to the clang-format.exe at `C:\Users\<user>\.vscode\extensions\ms-vscode.cpptools-0.17.6\LLVM\bin`). I only tested on Win10 though, so it's possible there's some additional Win7 dependency so let us know

[2018-07-17 04:25] Carter-1024 commented on #2278
Sorry, that may be my mistake.
It works after I moved c_cpp_properties.json to the git folder not the workspace folder.
thank you for your help.

[2018-07-17 04:25] #2278 closed, assigned to nobody

[2018-07-17 05:51] maane018 commented on #2276
Hi @pieandcakes
Here is my tasks.json
[code]

<img width="713" alt="screen shot 2018-07-17 at 11 02 37 am" src="https://user-images.githubusercontent.com/11513835/42798324-f2381366-89b0-11e8-8de2-05c4d8dfd557.png">
Code is running perfectly.

But when I am trying to debug the program using breakpoints:
<img width="313" alt="screen shot 2018-07-17 at 11 03 17 am" src="https://user-images.githubuser

[2018-07-17 07:53] Flamefire commented on #2281
Yes, You mentioned that earlier, so I made sure of that

Yes, sorry switched the names as they are made up anyway. Essence: Only one was working

Yes, that fixes it. And I do have a repro now once I identified the problem: [vscodeTest.zip](https://github.com/Microsoft/vscode-cpptools/files/2200657/vscodeTest.zip)

The unexpected part: This is related to the `compileCommands`!

- Extract, `cd build

[2018-07-17 09:23] koutheir commented on #1083
Without fixing this issue, working in VSCode with cross device projects is not an option, as devices usually have different operating systems and architecture than the development computer. So VSCode for embedded programming? nope...

[2018-07-17 09:42] koutheir commented on #1083
For the moment, I found an ugly hack to work around the issue of hard-coded preprocessor defines.

I created a file `vscode-fake.h` whose contents is something like the following:
[code]

Then I added the following to the `c_cpp_properties.json` file:
[code]

Of course `vscode-fake.h` is not actually included by the sources files when building. It is only there to correct the wrong assumptions of

[2018-07-17 09:46] koutheir commented on #1083
**Could someone list all hard-coded preprocessor defines in VSCode?** This would enable a complete specification of the `vscode-fake.h` file previously mentioned.

[2018-07-17 12:02] hcnhcn012 opened #2283 "Failed to 'continue' nginx debug through gdb attach in vscode while terminal gdb is fine"
Type: Debugger
gdb       (attach)

**Describe the bug**
- OS and Version: Arch Linux with `kernel 4.17.5-1-ARCH`
- VS Code Version: `1.25.1`
- C/C++ Extension Version: `0.17.6`
- Other extensions you installed (and if the issue persists after disabling them): `C++ intellisence`

**Problem description**
When I debug a `nginx` module, it runs find in terminal gdb but it seems not going well on vs co

[2018-07-17 12:17] adrian-constantin commented on #2280
Sorry, now I can not reproduce the issue either.

I just kept working on my project and I no longer have the exact sources I had when I saw the problem. I also tried to re-create a minimal example, but it works properly with no issue. At the time, I thought any declaration of the form extern class Name { ... } varName; would trigger the error.

So for lack of more info I guess this issue can be cl

[2018-07-17 12:17] #2280 closed, assigned to nobody

[2018-07-17 13:34] ytimenkov opened #2284 "Crash in intellisense_client_mapping::remove_client_reference"
Type: LanguageService

**Describe the bug**
- OS and Version: CensOS 7 x64
- VS Code Version:Version: 1.25.1
- C/C++ Extension Version:0.17.7-insiders

I've got a crash dump (once, I think I was closing editors):
[code]

[2018-07-17 15:36] Sagexs commented on #2277
you were completely right. In a minimal example (with only one ROS packet) the error does not occur.

Some headers of third party libraries could not be found in my project.
After adding all paths it works fine.

Thank you very much for your help and sorry that I didn't realize this myself!! This makes my daily work much easier.

[2018-07-17 15:36] #2277 closed, assigned to nobody

[2018-07-17 16:00] jdwieber commented on #2269
Ah, yes, you're correct. We use a script to beautify all our C++ repos that pipes output through clang-format as part of the process. --assume-filename won't work like this. Sigh, yes, that is my primary reason for opening this request.

[2018-07-17 16:53] bobbrow commented on #2281
Thanks for the repro project; that made my life much easier.  I'm going to debug this and try to get a fix out for the next release.

[2018-07-17 18:25] sean-mcmanus commented on #2280
Yeah, we have some bug related to some bogus errors disappearing after edits we should eventually investigate/fix.

[2018-07-17 18:32] sean-mcmanus commented on #2284
Yes, we're aware of this crash. It's possible it's been fixed with https://github.com/Microsoft/vscode-cpptools/releases/tag/v0.17.7-insiders . If not, we'll look into possibly fixing it later, but the hit count isn't particularly high.

[2018-07-17 20:36] pieandcakes commented on #2276
@WardenGnaw Can you repro this for us?

[2018-07-17 20:50] pieandcakes commented on #2276
@maane018

We had requests to support Python Visualizers in our lldb so it requires python to be installed. Unfortunately this is a compile time option and we don't have an option currently to install lldb without python.

[2018-07-17 20:50] sean-mcmanus commented on #1083
@koutheir Here's the list, but I noticed some of them are defined by the C++ language and some are internal to our compiler, so undefining them could break stuff, etc., so you should probably only undefine things you really know you don't want.
[code]

You can see the list via setting the compilerPath to "" and then invoking autocompletion in a file with no #include.

Also, it looks like undefinin

[2018-07-17 22:25] gilcolgate commented on #756
I on Ubuntu am having the same problem, adding "C_Cpp.intelliSenseEngine": "Tag Parser",
     fixes the issue for me

[2018-07-17 23:28] pieandcakes commented on #2283
@hcnhcn012 Please enable `"logging": { "engineLogging": true" }"` and rerun with trying to continue and send the log.

[2018-07-17 23:33] pieandcakes commented on #2273
@jlj-ee It can go either place. The work will be in MIEngine.

So I understand, you want a setting to disable gdb's diagnostic messages, correct?

[2018-07-18 00:19] phypy opened #2285 "[gdb] [windows] unknown target exception 0x4000001f at 0x40163e"
Type: Debugger
**Input information below**
Hi, i start an easy test program(C lauguage), then i start debug by F5,then i get an exception at debug console :
gdb: unknown target exception 0x4000001f at 0x40163e
Thread 1 received signal ?, Unknown signal.
0x0009df88 in ?? ().

other info:
GNU:x86_64-8.1.0-release-posix-seh-rt_v6-rev0,
debugger:gdb.

VS Code version: Code 1.25.1 (1dfc5e5, 2018-07-11T

[2018-07-18 01:06] abrachet opened #2286 "Weirdly Displaying Enum Definitions"
Type: LanguageService
**----- Input information below -----**

**Please review existing issues and our documentation at https://github.com/Microsoft/vscode-cpptools/tree/master/Documentation prior to filing an issue.**

**Describe the bug**
- OS and Version: MacOSx
- VS Code Version: 1.25
- C/C++ Extension Version: 0.17.6

Hovering over enum's will sometimes show the incorrect enumerator.

**To Re

[2018-07-18 03:12] sean-mcmanus commented on #2286
This issue repros with VS 2017 too (unlikely to get fixed by them, due to the large number of more severe bugs on their plate).

[2018-07-18 03:14] hcnhcn012 commented on #2283
@pieandcakes [engineLog.txt](https://github.com/Microsoft/vscode-cpptools/files/2204208/engineLog.txt)
Here it is :)

[2018-07-18 03:30] sean-mcmanus commented on #2077
Changing the c_cpp_properties.json while the red flame is showing can repro this 100% (as long as the processing isn't too fast).

[2018-07-18 06:04] maane018 commented on #2276
@pieandcakes Okay. I will try it again, by changing the python version.
There are actually 2 errors during debugging.
One is sometimes it fails to debug also ( which is I think is due to the Python libraries ) and second, it fails to get input from terminal.
Do you have any idea why it fails to get input?

[2018-07-18 07:56] decimad commented on #2222
This is the crash stack: (reminder to me to open an issue that c++ exceptions are off by default)

[code]

[2018-07-18 08:04] decimad commented on #2222
0.17.7 insiders does not fix this.

[2018-07-18 10:35] koutheir commented on #1083
Yeah, this is really an ugly hack. It has to be fixed correctly for VSCode to make sense for embedded and cross-platform development.

[2018-07-18 11:21] lmapii commented on #756
tried the 'Tag Parser' option before too, no luck there. but the current insider release (0.17.7) is mostly working fine so far

[2018-07-18 14:45] jlj-ee commented on #2273
@pieandcakes Yes, that is correct. My experience has been that some of the gdb diagnostic messages are able to be filtered by the logging options available in ``launch.json``, but I was hoping for a way to disable all of them and only see the program output.

[2018-07-18 15:23] bobbrow commented on #2281
Fix will be in 0.17.7

[2018-07-18 18:43] sean-mcmanus commented on #2222
This same issue was reported in https://github.com/Microsoft/vscode-cpptools/issues/627 (April 2017) and https://github.com/Microsoft/vscode-cpptools/issues/2117 , but we weren't able to find a resolution. The exception thrown at this location is actually "by design" (thrown in the source code for control flow) -- it is not an unhandled exception -- you can right click on the C++ Exceptions node a

[2018-07-18 19:16] aaronryden commented on #273
very slow in a medium sized javascript project. the worst part is that it may never find the definition and the progress bar never stops meaning some process is likely pegged at 100% cpu

[2018-07-18 19:29] sean-mcmanus commented on #273
@aaronryden Our extension only handles Go to Definition for C/C++ files and not javascript files (which are handled by VS Code itself: https://github.com/Microsoft/vscode/issues). Are you experiencing problems with C/C++ files?

[2018-07-18 19:31] aaronryden commented on #273
sorry, google search fail. please feel free to delete my comment!

[2018-07-18 19:41] mmatrosov commented on #1800
I have the same problem under Windows 10, I use GDB from MinGW-x64. Are there any better solutions for this case?

[2018-07-18 19:53] mmatrosov opened #2287 "How to prevent console window from closing when I Start Without Debugging?"
**Describe the bug**
- OS and Version: Windows 10
- VS Code Version: 1.25.1
- C/C++ Extension Version: 0.17.6
- Other extensions you installed (and if the issue persists after disabling them): not relevant
- A clear and concise description of what the bug is.

**To Reproduce**
`tasks.json`:
[code]

    C:\>g++ --version
    g++ (x86_64-posix-seh-rev0, Built by MinGW-W64 project) 8.1.0

Steps to re

[2018-07-18 20:13] pieandcakes commented on #2287
@mmatrosov There currently isn't a way to keep the window open except to set a breakpoint at the end of main() and then inspect the data.

We haven't implemented having output in the VSCode output window yet.

[2018-07-18 20:15] pieandcakes commented on #2285
Which flavor of gdb 8.1 are you using are you using? There is an issue with 64bit gdb 8.1 of MinGW that crashes and unfortunately the only fix I've heard is to either use 32bit gdb 8.1 or to roll back to a previous version.

[2018-07-18 23:54] sean-mcmanus commented on #1092
This was fixed starting with 0.15.0 in February, 2018.

[2018-07-18 23:54] #1092 closed, assigned to nobody

[2018-07-19 01:34] TuringChenChao commented on #763
Dear @pieandcakes,
      Add more information:
      If I add "catch signal SIGTRAP" command in "setupCommands", the F11 is working. But F6 is still not working.
Regards,
Turing

[2018-07-19 01:46] daltonhildreth commented on #15
It's been over two years since this issue opened, does this have any sort of priority or ETA? It's not even on the backlog of your milestones.

This feature's presence in other language extensions, the number of thumbs on this issue, and the frequency of duplicate issues highly suggests the demand for fixing this issue -- thus the need for a higher priority than has been given to it. Is there a co

[2018-07-19 02:10] sean-mcmanus commented on #15
@fiblit The feature requires multi-translation unit IntelliSense, which requires a lot of infrastructure work (it's implemented in Visual Studio 2017, but the component hasn't been ported). We may start on the infrastructure work soon, and that work also includes improving our multithreaded processing so IntelliSense operations don't block all other threads. We are aware that is one of the most de

[2018-07-19 02:25] jomiller commented on #808
I forked that extension into a new repo: https://github.com/jomiller/vscode-rtags. I cleaned it up and added some functionality, but it still needs some work.

[2018-07-19 05:28] nevion commented on #15
@sean-mcmanus I can understand that the feature requires some good deal of work to get done.

Can you provide some details on why the VS component in 2017 hasn't or won't be ported?  From the outside observer there's alot of shared underlying technologies and provided that on marketplace some extensions cover both, I am interested in hearing some of the deeper details technical or otherwise.

Also

[2018-07-19 05:47] artisdom commented on #808
@jomiller If you're interested in rtags, then you may also want to check out [cquery](https://github.com/cquery-project/cquery), cheers.

[2018-07-19 08:00] mhalber commented on #627
Hi, I ended up having to switch laptops, and the c/c++ extension works as expected on a new machine.
It is highly likely that @sean-mcmanus was right, and issue was on my side.

[2018-07-19 09:48] decimad commented on #2222
So I'm only seeing the NoViableAltException and then finally a
[code]
Then the language server exits with -1073740777 (0xc0000417)

Since the exit code changed now, I assume there were some changes for the insiders preview of the extension?

I do see that around or after the time of the rethrow at 0x0 our "custom" gcc compiler is loaded, presumably to query system includes and standard defines.

[2018-07-19 12:46] jomiller commented on #808
@artisdom, I was using cquery before switching to RTags. In fact, I modelled the interface of my RTags extension on the cquery extension. I find that cquery has a better feature set than RTags, but has some major drawbacks:

- cquery consumes too much memory on a huge codebase.
- Because the server is launched by VS Code, cquery has to reload from scratch every time VS Code is started.
- cquery do

[2018-07-19 13:45] DemoCrazer opened #2290 "How can I use Unix headers of WSL?"
**Describe the bug**
- OS and Version: **Windows 10 Home 1803**
- VS Code Version: **1.25.1**
- C/C++ Extension Version: **0.17.6**

- A clear and concise description of what the bug is.
I want to include some Unix headers(<sys/socket.h>, <sys/types.h>, ...) to my C/C++ source file.
Is it possible in VS Code? I'm using **bash** for integrated terminal but I couldn't figure out how to call Unix hea

[2018-07-19 15:58] bobbrow commented on #2290
Have you seen [this documentation](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/LanguageServer/Windows%20Subsystem%20for%20Linux.md)?

[2018-07-19 17:36] sherryyshi opened #2291 "Increase ProvideConfigurations timeout to 2 seconds."
Type: LanguageService
**----- Input information below -----**
Today, CustomConfigurationProviders have 1 second to return the configs. Can we increase this to 2 seconds?

[2018-07-19 17:42] sherryyshi opened #2292 "Add a setting to turn off config provider notifications"
Type: LanguageService
**----- Input information below -----**

Can we have a setting to disable the "<config provider> cannot provide configurations for <file>. <default config> will be used instead" messages? They are creating a lot of noise, and popping up in scenarios where they shouldn't be (e.g. when ProvideConfigurations times out, but the configurations are returned eventually).

[2018-07-19 17:54] pieandcakes commented on #2283
Your log shows me:
[code]
which tells me that gdb thinks your breakpoint is bound to an address of `0x0000000000000166` but then when we try and start running after attach, we get:

[code]

This is the message we are showing you because for some reason gdb is telling us the breakpoint is invalid, even though it was the one that set it up. I think this must result in an exception from within gdb, w